[2020-09-16 11:58] Honzys opened #4576 "Target(s) of dvc repro as regular expression"
Hi,

would it be possible to add feature, that would enable providing target(s) for `dvc repro` as regular expression ?

Let's say we have stages `prepare_db_1` and `prepare_db_2`. If I want to reproduce `prepare_db_*` stages I would use command:
[code]

Before DVC 1.0.0 it was possible to use wildcards to match the stage files without the need to type them all by hand.

What do you think about th

[2020-09-16 13:42] skshetry commented on #3700
@michael-ford, I am a bit conflicted about it, and unsure about what stage name even means or _should_ mean. We disallowed stage name to not contain periods because most of the files for the DVC tracked dependencies and outputs will have one and might conflict during some operations (eg: `push/pull/fetch/checkout`; there's already a conflict if the files don't have any extensions).

Therefore, we

[2020-09-16 13:42] skshetry commented on #3700
Reopening for further discussions.

[2020-09-16 19:08] jorgeorpinel commented on #4330
Hi. Will it also auto-stage dvc.yaml/lock files created by `dvc run`?

[2020-09-16 19:37] bobertlo commented on #4330
@jorgeorpinel Yes, the PR adds code in the scm_context hook that displays the little message about changed files. Instead of warning you to stage them it stages them for you.

[2020-09-16 23:06] xkortex commented on #4493
Hey, sorry about the delay, work stuffs.

[code]

[2020-09-16 23:13] xkortex commented on #4493
Hey, sorry about the delay, work stuffs. Didn't mean to close the issue, my keyboard glitched and hit "Close with comment" when typing this reply!

 `curl dvc.company.com`
[code]

HEAD
[code]

`curl --head -L dvc.company.com`
[code]

I'm not sure if 200 is the correct response after a successful 3XX redirect but that seems reasonable since the landing page resolves.

Could we, as a primitive sanit

[2020-09-17 00:40] shcheklein opened #4577 "Provide interoperability for JS, Java"
As we came close to implementing our first official plugin for VS Code we need to find a way to call Python from JS code.

Repeating an excellent summary by @hediet:

**Option 1:** It builds the data and modifies the files itself (everything in JS)

_Contra:_ Would require to reimplement DVC in JS.

**Option 2:** It calls into DVC internal Python code
Either the VS Code extension ships the python

[2020-09-17 01:20] jorgeorpinel commented on #4577
Sounds like #4 is the superior choice. It's last contra can be avoided, I think:

The plugin can just send path strings to data files/dirs, and the underlying DVC process would be in charge of opening those files.

[2020-09-17 04:47] mgkwill opened #4578 "Preserve permissions of stored files"
The goal of this feature would be to preserve permission of files added to dvc. In our particular use-case it is useful to add a directory of scripts, binaries and config to dvc. When we pull those files or get them, they have lost original permissions requiring us to restore permission manually or with something like acl.

This feature would add a new attribute in the .dvc file.
eg: filemode
Or s

[2020-09-17 04:58] skshetry commented on #4578
@mgkwill, it might be tricky for a file inside a DVC-tracked directory (we might need to add to `.dir` file meaning we'll have this information in two places). For a dvc-tracked file, it might be trivial to add the support.

[2020-09-17 05:10] shcheklein commented on #4578
not exactly related, but it might be a good opportunity to include file sizes finally into dir files?

[2020-09-17 05:46] skshetry commented on #4577
I think, eventually we will need to do all of the option above (except 2?). The plugin might need to understand ".dvc" and "dvc.yaml" files to provide better completion (eg: params completion) or some "hover" actions with plain JS.  The same could be said, for example, to show DAGs, file diffs, metrics/params diff.

For hefty tasks, it should just use the DVC command line, but it'll only provide h

[2020-09-17 14:51] gamis opened #4579 "Symlinks on Windows requires elevated permissions"
## Bug Report

On Windows, with a symlink cache type, `dvc checkout` and `dvc add` fail unless you're working from a shell with elevated permissions.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

### Steps to reproduce

From cmd.exe
[code]

Open cmd.exe as Administrator (elevated privledges)
[code]

[2020-09-17 17:14] fabiosantoscode commented on #4577
I'm OK with using JSON RPC. We open a high port on localhost, and talk to it. I don't know about windows, but on linux, this is incredibly efficient. And it has the potential for usage in any app that can talk HTTP.

I would also like plain old JSON and REST, which gives us a lot of options in terms of transport.

The comms overhead doesn't seem like a big issue to me. We can cross that bridge whe

[2020-09-17 17:44] hediet commented on #4577
This is not even required - you could use stdin/stdout as transport channel!

Also, JSON RPC is much simpler than REST. There is no content-encoding, method semantic, query parameter parsing, urls etc. involved. You just send some json object with a method, a body and a request id and get back some json object with a matching request id.

[2020-09-17 17:57] efiop commented on #4579
This is expected, our exe installer even adjusts the policy to allow non-admins to create symlinks. For other packages one needs to enable that by himself. That being said, we should at least provide a nicer error message with hints on how to resolve it.

[2020-09-17 18:01] shcheklein commented on #4579
@efiop @jorgeorpinel we should probably add this information here - https://dvc.org/doc/user-guide/running-dvc-on-windows ?

[2020-09-17 20:20] gamis commented on #4579
Thanks @efiop! The docs make it sound like the pip install and the exe are equivalent. I was using pip install, but I did have developer-mode enabled for windows, which should be enough to support symbolic links.

I just installed the exe, and it still didn't work.

I then did the steps mentioned in [that perforce page you referenced](https://community.perforce.com/s/article/3472#:~:text=Create%20

[2020-09-17 21:10] fabiosantoscode commented on #4577
Yup, that seems good as well!

Also, regarding helpers for DVC files, a [language server](https://microsoft.github.io/language-server-protocol/) can work on other editors as well (like vim with vim-ale). So it might be worth it to separate the two.

[2020-09-17 22:18] jorgeorpinel commented on #4577
I think RPC is def. more appropriate than REST in the case of `dvc` anyway, as we're talking about operations (e.g. all the commands) and not resources. The resources are all files and directories, so no need to pass them around via HTTP 🙂

[2020-09-17 22:50] raimannma commented on #1791
Auto-pull would be great, because we have large data sets and want them to be loaded into the CI only when needed.

Maybe just display a warning to avoid unexpected behaviour.

[2020-09-17 23:52] jorgeorpinel commented on #4572
@shcheklein please see #1786 about this. Thanks

[2020-09-18 01:14] pmrowla opened #4580 "diff: appears to hang for large directories"
Looks like diff may be trying to re-fetch dir cache for every file in the directory instead of only fetching dir cache once and then walking it.

discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/756269362482118656

`dvc diff -v` output for example-get-started
[code]

[2020-09-18 05:40] skshetry commented on #4577
Does VSCode provide any API to get what files changed in the repository? Or, maybe we could package "watchman" or something similar in the extension itself? This with `dvc daemon` might make it quite responsive.

[2020-09-18 06:15] pmrowla commented on #4577
I took a look at some of the existing VSCode source control extensions (git, hg, svn) and it looked to me like they all just wrap their respective source control CLI programs. Is it really necessary for us to maintain another API here?

[2020-09-18 06:23] jorgeorpinel commented on #4509
Alright, noted this in https://github.com/iterative/dvc.org/pull/1787/files#diff-8c9a2bb064543d6c885069e9eba8d2b8 @shcheklein

[2020-09-18 06:23] pmrowla commented on #4580
So this isn't as much of a bug as it is just a side effect of how we currently handle walking trees and getting hashes. Right now for this diff functionality we do
[code]

Since we have to fetch the file hashes individually, we eventually have to make a `_get_granular_checksum` call for each file in the dir, which means we also end up calling `get_dir_cache` for each file.

[2020-09-18 09:22] hediet commented on #4577
@pmrowla but [this](https://github.com/eamodio/vscode-gitlens/blob/6cfd9fdedd7c6ec3bfa732af7c418bbbecdfba54/src/git/git.ts) or [this](https://github.com/microsoft/vscode/blob/cca934db91ff8a4fa660710b5892c4014577fba9/extensions/git/src/git.ts#L1282) is not nice code to maintain - especially if you plan to support other IDEs in different programming languages later.

But of course it depends. If the

[2020-09-18 21:47] alexdmiller commented on #4559
I am having the same problem with `dvc plots show`:

[code]

The contents of `metrics.csv` is copied straight from the `plots show`documentation [here](https://dvc.org/doc/command-reference/plots/show):

[code]

[2020-09-19 00:23] jorgeorpinel commented on #4577
Maybe try an small MVP just wrapping DVC commands and move onto RPC if it's worth it.

[2020-09-19 00:28] jorgeorpinel commented on #4579
I think restarting (or just log off/on) after the installer finished would've been enough 🙂

![image](https://user-images.githubusercontent.com/1477535/93654776-f797c580-f9e4-11ea-8a31-d01b7df0b819.png)

![image](https://user-images.githubusercontent.com/1477535/93654791-15fdc100-f9e5-11ea-9f83-521b5e743ab2.png)

[2020-09-19 01:19] jorgeorpinel commented on #4579
Done @shcheklein, see https://github.com/iterative/dvc.org/pull/1787/files#diff-6aa3ffe5a17e4d3c23ac94dfa60d24ba

I updated the install doc as well to add a note to clarify about this, but is there a specific place where you see that the methods are equivalent, @gamis ? Thanks

[2020-09-19 01:32] shcheklein commented on #4559
@alexdmiller could you please clarify, does it happen in an empty repo, or it has some history? do you do `dvc run` before that or not?

[2020-09-19 09:18] charlesbaynham commented on #4527
The `push` entry in `outs` should be added for all outs, with the same meaning: that way you can tell just by looking at `outs` in a dvc file how the file will behave when you push / pull it, without imports having to be treated differently to normal files.

To keep backwards compatibility, dvc files without `push` entries should have default values of `push = False` for imports and `push = True`

[2020-09-19 09:24] charlesbaynham commented on #4527
So the plan of action is:

- [ ] Add `push` option to `outs` in dvc files with default setting dependant on the type of file
- [ ] Change `push` logic to remove custom logic for imports, replace with skipping push if `push == False`
- [ ] Change fetch logic to only update the import if `push == False`. Display error (warning?) if files aren't present in remote or in cache, just like for ordinary f

[2020-09-19 09:58] charlesbaynham commented on #4527
- [ ] Also, somewhere there needs to be a check for incompatible options in `outs` - if a dvc file has `cache: False` and `backup: True` in its `outs` section, that's impossible and should throw an error.

[2020-09-21 07:58] Suor commented on #4577
So my take on this.

**Accessing files directly**

This is ok with me if we talk about reading. Won't add much complexity to implementation since whatever you read from `dvc.yaml` you will get the same from rpc or whatever and your code needs to understand that.

So advantages:
- fast
- no need to implement any commands or handles mostly sending files as is

Things that I don't like here:
- need t

[2020-09-21 08:30] DavidGOrtega commented on #4577
I don't see the JSON RPC idea that good. Enforces you to install DVC as a service. Not sure also how it's going to operate with relative paths. Also one should have to write almost the same code than in the parser CLI parser since all the parameters has to be sent via RPC.

If we were definitely going towards rpc I would consider protobuf to alleviate this. But I don't think thats the case since t

[2020-09-21 08:59] #4330 closed

[2020-09-21 09:29] mhworth commented on #4534
I was able to get this working with a connection string like so:

[code]
I then used cstring in the remote modify command, e.g.

[code]

The quick test I was using to iterate on the connection string formatting
[code]

Everything almost worked except you don't quite support the SAS I was using because you try to check for blob existence, which requires account-level privileges, and I was using con

[2020-09-21 09:38] efiop commented on #4534
@mhworth Great catch! We've received a simiar comment from another user not long ago, we should definitely reconsider creating a bucket in azure, as it is not how we do things in all other remotes. We could totally consider removing that logic and requiring user to create the container themselves and if not - show a pretty error.

[2020-09-21 09:40] mhworth commented on #4534
@efiop No problem! I'll make a quick PR just to show one way to do it. What I did works fine for pushing/pulling and everything. One second and I'll write up a bit about it and send it along.

[2020-09-21 09:52] hediet commented on #4577
I don't understand this argument: The VS Code extension would instantiate and maintain the dvc process. DVC must be installed in a way that the extension can access it anyways.

You don't need to parse anything, merely JSON objects need to be converted into your target structure.

Either setting a cwd per request or just using normalized, absolute paths.
VS Code works with normalized URIs that are

[2020-09-21 10:03] mhworth commented on #4534
Here 'tis, won't hurt my feelings if you prefer a different route, just figured I'd share since it worked around my problem!

https://github.com/iterative/dvc/pull/4582

[2020-09-21 10:19] efiop commented on #4578
@mgkwill Do you mean simple user execution permission (like git) or something else as well?

[2020-09-21 10:22] efiop commented on #4578
@skshetry @shcheklein about sizes and metadata, there was an idea of having metadata stored separately from the regular cache files, so it is easier to manage ACL for it without giving access to the data contents. Just for the record.

[2020-09-21 11:06] efiop commented on #4545
Hi @aartaria ! Sorry for the delay. Dvc expects all cache files to have 0444 permissions, to be protected from corruption. That particular file was probably added by someone using an old (pre-1.0) dvc version. Could you try chmoding all cache files to 0444 and run your command again to see if it works?

[2020-09-21 13:23] popigg commented on #4560
similar error here on version 1.7.2 with azure-storage-blob.

dvc push
ERROR: failed to push data to the cloud - URL 'azure://***' is supported but requires these missing dependencies: ['azure-storage-blob']. If you have installed dvc using pip, choose one of these options to proceed:

    1) Install specific missing dependencies:
        pip install azure-storage-blob
    2) Install dvc package t

[2020-09-21 13:24] drorata commented on #3005
My 2cts: For someone used to S3 remotes, the GCP track is much more painful. It seems like using a GCP bucket is very different than one on S3.

[2020-09-21 13:26] efiop commented on #4560
@popigg Azure also requires dependencies. You could either `pip install 'dvc[azure]'` or `pip install 'dvc[all]'` to install with all dependencies for all remotes, as noted in that error message.

[2020-09-21 13:29] efiop commented on #4560
@popigg So you've installed them and you are still getting the same error? Check that you've installed it into the same environment. Could you show `$ dvc version` output, please? Note that it contains more info than just the version itself.

[2020-09-21 13:30] efiop commented on #4494
Closing as stale.

[2020-09-21 13:30] #4494 closed

[2020-09-21 13:41] efiop commented on #4576
@Honzys `dvc repro prepare_db_.*` this likely won't work, because your shell will try to evaluate the wildcard and will fail your whole command. So one would need to escape that or put into single-quotes so that expression is passed to the dvc. So it will be a bit confusing :slightly_frowning_face:

I have a feeling that you are more concerned about the shell completion, rather than full blow rege

[2020-09-21 13:49] efiop commented on #4239
@karajan1001 Sorry for the delay. Correct, we are using dvc.yaml for pipelines and *.dvc for `dvc add/import/import-url`.

[2020-09-21 13:59] popigg commented on #4560
sorry for the trouble, restarting the computer make it working. Looks like installed dependencies weren't updated in the same terminal tab. Thanks
Nevertheless

DVC version: 1.7.2 (pip)
---------------------------------
Platform: Python 3.7.4 on Darwin-19.6.0-x86_64-i386-64bit
Supports: All remotes
Cache types: reflink, hardlink, symlink
Repo: dvc, git

[2020-09-21 14:14] Honzys commented on #4576
@efiop Yes, you are right. I was indeed more concerned about completion.

That feature would be nice :)! Thank you

[2020-09-21 14:18] efiop commented on #4576
Thanks for clarifying! :slightly_smiling_face:  Closing in favor of #3743

[2020-09-21 14:18] #4576 closed

[2020-09-21 14:19] efiop commented on #4560
Glad to hear it works now :slightly_smiling_face: Closing.

[2020-09-21 14:19] #4560 closed

[2020-09-21 15:17] yogi81 opened #4585 "dvc repro -e crashes when executed on detached head"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]
1.7.2
**Additional Information (if any):**
execute dvc repro -e on a detached HEAD you get an error that origin/HEAD was not found

Here is stack trace

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.
[code]

[2020-09-21 15:20] yogi81 opened #4586 "when executing: dvc repro --run-all set ENVIRONMENT_VARIABLE with current dvc workspace and pass it to the command executed by dvc run/repro"
when executing: dvc repro --run-all set ENVIRONMENT_VARIABLE with current dvc workspace and pass it to the command executed by dvc run/repro

This is needed to be able to execute parallel runs in docker like environment.

[2020-09-21 15:37] yogi81 opened #4587 "dvc exp show -T crashes with unknown Git revision <revision>, <tag name>"
## Bug Report

### Please provide information about your setup

when running dvc exp show -T, the program crashes

**Output of `dvc version`:**

[code]
1.7.2
**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.
[code]

[2020-09-21 15:41] yogi81 commented on #4587
This happens when some tag and experiment base commit have same git commit hash

[2020-09-21 16:00] DavidGOrtega commented on #4577
Could you please elaborate?

[code]

dvc has --json-output as a parameter to receive that, a json output.

[code]

Again this is very poor. Please, not to be compared with a parser generator. I would never do it this way.

I don't think is a time consuming task. Actually in my experience has been pretty fast for my needs.

At the end is a service or a daemon right? If not is a kind of magic I stil

[2020-09-21 16:19] hediet commented on #4577
In this case, if all commands understand `--json-output` and output their result as json, why would you need parser generators?

If using `--json-output`, this discussion is not needed. In my experience, parsing non-json output from CLI tools that are meant to be used by humans using grammars/regexs/... is fragile, as the output is designed to be read by humans, not by computers. Outputs for human

[2020-09-21 16:26] alexdmiller commented on #4559
@shcheklein here is the contents of my `dvc.yaml`:

[code]

Interestingly if I do `dvc plots show` without passing an argument, it does produce output. But I was under the impression I could specify a chart to output.

[2020-09-21 17:15] DavidGOrtega commented on #4577
How do you do RPC? dvc is going to run as a daemon or service listening for TCP connections, right? That sounds to me like a service or daemon and of course without any visible window.

How? it's not that trivial, take into account user permissions to restart services depending on the OS.

To properly generate the inputs if needed. I give a simple solution VS hand made input generation.

That does

[2020-09-21 17:23] #4507 closed

[2020-09-21 17:31] jorgeorpinel commented on #4527
Does `update` reset backup to false? What about re-importing (running `import` again but without `--backup`?

So if we're still having to differentiate .dvc files based on contents of `deps` (regular vs. import) for backward compatibility, doesn't that defeat the point of adding the field to all outs going fwd for consistency? I'm of the inclination that `backup` should only have an effect on impo

[2020-09-21 17:38] jorgeorpinel commented on #4527
Also, what about `outs` in `dvc.yaml` files? would those also always have the backup field? (This would affect docs BTW) — again, feels like a big change for a small use case.

[2020-09-21 17:55] charlesbaynham commented on #4527
@jorgeorpinel  I'll answer in the PR, I'm getting confused between here, the PR and the docs PR!

[2020-09-21 20:37] #4575 closed

[2020-09-21 20:48] efiop commented on #4575
@MatthieuBizien Just wanted to clarify that currently get_url for a dir will give you a url to a `.dir` cache file, that is a json file with a list of files in the directory with their corresponding hashes. That might not be what you are looking for though, but it should be easily adaptable. We are considering changing that behaviour to something more friendly (e.g. a list of files and their urls)

[2020-09-21 21:02] efiop commented on #4559
@pared Could you elaborate on what is going on and how to solve it?

[2020-09-22 04:16] jorgeorpinel commented on #4577
I don't see this @Suor. Most DVC commands combine and process info from command line, metafiles, and file system significantly, no? The "files" approach sounds like re-implementing DVC in JS to me.

^ That's contradicting. But if the argument is that the startup time is acceptable (not enough of a reason to implement RPC) then I agree.

But in general, it sounds like the main pro of CLI is to avoi

[2020-09-22 04:20] jorgeorpinel commented on #4577
Another matter to consider for either route is how will we keep the plugin version in sync with the core DVC version. DVC evolves rapidly and while in theory no minor changes should break things + efforts are made to keep backward compatibility, in reality it my happen that a DVC update breaks the plugin, an RPC endpoint, or the CLI middleware. Integration tests I guess? Which alternative makes it

[2020-09-22 04:43] shcheklein commented on #4577
Thanks everyone for the discussion! It looks like just regular `--show-json` CLI might be a good way to start. Just a few comments/questions:

@Suor if it's written with some introspection you don't need a separate API- it should be more or less auto-generated layer on top of the same API that we use for CLI

this doesn't sound like a big deal, but what I'm worried about here is that it might comp

[2020-09-22 08:15] pared commented on #4559
Seems like the repro script provided by me does not work anymore, here is fixed version:
[code]

So what is happening here is that if we uncomment the last dvc pull, there is no problem. So I think that we have some problem with opening the dvc-controlled plots file that is not in cache. Hope to handle it in #4446.

As to @alexdmiller issue, I will investigate.

[2020-09-22 08:38] pared commented on #4559
@alexdmiller would it be possible to post result of `dvc plots show metrics/plots.csv -v` here? I am unable to reproduce with following script:
[code]
NOTE that `plots.csv` containing the data mentioned in https://github.com/iterative/dvc/issues/4559#issuecomment-695100928  needs to be alongside the script for this example to work.

[2020-09-22 08:40] efiop commented on #4559
But without it you just don't have any cache in your `copy` repo, so dvc has nowhere to get the data from. Or am I missing something? It would be great if you could post tracebacks for the repro scripts you create.

[2020-09-22 08:47] pared commented on #4559
@efiop you are right, but shouldn't we in that case automatically stream the data from default remote?

[2020-09-22 08:58] Pseudomanifold opened #4589 "Homebrew `dvc` version is missing `invoke` dependency"
## Bug Report

Upon installing `dvc` on Mac OS X Catalina 10.15.6 (19G2021) using Homebrew, the `dvc push` command fails with the message:

[code]

This can be fixed by invoking (no pun intended) `pip3 install invoke` in the virtual environment used by `dcv`. More precisely, the following workaround **solves** the issue:

[code]

### Please provide information about your setup

**Output of `dvc ve

[2020-09-22 09:01] efiop commented on #4559
@pared Sure, that's what I was asking about a few posts above. Thanks for narrowing it down! :pray:

I don't think we've done streaming in metrics or plots yet, so it is not really a bug but a missing feature.

[2020-09-22 09:05] steffansluis commented on #4559
@efiop Just to clarify, I ran into this issue while following the [instructions to use CML with DVC](https://github.com/iterative/cml#using-cml-with-dvc). They seem to imply that when on a branch and comparing metrics to master, running `dvc pull` on the master branch is not needed, whereas the reproduction from @pared shows it is needed atm.

[2020-09-22 09:06] efiop commented on #4589
Hi @Pseudomanifold !

Could you please post a full log for `dvc push -v` with that problem? What remote are you using?

[2020-09-22 09:09] efiop commented on #4559
@steffansluis Could you point to a specific section, please? Sorry, might be missing something, but I do see `dvc pull --run-cache` in there.

[2020-09-22 09:18] steffansluis commented on #4559
@efiop That seems to only pull the cache for the current branch. When running this on CI, the example provided in the README failed and I had to modify it to the following to get it to work:
[code]

[2020-09-22 09:22] Pseudomanifold commented on #4589
Of course!

I am using an `SSH` remote. Here's the full output:

[code]

[2020-09-22 09:30] efiop commented on #4589
Thanks! So looks like we lost paramiko's dependency somewhere. We'll take a closer look today. Thanks for the feedback! :pray:

[2020-09-22 09:32] Pseudomanifold commented on #4589
You are welcome; thank you very much for the quick response and for the awesome documentation! Let me know if I should test anything else.

[2020-09-22 11:13] Suor commented on #4577
@shcheklein CLI returns text, no way it may be wrapped to return json. Not sure whether it is even returning text rather than printing it from random nested code. So we will need to add some intermediate level abstraction and then wrap it both with CLI and JSON. The CLI wrapping will be manual, JSON part might be more automatic.

Also, some of the functions might be completely different.

@jorgeor

[2020-09-22 12:10] prokotg opened #4593 "gdrive: failed to push data to the cloud - Expecting value: line 1 column 1 (char 0) with empty file"
## Bug Report

Hi there, this is actually my first ever `dvc push` and I have a lot of small files. Here's the result of push:

[code]
`.dvc/cache/d4/1d8cd98f00b204e9800998ecf8427e` is empty so it probably corresponds to some empty file. Nevertheless I would like to upload it.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-09-22 12:19] pared commented on #4446
So, starting this issue I made a mistake and wanted to start with moving and unifying collection for `plots/metrics/diff` into the SCM. It will be probably required at some point, thought its definitely not a good thing to start with.

So my plan is as follows:
- [ ] make `metrics` accept non metric files - https://github.com/iterative/dvc/pull/4590
- [ ] make `plots` accept non plots files
- [ ]

[2020-09-22 12:20] efiop commented on #4593
Related to https://github.com/iterative/dvc/issues/4507 . Looks like we didn't cover Inserts.

[2020-09-22 12:51] yogi81 opened #4594 "dvc repro -e does not work with files which are not tracked by git"
## Bug Report
dvc repro -e does not work if the change consists of files which are still not tracked by git (for example new class was created as part of the change)

Also adding the new file to cache with git add did not solve the issue.

In this case experiment starts but fails because the new file is then not found
### Please provide information about your setup

**Output of `dvc version`:**
1.

[2020-09-22 13:51] bobertlo opened #4595 "dvc repro: does not set proper folder permissions in runs cache"
## Bug Report

When setting up a shared development server, I have populated the cache and changed all the permissions properly according to the documentation, and set `config.shared` to `group`. Most operations on the cache work as intended, but running `dvc repro ...` as the secondary user resulted in an error. I can't remember specifically, but it was something like "operation not permitted" wi

[2020-09-22 15:25] efiop commented on #4406
Let's wait for https://github.com/iterative/dvc/pull/4469 until we do the research, so we don't waste our time on travis.

[2020-09-22 18:31] jorgeorpinel commented on #2599
Hi! Another thing I noticed here is that if the source repo has tracked data (e.g. .dvc file exists) but it hasn't been committed to Git, the import of that data fails. Again, this has to do with cloning the repo instead of just using the existing files already in the file system. Not sure if that would change with the hypothetical implementations discussed above.

It's probably not a big deal any

[2020-09-22 18:35] jorgeorpinel commented on #2599
BTW I'm still unable to import DVC-tracked data from a local file system path that is cached but hasn't been pushed to remote storage.

[code]

[2020-09-22 18:49] jorgeorpinel opened #4597 "fetch: don't re-download latest imports"
## ~~Bug~~ Report

Apparently imports are re-downloaded by `fetch/pull` (BTW this is undocumented, see iterative/dvc.org/issues/1792). I tested this and it seems even if you have the latest data in cache, the repo is cloned and the files are downloaded, overwriting the cached version. This seems unnecessary and could be an issue for large files/dirs. Shouldn't DVC be able to tell you already have

[2020-09-23 06:46] jorgeorpinel commented on #4519
Hello! Would #2095 address this? (slightly different solution). If so maybe we can merge the issues.

[2020-09-23 11:09] wdixon commented on #4519
#2095 seems to be about defining a configuration to override the bucket...  #4519 is about having the ability to define where shared caches, containing machine specific paths, might be associated with a given repo or set of repos.

My initial thought was based on bucket or bucket pattern... but based on the thread - having a name associated with DVC - and being able to provide global/system overri

[2020-09-23 15:06] skshetry commented on #3633
#### Jinja (as a file templating engine)
Similar to @tall-josh's implementation on #4463.

1. Considerably faster
2. We need to decode primitives again or YAML encode those values again (for an example, see [Saltstack](https://docs.saltstack.com/en/latest/topics/jinja/index.html)).
3. Better if we follow jinja-based syntax (i.e. provide filters and context around it). For example, look into [salts

[2020-09-23 15:41] jorgeorpinel commented on #4519
Right, so this is more about configuring the cache, and the remote was being proposed as a way to do that, but now we're thinking about adding a `core.name` config option instead. Got it.

[2020-09-23 16:18] MatthieuBizien commented on #4575
Hi @efiop, thanks for the fix! I'm aware we get the .dir cache files. I think this behavior is file, as it is coherent with what is done with a file. Maybe add another function, or an option to `dvc.api.get_url`, could implement that feature without breaking backward compatibility?

[2020-09-23 16:23] skshetry commented on #3633
I propose the syntax `${ var }` for interpolation, as many users will already be well familiar with the syntax and does not have problem like `{ var }` has in YAML.

We have to handle the conversions (to list/dict/bool/string/int/floats _et cetera_) ourselves as well.

#### Open Question
1. How to append to the list? Or, exclude certain elements off of it?

---

Regarding the imports of the variab

[2020-09-23 20:34] Erotemic opened #4604 "Local config user respected in "dvc pull" but not "dvc list""
## Bug Report

My computer username (joncrall) is different than my credentials that I use to access the dvc remote cache. In my local config I've modified the dvc remote to register my appropriate remote username (jon.crall).

Running:

[code]

I get:
[code]
 and then there is a big long `paramiko.ssh_exception.SSHException` that ultimately stems from the fact that it did not pick up my usename i

[2020-09-23 20:51] Erotemic commented on #4604
After diving into the source code, I think I found why this occurs. The `list` command, which corresponds with `dvc.repo.Repo.ls` is a static method and assumes that its not running within an existing repo. In the cli the `CmdList` object inherits from `CmdBaseNoRepo` whereas the pull command  `CmdDataPull` inherits from `CmdDataBase`, which seems to populate itself with information about the loca

[2020-09-23 21:33] gamis commented on #4579
If you click on "Get started" at the top of the home page, and then "Install" on the left, you get https://dvc.org/doc/install, which immediately give you pip install directions, and the buries the windows install in a link to an additional page. When I see a pip install, I often don't bother with anything else. On the [Windows Install page](https://dvc.org/doc/install/windows), it again highlight

[2020-09-23 21:44] DDR0 opened #4605 "Wheels don't build by default, printing many error messages."
## Bug Report
When running `pip install -e ".[all,tests]"`, according to [user-guide/contributing/core](https://dvc.org/doc/user-guide/contributing/core), an alarming number of error messages are printed, such as follows:

[code]

As per the time-honoured practise of Googling errors and clicking on the first Stack Overflow link, we arrive at https://stackoverflow.com/questions/34819221/why-is-pyth

[2020-09-23 22:00] #4595 closed

[2020-09-23 23:02] #4605 closed

[2020-09-23 23:51] jorgeorpinel commented on #4579
There's no `pip install` in https://dvc.org/doc/install 🙂 just a mention of pip down here:
![image](https://user-images.githubusercontent.com/1477535/94085087-c1838880-fdcc-11ea-84b7-96f6e5d5fb9b.png)
After the links to installation pages per platform.

But indeed the [Windows installation page](https://dvc.org/doc/install) doesn't feature the info about symlinks (just links to [the doc that has i

[2020-09-24 03:54] dmpetrov commented on #3633
@skshetry thank you for the deep investgation and all the insights you found 💎

It feels like we are getting closer to the final design. I just want to share a few comments and my personal preferences.

---

`args` is a bit too specific - the usage of the variables is wider than only args in `cmd`. I'd prefer `vars` or `params` over `args`. I'd prefer separate params (params file level abstraction

[2020-09-24 04:23] tall-josh commented on #3633
Looks like I have some catching up to do!

[2020-09-24 04:26] skshetry commented on #3633
:slightly_smiling_face:  I was reviewing your pull request. Thank you so much to help this move forward.

[2020-09-24 05:20] jorgeorpinel commented on #4579
I could also put the note about Windows (or link to Win tips doc) in the `config` doc where you would learn about using symlinks as cache.type.

[2020-09-24 07:20] pmrowla commented on #4585
To clarify, this will occur if the initial experiments clone happens while the parent repo is on a detached head, since `.git/refs/heads` in the clone will end up empty in this scenario. For the case where `.dvc/experiments` has already been cloned and then the parent workspace is switched to a detached head, experiments repro appears to work correctly for me.

[2020-09-24 08:19] pmrowla commented on #4594
@yogi81 can you try running this again but using the `-N/--intent-to-add` flag with `git add` and see if that allows you to run the experiment as expected?

[code]

This is kind of a known issue due to how we use `git diff` under the hood when generating experiment patches (`git diff` normally excludes untracked files).

[2020-09-24 08:50] pmrowla commented on #4587
Issue here is that we aren't accounting for case where brancher returns comma separated string containing both hexsha and branch/tag names

[2020-09-24 13:02] JenniferHem opened #4616 "Missing package paramiko error for ssh connection when installing via conda-forge and pip"
I wanted to use DVC to track files and push them via SSH to a remote repository. I am not sure if I misread the installation guide. I was assuming that installation via conda-forge would contain the ssh dependency as well.  However, when using DVC in my project and trying to push changes to a ssh remote I get the following error:

    ERROR: failed to push data to the cloud - URL {ssh:user@host/pa

[2020-09-24 13:30] efiop commented on #4616
@JenniferHem Could you show full log for ` pip install 'dvc[all]'`, please?

[2020-09-24 13:32] efiop commented on #4616
Not able to reproduce on linux, might be some windows-specific conflicts or something. Need to investigate.

[2020-09-24 13:34] efiop commented on #4616
Might be related to https://github.com/iterative/dvc/issues/4589 .

[2020-09-24 13:35] efiop commented on #4616
Also worth improving that error message, as we now know the package type and can choose an appropriate message.

[2020-09-24 13:54] gamis commented on #4579
Yeah, if the default is copy and you think that's going to be the typical use case, then maybe the best place to put this info would be in the config doc and in the warning-out-of-strategies message.

[2020-09-24 14:04] efiop commented on #4589
Ok, so looks like paramiko has recently added support for `Match` https://github.com/paramiko/paramiko/issues/717 , but it requires `invoke` extra dependency. Looks like we can simply require `paramiko[invoke]` by default, but I'm a bit worried about whether or not that option works well right now, but looks promising and looks like we just have to try it.

[2020-09-24 14:05] efiop commented on #4616
Ok, found the cause: https://github.com/iterative/dvc/issues/4589#issuecomment-698366656 . Working on a fix.

[2020-09-24 14:13] JenniferHem commented on #4616
Okay I did a clean install in a new repository and here is the log
Here is the full log: [log.txt](https://github.com/iterative/dvc/files/5276479/log.txt)

Interestingly now I got dvc version 1.7.5 before I only got 1.7.4 (after uninstalling dvc with conda and reinstalling with pip) --> It works now on a fresh install.

So this triggered a few tests:

1) If i create a repository with `conda create

[2020-09-24 14:16] efiop commented on #4589
@Pseudomanifold Btw, are you using `Match` in your ssh config?

[2020-09-24 14:17] efiop commented on #4616
@JenniferHem  Btw, are you using Match in your ssh config?

[2020-09-24 14:25] JenniferHem commented on #4616
@efiop no I am not using match

[2020-09-24 14:39] yogi81 commented on #4594
Unfortunately this did not help:
python test.py
hello world
a
(tensorflow) roman@romanbook:~/dvc_test$ dvc repro -e
What's next?
------------
- Check out the documentation: https://dvc.org/doc
- Get help and share ideas: https://dvc.org/chat
- Star us on GitHub: https://github.com/iterative/dvc
Running callback stage 'run' with command:
        bash -c "python test.py > res.txt" -o res.txt
Traceba

[2020-09-24 14:45] #4589 closed

[2020-09-24 14:45] #4616 closed

[2020-09-24 15:20] efiop commented on #4589
1.7.6 is out on pypi. Homebrew package will be released later today/tomorrow. Please give it a try and let us know how it goes :slightly_smiling_face: Thanks again for the feedback!

[2020-09-24 15:20] efiop commented on #4616
1.7.6 is out on pypi. Conda package will be released later today. Please give it a try and let us know how it goes slightly_smiling_face Thanks again for the feedback!

[2020-09-24 15:36] #4585 closed

[2020-09-24 19:27] efiop commented on #4559
Ok, this is extremely confusing. Looks like a lot of stuff got mixed up here and the repro script doesn't seem to be reproducing the original issue. I also don't see the traceback for the plots error in the discord channel. So let's start fresh, @steffansluis are you able to reproduce an error now with the newest dvc version? If so, could you show the verbose log for it, please?

[2020-09-24 19:34] efiop commented on #2599
@jorgeorpinel Please don't forget to post a command you are running and a verbose log. Otherwise it is too hard to reproduce when we get to it.

[2020-09-24 19:44] efiop commented on #4597
Looks like you are simply confused by the debug message itself https://github.com/iterative/dvc/blob/2f030e870bd84a152be20fca7d88d5af2cd3e025/dvc/cache/base.py#L334 , which is shown even if cache is already populated, which is indicated by the "assuming" message below.

Git repos are cloned each time, yes, it is a known, e.g. https://github.com/iterative/dvc/issues/3496

[2020-09-24 19:48] #4587 closed

[2020-09-24 20:22] moinnadeem commented on #4325
I'm getting this issue; how would I enable the `core.hardlink_lock`?

[2020-09-24 20:24] efiop commented on #4325
@moinnadeem

[code]

:slightly_smiling_face:

[2020-09-24 20:26] shcheklein commented on #4325
@moinnadeem hi! just to clarify and make sure that this ticket is the right one- have you tried to remove the `.dvc/tmp/lock` file (first make sure that no DVC commands are running) first? Do you use NFS or Lustre or some other network/distributed file system?

[2020-09-24 20:33] moinnadeem commented on #4325
@shcheklein Yes, and yes! I'm on a networked filesystem that doesn't allow file-level locking either. Using hardlinking solved it!

I appreciate the quick response!

[2020-09-24 20:35] shcheklein commented on #4325
@moinnadeem perfect! :) thanks for clarifying.

[2020-09-24 22:31] Gabrielllopes opened #4618 "unexpected error import-url with ssh"
## Bug Report
Hello,
I was trying to import some data, that have been tracked by dvc, from my server with ssh and got the following error.
I got the data by scp just to be sure if everything is working and it is.

### Please provide information about your setup
both server and local on ubuntu 18.04 with DVC 1.7.8 on server and DVC 1.7.4 local

**Output of `dvc version`:1.7.8

[code]

[2020-09-24 22:40] efiop commented on #4618
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/758812810032578593

[2020-09-24 22:42] efiop commented on #4618
For the record, a less anonymised url looks like `ssh://user@1.2.3.4/home/data/teste/data/data.xml`

[2020-09-24 22:59] jorgeorpinel commented on #3936
Quick update: someone requested this on https://discord.com/channels/485586884165107732/485596304961962003/758695421526409227

[2020-09-24 23:27] #4618 closed

[2020-09-25 01:20] #4025 closed

[2020-09-25 01:46] bobertlo commented on #3945
Would the `--include-metrics/--exclude-metrics` and params syntax used in `experiments show` be appropriate to be used here?

Ah, I looked at the original issue and see `--select` was given as the flag. Would select still be preferred over include/exclude?

[2020-09-25 04:39] dmpetrov commented on #3475
It seems like the start time degraded again:
[code]

[2020-09-25 04:39] dmpetrov commented on #3475
@iterative/engineering should we prioritize this?

[2020-09-25 07:49] Pseudomanifold commented on #4589
Yes, in my local `.ssh/config` I have the following

[code]

I'll wait for for `1.7.6` to try this again.

[2020-09-25 14:03] efiop commented on #3475
@dmpetrov Not seeing the regression in https://iterative.github.io/dvc-bench/#startup.StartupBench.time_startup , nor able to reproduce.

I see that you are using a development version, which generates the version dynamically by calling git, which might be slower. Official packages don't do that, could you try one of those? E.g. pip.

[2020-09-25 14:58] grighi opened #4621 "Tabular view for multiple metrics"
`dvc metrics show -a` currently gives

[code]

which is much less useful to me than this

[code]

Ruslan requested that I make this feature request and noted: [metrics.py#L14](https://github.com/iterative/dvc/blob/c94ab359b6a447cab5afd44051a0f929c38b8820/dvc/command/metrics.py#L14), so we need to just orginize it into rows and pass to the table() helper, as we do it in diff [metrics.py#L104](https

[2020-09-25 15:05] #4395 closed

[2020-09-25 15:06] Suor commented on #3475
@efiop bench you linked show 500ms, which is also slower than 200ms we had after working on startup time again.

[2020-09-25 15:09] efiop commented on #4621
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/759036937813753887

[2020-09-25 16:42] yogi81 commented on #4594
@pmrowla

[2020-09-25 17:29] dmpetrov commented on #3475
@efiop yes, the dev version can be slower but not like half a second slower :) All the commands take more than 1 sec which is very slow. Another example:

[code]

[2020-09-25 21:20] efiop commented on #4589
@Pseudomanifold 1.7.9 is out https://github.com/Homebrew/homebrew-core/pull/61643 . Please give it a try :slightly_smiling_face:  Thank you!

[2020-09-25 22:14] indhupriya commented on #4621
@efiop @grighi Can I work on this issue?

[2020-09-25 22:24] shcheklein commented on #4468
Should we make some of them hacktoberfest tickets for the upcoming event?

[2020-09-25 23:17] efiop commented on #4621
@indhupriya Sure! Thank you so much for looking into it! :pray:

[2020-09-26 22:09] #4186 closed

[2020-09-27 10:56] karajan1001 commented on #829
@efiop There is a problem with it that if the new line was inserted on top of the file, or in the middle.

[2020-09-27 11:47] gsvolt commented on #4529
@shcheklein - may I work on this issue?

[2020-09-27 11:58] sotte commented on #829
There are methods that can deal with inserts at various positions. I mentioned this earlier:
https://github.com/iterative/dvc/issues/829#issuecomment-438705585

Most of the chunks/blocks of a file stay the same, only chunks/blocks that change are actually added. Many backup tools use similar methods.

[2020-09-27 17:19] #4093 closed

[2020-09-27 17:41] shcheklein commented on #4529
@gsvolt yes! absolutely, feel free to take it! thanks 🙏

[2020-09-28 01:55] pmrowla commented on #4594
As mentioned before, this is a known issue due to how we use `git diff` internally. In the meantime, if you need to make code changes which add entire new files, the suggested workaround would be to commit the code changes in git (you may want to consider using a temporary branch for this).

[2020-09-28 11:56] Pseudomanifold commented on #4589
Can confirm that everything works perfectly with OS X Catalina. Thank you very much for your efforts—this has been a super nice experience for me!

[2020-09-28 20:31] Gabrielllopes opened #4628 "ssh: error while import-url with special character"
## Bug Report
Problem while download files with special characters.

### Please provide information about your setup
[code]

**Error log :**

[code]

[2020-09-28 20:33] shcheklein commented on #4628
Context: https://discordapp.com/channels/485586884165107732/485596304961962003/760236253496213515

[2020-09-28 21:41] rgasper opened #4630 "BUG: JSON parsing error for `dvc metrics show`"
## Bug Report

I have a simple JSON of test metrics, in file `scores.json`:
[code]

I expect the key "notes" to fail, but the numeric keys should show up. However, they don't:
[code]
### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

Running `dvc metrics diff -v HEAD^1` simply produces the same set of errors twice.

In the s

[2020-09-28 22:19] shcheklein commented on #4630
Context: https://discordapp.com/channels/485586884165107732/485596304961962003/760249329637916682

[2020-09-28 23:32] jorgeorpinel commented on #2599
It works now (updated to 1.7.9). Will remember to post the command going fwd, sorry!

This is still the case, but again I suppose it's expected? Full log below:

<details>

[code]

</details>

[2020-09-28 23:34] jorgeorpinel commented on #4597
OK, just wanted to double check. Thanks

[2020-09-28 23:34] #4597 closed

[2020-09-29 03:09] skshetry commented on #4630
This is quite an interesting bug. We do support reading only partial values, but it seems we are not making a distinction between `None` and 0/0.0 (falsy values). :slightly_smiling_face:

https://github.com/iterative/dvc/blob/e3a7857b1352f1203504ed754482b9e308a48e2f/dvc/repo/metrics/show.py#L51

The fix is just to do `if m not in (None, {})` on that line.
Still, there seems to be another bug when

[2020-09-29 03:38] efiop opened #4633 "alibaba/oss: error when uploading empty files"
https://github.com/iterative/dvc/runs/1180001039?check_suite_focus=true
[code]

Potentially just a bug in https://github.com/iterative/oss-emulator .

[2020-09-29 05:46] jorgeorpinel commented on #4628
Probable cause: the path to the file is `/home/data/cana/ds30/cana-mucuna/class35_e2545053-f2c5-4108-9042-67244a94e267_p_['cana']_o_['cana', 'mucuna'].jpg` (includes combinations of special charactes like `[`, `'`, `]`, `,`, and ` `) which the file system supports via terminal as well as `ssh` and `scp`, but `paramiko` doesn't support it. See https://github.com/paramiko/paramiko/issues/583

[2020-09-29 09:28] peper0 opened #4634 "`dvc gc -w` breaks run cache for non-cached files"
## Bug Report

If we have output files with `cache: false` in the repository, running `gc clean` removes these files from the cache wile `dvc repro` wants to restore them through run cache. Using `--no-run-cache` option workarounds this problem. The script below shows exact way of reproducing the bug.

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-09-29 10:02] JordanSimba opened #4635 "Azure service principal authentication"
I want to be able to authenticate against my remote using service principal (service account) credentials. The motivation being that these carry some identity when transacting against the data in the cloud which is a necessity for my auditing solution for sensitive data.

[This](https://stackoverflow.com/questions/54324146/azure-datalake-with-dvc) is another individual after the same feature.
[Thi

[2020-09-29 10:19] nischaymehta09 commented on #4621
The flattened dictionary method can be used. Please let me know if the repo is open.

[2020-09-29 10:49] #4593 closed

[2020-09-29 11:00] skshetry opened #4636 "missing logs for stage cache"
Just noticed that there are no logs useful for debug/support in stage cache.

Discord Context: https://discord.com/channels/485586884165107732/485596304961962003/760411061110964244

[2020-09-29 11:08] skshetry opened #4637 "`dvc pull --run-cache` does not work if remote path is a relative path"
## Bug Report

`dvc push --run-cache` or plain `dvc push/pull` works though.
### Please provide information about your setup

**Additional Information (if any):**
[code]

#### Example Config
[code]

[2020-09-29 11:30] skshetry opened #4638 "Should we shift this log to `trace`?"
Just had to read a log of 100098 lines, out of which 100009 lines where those.
Only 89 lines had somewhat meaningful information.

[2020-09-29 11:32] efiop commented on #4638
@skshetry Sure, let's do that. :+1:

[2020-09-29 11:32] skshetry commented on #4638
Also, we need to set string repr for `CacheInfo`.

Should we also change these to `trace`?
[code]

[2020-09-29 11:38] efiop commented on #4638
@skshetry Sure, makes total sense! Please feel free to move to trace any messages that you see fit. :ok_hand:

[2020-09-29 12:47] rgasper commented on #4630
If you can direct me to instructions on how to setup the codebase, sure.

[2020-09-29 12:50] iakremnev opened #4639 "Tab completion fails in bash"
## Bug Report

When I try to tab-complete `dvc add [targets...]` command, it can fail in the following scenario:

1. multiple targets are specified
2. the first target contains path separator

Example:

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-09-29 13:22] efiop commented on #4639
Thanks for the report @iakremnev ! Transfering to shtab.

[2020-09-29 13:28] ChristophJud opened #4640 "Direct stage dependencies on other stages specifiable by the stages's name"
### TL;DR
Proposing the `-D <stage>` option in the `run` command to specify dependencies on other stages.

### One Possible Scenario
In order to reproduce results dependent on the whole software and OS environment, I'm executing my ML software in a Docker container. In this way, I can control not only the library versions of the used python packages but also the python version, the OS version, the

[2020-09-29 13:37] skshetry commented on #4630
Sure, @rgasper, please [follow the contributing guide](https://dvc.org/doc/user-guide/contributing/core). If you have any problems, please don't hesitate to ask in the #dev-talk channel in the Discord.

[2020-09-29 14:52] Erotemic commented on #3069
It might be interesting to use xxhash: https://cyan4973.github.io/xxHash/  https://pypi.org/project/xxhash/

which is quite a bit faster than md5.

As a reference, I have a file (https://github.com/Erotemic/ubelt/blob/master/ubelt/util_hash.py) that supports generalized hashing. I may take a stab at integrating xxhash in a future PR.

[2020-09-29 16:53] shcheklein commented on #4628
@jorgeorpinel looks like paramiko/paramiko#583 is about `exec_command` is it still relevant in this case?

(I'm asking mostly to see if we need to create a ticket on the paramiko side in advance if we are sure this paramiko's issue- it takes time to resolve them)

[2020-09-29 20:26] jorgeorpinel commented on #4628
It's a good question. I'm not sure if that issue is exactly appropriate. I guess we could open a new one and see what they maintainers say. I commented on that one for now: https://github.com/paramiko/paramiko/issues/583#issuecomment-700967071

[2020-09-29 20:43] shcheklein commented on #4628
Yep, thanks @jorgeorpinel. It looks like related indeed. I'm still curious though what is the right solution - expect Paramiko to escape things, or expect Paramiko to be a think layer that doesn't alter what you pass into it - and it's our responsibility to escape the command, path, etc.

[2020-09-29 21:19] rgasper commented on #4630
@skshetry , @shcheklein , please see the open PR

[2020-09-29 23:37] shcheklein commented on #4640
Discord context: https://discordapp.com/channels/485586884165107732/563406153334128681/760468302857895997

@ChristophJud I'm curious if this one:

can be a workaround for this?

[2020-09-30 00:56] efiop commented on #4635
@JordanSimba Live credentials complicate and slow down the testing, so if we could at least have a unit test + a by-hand verification from an actual user (you) - we would be happy to accept the PR.

[2020-09-30 01:02] #4327 closed

[2020-09-30 01:53] #4630 closed

[2020-09-30 04:32] skshetry commented on #3700
Closing due to inactivity. @michael-ford, please feel free to reopen anytime.

[2020-09-30 04:32] #3700 closed

[2020-09-30 06:25] ChristophJud commented on #4640
https://discord.com/channels/485586884165107732/563406153334128681/760748507060895815

I think, that would be an option. However, as discussed above, dvc would not be able to figure out if the docker image has changed. in the docker scenario, there is docker image inspect which allows you to gather detailed information about your container. e.g. a timestamp. Maybe, in addition to the proposed opti

[2020-09-30 06:28] ChristophJud commented on #4640
I've just realized that actually, the stage would not matter anymore. It would just be: `-D <command>` where dvc gathers the stdout and compares it to the stdout of the last execution of `command` e.g. with the md5 hash of the output or so.

[2020-09-30 06:45] shcheklein commented on #4640
I think this is very closely related to the https://github.com/iterative/dvc/pull/4363 , https://github.com/iterative/dvc/issues/3439 (I recommend reading it from the bottom : ) )

[2020-09-30 10:52] geblanco commented on #4552
Hello @efiop,

This is a friendly ping, how is this going? The error persist in the latest releases.

Best,

[2020-09-30 16:32] yogi81 opened #4649 "Enable dvc fetching of experiments cache data"
dvc version 1.7.9

Currently something is not working here:

I have pulled all of commits with git fetch in main git repository.
Also I defined a remote of .dvc/experiments repository a remote .dvc/experiments repository and did a git fetch there

I have created all of the branches from remote .dvc/experiments repository in local .dvc/experiments repository

I did also dvc fetch --run-cache

dvc e

[2020-09-30 16:51] yogi81 commented on #4649
@pmrowla

[2020-09-30 20:33] hugo-ricateau-tiime opened #4650 "dvc.api.open unexpectedly fails on files absent from a dvc tracked directory"
### Bug Report
`dvc.api.open` (from the Python API) unexpectedly fails with an `AssertionError` when trying to open a file that should be contained in a dvc tracked directory but that misses in cache.

### Setup
[code]

### Steps to reproduce
- Within an initialised and configured (especially the remotes) `git` and `dvc` repository; create a `test` directory containing two file `test/foo` and `tes

[2020-10-01 00:35] pmrowla commented on #4649
This is not a supported use case, experiments are considered local-only right now and the associated cache can't be pushed/pulled between machines. What you would need to do here is `dvc exp checkout ...` and promote/commit an experiment into your main repository on the remote machine. Then it can be fetched/pulled as usual in the main repository on your local machine.

[2020-10-01 03:48] skshetry commented on #4650
@hugo-ricateau-tiime, thanks for the bug report. This is not expected, looks like we failed to wrap arguments somewhere (for `PathInfo`). I'll take a look.

[2020-10-01 06:00] yogi81 commented on #4649
I understand that it is not supported right now. But it needs to be supported in the future.

Already now I have more then 20 experiments and their results on a remote machine and it is not feasible to check out and transfer each of them one by one.

Why Is this not a feasible use case?

[2020-10-01 06:38] skshetry opened #4653 "Tracking flakey tests"
Following are the known list of flakey tests at the moment:

| N     | Test |  Example Occurence | First  Noticed | Status   |
| :---   |  :---: |                             ---:  |  :---:               | :---: |
| 01    | tests/func/test_api.py::test_open[azure] | https://github.com/iterative/dvc/pull/4647/checks?check_run_id=1191368341#step:7:3460 |  01 Oct 2020 |  |
| 02    | tests/func/experi

[2020-10-01 07:40] #4650 closed

[2020-10-01 08:04] hugo-ricateau-tiime commented on #4650
Thanks for the quick fix 🎉. Any idea of when this will be released?

[2020-10-01 08:11] skshetry commented on #4650
@hugo-ricateau-tiime, if you need it urgently, I'll suggest you use:
[code]

Pinging @efiop for the release, should be soon.

[2020-10-01 08:16] efiop commented on #4650
1.8.1 will be out on pip in ~5 minutes.

[2020-10-01 08:20] hugo-ricateau-tiime commented on #4650
I wasn't expecting such a fast release. Thanks for your reactivity @skshetry and @efiop :)

[2020-10-01 08:25] lefos99 opened #4654 "Cannot dvc add an already tracked file that lies in a folder"
## Bug Report

**dvc version:** 1.8.0

----**Use case problem**----
So I have folder that looks like that:
[code]

When I run `dvc add annotator/ki67_20x__perez_2019_04_12__7__1___Annotation_0_hotspot_0.json` -> I get
```ERROR: output 'annotator/ki67_20x__perez_2019_04_12__7__1___Annotation_0_hotspot_0.json' is already specified in stage: 'annotator/ki67_20x__perez_2019_04_12__7__1___Annotation_0_

[2020-10-01 09:05] DonjetaR commented on #4546
@efiop Dask also creates the same logging attribute "TRACE" as DVC does and we have again the issue about the import order.

![dvc_attribute_error](https://user-images.githubusercontent.com/23300143/94788935-956f9500-03d4-11eb-9c19-e112974e9981.PNG)

[2020-10-01 09:44] pared commented on #4586
@yogi81 can you elaborate a little bit?
What is the system you run on?

Wouldn't (in case of bash) `ENV_VAR={value} dvc run/repro`  solve the problem?

[2020-10-01 10:07] pared commented on #4649
@yogi81
Experiments are not intended to be shared outside the local machine. The assumed workflow is that once interesting change/sets of params (whatever experiments have been used to play with) is found, the user will commit the change into git and publish only the most relevant change.

What is your use case? Why do you need to share the experiments? It is possible that we are missing some use

[2020-10-01 10:13] yogi81 commented on #4649
Yes, some experiments can not be run on the local machine because of ressource contraints that is why they are executed on other machines. For example (DGX2 ;)

When you have multiple computers you need to be able to download the experiment results for local examination.

Also when you work in a team of machine learning researchers it is good to be able to give the team members access to the exper

[2020-10-01 10:17] yogi81 commented on #4649
By they way, I can achieve this feature I want with following steps:
1. rsync of .dvc/cache folder
2. git fetch of remote .dvc/experiments folder to local .dvc/experiments
3. cp .dvc/experiments/.git/refs/remotes/<remote_name>/heads/* .dvc/experiments/.git/refs//heads/*

After this all experiments can be accessed also locally.

It would be much efficient if dvc had a proper cache tracking mechanic

[2020-10-01 10:22] yogi81 commented on #4649
And by the way the #4448 goes in my direction by proposed solution is much more complicated.

[2020-10-01 10:40] pared commented on #4649
That makes perfect sense.

So, how usually "choosing" the way to develop the project further looks like in your case?
Multiple researchers take a look at a few experiments and discuss which one will become a baseline?
Would you like te to save your experiments for the future?

[2020-10-01 10:42] yogi81 commented on #4586
@pared No this is not possible to set a variable in advance, because only dvc has the knowledge where a temporal workspace is created after dvc has created it in a preparation step of command executing.

Additionally it would be good to have additional meta information like for example experiment queue index number if multiple queue entries are executed.

[2020-10-01 11:05] yogi81 commented on #4649
It is always a good idea to be able to access previous results. So yes, they need to be saved somewhere.

[2020-10-01 11:23] shoeffner opened #4656 "libhdfs.dylib not found (pip); pyarrow missing (brew)"
## Bug Report

When running `dvc pull` in a freshly cloned repo (https://neemgit.informatik.uni-bremen.de/neems/ease-2020-pr2-setting-up-table) I get
[code]

I tried to install dvc using brew afterwards (was recommended by a colleague to use pip because of hdfs), but this mac version results in:
[code]

As I did not install it via pip but brew in that case, it makes no sense to follow those sugges

[2020-10-01 14:38] efiop commented on #4656
Hi @shoeffner !

And if you install hadoop first and then `pip install 'dvc[hdfs]'`, you get the same error, right?

[2020-10-01 15:16] shoeffner commented on #4656
Unfortunately, yes. I installed hadoop first. Though I admit, I haven't phrased it well. To make sure it is that way, I uninstalled everything again (removing the pipenv environment, and uninstalling dvc as well as hadoop).

I now uninstalled dvc and hadoop, as well as removing the python package and ran the following:

[code]

Outputs:

[code]

[2020-10-01 15:30] shoeffner commented on #4656
In fact, I simply can't find a `libhdfs.dylib` on my system:
[code]

I couldn't yet find a way to install it properly, how should I get libhdfs?

[2020-10-01 18:27] efiop commented on #4656
@shoeffner Sounds good, please let us know how it goes!

[2020-10-01 19:13] efiop commented on #4649
@yogi81 Also please note that experiments are under active development and are not intended for the public. This is not even a beta release yet, experiments are not documented in official docs at dvc.org, hidden behind a special config option and even CLI help is also hidden. So there might be features missing and some stuff might even break. Stay tuned.

[2020-10-01 20:11] yogi81 commented on #4649
@efiop
Thank you very much for developing this great feature! I am aware that it is in pre alfa state :) I am happy to contribute where I can.

[2020-10-01 21:22] efiop commented on #4654
Hi @lefos99 !

Could you show the contents of `annotator/Annotation_0_hotspot_0.json.dvc`, please?

[2020-10-02 01:16] shcheklein opened #4657 "Mechanism to update a dataset w/o downloading it first"
**Story**

When I have a dataset with 1M images
I want to update it- add one more image file
I have to download and checkout the previous version first now
It takes long time

**Request**

Come up with a set of commands/options and a flow to do this efficiently w/o downloading data first

[2020-10-02 02:07] shcheklein commented on #3633
@skshetry awesome research, a few questions:

**1. Why do we need `imports`?** At least initially. Keep the same name resolving mechanism as we use for parameters. We won't need to merge stuff, we can simplify constants section significantly.

**2. Can we avoid creating a separate syntax to track something?**

E.g.y treating external files as params, and constants section as ... well constants tha

[2020-10-02 06:51] MetalBlueberry commented on #4657
I'm facing a similar issue and I think this can be easily fixed in the case where the entire folder is tracked by dvc.

If someone wants to upload a single image to a folder tracked by dvc
- calculate md5 of the upload
- upload it to the remote
- get the md5.dir from the directory
- append the file md5 to the list.
- upload the new md5.dir to the remote.

just 2 file uploads and 1 download.

Maybe

[2020-10-02 06:54] MetalBlueberry opened #4658 "drop dos2unix behaviour"
# DVC CRLF issue

I've prepared a sample repository with the steps to reproduce this issue.
https://github.com/MetalBlueberry/dvc-crlf

[code]

## Reproduce

- init git and dvc
- create a script.sh with CRLF line endings
- dvc add script.sh
- change CRLF ending to LF
- try to add it again, (doesn't detect changes)

## Obtained

script.sh is stored with CRLF in cache, so when you run `dvc checkout`

[2020-10-02 07:02] skshetry commented on #4468
@shcheklein, sure, we can split this ticket.

[2020-10-02 08:52] lefos99 commented on #4654
Hi @efiop

Which file do you mean? I don't have such a file in this directory.

[2020-10-02 10:03] geblanco commented on #4552
@efiop following your guide, here is the fixed code.

I have further considerations (I can contribute on that also), also for the run command:
- Parameters are a list of params, optionally pertaining to a file.
- Outputs is a filename, which can be inside an already created directory.

[2020-10-02 19:11] pfigliozzi opened #4661 "Opening Pickle Files Changes Hash"
Hi all I have been having an issue with hashes generated on a pickled model that I track with DVC. I originally asked about this issue in [this message on discord](https://discord.com/channels/485586884165107732/485596304961962003/761614334370775103). I will summarize the issue below:

In my project I have a DAG that looks like this:
[code]

And I make a change to my database (which will change th

[2020-10-02 20:01] efiop commented on #4658
Hi @MetalBlueberry !

This is a known behaviour of dvc https://github.com/iterative/dvc/issues/992 that we have anticipated might bite us in the rear at some point. Initially it was implemented that way to make sure that windows and *nix hashes of git files match, as git will automatically set CRLF on windows, unless you set autocrlf to false. In hindsight, we could probably check for that option

[2020-10-02 20:16] musa-atlihan commented on #4637
I tried to replicate this here https://gist.github.com/musa-atlihan/e01e652a291bd3d36f4ccee5fe04836b
no error though - any ideas?

[2020-10-02 23:11] pfigliozzi commented on #4661
I figured out the issue. For reference here are my train_model.py and evaluate_model.py files that run for the `train_model` and `evaluate_model` stages in dvc respectively.
train_model.py:
[code]
evaluate_model.py
[code]
The key to the issue is the 6th line of evaluate_model.py where it says `from train_model import CurveFit` where I import the CurveFit class that I wrote in train_model.py so I c

[2020-10-03 00:03] efiop commented on #2599
@jorgeorpinel that is a different error and in non-verbose log it will show this part of the verbose log:
[code]
Which looks correct.

[2020-10-03 00:54] #4580 closed

[2020-10-03 01:07] efiop commented on #4654
@lefos99 Thanks! Makes sense now! Ok, I'm able to reproduce with:
[code]
looks like our dag check broke for external symlinks that are in a repo subdir :scream: Bumping up the priority...

[2020-10-03 01:13] efiop commented on #4552
@geblanco Thank you so much for the PR! :pray:

Indeed, those `dvc run` options would also benefit from such completion. Please feel free to add them in the same PR you have already.

I don't think shtab supports command completion yet :slightly_frowning_face: But could probably be done somehow, not sure about the complexity there though. CC @casperdcl

[2020-10-03 01:30] efiop commented on #4661
@pfigliozzi Great catch! Glad you've found the cause. :tada:

[2020-10-03 01:30] #4661 closed

[2020-10-03 08:40] shoeffner commented on #4656
_this is only me tracking what I did so far_

The first issue I found about this is [BUILDING.txt#L413-415](https://github.com/apache/hadoop/blob/18fa4397e6dc7663bcc7c7309126f45eb8d3fa17/BUILDING.txt#L413-L415):

on macOS. For 3.1.1/3.1.2, you need to manually backport YARN-8622. For 3.2.0,
you need to backport both YARN-8622 and YARN-9487 in order to build native code.

The related tickets are [H

[2020-10-03 11:03] casperdcl commented on #4552
1. having `shtab` complete files by default - do open a feature request at https://github.com/iterative/shtab/issues if you need to. Don't think that's an approach `dvc` should use, though. In general also I think it's probably not a good idea. Whitelist completions make more sense that blacklist. If you need to enable completions by default you could always wrap the `add_argument()` function to d

[2020-10-03 17:15] jenishah commented on #4504
Hi, I would like to  work on this. Can someone suggest me on how the new [schema](https://github.com/iterative/dvc/blob/fcdb503b4eff1297e5c1c1ed18f5606fe780e481/dvc/config.py#L134) should look like ?

[2020-10-04 12:36] shoeffner commented on #4656
I stopped pursuing getting it to compile, sorry!

In the meantime I solved my problem of "just getting the data" using Docker (well, dvc runs in a container now, so I kind of got it to run). Sorry I couldn't provide more help with the compilation, but for me the issue is now resolved.

Dockerfile:
[code]

Shell function:
[code]

Execution:
[code]

It also works with shell completions, to set them

[2020-10-04 13:01] puhoshville commented on #4657
Fully agree with @MetalBlueberry: it will be nice to have an option to pull only directories from remote (`dvc pull --dir-only`).
Also, the high-level command for this case can simplify user experience:
[code]
which will perform the following operations:
1. `dvc pull --dir-only`
2. add new files to relevant dirs:
    1. update dir's content
    2. remove previous md5.dir file (since the content of

[2020-10-04 17:13] efiop commented on #4657
@MetalBlueberry @puhoshville Great ideas!

My 2c:

Usually we just automatically pull .dir files when we need them without asking. E.g.  https://github.com/iterative/dvc/blob/fcdb503b4eff1297e5c1c1ed18f5606fe780e481/dvc/output/base.py#L383 , we could probably do the same here, without adding a special `--dir-only` flag.

No need to remove the old .dir file. Dvc doesn't ever remove cache files exce

[2020-10-04 19:19] indhupriya commented on #4621
Hi @efiop @grighi
Is this format and headers okay?
[code]
Im calling the branch as `Branch` and filename as `Path` and the metrics' headers are derived from the json.

[2020-10-04 19:54] indhupriya commented on #4621
Also is it safe to assume the number of metrics in all files will be equal? I mean if eval.json in workspace contains AUC, error and TP, can eval.json in master contain just AUC and TO and miss error?

[2020-10-04 20:06] efiop commented on #4656
@shoeffner Thanks for trying it out! Btw, what about WebHDFS, is it available with your hdfs setup?

[2020-10-04 23:11] shoeffner commented on #4656
I haven't heard back from the admins yet.

[2020-10-05 05:25] pmrowla commented on #4621
@indhupriya the number of metrics in a given file may vary across different commits and branches. Using your example, the output table should contain something like `-` or `None` to denote that `error` does not exist in the `master` branch/commit

[2020-10-05 06:48] MetalBlueberry commented on #4658
In my scenario we were trying to upload a XML file to dvc remote using a custom uploader. The problem is that the md5 checksum calculated by dvc doesn't match the standard md5 when the file contains CRLF line endings. Our custom uploader performs validations on md5 checksum to ensure that you cannot upload data with different sums.

From my point of view, dvc should not change the file content to

[2020-10-05 08:00] geblanco commented on #4552
@efiop okay, I will add two commits to the PR, one for fixing outputs and another for parameters. Is it okay to fill the latter with filenames even though parameters can be outside files?

@casperdcl I'm not entirely sure what you mean by whitelist or blacklist completions, I understand the concept but have no idea how it translates into code, also, is there any example of a wrapped `add_argument(

[2020-10-05 10:07] MetalBlueberry opened #4663 "Generate list of cache objects in use"
Hi all!!

I'm planing to have a shared cache with several projects and I'm worried about long-term health. The main worry is that people will run experiments on side branches that can be eventually removed. The result of this operations is that the stored files in the remote will be virtually lost as the hash wont be tracked anywhere.

- The current `dvc gc` won't work because it works on single r

[2020-10-05 10:21] skshetry commented on #3633
It seems that there are two (there might be more) needs for parametrization. One is a simple loop/build-matrix scenarios that do not have to do anything with parameters, another one is building different datasets/models based on different parameters in `params.yaml`. So, these are not a separate thing, one or the other could be used for parametrization/loops.

One example that @dmpetrov provided w

[2020-10-05 12:28] #4552 closed

[2020-10-05 12:30] efiop commented on #4552
Yeah, that's okay for now, as we don't even have a command to aid the listing of params in the file, so that will do for now. Thank you!

[2020-10-05 12:33] efiop commented on #4663
@MetalBlueberry Could you elaborate why `dvc gc --projects` doesn't work for you? I don't think it will remove anything from the remote unless you specify `-c` as well.

[2020-10-05 12:35] casperdcl commented on #4552
Going off on a tangent, but I mean this sort of thing. Perhaps could be mentioned in `shtab` docs...

[code]

[2020-10-05 12:49] skshetry commented on #4657
We could also create a separate command for it:

[code]

It will pull `.dir` files, updates it in the cache and modifies the `data.dvc` file.

[2020-10-05 13:03] geblanco commented on #4552
Okay, I see...

Pretty nice library `shtab` :)

[2020-10-05 13:31] efiop commented on #4658
@MetalBlueberry That sounds good. And in 2.0 we could consider switching to that behaviour by default (we actually had some plans to do that in 1.0, but didn't get to that). Here is the piece in the code that does it https://github.com/iterative/dvc/blob/d0e1c887926e28e40d677e9b1a9421796b117b53/dvc/utils/__init__.py#L38 .

[2020-10-05 13:32] efiop commented on #4504
@jenishah Sure! You will simply need to add `jobs` to `REMOTE_COMMON` there and that should be enough.

[2020-10-05 15:02] pared commented on #4559
Seems like the original issue (unable to produce plot if cache is not fetched, repro from [my comment](https://github.com/iterative/dvc/issues/4559#issuecomment-696575608) is currently solved on master, while it did fail on OP's version from the time of creating issue (1.6.6). @steffansluis The problem with CI (Github Actions) is that when using checkout action, it only checks out current branch,

[2020-10-05 16:03] dmpetrov opened #4664 "no repro metrics error"
[code]

I created a metrics file and added it to `dvc.yaml` without rerunning a pipeline. The metrics diff gives me a strange error:

[code]

[code]

PS: why there is a `dvc version` output in the error message?

[2020-10-05 16:06] skshetry commented on #4664
@dmpetrov, can you post the dvc.yaml file? From the error,  it seems there are 2 "metrics" keys in the file.

[2020-10-05 16:09] dmpetrov commented on #4664
[code]

[2020-10-05 16:19] sudoandros opened #4665 "Error when using target plots file in Windows"
## Bug Report

I have stage `train_image_classifier` in my `dvc.yaml`:
[code]

As you can see, I have defined one plots file: `plots/image.csv`. But when I try to do `dvc plots show` or `dvc plots diff` with this file specified as a target, I get the same error: `ERROR: unexpected error - 'plots/image.csv'`. Here is the output with the `-v` option used:
[code]

Usually I use Git Bash but when I sw

[2020-10-05 16:21] skshetry commented on #4664
There are 2 metrics key, just merge them under one "metrics".

[code]

[2020-10-05 16:29] efiop commented on #4664
@skshetry Good catch! Could we catch exceptions like that and raise something friendlier so it is not an "unexpected error"?

[2020-10-05 17:15] harsh8398 commented on #4325
Hi @shcheklein I would like to take this issue. Could you please assign it to me? Also, where is this troubleshooting entry supposed to be added?

[2020-10-05 17:20] shcheklein commented on #4325
@harsh8398 sure! feel free to work on this. Here is the place https://dvc.org/doc/user-guide/troubleshooting . Here is the guide on how to deal with the docs updates - https://dvc.org/doc/user-guide/contributing/docs

[2020-10-05 17:35] hugo-ricateau-tiime opened #4667 "dvc.api.open fails on pickle serialisation files absent from a dvc tracked directory"
### Potential Bug Report

`dvc.api.open` (from the Python API) fails with an `UnpicklingError` when trying to open a `pickle` serialised file that should be contained in a dvc tracked directory but that misses in cache.
Note that `dvc.api.read` works well in the exact same situation; I assume that this might be related to the streaming aspect provided by `dvc.api.open` but not present in `dvc.api.

[2020-10-05 17:49] MetalBlueberry commented on #4663
The main goal is to remove things from the remote. What I do not want is dvc removing it for me.

Following the previous example, the HTTP remote doesn't allow to remove data because it is not implemented so `dvc gc` won't work.

I think that having a list of the files used by a given project is something that dvc can easily provide, and with that list, it is really easy to clean up remotes using

[2020-10-05 17:50] dmpetrov commented on #4664
It would be great to handle the error properly. Ideally to say something like `'dvc.yaml' parsing error: 'metrics' duplication in 'train' stage`

[2020-10-05 17:54] shcheklein commented on #4658
Yep, agreed! Providing an option is a great idea. Should we repurpose this ticket for this?

[2020-10-05 18:19] alexdmiller commented on #4559
@pared sorry for the delay in my response. Here is the verbose output of the command. Note that since I last posted, I changed the name of the plot to `classification-plot.csv`.

[code]

And just to remind, if I run without specifying a target, it works:

[code]

It seems like I'm getting the target name wrong. I've tried many different target names, but I get the same error. Here is the relevant

[2020-10-05 18:27] efiop commented on #4664
@dmpetrov Unfortunately ruamel's exception doesn't contain much info that we could reuse, so we can only reasonably extract the `exc.problem` and have something like:
[code]

[2020-10-05 18:31] efiop commented on #992
Closing in favor of https://github.com/iterative/dvc/issues/4658

[2020-10-05 18:31] #992 closed

[2020-10-05 18:35] efiop commented on #4663
Maybe let's just implement that in HTTPTree? IIRC, we didn't do that simply because there wasn't anyone using it with HTTP. All one needs to do is to implement `remove()` and `walk_files`(does your server support this?) methods in https://github.com/iterative/dvc/blob/master/dvc/tree/http.py and gc should start working.

Sure, but if only the lack of gc support for http is the problem, it makes a

[2020-10-05 18:48] dmpetrov commented on #4657
I like the idea of `dvc pull --dir-only` - it can bring the entire dir structure, help users to navigate in the dir and simplify API as a result.

`--merge-into` seems like a possible solution but it does not cover file removals. Also, it requires creating a separate dir structure while we can utilize the existing one (if I understand correctly `data` does not necessarily match the actual dir name

[2020-10-05 20:03] #4664 closed

[2020-10-05 20:08] jorgeorpinel commented on #2599
Well, it's not exactly correct. The file is tracked by Git already, just not committed. But since it's a local repo, DVC could find it in the working tree. I just don't know if we want to support this. The message could at least be even more correct if it ended in something like "... nor as a file committed to Git."

[2020-10-05 20:18] efiop commented on #2599
@jorgeorpinel No need for a separate ticket. Could consider it within this one.

[2020-10-05 20:54] efiop commented on #4665
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/762713253037473802

[2020-10-06 01:22] #4223 closed

[2020-10-06 10:53] MetalBlueberry commented on #4663
My main objective is to keep things simple.

- print list of used files? easy.
- remove data from different supported remotes? hard.
- remove data from shared remote? really hard.

I'm not saying that we should not support this features, I just say that the first one can be implemented in one day, while the others will require a little longer.

[2020-10-06 12:34] #4498 closed

[2020-10-06 12:55] skshetry commented on #4654
@efiop, I see it working as expected.

The first `dvc add data/foo` adds to the cache and links from the cache (by default, here with the `copy` replacing the symlink).
Also, when the path is symlink, dvc creates stage file in the working directory as `foo.dvc` instead of `data/foo.dvc`.

The second `dvc add data/foo` tries to create the `.dvc` file in `data/foo.dvc` as `data/foo` is no longer a s

[2020-10-06 16:07] musa-atlihan commented on #4637
So this is how to replicate it:

https://gist.github.com/musa-atlihan/b7307d8a33f01a7f2cc8343273dfd976

happens when the cache folder is the local remote

and when there is the "runs" folder in the cache created via a dvc run command.

@skshetry

replacing rel = src.relative_to(from_remote.path_info)
with rel = Path(os.path.relpath(src, from_remote.path_info)) fixes it.

would you like me to do th

[2020-10-06 17:35] efiop commented on #4663
@MetalBlueberry Sorry, but it still seems like there is still misunderstanding here.

Already implemented for all remotes except http. E.g. `dvc gc --cloud`

Already implemented for all remotes except http. E.g. `dvc gc -p proj1 -p proj2 --cloud`

I guess I'm still not quite understanding why implement your own gc collection if you can simply add http support to an existing gc. Or is there somethi

[2020-10-06 21:00] jorgeorpinel commented on #4325
Hi!

so should the error message in this repo also improve a little? (and link to the new troubleshooting anchor in docs)

[2020-10-07 02:15] karajan1001 commented on #4663
How can we know remote repo files' tracking conditions in a distributed code repo? As our code is distributed, only go through all repo of code can we make sure that if some files are useless. So the remote DVC repo can only add not delete its contents.

[2020-10-07 06:16] skshetry commented on #4637
@musa-atlihan, sorry for the late reply. Looks like you've figured out the replication, and thank you so much for creating a PR. :slightly_smiling_face:

[2020-10-07 07:16] MetalBlueberry commented on #4663
I see your point, I will evaluate this approach

I would like to have the time and the knowledge to do it myself, but this is not a priority in our current roadmap so it will stay in the backlog.

Thank you for your help. maybe we can just leave this open with `help wanted`

[2020-10-07 10:45] pared commented on #4559
@alexdmiller thanks for the response. I'll try to reproduce that.

[2020-10-07 15:40] steffansluis commented on #4559
@pared It works with `dvc --version: 1.8.1+15b1e7` and
[code]

[2020-10-07 15:50] pared commented on #4559
So, original problem has been solved on master, there still is ambiguous error that @alexdmiller encounters.

[2020-10-07 17:23] harsh8398 commented on #4325
@shcheklein I'm having trouble with `tests/func/test_lock.py::test_cli` test case. The test case uses `assert FAILED_TO_LOCK_MESSAGE in caplog.text` check. The issue is that the `FAILED_TO_LOCK_MESSAGE` contains link with ascii escape codes added using one of the utility functions `format_link()` whereas the `caplog.text` only has the printed text which doesn't have the escape codes. So the test c

[2020-10-07 18:11] shcheklein commented on #4325
@efiop @pmrowla @pared @skshetry could you please help @harsh8398 with the tests here ^^ 🙏

[2020-10-07 23:06] efiop commented on #4663
@MetalBlueberry Can't really keep it with `help wanted` as it is not even clear what approach you really need implemented: `http` support for gc or `gc --dry`. So far I still don't see the reasons why you want to implement `gc` manually, if you could simply implement http support for it. Feel free to point me to specific reasons if I've missed any. Let's just close this issue for now, as there are

[2020-10-07 23:06] #4663 closed

[2020-10-08 01:13] 00willo opened #4675 "`dvc list` fails for ssh and local remote"
## Bug Report
dvc fails to list contents of ssh remote.
[code]
I can see why it may be failed, as it appears to expect the remote to be a git repository, which I've confirmed it's not. I also confirmed the same behaviour when creating a local filesystem remote.

### Please provide information about your setup

Remote was setup on client, ssh is using keybased authentcation, and user is defined in

[2020-10-08 04:54] pmrowla commented on #4675
This is expected behavior, `dvc list` only works for listing the contents of an actual DVC repository (which is not the same thing as a DVC remote).

Can you share what your intended use case is for this? If you want to see what files need to be pushed or pulled from a remote, you can use `dvc status -c`

[2020-10-08 05:29] 00willo commented on #4675
Hmmm, maybe a terminology thing that's not clear. I would have thought that a "remote" refers to a "repository".

The use case is using a shared DVC remote to store versioned artifacts. So git repo A references only some of those artifacts, git repo B references a subset of those and maybe some others. A user comes along and wants to start a new project, asking what's already in the DVC remote tha

[2020-10-08 06:23] pmrowla commented on #4675
A "DVC remote" is more like a remote mirror of what is stored in `.dvc/cache` - so content addressable storage (identified by MD5 hashes). The "repository" itself is the main project repo (which is usually also a git repo) containing `.dvc` files.

So listing the contents of a remote really only tells you "the file with the binary contents that is hashed to `abc1234` is present in this remote".

[2020-10-08 06:27] indhupriya commented on #4621
@efiop @pmrowla I am having troubles running the tests on my environment. I followed the instructions here: https://dvc.org/doc/user-guide/contributing/core#running-tests. But the tests fail on my environment even before my changes. Could you please help me? Am I missing something? This is one of the failed tests:
[code]

Please let me know if you need anything else.

[2020-10-08 06:28] pmrowla commented on #4675
In your scenario, I think what you may be looking for something like this?

1. In your main/original repository, you `dvc push` everything into your default remote location
2. The user creating a new project initializes their new empty git+DVC repo
3. That user then runs `dvc import` or `dvc get` to reuse whichever files they need from your original project.

For 3, `dvc list` can be used with the

[2020-10-08 14:11] RafayAK opened #4682 "Get dataset size from DVC data registry"
Hi, I would like to request a feature to query dataset sizes from a DVC registry.

I have created a data registry using the documentation and added a dataset to my remote storage through the simple `dvc add my_dataset` and `dvc push` commands.
Now, before I import the dataset from a registry I want to make sure I have enough disk space. So, something like the following would be really useful.

[co

[2020-10-08 14:52] xdhmoore opened #4683 "dvc init fails with ERROR: unexpected error - [WinError 2] The system cannot find the file specified: '.dvc\\.gitignore'"
## Bug Report

Hello, I'm having some trouble setting up on windows. When I try to dvc-ize my git project with `dvc init`, it fails with:

[code]

Using the `--force` flag results in the same message, as does running from both PowerShell core and cmd. This was installed with the installer, but I get the same error when installed via pipx (and when run via pipx/Run as Admin).

### Please provide in

[2020-10-08 16:46] xkortex commented on #1676
It's great that this is being worked on. Solving for the general use case of configurable hash is excellent, even though I'm sure there is some extra complexity there. There's a lot of advantages to different hash schemes.

blake3 - fast as heck, also available as a [python package with no other deps](https://github.com/oconnor663/blake3-py). (This would be ideal for DVC since it's so fast, but th

[2020-10-08 18:31] efiop commented on #4682
Hi @RafayAK .

Thanks for the request! We were thinking about adding sizes to `dvc list` output as a part of https://github.com/iterative/dvc/issues/3256 , but `dvc du` also sounds pretty good. It would be easy to implement after the pre-requisites for https://github.com/iterative/dvc/issues/3256 are implemented, which is planned to be out in the upcoming weeks.

[2020-10-09 00:48] EmmaBYPeng opened #4686 "DVC fails to push data from external cache to default remote"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

## Use case
We want to track data on GCS using DVC (w/o downloading to local machines), with an external cache and remote storage

## Steps
[code]

## Issues
After the push, we got `Everything is up to date.`, while nothing showed up in the default storage bucket (our cache bucket did have the cac

[2020-10-09 02:14] efiop opened #4687 "add support for WebHDFS"
We currently support real HDFS by using pyarrow, but the problem with it is that it still requires libhdfs, which has to be installed separately and in some cases (on osx) is not at all trivial to install (brew's hadoop package doesn't provide it, for example). See https://github.com/iterative/dvc/issues/4656 Also [pyarrow itself has caused us some problems](https://github.com/iterative/dvc/issues

[2020-10-09 02:21] efiop commented on #4687
Regarding the tests, as initial support, it would be totally fine to have some manual confirmation that the author of the PR has ran it and it works for him. But the next step could be to adjust our existing hdfs testing infrastructure (it spins docker container https://github.com/iterative/dvc/blob/master/tests/docker-compose.yml) to use webhdfs port too and create a `webhdfs` fixture in https://

[2020-10-09 02:30] efiop commented on #4687
Some info about performance:

[code]

from https://wesmckinney.com/blog/python-hdfs-interfaces/ . Though clearly it will depend on particular library, there might be some bad ones. But still, this is an experiment :slightly_smiling_face:

[2020-10-09 02:39] pmrowla commented on #4621
@indhupriya it looks like git-python is having issues running git itself, are you able to run `git rev-list --all --` (in any git repo)?

[2020-10-09 03:04] rogermparent opened #4688 "Add --show-json support for dvc exp show"
I'm a bit light on understanding the actual DVC end of this currently, but for the [VS Code plugin](https://github.com/iterative/vscode-dvc) and other similar inter-language applications, a machine-friendly interface will be needed to send tables between the two processes, and eventually satisfy iterative/vscode-dvc#1.

Outputting the tables to JSON and parsing DVC shell calls is a simple, drop-in

[2020-10-09 03:22] efiop commented on #4688
@pmrowla Could you please add this ASAP to unblock the guys?

[2020-10-09 03:26] efiop commented on #4446
Ok, now only left to double check the UI to make sure that this looks good. (e.g. erros on bad formatting, missing targets and so on).

[2020-10-09 05:47] pmrowla commented on #4688
from the PR:

[code]

Indented output for `dvc exp show --show-json` in the same project:
[code]

[2020-10-09 05:47] pmrowla commented on #4688
Output is just nested dictionaries.

* At the top level, the first set of keys is commit SHAs from the original/parent DVC repo or `workspace` special case for the local workspace.
* At the next level, keys are experiment commit SHAs or `baseline` special case containing the values from the original parent/baseline commit.
* Within each experiment dict you can have:
    * `name` - Optional git bra

[2020-10-09 05:50] pmrowla commented on #4688
`--all-commits/--all-branches/--all-tags` can be used as needed to get more commits and derived experiments in the output

[2020-10-09 06:07] #4688 closed

[2020-10-09 07:22] karajan1001 commented on #4686
[code]

And in [documents](https://dvc.org/doc/user-guide/managing-external-data)

Maybe we have to pull it down first?

[2020-10-09 15:29] pared commented on #4683
@xdhmoore
could you try removing `.dvc` directory and trying to reinitialize?

If its happening again, could you check if ".dvc\.gitignore" exists?

[2020-10-09 15:53] wdixon opened #4692 "pull: --jobs not honored for imported data"
## DVC pull from not honoring --jobs or -j

from git clone of an existing repository that includes an imported dvc resource, after cloning on windows, the dvc pull is not honoring the --jobs or -j flag.

dvc pull --jobs 2

(30 or 40 downloads.....)

Nothing in special in the repo's .dvc/config
[code]

no .dvc/config.local for the repo

the remote resource that we are pulling from has a .dvc/config

[2020-10-09 16:04] pared commented on #4686
@EmmaBYPeng
While this seems like a bug (since the push should move the data from cache to storage), maybe you actually do not need the storage? From the user perspective `cache` and `remote` are the same thing, and their structure is identical (assuming they contain the same data). So, if you want to use your cache later, you can specify it as a remote for other projects.

What is your use case?

[2020-10-09 16:27] EmmaBYPeng commented on #4686
Thanks for the response!

@pared I guess what we are looking for is to use DVC as a data registry to track data stored on GCS, which multiple developers (including CI) can read/write. We don't want to store the data locally since 1) the data is big, and 2) our ML pipelines need to directly read data from GCS.

Our workflow should look something like:
- Person A commits a file (e.g. `gs://shared-pr

[2020-10-09 16:39] copaah commented on #4682
I am moving this from the Discord chat.

When these ideas are implemented, a nice feature would be for `dvc pull` to estimate the size of whatever it is pulling and then check if the required disk space is available.

I have encountered long `dvc pulls` fails, because I hadn't ensured that sufficient disk space was available.

[2020-10-09 16:39] pared commented on #4686
@EmmaBYPeng

Your workflow makes perfect sense. If you want to store your data on `gs` there probably is not too much one can do.

Yes, let's remember that DVC in this case is tracking external file - so any `dvc checkout` operation affects this particular file, which has a constant URL - multiple users can start interfering with each other work.
 If 2 users edit this external file and commit +/-

[2020-10-09 17:52] jorgeorpinel commented on #4682
I think something like `dvc list --size` could be enough (avoid a new command) and indeed like @copaah mentioned, pulling (fetching really) and maybe also import/get could include this check by default and throw an error if there's not enough size in the workspace drive.

[2020-10-09 18:06] EigenJT opened #4693 "dvc import-url fails for folders in azure remote."
## Bug Report

I've been trying to import a url from a remote azure container using `dvc import-url`. It seems to work fine for single files, but fails for folders. Here is the output, from setting up dvc, importing the single file and finally failing to import a folder.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

[c

[2020-10-09 20:39] jorgeorpinel commented on #4693
I suspect it's a bug and hopefully only with `remote://` URL aliases. Please evaluate, engineering team 🙂

[2020-10-10 01:51] karajan1001 commented on #4692
Seems it isn't configurable in the config file.
It could be a local config(depends on both the local machine and the remote storage).

[2020-10-10 02:30] xdhmoore commented on #4683
Today, for some reason it seems to have solved itself. Maybe my machine needed a reboot. I guess I'll post again if it comes back.

[2020-10-10 02:30] #4683 closed

[2020-10-10 03:07] wdixon commented on #4692
Was able to get around this by building a local cache from data repo  (where pull -j works) - then perform pull on imported resource (where -j doesn’t work).... the 48 concurrent requests on large file - caused timeouts on the s3 resource - leading to multiple failures to pull... repeating the pull multiple times - was incrementally getting more of the data - before I gave up - and went the two st

[2020-10-10 10:04] pared commented on #4682
For the record, discussion mentioned by @copaah is [here](https://discord.com/channels/485586884165107732/563406153334128681/764144646187647026).

[2020-10-10 10:06] pared commented on #4693
For the record, [original discussion](https://discord.com/channels/485586884165107732/485596304961962003/763833696171458600)

[2020-10-10 10:54] pared commented on #4683
@xdhmoore Glad that issue got resolved, thanks for closing the issue. Feel free to reopen if it comes back. :)

[2020-10-10 13:36] karajan1001 commented on #4692
@efiop
Oh sorry, this is my own thought not about this issue.  I'll create a new ticket for it later.

@wdixon
`dvc pull` creates more connections than what `-j` config in your cases and that means it didn't work. Besides this, it even causes some other problems and can't get the files downloaded?

[2020-10-10 14:14] wdixon commented on #4692
reproducing seems straight forward.....  If you have an remote  .dvc resource committed to a repo....

[code]

Assuming no shared cache configured - you will see that it fetches the remote resources - but does not limit the number of concurrent downloads to what is specified by the -j flag.

This repo happened to have several hundred large files (~1GB each) - lead to timeouts and failures with so

[2020-10-10 23:37] indhupriya commented on #4621
@pmrowla Yeah, I can run git rev-list --all -- from command line

[2020-10-11 03:05] tenitski commented on #1618
Looking at this issue 👀

[2020-10-11 08:17] aartaria commented on #4545
@efiop thank you for the suggestion, it looks to have solved our issues! I must have done something wrong while recreating the cache from the remote storage when upgrading to dvc 1.x

[2020-10-11 08:17] #4545 closed

[2020-10-11 16:29] efiop commented on #3642
@jorgeorpinel how about we just sort in alphabetical order to start with? The "commonly used" approach is a nice extension, but it will require collecting some stats and is only really relevant for long help. So, for example, for `dvc -h`, where we have all of the commands and where indeed it might be nice to have commonly-used ones more visible.

[2020-10-11 20:10] scranefield opened #4696 "The "plots" commands lack a working directory option"
The run command has a working directory option (-w <path> or --wdir <path>). It would be useful if the plots commands had this as well.

[2020-10-11 20:10] jorgeorpinel commented on #4696
Transferred as a feature request to the core DVC repo.

[2020-10-11 20:14] jorgeorpinel commented on #4696
@scranefield what do you mean here though? `run --wdir` is for the command to be run. `plots` (is not one command but it has several inside doesn't run a command. See https://dvc.org/doc/command-reference/plots

If you need a general way to specify the CWD of any command, you can use something like `dvc --cd <path> plots ...`. Does that work for you?

[2020-10-11 21:16] scranefield commented on #4696
@jorgeorpinel. Yes, I am aware that "plots" has several sub-commands. I was particularly interested in "dvc plots show", but also saw the other commands had no "--wdir" option. I was running it in a Jupyter notebook (inside a "notebooks" folder), and had been using "!cd ..; dvc plots show ..." to avoid having repeated paths in the metric file argument and the -t and -o options.

However, the "--cd

[2020-10-11 22:54] jorgeorpinel commented on #3642
Sure, that's a reasonable approach which simplifies maintaining core and docs.

Also agree, although long help probably covers all the most important commands and like 80% of the help text overall so not sure that if we ever implement that it's worth discriminating.

[2020-10-11 23:21] lafrenierejm opened #4697 "Add type-hints"
There are lots of type hints throughout dvc's codebase, but I couldn't find any mention of which type checker the hints are expected to pass against.  I would propose mentioning it in the README and running the checker as part of the test suite.

[2020-10-12 02:21] shcheklein commented on #3642
tbh, I would prefer to keep them in some reasonable order, at least on the docs side (important to less important, or in some cases there should be blocks that cluster related things, e.g. `--all-commits`, `--all-branches`.). We def can see auxiliary options like (-q/h/v) and most important options specific to the command.

sorting alphabetical sounds like random to me

[2020-10-12 03:49] karajan1001 commented on #4692
Seems OK on Linux with HDFS remote in version 1.8.1, I'll try it on Windows later.

![BB06097C-CD6B-45E8-B78A-7391DEA4647B](https://user-images.githubusercontent.com/6745454/95703005-8adcb780-0c80-11eb-9b36-0eeab7b7971e.png)
![B70978FB-4713-4F05-ACFF-1FA2A2BD56A9](https://user-images.githubusercontent.com/6745454/95702969-77315100-0c80-11eb-8a0f-33057c4682de.png)

[2020-10-12 03:51] efiop commented on #3642
@shcheklein Sure, we could leverage `add_argument_group` and separate those into groups that we like. Within those it would still be nice to just sort things alphabetically, because otherwise we'll need to keep the ordering in mind when writing code, which is a chore that we would like to avoid.

[2020-10-12 05:13] efiop commented on #4686
For the record: `push/pull/fetch/status -c` don't work for external outputs, only for local ones. It is designed to do so.

[2020-10-12 05:47] karajan1001 commented on #4686
So this is an issue of `dvc.org`?

[2020-10-12 05:51] #1998 closed

[2020-10-12 06:00] #4251 closed

[2020-10-12 07:22] naspeh commented on #3642
Few words from me.

Moving  `-q -v -h` options can be achieved with an explicit solution (no hack needed). I suggested two approaches in #4681 and #4695. I can think of a third and fourth solution with different refactorings, but I don't want to work further on this as I see there is no decision on what this ticket requires: alphabetical order vs moving `-q -v -h` args to the bottom. I think the `

[2020-10-12 07:43] skshetry commented on #1751
@efiop, close this? I guess, this is no longer an issue, as we do use a set, and the codebase is quite different:
https://github.com/iterative/dvc/blob/59105ec639c3acdba09f284fee80b0866bb79497/dvc/repo/__init__.py#L548

[2020-10-12 07:44] efiop commented on #1751
@skshetry Good point! Closing.

[2020-10-12 07:44] #1751 closed

[2020-10-12 08:10] pared commented on #4686
@karajan1001

I guess, since we mention the requirement for external cache in case of external outputs, we could mention there that it is the cache that will store the dependencies, and pushing them to other remotes will have no effect.

[2020-10-12 08:23] skshetry commented on #4697
@lafrenierejm, we don't really use/have type-hints. We'd love to start using it, but so far, we haven't been able to get to it. The type-checks you are seeing are mostly for "documentation/autocompletion", we do not enforce it (yet).

[2020-10-12 08:31] karajan1001 commented on #4686
Yes,  and in the `dvc push` page we only push the local cache, not the external one.

[2020-10-12 10:17] efiop commented on #4621
@indhupriya That looks pretty weird, can't put my finger on anything yet. If that is the only test failure that you run into (or even if it is not), please feel free to create a WIP PR (don't forget to add WIP to the PR title), so that our CI could run the tests too and we will see if that issue is reproducible there as well.

[2020-10-12 10:19] efiop commented on #4621
@indhupriya Btw, that last error log looks a bit off, are you sure you've copied the whole thing?

[2020-10-12 11:00] pokey commented on #2397
I am still able to reproduce this issue:

[code]

At the end, I'd expect `foo/bar` to have been removed

[2020-10-12 14:28] karajan1001 opened #4705 "`dvc add` error using wild match operator in windows?"
## Bug Report

![image](https://user-images.githubusercontent.com/6745454/95757109-46c9d100-0cd9-11eb-81a6-7704451bf27d.png)
![image](https://user-images.githubusercontent.com/6745454/95758131-9f4d9e00-0cda-11eb-87af-84a37684d167.png)

`dvc add` failed while using wild match mode. It adds a wrong suffix `.dvc` to my pattern.

### Please provide information about your setup

**Output of `dvc versio

[2020-10-12 14:42] karajan1001 commented on #4692
I'm sorry I can not reproduce it on the Windows platform with a local cache. I haven't got an s3 server now.
![image](https://user-images.githubusercontent.com/6745454/95759129-e6885e80-0cdb-11eb-9067-8b4772148515.png)
![image](https://user-images.githubusercontent.com/6745454/95759144-eab47c00-0cdb-11eb-80df-200f8f332b5a.png)

[2020-10-12 14:54] wdixon commented on #4692
Just to be clear - the issue I face is when thee dvc resource is remote (dvc import from another repo).  A pull for resources directly in your repo do obey the jobs limit.

[2020-10-12 15:52] lafrenierejm commented on #4697
Are there any preferences about which type checker(s) is used?
mypy [0] is the reference implementation, but there are also FOSS
tools from Google, Facebook, and Microsoft that all promise better
performance than mypy and various levels of strictness

[0]: http://mypy-lang.org/

--
Joseph LaFreniere

[2020-10-12 18:43] jvfe commented on #2359
Hi! Been using DVC for a while and wanted to contribute.
This seems pretty straightforward, if it still needs work, it would mean adding a `logger.info()` to

https://github.com/iterative/dvc/blob/549f342db9a6e77360583b3b0781dce47206c8c8/dvc/command/repro.py#L35-L37

Right?

[2020-10-12 22:33] steffansluis commented on #3801
Would love some more options here, specifically I was thinking of using a bar chart, histogram or pie chart to visualize my class counts for training samples :bar_chart:. What would be even better would be a stacked bar chart of where the diff between something like class counts is visualized as (red/green/different colored) stacked bars!

[2020-10-13 00:39] indhupriya commented on #4621
@efiop The failing tests are now clear to me. I'll work on those. In the meantime, it'd be very helpful if you could review the code and suggest any changes.

[2020-10-13 05:35] pmrowla opened #4707 "checkpoints: combining persist and no-persist outputs does not work as expected"
[code]

[code]

Easiest fix would be to just require that all outputs be persist for checkpoints, but I need to look into whether there is a better workaround

[2020-10-13 05:37] pmrowla opened #4708 "checkpoints: create final checkpoint on job termination"
This was marked as a research TODO in the current code, creating a final checkpoint should resolve:

[2020-10-13 05:43] pmrowla opened #4709 "checkpoints: minor table/UI issues"
* [ ] checkpoints are not grouped properly during sorting (#4740)
* [ ] checkpoint branches are not sorted as expected by default - currently branches are returned alphabetically by branch name rather than by the most recent tip commit timestamp (#4740)
* [x] small floating point numbers are rounded to `0.0` instead of being displayed in scientific notation (#4730)

[2020-10-13 09:36] pared commented on #3801
@steffansluis
So, in case of `plots show` it would be bar chart where x axis are classes, and y is class count, and in case of diff - x axis is revisions, we group bars for particular revisions and differentiate them by color?

[2020-10-13 10:31] pared commented on #2397
Seems like its still an issue:
[code]
This test fails. Seems like our [check](https://github.com/iterative/dvc/blob/0649242578b5d6dbbdf6e7e7124870fb26b3f173/dvc/cache/base.py#L553) falsely reports that the directory is unchanged. This is probably due to the way we calculate cache for dir: introducing empty directories does not influence dir hash.

Obvious fix: introduce directories (even empty) in

[2020-10-13 11:19] steffansluis commented on #3801
@pared The `plots show` case is correct, classes on the x axis and class count on y. For the diff, I'd say classes on the x axis and stacked bars in the order of revisions, with the colors corresponding to revisions indeed, class counts on the y-axis? I think that is what you meant also?

It might be a bit difficult with regards to when class counts actually go down between revisions, I was only c

[2020-10-13 11:19] skshetry commented on #4697
@lafrenierejm, I'd say mypy, but don't really have any favourites. If it's easy to start with, let's say, pytype, we can totally go with that. I assume, it won't be difficult to migrate to "stricter" tools after we have considerable amounts of type-hints, compared to starting-out completely blank.

@lafrenierejm, are you interested in contributing?

[2020-10-13 12:06] efiop commented on #4551
Fixed by https://github.com/iterative/dvc/pull/4538 . 1.8.2 and newer are not affected by this bug. @pokey Please give it a try :slightly_smiling_face: Thank you so much for the feedback! :pray:

[2020-10-13 12:06] #4551 closed

[2020-10-13 12:11] pokey commented on #4551
awesome thanks!

[2020-10-13 12:43] efiop commented on #4335
Update: currently (as of 1.8.2) we don't restore always_changed stages, but we still save them to the run-cache.

[2020-10-13 13:07] efiop commented on #4335
Saving is an interesting topic, potentially it could be useful for things that are importing stuff in some way. E.g. an `always_changed` stage that tries to dump a remote database (or download some dataset from an external source) and succeeds once, but you don't commit .lock file and so if that external resource becomes unavailable in the future, you won't be able to get anything, unless you have

[2020-10-13 15:02] wdixon commented on #4692
here is what I get when I clone a repo with the remote resource.
You will see I limit to 1 job - but it kicks off multiple downloads...
If the resource is within the repo (not import from another) - the limit works.

![pull_example](https://user-images.githubusercontent.com/1872776/95878670-7ad9dc00-0d43-11eb-953b-04119455ab84.png)

[2020-10-13 15:30] efiop opened #4710 "gha: exe is not published"
https://github.com/iterative/dvc/releases/tag/1.8.3
https://github.com/iterative/dvc/runs/1247005772?check_suite_focus=true

[2020-10-13 15:41] karajan1001 commented on #4692
![image](https://user-images.githubusercontent.com/6745454/95883320-5dd9f300-0dad-11eb-8461-7ec5bac2a1b9.png)
@wdixon
You are right, thanks for your report. It is a bug I think.

[2020-10-13 16:41] soerface commented on #2575
I'm just getting started with DVC so I will miss a lot of things, but maybe my impression as a new user helps.

As I followed the [dvc.org video tutorial](https://dvc.org/doc/start/data-versioning) I accidentally ran `dvc add data` instead of `dvc add data/data.xml`. As an inexperienced dvc (but experienced git) user, I tried undoing my mistake with `dvc rm data`. I would have been fine if `rm` ac

[2020-10-13 19:33] pared commented on #4710
Leavin open till we have succesfull build.

[2020-10-13 21:58] jorgeorpinel commented on #1416
Another user expressed interest in this feature implicitly in https://discord.com/channels/485586884165107732/485596304961962003/765677497843974204.

[2020-10-13 23:58] jorgeorpinel opened #4712 "sync: ssh remote support not included on the Windows build"
## Bug Report

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

Notice how `Supports` doesn't include `ssh`.

[2020-10-14 02:10] lafrenierejm commented on #4697
Yes, I am.

Sure!  Starting with pytype starts good.

Correct, it should be fine.

[2020-10-14 05:58] pmrowla opened #4713 "flaky test: test_push_order depends on ThreadPoolExecutor scheduler"
Test should just check that the dir file is uploaded after the files in that dir and not necessarily after all (other) files

[2020-10-14 09:17] skshetry commented on #4697
@lafrenierejm, wow, thanks for the interest.

Let's start small, with just simple "not-so strict" config and run those in Github Actions. And, we can expand to other modules thenafter.

If you need any help, feel free to ask us here in the issue/PR or in the [#dev-talk](https://dvc.org/chat) channel on Discord.

[2020-10-14 09:23] skshetry commented on #4697
Hi @lafrenierejm, I'll be repurposing this issue as for type checks, I guess that's fine.

[2020-10-14 09:40] #4713 closed

[2020-10-14 09:41] pmrowla opened #4717 "flaky test: test_experiments::test_extend_branch is flaky"
Probably git-python related race condition issue

Related to #4653

[2020-10-14 11:07] pared commented on #4710
Seems like `1.8.4` was [successfull](https://github.com/iterative/dvc/actions/runs/305194445).
Closing.

[2020-10-14 11:07] #4710 closed

[2020-10-14 11:41] steffansluis commented on #4559
@pared I spoke to soon :disappointed:
[code]
gives no error, but it generates a report that doesn't take the master branch into account, so I end up with all my metrics being labeled as new, no diffs, and a confusion matrix that only includes the branch that my PR is about. I have reverted back to my old workaround for now.

[2020-10-14 13:03] efiop commented on #4712
Might be related to https://github.com/iterative/dvc/issues/4616

[2020-10-14 13:38] efiop commented on #4712
Unable to reproduce with 1.8.1 or newer versions. All exes show that all remotes are supported. @jorgeorpinel Could you confirm that you still see that error and `dvc version` still shows that it is from exe but doesn't have all remotes?

[2020-10-14 14:43] #4335 closed

[2020-10-14 14:54] davesteps opened #4720 "Have `get` look in local cache like `import` does"
If I run `dvc import .  --rev v0.1.0 model.h5` dvc knows to look for the file in the local cache. If I run the same using `get` it does not look for the file in the local cache but downloads from the remote every time. I don't know if there is a particular reason `get` couldn't use the local cache?

The reason for wanting to do this relates to using a previous version of a model as initial weights

[2020-10-14 16:09] pared commented on #4686
@karajan1001 @EmmaBYPeng @efiop I created an issue on [docs](https://github.com/iterative/dvc.org) to clarify this use case.

[2020-10-14 16:26] pared commented on #4325
@harsh8398
I am very sorry for such a long time to respond.

As you might see in other our tests, we are usually duplicating the error messages that we want to check.
For example:
https://github.com/iterative/dvc/blob/b11fe83828fd5c65973a5ad7da3d95a5ea2c60e9/tests/func/test_data_cloud.py#L219

So in this case, what would be sufficient, would be to create the expected message and verify it is showi

[2020-10-14 17:09] efiop commented on #4693
Most likely we are lacking some logic for directories in `AzureTree.exists`, need to take a closer look.

[2020-10-14 17:19] efiop commented on #4705
@karajan1001 What does that error say, btw? And also could you provide verbose output, please?

So far looks like there might be something about the way your shell is evaluating the regex. It actually looks like it is not expanding the wildcards and ? at all and passing them as is to the dvc. Dvc itself doesn't support regexes at all, we simply rely on your shell to do that and then pass the list

[2020-10-14 17:20] efiop commented on #4255
Closing for now as stale

[2020-10-14 17:20] #4255 closed

[2020-10-14 17:21] efiop commented on #4236
Closing as stale.

[2020-10-14 17:21] #4236 closed

[2020-10-14 17:23] efiop commented on #4384
Closing as stale.

[2020-10-14 17:23] #4384 closed

[2020-10-14 17:24] efiop commented on #4388
Closing as stale.

[2020-10-14 17:24] #4388 closed

[2020-10-14 17:33] efiop commented on #4656
Closing for now in favor of https://github.com/iterative/dvc/issues/4687 . Let us know when you hear from admins :) Thanks!

[2020-10-14 17:33] #4656 closed

[2020-10-14 17:34] harsh8398 commented on #4325
Thanks @pared for your help. 🙂

@shcheklein I've raised the PR with the changes!

[2020-10-14 17:38] efiop commented on #4493
@xkortex Were you able to make it work? :slightly_smiling_face:

[2020-10-14 19:48] davesteps opened #4723 "Error when re-importing directory with -o flag"
## Bug Report

If I import a directory like so `dvc import . --rev v0.1.0 model -o initial_weights`. And then later want to overwrite this with a new version  `dvc import . --rev v0.2.0 model -o initial_weights` I get below error. It does not happen with files, only directories and it does not seem to happen if you do not use the -o flag.

[code]

**Output of `dvc version`:**

[code]

[2020-10-14 20:51] davesteps opened #4724 "Support for circular dependencies - eg have `model` as both input and ouput of `train` stage"
It quite common when training deep learning models not to start training from scratch every time but rather use a previous model as initial starting weights. For example you may train an basic model then make some adjustments to your training data or your loss function or adjust some other parameter and continue training.

I am currently using a solution suggested on the forum of using `import` to

[2020-10-14 22:06] jorgeorpinel commented on #3642
To be clear I was in favor of alphabetical order as an alternative to no order (rather the order in which options are added to the code). Docs will still maintain an order of (assumed) relevance.

@efiop I'm not sure about the groups for sorting by relevance. If you see docs now, all kinds of options are put first, simply because we assume they will be used more often/cover more user needs (or bec

[2020-10-15 02:03] karajan1001 commented on #4705
Yes obviously, DVC didn't get correctly file list. This might be an issue of 1. environment 2. package DVC relied on, not one in DVC itself. But
1. Git didn't suffer from the same issue in the same directory.
2. Wildcards are wildly used in daily work.

[2020-10-15 02:49] karajan1001 commented on #4724
I have the same problem. Currently, I didn't put `model` into the dependency of the `train` stage and just maintain it manually.

[2020-10-15 03:57] lafrenierejm commented on #4697
@skshetry Yes, of course that's fine.  I'm opening a PR now to run pytype during CI.  The build is currently failing the type check, so I'll plan to continue pushing to the branch to resolve the type issues until the PR is suitable to merge.

[2020-10-15 08:39] pared opened #4726 "Make test ssh server independent from our testing fixtures"
Context: https://github.com/iterative/dvc/pull/4660

In order to pass on windows some our tests:
- [ ] `tests/unit/remote/ssh/test_ssh.py::test_hardlink_optimization`
- [ ] `tests/func/test_api.py::test_get_url_external[ssh]`
- [ ]  `tests/func/test_api.py::test_get_open_external[ssh]`

Have to include `tmp_dir` fixture in order to be passing in case of github actions runs.
The reason for that is

[2020-10-15 08:47] pmrowla commented on #4717
Issue is a general git race condition. When we make changes to params file and then stash them, git uses stat mtime to determine if the params file is actually dirty vs the index (and needs to be stashed). In certain situations the mtime would be unchanged, so the modified params value for this test would not be preserved.

[2020-10-15 09:18] pared commented on #3801
@steffansluis I see we probably have a different vision of that. What I had in mind was something like that:
https://vega.github.io/vega-lite/examples/bar_grouped.html

Where the `age` is our `rev`.

Though, I have to admit that idea of of `delta` bar chart sounds interesting. What if we diff 3 `revisions`? Plot original bar chart for most recent and deltas for other revisions?

[2020-10-15 09:43] pared commented on #4559
@steffansluis How do you mark plots? `--plots` or `--plots-no-cache`?
The problem exists on github runner, right? You are fine locally? What system is the runner? Ubuntu?

[2020-10-15 09:45] RafayAK commented on #4657
Hey fellows @shcheklein, asked me to chime in on this ticket with my use case. So, here it is.

I have created a DVC Data Registry with the intention of updating it automatically whenever one of my edge devices decides to push data to it. It looks something like this:

![data_registry_use_case](https://user-images.githubusercontent.com/17025191/96103171-cbdb0300-0ef0-11eb-9d25-460da12a2552.png)

W

[2020-10-15 10:18] pared commented on #4723
For the record, original discussion: https://discuss.dvc.org/t/use-previous-version-of-model-as-initial-weights/525/9

[2020-10-15 10:26] #4717 closed

[2020-10-15 10:35] nik123 opened #4729 "Extra warning for "missing" status"
## Bug Report

`dvc status -c` reports about missing files twice:

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-10-15 10:38] nik123 commented on #4729
There was the same issue when I've tried fix #4383 so it's probably related: https://github.com/iterative/dvc/issues/4383#issuecomment-678809566

[2020-10-15 12:52] steffansluis commented on #4559
@pared

1. `--plots`.
2. Yes, locally `dvc metrics diff master --show-md` work fine without me having to explicitly git fetch or dvc pull a run-cache.
3.
[code]

**cml-eval.sh**
[code]

[2020-10-15 13:01] steffansluis commented on #3801
@pared Wouldn't grouping by revision make it harder to see the difference between revisions? I would imagine you would want to group them by the class and put the revisions where the `Male/Female` is, so that you can easily see how a single count changed between revisions.

For the delta bar chart indeed I'd go with the most recent revision as the 'base' and deltas for the other revisions.

[2020-10-15 16:29] polvoazul commented on #4419
I will do this issue :)

[2020-10-15 18:21] mbraakhekke commented on #1676
It seems to me that @dunstantom's issue is not really addressed by the proposed solution. The problem is that trivial permutations of the data result in different hashes. If I understand it correctly, alternative hash algorithms will not solve this. Only custom hash functions, or possibly wrappers around the built-in hash functions can.
My problem is that most of my data formats have a creation ti

[2020-10-16 01:27] jorgeorpinel commented on #3185
Late to this party but `info` or sys or sysinfo seem better to me. `doctor` sounds like it will find and fix problems in the DVC installation or in the repo or something like that. In case there's still room to reconsider!

[2020-10-16 12:37] peper0 opened #4732 "`dvc push --run-cache` is incredibly slow on "ssh" remote"
## Bug Report
A command `dvc push --run-cache` takes very long time (more than hour in my case) if there are a lot files in `dvc_cache/runs`. The reason is making a new ssh connection for each file to check if it exist on the remote.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**
[code]
and so on, hundreds of time.

[2020-10-16 12:51] peper0 commented on #4732
It is caused by dropping ssh connection in `get_connection` in `dvc/tree/pool.py` since the connection throws a `GeneratorExit` exception in generator `SSHTree.walk_files` if the generator is closed prematurely, which is the case in `dvc/stage/cache.py:210` in the statement `first(to_remote.walk_files(key))`.

[2020-10-16 18:47] nik123 commented on #4729
Cant' reproduce on another machine. Probably messed up my envirnoment.

[2020-10-16 18:47] #4729 closed

[2020-10-17 01:40] jorgeorpinel commented on #4712
I was still seeing the problem. I uninstalled DVC and re-installed it, AND restarted because it was throwing a weird error, and now it's normal. Windows... 😠

[2020-10-17 01:40] #4712 closed

[2020-10-17 08:10] #3185 closed

[2020-10-17 13:13] karajan1001 commented on #4692
Seems that it is because arguments `job` take no effect in `fetch_external`
https://github.com/iterative/dvc/blob/68220cbea07fd445901f7f124d900676d2d536e1/dvc/external_repo.py#L149-L176

[2020-10-17 14:30] efiop commented on #2359
Hi @jvfe !

Yeah, that's correct. Let us know if you'll have any questions. Thanks for looking into that! :pray:

[2020-10-17 17:38] nik123 commented on #4557
Not sure how UI should look like because output format differs for local workspace and remote storage. For use case described in original post `--filter` might be applied for `-r`/`-c` flags only:

[code]

where "NMD" values are:

1. `N` - include "new".
1. `M` - include "missing".
1. `D` - include "deleted".

The "NMD" characters might be combined in any order. The lowercase characters ("nmd") mi

[2020-10-17 17:45] nik123 commented on #4557
BTW the `status` message format is different in workspace and remote modes. In local mode message is more hierarchical and shows information about stages which is not the case for remote mode. Here is little example to show difference in remote in local modes:

[code]

Not sure it's a big deal because I've it's only bothere me when I've started to think about `--fitler` option.

[2020-10-18 07:50] efiop commented on #3673
Not able to reproduce. Probably was related to some workspace issues. Feel free to reopen if you are still able to reproduce.

[2020-10-18 08:56] efiop commented on #829
For the record: another thing to consider is to revisit `.dir` format to be able to split it into smaller files. E.g.
`123456.dir` could look like (it might still be json or not)
[code]
so each `.dir` file contains a listing of the directory (e.g. os.listdir), which will result in us being able to optimize cases when you are adding, say, 1 file to a giant dataset. Currently, that will result in a

[2020-10-18 09:00] efiop commented on #2397
Great points! Just for the record: that behaviour might be revisited in https://github.com/iterative/dvc/issues/829#issuecomment-711137723

But yeah, for now we could potentially just add some logic to clean up such cases.

[2020-10-18 10:14] efiop commented on #4557
@nik123 To be honest, this feature seems pretty synthetic and only useful for automation. Feels like we are inventing some special filter syntax for no good reason. Have you considered `--show-json` instead?

[2020-10-18 10:49] efiop commented on #3673
Ok, there was a misunderstanding on my side. Keeping it opened for not downloading the thing to begin with.

[2020-10-18 13:27] nik123 commented on #4557
@efiop, thanks, I'll try it out.

[2020-10-18 17:24] julsal commented on #4633
A test connecting to the real OSS (#4735) doesn't show any error. So, the error might come from the emulator.

[2020-10-18 17:32] efiop commented on #4633
Thank you for the research @julsal ! :pray:

[2020-10-18 17:33] efiop commented on #4705
@karajan1001 Great point about the git. Git indeed supports some globing natively, so to match it we also need to pass the targets through `os.glob`. The use case is limited to shells that don't support globbing natively (I'm surprised PS didn't do that, maybe I'm missing something), so it is pretty limited :slightly_frowning_face:

[2020-10-18 21:42] dmpetrov commented on #995
It is not relevant anymore with new variables in dvc.yaml (#4734) as well as params.yaml.

[2020-10-18 21:42] #995 closed

[2020-10-18 21:48] dmpetrov commented on #1018
That was really helpful long-running discussion. It helped us a lot in identifying a possible solution #3633 and the first implementation #4734.

Let's close this issue and move all the discussions to #3633.

[2020-10-18 21:48] #1018 closed

[2020-10-18 21:56] dmpetrov commented on #1119
Great discussion! The first implementation is coming #4734. It does not completely solve this use case but it is a foundation for the next step - #331.

Let's close this issue and move all the discussions to "umbrella" issues #3633 & #331.

[2020-10-18 21:56] #1119 closed

[2020-10-18 22:01] dmpetrov commented on #4213
The first implementation is coming #4734. The next step is #331.

Let's close this issue and move all the discussions to "umbrella" issues #3633 & #331.

[2020-10-18 22:01] #4213 closed

[2020-10-19 06:26] #4708 closed

[2020-10-19 07:47] pmrowla commented on #4440
This should get resolved by something similar to `dvc exp gc ...` which will garbage collect un-needed experiments and their related cache artifacts. This needs to be implemented before release, but is not a priority issue yet

[2020-10-19 08:32] skshetry commented on #4720
@davesteps, `dvc import/get` are mainly imported from getting artifacts from remote. `import` only deals with the DVC repo, whereas `get` is more general, on that it supports downloading files from git repos too, and can be used without being inside a DVC repo. So, due to this, `get` has to work without any cache.

But, we are working on this, and this issue is similar to `dvc list` not working fo

[2020-10-19 08:53] #4637 closed

[2020-10-19 09:18] MatthieuBizien commented on #4213
Thanks for #4734, it address one of the major limitation of DVC! But this issue is about something different, more powerful, so I don't think it should be closed.

[2020-10-19 09:39] pared opened #4741 "Ambiguous message for non-plot target on plots modify"
DVC version: `1.8.4`

After #4590 we support plotting for any "plot-able" file.

Support for plotting does not mean support for modifying the plot - since we don't have a place to write the information to.

`plots modify`-ing non plot file will result:
`ERROR: Unable to find DVC-file with output '{filename}'`
This message should probably be more clear in this context. Something like
`ERROR: '{file

[2020-10-19 11:32] peper0 opened #4742 "Make that `dvc repro --pull` pulls all missing files."
According to help for `dvc repro`:
[code]
and that's what it does. Pulls missing files that are **outputs restored from the run-cache**. But if there are outputs missing from "sources" (i.e. dvc files having only output and no command at all), it won't pull them. These must be pulled separately with a `pull` command.

Why not change it into "pull whatever is missing and necessary for this repro"?

[2020-10-19 14:12] efiop commented on #4742
Hi @peper0 !

It is the plan :slightly_smiling_face: For now it is limited to run-cache, but we'll add support for data sources soon. Stay tuned! :slightly_smiling_face:

[2020-10-19 15:08] karajan1001 commented on #4705
@efiop
I tested on my computer, PowerShell didn't expand patterns.

![image](https://user-images.githubusercontent.com/6745454/96468955-42fcf800-125f-11eb-99dd-f904f18986b6.png)
![image](https://user-images.githubusercontent.com/6745454/96468703-f9aca880-125e-11eb-90a8-c4fd2d18e9d5.png)

We have to implement wildcard expansion ourselves.

[2020-10-19 15:36] kweston opened #4744 "dvc diff takes forever"
## Bug Report
Running a dvc diff took about 70 minutes to run.
### Please provide information about your setup

**Output of `dvc version`:**

[code]
DVC version: 1.8.1 (pip)
---------------------------------
Platform: Python 3.7.7 on Linux-4.15.0-101-generic-x86_64-with-debian-buster-sid
Supports: gs, http, https
Cache types: hardlink, symlink
Repo: dvc, git

**Additional Information (if any):**

[2020-10-19 15:39] efiop commented on #4705
@karajan1001 Thanks for the research! :pray: So we indeed need to pass targets through os.glob to implement that. We could start with doing just that only in `dvc/repo/add.py`, but there might be a better way to do it everywhere. Obviously we could add a custom argparse `action` that would pass the targets through os.glob, but it seems to be more fitting to implement it on API level (dvc/repo/) in

[2020-10-19 16:05] efiop commented on #4744
Hi @kweston !

Could you please run

[code]
and post `diff.prof` and `log.log`?

[2020-10-19 16:39] efiop commented on #4686
Closing in favor of https://github.com/iterative/dvc.org/issues/1865

[2020-10-19 16:39] #4686 closed

[2020-10-19 17:09] efiop commented on #4724
@davesteps @karajan1001 We have an upcoming experimental feature for experiment checkpoints https://github.com/iterative/dvc/issues/4498 , maybe it would be useful in your scenario as well?

[2020-10-19 17:22] efiop commented on #1615
Closing as stale.

[2020-10-19 17:22] #1615 closed

[2020-10-19 17:26] efiop commented on #1403
With new dvc.yaml we have stage names that could be passed to `dvc repro`. The output-based targetting is implemented for status/push/pull/checkout/etc. Closing for now as output-based targetting no longer get's requests.

[2020-10-19 17:26] #1403 closed

[2020-10-19 17:31] efiop commented on #1511
Closing as stale. `gc --dry-run` itself doesn't get much requests these days, and we have https://github.com/iterative/dvc/issues/2325 as an umbrella issue.

[2020-10-19 17:31] #1511 closed

[2020-10-19 17:36] efiop commented on #2234
No longer relevant with the new config.

[2020-10-19 17:36] #2234 closed

[2020-10-19 17:37] efiop commented on #2145
No longer relevant with the new dvc.yaml design. E.g. now it will fail with
[code]

[2020-10-19 17:37] #2145 closed

[2020-10-19 17:47] #4325 closed

[2020-10-19 18:07] efiop commented on #4741
Oops, my fault for marking everything in plots as being able to work without repo. Sending a quick fix.

[2020-10-19 18:11] efiop commented on #4741
Ah, ok, I misread the issue. This is not about working in non-dvc repo, but just `dvc plots modify` in general. Ok, nevermind.

[2020-10-19 19:27] DanielHiggs opened #4746 "dvc checkout --ignore-missing; build workspace even if some data is missing in local cache"
Currently 'dvc checkout' will fail with an error if the local cache does not contain all of the data specified by the repository and it will not construct any workspace directories.

For situations when having a partial subset of the repository's data is still useful, it would be nice to have an '--ignore-missing' option for the checkout command. When this option is invoked, 'dvc checkout' will cr

[2020-10-19 20:18] kweston commented on #4744
[log.log](https://github.com/iterative/dvc/files/5404442/log.log)
[diff.prof.gz](https://github.com/iterative/dvc/files/5404448/diff.prof.gz)
Hi @efiop
Here you go

[2020-10-19 23:20] tomasfarias commented on #4687
I'd like the chance to work on this if nobody is taking it already. If it's not too much of a hassle, I have created a draft PR to discuss a few points: https://github.com/iterative/dvc/pull/4747

Documentation issues/work is still missing, but I intend to also tackle it once the PR has been ironed out.

[2020-10-20 03:50] pmrowla commented on #4744
This is most likely the diff directory performance issue (#4580) which was addressed in DVC 1.8.2. @kweston can you update DVC and then try running diff again?

[2020-10-20 05:13] efiop commented on #1618
Fixed by #4694

[2020-10-20 05:13] #1618 closed

[2020-10-20 05:54] #4709 closed

[2020-10-20 06:25] skshetry commented on #4653
No longer needed, we can track flaky tests using https://flaky-dashboard.web.app/org/iterative/dvc

[2020-10-20 06:25] #4653 closed

[2020-10-20 06:26] efiop commented on #4213
@MatthieuBizien Have you considered the alternative approach that @skshetry suggested? For now we are not sure if we will ever allow dynamic generation like you've suggested, as there are alternatives like parametrization or generating the whole pipeline programmatically.

[2020-10-20 06:41] gmrukwa commented on #1277
Hello there! Is anyone working already on this issue? I would love to sync if I could help, to avoid duplication of work.

[2020-10-20 06:45] pmrowla commented on #4746
Worth nothing that we likely need this same behavior internally for checkpoint experiments, so it would not be too difficult to just add the `dvc checkout` command option once the checkpoints work is completed.

[2020-10-20 07:08] efiop commented on #1277
@gmrukwa Doesn't look like it. Feel free to give it a shot :slightly_smiling_face:

[2020-10-20 10:32] pared opened #4752 "Investigate TestCmdCacheDir failing on MacOs and non-realpath repo."
In https://github.com/iterative/dvc/pull/4673, on MacOs we need to expand the temporary directory to its real path in order to make a test for relative cache dir setup pass. I tried to investigate why it fails without `os.path.realpath` and came up with following test:

[code]

The test seems to pass both on Linux and MacOs.

Investigate why TestCmdCacheDir fails if we don't wrap `self.mkdtemp` in

[2020-10-20 11:24] pmrowla commented on #4752
It looks like there's an issue with `os.mkdir` has issues when you mix relative paths (with `..`) and symlinks on mac? The original test fails when we use `os.makedirs()` to generate cache directories

[code]

[2020-10-20 11:37] pmrowla commented on #4752
I played around with it a bit more and it looks like the issue is specific to the `/private/...` symlink setup (and relpaths with links to other paths work as expected). Seems like the solution is to just do the `realpath(mkdtemp(...))` wrap like you've already implemented in the cache directory test.

[2020-10-20 12:44] #4707 closed

[2020-10-20 13:11] efiop commented on #4513
@ricoms Are you still running into this issue? Unfortunately didn't have time to research it further and I don't think we've got any reports from other users. So might be some issue in your particular setup.

[2020-10-20 13:12] pared commented on #4752
@pmrowla thanks for researching the subject, I have to admit that doing that without mac is troublesome. In that case I guess we can close that one.

[2020-10-20 13:12] #4752 closed

[2020-10-20 13:15] pared commented on #4559
@steffansluis could you try replacing

[code]

with
[code]
?

[2020-10-20 14:38] ricoms commented on #4513
Hi @efiop , I'm thanks for looking into it, I'm not running into this problem because I'm basically avoiding to use the VSCode terminal when using DVC or any other projects I'm working on.

we can close this issue, although someday in the future I would like to understand what is happening xD

[2020-10-20 14:40] #2799 closed

[2020-10-20 15:22] pmrowla commented on #2799
Closed since experiments functionality has been implemented internally (but not released/finalized). At this point, it will be more useful for specific experiments related issues to be handled in their own tickets.

[2020-10-20 15:32] pmrowla opened #4756 "checkpoints: `--continue` with no arguments should resume the most recent experiment"
Now that branches are sortable by most recent commit, this just requires a command update

[2020-10-20 17:17] kweston commented on #4744
You are correct. Updated dvc to v1.8.4 and now it takes just 16 seconds for a diff. I can live with this. Thanks for the help!

[2020-10-20 20:05] efiop commented on #4513
@ricoms Ok, closing for now then. If anyone else is running into this issue please let us know and we'll reopen. Thank you! :pray:

[2020-10-20 20:05] #4513 closed

[2020-10-20 20:09] efiop commented on #4744
Closing for now. There will be more optimizations soon, stay tuned! :wink:

[2020-10-20 20:09] #4744 closed

[2020-10-20 23:49] jorgeorpinel commented on #2145
Sounds good.

[2020-10-21 07:05] pared commented on #4446
We still need to support no repo `show` scenario. Added to checklist (before it was joined with `GitRepo`).

[2020-10-21 08:25] #4756 closed

[2020-10-21 08:45] efiop commented on #4446
@pared `dvc plots show`? It should be already there.

[2020-10-21 08:56] pared commented on #4446
@efiop I get `"." is not a git repository` upon running following script:
[code]

[2020-10-21 09:31] efiop commented on #4446
@pared Ah, I misunderstood. Without git repo too, yeah, I don't think that one was planned for. But good to have for consistency :+1:

[2020-10-21 09:42] pared opened #4762 "unable to plot file from repo subfolder"
DVC version: `1.8.4`

[code]

fails with `unexpected error - 'plot.json'`

Need to fix for both Git repo and DVC repo.

Probably related to: #4665 #4559

Also, as @sudoandros mentioned under #4665 this error does not happen when dealing with `metrics`.

[2020-10-21 10:43] kaleidoescape opened #4763 "broken symlink breaking dvc add"
## Bug Report

When you have a folder with a broken symlink inside of it, `dvc add` fails with an unexpected error. Below is the traceback error, with the dvc version at the end. Beneath that, I have written steps to reproduce the issue from a fresh run.

[code]

**Additional Information (if any):**

To reproduce from a fresh folder:

[code]

[2020-10-21 10:45] efiop commented on #4763
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/768424218017660960

[2020-10-21 13:55] efiop commented on #2359
Another request from ODS user about the same thing but for `dvc add`.

[2020-10-21 15:22] SNeugber opened #4766 "md5 hash calculation breaks on ssh remote for filepaths with spaces"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

When tracking external outputs on an SSH remote, the md5sum command breaks when there are files with spaces in their path.

(PR for fix will follow shortly)

[2020-10-21 15:25] efiop commented on #4766
Likely related https://github.com/iterative/dvc/issues/4628

[2020-10-21 17:34] sjawhar opened #4768 "Experiments: Modifying parameters in lists"
## Description of requested functionality
One of the things I do in my project is define a neural network model as a list of layers in params.yaml. I'm thinking it would be useful to `dvc exp run` and tweak different aspects of the model. However, accessing parameters inside lists is currently not supported. For example:
[code]
Let's say I want to change the number of LSTM units. I think I should

[2020-10-21 20:21] efiop commented on #4628
@jorgeorpinel That one is not related to this issue. We simply didn't escape the command ourselves, paramiko shouldn't take care of that for us, as commands are crafted by us. Will be fixed by https://github.com/iterative/dvc/pull/4767

[2020-10-21 22:24] ivyleavedtoadflax opened #4770 "Implement the --show-md flag for dvc metrics show"
Currently I can do `dvc metrics diff --show-md` to get a markdown formatted table of metric diffs, but this isn't implemented for `dvc metrics show`. It would be great if it was!

[2020-10-22 02:05] damakuno commented on #4136
@efiop @Suor can I work on this issue?

[2020-10-22 04:23] godfryd commented on #4136
@efiop I started looking into this.

[2020-10-22 04:25] shcheklein commented on #4136
@damakuno thanks 🙏 to clarify, we discussed this with @godfryd offline a while ago and he had agreed to take a look. Could you please find another ticket? Let me know if you need my help on this.

[2020-10-22 04:37] damakuno commented on #4136
@shcheklein alright,  I'll look for another ticket then 👍

[2020-10-22 05:27] damakuno commented on #4288
Does this still need to be worked on? If so can I work on this? I'll need some guidance on where to start.

[2020-10-22 10:57] #4628 closed

[2020-10-22 10:57] #4766 closed

[2020-10-22 15:10] jankrepl opened #4773 "Support @ as HEAD"
Git supports the usage of the **at symbol** `@` and it is equivalent to `HEAD` ([more details](https://github.com/git/git/blob/d2446dfd7f3b3f8948142cfb07a0270e2497d93f/Documentation/RelNotes/1.8.5.txt#L100)).

If I am not mistaken, `dvc` does not support it. At least the following command fails for `dvc==1.8.4`:
[code]
[code]

Thank you in advance for the response!

[2020-10-22 17:28] efiop commented on #4288
@damakuno Sure! The above comment is talking about https://github.com/iterative/dvc/blob/0669d8d885307edff8971c75ee569baf6f65450c/dvc/tree/http.py#L143 .

[2020-10-22 19:01] davesteps commented on #4724
@efiop It sounds like the checkpoints feature is very close to what I would like to achieve. I'm certainly willing to give it a try when it is available. I also wasn't aware of the `--outs-persist` option which could be useful. Thanks.

[2020-10-22 20:13] efiop commented on #4770
Should be trivial after https://github.com/iterative/dvc/pull/4706

[2020-10-22 21:14] efiop commented on #4724
@davesteps There is no official documentation yet and it is still an experimental feature, but we have a wiki for it https://github.com/iterative/dvc/wiki/Experiments#checkpoint-experiments . Consider taking a look.

[2020-10-22 21:16] efiop commented on #4773
For the record: verbose log:
[code]

[2020-10-22 21:18] efiop commented on #4773
Likely it is https://github.com/gitpython-developers/GitPython 's issue.

[2020-10-22 21:23] efiop commented on #4773
Yep, can confirm that changing https://github.com/iterative/dvc/blob/ec05e6026f73e6912db5a25ed091aca1f1b828b0/dvc/scm/git.py#L418 to `repo.git.rev_parse` does solve the issue. We use python implementation for rev-parse because it is faster and we fallback to git's rev-parse if it is not implemented in gitpython. We might try to fallback to it on ValueError as well though, but need to check if that

[2020-10-22 23:26] jorgeorpinel commented on #4628
Bit some times there are limitations in out dependencies that are too difficult to address, I think e.g. https://github.com/iterative/dvc/issues/4392#issuecomment-674448191 which is fine, I think.

Anyway, glad this is resolved ✌️

[2020-10-23 03:17] damakuno commented on #4288
Noted, I can add more functional tests to `dvc/dvc/tests/funct/test_tree.py` to verify that it's raising Exceptions as intended yeah? Now I'm wondering how to initialize a http remote to perform the test though...

[2020-10-23 05:35] #4768 closed

[2020-10-23 07:11] efiop commented on #4288
@damakuno Simple unit test would be enough, no need for a functional one :slightly_smiling_face: It would be added to tests/unit/remote/test_http.py .

[2020-10-23 07:40] pmrowla opened #4777 "checkpoints: checkout sometimes fails when untracked files already exist"
[code]

[2020-10-23 08:32] pmrowla commented on #4654
Should note that the original issue (#1648) which `contains_symlink_up_to` was supposed to address appears to be broken again in current master:

[code]

[2020-10-23 09:45] pared opened #4779 "Introduce a way to update plots."
After #4775

we change `confusion` template and introduce new `confusion_normalized`.

The only way to rewrite them in the existing repo is to `dvc init --force`.

We should provide an easy way to update the plots (eg `dvc plots update`) and a way to give the user feedback that his templates are out of date.

To communicate with users that actually want to see this information, I would add a verif

[2020-10-24 13:59] gamis opened #4782 "Better way to add large directories"
Apologies if this is a duplicate.

Currently, dvc lets you add a directory in two different ways:
* As a monolith, where there is a single .dvc file in git, pointing to a big json file in the dvc cache
* As individual files, where you have a bazillion .dvc files, one for each file in the directory

Neither is a great choice for large directories where you need to modify files independently:
* If y

[2020-10-24 21:03] tomasfarias opened #4783 "Linting failures caused by using dict with keyword arguments"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

Note: This should also happen in 1.9.0 since it doesn't have to do with `dvc` itself but with `flake-comprehensions`, I just happen to be working in 1.8.4 at the moment.

**Additional Information (if any):**

`flake-comprehensions` reverted a change and is now flagging all `dict` calls with keywor

[2020-10-25 09:23] aerubanov commented on #4176
I would like to try to implement this function

[2020-10-25 12:27] haberdashPI commented on #4176
Go for it! I started an attempt a while back but it looks like a bit has changed with the internals, and I won't have a chance to take a crack at it for at least another few months.

[2020-10-25 17:51] #4783 closed

[2020-10-26 04:18] shcheklein opened #4787 "tree: better NotImplemented error handling"
In certain cases (e.g. remote doesn't support external dep, import-url, etc) we throw a `NotImplementedError` error. From the user perspective it looks like:

[code]

It is not an unexpected error. Also it is not informative- we must provide details- what kind of feature, is there some hint, is it temporary unavailable or it's impossible to implement at all, etc.

Ideally we should make deps, outs

[2020-10-26 07:22] pared commented on #4446
UI checks:
1. bad formatting:
[code]
`dvc plots show data.json`:
`ERROR: unexpected error - Expecting ',' delimiter: line 1 column 17 (char 16)`

`ERROR: failed to show metrics - Could not parse metrics files. Use `-v` option to see more details.`

[2020-10-26 07:55] karajan1001 commented on #4782
A good question.
I agreed that our detailed cache file needs to be more comparable. But all the details in a `.dvc` file might meet trouble in tracking some really big datasets ( over 1 million files inside). In this case, the whole size of the `.dvc` would go to hundreds of MB. Git is not good at dealing with such big files

[2020-10-26 09:44] Suor opened #4788 "Provide a way for .metrics.show() and .plots.collect() users to see missing files"
This is needed to warn a user that something went wrong.

[2020-10-26 10:17] pared commented on #4446
2. Missing target
[code]

Results:

`dvc plots show data.json`:
[code]

`dvc metrics show data.json`
[code]

[2020-10-26 10:26] pared commented on #4446
3. Missing target on other revision:
[code]

Results:
`dvc metrics diff master --targets metric.json`:
[code]
Seems like we have a bug here (`None` instead of `master`)

`dvc plots diff master --targets plot.json`
[code]

[2020-10-26 11:49] gamis commented on #4782
Yeah, that's a good point. There needs to be a happy medium.

What about:
* `dvc add` works as it does now, creating a big json in the dvc cache
* `dvc add --recursive` works as it does now, creating a .dvc file per child file
* `dvc add --detailed` works as I've described, where the single .dvc file has an entry per file.
    * Alternatively, `dvc add --depth N` only adds to detail to N folders d

[2020-10-26 12:12] pared commented on #4446
4. No metrics file in repo at all:

[code]
Results:

`dvc plots show`:
`ERROR: no plots in this repository. Use `--plots/--plots-no-cache` options for `dvc run` to mark stage outputs as plots.`

`dvc metris show`:
`ERROR: failed to show metrics - no metrics files in this repository. Use `-m/-M` options for `dvc run` to mark stage outputs as  metrics.`

[2020-10-26 12:42] efiop commented on #4176
For the record: the only difference is that the example used to be in `dvc/remote/` but now it is in `dvc/tree` :slightly_smiling_face:

[2020-10-26 12:56] efiop commented on #4782
`dvc diff/status` could, but they have a bit limited support for them right now. Have you tried those?

Overall I agree with @karajan1001 , storing that stuff in git will get unwieldy, even though that might be an option for some scenarios. It is not as bad as it would've been with binary files (.dvc is a yaml that is easy for git to split and store), but still we need very strong reasons to go th

[2020-10-26 13:04] efiop commented on #4787
For the record: we use RemoteActionNotImplemented for nicer error where we expect them, and NotImplementedError for abstact methods. But we do have some mixups. Need to switch to ABC for a base tree so these cases are easier to distinguish.

[2020-10-26 14:11] efiop commented on #4779
Another option is to not generate default templates at all. Our code is currently able to just get the default template from our code if the template file doesn't exist in .dvc/plots. So users need to put a template file to .dvc/plots only if they want to use that particular template (adjusted or not) instead of default ones.

[2020-10-26 15:52] shcheklein commented on #4787
from the message for `RemoteActionNotImplemented` I see that it's mostly for those actions that are impossible to implement at all (not supported != not implemented to me actually). Ideally we should distinguish with those that are not implemented yet, e.g. we have a ticket for this.

[2020-10-26 16:14] shcheklein commented on #4788
@Suor could expand a bit on the scenario?

[2020-10-26 16:41] pared opened #4792 "Investigate flaky tests_open_granular[azure]"
`tests/func/test_api.py::test_open_granular[azure]` seems to be failing sometimes ([example](https://github.com/iterative/dvc/pull/4791/checks?check_run_id=1309923097)). We need to fix it.

[2020-10-26 17:21] #4418 closed

[2020-10-26 18:05] #4762 closed

[2020-10-26 23:21] #4692 closed

[2020-10-27 07:19] jmunox commented on #1277
@gmrukwa Thanks for taking the lead here :) I am quite busy with work and studies at the moment.

I started looking at this as example:
https://github.com/j-min/pydropbox

[2020-10-27 07:32] Suor commented on #4788
Now absent files, usually from cache, which wasn't checked out, are silently skipped. `Repo.metrics.show()` makes a warning, `Repo.plots.collect()` is silent. I want to get some info when I call either of those, like a list of missing files.

[2020-10-27 09:02] pared commented on #4665
@sudoandros
We found the bug that might be responsible for this issue.
It is fixed in #4762
Could you try out installing from master and verifying whether the problem still occurs?
If not, the fix will be in next release. (current is `1.9.0`).

[2020-10-27 11:59] jnothman opened #4794 "status: detect moved artifacts"
## Bug Report

Moving or renaming a file in an imported registry will result in `dvc status` failing with an ERROR.

### Steps to reproduce

[code]

### What happened

[code]
EXIT STATUS 1

### What I expected

[code]

by analogy to

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provid

[2020-10-27 13:39] #4654 closed

[2020-10-27 15:10] pared commented on #4455
NOTE: accepting any viable file is already implemented in #4446

[2020-10-27 15:35] efiop commented on #4665
For the record: 1.9.1 is out with the fix. exe installer will be available https://github.com/iterative/dvc/releases/tag/1.9.1 in a few minutes.

Closing for now.

[2020-10-27 15:35] #4665 closed

[2020-10-27 16:58] LucaButera opened #4796 "Pushing artifacts via WebDAV results in a 411 Length Required response"
## Bug Report

I am trying to connect to a remote via WebDAV. I can correctly setup user and password along with the url, but when I try to push the artifacts I get a ```411 Length Required``` response. How can I solve the missing header problem?

### Please provide information about your setup

DVC version: 1.9.0 (brew)
---------------------------------
Platform: Python 3.9.0 on macOS-10.15.7-x86

[2020-10-27 17:18] efiop commented on #4796
Hi @LucaButera

Please show full log for `dvc push -v`.

[2020-10-27 17:38] LucaButera commented on #4796
[code]

This is the full output, minus the user field which is changed to <user> for privacy reasons.
Hope this can help.

[2020-10-27 17:51] efiop commented on #4796
Any info about the server? At the first glance seems like the server is not understanding the chunked upload. Might be missing something though. CC @iksnagreb

[2020-10-27 17:54] LucaButera commented on #4796
The server is a Switch Drive, which is a cloud storage provider based on ownCloud. I would assume the WebDAV server is the same as ownCloud, but I don't have further info

[2020-10-27 18:01] gamis commented on #4705
+1 on this feature!

[2020-10-27 18:05] efiop commented on #4796
@LucaButera Thanks! So likely it is a bug in https://github.com/ezhov-evgeny/webdav-client-python-3 , need to take a closer look.

[2020-10-27 18:10] gamis opened #4797 "dvc add deletes file when cache type fails on Windows"
### Setup
* Windows client, where support for symlinks clearly didn't get applied. This has happened on all our Windows machines. It may have something to do with the way our corporate IT has set up Windows.
* Shared dvc cache on a samba mount. Samba server happens to be 3000 miles away from client.
* cache type symlink

### Situation
* Try to add a file via a line like `dvc add foo.dat`.
* File g

[2020-10-27 18:13] gamis commented on #4782
I have not tried `dvc diff` enough! I'll give that a try.

However, that doesn't totally solve the issue. `dvc diff` will let me see which files changed, but I wouldn't be able to cherry-pick some changes and not others. They'd still be a monolith as far as `dvc checkout` is concerned.

[2020-10-27 18:20] LucaButera commented on #4796
@efiop After browsing the source code it seems plausible to me. Mind that I am able to connect to the server through MacOS Finder, so it doesn't seem a server issue.

Sadly the ```upload_to``` method in the webdav library does not allow to pass headers, even though the underlying method that performs the request allows custom headers. They even have an issue open regarding this subject https://git

[2020-10-27 19:51] iksnagreb commented on #4796
@efiop @LucaButera Can we try to figure out, whether it is really (only) the chunked upload and not something else?

@LucaButera If you have a copy of the dvc repository and some time to try something: It should be quite easy to change the `_upload` method of the `WebDAVTree` to use the `upload_file` method, which irrc does no chunking of the file.

https://github.com/iterative/dvc/blob/master/dvc

[2020-10-27 20:28] shcheklein commented on #4788
@Suor got it, thanks! (does it come from the Viewer - like detect when we need credentials to be set?)

[2020-10-28 00:54] pmrowla commented on #4782
Just to clarify, by "cherry-pick" do you mean pulling/checking out specific versions of specific files inside the directory (without having to use `git checkout <rev>` and `dvc checkout`)?

`dvc get` supports downloading specific files (or entire subdirectories) from inside a versioned directory. So you could try using `dvc diff` to figure out which revision of the file you are looking for, and th

[2020-10-28 01:31] pmrowla commented on #4797
So in this case what's probably happening is that technically there is no data loss since the files are properly moved into the cache (on your SMB share). However, due to our `cache.save` behavior we end up making it look like a loss of data because of the symlink failure.

So the issue is that for `cache.save` the move from workspace to cache on its own is atomic, but the entire "move + link" ste

[2020-10-28 04:27] dmpetrov commented on #4782
`dvc pull` can also "cherry-pick" a file or a dir:
[code]

However, today DVC cannot add a file without pulling the entire dir #4657 Also, it might be a problem to pull a subset of files based on filename pattern like `img8*.jpg` or get a list of file to pull from a label-format file.

The idea of keeping `.dir` content in Git can be a good option in some cases. It codifies the entire dirs to Git

[2020-10-28 06:28] pared commented on #4559
@alexdmiller @steffansluis seems like we found root cause for the `unexpected error` issue, it should be fixed in #4762. Can I ask you to  check whether it still exists after `1.9.1`?

[2020-10-28 07:05] pared commented on #4446
Additional scenario: https://github.com/iterative/dvc/issues/4788#issuecomment-717047501

[2020-10-28 10:16] lefos99 opened #4798 "dvc params diff doesn't compare commits properly"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**
[code]
Hey all,
So I encountered a problem by running my dvc experiments, so let me describe it:

Steps:
### Running first experiment ###
1. Firstly I run `dvc repro evaluation_v1`. This is the stage that triggers my whole pipeline:
![image](https://user-images.githubusercontent.com/9488658/97420836-18203d

[2020-10-28 10:37] LucaButera commented on #4796
@efiop @iksnagreb I will try to modify the source in the afternoon and report to you.

Concerning the creation of the base folders, yes they get created, so connection to the server should be working.

[2020-10-28 10:49] pmrowla commented on #4798
`[37959] Failed to execute script __main__`
This makes it look like it might actually be a process crash.

If you just run `dvc params diff` with no arguments, do you see the same error message? (Using no arguments will diff your current workspace with HEAD, but even if there are no changes the process should normally just exit cleanly with a `0` return code)

[2020-10-28 11:02] lefos99 commented on #4798
By running `dvc params diff --verbose`, I get the following:
[code]

[2020-10-28 11:44] fedorov commented on #3005
I had the error below when I tried to push to a newly created GS remote, while regular `gsutil` commands worked fine. `gcloud auth login` didn't fix the problem, but `gcloud beta auth application-default login` did.

![image](https://user-images.githubusercontent.com/313942/97431484-c322fd80-18f0-11eb-9fe9-11d6fb589eb1.png)

[2020-10-28 11:52] pmrowla commented on #4798
Ah ok, so the error message is just from the analytics daemon and is unrelated.

One other possible thing I noticed is:

You should also be `git commit`'ing your changes to your parameters file (`config_train_debug.json`). If you are only committing `dvc.lock` changes, that would be the cause for your problem.

`dvc.lock` is used internally in certain parts of DVC as a way for us to see that "this

[2020-10-28 12:00] mvshmakov commented on #3005
Feels like @Suor can help with that. Sorry for such a late response, I've missed the notification.

[2020-10-28 12:04] gamis commented on #4782
Thanks, Dmitry. I'll definitely try out dvc diff, but I also think .dir codification could be nice!

[2020-10-28 12:06] gamis commented on #4797
Technically no loss of data, agreed, but data that you can't access is still data loss from the user's perspective!

[2020-10-28 12:23] skshetry commented on #4796
@LucaButera, to see if the chunking upload is the issue, you could also try sending a curl request with chunking upload:
[code]
Also, check without that header. If the files are uploaded successfully on both instances, something's wrong with the library. If it's just the former, chunking upload might have been forbidden on the server entirely.

[2020-10-28 13:01] lefos99 commented on #4798
Perfect! Thanks for the detailed and clear explanation @pmrowla ! :smiley_cat:

You may close the issue then! :+1:

[2020-10-28 13:01] #4798 closed

[2020-10-28 14:29] LucaButera commented on #4796
@skshetry I tried your suggestion which seemed quicker. Actually without the header it correctly uploads the file, while with the chunked upload it returns 411 as with dvc.

@iksnagreb  @efiop Do I have any way to perform non-chunked upload in DVC? Or I have no choice but to contact the provider and hope they can somehow enable the chunked upload?

[2020-10-28 14:42] iksnagreb commented on #4796
Hm, I do not thinks this is possible right now - at least for the WebDAV remote. It should be possible to implement an option to enable non-chunked upload, the problem I see is: This would also disable the progressbar (without chunking, we cannot count progress...) which is not obvious and might confuse users. @efiop Are there options for disabling chunking for other remotes, if yes, how do these

[2020-10-28 14:45] skshetry commented on #4796
@LucaButera, did you try @iksnagreb's suggestion? If that works, we could provide a config for disabling it.

If that didn't work, I am afraid there's no other easy solution than to contact the provider. Nextcloud/Owncloud does support [non-standard webdav extension for chunking upload](https://docs.nextcloud.com/server/15/developer_manual/client_apis/WebDAV/chunking.html) for these kind of situat

[2020-10-28 14:48] LucaButera commented on #4796
@iksnagreb actually it could be intuitive to have an option on ```dvc push``` for non-chunked upload, like, for example, setting jobs to 0.

@skshetry I am trying it, I just downloaded dvc source and I'm trying to figure it out. Will report back soon.

[2020-10-28 16:41] LucaButera commented on #4796
@skshetry I can confirm that @iksnagreb suggestion works, I have been able to push and pull from the WebDAV storage. Moreover I must say that the progressbar works, but it updates less frequently, probably on each file upload.

What should I do next?

[2020-10-28 18:33] jorgeorpinel opened #4799 "plots show "missing" options that metrics show has: -aTR and --all-commits"
Options that `plots show` doesn't have but `metrics show` does:

![image](https://user-images.githubusercontent.com/1477535/97480954-b9fa5680-1919-11eb-8aa6-e55b826dff49.png)

Should they be added? (except `--show-json`)

[2020-10-28 18:34] jorgeorpinel commented on #4799
Cc @pared

[2020-10-28 18:37] pared commented on #4799
@jorgeorpinel This is a good question, since we are aiming to unify behavior for `plots` and `metrics` in aspects like UX (errors) it would make sense to make their options consistent.

@dmpetrov am I right?

Related to #4446

[2020-10-28 18:40] jorgeorpinel commented on #4799
p.s. BTW maybe `--all-commits` could have short flag `-C`.

[2020-10-28 20:22] kumarsuraj9450 opened #4800 "[WinError 123] problem while pushing to google drive"
I was following DVC tutorial on youtube and at 'dvc push' stage I got an error :

[code]

also whenever I add remote gdrive directory .dvc\config file shows:
[code]

## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-10-28 20:27] kumarsuraj9450 commented on #4800
Even if i make changes to .dvc/config manually
[code]

Error is still there

[2020-10-28 21:03] efiop commented on #4800
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/771100323653484564

@kumarsuraj9450 Your `dvc version` output seems to be missing the version itself. Also by looking at the rest of the output, I see that you are probably using some very old version of dvc (please check `dvc --version`). Could you try upgrading (current version is 1.9) and giving it a try again

[2020-10-28 21:20] kumarsuraj9450 commented on #4800
okay i'll try

[2020-10-28 21:52] efiop commented on #4782
@gamis Btw, not sure if by cherry-picking you meant the merge process, but if you did - you might find our experimental merge-driver interesting https://github.com/iterative/dvc/issues/4162

[2020-10-28 22:04] kumarsuraj9450 commented on #4800
Thanks a lot. It's working now

[2020-10-28 22:04] #4800 closed

[2020-10-29 07:18] gillhofer opened #4804 "Permission denied with windows share accessed from a linux dvc client"
## Bug Report

### Please provide information about your setup

Remote is set to a network drive on a windows share. Reading/Writing to this share is possible.

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.

[code]

**The files do appear in the remote directory**

If the c

[2020-10-29 08:12] pmrowla commented on #4804
I'm assuming this network share is mounted via SMB/CIFS?

You most likely need to adjust your fstab mount settings in order for `chmod` to work correctly. IIRC it will likely require either mounting the share with `noperm` or with `uid` and `gid` set to the user and group ID values for the user running DVC.

[2020-10-29 09:32] PuneethaPai opened #4806 "run: Support comma separated list values of command options"
Currently only --params options support comma separated list of values.

Can we  add the same for other options like:

- [ ] --deps
- [ ] --outs & --outs-no-cache
- [ ] --outs-persist
- [ ] --metrics & --metrics-no-cache
- [ ] --plots & --plots-no-cache

[2020-10-29 10:49] efiop commented on #4794
Just to clarify: this is not a bug. Unlike git, dvc doesn't really detect the things being moved. Theoretically, we could do that, but that would introduce an additional level of complexity and could be error-prone. It would also introduce quite an overhead (at least I don't see an efficient way to do it), as we will have to parse the git history to find moved similar .dvc files, which will degrad

[2020-10-29 11:09] Askannz opened #4807 "import-url support for Google Drive"
## Bug Report

When trying to use `import-url` with a GDrive folder, this error happens:

[code]

I was told on Discord that`import-url` does not support GDrive yet and that I should open a ticket here.

**Output of `dvc version`:**

[code]

[2020-10-29 11:13] efiop commented on #4807
Closing in favor of https://github.com/iterative/dvc/issues/2865 .

The message `dvc.dependency.base.DependencyDoesNotExistError: dependency 'data/gdrive:/someFolderId' does not exist` looks odd too, will be handled when implementing.

[2020-10-29 11:13] #4807 closed

[2020-10-29 11:25] sudoandros commented on #4665
Hey, @pared. Sorry for the delay. I see you don't need my help anymore :) But yeah, I can confirm the issue is fixed. Thanks!

[2020-10-29 11:38] pared commented on #4665
@sudoandros I am glad to hear that!

[2020-10-29 11:55] iksnagreb commented on #4796
Then lets think about implementing something like `dvc remote modify <remote> chunked_upload false` (I think `true` should be the default). Maybe `chunked_transfer` or just `chunked` would be a better name as this might apply to download as well?

[2020-10-29 12:04] LucaButera commented on #4796
@iksnagreb I think `chunked` is a good choice. Otherwise, as I suggested previously, it could be an idea to have non chunked behavior when `--jobs 0` as I imagine having multiple jobs works only when using chunks. But I might be wrong.

[2020-10-29 12:46] iksnagreb commented on #4796
Hm, I think jobs just control how many upload processes to start in parallel, each of these could then be a chunked or non-chunked transfer. You are might right, that more jobs makes sense with chunking (as it allows for transmitting and reading from disk more parallel), so there is probably not much (performance) benefit from a single chunked job. But I do not known much about the jobs thing (@ef

[2020-10-29 13:05] LucaButera commented on #4796
@iksnagreb then I think having something like `chunked false` with `true` as default should be a nice solution.

It could also be overridden by a command option on `dvc push` and `dvc pull`.
This can allow the user to change the option on the fly in a non permanent way.
I don't know if it has use cases, but should be easy to implement.

[2020-10-29 17:39] efiop commented on #4796
Seems like adding a config option for it would greatly worsen the ui. Not having a progress bar is a very serious thing. I also don't like the idea of introducing a CLI option, because that seems out-of-place. Plus it potentially breaks future scenarios in which  dvc would push automatically.

I'm genuinly that this problem even exists, hope we are not simply missing some info here.

If I understa

[2020-10-29 17:48] iksnagreb commented on #4796
Uff, yes, did not even think about this yet... You probably not want to adjust the timeout config depending on your expected file size, so chunked transmission is the only solution to avoid timeouts per request.

[2020-10-29 17:49] LucaButera commented on #4796
@efiop I think you are right with the large files issue. Tell me if I got this straight. The problem here is not chunking being enabked or not but rather the fact that chunking is implemented in a peculiar way in this provider's webdav. Is this correct?

Mind that this platform is based on ownCloud and not nextcloud. Don't know if that is relevant.

[2020-10-30 00:01] #4797 closed

[2020-10-30 05:07] skshetry commented on #4796
I'm also facing similar but slightly different issue with "Nextcloud + mod_fcgi" (which is a [bug](https://bz.apache.org/bugzilla/show_bug.cgi?id=57087) in httpd2), in which files are uploaded empty.

The original issue might be due to that bug (not fixed yet) or, [this bug](https://bz.apache.org/bugzilla/show_bug.cgi?id=53332) which was only fixed 2 years ago (OP's server is `2.4.18`, whereas rec

[2020-10-30 08:12] LucaButera commented on #4796
@skshetry it would be wonderful to have a simple solution like that.

On the other hand a more reliable solution like the one of the "assembly on pull" seems also a nice feature in the long run.

I have never contributed to open source projects but I am willing to help if needed, as I think DVC is really a much needed tool.

[2020-10-30 08:54] pared commented on #4806
So, effectively, we would forbid coma in output name? We need to remember that currently, it is allowed.

[2020-10-30 09:48] jpaasen opened #4812 "Error upgrading from 1.9.0 to 1.9.1 - libass"
DVC is successfully updated to 1.9.1, but the upgrade of dependency libass fails.

[code]

[2020-10-30 09:59] pmrowla commented on #4812
libass is not a DVC dependency, it's likely being upgraded due to some other package you have installed via homebrew

[code]

[2020-10-30 09:59] #4812 closed

[2020-10-30 10:01] pmrowla commented on #4812
You should be able to find what package requires it using `brew deps --tree` without a package name, but this is either a general homebrew issue or some other (non-DVC) package

[2020-10-30 10:11] jpaasen commented on #4812
Ok. Good. Thank you.

[2020-10-30 14:47] #2359 closed

[2020-10-30 22:13] algal opened #4814 "dvc move provides incorrect instructions for how to track the change in git"
## Bug Report

If you do a `dvc move` command, DVC tells you what git command you should execute in order to track the changes in git.

However, DVC provides an incorrect guidance.

It only tells you to do a `git add` operation to add the new `.dvc` file, a modified `.gitignore` file in the destination directory, and a modified `.gitignore` file in the source directory.

It does not tell you that

[2020-10-31 04:40] dmpetrov opened #4815 "--no-fetch for import and pull"
It can be useful when only a subset of files needs to be pooled or imported. From here https://discuss.dvc.org/t/working-with-a-small-subset-of-remote-data/541

[2020-10-31 05:03] dmpetrov opened #4816 "Filename patters in import and pull"
Sometimes only a subset of files is needed when the user runs `import` or `pull` data from a data directory. It is convenient to define a file pattern for an import.

From https://discuss.dvc.org/t/working-with-a-small-subset-of-remote-data/541
Related issue: https://github.com/iterative/dvc/issues/4815

Patterns to implement:
- [ ] simple wildcard `dvc pull cats-dogs/data/train/dogs/*.img`
- [ ]

[2020-10-31 05:07] dmpetrov commented on #4815
An alternative name `--dry-run` (like in `dvc run`)

[2020-10-31 12:53] BurnzZ commented on #4567
Hello everyone! I'm picking this up. :)

[2020-10-31 14:49] SanchiMittal commented on #2613
Hi, is this issue open to work on? I would like to take this @efiop @shcheklein
I am thinking of using  ```os.path.exists``` to check if the path is present. This would work if it's an abs path or a relative path without ```/``` on left, else doing ```path = path.lstrip("/")``` should remove the slash from relative paths. If anyone would like to share some better approach, please do so.

[2020-10-31 18:03] #4567 closed

[2020-10-31 18:24] shcheklein commented on #2613
@SanchiMittal sure, go for it.

I would personally go with this option though. Any magic can backfire, it's better to be explicit to my mind.

[2020-10-31 19:46] SanchiMittal commented on #2613
Okay then, shall I raise an error when os.path.exists() returns false? Also how can I check if my changes worked? Is there any specific test for it? Thanks.

[2020-10-31 19:52] shcheklein commented on #2613
If path is not found it probably already raises some error?

In this case all we need to do is to add a message in case path is an absolute one.

There are tests for get/import out there, I hope one of them can be adjusted for this case.

I guess you can first locally run any simple get/import with an absolute path? Here are some examples that can be modified - https://dvc.org/doc/start/data-acces

[2020-10-31 22:29] dmpetrov commented on #4816
Based on my experience I'd assign the priorities like this:
1. simple wildcard `*`
2. globstar/ricursive `**`
3. data `path/file-%Y-%m-%d.txt`
4. iterator/count `%C`
5. whole wildcard - `?`, `.`, `{}`

But we need to agree on the common pattern format (how to reflect the pattern in dvc-files) before implementing even the first step.

[2020-11-01 00:32] efiop commented on #4705
Closing in favor of https://github.com/iterative/dvc/issues/4816

[2020-11-01 00:32] #4705 closed

[2020-11-01 00:33] #4559 closed

[2020-11-01 07:00] simonlousky opened #4819 "Pushing multiple files to http remote fails"
## Bug Report
When trying to push over 100 files via HTTP/s, with a 5 Mbp/s upload connection, multiple files fail to upload because of a `socket timeout` exception.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

Changing the `REQUEST_TIMEOUT` to 60 seconds (same as GS timeout) in debug mode solves the issue.

[2020-11-01 09:48] skshetry commented on #4796
@LucaButera, that'd be great. See if that above snippets work. Also, make sure you test a few scenarios manually (we lack tests for webdav, though that will be added soon).

If you face any issues, please comment here or ask on [#dev-talk](dvc.org/chat) on the Discord. Thanks.

[2020-11-01 11:19] #4819 closed

[2020-11-01 23:47] dmpetrov opened #4821 "Checkpoint: separate model tuning and redesign behavior by a new command"
The current checkpoint behavior works nice in the model tuning stage but it is very painful to make code/model redesign changes and start training from scratch. It seems like we need to separate these types of users' activities by two different commands `dvc exp run` and `dvc exp continue`.

Another confusion with the current design - it is not correct to require checkpoints to be `--always-change

[2020-11-02 01:55] pmrowla commented on #4821
It seems to me like we will end up needing to define a proper checkpoint output type after all, rather than using the `persist` + `always_changed` workaround to get the internal behavior we need.

Just to clarify the current behavior, regarding

This is how `dvc exp run --continue` and `dvc exp run --checkpoint` are currently intended to work. Based on @dmpetrov's testing, there's some bugs in `--

[2020-11-02 02:16] pmrowla opened #4822 "checkpoints: reset/continue do not always behave as expected"
Issues found in testing:

* [x] `dvc exp run [-f]` does not always remove existing checkpoint output before restarting execution (so we end up continuing from there instead) (#4885)
* [x] `dvc exp run` does not always force remove existing checkpoint outs which causes repro to generate (and fail) the "do you want to proceed" prompt
* [x] checkpoints stage is sometimes (incorrectly) marked as uncha

[2020-11-02 08:14] Suor commented on #4821
In computer vision it's common enough to train a new model starting from an old one, so always starting from scratch when code or data changes might be limiting to those guys.

[2020-11-02 08:41] Suor commented on #4788
Comes from viewer. It's not about credentials, but simply showing a user that something is absent:
- forgot to `git add` a git tracked metric/plot
- forgot to `dvc push`

It's not even always possible to set credentials, e.g. if a user is using a local remote or if remote is only specified in local/global config and we don't see it.

[2020-11-02 09:11] dineshkumarsarangapani commented on #4773
If no one is taking this issue. I will take this - https://github.com/iterative/dvc/pull/4824

[2020-11-02 09:15] dmpetrov commented on #4821
Yes, it seems like it is needed.

Re the possible bug - yes, it seems like we discuss this but it not how the current version works.

@pmrowla That's a good point. It means in the manual scenario (4) the next experiment cannot be inherited from the original one (without manually specified version). But auto scenario (5) should work, right? Are there any other issues related to this limitation?

Ye

[2020-11-02 09:20] dmpetrov commented on #4821
@Suor This proposal is not about always starting from scratch. It is about explicitly supporting two modes - from scratch or from checkpoints. A scientist will be using mostly one of the modes depending on the stages he/she is in - development (when model changes and checkpoints are not compatible) or tuning (compatible checkpoints).

[2020-11-02 11:03] pmrowla commented on #4572
Closing as a duplicate of #4604, since 4604 is the one being tracked in our sprints

[2020-11-02 11:03] #4572 closed

[2020-11-02 11:09] pmrowla commented on #4821
Right, if we do something like `continue abc123 --params ...` then we could support branching directly from a checkpoint without dealing with the need to create a commit in the main repo. The main limitation for 4 & 5 is with editing params or code in the workspace, but specifying params via the command line would work for us.

[2020-11-02 11:36] courentin opened #4825 "Unexpected error on `dvc diff`"
## Bug Report
When running `dvc diff staging`, I got a KeyError, here is the traceback:
[code]

It only happens when I give a specific revision.

Any ideas? Could it be my data?

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-11-02 11:41] LucaButera commented on #4796
@skshetry Ok, I'll test a few scenarios, namely:
1) Loading many small files.
2) Loading a really large file.
3) Loading a realistic folder.

Just a question, do you need me to simply test a few cases with the snippet above or do I need to open a PR implementing the snippet and the relative config needed to use it?

[2020-11-02 11:45] courentin commented on #4825
UPDATE:
It only happens when I do `dvc diff staging`, `dvc diff staging other_branch` works. As well as `dvc diff other_branch staging`

[2020-11-02 11:48] skshetry commented on #4796
@LucaButera, It'd be great if you could make a PR. Thanks. Check [contributing-guide](https://dvc.org/doc/user-guide/contributing/core) for setup.

Maybe, no need of the config, but we can decide that on the PR discussion.

[2020-11-02 11:57] pmrowla commented on #4825
This is a `diff` bug for the case where we compare workspaces, it's not any problem with your setup or data. Should be fixed shortly in master

[2020-11-02 12:00] courentin commented on #4825
That was very fast, thank you 💪

[2020-11-02 12:16] #4825 closed

[2020-11-02 20:51] algal commented on #4814
Any interest in me submitting a PR to fix this? If the PR were good, would that be likely to make into master within a month?

[2020-11-02 20:56] shcheklein commented on #4814
@algal absolutely! that would be great 🙏 . I don't anticipate this PR to be very complex, so it should be merged fast. And we do release quite often.

[2020-11-02 23:17] efiop commented on #4816
Regarding the first step

support for dir entries will simply require treating existing `filter_info` in https://github.com/iterative/dvc/blob/6a9ab9cdfbf8ddd5ccb647b072cc36955a69a0e1/dvc/output/base.py#L403 appropriately. Right now we only check if filter equals or contains other files.

[2020-11-03 01:59] jorgeorpinel commented on #4520
Would this also solve #3305?

[2020-11-03 02:02] jorgeorpinel commented on #4520
And yes, this feature would be useful. It sounds like a "lightweight" data registry (see https://dvc.org/doc/use-cases/data-registries) for people to use DVC as an intermediary between data already hosted on cloud storage and other projects. So they can access the data with a unified interface (DVC CLI or API).

[2020-11-03 02:14] karajan1001 commented on #4816
Related #4419.

[2020-11-03 02:54] jorgeorpinel commented on #4352
Ran into this again trying to test external data, but the error is different now:

[code]

[2020-11-03 03:03] jorgeorpinel opened #4829 "version: crashes (1.9.1 Win exe installer)"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

Installed with `dvc-1.9.1.exe`

[2020-11-03 03:04] jorgeorpinel commented on #4352
p.s. still happening in 1.9.1, plus it also triggered #4829 with `-v`...

[2020-11-03 03:05] pmrowla commented on #4821
Summary of discussion with @dmpetrov:

* [ ] Use dedicated `checkpoint` output type rather than using persist outputs + `--checkpoint` run options
* [ ] `dvc exp run` will behave the same way as current `--checkpoint --reset` without requiring extra checkpoint options
    * If pipeline/stage contains checkpoint outputs, generate (or restart from scratch) a new checkpoint experiment branch
    * If

[2020-11-03 07:50] pzhy13 opened #4830 "Access is denied on Windows 10."
## Bug Report
I am just starting to use DVC to manage data files on Windows 10 x64. When I did DVC add for a large folder (2GB, 10K+ files), I got something like **`OSError: File WindowsPathInfo: '.dvc\cache\ba\0faa5f5464fde0e583677c6ef568c9' copy failed, error: Access is denied.`** or **`ERROR: unexpected error - File WindowsPathInfo: '.dvc\cache\67\9dd3f295ad11d17f5960ac093e74d7' copy failed, er

[2020-11-03 09:09] julsal commented on #2865
Dear @shcheklein and @efiop, I'm starting working today on the "*add `import-url` support for GDrive*"

[2020-11-03 12:17] skshetry opened #4835 "ci: fix coverage paths"
## Bug Report

`codecov` can calculate coverage score from the `equivalence` we set before.  But, it still cannot show the lines that are hit/not hit.
Example: https://codecov.io/gh/iterative/dvc/src/master/dvc/parsing/context.py

[2020-11-03 12:35] skshetry commented on #4835
Just opened again and it works. Don't know why it happens from time to time. Closing.

[2020-11-03 12:35] #4835 closed

[2020-11-03 13:21] #4777 closed

[2020-11-03 14:19] karajan1001 opened #4838 "import: `--jobs` option"
`dvc import` Provides an easy way to reuse files or directories tracked in any DVC repository. This external tracked data might be stored in a remote DVC repository. In this situation `--job` which controls the parallelism level for DVC to download data from remote storage would be a useful option.

[2020-11-03 17:15] efiop commented on #4406
likely the main cause https://github.com/gitpython-developers/GitPython/blob/9541d6bffe4e4275351d69fec2baf6327e1ff053/git/repo/base.py#L233

[2020-11-03 23:31] efiop commented on #4829
Unable to reproduce with https://github.com/iterative/dvc/releases/tag/1.9.1 . Could you try reinstalling?

[2020-11-03 23:32] efiop commented on #4419
Closing in favor of #4816

[2020-11-03 23:32] #4419 closed

[2020-11-04 08:58] #4288 closed

[2020-11-04 09:46] pared commented on #4830
Some context from our email exchange and one meeting:

1. Fail usually happens somewhere during copying files to the cache. Upon closer inspection during the call, we noticed that just before throwing `Acess is denied` exception, number of [hard faults](https://answers.microsoft.com/en-us/windows/forum/windows_7-performance/in-windows-7-what-is-a-memory-hard-fault/1edd5a23-757e-e011-9b4b-68b599b31

[2020-11-04 12:00] efiop opened #4841 "2.0 release checklist"
2.0 will be a major release, which is a good chance to change some things we've been talking about in a potentially non-backward compatible way. Creating this ticket as a reminder for smaller things, as they might get forgotten while working on major planned stuff. Please feel free to add other points

* ~~rename .dvc/cache into .dvc/objects(or smth like that)~~ delayed for 3.0
* ~~get rid of CRLF

[2020-11-04 13:22] pared commented on #4841
Should we consider including checksum type into `files` (eg current `cache` -> `files/md5`)? We don't have to support new checksums right away, but that would give us opportunity to make checksum "pluggable".

[2020-11-04 19:27] efiop commented on #4520
No, it won't. These are unrelated. Unless I'm missing something.

[2020-11-05 02:41] pzhy13 commented on #4830
I need to use a batch to do add for every subfolder, or the error will appear, even if I change the `checksum_jobs` to 1. If I don't change, the batch will fail to add some of the subfolders.

[2020-11-05 06:54] pared commented on #4830
@pzhy13 as far as I remember, chaning the number of `checksum_jobs` helped at least in the case of dataset we have been discussing on our call. Am I wrong?

[2020-11-05 07:32] pzhy13 commented on #4830
@pared You are right, but that dataset is far less than 2GB.

[2020-11-05 07:43] gstrauss commented on #4796
@LucaButera @skshetry FYI: lighttpd supports PUT with `Transfer-Encoding: chunked` since lighttpd 1.4.44, released almost 4 years ago.  lighttpd 1.4.54, released a year and a half ago, has major performance enhancements to lighttpd mod_webdav and large files.

What version of lighttpd are you having trouble with?

[2020-11-05 13:30] skshetry commented on #4796
@gstrauss, thanks for participating and the info. I was quoting from the Sabredav's wiki, which is more than 6 years old, so it might not be up-to-date. And, we were not using `lighthttpd`, @LucaButera's server is Apache 2.4.18 which is ~5yrs old whereas mine is Apache 2.4.46.

But, we'll bump into old web-servers, so we have to err in the side of caution and just remove chunking upload (is there

[2020-11-05 15:13] efiop opened #4847 "tree: use trie in DvcTree (or in Repo)"
We are only using outputs there and we have the metadata now, so it makes sense to just construct the trie from the repo dag and have a nice and convenient way of working with it internally instead of doing dag lookups. Potentially worth doing the same thing in the repo itself, as trie is often handier than dag (though we are already using the tree(not trie) in such places). One repo trie with bot

[2020-11-05 16:28] gstrauss commented on #4796
If you already know the content length on the client side, then there should be no performance hit.

If the upload is generated content, then the content would have to first be cached locally on the client to be able to determine the content length when `Transfer-Encoding: chunked` is not being used.  There can be a performance hit and additional local resource usage to do so.

[2020-11-05 17:31] joehoeller opened #4849 "is there a Docker image?"
is there a Dockerfile avail for this?

[2020-11-05 18:05] shcheklein commented on #4849
@joehoeller there is no Docker image that is specifically built for DVC. (What would be your use case, btw? DVC seems to be pretty lightweight to be installed independently). There is a Docker image for our second project - [CML](https://cml.dev) that also installs DVC among other things- `docker://dvcorg/cml-py3:latest`.

[2020-11-05 18:26] joehoeller commented on #4849
I need to build out a K8s deployment (helm chart)

On Thu, Nov 5, 2020 at 12:05 PM Ivan Shcheklein <notifications@github.com>
wrote:

[2020-11-05 18:31] shcheklein commented on #4849
@joehoeller would apt install work for you (as described [here](https://dvc.org/doc/install/linux#install-from-package))?

[code]

[2020-11-05 18:37] joehoeller commented on #4849
No - I’ll build a docker image and deploy it to k8 pods.

On Thu, Nov 5, 2020 at 12:31 PM Ivan Shcheklein <notifications@github.com>
wrote:

[2020-11-05 18:43] shcheklein commented on #4849
@joehoeller sorry, I didn't make it clear I guess. I mean you could use `RUN` command in your Dockerfile to install dvc. Something like this: https://github.com/iterative/cml/blob/master/docker/Dockerfile#L30 (except that you don't probably need other stuff besides `git` and `dvc`). Would it work for you?

[2020-11-06 00:22] sjawhar opened #4850 "Experiments: Executable permissions are removed"
## Bug Report
It seems that running `dvc exp run` results in +x permissions being removed from files.

**Before**
[code]

**After**
[code]

Notice the different permissions in the first and last file.

### Please provide information about your setup
Running inside a Docker container on Linux Ubuntu 20.04

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, pl

[2020-11-06 02:39] pmrowla commented on #4850
Hi @sjawhar, can you also provide the output for
[code]

[2020-11-06 03:27] jorgeorpinel opened #4854 "QA: params/vars and loops in dvc.yaml (2.0) round #1"
p.s. the items with check boxes are the most relevant things I found.

## Bugs

- [x] The "Looping through a dictionary" (given under `foreach`, not read from `vars` or params file) example from #4734 doesn't loop. `dvc repro` just runs a single stage using the given dict as the only item in the loop.

- Edge: When `use: none` (where `none` is an invalid/inexistent path) is given, no params file i

[2020-11-06 03:58] jorgeorpinel commented on #4854
This is no longer WIP cc @skshetry @efiop thanks

[2020-11-06 04:01] jorgeorpinel commented on #4854
p.s. the 3 items with check boxes are the most relevant things I found.

[2020-11-06 07:05] skshetry commented on #4854
Ahh, I posted the wrong data inside dvc.yaml.

It should be:
[code]

Thanks, this is a good one. `use` is mostly used for interpolating data for `foreach`. The stage read variables directly from `params.yaml` already (even without parametrization) by default on `params` section. Maybe, the behavior you mentioned: changing the behavior of `use` to change the default file stages look to, is more int

[2020-11-06 10:25] LucaButera commented on #4796
@gstrauss @skshetry So are you suggesting to completely remove the option for chunked upload? Doesn't this pose an issue with the upload of large files?

[2020-11-06 10:28] dmpetrov opened #4856 "Size for Git file"
DVC started tracking files and dirs size. It make sense for data files since the files are not available in the repo. Do we really need size/nfiles for files tracked by Git? Let's remove these for Git files.

[code]

[2020-11-06 12:02] skshetry commented on #4796
@LucaButera, we stream-upload the file, so it does not affect the memory usage. There should not be any issues that were not already there with this approach.

[2020-11-06 15:25] ju0gri commented on #4816
I will be taking a stab at implementing the first step for this issue.

[2020-11-06 15:36] klakhdhar opened #4857 "Make the dvc files hidden"
It would be nice to make the .dvc files hidden to be consistent with git for instance like with .gitignore.
That would make projects look visually better organized.
Thanks

[2020-11-06 17:22] dmidge8 opened #4858 "DVC import doesn't use config.local"
## Bug Report

### Bug reproducibility
Have a DVC repository which import (dvc import) another folder.
Then, on another machine, try to clone/pull the repository (cache included) with a ssh. (Sadly, `dvc -vvv` doesn't provide much relevant information, like where the temporary git clone is located). However, it does show that the username for the connection of the ssh is not replaced to the provid

[2020-11-06 18:47] mbraakhekke commented on #1676
I've [forked ](https://github.com/mbraakhekke/dvc/tree/user_supplied_md5)DVC and implemented some changes to allow the user to supply hashes in separate checksum files. If a hash is requested for a file in the dataset, DVC searches for a checksum file with the same name but suffixed with ".md5". If this is found, the hash is retrieved from the checksum file instead of using the algorithm.
I've run

[2020-11-06 19:46] efiop commented on #4436
@nik123 How about `--exit-code` like in `git diff`?

[2020-11-06 19:48] efiop commented on #4557
Hi @nik123 :) Have you had a chance to try it out?

[2020-11-06 20:12] jorgeorpinel commented on #4829
Reinstalling worked 🤦 Thanks

[2020-11-06 20:12] #4829 closed

[2020-11-06 21:20] sjawhar commented on #4850
Sure.
**Before**
[code]

**After**
[code]

No change. Running `git status` returns
[code]

Then `git add .` followed by `git ls-files -s`:
[code]

[2020-11-07 02:57] pmrowla commented on #4850
Thanks.

I think the issue probably happens because we use remote tree upload to populate the executor tempdir for experiments. Normally we force certain file permissions for DVC remotes, but in this case we should not be doing that for git-tracked files in experiments.

[2020-11-07 14:36] skshetry commented on #4858
Hi, @dmidge8. DVC does not use host's config when importing/get. We have an open issue for supporting `--remote` args: #2466.

It might be possible to set the config using `dvc config --global` to workaround for now.

Duplicate of #2466

[2020-11-07 14:39] #4858 closed

[2020-11-07 14:42] skshetry commented on #4857
Hi @klakhdhar. Could you please care to explain what you mean by hidden? The description does not help us at all.