[2020-03-23 14:56] juliensiebert commented on #2797
Hi, I actually had the same problem.
I deleted the tmp/rwlock as well, and it solved the problem.

Cheers

[2020-03-23 16:22] #3303 closed

[2020-03-23 16:31] helger opened #3523 "Failure when using S3 remote cache"
Trying to run the command

`dvc run -d s3://mybucket/data.txt -o s3://mybucket/data_copy.txt aws s3 cp s3://mybucket/data.txt s3://mybucket/data_copy.txt`

Using AWS S3 remote cache.

It fails with the error message `ERROR: unexpected error - Parameter validation failed: Invalid length for parameter Key, value: 0, valid range: 1-inf`

Attached is the log with `-v` turned on.

[log.txt](https://git

[2020-03-23 16:34] efiop commented on #3523
@helger Could you also show us your `$ dvc version` output, please?

[2020-03-23 16:36] helger commented on #3523
`
 dvc version
DVC version: 0.90.2
Python version: 3.7.4
Platform: Linux-4.4.0-1104-aws-x86_64-with-debian-stretch-sid
Binary: False
Package: pip
Supported remotes: azure, gs, hdfs, http, https, s3, ssh, oss
Filesystem type (workspace): ('ext4', '/dev/xvda1')
`

[2020-03-23 16:42] helger commented on #3523
Output of `pip freeze`

[pip_freeze.txt](https://github.com/iterative/dvc/files/4370733/pip_freeze.txt)

[2020-03-23 16:43] efiop commented on #3523
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/691688363291312139

[2020-03-23 17:09] skshetry commented on #3523
This happens because we try to create parent when trying to link from cache to workspace (and, here, parent of `s3://<bucket>/<name>` is `""`, i.e. empty).
https://github.com/iterative/dvc/blob/ee26afe65e8f9ebf11d7236fd3ee16a47f9b4fc6/dvc/remote/base.py#L380-L385

I don't think, we need to create parent directories for object-based storages except when checking out directory.

Google Cloud Storage

[2020-03-23 17:16] helger commented on #3523
@skshetry indeed adding another level fixes the issue

[2020-03-23 17:31] efiop commented on #3523
@skshetry Great catch! :pray: In general we do need to create those, because s3 and s3 tools sometimes create dirs like that, it was discussed in https://github.com/iterative/dvc/pull/2683 . We don't need-need to do that, but it is a compromise to handle both approaches. But we definitely need to handle this corner case better.

[2020-03-23 23:16] efiop commented on #3514
Another user getting this same error https://discordapp.com/channels/485586884165107732/485596304961962003/691786988235391028

[2020-03-23 23:39] #2671 closed

[2020-03-24 00:57] efiop commented on #3514
@nbeuchat Looks like you simply need to upgrade dvc (or tqdm): https://discordapp.com/channels/485586884165107732/485596304961962003/691794435029205093 . Closing.

[2020-03-24 02:26] shcheklein commented on #1691
And yet another confusing and missing option to push multiple commits I believe - https://github.com/iterative/dvc.org/issues/1087 ... may be also make sense to have `--all-commits`.

[2020-03-24 06:22] shashankpr commented on #3519
@efiop , I was able to solve my issue by first running this:
`ssh-add -K <pem file> `
After this I wasn't asked for any password nor was there any encrypted error. Sorry for the trouble and the vague problem description. I will close the issue.

[2020-03-24 06:22] #3519 closed

[2020-03-24 09:07] skshetry commented on #3523
@efiop, it depends on how you see it. We can handle this corner case, but, there's no need for us to create a directory in other cases except of #2678 cases.

i.e. `dvc add  s3://dvc-bucket/data/file` should not even try to create `s3://dvc-bucket/data/` as a directory.

[2020-03-24 11:45] #3377 closed

[2020-03-24 11:52] nik123 commented on #1691
Is this feature still in plans?

I ended up with little workaround for pushing data among various commits. I simply added git hook at `.git/hooks/pre-commit`. So every time I commit something my data is syncrhonized. Here is my hook:

[code]

Of course it noticeably increases time for each commit but it also solves my problem with data synchronization. I hope it would help someone else but me.

[2020-03-24 11:58] skshetry commented on #3377
@charlesbaynham, 3503 implemented exactly how you described. `dvc pull` will fetch using specified `rev_lock`. `dvc import` can be used to import (or, forced re-import), and update will update `rev_lock` if `rev` moves. We have `update --rev` to move to a different revision.

[2020-03-24 14:41] efiop opened #3526 "remote: use progress bar when paginating"
Followup for #3501

[2020-03-24 16:57] efiop commented on #3523
@skshetry It does that as a part of linking, so it is fine. What is actually wrong here is that corner case handling, indeed.

[2020-03-24 18:27] charlesbaynham commented on #3377
@skshetry @efiop Fantastic, thank you! I'll give it a try.

[2020-03-24 18:41] charlesbaynham commented on #3377
Works like a charm

[2020-03-25 02:04] dmpetrov opened #3528 "params diff"
Users need to compare hyperparameters (issue #3393, implementation #3515) changes in different experiments. Something like `dvc metrics diff` is needed for parameters with the same syntax.

The difference: the delta-value/change-value which is not needed since DVC treats all the parameters as strings.

Examlpe:
[code]

It should support the same set of args `--targets`, `a_rev`, `b_rev` and `--sho

[2020-03-25 02:58] pmrowla commented on #3526
Currently for `cache_exists()` threaded traverse, there is a single progress bar that shows that tracks how many cache prefixes (out of 256) have been fetched. For large remotes, fetching each prefix will still be a slow operation, and it may appear to the user that dvc is hanging.

Since we have an estimated size for the remote and know approximately how many objects/pages will be returned for ea

[2020-03-25 03:04] #3488 closed

[2020-03-25 03:12] pmrowla opened #3530 "remote: short-circuit remote size estimation for large remotes"
Follow up to #3501

Original comment:

Based on the number of local checksums passed into `cache_exists()`, we already know how large of a remote it would require for us to prefer testing if each checksum individually exists in the remote. During the remote size estimation step (when we fetch a entries under a single prefix), we can stop fetching at the number of pages which would put the size of

[2020-03-25 09:13] pared opened #3533 "Unclear error message on all-tags operation"
Context: https://discordapp.com/channels/485586884165107732/485596304961962003/692278918031474688

@javierjsa tried creating stage file and running `dvc push --all-tags target.dvc` (the target.dvc was non-existent before). The result is an error `target.dvc does not exists`.

Reproduction script:
[code]
results in

`ERROR: failed to push data to the cloud - 'data2.dvc' does not exist`

We should p

[2020-03-25 10:25] charlesbaynham commented on #2599
In the meantime, a quick fix could be a flag for `dvc pull` which tells it to ignore remotes in the source directory and only pull from local caches. Most of the time you'd need this feature your files would already be in your local caches, and if not `dvc` could just throw the normal `not found in cache` error.

[2020-03-25 11:07] Eliska-0111 commented on #3513
taking a look

[2020-03-25 18:39] #3477 closed

[2020-03-26 01:33] #3510 closed

[2020-03-26 08:56] jorgeorpinel opened #3538 "better error when output is dvcignored"
UPDATE: Skip to https://github.com/iterative/dvc/issues/3538#issuecomment-669603698

---

[code]

Having `data` in .dvcignore makes DVC commands ignore all file names starting with that string e.g `data2`, `dataset`. https://dvc.org/doc/user-guide/dvcignore links to [gitignore patterms](https://git-scm.com/docs/gitignore) but Git doesn't do that.

UPDATE: Skip to https://github.com/iterative/dvc/i

[2020-03-26 11:33] efiop commented on #3538
@jorgeorpinel So having `data`, right? Git does the same thing, hence why we use `/data` in `.gitignore` when we `dvc add data`.

[2020-03-26 15:08] skshetry opened #3540 "azure: support external dependencies and outputs"
As the title says, we currently do not support external dependencies and outputs from azure. So,
`dvc import-url` and friends don't work.

#### Implementation
It should be trivial to implement.  `dvc` uses etag to ensure that it's same file. So, just need to implement following methods in [dvc/remote/azure.py](https://github.com/iterative/dvc/blob/master/dvc/remote/azure.py) similar to one in [dvc

[2020-03-26 18:15] javierjsa opened #3541 "api: support granularity (files inside dirs)"
Ubuntu 16.04. Virtualenv with python 3.5.2. Pip install. DVC version 0.90.2

I am unable  to retrieve a file with api.read, however what DVC is tracking is not the file itself, but the folder the file is in. The file can be retrieved sucessfully with dvc get.

This is the code snippet:

[code]

This doesn't work either:

`dvc list ssh://git@repo.com/myproject.git relative/path/in/python/project/mo

[2020-03-26 18:20] jorgeorpinel commented on #3538
Maybe it behaves differently in distinct OSs? I'm on Windows (Cmder/ Git Bash):

[code]

[2020-03-26 18:24] efiop commented on #3538
@jorgeorpinel Oh, I misunderstood your report. Need to check that, indeed. @pared Maybe you have any ideas?

[2020-03-26 20:06] jorgeorpinel commented on #3446
@shcheklein it could ignore anything tracked by Git AND files in .dvcignore. So it's a request for 2 separate enhancements, it seems to me. Not a bad idea! We may also want to consider a `dvc add --all` option (recursive) to complete the git analogy? However...

I agree with Ivan here though. There may be regular files not yet added to Git, and dvc add . would put them in .gitignore, so the user w

[2020-03-26 20:12] jorgeorpinel commented on #3446
p.s. I'll look into the documentation issue ⏳

[2020-03-26 22:16] antonkulaga opened #3542 "one more google drive bug"
Another dvc 0.90.2 Google Drive bug
[code]

[2020-03-26 22:21] shcheklein commented on #3542
@antonkulaga did it happen after waiting for a while? what machine (how much RAM do you have)? could check you system logs to see if it was killed by the OS?

Also, please give a try to the 0.91.2 - we've released a very significant optimization for push/pull operations.

[2020-03-26 22:28] antonkulaga commented on #3542
Just checked, looks like it is my bug: I copy-pasted previos config and forgot that I had no-traverse there. After deleting notraverse is started working well. Sorry for a false alert

[2020-03-26 22:28] #3542 closed

[2020-03-26 22:35] shcheklein commented on #3542
thanks, Anton! I recommend you still to update to the latest version (no_traverse was deprecated and you don't need it anymore).

Also, if could share core dump or check system logs, that would be great. I don't like `Segmentation fault (core dumped)` to be honest.

[2020-03-27 02:58] jorgeorpinel commented on #3446
Yes, we can definitely improve lots of explanations around dvc commit, thanks for the heads up Denis! I'm addressing in iterative/dvc.org/pull/1094

[2020-03-27 03:11] pmrowla opened #3543 "remote: use progress bar for remote cache query status during `dvc gc`"
As noted in #3532

`RemoteBASE.all()` can use the same remote size estimation behavior as `cache_exists()` so that `dvc gc` displays actual progress/status when iterating over the full list of remote checksums. This will make `gc` behavior consistent with `push`/`pull`

[2020-03-27 13:17] #3386 closed

[2020-03-27 14:19] efiop commented on #3510
Hi @florianspecker ! 0.91.1 is out with the fix. Please upgrade and give it a try.

[2020-03-27 14:25] #3523 closed

[2020-03-27 15:28] SdgJlbl opened #3544 "PyYaml version is pinned to <5.2 despite vulnerability"
DVC still requires PyYAML < 5.2 (https://github.com/iterative/dvc/blob/master/setup.py#L67) for aws-cli compatibility, despite the fact that that aws-cli supports version < 5.4 for python >= 3.4 (https://github.com/aws/aws-cli/blob/develop/setup.cfg).

PyYAML versions < 5.3.1 might contain a vulnerability (https://nvd.nist.gov/vuln/detail/CVE-2020-1747).

Could it be possible to drop support for P

[2020-03-27 15:30] efiop commented on #3544
Hi @SdgJlbl ! We don't support 3.4 for more than a year now. I think that dependency limitation might be a leftover. We would definitely appreciate a PR :pray:

[2020-03-27 15:36] SdgJlbl commented on #3544
Great, I'll do that

[2020-03-27 16:54] shcheklein commented on #3386
@jorgeorpinel they are quite different issues/discussions.

we need to revise docs at some point when we get more or less `diff` leftovers fixed, btw..

[2020-03-27 17:07] dldx commented on #3504
Thanks for the info! Much appreciated!

[2020-03-27 17:12] shcheklein commented on #3504
@dldx the new version have been as far as I understand - please give a try!

[2020-03-27 17:34] trallard opened #3546 "remote: upgrade Azure Blob storage version"
Hi!

At the moment `dvc[azure]` has as a requirement `azure = ["azure-storage-blob==2.1.0"]`

Recently there Python SDKs were massively improved to be more Pythonic and efficient. I was wondering if it would be possible to allow for the use of the latest version (12.1). Or if there are any blockers for this I can help with?

[2020-03-27 19:19] shcheklein commented on #3546
@trallard I don't expect any major blockers and we would really appreciate a help with this! Could try to bump it up and see if we can run tests (create a PR from a fork)?

[2020-03-27 19:21] #3544 closed

[2020-03-27 20:11] #1050 closed

[2020-03-27 20:17] #3521 closed

[2020-03-27 21:07] efiop commented on #3504
@dldx I'll close this issue for, please give the latest version a try and let us know if that fixed it for you or not. Thanks for the feedback!

[2020-03-27 21:07] #3504 closed

[2020-03-27 21:36] efiop commented on #2599
@charlesbaynham `import` won't try to download things if it already has them in cache. Have you tried running it?

[2020-03-28 01:59] jorgeorpinel commented on #2901
Yes @shcheklein, migrated this part of the discussion to iterative/dvc.org/issues/1039.

And thanks for the input, Pawel.

So I guess since there's no strong opinions in the option names and no users have reported much ocnfusion around this (that I know of), we can close this!

[2020-03-28 01:59] #2901 closed

[2020-03-28 03:51] #3526 closed

[2020-03-28 13:02] dmpetrov commented on #3409
In order to make this scalar/continuous metrics separation, the current scalar metrics need to be redesigned.

1. CSV/TSV types are specific to continuous metrics. There is no need to keep them in current, scalar ones. Let's **get rid of `CSV/TSV/HCSV/HTSV` metrics format**.
2. **Add support for YAML** since it is an often-used format - https://github.com/iterative/dvc/issues/3393#issuecomment-599

[2020-03-29 05:53] dmpetrov commented on #2774
There are two DVC images for CI/CD project which are going to be maintained:
1. https://hub.docker.com/repository/docker/dvcorg/dvc-cml
2. https://hub.docker.com/repository/docker/dvcorg/dvc-cml-gpu

The docker files code is here (gpu PR is not merged yet): https://github.com/iterative/dvc-cml

Does it make sense to extend these images to cover the needs of this issue? What needs to be added or ch

[2020-03-29 11:11] elgehelge opened #3549 "Taking a step back and looking at the big picture"
I would like to discuss my view on how a good ML engineering tool should work. I am not saying that my view is the best view, I am inviting you to discuss it with me so that we all can get one step closer to understanding what the perfect tool would be like.

The two things where my views conflict most with DVC is in regards to parameterized pipelines and everything related to handling caching and

[2020-03-29 14:14] casperdcl opened #3550 "deploy: snap: authentication fix"
- continues #3547

[2020-03-29 16:00] casperdcl commented on #2774
maybe I'm missing something but it looks like they're using `index.js` (`node`) rather than the `Dockerfile` (`docker`). Seems like the GH Action should really use the docker image.

[2020-03-29 17:54] #2905 closed

[2020-03-29 18:15] shcheklein opened #3552 "remote modify: validate config options before saving"
**Version:**

[code]

**Reproduce:**

[code]

**Output:**
[code]

**Config:**

[code]

[2020-03-29 19:45] #3550 closed

[2020-03-29 21:11] dmpetrov commented on #2774
@casperdcl it is using docker files. Index.js is here just support GH users who don’t want or cannot use docker. You can find it in the workflow files.

[2020-03-29 22:08] casperdcl commented on #2774
Right. Seems a bit odd to provide a nodejs action for public use via the standard `uses: ` syntax, but in our workflow use our own docker version. Unrelated to this issue (#2774) though.

[2020-03-30 05:48] jorgeorpinel commented on #2865
Woah this one is huge! Lots of things have been done too 🎉
Maybe move the remaining stuff into smaller issues and close this one? 🙂

[2020-03-30 06:19] jorgeorpinel opened #3553 "push: improve err user output for gdrive remotes"
UPDATE: Jump to https://github.com/iterative/dvc/issues/3553#issuecomment-606348995

---
[code]

^ The error message should be more along these lines: `Please configure an authentication mechanism for Google Drive remote 'mygdroot'. Learn more at <https://man.dvc.org/remote/modify>.`

[2020-03-30 08:54] florianspecker commented on #3510
Hi @efiop thank you very much! I can confirm that the issue is gone. Thanks a lot for the timely fix!

[2020-03-30 09:18] charlesbaynham commented on #2599
@efiop sure, but they're not currently in the cache of the project that's calling `import`; they're in the cache (and remote) of its target, data registry. The work-around I've used to save on storage space as well is to have a shared cache that both projects use. I figure that, as long as I avoid garbage collection, that shouldn't cause issues.

[2020-03-30 11:00] #3530 closed

[2020-03-30 11:46] efiop commented on #2599
@charlesbaynham So you have a local repo that you `dvc import` from, which has default remote setup, and you would like dvc to try to fetch from its local cache instead of the default remote, right?

If so, I don't think flag for `dvc pull` is a good idea, it will mess around with non-imports too and is a rather hacky approach to what we could do automatically, so I would not be willing to introdu

[2020-03-30 16:53] shcheklein commented on #2865
@jorgeorpinel it's easier for me to manage it this way vs creating a long tail of small tickets. Let's keep it for now.

[2020-03-30 16:55] shcheklein commented on #3553
@jorgeorpinel you should not see this error, try the latest version.

[2020-03-30 23:13] jorgeorpinel commented on #2360
Been using Windows recently and it's probably because Windows is slow with file IO in general. Like 1990s slow. Disabling file search indexing helps a little but I hear the real drag is Windows Defender (built-in antivirus)... We already have most of these notes in https://dvc.org/doc/user-guide/running-dvc-on-windows (except the one about file indexing) so maybe we should transfer this issue to d

[2020-03-30 23:19] jorgeorpinel commented on #2677
Is this still relevant or p2 now that we want to remove the Mac download from the dvc.org download button? See dvc.org/issues/919.

[2020-03-30 23:28] jorgeorpinel opened #3554 "install:"
Similar to #2677, Windows prevented me from running the latest installer (dvc-0.91.1.exe) with a screen but I didn't take a screenshot and now it's not happening again with any version after I told it to run it anyway. It looked like this but green:

![image](https://user-images.githubusercontent.com/1477535/77971321-98fe5400-72ab-11ea-84f7-a4377035464e.png)

and the [Run anyway] button is hidden

[2020-03-30 23:29] jorgeorpinel commented on #3554
p.s. Windows installer is the officially recommended method to get DVC on Windows.

[2020-03-30 23:31] jorgeorpinel commented on #3553
Still getting this message on DVC 0.91.1 (Win)

[2020-03-30 23:48] shcheklein commented on #3554
@jorgeorpinel we should change the official way to conda, choco, pip (docs issue)

it's a know issue with the package, we need to apply and issue certificates - there is a ticket for thin in the core repo

[2020-03-30 23:49] shcheklein commented on #3553
@jorgeorpinel how does you config look like? could you try dev version, it might be that we haven't released it yet

[2020-03-30 23:51] shcheklein commented on #2360
we need ideally run profiler with different link types, different amount of files and see what the bottleneck is (if any left after disabling know stuff). Yes, def include indexing if it helps.

[2020-03-30 23:55] jorgeorpinel commented on #3553
[code]

Will try. Haven't even installed Python on this new Windows machine yet so it's a good opportunity ⏳

[2020-03-30 23:58] shcheklein commented on #3553
The latest version is 0.91.2 - that where it was released.

[2020-03-31 00:17] jorgeorpinel commented on #3553
I see. It's not released for Windows yet.

Still trying to install Python. Yep it takes a long time. Windows is really bad.

[2020-03-31 00:23] shcheklein commented on #3553
@jorgeorpinel probably we just forgot to update the link on the main page? cc @efiop

[2020-03-31 00:30] jorgeorpinel commented on #3553
I only see source code assets for the release: https://github.com/iterative/dvc/releases/tag/0.91.2

[2020-03-31 00:32] jorgeorpinel commented on #3554
I looked but didn't find another ticket related to this. OK, moving this to docs...

[2020-03-31 01:27] jorgeorpinel commented on #2601
Was this closed by #2915 perhaps?

[2020-03-31 01:49] jorgeorpinel commented on #3553
OK I was able to try the dev version and I see this message is no longer there, now we have:

[code]

This works. But the whole first part
[code]
seems unnecessary? Also is `.dvc/tmp/` really a temporary directory or is it just confusing naming? Thanks

[2020-03-31 01:51] shcheklein commented on #3553
yes! we have a checkbox for this. This is not DVC-generated. I'll get to it soon.

[2020-03-31 01:52] shcheklein commented on #3553
can we close this?

[2020-03-31 01:54] jorgeorpinel commented on #3553
Yes. Thanks!

p.s. should we worry about the 0.91.2 release not having binaries? See https://github.com/iterative/dvc/releases/tag/0.91.2 cc @efiop

[2020-03-31 01:54] #3553 closed

[2020-03-31 04:18] efiop commented on #3553
Will update it soon, I'm just waiting to update brew package. After it is accepted, I'll update our links. It is the usual process, there might be an hour to a day or two delay between pip release and our links being updated. Could update download links earlier though, will look into it.

[2020-03-31 04:23] efiop commented on #2677
@jorgeorpinel Yes, still relevant as long as we are keeping it. Could lower it to p3, sure.

[2020-03-31 04:25] efiop commented on #2601
@jorgeorpinel Yes, thank you!

[2020-03-31 04:25] #2601 closed

[2020-03-31 05:19] z0u commented on #2212
I solved this in my project by creating a small script to sync DVC stages between prod and dev. It's something like this:

[code]

It copies the stage config, but keeps the asset hashes unchanged where possible. I agree it would be great if DVC supported this out of the box.

[2020-03-31 05:36] z0u opened #3556 "`repro --downstream` with multiple targets should still honour dependencies"
DVC 0.91.0, installed with pipx on Ubuntu 18.04 with Python 3.6.9

The `repro` command seems to ignore dependency order when multiple targets are specified. For example, if I'm doing transfer learning from model `A` to model `B`, then training stage `B` depends on `A`:

[code]

When reproducing just the models, I would like to run:

[code]

But sometimes, this causes `02-train-B` to run before `02

[2020-03-31 05:36] jorgeorpinel commented on #3553
No rush, sounds good. Thanks Ruslan!

[2020-03-31 05:46] dmpetrov commented on #2774
@casperdcl what would be your suggestions for that project? How to organize it in the right way?

[2020-03-31 08:31] manuelramirezv opened #3558 "Bad cache file path using Google Cloud Storage remote repo"
The problem occurs in the google cloud shell with a python installation via pip in a virtual enviroment.
"dvc version" output:

DVC version: 0.91.2+d4b503
Python version: 3.7.3
Platform: Linux-4.19.87+-x86_64-with-debian-9.12
Binary: False
Package: None
Supported remotes: gs, http, https
Cache: reflink - not supported, hardlink - supported, symlink - supported
Repo: dvc, git

**dvc pull output:**

[2020-03-31 09:10] efiop commented on #3558
Fixed by https://github.com/iterative/dvc/pull/3557

[2020-03-31 09:10] #3558 closed

[2020-03-31 09:22] casperdcl commented on #2774
1. In the action, use `Dockerfile`
2. Move as much of the other non-essential root clutter to subdirs
3. The Dockerfile's `entrypoint` itself can used node and/or any other software that users demand support for

Advantages:

- a single CI run tests everything (docker and e.g. node)
- local install can continue to use node as currently
- both cloud and local installs can use the docker wrapper (wi

[2020-03-31 10:15] charlesbaynham commented on #2599
Yes, that exactly right. Sorry, not sure why I was talking about `pull`, `import` is obviously the relevant command here. `import` would be the place for the hack-flag, but I agree that it is a hack. A proper prioritised search of caches and remotes would definitely be better.

[2020-03-31 10:36] efiop commented on #2329
We could use `-vv` for verbose-verbose logs, kinda like many other tools do (e.g. pytest). And so state and other noisy debug messages would be hidden under it.

[2020-03-31 10:50] gio8tisu opened #3560 "ssh remote: Pass `ProxyCommand` to paramiko"
If you want to set a ssh remote to a private server you should be able to do so by doing a proxy jump using the `ProxyCommand` option in your ssh config file, e.g:
[code]
Currently the `ProxyCommand` is not passed to paramiko, so the on-premises server name is not found, e.g.:
[code]

[2020-03-31 11:09] efiop commented on #3560
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/694489311164235854

[2020-03-31 11:27] RomanVeretenov opened #3561 "dvc add produces /tmp in .dvc/.gitignore"
dvc  version 0.91.1
installed via pip on ubuntu 18.04

Each dvc add produces extra line '/tmp' in .dvc/.gitignore.

[code]

[2020-03-31 11:48] efiop commented on #3561
@RomanVeretenov Does it happen after specific dvc command?

[2020-03-31 11:50] efiop commented on #3561
@RomanVeretenov Could you show us `git check-ignore $(pwd)/.dvc/tmp` output, please? Is there anything special about your repo location?

[2020-03-31 13:26] efiop commented on #3556
Hi @z0u !

So `A` and `B` somehow depend on each other, right? In that case, it seems it wont make a difference in `-f` case, as all of them and their dependencies will be reproduced anyway. Or do you mean that it would be nice to avoid reproducing common deps multiple times in that scenario?

[2020-03-31 15:14] efiop commented on #3444
Ok, so discussed with @pmrowla and @pared that it makes sense to forbid it. If someone asks for this in the future, we could introduce `--subrepos` or smth like that for push/pull/etc.

[2020-03-31 15:19] shcheklein commented on #3561
@efiop it happens on older repos. Try to clone our get started and run a few commands (pull, checkout, etc).

[2020-03-31 16:34] RomanVeretenov commented on #3561
output is empty

[2020-03-31 16:59] efiop commented on #3561
@shcheklein It does, but it only adds the missing `/tmp`, not adding it multiple times as in this issue. I am not able to reproduce the issue.

@RomanVeretenov Ok, that is bad, it means that git is not seeing that `/tmp` in `.gitignore` or not understanding it right. Is there anything special about the location that your repo is located in?

Could you show:
[code]
please?

So far this looks like t

[2020-03-31 20:54] #3560 closed

[2020-03-31 21:15] shcheklein commented on #3560
@gio8tisu @efiop thanks! please create a ticket or add docs PR?

[2020-03-31 21:19] efiop commented on #3560
@shcheklein There is no need for the docs PR, it is what should work out of the box. It is not configurable by users.

[2020-03-31 21:19] shcheklein commented on #3560
@efiop got it, thanks!

[2020-03-31 22:17] z0u commented on #3556
Hi @efiop ,

Sorry for not being clear about the dependencies. Yep, `B` depends on `A`. So what I expect to happen is: `A` always executes before `B`.

|Command|Effect|
|---|---|
|`dvc repro`|Runs 01-prep-A, 01-prep-B, 02-train-A, 02-train-B|
|`dvc repro -f 02-train-A`|Runs 01-prep-A, 01-prep-B, 02-train-A|
|`dvc repro -f --downstream 02-train-A`|Runs 02-train-A, 02-train-B|
|`dvc repro -f --downs

[2020-03-31 22:35] jorgeorpinel commented on #3409
I would call these "series", "array", or "track" metrics. Not sure about term "continuous". Just a thought

ini=YAML?

Probably not. DVCx then? In this case x can also mean "eXperiment mgmt".

I have doubts about the command names though. So we're keeping `dvc metrics` only for scalars which have an entry called `scalars_types` in the "Metricsfile", and new command `dvc viz` for series with entry

[2020-04-01 00:00] shcheklein commented on #2774
@casperdcl

you mean prettier configs, etc, etc?

could you elaborate?

same here, could you elaborate?

[2020-04-01 00:13] xnutsive commented on #3485
Yes please!

I'm a new DVC user, working on a hobby app with a friend. I've pushed a few files, and then when the friend ran `dvc pull`, he just got a console output of `1 added`.

`1 added` is not exactly friendly or clear on what happened (which is, one data object containing a bunch of files was added to the local dvc env, I guess).

[2020-04-01 00:18] xnutsive opened #3565 "pull/fetch: progress bar is all over the console output"
DVC version:

[code]

When I run `dvc pull`, dvc tries to show the progress bar for downloading data files, but it looks like there's a bug in rendering it.

Here's the video:  https://share.getcloudapp.com/jkuKG6rp

Please let me know if I can provide more details on this or help in any way. I know this reproduces for one of my teammates, too, on Ubuntu with DVC 0.91.0.

[2020-04-01 02:57] skshetry commented on #3565
Hi, @xnutsive. Thanks for opening this issue.

The files that you are downloading are small, and hence looks flickering, and is a problem on the
`fetch` part.

#3500 set a threshold for showing maximum number of bars and hides them (it was more crazier before), but we still need to unify multiple bars into a single bar. This was done on upstream tqdm/tqdm#924.

Related/part-of #2905.

@casperdcl,

[2020-04-01 04:07] jorgeorpinel commented on #3409
Is there a decision on what the hyperparam metafiles are going to look like? It could be relevant to know for this point ^

What about metrics that just spit a single number into a text file. That's not really something we want to support? (It could even be stored directly in the DVC-file in the future.)

[2020-04-01 05:48] jorgeorpinel commented on #3409
Note: point 6. in https://github.com/iterative/dvc/issues/3409#issuecomment-605444643 above should be automatic with our process. It will be addressed in com/iterative/dvc.org/pull/1097 and in the docs PR derived from addressing 2. 🙂

[2020-04-01 06:23] skshetry opened #3567 "link: does not use appropriate link type"
I'm not sure if this is a bug or an enhancement, but, we currently don't use appropriate link type if we see that it was not supported for the first file we tried. It'd be better to understand from the example:

[code]

[2020-04-01 06:52] casperdcl commented on #3565
The ordering isn't random - the screen is actually "full" of bars "in order." To maintain the order, the whole screen below a bar is cleared when said bar completes, and the cleared bars are moved upwards. However, some (most) are randomly skipping display for speed purposes.

https://github.com/tqdm/tqdm/issues/930 will actually fix this by changing to random ordering. This means finished bars ge

[2020-04-01 07:49] jorgeorpinel commented on #3409
@efiop

So we would remove `--metrics` as well and keep `--metrics-no-cache`? I like the shorter option name better. How about doing so but renaming `--metrics-no-cache` -> `--metric` (plural)?

[2020-04-01 07:49] jorgeorpinel commented on #3409
*singular

[2020-04-01 09:01] jorgeorpinel commented on #3409
One last comment for now, sorry:

Keep in mind some of the text deleted in #1097 could be restored when writing docs for `dvc viz` (or whatever the command name ends up being). E.g. https://github.com/iterative/dvc.org/pull/1097/files#diff-5941ad4a74935aeef222249cb407d385L72-L74

[2020-04-01 10:07] AljoSt opened #3568 "Add summary to `dvc status -c [target]`"
In order to estimate how long a `pull` is going to take, it would be good if `dvc status -c [target]` would supply a summary in the form of `Total: N files, X GB`

[2020-04-01 11:21] efiop commented on #3556
Got it @z0u . So to implement it we will need to pass all targets in https://github.com/iterative/dvc/blob/0.91.3/dvc/command/repro.py#L41 and then properly collect them and put them into the common stages to run in https://github.com/iterative/dvc/blob/0.91.3/dvc/repo/reproduce.py#L53 . Unfortunately we will not be able to get to implementing this right away ourselves, but we would definitely hel

[2020-04-01 13:57] efiop opened #3570 "test: test_pull_git_imports is flaky"
https://travis-ci.com/github/iterative/dvc/jobs/309609531#L2604

[2020-04-01 14:19] AljoSt opened #3571 "Make progressbar not change format"
When using tqdm in its default settings, `it/s` is changed to `s/it` for values below 1.0 (thus becoming bigger than 1.0). This happens e.g. for `dvc status -c` when the progress per `dir` is given. I think it would be better to be consistent about the format (so rather use `0.5 dir/s` instead of `2.0 s/dir`), as it's easier to see how the progress is going.

The behaviour can be altered with `bar

[2020-04-01 15:27] #3543 closed

[2020-04-01 16:23] dmpetrov opened #3572 "Support yaml as metrics file"
Yaml is one of the most used file format. We need to support it for metrics.
More details: https://github.com/iterative/dvc/issues/3409#issuecomment-605444643

ToDo:
- [ ] update docs

[2020-04-01 18:13] argideritzalpea opened #3574 "no-scm and docker production builds"
I would like to use .dvc to pull files in a production Docker container without uploading the entire .git folder that is associated with it to keep the size of the container down. The .dvc folder is copied into a folder in the image., but the .git folder is very big. I understand that there is the `-no-scm` option upon dvc initialization to remove git tracking, but the dvc repo in question is alre

[2020-04-01 18:47] jorgeorpinel commented on #936
Just want to post what this looks like on Windwos. The installer is stopped by Windows Defender with a "Windows protected your PC" screen:

![image](https://user-images.githubusercontent.com/1477535/78174517-9f5d0f00-7416-11ea-8c84-4918c8c3357d.png)

You need to click "More info" to be able to use the [Run anyway] button:

![image](https://user-images.githubusercontent.com/1477535/78174716-f06d030

[2020-04-01 18:48] shcheklein commented on #3574
@argideritzalpea hi! can you tru to run `dvc config core.no_scm true` in the Docker image (entry point, or image create)? This way you don't need to copy the whole `.git` directory.

[2020-04-01 19:03] jorgeorpinel opened #3575 "push: improve behavior for new gdrive folders?"
[code]

This happens because I haven't created the dvcstore folder in my Google Drive root, so it's not a bug, but:

a) The message could be a little nicer, at least break line before "Google Drive path..." but probably the whole cache paths are not needed here (only in -v verbose output)
b) Have we thought about automatically creating missing folder structures on GDrive remotes? Maybe not by defa

[2020-04-01 19:08] shcheklein commented on #3574
@argideritzalpea another good option that @dmpetrov reminded is to use `git clone --depth 1` instead of copying your files with `cp`.

Could you clarify your use case a little bit, btw? Do you run `dvc pull` in the Docker image when you run it? Do you need all data and code files (DVC tracked and Git tracked)?

[2020-04-01 19:14] shcheklein commented on #3575
It's a duplicate of one or two checkboxes in the #2865 .

We don't want creating a missing remote root path on GDrive since GDrive allows for duplicate names and we want to avoid race conditions or something and end up creating multiple directories in different locations, etc, etc.

In general we should be doing the same for other remotes - aks users to be explicit and create directories.

[2020-04-01 19:15] jorgeorpinel commented on #3575
Got it.

[2020-04-01 19:15] #3575 closed

[2020-04-01 21:51] xnutsive commented on #3565
Experience-wise (please take this with a grain of salt, I'm not by any means a serious ML practitioner), a single pbar would be nicer — I don't really care how much of a specific image / text is downloaded, I just care about the whole data downloading / uploading process.

I've read another issue where you discuss this and I imagine doing a single pbar is a ton of work though ;)

Let me know if I

[2020-04-01 23:44] efiop commented on #3469
Not sure why it should be like that. Table as well as `No changes.` are for the user, not really meant to be parsable. For parsing we have `--show-json`. I don't think we do that anywhere else in the dvc.

[2020-04-01 23:57] efiop commented on #3434
Not able to reproduce. Not with `dvc diff` nor with `dvc metrics diff`, nor with current version nor with 0.87.0. Closing for now. @DavidGOrtega Please let us know if you are still experiencing this issue. And please provide verbose logs (by adding -v to the command) next time, so it is easier to see the issue in details. Thank you!

[2020-04-02 00:24] dmpetrov commented on #3469
I'd prefer to have an empty output in this case. No need in a special message. It is a usual approach for many commands including `git diff`.

[2020-04-02 00:25] efiop commented on #3469
@dmpetrov But we've been talking about dvc commands being too silent, hence why we've introduced such summary messages everywhere. `No changes` is consistent here with the rest of the commands.

[2020-04-02 00:38] shcheklein commented on #3469
Don't have a strong opinion on this (`git diff` does not show anything, right? but on the other hand it outputs patch by default and DVC outputs some human-readable table - so not a direct comparison for sure).

It's better to be consistent with other DVC "diff" commands though.

[2020-04-02 00:45] efiop commented on #3469
@dmpetrov noticed that it makes it not possible to use `dvc metrics diff` in shell like `[ -z "dvc metrics diff ^HEAD" ]` which is bad. Moving to stderr, makes total sense to me now.

[2020-04-02 00:46] efiop commented on #3469
Also probably time to use `print` there instead of `logger.info`...

[2020-04-02 00:48] shcheklein commented on #3469
@efiop do we have the same problem (not sure though why --json could not be used for example in the same bash check) for other commands? again, just to make sure that we are consistent more or less

[2020-04-02 00:50] dmpetrov commented on #3469
All the "information" commands need output nothing if there no information. This way you can easily use them from scripts like
[code]
Otherwise, we are pushing people to parse the outputs.

For "action" commands (not "information") like `dvc checkout` it is fine (and usually preferable) to output human-readable information.

[2020-04-02 00:51] shcheklein commented on #3469
Would you consider `git status` an information or action command? :)

[2020-04-02 00:52] shcheklein commented on #3469
I really think that the reason behind `git diff` is that it's not meant to be consumed by a human even if there are some changes in the first place. `git diff` with its default options is similar to `dvc diff --json`.

[2020-04-02 00:58] dmpetrov commented on #3469
Yeah. That's the thought one :) It is kind of informational but does some advanced stuff. It might be better for `status` to be silent in these cases.

Hm.. I thought it is often used command. I use it a lot. You are right in the sense that it is optimized a bit for machines. This should be the case for many informational commands.

[2020-04-02 01:06] shcheklein commented on #3469
don't see any strong reason for this. It's not white and black. And I think people who write scripts are totally fine with a quite option, json or whatever. They have way higher tolerance in my mind than regular data scientists who can be surprised (?)

[2020-04-02 01:47] jorgeorpinel opened #3578 "push: option to push to all remotes?"
To save time and avoid human error, a new option like `dvc push --all|-A` could be created to push to all remotes. Not sure it would make sense to also consider for fetch and pull.

Somewhat related to #2095

[2020-04-02 01:52] jorgeorpinel opened #3579 "push: disallow repeated remote URLs?"
I can `dvc remote add` the same remote URL twice, with different names e.g.

[code]

There's no bug or problem but just wondering should this be disallowed to avoid confusions?

[2020-04-02 01:53] jorgeorpinel commented on #3579
Please feel free to close if the answer is no. Thanks

[2020-04-02 01:54] #3469 closed

[2020-04-02 01:55] jorgeorpinel commented on #3579
p.s. another variant of this specific to gdrive is that you can have a root/path based URL or a folder ID URL that actually are the same remote... So I guess this it's unavoidable. Never mind. Closing!

[2020-04-02 01:55] #3579 closed

[2020-04-02 01:58] efiop commented on #3578
@jorgeorpinel Not sure what is the scenario for this. Could you elaborate?

[2020-04-02 02:02] jorgeorpinel opened #3580 "push: freezes for a long time without write access to gdrive remote"
[code]

took like a minute for the error message to happen and it didn't let me interrupt it with Ctrl+C. Can someone try from MacOS/Linux?

Also the error message could be improved.

Cc @maxhora. Thanks!

[2020-04-02 02:08] jorgeorpinel commented on #3578
If you have many remotes and want to push to all of them in a single command.

[2020-04-02 02:08] jorgeorpinel commented on #3578
For pull/fetch it could be to get the data from any remote where it exists, in case one or another remote has incomplete an cache backup.

[2020-04-02 02:19] efiop commented on #3578
I don't understand why anyone would do that though. Am I missing some good scenario?

We've discussed it in another ticket, it would require some cascading logic for remotes to be able to retrieve whatever it can from whichever remote is available.

[2020-04-02 02:26] shcheklein commented on #3580
This is a good one and should be fixed. I expect a long of similar one because of the way retries are organized. Will see if we can improve those somehow - be less aggressive.

[2020-04-02 06:12] skshetry commented on #1871
Okay, I toyed around a number of ideas around this (to check if we could do more than what @efiop proposed):
1. Having no lockfile at all (i.e.stage file can have multiple outputs).
2. Having both kinds of pipeline as well as old-style stages.
3. Also supporting multiple data source stages.

But, for the first iteration, I'm thinking of not doing that and just stick to the core of the issue (able

[2020-04-02 06:19] skshetry commented on #1871
Regarding the implementation POV, our current `Stage`'s responsibility is interleaved with handling Dvcfile as well. This was okay before, but, since we are talking about having multiple stages in a single Dvcfile, we need to split the responsibility to `Stage` and `Dvcfile` components.

So, anything related to dumping/loading and path-related operations should be delegated to the Dvcfile and `Sta

[2020-04-02 07:11] jorgeorpinel commented on #3578
I just wanted to recently when testing all kinds of GDrive URL types and formats (there's like 7 options haha). Not sure if there's an actual-use need for it but it's possible, say for a dataset registry repo that has a bunch of folders, each with it's own remote (for access permission purposes), but there's this one folder you want available in all remotes. It just increases the flexibility I thi

[2020-04-02 07:13] jorgeorpinel commented on #3580
So I guess this may not be specific to gdrive only but any remote that requires access? I think that the server/api will probably return a 403 unauthorized code in most cases so you could stop retrying there.

[2020-04-02 07:51] efiop commented on #3578
@jorgeorpinel Good points, but that is quite a synthetic testing scenario :)

Sounds like a subrepo use case. They will simply have theirown default remote.

I would indeed wait for a user to ask for it, unless it is a blocker for you or significant improvement, of course.

[2020-04-02 10:52] AljoSt commented on #3568
had a brief look into this, but I'm not quite sure where to start. I guess we would have a method [here](https://github.com/iterative/dvc/blob/master/dvc/remote/local.py#L286) that adds the filesize for each object, and then summarized and printed [here](https://github.com/iterative/dvc/blob/master/dvc/command/status.py#L19)? Not sure though, how to get the file size

[2020-04-02 11:44] casperdcl commented on #3473
Right. Ping myself :)

[2020-04-02 13:19] casperdcl commented on #3565
#3583 should mostly fix this issue.

@xnutsive I agree with your last comment - #3452 should be fixed by adding missing "main bars." The nested ones are relatively minor by comparison.

[2020-04-02 14:13] shcheklein commented on #3580
@jorgeorpinel no, other remotes are not affected by this problem. it takes 1 minute because we retry 16 times before giving up. We don't have any retries logic in other remotes yet.

[2020-04-02 16:46] jorgeorpinel commented on #3578
No, I agree with you. Thanks

[2020-04-02 16:46] #3578 closed

[2020-04-02 18:17] casperdcl commented on #2774
er, just a general principle removing as much as possible. Some tools expect files to be in the root so we're mostly stuck there, ofc.

It's cumbersome for us to maintain multiple, well, entrypoints to our actual code. If we want to support both `docker` and directly running in `node`, it's best to have docker be a thin wrapper around `node` (i.e. in the Dockerfile, use `ENTRYPOINT npm`, `CMD run`

[2020-04-02 19:24] jorgeorpinel opened #3586 "remote add: should gdrive://root be an error?"
The URL `gdrive://root` means the root of your Google Drive (aka "My Drive") but maybe it's a bad practice to use that, which can be shared with a bunch of other files and Google Docs, so easy to mess with. In this case using this URL should throw an error and the documentation should specify it's not allowed and why.

On the other hand, maybe some users will create a GDrive acct just for this and

[2020-04-02 21:10] #3565 closed

[2020-04-02 22:11] shcheklein commented on #3586
Yes, I even created a checkbox in the #2865 for this :)

**Quick considerations:**

1. (not related to this ticket even) `gdrive://root/something` does not make sense for the team - only personal use. Need to adjust docs a bit. Workaround - users share that dir and do `remote modify url` later if they decide to share the project, but commits they made before with the previous URL to the remote won

[2020-04-02 22:57] shcheklein commented on #2774
I feel that I'm still missing something :)

Docker entrypoint for the image we provide already does this, right? It already runs Node. And image itself has JS bundle pre-installed.

There are no very strong reason to support direct docker-less action, but it's a separate topic.

[2020-04-02 23:11] casperdcl commented on #2774
yes I was making several minor points, I think we're all missing small things but nothing major :)

[2020-04-02 23:55] shcheklein commented on #1871
@skshetry thanks for the great summary! some quick questions:

Just to clarify. Means that in the command like `dvc run -o something` it will create `something.dvc`, right? And that file will include only hash (more-or-less) related to that artifact?

could you point to a discussion or elaborate on what does `flexible` mean?

Good time to make them about data-management only.

-------------

- che

[2020-04-03 00:10] shcheklein commented on #3568
@AljoSt this a really great feature request. You pointed the right places to do changes. The biggest question is how do we get file sizes. We don't have that functionality right now in the remote class, only `exists` method or `list all` that do check if files exists remotely or returns all files. They both do not provide any additional info currently. So, we would probably need to "teach" them to

[2020-04-03 03:35] skshetry commented on #1871
Yup, but the file is same as if the user did `dvc add something`, so, they'll have a better flexibility around the checkouts. This will in itself, separate the data-management with pipeline, in that `run/repro/pipeline` will only utilize `Dvcfile` and `Dvcfile.lock`.

It was just my idea, that, if we want users to be able to write pipelines themselves, it'd be great to allow some flexibility aroun

[2020-04-03 03:35] jorgeorpinel commented on #3578
@efiop what do you think about renaming all-branches option `-a` -> `-B` since the other similar option (-T) stands for all tags? Or -b and -t (lower case), respectively. (Consistency)

[2020-04-03 04:16] Suor commented on #3496
The thing is cache is not persisted between `dvc` runs, if we make it persist then that won't reclone only make `git pull` in `dvc update`.

[2020-04-03 04:36] jorgeorpinel commented on #3586
OK, addressing for docs in https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386926510. Since no changes are needed in core, I'm closing here.

@shcheklein I'm assuming you'll update the checkbox you mentioned as needed.

[2020-04-03 05:20] #3586 closed

[2020-04-03 06:50] shcheklein commented on #3586
@jorgeorpinel yes, I put a link to this ticket to read this when time comes to that checkbox. thanks!

[2020-04-03 08:13] dmpetrov commented on #1871
@skshetry great summary and the plan. All the proposals look very reasonable including the mandatory stage names. They're just a few questions about the details.

1. `Pipeline stages will output one Dvcfile, Dvcfile.lock and separate output files` Is this how data management is separated from the pipeline part? Do we have any other areas when the separation is happening?
2. Do you expect an exact

[2020-04-03 08:14] dmpetrov commented on #1871
I get lost a bit in this example :) why is it `something.dvc`, not `something.lock`?
@shcheklein could you please clarify what does `dvc run -o something` means.
1. Do you expect the full command looks like `dvc run -o something -d file --stage-name train python classifier.py`?
2. Is the assumption that the command will be stored in the default `Dvcfile`?. Then we have to provide the stage name li

[2020-04-03 08:19] AljoSt commented on #3568
@shcheklein I'm currently using S3

[2020-04-03 08:25] jorgeorpinel commented on #2865
I'm addressing this in https://github.com/iterative/dvc.org/pull/1096#pullrequestreview-386926510 👍

Also, how about
- [ ] Add `dvc config gdrive.client_id` and `gdrive.client_secret` config options so you don't have to set it up per remote
?

[2020-04-03 08:26] efiop commented on #3578
@jorgeorpinel Not sure consistency there is worth so much trouble right now. Honestly, wouldn't bother right now with that.

[2020-04-03 12:34] casperdcl commented on #3496
yes; this is about making it persistent & pulling rather than re-cloning.

[2020-04-03 15:45] liamkesatoran opened #3588 "pipeline: show: --outs: DAG has improper edges"
- DVC version : 0.92, MacOS, installed via pip.
- Related issue : https://github.com/iterative/dvc/issues/1744 : Seems like the exact same problem but status says closed / merged.

Issue :
In the DAG for `--outs` , all outputs from a connected stage are linked to the output of the stage.

Steps to recreations :
[code]

<img width="176" alt="Screen Shot 2020-04-03 at 8 40 59 AM" src="https://user-i

[2020-04-03 15:50] shcheklein commented on #2865
not sure about this, I don't see that much difference with other remotes and other params they have

[2020-04-04 03:38] ahmed-shariff opened #3589 "Rename --outs-only"
The param `--outs-only` for `dvc list` is not intuitive.

[2020-04-04 03:42] ahmed-shariff opened #3590 "`dvc list`: handle local repos differently?"
When I run the command `dvc list .` from any sub-directory of the project I get the following error:
[code]

Though it works when executed from the root directory of the project

DVC: 0.91.1 (arch linux;pip)

----------

UPDATED (@shcheklein):

repurposed it a bit - https://github.com/iterative/dvc/issues/3590#issuecomment-612558038

[2020-04-04 08:28] jorgeorpinel commented on #2360
Added note in fe2ae7a5 for #1103

[2020-04-04 19:48] elgehelge commented on #3393
Just read up on MLFlow projects. In my opinion they have done it the right way.

[code]

A few great things about this approach:
* Not having to point at an external file
* Each parameter is closely coupled with the step (entrypoint) that uses the parameter
* They do not force a default value

[2020-04-05 13:59] casperdcl commented on #3452
@JIoJIaJIu can you post some code for reproducing the `import` case?

[code]

[2020-04-05 18:56] zimka opened #3596 "Partially missing dir cache leads to no data at all after dvc pull"
**Setup**
Fedora release 31, dvc version 0.91.1
**Description**
I have faced a situation when our dataset (directory with many video) cache was somehow not fully pushed to cloud (2 videos cache lost), which have led to inability to load anything from the dataset at all.
It would be nice to be able to checkout partial cache in such situation.
I have prepared a python script that reproduces this sit

[2020-04-05 19:44] efiop commented on #3590
Hi @ahmed-shariff !

dvc list expects to receive a URL to a git repo, which `.` isn't when you are not in the git repo root. Same as you can't `git clone` that directory. Theoretically, we could check if URL that you pass is a git repo subdir, but I'm not sure if it is worth the effort and it also will probably lead to misuse, where people would try to use it as `ls` in their subdirs.

[2020-04-05 23:01] casperdcl opened #3597 "progress: clear nested bars on `ThreadPool` exit"
- don't clear nested bars when they finish (avoids blank space)
- manually clear `ncols` lines in `ThreadPoolExecutor.__exit__` (clean up bars at the end)
- from https://github.com/iterative/dvc/pull/3594#issuecomment-609492624
- continues #3583

[2020-04-05 23:24] shcheklein commented on #3568
@AljoSt so, in case of S3 (check the `s3.py` file) we use `s3.head_object` and `list_objects`. I think both of them return sizes so we can extend (might be needed to rename `exists` or make a second function) them to returns file sizes.

Suggested TODO (@efiop please review :) ):

- [ ] Check that `s3.head_object` returns actual object size (even if it's a multi-part upload).
- [ ] Check that `s3.

[2020-04-06 00:47] shcheklein commented on #1871
@dmpetrov this is how I understand this:

Agreed. May be we can allow files in subdirectories.

yep. The way I understand this.

yes. We can probably reuse `-f` (file name that we have)? In general, there is not yet spec in this discussion how would `dvc run` change.

I see where this suggestion come from. I think the whole idea is to keep `.dvc` files as simple pointers to data DVC-tracked artifa

[2020-04-06 01:25] efiop commented on #3589
Hi @ahmed-shariff !

Maybe you have some suggestions?

[2020-04-06 02:10] efiop commented on #3596
@zimka In your reproduction script you delete `.dir` file, which contains all information about how the directory is structured, without which there is no way to partially restore your directory. This is expected behaviour. If you would be missing some cache files for cache files listed inside of that `.dir` - dvc will partially restore it.

[2020-04-06 02:35] shcheklein commented on #3589
`--dvc-only`?

[2020-04-06 02:52] jorgeorpinel opened #3599 "remote modify: add `name` param?"
So you can change the name of a remote e.g.

[code]

The workaround rn is to just add the remote again and remove the previous one. But if it has some special configuration then it's more difficult. A better workaroud is to edit the .dvc/config file but relatively advanced.

`git remote` lets you change a remote name BTW.

[2020-04-06 02:57] jorgeorpinel commented on #3599
BTW if you actually run my example command to modify the unexistent `name` param, it gets written to .dvc/config, which causes an error output whenever you try to change the config later:

[code]

[2020-04-06 03:53] shcheklein commented on #3599
(Yep, I hit the same issue here https://github.com/iterative/dvc/issues/3552 - quite annoying one :) )

not sure this is very advanced to be honest

[2020-04-06 05:04] Suor commented on #1871
Some questions from me:
1. Will we have any sort of build cache? In first iteration or at all? Ruslans plan was to make local build cache for first iteration, and probably sync it as cache later.
2. What is the exact mechanism how lock files work?
3. Do we need distinct lock and pointer files? Or that might be the same? Cause if they might then we can just either use `.dvc` files for both or make

[2020-04-06 05:13] zimka commented on #3596
As far as I understand there is one cache chunk for each file and one additional cache chunk per directory itself in .dvc/cache - therefore for 4 files there are 5 cache chunks at the step 3 .
One random cache chunk is deleted at step 4 (I am not sure how can I distinguish file-cache-chunk from dir-cache-chunk).
The deleted cache chunk can be either for file or for the whole directory - it can be

[2020-04-06 07:06] skshetry commented on #2511
Looks like mercurial had same problem:

After trying out different tools, they went with [*asv*](https://github.com/airspeed-velocity/asv) ([their benchmarks](http://perf.octobus.net/)).

Their plan for performance tracking is [documented](https://www.mercurial-scm.org/wiki/PerformanceTrackingSuitePlan).

---
Here's the presentation regarding `asv` [2014].

[![Presentation regarding asv](https://i

[2020-04-06 07:54] #3580 closed

[2020-04-06 10:28] jorgeorpinel commented on #3599
Not advanced in terms of skill, but you need to know that remote config is in that file. It won't be obvious knowledge for DVC beginners.

[2020-04-06 10:29] jorgeorpinel commented on #3599
Also for gdrive remotes the file in .dvc/tmp/...json would also need to be changed manually, I think.

[2020-04-06 11:42] Steiniche commented on #3574
We have the same use case.
What we do is copy all .dvc files such that we can call dvc pull when running training and have all data files available without "baking" them into the container which would be an anti-pattern.
We copy the needed code files into the container on build.

It used to work with
`dvc init --no-scm` in version `0.82.9` but in `0.92.1` we start to see errors:
[code]
The fix is

[2020-04-06 16:59] shcheklein commented on #3574
@Steiniche hi! what command did produce this `Bad git executable` error? could you run it with `-v` and share the output, please?

[2020-04-06 17:27] shcheklein commented on #1871
@Suor that "script" can become a compat layer that we will be using to access history. The point is to isolate old code as much as possible so that it does not stop us at anything we want to redesign. To clarify, if there is no significant additional code complexity and we don't take some suboptimal decisions because of this backward compatibility thingy, I'm totally fine to keep.

[2020-04-06 17:30] DavidGOrtega commented on #2774
Hi! we are pushing to use the code through Docker, the main reasons are:
 - Complexity abstraction (The container acts as a wrapper of the whole stack)
 - User experience is the same (or very close) in Gitlab and Github
 - Stack is preinstalled so its faster to execute
 - Less friction and ready to go for GPU
 - The image is also will act as a runner, again, with the same user experience in Gitlab

[2020-04-06 18:31] shcheklein commented on #3599
it doesn't contain the remote name yet. With GDrive multiple remotes are not supported effectively yet.

it's a good question. I think for people familiar with command line, git, etc it should be more or less intuitive that there is a config somewhere.

[2020-04-06 21:48] jorgeorpinel commented on #3599
OK. No strong opinion. I would err on the side of adding this which I'm assuming should be pretty easy, since `git remote` allows you to do it, so you may expect this if you're used to Git. + the other reasons outlines. Feel fee to close this though, up to you! Thanks

[2020-04-07 01:07] ahmed-shariff commented on #3590
I see. Thank you for the clarification.

[2020-04-07 02:13] efiop commented on #1871
It is not necessary for multistage dvc-file, but it is a desirable feature (e.g. for cicd). We have a separate ticket for it and I have an implementation that I'm getting ready to push right now.

They would contain cmd, hashes for deps and hashes for outputs, locking the execution state. We might want to use the same format as in build cache though (but it is not required), we will discuss it wit

[2020-04-07 04:20] liamkesatoran opened #3602 "repro: downstream: reproducing in wrong order"
DVC version : 0.92.0 (PyPI) + MacOS

It seems `dvc repro --downstream` (could also be the `-f` option) sometimes executes DAGs in the wrong order.

Steps to reproduction:
[code]

Last bit does :
[code]
Even though the DAG looks like this :
[code]
In this case step2 (`touch 3`) should be executed before step3 (`touch 4`)

[2020-04-07 05:00] dmpetrov commented on #1871
"distinct lock and pointer files" is a very important question. It feels like it is a bit too much to have 3 different concepts: dvc-files, pipeline files and lock files.

Compatibility is important. But I don't think it worth introducing a new concept (or keep the old one) just for compatibility. We should avoid this as much as we can. It is a potential technical debt.

[2020-04-07 06:49] jorgeorpinel opened #3605 "metrics diff: cryptic error in --no-scm projects [qa]"
[code]

Run in a --no-scm DVC project. Compare to `dvc diff`:

[code]

[2020-04-07 07:01] jorgeorpinel opened #3606 "dvc metrics add: should it dvc add untracked files?"
I propose `dvc metrics add`, when used with an untracked file, automatically creates the orphan DVC-stage for it (calling `dvc add` under the hood) instead of

[code]

[2020-04-07 07:46] jorgeorpinel opened #3607 "metrics show/diff: should it pick up untracked changes? [qa]"
[code]

This is because the change in file `metric` hasn't been committed to cache, I guess. But it feels intuitive that show/diff would read the actual file in the workspace and not the cached one (at least diff? same as in Git).

To show the change, you have to
[code]

[2020-04-07 07:49] jorgeorpinel commented on #3607
Oops, some typos in the numbers. Fixed now. Please read in GH. Emailed message is outdated. Thanks

[2020-04-07 07:59] efiop commented on #3596
@zimka Indeed, there is a regression that doesn't create the directory if some cache file is missing. Looking into it...

[2020-04-07 08:34] jorgeorpinel opened #3608 "Consistent subcommand order"
Help output of commands with subcommands have a seemingly random order. I propose this (matches docs repo nav sidebar per iterative/dvc.org/pull/1110):

metrics: add, modify, show, diff, remove
pipeline: list, show
remote: add, default, modify, list, remove

I can probably send the PR too 🙂 lmk

[2020-04-07 08:50] dmpetrov commented on #3419
@shcheklein It would be really great if you could specify what part is unexpected.

Issues that I see:
1. Double warning messages (modified output and then modified stage). The second message is not needed (included in the 1st one).
2. It should not be a warning - regular DVC behavior. Just an output (not INFO either).

Anything else?

[2020-04-07 08:54] dmpetrov commented on #3572
Ideally, as part of this issue a few other steps should be implemented from the link above:
[2] Add support for YAML since it is an often-used format - #3393 (comment)
[3] With two simple json/yaml formats, do we really need raw format? Let's get rid of raw metrics format.
[4] Do we really need xpath in dvc-files? I see a clear use case in metrics show as a filter but not in other commands. Let's

[2020-04-07 09:02] Suor commented on #1871
If they have the same format then why we can't make it a single thing?

[2020-04-07 10:52] efiop commented on #3574
@Steiniche Hi! Could you try setting `dvc config core.no_scm true` when you copy your .dvc files over? That should fix it. The error you are getting is from missing or bad git executable that dvc tries to use (it won't with `no_scm true`).

[2020-04-07 21:29] shcheklein commented on #3419
@dmpetrov it looks like I forgot I wrote that I'm closing this but forgot to actually close this. As far as I remember it looked to me that it was running something that it's not supposed to run - but turned out I was wrong. So, my intention was to close this and eventually create UI tickets when we get to repro.

[2020-04-07 21:29] #3419 closed

[2020-04-07 21:38] shcheklein commented on #3607
Related https://github.com/iterative/dvc/issues/3386 - all of them should behave the same way indeed 👍

[2020-04-08 08:24] karajan1001 commented on #1419
I tested " pipline show --ascii [target dvc file]“ and it only shows the ancestors of the target now. May it been closed now?
![image](https://user-images.githubusercontent.com/6745454/78761528-4f9dbb00-79b5-11ea-8b51-117ca6b2f581.png)

[2020-04-08 08:28] efiop commented on #1419
Thank you for the investigation @karajan1001 ! :pray: @vernt Maybe you meant descendants? E.g. like `--downstream` for `dvc repro`?

[2020-04-08 10:51] efiop commented on #3572
@dmpetrov So maybe let's get rid of *sv support, drop explicit XPath and type, support only yaml (could leave json, but is there really a point?) and pretty much do the same thing that we do with params? E.g.
[code]
?

[2020-04-08 13:53] skshetry commented on #3608
@jorgeorpinel, the order of the subcommands can be changed by changing the order of the `add_parser` calls. However, it's easy to mess things up (eg: someone adds a subcommand, etc) and is fragile and hackish. We could extend `HelpFormatter` to sort those subcommands, but, I don't think it's worth investing time in doing this at all.

[2020-04-08 16:59] efiop opened #3611 "external_repo doesn't respect parent cache and progress bar"
Somewhere during the external_repo refactor we've lost the logic that was using parent's cache dir to store cache. Currently, we are using tempdir (yes, in /tmp) to pull data too, which is really bad, as it might not have enough space available. Plus, we don't respect link type, trying to always copy stuff, which is also really bad. And on top of that we've lost our progress bar for when we are ch

[2020-04-08 17:03] shcheklein commented on #3611
lack of tests cc @Suor

[2020-04-08 17:09] efiop commented on #3611
I guess it is lack of tests before the refactoring as well. Then refactor broke it without us noticing. Will add some.

[2020-04-08 17:31] efiop commented on #3611
Ok, update: we do respect link type by chance, because of `self.commit()` in `stage.py` after we download it. Still the fact that we download to /tmp, then copy! it to local workspace and only then we move it to cache and create a link is really bad.

[2020-04-08 21:32] jorgeorpinel commented on #3608
Maybe not from a technical point of view but from a user experience perspective, these details make a difference.

[2020-04-08 21:33] jorgeorpinel commented on #3608
i.e. let't put ourselves in the shoes of the user, not of the developer 🙂

[2020-04-09 01:34] dmpetrov commented on #3572
@efiop agree re the format support (but I'd keep json). The good news is - both yaml and json are hierarchical and we can use the same patterns for filters (like path).

Granular metrics addressation (like `-m all.AUC`) seems a bit too complicated scenario. It has one advantage - multiple stages can append metrics to the same metrics file. But this metrics appending is not easy to implement. We ca

[2020-04-09 02:18] #3528 closed

[2020-04-09 02:31] dmpetrov commented on #1871
@skshetry and @efiop any update on this? It seems like folks are very happy with the proposal and most of the design decisions in it. The only open question is how many concepts we need 2 or 3 (dvc-file, pipeline file, lock file). It would be great to see the proposed files formats to understand the separation better.

[2020-04-09 04:30] Suor commented on #3611
This was intentional. This allows sharing external repo caches outside of repo, which might not even exist, like in `dvcx`.

[2020-04-09 04:30] Suor commented on #3611
Also, I see polluting current repo cache is bad too.

[2020-04-09 04:31] Suor commented on #3611
The thing is external repos don't have parent, they are completely independent.

[2020-04-09 05:21] Suor commented on #3611
Looked at how import is implemented, looks like it downloads directly to targets repo cache, via the hack:
[code]
Then `Output.checkout()` is called with path set to tmp path, then thing is moved from tmp path to needed location, tmp is removed. The tmp path/move part was introduced for partial get/imports and is not in `/tmp`, but next to dest. Copying in `ExternalRepo.pull_to()` is only used for

[2020-04-09 05:39] pmrowla opened #3612 "refactor: use `**kwargs` instead of very long function declarations"
_Originally posted by @shcheklein in https://github.com/iterative/dvc/pull/3600_

Any commands and functions that use remote status (i.e. `push`/`pull`/`fetch`/`gc`/`status`) require passing 9+ args through multiple function calls in `repo`/`cloud`/`remote`/etc. Would be much cleaner to just use `**kwargs` and document the expected parameters at the top level function declarations (most of these f

[2020-04-09 07:50] Suor commented on #1871
+1 on file formats, some examples here. Will help make sure we understand things the same.

[2020-04-09 14:42] skshetry commented on #1871
File format is almost same as above. Stage file will be same as shown above:

[code]

But, I might leave a few things for the first iteration (eg: `always_changed`, `locked`, etc).

Also, regarding lockfile, current implementation is similar to:
[code]

Each of the stage create one output stagefiles (if `no-cache` is not set):
[code]

I used `md5` to simplify for the implementation, but, we (@efio

[2020-04-09 15:35] nabil-aitbaha opened #3616 "dvc: command to list file/dir versions/history"
Actually to see versions of a DVC file, we need to use "git log" but this command need to clone the repository before. So if I need to import a specific version of a dataset on an another project, I need to clone the entire repository.
A better way should to use a command like "dvc list --versions url".

[2020-04-09 15:41] Suor commented on #1871
1. Why do we have `deps -> stage-name -> dep-filename` in lock file?
2. Aside from that lock-file looks like stage file in json, so do we really need it as a separate thing?
3. Do we need base md5 in lock file? How is it calculated?

[2020-04-09 15:48] skshetry commented on #1871
Good question @Suor.

4) `params` hasn't really been discussed and not a part of this at the moment.
3) `md5` not really used. Just an example at this point. The final implementation will use similar formats to build cache.
2) Old stage file is implemented to allow for individual checkouts.
1) `deps -> stage-name -> dep-filename` in lockfile is mostly for not introducing discrepancy between differ

[2020-04-09 15:54] Suor commented on #1871
1. `dep` is just a filename, I can't see any point in prefixing it with stage, that would be the same file regardless of the stage. This notation looks meaningless and confusing.
2. We don't need old stage files for individual checkouts, we might address stages with `stages-filename.ext:stage-name`, we will need to implement such addressing anyway for repro. The real question was can we drop old `

[2020-04-09 16:22] skshetry commented on #1871
1. It can be different. Take an example:
[code]

[2020-04-09 19:03] efiop commented on #3616
For the record: would probably reconsider adding this to the `list` itself, feels like it doesn't belong there. Maybe we need a different command for such functionality.

[2020-04-09 19:03] efiop commented on #3616
For now `git log my.dvc` does the job. Discord context: https://discordapp.com/channels/485586884165107732/563406153334128681/697826620601532496

[2020-04-09 23:53] danfischetti opened #3618 "RemoteLOCAL.unprotect modifies cache permissions for symlinked files"
**Please provide information about your setup**
dvc --version 0.91.1

The RemoteLOCAL.unprotect function for an output tries to replace the symlink with a copy of the data. First the cache file is copied to a tmp dir, then the link is removed, then the tmp file is renamed. The problem is with the `remove` function defined here:
[code]

It calls `_chmod` on the link path, defined here

[code]

but

[2020-04-10 03:43] shcheklein commented on #1871
thanks, @skshetry ! It all makes sense. a bit more questions/concerns :)

1. I understand that we need a lock file and it will be pipelines-specific, while .dvc are kind-of data pointer files. What I don't understand yet, why do we need to save `outs` info into this lock file. And what would happen if we get a discrepancy between those? How will repro behave?

2. **Naming** - Dvcfile and DVC-files

[2020-04-10 03:51] skshetry commented on #1871
cc @shcheklein

1. pointer files will only be read by non-pipeline related commands (i.e. except of run/repro/pipeline/lock/unlock). `repro` will use dependencies from the workspace and regenerate pointer files and the lockfile if they change, same behavior as we have at the moment.

2. Better naming would be good. Plus, it will also not be confusing, eg: when user will do `dvc checkout <pipeline-

[2020-04-10 04:26] Suor commented on #1871
@skshetry
 I your example both stages depend on exactly the same file, the md5 allows to differentiate file versions. Stage prefix does nothing to do this.

Another way to say that is that stages depend on file paths not on their contents. If file contents change then stage might be reprod to update deps md5s, run it and update outs and their md5s. Neither stage deps paths, not stage outs paths ar

[2020-04-10 04:52] shcheklein commented on #1871
@Suor

but you can a single stage, right? and it should update only deps for that stage.

@skshetry

from the discussion with @skshetry :

- I get the idea about data command being independent from the pipelines - and I like it. We should keep .dvc pointer files.
- we need to save hash for outs in the lock at leas for the Git-tracked files, so no way to avoid saving anything about outs in the lock

[2020-04-10 05:24] RomanVeretenov commented on #3561
[code]

[2020-04-10 07:16] efiop commented on #3561
@RomanVeretenov Using `/home/ds` is questionable, but nothing functionally wrong about it :slightly_smiling_face: Looks alright. Maybe you have `.dvc/` gitignored somewhere or something?

Need to check your `.gitignore`s in `/home` and `/home/ds` to see if they are sane(maybe they have something like `!!.dvc/tmp`, `!!tmp` or something that forces git to not ignore `.dvc/tmp`. Would also check glob

[2020-04-10 07:21] efiop commented on #3608
Changing the order in the code is the only sane way to go here. And it is extremely simple to create a PR for it. @jorgeorpinel Please feel free to adjust it to your liking.

[2020-04-10 07:22] efiop commented on #3608
But as @skshetry mentioned, we provide no guarantees that we won't mess up the order in the future, because it is extremely easy to do that. So maybe not worth bothering at all. We have it sorted in docs - great, but in cli user never sees help for those together so won't ever notice the inconsistency. Your call @jorgeorpinel

[2020-04-10 09:53] rdwrt commented on #3394
This will be a very useful change, +1

[2020-04-10 09:56] dmpetrov commented on #1871
@skshetry thank you for the example!

Just to make sure we are on the same page... If a user runs something like:
[code]

Then we will have (naming is not important now):
0. Data source file like `users.csv.dvc` with md5/pointers
1. Pipeline file `Dvcfile` without any md5 but with the command, deps and outputs (your first example)
2. Lock file of that pipeline `Dvcfile.lock` (your 2nd example) wit

[2020-04-10 12:44] RomanVeretenov commented on #3561
There is no /home/.gitignore
Also I have no global gitignore
Also .git/info/exclude is empty

[code]

also I have recursively listed all gitignore's
None of them but .dvc/.gitignore conatins tmp

[code]

Each `dvc status` adds a /tmp to th end of .dvc/.gitignore

[2020-04-10 13:01] efiop commented on #3561
@RomanVeretenov Could you try to reproduce it with a newly created dvc project? E.g.
[code]

I'm still not able to reproduce your issue, most likely there is something off with your environment, can't put my finger on anything yet.

[2020-04-10 15:42] skshetry commented on #1871
@dmpetrov, (0) & (3) will have the same structure. Regarding lockfile, lockfile formats will probably be as follows (4th example in above):
[code]

@Suor, Can you please explain what you are trying to say? Are you talking about using hashes like we do in build cache? If yes, we decided against that because it'd require us to hash all the deps/outs to check if it has changed, and to allow for granu

[2020-04-10 17:48] dmpetrov commented on #1871
@skshetry I see the same problem as @Suor mentioned. By `stage_name` level in the lock file, we allow deps duplications and outputs duplication as well. We should avoid this.

Currently, DVC prevent output duplication:
[code]

For some reason, we do not prevent the deps duplication but we should. Your example:
[code]

Ideally, we should prevent both of these cases.

[2020-04-10 20:21] #3618 closed

[2020-04-10 23:27] adamsvystun opened #3621 "Saving filenames in remote storage for data recovery without a repo"
Consider the following situation:
You create a git repo with DVC for data management. You use S3 remote storage. Let's say you then lose the repo (e.g. somebody force pushes into master), consequently, you lose all the `.dvc` files. You want to recover the data solely from the S3 backend.

Currently, it is possible to recover the data, but without the filenames.
It would be nice if the filenames a

[2020-04-11 06:20] Suor commented on #1871
I don't understand what is deps duplication. A single dep might be used by many stages, I don't see the issue with that.

@skshetry The issue was with lockfile format you presented in your first example, the example from your last message doesn't have that issue. So it's resolved.

[2020-04-11 07:12] skshetry commented on #1871
@dmpetrov, for the record, there will be `.dvc` file for each outputs, and regarding to your example, there will be two output files, `logs.dvc` and `model.pkl.dvc`.

@Suor, I think, @dmpetrov is talking about different versions of deps in the stages.

[2020-04-11 08:13] W5G opened #3622 "Report"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[2020-04-11 08:35] skshetry commented on #3622
@W5G, can you please provide information about the issue you are facing? Or, please, [join the chat](https://dvc.org/chat), we're happy to help you.

[2020-04-11 21:33] jorgeorpinel commented on #3608
Totally understood! Will send PR

[2020-04-11 21:34] jorgeorpinel commented on #3608
(when I have some extra capacity)

[2020-04-12 00:40] jorgeorpinel opened #3625 "dvc: meaningful option arguments"
To match changes in documentation, the argument literals printed in -h help output of DVC commands should use th `metavar` param of `argparse`'s `add_argument()` to change the default argument name e.g.
[code]
instead of `[-f FILE]`

See the https://dvc.org/doc/command-reference to find all the updated  arg names in use in docs.

[2020-04-12 00:44] jorgeorpinel commented on #3625
Created #3626 to get this started. Will continue it when I have capacity, or feel free to take it over. Thanks

[2020-04-12 03:28] shcheklein commented on #3590
To be honest I think it makes sense to handle this as a special case:

* don't clone
* if URL is a local path that is part of the DVC repo - show the result of `dvc list <path-to-Git-root> URL`. It means if I run `dvc list .` I just see the files in the current location - it is probably the most expected result.

@iterative/engineering @casperdcl thoughts?

(reopening, since it's annoying to remem

[2020-04-12 10:37] casperdcl commented on #3590
@shcheklein I agree

[2020-04-12 12:26] wmbolle commented on #1582
The problem is that the ROS environment modifies the PYTHONPATH. That not only affects Python2 but also Python3. For Python3, you can either temporarily reset PYTHONPATH or fix sys.path at the beginning your Python3 script. Here is what I did:

import sys
for ix in range(0, len(sys.path)):
    if 'python2' in sys.path[ix]:
        sys.path[ix] = sys.path[ix].replace('python2', 'pythonX')
print('sy

[2020-04-12 12:55] weekly-digest[bot] opened #3627 "Weekly Digest (5 April, 2020 - 12 April, 2020)"
Here's the Weekly Digest for [iterative/dvc](https://github.com/iterative/dvc):
# ISSUES
This week, 29 issues were created. Of these, 10 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #3626 [Specify cmd arg names (metavars)](https://github.com/iterative/dvc/pull/3626), by [jorgeorpinel](https://github.com/jorgeorpinel)
:green_heart: #3625 [dvc: meaningful option

[2020-04-12 13:59] vss96 opened #3629 "Error in dvc pull due to python encoding"
Hey, I was trying to pull in some images from a DVC file and this ended up happening
[code]

[code]

Solution: Make sure the following environment variables are set.
[code]
Execute the following lines and it should not error out. This means that the above issue won't occur as well.
[code]

[2020-04-12 14:25] skshetry commented on #3622
Closing this. Please feel free to reopen with more information.

[2020-04-12 14:25] #3622 closed

[2020-04-12 14:38] #3627 closed

[2020-04-12 14:39] efiop commented on #3629
Discord context https://discordapp.com/channels/485586884165107732/485586884165107734/698895372470321212 .

[2020-04-12 14:39] #3629 closed

[2020-04-13 09:39] RomanVeretenov commented on #3561
It works ok on a clean repo

[code]

after executing all given commands

[2020-04-13 10:43] efiop commented on #3561
@RomanVeretenov So there is something with your .gitignores in the rest of the project. You'll have to take a look and see what is different between it and a clean one. It might be .gitignores somewhere, might be the fact that you are in `/home/ds` (esp if you are working ad `ds` user), might be that you don't have permissions to access some files. But it is clear that this is not dvc-issue, it is

[2020-04-13 10:45] efiop commented on #3561
Please let us know how it goes. I'll close this issue for now.

[2020-04-13 10:50] efiop commented on #3418
Hi @anderl80 ! Is it still not working? Were you able to resolve it?

[2020-04-13 10:51] efiop commented on #3476
Closing as stale.

[2020-04-13 10:51] #3476 closed

[2020-04-13 11:27] Steiniche commented on #3574
@efiop I need to understand this a little better to be able to test it.
Why is there a difference between `dvc init --no-scm` and the configuration `core.no_scm true`?
Should these not be the exact same thing or are there some use cases I am not seeing?

[2020-04-13 14:34] JIoJIaJIu commented on #3452
Hey @casperdcl, sorry for the delay with answer!

I was just using `dvc` with local storage

Steps for reproducing:
1. Create `source_repo`
[code]
2. Setup local remote
[code]
3. Generate files [with the script](https://gist.github.com/JIoJIaJIu/ed226df1a9dd25187bd06855d0116b58#file-grand-sh-320mb-x-4-1-3gb)
[code]
    will show
[code]
4. Create `target_repo`
[code]
5. Import the output
[code]

[c

[2020-04-13 14:35] karajan1001 commented on #3621
I think the file is still in the dvc remote cache dir. Maybe you can download the whole remote cache dir and check through all the files. The file size and create time can give you useful informations.

[2020-04-13 14:42] efiop commented on #3621
@adamsvystun You could simply git push to your s3 repo, that will back it up. Also, force pushes are usually forbidden for important branches (e.g. on github/gitlab/etc it is really easy to do in the settings and could probably do that in plain git too), so it is worth doing that, since you might not only lose dvc files but your code. I don't think there is anything dvc could do, except upload a g

[2020-04-13 15:03] karajan1001 commented on #3621
@efiop

Emmm, as a machine learning engineer. Data is more important for me, especially those manual labeling data.

[2020-04-13 15:33] efiop commented on #3621
@karajan1001 Touche, I went too far on that one :slightly_smiling_face: Thanks for the correction!

Thinking about it some more, theoretically we could store some list of filenames and their hashes in plain form as a kind of tags of sorts. For example, for directories, we store `.dir` cache file, which has relpaths and their hashes in plain text form, so you will be able to find and recover a file

[2020-04-13 15:37] efiop commented on #3621
Also, we have been thinking about creating some command for listing your raw cache to be able to find lost files by their size/mtime/etc (pretty much what @karajan1001 suggested earlier). Maybe we need something similar here, but for remotes.

Again, these are the thoughts from the top of my head. If you have any suggestions on how it could look like, please feel free to share :slightly_smiling_fa

[2020-04-13 15:45] efiop commented on #3621
E.g. `dvc add path/to/data` (md5 of data is `12345`) could create empty file `.dvc/cache/skeleton/path/to/data/12345` to mark that such path used to have such hash at some point. If `data` later changes and has md5 of `54321`, then dvc would create empty file `.dvc/cache/skeleton/path/to/data/54321`. If `data` ever becomes dir with `33333.dir` hash, then it would create empty file `.dvc/cache/skel

[2020-04-13 16:24] adamsvystun commented on #3621
@karajan1001

Yes, I can do that, this would allow me to recover the files, but it would be a little nicer if the filenames were also in the remote.

@efiop

I would know to properly set up the repo in this way for sure. But many people don't do that, and eventually, somebody might lose all the data because of some intern and bad configuration. It's unlikely, but the probability is nonzero. Maybe

[2020-04-13 16:42] efiop commented on #3621
@adamsvystun The reason why I am admittedly hesitant is because it feels like duplicating git's functionality in a sense :slightly_smiling_face: But I understand your point and do see the value here.

@adamsvystun @karajan1001 What kind of functionality would you expect from such a feature/command? What if a remote is used by multiple dvc projects? Should it show files as if they are in the same d

[2020-04-13 16:51] shcheklein commented on #3621
My 2cs on this - we can just dump any information about file names w/o expecting any additional functionality. Just to help to recover information if needed. Any mapping from hash to a name is way better than having nothing. I think that alone can be a good step. At least in making it more secure.

[2020-04-13 16:58] adamsvystun commented on #3621
I agree with @shcheklein. Simple, but good enough if you do lose something.

[2020-04-13 17:18] shcheklein commented on #3561
@RomanVeretenov

When `/tmp` is already part of the `.dvc/.gitignore`:

what does `git check-ignore "/.dvc/tmp"` return?

also, what will the script like this return in your case:

[code]

I wonder if it's some yet-another-gitpython's-bug.

[2020-04-13 17:22] efiop commented on #3561
@shcheklein Already checked: https://github.com/iterative/dvc/issues/3561#issuecomment-606737795 , it is not gitpython.

[2020-04-13 17:31] shcheklein commented on #3561
@RomanVeretenov @efiop

sorry, missed that ... this is really weird!

@RomanVeretenov can you just do it all manually. Save the old `.dvc/.gitignore` somewhere, create a new one with a single entry `/tmp` and and run from the project's root `git check-ignore .dvc/tmp`?

Do you use submodules or any other advanced Git's stuff?

[2020-04-13 19:36] efiop commented on #3574
@Steiniche There is no difference right now, `dvc init --no-scm` will set that config option. We've changed the behaviour a few versions back though, so it wasn't like that before.

[2020-04-14 07:11] karajan1001 commented on #3621
@efiop My opinion,  now the data is tracked by dvc, data information( file name?or something else) is tracked by git.  There is only one mapping directions between them. It's easy to find data files from dvc files but the opposite operation is much harder. In most cases using git to track the .dvc file is enough. Make it more secure means we had to recover data only with information from a remote

[2020-04-14 10:07] dmpetrov commented on #1871
In this discussion, we are mostly focused on the separation of the pipeline and the data management layer. This is definitely important aspect of this issue. However, there are actually two pain points that this issue addresses:

1. Not easy to understand pipeline if it is split in multiple files
2. If I run a command `dvc run -d x -d y -o Ooo -M mm -m mmmm python code.py myparams` it is not easy

[2020-04-14 10:41] dmpetrov opened #3633 "Pipeline variables from params file"
With the introduction of the new multiple-stage pipeline, we will need to find a way of defining variables in the pipeline. For example, the intermediate file name `cleansed.csv` is used from two stages in the following pipeline and it needs to be defined into a variable:

[code]

We need to solve two problems here:
1. Define a variable in one place and reuse it from multiple places/stages.
2. Oft

[2020-04-14 19:30] Steiniche commented on #3574
@efiop thanks for clearing that up.
I initiate the repo with `dvc init --no-scm` so I guess it is already tested.
Still need `ENV GIT_PYTHON_REFRESH=quiet` for it to work.

I dont know if this is the intended behavior but it seems a little strange to me when the repo is initialized with `--no-scm`

[2020-04-14 20:12] efiop commented on #3606
Oops, forgot to post the comment that this is going to happen after multistage dvcfile, as we will pretty much decouple metrics from the rest of the things. So you would be able to
[code]
in your pipeline file.

[2020-04-14 20:38] shcheklein commented on #3574
@Steiniche

it makes total sense! what changed is the way this command works. The difference is that after one the recent releases `dvc init --no-scm` saves a flag into `.dvc/config` (`core.no_scm = True`). And DVC rely on this explicit flag to determine either it should use Git or not. Before it was pretty much implicit - DVC was trying to find `.git` in the repo to make that decision.

The botto

[2020-04-14 21:25] jorgeorpinel commented on #3606
Sounds good. But is the multistage DVC-file change going to existing commands in a non-backward compatible way so that this request will become outdated? Otherwise maybe we should still considered doing this separately.

[2020-04-15 09:07] anderl80 commented on #3418
The error is gone after manually cleaning up the .dvc files. There was some content added automatically. Have to check my notes what it was. After cleaning up everything was ok again.

[2020-04-15 10:12] efiop opened #3635 "remote: loading dirs is exteremely slow because of PathInfo"
This https://github.com/iterative/dvc/blob/0.93.0/dvc/remote/base.py#L290 takes ~50 seconds compared to ~0.4 for simple `replace()` that we used to have on our imagenet dataset.

[2020-04-15 10:40] HectorAnadon opened #3636 "dvc pull with target ignoring specific targets inside"
Is it possible to run dvc pull a folder, ignoring certain folders (.dvc files). If not, would it be possible to implement? Example of a use case below as it is a bit hard to explain.

Inside of folder A, I have folders 10, 11, 20, 21, 31, 41 and I want everything except 20 and 21. Would be something like this possible?
`dvc pull -R A --ignore 2*`

Thanks!

[2020-04-15 11:07] efiop commented on #3635
Actually, same with dumping. PathInfo is extremely slow when we need lots of it.

[2020-04-15 11:11] efiop commented on #3606
Yes, it will become outdated.

[2020-04-15 14:08] #3552 closed

[2020-04-16 02:03] karajan1001 commented on #3636
Dos dvc support File and directory patterns now?

[2020-04-16 04:00] dmpetrov commented on #1871
I was thinking more about this issue and talked with the team members. It is clear that the single-dvc-file/pipeline-file format should be as close as possible to `dvc run` syntax. Users should not learn a new format after learning `dvc run`. We should keep this as a top-priority requirement for the format. Otherwise, some users will keep using bash scrips to build dvc-pipelines.

Possible ways of

[2020-04-16 07:01] HectorAnadon commented on #3636
It worked in Ubuntu for me

[2020-04-16 08:34] RomanVeretenov commented on #3561
Will re-check everything next week

[2020-04-16 11:21] efiop commented on #3636
Pattern support here is provided by your shell expansion. You could exclude with it too https://stackoverflow.com/questions/216995/how-can-i-use-inverse-or-negative-wildcards-when-pattern-matching-in-a-unix-linu . Not sure it is worth supporting on dvc's end like that though :thinking:

[2020-04-16 12:09] casperdcl commented on #2511
@shcheklein this sounds like a big task; but I think actually reasonably straightforward. I'd recommend just using `asv` in a daily travis/circleci/gha cron job. Some notes:

- I'd suggest doing this in `dvc-test`
  + basically requires creating `asv.conf.json`, a directory containing benchmark scripts, adding 3 lines to `.gitignore`, and adding a few lines to a new CI job
- also can post the rend

[2020-04-16 19:01] shcheklein opened #3641 "params: update bash and zsh scripts with the latest commands, args"
Looks like we miss params command and its options?

Any other changes we missed?

Should we at least make it a checkbox in the release list?

[2020-04-17 02:50] jorgeorpinel commented on #3608
Looks like I have time for this now yay (will include in #3626).

- [ ] I also noticed the order of the options in each command help output comes from the order of each `parser.add_argument(` call. In docs we reordered the options arbitrarily according to which ones we think are more common or important. It would be nice to also match these... But probably for a separate issue/PR...

[2020-04-17 04:36] jorgeorpinel opened #3642 "Consistent cmd option order?"
To match docs, where options have been ordered manually from more to less important (at least that's the idea).

Example difference:

[code]
(DVC 0.93.0)

vs. https://dvc.org/doc/command-reference/commit#options:

![image](https://user-images.githubusercontent.com/1477535/79532553-1e6b5d80-803b-11ea-84a3-87c93af4eb5e.png)

[2020-04-17 04:38] jorgeorpinel commented on #3642
I'm wondering whether -h -q -v can be moved to the bottom of all cmds easily as a first step..

[2020-04-17 06:18] drorata opened #3643 "Unclear dependencies conflict when installing from conda-forge"
I have a `conda` environment defined by:

[code]

Once uncommenting the `dvc` dependency, I get messages like:

[code]

After about 30 minutes I terminated the process and now wondering why is it happening and what's the best approach to add `dvc` to this environment. Hinted by #2782 I tried to remove `tqdm` from the dependencies and add `dvc`, but conflicts appeared again. Any ideas?

This happen

[2020-04-17 07:30] HectorAnadon commented on #3636
I would say this doesn't contemplate this use case where the files are more nested.
Folder A contains folder B and C. I want to pull all the files from C and from B I want to ignore a certain pattern. Of course I could run two pull commands but when there a lot of folders this becomes a bit annoying.

[2020-04-17 16:35] efiop commented on #3643
@drorata I suppose when you declare python 3.8, it tries to install 3.8 package for dvc? If so, we don't currently support 3.8 on conda. https://github.com/conda-forge/dvc-feedstock/pull/98

[2020-04-17 17:15] charlesbaynham opened #3644 "repro -P seems to check status of dependancies too often"
DVC 0.91.0, Windows 10, pip

Description
========

Running `dvc repro -P` on a large graph seems to check all the early dependences once for each output, even if it has already been checked.

In the following repo:

                            step1.dvc
                              |
             ----------------------------------------
             |            |            |            |
     s

[2020-04-17 17:18] charlesbaynham commented on #3644
In Discord, @efiop suggested problem might be in
https://github.com/iterative/dvc/blob/11e56dbdf921c6eacf603bcdcc2e7a46ac7a3b88/dvc/repo/reproduce.py#L78-L90

[2020-04-17 19:58] #3606 closed

[2020-04-17 20:35] efiop commented on #1871
Keeping opened, since we are not done yet :)

[2020-04-17 21:56] efiop commented on #3642
@jorgeorpinel They probably could be moved with some hack or something, but I would urge you to consider if this is really worth it.

[2020-04-17 22:22] efiop commented on #3642
@jorgeorpinel I guess worth elaborating that moving -h/-v would require a non-trivial hack for argparse, which is probably too much effort for this kind of change. Not as easy as moving few lines around, unfortunately :slightly_frowning_face:

[2020-04-18 01:35] jorgeorpinel commented on #3642
Yes, -h -q -v def. don't seem worth trying to move. I'm not sure about the other ones though, let's say you have 20 lines in your terminal vertically (most people will have more but still) you use -h on a big command like run and scroll back to the top of the output. Shouldn't the more commonly used options be shown first? It could potentially save time and make the experience a little better.

It

[2020-04-18 03:39] karajan1001 commented on #331
I think this depends on the what the DVC think itself to be?

For me it's a data tracking tool in training staging, and data tracking and metrics comparing help me a lot when I make some experiments to the model, after that I use other tools to deploy my model.

So I use DVC as a data tracking tool like git, not a computation engine .I don't know what kind of tool, you guys want it to be

[2020-04-18 04:38] karajan1001 commented on #3633
In my case I stored these global variables (vocabulary file, cleaned data file, label name file) in a configuration file as default. And the processing cli can accept all these variables to override the defualt one. But my configuration file parsing and merging is coded inside the program, and had to be re-coded in every program.

[2020-04-18 06:12] drorata commented on #3643
So in other words, you're saying that when using python 3.8 with conda, the only way at the moment to install dvc is using `pip`, right?

Is there a way to improve the behavior so the process will fail faster and indicate that 3.8 compatible dvc is not available?

[2020-04-18 06:32] tall-josh commented on #3616
On a similar note, I've been doing the following. Say I have some Tensorboard logs I wish to track with dvc. That's great, but Tensorboard also allows you to specify many separate `logdirs` so you can visualize multiple runs at once. What I have been doing recently is generating a `history` directory that contains symlinks to files in `.dvc/cache`.

ie, If I had a directory structure like this:
[c

[2020-04-18 06:39] shizacat commented on #1153
Hi,
I try to create the remote - webdav and saw interesting thing. She different from remote http only one string - upload need method [PUT](https://github.com/iterative/dvc/blob/master/dvc/remote/http.py#L91)

Example in [PR](https://github.com/iterative/dvc/pull/3647)

But that need change base - schema change to http.

[2020-04-18 06:55] tall-josh commented on #3633
Before I knew about multiple-stage pipelines I used the `params` functionality and hacked together a script to build a richer `dvc run` command. I used the same `dot.notation` you can use in the params command line args ie: `dvc run -p params.yaml:data.output,train ...` In the end my `params.yaml` looks like:

[code]

I'm not suggesting the multi-stage pipeline changes. I guess all I'm saying is:

[2020-04-18 13:48] #3608 closed

[2020-04-18 13:48] #3625 closed

[2020-04-18 18:20] efiop commented on #3643
Pip package definitely supports 3.8, yes.

That's conda's issue, can't improve that :( But can look into conda-forge/dvc-feedstock#98 (we've been postponing it for awhile because of dependencies) to try to make it build for py3.8. IIRC it mostly requires pinging dep package maintainers to support 3.8 in their packages.

[2020-04-19 07:12] weekly-digest[bot] opened #3651 "Weekly Digest (12 April, 2020 - 19 April, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 24 issues were created.
Of these, 13 issues have been closed and 11 issues are still open.
## OPEN ISSUES
:green_heart: #3648 [Restyle remote: add support for WebDAV](https://github.com/iterative/dvc/pull/3648), by [restyled-io[bot]](https://github.com/apps/restyled-io)
:green_heart: #3

[2020-04-19 10:09] Sunny-Day200 commented on #1178
$ dvc push left
Unknown exception: q must be exactly 160, 224, or 256 bits long
Traceback (most recent call last):
  File "site-packages\paramiko\transport.py", line 2109, in run
  File "site-packages\paramiko\auth_handler.py", line 298, in _parse_service_accept
  File "site-packages\paramiko\dsskey.py", line 116, in sign_ssh_data
  File "site-packages\cryptography\hazmat\primitives\asymmetric\dsa

[2020-04-19 10:10] Sunny-Day200 commented on #1178
I'm sorry I can't understand the mistake

[2020-04-19 10:25] Sunny-Day200 opened #3652 "SSH cannot establish connection, push(Windows)"
dvc-0.92.0 windows.exe

$ dvc push left
Unknown exception: q must be exactly 160, 224, or 256 bits long
Unknown exception: q must be exactly 160, 224, or 256 bits long
Unknown exception: q must be exactly 160, 224, or 256 bits long
Traceback (most recent call last):
  File "site-packages\paramiko\transport.py", line 2109, in run
  File "site-packages\paramiko\auth_handler.py", line 298, in _parse_

[2020-04-19 11:02] charlesbaynham opened #3653 "On Windows, dvc repro spends an awful lot of time in rwlock"
Windows 7 / 10, dvc 0.93.0+f5d89f (after merging #3645)

Running cProfile on `dvc repro -P` in a repository with around 200 steps all of which are up to date. On my system this takes 65s, of which 42s is spent in `_edit_rwlock`.

I wonder, is it necessary to lock each individual file here? Couldn't the whole repository be locked instead?

Maybe a broader question: what are the respective purposes

[2020-04-19 11:11] efiop commented on #1178
@Sunny-Day200 Probably something is unusual about your keys, similar to https://github.com/paramiko/paramiko/issues/750 . Can't put my finger on anything specific. If it is your work laptop, try contacting your sysadmin.

[2020-04-19 11:11] #3651 closed

[2020-04-20 08:43] Sunny-Day200 opened #3654 "Secsh channel 10 open FAILED: open failed: Connect failed"
Linux
snap install --classic dvc 0.92.1

['remote "ssh"']
    url = ssh://hyperloop@ip/mnt/sdc1/dataset/data
    user = hyperloop
    port = 22
    keyfile = /home/python/.ssh/id_rsa
    ask_password = true

-----------------------------------------------------
Sorry, I'm new to DVC and I showed up during a push;

  0% Querying cache in ssh://hyperloop@192.168.99.52/mnt/sdc1/dataset/data| |0.0Secs

[2020-04-20 09:13] pared commented on #3538
Will check this, sorry for late response

[2020-04-20 09:21] skshetry commented on #3654
Hi, @Sunny-Day200. Thank you for reporting this. The push works successfully, right? The problem could be with the server that's not allowing us to open more channels and has been reported before in #3482.

Closing for now, feel free to jump in #3482, or if the `push`/`pull` fails, please reopen. The action point for us for this issue is to silence the paramiko logger. But, please try to check iss

[2020-04-20 09:21] #3654 closed

[2020-04-20 10:17] benjamintanweihao opened #3656 "Support dvcignore for external dependencies."
Current `.dvcignore` doesn't seem to apply to external dependencies. Our current use case is that we have models and data as external dependencies stored on an NFS drive (the cache is also on NFS), and there are certain datasets in `/mnt/nfs/data` that we do not want to expose to DVC.

[2020-04-20 10:18] benjamintanweihao opened #3657 "Mention in documentation that dvcignore doesn't apply to external dependencies."
As above.

[2020-04-20 22:42] efiop commented on #3653
Thanks for the investigation! That is indeed pretty strange, we need to take a closer look. Could you show your `dvc version` output btw?

Actually, that's what we used to do, but rwlock was introduced to support granular locking, so that you could run dvc in parallel.

Useful link: https://dvc.org/doc/user-guide/dvc-files-and-directories  :slightly_smiling_face: `rwlock` is for granular locking o

[2020-04-20 22:43] efiop commented on #3653
@charlesbaynham Btw, have you tried running that on Linux? Wonder if this is windows-specific or if we have troubles everywhere.

[2020-04-20 22:46] efiop commented on #3652
Hi @Sunny-Day200 !

Havent seen that error before. Maybe something is off with your certificates? E.g. https://github.com/paramiko/paramiko/issues/750 seems similar.

[2020-04-21 04:08] #3466 closed

[2020-04-21 04:08] skshetry commented on #3466
Closing, as the mentioned way does not work for all kinds of links.

[2020-04-21 08:01] drorata commented on #3643
So the recommended way to install `dvc` in a Python 3.8 environment at the moment is using `pip`. Right?

[2020-04-21 09:40] hg-zt commented on #3482
Our `MaxSession` was set to a large number, and I found hundreds of sessions are opened for `dvc push -j 1` and failed.

After reverting to v0.41.3, which is before #2131 was merged, we could now use `dvc push`

[2020-04-21 10:29] charlesbaynham commented on #3653
Thanks for the run down @efiop, that's helpful. The version that ran the above was `0.93.0+f5d89f`, which is v0.93.0 + the changes in PR #3645. That's necessary because otherwise the effect is swamped by all the time spent reproducing duplicate steps.

I'll give it a try on linux: annoyingly the repository I tested on has some case sensitivity problems which I've glossed over so far on Windows but

[2020-04-21 12:25] efiop commented on #3635
Another confirmation https://github.com/iterative/dvc/pull/3634#issuecomment-616335337

[2020-04-21 13:04] efiop commented on #3482
@hg-zt `dvc push -j 1` affects the number of workers, but we still try to open as much sftp channels as we can. Did it fail without uploading anything at all? Usually, you should be able to `dvc push` again to upload the rest.

[2020-04-21 16:03] skshetry commented on #1871
Previous approach with the lockfile and the multistage Dvcfile, even though the hashes were duplicated among output stage file and lockfile, they were different concepts. So, user could still think of a (lockfile + dvcfile) to be a single concept (they need not care about lockfile at all) and could just `dvc repro Dvcfile:stage_name`. There's no ambiguity here as there is a clear separation betwee

[2020-04-21 18:15] #3605 closed

[2020-04-21 18:19] efiop commented on #3644
Fixed by https://github.com/iterative/dvc/pull/3645 . Kudos @charlesbaynham :1st_place_medal:

[2020-04-21 18:19] #3644 closed

[2020-04-21 22:29] efiop commented on #1871
`pipeline.yaml` is the ultimate source of truth for everything except hashes, so `lock` should be stored in `pipeline.yaml` and not `pipeline.dvc`. Doesn't seem like `locked: True` matters for `.dvc`, so there is no need to include it there. Same with `persist`. With `cache` it is a bit more tricky, because it will affect things like push/pull/checkout, but we could again look into the correspondi

[2020-04-22 01:51] AmineBarrak opened #3661 "Pipeline show for all a project"
I was wondering if there is a way to print all the pipeline for a project?
I found that we can find only a pipeline for a DVC file.

[2020-04-22 06:08] dmpetrov commented on #3633
@dsuess can jinja2-like approach from @tall-josh potentially solve this issue?

[2020-04-22 06:50] dsuess commented on #3633
@dmpetrov I like the idea, but I see two drawbacks:
1. the necessary information is split across two files
2. allowing full jinja-templating on the configuration file might be too much

To alleviate the first, maybe we can add a special section `variables` to the `Dvcfile` like this:

[code]
and then only template the `stages` section with those variables. No templating would be allowed for that f

[2020-04-22 07:02] pmrowla commented on #3635
The issue is that in `OutputBase._collect_used_dir_cache()`, we add `str(path_info)` to our used_cache dict, rather than just adding `path_info`.

https://github.com/iterative/dvc/blob/52369bdf47d2fcafed8ca3d1f9b0deaecc99a236/dvc/output/base.py#L393-L397

`PathInfo.__str__()` is overridden to always compute the relative path from our current working dir, rather than than returning a string fspath.

[2020-04-22 07:07] pmrowla commented on #3635
Since we don't actually need the relative path until we are printing/logging status for modified files, one easy optimization is that we can just put `path_info` into `used_cache`, and delay calling `str(path_info)` until we actually want the relative path string. For the case where we only have a few modified files, we will only compute `relpath` for those modified files rather than for the entir

[2020-04-22 07:37] efiop commented on #3635
@pmrowla Very interesting idea about relpath/abspath re-implementation! But I'm a bit unsure if it is really worth creating such a general hack for it, when we could do a local hack something like so:
[code]
At least it won't lose the hack context this way. Plus, I feel like path_info might bite us not only in relpath department but in others too, where we won't be able to provide a good general h

[2020-04-22 08:34] hhe opened #3662 "dvc gc does not remove cache for uncommitted dvc-file"
I removed a dvc-file prior to committing anything, because I accidentally added the wrong file. Afterwards I was not able to remove the cached data.

**Steps to reproduce:**
`dvc add example.txt`
`rm example.txt.dvc`
`dvc gc --all-commits` (although the other modes of `dvc gc` are likely affected too)

**Expected behavior:**
The blob for example.txt is removed from .dvc/cache

**Observed behavior:

[2020-04-22 10:15] charlesbaynham opened #3664 "Config: Cache dir is inconsistant on Unix and Windows"
dvc version = 0.93.0
Platform = Ubuntu and Windows 10

On Windows, calling `dvc cache dir ..\xyz` results in an entry in `.dvc/config` like

    [cache]
        dir = ..\..\xyz

On Linux it results in

    [cache]
        dir = ../../xyz

This inconsistency results in noise in the git history when you work sometimes on Windows, sometimes on Linux.

Manually editing the file to a Posix-style path o

[2020-04-22 10:40] #3572 closed

[2020-04-22 11:27] karajan1001 commented on #3633
@dsuess, good idea, but there is a question`variables` need to be shared between variables, many of them ( for me embedding size, vocabulary file,  sequence length and etc.) must be same in all stages.  Each of the `DVCfile` can't share parameters to other ones. Maybe we should make the `DVCfile` inherit parameters from its ancestors.

[2020-04-22 11:57] tall-josh commented on #3633
There are definitely use cases for both in-file variables and external variable files. I agree with @dsuess in that full templating is probably not the way to go as a proper solution.
Maybe it's just a terminology thing but @karajan1001, if your thinking full blown inheritance then I think things could get messy. A simple way of `import`ing from 1 or more files cloud be nice.

[code]

[2020-04-22 12:21] dmpetrov commented on #3633
@dsuess the variables section makes total sense. I see that as a simple form of variables with no param file associated. We definitely need it and this part has a higher priority.

It looks like all of us on the same page regarding Jinja - full support is too much.

Also, I like @tall-josh's idea of importing which unifies the explicit vars definition:
[code]

It looks like the high-level design i

[2020-04-22 14:20] efiop opened #3666 "move temporary files from .dvc to .dvc/tmp"
As requested by @dmpetrov in https://github.com/iterative/dvc/issues/3366 , having state db like that in the open might be badly perceived by the users lurking around their repo. We've seen people think badly about dvc because they think we use sqlite db as a core subsystem. Let's hide these files
* `state`
* `updater`
* `updater.lock`
* `lock`
to `.dvc/tmp`.

[2020-04-22 14:20] efiop commented on #3366
Closing in favor of https://github.com/iterative/dvc/issues/3666

[2020-04-22 14:20] #3366 closed

[2020-04-22 14:24] efiop commented on #3666
Since we will be releasing 1.0 soon, might even do that in a non-backward compatible way to simplify the logic.

[2020-04-22 14:30] efiop commented on #3662
Hi @hhe !

.dvc/state doesn't matter, it just contains some history.

Are you sure that blob is not used anywhere else in your commit history? Or in other currently present dvc-files?

[2020-04-22 14:52] efiop commented on #3661
@AmineBarrak There is `dvc pipeline list` that will show all pipelines when ran without arguments.

[2020-04-22 15:11] charlesbaynham commented on #3653
Here's the cProfile results for `dvc repro -P` in the same repo, run on Linux and Windows.

[repro_profile.zip](https://github.com/iterative/dvc/files/4516967/repro_profile.zip)

It looks like the same fraction of time is spend writing to `rwlock` in both (just via `posix.fsync` instead of `nt.fsync`)

[2020-04-22 15:14] charlesbaynham commented on #3653
Here's a screenshot of the profile for Windows:

![image](https://user-images.githubusercontent.com/4397637/79999655-10429480-84b4-11ea-8f52-f1db911dc918.png)

Zooming in, you can see that the actual calls to `Stage.changed()` don't take much time at all, though that's where I'd have expected most of the load to be.

![image](https://user-images.githubusercontent.com/4397637/79999776-3c5e1580-84b4

[2020-04-22 16:12] jorgeorpinel commented on #3572
@dmpetrov will you be sending a draft for this or should I include in my regular updates? Seems likt it can be a pretty quick update, just add "YAML" after "JSON" in metrics subcommand references.

[2020-04-22 16:12] jorgeorpinel commented on #3572
Unless you want to include some special examples.

[2020-04-22 16:13] jorgeorpinel commented on #3572
I meant for docs

[2020-04-22 16:23] efiop commented on #3572
@jorgeorpinel Dmitry promised to send a PR :pray: There are some other changes in the way metrics work, so it won't be as easy as adding `YAML` to the docs.

[2020-04-22 16:25] shcheklein commented on #3572
@jorgeorpinel let's create a ticket!

[2020-04-22 16:28] shcheklein commented on #3661
For the record (a context from the conversation). `--dot` or `--ascii` do not show a full pipeline (only pipeline up to a give stage), so there is no ways to visualize a pipeline that has multiple leaf stages. As far as I understood, `pipeline list` format is not enough - a DAG visualization was required.

[2020-04-22 16:34] jorgeorpinel commented on #3572
OK: iterative/dvc.org/issues/1175

[2020-04-22 17:47] efiop commented on #3636
@HectorAnadon I'm pretty sure you could do that with shell expansion too. Sorry, but I don't think this is worth implementing on dvc side. `--ignore` would be constantly confused with shell expansion (e.g. if you forget single-quote it - it expands by your shell, so it will look like a bug in dvc). Plus, it is not clear where that matching should start or stop, which will again bring confusion as

[2020-04-22 21:49] tall-josh commented on #3633
Hi @dmpetrov
Yep, we're on the same page. I like the first syntax simply because it's concise.

[2020-04-22 21:57] efiop commented on #3642
@jorgeorpinel Those are really good points! If we look at it that way, maybe it is worth hacking it at some point. Also, interesting to note that things like `awscli` don't even use argparse and use their own implementation to be able to polish the experience. I don't have a strong opinion.

[2020-04-22 22:43] dsuess commented on #3633
@karajan1001 Agreed. I think this change make most sense with #3584

@dmpetrov If we want to share variables between files, I think @tall-josh solution is better than just implicitly passing variables through from the dependencies. That would also cover the use case of having a single variables-file that's shared throughout the repo. However, I also think that not passing them between files wouldn

[2020-04-22 23:53] tall-josh commented on #3633
@dsuess I'm not sure multi-stage is quite at the point of being the _new standard_, though I think it will get there soon. Someone correct me if I'm wrong, but as of a few days ago multi-stage ( #3584  ) did not support `--params`  :-( . Something I'm been meaning to bring up their thread. I'll do that now I guess.

[2020-04-23 01:25] hhe commented on #3662
I'm sure.

[2020-04-23 07:59] dmpetrov commented on #3633
@dsuess agree, defining variables from command line is not the high priority feature. We should have a great solution in the pipeline file. Also, a good point about env variables.

@tall-josh it would be great to hear your params ideas! You can post it on the multi-stage issue or just here.

[2020-04-23 10:28] tall-josh commented on #3633
@dmpetrov. No probs, I've raised the issue ( #3584 ), but it's not really an _idea_. It's more along the lines of keeping the multi-stage consistent with the regular single-stage `.dvc` files. ie:

[code]
Produces a dvc file:
[code]

Whereas using multi-stage

[code]
Results in a DvcFile that looks like this. Plus a lock file. Neither of which refer to the `train` key in `myparams.yaml`
[code]
I'v

[2020-04-23 11:52] charlesbaynham opened #3668 "In contrived circumstances, repro of an added file with hardlinks enabled results in a not-read-only file"
DVC 0.93.0, Windows 10

This is a quite contrived Issue, so please feel free to close it on the grounds that anyone messing around with `.dvc` files manually deserves what's coming to them. However:

Doing the following steps works fine:

[code]

Once `out.txt` is added to the cache, it's made read-only as it should be.

However, if you then alter `out.txt.dvc`, e.g. by deleting the `md5` entry, r

[2020-04-23 12:26] jamessergeant commented on #3590
I'm using a local remote and I receive the same error when running `dvc list <path-to-local-remote>`. Is this expected behaviour?

For reference the "local remote" is actually a mounted network drive.

[2020-04-23 12:38] gurunath-p opened #3669 "dvc push and dvc pull doesn't work"

[2020-04-23 12:51] #3669 closed

[2020-04-23 12:52] gurunath-p commented on #3482
When doing `dvc pull` or `dvc push`, I get an error, same as above :
`  0% Querying cache in ssh://user@dvc_machine:path/to//dvc_remote|           |0/1 [00:00<?,   [837/1980]
Secsh channel 30 open FAILED: open failed: Connect failed  `

 - There is enough space on the machine and I am able to ssh and scp files to the dvc remote.
 - Please let me know if any further details are needed.
 - Couldn't

[2020-04-23 14:10] karajan1001 commented on #3599
I'd like to take look into it. @jorgeorpinel How about make it `dvc remote rename <old> <new>` following the similar command in Git `git remote rename <old> <new>`.

[2020-04-23 16:22] jorgeorpinel commented on #3590
Hi @jamessergeant, `dvc list` expects the path or URL to the DVC repository itself, not to a remote storage location.

[2020-04-23 16:25] jorgeorpinel commented on #3590
In fact I believe it doesn't check remotes at all to produce the list. Whether the data exists in remote storage is not guaranteed by `dvc list`. You have to attempt `dvc get` or `dvc import` to find out.

[2020-04-23 17:13] casperdcl opened #3670 "config: rename config.local to config.private"
DVC's use of the terms `repo`, `local`, `global`, and `system` ~~doesn't quite match~~ partially matches Git's use, and this can cause confusion.

config term|Git|DVC|notes
-|-|-|-
`project`|  |.dvc/config|bad
`local`|.git/config|.dvc/config.local|bad
`global`|~/.gitconfig|~/.config/dvc/config|ok
`system`|/etc/gitconfig|/etc/dvc.config|ok
write/set|alias for `local`|alias for `project`|ok
read/get

[2020-04-23 17:39] jorgeorpinel commented on #3590
p.s. guys I'm updating the `dvc list` cmd ref in dvc.org/pull/1174

[2020-04-23 18:30] AmineBarrak commented on #3661
There is a need for printing all the pipeline and print all interaction in one graph.
As a solution for me I did the following:
`def get_nodes(dot_file, file):
	list_remove = []
	(graph,) = pydot.graph_from_dot_file(output_folder_dot)
		# print (graph.get_node_list())
	for n in graph.get_node_list():
		list_remove.append(n.get_name().strip('"'))

	if file in list_remove:
		list_remove.remove(file)

[2020-04-23 18:32] AmineBarrak commented on #3661
[code]

[2020-04-23 18:35] jorgeorpinel commented on #3599
Good idea, inded that's how it works on Git. But sinc we already have a `modify` subcommand to change all possible remote config I'd prefer to add a `name` config param for that.

[2020-04-23 18:39] jorgeorpinel commented on #3670
This is a constant discussion that I'm not sure how to get out of. Having tried to sound like Git from the beginning seems to have become a 2 edged sword. It helps with familiarity but then when you get into details things can behave very differently and there's no way around that since DVC is not Git and does very different things. Also Git is notoriously bad with consistency in its terminology s

[2020-04-23 18:45] shcheklein commented on #3599
It does not hurt to add both? Is there some modify command analog in GIt?

[2020-04-23 18:49] jorgeorpinel commented on #3670
That said, it's a good analysis although I'm not sure I follow every detail (what's `<unspecified>`? what `repo` are we talking about?)

I can support these kinds of suggestions when we have a Git-marching term that is causing confusion among users, is there a support case for this one? We can probably considered these a case-by-case basis. Thanks

[2020-04-23 18:51] jorgeorpinel commented on #3599
Not really. They have a subcommand for each remote config param you can change: https://git-scm.com/docs/git-remote

[2020-04-23 20:31] jorgeorpinel commented on #1871
Hi, just sharing one of my answers from https://gist.github.com/skshetry/614c98a8c4a5e568a4c12159fd7e9429#gistcomment-3267065 (please also notice the other 2).

If the base name is the same in both, why not just `pipelines:split-into-two`? DVC can determine from which internal file to get the info. When you're using the default pipelines file name (`pipelines.yaml/lock`) you could just skip it: `d

[2020-04-23 20:55] efiop commented on #3599
`name` is ugly. `dvc remote rename` is much better.

[2020-04-23 20:56] efiop commented on #3599
Plus `name` complicates the argument resolution, I really don't like that and don't think it is worth bothering with. Let's just introduce `dvc remote rename` as suggested by @karajan1001 .

[2020-04-23 21:07] jorgeorpinel commented on #3599
I have no strong opinion. Either introduce `name` to https://dvc-landing-refactor-ge-etwyy1.herokuapp.com/doc/tutorials/get-started (implies less maintenance both in core code and docs) or introduce `rename` subcommand.

[2020-04-23 21:08] jorgeorpinel commented on #3599
Oops I meant https://dvc.org/doc/command-reference/remote/modify#available-parameters-for-all-remotes

[2020-04-23 21:24] ammarasmro commented on #3561
I was having this issue and discussed it with Ivan on Discord. Here is part of our conversation.

I tried DVC destroy and started again. Didn't help. The only thing that worked is that I started with a clean models folder, added to dvc/git/.gitignore, and then added the data to it.

[2020-04-23 23:18] jorgeorpinel commented on #1871
How will `dvc add` DVC-files look like? Will those remain the same? And should we call them something else in order to stop using the term "DVC-file" (esp. if we keep `Dvcfile` as the default pipeline file name)? Maybe "DVC metadata file" or just "metadata file", or "data source file" ... Idk

[2020-04-23 23:22] efiop commented on #3482
@gurunath-p Thanks for the report! A workaround is to run `dvc push` a few more times, it will upload what is missing.

But since we are getting more reports it makes me think whether some of our recent patches have made dvc go over the reasonable limit. CC @pmrowla

[2020-04-23 23:47] #3664 closed

[2020-04-24 02:12] jorgeorpinel commented on #2360
Hi! I noticed that when a command is working, e.g. even as simple as `dvc status` which takes a few seconds, Ctrl+C is not instantaneous (I'm using Git Bash on Cmder). It feels like it waits until the whole operation is finished and then it aborts, saving you no time by interrupting. Is this also a Windows-specific problem (so part of this issue)? Or should I open a separate issue to investigate o

[2020-04-24 02:15] pmrowla commented on #3482
I'll look into this, although out of the recent patches, I don't think any of the relevant changes should have affected ssh remotes, since RemoteSSH still has its own overridden `cache_exists` implementation.

[2020-04-24 02:32] jorgeorpinel opened #3673 "get/import: check target path before downloading"
[code]

The result is I end up with the download  having overwritten the small data.xml I created, but with an error message, and with the tmp file not deleted either, as it can be seen above.

[2020-04-24 04:37] hg-zt commented on #3482
@efiop

Retried for a few more times and the rest was uploaded. I also found when running `dvc push` without any actual changes (everything up-to-date), I still get these errors.

[2020-04-24 05:22] pmrowla commented on #3482
I think the issue is just that we are not suppressing the paramiko logger. We hit the channel limit when determining the max number of channels and trigger the message, even though it's expected and not an error for DVC.

[2020-04-24 05:47] skshetry commented on #1871
That was meant to be a secret presentation. :sweat_smile:.
@jorgeorpinel, the `dvc add`-ed files will still generate `.dvc` files. We are only changing for the stage files.

Yes, for the naming and if it's a default file, yes we can go with it. But, for the data-related commands, it'd be better to be explicit with file naming because that's going to be confusing.

[2020-04-24 07:02] skshetry commented on #3670
I agree with @jorgeorpinel on this one. We don't need to be consistent with Git at all.
But, I agree with you examples, we should be transparent about where the config came from.

[2020-04-24 09:15] pared commented on #3668
[code]
Seems that on linux the permissions do not change. I think that there should be no disrepancy between systems. Marking as bug.

[2020-04-24 14:34] efiop commented on #3561
From https://discordapp.com/channels/485586884165107732/563406153334128681/703247236368302091

[code]

So looks like we should handle it better on DVC side. I suppose @RomanVeretenov had something similar. Reopening

[2020-04-24 14:42] efiop commented on #3561
Ok, looks like we broke `is_tracked` during one of the rounds of optimization dvc for a use case with many thousands of dvc-files.
[code]
`func` represents an old implementation and works like charm. Need to look into it.

[2020-04-24 14:45] efiop commented on #3561
Big thanks to @ammarasmro for investigating! :pray:

[2020-04-24 14:50] ammarasmro commented on #3561
Glad I could help :)

[2020-04-24 16:13] jorgeorpinel commented on #1871
Np. Comment deleted. And thanks for the answers (both secretly and above)

I'm not sure I get why that would be confusing. Is it because you need to open the pipeline file to know/remember the stage names? `dvc pipeline show` can probably help with this.

[2020-04-24 16:21] efiop commented on #3561
@RomanVeretenov @ammarasmro Guys, could you please try installing dvc from master via `pip install git+https://github.com/iterative/dvc` and see if it fixes the issue for you? From now on, dvc will properly detect dirs that are tracked by git already and should just error-out.

[2020-04-24 16:36] ammarasmro commented on #3561
I got this error
[code]

It might help to add a suggestion on how to proceed. Like do they just need to delete the files? Add it to `.gitignore` manually? or do people need a fancy tool like [BFG](https://rtyley.github.io/bfg-repo-cleaner/)

[2020-04-24 17:47] efiop commented on #3561
@ammarasmro Great point! Created https://github.com/iterative/dvc/issues/3561#issuecomment-619119527 for that.

[2020-04-24 17:48] efiop opened #3678 "add/run: improve "already tracked" message"
As noted by @ammarasmro

https://github.com/iterative/dvc/issues/3561#issuecomment-619119527

our `ERROR: output 'models' is already tracked by SCM (e.g. Git)` could be improved.

Looks like we could recommend
[code]
as a solution. If the file/dir was accidentally added to git and is really big, then we could also recommend https://rtyley.github.io/bfg-repo-cleaner/ or something like that to remov

[2020-04-25 00:54] jorgeorpinel opened #3679 "import: \r\n line endings in DVC-file (Win)"
[code]
I discovered that the resulting `data/data.xml.dvc` has`^M` at line endings when using `git diff`. I'm using Git Bash (on Cmder)

`dvc import` is the only command that I've noticed does this, so far. I guess either make sure all commands use UNIX-style line endings, or introduce a config option for this, by default auto-detecting the system if possible. Something like `git config core.autoc

[2020-04-25 08:31] nik123 commented on #2089
Is it still relevant? May I implement it?

[2020-04-25 13:02] lmxs1237 opened #3680 "cache file name automatically changed"
dvc version 0.93.0

What I did is using `dvc run` to run python code, and `dvc add` for dependencies.
Then changed one of the dependencies,`dvc run` again, and `dvc add` for the changed file

The cache for files automatically changed.
For example, for csv file
**cache
    - e2
        - 83742f43b84506f6417e43f6ba666b**
became
**cache
    - e2
        - 83742f43b84506f6417e43f6ba666b.csv**
which ma

[2020-04-25 13:17] skshetry commented on #3680
Hi @lmxs1237, I notice that you are using a very old version (recent release is `v0.93.0`). Can you please retry your operations with updated version of `dvc`? For now, you can just rename it and try.

[2020-04-25 13:52] lmxs1237 commented on #3680
Hi @skshetry, I updated the version of dvc to v0.93.0, but it happened again. And I tried to change the cache file name with
`mv 80cc95bf0407188578fb59eda1c2a7.csv 80cc95bf0407188578fb59eda1c2a7`
Then somehow, other file's name changed, it's like totally randomly selecting cache and changing its name.

[2020-04-25 14:00] skshetry commented on #3680
Can you check via `grep` where the hashes are being used?
[code]

Can you also check that specific cache content if it's a json? To me, it looks like someone changed `md5` for directory stage file from `<hash>.dir` to `<hash>.csv`.

[2020-04-25 14:19] lmxs1237 commented on #3680
@skshetry
This time I run
`dvc run -f train.dvc  -d data.csv -d code.py  -o output  python code.py`
Then `dvc add data.csv code.py `, then `git add all dvc`.
Then it picks the python code and changes the cache name..
![image](https://user-images.githubusercontent.com/43193537/80281893-e81b9580-8740-11ea-9901-1ce741760248.png)
So I checked the hash of this python code, it returned
`Binary file <dvc

[2020-04-25 14:46] casperdcl commented on #528
reopening due to https://github.com/iterative/dvc/pull/3594#issuecomment-610310130 and https://github.com/iterative/dvc/pull/3594#issuecomment-610432359. Basically:

- slight speed improvement
- reducing whitespace between nested bars
- to implement this, sizes aren't currently available for `pull` but they'll be required anyway for other thigs (e.g. #3568)

[2020-04-25 14:52] casperdcl commented on #1840
Think this can be closed as it was fixed by clearing away progress bars upon completion. Actually currently might not be informative enough. @shcheklein?

[2020-04-25 14:58] casperdcl opened #3681 "progress: append to desc"
Rather than temporarily replacing initial descriptions with file names, perhaps just append.

- current: `Pulling: 0%` -> `some_file: 50%` -> `Pulling: 100%`
- proposed: `Pulling: 0%` -> `Pulling: some_file: 50%` -> `Pulling: 100%`

[2020-04-25 15:51] casperdcl opened #3682 "progress: push and pull: single bytes-based bar"
- one progress bar only (based on file sizes, fallback to number of files in sizes not available)
- may also retain nested bars just for large/long running individual files

[2020-04-25 19:04] #3452 closed

[2020-04-25 19:47] #1840 closed

[2020-04-25 19:50] efiop commented on #3680
Whoa, that is extremely strange :eyes: Having those `.csv`/`.py` suffixes shouldn't happen every, something very serious is going on.

[2020-04-25 19:51] efiop commented on #3680
@lmxs1237 It would help us a lot if you could come up with a minimal reproducible script.

[2020-04-25 19:58] efiop commented on #3680
@lmxs1237 Are you sure you are not doing something weird with your cache? Or maybe this project is also used by someone else and they might be doing something odd to it? This looks really odd and I have hard time thinking that it has been a bug since at least 0.66.0. As a sanity check, could you run `$ dvc version`(it contains more than the version itself) and show us the output, please?

[2020-04-25 20:49] efiop commented on #2089
Hi @nik123 !

Sure! :pray:  Could start with start with unifying Remote* class names. You can find all of them in `dvc/remote/` dir. We should follow pep8 with those.

[2020-04-25 20:51] efiop commented on #3679
@jorgeorpinel So on windows we use CRLF? That is alright for newly generated files. When you `git add` them, git will take care of that. It also has a config option for that. There is nothing we need to do on DVC side, we just comply with the OS conventions that we are running on.

[2020-04-26 05:33] jorgeorpinel commented on #3679
Hmmm. I don't think the DVC-file I created earlier with `dvc add` has CRLF... I need to double check. Maybe Git just removed them, like you mentioned ⏳

[2020-04-26 07:12] weekly-digest[bot] opened #3683 "Weekly Digest (19 April, 2020 - 26 April, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 31 issues were created.
Of these, 14 issues have been closed and 17 issues are still open.
## OPEN ISSUES
:green_heart: #3682 [progress: push and pull: single bytes-based bar](https://github.com/iterative/dvc/issues/3682), by [casperdcl](https://github.com/casperdcl)
:green_heart: #3681

[2020-04-26 14:53] #3683 closed

[2020-04-26 15:27] nik123 commented on #2089
@efiop deepsource says that several abstract methods of `BaseRemote` are not implemented in subclasses. Should they be implemented as well as a part of this issue?

[2020-04-26 17:55] efiop commented on #2089
Keeping open for other classes.

[2020-04-26 17:56] efiop commented on #2089
@nik123 Not really, this one is purely about naming. Could do that one later too, though :wink:

[2020-04-26 18:34] casperdcl commented on #3670
Ok looks like people absolutely hate Git but completely agree with this issue?

I made a slight update to the issue to make the problem more focused:

:D

[2020-04-26 18:42] jorgeorpinel commented on #3670
I don't see config using the term "repo" much. It's only mentioned twice in https://dvc.org/doc/command-reference/config

I agree with the other inconsistencies.

[2020-04-26 19:04] casperdcl commented on #3670
Ah this is not about what what DVC chooses to call this, really. The main problem is it's not exposed (see the `surprise   http://where/did/this/come/from` line which comes from the "repo"). I don't personally care whether it's called "repo" or something else. But call it something.

[2020-04-26 20:19] jorgeorpinel commented on #3670
OK I get a better idea now but I still don't fully understand what you're talking about regarding the `repo` term. Is there an example perhaps? Thanks

[2020-04-26 20:49] antonkulaga opened #3685 "publish conda package for python 3.8"
Right now python 3.8 is default python=3 for conda/mamba packages, however dvc does not seem to be published for 3.8 (at least I do not see it in anaconda cloud and mamba does not resolve it under 3.8)

[2020-04-26 22:04] efiop commented on #3685
Hi @antonkulaga ! That's correct, we didn't publish 3.8 package for conda yet (https://github.com/conda-forge/dvc-feedstock/pull/109 waiting to resolve some issues), but you could install it through pip in the mean time. We will publish 3.8 likely this week.

[2020-04-27 09:53] karajan1001 commented on #3470
I'm looking into this issue , but got some difficulty.

Currently,  the DVC would take a validation on every change of the configuation. There are two types of validation, one is of data type ( core.no_scm must be boolen, timeout  and port of a ssh mus be int) another is of logic ( like #3470 core.remote must be in remote list).

The data type validation relies on only one configuration file, but

[2020-04-27 09:57] karajan1001 commented on #3470
A third choice is that we restrict our logic validation in one level of configuration.

[2020-04-27 12:52] pared commented on #3470
As to removing the configuration of local remote:
From current implementation perspective I would say that it is a bug.
Removing global `myremote` clears the default `myremote` even if it was set up
to be local after the global one. Like in this script:

[code]
Considering that there is avialable `myremote`, we should not remove it from config.

Having said so I  think that we should throw error w

[2020-04-27 20:15] fabiosantoscode opened #3687 "install: rename Windows package installation name"
UPDATE: Jump to https://github.com/iterative/dvc/issues/3687#issuecomment-620226378

---

I've used the windows .exe installer to install DVC, but now I can't find it in the "add or remove programs" screen in the Control Panel.

However, [this page](https://dvc.org/doc/install/windows#windows-installer) reads:

I think this line should either contain a more accurate description of how to uninstall

[2020-04-27 20:17] jorgeorpinel commented on #3687
I'll remove the note from docs for now... In https://github.com/iterative/dvc.org/pull/1195

[2020-04-27 20:48] efiop commented on #3687
@fabiosantoscode IIRC, it is called `Data Version Control` there. Might want to rename it to DVC, for sure.

[2020-04-27 20:49] efiop commented on #3687
For the record, here is where it is defined https://github.com/iterative/dvc/blob/master/scripts/innosetup/setup.iss#L1

[2020-04-28 02:47] jorgeorpinel commented on #3687
OMG you're right 🤦‍♂️

![image](https://user-images.githubusercontent.com/1477535/80441446-8b4ee500-88d0-11ea-96bd-245e6733aa50.png)

Maybe rename it "DVC (Data Version Control)" ?

Updated issue desc.

[2020-04-28 05:18] pmrowla commented on #3602
Can be reproduced with

[code]

[2020-04-28 06:29] pmrowla commented on #3602
Looks like the issue is that for `--downstream`, we are reversing the DAG, and then traversing the reversed graph w/DFS pre-ordered search. In the example case, using pre-ordered search provides no guarantee that `step3` is only visited after `step2`.

networkx `dfs_preorder_nodes()` returns them in some arbitrary order, that is probably just dependent on default python `set` behavior - in the exa

[2020-04-28 06:39] pmrowla commented on #3602
Also reproducible using our existing `repro --downstream` test (https://github.com/iterative/dvc/blob/fefbcc0b4ccd5a93ab96665c714a93b9fbdd1fa0/tests/func/test_repro.py#L1584)

For the graph
[code]
downstream A is run as `[A, B, D, E, C]` even though C should be run before D

[2020-04-28 09:41] dmpetrov opened #3690 "--show-md output for metrics, params and dvc diff"
Today we support JSON output for the diff commands. However, CI/CD systems understand only the MD format. We need to add the MD format support to avoid the conversion.

[2020-04-28 12:19] #3635 closed

[2020-04-28 13:06] efiop commented on #3662
@hhe Not able to reproduce:
[code]

produces

[code]

Admittedly, I'm not running it on windows. It would be great, if you could give it a try and see if this script reproduces the issue for you. Might be able to try it on windows myself later.

[2020-04-28 13:08] #3687 closed

[2020-04-28 13:08] efiop commented on #3687
@jorgeorpinel Adjusted it like that for now. Thanks!

[2020-04-28 13:30] skshetry opened #3693 "cleanups: todo after implementation of pipeline file"
Tracking things to cleanup after #3676 is merged, in addition to suggestions in the PR:
- [x] Remove `tags` (will make life simpler) #3699
- [x] Split `Repo.collect()` for pipelines usage and stage gathering:
      Data related commands don't care about orderings of pipeline stages, whereas for pipelines,
      things are more complex than `collect()` can handle.
      This will also remove duplic

[2020-04-28 14:26] HectorAnadon commented on #3636
For example, how would could you do `dvc pull` from a whole repository ignoring certain folders? Is there a way? I would be really interested on this.

[2020-04-28 15:13] efiop commented on #3636
@HectorAnadon I don't have a tested command to share, but from the link that I've shared above it will probably be something like:
[code]

I see that you are indeed very interested in this and that it would be a major convenience feature for you. Reopening. Maybe you would be interested in implementing it? If not, I can't really guarantee that we will get to this any time soon, unless it is reques

[2020-04-28 15:14] efiop commented on #3636
@HectorAnadon You might find `dvc/dvcignore.py` implementation helpful for this new feature, since it does pretty much that but you need to set ignored things in `.dvcignore` first.

[2020-04-28 15:17] #3602 closed

[2020-04-28 15:35] efiop commented on #3643
@drorata Sorry for the delay. Correct. We have https://github.com/iterative/dvc/issues/3685 on our todo list, so should be ready soon. Closing this ticket in favor of that one.

[2020-04-28 15:35] #3643 closed

[2020-04-28 15:45] efiop commented on #3653
@charlesbaynham Sorry for the delay. Admitedly didn't have much time to look deeply into it, but could you give my patch a try, please:
[code]
?

[2020-04-28 15:50] efiop commented on #2360
@jorgeorpinel might be threading too. Python is funky with threads like that. We have a same issue with push/pull. If that's the one, then it is a known issue.

[2020-04-28 17:54] dmpetrov commented on #3690
It might be related to #3435

[2020-04-28 18:40] jorgeorpinel commented on #3687
Thank you!

[2020-04-29 03:17] emm93 commented on #3652
good

[2020-04-29 05:45] skshetry opened #3696 "lockfile: order of content changes on a repro"
Eg: if we change order of `outs` in the pipeline file, and run `repro`, it's smart to detect that nothing was changed. But, if the outs or deps has really changed in the workspace and the stage is run, it will generate the lockfile which generates the content in the order of contents of pipeline file. It's not big issue, but it can be annoying to look at the diff.

But, leaving it as-is for now. W

[2020-04-29 08:10] drorata opened #3697 "Linking type should not be committed to git"
Consider the case that a project is cloned on two different platform, one which supports reflinks and the other only supports copying. Currently, `dvc config cache.type copy` would be committed to git and be used on both systems although one of them can enjoy a much smarter linking.

In other words, the cache type (and maybe other configurations) are local to the environment and should not be part

[2020-04-29 08:33] nik123 commented on #2089
@efiop , which classes should be next?

[2020-04-29 09:16] Sunny-Day200 opened #3698 "invalid start byte"
windows 10
dvc-0.92.0
git-bash 2.26.2.1
------------------------------
This is a very clean system
I cannot perform any DVC operations
Could it be because of the system environment?
--------------------------------

---------------------------------------
ERROR: unexpected error - 'utf-8' codec can't decode byte 0x87 in position 0: invalid start byte

Having any troubles? Hit us up at https://dvc.

[2020-04-29 09:28] efiop commented on #3698
Hi @Sunny-Day200 !

Please show us `$ dvc version` output (it contains more than a version).

Correct, cache link type only controls local cache links. :slightly_smiling_face:

Yes, you could use `.dvc/config.local`(used when you specify --local flag in your dvc config commands) for that. It is not tracked by git so it just stays in your local git repo instance.

[2020-04-29 09:30] efiop commented on #2089
@nik123 Actually, I think that's it! :tada: Thank you so much!

[2020-04-29 09:30] #2089 closed

[2020-04-29 09:31] efiop commented on #3697
@drorata You could use `.dvc/config.local` for that. Just use `--local` flag when configuring your link type. Works for other config options too.

[2020-04-29 09:36] drorata commented on #3697
That makes a lot of sense! Thanks for the pointer. Maybe it is worthy to mention in the docs of `cache.type` that it is recommended to use the `--local` flag for the config?

[2020-04-29 09:38] Sunny-Day200 commented on #3698
Thanked your reply
I tried it, but it didn't make any difference, right
----------------------------------------------

$ dvc version
ERROR: unexpected error - 'utf-8' codec can't decode byte 0x87 in position 0: invalid start byte

Having any troubles? Hit us up at https://dvc.org/support, we are always happy to help!
Traceback (most recent call last):
  File "dvc\__main__.py", line 7, in <module>

[2020-04-29 09:48] HectorAnadon commented on #3636
I was unaware of .dvcignore. (still a lot of things to learn). I think that will do the trick and there is no need to extend pull functionality.
Related to this, I've found when doing `dvc pull`, sometimes the ignored files are deleted. Why is that? However, if it is a folder that has been modified, the folder is not deleted.
I can give an example:
It behaves differently if I ignore `**/mesh/*` th

[2020-04-29 09:52] HectorAnadon commented on #3636
Okay, if I ignore `**/mesh/*` the file is being pulled if the folder didn't exists. So the correct way is to ignore `**/mesh.dvc`.

Thank you!

[2020-04-29 09:52] #3636 closed

[2020-04-29 12:32] #3482 closed

[2020-04-29 12:37] skshetry opened #3700 "pipeline file: characters to allow in stage name"
Should we restrict stage name to certain characters? Maybe `[a-z][A-Z][0-9]{hyphen, underscore}`.

YAML keys can contain any thing, even spaces.

Allowing every kind of characters might create strange errors (which we might be unaware of).
If we disallow, what characters should we disallow?

[2020-04-29 13:00] jums92 commented on #3616
@tall-josh  Yes it is a good idea thanks :+1:

[2020-04-29 13:57] #2301 closed

[2020-04-29 14:01] skshetry commented on #1871
@jorgeorpinel, the only concern I have is, because some of the data commands allow granular operations on file (eg: `dvc checkout foo`), it might overlap with `dvc checkout foo`, where `foo` can be a filename.
Ideally, we will not be able to know what the user's intention was. We can check stages and see if the name was mentioned and then fallback to whichever way is possible or even tell user tha

[2020-04-29 14:08] charlesbaynham commented on #3653
Yes that makes a lot of difference. Here are two profiles in the same repo on Window 7, one at v0.93.0+f5d89f and the other at your patch:

[data_processing.zip](https://github.com/iterative/dvc/files/4552125/data_processing.zip)

Your patch cuts the time spent in `_reproduce_stages` from 62s:
![image](https://user-images.githubusercontent.com/4397637/80605571-cb25e180-8a22-11ea-9d5a-21c01c73337d.

[2020-04-29 14:08] charlesbaynham commented on #3653
But doesn't that just effectively disable the lock?

[2020-04-29 14:11] charlesbaynham commented on #3653
I also notice that we're making 1.4 million calls to `normpath` which seems like a lot for a repo with ~200 files in it!

[2020-04-29 14:18] skshetry commented on #1871
@iterative/engineering, this should be ready to try out. I'd love to get the feedbacks.
It's available on master or just pip install via:
[code]

Remember, the pipeline file is only generated if you specify a hidden `-n`/`--name` flag via `dvc run` (else, it will fallback to old-style `*.dvc` files).

A working example should be following to try out:
[code]

[2020-04-29 14:34] efiop commented on #2392
Related https://github.com/iterative/dvc/issues/3661

[2020-04-29 14:39] karajan1001 commented on #3698
I think this is because your system uses a different encoding method beside `utf-8` (for example chinese charactor may encode into `gbk` ).   Cleaning any none English character in your path name will solve your problems. But it's only a temporary solution.

[code]

[2020-04-29 15:24] pmrowla commented on #3653
Took a quick look at the profiler results to see if the excessive `normpath` calls were pathinfo related, and they are not, but we do make 220k calls to `relpath` in `dvc.utils` (with string paths)

[2020-04-29 16:11] shcheklein commented on #3697
@drorata there is an even simpler solution to this, I believe. You can set a comma separated list of cache types - DVC'll be trying them one by one. E.g.:

`reflink,copy` - means try reflinks, if they are not available, go with copy.

You can combine any link types like this.

[2020-04-29 16:20] efiop commented on #3700
The stricter - the better. We can always ease up on it.

[2020-04-29 18:11] dchichkov opened #3701 "Relax pip dependency versions constraints for python-dateutil"
Description of the problem:
ERROR: dvc 0.93.0 has requirement python-dateutil **<2.8.1** ,>=2.1, but you'll have python-dateutil 2.8.1 which is incompatible.

It'd be good to remove or relax upper constraints on python-dateutil, to include 2.8.1 and 2.8.2.  Is there a good reason why these are not included, or something is broken after 2.8.1 ?

[2020-04-29 18:17] efiop commented on #3701
Hi @dchichkov !

Mind submitting a PR to remove it? https://github.com/iterative/dvc/blob/master/setup.py#L50 It is an old sync requirement that is probably no longer needed. We'll see in the PR CI tests.

[2020-04-29 18:47] jorgeorpinel commented on #3679
I can confirm that the file always had CRLF line terminations from the beginning when I created it. Even after committed, this was preserved. For some reason `git diff` thinks that the committed file does not use CRLF which seems wrong to me... But it's not a DVC issue!

[2020-04-29 18:47] #3679 closed

[2020-04-29 19:23] jorgeorpinel opened #3703 "remote: should DVC prevent external cache overlap default remote?"
A possible misunderstanding from https://dvc.org/doc/user-guide/managing-external-data#examples is that you can have an actual remote storage be the external cache for your project. So if you don't notice that there are path/directories in those examples, you may end up setting up a remote, even set as default, in the root of an S3 bucket or other cloud storage, and then setup that remote as the e

[2020-04-29 20:15] #3701 closed

[2020-04-30 01:35] pmrowla opened #3704 "remote: reduce traverse weight multiplier"
In `remote.cache_exists()`, the traverse/full remote listing method is weighted to account for some performance hits that make it inherently slower than querying individual objects

https://github.com/iterative/dvc/blob/18e8f075728bcb6f0d4bbff1b8a100a45ca1b88c/dvc/remote/base.py#L923-L928

The initial weight multiplier value (`20`) can be lowered now, due to the subsequent remote improvements that

[2020-04-30 03:12] #3704 closed

[2020-04-30 05:47] jorgeorpinel commented on #1871
So are you changing the implicit arguments accepted by these commands? I think either the stage needs a stage e.g. `--stage`, or path targets needs one e.g. `--`
Otherwise how are you detecting what kind of argument you're getting anyway? Does argparse even support this

OK, this also works but flags are more explicit (which is good). Both could be supported I guess.

Agree

[2020-04-30 07:15] drorata commented on #2392
I [this comment](https://discordapp.com/channels/485586884165107732/563406153334128681/705062938834239558) @efiop was not sure about the behavior of version 0.66. Here is a small example:

Build the following DAG (in a fresh environment with version 0.66 installed):

[code]

Then:

[code]

Now, if you update to version 0.93 then:

[code]

is the output of `dvc pipeline show --ascii head.txt.dvc`.

[2020-04-30 09:13] skshetry opened #3706 "run: ui issue for `run`"
1. Eg:
[code]
There's no need for `failed to run command` because the commands were never run and is a bit unnecessary.

2.
[code]

Suggestion:
[code]

3.
[code]

Suggestion:
[code]

[2020-04-30 09:39] skshetry opened #3707 "run: params are not checked before running the command"
[code]

[2020-04-30 13:15] pared commented on #3538
@jorgeorpinel that was happening on windows right?
following test is passing on my linux machine for `0.90.2`:
[code]

[2020-04-30 14:16] #3707 closed

[2020-04-30 16:04] jorgeorpinel commented on #3538
Sorry guys. I don't remember which DVC commands I noticed originally that don't respect files in .dvcignore. It wasn't a great report... But I'm QAing this and I think there's definitely some funny stuff happening:

[code]

I'm on 0.93.0 from exe installer now. Yes, Windows (Git Bash on Cmder)

Also, the first example in https://dvc.org/doc/user-guide/dvcignore#examples doesn't work for me (all fi

[2020-04-30 16:22] jorgeorpinel commented on #3703
More context (from https://discordapp.com/channels/485586884165107732/485596304961962003/705308604257009766):

Our responses to the user:

[2020-04-30 19:34] #3696 closed

[2020-05-01 07:28] AratiNagmal opened #3714 "Get Remote Storage URL for files/directories added directly from S3"
The `dvc get --show-url` command provides remote storage location for the files/directories added to DVC repo from local machine.
But this feature is currently not available for the files/directories which are added directly from S3 using `dvc add s3://...`.

**Scenario:**
My source data location is S3 bucket `s3://data_bucket/`.  I configured another S3 bucket (`s3://dvc_bucket`) for DVC remote.

[2020-05-01 09:05] karajan1001 commented on #3470
As validations in `Config.py` is done in every DVC command, they should not include any cross-level validation. Otherwise, users may found they can do nothing except solving the validation. They may only want to show the metrics after copying the whole repository to a different machine without the default remote listed in global config.

[2020-05-01 09:29] greaber opened #3717 "DVC add fails when there are broken symlinks in the dataset"
[code]

When t:rying to add TED-LIUM Release 3 (https://www.openslr.org/51/) to a data registry, `dvc add` failed.  The problem was that this dataset has a few broken symlinks.  Removing these symlinks fixed the problem.  Here is the stack trace from `dvc add -v`

[code]

[2020-05-01 09:52] skshetry opened #3718 "ERROR: unexpected error - are any errors expected by the user?"
The following example is to drive my point home, but, yeah, the `unexpected error` is unnecessary.
[code]

[2020-05-01 10:45] karajan1001 opened #3719 "Unique signature of a remote repository URLs or names."
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC version: 0.93
Platform: DEB
installation: pip

According to the discussion on https://github.com/iterative/dvc/issues/3470.
we should prevent duplicated remote repository names defining in different config levels

[2020-05-01 12:31] efiop commented on #3718
@skshetry Yes, some errors are expected: like target that doesn't exist or something like that. But sometimes some random exceptions make its way all the way up without being caught/handled, so to us they are unexpected. Your example is for an issue that we should've handled nicer before it was caught by the top level `except Exception` and so it shouldn't be an `unexpected error`.

[2020-05-01 12:33] skshetry commented on #3718
@efiop, I mean, `ERROR` is enough here. Adding `unexpected error` is not important at all.

[2020-05-01 12:41] efiop commented on #3718
@skshetry Some exceptions like AssertionError will not have any str at all :) So it would show up as `ERROR: ` without anything else :slightly_smiling_face: So `unexpected error` is somewhat useful. But ideally dvc should handle everything before it hits the `unexpected error`, that's our last line of defense :slightly_smiling_face:

[2020-05-01 13:00] karajan1001 commented on #3698
![image](https://user-images.githubusercontent.com/6745454/80806865-530c1700-8bee-11ea-82e9-38af75672819.png)
I can't reproduce your error. It seems that UTF8 encoding had been set to default since Windows 10 version 1903. Could you give me the result from the following python script?
[code]

[2020-05-01 15:14] nik123 opened #3720 "status: add --recursive flag"
For some reason `dvc status` doesn't have `-R` flag in v 0.93.

[2020-05-02 15:07] #3681 closed

[2020-05-02 17:08] casperdcl commented on #2865
Regarding adding `_download` progress, it's super hard because of the sheer stack of libraries and functions which were not designed for any form of iteration or callbacks in mind. There are a lot of places where it may look like progress could be added but really you'd only be monitoring a pipe after the file has been downloaded.

CC @shcheklein the stack:

- `dvc.remote.gdrive.GDriveRemote._gdri

[2020-05-03 07:12] weekly-digest[bot] opened #3723 "Weekly Digest (26 April, 2020 - 3 May, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 39 issues were created.
Of these, 23 issues have been closed and 16 issues are still open.
## OPEN ISSUES
:green_heart: #3722 [gdrive: progress for downloads](https://github.com/iterative/dvc/pull/3722), by [casperdcl](https://github.com/casperdcl)
:green_heart: #3720 [status: add --rec

[2020-05-03 11:56] #3723 closed

[2020-05-03 12:16] efiop commented on #3685
Fixed by https://github.com/conda-forge/dvc-feedstock/pull/109 . @antonkulaga Please give it a try :slightly_smiling_face: Thanks for the feedback!

[2020-05-03 12:16] #3685 closed

[2020-05-03 12:17] efiop commented on #3643
@drorata 3.8 packages are now available through conda. Please give it a try :slightly_smiling_face: Thanks for the feedback!

[2020-05-03 14:28] efiop commented on #1092
Fixed by https://github.com/iterative/dvc/issues/1871 . We will switch default behaviour to adding stages to `dvc.yaml` file, so this issue is no longer relevant.

[2020-05-03 14:28] #1092 closed

[2020-05-03 15:42] #3666 closed

[2020-05-03 16:11] efiop commented on #3720
Hi @nik123 !

`status` never had `-R` flag. We need to introduce it. All logic is there, we would simply need to add it to `dvc/command/status.py` and `dvc/repo/status.py`, that would then pass it to `collect` and `used_cache` in `dvc/repo/status.py`, similar how push/pull/fetch/etc do that.

[2020-05-03 16:37] efiop commented on #3719
@karajan1001 Hm, not sure why. Use case: in `.dvc/config` you have `myremote` and in `.dvc/config.local` you set your own password/credpath.

[2020-05-03 18:12] #3720 closed

[2020-05-03 21:25] #3435 closed

[2020-05-03 23:19] #3433 closed

[2020-05-04 00:10] karajan1001 commented on #3719
I didn't consider this before. Maybe remote repo with the same names should use the same URLs?
I think the question is what is the unique signature of the remote repository URLs or names.

For example, if we have two remote repo on different levels with the same name and different URLs. Both of them are set the default in their own levels. Currently, when we deleted the repo on the lower level, th

[2020-05-04 07:04] skshetry commented on #3633
Hi @tall-josh. We now have params support for the pipeline file (as we are calling it at the moment).
We are planning to release it soon (with a public beta in this week).

You have already seen the file format, so, I'll just enter to the discussions of variables. I'd propose
not having an indirection of reading variables from the params file, but from the pipeline file itself.
The pipeline file i

[2020-05-04 08:43] karajan1001 commented on #3680
The cache is exactly the same file with the original one. Sound like there is a program automatically adding a suffix to the cache file according to its file format whenever it reads.

[2020-05-04 13:10] pared commented on #3538
@jorgeorpinel hmm, that does not seem right.
I think we should behave in a similar way as git does, which is informing the user that his output collides with an entry of some `.dvcignore` file.
This functionality can be implemented probably after we introduce something like `git check-ignore` for `.dvcignore`. I think there was an issue for that already, but I am unable to find it.

[2020-05-04 13:21] pared opened #3736 "Introduce check-ignore for dvc ignore command."
There should be functionality providing easy way to check whether some file is `dvc-ignored` or not. Related: #3538

[2020-05-04 13:22] pared commented on #3409
@dmpetrov as plot got joined into master, I am ticking point `dvc viz` as completed.

[2020-05-04 13:25] pared commented on #3409
Also, should I take care of other points on the checklist? @dmpetrov

[2020-05-04 14:04] #3706 closed

[2020-05-04 14:04] #3718 closed

[2020-05-04 14:31] simongoertzen opened #3738 "dvc init fails when .dvc directory is git-ignored"
Tested on Windows (binary & pip install) in Windows Terminal (Powershell) and in Git Bash.

**Issue**
I tried to run "dvc init" in a repository that had an ".*" entry in its .gitignore. With -v flag, it fails with the following message:
[code]

**Steps to reproduce:**
1. mkdir example
2. cd example
3. git init
4. echo ".*" >> .gitignore
5. dvc init -v  # this fails!
_this is how I fixed it:_
6. ec

[2020-05-04 15:15] skshetry commented on #3738
Discord Context: https://discordapp.com/channels/485586884165107732/485596304961962003/706846820172824679

[2020-05-04 15:21] KaggleShmaggle opened #3739 "Remote files not removed when checking out earlier commits."
So I encountered what seems like a bug while trying to use DVC to track changes to files in a remote S3 folder, and the kind folk in Discord thought it was worth posting here. When a remote file is committed, if I checkout a commit prior to the first commit where the remote file is added, the file isn't removed. This isn't the case for local files, which do get removed. I would've anticipated that

[2020-05-04 18:44] efiop commented on #3739
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/705886289089658901

[2020-05-04 18:45] efiop commented on #3739
The solution is pretty straightforward though: https://discordapp.com/channels/485586884165107732/485596304961962003/705883052060049537  :slightly_smiling_face:

[2020-05-04 21:33] KaggleShmaggle commented on #3739
Yeah, since I flagged it, and since I already have an S3 bucket set up to test a fix already, I can take a crack at a fix tonight.

[2020-05-05 10:05] nik123 commented on #3511
I'd like to implement it. May I?

[2020-05-05 13:10] #3485 closed

[2020-05-05 14:44] efiop commented on #1871
Closing in favor of https://github.com/iterative/dvc/issues/3693 . Multistage dvcfiles are now default for `dvc run` in alpha release 1.0.0a0.

[2020-05-05 14:44] #1871 closed

[2020-05-05 16:52] efiop commented on #2799
For the record: another discussion on discord https://discordapp.com/channels/485586884165107732/563406153334128681/707272131834150933

[2020-05-05 17:18] mribeirodantas opened #3743 "Quick listing of stages"
Before [last release](https://github.com/iterative/dvc/releases/tag/1.0.0a0), it was handy to reproduce my stages due to easy filename completion in the command line, due to the stages being files in the directory. All I had to do was to type `dvc repro`, start typing the name and hit TAB.

Now, stages are fields in a YAML-formatted single file. If I don't know **exactly** the stage name, I must o

[2020-05-05 18:05] ychou85 opened #3744 "zombie processes from dvc pull failures"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC version 0.93.0
Platform: DGX2 kubernetes cluster, installation with pip,
# The base image we use.
FROM nvcr.io/nvidia/pytorch:19.10-py3

When we call dvc pull, if the pull fails for any reason (lack of right cred

[2020-05-05 20:36] efiop commented on #3744
Hi @ychou85 !

Would be interesting to see more details or a reproduction script.

But as is I would suspect the analytics worker, which is spawned by dvc on each CLI command. You can totally see it in the process list by `dvc daemon analytics` in it. Could you check that, please?

[2020-05-05 22:05] prashaw opened #3745 "[s3/windows] HeadObject operation: Not Found"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Hello,

I get this error when using `dvc add` on s3 bucket when the files are deep inside the directories.
[code]
The error visible here is with mismatched **nt vs posix** paths. This works without issues in ubuntu 1

[2020-05-06 06:20] MD-key6 commented on #3511
في ثلاثاء، 5 مايو، 2020 في 1:05 م، كتب nik123 <notifications@github.com>:

[2020-05-06 09:27] pared commented on #2888
Related #3416

[2020-05-06 09:47] pared commented on #3416
Well, my test has not been working, due to #2888, will fix it during this issue.
The reason why my bash script results in md5 calculation and test does not is that erepo_dir has been using @efiop optimization from #3472. The cache file was  protected. Thanks to that, when we were gathering `dvc/remote/local._status`, `cache_exists` did not have to calculate checksum (because file in cache was read

[2020-05-06 11:07] efiop commented on #3409
Had a conversation with @dmpetrov and @shcheklein and decided to rename current `dvc metrics` into `dvc scores` and `dvc plot` to `dvc metrics`.

[2020-05-06 11:09] efiop commented on #3409
Also `dvc plot show` -> `dvc metrics plot`

[2020-05-06 13:36] pared commented on #3409
Do we really want to separate `scalars` from `metrics`?
why not
[code]

[2020-05-06 15:40] casperdcl opened #3751 "pre-commit: fails for multiple file commits"
- pre-commit fails when there are more files to check than hyperthreads on the machine
- error message about `.dvc/tmp/lock` is misleading and uphelpful

Steps to reproduce:

[code]

[2020-05-06 15:41] greaber opened #3752 "DVC should check credentials for AWS sooner"
When pushing or pulling to/from S3, I often forget to set my AWS credentials.  It takes a pretty long time before dvc realizes this, I guess because it does a lot of other work first.  For instance, I just tested a `dvc pull`, and it takes about three and a half minutes before telling me it is unable to locate credentials.

On a side note, maybe there is some way to speed up the work that dvc pull

[2020-05-06 16:45] greaber opened #3753 "dvc push is extremely slow if you don't specify a particular thing to push"
I'm so used to just doing `git push` that I sometimes mistakenly do `dvc push`, but it is incredibly slow because of cache querying.  It would be great if it could be made faster so that you didn't have to always be careful to just push the last thing you added.

[2020-05-06 18:30] jorgeorpinel commented on #3409
I agree with this concern. If we're going to do an aggressive change in terminology for 1.0, that's fine but let's try to avoid regrets later or motives to change it again.

Question: will scores and continuous metrics be saved with the same format in pipeline files? I.e. are they fundamentally the same?

"scalar metrics" (1) vs "continuous metric" (2) was the most correct jargon, I think. But it'

[2020-05-06 22:35] jackwellsxyz commented on #1317
Want to circle back on this issue - SSE-KMS for AWS S3 back end is still important, as many shops require this for policy reasons.

[2020-05-06 22:41] shcheklein commented on #1317
@jackwellsxyz does `dvc remote modify myremote sse <AES256, aws:kms, etc>` work for you?

please check it here https://dvc.org/doc/command-reference/remote/modify in the list of AWS S3 specific options.

[2020-05-07 00:03] jackwellsxyz commented on #1317
Thanks @shcheklein, I've been diving into the code a bit. That is half of the solution: I need to set "sse = aws:kms" and also pass the 'SSEKMSKeyId'=<id string> variable to self.s3.upload_file as an ExtraArgs.

[2020-05-07 01:00] pmrowla commented on #3753
Hi @greaber, what DVC version are you currently using?

Remote cache query performance has been significantly improved in the DVC 1.0 pre-release: https://dvc.org/blog/dvc-3-years-and-1-0-release#data-transfer-optimizations. I would suggest trying out the pre-release and seeing if the new optimizations work for you.

[2020-05-07 01:58] shcheklein commented on #1317
@jackwellsxyz it looks like we already down the path of adding all the options to the schema (I hope it's a finite amount after all). It's definitely great to have a PR for that. I would start with `git grep <name_of_other_option>` to see where it should be added. Thanks 🙏

[2020-05-07 08:24] dmpetrov commented on #3409
Both cases are definitely metrics and this exactly what creates the problem. We need to distinguish them somehow.

Another possible solution might be not to use metrics command at all. Keep `dvc plot` and rename the scalar ones to `dvc scores` or something. So, we can strictly say that DVC supports two types of metrics - plots and scores.

What do you think about not using `dvc metrics` at all? :)

[2020-05-07 09:06] Sunny-Day200 commented on #3698
It is indeed in utf-8 format. I haven't figured out what the problem is yet. It didn't happen on my other computers.I need to reinstall the system to try

[2020-05-07 09:08] Sunny-Day200 commented on #3698
It is indeed in utf-8 format. I haven't figured out what the problem is yet. It didn't happen on my other computers.I need to reinstall the system to try

[2020-05-07 09:08] Sunny-Day200 commented on #3698
It is indeed in utf-8 format. I haven't figured out what the problem is yet. It didn't happen on my other computers.I'm going to reinstall the system and try again

[2020-05-07 09:20] karajan1001 commented on #3698
Have you tried using a folder name without any non-English characters?

[2020-05-07 09:28] Sunny-Day200 commented on #3698
The path does not contain any non-english characters
![b473e7df0fdfda76006986ed487f3ed](https://user-images.githubusercontent.com/53826251/81278369-28a3d900-9088-11ea-8b22-307696d5037d.png)

[2020-05-07 09:40] Sunny-Day200 commented on #3698
I have some other questions:

[2020-05-07 09:40] Sunny-Day200 commented on #3698
I have some other questions
------------------------------------
As described in the documentation, the hardlink, symlink link types make the workspace trace data file read-only (this prevents the user from accidentally corrupting the cache by modifying the file link).
As mentioned above, if I locally clone git from a remote location and change the copy of the cache link type to a symbolic link, i

[2020-05-07 09:49] efiop commented on #3698
@Sunny-Day200 That is expected behaviour. What is important is that the cache file in .dvc/cache stays read-only and is not corrupted. `dvc add` will create a new cache entry for a modified file and will link it as read-only back into your workspace.

[2020-05-07 10:44] FabianHertwig opened #3754 "Error when following the guide to setup azure storage as remote"
Hi,

I'm running dvc 0.93.0 on a Mac installed with brew.

I want to setup an azure blob storage as a remote like explained in the [docs](https://dvc.org/doc/command-reference/remote/add). I run:

[code]

On the second command I get the error `ERROR: configuration error - config file error: remote 'azuretest' doesn't exists.`

When I run `dvc remote list` then `azuretest` is there. I don't get an

[2020-05-07 12:50] pared opened #3755 "Plot: link to docs"
Link to docs as per @jorgeorpinel review under https://github.com/iterative/dvc/pull/3577, after plot documentation is merged from https://github.com/iterative/dvc.org/pull/1186.

[2020-05-07 12:54] pared commented on #3409
@dmpetrov

It makes much more sense to me when its presented that way.

[2020-05-07 13:45] ychou85 commented on #3744
Here is the top output from my user
![B4A0A77B](https://user-images.githubusercontent.com/6674831/81301791-8237e380-9047-11ea-958c-63fcd041ad3b.PNG)

[2020-05-07 14:33] gurunath-p opened #3758 "SSHException: Channel closed"
- I had an error saying "paramiko.ssh_exception.SSHException: Channel closed" while using dvc pull or push to an ssh remote.
 - I am able to ssh into the machine and also sftp into that machine via `sftp user_name@machine_ip`.
 - Don't know if the following couple of points are relevant:
     - I tried increasing the no. of open files via ulimit from 1024 to 30000...but issue didn't get resolved.

[2020-05-07 16:07] FabianHertwig commented on #3754
I just saw that the first command has the `--local` flag as well in the docs. My bad.

[code]

[2020-05-07 16:07] #3754 closed

[2020-05-07 16:47] efiop commented on #3758
@gurunath-p Did anything change in your setup or on the server? Maybe you are using separate credentials in your dvc config that got expired? Would definitely double check your config and creds. Can't put my finger or anything specific :slightly_frowning_face:

[2020-05-07 16:48] efiop commented on #3753
Also we've released 0.94.0 with those changes, so users don't have to use a 1.0 alpha release.

[2020-05-07 16:53] efiop commented on #3744
@ychou85 Not sure what `top` version you are using, but that output is not very helpful, as `COMMAND` is missing arguments. If you are not able to make it show it, then you could manually show `cat /proc/$PID/cmdline` for each `dvc` PID that you see in that table above.

[2020-05-07 16:55] efiop commented on #3744
@ychou85 Also, I'm not sure how you are launching those dvc processes in the first place. Are you doing that directly from the dockerfile? Or from your own wrapper? If the latter, please double check you are properly collecting (akak `wait()`ing) on the processes you spawn.

[2020-05-07 17:46] shcheklein commented on #3409
It feels a bit strange to me that this split forces us to move away from a very basic and common in ML term "metrics".

@pared could you try to elaborate? how would `dvc metrics *` command look like in this case? are we going to keep `dvc plot` and just document that it deals with metrics (not trying to invent a separate term). Like both commands will be about metrics and that's it?

[2020-05-07 19:50] jorgeorpinel commented on #3409
Could we just continue to use `dvc run -m` to define all kinds of metrics file? And `dvc metrics add/modify/remove`

The problem with keeping `dvc metrics` is that we would need sub subommands e.g. `dvc metrics score:show/diff` and `dvc metrics series:show/diff`

[2020-05-07 19:58] greaber commented on #3753
Thanks!  It is **way** faster with these changes.  But it still takes almost three minutes to do a push on a repo that has nothing that needs pushing.  Isn't there some way to make such pushes instantaneous?  Like dvc could just know what you have added or changed and not yet pushed.  And similarly for pulls, it seems like there could be some heuristics that could make huge speed increases in many

[2020-05-07 20:13] jorgeorpinel commented on #3755
Thanks. I did start doing this in #3759 and mentioned it in https://github.com/iterative/dvc.org/pull/1186#pullrequestreview-407626236 but having the issue also doesn't hurt 🙂

[2020-05-07 20:13] elgehelge commented on #3633
Seems that most of you agree that it should be defined directly in the pipeline file (I do too). So maybe you should rename the issue @dmpetrov ?

[2020-05-07 22:58] george-gca commented on #3514
Bug still happening. Just installed dvc through snap, started a fresh git repo and tried to add a folder. Also upgraded tqdm to last version.

dvc add -v my_folder
2020-05-07 19:48:23,865 ERROR: unexpected error - "Unknown argument(s): {'lock_args': (False,)}"
------------------------------------------------------------
Traceback (most recent call last):
  File "/snap/dvc/388/lib/python3.6/site-pa

[2020-05-07 23:07] shcheklein commented on #3744
@ychou85 could you please try to opt-out from the analytics as described here - https://dvc.org/doc/user-guide/analytics ?

@efiop can it be updater daemon also?

[2020-05-07 23:08] shcheklein commented on #3744
@ychou85 could please run `ps -aef | grep dvc` or something similar to get full `dvc` commands with arguments, to actually see what is running now.

[2020-05-07 23:31] efiop commented on #3514
@casperdcl Could you take a look please?

[2020-05-08 02:53] pmrowla commented on #3753
There are some considerations we need to take into account for DVC, such as the possibility that another user has run `gc -c` on a remote since the last time you pushed (and potentially removed data that now needs to be re-pushed). But in general yes, we will continue to optimize this case as much as possible.

Could you share a bit of information about your use case/dataset? In particular, does y

[2020-05-08 03:04] skshetry opened #3765 "Drop python 3.5 support?"
Advantages of Python 3.6+ codebase:
1. f-strings (on exceptions mostly, but yay!)
2. insertion-ordered dict (in 3.6, it's an implementation detail, but who's gonna change that?)
3. Supports `Pathlike` objects which will help us get rid of some helpers.
4. Typings, which we are planning to start using. (with support for variable annotations)
5. We will be supporting 3 versions (right now, it's 4)
6

[2020-05-08 10:11] vojavocni opened #3766 "local UI for data and pipeline management & visualization"
I really think a web UI for dvc would be a big step towards much wider adoption of the tool. The simple DAG view of dvc pipelines (kinda like what apache airflow has), with the ability to edit the stages, reproduce them and visualize their status would make things much nicer.

An example of a airflow DAG:
![image](https://user-images.githubusercontent.com/40206443/81395952-32cbe300-912d-11ea-82d9-

[2020-05-08 10:13] vojavocni commented on #3766
Also, I would also work on it myself, though I have to admit I'm not a UI guy. :)

[2020-05-08 10:42] casperdcl commented on #3765
Based on PyPI, percentage-wise and in absolute terms, mac+win users are about as prevalent as 3.5 so don't think we should drop support yet. Still peaks around ~40 downloads/day just on PyPI alone.

Not a fan. I still support py2.6.

[2020-05-08 10:52] skshetry commented on #3765
@casperdcl, Mac and Windows users don't have a choice (as they cannot just jump ship). Python3.5 users has enough choices (and, again, we build tool, not a library).

And, providing Mac/Windows support is mostly strategic (to attract users) and make `dvc` an attractive tool.

[2020-05-08 10:57] casperdcl commented on #3765
Don't agree at all. Everyone has a choice to put in lots of effort to change. Everyone tends to prefer not to. I have no doubt py3.5 users have equally valid reasons.

As is the point of legacy version support (advertising to py3.8 users that they will also be supported for years to come).

[2020-05-08 10:57] casperdcl commented on #3765
Not saying we shouldn't rop 3.5 support; I'm saying it seems premature.

[2020-05-08 12:41] gurunath-p commented on #3758
@efiop spent some hours checking this...seems like the connection cannot be established, checked some issues on paramiko similar to this:
 - Used the same credentials as stored in dvc to ssh and sftp which work on the bash CLI.
 - Also, read in the "dvc remote" docs page that for sftp, paths relative to the Chroot for the sftp connection are to be mentioned in the .dvc config, when the root used f

[2020-05-08 15:18] shcheklein commented on #3765
@skshetry

this is not exactly true - people use it as a library, and let's not forget about `dvc.api`.

it it strategic, but not as pure marketing I would say. Windows is still popular in enterprises, for example, and we need to keep our expertise up to date there. Mac - I believe we have quite a lot users.

[2020-05-08 15:22] pared commented on #3409
@shcheklein
Well, I was thinking that we might let the user mark every type of metric as `-m` and try to handle its type in a "lazy way" that is the moment user tries to interact with it. For example, throw an error with a proper message when trying to `plot` scalar, or `metrics diff` values array/ csv.

[2020-05-08 15:46] shcheklein commented on #3409
@pared the only problem, is that we already have `dvc plot diff` (third level for the plot alone) - how would we incorporate it back into `dvc metrics`?

[2020-05-08 15:48] efiop commented on #3765
I agree with @skshetry , it makes a lot of sense to drop 3.5 support, as it will make developing new features much easier and will bump up the quality of the code with all the new features 3.6+ has. We run into 3.5 issues in pretty much every PR and have to waste our cycles on debugging it. There are over 4 times more 2.7 downloads then there are 3.5 downloads. 3.5 is not even a default python in

[2020-05-08 15:49] pared commented on #3409
@shcheklein I would not incorporate it into metrics. The thing about this command is that it works with properly structured metrics. I thnk its fine to give feedback to the user that his metric of choice is unfit to be plotted. I would leave `dvc plot` as is, though the `dvc metric` should probably be changed because it indicates that this is the command to interact with metrics.

[2020-05-08 16:04] shcheklein commented on #3409
right. anything good comes to your mind in terms of the name?

Btw, if we keep both commands then it's not so about laziness for these command anymore, right? It will be more about auto-detecting metric type automatically ...

[2020-05-08 16:06] efiop commented on #3409
@pared It doesn't make sense to "keep" `plot`, as it is not something that anyone relies on. People will be searching for `dvc metrics` and it will be harder for them to find `plot` command, which sounds ambiguous. And with `dvc metrics` + `dvc scores` it is deterministic, intuitive and easy to find.

[2020-05-08 19:20] jorgeorpinel commented on #3765
What does this mean? That the tests on CI run on all these versions? But really the code base only needs to work for the oldest one (3.5 now?) since the following ones are backward compatible, correct? If so, it doesn't sound like a hard thing to do (supporting several versions) but Idk, haven't done any contributions to core in months 🙁

That said if the core team wants to migrate to 3.6 for it's

[2020-05-08 19:28] jorgeorpinel commented on #3409
The obvious but ugly alternative is to have `dvc metrics score-show/score-diff/plot-show/plot-diff`. A lazy/autodetect metrics file format approach with the old `dvc metrics` commands (no `dvc plot`) sounds better. We'd just need to document the types of metrics and how they're autodetected very clearly.

[2020-05-08 19:39] efiop commented on #3758
Could you also try to open sftp connection through paramiko? If that doesn't work - something is up with paramiko.

Also, you've mentioned that it used to work before. Could you downgrade to dvc 0.93.0 and see if that makes it work?

[2020-05-08 19:47] efiop commented on #3752
Hi @greaber ! Could you please upgrade to 0.94.0 (released yesterday) and see if that helps?

[2020-05-08 19:55] efiop commented on #3743
Hi @mribeirodantas !

Sorry for the delay. We've changed the defaults in 1.0.0a1 to make `dvc repro` use `dvc.yaml` by default. Maybe that could help.

Regarding the shell completion, I think we can definitely implement that by doing something like `dvc pipeline list` inside the shell completion, but it is obviously not implemented yet, unfortunately :slightly_frowning_face:

I'm not sure if this

[2020-05-08 20:08] mribeirodantas commented on #3743
Yeah, I talked to @shcheklein about shell completion and I gave a read in the files for shell completion (bash/zsh). I think that's something I would like to try to implement myself. Is it fine?

[2020-05-08 20:23] #3511 closed

[2020-05-08 20:34] #1234 closed

[2020-05-08 21:27] shcheklein commented on #3766
Related #1074

[2020-05-08 21:29] shcheklein commented on #3766
@vojavocni hi! that sounds great, do you want this UI to be run "locally", on top of your local repo? Or some SaaS that connects to Github?

[2020-05-08 21:55] greaber commented on #3752
Oh wow, this issue seems fixed in 0.94!

[2020-05-08 21:55] #3752 closed

[2020-05-08 22:16] shcheklein commented on #3409
yeah, I agree with @efiop . But the only question I still have in my mind - should we try to make all the functionality part of the `dvc metrics` and detect types automatically? Or we should indeed have two commands `dvc metrics` and `dvc plot`?

[2020-05-08 22:24] dmpetrov commented on #3690
A bit more clarification: we are interested only in MD format with no html.

A nice option that can be included:
1. `--no-path` - do not show the first path column since the user might decide to output tables per file with a separate headers for each of the table.
2. `--no-text` - now `dvc metrics diff` output `None`  and  `diff not supported`. it might be better to have empty values instead.

[2020-05-08 22:31] shcheklein commented on #3743
@mribeirodantas that would be really cool and useful! :) btw, does `dvc list` show what we need in 1.0a? we can consider implementing specific options to make output machine parsable (json, or a pure list w/o headers) if needed.

[2020-05-08 22:44] dmpetrov commented on #3690
For `dvc diff` MD result should show the operation as a column `deleted\added\modified`.

It would be nice to have options like  `--added-only` \ `--modified--only` \ `--deleted-only`. It'll help the user to create separate sections in MD file if the separation is important and simplifies the table since the operation type column won't needed.

[2020-05-08 23:54] efiop commented on #3409
It makes more sense to me to have `dvc metrics diff/show`(old `dvc plot`) and `dvc scores diff/show`(old `dvc metrics`). It looks like we will also separate those on the dvc-file level with different markers, so it makes even more sense to just have separate commands. @jorgeorpinel approach with autodetecting won't work for commands that work without arguments: e.g. `diff` which plots a graph for

[2020-05-09 00:16] efiop commented on #3690
For the record: decided not to go with these, as it seems too out of scope for `dvc diff`. It is easy to parse from the MD table.

[2020-05-09 00:45] casperdcl commented on #3514
@george-gca in your trace:

[code]

This makes no sense. Your isolated `snap` (`/snap/dvc/388/...`) is then using your system's `tqdm` (`/home/...`)? Really? If that's the case seems like a major upstream bug with `snap`.

Could you try `snap remove dvc && snap install dvc`?

In any case `/home/gca/.local/lib/python3.6/site-packages/tqdm/_tqdm.py", line 860` is definitely an old version of `tqdm<4

[2020-05-09 01:01] dmpetrov commented on #3409
By assigning `dvc metrics` name to one (scalar) or another (continuous) we simplify and kind of promote one over another. We should think which of the scenarios is basic for DVC. @efiop is right that people will be looking for `dvc metrics` while they need plots. However, it works in the opposite direction.

What action we can make:
1. "Prioritize" scalars and keep everything as is. It is very nat

[2020-05-09 01:52] MD-key6 commented on #3511
p g

[2020-05-09 02:44] shcheklein commented on #3409
@dmpetrov 👍 can we clarify how `dvc run` and `dvc.yaml` entries look like in this case?

[2020-05-09 02:48] dmpetrov commented on #3409
[code]

The only issue with this naming - `-p`/`-P` in `dvc run` is busy by params. We have to use something like `-l/-L` for pLots.

[2020-05-09 03:04] shcheklein commented on #3409
Looks fine to me 👍  not perfect though ... `dvc plot` sounds like a verb/action to me that you do on _metrics_, and `plots` entry looks strange. And a separate `-l` - not sure I like it. We'll have to use some term in docs to distinguish `-m` and `-l`.

I think cache: false should be default for metrics - so just skip it? not sure about `-l`.

A crazy idea -become opinionated? Like with params  -

[2020-05-09 03:24] mribeirodantas commented on #3743
For the dvc list, I think it does.

[2020-05-09 03:52] dmpetrov commented on #3409
Let's use the same default for all types of outputs. I really don't want to keep in my head when it is false and when it is true by default :)

@shcheklein it is a good idea. However, it prevents us from having multiple metrics files or changes the metrics file names. We can easily solve this problem by introducing `metrics` in `dvc.yaml` with `metrics: metrics.json` by default (the same for plots

[2020-05-09 03:58] shcheklein commented on #3409
Alternatively (to avoid names duplication) you we can use the same trick as we do now for `cache: false|true` - make it an output parameter.

[2020-05-09 07:29] george-gca commented on #3514
@casperdcl I don't really know if it is a snap bug since to install dvc through snap I need to enable the `--classic` flag. I did the `snap remove dvc && snap install dvc` but to no avail.

I figured out that the tqdm lib that I updated was actually inside a virtualenv. So I deactivated the virtualenv, tried to update it again, but it said it was already updated. Then I found out that the dvc uses

[2020-05-09 07:39] george-gca opened #3769 "Tab autocomplete when adding dirs not ignoring case even though it is set to in my .inputrc"
When I am trying to add dirs to my dvc repo, when I press tab to autocomplete its name it is not ignoring case, even though `set completion-ignore-case On` is set on my `.inputrc` file.

Steps to reproduce: just try to add a folder that starts with upper case by inserting its lower case version and pressing tab to autocomplete.

DVC Version: 0.94.0
Install method: snap
System: Ubuntu Desktop 18.04

[2020-05-09 08:14] karajan1001 commented on #3698
Thank you, so strange. Maybe there is non-English char in your user name? And the error raises from loading global configuration.

[2020-05-09 08:38] Sunny-Day200 commented on #3698
![b473e7df0fdfda76006986ed487f3ed](https://user-images.githubusercontent.com/53826251/81468653-76008180-9213-11ea-82f7-278e4fb2008f.png)

[2020-05-09 08:39] Sunny-Day200 commented on #3698
![b473e7df0fdfda76006986ed487f3ed](https://user-images.githubusercontent.com/53826251/81468669-89135180-9213-11ea-842b-ba360b67470c.png)
It does not contain any non-english characters

[2020-05-09 08:41] Sunny-Day200 commented on #3698
It does not contain any non-english characters
![b473e7df0fdfda76006986ed487f3ed](https://user-images.githubusercontent.com/53826251/81468730-ead3bb80-9213-11ea-9b4e-c8831866eb42.png)

[2020-05-09 08:44] Sunny-Day200 commented on #3698
Not really, so I'm confused

[2020-05-09 08:45] Sunny-Day200 commented on #3698
No , so I'm confused

[2020-05-09 08:52] casperdcl commented on #3514
thanks @george-gca would be great if you could reproduce this on a different system. There are two issues, I'm more concerned with the second:

1. Virtualenvs interfering with each other/misconfigured
    - not too worried about this; it's just a standard pain we all have
2. Snap packages trying to import modules outside the snap directory
    - really not ok. Even with `--classic`.

[2020-05-09 09:19] tall-josh commented on #3633
@skshetry Amazing news! I can't wait to give it a crack!

  - I agree logic-less is a good call
  - I'm in two minds about whether to allow loading vars from separate files. Leaning more towards as you've described above, but I could be convinced.

[2020-05-09 12:07] efiop commented on #3769
@george-gca Are you using bash or zsh?

[2020-05-09 15:53] casperdcl commented on #3571
thanks @AljoSt for bringing this up; but the problem is there are many cases where

- `file/s` is more appropriate because there are many files being processed per second
- `s/file` is more appropriate because it takes a long time to process a large file

So in general both cases are needed and it's important to automatically switch between them.

Of course, it's annoying if something is hovering

[2020-05-09 15:55] george-gca commented on #3514
@casperdcl by different system you mean distro? I recently installed Ubuntu Desktop 20.04 on my laptop, installed dvc package via snap, and everything worked fine. But it is part of my default setting to install the tqdm package in default python version since I use it in some of my scripts. Don't know if if I haven't done this it would work though.

The thing is, the other system where I installe

[2020-05-09 15:56] george-gca commented on #3769
Sorry for missing that, using bash.

[2020-05-09 16:48] casperdcl commented on #3514
No by different system I mean different physical computer (or reinstall the OS on the same computer) - i.e. something that may be reproducible. My feeling is this issue is not reproducible and just exists on one really broken system.

AFAIK `snap` packages should not be looking for import locations on the system. I'm sure the snap team would be very interested if this was reproducible.

To be clea

[2020-05-09 17:59] #3470 closed

[2020-05-09 18:00] #3588 closed

[2020-05-09 18:09] greaber commented on #3753
<img width="443" alt="изображение" src="https://user-images.githubusercontent.com/8763901/81481453-07361f00-9239-11ea-8d7b-8288c26fd9ec.png">

Multiple pulls and pushes make no difference, as the image shows.

There is not a large number of dvc files, but there are a lot of directories with many files that I add.  Probably it would be a lot faster if I used archive files, but I know you suggest ad

[2020-05-09 18:46] george-gca commented on #3514
Ok, since I can't format the remote pc I will test this in a virtual machine and report back.

[2020-05-10 04:19] tirkarthi opened #3771 "Importing ABC from collections has been deprecated and will be removed in Python 3.10"
Use collections,abc instead since the supported versions are python >= 3.5

[code]

[2020-05-10 05:04] #3771 closed

[2020-05-10 07:12] weekly-digest[bot] opened #3773 "Weekly Digest (3 May, 2020 - 10 May, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 47 issues were created.
Of these, 29 issues have been closed and 18 issues are still open.
## OPEN ISSUES
:green_heart: #3769 [Tab autocomplete when adding dirs not ignoring case even though it is set to in my .inputrc](https://github.com/iterative/dvc/issues/3769), by [george-gca](http

[2020-05-10 08:21] nik123 opened #3774 "refactor: Repo methods with "targets" param should check for str type"
Repo contains several methods with `targets` param: `add`, `update`, `status`, `_fetch`, etc. Some of them, like `add` and `update`, check if `targets` param is str:

[code]

Probably other methods should contain it too. Possible candidates:

1. `status`
1. `_checkout`
1. `_fetch`
1. `pull`
1. `push`

[2020-05-10 15:15] #3773 closed

[2020-05-10 15:40] efiop commented on #3690
Keeping open to consider 1,2,3 above.

[2020-05-10 18:46] efiop commented on #3719
@karajan1001 Sorry for the delay.

You have very valid points, but I don't quite understand which use-case or scenario we are talking about. What issue are we trying to solve or what feature are we trying to implement? Or are we just revisiting the remote logic? :slightly_smiling_face:

[2020-05-10 18:49] efiop commented on #3653
@charlesbaynham Sorry for the delay. It doesn't really disable it, just doesn't try to be paranoid about sync-ing to disk. We'll need to take a closer look. We don't have the capacity to do it right now, but we'll try to do that in the nearest future.

[2020-05-10 21:04] casperdcl opened #3775 "snap: get repo fails"
$ dvc get https://github.com/iterative/dataset-registry get-started/data.xml -o data.xml
ERROR: failed to get 'get-started/data.xml' from 'https://github.com/iterative/dataset-registry' - Failed to clone repo 'https://github.com/iterative/dataset-registry' to '/tmp/tmpq46_7szmdvc-clone': Cmd('/snap/dvc/388/usr/bin/git') failed due to: exit code(128)
  cmdline: /snap/dvc/388/usr/bin/git clone --no-

[2020-05-10 21:19] charlesbaynham commented on #3653
No need for any apology, the work you guys do is amazing.

Maybe a compromise could be to only flush the lock if dvc determines that actual work needs to be done to reproduce a stage. In that scenario it'd be a small fraction of the time taken.

[2020-05-10 22:03] shcheklein opened #3776 "list: raises an ugly exception on a dir path"
Note: this is pre-release testing.

[code]

On the `example-get-started`:

[code]

while listing of a single output works fine:

[code]

---------

**Problems:**

1. Message reveals a lot of internal info that is not relevant.
2. Directory actually exists. At least we should show its name if not the full content.

[2020-05-10 22:10] shcheklein commented on #3743
It looks like `dvc pipeline list` is not exactly what we want:

- It also outputs DVC-files (inputs to the pipeline) - do we want to pass them to repro?
- Output includes some delimiters, summary, etc - some option like `--show-json` is needed after all?

That's how it looks like for me right now:

[code]

[2020-05-10 23:17] shcheklein opened #3777 "1.0 (not only) testing - comments, finding, issues, etc"
Some notes on the playground, how to reproduce, and what I'm testing for.

Repo to reproduce: [here](https://github.com/shcheklein/example-get-started).

- I'm running testing on a new version of the `example-get-started` that I built with this updated gen [script](https://github.com/iterative/example-repos-dev/blob/1.0-migration/example-get-started/generate.sh).

- The repo itself (that script fr

[2020-05-11 00:54] mribeirodantas commented on #3743
I think we do want to pass them to repro. The argument *-p* in _dvc repro_ reproduces the stage that contains the specified dvc-tracked file, so it would be nice if _dvc repro_ could also tab-complete the name of files contained in a stage.

About the format, we will have to parse it anyway, so whatever it's printed, we can parse that and make sure it's tab-completable. What do you think?

[2020-05-11 01:56] efiop commented on #3653
The thing is that it modifies rwlock _before_ checking that something has changed, so that no other stage is in the middle of modifying something that we will be checking. :slightly_frowning_face: It might be as simple as my patch that removes paranoid fsync-ing, but need to double check that. If not, I'm sure we'll find another way to optimize this.

You and @pmrowla have also noticed something t