[2019-05-13 03:17] jorgeorpinel commented on #1994
In fact... For problem 1, how about instead of calling them "positional arguments" in these parent commands (dvc cache, dvc metrics, dvc pipeline, and dvc remote), we call them "accepted sub-commands"?

[2019-05-13 03:25] shcheklein commented on #1994
Agreed, we should change to subcommands or something like that. The "positional arguments" is probably hardcoded in `argparse` library. Hopefully, there is an easy way to override it.

[2019-05-13 15:25] mroutis commented on #1989
@prihoda , can you explain your use case for this?
I'm imagining that you have a directory with some stage files, and you want to reproduce only the stage files that are found in that directory. If so, how did you arrange your project?

[2019-05-13 15:40] Casyfill opened #1995 "AttributeError: module 'enum' has no attribute 'IntFlag'"
python 3.6, dvc 0.40.1

on almost any command throws issue (warning?):
[code]

[2019-05-13 16:17] efiop commented on #1995
Hi @Casyfill !

Do you have `enum34` installed by any chance? If you do, please remove it, it is known to cause issues in many packages.

[2019-05-13 16:31] efiop opened #1996 "ssh: fix exception reporting during upload"
See https://github.com/iterative/dvc/blob/0.40.1/dvc/remote/ssh/__init__.py#L237

should be:
[code]

Discord https://discordapp.com/channels/485586884165107732/485596304961962003/577533105611735051

[2019-05-13 18:21] #1991 closed

[2019-05-13 18:32] Casyfill commented on #1995
got it! hm, now I wonder which package requires it as a dependency

[2019-05-13 18:35] shcheklein commented on #1995
@efiop is there a workaround on the DVC side we can implement so that we do not depend on the environment in this case?

[2019-05-13 19:00] efiop commented on #1995
@shcheklein As you can see from the traceback, it is not about us per se :slightly_smiling_face: As far as I know, the issue is caused by some old enum34 installed, which breaks the environment basically for everything that is using newer features. @Casyfill Maybe you have enum34 version in your console from the time you've run `pip freeze` so we could confirm my theory? What we could do is requir

[2019-05-13 19:39] Amir-Abushanab commented on #1074
@AKuederle sounds a lot like https://dagshub.com - you can click on the file in the pipeline view and download it from it's source

[2019-05-13 19:51] mroutis commented on #1954
Should we close this? @efiop

[2019-05-13 20:30] efiop commented on #1954
@mroutis Thanks for the heads up! Closed by https://github.com/iterative/dvc/pull/1961

[2019-05-13 20:30] #1954 closed

[2019-05-13 22:19] kurianbenoy commented on #1996
can I work on this issue?

[2019-05-13 22:20] efiop commented on #1988
@prihoda 0.40.2 with the fix for it is out. Please upgrade :slightly_smiling_face: Thanks for reporting this bug! :slightly_smiling_face:

[2019-05-13 22:21] efiop commented on #1991
@colllin 0.40.2 is out. Please give it a try. :slightly_smiling_face:  Thank you for the feedback!

[2019-05-13 22:25] efiop commented on #1996
@kurianbenoy Sure! :) Please let us know if you need any help.

[2019-05-13 22:33] efiop commented on #1996
@kurianbenoy Btw, be sure to check out our [contribution guide](https://dvc.org/doc/user-guide/contributing). Also, don't hesitate to join [our chat](https://dvc.org/chat), we also have a #dev-general channel there for a development-related discussions, so if you have any questions feel free to ask them there :slightly_smiling_face:

[2019-05-13 23:12] jorgeorpinel opened #1998 "have `dvc cache dir` print the current cache dir when no cmd flags are used"
Currently `dvc cache dir` by itself throws an error and display's the command help. It would be useful to, instead, print the location of the currently used cache dir, so that users can always know what it is (even if it's not specified in `.dvc/config` and thus unknown to `dvc config cache.dir`).

[2019-05-13 23:43] jorgeorpinel commented on #1993
I'm going to vote for option b) here.

[2019-05-14 06:57] AKuederle commented on #1074
Interesting! I will have a closer look.

Thank you

On Mon, May 13, 2019, 21:39 Amir <notifications@github.com> wrote:

[2019-05-14 11:38] efiop commented on #1993
@jorgeorpinel Hm, I think you are right about `scm.Base.repo` not being used. `scm` should be standalone and should not depend on dvc Repo instance. It might be just a trace of some legacy changed that we didn't take good enough care in cleaning out. If that is the case and you can avoid passing repo to SCM at all, we can safely rename `self.git` -> `self.repo`.

[2019-05-14 15:07] mexeniz opened #2001 "Caught MemoryError when following "Running in bulk" in tutorial"
**Please provide information about your setup**
DVC version: 0.40.2 (installed by pip)
OS: Ubuntu 18.04
RAM: 8GB

I am following a tutorial in https://dvc.org/doc/tutorial/define-ml-pipeline.
In "Running in bulk" section, I failed to run this command and caught an error.
[code]

[2019-05-14 22:52] mroutis opened #2005 "progress: flickers when updating to fast"
[![asciicast](https://asciinema.org/a/246240.svg)](https://asciinema.org/a/246240)

A solution would be to track the current progress bar and compare it with the new one, and not refreshing it if it is the same.

[2019-05-14 23:05] efiop commented on #2005
The nice thing about our progress bar is its simplicity, or at least it used to be :slightly_smiling_face:. If we would to go as far as tracking the current frame, I would probably try to give some third-party library a shot once again.

[2019-05-15 05:32] shcheklein commented on #1957
I would expect git to use UTF-8 to interpret the file.

I think it can keep the same policy for DVC files (as we do now). Always use `utf-8`. We should def reflect this in the docs - specifically this section - https://dvc.org/doc/user-guide/dvc-file-format

[2019-05-15 05:57] shcheklein commented on #1957
This is a good question. The only way I see to solve this is to provide an encoding parameter to the the metrics show command. I would use utf-8 as a default one for simplicity and would specify this in the documentation.

[2019-05-15 12:43] mhham opened #2008 "urllib3 dependency issue"
The installation of the last dvc version (0.40.2) with google storage (`pip install --no-cache-dir dvc[gs]`) randomly fails because of a dependency conflict for urllib3 between `requests` (`'urllib3>=1.21.1,<1.25'`) and `dulwich` (`'urllib3[secure]>=1.23'`).

More precisely when installing `dulwich` first, it installs the last `urllib3` version (1.25.2) which conflicts with `requests`.

For reprod

[2019-05-15 13:25] PeterFogh opened #2009 "output/dependency/remote: slow performance for remote directories"
Hi @efiop and @mroutis,

**The problem**:
As talked about at Discord (see from [this message](https://discordapp.com/channels/485586884165107732/563406153334128681/577783793893638165) and the next 14 messages) I have tried out the new feature (#1654) of using remote folders as DVC stage dependencies and outputs, however, I found the runtime extremely slow.

**My test example**:
I have created the

[2019-05-15 13:35] mhham commented on #2008
I would suggest checking the indirect dependencies of the package using tools like [pip-compile](https://github.com/jazzband/pip-tools) before pushing a new release.

Or maybe rely on more complete python package management tools like [Pipenv](https://github.com/pypa/pipenv) or [Poetry](https://github.com/sdispater/poetry)

Example output of `pip-compile`on the current master branch, where we see

[2019-05-15 14:08] Casyfill commented on #1995
I don't have pip freeze per se, but I was able to reproduce it having the conda env below.
Given that it just started to happen, I blame the last lib I installed - `halo`, but didn't have a chance so far to check if I am correct
[code]

[2019-05-15 16:13] efiop commented on #2009
Discord context and some explanation about how we can help with this by implementing 'state' db for remote ssh files: https://discordapp.com/channels/485586884165107732/563406153334128681/577814546568314891

[2019-05-15 16:53] efiop commented on #2008
@mhham Thanks for reporting this issue! We'll take a look.

[2019-05-15 17:24] Casyfill opened #2010 "pip installing fails for the last version (as of May 13) for the dvc on linux, because of `dulwich`"
<details><summary> click to see details </summary>
<p>

[code]
</p>
</details>

[2019-05-15 17:27] pared commented on #2010
Might be related to #2008

[2019-05-15 17:54] pared commented on #2010
@Casyfill after analysing the logs, it seems to me that the problem is lack of gcc in the image, can you put
`RUN apt-get update && apt-get install -y gcc` before failing step?

[2019-05-15 17:59] mroutis commented on #2010
Good catch, @pared !

[2019-05-15 18:48] Casyfill commented on #2010
I can confirm that everything works fine if I run `conda install dulwich` before dvc install - perhaps. conda binary installs `gcc` properly, and pip install does not. It's still a suboptimal solution though :-)

[2019-05-15 20:46] mroutis commented on #2010
@Casyfill , is it safe to assume that this is `conda` specific?

[2019-05-15 20:55] Casyfill commented on #2010
I'd rather assume the issue is pip-specific

[2019-05-16 01:36] mroutis commented on #2008
Hopefully, this will be solved when they merge this patch: https://github.com/kennethreitz/requests/pull/5092

[2019-05-16 05:55] mroutis commented on #1970
Extracts from https://stackoverflow.com/questions/56035696/version-control-for-machine-learning-data-set-with-large-amount-of-images

Do we know DVC's bottlenecks? Is it possible to provide the user with an estimate of how long is it going to take uploading / downloading depending on the number of operations and internet speed?

The problem is related to Google Cloud Storage, needs more research o

[2019-05-16 09:08] mhham commented on #2008
Indeed!

It still might be useful to adopt a more systematic approach for dependency resolution for the future (cf. https://github.com/iterative/dvc/issues/2008#issuecomment-492657143)

[2019-05-16 11:11] efiop commented on #2010
As @donbobka noticed, dulwich by-default is trying to compile some things, but that can be disabled:
[code]

We are not really using dulwich for high-performance stuff, so maybe it is worth disabling C bindinds. But I can't be sure that any other our dependency won't require gcc at some point in the future, since gcc is quite generic requirement. In the meantime, maybe you could use one of our bin

[2019-05-16 11:27] prihoda commented on #1989
For example, a directory can contain results of one separate data analysis and I want to reproduce them. I know I can create a Dvcfile with all the outputs but it would need to be updated each time I add an output figure.

[2019-05-16 12:12] #1996 closed

[2019-05-16 16:05] #1976 closed

[2019-05-16 17:47] jorgeorpinel commented on #1893
This is the first issue I ever opened, some time ago @shcheklein. What labels should it have? Thanks 😃

[2019-05-16 20:35] mroutis opened #2014 "ci: use systematic approach for checking package dependency conflicts"
Related to #2008

[2019-05-16 20:42] mroutis commented on #2008
@mhham , thanks for such a detail description and suggestions on how to solve it!
I created an issue to integrate a tool for it in our CI, so we don't publish anything with conflicting deps: https://github.com/iterative/dvc/issues/2014

We will deploy a new version today that requires `requests` to be `>= 2.22.0`, just to force the dependency resolution.

By the way, if you are interested in provi

[2019-05-16 20:45] efiop commented on #1861
Also related to #2012 to support importing directories from packages. Working on it...

[2019-05-16 20:48] efiop opened #2015 "pkg: support "reference""
Related to #2012 .

E.g.
[code]

and need to support `pkg://mypkg@v10/path/to/data` syntax.

[2019-05-16 20:58] #2008 closed

[2019-05-16 21:29] Casyfill commented on #2010
2 cents here:
1) I personally can use dep or something but that would require additional logic in docker - id prefer keeping all requirements in conda - so installing dulvich via conda seems like a better solution to me

2) I would disagree that the gcc is “popular requirement” in ds python community and I’d definitely try to keep our dockers as skinny as possible; I also think that any package sh

[2019-05-16 21:33] efiop commented on #2010
@Casyfill I totally understand you! Will switch to `--pure` for dulwich and will test with a clean docker image without gcc to make sure that everything else is working fine, and will add a permanent test for that to make sure that things stay that way. Thank you so much for the feedback! :slightly_smiling_face:

[2019-05-16 22:20] pared commented on #2009
From private discussion:
Worth noting that state database has uniqueness constraint on inode, so there is possible case where we have state database with mixed local/ssh entries, and we start overriding one with another. It would be desirable to handle this potential problem in this task.

[2019-05-16 22:52] mroutis commented on #1989
@prihoda , are the stage files on such directory related? How does the pipeline looks like?
Sorry for bordering you with a lot of questions, just trying to understand better the scenario before implementing this feature :sweat_smile:

[2019-05-17 02:52] efiop commented on #2010
Unfortunately, we are not able to specify `--pure` for a specific dependency in our `setup.py`, so currently you could install dvc with "pure-python" `dulwich` by specifying `--global-option="--pure"` when running `pip install dvc` or when specifying dvc in your `requirements.txt`. Created [a patch for dulwich](https://github.com/dulwich/dulwich/pull/707) that allows C extensions building to fail,

[2019-05-17 09:58] prihoda commented on #1989
Sure I understand 😄It's the same usecase as `dvc push -R` and `dvc pull -R` really. The stages are related for the same reason that they are put in the given directory 😄For example, it can be ROC plots and Precision-Recall plots for a set of trained models.

Directory structure:
[code]

I would like to run `dvc repro -R data/plots/`.

[2019-05-17 12:12] mastaer commented on #1224
I need and want this ! :)

[2019-05-17 14:05] ei-grad commented on #120
Started to work on this. A basic `meta.yaml` for dvc is here - https://github.com/ei-grad/staged-recipes/blob/dvc/recipes/dvc/meta.yaml.

About dependencies:

I guess it is better to put them in the same PR with the DVC.

Btw, @brbarkley could you please share how did you get the list of outstanding dependencies?

[2019-05-17 14:14] brbarkley commented on #120
@ei-grad I manually went through DVC’s dependency list and searched for them on conda-forge.

[2019-05-17 16:19] Casyfill commented on #2010
got it, thanks! Yes, pr to Dulwich seems to be the best solution for everyone!
Thank you all for a quick response and help!

[2019-05-17 18:51] efiop commented on #2010
Let's keep this open until it is resolved.

[2019-05-17 21:34] pauloalves86 opened #2016 "Misleading warning (Removing before checkout)"
During a manual update of a file, I've faced the following message:

It puzzled me, I thought it would overwrite my file, since checkout restores the file based on current DVC file.
I don't know why the file was replaced by the same file. It took a long time (huge file on a HDD).

@efiop provided me a script that reproduces the message:
[code]

I think a better message and avoiding re-copying the

[2019-05-17 22:11] efiop commented on #2016
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/579053609271164929

[2019-05-18 18:46] dmpetrov opened #2018 "Google Drive"
Based on a conversation with @ternaus ...

Many people use G-drive to share data and models (through web-UI). This is the drive almost everyone has.

Moreover, people from academia can easily get unlimited storage for a lifetime (even after leaving academia). Which makes GDrive default storage from many of these guys.

It might worth to implement GDrive support in DVC to cover people who play with

[2019-05-18 20:52] efiop commented on #1545
Or, as discussed with @shcheklein , we could require a special external cache setup for external outputs, same as we do with s3/gs/etc. That way it would error-out automatically, without us having to introduce --external flag, that is breaking the symmetry for s3/gs/etc external outputs.

[2019-05-18 20:52] shcheklein commented on #1545
More context on this - https://discuss.dvc.org/t/share-nas-data-in-server/180 . It looks it's a really common thing and the way our "external outputs" behave in this case is very confusing.

[2019-05-18 20:56] efiop commented on #1880
@villasv ?

[2019-05-19 08:46] mroutis commented on #120
looks like there's already a version on conda cloud: https://anaconda.org/derickl/dvc :eyes:

[2019-05-19 16:59] kurianbenoy commented on #1718
Can I work on this?

[2019-05-19 17:02] kurianbenoy commented on #1718
@efiop can you tell where to make the change? And as the description is the following okay:
`Data & models versioning for ML projects, make them shareable and reproducible`

[2019-05-19 19:25] shcheklein commented on #1718
@kurianbenoy let's do something like:

`Data Version Control - datasets, models, and experiments versioning for ML or data science projects`

I think you need to add `--description` to somewhere around lines 50-51 to the script @efiop shared the link to.

[2019-05-19 20:26] bon opened #2019 "dvc run jobs option not respected"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

When I run `dvc pull -j 32` i expect many threads/processes running the md5sums and transfers but it remains at a single one.

Version 0.40.2 of dvc on Arch Linux 4.9

[2019-05-19 21:10] efiop commented on #1718
@kurianbenoy Here https://github.com/iterative/dvc/blob/master/scripts/build_posix.sh#L46 . To the `fpm` command.

[2019-05-19 23:26] efiop commented on #2019
Hi @bon ! Thanks for reporting! We'll investigate.

[2019-05-19 23:49] shcheklein opened #2021 "tests: resolve deprecation warnings"
[code]

[2019-05-20 00:39] efiop commented on #1629
Note: `hadoop fs cp` is actually copying through the local machine, so it is the same as we would've downloaded the file and uploaded it back. So we can stop using hadoop cli only because of that.

[2019-05-20 13:54] mastaer commented on #1898
I have the same problem. And here is some code to reproduce this error:

`#!/bin/bash

mkdir ~/test_repo
cd ~/test_repo

mkdir repo storage_dvc storage_git data_sshfs

cd repo

git init
dvc init

##################################
# 1. Step:                       #
# GIT with LOCAL (remote) server #
##################################
git init --bare ~/test_repo/storage_git/myproject.git

git remot

[2019-05-20 14:33] jacopo-chevallard opened #2023 "ERROR: failed to push data to the cloud - [Errno 13] Permission denied"
Hi, first of all, thanks for this great piece of software ! :-)

I'm having troubles in pushing to a remote via SSH, I think that the problem is related to a confusion between ssh password and key passphrase, but I'm unable to sort it out... I'm on a Mac OS 10.13.6, using dvc version 0.40.2.

My ``.dvc/config`` file contains
[code]

and when running the command ``dvc push -v -r PUSH_SSH`` I get th

[2019-05-20 14:47] efiop commented on #1898
Note: Might be solved by migrating to dulwich.

[2019-05-20 14:49] efiop commented on #2023
Hi @jacopo-chevallard !

Could you please show us:
[code]
I suspect you simply have bad permissions set on that key file. Perms should look something like:
[code]

[2019-05-20 14:51] felkost opened #2024 "stage: ruamel.yaml loads md5 as inf"
** information about your setup**
DVC version(0.40.3 or 0.40.4), Platform and method of installation (pip), DEB(Linux Mint),

 I've just upgraded  from 0.35 and suddenly got that error:
![image](https://user-images.githubusercontent.com/15686832/58030764-c88aee80-7b27-11e9-9ef1-1821fc2e93de.png)

[2019-05-20 15:05] jacopo-chevallard commented on #2023
Permissions seem ok
[code]

[2019-05-20 15:12] efiop commented on #2024
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/580049728910262303

[2019-05-20 15:14] efiop commented on #2024
[code]
looks like a ruamel issue. Replacing it with pyyaml fixes it. Also,

[2019-05-20 15:17] efiop commented on #2024
Looks like for some reason this specific value `md5: 4661e177303623051910790245640135` is triggering the bug:
[code]

[2019-05-20 15:25] efiop commented on #2024
Created https://bitbucket.org/ruamel/yaml/issues/291/bug-in-value-loading-compared-to-pyyaml in the meantime.

[2019-05-20 16:05] efiop commented on #2023
@jacopo-chevallard Well, not really :slightly_smiling_face: Those permissions mean that only root has read and write access. And I don't think you are running from root :slightly_smiling_face: Try chowning that file to your user.

[2019-05-20 16:15] Suor commented on #2024
This looks like float value `<mantissa>e<exponent>`.

[2019-05-20 16:59] efiop commented on #2024
Need to make dvc properly quote md5s: https://bitbucket.org/ruamel/yaml/issues/291/bug-in-value-loading-compared-to-pyyaml#comment-52207433

[2019-05-20 16:59] villasv commented on #1880
Oops, sorry about that. I think I forgot about this and lost the notification 🤦‍♂

@shcheklein Nothing happens with `git add` because the files are added even after that error:
[code]

When I `ls` that link, it's not an actual link

[code]

@efiop It's a mounted partition, though I'm not familiar with the details. WSL automounts C:/ inside `/mnt/c`.

[2019-05-20 17:28] villasv commented on #1880
I dug into `gitdb` and this is the exact point of failure:

[code]

It seems they're attempting to handle NTFS, but doing so with an OS check. This fails for me because I have NTFS but under Linux :-/

[2019-05-20 19:52] ramzis commented on #2021
Hi, I would like to work on this issue.

[2019-05-20 19:54] shcheklein commented on #2021
@ramzis that would be great! thank you. Please, let us know if you need any help :)

[2019-05-20 20:11] pared opened #2026 "Messages as constants"
Find all usages of messages duplicated in code and tests, extract those messages to class constants and reuse them in tests.

[2019-05-21 00:03] david8381 opened #2027 "run: warn and/or prompt user when deleting an output"
The following command deletes data/clean -- it would be nice if there was a warning or something since there may already be data in data/clean.  The solution was to modify the script so that the data/clean directory was created by the script.

dvc run -d data/raw/ -d src/featherize_data.py --outs data/clean/ python src/featherize_data.py

<<Hi @david8381 ! That happens because dvc run is trying to

[2019-05-21 01:09] efiop commented on #2027
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/580181847141646349

[2019-05-21 01:46] efiop commented on #120
that guy seems to have packaged everything that is needed. Including grandalf https://anaconda.org/derickl/grandalf .

[2019-05-21 01:59] mroutis commented on #120
@efiop , those are outside _conda-forge_ (don't know if this is like the official distribution or something)

[2019-05-21 02:28] shcheklein commented on #1880
That's sad. And looks like `gitdb` is not a very active project. It's not about `dvc init` I can imagine, right? @efiop do we have other operations that call `git add` internally? Does it makes sense as a workaround to create an options that disables it? Or even catch the errors and write the warning if it's not critical?

[2019-05-21 08:31] prihoda commented on #1989
Working on it https://github.com/iterative/dvc/pull/2030

[2019-05-21 11:42] villasv commented on #1880
I'm still curious as to why this only happens in the second time. I've been using DVC a lot and this is the first time I've encountered this `gitdb` bug, so working around this scenario could be enough.

[2019-05-21 13:27] efiop commented on #1880
@shcheklein

It is just stable :slightly_smiling_face:

Currently we don't. If the issue is in that particular spot, it seems feasible to just fix it. Or, we could try `dulwich` instead, but it has problems of its own. I'm not quite sure if that error is critical or not, I'm not that familiar with the internals. Of course, we could add something like `--no-add` option, but my first choice would be

[2019-05-21 13:46] prihoda opened #2031 "Wait for dvc lock using sleep cycle"
Currently, we are waiting for the dvc lock file for 5 seconds and then fail if it is still not available. Would there be an issue with waiting for the lock using a sleep cycle with a defined refresh delay (~2s) and timeout (~2min or configurable)? Or are there some other long-term plans that would solve this problem?

This would be especially useful for the IntelliJ plugin or any other tool that c

[2019-05-21 13:58] efiop commented on #2031
Might be missing something, but how is it different from just adjusting timeout from 5 seconds to 2 minutes?

[2019-05-21 14:28] prihoda commented on #2031
Well if I understand it correctly, the _do_lock method will throw the LockError exception immediately if the lock is not available. Now we catch the LockError for the first time it happens, sleep for the provided timeout and then try again, this time failing for good if the lock is not available:

[code]

[2019-05-21 14:32] efiop commented on #2031
Ah, you are right. For some reason, I've thought that we had a "true" timeout there. Thanks!

[2019-05-21 14:32] prihoda commented on #2031
Anyway, from the IntelliJ plugin's side, I realized that at this moment it might actually be better to keep a queue of DVC commands and make sure that we are processing it sequentially. The only problem is that if we implement some smarter lock method that allows some commands to be run in parallel (e.g. using per-stage locking), the plugin would have to be aware of which commands can run in paral

[2019-05-21 14:37] efiop commented on #2031
@prihoda that would be a great way to go about it, especially considering that some commands like `repro` might run for longer than a pre-set timeout, so you would not be able to choose that timeout correctly beforehand.

[2019-05-21 14:39] brbarkley commented on #1691
@andrethrill @efiop It seems the ability to `dvc metrics show` only specific tag(s) (instead of either the current HEAD only or all tags) might be one feasible way to engineer this feature request. Of course, you would have to create a tag for each of the commits you would like to show.

Anyhow, I would find the ability to `dvc metrics show` only a specific tag or tags useful for some parts of my

[2019-05-21 15:48] mhham opened #2032 "Add command to prune data older than a given date (locally or on remote)"
It would be nice to be able to clean the dvc cache in a local or remote repository, by removing data older than a given date.

This is especially useful for huge datafiles which may fill up the storage quite fast.

For the moment, there is the `dvc gc` command that allows to clean everything in the cache except the files corresponding to the current `.dvc` files, but some more flexibility might be

[2019-05-21 17:05] shcheklein commented on #1880
We would need to support our own branch for gitdb which is not nice at all.

How about we just ignore this error? adding files to git is not critical at all for us and it's an easiest workaround for now?

Re the option - I was thinking more about a config option, not a CLI option.

[2019-05-21 18:32] brbarkley opened #2033 "retrieve cached version of file to compare to currently checked out version"
**Problem**:
I find myself in some instances wanting to retrieve one or multiple cached version(s) of a file to compare to the currently checked out version. Usually, this is out of desire to quickly compare model results from different specifications/versions.

Say, I might want to throw together some rough tables for comparison based on different model outputs and I'm not sure at this point if i

[2019-05-21 19:35] efiop commented on #2032
Hi @mhham ! Thanks for this request! We have a very similar ticket already https://github.com/iterative/dvc/issues/678 that I'll close this one in favor of.

[2019-05-21 19:35] #2032 closed

[2019-05-21 19:39] efiop commented on #1880
@shcheklein

We could temporarily use our branch as a dependency, until the fix is officially released yes, but it is not like the project is completely dead.

Sure.

[2019-05-21 20:13] efiop commented on #2033
@brbarkley Great request! You might find this discussion interesting https://discordapp.com/channels/485586884165107732/563406153334128681/578610283291869194 .

We also have initial implementation of `dvc diff`, that is able to simply show files added/removed between revisions, but ideally we would like to see it being able to show `git diff`-like output for text and supported binary files. Maybe

[2019-05-22 03:23] efiop commented on #1743
Fixed by #2035

[2019-05-22 03:23] #1743 closed

[2019-05-22 06:47] shaunirwin opened #2036 "Add option to `dvc gc` to remove cache files for specific targets"
It would be useful to be able to clear up disk space on one's local machine by removing the cache files of specific targets.

[2019-05-22 10:05] shaunirwin opened #2037 "gc: cleanup local cache if it has already been pushed to remote"
Be able to free up disk space safely without having to worry whether those files in the cache have been pushed to the remote.

[2019-05-22 11:01] efiop commented on #2036
Hi @shaunirwin !

The problem with applying `gc` to specific dvc files is that the same cache files might be used by other dvc files, so it is not trivial to solve in general case. Maybe you could describe your scenario so we could try to see if there are better approaches in your case?

Thanks,
Ruslan

[2019-05-22 11:04] efiop commented on #2037
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/580291413862907914

[2019-05-22 13:34] mhham opened #2038 "push/pull/fetch: raise an error if download/upload failed"
Currently, a simple error message is showed (using `gs`):

[code]

This is problematic when pulling some data while building a docker image that relies on this data.
Instead a failing download should raise an error.

[2019-05-22 13:41] efiop commented on #1969
Related issue https://discordapp.com/channels/485586884165107732/485596304961962003/580749209205080104 .

[2019-05-22 13:50] efiop commented on #2038
Hi @mhham !

Thanks for reporting this issue! The original intension was to just not make it fatal if some download fails, but that approach is clearly faulty. We need to download everything we can and then error-out, so `dvc pull` doesn't report "success".

[2019-05-22 14:31] SharkFourSix commented on #1187
Link is dead. Sad that I'm still getting the same error on Fabric 2

[2019-05-22 14:36] efiop commented on #1187
@SharkFourSix Try https://github.com/paramiko/paramiko/issues/1313

[2019-05-22 14:53] SharkFourSix commented on #1187
I tried `-m PEM` switch but still not working.

SSH Client :  OpenSSH_7.4p1, OpenSSL 1.0.2j  26 Sep 2016
SSH Server: OpenSSH_7.4p1, OpenSSL 1.0.2k-fips  26 Jan 2017

This sucks

[2019-05-22 15:03] ryokugyu commented on #120
Any update on it? @J0

[2019-05-22 15:10] Suor commented on #1894
So updater will still be run each time to check if there are critical updates? No possibility to make it rest at all?

[2019-05-22 15:14] Suor opened #2039 "dvc: move updater out of repo"
It looks like this now:
[code]

Which inhibits any programmatic use of dvc.

[2019-05-22 15:24] efiop commented on #120
Hi @derickl ! We've found your conda package for dvc and we were wondering if you would be willing to contribute your scripts to create an official dvc repo, that we could help maintaining and keeping up-to-date?

[2019-05-22 15:27] efiop commented on #2039
As a workaround, you could silence logger for `dvc`.

[2019-05-22 17:31] PeterFogh commented on #120
Thanks to you all working on this. It world be awesome to have a Conda dvc package, as I mainly use conda as package manager. However, I prefer if it is possible to have the dvc package in the main or conda-force channel.

[2019-05-22 19:37] mroutis commented on #1989
Thanks, @prihoda !

[2019-05-22 20:02] mroutis commented on #2026
I'm not sure about this one, we have messages that are not "constant" (that means, we use some string interpolation).

Also, I don't think that tests should require to modify the API (that means, adding an attribute/property to a class just for the sake of testing).

[2019-05-22 20:16] efiop commented on #2026
@mroutis If that makes testing easier and doesn't change public API, then it is totally ok and much better than just copy-pasting stuff from code to your test. There is a balance though, and there are cases when it is easier and better to just copypaste.

[2019-05-22 21:46] efiop commented on #1969
Also related https://github.com/iterative/dvc/issues/2038

[2019-05-22 21:54] efiop commented on #1969
For the record: turns out our cache dir optimization is faulty, so we need to use a better way to verify cache integrity quickly. As a possible solution that won't require full cache verification, we could do the following trick. Say we have a cache for directory 1234.dir. Then, create `.dvc/cache/12/34.dir.dir`(or a better name) directory with all the files in it as hardlinks(these will be always

[2019-05-22 22:15] colllin commented on #1991
I upgraded to 0.40.2, called `dvc status` which spent hours and 💵 updating my md5s.  After that, I could `dvc status` very quickly with no re-compute of md5 🎉.  But then I upgraded yesterday to 0.40.7, and now it's recomputing md5 of my tarball again 😭.  Any idea why?

[2019-05-22 22:19] colllin commented on #1991
This is starting to get in the way of my work.  I have 3 instances that each will need to spend 6-8 hours computing md5s before I can commit and push my checkpoints and logs...  Maybe I should stop keeping my dataset in dvc?  This rarely changes, and when it does, my code usually changes too since I treat the datasets as immutable tarballs in S3, so it should be safe to rely on code, and I will ne

[2019-05-22 22:29] efiop commented on #1991
@colllin Sorry to hear that :slightly_frowning_face: We didn't change anything related to that since 0.40.2, so I have a suspicion that your state db is growing over the configured limit and so it automatically truncates and thus has to re-compute checksums again. The current limit is "100 000 000" entries. How big are your datasets when talking about numbers of files? You could increase that limi

[2019-05-22 22:30] shcheklein commented on #2026
my 2 cents - it feels that reusing strings in code and tests simultaneously means leaking you actual code into tests. It defeats the purpose of testing to some extent. For example, if you edit a message now in code and make a mistake (or if you changed it by mistake - like remove a new line) there is a chance you will catch it with tests. It would not be the case with the proposed change.

[2019-05-22 22:35] shcheklein commented on #1991
@colllin are you running this on the same machine(s) every time? Is this behavior consistent across all of them? can you describe what exactly were you running - `dvc status` or anything else? Did it happen immediately after the update?

[2019-05-22 22:41] jorgeorpinel opened #2041 "config: should `cache.protected` be hidden and automatic?"
Could/Should the `cache.protected` mode be hidden to the user, enabled automatically for `cache.type` `hardlink` or `symlink`, and disabled otherwise?

Just wondering what's the value of having the user manually configure something that is always required for those cache link types.

[2019-05-22 22:51] efiop commented on #2041
There was a debate over whether or not we should stay with `reflink,hardlink,symlink,copy` with `protected` enabled by default or if we should switch to `reflink,copy` by default. Currently we've chosen the latter one, which eliminates the need for protected  mode being enabled by default for those links. And `hardlink,symlink` are now kinda an "advanced" mode, in which user can choose to either e

[2019-05-22 22:52] shcheklein commented on #1894
@Suor is there a case in which users would not want to know about an update that potentially fixes a problem that can lead to data loss? We can give an option to disable it completely, and probably should do this, but we should emphasize that you are at risk when you are doing so, and it should be a second or third option after you have tuned the interval first.

[2019-05-22 22:54] robogeek opened #2042 "Support declaring environment variables in DVC file"
Obviously some command-line tool configuration is set using environment variables.  DVC does not support setting environment variables in a DVC file.  Neither [DVC file reference](https://dvc.org/doc/user-guide/dvc-file-format) nor [dvc run command reference](https://dvc.org/doc/commands-reference/run) show anything about setting an environment variable.

As to how it should be visible to the user

[2019-05-22 22:56] efiop commented on #2042
Great idea @robogeek ! We've actually been discussing something like this with @mroutis and @pared . Along with dvc being able to resolve things like `$(VARIABLE_NAME)` in commands and paths, it should get us covered for the parametrization feature as well. :slightly_smiling_face:

[2019-05-22 23:00] shcheklein commented on #2042
might be a duplicate of https://github.com/iterative/dvc/issues/1416 to some extent, there was a discussion about introducing `-e`

[2019-05-22 23:02] efiop commented on #2042
@shcheklein Indeed, closing in favor of that.

[2019-05-22 23:02] #2042 closed

[2019-05-22 23:03] shcheklein commented on #2042
@robogeek please, give a vote to that initial ticket. And thanks for the feedback :)

[2019-05-22 23:07] shcheklein commented on #1187
@SharkFourSix could you please share the full DVC output when you run it with `-v` option? Also, how exactly do you run the ssh-keygen? could you share the commands please? All the information to reproduce this exactly would be useful - like your OS, dvc version, etc. Thanks!

[2019-05-23 02:38] cbecker opened #2043 ".gitignore not ignoring files with square brackets"
Conditions to reproduce: I am trying to `dvc add` a file that contains brackets in the file name, like `[4] hello.png`. The .gitignore file contains the same text as the file name, but it doesn't work because git will interpret the square brackets differently: https://superuser.com/questions/1125249/filenames-having-square-brackets-not-ignored-by-gitignore

A solution is to add a backslash to [ ]

[2019-05-23 03:45] jorgeorpinel commented on #2041
So just to confirm, do you agree that `cache.protected` should be enabled automatically when the `cache.type` in use is `hardlink` or `symlink`, and disabled automatically when it changes to `reflink` or `copy`? And that it would then be unnecessary to even expose `cache.protected` for the user to set manually with `dvc config`? Thanks

[2019-05-23 04:36] cwallaceh commented on #1998
@jorgeorpinel How about adding a new command like "dvc cache current" to return the current cache dir?

[2019-05-23 04:38] shcheklein commented on #1998
@cwallaceh hi! why don't we just reuse the existing subcommand - `dvc cache dir`? Do you have any concerns/see any potential problems in that solution?

[2019-05-23 04:45] cwallaceh commented on #1998
@shcheklein not really, just an idea of how it could be more clearer, I'll go with reusing the existing `dvc cache dir`

[2019-05-23 05:09] jorgeorpinel commented on #1998
Thanks for the suggestion @cwallaceh but I agree with @shcheklein it's best to reuse the existing one, which was the original idea 🤓

[2019-05-23 06:04] shcheklein commented on #2043
@cbecker good catch! Looks like we need to escape other special symbols as well - https://git-scm.com/docs/gitignore . At least leading !, * . I'm not sure if can overescape them "safely", i.e. - `\*\*\*` should be parsed as `***` w/o any special meaning.

I believe, the code to fix it located at:

`dvc/scm/git/__init__.py:134 - _add_entry_to_gitignore`

[2019-05-23 11:57] efiop commented on #2041
@jorgeorpinel I agree with everything except

that makes me think whether or not that config option could be useful or not any longer... Seems like it is indeed useless. Might need to give it a final thought before removing it.

[2019-05-23 16:40] J0 commented on #1714
I am still working on this issue. Sorry for the long delay

[2019-05-23 18:29] efiop opened #2046 "gc: unused arguments"
Might be a bug https://github.com/iterative/dvc/pull/2029#issuecomment-494268568

[2019-05-23 19:25] efiop opened #2047 "dvc: windows binary is slow"
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/581182639000780801 . Might be related to https://github.com/iterative/dvc/issues/936, since binaries on other platforms seem to show pretty good performance. Need to investigate.

[2019-05-24 00:12] #2021 closed

[2019-05-24 00:18] jorgeorpinel commented on #770
Hi, I just discovered this issue mentioned on Discord. Here's an idea: Not idea but we could provide a short guide in the docs for now on how to use `git checkout`, `dvc checkout`, copy the tracked text file(s) in question (from 2 different versions) to /tmp/a/ and /tmp/b/ ,  and run `diff` on them manually.

[2019-05-24 00:50] efiop commented on #770
That would be amazing @jorgeorpinel ! Great idea!

[2019-05-24 01:45] cwallaceh commented on #1998
Ok, so for this issue I need to make the "value" argument into an optional "--value" to prevent getting an error, so the command will look like this:

`dvc cache dir` <- Will return the current cache dir
`dvc cache dir --value ./cache` <- Will set the cache directory to ./cache
`dvc cache dir -v ./cache` <- Will set the cache directory to ./cache

I'm not sure you can make optional a positional ar

[2019-05-24 02:00] shcheklein commented on #770
Don't like to put this hack into the official docs to be honest. Especially if we are thinking about implementing this in the future. I would document this workaround in this ticket and may be put a link from the doc.

[2019-05-24 02:43] villasv commented on #770
Or a trick I’ve seen around: a question and semi-official-but-ok-to-become-dates answer on Stack Overflow

[2019-05-24 04:20] efiop commented on #2047
So turns our python2, that we were basing our binaries on, is a lot slower than python3 on windows, so by switching https://github.com/iterative/dvc/pull/2049 to py3 we should improve the performance.

Also, during the discussion, we've found out that NTFS probably has a hard time dealing with directories with large numbers of files, which causes up to x20 performance downgrade compared to the sam

[2019-05-24 04:21] efiop commented on #2047
Need to add a note to our doc that talks about whitelisting dvc in windows defender and or disabling it at all for better performance.

[2019-05-24 17:07] mastaer opened #2050 "overview at the end of `dvc repro` and the deterministic feature"
Hey, we talked about this feature in our telephone conference at wednesday.

Initial situation:
I build a pipeline (+execute it) and share **only the git repository** to others. This git repository contains all the code and dvc files needed to reproduce the entire pipeline. Additional there are also the metric files and the hash sums in the dvc files.
**The user who can only see my git can't see t

[2019-05-24 17:28] mastaer commented on #1898
If I update step 4, it fixed for me this error. (just remove the submodule before adding or pushing it to the remote branch.)

[code]

(But now I get an other error: ERROR: unexpected error - expected str, bytes or os.PathLike object, not NoneType, But this is not part of this issue.)

[2019-05-24 17:31] mastaer commented on #1898
How can I test it with dulwich ?

[2019-05-24 19:04] mroutis opened #2051 "progress: not clearing line correctly on small screens"
![2019-05-24-12:03:33](https://user-images.githubusercontent.com/7363250/58350889-10599080-7e1c-11e9-9caf-bdc12d861184.png)

[2019-05-24 19:59] efiop commented on #2050
Hi @mastaer !

I think our `dvc status` should do what you want already. If you place files where they should be, it will check that they have proper checksums and if everything is fine it will print "Pipeline is up-to-date. Nothing to reproduce". If anything doesn't match, it will say something like:
[code]
Would that suit your scenario?

[2019-05-24 21:04] efiop commented on #1898
@mastaer You would have to go through dvc/scm/git and replace all gitpython invocations with dulwich. Just to be clear, it is not a trivial task.

could you please post the full log with `-v`?

[2019-05-24 22:13] pared commented on #1969
Mentioned cache optimization was introduced in #1526

[2019-05-24 22:41] mastaer commented on #2050
Hey @efiop,
thank you for your prompt reply. But no ```dvc status``` does not fit my use case. The user that only have access to the git repository and not to the dvc repository have a lot of missing files. If he wants all files, he has to reproduce the results.

In the first use case (the table), the information that the newly generated metric and the old metric (which was previously in the git r

[2019-05-25 20:06] fmannhardt commented on #1577
I am currently evaluating DVC for use in our ML workflow. Databases play a role as we have images as input for which metadata needs to be stored. DVC works great for experimentation when adding a dataset directly, but in the end I want to store data independent of DVC and not duplicated.

I first thought of adding a S3 or GCP directory as external dependency (https://dvc.org/doc/user-guide/externa

[2019-05-25 20:18] efiop commented on #1577
Hi @fmannhardt !

Directories on both S3 and GCP _can_ be supported as external dependencies/outputs, we just didn't get to implementing needed calls for those two types of remotes. For example, we already support
 ssh directories. https://github.com/iterative/dvc/issues/1654

As this script would be cheap to execute this would not make a lot of difference if nothing has changed upstream in the da

[2019-05-25 22:31] efiop commented on #2050
Sorry, might be missing something. Dvc already by-default assumes that everything is deterministic and it has all checksums listed in the dvc files. Missing files is fine, `dvc status` is able to look at every and each stage file and see if any of its direct dependencies/outputs have changed. I might be missing some context, as my internet connection went out during our video call, and I've missed

[2019-05-26 08:47] nik123 opened #2054 "`dvc config cache.type` should print default values if there is no "cache" section in configuration file"
If I didn't modified cache settings in the project and I run `dvc config --local cache.type` I will get the following error:

[code]

The same happens if I run `dvc config --system cache.type` and `dvc config --global cache.type` and if I didn't set system and global values manually.

It would be more useful to print default values in all these cases.

[2019-05-26 11:09] fmannhardt commented on #1577
Cool. Would be great to see this.

The scenario is to have the images (or the image URI) in a database to be queried and used for different training sets. Now, from my understanding when I have a script querying the DB as stage in a pipeline. Now DVC would keep track of changes to the SQL query and re-execute the stage when I change the query. But it would not re-execute when additional data (imag

[2019-05-26 13:53] efiop commented on #2054
Hi @nik123 !

`dvc config` is meant to be very simple and straightforward, so it shouldn't print default values if they are not set in the config file itself. This is similar to `git config` behaviour. The functionality you are mentioning should a part of `dvc cache` command, `dvc cache type` command, to be more precise. We don't have that command yet though, but it is a logical extension of the c

[2019-05-26 21:55] efiop opened #2055 "add/run: preserve comments and `meta` when running again"
e.g
[code]
same with `run`.

Related https://github.com/iterative/dvc/issues/1799

[2019-05-27 01:04] efiop commented on #1577
@fmannhardt Thanks for the explanation! :slightly_smiling_face:

Yes, I think so.

We have a so-called "callback" stages, that don't have dependencies and run every time you run "dvc repro"(e.g. `dvc run -o foo 'echo foo > foo'). Maybe that would be suitable for your scenario? Those are run every time on `dvc repro` and don't have any special option to turn them on and off, but if the execution of

[2019-05-27 11:32] Suor opened #2056 "dvc: refactor DataCloud, Cache and friends"
Looks like we have several places where we manage remotes, which have overlapping functionality and code. One example of such functionality is creating a remote from config and/or name.

Now we have:
- `DataCloud._init_remote()` plus other its methods
- `Cache._get_remote()`
- `Config.get_remote_settings()`
- `CmdRemote*`
- `dvc.remote.__init__`

We need one place to create a remote from config/na

[2019-05-27 11:43] Suor commented on #2046
We have many arguments in many functions and methods, which might be not used. It could be beneficial adding `pylint` or other tool to check it to our pipeline.

[2019-05-27 15:19] efiop commented on #2046
@Suor Yes, we've been planning to enable pylint as a forced check along black and flake8 for a long time, but just didn't have time to go through the code base and clean everything up(e.g. with docstring checks disabled for now, since fixing those is too much hustle).

[2019-05-27 16:30] mastaer commented on #2050
Hi @efiop, thanks, I've updated the feature request. Please let me know if it's clearer now or not.

[2019-05-27 17:24] Witiko opened #2057 "Support reflinks for local remotes"
DVC uses reflinks for the cache, but it does not seem to use reflinks for local remotes. In the following example, I will create a large file, add it to DVC, and push it to a local remote. Disk space is consumed twice: when the file is created and when it is pushed to a local remote. When I remove the content of the local remote and manually reflink the content of the cache to the local remote, th

[2019-05-27 17:42] Witiko commented on #2057
Cc @michal-ruzicka.

[2019-05-27 17:56] efiop commented on #2057
Hi @Witiko !

Great suggestion! It should be quite easy to implement: we'll just need to try using `System.reflink()` in `download/upload` methods([1], [2]) of RemoteLOCAL before falling back to copyfile. Maybe you would be willing to contribute a PR for it? :slightly_smiling_face: We will be happy to help you get started.

[1] https://github.com/iterative/dvc/blob/master/dvc/remote/local/__init__

[2019-05-27 18:04] shcheklein commented on #2057
@Witiko is using `--local` of even `--global` with `dvc cache dir` can be a workaround for you? This way you could override cache location only on your local environment.

Also, you can consider enabling the an optimization with hardlinks/symlinks for the whole project, please check this two links:

https://dvc.org/doc/user-guide/cache-file-linking
https://dvc.org/doc/user-guide/update-tracked-fil

[2019-05-27 18:43] fmannhardt commented on #1577
I think this feature would do the trick. Thanks!

[2019-05-27 18:47] Witiko commented on #2057
These are equivalent to symlinking `.dvc/cache` to `../../remote_cache`, i.e. no more than one local remote can be configured. For my current use case (publishing my dvc cache to the web using Apache), using `--global` is actually ideal, since all projects can share a single HTTPS remote, but it is not a general solution.

As far as I know, reflinking is enabled by default, but it does not work fo

[2019-05-27 18:55] shcheklein commented on #2057
@Witiko sure, this is more or less equivalent. you didn't mention that you need multiple local remotes ... could you elaborate a little bit on this use case? how are you going to utilize them in your workflow?

Btw, HTTPS remotes do not support publishing - you can do only `fetch/pull` from them.

[2019-05-27 19:02] Witiko commented on #2057
Even with a single local remote, using `dvc cache dir --local` ties the cache directly to the local remote, i.e. any screw-ups (such as editing hardlinked files) will be immediately published. Please see my original post, where I talk about both issues.

For my current workflow, using `dvc cache dir --global /www/some/directory` is sufficient. However, a user may want to set up several local remot

[2019-05-27 19:06] Witiko commented on #2057
Thank you for the response, @efiop. I will take a look at the code and get back to you.

[2019-05-27 19:24] shcheklein commented on #2057
@Witiko sure, please, don't get me wrong. I'm not trying to argue that this local remotes optimization support and documenting the absence of certain optimizations is necessary! And thank you for your feedback on this. We really appreciate it! I'm just trying to better understand your feedback and find some workaround.

That's true! I'm not sure though that it can prevent screw-ups like editing ma

[2019-05-27 19:31] Witiko commented on #2057
I understand that. The DVC tool is a godsend for me and I appreciate that the contributors of the project are so active! 🙂

@shcheklein You are correct that `dvc push` will not detect this problem, but at least the users will not have to suffer the consequences of this problem until the data are pushed, i.e. it gives a useful buffer between the workspace and what is published.

[2019-05-27 19:35] shcheklein commented on #2054
Some related discussion - https://stackoverflow.com/questions/33720397/git-config-list-all-variables-and-their-default-values . If feels though that introducing a separate command for each potential option is not scalable. We need to find a centralized way of printing all options similar to MySQL's `show variables`.

[2019-05-27 19:48] efiop commented on #2057
@shcheklein `dvc push` will detect cache corruption. It manually goes and checks every file, so that you don't accidentally push bad cache files.

[2019-05-27 19:50] Witiko commented on #2057
We might want to discuss whether we should be trying to symlink and hardlink to the local remote when the filesystem does not support reflinks. I think we should not, because even protected symlinks and hardlinks can be easily deleted and modified, which creates a dependency between the remote and the project. However, if we would, then we might want to make this behavior configurable.

[2019-05-27 19:54] efiop commented on #2057
@Witiko I agree 100% with that. We should not use hardlink/symlink there, because they don't protect the link from corruption. We should only use `reflink` if it is available and fallback to `copy` if it is not. That could be done by default, without any config options to enable/disable that.

[2019-05-27 19:54] efiop commented on #2057
Basically, we just need to implement our own `copyfile` that would try `reflink` inside. It could be used by default in any other part of our code base.

[2019-05-27 22:00] efiop commented on #1918
Another user might be getting the same issue but now with Lustre FS https://discordapp.com/channels/485586884165107732/485596304961962003/582672973660684291

[2019-05-27 22:47] pared commented on #2050
Lets maybe use some concrete specific example.

Use case - non deterministic training : for example CNN trained on GPU.

1. End user (reproducer) does not have access to Dvc Remote (for example SSH), so he/she cannot  just `dvc checkout`
2. We still want this user to be able to reproduce pipeline
3.  @mastaer would like some kind of second checksum that would let user verify that even though his (

[2019-05-27 22:56] Suor commented on #2055
I see two distinct cases to dvc run, one is running a completely new command the other one is iterating other the previous one.  Preserving comments only makes sense in the latter case, however, it's impossible or at least very hard for dvc to know what do you mean.

[2019-05-28 00:56] efiop commented on #2050
Big thanks to @pared for helping me understand this during our discussion in a private chat! :slightly_smiling_face:

@mastaer A few more questions:

1) So with that `dvc repro` summary table, do you also want it to be parsable or is it only for displaying purposes?

2) About that `deterministic` feature. As I understand, you want dvc to keep a separate checksum for a deterministic subset of dvc f

[2019-05-28 06:50] michal-ruzicka commented on #2057
@efiop Great! I use [Btrfs](https://btrfs.wiki.kernel.org/) whenever possible so reflinking works for me as is extremely convenient. Thanks @Witiko!

[2019-05-28 07:55] PeterFogh commented on #1876
HI, This issue relates to my question regarding dvcignore from [this Discord message](https://discordapp.com/channels/485586884165107732/563406153334128681/582828231351074826).

I more details my use case is about having a DVC stage depending on a folder containing python code. When executing the stage the python code in the folder will produce the "__pycache__" folder with the ".pyc" files. Howev

[2019-05-28 08:30] mastaer commented on #2050
thanks, @pared for your clear and simple explanation. That's exactly what I meant.
Also many thanks to @efiop, who tries to understand my gibberish description ;-)

to your questions:

1. I thought on a table only at the end of `dvc repro`, so it's just for display.

2. No, you don't understand me here. I want that a owner can set a `deterministic flag` (True / False) on all stages. When I run the

[2019-05-28 08:50] mastaer commented on #2050
What does this mean for a possible implementation?

- In the command `dvc run` it must give new parameters. Like `-od` for a deterministic output that gets cached. And more parameters like: `-Od`, `-md` and `-Md`.

- If I run the pipeline or a stage, then all stages that are `non-deterministic` gets a second checksum that is calculated by the dependent `deterministic` stages.

- With a new command

[2019-05-28 09:07] mastaer opened #2058 "get ouput files from different branches (with some code)"
### Why Should I want that?:
I want this to simply get all files from multiple experiments (one branch == one experiment (or one sub-experiment)).

### Scenario 1:
I might want to use Adam Boost from several models from different branches to get a model that worked with all the sub models. So I have to get all the models first. And this you could do with this script.

###  Scenario 2:
I did severa

[2019-05-28 10:24] Suor opened #2059 "dvc: windows dir out containing files with / in their name will explode"
Using master branch.

When we save dir cache we [convert filenames](https://github.com/iterative/dvc/blob/29fd8e2e41d0741b0a7870cbbe133c724ebe1fe6/dvc/remote/base.py#L180-L188) in it to posix style in a lossy way:

[code]

which will lead to `hey/there` becoming `hey\there` after [back transform](https://github.com/iterative/dvc/blob/29fd8e2e41d0741b0a7870cbbe133c724ebe1fe6/dvc/remote/base.py#L256

[2019-05-28 11:00] Suor commented on #2059
Same issue with other places posix path strings are used as serialization:
- relative local output paths saved to stage files
- stage `wdir`

[2019-05-28 18:18] efiop commented on #2047
After some testing, python2 on windows is even a little faster than py3, so my previous assumption wasn't right. Turns out, most delays are coming from NTFS not being very good at handling directories with large amounts of foles.

[2019-05-28 18:24] efiop commented on #1969
As @Suor noticed, we are doing one SELECT per 1 inode, which will get slow when processing large directories. We could do one SELECT for a batch of inodes to make it much faster. That could be used in addition or instead of #1969 . This approach is less hacky than #1969, but #1969 might be faster, since you are doing one SELECT for 1 inode total, instead of SELECT for all files in batches.

[2019-05-28 19:09] efiop commented on #1969
Also, another user is having a similar problem:
https://discordapp.com/channels/485586884165107732/485596304961962003/582993878865543169

When RemoteBase.save() tries to optimize disk usage by checking out from cache, changed_cache() reports that everything is fine and so when it then tries to checkout particular new file it hits that assert.

[2019-05-28 19:46] daskol commented on #1995
I have the issue as well. Uninstallation of `enum34` solved the issue. I am working in virtual environemnt with Python3.7. In my case the dependent is `catboost`.

[code]

[2019-05-28 20:48] pared commented on #1526
Reopening the issue. We noticed that this hack might cause some problems when editing data directory added under DVC control. Today user actually found a way to trigger unexpected behaviour:
https://discordapp.com/channels/485586884165107732/485596304961962003/582962457945833476
I created PR to roll this change back. Ill revisit this issue and try to come up different solution.

[2019-05-28 21:33] def-mycroft opened #2061 "PySocks DependencyWarning"
Hello,

I just installed on W7 using the executable installer, and I keep getting this message:

[code]

Other than that, the installation seems to work okay.

**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]

[2019-05-28 21:35] def-mycroft commented on #2061
I'm not sure why dvc shows Python 2.7.16 when I run `dvc version`, I don't recall having py2 installed on my machine.

[2019-05-28 22:23] efiop commented on #1995
Hi @daskol !

Thanks for reporting this! Looks like `catboost` shouldn't install enum34 in newer python versions: https://github.com/catboost/catboost/blob/6550fd5ef349acd08d021f8210e322201b169951/catboost/python-package/setup.py#L30 . It should probably be handled similar to how these guys have fixed it https://github.com/donnemartin/saws/commit/f109bc8f534905797ee44239cb766ea3de4ceb5d . We are l

[2019-05-28 22:44] #1995 closed

[2019-05-29 00:29] efiop commented on #1659
@colllin Just a heads up: we've rolled back a faulty optimization in 0.41.0, so `status` might be slower, because it is going to need to validate each file(no md5 computations though, everything is going to be pulled from state db). We are working on a proper optimization patch right, which should be ready this week. Just wanted to give you a heads up, so there are no surprises again. :slightly_sm

[2019-05-29 00:43] efiop commented on #2061
Hi @def-mycroft !

Thanks a lot for reporting this!

You are using a binary package, which is built with python 2.7 inside. If you'd like to use your own python, then the best way would be to install dvc using pip. Btw, we've just released 0.41.0 that is built with python3.7 inside, would you mind trying it out? :slightly_smiling_face:

The warning comes from a newly supported `oss` remote, that i

[2019-05-29 00:53] mroutis commented on #2024
@efiop , I'm not sure if we already have a test to check for backward compatibility with stage file checksums, but I think it is important to not affect this.

[2019-05-29 00:57] #2057 closed

[2019-05-29 01:30] efiop commented on #2059
@Suor Good catch! Do you suggest that we raise an error if we encounter illegal slash on particular os?

[2019-05-29 02:07] jorgeorpinel commented on #1924
I just want to add that specifically for `dvc cache dir` the `_dvc_global_options` (`-h`, `-q`, and `-v`) don't exist while for all the other subcommands I think they do. Something to consider. (Maybe they should be added to the subcommand?)

[2019-05-29 02:16] efiop commented on #1924
@jorgeorpinel Good catch! Indeed, we've missed those there. Looks like we just need to use `parents=[parent_parser, parent_config_parser]` in https://github.com/iterative/dvc/blob/master/dvc/command/cache.py#L46 .

[2019-05-29 02:32] jorgeorpinel opened #2063 "standardize order of command options (flags) in help messages?"
For example:

[code]

vs.

[code]

- [ ] Having the same flags, their orders are `-d` `-f` `-R` vs `-f` `-d` `-R`,  respectively. Should have the same order?

- [ ] These commands have the general options `-h`, `-q`, `-v` displayed first and in that order like in most commands, except `dvc status -h`. Should fix?

- [ ] Find any other inconsistencies and fix them?

[2019-05-29 03:35] jorgeorpinel commented on #2026
Interesting point Ivan. Although another use for extracting message strings in the future could be i18n.

Anyway, I noticed a similar problem with help messages from command `-h` outputs: they have to be repeated in the autocomplete scripts (which aren't Python) anyway so I guess we'll always have this kind of text duplication problems in the repo 😢

[2019-05-29 04:38] jorgeorpinel opened #2065 "pkg: `dvc pkg` has no `-h` option"
It still gives you the usage but just because that's the default behavior for errors in the command syntax:

[code]

[2019-05-29 05:59] efiop commented on #2050
@mastaer

Why would you need another checksum though? Your stages depend on particular files, so if your stage depends on an output of some non-deterministic stage, then it will have the checksum for that output as a dependency.

What is the `valid` output though? If it was indeed created by that particular stage, right? If so, we have output checksum along with stage file checksum already, that c

[2019-05-29 06:19] efiop commented on #2065
@jorgeorpinel `dvc pkg` is intentionally hidden for now. See `add_help=False,` at https://github.com/iterative/dvc/blob/master/dvc/command/pkg.py#L39 .

[2019-05-29 06:19] #2065 closed

[2019-05-29 06:25] efiop commented on #2026
@jorgeorpinel With autocomplete there is no way around that, you have to copy things with regular bash/zsh scripts. What we could do there is to use something like https://argcomplete.readthedocs.io/en/latest/ , but it requires some special setup too, which might be even less familiar than zsh/bash.

[2019-05-29 07:23] #1979 closed

[2019-05-29 08:10] PeterFogh opened #2066 "dvc gc: bug of looking for remote path at local machine"
My setup:
[code]
See all documentation regarding the bug from [this Discord message](https://discordapp.com/channels/485586884165107732/563406153334128681/582841112461574184) and 15 messages forward.

[2019-05-29 08:35] mastaer commented on #2050
Hi @efiop, I am sorry but I still think we don't understand each other right... Maybe I miss something... I think the only way we can understand each other is if we look at an example. I need some time (because I'm really busy at the moment), but I'll create one. And maybe with this example, you can explain to me what I missed.

[2019-05-29 09:22] Suor commented on #2059
So we may just not permit having `/` in filenames on Windows or escape or somehow when converting it to posix. That latter could be messy though.

[2019-05-29 09:39] nisace opened #2067 "List all tracked files"
Hi,
It would be nice to have a command similar to `git ls-files` to show all the files tracked by DVC.

The `dvc pipeline show` command exists but it expects a target and thus only shows files that are part of the selected pipeline(s). In some cases, one may have files outside of any pipeline.

For example, a small test data file that is not part of a pipeline because no data is generated from it.

[2019-05-29 10:10] nik123 commented on #2054
I see two options to provide a way to get any option wether it is stored in local/global/system config file or not:

1. If no new value for the option is passed through `dvc config` command (i.e. `git config cache.dir`, `git config --local cache.type`) then `config` command should print out efficient value regardless it's explicitly set in configuration file or not
2. Provide additional command in

[2019-05-29 10:10] #2066 closed

[2019-05-29 14:03] def-mycroft commented on #2061
Hello @efiop, thanks for your response. `dvc` is such a great project, I've been really happy with `dvc` so far and I plan on using it in most of my data-heavy projects going forward.

I installed via pip on my Ubuntu 19 machine, no problem, but my W7 machine at the office is a different story. If I install via pip on windows, will `dvc` still be available on my [git bash][1]? The only other quest

[2019-05-29 18:22] pared commented on #1876
Well then, I guess we should get to spreading dvc ignore to all usages of `walk` in project. We will need to revisit get_mtime_and_size for directories and come up with a way of calculating dir checksum that will not be updated by ignored files/dirs (mostly mtime will be a problem).

[2019-05-29 22:01] jorgeorpinel commented on #2065
Got it. OK I assume it will exist when this is released then. Will include it in the cmd ref. Thanks

[2019-05-29 22:10] jorgeorpinel opened #2069 "scripts: update bash autocomplete script"
As detected in https://github.com/iterative/dvc/pull/2064#pullrequestreview-243033761 ~~(wait for that PR to merge)~~

Script located in https://github.com/iterative/dvc/blob/master/scripts/completion/dvc.bash

- [x] So commands and their options are current (previous update: #1732)
- [x] It would be nice that it completes file names appropriate to the context as indicated in the docs (per [this](

[2019-05-29 22:55] mroutis opened #2070 "cli: options order matters"
Using `dvc status --quiet --remote dvc-storage` works fine, however, when you move `--quiet` before the command, `dvc --quiet status --remote dvc-storage`, the `quiet` doesn't apply.

This wouldn't work the same way as with `click`. Not an issue, so I'll close this.

[2019-05-29 22:55] mroutis commented on #2070
core.analytics

[2019-05-29 22:55] #2070 closed

[2019-05-29 23:24] efiop commented on #2061
With conda it should be even simpler, since it has pip on board. `pip install dvc` should work fine.

Hm, that is weird, we might have a bug there, need to check. Deleting that directory should've deleted the python 2, since it is used internally and not linked to the outside in any way. Maybe we have a bug and still building our windows binary with python2.

[2019-05-30 01:02] Witiko opened #2073 "Parallelize computing md5 for large files"
After executing `dvc run`, I have been staring at the `Computing md5 for a large file` message for the past five hours. However, only a single CPU and about 20% of the SSD disk's maximum read speed are utilized. Therefore, a 5× speed-up can be achieved just by computing MD5 in parallel.

We may have to get rid of the per-file progress bars, but I think that a single overall progress bar would be m

[2019-05-30 02:54] efiop commented on #2073
@Witiko Great suggestion! For large files the parallelization is quite straightforward: just need to modify `file_md5` from `dvc/utils` to compute a checksum for a file in parallel. Let us know if you would like to tackle this one as well 🙂

[2019-05-30 08:57] Suor commented on #2024
This turned out to be a tricky inconsistency between `PyYAML` and `ruamel.yaml`. They have different notions of what looks-like-number means:

`ruamel.yaml` thinks `'4661e177303623051910790245640135'` looks like number and quotes it on dump, loads as string. `PyYAML` thinks that no, this is not a number, and dumps it unquoted and subsequently loads it as string, because again "this is not a number

[2019-05-30 08:57] #2024 closed

[2019-05-30 12:23] Naba7 commented on #1955
@pared  It will be really nice to get more number of hooks. I have used ``dvc push`` and ``dvc pull``. What is the third one? Parameterizing install command will be a great idea, but why not use all the hooks.

[2019-05-30 12:53] Witiko commented on #2073
Thank you, @eflop. I will take a look. Is there any other parallelized code in dvc at the moment, so that I can keep things consistent?

[2019-05-30 13:36] efiop commented on #1955
Hi @Naba7 ! We are installing all the hooks that we can right now. There are no git hooks left to utilize for us :( We are thinking about other possibilities to automatically do certain things on git commands or vice-versa: do some git things automatically when running dvc. E.g. `dvc push` -> `git push + dvc push`. The discussion about it is in https://github.com/iterative/dvc/issues/1551. Please

[2019-05-30 13:44] efiop commented on #2073
Thanks :slightly_smiling_face: We actually hardly use any parallelization these days :slightly_frowning_face: The only example I can think of is push/pull/fetch/status from dvc/remote/RemoteLOCAL, which are using ThreadPool's. But looks like in this particular case using processes should be more suitable because of GIL.

So yes, the approach would depend on the particular issue that you are trying

[2019-05-30 13:49] Witiko commented on #2073
That's different, however, because you process the chunks linearly, i.e. there is an internal state that depends on the position in the file. A thread that starts reading in the middle of a file will start with an empty state. In the end, each thread will produce its own MD5, and there is no obvious way to combine these into the MD5 of the entire file.

Another thought: since dvc is not expected t

[2019-05-30 16:06] efiop commented on #2073
But you can get total size of a file, split it into chunks(not literally, but by passing a proper `offset` to each of those and they would `fseek()` to) and feed them to the workers that would return md5 of their chunk, which you can then combine into a final md5 of the whole file. Unless I'm missing something.

As to parallelization, we can use `dvc config core.jobs` option(we have same one in ou

[2019-05-30 17:47] Witiko commented on #2073
Currently, you are doing the following for the entire input file:
[code]
This gives you a single MD5. If you fseek to an offset and compute the MD5 for just a part of the input file, you end up with several MD5s. How would you combine these into a single MD5?

[2019-05-30 18:33] def-mycroft commented on #2061
@efiop okay! I'll try installing with pip and see how that works.

I guess I could be doing something wrong on my end re exe installation. Here is what I did, maybe it will help troubleshooting on your end:

* installed 0.40.7 using the exe (without any prior dvc installation)
* downloaded the 0.41.3 exe and just ran it again (with no prior steps).
* ran `dvc version` and got `DVC version: 0.41.3`

[2019-05-30 18:37] efiop commented on #2061
@def-mycroft Thanks for a detailed backtrace! :) Turned out that we were indeed building windows binary package with python2. I've added a fix for it in https://github.com/iterative/dvc/commit/dba34ec3f1d86506b45842ad5c7529645172b56c . Our next release should be python3. But still, that warning will persist in the binary, because it is caused by one of the dependencies. We'll look into mitigating

[2019-05-30 20:24] pared commented on #2019
@bon What kind of remote are you using? Local or different?

[2019-05-30 21:33] ricardoserradas opened #2076 "Improve message that says to use git add"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

* DVC version 0.41.3

After running a command like `dvc run`, we're presented the following message:

[code]

My point is specifically with this part: `To track the changes with git run`. My first understanding was t

[2019-05-31 05:25] bon commented on #2019
It's local.

[2019-05-31 05:33] efiop commented on #2073
You are absolutely right @Witiko , there is no way to do that, since md5 calculation is a linear process. Sorry, I've totally forgotten about it and didn't even remember that s3 has the same problem with multipart uploads and they are using an effective md5 as an etag for the resulting object. Indeed, we need to parallelize by files.

Actually, thinking about it, we should probably set it in `chec

[2019-05-31 05:41] efiop commented on #2073
btw as @shcheklein rightfully noted, we could possibly use that `s3` approach too to be able to compute md5 of a large file in parallel by splitting it into chunks.

[2019-05-31 05:45] efiop commented on #2073
btw @Witiko , which problem is more relevant for you? Small number of large files or big number of small files?

[2019-05-31 06:48] efiop commented on #2019
@bon md5s are currently computed in a single thread, see https://github.com/iterative/dvc/issues/2073#issuecomment-497583655 related to improving that. As to transfers, I've confirmed that the transfer itself is respecting --jobs. I think the issue you are repoting is related to the fact that we are not using --jobs when collecting status before pull/push. We are currently solving that issue in ht

[2019-05-31 06:48] #2019 closed

[2019-05-31 07:14] efiop commented on #2047
Also, with NTFS user might want to disable 8dot3 as per https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc778996(v=ws.10) if he finds himself using over 300K files in a single dir.

[2019-05-31 11:16] nik123 opened #2078 "`dvc push` command should return non-zero code if push operation has failed"
**Use case:**
I want to push my changes to DVC remote repository and then push my git changes to the git remote repository. I want to push to git **only** if `dvc push` was successful.

In Unix-like system one would expect to execute it with the following bash command:

[code]

If I use SSH and I haven't configured SSH authentication properly then `dvc push` will produce the following error:

[cod

[2019-05-31 13:43] efiop commented on #2078
Hi @mhham ! This has the same reasons as described in https://github.com/iterative/dvc/issues/2038 and due for the change. I'll close this one in favor of https://github.com/iterative/dvc/issues/2038, if you don't mind :slightly_smiling_face:  Please feel free to reopen.

[2019-05-31 13:43] #2078 closed

[2019-05-31 14:41] Witiko commented on #2073
That is a good point, although then the naming becomes a little unintuitive. Perhaps we should have options `--checksum-jobs` and `--pull-jobs`, and `--jobs` would control poth of these options?

That is true, but having to specify `-j` also makes the user aware that multiple CPU cores will be used. When I know that multiple CPU cores will be used, I will use `nice` or wait for my other tasks to f

[2019-05-31 14:51] Witiko commented on #2073
That is a good point, although this makes the naming a little unintuitive. Perhaps we should have options `--checksum-jobs` and `--pull-jobs`, and `--jobs` would control both of these options?

[2019-05-31 14:51] Witiko commented on #2073
That is true, but having to specify `-j` also makes the user aware that multiple CPU cores will be used. When I know that multiple CPU cores will be used, I will use `nice` or wait for my other tasks to finish. I would not expect `make` without `-j` to max out my CPUs (and I would be even more surprised if a data versioning tool did that).

[2019-05-31 14:51] Witiko commented on #2073
With the number of cores in modern CPUs, I think we can go as high as 4, which should almost max out the SSD I/O. Note that some of the data will be cached in the RAM, and the user may also be using a fast NVMe disk, so there is still some utility in explicitly asking for more than 4 threads.

[2019-05-31 14:52] Witiko commented on #2073
I think that having some sane value of `checksum.jobs`, such as 4, would be a good compromise.

[2019-05-31 14:52] Witiko commented on #2073
That is an interesting suggestion. Where does @shcheklein discuss this?

[2019-05-31 14:52] Witiko commented on #2073
The most relevant problem for me is a large number of large files. Parallelizing over files speeds up the hash computation for a large number of files (both large and small), but it does not speed up the hash computation for a small number of large files.

This actually points to a more general problem with the cache, local remotes, and HTTP remotes: you may not be able to pull a local or HTTP rem

[2019-05-31 18:02] ricardoserradas opened #2079 "metrics show all tags includes master branch"
I was going through the `compare-experiments.md` and I faced the following expected output:

[code]

But mine was:

[code]

Although the output shows an understandable message, I assume there might be a previous step to create the `bigram-experiment` due to the presented context.

I see two solving options here:

- Adding the steps to create the `bigram-experiment` or
- Updating the expected outpu

[2019-05-31 18:11] efiop commented on #2073
but `--pull-jobs` doesn't apply to `push`, so we'll have to either have `--push-jobs`/`--fetch-jobs` too or just something like `--cloud-jobs` :slightly_smiling_face: But Anyway, for now we could simply leave `--jobs` as is and introduce `--checksum-jobs` on top.

Touche :slightly_smiling_face:

4 by default seems like a little too much in general case. Maybe we could use NCPU and decide based on

[2019-05-31 21:23] Witiko commented on #2073
That is true, and I like your `--cloud-jobs` suggestion. Perhaps in the future, you will be adding more remotes that do not necessarily correspond to cloud storages. Therefore, something more general such as `--transfer-jobs` may be a safer naming choice.

[2019-05-31 21:23] Witiko commented on #2073
This is only true for hardlinks and symlinks. You can reflink just a chunk from a file (see [`ioctl_ficlonerange`](http://man7.org/linux/man-pages/man2/ioctl_ficlonerange.2.html)), which would enable you to move chunks of files between the cache and the workspace without copying. However, I am not sure about that Darwin supports this.

[2019-05-31 21:27] Witiko commented on #2073
I agree that this is perhaps not a concern for us.

I agree. I just threw the idea of chunking the cache out there, but it is actually a separate problem that is independent on this one. Thanks to our detailed discussion, I think I have a good idea about how we'd like to fix it. 🙂

[2019-05-31 22:47] Witiko commented on #2073
@efiop: Contributing to open-source projects is a way for me to unwind, and I consider video calls a major stress factor. 🙂  My use case can be summarized in one sentence: I am producing large language models and I need to store them and publish them together with the training and evaluation code. If you'd like to discuss further, I can join you on Discord.

[2019-06-01 04:38] efiop commented on #829
@Witiko noted that there is ficlonerange that we could use to create file by reflinking smaller files into it. https://github.com/iterative/dvc/issues/2073#issuecomment-497864614

[2019-06-01 04:45] efiop commented on #2073
Agreed :)

Oh wow, I didn't know about that! Yeah, quick google search doesn't seem to find any evidance that osx supports it, but maybe it just needs a more careful research. So looks like if we would to go that way, it would probably be linux-only feature. Also remotes will become incomatible without doubling your local or remote storage to keep joined files alongside chunks :slightly_frowning_f

[2019-06-01 17:35] #1718 closed

[2019-06-01 17:42] efiop commented on #2076
Fixed by https://github.com/iterative/dvc/pull/2077

[2019-06-01 17:42] #2076 closed

[2019-06-01 17:43] efiop commented on #1983
Fixed by https://github.com/iterative/dvc/pull/1997

[2019-06-01 17:43] #1983 closed

[2019-06-02 04:16] efiop opened #2080 "pkg/remote: refactor config handling"
https://github.com/iterative/dvc/pull/2012#discussion_r289618296

[2019-06-02 11:42] efiop commented on #1629
Also, hdfs is extremely slow right now:
[code]
https://api.travis-ci.com/v3/job/204722795/log.txt

Switching to testing it on cron and releases only.

[2019-06-03 04:24] nik123 commented on #310
Can this issue be reopened? It seems that it's back in the last release (0.41.3)

[2019-06-03 05:42] efiop commented on #310
Hi @nik123 !

Could you provide more details?

[2019-06-03 07:57] nik123 commented on #310
I have dvc 0.41.3 on Ubuntu 16.04 installed as a deb package.

In my system I can easily reproduce the bug by executing the following commands in bash:
[code]

The `.gitignore` file generated by `dvc add data.txt` command doesn't have a newline (i.e. `\n`) character at the end of `/data.txt` line. I can easily detect absence of newline character by executing:

[code]

The commands above give me th

[2019-06-03 11:09] efiop commented on #310
@nik123 Thanks! Reopening.

[2019-06-03 12:13] pared opened #2085 "status: remove `--show-checksums`"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Currently, `status --show-checksums` will have same output as `status`. Make it display as described in [options](https://dvc.org/doc/commands-reference/status#options).

[2019-06-03 12:15] pared commented on #2085
Reproduction script:
[code]

[2019-06-03 12:51] efiop opened #2086 "tests: rework config testing"
https://github.com/iterative/dvc/pull/2012#discussion_r289619136

[2019-06-03 12:53] efiop opened #2087 "tests: rework remote testing"
Pkg patch referenced in https://github.com/iterative/dvc/pull/2012#discussion_r289619182 has introduced API calls like remote_add/etc, which could be used to better test this functionality. CLI stuff should be tested separately as unit tests.

[2019-06-04 07:06] efiop opened #2088 "dvc: use optimized mode for binary packages"
https://pyinstaller.readthedocs.io/en/v3.3.1/usage.html#running-pyinstaller-with-python-optimizations

As noted by @shcheklein  in https://github.com/iterative/dvc/pull/2012#discussion_r290057961

[2019-06-04 07:22] efiop opened #2089 "dvc: unify class naming"
E.g. RemoteS3 -> S3Remote, DependencyS3 -> S3Dependency, etc.

[2019-06-04 12:51] efiop opened #2091 "config: limit section names(e.g. remote) to alpha-numeric"
~~https://github.com/iterative/dvc/pull/2012#discussion_r290092102~~
See https://github.com/iterative/dvc/blob/master/dvc/config.py .

We could adopt what git does:

from https://git-scm.com/docs/git-config#_syntax

[2019-06-04 14:48] efiop commented on #2010
Need to check if we could build universal wheel for --pure and if pypi can choose between those.

[2019-06-04 14:58] efiop commented on #2010
Or maybe we could switch to https://github.com/cpburnz/python-path-specification

[2019-06-04 15:02] efiop commented on #2047
Closing in favor of #395

[2019-06-04 15:02] #2047 closed

[2019-06-04 15:13] efiop commented on #1861
s3 support depends on https://github.com/iterative/dvc/issues/1654

[2019-06-04 15:42] mroutis opened #2092 "add: using a remote path doesn't load the configuration"
version: `0.41.3`

[code]

`ERROR: unexpected error - [Errno None] Unable to connect to port 111 on 127.0.0.1 or ::1`

:warning: **Couldn't reproduce the issue** :warning:

More context:
https://discordapp.com/channels/485586884165107732/485596304961962003/585454599117471744

[2019-06-04 16:15] efiop commented on #1526
Closing in favor of https://github.com/iterative/dvc/issues/1969

[2019-06-04 16:15] #1526 closed

[2019-06-04 16:55] jorgeorpinel commented on #2091
May also want to review the /doc/commands-reference/config doc also to specify whatever format ends up being allowed for config option values 👽

[2019-06-05 02:23] #2092 closed

[2019-06-05 06:58] thomasryck commented on #2092
I couldn't reproduce the issue with your command workflow.
The only difference I see, is that I was using:
dvc add ssh://sshcache/incident_old.csv
and
in your workflow it is:
dvc add remote://sshcache/incident_old.csv

[2019-06-05 07:06] thomasryck commented on #2092
https://dvc.org/doc/user-guide/external-outputs

I guess the doc is misleading on that point

[2019-06-05 12:56] pared opened #2093 "Optimize state database access"
During our work on #1969 and reopening of #1526
We realized our approach to handling state database updates could be improved.
Currently, all operations on state database are single file oriented. When inserting or getting file status we perform database operations per file/inode. Even if (for example) we are adding whole directory, we will iterate over all files inside and insert metadata (mtime,

[2019-06-05 14:45] legendawes opened #2094 "Commit changes by dependency"
Be able to dvc commit changes in a file to all .dvc file that depend on the changed file.

For example, load.dvc and preprocess.dvc depend on used_sources.py.
A small change in used_sources.py would require manual commit to all .dvc files:
dvc commit load.dvc
dvc commit preprocess.dvc.

Suggested feature would allow to do the following:
dvc commit --by-dep used_sources.py,

[2019-06-05 15:02] efiop commented on #2094
Hi @legendawes !

Thanks for a feature request! Continuing our discussion from ods, here is a basic walkthrough for what needs to be done to implement this feature.

1) Add `--by-dep` flag to our CLI from `dvc commit`
https://github.com/iterative/dvc/blob/master/dvc/command/commit.py#L67

2) Pass `self.args.by_dep` to API
https://github.com/iterative/dvc/blob/master/dvc/command/commit.py#L24

3) I

[2019-06-05 15:02] nirtiac opened #2095 "Specify what should be pushed to different remotes"
I need to be able to push versioned trained models to a production server. Both data and models will be created on one machine and versioned using DVC. However, I have sensitive information in my training server data that must never be pushed off the server.

As it stands, we are currently figuring out how to push models to a remote that can be tied back to their versioned data/code within DVC whi

[2019-06-05 15:24] mroutis commented on #2092
@thomasryck , thanks for the notice!

The problem here is that when you are using the `ssh` syntax you need to provide everything on the URI (user, port, etc.), however, with `remote://` the configuration it is going to be fetched from such remote.

(cc: @jorgeorpinel maybe is worth to open an issue about this on the docs :thinking: )

[2019-06-05 17:11] J0 opened #2097 "Unable to run tests as per documentations page"
I'm currently using zsh and mac osx mojave

I am trying to run tests for a PR that I just opened. I created a fresh fork of DVC.
As per the [documentation page](https://dvc.org/doc/user-guide/contributing#development-environment) I ran

[code]
I then ran `pip install -e .[all,tests]` but this produced the following error:
`zsh: no matches found: .[all,tests]`
so I directly ran `pip install -e.`

U

[2019-06-05 18:11] jorgeorpinel commented on #2092
Is this the issue? https://github.com/iterative/dvc.org/issues/411

[2019-06-05 21:30] shcheklein commented on #2097
@J0 can you try to escape [ and ] with \ in the `pip install ...` command?

[2019-06-06 03:56] nik123 commented on #1876
I've been sent here by one of the developers from [this](https://stackoverflow.com/questions/56456463/unable-to-ignore-ds-store-files-in-dvc) conversation on StackOverflow. In general I really need `dvc status` command to ignore .DS_Store files automatically created by MacOS.

However I'm not sure if my request is a part of this issue or that should be as a separate feature request.

[2019-06-06 08:01] efiop commented on #1876
Hi @nik123 !

It is indeed part of this issue, so just hang on tight! :slightly_smiling_face:

[2019-06-06 15:52] kuparez opened #2099 "Missing information about s3 usage"
Docs don't explicitly say that when one is trying to use s3 or s3 compatible storage there should already exist bucket.

Then, if you would try to push data to s3 and bucket wouldn't exist, you would get the following:
[code]

So I propose to explicitly say in docs that you should already have existing bucket to be able to push to s3.
Following docs are related to s3 usage:
https://dvc.org/doc/get

[2019-06-06 16:32] pared commented on #2099
Hi @kuparez! That is a good point! Would you mind creating the issue in our website [repository](https://github.com/iterative/dvc.org)?

[2019-06-06 16:55] efiop opened #2100 "s3: check if bucket exists and print appropriate error"
https://github.com/iterative/dvc.org/issues/415#issuecomment-499578137

[2019-06-06 16:59] efiop opened #2101 "fs: don't automatically create buckets"
~~We currently do that in azure https://github.com/iterative/dvc/blob/master/dvc/remote/azure.py#L90 .~~

Related https://github.com/iterative/dvc.org/issues/415

[2019-06-07 00:04] dmpetrov commented on #2094
@legendawes could you please share a bit more details? Are you talking about a shared `common.py` file which is imported from other files like `process.py`, `train.py`? Or you have the same `train.py` which is used in different stages with different parameters?

Can be this option useful for `dvc repro` as well? If so, we might consider a separate (sub)command (like `dvc stage`) instead of an opti

[2019-06-07 06:01] jorgeorpinel commented on #1989
I was just passing by and noticed this issue is still open. Should it have been closed along with PR #2030 ?

[2019-06-07 07:35] pared commented on #2101
Maybe it should be prompted? In case of for example, making mistake in bucket name?

[2019-06-07 07:47] pared commented on #1989
Good point @jorgeorpinel!

[2019-06-07 07:47] #1989 closed

[2019-06-07 08:14] jorgeorpinel opened #2102 "Hyphenate "DVC-file(s)" in help output/docs"
"DVC file" -> "DVC-file"

E.g. in `dvc remove -h` and `dvc repro -h` output. Anywhere else?

---
Companion to https://github.com/iterative/dvc.org/issues/321

[2019-06-07 08:14] jorgeorpinel commented on #2102
Please assign me.

[2019-06-07 08:17] jorgeorpinel commented on #2102
Never mind, I'll just send a PR 😋

[2019-06-07 08:17] #2102 closed

[2019-06-07 14:54] mroutis opened #2104 "ssh: check IOError key code"
In some functions of `SSHConnection` we are catching `IOError` but we are only interested in catching an specific errno `ENOENT`.

[2019-06-07 16:54] ryokugyu opened #2105 "dvc version: incomplete output"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

![Screenshot (36)](https://user-images.githubusercontent.com/16274905/59120125-392c6a80-8972-11e9-9caa-43f823b42472.png)

But, it mentions  [here](https://github.com/iterative/dvc.org/blob/master/static/docs/commands

[2019-06-07 19:02] shcheklein commented on #2105
@ryokugyu I believe, the version with this change is not released yet, please try the development version:

either this way: https://dvc.org/doc/user-guide/development
or this: https://dvc.org/doc/user-guide/contributing

[2019-06-07 19:02] #2105 closed

[2019-06-07 20:34] efiop commented on #2104
@mroutis any more details?

[2019-06-08 21:33] #1967 closed

[2019-06-09 06:53] shcheklein commented on #2059
/ is not allowed on Windows, right?

how does GIt deal with \ in a path? does not allow them?

[2019-06-10 10:26] legendawes commented on #2094
@dmpetrov
In my case a shared `common.py` file is imported from other files like `process.py`, `train.py`.

Not sure how it can be used in `dvc repro`:
The only usage I can imagine is to recalculate all stages which depend on `common.py', but it would be equivalent to `dvc repro train.dvc` (if `train.dvc` is the latest stage which uses `common.py`), so it seems like an unnecessary complication.

[2019-06-10 10:29] Suor commented on #2059
You can use `/` on Windows, but not `\`, Unix is reverse.

As far as I can see git does nothing to mitigate that. It commits paths containing `\` on Unix and `/` on Windows normally and then everything fails when you checkout.

[2019-06-10 10:37] pared opened #2109 "Progress callback new line for long strings"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

dvc version: 0.41.3
Ubuntu 18.04

When calling ProgressCallback.update() with long string (eg full path of some file) we might encounter situation where instead of caret return progress callback prints to new line.

[2019-06-10 10:52] efiop commented on #2051
Closing in favor of #2109

[2019-06-10 10:52] #2051 closed

[2019-06-10 10:52] efiop commented on #2109
This is the same issue as in https://github.com/iterative/dvc/issues/2051 . The solution would be to detect screen size and format(e.g. shorten) accordingly, but I'm not sure that there is a cross-platform way to do that. E.g. if you try `wget` you'll get the same result.

[2019-06-10 14:01] pared opened #2110 "Analytics throws config error on remote add"
System: Ubuntu 18.04
Dvc version: 0.41.3+c587c5 (current master)

running following script:
[code]
results in error:
[code]
running same script for
`0.41.3` does not raise this exception

[2019-06-10 19:26] dmpetrov commented on #2094
@legendawes thank you for clarification. Yes, this option does not make sense for `repro` since it redoes everything by default.

[2019-06-11 06:12] Suor commented on #2095
Sounds like this is not about file types, but a need to specify what to push in general. What if you have files of same type ones with sensitive data and others not? You have this nice property the latter being models, which won't always be the case.

[2019-06-11 06:23] Suor opened #2113 "test: replace remote compat tests with unit tests"
No need to test the same remote second time if we can check that it's configured correctly from old style config.

Another approach would be to replace old configuration application with transformation old -> new and then use same code to  construct objects, e.g. remotes. This will make it even more self-containing and make unit testing very obvious. If that is not worth the hassle then just keep

[2019-06-11 09:34] Suor opened #2114 "dvc: try moving any local related stuff to RemoteLOCAL/OutputLOCAL"
There are a number of local only code in OutputBASE and some remotes, like in `.download()` and `.upload()` methods. Would be nice to have it in one place if possible.

Extracted from #2075.

[2019-06-11 10:40] efiop opened #2115 "tests: azure func tests are skipped on travis"
They are running on appveyor https://ci.appveyor.com/project/iterative/dvc/builds/25189677 but skipped on travis.

[2019-06-11 11:26] efiop opened #2116 "tests: s3: fix multipart test"
https://ci.appveyor.com/project/iterative/dvc/builds/25191851

[code]

[2019-06-11 14:41] nirtiac commented on #2095
Yep, very true @Suor  - that would be even better!

[2019-06-11 15:55] efiop commented on #2038
- [ ] refactor download/upload methods to unify them
- [ ] raise an error if download/upload failed, but download/upload what we can

[2019-06-11 16:00] efiop commented on #2093
Closed with https://github.com/iterative/dvc/pull/2090

[2019-06-11 16:00] efiop commented on #1969
Closed with https://github.com/iterative/dvc/pull/2090

[2019-06-11 16:00] #1969 closed

[2019-06-11 16:32] efiop commented on #2014
Closing since we didn't find a way to verify packages during our discussion with @Suor @mroutis and @pared

[2019-06-11 16:41] shcheklein commented on #2014
is it possible to just grep for a warning? does it print if there is a conflict?

[2019-06-11 16:43] efiop commented on #2079
Also need to adjust the docs.

[2019-06-11 17:57] shcheklein commented on #2095
so, add a flag per output, something like `--out-local` to avoid pushing it to remote at all? it should be pretty straightforward. My only concern that number of different options for different types of outputs double every time. We should think about some general mechanism to specify options per output?

[2019-06-11 19:16] efiop commented on #2014
@shcheklein good point. Let's investigate. Reopening.

[2019-06-11 21:11] efiop commented on #1762
Keeping open for the progress bar.

[2019-06-12 08:50] efiop commented on #1861
Not required by packages. Packages support directories through `checkout` trick, so there is no physical importing happening.

[2019-06-12 09:10] #2110 closed

[2019-06-12 13:40] sremm opened #2119 "Error with "dvc pull" on Windows when local cache is not on the same drive as git repo"
**Setup Info**
DVC version: 0.41.3
Python version: 3.6.7
Platform: Windows-10-10.0.16299-SP0
Installed with pip

A problem tightly related to [Issue 1976](https://github.com/iterative/dvc/issues/1976)

I have the local dvc cache on drive F:, but the source code is on drive C:.

When calling "dvc pull" in the repo I'm greeted with the following error.
[code]

[2019-06-12 15:08] #310 closed

[2019-06-12 15:40] Witiko opened #2120 "Remove the md5 parameter from stage files"
Dvc [stores the top-level `md5` field in Dvc-files](https://dvc.org/doc/user-guide/dvc-file-format), so that it can detect when a stage has changed. However, this field adds no new information, since the `md5` field can be always inferred from the rest of the Dvc-file at a negligible computational cost. The field also makes manual changes to Dvc-files more difficult than they need to be, see the e

[2019-06-12 15:54] Witiko commented on #2073
I am sorry about the delay in solving this issue, I was quite busy for the past two weeks.

[2019-06-12 19:18] efiop commented on #2120
@Witiko You can use `dvc commit` to save dvc file without re-running. In the scenario you've described, you could simply run `dvc commit results.dvc` and it will save all the needed checksums.

[2019-06-12 19:18] efiop commented on #2073
@Witiko No worries :slightly_smiling_face:

[2019-06-12 20:03] #2120 closed

[2019-06-12 20:32] Witiko commented on #2120
Thank you for the workaround. However, what is the purpose of the `md5` field?

[2019-06-12 20:40] efiop commented on #2116
Fixed by https://github.com/iterative/dvc/commit/39a8cab49dba7f9ebe69c7b571bcb29de950dda9

[2019-06-12 20:40] #2116 closed

[2019-06-12 20:45] efiop commented on #2120
@Witiko It is actually not a workaround, but rather a proper solution that was added for that specific purpose(and some others) 🙂 We've got a lot of requests about it with the same types of scenarios. The purpose of `md5` is to verify that the content of the dvc file didn't change since the last time. For example, you've had a file that looks like
[code]
now you add a cmd field
[code]

so it basic

[2019-06-12 20:50] efiop commented on #2080
Fixed by https://github.com/iterative/dvc/pull/2098

[2019-06-12 20:50] #2080 closed

[2019-06-12 20:59] efiop commented on #2015
Supported in #2012

[2019-06-12 20:59] #2015 closed

[2019-06-12 21:03] efiop commented on #1974
@mroutis but you have `data` added as a whole, and you are modifying it by adding/removing files to it, so it makes sense that it is considered as changed and will be re-computed once again.

[2019-06-12 21:11] efiop commented on #1971
This is passing on the current master.

[2019-06-12 21:11] #1971 closed

[2019-06-12 21:18] p00temkin opened #2123 "Skip staging when calling dvc add?"
Current ML pipeline involves ingesting a continous feed of small immutable files (5-20MB), appearing in a date based folder structure.

Although dvc is not optimized for directories with many files, the usercase seems reasonable:

For every folder matching current date, run
1) dvc add <datefolder>/*.csv
2) git add <datefolder>/*.dvc + .gitignore
3) dvc push
4) git push

dvc works great for this, b

[2019-06-12 21:42] efiop commented on #1883
I don't think this should be done by default, but we definitely could add `--repro` option for `dvc run` to do that. Would that suit you, @olveirap ?

[2019-06-12 21:45] efiop commented on #1790
Closing in favor of https://github.com/iterative/dvc/issues/2027

[2019-06-12 21:45] #1790 closed

[2019-06-12 21:46] efiop commented on #1783
Fixed by #1963

[2019-06-12 21:47] efiop commented on #1783
Leaving open for the last part: listing if dvc is installed from binary or not.

[2019-06-12 21:47] Witiko commented on #2120
Thank you for the explanation, that makes a lot of sense.

[2019-06-12 21:51] efiop commented on #1730
Not needed, as discussed in https://github.com/iterative/dvc/pull/1728/files#r265759037

[2019-06-12 21:51] #1730 closed

[2019-06-12 22:16] efiop commented on #2123
Hi @p00temkin !

Do you actually want to track each individual file in that directory or do you want to track that directory as a whole? E.g. if you have a directory `data` with files inside, you could simply do `dvc add data` and not `dvc add data/*` or `dvc add -R data`. The latter command will even print a warning these days asking if you really mean to do that. Indeed, the more dvc files there

[2019-06-12 23:28] Witiko commented on #2073
@efiop: It will take a couple of days to complete, there are a lot of callers (and callers of callers) of `file_md5`, which will all have to be patched together with their tests. The development takes place at [witiko/dvc:parallelize-md5](https://github.com/Witiko/dvc/tree/parallelize-md5).

[2019-06-13 02:30] jimmy15923 opened #2125 "Dvc add data unprotect files for each use"
My DVC version
![image](https://user-images.githubusercontent.com/20395242/59399222-dac61880-8dc5-11e9-88db-c5fc4e232d56.png)

This issue comes from **Share NAS data in serve**r in the [discuss post 11#](https://discuss.dvc.org/t/share-nas-data-in-server/180/11?u=jimmy15923)

When adding new data, dvc will unprotect all data which cost lots of time (about 20 mins) which seems inevitable.

![image]

[2019-06-13 03:57] algomaster99 commented on #1783
@efiop where is the binary code released? Are we talking about the `.exe` file?

[2019-06-13 04:37] efiop commented on #1783
@algomaster99 We have a helper to determine whether or not dvc is installed from binary or not. Simply use `is_binary` something like:
[code]

[2019-06-13 04:40] algomaster99 commented on #1783
@efiop but where can we find the binary release? There are only `.deb`, `.exe`, `.rpm` and `.pkg` in the releases.

[2019-06-13 04:43] efiop commented on #1783
@algomaster99 Yes, all of those contain binaries built by pyinstaller. Non-binary releases are the ones on homebrew formulas and pypi.

[2019-06-13 05:41] efiop opened #2127 "tests: fix gc test on mac"
[code]

[2019-06-13 05:43] shcheklein commented on #1783
we need to update docs

[2019-06-13 11:30] pared commented on #2119
I am unable to reproduce,
@sremm  would it be a problem to show me your `.dvc/config` ?
Also, you have been pulling after modification, or deletion of file in `C:` repository?

[2019-06-13 15:01] p00temkin commented on #2123
Yes tracking the files individually in the git repo is required in this specific scenario. We actually have multiple sites running the above pipeline as "data producers", where enrichment happens before pushing to the content to s3 with dvc. The "data consumer" side consists of workers running "git pull && dvc pull -f" before training, and this runs very smoothly.

But we just implemented a simple

[2019-06-13 15:01] #2123 closed

[2019-06-13 22:07] #2039 closed

[2019-06-14 14:32] vibhor98 commented on #2063
Hi @shcheklein, I would like to work on this issue, Thanks!

[2019-06-14 14:41] efiop commented on #2063
Sure @vibhor98 ! I've assigned it to @schecklein just to make sure that no one takes it by mistake. Thanks a lot for looking into it! :slightly_smiling_face:

[2019-06-14 15:56] sremm opened #2132 ""dvc pull" fails to find files in a pushed directories subfolder on Windows"
**Setup info**
Ubuntu:

- DVC version: 0.41.3
- Python version: 3.6.7
- Platform: Linux-4.15.0-51-generic-x86_64-with-debian-buster-sid
- Installed with pip

Windows:

- DVC version: 0.41.3
- Python version: 3.6.7
- Platform: Windows-10-10.0.16299-SP0
- Installed with pip

After pushing a folder from Ubuntu, which included some model files and one subfolder with some variable files, I tried to pul

[2019-06-14 15:57] sremm commented on #2132
As Ruslan also pointed out a minimal working example would be useful. I would have to come back to providing as soon as I have time again.

[2019-06-14 16:47] ryokugyu commented on #2092
![dvc-error](https://user-images.githubusercontent.com/16274905/59524640-13631080-8ef2-11e9-9bfd-e3d9e63cf61d.png)
I am getting this error while running the `dvc add ssh://sshcache/car.txt`

[2019-06-14 17:43] #2038 closed

[2019-06-14 22:04] #1783 closed

[2019-06-16 00:21] Witiko commented on #2073
This was turning out to be a pretty extensive rewrite. Anything that called `file_md5` (even indirectly) would need to be rewritten, so that it would first accumulate a list of files, and then pass these to `file_md5`. Since this would touch basically everything in `dvc.remote`, I went back to the drawing board, and made `file_md5` use concurrency behind the scenes using `concurrent.futures`. This

[2019-06-16 09:48] #1762 closed

[2019-06-16 09:48] #1825 closed

[2019-06-17 08:59] Suor commented on #2132
@sremm can you please post the full folder name or even better the full output of `dvc pull -v` command?

Also, if any folder or file names contain `\` then it works on Unix-like systems and breaks on Windows when you checkout/pull. This is a known issue - #2059.

[2019-06-17 09:00] efiop commented on #2132
@Suor No `\` or `/`, I've asked about that in the mailing list.

[2019-06-17 09:03] Suor commented on #2132
@efiop ok, good, I will check whether semicolons are the culprit - this might be the case if we don't quote filenames properly somewhere.

[2019-06-17 10:26] sremm commented on #2132
@Suor Here is the full verbose output, with all special characters preserved in the path, there is also a % which is probably a bit irregular, but that has not been a problem for any other files.
`(tf-keras) F:\localpath\DataworkerRepo\local%20pathwitperc\path-with-dash\folder>dvc pull "very-long_folder-name_with;semicolons;and;fillerXxxYyyZzz;fillerXxxYyyZzz;fillerXxxYyyZzz;fillerXxxYyyZzz;_and-s

[2019-06-17 11:18] sremm commented on #2132
@Suor I remembered that there is a maximum path length limitation in windows https://docs.microsoft.com/en-us/windows/desktop/FileIO/naming-a-file#maximum-path-length-limitation

And since the full path was more than 260 characters I tested with the same files but shorter folder name. As it turns out there was no issues pulling with the new full path less than 260 characters in length.

[2019-06-17 12:39] efiop opened #2135 "get: disable state lock and .dvc/lock to be able to deploy on nfs"
Due to https://github.com/iterative/dvc/issues/1918 , our `dvc get` command won't be able to deploy on nfs. Since we are creating a temporary repo for `dvc get` and using by ourselves alone, we could simply disable all the locks to workaround that limitation. Another option would be to simply fix #1918 :slightly_smiling_face:

[2019-06-17 13:36] Suor commented on #2132
@sremm thanks for getting back and thank you very much for the `MAX_PATH` clue. Looks like this is only API limit not filesystem one and could be bypassed by using `"\\?\"` path prefix on Windows.

@efiop should we look into using that prefix? This can significantly complicate our code I think.

[2019-06-17 13:47] Suor opened #2136 "dvc: http resume doesn't really work"
Having this on master branch.

If you look at `RemoteHTTP._download_to()` you will see that it always makes a full `GET` request, with no use of [Range header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Range_requests#Requesting_a_specific_range_from_a_server). It simply skips previously downloaded part in `._write_request_content()`

Pinging original author @pared.

[2019-06-17 13:57] Suor opened #2137 "dvc: update file utilities"
Some file utilities live in `dvc.utils.fs` while some other in `dvc.utils.__init__`. I suggest grouping them in a single place.

Also, some of them accept Path-like objects, i.e. `Path`, `PurePath`, `PathInfo`, etc and some do not. This makes people guess at the call site whether they need to wrap arguments into `fspath()`, `fspath_py35()` or none. So I propose that our file utilities will always

[2019-06-17 17:00] efiop commented on #2132
@Suor If using `"\\?\"` is all we need, wouldn't it be pretty easy to fix it in `PathInfo.fspath`?

[2019-06-17 17:14] efiop opened #2138 "refactor Output/Dependency/Remote to use factory-like methods"
From #2012 . Also need to consider special pkg output along the way, as discussed in https://github.com/iterative/dvc/pull/2012#discussion_r294398826

[2019-06-17 17:16] efiop opened #2139 "import: add a mechanism to lock external dependencies"
From #2012

[2019-06-17 17:18] efiop opened #2140 "import: support importing the whole repo"
From #2012 Support importing the whole repo with `dvc import myrepo`. This is going to be similar to specifying multiple datas within the repo, e.g. `dvc import myrepo data1 data2`, but we will have to collect it ourselves for the whole repo. Probably worth putting into a directory by default. E.g. `dvc import https://github.com/iterative/dvc` -> create 'dvc' directory in which data files will be

[2019-06-17 17:41] efiop commented on #1768
Fixed by #2012 . Example command (can be ran outside of dvc repo):
[code]

[2019-06-17 17:42] #1768 closed

[2019-06-17 17:47] efiop commented on #1772
Fixed by #2012

[2019-06-17 18:01] Suor commented on #2132
@efiop not all our ops use `PathInfo`. Any path longer than 260 chars will need to be prefixed, e.g. dvc-files, gitignore, anything you pass to system functions.

[2019-06-17 18:29] efiop commented on #2132
@Suor Touche. Also, judging by googling around, it seems like that limitation should be handled by python itself and by windows (e.g. [here is a guide how to enable long paths](https://blogs.msdn.microsoft.com/jeremykuhne/2016/07/30/net-4-6-2-and-long-paths-on-windows-10/)), so I don't think we should be handling this, especially with that amount of hustle. @sremm Could you please try enabling lon

[2019-06-17 18:36] #1773 closed

[2019-06-17 19:45] #2127 closed

[2019-06-18 01:42] pedroasad opened #2144 "Directory dependency wrongly reported as changed"
It seems that DVC 0.43.1 (also 0.40.1, surely) wrongly reports that directory dependencies have changed when working on different copies of a repository. Consider this scenario:

* On computer `A`, I work on a pipeline that depends on a directory `ABC`
* I commit the changes in `A` (revision `abcd1234`), and push them to the remote (`git push`)
* I upload `A`'s DVC cache to a Google Cloud Storage

[2019-06-18 03:38] jorgeorpinel opened #2145 "run: improve ERROR message for existing 'Dvcfile'"
Try

[code]

My suggestion is to add a sentence to the error message above for this case: `Use -f option to specify a different stage name (ending in '.dvc').`

[2019-06-18 03:40] jorgeorpinel commented on #2145
p.s. how hard would it be to use the base name of the first argument to the command as the fallback default stage name? In this case `qwerty.dvc`

[2019-06-18 06:48] mastaer opened #2146 "Delete the Output-Files by checkout to other branches."
Hi guys,

in the current DVC-Version the DVC-Output / Metric-Files get not deleted after switching the Branch. I.E.: The `someout.txt` should not be in the `master` branch

[code]

[2019-06-18 06:56] mastaer commented on #2058
The script changed a bit and I plan to add a parameter that you don't need. The new path to the script is:
https://github.com/deep-projects/dvc-cc/blob/master/dvc-cc/dvc_cc/output_to_tmp/main.py

[2019-06-18 07:27] sremm commented on #2132
@efiop I enabled long paths following the guide you sent and then the pull command worked, all the files were pulled without error

[2019-06-18 08:28] efiop commented on #2132
We will be sure to add it to our user guide: https://github.com/iterative/dvc.org/issues/395 . Thanks a lot for the feedback @sremm ! :)

[2019-06-18 08:28] #2132 closed

[2019-06-18 09:47] mastaer commented on #2058
for this script the issue: https://github.com/iterative/dvc/issues/2146 , needs to be fixed

[2019-06-18 10:50] Suor opened #2147 "perf: remote indexes"
As we discussed making dvc fast should be high priority as poor performance can draw people away easily. The big part of todays slowness is working with remotes, which almost always includes collecting file statuses, which could be slow for bigger remotes. All this leads to some form of indexes.

However, our remotes don't provide a luxury of atomic group writes nor reads nor read-modify-write ope

[2019-06-18 10:54] mastaer commented on #2050
Hi @efiop, it needed a lot of time but now I created an example :) And I think you are right. You need already really bad habits to manipulate the pipeline.

But here is the example:
[code]

[2019-06-18 10:54] #2050 closed

[2019-06-18 11:07] #2119 closed

[2019-06-18 11:14] Suor opened #2148 "ui: better progress bars"
Currently we have progress bars for each individual file, which is not helpful when we have many of them. Furthermore when using several threads - a common case - they just fill up a screen, with no indication of where we are.

So I propose switch to using one progress bar for a single mass operation. There was a question from @efiop: how do we show all the filenames that are being processed? I wo

[2019-06-18 12:20] efiop commented on #2145
@jorgeorpinel

It is not hard at all, but the idea was that it should correspond either to the function or to the output. If we start using dependencies as well, it is easy to see how `dvc add qwerty` + `dvc -d qwerty ...` might get us into an even worse position.

[2019-06-18 15:05] jorgeorpinel opened #2150 "dvc run: -f with invalid stage name still runs the command (should not)"
[code]
---

[code]

The problem here is that `cp` actually runs and `bar.txt` is created. As discussed on Discord that seems to be a bug since the error message claims the command failed to run. We should check dvc file name validity before running the command.

[2019-06-18 15:08] jorgeorpinel opened #2151 "pipeline: list and show use opposite order"
Why is the order or stages in `pipeline list` the opposite as in `pipeline show`? `list` has stages from last to first and `show` from first to last.

One idea is that probably `list` was meant to run in `repro` order but is there a reason for `show` to use the opposite order? Otherwise for consistency it may be better to change it to have the same order in both. (which one?)

[2019-06-18 16:09] #2079 closed

[2019-06-18 16:10] shcheklein commented on #2148
Can we somehow show a progress for the whole operation (vs per file)? For example count the total files size and show progress by bytes transferred, also would be great to see total speed per second and other stats.

+1 on refactoring the code.

[2019-06-18 16:21] efiop commented on #1876
Related to https://github.com/iterative/dvc/issues/2010 , maybe worth switching from dulwich to pathspec along the way.

[2019-06-18 16:46] efiop commented on #2139
https://github.com/iterative/dvc/issues/1487

[2019-06-18 17:32] kurianbenoy opened #2154 "Fix dvc -h usage for `dvc gc`"
**Please provide information about your setup**
DVC version: 0.41.3
Someone should add usage for `dvc status -R ` option

context
-https://github.com/iterative/dvc.org/pull/396#discussion_r292251163

[2019-06-18 19:16] jorgeorpinel commented on #2154
In fact most cmd refs need to be checked for updated usage blocks...

[2019-06-18 21:05] efiop commented on #1509
@CMCDragonkai ?
Closing for now as inactive.

[2019-06-18 21:05] #1509 closed

[2019-06-18 21:09] efiop commented on #2144
Hi @pedroasad !

In the Dvcfile you are specifying the whole directory as a dependency and then you are running that directory as a python module, which probably creates `*.pyc` and `__pycache__` files/dirs, that are taken into account by dvc when computing the checksum for pkg. We could help with that by using the upcoming .dvcignore feature https://github.com/iterative/dvc/issues/1876 (in our TO

[2019-06-19 01:37] kurianbenoy commented on #2154
Some other commands, when I checked command reference are:
dvc `status` , `metrics`, `remove`

[2019-06-19 07:29] efiop opened #2155 "dvc: update paramiko requirements"
Fixes #2155

Big thanks to @cowlinator for the heads up! https://github.com/iterative/dvc/pull/1694#issuecomment-503347293

[2019-06-19 10:02] antonkulaga commented on #2018
Looks like a super-useful feature

[2019-06-19 14:43] pedroasad commented on #2144
Bull's eye @efiop !

Indeed, the `__pycache__` directory was causing DVC to see the `pkg` directory as changed. Thanks for pointing that out, it was simple, but it just didn't caught my attention. I rewrote the `Dvcfile`, specifying files individually, and now `dvc status` reports no changes in different working copies. I am including the patched example here: [dvc-issue.zip](https://github.com/it

[2019-06-19 15:03] efiop commented on #2144
@pedroasad Great to know the mistery is solved! :slightly_smiling_face: Indeed, we are really looking forward to dvcignore ourselves :smile: Yes, let's close this one. Hang on tight, dvcignore should be coming soon! Thanks for the feedback!

[2019-06-19 16:45] #2063 closed

[2019-06-19 17:37] jorgeorpinel opened #2158 "status: gives incomplete message when all pipelines are up to date"
[code]
[code]

In this case (having more than one pipeline) the message should be something like `All pipelines are up to date. `.

---
UPDATE: Other commands may have a similar problem, where THE pipeline is referred to in singular. E.g. `metrics modify` has or used to have a `unable o find file '<path>' in the pipeline` message. Should we review all?

[2019-06-20 01:13] shcheklein commented on #2147
First, the ideas we discussed before (just to document them and they might spark more experimentation or help focusing on a smaller problem):

1. Use hierarchical structure of the DVC cache as an index. Right now we split into up to 256 directories since we use only first two letters of a checksum, but we can (and probably should anyway to keep directories smaller) introduce at least couple more l

[2019-06-20 01:22] shcheklein commented on #2147
Back to the idea of using lock-free self-healing structures. It's hard (for me) to think this all through at once. This stuff can be tricky. Can we first discuss and decide some "data remote model" - what guarantees do we want to provide, what things are okay to happen, what of them are not, etc:

To start, stuff that comes to my mind:

1. It's ok from time to time to push things twice. One client

[2019-06-20 10:33] Suor commented on #2136
We can fix this bug by dropping the functionality. I mean - it was broken from the start and nobody complained - maybe it is not really important for anyone.

[2019-06-20 15:04] efiop commented on #2010
Fixed by https://github.com/iterative/dvc/pull/2159 , since we've dropped dulwich for good.

[2019-06-20 15:04] #2010 closed

[2019-06-20 16:57] #1593 closed

[2019-06-21 00:53] amka00 commented on #1000
Still the CLI help notes do not mention the deleting of data files themselves.
Same with online command reference (https://dvc.org/doc/commands-reference/destroy).

[2019-06-21 09:57] efiop commented on #1000
Hi @amka00 ! That should be handled by https://github.com/iterative/dvc/issues/1011

[2019-06-21 10:35] #1011 closed

[2019-06-21 10:38] efiop commented on #1000
@amka00 Merged a patch for it in https://github.com/iterative/dvc/pull/2164 along with the docs. It is going to be released with the new version, which is coming soon.

[2019-06-21 12:42] LexSong opened #2165 "Unknown encoding error (cp65001) in windows exe version"
DVC version:
dvc-0.41.3.exe windows exe

Error message:
[code]

There is an encoding error in `colorama` when the code page is cp65001(UTF-8).
There is no issue when I install with `pip install` on Anaconda.

[2019-06-21 15:38] #2104 closed

[2019-06-21 18:33] shcheklein commented on #2165
@LexSong could you try to do `set PYTHONIOENCODING=UTF-8` in your terminal before running `dvc`?

[2019-06-21 19:37] efiop commented on #2165
Hi @LexSong ! You are running a default windows terminal, right? And when running on Anaconda, you are using their own terminal? @shcheklein is right, setting that env var should help. Also, if it does, then it is most likely windows-terminal-specific error. To solve it we would need to include https://github.com/Drekin/win-unicode-console into our dependencies when running/building on windows.

T

[2019-06-21 19:40] LexSong commented on #2165
No, I'm using the default windows 10 terminal, too.

I'll see if this works.

[2019-06-21 19:44] LexSong commented on #2165
`set PYTHONIOENCODING=UTF-8` doesn't work.

[2019-06-21 19:51] efiop commented on #2165
@LexSong I've added a package to our dependencies in https://github.com/iterative/dvc/commit/c7ca83e226f5b10c2b986307820a74ba846027cc , which might help with that. Would you be ok with using anaconda for now? If so, we will soon build a new windows package with that package included and will notify you to try it out, so you could confirm or deny that it works for you.

[2019-06-21 19:59] LexSong commented on #2165
By the way, my anaconda environment is here:

[code]

Maybe it will be helpful.

[2019-06-21 20:07] LexSong commented on #2165
OK, I think the issue may be caused by Python 2.7. Good luck to fix it. I'll keep using Python 3 for now.

[2019-06-21 20:09] efiop commented on #2165
@LexSong Oh, good point! We are still using python2 to build binaries with pyinstaller. I'll adjust it to use python3 shortly too. Thanks! :)

[2019-06-21 20:21] LexSong commented on #2165
[Related StackOverflow question](https://stackoverflow.com/questions/34064587/python-3-5-code-compiled-with-pyinstaller-3-0-crashes-in-code-page-65001)

[2019-06-21 20:43] efiop commented on #2061
Moving to py3 for the binary solved the issue. I can no longer reproduce it on my windows machine. Current dvc is still py2, but the next release will be py3 and will have that issue solved. Thanks a lot for the feedback @def-mycroft ! :slightly_smiling_face:

[2019-06-21 20:43] #2061 closed

[2019-06-21 21:11] efiop opened #2166 "windows: tests are failing on py3"
https://ci.appveyor.com/project/iterative/dvc/builds/25456730?fullLog=true

[2019-06-21 21:26] efiop commented on #2166
Ok, py2 is failing too https://ci.appveyor.com/project/iterative/dvc/builds/25457535/job/99lf0kqgehcv4qkc?fullLog=true . Investigating.

[2019-06-21 23:46] shcheklein commented on #2139
### Summary of changes

The most recent PR https://github.com/iterative/dvc/pull/2160 and a few previous merged PRs have introduced a mechanism to reuse (import) a data artifact (model or data file or directory) from one Github repository into another:

[code]

creates a DVC-file that has a dependency to the (the `repo` field below) `https://github.com/iterative/example-get-started`, and specifica

[2019-06-21 23:58] efiop commented on #2166
py2 passes. py3 fails because of https://github.com/Azure/Azurite/issues/215

[2019-06-22 01:20] jorgeorpinel opened #2169 "usage: several problems in output text"
[code]

I already fixed the issues in commits: https://github.com/jorgeorpinel/dvc.org/commit/65c12c4bc838c32ba36372f2230bd75a9574bae7 and https://github.com/iterative/dvc.org/pull/456/commits/65987391c8f8f552e3799c0ddcae3be53959f59d

The same changes should be done in this repo, I think.

[2019-06-23 04:46] jorgeorpinel opened #2170 "pipeline show: broken `-c` option"
[code]

I'm getting the following error when trying to use `dvc pipeline show -c <stage.dvc>` with any stage file in our [get started repo](https://github.com/iterative/example-get-started):

[code]

[2019-06-23 08:09] Suor opened #2171 "test: signal set in Stage.run() wreaks havoc in tests"
Random tests are randomly failing with `ValueError: signal only works in main thread`.

Can't reproduce that locally so far, `pytest-xdist` uses processes (at least it says so) so this should not be an issue.

[2019-06-23 09:10] efiop commented on #2171
Yep, that is a weird one. I've added a check for main thread to https://github.com/iterative/dvc/pull/2167

[2019-06-23 09:24] Suor commented on #2171
@efiop doesn't look like a proper solution, rather like a stop gap)

[2019-06-23 09:25] Suor commented on #2171
@efiop anyway when do you plan to merge that? Or maybe that be easier to do with a separate PR?

[2019-06-23 09:27] efiop commented on #2171
@Suor Not 100% sure if that is a proper solution or not, just using it to help progress with fixing tests on py3 on windows.

Will merge as soon as it works and makes sense 🙂 Will try to finish today with it, if not - will submit a separate PR.

[2019-06-23 10:52] #1922 closed

[2019-06-23 10:52] #2166 closed

[2019-06-23 16:45] dnabanita7 opened #2175 "having a "dvc grep" command like to "git grep""
This command will help the users to navigate through DVC cache files and config files to find the keyword they are searching as well as in the whole repo like ``git grep`` searches for the particular phrase or word.

[2019-06-23 19:51] efiop opened #2176 "ci: abandon appveyor"
Travis supports windows now, so there is no reason for us to have two CIs. Abandoning travis in favor of appveyor is not an option, because it doesn't have mac os support yet https://help.appveyor.com/discussions/questions/34614-macos-roadmap and looks like it won't get it in the near future.

[2019-06-23 21:19] efiop commented on #2171
Fixed by https://github.com/iterative/dvc/pull/2167

[2019-06-23 21:19] #2171 closed

[2019-06-23 21:20] #2170 closed

[2019-06-23 21:51] #2155 closed

[2019-06-24 01:32] ryokugyu opened #2179 "version: development version not showing the latest git commit hash"
I tried installing DVC with the help of guide in [command-reference](https://dvc.org/doc/commands-reference/version).
Also from [user-guide](https://dvc.org/doc/user-guide/development)

![dvc_code](https://user-images.githubusercontent.com/16274905/59985150-6012be00-964d-11e9-9af2-faa7d76b1319.png)
 But the output is not the same as described the `version` command reference.
![dvc_version](https:/

[2019-06-24 01:35] ryokugyu commented on #2179
is this because of the python version?

[2019-06-24 03:17] shcheklein commented on #2179
@ryokugyu could you run `which dvc` please? I can't reproduce it on my machine.

[2019-06-24 03:45] ryokugyu commented on #2179
[code]

[2019-06-24 04:07] shcheklein commented on #2179
are you using virtualenv or something similar? could you run `pip show dvc` as well please

[2019-06-24 07:09] efiop commented on #2165
Ok, now we do build using py3 with that package included, which should be released soon. I'll close this for now. Please feel free to reopen if it still persists.

[2019-06-24 07:09] #2165 closed

[2019-06-24 08:42] MikkelAntonsen opened #2180 "status: granular output for directories"
Imagine dvc tracking a directory full of images and files containing labels.

If I delete/change/update a label or image, dvc will tell me that something in the directory has changed, but not exactly what. It would be nice is dvc status could be made more granular, returning something like

[code]

instead of

[code]

as it is today.

Thanks:)

[2019-06-24 08:44] efiop commented on #2180
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/592632660539604993

[2019-06-24 08:51] nik123 opened #2181 "Make completion scripts part of the debian package"
**Step 1**
I installed dvc on my Ubuntu 16.04 machine with the following commands:

[code]

**Step 2**
To enable bash completion I downloaded completion script to /etc/bash_completion.d directory as described in https://dvc.org/doc/user-guide/autocomplete

It would be nice if completion script would be automatically installed with Debian package so step 2 wouldn't be required.

[2019-06-24 08:55] efiop opened #2182 "test"

[2019-06-24 08:55] #2182 closed

[2019-06-24 09:10] efiop commented on #2180
Entry points where to start looking at this:

1) Here is where the status is being created https://github.com/iterative/dvc/blob/0.41.3/dvc/output/base.py#L178
2) Need to make `Output.changed_checksum()` either more granular to report particular files in the directory that has changed or create even a new method that will return a status dict for a directory;

[2019-06-24 10:02] efiop commented on #2181
Thanks for the request @nik123 ! To do that we would simply need to add our completion scripts when building deb(and probably rpm) packages in https://github.com/iterative/dvc/blob/master/scripts/build_posix.sh#L43 . Most likely they should simply be copied to appropriate subdirectories in $BUILD_DIR. E.g. `usr/share/zsh/site-functions/_dvc`.

[2019-06-24 10:03] efiop commented on #2181
Also we might want to take a look at osx pkg and homebrew/homebrew-cask formulas in https://github.com/iterative/homebrew-dvc

[2019-06-24 15:00] ryokugyu commented on #2179
![dvc_version_pip_show](https://user-images.githubusercontent.com/16274905/60029452-ce439900-96be-11e9-9229-447b97af7b13.png)

[2019-06-24 15:31] Naba7 commented on #2181
Can I take this up?

[2019-06-24 15:37] shcheklein commented on #2181
@Naba7 I would say it somewhat depends on this https://github.com/iterative/dvc/issues/2069 - it's pretty outdated and we should update it first. But yes, you can take it, sure!

[2019-06-24 16:23] mroutis commented on #2179
@ryokugyu , I also couldn't reproduce it, here are my steps:
[code]

As @shcheklein mentioned, you may have two conflicting versions of DVC (for example, one installed with `apt-get` or `pip install dvc` and the other one with `git clone ... && pip install .`)

Maybe you can `pip uninstall dvc` and check if `which dvc` outputs anything, if so, you need to also remove the other version.

Hope it he

[2019-06-24 17:18] efiop commented on #2093
Reopening for state db command batching.

[2019-06-24 18:53] efiop commented on #2181
@shcheklein @Naba7 We can definitely start by including the ones we have already into our packages. After #2069 is solved, the new release will simply include the updated scripts automatically.

[2019-06-25 00:46] #1915 closed

[2019-06-25 08:36] pared commented on #1562
Is this change documented? Or is there any issue for that? I cannot find it.
https://discordapp.com/channels/485586884165107732/485596304961962003/592958184096792576

[2019-06-25 08:42] efiop commented on #1562
@pared Good catch! Indeed, it is not documented neither can I find an issue for it. The configuration itself is the same as credentialpath in s3 though.

[2019-06-25 08:44] efiop commented on #1562
@pared added https://github.com/iterative/dvc.org/issues/453 so we don't forget.

[2019-06-25 10:58] efiop opened #2188 "progress bar issue when computing big file md5 on windows"
[code]

https://discordapp.com/channels/485586884165107732/485596304961962003/593010068270743562

[2019-06-25 12:01] Suor commented on #2009
I would look at how we can make it faster before using state db. I suspect there are some inefficiencies like calling `.exists()` multiple times for each file or alike.

[2019-06-25 13:41] #2150 closed

[2019-06-25 13:50] efiop commented on #2188
@Suor Please don't silently reassign issues. Had a discussion about it in PMs.

[2019-06-25 14:56] Suor commented on #2150
@jorgeorpinel thanks for bringing this up. It was an easy fix and a big annoyance I suppose :)

[2019-06-25 15:07] Naba7 commented on #2069
@shcheklein  Can you please explain me what has to be done here? I guess one of the tasks is completed.

[2019-06-25 15:55] mroutis commented on #2069
@Naba7 , the autocompletion script is outdated https://github.com/iterative/dvc/blob/master/scripts/completion/dvc.bash

It means that it's missing some commands and options, one half of the task is to make sure that all the commands are supported with their respective flags.

And the other one is to add support for completing file names, for example: `$(compgen -G '*.dvc')`.

[2019-06-25 15:58] mroutis commented on #2175
@Naba7 , can you add a little bit more of detail about how should it work?

[2019-06-25 16:04] Naba7 commented on #2069
Alright, Thanks. I am checking onto that.

[2019-06-25 18:16] jorgeorpinel commented on #2169
I just fixed this in #2112

[2019-06-25 20:25] jorgeorpinel commented on #2150
My pleasure

[2019-06-25 20:39] jorgeorpinel commented on #2069
Yet another desirable improvement is to include command and option descriptions to the autocomplete like in the [zsh script](https://github.com/iterative/dvc/blob/master/scripts/completion/dvc.zsh) but I'm not sure bash supports that. Thanks

[2019-06-25 20:45] mroutis commented on #2069
@jorgeorpinel , I think it Bash doesn't support such thing :sweat:

[2019-06-25 22:06] efiop opened #2191 "build: windows: investigate improper version"
https://github.com/iterative/dvc/releases/tag/0.50.0

[code]

should be

[code]

[2019-06-25 23:18] mroutis commented on #2146
@efiop , isn't conserving the file the intended behavior?

By using `--no-exec`, a DVC-file is created, referencing such output, thus, taking `something.txt` as a _used_ link. Should we consider as used only outputs with checksums?

[2019-06-25 23:34] mroutis commented on #2139
Isn't the same as doing a `git pull repo && find -name *.dvc | grep repo | sed s/rev-lock: old-hash/rev-lock: new-hash/ && dvc checkout` ?

[2019-06-26 03:44] shcheklein commented on #2180
we should be careful with this, imagine a directory with 1M new files. Probably we don't want to show all of them. I would say we should show a summary by default or at least on some threshold (on number of changed files per directory)

[2019-06-26 03:47] shcheklein commented on #1834
@pared will this one be closed as well soon?

[2019-06-26 03:53] shcheklein opened #2192 "status: don't show every file in the --cloud mode"
If there is directory with 1M files it can be a huge list. We need to show a summary.

There are also extra spaces between file, don't think we need them.

[2019-06-26 05:29] shcheklein commented on #2139
yep, but it can touch potentially a lot of files. Imagine you would have to update every single python code file that has `import requests` every time you are updating requests library.

Also, what should I do if some of them are not in sync? Should I update all of them anyway?

[2019-06-26 08:20] pared commented on #1834
@shcheklein
Yes, now every use case of `walk` in our codebase will take `.dvcignore` into account (besides some tests)

[2019-06-26 12:44] Naba7 opened #2196 "bugs in bash autocomplete script"
DVC version :  0.40.7
Installed through :  Debian(package)

``index`` doesn't have ``-h, -q,  -V`` flags , then it will be a problem keeping ``_dvc_global_options`` and ``_dvc_options``

[2019-06-26 13:40] efiop commented on #2146
@mroutis Not really. The thing is, on master there should not be `someout.txt` at all, because it doesn't have the assotiated checksum info int it. The `someout.txt` that is left out in the example above, belongs to the second branch, so it should be removed when checking out.

[2019-06-26 13:42] efiop commented on #2148
From https://github.com/iterative/dvc/issues/2192 :
[code]

[2019-06-26 13:45] #2188 closed

[2019-06-26 13:54] efiop commented on #2196
Hi @Naba7 ! I don't think I follow, what is `index`?

[2019-06-26 14:07] ryokugyu commented on #2191
@efiop where to start looking for this issue?

[2019-06-26 14:19] efiop commented on #2191
@ryokugyu the script that is generating the version is in `scripts/innosetup/config_gen.py`. It is importing `__version__` from dvc that is in the environment. In appveyor.yml(which is building this exe on CI) we are installing dvc locally with `pip install .` and I'm not sure if `config_gen` got the `__version__` from the repo itself or from the installed dvc package. One of the possible solution

[2019-06-26 14:29] ryokugyu commented on #2191
i installed dvc via `pip install dvc` on my machine.

when running `dvc version` or `dvc --version`
![dvc_vesion_windows](https://user-images.githubusercontent.com/16274905/60188451-e9441380-984c-11e9-969f-e483dbafddd4.PNG)

 i am getting this.

[2019-06-26 14:32] efiop commented on #2191
@ryokugyu with `pip install dvc`? I meant `pip install .`, we are using that in appveyor.yml. The `dvc version` itself is working fine, tested it too, the issue is somewhere during the build process on appveyor.

[2019-06-26 14:49] efiop commented on #2191
@ryokugyu Here is where we are installing dvc twice (this is a bug, probably don't need the latter one) https://github.com/iterative/dvc/blob/master/.appveyor.yml#L55
[code]
Maybe the latter one is causing this issue. After that, we are running https://github.com/iterative/dvc/blob/master/.appveyor.yml#L73
[code]
which is building the executable with a wrong version.

[2019-06-26 14:55] ryokugyu commented on #2191
so, we just remove the `python setup.py install`?
and then how to test it?

[2019-06-26 14:56] efiop commented on #2191
@ryokugyu To test it:
1) make sure there is no dvc installed (`where dvc` should not print anything)
2) do `git checkout 0.50.0`
2) run `pip install .`
3) run `.\scripts\build_windows.cmd`
4) check that created dvc-*.exe has proper version

[2019-06-26 16:16] efiop commented on #2191
Still persists in 0.50.1 https://ci.appveyor.com/project/iterative/dvc/builds/25560657/job/cevfj2se81oiigs4

[2019-06-26 17:45] Naba7 commented on #2175
Look for specified patterns in the tracked files in the work tree, blobs registered in the index file, or blobs in given tree objects. Those patterns are separated by a newline. Searching into all the config and cache files is a lot of work. So to simplify the work and find the specified pattern or keyword, we can use ``dvc grep``

[2019-06-26 18:11] mroutis commented on #2175
@Naba7 , in what ways `dvc grep` is different from running `grep -R 'something' .dvc/cache` ?

I'm imagining something like:
- Search for a pattern in all .dvc/cache to retrieve a path: `grep -R <pattern> .dvc/cache`
- Get the checksum from such path: `sed 's/.dvc\/cache\/\(.*\)\//\1/'`
- Use such checksum to search through the whole git index for commits where the DVC-file contains such checksum:

[2019-06-26 18:15] Naba7 commented on #2196
By ``index`` I mean ``docs/commands-reference/index.md``. I have added it as a dvc command in ``dvc.bash`` script.

[2019-06-26 18:21] Naba7 commented on #2175
We can use ``git log`` to get the checksum but ``dvc grep`` can help getting the checksums and the related commits to it along with searching for a pattern in cache files. Running a single command ``git grep`` doesn't show the contents of cache or config files. So, having an additional ``dvc grep`` maybe used to add the functionalities of ``git log`` and ``git grep`` along  with searching through

[2019-06-26 19:47] efiop commented on #2196
@Naba7 But it is not a command. It is just an `index` page in our docs, that is used internally https://github.com/iterative/dvc.org/blob/master/static/docs/commands-reference/index.md . I guess it was just a confusion? :) Let's close this issue then.

[2019-06-26 19:47] #2196 closed

[2019-06-26 21:42] mroutis commented on #2175
@Naba7 , I still have some questions :sweat_smile:
What would the output of `dvc grep` look like? What should be the input (a pattern, a DVC-file, branch, etc.)?
What is the use cases for it? (In what scenario a user would need to use `dvc grep`)

[2019-06-26 21:47] mroutis commented on #2139
What do you mean by _not in sync_, @shcheklein, also, why DVC is allowing files to be out-of-sync, is it useful? Is it like a submodule of `requests` (let's say `requests.adapters`) in v1 and the other submodule (maybe `requests.api`) in `v2`?

[2019-06-26 21:55] shcheklein commented on #2139
yep, you got it right! Since we essentially have a lock per DVC-files nothing prevents us to lock two files to two different versions (revisions) of the same repository.

It's hard to predict how useful is it. But if we go with a decentralized approach (and looks like we do) it means that we have this feature out of the box. The question is how much will we have to pay for this down the road :)

[2019-06-26 23:24] umangs94 opened #2198 "Skip computing md5 if file isn't being cached"
If a file isn't being put under DVC control (i.e. using the -O option in `dvc run`), then should its md5 still be cached?:
[code]

This computation takes up a lot of time, especially as it happens on every run.

[2019-06-27 05:10] jorgeorpinel opened #2199 "lock, unlock: nothing happens without `targets` arg"
[code]

Their `-h` output indicates `[targets [targets ...]]` as optional argument(s) but not providing `targets` with these commands results in nothing happening from my tests. I think `targets` is actually required in practice.

E.g. change a stage dependency and confirm with `dvc status`, then run `dvc lock` and `dvc status` again will print the exact same report as before.

**Possible fixes:**

[2019-06-27 08:23] efiop commented on #2198
@umangs94 The checksum is used to determine if your output has changed or not and if dvc needs to perform `dvc repro` later, so we should compute it. If you don't need the checksum and don't care about dvc even knowing about that output and not tracking it, you could just not specify it in your `dvc run` command at all. Maybe I'm not quite understanding your scenario, could you elaborate please?

[2019-06-27 08:31] efiop commented on #2199
Nice catch @jorgeorpinel !

This one is the right approach :) Locking/unlocking everything doesn't make a lot sense so far. I can kinda see `dvc unlock` being used to unlock everything, but no one requested it so I don't think we should support it.

[2019-06-27 08:41] efiop commented on #2199
Correction: this doesn't happen in master
[code]
only in your branch https://github.com/iterative/dvc/pull/2112#pullrequestreview-255082022

[2019-06-27 08:41] #2199 closed

[2019-06-27 09:54] Naba7 commented on #2175
Output of ``dvc grep`` can be thought of as showing the ``PATH`` of the pattern located in the file or checksums related to it separated by a newline.

Input can be any pattern including a keyword or a DVC-file . I haven't thought of a branch.

We can get the hash values of commits made, reflinks or softlinks can be produced.

[2019-06-27 09:57] JohanMollevik opened #2200 "How to properly configure dvc for use with azure storage"
Hi

I have been unable to configure dvc to use azure storage. I ran

`dvc remote add -d myremote azure://jmollevidvctest/`

which seemed to work bu when I run

`dvc push`

I get an error

`ERROR: failed to push data to the cloud - azure storage connection string missing`

What am I missing, is there any example for adding all the data needed to dvc to make pushing data to azure work?

[2019-06-27 11:37] efiop commented on #2200
Hi @JohanMollevik !

You need to specify your connection string with
[code]
Are you familiar with `az` utility? Do you specify the connection string there?

[2019-06-27 11:39] JohanMollevik commented on #2200
No I am not, I have an azure account assigned to my at work but I am in the process of learning the ins and outs of it. Do you know how I find the connection strings or do you have an example so I know how one looks like so that I am able to search for it in the azure portal. (I'm trying to connect from linux if that makes a difference)

[2019-06-27 12:05] efiop commented on #2200
@JohanMollevik Ah, got it. Go to your storage account in the azure portal and click `Access keys`, it should be there.
![image](https://user-images.githubusercontent.com/5367102/60264931-0b8d6e00-98ed-11e9-9b54-acbe71c6366e.png)

[2019-06-27 14:53] Suor opened #2201 "dvc: Repo(..., rev=smth) is counter-intuitive or broken"
For example `repo.add()` will browse using currently existing `.dvcignore` files. `repo.pull/push()` will work against master not `rev`.

Should we hide it? Or handle all of that? Or implement everything not using non-default `rev` Repo objects?

- [ ] either fix or drop `rev`
- [ ] remove `assert rev is None` in `dvc.api`

[2019-06-27 14:55] umangs94 commented on #2198
I see. I’m mostly confused about the use cases for -o and -O in `dvc run`. Especially the latter, when should that one really be used?

[2019-06-27 15:02] shaunirwin commented on #2192
Hi @shcheklein, I also encountered this recently. I think it could be very useful if the summary could be grouped according to which .dvc files they correspond to, so that it is clear to the user which .dvc file needs to be pushed.

[2019-06-27 15:54] Suor commented on #2201
**P.S.** the examples above are not exhaustive, e.g. `Config` also ignores `rev` and who knows what else.

[2019-06-27 17:55] efiop commented on #2198
@umangs94 when you want dvc to detect changes to it, but you don't want dvc to cache it, so you could either leave that file lying as is or track it with git. Hope it makes sense :)

[2019-06-27 17:57] umangs94 commented on #2198
Yep, that helps. Thanks!

[2019-06-27 17:57] #2198 closed

[2019-06-27 18:20] efiop commented on #2201
@Suor Are you sure? pull/push will use `self.tree`(which is set to rev), so they should do the right thing. Config will indeed not work.

[2019-06-27 18:27] jorgeorpinel commented on #2199
It was happening on `master` last time I tried with version `0.50.1+936f94` as reported but no longer happens on `0.50.1+d0718c`. Probably because of my accidental changes to lock/unlock `targets` `narg`...

[2019-06-27 18:57] efiop commented on #2199
@jorgeorpinel Still, thanks for the feedback, better safe than sorry :smiley:

[2019-06-27 18:59] filipgrano opened #2203 "Dramatic slowdown with increasing number of files"
Ubuntu 18.04, python 3.6.8, dvc version 0.35.7. and 0.50.1 installed with pip3. Fresh repos and clear cache for each test.

Adding files recursively gets a lot slower with the number of files. Noticed this when trying to add a directory with 15207 files, waited an hour and stopped it before it finished. Tested below with subsets of files to show behavior. This is especially noticeable on the newes

[2019-06-27 19:01] efiop commented on #2203
Hi @filipgrano !

Could you please elaborate on your scenario? We might be able to suggest a workaround for now.

[2019-06-27 19:11] shcheklein commented on #2200
create a https://github.com/iterative/dvc.org/issues/462, to add more info to the docs

[2019-06-27 19:32] #2169 closed

[2019-06-27 20:40] catherineweiss opened #2204 "warnings when using dvc"
Every time I run a dvc command, I receive the following user warning:
c:\anaconda\envs\py36-dvc-versioning\lib\site-packages\git\repo\base.py:128: UserWarning: The use of environment variables in paths is deprecated
for security reasons and may be removed in the future!!
  "\nfor security reasons and may be removed in the future!!")

**Setup**
DVC version(i.e. `dvc --version`) = 0.50.0,
Platform a

[2019-06-27 21:09] efiop commented on #2204
Related discord discussion: https://discordapp.com/channels/485586884165107732/485596304961962003/593896912529260584

We might consider using https://pypi.org/project/pytest-warnings/ with `-W error` to catch those warnings during the testing.

[2019-06-27 23:46] jorgeorpinel commented on #2069
Hi. PR #2205 may close this. Can someone who uses bash check? @Naba7 perhaps. (You'd have to pull from my fork and run DVC on [dev mode](https://dvc.org/doc/user-guide/contributing#development-environment) from there.)

[2019-06-28 00:56] shcheklein commented on #2069
@jorgeorpinel how can #2205 close this? I'm not sure I'm following this :)

[2019-06-28 05:29] Suor commented on #2201
@efiop `.push()/pull()` use brancher and brancher only uses `self.tree`, if no kwargs are passed. So it was not as I described, but still fishy.

Still the point stands - do we really need repos with non-default `rev`?

[2019-06-28 07:55] LexSong commented on #2165
Thank you! I can confirm this issue have been fixed in 0.50.1 released exe.

[2019-06-28 08:35] filipgrano commented on #2203
The most simple scenario I can come up with where this would be a serious issue:
Imagine two developers working on separate machines.
Dev1 runs an experiment with an experiment producing 10 thousand large files as results, adds them to dvc and pushes to remote with dvc and git. Dev2 then wants to examine a single file of the results. If the files were added recursively it's possible to pull just a

[2019-06-28 08:36] filipgrano commented on #2203
I also found the same performance issue and degradation with dvc checkout of single file when there is large number of files. I will post benchmarks shortly.

[2019-06-28 08:50] efiop commented on #2201
We do for erepos, to be able to collect and pull stuff. But there might be a nicer way to do that.

[2019-06-28 09:08] JohanMollevik commented on #2200
@efiop Thanks, that seems to have done the trick, now the azure storage account is filling up nicely

[2019-06-28 09:08] #2200 closed

[2019-06-28 10:22] filipgrano commented on #2203
As promised, checkout of single file from large file-sets benchmarks below. Cache contains all and only the files in repo. Deleted single file and did `dvc checkout filename`.

This is an even worse case. Checkout of single file takes as long as adding all the files recursively.

### DVC version 0.50.1
1 file from 451 files / 14s = 0.071 files/s
1 file from 1242 files / 88s = 0.011 files/s
1 file

[2019-06-28 11:09] #1862 closed

[2019-06-28 12:41] efiop commented on #2203
Imagine two developers working on separate machines.
Dev1 runs an experiment with an experiment producing 10 thousand large files as results, adds them to dvc and pushes to remote with dvc and git. Dev2 then wants to examine a single file of the results. If the files were added recursively it's possible to pull just a single file, but if the directory was added as a whole the whole bunch needs to

[2019-06-28 13:56] Suor commented on #2201
I would say that we may break someone workflow if make `Repo` reread config for each branch :) Some older branch may have no remote config. And when it will have a different one it could be quite surprising for a user that his files are pushed to two different remotes.

[2019-06-28 14:22] efiop commented on #2201
Yep, need to give that one a thought. On one hand it seems like it would be a correct approach none the less, but on the other maybe the current behavior is actually what we want (at least with some explicit option). The least we could do is to check if other branches have different remotes to the one in the current workspace and prompt or raise a warning/error.

For the record: Agreed in a privat

[2019-06-28 15:52] estandiaa-marain opened #2207 "Overeager error "failed to run command - output OUTPUT does not exist""
Hi dvc-team,
When calling ``dvc run`` with multiple commands (separated by semicolons), dvc throws an error if the output file is not there after every step.

Consider the following command where we clean test_dir before running the command
[code]
This throws the error:
[code]
even though this is the intended functionality and the output is there in the end.
It is also a bit surprising, that the c

[2019-06-28 15:54] pared commented on #2203
Maybe we should discuss introducing some feature that will allow user to extract particular output?
Due to fact that DVC prevents user from reusing same output name, it could be as simple as:
[code]
and for particular file from data directory:
[code]

It has to be noted, that introducing such command would result in some problems how to treat that dependency. What I have in mind is that if we allo

[2019-06-28 15:58] gthb opened #2208 "post-checkout hook breaks checkout and rebase when adopting DVC in a branch"
When adopting DVC in an existing repository with PR code-review workflow, it will be landing in a branch that isn't master. This branch then has problematic interactions where work continues on master before the dvc adoption lands there.

Specifically, once you've done `dvc init`, committed that, and then `dvc install`, the post-checkout hook breaks `git checkout` and `git rebase` between the mast

[2019-06-28 15:59] estandiaa-marain commented on #2207
Never mind, this is not an issue. It is a problem with the command. It can be fixed by running:
[code]

Sorry.

[2019-06-28 15:59] #2207 closed

[2019-06-28 16:06] gthb commented on #2208
Hm, probably not that, because git-ignored stuff under `.dvc` _should_ stick around even when you checkout a branch outside of dvc control. But maybe `git ls-files  -- .dvc`?

[2019-06-28 16:13] gthb commented on #2208
With very minimal testing this post-checkout hook seems to fix at least my immediate problem:

[code]

[2019-06-28 17:24] gthb commented on #2208
Same thing happens on `git commit` in different branches. So `pre-commit` hook should also be conditional on this check. Maybe the `pre-push` hook too?

[2019-06-28 19:55] efiop commented on #2207
No worries @estandiaa-marain ! Glad it works now! :slightly_smiling_face:

[2019-06-28 20:14] efiop commented on #2208
@gthb dvc detects that this is a dvc repository by finding `.dvc` directory. When switching branches, you have some gitignored(in dvc branch) files there, so git leaves them under `.dvc`, and so dvc still detects your non-dvc branch as dvc branch. I don't see any good solution to handle that, except maybe modifying your git-hooks to only run on dvc branch. E.g.
[code]

[2019-06-28 20:21] efiop commented on #2208
@gthb Oops, sorry, your later messages didn't show up for me for some reason. I like the `ls-files` trick a lot! Very neat! :slightly_smiling_face: Let's think if we could always include it as a header to our git hooks. I can only see a possible problem when you didn't git commit your .dvc files yet, but even that should not be a problem, since you usually git ocmmit that stuff right after `dvc in

[2019-06-28 23:10] mroutis opened #2209 "stage: marked as changed after modifying meta attribute"
`DVC version: 0.50.1`

The meta attribute should not affect the reproduction of a stage.

### Steps to reproduce

1. Save a DVC-file (_capitalize.dvc_) with the following content:

[code]

2. Create _input.txt_: `echo hello > input.txt`

3. Reproduce it: `dvc repro capitalize.dvc`

4. Add another key to meta:
[code]
5. Reproduce it again: `dvc repro capitalize.dvc`

[2019-06-28 23:20] mroutis opened #2210 "stage: don't add default fields removed by user"
`DVC version: 0.50.1`

It was supposed to be solved as part of #1799

### Steps to reproduce

1. Save a DVC-file (_capitalize.dvc_) with the following content:

[code]

2. Create _input.txt_: `echo hello > input.txt`

3. Reproduce it: `dvc repro capitalize.dvc`

[code]

[2019-06-28 23:38] jorgeorpinel commented on #2069
with the changes to scripts/completion/dvc.bash. See https://github.com/iterative/dvc/pull/2205/files#diff-52c40123385500205889d77541831837

[2019-06-28 23:40] jorgeorpinel commented on #2069
This was closed accidentally with e04e4c0 BTW. Please re-open (I can't), not sure that's all the updates needed to the bash autocomplete script.

[2019-06-28 23:58] gthb commented on #2208
Actually `git ls-files` by default shows files that are in the index (added but not yet committed), and `dvc init` adds the new files to the index, so these hooks will work directly after `dvc init`.

[code]

But yeah, instructions should probably point out that:

* (already) if you don't git-commit the changes made by`dvc init`, then dvc hasn't really been activated in the branch
* (with this `ls

[2019-06-29 10:36] efiop commented on #2209
Need to del meta in https://github.com/iterative/dvc/blob/0.50.1/dvc/stage.py#L657 .

[2019-06-29 10:38] efiop commented on #2069
@jorgeorpinel Reopened.

[2019-06-29 10:41] efiop commented on #2208
@gthb Would you like to contribute a patch for this? :slightly_smiling_face:  You'll simply need to add that to https://github.com/iterative/dvc/blob/0.50.1/dvc/scm/git/__init__.py#L230 .

[2019-06-29 10:52] efiop commented on #2069
Aand closed with #2195 :slightly_smiling_face:

[2019-06-29 10:54] efiop commented on #2069
Ok, but the subcommands for bash are not supported yet. This might be the solution https://stackoverflow.com/questions/17879322/how-do-i-autocomplete-nested-multi-level-subcommands . Will keep this open for now.

[2019-06-29 14:55] nik123 commented on #2069
Does the lack of subcommands blocks the #2181 ? Commands and file names completion already seems as a great improvement and having it out of the box would be nice.

[2019-06-29 15:07] efiop commented on #2069
@nik123 It doesn't :slightly_smiling_face:  As I've mentioned in https://github.com/iterative/dvc/issues/2181#issuecomment-505134891 , we can totally include what we have already into our packages, and update our bash scripts later.

[2019-06-29 15:32] falcowinkler opened #2211 "HDFS command used is hardcoded and not compatible with newer versions"
`hdfs fs -<command>` is deprecated, however this command is hardcoded here: https://github.com/iterative/dvc/blob/832b834b65ec2665ece0e8d1cf756f8ed460441b/dvc/remote/hdfs.py#L37

I am running hadoop 2.7 on which hdfs fs is not supported. This stops me from being able to deploy a dvc pipeline, unless i work around it by mapping every hdfs fs to hdfs dfs command.

DVC: 0.50.1
Installation: apt-get
P

[2019-06-29 15:50] efiop commented on #2211
Hi @falcowinkler !

Does changing that to `hdfs dfs -` work for you as expected? You could try that by forking dvc repo, cloning it, adjusting and installing it on your machine. `hdfs` seems to have been available for a long time already (e.g. at least since 1.2), so we could just adjust to `hdfs dfs -`. Would you be so kind to contribute a PR with that change, please? :slightly_smiling_face:

[2019-06-29 15:54] efiop commented on #2211
For the record: related to https://github.com/iterative/dvc/issues/1629 , but it is much easier to adjust the command for now than re-implement HDFS driver with webhdfs.

[2019-06-29 16:40] jorgeorpinel commented on #2069
Haha thanks.

Def. worth trying 😃

[2019-06-29 17:05] falcowinkler commented on #2211
@efiop i found that `hadoop fs` is actually supposed to work on 2.7.0. Was a local issue. hadoop fs should be fine.

[2019-06-29 17:05] #2211 closed

[2019-06-29 17:06] falcowinkler commented on #2211
if you want to change the command for other reasons, i can still create the pr, i tested it in various versions and `hdfs dfs` works just fine as well.

[2019-06-29 17:13] Naba7 commented on #2069
Yes, I will check into this @efiop @jorgeorpinel

[2019-06-29 17:16] efiop commented on #2211
@falcowinkler Glad it worked for you! Does using `hadoop fs` show the deprecation warning? If so, `hdfs dfs` would still be a useful small patch, which we would be extremely happy to accept :slightly_smiling_face:

[2019-06-29 17:20] falcowinkler commented on #2211
it doesn't show a deprecation warning and i believe hadoop fs is available in hadoop 1.x while hdfs dfs is not. therefore i would advise, we keep the command as it is

[2019-06-29 21:06] shcheklein commented on #1691
Since the logic behind all the commands is similar it's probably make sense to implement it for all commands that support -T, -a options now.

[2019-06-30 05:10] woop opened #2212 "Running DVC in production"
I see a lot of value in using DVC during the development phase of a DS project, especially having the ability to reproduce outputs only if dependencies have changed.

One of the problems we are trying to solve is how we can move a data scientists code back and forth from development and production. Ideally we would want their local development experience to be translated easily into production. I'

[2019-06-30 06:07] dmpetrov commented on #2212
@woop, great question!

Could you please clarify few things to make sure I understand your scenario correctly:
1. Do all the steps (`Get Data`, `Transform Data`, `Train Model`, `Evaluate Model`) work in a single Airflow job/k8s container?
2. Does `Get Data` step work outside dvc and updates data files in a dvc repo?
3. After data files are updated you run `dvc repro` which does the rest: `Transfor

[2019-06-30 09:03] woop commented on #2212
Thanks for the fast reply!

1. Ideally they would be in multiple containers, but for a start I would be fine running them in a single container.
2. Yes
3. Locally I could just do `dvc repro evaluate.dvc` which would run everything. In production I could do the same (if I was using a single task/container), or I could `dvc repro` each step. I'm not clear how that would help though, because it would

[2019-06-30 10:34] dmpetrov commented on #2212
Thank you for sharing details! It is clear with 1-3.

Re (4)... When do you clone git repo based on SHA into a docker container? When you create the docker that needs to be run or when docker it is running (it gets SHA from somewhere and clones the repo based on it).

For reproducibility between container runs in prod you need to share **state** between runs. Git repo is one of the ways to share t

[2019-06-30 12:26] woop commented on #2212
We basically have two approaches.
1. We build the codebase into the container image and just call it directly.
2. We call a base image which contains all dependencies with a startup script. This script pulls in the specified git repo and runs the startup script.

Let's assume we don't pin the cloned repo to a specific git commit. Let's just take the latest one with `git clone`. Wouldn't we create

[2019-07-01 03:52] nik123 commented on #1691
What about to enable `dvc metrics show` not just arbitrary tag but arbitrary commit? The same way `git checkout` command allows to checkout both arbitrary tag (`git checkout <tag_id>`) and commits (`git checkout <commit_id>`).

The syntax of course would be different from git. Something like  `dvc metrics show --id <tag/commit>`. Additionally you can use the same syntax in other commands, like `dv

[2019-07-01 05:53] shcheklein commented on #2203
`test.sh`:

[code]

Running performance test:

`PYTHONPATH=<path-to-dvc-repo>/dvc python -mcProfile -s cumtime -m dvc add -R data`:

[code]

If I get it right `path_info` is extremely slow. @Suor @efiop @pared @mroutis any thoughts?

I'll check it in more details tomorrow.

[2019-07-01 11:52] pared commented on #2203
@shcheklein That rather indicates that we spend a lot of time in PathInfo. Ill run similar test for 0.35.7 so we can try to compare.

[2019-07-01 11:56] AlessandroBregoli opened #2213 "investigate error handlling 'dvc metrics show -a' fetch remote branch"
Executing  'dvc metrics show -a` ask for github credentials in loop. If there is an ssh key for github  the command work but is really slow (more than a minute). If no remote is set for git all work without problem.

**Please provide information about your setup**
DVC version `0.50.1`,  Installed with pip3 on ubuntu 18.04

[2019-07-01 12:09] filipgrano commented on #2203
That would work if we ran on a single machine or with shared storage. Our workers run in a k8s on separate machines and use dvc with local cache and remote storage to synchronize data.

[2019-07-01 12:13] filipgrano commented on #2203
Might be a silly question, but why does the DAG need to be built when simply adding files? How can they be part of any dependencies if they are freshly added?

[2019-07-01 12:33] efiop commented on #2213
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/595218255489138690

[2019-07-01 15:34] efiop commented on #2203
We need to make sure that there are no cycles or duplicated outputs. E.g.
[code]

[2019-07-01 16:31] daskol opened #2214 "Configurable Group Permission for SSH remote"
There is a use case when SSH remote is used by group of colloborators. Each colloborator has his/her own credentials to access server over SSH. Say remote URL is similar to `ssh://servername/data` i.e. it points to directory which could be potentially accessed by every colloborator. The issue is that `dvc push` command sets permisions `0664` and `0775`. This prevents object modification by collobo

[2019-07-01 18:58] mroutis commented on #2214
Good suggestion, @daskol !
You can also set the directory group to data (`chown -R :data <directory>`) and then inherit the group of the directory instead of using the primary group ID: `chmod g+s directory`.

DVC will create the files with the corresponding group ID :slightly_smiling_face:

Otherwise, DVC would need to `chown` after uploading/moving files.

[2019-07-01 19:00] mroutis commented on #2214
Let me know if you find it useful, @daskol , I can add the information to DVC's documentation.

[2019-07-01 22:33] daskol commented on #2214
@mroutis Thanks! I totally forget about set-group-ID option.

[2019-07-01 23:17] shcheklein commented on #2214
@mroutis @daskol really good tip! Would be great to put a not in the docs, guys. Closing this as solved, thanks @mroutis 🎉

[2019-07-01 23:17] #2214 closed

[2019-07-02 03:10] Suor opened #2215 "dvc: consider switching from GitPython"
GitPython causes constant headache and considerable time loss investigating and fixing issues on windows with file not closed and processes not terminated soon enough. We have several places in our code where we were forced to use retries to handle that.

The notable alternatives are [pygit2](https://github.com/libgit2/pygit2) and [Dulwich](https://github.com/dulwich/dulwich).

Does anyone know of

[2019-07-02 04:15] shcheklein commented on #2215
Also, looks like `gitpython` depends on git being installed:

[code]

Dulwich is pure-python. I wonder if we can do `git clone` with it as well? It would be great if dvc does not require git at all in certain cases like `get/import-url`.

We had some troubles with Dulwich trying to compile its C extension or something. @efiop has better idea and even prepared a patch for Dulwich. I'm not sure why

[2019-07-02 06:09] shcheklein commented on #2212
@woop can you elaborate on running multiple pipelines in parallel? If you have a single production system that is retraining some stuff on cron (let's say daily) it makes to me to have a separate "production" branch. Every commit of it should be the latest state of master with updates to the DVC-files forced to the top of it.

[2019-07-02 11:06] efiop commented on #2215
Dulwich doesn't have wheels yet and to install it in pure-python form, we need to explicitly specify special flag to pip install, which can not be included into `install_requires`. That is why I've sent a patch that would fallbackt to pure-python if it is unable to complie C extensions, but that patch got declined, because maintainer didn't want people accidentally installing slower dulwich versio

[2019-07-02 12:33] casparjespersen opened #2217 "Specify remote connection_string un-exposed to Git (e.g. as environment variable)"
Currently, the effect of assigning a connection string to an (Azure) remote is, that the `.dvc/config` file is updated with the actual connection string. This means that it will be exposed to Git, which is unlucky if you care about your data security.

I would suggest a fix where dvc automatically searches for the connection string in an environment variable (or a .env-file, or similar), e.g. `DVC

[2019-07-02 12:38] pared commented on #2217
My 5 cents about implementation:
For user convenience, maybe we should  override `dvc remote modify myremote connection_string my-connection-string` logic so that it creates some automatically ignored config file?

[2019-07-02 12:40] casparjespersen commented on #2217
@pared Right, that would also make sense. And then CI systems would simply need to do run that command prior to running whatever commands are required. I think that would be a good solution.

[2019-07-02 12:51] efiop commented on #2217
@pared great point!

@casparjespersen Or you could simply use `AZURE_STORAGE_CONNECTION_STRING` env var, that is supported already :slightly_smiling_face:

[2019-07-02 13:04] pared commented on #2217
@efiop
Good point, didn't know about that.
Even though, I would at least warn user about possible implications of using `dvc remote modify {} connection_string` for azure.

[2019-07-02 13:15] casparjespersen commented on #2217
@efiop `AZURE_STORAGE_CONNECTION_STRING` is, as I understand it, supported due to how the Azure Storage SDK works. This also means that it does not support two separate remotes. Most use-cases would only use a single remote, I guess, but if DVC is supposed to work with multiple remotes, then this is not a viable solution :-)

[2019-07-02 13:31] efiop commented on #2217
@casparjespersen Great point! So we have a `--local` config `.dvc/config.local` that is added to the gitignore, so you don't track it with it and so won't expose it. This is pretty much what @pared suggested, but it is already implemented :) E.g.
[code]

[2019-07-02 13:34] casparjespersen commented on #2217
@efiop If that is already supported, then that is awesome. I guess the only steps to take then is to

- Warn about possible implications if not using `--local` (as @pared also suggested), and
- Update the documentation to make people aware of `--local` :-)

[2019-07-02 13:41] efiop commented on #2217
@casparjespersen Moved this issue to dvc.org, we'll adjust our docs. Thanks for the feedback! :slightly_smiling_face:

[2019-07-02 15:11] Suor commented on #2009
This is in a bad state now. A number of things needs to be fixed:
- [ ] add a test for directory outputs on ssh
- [ ] make `dvc repro -f` not check outs beforehand
- [ ] do not open max ssh connections each time
- [ ] optimize directory md5 for ssh

[2019-07-02 15:12] efiop commented on #2213
culprit https://github.com/iterative/dvc/blob/master/dvc/scm/git/tree.py#L81

[2019-07-02 15:18] efiop commented on #2213
This is where we actually need that branch fetching https://github.com/iterative/dvc/blob/0.50.1/dvc/external_repo.py#L66

[2019-07-02 15:20] efiop commented on #2213
Related https://github.com/iterative/dvc/issues/2201

[2019-07-02 15:38] efiop commented on #2009
1, 5 for the first iteration

[2019-07-02 17:04] mroutis commented on #2215
I really enjoy using the `pygit2` interface.

[2019-07-03 02:42] shcheklein commented on #2203
Got a 3x-4x improvement with this simple trick:

[code]
@Suor can you confirm that it makes sense?

next is to reduce (or cache?) number of isin calls in the first place, if possible

[2019-07-03 02:49] shcheklein commented on #2203
@filipgrano it looks promising ^^ . We can send an update as soon as I confirm that there is no issues.

[2019-07-03 03:41] GBJim opened #2219 "dvc add causing "ERROR: failed to download" after dvc remove and gc"
Hi, I am using  **dvc 0.50.1**
I found if I do **dvc add** after **dvc remove** and **dvc gc**. It leads to an error as the following:

[code]
Is this an expected behavior? How do I solve this?

[2019-07-03 04:02] Suor commented on #2219
This is a bug. Here is how it supposed to work:
[code]

So the question is how do you reobtain `data.csv`? Or maybe it is not deleted on `dvc remove data.csv.dvc`?

[2019-07-03 05:54] GBJim commented on #2219
Hi @Suor
Wow, I didn't realize **dvc remove** actually delete the data it's self.
The example I made is not exactly what I did. Sorry to make confusion.

My **dvc remove** does delete files properly.
But it's not working on a soft-linked directory(or just directory?)
The following are the exact operations I did:

[code]
 Also, I found the following operations causing the error as well
[code]

[2019-07-03 07:50] Suor commented on #2219
Reproduced the symlink case. Thanks for instructions @GBJim.

[2019-07-03 08:59] Suor commented on #2219
Diagnose: inode is sometimes reused when removing/recreating symlink, link mtime is ignored in directory mtime calc, so we hit cache and load a dir checksum from it, which is absent in cache.

[2019-07-03 09:27] Suor commented on #2215
I am also in favor of `pygit2`. It's maintained by the same people maintaining `libgit2`, so it should be future proof and not do anything weird.

[2019-07-03 09:30] Suor commented on #2219
@GBJim for the time being you can `touch` any file in the dir to make it work, this will update its mtime and resolve the confusion.

[2019-07-03 09:33] GBJim commented on #2219
@Suor  Thank you for the quick reply!
As for files, is there a work-around also?

[2019-07-03 09:47] Suor commented on #2219
@GBJim I am unable to reproduce that one. Using `touch` might still work, renaming a file should definitely work. What operating system are you using?

[2019-07-03 12:49] ei-grad opened #2221 "dvc status -c: confusing message when remote is unspecified"
## Current behavior

[code]

Config contains just a single ssh remote section with an URL. There is no core section options defined in my config.

It couldn't find the `remote` option in missing `[core]` and `-r remotename` option was not specified.

## Expected behaviour

[code]

## dvc version

[code]
I use dvc from `master`.

[2019-07-03 18:03] efiop commented on #2115
They are only skipped on regular builds, but they do run on CRON/releases. It has been done to speedup tests.

[2019-07-03 18:03] #2115 closed

[2019-07-03 19:39] #2176 closed

[2019-07-04 02:03] GBJim commented on #2219
@Suor Ubuntu 18.04 LTS

[2019-07-04 04:48] Naba7 commented on #2069
The previous script only showed files not the commands. I have updated and added commands as well as files.

[2019-07-04 10:53] #2073 closed

[2019-07-04 11:22] AnsujJoshi opened #2224 "failed to run command - you've introduced a cycle in your pipeline that involves the following stages:- job_dir.dvc"
dvc version = 0.41.3
Platform = DEB(Linux)
Installation method = pip

I am trying to run the command
[code]
where automate.sh runs a dataflow pipeline and ML engine(AI platform) job and return the checkpoints to `gs://$OUTPUT_BUCKET/$JOB_DIR`. It is giving me the following error:
[code]
Please help me solve this. Thanks is advance.

[2019-07-04 12:01] Suor commented on #2203
@shcheklein I would rather fall back to comparing strings or go over `_parts` from beginning. Constructing `parents` is way slower.

[2019-07-04 12:03] efiop commented on #2224
Hi @AnsujJoshi ! Could you please try the updated dvc version(0.50.1)? We've fixed a few bugs related to that since 0.41.3.

[2019-07-04 12:04] Suor commented on #2203
I wonder if we should support some partial pulling though. Because:
1. Managing hordes of `.dvc` files might be a nuisance for a user.
2. It might lead to other performance issues.

[2019-07-04 13:12] woop commented on #2212
So the idea is to have endlessly growing branches?

Every time the same step runs, the query will change, which will update the input data, which will rerun all the steps. Then it will commit all of this to the repository for each step in each pipeline every time it runs.

Would need to squash those git repos eventually, they will become massive I think.

[2019-07-04 13:52] #2219 closed

[2019-07-04 18:48] shcheklein commented on #2203
@Suor parent take only 16s for 49995000 calls. 16s out of 500s of execution. I would say it's not a problem at all. 49995000 is the problem. I hope all these checks inside graph can be rewritten to be linear (using some hashing).

[2019-07-04 18:50] shcheklein commented on #2203
@Suor of course, I'm not against using _cparts if it's easy enough.

[2019-07-04 18:54] shcheklein commented on #2212
@woop I'm not sure I'm following you on "Then it will commit all of this to the repository for each step in each pipeline every time it runs.". Why do you need to commit every step separately? Usually, you would run the whole pipeline and then fo `git commit`. Am I missing something?

[2019-07-04 21:38] shcheklein commented on #2203
If everything is done right, PR #2230 gives ~20x improvement:

[code]

Most of the time goes to the `file_contents_ro` check now.

[2019-07-05 06:18] woop commented on #2212
If step 1 doesn't commit, then step 2 will have to rerun step 1 when it runs, and step 3 will have to rerun step 2 and step 1 when it runs. That is because they are still looking at old data hashes. The only way to get around this (it seems) is to commit at every step the latest hashes at each step.

[2019-07-05 08:42] AnsujJoshi commented on #2224
Thanks it worked.

[2019-07-05 08:42] #2224 closed

[2019-07-05 09:18] AnsujJoshi opened #2233 "failed to add file - output 'gs://$BUCKET/testing/images/' does not exist but the file exists in that bucket."
dvc version = 0.50.1
Platform = DEB(Linux)
Installation method = pip

I am trying to do dvc add gs://$BUCKET/testing/images and it's giving me the error that the file does not exist but if I give dvc add gs://$BUCKET/testing/images/$image_name that works fine.

I think i should be able to add directory to dvc add command. My folder gs://$BUCKET/testing/images contains about 2000 files.

What is th

[2019-07-05 09:39] efiop commented on #2233
Hi @AnsujJoshi !

Currently we only support local and ssh directories, gs is not supported. See https://github.com/iterative/dvc/issues/1654

[2019-07-05 09:39] #2233 closed

[2019-07-05 11:52] ei-grad opened #2234 "Config option constants naming"
Follow up on https://github.com/iterative/dvc/pull/2040#discussion_r290985693.

1. Config option name constants are named with the `SECTION_XXX_` prefix. It seems more natural for me to use `OPTION_` prefix for them.

2. `STORAGEPATH` and `CREDENTIALPATH` options name constant from `SECTION_AWS` section is assigned to `SECTION_GCP` and `SECTION_LOCAL`.

It looks that this is coming from the remain

[2019-07-05 12:02] efiop commented on #2234
Great points @ei-grad ! Btw, we could even consider dropping that legacy stuff, since it has been quite a while and we only had it in the first dvc versions, and were mentioned only by a very old tutorial. All our docs never mentionined legacy storagepath and friend at all.

[2019-07-05 12:25] Suor commented on #2213
**Diagnose:** `show-ref --verify` requires exact ref path like `refs/heads/some-branch` and we use non-qualified branch names got from `repo.scm.list_branches()`.

I suggest to never fetch anything as a side effect. We should always work with working tree and git repo state in its actual state. @efiop do we still need that `._try_fetch_from_remote()`?

[2019-07-05 13:48] daskol opened #2235 "Less Verbose Output of dvc push to SSH remote"
I need to push about 10k objects  to remote. So `dvc push` produces too noisy output like
[code]
First of all, it is a bit strange to see progress bar for each file twice. Secondly, I would like not to see progress bar for every upload. It would be great to see single progress bar for a whole bunch of files.

[2019-07-05 16:11] mroutis opened #2236 "remote: use `file://` scheme for "local" remotes?"
To make the URL format match the generic URI generic syntax.

[2019-07-05 17:33] efiop commented on #1970
Need to re-test this with all the new performance patches that have come over the last weeks and see if there is any improvement.

[2019-07-05 18:14] efiop commented on #2236
@mroutis Is there any use case for it?

[2019-07-05 18:49] efiop commented on #2213
@Suor Indeed, after https://github.com/iterative/dvc/pull/2218 we don't need `_try_fetch_from_remote()` at all.

[2019-07-05 19:18] jorgeorpinel opened #2237 "import: strange error with path ending in `/`"
[code]

[code]

Notice the given `path`, `data/prepared/` ending with `/` and the error mentioning an inexistent DVC-file called `emptydvcrepo.dvc`.

It works normally without the slash.

[2019-07-05 21:02] mroutis commented on #2236
It wouldn't change behavior, just part of the interface, @efiop

[2019-07-05 21:07] efiop commented on #2236
@mroutis Yeah, but why would anyone want to use that? :slightly_smiling_face: And if no one needs it, why implement that?

[2019-07-05 22:15] mroutis commented on #2236
I'm not sure people  _want_ to use it.

I thought it made more sense to have valid URL's as remote `url` and not make the distinction between `url` and `path`. However, a `path` without any scheme is a "valid" `url`.

[code]

[2019-07-05 22:15] mroutis commented on #2236
Closing because there's no reason from the user perspective

[2019-07-05 22:15] #2236 closed

[2019-07-05 22:44] shcheklein commented on #1970
yep, that would be great to see if the GCS is fixed

[2019-07-05 23:14] efiop opened #2238 "import-url: lock by default"
To make it symmetrical to `dvc import` command https://github.com/iterative/dvc/pull/2218 . For updating, we could introduce `dvc update-url`

[2019-07-05 23:25] #2146 closed

[2019-07-05 23:28] #1774 closed

[2019-07-05 23:28] #2139 closed

[2019-07-05 23:28] #2201 closed

[2019-07-05 23:33] shcheklein commented on #2212
This is true, only if you are going to run step 2 in a different environment/separate machine? Is it your case? In general you can run `dvc repro`, interrupt it in the middle, and it won't run completed steps again if run `dvc repro` again.

[2019-07-07 00:34] woop commented on #2212
Correct. In my case we are running each step in a pipeline as a separate container (Kubeflow Pipelines, or Airflow with Kubernetes). What this means is that I need to somehow get the DVC files into the next container so that those previous steps don't rerun. One way is to do git commits, another is having a data management layer that does this between steps.

[2019-07-07 06:11] nik123 commented on #2069
@Naba7 does it really work with files? I have just downloaded the latest version from [here](https://github.com/iterative/dvc/blob/01e2fe379caeff52e1f00f6d2143dbec18069f47/scripts/completion/dvc.bash) and put it in `/etc/bash_completion.d` it doesn't complete file names.

For example I have `train.dvc` file in my repo. I type `dvc status tr` and press tab key. I expect that command will be complet

[2019-07-07 08:08] Naba7 commented on #2069
I am still working on it.

On Sun 7 Jul, 2019, 11:42 AM nik123, <notifications@github.com> wrote:

[2019-07-08 07:54] Suor commented on #2238
I don't think we need `update-url`. Why not use `dvc update` to update that?

[2019-07-08 14:57] #2213 closed

[2019-07-08 15:36] pared commented on #2191
#### Ok so here is why we get this strange number of version:
- when installing we get the version of dvc to properly name executable
- if current branch is tagged and unchanged, we will name it as version number (`dvc-0.50.0.exe`)
- if something has been changed, we will add first 6 letters of revision `sha`, which results in `dvc-0.50.0.a54a34.mod.exe`

#### But why is it happening on freshly ch

[2019-07-08 15:37] prihoda opened #2242 "md5sum: unrecognized option '--tag'"
DVC import-url fails on SSH remote where `--tag` option is not available in `md5sum`.
[code]
Server is `Red Hat Enterprise Linux Server release 6.3`

[2019-07-08 15:41] pared commented on #2191
Fix has been introduced by @Naba7 in #2195, thanks @Naba7!

[2019-07-09 05:58] efiop opened #2243 "build: use build stages on travis to deploy to pypi"
This stage would only be ran if all build matrix jobs have succeded.

[2019-07-09 06:01] efiop commented on #2191
@pared so you are confirming that it is fixed? Should we close this?

[2019-07-09 06:16] efiop commented on #2238
@Suor to have an ability to update ones or the others. Though, for that one could specify particular .dvc files, so the usefulness is disputable :)

[2019-07-09 07:01] pared commented on #2191
Yes, checked on master, pulling the dependencies does not introduce changes to the repo.

[2019-07-09 08:25] pared commented on #2191
I am closing the issue, next release should not have such problems.

[2019-07-09 08:25] #2191 closed

[2019-07-09 10:17] MalaysiaMariuane commented on #2242
The DVC import-url fails on SSH remote where there contains a bug

[2019-07-09 10:21] MalaysiaMariuane commented on #2237
https:#//github.com/iterative/example get-started data prepared

[2019-07-09 12:53] pared commented on #2237
The problem is that when generating default default_out name [in imp_url](https://github.com/iterative/dvc/blob/0ab55f84ba279c22efcc7d2fc46aafa9f0243929/dvc/repo/imp_url.py#L13) we do not normalize path, so basename for anything ending with '/' will be ``, which will lead to some strange behaviour, like creating stage file with repo directory name.

[2019-07-09 15:09] efiop commented on #2009
3) for the next step

[2019-07-09 15:46] efiop commented on #2221
@ei-grad Could you post a stacktrace, please?

[2019-07-10 10:23] pared commented on #1691
@andrethrill @brbarkley @nik123
1. I see that we might have here few smaller tasks. Ill try to identify them:
- [ ] `metrics show HEAD~X` - which will show metrics from last `X` commits
- [ ] `metrics show --since {rev}`- show metrics since `rev`
- [ ]  `metrics show --ids={rev1},{rev2},{rev3}` - like `show -a` but restricted to particular revs
Do those options make sense?

2. This is just for met

[2019-07-10 11:52] wstevens-src opened #2251 "Implementation with Perforce"
I want to use DVC with Perforce

[2019-07-10 12:10] efiop commented on #2251
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/598481210150223885

[2019-07-10 13:14] #2251 closed

[2019-07-10 13:50] Suor opened #2252 "remote: bugs in repo dep"
I was looking through our code and looks like there is one bug and one inefficiency in `DependencyREPO.download()` in [these two lines](https://github.com/iterative/dvc/blob/ccb0d7d1b3cc8e34fd10d912c6068f31032db41c/dvc/dependency/repo.py#L70-L71):
1. `self.def_path` is relative to `stage.wdir` usually, not repo root as `Repo.find_out_by_relpath()` assumes. (not a bug, ignore)
2. The code is fetchi

[2019-07-11 00:03] shcheklein commented on #1691
My 2 cents on this.

1. Since `-a` and `-T` are symmetric across `push/pull/gc/metrics-show`, we should make a new option symmetric as well. Especially considering that it does not make implementation more complicated.
2. Using commits is yet another way to manage "experiments". So, it makes sense to provide these options to all the commands that support `-a`, `-T`.
3. CLI-interface-wise: would be

[2019-07-11 04:25] jorgeorpinel opened #2253 "update `url` argument description in `get` and `import` help output"
to `URL of Git repository with DVC project to download from.`

per https://github.com/iterative/dvc.org/pull/464#pullrequestreview-259776737

[2019-07-11 09:44] pared commented on #1691
@shcheklein I agree that for simplicity it would be much better to implement `--revisions` but looking at original feature request, supporting something like `dvc metric show HEAD~10` looks like desired approach too. I think that using revisions to compare last 10 commits results will be a headache for users. One will need to either tag all commits, or `git log` and copy-paste revs to the `--revis

[2019-07-11 10:16] pared commented on #1691
I would also like to start another discussion about `--revisions` option.
As we discussed privately, we come to the conclusion, that probably the most convinient way for user to use `--revsions` would be to provide coma separeted revision ids, like:

`--revisions {rev1},{rev2},{rev3}` (note that providing revisions like: `--revisions {rev1} {rev2} {rev3}` is not viable options, since we would not

[2019-07-11 10:43] pared commented on #1691
Possible solution: require providing revisions after parsing targets, that would make parsing multiple targets and multiple revisions possible.
How that could look like:

https://asciinema.org/a/pSVHHQ17uQBwzN2v0BUI8VaSK

[2019-07-11 12:01] Suor commented on #1691
We are using `rev` already, why not `--revs`?

[2019-07-11 12:59] pared commented on #1691
@Suor I agree, especially that its short and understandable.

[2019-07-11 17:44] shcheklein commented on #2203
@filipgrano please, check the latest release 0.51.1. It should be available via pip to install and give you ~20x performance improvement. Please, let us know if that works for you.

[2019-07-11 17:52] shcheklein commented on #1691
My thinking was - is it possible to derive from the string that is passed to `--revs` what exactly do we want to address? - like if it's a comma separated list of git hashes then we work with ids, etc . Is there an example in Git cli where it expects a list of revs?

[2019-07-11 18:30] kopytjuk opened #2255 "Remote secret handling in .dvc/config"
Currently, there are only two ways to handle secrets (e.g. connection strings, tokens, etc)

1. Use `.dvc/config.local` file. Since this file is not shared among developers in Git, a team has to agree on a local configuration to pull/push data.
2. Use a single environment variable, e.g. `AZURE_STORAGE_CONNECTION_STRING` - but if one has different storage destinations, one variable is not enough.

[2019-07-12 06:20] #2237 closed

[2019-07-12 07:43] pared commented on #1691
@shcheklein looking through documentation, I think closest example would be using refspec:
https://git-scm.com/book/en/v2/Git-Internals-The-Refspec

What do you mean by `what do we want to address`? Determining whether it is commit sha, branch or tag?

[2019-07-12 08:45] BoysFight opened #2258 "Small fille changes, md5's computing last a long time"
DVC version: 0.50.1
Python version: 3.7.1
Platform: Linux-4.15.0-52-generic-x86_64-with-debian-buster-sid
Binary: True
Cache: reflink - False, hardlink - True, symlink - True
Filesystem type (cache directory): ('ext4', '/dev/sda')
Filesystem type (workspace): ('ext4', '/dev/sda')

I have a large directory contains thousands of images, i added the top-level directory to dvc. But when i add a small

[2019-07-12 08:50] #1876 closed

[2019-07-12 09:25] PeterFogh opened #2259 "RecursionError from Repo('.').graph()[0].reverse()"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]
Installed via pip, on Ubuntu 16.04.6 LTS.

The code:
[code]
fails with the following error:

[code]

[2019-07-12 10:01] efiop commented on #2243
Fixed.

[2019-07-12 10:01] #2243 closed

[2019-07-12 11:03] pared commented on #2258
Hi @BoysFight! Yest this behaviour is expected.

Why is it happening?
The mechanism of calculating md5 for directory is based on whole directory contents. So if dvc detects that modification time or size of directory has changed, it will force directory checksum recalculation.  Does that answer your question?

[2019-07-12 13:23] efiop commented on #2259
Hi @PeterFogh !

Thanks for reporting it! That part of the python API is not officially released yet, so there definitely will be some bugs 🙁 Are you using it in one of your scripts? Could you describe the scenario? E.g. how big is the graph and what `networkx` version are you using?

[2019-07-12 13:49] shcheklein commented on #2258
@BoysFight looks like a potential regression to me.

1. It should be running faster second time after the change to the directory, since we don't calculate md5s again, we take them from the `.dvc/state` SQLLite database. Can you check that the time it takes is actually the same to confirm that it runs the calculation again?
2. We have a ticket https://github.com/iterative/dvc/issues/2093 to optimi

[2019-07-12 14:18] PeterFogh commented on #2259
You are welcome. Yaah. I know, I'm pushing DVC to the experimental level 😜.
Your scenario is to save the DVC pipeline graph as a PNG image file - which we store in MLflow as an artefact.

The pipeline looks like this by `dvc pipeline show --ascii`:
[code]

networkx version is:
[code]

[2019-07-13 01:21] shcheklein commented on #1691
Yep, either it's a commit, branch, tag or a list of those.

[2019-07-13 23:25] #1913 closed

[2019-07-14 01:25] jorgeorpinel opened #2263 "import: no changes are made to .gitignore"
[code]

[code]

Shouldn't `model.pkl` be included into `.gitignore` at this point?

[2019-07-14 04:54] shcheklein commented on #2179
@ryokugyu closing this since we failed to reproduce. Please, try to provide a clear instruction on how we can do this if it's still an existing issue.

[2019-07-14 04:54] #2179 closed

[2019-07-14 04:55] shcheklein commented on #2203
@filipgrano closing this since it should be fixed in the latest 0.51+ version.

[2019-07-14 04:55] #2203 closed

[2019-07-14 14:34] kurianbenoy opened #2265 "Warning message in google colabs"
https://colab.research.google.com/drive/1rUPC_IBrZO2Dep3ckm5zHLeFYEFmuWzY#scrollTo=T_Heaa1AA4yG

The error message is shown in the above link. This happens only when I am using google colabs

**Please provide information about your setup**
DVC version: 0.50.1

[2019-07-14 15:04] efiop commented on #2265
@kurianbenoy you have enum34 installed. Uninstall it and those errors will disappear. Related https://github.com/iterative/dvc/issues/1995 https://github.com/iterative/dvc/issues/1582

[2019-07-14 15:08] efiop commented on #2265
@kurianbenoy could you please take a look at piptree to see what package installed enum34 as a dependency?

[2019-07-14 17:26] mindsbackyard opened #2267 "`dvc init` prints analytics warning even if has been disabled"
**When** a new repository is initialized and the `core.analytics` has been set to `False` either globally or system-wide
**Then** a the analytics warning message is still printed
**Causing** a bit of irritation and actually checking the code what's really going on

Seems like the `_welcome_message` function in `dvc/repo/init.py` has no check if analytics is still enabled.

---
**DVC version**: 0.5

[2019-07-14 18:35] #2263 closed

[2019-07-14 20:29] #2267 closed

[2019-07-15 07:27] BoysFight commented on #2258
@pared @shcheklein, Thank you very much for your patient reply.
The directory structure is as follows:
data/dataset
├── dir1
├── dir2
├── dir...
├── dir42
└── label.txt
42 directories, 1 file
There is about 327000 files whose size is varying from 100k to 500k under the dataset directory, and the total size is 54G.

After i add the dataset directory, `dvc status` runing time is 5.655 seconds:
DEBUG

[2019-07-15 09:50] pared commented on #1691
@shcheklein do we actually need to know what it is? AFAIK `git checkout` accepts any of those.

[2019-07-15 10:13] pared commented on #1834
@efiop I think we need to reopen it, or open new issue. The title of this issue is about something different than description, thats my fault. While status take .dvcignore into account while traversing now, we still need some easy way to show user that .dvcignore is working, as intended.

[2019-07-15 10:16] pared commented on #1691
It seems to me, that we need to decide which way we go with implementation of this feature.

1. I would leave discussion "Do we support `dvc metrics show HEAD~10`" for some other issue, as it is some particular use case that is not related to push/pull etc...

2. How to implement data sync operations for few revisions, we discussed 3 approaches so far:
- `dvc pull -rev rev1 -rev rev2 -rev rev3 fil

[2019-07-15 10:18] #1878 closed

[2019-07-15 10:35] pared commented on #2258
@BoysFight thank you very much for elaboration!
It seems to me that status should not take this much time. 300K files is much, but not THAT much. Ill try to reproduce this case and investigate.

[2019-07-15 10:42] efiop commented on #1691
@pared 1 and 2 are tied together. metrics and pull/push/etc should have (if it is feasible) the same syntax for working with references. Unless we decide to redesign it of course, but I don't see the point of that just yet. I totally agree with you, that most would probably just want to have an ability to do something with last N commits or something, so we need to give that syntax a bit of though

[2019-07-15 10:46] pared commented on #1691
@efiop by saying `--all-revs` I was withinkg about current branch, probably the naiming could be improved :)

[2019-07-15 10:49] Suor commented on #1691
@efiop `--rev rev1 --rev rev2` is just too verbose.

@efiop @pared last N commits or from this commit is not a good idea. Why should I care to count commits or copy paste sha? It should work just like `git log` does, calculating and showing things as you scroll.