[2019-10-02 07:26] dmpetrov commented on #2509
To answer these behavior and UI questions we need to return back to the original motivation:

First of all, I understand this pain of not seeing data files in my Git repo.
To my mind, a list of outputs will answer the question. The list of the other Git files (like `README.rst`) seems no relevant and even introduces noise to the answer. Do we need to go recursively - hm.. probably yes, since most

[2019-10-02 08:44] pared commented on #1511
Ideally, I think it should be able to "describe" the removed file. For example removing `model.pkl` from branch master, revision: 1.0. Thought it surely will not be able to describe file which commit was somehow removed, for example, squashed.

[2019-10-02 08:48] pared commented on #2561
Might be related: https://github.com/iterative/dvc/issues/1291

[2019-10-02 09:01] pared commented on #2181
@nik123 I guess that in this case, a "manual" check should be enough.

[2019-10-02 09:34] pared commented on #2508
Ok, so it seems that the problem with "Consider other link types" warning is that it shows up when a single linking operation takes more than 10 seconds. Clearly, that applies only to copying huge singular files. If the user adds a directory, the limit might never be reached, and the message might not be displayed. We should probably consider how to apply `slow_link_guard` to directory-related ope

[2019-10-02 09:35] dashohoxha commented on #1511
As mentioned by @efiop (https://github.com/iterative/dvc/issues/1511#issuecomment-456751851), by digging the Git history it may be possible to find the relevant information for each cached file (i.e. the name of the corresponding `.dvc` file, the commit message, the revision id, and maybe branch and tag name).
But this might be very inefficient for a big Git repo (with hundreds or thousands of com

[2019-10-02 09:58] dashohoxha commented on #2509
Even if it is so, most of the unix tools have an option to produce scriptable output. For example `git status` and `git status --porcelain`.

[2019-10-02 10:47] efiop commented on #2181
@nik123 , @pared is right, I've submitted a change to our contribution guide to clarify that part https://github.com/iterative/dvc.org/pull/665 . Thanks :slightly_smiling_face:

[2019-10-02 11:37] efiop commented on #2561
@pared You are right, it is the same thing. Looks like we've lost it during logger redesign.

[2019-10-02 11:42] mazzma12 opened #2563 "Local cache directory creation does not propagate the parent directory persmissions"
**Please provide information about your setup**
* DVC >= 0.59
* Platform : Ubuntu 18.04

Cache directory does not inherit their parent ownership settings, **if they are created by DVC**. For example, the directory created by dvc will lack write permissions for the user group. This can cause conflicts when using the share group option for multi-user access (iterative/dvc.org#497)

If the cache dire

[2019-10-02 11:43] mazzma12 commented on #497
Note that the group between users has to be a primary group and not a secondary. This can be changed by running : `usermod -g groupName $USER`

[2019-10-02 11:53] efiop commented on #2563
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/628897840839786496

[2019-10-02 12:55] efiop commented on #497
@mazzma12 Looks like you've mistaken dvc and dvc.org repos :) You've meant to link https://github.com/iterative/dvc.org/issues/497 . I'll copy your comment there. Thanks!

[2019-10-02 12:58] efiop commented on #2312
For the record, during the dicsussion with @Suor and @shcheklein , there was a point that md5 of block crcs might be prone to false-negatives, which questions the usability even for external dependecies :( So maybe we should simply remove that functionality from dvc

[2019-10-02 13:00] efiop commented on #1629
For the record: we've switched to pyarrow which is much faster. Having WebHDFS support would be nice too, but since we support full blown HDFS with pyarrow, it might no longer be necessary.

[2019-10-02 13:39] AlJohri commented on #2471
Thanks!!

[2019-10-02 16:27] shcheklein commented on #1511
The problem is that by definition GC is removing "garbage" - and in a lot of cases it won't be possible to find any references even if we were able to analyze the history. What should we do with it? Especially, if we change the default behavior (analyze history and keep it), it will be removing only files that are being referenced.

[2019-10-02 18:50] shcheklein commented on #2509
Regarding the scriptable output. `--porcelain`, `--json`, etc - is exactly an approach that I was mentioning. The point is that most of the tools are not made to be scriptable by _default_.  That's exactly the point of the link I shared:

[code]

Btw, Git porcelain explains it very well why it's better to provide an option for script consumable outputs:

[code]

_stable_ API - It'll be way easier

[2019-10-02 20:22] CodeGenki commented on #2553
Hello! I would like to help with this if no one else is  working on it

[2019-10-02 23:43] shcheklein commented on #1571
@yfarjoun @efiop can it be done with `dvc lock` and/or other commands/options like `--downstream`, etc?

[2019-10-02 23:53] dmpetrov opened #2565 "dvc add is too verbose"
[code]

3 lines - it is too much. At least the 2nd line (about cache) is not needed.

[2019-10-03 10:16] efiop commented on #2553
Hi @CodeGenki !

No one is working on this yet. Please feel free to give it a shot :slightly_smiling_face:  Let us know if you have any questions.

[2019-10-03 17:55] efiop opened #2567 "detect multiple dvc installations in PATH and warn about them"
We've sometimes seen users installing dvc through multiple packages (e.g. deb and pip) and not realizing it. It would be nice to simply check if there are any `dvc` installations in PATH and warn that this might be a mistake.

[2019-10-03 18:17] shcheklein commented on #2567
I wonder if there are examples of tools that are doing something like this?

[2019-10-03 18:51] efiop commented on #2181
Keeping this open until zsh completion is also added.

[2019-10-03 19:05] efiop commented on #2567
@shcheklein I'm sure I've seen a few doing that. Can't remember the specifics right now, though.

[2019-10-03 19:52] #2181 closed

[2019-10-03 21:20] jorgeorpinel commented on #2509
@shcheklein good idea. Here's one: https://github.com/iterative/dvc/pull/2569/files

Right, `INFO/WARNING` etc logs/messages. could be included in the `-v` (verbose) output though.

We should definitely prioritize the features of this command but I also think a good initial design can save lots of time in the future. Let's not go overkill though because once we're actually implementing I'm sure a

[2019-10-03 23:04] mroutis commented on #2567
@shcheklein , good question, @shcheklein , don't know of any, personally :(

Usually you use the distribution's package manager when possible; `pip` is cool but you need to take care of the way it interacts with the environment nice and maintaining it updated.

I'm not sure if tools actually "deal" with this. It is a _common problem_ but I'll hesitate to "solve it" from our side, since there can b

[2019-10-03 23:43] shcheklein commented on #2509
Discussed briefly with @dmpetrov and I think we agreed on **no recursion**, **all files** mode by default. Then, `-o` and `-r` options to filter the list as you need. @dmpetrov could you chime in, please?

[2019-10-04 00:21] jorgeorpinel opened #2570 "pip install errors: moto/boto3, awscli/colorama, requests?"
I already have the repo cloned. I fetch and pull the latest master branch (to this moment) and freshly regenerate my virtualenv in `.env`, activate it and run `pip install -e ".[all,tests]" ` (as instructed in https://dvc.org/doc/user-guide/contributing). It succeeds but I get the following errors:

[code]

[2019-10-04 07:16] pared commented on #2570
@jorgeorpinel
What can you give some more details about your env? I am unable to reproduce on fresh `Python 3.7.4` environment,
tried:
`pip install -e ."[all,tests]"`
and
`pip install -e ."[all,tests]" --no-cache`

[2019-10-04 08:07] syahrulhamdani opened #2572 "Failed to upload to GCS due to connection time out"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC version: `0.61.2`
Method of installation: pip
Platform: Mac

As discussed in Discord, I'm having an issue uploading a dataset to GCS with size of ~50MB. I'm using `google-cloud-storage=1.19.0`. Below is the error

[2019-10-04 08:33] #2043 closed

[2019-10-04 08:34] efiop commented on #2572
For the record: Another user is experiencing a similar issue: https://discordapp.com/channels/485586884165107732/485596304961962003/629269604614799370

[2019-10-04 09:00] pared opened #2573 "ImportError: sys.meta_path is None on repo in script"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Dvc installed via `pip install -e ."[all,test]"` in virtualenv with `Python 3.6.8`.

Reproduction:
1. Create repo:
[code]

2. Try to initialize it in script:
[code]

3. Result:
[code]

4. Something to start with:
if

[2019-10-04 09:20] mazzma12 commented on #2565
+1 for this, IMO the quite option should be default.
Also related, the section about tracking to git is not often easy to copy paster from terminal, especially on remote servers with files running on multilines screen. An option like `--git ` to stage automatically would be great

[2019-10-04 09:59] #1880 closed

[2019-10-04 10:00] efiop commented on #2572
For the record: both users are from the same team.

[2019-10-04 10:03] efiop commented on #2573
@pared this doesn't happen during normal CLI operation, right?

[2019-10-04 10:04] pared commented on #2573
@efiop correct, it seems like its in-script use issue.

[2019-10-04 10:18] efiop commented on #2573
@Suor FYI ^ , maybe you have any ideas :)

[2019-10-04 10:49] amjadsaadeh commented on #755
Is it in the meanwhile possible to avoid locking when executing `dvc run`? According to the thread it looks like, but the docs do not mention any flag for this.

[2019-10-04 11:00] efiop commented on #755
@amjadsaadeh There is currently no way to do that. What you can do is run your command without `dvc run`, then create a dvc file with `dvc  run --no-exec` and then `dvc commit my.dvc`, so it will save everything without re-running your command.

[2019-10-04 11:16] Suor commented on #2573
@efiop flufl locks have destructor, heh. It's their issue and they even [have it reported](https://gitlab.com/warsaw/flufl.lock/issues/7) 7 months ago, with no reaction.

We can use workaround provided there or just make `.__del__()` noop, not sure we need it.

[2019-10-04 12:09] pared opened #2574 "Potential bug when testing run with metrics_no_cache"
In our test base, `TestDirFixture.CODE` copies src to target. It can cause problem if one decides to write a test like:

[code]
In this case metric is not supposed to be in cache. But due to fact that it is identical as `repo_dir.FOO` it is inside cache, so we might end up "finding" it for example [here](https://github.com/iterative/dvc/blob/092c498baac40be46185588596af6727bedd9c01/dvc/repo/__init

[2019-10-04 12:28] efiop commented on #2572
For the record: tried running minimal example of:
[code]

and user was still experiencing the same error. Though, turned out, that lowering chunk_size from default 100M to minimal 256KB made this work. ~8M worked too in this example, but `dvc push` was still failing, as it seems like our multithreaded upload was overwhelming the network.

It is also important to note that `gsutil` works differentl

[2019-10-04 17:39] jorgeorpinel commented on #2570
OK so I pull the latest version of master (`449f43f3`) rn, I make sure no venv is active and remove my previous `.env` dir. Then:

[code]

[2019-10-04 17:48] jorgeorpinel commented on #2515
Per https://github.com/iterative/dvc/pull/2566#issuecomment-538271254, that does not seem to be the case guys.

[2019-10-05 03:31] Suor opened #2575 "ui: add a way to undo `dvc add` easily"
Maybe repurpose `dvc remove` for this, which at least be somewhat intuitive.

The hard part here is removing added file from cache: `dvc gc` is dangerous now and might be slow, simply removing cache file doesn't account for possible other refs to it.

This is inspired by https://github.com/iterative/dvc.org/issues/625 and a corresponding Stackoverflow question.

[2019-10-05 07:10] Suor commented on #2567
Agree with @mroutis we shouldn't solve it with any checks. If we can solve this with docs that would be nice though.

[2019-10-05 07:11] Suor commented on #2567
BTW, `pip --version` provides a related hint:
[code]

[2019-10-05 07:12] jorgeorpinel commented on #2570
BTW I just upgraded my system DVC with `pip3 install dvc --upgrade` and it worked but with 2 red lines:
[code]
which seems like a similar thing.
`dvc version` after update:
[code]

[2019-10-05 08:07] dashohoxha commented on #2575
@Suor Are you suggesting that `dvc remove file.dvc` removes the cached outputs of `file.dvc` and the `file.dvc` itself, but does not touch the files on the work place? This would indeed undo `dvc add file`. Maybe it should also delete the output files from `.gitignore`, to be exactly the undo operation.

[2019-10-05 08:10] dashohoxha commented on #2521
Closing in favor if this: https://github.com/iterative/dvc/issues/2575

[2019-10-05 08:10] #2521 closed

[2019-10-05 11:43] #2489 closed

[2019-10-05 12:14] efiop commented on #2181
@nik123 Thank you for the PR! 0.61.2 with completion scripts is out :)

[2019-10-05 12:31] efiop commented on #2570
This one is about your previously installed packages, that require something else than what dvc requires. There is nothing we can do about it on our side.

[2019-10-05 12:32] efiop commented on #2570
And these

are valid and are our fault, as our `all` reqs conflict with `test` reqs, which doesn't affect users, but does affect developers in a minor way. We should fix that, for sure.

[2019-10-05 12:34] efiop commented on #2567
@Suor Making `dvc version` check that would be acceptable for me too :slightly_smiling_face:

[2019-10-05 12:35] efiop commented on #2515
@jorgeorpinel hence the "most likely" part. As you can see, that PR doesn't have "Fixes" message for this issue. Thanks for the heads up, though.

[2019-10-05 13:14] Suor opened #2579 "ui: NoRemoteError might be swallowed in Repo.fetch()"
Here
https://github.com/iterative/dvc/blob/156fc9d4e1b438a5b9766a343af090f8bd22385c/dvc/repo/fetch.py#L58-L60

`NoRemoteError` will be swallowed and its supposedly helpful message won't be shown.

BTW, we behave differently with `CloneError` and `OutputNotFoundError` lower -  we both show error to user and schedule for future `DownloadError` raise.

Even if this one is fixed we should discuss how

[2019-10-05 13:29] Suor commented on #2579
Another thing that we mixed two types of errors here:
- random ones, like network issues or a file absent in cache
- persistent ones like `NoRemoteError`,  `CloneError` or `OutputNotFoundError`

I would say we should stop doing that and raise persistent errors immediately and only collect download errors.

[2019-10-05 13:51] Suor opened #2580 "dvc: CheckoutError is not properly postponed for multiple targets"
On master branch.

Checkout errors are collected and postponed in `Repo._checkout()` this means that for `dvc checkout/pull` with multiple targets error will be raised on first not fully successfully checked out target and the rest will be skipped.

Also, the error collection process is very cumbersome we might want to invent something better.

[2019-10-05 13:53] Suor commented on #2575
@dashohoxha basically yes. We need to decide on retiring current `dvc remove` behaviour first though.

[2019-10-05 14:12] Suor commented on #2579
Another issue with collecting errors is that makes debugging troublesome since original error and stacktrace are lost.

[2019-10-05 14:17] Suor opened #2581 "dvc: missing caches and DownloadError"
Missing caches yields a warning while any other error leading to partial fetch leads to `DownloadError`. This discrepancy will cause issues, e.g. with `CheckoutError` later.

An example would be this test:
https://github.com/iterative/dvc/blob/156fc9d4e1b438a5b9766a343af090f8bd22385c/tests/func/test_import.py#L67-L81

If we repalce `shutil.rmtree(erepo.root_dir)` with `shutil.rmtree(erepo.dvc.cach

[2019-10-05 14:52] efiop commented on #2579
@Suor You might not have any remote at all, but have imported data. `dvc pull` should work successfully in that case.

[2019-10-05 14:54] efiop commented on #2579
@Suor

Random error is not going to be caught by the try-except that we have. We are catching only NoRemoteError (which we ignore if we have imported data) and DownloadError (for which msg is printed anyways).

[2019-10-05 14:55] efiop commented on #2579
These are printed throgh `logger.exception` that we have.

[2019-10-05 15:02] Suor commented on #2579
NoRemoteError is not printed. And random errors are caught in RemoteBase.download().

[2019-10-05 15:42] Suor commented on #2579
So we swallow `NoRemoteError` intentionally, we should really comment about things like this.

Overall behavior still looks erratic - we raise `NoRemoteError` occasionally, but always gobble up `CloneError` and `OutputNotFoundError` with a message.

Let's rename random/persistent errors into:
- ones indicating that something with dvc repo or env is wrong
- ones indicating some temporary issues

I

[2019-10-05 15:47] dashohoxha commented on #2575
@shcheklein has already asked for `dvc remove` to be deprecated/removed. I proposed that maybe we should improve it, instead of removing. But now I think that your approach of re-purposing it is better.

[2019-10-05 19:01] shcheklein commented on #2570
How is it possible if it was installed in the clean `virtualenv`?

[2019-10-05 20:29] dashohoxha commented on #2565
Maybe staging to Git should be the default behavior for `dvc add`, because this is what you want and what you do in 99% of the cases. If someone does not want `.dvc` files to be tracked by Git, he can unstage them.

This is what `dvc init` already does. Maybe `dvc run` should do it too.
In general, all the commands that output a suggestion like `git add ...`, they should actually do it, instead of

[2019-10-06 08:33] mazzma12 commented on #2565
+1, Default make more sense from what I have experienced. And just `git reset` if you don't want it

[2019-10-06 08:35] mazzma12 commented on #2575
Hi, what about `dvc reset` to follow git naming?

[2019-10-06 09:08] dashohoxha commented on #2575
@mazzma12 The analogy between Git and DVC is not perfect because DVC does not have an intermediate stage, before you commit. When you make `dvc add` it also does an implicit `dvc commit` (saving file to cache). To remove from Git a file that is committed by mistake you actually need `git rm --cached file && git commit --amend -CHEAD` (https://help.github.com/en/enterprise/2.15/user/articles/removi

[2019-10-06 09:09] Suor commented on #2575
git reset is a bad name, we shouldn't use it as a guide.

вс, 6 окт. 2019 г., 15:35 mazzma12 <notifications@github.com>:

[2019-10-06 10:40] efiop commented on #1571
@shcheklein Not sure what you mean.

[2019-10-06 16:34] efiop commented on #2570
@shcheklein Apparently it wasn't clean, but rather inherited from the global env. `docker-compose` and `awsebcli` are definitely not our dependencies.

[2019-10-06 16:54] efiop commented on #2580
Not sure I follow. So we are postponing them so that we checkout everything we can and then fail, so how are we skipping? Could you clarify, please?

[2019-10-06 16:57] efiop commented on #2581
@Suor Are you sure this happens on master and not in your caching patch?

[2019-10-06 16:58] Suor commented on #2580
For multiple targets we call ._checkout() multiple times. Any of those
might fail preventing checkout for remaining targets.

вс, 6 окт. 2019 г., 23:54 Ruslan Kuprieiev <notifications@github.com>:

[2019-10-06 17:02] Suor commented on #2581
The issue is that missing caches is not an error, in master, it never was. This made some sense while we were ignoring download errors also, but it's an incoherency, which will cause issues.

[2019-10-06 17:03] efiop commented on #2580
@Suor Ah, I see. Good point, we should've supported multiple targets in checkout a long time ago.

[2019-10-06 18:31] jorgeorpinel opened #2582 "dvc: pretty slow on Mac"
I experience around 10 seconds before and another 5 to 10 after `dvc version` output (below) on my Macbook Air.

[code]

Attached are a couple logs of `python3 -mcProfile -s cumtime -m dvc version`, the second one after opting out from analytics:

[python3 -mcProfile -s cumtime -m dvc version (with analytics).log](https://github.com/iterative/dvc/files/3694724/python3.-mcProfile.-s.cumtime.-m.dvc.

[2019-10-06 18:35] jorgeorpinel commented on #2582
p.s. My connection is pretty fast, no VPN, and I've experienced this on several different networks recently (residential, WeWork, cafes, hotel).

[2019-10-06 19:05] jorgeorpinel commented on #2515
Just keeping track of updates and validity of my issues.

[2019-10-06 19:10] jorgeorpinel commented on #2570
Ruslan is right about that one @shcheklein. In that https://github.com/iterative/dvc/issues/2570#issuecomment-538624781 I was referring to updating my system DVC installed as a package with `pip`, not to the development version installed as a git repo. Sorry for the confusion, we can safely ignore that comment and focus on https://github.com/iterative/dvc/issues/2570#issuecomment-538645844:

[2019-10-06 19:11] jorgeorpinel commented on #2570
p.s. do you mind if I hide https://github.com/iterative/dvc/issues/2570#issuecomment-538624781 and all its responses, kinda off-topic and now resolved? 😋

[2019-10-06 20:38] shcheklein commented on #1571
@efiop I meant that there are options that help you isolating repro scope. I understand that it's probably not the same as being able randomly specify which stage reproduce and which not, but was thinking may it's enough in most cases? @yfarjoun could you provide a real-life example or two, please? Just to better understand how can it be solved.

[2019-10-06 22:40] yfarjoun commented on #1571
In theory, I think that it can be done with dvc lock and --downstream, but the problem is that it requires a level of understanding of the pipelines that can only be found after running in dry-mode or something like that. The point is that if I were to run a `dvc repro --downstream --dry-run (assuming there is such a thing), look at the resulting list of steps, and `dvc lock` the ones I do not wan

[2019-10-07 07:28] efiop commented on #2570
@jorgeorpinel Please don't hide comments. These were related to the topic.

[2019-10-07 12:37] pared commented on #2532
Related: https://discuss.dvc.org/t/best-practice-for-hyperparameters-sweep/244

[2019-10-07 12:37] pared commented on #2379
Related: https://discuss.dvc.org/t/best-practice-for-hyperparameters-sweep/244

[2019-10-08 11:17] gerardsimons commented on #1074
Hi there! I just wanted to offer my feedback, needs that might possibly be feature requests.

I am working at a start-up and definitely see a need for a tool such as this. Especially the evaluation and comparison is interesting. But similar to the OPI I envision having a dashboard that tracks our team's progress through a web app.

I guess we could maake something like this our selves if there is

[2019-10-08 11:19] alexvoronov commented on #2379
I was looking for best practice on how to organize hyperparameters search, and was pointed to this nice thread. From the discussion here I see that I'm not alone, but I also see that there is no "silver bullet" yet. Here is what I'm missing:

I think I’d like to separate a generic workflow/pipeline/DAG definition from each of its “instances” (with the hashes and all).

Reading through the links in

[2019-10-08 12:23] #2507 closed

[2019-10-08 13:36] AlJohri opened #2585 "error upgrading cask"
I first ran just `brew cask upgrade` which was upgrading all my casks:

[code]

Ran into the above error and then tried to upgrade DVC specifically:

[code]

Not sure what happened

[2019-10-08 13:37] efiop commented on #2585
Moved to the main dvc repository, since it is not homebrew-specific issue.

[2019-10-08 15:26] efiop commented on #2542
As @mroutis @pared noticed, copying approach will slow dvc by a lot, so we might want to consider a different approach. Maybe we could come up with another way? Need to research.

[2019-10-08 16:11] mroutis commented on #2542
We can add an entry to the documentation about the dangers of running two processes working on the same file. Could be also a `HINT` under cache corruption warning.

[2019-10-08 16:54] PeterFogh commented on #1074
@gerardsimons, In my team, we use MLflow tracking. A great web UI, with nice experiment comparison features. Saving ones scores and artefacts can simply be done in a DVC stage.

[2019-10-08 17:40] shcheklein commented on #1074
@gerardsimons thanks! could you please summarize the requirements for the dashboard you have in mind? DVC provides the `dvc metrics show` command and it can cover some part of it I believe. I'm just wondering what else would be valuable to show via UI on top of DVC. Or should we include more stuff into DVC first to visualize it then. Your input can significantly help us prioritize this.

[2019-10-08 18:08] jorgeorpinel commented on #1654
Oh. And should some docs be updated already to let people know SSH directories are supported as external dependencies and outputs?

[2019-10-08 18:10] jorgeorpinel commented on #1654
p.s. I notices Azure is not mentioned in our [External Dependencies](https://dvc.org/doc/user-guide/external-dependencies) guide, but it's a [supported remote](https://dvc.org/doc/command-reference/remote/add#examples). Is the doc incomplete?

[2019-10-08 18:31] gerardsimons commented on #1074
@PeterFogh Thanks for the suggestion, I will take a look!

@shcheklein : Thank you! I will try my best to elucidate a bit. If I understand correctly I can create my own metric and output those with `dvc metrics show` in the terminal? That is already very useful. In my specific use case I want to compare object detections, so I would measure IoU at different confidence thresholds and have things li

[2019-10-09 06:00] jorgeorpinel commented on #1239
A recent support case involving partitioning (and possibly compression), for example is in [this chat conversation](https://discordapp.com/channels/485586884165107732/563406153334128681/631218018088910849), where they have a Parquet Hadoop-style data warehouse in this given structure:

[code]

and wanted to track and version it in place (externally) as it amounts to PBs of data.

[2019-10-09 08:42] efiop commented on #1654
@jorgeorpinel

We only support it through blob API, there is no native support for it at all right now. Plus, as described in that conversation, ETags on Azure don't seem to be consistent enough to be used as a hash for external outputs.

Good point. I guess we can include it into https://github.com/iterative/dvc.org/issues/411 ticket?

Azure is not supported for external dependencies and outputs.

[2019-10-09 08:46] pared commented on #1239
Sorry @jorgeorpinel didn't notice it before.
What do you mean by

Isn't it already happening for directories?

[2019-10-09 08:49] efiop commented on #2585
@AlJohri Releasing 0.62.0 right now, will be ready in an hour or so. Thanks again for reporting this! :slightly_smiling_face:

[2019-10-09 11:02] pared commented on #2492
Seems that this issue might evolve into few smaller ones.
In my opinion, we could start by trying to shortcut the directory check described in [original comment](https://github.com/iterative/dvc/issues/2444#issuecomment-530756109) For checking out unchanged directory.

In #2488 we dropped shallow dir checksum check, which caused us to mark dirs that might have changed access level or link type as

[2019-10-09 11:27] Hiyorimi commented on #1064
Working on this

[2019-10-09 12:31] efiop commented on #1064
@Hiyorimi Let us know if you have any questions :slightly_smiling_face:

[2019-10-09 17:09] DmitriyVahrushev commented on #2553
Hi, are still working on this?

[2019-10-09 18:17] LarryThermo opened #2589 "logging breaks in PowerShell"
DVC version: 0.61.2 as installed by dvc-0.61.2.exe on Windows 10.

When I type dvc add "Training Set" in a Powershell Window I get the error report below.

The Training Set directory is very large (8.22GB, 14186 files). Is this too large for the 0.61.2 version? Suggestions?

Thanks,

Larry

PS C:\Projects-Git\MasuTraining\AutoFocusTraining> dvc add "Training Set"
Computing md5 for a large number o

[2019-10-09 18:24] efiop commented on #2589
Hi @LarryThermo !

Looks like a bug in our progress/logging subsystem. We'll take a look and will try to reproduce it soon.

In the meantime, could you try running that command from a regular cmd terminal, just to check if that one is also affected? Also, have you considered using terminal that comes with git? Or are you usually using PowerShell?

[2019-10-09 18:30] jorgeorpinel commented on #1654
OK. Added note to update docs to https://github.com/iterative/dvc.org/issues/411#issuecomment-540129838

[2019-10-09 18:36] jorgeorpinel commented on #1239
Yes, that's my point, it already happens but not if you track/version compressed datasets. My comment above has a long preamble, sorry. The main point/suggestion is in the last paragraph:

[2019-10-09 18:37] LarryThermo commented on #2589
@efiop,

Thanks for the quick response. Its working from a cmd terminal, yea.

I also tried it from git bash as brought up from a Windows explorer context menu. Unfortunately git bash gives a "bash: dvc: command not found" error, so it is apparently not honoring my path variable which does have "C:\Program Files (x86)\Data Version Control" as its last entry.

I don't normally use Powershell but in

[2019-10-09 19:03] CodeGenki commented on #2553
Yes, sorry it's taking a while. I'll try to get this done soon!

[2019-10-09 21:16] CodeGenki commented on #2553
@efiop should the exceptions only be captured and processed for `Remote.download` or should it be more general and if so, would you recommend aollecting all of the exceptions to a new RemoteBASE method?

[2019-10-09 23:46] Hiyorimi commented on #1064
@efiop I have to note only one thing:

output with my PR changes to be like this:

[code]

One may note that 'help' arg can be moved upper in list, but as far as I went deep into argparse source code and [Stack](https://stackoverflow.com/questions/35847084/customize-argparse-help-message) [Overflow](https://stackoverflow.com/questions/45806664/python-argparse-override-help-from-parent) questions o

[2019-10-10 00:11] sunbc0120 commented on #1995
`pip uninstall -y enum34`

[2019-10-10 09:14] algomaster99 commented on #2279
@shcheklein Shall I take up this issue?

[2019-10-10 09:34] efiop commented on #2279
@algomaster99 Sure!

[2019-10-10 10:01] efiop commented on #2553
@CodeGenki When talking about `_donwload`, the solution for it will involve solution for `_upload`, as they are both used by `_process` in https://github.com/iterative/dvc/blob/0.62.0/dvc/remote/local/__init__.py#L386 . So what we should do here is remove `try: ... except Exception` from https://github.com/iterative/dvc/blob/0.62.0/dvc/remote/base.py#L562 and rather than returning `1` there, just

[2019-10-10 13:29] efiop commented on #2589
@LarryThermo Sorry for the delay. Let me clarify, so it doesn't work from Powersheel but works fine from a regular windows cmd terminal, right?

That is right. You could try calling it directly, though, to see if it works and then adjust PATH in it, if you decide to use it in the meantime.

I'm not familiar with TortoiseGit, is it a GUI wrapper? Are you using it with some IDE?

[2019-10-10 16:38] smohan123 opened #2594 "Blobfuse does not support symlinks - Errno 38 Function not implemented"
**# dvc add --verbose training_output/metrics.json
ERROR: unexpected error - [Errno 38] Function not implemented: '/opt/engine/notebooks/data/.dvc/tmp/80edfb5c2896b5bbebbfc5fb9739dad0.lock' -> '/opt/engine/notebooks/data/.dvc/updater.lock'**
------------------------------------------------------------
Traceback (most recent call last):
  File "/opt/conda/lib/python3.7/site-packages/dvc/main.py", l

[2019-10-10 16:39] mroutis commented on #2594
Discord conversation: https://discordapp.com/channels/485586884165107732/485596304961962003/631859232307675136

[2019-10-10 17:32] mroutis commented on #2594
@smohan123 , after checking and discussing with @efiop ; the only think you can do in this case is to configure the cache to `copy`. This will duplicate the data under the blob storage.
A more detail explanation:

Usually, users have their dvc repository alongside their git one.
This is because DVC creates files that references the _versioned_ data (the so-called _dvcfiles_).
All these versions ar

[2019-10-10 17:32] #2594 closed

[2019-10-10 17:35] mroutis commented on #2594
For the record, this issue was a follow up from a Discord conversation.

[2019-10-10 18:57] LarryThermo commented on #2589
Hi @efiop,

Yes, it did not work from powershell due to the logging error. But it did work with no logging error from the cmd prompt. It also did not work initially in either Git Bash or WSL linux due to pathing problems with finding dvc.exe when "dvc" is typed at the prompt.

I did discover that if I created a symbolic link inside C:/Program Files (x86)/Data Version Control both Git Bash and WSL

[2019-10-10 19:16] efiop commented on #2589
@LarryThermo Thanks for clarifying! :slightly_smiling_face:  As a workaround, consider using git bash or wsl, if you are used to *nix workflow. We'll try to reproduce this issue in powershell.

[2019-10-10 20:11] efiop commented on #2582
Tried adding sleep(100) to places where `requests` is called on both mac and linux and was not able to reproduce. @jorgeorpinel Are you still able to reproduce? If so, could you check if there are any dvc processes running in the background? E.g. `ps -xaf | grep dvc`?

[2019-10-10 20:23] efiop commented on #2420
@drorata I'm still not able to reproduce. Could you show `printenv | grep TERM` please? You've shown a result of a similar command before, but it was case sensitive, resulting in a limited output. Also, are you using some custom profiles for iterm2?

[2019-10-11 01:09] mdekstrand commented on #2378
@efiop I have started making our book data tools use DVC with `--always-changed`, and it seems to be working. See https://github.com/BoiseState/bookdata-tools/tree/dvc; I describe the DVC dance setup in the bottom of the README.

Ultimately, I think I would still like a means to do it without the `--always-changed` status steps. There is a semantic hole in the `--always-changed` strategy, that plu

[2019-10-11 01:17] mdekstrand commented on #2531
The Zen of Python, "explicit is better than implicit", is IMO a good argument for `--always-changed` and deprecating the implicit callback behavior.

However, to the root of this issue: the proposed solutions may solve most of the problems `--always-changed` *does* solve (I am not entirely sure), but not all the problems it was *designed* to solve (I've added a comment to #2378 with the results of

[2019-10-11 10:56] #2490 closed

[2019-10-11 12:12] pared commented on #2492
One thing that could be optimized is reintroducing `self.changed` check that was removed [here](https://github.com/iterative/dvc/pull/2488/files#diff-5db1b60dea7a2f339693d2d6465e0f01L854)
But to make sure we also check link type changes and write permision changes, we should also gather mode for all files in dir and verify it is consistent with `self.protected`. Other thing to check would be that

[2019-10-11 12:13] pared commented on #2492
Another one (thanks to @efiop) : introduce {X}PoolExecutor to `remote.base._checkout_dir`.

[2019-10-11 18:38] jorgeorpinel commented on #2582
Yeah still happening on my machine with the latest DVC version. I ran `ps -xaf | grep dvc` a bunch of times on a separate terminal and It's just `...Python /usr/local/bin/dvc version` for the first 10 seconds (before output) and then both that and `...Python /usr/local/bin/dvc daemon -q analytics ...` for the last 10 seconds after output.

But oh well, as long as this is a problem only on my machi

[2019-10-11 19:23] efiop commented on #2582
@jorgeorpinel No reason to close this, we don't know if it is happening to anyone else, but they are just stopping using it without reporting the issue :) Let's have a meeting together, so I could take a look, maybe it is something obvious that I'm missing. I'll ping you in PM's. Thank you :slightly_smiling_face:

[2019-10-11 20:29] jonhilgart22 opened #2598 "Issue with dvc push to AWS s3 remote"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC: 0.62.1
Mac: Mojave 10.13
Install with pip

issue with `dvc push`

![image](https://user-images.githubusercontent.com/8621935/66682880-fc77c500-ec2a-11e9-9c37-6e276bca005a.png)

[2019-10-11 20:33] efiop commented on #2598
Hi @jonhilgart22 ! Could you show `dvc version` output please?

[2019-10-11 21:11] jonhilgart22 commented on #2598
![image](https://user-images.githubusercontent.com/8621935/66685343-14524780-ec31-11e9-896c-a1205f585e64.png)

[2019-10-11 21:13] efiop commented on #2598
@jonhilgart22 Thanks! And could you show `dvc push -v` output, please?

[2019-10-11 21:14] jonhilgart22 commented on #2598
![image](https://user-images.githubusercontent.com/8621935/66685441-65fad200-ec31-11e9-90f4-5d6708eaac08.png)

![image](https://user-images.githubusercontent.com/8621935/66685449-6d21e000-ec31-11e9-9329-cbcb61c21aff.png)

[2019-10-11 21:15] efiop commented on #2598
@jonhilgart22 And `pip freeze | grep tqdm` please?

[2019-10-11 21:16] jonhilgart22 commented on #2598
![image](https://user-images.githubusercontent.com/8621935/66685558-c0942e00-ec31-11e9-9955-27de5d80b95f.png)

[2019-10-11 21:26] jonhilgart22 commented on #2598
Weird - I just tried `dvc push` again and it worked.

[2019-10-11 21:30] efiop commented on #2598
@jonhilgart22 Hm, just like that? O_o You've done nothing else and it started working?

[2019-10-11 21:32] jonhilgart22 commented on #2598
yep! strange

[2019-10-11 21:34] efiop commented on #2598
@jonhilgart22 Maybe you've updated python or something recently? We've seen some flukes like that when virtualenv breaks after updating a python.

[2019-10-11 21:35] #2279 closed

[2019-10-11 21:39] jonhilgart22 commented on #2598
Not sure but thanks for the help!

[2019-10-12 01:03] jorgeorpinel opened #2599 "`import`: get from source project cache if `url/path` are in the local system"
UPDATE: Jump to https://github.com/iterative/dvc/issues/2599#issuecomment-566346857 (notice also https://github.com/iterative/dvc/issues/2599#issuecomment-700337141)

[code]

I create a DVC project in `/path/to/data-reg` and `dvc add` a `data/` directory in it.

Then I create another DVC project in `/path/to/project` in the same file system and try to import `data/` but get:

[code]

A few problem

[2019-10-12 01:52] algomaster99 commented on #2565
@efiop Can I take up this issue? To summarize the tasks here:
- Explicitly add `--verbose` to display all 3 lines.
- Make `dvc add` stage files to git too.
Am I correct?

[2019-10-12 02:16] jorgeorpinel opened #2600 "get/import: could not perform a HEAD request"
[code]

I'm trying to import a directory versioned in our own [dataset registry](https://github.com/iterative/dataset-registry) project into an empty, non-Git DVC project, but getting this cryptic error:

[code]

The directory in question has file name `b6923e1e4ad16ea1a7e2b328842d56a2.dir ` (See [use-cases/cats-dogs.dvc](https://github.com/iterative/dataset-registry/blob/0547f58/use-cases/cats-do

[2019-10-12 02:20] jorgeorpinel commented on #2600
p.s. I've also tried without `--rev 99d1cdb` and get the same error (different path).

[2019-10-12 05:49] shcheklein commented on #2600
@jorgeorpinel should it be `use-cases/cats-dogs`?

[2019-10-12 06:41] shcheklein commented on #2599
@jorgeorpinel I would probably split this into two separate issues - UI and optimization. It would be easier to track and discuss them.

[2019-10-12 10:02] Hiyorimi commented on #1064
@efiop Since nobody simplified commands to one sentence descriptions, I just turned --help message to uppercase.

[2019-10-12 11:57] dashohoxha opened #2601 "remote: use local cache as default remote"
I will try to explain the idea with a simple example, which can be constructed by this script:
[code]

Now let's try these:
[code]

So, using `dvc get` and its `--rev` option we can get previous versions of a file, and this seems cool to me (at least it is easier than the traditional `git checkout` + `dvc checkout` way).

However `dvc get` requires a **default remote**, otherwise it doesn't work.

[2019-10-12 15:29] shcheklein commented on #2601
I think it should not be failing if remote is not specified _and_ file is in the cache already. Not sure if we need to treat local cache as a default remote though. What would be semantics of `dvc push`? I think it can be confusing for people if it will be working even when remote is not defined.

[2019-10-12 22:43] jorgeorpinel commented on #2600
🤦‍♂ Oops. I forgot I changed the directory name from `data` (original name in the ZIP files used in the Versioning tutorial). But I still can't get it with the correct path:

[code]

What does the "output 'cats-dogs' does not exist" error mean?

[2019-10-12 22:48] jorgeorpinel commented on #2600
Hmmmm... Apparently I didn't push that version of the `cats-dogs` dir in the dataset registry project. It's not in the remote. I'll have to fix that first... I guess this issue is invalid then, fortunately! The messaging here is still pretty confusing though, should I open another issue about this?

[2019-10-12 22:50] shcheklein commented on #2600
@jorgeorpinel yes, please open a new UI issue!

[2019-10-12 23:43] jorgeorpinel opened #2602 "import: cryptic, confusing error output"
[code]

A few problems in error output from `dvc import`:
1.
[code]
- [x] Here the output doesn'e exist so the output is actually good, except for the super long, random-looking path `..._c/3mt_xn_d4xl2ddsx2m98h_r40000gn/T/tmpxczzy97tdvc...`. Is that necssary? I don't think it will mean anything to people.
2.
[code]
- [ ] Here we have the same random-looking path issue, but also there's a prompt t

[2019-10-12 23:45] jorgeorpinel commented on #2600
Done! #2602

[2019-10-13 07:32] alexey-petrov-occ opened #2603 "Tutorial step can not be reproduced"
https://dvc.org/doc/tutorials/versioning#first-model-version
[code]
- `dvc --version` - `0.62.1`
- installation via `pip`
- platform `OSX`

[2019-10-13 08:48] schlichtanders commented on #2532
I made some progress and created a small example, however currently have no time completing it.

Nevertheless here the link:
https://github.com/schlichtanders/dvc_hyperopt_example

the idea is simple: after defining two helper functionalities a hyperparameter search is just a little wrapper script which calls another .dvc file

two helpers
- ``bin/git_push_set_upstream++.py`` which pushes a local

[2019-10-13 09:39] pared commented on #2565
@algomaster99
Definitely, point nr 1 makes sense.
Having said that, second point should probably be discussed in a separate issue. It is definitely not logging problem and also it indicates changing behaviour of one of our commands.

[2019-10-13 14:46] sai-prasanna commented on #2349
@efiop We in our team maintain multiple related projects in the same git repository and would love this features. I would like to get started contributing to this feature. I am new to dvc's code base, will start looking into it this week. Any pointers to what to look for and where would be great.

And what features would this change affect would also be great. e.g. would creating multiple roots in

[2019-10-13 17:45] jorgeorpinel commented on #2600
So, I pushed the data to the remote now.

It actually exists on S3 now:

[code]

However, I try to import (in the same empty non-Git DVC project) and although the progress bar runs for a while up to around 90%, I then get:

[code]

And nothing is downloaded. I've tried several times. My Internet connection is fine
![image](https://user-images.githubusercontent.com/1477535/66719539-e5fe7480-edb6-11

[2019-10-13 17:51] jorgeorpinel commented on #2600
p.s. Here's the last part of the `-v` output of the same command: https://pastebin.com/9tPWivJr

Seems to fail at file `adb29c1de1624c53c808f1a15bd332ba`, but it's there:

[code]

[2019-10-13 20:35] shcheklein commented on #2600
@iterative/engineering `p0` since it's a blocker and a potential bug.

[2019-10-13 20:38] shcheklein commented on #2603
@alexey-petrov-occ could you try to download it manually? https://remote.dvc.org/dataset-registry/fa/9c0eb4173d86695b4e800219651360 ? curl, wget, browser?

I can't reproduce it on my machine

Also, could you run it with `-v` please.

[2019-10-13 20:41] shcheklein commented on #2603
By default it has a 10 seconds timeout, probably, we should be providing a config option to set connect and read/write timeouts.

[2019-10-13 22:54] dmpetrov opened #2605 "dvc get/import shows temporary paths"
[code]

Is there a reason to show temporary paths and what actions we can make on this? I'd expect to see just a file name like `model.pkl`?

[2019-10-14 04:45] alexey-petrov-occ commented on #2603
1. It seems that `curl` fails
[code]
2. but for Safari browser works ;)

[2019-10-14 06:05] pared commented on #2349
@sai-prasanna thank you for your interest in this issue!

To give you some starting point:
1. You will surely need to comment-out [this](https://github.com/iterative/dvc/blob/33bd3d63c5c6328add5a0447226f67ee7c27d31a/dvc/repo/init.py#L66) check
2. when initializing `DvcRepo` we are assuming that git root is the same as dvc root (here)[https://github.com/iterative/dvc/blob/33bd3d63c5c6328add5a044722

[2019-10-14 07:37] drorata commented on #2420
The output of `printenv | grep TERM` is:

[code]

[2019-10-14 10:00] efiop commented on #2600
Can reproduce on my mac, but not on linux
[code]

[2019-10-14 12:21] pared commented on #2600
Reproduction steps for Linux:
script
[code]
Number of max connections [here](https://github.com/iterative/dvc/blob/33bd3d63c5c6328add5a0447226f67ee7c27d31a/dvc/remote/base.py#L735) needs to be changed to some big amount. For me 10k worked.

[2019-10-14 12:22] pared commented on #2600
It seems like we are hitting some limit here.

[2019-10-14 13:37] pared commented on #2600
Related: #2473

[2019-10-14 15:52] pared commented on #2600
It seems that the problem is that, with every request send, we are reserving socket "through" `requests` API, which is taking open file descriptor slot. In this particular case, in method `RemoteLOCAL.cache_exists` we try to paralelly do a lot of `HEAD` calls which leads to overcoming open file descriptors limit.

example:
`ulimit -n 16`

and run:
[code]

[2019-10-14 17:37] efiop commented on #2582
We've had a debugging session with @jorgeorpinel and found that it is `flufl.lock -> socket.getfqdn -> socket.gethostbyaddr` that is slow. On further inspection, we've found that he has some pretty unusual dns settings that seem to be the cause of this. He has now adjusted his dns settings and we are waiting for new results.

[2019-10-14 18:07] efiop commented on #2582
Ok, so turns out on Mac "Computer name" that you set in `Settings -> Sharing` is not recognisable by anyone until you enable "Remote Login" service. So even `ping Ruslans-MacBook-Pro.local` will hang and then fail. The moment you enable that service, everything starts to work instantly. `/etc/hosts` is not updated by that operation, so not quite sure yet about the precise mechanism. But I am able

[2019-10-14 18:32] efiop commented on #2582
Ok, so it is a cpython bug https://bugs.python.org/issue5004 . There is a patch for it from like 9 years ago. We can either monkeypatch it or patch it in flufl.lock and or try to push this fix into cpython as well. Working on this right now.

[2019-10-14 18:37] jorgeorpinel commented on #2582
Thanks for looking at this Ruslan! Glad there's a workaround we can use in `lock.py` so Mac users don't have a bad experience with DVC (I guess most people don't enable Remote login) even if that cpython bug doesn't get addressed soon.

[2019-10-14 19:00] efiop commented on #2582
For the record, submitted a PR https://gitlab.com/warsaw/flufl.lock/merge_requests/12 . @jorgeorpinel confirmed that it works for him now.

[2019-10-14 19:14] jorgeorpinel commented on #2600
I didn't have any problem pushing this whole directory (1800 images) from the source project though.

[2019-10-14 19:17] jorgeorpinel commented on #2600
`dvc pull` also works just fine (from the source project, after deleting the pushed directory).

[2019-10-14 19:24] jorgeorpinel commented on #2600
p.s. I also just tried `dvc get` and the same problem occurs. What makes these different from `fetch`/`pull`?

[2019-10-14 20:34] #2563 closed

[2019-10-14 21:16] efiop commented on #2378
@mdekstrand Sorry for the delay.

Why can't you just combine your `import.dvc` and `import.status.dvc` and use `--always-changed` for it?

[2019-10-14 21:56] shcheklein commented on #2603
Hmm, that's all weird.

@alexey-petrov-occ could you please run `dvc get -v ...`?

Could you try to run a simple script like this from you Python code to download this URL:

https://stackoverflow.com/a/16696317/298182

That's very similar to what DVC is doing internally. And if it's failing I would expect that simple Python code to fail as well. If not, we'll try to pin point the differences.

[2019-10-14 22:27] mdekstrand commented on #2378
There are a couple of reasons why I'm not fond of that option:

- I need to re-implement 'am I up to date?' logic myself so the import can auto-abort, instead of letting dvc take care of that so long as I can produce stable descriptions of state.
- My pipeline [looks like this](https://github.com/BoiseState/bookdata-tools/blob/dvc/pipeline.svg).

The import itself is actually in the middle of 3-4

[2019-10-15 05:15] Suor commented on #2531
I am also for removing `--always-changed` I don't see any use for it outside of strange optimization, i.e. we have dep, which is slow to test for change.

BTW,
[code]
is not smashing stages together. This is a single stage, separating it is an error, which lead to the original issue and confusion.

This is how dvc operates, outputs glue stages together. If some stage generates non-file, i.e. updat

[2019-10-15 05:35] Suor commented on #2531
Thinking a bit more about it, we should handle a situation when a non-file dep (A) might be modified by some external activity to dvc, in this case we will have a stale marker, which will no longer correspond to non-file dep state.

The solution is a callback state updating a marker each time, then any stage dependent on A may still rely on depending on the marker.

There goes an order issue. Say

[2019-10-15 05:41] Suor commented on #2531
A general takeout from all of this - we should define where dvc responsibility ends, like say non-file non-dvc managed deps. Trying to stretch our responsibility over those limits means bringing together mutually contradictory objectives and won't lead to anything good.

[2019-10-15 06:59] Suor commented on #2560
A point on error messages. There are other HTTP error codes/messages, which we can encounter. We now only wrap 404 Not Found, for everything else we should at least show a status line - some people might not immediately recognize that 503 means Temporary Unavailable.

We might wrap 403 with our own message, but simply saying 403 Forbidden might be enough .though.

[2019-10-15 07:01] Suor commented on #2560
On confusing paths. We should disable that message for tmp repos entirely.

[2019-10-15 11:13] efiop opened #2609 "ci: broken windows builds"
https://travis-ci.com/iterative/dvc/jobs/245526221

[2019-10-15 11:32] #1064 closed

[2019-10-15 13:04] pared commented on #2492
Ok, little summary:
- We can try reintroducing check for unchanged directory, but it would need to be performed altogether with check that file modes are consistent with `protected` (could by done by getting `st_mode` during `get_mtime_and_size`) and that no file has been unprotected (mtime check should do that).
- We can introduce `Thread` or `Process` `PoolExecutor` to  `remote.base._checkout_di

[2019-10-15 13:24] pared commented on #2600
Little summary so far:
- The problem is too many file descriptors open upon `remote/base.cache_exists`
- Need to check why `fetch/pull` does not have the same problems as `import/get`

Possible way of handling the problem:
The problem might be triggered by multiple `Session` object created upon each `requests.get` calls. Maybe we could solve that by creating our own `requests.sessions.Session` obj

[2019-10-15 14:18] mdekstrand commented on #2378
To reply to @Suor in#2531, for a piece of the discussion that feels more relevant here:

This is reasonable.

However, DVC has already extended some of this responsibility with external dependencies / outputs; it just limits them to S3, Google Cloud, Azure, and HTTPS. That was actually my inspiration for even thinking about this: I saw that feature as doing exactly what I needed, except limited to

[2019-10-15 15:14] efiop commented on #2605
For the record: we can either chdir() into the temporary repo root or to make a global variable that we can adjust that will make `PathInfo.str()` use it for `relpath` (Kudos @Suor).

[2019-10-15 15:15] shcheklein commented on #2520
related: https://discordapp.com/channels/485586884165107732/485596304961962003/633654336110460929

[2019-10-15 15:44] jorgeorpinel commented on #2498
Agree! Vote for prompt in this case.

[2019-10-15 15:44] efiop commented on #2484
Fixed by https://github.com/iterative/dvc/pull/2583 .

[2019-10-15 15:44] #2484 closed

[2019-10-15 16:16] efiop opened #2611 "updater: detect conda"
Currently, we are detecting if dvc was installed with pip/binary/brew/etc, but not `conda`. Need to research a heuristic we could use and apply it to show custom update instructions.

[2019-10-15 16:27] dmpetrov commented on #2498
Thank you @mroutis for funding these scenarios!

Let's go one by one.

1. checkout a file without cache

Is there are cases when it makes sense to checkout data files without checking out a particular one (answer `Yes` case)? It seems like in most of the cases this is going to happen when a user forgets to run `dvc pull\fetch` - it is fine to fail in this case (wee can also show a proper message l

[2019-10-15 16:38] dmpetrov commented on #2498
A few more things...

It is okay to remove data without prompting if user runs destructive commands like `destroy` and `remove`.

Regarding `dvc run`. It might be not so important as the other commands (`run` is just a wrapper). But I'd suggest removing outputs with no prompting because it removes data derivatives, not data sources.

[2019-10-15 16:56] jorgeorpinel commented on #2498
I thought if you have some files manually added to a directory and then use that dir as `-o` for `run`, it will remove your files with no prompt. These could be some other arbitrary files you needed and have no way of recovering.

[2019-10-15 19:19] efiop commented on #2589
For the record: Looks like `cmd` is affected too: https://discordapp.com/channels/485586884165107732/485596304961962003/633745228179832842

[2019-10-15 19:42] #2609 closed

[2019-10-15 20:05] mroutis commented on #2561
@efiop , @pared  #1291 is not the same thing, this is about warning messages (the other one was about `ERROR` messages :slightly_smiling_face: )

[2019-10-15 20:56] efiop opened #2613 "get/import: consider lstrip("/") for data path"
E.g. `dvc get https://github.com/user/proj /path/to/data` -> `dvc get https://github.com/user/proj path/to/data`. https://discordapp.com/channels/485586884165107732/485596304961962003/633731542539173889 So far, not seeing any reason against it.

[2019-10-16 00:12] #2561 closed

[2019-10-16 04:12] shcheklein commented on #2613
it sounds a bit confusing to alter the path that way - `/path/to/data` is a valid path by itself and is not the same as `path/to/data`

[2019-10-16 04:44] dmpetrov commented on #2498
Good point @jorgeorpinel. It would be great to keep the information about data sources (like `source: true` in dvc-file) and raise an error if run tries to remove it. But even in this case, I'd prefer to fail and ask a user to remove the data source manually first (through `dvc remove added-source-file.dvc`).

How do you @iterative/engineering think, is it a good idea to introduce a new 'source: t

[2019-10-16 10:04] efiop commented on #2613
@shcheklein It is the same for us, because it is a path relative to the dvc repo that we are importing from. It is a safe assumption to prevent errors when users are confused about the concept of `root`.

[2019-10-16 10:55] efiop commented on #2600
Can reproduce this same bug on windows too :(

[2019-10-16 12:40] Naba7 opened #2614 "unused variable in __init__.py"
DVC version = 0.53.2
Method of Installation = pip
DEB(Linux)

`` lineno = 0`` is an unused variable in __init__.py
[code]

[2019-10-16 13:51] efiop commented on #2600
For the record, this only breaks with binary installs. pip works fine. If you are expriencing this, try uninstalling the binary package and installing from pip or conda.

[2019-10-16 14:04] #2614 closed

[2019-10-16 14:47] dnabanita7 opened #2616 "unrequired variable in init.py"
DVC version = 0.53.2
Linux(DEB)

In init.py `` lineno=0`` the unused variable should be deleted.
[code]

[2019-10-16 14:51] #2616 closed, assigned to nobody

[2019-10-16 17:29] jorgeorpinel commented on #2600
You mean on Windows? My install on Mac is from pip.

[2019-10-16 17:43] shcheklein commented on #2613
@efiop I think I don't get the point tbh. `/path/to/data` is an absolute path that has a very precise meaning. If we don't want to support them (absolute path), let's just fail fast a write an error instead of some magic.

[2019-10-16 18:26] shcheklein commented on #2458
Related: https://discordapp.com/channels/485586884165107732/485596304961962003/634088447858180108:

[code]

[2019-10-16 18:45] efiop commented on #2589
For the record, this only breaks with binary installs. pip works fine. If you are expriencing this, try uninstalling the binary package and installing from pip or conda.

[2019-10-16 19:51] shcheklein commented on #2613
kk, I think I misunderstood the intention here, was thinking about `-o` option for whatever reason (not a path inside the project to pull the artifact from).

[2019-10-17 00:19] jonhilgart22 commented on #2598
Alright, I'm running into this issue again.

I've installed DVC inside of a pipenv.

![image](https://user-images.githubusercontent.com/8621935/66968269-23723480-f039-11e9-8ac4-9a28bc5611ae.png)

[2019-10-17 00:20] jonhilgart22 commented on #2598
![image](https://user-images.githubusercontent.com/8621935/66968280-3422aa80-f039-11e9-9d54-77aec055ce8e.png)

[2019-10-17 06:43] aloks98 opened #2617 "Fix import order in dvc/__init__.py"
DVC Version = 0.62.1
Method of installation= pip
DEB(Linux)

[code]

[2019-10-17 09:09] alexvoronov commented on #2379
I have a few thoughts about which models to save, I wonder if they resonate with anyone else too:

### 1. Cache metaphor
Hyperparameter values can be seen as a key, and model can be seen as a stored value, in some hashtable or cache. If there is no stored model, we (re)compute the model and its metrics (e.g. if we come up with a new metric that we need for all models we tried so far). What to stor

[2019-10-17 12:23] efiop commented on #2598
Hi @casperdcl ! Seems to be related to tqdm. Maybe you have some ideas? :slightly_smiling_face:

[2019-10-17 12:28] casperdcl commented on #2598
@jonhilgart22 can you run `tqdm --version` in the pipenv too?

[2019-10-17 14:16] guysmoilov commented on #1682
@schlichtanders Unfortunately, I haven't yet had time. It would be interesting to hear how you envisioned this working, before you were surprised.

[2019-10-17 15:51] debck opened #2623 "Fix import order in dvc/progress.py"
**Please provide information about your setup**
Platform and method of installation ( exe (Windows))

The standard import "from concurrent.futures import ThreadPoolExecutor" should be placed before "from tqdm import tqdm"

[2019-10-17 16:46] jonhilgart22 commented on #2598
tqdm=4.36.1

[2019-10-17 19:01] casperdcl commented on #2598
I wonder if this is some sort of edge case with `=` in the filenames or something similar. The best way to debug this would be if @jonhilgart22 could patch `tqdm/std.py` and post the error output.

[code]
or
`pip install --force-reinstall git+https://github.com/tqdm/tqdm.git@bar_format_bug#egg=tqdm`

[2019-10-17 19:09] jonhilgart22 commented on #2598
after

`pip install --force-reinstall git+https://github.com/tqdm/tqdm.git@bar_format_bug#egg=tqdm`

I see this.

![image](https://user-images.githubusercontent.com/8621935/67039789-ee1c2400-f0d6-11e9-9d8a-717361b41f68.png)

[2019-10-17 19:25] casperdcl commented on #2598
well I just typed that all out rather than asking for text to copy-paste :)

problem was `ncols_desc==0`.

[2019-10-17 19:49] efiop commented on #2598
@casperdcl Great investigation! Thank you! :tada:

@jonhilgart22 Btw, may I ask why are you taking a photo of your screen instead of copy-pasting? I'm honestly really curious :slightly_smiling_face:

[2019-10-17 19:57] casperdcl commented on #2598
yes I felt it was urgent. Thankfully didn't get distracted trying to tweak an OCR program to work on the image!

Also thankfully not an upstream [@tqdm/tqdm](https://github.com/tqdm/tqdm/) bug.

Also surprised by how critical this bug is yet how hard it would've been to trace without the last response (https://github.com/iterative/dvc/issues/2598#issuecomment-543319161) and without knowing a lot a

[2019-10-17 20:11] #2598 closed

[2019-10-18 00:45] mroutis opened #2629 "minio: add warning about pre-existing files"
This is somehow an obscure thingy. MinIO is a file storage with an S3 compatible API, so we support it.

If you set up a bucket on a directory with information that was not created through the API, let's say:

[code]

It will use a default ETag:

https://github.com/minio/minio/blob/d7060c4c32b0fd0672d8a58abcfe54473b49fa39/cmd/fs-v1.go#L45-L46

This will not work with DVC, since two objects with di

[2019-10-18 01:27] efiop commented on #2629
@shcheklein Yes, it only affects external deps/outs with that particular minio misuse. Two different objects having an ETag is most likely a violation of s3 spec, so it is minio's problem. We could add a warning, but I wouldn't bother until someone actually runs into it, as adding files by-hand into the minio is a pretty obscure hack by itself. Having this issue as a record of us discovering this

[2019-10-18 06:03] schlichtanders commented on #1682
dvc already supports json structures and others in metric files

it is natural that such a json structure can have multiple metrics
[code]
it would be great if we could seamlessly work with both metrics in this json, without overwriting the other.
(or is it already possible and I misunderstood this issue?)

[2019-10-18 11:41] efiop commented on #2484
@kaleidoescape 0.63.3 is out. Please give it a try and let us know if it fixed it for you :) Thanks for the feedback!

[2019-10-18 11:42] efiop commented on #2598
@jonhilgart22 0.63.3 is out, please feel free to give it a try :) Thanks for the feedback!

[2019-10-18 11:42] #2617 closed

[2019-10-18 11:43] efiop commented on #2582
@jorgeorpinel 0.63.3 is out. Please upgrade :slightly_smiling_face:

[2019-10-18 13:58] Suor opened #2631 "remote: a bug in _collect_used_dir_cache() for non local"
On master branch.

These lines
https://github.com/iterative/dvc/blob/638aaa254ea475947545edd046116befe82040f1/dvc/output/base.py#L360-L366
try to pull dir listing to local cache, but later we try to open it on remote, with `self.cache.open(...)`.

[2019-10-18 14:00] Suor opened #2632 "test: TestDataCloud only pretends to test dir"
On master branch.

We test `DataCloud.pull/push/status()` for dir json listing instead of dir itself.

[2019-10-18 14:40] jonhilgart22 commented on #2598
Thanks for the quick response!

[2019-10-18 16:30] efiop commented on #2589
@casperdcl Looks like this is tqdm again:
[code]
maybe you have any ideas what's wrong? 🙂

[2019-10-18 16:32] efiop commented on #2589
@casperdcl To be clear, this only reproduces with our pyinstaller-built binary, so it is definitely something on their side, I'm just wondering if you've seen this previously.

[2019-10-18 17:35] shcheklein commented on #2629
@efiop kk, feel free to close this then. I'm a worried about one things, though:

I'm not 100% if S3 public spec guarantees ETags to be md5s and/or unique across multiple files. It might be it has to guarantee only the semantics you usually need from Etags - if you change a file ETag must change. It's important to understand for us to actually understand if we can guarantee full support for the S3

[2019-10-18 17:54] efiop commented on #2629
Had a discussion with @shcheklein . I'm thinking we could simply add
[code]
to `RemoteS3.save()` method to only catch this for `external output` scenario, as for `external deps` this works fine as an indicator of content changes.

[2019-10-18 21:01] Naba7 opened #2633 "Fix import order in dvc/remote/local.py"
Standard library imports and Related third party imports should be placed before Local library specific imports.

[2019-10-18 21:10] casperdcl commented on #2589
@efiop yes looks like some odd implementation of threading by pyinstaller. I've seen issues like AWS Lambda and Jython not implementing multiprocessing properly. Perhaps we could catch and ignore the error in this edge case?

[2019-10-18 21:11] efiop commented on #2631
For the record: This is a leftover from the time when we didn't have `Remote.open()`.

[2019-10-18 21:25] Naba7 opened #2635 "Fix import order in dvc/system.py"
Standard library imports and Related third party imports should be placed before Local library specific imports.

[2019-10-18 22:15] efiop commented on #2635
Fixed by https://github.com/iterative/dvc/pull/2636

[2019-10-18 22:15] #2635 closed

[2019-10-18 22:16] efiop commented on #2589
@casperdcl Actually thinking about dropping pyinstaller-built binaries, since they bring quite a bit of hustle. I will take a closer look once more soon. Thanks! 🙂

[2019-10-18 22:17] efiop commented on #2633
Fixed by #2634. @Naba7 Please don't forget to include "Fixes #ISSUE_NUMBER" into your PR messages, so these are closed automatically once merged.

[2019-10-18 22:17] #2633 closed

[2019-10-19 00:35] jorgeorpinel opened #2637 "update/uninstall: add these commands?"
- `dvc update` - depending on how DVC was installed, the process is different and you may forget how it was installed and finding out exactly may not always be so trivial. Maybe we can simplify this by providing a self-update (version upgrade) command? (We already have an update notice.)
- `dvc uninstall` - same but for completely removing DVC from the system. Maybe leaving global config unless `-

[2019-10-19 00:39] jorgeorpinel commented on #2637
Per #2611 it seems we already detect most of the kinds of installs.

[2019-10-19 01:07] mroutis commented on #2637
@jorgeorpinel , my experience with `update` commands are not nice at all. I think it is not worth it.
`uninstall` is also a weird one :thinking: .

I'm not sure what's the experience of the rest, but with mine, I'd hesitate to add this.

[2019-10-19 03:10] shcheklein commented on #2637
@jorgeorpinel agreed with @mroutis on this one. It's not very common for CLI tools to have a special command for this. Neither it is easy to implement to make it work reliably.

[2019-10-19 17:58] shcheklein commented on #2637
closing this for now. I think it too early and too complicated to have these commands

[2019-10-19 17:58] #2637 closed

[2019-10-19 18:02] shcheklein opened #2638 "status: extremely slow on a million image uncached directory"
**Details**:

[code]

**Context**: https://opendatascience.slack.com/archives/CGGLZJ119/p1571500778020600

* `dvc run` was used to `unzip` 1M (`~11GB`) images archive into a directory, `cache: false`:

[code]

* a few images were missing in the old archive, and ZIP was removed with `dvc remove`.
* `dvc gc` took a while to execute after that (**why?**)
* `dvc status` after that:

[code]

Hanged for

[2019-10-19 21:54] #2549 closed

[2019-10-19 22:44] efiop commented on #2638
Caused by #2492

[2019-10-19 23:07] efiop commented on #2420
@drorata Btw, since you've experienced that issue with dvc installed from conda, could you please try installing using `brew install iterative/homebrew-dvc/dvc` as see if that works or not?

[2019-10-19 23:23] efiop commented on #2572
@syahrulhamdani How is it going, need any help? :slightly_smiling_face:

[2019-10-19 23:50] shcheklein commented on #2638
@efiop can you give a bit more details? in this case directory is not under DVC control, so how can it be related to checkout?

[2019-10-20 00:14] jorgeorpinel commented on #2582
Nice! It's fast now before output but still around 3 seconds to get back to the console prompt AFTER the command output, whether with or without analytics... Here's the profiler output: https://pastebin.com/isBDYC4E

[2019-10-20 00:14] jorgeorpinel commented on #2582
I mean **13** seconds.

[2019-10-20 02:01] jorgeorpinel commented on #2637
OK, iterative/dvc.org/issues/702 should be enough then. Thanks!

[2019-10-20 03:55] shcheklein commented on #2638
Have tried to reproduce using imagenet (~0.5M images):

[code]

output of the last `dvc status`:

[code]

`dvc version`:

[code]

no luck reproducing this so fat

[2019-10-20 03:56] shcheklein commented on #2638
or something changed between 0.62.1 and the latest master - will check it next run

[2019-10-20 03:58] Suor commented on #2638
@shcheklein it's not clear whether dir is modified or not. If that is modified, say a few files missing, then it will be slow. That is an older issue - https://github.com/iterative/dvc/issues/1970

[2019-10-20 04:29] shcheklein commented on #2638
@Suor :

[code]

this is after modifying the directory (removing one file).

4m << 1h+

[2019-10-20 06:15] drorata commented on #2420
@efiop I'd prefer to skip this test on my work computer --- it could be a little messy in terms of mixing environments, isn't it?

[2019-10-20 09:51] efiop commented on #2638
@shcheklein Indeed, that ticket doesn't seem related. Need to take a closer look.

[2019-10-20 12:32] efiop commented on #2420
@drorata True, but you could uninstall it from conda first. Then it shouldn't cause any issues.

[2019-10-20 13:02] efiop commented on #2378
@mdekstrand Would it be possible to check db state without actually importing it? I actually had that scenario in mind when we were talking about this issue and assumed that you have a way of knowing db version without a long-running import. You've mentioned http server, so I assume it will be able to tell db version without importing it, right? Why can't you have a local script that would do that

[2019-10-20 13:17] Suor commented on #2378
S3 and friends are files in all the senses we need. We can checksum them, commit to cache and checkout, push and pull, which is the cycle of reproducibility dvc provides. This is not so with some external db.

[2019-10-20 13:20] efiop commented on #2582
@jorgeorpinel Ok, this time this seems to be OS X fault for not caching dns requests https://github.com/rust-lang/rust/issues/31665 .  Will prepare a workaround ASAP.

[2019-10-20 18:23] drorata commented on #2420
But it means I'd have to install Python using brew, and this can cause conflicts with my conda based environment... 😬

[2019-10-20 20:00] efiop commented on #2420
@drorata when you `brew install iterative/homebrew-dvc/dvc`, it creates a virtualenv and creates a shim that you are calling dvc through, so python is not exposed to the outside.

[2019-10-20 20:08] efiop commented on #2420
@drorata though I am finding some mentions of brew and conda colliding, so looks like I'm wrong.

[2019-10-20 20:36] efiop commented on #2582
Aaaand I can fully reproduce the original issue but now with getaddrinfo on my conda on mac :grimacing: Looking into that...

[2019-10-20 20:58] efiop commented on #2420
Alright, I've tried with multiple versions of conda, as well us regular python (since the other user was experiencing that without conda) and I'm not able to reproduce. Double checked changed in our reqs, but can't put my finger on anything. Tried with multiple versions of asciimatics too. I'm postponing this until there is more info. It would be great if anyone who is able to reproduce could do s

[2019-10-21 13:54] rampatnaik opened #2641 "Dvc push with parallel manner"
Hello dvc team

I am using storage in local which takes lot of time.

Can we do parallel push?

[2019-10-21 14:06] #2580 closed

[2019-10-21 15:38] efiop commented on #2582
@jorgeorpinel Could you please install
[code]
and see if that helps?

[2019-10-21 16:07] efiop commented on #2641
Hi @rampatnaik !

Push is parallelized already, by default it uses 4*NCPU threads to upload files. You can increase that number with `--jobs` option.

Btw, is it status collection that takes a lot of time or the uploading itself?

[2019-10-21 16:14] jorgeorpinel commented on #2582
Ran that (with `pip3` in my case) and it's fast now! Under 1 sec to output `dvc version` and immediately back to the prompt. The installation did run into these errors though, pasting here in case it's relevant:

[code]

[2019-10-21 16:19] efiop commented on #2582
@jorgeorpinel Thanks! I think we have a separate issue for those.

[2019-10-21 16:20] #2582 closed

[2019-10-21 20:24] edisongustavo commented on #2589
Hello, I'm also getting this on my installation in Ubuntu 19.04.

## DVC installation information

[code]

I installed DVC using PIP, but my `tqdm` installation is:

[code]

## error message

[code]

[2019-10-21 20:29] efiop opened #2645 "progress bar not showing by default"
https://github.com/iterative/dvc/pull/2550

@casperdcl Commenting out `disable` code makes it work.

[2019-10-21 20:31] efiop commented on #2645
@casperdcl  https://github.com/iterative/dvc/blob/master/dvc/progress.py#L92 should probably be
[code]
?

[2019-10-21 20:35] #2645 closed

[2019-10-21 21:12] casperdcl commented on #2589
hmm this looks like it's a logging handler error. Perhaps the handler is using a lock while the thread has finished? the problem would be

https://github.com/iterative/dvc/blob/22742618081c6b8bf8ac672459dc59654f2d15f0/dvc/logger.py#L157-L159

which internally uses `Tqdm.get_lock()`.

is there any way we can insist on a thread not dying before the log messages get flushed?

[2019-10-21 21:15] casperdcl commented on #2645
yes. definitely. ahem.

[2019-10-21 21:20] efiop commented on #2600
https://requests.kennethreitz.org/en/master/user/advanced/ says that session is using a connection pool by default. Chaning to using session instead of requests.request directly made everything work for me and I no longer see fluctuations in fd numbers. Will send a patch ASAP. Kudos @pared :tada:

[2019-10-21 21:54] #2600 closed

[2019-10-21 22:28] mdekstrand commented on #2378
@efiop wrote:

Yes. If I implemented the HTTP server, it would either return a 404 when asked for the status of an import operation that has not run, or it would return an empty result that would not match the result from any successful import. That would be enough to let DVC know that the output does not exist and should be recreated. My ideal end state actually depends on this: if external outpu

[2019-10-21 23:15] mroutis commented on #2629
Looks like Minio has several problems with ETags, another bug discovered on Friday, copying a file to a different path changes the ETag.

It is better to work with a real S3 instance and test it with [moto](https://github.com/spulec/moto) (as we currently do).

[2019-10-22 00:55] ghost opened #2647 "remote: getting a directory checksum requires uploading a file to an external cache"
**Version**: 0.62.1

**Description**: The current approach to calculate a **directory checksum** is to collect its contents' checksum and then "upload" it and get the checksum provided by the remote:

https://github.com/iterative/dvc/blob/a091b67341b00fea8ef43906f59c88cb38f384ff/dvc/remote/base.py#L246-L256

For example, if it is an S3 remote, DVC will **create a file** containing an "index" of th

[2019-10-22 01:53] loche415 commented on #1654
Hi, does dvc support external storage for s3 currently? It returns "failed to add file - output 's3://dvcbucket/mydata' does not exist" after I run command "dvc add s3://dvcbucket/mydata". However, I do have created bucket "dvcbucket" and folder "mydata" before.
Thanks.

[2019-10-22 01:55] mroutis commented on #1654
Hello, @loche415 , I'm working on the support of directories for S3 outputs and dependencies. There's a _work in progress_ already, it should be ready for tomorrow :)

[2019-10-22 01:58] loche415 commented on #1654
Thanks for your hard work @mroutis and looking forward to this new feature.

[2019-10-22 02:01] mroutis opened #2648 "remote: efficiently collect directories"
**Version**: 0.62.1

**Description**: The current implementation for `_collect_dir` is an **N+1** operation, where it `walk`s the directory to list all the files and then for each one compute/request its checksum.

https://github.com/iterative/dvc/blob/4171aac0294fd316d51558d2593d10ff006221c2/dvc/remote/base.py#L195-L231

The `state` saves us from recomputing/requesting all the checksums again (th

[2019-10-22 05:11] shcheklein commented on #2647
@mroutis I don't understand the issue described, tbh. Could you provide please an example where it's clear what cache is being used, what remote is being used, where directory is located, etc.

[2019-10-22 05:20] shcheklein commented on #2648
@mroutis again, could you please provide an example when it can benefit us? Am I correct that it will be a custom implementation for S3 to calculate a directory hash, for example when we need to use it as an external dependency and/or output?

If that is the case, does it mean, for example that it can be 1 vs N api calls via boto3? do we have some numbers to compare? It's hard to make any decision

[2019-10-22 07:00] anshks commented on #2613
Hey @efiop , I have just started contributing to open source. I would like to resolve this issue. Can I know in which file the changes need to be made? Or do I need to search for it.

[2019-10-22 08:23] Suor commented on #2581
This is related to https://github.com/iterative/dvc/pull/2608

[2019-10-22 12:18] efiop commented on #2613
Hi @anshks ! Sure. So you need to `path = path.lstrip("/")` in https://github.com/iterative/dvc/blob/0.63.4/dvc/repo/imp.py#L5 and in https://github.com/iterative/dvc/blob/0.63.4/dvc/repo/get.py#L24 .

[2019-10-22 12:48] Suor commented on #2542
Copying won't help anyway in general case as several processes might change out concurrently or someone just gets in between. Document this and maybe provide a HINT as @mroutis suggested is as much as we can do.

Ultimately we rely on users and their code to behave ;)

[2019-10-22 14:27] guysmoilov commented on #1682
@schlichtanders  AFAIK, you understood correctly.

[2019-10-22 14:34] jorgeorpinel opened #2649 "dvc: new export or archive command?"
For projects created with `dvc init --no-scm`, since no Git repo versions all the files NOT in tracked by DVC, it could be useful to have a `dvc export` command to easily create a lightweight copy of the project (for backup). It's "lightweight" because it wouldn't include any of the data tracked by DVC.

Similar to `git archive`. Could even include an `--archive` flag to make a tar/zip bundle of t

[2019-10-22 15:01] efiop commented on #2542
Ok, so need to add a hint to the corrupted cache error and need to note this stuff in dvc add/run/etc command reference on dvc.org.

[2019-10-22 15:11] Suor commented on #2542
We probably need a concept of well behaving command:
- only reads from specified deps
- only writes to specified outs
- completely rewrites outs (no appending, editing, etc)
- stops reading/writing on command exit

Explain why is this important and then link to it from commands.

[2019-10-22 16:55] mroutis commented on #2647
Sure, @shcheklein . Take a look at the following script, it setups a mock S3 server with a directory which then is used as a dependency on a `dvc run` command:

[code]

To use `remote://s3/data` as a dependency, DVC needs to create a file on the remote cache with the following content:

[code]

_Note: added newlines for readability but the file shouldn't contain newlines.

Such file would be locat

[2019-10-22 17:12] mroutis commented on #2648
Yes, @shcheklein , this would be a custom implementation for S3.
I'll provide a more concrete example with some numbers when the support for directories on S3 is fully implemented (#2619)

[2019-10-22 19:03] jorgeorpinel commented on #2600
I can confirm it's fixed for me as well. Thanks!!!

[2019-10-22 19:13] jorgeorpinel opened #2650 "update: not updating"
[code]

Notice how the last command still counts 500 images each in cats-dogs/data/train cats/ and dogs/, however the latest version of `cats-dogs.dvc` in https://github.com/iterative/dataset-registry/tree/master/use-cases should track 1000 files in each.

[2019-10-22 19:19] jorgeorpinel commented on #2650
To confirm that all the files are on the remote, I go to my local copy of the **dataset-registry** repo and run:

[code]

Note that the `HEAD` Git commit is https://github.com/iterative/dataset-registry/commit/99d1cdb9829ffb66323f862265b36c2b3ffc5dd4, same as the tip of `master` in that repo rn: https://github.com/iterative/dataset-registry/commits/master

[2019-10-22 20:54] efiop commented on #2650
Can reproduce. Investigating.

[2019-10-22 21:04] efiop commented on #2650
Bug caused by https://github.com/iterative/dvc/pull/2583

[2019-10-22 21:15] efiop commented on #2650
Ah, alright, I've missed this: `cats-dogs-v1` is a tag that doesn't go anywhere. So update for that tag is not possible, as there is no newer version for it, it is not a branch. So this is not a bug.

[2019-10-22 21:17] efiop commented on #2650
@jorgeorpinel to update to cats-dogs-v2, you need to re-import it. There is no option for `dvc update` to tell it specific rev that you want to update to yet.

[2019-10-22 21:18] efiop commented on #2650
@jorgeorpinel We can introduce that option though :slightly_smiling_face: Something like `dvc update cats-dogs.dvc --rev cats-dogs-v2`. What do you think?

[2019-10-22 21:20] shcheklein commented on #2647
Thanks, @mroutis ! It's definitely helpful. Some questions that are still not exactly clear to me:

Is it an _integrity_ check or a check to see that a remote dir has changed to rerun a stage if needed? If it's an integrity check, when do we run it?

Even if create an index file on the remote cache, how does it help to see if the directory changed or not? We need to calculate that file every time,

[2019-10-22 21:24] shcheklein commented on #2650
@efiop what would happen if I don't specify initially a `--rev` option when I do import and then I run `dvc update`. Will it update to the latest master?

Btw, what are the differences between running `dvc update` and `dvc import` again?

[2019-10-22 21:27] efiop commented on #2650
@shcheklein  Yes, it will import from default branch and if it moves then `dvc update` will update it to the new state.

Update moves within the specified `rev` (the one specified during import) and so if it is a specific sha then it won't ever update it. If it is a specific tag that didn't move it also won't update it. Basically there is no difference between `dvc update` and `dvc import --rev ca

[2019-10-22 21:30] jorgeorpinel commented on #2650
Ah, thanks for the info! Interesting indeed. It makes sense...

Re-import it how? Using the commit hash instead of the tag name? That will detect the commit's branch when updating? (I want to import an older version and then update it to the latest.)

Yes, I was going to suggest that also.

[2019-10-22 21:37] jorgeorpinel commented on #2650
Hm. Sounds like I can't do what I wanted then (import an older version and then update it to the latest), at least not with `dvc update`. I have to run `dvc import` again...

What happens if I (re-)import with `dvc import cats-dogs.dvc --rev master`, will that become a regular import that can be updated later with `dvc update`?

Besides or instead of adding `--rev` to `dvc update`, I would say tha

[2019-10-22 21:40] shcheklein commented on #2650
You can (and probably should). As an illustration, it won't be runnable. I think it will a regular workflow in certain case to `import` just a branch and then use `dvc update` from time to time to move to the latest commit in it.

[2019-10-23 00:12] nagisa opened #2652 "DVC assumes pythonpath will be set which is not necessarily true"
[code]

[2019-10-23 00:49] jorgeorpinel commented on #2650
What do you mean?

Even if you specify `--rev <branch>` I think what Ruslan said implies those imports will also never update. Let's wait for his feedback though.

[2019-10-23 00:56] efiop commented on #2652
@nagisa Thanks for reporting this issue! I see that you are using a very old dvc version. Could you please upgrade and see if that issue still reproduces? Current dvc version is 0.63.4

[2019-10-23 01:07] nagisa commented on #2652
Not able to update it currently, but a brief look at the code suggests that `PYTHONPATH` is still unconditionally indexed [`here`](https://github.com/iterative/dvc/blob/bfc0a3596f9ea633dc7037de07be958b7f322525/dvc/daemon.py#L102) and there appear to be no attempts to fix it up anywhere in either the old version nor the master.

[2019-10-23 01:09] efiop commented on #2652
@nagisa But we are setting it there, not getting it. It won't cause KeyError, since we are the ones who are setting that key in that line.

[2019-10-23 01:11] nagisa commented on #2652
Oh, in that case it must be fixed. Thanks for pointing it out :)

[2019-10-23 01:11] #2652 closed

[2019-10-23 01:17] efiop commented on #2652
@nagisa Btw, even in 0.40.7 I'm not seeing `env['PYTHONPATH']` https://github.com/iterative/dvc/blob/0.40.7/dvc/daemon.py#L102 . I'm not seeing it in newer or older files. This is quite strange. Is there anything special about your setup?

[2019-10-23 01:23] nagisa commented on #2652
It is special in that `nix` is used to build `dvc`, but, otherwise, not really.

[2019-10-23 02:11] shcheklein commented on #2650
I mean that user won't be able to to run `dcv import` without specifying `--rev` to get the initial version. But, we should use `dvc import` without `--rev` to illustrate the regular workflow. In the real world your project evolves along with the data registry and you just use the most recent version w/o specifying `--rev`.

no, I hope that when you use `dvc import artifact` (w/o rev) `dvc update`

[2019-10-23 04:49] sai-prasanna commented on #2349
@pared Thanks, will take a look.

Unfortunately I can't start working on it proper immediately. If anyone else want to work on this immediately, feel free.

[2019-10-23 04:56] nik123 opened #2653 ""dvc pull" shows progress bar too early"
**Information about setup**

DVC version: 0.63.4
Method of installation: pip
Platform: Ubuntu Linux 16.04

**Description:**
I access my dvc remote via ssh. Whenever I execute `dvc pull` command dvc asks for passphrase for my RSA key and immediately shows progress bar before I've entered anything from my keyboard:

[code]

Such format is confusing: first time I've executed `dvc pull` I was wonderin

[2019-10-23 05:32] efiop commented on #2652
@nagisa I'm not familiar with nix :thinking: But it has to be the cause, most likely. Please feel free to try a newer version, if nix pkg is still broken, please try contacting its maintainers too, since they are probably more familiar with this type of issues. But if pip is also available for you, I would try it out as well, as it will most likely work. :slightly_smiling_face:

[2019-10-23 08:01] dashohoxha commented on #2650
@jorgeorpinel To understand the behavior of `dvc update` with respect to `dvc import --rev <tag>` and `dvc import --rev <branch>`, it might be useful to think about the difference between a `<tag>` and a `<branch>` in Git. A `<tag>` is a label that always points to the same commit (revision), unless explicitly moved. A `<branch>` is a floating label that always points at the top commit of a certai

[2019-10-23 17:43] shcheklein commented on #2653
@casperdcl could you take a look please?

[2019-10-23 17:45] shcheklein opened #2655 "version: detect and show the way DVC was installed"
The way the `dvc version` command works:

[code]

It outputs only `Binary: False` or `Binary: True` depending on how DVC was installed. Which is not granular enough.

See also docs: https://dvc.org/doc/command-reference/version

We can try and use the logic behind the update message (`def _get_package_manager(self)` from the `updater.py`) to show in the `dvc version` output how exactly DVC was ins

[2019-10-23 20:23] casperdcl opened #2658 "Add stats"
continuation of #2546

- [ ] tidy up remaining stats (no need for `<00:00`, add total size in bytes, etc)
- [ ] add progress to other uses of `stage.dump`
- [ ] profile `repo.check_modified_graph()`, `stage.save()`, `stage.dump()` etc to find out what other functions are slow, perhaps add progress for them too
  + md5sums only take about 10% of the total time. There must be other more time consumi

[2019-10-23 20:31] BernMcCarty opened #2659 "dvc pull gives python error as of version 0.63.4"
DVC version 0.63.4
Ubuntu 18.04
Installed via pip via poetry

After upgrading DVC from 0.62.1 to 0.63.4 I started seeing this error when our CI system does a dvc pull command:

` dvc pull --jobs 3 --with-deps ./ImputeByEcg.dvc`
`ERROR: unexpected error - type object got multiple values for keyword argument 'desc'`

[2019-10-23 22:31] efiop commented on #2659
Hi @BernMcCarty !

Could you please show `dvc pull --jobs 3 --with-deps ./ImputeByEcg.dvc -v` output?

[2019-10-24 00:02] casperdcl commented on #2653
ah, the bar might actually be showing before the prompt, but it's just drawn below all text (including the prompt).

[2019-10-24 03:03] BernMcCarty commented on #2659
dvc pull --jobs 3 --with-deps ./ImputeByEcg.dvc -v
    DEBUG: PRAGMA user_version;
    DEBUG: fetched: [(3,)]
    DEBUG: CREATE TABLE IF NOT EXISTS state (inode INTEGER PRIMARY KEY, mtime TEXT NOT NULL, size TEXT NOT NULL, md5 TEXT NOT NULL, timestamp TEXT NOT NULL)
    DEBUG: CREATE TABLE IF NOT EXISTS state_info (count INTEGER)
    DEBUG: CREATE TABLE IF NOT EXISTS link_state (path TEXT PRIMARY

[2019-10-24 04:35] shcheklein commented on #2659
@casperdcl

[2019-10-24 08:06] bhavaniravi opened #2667 "pull: not providing response on success"
I was following the get started tutorial with local storage, followed the steps until `dev pull` - https://dvc.org/doc/get-started/retrieve-data.

When I do a `dev pull` and the data is fetched I don't get any response saying `Sucess` I have do a ls to verify whether the data folder has been created

[2019-10-24 08:17] efiop commented on #2659
@casperdcl Could you please take a look? :slightly_smiling_face:

[2019-10-24 08:21] efiop commented on #2655
Related https://github.com/iterative/dvc/issues/2611

[2019-10-24 10:48] fmannhardt opened #2662 "DVC file cannot be a dependency"
**Please provide information about your setup**
dvc 0.63.4
Windows

I updated DVC to 0.63.4 and now get the error message:

for any operation. This seems to be related to the following change: https://github.com/iterative/dvc/pull/2493

I understand that it was wrong usage to use the DVC file as input instead of its output. I can fix this manually in the file, but what about my GIT history? How ca

[2019-10-24 11:45] efiop commented on #2662
Hi @fmannhardt !

You are using `-a` and/or `-T` flag with `dvc fetch`, right?

[2019-10-24 11:54] efiop commented on #2649
@jorgeorpinel User can do that with tar or zip no problem. Wouldn't bother with this until someone asks for this functionality and has good reasons why he can't use tar or zip :slightly_smiling_face: There is a special reason for `git archive` -- it excludes `.git` directory, which is somewhat useful. For us there is nothing we should exclude, so it would be the same as running `tar` or `zip` on t

[2019-10-24 12:04] casperdcl commented on #2659
that's definitely an outdated version of `tqdm` being used (the path is `tqdm/_tqdm.py` instead of `tqdm/std.py`). @BernMcCarty  `pip install -U tqdm` or `pip install -U dvc` should hopefully fix the issue. If not, please re-post the error output.

[2019-10-24 12:12] efiop commented on #2659
@casperdcl But we have ` 4.35.0` in our deps, should we update it?

[2019-10-24 12:23] jeremcs commented on #2659
I encountered the same issue and I have an up-to-date `tqdm` (4.36.1).
The issue seems to be the workaround of a corner case in `format_dict` that defines the `desc` dict field. This dict is expanded as kwargs by tqdm's formatter but `desc` is already defined there.

[2019-10-24 12:36] casperdcl commented on #2659
wait hang on...

https://github.com/iterative/dvc/blob/8d067c8805229f2312810700b467c4de7d14ca6e/dvc/progress.py#L139

There are two things wring with that line. Yes, will need fixing.

@efiop I think it's safe to say `tqdm<5` rather than pinning but it's up to you.

[2019-10-24 12:40] BernMcCarty commented on #2659
BTW I was eager to adopt this v0.63.4 to see if it would stop filling up my gitlab CI logs with noisy progress.  I guess the fact that we're even in tqdm probably means that it still will show progress in this version even when running on my CI server. With the recent change, is there a way I can stop this noisy progress on my CI server? I've never found a way.

[2019-10-24 12:45] casperdcl commented on #2659
@BernMcCarty do you mean your CI doesn't support carriage return (`\r`) so doesn't put progress on a single line?

[2019-10-24 12:48] BernMcCarty commented on #2659
I guess the answer is yes.  We are using gitlab and we see tons of progress lines like so and then we hit the gitlab log limit and this is a big problem.

    ../../.dvc/cache/52/c3601f726f35e69afc581851eb69b2:  96% 6.83G/7.13G [00:13<00:00, 536MB/s]

    ../../.dvc/cache/52/c3601f726f35e69afc581851eb69b2:  97% 6.88G/7.13G [00:13<00:00, 539MB/s]

    ../../.dvc/cache/52/c3601f726f35e69afc581851eb6

[2019-10-24 12:55] casperdcl commented on #2659
right, so you'd have the same problem with progressbars when pip is downloading and spinners when building wheels...

Is running dvc with `--quiet` not an option?

If not, probably best to open a separate issue.

[2019-10-24 13:36] fmannhardt commented on #2662
No, the error also occurred when simply calling:
`dvc fetch`
and there is a .dvc file in the repository that refers to another .dvc file as dependency.

My problem is basically that I can change this for the future, but when I need to checkout an old tag then I would be unable to fetch the results.

[2019-10-24 14:20] casperdcl commented on #2659
@efiop I mean that I use semver for `tqdm` so any version 4.x.x should not break `dvc`.

I'm not a fan of aggressively pinning dependencies because that can cause version conflicts. I think dvc also recognised this and specifies minimum versions (`tqdm>=4.35.0` as you said). But for ultimate safety maybe add `<5`? It's a minor point; I'm unlikely to release a v5 that would break anything the way I

[2019-10-24 14:20] efiop commented on #2662
@fmannhardt Got it. So you can just fix it for now. In theory tags and branches can be updated too, but I totally see your point. We will consider changing this error for a warning, it doesn't seem like that would hurt anything much. Really we should've risen that error since day 1, but we were missing that until now 🙁 Thanks for the feedback!

[2019-10-24 14:27] casperdcl opened #2664 "pseudo-tty verbosity"
continuing discussion from #2659,

Envs like gitlab don't support carriage return `\r` so progressbar updates get printed on new lines (https://github.com/tqdm/tqdm#faq-and-known-issues).

## possible solutions

To disable and/or reduce progress frequency:

- check `os.environ` for gitlab (and other CI?) env vars
- support a new dvc env var
- add another dvc log level

related to #2329

[2019-10-24 14:28] efiop commented on #2659
@casperdcl Ah, got it. I wasn't aware of that in tqdm. Sure, let's limit with `<5`. I'll edit in a second. Thanks! :)

[2019-10-24 15:58] BernMcCarty commented on #2659
I had the --quiet option in place until very recently and it made no difference.  I actually only just took it out when I tried to upgrade to v0.63.4 because from the release notes I thought progress might be suppressed automatically since it is running on a CI server.

[2019-10-24 16:04] efiop commented on #2659
@casperdcl Just tested and indeed `-q` doesn't suppress progress bar, we have a bug.

[2019-10-24 16:10] efiop opened #2665 "-q|--quiet doesn't suppress progress bar"

[2019-10-24 16:10] efiop commented on #2659
created https://github.com/iterative/dvc/issues/2665 for that

[2019-10-24 16:13] efiop commented on #2664
Looks like the issue was that -q is not working https://github.com/iterative/dvc/issues/2665 , so there is no need for any of those possible solutions.

[2019-10-24 16:14] #2653 closed

[2019-10-24 16:20] danfischetti opened #2666 "skip dag checks for large repos"
"dvc add <file>" can take hours in a repo with 1000s of files, due to the `repo.check_modified_graph(stages)` step. Can we make this configurable so I can avoid checking the graph if i know I'm not introducing cycles?

Similarly, when we `checkout` a file, the `repo.collect` step will always create a graph `G = graph or self.graph`, even if i explicitly pass in the path for a single file. This gra

[2019-10-24 16:30] BernMcCarty commented on #2664
It appears gitlab has known about [their \r problem](https://gitlab.com/gitlab-org/gitlab-runner/issues/2154) for two years.

[2019-10-24 16:39] efiop commented on #2666
Hi @danfischetti !

This is a lack of optimization for large DAGs on our side. Ideally, we should investigate it and optimize it, 1000 nodes in a DAG shouldn't take hours, for sure. But if you need quick and effective solution, just monkey patch `check_acyclic` with `noop` and you should be set. I suppose you are only using dvc through API, right? If so, then monkey patch is the best quick and dir

[2019-10-24 16:55] jorgeorpinel commented on #2650
Makes sense.

But I don't agree that it would be wrong or unexpected that `update` detects the branch when imported with specific SHA or maybe even unmoved tag. When you run `dvc update`, and you know the repo has changes, you probably **expect** to get the changes back from update.

However I don't have a string opinion either way. No approach is "wrong". It's just a matter of deciding the behavi

[2019-10-24 17:21] jorgeorpinel commented on #2649
What about huge data files? I'm talking about a lightweight copy of the repo as if you just cloned it with Git (but for `--no-scm` projects). A backup of the DVC project without data files.

[2019-10-24 17:23] BernMcCarty commented on #2659
If `--quiet` is fixed and if it is the only way to suppress the progress output, then that still leaves folks like me who use GitLab in a pickle if `--quiet` is going to suppress **all** output.  CI troubleshooting is hard and time consuming I don't actually want DVC to be completely silent,  I just don't want noisy progress that fills up my log to the limit.  Something like `--no-progess` maybe.

[2019-10-24 17:49] efiop commented on #2659
@BernMcCarty How about redirecting to a file then? That way the progress bar will be automatically disabled.

[2019-10-24 17:51] efiop commented on #2666
@danfischetti Btw, could you post cProfile output, please? That way we can have a better overlook at what is slowing you down.

[2019-10-24 17:56] BernMcCarty commented on #2659
But I want to see the output.  Would piping the output to tee disable the progress bar somehow?  Maybe worth finding out, but just having --no-progress or the ability to set a control as an environment variable would be simpler.

[2019-10-24 18:14] BernMcCarty commented on #2659
@efiop Is that a new feature that redirecting `dvc pull` to a file automatically turns off progress?  I just tried it with v0.64.0 and that did not work.  I still got progress.

    Multi-Threaded:
    38%|███▊      |../../../../../../../../../cv-pipeline/io/parsed/Echo measur628359168/1662167418 [00:10<05:07,    3.36MB/s]
    1%|▏         |../../../../../../../../../cv-pipeline/io/parsed/ICD_pars

[2019-10-24 18:21] casperdcl commented on #2659
Really think it best to continue discussion in #2664...

[2019-10-24 18:22] casperdcl commented on #2659
`dvc pull --jobs 3 ./QueryParse.dvc > ~/scrap/dvcpull.txt`

Should be

`dvc pull --jobs 3 ./QueryParse.dvc 2> ~/scrap/dvcpull-stderr.txt`

[2019-10-24 18:27] shcheklein commented on #2667
Thanks, @bhavaniravi ! The same with `dvc checkout` actually in certain cases. We've removed too much from the output at some point and need to get some stuff back a little bit cc @casperdcl

[2019-10-24 18:31] casperdcl commented on #2664
As @BernMcCarty mentions, `-q` suppresses (or is meant to) more than just progress, which may not be desirable

[2019-10-24 18:40] efiop commented on #2666
Tried to check if `check_acyclic` was slow with
[code]

but it only took 1 sec. So looks like it is not the culprit, looking into `_collect_graph`...

[2019-10-24 18:49] BernMcCarty commented on #2664
Redirecting stderr to a file in order to get the progress to turn itself off worries me because if there is one thing that I really need to see in my CI logs it is errors.  I'd rather manually turn progress off with something like a `--no-progress` option.

[2019-10-24 18:53] efiop commented on #2664
@BernMcCarty I usually do something like:
[code]
that way if mycmd fails, I get the last part of the log with the errors.

[2019-10-24 18:54] casperdcl commented on #2664
doesn't `dvc ... 2>&1 | tee` pretty much fix this?

[2019-10-24 18:54] efiop commented on #2665
@casperdcl Could you take a look at this too, please? :) Looks like we broke it somewhere while migrating to tqdm or later.

[2019-10-24 18:54] BernMcCarty commented on #2664
@casperdcl I think you are right.  Seems to work.  Clever.

[2019-10-24 18:55] casperdcl commented on #2664
much hack such fun

[2019-10-24 18:57] efiop commented on #2649
@jorgeorpinel Ah, got it. Yes, I can now see the value there. Thanks for clarifying! :slightly_smiling_face: Please feel free to raise the priority if you need this feature, otherwise I would probably wait until there is a clear useful scenario in which someone will actually use this.

[2019-10-24 19:00] casperdcl commented on #2665
https://github.com/iterative/dvc/blob/ed1f643a6e1e20593009cd0ceb2b3823c93706df/dvc/main.py#L36-L37
plus
https://github.com/iterative/dvc/blob/ed1f643a6e1e20593009cd0ceb2b3823c93706df/dvc/progress.py#L53-L54
plus
https://github.com/iterative/dvc/blob/ed1f643a6e1e20593009cd0ceb2b3823c93706df/dvc/progress.py#L83-L85

means this shouldn't be an issue: `logging.CRITICAL > logging.ERROR`...

[2019-10-24 19:18] efiop commented on #2666
@danfischetti Ok, found the issue. We are using `nx.simple_cycles` instead of simply using `nx.find_cycle` which is a lot faster. Preparing a patch right now.

[2019-10-24 20:41] #2666 closed

[2019-10-24 21:29] efiop commented on #2659
@BernMcCarty @jeremcs 0.65.0 is out. Please upgrade. Thanks a lot for the feedback! 🙂

[2019-10-24 22:22] efiop commented on #2667
I'll close this one in favor of https://github.com/iterative/dvc/issues/1035

[2019-10-24 22:27] shcheklein commented on #2667
I think #1035 was about `dvc run` commands, when you execute repro. For example, you can imagine you can just capture command outputs when you run repro and show only OK marks when something is done.

This one is about pull and checkout being completely silent. Even though they are doing something. Or they they say something like "Everything is up to date" at the end (while actually they changed t

[2019-10-24 22:31] efiop commented on #2667
@shcheklein No, it was about other commands as well, I remember the discussion we've had. I see no point in keeping this issue opened when we have #1035

[2019-10-24 22:55] shcheklein commented on #2667
@efiop kk. I recall it in a different way :) And probably it means that ticket is not specific enough, lacks some details (@bhavaniravi should have been able to find that ticket at least and upvote it, for example). I would keep this one if you want to keep only one.

Also, I think the approach from #1035 won't be solving the issue. It will be just printing "ok" every time which is not enough agai

[2019-10-24 23:05] anshks commented on #2613
Thank you @efiop . Looks like it has been resolved now.

[2019-10-24 23:34] efiop commented on #2613
Oops, thanks for the heads up!

[2019-10-24 23:43] efiop commented on #2667
@shcheklein I'm no saying we should print "OK", I just used that as an example there. I'm sure there is a better way to signal successful execution, but it will surely need to be applied to all commands. Or you think each command needs a special "ok" message?

[2019-10-24 23:58] shcheklein commented on #2667
yep, that's the point. Take `git` - each commands writes some useful info about what has just happened, not just a generic "ok".

[2019-10-25 00:01] jorgeorpinel commented on #2649
No problem. Yes, I agree maybe no one really needs this haha. `p3` seems correct, maybe no `p` at all for now. Let's wait and see. Thanks!

[2019-10-25 00:03] jorgeorpinel commented on #2649
p.s. another variant of this feature could be something like `dvc clear` to delete all linked data files from the workspace, thus producing a lightweight project (except for .dvc/cache). This could easily be reverted again by `dvc fetch`. Let's see if anyone ever wants this in the future. 😋

[2019-10-25 00:15] efiop commented on #2667
Well, we've established that git is not the best example :slightly_smiling_face: But I think that all of those messages need to be considered simultaneously to be in the same style, hence why I want to leave only #1035 and deal with specifics later. There is no value in having this issue opened with #1035 closed, as it talks about a more general problem.

[2019-10-25 00:20] shcheklein commented on #2667
I mean, yes and no :) Like I mentioned I don't like #1035 because it's very confusing in terms of title, of what exactly should be solved there, it's not actionable (it's impossible to solve it reasonably for all commands at once, so it's better to split it anyways, or have sub-tickets). It lacks all the discussion here (and making related won't the issue) :). Also, it's fine to have one epic tick

[2019-10-25 00:26] efiop commented on #2667
So how #1035 or this one should look like in a general form? Name of #1035 seems fine, or do you have a better one in mind? Also, you think we should create checkboxes for every and each command? That seems strange. #1035 is worded in a generic form, talking about all dvc commands in the name of the ticket and providing (bad) example in the description.

[2019-10-25 02:01] efiop commented on #2137
For the record, this one is taken by @algomaster99 . Not able to assign yet, working on adding him to organization.

[2019-10-25 02:20] shcheklein commented on #2667
Well, as I mentioned I would just keep this one, not making it even general. I think the #1035 is ambiguous, does not provide any useful information, the action it suggests (the way you interpret it) only partially solves or does not solve at all the problem. I just don't get why would I need a generic "ok"-style output at all? How can it solve the problem here? I can just check the exit code easi

[2019-10-25 07:06] syahrulhamdani commented on #2572
Hi @efiop, sorry for the super late respond. I'm just starting to work on this.
So, I've been thinking few things to implement. But, looks like you've done it. How's it?

[2019-10-25 11:29] casperdcl commented on #2667
could create a project and add both these issues (and other related future ones) to it

[2019-10-25 12:00] efiop commented on #2667
@shcheklein I think there is a miscommunication here. The issue says `I.e. green "OK" or something better.` and the key part is "something better", which is probably a per-command message. So I have to stress once again that I didn't mean that we should have a generic "ok" everywhere, I was just showing an example there to present the general idea.

Sure, every command needs to be revisited separa

[2019-10-25 12:00] efiop commented on #1035
https://github.com/iterative/dvc/issues/2667#issuecomment-546325720

[2019-10-25 12:00] #1035 closed

[2019-10-25 18:44] danfischetti opened #2671 "Optimize stage collection for large repos"
I posted this issue #2666 yesterday which was closed but the patch did not solve my underlying issue. The DAG is constructed using the stages from the `repo.collect_stages()` method. This method is what is very slow for me with a large repo. So I would like to ask again if you could make the collection of every stage before any operation optional so it doesn't take hours to `dvc add` a single file

[2019-10-25 19:34] efiop commented on #2671
@danfischetti Could you please post a cProfile log from your specific use case so we can see more clearly what is slowing you down? :slightly_smiling_face:

[2019-10-25 19:36] efiop commented on #2671
@danfischetti Also, did the change from yesterday make any difference for you?

[2019-10-25 19:45] #2572 closed

[2019-10-25 19:58] efiop commented on #2589
@casperdcl So sorry for such a late response. Didn't dive into it yet, maybe you could re-assign it and take a closer look, please?

[2019-10-25 20:37] danfischetti commented on #2671
I just updated to 0.65.0 and I don't see any difference.

[code]

I interrupted the call after about 2 minutes.

[2019-10-25 21:00] efiop commented on #2671
@danfischetti Got it, so looks like I've misunderstood you yesterday :slightly_frowning_face: (we've found a major bug thanks to that, so yay :tada: :slightly_smiling_face: ).

Please correct me if I'm wrong, but AFAIK you are only using dvc through API, right? In that case, a quick workaround would be to simply monkeypatch `Repo.check_modified_graph` with a `noop`. E.g.
[code]

I need to stress t

[2019-10-25 21:23] efiop commented on #2671
Though, thinking about it, operations like add/fetch/checkout/etc that are related to data management part of dvc sholdn't really care about DAG relations. At most, they could check that there are no overlapping outputs when you are doing things like `dvc checkout`, since that would create a race condition(but for this we don't have to collect dag for the whole project). This is a really interesti

[2019-10-25 21:36] danfischetti commented on #2671
Currently we really only use the API, but that is partially because a lot of the cli primitives are so painfully slow. Some simple things would be nice to do without having to drop into python and script it.

The bulk of our directory structure is organized by "scene", which is a logical unit of video and image data corresponding to a point in time. There are 100s of scenes and each scene has a fe

[2019-10-25 21:54] efiop commented on #2671
@danfischetti Were you able to pinpoint the parts that are slow for you there compared to the API? Also, have you tried a 0.65.0 CLI? It should be pretty similar to API these days. We've improved the startup time in the recent versions quite significantly, so the gap between CLI and API should've shrunken.

Thanks for clarifying! Would that monkeypatch workaround be suitable for you for now? In th

[2019-10-25 22:05] efiop commented on #1654
@matt-miller-virginia @loche415 Hi guys! Support for s3 directories is already released in 0.66.0, please upgrade and give it a try :) Big thanks to @mroutis for implementing it! 🙏 And thank you guys for the feedback! 🙂

[2019-10-25 22:06] efiop commented on #1654
For the record, s3 was added to a doc ticket too https://github.com/iterative/dvc.org/issues/411

[2019-10-25 22:07] efiop commented on #2572
@syahrulhamdani The patch was released in 0.66.0, please upgrade and give it a try 🙂 Thanks for the feedback!

[2019-10-25 23:57] shcheklein opened #2672 "version: detect and show the way DVC was installed"
The way the `dvc version` command works:

[code]

It outputs only `Binary: False` or `Binary: True` depending on how DVC was installed. Which is not granular enough.

See also docs: https://dvc.org/doc/command-reference/version

We can try and use the logic behind the update message (`def _get_package_manager(self)` from the `updater.py`) to show in the dvc version output how exactly DVC was insta

[2019-10-25 23:57] #2655 closed

[2019-10-25 23:57] shcheklein commented on #2672
Related #2611

[2019-10-26 00:12] danfischetti commented on #2671
I have tried the 0.65.0 cli, the reason it's slower than the API is we're skipping the high level "add" operation and are manually creating Stage objects. Otherwise the api would be just as slow due to the `collect_stages` call.

Yes i think the idea in mentioned in that comment would work. DAG checks are totally appropriate when doing a top level checkout, only skipping that when a specific file

[2019-10-26 00:56] mroutis commented on #2542
@PeterFogh , I'm wondering why the logger affected the output? Could you come up with a minimal example to reproduce this with Dask?

Maybe there's something else that we might be overlooking :thinking:

Tried to reproduce it with the following example:
[code]

But since the cache is protected, it couldn't continue writing on the second echo.

Now that I'm thinking about it, looks like protected c

[2019-10-26 01:13] mroutis commented on #2672
@shcheklein , there's room for improvement in `_get_package_manager` method.
Probably using `where dvc` to look if the path is prefixed by `$VIRTUAL_ENV` or `$CONDA_ENV_PATH` to know if it was installed under a virtual environment.

Also, I don't know if it is possible to modify the `setup.py` or something before building it with `fpm build`. This would be helpful because instead of guessing which

[2019-10-26 01:16] mroutis commented on #2041
What's the conclusion on this one? @iterative/engineering

I'd like to remove it, indeed

[2019-10-26 01:27] mroutis commented on #2542
@PeterFogh , also, consider using XFS as your remote's file system to enable `reflinks`, you'll have a better experience with DVC :)

[2019-10-26 02:55] TheusBoot commented on #1995
what

[2019-10-26 03:48] jorgeorpinel commented on #2041
So far all in favor, I think. ✋

[2019-10-26 06:33] shcheklein commented on #2041
👍

[2019-10-26 20:26] n3hrox commented on #2553
Hey @efiop, I didn't see any new PRs regarding this issue so I went ahead and created it myself, hope its fine with you, would be glad if you could take a look on that

[2019-10-26 20:35] efiop commented on #2613
Turns out people are using abs paths O_o https://discuss.dvc.org/t/dvc-get-doesnt-work-with-absolute-paths-but-everything-else-seems-to/249 . Reverted the PR.

[2019-10-26 20:37] shcheklein commented on #2613
As an alternative we can try first find an absolute path, after that strip and find the relative one. There will be some really rare edge cases where it can backfire.

Another option would be just notifying users that they probably meant a relative path if absolute is not found and let them fix it

[2019-10-26 21:01] BernMcCarty opened #2676 "option to have dvc pull trust the remote and not calculate its own MD5 hashes"
The dvc pull command takes the time (which can be significant it seems) to calculate its own MD5 hashes. It would be nice if there were an option to tell it to trust the remote and skip this so that it would complete faster.  Or it could trust the remote by default and make you opt-in to recalculating the hashes if that is what you really wanted. It seems unlikely that it would be a bad breaking c

[2019-10-27 02:16] jorgeorpinel opened #2677 "install: Mac pkg is from an unidenfitied developer"
Not easy to install the MacOS pkg obtained from the Download button on dvc.org landing page:

![image](https://user-images.githubusercontent.com/1477535/67628475-14a73100-f834-11e9-9ba9-51c23bf9eaa4.png)

Of course this can be overcome from the Security & Privacy panel in System Preferences, but I don't know if a lot of people know this:

<details>

![image](https://user-images.githubusercontent.c

[2019-10-27 02:30] shcheklein commented on #2677
Yeah as far as I remember you can hold Cmd or Ctrl when you click the package to install it - it will give an option to install right away. Would be great to figure out how to sign it though. The same for Windows. Just haven't had enough time to that yet.

[2019-10-27 02:31] shcheklein commented on #2677
We can add a note into install page about Ctrl or Cmd trick for now.

[2019-10-27 04:17] andronovhopf opened #2678 "Unable to dvc add more than 1 file at a time in s3 bucket"
** Note: DVC version 0.66.1, pip install, Ubuntu 16.04

I am having difficulty configuring DVC to track files on an s3 bucket with the structure

[code]

Specifically, I want to use DVC to version control *.png files stored in the data folder, and use the cache folder as DVC's cache.

Based on the docs provided [here](https://dvc.org/doc/user-guide/managing-external-data#amazon-s-3), I believe I'v

[2019-10-27 04:21] andronovhopf commented on #2678
Also here are the contents of my .dvc/config file if it helps:
[code]

[2019-10-27 07:27] efiop commented on #2678
Hi @andronovhopf ! Which `dvc --version` are you using? The functionality you are looking for has been merged very recently, so I suspect that you just need to upgrade to the latest version, if you are not using it already 🙂

[2019-10-27 07:38] efiop commented on #2677
Related https://github.com/iterative/dvc/issues/936

[2019-10-27 07:40] efiop commented on #2677
Kinda considering getting rid of os-specific installers, as there is brew and chocolatey and pip etc. But need to think about downsides carefully. If we decide to keep the installer, then need to get some keys to sign stuff properly. Similar to https://github.com/iterative/dvc/issues/936

[2019-10-27 08:25] efiop commented on #2678
@andronovhopf Could you please post output of `dvc add s3://ellesdatabucket/data -v`?

[2019-10-27 08:29] efiop commented on #2678
No need for logs. I am able to reproduce by creating an empty dir first.

[2019-10-27 08:32] efiop commented on #2678
For the record, full log:
[code]

[2019-10-27 13:16] efiop commented on #2678
Test
[code]

[2019-10-27 15:05] shcheklein commented on #2678
@efiop @mroutis sorry forgot to put the context - https://discordapp.com/channels/485586884165107732/485596304961962003/637836708184064010

[2019-10-27 17:30] n3hrox commented on #2611
Hey @efiop, left a question for you at https://github.com/iterative/dvc/pull/2679

[2019-10-27 22:39] jorgeorpinel opened #2680 "install: "Cask 'dvc' is not installed." error"
Installed DVC 0.64.0 via pkg on MacOS:

[code]

Cloned and changed into the cloned iterative/example-get-started project, and ran dvc pull twice. Second run:

[code]

I realize this may be a fixed bug but just double checking it's not related to the updater.

[2019-10-27 22:41] jorgeorpinel commented on #2680
*updater

[2019-10-27 22:50] efiop commented on #2680
@jorgeorpinel I think it happens here https://github.com/iterative/dvc/blob/0.66.1/dvc/updater.py#L176 since we are not silencing the output.

[2019-10-28 02:12] CMCDragonkai commented on #1509
The MR is ready to be merged https://github.com/NixOS/nixpkgs/pull/54530 with some help, the patch is ready to be used.

Although in the future, I would be more careful with self-recursive programs with it shelling it out to itself. The path should be ensured to work in all situations.

[2019-10-28 04:30] jorgeorpinel opened #2681 "gc: remove `--all-commits` options from usage output"
[code]

Related: #2325

[2019-10-28 04:43] jorgeorpinel commented on #2677
I was able to do this! Using the "Open with..." menu, accessible with right-click (secondary click or Ctrl+click):

![image](https://user-images.githubusercontent.com/1477535/67652536-fa8c5200-f90a-11e9-834a-c1fc8b9e2ed8.png)
![image](https://user-images.githubusercontent.com/1477535/67652571-1bed3e00-f90b-11e9-9d23-aa746dd375a2.png)

Related: iterative/dvc.org/issues/749

[2019-10-28 14:26] efiop commented on #2678
@andronovhopf Sorry for the delay, we are attending OS Summit in Lyon right now 🙂A proper patch is coming, but the workaround for you would be to do:
[code]
Note the `/` at `data/`. That one is really important. Effectively we are deleting a so-called "empty directory" that was put there by something like
[code]
Deleting it doesn't delete the data inside of it.  Btw, how did you upload the data th

[2019-10-28 14:35] efiop commented on #1509
@CMCDragonkai Great news! But I have to point out that 0.24.1 is extremely old now, we've moved a lot since then, and you might have less or more issues now. 0.24.1 is something we would not recommend to be used by anyone these days.

[2019-10-28 14:40] CMCDragonkai commented on #1509
This is a good starting point for the next guy to upgrade it!

On 29 October 2019 01:35:06 GMT+11:00, Ruslan Kuprieiev <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-10-28 14:41] efiop commented on #2681
@Suor Please check your mentions https://github.com/iterative/dvc.org/issues/730#issuecomment-545739625 . This flag should be hidden for now, not removed.

[2019-10-28 15:27] #2681 closed

[2019-10-28 16:50] andronovhopf commented on #2678
Hi @efiop thanks for your help!

I believe I created the bucket and the data "directory" through the AWS dashboard GUI and then uploaded a bunch of files from my local machine using

[code]
In the future, what commands would you recommend using to create separate cache and data locations when preparing an s3 bucket for DVC? I'm assuming a cache location has to exist before running `DVC add`?

[2019-10-28 17:53] mroutis commented on #2648
I would leave this here:
[code]

It is the implementation I was thinking for S3

[2019-10-28 19:10] mroutis commented on #2678
Sorry for jumping late to the discussion (AFK during the weekend :see_no_evil: )!

@efiop , I was testing already for empty directories but forgot to do it with `walk_files`:

https://github.com/iterative/dvc/blob/5d6918a04ce59076caa4a69ff501ef4b25fdefd2/tests/unit/remote/test_s3.py#L30

I would change your patch a little bit to the following:
[code]

[2019-10-28 19:22] mroutis commented on #2678
The patch was a small one, @efiop , I assume that you were busy with OS Summit and submitted a PR that fixes the problem :)

Test it already manually.

[2019-10-28 21:37] kevlar1818 opened #2684 "Error on first-time dvc pull"
Unfortunately, given the sensitive information in my code/data, I can't provide a fully reproducible bug report.

OS: Ubuntu 18.04.3 LTS
Present in DVC versions: 0.64.0 through 0.66.1

Steps to "reproduce":
[code]

Until DVC v0.64.0 the above worked fine. Now I get the following error shortly after running DVC:

[code]

I also tried reproducing this in a separate repo, but I couldn't reproduce it;

[2019-10-28 22:26] shcheklein commented on #2684
Hi @kevlar1818 ! Could you please run it in your environment with the `-v` flag: `dvc pull -v` and share as much of the stack trace as possible for you? It would be great to see at least what line, what file in DVC produces this exception.

[2019-10-28 23:31] jorgeorpinel commented on #2677
Note added in https://github.com/iterative/dvc.org/pull/725/commits/d557fe142cd377a310ca2bb3b83479fd4274c82c!

For more info on how to sign/notarize Mac app, see https://developer.apple.com/developer-id/

[2019-10-29 05:51] shcheklein opened #2685 "pull: wrong warning on pulling import stage"
Script to reproduce:

[code]

outputs only:

[code]

I think there should be no warning, especially considering that it has done the job - pulled the `model.pkl`. Like we discussed in #2667 there should be some statistics instead.

[2019-10-29 06:04] shcheklein opened #2686 "ui: remove multi threaded prefix before each progress bar"
When you run even a simple `dvc pull` for a single dvc file for a project that has only one data file it still shows the `Multi threaded` prefix before the progress bar.

[code]

outputs some like:

[code]

Commands like `dvc pull`, `dvc push`, etc are affected. I would expect to see something meaningful instead: `Downloading files (multiple threads)` or even w/o multiple threads.

Sometimes this

[2019-10-29 06:09] shcheklein commented on #2684
@kevlar1818 was not able to reproduce it with some simple tests. Would really need a bit of your input there.

[2019-10-29 07:31] ssYkse commented on #2379
Hi! I am also on the look out for a way to track my parameters with dvc.

TLDR: I need a few parameters tracked for the download > explore > preprocess stages, and I use MLflow for hyper parameter optimization tracking. This seems different from what other need, who want DVC to handle the hyperparamter optimization.

My current approach: I have a shell script which produces the pipelines (With man

[2019-10-29 08:01] harsh8398 commented on #2686
@shcheklein you just want different static message right? or want some conditional message?

[2019-10-29 10:13] MikkelAntonsen opened #2687 "dvc run broken in 0.66.1. Fails with error unexpected error."
Running dvc on ubuntu, installed with pip. Version is 0.66.1.
I get `ERROR: unexpected error` when my dvc run ends. The output files are made correctly, but *.dvc files do not appear and no checksumming is done.

Installing 0.65.0 fixes the problem.

I ran the command `dvc run -f make_dataset.dvc -d make_dataset.py -d data -o dataset_train.json -o dataset_val.json -o dataset_test.json python3 make

[2019-10-29 10:29] efiop commented on #2687
@MikkelAntonsen Could you please post the full log by adding `-v` flag right after `dvc run` part of your command?

[2019-10-29 10:39] MikkelAntonsen commented on #2687
[code]

[2019-10-29 11:13] efiop commented on #2687
Hm, not able to reproduce. Looks like something went wrong here. Let's try to narrow it down. So `data` is a regular dir with nothing special about it? Could you run `dvc run -v -d data -f tmp.dvc echo tmp` and show the full log, please?

[2019-10-29 11:43] MikkelAntonsen commented on #2687
`data` is a symlink to an other directory. I get the same result as when I use the symlink  when I use the absolute path to the directory.

Running your command I get
[code]

[2019-10-29 13:04] kurianbenoy commented on #2686
I would like to work on this, I am curious what is causing this Multi-Threaded message to come though?

[2019-10-29 13:33] efiop commented on #2687
@MikkelAntonsen Interesting. Ok, and could you please save this script into `test_dvc.py`:
[code]
and then run it with
[code]
and show the output?

[2019-10-29 14:51] MikkelAntonsen commented on #2687
I get this

<class 'dvc.remote.local.RemoteLOCAL'>
<class 'dvc.remote.local.RemoteLOCAL'>
Exception ignored in: <function Lock.__del__ at 0x7f8726d21ae8>
Traceback (most recent call last):
  File "/home/user/miniconda3/lib/python3.7/site-packages/flufl/lock/_lockfile.py", line 331, in __del__
  File "/home/user/miniconda3/lib/python3.7/site-packages/flufl/lock/_lockfile.py", line 326, in finalize

[2019-10-29 14:57] kevlar1818 commented on #2684
Here's the full output. The only change I made was to obfuscate the S3 paths.
[code]

[2019-10-29 14:58] efiop commented on #2687
@MikkelAntonsen Yep, seems alright. (that last traceback is a known bug in `__del__` of a dependency we are using, have a fix for that about to be merged).

How about

[code]

?

[2019-10-29 15:17] MikkelAntonsen commented on #2687
<class 'dvc.remote.local.RemoteLOCAL'>
<class 'dvc.remote.local.RemoteLOCAL'>
data
Traceback (most recent call last):
  File "test_dvc.py", line 13, in <module>
    stage.deps[0].remote.walk_files(path_info)
  File "/home/mikkel/.local/lib/python3.6/site-packages/dvc/remote/base.py", line 468, in walk_files
    raise NotImplementedError
NotImplementedError
Exception ignored in: <object repr() fail

[2019-10-29 15:51] mroutis opened #2689 "output: cache metadata"
DVC checks several times if a file is a directory or a file, its checksum, etc.
When working with remotes, this often requires to make a request each time that we need that information.

It would be cool to memoize that information in the `output`/`dependency` or `PathInfo` object.

[2019-10-29 16:37] shcheklein commented on #2686
@harsh8398 it's better to have a conditional message - that describes what is happening depending on the command.

We def should remove the blinking behavior.

@kurianbenoy feel free! but please coordinate with @harsh8398 if needed and please ask an advice with @casperdcl  - an expert in TQDM :)

[2019-10-29 16:42] shcheklein commented on #2684
@kevlar1818 thanks! 🙏  let us digest this information and try to reproduce.

[2019-10-29 17:49] casperdcl commented on #2686
https://github.com/iterative/dvc/blob/a48481b01fd607b36f9ea5b643af24c938254f60/dvc/progress.py#L23

but @shcheklein "Sometimes this `Multi-Threaded:` is blinking and replacing the progress bar itself which makes experience even worse." shouldn't happen - is this still a thing after #2546?

[2019-10-29 17:53] casperdcl commented on #2686
I'm referring to specifically the blinking and overwriting. Shouldn't happen.

Anyway there has to at least be a temporary blank line (could replace `"Multi-Threaded:"` with an empty string) as that's by far the most painless way of letting `tqdm` know about being in multi-threaded mode.

[2019-10-29 18:40] sadielbartholomew commented on #2685
Hi, I will give this a try for Hacktoberfest if that's okay?

[2019-10-29 18:45] shcheklein commented on #2685
@sadielbartholomew absolutely! let us know if you need any help.

[2019-10-29 18:45] JoeyCarson opened #2690 "Can't find documentation for calling dvc from python module."
One of my utilities pulls in data from various sources and builds a large hierarchy where versioning may or may not be required.  Ideally, the hierarchy needs to allow for users to simply changes files in certain directories from time to time and version the appropriate subdirectory of the data.

At first I wanted to have a simple command to track changes, e.g. dvc add rootdir.  But that seems to

[2019-10-29 18:54] shcheklein commented on #2690
@JoeyCarson the API is not public yet, though we already have users and it should stay more or less stable.

Check the `dvc.Repo` class. It exposes all the commands, including `dvc add`.

It might look something along those lines:

[code]

Closing this since it's a question, not an issue. Please feel free to leave any additional comments if something is not working for you.

[2019-10-29 18:54] #2690 closed

[2019-10-29 18:54] #2573 closed

[2019-10-29 18:56] efiop commented on #2690
For the record: our first line of public API will be documented per this ticket https://github.com/iterative/dvc.org/issues/463

[2019-10-29 19:06] kevlar1818 commented on #2684
Thanks, @shcheklein! Should the "awaiting-response" tag be removed?

[2019-10-29 19:09] shcheklein commented on #2684
@kevlar1818 done!

[2019-10-29 19:38] JoeyCarson commented on #2690
Thanks for the prompt response folks.  This seems simple enough.  Perhaps you could recommend a good strategy in terms of versioning the individual directories in a hierarchy.

For instance, consider that I run os.walk from the bottom up of a directory hierarchy, meaning that I will dvc add a directory full of items, and then add that directory's parent directory.  Would dvc allow this and would i

[2019-10-29 19:45] shcheklein commented on #2684
@kevlar1818 was able to reproduce:

[code]

@Suor if you have any immediate ideas how to fix this (e.g. wrap with `with state`) let me know. Otherwise I'm looking into this.

[2019-10-29 19:58] shcheklein opened #2691 "import: importing directories output is ugly, confusing, not informative"
To reproduce:

[code]

**While it's running:**

`Multi-Threaded:` is blinking multiple times (cc @casperdcl ).

Importing 'data/features (https://github.com/iterative/example-get-started)' -> 'features'
Multi-Threaded:
 49%|████▉     |../../../../private/var/folders/_1/dxrf7_f15sn4r01jvqvr5b6h0000gn/T/tmp64drrk0idvc-erepo/data/features/train.pkl                                 5636096/11549662 [00

[2019-10-29 23:05] efiop commented on #2687
@MikkelAntonsen Hm, that is pretty interesting. For some reason, it doesn't see walk_files defined in RemoteLOCAL. Not quite sure what is going on. Could you try to reinstall dvc, please?

[2019-10-29 23:09] efiop commented on #2690
@JoeyCarson No, it won't allow it, as outputs of your stages will overlap that way. Do you need to ignore some dirs? If so, have you considered `.dvcignore` functionality?

[2019-10-30 00:34] shcheklein commented on #2684
@kevlar1818 created a PR to fix the issue. Thanks for reporting this. Waiting for the team to review - fingers crossed 🤞

[2019-10-30 04:29] rampatnaik commented on #2641
it takes lot of time .
When we do dvc add : it consume lot of time

[2019-10-30 05:00] shcheklein commented on #2641
@rampatnaik could you give us a little bit more details? First of all, please, run and share results of the `dvc version`. Also, what amount of data are we talking about? Also, could you share an exact command that takes long to run?

[2019-10-30 05:24] shcheklein commented on #2662
@efiop is it still `p-0`?

[2019-10-30 05:25] shcheklein commented on #2638
@efiop have we resolved, ruled out the bug?

[2019-10-30 09:45] MikkelAntonsen commented on #2687
Ok, so this is what I believe has happened. For reasons, my conda environment's python points to the incorrect /usr/bin/python3 (version 3.6.8) and python3 (version 3.7.3) to the correct /home/user/miniconda3/envs/some_env/bin/python3.
I have the issue when I install dvc with `python -m pip install dvc`. When I look at the file  "/home/mikkel/.local/lib/python3.6/site-packages/dvc/remote/base.py",

[2019-10-30 10:26] efiop commented on #2687
@MikkelAntonsen But it is overridden in `/home/mikkel/.local/lib/python3.6/site-packages/dvc/remote/local.py`, so it should work. Maybe you have a mashup of those, from different dvc versions or something. I would try recreating a venv to see if that was the cause.

[2019-10-30 10:33] efiop commented on #2662
@shcheklein We didn't see any other reports yet and this one does have a workaround, so we'll lower it a bit for now.

[2019-10-30 11:35] MikkelAntonsen commented on #2687
That makes sense. I see it now.

I'm unable to recreate the issue on my side now. If I am able to in the future I'll let you know.

Thanks for your help.

[2019-10-30 12:02] efiop commented on #2687
@MikkelAntonsen Sounds good! Closing for now.

[2019-10-30 12:02] #2687 closed

[2019-10-30 13:09] Suor commented on #2686
Didn't get the last thing. Why tqdm can't be in multi-threaded mode without stating that with a message?

[2019-10-30 13:14] Suor commented on #2665
So do we close it? Or do we need to add a test? Is there one already?

[2019-10-30 13:28] casperdcl commented on #2665
@efiop if you've seen this happen even after https://github.com/iterative/dvc/commit/ed1f643a6e1e20593009cd0ceb2b3823c93706df then I can investigate.

@Suor https://github.com/iterative/dvc/blob/877e38551eca7b8d88155b4ae97dd1237c99b0d0/tests/unit/test_progress.py#L8-L14 and https://github.com/iterative/dvc/blob/877e38551eca7b8d88155b4ae97dd1237c99b0d0/tests/unit/test_progress.py#L29-L37 are the un

[2019-10-30 15:18] #2684 closed

[2019-10-30 16:53] kurianbenoy commented on #2686
So @casperdcl will it be possible to write conditional messages for each command as @shcheklein said?

[2019-10-30 17:33] shcheklein commented on #2689
@mroutis could you elaborate a bit, pelase? what kind of requests? point to the code?

[2019-10-30 17:49] jorgeorpinel opened #2696 "update: improve output when import stage is fixed to an unchanged rev?"
[code]

When you import a specific revision that doesn't change, for example a tag like:

[code]

And then you try to update, nothing changes because the `rev` never moves. However `dvc update` output doesn't really signal this, in fact it says "Saving information..." as if something happened:

[code]

Although this is correct update behavior (as explained in https://github.com/iterative/dvc.org/i

[2019-10-30 18:56] JoeyCarson opened #2697 "Using dvc only for dataset management (e.g. no dvc run pipeline)."
I am dealing with a large hierarchical data set.  One where artifacts are pulled from various directories to generate contiguous data sets that are then fed to ML processes downstream.  I don't want to use dvc to reproduce the pipeline, at least not yet.  My needs are rather to be able to version the overall image dataset hierarchy, for the purpose of manual inspection of the whole hierarchy and m

[2019-10-30 19:06] shcheklein commented on #2697
`Here dvc is taking the greater amount of 99% of system memory (13 GB) and appears to be causing disk thrashing. It's been running nearly for a day so far.` - sounds like a bug to me.

you actually don't even need to run it if you didn't use `dvc add --no-commit` or something similar.

so, why keep it under a single `dvc add` if you can use `dvc add data/feature1`, `dvc add data/feature2`, etc?

`

[2019-10-30 19:18] JoeyCarson commented on #2697
Thanks @shcheklein, I am thinking that adding each individual directory is better as well, though I wasn't sure if it would take a very long time to do that as well.  I was also trying to keep the command to sync down the dataset simple, so that only the root directory would need to be synchronized.

My thinking here is that perhaps I didn't understand that simply running add more than once on a r

[2019-10-30 19:20] JoeyCarson commented on #2697
dvc --version shows 0.63.2

[2019-10-30 19:20] kevlar1818 commented on #2684
Thanks @shcheklein and @efiop! :tada:

[2019-10-30 19:22] shcheklein commented on #2697
@JoeyCarson thanks! could you run specifically, `dvc version` please - it can show a bit more information. Also, could you please update to the latest version to avoid hitting some already solved issues.

[2019-10-30 19:27] shcheklein commented on #2697
Yes. It will more granular and it'll be analyzing only one subdirectory. So, if the nature of your datasets is hierarchical by design it's better to manage them separately.

trying to reproduce this ... though, like I mentioned you probably don't even need `dvc commit`.

no, by default `dvc checkout` does checkout all the files. But you can specify it a target to do a granular checkout.

Also, in

[2019-10-30 19:36] JoeyCarson commented on #2697
dvc version shows the following output
DVC Version: 0.63.2
Python version:  3.6.8
Platform:  Windows-10-10.0.18362.-SP0.
Binary: False

I figured that using the individual directories would be faster and easier.  I will go ahead and do the following, hopefully to not lose the existing cache.

0.  rename the directory to use in the remote blob store, so that caches don't overwrite.
1.  rename the .

[2019-10-30 19:40] shcheklein opened #2699 "add: cleanup and improve output"
- [x] tidy up remaining stats (no need for `<00:00`, add total size in bytes, etc)
- [ ] add progress to other uses of `stage.dump`
- [x] profile `repo.check_modified_graph()`, `stage.save()`, `stage.dump()` etc to find out what other functions are slow, perhaps add progress for them too
  + md5sums only take about 10% of the total time. There must be other more time consuming functions
- [x] make

[2019-10-30 19:42] shcheklein commented on #2697
@JoeyCarson sounds good! Please, also take a look here - https://dvc.org/doc/user-guide/running-dvc-on-windows - those are caveats that we found so far running DVC on Windows. Some of them can significantly improve performance.

[2019-10-30 19:44] shcheklein commented on #2697
@JoeyCarson also, how large is you data? if you don't edit manually specific files I would also consider turning on this optimization - https://dvc.org/doc/user-guide/large-dataset-optimization

[2019-10-30 19:47] shcheklein commented on #2699
Also, when if fails to add the output is also confusing:

[code]

Failure or success or both?

[2019-10-30 19:59] shcheklein commented on #2697
@JoeyCarson one more quick question. When you do `dvc commit`, does it print anything? Something like "Creating unpacked dir ..." ?

[2019-10-30 20:03] JoeyCarson commented on #2697
Yes!  It does and shows that it only makes it to 77% of whatever this means.  In fact during the last commit, it showed that twice, both times only getting to 77%.

[2019-10-30 20:05] shcheklein commented on #2697
@JoeyCarson thanks! looks like one of our optimization does not like Windows that much. We will test it here.

[2019-10-30 20:08] JoeyCarson commented on #2697
Happy to point that out.  I am also finding that when running dvc add for one of those smaller subdirectories (only 500 files and one child directory inside), it is still hanging a while without doing anything.  I also created a dvc repo (ran dvc init separately) and several minutes after I've added the subdirectory, I still see no .dvc/.cache directory.  This is the first add, so I expect it to s

[2019-10-30 20:12] shcheklein commented on #2697
@JoeyCarson no messages at all? Could you check CPU load level during this? It's probably calculating md5s for the files. Btw, how large is that set - number of files, data size?

[2019-10-30 20:17] JoeyCarson commented on #2697
I have run it with -v for verbose logging.  Shows that it spawned the daemon process, outputs a few lines that look like SQLite CREATE TABLE queries, and finally PRAGMA user_version = 3.  It did sit there  a while and is now writing outputs on the command line.  I signed out of windows and back in before I did this, so maybe something was corrupt before.

[2019-10-30 21:20] efiop commented on #2492
For the record, probably need to remove unpacked dir now.

[2019-10-30 21:26] shcheklein commented on #2492
@efiop status/push/pull/commit will become very slow again?

[2019-10-30 21:27] efiop commented on #2492
@shcheklein it is not used right now, as we are checking everything one-by-one anyways. Need to optimize in another way, this is what this ticket is about.

[2019-10-30 21:31] shcheklein commented on #2492
@efiop just to confirm are we doing this `one-by-one` check during the same "status" operation? (which affects push/pull/status, etc)?

[2019-10-30 21:37] efiop commented on #2492
@shcheklein Hm, on further inspection, I might be wrong. We are not using it on `checkout`, but we do seem to use it on other operations. So `checkout` after `checkout` is now slower than it was before.

[2019-10-30 21:43] shcheklein commented on #2492
@efiop not sure I got it. it - new check or unpacked dir? `checkout after checkout`?

[2019-10-30 22:19] nkrot opened #2700 "remote: fail if does not exist"
This is my first use of dvc and I may have missed something. If so, please disregard this issue.

So, I have configured remote to be a directory accessible via ssh. However, the last component in this path does not exist. I would expect `dvc` to fail but in reality, missing subdirectory was created on the remote machine when I pushed.

Illustration:
[code]

As a result, the subdirectory `somethit`

[2019-10-30 23:05] shcheklein commented on #2699
Also on a large directory it looks like it hangs for a long time on:

[code]

not clear what is it doing inside before running the `Computing hashes` phase.

[2019-10-30 23:11] shcheklein commented on #2697
@JoeyCarson how did you install DVC - pip or conda? and how large is your data - number of files and size per file?

[2019-10-30 23:30] JoeyCarson commented on #2697
I installed using pip, from an anaconda virtual environment.
conda activate myenv
python -m pip install dvc

Images are mostly jpeg and some png in source dimensions, e.g. not resized.  When adding each subset, there are about 500 on average.

[2019-10-31 00:25] Titousensei opened #2701 "External output to encrypted s3 fails with ETag mismatch"
Repro:
[code]

This is on a fresh `dvc init` where I configured the remote and cache following the tutorial. I also verified that the file is uploaded properly, and the original file and the cached one have the same MD5.

[code]

My config:
[code]

**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Wi

[2019-10-31 00:36] shcheklein commented on #2697
@JoeyCarson and to completely replicate your environment, what is the Anaconda version and what shell do you use - Git Bash or Anaconda's one?

Also, why don't you install it with `conda`?

[2019-10-31 02:51] shcheklein commented on #2701
@Titousensei thanks for the report! Quick question - when you do this second time from the clean repo, does it show same ETags in the error message or every time you get the new ones?

[2019-10-31 05:48] Titousensei commented on #2701
I get new ETags every time (for the same file with the exact same command).

[2019-10-31 06:00] shcheklein commented on #2701
@Titousensei unfortunately, it means that the current DVC implementation does not support external cache related logic and external dependencies (?) (when you want to version outputs that you write to S3, or you do something like `dvc add s3://encrypted-bucket/file`).

We'll have to update the docs with this caveat and think about workarounds/solutions :(.

I see a few alternatives here from the t

[2019-10-31 06:08] shcheklein commented on #2701
@Titousensei Edited the previous answer a bit to be more precise. Again, thanks for sharing all this information. Let's try to figure out an option that works best for you before we find a fix for this (if it's possible w/o downloading and calculating checksum data locally, but that breaks the deal in a lot of cases).

[2019-10-31 06:29] Titousensei commented on #2701
@shcheklein Thanks for the quick answers.

A little more bit about my use case: I'm working for a company that does a lot of a machine learning and we have a large custom script (python) to do data preparation, check pointing, training and evaluation. We have another custom script to publish our models to s3 and metadata to git. I'm exploring DVC as an option to replace those scripts and improve o

[2019-10-31 10:05] petrochenko-pavel-a opened #2702 "Problems when downloading file from s3"
DVC version 0.66.1, pip, windows
[code]

Regards,
Pavel

[2019-10-31 15:23] mslapek opened #2704 "Unexpected error when cache and artifacts are not on the same partition on SSH"
### Setup

`pip` installed, version 0.66.1.
Platform: Ubuntu 18.04

### Steps to reproduce

1. Create SSH remote `cache`, and configure it as SSH cache.
2. Create directory on the same computer, but on *other partition*. Add some `test.txt` to this dir.
3. Add this remote directory as SSH remote called `workspace`.
4. Run `dvc add remote://workspace/test.txt -f test.dvc`.

Bash script reproducing

[2019-10-31 16:14] shcheklein commented on #2702
@petrochenko-pavel-a was able to reproduce this, patch is on its way, thanks!! Workaround for now is to use absolute path for `dst`.

[2019-10-31 18:04] Titousensei commented on #2701
Maybe I'm using DVC wrong. I'll try not to use external outs, but instead output the data locally and push to s3 like explained in the "Sharing Data" deep dive tutorial.

[2019-10-31 19:06] shcheklein commented on #2701
@Titousensei

The regular way you do this is work with files locally and then use `git push + dvc push` to save them to a remote storage (it can be encrypted S3 bucket), and your team will be using `git pull + dvc pull` to get them when they are needed.

You need using external outputs/external dependencies (when you do stuff like `-d s3://` or `-o s3://` or `dvc add s3://`, etc) only when you rea

[2019-10-31 21:16] shcheklein commented on #2704
@mslapek it looks like a bug to me. Could you please share `dvc add -v ...`?

DVC indeed copies files (or utilizes `reflinks` if they are available) by default, but it's possible to setup cache (at least local cache) to use different strategies - symlinks in case when you have files on different partitions/disks. It can be a valid configuration on its own. See more info here https://dvc.org/doc/co

[2019-10-31 22:39] Titousensei opened #2706 "Allow restriction `dvc pull` to targets"
We have a big mono repo where all the projects are eventually merged. We plan to put the dvc files related to a model in the same directory, and we will have many such directories. In that case, doing `dvc pull` will start pulling all the files cached in remote storage (potentially terabytes of data), right? If a user does `dvc pull <target>` she will only load the cached file needed by this targe

[2019-10-31 22:40] shcheklein commented on #2706
Context: https://discordapp.com/channels/485586884165107732/563406153334128681/639582276388388870

[2019-10-31 23:19] mroutis commented on #2704
@mslapek , as @shcheklein mentioned, you can use `symlinks` to work across disks, here's an example that you can try:

[code]

[2019-10-31 23:28] shcheklein commented on #2704
@mroutis thanks!

It looks `dvc remote modify cache type symlink` kind of things is not documented anywhere. Probably should be part of the `dvc remote modify` command reference. Created a ticket for this - https://github.com/iterative/dvc.org/issues/764

Failure to add a file (even with default copy semantic) still looks like a bug to me.

[2019-11-01 00:40] jorgeorpinel commented on #2704
Chnging the cache type seems like a nive workaround or solution to this scenario but could the `dvc add ` output

[code]

be improved as well?

[2019-11-01 01:39] kurianbenoy commented on #2691
Can I work on this?

[2019-11-01 02:53] petrochenko-pavel-a commented on #2702
Thanks.

[2019-11-01 03:38] shcheklein commented on #2697
I have been able to reproduce it on Windows with ImageNet dataset (~50GB).

`dvc add` is 8 times slower (comparing to Mac).

Running `dvc commit` after that - process killed due to low memory (16GB machine).

I haven't applied any additional Windows or DVC configuration.

I'll create a separate ticket to investigate and deal with this.

[2019-11-01 03:40] shcheklein commented on #2697
Related https://github.com/iterative/dvc/issues/2360

[2019-11-01 03:43] shcheklein commented on #2697
@efiop I suggest we create a separate ticket for the `dvc commit` consuming too much time and memory and bump priority of the #2360 .

[2019-11-01 13:37] mslapek commented on #2704
I've added reproduce script to the issue inspired by @mroutis script.

@shcheklein here is output for `--verbose`:

[code]

[2019-11-01 13:40] mslapek commented on #2704
@mroutis I've tried the script from issue with proposed `dvc remote modify cache type symlink` (the line was added after `dvc config cache.ssh cache`).

Unfortunately, it still raises unexpected error.

[2019-11-01 17:12] Suor commented on #2706
I think letting user interrupt the process is ok solution unless there is a significant delay before it's obvious that lots of things will be pulled now.

[2019-11-01 17:20] Suor commented on #2700
This is intended and worked this way from the start, so it would be hard to change it now. And I think we shouldn't:
- current behavior simplifies cache setup
- the cost of this error is low (no data lost or anything like that)

[2019-11-01 17:20] #2700 closed

[2019-11-01 17:22] Suor commented on #2700
Thank for the feedback though and sorry to hear that your first dvc experience was somewhat confusing :)

[2019-11-01 17:25] Suor commented on #2699
+1 on final message and the rest.

We never had systematic approach to UI, this is the core reason of all of these.

[2019-11-01 17:27] shcheklein commented on #2699
💯 on `We never had systematic approach to UI, this is the core reason of all of these.` 🙏

[2019-11-01 17:40] Suor commented on #2605
This is not only about `dvc get`. Import are also affected, see #2691

[2019-11-01 17:46] Suor commented on #2605
An addition about global variable, which might be used as base for `PathInfo.__str__()`, it should be:
- really a thread local, not a simple variable
- not accessed nor changed outside `dvc/path_info.py` directly
- managed with a context manager:
[code]

This will protect us from usual global var issues making it a dynamic scope variable if you know what I mean ;)

[2019-11-01 17:46] Suor commented on #2691
@kurianbenoy take a bite if you wish, imports are not famous for having straightforward code though)

The temp path issue was discussed here https://github.com/iterative/dvc/issues/2605.

[2019-11-01 18:10] mroutis commented on #2704
Got it, @mslapek. I see the problem now, the `move` method is using `SFTP RENAME` underneath and it doesn't work across partitions. Let me see if `paramiko` support this or we would need to write our own implementation.

[2019-11-01 18:24] JoeyCarson commented on #2697
I always use Anaconda Prompt with a conda virtual environment.  Machine is rather busy at the moment running dvc add, so I will update this comment with version info ASAP.

Generally, I use Anaconda for the ease of virtual environments.  When it comes to deployment to a pure python PaaS, it's usually easier if everything is installed with pip, as the conda usually writes non-standard module declar

[2019-11-01 18:35] jorgeorpinel opened #2708 "bundler/partitioner middleware"
See iterative/dvc.org/issues/682 for context.

It seems like large data sets (in the TBs) tend to get bundled and/or partitioned in different ways and formats such as HDFS/HDF5/TFRecord files. This poses a challenge for DVC data versioning which calculates checksums at the file (or directory) level.

What would be the easiest way to extend DVC support for this kind of dataset storing practice? Per

[2019-11-01 18:52] mroutis commented on #2708
@jorgeorpinel , I guess one way would be to support chunking but not sure if HDFS has the API to interact with chunks instead of files

[2019-11-01 18:54] mroutis commented on #2704
@mslapek , you can try with the following patch: https://github.com/iterative/dvc/pull/2709

It works for me. Same scenario as before but this time across two partitions:

[code]

[code]

[2019-11-01 18:57] shcheklein commented on #2704
@mroutis while you are on it could you check if `OSError: Failure` is the only information paramiko's sftp gives us? That error message is terrible indeed.

[2019-11-01 18:58] shcheklein commented on #2704
@mroutis also, please confirm that symlinks do work in this case indeed so that we can update our docs.

[2019-11-01 18:59] mroutis commented on #2704
@shcheklein, agree :sweat_smile:

Will do.

[2019-11-01 19:01] mroutis commented on #2704
@shcheklein , symlinks works:
[code]

[2019-11-01 19:03] shcheklein commented on #2704
@shcheklein after you enable them with `dvc remote modify myremote type symlinks,copy`, right?

[2019-11-01 19:04] mroutis commented on #2704
@shcheklein , yes :)

[2019-11-01 19:34] shcheklein opened #2710 "import/get: improve message when we try to re-import an artifact"
We need to check (and fail gracefully?) if someone tries to do import/get of an output from the imported stage.

**Example:**

[code]

outputs:

[code]

which is ugly and technically correct but can improved to warn that we are trying to re-import imported output which will always fail since we don't cache imports.

[2019-11-01 19:36] mroutis commented on #2710
@shcheklein , do you have an example?

[2019-11-01 19:41] shcheklein commented on #2710
@mroutis will do an example 👍 , should be quick and easy

[2019-11-01 21:32] shcheklein commented on #2710
[code]

looks like a separate bug to me. Import does not work with relative path?

[2019-11-01 21:52] shcheklein opened #2711 "get/import: improve error message on no default remote"
Since we allow importing/getting files that are not cached this error does not make much sense:

[code]

in a lot of cases.

[2019-11-01 21:54] #2702 closed

[2019-11-01 22:02] shcheklein commented on #2710
[code]

outputs:

[code]

which is ugly and technically correct but can improved to warn that we are trying to re-import imported output which will always fail since we don't cache imports.

[2019-11-02 11:20] mslapek commented on #2704
Glad to see that my first issue on GitHub was labelled as p0-critical bug :tada:.

@mroutis I tried the scenario with your patch - it works :blush: (tried with default settings and `cache type symlink`).

I think that the issue might be closed after merge.

[2019-11-02 12:07] #2704 closed

[2019-11-02 16:26] jorgeorpinel commented on #2708
It seems HDF5 supports chunking and there's a [HDF5 Connector](https://www.hdfgroup.org/solutions/enterprise-support/hadoop-hdfs-hdf5-connector/) for Hadoop "to extract metadata and raw data from HDF5 and netCDF4 files on HDFS".

[2019-11-02 17:09] kss682 commented on #2452
Could I take up this issue , if it is open.

[2019-11-02 17:11] efiop commented on #2452
@kss682 There is a pending PR for it https://github.com/iterative/dvc/pull/2669  by @SrividyaKK

[2019-11-02 17:20] efiop commented on #2672
For the record, to implement this, one would need to take output of `_get_package_manager` https://github.com/iterative/dvc/blob/0.66.3/dvc/updater.py#L185 and use it in https://github.com/iterative/dvc/blob/0.66.1/dvc/command/version.py#L39
[code]
Also, some fixes to `tests/func/test_version.py` would be required.

[2019-11-02 17:22] efiop commented on #2680
For the record, we can remove cask detection now, as we've abandoned it.

[2019-11-02 17:24] efiop commented on #2680
So one would need to delete https://github.com/iterative/dvc/blob/0.66.3/dvc/updater.py#L126 and this code block https://github.com/iterative/dvc/blob/0.66.3/dvc/updater.py#L173

[2019-11-02 17:31] kss682 commented on #2680
I would like to work on it .

[2019-11-02 17:47] kurianbenoy commented on #2691
I would like to give a hand in trying to fix this issue

[2019-11-02 17:49] efiop commented on #2680
@kss682 Sure, go ahead! 🙂

[2019-11-02 17:56] Suor commented on #2691
Sure, don't hesitate to ask things here if you'll need

[2019-11-02 18:38] jorgeorpinel commented on #2680
Thanks guys. So to summarize, the outputmentioned in https://github.com/iterative/dvc/issues/2680#issuecomment-546743254 should be silenced and Cask detection should be removed, as mentioned in https://github.com/iterative/dvc/issues/2680#issuecomment-549063932). Right?

[2019-11-02 22:34] #2686 closed

[2019-11-03 01:41] kurianbenoy commented on #2672
Can I reserve this issue to be used for today's Devsprints?

[2019-11-03 01:42] kurianbenoy commented on #2145
Can I reserve this issue to be used for today's Devsprints?

[2019-11-03 01:42] kurianbenoy commented on #1618
Can I reserve this issue to be used for today's Devsprints?

[2019-11-03 10:51] #2680 closed

[2019-11-03 10:55] efiop commented on #2672
@kurianbenoy Sure!

[2019-11-03 11:04] efiop commented on #1618
@kurianbenoy Sure!

[2019-11-03 11:04] kiranvinodcgs commented on #2710
I would like to work on this issue

[2019-11-03 11:05] efiop commented on #2145
@kurianbenoy sure!

[2019-11-03 11:12] kurianbenoy commented on #2710
Can't reproduce this issue @shcheklein

[2019-11-03 11:12] Amith1206 commented on #2685
Is this issue solved?

[2019-11-03 11:15] efiop commented on #2685
@Amith1206 It is not, but it is taken by @sadielbartholomew

[2019-11-03 11:38] efiop commented on #2710
@shcheklein We could totally import recursive outs as well, it just requires some refactoring. But let's forbid it for now, until we get a request for that.

@kiranvinodcgs Sure! So to clarify, to fix this you need to put a check here https://github.com/iterative/dvc/blob/0.66.3/dvc/dependency/repo.py#L75 , that would look something like:
[code]

[2019-11-03 11:45] efiop commented on #2710
@kurianbenoy Indeed, the script provided by @shcheklein doesn't work (@shcheklein please make sure your script works when you post it, otherwise it creates a lot of hustle for everyone). Here is a modified script:
[code]

[2019-11-03 12:33] Suor opened #2719 "api: high level dvc.api import/export meets data catalog"
<p align="right"><i>
- what do you do for a living?<br>
- oh, different things, import, export, family business <br> </i>
(any Hollywood smuggler and now a dvc dev)
</p>

This feature was first proposed by @dmpetrov and was discussed several times here and there. Recent conversations/debates with @dmpetrov and @shcheklein resulted into some more or less defined approach to it, which I will lay out

[2019-11-03 12:44] Suor commented on #2492
How about shifting priorities here? Like make fast matter more than dedup and do not check link types on dir checkout? Basically what we had before. This is an easy change, all our performance tricks will work again. And if a user needs to dedup one might do that manually with:
[code]
This is what I would prefer dvc doing unless we can somehow get both performance and dedup without significant cod

[2019-11-03 13:07] Suor commented on #2711
So is this just a wrong error message?

[2019-11-03 13:48] Suor commented on #2671
Discussed this offline with @efiop and @dmpetrov and on 1-1 with @shcheklein and there is no consensus on lifting DAG checks even for `dvc add` command. The core consideration is that people should be able to:
[code]
and continue their or their teammates work without any complications. Ultimately we want both correctness (as it reinforced now) and performance.

[2019-11-03 13:49] Suor commented on #2671
I'll do some research on ways to optimize or cache this.

[2019-11-03 13:51] kss682 commented on #2672
Would like to work on the issue . Seems like it was not completed during devsprint.

[2019-11-03 13:52] efiop commented on #2672
Sure @kss682 !

[2019-11-03 15:21] Suor commented on #2671
So here is my benching so far (21k add stages):

| task                | time |
| ------------------- | ----------- |
| list                |  0.65s |
| list + mtime/size   |  0.85s |
| list + read         |  1.16s |
| parse yamls         | 48.5s |
| create stages       | 69.6s |
| stages (no schema)  | 59.0s |
| build graph         | 69.6s |

The majority of time is taken by 2 things:
1. YAML par

[2019-11-03 15:36] shcheklein commented on #2671
@Suor thanks, great summary! we need get rid of all 4 effectively to make it usable.

[2019-11-03 15:38] shcheklein commented on #2711
I would say it's in a wrong place. We need to raise this only when we try to import a cached object and no default remote is specified.

[2019-11-03 15:38] Suor commented on #2671
Switching from `ruamel.yaml` back to `PyYAML` cats parsing time in half - 24.6s instead of 48.5s. But that doesn't preserve comments so stages can't be safely dumped.

[2019-11-03 15:41] shcheklein commented on #2492
what kind of dedup are we talking about? Just

sounds about right to me either

[2019-11-03 15:47] Suor commented on #2492
The reason for checkout becoming slower is that we now care about link types more, so if there is a copy of a file and we should have symlink then we remove it and make a symlink. Checking the link types of all the files in the directory prevents us from using fast directory changed check (calc its mtime and size, get checksum from sqlite and compare it to an expected one).

[2019-11-03 15:49] Suor commented on #2671
@shcheklein if we cache stages then building graph is not the issue. The issues that remain:
- still slow on empty cache
- need to make cache cross-python, cross-dvc

[2019-11-03 15:51] shcheklein commented on #2719
Good one, @Suor . Thanks!

Just to start the discussion, the first question I would clarify is why DVC is not enough and we need to specify (effectively) types and list of exports in a new file.

And related one - if DVC-file is enough, can we let regular existing dvc.api be aware about types? And do not introduce new APIs?

[2019-11-03 15:54] shcheklein commented on #2671
@Suor cache might be a solution. But it still takes time to build it. We'll need to do checks to ensure that it's still valid in case someone manually changes DVC-file. We'll have to think about things like atomicity, etc.

[2019-11-03 15:58] Suor commented on #2671
@shcheklein we can cache either by `(filename, mtime, size)` tuple or even file contents (reading which is fast enough), so someone manually changing DVC file is not an instance.

Another thing, which I see is that we are using python yaml parser. PyYAML somewhat supports wrapping libyaml, which should speed up things. Here is how you install it though:
[code]
So no luck with using it as a dep)

[2019-11-03 16:00] shcheklein commented on #2710
@kurianbenoy @efiop sorry, guys! 🙏 will be more careful next time!

[2019-11-03 16:03] shcheklein commented on #2671
is only one problem in supporting cache, there will be more tricker ones. So cache might be a solution but unfortunately a quite complicated one.

[2019-11-03 16:47] Suor commented on #2671
So the update on yaml libs:

| library          | time  |
| -----------------|------ |
| ruamel.yaml      | 48.5s |
| PyYAML           | 25.6s |
| PyYAML (libyaml) |  3.9s |

To use PyYAML with libyaml on debian based linuxes:
[code]

So that as achievable via deps. We might want to use such strategy:
- parse stages with `PyYAML` on read, store unparsed text
- if we need to dump the stage, then pa

[2019-11-03 16:47] kurianbenoy commented on #2145
Since the event is over, the issue is now open.

[2019-11-03 16:50] shcheklein commented on #2520
related:
https://discordapp.com/channels/485586884165107732/485596304961962003/640511613698441217

it's tempting to make it p-0 ... we keep answering the same question over and over again

[2019-11-03 16:56] shcheklein commented on #2671
I don't see how this specific optimization solves the problem, @Suor . But it def complicates all the logic and most likely packaging for different platforms.

[2019-11-03 17:01] kurianbenoy opened #2721 "Jupyter notebook based pipelining using DVC?"
How can DVC be used in a jupyter notebook based system for pipelining each stages? Where assuming all stages for data processing, feature engineering to even model tuning. We use just one single jupyter notebook system?

[2019-11-03 17:14] Suor commented on #2671
It solves `(48.5 - 3.9) / 69.7 ~ 64%` of the problem. Even with an empty cache. It will be about 33% of the problem without libyaml C lib. Both the logic and packaging complication will be quite limited.

[2019-11-03 17:17] Suor commented on #2671
What do you suggest implement cache only?

[2019-11-03 17:21] shcheklein commented on #2671
so, it complicates everything but does not solve the problem

add an option for people who manage large number of DVC-files an option to disable the check for now. There should not be a penalty for them and we should unblock the workflow. Also, it will give us more information, namely is there a potential problem in not performing this check. It should be working < 1s. Then, see what can we do - a

[2019-11-03 17:22] shcheklein commented on #2721
from the top of my head - system with Python decorators @danfischetti implemented for his team comes to my mind as a solution for this (it's not publicly available yet).

[2019-11-03 17:57] Suor commented on #2671
Benched using [voluptuous](https://github.com/alecthomas/voluptuous) instead of using [schema](https://pypi.org/project/schema/) for validation, it works about 13x faster (it precompiles the schema into python function). This will strip another 14% of the problem, making it 8x faster combined with libyaml/PyYAML thing. There are other possible optimizations there.

It's not that black and white. M

[2019-11-03 18:16] shcheklein commented on #2671
I think this specific ticket and use case is black and white indeed. At least, I don't see how suggested optimizations can help. It will be a few minutes to just add a file, right?

It's a good question if there are other cases with thousands of DVC-files and what are the requirements there. It would answer the question if need to do a `middle ground` optimization with some potential complications

[2019-11-03 19:56] #2672 closed

[2019-11-03 19:56] shcheklein commented on #2672
excellent job @kss682 ! thank you :)

[2019-11-03 21:37] #2553 closed

[2019-11-04 02:22] kss682 commented on #2672
Welcome , Thanks to @efiop for helping me.

[2019-11-04 11:33] ciberger opened #2724 "Can't brew upgrade new dvc version"
Hi all!

Thanks for making this great tool!

I believe I found a minor bug, for example:

then

Thanks!

**Please provide information about your setup**
DVC version 0.66.3
Homebrew 2.1.15
Mac Mojave 10.14.6

[2019-11-04 11:55] efiop commented on #2724
Hi @ciberger !

We've been accepted into homebrew-core recently and still getting used to the new release workflow. :slightly_frowning_face: 0.66.4 should become available on homebrew a bit later today. We'll adjust our workflow to enable update notifications only _after_ homebrew is ready.

Sorry for the inconvenience!

[2019-11-04 11:55] #2724 closed

[2019-11-04 11:58] efiop commented on #2724
@ciberger I've rolled back the notifications for now. Dvc updater will be using cached version, so you might want to `rm -f .dvc/updater` to reset it and get rid of notifications for now.

Thank you for the feedback! :slightly_smiling_face:

[2019-11-04 12:42] efiop commented on #2542
For the record, we've discussed this privately with @mroutis and protecting won't help anything, as those workers have an opened fd, that is not affected by sequential chmod changes. So there is not much we can do on our side, except copying to cache and only then computing the checksum, which would be slow and won't help us with the similar case of dependencies that other workers are writing to.

[2019-11-04 12:57] efiop commented on #2676
Hi @BernMcCarty !

Sorry for the delay. This is a great request! It was designed to be a bit paranoid about checksums, but thinking about it right now, dvc has been verifying checksums before pushing for a long time now. Plus, all of the remotes are pretty reliable and do consistency checks while uploading/downloading chunks of data. Overall, it seems pretty reasonable to me to adopt that as a def

[2019-11-04 13:02] efiop commented on #2648
Sounds good @mroutis ! It would be interesting to see how much performance we are getting from overriding `_collect_dir` like that.

[2019-11-04 13:04] efiop commented on #2638
@shcheklein No, I don't think so. Didn't look into this at all yet.

[2019-11-04 13:12] efiop commented on #2724
@ciberger 0.66.4 is now available through homebrew :tada: Thank you!

[2019-11-04 13:17] efiop commented on #2689
@shcheklein I'm pretty sure @mroutis is talking about things like `exists()`, that might take quite a long time, as you have to do a request over the network to check if something exists or not. We do abuse those kinds of checks. Ideally we would either cache them or collect stuff first and then process it without the need to do sequential calls, similar to what @Suor has been talking about for a

[2019-11-04 13:35] efiop commented on #2696
The `Saving information part` might be gone soon, as it is a bit redundant and will probably be replaced with a better summary. But the situation of branch/tag that hasn't moved does indeed need to be handled better. I like the idea of that note, but also wonder if we should error-out if trying to update something that is already at the latest version. Kinda like `brew uprade dvc` does. Just a tho

[2019-11-04 13:43] efiop commented on #2701
For the record, external deps (`-d`) and external non-cached outputs(`-O` big-O) should work, as they don't move things around, and only rely on ETag as an indicator of an unchanged file, so it should work fine.

One more thing that I would look into, is mounting your s3 bucket to your local fs (e.g. https://github.com/s3fs-fuse/s3fs-fuse). That way you could reference your files as local files, w

[2019-11-04 14:00] efiop commented on #2492
Link checks are there for a reason. We need to have both fast and granular. If you remember, unpacked dir was a quick fix, there is probably a proper solution too.

[2019-11-04 17:22] ValdarT opened #2725 "dvc get unable to find DVC-file error"
I get an "unable to find DVC-file" error when trying to download a file from a private repository.

This is the command:
[code]

This is the error:
[code]

This is the content of the `.dvc` file with the `model.pkl` output:
[code]
The path of the above .dvc file in the repo is: `my_repo/my_service/service_train.dvc`

System info (dvc installed with conda):
[code]

Any ideas regarding the possible

[2019-11-04 17:23] shcheklein commented on #2689
@mroutis @efiop would be still good to have code example in place and somewhat more structured list of things you have im mind to cache.

[2019-11-04 17:23] jorgeorpinel commented on #2696
Yeah good point. Maybe this is best indeed, to be extra explicit about what happened or did not happen (:

p.s. a shorter version of the note text, in case needed: "NOTE: The 'cats-dogs.dvc' import stage is fixed to Git revision 'cats-dogs-v1', which has not moved. See https://man.dvc.org/import for more details."

[2019-11-04 17:24] shcheklein commented on #2725
@ValdarT thanks for the report! have you tried to do `dvc get repo resources/model.pkl` instead?

[2019-11-04 17:26] ValdarT commented on #2725
Thanks for the prompt reply. I did try that, it gave the same result.

[2019-11-04 17:28] shcheklein commented on #2725
kk, could you please run it with `-v`, please? Could you also try do the same w/o specifying `--rev` if that file exists in the master branch of course.

[2019-11-04 17:29] weekly-digest[bot] opened #2726 "Weekly Digest (28 October, 2019 - 4 November, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 43 issues were created.
Of these, 29 issues have been closed and 14 issues are still open.
## OPEN ISSUES
:green_heart: #2721 [Jupyter notebook based pipelining using DVC?](https://github.com/iterative/dvc/issues/2721), by [kurianbenoy](https://github.com/kurianbenoy)
:green_heart: #271

[2019-11-04 17:31] shcheklein commented on #2696
I would say improving an output is a good first step (I though don't like NOTE prefix, it should be just a normal simple one sentence output) we can do.

[2019-11-04 17:38] Suor commented on #2492
I can't see other reason then dedup for link type checks. Are there one?

[2019-11-04 17:51] Suor commented on #2719
@shcheklein in a general case an exported object might depend on several outs from different .dvc files. Even if we limit ourselves to single .dvc I don't like complicating stage files. We also start something representing catalog with that yaml file.

Existing api calls return strings or file handles if they suddenly start to return something else that would be crazy.

[2019-11-04 17:53] shcheklein commented on #2492
@efiop can we indeed summarize the checks we have and the reasons behind them? `Link checks are there for a reason.` is not very meaningful or actionable answers, tbh.

[2019-11-04 18:03] shcheklein commented on #2719
(DISCLAIMER: all stuff below is **not** an attempt to say that @Suor's approach is not right and we should go with DVC-files alone, please, read this as an attempt to challenge some assumptions, get a bit more examples, and understand better the decisions we make)

Would love to have real-life examples before we make this decision. I would not overgeneralize until it's not necessary. @dmpetrov you

[2019-11-04 18:10] #2726 closed

[2019-11-04 18:16] Suor commented on #2671
For me it 1 minute now, before optimizations, so it's like 8 sec after optimizations, I have 21k files. It's much longer for @danfischetti. It took 113s for 5764 stages there, they are probably more complicated then mine.

@danfischetti can you copy paste a yaml of your typical stage here?

[2019-11-04 18:33] shcheklein commented on #2701
oh, I would be extra careful here. At least we need to mention explicitly that this checksum is tight to the location as well as content.

[2019-11-04 18:36] shcheklein commented on #2701
Created a ticket to update our docs with these findings: https://github.com/iterative/dvc.org/issues/774

[2019-11-04 19:21] shcheklein commented on #2725
@ValdarT I've tried to reproduce it with a simple scenario when I have two branches with an output and I use `--rev` to specify one of those branches. It worker well for me. It would be great to see more info (debug log with `-v`) like I mentioned, or may be a simple scenario how can we reproduce this.

[2019-11-04 19:35] ValdarT commented on #2725
[code]

The same happens when I try without specifying the branch.

Could it be related to the repository structure (i.e., to where `.dvc` files are located in the folders) or is it possible to somehow corrupt the state in a way that could result in something like this?

[2019-11-04 19:55] ValdarT commented on #2725
I'll try to find time tomorrow to come up with a way to reproduce this.

[2019-11-04 20:17] shcheklein commented on #2725
Ok, I think I know the reason for this - you need to specify a full relative (to project root) path of the file - how would it looks like after you do pull/checkout, in this case:

`my_service/resources/model.pkl`

@ValdarT please, try that let me know if that works.

I was able to reproduce a different issue with a file that is not cached though:
[code]
cc @efiop do you if we have implemented alr

[2019-11-04 20:54] #2611 closed

[2019-11-04 21:33] jorgeorpinel commented on #2696
Improving the output sounds like a good first issue! Wouldn't not close this ticket but doesn't hurt either.

[2019-11-04 22:12] efiop commented on #2697
For the record, OOM fix is https://github.com/iterative/dvc/pull/2735 .

[2019-11-04 22:41] efiop commented on #2725
@shcheklein We didn't yet, only API supports non-cached right now.https://github.com/iterative/dvc/issues/2515

[2019-11-05 00:30] efiop commented on #2492
@Suor @shcheklein

1) If old link type doesn't match new one, we need to replace old link with a new one;
2) If repo used to be unprotected but now it is - we need to protect the link;
3) If you have unprotected particular file, checkout should replace that copy with a proper link;

It all was in issues from the recent past.

[2019-11-05 00:37] shcheklein commented on #2492
@efiop cool! can we summarize now when do we have to run those checks? For example, it's not obvious why do we run it when we do `dvc commit` and especially if dir has been just added (so, not changes to it).

[2019-11-05 01:15] efiop commented on #2492
@shcheklein Sorry for short and snappy responses, but this needs to be properly investigated. For `commit`, it happens here https://github.com/iterative/dvc/blob/0.66.5/dvc/remote/base.py#L483 , where checkout looks at links and if they are changed - re-links them.

[2019-11-05 02:02] efiop commented on #2492
As @Suor suggested in the past, the solution here would be to quickly collect fs info in a bulk and then analyze it, which would make it much more efficient than it is right now and much easier to parallelize if needed.

[2019-11-05 06:28] chadlohrli opened #2737 "dvc: .dvcignore trouble with nfs mounted directory"
I have a large NFS mounted in a directory that I would like dvc to ignore.

Directory Structure:
[code]
My *.dvcignore* has the following line:
`/nfs/` (I've tried `nfs/` and `nfs/*`)

The problem is that when I run `dvc status` or `dvc pull` the processes will just hang:
[code]

Here is the traceback from `KeyboardInterrupt`:
[code]
Which makes me feel like the directory is not being ignored.

**

[2019-11-05 06:30] mroutis commented on #2737
thanks a lot for the report, @chadlohrli !

[2019-11-05 08:25] ValdarT commented on #2725
This solves it, indeed. I find it a bit surprising because in general `dvc` doesn't care about paths like this so changing this behaviour could be a possible UX improvement.

In any case, everything  works. Thank you very much for helping me out here, @shcheklein!

[2019-11-05 08:25] #2725 closed

[2019-11-05 09:34] alvaroabascar commented on #2711
@shcheklein, @Suor  I found out I could not run `dvc import` if the source repo has no default remote set. Also, the error I got (see below) confused me, because it made me think I had to run `dvc config core.remote` in the working repository.

[code]
As a newbie dvc user who might be missing something, I'd say it would be useful to:

- Skip the error message shown by @shcheklein
- Have a more exp

[2019-11-05 10:01] Suor commented on #2691
@kurianbenoy If you are specifically going after tmp paths then it has its separate issue https://github.com/iterative/dvc/issues/2605. Let's discuss it there. It says about `dvc get` but that issue applies to imports too.

[2019-11-05 10:08] Suor commented on #2605
From discord:

---
@kurianbenoy:
I am interested to fix that issue, even if it takes more time to understand the codebase

@efiop:
Glad to hear that! :slight_smile: Got it. Okay, let's think about some clever ways to fix that then.
ok, so we are using named cache for that. We could make it check if we are inside of a repo or not and if not then print a relpath computed relative to the repo.root_di

[2019-11-05 10:23] Suor commented on #2605
So the core culprit is stringifying `PathInfo` objects, which don't know about repo and so can't show sane paths, stringifying output objects is, however, ok. So:
- it's ok to use `str(self)` there @efiop suggested
- `OutputLocal.__str__()` should be fixed though
- the code Ruslan showed above is almost right, the issue is that a dvc file might refer outside repo dir with a rel path

I propose thi

[2019-11-05 11:53] efiop commented on #2737
Hi @chadlohrli !

So nfs is mounted outside of your dvc repo, right? And where is your dvcignore?

[2019-11-05 12:06] Suor commented on #2696
I an against erroring out when nothing changed, this doesn't make sense to me and breaks scripting.

On the prefix, I would like to see `HINT: ` there, because that is a hint actually, not something done or happened, but only some supposition.

[2019-11-05 12:08] Suor commented on #2711
+1 for better more specific message.
-1 for extra param, why that could not be fixed by adding default remote to source repo? What's the use case?

[2019-11-05 12:11] Suor commented on #2719
I will let someone else do the input )

[2019-11-05 13:21] Suor commented on #2689
So here is a partial call tree for file checkout:

[code]

So we call `remote.exists()` 5 times and `remote.isdir()` 2 times for same `path_info`, we also do that for `cache_info`, which is `remote.checksum_to_path_info(checksum)`.

[2019-11-05 13:43] mroutis commented on #2719
Looks like a good API design)
I'm still not buy into the idea that this is needed, might be the lack of understanding of the problem. However, I'm down for trying new features.

Some questions:

* How would this change the current deploy workflow? Does it make sense for someone to write a Flask REST API using `dvc.summon`?

* Who is the "target" audience? In what cases someone would need to `summo

[2019-11-05 14:07] cokeSchlumpf opened #2738 "can't create lock files on Azure mounted as a blobfuse"
Hi,

We are trying to use DVC together with Azure ML. On the Azure ML compute target AZ Blob Storage is used which doesn't support linking. Sometimes (and I don't actually understand when), DVC tries to create `.dvc/updater.lock` using a symlink which does not work on the file system:

[code]

`cache.type` is configured to use `copy`. I guess this somehow doesn't apply since no data is really cach

[2019-11-05 14:51] Suor commented on #2719
The `rev` arg is still there to refer to any git revision same as in other api calls.

With the example yaml file:
[code]

`dvc.api.summon("face_rec_model", repo="<repo-url>", rev="<rev>")` will:
1. Clone the `repo-url` to a tmp dir, checkout `rev`.
2. Read `dvc-artifacts.yml` and find `face_rec` key there.
3. Download and checkout all the deps (`"data/face_rec_model.dat"` and `"data/extra.dat"`)

[2019-11-05 16:29] efiop commented on #2711
Let's start with catching that error and re-raising something better.

[2019-11-05 16:37] Suor commented on #2711
The place to wrap an exception in `external_repo()` around the `yield`.

[2019-11-05 16:51] shcheklein commented on #2725
@ValdarT yes, the reason for DVC relying on the actual path, not on DVC-file outputs is because output path in DV C-file is relative and it's possible that two or more DVC-files have the same output path values (while files are located in different subdirectories).

It might be a good addition though to signal a hint if such a situation is detect - there is a DVC-file(s) that has an output path va

[2019-11-05 16:54] shcheklein commented on #2711
@Suor @efiop if we allow non-cached artifacts to be pulled from an external repo, why would we require any remotes at all? The case can (and we had something like this in the past) - use it to collect metrics and use `dvc metrics show` exclusively. And other cases, of course.

+1 for improving messages.

[2019-11-05 16:55] shcheklein commented on #2711
Btw, it's the second time someone is asking us about adding a parameter to specify remote that should be used for an external repo. Just for the record.

[2019-11-05 16:57] Suor commented on #2719
The `dvc-artifacts.yml` resides in source repo, so you need to checkout that first. The `rev` is specified in an api call, not in `dvc-artifacts.yml` so single name there point to all available git revisions in a way.

Yes, this is the issue. But if you don't have `dvc-artifacts.yml` or don't have specific artifact referenced there at specific revision then the instantiating code (`export.py`) won

[2019-11-05 16:59] Suor commented on #2719
It is. I didn't come up with something better for now.

[2019-11-05 17:07] Suor commented on #2466
I am against adding `--remote` for this. The use case of several remotes for different outputs should be handled in a more declarative way on the source repo part. It's either a stated remote in dvc-file for particular out or some declarative cache router config, which says what is pushed to where. This will simplify and make it less error prone for people using the source repo also - `dvc push/pu

[2019-11-05 17:10] Suor commented on #2711
Let's discuss remote function param or cli in #2466. And leave this issue for message only.

[2019-11-05 17:11] Suor commented on #2466
**UPDATE:** This issue applies to `dvc.api.read()/open()` as well as `dvc get/import`.

[2019-11-05 17:56] shcheklein commented on #2711
@Suor there are three parts to it:

- remove the requirement of a remote defined for non-cached artifacts (this is actually the main purpose of the ticket I had in mind when I created it)
- improve the message when remote is needed after all (cached outputs) - and I think we are all on the page with this
- being able to specify an additional parameter - agreed, let's move it to the #2466 and keep

[2019-11-05 18:11] shcheklein commented on #2691
@kurianbenoy @Suor have updated the ticket description to reflect that #2605 is handling temp paths issue. thanks @Suor .

[2019-11-05 18:14] shcheklein commented on #2737
@mroutis could you please include a link to the Discord discussion as we usually do?

[2019-11-05 18:17] shcheklein commented on #2696
Agreed on both with @Suor . Probably would even avoid all upper case prefix at all. For a good message intention should be clear without providing additional prefixes. Or at least, make it just a regular normal part of the sentence - `Hint, ...`.

[2019-11-05 18:19] chadlohrli commented on #2737
The nfs is mounted **inside** my dvc repo. The .dvcignore is at the same level as the nfs mount directory and .dvc directory. (I've tried moving the .dvcignore file around but no luck)

[2019-11-05 18:26] Suor commented on #2696
I personally do like those uppercase prefixes, they optimize human text parsing. E.g. you just skip HINT of you know what you are doing or you read only WARNINGs, these are anchors, which help you navigate

[2019-11-05 18:46] shcheklein commented on #2696
This is related, btw #2605. I don't mind HINT, let's try and see how does it look.

[2019-11-05 18:52] shcheklein commented on #2689
@Suor @mroutis thanks, I understand it better now. Just to confirm - this mostly affect external data management cases, right? Like when we have SSH with a cache setup on it to version stuff that is located on it?

[2019-11-05 18:58] Suor commented on #2689
It also affects local case. If it's many files it might take time I guess. Also local sometimes means nfs, which has network lags.

The push/pull to cache is not affected, since it uses status to actually collect data in bulk.

[2019-11-05 19:51] dashohoxha commented on #2737
@chadlohrli  As far as I know, `.dvcignore` ignores only DVC-files (those that have extension `.dvc`). So, I would say it works as designed, although this might not be what is expected.

To understand better how `.dvcignore` works, please check this example: https://katacoda.com/dvc/courses/examples/dvcignore

[2019-11-05 19:56] chadlohrli commented on #2737
@dashohoxha I don't believe that's correct.
Here is the official documentation: https://dvc.org/doc/user-guide/dvcignore

[2019-11-05 20:34] efiop commented on #2737
@chadlohrli Got it! Sorry, only now noticed that you've provided that info in the PR comments. Could you please try adding `/nfs` to `.gitignore` and committing those changes? Have a suspicion that it might be git that is hanging there.

[2019-11-05 20:49] chadlohrli commented on #2737
@efiop tried adding `/nfs` to the root .gitignore file and committing. No luck.

[2019-11-05 21:16] efiop commented on #2738
Hi @cokeSchlumpf !

Locking is not affected by `cache.type` as it is a completely separate subsystem. The lock that we are using is an nfs-compatible lock, which uses hardlink to create a lock atomically. I suppose you are mounting your azure storage through blobfuse, which doesn't have `hardlink` implemented:

Some file system APIs have not been implemented: readlink, symlink, link, chmod, chown,

[2019-11-05 21:23] efiop commented on #2671
Btw, guys, how about we start with simply making `dvc checkout some.dvc` not collect all stages? The reason it does that in the first place is because it is trying to cleanup old unused links that we no longer have dvc files pointing to, which, actually only makes sense on `dvc checkout`(without arguments). That should speed up `dvc checkout` for specific targets by a lot. With `dvc add` it is not

[2019-11-05 21:26] efiop commented on #2711
@shcheklein

This should probably be done as a part of implementing `get/import` for non-cached files. Out of scope for this ticket.

[2019-11-05 21:27] efiop commented on #2737
@chadlohrli Thanks for the info! So probably a bug on our side, looking into it...

[2019-11-05 21:34] efiop commented on #2737
@chadlohrli Indeed, looks like our dvcignore filter has a midlife crisis and has no respect for himself :D Jokes aside, it simply doesn't account for itself when collecting dvcignores. Preparing a patch right now.

[2019-11-05 21:49] efiop opened #2742 "dvcignore: not using tree"
https://github.com/iterative/dvc/blob/0.66.6/dvc/ignore.py#L67
It is using os.walk, which means that no matter which branch we are checked into in the repo.tree, we are still using dvcignores from the current workspace. Need to make it use `repo.tree`. Probably by passing `self` instead of `self.root_dir` here https://github.com/iterative/dvc/blob/0.66.6/dvc/repo/__init__.py#L499 .

Discovered dur

[2019-11-05 21:56] shcheklein commented on #2711
@efiop it affects API as well, so can be considered independent. That's at least the scope I had in mind creating the ticket :) Anyway, I don't have a strong opinion. If you feel it's better to take care of it as part of implementing `get/import` for non-cached files I'm totally fine with that - just put a note in the corresponding ticket description, or checkbox to keep track of it.

[2019-11-05 22:02] efiop commented on #2738
@cokeSchlumpf Btw, does git work on blobfuse?

[2019-11-05 22:58] cokeSchlumpf commented on #2738
@efiop Thank you for the response. I will try to figure out a working way (but anyhow, sometimes it works without the mentioned error message - now I'm wondering why).

Within the training runtime we don't use any git commands - Azure basically uploads all project files and mounts them into the docker container when executing the training.

I'll spend some time tomorrow investigating. I'll let you

[2019-11-06 00:01] efiop opened #2744 "get/import: shoudln't use cache.type configured in the external repo"
https://discuss.dvc.org/t/dvc-get-doesnt-work-with-absolute-paths-but-everything-else-seems-to/249/6

[2019-11-06 00:11] #2737 closed

[2019-11-06 01:08] #2744 closed

[2019-11-06 02:35] efiop commented on #2697
@JoeyCarson OOM fix was released in a new version of dvc. Please upgrade and give it a try :) Thanks for the feedback!

[2019-11-06 04:12] algomaster99 commented on #2520
@efiop Shall I assign this to myself?

[2019-11-06 04:36] shcheklein commented on #2520
@algomaster99 yes, feel free to take it

[2019-11-06 07:07] shcheklein commented on #2699
Also, it looks like on Windows `dvc add` does not print anything at all for a long period of time. I don't see any progress bars whatsoever.

[2019-11-06 13:03] efiop commented on #2737
@chadlohrli The fix is out in 0.66.7, please upgrade and give it a try :)

[2019-11-06 15:55] efiop commented on #2711
@shcheklein That's a good point! Thinking about it, that issue is only relevant for `erepo.pull`(and friends). When you are accessing regular non-cached files, that one is not called. So it would be best to keep that in mind when fixing this. Will do.

[2019-11-06 16:50] shcheklein commented on #2697
5x slower (was 8x slower) - after adding python and project directory to Windows security whitelist as described [here](https://support.microsoft.com/en-in/help/4028485/windows-10-add-an-exclusion-to-windows-security).

Copy semantics is enabled by default. Next step is to enable hardlinks.

`$ python -mcProfile -s cumtime -m dvc add images`

[code]

[2019-11-06 17:20] shcheklein opened #2747 "progress, prompt: isatty broken on Windows, default git bash and conda python"
Effectively it means that we don't see any progress bars. Just empty screen for commands.

It's a well known issue on a default setup - conda + git bash (haven't tested other configurations). More on this here: https://stackoverflow.com/a/32599341/298182

To reproduce:

[code]

returns `False` if you run like this `python test.py`
returns `True` if `winpty python test.py`

[2019-11-06 17:30] shcheklein commented on #2699
Created a separate ticket to deal with the missing output on Windows - #2747

[2019-11-06 18:54] efiop commented on #2747
[code]
works, but has broken formatting :slightly_frowning_face:

[2019-11-06 18:55] efiop commented on #2747
Can reproduce the same with regular official python (not from conda).

[2019-11-06 19:12] shcheklein commented on #2701
@Titousensei Eric, any updates on your end? It looks like there is not much we can do with buckets encrypted this way in terms of supporting external dependencies/outputs. I'm closing this one for now. Please, let us know if you have more questions or other issues with DVC.

[2019-11-06 19:12] #2701 closed

[2019-11-06 19:16] #1814 closed

[2019-11-06 19:19] efiop commented on #2501
Closing this due to inactivity. Please feel free to reopen.

[2019-11-06 19:19] #2501 closed

[2019-11-06 19:20] efiop commented on #2512
@JohanMollevik Any update on this? Are you still experiencing the same issue?

[2019-11-06 19:20] efiop commented on #2556
Closing due to inactivity.

[2019-11-06 19:20] #2556 closed

[2019-11-06 19:23] efiop commented on #2638
The issue has disappeared for the user. Closing for now, until there is more info and/or a way to reproduce this.

[2019-11-06 19:23] #2638 closed

[2019-11-06 19:26] efiop commented on #2466
I can totally see a usecase for this in a form of a faster remote mirror :) For example, you want to `dvc get` from a public dvc repo, but your company has a local remote with that data already, so `dvc get/import` from it would be much faster than from a public repo.

[2019-11-06 19:26] shcheklein commented on #2738
We probably can support options like lock files location for cases like this.

[2019-11-06 19:31] Suor commented on #2466
@efiop what you are talking about is even more different. How do you configure your own remote on someone else's repo to refer to it?

[2019-11-06 19:45] casperdcl commented on #2747
Based on the SO link should we just document `winpty` on `git-bash`?

[2019-11-06 19:50] casperdcl commented on #2747
if `DVC_IGNORE_ISATTY` still had broken formatting this means that `git-bash` simply doesn't support `\r` and progress bars

[2019-11-06 19:51] casperdcl commented on #2747
@efiop does `winpty` fix the formatting

[2019-11-06 20:01] efiop commented on #2747
@casperdcl It actually looks pretty strange:
[code]
This is literally what I'm seeing, no line was updated :thinking:

Didn't try winpty yet :slightly_frowning_face: @shcheklein Does it work with `dvc add` correctly?

[2019-11-06 20:05] shcheklein commented on #2658
moved this to #2699

[2019-11-06 20:05] #2658 closed

[2019-11-06 20:12] efiop commented on #2466
@Suor From the top of my head:
[code]
and then
[code]

[2019-11-06 20:40] shcheklein commented on #2697
So, it is `1346.624` to copy files, probably `1580.231` to calculate checksums, what else? @efiop @Suor could you help to interpret this?

[2019-11-06 20:42] shcheklein commented on #2747
@efiop @casperdcl `winpty` works fine for me. I wonder how other tools deal with this. For example, I've seen conda printing progress bars without any `winpty`? What is that specific that `winpty` is doing after all?

[2019-11-06 20:55] casperdcl commented on #2658
K, not sure why a new issue was needed but whatever...

[2019-11-06 21:00] casperdcl commented on #2747
Ah interesting... `conda` uses `tqdm` so there must be a way to patch it.

[2019-11-06 21:02] Suor commented on #2697
It's better to sort it by tottime or provide longer output, there is not enough rows here