[2018-09-04 00:21] shcheklein opened #1086 "Error messages fix style"
Error: Failed to run command: Output 'data/Posts.tsv' error: does not exist ->

should be

Error: failed to run command: output 'data/Posts.tsv' error: does not exist

or even something without so many `:`

[2018-09-04 04:43] elgalu commented on #1074
By "web UI" @seeb0h probably means something like ModelDB's UI:
http://modeldb.csail.mit.edu:3000/projects

<img width="1276" alt="screen shot 2018-09-04 at 06 42 54" src="https://user-images.githubusercontent.com/111569/45010434-d4706800-b00d-11e8-9882-1d0197b01787.png">

[2018-09-04 11:42] efiop commented on #1077
Sorry it takes longer than expected. Things got a little busy :slightly_smiling_face: Should be ready until the end of the week.

Thanks,
Ruslan

[2018-09-04 11:48] efiop commented on #1059
@gcoter Could you please tell how big the `.dvc/state` file is after you interrupt `dvc push`(leave it running for ~10 minutes or longer though)?

[2018-09-04 11:58] efiop commented on #1059
Also, does your data(i.e. files that are cached by dvc, so everyting you've `dvc add`ed and everything you've specified with `-o` for `dvc run`) consists of directories with lots and lots of files? I'm asking these two last questins because I have a suspicion that it `state` file gets way to big and plus a json.dump() function slows everything down on top of that. Looks like we need to introduce a

[2018-09-04 12:31] efiop opened #1087 "state: limit db size and add a file size limit"

[2018-09-04 15:53] #1087 closed

[2018-09-04 17:12] efiop opened #1090 "test: use GS stub for unit testing"
https://cloud.google.com/appengine/docs/standard/python/tools/localunittesting

Also https://github.com/iterative/dvc/issues/907

[2018-09-04 20:11] efiop opened #1091 "consider redesigning state file"
Currently we store state in a json file .dvc/state and limit it to 10000 entries. We also don't save state for files smaller than 7MB. While these were the means to workaround other limitations, we definitely need to consider thinking about a better solution.

[2018-09-04 20:16] efiop opened #1092 "run: consider abandoning current automatic dvc file name generation"
Currently if no `-f` is specified for `dvc run`, we automatically use `first output name + .dvc` as a name for the produced dvc file. While this method is handy, it creates associations with output, while a better way would be to associate your stage name with the action that it performs rather than the name of the file that it outputs. Need to consider abandoning this practice starting from 1.0 a

[2018-09-04 20:26] efiop opened #1093 "dag: support submodules"
I.e. when you use another dvc project as a sub project. Also should work with git submodules, which is essentially the same thing.

[2018-09-04 21:00] efiop commented on #1059
@gcoter I've released 0.18.12 with the fix for state file. Please feel free to try it out.

Thanks,
Ruslan

[2018-09-04 21:44] efiop commented on #1059
No worries, thank you for the info!

I've tried to reproduce your environment earlier today but unfortunately was unable to reproduce the issue. Will see if the 0.18.12 makes any difference for you and will go from there.

Thanks,
Ruslan

[2018-09-05 06:47] drorata commented on #599
The more I think about it I understand this is a super important and central use case which has a tricky step: `dvc remove train.tsv`. Correct me if I'm wrong, but it seems like this is not reflected in the documentation in a clear and loud enough of a manner. Don't you think it should be added to https://dvc.org/doc/use-cases/data-and-model-files-versioning? Or maybe a another use case?

[2018-09-05 08:15] juhai opened #1094 "Too much concurrence in remote push and pull"
DVC version 0.18.12, Mac High Sierra with pip on Python 3.6.4

We use [Minio](https://www.minio.io/) for a local S3 backend and I want to use that as the remote for my data files. DVC works ok for Amazon S3 (most likely due to slower network connection). For local network S3 backend connection, the following happens:
- RemoteLOCAL.push uses as many threads as there are chunks/files in the push com

[2018-09-05 09:00] efiop commented on #599
Good point! I agree, it should be in https://dvc.org/doc/use-cases/data-and-model-files-versioning. I will add it ASAP.

Thanks,
Ruslan

[2018-09-05 09:08] efiop commented on #1094
Hi @juhai !

Dvc actually has a limit for the concurrent jobs which is regulated with `--jobs N` option for `dvc push/pull/fetch`. The default number of jobs is set here:

https://github.com/iterative/dvc/blob/master/dvc/cli.py#L260
[code]

So it defaults to 8 * (number of your cpu cores). If it is too much for your scenario, you can specify some smaller set number with `--jobs`.

Right before the

[2018-09-05 10:19] juhai commented on #1094
Amazing, how did I miss that. Works fine with that option. I still think the default is way too big and it might be better to have a more conservative default with user's choice to increase concurrence. On my Mac the default is 64.

[2018-09-05 10:53] efiop commented on #1094
Good point! What maximum number of threads works for you?

[2018-09-05 13:49] andrethrill commented on #1091
Hi @efiop!

Does the current size limitation limits the number of files DVC can currently keep track of?

If yes, if I dvc track a directory, what goes into the state file:
- the info regarding the dir itself only (small state file usage)?
- the infor regarding the dir itself and all the files inside it (large state file usage?

[2018-09-05 13:59] efiop commented on #1091
Hi @andrethrill !

State file is only used for optimization, so you don't have to recompute checksums for large files. It doesn't affect the core functionality of dvc and doesn't limit the number of files that dvc can keep track of.
When saving state for the directory, dvc will save state about the directory itself(effective inode, effective checksum, effective mtime) as well as state(inode, check

[2018-09-05 14:04] juhai commented on #1094
Hi @efiop, the push that previously failed with 64 threads, passes with 32 so I would be happy with a multiplier of 4. Is there any benefit from using anything above cpu_count()?

[2018-09-05 14:10] efiop commented on #1094
Great, I'll send a patch with a multiplier of 4 ASAP and will release new version after that.

Generally there is a benefit, since it is not a CPU intensive task and rather a IO intensive.

Thank you for your feedback!

[2018-09-05 14:11] #1094 closed

[2018-09-05 14:46] juhai commented on #1094
Thanks for the quick fix!

[2018-09-05 16:16] efiop commented on #1094
@juhai 0.18.13 is out. Please feel free to give it a try. And thank you for the feedback!

[2018-09-05 16:17] gcoter commented on #1059
I tried with the last version and the majority of the files were transfered! But it crashed for some reason:

[code]

And if I try again, it resumes and then crashes again before finishing. I think it is related to my server, not to DVC. Maybe it is configured to limit the amount of data that can be transferred. Given the number of files, it might explain the problem.

[2018-09-05 16:26] juhai commented on #1094
@efiop Works now with the default concurrence.

[2018-09-05 16:26] efiop commented on #1059
Hi @gcoter !

Looks like the original issue has been resolved with the last patch, yay :tada: The issue you are experiencing now is indeed caused by the server not being able to serve so many jobs at the same time. This issue accidentally had been brought up today by another user with another type of remote server and it turned out that `8*NCPU` threads was way too much for his server to handle. I

[2018-09-05 16:32] efiop commented on #1059
@gcoter Also, looking at your logs I've noticed that paths are improperly joined(e.g. `data/test/images\26831e1535.png` should be `data\test\images\26831e1535.png` on windows). We might have a bug here, looking into it right now.

[2018-09-05 16:38] efiop commented on #1091
@andrethrill Unfortunately yes, in the current implementation. I'm working on a better solution right now, should be ready for 0.19.0 very soon. The current limit was introduced a day ago with 0.18.12 to help with another issue where I suspected that state file got way too big.

[2018-09-05 16:49] andrethrill commented on #1091
That's perfect. Thank you for the explanation!

[2018-09-05 17:58] efiop commented on #1081
Turns out it was a state file that got too big. Closing.

[2018-09-05 17:58] #1081 closed

[2018-09-05 18:08] efiop opened #1095 "push/pull: properly join name on windows"
https://github.com/iterative/dvc/issues/1059#issuecomment-418795833

[2018-09-05 18:12] efiop commented on #1059
Ah, looks like it is just how the name got resolved which is purely cosmetic and doesn't affect anything. I'll prepare a patch soon to fix that. Created https://github.com/iterative/dvc/issues/1095 for that.

[2018-09-05 19:38] efiop opened #1096 "run: print a hint if user tries to pass dvc file instead of the command"
As @shcheklein pointed out, some people might assume that `dvc run stage.dvc` will run the stage file, which is not the case. We might consider supporting such behavior in the future, but for now let's at least add a warning/tip/hint: `Do you mean dvc repro stage.dvc?` or something like that.

[2018-09-05 21:03] shcheklein commented on #1092
Yep, current stage naming *magic* is ugly and fragile. For example, I'm not sure what is happening if I just change the order of outputs (or prepend one more output) and execute `dvc run` again? Will it create a duplicate stage?

Another option would be to ask a user for a name with a default option provided (that could be the same as we have now - first output) if name is not explicitly specified

[2018-09-06 01:08] efiop opened #1097 "dvc: drop repro and use `add` instead of `run`"
E.g. something like:
`dvc add file.txt` -> `dvc add -o file.txt`
`dvc run -d dep -o out cmd.py` -> `dvc add --exec -d dep -o out cmd.py`
`dvc repro stage.dvc` -> `dvc run stage.dvc`

[2018-09-06 06:31] AKuederle commented on #1074
To expand on this question, It would be really cool if there would be a way to get specfic datasets stored with dvc without initializing the respective git repo. Often it is required to just share a specific version of your data with your client. I am thinking, it might be an interesting addition, if we could write a little webserver/webservice for self hosting, that given a specific data version

[2018-09-06 08:37] seeb0h commented on #1074
I am asking myself in a very forward-looking way.

We are currently updating an ML R&D workflow and dvc is a good candidate for our versioning. We aim (in a more or less distant future) to automate part of the workflow through a web application. So, the presence of an API at dvc will become an important point.

There is many functions that could be done in a webUI.
Tracking metrics as @elgalu ment

[2018-09-06 11:14] efiop commented on #1074
Thank you all guys for the feedback!

@elgalu @seeb0h Thanks for the info! We definitely had similar thoughts on features that we wanted to see implemented in a WebUI on top of core dvc. We are also actively discussing it within our team and think that we will begin working on it by the end of the year. Btw, there is a [mailing list](https://sweedom.us10.list-manage.com/subscribe/post?u=a08bf93caa

[2018-09-06 17:50] yarikoptic commented on #296
I hope you do not mind me chiming it with some clarifications on the previous discussion topics.
re @kskyten 's  _I would like to use DataLad for distributing the different components of the statistical models in a collaborative way. It also has a way of reproducing results similar to DVC, but the workflow is encoded in the git graph so as far as I know it is not possible to change a component in

[2018-09-06 18:40] Casyfill opened #1098 "DBC badge"
thought it would be great to have a DVC badge - mainly for devs to note we're using it
https://img.shields.io/badge/dvc-945DD5.svg

[2018-09-06 18:42] Casyfill commented on #1098
theoretically it might be even better if it show current version/tag for data

[2018-09-06 18:44] Casyfill opened #1099 "Mapping / Integrating DVC pipeline into production (Luigi/Airflow, for example)"
it would be nice to have some options (or even a tutorial) on how to inject/map DVC pipelines onto popular frameworks, so that ideally ther won't be any need to work with the "production" code directly.

main problem here, in my humble opinion, is mapping and unifying parametets and paths

[2018-09-06 18:49] efiop commented on #1098
Great idea! We will definitely create our own one later and will host it ourselves, since shields.io tend to not load pretty frequently. We actually were using shields.io for our current badges, but switched back to default ones exactly for that reason.

Thanks,
Ruslan

[2018-09-06 19:13] efiop commented on #1099
It is not very clear how to achieve it in an elegant way in the current state of dvc. We will have to take a closer look at it to see if there are any additions for dvc that will help with the integration.  Going to take a closer look at it pretty soon.

Thank you for the feedback!

[2018-09-06 20:14] Casyfill commented on #1099
True, and I am not terribly convinced this SHOULD be part of DVC per se (you know better  though), but would love to see/think/talk out loud /

[2018-09-07 05:45] shcheklein opened #1100 "`dvc run` without arguments should show help instead of producing an empty dvc file"
Right now `dvc run` produces:

[code]

I'm not sure if it makes sense to do that. Probably it's just better to show help?

[2018-09-07 05:57] shcheklein commented on #1092
Another suggestion. In certain cases (python or R scripts are pretty common, right?) we can try to analyze the command we are running and suggest name based of script name, not output data file. This idea makes sense only if we are going to ask users about the name. Asking users about the name makes even more sense if migrate current "create stage" logic to the `dvc add`.

[2018-09-07 13:35] tdeboissiere opened #1101 "Feature request: Add error message when one depency is not found"
**Ubuntu 16.04, pip install in Anaconda 3.6.4, dvc version 0.18.13**

I have noticed that:

`dvc run -d {my_dep} -o {my_output} {my_cmd}` will run (i.e `{my_cmd}` will be executed) even if one or more dependency is not found (e.g. a path spelling error in the depencies). However, no `.dvc` file is created.

I think this behaviour is a bit confusing. It would probably be better to check for depende

[2018-09-07 18:09] efiop commented on #1101
Hi @tdeboissiere !

You are right, dvc should first check for dependencies and make sure that they exist and then run the command. Will look into it soon.

Thanks,
Ruslan

[2018-09-07 21:55] gcoter commented on #1059
Hi @efiop !

I'm having the same issue again: it hangs forever. Using the debugger, I managed to find which method is hanging: https://github.com/iterative/dvc/blob/0.18.13/dvc/remote/ssh.py#L108

Everything goes fine until this line. I can see the `find` command running on my server. It takes a few seconds. Then, nothing happens. It seems that `recv_exit_status` waits forever. I read that Paramik

[2018-09-07 22:16] efiop opened #1102 "ssh: dvc hangs if there are too many files in the remote"
https://github.com/iterative/dvc/issues/1059#issuecomment-419575978

[2018-09-07 22:17] efiop commented on #1059
Hi @gcoter !

Thank you for a detailed analysis, this is extremely helpful! Indeed, looks like using `find` to check if files exist in this case is not ideal. Created https://github.com/iterative/dvc/issues/1102 to track the progress on this issue. Will look into it ASAP.

Thanks,
Ruslan

[2018-09-08 18:34] efiop commented on #1102
Fixed by https://github.com/iterative/dvc/pull/1103

[2018-09-08 19:41] efiop commented on #1059
Hi @gcoter !

I've merged the path for that and released it under 0.18.14. Please feel free to give it a try. I've tried it myself with directories with >50K files and it works fine for me now.

Thanks,
Ruslan

[2018-09-09 14:30] efiop commented on #1059
Looking forward to it! May I ask for how long did you leave it running before killing it?

Thanks,
Ruslan

[2018-09-09 14:45] gcoter opened #1104 "ssh: dvc hangs if the find command takes more than 8 seconds to run on remote"
As we discussed in #1059, I have been experiencing an issue when pushing data to my personal server through SSH: it just hangs forever. It turns out that it is related to the execution time of the `find` command (used to see which files have already been uploaded to the server).

Here is how I reproduced the bug:

1. I created an empty cache on my server
2. I ran `dvc push --jobs 4` and interrupte

[2018-09-09 14:49] gcoter commented on #1059
Please have a look at #1104 for more details :)

[2018-09-09 14:51] efiop commented on #1104
Thank you for a such detailed description! Looking into it right now.

[2018-09-09 16:05] efiop commented on #1104
Unfortunately I'm not able to reproduce on my servers :( Is there something special about your server or is it a classic linux server?

Looking at the code, there is a suspicion that maybe calling recv() before recv_ready() might cause such issues, so I've merged a patch for that into master. Could you please try it out by installing a development version from our git repo? I.e. `pip uninstall -y

[2018-09-09 19:09] gcoter commented on #1104
It seems to work now!

My server is just a Raspberry Pi (Raspbian Stretch) with nothing special. It is strange that you couldn't reproduce the issue. But since it works now, it doesn't matter.

Thank you very much :)

[2018-09-09 19:11] gcoter commented on #1104
I will push my other projects to my server soon, I will let you know if I encounter this issue again.

Thank you again!

[2018-09-09 19:33] efiop commented on #1104
Glad to hear it worked!

Wouldn't call that a "classic linux server" since it is ARM after all :slightly_smiling_face: I also have one lying around and if the issue will arise again, I might pull it out to see if I will be able to reproduce :slightly_smiling_face:

Thank you so much for all the feedback you've provided!

[2018-09-09 20:02] efiop commented on #1100
Hm, looked into it right now and discovered that I have added a test for that :slightly_smiling_face: Looks like I was considering it a corner case of sorts. I'll give it a better thought again soon. Thank you for noticing!

[2018-09-09 20:06] shcheklein commented on #1100
Cool, thank you. Could we check the commit message for the test? May be there is some explanation for that. Just a random suggestion :)

[2018-09-09 20:44] shcheklein commented on #1100
👍

[2018-09-10 09:32] drorata commented on #599
@efiop [Above](https://github.com/iterative/dvc/issues/599#issuecomment-377793329), shouldn't `dvc remove train.tsv` be actually `dvc remove train.tsv.dvc`?

[2018-09-10 09:40] efiop commented on #599
@drorata You are absolutely right! Fixed. Thank you!

[2018-09-10 10:39] efiop commented on #599
If you want to simply modify the file, then in general this:

[code]

should be replaced by this:

[code]

This is a general flow that is needed for hardlink/symlink cache types in order to avoid corrupting the cache for the previous version of the file.

Unless your workspace supports reflinks(if you are on a recent Mac then chances are you are using reflinks) or you've manually specified `cache.

[2018-09-10 14:28] AKuederle commented on #1074
Thank you for your response. What I basically meant, was that it would be nice to have a way to get the data, which corresponds from a specific project without installing git/dvc. Similar to downloading code from Github as .zip. Of course you could go right to the specific storage location in your AWS bucket, ssh-server, etc. but it would be nice to have a little webservice (with or without gui) t

[2018-09-10 14:41] efiop commented on #599
Try `dvc add something -v` or `dvc checkout -v` and it will tell which one it uses. You can specify which one exactly you want to use using `dvc config cache.type reflink/hardlink/symlink/copy`.

If it was corrupted, dvc will print a warning and remove the corrupted cache.

I agree, and we are working on it. Here is https://github.com/iterative/dvc/issues/799 where we track the progress on it. The

[2018-09-10 17:58] efiop commented on #1074
@AKuederle Thank you for sharing your thoughts! This is indeed a very interesting idea! It would be a great addition to the WebUI mentioned above. I think it is definitely going to be implemented in the future.

Thanks,
Ruslan

[2018-09-10 23:40] shcheklein commented on #599
@drorata thank you, we've added a couple of safety notes [here](https://dvc.org/doc/get-started/add-files) (expand DVC internals at the bottom) and [here](https://dvc.org/doc/commands-reference/config#config) (check the cache type section). Let me know if you have other places in mind where it makes sense to warn our users.

We've also created an [issue](https://github.com/iterative/dvc.org/issues

[2018-09-11 16:10] andrethrill opened #1107 "Easy way to `repro` all the outdated `.dvc` files in a repository tree"
Currently, the way I integrate DVC into my workflow is:

Consider the sample repo:
[code]

Where:
- `file2.csv` is generated by `script1.py` and depends on `file1.csv`.
- `file2_1.csv` is generated by `script2.py` and depends on `file2.csv`.
- `file2_2.csv` is generated by `script3.py` and depends on `file2.csv`.

Imagine that I change `script1.py`, that changes `file2.csv`, which is a dependency

[2018-09-11 17:05] efiop commented on #1107
Hi @andrethrill !

As a workaround you can use the following trick to tie down that nicely with a dummy Dvcfile placed in a project root(as an example) that will have all your file*.cvs as dependencies and will not have a command nor will it have outputs. To generate that file run:

[code]

This will essentially tie down all the hanging ends(outputs) of your pipeline into a single final stage that

[2018-09-11 17:29] andrethrill commented on #1107
Hi @efiop! :)

Thank you very much for the quick reply as usual.

If I understand well your proposed workaround, that would require the user to actively remember to go and update such dummy dvc file everytime a new .dvc file is created or removed right? It seems a bit cumbersome from the user perspective.

The solution you propose at the end seems much more appealing (for me at least), even more g

[2018-09-11 17:38] efiop commented on #1107
Agreed, that workaround is not ideal for this scenario.

Yes, I meant `dvc repro -p|--pipeline`. I'll send a patch for it soon, should be released with 0.19 until the end of the week. Regarding v1.0, I'm sure --pipeline will fit nicely there as well 🙂

Thank you for the feedback!

-Ruslan

[2018-09-11 21:38] tdeboissiere opened #1108 "Feature request: add flag to skip confirmation with dvc destroy"
With dvc 0.18.14, dvc destroy always asks for confirmation. There is no flag (like --yes) to skip this step.

[2018-09-11 21:40] efiop commented on #1108
Great point! Will add a support for it shortly. Probably going to be released with the 0.19 by the end of the week.

Thanks,
Ruslan

[2018-09-11 23:42] tdeboissiere opened #1109 "Confusion with dvc repro when specifying output file in subfolder"
**Ubuntu 16.04 dvc 0.18.15 (pip install)**

Sorry if this question looks similar to #1028 but the behaviour of DVC feels unnatural in this slightly different situation:

**This script throws an error:**

[code]
(In the script above, I do want to save a .dvc file in `out/data/subdata/subsubdata.dvc`, dvc run works, but dvc repro fails with:

`Failed to reproduce 'out/data/subdata/subsubdata.dvc': F

[2018-09-12 00:02] efiop opened #1110 "run: check that -f doesn't contain any subdirectories"
https://github.com/iterative/dvc/issues/1109#issue-359263079

[2018-09-12 00:12] efiop opened #1111 "run: consider redesigning path resolution"
https://github.com/iterative/dvc/issues/1109

[2018-09-12 00:14] efiop commented on #1109
Hi @tdeboissiere !

The repro error happens because the `cp` is being run from the location of the `.dvc` file `out/data/subdata/`, while it was first ran from `out/data`(because of the `-c out/data`). I believe your `dvc run` should look like this:
[code]
Notice how the command and its arguments are specified relative to the location of the `subsubdata.dvc` file, because that is the location from

[2018-09-12 01:04] tdeboissiere commented on #1109
I see, that did the trick.

Is there any way for it to work without using `dvc run -c` ?

For instance, the script below fails to reproduce:

[code]

[2018-09-12 01:30] efiop commented on #1109
It is possible, but not with the current `dvc run`, since it acts more like a dumb wrapper for just writing stuff into dvc files. I think starting from 1.0 we will make it save cwd(and it will be configurable as well), so that the script you've provided would work by saving `cwd=$(pwd)` and write the dvcfile to `out/data/subdata/subsubdata.dvc` which seems much more natural.

Thanks,
Ruslan

[2018-09-12 13:07] #1109 closed

[2018-09-12 14:53] efiop opened #1113 "repro: don't check for missing dependencies when running with `--dry`"
https://discuss.dvc.org/t/creating-an-aggregate-dvc-file/93/5

[2018-09-12 16:06] andrethrill opened #1114 "Computing md5 for a large directory. This is only done once. Runs every time."
[code]

I'm working on a repository together with 3 other colleagues. We work on the same machine with remote ssh sessions. We use DVC with shared cache. Each one of us works on his/her own repository copy located in distinct dirs. DVC cache is located outside the repository dirs but on the same disk partition as each of our repository dirs.

Before, when we ran, for instance, `dvc status` each on

[2018-09-12 18:36] efiop opened #1115 "dvc: check licenses of dependencies"

[2018-09-12 18:56] andrethrill commented on #1114
Hi @efiop,

Indeed! Tried it with 0.18.11 and the symptoms disappeared!

Initially I excluded that limitation as a cause because only some of us were experiencing the problem. Although I still don’t understand why is it like that, I’m happy we found the cause. Looking forward for v0.19 ;)

Thank you very much for your support.

[2018-09-13 19:48] efiop opened #1117 "state: store inode as int and not as TEXT"
Kudos @shcheklein for noticing.

[2018-09-13 21:33] #1113 closed

[2018-09-14 16:08] sotte opened #1119 "How to manage repetitive `dvc run` commands (like unpacking of many zip files)?"
Assume you download a bunch of zips.
[code]

 Now you need to unpack the files to lets say `data/unpacked/file{i}`. Something like this:
[code]
When I use a Makefile to manage my pipeline I would write a simple rule for unpacking the zips and put them into their target folders. What is the best approach to do something like this with DVC? Right now I just type a bunch of `dvc run` commands but tha

[2018-09-14 16:17] sotte commented on #1092
I also think the current solution is sub-optimal.
I still think having the .dvc file next to the output (eg. `dvc run -o data/output ...` creates a `data/output.dvc`) is the way with the least surprise.

[2018-09-14 16:48] efiop commented on #1092
Sorry @shcheklein , forgot to click "comment" and closed the tab.

Currently it uses the first output name, so yes, if you change order it will create a duplicate stage. :slightly_frowning_face:

This is exactly what we do currently.

Yes, I'm thinking more and more about this.

Yet again, this is more more from a magic section, which is secondary at best. For now we are talking about primary stru

[2018-09-14 17:01] efiop commented on #1092
Hi @sotte !

I still think having the .dvc file next to the output (eg. dvc run -o data/output ... creates a data/output.dvc) is the way with the least surprise.

Makes sense. The current problem is `-c` and `-f` behavior, which will be solved in v1.0, by storing `cwd` in dvc file instead of relying on dvc file location purely. Looks like the best solution is between explicit and implicit approach

[2018-09-14 17:12] efiop commented on #1114
Hi @andrethrill !

Sorry it takes longer than expected. I think the change is going to be released until monday for sure.
Thank you for your patience!

-Ruslan

[2018-09-14 17:13] efiop commented on #1077
Hi @tdeboissiere !

Once again, sorry that it takes longer than expected. We plan to release 0.19 with this feature until Monday. Thank you for the patience!

-Ruslan

[2018-09-14 19:20] efiop commented on #1119
Hi @sotte !

Very interesting scenario! We have been thinking about introducing a build matrix https://github.com/iterative/dvc/issues/1018 to handle a bit different scenario, but i think in your case it could be useful as well. For example, Dvcfile placed in `data/unpacked` could look like:

[code]

Would something like that suit you? Please feel free to share any thoughts or suggestions.

Thanks

[2018-09-14 19:49] sotte commented on #1119
That looks quite nice!
Wildcards would be nice. Something like this:
[code]
But I guess the deps and outs have to be specified explicitly.

[2018-09-14 20:04] efiop commented on #1119
Glad you like it! We will take a closer look at implementing this in the near future.

Yeah, the wildcards raise more questions than answers. I can't promise that they are going to be implemented this way, but we will sure think about it to see if there are some suitable ways we could incorporate them in the future.

Thanks,
Ruslan

[2018-09-14 20:59] piccolbo commented on #1074
You could use [hug](http://hug.rest) to simultaneously maintain a web and python API and a CLI. It seems to reduce the work of maintaining the three and keeping them in alignment, plus of course the bonus of being able to run dvc as a service. Just my 2c.

[2018-09-14 21:09] efiop commented on #1074
Hi @piccolbo !

Thank you for the tip! `Hug` looks very promising! We will be sure to take a closer look at it when developing WebUI.

Thanks,
Ruslan

[2018-09-14 21:31] sotte commented on #1119
True, but if you add the wildcard feature, then people (including myself ;)) would want more data pipeline features. How about rewrite rules? Parallel execution? Feature parity to makefile...at least ;) Do you want to go down the route?

I'm not saying that you should or should not. Just that it's a tricky balance.

[2018-09-14 21:57] efiop commented on #1092
No, I don't think that we should duplicate dvcfiles at all, because it creates too much confusion and creates additional ways to shoot yourself in the leg. I think it is much better to call your stage `plot.dvc` and put it somewhere(e.g. at `data` if you wish so), so it describes creation of both `plot1.png` and `plot2.png`.

[2018-09-14 21:58] efiop commented on #1119
Well, we are already sorta going that way with build matrix and upcoming parallel execution, so we might(and I think we should) as well make another step 🙂 Btw, what do you mean by "rewrite rules" ?

[2018-09-14 22:17] sotte commented on #1119
Wrong term, sorry. I was thinking of substitutions in makefiles. See https://www.gnu.org/software/make/manual/make.html#Substitution-Refs

[2018-09-15 00:41] efiop commented on #1108
@tdeboissiere Have you tried `dvc destroy -f` ?

[2018-09-15 02:08] #1091 closed

[2018-09-15 02:08] #1100 closed

[2018-09-15 02:38] tdeboissiere commented on #1108
Yes, and it does work ! So probably destroy --yes is superfluous

[2018-09-15 02:41] efiop commented on #1108
I think so as well. Lets not introduce -y since -f works fine. Closing for now. Please feel free to reopen.

[2018-09-15 02:41] #1108 closed

[2018-09-15 03:33] efiop opened #1121 "dvc: speedup stage collection by not visiting output dirs of the stages"
Right now dvc will walk through all directories and files in the repo to find dvc files. In cases when there are some giant directories, it vastly slows down every dvc command. Need to stop visiting those directories.

[2018-09-15 03:51] efiop commented on #1119
Btw, @shcheklein noticed that we had a similar discussion recently https://discuss.dvc.org/t/creating-an-aggregate-dvc-file/93 and thought that it might be worth mentioning that you can workaround this by using a bash script just like in the linked discussion.

[2018-09-15 04:26] efiop opened #1123 "run: check that dvc file is not placed inside output directory"

[2018-09-15 04:45] #1121 closed

[2018-09-15 13:05] andrethrill commented on #1114
No worries @efiop, 0.18.11 has been doing its job for now.

Thanks for keeping me update!

[2018-09-15 16:11] gcoter opened #1124 "SSH: authentication with password/passphrase"
Hello,

If I try to connect to an SSH remote without a private key file, it fails with this message:

[code]

Also note that it will try the default key (.ssh/id_rsa) if you have one.

If I try to connect with an encrypted key file (i.e. with a passphrase), it fails with this message:

[code]

I think the reason is that no password is given to `ssh.connect` [there](https://github.com/iterative/dvc

[2018-09-15 17:01] efiop commented on #1124
Hi @gcoter !

You are correct, those errors are indeed caused by dvc not asking and not passing password/passphrase to connect(). Would you be okay with storing your password/phrase in .dvc/config or .dvc/config.local(not tracked by git) or would you like to manually enter them every time? Or both?

Thanks,
Ruslan

[2018-09-17 03:30] efiop opened #1125 "dvc: don't forget to check if cache of the file inside directories had changed"
I.e. changed_cache() from RemoteLOCAL should open dir cache entry and check that underlying cache files are ok as well.

[2018-09-17 07:59] #1117 closed

[2018-09-17 10:05] appunni-dishq opened #1127 "DVC must not ask for List Access on s3 buckets"
Being a version control, dvc already has all details about files it has to track and add, it must only do head requests with the files available in the local repository to check whether remote repo is up to date. Using List Access Opens up a security issue when access to files is restricted by restricting listing of files but put and read are available.

[2018-09-17 10:15] appunni-dishq commented on #1127
# NOTE: We mostly use exists() method when filtering a bulk of cache
        # files to decide if we need to download/upload them and in s3
        # list_objects_v2() is much-much faster than trying to check keys
        # one-by-one.

Can we do an alternate of check keys one-by-one if list_objects_v2 access is not given

[2018-09-17 16:57] efiop commented on #1127
Hi @appunni-dishq !

I think we could check somehow if we have List Access and if we dont - check keys one by one. Or maybe we could have a config option to choose the behavior. I will take a look at it shortly.

Thank you for the feedback!

-Ruslan

[2018-09-17 18:40] pared commented on #1051
Hi, i would like to participate in this task.
1. Now the only existing option is "--ascii"? (it seems so from help, just want to make sure)
2. If we want to further render it with graphviz, we need to provide filename as argument?

[2018-09-17 19:04] efiop commented on #1051
Hi @pared !

There is also a default one that just prints stages sequentially.

I don't think dvc should handle the dot -> image rendering itself, but it should output graph in .dot format that could be later rendered by user with any tool of his choice. So it should look something like:
[code]

The most of the logic is in `dvc/command/pipeline.py` where you could find examples for the default beh

[2018-09-18 04:59] #1110 closed

[2018-09-18 06:40] sotte commented on #1119
That could work. It feels like a dirty workaround though and not very intuitive.

I'll try it out and let you know how it works out in the long run.

[2018-09-18 07:08] sotte opened #1130 "Easier tracking with git by outputing a `git add` command after `dvc run`"
Just an idea. I wish dvc would (1) show me what files it created/changed and (2) make it easier to track those files with git. Maybe something like this:
[code]
In this example it's pretty obvious what to track, but if you have output files deeper in the folder hierarchy it can be tedious to add these files.

This feature could be useful for `dvc add` and `dvc repro` as well.

[2018-09-18 07:34] sotte commented on #1130
You folks are amazing!

[2018-09-18 10:14] #1130 closed

[2018-09-18 10:30] sotte commented on #1130
...and fast! Thanks!

[2018-09-18 12:07] sotte commented on #1130
I just tested the master and it works like a charm.

Does it make sense to also include the `.gitignore` file and not just the `*.dvc`s? What do you think?

[2018-09-18 12:57] sotte commented on #1130
Sorry, you're right. The .gitignore file already contained the change.

[2018-09-19 03:52] #1124 closed

[2018-09-19 07:01] #1107 closed

[2018-09-19 13:50] midemarc opened #1134 "SSH: Fail to push binary data"
## Description
I get an error when trying to push generated model files to my remote over ssh.

## General steps to reproduce:
* Init dvc repository
* Add an ssh remote
* Train the model using `dvc run`
* DVC push
The error I get is : `Error: Failed to push data to the cloud: sequence item 0: expected str instance, bytes found`

## More details
* First, I am just beginning to use DVC, so I may hav

[2018-09-19 14:50] efiop commented on #1134
Hi @midemarc !

What version of dvc are you using(`dvc --version`)? Also, could you please try running `dvc push` with `--verbose` flag and show us the output?

Thanks,
Ruslan

[2018-09-19 14:57] midemarc commented on #1134
Hi @efiop, I use dvc 0.18.15.
Here is the full output of the push :
[code]

[2018-09-19 15:35] efiop commented on #1134
Looks like we are improperly joining the stderr for when the ssh fails. I will send a patch ASAP and it is going to be released with v0.19 in the nearest days. But the core issue I think is that there is too much concurrency for your ssh server to handle. Could you please try limit the number of connections with the `-j` flag? I.e. could you please try running `dvc push -j 4 -v` ?

[2018-09-19 15:43] midemarc commented on #1134
It's still the same, with 4 or even 1 job(s) :
[code]

[2018-09-19 15:59] midemarc commented on #1134
I'm so sorry @efiop, I realised my user didn't have the rights to write to the folder I specified on the server...

Apologies for wasting your time.

[2018-09-19 16:08] efiop commented on #1134
No worries :slightly_smiling_face: Thank you much for the feedback!

[2018-09-19 16:31] #1134 closed

[2018-09-19 17:01] efiop opened #1136 "bug when running on a symlinked repo"
https://travis-ci.org/iterative/dvc/jobs/430603417

[2018-09-19 18:59] pared commented on #1051
During diggin in subject i saw that when we use

`pipeline show X.dvc -o`

(sample project from main webpage) out files are written to std under each other, while with `--ascii` data.tsv and data-test.tsv are on same level. Maybe we should display out files in format line per stage?
Just an idea for issue.
Pawel

[2018-09-19 21:34] efiop commented on #1051
Hi @pared !

Good point! The current default behavior of `pipeline show` is not great by itself in terms of visualization and we are thinking about ditching it in favor of `--ascii` being the new default behavior. So I don't think that it is worth bothering with, unless there are users for it. If you would be willing to submit a patch for that, we will be happy to merge it. Thank you for looking i

[2018-09-19 21:48] #1136 closed

[2018-09-20 15:47] ludovicc opened #1140 "Use dcv add to construct a datapackage descriptor"
dvc could use its file tracking feature to automatically generate metadata describing the files used.

The Data package spec from okfn.org describes many types of data, including tabular data.

https://frictionlessdata.io/specs/data-package/

Its ecosystem of tools is growing, and dvc could become another way to easily describe and share open data.

The idea is to use the command 'dvc add' to gene

[2018-09-20 23:44] efiop commented on #1140
Hi @ludovicc !

Thank you for your interest in dvc! Unfortunately, I don't think that datapackage should be integrated into `dvc add` since it is not our main focus. If user wishes to generate specs, he could simply add a stage to his pipeline that will do that for him. E.g. something like:

[code]

Thanks,
Ruslan

[2018-09-21 06:14] #1077 closed

[2018-09-21 06:15] efiop opened #1144 "remove: support --with-deps option"
Related https://github.com/iterative/dvc/issues/1077

[2018-09-21 06:31] #1095 closed

[2018-09-21 06:32] efiop commented on #1104
Closing this for now. Please feel free to reopen.

[2018-09-21 06:32] #1104 closed

[2018-09-21 06:33] efiop commented on #1114
Closing this issue since the patch is merged. Preparing to release 0.19.

[2018-09-21 06:33] #1114 closed

[2018-09-21 10:15] efiop commented on #1114
Hi @andrethrill !

0.19 is out. Please feel free to upgrade.

Thanks,
Ruslan

[2018-09-21 10:17] efiop commented on #1124
Hi @gcoter !

0.19.0 is out. Please feel free to upgrade.

[2018-09-21 10:20] efiop commented on #1130
Hi @sotte !

FYI: 0.19 is out. Please feel free to upgrade.

[2018-09-21 20:11] efiop opened #1146 "dvc: support http(s) as an external dependency"

[2018-09-21 22:56] andrethrill commented on #1114
Thanks for the news @efiop! Will update!

[2018-09-22 01:21] efiop opened #1147 "osx: build binary package on the oldest osx version that we need to support"
https://github.com/iterative/homebrew-dvc/issues/7

[2018-09-22 05:55] efiop opened #1149 "pyreflink doesn't build on mac os X < 10.12"
Need to fix pyreflink module to not include sys/clonefile.h if < 10.12.

[2018-09-22 06:10] efiop commented on #1149
https://gitlab.com/rubdos/pyreflink/merge_requests/5

[2018-09-22 09:24] #1147 closed, assigned to efiop

[2018-09-22 12:27] gcoter commented on #1124
Hi @efiop !

The password authentication is working now, thank you!

However, I noticed that if I run `dvc pull` with `--jobs` greater than 1, it will ask the password several times. To avoid that, I have to run `dvc pull --jobs 1`.

[2018-09-22 12:48] gcoter opened #1150 "Support tags for push/pull/gc"
Hello,

It seems that DVC was designed to work mainly with branches, however I sometimes prefer using tags.

Usually, I use branches to separate the different models/preprocessings I use. But in the context of Kaggle competitions for instance, I like to make a tag each time I make a submission. I find tags really suited to submissions since I can make several submissions with the same model (Rando

[2018-09-22 12:53] efiop opened #1151 "ssh: don't ask several times for a password"
https://github.com/iterative/dvc/issues/1124#issuecomment-423740624

[2018-09-22 12:54] efiop commented on #1124
Hi @gcoter !

Hm, strange. Looks like I've overlooked something. Created https://github.com/iterative/dvc/issues/1151 to track the progress on the issue. Will probably release in 0.19.2 soon.

Thanks,
Ruslan

[2018-09-22 14:11] efiop commented on #1150
Hi @gcoter !

Great suggestion as always! I think we could definitely  add `--all-tags` option similar to already existing `--all-branches`. I will look into it shortly.

Thanks,
Ruslan

[2018-09-22 14:53] efiop opened #1152 "dvc: add a link to our chat into error msgs/exceptions"
Kudos @shcheklein

[2018-09-22 17:36] shcheklein commented on #1152
I've made redirects https://dvc.org/chat and https://dvc.org/help . README and documentation links have been updated to use these links.

Consider adding this link to the update message, may be other service messages as well.

[2018-09-22 18:03] dmpetrov commented on #1152
When I logged in, it redirects me to the Invite page. Is there a way to go directly to the chat room?

[2018-09-22 18:59] shcheklein commented on #1152
@dmpetrov good question, I don't know, we should reach out to discord and may be even ask to accept us to the partnership program

[2018-09-22 21:35] dmpetrov opened #1153 "WebDav: new remote type"
WebDav is a quite common protocol for file sharing.

It is especially convenient because box.com provides 10Gb free and supports WebDav.

[2018-09-24 01:41] #1151 closed

[2018-09-24 04:49] jeepkd opened #1160 "s3: Support AWS credential settings from environment variables"
dvc should also load credential information from system environment variables as awscli does.

Reference: https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html

For example: we should be able to run `dvc pull` despite absence of AWS profiles in _~/.aws_ if we had set the following environment variables:

[code]

The following command works:
[code]

But this one does not:
[code]

A

[2018-09-24 05:03] efiop commented on #1160
Hi @jeepkd !

Good point! I was sure that we support this already since this is how we pass creds in our travis tests, but turns out we write it to `.aws/` first. Will send a patch soon.

Thanks,
Ruslan

[2018-09-24 09:34] efiop commented on #1124
Hi @gcoter !

I've forgot to check that pull indeed establishes a single connection before creating threads. Now that issue is fixed. I will release it with 0.19.3 later today. Thanks again for all the feedback!

-Ruslan

[2018-09-25 07:31] pared commented on #1051
I guess we can close this issue?

[2018-09-25 08:42] efiop commented on #1051
Oops, sorry. I thought that your PR had `Fixes #1051` in it and it closed automatically.

Thanks again for the PR! Closing.

[2018-09-25 08:42] #1051 closed

[2018-09-25 08:47] pared commented on #1051
My pleasure, I will take on another task, when I will be available. Should I look for "good first issue" or just take whatever fits me?

[2018-09-25 09:04] efiop commented on #1051
Please feel free to take any task you'd like, just be sure to give a heads up, so I know that it is taken. Also feel free to ping me(e.g. on [discord](https://dvc.org/chat)) if you need anything. Thank you so much!

[2018-09-25 09:11] efiop opened #1162 "dvc: stop using ntfsutils module"
Maintainer of https://github.com/sunshowers/ntfs is unresponsive(sent https://github.com/sunshowers/ntfs/pull/11 3 month ago and still nothing) and we currently have a hack in place at `dvc/system.py` to workaround the bug in that module. Need to stop using that project and use our code instead.

[2018-09-25 13:59] yukw777 opened #1163 "Failed to push data to the cloud: SSH session not active"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))
I installed dvc using homebrew
[code]
When I push data up using an ssh remote, I get the following error:
`Failed to push data to the cloud: SSH session not active`

I believe this might be related to setting server k

[2018-09-25 14:09] efiop commented on #1163
Hi @yukw777 !

I think it is caused by too much concurrency that your server can't handle. Could you please try specifying `--jobs 4` flag to see if that will work?

Thanks,
Ruslan

[2018-09-25 14:18] tdeboissiere opened #1164 "Feature request: show which dependencies changed when calling dvc repro"
I have a situation where dvc repro reproduces the original command while I don't expect it to. (Further investigation as to why this happens is ongoing).

It would be interesting to have an option in the dvc repro command to print out which dependencies changed when dvc repro is called.

[2018-09-25 14:50] tdeboissiere commented on #1164
Thanks for the quick pointer !
Looking forward to it.

[2018-09-25 16:55] andrethrill commented on #1107
Hi @efiop,

I was checking the new `-p` feature. Thanks for that! I have a question:

Is there a way to reproduce all `.dvc` files in a repository tree (instead of just reproducing the pipeline that a specific `.dvc` file belongs to)?

[2018-09-26 01:33] efiop opened #1165 "repro: CLI option to reproduce all pipelines"
https://github.com/iterative/dvc/issues/1107#issuecomment-424420783

[2018-09-26 01:34] efiop commented on #1107
Hi @andrethrill !

No, there is no special option for that right now. Currently we rely on the user tying everything together. We should definitely introduce some option for that. Created https://github.com/iterative/dvc/issues/1165 to track the progress on that. Thank you for a great suggestion as always!

-Ruslan

[2018-09-26 14:29] yukw777 commented on #1163
Ah, that's probably what it is. I was just pushing to my desktop from my laptop. I kept rerunning the push and it eventually worked. I'll close it!

[2018-09-26 14:29] #1163 closed

[2018-09-26 14:36] efiop opened #1167 "remote: introduce per-remote --jobs default"
I.e. ssh remote can't handle as much as s3, so we need to have per-remote defaults.

[2018-09-26 14:43] efiop commented on #1163
Hi @yukw777 !

Glad it worked! This is not the first time we see such things and it is definitely time to do maybe introduce different defaults for different remote types. Created https://github.com/iterative/dvc/issues/1167 to track the progress on that.

Thank you for the feedback!

-Ruslan

[2018-09-26 19:52] efiop opened #1168 "run: detect output duplication in the command itself"
I.e.:
[code]

[2018-09-27 09:28] j-hartshorn commented on #1150
I second this as a new feature. I only work locally at the moment, and it would be good to be able to use gc to free up some space while saving tagged milestones which do not necessarily have a branch on them anymore.

[2018-09-27 10:46] efiop commented on #1150
Hi @j-hartshorn !

Thank you for the feedback! We will be sure to include this feature into the next release(probably 0.19.4) very soon.

[2018-09-27 10:59] j-hartshorn commented on #1150
@efiop That's great, thanks! You're doing a great job with this project, it's incredibly useful.

If we could, it would be even better to have a way to enable this behaviour by default in the configuration, so that i don't accidentally type `dvc gc` and loose some tag data - a danger when working exclusively locally.

[2018-09-27 11:05] efiop opened #1169 "gc: consider changing default behavior to a safer one"
Currently `dvc gc` will silently remove everything except what is currently used from the cache, which is dangerous. Considering this, we should change default behavior to the safer one right now, even if it will break backward compatibility.

[2018-09-27 11:06] efiop commented on #1150
@j-hartshorn I agree, current gc implementation is rather dangerous. I don't think that we even have a confirmation prompt or anything there right now. Created https://github.com/iterative/dvc/issues/1169 to track the progress on that issue. I will look into it very soon. Thanks again for all the helpful feedback!

[2018-09-28 02:28] yukw777 opened #1170 "dvc move complains about"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC version: 0.19.2
Method of installation: DEB

When I run `dvc move`, it throws me this error:
[code]

[2018-09-28 02:49] efiop commented on #1170
Hi @yukw777 !

I have identified the bug. Will send a patch ASAP and will release 0.19.4 right after it.

Btw, looking at the code, looks like you are trying to move a full blown stage, right? `dvc move` can only work on data sources(i.e. stages without command like those created with `dvc add`), because in general dvc can't know how it should modify your command to work with a different path. You

[2018-09-28 10:58] #1165 closed

[2018-09-28 15:00] andrethrill opened #1174 "dvc pipeline issues error"
[code]

Hi!

I'm trying to execute `dvc pipeline show --ascii some.dvc` but I get the following error:

`Error: Unexpected error: Canvas cols/lines must be in range [1..1000]`

I don't execute this command much often, but I remember it was working on my machine a couple of weeks ago. So maybe this is a bug introduced in the more recent versions?

Thanks,
André

[2018-09-28 15:11] efiop commented on #1174
Hi @andrethrill !

I suspect your pipeline is so wide that ascii canvas has ran out of horizontal space :slightly_frowning_face: Could you please try running the following commands and show us the resulting image?

[code]

P.S. Big thanks to @pared for recently submitting this extremely useful `--dot` feature!

Thanks,
Ruslan

[2018-09-28 15:14] efiop commented on #1174
EDIT: it ran out of _vertical_ space, hence the pipeline is so long. This is easily fixable, I am preparing a patch right now. Still, it would be great if you could show the us the img.png so I can confirm this.

[2018-09-29 04:55] yukw777 commented on #1170
Ah thanks for the clarification. Indeed I was trying to move a stage created by `dvc run`. So, even with this fix, it won't be able to move a stage created by `dvc run`? Maybe the command should just error out then?

[2018-09-29 05:13] yukw777 opened #1176 "An option to save the output of `dvc run` despite an unclean termination."
I've been using dvc to train some deep learning networks that take days to train. As a result, I don't typically run my training script to completion; rather, I closely monitor the training loss, and terminate the script (with Ctrl+c) when the model starts to get overtrained. Unfortunately, this means `dvc run` will not save the models I saved until then.

I'm wondering if it'd be a good idea to a

[2018-09-29 08:07] efiop commented on #1170
Hi @yukw777 !

Yes, it will error out. This issue with rel_path raised right before it should've errored out. I've added a test so that this bug doesn't happen in the future.

Thanks,
Ruslan

[2018-09-29 10:50] efiop commented on #1176
Hi @yukw777 !

That is a very interesting scenario you have there! But I don't think this should be solved by the dvc itself, since it seems pretty unnatural for a stage in a pipeline to be saved when it is interrupted like so. Would it be possible to configure a condition in your script for when it should stop training so you could set it when starting a script? Or, if you really want to keep the

[2018-09-29 20:06] efiop commented on #1174
Fixed by https://github.com/iterative/dvc/pull/1175/commits/f4fc3f47e4bda6a29f1d84699962f5761afa7cc5 . Preparing to release 0.19.5 right now. Should be ready in a few hours.

[2018-09-29 20:06] #1174 closed

[2018-09-29 20:58] efiop commented on #1160
Hi @jeepkd !

FYI: 0.19.5 with a patch for this is out.

Thanks,
Ruslan

[2018-09-29 20:59] efiop commented on #1174
0.19.5 is out. Please consider upgrading.

Thanks,
Ruslan

[2018-09-30 03:31] yukw777 commented on #1176
That's actually a better solution. Thank you for entertaining my idea!

[2018-09-30 03:31] #1176 closed

[2018-10-01 08:05] andrethrill commented on #1174
Hi @efiop ,

Thanks for the great support. I've updated DVC and the error is gone (although it's not really readable because of the pipeline size...

Anyway, just for reference, here is the output of your `dot` command above (Ihad to change some names):

![img](https://user-images.githubusercontent.com/25300892/46276697-d835d280-c558-11e8-81e4-c0459b51da7b.png)

I guess the issue was horizontal sp

[2018-10-01 08:33] efiop opened #1177 "show: consider using ncurses to provide horizontal and vertical scrolling"
https://github.com/iterative/dvc/issues/1174#issuecomment-425821854

Probably need to utilize curses pad(e.g. newpad()).

[2018-10-01 08:35] efiop commented on #1174
Hi @andrethrill !

Thank you so much for sharing the image of your graph! It really helps to get a better perspective on what is going on. Looks like it was indeed a horizontal space :slightly_frowning_face: It should still be possible to view it in terminal if it supports horizontal scrolling instead of breaking the lines, but it is more of a hack, since not all terminals do that :slightly_frowni

[2018-10-01 11:08] jeepkd commented on #1160
The issue still exists. Not sure if I can re-open this issue?
PS. I will have a pull request for this one

[2018-10-01 11:10] efiop commented on #1160
Re-opened. Are there any specific env not supported?

[2018-10-01 11:15] jeepkd commented on #1160
I still get an on the 3 envs discussed above

[code]

[2018-10-01 11:18] jeepkd commented on #1160
A fix is WIP
https://github.com/jeepkd/dvc/tree/fix/aws-env
But I have to go outside for now. Will be back soon ;)

[2018-10-01 12:06] shaunirwin opened #1178 "Error: Failed to push data to the cloud: Error reading SSH protocol banner"
Hi,

I am trying to push to an SSH remote on my local network (_dvc push_) and receive the following error:

My DVC config:

['remote "myremote"']
url = /tmp/dvc-storage
[core]
remote = ubuntu
['remote "ubuntu"']
url = ssh://ubuntu@ubuntu:/tmp/dvc_datasets_store

It seems that Paramiko is hitting some sort of SSH request limit on the server (https://stackoverflow.com/a/29225295), at least from wha

[2018-10-01 12:11] efiop commented on #1178
Hi @shaunirwin !

This is indeed a concurrency limit you are hitting. This is a known issue, which could be worked around by setting `--jobs` parameter to a smaller than default value. For example, something like `dvc push -j 4` should work. I am currently preparing a patch https://github.com/iterative/dvc/issues/1167 that will allow us to set different default number of jobs for different remote

[2018-10-01 12:43] shaunirwin commented on #1178
Thanks so much @efiop !

Ah, I see. I tested `dvc push -j 4` and it has completed without showing the error. Thanks very much for the swift response!

[2018-10-01 12:44] #1150 closed

[2018-10-01 12:44] #1167 closed

[2018-10-01 15:10] #1178 closed

[2018-10-01 15:16] efiop commented on #1178
Hi @shaunirwin !

FYI: 0.19.6 is out, please consider upgrading. I've set 4 as a default number of jobs for SSH remote driver, so it should now work properly out of the box :slightly_smiling_face:

Thanks,
Ruslan

[2018-10-01 18:32] #1160 closed

[2018-10-03 13:41] efiop opened #1183 "remote: support NFS"
Currently we do not support NFS remotes natively, but it is pretty easy to workaround that by mounting nfs location to some local directory/folder and specifying it as a local remote in dvc. For example, if you have your nfs location mounted to `/mnt/nfsshare`(or something like `Z:\\` on Windows), then you can simply use `dvc remote add -d /mnt/nfsshare`(or `dvc remote add -d `Z:\\` on Windows) to

[2018-10-03 19:27] efiop opened #1184 "init: mention that we have chat"

[2018-10-04 09:34] efiop opened #1186 "stage: properly report StageFileFormatError"

[2018-10-04 10:30] #1186 closed

[2018-10-04 13:14] efiop opened #1187 "ssh: paramiko: not a valid RSA or private key file"

[2018-10-04 19:03] efiop commented on #1051
Hi @pared !

I wanted to ask you a couple of general questions. Would you be willing to have a video call? Sorry, I couldn't find your email or any other contact info in your profile and google didn't help either. Please ping me through email(it is in my profile) or on discord PMs(my nick is ruslan) so we could arrange a date and time.

Thanks,
Ruslan

[2018-10-05 00:29] mroutis commented on #1115
Output from pip-licenses after:
[code]
[code]

[2018-10-05 00:33] mroutis commented on #1187
Could you give more context or info about how to reproduce the bug, @efiop?

[2018-10-05 00:38] mroutis commented on #1183
How are you imaging the interface, @efiop ? (ie. `dvc remote add ...`)
The "workaround", seems like a straight forward solution to me

[2018-10-05 00:43] efiop commented on #1187
The context is that it seems like ssh remote with url and port configured raises an error on 0.19.7:

![image](https://user-images.githubusercontent.com/5367102/46510250-71fac980-c850-11e8-9dd4-e2756f30e77a.png)

![image](https://user-images.githubusercontent.com/5367102/46510305-d74eba80-c850-11e8-8c4d-c8bf2770507c.png)

and that error reportedly doesn't raise on 0.18.7. This bug was reported by

[2018-10-05 00:47] efiop commented on #1115
Hi @mroutis ! Thanks for providing this table! Will need to check if everything is compatible with our Apache licence later.

[2018-10-05 00:51] efiop commented on #1183
Hi @mroutis !

Should be similar to what we have with other remotes. E.g. `dvc remote add nfs://127.0.0.1/` or something like that. I agree that workaround works pretty well as is, but it should be pretty handy to have it working without manually mounting anything :) I am still hoping to see if there is an interest in this from the users, since we've only received a single question about nfs and t

[2018-10-05 05:09] shcheklein commented on #1115
`pefile` is MIT.

Most licenses are compatible. The only two at question are LGPL and docutils's GPL part.

LGPL is permissive to link with. Python `import` is considered as a dynamic linking. Looks like it's permissive enough to redistribute it even with PyInstaller, especially considering that DVC is open-source itself. Discussions (and in some cases permissions to distribute):

- `paramiko` - h

[2018-10-05 11:47] efiop commented on #1115
@shcheklein We don't use docutils. It is a dependency for some other dependency.

[2018-10-05 16:33] shcheklein commented on #1115
it comes from `boto`, it's actually used only for `boto` development - https://github.com/boto/botocore/issues/900  I think we should be safe here, since we don't use and don't even install it by default (correct me if I'm wrong, @efiop )

closing the issue, thank @efiop and @mroutis

[2018-10-05 22:42] mroutis commented on #1187
mhm, I looked at `remote/ssh.py` and there's no usage of `SSHConfig`; maybe, the user was expecting some configuration to be pulled over the `.ssh/config` file (like keys).

maybe with something like:
[code]

However, I don't know if this is intentional, but it would be a cool feature; also, taking into account that you commit the `.dvc/config` file, I don't think it is a good idea to put a `SSH`

[2018-10-05 23:05] efiop commented on #1187
The main point here is that the problem seemingly disappeared when user downgraded to 0.18.7, which is strange, since there were no changes affecting his simple url + port configuration since then. So I don't think that it is related to .ssh/config, since it would've affected 0.18.7 as well.

We also have .dvc/config.local which is not tracked by git and stays private, so it is suitable for storin

[2018-10-05 23:20] efiop commented on #1187
Btw, great point about the `.ssh/config`! I was convinced that AutoPolicy accounts for it, but looking at it right now it seems like it doesn't :(

[2018-10-06 11:31] #1177 closed

[2018-10-07 15:07] #1162 closed

[2018-10-08 12:14] efiop commented on #1187
Ok, asked user once again and it turns out that 0.18.7 no longer works as well :) Btw, there is no `.ssh/config` this time, so we are pretty safe there :) One suspicions thing is that id_rsa has a `-----BEGIN OPENSSH PRIVATE KEY-----`, which makes me think that there might be something wrong with the paramiko not able to parse it properly. Looking into it right now.

[2018-10-08 13:31] yukw777 opened #1196 "dvc run doesn't handle quotes in the command correctly."
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))
[code]
Installed using DEB.

If I wrap a string in my command with (double/single) quotes to escape some characters or utilize multiline strings, dvc would strip away the quotes, and the command will fail as a result.

[2018-10-08 13:33] yukw777 commented on #1196
[code]

[2018-10-08 13:41] efiop commented on #1196
Hi @yukw777 !

The issue here is that quotes are being stripped by shell itself, since `dvc run` acts as a wrapper, you need to shield your command a bit more, so that the command itself gets to dvc run untouched by the shell. E.g.:

[code]

or

[code]

Thanks,
Ruslan

[2018-10-08 16:33] efiop commented on #1187
@mroutis Great point! I actually have some updates on this issue. Turns out the key is not an rsa key, but placed in the id_rsa file for some reason. I tried mixing that and dvc was still connecting without any problem. User re-generated keys on some older machine(they are using ubuntu 16.04 and debian 9) and got a proper RSA key, which made everything work again. Regardless, this issue makes me w

[2018-10-08 16:43] efiop commented on #1187
On the other hand, updating paramiko(or fabric) is easier than updating a usually system-wide commands such as ssh or rsync, which might be a problem on some legacy systems. That being said, we are a cutting edge project, so that should not be a problem.

[2018-10-08 16:47] shcheklein commented on #1187
Can we reproduce it after all? I would ask first paramiko to fix it. I would try to avoid depending on system environment (ssh command) that is outside DVC - it's might be even less predictable at the end.

[2018-10-08 17:04] efiop commented on #1187
@shcheklein I was not able to reproduce it yet. This is not the first issue where ssh command by itself is more accepting of file format than the paramiko itself(i.e. https://github.com/paramiko/paramiko/issues/1226, https://github.com/paramiko/paramiko/issues/1015) and I'm thinking if we could eliminate such problems altogether and have a better method of reproducing even potential issues by just

[2018-10-08 17:10] mroutis commented on #1187
Relying on the system environment / userland is delegating the responsibility to the user; that way, DVC can handle a more "Unix" approach to remotes, something like:
[code]
or:
[code]

allowing them to use `dvc push` as an alias to upload the dvc's caché.

I guess that decision depends a lot on the interface you want to maintain and how friendly you want it.

In my opinion, supporting native uplo

[2018-10-08 17:14] mroutis commented on #426
@efiop, is anyone working on this? I could help with the Zsh one

[2018-10-08 17:29] efiop commented on #426
No one is working on it yet. It would be amazing if you could take a look! Let me know if you need anything!

[2018-10-09 03:00] yukw777 commented on #1196
huh, i thought i tried that. I'll close it. Thanks a lot for the speedy response!

[2018-10-09 03:00] #1196 closed

[2018-10-09 09:02] amjadsaadeh opened #1197 "Error: Unexpected error: close_fds is not supported on Windows platforms if you redirect stdin/stdout/stderr"
**Setup information**
DVC version: 0.19.7, Platform: Windows 10  Pro (Version 1709), method of installation: pip (global), Python 3.6.6

Hello,
I would like to upload a directory with image data to hdfs and log this step in my DVC pipline. Therefore, I ran:

[code]

in powershell. Output gives me following output:
[code]

Running `hdfs dfs -put` runs without any problems. May the [this flag](https

[2018-10-09 11:17] efiop commented on #1197
Hi @amjadsaadeh !

Good catch! Thank you for investigating! Preparing a patch right now.

Thanks,
Ruslan

[2018-10-09 18:00] #1197 closed

[2018-10-09 18:10] efiop commented on #1197
Hi @amjadsaadeh !

I'm releasing 0.19.8 right now and preparing our infrastructure to test hdfs on windows(we do test on linux though), which will take a little bit of time. Could you please try out 0.19.8 to see if it works for you while I'm setting up our windows tests? I will notify you when 0.19.8 is ready. ETA is 1 hour.

Btw, how about we schedule a video call some time this week? We would r

[2018-10-09 18:16] efiop commented on #1174
Hi @andrethrill !

I'm releasing 0.19.8 right now(ETA is 1 hour), which has support for horizontal and vertical scrolling of graphs, which makes it possible to view big graphs in any terminal. Could you please give it a try on your project and tell us if that works well for you or not?

Thanks,
Ruslan

[2018-10-09 18:24] shcheklein opened #1199 "specify supported schema in dvc import help"
Specify that URL is one of the supported schemas - S3, SSH, etc

[code]

[2018-10-09 18:49] efiop commented on #1197
0.19.8 is out. Please feel free to upgrade.

[2018-10-09 18:49] efiop commented on #1174
0.19.8 is out. Please feel free to upgrade.

[2018-10-09 23:59] #1199 closed

[2018-10-10 21:08] efiop opened #1202 "status: consider separating 'versioning' and 'pipeline' parts"
Our status command should be more similar to `git status` and show files that are not pushed and/or not commited(we will introduce `dvc commit` in 1.0 soon). And the `pipeline`status parts probably belong to something similar to what we currently have in `dvc pipeline show --ascii` where it is showing the structure of the project's pipeline and probably should show which files/stages have changed

[2018-10-10 21:10] #1164 closed

[2018-10-11 05:03] shcheklein opened #1204 "md5 computation status message fix formatting"
Add a new line:

[code]

This is produced by this command:

[code]

[2018-10-11 06:06] dmpetrov opened #1205 "dvc checkout: too many values to unpack"
DVC was installed from source.

[code]

I go through the tutorial till `git commit -m 'Add source dataset'`.
Then replace data file by a random one: `cp ~/Downloads/photo.png data/Posts.xml.tgz`

[code]

[2018-10-11 13:20] efiop commented on #1204
This happens when there is a large file in a large directory at the same time. Preparing a patch right now. Thank you for reporting!

[2018-10-11 14:46] yukw777 opened #1206 "dvc checkout changes the md5 of the dvc file."
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]
Installed using DEB.

I'm seeing a weird behavior with after running `dvc checkout`
[code]
Why did the md5 change after I checked it out?

[2018-10-11 15:53] crmne opened #1207 "dvc add fails with "Unexp"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[2018-10-11 16:00] crmne commented on #1207
Upgraded to 0.19.9 and have the same error

[2018-10-11 16:34] efiop commented on #1206
Hi @yukw777 !

Could you please show `dvc status -v` output before `dvc checkout`?

I don't think that `dvc checkout` is what changed `my.dvc`, since it doesn't even write .dvc files. I think that  `my.dvc` got changed by some other action, which didn't affect `path:` and `md5:` fields of outputs of `my.dvc`, which is what `dvc checkout` is checking and that is why it reports `data didn't change'.

[2018-10-11 16:37] efiop commented on #1207
Hi @crmne !

Could you please run that command again but with the `-v` flag added? It will enable more verbose output, so we can see better where the error was raised.

Thanks,
Ruslan

[2018-10-11 17:53] andrethrill commented on #1174
Hi @efiop!

I had the chance to try it now! It is working fine.

This may be just my ignorance: do you know if there is other way for scrolling beside using the direction keys? It just moves one char at the time which makes it painful to navigate through the entire dag.

[2018-10-11 17:58] efiop opened #1208 "show: add a help line about which keys can be used to navigate the screen"
https://github.com/iterative/dvc/issues/1174#issuecomment-429055607

[2018-10-11 17:59] efiop commented on #1174
Hi @andrethrill !

So sorry, I totally forgot to add a help line at the bottom of the screen to note that you can use such keys to navigate:

* Arrows - move one line/column up/down/right/left;
* Page Up/Down - move one screen up/down;
* a/w/s/d keys - move one line/column left/up/down/right;
* A/W/S/D keys(so SHIFT + a/w/s/d) - move one screen left/up/down/right;

Created https://github.com/itera

[2018-10-11 18:06] andrethrill commented on #1174
@efiop those shortcuts help a lot indeed! Thanks.

Personally I would like to have something in between 1 line/col and 1 screen. Like move, say 10 or 20 line/columns (not sure about the exact step size without trying it) at a time. Do you think that would make sense to support that from your side?

[2018-10-11 18:16] efiop opened #1209 "show: add ability to navigate with increments that are between 1 line/col and full screen size"
https://github.com/iterative/dvc/issues/1174#issuecomment-429060390

[2018-10-11 18:20] efiop commented on #1174
Sure! I totally agree that it would be great to have something in between those two. I thought about making pg dn/up shift for something like 50% of the screen size, but moving 1 full screen size seems pretty useful  as well so I'm not sure it is worth replacing. How about adding yet another set of keys for 25% screen navigation? Something like h,j,k,l(e.g. like in vim :))? Created https://github.

[2018-10-11 18:22] efiop commented on #1174
Actually, we can utilize mouse movements if that is something that would be comfortable. What do you think @andrethrill ?

[2018-10-11 18:38] andrethrill commented on #1174
@efiop well having the option to do it, is usually better than not having it :)

The 25% navigation option would be already awesome! I think the mouse movements option although not essential, depending on how much dev effort it requires,  would be great addition.

[2018-10-11 18:43] efiop commented on #1174
Thank you for the feedback! I will look into it shortly.

[2018-10-11 18:58] efiop commented on #1205
As it turned out in the private conversation the cause for this error is that there is an old version(1.11) of networkx installed, while we require 2.1 and newer, which is reflected in our requirements.txt and setup.py. Closing.

[2018-10-11 18:58] #1205 closed

[2018-10-11 19:20] villasv opened #1210 "ModuleNotFoundError: No module named '_curses'"
Using latest version (`0.19.9`) will install `asciimatics` instead of `asciicanvas` (which seems intended), but running `dvc repro ...` will result in:
[code]

[2018-10-11 19:55] crmne commented on #1207
[code]

[2018-10-11 20:03] efiop commented on #1210
Hi @villasv !

Long time no see! :)

You are running Linux here, right? Could you please show output of `ldd $(which python)`?

Thanks,
Ruslan

[2018-10-11 20:06] efiop commented on #1210
Ah, wait, nevermind. Python loads ncurses dynamically, so `ldd` shouldn't show it either way.

What I'm guessing here is that there is no libncurses in your environment for some reason. Do you run pyenv or something? If so, could you try running `import curses` in your system's python just to see if that will work?

Thanks,
Ruslan

[2018-10-11 20:15] efiop commented on #1207
Thank you! Looks like some value that we are trying to insert doesn't have a right type. Looking into it right now.

[2018-10-11 20:27] efiop commented on #1210
On *nix curses is considered to be a part of standard library for python, but with pyenv it is not included if you don't have libncurses dev package installed, since Python is being built on your machine. The solution in the link you've provided should work.

[2018-10-11 20:57] efiop commented on #1210
Created a patch https://github.com/iterative/dvc/pull/1211 that dynamically loads asciimatics only when needed, so absence of curses will no longer be affecting commands that don't use it. Please let me know If you don't need `pipeline show --ascii` and don't want to bother with libncurses, so I could release 0.19.10 ASAP.

[2018-10-11 21:33] villasv commented on #1210
No need to rush, I was able to reinstall the pyenv distribution with the required dependencies. Just confirmed, it solves the issue. ;) Thanks!

PS if I'm showing up here less and less, it's because `dvc` is so much smooth ;)

[2018-10-11 21:33] #1210 closed

[2018-10-11 22:30] efiop commented on #1210
Glad it worked for you :) Thank you for all your feedback!

[2018-10-11 23:49] efiop commented on #1207
I've pushed a patch to my repository that will show us more details of what is going on. Could you please install it and run `dvc add` with `-v` flag once more? E.g.:
[code]

[2018-10-12 00:12] crmne commented on #1207
Thanks for the help Ruslan!

[code]
Note that this file is quite large (~40GB) and the problem doesn't occur with smaller files.

[2018-10-12 00:34] efiop commented on #1207
Aha, got it. Here is a script to reproduce the issue:

[code]

we are storing inode in the INTEGER PRIMARY KEY column, and turns out it doesn't allow values that are bigger than 2**63, even though I expected it to support up to 2**64, because regular INTEGER column does. Looking into solving this right now.

[2018-10-12 00:53] efiop commented on #1207
I'm about to merge a patch for this issue and will release 0.19.10 that should be ready in an hour or so. If you want to, you can install dvc from my repository once again(with commands from above) and try it out while the release is getting prepared.

[2018-10-12 01:24] efiop opened #1214 "run/repro: add option to not remove outputs before reproduction"

[2018-10-12 02:54] efiop commented on #1210
0.19.10 is out. Feel free to upgrade.

[2018-10-12 02:54] efiop commented on #1207
0.19.10 is out. Feel free to upgrade.

[2018-10-12 08:33] crmne commented on #1207
Thank you Ruslan for the amazing support. I can confirm that it in fact works!

[2018-10-12 12:40] amjadsaadeh opened #1215 "Error: Unexpected error: cannot import name 'POINTER'"
DVC version: 0.19.10+c6811a, Platform: Windows 10 Pro (Version 1709), method of installation: pip (global), Python 3.6.6

Hello,
I run the following command:

[code]
in powershell and get the following error message:

[code]

I already got at fix for this problem. Pull request is incoming.

[2018-10-12 12:56] #1215 closed

[2018-10-12 12:57] efiop commented on #1215
Thank you!

[2018-10-12 12:58] efiop commented on #1215
0.19.11 will be ready in an hour or so. I'll let you know.

[2018-10-13 14:53] efiop opened #1220 "checkout: don't remove the whole directory"
Currently we treat directory as a single data file and remove it as a whole instead of analyzing it and only removing/adding files that actually changed.

[2018-10-13 14:55] efiop opened #1221 "state: add entry without manual checksum recalculation"
Currently when `dvc add` runs, it doesn't add state entry describing a linked file, leaving it for the next operation to manually recompute. Need to add state entry right after we've created links.

[2018-10-13 14:58] efiop opened #1222 "Use progress bar to show a process of linking many files in a directory"
E.g. currently for a directory with 1M files, there will be 1M lines printed with message that says something like "Created 'hardlink' ...". Need to use progress bar to show that in a more compact way.

[2018-10-14 00:13] #1125 closed

[2018-10-15 00:59] efiop opened #1224 "add pattern matching for tags and branches"
I.e. `dvc metrics show --tags 'datav*'`. Also note that we will probably need to introduce options that accept regex and those that do not. I.e. `--tags v1.0` and `--etags v1.0` will parse '.' differently.

[2018-10-15 16:54] shcheklein commented on #426
I would also drop some comment here as well - https://dvc.org/doc/get-started/install

[2018-10-15 18:09] crmne opened #1225 "Error: failed to push data to the cloud"
Hi again!

I'm having the following problem:
[code]

DVC 0.19.11, installed through Pipenv (pip)

Any ideas?

[2018-10-15 22:41] efiop commented on #1225
Hi @crmne !

I've pushed a patch that will help us to debug this issue to my repo. Could you please install it from there, and run your command again? I.e.:
[code]

Thanks,
Ruslan

[2018-10-15 23:45] efiop commented on #1225
Ok, was able to reproduce this issue. Preparing a patch right now.

[2018-10-16 03:37] efiop commented on #1225
@crmne 0.19.12 with a fix is out. Please try it out :) Thanks again for your feedback!

[2018-10-16 04:51] efiop opened #1227 "progress: bug in progress reporting of a directory with large subdirs"

[2018-10-16 04:52] efiop opened #1228 "remove -p: add a confirmation prompt"
E.g. see `dvc/prompt.py`.

[2018-10-16 07:02] dmpetrov commented on #1153
@jurasan, in `dvc/remote/` directory you can find code examples for S3, Azure and other remotes. WebDav should be just another remote for DVC.

[2018-10-16 09:12] crmne commented on #1225
Hey @efiop !

Thank you again for the fast response and fix! I'm trying it out right now and I'll let you know soon.

[2018-10-17 05:12] #1204 closed

[2018-10-17 05:12] #1227 closed

[2018-10-17 11:20] crobarcro opened #1230 "Mercurial SCM support"
I've begun implementing a mercurial SCM class to allow supporting mercurial as the scm in my fork. See here: https://github.com/crobarcro/dvc/blob/master/dvc/scm.py

It requires you install python-hglib which you can do with

`pip install python-hglib`

I've not actually tested it, as I need some help finishing it off. Are you interested in helping with this, and would you then be willing to integ

[2018-10-17 11:36] crobarcro commented on #1230
Doh, just saw this: https://github.com/iterative/dvc/pull/1212

This is better than mine. At least you know there's demand!

[2018-10-17 11:39] efiop commented on #1230
Hi @crobarcro !

No worries :slightly_smiling_face:  Thank you for your interest!

Closing as a duplicate of #945.

Thanks,
Ruslan

[2018-10-17 11:39] #1230 closed

[2018-10-17 16:02] satya-venneti opened #1231 "DVC tutorial - error pushing data to the cloud"
I am running thru' the DVC tutorial here: https://blog.dataversioncontrol.com/data-version-control-tutorial-9146715eda46

In section 4.1, "Pushing data to the cloud", I am running into the following error:
dvc push
Warning: Using obsoleted config format. Consider updating.
Preparing to push data to s3://dvc-share/classify
[######                        ] 20% Collecting informationError: Failed to

[2018-10-17 16:05] efiop commented on #1231
Hi @satya-venneti !

Could you please run `dvc push -v` and show us the output? Also, could you show us your .dvc/config?

Thanks,
Ruslan

[2018-10-17 16:54] satya-venneti commented on #1231
cat .dvc/config
[core]
cloud = AWS
[AWS]
StoragePath = dvc-share/classify

[dvc-push-v-output.txt](https://github.com/iterative/dvc/files/2488425/dvc-push-v-output.txt)

[2018-10-17 17:01] efiop commented on #1231
Thank you! Looks like you don't have boto3 installed, and it wasn't detected by dvc beforehand. Could you please try running `pip install --upgrade dvc[s3]` and try try running `dvc push` again?

[2018-10-17 17:13] efiop commented on #1231
I was able to reproduce it. Running `pip install --upgrade dvc[s3]` or `pip install boto3` does the trick and everything starts to work fine. The bug is in that dvc doesn't detect that boto3 is missing and doesn't report it ahead of time when using a legacy config format that is used in the tutorial. With newer config, dvc does indeed detect the absence of boto3 and gives hint about it:
[code]

Pr

[2018-10-17 17:17] satya-venneti commented on #1231
Thank you - that seems to have worked as far at the boto-3 error is concerned. Now it fails with an access denied error msg.

Error: Failed to upload - An error occurred (AccessDenied) when calling the CreateMultipartUpload operation: Access Denied

Is that because I'm using an out of date tutorial?

[2018-10-17 17:30] efiop commented on #1231
You are using `dvc-share/classify` as a remote s3 storage, which is a private s3 bucket, that is not open for public and is only used as an example. You should use your own bucket instead, that you have write access to. Or, if you don't have an amazon account, you can also configure a so called `local remote`, that is essentially a local directory that acts as a remote storage. We actually use `lo

[2018-10-17 17:32] satya-venneti commented on #1231
Got it, thanks!

[2018-10-17 17:48] efiop commented on #1231
I've added a note about that to the [tutorial](https://dvc.org/doc/tutorial/sharing-data) on `dvc.org` and we will update our [original tutorial](https://blog.dataversioncontrol.com/data-version-control-tutorial-9146715eda46) soon as well. Thank you for the feedback!

I'll leave this issue open, until the patch for the original issue is ready.

[2018-10-17 20:28] tdeboissiere opened #1232 "Add gc support for azure"
python 3.6 install, dvc 0.19.12

After pushing to Azure successfully, I ran

[code]

And got:

[code]

So I guess gc support is not available for Azure right now. Any plans to do this in the future ?

[2018-10-17 21:45] efiop commented on #1232
Hi @tdeboissiere !

Indeed, gc for azure has been disabled temporarily. I'll prepare a patch for this until tomorrow.

Thanks,
Ruslan

[2018-10-17 21:46] yukw777 commented on #1206
OK, I haven't seen this since I reported it, and I think it went away when I reproduced that file again. I'll close this for now.

[2018-10-17 21:46] #1206 closed

[2018-10-17 21:59] AratorField opened #1233 "Adding new file to new experiment strategy"
I run many experiments with one task. Every experiment has its own branch. In one experiment I have added additional CSV file.
As normally I added it by `dvc add` command which put it to a .gitignore and creates a `.csv.dvc` file, then I committed these changes. But when I changed branch I realized that the CSV file appears in `git status`.
So I have to add it to the .gitignore in every branch whi

[2018-10-17 22:00] villasv commented on #792
Pinging back on this issue. What I developed as the routine that would accommodate well with the dvc way of doing things:

1. There's an in-place version of the scraped data, hardlinked to the cache
2. The scraping script will copy the old version to a temporary file and append to it
3. Copying the temp file back, it will overwrite the old version hardlink, being correctly treated as a new file an

[2018-10-17 22:00] #792 closed

[2018-10-17 22:10] BartekRoszak opened #1234 "repro: use build cache for deterministic stages"
In my experiment I run a few different preprocessing steps which create a different CSV file, then I am modeling this data and also checking different parameters.
When I want to run the same experiment on 4 different machines (`dvc` is connected to the same remote cache).
Running every type of preprocessing will be done on every machine which takes a lot of time and could be omitted by running `dv

[2018-10-17 22:32] mroutis opened #1235 "run: Check whether file specified by the output already exists"
DVC version: `0.19.12`
Installation: `Arch Linux AUR package`

This prevents overwritting the file or causing some unexpected behaviour.

[code]

[2018-10-17 22:43] efiop commented on #1234
Hi @AratorField !

Thank you for sharing your scenario! It would be indeed a very useful feature! I think that `dvc checkout` would've benefited from it as well. How about instead something like a `autofetch` option for dvc config, that will tell dvc that it should fetch cache before performing operations such as repro and checkout? Would that be suitable for you?

Thanks,
Ruslan

[2018-10-17 22:47] efiop commented on #1233
Hi @AratorField !

Do you `dvc checkout` after `git checkout`? If not, would it be suitable for your scenario? Our `dvc checkout` command would automatically remove all the links from the previous branch before checking out. We also have a `dvc install` feature, that will create a post-checkout git hook, that will automatically call `dvc checkout` after you call `git checkout`.

Thanks,
ruslan

[2018-10-18 05:49] dmpetrov commented on #1234
@efiop the config option will change API. It won't be clear what exactly `dvc repro` does from code. An option `dvc repro --fetch` might be a good option instead of global config param.

[2018-10-18 06:36] AratorField commented on #1234
I am running `dvc repro` in a loop so something like `-f -p / --fetch --push` will be ok for me.
Setting in config `autofetch` and `autopush` is ok too.

[2018-10-18 06:39] AratorField commented on #1233
It looks like `dvc install` works fine. Thanks!

[2018-10-18 14:09] efiop opened #1238 "dvc: possible path translation problems on mingw"
[code]

[2018-10-18 15:42] mjmikulski commented on #1238
Here is the link to refined question that I posted on [stackoverflow](https://stackoverflow.com/questions/52871630/resolving-paths-in-mingw-fails-with-data-version-control).

I looked at [stage.py](https://github.com/iterative/dvc/blob/master/dvc/stage.py) and found that it uses `abspath` wheras in other places `relpath` is used. Maybe that's a hint?

This error seems to be connected with resolvin

[2018-10-18 17:16] AratorField commented on #1234
I am doing it like you said when I run an experiment on a server where I run most of my experiments. But then I am reproducing manually some of the best experiments locally.

[2018-10-18 17:29] efiop commented on #1234
Ah, I see. So it looks something like:

[code]

Right? If so, I think a more suitable approach would be to add git hooks that will call `dvc pull` after `git pull` and `dvc push` after `git push`, similar to what we currently have with `dvc checkout`, where you can call `dvc install` to install a post-checkout hook for you so `dvc checkout` is automatically called after `git checkout`. Would that

[2018-10-18 17:42] efiop commented on #1238
Hi @mjmikulski !

Could you also show us the output of `python -V` and `which python` please?

[2018-10-18 18:31] AratorField commented on #1234
Oh... So it works totally differently than I thought. Now I know why my algorithm is doing preprocessing every time.

Let me explain you a bit more.
I am building about 100 models with different parameters (standard hyperparameter optimization).
Before data modeling there is preprocessing, so in `dvc repro` has two steps, preprocessing and modeling.
I am working with text and in preprocessing I ha

[2018-10-18 19:20] efiop commented on #1234
You are right, dvc doesn't currently remember every `dependencies + command = outputs` combination that have occurred in the past, so it can't just pull up outputs from the cache this way. That being said, I have been thinking about this scenario a lot in the past and it would be indeed extremely useful to have such feature. The best way we could implement this is to utilize git(or any other scm s

[2018-10-18 19:35] AratorField commented on #1234
It would love to see it!
As you said, one has to be careful because not every script is deterministic, so maybe a better way to do that is to add an adequate option to `dvc run` like `--deterministic`. So when you will run `dvc repro` it will know which part of the pipeline could be build from the cache.

[2018-10-18 19:47] efiop commented on #1234
Makes total sense! I will look into it soon. Thank you so much for the feedback!

[2018-10-18 20:20] AratorField commented on #1234
I would be grateful if you can up priority for this one.

[2018-10-18 20:29] AratorField opened #1239 "remote storage auto-compression"
Do you consider to add an auto-compression feature when sending something to remote storage?
It could save a lot of memory and speed up sending files to remote.

[2018-10-18 20:48] villasv commented on #770
Just a heads up. I investigated the library I mentioned (tdda) but it wasn't of much help. I made a small script that achieves what I want for CSV and JSONLines. I'm pretty sure if this was incorporated in DVC it would be a bit cleaner, because I woudn't need to invoke so many subprocesses, but I decided to implement it standalone instead of inside a PR just for a Proof of Concept, and maybe we do

[2018-10-18 20:54] villasv commented on #770
Unfortunately, because I invoke `dvc` as a subproccess, sometimes I get:

`FileNotFoundError: [Errno 2] No such file or directory: 'Checking for updates...\n./.dvc/cache/e0/6bd8b3a5945f043687c7a4256b0291'`

:) but that's really minor

[2018-10-18 21:18] efiop commented on #770
Hi @villasv !

This looks amazing! I see no reason to make it a plugin, since it looks very suiting to be a part of core dvc functionality. Would you like to file a PR with `dvc diff`? Please feel free to ping us if you need any help.

Thanks,
Ruslan

[2018-10-19 03:01] #1233 closed

[2018-10-19 17:30] satya-venneti opened #1241 "assert inode >=0"
I have ~23,000 files that I want to add to DVC. remote backing is S3 bucket. These are underneath several layers of directories. Eg S3 folder is called S1. I am trying to dvc add S1/X1/Y1/23,000 files.

First attempt failed with
"assert inode >= 0".

I wanted to rule out the possibility of the nested subdirectories causing the issue. So on S3, I created subfolders X1 and Y1.

Now it fails again.

[2018-10-19 17:45] satya-venneti commented on #1241
I'm going to try tarring all files and checking in just the tarred file.

[2018-10-19 18:56] efiop commented on #1241
Hi @satya-venneti !

This is definitely a bug. I'm looking into it right now.

[2018-10-19 19:31] efiop commented on #1224
Also `dvc checkout data.dvc --tag v1.0`

[2018-10-19 19:35] efiop commented on #1238
@mjmikulski Ah, so you've installed dvc from our binary package for windows, right? That is an important thing. Could you uninstall the binary and install dvc using pip?(pip install dvc) I suspect that since our binary package was specifically built for plain windows, mingw translation might've messed it up.

[2018-10-19 20:15] #1241 closed

[2018-10-19 20:16] efiop commented on #1241
@satya-venneti Patch is merged and I'm preparing a new release right now(should be ready in an hour or so).

[2018-10-19 21:35] efiop commented on #922
https://github.com/iterative/dvc/issues/1232

[2018-10-19 23:00] efiop commented on #1241
@satya-venneti 0.19.13 is out. Please upgrade and give it a try.

Thank you for the feedback!

[2018-10-20 06:52] mjmikulski commented on #1238
@efiop This is on my work computer so I will try it on Monday and let you know.

[2018-10-20 20:09] gcoter opened #1243 "Use --all-branches and --all-tags at the same time"
Hello,

It seems that it is not possible currently to use `--all-branches` and `--all-tags` at the same time, as we can see [there](https://github.com/iterative/dvc/blob/master/dvc/scm.py#L66): because of the `elif`, only one option can be used.

As a consequence, I am afraid of running `dvc gc --all-branches --all-tags` since it might not take into account the tags or the branches (whereas I woul

[2018-10-20 20:12] efiop commented on #1243
Great catch! You are absolutely right! Will send a patch ASAP.

[2018-10-20 20:27] gcoter opened #1244 "An attempt was made to create more links on a file than the file system supports"
Hello,

I tried to `dvc add` a folder containing 529 118 images and got this error:

[code]

How should I treat this kind of folder containing so many files? Maybe I should use a database instead of DVC in that case?

For information, I use DVC version 0.19.12 on Windows (installed with pip).

[2018-10-20 20:37] efiop commented on #1244
What fs are you using? NTFS? Does simply copying directory yourself work?

[2018-10-20 23:40] efiop commented on #1244
Hm, interesting. Does you directory have a lot of identical files by any chance(or maybe files in common with what you already have in a cache, e.g. something like empty files)? I suspect that we might be hitting maximum number of hardlinks: [`"but note that NTFS limits the maximum number of hardlinks per file to 1023"`](https://www.mercurial-scm.org/wiki/HardlinkedClones). Could you try switching

[2018-10-20 23:42] efiop commented on #1244
Ah, wait a second, dvc should not have raised that exception, but rather tried to symlink after it. Let me prepare a patch...

[2018-10-21 02:03] efiop commented on #1244
I've pushed a patch to master. Could you please install from upstream and give it a try? I.e. `pip uninstall dvc` + `pip install git+https://github.com/iterative/dvc.git`.

[2018-10-21 04:47] satya-venneti commented on #1241
Works! Thanks for the super quick response - appreciate it!

[2018-10-21 21:16] efiop opened #1248 "install: add pre-commit hook with `dvc status`"

[2018-10-21 21:36] gcoter commented on #1244
Looks like it worked. Thank you!

[2018-10-21 22:03] efiop commented on #1244
Glad it worked! Do you have the log of `dvc add` that worked? Just need to make sure what specifically worked :)

[2018-10-21 22:37] #1248 closed

[2018-10-21 23:02] efiop opened #1250 "consider jupyter integration"
From our dvc.org/chat:

[code]

[2018-10-21 23:04] efiop opened #1251 "consider jupyter integration"
[code]

[2018-10-21 23:05] efiop opened #1252 "consider jupyter integration"

[2018-10-22 07:54] habernal opened #1253 "run/repro: check that --cwd is inside the repository"
macOS High Sierra 10.13.6 (17G65)
[code]

Reproduce MWE:

Clean installation:

[code]

Minimal example that works:

[code]

Minimal example that crashes:

[code]

[2018-10-22 17:06] efiop commented on #1251
Duplicate of #1250

[2018-10-22 17:06] #1251 closed

[2018-10-22 17:07] efiop commented on #1252
Duplicate of #1250

[2018-10-22 17:07] #1252 closed

[2018-10-22 17:08] efiop commented on #1250
@jurasan

[2018-10-22 21:50] mroutis opened #1255 "run: Warn about duplicated arguments"
Summary
-------------
You can specify the same output more than one type without any hint.
It would be great to have at least a warning, helping the user with potential typos.

Expected behavior
------------------------
[code]

`cat double-output.dvc`:
[code]

Actual behavior
--------------------
[code]

`cat double-output.dvc`:
[code]

System configuration
----------------------------
DVC version

[2018-10-22 22:05] dixi3 commented on #1255
i'd like to work on this

[2018-10-22 22:52] efiop opened #1257 "link: make `reflink,copy` default"

[2018-10-22 22:56] efiop opened #1258 "checkout: don't allow to `dvc checkout` if data wasn't `dvc commit`-ed"
I.e. how git doesn't allow you to checkout if you have unsaved changes.

[2018-10-23 00:09] #1244 closed

[2018-10-23 05:48] habernal commented on #1253
@efiop Thanks for clarifying, yes, the /tmp is outside of the project directory. I believe the fastest fix is to simply document it in the reference guide.

[2018-10-23 10:21] mjmikulski commented on #1238
@efiop Sorry for the delay.

I uninstalled dvc from windows. Then I added python from a conda environemnt to my path and installed dvc in mingw using `pip install dvc`. Now I have:

[code]

but problem still persists.

If you cannot reproduce the issue it may mean that there may be a problem with my mingw installation.

[2018-10-23 11:19] efiop commented on #1253
Agreed. I'll update help messages along with the command refs in the docs. Thank you for the feedback!

[2018-10-23 13:16] mjmikulski commented on #1238
Hmm, it prints:
[code]

[2018-10-23 13:31] villasv opened #1260 "Don't require a lock for the dvc root command"
Is there any way that the `dvc root` would change in the middle of some `dvc` command that acquired lock? If not, I think `dvc root` could simply skip acquiring a lock so it can be used freely.

[2018-10-23 13:40] efiop commented on #1238
And how about:

[code]

could you please link both env1.log and env2.log here?

[2018-10-23 13:54] efiop commented on #1260
Good point! Could you please also share how you use `dvc root` in parallel with other `dvc` commands, so we are on the same page?

[2018-10-23 14:01] villasv commented on #1260
I ran into this because I've been experimenting with self-reporting data pipelines, and that diff script I mentioned in #770 plays a role on this. At first,  it coldn't be used inside a `dvc run` because it will issue a `dvc root` as subprocess.

I've worked around that using `git rev-parse --show-toplevel`, but that only works because I assume the git root and dvc root to be the same.

[2018-10-23 14:02] efiop commented on #1260
Got it. Thank you! Patch is going to be ready for merge in ~10 minutes or so.

[2018-10-23 14:10] #1260 closed

[2018-10-23 15:48] mjmikulski commented on #1238
Well, I would have to look thoroughly through log and mask some data which is probably considered sensitive by my employer...

Anyway, any command in `dvc run` fails.

I will try to reproduce this on another windows machine and let you know in a few days.

[2018-10-23 16:16] gcoter commented on #1244
Sorry, I forgot to answer you! I didn't keep the logs unfortunately. However, if I remember well, I saw that it switched to symlink.

[2018-10-23 19:14] mroutis opened #1263 "system: Add support for reflink in Windows when using ReFS v2"
This is a reference implementation https://github.com/0xbadfca11/reflink

[2018-10-24 09:44] #1253 closed

[2018-10-24 17:01] efiop commented on #1253
Merged a patch that checks for cwd being inside the project, updated dvc run/repro help messages as well as cmd reference on dvc.org/documentation. Thanks again for the feedback!

[2018-10-26 07:20] markb21 opened #1266 "dvc remove does not remove neither output files from cache nor the files on remote"
I have a ML pipeline where I have multiple steps. The outputs are also pushed to the remote storage on aws. I want to delete one step of the pipeline and all its outputs. I used the command:

This removes the dvc file and the outputs from local data directory. Then I ran the command to update dvc also on remote:

Surprisingly, the output was still in local cache folder and also on remote.
How can

[2018-10-26 07:28] efiop commented on #1266
Hi @markb21 !

`dvc remove` is not supposed to remove cache, since it might be used somewhere in the history of your project and you might want to have it. Please take a look at [dvc gc](https://dvc.org/doc/commands-reference/gc) command, that collects garbage. E.g. to remove all the cache unused in all tags and branches in your project and on remote use `dvc gc -caT`.

Thanks,
Ruslan

[2018-10-26 07:29] efiop commented on #1266
Also, you are using an old dvc version(current one is 0.19.15), please consider upgrading(i.e. `pip install --upgrade dvc`).

[2018-10-26 08:36] efiop commented on #1266
Looks like we don't mention it enough in the docs. I'll add a few references ASAP(e.g. to https://dvc.org/doc/commands-reference/remove). Thank you for the feedback!

[2018-10-26 10:14] karolnawrocki commented on #1238
Hi @efiop ,
* I'm also using conda environment
* I tried uninstalling Windows binary package and installed DVC via `pip install dvc`
* I used Cygwin instead of MinGW and it prints:
[code]

[2018-10-26 10:30] efiop commented on #1238
Hi @karolnawrocki !

I can indeed reproduce your issue. Looks like it is a similar problem, where path translations get messed up. I am looking into it right now, it should help with mingw bug as well.

Thank you for the feedback!

-Ruslan

[2018-10-26 10:43] efiop commented on #1238
Ok, got it. Looks like cygwin provides $SHELL env variable, which is `/usr/bin/bash` and is in posix style. Then, when dvc executes the command, it has both posix and nt style paths, which then get translated into nt paths, since conda's python was not built for cygwin. And obviously `/usr/bin/bash` is no longer valid when converted to nt path. Preparing a patch right now.

[2018-10-26 11:33] efiop commented on #1238
@mjmikulski @karolnawrocki Guys, could you please try out upstream version to see if it works for you? I.e.
[code]

[2018-10-26 11:54] karolnawrocki commented on #1238
@efiop
Works with Cygwin, thank you!

[2018-10-27 08:30] efiop commented on #1238
I've released 0.20.0 with this fix. Please feel free to upgrade.

@mjmikulski I'm closing this issue for now. I understand that you will only be able to check if it works for you on Monday, so please feel free to reopen.

Thank you guys for all the feedback!

[2018-10-27 08:30] #1238 closed

[2018-10-28 11:40] efiop commented on #821
No real need to do this.

[2018-10-28 11:40] #821 closed

[2018-10-28 11:50] efiop commented on #1235
Btw, you can still get this bug if you use `-O|--outs-no-cache`:

[code]

This is because you should check `stage.outs` and `stage.deps`, instead of `outs` and `deps`. Plus, when you are using `outs` and `deps`, they can have non-normalized paths e.g. `./foo` and `foo`. You should use `.path` property for every entry in `stage.outs` and `stage.deps` lists. Could you please send a fix for that?

Th

[2018-10-28 13:10] jurasan commented on #1153
Which branch should I work on?

[2018-10-28 13:16] efiop commented on #1153
@jurasan On master. Work on your dvc fork and send a PR when you are ready. Also please feel free to ping us if you need anything.

[2018-10-29 01:35] mroutis commented on #1235
Sure, @efiop! I'll send a patch tomorrow

[2018-10-29 01:38] mroutis commented on #1153
@jurasan, in addition to @efiop response, we have a contributing guide that may help you with your PR: https://dvc.org/doc/user-guide/contributing/

[2018-10-29 03:14] #1228 closed

[2018-10-29 03:34] mroutis opened #1270 "cli: Move mutual exclusion of --quiet and --verbose to the parser level"

[2018-10-29 04:15] #1270 closed

[2018-10-29 05:12] mroutis commented on #1064
@shcheklein, just to make sure that I understand what's the issue and the suggested solution; you want the options/arguments (like `--quiet` or `init`) to start with lowercase and exclude dots or punctuation characters (as they currently do), and the description to start with uppercase, end with dots, as sentences, right?

I checked all `--help` outputs and the only change I'm seeing right now wit

[2018-10-29 12:15] markb21 commented on #1266
Thanks! Now, I think it makes perfect sense to put a link to a command that can do remote removal.

[2018-10-29 14:19] efiop commented on #1032
Even though we are checking for updates every day now, users still don't notice that and continue working on old versions. Need to make the message more visibly noticeable as well as need to show it every time `dvc` runs, same way `pip` does(currently we only show the message once when we check for updates).

[2018-10-29 17:44] #1235 closed

[2018-10-30 13:12] mjmikulski commented on #1238
I confirm that now it rocks on mingw! Thanks a million for your quick fix.

[2018-10-30 13:26] nicolalandro opened #1274 "remote: support PCloud"
It is possible to add a cloud storage as Dropbox or PCloud as remote?

[2018-10-30 13:56] amjadsaadeh opened #1275 "Use directory as output for dvc run when using hdfs as target"
Hello,

I would like to track directories on hdfs for my pipeline. E.g. I run:

`dvc run -d ./images -o hdfs://<hostname>:<port>/image_data hdfs dfs -put ./images /image_data`

but currently this fails because hadoop cli cannot calculate the checksum of a directory.

[2018-10-30 14:10] jurasan commented on #1153
box.com drop support for WebDav
https://community.box.com/t5/Box-Product-News/Deprecation-WebDAV-Support/ba-p/55684

[2018-10-30 14:29] efiop commented on #1238
@mjmikulski Glad it works for you! Thank you so much for the feedback! 🙂

[2018-10-30 14:43] efiop commented on #1274
Hi @nicolalandro !

Unfortunately we don't currently support Dropbox or PCloud 🙁If you wish to contribute a native driver for one of those, please take a look at `dvc/remote/` directory, where we have drivers for AWS s3, Google Cloud Storage, Azure, HDFS, SSH and Local Directory and don't hesitate to ping us if you need any help with that. That being said, if you absolutely need one of those to wo

[2018-10-30 14:43] efiop opened #1277 "remote: support Dropbox"

[2018-10-30 14:44] efiop commented on #1274
Created https://github.com/iterative/dvc/issues/1277 for dropbox and renamed this issue for PCloud.

[2018-10-30 16:05] dmpetrov commented on #1274
It looks like PCloud supports WebDav protocol. #1153 should cover this PCloud issue.

[2018-10-30 18:18] tdeboissiere opened #1278 "Better status for aggregate DVC files"
DVC version : 0.20.0 (python 3.6 anaconda install)

[code]

The first `dvc status` command will show that `file1.txt` has been modified. However, the second  `dvc status` command shows that everything is up to date.

This is misleading because calling `dvc repro main_data/data/data.dvc` actually re-runs the whole pipeline to account for the change in `file1.txt`

Is it possible to fix this behavio

[2018-10-30 18:20] dmpetrov opened #1279 "Repro does not work without .git directory"
In a dvc repository:
[code]

[2018-10-30 20:02] shcheklein commented on #1064
@mroutis

First of all, we should check help (styling, syntax, descriptions) for other commands and make them follow the same style. This ticket is not about main help message only.

Then, I think my initial intention was wrong. I was thing to make arguments descriptions look like:

`pipeline     manage pipeline`

while description like:

`Data Version Control - some description.`

This way we don

[2018-10-30 21:16] mroutis commented on #1279
@dmpetrov , I can't reproduce your bug report, are you using the latest `dvc` version (currently `0.20.0`)?

Here are the steps I tried:
[code]

[2018-10-30 21:30] dmpetrov commented on #1279
[code]

My concerns is the second failure.

More details:
[code]

[2018-10-30 21:38] dmpetrov commented on #1279
Updated dvc (from sources):
[code]

The result is the same.

[2018-10-30 21:50] bwalsh opened #1280 "`dvc import` from `s3://...` fails when s3 provided by 3rd party provider."
* Standard aws client works, if endpoint url provided.
  * aws --endpoint-url https://\<my-endpoint\> s3 ls \<my-path\>
* DVC repository works, endpoint_url provided
[code]

**However** `dvc import` fails because no capability to specify `endpoint url`
More details: https://gist.github.com/bwalsh/1afea0a2499b5e81c507dbc24521038e

[2018-10-30 21:54] mroutis commented on #1279
Thanks, @dmpetrov , I'll check it

[2018-10-30 22:21] mroutis commented on #1279
@dmpetrov, the error was raised by an error during the directory walk, to reproduce it, I needed to modify a little bit my script above:
[code]

The following PR should fix it: https://github.com/iterative/dvc/pull/1281

[2018-10-30 22:47] dmpetrov commented on #1279
Great! Thank you @mroutis.

[2018-10-30 23:04] mroutis commented on #938
@efiop, could you add a description to the issue?
Is `dvc update` going to deal with system updates or just pip, what about dealing with different package managers (`pip`, `easy_install`, `conda`, etc.)?

[2018-10-31 00:17] mroutis opened #1282 "import: When using an S3 URL it should accept the --profile flag"
[code]

[2018-10-31 00:20] mroutis opened #1283 "import: When using an S3 URL it should accept the --region option"
[code]

[2018-10-31 01:02] dmpetrov opened #1284 "Set a relative path to cache dir"
DVC from sources:
[code]

[code]

Btw... it works just fine if I use an absolute path like in this example `dvc config cache.dir /dvc-cache`: https://dvc.org/doc/use-cases/multiple-data-scientists-on-a-single-machine

[2018-10-31 01:15] efiop commented on #1280
Hi @bwalsh !

You can actually use that remote in the `dvc import` command. E.g. `dvc import remote://minio/path`. Could you please try it out and see if it works for you?

Thanks,
Ruslan

[2018-10-31 01:32] #1279 closed

[2018-10-31 01:47] efiop commented on #938
The idea was that maybe `dvc upgrade` could(at least when installed with pip) call `pip install --upgrade dvc` as a start, but I agree that it is rather hard to manage it all ourselves and we probably shouldn't bother with it if at least we detect how dvc was installed(our exe, pkg, deb/rpm or pip) and provide a message that depends on it. E.g. in https://github.com/iterative/dvc/pull/1273 you onl

[2018-10-31 01:51] mroutis commented on #938
Great, I'll extend #1273 to show the appropriate note

[2018-10-31 02:00] efiop commented on #1282
The problem here is that you will need these config options later anyway for dvc to check if the external dependency has changed, so it makes sense to setup the remote once and for all. That being said, in the proposed import format, we could either create a remote automatically in one of our configs(which will be effectively duplicating `dvc remote` command, so we might as well just ask user to s

[2018-10-31 02:01] mroutis commented on #1282
I totally agree, @efiop , let's keep using `remote://`

[2018-10-31 02:01] #1282 closed

[2018-10-31 02:01] mroutis commented on #1283
Closing for the same reason: https://github.com/iterative/dvc/issues/1282#issuecomment-434534328

[2018-10-31 02:01] #1283 closed

[2018-10-31 02:03] mroutis commented on #1187
@efiop, can we close this one?

[2018-10-31 02:10] efiop commented on #938
Thank you!

[2018-10-31 02:16] efiop commented on #1187
@mroutis Let's leave it open for now. I'll try to come back to this soon.

[2018-10-31 03:33] shcheklein commented on #938
I think if we show the appropriate message it should be enough. It's not very common to have its own command to update the tool )

[2018-10-31 03:40] shcheklein commented on #1280
@bwalsh if you want to use one bucket for remote cache and another bucket for remote dependencies, I believe, you will need to create a separate remote using `dvc remote add` - https://dvc.org/doc/commands-reference/remote#add and use it instead the `minio` one

[2018-10-31 03:44] shcheklein commented on #1280
@efiop @mroutis Just a thing to think. I don't have any good suggestions yet. It's a little bit confusing that we use the same notion of remotes for storing cache and to specify external dependencies. Term "remote" came from git where it has only one specific purpose - as a central place to store commits (cache).

[2018-10-31 07:01] efiop opened #1285 "graph: check for circular dependencies when parsing DAG"
E.g. same way we check output duplication in project.py:graph(). We should be able to just search for cycles in the networkx graph and print the trace.

[2018-10-31 12:21] bwalsh commented on #1280
@efiop @mroutis  @shcheklein thanks everyone for the quick response.

I tried setting up the second remote, adding the endpoint url,  and importing.  I can confirm the import remote://... works, thanks.

Left to my own devices I wouldn't have guessed it was a possibility.
I wish aws would fix their cli config [this issue](https://github.com/aws/aws-cli/issues/1270) w/ awscli has been open for a wh

[2018-10-31 16:04] efiop commented on #1280
@bwalsh Sorry for a dumb question, but I just want to clarify. Are you aware that the `dvc import` not only downloads the file, but also tracks the remote source of that file and re-downloads if it has changed?

[2018-10-31 16:24] bwalsh commented on #1280
@efiop : yes I was aware.  The semantics of `dvc import` are clear, it's the semantics the of `remote://` by import

[2018-10-31 17:32] mroutis commented on #763
Should we remove the `--purge` flag (as it would be the default) and leave just the `--outs-only`, @efiop ?

[code]

Should we clarify that this removes the files only for the "working directory" and not from the cache?

[2018-10-31 17:58] shcheklein commented on #763
👍 for better explanation. May be it makes sense to keep both options for backward compatibility and place (default) after the description.

[2018-10-31 18:41] mroutis commented on #1280
@efiop, I'm going to label this as `documentation` to improve/clarify the `remote://` "protocol"

[2018-10-31 20:53] efiop commented on #763
This is a part of 1.0 issues, which are backward incompatible. We should not merge this to master yet.

[2018-10-31 20:57] shcheklein commented on #763
@efiop should we create a 1.0 branch to merge these new features into them?

[2018-10-31 21:16] efiop commented on #763
@shcheklein Sure. We already have 1.0-dev branch. @mroutis Could you please rebase your patch?

[2018-10-31 22:47] mroutis commented on #763
Yes, @efiop , sorry, I didn't look at the milestone :see_no_evil:

[2018-10-31 23:52] #1032 closed

[2018-11-01 12:50] efiop commented on #1169
Added a confirmation prompt: https://github.com/iterative/dvc/pull/1182

[2018-11-01 12:50] #1169 closed

[2018-11-01 16:53] mroutis commented on #1222
Adding extra steps to replicate the issue:

[code]

@efiop, should the progress bar appear after a certain threshold (let's say 30)?

I think this is not that bad, maybe the user would like to `--quiet` the output instead of seeing a progress bar; also, when using `--quiet` the progress bar for:
[code]
Still appears.

[2018-11-01 16:55] mroutis opened #1290 "Add --notify option for running/reproducing long tasks"
It should work with `libnotify`

[2018-11-01 17:28] efiop commented on #1222
@mroutis I think we should have a "Linking directory 'mydir'" message always, but print the progress bar when it is a large directory. E.g. we have LARGE_DIR_SIZE defined right now(https://github.com/iterative/dvc/blob/master/dvc/utils.py#L19) for deciding if we would show progress bar when computing md5 of some directory. I think that number is somewhat reasonable :slightly_smiling_face:

Yes, pr

[2018-11-01 23:59] mroutis opened #1291 "Errors are written on stdout instead of stderr"
[code]

[2018-11-02 11:54] jurasan commented on #1153
I'm now looking for a good python webdav library supporting python 2.7.
I found this one, though it's not maintained for the last 2 years.
[https://github.com/CloudPolis/webdav-client-python](https://github.com/CloudPolis/webdav-client-python)

Does anyone have experience with this or can hint any other library.

[2018-11-02 12:34] efiop commented on #1153
@jurasan I agree. Do you plan on using webdav driver yourself(if so, with which storage provider?), or are you working on a patch for fun?

[2018-11-02 12:53] jurasan commented on #1153
We have our internal company cloud that uses WebDav

[2018-11-02 13:19] efiop commented on #1153
Ah, I see. Please don't hesitate to ping us if you need any help.

[2018-11-02 16:34] pared commented on #1291
Hi, i created pr.
https://github.com/iterative/dvc/pull/1292
Not sure how to write test for that one though, should there be one?

[2018-11-02 18:00] efiop commented on #1291
Hi @pared !

Sorry for a delay, github is sick again and not sending any notifications about PRs and comments.

Thank you so much for looking into it! I think you could redirect or mock stdout/stderr then try Logger.error(), Logger.info() and make sure that messages got written to correct channels. Could you please add such a test to tests/test_logger.py please?

Thanks,
Ruslan

[2018-11-02 19:15] efiop opened #1293 "gc -c: improper used cache collection"
[code]

[2018-11-02 19:55] pared commented on #1291
Oh right, it didn't occur to me. Sure, I will write it.

[2018-11-03 03:13] efiop opened #1294 "tests: run tests also without any scm"

[2018-11-04 10:42] efiop commented on #1291
Fixed by https://github.com/iterative/dvc/pull/1292 . Kudos @pared ! :tada:

[2018-11-04 10:42] #1291 closed

[2018-11-05 10:22] efiop opened #1295 "status: consider allowing to check pipeline status against remote cache storage"
I.e. check the status of the pipeline without pulling the data from the remote.

[2018-11-05 21:18] efiop opened #1296 "pull: don't forget to checkout deps when --with-deps is specified"
See dvc/project.py:pull(). It fetches cache for target and its deps, but checks out only target dvc file. Need to checkout deps as well.

[2018-11-06 12:33] #1232 closed

[2018-11-06 12:33] #1293 closed

[2018-11-06 12:33] #1296 closed

[2018-11-06 19:47] efiop opened #1298 "run/repro: allow saving checksums without running"
https://github.com/iterative/dvc/issues/919

[2018-11-07 13:41] efiop opened #1300 "gc: support used cache collection for several repositories using the same remote storage"
E.g. you have 2 projects that have somewhat similar cache files, that you decided to put on the same remote. Currently, calling `dvc gc -c` in one of the projects will wipe out remote cache for the second project, since used cache is only collected for the current project. Need to add ability to collect used cache for several projects.

[2018-11-07 16:01] efiop opened #1301 "introduce `dvc pl list`"
E.g.

[code]

[2018-11-07 16:03] efiop commented on #1300
For the record: @ynop from discord volunteered to work on this.

[2018-11-07 17:04] #1301 closed

[2018-11-07 17:04] #1031 closed

[2018-11-07 17:54] mroutis opened #1304 "updater: Run the check async"
Right now, we are checking if the user is running on an outdated version in a synchronous way, this can take some time (from ~3s to ~10s) as it calls our API that tracks the latest version; If we could run the whole check in an asynchronous way (spawning another process) it would not interfere with the normal workflow.

Also, it would be great to have an `update-notifier` config option to supress

[2018-11-07 17:56] mroutis commented on #763
Close by #1289

[2018-11-07 17:56] #763 closed

[2018-11-07 18:00] efiop commented on #1304
Also, as a part of this logic, it would be great to save latest version in `.dvc/updater`(we have an empty marker-file there right now) and use it to remind user about available update each time he runs `dvc` after that.

[2018-11-07 18:54] mroutis opened #1305 "init: Remove SCM message when using `--no-scm`"
**Command**:
[code]
**Current output**:
[code]

[2018-11-07 19:02] #1300 closed

[2018-11-07 22:35] shcheklein commented on #1184
Let's also put something like `what's next` - check get started, `dvc add` to start tracking models or data sets, `dvc run` to create your first stage

[2018-11-07 22:47] shcheklein commented on #1301
Please, create a ticket to add the documentation for this.

[2018-11-07 22:50] shcheklein commented on #1300
@ynop this is cool stuff, thanks! @ynop @efiop please, create a iterative/dvc.org ticket to update the documentation

[2018-11-07 22:50] efiop commented on #1301
https://github.com/iterative/dvc.org/issues/106

[2018-11-08 00:29] mroutis commented on #1280
Related: https://github.com/iterative/dvc.org/issues/108

[2018-11-08 13:22] k-lyda opened #1307 "Virtualenv on macOS not working"
**Please provide information about your setup**
* DVC version: 0.20.1
* Platform: macOS
* method of installation: pip

It looks like the commands run by dvc are ignoring currently used virtualenv
![screenshot 2018-11-08 at 13 48 32](https://user-images.githubusercontent.com/6491400/48199798-82c1c200-e35d-11e8-8f5c-a0522805f596.png)

Steps to reproduce the issue:
[code]
The output of two last comma

[2018-11-08 13:55] efiop commented on #1307
Hi @k-lyda !

I will try to reproduce this later today. Thank you for the feedback!

[2018-11-08 20:51] shcheklein commented on #1307
Hi @k-lyda , was not able to reproduce it on my MacOS machine. Would you mind to share `echo $SHELL`, is it the same shell that you are using? And `echo $PATH` as well. Can you also check your shell config (`cat ~/.bash_profile` in my case) - does it override PATH in some way that is related to anaconda?

We'll try anaconda a little bit later today.

[2018-11-08 21:33] k-lyda commented on #1307
Hi @shcheklein, indeed it looks like an issue is with adding anaconda inside shell profile script. I will do some more testing to check exactly what was causing the issue

[2018-11-08 21:50] mroutis commented on #1127
Hi, @appunni-dishq, I was about to work on this issue but I'm not sure if my understanding is correct; why would using `ListAccess` would be a security concern, besides knowing the filenames on your bucket?

You can restrict the `GetObject`, `PutObject`, and `DeleteObject` to just allow the operations inside the dvc cache directory.

I think that using just a HEAD request to verify the existence o

[2018-11-08 22:46] mroutis opened #1308 "logger: Respect `--quiet` option"
Progress currently uses the `print` function basically for the `print(message, end='')` functionality;

Now, `Logger` uses the `progress` function to wrap some calls https://github.com/iterative/dvc/blob/46831ea00a51e770e3a85c0b5fffb7c99677b149/dvc/logger.py#L137-L141

So we can't use `Logger` on `Progress`, that would create a circular dependency.

[2018-11-08 22:57] mroutis commented on #1308
There's another instance of Logger using `print` that will not respect the quiet output at all.

https://github.com/iterative/dvc/blob/46831ea00a51e770e3a85c0b5fffb7c99677b149/dvc/logger.py#L224-L230

[2018-11-08 23:19] shcheklein commented on #1307
Thanks, @k-lyda. I'll reopen it because I think it's important design question - the way we execute commands with DVC. It seems that ideally behavior should be the same in both cases, does not matter if you run it via DVC or directly from the command line. May be we should use some shell options to prevent it from re-reading profiles/config. What do you think, @efiop ?

[2018-11-09 06:42] efiop commented on #1307
@shcheklein You are right about it being an env vars overwriting issue by bashrc/zshrc/etc when launching a new instance for command execution inside dvc. I will look into it shortly.

[2018-11-09 07:31] shcheklein opened #1310 "Improve `-j` help messages"
For example, `dvc gc -j N`. There are also other DVC commands that have this option.

`-j` specifies parallelism level for the command.

It should specify that default number depends on a remote type and that to get defaults one should refer to docs.

[2018-11-09 07:37] appunni-dishq commented on #1127
Multiple repositories depending on same bucket would cause issue. It's a
real use case we want. we would like to restrict access to data based on
access to repository.

On Fri, Nov 9, 2018, 3:20 AM Mr. Outis <notifications@github.com wrote:

[2018-11-09 07:44] efiop opened #1311 "pull/fetch: check if there is enough space on the drive before downloading"

[2018-11-09 07:46] efiop opened #1312 "status -c: add option to show file sizes"
E.g. so user could estimate how large are the files that are going to be downloaded from remote.

[2018-11-09 09:21] efiop commented on #1127
@appunni-dishq are we talking about multiple dvc repositories depending on the same remote in the same bucket, right? If so, why would ability to list checksums be a threat? Or are we talking about dvc remote sharing a bucket with other data(unrelated to dvc) for which listing paths/names would be unwanted?

[2018-11-09 11:52] k-lyda commented on #1307
@shcheklein, @efiop, as you mentioned, in my case the issue occurs only when I have in my fish config (I use fish shell), line `export PATH=<anaconda path>:$PATH`. When I comment out this line, DVC works properly.

Best Regards,
Konrad

[2018-11-09 12:38] efiop commented on #1307
@k-lyda Oh, no wonder I can't reproduce, I should've asked right away about  the shell you were using, but I didn't think it could be anything special :smile: . Unlike other shells like bash/zsh, which don't parse configs when you invoke them like `bash script.sh` or `bash -c 'mycommand'`,
fish actually is a special one and reads your configs every time, which is where your issue comes from. This

[2018-11-09 15:37] appunni-dishq commented on #1127
Case 1. Are these files encrypted? I do not know exact implementation but I
am guessing since they can list they can download those files thus access
to that data.

On Fri, Nov 9, 2018, 2:51 PM Ruslan Kuprieiev <notifications@github.com
wrote:

[2018-11-09 16:09] efiop commented on #1127
@appunni-dishq List Access doesn't mean Read Access though, so if you can list, it doesn't mean that you can download the data.

[2018-11-09 17:18] mroutis commented on #1146
@efiop ,I didn't understand the second case;
When specifying a dependency with the `http` protocol should we try to make a GET request and cache the content?

[2018-11-09 17:35] efiop commented on #1146
No, it means that we should get ETAG(if available, if not -- throw an error) and save it instead of md5(how it is done in s3, gs drivers). No downloading should be done on dvc side. Notice that In the second example user downloads the file _himself_ and saves it into `data` file, which is cached by dvc. Maybe that example is a bit confusing, sorry. Imagine you have a script that uses the remote fi

[2018-11-10 19:38] efiop commented on #1307
Added a warning just in case: https://github.com/iterative/dvc/pull/1313 .

[2018-11-10 21:56] #1222 closed

[2018-11-11 19:41] IamGianluca opened #1314 "Cannot VACUUM from within a transaction"
First of all, thank you for building DVC. I've just discover it recently but I like the idea a lot! Thank you for all your hard work.

I'm running a command which outputs around 5 million images. DVC seems to fail while processing the hardlinks.

[code]

The interesting thing is that I've successfully executed the command in the past, while building the same amount of images but in half the size.

[2018-11-11 19:51] efiop commented on #1314
Hi @IamGianluca !

Looks like we have a bug while cleaning up our state file. Our current default entry limit is 10 000 000 entries, which is clearly not enough in your case. While we are considering increasing default limit and looking into vacuuming bug, you can change limit yourself in your dvc config with `dvc config state.row_limit 100000000`, which should make it work for now. Could you also

[2018-11-11 20:14] efiop commented on #1314
One more thing, are you using python 3.6, right?

[2018-11-11 20:41] IamGianluca commented on #1314
Hi @efiop ! My state file is 474Mb. I'm using Python 3.7.0.

Out of curiosity, let's say I have a program silently failing during execution with `dvc run`. Since the failure was silent, `dvc` would go ahead and do its magic. To restore the previous stage, do I need to do anything more than:

1. Remove the output files from my environment, `rm -rf /data/output_data/`
2. Remove the added data folder

[2018-11-11 20:48] efiop commented on #1314
Thank you for the info! I was able to confirm this bug on 3.6 as well as 3.7. Already sent a fix for it, going to merge it ASAP and release it in 0.20.3 in an hour or so. I'll notify you here when it is ready.

We have `dvc remove -p` for all of that ;) E.g. `dvc remove -p stage.dvc`.

`dvc remove` will not remove those files from cache, but you can utilize `dvc gc` command for that. Note that it

[2018-11-11 20:54] IamGianluca commented on #1314
Thank you so much for the bug fix and all the info @efiop I really appreciate it!

I need to complete the tutorial and work on the rest of the documentation. `dvc` is an awesome tool!

[2018-11-11 20:55] IamGianluca commented on #1314
1.

[2018-11-11 20:55] IamGianluca commented on #1314
1.

[2018-11-11 21:11] #1314 closed

[2018-11-11 22:13] efiop commented on #1314
@IamGianluca 0.20.3 is out. Please feel free to upgrade :slightly_smiling_face: Thanks for the feedback!

[2018-11-12 09:14] efiop opened #1316 "metrics add: don't require file to exist"
[code]

[2018-11-12 16:40] efiop opened #1317 "dvc: optional cache file encryption"
E.g. we would push encrypted files to remote for improved security.

[2018-11-12 16:53] mroutis commented on #1317
From the Discord channel:

[2018-11-12 16:55] aurelien-clu commented on #1317
# Description
`dvc` enables us to share data and models on a `remote` server / data storage service.
**Such service may not always be trusted for our (or our clients) data and models.**

This would be as follows:
- pushing encrypts automatically data
- fetching decrypts data (at the cost of using twice the space temporarily at best or all the time at worst)
- local data is always un-encrypted (so

[2018-11-12 17:02] aurelien-clu commented on #1317
Example of `dvc` file ([source](https://dvc.org/doc/user-guide/dvc-file-format):

[code]

[2018-11-12 17:05] efiop commented on #1317
@aurelien-clu

That md5 is a checksum for that dvc file. See https://dvc.org/doc/user-guide/dvc-file-format .

[2018-11-12 17:34] efiop commented on #1317
Also, remote configuration is done with `dvc remote modify` command, so something like `dvc remote modify myremote encryption_method rsa`.

[2018-11-12 17:35] mroutis commented on #1284
Hi, @dmpetrov !

I'm looking at the source code right now, and it looks like the relative paths work, but are relative to the `.dvc` directory, should we make it relative to the working directory?

[2018-11-12 22:03] mroutis commented on #1284
@dmpetrov , I opened a pull request for this at https://github.com/iterative/dvc/pull/1318

Feel free to close it if you don't think it's necessary to make a change on the current logic.

[2018-11-12 22:42] efiop commented on #1284
We should just make it clear in docs that if path is relative, it is resolved relative to dvc_dir.

[2018-11-12 23:04] efiop opened #1319 "dvc: add sqlite temp files to gitignore"
E.g. .dvc/state-journal. See https://www.sqlite.org/tempfiles.html for other temporary files

[2018-11-13 10:15] aurelien-clu commented on #1317
Alright thanks.
(sorry did not have much time to look further in the documentation)

I am looking into how to handle file encryption and decryption in python and then where to hook this into `dvc` code.
I feel like `dvc.remote.base` is a good candidate but I am not certain.
And there are other parts to update as well:
- the `cli`,
- the handling of `.dvc` file

Imho.

[2018-11-13 19:30] #1220 closed

[2018-11-13 21:39] villasv commented on #1099
I do intend to work on this, but it would be done outside of DVC.

DVC is pretty agnostic as far as things are going to be executed. I imagine it wouldn't bee to complex to convert a DVC DAG into an Airflow DAG of bash operators that just do `dvc repro` on output files. I'm guessing this would be a DagBuilder function that doesn't quite fit in a PR in either projects.

I have my hands full at the

[2018-11-14 00:26] mroutis opened #1323 "gc: Remove the outputs of a specific Dvcfile"
[code]

[2018-11-14 01:29] #1319 closed

[2018-11-14 02:00] appunni-dishq commented on #1127
@efiop without Read Access how can another IAM user use the bucket as DVC. My use case is simple. I have multiple datascientists working in different teams on different projects. Central source of data store is a bucket, it's very difficult to add new permission everytime some one needs access. So inorder to do access control we gave the same bucket as the repo for all projects. Giving everyone ju

[2018-11-14 10:59] efiop opened #1324 "gitignore: use unambiguous paths"
E.g. `/dir` instead of `dir`.

[2018-11-14 12:54] #1324 closed

[2018-11-14 15:29] efiop opened #1326 "checkout: doesn't remove excess files in directories"
[code]

dir/2 should've been removed by checkout. Related to https://github.com/iterative/dvc/commit/fc7545b6cf9579916ef0f1a0e269c76e7d4add0e

[2018-11-14 15:36] sotte commented on #829
For a private data sharing/deduplication tool I've used a buzhash/rolling hash for chunking big files into small chunks pretty successfully. The [borg backup tool](https://github.com/borgbackup/borg) has a nice implementation of a [buzhash chunker](https://github.com/borgbackup/borg/blob/master/src/borg/chunker.pyx). Maybe it's worth checking out.

[2018-11-14 15:48] sotte commented on #1092
What is the status on this? Or more concretely, when are you planing to to store the `cwd` in the dvc file?
I still think having a `.dvc` file (which stores the `cwd`) next to the output file is the best solution: `path/to/my/data` -> `path/to/my/data.dvc`. In my opinion this would make dvc much more user friendly (at least for my workflow :)).

[2018-11-14 15:59] efiop commented on #1092
Hi @sotte ! Thank you for your interest! This is planned for 1.0 release. We plan to implement and release it in a month or so.

[2018-11-14 16:15] mroutis commented on #1326
@efiop , I'm not sure about this behavior.

`git checkout` does not discard your current working directory (only if the `--` option is used), and if there are conflicting files between trees, git doesn't allow it. You need to consciously delete the files.

Maybe we can offer a `dvc clean` or a `dvc chekout -- `, what do you think?

[2018-11-14 16:18] mroutis commented on #1326
It makes sense if we only apply this to cached directories (eg. `0800fc577294c34e0b28ad2839435945.dir`).

[2018-11-14 16:39] efiop commented on #1326
But `git checkout` doesn't restore the directory even if you use `--` :slightly_smiling_face: This is because git operates on files, and we operate on data, which could be a file _or_ a directory. Effectively `git add dir` is equivalent to `dvc add dir -R`(will add all the files inside dir recursively), not `dvc add dir` which would treat the whole directory as a data. And thus `dvc checkout dir.d

[2018-11-14 16:57] shcheklein commented on #1326
It sounds like it will be easy to delete data that is not committed, right? Or am I missing something? I think git does not allow to do checkouts when there are uncommitted changes. In our case we will be silently removing data that is not cached, not saved to remote.

[2018-11-14 16:58] efiop commented on #1326
@shcheklein It doesn't allow to checkout _branch_, not a file.

[2018-11-14 17:06] shcheklein commented on #1326
@efiop I'm not sure I understand how this difference in checkouts answers my concerns about loosing data. Or maybe I'm still missing something. With git there is no _easy_ way to delete uncommitted data.

[2018-11-14 17:47] efiop opened #1328 "checkout: add confirmation prompt"
I.e. dvc should check if there are unsaved changes and ask user if he is sure he wants to overwrite them. Similar to what we have in gc,remove, etc commands. Also need to add a `-f|--force` option for it to disable the prompt.

[2018-11-14 17:47] efiop commented on #1326
@shcheklein Looks like I didn't understand your point right away. I agree, we should add a confirmation prompt for such cases. Created https://github.com/iterative/dvc/issues/1328 .

[2018-11-15 03:05] IamGianluca opened #1330 "Rename an existing .dvc file"
I executed a few `dvc run ...` commands without knowing I could use the flag `-f` to name the resulting `.dvc` file. I would like to keep things tidy, hence was wondering how could I rename such `.dvc` files without breaking reproducibility in the future running `dvc repro`. Shall I use `dvc move <fname>.dvc <new_name>.dvc`?

[2018-11-15 03:22] IamGianluca opened #1331 "checkout: use more than one core to check checksum when checking into another branch"
I'm working with a few million images that sum up to ~11GB. When I run a `dvc checkout`, `dvc` checks that files haven't changed, and if they did, it computes the new md5. This, however, could take more than 15 minutes when we are working with lots of images.

`htop` shows that during this process only one core is being used. Perhaps we could speed up the process using multiprocessing and distribu

[2018-11-15 07:04] dmpetrov commented on #1284
Does it means that it will work for an absolute path `dvc config cache.dir /home/dmitry/mycache` but it won't for relative path `dvc config cache.dir ../../mycache`? The behavior should be the same.

[2018-11-15 08:07] sotte commented on #1092
Great. I'll give DVC a try at work then.

[2018-11-15 09:50] efiop opened #1332 "dvc move: support stages created with `dvc run`"
We could do that without waiting for 1.0 by just storing relative path to the old location in `cwd: ` field of a new dvc file.

Related to https://github.com/iterative/dvc/issues/1092

[2018-11-15 09:55] efiop commented on #1330
Hi @IamGianluca !

Unfortunately `dvc move` doesn't currently only supports stages created by `dvc add`, because those don't have commands in them, which make moving a little bit more complicated. I have created https://github.com/iterative/dvc/issues/1332 to track progress on adding support for `dvc run` stages to `dvc move`, will try to send a patch for it ASAP.

 If you want to rename it withou

[2018-11-15 18:31] efiop opened #1333 "state: consider introducing 'cache state'"
Cache state would be same as .dvc/state that we currently have, but it would be placed inside cache directory and would store checksums for cache files, so you would be able to use it in an external shared cache scenario.

[2018-11-15 18:47] efiop opened #1334 "dvc: consider introducing inotify daemon"
Might as well combine it with usage report daemon from https://github.com/iterative/dvc/issues/693 .

[2018-11-15 18:48] efiop commented on #1334
From @mroutis
[code]

[2018-11-15 19:52] efiop commented on #1127
Makes sense to me. I need to note that without ListAccess, you will not be able to use our garbage collector on your remote, but considering that you are using single remote for multiple projects, you are not using gc anyway :) But if you'd like to use it in the future, notice that `dvc gc` will need to have all the projects that use that remote in order to properly collect all the used cache file

[2018-11-15 20:37] efiop commented on #1018
[code]

it will produce output.experiment1, output.experiment2 and so on for the stages down the pipeline.
so basically output files down the pipeline will have suffixes corresponding to the experiment that they Or maybe instead of suffixes, there would be automatically created directories that would store those outputs for each experiment.

[2018-11-16 00:55] mroutis opened #1335 "import: Set output as an optional value, defaulting to the name of the file."
e.g. `dvc import s3://gdelt-open-data/events/20181114.export.csv` would set the output name to `20181114.export.csv`

[2018-11-16 12:42] appunni-dishq commented on #1127
It is not a deal breaker, as the gc should only be allowed to be done from an admin account which has delete access it makes more sense too.

Thanks,
Appunni

[2018-11-16 12:45] efiop commented on #1127
@appunni-dishq That is a great point! Will send a patch shortly. Thank you for all the feedback! 🙂

[2018-11-16 13:48] efiop opened #1336 "azure: add support for container prefix(directory)"
Currently azure driver puts files directly into the root of a container.

dvc/remote/s3.py could be used as an example.

[2018-11-16 13:59] efiop commented on #1336
Currently azure url looks like `azure://ContainerName=mycontainer;<connection_string>` , which is different from all the other remotes. We should support this instead(but keep the backward compatibility):

[code]

[2018-11-16 18:33] efiop opened #1338 "`--with-deps` and `pipeline show` don't see a dummy stage"
[code]

produces

[code]

[2018-11-16 20:24] #1304 closed

[2018-11-16 20:35] dmpetrov commented on #1284
I agree that we cannot use a relative path from the current directory. However, a relative path from a project directory still sounds to me like a better option (comparing to relative to `.dvc`). Now it is very counterintuitive even if we put it into the documentation.

git-config example might be not very relevant because it is about the internals, not about user level API. And even in Git, user

[2018-11-16 20:39] efiop commented on #1284
@dmpetrov But we also will have user and system configs, which will not have project dir to go along with them, so paths in them will have to be specified relative to their location anyway. So in order to provide the same behavior for all configs, we need to keep the current behavior.

[2018-11-16 22:47] efiop opened #1339 "Error: Failed to run command: Stage file 'Dvcfile' format error: None should be instance of 'dict'"
[code]

[code]

[2018-11-16 22:56] efiop opened #1340 "investigate possible checkout performance regression since 0.20.0"
tdeboissiere on discord reports that `dvc pull` on 0.20.0 takes 111s, but on 0.20.3 160s. Need to investigate if we have a regression in pull, or checkout performance.

[2018-11-16 23:50] efiop opened #1341 "consider supporting multiple stages in a single dvc file"

[2018-11-17 00:48] efiop opened #1342 "repro: introduce --recursive-deps option"
Currently we have two policies for dependency checks on repro:

1) *default* direct dependencies;
2) --force;

Let's introduce a third policy called --recursive-deps, which would consider stage as changed if dependencies of its dependency stages have changed, even if outputs of those dependency stages didn't change.

E.g. instead of specifying requirements.txt  as a dependency for each stage in th

[2018-11-17 18:51] #1338 closed

[2018-11-18 02:08] mroutis opened #1344 "daemon: Throws "Unexpected error" when it's not possible to connect to the API"
I'm not sure about the behavior on this one, but is a little bit confusing that you are running other commands and then an error shows on your terminal related to a connection error that you didn't trigger explicitly. (e.g. `dvc init`).

In my opinion, it should fail and die silently.

To reproduce it, disable your Wi-Fi connection (e.g. `systemctl stop wpa_supplicant`) and run `dvc init`

Traceba

[2018-11-18 02:43] mroutis commented on #1342
So, `--recursive-deps` will recompute all the stage.deps checksums and run the stage file **just** if the checksums are different?

[2018-11-18 14:17] efiop commented on #1342
It is a little hard to explain with words, so here is an example instead :slightly_smiling_face:

[code]

produces

[code]

as you can see, in this particular case we're lucky(well, kinda) in that change to requirements.txt didn't change write.dvc's output, so dvc detected that direct read.dvc dependency foo didn't change and so it didn't have to reproduce read.dvc. This is where `--recursive-deps

[2018-11-18 15:11] #1344 closed

[2018-11-18 15:43] #1328 closed

[2018-11-18 15:43] #1339 closed

[2018-11-19 22:34] mroutis opened #1348 "import: Check if the resource is already cached before downloading"
[code]

The same happends when you try to `dvc import` again the same resource

[2018-11-19 23:30] mroutis opened #1349 "gc: Add `--except` flag that will prevent from collecting garbage from the given reference"
For example:
[code]

It would be nice to support multiple `--except` flags, allowing for a more custom garbage collection.

[2018-11-20 02:55] mroutis commented on #1323
I'm not sure about this addition, I think you can work around from this (`dvc remove --purge && dvc gc`), so I'll close it.

[2018-11-20 02:55] #1323 closed

[2018-11-20 03:34] mroutis commented on #1214
What about corrupting the cache, @efiop ? Is this for `reflink` only?

[2018-11-20 03:40] mroutis commented on #1123
Why is this a bug?

Is this the correct way to reproduce it?
[code]

[2018-11-20 04:31] shcheklein commented on #1184
Looks great, @mroutis !

I would simplify it a little bit. Remove `Start tracking ....` - it does not provide much value and covers only a specific niche - models. I would also change the chat copy:

`Join our community chat to get help and share ideas`

[2018-11-20 04:32] mroutis commented on #1184
Indeed, @shcheklein , I wasn't sure about that green part either:

![2018-11-19-22 31 24](https://user-images.githubusercontent.com/7363250/48751624-037c9a00-ec4b-11e8-8c31-f13840bfa4d0.png)

Final cut?

[2018-11-20 04:51] shcheklein commented on #1184
Yep, looks good to me! 👍

[2018-11-20 08:10] efiop commented on #1011
Currently `destroy` removes both .dvc/ directory and *.dvc files with their outputs. Starting from 1.0, it should leave outputs intact(in symlink case, it should remove symlinks and replace them by copies), so that user at least has his data back.

[2018-11-20 08:13] efiop commented on #1214
@mroutis Great point! We should `dvc unprotect` the outputs when this option is specified, so that user has safe copies(or reflinks).

[2018-11-20 08:35] efiop commented on #1123
This is a bug, but a correct way to reproduce it would be:
[code]
there is no bar.dvc in the last `dvc status`, because dvc doesn't see it, since it skips scanning output directories of other stages. So if you would to run `dvc repro dir.dvc`, it would wipe out `dir`, destroying `bar.dvc`. So we need to prevent this in the first place, by not allowing to place .dvc files in directories that are al

[2018-11-20 08:37] #1184 closed

[2018-11-20 17:34] i2 commented on #1099
I like DVC and I think this could be a very integral feature for DVC. I vote for it.

[2018-11-21 04:09] efiop opened #1354 "consider storing metadata for remote files"
I.e. version, name, project. So even when you loose your git repo, you still can `dvc list` to see what datasets you have on your cloud.

[2018-11-21 15:39] mizgyo opened #1355 "Team members should use the same profile for s3?"
I usually use aws cli with a profile (for example `aws s3 ls --profile myprof`).

Therefore, I set .dvc/config as follows:
[code]

When this configuration file is pushed to the git repository, all members' profile for s3 is set to myprof.
Is there a way to personally set the profile?

(Sorry for sending it before completion)

[2018-11-21 15:46] efiop commented on #1355
Hi @mizgyo ! Could you please elaborate on your question?

[2018-11-21 15:58] mroutis commented on #1355
You could use the local configuration, @mizgyo, so every team member have a different assigned profiles.

Or you can create another one with just the access needed for S3 operations:

s3:ListBucket
s3:GetObject
s3:PutObject
s3:DeleteObject

[2018-11-21 16:01] efiop commented on #1355
@mizgyo You can use local config to set your private settings that are not going to be pushed to git. Just use `--local` flag for respective `dvc config` and `dvc remote` commands, or write directly to `.dvc/config.local`.

[2018-11-21 16:16] mizgyo commented on #1355
Thanks for your reply.
The local configuration is what I was looking for.
I misunderstood that local configuration is set in the repository instead of machine local.

[2018-11-21 16:33] #1355 closed

[2018-11-22 02:53] dmpetrov opened #1356 "dvc add output"
In `dvc run` you can specify dvc-file name. Why don't we create a similar option for `dvc add`?

[code]

[2018-11-22 02:55] efiop commented on #1356
Great idea! Also `-c` should be supported along with it. Which will require cwd(or wdir) param for dvc files. Related https://github.com/iterative/dvc/issues/1332.

[2018-11-22 03:07] dmpetrov opened #1357 "dvc remote: set and unset to default"
I have a remote which was not set as a default for some reason:
[code]

It looks like the only way to make my remote default is to reconfigure dvc `dvc config core.remote mys3` or remove the remote and create a new one.

I'd expect to have this option in `dvc remote modify`.

Also, it is not clear:
1. Why don't we set a remote as default if this is the only remote?
2. Why don't we agree to use `or

[2018-11-22 03:45] efiop opened #1358 "cli: add examples to the description of `remote add/modify/remote` and `config`"
E.g.
[code]

[2018-11-22 03:47] efiop commented on #1357
You can use `-d` when adding a remote to make it default.

Right, or by editing config yourself.

`dvc remote modify` is only for modifying remote section, not `core` section. We could think of adding a separate command for that like `dvc remote default myremote`, but at that point it is easier to just edit the config instead of looking for a separate command :slightly_smiling_face:

If you would

[2018-11-22 16:56] prihoda commented on #1018
If I understand it correctly, this can already be handled by outputting a directory, using a command that contains a for cycle, right?

Something like this:

[code]

This approach also makes it possible to run all tasks in parallel, if you are able to submit asynchronously and wait for all tasks to finish:

[code]

The problem with outputting a directory is that when you want to run an additional

[2018-11-22 21:22] efiop opened #1359 "pipeline show --ascii: `An operation was attempted on something that is not a socket`"
From https://gist.github.com/artichaud1/e61905d826bc2bdbaaf7f3e05e812501

[code]

[2018-11-23 01:37] efiop commented on #1018
@prihoda Great point! This https://github.com/iterative/dvc/issues/1214 should be useful for such scenarios as well, since you will be able to tell dvc to not remove output before reproduction.

[2018-11-23 02:55] #1359 closed

[2018-11-23 10:23] D3Reo opened #1362 "dvc pull of remotes pointing to old versions of resources"
Hi, I'm running dvc  0.20.6 on a debian vm (installation from pip).
A colleague of mine modified a data folder, added its .dvc file to dvc's staging area, committed it to our git server and pushed, but he forgot to do a dvc push. This morning I knew he some of the data in the pipeline, so did a git pull followed by a dvc pull, and the report stated that he couldn't find directory with the correct

[2018-11-23 14:15] prihoda commented on #638
Hi guys, are you considering the IDE integrations?

I think a PyCharm integration would be very useful, starting with basic support for DVC files, like clicking on file paths to open the file, automatic status of md5 checksums, adding DVC reproduction command to the context menu, etc.

[2018-11-23 15:16] efiop commented on #1362
Hi @D3Reo !

The behavior is harmless, because dvc _knows_ that it has your old version saved in cache, otherwise it would've prompted you to ask if you are sure you want to delete unsaved data. It only deleted that directory from the workspace, leaving all the cache for it intact, so you can safely roll back to previous commit and do `dvc checkout`, that will put that directory back together.

Th

[2018-11-23 20:52] efiop commented on #638
Hi @prihoda !

We are thinking about integrations for different IDEs, but it is not a top priority right now :slightly_frowning_face: We would be extremely happy to help with anything we can, if anyone is willing to create such plugin.

[2018-11-24 08:58] efiop commented on #1284
I've used `worktree` as an example, but there other ones like `include` sections in git config. See https://git-scm.com/docs/git-config#_conditional_includes . And once again, relative paths in them are resolved relative to the config file location, which is correct and expected behavior. And git doesn't introduce a separate command `git include` to do that single action. And I also see no reason

[2018-11-24 09:03] efiop commented on #426
Created ticket on dvc.org. Closing.

[2018-11-24 09:03] #426 closed

[2018-11-24 09:13] efiop commented on #1257
Need to learn more about systems that dvc is currently working on first. Depends on https://github.com/iterative/dvc/issues/693 .

[2018-11-24 09:14] efiop commented on #1258
Fixed by https://github.com/iterative/dvc/pull/1329 .

[2018-11-24 09:14] #1258 closed

[2018-11-24 09:16] efiop commented on #1275
Duplicate of https://github.com/iterative/dvc/issues/1083 .

[2018-11-24 09:20] efiop commented on #1280
Let's close this one, since we have same issue opened on dvc.org.

[2018-11-24 09:20] #1280 closed

[2018-11-24 09:56] efiop opened #1364 "dvc: consider introducing `dvc pipeline` subcommands"
We should move all the pipeline related functions under it. For example https://github.com/iterative/dvc/issues/1202.

`dvc repro` -> `dvc pl repro`
`dvc status` -> `dvc status`(for data, same as `git status`) + `dvc pl status`(for pipelines, which compliments `dvc pl repro` and has similar behavior)
`dvc pipeline show/list/etc` -> `dvc pl show/list/etc`

[2018-11-24 09:58] efiop commented on #1278
Hi @tdeboissiere !

Currently `dvc status target.dvc` will tell if only direct dependencies of the `target.dvc` had changed(unlike `dvc status` without an argument, which shows status for the whole project and all dependencies). We have --with-deps option(which provides more of a `repro` like behavior) supported for other commands and I've sent a patch to support it for `local status` as well. The

[2018-11-24 10:15] efiop commented on #1097
A better approach might be to leave `dvc add` intact, but introduce `dvc pl add` intead of `dvc run`. Related https://github.com/iterative/dvc/issues/1364 .

[2018-11-24 10:16] #1278 closed

[2018-11-24 15:44] D3Reo commented on #1362
Ok, that makes sense, I was kind of scared when I saw the dir disappear, but I actually should have come up with that idea myself. Thank you!

[2018-11-24 15:44] #1362 closed

[2018-11-24 16:15] mroutis commented on #1284
I moved the issue to dvc.org to add a better explanation of this behavior on the docs.

[2018-11-24 18:08] #1316 closed

[2018-11-24 18:20] mroutis opened #1365 "tests: Logs are throwing duplicated output"
You can review any log (this one, for example: https://travis-ci.org/iterative/dvc/jobs/457244685#L1544-L1571)

[2018-11-24 18:35] mroutis commented on #1365
https://ci.appveyor.com/project/iterative/dvc/builds/20527652#L8269

[2018-11-26 03:28] efiop opened #1366 "checkout: don't ask for removal confirmation if we have that file in the cache"
[code]

shouldn't ask for confirmation when deleting `file`, since it has that version in the cache already.

[2018-11-26 15:39] tdeboissiere commented on #1340
I just ran the commands on one of my datasets and this time the timings are very similar.
The only difference is that I've used `dvc checkout dvcfile` today. When I reported the possible bug, I had a more complex pipeline where I wrapped several dvc commands with a python script.

I will investigate some more and keep you posted

[2018-11-26 17:30] mroutis commented on #1366
We would need to recompute the checksum for every file we check, as we don't know if it has changed or not.

[code]

What we are trying to achieve is preventing the user from deleting files that are "work in progress" (a dirty working directory) when `checking out`.

I'll submit a patch for it, but I can't imagine how expensive would be to recalculate MD5s in order to know which files are safe to

[2018-11-26 17:52] efiop commented on #1366
@mroutis If that file is already in cache and was linked to the workspace by dvc, then the checksum for it is already cached and costs nothing to retrieve. Otherwise we do re-compute the checksum, since we need to ensure that checksum is the one or not the one we need. We actually do that already, see https://github.com/iterative/dvc/blob/master/dvc/state.py#L87 . Or, another possibility, is to si

[2018-11-26 19:25] #1366 closed, assigned to nobody

[2018-11-27 03:56] efiop opened #1369 "checkout: set RO on unchanged files when in protected mode"
E.g. user has his workspace with links already and then tries the protected mode with `dvc config cache.protected true`. Currently we don't check/ensure that links are read-only on checkout. We can simply chmod() them as we go, without checking if perms are already RO.

[2018-11-27 04:03] efiop commented on #1369
Same with `dvc config cache.protected false`. `dvc checkout` should unset RO.

[2018-11-27 04:42] efiop opened #1370 "checkout: check if cache.dir is changed"
For example, user has changed `cache.dir` in the middle of his workflow. We need to detect that change and re-do all the links to the new cache location. We can achieve that by storing last `cache.dir` in our `state db`(e.g. in a new table) and then comparing it to the current one.

[2018-11-27 04:45] efiop opened #1371 "checkout: check if cache.type has changed"
Same as in https://github.com/iterative/dvc/issues/1370 .

[2018-11-27 21:55] efiop opened #1372 "run: escape arguments with spaces in it"
[code]

`arg1 arg2` are passed as a single argument to dvc, but we join() it in dvc/command/run.py, without escaping it, causing such behavior.

[2018-11-27 22:06] efiop opened #1373 "unprotect: don't copy file if not hardlink or symlink"
We can easily detect if it is a hardlink by checking a number of hardlinks with os.stat(it should be equal to 1).

NOTE: i don't think you can use stat().st_nlink > 1 on windows to detect hardlinks.

NOTE: should use our link list in state db to make sure that it is indeed our link.

[2018-11-27 23:49] dmpetrov opened #1374 "Statusbar is not suppressed by --quiet option"
[code]
The output is suppose to be empty.

[2018-11-27 23:50] efiop commented on #1374
Duplicate of https://github.com/iterative/dvc/issues/1308

[2018-11-27 23:50] #1374 closed

[2018-11-27 23:53] dmpetrov commented on #1308
It is a quite important thing. I'd not wait - "help wanted".

[2018-11-28 13:17] guerrapin opened #1376 ""Error: Failed to pull data from the cloud" when pulled data is a directory"
When pulling data from remote storage, I execute the following command:
`dvc pull train.dvc`

with content of the file:
_train.dvc_
[code]

Then obtain the following error:
[code]

It seems that it happens because of the output of `train.dvc` is a directory. It works fine when it's a file.

some infos:
dvc==0.21.0 installed with pip
macOS 10.14

[2018-11-28 16:39] prihoda commented on #638
Hey guys,

I gave it a shot :) Check it out: https://plugins.jetbrains.com/plugin/11368-dvc-support-poc

The code is here: https://github.com/prihoda/intellij-dvc-support-poc

![image](https://user-images.githubusercontent.com/2894124/49166825-6d283280-f334-11e8-9a4a-5d3d2ee2781c.png)

Current features:
- Bash syntax highlighting in cmd field (when BashSupport plugin is installed)
- Click-through

[2018-11-28 17:44] mroutis commented on #638
Nice, @prihoda!

We have our Discord channel where we discuss ideas with the community and help them with questions they have about DVC: https://dvc.org/chat

Feel free to join and ping us!

I'm sadly not a PyCharm user :disappointed:

I hope that after releasing version `1.0.0` the API would not have any breaking changes (until `2.0.0`), so it would be easier to integrate DVC with other tools.

[2018-11-28 17:56] efiop commented on #1376
Hi @guerrapin !

I receive a little bit different error, but none the less, can confirm the bug:

[code]

Looks like something is wrong with directory linking. Looking into it right now.

[2018-11-28 17:57] efiop commented on #1376
Correction: the error is the same.

[2018-11-28 18:00] #1335 closed

[2018-11-28 18:21] efiop commented on #638
Hi @prihoda !

Wow! That is amazing! :tada: I'm not a PyCharm user myself, but having this plugin honestly makes me want to switch to it :slightly_smiling_face: How about we schedule a hangouts call this week to discuss this? We've also wanted to meet you and ask you some questions for the longest time :slightly_frowning_face: If you are interested, please shoot me an email(see in my profile), so

[2018-11-28 18:35] shcheklein commented on #638
This awesome! Thanks a lot. Let's have a chat like @efiop suggested to discuss a name, place for the repository, future plans. I would def love to see a deeper integration! I'm jetbrains products fan, @dmpetrov and our advisor Vova (top-20 Kaggle at some point) are among users.

[2018-11-28 18:43] efiop commented on #1356
Same for `dvc import`.

[2018-11-28 18:45] stvogel commented on #1376
Got the same error, if it helps here is the output from `dvc pull -v`
`Debug: SELECT * from state WHERE inode=921540
Debug: fetched: [(921540, '1543417823157699328', '97eaf6e4e0cc4a84934b8f1f8f331417', '1543430639580068864')]
Debug: Inode '921540', mtime '1543417823157699328', actual mtime '1543417823157699328'.
Debug: UPDATE state SET timestamp = "1543430639622790144" WHERE inode = 921540
Debug:

[2018-11-28 20:47] efiop opened #1379 "run: support --non-deterministic"
This flag should mark dvc file as:

[code]

and `dvc repro` should always reproduce it.

[2018-11-28 20:53] efiop commented on #1234
NOTE: we can use git history as build cache by searching for existing committed dvc files in history. We could also cache that operation to only parse git history once.

[2018-11-28 21:35] #1376 closed

[2018-11-28 22:45] efiop commented on #1376
Thanks to @mroutis for a lightning fast :zap: fix! 0.21.2 is out, please upgrade. :tada:

[2018-11-29 06:10] #1308 closed

[2018-11-29 07:46] stvogel commented on #1376
I'm blown away. 0.21.2 really fixed it. Thanks a lot ... you're lighning fast!
Do you guys ever sleep? :-)

[2018-11-29 08:35] prihoda commented on #895
Hey guys, is it expected behavior that locked files without dependencies are printed in status output?

[code]

[2018-11-29 08:44] prihoda opened #1380 "Possible consistency issue when locking and unlocking changed DVC files"
Hi guys,

just wondering whether this could be a problem: After a dvc file content is changed, the md5 checksum of the dvc file can be tricked by locking and unlocking the file, making it seem like the file was not changed. Should dvc refuse to lock an inconsistent file to avoid unintentionally hiding inconsistencies, or would that just provide more headache to the users?

[2018-11-29 08:47] efiop opened #1381 "status: locked callback stages"
https://github.com/iterative/dvc/issues/895#issuecomment-442749438

Need to check if the callback stage is locked https://github.com/iterative/dvc/blob/0.21.2/dvc/stage.py#L163 and if it is locked, not report it as changed, unless outputs are changed.

[2018-11-29 08:48] efiop commented on #895
Hi @prihoda !

Great catch! That is definitely a bug. Created https://github.com/iterative/dvc/issues/1381 for it.

Thank you!

[2018-11-29 08:48] prihoda commented on #1379
Why not call it something like `--always-reproduce`, so that it can be used in other contexts?

[2018-11-29 08:49] efiop commented on #1379
@prihoda That is a actually a great name suggestion :) We'll use it instead. Thank you!

[2018-11-29 08:55] prihoda commented on #1380
Or maybe locking and unlocking shouldn't change the md5 checksum. The files won't be shown in `dvc status` anyway so the inconsistency wouldn't be a problem.

[2018-11-29 08:59] efiop commented on #1380
Hi @prihoda !

Great catch, as always! The issue is caused by `Stage.dumpd()` method, that is re-computing dvc file checksum even if you simply reload your dvc file, which is not right. It should leave md5 the way it is, and only compute it when there was an actual `run` performed. You are right, we should exclude unrelated parameters from the dvc file dict, when computing a checksum for it(e.g. `

[2018-11-29 09:03] prihoda opened #1382 "Support DVC push of locked files"
Hi guys, it would come in handy to push locked files, e.g. using `-l, --with-locked` option. For example, I have many locked callback stages that download a file from a URL and I also want to have these in the remote cache.

[2018-11-29 09:15] guerrapin commented on #1376
Wow, many thanks guys for fixing this so quickly ! :)
It works fine now.

[2018-11-29 09:20] efiop commented on #1382
Just to clarify, do you lock it somewhere down the pipeline? Or do you lock the downloader stage itself? E.g. do you do lock `data.dvc` or `output.dvc` in the example below?
[code]
The difference is that if you lock `data.dvc`, then push/pull/status should account for data already(unless we have a bug), and if you lock `output.dvc`, then only `output` is taken into account and `data` is left behin

[2018-11-29 09:33] prihoda commented on #1382
Oh I see! I read the warning wrong, it does just say *its **dependencies** are not going to be pushed/pulled/fetched*. So my usecase is already covered.

[2018-11-29 09:38] efiop commented on #1382
@prihoda How about we rename it to `-l|--with-locked-deps` then? 🙂

[2018-11-29 09:46] bkktimber commented on #1376
Got the same the problem. The update fixed it and everything works perfectly. thanks 🙏🏼

[2018-11-29 15:37] prihoda commented on #1382
Sounds good 😉

[2018-11-29 18:43] tdeboissiere commented on #1340
@efiop Here are the logs that reproduce the issue.
dvc 0.20.0 are consistently faster than dvc 0.20.3 (note that the command I launched was `dvc pull --with-deps`, not `dvc checkout --with-deps` since the latter is not available in dvc 0.20.0). I did make sure that the data was already in my local cache before launching the commands though.

This is a stage of my pipeline where I use a dummy maste

[2018-11-29 19:03] #1123 closed

[2018-11-29 19:04] efiop commented on #1340
@tdeboissiere Thanks! I'll take a look shortly.

[2018-11-30 01:36] dmpetrov opened #1384 "Slash prefix in gitignore"
[code]

[code]

Why the file name has a slash prefix `/`?

[2018-11-30 01:41] efiop commented on #1384
Because without it the name is ambiguous and will match any file in any directory under the current one that is named `Posts.xml.tgz`, while we only need to ignore `/Posts.xml.tgz`(in the current directory).

[2018-11-30 01:45] efiop commented on #1384
Here is an example:

[code]

[code]

[2018-11-30 01:59] dmpetrov commented on #1384
Got it. Not a bug.

[2018-11-30 01:59] #1384 closed

[2018-11-30 04:54] #1381 closed

[2018-11-30 07:21] #1380 closed

[2018-11-30 08:11] #1372 closed

[2018-11-30 12:22] stvogel opened #1388 "Dependend directory not in dvc"
dvc-version: 0.21.2
linux/ubuntu
python: 3.6.5

I have the following folder-structure (for image-classification):
[code]
Inside directories raw/apple and orange are image-files.
With split_dataset.py these files are copied to the processed-directory and split into training- and test-images (randomly)
So my datapreparation-step is:

`dvc run -d data/raw -d split_dataset.py -o data/processed -f data

[2018-11-30 16:55] mroutis commented on #1388
Hi, @stvogel !

I wrote this little script to reproduce your issue:
[code]

Indeed, it only checkouts the `processed` directory, besides specifying `raw` as a dependency.
I'm not sure if this is a bug or was an intended behavior, maybe @efiop can confirm.

The code only takes into account the "outputs" during the checkout:
https://github.com/iterative/dvc/blob/ff577d7a8751a91d2a0fee06f6976ff781d87

[2018-11-30 17:05] mroutis opened #1389 "Handle KeyboardInterrupt gracefully"
Currently, when you send a `SIGINT` to a running instance of DVC, it doesn't terminate properly.

[code]

Error:
[code]

[2018-11-30 17:21] IamGianluca commented on #1331
Thank you @efiop, I really appreciate it!

I'm still seeing long execution times (in the order of hours) with `checkout` and `gc` operations when dealing with lots of image files. I think this is a fairly common use case, unfortunately ― at least for me at work and in Kaggle competitions :-)

[2018-11-30 17:35] efiop commented on #1388
Hi @stvogel !

@mroutis is right, it is an intended behavior. Dependencies are tracked(e.g. changes to their checksums) but not automatically cached by dvc, you need to first add them to dvc(i.e. specify as an output to some stage, e.g. `dvc add data` creates a stage that has no dependencies, no command, but has `data` specified as an output, making it tracked and cached). So if you would to run
[

[2018-11-30 17:39] efiop commented on #1331
Hi @IamGianluca !

Thanks for the feedback! We've received a report about a similar problem https://github.com/iterative/dvc/issues/1340, that makes me think that it is a regression, we will investigate shortly.

Thanks,
Ruslan

[2018-11-30 18:21] dmpetrov commented on #1389
With `--verbose` option DVC still should show the stack trace I guess.

[2018-11-30 20:50] stvogel commented on #1388
Oh indeed, I thought I've tried that and got "data/raw" already under dvc-control.
But you're right. It works.
So the "first"-data in your pipeline (that has no output whatsoever) should in general be added manuall.
Ok, should keep that in mind.

Thanks a lot for the quick answer.
Did I say that DVC really helps a lot and solved one of my real PITA?

[2018-11-30 20:51] #1388 closed

[2018-11-30 21:59] efiop commented on #1388
@stvogel Glad it works for you :slightly_smiling_face:

We would love to hear more about the way dvc helps in your scenarios. Would you mind elaborating? :slightly_smiling_face:

Thanks,
Ruslan

[2018-11-30 22:58] efiop opened #1390 "dvc: don't initialize default remote automatically"

[2018-11-30 23:45] #1390 closed

[2018-12-01 00:10] efiop opened #1392 "test: autoscan and fix flake8 errors"
Currently we only automatically check our dvc/ directory with flake8(see .travis.yml). Need to check `tests` as well.

[2018-12-01 00:12] efiop opened #1393 "flake8: use flake8-docstrings plugin"
Need to fix all the issues reported by this plugin and then enable it in our CI.

[2018-12-01 00:19] efiop opened #1394 "s3: add option to disable ssl verification"
I.e.
[code]

Might be useful for people with strict ssl policies at a workplace.

[2018-12-01 01:19] efiop commented on #1380
Hi @prihoda !

The fix was released in 0.21.3. Please upgrade :slightly_smiling_face:

Thanks for the feedback!

[2018-12-01 01:20] efiop commented on #895
Hi @prihoda !

Fix for #1381 was released in 0.21.3 as well. Please upgrade :slightly_smiling_face: Thanks again for all the feedback!

[2018-12-01 10:00] #693 closed

[2018-12-01 14:42] stvogel commented on #1388
Hi Ruslan,

my focus is on deep learning and image recognition. Along with that comes a large amount of training images and models that are really large (80MB up to 500MB).
My large models and all the image-files doesn't fit into the corporate git and so I'm now using DVC to version my model and the corresponding image-files and store the large data in S3 and the code in GIT.
The combination of co

[2018-12-01 15:56] IamGianluca commented on #1340
@efiop I have a short deadline to deliver a model and need to free space on my SSD. Since `dvc gc` is taking too long ― after more than 12 hours still hasn't completed yet ― would it be okay to manually remove the `.dvc/cache/` folder? I know this means I would have to re-execute the entire pipeline, but that would probably take only a few hours.

[2018-12-01 18:09] efiop commented on #1388
@stvogel Glad to hear that dvc is so useful in your scenario :slightly_smiling_face: Thanks for all the feedback!

[2018-12-01 18:15] efiop commented on #1340
@IamGianluca Whoa, that is a lot of time :slightly_frowning_face: Note that if you remove .dvc/cache, you will loose cache for your pipeline inputs as well, so you won't be able to reproduce the pipeline as is, you would have to manually place input data back into your workspace. If you know where to find that data, you could indeed `rm -rf .dvc/cache` for now. Otherwise you need to at least back

[2018-12-02 01:54] efiop opened #1397 "daemon: limit number of spawned daemons"
Experiments show that even if you would to run dvc in an infinite bash cycle, spawned daemons won't affect the system that much, but, as a precaution we should limit number of spawned daemons anyway to some fair amount.(e.g. 2?).

[2018-12-02 02:05] efiop commented on #903
Caught a regression. Investigating.

[2018-12-02 02:58] efiop commented on #903
Was able to speedup fro, 0.7 to 0.1 sec on my machine.

[2018-12-02 06:07] #1389 closed

[2018-12-03 12:51] andrethrill opened #1401 "Stating dependencies between scripts/modules"
Hello!

I hope the explanation below is clear. Please let me know otherwise.

Say I have a `utils.py` with some awesome helpful classes that I reuse frequently in a certain dvc tracked repo.

Say I have:
- `script1.py` that uses `utils.py` and that takes `data0.csv` and processes it to `data1.csv`
- `script2.py` that uses `utils.py` and that takes `data1.csv` and processes it to `data2.csv`
- `scr

[2018-12-03 15:36] guysmoilov opened #1402 "Google Cloud Storage outputs always considered changed"
DVC version: 0.21.3+b45e22.mod
Running from source
Also happens on official 0.21.3 release from homebrew

Going exactly by the tutorial: https://dvc.org/doc/user-guide/external-outputs
and working with a GS bucket and cache.

Immediately after the `dvc run` executes, running `dvc status`shows the output file on GS as changed. `dvc repro` will execute the command again, and it will still count as c

[2018-12-03 16:02] prihoda opened #1403 "Support calling DVC with output path as alternative to stage path"
Hi guys, just an idea, what if you could also use `file.txt` just like `file.txt.dvc` when calling all DVC commands?

Since DVC already checks that a single file cannot be an output of multiple stages, its stage is uniquely defined and can be retrieved automatically. Both ways could be supported, the user could call DVC the way they prefer: `dvc repro file.txt` or `dvc repro file.txt.dvc`.

The mo

[2018-12-03 16:10] guysmoilov commented on #1402
Seems like the issue's origin is in [https://github.com/iterative/dvc/commit/3ec0a5c4ae852a2c1fdaad97f32e20189bccc2d3](https://github.com/iterative/dvc/commit/3ec0a5c4ae852a2c1fdaad97f32e20189bccc2d3)

The remote's changed() method started checking whether the actual file exists in the expected path, which fails when the remote is a cache and its paths are different.

It seems to me like this shou

[2018-12-03 16:28] prihoda opened #1404 "Getting DVC status for subset of output files"
Hi guys, in the IntelliJ plugin, I guess we could save a lot of processing power if we checked the status just for a subset of currently changed output files, as opposed to checking status of all active stages.

For example, I know that files `a.txt` and `b.txt` just changed, it would be great if I could run something like `dvc status --only-changed-files a.txt b.txt` and get status of `a.txt.dvc`

[2018-12-04 01:15] efiop commented on #1402
Hi @guysmoilov !

Great catch! Your analysis is spot on! I'm will send a patch for this shortly.

Thank you!

[2018-12-04 01:29] efiop commented on #1285
E.g.

[code]

Looks like

[code]

which should not be allowed.

[2018-12-04 01:59] efiop commented on #1404
Hi @prihoda !

The overhead for `dvc status` is indeed pretty small and would be comparable to `dvc status --only-cached-files`, since dvc would still have to build DAG and analyze it traversing dependencies and stuff. Does `dvc status` suitable is your current scenario? I guess in your case, you need to parse the output of `dvc status` to know which files have changed and then use it in the plugi

[2018-12-04 02:07] efiop commented on #1403
Hi @prihoda !

Thank you for detailed analysis, it is great! All three problems can be mitigated with appropriate warning messages, that would let user know that something is happening. I see no reason why we can't or shouldn't support this behavior. We'll take a look at implementing this soon.

Thanks,
Ruslan

[2018-12-04 02:47] #1402 closed

[2018-12-04 06:32] efiop commented on #1402
Patch is merged. I have found another bug in GS remote, preparing a patch for it right now. Will release new dvc version with all the patches tomorrow. Thank you for the feedback!

[2018-12-04 08:04] efiop commented on #1397
@dmpetrov I'll take a look at it shortly.

[2018-12-04 08:24] prihoda opened #1406 "Machine readable format of DVC status"
Hi guys, can we have machine readable output format option for `dvc status`, for example:

[code]

I don't think it will be needed for other commands, at least for now - we can show dvc console output for user actions such as `dvc repro`.

[2018-12-04 08:35] efiop commented on #1406
Great point! Our internal API function dvc/project.py:Project.status() actually returns a dict,  which then gets printed in dvc/command/status.py, so it should be pretty easy to implement.

[2018-12-04 08:38] efiop commented on #1406
Just need to add `--json` option in the dvc/cli.py for `dvc status` and then process it in `dvc/command/status.py` and json.dump() it, instead of printing as usual.

[2018-12-04 08:40] prihoda commented on #1379
I'm wondering, how about we discard callback stages and support that behavior with `--always-reproduce`? Personally, I don't see the causality in the "no dependencies" => "always reproduce" behavior.

[2018-12-04 08:49] prihoda commented on #1406
Yeah I took the Project.status() in mind, I'm starting to dive in the code 🤓

I would additionally include the `callback`, `locked` and `checksum_changed` boolean values explicitly so that the status can be explained. This would also be useful in the human readable output IMO.

And another thing, I'm thinking it would be useful to have separate `outs_changed` and `outs_missing` since the consequen

[2018-12-04 08:50] efiop opened #1407 "run: abandon `callback stage` feature in favor of `--always-changed`"
We had `--always-changed` for a long time now(since before 1.0), so we can drop support for callback stages (see Stage.is_callback).

[2018-12-04 08:51] efiop commented on #1379
@prihoda I agree, `--always-reproduce` is a much nicer way of achieving that `callback` behavior. I think we could abandon it in the 1.0. Created https://github.com/iterative/dvc/issues/1407 . Thanks! :slightly_smiling_face:

[2018-12-04 08:55] efiop commented on #1404
If you don't mind, let's then close this one in favor of #1406 :slightly_smiling_face:

[2018-12-04 08:55] #1404 closed

[2018-12-04 09:23] efiop opened #1408 "status: update --with-deps description"
https://github.com/iterative/dvc/pull/1363#issuecomment-444027248

[2018-12-04 09:57] efiop commented on #1406
@prihoda Sounds amazing! But how would we handle a bunch of changed things? E.g. deps and outs changed. Black icon?

[2018-12-04 10:39] #1373 closed

[2018-12-04 11:34] prihoda commented on #1406
Personally I wouldn't go for those combinations, I would just process it from most severe to least severe and show the first one using the if-else approach. When the file is open, we can show a detailed description. If you consider all combinations of outputs (changed, missing, ok), dependencies (changed, ok) and checksum (changed, ok), it's 3x2x2 = 12 combinations.

But I'm definitely open for di

[2018-12-04 11:36] efiop opened #1409 "gs: investigate test failure"

[2018-12-04 11:57] prihoda commented on #1406
Moving the discussion here: https://github.com/iterative/intellij-dvc-support-poc/issues/1

[2018-12-04 13:33] guysmoilov commented on #1402
@efiop Hi, thanks for the quick fix, however I think there's still a problem. Now, when I run dvc status immediately after repro, I get: `Corrupted cache file` warnings, the cache is deleted, and the file is immediately considered as changed.

I believe this happens in `RemoteGS.changed_cache`, line 79, where **the etag of the output file is compared to the etag of the cache file**. When they are

[2018-12-04 19:57] efiop commented on #1402
@guysmoilov This is precisely the bug, you can see our CI failing because of it. Patch is coming today, thank you! 🙂

[2018-12-04 20:09] efiop commented on #1401
Hi @andrethrill !

Amazing idea! We could totally support that, by implementing something like` --no-remove-outs`(we will figure out a better name, suggestions are welcome 🙂 ) https://github.com/iterative/dvc/issues/1214 and using it with the already existing `-O|--outs-no-cache` option. So your command would look like `dvc run -d scriptA.py -O scriptB.py --no-remove-outs`.

Thanks,
Ruslan

[2018-12-04 22:12] efiop commented on #1402
@guysmoilov Turns out, because of the inertia from S3, we've been wrongly using ETag on GS. On S3 Etags are the only way to identify file and it doesn't change when you copy your blob within the s3. Which is not the case with GS, where ETag does change after you simply copy it from one prefix to another. But, luckily, GS does provide md5_hash, which can and should be used for our purposes. Prepari

[2018-12-04 22:49] efiop opened #1410 "azure/gs/s3: re-design checksum computation for external dependencies/outputs"
<s> Unlike S3, azure does provide `content-md5`(need to investigate if it still works, since s3 had support for it some time ago and doesn't have it right now) This is related to external outs/deps feature, that is not implemented yet. Usual `push/pull` are not going to be affected. </s>

[2018-12-04 23:46] efiop commented on #922
https://github.com/iterative/dvc/issues/1410

[2018-12-04 23:53] #1409 closed

[2018-12-04 23:55] efiop commented on #1402
@guysmoilov Patch is now merged into master. Everything should work correctly from now on. Please feel free to try it out :slightly_smiling_face: We will release new dvc version later today. Thanks a lot for all the feedback and amazing analysis! :slightly_smiling_face:

[2018-12-05 00:02] efiop opened #1412 "http: use Content-Md5 header if available"
We could use it for https://github.com/iterative/dvc/issues/1348 .

[2018-12-05 05:17] efiop commented on #1331
@IamGianluca Hi! Could you please tell how you store and work with those numbers of files? Is it a single directory that you add as a whole to dvc?

[2018-12-05 05:38] #1365 closed

[2018-12-05 09:36] prihoda opened #1415 "Get run command from stdout"
Hi, I'm often running multiple commands in dvc run, which can be done by wrapping the command in quotes:

[code]

It would be nice if I could input the command using stdout prompt instead, e.g. by running:
[code]

[2018-12-05 09:41] prihoda commented on #1415
First I thought this could be done automatically when the command is not provided, but I see that in that case, it's already handled as copying (or linking?) the dependency to the output, which also makes sense. But still, it's a shame that it's taken 😄

[2018-12-05 10:26] prihoda opened #1416 "pipelines: parametrize using environment variables / DVC properties"
It would be useful if I could parametrize my pipeline using environment variables, which could be read from a properties file specified using `dvc config env my.properties`. DVC would load those environment variables when running the command.

For example, I could have this properties file:
[code]

And run:
[code]
And produce "Hello David!" and "Cheers David!" files.

Users would just have to make

[2018-12-05 15:44] mroutis commented on #1415
I'm not sure about this one, @prihoda.

Why won't you write a script instead?
If you want to format your output in the prompt, just open a quote

[code]

[2018-12-05 15:55] mroutis commented on #1415
About the other suggestion about using variables for input and dependencies, I don't think it would bring to much value, to be honest; the commands are already interpreted by a shell, so you can have globbing, for example: `dvc run -o out 'cat *.txt > out'`.

I guess the cool think about having "special variables" in Makefiles are the [implicit rules](http://www.gnu.org/software/make/manual/html_n

[2018-12-05 16:13] mroutis commented on #1416
This one is interesting, @prihoda :thinking:

I've never encounter the of using varibables in DVC commands, maybe my use cases are very simple :sweat_smile: !

This looks like a _Makefile_ behavior, where you can define variables on the top of your file and use them in the rules.

I prefer being "explicit than implicit" and I'll think it twice before introducing this request.
Let's leave this open

[2018-12-05 16:34] efiop commented on #1412
It is just encoded in base64 and md5sum outputs hex. Here is us converting it in GS remove: https://github.com/iterative/dvc/blob/0.22.0/dvc/remote/gs.py#L55

[2018-12-05 16:39] efiop commented on #1412
Yes, that would be even better, I agree. Especially since our checksum is dos2unix + md5sum, so content-md5 might not always match our checksum.

[2018-12-05 16:57] mroutis commented on #1394
@efiop , could you describe a little bit more the use case?

I don't think it should be a good idea to disable verifying the certificates; there's another option `use_ssl`, tho, that will disable SSL.

For the ones who have custom endpoints without SSL certificates, for example: `http://localhost:8000` it will not force SSL usage.

[2018-12-05 17:00] mroutis commented on #1394
In case we implement this, I'm imagine something like: `dvc remote modify bucket disable_ssl true`, what do you think?

[2018-12-05 17:02] efiop commented on #1394
I was actually thinking about something like `dvc remote modify mys3remote verify_ssl false`(`true` by default`).

[2018-12-05 17:06] mroutis commented on #1412
:sweat_smile: Thanks, @efiop.

Just to be clear, if `Content-MD5` header is available, we will store the decoded value as an `ETag` instead of searching for the `ETag` header, right?

[2018-12-05 17:22] efiop commented on #1415
@prihoda In order to handle all the line breaks and possible open parenthesis, we would have to implement a mini shell for `--interactive`, which I don't think should be our focus. As @mroutis suggested, you can just use a separate script or embed your command into quotes, so shell could handle everything for you.

@mroutis @mroutis The problem with `dvc run -o out 'cat *.txt > out'` is that you c

[2018-12-05 17:39] mroutis commented on #1415
That's true @efiop !

[code]

Sadly, this will break backwards compatibility, but it would enable specifying `dvc run -d *.txt -o out 'cat *.txt > out'

[2018-12-05 17:42] efiop commented on #1412
Yes, seems right :) This is not top priority though, ETags works perfectly right now.

[2018-12-05 17:58] efiop commented on #1415
@mroutis I've meant that Makefile expands those variables dynamically(e.g. each time you run make), while dvc in your example would bake all of the *.txt dependencies into a dvc file once. :slightly_smiling_face:

Also, if you would do
[code]

it might interfere with the command, which is defined as a REMAINDER. In your example you are lucky because you didn't specify -d option last before your co

[2018-12-05 18:02] efiop commented on #1416
@prihoda If going with plain env vars, I think a more natural approach, would be to define something like a config file, that you would specify as a dependency for your stage. E.g.
[code]
and you would use it in your stage like so:
[code]
Though, it doesn't solve dynamic `dep/out` expansion. Maybe we could consider introducing `-e env.sh`(or maybe env.yml, to make it more cross-platform) option, t

[2018-12-05 18:50] mroutis commented on #1415
Indeed, @efiop , introducing a `--cmd` flag or handling `--` correctly to stop the parser could work, however, I wasn't taking into account Windows users (maybe globbing wouldn't work the same way), so it would be nice to have some _agnostic / non-shell dependent_ way to handle this :+1:

[2018-12-06 02:29] shcheklein opened #1417 "Space or colon missing after Error prefix"
Minor issue in the way we print errors:

`dvc run`

[code]

[2018-12-06 03:20] #1417 closed

[2018-12-06 03:34] #1408 closed

[2018-12-06 05:07] #1392 closed

[2018-12-06 10:07] vernt opened #1419 "pipeline show only ancestors"
`dvc pipeline show --ascii my.dvc` seems to show all of the files involved in a dag. I'm interested in getting only the (recursive) ancestors of `my.dvc`, and excluding other descendants of the parents.
Perhaps `--ancestors` or `--deps`.

[2018-12-07 05:00] IamGianluca commented on #1331
@efiop Hi! I have an archive that I've unpacked with a command like `dvc run -d data.tgz -o data tar -xvf data.tgz`. To give you an example:

The first step in my pipeline unzip a zip archive ― I could have done it using `unzip` to be honest, no need to have a script for that.
[code]

Then I've converted some csv files to jpg...
[code]

Then, trained a classifier...
[code]

And so on...

[2018-12-07 07:47] efiop commented on #1331
@IamGianluca Got it, thank you! Especially thanks for the link! :slightly_smiling_face: I'm downloadint it right now and will try it out.

[2018-12-07 15:14] prihoda commented on #1415
Thanks guys for the replies! Yeah sometimes I don't realize that it's actually not that easy 😄This can already be accomplished using the existing features, so I don't mind if it's not implemented.

[2018-12-07 20:23] mroutis opened #1420 "repro: Introduce an `--eta` option to show estimates of reproducing that stage"
## Why?
It seems useful to know how your stages are performing (for examle, how long it took to train a model).

The estimated would be based on a previous captured execution time of that stage (probably, at `dvc run`).

## Description
[code]

## Caveats
- Estimates would vary dependending on the machine / network.

[2018-12-07 23:19] efiop commented on #1364
Agreed that `dvc pipeline` is better than shorter `dvc pl`, which we could introduce later if we really need to.

[2018-12-07 23:25] efiop opened #1421 "remote: local: support relative paths"
E.g. `dvc remote add mylocal ../../mydir`. Note that same as with `cache.dir`, path should be resolved relative to config file location, which is `.dvc`.

[2018-12-08 00:37] dlazerka commented on #1421
Great, I would take a caution about going ../ from the root dir (i.e. outside project), might be a security issue. Although I heard that it might be hard to really determine if you're "outside" (symlinks and whatnot).

[2018-12-08 01:07] efiop commented on #1421
@dlazerka DVC doesn't have any additional privileges, so it can't do much harm :) Unless I'm missing something.

[2018-12-08 01:10] dmpetrov commented on #1421
@dlazerka thank you for your feedback!

A relative path should not base on `.dvc`. However, we can resolve the path and save it as a relative to  `.dvc`.

#1284 is not a relevant explanation for this case since `dvc remote` is not a direct interface for config file manipulation. We should support "principle of least surprise" for high-level commands such as `dvc remote`.

[2018-12-08 01:45] efiop commented on #1421
@dmpetrov Turns out `git remote add myremote ../somedir` writes `../somedir` as is to the config file and then resolves it relative to the project's root. So following that logic and considering that `cache.dir` from #1284 is a shorthand for an implicit remote, we should indeed resolve `cache.dir` relative to the project's root, as you've mentioned in #1284 Funny enough, when you specify a remote

[2018-12-10 09:05] AratorField opened #1424 "Remote storage management"
Hi,
Is there any option to manage my remote storage?
My team run multiple experiments with multiple repos with multiple branches and everywhere we used the same remote storage.
Now I would like to clean my remote storage bc I need to save memory and throw away some of the useless files. But on remote, I have only md5 as a name of the files without any information about which repo/branch is the 'ow

[2018-12-11 06:20] sunavc opened #1425 "no prompt for keyfile passphrase; unhelpful message not a valid OPENSSH private key file"
Hi,

I have dvc setup with -
dvc version = 0.22.0
Platform = Ubuntu 16.04.5 LTS
Installation method = pip3 install dvc

I have configured a ssh remote and a passphrase protected keyfile. I have verified that I can ssh into the remote machine with the given keyfile. However, `dvc pull` fails with

and doesn't prompt me for a passphrase

Could you enable prompt for passphrase for protected keyfiles?

[2018-12-11 09:16] sunavc commented on #1425
Ok. I tried setting the `ask_password true` and it effectively works. The prompt

is a bit misleading since the ssh key passphrase should be entered.

Also, adding this example to the documentation at https://github.com/iterative/dvc.org/blob/master/static/docs/commands-reference/remote.md#click-for-ssh-available-options will increase awareness.

Thanks!

[2018-12-11 09:48] efiop commented on #1425
Hi @sunavc !

Great point! Edited doc https://github.com/iterative/dvc.org/commit/ee7e7577a2623c8d0f2d6a54b4d3d863cb77d71d to mention that password can be used as a private key passphrase. Will edit password prompt message ASAP too, leaving this issue open until it is done. Thank you for the feedback!

[2018-12-11 12:39] #1425 closed

[2018-12-12 06:27] efiop opened #1429 "gc: optimize for directories with giant numbers of files"
https://github.com/iterative/dvc/issues/1340#issuecomment-443435956

[2018-12-12 06:37] #1168 closed

[2018-12-12 06:37] #1255 closed

[2018-12-12 13:45] efiop commented on #1410
Ok, turns out user should set content-md5 by himself in order for this to work. Also ETag does indeed change when you simply copy blob from one location to another. So we need to require Content-Md5 to be present or to compute and set it ourselves. We can use ETag for dependencies though.

[2018-12-12 16:25] stvogel opened #1430 "push/pull/status/fetch: improve progress bar"
Ubuntu: 18.04
dvc: 0.22.0

I added dvc later to an already existing project like so:
[code]
(where data and model are directories with lots of image-files resp. big ML-models)

I've added a remote S3, commited dvc-files into git and when calling:
`dvc push` dvc hangs at "20% Collecting information"
Calling `dvc push -v` provides lots of
[code]
What's going wrong here?

[2018-12-12 16:44] #1394 closed

[2018-12-12 16:56] efiop commented on #1430
Hi @stvogel !

How long has it been stuck? Looks like it is collecting information about the existing cache. Approximately, how many directories with how many files do you have? If we are talking about directories with millions of files, it might take a while. It is a known(e.g. https://github.com/iterative/dvc/issues/1429) performance limitation caused by the current way we store and process such

[2018-12-12 16:58] stvogel commented on #1430
Ok ... maybe this was a false alarm ... after ... well nearly an hour dvc went on pushing the data to remote s3.
And yes the folder data and models contains > 5 GB of data, so I assume this is worth waiting ;-)

[2018-12-12 17:02] efiop commented on #1430
@stvogel Glad it worked eventually :) Let's keep this open until we at least improve information messages(e.g. might add an additional progress bar or just modify the current one to be more informative).

[2018-12-12 18:13] #1342 closed

[2018-12-12 18:13] #1336 closed

[2018-12-12 18:13] #1357 closed

[2018-12-12 22:19] mroutis opened #1433 "Image is not supported as a dependency"
Version: `0.22.0+f9b30a`

I ran this command:
[code]

Where the dependency is:
[code]

And I got this:
[code]

Is this intended? Why we aren't supporting images as dependencies?

[2018-12-12 23:37] shcheklein commented on #1433
look like it's a URL parser issue - '2018-12-12-13' is considered as a schema (http, https, etc)

[2018-12-13 04:31] efiop commented on #1433
@shcheklein is right, it is a urlparse issue. E.g.
[code]

[2018-12-13 18:51] mroutis commented on #1433
@efiop, what about just adding a `os.path.isfile('2018-12-12-13:32:56.png') ` before parsing it with urlparse? I think comming with our own regular expression would be harder to maintain than a sanity check.

[2018-12-13 19:40] shcheklein commented on #1433
Are there cases when we specify a dependency or an output (file) and it does not exist? In that scenario `os.path.isfile` would fail and dvc will throw a strange exception that dependency is not supported.

[2018-12-13 19:52] mroutis commented on #1433
Probably with `--no-exec`, @shcheklein :
[code]

However, when you try to reproduce it, you'll encounter an error, because there's no way DVC can reproduce a stage without the dependencies.

[2018-12-13 20:09] mroutis opened #1435 "repro: --all-pipelines doesn't do anything."

[2018-12-13 21:14] efiop commented on #1433
Turns out it was actually an issue on our side. Our regex for the local dependency was not smart enough. I will send a patch for this soon.

The `--no-exec` is a good example of that. But we also need to know which remote type to use for specific dependency/output(mind that this issue also affects outputs) beforehand. We should simply not use regex for local ones at all, and instead, use it as a d

[2018-12-14 18:24] efiop opened #1439 "state: save file size"
This is going to help us combat low-resolution timestamp in some filesystems. We could remove sleep() calls from our tests after this is implemented.

[2018-12-16 13:38] TezRomacH opened #1442 "Got doubled data with `dvc add`"
### Information about the environment
[code]
Installed with macOS package to macOS Mojave.

### Bug report
I tried [this tutorial](https://dvc.org/doc/tutorial/define-ml-pipeline) to reproduce and got some error.
During the tutorial, `dvc add` command should not copy cashed data. But as you can see below the total folder size is doubled.
[code]
Reflinks to nodes are different. Maybe it's the case.

[2018-12-16 13:43] TezRomacH commented on #1442
I've checked issue #942 but fix in `0.14.0` seems to be not working

[2018-12-16 14:02] efiop commented on #1442
Hi @TezRomacH !

Your system supports reflinks, so dvc used them to create a link from cache to your workspace. No data duplication has occurred. Unlike hardlink, reflink to a file has different inode, so it is a bit harder to see it working for yourself. Also, `du` utility still counts them as two separate full-blown files, even though there is no duplication on the filesystem level. We should de

[2018-12-16 14:07] TezRomacH commented on #1442
Oh, thanks, now it's clearer!

[2018-12-16 14:07] #1442 closed

[2018-12-17 00:21] ghost opened #1443 "remote: Raise error when trying to use a remote without the needed packages"
For example, running the following command without having `boto3` installed:
[code]

Should raise a meaningful error with instructions to install the missing dependencies.