[2021-11-22 18:47] mdekstrand commented on #6984
That's fair. And the most self-documenting would be to create some kind of 'finalize' script that reports something meaningful but brief, and use that as a command.

Yes, it can (provided that *all* stages are wanted, and not just some of them). Somehow I missed that as a prospective solution.

If you want to close this, it's fine - can make things work with these solutions, and it's only affectin

[2021-11-22 19:38] pared opened #7021 "plots: _collect: why it does not fail on data_source resolution on different branch"
In #6832
We introduced generator for data resolution, to let viewer load the plots files one by one and not strain the memory.
The test provided in https://github.com/iterative/dvc/pull/6832#issuecomment-950841004
Seems to show that if one does not resolve `data_source` before changing the branch (eg from `rev1` to `rev2`), the data resolved later will have a data from `rev2`. This test should fai

[2021-11-22 21:50] dberenbaum commented on #6984
Thanks for the explanation and follow-up, @mdekstrand! I'm going to convert to a discussion and see if others follow up with additional needs or ideas here.

[2021-11-22 21:50] #6984 closed

[2021-11-23 03:00] pmrowla opened #7023 "obj/s3: directory checksum for s3 fails with NotImplementedError"
Reported from multiple users when adding/importing a directory on s3, the issue occurs in both `import-url` and `add --external`. Importing an individual file and `get-url` work normally as expected.

(reported against both `2.8.2 -  s3 (s3fs = 2021.10.1, boto3 = 1.19.7)` and `2.8.3 - s3 (s3fs = 2021.11.0, boto3 = 1.17.106)`

[code]

`add --external`:
[code]

discord context (with full tracebacks)

[2021-11-23 03:05] pmrowla commented on #7023
I was unable to reproduce the issue with a simple test case and the `dvc-temp` bucket, will need to do more investigation into determining what causes the problem

[2021-11-23 03:22] efiop commented on #7023
for the record: From previous reports, it looked like this happens when operating on the whole bucket instead of a particular directory within it.

[2021-11-23 06:46] rbenes opened #7025 "Add parameter glob to freeze"
I wanted to freeze more stages, that had some pattern in their name. I wanted to use `--glob` similarly as can be used e.g. for repro. But I found, that glob is not supported there.

[code]

Is it possible to add it there?

[2021-11-23 07:06] pmrowla commented on #3556
Another user is running into this issue, in the current DVC release the issue here is unrelated to `-f/--force`. The problem is just that `--downstream` does not work when multiple targets are specified.

Given the following pipeline and dag:
[code]
[code]

In 2.8.x, if you try `dvc repro --downstream a b`, DVC will run either `a` or `b` first (but not both), and then immediately try to run the do

[2021-11-23 07:11] pmrowla commented on #3556
I think given the way we now collect stages and pass the full dependency graph in repro, this is a bug regarding `--downstream` behavior.

There is minor expected behavior question in that if I start with a fresh repo and do:
[code]
The command will currently fail when trying to run `c`, since `b` has never been run at all. I think the failure in this case could be considered expected behavior.

B

[2021-11-23 09:45] kwon-young opened #7029 "`dvc exp run` does not work on nfs mounted share"
# Bug Report

## Description

When trying to run an experiment on an nfs mounted share with `core.hardlink_lock = True`, the command fails with:

[code]

### Reproduce

on an nfs mounted share:

1. mkdir test
2. git init .
3. dvc init
4. dvc config core.hardlink_lock true
4. touch a.txt
5. dvc stage add -n cp -d a.txt -o b.txt cp a.txt b.txt
6. dvc repro
7. git add .
8. git commit -m "Initial comm

[2021-11-23 10:51] #7029 closed

[2021-11-23 14:22] casperdcl commented on #5627
idk - if so would that be a separate issue?

[2021-11-23 14:29] mvggz commented on #6992
Hello,
Thank your your response, I can confirm that adding `analytics = false` in the `dvc` config removes the problem!

[2021-11-23 14:39] wdixon opened #7034 "dvc pull: unexpected error - [Errno 22] Bad Request"
# Bug Report

## dvc pull: unexpected error

## Description

I have several dvc resources imported into a project...  The tracking files (.dvc) are committed to the repository utilizing these resources.  When attempting to pull (dvc pull), the associated tracked resources - am getting an error:

An error occurred (400) when calling the HeadObject operation: Bad Request  (relevant log from dvc pull

[2021-11-23 14:46] efiop commented on #7034
@wdixon Hi. Are you using AWS s3 or some s3-compatible storage (like minio)? Does `awscli` work with it?

[2021-11-23 16:01] wdixon commented on #7034
This is an inhouse minio server.

The aws CLI works fine as far as I can tell - running listings/retrievals/etc...

aws s3api head-bucket --endpoint-url https://leb1minio.company.com --profile profile --bucket my-bucket
I don't know the actual command that you would be running that is causing the error?  If you have a suggestion of what should run as a test?

Running DVC import works.

[2021-11-23 16:23] #7014 closed

[2021-11-23 18:06] efiop commented on #7034
@wdixon And could you try `aws s3api head-object` with some object?

[2021-11-23 18:50] wdixon commented on #7034
The head-object seems to work fine?

[code]

[2021-11-23 18:58] wdixon commented on #7034
Is there a way to find out what the object is that is causing the error?

[2021-11-23 19:11] jorgeorpinel opened #7035 "Update some of the help text on metrics/plots"
We need to actually update some of the help text in the core repo, and then to update the command ref. So at least some of it needs to happen from the core team, and then we can see whether it makes sense to have the docs team take over some of it.

_Originally posted by @dberenbaum in https://github.com/iterative/dvc.org/issues/2956#issuecomment-966626613_

[2021-11-23 20:05] efiop commented on #7034
@wdixon Could you try lowering the number of jobs using `--jobs 1` or `--jobs 2`? E.g. let's try

[code]

to narrow it down.

[2021-11-23 23:15] wdixon commented on #7034
running dvc update --jobs 1 didn't change the error.

[code]

[2021-11-24 01:47] efiop commented on #7034
@wdixon What error? Doesn't look like there are any errors in the log (e.g. no more `Bad Request`). The `None` is really suspicious though, but that might be an unrelated bug.

Could you try `dvc pull -j1` ? It will take awhile, but if that works - maybe your server is getting overwhelmed with the requests or something. Btw, how many CPU cores do you have? We use 4*NCPU by default, might be a bit

[2021-11-24 02:42] wdixon commented on #7034
Sorry I had meant to say

 dvc pull --jobs 1

produced the same error that I originally posted….

I am in a Linux vm - only 5 cpus - the minio endpoint is a reasonable size - and I am the only one currently interacting with it…. (Doubt it’s a capacity issue)

I get the same error on a Windows client 12core laptop… a colleague of mine also received the same error attempting access to the same repo

[2021-11-24 03:01] efiop commented on #7034
@wdixon Oh, I see. Yeah, that's definitely a clue! So in the repo you are running `dvc pull` in, you only have `dvc import`ed artifacts? Are you able to clone those artifact's repo and run `dvc pull` there?

[2021-11-24 09:03] gennaro-tedesco opened #7040 "Introduce DVC aliases"
`git` configuration puts at your disposal the possibility to define aliases of the like
[code]
to be used as `git mycommand ...`. It could be convenient to mirror the same behaviour in DVC and allow the user to define aliases for their most common operations: for instance I find myself very often running `dvc list -R --dvc-only .` or `dvc repro --glob /pattern` and I would gladly alias them as, sa

[2021-11-24 11:56] wdixon commented on #7034
Yes - that is correct....  In this particular cases - all of the individually imported dvc artifacts originate in the same git artifacts repository.

Yes - that work just fine...  I just performed
1. git clone <artifacts_repo>
2. dvc pull from within the artifacts repo.

[2021-11-24 12:13] mrkuchkov opened #7041 "DVC SSH REMOTE: for ssh connections that use passwords instead of private keys dvc still tries to read key first"
# Bug Report

## DVC PULL: for ssh connections that use passwords instead of private keys dvc pull still tries to read key first

## Description

For ssh connections that use passwords instead of private keys dvc still tries to read the key file first.
In cases when there's no id_rsa file on the host system, the command fails.
If for some reason dvc cannot read the key file command it fails as wel

[2021-11-24 12:19] pared commented on #7035
Ill try to handle that @jorgeorpinel :)

[2021-11-24 14:23] dberenbaum commented on #7035
Thanks, @pared! Let me know if you want to discuss or have questions.

[2021-11-24 15:59] dberenbaum commented on #6268
Related request: if experiments have been pushed somewhere, it would be useful to be able to see those results without having to pull all the experiments. See https://discord.com/channels/485586884165107732/485596304961962003/913036645186568192 for an example. Several team members may all be pushing experiments, and we want to compare all the results without having to download everything about the

[2021-11-24 22:33] wdixon opened #7045 "dvc import: doesn't add files to the .gitignore"
# Bug Report

## dvc import: doesn't add files to the .gitignore

## Description

While dvc add, modifies the .gitignore file, if you import a dvc resource from a remote repository, you don't preserve the symmetry, and must manually add the imported entry to the .gitignore file.

### Reproduce

1. dvc add resource
.gitignore file is modified with resource

1. dvc import resource
the imported resou

[2021-11-24 23:25] jorgeorpinel commented on #7035
Oops forgot to remove the sentence where you were mentioned @pared 😬 . Thanks though!

[2021-11-25 01:12] pmrowla commented on #6268
It won't be possible to show the results without pulling them (in git), but we could automate it (and skip pulling the DVC cache in this case).

This would also require configuring the default git repo to check for pushed experiments. We could consider defaulting to always check `origin`, but if users are using a pull request workflow, `origin` is probably a personal fork, where the actual check s

[2021-11-25 08:25] karajan1001 commented on #6995
Quite clear,

 * Git opens and reads the working tree directory.  For each file
   or directory that is actually present here, Git checks it
   against the ignore rules.  Some rules match only directories
   and others match both directories and files.  Some rules say
   "do ignore" and some say "do not ignore".

 * The *last* applicable rule wins.

 * If this is a file and the file is ignored, it

[2021-11-25 08:55] mnrozhkov opened #7052 "ERROR: failed to upload 'memory://dvc-staging...."
Got an error on running `dvc repro` command on `extract` stage:

[code]

[2021-11-25 11:47] cbracegirdle opened #7049 "dvc exp list origin: unexpected error - [Errno 111] Connect call failed"
# Bug Report

## Description
I have a simple setup with a git repo and single HDFS dvc remote. DVC is correctly pushing to the remote. However when I try to use dvc exp to list experiments from the git repo, I see a connection error.

### Reproduce

dvc exp list origin

### Expected

List of experiments as shown at https://dvc.org/doc/user-guide/experiment-management/sharing-experiments

### Envir

[2021-11-25 12:37] efiop commented on #7049
@cbracegirdle Hi. Could you try `pip install -U "git+https://github.com/iterative/dvc#egg=dvc[ssh]"` and give it a try? Also, are you able to use CLI git to, for example, clone the origin?

[2021-11-25 12:40] #6975 closed

[2021-11-25 13:36] cbracegirdle commented on #7049
Thanks, that helped and I now see:
[code]

I am using an ssh key with passphrase for git access. I am able to push/pull/clone with `git`.

[2021-11-25 13:43] cbracegirdle commented on #7049
I fixed it by using `ssh-agent`. Thanks for your help!

[2021-11-25 13:43] #7049 closed

[2021-11-25 15:15] smoosbau opened #7051 "Parallel DVC pull for same WebDAV remote can cause http response is not a multistatus response"
Current setup:
Linux machine with DVC and DVC-WEBDAV installed within conda environment (Python 3.9.2) using mamba as suggested.
Remote is a Nextcloud accessed via WebDAV. Nextcloud is running containerized behind a nginx reverse proxy.
In case dvc pull is executed for the same repository more than once in parallel it is possible that downloads fail due to a 'http response is not a multistatus res

[2021-11-25 16:14] shcheklein commented on #7052
Transferred to the DVC core repo for visibility.

@mnrozhkov could you please provide more context? DVC version (`dvc version`), logs (run it with `-v`)

[2021-11-25 17:13] efiop commented on #7049
@cbracegirdle Could you elaborate, please, on how you've fixed it? Trying to see if there is anything we can do here on dvc side to improve.

[2021-11-25 17:35] cbracegirdle commented on #7049
Sure, based on https://askubuntu.com/a/362287

I ran
[code]
then
[code]

[2021-11-25 18:56] Guillaume-oso opened #7053 "dvc push: "ERROR: unexpected error - 'AioClientCreator' object has no attribute '_register_lazy_block_unknown_fips_pseudo_regions' ""
# Bug Report

## Issue name: Cannot push to S3

## Description

Hi,
I get this error:
ERROR: unexpected error - 'AioClientCreator' object has no attribute '_register_lazy_block_unknown_fips_pseudo_regions'

when I try to execute dvc push.

### Reproduce

To reproduce the error, push to S3 after a "dvc repro", with these versions.

I got this error many times on different git repositories.

### Env

[2021-11-25 20:49] efiop commented on #7053
Hi @Guillaume-oso Please run `dvc push -v` and show us full log.

[2021-11-25 20:51] efiop commented on #6336
Looks like it is explained by @pmrowla and we are not getting any new complains, so closing for now

[2021-11-25 20:51] #6336 closed

[2021-11-25 20:52] #6875 closed

[2021-11-25 20:53] efiop commented on #6884
closing as stale

[2021-11-25 20:53] #6884 closed

[2021-11-25 20:53] #6964 closed

[2021-11-25 20:54] #6978 closed

[2021-11-25 20:56] efiop commented on #6965
Would you be so kind to send a PR for docs, please?

[2021-11-25 21:15] Guillaume-oso commented on #7053
(.venv) guillaume@server:~/stress$ dvc push -v
2021-11-25 22:14:35,121 DEBUG: Preparing to transfer data from '.dvc/cache' to 's3://oso-dvc'
2021-11-25 22:14:35,122 DEBUG: Preparing to collect status from 's3://oso-dvc'
2021-11-25 22:14:35,122 DEBUG: Collecting status from 's3://oso-dvc'
2021-11-25 22:14:35,122 DEBUG: Querying 2 hashes via object_exists
2021-11-25 22:14:35,187 ERROR: unexpected er

[2021-11-25 21:17] Guillaume-oso commented on #7053
this is not the same version here, but the error appears for versions:
2.8.4, 2.8.3, 2.7.4, etc

[2021-11-25 21:27] Guillaume-oso commented on #7053
Here is the same command but outside the virtual environment:

guillaume@server:~/stress$ dvc push -v
2021-11-25 22:25:43,244 DEBUG: Preparing to transfer data from '.dvc/cache' to 's3://oso-dvc'
2021-11-25 22:25:43,245 DEBUG: Preparing to collect status from 's3://oso-dvc'
2021-11-25 22:25:43,245 DEBUG: Collecting status from 's3://oso-dvc'
2021-11-25 22:25:43,245 DEBUG: Querying 4 hashes via obj

[2021-11-25 21:30] Guillaume-oso commented on #7053
looks like it comes from boto3 version instead of virtual environment

[2021-11-25 21:36] Guillaume-oso commented on #7053
After few tests, I noticed that push does not work for boto3 versions >=1.20.0

[2021-11-25 21:50] efiop commented on #7051
@skshetry just in case you've seen this before 🙂

[2021-11-26 03:35] karajan1001 commented on #7025
Can we extract the `glob` logic from `repro`, `data_sync`, and `add`? I don't think it is a good solution to implement it separately.

[2021-11-26 04:30] pmrowla commented on #6992
Closing this since it's not really a DVC bug, and we have a workaround

[2021-11-26 04:30] #6992 closed

[2021-11-26 12:09] skshetry commented on #7025
@karajan1001, it is already separated: ;-)
https://github.com/iterative/dvc/blob/34f402659c34e3b958796a83337736f3b3636e13/dvc/repo/stage.py#L242-L251

There are challenges on adding `glob` on the commands that support both stages name/address and output paths, as `glob` may apply to both.

[2021-11-26 12:15] skshetry commented on #7051
Hi, @smoosbau, this does seem like an issue with parallel downloads. Nextcloud and Owncloud do show these behaviours when they are busy.

The response "http response is not a multistatus response" must have come on Propfind request.
Note that `webdav4` already retries 3 times with an exponential backoff.

You may try debugging and see what response the server give, but most likely it is to
do with

[2021-11-26 18:29] PythonFZ opened #7056 "dvc.yaml created on Windows does not work on Linux"
# Bug Report
Creating a `dvc.yaml` file with `dvc run` on windows will use `\` for directory seperation while on linux based systems `/` is required.
This can cause issues, e.g. using `dvc run` on a windows machine and then pushing to GIT and use CI/CML to process.

Example:

[code]

vs.

[code]

DVC is not able to reproduce the stages for at least outs and deps

[code]

### Reproduce

Either crea

[2021-11-26 18:55] PythonFZ commented on #7056
Related to #2059 and #1022
This is also mentioned in code in some way:

https://github.com/iterative/dvc/blob/34f402659c34e3b958796a83337736f3b3636e13/dvc/output.py#L343-L348

Because DVC requires `python_requires = >=3.7` I would highlight that switching to `pathlib` in some places might reduce OS dependent issues like this one.

I would like to help here but this is the first time for me looking

[2021-11-27 00:36] efiop commented on #7056
@PythonFZ Nice research! Indeed, it is a known limitation. We expect posixpaths in relative paths in dvcfiles.

Closing in favor of https://github.com/iterative/dvc/issues/2059

[2021-11-27 00:36] #7056 closed

[2021-11-27 13:13] FatemeKhodayari opened #7107 "Wrong remote URL for webdav backend"
Hi. I'm a beginner to DVC. Yesterday, I set up DVC with a `webdav` backend as said in the official documentation. When I wanted to push to the remote, the URL had `00` added to it. It must have been `https://mydomain/webdav/models` but instead DVC was trying to push to `https://mydomain/webdav/models/00` which is a nonexisting URL.

Any idea why this is happening and how I should solve it?

[2021-11-28 16:43] efiop commented on #6813
@SokolovMichail Any luck so far?

[2021-11-29 06:16] pmrowla opened #7062 "proc: implement process signaling"
`ProcessManager` should implement signaling methods for local processes in the same way as `subprocess` and `multiprocessing`

https://docs.python.org/3/library/subprocess.html#subprocess.Popen.send_signal

- [ ] `send_signal`
- [ ] `terminate`
- [ ] `kill`

Follow up to https://github.com/iterative/dvc/pull/7048
Prerequisite for https://github.com/iterative/dvc/issues/6267

[2021-11-29 06:20] pmrowla opened #7063 "proc: implement cleanup/removal of completed processes"
`ProcessManager` does not automatically remove completed processes from the managed directory (so that exit status and output logs can be retrieved completion). The manager API will still need to support cleaning up these process directories once they are no longer needed.

- [ ] `remove` - note that `remove()` should support forcefully terminating existing running processes
- [ ] `cleanup`

Follo

[2021-11-29 08:02] smoosbau commented on #7051
Hi @skshetry,
seems like you're right. Nextcloud log is full of errors. Don't know why i missed that...
I'll check it and post a solution here, if I can find one. Thanks for the quick response! :)

[2021-11-29 10:29] iesahin commented on #7052
This happens from time to time due to async timeouts or the S3 server not accepting more connections. @isidentical also had these issues when working with `example-dvc-experiments`. A second try might resolve these problems.

This is more likely to be related with too many connections being established to the server, or not keeping their status correctly and not retrying.

[2021-11-29 13:35] mnrozhkov commented on #7052
@shcheklein I can't reproduce the error today! That day I tried to run it a few times and get the same issue.

[code]

[2021-11-29 20:26] SokolovMichail commented on #6813
@efiop, I tried both of the instructions. None worked so far. The issue persists.

[2021-11-29 22:24] FatemeKhodayari opened #7065 "remote: support `digest` auth for WebDAV"
Hi. I'm a beginner to DVC. Yesterday, I set up DVC with a `webdav` backend as said in the official documentation. When I wanted to push to the remote, the URL had `00` added to it. It must have been `https://mydomain/webdav/models` but instead DVC was trying to push to `https://mydomain/webdav/models/00` which is a nonexisting URL.

Any idea why this is happening and how I should solve it?

[2021-11-29 22:28] jorgeorpinel commented on #7065
From the conversation in https://discord.com/channels/485586884165107732/485596304961962003/914048099742253068 it seems it's a compatibility issue. Summary:

What server are you using? owncloud?
- @efiop

Based on apache error log, the problem seems to be with the authentication scheme. The authentication scheme of the webdav server is set to digest while it seems dvc is using basic.
- @FatemeKhod

[2021-11-30 06:07] efiop commented on #6813
@SokolovMichail 😞 Ok, I've contacted your colleague (rs on ods slack) with a link to schedule a meeting for this.

[2021-11-30 13:22] karajan1001 commented on #6446
I'm sorry, I do not quite understand why `live` is a `dl` only thing?

[2021-11-30 15:40] dberenbaum commented on #6446
Two reasons:

1. The stage includes checkpoints.
2. Dvclive was initially created for "live" monitoring of steps during training.

I would consider these to mostly be useful when doing deep learning, although maybe that's my personal bias.

Also, dvclive may become more of a general-purpose logger, in which case it may be useful in any ml scenario.

[2021-12-01 04:47] arq-divjyotsingh commented on #7023
I am facing same error as following , after running `dvc add --external s3://bucket_name/my_folder`

Note : I am trying add particular existing data in  `my_folder` in S3. The folder contains sub-dirs /train, /val, /test

[code]

[2021-12-01 08:05] PythonFZ opened #7068 "`dvc exp show` ERROR: failed to show experiments"
# Bug Report

Can not run `dvc exp show` after KeyboardInterrupt of `dvc exp run --run-all -j 5`.

## Description

I have set up 5 Experiments which I ran in parallel on a cluster via `dvc exp run --run-all -j 5`.
4/5 Jobs have finished and I wanted to look at them so I canceled the command
[code]
I am now unable to run `dvc exp show`

[code]

`dvc exp apply` does work.

### Reproduce

1. Queue mu

[2021-12-01 08:55] pmrowla commented on #7068
This will likely end up being resolved by the process management changes.

@PythonFZ in the meantime, you most likely have a stale exp pidfile from the final job that wasn't completed. You should be able to work around the issue by deleting any files that are present in `.dvc/tmp/exps/run`

[2021-12-01 08:58] PythonFZ commented on #7068
Thanks! That solved the issue and `dvc exp show` does work again.

[2021-12-01 10:03] ANaumann85 opened #7069 "webdav without or empty password"
# Bug Report

## issue with dvc push using webdav without password

I use a webdav configuration of the form
[code]

Please note the non-existing entry "password" in the remote.

Running `dvc push -v -r webdav ` shows an error message with the last lines
[code]

Inserting an empty password field is a simple solution. For backward compatibility, it would be better if one could ommit the field.

[2021-12-01 10:29] iesahin commented on #6446
My 2c:

`--type` may be renamed to `--feature` for a more flexible approach.

[code]

may place nicely together then.

[2021-12-01 11:25] skshetry commented on #6446
@iesahin, `dvc exp init` is targeted more in terms of scenarios rather than features, which we have plenty of in `dvc stage add`.

[2021-12-01 11:34] agrizzli opened #7070 "`dvc exp show`'s table: shifts params values to metrics columns after renaming metrics file"
# Bug Report

`dvc exp show -A` or `dvc show -n N` shows values of params in wrong columns.

## Description

**Phase 1.** I had a simple training stage in `pipelines/example/dvc.yaml` without metrics tracking, but with params tracking.

[code]
**Phase 2.** I ran some experiments and then introduced metrics file `pipelines/example/scores.json`.

[code]

**Phase 3.** I used this stage to run some mo

[2021-12-01 14:42] alextsakpinis opened #7071 "Support of "dvc commit/push" in Python API"
Hello DVC Team,
I was wondering if you plan to implement functions for the Python API to execute `dvc commit` or `dvc push` from Python code? Right now, when I want to execute these commands programmatically, I execute them by running a shell script from the Python code. Is there a better way to call the CLI commands from Python code?

Thanks a lot for your help!

[2021-12-01 15:25] daavoo commented on #7071
You can use the internal `Repo` class (undocumented for now), which pretty much maps to the existing `CLI` commands (with some caveats):

[code]

[2021-12-01 15:56] #7071 closed

[2021-12-01 16:11] pared opened #7073 "plots: introduce option to show `json` result for all plots types"
Related: #6752

We need `--json` option that will basically return what any `dvc plots show/diff` would return but in form of machine-readable file.

For now, it will be a hidden option to be used only by `vscode`. We will see how useful that is and decide whether we should release it to the public.

[2021-12-01 17:04] dberenbaum commented on #5615
@iesahin Can we modify the name of this issue to something more general? I can never find it when I want to 😄 .

[2021-12-01 18:09] dberenbaum commented on #6446
@skshetry Can we go with `dl` or `deep` for now since that's the focus of the scenario? We don't even need to rename the default.

[2021-12-01 19:06] dberenbaum commented on #6268
It's probably more useful to add a view like this in Studio to see experiments, although I know Studio doesn't currently support `dvc exp` features. Cc @shcheklein @tapadipti What do you think?

[2021-12-01 19:35] daavoo commented on #5649
A Discord user reported similar behavior but on GitLab C.I:

https://discord.com/channels/485586884165107732/485596304961962003/915639761530650655 .

[2021-12-01 19:48] shcheklein commented on #6268
It feels that Studio UI is a separate feature to discuss here. It won't replace the need for `dvc exp show` to be able to show what's happening on remote machines unless I'm missing something.

[2021-12-01 19:50] dberenbaum commented on #6446
After discussion, these are being de-prioritized for now since they are not simple changes and are not strictly necessary.

[2021-12-01 20:09] mevatron opened #7076 "Runner friendly progress output"
I am testing out `cml-runner` with Gitlab CI/CD pipelines, and I don't seem to get any of the tqdm progress in the gitlab-runner logs. I only see `dvc pull` until it is complete. I did try `dvc pull -v`, and that does result in lots of output, but filled up the gitlab-runner 4MB default log buffer quite quickly :smile:

My current pipeline setup looks like so:
[code]

Unfortunately, my dataset tak

[2021-12-01 20:46] dberenbaum commented on #5489
Moving the priority of this up since we are promoting the collaborative aspect of experiment versioning.

[2021-12-01 21:49] dberenbaum opened #7078 "render: image: have option to diff images with a slider instead of side by side"
See how tensorboard shows images over multiple steps for an example: https://stackoverflow.com/questions/43763858/change-images-slider-step-in-tensorboard.

It would be great to have an option to view like this instead of loading all image revisions side by side.

[2021-12-02 00:29] alealv commented on #5594
Hi me again!

I've been using DVC for a new repository and I notice that the same dependencies are checked each time they appear on a stage. I would expect this to be checked only once and that it assumes the state hasn't changed for the following stages.

The only important remark is that I've settled `cache: false` to data dependencies.

Here is a dump of the verbose output of `dvc status` and a

[2021-12-02 07:18] diggerdu commented on #1970
@Suor  What do the `add-2` and `add-3` in the table refer to?

[2021-12-02 07:39] #7062 closed

[2021-12-02 09:00] karajan1001 commented on #6051
@aguschin Does it still happen on your computer? I tried on my one can't reproduce it for now.

[![asciicast](https://asciinema.org/a/bV9qCnz5Ckr8eZwTzaAeug2Rd.svg)](https://asciinema.org/a/bV9qCnz5Ckr8eZwTzaAeug2Rd)

[2021-12-02 09:37] daavoo commented on #7076
cc @skshetry

[2021-12-02 10:03] aguschin commented on #6051
@karajan1001, it's because the tag has the higher priority (see @pmrowla answer above). Try to delete tag and then repeat this for few times:
<img width="811" alt="image" src="https://user-images.githubusercontent.com/6797716/144400503-1afe82c0-ffbc-4a42-973f-b718e4fd1493.png">

[2021-12-02 10:06] daavoo opened #7079 "`dvc exp show`: Unify `--include`/`--exclude` and make it work with table columns."
## Current status

There are 4 different flags for filtering metrics and params in the table: `--include-metrics`/`--exclude-metrics`, `--include-params`/`--exclude-params`.

The filtering happens [at collection time](https://github.com/iterative/dvc/blob/7d68863ba21855bb5c238af7e1597e9a3607c0fe/dvc/command/experiments.py#L99).

---

## Current Drawbacks

With the [potential addition of `data`](ht

[2021-12-02 10:20] daavoo opened #7080 "`dvc exp show --html`: Improve experiment-line association."
The current implementation makes the `Experiment` column distracting/useless when there are lots of experiments:

![imagen](https://user-images.githubusercontent.com/12677733/144402494-624a3c3c-5e23-4d3f-ac7c-d308dc536f91.png)

One solution would be to have `on hover` information for each line and display the associated experiment there and drop the `Experiment` column in any case. This is blocked

[2021-12-02 10:26] daavoo opened #7081 "`dvc exp show --html`: Make `--sort-order` invert ticks"
`--sort-by` it's currently used for colorizing the plot generated by `--html` but the `--sort-order` flag it's being ignored.

[2021-12-02 10:38] daavoo opened #7082 "`dvc exp show`: Add mutually exclusive groups."

[2021-12-02 11:11] daavoo opened #7083 "`TabularData`: Add `subset` arg to `dropna`."
Mimicking https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

Would be useful in `exp show --html` to drop rows with NaNs in all metrics and params columns. Currently, `how="all"` does not drop those rows because the `Experiment` column is not NaN.

[2021-12-02 16:02] skshetry commented on #6446
`deep` does not convey enough information, I think. Is `DL` a common abbreviation?

[2021-12-02 16:49] agrizzli opened #7085 "dvc[ssh]>=2.8.2 `dvc exp push origin` unexpected error - argument 0 must be str, not NoneType"
# Bug Report

When using `dvc exp push origin` with dvc[ssh]==2.8.2, dvc[ssh]==2.8.3 or from repo, it results in `unexpected error - argument 0 must be str, not NoneType`. The same happens with `dvc exp list origin`. There is no problem with 2.8.1 at all.

## Description

I have a repo with just few first experiments using `dvc exp run`. Trying to push experiments to git over ssh results in:

[cod

[2021-12-02 16:51] casperdcl commented on #7082
potentially https://docs.python.org/3/library/argparse.html#argument-groups or even better https://docs.python.org/3/library/argparse.html#mutual-exclusion

[2021-12-02 17:32] daavoo commented on #7085
Hi @agrizzli ! Could you check if the problem persists in the pre-release version: https://dvc.org/doc/install/pre-release ?

[2021-12-02 19:16] dberenbaum commented on #6446
Yeah, it's not like ML, but it's fairly common. Google deep learning abbreviation.

[2021-12-03 15:40] dberenbaum opened #7086 "plots: flexible dvc.yaml spec"
YAML doesn't permit dup keys also even if we change that to arrays we will have the issue of duplication and discrepancy, i.e. one template under one key and another one under the second key. So plot names should be unique string, whichever you write in target I suppose and datafile should go as key. We may still use a key if `datafile` is absent, this will simplify a very common one file case. So

[2021-12-03 16:05] dberenbaum commented on #7086
@pared I think it makes sense to implement in reverse order of how it's listed above.

1. Multiple plot specs from the same file:

[code]

Requirements:
* Have a way to define plots spec separate from a stage output.
* Add an optional `data` field to specify file, in which case plot key is used as a title.
* Update plots commands.
* Nice to have: `dvc plots add` command to generate plots.

2. Mult

[2021-12-03 18:02] daavoo opened #7088 "plots: Add constant to handle default output directory."
Better to use a variable for this `dvc_plots`? Keep it synchronize with what in `dvc/command/plots.py`

_Originally posted by @karajan1001 in https://github.com/iterative/dvc/pull/6933#discussion_r750914206_

[2021-12-03 18:51] agrizzli commented on #7085
Yes, the same issue.

Installed using `pip install git+https://github.com/iterative/dvc#egg=dvc[ssh]`

Output of `dvc exp list -v origin` attached.
[dvc_exp_list_origin_pre_release.txt](https://github.com/iterative/dvc/files/7651748/dvc_exp_list_origin_pre_release.txt)

[code]

[2021-12-04 12:33] iesahin commented on #5615
You can update the title to something easier to remember :) @dberenbaum

[2021-12-04 12:36] adhadse opened #7092 "The DVC doc's fonts make it harder to read"
I don't know if this issue should be here or not, or if I am the only one experience this "minor" problem but the font used on docs makes it much harder to read.

I agree it might be keep consistency across the website, but to me the first thing comes is the doc. And **looking at font which is supposed to be used for landing page getting used on docs doesn't make sense**.

Please change it, or giv

[2021-12-04 12:37] adhadse commented on #7092
This issue should not be here...I get it.

[2021-12-04 12:37] #7092 closed

[2021-12-04 19:46] raylutz commented on #6543
We have decided not to use DVC and have implemented our own similar functionality. Thanks for your time.

[2021-12-04 19:47] raylutz commented on #6536
We have decided not to use DVC and have implemented our own similar functionality. Thanks for your time.

[2021-12-04 19:47] raylutz commented on #6533
We have decided not to use DVC and have implemented our own similar functionality. Thanks for your time.

[2021-12-05 06:02] efiop commented on #6536
Closing in favor of #4410

[2021-12-05 06:02] #6536 closed

[2021-12-05 06:18] efiop opened #7093 "Release 3.0"
[code]

[code]

[code]

## Other [release blockers](https://github.com/iterative/dvc/issues?q=is%3Aopen+is%3Aissue+label%3Arelease-blocker)

- [x] https://github.com/iterative/dvc/issues/9530
- [x] https://github.com/iterative/dvc/issues/9541
- [x] https://github.com/iterative/dvc/issues/9584

### Studio Readiness for 3.0 release
- [ ] https://github.com/iterative/studio/issues/5944

[2021-12-05 06:35] efiop commented on #6533
Please note that using direct s3 paths as outputs/dependencies is an experimental scenario https://dvc.org/doc/user-guide/managing-external-data that has many considerations. We will be developing it properly in the future https://github.com/iterative/dvc/issues/3920

That being said, the bug here should be fixed, as it results in unnecessary `unprotect` calls for local uncached outputs as well.

[2021-12-05 12:19] efiop commented on #6543
DAG collection will be simplified in 3.0, closing in favor of https://github.com/iterative/dvc/issues/7093

[2021-12-05 12:19] #6543 closed

[2021-12-06 06:19] pmrowla commented on #7085
@agrizzli can you show the output for
[code]

[2021-12-06 06:25] #7063 closed

[2021-12-06 07:33] efiop commented on #6562
@dberenbaum Just to confirm, you meant that we would need a dvc.yaml option for each such output, right? Similar to what is implemented in https://github.com/iterative/dvc/pull/7072  by @rgferrari ?

[2021-12-06 07:55] #6911 closed

[2021-12-06 08:00] agrizzli commented on #7085
[code]

`gitlabfw` is set up via `.ssh/config` on localhost

[code]

[2021-12-06 08:37] pmrowla commented on #7085
@agrizzli can you try installing the following (in the same venv where you already have upstream DVC) and see if it resolves the issue:

[code]

[2021-12-06 10:14] agrizzli commented on #7085
Yes, it does. I did the following steps:

[code]
I had explicitly to uninstall `scmrepo` after using the latest DVC version from git, otherways `scmrepo` it was not working, although `scmrepo` was already present in the same version `0.0.2` after DVC installation. DVC doctor says:

[code]

[code]

The output of `dvc exp list origin` is now as expected:

[code]

As well as the procedure  of  `dvc e

[2021-12-06 10:15] #7085 closed

[2021-12-06 11:13] gro1m opened #7096 "pygit2 breaks our builds suddenly"
# Bug Report

## pip install dvc==2.8.* (uses version 2.8.3): pygit2 leads to install error

## Description

[code]

### Reproduce

1. Ubuntu20.04 docker image with Miniconda 4.9.2 installed
2. pip install dvc==2.8.3

### Expected

No build error

### Environment information

Ubuntu: 20.04

Additional steps:
[code]

**Output of `dvc doctor`:**

Not Applicable

**Additional Information (if any):**

[2021-12-06 11:16] gro1m commented on #7096
@nueschs Could you look over this to see if I missed out something or could be clearer about something?

[2021-12-06 11:24] efiop commented on #7096
@gro1m pygit2 released a new version a few hours before, but the wheels got released 15-30 minutes after that. You could use `--prefer-binary` with `pip install` to avoid this situation. You could also use one of our binary packages (snap, brew, dep, rpm, exe, etc) that come with everything inside. There is nothing else we can do on dvc side, unfortunately. 🙁

[2021-12-06 11:24] #7096 closed

[2021-12-06 13:10] gro1m commented on #7096
@efiop Thanks for the information.
The only possibilites I see are with regards to semantic versioning:
In principle it should be possible to constrain packages to patch version or minor versions, as these changes should not be breaking, but there should almost never be a major version update drawn in inside a patch version. I see a lot of '>=' in your setup.cfg, which would also allow major versi

[2021-12-06 13:47] skshetry commented on #6446
@dberenbaum, with `--dl`, I don't think `dl` as a default stage name makes sense. Maybe we should go with `train` then?

[2021-12-06 13:54] efiop commented on #7096
@gro1m pygit2 didn't introduce any breaking changes, it is simply the way how pypi wheel releases happen - they always come after a slight (up to hour) delay after source packages.

If stability is imporant for you, you might want to freeze your enviroment along with all dep versions to avoid this situation completely with any dependencies (not even dvc ones). Or if dvc is the only concern - you c

[2021-12-06 15:07] ryanmjacobs commented on #7053
I was also unable to push, but running `pip install boto==1.19.12` did the trick. Works fine for me now.

Exact same error: ` ERROR: unexpected error - 'AioClientCreator' object has no attribute '_register_lazy_block_unknown_fips_pseudo_regions'`

[2021-12-06 16:50] dberenbaum commented on #6562
Yes, this was a mistake by me. I was thinking of a `dvc.yaml` option since it seems more useful to permanently specify the behavior than have to include the option every time you reproduce the pipeline.

[2021-12-06 18:09] gro1m opened #7100 "DefaultAzureCredential not working with Managed Identity (aka "Service Principal")"
# Bug Report

##  `dvc pull: DefaultAzureCredential failed to retrieve a token from the included credentials.`

## Description

ERROR: unexpected error - DefaultAzureCredential failed to retrieve a token from the included credentials.
Attempted credentials:
	AzureCliCredential: strptime() argument 1 must be str, not None

Please see https://github.com/Azure/azure-cli/issues/20628, I think could be

[2021-12-06 20:54] dberenbaum opened #7102 "exp init: change stage name to `train`"
@dberenbaum, with `--dl`, I don't think `dl` as a default stage name makes sense. Maybe we should go with `train` then?

_Originally posted by @skshetry in https://github.com/iterative/dvc/issues/6446#issuecomment-986792458_

[2021-12-07 01:49] #7102 closed

[2021-12-07 03:00] jorgeorpinel commented on #7065
Another recap from the user in https://github.com/iterative/dvc.org/issues/3044#issuecomment-982666435. This issue is stuck "being transferred" by GH though, may want to close and re-open.

[2021-12-07 03:34] #7065 closed

[2021-12-07 03:35] skshetry commented on #7065
Closing as duplicate, see #7107.

[2021-12-07 06:33] pmrowla commented on #6813
@SokolovMichail @efiop

I'm unable to reproduce the issue - using the hostname and port we were provided after the discussion, I can connect to the host directly using `asyncssh`, `sshfs`, DVC's `fs.ssh.SSHFileSystem`, and using `status -c` from a test DVC repo with SSH remote configured to use `/home/dvc` on the provided remote host.

I tested using the current DVC pip release (`2.8.3`) on both m

[2021-12-07 07:02] efiop commented on #6813
Thanks for the research @pmrowla ! 🙏

One more thing for the record: during our meeting @pmrowla established that asyncssh (first script above) works fine, while dvc has problems, so it is likely that the issue is in https://github.com/fsspec/sshfs , but unfortunately we are still not able to reproduce on our side yet 🙁

[2021-12-07 11:30] gro1m commented on #7100
Fixed with the latest Azure CLI version (released today): 2.31.0.

[2021-12-07 12:43] karajan1001 commented on #6051
The current status for this after the next `scmrepo` version is that if one of the branch names is active it will get priority, but if we are using `exp show -A` for some other branches, it will still toggling randomly

[2021-12-07 13:16] dberenbaum commented on #6446
What's the status @skshetry?

[2021-12-07 13:17] #6765 closed

[2021-12-07 19:23] jorgeorpinel opened #7109 "`exp init`: create DVC repo if needed?"
Shuold `dvc exp init` include `git init` and/or `dvc init` (if needed) so it's really a single command to onboard projects to DVC Exps?

[2021-12-07 19:25] jorgeorpinel opened #7110 "`exp run`: remove `--no-commit` option?"
UPDATE: jump to https://github.com/iterative/dvc/issues/7110#issuecomment-988406787

Doing `dvc exp run --no-commit` seems pretty dangerous since it makes the experiment not reproducible. In `dvc run/repro --no-commit`, the user controls when the commit happens, so they can still make sure to `dvc commit` before doing git commit, but there's no (easy) way to update the experiment ref with the comm

[2021-12-07 19:46] wdixon commented on #7034
Just checking back to understand if you had any further thoughts on how to proceed?

[2021-12-07 19:54] efiop commented on #7034
@wdixon Hard to say what specifically is wrong in your case. You could try narrowing it down by trying to use https://github.com/fsspec/s3fs/ directly and going from there. We use s3fs internally, so if it works - it means that there is a problem on our side.

[2021-12-07 20:07] daavoo commented on #7109
The `dvc init` part is currently being tracked as bullet point in https://github.com/iterative/dvc/issues/6446

[2021-12-07 20:14] daavoo commented on #7110
I think that `--no-commit` doesn't really do anything in `exp run`.

It still makes sense to remove it from the CLI but just wanted to point it out.

[2021-12-07 20:53] jorgeorpinel commented on #6446
I think `exp init` could even do both `git/dvc init` if needed (https://github.com/iterative/dvc/issues/7109). But definitely at least the latter 👍

[2021-12-07 20:53] jorgeorpinel commented on #7109
Thanks. Closed in favor of https://github.com/iterative/dvc/issues/6446#issuecomment-988256123.

[2021-12-07 20:53] #7109 closed

[2021-12-07 20:57] dberenbaum commented on #7110
So dvc still caches the data even if `--no-commit` option is used? cc @pmrowla

[2021-12-07 21:04] wdixon commented on #7034
Not entirely sure what you are asking me to do?  I don't have any visibility into what requested resource is failing?  It seems to be attempting to perform a head operation on some file that it is expecting to be there - but what file is that?  Is there additional logging that can be turned on to show this?

The command used already already had the -vvv flag
[code]

If I knew what resource was att

[2021-12-07 21:45] jorgeorpinel commented on #6446
Also, I noticed `params.yaml` is the only required part of the default project structure. Should `exp init` create an empty one (with some comment on top perhaps) if it's not there? Otherwise it fails.

[2021-12-08 01:23] pmrowla commented on #7110
`--no-commit` has no effect in `exp run`, by definition, in order for DVC to be saving an experiment so it can be accessed later, the data has to be cached

This is already mentioned in the command reference in the docs (https://dvc.org/doc/command-reference/exp/run#options)

[2021-12-08 02:58] jorgeorpinel commented on #7110
Thanks for confirming, so should it be removed? Throw s "bad argument" error. Currently it's accepted (always ignored).

p.s. that note is probably wrong? Not all other options from repro work for exp run. I thought you had looked into this before, right @iesahin ? Thanks

[2021-12-08 03:19] pmrowla commented on #7110
Yes, there's already a separate issue for that https://github.com/iterative/dvc/issues/6791

[2021-12-08 03:32] skshetry commented on #6051
@karajan1001 @pmrowla, please make a release if you need it, or let me know.

[2021-12-08 08:57] skshetry commented on #7073
Since this is supposed to be hidden, should we name this flag to be `--json` at all?

[2021-12-08 11:12] pared commented on #7073
I think that the main point of hiding it is that as of today we are not sure how to handle the images and don't want to encourage users to utilize it. But if someone really wants to use that they will have no problem finding it, or asking us what the option name is. I don't think it makes too much difference if we will rename it, unless the option indicates that we are not encouraging to use it. S

[2021-12-08 11:36] iesahin commented on #7110
Yep, I've checked it and even forgot that I've checked it. :) Thanks @pmrowla.

[2021-12-08 12:50] guludo opened #7115 "`fs/ssh`: allow prompting for password/passphrase when necessary"
Currently, the option `ask_password` for SSh remotes only allows values `true` and `false`. This is a proposal of a third value: `if_nedeed`, which makes `dvc` prompt for password/passphrase if necessary. This is useful for cases when the user is using a private key for authentication: the private key passphrase would be prompted for only if it is encrypted.

For background on the discussion on Di

[2021-12-08 17:06] wdixon commented on #7034
Also - what is different between a pull from the repo and a pull from an imported repo?  That seems to be some difference where its the imported resources that produce the error?

[2021-12-08 18:07] efiop commented on #7034
@wdixon If you could try, say, `dvc pull _rev/_revision_20200910-162354-0254-0.542.hdf5.dvc` or `dvc pull tests/data/ModelB/FSE/Project/Cyclops.dvc` to narrow down what specifically is failing, then open that .dvc file to get md5 for the artifact and inspect closer resulting resource url.

[2021-12-08 20:43] dberenbaum opened #7116 "exp init: enable to configure options to false"
It would be useful to support `dvc config exp.[some_option] false`, in which case that part of the stage is skipped by default. For example, if I set `dvc config exp.params false`, then by default `dvc exp init` will skip parameters in the stage it creates.

[2021-12-08 20:44] dberenbaum commented on #7116
Subtask of https://github.com/iterative/dvc/issues/6446

[2021-12-08 22:07] jduprey commented on #6816
Thank you for your prompt reply.  I'm sorry mine was not so much.  Yes.  That did the trick.  Should dvc changes its dependency spec such that it its min version is after the s3fs bug?

[2021-12-09 00:30] jorgeorpinel commented on #6791
I unchecked this since the option is still shown and accepted (2.8.1).

Didn't double check any other ones.

[2021-12-09 00:30] jorgeorpinel commented on #7110
Ahh OK closing this in favor of https://github.com/iterative/dvc/issues/6791#issuecomment-989338651 then. Thanks

[2021-12-09 00:30] #7110 closed

[2021-12-09 08:12] efiop commented on #6816
@jduprey We already require a newer one, you just didn't install dvc with s3 extra. We might consider some additional internal checks for this in the future.

[2021-12-09 11:16] Guillaume-oso commented on #7053
an other precision:
does not work for boto3 versions > 1.19.12 only if coupled with s3fs==2021.11.0

works again if s3fs==2021.11.1

[2021-12-09 11:57] #7053 closed

[2021-12-09 11:58] efiop commented on #7053
@Guillaume-oso Thanks for the research! Bumped s3fs requirements in upstream, 2.9.2 should come out with it fixed.

[2021-12-09 17:26] endremborza opened #7118 "stage add: StageExternalOutputsError on symlinked cache"
# Bug Report

## Description

`os.path.realpath` resolves a symlink here: https://github.com/iterative/dvc/blob/82c5caee27d4b5591d4ab0b07fd1a73064ba8bff/dvc/output.py#L393 so if you want to add a stage where the output is already present but is cached it will think that it is external.

### Reproduce

1. dvc init
2. dvc config cache.dir /some/external/dir
3. dvc config cache.type  symlink
4. run a

[2021-12-09 20:51] nikshar-symbio opened #7120 "DVC list FileNotFoundError"
# Bug Report

## `dvc list . : gives "ERROR: unexpected error"`

## Description
When trying to list the files using `dvc list .`, I get the following error
[code]

I've tried updating to the latest `dvc` version, and tried this using a fresh clone of the git repo, but the error still exists.

### Reproduce

The git repo is private and I can't really share the contents, but I basically do a `git cl

[2021-12-10 13:55] gitdoluquita opened #7122 "Support .cfg extension in parameters files"
Hey there folks!

I'm using DVC for a Spacy project and, since v3 of Spacy, all the params of the model are stored in a `config.cfg` file, as explained [here](https://spacy.io/usage/training#config) and [here](https://spacy.io/api/cli#train).
I thought that would be nice to use the `config.cfg` as a parameters file, the same way as we can use a `.toml` or `.yaml`. Example:
[code]

This maybe would

[2021-12-10 14:32] skshetry commented on #7122
@gitdoluquita, does `.cfg` files in spacy have spacy-related interpolations? We did get a few requests before for supporting `ini` files, but we usually recommend to use `yaml`/`json`/`toml` files.

Anyway, please feel free to propose a PR. You may need to look at how we handle serialization/deserialization. As an example, you can see [`toml`](https://github.com/iterative/dvc/blob/81eda7e2b719af72

[2021-12-10 17:43] daavoo commented on #6051
Is there anything else possible to improve or could we close this?

[2021-12-10 17:47] pared opened #7124 "windows: unable to install after 2.8.1"
Related discussion: https://discord.com/channels/485586884165107732/485596304961962003/918877513478967346

User tried to update `dvc` with `choco`. And got the error:

`LookupError: setuptools-scm was unable to detect version for 'C:\\ProgramData\\chocolatey\\lib\\dvc\\tools\\dvc-2.9.1'.`

Seems like this happens to any release after `2.8.1` which might suggest that introducing `setuptools-scm` ha

[2021-12-10 17:49] daavoo commented on #6836
@skshetry Is there something missing for closing this?

[2021-12-10 18:03] efiop commented on #6836
@daavoo waiting for the tests to be removed from dvc.

[2021-12-10 20:42] dberenbaum commented on #6446
@jorgeorpinel See my response in https://github.com/iterative/dvc.org/pull/3071#discussion_r766966189.

[2021-12-10 23:31] gitdoluquita commented on #7122
Thank you @skshetry

From what I know Spacy doesn't write anything in this config.cfg file. However interpolation (like variables) is possible inside of the file itself. I don't know if this could be a problem, I don't think so 🤔.

A point in [Spacy documentation](https://spacy.io/usage/training#config) makes me believe that having this file compatible with DVC params is a good Idea, specially thi

[2021-12-10 23:32] pared commented on #7124
So `setuptools_scm` requires some metadata that archives provided by github simply don't have and any installation from archive file will be unsuccessful, windows was first to be detected because we base our choco build on `zip` archive:
https://github.com/iterative/chocolatey-dvc/blob/f10e6e2ab2f0fe6f2465776e28b0056c4aa9a3f0/tools/chocolateyinstall.ps1#L4

Luckily we can fix that with:
https://py

[2021-12-11 03:00] jorgeorpinel commented on #6446
What about generating a dvc.yaml without `params` if there's no params.yaml file?

[2021-12-11 03:00] shcheklein opened #7126 "exp: properly handle failed to execute experiments"
# Bug Report

## Description

It's easy to queue multiple experiments that then would conflict with already existing. Usually happens if you run it with the same set of params. It's extremely easy to make this mistake when you use tool extensively.

After that it breaks the background queue mode. It won't run conflicting ones, completes regular ones, but will fail to clean the queue (even for thos

[2021-12-11 03:09] shcheklein commented on #7126
This behavior means that as I keep running new experiments queue is growing with failed experiments. There is no easy way to see which will be failing w/o running it first. It completely breaks the workflow. The only way is to cleanup all queued exps with  `dvc exp remove --queue`

[2021-12-11 03:10] shcheklein opened #7127 "exp run: rename `--run-all` to `--all`"
Command:

`dvc exp run --run-all`

looks weird, what was the reason to not name it

`dvc exp run --all`

or even:

`dvc exp run --queue` to be consistent with `remove` and `gc`?

[2021-12-11 03:13] shcheklein opened #7128 "exp show: alternate background colors slightly to make navigation easier"
It would be way easier to navigate in the table if we had different background for items nearby, e.g. VSCode:

<img width="1051" alt="Screen Shot 2021-12-10 at 7 12 51 PM" src="https://user-images.githubusercontent.com/3659196/145661852-9a4dfd12-1690-487f-9f9e-4996e6ac0f88.png">

[2021-12-11 03:49] #7124 closed

[2021-12-11 19:45] pared opened #7129 "diskcache: timeouts on large dataset"
Original discussion with user: https://discord.com/channels/485586884165107732/485596304961962003/918535356377346089

Problem:
When adding dataset of ~200k files, the user experiences timeout error coming from our state:
[code]

It seems that the reason for that is that one of the threads could not access the state cache in time. Reducing the number of `checksum_jobs` to 1 helped, though the execu

[2021-12-11 20:24] efiop commented on #7129
Related https://github.com/iterative/dvc-bench/issues/306

[2021-12-12 22:54] dmpetrov opened #7130 "exp init experience"
[code]

[code]

- [x] Why is it `unexpected` error? It should be like “ERROR: hyperparameters file ‘params.yaml’ is missing”.  🤔  Why `dvc exp init` does not create it if it is required?
- [x] Do we really need [Errno 2]? In what cases the code helps users? This makes the message longer and breaks human readability.

[code]
- [x] full path. It is supposed to be relative. Why: 1) to make it short -

[2021-12-13 03:31] pmrowla commented on #5489
See https://github.com/iterative/dvc/pull/7131#pullrequestreview-829717037 regarding potentially splitting this issue into separate tasks/steps

[2021-12-13 06:21] pmrowla commented on #7127
Essentially both `exp run --run-all` and `exp run --queue` haven't been touched since the entire exp feature was experimental (before any release), and they both predate the current iterations of `exp remove` and `exp gc`.

I think the `--queue/--run-all` flags should eventually just go away entirely in favor of a proper solution for https://github.com/iterative/dvc/issues/5615

[2021-12-13 06:26] pmrowla commented on #6051
There are still potential improvements like

The main issue being that collecting all aliases (and sorting them either alphabetically or by timestamp) will come at a potential cost to performance (especially in repo with lots of refs and/or exps).

[2021-12-13 06:33] pmrowla commented on #6446
related: https://github.com/iterative/dvc/issues/7130

[2021-12-13 06:44] pmrowla commented on #7126
So this is also related to `--queue/--run-all` being mostly experimental and not an actual solution to https://github.com/iterative/dvc/issues/5615.

The original reason for keeping the failed experiments in the queue is that currently if we remove them automatically, there will be no indication (in the `exp show` table) afterwards that we attempted to run that experiment at all (and that the run

[2021-12-13 08:44] karajan1001 commented on #5489
According to https://github.com/iterative/dvc/pull/7131#pullrequestreview-829717037
Split this into four steps.
[ ]  add --rev and updated -n=-1 behavior to exp show
[ ] add the new flags (including -A/--all-commits, -a/--all-branches, --all-tags) to exp list
[ ] make all the flags above to support `pull/push`
[ ] make all the flags above to support `remove`

[2021-12-13 10:35] karajan1001 commented on #6051
In `.git/refs/heads` we can get the last modified time of each reference, and that gives an order of them. We  can choose the oldest reference. And In this case, the `describe` result will be stable if we lately create new branches on the current revision.

But all of these involve new features on the backend side, or maybe we can implement them in `scmrepo`?

[2021-12-13 12:51] pmrowla commented on #6051
This doesn't work if the refs are packed

This would all have to be implemented in scmrepo (and it would likely need to be added in each backend's `_describe`)

[2021-12-13 13:56] gennaro-tedesco opened #7133 "list metrics files only"
With `dvc list -R --dvc-only .` one can obtain all dvc-committed files in the current working directory. It could be useful to introduce a similar command that helps differentiating files from metrics (and more generally outputs or dependencies): this is because very often - when having many different metrics files - you want to list only one type and have a quick look at this metrics only.

At th

[2021-12-13 14:40] pared commented on #7133
Original discussion:
https://discord.com/channels/485586884165107732/485596304961962003/919899944213680129

So the `list` itself is defined in `dvc/command/ls/__init__.py`. Is that what you looked for? If you have more questions feel free to ping me :)

[2021-12-13 14:59] iesahin opened #7136 "stage: Rename some commands as stage subcommands."
I'm sure this idea has mentioned in several different places but I couldn't find an issue that collects all stage related commands under `dvc stage`

The following commands may be renamed:

- ˋdvc freezeˋ to `dvc stage freeze`
- `dvc unfreeze` to `dvc stage unfreeze`
- `dvc remove` can be split into `dvc stage remove` and `dvc data remove`
- `dvc dag` to `dvc stage dag` or `dvc stage graph`
- `dvc

[2021-12-13 15:09] daavoo commented on #7133
Do you want to do this directly from CLI or would you be able to use Python??

There is the internal `Repo` API (not documented yet) with an `index` object (defined in https://github.com/iterative/dvc/blob/master/dvc/repo/index.py) that can give you access to pretty much everything tracked:

[code]

[2021-12-13 15:10] skshetry commented on #7136
To be honest, I haven't been a fan of subcommands, as it takes too much effort to type. Reading through https://clig.dev/#subcommands, it does seem to encourage subcommands for complex software (which is not very clear here):

[2021-12-13 15:17] gennaro-tedesco commented on #7133
Ideally from command line, since these are part of other shell functions. Do I understand correctly that one may just expose the internal `Repo` API `from dvc.api import Repo` in [here](https://github.com/iterative/dvc/blob/602713e57bf846a7aeede7c5b337d35d1e55e57f/dvc/repo/ls.py#L49)?

[2021-12-13 15:18] daavoo commented on #7136
I think it makes sense to split commands that can be currently used for different things (`dvc remove can be split into dvc stage remove and dvc data remove`).

For others where there is a single purpose (i.e. `dvc freeze` / `dvc unfreeze`) I have no strong opinion about moving to subcommand or not.

This one doesn't make much sense to me.

[2021-12-13 15:22] iesahin commented on #6791
Those checkmarks show that I've checked them by running the command. :) @jorgeorpinel

[2021-12-13 15:22] daavoo commented on #7133
Yes. All DVC commands are pretty much a wrapper of `Repo` API calls with some additions like return codes and, in some cases, some custom logic after the `Repo` API call.

[2021-12-13 15:52] skshetry commented on #7133
@daavoo @gennaro-tedesco, note that `Repo` is not a part of `dvc.api`, which is an official/public API of DVC. `Repo` is an internal API and can be imported as:

[code]

[2021-12-13 16:03] daavoo commented on #7133
@skshetry It is actually the same, right?:

[code]

[2021-12-13 16:08] skshetry commented on #7133
@daavoo, yes but `dvc.repo.Repo` is a canonical path for it. Mentioning it as `dvc.api.Repo` makes it sound like it's a part of `dvc.api` which it is not. It is a side-effect of an import in `dvc.api` due to Python's implicit exports.

[2021-12-13 16:12] dberenbaum commented on #5489
Sorry, @karajan1001. I should have clarified requirements here.

The discussion in #7131 seems similar to the `exp remove` discussion in #6394. Can we take the same approach here, where we only add `--all` for now?

[2021-12-13 18:23] dberenbaum opened #7137 "`exp init`: clean up error messages"
From #7130:

[code]

[code]

* [x]  Why is it `unexpected` error? It should be like “ERROR: hyperparameters file ‘params.yaml’ is missing”.    ~~🤔  Why `dvc exp init` does not create it if it is required?~~

* [x]  Do we really need [Errno 2]? In what cases the code helps users? This makes the message longer and breaks human readability.

[code]

* [x]  full path. It is supposed to be relative. Wh

[2021-12-13 18:31] dberenbaum opened #7138 "`exp init`: handling of nonexistent files"
From #7130:

[code]

[code]

* [ ]  ~~Why is it `unexpected` error? It should be like “ERROR: hyperparameters file ‘params.yaml’ is missing~~”.    🤔  Why `dvc exp init` does not create it if it is required?

* [ ]  ~~Do we really need [Errno 2]? In what cases the code helps users? This makes the message longer and breaks human readability.~~

[code]

* [ ]  ~~full path. It is supposed to be relati

[2021-12-13 18:43] dberenbaum opened #7139 "`exp init`: more verbose output in non-interactive mode"
Related to #7130. `dvc exp init -i` has verbose output to help guide the user. Non-interactive mode should have the same. A `-q` option can be added for experienced users to hide this output.

Current `dvc exp init -i` output:

[code]

Current `dvc exp init` output:

[code]

Proposed `dvc exp init` output:

[code]

[2021-12-13 18:45] dberenbaum commented on #7130
@dmpetrov I broke this up into 3 related issues mentioned above to make it more manageable to take action on these. Please add anything missed from those, and we can continue discussion there. 🙏

[2021-12-13 18:46] pared commented on #7120
@nikshar-symbio Hi!
I tried to analyze this use case but was unable to so far.
Would it be possible to provide the rest of the `dvc list -v .` log?

[2021-12-13 18:52] nikshar-symbio commented on #7120
Thanks @pared
Here's the full log
[code]

[2021-12-13 18:57] pared commented on #7118
@endremborza good catch! Does it break some use case? How did you stumble upon it?

[2021-12-13 18:58] dberenbaum commented on #7139
From #7130:

It looks like today the only supported flow is — interactive. The default `dvc init` has multiple assumptions about the project structure and it is not clear how a user should know about the assumptions.

Fair point @dmpetrov. Making the output consistent between them can make non-interactive mode more like `dvc exp init -i`.

[2021-12-13 19:02] #6442 closed

[2021-12-13 19:07] pared commented on #7120
Hmm, that does not help too much. @nikshar-symbio would you be open for a video call to debug it?
Feel free to ping me at pawel@iterative.ai

[2021-12-13 19:10] dberenbaum opened #7140 "`exp init`: handling non-existent params file"
From https://github.com/iterative/dvc.org/pull/3071#discussion_r766966189:

See also #7130.

[2021-12-13 19:21] #7140 closed

[2021-12-13 19:24] dberenbaum commented on #7138
This is complicated by the particular behavior of `params`, which behaves differently from other dependencies. Copying from https://github.com/iterative/dvc.org/pull/3071#discussion_r766966189:

[2021-12-13 20:03] dberenbaum commented on #7138
Even ignoring the issues with `params`, creating empty files and directories might not be that useful:

* Dependencies aren't really helpful to create without meaningful content in them. An empty `data` directory or a `src` directory without code doesn't provide much help beyond the existing command output (assuming that output is also shown in non-interactive mode, see #7139).
* Outputs aren't us

[2021-12-13 20:56] dmpetrov commented on #7139
There is a rule on https://clig.dev/#output - `Display output on success, but keep it brief.` It feels like these are not needed in the output if we follow the rule.

Two issues are here:

1. Do we need the content of dvc.yaml in the output?
[code]

2. Do we need links in the output? (Especially as a single line)
[code]

[2021-12-13 21:28] dberenbaum commented on #7139
I think @skshetry would agree, which explains why there is so little output in non-interactive mode now. I suggested more verbose output since this command is tailored to users with no prior dvc knowledge.

No. It can be an intro to dvc stage syntax, but it's not necessary. We also don't need to show it or prompt for confirmation in `dvc exp init -i`.

No. Again, I/we opted for more verbose output

[2021-12-13 21:30] dberenbaum commented on #7139
One thought on this: having quasi-unix style makes sense for dvc. In this case, I'm not so sure since the intended audience is less likely to be people familiar with that style.

[2021-12-13 23:54] dmpetrov commented on #7093
That's a great summary of the coming changes. I'd appreciate it if some of the items could be clarified.

Should we introduce similar for `metrics`, `plots`?

It would be helpful if you could clarify this.

Where does this requirement come from? How users will generate png files from our templates in CI/CD?

[2021-12-14 00:46] karajan1001 commented on #5489
of course, it was scheduled in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534.
My original PR had already unified `pull`, `push` and `ls` now we need to extend this to `remove` and unify `show`. And how about `gc` it shares the same arguments but the meaning of them is quite different ( means leave the select ones unchanged while all of the other commands means only act on tho

[2021-12-14 01:55] jorgeorpinel opened #7143 "`exp init`: unclear need for `--explicit` flag"
# ~~Bug~~ Report

UPDATE: Jump to https://github.com/iterative/dvc/issues/7143#issuecomment-994122075

## Description

Tool crashes.

### Reproduce

[code]

### Expected

### Environment information

[code]

**Additional Information (if any):**

It's unclear how to use `--explicit` in general. Does it require `--interactive`?

[2021-12-14 01:59] skshetry commented on #7143
@jorgeorpinel, could you please upgrade to the latest version?

[2021-12-14 02:00] jorgeorpinel commented on #7143
I did. This is the latest version from `pip`.

[2021-12-14 02:04] jorgeorpinel commented on #7143
Can we use this opportunity to clarify this? I don't see information in the wiki, for example. I'd like to explain it properly in https://github.com/iterative/dvc.org/pull/3071. Thanks

[2021-12-14 02:21] skshetry commented on #7143
@jorgeorpinel, latest version is 2.9.2, you have posted version info about 2.8.1.

[2021-12-14 07:25] karajan1001 opened #7145 "CI: `mypy` error while commit"
# Bug Report

## Description

While committing changes on `dvc`, during the mypy check it errored out
[code]

Deleting the `.mypy_cache` will temporarily solve it, but it appeared again sometime later.

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2021-12-14 07:58] pmrowla commented on #7145
This is not happening in CI though, right? It looks like it's a local dev environment issue?

[2021-12-14 08:36] skshetry commented on #7145
This has happened to me a lot, this is one of the reason why I moved to nox on other projects.

If I remember correctly, I was using mypy command line tool and pre-commit mypy, which was causing issues with cache, but I never investigated and deleted the cache as you have done.

[2021-12-14 09:56] endremborza commented on #7118
I am working on a tool that manages pipelines that use dvc and it updates stages in dvc pipelines based on parts of the code. currently, this breaks with symlinked cache.

[2021-12-14 11:32] Suor opened #7147 "Can't use `repo.metrics.show()` when have a long current dir"
This call combined with asserts prevents it:

https://github.com/iterative/dvc/blob/0deab0118a947f3c92cf8a7dd6c7daf0fac5988f/dvc/repo/metrics/show.py#L84

https://github.com/iterative/dvc/blob/0deab0118a947f3c92cf8a7dd6c7daf0fac5988f/dvc/fs/path.py#L83-L85

This blocks Studio updating to DVC 2.9.2.

**Suggested fix:** move relpath calculation to command code, remove asserts as having a longer base

[2021-12-14 13:20] Carllizca opened #7148 "dvc pull -r origin: Cannot connect to host"
## dvc pull -r origin: Cannot connect to host

## Description

In the latest released (2.9.2) when I run "dvc pull -r origin" to download a file from google storage I get the following error:
"Cannot connect to host storage.googleapis.com:443 ssl:True [SSLCertVerificationError: (1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)')]"

[2021-12-14 13:25] elevaitleo opened #7149 "dvc exp run: AttributeError: 'NoneType' object has no attribute 'index'"
# Bug Report

## dvc exp run: AttributeError: 'NoneType' object has no attribute 'index'

## Description

`dvc exp run` outputs the following

[code]

`dvc repro` works fine.

### Reproduce

Not sure, I just wanted to use `dvc exp run` instead of `dvc repro`. I could not create a minimal example.

### Expected

I though one can use `dvc exp run` as a drop-in replacement for `dvc repro`

### Enviro

[2021-12-14 15:37] iesahin commented on #7136
To reduce typing, there is an alias facility in every shell. One can define a `dsa` alias for `dvc stage add`.

These commands are infrequent commands. In these cases, remembering / looking up the command becomes more important than to type.

Actually I'm also not a big fan of subcommands but we have an irregular interface: We have `stage add` and `stage list`, two most frequently used stage comma

[2021-12-14 15:40] iesahin commented on #7136
`dvc dag` command is similar to `dvc stage list`, showing the DAG of stages. It could even be called `dvc stage list --dag`

[2021-12-14 16:16] pared commented on #7086
Questoin: can we provide parallel coordinates plots config alongside/inside plots spec?

[2021-12-14 16:33] daavoo commented on #7136
I understand now.

Could `dvc stage list --dag` be something like`dvc stage show`?

[2021-12-14 16:36] simplymathematics commented on #3279
Am very interested. DVC would be particularly useful in a cluster or iOT environment where tracking models/data/parameters across many parallel experiments is critical. Particularly since the results and config file formats are so friendly to web services. I'm a PhD student and would likely have institutional support for the hardware/bandwidth. I'd be able to dedicate some time to this next year s

[2021-12-14 17:29] itcarroll opened #7151 "flatten `deps` to facilitate more flexible templating"
The templating feature currently admits little flexibility for stage keys (e.g. `deps`) that expect lists. As a result, `foreach` stages cannot be given a variable number of dependencies. Causing lists to be flattened would make templating more powerful. For example, you could give extra dependencies to certain templated stages:

[code]

I have implemented the change at https://github.com/itcarrol

[2021-12-14 22:58] jorgeorpinel commented on #7143
@skshetry again, 2.8.1 is the latest version on `pip`.

[2021-12-14 23:03] jorgeorpinel commented on #7143
I installed the dev version with `python3.7` and `venv` and I see it's not a problem there. In fact the whole `-i` flow is quite different.

TBH a more helpful answer here would have been "this has been fixed in an upcoming release" instead of arguing about versions. And again, it's not easy to upgrade the version ATM. I'm using a dev env.

And can you please clarify about `--explicit` or point me

[2021-12-14 23:09] jorgeorpinel commented on #7143
p.s. looks like `dvc exp init --explicit <command>` creates a super simple stage without assuming any paths. Is it basically a wrapper of `dvc stage add -n train <command>`? I'm not getting the utility here but I'm sure there's a reason for this option. Can someone summarize its use case? Cc @dberenbaum thanks

[2021-12-15 02:16] pmrowla commented on #7118
This is also reproducible in `dvc add` and it affects any symlink that points outside the repo directory (whether or not it's linked to the cache dir should be irrelevant in this scenario).

[code]

This breaks the documented use case where you can add a symlinked file to make DVC copy that file (from the outside-of-repo symlinked location) into the cache.

This use case has been superseded by `ad

[2021-12-15 02:18] pmrowla commented on #7118
I think this issue probably needs more investigation (I'm not sure that the fix in https://github.com/iterative/dvc/pull/7119 is sufficient), and it's clear we probably also need to add test cases for this.

[2021-12-15 02:25] karajan1001 commented on #7145
Not happened in CI yet, maybe because every time CI start from an empty env.

[2021-12-15 06:31] karajan1001 opened #7152 "add `--rev` and updated `-n=-1` behavior to exp show"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534_

[2021-12-15 06:31] karajan1001 opened #7153 "add the new flags (including `-A/--all-commits`, `-a/--all-branches`, `--all-tags`) to exp list"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534_

[2021-12-15 06:32] karajan1001 opened #7154 "make all the flags in `exp show` and `exp list` support pull/push"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534_

[2021-12-15 06:33] karajan1001 opened #7155 "make all the flags in `exp show` and `exp list` support remove"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534_

[2021-12-15 07:46] karajan1001 commented on #7149
Sorry, I can not reproduce it could you please give some more details about it?

[2021-12-15 09:17] skshetry commented on #7143
`exp init` was released with 2.9.0 about a week ago. The latest version is [2.9.2](https://pypi.org/project/dvc/).

Regarding `--explicit`, you are right that it is a wrapper around `dvc stage add ...`, and will ignore default and/or config values and only takes and build stage from whatever is passed on. In `interactive mode`, `--explicit` will not display default values and will make every promp

[2021-12-15 09:59] skshetry commented on #7143
Btw, let us know if you are facing any issues while updating, I can understand it's not always easy to upgrade, python packaging is messy.

You can use `pip install dvc==2.9.2` to update.

[2021-12-15 10:05] #7073 closed

[2021-12-15 10:32] pared commented on #7120
Turns out its a loose symlink.

Reproduction script:
[code]

[2021-12-15 10:41] pared opened #7157 "exceptions: raise generic exceptions properly"
In #7120 we had ambiguous error, because the raised `FileNotFoundError` did not provide any context. I think it would be more informative if we would be raising generic errors with proper messages - like in #7156.

EDIT:
resolving this issue would require finding in the codebase where are we using `raise` with generic exceptions without any arguments and providing relevant messages.

[2021-12-15 13:47] iesahin commented on #7136
Yes, it could be `dvc stage show`, but I think emphasizing "graph" or "dag" in the name is more clear.

[2021-12-15 15:27] #7147 closed

[2021-12-15 17:33] dberenbaum commented on #7143
While `dvc exp init` is intended to stay much simpler and less flexible than `dvc stage add`, it is still a bit too inflexible if all paths are required (data, code, params, metrics, models, plots). The typical example is that experiments without plots are pretty common, yet a `plots` output is required by default. This was the best idea we have for how to exclude paths and only use those which ar

[2021-12-15 18:45] tweddielin commented on #755
Just want to see if parallel execution is still on the roadmap? By parallel execution, I mean execute stages(jobs) in the defined pipeline(DAG) of a repo in parallel instead of parallelizing multiple pipelines. Just like what you can do with `make -j4` or `luigi --workers=4` for luigi.

I appreciate what you guys have already done and hope to see more new functionalities, but this would be the onl

[2021-12-15 18:58] efiop commented on #7147
For the record: what we really want here is paths from the repo's filesystem perspective. Similar to git, for dvc repos, no matter if they are local or "virtual"(based on gitfs with temp cloned repo) those paths should be natively relative to the root of the repo. We are working on detaching abs temporary paths from gitfs and will fix this in the future (i mean that the paths will be natively rela

[2021-12-16 00:15] miscott opened #7161 "DVC Pull behind proxy failing"
# Bug Report

## pull: fails to pull data behind proxy

## Description
I have a situation where my computer is behind a proxy, and needs to access an S3 bucket outside of the proxy network. When running `dvc pull <file>` behind my proxy, my file is not pulled and I get the following error: `ERROR: unexpected error - 'ETag'`.

I see the issue [here](https://github.com/iterative/dvc/issues/441) whic

[2021-12-16 01:42] karajan1001 commented on #7148
https://discord.com/channels/485586884165107732/485596304961962003/920652069734608928

Another example might be related to this.

[2021-12-16 02:50] karajan1001 commented on #7161
Looks like the error comes from s3fs side

[code]

[2021-12-16 08:16] karajan1001 commented on #7148
@Carllizca Could you please:
1. show a more detailed log of `dvc pull -r origin -vv`.
2. try with `dvc` version 2.9.2 together with a `gcsfs` version `2021.11.0`
This will help us to know more about the details
Thank you.

[2021-12-16 09:11] Carllizca commented on #7148
Hi @karajan1001,
1. Testing with `dvc` version 2.9.2 and `CLOUD_SDK_VERSION` 367.0.0:

Step 12/15 : RUN dvc pull -r origin -vv
 ---> Running in 85b7ec33fa79
2021-12-16 08:51:42,187 TRACE: Namespace(all_branches=False, all_commits=False, all_tags=False, cd='.', cmd='pull', cprofile=False, cprofile_dump=None, force=False, func=<class 'dvc.command.data_sync.CmdDataPull'>, glob=False, instrument=False

[2021-12-16 11:48] elevaitleo commented on #7149
Hey @karajan1001 , thank you for the reply.
I ran it and it didn't fix it...

I'm not sure what a minimal setup would be to reproduce it. The story is, I was running `dvc repro` while developing and at some point I wanted to try `dvc exp run`. That way, I'm not sure which of the steps introduced the problem. What I can say is that the error happens on different machines and also right after a fres

[2021-12-16 13:41] karajan1001 commented on #7149
@elevaitleo ,  Does this mean you are running two commands simultaneously?

[2021-12-16 14:15] elevaitleo commented on #7149
Sorry, I was not really clear.
What I meant is the following:
I made quite some work on the repo, each time using dvc repro.
One day I wanted to try out `dvc exp run`.

I don't mean that I ran the two commands simultaneously.

[2021-12-16 14:36] karajan1001 commented on #7149
OK, thank you, it is quite weird, what I believed previous is that it would only happen if the repo is in a corrupt state, ( caused by some force killing )
Next time it happened, could you please give me the log from `dvc exp run -vv`.

[2021-12-16 15:19] tareqalmuntasir7 commented on #7148
I'm also facing the same issue. With dvc v2.9.2.

[2021-12-16 15:39] pared commented on #7157
Related: https://github.com/iterative/cse/issues/4

[2021-12-16 22:19] dberenbaum commented on #7130
After speaking with @dmpetrov, one of the high-level issues is that the defaults for `dvc exp init` are asking the user for too much, too soon, and expecting/assuming too much from the user. Some ideas on how we can fix it:

1. Make `dvc exp init -i` the default.
2. Make `dvc exp init --explicit` the default.
3. Make `dvc exp init -i` the default if no command argument is provided, otherwise make

[2021-12-17 05:45] #4455 closed

[2021-12-17 06:46] jorgeorpinel commented on #6791
OK. A bit confused by the check on one side and the x on the other.

![image](https://user-images.githubusercontent.com/1477535/146501297-2e9c89c1-fa03-4cc6-bb9d-eab46d3eabee.png)

[2021-12-17 06:52] zhenzi0322 opened #7164 "ERROR: output 'data\data.xml' does not exist"
[code]
Output：
[code]

[2021-12-17 06:53] zhenzi0322 commented on #7164
Environment：
- Windows

[2021-12-17 08:04] elevaitleo commented on #7149
@karajan1001 , I didn't know about the `-vv` flag, very useful and it indeed pointed me towards the solution, and here it is:

I was running it in a `git worktree` so that the `.git` is simply a text file saying where to find the real `.git` folder.

So in a nutshell, `dvc exp run` doesn't work in a worktree while `dvc repro` does.

Maybe I'm not using dvc properly but for now I make heavy use of

[2021-12-17 08:04] #7149 closed

[2021-12-17 08:06] elevaitleo commented on #7149
(In any case, the error message itself was not very helpful here, so maybe this would be worth having a look)

[2021-12-17 08:09] pmrowla commented on #7149
Worktrees are currently unsupported, there is an existing issue regarding supporting them that you can follow: https://github.com/iterative/dvc/issues/5456

[2021-12-17 08:12] pmrowla commented on #5456
from #7149, we should consider detecting that we are in a worktree and warn users that it's unsupported, but this will probably still require making some changes in scmrepo backends

[2021-12-17 08:14] elevaitleo commented on #7149
Thank you so much, I was not aware of it. I guess a more informative error message would prevent users like me to duplicate issues already existing and would help save of your precious time.

Thank you so much for the feedback.

[2021-12-17 08:18] pmrowla commented on #7148
You will have to install dvc via pip in order to be able to manually install a different gcsfs version. If you are installing from the binary package (the `.deb` ), that dvc binary will always use the dependencies bundled with the `.deb` package.

@Carllizca

[2021-12-17 09:39] karajan1001 commented on #7164
Hi, @zhenzi0322  could you please give some more details, for example:
1. your repository structure, if the file `data/data.xml`.
2. the log output of `dvc add ./data/data.xml`.

If you met this problem, in `https://dvc.org/doc/start/data-and-model-versioning`
please make sure you had downloaded the data set in previous.
![image](https://user-images.githubusercontent.com/6745454/146523550-a0c23b34

[2021-12-17 10:20] daavoo opened #7165 "`exp show`: Rename / Split to separate command the current `--html`"
_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/6933#issuecomment-973159973_

_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc/issues/6933#issuecomment-996059215_

_Originally posted by @shcheklein in https://github.com/iterative/dvc/issues/6933#issuecomment-996459692_

[2021-12-17 11:00] daavoo commented on #7165
I think the best option would be to move to a separate command `dvc exp plot` with no flags for now. If more type of plots are added, we can introduce `--pcp` flags for whatever new type of plot.

It also opens possibility for further integration of `plots` and `experiments`

[2021-12-17 12:32] pared commented on #7120
#7157 is not a proper fix for this issue.
We should behave as `ls` would behave, so there should not be an error. Need to investigate why local fs thrown an error here.

[2021-12-17 12:34] malolnaor opened #7166 "DVC slow md5 checksum"
Hi,
We have a large dataset(around 170G) with lots of small files, The `dvc add` command takes around 12H.

The `dvc add` command has an option for:
`
  -j <number>, --jobs <number>
                        Number of jobs to run simultaneously. The default value is 4 * cpu_count().
                        For SSH remotes, the default is 4.
`
But this parameter only works together with `--to-remote`

[2021-12-17 16:49] daavoo opened #7167 "TabularData: Use `None` internally"
_Originally posted by @pmrowla in https://github.com/iterative/dvc/issues/7064#issuecomment-996628424_

Use `None` internally and only replace it with `fill_value` when rendering.

[2021-12-17 18:45] dberenbaum commented on #755
@tweddielin Thanks for the kind words and your support! It's still something we'd like to do, but a lot of efforts right now are focused on data optimization rather than pipeline optimization. Hopefully, we will have a chance to return to pipelines once we complete that work.

[2021-12-17 19:04] dberenbaum commented on #7122
It seems like `.cfg` support would be realistic except that I'm not aware that there is a uniform standard. From what I can tell, Spacy is using https://thinc.ai/ as their configuration system. Integrating that into DVC might require pretty substantial changes, such as those proposed in https://github.com/iterative/dvc/discussions/6506. We hope to look deeper into supporting complex parameter conf

[2021-12-17 23:22] eangius commented on #6230
I'm new to DVC & even tho I know this is a work-in-progress, this thread has been helpful in figuring out how to give DVC google drive access in CI environments. Regarding @0x2b3bfa0 tip:

Where exactly do I find this json file in GCP? I'm a regular google-drive user I don't have any google-cloud account. Thanks

[2021-12-18 01:27] mattseddon commented on #5739
I have been able to repro `exp show` hanging with just the terminal. Details [here](https://github.com/iterative/vscode-dvc/issues/828#issuecomment-996437072).

[2021-12-18 12:14] karajan1001 commented on #7166
Hi, @malolnaor

Could you please provide some more details?

1, which version and what environment are you using? (can be achieved with `dvc doctor`)
2, more detailed logs with a `-vv` flag after your `dvc add` command.

Thank you.

[2021-12-18 18:32] malolnaor commented on #7166
Hi,

I created a sample dataset with 30K small files (I can't use my real dataset).
`dvc doctor` returns the following:

[code]
I ran 2 tests:
1. Adding an archive file containing all the files in the dataset.
2. Adding a folder containing all the files in the dataset.

The first test returns the following:
[code]
The second test:

[code]

Is there any way to make `dvc add` faster?
A debug log is

[2021-12-19 09:08] adhadse opened #7168 "`get`: ERROR: unexpected error - : config file error: no remote specified."
# Bug Report

 `get`: ERROR: unexpected error - : config file error: no remote specified.

## Description

I wanted to just download DVC directory into local Google Colab environment. I was able to list all the subdirectories as well as individual files that were tracked by DVC by calling `list` command:

[code]

But, when I try to get download `data` directory containing subdirectories, I get the

[2021-12-19 09:26] karajan1001 commented on #7166
@malolnaor
For the `-j` option it is used in starting multi-threads to upload to the remote storage, so it was not used here.

For the hash computing job, the default value is
[code]
If you want to set it manually, you can use `dvc config` to set a value for `core.checksum_jobs`
https://dvc.org/doc/command-reference/config#core

[2021-12-19 19:03] bgroenks96 commented on #4448
Another use case for a feature like this would be running the same analysis on multiple datasets.

For example, I would like to run model simulations for two different sites, which have different input/validation data as well as potentially different parameter settings. I would like to run the same analysis for both sites and keep the outputs of both for comparison and plotting.

I have yet to fin

[2021-12-19 20:20] shcheklein opened #7169 "get: make it work for experiments and/or improve message"
`dvc get --rev exp-name`
`dvc get --rev exp-ref`

should work and I should be able to get artifacts, datasets w/o doing heavy apply.

Now the message:

[code]

is confusing. So, even if for some reason we decide it's not needed we have to improve the message and also solve https://github.com/iterative/dvc/issues/5355

**Use cases:**

- I want to get a few models to compare them side by side now in

[2021-12-19 21:29] mattseddon commented on #7126
For the record this is causing some weird behaviour in the VS Code extension. Could be related to https://github.com/iterative/vscode-dvc/issues/828.

[2021-12-20 03:46] karajan1001 commented on #7168
1. for `dvc get`, it will clone the remote repo into a temp local dir. But because the data tracked by DVC is not stored in the git repo, DVC still needs to download them from the remote cache. This is the reason why DVC is asking for a default remote.
2. for the `None` md5 it looks like your repo is in some corrupt state, but I can't tell how it became like this. I tried on my own computer, mv DV

[2021-12-20 09:29] zhenzi0322 commented on #7164
OK, Thank you.

[2021-12-20 11:15] ansonuser opened #7174 "sshfs: SFTP mkdir permission error on push"
# Bug Report

## Issue name
using command "dvc push -v"
asyncssh.sftp.SFTPPermissionDenied: Permission denied

## Description

I had some problems when using the command “dvc push”.  I wanted to add some data to the dataset. I pulled from the server and used “dvc push -v”.

Then, the following error popped up.

[code]

### Reproduce
[code]

### Expected

I tried ssh and sftp connection which worke

[2021-12-20 11:39] agrizzli commented on #5913
It would be great to have such an option to `--ignore-missing` outputs (including metrics and plots) during `dvc checkout`!

In my use case, I define pipeline stages in `dvc.yaml` to be run on a remote cluster. I cannot prepopulate them locally using `dvc repro` (or similar) due to hardware requirements imposed by those stages. The only workaround is to manually create them as empty files and then

[2021-12-20 12:01] karajan1001 commented on #7174
Hello, @ansonuser
Your `DVC` and `sshfs` version are quite old ones, could you please first upgrade to the latest version and then try it again?

[2021-12-20 12:25] efiop commented on #7093
Sure, seems like plots will be the first. Just trying to mark this new approach with introducing separate sections.

CC @pared

[2021-12-20 12:36] pared commented on #7093
I guess this is about migrating `--show-json` and friends to `--json` and similar, just to make it shorter.

We recently introduced '--json' [for plots](https://github.com/iterative/dvc/pull/7074). It's not official yet, but since we support images, we will need to do it sooner or later (officially) in automation scenarios too. In that case `--show-vega` does not make sense, because its limited to

[2021-12-20 13:43] ansonuser commented on #7174
Hello, @karajan1001
After upgrade:
DVC version: 2.9.2 (pip)
---------------------------------
Platform: Python 3.7.12 on Linux-5.4.0-91-generic-x86_64-with-Ubuntu-18.04-bionic
Supports:
	webhdfs (fsspec = 2021.11.1),
	http (aiohttp = 3.8.1, aiohttp-retry = 2.4.6),
	https (aiohttp = 3.8.1, aiohttp-retry = 2.4.6),
	ssh (sshfs = 2021.11.2)
Cache types: hardlink, symlink
Cache directory: ext4 on /dev/

[2021-12-20 14:50] karajan1001 commented on #7174
@ansonuser, Could you please give me the log from `dvc push -vv`. From the current info quite hard to know the reason for the permission denied.

[2021-12-20 15:30] ansonuser commented on #7174
Hi, @karajan1001
`dvc push --v ` got extra message:
2021-12-20 23:24:44,777 TRACE: Assuming '/media/plctekadmin/fba0e0cc-b376-484f-ba50-4cf22b96f260/home/plctekadmin/data/test_dvc/test_dvc_regional2/regional2_dataset_dvc/.dvc/cache/7a/9491a5762205ceb4e217a55d182212.dir' is unchanged since it is read-only
2021-12-20 23:24:44,778 TRACE: Assuming '/media/plctekadmin/fba0e0cc-b376-484f-ba50-4cf22b96f2

[2021-12-20 16:03] Vinayaks117 opened #7175 "Not able to switch between different datasets using Git tags and DVC Python API"
# Bug Report

## Issue name
Not able to switch between different datasets using Git tags and DVC

## Description

I have created the one version (V1) of dataset, added to dvc, committed the changes to GIT with tag details and pushed that file to remote storage.

Also I have created new version (V2) of dataset, added to dvc, committed the changes to GIT with tag details and pushed that file to remo

[2021-12-20 16:20] dberenbaum commented on #7093
@pared I thought `--json` was a hidden option for VS Code?

For the vega example in https://cml.dev/doc/cml-with-dvc using vl2png, how can this be handled with `--json`?

[2021-12-20 16:39] pared commented on #7093
Well, it seems to me that we will have to start supporting it. It kind of does not make sense from user perspective, to support vega as json and not do the same for images - our current problems "where to store the results" should probably not affect the enduser.

Some json manipulation is needed for that. In this particular example:
[code]

[2021-12-20 16:44] daavoo commented on #7093
Ping @iterative/cml . I think `send-comment` with vega plot is a widely used exampled

[2021-12-20 17:12] daavoo commented on #6091
Another thought: should we be more general and implement `core.no_browser`/`ui.no_browser` and `DVC_NO_BROWSER` instead?

_Originally posted by @skshetry in https://github.com/iterative/dvc/pull/7159#discussion_r772114574_

Could you elaborate a little bit more on the approach? Do you mean as a compliment or as a replacement to the `dvc config` option being added in #7159 ?

[2021-12-20 17:20] daavoo commented on #6091
This appears to be a problematic default for VSCode (and other potential integrations using `dvc` cli as dependency)

[2021-12-20 22:44] pared commented on #7093
Good idea though let's not solve it until we agree on whether `--json` is what we want and that we remove `--show-vega`.

[2021-12-21 01:51] skshetry commented on #6091
We should provide ways to disable that for sure. It’s not good to adjust cli’s behavior for GUI-based apps. I don’t think there’s much use of plots show/diff than to check plots in the browser and it only opens once, so it’s not intrusive at all.

[2021-12-21 08:20] jorgeorpinel opened #7180 "`exp apply`: `--no-force` blocks operation with any change"
# Bug Report

## Description

Using `dvc exp apply --no-force` with any workspace change fails even if it doesn't conflict with the target experiment

### Reproduce

1. Run and commit an experiment
2. Create or change some unrelated file (`git status` should see it)
3. Try to `dvc exp apply --no-force` your experiment

I always get
[code]

BTW, the part about `re-run this command with '--force'` s

[2021-12-21 09:37] jorgeorpinel commented on #7143
@skshetry thanks and yes, like I mentioned `pip` doesn't seem to have it.
[code]

[2021-12-21 09:39] jorgeorpinel opened #7181 "2.8.1 is the latest version from `pip`"
Is that normal? Maybe it's just my system? My py env is def. messy rn...

_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc/issues/7143#issuecomment-994119202_

[2021-12-21 09:48] jorgeorpinel commented on #7143
OK, I see that it changes the behavior of `-i`. But I'm still unsure of what's the use case since you can always be explicit during regular `--interactive` mode.

@dberenbaum you don't need `--explicit` to omit paths, you just type `n` in regular interactive mode (which you have to do with `--explicit` anyway). It does force you to think about each answer but it seems that's not the intended utili

[2021-12-21 09:54] pmrowla commented on #7181
The latest version from pip is 2.9.2: https://pypi.org/project/dvc/#history. There's something wrong with your local python environment/config.

[2021-12-21 11:22] karajan1001 commented on #7174
Files stored in `dvc` cache are in a protected state, so the permission is `-r--r--r---` in default.

[2021-12-21 11:41] jorgeorpinel commented on #7181
Hmmm OK shouldn't be a problem then. Hopefully I can fix up my env.

[2021-12-21 11:41] #7181 closed

[2021-12-21 11:41] jorgeorpinel commented on #7181
Thanks

[2021-12-21 12:02] daavoo commented on #7175
Hi @Vinayaks117 !

Can you try setting a default remote (https://dvc.org/doc/command-reference/remote#example-add-a-default-local-remote) and/or pass a `remote` name to your `dvc.api.open` call (https://dvc.org/doc/api-reference/open#parameters) to see if the problem persists?

[2021-12-21 12:14] Vinayaks117 commented on #7175
Thanks for your reply @daavoo

If you look at my command list above then I am already setting default remote as "storage".

dvc remote add -d storage s3://Products/Datasets

As suggested, I tried passing the remote = "storage" in dvc.api.open call then it works fine with "data_v2" tag but it does not work with "data_v1" tag.

Issue still persists.

Here is my .dvc/config file:
![image](https://use

[2021-12-21 12:21] pmrowla commented on #7175
The issue is that the remote does not exist in your `data_v1` tag.

[code]

The remote is added after the tagged commit (meaning the remote does not exist in `.dvc/config` in the tagged commit). When you use `api.open(rev="data_v1")`, DVC will clone the repo at that specific tagged commit, and look for a remote in `.dvc/config` from that commit.

Basically, what you need to do is change your tag s

[2021-12-21 13:31] Vinayaks117 commented on #7175
Thank you so much @pmrowla

I have to initialize and configure remote storage then manage the dataset versions using git tags.

[2021-12-21 13:31] #7175 closed

[2021-12-21 18:23] dberenbaum commented on #7130
Other options:

4. Create another `type` like `simple` or `blank` that creates a stage with only a command (no deps or outputs). This might also allow us to get rid of `--explicit`.
5. Allow for `--data`, `--params`, etc. to be passed without arguments, in which case they will be added to the stage with default values. This would be useful if `--explicit` is the default or if there is blank stage

[2021-12-21 18:24] dberenbaum commented on #7143
True, we could ignore `--explicit` in interactive mode since it's unlikely to be needed in that mode. Seems minor either way IMO.

The intent is to omit paths in non-interactive mode.

See also https://github.com/iterative/dvc/issues/7130.

[2021-12-21 21:28] jorgeorpinel commented on #7165
Yeah I can see why it was included to `exp show` initially, as it's basically the same info. But the presentation is completely different plus indeed maybe we want to add other plots later so I'd vote for a separate command.

[2021-12-21 21:54] daavoo commented on #7165
One worry that I have is that adding a separate command, no matter the name, might create more doubts from the user's perspective.

If we name `dvc exp plot`/`dvc exp report` with the current features, users might ask where are the other plots (i.e. live plots) or why it's named report if it's only a PCP plot.

Proper `exp plot`/`exp report` requires mid-term engineering and product work in order

[2021-12-22 01:11] jorgeorpinel commented on #7165
`--pcp` is the option with the most implicit votes already and definitely an improvement so I believe we can go ahead with that for now indeed.

I don't think users would be confused about `exp plot` only having one plot though.

BTW where are live plots documented?

[2021-12-22 03:44] woodshop opened #7186 "`exp run`: doesn't work with submodule as dependency"
# Bug Report

## Description
`dvc exp run` fails and `dvc repro` runs successfully when a cmd is executed from inside of a submodule and the submodule is included as a dependency.

### Reproduce
#### Set Up:
[code]

**This works**
`dvc repro -f`

**This fails:**
`dvc exp run -f`

**This also fails:**
`dvc exp run -f --temp`

### Expected

`dvc repro` and `dvc exp run` run and succeed similarly.

#

[2021-12-22 03:48] jorgeorpinel commented on #7143
In non-i mode I'd just use `stage add`.

[2021-12-22 04:07] karajan1001 commented on #7167
In pandas Dataframe, the behavior is we don't give a default value to replace `null` when the Dataframe is created.
But the calling of method `fillna` will permanently replace the `null` value.

[2021-12-22 04:15] karajan1001 commented on #7093
One question here, because there might be some `subrepo`s deep inside directories. Even if we had deprecated `.dvc` files. We might still need to walk through the whole structure to find out all of the stages in `subrepo`s. Or We will need to make a clear and better way to handle `subrepo`s.

[2021-12-22 04:23] skshetry commented on #7167
Related: https://github.com/iterative/dvc/pull/6893#discussion_r751983684 and https://github.com/iterative/dvc/pull/6867#discussion_r736702708.

It's not just None. Ideally, I'd like to have support for arbitrary data. This will come really useful for example in floats rendering.
We may need to do some filtering based on actual floats' values and/or need to have different forms of rendering them (

[2021-12-22 04:28] skshetry commented on #7143
@jorgeorpinel, `stage add` may not be easier for users who are new to dvc. `dvc stage add` requires understanding lots of things about DVC and stage concepts, whereas with `exp init`,  it `--code`/`--data`/`--models` which is more easier.

[2021-12-22 04:36] skshetry commented on #7093
@karajan1001, we do not traverse into subrepos except for `dvc list`. `dvc.api`/`dvc get`/`dvc import` uses particular logic to find subrepos, but does not require it as we avoid getting files from subrepos. There have been discussions on getting rid of the "subrepos traversal" completely as it's not worth it with the complexity it introduces.

[2021-12-22 04:46] skshetry commented on #7181
Per, https://github.com/iterative/dvc/issues/7143#issue-1079219087, the Python version is 3.6.

We dropped support for Python 3.6 in 2.8.2, so the last version to support 3.6 is 2.8.1 which is why it's  being installed.

[2021-12-22 05:18] #6383 closed

[2021-12-22 11:23] Vinayaks117 opened #7188 "dvc push command throw an ERROR: unexpected error - __init__() got an unexpected keyword argument 'cache_regions'"
# Bug Report

## Issue name

dvc push command throwing a below error.

ERROR: unexpected error - __init__() got an unexpected keyword argument 'cache_regions'

OS: Ubuntu 18.04.5 LTS
DVC version: 2.9.2

Please refer the attached logs from dvc push -vv command.

Also I am not able to see .dvc and .dvcignore directories in Ubuntu machine, but I can execute all dvc commands except dvc push.

Could yo

[2021-12-22 11:37] skshetry commented on #7188
Hi, @Vinayaks117, you have a very old `s3fs` package. Could you please update with `pip install -U dvc[hdfs,s3]` and see if it that works?

[2021-12-22 11:44] Vinayaks117 commented on #7188
Yes, it's working fine. Thanks a lot @skshetry

Do you know why can't we see the .dvc and .dvcignore files in Ubuntu machine?

[2021-12-22 12:04] #7188 closed

[2021-12-22 17:22] dberenbaum commented on #6930
@pmrowla Forcibly overwriting conflicts is intended as explained here and in https://github.com/iterative/dvc.org/issues/2397, but it seems like experiments are overwriting everything in the workspace, even untracked files. This seems to conflict with https://github.com/iterative/dvc.org/issues/2397#issuecomment-822887190.

Example:

[code]

[2021-12-22 20:07] daavoo opened #7191 "`exp`: Add new `plot` or `report` subcommand"
See background in https://github.com/iterative/dvc/issues/7165

[2021-12-22 20:07] daavoo commented on #7165
Extracted the new subcommand discussion to  #7191

[2021-12-22 20:11] daavoo commented on #7165
I meant that there could be confusion with `dvc plots` because experiments can also generate that kind of plot but they won't be shown (with current features) in `dvc exp plot`.

They are not documented with that name anywhere. I was referring to https://dvc.org/doc/dvclive/dvclive-with-dvc#html-report (I think I used it because I recently heard the term `live plots` in VSCode demo or something)

[2021-12-23 04:32] skshetry commented on #7128
This looks really bad on light and solarized light terminals.
<img width="1792" alt="Light Terminal" src="https://user-images.githubusercontent.com/18718008/147188154-dcbdcffa-54d6-4b04-9678-1d480630a395.png">

<img width="1792" alt="Solarized light" src="https://user-images.githubusercontent.com/18718008/147188209-b8806ac1-5255-4876-bd3b-c781c5ff5509.png">

The headers' color was already quite ba

[2021-12-23 05:58] dmpetrov commented on #7130
Agree. There are some good options but this one seems like the best one.

[2021-12-23 06:25] jorgeorpinel commented on #7165
I.e. if your experiment code implements outputting a PCP? I see. Edge case though, I think!

Thanks for clarifying on live plots. That's a feature of DVCLive so I wouldn't expect it to be in a DVC command -- esp. since DVCLive works standalone.

[2021-12-23 09:11] daavoo opened #7194 "`exp show`: Background color for light terminals"
This looks really bad on light and solarized light terminals.
<img width="1792" alt="Light Terminal" src="https://user-images.githubusercontent.com/18718008/147188154-dcbdcffa-54d6-4b04-9678-1d480630a395.png">

<img width="1792" alt="Solarized light" src="https://user-images.githubusercontent.com/18718008/147188209-b8806ac1-5255-4876-bd3b-c781c5ff5509.png">

The headers' color was already quite ba

[2021-12-23 09:39] skshetry commented on #7165
I'd argue that since we are not sure about `--pcp` either, status quo should remain. We should put efforts on discussions in #7191. `--pcp` is not obvious either, and unknown abbreviation at that.

[2021-12-23 09:55] daavoo commented on #7165
It's a pity that we have already released `--html` but it's very recent and I wouldn't say there is status quo yet; especially since docs P.R. is still open.

I don't think that `--pcp` is the final solution and agree on focusing on #7191 . However, I do think `--pcp` it's better than `--html`. The abbreviation is not common but we can teach on docs and at least it's not ambiguous, unlike `--html`

[2021-12-23 11:46] karajan1001 opened #7196 "`exp pull/push`: add multi exp name arg support"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/5489#issuecomment-992234534_

[2021-12-23 14:21] skshetry commented on #6886
Fixed by #7171

[2021-12-23 14:21] #6886 closed

[2021-12-23 14:28] dberenbaum commented on #7128
Good point, @skshetry. Looking at https://github.com/willmcgugan/rich/discussions/1170, it doesn't seem easy to solve in rich.

@shcheklein How is this handled in VS Code?

[2021-12-23 14:41] shcheklein commented on #7128
Do be honest I'm not sure. Probably we alternate and invert colors at the very least. Need to take a look.

cc @iterative/vs-code ?

[2021-12-23 14:57] daavoo commented on #7128
Not relaly equivalent to VSCode because VSCode does hace access to the theme used but there is not universal way of getting arbitrary terminal "theme"

[2021-12-23 15:12] dberenbaum commented on #7130
@dmpetrov We might be saying slightly different things 😄. However, if you want to start from this simple default, I think the best way to achieve this is option 4 above. We can have 3 template types: `default` (a stage with only a command), `ml` (the current default), and `dl`.

Why add another template type? One goal of `dvc exp init` was to introduce an easy way to setup typical project structur

[2021-12-24 11:17] Vinayaks117 opened #7199 "How to use dvc python APIs in Flask application?"
Hi All,

I know this is not a bug, but kindly request you to help me on this issue.

We want to load the dvc tracked models dynamically using flask application. I believe this is the basic requirement of serving the dvc tracked trained models.

Let's say we want to serve the respective dvc tracked model versions using flask API url.

https://<hostname:port>/version/resource/

For example: Users ca

[2021-12-25 02:18] dmpetrov commented on #7130
@dberenbaum oh, right 🙂 `--explicit` is going to be the same as `stage add`. It is not a problem to be the same, the problem is it does not serve the purpose of `exp init` - being a shortcut/cookiecutter for experiments.

There are couple more questions:
- [ ] `--type=dl` has the same issue as the default one - `dvc exp init --type dl` is not functional until you create all the data/src/metrics fi

[2021-12-25 15:33] efiop commented on #7199
@Vinayaks117 It is very hard to tell what specifically went wrong in your setup, as there are too many variables. Is that code snippet causing the segfault itself? Does it fix it if you comment it out and not call dvc at all?

[2021-12-26 07:10] Vinayaks117 commented on #7199
@efiop Thanks for your reply.

Yes, I have tested multiple times, same code snippet is causing an issue and flask app works fine without dvc call.

FYI: I have logged an issue in uwsgi github site but no response yet

https://github.com/unbit/uwsgi/issues/2386

[2021-12-26 11:58] dmpetrov commented on #6485
The initial motivation for this command was to upload data to storage and preserve a pointer file (`*.dvc` file) to it for future downloads. This command (and its download equivalent) are supposed to work from no-dvc repositories - it means, no dependencies to `.dvc/` dir.

It seems like, we need an "upload equivalent" of `import-url`, not `get-url`.

Proposed names: `dvc export url [--no-exec] FI

[2021-12-26 14:06] efiop commented on #7199
@Vinayaks117 Could you try setting `DVC_NO_ANALYTICS=1` env var and see if that helps?

[2021-12-26 16:21] Vinayaks117 commented on #7199
@efiop As suggested, I did set the following environment variable in Flask app but no luck.

os.environ['DVC_NO_ANALYTICS'] = "1"

[2021-12-27 07:20] casperdcl commented on #6485
`import url` sounds like a different feature request & use case to me. `put url` meanwhile is meant to work like `get url`, i.e. no pointer files/metadata.

[2021-12-27 08:17] dmpetrov commented on #6485
`put url` is a good idea and I hope it will be implemented as a part of this initiative. But we should understand that this is not a part of the requirements.

I'd suggest focusing on the core scenario - `export url` - that is required for CML and MLEM.

[2021-12-27 10:02] efiop commented on #7199
@Vinayaks117 Does that code snippet work outside of flask, on the same machine?

[2021-12-27 15:31] shcheklein commented on #6485
does it mean "aws s3 cp local_path_in_repo s3://remote_path && dvc import-url  s3://remote_path -o local_path_in_repo"?

It sounds then than this should be an extension to import itself (move a file before import, or something). I don't feel that this deservers the full name "export" since it won't be doing anything different from import-url.

[2021-12-27 15:51] casperdcl commented on #6485
My original intention with this feature request was just the first bit (`aws s3 cp local_path_in_repo s3://remote_path`). I don't have any strong opinions about the other import/export functionality & API that can be built on top.

[2021-12-27 15:55] shcheklein commented on #6485
Yep, and name `put` makes sense for that.

[2021-12-27 19:18] dberenbaum commented on #7130
@dmpetrov It seems there are multiple use cases:
1. Taking a code script without dependencies or outputs and running it as an experiment. The blank template/`--explicit` default can solve it, or we can make some alias for `dvc stage add` to do this.
2. Adapting an existing project with parameters, metrics, data, etc. into a DVC experiment. Could you take a look at #7138 and provide your feedback?

[2021-12-27 21:09] dmpetrov commented on #6485
I thought that we are solving CML, MLEM problems with this proposal, aren't we? If not, I'm creating a separate issue for the integrations and we can keep the current one as is.

[2021-12-27 21:21] shcheklein commented on #6485
I'm fine with this one :)

My questions stays - it doesn't feel like it's export. It does copy + import under the hood, right? So why export then? Why not an option for the import command (to copy artifact to the cloud first)?

[2021-12-27 21:38] dmpetrov commented on #6485
@shcheklein yes, it can be just an option of import like `dvc import url/model/data --upload`.

import/export naming is definitely not perfect. So, an option might be a safer choice in the short run.

[2021-12-28 03:27] Vinayaks117 commented on #7199
@efiop

Yes, it works outside of Flask.

It works within Flask application as well. But it does not work when we deploy that Flask app on uWSGI server.

I also tried it with gUnicorn WSGI server, same code snippet works fine as well.

Looks like there is a bug in uWSGI server.

Thanks

[2021-12-28 03:59] pmrowla commented on #7199
Thanks for the clarification @Vinayaks117 , I'm going to close this since it looks like it's not a DVC issue (and is something specific in uWSGI)

[2021-12-28 03:59] #7199 closed

[2021-12-28 08:57] jorgeorpinel commented on #7181
That explains it! So should we specify our Python 3.7 dependency in install docs like https://dvc.org/doc/install/macos#install-with-pip ? Otherwise it probably won't be obvious to others in my situation why `pip` won't install the latest DVC. Or use something like `python37 -m pip install --upgrade dvc` which implies it.

[2021-12-28 09:04] jorgeorpinel commented on #7181
p.s. that last command is giving me an error though.

[code]

[2021-12-28 09:13] jorgeorpinel commented on #7181
p.p.s. upgraded my global `pip` [like this](https://stackoverflow.com/a/56140616/761963) and it runs the install but it's much longer and it throws a bunch of `flufl.lock` errors and ends up installing DVC 2.8.1 anyway 😢 (even when it states it's going to install 2.9.3 initially).

[2021-12-28 09:14] pmrowla commented on #7181
You probably need to do
[code]

What python are you using?

---

On the docs side, it probably makes sense for us to make it clearer what the minimum supported python version is, it's currently only stated in the venv/pipx note:

It would be better if it was noted more explicitly that 3.7+ is a hard requirement.

But beyond that, IMO it should be safe for us to assume that anyone choosing the "ins

[2021-12-28 09:16] pmrowla commented on #7181
Assuming your linux distro's system python is 3.6, your "global" `python`/`python3`/`pip`/`pip3` is always going to be python 3.6 unless you are explicitly setting up something like pyenv.

If you've installed a different python (like 3.7) from source or from a PPA, you will most likely always need to explicitly use `python3.7 -m pip` or `pip3.7`.  This is a linux configuration issue, not a DVC is

[2021-12-28 09:22] jorgeorpinel commented on #7181
Thanks @pmrowla ! I managed to upgrade my global `pip` in a different way (see https://github.com/iterative/dvc/issues/7181#issuecomment-1001955857) so this now reports `pip install -U pip`. The problem is a bit different now...

I got Python 3.7 and pip 21 on it. I installed both manually.

[code]

Unfort neither method is working for me as reported in https://github.com/iterative/dvc/issues/7181

[2021-12-28 09:26] pmrowla commented on #7181
What command are you using to install DVC? If you are trying to install DVC via pip, you should be using virtualenvs or pipx like we recommend in the docs, specifically because managing global/system pythons on most platforms is a giant mess (as you have encountered).

On ubuntu 18.04 (where the system python is 3.6) if you still want to install it "globally" for your user into `~/.local/lib/...`

[2021-12-28 09:29] jorgeorpinel commented on #7181
Yeah I prefer to have it globally. It probably works just fine in a venv.

This did the trick! (After I uninstalled the other `dvc`)

I don't think so 🙂 only had that one global pip-ed one which I just uninstalled.

Thanks again!

[2021-12-28 09:36] jorgeorpinel commented on #7181
Well, actually you're probably right since this is Windows underneath and I do have DVC installed from binary on there.

[code]

[2021-12-28 11:03] pmrowla opened #7207 "dvc 2.9.x installed from `deb` package throws pygit OpenSSL errors"
Reported from multiple users in discord:
https://discord.com/channels/485586884165107732/485596304961962003/925036036411785238 (ubuntu 18.04, DVC 2.9.2)
https://discord.com/channels/485586884165107732/563406153334128681/925334641894912000 (ubuntu 20.04, DVC 2.9.3)

[code]

DVC installed via pip works as expected.

[2021-12-28 15:08] pared commented on #6627
This has been hanging for some time. Let's close it. We can reopen if `yappi` will be not enough in the future.

[2021-12-28 15:08] #6627 closed

[2021-12-29 10:01] dtrifiro commented on #7045
Hi @wdixon,
thanks for reporting the issue, although I could not reproduce it. What kind of remote are you using?

What's the exact syntax you're using for `dvc import`? By looking example command you show in [2], it seems like you're missing an argument:  the [usage](https://dvc.org/doc/command-reference/import) for `dvc import` is the following (`dvc import --help`):

You have to specify the URL

[2021-12-29 15:13] ntjess opened #7211 "pull: Incorrect error message when pip dependencies are missing"
# Bug Report

## Description

I'm getting the following error on trying to recreate an old dataset:

[code]

Through running `dvc list -R <remote>`, I saw a much more helpful:
[code]

The correct message instead of "error: failed to pull data" should inform the user they are  missing dependencies just like "list remotes" does.

### Reproduce

1. pip install dvc[gdrive]
2. Create gdrive-backed dvc

[2021-12-29 15:14] ntjess commented on #7211
For reference, I first asked this question on Discord and it was recommended to create an issue here: https://discord.com/channels/485586884165107732/563406153334128681/924180307840757820

[2021-12-30 03:36] pmrowla commented on #3236
I think this is a pretty significant limitation, since this means you can't use `get-url` in an authenticated context unless its for a cloud storage backend that can be configured via env vars like w/AWS profiles and s3.

At the very least, when `get-url` is run from in a DVC repo, I think it should respect the remote configs (even if we don't want to get into reading the global/system configs whe

[2021-12-30 08:09] dmpetrov commented on #7130
I was expecting to have a cookie-cutter based on a user's script. We need to generate a template with a predefined structure that users can use to adopt the project step by step. The predefined structure also serves an education goal - user knows possibilities and how to adopt these.

I think we have to have a proper cookie-cutter as one of the options of `dvc exp init`. It would be great to have

[2021-12-30 11:10] daavoo commented on #7128
Re-opened in https://github.com/iterative/dvc/pull/7212

See background discussion #7202

Perhaps this is a feature request for rich? It doesn't look worth it to handle all the logic as part of `dvc exp show`

[2021-12-31 02:44] shcheklein commented on #3069
Looks like Linux is using blake now:

https://lore.kernel.org/lkml/20211223141113.1240679-2-Jason@zx2c4.com/

It sounds reasonable to make it configurable and make blake default.

[2022-01-01 19:04] dberenbaum commented on #7130
Right, I think everyone can agree with this. We can prioritize that for now while we continue to think through other ways to improve the experience.

[2022-01-03 07:38] #7194 closed

[2022-01-03 11:42] iesahin commented on #3069
If it's really required to make it configurable, I think making the digest size fixed (256 bits = 32 bytes) allows to abstract _digest -> path_ conversion. Instead of MD5, DVC may require to use "any hash function that outputs 256 bits."

I still think making it configurable won't add much value, and using SHA2-256 is the most obvious option due to NSA blessings. Longer hash function digests may a

[2022-01-03 15:07] #6091 closed

[2022-01-03 21:58] dberenbaum commented on #6485
See https://github.com/iterative/dvc/issues/6494#issuecomment-906600254 for a proposed syntax to cover both dvc urls and arbitrary urls with one command.

`--no-exec` exists today in `import` and `import-url` to create the `.dvc` file (with the hash) without downloading. Seems like we need separate flags to skip the check for existence (and adding the hash) and the download.

Seems like it's uncle

[2022-01-03 22:29] shcheklein commented on #6485
It might make sense to name it `export` then. That's why I was asking about the semantics of it. From the previous discussions (Dmitry's and Casper's) I didn't get it exactly.

[2022-01-04 02:02] pmrowla opened #7220 "odb: index pickle version should be explicit"
Currently we don't specify a pickle version when we use `diskcache` in the ODB/remote index, so we will potentially run into the same problem as: https://github.com/iterative/dvc/issues/5563

discord context: https://discord.com/channels/485586884165107732/485596304961962003/927613942908465162

[2022-01-04 02:19] skshetry commented on #7220
We do specify them here @pmrowla.
https://github.com/iterative/dvc/blob/0a4958bafd8797e5fe4a9c9fa189e857111facd6/dvc/state.py#L62

[2022-01-04 02:24] pmrowla commented on #7220
Right, we specify the protocol version for state (and links) but not for index
https://github.com/iterative/dvc/blob/0a4958bafd8797e5fe4a9c9fa189e857111facd6/dvc/objects/db/index.py#L99

[2022-01-04 10:09] pared commented on #7120
related: https://github.com/fsspec/filesystem_spec/pull/861

[2022-01-04 13:10] skshetry commented on #6836
Calling it done, closing ...

[2022-01-04 13:10] #6836 closed

[2022-01-04 14:56] efiop commented on #6836
Great job, thank you, @skshetry !

[2022-01-04 17:59] macio232 opened #7224 "Support params in form of Gin Config files"
It would be nice to use DVC along with https://github.com/google/gin-config to handle parameters.

[2022-01-04 18:22] #7220 closed

[2022-01-04 19:01] dberenbaum commented on #6605
@skshetry Returning to this. Thanks for the reference to #4112. I would probably go so far as to mark this a duplicate, close this, and continue conversation there. WDYT?

[2022-01-04 19:12] dberenbaum commented on #4112
Option 2 makes sense to me because:

1. If a new parameter is added, I would rather err on the side of being overly aggressive in detecting parameters changes rather than ignore it.
2. It's clean and simple in `dvc.yaml` (list the file instead of breaking out each individual key).
3. It seems consistent with how YAML section keys are handled now. I don't see much difference from the current handli

[2022-01-04 19:58] bobertlo commented on #3069
I would like to point out that with hash configuration any *future* change would then not be a breaking change requiring a major version release.

I've just been watching this thread because the text/binary distinction in the hash has been limiting to my use cases. I don't think the use of MD5 is that bad or needing of urgent change, but it would be nice to be able to use another hash. I would per

[2022-01-04 20:19] Erotemic commented on #3069
Because the discussion doesn't seem to reference this issue when I raised it, I'll note that I think a configurable hash could solve the main issue with immutable storage backends like IPFS as discussed here: https://github.com/iterative/dvc/discussions/6777#discussioncomment-1904292

If I run: `ipfs add -nq setup.py` I get the "hash" (really an IPFS CID): `QmdsJ5Tn6E78KrGwvkrNRSoA9QvmX2iieo7Zv3Gm

[2022-01-04 20:27] mattlbeck commented on #7086
Related: #6316

[2022-01-04 20:53] dberenbaum commented on #7086
IMO let's not worry about it as part of this issue.

[2022-01-04 23:19] marleneelojmz opened #7225 "DVC push error using minIO SSL_verify"
# Bug Report

## Description

Hi! I'm working with DVC and for now I'm trying to connect my proyect with minIO (on permisse).
everything works fine for dvc coommands but when I try to do thepush action the result is "Everything is up to date".
I have no more ideas to what is happen.

### Reproduce

1. dvc init
2. Copy dataset.zip to the directory
3. dvc add dataset.zip
4. dvc remote add -d  myremo

[2022-01-04 23:59] efiop commented on #7225
@marleneelojmz Hi. I see that you are configuring it as an http remote, but you need to configure it as s3 remote and use custom endpoint. E.g. see s3-compatible storage in https://dvc.org/doc/command-reference/remote/add or https://stackoverflow.com/questions/67635688/installation-dvc-on-minio-storage

[2022-01-04 23:59] #7225 closed

[2022-01-05 00:26] marleneelojmz commented on #7225
I found lot of information about s3 storage but my storage is on my local machine, minio is working on my disk E:/.
Then I need to do a different configuration?

[2022-01-05 03:05] qutang commented on #6454
Same problem here. JSON files could likely be encoded in UTF-8, which should be supported.

[2022-01-05 10:06] jotsif commented on #5172
@dberenbaum I think `matrix` or nested `foreach` still make sense, even with more dynamic parameter definitions in `dvc exp`. We use "foreach stages" to define different models (similar model but for different countries and products for example), while using dvc experiments for trying out different parameters for those models. There is a logical difference, and it would not be optimal to start mix

[2022-01-05 13:40] dberenbaum commented on #6454
@skshetry What do you think?

[2022-01-05 13:50] efiop commented on #7225
@marleneelojmz The links I've posted talk about minio in general, it doesnt' matter where it is actually running, you just need to configure s3 enpoint correctly.

[2022-01-05 15:34] marleneelojmz commented on #7225
Thank u very much. It's working now <3!!!

[2022-01-06 02:43] jonburdo opened #7228 "dvc.fs.Path.parts wrong results"
**EDIT**: This issue will just be for this first problem of handling a sep at the end of a path. I made the windows-style path problem a separate issue #7233

When a path ends with the path sep, the `parts` function doesn't split. It returns a tuple with a single item:
[code]
[code]

A second problem occurs when using windows style paths. We get the sep between the drive and the rest of the path:

[2022-01-06 06:36] pmrowla commented on #6454
Do we even need the `istextfile` validation for metrics at all? If users are explicitly listing something as a `metrics` stage output, it seems like we should just assume that it is a valid metric, and only error out if/when we fail to parse it during diff or UI commands.

[2022-01-06 12:52] olliestanley opened #7230 "DVC commands prohibitively slow in SageMaker Studio"
# Bug Report

## DVC commands execute incredibly slowly in SageMaker studio

## Description

When executing `dvc pull` on a freshly cloned Git repository within SageMaker studio, the command takes hours to run even when attempting to pull only a small section of the versioned files within the DVC store, on DVC 2.9.3. This can be partially mitigated by downgrading to DVC version 2.3.0.

In my speci

[2022-01-06 14:56] gvwilson opened #7231 "feat: allow user annotations in .dvc files"
We would like to be able to associate arbitrary tags and key=value annotations with particular versions of DVC-managed files. For example, if `a.csv` and `b.csv` are managed by DVC:

[code]

This can be implemented by adding a `notes` section under the `meta` key in the `.dvc` file without affecting any existing functionality. While it wouldn't necessarily be part of DVC, we are excited by the pos

[2022-01-06 16:17] dberenbaum commented on #6107
The full command (including command line arguments) are already part of the stage dependencies. Maybe we could look into parsing and showing the arguments (or at least the full command) as part of `dvc exp show`? These could potentially be seen as either implicit parameters or another type of dependency.

[2022-01-06 16:23] jonburdo opened #7233 "dvc.fs.Path.parts includes sep after drive letter for windows style"
When using windows style paths, we get the sep between the drive and the rest of the path:
[code]
[code]

We should really get this result I think:
[code]
[code]

Note this is still a little different from pathlib, which would include the sep with the drive:
[code]
[code]
but this is probably more in-line with fsspec, which basically treats the drive letter as the first element of a relative path:

[2022-01-06 19:17] efiop commented on #7207
Another user running into this 🙁 https://discord.com/channels/485586884165107732/563406153334128681/928609379924738088

[2022-01-06 20:05] efiop commented on #7231
Hi @gvwilson

`meta` is meant for misc metadata, that is not recognized as a first class citizen by dvc, it is not suitable for notes. In your description you note that these notes are not really notes, but tags and annotations that have a higher level use-case. Could you elaborate on the scenario you are trying to solve?

[2022-01-06 20:12] #7120 closed

[2022-01-06 20:25] efiop commented on #7230
@olliestanley Could you run `dvc pull --cprofile-dump pull.prof` and post `pull.prof` ,please?

[2022-01-06 20:41] gvwilson commented on #7231
Hi @efiop - thanks for the quick feedback. We're currently using a home-grown solution for large file management; DVC does everything our tool does (and a lot more) _except_ for allowing users to annotate particular revisions of large data files. Right now they create two types of annotations:

- Simple tags, which are keys without values. For example, they might mark a particular file as "lucifer

[2022-01-07 02:37] dberenbaum commented on #6107
Another idea: any templated values in the command (anything using `${}` syntax) could be automatically included as parameters. This at least avoids having to repeat values in `cmd` and `params` in `dvc.yaml`.

[2022-01-07 05:23] skshetry commented on #6107
@dberenbaum, templated values are automatically included in `params show/diff`/`exp show` results.
[code]

[code]

[2022-01-07 05:28] #6043 closed

[2022-01-07 09:25] olliestanley commented on #7230
Do I need to wait for the pull to finish to obtain `pull.prof`? If so that won't be possible unfortunately, as when this issue occurs the pull would take days to finish

[2022-01-07 09:39] #6943 closed

[2022-01-07 10:22] skshetry commented on #7230
You can try pulling a smaller dataset or subset of a large dataset.
[code]

You can also create a small repo for the test if that's easier, we just need information where the time is being spent in general. Thanks.

[2022-01-07 11:26] #7228 closed

[2022-01-07 18:52] QuantumPlumber commented on #6107
If I can proffer another potential solution, if DVC could specify a format for not only the dvc.yaml but also yaml files for the `-d` and `-p ` arguments for `dvc run`. That way, quite complex dependencies and parameters could be created with utility functions by the helper classes/scripts, and re-used for individual stages, without having to create extremely verbose dvc.yaml files.

[2022-01-07 19:48] davebulaval opened #7238 "unexpected error - Forbidden: An error occurred (403) when calling the HeadObject operation: Forbidden"
# Bug Report

##
I have a strange behaviour with a DVC repository (ccf-project) that does not happen on other repositories connected to an S3-like bucket. My other repo is connected to AWS S3 buckets while the one with a strange behaviour is connected to an institutional S3-like bucket. (ccf-project). I have verified with institutional S3-like bucket admin and my credentials and my access are work

[2022-01-07 21:27] kjnam commented on #1940
@efiop I am interested in using Box.com for the remote backend. I wonder if this can be re-opened.

[2022-01-07 22:13] efiop commented on #1940
@kjnam Hey :) Thanks for your interest! These days we use fsspec as a backend, which has support for ftp https://github.com/fsspec/filesystem_spec/blob/master/fsspec/implementations/ftp.py so box.com could potentially be supported through that (we don't support ftp natively in dvc, but it can be implemented fairly easily). We've been working on  introducing plugin mechanism (e.g. https://github.co

[2022-01-07 22:43] efiop commented on #7238
Hi @davebulaval 🙂

Let's try to narrow it down a bit. Does aws cli work with it?

[2022-01-08 00:56] davebulaval commented on #7238
Hi @efiop

It is not an AWS bucket the one I have an error message on (the ccf-project). It's an S3-like bucket given by my university.

[2022-01-08 01:07] efiop commented on #7238
@davebulaval Right, I'm just saying that it also operates (at least it should) through s3 protocol, so if aws cli tool (https://aws.amazon.com/cli/ , e.g. `aws s3 ...`) doesn't work with it - dvc also won't.

[2022-01-08 01:57] davebulaval commented on #7238
@efiop ahhhh did not know. Good to know.

So I've tested the following command
[code]

And I get a list of elements in the bucket as expected (hashed files).

[2022-01-08 07:50] tirkarthi commented on #7211
See also https://github.com/iterative/dvc/issues/6870

[2022-01-08 10:09] efiop commented on #7238
@davebulaval And could you try `head-object` on one of those objects that you got? E.g.

[code]

 Also, are you sure you've configured endpoint_url and profile in dvc config? Just making sure.

 If s3api works, could you also try using some particular directory instead of the whole bucket as a remote in dvc? E.g. `s3://bucket-poc-juliendavid/dvcremote`

[2022-01-08 11:53] efiop commented on #7211
Closing in favor of #6870

[2022-01-08 11:53] #7211 closed

[2022-01-08 13:33] davebulaval commented on #7238
1. So, I have a test-folder in the bucket and tested with the following command:

[code]
and I got the following `.json` return:

[code]

2. Yes, it is configured in the project `.config` file. Here is a copy-paste of it.

[code]
3. Interesting, I have changed the remote URL to `url = s3://bucket-poc-juliendavid/test-folder`
and I get different errors. For sure, It said some data are missing. Here

[2022-01-08 14:14] efiop commented on #7238
and I get different errors. For sure, It said some data are missing. Here is the complete output of dvc pull -v.

Does `dvc push` work? `pull` is saying that there are missing files on remote, which is no wonder if you didn't push them yet.

[2022-01-08 18:40] efiop commented on #7231
@gvwilson Sorry for the delay. The interesting thing is that we've been talking about supporting such labeling/notes/etc for some time (and that's kinda where `desc` and `meta` came from), but we didn't want to put any constrains on the format. In your case, it looks like you could simply put both notes and/or labels files besides the artifact that you want to attach it to into one common director

[2022-01-08 22:05] ntjess opened #7240 "`--force` not allowed during `dvc move`"
# Bug Report

## Description

`--force` is required to overwrite a file during move, but this isn't allowed as a parameter

### Reproduce

1. Create a directory with files `a` and `b`, checking both into dvc
2. `dvc move a b` produces the error
    ```Use '--force' to overwrite.```
3. `dvc move --force a b` produces the error
     ```ERROR: unrecognized arguments: --force```

### Expected

`force`

[2022-01-09 07:15] tirkarthi commented on #7240
Sample test case. The move used to overwrite before 256cb06921da79dd5fcb8c35023504a98afdacdf

[code]

[code]

[2022-01-09 08:22] tirkarthi commented on #7240
A simpler fix would be to pass `force=True` during new stage creation and I can create a PR. Please let me know if I am missing some other case here.

[code]

[2022-01-09 09:22] pmrowla commented on #7240
`dvc move` isn't supposed to have a `--force` argument, the error message suggesting to use `--force` is the bug (the message probably comes from `stage` code that isn't actually applicable during `dvc move`).

`move` overwriting by default prior to that change was a bug and led to unexpected behavior, particularly when dealing with tracked directories (see the original issue that was fixed by tha

[2022-01-09 12:12] tirkarthi commented on #7240
Thanks for the clarification @pmrowla . The hint seems to be tightly coupled to the validation function. The hint makes sense for single/pipeline stages created with run as suggested in https://github.com/iterative/dvc/issues/4003. Perhaps an additional flag being passed to check_stage_exists like `show_hint` which is by default is True and dvc.move passes it False through **kwargs while trying to

[2022-01-09 12:25] tirkarthi commented on #7161
See also https://github.com/fsspec/s3fs/issues/477 . It seems presence of ETag is not reliable.

[2022-01-09 13:13] pmrowla commented on #7240
I don't think we need an extra flag, the hint in `check_stage_exists` can probably just be specific to the `PipelineStage` case here:

https://github.com/iterative/dvc/blob/92f714e5ca7f4a9e7701a06f7d21b478049f4af7/dvc/stage/utils.py#L293-L301

cc: @skshetry

[2022-01-09 13:34] gvwilson commented on #7231
Hi @efiop - no need for apologies, I'm very grateful for the feedback.

1. My first prototype used separate files for annotations beside the data file and `.dvc` file. User response was negative: a second file and tool to manage datasets is already a bit confusing ("when do I DVC and when do I Git?") but a third is simply confusing ("When do I `git`, when do I `dvc`, when do I `dgn`?").
2. Wasn't

[2022-01-10 04:07] ciaochiaociao opened #7244 "`conda install/update dvc-ssh` does not install the proper version of `sshfs` to allow us to work well with `dvc push`"
# Bug Report

## Description

`conda install/update dvc-ssh` does not install the proper version of `sshfs`, which is `sshfs=3.0.0` now but should be `sshfs=1.1.1`.
This will trigger an error when `dvc push`.

### Reproduce

[code]

### Environment information

[code]

**Additional Information (if any):**

Current hack: `conda update -n dvc cryptography` will install the correct version of the `ss

[2022-01-10 10:57] olliestanley commented on #7230
@skshetry @efiop Apologies for the delay responding to this. In attempting to obtain the profiling information for you I realised the problem only occurs when pulling a large subsection. I pulled our smallest dataset from the store (around 850 files) and it completed in a couple of minutes on DVC 2.9.3 no problem on SageMaker. So assuming something close to linear scaling you might expect a 20,000

[2022-01-10 11:02] skshetry commented on #7230
@olliestanley, is that the correct profiling data? It seems to only run for 5.8s.

[2022-01-10 11:06] olliestanley commented on #7230
That is definitely the profiling data for one of the successful pulls I executed on a small subset of our data. I ran two in total, here's the profiling data for the other (with a slightly larger but still small subset) if it's any more useful:

[pull2.prof.zip](https://github.com/iterative/dvc/files/7838365/pull2.prof.zip)

[2022-01-10 12:05] efiop commented on #6956
Looks like it is stale now. Closing

[2022-01-10 12:05] #6956 closed

[2022-01-10 12:32] skshetry opened #7246 "dvc-data: cancelable operations"
For UI, ideally we'd like to immediately cancel all operations and exit when the user Ctrl+Cs. If not, with a moment notice (again sending SIGINT should however force exit).

This is not possible right now because we use threads, but dvc-data should provide us a way to cancel any operations in the middle, by cleanly exiting.

`add`, `push`, `pull`, `import`, get, etc. data related commands are aff

[2022-01-10 13:43] davebulaval commented on #7238
`dvc push` work. It has push the file in the `test_folder` within the bucket.

[2022-01-10 14:07] efiop commented on #7238
@davebulaval And `dvc pull` after `dvc push` doesn't?

[2022-01-10 14:39] pared commented on #6923
Regarding last point:

Seems like we won't be unifying props handling - DVC and Viewer use cases are different. DVC is happy with using plots properties from a single revision, which means using props from the current workspace to override properties set up in different revisions. Workflow enforced by DVC makes it easy to edit potential misconfiguration. In the case of the viewer, the plots compar

[2022-01-10 14:42] pared commented on #6923
Seems that after #7007 and #6793 Biggest pain points have been addressed. Closing for now. If we find some more problems with DVC-Viewer communication we can reopen this and iterative/viewer#2657

[2022-01-10 14:42] #6923 closed

[2022-01-10 21:51] davebulaval commented on #7238
I got the following
[code]

[2022-01-10 22:04] woodshop commented on #7186
Wondering if this is related to an earlier resolved issue that I posted about. https://github.com/iterative/dvc/issues/5740

[2022-01-10 22:33] efiop commented on #7238
@davebulaval Looks like you either didn't push something or there is some serious bug. Try to check if `16/1abc98b97fe854442128ae9b5643dc` exists using webui and aws cli.

[2022-01-11 00:10] kjnam commented on #1940
@efiop Thanks for your prompt response. In may case, Box.com is via my company, so I do not think I will be able to use ftp for Box. At any rate, I will look into what you suggested.

[2022-01-11 05:19] skshetry opened #7253 "toml: being 1.0.0 compliant, preserving style on dump"
We support toml as params file. There are a few issues with our current toml parsing:
1. We use `toml` library, which is not toml 1.0 standard compatible. Also, [the library is not being actively maintained]( https://github.com/uiri/toml/issues/361).
2. `toml` dumping does not preserve existing formatting.
3. https://github.com/iterative/dvc/issues/6402

We can try migrating to `tomli` (which is b

[2022-01-11 07:29] pmrowla opened #7254 "exp run: local config settings are not propagated into temp workspace"
When generating the temp workspaces we do not respect the parent repo's `config.local`, so `--local` overrides for link types or state/index location will not be propagated and used during exp execution.

[2022-01-11 11:01] #7152 closed

[2022-01-11 13:21] efiop commented on #7207
Note that actual building with signing is happening in https://github.com/iterative/dvc-s3-repo

[2022-01-11 15:43] ikrets opened #7257 "`poetry add dvc[s3]` does not install `boto3`"
# Bug Report

## Description

Installing `dvc[s3]` with poetry does not install `boto3`, so `dvc push` or `dvc pull` do not work.

### Reproduce

[code]

### Expected

It is expected that `boto3` is installed.

### Environment information

Python 3.8, poetry 1.1.12, DVC 2.9.3.

**Output of `dvc doctor`:**

[code]

[2022-01-11 20:41] mvpalheta commented on #2432
Hi, I am also interested in this feature.

[2022-01-12 08:06] agrizzli commented on #7070
I have now experienced that the described shift in the table does not only happen when renaming files, but even when introducing  new metrics. For runs with less metrics, there will be a shift in column values, making it completely unreadable.

[2022-01-12 13:40] dtrifiro commented on #7257
Also happens on ubuntu204/python3.8.10 with pip:
[code]
results in

  File "<string>", line 1, in <module>
ModuleNotFoundError: No module named 'boto3'
[code]

[2022-01-12 13:51] efiop commented on #7257
@dtrifiro That one should be solved by `pip install -U pip`, there was some bug in dep resolution in pip that got fixed.

[2022-01-12 17:21] skshetry commented on #7257
This looks like a bug in poetry, similar to https://github.com/iterative/dvc/issues/6886. See https://github.com/python-poetry/poetry/issues/4683.

A workaround may be to just explicitly specify dependencies as we did with others.

[2022-01-12 17:23] daavoo commented on #7070
Hi @agrizzli ! I'm going to try to reproduce and get back to you

[2022-01-12 19:43] daavoo commented on #7070
Able to reproduce. The bug also affects a few other scenarios

[2022-01-13 08:34] pmrowla commented on #7244
The current version of `sshfs` is `2021.11.2`, and the conda `dvc-ssh` package installs `2021.8.1` or later: https://github.com/conda-forge/dvc-feedstock/blob/881269f01978023329f1dffd9086b15d539eeba2/recipe/meta.yaml#L208

I'm assuming you were referring to the `openssl` version and not `sshfs`?

I don't think this is an issue with the DVC or `sshfs` conda packages. openssl is a system package tha

[2022-01-13 08:34] #7244 closed

[2022-01-13 10:51] DavidGOrtega commented on #7207
Sorry @efiop what do you mean? Would be that OK?

[2022-01-13 11:01] dtrifiro commented on #7207
@DavidGOrtega the github workflow in `dvc-s3-repo` is actually responsible for building/signing the `deb`/`rpm` packages and uploading  them to s3

[2022-01-13 14:15] dberenbaum opened #7263 "exp show: sort commits"
It's currently only possible to sort experiments within their parent commit, but it can also be useful to sort the actual commits, tags, or branches themselves. It would be nice to have some option like `--sort-commits`, `--sort-parents`, or similar.

See https://discuss.dvc.org/t/dvc-exp-show-experiment-not-showing-wrong-position/1019/1

[2022-01-13 14:31] carlthome commented on #7148
I'm also a deb package user hitting

just now with dvc 2.9.3 and gcloud 368.0.0 - is there a quick & obvious fix for this or is the way forward to `pip install dvc` in a venv instead?

[code]

[2022-01-13 15:48] daavoo commented on #7257
Is there a way to test the workaround locally?

[2022-01-13 16:49] tomliptrot commented on #7257
I get a similar issue when trying to install boto3 after installing dvc[s3].

[code]

My investigations led to this issue https://github.com/fsspec/s3fs/issues/357

I tried installing just dvc and adding s3fs<0.5.0 separately.
[code]

This allowed me to install boto3, but now dvc does not work.
[code]

[2022-01-13 16:56] dberenbaum commented on #7263
@shcheklein @tapadipti What do you think about this for Studio? Have you seen any requests to sort across branches?

[2022-01-13 17:20] efiop commented on #7148
Looks related to https://github.com/iterative/dvc/issues/7207

[2022-01-13 17:29] davebulaval commented on #7238
At this point, I think it is on the institutional side of the problem. And it become too long to solve, so I've used the classic "send me data by email" for now. I will close the issue for that reason.

[2022-01-13 17:29] #7238 closed

[2022-01-13 18:11] ikrets commented on #7257
@tomliptrot explicitly specifying `boto3==1.19.8` in `pyproject.toml` functioned for me as a workaround.

[2022-01-13 19:13] dtrifiro commented on #7207
Will be fixed with next release (see https://github.com/iterative/dvc-s3-repo/pulls/7207 )

A workaround for existing installations is to copy (or symlink) an existing ca cert bundle to /etc/pki/tls/ for example:
[code]

[2022-01-13 20:23] tomliptrot commented on #7257
That worked! Thanks

[2022-01-13 21:01] shcheklein commented on #7263
The only slightly related one is this one https://github.com/iterative/studio-support/issues/44 . That's all that comes to my mind, @dberenbaum . May be Tapa can remember more.

btw, @mattseddon I think we decided in VS Code to sort actual parents (and keep checkpoints as-is) or what is the current mode?

[2022-01-13 21:13] #7207 closed

[2022-01-13 21:57] mattseddon opened #7265 "`plots diff`: duplicate revisions not returned"
# Bug Report

## Description

If I give plots diff two revisions that are actually the same (e.g `f123def` and `HEAD` when that commit is the `HEAD` or simply `f123def` & `f123def`) then neither are returned with the output.

### Reproduce

[code]
[code]
[code]

A mixture of duplicate and non-duplicate entries will return the output only for non-duplicates:
[code]
**output for HEAD only**

### Exp

[2022-01-13 22:04] mattseddon commented on #7263
That's correct, we only sort experiments and leave their checkpoints alone.

[2022-01-13 22:23] dberenbaum commented on #7263
Sorry for being unclear, this is not related to checkpoints. By parent commit, I mean the branch, tag, or regular Git commit from which the experiment originated.

For example:

[code]

Not the best example, but this is about sorting between `exp`, `main`, and `mynewexp`. Not sure if that's relevant for VS Code, or if you always show only experiments based on the current workspace.

[2022-01-13 22:32] mattseddon commented on #7263
Right now we only show experiments for the current workspace. This would be a future question/problem for us, not immediate 👍🏻 .

[2022-01-14 08:37] jpaasen opened #7268 "Force push option"
I recently experienced corrupted data when transferring large files to google cloud storage (gcs).

See discussion on Discord [here](https://discordapp.com/channels/485586884165107732/485596304961962003/930806914009419806).

In short, the md5 of the files at the remote was different than the md5 filename given to it by DVC. And since the md5 values at the remote were the correct ones, it was not p

[2022-01-14 09:00] jpaasen opened #7269 "Extend status -c command to also check for corrupted files on the remote"
See discussion on Discord [here](https://discordapp.com/channels/485586884165107732/485596304961962003/930806914009419806).

In short, we experienced corrupted files on our google cloud storage when using DVC.

See #7268 for more details.

When this situation occurs it would be convenient to have the `dvc status -c` to also check for corrupted files.

In our case, we could use `gsutil ls -L` to li

[2022-01-14 09:32] Toekan commented on #3590
Related question: I'm trying to use `dvc get path/to/local_dvc_project name_of_file_to_download` and I'm getting:

[code]

Has there been work done on allowing to use dvc get without git? I saw people wondering about use cases: I want to use dvc to download some files during runtime of a docker container, at which point I have no git credentials. Ideally I would just use boto3, but at the moment I

[2022-01-14 11:25] dtrifiro commented on #7148
Hi @Carllizca does the workaround reported in #7207 work for you?

[2022-01-14 14:12] efiop commented on #7268
@jpaasen Do you know how the corruption happened? We verify local files before uploading them, so it is quite unusual for files to get corrupted on remote.

Alternative/additional approach here would be to use existing `verify` remote config option (and/or introduce a corresponding CLI flag) to not only check files when downloading them but to also check remote files when trying to upload (and pro

[2022-01-14 14:58] daavoo commented on #7268
Answered in discord:

[2022-01-14 18:04] jorgeorpinel opened #7270 "`get`: Failed to clone repo (local)"
_Originally posted by @Toekan in https://github.com/iterative/dvc/issues/3590#issuecomment-1012953705_

...I'm trying to use `dvc get path/to/local_dvc_project name_of_file_to_download` and I'm getting:

[code]

Has there been work done on allowing to use dvc get without git? I saw people wondering about use cases: I want to use dvc to download some files during runtime of a docker container, at w

[2022-01-14 18:10] jorgeorpinel commented on #7270
Sounds like `path/to/local_dvc_project` is not a git repo. Is it a subdirectory of a repo? If so you can try something like

`dvc get path/to_repo subdir/file_to_download`

[2022-01-14 18:11] jorgeorpinel commented on #7270
Hmmm I guess this does relate back to https://github.com/iterative/dvc/issues/3590#issuecomment-609471549. Maybe it's a duplicate issue, sorry!

[2022-01-14 18:14] jorgeorpinel commented on #7270
From https://github.com/iterative/dvc/issues/3590#issuecomment-793115585 is seems like `list` at least should open local repos directly but I'm not sure about `get`. For now can you post the output of the same command but adding the `-v` flag, @Toekan? Thanks

[2022-01-15 05:09] pmrowla commented on #7186
This is definitely a bug for the `--temp/--queue` use case, we don't handle submodules at all there. We probably need to be doing submodule pull/update in the temp workspaces that we create.

I'm not sure why `exp run` does not work for workspace runs though, as we should not have to do anything special there, since the submodule is already set up properly.

@woodshop it would help if you could pr

[2022-01-15 16:55] smartkiwi commented on #4336
I'd like to ressurect this issue.
Can we clarify what kind of DBFS support for DVC we are taking about - start with requirements and use cases.

I can think about several
* DBFS as a blob storage backend for DVC (accessible from withon Datsbricks cluster, where DBFS is accessible through local FS interface, also from outside Databricks env via REST API).
- * DVC use DBFS as a target FS - i.e. data

[2022-01-17 07:32] achimgaedke opened #7274 "dvc repro keeps adding target files with brackets to .gitignore"
# Bug Report

To reproduce:

Create a dvc repo with a single `dvc.yaml` file

[code]

Run `dvc repro -f` multiple times and the `.gitignore` file will become longer and longer (here only 2 executions):

[code]

I'd expect the `/all\[lovely\]people.txt` line added only once, just like the `/all-welcome.txt` line.

This was observed on an ubuntu-20.04 system with

[code]

and

[code]

[2022-01-17 08:09] jpaasen commented on #7268
Correct @daavoo

[2022-01-17 12:29] tapadipti commented on #7263
There's another one related to comparing results across branches (https://github.com/iterative/cse/issues/17). But this also isn't about sorting across branches.

[2022-01-17 12:35] skshetry opened #7276 "`dvc exp run` prints exception message twice"
Here's the repro:
[code]

This outputs:
[code]

[2022-01-17 17:17] daavoo commented on #5562
Two related issues on discord:

https://discord.com/channels/485586884165107732/485596304961962003/932563413777924096
https://discord.com/channels/485586884165107732/485596304961962003/932663444329615420

[2022-01-17 19:22] daavoo opened #7278 "`plots`: Update "smooth` template to match `linear`"
The `linear` template has different sizes and additional features (i.e. on hover labels).

[2022-01-17 23:24] dacbd opened #7279 "Reading Credential data for GCP"
With a `gs://` remote DVC will look at the env var of `GOOGLE_APPLICATION_CREDENTIALS` for a path to the JSON file for a service account but doesn't accept `GOOGLE_APPLICATION_CREDENTIALS_DATA` which contains the actual JSON

[2022-01-18 07:12] skshetry opened #7281 "'None' does not contain DVC directory"
[code]

[2022-01-18 07:28] skshetry commented on #7137
I disagree with this, exit codes are important, well that's how you know it's succeeded or failed (or crashed).

This is unrelated to `dvc exp init` and out of scope to be honest for this. This is part of a larger issue with DVC and happens in all of the commands. When I brought this a year ago for https://github.com/iterative/dvc/issues/5387, there were disagreements on how to handle these errors

[2022-01-18 13:05] dtrifiro commented on #7045
Closed as I could not reproduce

[2022-01-18 13:05] #7045 closed

[2022-01-18 13:46] daavoo commented on #7279
Is `GOOGLE_APPLICATION_CREDENTIALS_DATA` supported by Google Cloud API ?

[2022-01-18 13:52] daavoo commented on #7279
For the record, we rely on https://github.com/fsspec/gcsfs for handling `gs` remotes

[2022-01-18 15:29] daavoo commented on #7274
Able to reproduce in https://github.com/iterative/dvc/commit/3cded4109adedda04ae85533b2997d458d176ba7

[2022-01-18 15:36] daavoo commented on #7279
Closing it for now. @dacbd feel free to reopen if you would like to request that feature

[2022-01-18 15:36] #7279 closed

[2022-01-18 19:09] dberenbaum commented on #7281
@skshetry Are preparing a PR for this? I'm not clear what the issue or expected behavior is.

[2022-01-18 19:44] efiop commented on #7281
This is a regression from https://github.com/iterative/dvc/pull/7214 , most likely. The expected behaviour is to complain that you are not insde of the dvc repository right now.

[2022-01-18 22:46] bgroenks96 commented on #5562
Happy to see that there has been some progress on this. This unfortunately makes dvc pretty much unsusale for me at the moment, except for small-data projects.

[2022-01-18 23:02] bgroenks96 commented on #5562
Also @brbarkley , 5 mins sounds great... I have been waiting over an hour for dvc to compute hashes on a directory with 1000+ files....

[2022-01-18 23:39] #7281 closed

[2022-01-19 01:20] dberenbaum opened #7284 "Link to submit pre-populated bug reports on unexpected errors"
See the suggestion at the end of https://clig.dev/#errors:

It would be nice to detect unexpected errors or other possible instances where a bug report might be appropriate, and then provide a url with a prefilled report of info (version, traceback) - see https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue#creating-an-issue-from-a-url-query.

Pros:
* Easy way for use

[2022-01-19 02:24] evanrittenhouse commented on #5841
@karajan1001 is this still open? New to open source, but would love to take a stab at it

[2022-01-19 08:39] bgroenks96 commented on #5562
Upgrading to DVC 2.9.x and adding the config options suggested above seems to resolve this.

[2022-01-19 10:10] yukipyng commented on #7270
Hello, I have run into the same issue but with `dvc import`.
For my situation, In our team we have a large git monorepo where there are 2 dvc repos which have initialized with `dvc init --subdir`. Those `.pt` files are generated from the stage and I want to import `model_B_1.pt` into `dvc_project_A` for further development.

[code]

When I'm trying to use `dvc import ../dvc_project_B output/model_

[2022-01-19 10:44] conrad-stork opened #7288 "url path for webdav push gets duplicated in dvc versions >=2.9.0"
# Bug Report

## Description

We have identified a bug(?) introduced from version 2.8.3 to 2.9.0. When pushing dvc data to a webdav server the path of the url gets duplicated. For example: If we push to webdavs://servername.com/path/to/location it pushes to webdavs://servername.com/path/to/location/path/to/location (creating all folders of the second "path/to/location" on the server). As it works

[2022-01-19 15:49] Greenall opened #7292 "repro: allow reproducing disjoint dags on error"
I have a bunch of dags in a project that run regularly (with a single dvc repro command to run all dags in the project).
It is not uncommon that one dag should fails due to factors outside my control. Current repro behaviour is to halt at the first error and not run any further dags, even if disjoint from the one that fails. For me, would be useful to have an optional param like --ignore-error tha

[2022-01-19 16:50] dtrifiro commented on #7274
This does not happen when using the `pygit2` (or `gitpython`) backends, so it seems to be related to how `dulwich` handles ignore patterns from `.gitignore`. In particular, it might be due to [`dulwich.ignore:translate()`](https://github.com/dulwich/dulwich/blob/0502730b136f8928309b5ca703a369e5a9e77ec9/dulwich/ignore.py#L78), which translates shell patterns to regex patterns.

Thanks @daavoo

[2022-01-19 17:36] pared commented on #3590
@Toekan lets move the conversation to #7270

[2022-01-19 17:38] pared commented on #7270
From:
https://github.com/iterative/dvc/issues/3590#issuecomment-1012953705

@Tokean
instead of
`dvc get path/to/local_dvc_project name_of_file_to_download`
you could use `dvc get-url path/to/local_dvc_project/name_of_file_to_download`
Does it make sense in your use case?

[2022-01-19 17:45] pared commented on #7270
@yukipyng
could you try specyfying git repo as a target repo? In this case:
[code]
instead of
[code]

[2022-01-19 18:30] bmccord2 commented on #7148
I was getting this issue with gcfs and dvc 2.9.3 installed via apt package.  The issue seemed to only occur when doing a "dvc push" rather than a pull (although I had nothing to pull, I got an "up to date" message with no errors).  I uninstalled the package and installed via pip (2.9.3) and it seems to have fixed the issue.  The only other thing I should add is it seems someone had already install

[2022-01-20 02:28] #7079 closed

[2022-01-20 02:28] #7080 closed

[2022-01-20 02:28] #7083 closed

[2022-01-20 10:37] GlaIZier commented on #4428
Hi and have a good day!

I've stumbled upon a weird behavior related to this issue.

Consider this dvc.yaml:
`
stages:
  first:
    cmd: touch 1.txt
    outs:
      - 1.txt:
          cache: false
`
In this case everything works well: cache is empty.

However, if I added a second stage dependent on the first one:
`
stages:
  first:
    cmd: touch 1.txt
    outs:
      - 1.txt:
          cache: fal

[2022-01-20 14:02] daavoo opened #7298 "`add`: Revisit `--jobs` option."
Currently, the `--jobs` option in `dvc add` only has an effect if `--to-remote` is also used.

I find this behavior counterintuitive as I would expect `dvc add --jobs` to have an effect on the operations related with "plain" add like computing checksums.

Opened https://github.com/iterative/dvc/pull/7297 and https://github.com/iterative/dvc.org/pull/3199 .

Apart from that, I think we should consi

[2022-01-20 14:13] karajan1001 commented on #5841
Sorry, we had already had a PR for it (#6120) but was blocked by some refactoring. So maybe it is better to start with some other issues with `good first issue`.

[2022-01-21 03:43] yukipyng commented on #7270
That worked! Thanks a lot!

[2022-01-21 11:52] ygbingo opened #7301 "dvc push: Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL"
# Bug Report
## Description
When I use dvc push, I got this unexcepted error - "Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL".

### Reproduce

1. dvc init
2. Copy dataset.zip to the directory
3. dvc add dataset.zip
4. dvc remote add -d *** azure://***/***
5. dvc remote modify *** account_name *****
6. az cloud set -n AzureChinaCloud
7. az login
6. dvc push

[2022-01-21 13:02] karajan1001 commented on #7120
related to #5841?

[2022-01-22 19:39] pared commented on #7288
@conrad-stork Hello!
Could you provide some information on how to reproduce this particular problem?

[2022-01-22 19:41] pared commented on #7301
@ygbingo could you post the stack trace for failing `dvc push -v`?

[2022-01-23 07:50] ygbingo commented on #7301
Sure, and thanks for your reply. When I run ```dvc push -v```, I got error like
[code]

And this is my ```dvc push -v``` output:
[code]

[2022-01-24 11:04] pared commented on #7301
@ygbingo Would it be possible to post the whole trace for `dvc push -v` command?

[2022-01-24 11:40] skshetry commented on #6605
Duplicate of #4112

[2022-01-24 11:41] skshetry commented on #6605
Let's close this then @dberenbaum.

[2022-01-24 11:41] #6605 closed

[2022-01-24 13:31] pared commented on #4428
Hello @GlaIZier! I am afraid that you are right, in this case `--no-run-cache` option added to `repor` should disable the run cache but it does not (as in example I posted some time ago: https://github.com/iterative/dvc/issues/4428#issuecomment-741618372) We still didn't found time to get to this bug. How severe it is to you?

[2022-01-24 14:25] louis-van-der-stam commented on #7230
I came here via a google search after experiencing something similar. While investigating dvc I found that running it with the workarea on a local HHD/SSD gives good performance, but running it on a workarea that is on a mounted filesystem deteriorates the performance below a usefull level for a project with a large number of files managed by dvc. When running a command to manualy md5sum and cp th

[2022-01-24 15:43] dberenbaum commented on #4428
@pared For the first stage above, is the run cache not triggered because there are no dependencies?

[2022-01-24 17:08] ipovalyaev opened #7303 "push: Some files are not pushed to aws s3 compatible storage"
## Description
Some of the files are not being pushed to aws s3 compatible storage (spaces at digital ocean). No any error is displayed, but actual push doesn't happen.
I didn't find any useful information how to check if my files are actually in the bucket and how can I find those :(
Or any other ways to find out what going on under the cover (except studying the source code in repo, which I didn

[2022-01-24 17:34] ipovalyaev commented on #7303
Applied some fancy hack -
modified [base.py](https://github.com/iterative/dvc/blob/73fee513b955f1b44542a450318ad42eec850add/dvc/fs/base.py#L43) to `False`. Now query for status works without traverse (this the difference I've found from the logs). Pulling the files to another path gives
[code]

[2022-01-24 19:28] dberenbaum opened #7304 "`exp show`: differentiate params, metrics, data"
After https://github.com/iterative/dvc/pull/7089, there are now 4 different sets of columns in `dvc exp show` each with its own designated color:

1. General experiment info
2. Metrics
3. Parameters
4. Data

![image](https://user-images.githubusercontent.com/2308172/150848510-474604ad-3a71-4692-8464-fe089c70d34a.png)

It would be helpful to more clearly designate which columns fall into each categ

[2022-01-24 21:48] woodshop commented on #7186
Apologies for the slow reply!

[code]

[2022-01-25 03:18] shcheklein commented on #7304
Hey @iterative/websites and @iterative/vs-code let's pay attention to this since it already affects us (data columns to show + the future changes)

@dberenbaum one thing also to look into. `dvc exp show` CLI table doesn't have any "layers" like Studio and VS Code have ... without them it's hard to support more or less real nesting (and keep table sane width), also hard to disambiguate when there a

[2022-01-25 07:22] skshetry commented on #7276
This is happening because of:

https://github.com/iterative/dvc/blob/822b501069f4553b76534aadf0b2266fd5c26c24/dvc/repo/experiments/executor/base.py#L563-L565

@pmrowla, do we need to log errors here if we want to raise it again anyway?

[2022-01-25 07:37] pmrowla commented on #7276
We normally need to log them here because they are normally not re-raised. The exceptions happen inside multiprocessing child process contexts, and an exception is returned w/ the multiprocessing futures, but the exceptions are not re-raised at that point.
https://github.com/iterative/dvc/blob/47d10c4a8b9bdc18dec17a9380f0593e43383c4c/dvc/repo/experiments/executor/manager/base.py#L215

I think the

[2022-01-25 08:42] ygbingo commented on #7301
The whole ```dvc push -v``` output:
[code]

[2022-01-25 11:02] daavoo commented on #7304
There seem to be a few differe issues here:

👍 Will try to cover as part of the docs P.R. for #6434

I believe this should be revisited by the design team as it affects tables cross-product and a common palette should be defined for all.

This filtering logic could be implemented internally without the need to be reflected in the rendering of the table, just mentioning so that it doesn't bias the

[2022-01-25 12:11] skshetry commented on #7130
We should still try to guide users on `exp run`, as these may still happen if `dvc.yaml` is modified by users. That does not mean that we cannot improve `exp init` message.

Another problem that I see these days is that `exp init` has a concept of `data`/`models`/`source`, etc. which we don't have in `dvc.yaml` (which is translated into dependencies/outputs instead) which makes the successive `exp

[2022-01-25 12:16] skshetry commented on #7130
If we make `--explicit` the default, we'll force users to iterate their stage through `dvc.yaml` later, I am not sure if this a good or a bad thing though.

[2022-01-25 13:00] dberenbaum commented on #7304
Good point, although it means `--keep/--drop` no longer exactly reflect the column names. Not sure what's best honestly.

Also note that it's open to sponsorship.

[2022-01-25 13:16] #7276 closed

[2022-01-25 15:01] dmpetrov commented on #7130
@skshetry good point about `--explicit`. A whole set of defaults might lead to a better default experience.

[2022-01-25 22:59] pared opened #7307 "import: does not work with repositories using params"
Importing some data from parametrized repository does not work.

reproduction:
[code]

Result:

[code]

On the first sight the culprit seems to be `dvc/repo/stage.py::_maybe_collect_from_dvc_yaml` which passes `dvc.yaml` to `StageLoad.load_all`, while it seems that it should be a path to the file.
https://github.com/iterative/dvc/blob/d882e21b9b013f69abff960a8bad62d822024b59/dvc/repo/stage.py#L66

[2022-01-26 02:22] karajan1001 commented on #7303
@ipovalyaev
Thanks for your reports as well as the analysis on digital oceans.

[2022-01-26 08:01] pmrowla commented on #7304
The color palette as it currently exists was just kept from the original "we could do this to kind of make the CLI table look like the viewer" example, from way back before experiments were released.

This makes sense for actual GUI applications like studio + vscode, but I'm not sure we should try to enforce this on the CLI side.

Honestly I think we should probably get rid of having any kind of b

[2022-01-26 12:59] skshetry commented on #7307
Looks like the issue is how we use `wdir` instead of git repo's root, which happens here:
https://github.com/iterative/dvc/blob/d882e21b9b013f69abff960a8bad62d822024b59/dvc/parsing/context.py#L402

This is definitely serious bug, and may need serious consideration on how to fix on filesystem side. Assigning it myself.

[2022-01-26 13:43] gvwilson commented on #7231
Any further thoughts from the dev team on whether this one's of interest?

[2022-01-26 15:10] dberenbaum opened #7309 "ui: use relative paths in outputs and errors"
Extracted from #7130. In general, relative paths are preferred to absolute paths. This can be part of UI guidelines and related to #5392.

[2022-01-26 17:45] #6434 closed

[2022-01-26 20:09] WilliamHarvey97 commented on #7148
I had the same issue. It was solved by regenerating the certificate using certifi. To do so, run `Install Certificates.command` from your terminal. In my case, this script was under `/Applications/Python 3.9/Install Certificates.command`.

[2022-01-26 20:23] dberenbaum commented on #7304
Yes, having nested columns would also allow us to shorten column widths for paths in nested directories, which would be really helpful even if we don't use it to differentiate params, metrics, and data. Maybe we could look into sponsoring or contributing back?

Even without true nesting, we could start splitting column headers to multiple lines to condense width (for example, on path separators).

[2022-01-26 23:26] endremborza commented on #7118
I started looking into it a little better as I made time for it.

There are 4 symlink related tests in `func/test_add.py` (which breaks a bunch of pylint rules btw and can not go through pre-commit) I added one in #7119 that basically covers the [use case](https://dvc.org/doc/command-reference/add#add-symlink) above. This breaks without the suggested change, and passes with it.

However, I'm not s

[2022-01-27 02:58] #7270 closed

[2022-01-27 07:03] pmrowla commented on #7001
I'm not sure this is a bug, from the related PR:

[2022-01-27 08:53] daavoo opened #7312 "`exp show`: Sort `deps` columns"
@daavoo It looks like the data columns are in a random order and it sometimes changes on repeated calls to `exp show`. Can we sort in alphabetical order or some other predictable way that will make sense to users?

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/7089#issuecomment-1022544064_

[2022-01-27 09:41] ipovalyaev commented on #7303
Update: without aforementioned patch even `dvc pull` is failing on new installation, so it makes pull not working for anyone,  the issue impact not only those, who pushed.
This could be regression of s3 issue  https://github.com/iterative/dvc/issues/6691 in previous version

[code]

[2022-01-27 12:23] conrad-stork commented on #7288
@pared Yes I will try to explain it as accurate as possible. If something missing let me know. Concrete questions would help, because its not clear what you know anyways.

We are running a nginx server as a reverse proxy for all our web applications that we run in-house. This nginx server forwards the incoming requests to the web applications that are build in docker containers. The most important

[2022-01-27 12:34] pared commented on #7288
@conrad-stork ok, I've been playing with my own webdav account and it seems you are right, when I switch between different versions, the path on the server (for cache) is different. Investigating...

[2022-01-27 12:51] pared commented on #7288
did a bit of bisecting and it seems our path change has been the culprit:
9aec8f1926bd1d08d370d12902b9ad9b55707cf5

[2022-01-27 12:54] pared commented on #7288
@conrad-stork temporary workaround is to downgrade to `2.8.3`.

[2022-01-27 14:24] dberenbaum commented on #7001
Sorry, this was not well explained at all, and I was also confused. Here's the example again with the rich table results to make it easier to see what's happening:

[code]

In the rich table, current behavior makes sense since there is a visual cue of how the checkpoints connect to their parent. In the CSV, I think it makes the most sense to duplicate experiment info as much as possible in each ch

[2022-01-27 15:12] pared commented on #7288
Did a brief research and the problem is that before 9aec8f1 `_strip_protocol` returned whole PathInfo for WebDav:
https://github.com/iterative/dvc/blob/4175f9ffa4948157436283bef11153a7233e90ca/dvc/fs/__init__.py#L116-L122

Before this change we used `fs.base` one:
https://github.com/iterative/dvc/blob/4175f9ffa4948157436283bef11153a7233e90ca/dvc/fs/base.py#L73-L74

In 9aec8f1 we introduce webdav-s

[2022-01-28 01:40] mvonpohle commented on #2397
I'll just chime in and say that I'm still experiencing this problem on DVC 2.4.1.

[2022-01-28 04:24] jorgeorpinel opened #7314 "`exp show/list --num`: rename metavar from `<num>` to `<int>`"
..."num" is not informative since the option has the same name. "int" is a type hint at least, which some time ago we agreed to use for metavars AFAIR. Either way it should be pretty obvious here but suggesting as a UX improvement.

_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc/pull/7204#discussion_r794192834_

p.s. this will apply to other `dvc exp` commands soon (not ju

[2022-01-28 07:16] skshetry commented on #7130
@dberenbaum and I discussed creating workspace structure on defaults, and showing workspace tree on non-interactive mode as we do for interactive modes. We also need to work on #4112 to support tracking everything inside of params file.

[2022-01-28 12:33] kongkip commented on #6598
This issue was closed but I think it was no resolved, issue [#6600 ](https://github.com/iterative/dvc/pull/6600) doesn't resolve it either

This is the error am getting from my end

[code]

[2022-01-28 12:47] skshetry commented on #7314
I am not sure if I agree with this. We probably want to be consistent with other flags that require numbers too.
I think `number` is more fundamental/basic than an integer. And, `number` is a terminology used for counting.

Do you have a reference to this? Also, are you aware of any CLI programs that use `int` instead? Looking at Git, it uses `<number>`.
[code]

[2022-01-28 14:58] philipp-kohl opened #7316 "dvc repro: Pipelines (templating) and parameters - dvc looks in different directories for them?"
# Bug Report

## Description

Hi,
I have a question regarding dvc parameters and pipelines (templating):
We have a project where we separated the pipeline into different files (piplelines/pipeA/dvc.yaml, pipelines/pipeB/dvc.yaml, ...)
and we wanted to incorporate params into the pipeline. And we faced several error messages that the parameters could not be found. And thus, we reproduced the issue

[2022-01-28 15:31] dberenbaum opened #7317 "`plots`: show path in html"
Plots should show the path of the file or some other identifier for every plot. After https://github.com/iterative/dvc/issues/7086, in which plots may not have a single path, this could be whatever key identifier is used (for example, `train_vs_val` instead of the path).

[2022-01-28 17:53] mistermult opened #7318 "Move: Make it possible and cosistent to move files safely without checking them out first"
# Current situation
Assume that the file `video121.mpeg` is tracked by `video121.mpeg.dvc`. If one wants to move it to folder `subdir` it depends on whether `video121.mpeg` is checked out.

1) If `video121.mpeg` is checked out, then `dvc move video121.mpeg subdir/` must be used to do it safely.
2) If `video121.mpeg` is not checked out, then `mv video121.mpeg.dvc subdir/` can be used. `dvc move vid

[2022-01-28 21:26] dberenbaum commented on #7118
Looks like this was introduced in https://github.com/iterative/dvc/pull/5954.

[2022-01-28 21:37] alanbuxton commented on #2397
Same on 2.9.3. Deleted some directories on one machine, pushed to remote, pulled this to my other machine and the directories remained, but were empty.

[2022-01-28 22:29] efiop commented on #2397
@alanbuxton Sounds like you are tracking an empty directory, right? If so, that is correct dvc behaviour (it saved that the dir is empty and re-creates it empty on pull/checkout). This ticket is about leaving empty directories when switching from one version to another.

[2022-01-29 06:45] achimgaedke commented on #7274
Just created a bug report upstream.

The `.gitignore` file entry added by dulwich is effective, as `git status` does not show the file anymore. But the `IgnoreFilterManager.is_ignored` method returns a wrong value for the new entry, so it will be added again.

[2022-01-29 07:05] karajan1001 commented on #7318
Great.
I had to apologize that I didn't realize that `dvc move` only works one data file has an implicit requirement on the status of data files. This is definitely a flaw in the design.

[2022-01-30 01:38] mistermult opened #7319 "push: jobs count -j ignored; jobs count is not 4 for SSH (reason for #6856)"
# Bug Report

## push:  jobs count -j ignored; jobs count is not 4 for SSH (reason for #6856)
I had the same problem as in  #6856 "SSH: ValueError: Can't create any SFTP connections!" and investigated the problem. The problem is that 4\*core_count() parallel threads or connections are used. This is in many cases too much for my SSH/SFTP endpoint. Trying with `dvc push -j 1` did not help because th

[2022-01-30 09:55] daavoo commented on #7319
Hi @mistermult , thanks for the detailed report and debugging.

The removal of `_JOBS=4` for SSHFileSystem happened in https://github.com/iterative/dvc/pull/6295 . I believe it was not intentional as there are no explicit mentions in the P.R.

About missing to pass `jobs` in some parts, I don't know if it's intentional or not cc @efiop .

[2022-01-30 12:50] mistermult commented on #7319
I added `_JOBS=4` again. Then 4 jobs are used and the problems from #6856 "SSH: ValueError: Can't create any SFTP connections!"  are gone.

[2022-01-30 22:38] efiop commented on #7319
@dtrifiro would you be able to take a closer look at this one, please?

[2022-01-31 09:10] skshetry opened #7322 "tests: `test_strict_yaml::test_exceptions` failing on CI"
See https://github.com/iterative/dvc/runs/5000170109?check_suite_focus=true#step:7:11107

The failures are consistent, and is only happening on CI. I am not able to reproduce locally.
[code]

[2022-01-31 12:10] davesteps opened #7323 "`commit`, `status`: cannot address all `foreach` stage targets"
I have a pipeline that uses a [`foreach`](https://dvc.org/doc/user-guide/project-structure/pipelines-files#foreach-stages) loop to process different datasets lets call the stage `data_prep`. I can run `dvc repro -s data_prep` and it will loop through each dataset specified in the `dvc.yaml` no problem. If I then modify the code that the stage depends eg `data_prep.py` all the individual stages wil

[2022-01-31 13:20] paprocki-r opened #7324 "push: ERROR: unexpected error - pickle protocol must be <= 4"
# Bug Report

push: ERROR: unexpected error - pickle protocol must be <= 4

## Description

### Reproduce

Following tutorial https://dvc.org/doc/start/data-and-model-versioning
dvc init

1. dvc init
2. Copy dataset to the directory (dozens of files, overall ~500MB)
3. dvc add dataset
4. dvc commit -m "new dataset"
5. dvc push

### Expected

I expected all files to appear on the remote

### Enviro

[2022-01-31 13:23] efiop commented on #7324
Duplicate of https://github.com/iterative/dvc/issues/7220

We'll be releasing a new version this week ,but you could try upstream version for now: https://dvc.org/doc/install/pre-release

[2022-01-31 13:23] #7324 closed

[2022-01-31 16:36] dtrifiro commented on #7322
It's due to `rich`. Tests fail with rich `11.1.0` but succeed with `11.0.0`

[2022-01-31 17:32] dtrifiro commented on #7322
Related this commit in particular https://github.com/Textualize/rich/commit/0a37fcc93a025fb19821fa9a05a59aa1d3848a20

[2022-01-31 20:16] mvdhoef commented on #7274
It looks to me like the square brackets are not being 'escaped' in dulwich.
I've encountered a similar issue where if I create a file with some numbers (regex like):
[code]
After digging into the error trace I see that `dulwich\ignore.py` isn't escaping the escaped square brackets (in .gitignore) and is trying to compute the regex [9-3].

Adding the following if statement appears to fix the issue,

[2022-01-31 20:27] dtrifiro commented on #7274
Hi @mvdhoef, you could try submitting a PR to dulwich, see https://github.com/dulwich/dulwich/issues/930

[2022-02-01 01:05] dberenbaum commented on #7265
What is the situation that is causing you to need to pass duplicate revisions?

Also, why is deduplication the behavior you expect? This seems like it could be surprising and confusing if someone passes multiple identifiers not realizing they resolve to the same revision.

[2022-02-01 02:19] mattseddon opened #7329 "`exp show`: checkpoint data is no longer returned when running checkpoints based experiment"
# Bug Report

## Description

After upgrading to `2.9.4.dev94+g95731e9a` I noticed that when running checkpoint experiments only a single experiment is returned in the `exp show` data. This happens even if multiple experiments are present in the workspace.

The easiest way to demonstrate is with screen recording from the extension and example data.

### 2.9.3:

https://user-images.githubuserconten

[2022-02-01 02:34] mattseddon commented on #7265
A couple of examples of things that I ran into are branch and HEAD for the previous commit and checkpoint tip and HEAD when the HEAD is being moved around in a checkpoint experiment. It seems like this doesn't happen with `workspace` which helps a lot.

You are correct, I got that wrong. Passing back all of the revisions would be the least surprising thing to do.

[2022-02-01 09:47] sandeepeat2014 opened #7330 "not able to communicate to S3 compliant bucket"
# Bug Report

## not able to communicate to S3 endpoint for private S3 compliant bucket on Openshift

## Description

Getting below error:
ERROR: unexpected error - The AWS access key Id you provided does not exist in our records.: An error occurred (InvalidAccessKeyId) when calling the ListObjectsV2 operation: The AWS access key Id you provided does not exist in our records.

### Reproduce

dvc i

[2022-02-01 09:51] sandeepeat2014 commented on #7330
dvc push -v
2022-02-01 15:19:11,498 DEBUG: Adding 'C:\DSET\Workspace\DVC\mlops_tutorial2\.dvc\config.local' to gitignore file.
2022-02-01 15:19:11,528 DEBUG: Adding 'C:\DSET\Workspace\DVC\mlops_tutorial2\.dvc\tmp' to gitignore file.
2022-02-01 15:19:11,528 DEBUG: Adding 'C:\DSET\Workspace\DVC\mlops_tutorial2\.dvc\cache' to gitignore file.
2022-02-01 15:19:12,355 DEBUG: Preparing to transfer data f

[2022-02-01 09:54] sandeepeat2014 commented on #7330
dvc push -v
[dvcpushverbose.txt](https://github.com/iterative/dvc/files/7977432/dvcpushverbose.txt)

[2022-02-01 09:56] efiop commented on #7330
@sandeepeat2014 Hey. Does `aws s3` work with it?

[2022-02-01 09:58] efiop commented on #7330
@sandeepeat2014 Hey. You are configuring it incorrectly. The http url you are using is an endpoint_url. Your configuration should look smth like:

[code]

[2022-02-01 09:58] #7330 closed

[2022-02-01 10:44] sandeepeat2014 commented on #7330
getting below error while executing endpoint_url command:

C:\DSET\Workspace\DVC\mlops_tutorial2>dvc remote modify storage endpoint_url https://s3-openshift-storage.apps.eng.openshift.XXX.XXX.XXX
ERROR: configuration error - config file error: extra keys not allowed @ data['remote']['storage']['endpoint_url']

[2022-02-01 10:47] efiop commented on #7330
@sandeepeat2014 Ah, sorry, I meant `endpointurl`, same as in https://dvc.org/doc/command-reference/remote/modify

[2022-02-01 10:54] sandeepeat2014 commented on #7330
All the commands got executed with "endpointurl" but still  DVC fails with same error " ERROR: unexpected error - The AWS access key Id you provided does not exist in our records.: An error occurred (InvalidAccessKeyId) when calling the ListObjectsV2 operation: The AWS access key Id you provided does not exist in our records.".
Any test script with S3 compliant bucket will help. There are some res

[2022-02-01 11:20] efiop commented on #7330
@sandeepeat2014 Does `aws s3` CLI work with it?

Looks like something is not right with your config options, please show `dvc config --list`

[2022-02-01 11:31] sandeepeat2014 commented on #7330
C:\DSET\Workspace\DVC\mlops_tutorial2>dvc config --list
remote.storage.url=s3://eatondsetdev/objectbucket.io~v1alpha1~ObjectBucketClaim/bucketclaim-f6qhs
remote.storage.endpointurl=https://s3-openshift-storage.apps.eng.openshift.XXX.XXX.XXX
remote.storage.use_ssl=false
remote.storage.access_key_id='XXXXXXXXXXXXXX'
remote.storage.secret_access_key='XXXXXXXXXXXXXX'
core.remote=storage

[2022-02-01 11:35] efiop commented on #7330
@sandeepeat2014 Were you able to make `aws s3 ls` CLI work with your storage? See https://docs.aws.amazon.com/cli/latest/userguide/cli-services-s3-commands.html Please make sure it works before you try dvc, so we could be sure that the issue is with dvc and not with something else.

[2022-02-01 12:20] #7322 closed

[2022-02-01 12:45] daavoo commented on #7329
This was introduced in https://github.com/iterative/dvc/pull/7204

[2022-02-01 14:09] #6389 closed

[2022-02-01 14:22] satheeshkatipomu opened #7332 "Add support for Huawei cloud obs"
Hi,

Thank you for creating dvc. I have used it using s3 as remote storage. It was pretty neat. Can you please add support for huawei cloud obs? It is almost similar to AWS S3.

[2022-02-01 14:23] #7312 closed

[2022-02-01 15:53] efiop commented on #7332
Hey @satheeshkatipomu !

Unfortunately, we don't have capacity right now to add support for new remotes, as we are trying to focus on quality of existing ones and other features 🙁 That being said, we are working on introducing dvc plugins that would allow users to use unofficial storage types. So in order to support obs, one would need to first implement a full-featured [fsspec](https://github.com

[2022-02-01 17:48] efiop commented on #6813
Closing as stale. Happy to get back to this once you have more time to walk through it with us.

[2022-02-01 17:48] #6813 closed

[2022-02-01 17:51] efiop commented on #6965
Closing as stale.

[2022-02-01 17:51] #6965 closed

[2022-02-01 17:51] efiop commented on #7034
Closing as stale.

[2022-02-01 17:51] #7034 closed

[2022-02-01 17:52] efiop commented on #7164
Closing as stale.

[2022-02-01 17:52] #7164 closed

[2022-02-01 18:29] dberenbaum commented on #7323
Good point! This appears to be supported for `dvc repro data_prep` but not for `dvc commit data_prep`.

@skshetry Any thoughts on this?

[2022-02-01 18:41] satheeshkatipomu commented on #7332
Thanks for the response.

[2022-02-01 18:41] #7332 closed

[2022-02-01 22:24] dberenbaum commented on #7265
Would this behavior work for vscode needs?

[2022-02-01 22:34] mattseddon commented on #7265
Yep

[2022-02-02 00:51] jorgeorpinel commented on #7314
Agree. Any change here would have to apply to any other inconsistent metavars we have, if any.

Looking at Git, it uses <number>.

Yes although not a very specific type. `<number>` would also be better although still repetitive... But given that `-n` is very common I wouldn't suggest changing the `--num` option name.
BTW Git is not a good CLI reference TBH.

Probably somewhere in https://github.co

[2022-02-02 01:25] jorgeorpinel commented on #7314
On second thought maybe changing `--num` (`-n`) for `--count` (`-c`) could work too. At least in `exp show/list`

[2022-02-02 02:00] sandeepeat2014 commented on #7330
I am able to list bucket using AWS cli but getting below error now.
[HeadOperation403.txt](https://github.com/iterative/dvc/files/7983085/HeadOperation403.txt)

[2022-02-02 02:51] karajan1001 opened #7334 "Exp show: queued exp shown in a wrong position."
# Bug Report

I have an experiments list with the `json` file:
[code]

all of the experiments are based on commit `b05eecc`, but when we showing it with `dvc exp show`, a queued experiments was shown under branch `new` :
 ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

[2022-02-02 05:40] pmrowla commented on #7314
We use `<number>` elsewhere in DVC (like with `-j/--jobs`), so we could just change it to that.

I don't think we should use `-c/--count`, because  `-c` is commonly used for `--cloud` in a lot of DVC commands. I also would prefer not using `-C`, because IMO the lowercase/uppercase shortcuts get too confusing in a lot of cases.

[2022-02-02 05:45] pmrowla commented on #7324
Also, please note that DVC no longer supports Python 3.6, so you won't be able to use the latest release (or the upstream version) without installing Python 3.7+ on that machine.

[2022-02-02 08:42] philipp-kohl commented on #7316
Hi,
I had a little bit of time and have done some debugging to trace down the cause. Maybe it can help.
At first there seems to be a difference in handling templating (e.g. using ${wdir} in dvc.yaml) and using
parameters (e.g. params: -params.seed in dvc.yaml).

1. Templating
The [DataResolver](https://github.com/iterative/dvc/blob/6c8673b1582fcf1a92264b90885e8c4f8df4f63d/dvc/parsing/__init__.py)h

[2022-02-02 09:16] efiop commented on #7330
@sandeepeat2014 The endpoint looks different from the one in your config.

Also, could you try:
[code]
?

[2022-02-02 10:48] sandeepeat2014 commented on #7330
Yes we changed it because it was not working with awz cli and created a new endpoint.
here is the response for requested command

C:\DSET\Workspace\DVC\basics>aws s3 ls --no-verify-ssl --endpoint http://ocs-storagecluster-cephobjectstore-openshift-storage.apps.eng.openshift.XXX.XXX.XXX/bucket--fef6a586-XXXXXXXXXX

'Buckets'

C:\DSET\Workspace\DVC\basics>

[2022-02-02 10:53] sandeepeat2014 commented on #7330
I was able to load objects from aws cli but not using DVC.

[2022-02-02 11:28] efiop commented on #7330
@sandeepeat2014 Could you show new `dvc config --list` then?

[2022-02-02 11:31] sandeepeat2014 commented on #7330
remote.storage.url=s3://bucket--fef6a586-XXXXXXXXXX
remote.storage.endpointurl=http://ocs-storagecluster-cephobjectstore-openshift-storage.apps.eng.openshift.XXXXXXX
remote.storage.use_ssl=false
remote.storage.access_key_id='XXXXXXXXX'
remote.storage.secret_access_key='XXXXXXXXX'
cache.type=symlink,hardlink,copy
core.remote=storage

[2022-02-02 12:56] efiop commented on #7330
@sandeepeat2014 And could you try

[code]

and try again?

[2022-02-02 14:45] woodshop commented on #7186
@pmrowla this issue is no longer "awaiting response" but I cannot change the label.

[2022-02-02 16:00] sha-cmd opened #7336 "Verifying data sources in stage"
When we have a lot of data, it seems to me that DVC does not present the action of :

* Suspend verifying data sources in stage
* While accessing to data (.dvc) in some experiments.

I think it should be of a great help (in question of time) to add the propriety of deps in dvc.yaml, for accessing to .dvc data in experiments, with the capacity of  deactivated the check of the integrity of the data

[2022-02-02 17:07] maximvl commented on #7145
This happens to me and fellow devs in our environment also. As someone who promotes type checking I would like to help finding the solution. We have a big project with on-commit mypy check and it doesn't fail like this often. Can I somehow help investigating this?

[2022-02-02 17:27] rubenpraets opened #7337 "push/pull: fails to finish querying the remote (azure blob)"
# Bug Report

## Description

When trying to push a new directory structure containing relatively many small files (e.g. 18k files of ~50 kB) to our azure blob storage remote (containing ~1.2 million files), the operation quite reliably fails while querying the remote for existing hashes. See below for a full stack trace.

On my colleagues pc, the error always happens after say 6-8 minutes of happ

[2022-02-03 06:03] sandeepeat2014 commented on #7330
same error
botocore.exceptions.ClientError: An error occurred (403) when calling the HeadObject operation: Forbidden

[2022-02-03 06:21] sandeepeat2014 commented on #7330
RedHat Openshift solution for object storage use Ceph which supports a RESTful API that is compatible with the basic data access model of the [Amazon S3 API](http://docs.aws.amazon.com/AmazonS3/latest/API/APIRest.html). looking around the Ceph APIs I realized that HeadOperation equivalent in their api basket is "Get Object Info(https://docs.ceph.com/en/latest/radosgw/s3/objectops/#get-object-info)

[2022-02-03 07:10] mistermult opened #7338 "`checkout`: Allow to checkout all tracked files in a non-tracked folder (PR incoming)"
## Overview of Proposal
Assume that the files `repo/modelout/model_34.txt` and `repo/modelout/model_92.txt` are generated by a pipeline in the `repo/dvc.yaml` in the root of the repository `repo`. I just cloned the git repository and pulled all the DVC cache. I want to check out all the files in `modelout` with the following command:
[code]
- Proposal: This should checkout the files `modelout/mode

[2022-02-03 10:53] efiop commented on #7330
@sandeepeat2014 If you are keen on looking into this furter, maybe you could give https://github.com/fsspec/s3fs/ a try to see if you could make it work with your setup? We use it in dvc internally, so anyone trying to make openshift work would need to start there.

[2022-02-03 12:38] sqeph opened #7340 "`status`: Wrong password silently ignored / misleading output (HTTP remote)"
# Bug Report

## Description

When using a HTTP remote with basic authentication and password prompt, `dvc status --cloud` does not recognize a failed authentication attempt (wrong/missing password) and outputs misleading information. Instead of an error message, DVC lists all my local files as if they do not exist on remote (regardless of whether they were already pushed or not).

In fact, I'm ex

[2022-02-03 13:10] PietrassykFP opened #7341 "dvc.api.open: Will ignore remote option if a default remote is set in config."
# Bug Report

## dvc.api.open: Will ignore remote option if a default remote is set in config.

## Description

In some cases, when passing the remote parameter. The remote specification will get lost during the `dvc pull` execution and will be overwritten by the default remote from the dvc config.

### Reproduce

1. Create new git Repo
2. Init dvc
3. Add two different non local remotes (perferabl

[2022-02-03 14:14] ykacer opened #7343 "run/repro: add --jobs for transferring"
It seems that we can control number of threads when computing hashes through :

`dvc config core.checksum_jobs $n_jobs`

but it looks not so easy to do so for transferring (see `dvc/objects/transfer.transfer()`), it just uses the hardcoded value from `/opt/conda/lib/python3.7/site-packages/dvc/fs/base.py`.

It is important as i found that for some obscur reasons, multithreading dramatically makes

[2022-02-03 15:35] pared commented on #7341
Initial discussion:
https://discord.com/channels/485586884165107732/485596304961962003/933674011982983219

@PietrassykFP has been setting up the credentials via environmental variables, so if the remote gets resolved properly, it should not raise issues. I created a local test aiming to verify if remote gets resolved properly  and it seem to be working properly:

[code]

It would be good to reprod

[2022-02-03 16:31] jorgeorpinel opened #7344 "`--out`: inconsistent behavior"
I noticed that for `add` and `import`, `-o` does NOT create the given directory path (if inexistent). But `get -o` does.

Is there a reason for that? Thanks

[2022-02-03 17:42] efiop commented on #7329
@karajan1001 Could you take a look, please?

[2022-02-03 18:04] itcarroll commented on #7323
I'm also [encountering this](https://discord.com/channels/485586884165107732/938649682492686366), and note that `dvc status <target>` fails in the same way as `dvc commit <target>` when `<target>` is a foreach stage.

@dtrifiro Thanks for your help. I found this already existing issue.

[2022-02-03 20:30] dberenbaum commented on #7336
Hi @sha-cmd! I see you were looking for help here and in [discord](https://discord.com/channels/485586884165107732/485596304961962003/938726047065726996). Would you mind providing some more details about your workflow, your dvc setup, and the exact commands that are causing you problems?

[2022-02-04 04:24] karajan1001 commented on #7334
[code]

[2022-02-04 08:42] sha-cmd commented on #7336
![dvc_stage](https://user-images.githubusercontent.com/61082102/152497067-3a0c871d-5fea-4bf9-b651-29e37031af83.png)

This picture is a short description of my error. When I use meta in dvc.yaml to link a huge amount of data (pictures) that is add in one .dvc file then committed and even pushed in local dvc repository, I only can do dvc run or dvc repro, but I can’t do dvc exp, because the data are

[2022-02-04 09:04] dtrifiro commented on #7323
Thanks @itcarroll! I'd expect the all commands dealing with parametrized stages to work in a consistent manner (i.e. like `repro` does). It wouldn't be bad to have this fixed