[2020-01-16 15:11] #2959 closed

[2020-01-16 15:27] pared commented on #3105
@Persedes I did a little patch that should fix the original issue,

as to the second one, the one described in https://github.com/iterative/dvc/issues/3105#issuecomment-573854955. I am afraid that has to stay. I do agree that in this particular case it does not do what you would like it to do, but this behaviour is consistent with what filesystem operations allow as to do.
For example:
[code]
Will

[2020-01-16 18:36] colllin opened #3171 "Duplicate hash computation"
**Please provide information about your setup**
DVC 0.81.3
Installed via pip
Ubuntu 16.04

---

Does this look right?  I don't think it should be computing hashes here the second time I run `dvc status`.  Also, it takes ~25 minutes each time to compute the hashes (so this is a non-trivial issue):
[code]

[2020-01-16 18:58] shcheklein commented on #3159
@pared good points! In general I tend to agree that higher level commands like `dvc remote list`, `dvc remote add`, `dvc cache dir` can be built to be `user-friendly` and have a bit of logic to present information at its most expected way.

[2020-01-16 19:09] fabiosantoscode commented on #2976
@pared I think this issue is about imported files which are tracked in a remote non-DVC git repository.

If you change the last line of your repro script to `dvc update git_file.dvc` you get the right repro:

[code]

[2020-01-16 19:23] fabiosantoscode commented on #2976
My bad, you also have to not run `dvc init` in remote_repo

[2020-01-16 19:32] fabiosantoscode commented on #2976
I'm on this one. It's a tiny tiny fix.

[2020-01-16 21:55] fabiosantoscode commented on #2599
I tried to pick this one up. Big mistake. Spent a long time trying to figure out what was going on.

[2020-01-17 02:35] efiop commented on #3157
Looks like need to create setttings.yml for PyDrive https://gsuitedevs.github.io/PyDrive/docs/build/html/oauth.html and use our `dvc-test` project's creds.

[2020-01-17 03:49] woodshop opened #3174 "remote s3 caching uses multipart copy which may cause an ETag mismatch"
DVC version: 0.81.3, ubuntu 18.04 LTS, pip install, python 3.7.4

When specifying a remote object on s3 as a cached output, an ETag mismatch error is sometimes raised during the caching stage. E.g., observe the following debug output.

[code]

In this example,
`s3://XXXXX/artifacts/test/train/models/model.01.ckpt.data-00000-of-00002` is 81.4 MB. When `dvc` attempts to cache the file, it produces a

[2020-01-17 03:54] woodshop commented on #3174
BTW, I think there's a hidden assumption in `dvc`'s code that any remote s3 output will use the `boto3` library and therefore have the same default chunking. This is not the case for me, where my remote objects are uploaded using an external library that, as far as I can tell, doesn't use any chunking.

[2020-01-17 04:10] mroutis commented on #3171
@colllin , could you give more details about `some.dvc`, does it track any directory as output? how did you create it?

Did you change any output of `some.dvc` before `dvc commit`?

I tried writing a script to replicate this issue but couldn't do much, it would be great if you can provide something that will help us to thinker with the problem.

Here's what I have so far:
[code]

[2020-01-17 04:38] ghost opened #3176 "docstring format for api, possibly across code base?"
We currently don't have a _desired style_ to write docstrings.

**Should we come up with one**? If so, **which one**?

[2020-01-17 05:05] mroutis commented on #3167
@pared , not sure I follow. I ran the test after adding this patch and it worked for me. Is it correct?

[code]

[2020-01-17 05:08] efiop commented on #3174
Hi @woodshop ! Are you using aws s3 as an endpoint? Or some other solution that is simply s3 compatible?

[2020-01-17 05:09] efiop commented on #2738
Closing as inactive.

[2020-01-17 05:09] #2738 closed

[2020-01-17 05:17] woodshop commented on #3174
Hey @efiop I'm using S3 as the endpoint.

[2020-01-17 05:28] efiop commented on #3174
@woodshop Dvc is trying to re-upload the same way as it was before, so we have some logic here https://github.com/iterative/dvc/blob/master/dvc/remote/s3.py#L165 , which, based on existing etag computes what is the size and the number of chunks that it needs to reupload it with. I'm not able to pinpoint right away where that might've gone wrong, but just want to ask whether or not you are sure tha

[2020-01-17 06:04] woodshop commented on #3174
Hey @efiop there is only one process writing to the remote output. No one is writing while caching.

The command (somewhat truncated and anonymized) is
[code]

In my particular case there should be no more than one chunk to re-upload, and the original ETag reflects this. In other words, `parts_suffix` is empty. However the `copy` method executes as a multipart upload (by default), and therefore th

[2020-01-17 06:11] efiop commented on #3174
@woodshop I think you are right. Ok, so in that case, we need to tell `copy` to upload with a chunk size == to the file that we are uploading, right? Would you be so kind as to try that out and if it works for you, submit a PR with a fix, please? 🙂

[2020-01-17 06:33] Ykid opened #3177 "Add parallelism options to speed up dvc add"
One of the project I did contains directories of more than 1m files. When I do `dvc add dir1`, it takes quite a while to run and I saw that dvc only utilize one cpu to do so, it would be nice if there's parallelism options that can utilize multiple cores of the machine.

[2020-01-17 06:33] Ykid commented on #3177
current workaround: use multiple terminals to do `dvc add`

[2020-01-17 06:44] efiop commented on #3177
Hi @Ykid !

Not sure how that is going to help to parallelize single `dvc add dir`. Or maybe you meant `dvc add dir1 dir2 ...`?

[2020-01-17 06:46] mroutis commented on #3177
@efiop , it is `dvc add dir_1 dir_2 dir_n` (clear it out on the Discord conversation, forgot to update it here)

[2020-01-17 06:52] efiop commented on #3177
@Ykid Also, what dvc was showing when you were looking at CPU utilization? We do run things like checksum computation in parallel https://github.com/iterative/dvc/blob/master/dvc/remote/base.py#L178 .

[2020-01-17 06:52] mroutis commented on #3177
@efiop , from the discord convo again, @Ykid mentioned 1 CPU

[2020-01-17 06:55] efiop commented on #3177
Discord: https://discordapp.com/channels/485586884165107732/563406153334128681/667622134100787210

[2020-01-17 06:59] Ykid commented on #3177
@efiop this is what I got

[code]

[2020-01-17 07:00] efiop commented on #3177
@Ykid Yes, but what was it doing at that time? Meaining what it was showing to stdout? Was it saying that it is computing checksums or maybe that it is linking?

[2020-01-17 07:20] Ykid commented on #3177
should be copying stuff

[2020-01-17 07:23] efiop commented on #3177
For the record: decided to try out hardlinks or symlinks as a workaround.

[2020-01-17 07:40] efiop commented on #2599
@fabiosantoscode What @jorgeorpinel means is a remote cascade of sorts, which is not currently supported in any shape or form. We might hack together something specifically for get/import, but it is better to solve it in general. And in general the feature looks like: you have remote1 and remote2, and some files might be on one or another remote and we need `dvc pull` to poll both remotes, kinda l

[2020-01-17 08:15] #2994 closed

[2020-01-17 08:29] JIoJIaJIu commented on #2509
I'm going to work on the issue

[2020-01-17 08:42] fabiosantoscode commented on #2599
Gotcha

[2020-01-17 08:55] efiop commented on #3177
For the record: linking is still single-threaded in dvc, so need to look into parallelizing it as well.

[2020-01-17 09:41] pared commented on #3167
@mroutis, try that one:

[code]

[2020-01-17 09:45] bhavaniravi commented on #3176
Most of the standards suggest `"""` for docstrings. I think we should go with the same.

https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format

[2020-01-17 09:47] pared commented on #3167
With your change `test_get_from_non_dvc_master` will pass, without it, it will not.

[2020-01-17 10:33] MaxRis commented on #3157
It was supposed to set encrypted `GDRIVE_USER_CREDENTIALS_DATA` in Travis configuration for DVC repo under Iterative's account. I should give update later today on this.

[2020-01-17 10:41] #3105 closed

[2020-01-17 11:42] woodshop commented on #3174
@efiop I'd be happy to submit a PR.

You suggest using `_copy_multipart`. In this specific case, there will be only one part. Do you foresee any issues with this approach?

Another possibility is to use `copy` and specify an appropriate sized `multipart_threshold` via the `Config` argument, as I pasted above.

I've confirmed that the second approach works for me, I haven't yet tested the first. Th

[2020-01-17 11:42] efiop commented on #2994
Since we are not able to access urls, we can't really parse and show directories. We will only show url to `.dir` file that can then be downloaded and parsed by the user.

[2020-01-17 12:03] skshetry opened #3179 "api/get: local repo with custom rev is not supported"
[code]
throws following error:
[code]

Similarly, issue exists with `dvc get --show-url` (introduced by #3156):
[code]

[2020-01-17 12:10] skshetry opened #3180 "api: get_url does not support links for granular file"
`get_url` does not support granular files access.

Eg:
[code]

throws following exception:
[code]

This also affects #3156 which introduces `dvc get --show-url`.

[2020-01-17 12:11] efiop commented on #3174
@woodshop Sorry, I haven't noticed the Config previously. You are aboslutely right, that would be the best way to handle it. Let's go your way and use Config with multipart_threshhold. 👍I don't think there will be any issues with your approach. Thank you so much for contributing!

[2020-01-17 12:18] skshetry opened #3181 "api/get: cannot show url for git only repos"
There's no straight way to support direct url to files in git repos unless we do some kind of magic.

Currently, `--show-url` fails with:
[code]

Similarly, `dvc.api.get_url`:
[code]

[2020-01-17 12:30] skshetry opened #3182 "api: get_url() returns path to `.dir` for directory"
Currently, `get_url()` returns path to `.dir` files. I'd propose to have some way to parse `get_url()` and return list or dicts (or, iterator) of  files inside the directory (`get_url(recurse=True)`?).

`dvc get . dir/ --show-url` works the same way.

[2020-01-17 12:31] skshetry opened #3183 "get: --show-url does not support specifying remotes"
Currently, there's no option to specify remote for `dvc get --show-url`, though,
`dvc.api.get_url()` supports these.

[2020-01-17 12:34] skshetry commented on #2994
@efiop, opened #3182 for further discussion regarding directories.

[2020-01-17 12:36] skshetry opened #3184 "completion: completion for `--show-url`"
#3156 introduced `--show-url` flag in `dvc get`. Add autocompletion support for it.

[2020-01-17 14:20] pared commented on #2896
Closing this one, since #3142 there are not pytest-style tests not conforming with dir_helpers. What's left, are `unittest` style tests.

[2020-01-17 14:20] #2896 closed

[2020-01-17 16:45] colllin commented on #3171
Thank you for investigating.  Yes, it is a directory.

some.dvc:
[code]

[2020-01-17 16:46] colllin commented on #3171
I did not change the directory on disk (or anything within it) between the status/commit/status commands I showed.

[2020-01-17 16:56] efiop opened #3185 "rename or alias `dvc version` to `dvc doctor`"
Just tired of explaining that `dvc version` is not the same as `dvc --version`. `doctor` seems pretty common and is self-explanatory. What do you guys think?

[2020-01-17 18:01] colllin commented on #3171
Note that I reported a similar issue in the past, in case it's related at all.
https://github.com/iterative/dvc/issues/1991

Also, every time I reboot the machine, it re-computes the hash... in case that's a clue.

[2020-01-17 18:38] #3174 closed

[2020-01-17 18:51] mroutis commented on #3171
@colllin , I tried to reproduce it with the following script but again no recomputation :thinking:

[code]

Not sure if I'm missing something. Could you confirm?

[2020-01-17 18:51] mroutis commented on #3171
That's pretty weird :thinking:

[2020-01-17 19:51] mroutis commented on #3185
I prefer `info`: https://docs.docker.com/engine/reference/commandline/info/

I have never ran such thing like `doctor`)

[2020-01-17 21:41] shcheklein commented on #3185
I also vote for info. I would expect from `doctor` to "heal" something (like corrupted cache for example? )

Although we might just make --version an alias for `dvc version`?

[2020-01-18 00:10] jorgeorpinel commented on #3176
Thanks @bhavaniravi! I think thus much we can all agree on 🙂  The larger question is what text format to use INSIDE docstrings. Ref: https://stackoverflow.com/questions/3898572/what-is-the-standard-python-docstring-format

[2020-01-18 00:23] mroutis commented on #3171
@colllin , as @pared mentioned in a private conversation, it could be that somehow the `mtime` is getting updated, thus, triggering the recomputation.

[2020-01-18 07:59] Suor commented on #2994
I agree with @skshetry here - an option that completely hijacks what the command does is confusing. Are we trying to beat git in bad command line UI? ;)

[2020-01-18 08:02] Suor commented on #3182
I am not a big fan if complicating `.get_url()`, this was always intended for files not dirs. Maybe we should not support `.get_url()` for dirs at all? What's the use case anyway?

[2020-01-18 08:19] Suor commented on #1819
Maybe open a free hunt on it? @efiop @mroutis @pared @skshetry?

[2020-01-18 08:52] Suor commented on #3171
@colllin we still don't know enough about your setup. Can you perform this inside your dvc repo:
[code]
And paste the output of `dvc version` here please. Also if you have something to say about your setup, especially, about your fs, then it might also help.

To check, whether you have mtimes constant you may use the following:
[code]
Compare the printed mtimes of the same file. It would be crazy

[2020-01-18 16:41] Suor commented on #3185
@shcheklein `dvc --version` should be very simple and fast. This might be used in some install/check/automation scripts.

[2020-01-18 16:43] Suor commented on #3181
Not clear how what it should show.

[2020-01-18 16:45] Suor commented on #3179
Title is misleading `dvc get` will work with rev, while `dvc get --show-url` won't because it's completely different command. Call it `dvc get-url` maybe?

[2020-01-18 16:47] Suor commented on #3177
@efiop might a part or a follow up after checkout refactor

[2020-01-18 16:48] Suor commented on #3176
I don't think we should spend time formalizing this, we have very limited amount of user facing functions really.

[2020-01-18 16:49] skshetry commented on #3179
We already have a `get-url`: https://dvc.org/doc/command-reference/get-url
And, for now, `--show-url` is a part of `get`. It'd be good to have a better category (but should be covered by description). :slightly_smiling_face:

[2020-01-18 16:54] skshetry commented on #3181
This issue is just opened for discussion.

But, one idea was to use `https://raw.github.com/username/project/master/file.txt` kind of URL if it's a GitHub repo.

[2020-01-18 16:54] Suor commented on #3154
The design of our `Config` object is not clear and simple) We discussed refactoring it with @efiop, but it still waiting and we are working around things like that for now.

[2020-01-18 16:59] Suor commented on #3153
**config** and **settings** are inexact synonyms, using both in our code will make our heads explode even faster. We need to go away from sections instead and think about config as a single nested structure.

[2020-01-18 17:02] Suor commented on #3110
Not a big fan. It won't make our code any significantly easier to read, we are not writing Java after all.

However, there are possible big gains from separating remote and cache functionality.

[2020-01-18 17:09] Suor commented on #2860
Is this still important or actually an issue?

[2020-01-18 17:20] Suor commented on #2613
+1 for hint

[2020-01-18 17:24] shcheklein commented on #3176
@Suor I think you brought this topic, right? :) Are we good to close it (discussion around formatting) then and let Jorge decide this, for example?

[2020-01-18 17:29] shcheklein commented on #2994
@Suor mention alternatives? what do you think about other options mentioned above? (please, let's be constructive a little bit 🙏).

[2020-01-18 17:31] Suor commented on #2344
Since we cache `graph`, `stages` and friends this is less of an issue now. We may, however, improve things by storing outs in a dict and looking it up without the full search.

[2020-01-18 18:41] jorgeorpinel commented on #3176
I agree it's only important at the moment to have good full code doc for the API functions and I'm happy to just pick one format but would prefer to get some feedback from the core engineering team. In fact I wanted to summarize the options here (extracted from https://github.com/iterative/dvc/pull/3130#discussion_r368192562 +):

Among doc generators, [Sphinx](http://www.sphinx-doc.org/en/master/)

[2020-01-18 21:43] shcheklein opened #3191 "remote add: does not fail in non-DVC repo"
*Version:*

[code]

*Reproduce:*

[code]

should probably fail.

next command fails:

[code]

message should be different - no config file, or repo is not DVC, etc.

[2020-01-18 21:52] shcheklein opened #3192 "config: check schema before applying modifications"
**Version:**

[code]

**Reproduce:**

[code]

will produce: `ERROR: configuration error - config file error: extra keys not allowed`

Probably we should do a check before we set the value.

[2020-01-19 03:42] mroutis commented on #3191
Closing, duplicate of https://github.com/iterative/dvc/issues/2309

[2020-01-19 03:43] mroutis commented on #3191
ohhh, my bad @shcheklein, definitely related but this is about `add`, mine was about `modify`.

[2020-01-19 03:44] mroutis commented on #3191
Anyways, I think both `add` and `modify` should fail if `--global` or `--system` is not specified.

[2020-01-19 05:18] mroutis commented on #3181
@skshetry , I would way for someone to request this :sweat_smile:

[2020-01-19 06:55] #3184 closed

[2020-01-19 07:03] #2780 closed

[2020-01-19 07:39] efiop commented on #2309
Issue is relevant for `dvc config` in general, as `dvc remote` derives from it. Some explanation https://github.com/iterative/dvc/pull/3194#pullrequestreview-344982907 . Adjusting the naming...

[2020-01-19 07:40] efiop commented on #3191
Closing in favor https://github.com/iterative/dvc/issues/2309

[2020-01-19 07:40] #3191 closed

[2020-01-19 07:43] efiop commented on #2860
@Suor Good point. It is an issue to investigate, but no longer p1, since we are not using flufl by default anymore.

[2020-01-19 08:00] efiop commented on #2963
For the record, https://github.com/iterative/dvc/pull/3169#issuecomment-575977559 . Reopenning.

[2020-01-19 08:20] efiop commented on #3182
Note: as we've discussed in #2994 , `get_url` might not even be able to access the cache url that it shows, so we won't always be able to parse `.dir` 🙁

[2020-01-19 08:55] efiop commented on #1819
@Suor Let's not do that in this sprint for now.

[2020-01-19 09:27] efiop commented on #3185
`info` works for me as well.

[2020-01-19 09:31] efiop commented on #2344
Could you please elaborate? @Suor

[2020-01-19 14:49] Suor commented on #2994
@shcheklein `dvc show-url <repo-url> <path>`

[2020-01-19 15:04] Suor commented on #2344
@efiop we now construct full outs list each time and then filter it. We can make a dict and then look up them instead. To support recursive case we will need to build some tree, which might also be used to speed up graph construction.

Not sure this is worth the effort though. Let's close it and return to this if we ever run into any issues.

[2020-01-19 15:12] #2344 closed

[2020-01-19 15:26] efiop commented on #2994
@Suor Suffers from the same issue of dedicating a full command to this functionality, same as `dvc resolve`. Let's keep as is for now.

[2020-01-19 16:03] Suor commented on #2994
I don't understand why is that the issue.

[2020-01-19 16:18] mroutis commented on #3185
Remember to change GitHub contribution message and docs

[2020-01-19 16:23] shcheklein commented on #2994
@Suor every command has a lot of boilerplate (code, docs, etc) that we would need to support - this is not nice. This approach is not scalable in terms of even reading the list of commands (we can't do 100 commands, for example).

[2020-01-19 16:25] shcheklein commented on #3185
`info` - can it be confused with something like `dvc info data.dvc`? (similar to git show?). Would it limit us from using it in the future?

[2020-01-19 16:33] mroutis commented on #3185
@shcheklein, if it is a concern, let's do something more specific: `dvc system-info`

I would prefer not to have such thing as `dvc info file.dvc` 😅, the intention is not clear enough for me

[2020-01-19 16:36] mroutis commented on #2994
@shcheklein, why not trying to reduce the boilerplate instead) ?

[2020-01-19 16:43] shcheklein commented on #2994
sure, but it's never zero anyway right? )

[2020-01-19 16:53] skshetry commented on #2994
I'd like to add another point. If it's just to show URL, it does not make much sense to introduce a new command. And, If it will be going to a new home (see: https://github.com/iterative/dvc/issues/2994#issuecomment-574803781), there's not much point to introduce new command (IMO, it makes much sense as a `list` or `status` and would be really useful in combination to other features that it may pr

[2020-01-19 17:36] shcheklein commented on #2994
💯

[2020-01-19 18:41] efiop commented on #3185
Nice thing about `doctor` is that it is specific enough that we sure won't be using it for other functions :) I don't remember specific tools that have `doctor` command, but I surely remember a few in proprietary linux software as well as in some open source (don't remember the names though).

[2020-01-19 18:56] mroutis commented on #3185
@efiop , looks like `hombrew` uses it: https://docs.brew.sh/Manpage#doctor-options

We don't _check for potential problems_, but we do _use the output to help the maintainers with debugging if you file an issue_.

I'm still rooting for `system-info`. The output is more predictable (definitively something to do with "system-wide information").

In `analytics.py` we already have a `runtime_info` (in

[2020-01-19 19:10] casperdcl commented on #3152
The `stable` snap deploy still didn't quite work after #3158.

- `TRAVIS_TAG` undefined => `edge`
  + https://travis-ci.com/iterative/dvc/jobs/277406494#L2150-L2164
- `TRAVIS_TAG` defined => `stable$TRAVIS_TAG` rather than `stable`
  + https://travis-ci.com/iterative/dvc/jobs/277406823#L2162-L2170

on the plus side everything else worked. Also, this should be easy to fix.

[2020-01-19 19:36] #2954 closed

[2020-01-19 19:40] mroutis commented on #1843
Closed by #3178

[2020-01-19 22:27] shcheklein commented on #3092
Reopening this since I don't think we put even reasonably good enough docstrings for external API. We should describe parameters, important edge cases, etc. Alternatively we can consider linking with the docs website, but I would (as a user) prefer to have everything I would need in docstrings.

[2020-01-19 23:17] dmpetrov commented on #1545
The scenario with external outputs makes seen but it is too advanced for `dvc add` and it confuses people and especially beginners.

Let's prevent using external outputs in `dvc add`. Advanced users can use  `dvc run -o ~/Download/myfile` instead of `dvc add ~/Download/myfile`.

[2020-01-19 23:23] dmpetrov commented on #1545
It is also related to #2955. DVC needs to resolve paths, exits with an error if the path is outside the current repo. The paths inside the repo need to be converted to relevant paths.

[2020-01-19 23:33] jorgeorpinel opened #3196 "get/import: update output (again?)"
I'm not sure what happened because I think we've changed this recently (e.g. #3077), but I'm seeing:

[code]

The descriptions of the commands as well as of their arguments are outdated. Maybe there was a bad merge somewhere but from what I'm seeing in the docs, they should be something like:

**get**
Download file or directory from any DVC project or Git repository.

**import**
Download file or d

[2020-01-19 23:43] jorgeorpinel commented on #3092
True. I guess I thought we would do that in #3176 (so I marked this issue as closable by #2316). Do we need both issues? (This and #3176)

[2020-01-20 10:40] pared opened #3198 "Remove spy method"
In some places, we use `tests/utils/spy` method to mock spied method so that we can observe how particular actions interact with the target method/function. Current implementation:
[code]

assumes that we are spying on some class method (by having `self` in wrapper args). This is not always true, and it leads to hiding first argument if we will use it to spy on function (eg `file_md5`) which resul

[2020-01-20 11:04] efiop commented on #1843
@mroutis Not closed, as there are plenty of placed that still `.format()` strings. Hence why I didn't include "Closing" into that PR. 🙂  Reopening.

[2020-01-20 12:49] #3124 closed

[2020-01-20 12:49] #2824 closed

[2020-01-20 12:49] #2976 closed

[2020-01-20 12:49] #3179 closed

[2020-01-20 15:28] mroutis commented on #3198
@pawel,  there's a `mocker.spy` already: https://pypi.org/project/pytest-mock/

maybe we could move to that one?

[2020-01-20 15:53] pared commented on #3198
@mroutis Thanks for pointing that out! Renaming the issue.

[2020-01-20 17:57] shcheklein commented on #3092
@jorgeorpinel it feels they have a bit different purpose - one is about the style guide, this one is about actual docs (e.g. do we need to specify arguments, return values, may be even examples? etc?)

[2020-01-20 20:00] jorgeorpinel commented on #3092
OK

I think definitely yes arguments and return values. Not sure about examples... Maybe not for now but link to the new api ref in dvc.org (Do we need a new redirect similar to `man.dvc.org` BTW? `api.dvc.org/{fn}`)

BUT we still need to decide on #3176 before I can write these parts of the docstrings.

[2020-01-20 20:02] jorgeorpinel commented on #3092
p.s. does this issue have a priority? None assigned at the moment. #3176 has "p3 nice to have".

[2020-01-20 20:19] colllin commented on #3171
[code]

[code]

Like that? 👆

[2020-01-20 21:01] efiop commented on #3171
@colllin Btw, let's try to run `dvc status some.dvc` instead of `dvc status` to narrow down the issue. Could you please run
[code]

and show us full log?

[2020-01-21 05:38] codergh opened #3203 "WebUI to manage model"
I want to build a webui to manage model version , how can I use dvc to build it

[2020-01-21 06:38] jorgeorpinel commented on #3176
OK... I'm going to suggest we adopt the Google style for [modules](http://google.github.io/styleguide/pyguide.html#382-modules) (files) and [functions](http://google.github.io/styleguide/pyguide.html#383-functions-and-methods). Reasons:
- We don't need to produce automatic docs (i.e.reST/Sphinx) since we're manually writing them in the dvc.org repo – still, pdoc does support generating docs from G

[2020-01-21 08:11] efiop commented on #3203
Hi @codergh !

Please take a look at https://github.com/iterative/dvc/issues/1074 . If you have any questions, could you elaborate on what you have in mind? Your current question is a bit too generic, hard to respond with anything in particular 🙂

[2020-01-21 13:04] Suor commented on #3176
I am in favor of no style, it will only slow down reviews with no real gain.

[2020-01-21 13:46] casperdcl commented on #3176
I'm in favour of an easy-to-use style so it doesn't slow down reviews :)

[2020-01-21 14:08] fabiosantoscode commented on #3198
Hey there! I'm on this one :)

[2020-01-21 14:12] pared commented on #3198
@fabiosantoscode
Sure, I just would like to note that most use cases of our spy are in UnitTest style tests, so removal might go along with refactoring said tests to pytest style tests.

[2020-01-21 14:36] fabiosantoscode commented on #3198
@pared

I've gotten around that with this small TestDvc subclass:

[code]

Then subclassing it and accessing self.mocker. I didn't want to go ahead and convert the tests because it felt out of scope, although I do agree that they should be converted.

[2020-01-21 14:47] mroutis commented on #3176
Also in favor of not slowing down reviews for doc strings.

[2020-01-21 18:21] jorgeorpinel commented on #3203
p.s. some of the comments in that other thread are a bit outdated, I would focus on this https://github.com/iterative/dvc/issues/1074#issuecomment-421482906 and below 🙂

[2020-01-21 20:58] shcheklein commented on #3176
I'm in favor of some simple consistent style for the external API functions (better to be more or less consistent internally, but would never block any review for this). If we have a ticket like this #2316 and we deal with this, it's better to agree what are some basic expectations and how this should looks like. I'm fine with Google style.

[2020-01-22 08:47] PavelKovalets commented on #3102
Thanks everybody for suggestions. I've ended up editing .dvc files manually, and running `dvc repro ...` afterwards, it updates the formatting of the file and re-calculates the hashes.

But still this seems like a hack because sometimes file name which contains spaces e.g. "File    name" is split into two lines which causes issues with manual editing.

[2020-01-22 09:05] efiop commented on #3102
You mean when you specify it in `dvc run`?

[2020-01-22 09:24] PavelKovalets commented on #3102
Yes

[2020-01-22 09:41] efiop commented on #3102
@PavelKovalets So `dvc run -o Part1 Part2`? Or do you properly escape it to prevent shell treating it as 2 arguments?

[2020-01-22 10:09] pared opened #3210 "Introduce remote fixture"
In many places in the tests we create local remote using `tmp_path_factory` (can be found by looking for `RemoteConfig` usages). And set it up "by hand". Introducing `remote` fixture should let us get rid of this boilerplate code. Few notes:

- consider how to handle non-local remotes, and if we should create such fixture for each kind of remote
- in erepo, we currently set remote to point to its

[2020-01-22 10:36] #2676 closed

[2020-01-22 11:48] efiop commented on #2719
@Suor What is the status in this ticket? What are our next steps?

[2020-01-22 11:54] pared commented on #3196
Checked the `master` and the latest version (`0.82.1`) and it seems to me that help output is proper.
- [get help](https://github.com/iterative/dvc/blob/04161ad6f2d24b02798aa79fe2fcd8fbb76dab15/dvc/command/get.py#L55)
- [import help](https://github.com/iterative/dvc/blob/04161ad6f2d24b02798aa79fe2fcd8fbb76dab15/dvc/command/imp.py#L33)

It seems that `0.80.0` was released at the beginning of Januar

[2020-01-22 14:26] PavelKovalets commented on #3102
I mean that in the following case .dvc file line splitting is confusing (I work on Windows but suppose this is also applicable to Linux):

1. Run `dvc run -f echo.dvc echo "folder/folder/folder/folder/folder/folder/folder/folder 1/folder/folder 2/folder/folder/folder 3/folder/folder/folder/folder"` where the long argument kind of represents a lot of arguments in case of the real command

2. Check

[2020-01-22 14:34] ankurrajdev commented on #3107
@efiop  @mroutis
I am getting the same error, but this time I have a clear picture.
For instance the base branch is A. My teammate and I branched out to branches B and C respectively. My teammate merged branch B to A, so I need to rebase. In branch C, on which I was working, I deleted a few files which were present in both branch B and C. So, when I am trying to rebase, I am getting an error 'File

[2020-01-22 15:10] pared commented on #2676
@BernMcCarty
Issue fixing this has been merged to master, next release should contain it. If your remote is not Google drive, it will be enabled by default.

NOTE:
My personal benchmark: pull of 1k files, 10Mb each, local remote: improvement from 7 m 30 s to around 4 m.

[2020-01-22 16:10] efiop commented on #3107
@ankurrajdev Thanks for clarifying! As I've noted before, the workaround is to remove .git/hooks/post-checkout, so that this hook won't run at all. As to proper solution, we need to make our checkout hook smarter and not run checkouts on rebases. Need to take a closer look.

[2020-01-22 16:11] ankurrajdev commented on #3107
Okay thanks. Just wanted to clarify the issue :)

[2020-01-22 17:16] fabiosantoscode commented on #3121
Picked this up and added a PR!

[2020-01-22 17:51] jorgeorpinel commented on #3196
Hm yeah this newest version seems closer to correct:
https://github.com/iterative/dvc/blob/04161ad6f2d24b02798aa79fe2fcd8fbb76dab15/dvc/command/get.py#L53-L56
https://github.com/iterative/dvc/blob/04161ad6f2d24b02798aa79fe2fcd8fbb76dab15/dvc/command/get.py#L64-L71
and
https://github.com/iterative/dvc/blob/04161ad6f2d24b02798aa79fe2fcd8fbb76dab15/dvc/command/imp.py#L31-L35
https://github.com/iterat

[2020-01-22 17:56] jorgeorpinel commented on #3196
EDIT: I've updated the https://github.com/iterative/dvc/issues/3196#issuecomment-577306219 above with notes on what to change, will open a small PR for this.

[2020-01-22 18:01] jorgeorpinel commented on #3196
Done: #3214

[2020-01-22 18:41] fabiosantoscode commented on #2963
@efiop this seems to be fixed by my PR. When using your repro fix, both `dvc push` and `dvc status -c` fail with the following error:

`ERROR: failed to push data to the cloud - could not perform a HEAD request`

The purpose of my PR was to generate this error by explicitly disallowing redirects without `location` headers.

If there's more use cases that need to be handled, please let me know.

[2020-01-22 19:01] #3152 closed

[2020-01-22 19:56] antonkulaga opened #3215 "some files are not uploaded to TeamDrive"
I have a problem with pushing files to the teamdrive in my https://gitlab.com/sysbio-aging/cross-species-web
[updload.log](https://github.com/iterative/dvc/files/4099657/updload.log)

[2020-01-22 20:34] jorgeorpinel commented on #3182
I'm adding some notes about `.dir` cache files as a preamble to document this in the api docs as well. See [f4900e8..7d1b469](https://github.com/iterative/dvc.org/compare/f4900e8..7d1b469) (part of #931).

[2020-01-22 21:03] #3196 closed

[2020-01-22 22:49] dmpetrov opened #3218 "dvc add a file from data directory"
From a discussion with users: https://opendatascience.slack.com/archives/CGGLZJ119/p1579704007005600 (you need access to this community)

[code]

The last command fails because the file is inside a data dir and you suppose to update (`dvc add`) the entire dir. However, a user intuition says (for some users) to add a single file.

Ideally, this should work:
[code]

[2020-01-22 23:14] qwljasmine opened #3219 "remote: handle -d ERROR"
I encountered **ERROR: unexpected error - expected str, bytes or os.PathLike object, not NoneType**
when I run command **_dvc remote add -d tmpremote [a shared Windows drive]_** at default home directory of my environment.

The issue is gone when I run the same command at my git folder.

![image](https://user-images.githubusercontent.com/40971461/72943074-ed280d80-3d29-11ea-8e58-1e40d28e5fac.png)

[2020-01-23 00:54] shcheklein commented on #3215
Looks like this is the reason: https://stackoverflow.com/questions/59815620/gcloud-upload-httplib2-redirectmissinglocation-redirected-but-the-response-is-m

We probably need to update the packages properly.

[2020-01-23 01:02] shcheklein commented on #3215
@antonkulaga could you force install the httplib2 0.16 to try to fix this, please?

[2020-01-23 01:32] jorgeorpinel commented on #3176
I think it's less about exact styles and more about completeness of docstings. I.e. Google format specifies which sections to include in the docstring. Yes, a style is attached to that but it's pretty simple... And consistency is good!

Yes guys, this issue is mostly about the API code. I think it's totally up to the core engineering team to decide about docstrings in the rest of the code.

I'm co

[2020-01-23 05:22] skshetry opened #3221 "api: does not work with git only local repository"
[code]

This is because of the recent changes in `_make_repo` that instead of falling back to external repo on error, it assumes the local path to be a DVC repository.
https://github.com/iterative/dvc/blob/e9caa44b554daf7f0f21dc2bb9bb0df028369fb1/dvc/api.py#L112-L113

[2020-01-23 06:54] efiop commented on #3218
I'm not sure about this implicit behavior. A user might not even notice that we did that trick and be then surprised that his file doesn't have their own dvc file. This is the only case where we've seen a report like that, so I would rather wait for someone else to report it, to understand if this is a one-off cofusion of particular user or something reoccurring.

[2020-01-23 07:49] efiop commented on #3218
From conversation with @dmpetrov it is clear that he has seen other occurences of this issue and it would be great to at least improve the error

[2020-01-23 08:52] #3198 closed

[2020-01-23 09:25] kaiogu commented on #2036
Hi, I was on long vacation, but am back now and will start this today.

[2020-01-23 09:48] #3080 closed

[2020-01-23 10:36] efiop commented on #3219
Hi @qwljasmine !

I see that the path you are supplying is `//something/dvc_tmp_repo` wich doesn't look like a valid path for windows. Could you please use a proper windows path instead and see if that helps?

[2020-01-23 11:03] efiop commented on #3102
@PavelKovalets Got it. The format is caused by yaml dumping it like that, so the confusion here is because of yaml multiline string formats. When editing your dvc files by hand, you could use other styles of splitting https://yaml-multiline.info/ if you want to.

[2020-01-23 11:04] pared commented on #2647
Simplest script to reproduce:
[code]
assuming there is `{bucket}` with `data` folder on it

[2020-01-23 11:07] #3102 closed

[2020-01-23 11:24] #3221 closed

[2020-01-23 11:25] #3157 closed

[2020-01-23 11:52] rxxg commented on #3084
Closed in #3135

[2020-01-23 11:52] #3084 closed

[2020-01-23 13:54] efiop opened #3226 "hdfs: should not require hostname"
using `hdfs://path/to/something` is pretty normal when you are trying to access your local hdfs, but dvc thinks that `path` is a hostname and fails to connect. We could think of a way to separate those or maybe just document it somewhere (and or provide a nicer hint). First idea would be to make users use `localhost` or `127.0.0.1` as a hostname in those cases, but that won't actually work. What w

[2020-01-23 14:03] pared commented on #3171
Tried to reproduce the issue on amazon instance with following setup:
[code]
After reboot, status shows
`Data and pipelines are up to date.  `

[2020-01-23 14:25] colllin commented on #3171
Thanks for following up on this. I think you have given me enough tools to
diagnose this further. I might not get a chance to look at it until Monday.
Please don’t spend any more time on it until I can try to narrow it down
and get back to you with what I find. Thank you for the thoughtful comments
and ideas!

On Thu, Jan 23, 2020 at 7:03 AM Paweł Redzyński <notifications@github.com>
wrote:

[2020-01-23 16:06] mroutis commented on #3176
What I don't like from Google style is that it "annotates" the arguments with types.
I would prefer to have some proper type hints instead.

I'm afraid that if we start documenting everything, we will end up including useless comments just for the sake of, like:

[code]

Ideally, the method name should be clear enough to understand what it does, so no need to put that on the description, same with

[2020-01-23 16:15] casperdcl commented on #3176
I fully agree, except if we start doing intelligent parsing of docstrings in order to auto-gen docs in such a way that requires having to (annoyingly) document everything. I prefer to not document the obvious. And any intelligent parsing should look at the func signature as well as docstrings to pick up args.

[2020-01-23 20:31] qwljasmine commented on #3219
Hi @efiop  this is the path that my teammate shared to me and as I mentioned I am able to use it when I execute the command at my git directory. So I guess I am not able to try out another kind of path since that is the only path I have. Thanks

[2020-01-23 20:36] shcheklein commented on #3219
... it also looks like no matter if that path is correct or not we have some strange behavior with that exception.

[2020-01-23 22:53] antonkulaga commented on #3215
@shcheklein I confirm, after downgrading to httplib2=0.15.0 from 0.16 it works. Please, update dvc conda packages to have old httplib2 as dependency

[2020-01-23 23:34] shcheklein commented on #3176
@mroutis @casperdcl 💯 about the "code must be good enough to read without comments in the first place", no doubts about this! But for this discussion, let's focus on external APIs _only_. (`dvc.api.*` for now).

My bias and experience here. I really like when I can press a hotkey, get to the source code of the API and see some documentation there (~ short version of what you can get online, but en

[2020-01-23 23:41] casperdcl commented on #3176
Yes, definitely

Only if needed to describe a complex operation

Yes if no genuine value provided

Yes, though I'd recommend adding a travis job which checks for dead links.

---

Overall in all cases I'd always recommend the original dev *does the sensible thing*, whether it's comment in prose, in bullet points, in code examples, in links - whatever they think will be most useful for people who m

[2020-01-23 23:59] shcheklein commented on #3176
💯 ! In our case all operations (dvc.api) are not simple, neither self-descriptive imo.

If we though have some external APIs we want to describe args, exceptions, some edge cases for - it's better to use the same style, right? (And that's all this discussion is about.) And I believe we have those (I would find docstrings def useful for myself - again, I have a bias - I use IDEs and navigate to lib

[2020-01-24 01:04] casperdcl commented on #3176
I also prefer inline to online. I grudgingly accept online if well done. I don't like any duplication.

I feel like online should perhaps have prosaic expansion on examples, while inline should be as succinct as possible.

[2020-01-24 01:39] shcheklein commented on #3215
@antonkulaga first steps to fix this - https://github.com/iterative/PyDrive2/pull/5/files

[2020-01-24 06:18] anderl80 commented on #3226
Thank you for helping figuring this out!

[2020-01-24 06:57] RomanVeretenov commented on #3098
I have implemented a workaround on my side. I zip all small files at the last level of folders hierarchy and store them in dvc as archives. Also I have setup hooks for unpacking them after git pull/checkout.

I have done it also to speedup the syncing with local remote. Syncing a lot of small files is really slow.

I have recreated the gdrive remote and the error is gone. But the gdrive remote sti

[2020-01-24 07:21] RomanVeretenov opened #3230 "gdrive remote strange behaviour"
DVC version - 0.80.0, Installed via pip
Ubuntu 18.04.2 LTS

To continue situation described in [this issue](https://github.com/iterative/dvc/issues/3098):

I've created 2 remotes in .dvc/config

- local remote in local network called **lremote**. Set as default.
- gdrive remote called **gremote**. All gdrive preparations are done (app created inside my account, key & secret generated as described

[2020-01-24 07:42] #3215 closed

[2020-01-24 08:14] #3062 closed

[2020-01-24 08:37] kaiogu commented on #1307
Hi, I have a similar Issue.

The problem was that `dvc run` was restarting fish shell which activates condas base environment by default. This seems to be a fish shell limitation.
My workaround for conda version 4.7 was:

-  `conda init fish` on the cli
-  add `conda activate my_project_env` to ~/.config/fish/config.fish` after the part added by `conda init`

Now fish alway starts by activating th

[2020-01-24 08:50] efiop commented on #1307
Hi @kaiogu !

Indeed, that is a fish limitation. We've even put a special warning for `dvc run` when it detects fish. Unfortunately due to such uncommon behavior of fish where it reloads config files when ran in non-interactive mode, we are not able to mitigate the issue on our side 🙁 So the only workaround is to adjust your fish config to not mess up your current env when it gets reloaded.

[2020-01-24 15:56] casperdcl opened #3233 "readme: update badges"
- travis badge seems to be hardcoded as green/ok (vis https://github.com/iterative/dvc.org/issues/918#issuecomment-577345881)
- add other install methods (vis https://github.com/iterative/dvc.org/issues/904#issue-546378276)
- ensure consistent style (flat, square, round)

[2020-01-24 15:59] efiop commented on #3233
It is meant that way. To not scare off people by failing build. We have another badge just beside that is dynamic and reflects build status on master.

[2020-01-24 16:09] casperdcl commented on #3233
I'd argue that makes the badge pointless. Also it shouldn't really ever be the case that a tagged release build fails. On the rare instance that it does, it should be fixed very quickly.

[2020-01-24 18:16] efiop commented on #2647
Keeping it open to consider in-memory hash computation for some remotes.

[2020-01-24 18:19] jorgeorpinel opened #3235 "GDrive remotes not working (missing pydrive) [MacOS]"
[code]

P.s. is there a typical reason why DVC command outputs have extra blank spaces? I also saw some when configuring the gdrive remote with `dvc remote modify`

[2020-01-24 18:23] jorgeorpinel commented on #3235
p.s. tried `sudo pip3 install pydrive2` which successfully installed `pydrive` in my global Python env (Python3, also installed with brew – base for `dvc` I assume) but I get the same error.

[2020-01-24 18:43] jorgeorpinel commented on #3235
UPDATE: I just tried `did `pip install dvc[gdrive]` inside a `virtualenv` and using that local DVC I also get the same error 🙁.

p.s. This is all inside a little test DVC porject with `--no-scm` and a single `data.txt` file added to cache.

[2020-01-24 18:46] jorgeorpinel commented on #3235
`pip install dvc[all]` also didn't help.

[2020-01-24 18:46] jorgeorpinel commented on #3235
`pip install pydrive2` in my venv also didn't help 😢

So there's no workaround, it seems.

[2020-01-24 18:53] jorgeorpinel commented on #3235
Another note: This is in the context of this new GDrive guide we're writing. Maybe something is wrong in there? Would be nice for someone in @iterative/engineering to check it out anyway, actually: https://dvc-landing-917-bpsydzzb1cchrh.herokuapp.com/doc/user-guide/setup-google-drive-remote

Per that guide (originally provided by @MaxRis), I created the project, got client ID and client secret, an

[2020-01-24 19:04] MaxRis commented on #3235
@jorgeorpinel it seems that `pydrive2` package still is not available from the same Python environment which you are running `dvc` from.

[2020-01-24 20:18] efiop commented on #3235
@jorgeorpinel Well, but your package is coming from brew, so no wonder pip installs don't; work 🙂 Looks like we've forgotten to include pydrive into the brew package, will send a patch ASAP. For now, uninstall from brew and install dvc from pip and it should start working 🙂

[2020-01-24 20:22] efiop commented on #3235
@jorgeorpinel Sent a PR https://github.com/Homebrew/homebrew-core/pull/49361 . Thanks a lot for the feedback!

[2020-01-24 20:24] efiop commented on #3235
The one over "having troubles"? It is a known issue, just didn't get to it yet. Or do you mean others  too?

[2020-01-24 20:41] efiop commented on #3230
Hi @RomanVeretenov !

Please try upgrading to 0.82.2 and check if the issue persists. 🙂

[2020-01-24 20:46] #3121 closed

[2020-01-24 20:47] shcheklein commented on #3235
I'm getting `ERROR: pydrive2 1.4.1 has requirement httplib2<=0.15.0, but you'll have httplib2 0.17.0 which is incompatible.` for pip install dvc[all]` :( trying to figure out what I did wrong ...

[2020-01-24 20:47] shcheklein commented on #3235
So, brew and pip are both broken I think.

[2020-01-24 20:48] efiop commented on #3235
@shcheklein The issue is the todays change in PyDrive2 🙂 Looks like we need to fix it without freezing httplib's version.

[2020-01-24 20:49] shcheklein commented on #3235
@efiop yes, I know that the problem was caused by that change ... trying to understand why first.

[2020-01-24 20:54] shcheklein commented on #3235
https://github.com/httplib2/httplib2/releases/tag/v0.17.0 - this might be relevant, 👀

[2020-01-24 21:18] efiop commented on #2963
@fabiosantoscode Unfortunately the main issues described in https://github.com/iterative/dvc/pull/3169#issuecomment-575977559 are not fixed and they need some research before we could close this ticket.

[2020-01-24 21:25] efiop commented on #3233
@casperdcl AFAIK, travis only allows badges for branches and not for the latest release or tag, hence why we have that dummy badge plus a real one for `master`

[2020-01-24 21:42] jorgeorpinel opened #3236 "get/import-url: better handle remote:// notation errors"
Working inside a fresh clone of https://github.com/iterative/dataset-registry 👍
[code]

[2020-01-24 21:59] efiop commented on #3235
For the record: ^ fixed in 0.82.3

[2020-01-25 00:42] shcheklein commented on #3230
@RomanVeretenov could you try to specify `dvc remote modify gremote no_traverse true` as a workaround for this "missing files" issue, please? I've seen the same problem with the team drives. Do you use a regular Google Drive, btw or something special?

[2020-01-25 00:44] shcheklein commented on #3098
@RomanVeretenov what is the number of files in the folder, btw? I'll try to reproduce this 400 error on my end.

[2020-01-25 20:40] dmpetrov commented on #2982
I had a great chat with @mroutis re this issue.

(1) Agreed to use this-like format structure:
[code]

(2) Json output should reflect this structure with "added", "modified", "deleted" on the top and list of changes. For data directories Json also needs to include `"is_dir": True` signal or just `/` suffix in name `"name": "dir1/"` or both.

(3) File sizes are not needed now. To solve the file siz

[2020-01-26 02:36] Suor commented on #2960
It looks like you simply want to rewrite history for config file.

[2020-01-26 04:52] weekly-digest[bot] opened #3237 "Weekly Digest (19 January, 2020 - 26 January, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 44 issues were created.
Of these, 29 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #3236 [get/get-url: better handle remote:// notation errors](https://github.com/iterative/dvc/issues/3236), by [jorgeorpinel](https://github.com/jorgeorpinel)
:green_h

[2020-01-26 08:26] efiop commented on #3235
Brew patch was merged as well, it now includes gdrive support. @jorgeorpinel closing this for now, please feel free to reopen if we've missed something.

[2020-01-26 08:26] #3235 closed

[2020-01-26 08:28] #3237 closed

[2020-01-26 15:50] sijanmilan opened #3240 "[Documentation] `-- local` needs to specified before connection_string not after in"
DVC version 0.82.3, MacOS 10.14.6 installed via pip

In documentation example for Azure Remote Blob storage configuration:
https://dvc.org/doc/command-reference/remote/add#supported-storage-types
[code]
`--local` is specified at the end which will throw error `command not found: --local`

update documentation so command is specified before the connection_string per command specification (https://d

[2020-01-26 17:50] efiop commented on #3240
Hi @sijanmilan ! Not able to reproduce. Maybe you've copypasted it incorrectly?

[2020-01-27 02:00] sijanmilan commented on #3240
Hi @efiop - I forgot to put my-connection-string between quotes.

[2020-01-27 05:34] mroutis commented on #2982
@dmpetrov , what Git does is to show the different checksums from each file, not the trees that you are comparing.

Repeating the arguments at the output seems excessive, since you already know where the diff comes from.

Adding such information to the JSON output is a one-liner. Let's add it just if it is needed :slightly_smiling_face:

[2020-01-27 05:41] jorgeorpinel commented on #2982
Is this a note for us here or an actual part of the output?

I like this proposed structure and format but this new direction for `dvc diff` looks more like `git status` than `git diff`. Should we be talking about `dvc status` in fact?

Yes! But again, kind of like `git status`?

[2020-01-27 05:47] jorgeorpinel commented on #2995
Hi. Is this closed by #3051? (docs on their way too: iterative/dvc.org/pull/933)

[2020-01-27 05:53] jorgeorpinel commented on #2995
p.s. I know I'm late to this party but it seems more like a `dvc metrics delta` to me. `diff` typically shows the base value removed and then the current value added (doesn't compute an arithmetic difference).

[2020-01-27 06:09] jorgeorpinel commented on #2995
Please note that we already provided a short script for this same workaround some time ago in https://github.com/iterative/dvc/issues/770#issuecomment-512693256 !

Agree. For certain numeric scales and ranges a simple B-A calculation may yield no meaning. For these cases maybe add `--min` or `--max` flags (or `--compare=min/max/etc`) so it just tells you which version has the best metric (and its

[2020-01-27 08:47] nkhdiscovery opened #3241 "git hook post-checkout does not work as expected"
Hi,
The best procedure to reproduce the bug is following step 4 of basic scenarios, versioning:
https://katacoda.com/dvc/courses/basics/versioning

It is expected that git checkout automatically triggers dvc checkout so the file.txt is restored to proper version which was committed, but it does not and `cat file.txt` gives `test 3` after every checkout. `dvc install` has successfully installed the

[2020-01-27 08:50] efiop commented on #3240
@sijanmilan Oh, makes sense! Moving this ticket to dvc.org, I think we can add a note to https://dvc.org/doc/command-reference/remote/add about it. Maybe you would like to contribute a PR for that? :slightly_smiling_face:

[2020-01-27 12:07] Suor commented on #2719
Closing the remaining points in favor of separate issues in dvcx: https://github.com/iterative/dvcx/issues/5 and https://github.com/iterative/dvcx/issues/6.

[2020-01-27 12:07] #2719 closed

[2020-01-27 12:13] anotherbugmaster commented on #1401
I'm sorry, but how exactly does this solve the problem stated above?

Topic starter asked for a way to automatically specify python imports dependencies. Could you implement some kind of language specific plugin for that?

Thanks.

[2020-01-27 12:20] anotherbugmaster commented on #1401
I think the workaround for now is to manually compile python endpoint like that:

[code]

and to add a `script_to_run.pyc` as a dependency to consequent scripts. Python interpreter doesn't re-compile `.py` which dependencies weren't changed, which is exactly what we need in this case.

[2020-01-27 12:36] efiop commented on #1401
Hi @anotherbugmaster !

Looks like I've indeed missed something in the original request, but for the issue you've described we have another ticket https://github.com/iterative/dvc/issues/1577 . Please take a look and let us know if that is what you mean :)

Thanks for the feedback!

[2020-01-27 12:53] anotherbugmaster commented on #1577
Hi everyone. I think I have an idea how to implement this for python (and many other languages, actually):

We can manually compile python endpoint like that:

[code]

and to add a `script_to_run.pyc` as a dependency to consequent scripts. Python interpreter doesn't re-compile `.py` whose dependencies weren't changed, which is exactly what we need in this case.

This also works with C/C++: we just

[2020-01-27 16:08] #3192 closed

[2020-01-27 16:59] r0f1 opened #3242 "Unexpected dvc remove behaviour"
Hi, I just encountered an unexpected `dvc remove` behavior. Is the following behavior intended?

[code]
So I tried to remove the `.html` got an error that I should remove the `.html.dvc` file instead, but unexpectedly the `.html` was removed! Is this intended?

[code]

[2020-01-27 18:00] mroutis opened #3243 "tests: flatten the test structure / merg unit with functional"
I see no advantage in distinguishing between unit and functional tests.

Now that migratation to pytest is happening, tests are getting more slim and descriptive (thanks to fixtures and helpers), we could fit all the tests of a module in a single file `test_<module>.py`.

[2020-01-27 18:35] shcheklein commented on #3241
Yep, was able to reproduce. It can be skipped to the step 4 directly to reproduce this.

[2020-01-27 19:12] shcheklein commented on #1577
@anotherbugmaster sounds like a good option to automatically detect all the changes in the dependencies recursively and it will probably avoid rerunning stuff if I changed only a comment or whitespace in the script?

It's not a solution for the:

as far as I can tell.

[2020-01-27 22:48] dmpetrov commented on #2982
@jorgeorpinel good point about `dvc status`. In Git, `status` and `diff` do similar things but `diff` is focused on file content and versions/checksums (`HEAD^^`) while `status` is about workspace/staging state. We are not showing the content diff in DVC, so the difference is blurring and there is a chance that we are mixing these commands a bit.

What we need in this functionality is `checksum1`

[2020-01-27 23:08] mroutis opened #3245 "term: replace (Git) "reference" for "revision" or "commit""
Revisions are slightly more accurate - https://git-scm.com/docs/revisions

References are the ones living in `.git/refs`: https://git-scm.com/book/en/v2/Git-Internals-Git-References

We use the term _references_ in `metrics` and `diff` commands, but both commands accept revisions, since `repo.brancher` accepts `revs`(not `refs`).

This change would also require updating the docs.

[2020-01-27 23:59] efiop commented on #3242
Hi @r0f1 !

I'm not able to reproduce. Maybe you've ran `dvc remove report.html.dvc` after that? It is removing outputs by default, but leaves the `.dvc` file intact unless `--purge` is specified.

[2020-01-28 05:18] nkhdiscovery commented on #3241
@shcheklein Thanks for approval.

[2020-01-28 08:22] RomanVeretenov commented on #3230
Seems that it's a regular personal drive (but with unlimited storage). At least I login to regular google account via standart google login page. If you know how I could check it more detailed, please let me know.

[2020-01-28 08:24] RomanVeretenov commented on #3098
Before I migrated to new storage structure (zip all files in the bottom-level directories), it was about 2 million

[2020-01-28 08:49] RomanVeretenov commented on #3230
So I have updated dvc to 0.82.3 and added no_traverse true

Now I'm getting following error

`
failed to upload '.dvc/cache/95/3c8aa52bcd20381f00f96bfd891a32' to 'gdrive://root/dvc_root/*myrepo*/95/3c8aa52bcd20381f00f96bfd891a32' - <HttpError 403 when requesting https://www.googleapis.com/drive/v2/files?q=%28%27root%27+in+parents%29+and+trashed%3Dfalse+and+title%3D%27dvc_root%27&maxResults=1&corpu

[2020-01-28 10:27] anotherbugmaster commented on #1577
Yeah, seems like I misunderstood the issue here.

The approach would be useful anyway, if only we had a way to split up a source file into symbols, which in turn would be hashed.

[2020-01-28 12:26] charlesbaynham commented on #331
This issue describes our use case as well. We have raw data which is produced continuously. I intended to bin this into e.g. daily chunks, then run multiple stages of processing on each chunk, possibly using the inputs of other stages from the same time bin. My problem is that I don't want to reprocess years worth of data every day when a new file is added to the raw data, but I also don't want to

[2020-01-28 12:54] harold1505 opened #3247 "dvc push for http remote storage"
I wanted to upload and download data files over http. But, i came to know dvc only support `dvc fetch` and `dvc pull` for http remotes. Why is it so? How to make `dvc push` work for http remote? New to dvc, please help.

[2020-01-28 13:07] efiop commented on #3247
Hi @harold1505 !

Are you using http to access AWS s3 or something else? Or do you want to use pure http remote?

[2020-01-28 13:33] byaka opened #3248 "Ignored exception in destructor when pushing to ssh remote"
DVC version 0.82.3
Platform Linux Ubuntu 18.04
Installed with pip3

Inited new repo and added some files to dvc, now im try to push them.

[code]

[2020-01-28 14:10] efiop commented on #3248
Hi @byaka !

`dvc push` succeeded, but there has been a hickup when the interpreter was shutting down, that doesn't really affect the functionality but is indeed really ugly. We will take a closer look ASAP.

Thanks for the feedback!

[2020-01-28 14:24] efiop commented on #3241
For the record, it is caused by my recent change to post-checkout hook, which accounted for branches but didn't account for tags properly :slightly_frowning_face: I will look into it soon. Thanks for the feedback!

[2020-01-28 16:04] efiop commented on #2309
Related https://github.com/iterative/dvc/issues/2234 , should be fixed by the redesign.

[2020-01-28 16:42] efiop commented on #2458
Next step: support for get and import.

[2020-01-28 16:46] harold1505 commented on #3247
It is neither AWS S3 nor a popular platform. It is a platform with Rest API in which files can be retrieved and restored via http. So I guess, I want a pure http remote.

[2020-01-28 16:54] efiop commented on #2309
For the record, this might require full config refactor (and likely will), so please check back before tackling this one, just to make sure that we are on the same page.

[2020-01-28 17:29] efiop commented on #3247
@harold1505 Got it :slightly_smiling_face: So the reason why it is not supported is simple: we just didn't get any requests for supporting it until now. :slightly_smiling_face: To implement it, we will need to implement `_upload` method in `dvc/remote/http.py`. There might be some edge cases that we need to handle carefully, but overall the implementation should be pretty straightforward. If you f

[2020-01-28 19:14] jorgeorpinel opened #3249 "checksum: new command or api function to generate file hashes?"
Extreacted from https://github.com/iterative/dvc/issues/3102#issuecomment-573228714

Not sure how useful this would be since `dvc commit` can recalculate checksums when DVC-files are edited manually.

[2020-01-28 19:31] jorgeorpinel commented on #3176
I don't see this being of much value, you can just open he website and find the function easily on your own.

Unrelated @casperdcl but if you have any experience on this, please participate in #652

---

OK so still no decision yet on which docstring format 😢 I may have to just start using Google style for now to get the inline doc going but we can revisit later...

[2020-01-28 20:56] efiop commented on #3249
@jorgeorpinel Yeah, we've heard such requests previously, but they were all solved by introduction of `dvc commit`. Wouldn't consider implementing this unless there are users with real use cases.

[2020-01-28 21:27] byaka commented on #3248
@efiop ah, ok, so this not a fatal error. thx for answer!

[2020-01-28 21:47] efiop commented on #3248
@byaka Btw, are you able to reliably reproduce? Or does it happen just once in a while?

[2020-01-28 23:37] ogigoc opened #3250 "Failed to upload file to Azure due to connection time out"
DVC version: 0.82.3
Method of installation: pip
Platform: Ubuntu 18.04

I'm having an issue uploading a file to azure. The file is about 80MB. The azure dependencies are:
[code]
I think the problem might be related to my internet connection. The connection is stable but is really slow. Upload is about 150kB/s. The error seems to always occur after about 2 minutes.
And here is the whole output usin

[2020-01-29 00:03] casperdcl commented on #3176
@jorgeorpinel are you sure about #652? That seems even more unrelated than I was expecting.

[2020-01-29 00:07] efiop commented on #3250
Hi @ogigoc !

Thanks for reporting the issue! Indeed, looks like the default timeout is too small for your particular case. We've had something similar in GS, where we've solved it with dynamic chunk size logic, but from what I can tell right now, looks like in azure we might be better off trying to increase the timeout in https://github.com/iterative/dvc/blob/0.82.4/dvc/remote/azure.py#L114 (if I

[2020-01-29 00:08] efiop commented on #3250
Btw, @ogigoc does `az cp` work fine for you with big-ish files?

[2020-01-29 05:22] jorgeorpinel commented on #3176
Haha sorry @casperdcl, I meant iterative/dvc.org/issues/652!

[2020-01-29 05:23] jorgeorpinel commented on #3249
Makes sense!

[2020-01-29 05:23] #3249 closed

[2020-01-29 05:33] jorgeorpinel commented on #2982
But actually I believe `dvc diff` is currently being reworked to behave like the new `dvc metrics diff`, where by default it compares HEAD vs the working tree (local changes) @dmpetrov.

I agree totally! My suggestion is that maybe we should be reviewing the behavior of `dvc status` and not that of `dvc diff` here.

OK but I don't get the meaning of that note. Does it mean e.g. `data/` was not add

[2020-01-29 06:28] shcheklein commented on #3230
@RomanVeretenov could you please try the latest version (remove `no_traverse` setting from the `.dvc/config`)? I hope we've fixed the missing files issue.

@RomanVeretenov not sure what's up with rate limits. Will try to reproduce. 👀

Btw, I would also recommend to remove the files on the google drive remote you don't need anymore (from the time you was pushing them one by one). Just create a clea

[2020-01-29 07:59] Suor commented on #3176
I am against going for completeness too. Google format is a good example of how bloat is created by doing so. The same reason to avoid consistency if that causes bloat. Python stdlib lives happily without that.

@shcheklein the doc-string should describe what function is doing, so that people wouldn't need to guess by name. Params should only be described if that is non-obvious, formal description

[2020-01-29 09:05] shcheklein commented on #3176
don't see how does it create bloat. Any docs are valuable for me (list of exceptions to expect if it can be provided, types, brief param descriptions, etc). I do use them extensively if they exist. Agreed that we can omit parameters if they are obvious. On the other hand how is it different from CLI - why do we include brief description to seemingly obvious options?

Not sure I understand why shou

[2020-01-29 10:16] byaka commented on #3248
no, it happens for me on every push, pull or status but only on servers where dvc installed via pip
on my centos servers dvc installed via yam and this problem not happens

[2020-01-29 10:17] Suor commented on #3176
`os.walk()` has complicated interface, thus a long doc string. It also shows the value of examples and no value of formal style guide.

Simple functions, like ones from `os.path` have very simple doc-strings, usually one-liners. Any non-obvious things are mentioned briefly, see `os.path.exists()` for example.

[2020-01-29 11:24] pared commented on #2349
Point from @shcheklein to think about:
What about use case when there is already `git & dvc root` and someone want's to initialize `sub dvc repo` somewhere down the tree?

[2020-01-29 13:57] efiop commented on #2349
@pared I think we should handle it as git in that case by just ignoring it when collecting stages :slightly_smiling_face: Basically the same as having `sub-repo` in the `.dvcignore` of the host repo

[2020-01-29 14:11] efiop commented on #3248
@byaka yum packages are a bit different, they are built with pyinstaller, so it might be swallowing such hickups. Thanks for clarifying! We will try to take look soon. Let us know if you'll have any other issues :slightly_smiling_face:

[2020-01-29 14:44] efiop commented on #2995
@jorgeorpinel I was expecting some follow up requirements on this one, but looks like everything mentioned in this ticket is already implemented. So let's close it for now. Thanks for the heads up!

But this diff is a metrics diff, direct comparison with `git diff` is not quite correct here. Plus, git diff shows before and after without the difference simply because it is working with strings and

[2020-01-29 14:44] #2995 closed

[2020-01-29 14:49] efiop commented on #2036
@kaiogu Sounds good, let us know if you'll have any questions :) Btw, we have a dev-general channel in our discord, please feel free to join :slightly_smiling_face:

[2020-01-29 14:51] efiop commented on #3219
@qwljasmine sorry for the delay. Could you try removing the leading `/` and see if that helps? Though I think it will still fail, because you are using posix path on windows machine. Is your colleague running linux or mac?

[2020-01-29 16:15] pared commented on #2349
@efiop or, for starters we can simply forbid that :)

[2020-01-29 16:21] efiop commented on #2349
@pared but that will break all of my tests, that I run in the dvc root :smile: I might be missing some issues here, but at least to me it feels like git-like behaviour is reasonable. Maybe you'll find some arguments against that.

[2020-01-29 17:37] shcheklein commented on #3176
Okay, to summarize.

Looks no one wants to introduce a heavy formats like google's, etc (with sections, and whatnot) and more in favor of stdlib's approach, namely: single or multi-line block of text which might (and probably should) include param names, exceptions, etc, and describes what's happening in some reasonable way.

I'm totally fine with this as well. If we all agree on this, @jorgeorpin

[2020-01-29 17:42] shcheklein commented on #2699
@efiop @casperdcl just to double check - all checkboxes are fixed in this ticket?

[2020-01-29 17:56] jorgeorpinel commented on #3176
It sounds pretty vague to me. Is the policy "please write some sort of docstrings when you think its reasonable"? We would be back at square one but I can't really have a strong opinion here so up to you guys 🙂

[2020-01-29 17:58] jorgeorpinel commented on #3176
p.s. just a question: does this mean it's not allowed to use a full format? Or is it totally fee for everyone to chose their favorite docstring flavor? Bc I've already been using Google's a little bit 😋

[2020-01-29 19:43] shcheklein commented on #3176
@jorgeorpinel I would avoid mixing different styles - e.g. Google and stdlib. The way I understand stdlib - you just write a "description" that is valuable to the end-user of what's going on, using param names as terms in it.

we go from a format discussion to the usefulness of them, let's move it to another topic please?

[2020-01-29 19:46] casperdcl commented on #2699
no it's continued in #3060

[2020-01-29 20:29] casperdcl commented on #2699
@shcheklein @efiop I think this (#2699) can be closed as #3060 mentions everything outstanding without needing to come back here for more context.

[2020-01-29 20:30] casperdcl commented on #2699
I've also checked more boxes here given #2846

[2020-01-29 20:31] casperdcl commented on #3060
@shcheklein is this done already? I seem to recall it may have been mentioned in a different PR.

[2020-01-29 22:01] shcheklein commented on #3060
@casperdcl so, I'm not sure to be honest. It's super important and should be done in a way that is visible when certain thresholds are passed. I don't remember what is current policy even. I would revisit them.

[2020-01-29 23:26] r0f1 commented on #3242
Thanks for the quick response. I tried to reproduce the behaviour today, but I could not. So, I am closing this again. Thanks anyways!

[2020-01-29 23:26] #3242 closed

[2020-01-30 08:58] dmpetrov opened #3255 "status: what should be the default behavior and distinction to diff?"
`git status` and `git diff` have different syntax (diff is based on checksums, status - not) and semantics (diff is based on history, status - on workspace and index).

`dvc diff` and `dvc status` have different syntax with similar semantics because `dvc diff` is not doing an actual content diff. So, these commands could be potentially "merged" into a single one.

Even if we decide to keep both I'

[2020-01-30 09:01] dmpetrov commented on #2982
@jorgeorpinel I've created #3255 for discussing diff vs status and possible merge.

You are right. If anything was change inside a data dir - the dir will change and we don't want to lose this information (from output).

[2020-01-30 09:04] dmpetrov opened #3256 "Incorporate file sizes in dvc file"
If we add file sizes in DVC-files (when we calculate checksum - so, no extra reads) it will help us to show this info in `dvc diff`/`dvc list` and other commands with no I/O or computational overhead.

Related to #2982

[2020-01-30 09:05] dmpetrov commented on #2982
Also created #3256 re the file sizes.

[2020-01-30 09:22] jorgeorpinel commented on #3235
Makes sense. I don't remember if I tried uninstalling with `brew` before workarounds. Oh well

Sweet, thanks Ruslan. Haven't gotten back to testing GDrive stuff but will let you know if I have any other troubles. And OK about the known issue of extra blank lines.

[2020-01-30 10:02] #3241 closed

[2020-01-30 12:51] efiop commented on #3243
@mroutis By definition, func and unit tests serve different purposes and have different requirements. Mixing those together will just result in giant files with mixed test contexts, which is a terrible idea. We will get integration tests at some point too, which will add to the chaos if we don't keep them separate. Migration to pytest has nothing to do here, it is just a test framework.

[2020-01-30 12:51] #3243 closed

[2020-01-30 14:25] efiop commented on #3248
For the record: another user is experiencing the same issue https://discordapp.com/channels/485586884165107732/485596304961962003/672421181185589275

[2020-01-30 15:27] ayushais commented on #3247
It would be really nice if this feature is available.

[2020-01-30 16:54] shcheklein commented on #3256
I like the idea! On the other hand it might complicate the merge, diffs will become bigger? Also, are there any other fields that potentially could be useful (names? modes? type?).

Just a though to consider - does it makes sense to revisit the discussion around taking md5 files hashes out? Potentially all this meta information can go into the same place.

[2020-01-30 17:14] mroutis opened #3259 "CopyFile2 not supported in Windows 7"
A user reported on [discord](https://discordapp.com/channels/485586884165107732/485596304961962003/672482282522673162) that `dvc add` was throwing the following error:

[code]

Here's the output of `dvc version`:
[code]

We are using `CopyFile2` on Windows to increase the performance of copy (see [speedcopy](https://github.com/antirotor/speedcopy)), but that [system call was introduced in Windows

[2020-01-30 17:21] mroutis commented on #3256
Yes :slightly_smiling_face:

[2020-01-30 17:24] shcheklein commented on #3259
Looks like Windows 7 EOL is already here? Considering that the whole Windows users share for DVC is about 2% or something not sure we should spend too much time on it?

We definitely should introduce some user-friendly message though and change docs is needed.

[2020-01-30 17:27] mroutis commented on #3259
@shcheklein , totally, looks like it already happened:

[EOL: Windows 7, service pack 1*, (mainstream) January 13, 2015 - (extended) January 14, 2020](https://support.microsoft.com/en-us/help/13853/windows-lifecycle-fact-sheet)

[2020-01-30 17:27] #3259 closed

[2020-01-30 17:59] jorgeorpinel commented on #3245
From same discussion in https://github.com/iterative/dvc/pull/3244#pullrequestreview-348990111, I think the conclusion is that the easiest thing to do is to use "commit" everywhere (instead of both "revision" and "reference") to avoid getting into Git's jargon too much. As a first step though, making everything "revision" is also OK. Notice that "revision" means "Synonym for commit (the noun)" per

[2020-01-30 18:13] jorgeorpinel commented on #3245
p.s. using the more general term "version" instead of revision sometimes is also best. E.g. in the new `dvc diff` description by Ramón: "Compare two different versions of your DVC project (tracked by Git)" 👍

[2020-01-30 18:21] jorgeorpinel commented on #3245
Note: other Git terms we may want to review/avoid are:
- "working tree" in favor of "current workspace" or something like "local changes", as appropriate.
- Maybe "SHA" in favor of "commit hash"? (This is the route we're currently going in docs.)

[2020-01-30 19:50] jorgeorpinel commented on #2982
Thanks!

Sorry, I still don't really get it. I don't think the note was added in #3229 anyway (cc @mroutis)

[2020-01-30 19:56] kevlar1818 opened #3261 "Pull extrememly slow on ~400GB of data with hot DVC cache"
OS: Docker image based off of `tensorflow/tensorflow:latest-gpu-py3`, with Python 3.7.5 as the system Python.

Initial setup:
[code]

DVC cache configuration:
[code]
Please note that the DVC cache is hot. In other words, most if not all files for `dvc fetch` are present and up-to-date at `/ssd/...`.

Make a fresh clone and profile `dvc pull`:
[code]
**This `dvc pull`, uninstrumented, usually takes

[2020-01-30 20:02] qwljasmine commented on #3219
@efiop removing the leading / can run. My colleague is running windows 10

[2020-01-30 20:04] shcheklein commented on #2982
@jorgeorpinel I think note is not part of the output (check the PR https://github.com/iterative/dvc/pull/3229/files - this the fastest way to answer this kind of questions).

The way I understood this:

If `data` dir itself is under DVC control and we add/delete files inside it and/or add/delete the directory we need to show _it_ in the output along with changed files inside.

@dmpetrov @mroutis f

[2020-01-30 20:12] DavidGOrtega opened #3262 "HTTPSConnectionPool(host='analytics.dvc.org', port=443): Read timed out"
For a few minutes analytics.dvc.org was down and DVC was constantly showing this error:

[code]

#### Settings
[code]

[2020-01-30 20:23] jorgeorpinel commented on #2982
OK, I think I finally get it. My rec text for this note is something like "Entire dir tracked by DVC, specific changes listed below."

[2020-01-30 20:38] kaiogu commented on #2036
@efiop, I was thinking of calling it "safe" because it would only clear the cache if there was a backup safe in a remote. I'll let you know if I get stuck.

[2020-01-30 21:05] kevlar1818 commented on #3261
Looking into this further, it appears DVC is wrongly treating the binary files as text files (via istextfile.py). This leads to the huge amount of `dos2unix` calls mentioned above. In my case, the files have large text headers followed by binary data.

[2020-01-30 21:54] shcheklein commented on #2982
so, since this not is not part of the output (I hope), we can save this phrase for the docs :)

[2020-01-30 22:22] efiop commented on #3262
Just a reminder that we've dropped support for python 2.7, you shouldn't use it. Not sure how you've even managed to do that, as `pip install DVC[all]` will not install 0.81.3 on python 2.

Thanks for the report though! We will take a closer look ASAP!

[2020-01-30 23:01] mroutis commented on #3261
It was a known issue, but I didn't follow up on it :disappointed:

Take a look at https://github.com/iterative/dvc/issues/1970#issuecomment-491154993

[2020-01-30 23:09] xkortex commented on #3247
Seconded! I think there is some nuance in HTTP posts larger than 2 GB, but there is the Content-Range header, which allows you to split up the transfer into chunks, and I think a few other techniques. But it would be great to be able to write a POST endpoint to roll your own DVC remote backend.

[2020-01-30 23:35] efiop commented on #3261
Ouch, our heuristic is similar to git's and only checks first N bytes to determine if this is a binary or a text file. Related https://github.com/iterative/dvc/issues/992 .

That being said, current `dvc pull` should trust hashes downloaded from remote, so I wonder if there is a bug here somewhere. Need to check. @pared maybe you have any thoughts about it?

[2020-01-31 03:12] sid-marain commented on #3262
Perhaps similarly?: `ERROR: unexpected error - HTTPSConnectionPool(host='www.googleapis.com', port=443): Max retries exceeded with url:<REDACTED>?fields=name (Caused by SSLError(SSLEOFError(8, 'EOF occurred in violation of protocol (_ssl.c:1051)')))`

**Settings**
DVC 0.82.2
Python 3.6
Ubuntu 18.04

[2020-01-31 03:26] mroutis commented on #2982
Yep, @shcheklein , you are right; I tried to explain it here, @jorgeorpinel : https://github.com/iterative/dvc/pull/3229/files#diff-2ba4ed2b1831b35693f1715dfb9c9232R21-R32

[2020-01-31 03:48] shcheklein commented on #3262
@sid-marain no, it's a different one. Could you please create a separate, include `dvc <command> -v <args>` (command arfg - those that produce the error), share the output, please?

[2020-01-31 04:29] mroutis commented on #3245
I can agree on using _commit_ instead of _references_ or _revisions_, it is more well known and user-friendly.

:+1:  just to be clear, this specific case ("working tree" -> "current workspace") would apply only for the messages that users see, since it makes sense to talk about _trees_ on the code.

the only instance of "commit hash" that I found on the code was on completion scripts, and it this

[2020-01-31 04:38] jorgeorpinel commented on #3245
Any time a more precise Git term is available in code var/fn names, coments, docstrings, debug output, etc. it should definitely be used, I think. But yes, for user-facing stings we want to simplify terminology and avoid Git jargon as much as possible – hopefully completely.

OK cool that's easy then. We should prob also look for just "hash" which depending on the context may refer to a commit SHA

[2020-01-31 04:39] jorgeorpinel commented on #3245
p.s. I'm down to take this issue as well as other terminology reviews in the code base (e.g. avoid "checksum") but won't have time for it very soon. Maybe next week if I don't keep track of it...

[2020-01-31 04:43] mroutis commented on #3245
Looks like we don't use _hash_ at all :sweat_smile:

[2020-01-31 04:44] sid-marain opened #3265 "Google Remote API Error (max retries exceeded)"
[code]

due to `dvc push`

excerpt from `dvc push -v`

[code]
Settings
DVC 0.82.6
Python 3.6
Ubuntu 18.04

[2020-01-31 04:46] shcheklein commented on #3265
@sid-marain what remote type do you use? Google Drive or GCP?

can you push at least one file or it happens in the middle?

[2020-01-31 04:52] sid-marain commented on #3265
It's GCP.

I can push at least two files, I believe, but the last fails. This happens somewhat infrequently. I am running dvc in a distributed manner from docker in a batch process.

[2020-01-31 04:57] shcheklein commented on #3265
@sid-marain thanks! could you also please share the last part of the stack trace?

It's not clear yet what is happening. To be honest looks more like an environment error to me. We would need to find a way (together?) to reproduce this most likely to understand what's happening.

[2020-01-31 04:59] mroutis commented on #3265
@sid-marain , looks like GCP rate-limits you if you are doing consecutive requests: https://cloud.google.com/storage/docs/request-rate#auto-scaling

[2020-01-31 05:03] sid-marain commented on #3265
@shcheklein : That's all I'm getting from the stack trace. It's difficult to reproduce this error because, as mentioned above, it only seems to happen once every so often.

@mroutis : that might be it. We are potentially doing quite a few requests. Could  retry the dvc call w/ exponential backoff.

[2020-01-31 05:06] mroutis commented on #3265
@sid-marain , as far as I remember, `dvc push` is smart enough to detect already uploaded files, so a retry mechanism could definitely help.

[2020-01-31 05:09] sid-marain commented on #3265
@mroutis: Yeah. Based on review of the timing of this error on logs,  the requests were submitted and failed within a 20 second window. We don't really have a way to coordinate the call to dvc push across the batch, so I think the retry mechanism will have to do. Thanks!

[2020-01-31 06:05] jorgeorpinel commented on #3255
There's definitely perceived overlap, which may be confusing to new users accustomed to `git status` and `git diff` which don't really have such an overlap.

I played with both commands and came up with this comparative summary:

- `dvc status` always works for all projects (even non-Git). It always compares DVC-file data vs. actual files in the workspace, and reports this info grouped by DVC-file

[2020-01-31 06:25] jorgeorpinel commented on #2999
Just to clarify, this is about uncommitted changes in Git+DVC repos, right? Not about `dvc diff` working for non-Git DVC projects.

If so, it was probably addressed by #3229

[code]

[2020-01-31 06:25] jorgeorpinel commented on #2999
p.s. I'm saying I think this issue can be closed.

[2020-01-31 06:28] jorgeorpinel opened #3266 "diff: strange error when a ref (cmd argument) doesn't exist"
Note that this bug report is on the new (unreleased as of now) revision of `dvc diff` from #3229:

[code]

See https://github.com/iterative/dvc/issues/2999#issuecomment-580600796 for a fully reproducible script.

[2020-01-31 06:36] jorgeorpinel commented on #2998
It seems none of this applied for new revision of `dvc diff`, after #3229 (I tested). Should we close this?

[2020-01-31 07:08] efiop commented on #2998
@jorgeorpinel Thanks for the heads up! It wasn't auto-closed because of the formatting. @mroutis Please note that if you close tickets in bulk, you need to add `fix` prefix to every one of those (thought there might be a better way).

[2020-01-31 07:08] #2999 closed

[2020-01-31 07:08] #1893 closed

[2020-01-31 07:10] efiop commented on #2372
Hi @GildedHonour ! Please check out our new version, it still lacks some features, but has these bugs fixed. Thanks for the feedback!

[2020-01-31 07:10] #2372 closed

[2020-01-31 07:12] mroutis commented on #2998
Oh! I see, will properly check it next time.

[2020-01-31 07:37] GildedHonour commented on #2372
@efiop by the way. When I was working on my task in August, so are you on yours. You'd commited some code with "TODO" or "FIX" to master. I pulled it, from the master, and checkout to a new branch for my task. Since then I was getting remarks from Ivan @shcheklein -- "something is wrong with *your code*, why are we these 'warnings' in tests, where do they come from, there weren't there before you'

[2020-01-31 07:45] jorgeorpinel commented on #2998
Oh I see what happened!

![image](https://user-images.githubusercontent.com/1477535/73521341-60d1b680-43cb-11ea-9e99-ab8f94a9b404.png)

Cool, glad it's figured out now 🙂

[2020-01-31 07:47] shcheklein commented on #2372
@GildedHonour could you please provide a little bit context please, send a link, screenshot? I see only one closed PR - https://github.com/iterative/dvc/pull/2353 and I don't see any discussions regarding TODO or FIX in ti. So, I'm a little bit confused. Would be happy to explain any things that potentially looked weird/aggressive from my end - in most case it's just some misunderstanding and/or l

[2020-01-31 10:06] pared commented on #3261
@efiop seems like a bug to me, dos2unix should not be called at all as it's invoked only by file_md5, which supposedly should not happen after https://github.com/iterative/dvc/pull/3200. Looking into that.

[2020-01-31 11:03] pared commented on #3261
Ok, got it, I made a mistake in the implementation:
- trusting remote cache occurs only when we are actually pulling from the cache
- in case when we already have a cache (@kevlar1818 has up-to-date cache) we do not trigger
  files download, which was triggering inserting downloaded files checksums into database, I need to fix #3200 to make sure that proper checksums are also inserted in case when

[2020-01-31 11:18] kaiogu opened #3267 "No dot graphs in deb installation of DVC"
If I run `dvc pipeline show --dot` with the deb installation of DVC I get the following error:
[code]

I tried many combinations of installing pydot and graphviz via `conda`, `pip`  and `apt`, but all lead to the error above.

Dot graph generation works when DVC (and pydot) is installed via conda.

**Please provide information about your setup**
DVC version: 0.82.2
Python version: 3.7.1
Platform:

[2020-01-31 11:29] pared commented on #3261
@kevlar1818 do you set up fresh docker container for each time you use this repo? Or is it kind of your development environment and it will persist?
If the latter, long checkout should not occur again, if your use case is the first one, it will be a recurrent issue.

I think we should consider trusting the cache or provide an option allowing the user to do that.

[2020-01-31 11:31] Aljo-Rovco commented on #1714
Hey sorry, was swamped. Not sure how well I'm suited to contribute, but I can try. Would it just be a check here: https://github.com/iterative/dvc/blob/master/dvc/scm/git/__init__.py#L137 ?

[2020-01-31 12:39] pared commented on #3261
@kevlar1818 please rerun `pull`, and tell us if its also taking so much time

[2020-01-31 15:03] kaiogu commented on #3267
Conda installation of DVC is turning out to be problematic. It is not upgrading past version 0.54.1, probably due to a dependency conflict in my environment.

[2020-01-31 15:08] kevlar1818 commented on #3261
@pared Rerunning pull on the same repo (not a new clone) seems to produce the same runtime as the first pull.

[2020-01-31 15:58] e3bo commented on #3248
I'm also experiencing this issue.

Ubuntu 19.04 and Arch Linux
DVC version 0.82.6.
Installed via pip

Additionally, I have gotten

    Exception ignored in: <function Pool.__del__ at 0x7fb429b86e50>
    Traceback (most recent call last):
     File "/home/eamon/venv2/lib/python3.8/site-packages/dvc/remote/pool.py", line 42, in __del__
     File "/home/eamon/venv2/lib/python3.8/site-packages/dvc/rem

[2020-01-31 20:44] #2834 closed

[2020-01-31 20:44] #2969 closed

[2020-01-31 20:47] efiop commented on #3267
@kaiogu Maybe try pipenv?

[2020-01-31 20:47] wbolster commented on #2755
hey @aabramovrepo, it seems i'm having a similar issue. ssh works fine, but sftp does not, resulting in `subsystem request failed on channel 0`, while the config (both synology DSM UI and sshd_config) seem to indicate SFTP is enabled.

care to share how you solved your issue? it may help me.

[2020-01-31 20:48] efiop commented on #3267
For the record: issue here is that pydot is not included into regular dependencies in any package. We were afraid of it requireing graphviz, but looks like the installation itself is harmless and we could include it. It will raise an error when you try to use it though, if you don't have graphviz installed.

[2020-01-31 21:31] efiop commented on #3267
Adjusted out setup.py, 0.82.7 is releasing now. Will update conda package as well. Thanks for the feedback!

[2020-01-31 21:31] #3267 closed

[2020-01-31 23:18] efiop commented on #3261
@kevlar1818 And could you show prof results for that one too, please?

[2020-02-01 00:47] kevlar1818 commented on #3261
@efiop I'll have to re-run with profiling enabled on Monday.

[2020-02-01 19:06] jorgeorpinel commented on #3236
p.s. is it expected that get/get-url do NOT support `remote://` URLs? I mean, they could (when inside a DVC repo).

[2020-02-01 22:03] efiop opened #3271 "install: support pre-commit util"
So far looks like we only need `pre-commit` to add support for `post-checkout` hook. Authors are ok with implementing it https://github.com/pre-commit/pre-commit/issues/1120 and the implementation is pretty straightforward. Might consider contributing that to provide the best experience for the users (as our dvc hooks get into conflict with out pre-commit hooks already).

[2020-02-01 23:08] efiop commented on #3219
@qwljasmine So `/` helped and now it works as expected? Is the issue resolved?

[2020-02-01 23:13] shcheklein commented on #3219
@efiop I think the problem is that certain command line options combination leads to this unhandled properly exception "ERROR: unexpected error - expected str, bytes or os.PathLike object, not NoneType".

[2020-02-01 23:28] efiop commented on #3219
@shcheklein It is a problem (i've mentioned "except that we could indeed present it better"), but not a core problem. Just checking if the core problem is resolved or not.

[2020-02-01 23:29] shcheklein commented on #3219
@efiop ah, yeah. It looks like it was from the Discord discussion. Not 100% sure though.

[2020-02-01 23:41] efiop commented on #1714
@Aljo-Rovco I think so, yes :slightly_smiling_face:

[2020-02-02 04:52] weekly-digest[bot] opened #3272 "Weekly Digest (26 January, 2020 - 2 February, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 33 issues were created.
Of these, 16 issues have been closed and 17 issues are still open.
## OPEN ISSUES
:green_heart: #3271 [install: support pre-commit util](https://github.com/iterative/dvc/issues/3271), by [efiop](https://github.com/efiop)
:green_heart: #3270 [rwlock: include actio

[2020-02-02 10:28] aprimostka opened #3273 "SFTP destructor error"
dvc --version
0.82.6
Windows 10 x64, pip
Ubuntu 19.04, pip, conda
When do 'dvc pull' with address `ssh://<server-name>/<path>` where ssh detailed config are taken from `.ssh/config` exception raised (windows system):
[code]

Stacktrace is the same on both systems. With version 0.80.0 all works smoothly

[2020-02-02 14:24] efiop commented on #3273
Hi @aprimostka !

Thanks for reporting this bug! I'll close this issue in favor of https://github.com/iterative/dvc/issues/3248 . We are looking into it right now.

[2020-02-02 14:24] #3273 closed

[2020-02-02 14:31] efiop commented on #3248
For the record: can reproduce with paramiko 2.5.0, 2.6.0 and 2.7.1, so it is something else that broke. Looking into it.

[2020-02-02 15:57] efiop commented on #3248
Fixed by #3274. Releasing new version right now.

[2020-02-02 15:58] #3248 closed

[2020-02-02 20:10] dmpetrov commented on #3266
@jorgeorpinel thank you for finding this!
I thought it was solved already. See cases 1 and 2 from https://github.com/iterative/dvc/pull/3229#pullrequestreview-348892487

But it seems like a special case of this bug.

[2020-02-02 20:30] dmpetrov commented on #3255
Agree.

💯  Both will be needed with content diff

[2020-02-02 20:45] vasinkd commented on #1234
I totally agree with @dmpetrov on that! It would be cool to have a file that would match stage inputs to outputs. I can imagine several scenarios when this feature would be extremely useful:
1) You just want to play around with data locally, and caring about branches/cache is just too bothering.
2) You or your teammate runs an experiment which has been done before but everyone has already forgot a

[2020-02-02 21:03] dmpetrov commented on #3256
💯

[2020-02-02 21:23] dmpetrov commented on #1234
Thank you, @vasinkd, for the insights and the scenarios.

The third scenario is especially interesting. I’d appreciate if you could provide more details on this scenario and explain the difference with the 2nd. I feel this scenario and pain it solves but more solid use case can help to define requirements.

Yeah, DVC definitely lacks this features.

[2020-02-02 23:22] dmpetrov commented on #2995
@jorgeorpinel Re the ‘git diff’ - it is a problem of Git which just cannot quantify the difference. If they can they would show numbers instead of line-by-line diff 😀

But really, if number diff does not work for dvc metrics it means the metrics were not defined properly. We need to introduce a more strict requirements for metric files.

[2020-02-02 23:34] #3272 closed

[2020-02-02 23:41] dmpetrov commented on #1577
@anotherbugmaster for sure. It can be a part of a solution.

[2020-02-02 23:50] dmpetrov commented on #3233
I guess, the common approach is to have `prod` branch and release only from this branch. So, the badge will be green 99.99%.

But it seems like a bit heavy solution. Are there any other reasons to have a separate branch? 😀

[2020-02-03 00:51] casperdcl commented on #3233
Hmm I feel like what this needs is a PR on shields.io to automatically pick up the last travis tagged build. Or Travis CI itself could provide that badge. In the meantime I think just a badge for master should ne enough. Normally `master` should never fail to build either since we should test things in dev branches before merging...

[2020-02-03 01:22] efiop commented on #3233
dev branch complicates the workflow, we've considered this awhile ago. So far there is no real need in it and a badge is hardly a reason. Current dummy badge is hackish, but it serves the purpose. Hence why  I don't think we should bother messing around with it for now.

[2020-02-03 01:35] dmpetrov commented on #1074
@gerardsimons thank you for the detailed explanation of your vision on the dashboard. We just started working on visualization in DVC that could be a part of the future dashboard.

I’d love to hear your opinions on DVC visualization:
1. We need a tool to visualize dvc metrics. What tool or library would you prefer?
2. We need to compare metrics (scalars like AUC as well as plots like ROC curve) fr

[2020-02-03 05:32] dmpetrov commented on #2886
@iterative/engineering it seems like an important bug. Should we make it p0?

[2020-02-03 08:15] RomanVeretenov commented on #3230
I will try ti reproduce it on latest DVC version with new gdrive folder and without `no_traverse` this week and report the result

[2020-02-03 08:25] dmpetrov commented on #2706
It is quite dangerous to change a command behavior (syntax of the command in this case) by a config option. This  should be done only in exceptional cases.

For this particular case, managing multiple DVC projects inside a single mono-repo might be a better solution with additional benefit. See #2349. The implementation is coming soon #3257.

I’m closing the issue in favor of #2349. Please provide

[2020-02-03 08:25] #2706 closed

[2020-02-03 08:30] dmpetrov commented on #2677
@iterative/engineering should we prioritize this issue? It seems important.

[2020-02-03 08:34] dmpetrov commented on #2581
@Suor was this issue resolved by #2608?

[2020-02-03 08:36] dmpetrov commented on #2631
Guys, is it still relevant?

[2020-02-03 08:46] dmpetrov commented on #1629
@efiop and @mroutis if there are not requests from users we should just close it. Did we have any during this time?

[2020-02-03 08:54] dmpetrov commented on #1696
@efiop, @mroutis and @jorgeorpinel did someone asked for ftp in the last half a year? We should probably close the issue if not. Or prioritize it if users ask.

[2020-02-03 09:10] dmpetrov commented on #2397
@efiop you explained that the first case is not correct. Could you please clarify with the second one - does DVC works properly and should we close this issue?

[2020-02-03 10:56] vasinkd commented on #1234
Actually, all three scenarios are the same: we run the same experiment several times and do not want to recalculate  outputs if they are available in local/remote cache.

Second option is more about checking data in the remote cache. This is going to be helpful during experiments phase.
Third option is related to retraining models: I run the same pipeline for different input data each month. I do

[2020-02-03 11:28] Suor commented on #2581
@dmpetrov No, that PR was not solving this and it was closed not merged.

[2020-02-03 11:42] Suor commented on #2349
We discussed this issue during planning and haven't come to any conclusion. My personal opinion that implementing this will be costly in the long run:
- most probably lots of code in dvc implicitly presupposes dvc and git having same roots
- most future features will need to be aware of this possibility
- existing features will need to be adopted, we'll miss most of this on initial implementation

[2020-02-03 13:31] guysmoilov commented on #2349
@Suor Well I don't know about prioritization, but I've talked to several companies who wanted to use DVC but this was a 100% blocker for them. They won't change their whole organization's setup to use DVC. So if you want them to ever be users you'll probably need to support it at some point.

[2020-02-03 14:14] Suor commented on #2349
@guysmoilov but if it would be possible to use single dvc repo for git repo, but configure remotes by folder won't that be good enough?

[2020-02-03 14:19] Suor commented on #2706
@dmpetrov #2349 looks way more dangerous and way more heavy.

[2020-02-03 14:34] Suor commented on #2631
@dmpetrov yes, it doesn't lead to an error though, only makes unneeded download or status check if a dir listing is already downloaded.

[2020-02-03 15:11] NyanSet commented on #1074
Isn't there a Python API yet?
Can't see the `dvc/project.py` mentioned above

[2020-02-03 16:12] ogigoc commented on #3250
Hi @efiop,

Thanks for the fast reply! I tried setting the timeout but it just gets ignored no matter the value. But, setting `max_connections=1` solves the issue for me, so i'll just use it like that. I assume that this is specific for me and you don't want it in a pull request?

Did not try `az cp` i only use azure for dvc.

[2020-02-03 16:14] guerinclement opened #3275 "Issue with cert verification"
Just tried out the Get Started DVC Tutorial and got stuck quite quickly...
I ran the following command:
$ dvc get https://github.com/iterative/dataset-registry get-started/data.xml -o data/data.xml
and got this error:
ERROR: failed to get 'get-started/data.xml' from 'https://github.com/iterative/dataset-registry' - could not perform a HEAD request
ERROR: unexpected error - HTTPSConnectionPool(host

[2020-02-03 16:44] efiop commented on #3248
@byaka @e3bo @aprimostka Guys, 0.82.8 is out. Please upgrade and give it a try. Let us know if the issue still persists or not :slightly_smiling_face:

[2020-02-03 18:20] kevlar1818 commented on #3261
[dvc_pull2_prof.zip](https://github.com/iterative/dvc/files/4149404/dvc_pull2_prof.zip)

![Screenshot_2020-02-03_13-19-24](https://user-images.githubusercontent.com/1828432/73679141-b949d200-46b1-11ea-9068-9f9d2577d105.png)

[2020-02-03 18:22] kevlar1818 commented on #3261
@efiop @pared @mroutis Please see above for the requested profiling of a second `dvc pull`

[2020-02-03 19:11] efiop commented on #2699
Closing.

[2020-02-03 19:11] #2699 closed

[2020-02-03 19:13] efiop commented on #3060
Current policy is per-link, so it only shows a warning if one individual link takes longer than 10 seconds. It doesn't account for like, 2 links of 5 seconds or anything like that. Feels like we could simply lower the threshold to improve the experience, but need to make `protected = True` by default first.

[2020-02-03 19:30] efiop commented on #2036
@kaiogu `safe` is too generic for my personal taste, maybe @iterative/engineering have any thoughts/ideas about it?

[2020-02-03 19:30] mroutis commented on #3266
@jorgeorpinel , I can't replicate the error, I tried with the following:

[code]

[2020-02-03 20:41] mroutis commented on #3255
Related: https://github.com/iterative/dvc/issues/1406

[2020-02-03 20:45] shcheklein commented on #3266
@mroutis did you try the original repro script @jorgeorpinel put together in the comment above:

[2020-02-03 20:57] shcheklein commented on #1629
Also we don't support external anything stuff on HDFS. So, it can be closed. And we should finally remove mentions of HDFS for external* in the docs.

[2020-02-03 21:17] efiop commented on #3236
@jorgeorpinel Yes, it is, because they work without any notion of the repo they are working on, they are not even parsing global or system configs, where remote definitions might be.

[2020-02-03 21:23] efiop commented on #1629
@dmpetrov @shcheklein How about we keep support for external deps? That way we will still support `import-url` and `dvc run -d hdfs://` without any issues (for deps checksum collisions don't matter that much), and will get rid of dangerous external outputs and will get rid of `hdfs CLI` usage.

[2020-02-03 21:46] mroutis commented on #3266
@shcheklein , I didn't see the script, thanks for pointing that out.

I tried it one more time with the original reproduction script and still couldn't reproduce it :slightly_frowning_face:

@jorgeorpinel , in this version of `dvc diff` we deprecated the use of `--target`.

[2020-02-03 22:13] byaka opened #3278 "Any suggected way to use dvc from python?"
We want to use dvc commands right from our software.

As i see dvc dont have stable api for this.

what way u suggest?

i find [this](https://medium.com/qonto-engineering/using-dvc-to-create-an-efficient-version-control-system-for-data-projects-96efd94355fe) and here they use it like
[code]

Is this way ok or it can breaks on new versions?

[2020-02-03 22:15] byaka commented on #3248
@efiop thank u and dvc-team, ill check it tomorrow

[2020-02-03 22:26] mroutis commented on #3278
@byaka , that's a good option, if you need more control over the operations, you can try using `dvc.repo.Repo`

[2020-02-03 22:58] efiop commented on #3256
For the record, might be solved in https://github.com/iterative/dvc/issues/1871 .

[2020-02-03 23:00] efiop commented on #2677
@dmpetrov I don't think we should, as our primary mac packages are brew, conda, pip. pkg might be dropped at some point.

[2020-02-03 23:02] shcheklein commented on #1629
I would argue that even `-d` support would require at least explaining the possible edge case (something you expect running does not actually run). Better to mention that use a separate custom stage with your own logic to detect remote changes.

[2020-02-03 23:08] dmpetrov commented on #1629
`-d` - makes sense. And some companies use DVC in that way (OK - is one example). So, closing this one (WebHDFS).

[2020-02-03 23:08] #1629 closed

[2020-02-03 23:12] dmpetrov commented on #1629
Re `-d`... I mean, now people use HDFS as a remote. We can eventually implement `-d` (it is not supported now, right?). Anyway, these WebHDFS methods are not relevant for any of these cases and we can close it.

[2020-02-03 23:13] shcheklein commented on #1629
My bad, the initial ticket is about simplifying regular remote operations, so please disregard my comments about external* stuff :)

[2020-02-03 23:14] shcheklein commented on #1629
if we can drop external* stuff support can webhdfs simplify dependencies/speedup things @efiop @mroutis ?

[2020-02-03 23:16] dmpetrov commented on #2677
pip and conda are not the best installation methods actually - it forces you to install DVC for each of your virtual env. It is great to support OS-specific packages with the assumption it does not take too much of our resources.

PS: we can potentially outsource this issue - it seems pretty independent.

[2020-02-03 23:24] dmpetrov commented on #3266
I guess @jorgeorpinel was found the bug in the old version. It was a race condition between us 😄
It looks like it can be closed. @jorgeorpinel please reopen if I missed something.

[2020-02-03 23:24] #3266 closed

[2020-02-03 23:25] efiop commented on #1940
Closing since there is not enough interest. If you are interested in this, please leave a comment. :slightly_smiling_face:

[2020-02-03 23:25] #1940 closed

[2020-02-03 23:25] efiop commented on #1696
@dmpetrov Indeed, not much activity here as well as in box.com ticket. Closed that one, closing this one as well. Thanks for the heads up!

[2020-02-03 23:25] #1696 closed

[2020-02-03 23:27] jorgeorpinel commented on #2677
Well, if we prioritize iterative/dvc.org/issues/919 in the docs repo, maybe this one won't be as urgent.

But still, `brew` although great implies the extra step to install Homebrew, so I'm not sure how many people will still prefer the package anyway.

[2020-02-03 23:31] dmpetrov commented on #1074
@NyanSet public API in `dvc/api.py`. Also, you can potentially use `Repo` class from dvc with some risks. See #3278.

Unfortunately, no metrics or visualization API yet. This is what I'd like to discuss here 😃

[2020-02-03 23:31] jorgeorpinel commented on #3266
Thanks guys! I guess it was fixed before the feature was officially released. I was trying on the beta while writing the docs.

[2020-02-03 23:32] efiop commented on #2397
@dmpetrov No longer able to reproduce. Everything works as expected. Closing. Thanks for the heads up!

[2020-02-03 23:34] dmpetrov commented on #2706
@Suor it is more general and it should not be heavy. Otherwise, we will end up with many ways of doing the same thing.

[2020-02-03 23:36] efiop commented on #1234
@vasinkd Yeah, we've thought about fulling a similar type of cache through parsing git repo history to find all previously ran dvc-files plus some non-commited that were ran in this local repo. I might be missing something, but I think we could totally start with the approach you've suggested. :+1:

[2020-02-03 23:37] casperdcl commented on #2036
`local`, `pushed`, `synced`?

[2020-02-03 23:45] efiop commented on #1629
@shcheklein Not really, webhdfs is a http-based protocol, we don't need to support it in hdfs remote. This ticket was created before pyarrow, so it is no longer relevant, except for the fact that we still use CLI to get hdfs checksums, which will be resolved by removing the support for external stuff. So let's keep this closed.

[2020-02-03 23:47] nik123 opened #3279 "ARM architecture support"
Recently I have tried to install DVC on Nvidia Jetson TX2 without any success (I have tried pip and deb packages). It seems that amd64 is the only supported architecture by now. Are there any plans for ARM-based devices support (Nvidia Jetson, Raspberry Pi, etc.)?

**Requirements:**
1. Hardware: Jetson TX2.
1. OS: Ubuntu 18.04.3.
1. Python version: 3.6.9 (inside virtual environment).

**Steps to r

[2020-02-03 23:48] mroutis commented on #3279
@nik123 , have you encountered any specific error?

[2020-02-03 23:49] efiop commented on #3250
@ogigoc Could you please elaborate on where you've set `max_connections`? So far it still sounds like we should consider adjusting the timeout or chunk sizes. The reason why I've asked for `az cp` results is that it would help us understand if dvc behaves weirdly compared to `az` and if we could theoretically borrow some logic from `az`, as we did with `gsutil` for GS a few months back :slightly_s

[2020-02-03 23:54] efiop commented on #3279
@nik123 To be honest, we haven't ever looked into ARM support :slightly_smiling_face: Indeed, deb package is a binary package, which is only meant for x86_64. Have you tried installing from conda or pip?

[2020-02-03 23:55] mroutis commented on #3279
@efiop , from his comment:

[2020-02-03 23:59] efiop commented on #3279
@mroutis Oops, sorry, long day :slightly_smiling_face: Yeah, would love to see the pip error then. I imagine the issue there might be that some of our dependencies don't have binary wheels for arm and so pip tries to compile and fails.

[2020-02-04 00:02] #1744 closed

[2020-02-04 00:06] efiop commented on #2677
I don't think that there are many of our target audience that have mac that don't have brew. :slightly_smiling_face:  It is like a defacto standard package manager. Maintaining a pkg is a hustle (previously discussed pyinstaller) and uninstalling it is cumbersome and updating is even worse, unless we invest in some auto-updater, which feels wasteful.

[2020-02-04 00:14] efiop commented on #3278
@byaka Your example uses CLI through a python entrypoint. That is pretty stable, almost no chance of us moving `main()` somewhere else anywhere in the future. So that (or just `os.system("dvc ...")` or Popen) totally works :slightly_smiling_face:

The Repo class mentioned by @mroutis is officially not as secure from changes as CLI, but you should be fine, as long as you use specific dvc version as

[2020-02-04 01:01] nik123 commented on #3279
@efiop I have tried to install via pip too. Right now I don't have access to the arm device. But as soon as I will have access to it I will try to install dvc again and post result here.

[2020-02-04 01:03] shcheklein commented on #3060
First thing I would say for this ticket is make sure that it is visible clearly with all these changes to progress bars and whatnot.

[2020-02-04 01:08] mroutis commented on #3275
@guerinclement , a work around would be to disable analytics: https://dvc.org/doc/user-guide/analytics#opting-out

[2020-02-04 05:44] aprimostka commented on #3248
I had not time to fully test but first run gone smoothly

[2020-02-04 09:25] ogigoc commented on #3250
@efiop I've set `max_connections=1` in `create_blob_from_path` at https://github.com/iterative/dvc/blob/0.82.4/dvc/remote/azure.py#L114 . Unfortunately, i don't have an azure account so i cannot try `az cp`. But, i'm pretty sure my issue is reproducible just by limiting your upload speed to about 100kB/s and running `dvc push`, a colleague of mine has been able to do it in a completely different e

[2020-02-04 11:04] efiop commented on #3250
@ogigoc But if you are able to dvc push/pull, then `az cp` should also work, or am I missing something? I don't think you need any special account on top of what you already have.

Thanks for clarifying about `max_connections`! It would really help to try out with `az cp`, as it will allow us to quickly understand if az already has a working recipe that we could then port to dvc.

[2020-02-04 11:06] efiop commented on #3275
@guerinclement Btw, could you please post `dvc get https://github.com/iterative/dataset-registry get-started/data.xml -o data/data.xml -v` log? Notice the `-v` I've added to enable verbose output.

[2020-02-04 11:32] Suor commented on #2036
Another option is to include this into push somehow:
[code]

[2020-02-04 11:57] Ykid opened #3280 "Speed up dvc status for large projects"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]

expect `dvc status` can return in a shorter time, currently it takes 30s.

a few stats
[code]

[code]
[log.txt](https://github.com/iterative/dvc/files/4153107/log.txt)

[2020-02-04 12:19] pared commented on #3280
I think we should try to reproduce such big repo and see what takes so much time, I suspect db access.

[2020-02-04 12:25] dr-duplo commented on #1317
Why not using existing encryption solutions like git-crypt or the like for transparent encryption?
The tools already provide an AES key and a PGP user "management" which is very handy.
This would also reduce the implementation complexity a lot.

[2020-02-04 13:10] guerinclement commented on #3275
@efiop here you go:

(dvc) [78176d@slhdg002 tuto-dvc]$ dvc get https://github.com/iterative/dataset-registry get-started/data.xml -o data/data2.xml -v
DEBUG: CREATE TABLE IF NOT EXISTS state (inode INTEGER PRIMARY KEY, mtime TEXT NOT NULL, size TEXT NOT NULL, md5 TEXT NOT NULL, timestamp TEXT NOT NULL)
DEBUG: CREATE TABLE IF NOT EXISTS state_info (count INTEGER)
DEBUG: CREATE TABLE IF NOT EXISTS l

[2020-02-04 13:21] nik123 commented on #3279
@mroutis , @efiop : I have updated description with error message and also attached full log for `pip install dvc[all]`

**P.S.:**
It seems if I install dvc itself (`pip install dvc`) it works fine. However if I try `pip install dvc[all]` it fails with error.

[2020-02-04 13:22] e3bo commented on #3248
Upgrading to 82.8 from 82.6 resolved the issue for me too.

[2020-02-04 14:02] efiop commented on #3279
@nik123 Ok, looks like `pyarrow` is the cause there. Do you need support for hdfs? If not, just use whichever options you need instead of `all`, except for `hdfs`. E.g. `pip install '[gs,s3,azure,oss,ssh,gdrive]'` to install everything except for `hdfs` support. Please try it out and let us know how if it works or not. :slightly_smiling_face:

[2020-02-04 15:34] shcheklein commented on #3280
@pared @Ykid could we run it with a profiler please:

`python -m cProfile -o status.prof -m dvc status -v`

[2020-02-04 15:40] guysmoilov commented on #2349
@Suor I wouldn't think so. What makes remotes so special? I might want to use different versions of DVC for different parts of the tree for example, have separate caches, etc. Think completely different teams in the same organization, they might not know each other or not be in the same continent.

[2020-02-04 15:57] Suor commented on #3280
Reading through discord dialog and looking at the log I don't think this is about big repo. This is probably about many imported files, which create many clones on `dvc status`.

[2020-02-04 16:16] mroutis commented on #3262
Related: #3275

[2020-02-04 16:18] pokey commented on #2349
Fwiw my use case should be solvable using configurable / partial remotes.  We're building a centralized repo for all of our datasets, and some of them live in Box, others live in s3 buckets on different AWS accounts which can't be allowed to cross-contaminate etc.  So if there is a robust solution to configurable / partial remotes that can convince our infosec people, I'm happy.

I think supportin

[2020-02-04 16:20] nik123 commented on #3279
@efiop `pip install 'dvc[gs,s3,azure,oss,ssh,gdrive]'` ended with success.

[2020-02-04 16:35] anderl80 opened #3281 "CondaValueError: Malformed version string '~': invalid character(s)."
# System Info

Linux version 2.6.32-754.23.1.el6.x86_64 (mockbuild@x86-vm-26.build.eng.bos.redhat.com) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-23) (GCC) ) #1 SMP Tue Sep 17 09:46:55 EDT 2019

# Conda Info

[code]

# Bug

[code]

[2020-02-04 16:46] efiop commented on #3262
Need to look into handling analytics errors more gracefully. E.g. https://github.com/iterative/dvc/blob/0.82.8/dvc/main.py#L90 is outside of main's try-execept, so no friendly footer (the one with "need some help?") will be printed.

[2020-02-04 16:59] vasinkd commented on #1234
Yes, I will definitely to give it a try)

[2020-02-04 17:15] shcheklein commented on #2349
@pokey do you have a clear separation - one remote per project? or do you want to keep different data types (e.g. models in one, datasets - another). It seems to that configurable remotes is a good features by itself - just trying to clarify what is the best way to achieve it:

1. being able to specify per "output" aka data artifact certain options - do we need to push/pull it by default, which re

[2020-02-04 17:31] mike-weinberg commented on #2945
Data governance on S3 is painful, data access on s3 is slow, and s3 has no built in compute. Warehouse environments like Snowflake, Bigquery, and (recently) redshift all offer low cost storage pricing. In many cases a data science project involves performing data prep on a data warehouse, so why not let the database table be an option for a storage backend. this would greatly reduce the amount of

[2020-02-04 19:36] jorgeorpinel commented on #3255
OK I guess we can close this one then?

[2020-02-04 19:36] jorgeorpinel commented on #3255
Ah, maybe not!

[2020-02-04 20:38] efiop commented on #3281
Hi @anderl80 !

Looks like it is a conda issue: https://stackoverflow.com/questions/56084960/condavalueerror-malformed-version-string-invalid-characters . Could you try upgrading your conda with `conda upgrade -n base conda` and see if that helps, please?

[2020-02-04 20:52] efiop commented on #3279
@nik123 That is great! :slightly_smiling_face: Btw, could you show the error you were getting when installing deb package? It seems to have the platform info in it, so i expect it to handle incorrect destination platform gracefully.

I suppose `pip` package suits you in that form? Or do you need deb package?

In terms of action points here, so far we may be able to put some env marker check (e.g.

[2020-02-04 21:29] efiop commented on #3261
@kevlar1818 One more thing, could you please show `dvc version` output?

[2020-02-04 22:25] shcheklein opened #3282 "loggers: include timestamp to see how long operation takes"
In logger output (mostly `dvc command -v`) we need to add time to see operation differences, see how long it took overall, etc. It's very valuable information.

[2020-02-05 00:58] Ykid commented on #3280
@Suor `grep --include=\*.{dvc,} -rn my-data-dir -e ".git" | wc -l` gives me 64. I think more or less like that. I have a dvc data registry and import some directories and files from there into the project. So it seems better if I do `dvc get` followed by `dvc add` ? those imported files is not going to be updated very frequently.

num of  files versioned by dvc is around 9k from `find -L . -type f

[2020-02-05 01:53] Suor commented on #3279
Setting aside the question whether we need to support ARM, it's a pyarrow issue, i.e. `pip install pyarrow` will fail as well. It makes sense opening issue there too.

[2020-02-05 01:56] shcheklein commented on #3279
@Suor yep! (but I would surprised if they are not aware about this already. I saw a post from Wes complaining about lack of wheels and how it's hard to support them, etc ...)

[2020-02-05 03:40] mroutis commented on #3275
@guerinclement , can you try doing a `wget` or `curl` request to `request.dvc.org` ? looks like you have problems with our domain, I want to know if it is specific to `dvc` or you also have troubles with other tools.

Could you try with one of the followings?
[code]

[2020-02-05 03:41] mroutis commented on #3275
Also, @guerinclement , could you explain a bit more what do you usually do to solve this problem? (where do you put the `ROOT_CA`)

[2020-02-05 09:34] guerinclement commented on #3275
@mroutis both wget and curl commands works fine.
I usually append my company root ca to the end of the certifi cacert.pem file.

In the current case, I created a new conda env, named dvc, and this file is located here:
/home/78176d/.conda/envs/dvc/lib/python3.6/site-packages/certifi/cacert.pem

[2020-02-05 11:05] #3164 closed

[2020-02-05 11:25] Suor commented on #3280
This is obviously an issue on our end. I will think how this may be sped up.

[2020-02-05 11:38] Suor commented on #3280
@Ykid Can you say how many different sources do you use in those 64 import stages? Source is a pair of `(url, rev)` in `deps.repo`.

[2020-02-05 11:55] casperdcl commented on #3279
Looks likely necessary to `pip imstall numpy` first based on the logs

[2020-02-05 11:56] casperdcl commented on #3279
Fyi `pip install dvc` works fine on my arm64 phone

[2020-02-05 15:20] kevlar1818 commented on #3261
@efiop
[code]

[2020-02-05 15:59] efiop commented on #3261
@kevlar1818 Oh, sorry, forgot to mention that it would be great to `pip install psutil` before that and then run `dvc version` inside the repository, that way it will provide FS info that might be useful here. Could you please do that and show the output once again? Sorry for inconvenience.

[2020-02-05 17:02] n5596 commented on #1582
I had ros-melodic and since removing enum was causing ros to be uninstalled, I just uninstalled miniconda3. That fixed the issue.

[2020-02-05 17:16] efiop commented on #1317
@dr-duplo Great idea! Maybe you could elaborate on how the git-crypt-based implementation could look like?

[2020-02-05 18:01] efiop commented on #2283
As we've discovered with @anderl80 , pyarrow already handles kerberos gracefully. So no action needed here. Closing.

[2020-02-05 18:01] #2283 closed

[2020-02-05 18:14] kss682 commented on #2401
Hi , I would like to work on this issue .

[2020-02-05 18:19] efiop commented on #1765
Closing for the lack of interest from users.

[2020-02-05 18:19] #1765 closed

[2020-02-05 18:21] #3278 closed

[2020-02-05 18:22] efiop commented on #2401
@kss682 Sure! Let us know if you have any questions. :slightly_smiling_face:

[2020-02-05 18:39] nik123 commented on #3279
@efiop It works as intended. Although I mostly use `dvc pull` to get data.

Package manager says that deb package doesn't support arm64. Here is the error message (sorry it's not english. Unfortunately it's the way my device is configured):

[code]

Yes, pip package covers my needs. Thanks!

[2020-02-05 19:08] casperdcl commented on #3279
@nik123 can you try `pip install numpy` and then `pip install dvc[all]` again?

[2020-02-05 19:41] mroutis commented on #3275
@guerinclement , I would take a look, thanks for the info!

Just checking, what version of `certifi` do you have installed?
What is the output of running `python -m certifi`?

[2020-02-05 21:30] nik123 commented on #3279
I tried. It fails with the same error. Full log: https://gist.github.com/nik123/7af9ca1103a097e976f7caa57c6d079a

[2020-02-05 21:46] efiop commented on #3279
@casperdcl pyarrow compilation is quite hard in all aspects, we've ran into it previously.

@nik123 So deb is indeed showing a meaningful error, so no action is required from our package side. Though we could explicitly document that we don't provide binary packages for ARM, but that might be excessive considering that we are getting rid of binary packages in our docs in favour of package managers

[2020-02-05 22:26] byaka commented on #3278
Good to know this, thx!
We give it a try :)

[2020-02-05 23:51] #3203 closed

[2020-02-06 00:01] efiop commented on #2036
Or `dvc remote gc` as it was suggested during the `gc` discussion.

[2020-02-06 00:22] casperdcl commented on #3279
ah I see

- `pip3 install numpy` might work?
- might need to mess with findNumpy/cmake vars (https://github.com/ray-project/ray/pull/820)
- related to https://github.com/apache/arrow/issues/5987

should be an upstream issue.

[2020-02-06 01:35] Ykid commented on #3280
@Suor There is one url as it is our data registry. I follow `data registries` to set it up. For the number of pairs, here it is:

* 60: (repo, revA)
* 4: (repo, revB)

[2020-02-06 08:57] RomanVeretenov commented on #3230
So it still does not work
I have recreated the gremote destination folder in gdrive (deleted it and created an empty one)

[code]

[2020-02-06 11:30] Aljo-Rovco commented on #1714
@efiop created a PR

[2020-02-06 13:00] Suor commented on #3280
@Ykid thanks.

[2020-02-06 13:15] Suor commented on #3280
A note from discord - git repo is big, both history and checked out things:
[code]
The last change only caches single instance of repo, not all of them, which prevents us from needing new `git clone`, but makes a copy of the whole repo sans dvc cache each time. The reason for that is we do `git pull` each time, i.e. modifying the directory, which means caching cannot be used for it. Things are fur

[2020-02-06 17:28] efiop commented on #3167
Yet another occurence in https://travis-ci.com/iterative/dvc/jobs/284360662#L3097 for https://github.com/iterative/dvc/pull/3284 . Using that workaround in conftest now.

[2020-02-06 17:45] #3265 closed

[2020-02-06 17:52] #1714 closed

[2020-02-07 01:07] shcheklein commented on #3230
@RomanVeretenov could you please check what version of PyDrive2 is installed? (`pip freeze` ) ... it should the latest one - 1.4.4

[2020-02-07 01:07] shcheklein commented on #3230
I'm still not sure what is happening wit the exceeded limits. btw ... still looking into it and trying to reproduce

[2020-02-07 02:36] efiop commented on #1871
Ok, so this issue has triggered a reoccurring discussion about separating pipelines and data subsystems of dvc. If we forget about pipelines, then DVC-files could become one-liner placeholder files that would be easy to merge and resolve conflicts. They would be used by commands like `pull/push/checkout/etc` to handle the data itself:

[code]

Now to the pipeline part. As everyone has experienced,

[2020-02-07 06:32] Ykid commented on #3280
May I know what this means ?

[2020-02-07 09:24] prihoda commented on #1871
In my opinion this is a step in the right direction, I would go for adapting this change and breaking compatibility, but it definitely brings up a lot of questions.

- So this means that all of the stages would be defined using one or multiple Pipeline files in your repo?
- How do you handle cases when a new version of the `Pipeline` is commited but not the `Pipeline.hash` (or vice versa), which w

[2020-02-07 11:06] RomanVeretenov commented on #3230
[code]

[2020-02-07 12:09] RomanVeretenov commented on #3230
After updating PyDrive2 to 1.4.4, `dvc push -r gremote` has sucessfully started. But it often reports following error:

` failed to upload '.dvc/cache/4a/dd94f47d5a6f3328fdda6ff6d62fc1' to 'gdrive://root/dvc_root/inex_plates/4a/dd94f47d5a6f3328fdda6ff6d62fc1' - [Errno 101] Network is unreachable`

and the cache value differ always. I have limited the --jobs to 4, but it does not help.

I'm working

[2020-02-07 14:47] efiop commented on #1871
I think it would make sense to allow multiple pipeline files, so that you could have one in your subdirs and do stuff like that. Having only one pipeline file seems too strict and limiting.

There is also an idea of not having `pipeline.hash`, but rather storing it in `.dvc/build-cache` (or similar) in a form of <hash of cmd and dep hashes> -> <out hashes>. Kudos @Suor . That way we wll get build-

[2020-02-07 16:01] prihoda commented on #1871
Can you elaborate more on the build-cache idea? I think I am missing something.

[2020-02-07 20:28] jorgeorpinel commented on #1871
Are we sure? I suspect that changes in the commit hash is what causes merge conflicts anyway, and it would still be the one thing left in single-line DVC-files. I rec. try this with some mock files in Git first.

I don't personally ever change DVC-files manually and it's not really something we advocate for, in docs at least. I wonder how many users really need to do this. Maybe I'm totally off, b

[2020-02-07 23:18] shcheklein commented on #3230
@RomanVeretenov thanks, I think I know what the problem is with the "Network is unreachable" (I hit it myself already, it leaks connections) and I know already how fix this, we will prepare and release and new version this weekend. Thank you for the feedback and your patience.

[2020-02-07 23:54] dmpetrov commented on #1871
It is a really great design proposal from @efiop. Very solid ideas. I especially like the idea of rolling out the pipeline hashes under build-cache. Thanks to @Suor. (Except that I don't like the name, `run-cache` might be better than `build-cache`).

It is great that @efiop deeply immersed in the problem. (To make it even more challenging 😄) I encourage you to think about related DVC-areas and ho

[2020-02-08 13:56] gcoter opened #3287 "Hosting DVC repositories on Gitea?"
Hello,

I recently installed [Gitea](https://github.com/go-gitea/gitea) on my personal server. I find it great to manage my git repositories but I was wondering if there was a way to host my DVC repositories as well. My idea is that, since Gitea allows cloning git repositories with SSH, I should be able to clone DVC repositories with SSH as well.

So I tried it with one project. I set a URL for DV

[2020-02-08 16:27] skshetry commented on #3287
@gcoter, you added the SSH url of repo that's in gitea as dvc remotes, right?
I'm afraid that's not supported as the SSH url is only meant for authentication in Gitea (neither github/gitlab does for the matter). There's no way to ssh directly (and, it's meant to host git repositories).

DVC requires both SSH and SFTP access for SSH remotes to work. You can however `git push` to push to the remote

[2020-02-08 16:46] skshetry commented on #3287
You mean, you changed url similar to `git@github.com:iterative/dvc.git` to `git@github.com:iterative/dvc.dvc`? Anyway, hosting DVC repository is not supported. However, as I mentioned, you can host git repository there and add a different remote storage on the DVC.

You can setup SSH server on the same one as Gitea and use as a SSH remote storage if you prefer. :slightly_smiling_face:

[2020-02-08 20:12] gcoter commented on #3287
Hi @skshetry, thank you for your quick response! Indeed, my idea was that, if I have a git URL like `git@gitea.com/gcoter/project.git`, I would store the corresponding dvc repository at `git@gitea.com/gcoter/project.dvc`. I thought that the SSH service running on Gitea was agnostic to what is inside the requested directory (acting like SFTP) and that I could just use kind of the same URL, as long

[2020-02-08 21:12] dr-duplo commented on #1317
Yes. Sure. I will try, but I'm not deeply familiar with the inner workings of dvc, yet:

I assume for now git-crypt is used. With it you can generate multiple AES keys used to encrypt files. Besides the default key you can also create a named one. After having a dvc specific key created you can permit a GPG user to use the key. Other users will not be able to get the key. It is individual encrypte

[2020-02-09 00:53] caseyjconger commented on #2989
I would just like to throw out that I ran into this issue as well while trying to install it in a docker container based off of `jupyter/tensorflow-notebook`.

Since these are the official images and they are pretty ubiquitous  to use as a base (and thus not know all the details of how it was set up) it would probably be worth either putting a note in the documentation or even finding a fix on DVC

[2020-02-09 01:05] weekly-digest[bot] opened #3289 "Weekly Digest (2 February, 2020 - 9 February, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 16 issues were created.
Of these, 7 issues have been closed and 9 issues are still open.
## OPEN ISSUES
:green_heart: #3288 [gdrive: add gc command support](https://github.com/iterative/dvc/pull/3288), by [MaxRis](https://github.com/MaxRis)
:green_heart: #3287 [Hosting DVC repositories

[2020-02-09 02:18] #3289 closed

[2020-02-09 02:23] efiop commented on #2989
@caseyjconger Great idea! Created https://github.com/iterative/dvc.org/issues/983 to address that. Thanks for the feedback!

[2020-02-09 19:29] vernt opened #3291 "Specify directory to hold dvc files"
If I `dvc run` from my project root, I get a lot of dvc files in that directory. One existing option is

[code]
but I don't really want to change the working directory of my command just to set the location of the dvc file.

Another existing option is

[code]
but that means I have to pass a name for my dvc file when I don't really care about the name.

I would like a flag that takes a directory wh

[2020-02-09 21:26] efiop commented on #3291
Hi @vernt !

Please take a look at discussion in https://github.com/iterative/dvc/issues/1871 , we are considering creating pipeline-files that you could store your whole DAG (or parts of it) in. Maybe that would be a better alternative to what you currently suggest?

[2020-02-10 10:03] RomanSteinberg commented on #1714
@efiop I'd like to ask will it affect my case? I prefer to write root .gitignore like this:
[code]

[2020-02-10 12:06] efiop commented on #1714
@RomanSteinberg I think so, yes. :slightly_smiling_face: The new version is already out on pypi and conda, so give it a try and let us know if it works for you or not.

[2020-02-10 15:03] pared commented on #3218
Reproduction script:
[code]

[2020-02-10 15:05] pared commented on #3218
@efiop @dmpetrov I created pull request that suggests user how this situation should be handled,
do you want to continue work, and make dvc autocommit new file?

[2020-02-10 16:15] kevlar1818 commented on #3261
@efiop
[code]

[2020-02-10 16:35] #2955 closed

[2020-02-10 19:10] dmpetrov opened #3300 "dvc cache dir: carry over the existing cache"
What do I suppose to do with the existing cache dir after `dvc cache dir ../../my_shared_cache`? Probably I should copy it to the new one (`cp -r .dvc/cache/* ../../my_shared_cache && rm -rf .dvc/cache` ).

Is there any reason why the command does not do that by default (or through some option like `--carry-over`)?

[2020-02-10 23:46] jorgeorpinel commented on #3245
Term "revision" still exists in
https://github.com/iterative/dvc/blob/7821fa6866a492c0675248028039257d292a09ec/dvc/command/imp.py#L54
https://github.com/iterative/dvc/blob/7821fa6866a492c0675248028039257d292a09ec/dvc/command/get.py#L72
https://github.com/iterative/dvc/blob/de1f67afbd93929d51c5dd052d5f8a951e77c182/dvc/scm/git/tree.py#L105
https://github.com/iterative/dvc/blob/e7b3297c2d6ae1ad633cd0

[2020-02-10 23:54] jorgeorpinel opened #3302 "term: replace "working tree/dir" for "workspace"? (where appropriate)"
I found it in the following places, at least:

https://github.com/iterative/dvc/blob/de1f67afbd93929d51c5dd052d5f8a951e77c182/dvc/command/gc.py#L15-L17
https://github.com/iterative/dvc/blob/b99c5e4aad6528199ef960d04043f8ffdf3f528c/dvc/repo/brancher.py#L33
https://github.com/iterative/dvc/blob/de1f67afbd93929d51c5dd052d5f8a951e77c182/scripts/completion/dvc.zsh#L76

[2020-02-10 23:56] jorgeorpinel commented on #3302
@shcheklein another option is to remove the term "workspace" from everywhere and use "working tree" borrowed from Git/SCM. Not sure it would make sense to use that term for `--no`scm` projects though.

Related: https://github.com/iterative/dvc.org/pull/931#discussion_r376181149

[2020-02-11 02:11] efiop commented on #3245
@jorgeorpinel `revision` sounds better than `commit` when applied to API/CLI, as `--commit` sounds like some sort of action. `revision` sounds the best to me over all other alternatives, tbh.

[2020-02-11 02:14] jorgeorpinel commented on #3245
Git "revision" means "Synonym for commit (the noun)" per https://git-scm.com/docs/gitglossary#def_revision. Using the more general term "version"instead of revision when possible is also best. E.g. in the new dvc diff description by Ramón: "Compare two different versions of your DVC project (tracked by Git)" – this is the current approach in docs.

[2020-02-11 02:17] shcheklein commented on #3245
It would look strange and not right to me as an option `--commit`. It'll be confusing for DVC.

[2020-02-11 02:58] efiop commented on #3245
@jorgeorpinel I have no problem with "Compare two different versions" in the docs or any explanations, but `version` when applied to CLI/APO sounds like a tag to me (just based on what first comes to my mind when I hear it), while `revision` is a more general term (again, IMPO), so I don't really see any point in changing `rev` that we currently have to it.

[2020-02-11 05:52] shcheklein commented on #3230
@RomanVeretenov I think, @efiop has released a new version of the DVC (and the PyDrive) - it should be more stable. Would you mind to give it a try again, please?

There will be the next iteration released soon, with some major performance improvements and stability when we deal with a lot of files, `dvc gc` support, etv.

[2020-02-11 06:30] Suor commented on #3280
Sorry for slow response.

This means that when you have many imports from the same repo `dvc` will make a fresh copy of its clone many times, while clone is only done once. This is not the issue generally, but since you have huge git repo - all those notebooks doesn't really play nice - it takes time.

Anyway, this should be fixed after https://github.com/iterative/dvc/pull/3286 lands. You can try

[2020-02-11 11:55] RomanVeretenov commented on #3230
I have updated dvc and pydrive

dvc==0.83.0
PyDrive==1.3.1
PyDrive2==1.4.5

Now it seems to work ok finally. dvc pull/push with gdrive remote behave as expected.

Thanks for your work and responsibilty, @shcheklein @efiop !

[2020-02-11 11:56] byaka opened #3303 "`dvc add` print not quote-wrapped file-paths if they contain spaces"
dvc 0.82.8
installed via yum
centos 7

Some of our, khm, windows-users put files in project with spaces in names.
In this case `dvc add`, when prints hint-command `git add blah-blah`, not wrap path with quotes so copy-paste this hint-command not working ofc.

[2020-02-11 12:52] efiop commented on #3261
Thanks @kevlar1818 !

Btw, looks like one more line is missing from that output. The one for `cache`.

But now that we see that it is nfs, I suspect that it is probably the cause here. Need to check that maybe `inode` is broken or something like that. Could you please show full log for `dvc pull -v`?

[2020-02-11 12:54] efiop commented on #3261
@kevlar1818 Also, what is the remote that you are `dvc pull`-ing from? I don't see it in the config.

[2020-02-11 12:56] efiop commented on #3261
@kevlar1818 Btw, what we could also do here is have a video call together and debug on the spot. It should be much faster for everyone. :slightly_smiling_face: Would that work for you? If it would, please ping me through the email (see it in my github profile) and we'll arrange something ASAP.

[2020-02-11 13:30] efiop commented on #2979
@dmpetrov So say you have `data` and you checkout to another branch. Are you saying that we should say that we are `data` will be replaced? That seems too verbose to me. For example `git checkout` does that silently. I think we should do the same there. Or, maybe you really want some summary instead? If so, we might be confusing current issue - "misleading bad warnings" and "checkout should not be

[2020-02-11 14:14] efiop commented on #3303
Off topic: Makes me think if we should re-consider auto `git add`ing files. :thinking:

[2020-02-11 14:38] IamGianluca commented on #3107
@efiop Is this bug supposed to be sorted with v0.83.0? I'm asking because I still have this issue with the most recent version of DVC.

[2020-02-11 14:41] efiop commented on #3107
@IamGianluca Yes, it should've been fixed in 0.83.0 (even earlier). Forgot to ping you earlier to try it out. Reopening. Could you provide some details?

[2020-02-11 14:43] IamGianluca commented on #3107
You're too fast @efiop ! I was going to remove my previous message and say it works. I forgot to manually remove the hooks and run again `dvc install`.

I can confirm that v0.83.0 `git rebase` works now!

Thank you again for that :+1:

[2020-02-11 14:47] kevlar1818 commented on #3261
@efiop That was the entire output of `dvc version`. As I noted in my initial bug report, my cache is located at `/ssd/...` which is a locally mounted FS.

The remote is a MinIO (S3) instance on the same LAN.

[2020-02-11 14:48] efiop commented on #3107
@IamGianluca Phew, glad to hear that :slightly_smiling_face: Closing for now.

@ankurrajdev Would appreciate if you could also give it a try and confirm that it works for you :slightly_smiling_face:

Thanks for the feedback, guys! :pray:

[2020-02-11 14:50] kevlar1818 commented on #3261
@efiop As for a video call, let me get back to you on that. I'd have to carve out some time at work.

[2020-02-11 14:51] #3107 closed

[2020-02-11 15:50] shcheklein commented on #3230
@RomanVeretenov what does `dvc push` output? Could you run it with `dvc push -v`, please on a clean remote storage?

Also I can't find the 'bbbc75ce995855d3e965f958fbd584bb' in my google drive.

It should be something like `<path-to-storage>/bb/bc75ce995855d3e965f958fbd584bb` - could you check that please?

[2020-02-11 16:03] casperdcl commented on #2905
Btw `dvc push` (without any explicit multithread args) also has this issue.

[2020-02-11 16:07] pared commented on #3262
Related to #3292

[2020-02-11 16:07] #3262 closed

[2020-02-11 16:18] pared commented on #3282
Note: let's make timestamps show at the beginning of the message, in a human-readable format.

[2020-02-11 16:25] pared commented on #3087
Note:
It's estimated as research because it is unclear how to handle update in case of importing
directory containing both git and dvc-tracked files.
Directories containing `.dvc` files should not be allowed to be `import`-ed and `get`-ed.

[2020-02-11 16:53] jorgeorpinel commented on #1830
Hi, is this still a relevant issue? I think the import stages have a `repo`, `rev_lock`, and sometimes `rev` fields now.

[2020-02-11 16:57] jorgeorpinel opened #3304 "import: behave like `add`, `move`"
Currently `dvc import` has a `-o` option to specify where to place the downloaded data, but the DVC-file itself gets created in the CWD. It would be more intuitive to have the DVC-file in the same `--out` location, similar to how `dvc add` behaves.

This is especially strange when using `dvc move` on an import stage, as it moves both the data and the DVC-file into the `dst` location.

May apply to

[2020-02-11 16:57] jorgeorpinel commented on #3304
p.s. this may apply to `dvc import-url` as well, haven't checked.

[2020-02-11 17:09] jorgeorpinel opened #3305 "import: allow chaining imports somehow? (except circular)"
As of now, imported data is not cached by default, so you won't be able to import any imported data:

repo1 -> ✔️ dvc import data -> repo2 🙂 -> ✖️ dvc import data -> repo3 🙁

Somehow allowing this could be useful for the case where you're building a data registry based on other previous smaller DVC repos, for example. Right now you have to `dvc get` and then `dvc add` those artifacts from scratch

[2020-02-11 17:13] jorgeorpinel commented on #3305
This means repo1 -> import into repo2 -> import back to repo1 of course cannot be allowed.

So maybe the solution is that when you import an import stage, you simply copy the DVC-file as-is (with it's original source `repo` URL, `rev`, etc. and if the original `rev_lock` exists in the present repo, the import recognizes a circular import and fails.

[2020-02-11 17:50] efiop commented on #3305
Just a note that we need to be careful about this and consider all the possible corner cases (e.g. circular dependencies). If we allow this, dvc will have to behave like a proper package manager when resolving dependencies, which is very hard (remember pip dep resolution PEP?).

[2020-02-11 17:59] efiop commented on #3304
I feel like this might be a bug that we didn't notice, as I do remember implementing this behavior for original `import`(now `import-url`). :confused: Will take a look.

[2020-02-11 18:00] efiop commented on #1830
@jorgeorpinel It is. `dvc import-url` don't have those and `import` still sufferers from the issues described above.

[2020-02-11 18:08] jorgeorpinel commented on #1871
@prihoda I found this description/example about it: https://github.com/iterative/dvc/issues/1234#issuecomment-431115289

[2020-02-11 18:23] efiop commented on #1871
@prihoda @dmpetrov Sorry for the delay, guys, I was thinking about it some more and have some adjustments to it. Will post a summary here a bit later.

[2020-02-11 18:58] jorgeorpinel commented on #3245
I have nothing agains the term "revision". Originally I argued it feels more correct than commit in fact (it encompasses branches, tags, etc, not just a commit SHA) but I thought that per some other discussion with Ivan (not in this issue) we had concluded that its best to always use "commit" for simplicity and not to get into Git terminology. But I guess that's not the case? I'm more than happy t

[2020-02-12 01:35] shcheklein commented on #3230
@RomanVeretenov also, we've just released a new version with some major changes to the GDrive, could you please try to check it out as well.

[2020-02-12 01:52] mroutis commented on #3110
Let's close it then, @Suor , I also think it is better to rethink remote and cache :eyes:

[2020-02-12 01:52] #3110 closed

[2020-02-12 04:31] mroutis commented on #2689
@Suor , just curious, how did you come up with that call tree?
https://github.com/iterative/dvc/issues/2689#issuecomment-549819969

[2020-02-12 04:45] mroutis commented on #2296
It now shows `Nothing to do`.

[2020-02-12 04:45] #2296 closed

[2020-02-12 05:54] jorgeorpinel opened #3311 "term: (MD5) "checksum" -> "file hash" or "hash value"?"
Per https://github.com/iterative/dvc.org/issues/552#issuecomment-585041488

[2020-02-12 07:18] RomanVeretenov commented on #3230
**bc75ce995855d3e965f958fbd584bb** persist in gdrive

[2020-02-12 07:33] shcheklein commented on #3230
@RomanVeretenov and at the same moment if you run `dvc pull` it complains that this file is not found?

[2020-02-12 07:44] RomanVeretenov commented on #3230
Yes. I think there was a mess with local remote and gremote. I will try once more with clean gdrive storage paying attention to not ot forget to use **-r** option

[2020-02-12 09:55] pared commented on #3304
As import is using `imp_url` fixing this issue for `imp_url` will probably fix it also for `imp`.

[2020-02-12 10:03] pared commented on #3304
repro script
[code]
ls shows that `data.dvc` is in root project dir, while it should not be

[2020-02-12 11:38] anderl80 commented on #3281
I will, it's a collaborativ system and I have to wait for operations to update the conda environment.

[2020-02-12 13:06] guerinclement commented on #3275
@mroutis
Here is the output of:
(dvc) [78176d@slhdg002 ~]$ python -m certifi
/home/78176d/.conda/envs/dvc/lib/python3.6/site-packages/certifi/cacert.pem

Here is the installed version of certifi:
(dvc) [78176d@slhdg002 ~]$ conda list | grep certifi
ca-certificates           2019.11.27                    0
certifi                   2019.11.28               py36_0

No env variable named REQUESTS_CA_

[2020-02-12 13:21] guerinclement commented on #3275
@mroutis
BTW, printing the content of ca_certs on the line 336 (see stacktrace above) of file:

/home/78176d/.conda/envs/dvc/lib/python3.6/site-packages/urllib3/util/ssl_.py

gives:

/home/78176d/.conda/envs/dvc/lib/python3.6/site-packages/certifi/cacert.pem

which does contain my company ROOT_CA.

[2020-02-12 13:43] casperdcl opened #3313 "perf: checkout: subsequent runs slow"
Running `dvc checkout` multiple times shows slow progress going through all files rather than returning quickly. Using local remote (both on a different drive as well as same drive):

[![asciicast](https://asciinema.org/a/Jywdxkf1t3MmC3PVoYgp9P2aJ.svg)](https://asciinema.org/a/Jywdxkf1t3MmC3PVoYgp9P2aJ?speed=4)

[code]

[2020-02-12 17:13] mroutis commented on #3275
@guerinclement , thanks for the info!

I'm quite lost right here, I thought that there was a missing cert on your `cacert.pem`, thus I tried to replicate the error by removing the `Baltimore CyberTrust Root` cert from `cacert.pem`, but I got a different result.

**Mine**: `SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')])"))`

**Yours

[2020-02-12 17:49] mroutis commented on #3311
+1 hash value

[2020-02-12 18:06] WillNichols726 opened #3314 "dvc push -q is not completely quiet, shows file transfer tqdm progress bars"
Hey guys, love what you've done with DVC.

Had a quick bug that's causing me a little issue. When I use 'dvc push -q' I'm still seeing tqdm progress bars. Wouldn't be a huge issue, but I'm probably pushing 100K 250kb files. This is a local remote, so the transfer speeds are quick. I know in some of my other scripts where I use tqdm, if the iteration time is very small, the tqdm overhead of writing

[2020-02-12 18:50] shcheklein commented on #3314
@casperdcl could you take a look please?

[2020-02-12 19:32] casperdcl commented on #3314
@WillNichols726

That should really not be the case as `tqdm` is designed to be negligible overhead in all cases - could you elaborate a bit more? I know this isn't actually the issue here, though.

In terms of this issue, the progress output should be suppressed completely by `-q`. Will take a look & fix soon.

[2020-02-12 19:48] WillNichols726 commented on #3314
@casperdcl - Appreciate everything you've done with tqdm! Recently, I had something that was running at 200 iterations a second, when I set mininterval to 1 sec, jumped up to 300 iterations a sec.  Didn't spend a lot of time determining root cause for the speedup, it could've been caching behavior or something else. I've also seen some minor speedups on other rapidly-iterating scripts when increas

[2020-02-12 20:22] efiop commented on #2509
Reopening since there are some details that we need to follow up on.

[2020-02-12 20:35] efiop commented on #3300
@dmpetrov `cp & rm` will be really slow, but I do understand that you've suggest it because it would be atomic unlike moving files one by one. The main reason we don't do it is because it is very heavy-weight and often the cache dir we move to already has something in it (e.g. shared machine scenario). Doing that by default would be a bit too much. Though, maybe `dvc cache move` would be a solutio

[2020-02-12 21:57] casperdcl commented on #3314
Hmm interesting as the default `mininterval=0.1` should be fine on most consoles.

No real measurable difference for me (`it/s`)... Note that it's under `200it/s` because `sleep` isn't accurate.

[code]

[2020-02-12 21:58] luiscarox commented on #3261
I have a similar issue, even on recent DVC (after https://github.com/iterative/dvc/pull/3200 was merged).
* fresh git pull
* dvc cache is a shared location
* dvc pull takes ages doing md5 checksums, even though all the data _is_ in the cache and as far as I can tell, it doesnt need to get it from the actual remote.
* subsequent dvc pull calls dont take long at all (seconds rather than several minu

[2020-02-12 22:15] casperdcl commented on #3314
ah also (back to this issue) `--quiet` is actually currently ignored (i.e. not implemented) by `push`

[2020-02-12 22:22] casperdcl commented on #3314
nvm looks like this is a bug

[2020-02-12 23:22] casperdcl commented on #3261
btw from the OP

from what I can see in the profiler results, `tqdm` is relatively negligible but let me know if it's still considered unacceptably high.

[2020-02-12 23:28] mroutis commented on #3275
@guerinclement , didn't ask before, but did you try the `dvc get` without modifying the `certifi/cacert.pem`?

Looks like `X509` is complaining at a particular certificate, it would also help if you can run `openssl x509 -in [your-company-cert] -text` and see if you see an error or a message like: `unable to load certificate`

[2020-02-13 01:01] jorgeorpinel opened #3317 "remove: change default behaviour to `--purge`, port back patch from 1.0 branch"
`dvc remote --outs` is the default behavior so will this option ever be used?

[2020-02-13 02:23] kevlar1818 commented on #3261
@casperdcl You're right. At first I was worried about Python's overhead given the sheer number of function calls apparent in the profiling. I didn't do a great job summarizing my subsequent findings, so I'll share them here for the benefit of others (e.g. @efiop, @mroutis, @pared).

I did some basic benchmarking of `md5sum` and DVC's `file_md5`, and the two implementations were actually quite comp

[2020-02-13 02:29] efiop commented on #3317
It was meant for backward compatibility. We've planned to switch from it in 1.0 https://github.com/iterative/dvc/issues/763 and even have a patch there already. I guess we could consider switching it earlier. `dvc remove` needs some reconsideration in general, we are also thinking about it in terms of removing cache for a file, which is related to `gc` discussion.

[2020-02-13 03:31] #3218 closed

[2020-02-13 04:05] efiop commented on #3185
So `info` is too generic after all and `system-info` might be weird becuase it will show dvc version and other stuff which is not really `system` info (sounds like something global like arch, CPU, RAM, etc). I propose `doctor` after all, as it most certainly won't overlap with anything in the future and it is x10 times better than current `dvc version`. Need to remember that this is not a user-cen

[2020-02-13 04:10] Ykid commented on #3280
DVC version: 0.82.9+f73900
Python version: 3.7.4
Platform: Linux-5.0.0-37-generic-x86_64-with-debian-buster-sid
Binary: False
Package: None
Cache: reflink - not supported, hardlink - not supported, symlink - supported

ERROR: failed to obtain data status - 'Git' object has no attribute 'is_known'

[2020-02-13 04:17] efiop commented on #3280
Reopening and escalating the priority. @Suor Please take a look ASAP, we need to release a new version with the fix ASAP as well.

[2020-02-13 05:27] jorgeorpinel commented on #3317
Gotcha. Feel free to close this if it's included in some other issue or you feel it's not really impactful. Thanks for the explanation though!

[2020-02-13 11:31] pared opened #3318 "MacOs and Windows lowercases filenames"
Context: https://discordapp.com/channels/485586884165107732/485596304961962003/677178126916124702
The issue:
User created data dir which contained files of the same name, some were uppercase, some were lowercase.
Other user cloned the repository on MacOs and could not get images containing uppercase letters,
when those names ovelapped with other images having lowercase (the same) name.
Pulling on

[2020-02-13 11:58] pinkmanbox opened #3319 "S3 support for data storage"
In a project I am working on, I want data in an S3 bucket to be available to pull locally, while maintaining the folder structure and the data as it is in the bucket. This is because I need to perform AWS operations on that data as well. But since I also need that data for local operations (and any changes on them), dvc control would be beneficial.

Essentially, S3 being the GitHub for the data, w

[2020-02-13 12:11] pared commented on #3319
Related discussion and some context:
https://discordapp.com/channels/485586884165107732/563406153334128681/677407602979766275

[2020-02-13 12:40] casperdcl commented on #3280
Looks like `is_known` should've been `is_tracked`. Surely we should have some sort of test which should've found thia bug

[2020-02-13 14:45] pared commented on #3318
So, turns out that by default, Windows and MacOs do not support case sensitive file names.
Some resources:
https://superuser.com/questions/165975/are-all-versions-of-windows-case-insensitive
https://apple.stackexchange.com/questions/22297/is-bash-in-osx-case-insensitive

It seems that this filesystem setting, so one should be able to configure case sensitive support.

[2020-02-13 14:56] pared commented on #3318
We could probably warn the user about this behavior, though the detection of such use cases could be resource consuming.

[2020-02-13 15:25] pared commented on #3318
When such a situation might happen:
1. `pull` repo created on Linux
2. I could imagine some data processing step that would create processed data and name it automatically, so verification only on data sync operations is not enough.

[2020-02-13 15:34] pared commented on #3318
Some research shows that we are not the only one affected by this.
Git users on mac might also be hit with this:
https://stackoverflow.com/questions/8904327/case-sensitivity-in-git

[2020-02-13 15:49] efiop commented on #3318
if there is no good way to solve it we should at least document it. Probably a separate article about `Ensuring cross-platform compatibility` would be nice, which then could also be used linked in the troubleshooting guide.

But need to look into the git first, @pared the link that you've shared seems to note that it now forks fine in git.

[2020-02-13 17:56] efiop commented on #3319
@pinkmanbox Sounds like you might be looking for `dvc get/import` commands. Please take a look at https://dvc.org/doc/use-cases/data-registries . TLDR; is that dvc remote is not a dvc repo, it requires git to store metadata, so you could address your files by name through your git repo and dvc will automatically download them from your s3 bucket. Let us know what you think.

[2020-02-13 18:21] efiop commented on #3317
@jorgeorpinel Let's close it since it is fixed in 1.0 branch.

[2020-02-13 18:22] efiop commented on #3317
On second thought... It is so trivial to fix that it is not worth waiting for 1.0 and we've been breaking worse stuff previously, so no need to be overprotective here. Keeping it open.

[2020-02-13 18:45] #1952 closed

[2020-02-13 21:03] dmpetrov commented on #2979
@efiop you are right. We should probably be silent as Git.
As an option, we can output a single message (not a warning) per changed data file or data dir (no need to write about each data file in a data-dir).

Any of these is much better than the current misleading warning message.

[2020-02-14 01:33] pmrowla commented on #3247
As discussed with Ivan, I'll be working on implementing this

[2020-02-14 03:08] pmrowla commented on #3247
Just to clarify, the desired behavior for this is to have basic push support via making HTTP PUT (or some standardized POST format) requests to `http://<remote_url>/<filename>`, and not push via some other HTTP based protocol like WebDAV (see also #1153)?

@harold1505 can you give some details on what exactly the platform you are using expects in terms of PUT/POST requests for file uploads?

The m

[2020-02-14 04:34] skshetry commented on #3287
@gcoter, just a friendly ping! :slightly_smiling_face:

Did you try? Did it work?
If you need any help, please do comment or ask us on [Discord](https://dvc.org/chat).

Yes, it's used by Gitea to authenticate you so that you can push/pull from the repository. But, I don't know specific details though. Sorry.

[2020-02-14 06:56] skshetry commented on #2325
Few opinions that I'd like to add:
1. We should move away from the current `gc` terminology (it's a very git-centric term). Let's have `dvc cache remove/clean`.

2. Separate cleaning up remote and local cache: `dvc remote` vs `dvc cache`. And, let's move config commands to `dvc config` or, separately discuss those.

3. `gc/clear/remove` should really be about removing stuffs. Keeping things sound

[2020-02-14 07:12] Suor commented on #3280
Handled in https://github.com/iterative/dvc/pull/3323.

[2020-02-14 08:01] skshetry commented on #2979
@dmpetrov, how about we keep it on `-v` flag only? Do we really need to introduce new option, considering that this is a day

[2020-02-14 09:02] pared commented on #3318
Yes, it seems so, though situation described there is about moving the names, and not coexisting same (from case insensitive perspective) names. I will check how git behaves when we check out repository with "same" filenames.

[2020-02-14 10:40] pared commented on #2886
can confirm that problem still exists on master:
[code]

[2020-02-14 10:53] efiop commented on #3247
@pmrowla Great question! Correct, http remote should support POST requests. HTTP-based protocols (like s3 btw), are handled separately in their own remotes, so if we will ever need to add WebDAV support, we will likely create a separate remote class for it.

I suppose you are trying to clarify if @harold1505 is trying to push to git HTTP server, but I just  wanted to clarify that what we need to d

[2020-02-14 11:58] #3282 closed

[2020-02-14 12:02] efiop commented on #2979
@skshetry I think @dmpetrov means that it might be nice to have a summary or something that would mark a successful run. This is a reoccurring theme in our UI discussion :slightly_smiling_face:

[2020-02-14 12:20] skshetry commented on #2979
So, something similar to this?
[code]

Or, more verbose?

[2020-02-14 13:44] pared commented on #3318
Ok, so after discussion with @efiop I write down some summary of what happend to better pinpoint the problem.
1. The user created a data repository on Linux (case sensitive) system.
Simple tree displaying data `dir` could be shown as:
[code]
2. Other user tried to clone repo and pull the `dir`. What he received on output, was
`Could not create '{md5}.dir.unpacked'` (originating from [here](https:/

[2020-02-14 14:30] skshetry opened #3328 "`dvc` commands fail on non-DVC repository with an exception"
[code]

[2020-02-14 15:05] #3304 closed

[2020-02-14 16:49] dmpetrov commented on #2979
@skshetry, yes, @efiop is right. A summary would be great.

`-v` is too verbose. It is mostly for debugging purposes.

[2020-02-14 17:07] #3328 closed

[2020-02-14 17:27] efiop commented on #3318
Btw, in case of `dvc add file` + `dvc add FILE` + `dvc checkout`, the issue won't be reproduced, because our checkout logic will see that `file` exists and will remove it before checking out `FILE`. Just a side note.

[2020-02-14 18:27] charlesbaynham opened #3331 "DVC does fails when the md5 hash contains only numbers"
The description is in the title. When an md5 hash randomly contains only numbers DVC fails,  reporting

    ERROR: failed to update 'step_X.dvc'. - DVC-file 'step_X.dvc' format error: expected str for dictionary value @ data['md5']

This should happen on average once for every 3 million hashes. For a big project with a lot of files that get changed, that's not so implausible.

[2020-02-14 18:43] efiop commented on #3331
Hi @charlesbaynham ! Could you please show `dvc version` output?

[2020-02-14 18:45] efiop commented on #3331
For the record: can reproduce this myself as well, by modifying md5 in a dvc file by-hand. We've had a similar issue with pyyaml earlier, need to check this.

[2020-02-14 18:52] efiop commented on #3331
Ok, so both pyyaml and ruamel are affected, so we need to tweak our SCHEMA instead. Working on a fix...

[2020-02-14 20:22] efiop commented on #3331
Ok, in fact, this is pyyaml's fault. We are using it sometimes instead of pyyaml to improve the performance, but the very serious downside is that pyyaml doesn't preserve the types of values that well. So if md5 is `"1111"`, pyyaml will write it down as `1111` and will then read it as `1111`(int), while ruamel writes it down as `'1111'` and reads it as `'1111'`(str). Looks like we could still hand

[2020-02-14 20:34] casperdcl opened #3332 "missing progress"
any reason why `no_progress_bar=True` in these three places?

- `remote.gdrive.RemoteGDrive.gdrive_upload_file()`
  + from e7227898e4e10a1 by @MaxRis
- `remote.base.RemoteBASE._get_dir_info_checksum():self.cache.upload()`
  + from 00cfb04fea04694 by @efiop
- `remote.gs.RemoteGDrive.RemoteGS._upload()` and `_download()`
  + from 28b99dc4c78a7bc by, er, @casperdcl

(related: #3060)

[2020-02-14 20:48] MaxRis commented on #3332
@casperdcl both places in `gdrive` and `gs` remotes expect `no_progress_bar` value to be passed from `RemoteBase` class. Default `True` values seems are only the preference to be silent by default if internal methods will be reused in future by `gdrive` or `gs`.

[2020-02-14 22:53] #3314 closed

[2020-02-14 23:02] andronovhopf opened #3336 "`dvc update` after importing an older version of a file"
I'm working [with this repository](https://github.com/iterative/aita_dataset) to import a data file (there are currently two tags at different commits, which you can see in "releases")

when i do

`$ dvc import --rev v.20.0 https://github.com/iterative/aita_dataset aita_clean.csv`
I am able to download the first tagged version of the dataset. Then when I want to update the data file to its most re

[2020-02-14 23:13] #3331 closed

[2020-02-14 23:19] efiop commented on #3336
@andronovhopf Did the tag move though? When you remove `rev`, it tries to use default branch, hence why it updates. But I suspect that the tag itself didn't move between your runs.

[2020-02-14 23:22] efiop commented on #3314
@WillNichols726 0.85.0 is out with this fix, could you please give it a try and let us know if it fixed it for you? :slightly_smiling_face:

[2020-02-14 23:23] efiop commented on #3314
@WillNichols726 Btw, I suppose you were using `-q` because pbars were jumping around and being annoying? :slightly_smiling_face: If so, just wanted to let you know that we are working on a fix, so stay tuned for that too :slightly_smiling_face:

[2020-02-14 23:25] andronovhopf commented on #3336
@efiop I'm pretty sure the tag didn't move- since the tags are on the default branch (master), not sure I understand

[2020-02-14 23:39] efiop commented on #3281
@anderl80 Any luck? :slightly_smiling_face: Another user (@andronovhopf ) has run into this issue and it was solved by updating conda.

[2020-02-14 23:40] efiop commented on #3331
@charlesbaynham We are releasing 0.85.0 right now. Please upgrade, give it a try and let us know if that fixed the issue for you or not. Thanks for the feedback! :slightly_smiling_face:

[2020-02-15 00:13] efiop commented on #3336
@andronovhopf Ah, got it :) So tag is just an alias for specific commit. If it didn't move, it means that commit is the same and so `update` just sees that nothing has changed. Adding commits to `master` doesn't move tags, unless you manually move them. So dvc acts correctly here. What you are probably looking for is `dvc update --rev v.21.0`, right? If so, we do have a ticket for it, but we've be

[2020-02-15 00:15] efiop commented on #3336
@andronovhopf For the record: https://github.com/iterative/dvc/issues/2849 . Escalated the priority there. Also here is some additional info on the very similar case https://github.com/iterative/dvc/issues/2696.

[2020-02-15 00:22] andronovhopf commented on #3336
Yep, I used `dvc import` to just get the latest tag. So I'm not blocked
from working :) Just wanted to make sure that this was behaving like it
should be.

In particular, what I was hoping was for `dvc update` to whatever the
latest commit on the branch was- even if that commit doesn't have a tag,
since `dvc update --rev v.20.1` might not be the most recent commit any
longer. Does that make sense?

[2020-02-15 00:37] efiop commented on #3336
latest commit on the branch was- even if that commit doesn't have a tag,
since `dvc update --rev v.20.1` might not be the most recent commit any
longer. Does that make sense?

I do understand what you mean, but technically tag might belong to multiple branches, so we don't really know which branch to follow. I suppose you were trying to emulate this type of workflow:
1) work on `aita_dataset` (say

[2020-02-15 00:39] andronovhopf commented on #3336
Ah, I may have to learn some more about tags (I didn't realize that a tag
could belong to multiple branches- I see how that would make this
ambiguous). Thanks!

On Fri, Feb 14, 2020 at 4:37 PM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-02-15 00:54] efiop commented on #3336
@andronovhopf Sure, feel free to ping us about it :slightly_smiling_face: I'll close this ticket for now in favor of the ones mentioned above. Please feel free to reopen.

[2020-02-15 00:54] #3336 closed

[2020-02-15 01:12] efiop commented on #3280
@Ykid 0.85.0 is out on pip and conda, please upgrade, give it a try and let us know if it fixed the issue for you. Thanks for the feedback! :slightly_smiling_face:

[2020-02-15 01:23] shcheklein commented on #3281
@anderl80 btw, could you use a different method to install DVC on this system? E.g. `snap` or `rpm` package?

[2020-02-15 03:51] skshetry commented on #2849
@efiop, why is this p0 btw?

[2020-02-15 10:42] Ykid commented on #3280
The bug related to git is fixed, but there seem to be not much performance improved. :(.

[code]

[code]

[2020-02-15 13:38] charlesbaynham commented on #3331
Wow I think that's the fastest response I've ever seen on github! Thanks a lot, I'll give it a try

[2020-02-15 14:34] charlesbaynham opened #3338 "Incorrect error message when importing to non-existent folder"
## Setup
dvc 0.84.0
Mac, installation via conda

## Problem
When importing a file from a git repo into a subdirectory in the current repo, dvc fails with an incorrect error message if the subdirectory does not exist.

To demonstrate this problem, run the following:

[code]

## Expected behavior
Error message stating that the output directory does not exist

## Actual behaviour
This error message:

[2020-02-15 15:34] efiop commented on #3338
Hi @charlesbaynham ! Thanks for reporting this issue! I am able to reproduce with:
[code]
Looking into it...

[2020-02-15 15:38] charlesbaynham opened #3339 "Error when re-importing a renamed directory"
DVC 0.84.0, Mac, conda installation

# Summary

When re-importing a directory from a git repository having specified an alternative output, dvc fails with an "overlapping outs" error. This does not occur if the output directory was not renamed.

# Reproduction

The following code sets up a source git repo with a subdirectory and a dvc repo which imports from it. It
* Successfully imports the subdi

[2020-02-15 15:45] charlesbaynham commented on #3339
This doesn't seem to be a problem with importing files, only directories

[2020-02-15 15:55] #2849 closed

[2020-02-15 15:56] efiop commented on #2849
@skshetry Just trying to unblock @andronovhopf . Thank you so much for the fix! :pray:

[2020-02-15 15:57] charlesbaynham commented on #3339
This seems to occur because the import command behaves differently if there's already an output directory or not.

If I call e.g. `dvc import -o "step_A" "../../sample_steps/step_A" src` in an empty directory then I get a directory called `step_A` which contains the contents of `src` and a dvc file called `step_A.dvc`. I think that's expected behavior.

If however, I call it in a directory which a

[2020-02-15 15:57] efiop commented on #3336
@andronovhopf FYI: thanks to outstanding work by @skshetry :medal_military: , we now have `dvc update --rev` support and will release new version with it very soon.

[2020-02-15 16:51] shcheklein opened #3340 "it should be clear from logs (dvc smth -v) what command does it run"
It can help to debug things faster and more reliably.

[2020-02-15 17:50] efiop commented on #3280
@Suor Please take a look.

[2020-02-15 17:57] efiop commented on #3340
Something like `logging.debug(cli_args)` should be enough, not sure it is worth bothering in API part.

[2020-02-15 20:29] efiop commented on #2432
We are currently working on http suppport in https://github.com/iterative/dvc/issues/3247 . Closing this ticket as it seems there is not enough interest from users. If anyone else is interested in this, please leave a comment and we'll reconsider support for this specific remote. Thanks! :slightly_smiling_face:

[2020-02-15 20:31] efiop commented on #2363
Closing for now, as there doesn't seem to be enough interest. The feature still seems useful, so maybe we'll reopen in the future, once there are more use cases.

[2020-02-15 20:31] #2363 closed

[2020-02-16 00:07] shcheklein opened #3341 "adding external data on S3 fails"
To keep track of the problem:

https://discordapp.com/channels/485586884165107732/485596304961962003/678284389230182430

[code]

more context here:

https://discordapp.com/channels/485586884165107732/485596304961962003/678261668723032075

[code]

[2020-02-16 00:20] efiop commented on #3341
@shcheklein It is probably some kind of acl issue, I don't think the problem is on dvc side.

[2020-02-16 00:22] efiop commented on #3341
Closing for now, as we've suggested an alternative approach and there is not enough info to pinpoint the issue more than we've done already.

[2020-02-16 00:32] efiop commented on #3341
Missed some details, reopening.

[2020-02-16 01:05] weekly-digest[bot] opened #3342 "Weekly Digest (9 February, 2020 - 16 February, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 51 issues were created.
Of these, 31 issues have been closed and 20 issues are still open.
## OPEN ISSUES
:green_heart: #3340 [it should be clear from logs (dvc smth -v) what command does it run](https://github.com/iterative/dvc/issues/3340), by [shcheklein](https://github.com/shcheklei

[2020-02-16 01:16] efiop commented on #3338
@charlesbaynham We've done some adjustments to `import` logic and now I'm getting a different error from your script:
[code]
which has a typo (will send a fix soon), but is now pointing out that the directory doesn't, which is expected behaviour now.

[2020-02-16 02:30] shcheklein commented on #3341
Was able to reproduce the part with "Removing ...":

[code]

then:

[code]

cache after that:

[code]

When you run it second time:

[code]

We need to check why `Removing s3://dvc-temp/ivan/configure.sh` is in the logs - both times. We need to be sure that we don't create a copy two times.

[2020-02-16 02:44] shcheklein commented on #3341
Don't see a reasonable explanation for these problems so far, would need way more info about config

`An error occurred (404) when calling the HeadObject operation: Not Found` (considering that `aws ls` works and considering that it happens on _some_ object in cache and it data)

and

[code]

[2020-02-16 10:34] anderl80 commented on #3281
I can use pip now 👌🏼. So then let’s close the ticket. Must talk to my customer on maintenance and updates 😉.

Schöne Grüße,
Dr. Andreas Hopfgartner
________________________________
Von: Ivan Shcheklein <notifications@github.com>
Gesendet: Saturday, February 15, 2020 2:23:02 AM
An: iterative/dvc <dvc@noreply.github.com>
Cc: Dr. Andreas Hopfgartner <schotterschorsch@gmail.com>; Mention <mention@nore

[2020-02-16 11:30] charlesbaynham commented on #3338
Thank you @efiop ! DVC is great by the way, I'm enjoying using it a lot

[2020-02-16 11:39] gcoter commented on #3287
Hi @skshetry, I didn't have the time to finish it but I did start to try several docker images (because it is a requirement for me to use docker) which would allow me to create a SFTP server sharing the same volume as Gitea. I will tell you when I am done :)

[2020-02-16 11:46] charlesbaynham commented on #3339
Full trace:

[code]

[2020-02-16 11:55] efiop commented on #3281
@anderl80 Sounds good :) Closing for now, please feel free to reopen.

[2020-02-16 11:55] #3281 closed

[2020-02-17 01:24] #2458 closed

[2020-02-17 01:30] #3342 closed

[2020-02-17 01:33] shcheklein commented on #3230
Ok, closing this one. We've fixed a bunch of issues here and it should be way more stable. The next one is to try to reproduce and fix https://github.com/iterative/dvc/issues/3098

Then optimizations to make it work way faster with large amounts of files - V3 API, etc.

@RomanVeretenov please keep us updates about your experience with it.

[2020-02-17 01:33] #3230 closed

[2020-02-17 02:53] skshetry commented on #3339
@charlesbaynham, this is clearly mentioned [in the docs](https://dvc.org/doc/command-reference/import#example-fixed-revisions-re-importing) (i know, it's not what you'd expect, and this is an edge-case that happened when re-importing).

With #3337, `update` is on par with *re-importing** (yet to be released, though). And, I feel, we should encourage users to use it instead of re-importing.

[2020-02-17 03:44] shcheklein commented on #2325
Mu suggestion are pretty much the same as before. I still think that we got stuck because we moved too far from the initial issue(s) in this ticket and expanded the scope way too much:

1. Do first the thing we wanted to do - make `gc` safer. Two options  - do not allow running `gc` in its current default at all (ask to specify `-f` or something). _Or_ make `--all-commits` the default and introduc

[2020-02-17 04:10] skshetry commented on #2325
Yes, instead of walking a step at a time, I proposed wild lot of changes, and that's a failure in my part. But, yes, we can do what you proposed as a first iteration. The discussions or questions, that I raised is just that, *discussion*.

`gc` is about removing *unused* stuffs automatically. `ref-counting* is an implementation detail, and we also do the same is co-incidental. And, *unused* in our

[2020-02-17 04:31] shcheklein commented on #2325
I believe, it's a very precise definition in our case - everything that is not referenced in DVC-files anymore. And the scope of commits we collect references from corresponds one-to-one with all other commands in DVC - push/pull/metrics show, etc, meaning that is corresponds well with the higher level abstractions we operate - experiments.

Never felt this way regarding it being automatic. It fee

[2020-02-17 10:31] charlesbaynham commented on #3339
Hi @skshetry ,

Ah thanks for that, sorry I missed it in the docs. Happy to close this issue therefore.

Those changes to `update` sound like they'll remove the strict need for reimports, but IMO the ability to reimport is still useful. In my use-case, for example, I need to create an import if it doesn't exist or update it if it does. I could write code to detect an existing import, but how will

[2020-02-17 12:30] ttekampe opened #3344 "dvc disables logging of other packages"
DVC version is 0.80.0 and I am running Linux. The package was installed from AUR

To reproduce the issue run the following few lines of code
[code]

which will output
[code]

The reason for this is the usage of `logging.config.dictConfig` [here](https://github.com/iterative/dvc/blob/19edc1ab1d2020711c43f8bb9ad58930c74802f6/dvc/logger.py#L147) without adding `"disable_existing_loggers": False` to t

[2020-02-17 13:01] JIoJIaJIu opened #3347 "colorize output for command `dvc list`"
Needs to colorize a `dvc list` output when `isatty`  based on [**LS_COLORS** env](https://github.com/coreutils/coreutils/blob/61c49d369369773b45beeac659fa32b6f481e8be/src/ls.c#L2679)
Provide fallback if **LS_COLORS** isn't set

Relates https://github.com/iterative/dvc/issues/2509

[2020-02-17 13:01] JIoJIaJIu commented on #3347
I'm working on the issue

[2020-02-17 13:43] efiop commented on #3344
Hi @ttekampe !

Good catch! And thanks for the PR!

Please be aware that AUR package is not officially supported, so consider using some other package.

[2020-02-17 13:59] WillNichols726 commented on #3314
@efiop - Yeah, was using -q to try and suppress the progress bars that were jumping around.

[2020-02-17 15:47] pared commented on #3318
@efiop, but in case of a case-insensitive system, you cannot create `file` and `FILE`.

[2020-02-17 16:26] gurobokum opened #3348 "external_repo doesn't support symlinks"
If repo contains symlink during `dvc list/get` cli commands (`external_repo` clone) the process crashes
[code]

**Please provide information about your setup**
[code]

[2020-02-17 17:10] pared commented on #2886
Ok, so little investigation helped me to narrow down the issue.
The bug shows up when we are re-`add`-ing existing DVC-tracked output, but only after calling
`dvc.stages` first. For example:
Latest version i checked with: 0.86.1
[code]
We will get the same OutputDuplicationError.

1. Why this is happening?
`repo.stages` is cached property, so repo is storing `file.dvc`. The problem is that when we

[2020-02-17 18:15] efiop commented on #3318
@pared Did you close it intentionally?

[2020-02-17 18:24] efiop commented on #2886
[code]
But we don't do that during the `dvc add`, right? So what specifically has caused the issue?

[2020-02-17 18:48] pared commented on #2886
@efiop

Well thats where the devil is. We call stages on `repo.check_modified_graph` that is why original issue was so strange:
1. If we re-`add` modified artifacts, `stages` will be called only after `file.dvc` was removed on `Stage.create`
2. If we do `dvc add other_thingy file` (where file exists and has been updated) `repo.stages` will be called when handling `other_thingy`, cached, and cause

[2020-02-17 19:05] efiop commented on #2886
@pared Got it, makes sense now. So our issue is that we don't reset after creating a stage inside `repo.add()`, right? I suppose that issue was introduced while moving that multitarget logic from CLI to API.

[2020-02-17 19:53] dmpetrov commented on #2325
@shcheklein and @skshetry you are going to the rabbit hole again. GC/not-GC is not the most important part here and it is not very important how it corresponds to programming languages. **What is the important part - how to clean space?**

If we just make GC safe - users won't be able to clean the space. So, we cannot take this step without introducing more aggressive strategies or at least withou

[2020-02-17 20:08] pared commented on #2886
@efiop
not only `repo.add()`
To generalize discussion here and under #3349 :
Whenever we `Stage.create` pre-existing stage and then `repo.check_modified_graph` (`add`, `imp`, `run`) we are vulnerable to cached `stages`.
examples:
[code]

[2020-02-17 23:11] efiop commented on #2325
Ok, had another round of discussion with @dmpetrov and @shcheklein . Here are the proposed first steps:

1. Forbid `dvc gc`(no arguments) and create `-w|--workspace` flag to work as current behaviour; Remove confirmation prompt that we already have;
2. For `--all-tags` and `--all-commits` assume `-w` automatically to match previous behaviour;
3. Introduce `-n`(not sure about the best long option n

[2020-02-17 23:39] dmpetrov commented on #2325
@efiop thank you for the brief summary. Let's start with this.

PS: you can keep only (1) and (2) in this issue and make (3) as a separate issue if you think the scope is too big. Ups to you...

[2020-02-17 23:52] andrewhare commented on #3271
I'm beginning work on this ticket now.

[2020-02-17 23:55] shcheklein commented on #3098
@RomanVeretenov do you still have that remote storage that you was pushing these files initially? To try to reproduce this with the latest DVC release?

I tried to push ~300K files and then run `dvc status` (that was causing your issue initially). It works fine for me now. I wonder if I need to got up to 2M to test this properly.

[2020-02-18 04:36] vernt opened #3353 "TypeError: 'Stage' object is not iterable"
I got an error running a command. This happened when I'd just cloned my repo, before running `dvc pull`.

[code]

---
dvc 0.85.0
Python 3.6
Ubuntu 18.04

[2020-02-18 04:58] RomanVeretenov commented on #3098
Sorry, totally out of time now. Will try to check it, but now I have most of small files zipped (there can be several k files in one zip) and I keep these zips under dvc. So I should reorganize the storage and test. I think you may close this issue now, I will let you know if something goes wrong.

[2020-02-18 10:43] pared commented on #3318
I don't recall closing this, don't know what happend, sorry.

[2020-02-18 13:39] charlesbaynham commented on #1691
To give a new user's perspective on the issue (talking about `push/pull` really rather than `gc`), I had assumed that `dvc push` was equivalent to `git push`: i.e. you make several local commits then push all of them to a remote. What @pared said basically:

... so the actual behaviour of `dvc push` caught me by surprise initially. I understand that this is hard from a performance perspective, but

[2020-02-18 13:52] skshetry commented on #2325
This is what you proposed last week as well, right @efiop? I stalled (eh? :smile:) on it a bit as I wanted to discuss more on the usecases (ref: https://github.com/iterative/dvc/issues/2325#issuecomment-586124729) that I *felt* like were important from reading this issue.

Though, we can start with this than getting stuck. Let's roll with these for now. :slightly_smiling_face:

[2020-02-18 14:24] DavidGOrtega opened #3354 "metrics diff: support numeric string delta for json metrics"
Hi, python is very problematic serialising JSON floats. With the standard library is very easy to incur in

[code]
also if you specify the value as a float you are giving the control to the JSON parser which may not be very precise, and precision may be here very important.

a_ver :
[code]

b_ver
[code]
outputs no diff
[code]

or

[code]

[2020-02-18 14:25] efiop commented on #3353
@vernt Could you please show `dvc version` output? If you've installed from pip, could you show `pip freeze | grep networkx`, please?

[2020-02-18 15:56] jorgeorpinel opened #3355 "remove: implement a --cache option/behavior?"
This option would also remove the DVC-file outputs from cache (not just from workspace).

Use case: freeing up space used by intermediate results once a final result/modes is stable.

It would also make `dvc remove` more useful for single-output stages.

[2020-02-18 15:59] DavidGOrtega opened #3356 "--show-json support for dvc metrics show"
The current output is difficult to be handled. Specially with multiple metrics json files.
Since some metrics ops offers the --show-json I would be great if that were supported.

[2020-02-18 16:05] efiop opened #3357 "tweak CC and DS settings"
CC and DS are very noisy, we need to tweak the settings to something more reasonable.

[2020-02-18 16:07] DavidGOrtega opened #3358 "dvc diff includes folders"
Not sure if this works as intended.

output
[code]

**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Ubuntu 18.04
dvc 0.84.0
Python 3.6.9

[2020-02-18 16:40] efiop commented on #3355
Will be solved after gc, because it is directly related to it https://github.com/iterative/dvc/issues/2325

[2020-02-18 16:43] efiop commented on #3354
@DavidGOrtega Could you please show where `TypeError: 0.873 is not JSON serializable` came from?

[2020-02-18 16:45] efiop commented on #3358
@DavidGOrtega Could you elaborate please?

[2020-02-18 18:52] DavidGOrtega commented on #3354
@efiop what I say is that if you do json.dump( of floats in my metrics with python I have that error, thats why I store them as strings. Said that also is a good way to store them as strings if you want to be very precise because if not you rely on the json decoder.

[2020-02-18 19:40] efiop commented on #3356
@DavidGOrtega @JIoJIaJIu Guys, talked with @dmpetrov and he advised not to implement this until we redesign `dvc metrics show` as a whole. So removing from this sprint for now.

[2020-02-18 19:50] kevlar1818 commented on #3261
@efiop and @pared any updates on this? I'm a bit confused as to the status of this alleged bug and its fix. Is this still considered a bug?

[2020-02-18 20:05] efiop commented on #3354
@DavidGOrtega I just don't quite understand how to reproduce your issue:
[code]
works fine for me.

[2020-02-18 20:11] efiop commented on #3261
Hi @kevlar1818 !

Sorry for the silence, I was waiting for your response on

Yes, I think it is a bug, but we were not able to reproduce, hence why I was asking for a meeting to figure it out on the spot. If you can come up with a reproduction script that would be an alternative to a meeting. Or we will need to take a closer look into it ourselves. Adding to the sprint to keep this in focus.

[2020-02-18 20:15] DavidGOrtega commented on #3354
Its tricky but very well known:
https://bugs.python.org/issue16535

Aside of that I like to store in string not handle my self the precision

[2020-02-18 20:16] DavidGOrtega commented on #3358
@efiop indeed I can!

in my output   {"path": "models/"} is a folder

[2020-02-18 20:58] adrianohrl opened #3359 "Not pushing when there are empty md5 clauses in any DVC-file"
Instead of using the `dvc run` command, I manually created a DVC-file to compose my processo  pipeline as its last stage. For minimizing my efforts, I cleaned all md5 clauses presented in this DVC-file. Before reproducing it, I ran the `dvc push` command, leading to an issue. I could not push properly until I removed all empty md5 clauses from this DVC-file.

DVC version: 0.83.0
Platform: Ubuntu 1

[2020-02-18 21:01] efiop commented on #3359
For the record: The issue happens if you replace `md5: 123456` with `md5: ` in any dvc-file and then try to `dvc push` or `dvc status -c` it.

Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/679431956777402368

[2020-02-18 21:21] efiop commented on #3358
@DavidGOrtega Did you `dvc add models` as a whole dir?

[2020-02-19 00:21] dvaldivia commented on #2629
@mroutis what is the case for running the `MinIO` instance locally and putting files into it's underlying storage directly rather than through the standard `s3` api? I think if all the files are placed via `s3` operation, you shouldn't run into the default `ETag` issue you are describing. (Sorry I'm not familiar with the DVC cache)

Alternative, rather than using `mc` you could use `minio-go` to p

[2020-02-19 00:25] dvaldivia commented on #3261
@kevlar1818 is the remove MinIO instance running in distributed mode?  If so, how many nodes.

[2020-02-19 01:11] casperdcl commented on #1923
Fix coming soon (#3360)!

[2020-02-19 01:34] kevlar1818 commented on #3261
@dvaldivia The MinIO instance is **not** running in distributed mode.

@efiop I'll try to reproduce the issue with a minimal example first, and then we can revisit having a debugging session. Should I open a separate Github issue concerning the misclassification of binary files as text files? I still think that's another facet to this that could/should be addressed regardless of this bug.

[2020-02-19 02:08] #3332 closed

[2020-02-19 02:16] #1923 closed

[2020-02-19 02:17] efiop commented on #1923
@casperdcl Should we create a ticket for subdir support?

[2020-02-19 02:18] casperdcl commented on #1923
definitely will do it soon :)

[2020-02-19 02:20] casperdcl opened #3361 "completion: bash: handle subdirs"
- fully fixes #1923
- continues #3360

[2020-02-19 02:46] #3098 closed

[2020-02-19 02:46] efiop commented on #3098
Ok, closing for now. Please feel free to reopen if the issue persists. Thanks for the feedback! :pray:

[2020-02-19 05:26] skshetry opened #3362 "Previous import stage disappears on import failure"
[code]

Same thing happens when the repo is valid but the file does not exist.

[2020-02-19 12:19] pared commented on #3318
Ok, so it seems that git is handling this problem by warning the user about collision.
Here is sample output:

[code]
I guess it would be resonable for us to do the same, though we should think on how to do that to not slow down any dir-checkout, because simply checking all filenames when doing checkout is O(n^2)

[2020-02-19 13:03] Suor commented on #2036
I would expect `dvc remote gc` to gc on remote not in local cache.

[2020-02-19 13:39] RomanSteinberg commented on #1714
It works fine in 0.82.9. Thank you!

[2020-02-19 13:59] pared commented on #2756
The solution could be to make `ExternalRepo` acknowledge local remotes with a relative path and make it resolve the paths appropriately.

[2020-02-19 14:17] pared commented on #2880
After refactoring of external repo in #3190 I believe that this issue is obsolete. Closing.

[2020-02-19 14:17] #2880 closed

[2020-02-19 14:21] DavidGOrtega commented on #3358
yes

[code]

[2020-02-19 14:31] pared commented on #2418
The issue no longer exists, closing.

[2020-02-19 14:31] #2418 closed

[2020-02-19 14:43] efiop commented on #3261
@kevlar1818 Sounds good. Please feel free to open an issue for that. :+1:

[2020-02-19 14:50] kevin-hanselman opened #3364 "Misclassification of binary files as text files"
In the case where binary files have a large text header, the current
checksum routine will treat said files as text files and normalize
line-endings before performing the checksum. Not only is it dangerous to
manipulate binary files like this, it also doubles the runtime of the
checksum routine, as every block of data must be read twice.

As noted in #3264, at the minimum, DVC should probably matc

[2020-02-19 18:08] efiop commented on #3364
Note that changing this heuristic will break backward compatibility, so we won't be able to adjust this right now.

[2020-02-19 18:25] #2886 closed

[2020-02-19 18:33] efiop commented on #3362
@skshetry This issue affects any dvc command such as `dvc add/run/import/import-url`. The reason is that when you run the same command again, you are explicitly overwriting the dvc-file and if the operation fails we don't want to give you a false sense of successful operation. E.g. if you would run `dvc checkout` after that you won't run the risk of getting an old file and not even realising that.

[2020-02-19 18:33] dmpetrov opened #3366 "Consider moving sqlite file outside of repository"
I have heard a few times that people don't like the idea of using binary DB files in DVC and storing them in Git repo. One guy even stopped looking at DVC when he realized this (misunderstood, actually) . The other folks think that DVC requires DB and uses sqlite by default.

The misunderstandings are not an issue. However, it makes people think that DVC has a bad design that might introduce bad p

[2020-02-19 19:29] efiop commented on #3358
@DavidGOrtega Then it is expected. `models` is tracked as a whole and it was modified as a whole, which is reflected in the diff. Does it cause any issues for you? Or maybe you've expected to see something else?

[2020-02-19 19:51] DavidGOrtega commented on #3358
Ok! I just wanted to be sure. Despite that sounds to me a little bit redundant since we are showing files inside that folder.

[2020-02-19 20:33] efiop commented on #3358
@DavidGOrtega Ok, so leaving as is for now. Thanks for the heads up!

[2020-02-19 20:33] #3358 closed

[2020-02-19 22:01] efiop commented on #3366
@dmpetrov Interesting observation! Maybe let's move it to `.dvc/tmp/state`? We have `.dvc/tmp` dir already and a using it for some temp files, so maybe that will make them much less noticeable.

[2020-02-20 00:14] efiop commented on #3318
@pared Amazing research! Thank you so much! :pray: As to a reasonable solution, I suppose that git detects that collision while performing the checkout, right? From the wording, it seems like the ordering is completely random, so git doesn't care about it too much after all. We could do the same thing in dvc, for example, by playing around that defensive `if self.exists()` in `_do_link`, that has

[2020-02-20 02:55] ehutt opened #3369 "dvc get/import support for subrepos"
UPDATE: See https://github.com/iterative/dvc/issues/3369#issuecomment-588657129 for main purpose of this issue

---

If I have a data registry monorepo with several subrepos inside it, each pointing to it's own remote storage path, I want to be able to import and/or get data from a specific subrepo/remote location.

My situation: I have an s3 bucket, `s3://datasets/` where I store multiple dataset

[2020-02-20 07:05] jorgeorpinel commented on #3369
Hi @ehutt

At first I thought this was essentially the same as #2349, but I see its not about subdirectories but rather about Git subrepos that are DVC projects in a parent Git repo (which is not a DVC project). Am I correct? Maybe if you can provide a sample file hierarchy including .git and .dvc dirs, this could be cleared up.

I'm not sure you need to use separate DVC projects for each sub-data

[2020-02-20 07:06] jorgeorpinel commented on #3369
Hmmm I just noticed there's an entire conversation on this in https://discordapp.com/channels/485586884165107732/485596304961962003/679842782046584883

[2020-02-20 07:16] jorgeorpinel commented on #3369
All that said, even if a simple data registry (single DVC+Git repo with subdirs) solces @ehutt's problem, given _SCM: allow multiple DVC repos inside single SCM repo_ #3257 (WIP), checking that `dvc get` and `dvc import` continue to work in this kind of DVC sub-projects seems important as well.

[2020-02-20 12:10] pared commented on #3318
@efiop

I suppose it depends on the system. As of current state of research, default settings of Windows and MacOs make them "Case insensitive, but case aware", so
`os.listdir` will return "cased" paths but will treat `FILE` as if it was `file`.
I believe that implementing this logic in `_do_link` is the best way to go now because we do the check there anyway, so improving the message sounds like

[2020-02-20 12:41] pared commented on #2886
@jaredsampson the fix is done and should be included in next release

[2020-02-20 13:57] efiop commented on #2886
@pared @jaredsampson Released in 0.86.4, please upgrade and give it a try :slightly_smiling_face:

[2020-02-20 15:36] Ykid opened #3370 "multiple instances of DVC can repro the same stage file in the same git repo at the same time. is it expected ?"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

DVC version: 0.86.4
Python version: 3.7.6
Platform: Linux-5.0.0-37-generic-x86_64-with-debian-buster-sid
Binary: False
Package: pip

to reproduce

[code]

[2020-02-20 16:54] efiop commented on #3370
@Ykid Local version for that works as expected, errorring out:
[code]
with your particular dockerfile, the tolerances are quite lower, because `pip install dvc` might take a while by itself, so I'm not sure if your `dvc repro`s actually run at the same time or if one starts running after the first one is done. Could you try pre-installing dvc into your container first and then try again? Also, log