[2022-08-22 08:08] pmrowla commented on #5800
@JohnTheDeere are any of your deps imports? I think what you may be seeing here is https://github.com/iterative/dvc/issues/6490 (where re-downloading an import requires the remote credentials)

 @dberenbaum we probably need to prioritize the `exp run` fetching imports bug rather than the local config issue (getting rid of the bugged download step will remove the requirement for `config.local` cred

[2022-08-22 10:02] daavoo commented on #8155
Got it. Closing as duplicate of https://github.com/iterative/dvc/issues/6668 , don't hesitate on continue the discussion there

[2022-08-22 10:09] #8155 closed

[2022-08-22 10:36] samtzai commented on #7564
I have tried the fix over a multi-folder dataset against our http remote and we do not get the error now.  We will check this during next week and will provide additional info.

[2022-08-22 10:54] courentin commented on #6980
I think the issue is not resolve until `dvc-data` has been bump to at least `1.1.18`?

[2022-08-22 15:03] JohnTheDeere commented on #5800
@pmrowla.  ```dvc import``` is not used in the project.

My pipeline starts from case_dat.sav, a large file which I have manually added under under dvc revisioning (see my previous post about the dvc.yaml file). e.g. there is a case_dat.sav.dvc file in the same directory as the .sav file. This file contains the data I use for training. No data is being downloaded anywhere at any point in the pipel

[2022-08-22 22:03] tibor-mach opened #8161 "dvc.api.params_show: conflict of `stages` with `deps=True` with nondefault target"
# Bug Report

## Description

When run with `stages!=None` and a nondefault params file in `*targets` (or one which is not in the same directory as dvc.yaml), the `deps` parameter is ignored (as if it were always `False` as in default) and so even even parameters which do not belong to any stages are shown.

### Reproduce

1. Clone e.g. the [example-starged-repo](https://github.com/iterative/examp

[2022-08-22 22:13] tibor-mach opened #8162 "dvc.api.params_show: Relative stages paths required when run from a different directory than dvc.yaml"
# Bug Report

## Description

When run from a different directory than one where `dvc.yaml` is, `dvc.api.params_show` fails with `DvcException: No params found
` unless the `stages` parameter is provided as "relative/path/to/dvc.yaml:stage_name" (or a list of such stage names).

I.e. for example when run with a working directory one level below where `dvc.yaml` is, then this works:
[code]
and this

[2022-08-23 00:47] mattseddon opened #8163 "`plots diff` & `exp show`: unexpected error - Empty git repo"
# Bug Report

## Description

After initialising a repository with both `Git` and `DVC` both `plots diff` and `exp show` throw `ERROR: unexpected error - Empty git repo`.

### Reproduce

1. `mkdir new`
2. `cd new`
3. `git init`
4. `dvc init`
5. `dvc exp show` => throws error
6. `dvc plots diff` => throws error

### Expected

Neither of these commands should throws an error under these circumstance

[2022-08-23 01:32] pmrowla commented on #5800
This should not affect anything.

Do you have the DVC git pre-push hooks installed in your repo? And do you have any other global git configuration related to hooks (like auto installing the hooks via a pre-configured git-template directory)?

[2022-08-23 03:04] mattseddon commented on #8062
Any update on this?

[2022-08-23 03:09] skshetry commented on #8062
@mattseddon, I am working on it, hopefully by the end of this week. 🙂

[2022-08-23 07:32] a-orn commented on #7930
Hia - I've run into this same error, also on Windows:

[code]

@mglowacki100 - could you please elaborate how you resolved this issue? I note there are slight differences in the format of our UNC addresses, but I haven't been able to resolve this by re-mapping another drive.

[2022-08-23 07:59] JohnTheDeere commented on #5800
I shouldn't have anything like that setup - at least not intentionally (although not 100% sure if I am missing anything). How can I check this? Can I provide the source code/settings so we can check together?

[2022-08-23 08:07] werthen opened #8165 "`dvc exp run --run-all`: only runs one experiment and then hangs"
# Bug Report

## Description

When running `dvc exp run --run-all`, only one experiment gets run fully, and then the next experiment never starts.

### Reproduce

1. Add multiple experiments to the queue with `dvc exp run --queue`
2. `dvc exp run --run-all`

### Expected

All experiments should run sequentially.

### Environment information

[code]

### Additional information

There seem to be no

[2022-08-23 08:32] daavoo commented on #8161
For the record, `deps=True` is redundant if `stages` is also provided, `deps=True` is ignored in this case. `stages` does the same as `deps` but at a more granular level and takes priority

`deps` was kept in the API for consistency with the CLI, but we have discussed the potential removal as it makes the UX confusing.

[2022-08-23 08:44] daavoo commented on #8162
The use of `addressing` was deliberately introduced for dealing with conflicts in multiple dvc.yaml files.

Agree, I will update the docs accordingly and add an example

[2022-08-23 09:53] pmrowla commented on #5800
In your repo:

[code]

[2022-08-23 10:36] pared commented on #7956
Include test for #8159

[2022-08-23 10:59] tibor-mach commented on #8161
I think `deps` can be useful for when you just want a shorthand for `params` from all stages in all dvc.yaml files. Although I am not sure how useful that really is :-)

[2022-08-23 13:58] abhmul opened #8171 "Unpacking list templates outside `cmd`"
For one project, I am running a foreach stage, where each step may have a different list of dependencies. I wanted to use templating to fill in the list of dependencies, but it seems for whatever I tried, the syntax was not supported. Below is a simple example that doesn't include the `foreach`:

[code]

I first tried

[code]

Running `dvc repro` I get

[code]

This wouldn't have made that much se

[2022-08-23 14:20] daavoo commented on #8171
Hi @abhmul ! unfortunately, this is not currently supported. The same (or very similar) has been discussed at https://github.com/iterative/dvc/issues/7151.
Don't hesitate on commenting there your needs/thoughts so we can better prioritize.
I will close this one as a duplicate

[2022-08-23 14:22] daavoo commented on #7151
This relates to other requests where templating is being limited by the YAML validation which occurs before the interpolation, for example https://github.com/iterative/dvc/issues/6989

[2022-08-23 16:15] hfrechen commented on #8115
Just for your information. The TreeError appeared another time for me, again with the error message
[code]

Took me a while to figure out, what the reason was, because the default remote was set.

1. I created another stage in my pipeline with new dependencies and new outputs.
2. I ran `dvc repro` which was executed successfully
3. I commited and pushed the changes to the git repo
4. I forgot to `

[2022-08-23 16:52] dberenbaum commented on #8163
Thanks @mattseddon! Could you describe how it impacts VS Code and how important it is?

I see that it's inconsistent with other commands, but both behaviors seem initially reasonable to me, and since I have never seen a user complaint about it, I would only prioritize it based on your needs.

[2022-08-23 17:25] dberenbaum commented on #7151
@daavoo Do you know if these scenarios work fine if not for YAML validation failures?

[2022-08-23 20:07] #7918 closed

[2022-08-23 21:37] dberenbaum opened #8172 "import-url: `--no-download` and `dvc pull`"
Also, this is semi-related to #8164, but IMO using `dvc pull` here to download and complete/un-partial the imports gets confusing, because subsequent `dvc pull`s do not download the import from it's original source location. So `dvc pull` only works as a substitute for `dvc update`-with-etag-verification that one time. And for all subsequent downloads the user has to use `dvc update` anyways.

 DV

[2022-08-23 21:38] dberenbaum opened #8173 "import-url: `--no-download` and `dvc commit`"
What is the expected behavior of `dvc commit` when a repo has partial imports? Currently it will fail because there is no output file in the workspace

[code]

It seems to me that committing a partial import should just be a no-op and silently pass?

_Originally posted by @pmrowla in https://github.com/iterative/dvc/issues/8024#issuecomment-1223824647_

[2022-08-23 21:44] shcheklein commented on #8173
What happens if it's just a regular output that is missing in the workspace? Also an error?

From the top of my head it's fine to throw an error, may be put a flag to silence these kind of errors (and add to the error message)

[2022-08-23 21:53] tech189 opened #8174 "Latest release missing Windows binary"
# Bug Report

## Description

The latest release (2.19.0) does not include an exe to download for Windows, such as for the previous release: https://github.com/iterative/dvc/releases/download/2.18.1/dvc-2.18.1.exe

### Reproduce

Visit the releases page to confirm this: https://github.com/iterative/dvc/releases/tag/2.19.0

[2022-08-24 04:05] skshetry commented on #8174
The CI was broken and failed to upload. Do you use that release artifact?
I'll suggest downloading from https://dvc.org/download/win/dvc-2.19.0, which is an officially signed release.

This has now been fixed in the default branch and 2.20.0 (now the latest release) has release artifacts.

[2022-08-24 04:57] #8174 closed

[2022-08-24 07:18] stefan-hartmann-lgs commented on #7730
@daavoo any infos on this one?

[2022-08-24 08:42] tech189 commented on #8174
Yes, the [Scoop package for DVC](https://github.com/ScoopInstaller/Main/blob/master/bucket/dvc.json) uses the assets attached to the releases. I tried downloading 2.20.0 from dvc.org but [it's a 404 currently](https://dvc.org/download/win/dvc-2.20.0), so it would be really helpful if you could keep the CI uploading the built releases to GitHub! Thanks for fixing it!

[2022-08-24 09:10] JohnTheDeere commented on #5800
This is what I am getting:

<img width="568" alt="Screenshot 2022-08-24 at 12 08 49" src="https://user-images.githubusercontent.com/19154758/186379002-b0d9eddb-141b-4c79-944e-63343eacf3dd.png">

[2022-08-24 09:18] jruehle commented on #7577
Having the same issue of the missing `win32timezone` module with Win installer 2.18.0 (both in powershell and git bash). My workaround was installing dvc via pip and a venv.
I think more issues like #2754 and #7505 are connected to this. The merged PR #2763 seems to address it but we're still having the `win32timezone` issue after all?!

[2022-08-24 09:29] daavoo commented on #7151
For #6989 yes, for this issue additional work would be needed

[2022-08-24 10:35] efiop commented on #8135
<img width="451" alt="Screenshot 2022-08-24 at 13 35 0📉 ="https://user-images.githubusercontent.com/5367102/186397608-91b5bd7a-b6fa-465b-a51e-7feb3a903fca.png">
:trend

[2022-08-24 12:17] mglowacki100 commented on #7930
@a-orn It was some time ago , but IIRC:
1. You need to add drive with full path, beware that "hidden parts" like to change from time to time by sys admins and this fix stop to work, (update of full drive path is required). Let's call this new drive N:
2. In command line you need to change drive without hidden parts to N
3. next create test dir: mkdir dvc_test, cd dvc_test, git init
4. now dvc init

[2022-08-24 12:59] dberenbaum commented on #8172
@dtrifiro Do you think you'll have a chance to get this merged this sprint?

@pmrowla Do you need this for #8164?

[2022-08-24 13:53] schwobr opened #8176 "add, init, doctor: database is locked"
# Bug Report

## Description

I'm trying to create a data registry but it seems that I'm on some kind of edge case as I keep getting a `database is locked` error. My situation is as follows. I have a cifs mountpoint where new files are added on a regular basis directly in the root dir. These files are quite large (~1.5 GB each) and I'll have around 18000 of them when they'll all be added. The thin

[2022-08-24 19:03] dberenbaum commented on #7151
If all the deps are a single list (`deps: ${those}`, as suggested in #8171), is additional work needed?

[2022-08-24 20:42] dberenbaum commented on #8173
Yes.

I agree that it's not critical to address this, and it seems consistent with current behavior as is.

However, I like the idea of it being a no-op and silently passing. It's a step towards being smarter about missing outputs instead of always throwing an error. Why should `dvc commit` throw an error for a valid workflow?

[2022-08-25 01:25] mattseddon commented on #8163
This broke the workflow of getting setup with a new project/repository. That is something that we want to cover with the extension so it is fairly important to us.

Here are a couple of thoughts that I've had:

1. If the error is expected (which I think is reasonable) then we should not get an "unexpected error"
2. If we have to have a commit for some commands to work then maybe `dvc init` should

[2022-08-25 06:07] pmrowla commented on #8172
This is not a pre-requisite for #8164 - for imports with cloud versioning pull will always download files directly from the original source location (and not DVC remotes).

I think for this issue the question is whether or not "pull from original source" (with etag verification for regular imports) should be the new default behavior for all imports, and it seems like the consensus was that it shou

[2022-08-25 07:51] daavoo commented on #8163
Before the extraction and creation of https://github.com/iterative/scmrepo (`dvc<=2.8.3`), `dvc exp show` didn't raise any error but showed an empty table / returned this with `--json` flag:

[code]

`plots diff` failed but with `dvc.scm.base.RevError` instead of unexpected error

[2022-08-25 07:58] daavoo commented on #8163
I think we just need to do the same as `dvd diff`:

https://github.com/iterative/dvc/blob/460d08057cf355686e1337b94640ac8522497bb1/dvc/repo/diff.py#L23-L24

[2022-08-25 08:05] pmrowla commented on #8163
https://github.com/iterative/dvc/blob/460d08057cf355686e1337b94640ac8522497bb1/dvc/scm.py#L163

This should also be
[code]

(This does not resolve the issue, but it makes DVC generate a proper error message rather than unexpected error.)

[2022-08-25 08:44] pared opened #8178 "odb: fix ambiguous remote resolution"
Related : https://github.com/iterative/studio-support/issues/57

1. Ambiguous behavior:
For given script:

[code]

in [fetch](https://github.com/iterative/dvc/blob/cc6deb24c834cd628bbb7261bc1652d66b69c86e/dvc/repo/fetch.py#L45)

we will get three "different" odb. (None, Local#1, and Local#2). This is happening due to two things: one is that we don't evaluate "no" remote to our default remote, whic

[2022-08-25 09:05] daavoo opened #8179 "ui: Add `show_empty` option for `table`"
seems like we should maybe have something like a `show_empty` flag rather than relying on what output format is set

_Originally posted by @pmrowla in https://github.com/iterative/dvc/pull/8177#discussion_r954693597_

[2022-08-25 09:06] samuelkees opened #8180 "Add: give ‘does not exist ERROR’ if a file with a leading question mark is given"
# Bug Report

## Description

see Issue name.

### Reproduce

I have a dvc folder ```data``` with has two files ```test?test.txt``` and ```?test.txt```:

[code]
If I try to add ```?test.txt``` I get this error:

[code]

Apparently DVC things I want to add ```data?test.txt``` and yes this file does not exist, but this is not what I wanna add. The other file ```data/test?test.txt``` I can add withou

[2022-08-25 09:48] macio232 opened #8182 "exp apply: not working for failed experiments"
# Bug Report

## Description

When an experiment fails, and I want to change something and re-run it, I first need to apply it, make changes and add the new version to the queue. Unfortunately, `dvc exp apply <hash>` on a failed experiment has the  following result:
[code]

### Reproduce

I can not share my code, and I don't think preparing a toy example is needed here.

### Expected

Changes to c

[2022-08-25 09:54] karajan1001 commented on #8165
Hi, @werthen, Could you please provide some more details logs ?
The logs celery works would be in `.dvc/tmp/exps/celery/dvc-exp-worker-1.out`

[2022-08-25 10:03] schwobr commented on #8176
After some more research it seems that the main problem comes from the interaction between sqlite3 lock management and the cifs filesystem, as explained in [this post](https://sqlite-users.sqlite.narkive.com/PkF3Wqkw/how-to-make-sqlite-run-safely-on-cifs-mounted-file-system). I therefore changed state.dir in the dvc config to a location in the main server and it now works fine.

Closing this issue

[2022-08-25 10:03] #8176 closed

[2022-08-25 10:21] karajan1001 commented on #8182
Hello, @macio232 . This is because, DVC wouldn't store the failed experiment's result, and actually in most cases failed experiment will not update the output of pipeline. And if you want to examine the running stdout of a failed experiment, you should use `dvc queue logs {exp-name}` for exp run with the queue.

[2022-08-25 10:23] #8062 closed

[2022-08-25 10:26] macio232 commented on #8182
@karajan1001 I know what caused the error (by already using `dvc queue logs {exp-name}`, well `dvc queue logs {exp-hash}` to be precise, because you can not reference a failed experiment by its name). And based on this knowledge, I want to update my experiment and run it again. To do so, I need to first recover the code & configs used to run the experiment (therefore, I need a working `dvc exp app

[2022-08-25 10:46] karajan1001 commented on #8180
Hi, @samuelkees .

Sorry I can not reproduce it.
[code]

And If I remember correctly that this wild match was done by the shell instead of `DVC`, for example

[code]
show a correct result on my zsh.

[2022-08-25 11:02] #8020 closed

[2022-08-25 12:01] samuelkees commented on #8180
I use Bash and cat is working

[code]
```?``` is part of the name...

[code]
```?``` is used as wildcard character

Maybe I miss communicated. The name of the file starts with a ```?```. I don’t use ```?``` as a wildcard character or something. You can see this in my first cat command the ```?``` is escaped ```\?```. If I understand  you example correctly, your file has the name ```data/text.txt``

[2022-08-25 12:35] daavoo commented on #8180
@samuelkees Can you try running the command but wrapping the argument with quotes (`'data/?test.txt')?

[2022-08-25 12:59] dberenbaum commented on #8172
From a user perspective, I would prefer:
* If source is cloud-versioned, always pull from original source.
* If source is not cloud-versioned, continue to push a copy to DVC remote by default and pull from there. However, fallback to trying to pull from source for cases like `--no-download` where there may not be a copy in the DVC remote.

I know it's not as clean, but it seems the most useful beh

[2022-08-25 13:02] samuelkees commented on #8180
@daavoo i did its as well, same behavior for me.
[code]

[2022-08-25 13:05] pmrowla commented on #8178
`None` means "this object can come from any ODB". Having an explicit ODB set during object collection means "this object has to come from this ODB". (`None` does not mean "this object has to come from the default DVC ODB").

During current push/fetch, we check the default DVC remote (or a remote explicitly passed via `-r/--remote`) for objects with  `None`/"any ODB". This is implementation specifi

[2022-08-25 13:20] pmrowla commented on #8172
In that case, I guess this issue can just be closed, since that is already the current behavior.

[2022-08-25 13:21] karajan1001 commented on #8182
Yeah, actually it was stored in a particular place for failed experiments(not git commits but stashes). but for now we lack a new API to pop the failed stashes.

[2022-08-25 13:23] skshetry commented on #8178
Instantiating ODB does not involve anything other than simple `__init_`, and the underlying filesystems are already cached. I did not expect that to be slow.

[2022-08-25 13:26] pmrowla commented on #8178
I think the issue with ODB caching was mainly related to having to re-instantiate the FS's when building reference objects. But that may have already been resolved with the current dvc-objects/dvc-data changes.

[2022-08-25 13:32] karajan1001 commented on #8182
For now, there is a little bit hacky method to check out it. You can try it with

[2022-08-25 13:46] pmrowla commented on #8182
`exp apply` needs to check the failed refs stash now. This usage of apply worked before the celery changes (since failed exps were just re-added to the regular queue), so this should be considered a regression (and it's a simple fix)

https://github.com/iterative/dvc/blob/063eb6904dc79c2e5be9e1b57f7ecaa781eded8b/dvc/repo/experiments/apply.py#L42

this just needs to be something like

[code]

(appl

[2022-08-25 14:51] pared commented on #8178
Is there a use case where this behavior is expected? If the underlying fs are cached, why not cache this too?

[2022-08-25 14:55] skshetry commented on #8178
Why cache if you don’t need to? In fsspec filesystems, there may be state/sessions/client that need to be reused/reopened so caching helps.

For ODB, it’s not necessary, caching comes with it’s won set of problems.

[2022-08-25 15:19] #8087 closed

[2022-08-25 15:28] macio232 opened #8188 "pull --glob: never matches"
# Bug Report

## Description

Descpite having matching stages `dvc pull` with `--glob` option never finds any matches.
### Reproduce

I can not share my code, and I don't think preparing a toy example is needed here.

### Expected

Pull all the outputs of stages matching the expression.

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**
I am not

[2022-08-25 18:25] dberenbaum commented on #8179
Seems like this is getting back to the discussion in https://github.com/iterative/dvc/issues/8141 but in reverse?

[2022-08-25 18:34] dberenbaum commented on #8172
🤔 In the scenario you showed above, I wouldn't expect `dvc pull` to fail if this is current behavior. Why not always fallback to trying the source location?

[2022-08-25 21:07] efiop commented on #8178
fs comparison is a broader topic, we would be ideally using https://github.com/fsspec/filesystem_spec/issues/773 , but that requires a bit of work.

[2022-08-26 00:46] pmrowla commented on #8172
This is the current behavior for anything imported with `import-url` (`pull` only pulls from DVC remotes), it's not related to `--no-download`.

If the issue here is changing all non-repo imports to use the original source as a fallback we can keep this open, but I'm not sure it's a p1, given that is how import-url has always worked and it has never really been an issue before.

[2022-08-26 00:51] pmrowla commented on #8179
@dberenbaum I'm not sure it's the same? This issue isn't about having CLI flag support for whether or not to display an empty table, it's about the internal `ui.table` API, which assumes it should never print any output for empty tables except for when it is markdown mode.

The problem here was that in an empty git repo, after the changes in #8177 `exp show` (with no other json/md flags) just exit

[2022-08-26 00:57] pmrowla commented on #5800
That's the default git config (with no enabled hooks), so that should be fine. It's not clear to me why DVC would be trying to use gdrive here then.

@JohnTheDeere can you post the contents of `case_dat.sav.dvc`? And do you have any other `dvc.yaml` or `.dvc` files in your repo?

[2022-08-26 02:39] mattseddon opened #8191 "`data status`: throws unexpected error if any dvc.yaml in the workspace is invalid"
# Bug Report

## Description

If DVC is unable to parse any of the `dvc.yaml`s in the workspace `dvc data status` throws an unexpected error. E.g:

[code]
### Reproduce

1. open project
2. modify any `dvc.yaml` so that it is unparsable
3. run `dvc data status --json`

### Expected

The extension needs a reliable way to identify this error so that:

1. We know not to retry until the file has been e

[2022-08-26 06:45] daavoo commented on #8163
@mattseddon Could you try https://github.com/iterative/dvc/issues/8163 to see if it matches what you expected

[2022-08-26 06:52] mattseddon commented on #8163
Will test after the weekend 🙏🏻.

[2022-08-26 07:30] skshetry commented on #8191
I am fine with introducing the concept of partial results in `dvc data status --json` and exit with `2`, but I am not sure if we need to do this in the CLI as well. At least I am not sure, how we can tell users that dvc.yaml is broken and how it is broken, which the above error provides in a nice way.

Failing on a broken file in the index and skipping from `HEAD` is an option for CLI.

For partia

[2022-08-26 07:44] skshetry commented on #8191
We can start with a simple way here, skip the broken file in the index, and assume that they are not broken in the HEAD.
Since we are comparing between the workspace and the index using those same files, the results won't be misleading.

[2022-08-26 08:25] karajan1001 commented on #8188
related to https://github.com/iterative/dvc/issues/6671#issuecomment-925468495

[2022-08-26 08:59] oscarkey opened #8192 "dvc queue logs: "No output logs found" for failed experiment thus unable to debug failure"
# Bug Report

## Description
I am using DVC to run a grid search of about 300 experiments. Half way through the queue one of the experiments fails and DVC stops running the rest of the queue. I would like to debug why this experiment has failed. I am unable to view the logs:
[code]
Or apply the experiment config to run it again:
[code]
(I guess this problem is https://github.com/iterative/dvc/issu

[2022-08-26 09:22] macio232 commented on #8188
@karajan1001 It looks like there is a dedicated issue (https://github.com/iterative/dvc/issues/5864) that I didn't find before opening mine. I think this one can be closed as a duplicate.

What makes me worried is that this problem hasn't been addressed since April 2021 :(

[2022-08-26 09:24] macio232 commented on #8192
`dvc queue logs` works for failed experiments. At least with `2.18.1` and higher.

[2022-08-26 10:00] #8161 closed

[2022-08-26 10:37] Suor commented on #8178
The suspicious even technically part for me is that `ObjectDB.__eq__` does not correspond to `ObjectDB.__hash__`. The latter is quite strait-forward `(self.fs.protocol, self.path)`.

These two are supposed to make a matching logic, as I understand.

[2022-08-26 10:44] Suor commented on #8178
It might be understood like that. But after collection `None` need to be merged with a `odb` instance for a default/chosen remote. So that their sets would be joined. Otherwise, all that stuff will be downloaded serially not in parallel - see the second part of `Repo.fetch()` implementation().

Having a distinct `odb` for each out with `remote` set adds to the issue above. One might have hundreads

[2022-08-26 12:38] oscarkey commented on #8192
Here are the logs from `.dvc/tmp/exps/celery/dvc-exp-worker-1.out`: [dvc-exp-worker-1.out.txt](https://github.com/iterative/dvc/files/9433199/dvc-exp-worker-1.out.txt)
The start of the stack trace is
[code]

[2022-08-26 12:42] macio232 commented on #8192
This has probably to do with [`ulimit`](https://linuxhint.com/linux_ulimit_command/)

[2022-08-26 14:00] macio232 commented on #5786
It looks like with version `2.20.0` this happens even without the `-d` flag.

[code]

As a consequence, it is impossible to download the input data. Is there any chance to fix this bug soon?

[2022-08-26 14:11] dberenbaum opened #8193 "`update`: `--to-remote` doesn't update deps or delete existing output in workspace"
# Bug Report

### Description

On `dvc update --to-remote`, the `deps` section isn't updated, and the old output remains in the workspace.

### Reproduce

Repro script:

[code]

Output:

[code]

### Expected

Expected output should have matching md5 and size for deps and outs, and `bar` should no longer exist in the workspace.

### Environment information

[code]

[2022-08-26 14:22] Chickenmarkus commented on #829
Sorry, the notification did not work first, and second I was on vacation. :see_no_evil:

Also, I would really like to thank you for your feedback! It is very helpful. I absolutely agree with you.
The separation of data and labels is completely new to me but it seems to be the right way. I only see the reasons for that you already mentioned. There comes nothing to my mind where this would break the

[2022-08-26 15:44] dberenbaum commented on #8172
Actually, I agree we can close until someone actually needs this functionality. It is a pretty edge case where this fallback would be needed.

[2022-08-26 15:44] #8172 closed

[2022-08-26 17:19] dtrifiro commented on #8026
Temporarily patched `GCSFileSystem` in `dvc-gs` in https://github.com/iterative/dvc-gs/pull/9

[2022-08-26 18:27] mbergal opened #8194 "installing from Ubuntu repo does not install s3 adapter"
# Bug Report

DVC version 2.6.3

![image](https://user-images.githubusercontent.com/167835/186968532-080d228a-054f-4688-8967-8ec62cd17458.png)

DVC version 2.21.1

![image](https://user-images.githubusercontent.com/167835/186968664-c2b3edcb-2dca-4eba-9cee-fbdd472979eb.png)

[2022-08-26 21:43] efiop commented on #7949
We reverted to pyinstaller 5.0 (thanks @daavoo ) for now. No time to look into this deeper, so going to close it for now.

[2022-08-26 21:51] efiop commented on #8194
Looks like we need to add dvc-* packages to pyinstaller hooks as hidden imports.

[2022-08-26 22:37] majidaldo commented on #5787
not dvc's fault but i had an issue that got fixed with https://stackoverflow.com/a/71550539/1922945

[2022-08-26 22:38] majidaldo commented on #5787
not dvc's fault but on windows i had an issue that got fixed with https://stackoverflow.com/a/71550539/1922945

[2022-08-27 07:30] karajan1001 commented on #8188
Yeah, but I think maybe we need to make it more clear in the document, as we have already received this kind of report several times.

[2022-08-27 12:14] JohnTheDeere commented on #5800
I think I should try to reproduce this problem to ensure that I still have it (will try to do that tomorrow). Maybe I accidentally broke something which got fixed when I pulled the git repo into a fresh directory. For that I need to move the gdrive credentials stuff from the global config back to the local config file and see if running experiments still causes the same problems as before. I'll le

[2022-08-27 14:41] z1ga commented on #8151
I ran into same problem while trying to queue experiments with `--set-param` options. The binaries in my DVC pipeline use many `--some-argument-name` style arguments, which work great with DVC's [dict unpacking](https://dvc.org/doc/user-guide/project-structure/dvcyaml-files#dict-unpacking) and YAML's support for keys that contain `-`.

It would be great if `--set-param` would support these as well

[2022-08-27 16:10] JohnTheDeere commented on #8165
I can confirm that I have the same bug (except I used queue start):
<img width="1543" alt="Screenshot 2022-08-27 at 17 01 27" src="https://user-images.githubusercontent.com/19154758/187038279-0b469f36-1fdb-472c-a79d-bd11eacb5515.png">

In my case ```.dvc/tmp/exps/celery/dvc-exp-worker-1.out``` shows:

[code]

[2022-08-27 19:14] dacbd commented on #8194
related? https://github.com/iterative/setup-dvc/issues/41

[2022-08-27 19:31] dberenbaum commented on #8191
If we want to start simple, I agree with https://github.com/iterative/vscode-dvc/issues/2254#issuecomment-1227678984 that we should start with no changes except passing at least some error info via JSON or some format that will work for VS Code.

For JSON, do we need to have a general guideline for all commands that errors should be output in JSON?

[2022-08-28 01:39] karajan1001 commented on #8165
In previous we had a https://github.com/iterative/dvc-task/pull/78, but it ought to been fixed in `2.17.0`. Could you please give me the version of `dvc-task` you are in (`pip list | grep dvc-task`).

[2022-08-28 08:09] JohnTheDeere commented on #8165
Hey @karajan1001  thanks for the quick response.

I get ```0.1.0```. I will try to update and see if this resolves the issue - thanks!

[2022-08-28 15:09] NerdToMars commented on #6794
I have same issue, my exps/stash is like:

[code]
`git update-ref -d refs/exps/stash` won't help.

Here is my debug info
[code]

[2022-08-28 16:48] NerdToMars commented on #6794
The root cause of this issue is my git config email setting has a `\n`

[2022-08-28 18:05] #8194 closed

[2022-08-28 18:10] efiop commented on #8194
Hey folks. This should be fixed in 2.21.3. Packages will be ready in a few hours.

[2022-08-28 22:46] #7944 closed

[2022-08-28 22:49] #8162 closed

[2022-08-28 22:50] #8163 closed

[2022-08-28 23:40] mattseddon commented on #8163
I can confirm that everything works as expected 👍🏻 🙏🏻.

[2022-08-29 00:25] mattseddon commented on #8191
It would be good to head in that direction.

[2022-08-29 05:59] karajan1001 commented on #8165
Yeah, the bug was fixed in version 0.1.2.

[2022-08-29 08:23] pared commented on #8020
@ldelphinpoulat This should be fixed for `dvc>=2.21.0`.

[2022-08-29 08:51] #7914 closed

[2022-08-29 09:19] daavoo commented on #8066
I think https://github.com/iterative/dvc/issues/6485 is a (long) related discussion

[2022-08-29 12:41] dberenbaum opened #8200 "`import-url`: `fetch` after `--no-download` should not checkout to the workspace"
Using `run()`/`sync_import()` here means that this is always a `pull` and not really a `fetch`. The import will be downloaded into the workspace and then saved/committed to cache, but the output will remain "checked out" in the workspace, even if the user ran fetch.

in this workflow I would not expect `file` to be present in my workspace (it should only be in `.dvc/cache` to be checked out later)

[2022-08-29 13:08] samuelkees commented on #8180
I tested it with DVC version ```2.18.0```; all cool. DVC version ```2.18.1``` i get the same error.

[code]

[code]

[2022-08-29 14:07] daavoo commented on #8180
This was introduced in https://github.com/iterative/dvc-objects/commit/23e87bb76bca81fd88053f8fadf628d975f94a12

[2022-08-30 05:24] JohnTheDeere commented on #5800
Hey again @pmrowla I updated DVC and pulled a fresh version of the repository from git. Now this bug seems to be gone. Not sure why - maybe I messed something up locally at some point? Anyways I am happy - thanks!

[2022-08-30 06:28] skshetry opened #8202 "For the example in https://github.com/iterative/dvc/pull/8170#issuecomment-1227509867, output now looks like:"
For the example in https://github.com/iterative/dvc/pull/8170#issuecomment-1227509867, output now looks like:

[code]

It still seems odd to me that the `dir/` changes are considered committed when all the granular changes here are uncommitted. I understand that the md5 in the index dir.dvc doesn't match the Git HEAD, but not sure it makes sense to call the index committed when there is no cache e

[2022-08-30 07:36] abhmul opened #8203 "Dict unpacking in Windows adds extra quotations to string arguments"
# Bug Report

## `repro: dict-unpacking on windows adds extra quotes`

## Description

When running `dvc repro` with a stage that uses dict-unpacking on Windows, all string arguments get an extra set of quotations when parsed by argparse. For example "hello" turns into "'hello'". If I copy the command run by DVC and run it myself, the code works as expected.

### Reproduce

I have created a git re

[2022-08-30 07:44] abhmul commented on #8203
A simple hack until this is fixed: add a `type` to the argument that strips extra quotes.

[code]

[2022-08-30 08:08] daavoo commented on #8203
Hi @abhmul , Thanks for reporting. How does your 'params.yaml' look?

[2022-08-30 11:31] dberenbaum commented on #8202
Thanks @skshetry! Any concerns with this or is it just a matter of figuring out the implementation?

[2022-08-30 12:14] atekoa commented on #7564
It works!

[2022-08-30 15:12] dberenbaum opened #8208 "`data status`: update cli hints"
What I'd suggest here is to change the hint in "not in cache" to always use `fetch` (maybe some specialization for no cache with `dvc pull`), and then for uncommitted changes, we can show two hints like how git does:

[code]
[code]

There are some questionable behaviours in checkout, so it may not always work without `--force`, but that should be fixed separately, and in checkout itself.

_Origina

[2022-08-30 15:38] skshetry commented on #8202
I have been considering not-in-cache to be all edge-cases, we want to be correct first, that's why we tried to fix it in the best possible way.
This with `--add-commit` and/or `index` not being in cache, is a niche-usecase or is rarer.

This all comes to what our definition of `committed` is. Looking at `--no-commit`, it might seem like it should be considered as `uncommitted` but it's working wit

[2022-08-30 15:49] skshetry commented on #8202
Another thing is, in a distributed context, `dvc data status` will always show the same results/state regardless of the cache for a particular repo.
Does it matter for the index? Probably not. But I think it corresponds well to the "state of the working directory", same state of the working directory -> same `data status` output.

[2022-08-30 16:20] #8208 closed

[2022-08-30 17:22] #8200 closed

[2022-08-30 19:39] dmpetrov opened #8214 "Meta information for data"
We need to add meta-info to DVC files. Please use https://github.com/iterative/gto protect as an example of signals that are needed: description, labels, type, etc.

Out of the scope / Next steps:
1. Commands to extract this metadata (initially).
2. Add custom meta field such as: custom metrics or summary statistics.
3. Metadata in pipeline.

[2022-08-30 19:49] dberenbaum commented on #8214
For now, let's say `type` and `label` are needed (and `description` if the existing field isn't enough).

[2022-08-30 23:57] dberenbaum commented on #8214
@dmpetrov For this issue, do we need the ability to add them from CLI? Like `dvc add --type`? Do they need to be shown in any existing commands yet?

[2022-08-31 08:35] hemker opened #8215 "DVC doesn't consider url parameter in .dvc/config file when using import"
# Bug Report

`import: doesn't consider url parameter if config.local is available`

## Description
If you have set up two remotes in your `.dvc/config` file and handle their authorization in `.dvc/config.local`, using the `dvc import` command produces the output `ERROR: failed to import 'path_from_repo' from 'https://github.com/myrepo.git'. - config file error: expected 'url' for dictionary value

[2022-08-31 10:57] rick-van-veen commented on #7186
I would actually like to see this working as well for the --temp, --queue case.

[2022-08-31 11:01] rick-van-veen commented on #4604
My work around for this issue (details here: https://github.com/iterative/dvc/issues/8016) is to add my registry as a submodule and then dvc import <local repo> (after adding the config.local in the submodule... else it doesn't work). However, I ran into issues when queueing my experiments. Related to https://github.com/iterative/dvc/issues/7186.

[2022-08-31 12:50] dberenbaum commented on #8191
@mattseddon Given https://github.com/iterative/vscode-dvc/pull/2301, is this still an issue? Do you still need JSON errors? What info do you need and how important is it?

[2022-08-31 13:09] dtrifiro commented on #8026
Fix was included `dvc-gs==2.19.1`, which is included starting with `dvc==2.22.0`

[2022-08-31 13:09] #8026 closed

[2022-08-31 13:12] dtrifiro commented on #7947
It's likely the bucket does not exist. You can create through the web console or with `gsutil` using `gsutil mb gs://dvctmp`.

[2022-08-31 14:57] daavoo opened #8216 "exp run: Better handling `hydra` errors"
Could be worth it to check that `config_dir/config_name` exists and properly handle that case, right now if you run `exp run -v` with a non-existing config, you get the following:

[code]

[2022-08-31 15:24] #8082 closed

[2022-08-31 16:34] arthurkok2 opened #8217 "dvc pull: re.error: redefinition of group name 'ps_d' as group 2; was group 1 at position 46"
# Bug Report

## Description

When running `dvc pull`, re throws an error `dvc pull: re.error: redefinition of group name 'ps_d' as group 2; was group 1 at position 46`

### Reproduce

1. run `dvc pull`

### Expected

It not to throw an error

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[code]

[2022-08-31 16:40] skshetry commented on #8217
@arthurkok2, could you please share `.dvcignore` file or try removing certain items of it to see what is causing this?

[2022-08-31 16:42] arthurkok2 commented on #8217
my `.dvcignore` is empty except for some default comments:

[code]

[2022-08-31 17:36] rlamy commented on #8217
@arthurkok2 Do you still have the issue if you upgrade dvc?

[2022-08-31 17:43] rlamy commented on #8215
Simpler repro:
[code]

[2022-08-31 20:02] dberenbaum commented on #8202
I don't think it's specific to these cases. If the HEAD object doesn't exist, I would still expect the changes to be uncommitted. Can you think of an example where considering the commit to be both is problematic?

In general, I think **changes** depend on comparing to the Git HEAD, but whether those changes are **committed** depends on both the index and the cache since it's about whether DVC can

[2022-08-31 22:35] mattseddon commented on #8191
For this particular issue, it would be really good to get a list of failures (unparsable files) back from the CLI, I could then show exactly what has failed in one of our views and add an on-click command to open any of those particular file(s) from the same view.

If I am being completely honest this is probably just nice to have, not a pressing priority. Others might feel differently but  IMO th

[2022-08-31 22:36] nmichlo opened #8218 "Relax Rich Requirement"
https://github.com/iterative/dvc/blob/e7daeb1c3e07b754de898c38f710d73561f427a9/setup.cfg#L62

Is it possible to relax the rich requirement? possibly to `>=9`.

This would greatly help compatibility with other libs.

[2022-08-31 23:37] eric-seppanen commented on #8217
I am hitting the same error, note that `dvc doctor` also fails.
[code]
[code]
[code]

[2022-08-31 23:45] eric-seppanen commented on #8217
The fact that two different people on very different versions hit this very specific error within a few hours makes me suspect that some dependency just released a broken version.

[2022-09-01 00:36] dberenbaum commented on #8191
Thanks @mattseddon! I'm a bit confused because it looks to me like https://github.com/iterative/vscode-dvc/pull/2301 already shows the broken file and even the source of the error within the file. What am I missing?

[2022-09-01 01:07] mattseddon commented on #8191
In that example I display the entire stderr from the error message, VS Code truncates the string into the tree (probably at the first `\n`). When I hover over it the full string is shown. In order to get `./dvc.yaml` from the error message, I would have to rely on the format of the string and/or use regex to parse it. I am not comfortable doing that.

[2022-09-01 01:32] eric-seppanen commented on #8217
This is caused by `pathspec 0.10.0`, which was released 2022-08-30.

`pip install dvc` explicitly warns about the incompatibility. I missed the warning because I didn't know that pip ignores errors, and because the output was buried deep in a docker build log.

Downgrading to `pathspec 0.9.0` fixes this for me.

[2022-09-01 02:53] skshetry commented on #8214
@dmpetrov, could you please elaborate on why we need this and how we plan to use this? In a way, we already have `meta` in `.dvc` and `dvc.yaml` files, which supports arbitrary information, but it's mostly intended for users.
But if it's to be consumed by external tools instead of DVC, it makes sense for those tools to also use `meta` fields.

Here, it seems like we need arbitrary information here

[2022-09-01 04:09] skshetry commented on #8218
Sorry, we cannot. That version `10.13.0` of `rich` is almost a year old. I suggest opening an issue on the projects that are incompatible. `rich` is a relatively young project, and will have new features/bugfixes that we want to use. Anyway, we are not very strict since the recent version is 12.5.1.

[2022-09-01 04:09] #8218 closed

[2022-09-01 04:23] skshetry commented on #8202
What's the usecase where you want to save the hash but not commit it?

[2022-09-01 06:23] taikiinoue45 opened #8222 "Return StageCmdFailedError when I import pycuda.autoinit"
# Bug Report

`run: Return StageCmdFailedError when I import pycuda.autoinit`

## Description
 When running `dvc run`, I got the following error. It seems to occur only under certain conditions (See details in the reproduce section). I have tried to solve this problem, but it's not easy for me. Could you please help me?

[code]

## Reproduce

### environment
gpu: GeForce RTX 3090
nvidia driver: 46

[2022-09-01 08:06] skshetry commented on #8222
From the exception, it seems that it's your script that failed:
[code]

I'll suggest running your script manually, and see why it's failing. It does not seem like it's DVC-specific error. I'm closing this for now, please feel free to reopen it if it has something to do with dvc.

[2022-09-01 08:06] #8222 closed

[2022-09-01 09:50] joemal1234 opened #8225 "dvc poetry install wont work with zc.lockfile"
trying to do poetry install, and it wont work

dvc==2.15.0

[code]

[2022-09-01 10:25] taikiinoue45 commented on #8222
Sorry it's my bad. When I run just python, I got error..
[code]

[2022-09-01 10:51] nielstenboom commented on #4164
Ran into the same issue [atekoa](https://github.com/atekoa) describes well.

Resorted to doing this as well for our s3 remote and then pushing the files again worked. Something like a force push with a `-f` or `--force` flag would've been fantastic!

[2022-09-01 10:57] efiop commented on #8218
@nmichlo If you are not using dvc through python api (and only using CLI instead), you might want to install it through one of the binary packages (e.g. deb, rpm, exe) or isolated packages (pipx, snap, homebrew, etc), to isolate your libraries depending on old rich from dvc.

[2022-09-01 11:58] rlamy commented on #8225
What's your `pyproject.toml`? It looks like you have a dependency conflict

[2022-09-01 12:09] nmichlo commented on #8218
This is not an ideal solution if dvc is a dependency in an existing projects requirements.

[2022-09-01 12:22] efiop commented on #8218
@nmichlo So you are using dvc purely through python api? Could you elaborate on your use case, please?

[2022-09-01 15:49] jlhbaseball15 opened #8228 "poetry add: Invalid constraint when installing dvc with poetry"
# Bug Report
When installing with poetry

## Description
When adding `dvc` to a `poetry` project, it can't resolve all constraints
[code]

This is due to a typo in the [setup.cfg](/iterative/dvc/blob/master/setup.cfg#L92):

[code]

This should be

[code]

see Python-Markdown/markdown#1197

### Reproduce

[code]

### Expected
`dvc` added to `pyproject.toml` dependencies, i.e.
[code]

[2022-09-01 16:32] dberenbaum commented on #8037
@UrszulaCzerwinska Do you still have this issue? I'm unable to reproduce even when trying to approximate the same setup (GitHub + s3 remote + DVC 2.11.0):

[code]

[2022-09-01 16:36] dberenbaum commented on #8068
@casperdcl FYI. Any thoughts on this scenario?

[2022-09-02 02:15] dmpetrov commented on #8214
@skshetry yeah, the current meta might be enough.

Questions to clarify:
1. Can we add description, labels and type using meta?
2. Is it possible to add all 3 in a single command?
3. Is it possible to make it in `dvc add`?
4. (optional) Is there a command to show it?

[2022-09-02 03:49] skshetry commented on #8214
yeah, the good thing about `meta` is that it is arbitrarily defined. It can have anything inside. 🙂
The bad thing about `meta` is that it is arbitrarily defined. It can have anything inside.

We already have support for setting description in `import/import-url/add` with `--desc` flag.
We don't have support for setting arbitrary values in meta in commands yet, it is something that has to be set ma

[2022-09-02 07:29] rick-van-veen commented on #8113
I found this same issue and I'm running with similar workflow as described in the origin report.

[code]

Is there a fix, i.e., workaround for this?

[2022-09-02 08:02] raychinov commented on #8217
We were facing the same issue during the `dvc-pre-commit` hook, executing `pre-commit autoupdate` before the hooks fixed it for us.

[2022-09-02 09:50] danielbellsa opened #8230 "exp run: Permission denied ERROR: failed to reproduce stage: failed to run: .py, exited with 126"
Goal: run `.py` files via. `dvc.yaml`.

There are stages before it, in `dvc.yaml`, that don't produce the error.

`dvc exp run`:
[code]

`dvc repro`:
[code]

---

`dvc doctor`:
[code]

`dvc exp run -v`:

[output.txt](https://gist.github.com/danielbellsa/3f2fe05c1535d494a8677e54cddf684a)

`dvc exp run -vv`:

[output2.txt](https://gist.github.com/danielbellsa/a124cf28b3f0252556deb90b042b7cec)

[2022-09-02 10:07] joemal1234 commented on #8225
I did poetry add zc.lockfile. seems to do the trick

[2022-09-02 10:19] dtrifiro commented on #8217
The issue comes down from this change ([`1c8c980`](https://github.com/cpburnz/python-pathspec/commit/1c8c9809f09717645887e69163ede15d9dd6b738#diff-18192175f429a9b4d3a3c480c91429ab9197bd1da7423a2b72c51bb09c4f08e9L115)) in pathspec 0.10.0, whichs starts using a named group `ps_d` to match directory markers (e.g. `/`). Since we concatenate regexes here:
https://github.com/iterative/dvc/blob/660c17f65

[2022-09-02 10:34] #8230 closed, assigned to nobody

[2022-09-02 10:36] #8225 closed

[2022-09-02 10:41] dtrifiro commented on #8217
Also as @eric-seppanen pointed out, this is explicitly pinned to `<0.10` in both `dvc` and `scmrepo`.

[2022-09-02 11:15] Kamuzinzi opened #8231 "Cannot pull with "dvc pull" from gdrive."
# Bug Report

## Description

WARNING: Some of the cache files do not exist neither locally nor on remote. Missing cache files:
name: data/AdSmartABdata.csv, md5: 1ae19300fae64a8d41f40122d8f68a53
name: data/control_group_data.csv, md5: cfa31c5fe1ba45af5ed190bd5299dad2

**Output of `dvc doctor`:**
DVC version: 2.24.0 (pip)
---------------------------------
Platform: Python 3.8.10 on Linux-5.15.0-46

[2022-09-02 12:18] rlamy commented on #8231
What output do you get with `dvc pull -vv` please?

[2022-09-02 12:24] RCdeWit opened #8233 "Auto resolve merge conflicts in dvc metadata"
A merge conflict arises in the DVC metadata when:
- A development branch is behind `main`;
- There has been a DVC commit on `main`;
- There is a DVC commit on the development branch.

The [user guide](https://dvc.org/doc/user-guide/how-to/merge-conflicts) mentions how the merge driver can resolve merge conflicts automatically in append-only directories. This does not work when files can be updated

[2022-09-02 12:50] skshetry commented on #8214
@dmpetrov @dberenbaum, I went ahead with `labels`/`type` field outside of `meta` as `desc` is already outside.
The `add`/`import`/`import-url` commands all take `--desc`/`--type`/`--labels` flags.

I am not sure what we want here, but I played with `dvc data ls` command and added some filtering mechanisms to it.

Please check out #8232 and we'll iterate from that.

[2022-09-02 13:31] Kamuzinzi commented on #8231
(env) egide@egide-VirtualBox:~/Documents/tenAcademy/week 2/abtest-mlops$ dvc pull -vv
2022-09-02 08:46:33,659 TRACE: Namespace(all_branches=False, all_commits=False, all_tags=False, cd='.', cmd='pull', cprofile=False, cprofile_dump=None, force=False, func=<class 'dvc.commands.data_sync.CmdDataPull'>, glob=False, instrument=False, instrument_open=False, jobs=None, parser=DvcParser(prog='dvc', usage

[2022-09-02 13:35] rlamy commented on #8231
And `dvc config -l --show-origin`?

[2022-09-02 13:38] Kamuzinzi commented on #8231
[code]

[2022-09-02 13:41] danielbellsa opened #8234 "exp run: Permission denied ERROR: failed to reproduce stage: failed to run: .py, exited with 126"
Goal: run `.py` files via. `dvc.yaml`.

There are stages before it, in `dvc.yaml`, that don't produce the error.

`dvc exp run`:
[code]

`dvc repro`:
[code]

---

`dvc doctor`:
[code]

`dvc exp run -v`:

[output.txt](https://gist.github.com/danielbellsa/3f2fe05c1535d494a8677e54cddf684a)

`dvc exp run -vv`:

[output2.txt](https://gist.github.com/danielbellsa/a124cf28b3f0252556deb90b042b7cec)

[2022-09-02 13:47] rlamy commented on #8231
And `dvc data status`? (sorry, I should have asked for all of that in one go)

[2022-09-02 13:48] Kamuzinzi commented on #8231
[code]

[2022-09-02 14:19] rlamy commented on #8231
Ah, I see. You have some orphan `*.dvc` files that aren't in cache. Removing these files (`data/control_group_data.csv.dvc`, `data/AdSmartABdata.csv.dvc` and `data/exposed_clean_data.csv.dvc`) should allow you to use your remote again.

This situation isn't meant to happen though. Do you remember what you did with those files? Did you maybe use `dvc add --no-commit`?

[2022-09-02 14:21] Kamuzinzi commented on #8231
I did `dvc add data/*.csv` to be able to create .dvc files.
After this I removed the *.csv files. pulling from my local machine is working but failing on other machines.

[2022-09-02 14:27] UrszulaCzerwinska commented on #8037
I will take some time to try it next week.

[2022-09-02 14:44] dberenbaum opened #8235 "dvc auth check"
From @dmpetrov

[2022-09-02 14:47] dberenbaum commented on #8235
Related: #6927. Maybe it could be an option to pass arbitrary information to `dvc remote test` to also test arbitrary credentials for things like `get-url`/`import-url`.

[2022-09-02 14:51] dberenbaum commented on #8235
I did a quick look into it:

* AWS: https://stackoverflow.com/questions/31836816/how-to-test-credentials-for-aws-command-line-tools (seems doable)
* Azure: https://stackoverflow.com/questions/53258301/how-to-verify-authentication-of-microsoft-azure-storage-accounts-when-called-wit (doesn't seem straightforward)
* GCloud: https://cloud.google.com/sdk/gcloud/reference/auth/list (haven't tested this

[2022-09-02 14:54] skshetry commented on #8235
My understanding here is that fsspec does not have a good way to check for authentication issues.
It may raise `OSError` on auth issues, but lots of `api` have assumptions that when OSError/IOError is raised, it is considered as `FileNotFoundError` instead (eg: `isdir`, `info`, `walk`, etc).

[2022-09-02 15:29] shcheklein commented on #8233
cc @mattseddon - can we plug into VS Code merge tool and do something with it? Or even put together our own merger for directories.

[2022-09-02 15:37] rlamy commented on #8231
Ah, OK, I thought this was all happening on the same machine.

The .dvc files tell dvc what to push and pull. If I understand correctly, you never `dvc push`ed the actual files, so the remote doesn't have them. In that case, you can fix it with `dvc checkout` then `dvc pull` on your local machine, but check what's going on with `dvc data status` before and after each command.

[2022-09-02 15:43] skshetry commented on #8234
@danielbellsa, you can set `cmd` to `python <script_name>` instead of just the script. It looks like the python file is not executable, so it's failing with Permission Error.

[2022-09-02 16:43] dberenbaum commented on #8233
Related: https://github.com/iterative/dvc/issues/5151

It would be nice to give users an option to setup the merge driver during `dvc init`. I understand we may not want to automatically touch user's Git config, but I can't think of much downside if we let them know up front and ask if they want to do so.

I also see no reason DVC can't have a merge driver that works for all situations except wher

[2022-09-02 16:43] skshetry commented on #8217
Thanks @eric-seppanen, @dtrifiro. I did not notice that. I'm lifting the https://github.com/iterative/dvc/labels/p0-critical.

[2022-09-02 19:29] dberenbaum opened #8236 "Hint to see exps from previous commits"
@daavoo Mentioned how users repeatedly find it confusing that their experiments disappear after `git commit`. I doubt we want to default to `dvc exp show -A`, so can we reduce the confusion with a hint about how to see experiments from previous commits? We could either show it always or try to detect when it's likely to be an issue (for example, no experiments exist at HEAD).

[2022-09-02 20:05] #8228 closed

[2022-09-02 23:29] mattseddon commented on #8233
I have a task to look into it.

[2022-09-03 06:07] FeryET opened #8242 "Pull: Moved data from an old remote to a new remote, DVC cannot pull from the new remote"
# Bug Report

## Description

I have created a new bucket in a self hosted MinIO instance, and used `rclone sync   old_remote:dvc_bucket   new_remote:dvc_bucket` to move data from my old remote to the new remote. Given the correct endpoint, s3 url and authorization information, I cannot pull the moved data from my new remote. The error I'm getting is:

[code]

I've posted a complete detail in **[t

[2022-09-03 11:04] #8231 closed

[2022-09-05 08:28] skshetry opened #8243 "Add `labels`/`type`/`desc` support in `.dvc` file and dvc `add/import/import-url`."

[2022-09-05 08:28] skshetry opened #8244 "`labels`/`type`/`desc` support in `dvc.yaml` file."

[2022-09-05 08:28] skshetry opened #8245 "Add custom meta field such as: custom metrics or summary statistics."
We should add a collection item to the `.dvc` and `dvc.yaml` file, so that users can add arbitrary information to the data.
This also requires the addition of a flag to add that arbitrary information.
See https://github.com/iterative/dvc/pull/8232#issuecomment-1236528365.

[code]

- What should the keyword be? We already have a `meta` at the stage level. However, that is a stage-level keyword, whe

[2022-09-05 08:28] skshetry opened #8246 "Command to extract/show this metadata"

[2022-09-05 09:04] #8234 closed, assigned to nobody

[2022-09-05 11:33] fengwang commented on #7238
@davebulaval  I have almost the same error as yours. Have you figured out a way to solve this issue?

[2022-09-05 11:55] nmichlo commented on #8218
@efiop

One of our use cases is versioning and the pulling data for automated testing.

[2022-09-05 15:19] casperdcl commented on #8068
I'm not sure I follow. Is the issue about authentication for `dvc` in CI using env vars? That's already supported (vis https://dvc.org/doc/command-reference/remote/modify#available-parameters-per-storage-type) e.g. `AWS_ACCESS_KEY_ID` & `AWS_SECRET_ACCESS_KEY`.

Or do you mean DVC's `deps.*.repo.url` is a private repo that needs a PAT for pull access? In which case I guess DVC could support a `REP

[2022-09-06 00:54] #7323 closed

[2022-09-06 11:19] Varungarg97 commented on #8217
Here I am getting the same error

dvc version : 2.3.0

python version: 3.7.9

please suggest...

[2022-09-06 11:37] mikolajpabiszczak commented on #8068
@casperdcl This one

Although I believe the PAT / App Token should not be stored, since (in case of the App Token) it will be re-generated every time the pipeline is run (e.g., in GitHub action). One idea for a solution could be to have `--import-token` that would work with other dvc commands (e.g., `dvc repro`), which - when passed - would make sure that anything that was obtained with `dvc impor

[2022-09-06 11:38] rlamy commented on #8217
@Varungarg97 The workaround is to downgrade pathspec to `0.9.0`.

[2022-09-06 12:29] Varungarg97 commented on #8217
@rlamy  Thank you working now

[2022-09-06 12:55] dtrifiro commented on #8217
Hi @Varungarg97, what `dvc` version are you using?

[2022-09-06 14:03] daavoo commented on #7891
https://github.com/iterative/dvc/pull/8187  is adding support for using [Hydra syntax](https://hydra.cc/docs/advanced/override_grammar/extended/#sweeps) in `--set-param`, so:

[code]

Will put 2 experiments in the queue, that can be later executed with `dvc queue start`.

[2022-09-06 17:39] dberenbaum opened #8256 "exp: queuing with `--set-param` deletes untracked params files"
# Bug Report

## Description

If the params file is untracked, doing `dvc exp run --queue --set-param...` will delete the params file in the workspace.

### Reproduce

[code]

`ls` at the end returns only `dvc.yaml` in the workspace. `params.yaml` no longer exists.

### Expected

`ls` to show that `params.yaml` still exists with the same content (`p: 1`) as before doing `dvc exp run --queue --set-

[2022-09-06 18:52] dberenbaum opened #8258 "exp: random sweeps"
As a follow up to #8083, it would be helpful to have support for random search. It's not possible with the basic sweeper in hydra.

Possible solutions:
1. Add support for random search override syntax in the hydra basic sweeper (https://hydra.cc/docs/advanced/override_grammar/extended/#sweeps). Since random search needs to select random combinations across multiple parameters, I think this would r

[2022-09-06 22:01] davebulaval commented on #7238
I did not find a solution other than handling data by unconventional and unsecured email.

[2022-09-07 02:01] maxagin commented on #8236
@dberenbaum I have a question.
After `git commit`, I have made some adjustments to the source files and now my table header has different names. --> I want to see both commits in the table, but the headers are different.
Can this happen? If yes, we probably won't be able to show multiple commits in the same table.

[2022-09-07 02:11] maxagin commented on #8236
If the above is true, we could have a dropdown with all commits, when one is selected we display it, but only one at a time. In this case, we won't be able to compare EXPs from different commits.
Q: would multiple tables in one view be a solution?

[2022-09-07 02:20] mattseddon commented on #8233
Gitlens has tried to provide a merge tool for directories but I can't seem to get it to work. This definitely seems like a non-trivial piece of work. IMO to provide further value outside of the SCM tree we would need to get access to the original files from the conflicted path (i.e `dvc checkout <target(s)> <rev>`. In order to add the functionality we would therefore need to do a large workaround

[2022-09-07 07:44] daavoo commented on #8256
Duplicate of https://github.com/iterative/dvc/issues/7842

[2022-09-07 07:44] #8256 closed

[2022-09-07 12:46] karajan1001 commented on #7986
@mattseddon In the current json result of `exp show` there is no flag for failed experiments .
[code]
We need a new flag for it. what do you prefer  `"success": false` or `"failed": true`. Also for those failed experiments, you should disregard the info in `outs`

[2022-09-07 13:04] arbDEVbest opened #8270 "dvc plots diff"
### Report

Hi
I have this error when I execute pipeline gitlab-ci:
ERROR: unexpected error -  --targets: failed to parse revision specifier - Invalid pattern ' --targets'
code: $ dvc plots diff \ --targets metrics.csv \ --show-vega master > vega.json

[2022-09-07 14:06] DbCrWk opened #8261 "feature: System-level .dvcignore"
Creating a new `dvc` data registry is pretty straightforward, but the one repetitive thing I have to do is set the `.dvcignore`. Would it be possible to have a system-level `.dvcignore` that would cut across all projects? It could be placed right next to the `.gitignore` at `~/.dvcignore`.

Philosophically, I think it aligns well with both how `.gitignore` works and how I think about project-level

[2022-09-07 14:13] wullli commented on #8007
Leaving this here since it might be useful for people searching for this error.

We had the exact same error message when we tried to reference files in a data-registry from a different repo using
[code]
This was due to the fact that when importing from the remote repository, DVC could not authenticate against the S3 storage, since we had our credentials in a .dvc/config.local file in the registry

[2022-09-07 17:35] dberenbaum commented on #2180
Closing as completed in https://github.com/iterative/dvc/pull/7943. Thanks @skshetry!

[2022-09-07 17:35] #2180 closed

[2022-09-07 18:05] dberenbaum commented on #8068
@dtrifiro Any idea how this should work after dulwich upgrades?

[2022-09-07 18:23] dberenbaum commented on #8236
@maxagin It's possible that columns change between commits. However, this is also possible within a single commit. We show all columns from all experiments and commits in that case. We can iterate on improving this, but I think it's separate from this issue.

We already do allow for showing multiple commits in the CLI table. We should also be concerned with all the experiments disappearing on git

[2022-09-07 19:22] dberenbaum commented on #7986
Do we need separate fields for each state, or are they all mutually exclusive and we should have a single `state` field?

[2022-09-07 19:43] behrica commented on #7891
My main usecase for the feature request would be to auto-generate such parameter files.
#8187 does not allow this. The parameters are interwoven with the rest of the `exp run` command.

This would allow to use any algorithm for calculating the concrete parameters, without the need to include all such algorithms in dvc itself.

[2022-09-07 20:23] efiop commented on #7995
Thanks to great work by @pmrowla we now have a working POC in the `main` branch. E.g.

[code]

[2022-09-07 22:44] shcheklein commented on #8233
Yep, this is what would be interesting to explore. In this case we might need to build a custom way to show lists of added, removed, renamed files in those split panes.

[2022-09-08 02:43] karajan1001 commented on #7986
All are OK for me but will give more trouble to those who are parsing the `JSON` themselves, inside the DVC the JSON parsing is always going with the JSON format. This is why I'm asking for advice from matt.

[2022-09-08 02:43] jorgeorpinel commented on #8270
@arbDEVbest you should not use `\` characters in your terminal except at the end to continue a command in the next line (in Mac/Linux).

Dod you copy that command from somewhere in our docs?

Try `dvc plots diff --targets metrics.csv --show-vega master > vega.json`

[2022-09-08 05:30] mattseddon commented on #7986
Is completed/failed a boolean result? Can there be a partial failure? If it is a boolean then I'm happy with `succeeded` of `failed`. Will the error message will be nested somewhere within the dict? We will want to display as much information to the user as possible 👍🏻.

[2022-09-08 06:38] daavoo commented on #2180
For reference: https://dvc.org/doc/command-reference/data/status#example-granular-output

[2022-09-08 06:59] karajan1001 commented on #7986
For the error message, it could be gotten through the `dvc queue logs`, this command reads the stored output of the executor. It's not hard for me to read the message from this file and paste them into the JSON, the only question is What should I put into the JSON, is the last line of the output enough?
[code]
and what do you think about using a single "status" field instead of three boolean ones?

[2022-09-08 07:25] arbDEVbest commented on #8270
Thanks for your response.
I fixed this error, indeed the error was the backslash for line break. but now I have an other error
$ cml publish --md plot.png >> report.md
/scripts-426-3100/step_script: line 157: cml: command not found
I'm using this image dvcorg/cml-py3:latest

[2022-09-08 07:45] jorgeorpinel commented on #8270
Glad that worked.

Please ask in https://github.com/iterative/cml/issues or reach CML support directly via https://cml.dev/chat @arbDEVbest

[2022-09-08 07:45] #8270 closed

[2022-09-08 09:05] macio232 commented on #5786
@dberenbaum could you please increase the priority? Due to this bug `dvc import` practically doesn't make sense.

[2022-09-08 10:48] #8243 closed

[2022-09-08 11:10] #8245 closed

[2022-09-08 12:10] #8244 closed

[2022-09-08 12:37] dberenbaum commented on #8270
@arbDEVbest It looks like cml is not installed on the machine you are using. Is this inside of GitHub/GitLab/Bitbucket? You can find examples in https://cml.dev/doc/start of how to setup each one.

[2022-09-08 12:45] dberenbaum commented on #5786
@macio232 Do you have a reproducible example or can you describe in more detail the issue you are having?

[2022-09-08 14:05] dberenbaum commented on #8103
Hi @shelper! Please don't take the discussion above as dismissal of your points. It's just trying to understand and gather info.

I think it makes sense that you want to update the data registry from the consumer repo, and I have heard of others asking for something similar. As you said, it forces inexperienced users to understand a lot about how to make changes in Git. It also feels broken to me

[2022-09-08 14:30] rlamy commented on #8135
After #8241 is merged, there will still be a few easy targets for optimisation:
* `_DvcFileSystem.ls()` shouldn't call `._info()` but rather directly gather the relevant info from the underlying `fs`/`dvc_fs`, using `.ls(.., detail=True)`.
* `_info()` ends up calling `_update()` on every file that is passed to it, it should probably only do that for directories. (Note that the impact of this is co

[2022-09-08 15:14] dberenbaum commented on #8103
There's also a related proposal in #8066 for how to upload data back to a repo.

[2022-09-08 15:47] behrica commented on #7842
I stumbled over this today and found it at least "unexpected" and did not know how to fix it, until I came here.

[2022-09-08 16:45] dberenbaum commented on #7891
@behrica Would you be interested in a Python API to do this?

My feeling is that if you need to auto-generate all parameter combinations, you may as well call `dvc exp run --queue` from your code for each parameter combination (have you tried this as a workaround?). Saving them all to different files in a folder seems sort of against DVC expectations, since it is assumed each experiment contains o

[2022-09-08 17:28] behrica commented on #7891
I am very happy that DVC is language independent.  I use it from Clojure.
So I would favor a command line which takes a file with all parameters combinations I want.

Then I could generate such a file from Clojure

[2022-09-08 17:29] behrica commented on #7891
But this makes it rather static, indeed.

[2022-09-08 17:30] behrica commented on #7891
But the workaround you mentioned is feasible as well.

[2022-09-08 17:57] efiop opened #8272 "introduce dvc ls-url"
We have get/import/ls for dvc repos, but only get-url and import-url for clouds. With cloud workflows in mind, we need `dvc ls-url` to be able to list files on clouds (including being able to list available version_ids for cloud versioning workflow in the future). This will also be useful for get-url/import-url to be able to discover files before downloading/importing them.

This is also a nice be

[2022-09-08 18:38] behrica commented on #7891
I think the general question is to decide on  this question :

Should dvc itself start to provide various algorithms to "statically calculate" concrete parameters from  "a user supplied parameter space"
yes/no

It seems to me that #8187 is a first step in this direction. The user gives the space, and dvc calculates all combinations.
(taking a random subset of tgis would be an other algorithm)
(usi

[2022-09-08 18:44] behrica commented on #7891
I see the "user interface" very similar to #8187
[code]

[2022-09-09 01:54] pmrowla commented on #7842
Applying the merge on the workspace isn't the correct behavior, that would put `-S` modified params into the workspace and not the original params file.

I think the fix for this should just be to use `stash_workspace(include_untracked=True)` here
https://github.com/iterative/dvc/blob/55b16166c852a72e8dd47d4e32090063d27497e4/dvc/repo/experiments/queue/base.py#L320

When we leave that context it is

[2022-09-09 07:14] johnyaku opened #8274 "Pull imports from source"
Files that have been added via `dvc import-url` can be indvididually downloaded from their source location via `dvc update <target>`, but `dvc pull` looks for the files on the remote.

This request is for `dvc pull` to include an option to download these files from their source.

Whether this should be the default behaviour is open to discussion, but it would be helpful to at least have this optio

[2022-09-09 11:51] #8246 closed

[2022-09-09 13:58] dberenbaum commented on #7381
A concise summary of the request is to decouple checkpoints from the pipeline. Checkpoints should only be responsible for caching data and generating a Git ref, not any pipeline execution.

[2022-09-09 13:59] dberenbaum commented on #8009
Related to #6104. If the checkpoints are decoupled from pipeline execution, there should be no expectation that outputs are deleted at each checkpoint.

[2022-09-09 16:41] dberenbaum commented on #8274
Related: https://github.com/iterative/dvc/issues/8172

[2022-09-09 17:58] dberenbaum commented on #8113
@rick-van-veen Can you describe more of your issue or how to reproduce it?

[2022-09-09 23:15] thomasgilgenast opened #8279 "update: inconsistent hash calculation"
# Bug Report

update: inconsistent hash calculation

## Description

When running `dvc update` on an unchanged `.dvc` target, dvc computes a different hash (even though the file has not changed) and therefore incorrectly deduces that the file has changed.

When running `dvc status`, the hash is computed "normally" and DVC reports "Data and pipelines are up to date." as expected.

### Reproduce

1.

[2022-09-10 00:29] jorgeorpinel commented on #8214
Hi

What about dvc.yaml `outs`? (`stage add -o`, maybe `repro`)

[2022-09-10 02:48] skshetry commented on #8214
Now `dvc.yaml` has `desc/label/type/meta` support inside `outs`. No support to add that with commands, and I am not sure if we need to tbh. In the future, there might be a separate command to modify these metadata, this is still experimental.

No changes to lock files, as they `dvc.yaml` has these metadata.

[2022-09-11 05:44] meshde commented on #8261
#8280 adds support for a system-level `.dvcignore` file.

The approach used there is to read the patterns from the `~/.dvcignore` file (if it exists) and include it as part of the list of patterns used to initiate the ignore trie (along with the default ignore patterns).

Happy to to change the approach if the iterative team has a better one in mind.

[2022-09-11 14:16] DbCrWk commented on #8261
Thank for addressing this so quickly!

[2022-09-11 21:26] osbm commented on #2432
Yes, my university uses microsoft sharepoint/onedrive. It would be awesome for DVC to support this platform.

[2022-09-11 23:12] johnyaku commented on #8274
Perhaps the cleanest and simplest way to incorporate this kind of functionality is something like the following:

`dvc update --all` (download all files that have `dvc import-url`ed from source into the workspace)

Then anyone wanting to replicate a dataset can grab all the necessary data with just

[code]

Alternatively, `dvc pull` could get an additional option as follows:

`dvc pull --from-sour

[2022-09-12 11:41] schwobr opened #8283 "Conditional parameters"
I'd like to be able to select a set of parameters depending on another parameter. I've looked into it quite a bit and I don't think it is a current feature, but don't hesitate to tell me if I'm mistaken.

To be more clear, I would like my `params.yaml` to look like this:
[code]
Then I could load the corresponding set of `dependent_params` depending on the `selector_param`. I thought about several

[2022-09-12 12:01] daavoo commented on #8283
We have recently added support for using Hydra alongside DVC in https://github.com/iterative/dvc/pull/8093

I believe it could be a simpler solution for your use case.

Setup would be to split each `dependent` config into separated files grouped under a folder:

[code]

And referenced in the defaults list:

[code]

So you could have `dvc.yaml`:

[code]

And run as:

[code]

[2022-09-12 12:48] dberenbaum commented on #8274
Makes sense @johnyaku! For both `import` and `import-url`, an option to determine whether to push a copy of the data may be needed, like proposed in https://github.com/iterative/dvc/issues/4527.

Regardless, I see no reason DVC should not try to fallback to the original source if the data is not in the remote.

[2022-09-12 13:17] DXist commented on #7420
This future could be useful. Now I have to add pull command as a pipeline stage.

[2022-09-12 13:57] dtrifiro commented on #8068
@dberenbaum

If you're thinking of support for git credential helpers, one way this could work is the following
1. Setup a credential helper (could even be `git credential-cache`, if cli git is available
2. Store the credential in the helper
3. Actually perform the operation.

For example:

[code]

This looks a bit clunky to me, although this would work starting with the next dvc release (see http

[2022-09-12 20:14] dberenbaum commented on #7420
@DXist There is an open feature request in https://github.com/iterative/dvc/issues/4742. Feel free to add your thoughts there, thanks!

[2022-09-12 20:34] jorgeorpinel commented on #8188
Can we get a summary of the restrictions of `--glob` for all commands that have it? `add`, `pull`, `push`, `repro`. Feel free to transfer this to `dvc.org` repo.

Thanks

[2022-09-12 20:36] jorgeorpinel commented on #8188
_From https://github.com/iterative/dvc.org/pull/3933#pullrequestreview-1103001201_

[2022-09-13 06:18] DXist commented on #4742
Is it possible to explicitly refer `.dvc` file as stage dep that provides the required files?

Analogies from Bazel build system:

* [http_archive](https://bazel.build/rules/lib/repo/http) rule provides unpacked archive files. Other rules could explicitly depend on them
* [bazel fetch](https://bazel.build/docs/external#offline-builds) command allows to pull all remote dependencies for workspace

[2022-09-13 09:05] macio232 commented on #5786
@dberenbaum  I have a `.dvc` file created with `dvc import` with an older version of DVC. Now, with 2.20.0, when I want to pull the data with `dvc pull` I get the following error:

[code]

The data is downloaded, but it isn't checked out. This isn't a problem when you just want to download data in a new location because you can just use `dvc checkout`. Unfortunately, when you update `rev_lock` in

[2022-09-13 09:24] daavoo opened #8284 "How to handle `hydra.sweeper.params` configuration"
Not a blocker, but we should follow up on how to handle `hydra.sweeper` configuration from https://hydra.cc/docs/tutorials/basic/running_your_app/multi-run/#sweeping-via-hydrasweeperparams.

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/8187#issuecomment-1238518016_

[2022-09-13 10:36] danielbellsa opened #8285 "ERROR: Cannot add 'folder-path', because it is overlapping with other DVC tracked output:"
Goal: `add` `commit` `push` all contents of `project_model/data/` to **dvcstore**.

I don't have any `.dvc` files in my project.

[code]

I've deleted contents from `.dvc/cache/` and **S3** `s3://foo/bar/dvcstore/`, with no luck.

---

[code]

[code]

Please let me know if there's anything else I can add to post.

[2022-09-13 11:43] #8083 closed

[2022-09-13 12:16] pared commented on #7692
Note to self: since returning errors will probably require data structure change, we need to remember to get rid of filling `rev` in datapoints - as vscode sometimes need to assign their own revision (eg 'main' vs short sha of main).

[2022-09-13 15:02] dtrifiro commented on #6586
Released with [`2.25.0`](https://github.com/iterative/dvc/releases/tag/2.25.0)

[2022-09-13 15:02] #6586 closed

[2022-09-13 15:03] dtrifiro commented on #7898
Solved in [`2.25.0`](https://github.com/iterative/dvc/releases/tag/2.25.0)

[2022-09-13 15:03] #7898 closed

[2022-09-13 15:20] dberenbaum commented on #8284
Note that documenting that it's not supported should be sufficient to close this for now (although not ruling out that we may want to revisit it in the future).

[2022-09-13 17:02] bgalvao commented on #3714
I need this for CI/CD...

[2022-09-13 17:49] dtrifiro commented on #8285
You might have previously `dvc add`'ed some file/directory in the `project_model/data` directory. You can check there and remove any `.dvc` files  you find. After that you should be able to `dvc add project_model/data`.

Please refer to https://dvc.org/doc/start/data-management and https://dvc.org/doc/command-reference/add. If you have any further question, you might want to check out our [discord

[2022-09-13 19:55] dberenbaum commented on #5786
Thanks @macio232! Could you provide the `dvc.yaml` or a simplified/redacted version of it? Trying to figure out how I could reproduce the issue.

@skshetry Any thoughts?

[2022-09-14 09:54] dtrifiro commented on #8279
Hi @thomasgilgenast,
thanks for the detailed report.

I tried reproducing the issue on both 2.24.0 and 2.25.0 and did not succeed. Could you try updating dvc and see if this keeps happening? Thanks

[2022-09-14 10:07] #8285 closed, assigned to nobody

[2022-09-14 12:56] pared commented on #7035
Seems like, after some iterations over plot docs, this issue is no longer relevant?

cc @dberenbaum

[2022-09-14 13:06] #7035 closed

[2022-09-14 16:07] thomasgilgenast commented on #8279
I just tried reproducing from scratch in a clean venv which got dvc 2.25.0 and when I get to `dvc update --verbose data.xml.dvc` I still get

[code]

<details><summary>dvc doctor</summary>
<pre>
DVC version: 2.25.0 (pip)
---------------------------------
Platform: Python 3.8.13 on macOS-12.5.1-x86_64-i386-64bit
Subprojects:
	dvc_data = 0.7.1
	dvc_objects = 0.2.2
	dvc_render = 0.0.10
	dvc_task = 0.

[2022-09-14 17:53] dberenbaum commented on #6222
Removing the p1 label here because this is clearly not going to be closed in the next sprint or so, which should be the goal for a p1. However, it's still a high priority that we will continue to be working to improve.

[2022-09-14 20:58] dberenbaum commented on #5786
@macio232 Thanks for that. And what data is being imported? What does that `.dvc` file look like?

[2022-09-14 22:21] cgarbin opened #8291 "push:Google bucket with hyphen in name results in "ERROR: unexpected error - b/my-repository/o""
# Bug Report

## Description

Followed the instructions to use a GCP remote [on this iterative.ai blog post](https://iterative.ai/blog/using-gcp-remotes-in-dvc).

When I got to the `dvc push` step, it failed with `ERROR: unexpected error - b/my-repository/o`. The last few lines of the traceback:

[code]

See end of this report for the full traceback.

### Reproduce

Follow the steps on the [GCP re

[2022-09-15 02:08] mattseddon commented on #7986
The format that we expect for a record that is completely broken is:

[code]
Where the `error` key replaces `data`.

However, if we know what the `params`/`deps` are we could simply put the error message into the missing metrics/outs files.

[code]
The second option is IMO more beneficial to users because they'd want to know which of the queued items have failed so that they can retry them. If we

[2022-09-15 06:26] skshetry commented on #8061
@dberenbaum, we have the support for this in upstream now.

[2022-09-15 06:27] skshetry commented on #8061
Also there have been questions about `--untracked-files` being inconsistent with rest of the flags (https://github.com/iterative/dvc/pull/7943#discussion_r963325138), so if we do make it normal by default, we may want to rename this to just `--untracked`.

[2022-09-15 06:29] skshetry commented on #8061
Maybe we can even get rid of the flag, enable `--untracked-files=normal` by default and change to `--untracked-files=all` when `--granular` is used.

[2022-09-15 06:56] dtrifiro commented on #7670
This should be fixed in `2.25.0`

[2022-09-15 08:03] pmrowla opened #8293 "worktree add: `dvc add` removes valid metadata for files which are already tracked"
`dvc add` always generates new stages, overwrites any existing stages and dumps a new .dvc file. For regular DVC workflows this is not a problem, but for cloud versioning/worktree remotes this causes a loss of metadata.

consider this workflow where I add one file and then push it:

[code]

If I were to run `dvc pull` now, DVC would pull that specific version of the file (`2022-09-15T07:45:55.1712

[2022-09-15 08:45] skshetry opened #8294 "dvcfs: dvc as an fsspec filesystem"
TBD

[2022-09-15 09:30] karajan1001 commented on #7986
It is more an execution failure instead of `metric_file` file format wrong. The error message is probably some callstack message. So I think

[code]

Makes more sense.

Another choice is to keep both
[code]
and `status` for a time, the front end can first look if the `status` field exists and if not back to the old version of the parsing method. And remove the old API 1 or 2 versions later.

[2022-09-15 10:45] macio232 commented on #5786
@dberenbaum a folder that is an output of a stage in a different repository
[code]

[2022-09-15 12:13] dtrifiro commented on #8291
Hi. I think this is related to the fact that the remote is set to the bucket's root. If you're following the guide, could you modify the remote url so that it points `to gs://updatedbikedata/cache`?

`dvc remote modify bikes gs://updatedbikedata/cache`
(or just delete/re-add it:  `dvc remote add -d bikes gs://updatedbikedata/cache`)

[2022-09-15 12:18] cgarbin commented on #8291
Thanks for quick reply. Note from the description that:

1. I'm following [this blog post]. In [the section to create the remote](https://iterative.ai/blog/using-gcp-remotes-in-dvc#create-a-default-remote), it doesn't require the cache. The command there is `$ dvc remote add -d bikes gs://updatedbikedata`.
2. It worked as soon as I changed from `my-repository` to `myrepositoy` (removed the hyphen)

[2022-09-15 12:39] dcdanko commented on #8090
@daavoo unfortunately I still am having this issue, any more info I can provide?

[2022-09-15 13:40] courentin opened #8298 "pull: how to only download data from a specified remote?"
# Bug Report

## Description

We have a dvc projects with two remotes (`remote_a` and `remote_b`).
Most of our stages are parametrized and some outputs contain a `remote` attribute.

For example:
[code]

We have setup some CI with cml to reproduce stages at each PR. Thus we have two job running, one on `remote_a` and the other on `remote_b`. We have this kind of setup because we need to run our ma

[2022-09-15 15:09] skshetry commented on #8274
This is already supported using `--recursive`.

See https://github.com/iterative/dvc/issues/3511. Originally, it was requested to support `--all`, but we went with `--recursive/-R`.  There is however a bug, it should skip non-import stages which should be fixed.

[2022-09-15 16:13] yathomasi commented on #6325
I also felt like we could have better error messages.
[code]
It's again due to the AWS MFA session token expired and couldn't checkout.
Also on `dvc pull`:
![image](https://user-images.githubusercontent.com/20840228/190454425-99a855da-033a-4bde-b8a2-62de266bd326.png)

It would be better if these messages had some hint of authentication error. I don't see any on both of them.

[2022-09-15 16:39] mvkvc commented on #2036
So is there currently no supported command to clear the local cache (keeping files backed up in remote)? And as a workaround could you just delete the cache folder and run `dvc pull` to repopulate it when needed?

[2022-09-15 17:33] dberenbaum opened #8300 "push: error on cloud versioning push"
# Bug Report

## Description

Getting an error when trying to push using cloud versioning.

### Reproduce

1. Set up an s3 path to use as a remote.
2. Clone git@github.com:iterative/example-get-started.git
3. Pull from the remote.
4. Add/modify a remote to use the s3 path and the `version_aware` and `worktree` options.
5. Push to this remote.

Output:

[code]

**Additional Information (if any):**

[2022-09-15 17:38] efiop commented on #8300
Was trying with example-get-started too today and run into the same error.

[2022-09-15 18:31] dberenbaum commented on #8061
Going back to the original in rationale in https://github.com/iterative/dvc/pull/7943#issuecomment-1172604913:

This still applies, and @mattseddon mentioned that a VS Code user already commented that it was confusing to see untracked files show up under both Git and DVC, so my preference is not to show them by default. Do you think it makes sense to always show untracked files?

It's a good idea,

[2022-09-15 18:52] dberenbaum commented on #8293
In this scenario where there is a cloud-versioned remote and no version id in the .dvc file, should `dvc pull` actually pull the latest version by default or should it fail? I would expect that pulling the latest version should be either a separate flag or command. Failing in this scenario seems more expected and consistent with the non-cloud-versioned workflow. If `version_aware` is not enabled,

[2022-09-15 19:53] #8300 closed

[2022-09-16 00:32] pmrowla commented on #8293
I'm not sure what the behavior should be for fetch/pull with no etag or version ID, but that's a separate question from this issue. `dvc add` should not be modifying metadata for unchanged files, whether or not we allow fetching with no version ID

[2022-09-16 00:38] pmrowla commented on #8274
`update --recursive` (or `update --all`) feels more like a workaround than an actual solution to this problem. There's a difference between pulling an import from source and updating it from source.

For fetch/pull I would expect DVC to verify that the source URL has not changed and then download it (like we do with `import-url --no-download`).

Update actually modifies the import to use the lates

[2022-09-16 04:43] JohnTheDeere opened #8304 "dvc exp push/pull with google service accounts"
# Bug Report

## `dvc exp push/pull`: google service account rate limits

## Description

Google service accounts have upload/download limits (which are quite low - at least by standard). If these limits are exceeded pushing/pulling experiments to the remote throws a 403 http error 'The user has exceeded their Drive storage quota'. This issue can be fixed with [delegation](https://developers.googl

[2022-09-16 11:03] debanshu08 opened #8309 "dvc connectivity with Azure Blob Storage"
I am trying to use dvc remote with Azure Blob Storage but I get this as error whenever I do dvc push
unexpected error - Cannot connect to host sientityfiles.blob.core.windows.net':443 ssl:True [getaddrinfo failed]: Cannot connect to host sientityfiles.blob.core.windows.net':443 ssl:True [getaddrinfo failed]: [Errno 11001] getaddrinfo failed

Commands I have tried :-
dvc remote add -d myremote azur

[2022-09-16 11:23] courentin commented on #5369
hello, do you have any updates on it? :)

[2022-09-16 11:37] courentin commented on #8298
mea culpa, the doc explains how the remote flag works and it seems consistent with the behaviour I experienced:

However, I'm really wondering how I can download all the data from a specified remote without explicitly listing all the stages/data? (Ideally I'd like not to download everything and only what's required for the repro https://github.com/iterative/dvc/issues/4742).

[2022-09-16 11:40] daavoo commented on #8235
If the check is cheap to perform, I think would be also nice to include the check as part of `dvc doctor`.

Similar to how the `Caches` displays a [link to the Troubleshooting page](https://github.com/iterative/dvc/blob/146bdbbe9b4f969d966b3ab705cf4535def1a6f6/dvc/info.py#L49), we could do the same for the `Remotes` section.

[2022-09-16 11:59] efiop commented on #8235
@skshetry We are not limited by fsspec there, we can add any auth checks that we please on top and then consider propagading into upstream. But overall auth errors are handled differently depending on filesystem, in some it is better than in others. The OSError you've mentioned is just a bug, we've discussed this before.

What's important to remember here is that auth check is not going to be a si

[2022-09-16 13:00] dberenbaum opened #8310 "import: `--no-download` doesn't save rev_lock"
Good catch! You're right, there's no hash values in deps for `import --no-download`, which means that the dependencies aren't actually locked. Will need to fix this in `dvc` too. c.c. @dberenbaum

_Originally posted by @dtrifiro in https://github.com/iterative/dvc.org/pull/3930#discussion_r971851854_

[2022-09-16 13:12] dberenbaum commented on #5786
@macio232 Would you mind opening a separate issue since it seems like it's not clear if the issue is the same? Only the error message is the same as far as I understand, correct?

Can you dig into this a bit more? In that example above, what is the path of the `.dvc` file?

[2022-09-16 13:34] yvesbeutler opened #8311 "push: can't upload single files to second remote without pushing data from other remotes as well"
# Bug Report

## push: can't upload single files to second remote without pushing data from other remotes as well

## Description

I'm working with multiple remotes within the same Git repository. To logically separate my data, I'm using the following config (without a set default remote):

[code]

Assuming the following project structure:

[code]

My problem is, that every time I want to `dvc pus

[2022-09-16 14:04] dberenbaum commented on #8293
Sorry, I missed that this was _without modifying foo_.

[2022-09-16 14:08] jason94288 opened #8312 "dvc add folder transfer failed with google drive for desktop"
# Bug Report
## add: failed to add a file or folder. The whole working directory is in the remote drive.
## Description
I've just create a project which is located in a network drive ([google drive desktop](https://www.google.com/drive/download/)).
I can successfully initialize dvc via `dvc init`, and generate `.dvc` folder.
But when I try to add files with `dvc add <file name>`, it shows `ERROR:

[2022-09-16 15:22] dberenbaum commented on #5369
Sorry, I still don't have an estimate. It remains on our backlog because we have been focusing on rehauling a lot of the data management and haven't been able to put focus on pipelines. To that effect, we at least have `dvc data status` now, so there is a clear path to starting on `dvc stage status` once we have the capacity for it.

[2022-09-16 17:04] dberenbaum commented on #8151
@daavoo What do you think about adding this to the backlog since it is a regression in DVC?

[2022-09-16 18:29] dberenbaum commented on #8242
Discussed in https://github.com/iterative/dvc/discussions/8227. Appears to be a MinIO issue. Feel free to reopen or continue the discussion in the other thread as needed. Thank you!

[2022-09-16 18:29] #8242 closed

[2022-09-16 18:40] daavoo commented on #8151
I assume you mean about patching on our side, right?

[2022-09-16 18:48] dberenbaum opened #8315 "push: remote configured with `worktree = true` pushes imports"
# Bug Report

## Description

Pushes data imported with `dvc import` to remote when remote is configured with `worktree = true`.

### Reproduce

1. Clone https://github.com/iterative/example-get-started
2. Configure a remote with `worktree = true`
3. Push to that remote
4. Check that `data/data.xml` was pushed

### Expected

`data/data.xml` is imported from a data registry and should not be pushed

[2022-09-16 19:15] dberenbaum opened #8316 "pull: unable to pull from cloud-versioned remote"
Copy of my terminal from a fresh repo:

[code]

[2022-09-16 19:17] dberenbaum commented on #8151
No, I meant contributing to hydra 😄 , but patching on our side is also fine.

[2022-09-16 20:05] dberenbaum commented on #8068
Hm, in this case where there is an import from a data registry repo, can the token work over SSH, or would we need to convert to HTTP?

[2022-09-16 20:06] daavoo commented on #8151
I just felt that https://github.com/facebookresearch/hydra/pull/2094 is pretty much done and would fix this issue.
I don't see any comment requiring changes, it looks blocked pending the resolution of the discussion so not sure what we could contribute

[2022-09-17 11:40] skshetry commented on #4468
Closing as stale.

[2022-09-17 11:40] #4468 closed

[2022-09-19 05:04] ankushgoel27 opened #8322 "Bug Bounty : Critical Bug"
Hi,

I am a security researcher and a bug bounty hunter.
Does iterative has a bug bounty program in place. I have found a critical bug and would like to report it.

Thanks,

[2022-09-19 08:34] dtrifiro commented on #8322
Hi, please contact security@iterative.ai

[2022-09-19 08:34] #8322 closed

[2022-09-19 09:42] skshetry commented on #6262
Calling it done at this point. We have extracted those into two libraries where more work will be done: https://github.com/iterative/dvc-objects and https://github.com/iterative/dvc-data.

[2022-09-19 09:42] #6262 closed

[2022-09-19 09:47] skshetry commented on #8235
I'll consider this as a https://github.com/iterative/dvc/labels/feature%20request rather than a https://github.com/iterative/dvc/labels/bug.

I agree, I don't think the command helps, we should try to improve on error messages and exceptions. I'll suggest closing this in favour of #6353.

[2022-09-19 09:49] skshetry commented on #6489
Closing, so far there has not been a usecase. `live` command was deprecated/removed.

[2022-09-19 09:49] #6489 closed

[2022-09-19 09:52] skshetry commented on #6707
We have slowly regressed on `init` side (most likely due to fsspec imports) by 25% between `2.6` and `main`.

But nothing we can do at this time. Closing...

[2022-09-19 09:52] #6707 closed

[2022-09-19 09:53] #6580 closed

[2022-09-19 09:55] daavoo commented on #8235
The way I nterpreted the request is that the command is not intended to be a silver bullet but rather a quick way of detecting errors regarding credentials and/or remote setup. Would be nice to clarify the use case for the command

[2022-09-19 11:25] efiop commented on #8316
Looks like in s3fs specifically version_id is not getting correctly extracted from the key. Taking a closer look...

[2022-09-19 11:46] efiop commented on #8316
@pmrowla Works great! Thank you! 🙏

[2022-09-19 11:46] #8316 closed

[2022-09-19 12:25] dberenbaum commented on #8151
Got it. Let's follow in https://github.com/facebookresearch/hydra/issues/2363. Again, no problem with patching on our side for now if that's going to be quicker/easier.

[2022-09-19 13:08] JaviFuentes94 commented on #7376
This would be great for my use case as well

[2022-09-19 13:15] #7376 closed, assigned to nobody

[2022-09-19 13:23] skshetry commented on #8294
I was thinking of adding some next steps here, but I cannot think of anything urgent at this point. `fs.get()` bug was fixed, and the fact that it uses `FileSystem` based fs inside is not a big concern since we have an e2e test which seems to pass.

[2022-09-19 13:23] #8294 closed

[2022-09-19 14:04] dberenbaum commented on #8235
See https://github.com/iterative/studio/issues/4105#issuecomment-1234993440

[2022-09-19 15:59] omesser commented on #8322
@ankushgoel27 Hi Ankush!
Thanks for reaching out, we don't have a formal bounty program yet - but let's follow up over your email

[2022-09-19 16:30] dberenbaum opened #8325 "plots: expand legend character limit"
We need to address this in the template:

[code]

<img width="614" alt="Captura de Pantalla 2022-05-09 a las 22 13 39" src="https://user-images.githubusercontent.com/12677733/167490031-5f85a656-4c66-42bc-98f5-04f0bc969f8d.png">

_Originally posted by @daavoo in https://github.com/iterative/dvc/pull/7477#discussion_r868406280_

[2022-09-19 16:31] dberenbaum commented on #7830
Closing in favor of #8325

[2022-09-19 16:38] #7430 closed

[2022-09-19 16:43] #7116 closed

[2022-09-19 16:58] dberenbaum commented on #6970
https://github.com/iterative/dvc.org/pull/2917 clarified that `gc --cloud` cleans up the remote **in addition to** the local cache. Is this intended behavior? Seems like it would be more useful to have `gc --cloud` be independent and not clean up the local cache.

[2022-09-19 16:59] #6839 closed

[2022-09-19 17:00] dberenbaum commented on #6440
Need to rescope this feature

[2022-09-19 17:00] #6440 closed

[2022-09-19 17:01] dberenbaum commented on #6270
Needs rescoping

[2022-09-19 17:01] #6270 closed

[2022-09-19 17:01] dberenbaum commented on #6269
Needs rescoping

[2022-09-19 17:01] #6269 closed

[2022-09-19 17:01] dberenbaum commented on #6268
Needs rescoping

[2022-09-19 17:01] #6268 closed

[2022-09-19 17:02] dberenbaum commented on #5392
@skshetry Do you think we can close this and open any more specific UI issues, or is it helpful to keep this open?

[2022-09-19 17:05] dberenbaum commented on #8214
Closing as completed for now

[2022-09-19 17:22] dberenbaum commented on #7352
@skshetry What's the status of this issue?

[2022-09-19 19:27] dberenbaum opened #8326 "push: s3 versioned remote not saving version id for directories"
# Bug Report

## Description

After https://github.com/iterative/dvc/pull/8273, `dvc push` adds version IDs for Azure directories but not S3.

### Reproduce

[code]

### Expected

A `version_id` field under `files` in `dir.dvc`.

### Environment information

**Output of `dvc doctor`:**

[code]

[2022-09-19 20:10] dberenbaum opened #8327 "data status: new status when deleted + not in cache"
Would it make the most sense then to only show files as not in cache (or whatever terminology that we end up using) if they are not present in either the cache or the workspace? I.e uncommitted deleted + not in cache = remote only. Would that make sense?

_Originally posted by @mattseddon in https://github.com/iterative/dvc/issues/8062#issuecomment-1206638193_

[2022-09-19 20:12] dberenbaum commented on #8327
I think it makes sense to have a separate status like `Remote only` or `Missing from local` with the suggestion to `dvc pull` in the case where the data is deleted and not in cache. @skshetry What do you think?

cc @mattseddon @shcheklein

[2022-09-20 01:14] blakeNaccarato commented on #5868
Should I open a new issue and report it as a regression? I'm getting the error, `ERROR: failed to reproduce 'pipeline': Object of type date is not JSON serializable` even in DVC version 2.27.2 on Python 3.10.7 and Windows 10.

#### `dvc doctor`

[code]

#### `dvc.yaml`

[code]

#### `src/boilerdata/config/trials.yaml`
[code]

[2022-09-20 02:30] johnyaku commented on #8274
Thanks @dtrifiro for your efforts and @skshetry for the workaround with `update --recursive`. This gets me over the immediate hurdle that I'm facing, but @pmrowla is correct that it does not solve the general case.

In particular, using the example projects A and B above, with `data.csv` originally `import-url`ed into project A, at the moment running `dvc import <url-for-project-A> data.csv` in Pr

[2022-09-20 06:13] jorgeorpinel commented on #8188
_Answer from https://github.com/iterative/dvc.org/pull/3933#issuecomment-1247903567_:

I don't think `dvc add --glob` (for example) would miss any file that didn't exist in the workspace

[2022-09-20 07:42] pmrowla commented on #8326
Issue is because of s3fs dir cache not being invalidated after we push/write files. When we build/collect to get updated version infos after the push, s3fs returns cached info for each pushed file that still has a `None` version ID.

[2022-09-20 08:31] pmrowla commented on #8326
Secondary problem will be that `info` kwargs are implementation specific in fsspec. `refresh` is used in both s3fs and adlfs to force a non-dircached info call, but is not implemented in all filesystems (like gcsfs). Forcing `refresh` in all filesystems will also negatively impact performance in filesystems that handle version IDs in dircache (adlfs).

[2022-09-20 08:49] #8326 closed

[2022-09-20 08:56] pmrowla commented on #8326
fixed in dvc-data 0.10.1

[2022-09-20 09:57] golebiewicz-shareablee opened #8334 "Add --file_size_min and --file_size_max options to `pull` command"
I have a project where we have a lot of small files which are used pretty often and few very big ones which are rarely needed.
Having an option to filter by file size would be quite useful in many situations where one wants to avoid running out of disk space accidentally.

I propose two new flags (names of course are subject to discussion), to allow filtering pulled files by size:
- `--file_size_m

[2022-09-20 12:22] dtrifiro commented on #8309
Hi, it looks like your storage account's endpoint url does not exists. Please check that the storage account's name is correct and that it exists.

[2022-09-20 12:22] #8309 closed

[2022-09-20 12:24] dtrifiro commented on #8311
Hi, you can add a `target` argument to only push the specified targets:

[code]

[2022-09-20 15:26] alex000kim commented on #770
a request from a high-priority client:
- They need the ability to diff text files (CSV, JSON, YAML, etc) tracked by DVC
- The suggested workaround (below) is a little too verbose for them

[code]

[2022-09-20 15:55] dberenbaum opened #8336 "dvcfs: add docstrings"
Docstrings are needed for complete documentation of dvcfs. This is part of https://github.com/iterative/dvc.org/issues/3927.

[2022-09-20 16:53] dberenbaum commented on #5868
Sorry, @blakeNaccarato , I think it was a mistake to close this one.

[2022-09-20 21:39] jorgeorpinel commented on #770
Should it fall within DVC's feature set? Maybe we can find better diff tools to recommend instead.

[2022-09-21 02:06] alex000kim commented on #770
The request was mostly about an easy way to compare any text files versioned by DVC and not so much about showing data format-specific diff.
I presume many people would expect `dvc diff` to work similarly to `git diff`, but for files versioned by DVC.

[2022-09-21 03:16] skshetry commented on #8334
Thank you for creating the issue. It’s a nice feature, it reminds me of git’s `--filter=blob:limit=<n>[kmg]` flag. But unfortunately we don’t have the capability to filter by size right now. The size in `.dvc` files are not granular and are not really true size of the files/directory.

I am closing this as not planned for now.

[2022-09-21 03:16] #8334 closed

[2022-09-21 06:43] yvesbeutler commented on #8311
Thank you for your answer, @dtrifiro. Your solution seems to work fine for a small amount of files, but might be a bit cumbersome for larger amounts. Initially I expected some kind of staging area like in git and that I can use
[code]
to show just currently active files which I can upload to any remote I want to. I might need to rethink my overall data architecture.

[2022-09-21 07:30] pmrowla commented on #8311
You can also use the `remote:` field in the `outs` section of .dvc files to specify where a particular DVC-tracked file or directory should be pushed/pulled from. https://dvc.org/doc/user-guide/project-structure/dvc-files#output-entries

So in your case you could add `remote: campaigns` in `campaigns.csv.dvc` and `remote: user-scores` in `scores.csv.dvc`. You would then just run `dvc push`/`dvc pu

[2022-09-21 08:09] yvesbeutler commented on #8311
Hi @pmrowla, this is exactly what I was looking for. Contains few manual tasks, but I very much welcome the fact that this solution gives me more insight into where the data is on Azure, as dvc customises the file structure to suit its needs.

Thank you all, I'll close this issue.

[2022-09-21 08:09] #8311 closed

[2022-09-21 09:18] amritghimire opened #8339 "UnicodeDecodeError during parsing Config file"
We had an repository using GITCRYPT for the config file. As a result, during the parsing of repo in Studio, we had the error as below:
[code]

I think it should be wrapped by ConfigError.

More context at https://sentry.io/organizations/iterative/issues/3606551247/?project=5220519&referrer=slack#exception

DVC Version
-----
2.24.0

[2022-09-21 11:39] PythonFZ opened #8342 "`dvc repro --dry` does not work with run-cache"
# Bug Report

## Description
I was looking for a way to determine if a stage is cached and would just be loaded or will actually be executed.
Therefore, I created a repository and initalized a very simple stage.
[code]
Then I cloned the repo and shared the cache:
[code]

Then in the original repository I ran `dvc repro` to cache the results.
In the new one I tried `dvc status` which did not give m

[2022-09-21 13:00] pared commented on #8342
Seems like a bug of `--dry`

reproduction script:
[code]

Last steps result:
[code]

We should be informing if we don't have to reproduce.

[2022-09-21 14:14] skshetry commented on #8342
This is not a bug. We cannot use stage cache to know if some stages will be re-run or not, we can only know so when we try to run that particular stage. Statically, we may not know. Also, `run-cache` involves checking out outputs, removing outputs, `pulling` outputs, etc, so `dry` is not the correct flag to use here.

[2022-09-21 14:18] pared commented on #8342
@skshetry meybe bug is too much but I guess feature request?
From user point of view  it doesn't matter if we `run` or `run --dry`

[2022-09-21 19:09] #5216 closed

[2022-09-21 20:46] jorgeorpinel commented on #5669
Seems related (maybe a dupe) of #2036.

[2022-09-22 06:58] jorgeorpinel commented on #770
Maybe new users who are familiar with Git. If you come from data science would it make sense to expect a printed line-to-line comparison of huge dataset versions?

Maybe `dvc diff --targets` can auto-detect small text files (or/and have another flag and/or config param for this) and print a diff instead of/ in addition to a summary. Cc @dberenbaum

[2022-09-22 07:32] pmrowla commented on #8326
related: https://github.com/fsspec/s3fs/issues/653

[2022-09-22 09:17] FMKerckhof commented on #7702
Hi, I landed here because I have been experiencing problems with running `dvc import` when using dvc in data repository mode. Until dvc 2.9.5 this worked just fine with cloning from private repositories and using the git credential helpers.

With more recent versions of dvc we get an error that the repo cannot be cloned (both using SSH or HTTPS) - even though "git clone" of the same repo works jus

[2022-09-22 12:19] meierale commented on #8311
Would it be possible to add an additional, optional flag to the `dvc add` command which allows to specify the `remote:` field of the resulting `.dvc` file? This would allow to specify the remote to be used upon initial adding of new files.
I know there's the `dvc add -r` to be used together with `--to-remote` so one would have to make sure the options are not confused with each other...

[2022-09-22 12:25] dberenbaum commented on #2036
That all sounds right @mvkvc

[2022-09-22 12:25] dberenbaum commented on #5669
Thanks @jorgeorpinel . Closing this in favor of that one.

[2022-09-22 12:25] #5669 closed

[2022-09-22 13:34] dberenbaum commented on #770
It makes sense to me as a feature request. Probably not as the default, but if people specifically want to see the diff of the contents of the files, I see no reason we shouldn't let them. It's more an issue of warning the users it could be expensive and/or unhelpful, and I'm not sure when we could prioritize this since there are pretty straightforward workarounds.

[2022-09-22 13:37] #7491 closed

[2022-09-22 13:43] dberenbaum commented on #7702
@dtrifiro Any thoughts?

[2022-09-22 16:11] Icemole opened #8345 "pull: fails if pulling to a symlink from outside of the symlink"
# Bug Report

## Description

When running `dvc pull path/to/symlink/*.dvc` from inside of a `dvc` repository, I get this error:
[code]

I can do `cd path/to/symlink; dvc pull *.dvc` and it will work without any issues. Moreover, I can also do `dvc pull` from outside of the directory that the symlink points to, for instance `dvc pull physical/path/where/symlink/points/*.dvc`. It's just the specifi

[2022-09-22 16:21] pared commented on #8345
Repro script:
[code]

This use case used to work. Seems like
https://github.com/iterative/dvc/commit/26008f155901aa590b1a809452f951b2c5d7c6c3
Introduced the regression

[2022-09-22 20:31] #5648 closed

[2022-09-22 20:31] dberenbaum commented on #5656
Closing as stale

[2022-09-22 20:31] #5656 closed

[2022-09-22 20:39] #5964 closed

[2022-09-22 20:47] dberenbaum commented on #6266
Need to rescope

[2022-09-22 20:47] #6266 closed

[2022-09-22 20:47] dberenbaum commented on #6267
Need to rescope

[2022-09-22 20:47] #6267 closed

[2022-09-22 20:47] dberenbaum commented on #6265
Need to rescope

[2022-09-22 20:47] #6265 closed

[2022-09-22 20:50] dberenbaum commented on #6335
This should be possible now with `dvc data status --untracked-files=all`.

[2022-09-22 20:50] #6335 closed

[2022-09-22 20:56] dberenbaum commented on #6563
Looks like s3fs is now on aiobotocore 2.4.0 in https://github.com/fsspec/s3fs/blob/main/requirements.txt

[2022-09-22 20:56] #6563 closed

[2022-09-23 04:22] pmrowla opened #8347 "dvc add: support new CLI flag to set `remote:` field"
Would it be possible to add an additional, optional flag to the `dvc add` command which allows to specify the `remote:` field of the resulting `.dvc` file? This would allow to specify the remote to be used upon initial adding of new files.
I know there's the `dvc add -r` to be used together with `--to-remote` so one would have to make sure the options are not confused with each other...

_Original

[2022-09-23 04:24] pmrowla commented on #8311
@meierale I moved your question into a new feature request. Currently, `remote:` must be specified manually and not via the CLI flags, as you noted we would have to work out a way to remove any potential confusion between setting `remote:` and passing a remote name to be used with `--to-remote`.

[2022-09-23 07:07] karajan1001 opened #8348 "invalid ref during the data collection."
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/8158#issuecomment-1254604883_

[2022-09-23 07:07] karajan1001 opened #8349 "tasks status turned to queued for 1 second before turned into success."
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/8158#issuecomment-1254604883_

[2022-09-23 07:08] karajan1001 opened #8350 "Make `exp show` handle errors better"
_Originally posted by @karajan1001 in https://github.com/iterative/dvc/issues/8158#issuecomment-1254604883_

[2022-09-23 09:20] #8348 closed

[2022-09-23 11:13] #8188 closed

[2022-09-23 12:05] johnyaku commented on #7847
Very keen to have this fixed. Might even delve into the code and make a PR.
In the meantime, I use the following function instead of `dvc move`:
[code]
By putting this in a script file inside the `etc/conda/activate.d` subdirectory of the environment prefix, it is available when the environment is activated.
Note sure how robust it is, or whether it covers all cases, but it seems to be working for

[2022-09-23 16:27] dberenbaum opened #8354 "cloud versioning: merge conflicts when collaborating or branching"
### Description

Following #7995, there is basic support for cloud versioned remotes. The current implementation will create merge conflicts when multiple people work on a repo, or if one person switches back and forth between branches, _even if the changes are in different files_. This happens because pushing from different repo states will overwrite each other's version IDs each time they push.

[2022-09-23 17:28] daavoo opened #8355 "hydra composition: Workflow discrepancies"
When enabling and using [Hydra Composition](https://dvc.org/doc/user-guide/experiment-management/hydra-composition) for configuring DVC experiments, there are a few discrepancies with respect to using the "regular" params workflow. This could cause confusion for existing users of `dvc params` when migrating to Hydra Composition:

- The latest state is not preserved

Without Hydra Composition, if m

[2022-09-23 17:28] daavoo commented on #8355
Not sure how critical or relevant these 2 points are. Perhaps is only required to acknowledge them in the docs, wdyt @dberenbaum

[2022-09-23 17:59] dberenbaum opened #8356 "cloud versioning: multiple remotes/metadata format"
Part of #7995

### Description

Cloud versioning does not support multiple remotes.

### Reproduction

You can reproduce with the script below. Replace `CLOUD_REMOTE_1` and `CLOUD_REMOTE_2` with your own s3 paths and configure your credentials.

[code]

### Expected

1. DVC should keep track of the `remote` for each `version_id`, so that when pushing to a different remote, it appends a `version_id

[2022-09-23 18:48] dberenbaum opened #8357 "cloud versioning: get rid of `.dir` files"
Part of #7995

With cloud versioned remotes, the resulting `.dvc` file for directories looks like:

[code]

There is a corresponding entry in `.dvc/cache/f4/37247ec66d73ba66b0ade0246fcb49.dir`:

[code]

Is the `.dir` entry needed?

[2022-09-23 18:50] dberenbaum opened #8358 "cloud versioning: always says all files pushed"
Part of #7995

With cloud versioning enabled, DVC always returns that it has pushed all files, even when some or all files are already up to date. For example:

[code]

For a traditional remote, the second push would say "Everything is up to date."

[2022-09-23 18:59] dberenbaum opened #8359 "cloud versioning: slow"
Part of #7995

### Description

Cloud versioning is working much slower than traditional remotes

### Reproduce

[code]

[2022-09-23 19:11] dberenbaum commented on #8355
Agree that this could be confusing and should be pointed out. However, IMHO this ephemeral state is more expected and useful for experimentation. It pretty much reflects how queued experiments work and how Hydra users work already. The way DVC handles workspace experiments is arguably an odd exception. I find it mostly annoying that I can't return to some default state after each experiment, so I

[2022-09-23 20:22] #8233 closed

[2022-09-26 07:43] palenge opened #8363 "expose connect_timeout on HTTP remote"
Hi!
We have a HTTP remote, when we upload dig files we get connection timeout. There is any way to expose this property already exposed on S3?

[2022-09-26 08:25] #8088 closed

[2022-09-26 09:32] mvshmakov commented on #8339
We have a user report for this stating the repo is unavailable for them: https://iterativeai.slack.com/archives/C01CLQERD9P/p1664166967252009.

[2022-09-26 16:51] dtrifiro commented on #7702
Note that `dvc pull` does not ignore ssh-agent agent on recent versions (tested for example on 2.27), so I will close this issue.

@FMKerckhof support for git credential helpers has been added in [`2.25`](https://github.com/iterative/dvc/releases/tag/2.25.0) , so I recommend upgrading if it is an option.

[2022-09-26 18:23] boscacci opened #8365 "Ambiguous error when credentialpath is wrong"
# Bug Report

push: fails ambiguously when your `credentialpath` is incorrectly set

## Description

I spent a long time spinning my wheels trying to figure out why I couldn't `push` to remote storage. The clearest error messaging I could get was like this, from verbose output:

[code]

and

`ERROR: unexpected error - Connect timeout on endpoint URL: "http://169.254.169.254/latest/api/token"`

Ult

[2022-09-26 18:49] FMKerckhof commented on #7702
@dtrifiro thank you for the advice/fix - my issue was with `dvc import` specifically (i.e. pull/sync from another repository), not `dvc pull`.  `dvc pull` has always worked, regardless of the verison. For `dvc import` I needed to downgrade to 2.9.5 to have a functional set-up. I will upgrade and check with latest version if issue persist and keep you apprised. Should I open a new issue if this is

[2022-09-26 19:33] dtrifiro commented on #7702
You're welcome :slightly_smiling_face: If you still encounter issues after upgrading, you can seem help on our [discord](https://dvc.org/chat) or [report an issue](https://dvc.org/doc/contributing/core#how-to-report-a-problem).

[2022-09-26 19:44] dberenbaum opened #8366 "`plots`: don't work unless the `stages` key is also in `dvc.yaml`."
We discussed this already @pared, but for the record here, `plots` don't work unless the `stages` key is also in `dvc.yaml`.

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/7477#issuecomment-1132073797_

[2022-09-26 19:45] dberenbaum commented on #8366
We are also discussing introducing top-level `params` and `metrics` so all of these can be configured without `stages`. It will be important that they can work even if the users have no pipeline stages. cc @dtrifiro @daavoo

[2022-09-27 08:49] Suor commented on #8339
I don't think it's possible it will work with a gitcrypted config or anything else for that matter. If we don't have an encryption key there is no way for us to read it.

The possible cases for "worked before" are:
1. It worked before `gitcrypt` was used on the same repo.
2. `gitcrypt` was used but the history was not encrypted only newer commits, which might not event exist, or be only in some br

[2022-09-27 10:29] piotlinski commented on #7702
@dtrifiro why closing the issue? Unfortunately the problem is not resolved - on latest version (2.27.2) the problem still exists in GitHub Actions, as described in the original posts. I attach the logs below:

<details>
<summary>**Click to show spoiler**</summary>
[code]
</details>

[2022-09-27 12:35] dberenbaum commented on #8298
Discussed that first we should document the behavior better in push/pull, but we will also leave this open as a feature request.

[2022-09-27 15:07] dberenbaum commented on #8298
I took a closer look to document this, and I agree with @courentin that the current behavior is unexpected/unhelpful:
1. For data that has no `remote` field, it makes sense to keep the current behavior to push/pull to/from `--remote A` instead of the default. We could keep a feature request for an additional flag to only push/pull data that matches that specified remote. @courentin Do you need thi

[2022-09-27 15:56] dberenbaum commented on #6746
@daavoo Let's assume for now at least that this workflow does not support checkpoints. However, I do think it should be possible to create a checkpoint within any workflow, including without using pipelines at all. Related: https://github.com/iterative/dvc/issues/7381.

[2022-09-27 15:58] dberenbaum commented on #6746
Need to prioritize this feature request to support this workflow as a lightweight way to get started with experiments.

[2022-09-27 16:09] aparpara opened #8370 "repro: invalid argument quoting during dictionary interpolation"
During dictionary interpolation, values are always enclosed in single quotes. On Windows this always results in an error because the `cmd` shell doesn't have single quotes. On Linux this results in an error at least if the value contains a single quote.

### Reproduce

A testing dvc.yaml:
[code]
1. dvc init --no-scm
2. Create a dvc.yaml as above
3. dvc repro

On Windows: both stages print "Failed"

[2022-09-27 16:13] dberenbaum opened #8371 "`dvc.yaml`: pipeline-less params and metrics"
`dvc.yaml` now supports a top-level `plots` section. Similar sections should be supported for `params` and `metrics`:

[code]

Params and metrics should not be cached, but they should be collected during `params`/`metrics`/`exp` commands.

Along with #6746, this allows users to start tracking experiments without needing pipelines.

[2022-09-27 17:55] dberenbaum commented on #8339
Do we want to support this use case? It seems pretty narrow.

If we do, the options seem to be:
1. Provide a way to save the encryption key on Studio.
2. Provide a way to add a GPG user ID for Studio.

Seems like they would encounter similar issues if using `dvc ls/import/get` on a remote repo, and we would have similar options to address it.

[2022-09-27 18:23] daavoo commented on #8370
@aparpara could you try this patch to see if it fixes the issue for you: https://github.com/iterative/dvc/pull/8204

[2022-09-27 18:29] daavoo commented on #8370
For the record, `test_quotes_1` is a duplicate of https://github.com/iterative/dvc/issues/8203

[2022-09-28 08:02] pmrowla commented on #770
We shouldn't be staging things in git that are supposed to be gitignored, even in hidden refs.

I think what we want here is just something equivalent to git's .gitattributes + difftool support: https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes

So you you would tell DVC what external diff tool you want it to use for what file extensions. And then based on file extension, we would just

[2022-09-28 08:08] pmrowla commented on #8357
Locally it is still beneficial for us to use the .dir files for performance reasons. The dvc-data object DB isn't aware of the DVC repo and pipeline files within the repo, and it's faster to do directory tree lookups via the content-addressed storage version of the .dir file than it is to collect outs from all of the possible pipeline files in the local repo.

[2022-09-28 08:31] pmrowla commented on #8356
This is similar to the problem in https://github.com/iterative/dvc/issues/8298, where the existing behavior for `push/pull --remote` is actually pretty vague as to what the expected behavior (and intended use case) for using multiple remotes with DVC should actually be.

I think there's mainly 2 common use cases for having multiple remotes in DVC:

- Data segregation (i.e. certain data has to go i

[2022-09-28 11:07] TheFirstMe opened #8372 "`repro`: Cannot interpolate data of type 'list'"
This is a sample of my dvc.yaml.

[code]

and my params.yaml looks like this:

[code]

`dvc repro` currently results in this error:

[code]

The expected command is `python train.py --list 'a' 'b' 'c'`

[2022-09-28 11:11] pmrowla commented on #8372
Related: https://github.com/iterative/dvc/issues/6107

[2022-09-28 11:54] patrickbrus opened #8373 "import-url: Performance decrease with growing number of data files"
# Bug Report

## Description

In our current scenario we want to use dvc together with a remote storage that is not a typical s3 bucket. Therefore we want to use dvc import-url to track and import data from that remote storage. We have to track 4000 files per class and the files itself are of type *.wav (data is taken from tensorflows' microspeech example -> [Link](https://www.tensorflow.org/tutor

[2022-09-28 12:21] aparpara commented on #8370
@daavoo, unfortunately different shells use different parsing rules, so the problem can't be solved in a platform-independent way in principle. For UNIX-like shells the proper way is to use [shlex.quote()](https://docs.python.org/3/library/shlex.html#shlex.quote).

For Windows one can use `subprocess.list2cmdline`. It is an internal undocumented function, but I don't know a better option, and the

[2022-09-28 12:27] daavoo commented on #8372
@TheFirstMe You can workaround this with https://dvc.org/doc/user-guide/project-structure/dvcyaml-files#dict-unpacking if you wrap the list inside a dict:

[code]

[code]

[2022-09-28 12:47] daavoo commented on #8370
I believe that I am either misunderstanding or we might be now discussing different scopes.

The issues reported here are about [Dict Unpacking](https://dvc.org/doc/user-guide/project-structure/dvcyaml-files#dict-unpacking) and I do believe both are solved in https://github.com/iterative/dvc/pull/8204 . It is definitely not a bulletproof solution for escaping arbitrary commands in a platform-agnos

[2022-09-28 12:54] daavoo commented on #8370
For future reference, the logic for the "final" `cmd` parsing from `dvc.yaml` is here https://github.com/iterative/dvc/blob/13b2ac3bd1275b3e94703314ff80302a2e37f6e5/dvc/stage/run.py#L77 .
Templating and Dict unpacking are things that alter the contents of the `dvc.yaml`

[2022-09-28 12:56] mvshmakov commented on #8339
Not sure a lot of people will provide Studio SaaS with their private GPG encryption keys. Some people also store their keys in a non-exportable way on smartcards like YubiKey/Solokey. Creating a dedicated subkey just for the Studio also sounds like an unnecessary complication and is not a very flexible option.

Though this option sounds better, symmetric encryption algorithms will not work in this

[2022-09-28 15:07] aparpara commented on #8370
Let me clarify. Dict unpacking is not just for fun. The result is usually executed, so it is essential that the resulting command line is well-formed from the point of view of the shell, in which it gonna be executed, and it is essential that this command line produces exactly the expected result. Different shells use different syntax, so if you pass the same command line to different shells, it m

[2022-09-28 15:35] palenge opened #8374 "md5 calc is wrong in some win files"
# Bug Report

## Description

when the md5 its calculated for a text file with win line ending sometimes the calc its wrong because sometimes there is a CRCL just between two chunks

### Reproduce

a file with only jump lines CRCL

create a file with more than 800000 new lines (CRCL) and add one space in the first one (I think its enough maybe less)

### Environment information

any version

[2022-09-28 15:46] efiop commented on #8374
Hey @palenge . The way we compute md5 is `md5(dos2unix(data))`. We do that mostly for legacy reasons and will likely change that in the future. See https://github.com/iterative/dvc/issues/4658

[2022-09-28 15:46] #8374 closed

[2022-09-28 17:49] daavoo commented on #8370
Thanks, @aparpara. for the details and link.

I applied `Just use shlex.quote on Linux and subprocess.list2cmdline on Windows.` to the P.R. I also know more about escaping windows CLI arguments than I ever wished 😅

---

There is a parse/dump involved (from any of the supported `param` formats) in templating so there are most likely some cases that could be found violating the "without modificatio

[2022-09-28 19:50] dberenbaum opened #8376 "hydra: append (`+`) doesn't work with sweeps"
# Bug Report

## Description

In `dvc exp`, using `+` from the basic override syntax doesn't work when doing a choice or range sweep. Similar non-DVC hydra examples seem to work fine, so I assume it's a DVC issue.

### Reproduce

Script:

[code]

Output:

[code]

### Expected

To queue experiments like:

[code]

[2022-09-29 07:16] aparpara commented on #8370
Thank you @daavoo for fixing it. Yes, most stuff Microsoft makes is a mess.

[2022-09-29 08:21] Suor commented on #8339
@daavoo wrapping with a `ConfigError` will help. We automatically show such messages to a user, for now it's an "unexpected error".

[2022-09-29 12:20] piotlinski commented on #7702
@dtrifiro it seems Windows is indeed problematic:

[code]

[2022-09-29 13:00] dberenbaum commented on #7093
Additional items:

- [ ] Remove all "new in 2.0" and "experimental" flags from docs
- [ ] Deprecate `exp gc` (see #7991)
- [ ] Deprecate `dvc exp run --run-all/-j` flags and consider how to replace with top-level exp commands to start the queue (see https://github.com/iterative/dvc/discussions/8123)
- [ ] Consider deprecating `run` and replacing with `dvc stage add --run` (see https://github.com/i

[2022-09-29 13:26] dtrifiro commented on #8373
Hi, it seems that you're using a fairly old `dvc` version. Is upgrading to a more recent version an option?

[2022-09-29 13:42] dberenbaum commented on #8356
True, so for this use case, it may not be needed to append multiple `version_id` values for a single output. However, right now the `remote:` field isn't respected at all for cloud versioning AFAICT.

I think users may want private but still read-only cloud remotes (the bucket policy grants the user read permissions but not write permissions).

---

A 3rd use case is migrating remotes (let's say a

[2022-09-29 17:22] dberenbaum opened #8382 "cloud versioning: pull non-DVC cloud updates"
In a project with a cloud-versioned remote, there could be either manual or automated updates happening on the remote outside of any DVC process. For example, a daily ETL process uploads new data directly to the cloud remote. Or someone unfamiliar with DVC wants to upload some new data.

A DVC user should be able to not only pull the versions of data tracked in their project, but also pull the lat

[2022-09-29 20:31] #8336 closed

[2022-09-29 22:04] dberenbaum commented on #8151
Should be fixed in the next hydra release

[2022-09-30 02:45] #8339 closed

[2022-09-30 13:38] Lhenzo opened #8384 "gs: potential cloud status regression between 2.10.2 and 2.28.0"
# Bug Report

## `dvc push: pushing all the cache, even without modified files`

## Description

### Context
When using DVC, tracking is powerful if any data have been added, removed, changed. The command dvc diff returns what's changed and is a useful feature. Unfortunately, it seems that it's not used to push to the remote bucket : it's not pushing only the files in the diff, but instead is tryi

[2022-09-30 14:19] patrickbrus commented on #8373
We also tested this behavior with dvc==2.27.2, but there we had the same observations. We also linked the latest source code version above in our report.

[2022-09-30 14:47] pared commented on #7692
I didn't left any comment during research, so:
We were able to implement top level plots basing on old data format. In order to support errors we will need to change the data structure returned by `dvc plots ... --json`.

[2022-09-30 15:14] D34D10CK commented on #7461
I have the same issue on DVC 2.28.0 but using gs instead of s3.

[2022-09-30 15:27] rlamy opened #8385 "dvc modules shouldn't be named test_XXX.py"
# Bug Report

## Description

Modules named `test_XXX.py` have a special meaning for pytest and are handled as test files, which causes some weird side-effects with our `dvc.testing.test_XXX` modules:
* A minor one is that they get collected as test files if you run `pytest dvc` even though they're meant to run that way.
* More annoying: whenever they're imported from a test (even in a different p

[2022-09-30 16:11] pmrowla commented on #8384
The push reports `Everything is up to date.`, it is not actually pushing any data to the remote. It looks like there is some problem causing the check for what files exist in the remote to take longer than expected, I'll take a look at the profiling info when I get a chance.

The reason that `dvc push` does not work the same as `dvc diff` is because those are two different comparisons. `dvc diff`

[2022-09-30 16:13] pmrowla commented on #8384
@Lhenzo in your DVC repo, are you tracking directories with `dvc add` (with one `.dvc` file per directory), or are you tracking a large number of files individually (with `.dvc` files for each individual tracked file)?

[2022-09-30 16:21] mdeboc commented on #8384
I don't understand the 2 different steps in the logs shown in the description:

2022-09-30 15:23:10,970 DEBUG: Querying 3 oids via object_exists
  ...
2022-09-30 15:23:11,219 DEBUG: Querying '11' oids via traverse

[2022-09-30 17:39] efiop commented on #8385
Just curious, how do packages that have tests in their core codebase deal with these problems?

[2022-09-30 18:46] rlamy commented on #8385
Good question! I don't know.

I guess it only causes issues when you switch from a regular to an editable installs, and you import the installed module (not the local directory). So it won't happen in CI, or with tox, because they install only once, and don't use `-e`. And it won't happen locally, because you're importing from local files. You have to be doing something a bit weird to hit this iss

[2022-09-30 21:15] dberenbaum commented on #770
@alex000kim If these are only single-entry `.dvc` files, they can get text diffs with `git diff` using the external diff approach above.

Create `dvcfile2text.py` at the root of the repo that looks like:

[code]

The add to `.git/config`:

[code]

And finally add to `.gitattributes`:

[code]

This is hacky and won't work for directories, but a dev could probably make it robust and working with dir

[2022-09-30 21:16] zanussbaum opened #8387 "JupyterNotebook hangs when using DVC"
# Bug Report

## Description

We have been using `dvc` and it's been working great for our package. However, if we try to use our package (which uses `dvc` to pull data for us internally) in a Jupyter Notebook, it hangs forever. We have seen that this is where `dvc` seems to hang

[code]

How can we avoid this hanging in Jupyter?

[2022-09-30 22:02] efiop commented on #8385
Gotcha. Alright, looks like we import these explicitly anyway, so this is likely more correct.

[2022-09-30 22:03] #8385 closed

[2022-10-01 01:23] pmrowla commented on #8387
The hang is in the built in python `logging` module, not in DVC.

Are you using multiprocessing? It looks like it could be this issue: https://bugs.python.org/issue42097

[2022-10-01 01:28] pmrowla commented on #8384
This is an internal optimization. DVC does not check if all objects it may need to push exist in the remote at once. For tracked directories, we first check if the directory objects exist, and if so we skip checking individual files that are contained in that directory in the follow up step.

The two steps here would indicate that DVC is first checking if 3 directory objects exist, and then checks

[2022-10-01 13:28] alex000kim commented on #770
Great, thanks for the example, however hacky :)

Understood.

[2022-10-02 01:02] dg-carolyn commented on #8387
Hi @pmrowla , I'm @zanussbaum 's colleague and I believe our problem has to do with logging handlers added by tensorflow (the `absl/logging` in the stack trace above).
In a jupyter notebook, `import dvc` works fine, but `import tensorflow; import dvc` has the same problem.

Specifically, this can be narrowed down to the handlers added by tensorflow like so:

[code]

This is with python 3.8.13, ten

[2022-10-02 03:22] pmrowla commented on #8387
That sounds like this is probably a tensorflow (or `absl`) issue. DVC just uses the standard python logging methods, and does not modify anything internally that would cause `logging.config.dictConfig()` to hang.

[2022-10-02 03:38] pmrowla commented on #8373
The graph check you noted is required since DVC needs to make sure your repo does not contain any overlapping outputs (i.e. multiple `.dvc` files that point to the same output path). If you are generating thousands of .dvc files it will eventually start to degrade performance.

Do you need to import each file individually, or are you actually importing everything that is in the defined remote stor

[2022-10-02 07:56] dg-carolyn commented on #8387
@pmrowla it looks like an interaction between colorama and tensorflow/absl. `dvc.logger.setup()` calls `colorama.init()` before `logging.config.dictConfig(...)`, and in Jupyter notebook:
[code]
works fine, but
[code]
hangs with the same stack trace.

[2022-10-02 09:30] Abelarm commented on #8076
Hi @daavoo,

I can take this, but I need a bit of help, is there some doc from where I can start?
Is this from where I should start? https://dvc.org/doc/command-reference/metrics/show#metrics-show

[2022-10-03 05:55] pmrowla commented on #8387
@dg-carolyn if you import dvc before importing tensorflow (so colorama is init'ed before absl logging) do you get the same behavior

[2022-10-03 10:32] FarisHijazi commented on #2432
also interested in this feature

[2022-10-03 12:25] #8310 closed

[2022-10-03 13:29] #8345 closed

[2022-10-03 16:16] mdeboc commented on #8384
Ok very clear

Thanks @pmrowla! I think tracking directories will solve this problem.
Although before the regression in google cloud library, tracking each file was not slow, it is not a good practice.

Therefore you may close the issue

[2022-10-03 20:06] dberenbaum commented on #8387
To fix it without debugging the underlying tensorflow and colorama issues, it seems like the easiest thing to do is to move `colorama.init()` to the bottom of `dvc.logger.setup()`.

[2022-10-03 23:57] junwang-wish opened #8390 "dvc add and dvc repro cannot detect appended lines in a large file"
Somehow, `dvc add` and `dvc repro` cannot detect changes to a large json list file (append a few lines to the bottom of a json list file for example)
1. We have a large json list file `large.jsonl` that was added to `dvc` through `dvc add large.jsonl`, thus resulting in a `large.jsonl.dvc` that looks like
[code]
2. Now, we append some lines to the bottom of it and run `dvc add large.jsonl`, one wo

[2022-10-04 00:26] junwang-wish opened #8391 "dvc add interrupts running script that appends lines to file"
`dvc add` seems to interrupts script that append lines to file:
1. I have a long-running script `dont_interrupt.py` that shouldn't be interrupted. It append lines to a large file `large.txt`, which was previously added to dvc through `dvc add large.txt`, and thus have `large.txt.dvc`. `dont_interrupt.py` looks like
[code]
3. After some time of running the script that appends lines to `large.txt`,

[2022-10-04 00:59] bryan-bg opened #8392 "Install DVC with winget"
winget is an easy way to install Windows applications. It would be convenient if DVC had a winget installation option.

More details:
https://learn.microsoft.com/en-us/windows/package-manager/winget/

Thank you for your consideration!

For example, here is documentation on download Git with winget:
https://git-scm.com/download/win

[2022-10-04 01:30] pmrowla commented on #8392
While we have no plans to maintain a winget package ourselves, anyone is allowed to submit packages to their repository: https://github.com/microsoft/winget-pkgs

[2022-10-04 01:31] pmrowla commented on #8390
Can you run `dvc doctor` and post the output here

[2022-10-04 01:39] pmrowla commented on #8391
`dvc add` moves the file into the DVC cache directory and then does the equivalent of `dvc checkout` to link the file back into the workspace. So after `dvc add`, you would need to open a new file handle to `large.txt` in order to write to it.

It is not safe to use `dvc add` in this way (while you continue to actively write data to the file). Depending on your particular cache link type configura

[2022-10-04 01:41] junwang-wish commented on #8390
Thx
[code]

[2022-10-04 01:43] pmrowla commented on #8390
Also, are these writes being done in the same way as the script you described in your other issue (https://github.com/iterative/dvc/issues/8391)? Because if that is the case, the script is unsafe and DVC's behavior may be unpredictable, as I noted in #8391.

Can you confirm that you still get this issue when you append lines to your large files without using the long-running script?

[2022-10-04 01:49] junwang-wish commented on #8390
Thanks yeah I get this issue when append lines using the long-running script in https://github.com/iterative/dvc/issues/8391. Thanks.

[2022-10-04 01:49] #8390 closed

[2022-10-04 01:51] junwang-wish commented on #8391
Thx @pmrowla, knowing how `dvc add` as you described, it makes sense why this behavior occurs as in my case. However, in cases like this where a stateful append is long-running and I do indeed want to checkpoint intermediate results. What is the recommended way to do it using dvc?

[2022-10-04 02:11] pmrowla commented on #8391
You would need to have a way to signal your long running script that it needs to pause while you run `dvc add`. Ideally you would probably want to consider using some kind of filesystem lock (like https://py-filelock.readthedocs.io/en/latest/index.html or https://flufllock.readthedocs.io/en/stable/) that your long running script acquires while writing to the file. And then you would have a separat

[2022-10-04 02:27] pmrowla commented on #8391
Should also note that if you just want to run `dvc add` at fixed intervals (rather than running it manually when needed) it may be easier to just include the `dvc add` step in your long-running script, which would not require the use of any separate filesystem locks.

[2022-10-04 02:40] junwang-wish commented on #8391
Thanks @pmrowla it makes sense in my case to run dvc add inside the long-running script at regular interval. By that you mean something like?
[code]

[2022-10-04 02:54] pmrowla commented on #8391
@junwang-wish yes, that should work fine.

[2022-10-04 04:31] tharhtetsan opened #8394 "google drive auth appear multiple tags and not work"
# google drive auth appear multiple tags and not work

## Description
I am trying to store my data in google drive according to this [tutorial ](https://www.youtube.com/watch?v=kLKBcPonMYw&t=9s) . But when I made
`dvc push`
it appear 1st google auth page. when I accepted dvc to my google acccess, multiple google auth tags are appear and cannot continue. here is my console output :
![image](https:/

[2022-10-04 04:55] pmrowla commented on #8394
@tharhtetsan can you update to the latest version of DVC? There were some changes in how auth is handled for gdrive that should be resolved in the latest version

[2022-10-04 04:56] pmrowla commented on #7461
@D34D10CK can you post your `-v` traceback as well

[2022-10-04 09:26] D34D10CK commented on #7461
Here's the stacktrace:
[code]

and here's the output of dvc doctor:

[code]

[2022-10-04 10:27] stavyadatta opened #8397 "dvc get https://github.com/iterative/dataset-registry \ tutorials/versioning/data.zip not working"
Hello there
I am trying to run this command and am getting an unexpected error saying connection timeout to host at https://remote.dvc.org/dataset-registry/fa/9c0eb4173d86695b4e800219651360.

Can anyone please help?

[2022-10-04 15:25] dberenbaum opened #8396 "plots: make smooth default"
Should the `smooth` plot be the default either in DVC or DVCLive? What about in VS Code or Studio?

Comment from @dmpetrov :

[2022-10-04 15:57] dberenbaum commented on #8396
@pared Do you know if there's a reason the min value for the smooth template is 0.001 and not 0? If we make the min 0, I'd see no reason not to make it default since it only adds functionality to the existing template.

[2022-10-04 17:05] #8376 closed

[2022-10-04 17:05] dberenbaum commented on #8384
@pmrowla Can we still investigate the regression or add a benchmark for it?

[2022-10-04 17:36] jorgeorpinel commented on #8397
Please give more context by following this [bug template](https://github.com/iterative/dvc/issues/new?assignees=&labels=&template=bug_report.md) or reach out at https://dvc.org/chat @stavyadatta .

[2022-10-04 18:30] efiop commented on #7573
closing as stale

[2022-10-04 18:30] #7573 closed

[2022-10-04 18:31] efiop commented on #8011
closing as stale

[2022-10-04 18:31] #8011 closed

[2022-10-04 18:32] #8037 closed

[2022-10-04 18:35] #8097 closed

[2022-10-04 18:36] efiop commented on #8122
closing as stale

[2022-10-04 18:36] #8122 closed

[2022-10-04 18:37] efiop commented on #8165
closing as stale(resolved?)

[2022-10-04 18:37] #8165 closed

[2022-10-04 21:29] efiop commented on #8392
For windows we support chocolatey and exe already among other things like pypi. I don't think we need more packages right now on our side, as we don't have capacity to maintain them (at least right now). Closing since this is mostly up to anyone actually wanting to add this to https://github.com/microsoft/winget-pkgs , as noted by @pmrowla

[2022-10-04 21:29] #8392 closed

[2022-10-04 23:18] crizCraig commented on #8397
I am able to download this dataset @stavyadatta . Perhaps the host is back up!

[2022-10-05 11:41] pared commented on #8396
I left it at this value due to the behavior, which I had no time to investigate and check whether it's intended or a bug:
![Screenshot 2022-10-05 at 13 37 51](https://user-images.githubusercontent.com/10195618/194052284-2d5d66ac-4e32-4671-a2bf-6bc03dadd18c.png)
![Screenshot 2022-10-05 at 13 40 56](https://user-images.githubusercontent.com/10195618/194052293-1eef6b21-ab5c-42d8-9777-0782e2d70375.png

[2022-10-05 13:18] pared opened #8399 "plots: handle multi field json correctly"
For csv we handle top-level plots correctly, example:
[code]

![Screenshot 2022-10-05 at 15 16 17](https://user-images.githubusercontent.com/10195618/194069547-36bbd947-55f0-4f02-be17-0724571824cd.png)

Similar setup but with json file fails:
[code]
![Screenshot 2022-10-05 at 15 17 20](https://user-images.githubusercontent.com/10195618/194069773-39f71f86-e769-4b67-a214-35b3d8cbbb3c.png)

[2022-10-05 16:37] hv10 opened #8400 "import: remote file can be downloaded via `dvc get` but can't be downloaded with import"
# Bug Report

## Description

When using a dvc repo as a data registry which uses an sshfs as remote we ran into issues importing data into depended repositories, specifically importing a directory which includes several files, while the directory itself is the object tracked added to the remote as a stage output.

### Reproduce

1. have a repo that uses sshfs as default remote (using ssh-key auth

[2022-10-05 16:37] hv10 commented on #8400
A note: the issue exists both on linux and macos for me, I guess it's some configuration error I am unaware of, will investigate.

[2022-10-05 17:40] daavoo commented on #8400
Hi @hv10 ! could you share some more details on the permission error you are getting?

The traceback with the detailed exception and point in code should not contain any sensitive information

[2022-10-05 17:56] dberenbaum commented on #8354
After discussion with @dmpetrov and @efiop, it sounds like we want to go with this solution. In other words, if DVC knows this version of the file exists on the cloud already, it shouldn't push an updated version even if it means the current version in the cloud doesn't match the version in the workspace. If the .dvc file already contains `version_id`, then DVC should not need to push the data sin

[2022-10-05 21:58] surya-narayanan commented on #6629
still facing this issue- same status as @TranThanh96. Are there any solutions / known errors in the env that you suggest looking into @efiop?

[2022-10-06 09:20] #7986 closed

[2022-10-06 09:59] karajan1001 opened #8403 "Celery queue related CI failures"
# Bug Report

Some of the celery queue-related tests failed, look into it I found this is because in some of the tests we regard the experiments to be finished after `dvc.experiments.run(run_all=True)`

https://github.com/iterative/dvc/blob/884182f6f2cbe0115454a172bbdeb781b782edd6/tests/func/experiments/test_show.py#L157-L162

While this command will finish right after the sub-process is finished.

[2022-10-06 10:36] hv10 commented on #8400
[code]
I had to remove some of the output - specifically the mentions of the repository. I hope that it will help nonetheless.

[2022-10-06 10:43] hv10 commented on #8400
When running the `dvc get`command, I now get a PermissionDenied error as well, but the contained files of the folder got downloaded anyways... yesterday they got downloaded without the error.

[2022-10-06 10:45] hv10 commented on #8400
The folder contains a .gitignore file which does not get downloaded when using dvc get, the two stage outputs contained in the folder do get downloaded.

[2022-10-06 13:52] junwang-wish commented on #8391
Thanks!

[2022-10-06 13:52] #8391 closed

[2022-10-06 19:14] Jaume-JCI commented on #4218
This feature would be very important in my projects as well.

[2022-10-06 22:48] HaddocktheHorrible commented on #8400
@hv10 your traceback includes the same `asyncssh.misc.PermissionDenied: Permission denied` error folks reported in #7702 for window users using ssh-agent (granted, supposedly that is a windows-only issue). Have you tried downgrading to 2.9.5? Not a long-term solution, but better than nothing.

[2022-10-07 09:06] rafalparadowski opened #8406 "DVC METRICS: --precision doesn't work with --json"
DVC version: 2.29.0 and 2.8.1

`--precision n` option takes no effect when specifying json as output:

[code]

Would be nice if it could be fixed for older python as well.

[2022-10-07 09:39] daavoo commented on #8406
Hi @rafalparadowski, this is by design.
 The `--json` flag in all `dvc {method} {diff|show}` commands returns the "raw" internal object as returned by `repo.{method}.{show|diff}` so other flags don't affect it's behavior.
 This could be better reflected in the docs.

 Adding the feature request flag.

[2022-10-07 10:46] rafalparadowski commented on #8406
Hi David. Thank you for so quick reply!

I have several thoughts (probably most of them you have already discussed):
1. `json` word does't implify that data will not be affected by filters. It's just a format, so name of flag and action are slightly disconnected here.
2. Maybe it would be reasonable to add new flag (`--raw`?) for printing raw data in whatever format?
3. Having output in json is ve

[2022-10-07 14:01] dberenbaum commented on #4218
The only real blocker to this besides prioritization is that it's dangerous since it could delete something needed elsewhere, right? Could we add the command with a stern warning that it's dangerous?

[2022-10-07 14:40] dberenbaum opened #8409 "cloud versioning: checkout config option"
Following up on https://github.com/iterative/dvc/issues/8354#issuecomment-1268755574, the `worktree` config option for remotes should not actually checkout the latest version on the remote.

However, we still need a separate `checkout` remote config option to checkout the latest version on the remote. For example, this enables a data registry where the consumers don't need DVC or Git. They can bro

[2022-10-07 15:13] dberenbaum opened #8411 "cloud versioning: external outputs"
For a cloud bucket/container with versioning turned on, external outputs can work like cloud-versioned remotes to simplify the workflow. No external cache is needed since a cloud-versioned external output path can serve as its own remote/cache. DVC should only need to collect the version info to store in `.dvc` or `dvc.lock`. This also can make external outputs much more performant because no copi

[2022-10-07 15:26] dberenbaum commented on #4218
I think as long as you aren't editing the files in place, and are only dropping and adding files and pulling them, it should be safe. You may want to test on an example to be safe before trying on your real data.

[2022-10-07 16:03] hv10 commented on #8400
Referencing the issue #7702 in question, it seems that the issue is similar indeed. When running the snippet provided by a comment in the issue ([dvc/issues/7702](https://github.com/iterative/dvc/issues/7702#issuecomment-1259754888)) it seems that within my environment the keys do not get picked up either.

I'll try downgrading next. Any major downsides to that? Any features I would dearly miss?

[2022-10-07 16:18] ivyleavedtoadflax commented on #7755
Hey sorry, I don't have access to this pipeline anymore, so I cannot repeat!

[2022-10-07 17:28] HaddocktheHorrible commented on #8400
Interesting - you might want to comment in that thread if the ssh-agent issue is affecting you on linux/macOS too.

2.9.5 was before `dvc data status` existed. It's also not compatible with the dvc VSCode extension, if you use that. I haven't done an exhaustive check of the release notes, but those are the main two that have stood out to me.

[2022-10-07 18:19] ivyleavedtoadflax opened #8413 "`dvc exp show` truncates branch names if they contain a `/`"
# Bug Report

## Description

If your branch name contains a `/` when using `dvc exp show`, everything before (and including) the `/` will be truncated.

### Reproduce

[code]

### Expected

[code]

### Environment information

**Output of `dvc doctor`:**

[code]

[2022-10-09 02:00] pmrowla commented on #7755
closing as stale

[2022-10-09 02:00] #7755 closed

[2022-10-10 08:43] karajan1001 opened #8417 "queue start: `dvc.lock.LockError` in `dvc queue start`."
If I start the queue with `j > 1` then experiments will automatically fail. E.g queue 3 experiments, start the queue with `-j 3` and 2 will fail.

_Originally posted by @mattseddon in https://github.com/iterative/vscode-dvc/issues/1995#issuecomment-1272651403_

looking into the logs. it shows

To start multiple workers requires to change the `rw` lock mode in queue start

[2022-10-10 09:46] Jaume-JCI commented on #4218
Thank you very much @dberenbaum.

[2022-10-10 10:29] ctafabiano opened #8418 "Azure OAuth failure"
# Bug Report

## Description
When using OAuth authentication to connect to Azure with DVC and executing push/pull operations the following error is returned:
`ERROR: unexpected error - Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL`

This behaviour has been reported in a similar case: https://github.com/iterative/dvc/issues/5589, but the error we receive is a

[2022-10-10 10:29] ctafabiano opened #9833 "Azure OAuth failure"
# Bug Report

## Description
When using OAuth authentication to connect to Azure with DVC and executing push/pull operations the following error is returned:
`ERROR: unexpected error - Cannot combine AUTHORIZATION header with AUTH argument or credentials encoded in URL`

This behaviour has been reported in a similar case: https://github.com/iterative/dvc/issues/5589, but the error we receive is a

[2022-10-10 11:33] karajan1001 commented on #8413
might be duplicated with some related issues #7933 #6819 #6143.
All these issues are related to the naming validation.

[2022-10-10 11:50] tasdomas opened #8419 "exp run: fails when used with github actions and CML docker container"
## Description
`dvc get` fails in one of our [example repos](https://github.com/iterative/stale-model-example) with the error response:
[code]

None of the directories in that path are symlinks.

Running the `dvc get` command interactively (in an ssh session via [action-tmate](https://github.com/mxschmitt/action-tmate) results in success - the action completes without error.

Running with the `-vv

[2022-10-10 12:41] pmrowla commented on #8419
It looks like `exp run` is what's failing, not `dvc get`

[2022-10-10 12:51] pmrowla commented on #8419
The issue is probably due to how `actions/checkout` works:

I'm guessing that the CML docker image doesn't include git >2.18 (the default in ubuntu 20.04 looks like it's 2.17), so using `actions/checkout` inside that docker container will just download the source using the github web API (and does not create an actual git repo in the workspace), so `dvc exp run` will fail since it needs an actual

[2022-10-10 12:53] dberenbaum commented on #8417
@karajan1001 Do we know when this started? I thought it was working after https://github.com/iterative/dvc-task/pull/90.

Is it specific to checkpoints?

Do we have a test for it?

How are you seeing the logs? When I run them, I get:

[code]

[2022-10-10 13:03] tasdomas commented on #8419
The cml docker image include `git==2.38` and the git repository is created normally.

Including additional debug information:
## git version
[code]

## Directory contents
[code]

[2022-10-10 13:43] pmrowla commented on #8419
This issue is specific to using the CML container

[code]

succeeds in regular GHA `ubuntu-latest` workflows but fails when using the CML container

see: https://github.com/pmrowla/gha-test/actions

[2022-10-10 13:56] pmrowla commented on #8419
The problem is that in the CML container the github workspace is created & owned by `root` but the actions are run as a different user. In order for git to work properly this means that you have to configure `safe.directory` (https://git-scm.com/docs/git-config/2.35.2#Documentation/git-config.txt-safedirectory`) to include your workspace path, otherwise both regular git and libgit2 will refuse to

[2022-10-10 14:05] pmrowla commented on #8413
This is a duplicate of #7933 (we don't display branches and tags that contain `/` properly). This issue is not related to `dvc exp` names containing `/` (which are not allowed and get rejected).

closing in favor of #7933

[2022-10-10 14:05] #8413 closed

[2022-10-10 14:26] tasdomas commented on #8419
`whoami` indicates the action is run as root

[2022-10-10 14:30] pmrowla commented on #8419
@tasdomas it's an interaction w/ how the GHA workspace is mounted inside the docker container, even though `whoami` reports root, the user permissions won't match from git's perspective unless you set safe.directory

related: https://github.com/actions/runner/issues/2033

[2022-10-10 14:46] tasdomas commented on #8419
Thanks @pmrowla - this looks like it's the cause.

[2022-10-10 14:52] dberenbaum commented on #8409
After discussion with @efiop, we decided that instead of adding yet another option, we should modify what the existing options do:

`version_aware` - means remote with cloud versioning (aka just storage)
`[+]worktree` - means remote workspace (proper checkout, mirroring your local workspace)

[2022-10-10 15:25] francoispichot1 opened #8420 "dvc.api.open: fails to open a file within a dvc tracked directory from a remote storage"
# Bug Report

dvc.api.open fails with a `FileMissingError` when trying to open a file within a dvc tracked directory from a remote storage (s3).

## Description

### Reproduce

- Within an initialized and configured `git`and `dvc` repository create a `test` directory containing the file `test/foo`
- `dvc add test && dvc push`
- Delete the `test` directory
- Run:
[code]

### Environment information

[2022-10-10 18:12] dtrifiro commented on #7093
Additional items:

- [ ] Plots: drop support for plots top-level definition as mapping (see https://github.com/iterative/dvc/pull/8412)

[2022-10-10 18:20] shcheklein commented on #7933
If it's a small effort, could we please address this?

[2022-10-10 18:44] daavoo commented on #8420
Hi @francoispichot1 ! I am not able to reproduce the error following the same steps with a S3 remote. Could you share more info for reproduction?

[2022-10-11 01:12] shcheklein commented on #2904
Hmm, it's still the same for me. Multiple times not doing anything at all for a very long time.

Then it's downloading files, but it's very slow even with `-j 50`.

Progress bars got worse from the last time - I see only 2-3 of them constantly blinking.

[2022-10-11 07:10] daavoo commented on #7933
I will open P.R. later

[2022-10-11 08:23] francoispichot1 commented on #8420
Hello @daavoo, thanks for the quick answer;

My `config` file looks like this:
[code]
And I've got `ListBucket` , `PutObject`,  `GetObject` enabled.

My `test.dvc` file is looking like this:

[code]

I also removed the `56` folder from `.dvc/cache`.

I've got these packages installed:

[code]

As well as these for aws:

[code]

I don't know if that may help you but dvc `2.9.3` is able to open the

[2022-10-11 08:55] karajan1001 commented on #8417
Start from init.

No.

You can use `cat .dvc/tmp/exps/celery/dvc-exp-worker-1{2,3,4,5}.out` to see the logs from each worker.

[2022-10-11 09:05] daavoo commented on #8420
Looks like the problem was introduced in https://github.com/iterative/dvc/pull/7353

[2022-10-11 10:10] pared commented on #7844
We dropped `dpath` in #7811, reproduction script seems to be working now. Closing. Please reopen if I missed something.

[2022-10-11 10:10] #7844 closed

[2022-10-11 12:03] daavoo commented on #8418
Hi @ctafabiano could you try setting `dvc remote modify --local storage account_key 'mysecret'` replacing `'mysecret'` with the value you use for the env var.

See https://dvc.org/doc/command-reference/remote/modify#example-some-azure-authentication-methods

[2022-10-11 12:20] pmrowla commented on #7577
@HaddocktheHorrible have you tried the windows installer for the latest DVC release?

[2022-10-11 12:33] ctafabiano commented on #8418
That works fine (same as using `AZURE_STORAGE_KEY` env var), but it's unrelated to the OAuth issue and we would like to move out of `account_key` authentication.

[2022-10-11 12:33] dtrifiro commented on #7702
@piotlinski Do you mind providing the full github actions pipeline so we can try properly reproducing the issue?

Thanks!

[2022-10-11 21:28] HaddocktheHorrible commented on #7577
Hi @pmrowla - not yet. Since I ran into #7702 from the pip version of 2.29.0, I did not bother with the windows installer. But you're right that I can see if I get the `win32timezone` error on the latest installer too. I will report back...

[2022-10-12 05:11] johnyaku commented on #2363
A lot of tools fail to "see through" symlinks and we need to `dvc unprotect` them first.
A `post-pull` dvc hook would allow us to run `dvc unprotect` on a list of files that need to be made accessible like this. Unless there is a better way to achieve the same result?

[2022-10-12 15:38] dberenbaum opened #8427 "cloud versioning: disable push -a/-T/-A"
`dvc push -a/-T/-A` should be disabled when cloud versioning is enabled. Cloud versioning will update the Git-tracked `.dvc` files, and there's no way to push data from previous commits and record it in those commits. Thanks to @pmrowla for pointing this out.

[2022-10-12 16:30] dberenbaum opened #8428 "dvcfs: Auto-generate docs"
We need a way to auto-generate the API reference for dvcfs so we don't need to manually document the methods. There's more context in https://github.com/iterative/dvc.org/issues/3927.

[2022-10-12 18:13] dberenbaum commented on #8357
Maybe I'm naively assuming all operations are file-based and missing how the DB is used, but even if DVC needs the `.dir` entry in the database and in the `.dvc` file above, does DVC actually need to save a copy of the `.dir` file in `.dvc/cache`? Even if the DB were deleted, it seems like the `.dvc/cache/...dir` file is only needed when called from a `.dvc` file that contains the same info alread

[2022-10-12 19:00] dberenbaum opened #8429 "cloud versioning: don't push cloud-versioned imports"
Related to https://github.com/iterative/dvc/issues/8274.

If using `import-url` with versioning enabled, it's generally wasteful to make a copy of the imported data on `dvc push` since the original source should continue to be accessible unless someone deletes that version of the file. DVC should have a way to avoid pushing the imported data in this scenario and always relying on the original sour

[2022-10-13 10:18] aschuh-hf opened #8431 "exp run: Running <stage_1> creates a since deleted deps source file of another stage"
# Bug Report

## Description

I had run a stage (`stage_1`) which declares a source file as dependency previously. Then added an unrelated stage (`stage_2`) to the dvc.yaml file which does not depend on the first stage, and also renamed the source file which that first stage (`stage_1`) depends on. I was then running the new stage (`stage_2`) using `dvc exp run stage_2`. To my surprise, this resto

[2022-10-13 10:24] aschuh-hf commented on #8431
This does not happen with `dvc repro`. Trying to reproduce this in a different folder with dummy files, I noticed that `dvc exp run` temporarily makes changes to my other untracked / uncommitted / modified files in the Git repository that I had open in a tab in VS Code while running `dvc exp run`.

[2022-10-13 14:36] dberenbaum commented on #7093
- [ ] Config: set core.autostage true by default?

[2022-10-14 03:04] pmrowla opened #8435 "import-url/fetch: partial imports should only be fetchable in `workspace`"
Similar to the problem in https://github.com/iterative/dvc/issues/8427 - if we have a partial import created by `import-url --no-download` there is no point in downloading it if we cannot actually update the .dvc file.

For `fetch/pull --all-tags/--all-branches/--all-commits` we still iterate over all of those past commits looking for partial imports and then download them into the .dvc cache. How

[2022-10-14 09:11] #8137 closed

[2022-10-14 14:02] dberenbaum opened #8437 "import-url: bulk import to directory"
For many unstructured data use cases, it's needed to download a bunch of files from the cloud to form the training dataset. However, the data may not all be in one place on the cloud, or you may only want a subset of files from the cloud. We need a way in `import-url` to pass in a list of targets but combine them into one output directory.

For example:

`dvc import-url --out dataset s3://mybucket

[2022-10-14 18:56] dberenbaum commented on #8437
Some internal discussion for context: https://iterativeai.slack.com/archives/CB41NAL8H/p1665468579227849

[2022-10-14 19:35] dberenbaum commented on #8409
Let me better explain the purpose of this ticket: it's about clarifying what each option does and more importantly simplifying the workflow around .dvc files and what should be written to them. It's not about reducing duplicate file copies on the cloud.

Right now, when I try to use cloud versioning, the behavior seems unpredictable and breaks easily. Sometimes new version ids are added to my .dvc

[2022-10-14 19:37] dberenbaum commented on #8411
To clarify, this is mostly needed in `dvc.lock` for cloud-focused pipelines. For data management without pipelines, `import-url [--now-download]` can already be used for most scenarios to add data from cloud.

[2022-10-16 19:17] tadejsv opened #8438 "Problems with `dvc-pull` using ssh when running inside container"
I am experiencing problems when trying to run `dvc pull` that pull from a private repo (and uses SSH for authentication) when running inside a container in github actions. This issue is similar to https://github.com/iterative/dvc/issues/7702, but not exactly the same, as this only occurs when running inside the container.

How to reproduce:
1. Create a repo with DVC
2. Import a file from a private

[2022-10-17 11:13] clintlombard opened #8439 "cli: cannot import name 'isfilelike' from 'fsspec.utils' (2.30.0)"
# Bug Report

Note that this is not reproducible in a minimal environment, but might server useful if anyone else find the same problem

## Description

When running any CLI command I get the following error:

[code]

However, this works when installing `dvc==2.29.0`.

### Reproduce

Not reproducible when using the `python:3.9.9` docker image and installing `dvc==2.30.0`. However, in the docker im

[2022-10-17 11:16] clintlombard commented on #8439
[Disabling analytics](https://dvc.org/doc/user-guide/analytics) seems to fix this.

[2022-10-17 11:16] #8439 closed

[2022-10-17 11:24] efiop commented on #8439
@clintlombard Could you run `pip check`? Seems like you didn't upgrade all dvc dependencies or something else installed old fsspec version.

[2022-10-17 11:27] skshetry commented on #8439
@efiop, we support [`fsspec>2021.10.1` in `dvc-objects`](https://github.com/iterative/dvc-objects/blob/695b7db726c48fcdfa2d448ac6db671ff1ec44fb/setup.cfg#L30), but `isfilelike` is only available since `2022.5.0`.

[2022-10-17 11:30] efiop commented on #8439
@skshetry Good point. I thought we have a higher requirement in dvc-http, but we don't. So need to update it in dvc-objects then.

[2022-10-17 11:37] clintlombard commented on #8439
@efiop the pip check came back clean. However, on @skshetry' point I have `fsspec==2022.2.0`.

[2022-10-17 11:38] clintlombard commented on #8439
Updating `fsspec` fixes this issue.

[2022-10-17 12:32] tadejsv commented on #8438
I did some more research - this workflows seems to work.
[code]

What I've discovered is that `$HOME` and the home dir specified in `/etc/passwd` are not the same in container. This is because GH Actions sets the env var `HOME=/github/home` in the container, but the "natural" home dir depends on the user inside the container (which, in this case, is `root`). SSH seems to look for config not inside

[2022-10-17 14:57] skshetry commented on #4447
Closing, we don't use `gitpython` for cloning these days.

[2022-10-17 14:57] #4447 closed

[2022-10-17 21:05] mbojan commented on #2432
I'd be interested too.

[2022-10-18 06:30] jorgeorpinel commented on #8428
Hi. Is this still relevant after https://github.com/iterative/dvc.org/issues/3927#issuecomment-1281246538 ?

[2022-10-18 08:37] alon1samuel commented on #7257
I had a similar problem when I installed dvc and boto3 using:
`poetry add dvc boto3`
Then when I wanted to install dvc-s3 using:
`poetry add dvc[s3]`
it gave an error - version solving failed.

My solution was to uninstall boto3 from poetry and install dvc[s3] (which by itself installed boto3 to the lock file)

[2022-10-18 09:52] skshetry commented on #7093
@dberenbaum, can you please push these items/tasklist to the top comment? The item does not have to be a sure thing to be on top.

[2022-10-18 10:54] #8428 closed

[2022-10-18 12:08] #8272 closed

[2022-10-18 14:07] rlamy opened #8445 "Handle cloud versioning in `dvc ls-url`"
`dvc ls-url` should be able to list available version_ids on versioned clouds, e.g. to use them with`dvc import-url`

[2022-10-18 15:19] skshetry commented on #7093
Hopefully, we can remove this in 3.0.

[2022-10-18 15:20] HaddocktheHorrible commented on #7577
Hi @pmrowla - last week I tried with the 2.30.0 but had no success (see logs attached in the previous comment). Sorry if this is a double-ping -- I realized comment edits might not send notifications...

[2022-10-18 16:24] skshetry commented on #7093
If there’s no strong opinion, I’d like to deprecate `—show-*` flags soon (let’s say in 2.35 for example). With deprecate, I mean that they will be hidden from CLI help. We don’t document them in docs for a long time now. We can remove them in 3.0.

[2022-10-18 18:25] #8284 closed

[2022-10-18 21:46] jorgeorpinel commented on #7093
May I ask what this looks like? Meaning what replaces them; I remember discussing a new top-level `data` section in dvc.yaml (can't find the issue now), is that still being considered?

In general though, I'm not sure I'm seeing huge changes that warrant a major semver update. IMO going to 3.0 is an opportunity for hyping and devrel activities (think Python 2 vs 3, how much anticipation there was,

[2022-10-19 04:12] skshetry commented on #7093
These days, I believe DVC should be on calver. With that, we'll have a yearly cadence on release and we can hype things up. We can break compatibility on `year++` release if we like.

[2022-10-19 06:25] karajan1001 opened #8448 "Make queued experiments initialization progress run in parallel."
For now, when we run queued experiments we would lock the whole scm during the whole initialization progress.

https://github.com/iterative/dvc/blob/29b3dc1f9ec96fbd4116f8adabaeb17c9633afb2/dvc/repo/experiments/queue/base.py#L566-L568.

This makes the initialization progress only run sequentially. We can do a more precise control on this progress to make the

1. We should only lock some of the exp

[2022-10-19 06:28] karajan1001 opened #8449 "queue kill: Can’t kill tasks during initialization."
During the tasks initialization because no PID info was set at the time. we can't use `DVC queue kill` to stop this process.

# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2022-10-19 06:37] karajan1001 opened #8450 "Experiment: corrupted workspace experiment killed from system needs to be cleaned."
Kill a running experiment in the workspace will skip all of the cleanup operations in the executors `finally` scope and leave a dirty environment. We need to detect if these experiments are actually running and try to recover the status of them during the `exp show`.

# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Addi

[2022-10-19 06:40] karajan1001 opened #8451 "exp show: dvc experiment show slow due to the duplicated call on `scm.describe`"
related to https://github.com/iterative/scmrepo/issues/144.

![image](https://user-images.githubusercontent.com/6745454/196615215-43c3e0bd-9e73-48d8-8b5c-0831678d6f06.png)

# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2022-10-19 07:29] daavoo commented on #7093
+1 for calver

[2022-10-19 09:29] avivio commented on #7670
This is still happening for me after upgrading from version 2.9.5 to version 2.30.0

### **Environment information**

**Output of `dvc doctor`:**

[code]

**Verbose output of `dvc update`:**

[code]

[2022-10-19 13:15] dberenbaum commented on #7891
By the way, this is already possible to do with Hydra. You would save them as YAML files in your `conf` directory and then select each conf file like `dvc exp run -S conf_file=file1,file2`. There's a simple example in https://github.com/dberenbaum/hydra-dvc-multirun.

[2022-10-19 14:12] #8274 closed

[2022-10-19 14:12] #8435 closed

[2022-10-19 16:38] dberenbaum commented on #7093
If we use calver and we want to make a breaking change before the next year, what do we do?

[2022-10-19 17:13] daavoo commented on #8076
Hi @Abelarm . Sorry for the late reply.

The idea is to add a public API method to `dvc.api` for showing metrics.

The API method should be implemented in a similar way as https://dvc.org/doc/api-reference/params_show (which is implemented in https://github.com/iterative/dvc/blob/main/dvc/api/params.py).

It's a good start. The idea is to provide a Python function that behaves similarly to that CL

[2022-10-19 19:24] dberenbaum commented on #6822
I think this was addressed by noting the need to unshallow in the docs? See https://dvc.org/doc/user-guide/troubleshooting#git-shallow. @DavidGOrtega What do you think?

[2022-10-20 08:27] behrica commented on #7891
This syntax does no work for me:

[code]

[2022-10-20 08:57] michuhu opened #8456 "`dvc push` / `import-url --to-remote` to remote ssh works very, very slow."
# Bug Report

I think it did through enough research to report this bug. I've first try to find info online and in support threads - no luck there. I've talked on Discord with Gao and he decided I should post this as a bug here.

## Description

`dvc push` and `dvc add / import-url --to-remote` works really really slow. Like, few kilobytes in 5 minutes slow. SCP and SFTP to that same server work f

[2022-10-20 09:22] #8451 closed

[2022-10-20 10:28] behrica opened #8457 "dvc -S does not support dash '-' in parameter names"
# Bug Report

Running
[code]

fails with

[code]

As parameters with dashes are support in `params.yaml`, I expect to be able to overwrite them via `-S`

dvc doctor
[code]

[2022-10-20 10:33] daavoo commented on #8457
Hi @behrica ! Thanks for reporting. The issue is already tracked in https://github.com/iterative/dvc/issues/8151 and it should be fixed on the next Hydra release.

Closing as duplicate

[2022-10-20 10:33] #8457 closed

[2022-10-20 12:11] dberenbaum commented on #6168
One problem with this is that I don't think DVC will collect default file values across experiments unless they are specified in dvc.yaml.

[2022-10-20 13:02] dberenbaum commented on #8371
None of these top-level sections should be treated as deps or outs. That way, they can overlap with pipelines without causing issues.

For example, you could have a `dvc.yaml` file like:

[code]

And inside dvclive, you could have `dvclive/dvc.yaml` that looks like:

[code]

[2022-10-20 17:33] dberenbaum commented on #7891
Sorry, there is some hydra-specific syntax. You have to use `group` (since that's the dir inside `conf` where the files are stored), and you can optionally drop `.yaml`. See the readme of that repo:

[code]

[2022-10-20 20:15] dberenbaum commented on #8431
@aschuh-hf Do you use `git rm` or otherwise stop tracking it with Git before running `dvc exp run`?

[2022-10-20 23:29] Erotemic commented on #3069
@efiop Has there been any movement towards any of the ideas discussed here? I have an idea that I'd like to test out. Having an API that specifies the hash is necessary for it. Is a PR that adds a configurable hash API that is hard-coded to MD5 to start with (adding more hash algorithms can be discussed later) something that would be considered?

[2022-10-21 00:13] aschuh-hf commented on #8431
Indeed I hadn't used `git rm`.

[2022-10-21 02:18] #8417 closed

[2022-10-21 05:59] pmrowla commented on #6822
Yeah this should be resolved by using `cml ci` or one of the other unshallow methods

[2022-10-21 05:59] #6822 closed

[2022-10-21 08:47] michuhu commented on #8456
AFAIK from the [docs](https://github.com/iterative/dvc/pull/7339), the `dvc push -j 1` is ignored for remotes, isn't it? So maybe this is the key to solve this mistery?

[2022-10-21 08:58] behrica opened #8461 "Cannot kill / remove crashed job from queue."
Cannot kill crashed job from queue.

The job is in state Running looking at `dvc queue status`, but the process and worker are dead.

Running:
[code]
gives:
[code]
And indeed, the directory is missing.
Is there any manual cleanup I can do ?

[2022-10-21 09:04] michuhu commented on #8456
@SanderNugteren, @gcoter, I've seen you also had problems with SSH / SFTP remote issues? Have you guys managed to get pass them?

[2022-10-21 09:18] behrica commented on #7891
I tried it out, and that might work.
My use case would be massive grid searches, so I would maybe generate a few thousand files.
I could give all of them a random name and list them all in a very long list .... (probable reaching the maximum length of a command line)

I did it now in a complete different way, which is working as well, not using hydra al all.

Basically I loop over all my parameter

[2022-10-21 13:38] dberenbaum commented on #8431
In that case, I think it's expected that it will be tracked, right? We recently tried to clarify this a bit better in the docs (see https://github.com/iterative/dvc.org/issues/4044). Is there something more that would help clarify it further?

[2022-10-21 16:11] dberenbaum commented on #7891
Makes sense @behrica! Yeah, there are too many different ways to do this to have them all be "built in," but glad you found a pattern that works for you.

[2022-10-21 16:11] #7891 closed

[2022-10-21 18:05] dberenbaum commented on #8429
Also related to https://github.com/iterative/dvc/issues/4527. We need a way to turn on/off pushing to a remote.

[2022-10-21 22:04] hfawaz commented on #7419
Is this still being worked on ?

[2022-10-22 00:12] dberenbaum commented on #7419
You should be able to run `dvc exp run --temp` multiple times now, and the planned additional queuing support is available so that you can do things like keep adding to a running queue. Maybe we can close this issue unless you have specific requirements that are still not met?

[2022-10-22 10:47] hfawaz commented on #7419
So in the same repository I can run several times the `dvc exp run --temp`  and have the `metrics` in the same repository assuming the different instances of my `dvc exp run --temp` do not write the same `metrics` output ?

[2022-10-22 11:13] PythonFZ commented on #7419
@hfawaz You can look at the metrics as described in the Introduction to Experiments https://dvc.org/doc/start/experiment-management/experiments.

If you are using SLURM and want to combine it with DVC I developed a small CLI tool that will allow you to easily combine both. Unfortunatley you still have to run some process on the login Node. With the DVC queuing it will run a [Celery](https://docs.c

[2022-10-22 11:44] hfawaz commented on #7419
Okay thanks I will have a look.

[2022-10-22 14:18] MuhammadKhalid3975 opened #8462 "Unable to find the server"
# Bug Report

## dvc push some_folder

## Description
![image](https://user-images.githubusercontent.com/42286079/197344008-6009c598-9514-4e3b-8264-6c2c0ba37df4.png)

### Reproduce
using google drive as remote (shared drive)
dvc version 2.30.0
Windows 10

[2022-10-23 18:27] dberenbaum commented on #7419
@hfawaz Each experiment will run in its own copy of the repo in a separate temp directory. Therefore, if you make sure to write out the metrics to a path that is relative to the script or other temp directory location, then everything should work.

[2022-10-23 18:39] CarMiranda commented on #8372
@TheFirstMe does something like the following serves your purpose?
[code]
[code]

As you can see, the common parameters remain under the `base` key, but `list` is replaced by `list: list: [...]` which allows to interpolate in the common manner. However, in this way, one cannot expect to interpolate `${base}`, which is why the other parameters are specified in the commands.

If you really do not wa

[2022-10-23 21:10] hfawaz commented on #7419
Okay perfect thanks

[2022-10-24 06:41] #8349 closed

[2022-10-24 13:32] percevalw commented on #7122
Hi, if I may contribute to this issue, I think we don't need support for the full Thinc configuration system. Just being able to parse and update a .cfg file would be a big plus. Support for variable interpolation seems to me neither necessary nor desirable since it means making changes appear in two places, for instance when running `dvc params diff`.
Unlike other file parsers, python's standard

[2022-10-24 14:20] dberenbaum opened #8464 "`import-url`/`import`: follow ups for cloud versioning"
- [ ] For `dvc update` we can probably get around downloading when it hasn't changed, but that's a separate feature request I think (https://github.com/iterative/dvc/issues/8249#issuecomment-1288500204_)
~- [ ] For chained `import-url` imports I think it will not work right now unless the file has been pushed to a DVC remote, but when we get to refactoring regular cached objects to use dvc-data in

[2022-10-24 14:22] junwang-wish opened #8465 "dvc.api.open / dvc.api.get_url fail in long-running tmux session"
## Description

In short-running tmux session, `dvc.api.open` and `dvc.api.get_url` work properly, but in long-running tmux session where I repeated use `dvc.api.open` and `dvc.api.get_url` to query multiple files, it begins to fail like below:

[code]
Note that I can git clone `git@github.com:junwang-wish/query_understanding_data.git` in the same tmux session without problem, and the same problem

[2022-10-24 17:07] dberenbaum commented on #6667
See https://discord.com/channels/485586884165107732/485596304961962003/1033843165670674523

[2022-10-24 18:28] rlamy commented on #8465
Thanks for the report! It would be helpful if you could create a minimal reproducer that reliably triggers the issue (even if takes a while).

[2022-10-24 21:01] aschuh-hf opened #8466 "Hydra composition writes scientific float without decimal point which is parsed by YAML as str"
# Bug Report

## Description

When using the Hydra Composition, float numbers in the input config files in scientific format, e.g., `1.0e-5` are written to the generated `params.yaml` file as `1e-5`. The latter is parsed as a `str` instead of a `float`. The decimal point is required.

### Reproduce

`conf/config.yaml`
[code]

`test.py`
[code]

`dvc.yaml`
[code]

[code]

Generated `params.yaml`:
[c

[2022-10-25 09:07] pmrowla commented on #6490
Issue occurs because we force `dvc commit` to preserve any initial changes to DVC data in the experiment. The problem is that the `dvc commit` implementation uses `stage.changed_entries()` to determine whether or not it needs to call `stage.save()`

https://github.com/iterative/dvc/blob/ed2ccaf54c4106db757bcdcfbaf6d82af8af8b2c/dvc/repo/commit.py#L57-L65

`stage.changed_entries()` returns `workspac

[2022-10-25 10:21] mvshmakov opened #8470 "Document LWMM with data (dvc)"
Related to https://github.com/iterative/studio/issues/4104

<details>
<summary>Docs should explain the `Local Path` field recently added to the Iterative Studio.</summary>

<img width="603" alt="Screenshot 2022-10-25 at 14 21 25" src="https://user-images.githubusercontent.com/28868855/197748786-6aef7c51-e6a2-4015-ac03-b48345856f5b.png">

</details>

[2022-10-25 11:09] rlamy commented on #8461
This looks like an instance of #8450. IIUC, #8469 should fix it automatically (cc @karajan1001 ).

[2022-10-25 11:10] karajan1001 commented on #8461
Duplicated with #8449

[2022-10-25 11:11] karajan1001 commented on #8449
close as duplicated with #8461

[2022-10-25 11:11] #8449 closed

[2022-10-25 11:12] nturusin opened #8472 "conda: 'gs://' is supported but requires these missing dependencies: ['gcsfs']"
# Bug Report

## Can not push files due to some dependency issues (dvc-gs, gcsfs)

[code]

## Description

I'm trying to push files but at some point the command started to fail.
I use this micromamba list but I haven't changed anything during my experiments (my dvc-gs version isn't fixed though):
[code]

I tried fixing it to the version from the last successful docker build (conda-forge::dvc-gs=2

[2022-10-25 11:13] daavoo commented on #8466
Hi @aschuh-hf !
This is kind of expected. DVC requires YAML 1.2 (https://dvc.org/doc/command-reference/params#description) and I believe you are using `PyYAML` which only supports 1.1, causing the issue.

If you change the code to use [dvc.api.params_show](https://dvc.org/doc/api-reference/params_show) (or any other library supporting YAML 1.2) it should fix the error:

[code]

The above code uses

[2022-10-25 11:13] #8466 closed

[2022-10-25 11:58] michuhu commented on #8456
Two additional comments that might help:
1. Even if the remote is clear, so it's a first push (using SSH), it works very very slow.
2. I've tested on the same infrastructure, but using an HTTP endpoint and it worked like charm, so:
`MacOS --- VPN --- (over HTTP) --- ML server (local folder, shared directory)`

[2022-10-25 12:37] efiop commented on #8472
@nturusin 2.9.3 is pretty old. Could you try newest `dvc-gs` conda package, please?

[2022-10-25 14:29] daavoo commented on #7068
This appears to be fixed with the new queue

[2022-10-25 14:31] daavoo commented on #6329
Closing in favor of https://github.com/iterative/dvc/issues/7576

[2022-10-25 14:33] nturusin commented on #8472
Hi @efiop

Done:
1. removed `google-cloud-storage` requirement and changed the version for dvc-gs (2.19.0)
[code]
2. `docker-compose build --no-cache`

Following info was obtained within newly built image

3. `dvc push` still returns the error:

[code]

Whilst the list is:
[code]

Main items:
[code]

[2022-10-25 15:26] aschuh-hf commented on #8466
Thanks, indeed this is a duplicate. I would just add that I've installed DVC from the official YUM repo, and thus would expect that DVC has thus be packaged with an incompatible YAML version?

In my own code, I am using `pyyaml =6.0` from `conda-forge`. But as noted, DVC was installed in Docker as follows:
[code]

[2022-10-25 15:29] dberenbaum commented on #8466
@aschuh-hf The problem is that `pyyaml` is still stuck on YAML 1.1 (see https://github.com/yaml/pyyaml/issues/116), which is why DVC uses `ruamel.yaml`. So if you use `pyyaml` and scientific notation, you are likely to hit this problem.

[2022-10-25 15:30] aschuh-hf commented on #8466
But when I install DVC from YUM repo, does it not use its own virtual environment / libraries in `/usr/lib/dvc`?

[2022-10-25 15:34] aschuh-hf commented on #8466
OK, I think I understand now. The conclusion is that the `params.yaml` you produce requires a YAML 1.2 compatible reader. And PyYAML is not, which is what I use in my code currently. Switching to ruaml.yaml will fix it. Got it :-)

[2022-10-25 15:40] dberenbaum commented on #5971
Another occurrence of this issue and a nice summary of the problem:

_Originally posted by @aschuh-hf in https://github.com/iterative/dvc/issues/8466#issuecomment-1290757564_

[2022-10-25 16:14] daavoo opened #8473 "`queue kill`: Can't stop running task: improve message"
# Bug Report

## Description

After adding some experiments to the queue and having initiated the execution with `queue start`, I try to stop a running task with `dvc queue kill {task}`.

### Reproduce

- `git init && dvc init`
- `dvc stage add -n test -O foo 'sleep 10 && echo ${foo} > foo'`
- `echo 'foo: 1' > params.yaml`
- `git add . && git commit -m "init"`
- `dvc exp run --queue -S 'foo=range(

[2022-10-25 17:39] dberenbaum commented on #8437
Can it be implemented without breaking changes? Maybe we can add an option like `dvc import-url s3://mybucket/raw --filter image1.png --filter image2.png`.

[2022-10-25 19:06] efiop commented on #7670
@dberenbaum Asked @dtrifiro , he said that:

[code]

which is a bug in his monkeypatch in scmrepo. I'll link the issue here in a sec.

[2022-10-26 06:38] nturusin commented on #8472
It turned out that initial issue wasn't about dvc but other libs that now have version conflicts, which eventually led to an incorrect installation. Thanks for the help, the issue needs to be closed

[2022-10-26 06:38] #8472 closed

[2022-10-26 08:56] pared commented on #8462
Hello @MuhammadKhalid3975, would it be possible to post the stack trace of the error that can be seen when running `dvc push -v`?

[2022-10-26 09:03] pared commented on #7419
@hfawaz Were you able to make your use case work?

[2022-10-26 09:52] karajan1001 opened #8476 "exp: Too many openfiles error in `exp` related commands."
# Bug Report

Sometimes on MacOS, we will meet the "too many open files error". This can happen in `exp run`, `exp show` or inside celery work.
And the time it happening is also varied, setup, running, or result collection, I met this error in all stages. `ulimit` to a larger number ( for example 1024 instead of default 256 ) can prevent this.

[code]

## Description

### Reproduce

### Expected

[2022-10-26 10:08] karajan1001 opened #8477 "`exp show` is slow: performance issue in dulwich"
# Bug Report

Sometimes `dvc exp show` will take more than 10s to get a response, use Cprofile we notice that the time was costed in `_load_file_contents` in `dulwich` ,

![image](https://user-images.githubusercontent.com/6745454/197998643-c4979760-8c89-492b-8dbe-e5a2da4e8253.png)

related cprofile  [my.prof.zip](https://github.com/iterative/dvc/files/9868420/my.prof.zip)

## Description

### Repr

[2022-10-26 10:36] karajan1001 commented on #8476
Another case
[code]

And I found this file `'/Users/gao/test/vscode-dvc/demo/.dvc/tmp/exps/tmpysrdhlo6/.git/objects/pack'` is 148M large

[2022-10-26 11:58] hfawaz commented on #7419
I am having hard time using the `--set-param` so still was not able to test this.
All of my configs are in json so I have to migrate to yaml in order to use Hydra I guess.

For now each `kubernetes` jobs is cloning the repo and launching its own job.

[2022-10-26 13:08] karajan1001 commented on #8477
Besides the initialization progress cost of more than 30 seconds for the demo project.

![image](https://user-images.githubusercontent.com/6745454/198033708-4478f03e-ef75-457b-bccc-0962b60d7683.png)

while the cli `git clone` command only take 1 second

[code]

[2022-10-26 15:19] dberenbaum commented on #7670
Here's what I get on a private dagshub repo:

[code]

What else is expected here?

[2022-10-26 20:47] dberenbaum opened #8478 "exp queue: live metrics"
For long-running queued/temp experiments, I'd like to see metrics that are being written in the temp dir while it's running, even if checkpoints aren't enabled. DVC collects these for the workspace but not for experiments running in temp dirs.

[2022-10-27 00:37] pmrowla commented on #8477
These two operations aren't the same. We are not doing `git clone` when we init the experiment workspace, we are initing a new (empty) git repo and then `git push` into it.

The comparable operation would be

[code]

Also, CLI `git clone` from one local repo into another by default only generates hardlinks from the source repo's `.git/objects` directory into the destination repo's `.git/objects` d

[2022-10-27 00:44] karajan1001 commented on #8477
Takes about 1.16s.
[code]

[2022-10-27 07:36] pmrowla commented on #8476
Given a large enough git repo this is expected. This is probably something that needs to go into a troubleshooting docs entry, increasing `ulimit` is the correct solution.

[2022-10-27 07:48] pmrowla commented on #8476
We could consider manually packing the temporary repo when we generate it, which would resolve the issue of potentially needing to open >256 loose object files at a time, but is an expensive operation performance wise and would make our executor init slower.

[2022-10-27 11:35] Meleagos opened #8480 "push: version_id and etag missing in .dvc file for s3"
# Bug Report

## Description

`dvc push` does not add `version_id` and `etag` to .dvc file for s3 bucket for the case when `version_aware = true`, `worktree = true`.

### Reproduce

[code]

### Expected

`version_id` and `etag` in the `data/Churn_Modelling.csv.dvc` file.

### Environment information

**Output of `dvc doctor`:**

[code]

### Additional information
Similar to [this issue](https://gi

[2022-10-27 12:47] dberenbaum commented on #8478
This should be able to be collected from the metrics files even if not yet written to dvc.lock

[2022-10-27 12:54] dberenbaum opened #8481 "exp apply: try to apply from other commits"
`dvc exp apply` will fail if run from a commit that isn't the experiment baseline. Instead, it should:

1. Attempt to apply on top of any commit.
2. Fail and rollback if there is a conflict.

[2022-10-27 19:14] dberenbaum opened #8483 "queue: track logs"
`dvc queue` saves info into `.dvc/tmp/exps`, including stdout, stderr, and structured JSON output with info like time and return code. This is useful info, but it is only retrievable through queue-specific commands and is treated like temporary data.

Instead, each experiment can use DVC to track its own logs and keep them somewhere like `.dvc/logs` with an associated `.dvc/logs.dvc` file. This wo

[2022-10-27 23:32] shcheklein commented on #8476
Q: why do we need keep that many files simultaneously open?

[2022-10-28 02:24] karajan1001 commented on #8476
We didn't keep many of them, the problem comes from two part.
The first is that on macOS this limitation is only 256, and if we run many other programs in the background, there is a high probability of going into this situation.
The second is that it looks like the `dulwich` would open dozens of files when it does some of the operations, which is the direct reason of this problem.

[2022-10-28 02:35] shcheklein commented on #8476
So, probably, the proper fix is to see what dulwich does, close files as soon as we are done with them?

I guess `ulimit -n` is per process, right? If we hit the global one (64K?) it's a bug ...

To my mind OSes usually have reasonable limits and it almost always a sing of something weird happening. E.g. highly parallel operations with network (OS doesn't have to close descriptors, etc). I would i

[2022-10-28 03:43] karajan1001 commented on #8476
Yes, every time after opening a new terminal, we need to change the change the limit of file opening number.

[2022-10-28 05:27] pmrowla commented on #8476
It's because dulwich and libgit2 do not automatically garbage collect in git repositories, git objects are kept as loose objects (individual files) and not packed. CLI git does this in the background when it determines the repo should be packed, but this is also dependent on user configuration. So in the experiment temp workspaces the git repositories contain lots of loose git objects that are kep

[2022-10-28 05:28] pmrowla commented on #8476
As I posted earlier, we could consider automatically packing the temp git workspaces ourselves, but this will come with a performance impact. Packing the objects up can take a significant amount of time, and then any git operations which need to read those objects out of a pack will also be slower than working with loose objects (individual files).

[2022-10-28 06:07] shcheklein commented on #8476
thanks ,Peter, one more question:

why does it keep them open?

[2022-10-28 06:12] pmrowla commented on #8483
How would these logs/metadata be shared with other tools (like studio)? Would it need to be pushed to DVC remotes? Or would it need to be stored entirely in git?

The main issue here that I can see is that the existing log capturing behavior is entirely separate from the DVC experiment. The logs that are available through the queue commands is the output of an entire encapsulated `dvc exp run` cal

[2022-10-28 06:24] pmrowla commented on #8476
I haven't looked into it in detail, but based on the tracebacks it looks like this happens when dulwich is trying to pack objects for a fetch or push. It has to open all of the loose object files that are being pushed, also open any existing packs that contain objects which are also being pushed/fetched,  read object headers and determine what order the objects should go into the pack (sort them),