[2022-04-19 11:38] daavoo commented on #7578
I think that in the linked scenario the issue is that the trigger is too generic (`on: push`) while trying to cover 2 different scenarios, semantically different: comparing branch vs main / comparing current commit vs previous.

DVC scope is CLI and both scenarios are covered. It's up to the person setting up the CI context to take care of calling the right arguments. Either with the if/then bash

[2022-04-19 11:49] pmrowla commented on #7578
I'm also confused as to why the linked PR does different things with the `plots diff` and `metrics diff` calls. Why does `metrics diff` need the extra if/else logic but not `plots diff`? It looks like they should just both be `dvc plots/metrics diff main`?

[2022-04-19 11:57] pmrowla commented on #7567
@samtzai so this issue is resolved for you in 2.10.1?

[2022-04-19 12:39] daavoo commented on #7592
Should we close https://github.com/iterative/dvc/issues/5615 in favor of this one?

[2022-04-19 12:59] pmrowla commented on #7592
I think we can leave it open for now, this is more just tasking for the current planned work, but the original discussion contains some more features that are currently unplanned/out of scope

[2022-04-19 13:22] #7561 closed

[2022-04-19 13:52] akmorrow13 commented on #7584
It is working now. I had installed `scmrepo` `0.0.16` instead of `0.0.18`. Thanks for the help!

[2022-04-19 13:52] #7584 closed

[2022-04-19 14:07] itcarroll commented on #7585
@karajan1001 Yes, may ".local" would be a better suffix than ".dev"

[2022-04-19 14:11] itcarroll commented on #7585
Given what @skshetry said, I realize there's a more straightforward way to hit this same error. Simply forget to add your parameters file to the commit where you add the dvc.yaml file. Now you've broken `gc --all-commits` with no way to fix it by adding a new commit. I'd call that a bug, but up to you guys.

[2022-04-19 14:44] samtzai commented on #7567
I have to say that I am not able to reproduce the issues I got last week even if I created these dummy project to recreate it and it failed last week. Apparently, nothing has changed on the enviroment and the version, this dummy code has no external dependencies and thus is, reproductable. However, I am not able to replicate the error now, even with dvc==3.10.0.
According to dvc doctor the relevan

[2022-04-19 14:47] weidenka commented on #6640
Are there any news on this? After discussion on [discord](https://discordapp.com/channels/485586884165107732/563406153334128681/965891440678936597) I think I'm facing the same issue. I have a repo in which I have imported a larger dataset (20G, 10k files) via `dvc import` (when the data is copied and added, everything is fine). And `dvc status` and `dvc commit` are very slow.

I get this for every

[2022-04-19 17:57] jorgeorpinel commented on #4112
OK so something like
[code]
is allowed in the params file scheme after all?

Sorry, just trying to make sure I get this right (for https://github.com/iterative/dvc.org/pull/3431#issuecomment-1102141094).

[2022-04-19 18:44] weidenka commented on #6640
btw, why is the repo no cached when the file system is local?
https://github.com/iterative/dvc/blob/179e080c2fd9cb80f7da83344f50ed7ff34f6845/dvc/data/db/reference.py#L87-L88

[2022-04-19 21:31] Erotemic opened #7601 "DVC fails adding a second time when the cache dir is external"
DVC will sometimes fail when adding a file it is already tracking.

This happens in the case where:

1. the cache dir is external, i.e. outside of the DVC repo
2. the cache type is symlink

Adding a file to DVC will fail if it is added a second time. This is because the file becomes a symlink into that eternal cache dir and DVC thinks that the file does not belong to the DVC repo.

### Reproduce

[2022-04-20 05:29] karajan1001 commented on #7601
Thanks for your report and analysis, @Erotemic .

I can reproduce it. and some addition tracebacks.
[code]

[2022-04-20 06:22] pmrowla commented on #7601
Looks like this is a duplicate of https://github.com/iterative/dvc/issues/7118

[2022-04-20 06:42] pmrowla commented on #7601
@karajan1001 did you reproduce this in the latest main version? This may have been fixed in https://github.com/iterative/dvc/pull/7581

[2022-04-20 06:48] karajan1001 commented on #7601
still got this in 2.10.1

[2022-04-20 07:05] weidenka commented on #6640
It seems the data registry repo clone is cached but the cached repo queried for each file. Why is this necessary? Essentially the repo stores only a single `.dvc` file. Couldn't  this be kept in memory?

[2022-04-20 12:43] lefos99 commented on #6271
To be honest, `--only-changed` doesn't seem to help me in this case, because we use multiple `dvc.yaml` files in different folders under the same git project.
If I get it right `--only-changed` functionality will inspect all the `dvc.yaml` files in my project, whereas I just want to focus on a specific one in my project and ignore the rest `dvc.yaml` files by being able to define a target.

[2022-04-20 12:49] plomtb opened #7605 "pull: Fails to pull some files from azure remote"
# Bug Report

## Description
Can't pull all files from azure remote. The files that fail do exist on the remote. This happens for images and text data.
`dvc pull -v ` for one of the files:

[code]
I tried different versions of dvc, error message is for this one:
[code]

[2022-04-20 13:32] karajan1001 commented on #7601
@Erotemic
close as duplicated with #7118, you can track the status there.

[2022-04-20 13:32] #7601 closed

[2022-04-20 16:01] WALEX2000 commented on #2363
I have a new use-case for this feature. I have a pretty strict deadline so I guess I'll have to find another way, but since this might be useful for someone, here goes:

I am creating a CLI tool that manages a fully local ML pipeline/workflow, to be used on small experimental projects.
When a user adds a data file through dvc add, I wanted to run some python scripts which generate metadata for tha

[2022-04-20 16:34] dberenbaum commented on #4112
Yup, that should work. Feel free to test it.

[2022-04-20 16:40] dberenbaum commented on #6271
@lefos99 If you are experimenting within a single dvc.yaml file, are the other dvc.yaml files likely to change between experiments?

[2022-04-20 17:01] efiop commented on #2363
@WALEX2000 Have you considered using a git hook to generate those when you will be git committing corresponding dvc files?

[2022-04-20 17:05] daavoo commented on #6150
@dberenbaum I think this is actually one example of what I have mentioned during the last Planning.

Calling `dvc plots` command with a target should not fail because of `dvc.yaml` parsing.

[2022-04-20 17:21] RBMindee opened #7607 "DVC very slow for datasets with many files"
# A 1.7Gb dataset containing 600k files takes many hours with dvc add or dvc push/pull.

## Description

Hi all, we have been using dvc for a while on medium size datasets, but struggle when trying to use it with big ones. We are unsure if it is due to our poor use of the tool or if it is a real bug.

We have a dataset containing about 600k small files for a total of 1.7Gb. The repo is configured

[2022-04-20 17:41] daavoo commented on #7607
Hi @RBMindee !

For what you describe, your usage has nothing wrong and it's most likely an issue with DVC performance.

---

Regarding point 1, it's discussed/tracked in https://github.com/iterative/dvc/issues/7390. We are currently working on improving status performance in https://github.com/iterative/dvc/pull/7597

---

Regarding point 2, it's discussed/tracked in https://github.com/iterative/

[2022-04-20 18:37] RBMindee commented on #7607
Thank you very much for that quick answer! I will send the profiles
tomorrow.

Just a question: do you have a rough estimate of ETA of these improvements?
Especially, the last issue seems to be a few months old already.

We can certainly wait for a few weeks but if it's more, we will have to
bootstrap something ourselves. I guess tracking a collection of zip files
would do, or maybe using a shared

[2022-04-21 01:08] #7570 closed

[2022-04-21 03:43] karajan1001 commented on #7605
@plomtb, Excuse me, had you confirmed that the cache file is on the remote side? And what is the output of `dvc status -c` on both `pull` and `push` repo?

Does All of the versions of dvc fail with the exception above?

[2022-04-21 06:46] #5739 closed

[2022-04-21 07:03] Clayrisee commented on #5999
Hai @pmrowla , is it supports remote repository?

[2022-04-21 07:30] pmrowla commented on #5999
@Clayrisee what do you mean by remote repository? Using `Repo.pull` works the same way as `dvc pull`, so you need a local DVC repository, and then you pull from DVC remotes into that local repository.

[2022-04-21 07:45] shuozhou opened #7610 "gc: remove original files linked by other projects when shared cache is used"
# Bug Report

## Description
when shared cache is used and two projects have overlapped files, remove files via `gc` in projectA seems to also remove the original files, which broken the some links in projectB (overlapped files)

### Reproduce
Example:

[code]

### Expected

the overlapped file should still be maintained in cache and remote

### Environment information
**Output of `dvc doctor`:**

[2022-04-21 07:51] skshetry commented on #7610
@shuozhou, [`dvc gc` has `-p` flag](https://dvc.org/doc/command-reference/gc#-p) where you can specify more dvc repositories to keep the data from. Thanks.

[2022-04-21 07:52] plomtb commented on #7605
Hi, thanks for your quick response. It seems that I confused myself with trying different things. I have an issue, but not that one I described here, sorry.
I think I have the same problem as described in #4164
The push repository does not realize that files are missing on the azure remote and commands like `dvc status -c` tell everything is in sync. (I also tried deleting tmp/index.)
Should I reo

[2022-04-21 08:22] Clayrisee commented on #5999
What I mean is if I want to read the dataset from another remote repository and download the dataset into the current repository.

Like if I have 2 repositories, 1 repository for the dataset and 1 for the trainer, I want to read the dataset repository with the given URL git dataset repository and automatically pull the dataset into the trainer repository. is it possible to achieve this?

[2022-04-21 09:42] SamKnightGit commented on #7356
Hey DVC team! Wondering whether there is an ETA on this issue or if not, whether I can take a stab at a fix? I am working with a setup where I require per-dvc-file remote outputs and this bug is making it infeasible to update (and push) ml model files to dvc remotes when conducting model training on Gitlab runners.

[2022-04-21 10:20] pmrowla commented on #5999
It sounds like you are looking for `dvc import` and not `dvc pull`: https://dvc.org/doc/command-reference/import#import

To do it from python you can use `Repo.imp()` (see the code for `dvc import`)
https://github.com/iterative/dvc/blob/23e62a9ff7970de697f6a1ebbf55e6fc1538dee7/dvc/commands/imp.py#L15

[2022-04-21 11:41] Clayrisee commented on #5999
Awesome! Thanks for your help!

[2022-04-21 14:09] onew4y opened #7615 "Aborting dvc exp run with Ctrl+C leads to error"
# Bug Report

Aborting `dvc exp run --run-all` with `ctrl+c` leads to a stuck dvc repository

## Description

I ran a `dvc exp` and aborted it with `ctrl+c` as I did many times before. But this time something got stuck. I couldn't work with dvc anymore. I always got following output.
[code]

### Reproduce

Unfortunately I expect this behavior to be highly dependant on the current pipeline step whi

[2022-04-21 14:13] RBMindee commented on #7607
I tried to run viztracer, but it appears the file looses information even if I use a relatively small subset (3000). Anyway, I joined the file.
[viztracer.dvc-20220421_161104.zip](https://github.com/iterative/dvc/files/8531698/viztracer.dvc-20220421_161104.zip)

I timed three configurations for benchmark:
- dvc pull
- aws s3 cp on the actual files downloaded by dvc (the dvc remote directory)
- aws

[2022-04-21 14:28] clamydo commented on #1307
Fish gained a `--no-config` option that could be used, when detecting fish (see https://github.com/fish-shell/fish-shell/pull/7921)

[2022-04-21 14:31] skshetry commented on #7615
@onew4y, could you please share the `.dvc/tmp/rwlock`? Was it empty?

I think it's due to the fact that the workspace/cache is in some kind of NFS, due to which the `json` file  content has not been flushed yet.

@onew4y, would it be possible for you to try adding a `fsync` in the code? We were using `fsync` for `rwlock` but removed for performance reasons in https://github.com/iterative/dvc/commi

[2022-04-21 14:35] onew4y commented on #7615
@skshetry unfortunately i don't have the file anymore. since i deleted the tmp-folder to keep working on my project. but I can assure you that is was empty.

for the moment i was not able to reproduce the issue anymore. maybe I was just extremly unlucky and got a bad moment to hit `ctrl+c`.

[2022-04-21 15:08] daavoo commented on #7607
Thanks @RBMindee ! Could you run the same but with `--jobs=1` and `--viztracer-depth 8` ?

[2022-04-21 15:48] efiop commented on #1307
@clamydo Thanks for the heads up! 🙏 We would appreciate a PR if you or anyone else is interested in contributing.

[2022-04-21 18:11] clamydo commented on #1307
@efiop I started today to hack something together. Just adding the option seems easy, however, checking if a fish version above 3.3 is installed and only then apply the option is a tad more fishy. I currently run `fish --version` in `warn_if_fish` and check for the version.

But I haven't had time time yet to figure out, how to cleanly adapt the `_make_cmd` function, without spawning a subprocess

[2022-04-21 20:25] dberenbaum commented on #7585
Related issues/discussions:

* https://github.com/iterative/dvc/issues/5037
* https://github.com/iterative/dvc/discussions/6039
* https://github.com/iterative/dvc/issues/6042
* https://github.com/iterative/dvc/pull/5984#issuecomment-841069142

[2022-04-21 23:48] shuozhou commented on #7610
is the <path> in -p should be the project data to remove, or to keep?
if the second case, dose that mean we have to list all remaining N-1 projects in order to delete a data safely, when the cache/remote is shared among N projects?

[2022-04-22 03:39] karajan1001 commented on #6387
A Related case but in `dvc remove` instead of `dvc add`.

[2022-04-22 07:23] samtzai commented on #7605
IMHO, this issue is similar to the one we notiffied at #7564. By any reason, if dvc push do no report upload files that fails and, as they are stored inside a dir that seems to be correcly uploaded, .dir optimization does not recognice that they are missing.

[2022-04-22 07:28] skshetry commented on #7615
@onew4y, closing for now, please reopen if it happens again or you can reproduce it.

[2022-04-22 07:28] #7615 closed

[2022-04-22 07:29] skshetry commented on #7610
@shuozhou, it takes path to the dvc repositories' root.

[2022-04-22 07:29] #7610 closed

[2022-04-22 09:37] daavoo commented on #7607
Ideally, we should reduce to the minimum (there is always going to be some) the performance gap between cloud API and DVC transfer. However, regardless of using DVC or not, transferring a compressed artifact is going to be faster than a directory of files.

It's up to your use case and totally ok if you don't see any downsides. From the top of my mind, I could think as tradeoffs that transferring

[2022-04-22 10:01] pared commented on #6150
@dberenbaum Ill try to fix that during #7086. There will be some changes in logic handling the targets, I should be able to squeeze some tests for that use case there too.

[2022-04-22 10:03] pared commented on #7585
@dberenbaum I guess to some extend #6150 ?

[2022-04-22 12:38] karajan1001 commented on #7605
might related to #7268?

[2022-04-22 13:46] meowcat opened #7619 "add: Repeated `dvc add` clears executable flag from files (`cache.type = copy`)"
# Bug Report

## Description

With `cache.type = copy`, executing `dvc add -R` twice clears the executable flags from the added files. The first time, `isexec` is correctly added  to the corresponding `.dvc` file; the second time, the files lose their executable flag and `isexec` is removed from the `.dvc` file.

### Reproduce

[code]
### Expected

One of two things:
* either *don't touch* the exe

[2022-04-22 14:43] lefos99 commented on #6271
@dberenbaum Do you mean if the `dvc.yaml` files are going to change or the `dvc.lock` files?

But to answer to you question, all `dvc.yaml` files are also subject to change at any time. Our structure is the following:
[code]

[2022-04-22 16:53] kalebo opened #7620 "diff: `--hide-missing` doesn't seem to work"
# Bug Report

## Description
The [documentation](https://dvc.org/doc/command-reference/diff#--hide-missing) seems to suggest that I can list only dvc files that have been explicitly checked out, ignoring any that don't exist in the local cache. This is would be very useful in my particular workflow as I am primarily doing partial checkouts of specific datasets in DVC. E.g., fetching only a specifi

[2022-04-22 19:29] daavoo commented on #6271
@lefos99 Do the projects share some data or are they isolated?

If they are isolated, you could set up each one with `dvc init --subir` (https://dvc.org/doc/command-reference/init#examples-initializing-dvc-in-a-subdirectory). After that, If you run `dvc exp show` inside a subdir you will only see the metrics and params associated with that `dvc.yaml`

[2022-04-23 07:09] mraxilus commented on #5172
This is my most wanted feature. Just adding my perspective, as I have a collection of models I want to run on a collection of datasets. If I could nest them, my config size would literally lose an order of magnitude in terms of line count.

[2022-04-25 00:05] dberenbaum commented on #6271
@lefos99 Right, sorry, I meant the `dvc.lock` files. How likely is it that you are running experiments in multiple project folders at the same time?

Not to discount this feature request, just looking for workarounds that could help.

[2022-04-25 05:37] EyescannerJE opened #7622 ".dvc file specific cache location"
### Scenario
I am working with a few datasets, some are very large and some are quite small, all are tracked by DVC. I have set up a shared cache on a NAS to be able to handle the large datasets, however there is no need to cache the smaller datasets on the NAS. And since I don't always have access to the NAS I would like to cache the smaller locally.

### Possible solution
Add the option to speci

[2022-04-25 05:38] plomtb commented on #7605
For my case, it would be great if there was a possibility to check if at least all files are on the remote. Let me know, if I should make a comment in one of the other issues. This can be closed, I think.

[2022-04-25 06:25] EyescannerJE commented on #7622
The same feature has already been implemented for remotes: https://github.com/iterative/dvc/pull/6486

[2022-04-25 06:50] karajan1001 commented on #7605
In #7530, a different behavior ( In this case, the already existing files are regarded as new) but, like this one, is all about the wrong `status` output.

[2022-04-25 06:50] #7605 closed

[2022-04-25 07:02] pmrowla commented on #7567
Closing this for now since it's not reproducible, if you encounter the issue again feel free to reopen it.

[2022-04-25 07:02] #7567 closed

[2022-04-25 07:55] lefos99 commented on #6271
Simultaneously we don't (and we can't as with DVC and  `.dvc/tmp/rwlock` is not possible).
But in general, the commit messages can be intermingled with different DVC experiments from different projects.

[2022-04-25 07:57] lefos99 commented on #6271
Oh, that's interesting, I didn't know that. Thanks @daavoo
That would be a nice solution but I wonder if it's too late for my project now and whether it's possible to split it into different sub-projects, as it has been developed for quite some time now.

[2022-04-25 10:53] daavoo commented on #7575
## Differences

- `src/*`

Missing in Studio - Present in DVC

These are files explicitly marked as DVC dependencies in `dvc.yaml` but are not shown in Studio (because they are tracked by git?).

- `prc.json` / `roc.json` / `scores.json`

Present in Studio - Missing in DVC

These are `metrics` and `plots` outputs (tracked by git in this case).

---

## Exp show behavior

`dvc exp show --json` retu

[2022-04-25 10:57] daavoo commented on #7575
@dberenbaum @shcheklein @mattseddon Can I get confirmation that you want the 3 checkboxes to be implemented and that you don't need additional info for `2) intermediate artifacts (stage outputs)`?

[2022-04-25 12:21] hhoeflin commented on #5562
I was trying out the `state.dir`  and `index.dir` options and this does indeed solve the performance issue. However, I was wondering about another issue ... does this mean that I now have to do all my `dvc checkout` operations from the same machine (as /tmp is not shared across a cluster)? Is there a workaround for this?

Thanks!

[2022-04-25 12:48] karajan1001 commented on #5562
Hi, @hhoeflin , These files are only local database caches (store some metadata), not the file cache. So it will not affect your `checkout` operation in other machines.

[2022-04-25 14:17] shcheklein commented on #7578
I think, it was fixed here https://github.com/iterative/example-repos-dev/pull/107/files

It does both. If commit belongs to main it would compare it with previous for any PR (branch) it's comparing with main latest.

--------

I doubt we should be making this behavior part of DVC though. It's too specific to this use case, will introduce asymmetry into commands. Sounds too complicated tbh.

[2022-04-25 14:52] dberenbaum commented on #7578
Is it a common enough scenario to be worth the additional logic? Comparing to the head of main might be enough for most use cases and is more clear than trying to address every possible way that people might want to push and compare changes. For example, a forking workflow probably needs entirely different logic to compare to the upstream fork.

[2022-04-25 15:55] shcheklein commented on #7578
Yep, a bit. But it was done to make it look a bit better in Studio (have more than one report) rather than trying to keep very simple for the sake of showing CML itself. I think that's fine in this specific case since it's not a primary entry point into CML.

[2022-04-26 06:25] dparmar61 opened #7633 "DVC add giving error"
# Bug Report
dvc add : giving error for ignored files

## Description
I am using "dvc add -R --glob **/*.json" command and I have added "**/*dummy.json" in .dvcignore. So while running command it is giving error for config_dummy.json file

[2022-04-26 06:36] mattseddon commented on #7575
@daavoo we'll discuss tomorrow at the cross-team meeting and come back to you, thanks.

[2022-04-26 07:40] mh-synth opened #7635 "Renaming vars on import"
Sometimes, in a `dvc.yaml` file, you want to import two variables of the same name from different yaml files. An example:

    vars:
        dataset_a.yaml:location
        dataset_b.yaml:location

    stages:
        merge_data:
            cmd: python merge_data.py ${HERE WE'D WANT location FROM DATASET_A} ${HERE_WE'D WANT location FROM DATASET_B} ./output_data
            deps:

[2022-04-26 10:05] karajan1001 commented on #7633
Can reproduce it, I think that we should skip them instead of error out.
[code]

[2022-04-26 10:17] fguiotte commented on #7343
Transferring also occurs during `dvc run` and `dvc repro` and there is no `--jobs`.

I have the same problem on my setup, DVC is so slow during checksum and transfers that it becomes unusable. In the config file, setting `checksum_jobs`  to `1`  did the trick for checksums but there no such option for transfer.

https://github.com/iterative/dvc/blob/220c633497f07c0ad9af0786cb36f738ea18178d/dvc/dat

[2022-04-26 13:29] carlthome opened #7638 "import-url: importing directory from GCS bucket downloads to parent directory"
# Bug Report

## Description
This could be a user error but something is confusing (and seems wrong) with `dvc import-url gs://my-bucket/my-external-data-dir/` and where the files get downloaded to. Checksums are computed correct but the downloaded directory is empty (`WARNING: 'my-external-data-dir' is empty.`).

### Reproduce
Create a new git repo
[code]

Initialize dvc inside git repo
[code]

C

[2022-04-26 16:07] dberenbaum commented on #6150
@pared That sounds good, but I don't want to further expand the scope of that issue/PR more than needed, so I wouldn't push for it in there.

[2022-04-26 18:54] dberenbaum commented on #7619
@skshetry @efiop In the `dvc add -R dvcfiles` scenario, I'm not understanding why DVC doesn't preserve `isexec` since each individual file has its own `.dvc` file. In the case of adding the entire directory with `dvc add dvcfiles`, it might be trickier since there's no way currently to save the `isexec` info. WDYT?

It seems like it would also be nice to preserve the executable flag at the group/o

[2022-04-26 19:32] #7549 closed

[2022-04-26 20:49] choux130 opened #7640 "Errors on `dvc get --show-url` after update from 2.7.4 to 2.10.1"
# Bug Report

## Description

Hello, I tried printing the storage location by running `dvc get --show-url`  and got errors on version 2.10.1 but it works well on version 2.7.4. Any thoughts about what might cause it or how to avoid the error on 2.10.1?

### Reproduce

The following code works on version 2.7.4 but not in 2.10.1
[code]

### Expected

I expect the result will be the same on both vers

[2022-04-26 21:17] daavoo commented on #7640
Could you try with`pip install scmrepo==0.0.18` ?

Fix should be shipped in next release

[2022-04-26 21:49] dberenbaum commented on #7575
I'm also unclear on whether these should be included. Do you think the VS Code experiments table would ever need either of these for the experiments table @shcheklein @mattseddon?

My worry is that adding them to `--json` is basically adding junk from the viewpoint of a CLI user in that it's not really helpful experiment info and it doesn't show up in the CLI table or other output formats.

👍

@sh

[2022-04-27 02:18] karajan1001 commented on #7619
I can reproduce it on the latest DVC version.

[2022-04-27 02:27] karajan1001 commented on #7610
`gc` on some share storage systems is quite hard work. Without some additional information, we can not know if the caches were linked to some other repository. Even if we backup the link info on the remote, it would be outdated if some changes happened locally without any connection to the remote ( for example, the laptop was lost). What we can only do here is to give more information and trust th

[2022-04-27 13:32] choux130 commented on #7640
Yup! Version 2.10.1 works after doing `pip install scmrepo==0.0.18`. Thank you very much for the prompt response. 👍

[2022-04-27 13:53] #7640 closed

[2022-04-27 15:37] dberenbaum commented on #7118
#7581 closed #7384, but as noted in https://github.com/iterative/dvc/issues/7601#issuecomment-1103531163 😅 , this is still an issue. Any plan on how/when this is expected to be fixed?

[2022-04-27 15:45] dberenbaum commented on #6106
@karajan1001 @efiop When will get back to #6120?

[2022-04-27 20:01] dberenbaum commented on #6094
This looks like it was actually fixed in #7345 and `isdir` is now correct.

[code]

However, the new file only shows up in `dvc list` without `--dvc-only`. According to https://github.com/iterative/dvc/issues/5712#issuecomment-849838520, a new file in a tracked folder shouldn't show up at all in `dvc list` with or without `--dvc-only`. `dvc list` should only show the dvc-committed state of tracked

[2022-04-27 22:31] mattseddon commented on #6094
Thanks, @dberenbaum. The extension is no longer reliant on `list` (we'll use the new `status` for all of our data tracking needs) so I was only keeping this open for the bug.

[2022-04-27 22:31] #6094 closed

[2022-04-28 08:24] daavoo commented on #6230
I might be missing something but I think this is fixed by https://github.com/iterative/dvc/pull/7213 ?

[2022-04-28 09:03] karajan1001 commented on #4312
I think you can set the large datasets as remotes in this case. For the original problem. Some of the file systems (for example zfs) can combine several HDDs to a pool and mount it to one single directory.

[2022-04-28 10:15] dtrifiro commented on #7638
Can confirm this is happening, possibly due to the fact that we're not stripping the remote fs protocol in the `relparts()` call here:

https://github.com/iterative/dvc/blob/127a9c74b2dcf57c783e8f92b9292c49c165a814/dvc/fs/base.py#L400-L405

[2022-04-28 11:56] #7448 closed

[2022-04-28 14:52] dberenbaum commented on #4232
@clementperon Sorry for the delay. Is '/home/clement/XXX/.dvc/remote-cache/` the dvc remote from which you are trying to pull?

[2022-04-28 15:01] clementperon commented on #4232
@dberenbaum yes it's a mount point either sshfs or nfs mounted in Read-only.

I shared data throurgh multiple clients, each client mount the data folder in sshfs or nfs and I don't want them to write in this folder.

Unfortunately dvc try to write a tmp file in this folder... Is it possible to change the location where this tmp file is located ?

[2022-04-28 15:01] Guillaume-oso opened #7656 "Deprecation warning with package assyncssh when using dvc.api.open"
I get a Deprecation Warning when cloning stuff with dvc.api.open(...)

/home/guillaume/alertor/.venv/lib/python3.8/site-packages/asyncssh/crypto/cipher.py:29: CryptographyDeprecationWarning: Blowfish has been deprecated
  from cryptography.hazmat.primitives.ciphers.algorithms import Blowfish, CAST5
/home/guillaume/alertor/.venv/lib/python3.8/site-packages/asyncssh/crypto/cipher.py:29: Cryptography

[2022-04-28 15:19] dtrifiro commented on #7656
https://github.com/ronf/asyncssh/issues/473

[2022-04-28 15:47] dberenbaum commented on #7578
@casperdcl WDYT? Can we close this or move it to a discussion if you still feel there could be something to change in DVC?

[2022-04-28 15:57] dberenbaum commented on #7230
Possibly related: #5562

[2022-04-28 15:58] dberenbaum commented on #6640
@skshetry Do you think we can include this scenario in `dvc status` improvements, or should we keep it separate since it relates to imports and external repo cloning?

[2022-04-28 16:17] Voxelworld opened #7657 "DVC diff tool support (like git difftool)"
Hi all

I had a discussion on _discord_ regarding a common usecase which may be of general interest.

I would like to use DVC for versioning a larger ML repo (~30K folders, 200K files). A typical workflow would be that a script or user is adding and improving data in the workspace, and afterwards I would like to check the changes for some samples, before adding them.
`dvc diff` lists the changed f

[2022-04-28 17:35] dberenbaum commented on #7620
This looks like it was introduced in #7353 and is coming from changes to the `if` statement  in:

https://github.com/iterative/dvc/blob/c81d841fd75d5a965613905689db174df3b5585d/dvc/repo/diff.py#L187-L199

There are a couple different issues here:
1. Under the logic introduced in #7353, it's only possible for directories to be considered missing.
2. Even directories appear not to be working as expe

[2022-04-28 17:59] dberenbaum commented on #4232
Unfortunately I'm not aware of any workarounds at the moment.

[2022-04-28 18:40] dberenbaum commented on #7573
Sorry for the delay in responding @nsorros. Can you provide a more detailed example and exact output log and dvc version info?

If I try to pull with the wrong `AWS_PROFILE`, I get the following error:

[code]

[2022-04-28 20:23] florianspecker commented on #4232
For how we use dvc, staying with version 2.1.0 does the trick. It's slow, but at least it works.

[2022-04-29 06:38] #7418 closed

[2022-04-29 07:42] drorata opened #7660 "exp-init: broken in a fresh repo"
# Bug Report

## Description

The command `dvc exp init` is broken and returns:

[code]

### Reproduce

1. Start a fresh git repo
2. Run `dvc init`
3. Run `dvc expo init`

### Expected

I expected the behavior as described in the [docs](https://dvc.org/doc/command-reference/exp/init).

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

The outpu

[2022-04-29 07:57] skshetry commented on #7660
@drorata, `exp init` requires an explicit command (it will prompt you if you use `--interactive`).

This is what the docs say:

[2022-04-29 08:17] drorata commented on #7660
Thanks @skshetry. I don't have deep enough understanding around this, but I would argue that a more verbose error message would be helpful for the users.

[2022-04-29 08:21] skshetry opened #7661 "diff gets confused when the object is not in cache"
[code]

#### Expected

That it shows some files are not in cache correctly.

#### Actual

[code]

[2022-04-29 08:49] dtrifiro commented on #7660
Hi @drorata, thanks for the report.
 `dvc exp init --help` mentions that `command` is a positional argument and, as skshetry mentioned, it's also mentioned in the docs. Closing for now

[2022-04-29 08:49] #7660 closed

[2022-04-29 09:03] #5712 closed

[2022-04-29 09:05] dtrifiro opened #7662 "dvclive dependency"
https://github.com/iterative/dvc/commit/70b57d4703348d17447e9d95626b1d5c151605e9 made `dvclive` an hard dependency.

As a result of this, conda builds are broken:

https://github.com/conda-forge/dvc-feedstock/pull/259

[2022-04-30 13:54] dtrifiro opened #7666 "http remote broken"
Changes introduced in https://github.com/iterative/dvc/pull/7649 (add atomic upload function) [are breaking](https://github.com/iterative/dvc-http/runs/6237130209?check_suite_focus=true#step:8:675) http remotes because fsspec's `HTTPFileSystem` does not implement `_cp_file`.

[2022-04-30 14:34] efiop commented on #7666
And looks like we triggered a "is subject to bucket's retention policy and cannot be deleted, overwritten or archived until" error in gs. Reverting for now.

[2022-04-30 16:11] dtrifiro commented on #7666
Closing this as the change has been reverted.
cc @skshetry

[2022-04-30 19:49] #7662 closed

[2022-04-30 20:06] sjawhar opened #7668 "`plots diff`: fails when checked out file is symlink to directory outside the project"
# Bug Report

## Description

When using a cache directory outside the project directory (e.g. [shared development server](https://dvc.org/doc/use-cases/fast-data-caching-hub#example-shared-development-server)) with a link cache type, then `diff` commands (at least `plots`, possibly others) can fail with
[code]

The failing logic is here: https://github.com/iterative/dvc/blob/58d960a47ca835acad11f

[2022-04-30 22:31] efiop commented on #7666
Let's keep it open for now.

[2022-05-01 09:56] mattlbeck opened #7669 "`exp pull`: _get_file() got an unexpected keyword argument"
# Bug Report

## Description

Ominous error when trying to run `dvc exp pull` to pull all experiments for certain revision

[code]

I recieve a number of these errors for various md5 strings. A separate concern is that I think DVC is looking at more than the revsion I specify, but that still happens with older versions without the error I have encountered here.

### Reproduce

Using `dvc==2.10.2`

[2022-05-01 12:49] efiop commented on #7669
@mattlbeck Could you please post full verbose log for `dvc exp pull origin --rev HEAD -v`?

[2022-05-01 13:47] mattlbeck commented on #7669
@efiop here's a complete traceback:
[code]

[2022-05-01 14:31] guyrosin opened #7670 "`get`: fails to clone because "no valid credentials provided""
# Bug Report

## Description

When executing `dvc get` or `dvc update`, a "failed to clone repo" error appears, which originates from a "dulwich.client.HTTPUnauthorized: No valid credentials provided" error.
This started happening without any clear reason, after several weeks of working with DVC with no problem.

Related issues: https://github.com/jelmer/dulwich/issues/882, https://github.com/pyth

[2022-05-01 16:08] dtrifiro commented on #7668
Possibly related issue on discord, for an user using an NFS mounted cache/remote:
`WARNING: 'plots/cv.csv' was not found at: 'HEAD`

Original discussion:
https://discord.com/channels/485586884165107732/563406153334128681/969131515579609118
https://discord.com/channels/485586884165107732/563406153334128681/969989621960298496

Many thanks to @sjawhar for the detailed report

[2022-05-01 17:09] dtrifiro commented on #7670
Hi,
I see that https://dagshub.com/aviv/data-repo gives me a 404. I'm assuming this is because that is a private repo (either that or it has been deleted)

Since you're saying that this started happening recently was is changed to private recently?

[2022-05-01 17:55] efiop commented on #7669
@mattlbeck It seems like you have an older s3fs version than the one we support. Could you please `pip install -U s3fs` and check `pip freeze | grep s3fs`?

[2022-05-02 07:22] Vineet-Sharma29 opened #7673 "Get list of files changed in last dvc push"
I want to list data files changed in last dvc push. However, after going through docs it seems this isn't possible in current version of dvc. List files can be similar to `git diff-tree -r ` functionality in git.[[ref]](https://stackoverflow.com/questions/9652435/how-can-i-see-all-the-files-that-were-modified-added-removed-in-the-last-push-re)

[2022-05-02 07:38] Vineet-Sharma29 commented on #7673
Searched more through docs. `dvc diff` seems to do the job

[2022-05-02 07:38] #7673 closed

[2022-05-02 07:43] guyrosin commented on #7670
Thanks @dtrifiro, this repo has always been private. I've been using it for several weeks already with no problem.
It seems this error started appearing after I updated DVC to v2.10! After downgrading to v2.9.3 everything seems to work.

Here's the whole debugging story FYI:
Initially I used DVC v2.10.3. I tried running `dvc get` and `dvc import` with two git URLs: `https://dagshub.com/aviv/data-r

[2022-05-02 09:29] dtrifiro commented on #7670
Can confirm this is happening, starting from https://github.com/iterative/dvc/pull/7554

[2022-05-02 09:57] #7669 closed

[2022-05-02 11:03] dtrifiro opened #7675 "dvc exp run: failing with [merge] ff.only in git config"
# Bug Report
## dvc exp run: failing with `ff.only True` in git config
## Description
`dvc exp run` fails when git is configured to only use fast forward merges (`git config --global merge.ff only`)

### Reproduce
[code]

### Expected
Succesful exp run

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**
Full traceback:
[code]

[2022-05-02 18:28] dberenbaum opened #7676 "`dvc dag --dot`: Reverse order"
# Bug Report

## Description

`dvc dag --dot` produces the DAG in reverse order.

### Reproduce

Using https://github.com/iterative/example-get-started:

[code]

The resulting graph:

![dag](https://user-images.githubusercontent.com/2308172/166303230-9eef7480-029c-4f25-84d0-fbc90cbdc758.png)

### Expected

[code]

![dag_fixed](https://user-images.githubusercontent.com/2308172/166304037-63a326be-90

[2022-05-02 20:45] dberenbaum commented on #5802
@skshetry I don't want to slow down other work for this, but this seems like a fairly serious bug for `exp init`. It actually breaks the example in https://dvc.org/doc/command-reference/exp/init#example-interactive-mode. What do you think about priority and solution?

[2022-05-03 02:23] karajan1001 opened #7679 "add: Error message on none-dvc repository"
# Bug Report

DVC shows `ERROR: "${repo_path}" is not a git repository` on a Git but no DVC repo.

## Description

[code]

### Reproduce

[code]

### Expected
Show a correct error message

### Environment information

[code]

**Additional Information (if any):**

Looks like DVC tried to seek if the DVC root in the parent directory and throw an exception there as it was not a Git Repo
[code]

[2022-05-03 03:50] skshetry commented on #5802
@dberenbaum, for `exp init`, we can consider creating the parent directory of those outputs, where the `.gitignore` file will be added.

To solve the issue on `stage add` too, we need to fix how we create `.gitignore` files. We need to change the _gitignore-generator_ to backtrack up to the dvc's root directory, likewise on `dvc remove`.

[2022-05-03 05:53] pmrowla commented on #7675
`exp run` requires generating merge commits, which is supposed to fail when a git repo is configured to only allow fast-forwards (and to reject generation of merge commits).

I'm not sure what the expected behavior here would be. We can force generation of a merge commit in experiments (and ignore the git configuration), but if a user is explicitly setting `--ff-only` for a git repo, it seems like

[2022-05-03 06:43] dtrifiro commented on #7675
This is something I found out myself: the problem is that have set `--ff-only` in my global config (`git config --global merge.ff only`).

I guess that if merge commits are required, we could just try adding a friendlier error message mentioning that.

What I'm not sure about though, is why I've run into this issue just now. I had used `exp run` before with no issues and `--ff-only` has been in my

[2022-05-03 06:51] nsorros opened #7681 "repro: DVC is slow with million of files"
## Description

We are experiencing some issues with DVC in a task that produces 3M files as an output. For context these are
embeddings from chunks of documents. In this situation some commands error while other take a lot of time to
complete which is make working with dvc not an option. To be fair producing 3M files that need to be hashed every time
is understandably above the limits DVC expects

[2022-05-03 07:48] pmrowla commented on #7675
I think it's probably because the scmrepo merge implementation wasn't actually handling the ff-only config setting until relatively recently. It was fixed when we moved to using dulwich/pygit clone.

[2022-05-03 08:48] PythonFZ commented on #7553
I'm still trying to test that. The same issue occurs for `dvc init` on a similar NFS mount (`129.69.120.26:/beegfs/work on /auto.bee/work type nfs (rw,relatime,vers=3,rsize=1048576,wsize=1048576,namlen=255,hard,proto=tcp,timeo=600,retrans=2,sec=sys,mountaddr=129.69.120.26,mountvers=3,mountport=20048,mountproto=tcp,local_lock=none,addr=129.69.120.26)`)

Unfortunately, `dvc init -v` doesn't show any

[2022-05-03 08:58] dtrifiro commented on #7681
Hi @nsorros, thank you for the detailed report.

A few questions about your points:
1. does `dvc status` always take a long time to run or just when the `embeddings` directory has been modified? If it is the latter case, an upcoming optimization (#7390) should speed up status considerably in this case
2. could you provide some more information? For example a report with verbose flag `dvc repro -v`

[2022-05-03 08:58] dtrifiro commented on #7681
Related https://github.com/iterative/dvc/issues/7607

[2022-05-03 09:54] nsorros commented on #7681
It always takes time since it recalculates the hashes as I understand it to check if something has changed.

This might be difficult as the actual process that fails takes hours to complete but I will try to reproduce the problem in a different script to give you more information.

I think so yes.

4 in the AWS instance (its a GPU instance) and 8 locally (Apple M1)

I will try the zip approach to

[2022-05-03 10:52] Otterpatsch opened #7685 "Dependency order matters"
Hello Guys,

First of all I (or we as a team) like dvc a lot but for training some model the following stage (some kind of pseudo code but i think you get it):
vars:
- training-config: training/config.yaml
- training-sets: training/datasets
stages:
training:
cmd:
- <somepackage> train ${training-config}
outs:
- ${model-dir}
deps:
- ${training-config}
- ${training-set}

So if one of the dependency

[2022-05-03 11:16] daavoo opened #7686 "plots: Allow to generate single `html` file"
One thing we overlook here is that users might want to use the embedded behavior and after these changes we don't have a way to opt-out from the `dir` creation.

_Originally posted by @daavoo in https://github.com/iterative/dvc/pull/7614#discussion_r863675165_

[2022-05-03 12:07] efiop commented on #7666
Discussed with @skshetry that there are more problems with the previous PR, so we could just close for now

[2022-05-03 12:07] #7666 closed

[2022-05-03 12:15] karajan1001 commented on #7343
For now, we can only manually pull them down with `--jobs` first.

[2022-05-03 12:25] tirkarthi commented on #7492
I have created https://github.com/iterative/dvc/pull/7687 to raise an exception when there is no match for glob in push/pull.

[2022-05-03 12:36] tirkarthi commented on #7679
[code]

I am unable to reproduce this error with the steps. It seems there is an `SCMError` raised such that the line above gets appended. Is `git rev-parse --is-inside-work-tree` working inside the directory?

https://stackoverflow.com/questions/2180270/check-if-current-directory-is-a-git-repository

[2022-05-03 12:47] efiop commented on #7118
Closing in favor of #7668

[2022-05-03 13:12] erudin opened #7688 "Dvc silently skips non-numerics metrics warnings"
## Description

Right now when parsing metrics in studio from a `dvc` repository, all the warnings are silently skipped, so studio is not being provided with the information needed.

**Additional Information (if any):**

Related to: [Issue #3341](https://github.com/iterative/studio/issues/3341)

[2022-05-03 15:45] tyomj opened #7689 "dvc get: git auth with deploy token raises "HTTP Git authentication is not supported: 'origin'""
# Bug Report

## Description
`dvc get` with a provided URL that contains deploy token fails with
```HTTP Git authentication is not supported: 'origin' ```
since 2.10.2.
It happens after [the recent update](https://github.com/iterative/dvc/commit/69acbe33c9b9e863b88b1e7a85f81bb7cbc896ec#diff-e69f69ddbf5d27ac0a490756f4e150e6ba146a7b74125bf7481167ac747c4422R109-R110) in `clone` function which finally

[2022-05-03 16:33] dberenbaum commented on #7575
Clarified with @shcheklein that this is a bug in Studio, and `data/prepared` should be considered an intermediate artifact. So AFAIK intermediate artifacts are those defined as either dependencies or outputs in any intermediate stage (stages which are both upstream and downstream of other stages).

[2022-05-03 16:39] dberenbaum commented on #5712
@skshetry Do you think we should move the rest of the discussion about expected `dvc list` behavior to another issue? I don't believe that's all addressed.

[2022-05-03 18:20] daavoo commented on #7575
Files tracked with `dvc add` or `dvc import` are already present in the `outs` section even if they are not connected to the pipeline, we just don't show `outs` at all in the table.

[2022-05-03 18:58] WilliamHarvey97 commented on #5037
I had this issue. Nothing to add here, but this looks quiet serious to me because it makes `dvc gc -A` such a dangerous command.

[2022-05-03 19:00] daavoo commented on #7575
I added in https://github.com/iterative/dvc/pull/7690 what I believe is all the info required by VSCode to make decisions.

I extended the `--json` output with additional info (`fs_path`, `use_cache` for outputs) that was already being collected. I think we should not further complicate the collection of data that happens in `repo.experiments.show`.

About the original 2 requests, here is how I wo

[2022-05-03 20:27] dberenbaum commented on #5802
In that case, do you know why we try to create `.gitignore` entries on `stage add`?

[2022-05-03 23:58] dberenbaum commented on #4232
@florianspecker Is there some regression you have noted after 2.1.0? Your original issue was with 1.1.10. Was it fixed at some point?

[2022-05-04 00:20] dberenbaum commented on #7619
It looks like this is a regression introduced in #7313.

Prior to that change, after running the script above, I get:

[code]

Running the same script after that change, I get:

[code]

[2022-05-04 00:38] dberenbaum commented on #7661
Looks like a regression introduced in #6595. Before then I get:

[code]

[2022-05-04 02:07] shcheklein opened #7691 "plots: http remote fails to open an existing file"
# Bug Report

This thing is a bit of a critical since affects experience with VS Code for new users if we use DVC-tracked plots.

## Description

Run `dvc plots show -v` on a repo with an HTTP remote
Repo should be just cloned, DVC cache is empty
One of the plots should be a DVC-tracked image

Raises: `https://remote.dvc.org/mnist-vscode/97/b176d8fcd0590c82f0f7499850c65b: _request() got an unexpec

[2022-05-04 02:51] pmrowla commented on #7689
Closing as duplicate of https://github.com/iterative/dvc/issues/7670

[2022-05-04 02:51] #7689 closed

[2022-05-04 04:03] karajan1001 commented on #7573
I also had a similar problem in GCS.

[2022-05-04 05:15] shcheklein opened #7692 "plots: return error messages for failed plots"
## Description and Motivation

If plots can't be processed we log only basic message and skip those plots in the `json` output:

[code]

[code]

We need to have better results, granular messages about failed plots so that we can show in VS Code properly instead of silently ignoring it, see

## Current Output

All examples are done for multiple revisions, `--json` + `--split` flags.

<details>
<sum

[2022-05-04 05:55] pmrowla commented on #7675
Thinking about this some more, we should probably just override `ff-only` for DVC-generated experiment commits, given that we aren't merging anything into user-managed branches (only in DVC exp refs)

[2022-05-04 06:45] mattseddon opened #7693 "`exp show`: lockless issues"
# Bug Report

## Description

After the recent changes to make `exp show` lockless I am seeing intermittent issues with the data returned during experiment runs.

The issues that I have seen so far are as follows:

### Running checkpoint experiments from the queue

1. `exp show` fails when running experiments from the queue with `dulwich.porcelain.DivergedBranches` errors.
2. @pmrowla tried to pat

[2022-05-04 07:29] daavoo commented on #7691
`encoding` is None, in this case, we don't really need it

[2022-05-04 07:33] daavoo commented on #7691
We should not be passing `encoding` outside `kwargs` in our BaseFileSystem as fsspec expects this to be passed via kwargs:

https://github.com/fsspec/filesystem_spec/blob/308600c04176fd74ddcd88d1ea7d5c713b6f558d/fsspec/spec.py#L982-L1012

[2022-05-04 07:38] karajan1001 commented on #7679
I see, it was because there is some `.dvc` cache that remains in the parent directory.

[2022-05-04 07:38] #7679 closed

[2022-05-04 08:58] pmrowla commented on #6586
related:
https://github.com/iterative/dvc/issues/6586
https://github.com/iterative/dvc/pull/7674

[2022-05-04 09:06] pmrowla commented on #6586
Adding this to the backlog as follow-up to the workaround in #7674

from https://github.com/iterative/dvc/pull/7674#issuecomment-1115844175:

Adding support for this requires implementing the [git credentials storage](https://git-scm.com/book/en/v2/Git-Tools-Credential-Storage) protocol in dulwich and/or libgit. On the dulwich side, essentially this just means:

- reading the name/path of an execu

[2022-05-04 09:53] Danial-Alh opened #7695 "gc files older than specific rev"
I want to remove all DVC files being at least ten commits behind HEAD from my remote repo. Is there any way to do that with the `gc` command?

Thanks

[2022-05-04 10:36] pared commented on #7692
What will be the `error` data used for? Do we only want to pass the error message to the user? Or will there be some logic involved with processing the errors on `vs-code` side?

[2022-05-04 11:21] mattseddon commented on #7692
We'll be processing the errors before displaying anything to the user. Would be good to have a way to identify where certain revisions are missing data due to errors (as in the example provided in https://github.com/iterative/dvc/issues/7691).

[2022-05-04 14:58] dberenbaum commented on #5037
In addition, we recently introduced `-n` to various `dvc exp` commands to specify the last n commits. The same option might be useful for `gc` to keep some limited history.

[2022-05-04 21:13] dberenbaum commented on #7534
Sorry, I think I was too quick to approve this. Looking at it now, it seems more transparent to:

* Make `--live` optional and off by default for both `default` and `dl`. This makes `--type dl` seem less useful since it only differs by including checkpoints, but I don't think it's bad that we are unifying and simplifying.
* Make `--live` independent from whether to include `checkpoints: true`.
* M

[2022-05-04 22:37] mattseddon commented on #7693
I managed to catch the behaviour of a checkpoint experiment being collapsed to a single record without a name (and then returning to all checkpoint):

https://user-images.githubusercontent.com/37993418/166836504-6e839a0f-6d8f-4226-835c-6f0203b47412.mov

[2022-05-05 02:00] jorgeorpinel commented on #6507
How would DVC know what stage this python file is associated with? Would it only work automatically if the file is in the `cmd` field of dvc.yaml? If you have to specify which stage then it's less "magical".

[2022-05-05 02:51] #7356 closed

[2022-05-05 03:15] skshetry commented on #7661
@dberenbaum, I expect to not have any warnings at all, we have a `Not in cache` list for this, `Added` is misleading.

[2022-05-05 07:11] danudeep90 commented on #6668
@macio232 : Did you figure out a way to get the experiment name which is auto generated by dvc. I would like to log it into MLFlow tracking

[2022-05-05 07:30] macio232 commented on #6668
@danudeep90, unfortunately not. I was hoping somebody would answer my call :) I would like to log it into wandb tracking. Once it is there, I will immediately start using it.

[2022-05-05 07:53] pmrowla commented on #6668
Part of the issue here is that currently the auto-generated experiment names are not generated at all until the experiment has finished (and the way the names are generated requires a completed experiment run).

Basically the easiest way to do this right now would be to autogenerate your own names beforehand and run experiments with `-n/--name`

[2022-05-05 07:58] pmrowla commented on #6668
related discussions regarding changing the way we generate exp names: https://github.com/iterative/dvc/issues/6071 https://github.com/iterative/dvc/issues/6680

[2022-05-05 08:18] danudeep90 commented on #6668
@pmrowla : Can i configure the experiment name in the params.yaml so that when i execute **dvc exp run**, it is picked from params.yaml file

[2022-05-05 08:30] pmrowla commented on #6668
No, it has to be done via the `-n/--name` argument

[2022-05-05 08:58] karajan1001 commented on #7619
I'm curious how we handle this kind of metadata for now. An example is the `tar` in `Unix` which is good at handling Unix permissions, hard links, softlinks, the different times associated with files. To achieve this, it stores this metadata as a header to the original file.

[2022-05-05 09:11] danudeep90 commented on #6668
@macio232 : You can build a python script to perform the dvc exp run via code and control the name. This could be fetched in the code for model training and logged into wandb or mlflow(url)

Created one file run_experiment.py as
[code]
our params.yaml can be as
[code]

In your training script, you can load the params and log it as below
[code]

The only catch in such a approach is we should stop u

[2022-05-05 10:10] frerksaxen opened #7700 "`dvc install` on windows terminal results in bad hooks"
# Bug Report

## Description
[code]
on windows results in:
`error: cannot spawn .git/hooks/pre-commit: No such file or directory`

## Resolve

The file `.git/hooks/pre-commit` starts with the line `#!None`
I could resolve it by changing pre-commit, pre-push, and post-checkout first line to `#!/bin/sh`

### Environment information

git version 2.34.1.windows.1
DVC version: 2.10.2 (pip)

[2022-05-05 14:40] dberenbaum commented on #7661
True, you are right, they should all be shown under `Not in cache`.

[2022-05-05 15:50] B3QL opened #7702 "erepo: ignores ssh-agent keys in windows git-bash"
# Bug Report

## pull: ignores ssh-agent keys

## Description
DVC 2.10.0 stops using ssh-agent (passed via `SSH_AUTH_SOCK` variable) for git clone operation resulting in `Permission denied` error.
[code]

### Reproduce
[code]

### Expected
Artefacts are downloaded as in <=2.9.5 version

### Environment information
GitHub Actions
[code]

[2022-05-05 15:56] piotlinski commented on #7702
Following up: the data pulled in `dvc pull` command are files imported from another repository; the error happens while trying to clone that repository before pulling the data.

[2022-05-05 16:38] daavoo commented on #7702
@piotlinski Thanks for the report. Could you share a little more traceback detail from `dvc pull -v` ?

[2022-05-05 16:38] daavoo commented on #7702
@pmrowla is this a "ssh-duplicated" version of https://github.com/iterative/dvc/issues/7670 ?

[2022-05-05 17:02] daavoo commented on #7702
Thanks @piotlinski . So, indeed looks like a duplicate of #7670 but using SSH client instead of HTTP.

[2022-05-05 17:43] rubenpraets opened #7704 "push: dir file not pushed because of progress bar error"
# Bug Report

## Description

While pushing data to our azure remote, errors occur in updating the progress bar for some files ( I've so far seen 1-3 file uploads fail out of just 7 being pushed). This causes dvc to think that the file upload failed and so it decides not to upload the .dir file. Actually the file upload did succeed, so on a retry of the dvc push command only the missing .dir file

[2022-05-05 17:57] daavoo commented on #5037
https://github.com/iterative/dvc/issues/7695

[2022-05-05 18:46] dberenbaum commented on #7688
@pared What do you think? Do you need more info?

[2022-05-05 23:25] pared commented on #7688
@erudin are we talking about errors or warnings? Do you have some reproduction steps?

[2022-05-05 23:34] #7691 closed

[2022-05-06 00:00] pmrowla commented on #7702
This is not the same issue. #7670 is due to git credential storage being unsupported. This looks like a problem with asyncssh support for ssh-agent on windows.

@piotlinski what shell are you using in windows?

[2022-05-06 02:19] skshetry commented on #7704
Thanks @rubenpraets for the great research, this is an issue in `adlfs` where it should be fixed.

See https://github.com/fsspec/adlfs/blob/master/adlfs/spec.py#L285-L300 (it even refers to the issue you mentioned 🤷🏼).

[2022-05-06 06:09] mvonpohle commented on #3177
I'm running DVC 2.10.2 and running checksum calculations for `dvc add` `dvc status` and `dvc commit` takes forever. I'm running this on a directory that has a tree-ish structure with 130 directories and ~150 files totally 1.1GB. (It's the result of a Keras-tuner hyper band experiment. Definitely a topical thing for DVC to handle)

From the above thread I'm under the impression that checksum calcul

[2022-05-06 08:09] mridul97-dev opened #7706 "DVC subdependency conflict arising periodically"
# Bug Report

## Description
Hi, currently dvc==2.8.1 is being used within our pipelines and starts to break randomly with the following logs [ss-attached]
<img width="653" alt="Screenshot 2022-05-06 at 1 36 18 PM" src="https://user-images.githubusercontent.com/77056469/167092960-974eeebf-5858-4b58-abae-be61ff01e38a.png">

On further investigation, i noticed that this happens due to subdepdency co

[2022-05-06 08:27] karajan1001 commented on #7695
Looks like we should also introduce our `-n` flag to `dvc gc` and `dvc exp gc`

[2022-05-06 08:55] skshetry commented on #7706
It'd be great if you could provide which versions worked for you? I'll recommend doing a `pip check` too, to see if there are any conflicts due to other packages.

You can use `pip freeze` to see what's changed.

Being a python package/library, DVC has to have good support for a range of versions in those dependencies. If they are incompatible, we do bump the version.

You may also want to install

[2022-05-06 09:01] casperdcl opened #7707 "rename user_id file"
Telemetry/analytics are [anonymised and can be disabled](https://dvc.org/doc/user-guide/analytics#motivation).

However for unification across Iterative's stack (MLEM, TPI, CML etc.) it's a good idea to put the config in one place. Basically move the existing `$CONFDIR/dvc/user_id` to `$CONFDIR/iterative/telemetry`. More explicitly:

[code]

[2022-05-06 10:58] efiop opened #7708 "dvc: drop python 3.7"
3.7 EOL is about a year away, but we already see projects that we depend on start to drop it. E.g. https://github.com/fsspec/adlfs/pull/307 And we will see much more in the upcoming months (e.g. https://numpy.org/neps/nep-0029-deprecation_policy.html).

We went through the process of keeping 3.6 alive a year ago and that was a pretty big waste of time, hunting for deprecations in our dependencies

[2022-05-06 11:37] skshetry commented on #7708
Also, note that Ubuntu 20.04 comes with Python 3.8.

[2022-05-06 12:03] skshetry commented on #7706
We don't really have control over newer versions of those libraries. All of those dependencies are transitive, from `s3fs`, except the `typing-extensions`.

If you can figure out which dependency is the problem there, that'd be great (aiobotocore recently had a release, so it's one of the suspects).

Also, Please try to run the command in `--verbose` mode, it'll have more information. I'll recomme

[2022-05-06 16:33] ElisaSuarez opened #7710 "Include user provided session in dvc.api"
Sagemaker uses session objects to interact with other AWS resources. This includes S3 buckets, which in case of Sagemaker's Jupyter Instances use IAM roles to know which buckets it can or cannot access, and it doesn't allow the creation of user profiles to pass to dvc.

Allowing user to directly provide a session (SM uses `boto3.session.Session`, instead of `aiboto3.session.AiSession`) would provi

[2022-05-06 17:04] shcheklein commented on #7708
Are there any insights on where do these downloads come from? It's very tempting :) The only thing we need to check if it becomes a blocker in some large orgs (for whatever reason some large org has Python 3.7 still locked), or getting it from some pre-backed Dockers that would take them a lot of time to migrate. Would be sad to realize that it can become a blocker in some deals.

[2022-05-06 18:53] tirkarthi commented on #7676
dot generation is done here where using `G.reverse()` will give the expected dot file. But it also fails the test. From the test I cannot infer the right way to look at it.

https://github.com/iterative/dvc/blob/562e61235b4c506659b8f9ded64ab1ed1badc0a8/dvc/commands/dag.py#L21-L28

https://github.com/iterative/dvc/blob/562e61235b4c506659b8f9ded64ab1ed1badc0a8/tests/unit/command/test_dag.py#L137-L15

[2022-05-06 19:03] efiop commented on #7708
@shcheklein No insights about that, unfortunately. We've been recommending all-in-one packages in https://dvc.org/doc/install for a long time now, the only potential issue is linux + venv + python3.7, but it is easy to use deb/rpm/snap/etc instead. If someone absolutely has to use dvc as a library with python3.7, they can use older dvc version until they are ready to migrate. And likely they would

[2022-05-06 19:51] daavoo commented on #3177
Hi @mvonpohle , you can `pip install viztracer` and run `dvc commit --viztracer-depth 8`. You should see in the generated profile that multiple threads are being used.

[2022-05-07 00:26] shcheklein commented on #7708
Yep, agreed, we've never done this one year prior EOL though :). On the other hand situation is different - it's not even close as dropping Python 2 one year before. 3.x adoption is moving way faster.

[2022-05-07 00:59] shcheklein commented on #7710
@ElisaSuarez could you please show a code example how it's done w/o DVC with these sessions? What kind of information do you provide there?

Also, how do use `dvc.api` itself.

[2022-05-07 08:26] bmabir17-asj commented on #4565
Hello @efiop ,
I am getting a similar error
`W: GPG error: https://s3-us-east-2.amazonaws.com/dvc-s3-repo/deb stable InRelease: The following signatures couldn't be verified because the public key is not available: NO_PUBKEY F84CB84729F1B545`
The workflow was working fine 2 days ago.

[2022-05-07 09:37] efiop commented on #4565
@bmabir17-asj Hey. Could you please make sure you ran

[code]

from https://dvc.org/doc/install/linux#from-repo-on-debian-ubuntu ?

[2022-05-07 09:53] bmabir17-asj commented on #4565
@efiop ,
Thanks . After running
[code]
I got another error with `NO_PUBKEY` for nvidia cuda package and solved it with the following commands
[code]

[2022-05-07 19:30] efiop commented on #4565
@bmabir17-asj So it solved the issue for you, right? Just making sure 🙂

[2022-05-07 20:50] bmabir17-asj commented on #4565
@efiop yes

[2022-05-08 02:01] muralidhar972 opened #7711 "ERROR: unexpected error - cannot import name 'OrderedDict' from 'typing_extensions'"
# Bug Report

## Issue name

dvc add : this command should save the data into repo.

## Description

while was running the command it guide me to run git add after running data add. unfortunately data add has thrown an error.

### Reproduce

dvc get https://github.com/iterative/dataset-registry \
          get-started/data.xml -o data/data.xml
dvc add data/data.xml

### Expected

it should make us

[2022-05-08 02:05] skshetry commented on #7711
Hi, can you please share the output from `dvc add data/data.xml -v`?  The verbose mode should have more output. Thanks.

[2022-05-08 11:54] florianspecker commented on #4232
@dberenbaum yes with later versions it's not just `dvc move` that's broken, but also `dvc pull`. I didn't bother reporting on it as I was under the impression that our setup with read-only mounts was too specific to be of general interest.

[2022-05-09 05:35] mridul97-dev commented on #7706
Which dvc version or above would you recommend? Would prefer a version where sub dependency version upgrades dont interfere with dvc pull/push operations.

[2022-05-09 07:57] skshetry commented on #7706
@mridul97-dev, we only support the latest version at any time. :)

It's hard for us to guarantee all transitive dependencies because we don't control most of them. We expect them to be largely compatible, and if some are not compatible, we bump the version where they are. Other packages that you install may also cause conflicts.

Please try with the latest version, and let us know if there's any c

[2022-05-09 07:57] #7706 closed

[2022-05-09 12:38] casperdcl commented on #7578
sure, happy to close if we feel it's not something DVC should be simplifying

[2022-05-09 14:07] dberenbaum commented on #7676
@tirkarthi It's likely that the test is incorrect and needs to be updated, but we should take a close look when reviewing the PR.

[2022-05-09 14:45] skshetry commented on #7711
Thanks @SamKnightGit, it's coming from rich, see https://github.com/Textualize/rich/issues/2164. Please try to update rich to the latest version.

[code]

Let us know, how it goes. :)

[2022-05-09 15:36] SamKnightGit commented on #7711
Works with the most recent version of rich, thanks!

[2022-05-09 15:39] #7711 closed

[2022-05-09 16:22] ElisaSuarez commented on #7710
There are more than one way to download and upload files to S3 from SageMaker. The more straigthforward one is:

`
from sagemaker.session import Session
from sagemaker.s3 import S3Downloader, S3Uploader

sagemaker_session = Session()
S3Downloader.download(
s3_uri, # The uri of the folder or file to download
local_path, # Local path to put the file or folder
sagemaker_session, # The Session Object

[2022-05-09 17:06] shcheklein commented on #7710
@ElisaSuarez got it, thanks, but you also mentioned `boto3.session.Session`. Is it the same as as `sagemaker.session.Session`? Do you suggest `dvc.api` to support SM specific session objects?

[2022-05-09 18:13] ElisaSuarez commented on #7710
The SM session takes an boto3.session.Session object as input, if none is specified it creates one. When you use boto3 library directly, you use a client object.
[code]

You can see the documentation for `boto3.client` [here](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/s3.html#S3.Client.upload_file), and for sagemaker session [here](https://sagemaker.readthedocs.io/e

[2022-05-09 19:45] daavoo commented on #7086
Commenting here to not pollute https://github.com/iterative/dvc/pull/7477 with things that are not implementation-related.

The following syntax is currently supported in the P.R. and can cover all 3 use cases [above](https://github.com/iterative/dvc/issues/7086#issuecomment-985640176):

[code]

[code]

[code]

I'm missing the reasoning behind adding the `data` field. The above syntax looks more i

[2022-05-10 00:31] shcheklein commented on #7710
@ElisaSuarez thanks! I still struggle to understand the issue, to be honest. SM session is a bit too specific to pass it into `dvc.api`, but probably it's not even needed - regular boto3 session should be enough (?) since DVC doesn't access any other resources.

But `dvc.api` should be initializing S3 session internally in some way (`aiboto3.session` or something else, I can check). What is the is

[2022-05-10 01:48] ElisaSuarez commented on #7710
As it is right now, DVC looks for the AWS CLI credentials in the `~\.aws\config` file. But SageMaker does not allow for user profiles. When you create a Notebook instance, you assign it an IAM role which grant it access to specific resources (You can give it access only access to one bucket, instead of all the buckets of your account). This results in a credentials error, which we have no way to m

[2022-05-10 02:36] pmrowla commented on #7710
Can you share the actual error you get when you are trying to use DVC right now?

This issue probably belongs upstream in either s3fs or aiobotocore, on aws systems that have configured IAM credentials, s3fs (and DVC by extension) should already be using those automatically without DVC needing to pass a direct session object into s3fs

[2022-05-10 02:39] karajan1001 commented on #7710
As mentioned above, `Session` object in `sagemaker` is an instance of `boto3.session.Session`.

In DVC we use `s3fs` from `fsspec` as the backend to communicate with the S3 server. It can accept a user's custom session  when initialized

https://github.com/fsspec/s3fs/blob/8abb586d10c5e0d5ab5020355065d1466138f990/s3fs/core.py#L265

But, what it can only accept an `aioboto3.session.AioSession` inst

[2022-05-10 03:19] shcheklein commented on #7710
That's not exactly true as far as I understand. As @pmrowla and @karajan1001 mentioned it is initializing a session object. And it should be taking into account all the possible ways environment could be initialized (at least the regular one Session) - it probably checks env vars, config files (global, local, etc). Question that we need to understand here - what is the difference between SM initia

[2022-05-10 03:27] skshetry commented on #7710
This is what Sagemaker does when creating a client:

https://github.com/aws/sagemaker-python-sdk/blob/5b8eb10bfddcb54fb65c8b28f923697619672120/src/sagemaker/session.py#L146

So, it does not look any different than what DVC/s3fs do, maybe some config parsing issue on DVC/s3fs side before creating a session (maybe they are sending unnecessary arguments to it).

[2022-05-10 03:40] skshetry commented on #3177
@mvonpohle, there is [`core.checksum_jobs`](https://dvc.org/doc/command-reference/config#core) config that you can set.

[2022-05-10 07:02] samuelp-mw opened #7718 "`dvc push --run-cache`: Remote storage run-cache does not seem to be updated"
# Bug Report

## Description

When running `dvc push --run-cache`, the remote storage (S3 in my case) is not updated with the history of the runs. The output of the stages are however correctly pushed to the remote. `dvc status -c` however returns "Cache and remote '<bucket-name>' are in sync."

When manually uploading the runs to S3, `dvc pull --run-cache` is however able to detect the change and

[2022-05-10 08:03] #6438 closed

[2022-05-10 11:47] skshetry commented on #3177
Closing this issue, as `add` already uses multithreaded checksum calculation, `transfer` to cache is also multithreaded. The only part that is not multithreaded is `checkout`, which will get more boost from upcoming `diff` optimizations than being multithreaded (having multithreaded checkout is still a goal but it won't happen in short term).

[2022-05-10 14:52] #7704 closed, assigned to skshetry

[2022-05-10 14:54] ElisaSuarez commented on #7710
Instance characteristics that may be relevant:
- Amazon Linux V2
- Using IAM role with permissions to read/write to a single bucket (It only contains the data uploaded by DCV from my local machine)
- This is a Jupyter Notebook instance created from the SageMaker Managment Console
- Both the Jupyter Instance and S3 bucket are in the same region

I start by installing DVC on the instance (this have

[2022-05-11 01:16] aschuh-hf commented on #2036
Me and my company would also be interested in this! It seems this feature would be quite useful to be able to use DVC for sharing locally downloaded datasets across multiple projects on remote servers. For this, we need a way to clean up the local cache from currently no longer needed data, though the data is still required to reproduce results in the future (hence they are still referenced in `dv

[2022-05-11 04:32] ElisaSuarez commented on #7710
Thank you so so much! I feel kinda dumb now. I made various tests for pushing from SM, pulling into local, and vice-versa and worked every time.

I only have one last comment on this: I have been mostly following the DVC Getting started tutorials and [in this one](https://dvc.org/doc/start/data-management#storing-and-sharing) says to `git add .dcv/.config`, and this file will be different for each

[2022-05-11 04:53] pmrowla commented on #7710
If you have config options that are specific to one user (or one machine) you can use the `--local` flag which will write the config options to `.dvc/config.local` (which is gitignored)

[2022-05-11 05:40] tirkarthi commented on #7676
@dberenbaum I think the graph is generated in the order of final stage pointing to dependencies as per docstring. Hence calling `G.reverse` looks good to me. I will add a PR with output of current image and the PR image.

https://github.com/iterative/dvc/blob/d92c6fed67828a992609c0f49548dba8b7fda15d/dvc/repo/graph.py#L56-L92

[2022-05-11 06:34] pmrowla commented on #7710
Closing this issue since the boto3 session problem is resolved by installing the correct remote dependencies with `dvc[s3]`

[2022-05-11 06:34] #7710 closed

[2022-05-11 07:30] tirkarthi commented on #7661
There is a test similar to this report where with cache folder deleted the new items show up in "added" part instead of "not in cache" part.

1. Does the test needs to be changed?
2. Since the cache might be deleted do we need to check for all the files in a_rev and workspace `(set(old).union(set(new))` to see if they are present in cache?

https://github.com/iterative/dvc/blob/d92c6fed67828a99260

[2022-05-11 10:15] tirkarthi commented on #7676
@dberenbaum created https://github.com/iterative/dvc/pull/7725 as a fix. I have added the png files before PR and after PR for the test case. The PR makes it consistent with mermaid output linked in the PR.

[2022-05-11 10:38] jnissin opened #7726 "push: Unsupported pickle protocol: 5 on python 3.7.11"
# Bug Report

## Description

When attempting to push to remote (Google Cloud Storage) using DVC version `2.10.2` and Python version `3.7.11` I encounter the following error:

[code]

In my tests on python 3.8 this issue does not happen.

### Reproduce

Install DVC version `2.10.2` with Python version `3.7.11` and attempt to push to remote.

### Expected

Expected to pickle successfully and push t

[2022-05-11 10:45] skshetry commented on #7726
@jnissin, can you share the output from `dvc push -v`?

[2022-05-11 10:49] jnissin commented on #7726
Here you go:

[code]

[2022-05-11 10:53] daavoo commented on #7726
This seems like https://dvc.org/doc/user-guide/troubleshooting#pickle but for some reason we are not catching the exception in `pull` in order to redirect users to the link:

https://github.com/iterative/dvc/blob/47d10c4a8b9bdc18dec17a9380f0593e43383c4c/dvc/utils/decorators.py#L13-L30

[2022-05-11 10:57] jnissin commented on #7726
True, I can confirm that the following fixed the issue:

[code]

This is probably due to the fact that we have python 3.8 running in our pre-commit hooks environment.

[2022-05-11 10:58] pmrowla commented on #7726
@jnissin this behavior (but not the incorrect error message) is expected if you are mixing python3.8 and 3.7 usage within the same repo. See the docs linked by @daavoo, you will need to remove `.dvc/tmp/index` before running in python 3.7 in this case.

[2022-05-11 11:00] jnissin commented on #7726
Alright, I'll try to switch our pre-commit environment to use python 3.7 as well. Thanks a lot!

[2022-05-11 11:14] tirkarthi commented on #7708
Ending 3.7 support might also help with pickle related errors caused due to mismatch of Python versions since Python 3.8 uses protocol 5 through https://peps.python.org/pep-0574/.

Related issue : https://github.com/iterative/dvc/issues/7726

[2022-05-11 13:38] #5841 closed

[2022-05-11 13:50] stefan-hartmann-lgs opened #7730 "`dvc pull`: Config filed `jobs` in `.dvc/config` not taken into account as expected"
# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

[2022-05-11 14:47] efiop commented on #7726
@jnissin Btw, did you migrate from an older dvc version recently? We had a bug where we didn't set pickle version https://github.com/iterative/dvc/pull/7222 , but it was fixed 5 months back in 2.9.4

[2022-05-11 15:34] lefos99 commented on #7174
Is there any update on that?
I have version `dvc==2.10.2` and the problem still exists for me. :disappointed:

[2022-05-11 15:40] #7676 closed

[2022-05-11 17:15] liamkesatoran opened #7731 "Mermaid lexical error with `dvc dag --md` and `foreach` stages"
# Bug Report

## Description

Since `foreach` pipeline stages generate stages of the format `stage@{$item}`, the `@` sign is unable to be read by mermaid in GitHub :

### Reproduce

1. Have a [foreach stage](https://dvc.org/doc/user-guide/project-structure/pipelines-files#foreach-stages) in your pipeline
2. Run `dvc dag --md > foo.md`
3. Push `foo.md` to GitHub
4. See error when loading foo.md on

[2022-05-11 20:35] dberenbaum commented on #5802
Marking this as p1 until at least the `dvc exp init` scenario is resolved (see https://github.com/iterative/dvc.org/pull/3430#discussion_r870732773).

[2022-05-11 23:38] pmrowla commented on #7174
@lefos99 in 2.10.2 you are probably encountering https://github.com/iterative/dvc/issues/7702 which we are still investigating. Can you try running your command with `-v` and double check which exception you get?

(This issue is regarding SSH/SFTP write permissions for files within an SSH remote, and #7702 is regarding not being able to connect to the remote at all)

[2022-05-12 05:02] parthplc commented on #7175
@Vinayaks117 can you help me regarding this? I am still facing the same issue even after configuring the remote first.

[2022-05-12 07:39] lefos99 commented on #7174
Thanks for the reply @pmrowla .
I created a dummy `.txt` file and the ran `dvc push deleteme.txt.dvc  -vv`
This is what I get back:
[code]

My `dvc doctor` looks like this:
[code]
With `dvc 2.3.0`, everything works fine though! :thinking:

[2022-05-12 07:58] pmrowla commented on #7174
It looks like the user you are connecting as doesn't have permissions for the SFTP mkdir call. Can you double check that if you `ssh` into that machine with the same user accoutn, you can manually create subdirectories in the DVC remote directory (using `mkdir`?

[2022-05-12 08:22] lefos99 commented on #7174
I tried to create a new dir (`mkdir dummy_folder`) in the remote DVC cache by using:

1. ssh -> `ssh user@local_ip` by using the same private key and it worked.
2. sftp -> ` sftp -i /home/eleftherios/.ssh/deep_priv_key_hetzner.openssh user@ip` and it also worked.

Apart from that, isn't it weird that it worked fine with exactly the same setup with older version of DVC?
(`dvc 2.10.2` vs `dvc 2.3.0`

[2022-05-12 10:34] pmrowla commented on #7174
There are two different SSH backends used in those versions (we moved from using paramiko to sshfs/asyncssh)

[2022-05-12 10:53] lefos99 commented on #7174
I see, but then I still don't get why I get the `asyncssh.sftp.SFTPPermissionDenied: Permission denied` error.

Btw my `.dvc/config` looks like this, if that helps
[code]

[2022-05-12 12:12] VictorZuanazzi commented on #5060
what is the command for that?

[2022-05-12 12:48] pmrowla commented on #7174
@lefos99 can you share the options you are using in your SSH config (`~/.ssh/config`)? You can sanitize any private values, but the issue here may be that some particular option is causing the problem with asyncssh

[2022-05-12 12:57] lefos99 commented on #7174
Sure, here it is:
[code]

After what you pointed out actually,

 I started playing around with [sshfs](https://pypi.org/project/sshfs/). I created the following script:
[code]
So for reading/writing files, `sshfs` works fine but it fails with the same error with creating a folder... :thinking:

[2022-05-12 13:11] lefos99 commented on #7174
Okay, I found the issue!

In my local script with the [sshfs](https://pypi.org/project/sshfs/), instead of running:
[code]
I deactivate the flag `create_parents`
[code]

If you have this flag activated, then [sshfs](https://pypi.org/project/sshfs/) tries to create the whole path, and my user (because is no admin) doesn't have a write access to all parent folders.

In my opinion, this flag should b

[2022-05-12 14:47] ntjess opened #7737 "`add ./directory`: Modification times of unchanged files update"
# Bug Report

## Description
I expect `dvc add ./directory` to function similar to `git add ./directory`, where unmodified and tracked files are not changed at all. However, (at least testing on Windows), the modification times of *all* files in `./directory` are updated, irrespective of whether they were changed.

### Reproduce
In a dvc repo with `./directory/file*.txt` (>1 file)
[code]

### Expe

[2022-05-12 15:13] lefos99 commented on #7174
Glad that we found it @pmrowla .
Thanks for the help! :slightly_smiling_face:

[2022-05-12 15:27] #7726 closed

[2022-05-12 16:01] dberenbaum commented on #7086
@daavoo I find them about equally intuitive, although getting rid of `data` obviously is fewer fields to manage.

I can see two distinctions using `data`:

1. It impacts the legend (compare the left and right legends below). Should we strip common field names (`acc`) from the legend in this case?

<img width="1083" alt="Screen Shot 2022-05-12 at 11 32 50 AM" src="https://user-images.githubusercont

[2022-05-12 16:31] dorp92 commented on #5060
I followed the following guide:
https://dvc.org/doc/user-guide/managing-external-data
@pmrowla Is correct

[2022-05-12 17:16] dberenbaum commented on #7718
Thanks for the report!

I'm able to reproduce with the latest version although not with 2.10.2. It looks like there's a regression in https://github.com/iterative/dvc/pull/7680 (cc @skshetry), although it's unclear if this is the same issue if you are using 2.10.2 and are on Windows.

Reproduction script:

[code]

Output before #7680:

[code]

Output after #7680:

[code]

[2022-05-12 17:25] skshetry commented on #7718
@dberenbaum, yeah, looks like I made a typo 🤦🏼 😄

https://github.com/iterative/dvc/blob/7a795f79db213ef4524500bfcf93c1033726cdf4/dvc/stage/cache.py#L219

[2022-05-13 07:57] daavoo commented on #5802
Any answer to this?

[2022-05-13 09:10] pmrowla commented on #7174
@lefos can you try installing this patch and see if it resolves your issue:
[code]

[2022-05-13 09:47] daavoo commented on #7730
This is not currently supported (see available config fields for `remote` section in https://dvc.org/doc/command-reference/config#remote).

Is there any particular part of the documentation that led you to:

[code]

[2022-05-13 10:56] daavoo commented on #7086
And less code to maintain.

I think we should just remove data and iterate on the UI for legends.

I would prefer this new syntax.

I would vote for getting rid of `data`.

About the `x-axis` flexibility, I don't really know. How hard would it be if we focus on the explicit `{path}:{entry}` syntax @pared ?
If it changes too many things, we could leave all this as a future follow-up. There are alre

[2022-05-13 11:04] pared commented on #7086
AFAIR it should be not that big of a problem, we already have underlying logic. Just need to modify it a little bit. At least for `y`. `x` did not have this logic till now but still, I think we should be able to handle that. Currently I need to kind of search for x and handle situations when the particular column is not in the targeted files. With explicit `x` that would be easier, I think.

[2022-05-13 11:24] lefos99 commented on #7174
Yes, it does! :partying_face:

[2022-05-13 12:59] karajan1001 commented on #6106
@mattlbeck could you please try if it works on the latest `main` branch?

[2022-05-13 13:59] efiop commented on #6106
Closing for now, should be fixed by #6120

[2022-05-13 13:59] #6106 closed

[2022-05-13 15:28] dberenbaum commented on #7730
@daavoo That links to https://dvc.org/doc/command-reference/remote/modify#available-parameters-for-all-remotes, which does show `jobs` as an option. Am I misunderstanding?

[2022-05-13 16:42] dberenbaum commented on #7086
So how does this look for updated syntax of the original comment at the top of this issue?

[code]

It is more verbose, but I like that it's more clear and explicit. My only question would be to what extent to allow shortcuts and try to infer expected behavior. For example:

* If you specify the data source for only one of `x` or `y`, should dvc try to infer it for the other?
* In the `val_f1.csv`

[2022-05-13 17:25] daavoo commented on #7730
🙏 ignore muy previous comment

[2022-05-14 13:11] skshetry commented on #7086
Another suggestion, that clearly separates plot level metadata with props, it's a bit verbose though.
[code]

[2022-05-15 18:42] dmpetrov opened #7743 "Install dvc through pip in a new EC2 machine"
Installing DVC in a new EC2 machine (Amazon Linux 2 AMI) - `pip3 install dvc` and it does not work.

[logs.txt](https://github.com/iterative/dvc/files/8695692/logs.txt)

[2022-05-15 19:47] efiop commented on #7743
Unfortunately new dulwich version release process broke and wheels weren't published. Already fixed in the upstream, waiting for a new release.

In the mean time a workaround is to `pip3 install dulwich==0.20.35` first.

[2022-05-16 12:01] islamashraf98 commented on #3182
I think it would be a great option to be added, I have tons of images in a directory, so it would be more practical to get them once using `get_url()`

[2022-05-16 12:37] stefan-hartmann-lgs commented on #7730
Yes exactly. The `jobs` in `.dvc/config` does something but not the same what `--jobs` does an that was expected as stated in the documentation.

[2022-05-16 15:30] EliAlpaca commented on #7230
From my little experience with sagemaker and DVC.

Are you making these tests on files that are just being reader after starting your sagemaker instance? (Are you using sagemaker notebooks instances?)

Sagemaker uses EBS for file systems and when you turn down an instance the volume is compressed and stored away. Your problem with the pull request may be related to how long does it take for dvc to

[2022-05-16 16:51] dberenbaum commented on #7086
@pared and I discussed and came up with the following action points:

* Remove `data` field support.
* Add new issue for `x` path support.
* Add new issue for CLI support.
* Check that syntax is consistent with params.

[2022-05-16 17:16] dberenbaum opened #7753 "plots: CLI support for flexible plots"
There is no way to configure [flexible plots](https://github.com/iterative/dvc/issues/7086) from the CLI.

`dvc plots modify` could be updated to take a plot name key as a target instead of only a file, and to support modifying the other fields to support file paths, multiple axis values, etc.

`dvc plots add` could be added to support configuring a standalone plot from the command line. It could

[2022-05-16 17:32] dberenbaum opened #7754 "plots: support for flexible x-axis values"
In https://github.com/iterative/dvc/issues/7086#issuecomment-1125169586, there are plots where it can be useful to specify the `x` source file separately from `y`. For example, if I keep the actual independent variable saved with my original data, but save the predictions for each model in a separate file, I might need something like:

[code]

We might also need to change `x` between files. For ex

[2022-05-16 17:45] dberenbaum commented on #7086
@pared The example above in https://github.com/iterative/dvc/issues/7086#issuecomment-1121506619 uses file paths as dict keys under `y`, which doesn't work in one of the examples:

This will raise a duplicate keys error. Should it instead support a list of values here (note that this isn't supported today)?

[code]

[code]

[code]

This would be consistent with how `y` works without paths since it

[2022-05-16 17:55] efiop commented on #7743
new dulwich release is out with the wheels. Closing.

[2022-05-16 17:55] #7743 closed

[2022-05-16 19:28] dberenbaum commented on #3182
@islamashraf98 You may want to take a look at https://github.com/iterative/dvc/pull/6850.

[2022-05-17 02:06] pmrowla commented on #3442
@SeropB how are you configuring `endpointurl` for use with `dvc get-url`? Also, can you please run `dvc doctor` and post the output

[2022-05-17 04:24] ivyleavedtoadflax opened #7755 "`dvc exp run --run-all` results in `ERROR: unexpected error`"
# Bug Report

## Description

After queuing up a number of experiments that I can see with `dvc exp show`:

| Experiment   | Created      | State   | eval_loss  | ... |
|--------------|--------------|---------|------------|-----|
| workspace    | -            | -       | 0.051839   | ... |
| longdocs2    | May 16, 2022 | -       | 0.051839   | ... |
| ├── a9a2a52  | May 16, 2022 | Queued  | -

[2022-05-17 04:29] pmrowla commented on #7755
This issue will likely go away when we move to the new queueing backend which should be relatively soon.

[2022-05-17 04:35] ivyleavedtoadflax commented on #7755
For reference, it can be resolved by removing all experiments, and re-adding a smaller number and executing. It's also worth noting that this project involves quite a lot of data:

[code]

[2022-05-17 06:03] mattseddon opened #7756 "`pull`: `-R` does not check immediate target"
# Bug Report

## Description

Firstly, from the [docs](https://dvc.org/doc/command-reference/pull#-R) I realise that `pull -R <target>` is probably working exactly as advertised.

In the VS Code extension, we show a tracked tree which can be used to selectively pull files from the remote.

We currently use the output of `dvc list . -R --show-json --dvc-only` to generate this tree (we will shortly

[2022-05-17 12:07] karajan1001 commented on #7587
There are still some related works
1. unit test code coverage for the `kill` method.
2. implement the `kill` flag in `shutdown`.

[2022-05-17 12:45] skshetry commented on #7756
Related: https://github.com/iterative/dvc/issues/5326

[2022-05-17 15:12] dberenbaum commented on #7323
@skshetry There was interest in contributing a fix in https://github.com/iterative/dvc/issues/7462#issuecomment-1075878680. What do you think?

[2022-05-17 15:24] dberenbaum commented on #7756
I'm either unable to reproduce or misunderstanding:

[code]

[2022-05-17 18:27] iainelder opened #7767 "S3 feature is incompatible with latest boto3 version"
# Bug Report

This time the bug isn't in a DVC command but in how its dependencies are declared. Feel free to rename the issue to match the preferred format.

## Description

I've installed the latest version of the boto3 package for my application.

I want to use it together with DVC's S3 feature.

When I try to install the S3 feature, I get a SolverProblemError from poetry.

### Reproduce

[code

[2022-05-17 21:47] iainelder commented on #7767
Possibly related: https://github.com/fsspec/s3fs/issues/615

[2022-05-18 00:26] mattseddon commented on #7756
@dberenbaum in order to test this I upgraded from `2.10.2` to the latest version of `dvc` from main. It appears that the files in our subrepo have been renamed:

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/37993418/168932749-7134247e-3fdf-4700-beb6-25c62ec522f9.png">

I cannot get the repo out of this renamed state. I have tried:

1. `dvc pull`
2. `dvc commit`
3. `

[2022-05-18 00:42] shcheklein commented on #7756
Reading the description one more time it might be a bigger issue for DVC extension. `-R` semantics is clearly can lead that if there is a `dvc.yaml` inside that directory that describes a dataset outside we'll also pull it. And, yes this semantics mean that we can't do `dvc pull -R target` where target is a DVC-tracked directory.

1. is there a workaround on the extension side?
2. DVC product ques

[2022-05-18 04:34] pmrowla commented on #7592
@dberenbaum `queue start/stop/remove/kill` are all available in the dev branch for testing now. The status commands and `stop --kill` will be added in follow-up PRs.

[2022-05-18 06:46] mattseddon commented on #7756
@efiop looks like the change that introduce the [renamed](https://github.com/iterative/dvc/issues/7756#issuecomment-1129443387) issue was this one: https://github.com/iterative/dvc/commit/a80a85e6bd144189bf63df535483ae628136ce14.

Was there anything in there that would make a subrepo exhibit this diff no matter what:

[code]

I can see that scmrepo got bumped from `0.0.19` to `0.0.22` in that comm

[2022-05-18 08:50] nexmann opened #7773 "DVC pull extremely slow on Azure VM"
# Bug Report

Not entirely sure whether this is a bug that relates to DVC implementation, configuration or bug in a dependency.

## Description

We have problems using dvc pull on an Azure VM. The pull refers to an Azure Blob storage that holds the DVC registry.
When using DVC pull locally, the download speed is very fast, but trying to pull the data on an Azure virtual machine completely kills th

[2022-05-18 09:28] daavoo commented on #7773
Hi @nexmann . Could you try with the latest DVC version `2.10.` and  share a the profiler output for:

[code]

[2022-05-18 09:53] daavoo commented on #7767
Can also reproduce with `pip` resolver:

[code]

[2022-05-18 09:58] ThibaultMetais opened #7774 "dvc exp run : runs very slow in big monorepositories (subdir dvc project)"
# Bug Report

## dvc exp run : runs very slow in big monorepositories (subdir dvc project)

## Description

I am working inside a big repository with several projects inside, so I used the --subdir option when setting up my dvc project inside it.
dvc repro works fine, but when it comes to dvc exp run it is very slow. Thanks to a git client, I can see that the dvc exp run command is moving around a

[2022-05-18 10:17] daavoo commented on #7767
Unfortunately, it seems that until aiobotocore updates the pinned `boto3` requirement: https://github.com/aio-libs/aiobotocore/blob/master/setup.py#L19

The most recent compatible version would be `1.21.21`:

[code]

[2022-05-18 10:21] pmrowla commented on #7774
The issue here is that experiments need to do git operations in a large monorepo. Possible solutions would be using sparse checkouts or partial clones, but these (git) features are not supported in libgit or dulwich and are non-trivial to implement.

A potential workaround may be using `stash -- <pathspec>` to try and avoid touching the rest of the monorepo when generating an experiment, but iirc

[2022-05-18 12:22] daavoo commented on #7700
From https://github.com/iterative/scmrepo/blob/8fa74bb3cc23c8291c771d34a83a0164d96ee863/scmrepo/git/__init__.py#L245

[2022-05-18 12:38] dberenbaum commented on #7756
@mattseddon Thanks, I can confirm the renaming issue.

I'm still not following the original issue since it seems that `pull -R` is working as expected for me. Can you clarify?

[2022-05-18 12:47] awadell1 opened #7775 "add: symlinks to `.dvc/cache/ha/sh` but creates `.dvc/cache/ha/sh.csv`"
## Description

When adding files `dvc add ny.csv`, the files are correctly moved to the cache as`.dvc/cache/ae/78daccbcbb27cd66956368c36bdd8f.csv`. However, the created symlink points to `.dvc/cache/ae/78daccbcbb27cd66956368c36bdd8f` (missing the extension). This results in a dead link.

### Reproduce

1. Enable symlinks `dvc config cache.type symlink`
2. Create a dvc repo within a Google Drive F

[2022-05-18 12:51] dberenbaum opened #7776 "`diff`: shows all files as renamed for repo created using `init --subdir`"
@efiop looks like the change that introduce the [renamed](https://github.com/iterative/dvc/issues/7756#issuecomment-1129443387) issue was this one: https://github.com/iterative/dvc/commit/a80a85e6bd144189bf63df535483ae628136ce14.

Was there anything in there that would make a subrepo exhibit this diff no matter what (`~/vscode-dvc` is the git repo, `~/vscode-dvc/demo` is the dvc project):

[code]

[2022-05-18 13:48] iainelder opened #7777 "pipx: python setup.py egg_info did not run successfully"
# Bug Report

Because dvc is an application, I expect to be able to install it globally in an isolated virtual environment using pipx to avoid dependency conflicts with any other Python-based software (see #7767 for an example conflict).

I can't install dvc using pipx. It fails with a cryptic error: `AttributeError: type object 'Distribution' has no attribute '_finalize_feature_opts'` for any one

[2022-05-18 14:53] daavoo commented on #7767
@iainelder Could you try installing globally via a system package manager (i.e. https://dvc.org/doc/install/linux#install-from-repository )

[2022-05-18 15:52] iainelder commented on #7767
Wow, how did I miss that in the documentation?

Installing from a Debian repository is my preferred way of installing anything, as long as the versions are kept up to date. The version I see in your repo matches the version on PyPI: 2.10.2.

So that solves my installation problem and makes the problem reported here irrelevant. Thanks so much for your help @daavoo !

[2022-05-18 15:56] iainelder commented on #7777
I solved my installation problem by installing from the debian package repo as pointed out by @daavoo in https://github.com/iterative/dvc/issues/7767#issuecomment-1130119577 . Thanks!

[2022-05-18 15:56] #7777 closed

[2022-05-18 16:40] nexmann commented on #7773
Hi @daavoo
After updating DVC it seemed to help a bit with the speed. Which I find a little odd as it worked locally with full speed on the old version. I ran a subset of the pull with the profiler for you and have attached the output.

It still seems like the concurrency of downloading does not work optimally.

[viztracer.dvc-20220518_144711.zip](https://github.com/iterative/dvc/files/8718291/viz

[2022-05-18 18:44] koenmtb1 opened #7779 "exp run: DVC Experiments in GitHub Actions"
# Bug Report

I've been trying to run DVC experiments in GitHub Actions (we have a specific use case that prevents us from running experiments on local machines, they take a long time to finish). But as a POC I also tried to run 100 experiments at once, which the queue system should support.

## Description

When trying to do this it properly adds all the experiments to the queue but when trying t

[2022-05-18 23:40] mattseddon commented on #7756
I can confirm that https://github.com/iterative/dvc/issues/7756#issuecomment-1129008887 is correct (did not work for `2.10.2` but since fixed).

In testing I think have found a new issue where if a `.dvc` files is present within a directory then `-R` will pull that file but not any other directory `deps/outs` available within that directory.

Using [example-get-started](https://github.com/iterativ

[2022-05-19 00:18] shcheklein commented on #7756
@mattseddon yes, that's expected, it's not a bug. This is the current behavior of the `-R` . I've tried to explain it [here](https://github.com/iterative/dvc/issues/7756#issuecomment-1129450424). Now we need to find a workaround with the DVC team.

[2022-05-19 02:13] pmrowla commented on #7779
Are you using the default github actions runners or are you using your own custom self-hosted runner?

[2022-05-19 02:33] pmrowla commented on #7779
Assuming you are using github's standard runners, the issue is probably that you are using `-j 100`. Github's runners are not particularly powerful machines (2 vcpu's and 7gb ram). I'm not sure what your pipeline is doing, but the default runner will likely not handle running 100 instances of it at once. Can you try lowering the jobs value to something reasonable?

---

Also, to clarify, the issue

[2022-05-19 04:09] johnyaku commented on #3838
Our ssh remote is on a host where we do not setfacl permissions, so I'd like to add my support to this feature request. I imagine that is quite common with academic compute infrastructure.

[2022-05-19 06:26] daavoo commented on #7730
Hi @stefan-hartmann-lgs ! How are you checking the `See that more than 4 download jobs are running in parallel`??

I have tried and the `jobs` config section is honored when instantiating the filesystem and passed down to the transferring task :

https://github.com/iterative/dvc/blob/f23d31af644ab4ad4492b9cfa1000d58420c238d/dvc/fs/__init__.py#L94-L110

Could you try sharing the output profile from

[2022-05-19 10:02] pared commented on #7086
@dberenbaum yeah, that makes sense, we can also support both, support for dict is in place anyway, so...

[2022-05-19 10:25] daavoo commented on #7773
Indeed. Thanks for tharing the profile.

We are aware about some issues regarding our current concurrency implementation and we are currently working on it. We will hopefully have some progress in upcoming releases.

Most likely, the difference in performance is related with your local machine having more compute resources than the VM. You can try reducing the number of concurrent jobs to see if t

[2022-05-19 10:32] pared commented on #7086
@skshetry This is definitely very explicit. The question is whether it won't be too much for users to type. I think we should be going for the least amount of work needed for user to input the data. On the other hand that implies a lot of automatic behavior (like infering `x` data sources knowing `y`) which might be to hard to grasp.

[2022-05-19 11:36] IWillPull commented on #2010
It's back again, as it is a dependency of `scmrepo`. Any way to provide `--global-option="--pure"` tag when installing dvc through poetry?

[2022-05-19 12:00] daavoo opened #7782 "`stage`: Get current execution `status`"
It is not possible to get the current status of a pipeline execution (i.e. for each stage know if it has been skipped, completed, it is running, or waiting to be run.

It would be nice to provide users with a way to access this kind of information.

[2022-05-19 12:34] nexmann commented on #7773
Okay sounds good. Thanks for your help!

[2022-05-19 12:34] #7773 closed

[2022-05-19 15:56] nickp60 commented on #1940
I'd be interested in Box support as well!  Working in healthcare, and only a few storage services are internally approved for sensitive data

[2022-05-19 16:16] reinososamanta commented on #2432
Hi, I'm also interested in this feature!
Thanks a lot! :)

[2022-05-19 16:43] dberenbaum commented on #7756
For VS Code, can you use `dvc list --dvc-only` to get the appropriate targets and pass those to `dvc pull`?

[2022-05-19 17:05] nickp60 commented on #1940
Hi @skshetry I'm not familiar with WebDAV. it looks like it was at one point supported but that was depreciated in 2019 https://support.box.com/hc/en-us/articles/360043696414-WebDAV-with-Box

[2022-05-19 17:11] skshetry commented on #1940
The article says that it still works if I am reading it right.

[2022-05-19 18:17] nickp60 commented on #1940
That's my understanding too, but some of the limitations looks pretty prohibitive (eg "Cannot download more than 50 MB")

[2022-05-19 19:16] dberenbaum opened #7787 "plots: more helpful error message on corrupted/invalid `dvc.yaml`"
When dvc.yaml is either corrupted or fails validation, `dvc plots show/diff` output shows `DVC failed to load some plots for following revisions: workspace`. There are a couple issues with this:

* It makes it seem like the issue is with one or more of the plots, when it's really about the structure of `dvc.yaml` and may be completely unrelated to plots.
* It makes it seem like some plots from tha

[2022-05-19 19:19] dberenbaum commented on #7787
On second thought, should `dvc plots show` ever include `DVC failed to load some plots for the following revisions`? It is always operating in the current workspace, so mentioning revisions at all seems confusing.

[2022-05-19 19:57] shcheklein commented on #7756
@dberenbaum we would have to run make it recursive as well (to get all DVC-tracked files and directories inside a specific directory)- that can make it slow. But on the other hand we already do `dvc list --dvc-only` or something, right? @mattseddon how do we create the initial DVC-tracked tree?

[2022-05-19 21:03] mbergal opened #7788 "Cannot install dvc, failing to install dulwich"
![image](https://user-images.githubusercontent.com/167835/169404175-88aab973-f980-441d-94a6-922fa2c330d6.png)

[2022-05-19 21:27] psydok opened #7789 "asyncssh/sftp.py, line 2386, in _process_status -> asyncssh.sftp.SFTPPermissionDenied: Permission denied"
# Bug Report
## Description

I'm trying to push data to the server via ssh, but I am getting this error.
`$ dvc push file.csv.dvc`

[code]
### Reproduce
[code]
### Expected

That data will be pushed to remote storage.

### Environment information

**Output of `dvc doctor`:**

[code]
I removed dvc 2.10.2, installed the old version 2.8.3, tried to repeat with the settings - it doesn't work.

**Addit

[2022-05-19 22:21] mattseddon commented on #7756
We can create the necessary data. Would it be correct to pull -

1. All files in directories that do not have a corresponding `.dvc` file
2. All directories that have a `.dvc` file.

Would these commands be correct for these structures?

## 1.
Structure:
[code]
On pull we run:
`dvc pull data/data.xml data/features/test.pkl data/features/train.pkl data/prepared/test.tsv data/prepared/train.tsv`

##

[2022-05-19 22:46] psydok commented on #7789
I tried updating `dvc==2.10.2` again and putting
`pip install git+https://github.com/pmrowla/asyncssh.git@develop#egg=asyncssh` error in the same place.

[2022-05-19 22:50] psydok commented on #7789
In general, from a funny thing: when I managed to set up push via ssh, they pulled pull from s3. And vice versa, when resurrecting pull from s3.

[2022-05-19 22:58] efiop commented on #7788
Hi @mbergal . This is a known issue with a yet another dulwich release that broke its wheel building process. It is fixed in upstream, waiting for dulwich 0.20.41 to be released. On our side we will set an upper bound so this doesn't happen again https://github.com/iterative/scmrepo/issues/73

A workaround for now is to:

[code]

first

[2022-05-19 22:58] #7788 closed

[2022-05-20 01:06] shcheklein commented on #7756
I should be just `data/features` (it should be defined in `dvc.yaml` like a directory)

can you describe how and how do we get it now?

One thing to be mindful and try to avoid are very large directories with a lot of files. No matter what you do if we start (on some VS Code code) traversing them that can become painful.

[2022-05-20 01:14] mattseddon commented on #7756
How do I get this information without parsing all of the yaml files and generating the DAG?

We use `dvc list . -R --dvc-only` to get all of the absolute paths. We then build a tree. We split each path by the OS separator and then add each path into a `new Map<string, PathItem[]>()` structure (with some optimisations).

For the data held in the a `PathItem`:

[code]

Note: All of this will be gett

[2022-05-20 01:44] pmrowla commented on #7789
Closing as a duplicate of https://github.com/iterative/dvc/issues/7174

You need to install from the main asyncssh develop branch to use the fix, not my fork:
[code]

[2022-05-20 01:44] #7789 closed

[2022-05-20 01:53] shcheklein commented on #7756
`dvc dag`, or something else ... ideally this should be part of the `dvc status`, `list`, etc. Btw, this also should be available now in `dvc exp` since we include "outputs". what is the progress there @daavoo ?

( It's slow :( on the example-get-started it takes 10s - probably bc it goes inside `.venv`? @dberenbaum )

(that's why btw `-R` behavior in this case is not very friendly, or at least no

[2022-05-20 05:48] mattseddon opened #7790 "`exp show --show -json`: `outs` does not return full path for keys"
# Bug Report

## Description

`exp show` output returns incomplete paths for `outs` (and maybe `deps`).

### Reproduce

Demo project structure is as follow:

[code]

[code]

`exp show --show-json` returns

[code]

Notice the `"raw":` key in the outs output. I believe this should be `data/MNIST/raw`.

### Expected

Full paths are returns for all `deps`/`outs`.

### Environment information

**Output

[2022-05-20 08:06] daavoo commented on #7756
Waiting for approval from someone https://github.com/iterative/dvc/pull/7690

[2022-05-20 08:44] mattseddon commented on #7790
We are going to have to build the table headers and columns tree entries from this information. I.e these sections in the UI:

<img width="1678" alt="image" src="https://user-images.githubusercontent.com/37993418/169490159-7d942448-b213-412e-be10-562bb67c7cdd.png">

I think the path relative to the root would be more useful if we can get it but I need to think about it.

[2022-05-20 09:16] yannickfunk opened #7793 "Version 2.8.0 introcuces a breaking change, without stating in the Release Notes."
Version 2.8.0 introduces a breaking change because it bumps dvclive from 0.3.0 to 0.4.0 which [introduces a breaking change](https://github.com/iterative/dvclive/releases/tag/0.4.0).

I know dependency versions are bumped automatically by dependabot. But at least for dependencies inside the dvc ecosystem it would be nice if I could only scan one changelog to check, if a new version will break my e

[2022-05-20 09:56] daavoo commented on #7793
Hi @yannickfunk . Sorry for the inconvenience.

As far as I know, `dvclive` was not a `dvc` dependency in `2.8.0`:

https://github.com/iterative/dvc/blob/d2edbae7e3ef056f4e267a9036c6d4e38e0b7d06/setup.cfg#L33-L79

It was only listed as a `test` dependency.

Starting in dvc `2.10.2`, `dvclive` is now a pinned dependency in `dvc`:

https://github.com/iterative/dvc/blob/c81d841fd75d5a965613905689db17

[2022-05-20 10:17] yannickfunk commented on #7793
Thank you for the clarification, I think the problem here was that I had installed dvclive separately, and when I updated dvc to a new version which included dvclive as a dependency, it automatically updated dvclive.

[2022-05-20 10:35] skshetry commented on #5162
Closing, we are already using fsspec-based filesystems. And we have dvc-data and dvc-objects projects that are using those, this is no longer very relevant in dvc. We can consider this as done.

[2022-05-20 10:35] #5162 closed

[2022-05-20 10:56] #7793 closed

[2022-05-20 12:03] efiop commented on #5162
For the record: `dvcfs` is also almost ready to be published, we have a few small things to cleanup.

[2022-05-20 17:05] dberenbaum commented on #7756
Hm, not sure. For me it's <0.6 seconds. Still not sure if that's fast enough for bigger repos, but 10s seems odd.

Got it. Seems like we need some flag for whether to traverse into DVC-tracked paths?

Can you explain more how `dvc pull -R` is being used by VS Code? In what circumstances is it called?

[2022-05-20 17:39] shcheklein commented on #7756
Hmm .. do you have a virtualenv setup with all the deps installed? I have it in the `.venv` in the root of the project.

yep, I right click on `data` ask to pull and exepct it to bring me `data/MNIST/raw` inside. W/o me going two level down (I just don't even know which one is tracked). Or in the `example-get-started` I'd like to do `dvc pull -R data` to download `data.xml` and some intemediate th

[2022-05-20 17:40] shcheklein commented on #7756
Like `--shallow` - yes, may be. I would say it'a perf optimization, first I would solve the main use case somehow.

[2022-05-20 17:44] skshetry commented on #7756
@shcheklein, `--dvc-only` was optimized in https://github.com/iterative/dvc/pull/7659. It is not released yet.

[2022-05-20 17:54] shcheklein commented on #7756
@skshetry yep, usually I'm testing on the dev version, in this case dvc was coming from a different project. It is improved to 0.21! 🎉

[2022-05-20 18:03] dberenbaum commented on #7591
`dvc queue remove` doesn't work with short names:

[code]

[2022-05-20 18:06] dberenbaum commented on #7591
Also, if no experiments are provided or any of the provided experiments don't match, we should provide a relevant error message like `dvc exp remove`:

[code]

[2022-05-20 18:20] shcheklein commented on #5162
@efiop @skshetry do we plan to document it in any way?

[2022-05-20 18:29] dberenbaum commented on #7589
It's hard to tell what's happening here without status commands, but here's what happens when I run `dvc queue start`:

[code]

[2022-05-20 18:50] dberenbaum commented on #7756
Yup, makes sense. We need to move all our commands towards operating on all DVC-tracked data within a path without the users worrying about where the paths are specified in `.dvc`, `dvc.yaml`, etc. I think the current `dvc pull -R` logic is how most DVC commands work, so I would like to have a more systematic effort to change it across commands rather than have inconsistent behavior.

I think it's

[2022-05-20 18:58] efiop commented on #5162
@shcheklein Once it is ready - yes. dvcfs wrap up/documentation is in our potential plans for q3

[2022-05-20 19:05] dberenbaum commented on #5162
Hopefully, dvcfs can address some of our pressing Python API needs like https://github.com/iterative/dvc/issues/3182.

[2022-05-20 21:54] mattseddon commented on #7756
@dberenbaum we need to come up with a workaround for the release and a long term solution. [This suggestion](https://github.com/iterative/dvc/issues/7756#issuecomment-1132261889) was for a short term workaround.

[2022-05-20 23:16] shcheklein commented on #7756
@mattseddon if I understand correctly, that solution won't work - we can't pass the full list into `dvc pull`. It will start breaking even on mid-size repos. At least if I understand the solution correctly.

Probably `dvc exp show` is our best shot here.

[2022-05-21 02:29] mattseddon commented on #7756
It would be full list for everything that doesn't have a `.dvc` files. In example 2 we only send `data/MNIST/raw` to `pull` not each file inside the directory. Still might not be enough but the `exp show` data currently won't work either because of #7790.

[2022-05-21 17:22] shcheklein commented on #7756
Tbh, I would wait for a proper fix in this case.

[2022-05-23 06:37] pmrowla commented on #7575
@daavoo Looking at the existing code, there's a bug where we don't handle the case where multiple deps/outs can have the same `def_path` (which is a path relative to a stage's `wdir`).

Basically, given the following pipeline:
[code]

The two separate outputs `foo/data.csv` and `bar/data.csv` will both have `def_path = data.csv`. The same situation can occur without using `wdir` if you have multip

[2022-05-23 06:43] tirkarthi commented on #7775
I am unable to reproduce this locally on Linux using local filesystem. Docs in creating files through API indicate that google drive might add an extension based on file's mime-type.

https://developers.google.com/drive/api/v3/reference/files/create

[2022-05-23 07:00] pmrowla commented on #7575
IMO this stems from the underlying problem of trying to shove everything about a DVC repo into flat table rows for UI purposes, and what we should really be doing is outputting a json schema that actually reflects the repo/pipeline structure.

Right now, each experiment/commit has a top level `outs` and `deps` entry that  just contains the flat dict (that should probably be a list) of all the file

[2022-05-23 07:04] pmrowla commented on #7575
IMO this issue is also applicable to metrics/params, where we flatten everything into top level `metrics`/`params` entries as much as possible (since again, that's how we display it in the CLI), but with regard to other products, I think we should be exposing the raw data the way it is actually stored in the DVC repo (as a part of the index), and then letting the consuming product decide how to fl

[2022-05-23 07:10] pmrowla commented on #7790
related https://github.com/iterative/dvc/issues/7575#issuecomment-1134242482

[2022-05-23 07:22] tirkarthi commented on #7402
`ls` uses `fs.walk` under the hood which supports `maxdepth` parameter

[code]

[code]

A first draft patch to ensure recursive and level are mutually exclusive

[code]

[2022-05-23 09:13] daavoo commented on #7575
Expand `dvc stage list` to have `--json` and return this?

This would require vscode to call the command with all experiment ids as targets, right?.

So, they would still need to retrieve all experiment ids from a command and then pass those ids to the "index json" command

[2022-05-23 09:39] daavoo commented on #7790
Should be fixed in https://github.com/iterative/dvc/pull/7690

[2022-05-23 13:37] #7718 closed

[2022-05-23 17:36] dberenbaum commented on #7575
Agreed @pmrowla but is there a short-term fix we can implement? Should we open a separate issue/discussion for long-term needs of how VS Code should collect experiment info from DVC?

[2022-05-23 20:48] pwrightkcl opened #7800 "pull: from SSH remote, does not follow ProxyJump in ~.ssh/config"
# Bug Report

## Description

When an SSH remote needs to be reached via a ProxyJump connection, `dvc pull` cannot connect to it.

### Reproduce

Set up ~/.ssh/config to allow connection to the server behind the proxy, example:

[code]

Test ssh from the terminal to check the ProxyJump and SSH keys for both proxy and main are working:

[code]

Pull the git repo to the local machine. Set up a local

[2022-05-23 20:50] pwrightkcl commented on #7800
This may relate to #3815, which fixed ProxyCommand not working. That fix may not have fixed ProxyJump.

[2022-05-24 01:20] pmrowla commented on #7800
#3815 is not related since we no longer use paramiko.

sshfs/asyncssh should support ProxyJump w/SSH keys (https://github.com/fsspec/sshfs/issues/14), we will likely need the verbose output to determine what the problem is here

[2022-05-24 03:31] pmrowla commented on #7575
In the short term, @daavoo's changes to add more fields to the `exp show --json` output should work for now.

But at some point we need to move beyond implementing more and more workarounds in `exp show --json`. All of these short term fixes still require engineering hours spent on both the DVC and vscode side for a "solution" that should really be removed and replaced entirely.

[2022-05-24 03:37] mattseddon commented on #7575
I agree with @pmrowla. Can we plan to all get together after the VS Code release and look at how best to make this work?

[2022-05-24 08:48] pwrightkcl commented on #7800
Here is the verbose output, user and paths changed:
[code]

[2022-05-24 11:06] harvey-che opened #7805 "dvc remote add: it's run successfully but when dev remote list, it shows pointing to a local directory"
# Bug Report

## Description

I used dvc remote add -d myhdfs hdfs:/user/xxx/dvc to set a remote location to store data. (I tested the path hdfs:/user/xxx/dvc using hadoop fs -ls hdfs:/user/xxx/dvc before, and the path is valid.) After this, I used dvc remote list to check, and found that the path is rewritten to a local path like .dvc/../hdfs:/user/xxx/dvc

### Reproduce

0, hadoop fs -ls hdfs:/u

[2022-05-24 12:41] jloebl opened #7806 "pull: download stocks all number-of-jobs files for 10 seconds"
# Bug Report

## Description
When downloading files from a remote storage via dvc pull, the download stucks all 'number-of-jobs' files for about 10 seconds before continuing.

I have a folder on my remote storage containing ~1700 small files of 1gb size in total. While pulling, the download "stocks" every 64 files. After ~10 seconds the download continues for the next 64 files and then stocks agai

[2022-05-24 13:08] harvey-che opened #7807 "dvc push: it's run successfully but the remote path has no file"
# Bug Report

## Description
I setup a hdfs path as remote storage, and dvc add and then push a file successfully according to the terminal message. But I can't see files in the hdfs path.

### Reproduce
0, dvc init
1, dvc add data.csv
2, dvc remote add -d myhdfs hdfs://xxx/yyy
3, dvc push
4, hadoop fs -ls hdfs://xxx/yyy

### Expected
Expect to see some files in the hdfs path after pushing success

[2022-05-24 15:04] daavoo commented on #7807
hi @harvey-che , could you share the output of `dvc doctor` and `dvc push -v` ?

[2022-05-24 15:12] harvey-che commented on #7807
The output of dvc doctor

[code]

The output of dvc push -v
[code]

[2022-05-24 15:41] daavoo commented on #7807
@harvey-che Which is your dvc version? (`dvc doctor`)

[2022-05-24 15:47] harvey-che commented on #7807
@daavoo dvc version is 2.10.1

[2022-05-24 15:49] daavoo commented on #7807
Could you try with `2.10.2`? I think this was solved in https://github.com/iterative/dvc/pull/7563

[2022-05-24 16:02] harvey-che commented on #7807
@daavoo I tried 2.10.2, and it worked. I can push to and find the files in my remote path.

[2022-05-24 16:03] #7807 closed

[2022-05-24 16:27] #7731 closed

[2022-05-24 20:05] dberenbaum opened #7809 "plots: use line types to differentiate in multi-line plots"
For example, when plotting train vs. test, use solid lines for train and dashed for test.

_Originally posted by @shcheklein in https://github.com/iterative/vscode-dvc/issues/1757#issuecomment-1135281671_

[2022-05-24 22:59] daavoo commented on #7809
I think this requires sister issue in https://github.com/iterative/dvc-render

[2022-05-25 07:32] pared commented on #7775
@awadell1
What exactly is `google drive folder` in that case? How do you mount it on your mac?

[2022-05-25 18:56] kevashcraft commented on #6598
For me, this was a simple user error. I was running `dvc pull` instead of `dvc pull -r origin`. It only took an hour of tutorials to figure it out :D

[2022-05-25 22:06] dfossl opened #7812 "Windows - dvc plots show incorrect directory structure for manual plot images."
# Bug Report

## dvc plots show: img src directory incorrectly formatted for saved plot images (Windows)

## Description

On windows, when using a saved .png of a matplotlip plot for visualization with 'dvc plots show' the default img src is "dvc_plots\static\workspace_<file name>.png"
When it should be "static\workspace_<file name>.png"

### Reproduce
[code]
With this script as evaluate.py
[code]

[2022-05-26 08:30] karotchykau commented on #7361
Had the same issue with `scmrepo==0.0.16`. Couldn't execute any remote `dvc exp` command. Seems to be fixed after updating to `dvc==2.10.2` where it has `scmrepo==0.0.22` specified in `setup.cfg`.

Not an issue anymore?

[2022-05-26 11:13] mattlbeck opened #7813 "`exp run --temp --rev`: does not properly resume from the target revision"
# Bug Report

## Description

The command appears to use whatever is checked out in the workspace to resume from, despite providing a different `--rev`

### Reproduce

Clone the worked example repository and run the reprduction script

[code]

### Expected

On the second experiment, it should try to resume counting from 3 and exit immediately. Observed behaviour is that is just starts from 0 again

[2022-05-26 12:14] pared commented on #7812
Good catch! It should be partially fixed by:
https://github.com/iterative/dvc/pull/7664

We need to wait for a next release for that.

Proper fix will come after we merge and release iterative/dvc-render#39

[2022-05-26 12:31] pared commented on #7812
Leaving it open till we finish all the needed changes.

[2022-05-26 12:58] dberenbaum opened #7814 "get: support git remotes"
It would be nice to support `dvc get origin models/model.h5`. It seems unnecessary to have to type out the full URL for a known Git remote.

Edit: The context for this request is in https://github.com/iterative/dvc.org/pull/3593.

[2022-05-26 13:27] #7812 closed

[2022-05-26 13:28] daavoo commented on #7814
How would you differentiate the git remote name from a local path?

From https://dvc.org/doc/command-reference/get#description:

[2022-05-26 15:09] thinety opened #7815 "`add`: `.gitignore` is modified when directory-only pattern is already present"
# Bug Report

## Description

`dvc add` modifies `.gitignore` when run on a directory, even when `.gitignore` already contains a directory-only pattern matching said directory.

### Reproduce

1. `mkdir bug && cd bug`
2. `git init && dvc init`
3. `mkdir data`
4. `echo '/data/' 1>.gitignore`
5. `dvc add data/`
6. `cat .gitignore`

Output is:
[code]

### Expected

If `.gitignore` already contains a

[2022-05-26 15:50] ntjess commented on #7737
For colleagues without knowledge of Git/dvc and needing online file access, I maintain a mirror of the most recent revision on Dropbox using `rclone`. `rclone` can identify which files have changed and only sync the changes from update to update (`rclone sync ...`). However, if all revision times change, `rclone` re-uploads every file to keep remote times consistent with local files.
*(I understan

[2022-05-26 16:24] karotchykau commented on #7557
Hi @gregstarr.

You can just use [dvc.api](https://dvc.org/doc/api-reference) to compare all your experiments in a single Jupyter notebook ([dvc.api.open](https://dvc.org/doc/api-reference/open) or [dvc.api.read](https://dvc.org/doc/api-reference/read)). You can specify experiment name using the `rev` parameter (the docs might not be updated yet, but you can also provide experiment name as `rev`).

[2022-05-26 16:33] dberenbaum commented on #7775
This seems like a plausible cause. Even if I upload a csv and then remove the file extension in Google Drive, it will get added back when I download it. If the file is created with a csv mime type, an extension might be added.

Does this issue belong in https://github.com/iterative/PyDrive2?

[2022-05-26 18:37] shcheklein commented on #7775
Doesn't seem so. This is specific to the Google Drive Mac app it looks like? (`dvc push`, `dvc pull` are not involved at all so `PyDrive2` is not even touched). @awadell1 I think the best way to avoid this is to use `dvc remote` command, `dvc push` / `dvc pull` to synchronize the cache to /from `.dvc/cache` to your Google Drive.

[2022-05-26 18:53] awadell1 commented on #7775
Gotcha, thank you!

[2022-05-26 20:27] mseflek opened #7816 "`dvc plots show`: Allow for setting output directory via config or `dvc.yaml`"
Currently the output directory (default `dvc_plots/`) for the HTML file produced by `dvc plots show` can only be defined via the command's `-o` flag. It would be great if it could be set via `dvc.yaml` or the config files so that running `dvc plots show` automatically saves the file in a predefined place. This would make it more seamless to use in projects with a well-defined directory structure.

[2022-05-26 21:08] dberenbaum opened #7817 "plots: custom templates not being read from `.dvc/plots`"
## Description

Custom templates saved in `.dvc/plots` are not being read in `dvc plots` commands. It looks like this was introduced in #7409.

### Reproduce

[code]

[2022-05-26 21:52] mattseddon commented on #7756
Sounds good to me.

The current VS Code solution/workaround/hack is to get the required information from `exp show`'s `deps` and `outs`. On pull of a directory we will walk down the tree until we find some targets to pull.

[2022-05-27 00:24] shcheklein commented on #7756
@dberenbaum do we plan to deprecate global pull, push, etc later? or just use these hidden commands as a playground and then during 3.0 replace those? does it makes sense for us to start releasing major versions a bit more often? (not trying to squeeze everything)?

[2022-05-27 05:53] mattseddon commented on #7756
Update on the VS Code patch:

I am using the rel paths keys in `outs` from `exp show` where `use_cache: true` to identify paths that can be pushed/pulled directly. Would it be possible to add this information into the `data:status` json output ?

[2022-05-27 07:50] karajan1001 commented on #7814
`-g origin` to keep consist with other commands (dvc exp remove) .

[2022-05-27 09:24] daavoo commented on #7815
I am able to reproduce. Indeed appears to be something related with dulwich ignore:

[code]

[2022-05-27 09:24] dtrifiro commented on #7815
It seems this is related to the way dulwich handles ignores.

I can reproduce:

[code]

[2022-05-27 09:55] daavoo opened #7822 "ignore: Doesn't match `git check-ignore` when pattern contains slash at beggining and end."
[code]

_Originally posted by @daavoo in https://github.com/iterative/dvc/issues/7815#issuecomment-1139442721_

[2022-05-27 09:57] #7822 closed

[2022-05-27 10:39] TranThanh96 commented on #6629
Hi, I am using DVC on Linux, and still get that error ? any new updates ?

[2022-05-27 12:08] miguelvalente commented on #7800
@pwrightkcl Can you share the steps on Linux. I'm simply doing what they say https://dvc.org/doc/start/data-management.

I can push to a brand new dir on a server iff i don't have to go through a proxyjump.

[2022-05-27 14:56] dberenbaum commented on #7756
I would like to see the commands first and evaluate whether they could easily replace the existing commands. To start, we could copy the existing functionality to a new command and add in support for `-R` to cover paths specified in pipelines. Then, hopefully we can test whether we could replace the existing commands and update the major version.

Releasing major versions more often is a good idea

[2022-05-27 15:12] dberenbaum commented on #7815
@daavoo Do you have any sense of the fix in dulwich?

@thinety How does it impact you to have multiple entries in `.gitignore`?

[2022-05-27 15:36] daavoo commented on #7815
Haven't looked in enough detail.

[2022-05-27 16:28] thinety commented on #7815
@dberenbaum Usually, `data/` is inside another directory in the project (`dir/` for example), and is ignored by the *root* `.gitignore`. When running `dvc add dir/data/`, another `.gitignore` is created inside `dir/`, because the root `.gitignore` contains `/dir/data/` and not `/dir/data`. I need to delete this new `.gitignore` on every run of `dvc add`, which is more of an incovenience than a pro

[2022-05-27 19:05] efiop commented on #6629
@TranThanh96 Could you provide more info, please? Error log, `dvc doctor` output, etc?

[2022-05-28 00:08] dberenbaum opened #7824 "exp show: slow"
# Bug Report

Starting with https://github.com/iterative/dvc/pull/7724 (cc @efiop), `dvc exp show` became very slow.

## Description

Before #7724:

<img width="1021" alt="Screen Shot 2022-05-27 at 7 35 38 PM" src="https://user-images.githubusercontent.com/2308172/170800599-49b22c5f-3918-4051-a620-c97226d5f56a.png">

After #7724

<img width="1026" alt="Screen Shot 2022-05-27 at 7 32 47 PM" src="ht

[2022-05-29 14:10] sukhovvl commented on #6154
I've had a very similar problem with `dvc params diff` command (as well as similar commands such as `plots diff`, `metrics diff` etc) while trying to generate CML report within Gitlab CI workflow.

[code]
Most basic scripts such as the one above result in:
[code]

[2022-05-29 22:42] mattseddon commented on #7756
@dberenbaum as long as all of the tracked directories are returned in the output then we will be covered 👍🏻.

Examples of all the paths we need:

### VS Code demo project

[code]

### example-get-started

[code]

LMK if I need to expand on anything or give more context/clarification.

Thanks

Note: This should include cached plot data/directories which we cannot currently get from `exp show`.

[2022-05-30 06:09] pmrowla opened #7825 "exp: test_apply flaky with celery changes"
https://github.com/iterative/dvc/runs/6649145002?check_suite_focus=true#step:7:5701

[2022-05-30 09:29] miguelvalente commented on #7800
Update!

I replaced proxyJump with ProxyCommand and now it works.

[code]

[2022-05-31 02:01] dberenbaum commented on #7824
This included an scmrepo verson bump from 0.0.19 to 0.0.22, so it's possible the slowdown is coming from scmrepo.

[2022-05-31 02:01] dberenbaum commented on #7824
This included an scmrepo verson bump from 0.0.19 to 0.0.22, so it's possible the slowdown is coming from scmrepo.

[2022-05-31 07:53] daavoo commented on #7824
Took a quick look into this because creating a parallel coordinates plot from the `main` branch was taking 1 minute in my example repo 😅

This is, IMO, a very important regression as it grows linearly with the number of `experiments * checkpoints`.

I isolated a single unit of the main source of the regression with this snippet:

[code]

This is a stripped-down version of what happens inside `gath

[2022-05-31 14:09] efiop commented on #7824
I guess this is another sign that we should add it to benchmarks...

[2022-05-31 14:17] #7817 closed

[2022-05-31 17:25] dberenbaum opened #7830 "plots: smart legend labeling"
Background:

* https://github.com/iterative/dvc/pull/7477#discussion_r868405583
* https://github.com/iterative/dvc/issues/7086#issuecomment-1125169586

After https://github.com/iterative/dvc/pull/7477, the legend can sometimes be too long. Removing the common parts of the legend would make it easier to read.

Also, in https://github.com/iterative/dvc/issues/7086, the y-axis isn't read from the col

[2022-05-31 17:50] M-Puig opened #7832 "Unable to pull from gdrive, file identified as malware"
Hi, I started following the hands-on tutorial and pushed an example file to my gdrive and tried to retrieve it using dvc pull, and I get the following error.

`<HttpError 403 when requesting *www.googleapis.com link* returned "This file has been identified as malware or spam and cannot be downloaded". Details: "[{'domain': 'global', 'reason': 'abuse', 'message': 'This file has been identified as m

[2022-05-31 20:51] M-Puig commented on #7832
Just the one on the dvc.org [(https://dvc.org/doc/start/data-management
)]
I used the conda install

[2022-05-31 21:16] jorgeorpinel commented on #7832
Thanks. Actually could you also share the output of `dvc doctor` for the core team? Thanks again

[2022-06-01 06:44] M-Puig commented on #7832
`$ dvc doctor
DVC version: 2.10.2 (conda)
---------------------------------
Platform: Python 3.10.4 on Windows-10-10.0.22000-SP0
Supports:
        gdrive (pydrive2 = 1.10.1),
        webhdfs (fsspec = 2022.5.0),
        http (aiohttp = 3.8.1, aiohttp-retry = 2.4.6),
        https (aiohttp = 3.8.1, aiohttp-retry = 2.4.6)
Cache types: hardlink
Cache directory: NTFS on C:\
Caches: local
Remotes: gdri

[2022-06-01 17:12] dberenbaum commented on #7589
@pmrowla @karajan1001 I still see the error above when trying to run a queued experiment. Is that still expected?

[2022-06-02 00:52] pmrowla commented on #7589
@dberenbaum it's expected due to the dev branch being behind main. I'll be rebasing it so everything is up to date today.

[2022-06-02 03:58] pmrowla commented on #7589
dev branch has been rebased, the QueryingProgress error should be resolved now

[2022-06-02 08:15] #7547 closed

[2022-06-02 10:14] #7447 closed

[2022-06-02 13:49] dberenbaum commented on #7590
Does this include how to deal with failed experiments? We need the ability to see which experiments failed instead of having them "disappear."

Sorry for changing requirements here, but can `dvc queue attach` show all output up to the current point instead of streaming only new output? This would also be really useful for completed and failed experiments. Otherwise, I think it's hard to see what's

[2022-06-02 15:06] dberenbaum commented on #7589
Looks good, thanks!

[2022-06-02 15:28] muneebable commented on #1696
Hello,
I would like a FTP feature as it is super easy for ftp to setup in the team environment and super easy to upload/download files. ON the other hand sftp a little complicated from CMD.

[2022-06-02 17:29] dberenbaum commented on #7591
`dvc queue remove --all` doesn't seem to be working:

[code]

[2022-06-02 17:35] dberenbaum commented on #7589
`queue stop` seems like it fails to clear the currently running experiments from the queue once they complete:

[code]

[2022-06-02 17:43] dberenbaum commented on #7589
`queue stop` also fails to stop all workers if there are multiple running:

[code]

[2022-06-03 03:33] karajan1001 opened #7840 "queue remove: add remove support for short revs"
Now cmd `queue remove` can not accept short rev as a name.

[code]

[2022-06-03 07:29] alimagadovk opened #7842 "```dvc exp run --queue```: deleting file 'params.yaml' for each command call"
# Bug Report

 dvc exp run --queue: deleting file 'params.yaml' for each command call

## Description

```dvc exp run --queue``` deletes file 'params.yaml' for each trial to add a new experiment and the experiment don't put into queue. It works correctly only if command ```git add params.yaml``` was called before.

### Reproduce

Example files:
test.py
[code]

params.yaml
[code]

dvc.yaml
[code]

[2022-06-04 03:16] shelper opened #7843 "support subfolders in the remote storage as the root storage for different projects"
I would like to maintain a central git repo that is for all the data registry information for multiple projects. I host my data on google cloud storage: `gs://bucket/dvc-datastore`, and I would like to have subfolders in this place for my projects, say:
`gs://bucket/dvc-datastore/project1`, `gs://bucket/dvc-datastore/project2`, etc.

to do this, with current dvc data registry, first i have the fol

[2022-06-04 12:13] karajan1001 commented on #7843
You can have a `remote` file in your `outs` scope to set a special default remote place for it. Something like

[code]

It is in our [docs](https://dvc.org/doc/user-guide/project-structure/dvc-files#dvc-files) but we haven't provide a CLI command to set this parameter.

[2022-06-04 18:27] shelper commented on #7843
@karajan1001 that makes sense, but i think that still is not as convienent, as you need to have multiple remote storage in .dvc/config.
this could grow and hard to track if we delete/modify project.
seems to me that it would be easier to have something like `remote-subdir` or
[code]

[2022-06-05 08:02] karajan1001 commented on #7843
Another potential solution for this question is to have sub-repos, You can init your `DVC` under every single project.

[code]

[2022-06-05 10:09] igordertigor opened #7844 "plots show: Cryptic error message when trying to plot csv files written from pandas"
## Description

When I try to plot a csv file written by pandas, I receive an extraordinarily cryptic error message
[code]
This seems to bubble up from the json module and appears to be related to the empty column header that pandas writes for its default index column. So it is not difficult to fix (for example, by calling `.to_csv` with index=False). However, the error message is entirely useless

[2022-06-06 09:23] johnyaku opened #7847 "dvc move: loses deps when moving imported .dvc files."
# Bug Report

## Description

When `dvc move` is applied to data imported via `dvc import` the data files are moved successfully and a new `.dvc` file is created in the target location BUT the new `.dvc` file no longer contains the `deps:` section (repo url, etc).

### Reproduce

[code]

### Expected

New `.dvc` file should retain `deps:` information.

### Environment information

**Output of `dvc

[2022-06-06 10:03] efiop opened #7848 "dag: --show-dot failing with networkx"
[code]

[2022-06-06 10:19] TranThanh96 commented on #6629
![image](https://user-images.githubusercontent.com/26323599/172142633-986512a0-91b0-4392-a96f-a40cf7966510.png)
![image](https://user-images.githubusercontent.com/26323599/172142691-920926c6-d6fa-47c3-a176-8bed37e4ff32.png)

@efiop here

[2022-06-06 11:37] efiop commented on #6629
@TranThanh96 Could you try installing a newer version of dvc?

Also, please check that `pip freeze` shows both dvc and `sshfs` in the output. In case you have some venv issue. Overall looks like there is some env issue in your setup.

[2022-06-06 13:06] shelper commented on #7843
@karajan1001 your suggestion works but maybe a little bit tedious for cases where i need to update each project for something common, e.g.,
1. when i need to migrate all projects data into another cloud storage provider, i have to change every project.
2. if i made changes to multiple projects data, i have to run `dvc push` for each project

[2022-06-06 14:32] Joe-McC opened #7850 "add --to-remote usage when rolling back versions"
## My Use Case
My current setup involves using a mounted RAID drive to store large datasets, with the plan being to setup the dvc workspace on the local filesystem, ideally tracking datasets without the need to pull the data locally due to space issues.

## Problem
Following the [docs](https://dvc.org/doc/user-guide/managing-external-data), I initially attempted to manage the remote files using th

[2022-06-06 15:09] dtrifiro commented on #7638
Hey @carlthome,
I currently have a fix for this in #7655. It seems to be working, but I'm holding on before merging because I first want to make sure the test suite for google storage works. I will try to get this fixed asap!

[2022-06-06 15:09] daavoo commented on #7638
I think that if you include [this change](https://github.com/iterative/dvc/pull/7655/files#diff-b94a4991764449913f9a898c5ca70390c08964b8cb13d1414f5abc8fa05acaa5) (or install from that branch) would work

[2022-06-06 20:06] dberenbaum commented on #7813
I'm able to confirm. @pmrowla @karajan1001 Any thoughts?

[2022-06-06 20:07] dberenbaum commented on #7816
@pared @daavoo How hard do you think this would be? Would it make a good first issue?

[2022-06-06 20:10] daavoo commented on #7816
I think not much, but probably there are some gotchas.

Maybe not, because of the gotchas.

[2022-06-06 21:03] dberenbaum commented on #7832
@M-Puig Is this happening consistently for you or is it intermittent?

@iterative/dvc It seems like it should be easy for someone to contribute a PR to add this to the config options, but where would they need to do it?

[2022-06-06 21:10] pared commented on #7816
I don't see any bigger problems at first sight. We already have a config section for plots, there is only one actual line addressing `dvc_plots`, in  `plots` command code. We can access the repo there too... there might be a problem with no repo situation, but AFAIR getting config there will result in an empty dict.

[2022-06-06 21:10] pared commented on #7816
I would consider it for first issue.

[2022-06-06 22:31] #3484 closed

[2022-06-06 23:54] djimboy commented on #7656
Install cryptography v 36.0.2

`pip install cryptography==36.0.2`

[2022-06-07 02:44] TranThanh96 commented on #6629
dvc==2.10.2
sshfs==2022.3.1

pip freeze show me that version of dvc and sshfs. About env: This is a new env that I created in anaconda.

[2022-06-07 03:12] pmrowla commented on #6154
@dberenbaum I think this is a separate issue. If it was a shallow/depth problem it would likely show up as an unknown git revision/object SHA and not the "no active branch" error.

@sukhovvl can you run your diff command with `-v` in gitlab CI and then post the full error traceback here

[2022-06-07 03:42] pmrowla commented on #7813
@dberenbaum initially I thought this was a bug, but after looking into this a bit more I think the problem is that the expected resume behavior is still kind of ambiguous (this goes back to the old discussion in https://github.com/iterative/dvc/issues/5814).

The problem is that the current intended behavior is to allow for resuming an experiment with additional modifications (applied from the wor

[2022-06-07 05:20] pmrowla opened #7854 "exp queue: handle failed experiments"
* [x] display failed exps in `dvc queue`
* [x] expose logs for completed (failed and successful) exps in `dvc queue logs`

Related to https://github.com/iterative/dvc/issues/7590

[2022-06-07 05:27] pmrowla commented on #7843
@shelper is there a specific reason you need to keep your data separated by project in your cloud storage (i.e. privacy or security related concerns)? Just in case you weren't aware, DVC supports using a single remote with multiple projects.

[2022-06-07 09:28] mattlbeck commented on #7813
Thanks for the response! @pmrowla if the workspace is always applied even to `--temp` runs, it's not clear to me why your workaround would be better over the simpler:
[code]

[2022-06-07 09:34] karajan1001 commented on #7850
I think you can just git checkout to an older version. As all versions of the data are already on your remote storage. And what you only need is to change the pointer (`.dvc`) value.

[2022-06-07 09:39] mattlbeck commented on #7813
Reading the linked conversations, it seems like I have stumbled into a bit of a checkpoint behaviour minefield! I won't pretend to fully understand all the target use cases, but it sounds like you are trying to accomodate a lot of disparate things with this behaviour. Perhaps I can help most at this point by fully explaining our current use case.

We want to use `dvc exp` functionality with `queue

[2022-06-07 10:26] sukhovvl commented on #6154
Sure, here it is:
[code]

And here is the gitlab-ci.yml producting this output:
[code]

[2022-06-07 10:52] Joe-McC commented on #7850
But then I would still need to ```dvc pull``` the latest version of the data to my local workspace at some point (as the .dvc pointer points to the md5 files which need to be pulled)? I think what I'm looking for is maybe the ```--external``` argument to track all of my data externally without the need to ever copy to the local workspace, although as stated ```--external``` is not recommended in t

[2022-06-07 11:11] pmrowla commented on #6154
@sukhovvl your issue is a bug which has already been resolved in `main` and the fix will be available in the next DVC release (see https://github.com/iterative/dvc/pull/7750)

[2022-06-07 12:05] karajan1001 commented on #5489
@dberenbaum is there still anything remaining?

[2022-06-07 12:12] karajan1001 commented on #7587
close due to #7714 and #7799

[2022-06-07 12:17] #7174 closed

[2022-06-07 12:17] #7656 closed

[2022-06-07 12:52] M-Puig commented on #7832
It is happening consistently with my main google account, with which I never used googleAPI previously. Didn't try with other accounts, just moved away from gdrive

[2022-06-07 12:57] shelper commented on #7843
understood, and privacy or security related concerns is one thing for sure, other reason would be just more intuitive for doing that.

for instance, if i am working on a project for prototyping, and then i decide to move the project out to another place for another stage. I can simply copy the subfolder with the project. it is just more straightforward.

e.g., if I understanding correctly, if putt

[2022-06-07 16:35] dtrifiro commented on #7564
Thanks! I will look into it asap

[2022-06-07 17:57] pwrightkcl commented on #5562
I just wanted to add my own experience using DVC on NFS. I just came from Discord, where @dtrifiro started a thread [dvc slow on nfs](https://discordapp.com/channels/485586884165107732/983743637320003654) that led me to this issue, which seems to be the main one on the topic.

The `dvc add’ step took about 18 hours to process about 2000 files totalling about 100 GB.

[code]

I then ran `dvc push`

[2022-06-07 18:55] dberenbaum commented on #7844
Would it be better to allow empty column names or to show a more informative error message?

[2022-06-07 19:02] dberenbaum commented on #7854
Is the plan to have separate commands for `dvc queue logs` and `dvc queue attach`? I think we can have one command that returns logs for running, failed, and successful experiments. Do you see a reason to keep two commands?

[2022-06-07 19:18] dberenbaum commented on #7813
Yup, I think you are entering the danger zone @mattlbeck 😄 . We are working towards simplifying this workflow ourselves (cc @casperdcl).

Would you be interested in running each job on a different spot instance so that failures remain independent?

[2022-06-07 19:51] dberenbaum commented on #5489
No, closing this issue, thanks for all your hard work @karajan1001!

[2022-06-07 19:56] dberenbaum commented on #5802
Bumping down to p2 following #7752

[2022-06-07 19:57] dberenbaum commented on #5802
See https://github.com/iterative/dvc/pull/7740#issuecomment-1148588656

[2022-06-07 20:17] dberenbaum commented on #7695
@karajan1001 How much time would it take to implement this?

[2022-06-07 21:57] dberenbaum commented on #7591
`dvc queue kill` does not accept assigned experiment names for checkpoint experiments:

[code]

[2022-06-08 01:51] pmrowla commented on #7854
I think it makes more sense to just have `queue logs [-a/--attach]` (or maybe just `[-f/--follow]` instead of attach). So by default it will dump the available logs for any exp (running or done) and with `-f` it stays open and continues reading (assuming the exp is running)

[2022-06-08 04:45] karajan1001 commented on #7695
As we had already refactored the branched I think it'll cost about 1-2 days.

[2022-06-08 04:46] karajan1001 commented on #5562
Have you tried setting `state.dir` and `index.dir` to some local paths?

[2022-06-08 06:47] karajan1001 commented on #7850
`--to-remote` and `--external` are for different use cases. For, `--to-remote` it is used if both the data and the calculation were on a remote server,  and you want to do some data management locally. While, for `--external` it's use case is you have a large dataset can only be stored remotely and besides your remote server do not provide the ability to crunch it. In this case, your calculation r

[2022-06-08 09:35] mattlbeck commented on #7813
One job per instance sounds quite sensible, but I think I would have to deploy with TPI for each experiment I want to run, is that correct? It will be a fair bit more engineering to do it this way - the nice thing about the current workflow was we could let DVC worry about scheduling jobs correctly given a fixed number of parallel jobs.

[2022-06-08 10:02] dmitry-kabanov opened #7861 "dvc push: misleading error message for SSH remote when SSH user does not have permissions"
# Bug Report

## push: says "no such file or directory" instead of more appropriate "permission denied"

## Description

I set an SSH remote and try to `dvc push` to it.
I get errors message "No such file or directory" although the problem is that the SSH user does not have file permissions. It would be much easier to debug if the error message is something like "permission denied".

### Reproduce

[2022-06-08 12:49] dberenbaum commented on #7813
Makes sense. I was asking because we want to work towards integrating DVC and TPI to make it easier to deploy a TPI instance per DVC experiment. Hopefully we can make your workflow easier in the coming months, and hearing your issues will help!

It may be possible to sync the temp experiment data to avoid needing to push/pull checkpoints. @pmrowla @casperdcl What do you think?

Has this resolved y

[2022-06-08 13:46] dtrifiro commented on #7861
Thanks for reporting this! I linked a small patch which will improve the error messages when running with debug flags (`-v`)

[2022-06-08 13:57] d-walkama commented on #5562
Hello! Can it be a temporary directory?

[2022-06-08 13:58] d-walkama commented on #5562
Hello! Can it be a temporary directory?

[2022-06-08 16:16] AlexandreRozier opened #7863 "Experiment metrics are not reported when metric files are on another partition"
# Bug Report

## Issue name
`dvc exp run` runs but does not store metrics.

## Description

I'm running my training script on `/dev/mapper/system-home` and it outputs data (model checkpoints, metrics) in `/data/.cache`  located on another partition (`/dev/sdb1`). `/dev/sdb1` is a purposely large partition where we are supposed to store large files. Running `dvc exp run`  works fine, **but after co

[2022-06-08 17:57] d-walkama commented on #5562
Update, this worked for me!!!!

[2022-06-08 18:32] dberenbaum commented on #5562
Maybe we need to add a section to https://dvc.org/doc/user-guide/troubleshooting to explain this until we have a better solution?

[2022-06-08 19:24] dberenbaum commented on #7813
Getting back to the actual issue, I think we should make this change. I hit a related issue today:

[code]

The whole point of `--rev` is to not have to apply it to your current workspace, isn't it? I don't think it matters if behavior is different from workspace runs since `--rev` isn't supported for workspace runs. Otherwise, we should deprecate `--rev` because I can't see any other use case for

[2022-06-08 20:05] dberenbaum commented on #7589
Have you tested much with `-j`? It's hard for me to pinpoint issues with it because it is still pretty unstable and hard to reproduce. I can show some issues, but I'm not always sure what's causing them.

[2022-06-09 05:05] pmrowla commented on #7589
`-j` is non-functional right now (internally we still only allow a single worker regardless of what you pass into `queue start -j`)

Looks like there is probably still a bug w/how we handle celery task prefetching and cancelling somewhere that affects `queue stop`, I'll look into it

[2022-06-09 08:12] johnyaku opened #7864 "dvc destroy: data files"
# Bug Report

## Description

The prompt message for `dvc destroy` is a bit dramatic.
[code]

But this command destroys `.dvc` meta data files, rather than the actual data files. The documentation is clear enough about how it actually works, but this is still a bit over-dramatic.

### Reproduce

`dvc destroy`

### Expected

[code]

### Environment information

**Output of `dvc doctor`:**

[code]

[2022-06-09 08:46] karajan1001 commented on #7589
Yes, on my side I found 80% percent it works as intended when I start 2 workers. But sometimes it will only start one.

[2022-06-09 08:59] oslobowl commented on #7307
@pared Hello :)
Was this problem ever solved? I still have to roll back to 2.8.1.
(.venv) asdf@1234:/workspaces/my_pipeline$ dvc --version
2.9.3
(.venv) asdf@1234:/workspaces/my_pipeline$ dvc update data/data.gz.parquet.dvc
Importing 'data/data.gz.parquet (https://github.com/me/my_pipeline.git)' -> 'data/data.gz.parquet'
ERROR: failed update data - failed to parse 'vars' in 'dvc.yaml': 'params.yam

[2022-06-09 08:59] pwrightkcl commented on #5562
Small update: it worked for me even after deleting directories, so it looks like DVC creates them if they don't exist. Handy since mine are ephermeral.

[2022-06-09 09:12] oslobowl commented on #7307
@efiop Yes, sorry. Using 2.11.0 I just get another error:
**ERROR**: failed update data - Failed to clone repo 'https://github.com/me/my_pipeline.git' to '/tmp/tmpb9j9yyrudvc-clone'

[2022-06-09 09:14] daavoo commented on #7863
@AlexandreRozier Is that the full traceback? Are there any other exceptions logged above the traceback you shared?

[2022-06-09 09:24] mattlbeck commented on #7813
It looks like it could be a solution but I will have to find some time to test it properly

[2022-06-09 09:28] mattlbeck commented on #7813
This sounds ideal for some workflows, but for others it will still be more convenient to run multiple experiments on the same instance e.g. due to account instance limits or to best optimize the CPU capacity of one instance when your indivicual jobs are not multiprocessing.

[2022-06-09 09:32] pmrowla opened #7865 "ui: link type errors pollute debugging logs"
When running commands with `-v` we end up dumping link error tracebacks that are expected (like when we are on an FS that doesn't support reflinks). This ends up leading to confusing bug reports on GH and in other support channels like discord, since users assume that the link failure is the problem, when in actuality it is something else entirely. This occurs even in commands that aren't using ch

[2022-06-09 10:07] efiop commented on #7307
@oslobowl Do you have access to that repo? Does `git clone` work for it? Are you using https://www.git-scm.com/docs/gitcredentials ?

[2022-06-09 10:11] oslobowl commented on #7307
@efiop Yes, I have access. Git clone and everything else works. My git is setup correctly :)

[2022-06-09 10:24] casperdcl opened #7866 "dvc stage run"
A possible reasons why some features might be underused is naming inconsistency.

- `dvc stage {add,list}`
- `dvc repro`
- `dvc run`

surely should be unified as `dvc stage {add,list,run}`? Could sanitising these CLI subcommands be part of the next major release?

[2022-06-09 10:26] efiop commented on #7307
@oslobowl Could you post a full verbose log, please? (add `-v` to the command you are running). Possibly you are using git credentials and so will have to wait for https://github.com/jelmer/dulwich/pull/976

[2022-06-09 10:32] oslobowl commented on #7307
I don't think my organization is using git credentials. I would be happy to figure it out, but as you probably already inferred I'm not an IT-wizard :)

verbose log:
(.venv) asdf@1234:/workspaces/my_pipeline$ dvc update -v data/data.gz.parquet.dvc
2022-06-09 10:02:07,396 DEBUG: Creating external repo https://github.com/me/my_repo.git@None
2022-06-09 10:02:07,396 DEBUG: erepo: git clone 'https://gi

[2022-06-09 11:09] dtrifiro commented on #7866
I would argue that `dvc run` is not really useful, and I would just keep `dvc stage add`.

Using CLI to define stages gets very cumbersome for all but most simple stages: I'm assuming most people just just use `dvc run` (or `stage add`) to generate the boilerplate/dvc.yaml for the stage and then manually edit it according to their needs.

For example, comparing `dvc run`'s and `dvc stage add`'s he

[2022-06-09 11:23] karajan1001 commented on #7843
I don't think it is needed to checkout the data. Just pull everything needed to your local cache, and push them to the remote, some useful flags for `dvc pull/push` in this progress.
[code]

[2022-06-09 11:41] oslobowl commented on #7307
@dtrifiro Yes, I redacted the log for anonymization purposes :) I'll ask a colleague that actually knows what he is talking about wrt. the authentication to github

[2022-06-09 11:50] pmrowla commented on #7866
I think this is mostly a duplicate of https://github.com/iterative/dvc/issues/5846

[2022-06-09 13:26] oslobowl commented on #7307
@dtrifiro hello again! So, apparently we authenticate to github with git credentials via username/PAT or Git Credential Manager

[2022-06-09 14:29] dberenbaum commented on #7592
This is looking good now! I wanted to summarize some of the questions/issues I still have:

1. What to do with existing commands and flags? Specifically, `dvc exp run --run-all` and `dvc exp remove --queue`?
2. How can we check if the queue is active/running/processing?
3. Should we show both queued and failed experiments in `dvc exp show` and have flags to show/hide them?
4. How should queued exp

[2022-06-09 16:19] dtrifiro opened #7867 "gdrive: oauth authentication broken"
# Bug Report
google drive remote support with oauth authentication is currently broken for dvc

## Description

### Reproduce
1. Follow [oauth setup guide](https://dvc.org/doc/user-guide/setup-google-drive-remote#using-a-custom-google-cloud-project-recommended)
2. Add the google drive remote `dvc remote add gdrive://<id>`
3. Run the following snippet:
[code]

### Expected
[code]

Clicking on the U

[2022-06-09 17:03] shcheklein commented on #7867
Hmm, I can't reproduce this on my end.

The first message is not about Gdrive - it's about Google Storage, right? The second one is also about GCP. not GDrive?

@daavoo @dtrifiro ?

[2022-06-09 17:04] efiop commented on #7307
@oslobowl With dvc already installed through pip, try
[code]
and try running your command again.

Some explanation on what is going on: we've stopped using CLI git (to not depend on it, so that dvc works in limited setups like docker containers, where you might not want to install cli git) and using `dulwich` now (pure-python git implementation), which is lacking some features, like this gitcreden

[2022-06-09 18:36] oslobowl commented on #7307
@efiop Thanks for the explanation Ruslan :) we are cheering for you and we are very grateful for the great support we get with issues :)

I tried what you said, and I still get the same error unfortunately:

[code]

[2022-06-09 21:03] efiop commented on #7307
@oslobowl Please show outputs of these three commands

[code]

[2022-06-10 02:15] karajan1001 commented on #7866
If we migrate all of the existing command to an `experiment` based workflow as well as `dvc exp` related commands, I think we can deprecate the subcommand `exp` then.

[2022-06-10 03:12] pmrowla commented on #7592
I think the existing commands should essentially be aliases to the new behavior, and formally deprecated, so when the user runs them we would output something like

For the aliased behavior:

- `exp run --temp` should just be `exp run --queue` + `queue start` + `queue logs <exp>`
- `exp run --run-all` should just be `queue start`. I don't think we should try to duplicate the existing log behavior

[2022-06-10 03:14] pmrowla commented on #7592
This is an underlying celery issue, the basic filesystem broker which we use doesn't absolutely guarantee that tasks will be executed in FIFO order (but in most cases it will). This is something we can fix upstream, but I think we should get any other issues on the DVC side sorted out first.

[2022-06-10 03:45] pmrowla commented on #7592
This is also related to the `queue remove` behavior question (from https://github.com/iterative/dvc/pull/7855#issuecomment-1151190836):

There's a couple questions that need to be clarified here:

- do we need a method for removing a successful exp so it doesn't show up in `queue status` but keeping the actual experiment data (so it stays visible in `exp show`)?
- or should `queue remove <successf

[2022-06-10 03:54] pmrowla commented on #7592
This is also related to the bug where generated final exp names for checkpoint exps can't be used with `queue kill` and `queue remove` (the queued exp isn't associated with the separate generated exp name).

We probably need to just revisit exp automatic naming, the simplest solution here would be to just generate random exp names when they are queued instead of using the current method of naming

[2022-06-10 04:08] TranThanh96 opened #7871 "ERROR: failed to get 'my_data' from 'my_repo'"
I created my dvc repository and push data successfully. But when I use "dvc get link_my_repo", an error occurs. Here is log:
[log.txt](https://github.com/iterative/dvc/files/8875673/log.txt)

[code]

[2022-06-10 06:35] karajan1001 commented on #7592
This one had ready been ready, it calls `clear` in `celery_queue`

[2022-06-10 07:35] oslobowl commented on #7307
@efiop

**dvc doctor:**
[code]

**pip freeze | grep dvc**
[code]
**pip freeze | grep dulwich**
`dulwich==0.20.43`

[2022-06-10 08:01] karajan1001 commented on #7591
Could you please provide the result of `dvc queue status`. On my computer, I can properly kill checkpoint experiments with the name shown in `queue status`

[2022-06-10 09:06] efiop commented on #7307
@oslobowl Looks like you've installed dulwich into some other env, that is not the same as dvc's. If you do it correctly, `pip freeze | grep dulwich` should look like this:

[code]

[2022-06-10 10:23] dtrifiro commented on #7871
Hi! I cannot seem to reproduce on a fresh install on `ubuntu 20.04`. Could you try re-installing dvc and check if that helps? Thanks!

[2022-06-10 11:08] TranThanh96 commented on #7871
yes, I tried to reinstall (by pip, conda, apt-get) but getting some other errors.

[2022-06-10 11:17] dtrifiro commented on #7867
By looking at the error (`redirect_uri: urn:ietf:wg:oauth:2.0:oob`) and doing some research, it seems it is related to the deprecation of the out-of-band OAuth flow (see https://developers.googleblog.com/2022/02/making-oauth-flows-safer.html).

https://github.com/iterative/PyDrive2/blob/2e43e4561d965ce78dc158a02fbdb75ba6c38105/pydrive2/settings.py#L58-L64

[2022-06-10 11:41] dtrifiro commented on #7871
Could you post full tracebacks?

[2022-06-10 11:47] dtrifiro commented on #7867
Related https://github.com/iterative/PyDrive2/pull/180

[2022-06-10 13:43] casperdcl commented on #6823
also related: https://github.com/iterative/example-repos-dev/issues/83#issuecomment-1128824098

[2022-06-10 14:16] dtrifiro commented on #7564
Hi @atekoa,

I tried following your instructions but it seems I cannot get the remote (simple case) to work:

``` failed to transfer 'md5: 878750719fec346635c5beb4c2132a46': ClientOSError: [Errno None] Can not write request body for http://localhost:8080/remote?remote=0/87/8750719fec346635c5beb4c2132a46```

[2022-06-10 14:21] skshetry commented on #7564
Also, note that DVC `http` does not support path in query part or fragment part, it has to be a part of the path.

[2022-06-10 14:48] adin786 opened #7875 "dvc pull: progress bar inserts new lines when run from JupyterLab Notebook/Console"
# Bug Report

## Description

**Background:** I am using dvc just to control data file versions.  I have a Git repository cloned which contains `.dvc` files for tracking data that has separately been through `dvc add` and `dvc push` to upload it to an S3 bucket as the dvc remote.  I have been able to run `dvc pull` to a fresh clone of the repository, from the usual commandline (MacOS) and the down

[2022-06-10 15:15] mdekstrand commented on #7702
@daavoo Yes, adopting `dulwich` for clone seems to be causing a problem. I am having a similar problem with HTTPS remotes with their credentials stored in the Windows credential store, because `dulwich` does not yet support Git credential helpers.

[2022-06-10 15:26] mdekstrand commented on #7702
@daavoo Yep, seeing that issue is how I knew the HTTPS side was a dulwich problem.

At least until that PR lands in a published release, could `dvc` get an option to support the older `git`-based cloning? Dropping support for authentication methods seems like a pretty big workflow regression. Happy to create a separate issue for that if appropriate.

[2022-06-10 16:00] daavoo commented on #7702
The only way (disclaimer: it's hacky 😅 ) I can think of achieving this without requiring a new release (either dvc, scmrepo or dulwich) would be for you to edit your local `scmrepo` source code, altering the priority of the backends.

https://github.com/iterative/scmrepo/blob/94a772799812f42bf8adacdc4fdf5dc9808f528c/scmrepo/git/__init__.py#L38-L42

I think having the ability to select a git backen

[2022-06-10 16:21] dberenbaum commented on #7592
What if there are other experiments in the queue?

It could be unexpected if users are running jobs where they assume `exp run --run-all` will block until the experiments finish.

👍

We don't claim that `dvc exp` is stable in 2.x, so there are no hard requirements to maintain existing behavior, but obviously we want to avoid breaking changes if feasible.

[2022-06-10 16:38] dberenbaum commented on #7592
Do we need `queue clean` and two separate tables in `queue status`? Why not just have `queue remove` do what you suggested for `queue clean`? There just won't be any logs for experiments still in the queue. Can we consolidate it into `queue remove [--queued] [--failed] [--succeeded] [--all]`?

👍

[2022-06-10 16:47] daavoo commented on #7863
Hi @AlexandreRozier . It looks like the errors in the `exp run -v` traceback are just coming from https://github.com/iterative/dvc/issues/7865 so (I think) nothing to worry about. It looks like the experiment is completed successfully.

Could you share the output of `dvc exp show --json -vv`?

[2022-06-10 16:57] dberenbaum opened #7878 "> 4. How should queued experiments be named and should they match the final experiment name?"
This is also related to the bug where generated final exp names for checkpoint exps can't be used with `queue kill` and `queue remove` (the queued exp isn't associated with the separate generated exp name).

We probably need to just revisit exp automatic naming, the simplest solution here would be to just generate random exp names when they are queued instead of using the current method of naming

[2022-06-10 16:59] dberenbaum commented on #7592
Having separate queue and exp names actually makes much more sense now that the queue is more distinct, and it might even be helpful to keep them separate given the discussion above about the differences between queued and completed experiments. I think it's fine to keep it for now if we clean up all the queue UI so that it clearly references queue IDs and tasks rather than experiments or revs.

L

[2022-06-10 18:07] dberenbaum commented on #7591
I see no name for the running checkpoint experiment in `queue status`:

[code]

[2022-06-11 11:52] tibor-mach opened #7880 "dvc remote rename: does not change config.local"
# Bug Report

## Description
dvc remote rename does not change the remote name in `.dvc/config.local`. This has two effects:
1. after `dvc remote rename <old_remote_name> <new_remote_name>` , the following error message pops up (for an azure remote, it will differ slightly for a different remote):
[code]
2. After the previous command, ``dvc remote rename <new_remote_name> <old_remote_name>`` does

[2022-06-11 16:45] dtrifiro commented on #7875
Hey.
Thanks for reporting this. I can confirm this is happening

Just a note: I did a quick check for `tqdm`'s behaviour using the following code:
[code]
and it behaves properly. So it's probably something on our side.

`rich`'s demo also shows the same behaviour:

```!python -m rich.progress```

Just as a curiosity: I see that you're running `dvc==2.0.18`, which is fairly old (more than 1 year ol

[2022-06-11 17:14] jorgeorpinel commented on #7866
Is there an issue or story about this?

[2022-06-12 02:33] karajan1001 commented on #7866
Currently not.

[2022-06-12 06:48] robince opened #7881 "push: cannot upload to webdav server"
# Bug Report

## push: cannot upload to webdav server

## Description

Cannot push to a webdavs remote: "failed to transfer"

### Reproduce

Example:

1. `git init`
2. `dvc init`
3. `echo abcdefg > data`
4. `dvc add data`
5. `dvc remote add -d webdav webdavs://www.robince.net/dav/dvc`
6. `dvc remote modify webdav user dvc`
7. `dvc remote modify webdav password nie2ohSe`
8. `dvc push -v`

### Expec

[2022-06-12 07:16] robince commented on #7881
From [here](https://stackoverflow.com/questions/13354238/how-to-disable-301-redirect-that-adds-trailing-slash-to-directory-name-in-apache) I discovered the `DirectorySlash off` directive, which fixes the issue for me (now uploads as expected).

[code]

So can close this issue, but perhaps something could be added to the documentation (or if the trailing slash could be added to it would avoid this

[2022-06-12 15:12] dtrifiro commented on #7881
Thanks for reporting this!

cc @skshetry

[2022-06-13 02:25] karajan1001 opened #7884 "celery tasks restored at shutdown even if it had already been finished."
Currently, if we stop the queue manually, the currently running experiment will be added to the queue again after it was finished. And cause duplication in experiments.
[code]

If we continue the worker, the experiment will be executed twice, and leave its name changed.

[code]

looking into the logs from queue worker we can found that this is because the the tasks was not acknowledged even if it

[2022-06-13 02:43] TranThanh96 commented on #7871
yes ? How could I do to provide you more infomation?

[2022-06-13 05:19] #7854 closed

[2022-06-13 08:07] karajan1001 commented on #7880
The problem is that currently all of the modifications on `config` only affect its lower levels. In your case, as your operation is towards the `project` level, it will only affect `project` and the lower level `global` and `system` while keeping configurations in the `local` level untouched.

[2022-06-13 09:38] #7884 closed

[2022-06-13 11:07] atekoa commented on #7564
I have re-launched everything from the beginning and it has worked correctly for me. I have corrected some paths in the Readme that were wrong, but that would not be the problem.
Maybe it's a permissions issue. I'm running this example on Ubuntu 20.04 with docker-compose version 1.29.2, build 5becea4c and Docker version 20.10.12, build e91ed57

[2022-06-13 12:09] atekoa commented on #7564
@dtrifiro maybe I can give you some temporary access (via email?) to our remote http dev environment so you can focus on the dvc calling part, keeping in mind we had other bugs before and maybe related
https://github.com/iterative/dvc/issues/7421
https://github.com/iterative/dvc/pull/7460

[2022-06-13 12:44] pmrowla commented on #7592
From planning discussion:

- `dvc queue logs` should support following output from multiple experiments
- `exp run --temp` should match current behavior (to run one-off background experiments) and will not be considered part of the new "queue" (queue status/logs command will not work with `--temp`)
- autogenerated checkpoint exp names not working with queue commands will be filed as separate issue

[2022-06-13 14:16] ahallermed opened #7888 "diff: fails with absolute file paths (2.10.0 ok, 2.11.0 fails)"
# Bug Report

## Description

`dvc diff` with absolute paths fail as dvc can't find the path in the repository. Relative paths still work.
This bug was introduce with changes between version 2.10.0 and 2.11.0.

### Reproduce

[code]

### Expected
Absolute and relative paths work the same

### Environment information
dvc==2.11.0 -> Fails
dvc==2.10.0 -> OK

**Output of `dvc doctor`:**

[code]

[code

[2022-06-13 16:10] dberenbaum opened #7889 "queue: autogenerated checkpoint exp names not working with queue commands"
`dvc queue kill` does not accept assigned experiment names for checkpoint experiments:

[code]

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/7591#issuecomment-1149211215_

[2022-06-13 16:16] dberenbaum commented on #7592
To clarify, I don't think `dvc queue logs` needs to accept multiple experiment names. I think `--run-all` should automatically follow all experiments in the queue. A nice-to-have would be for `dvc queue logs` to do the same if no experiments are provided.

#7889

Other items:
* `dvc exp remove --queue` should act as an alias of queue commands with a deprecation warning.
* `dvc exp show` should onl

[2022-06-13 17:13] behrica opened #7891 "Simplify execution of various runs with different params"
As an alternative to repeated (manual) executions of:

[code]

it might be usefull (and clean, I think) to allow some way to "pass several param files" (from a folder maybe),
and this would "auto-queue" runs automatically accordingly.

[2022-06-13 19:44] behrica commented on #6614
Just to add to this.
I would expect as well that the "completed" jobs show the metrics, which they don't currently

[2022-06-13 20:46] dberenbaum commented on #7592
Once `dvc exp run --temp/--run-all` are working as expected, I think we could merge to main and delete the dvc-task-dev branch. Any concerns?

[2022-06-14 03:08] karajan1001 commented on #7592
If our support for the multi-worker is only testing, following multi-output simultaneously might not need for now. Here the requirement is that we automatically follow the currently `running` experiment.

So for `--temp` we will run something in the background not put it into the queue. And for `--queue` disregard whether `--temp` is provided, will be put into the celery queue for future operation

[2022-06-14 03:22] pmrowla commented on #7592
Yes, `--queue` and `--temp` will be mutually exclusive now. `--temp` will be used for standalone background runs and `--queue` will put the experiment into the main celery queue

[2022-06-14 05:53] pmrowla commented on #7840
closed in #7886

[2022-06-14 05:53] #7840 closed

[2022-06-14 08:50] dtrifiro commented on #7871
Do you mean you're getting different errors than the one you first reported while running `dvc get`? If so, could you re-run the command that's failing with the `-v` flag and post the full output of the command?

[2022-06-14 09:20] TranThanh96 commented on #7871
no, I tried to reinstall DVC but still get that error which is mentioned above. And I attached a log file.

[2022-06-14 10:45] BrettRyland commented on #5618
This also occurs on the latest version (2.11.0) on Ubuntu 22.04 LTS. Downgrading to 2.10.2 fixes it (for now).

[2022-06-14 12:44] pmrowla commented on #7592
docs issue: https://github.com/iterative/dvc.org/issues/3658

[2022-06-14 14:22] guyrosin commented on #7670
Still crashes with the same error using dvc v2.11.0 :(
[code]

[2022-06-14 15:01] choux130 opened #7896 "add: start having ERROR: unexpected error - 'Tqdm' object has no attribute 'desc' when upgrade from 2.10.2 to 2.11.0"
# Bug Report

## Description

Running `dvc add ./data` shows error `ERROR: unexpected error - 'Tqdm' object has no attribute 'desc'` on version 2.11.0. In my case, one interesting thing is that if the `data` folder is generated using dev data with the folder size ~55MB, both 2.10.2 and 2.11.0 work, but if I use prod data with the folder size ~2.59GB, only 2.10.2 works.

### Reproduce

[code]

###

[2022-06-14 15:24] dtrifiro commented on #7861
Will be fixed once `dvc-data==0.0.7` is released

[2022-06-14 15:24] #7861 closed

[2022-06-14 15:40] skshetry opened #7897 "external imports are broken"
Introduced by changes in https://github.com/iterative/dvc-objects/pull/49.

See https://github.com/iterative/dvc-hdfs/actions/runs/2492258822/attempts/1.

[2022-06-14 15:46] efiop commented on #7897
Note: this is about `main`, not `2.11.0`

[2022-06-14 16:12] wdixon opened #7898 "dvc import broken authentication"
We seem to no longer be able to import a remote dvc resources from a repository that requires authentication.  This worked at some point prior to 2.10.  This worked previously.

The output of the import is as follows:

[code]

There was some previous commit appears to fix a similar issue, which was part of the 2.11 release:
[issue #7670](https://github.com/iterative/dvc/pull/7674)
however, updatin

[2022-06-14 16:24] efiop commented on #7898
CC @dtrifiro

[2022-06-14 20:44] wdixon commented on #7898
I reverted to version 2.9.5 and can now perform the dvc import of a remote resource as expected.

I would also point out that dvc update was also not working - failing for the same authentication issue.

[2022-06-15 01:18] pmrowla commented on #7670
@guyrosin does using the explicit username+token in the URL (`https://{user}:{token}@dagshub.com/aviv/data-repo`) work for you in 2.11.0?

the underlying credentials issue is the same as https://github.com/iterative/dvc/issues/6586 and is currently being worked on, but in 2.11 I would expect including the token in your repo URL to work

[2022-06-15 02:53] karajan1001 opened #7900 "queue status: show the status of the worker"
For now I think we can just add this to `queue status` (start the output with line(s) listing the number of running workers). Eventually it will probably be worth it to have a `queue ps` or `queue proc` command for getting details about each worker, but for now `status` should at least indicate whether or not the queue worker is actively running.

_Originally posted by @pmrowla in https://github.c

[2022-06-15 09:44] #7848 closed

[2022-06-15 12:53] SharadSirsat opened #7901 "ERROR: unexpected error - Passphrase must be specified to import encrypted private keys"
# Bug Report

### Reproduce

[code]

output of `dvc doctor `is :
[code]

I ma using ubuntu 22.04.
[code]

[2022-06-15 13:53] skshetry commented on #7896
Can you please share the verbose output?
Also would it be possible to check if that happens with pip-installed package too?

[2022-06-15 17:02] skshetry commented on #7901
@SharadSirsat, did you intend to use encrypted keys?

[2022-06-16 02:59] karajan1001 commented on #7592
@dberenbaum @pmrowla
During my usage, I found another problem. The `dvc queue move (--all)` didn't work on failed/succeed tasks. The user experience is quite split here. That `queue status` showed something but when we `dvc queue move` it. it says `No tasks found in queue named ['xx']`. Beside `dvc queue move --all` didn't affect them. It's a user experience problem, just like what in `dvc exp sho

[2022-06-16 06:18] casperdcl commented on #7866
@dtrifiro from [this](https://github.com/iterative/dvc/issues/7866#issuecomment-1150986716) I understand you prefer `repro` over `run` and would like to (soft)deprecate the latter.

In that case, isn't `dvc stage {add,list,repro}` still less confusing than the current `dvc {stage {add,list},repro}`?

[2022-06-16 06:21] skshetry commented on #7866
`dvc run` only executes one single stage, so it's more like `dvc stage add ...` + `dvc repro --single-stage <name>`.
So it does not make sense to put that into `dvc stage repro`. `stage` is a lower level utility compared to a very high-level `exp` command.

[2022-06-16 07:15] SharadSirsat commented on #7901
I have tried to set the password by setting up the config.local by using the same command as you have provided but it did not work out. I am still facing the same issue.

[2022-06-16 07:17] SharadSirsat commented on #7901
Earlier I never need to use the password as I have passphrase for my SSH key. I try to establish ssh connection with my server with passphrase and it connects successfully.
I am facing this issue for only one repo other repos seems to work fine without entering/setting up any password in config

[2022-06-16 07:28] skshetry commented on #7901
Do you use imports in this repository? In that case, dvc does not read local configs. You can try setting the passphrase as a global config:
[code]

[2022-06-16 08:36] skshetry commented on #7901
@SharadSirsat, would you be able to debug why passphrase is not being passed? If yes, then you can try adding `--pdb` flag to the command, which will open up a `pdb`/`ipdb` on that error.
[code]

We do set it here:
https://github.com/iterative/dvc/blob/32fcc730785c9ae789eefaec626df024f06df4dc/dvc/fs/ssh.py#L81

[2022-06-16 08:51] dtrifiro commented on #7898
Hey @wdixon, would you mind providing a full traceback? Thanks

[2022-06-16 10:33] wdixon commented on #7898
I don't have a configuration that I can run from the same system.... but here is the same issue run from a windows system (the traceback doesn't appear to be as verbose - but the line numbers seem to match the traceback from the earlier linux system).  Does this have the info you need?

[code]
[code]

[2022-06-16 10:35] skshetry commented on #7901
You can try jumping up in the stack and see if the config is being set properly. You can also try setting up a breakpoint in `SSHFileSystem`. I tried locally, and it seems it's being passed correctly, so I am not sure what's going on here.

[2022-06-16 11:14] geblanco opened #7904 "add: Doesn't add the data"
# Bug Report

## Description

Dvc is unable to add a dataset composed of 150K files in images. The dataset is stored in another device.

### Reproduce

It's complicated to reproduce.... there are 30GB of downloaded images.

### Expected

Data should be added to cache and dvc file created correctly

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):

[2022-06-16 11:30] dtrifiro commented on #7898
Hi @wdixon, yes. Thank you.

This is a known issue (e.g. see https://github.com/iterative/dvc/issues/7670, https://github.com/iterative/dvc/issues/6586)

The problem is that since 2.9.5, [`scmrepo`](https://github.com/iterative/scmrepo) was bumped and in [`0.0.11`](https://github.com/iterative/scmrepo/releases/tag/0.0.11) the [`dulwich`](https://github.com/dulwich/dulwich) git backend  for `clone`

[2022-06-16 11:44] wdixon commented on #7898
Our backend enterprise git is configured to disallow username:password in the URL; however, it does accept tokens in the URL....  But unfortunately this doesn't seem to work work either - though this would be a more common way to pass credentials that including the password in the clear....

Using the token in the URL produces a different exception (see below).

[code]

[2022-06-16 12:03] SharadSirsat commented on #7901
Downgrading dvc version to 2.5.4 seems to work. I wonder why? It wasn't even working with 2.11 latest version.

[2022-06-16 13:11] printomi opened #7905 "dvc move: puts 3 lines for each moved file in destination folder/.gitignore on Windows Anaconda Prompt"
# Bug Report

## move: puts 3 lines for each moved file in destination folder/.gitignore on Windows Anaconda Prompt

## Description

`dvc move` triples the lines for each moved file in the destination `.gitignore` on Windows, in Anaconda Prompt.

### Reproduce
1. Place a data file to `data/data.xml` (from the get started guide)
2. Track it with DVC.
3. Create another directory.
4. Move data file t

[2022-06-16 15:06] dberenbaum commented on #7592
@karajan1001 Do you mean `dvc queue remove`? If so, good catch. We still need options for `remove --failed`, `remove --success/succeeded`, and `remove --queued`. Then `remove --all` should combine those.

[2022-06-16 16:52] jorgeorpinel commented on #7866
`run` is alerady soft-deprecated.

Why do we need them both? `repro` is a top level operation (not stage-specific) as @skshetry pointed out.
Otherwise, I think we should discuss `stage run` in the existing #5846, as @pmrowla pointed out.

[2022-06-16 19:33] dberenbaum commented on #1622
@efiop Going through some old issues. Can we close this one?

[2022-06-16 19:42] dberenbaum commented on #1632
I think this is no longer relevant @pared @efiop? I'm closing. Feel free to reopen if I misunderstood.

[2022-06-16 19:42] #1632 closed

[2022-06-16 19:47] dberenbaum commented on #1656
Since `--no-commit` mode was not made default, I don't think this issue is needed except maybe for rare edge cases. Closing for now. Feel free to reopen if I missed something.

[2022-06-16 19:47] #1656 closed

[2022-06-16 19:59] dberenbaum commented on #1679
A lot has changed since this initial request. The basic idea is still relevant, but seeing as it's been so long without much momentum, I'm going to close this one until there's more interest.

[2022-06-16 19:59] #1679 closed

[2022-06-16 20:03] dberenbaum commented on #1675
I'm no longer able to reproduce this. Closing.

[2022-06-16 20:03] #1675 closed

[2022-06-16 20:10] dberenbaum commented on #7756
Related/duplicate: #1705?

[2022-06-16 20:14] dberenbaum commented on #1830
Is this still a concern @efiop?

[2022-06-16 20:27] dberenbaum commented on #2313
@Suor Do you know if this is still a relevant issue?

[2022-06-16 20:49] dberenbaum commented on #2632
@efiop @Suor Is this still relevant?

[2022-06-16 20:55] dberenbaum commented on #2710
Closing as irrelevant since we now support chained imports. Feel free to reopen if I misunderstood.

[2022-06-16 20:55] #2710 closed

[2022-06-16 21:07] dberenbaum commented on #2825
I think this can be closed now that there is `--glob` support in `dvc pull`. Feel free to reopen if you think it's still a valid feature request.

[2022-06-16 21:07] #2825 closed

[2022-06-16 21:17] dberenbaum commented on #2997
Closed as irrelevant. Please feel free to reopen if I misunderstood.

[2022-06-16 21:17] #2997 closed

[2022-06-16 21:19] dberenbaum commented on #3008
@skshetry Any sense of how many of these are still applicable?

[2022-06-16 23:02] efiop commented on #7776
@mattseddon Reports that this could still be the case on windows. Need to double check.

[2022-06-16 23:41] mattseddon opened #7909 "`checkout`: cwd needs upper case drive letter on Windows"
# Bug Report

## Description

The VS Code extension creates child processes to run the CLI. We use the root directory of each DVC project as the cwd for these processes. When running checkout from one of these processes we run into unexpected errors on **Windows**. E.g

[code]

From debugging it appears that the error is caused by passing the CLI a lower case drive letter in the cwd. @efiop has to

[2022-06-17 00:26] efiop commented on #7909
guess we'll normalise the drive
![image](https://user-images.githubusercontent.com/5367102/174198984-be1ba822-b5ad-49e9-82de-8a1f121cf335.png)

[2022-06-17 03:39] mattseddon commented on #7776
Looks like this is a symptom of #7909. Using the appropriate cwd (capitalised drive) gives the correct results.

[2022-06-17 03:39] #7776 closed

[2022-06-17 07:08] SharadSirsat commented on #7901
Okay. Finally. I got rid of this error by removing passphrase that I have set for the SSH Key. But, I wonder, how should I use SSH key which is encrypted with dvc config without setting up password in dvc/config (but having a passphrase for ssh key). Any solutions for that?
This is weird because my other collugues have passphrase for their ssh key and they didnt set up the passphrase for dvc/confi

[2022-06-17 07:23] SharadSirsat commented on #7901
I have encrypted the ssh key and did not set up password in dvc/config and it still works. Vola!! but weird behavior, intially it asked me for a passphrase while doing anything (for any command of dvc) and then i remove encryption and then it works. again I encrypted the ssh key and it works again.
Thank you for your suggestion and help!

[2022-06-17 17:21] shcheklein commented on #7909
I'm a bit lost. How can VS Code setting CWD for a process can change DVC behavior? Does it mean that `os.getcwd()` behaves differently depending on the environment or something?

[2022-06-17 19:25] dberenbaum commented on #7830
@pared It looks like this is already addressed in #7477?

[2022-06-17 19:35] dberenbaum opened #7913 "plots diff: Show previous revisions for new plots"
If I add a new plot, `dvc plots diff` should be able to try to render previous revisions even if the plots were not configured in that revision.

For example, let's say I have plots data in `train.csv` for multiple revisions and then add a plot in `dvc.yaml`:

[code]

`dvc plots diff` shows only the workspace, but it should also show the HEAD revision.

[2022-06-17 19:36] dberenbaum commented on #7913
@pared Is a feature request or a bug? Any thoughts on priority?

[2022-06-17 19:46] dberenbaum opened #7914 "plots: Support plots directories in `dvc.yaml:plots`"
Can we support whole directories in the `plots` section of `dvc.yaml`? Example:

[code]

[2022-06-17 21:41] Padmanabhan100 opened #7915 "dvc.exceptions.CyclicGraphError: Pipeline has a cycle involving: load_extract_save."
[code]

This is my dvc.yaml.

I have created github workflows, but the run fails and is giving me this error - 2022-06-17 21:34:59,843 ERROR: Pipeline has a cycle involving: load_extract_save.

I have tried down grading the dvc module but nothing works.

[2022-06-17 22:34] #7775 closed

[2022-06-18 01:49] pmrowla commented on #7915
You have `artifacts/data` listed as both a dependency and an output in that stage, which is not supported in DVC (due to being a cyclic/circular dependency)

[2022-06-18 02:08] mattseddon commented on #7909
My updated guess is:
`os.getcwd()` will return whatever the process is given as the cwd but `Pathlib` will return all paths with exact casing which makes comparisons fail and gives very unexpected results for things like `diff`, `status` and `checkout`.
I also know this wasn't a problem last time we checked Windows (~10 months ago).

[2022-06-18 02:22] mattseddon commented on #7909
Potentially related to https://github.com/iterative/dvc/issues/7888

[2022-06-18 11:01] Padmanabhan100 commented on #7915
Thanks a lot, it worked😁

[2022-06-18 19:39] dmpetrov opened #7918 "Import-url no download"
In some cases, user needs to keep connection to a storage file in a repository but does not need to work with the model (or data) right now. `--no-exec` option is not enough because user needs to track if file changes (cloud checksums are needed) and user should have an ability to check this status in the future.

So, we need a more granular `import-url`:

- [ ] `dvc-import --no-download` (the sam

[2022-06-18 19:40] dmpetrov commented on #6485
In the context of model management we nailed down the scope - see #7918

[2022-06-19 00:45] shcheklein commented on #7909
@efiop is it related to us comparing and operating on path as strings now, wdyt?

[2022-06-20 03:16] karajan1001 commented on #1622
But looks like we still didn't have any warnings on this.

[2022-06-20 05:41] #6930 closed

[2022-06-20 05:50] nameless0704 commented on #3474
I used `dvc config core.no_smc true `but raised another `ERROR: configuration error - config file error: extra keys not allowed @ data['core']['no_smc']`

[2022-06-20 05:51] skshetry commented on #3474
Looks like you have made a typo: it should be `no_scm` instead.

[2022-06-20 07:49] guyrosin commented on #7670
@pmrowla Yeah, it works!
Quick followup question: there's no way to specify credentials for `dvc update`, right? (that's what currently keeps me from updating to v2.11)

[2022-06-20 07:54] casperdcl commented on #7918
`dvc import --no-download` makes sense. Meanwhile for `dvc import --check-only`... not sure I follow, but sounds more like a use case for `dvc status` or #5369?

[2022-06-20 09:38] skshetry commented on #7918
`dvc import` and `dvc mport-url` created stages are frozen by default, so `dvc status` will not return any outputs (unless we opt to make them non-frozen in case of `--no-download` which I think is a different behaviour than default imports which we should not do).

The `--check-only` might fit better in `dvc update` command.

[2022-06-20 10:09] pared commented on #7830
Yes, it should be working now.

[2022-06-20 10:11] efiop commented on #1622
Yeah, let's close as stale for now.

[2022-06-20 10:11] #1622 closed

[2022-06-20 10:13] #2632 closed

[2022-06-20 10:17] efiop commented on #2631
Yeah, let's close now.

[2022-06-20 10:17] #2631 closed

[2022-06-20 11:57] dberenbaum commented on #7918
Yes, either `update` or `status` flags would make sense. We don't want users to have to recreate the whole `import-url` to find out whether the source has changed.

[2022-06-20 13:10] efiop commented on #7909
@shcheklein I don't think so.

[2022-06-20 14:31] justusschock opened #7922 "UI progress bar for computing hashes"
Hi,

I regularly add large directories with many many files to dvc storages. All works fine, but I just don't know how long it takes.
Most of the steps are well shown when it comes to progress, but for computing the file/dir hashes, there is virtually no way to know how long it takes.

My Proposal: After initially scanning for files, it should be known, for how many files we have to compute hashes

[2022-06-20 14:36] skshetry commented on #7922
Note that DVC currently does not scan for files in advance, it builds a tree as it walks through them, so we don't know how many objects are there before that building process.

[2022-06-20 14:41] justusschock commented on #7922
@skshetry I see, that's a good point, thanks. Would scanning for files in advance slow things down? I guess it wouldn't (theoretically when the files are known, the hashing could also be parallelized I guess).

[2022-06-20 15:59] dtrifiro commented on #7898
Unfortunately just using the token in the URL (`https://<token>@github.com/..`) does not work, probably because it's not compliant with [RFC 1738](https://www.rfc-editor.org/rfc/rfc1738).

Did you happen to have a change to give a try to the PR branch I mentioned in my previous comment?

[2022-06-20 16:12] #7816 closed

[2022-06-20 18:07] dtrifiro commented on #7898
I'm sorry, you're right. That is a bug in `dulwich`. Opened up a PR upstream. See dulwich/dulwich#980

[2022-06-20 19:23] dfossl commented on #7863
Hi @AlexandreRozier

I also have had a similar issue, but all on the same machine, actually. When I run `dvc exp show` in the dvc/git root directory I get the metrics, however when I run it in a subdirectory I do not.

Rolling back to version 2.10.2 fixes this for me.

Hopefully this provides some additional context that can help narrow down the issue.

Let me know if you also want my logging info

[2022-06-21 06:23] pmrowla commented on #7670
@guyrosin if you manually edit the `.dvc` file to include the token in the dependency `url` field I think `dvc update` will use the token. But otherwise you will need to wait for the linked fix to be merged & released

[2022-06-21 06:24] pmrowla commented on #7900
closed in https://github.com/iterative/dvc/pull/7903

[2022-06-21 06:24] #7900 closed

[2022-06-21 08:24] rickvanveen commented on #6919
Is there an update regarding this issue? I have been getting a similar warning message.

[2022-06-21 12:15] skshetry commented on #7897
Closed by https://github.com/iterative/dvc-data/pull/61.

[2022-06-21 12:15] #7897 closed

[2022-06-21 17:52] #6507 closed

[2022-06-21 18:05] dberenbaum opened #7926 "`dvc.api.params_show`: More helpful error handling"
# Bug Report

## Description

Doesn't show useful errors.

### Reproduce

1. `git clone git@github.com:iterative/pipeline-conifguration.git`
2. `cd pipeline-conifguration`
3. Start Python shell:

[code]

### Expected

I'm guessing it fails because there's no `dvc.yaml` or `params.yaml` in the project root where the shell is started, but the error message doesn't help me understand this or how to f

[2022-06-21 18:19] Nikronic opened #7927 "`dvc.api.get_url`: adds unnecessary "/" at the beginning of returned URL (FileNotFoundError exception)"
# Bug Report

## Description
When using `dvc.api.get_url`, if args (`repo` or `rev`) are provided, it returns an relative path to the remote storage user has had configured. This was working fine until version `2.11.0` where now it adds a `/` to the start of the relative path and because of that you get `FileNotFoundError`. I think all changes related to this issue can be found on this commit http

[2022-06-21 21:08] #6141 closed

[2022-06-22 03:36] #1626 closed

[2022-06-22 09:47] pared commented on #7914
Not yet, we can include it in scope of #7477 or follow up.

[2022-06-22 09:52] daavoo commented on #7914
I vote (to be prioritized) follow-up. IMO, there is already too much in the current P.R.

[2022-06-22 10:53] skshetry commented on #2088
Closing as stale. Let me know if you want to keep this open.

[2022-06-22 10:53] #2088 closed

[2022-06-22 10:57] skshetry commented on #2295
Closing as stale. This is still a problem, but lots of things have changed internally. We'll leave most of these things to the underlying filesystem, we'll revisit this later.
Feel free to reopen if you disagree.

[2022-06-22 10:57] #2295 closed

[2022-06-22 11:23] pared commented on #7830
Though I still believe we should make a change in the plots templates to address @daavoo's [idea](https://github.com/iterative/dvc/pull/7477#discussion_r868406280)

[2022-06-22 14:11] mglowacki100 opened #7930 "[Windows] Network drive - Unexpected error - path is on mount ..."
Hi,
I work on Windows in corporate environment on network drive, so my working directory in explorer looks like:
**Home (\\aaa.bbb.ccc.net\UserData\User1) (P:)**
In conda prompt it look like ordinary **P:** folder. I create folder like test_DVC. In this folder:` git init`, `dvc init` works fine, but when I do `dvc add somefile.txt`, I get:
ERROR: Unexpected error - path is on mount '\\\\\\\\aaa.bb