[2019-12-05 15:30] efiop commented on #2887
@shcheklein @maykulkarni  Indeed, we are missing pywin32 in our conda recipe. Fixing right now.

[2019-12-05 15:31] #2887 closed

[2019-12-05 15:43] casperdcl commented on #2760
We also have a snap package (https://snapcraft.io/dvc, not fully working due to restricted privileges/permissions) and pending request for permissions & inclusion in the store (https://forum.snapcraft.io/t/classic-confinement-request-for-dvc/14124)

[2019-12-05 15:47] efiop commented on #907
@mroutis Not really, lots of stuff is still tied to the real aws.

[2019-12-05 15:48] efiop commented on #2570
@mroutis Yes, it is, I've seen it myself not that long ago.

[2019-12-05 15:50] efiop commented on #2055
@Suor Good points. Looks like no one asks for this, so let's close it for now.

[2019-12-05 15:50] #2055 closed

[2019-12-05 15:51] efiop commented on #2447
@Suor Good point. Related to #755

[2019-12-05 15:52] efiop commented on #2452
@Suor Not really, it is not that critical.

[2019-12-05 16:00] Suor commented on #2492
@efiop in the comment above points 2 and 3 are not implemented yet.

[2019-12-05 16:07] hjuhel-cdpq commented on #2897
Hi @efiop

Thanks for your response

My bad, I did not noticed the differences between the two commands.

The  output of the command is the following :
[code]

[2019-12-05 16:18] pared commented on #2896
migrating `test_add`

[2019-12-05 16:20] mroutis commented on #2760
By the way, `heroku-cli` is using snap for Linux-based distros: https://devcenter.heroku.com/articles/heroku-cli#download-and-install

[2019-12-05 16:23] casperdcl commented on #2575
maybe bad but the functionality will be understandable by end users without much explanation.

[2019-12-05 16:30] efiop commented on #2492
@Suor So, should we keep this open? If so, please reopen.

[2019-12-05 16:42] efiop commented on #2897
@hjuhel-cdpq Got it. So looks like you are running on a FUSE fs, which doesn't have hardlink implemented. Related to https://github.com/iterative/dvc/issues/2831 . I suppose it is a virtual machien that you are running and that partition is coming from the host, right?

[2019-12-05 16:44] hjuhel-cdpq commented on #2897
Yes you are right. The I'm using a directory mounted on my VM but hosted in the Windows Host.

[2019-12-05 16:45] efiop commented on #2897
@hjuhel-cdpq Could you try installing this dev version:
[code]
and then run `dvc status` please? The dev version is trying to use flock-based locks instead of hardlink-based locks, so if vmhgfs supports flock then everything should start working.

[2019-12-05 16:49] efiop commented on #2831
@luchoPipe87 ping 🙂

[2019-12-05 16:53] hjuhel-cdpq commented on #2897
It's working ! Thanks a lot ! The "add" seems to be working too. Do you plan to permanently use flock locks ?

[2019-12-05 17:34] efiop commented on #2897
@hjuhel-cdpq We'll definitely bring back flock by default and either will automatically detect that it is not supported (so far it seems problematic, as it might just hang forever on some nfs versions) or will introduce a config option to use nfs locks. Or, there is one more idea, where we could make the lock dir configurable, so that we could place the locks somewhere outside of the repo. In any

[2019-12-05 17:36] efiop commented on #2897
@hjuhel-cdpq One more workaround would be to only use fuse mount as an external directory (see `dvc cache dir` command in our docs), while having the main repo on a normal FS (.e.g ~/ should probably be okay).

[2019-12-05 17:37] shcheklein commented on #2575
Before we discuss name, let's try to come up with a some description on what this command supposed to do in what cases? Then it should be easier to discuss is `reset` relevant or not. As it often happens I think we have a bit different implementations/behavior in mind.

**Questions I have im mind:**

* does it accept DVC-file, output path?
* what does it do in case of no arguments (default)?
* doe

[2019-12-05 17:37] hjuhel-cdpq commented on #2897
I have start reading about the cache dir in the docs. I am definitely going to try this too.
Thanks again forhaving be so helpfull.

[2019-12-05 17:38] efiop commented on #1691
@yfarjoun Sorry for such a huge delay. We've introduced required changes for internal brancher, as well as introduced non-official hidden `--all-commits` flag for `gc`(please don't rely on it, it is really in a beta mode for now). So changes for metrics and other commands should be not that far, yet they are not  on this sprint. I'm bumping the priority to make this move faster. Thanks a lot for t

[2019-12-05 17:39] efiop commented on #1691
Btw, if anyone wants to give a shot contributing a patch for this, we will be happy to help 🙂

[2019-12-05 19:07] yfarjoun commented on #1691
thanks for the update. no need to apologize, I just wanted to make sure you know that this is still a desired feature!

[2019-12-05 22:04] dashohoxha opened #2901 "init: rename/alias --no-scm and --subdir?"
UPDATE: Skip to https://github.com/iterative/dvc/issues/2901#issuecomment-596887165

Since Git is the only SCM supported and there are no plans (yet) to support any other SCM.

[2019-12-05 22:06] shcheklein commented on #2901
We can make an alias and deprecate, hide --no-scm

[2019-12-05 23:00] edisongustavo commented on #2570
Hello, I am also affected by this issue.

I think the root cause of the problem is that DVC requires a [specific version of boto3](https://github.com/iterative/dvc/blob/4917a6e818fe71296ca4800df6492c9fdea08c82/setup.py#L98):

[code]

The problem is that this makes DVC impossible to install DVC together with other libraries that also depend on boto3 that don't fit this specific requirement.

My pro

[2019-12-05 23:03] mroutis commented on #2570
Thanks, @edisongustavo :) ! There's a PR already that should fix this https://github.com/iterative/dvc/pull/2902

[2019-12-06 00:02] mroutis commented on #2570
@edisongustavo , by the way, it felt a bit weird that I submitted the PR after your comment. It looks  discouraging, to some extend, maybe you had the intention to submit a PR for it :slightly_smiling_face: I just had the commit laying right there a few hours before but forgot to create the PR :see_no_evil:  https://github.com/iterative/dvc/issues/2570#ref-commit-4fd7013
Thanks again for your comm

[2019-12-06 00:11] #2570 closed

[2019-12-06 00:29] edisongustavo commented on #2570
@mroutis hahaha, no no, not at all :)

I just wanted to give a signal that this is also important for me :)

[2019-12-06 01:09] mroutis commented on #2896
migrating `test_analytics`

[2019-12-06 01:43] mroutis opened #2903 "compat: fspath doesn't work with pathlib.Path on Python 3.5"
`fspath` is currently (`0.70.0`) not working for `pathlib.Path` in python 3.5 because it lacks `__fspath__` implementation.

We need to either fix it, or put a warning on this to prevent using `pathlib.Path` with `fspath`.

[2019-12-06 01:45] efiop commented on #2903
@mroutis Just to clarify, we don't really try to feed pathlib.Path to fspath in the current project, right? The issue is about the non-merged patch that tries to use it in our config logic.

[2019-12-06 01:49] mroutis commented on #2903
@efiop , yes, currently we don't have problem with this because we use either `PathInfo` or the string representation for paths.

`PathInfo` implements `__fspath__` so it works on Python 3.5.

So it is not affecting, nor stopping the current development.

Thanks for the clarification, @efiop :slightly_smiling_face:
This issue was extracted from some discussion on #2826

[2019-12-06 01:53] mroutis commented on #2896
Advice extracted from https://github.com/iterative/dvc/pull/2898/files#r354523910

[2019-12-06 01:58] mroutis commented on #2903
I'd say that we either close this or address it, since the patch was already implemented:

[code]

Thoughts on this one, @iterative/engineering ?
Thoughts in general about using `PathInfo`, `pathlib.Path`, strings?

[2019-12-06 02:46] efiop commented on #2903
@mroutis That patch only makes sense if it is going to be used somewhere, otherwise it is just dead code. I would combine it with a patch that actually uses it.

[2019-12-06 03:37] shcheklein commented on #2760
and aws-cli is snap distributed as well:

that's what ubuntu recommends if command is not found.

sudo snap install aws-cli  # version 1.16.266, or

[2019-12-06 04:55] shcheklein opened #2904 "pull: empty screen for a few minutes before actual download"
**Version:**

DVC version: 0.73.0
Python version: 3.6.8
Platform: Linux-4.15.0-1056-aws-x86_64-with-Ubuntu-18.04-bionic
Binary: False
Package: None
Filesystem type (cache directory): ('xfs', '/dev/nvme1n1')
Filesystem type (workspace): ('xfs', '/dev/nvme1n1')

**Reproduce:**

[code]

**Output:**

First, it prints something very fast and everything disappears.

Then it hangs with an empty screen fo

[2019-12-06 05:18] mroutis commented on #2903
So let's close it, since no one is using `pathlib.Path`, and reopen it if someone needs it.

[2019-12-06 05:18] #2903 closed

[2019-12-06 06:03] shcheklein commented on #331
@Suor @Pierre-Bartet either I'm missing something or the case of running the stage on all images + pre-trained model can be solved by https://github.com/iterative/dvc/issues/331#issuecomment-559254859 (it's already in DVC but  we don't merge docs for since don't like introducing "virtual" cycles into DAGs for now - so consider this semi-official).

The case from the ticket description is and a bun

[2019-12-06 06:30] shcheklein opened #2905 "pull: going completely crazy on large dataset"
**Version:**

[code]

**Reproduce:**

[code]

**Output:**

(sorry for the video in this format, was the fastest way to capture it while it was running)

https://www.dropbox.com/s/m821sgc1flk770o/dvc-pull-going-crazy.mov?dl=0

[2019-12-06 07:27] Suor commented on #331
@shcheklein persist outs might help, we still need two things:
- signaling to command which files are new
- checking pretrained model existance and checksum as we do for deps

[2019-12-06 07:49] Pierre-Bartet commented on #331
@shcheklein : Indeed what we've been discussing with @Suor is a different kind of 'incremental'

[2019-12-06 08:24] Suor commented on #2905
Should be fixed by combining pbars. @casperdcl

[2019-12-06 10:18] casperdcl commented on #2905
`-j 100` would be the issue (nested bars scrolling off the screen). I should be able to come up with a temp patch for now. P.S. what happened with the old method? No scrolling but lots of flickering and very slow?

[2019-12-06 10:30] Suor commented on #2905
@casperdcl what's the point? Let's go for the actual fix, i.e. combining into a single pbar.

[2019-12-06 10:33] casperdcl commented on #2905
The point would be I can downgrade a `p1` to `p2`/`p3` today, but don't think I'll have time for a full fix soon.

[2019-12-06 11:00] Suor commented on #2905
@casperdcl p1 is not p0 (fix asap), p1 can wait. TBH, I see combining threads as top priority in pbars now since it's the highest value, so no point doing something else instead/in the meantime unless it makes dvc unusable.

[2019-12-06 14:24] efiop commented on #2905
Totally agree with @Suor .

[2019-12-06 15:54] pfigliozzi commented on #2558
I am pretty sure I did, here are relevant files for DVC and AWS:
[code]

[code]

[code]
My `.dvc/config` properly points to my nonprod profile and retrieves the correct access/secret keys. I thought that DVC would use the default profile to get the cert file.

Following my original post, I have set an env variable in my `.bashrc` to set the AWS_CA_BUNDLE path to my cert file. Below I can show how

[2019-12-06 15:58] mroutis commented on #2558
@pfigliozzi , I notice that your `ca_bundle` is under `[default]` instead of `[nonprod]`on your `.aws/config` file.

From the [CLI docs](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html):

Could you try moving the `ca_bundle` to `[nonprod]`?

[2019-12-06 17:26] Suor commented on #2896
Migrating `test_ignore`.

[2019-12-06 19:05] efiop opened #2911 "remote: base: walk_files might take a long time for big external directory"
Better not forget to use progress bars when using walk_files. E.g. `import-url s3://bucket/dir`(same as `run -d s3://bucket/dir` and stuff like that)

[2019-12-06 19:42] efiop commented on #1818
For the record: trying to drop support for 2.7 (and 3.4, as it has reached EOL already) in https://github.com/conda-forge/dvc-feedstock/pull/54 , as it is starting to cause problems during the build.

[2019-12-06 19:45] mroutis commented on #1818
what do you mean, @efiop ? is it happening? are we finally dropping 2.7?
I can happily spend my weekend on the migration :sweat_smile:

[2019-12-06 19:47] efiop commented on #1818
@mroutis No, just dropping it where it causes serious issues. The main feast will come later, you won't miss it 😄

[2019-12-06 19:49] mroutis commented on #1818
I'm starting to feel the christmas spirit, we all joyful writing python 3.x code :slightly_smiling_face:
![image](https://user-images.githubusercontent.com/7363250/70351568-d6d3fa00-182e-11ea-9b52-dca455aab604.png)

[2019-12-06 19:52] pfigliozzi commented on #2558
I created a new profile under `.aws/config` titled `[nonprod]` which is a copy of my `[default]`. I still get the SSL error.

[code]

[2019-12-06 19:55] mroutis commented on #2558
thanks, @pfigliozzi !
Let me investigate further, then :slightly_smiling_face:

[2019-12-06 19:59] efiop commented on #1818
@mroutis The joy probably won't come until py35 is dead, which is 1 more year 🙂

[2019-12-06 23:06] mroutis commented on #2558
@pfigliozzi, my apologies, I didn't notice that the error was not about DVC being unable to read the SSL certificate.

The error you're experiencing is the following:

[code]

It is related to SSL verification: https://www.python.org/dev/peps/pep-0476/

And certificate being self signed: http://gagravarr.org/writing/openssl-certs/others.shtml#selfsigned-openssl

We could support to not verify SSL'

[2019-12-06 23:16] #2807 closed

[2019-12-06 23:52] efiop commented on #2558
@mroutis

Why is it working with AWS_CA_BUNDLE then?

We do support that already with `use_ssl` config option.

[2019-12-06 23:59] efiop commented on #2558
@pfigliozzi Btw, could you show `pip freeze | grep boto`, please?

[2019-12-07 00:20] mroutis commented on #2558
@efiop, `use_ssl=False` is different from `verify=False`. The former one will not use SSL at all, and the second one will _trust_ the certificate.

[2019-12-07 00:24] mroutis commented on #2558
Yep, good catch. So, do you think that DVC isn't picking up the `ca_bundle` from the config?

What do you think about the example I shared, @efiop , maybe I'm missing something there :thinking:

[2019-12-07 00:49] efiop commented on #2558
Great point! Totally forgot about it!

Have no idea so far, tbh. From boto3 docs it does seem like it should indeed pick it up, not sure what's wrong there. Maybe a typo somewhere or something? Btw @pfigliozzi , does
[code]
work without AWS_CA_BUNDLE in the env?

[2019-12-07 01:04] mroutis commented on #2558
I guess @pfigliozzi could verify the certificate with some OpenSSL black magic.

`openssl verify -verbose -x509_strict -CAfile <ca.pem> <ca_bundle.pem>`

In my example it would be `openssl verify -verbose -x509_strict -CAfile "$(mkcert -CAROOT)/rootCA.pem" ~/.minio/certs/public.crt`

![](https://thumbs.gfycat.com/AliveFrigidHippopotamus-max-1mb.gif)

[2019-12-07 04:15] shcheklein commented on #2891
Ok, more results on this stuff:

* `max_pool_connections` not the reason. It might affect the performance but not 7x-8x on Linux and Mac. Need to do more tests to see the actual impact of changing this. So, no significant changes to `status`, `pull`, `push`, etc. Need to check if there are small improvements - was not focusing on that.
* when we do `--jobs 100` I don't see 100 ESTABLISHED connecti

[2019-12-07 08:51] Abrosimov-a-a commented on #2800
Debian stable has some extra packages needed by DVC. But Debian version is older then setup.py needed. Are you sure you need a newer version of that packages?

[code]

[2019-12-07 09:06] Abrosimov-a-a commented on #2800
Now you can test new building system: [in my repo](https://github.com/Abrosimov-a-a/dvc/tree/master/scripts/build_deb).

[2019-12-07 11:13] Suor commented on #2911
Or should we walk files while copying/importing them?

[2019-12-07 11:48] efiop commented on #2800
@Abrosimov-a-a Are you talking about the stable deb repo? I'm pretty sure we'll be alright with those older versions. Btw, asciimatics is already removed 😉

[2019-12-07 11:55] Abrosimov-a-a commented on #2800
Yes.

This will facilitate the work.

I know. I watched it.

[2019-12-07 11:58] efiop commented on #2911
@Suor Not always. For example, _collect_dir is needed for checking if something has changed, so no copying/importing is happening. The recently introduced download logic could indeed do that, though.

[2019-12-07 12:04] Suor opened #2914 "dvc: dvc_walk() and related things are broken by design"
A few things:
- when we collect stages in a branch dvcignore is not used at all, i.e. we go into `.dvc` and other ignored dirs
- `dvc_walk()` and `walk_files()` always walk the working dir, but might accept `dvcignore` built from a branch. The results will make no sense.

We may approach this from two sides:
- wrap dvcignore into a tree, i.e. `dvctree = TreeWithIgnores(some_tree); dvctree.walk(...

[2019-12-07 12:51] efiop commented on #2914
We do https://github.com/iterative/dvc/blob/master/dvc/repo/__init__.py#L401 . Could you clarify?

[2019-12-07 14:35] Suor commented on #2914
Not used in `GitTree.walk()` https://github.com/iterative/dvc/blob/ee70822bd434adb36c41e20c63939af69bf0bc64/dvc/scm/git/tree.py#L139-L152

[2019-12-07 15:06] efiop commented on #2914
@Suor Good catch! CC @pared

[2019-12-07 15:22] efiop commented on #2792
To solve it, we need to set a signal handler for our ThreadPoolExecutors that will call executor.shutdown(). The unfortunate part is that python has very limited thread support, so we will have to wait until all workers finish(e.g. we'll have to wait until 1 large file is done downloading), as we can't just kill them, unfortunately :( We might be able to use some global variable and check for it f

[2019-12-07 15:31] PeterFogh commented on #755
Hi all, @mdekstrand and @dmpetrov.
I do not have any strong opinions about DVC and parallelisation, I can just give my point of view.
I’m not sure, what of the three cases, Python Dask lies within, but that is what we use for parallelisation. Meaning, each DVC stage contains the code that defines and executes a delayed Dask pipeline on a remote machine.
In regards to SLURM, I have used it academia

[2019-12-07 15:48] PeterFogh commented on #2542
Hi @efiop and @mroutis, sorry that I have not answered you messages. I have worked on other projects the last month, where I have not used DVC.
I think it sounds like a fine solution to give the user a hint when the cache is corrupted. And/or perhaps a link to the documentation where the error and hint is explained in details.

Thanks for the advice about XFS, I will take a talk with my team about

[2019-12-07 16:45] efiop commented on #2542
@mroutis @PeterFogh For the record, XFS won't help there, as we _move_ file to cache, so it will still have the same inode to which workers would be writing too, corrupting it. XFS and reflinks come into place only during the checkout phase, which happens _after_ we have the cache.

[2019-12-07 19:56] Suor commented on #2911
When walking is the whole operation when showing pbar for that is a no-brainer. When collecting files is just a prerequisite to actual work then two consequential pbars is a questionable UI.

Another thing is that with walking we can't really show progress, since we don't know the number of files. We can, however, show a number of files found, this might be enough for a user if he or she knows an

[2019-12-07 20:32] dmpetrov opened #2917 "import: self-import should not check data-remote"
[code]

[2019-12-07 20:49] efiop commented on #2917
@dmpetrov Duplicate of https://github.com/iterative/dvc/issues/2862 , we have a WIP patch for it, will be solved soon.

[2019-12-07 20:51] efiop commented on #2917
For the record: the issue there is that we don't use cache dir by default if no remote is set.

[2019-12-07 20:52] efiop commented on #2917
Ah

[2019-12-07 20:52] #2917 closed

[2019-12-07 20:54] efiop commented on #2917
@dmpetrov Just to clarify: indeed, we shouldn't try to pull from remote when importing from the same repo that we are in, but that logic will automatically apply after #2599 , as we will simply set cache dir as a default remote if it doesn't exist, so we'll just check our cache against our cache.

[2019-12-07 22:32] #2542 closed

[2019-12-07 22:55] jburnsAscendHit commented on #2466
Hi @Suor and @shcheklein,

Thank you for the comments!

### Summary

Setting a global default remote worked; thank you for the workaround!

### Detail

I think @shcheklein properly identified the use case my team and I are working on. However, I will try to explain it in greater detail to clarify my understanding.

/path/to/serverA/data/registry/repo/.dvc/config currently looks like this (we are u

[2019-12-08 03:29] mroutis commented on #2914
@Suor, what do you mean by a tree?

[2019-12-08 03:41] efiop commented on #2914
@mroutis trees that we use. E.g. dvc/dvc/scm/git/tree.py

[2019-12-08 04:10] mroutis commented on #2914
thanks, @efiop

[2019-12-08 04:52] weekly-digest[bot] opened #2919 "Weekly Digest (1 December, 2019 - 8 December, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 42 issues were created.
Of these, 20 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #2916 [Restyle [WIP] fix for local file import fail](https://github.com/iterative/dvc/pull/2916), by [restyled-io[bot]](https://github.com/apps/restyled-io)
:green_hea

[2019-12-08 09:15] Suor commented on #2903
I am with @mroutis here actually. The thing that we can't `fspath(Path(...))` is wrong, additionally `Path/PurePath` is not `os.PathLike` in Python 3.5, which makes:

[code]

Which occasionally causes issues with third-party libs expecting or providing Path-like objects, e.g. `tmp_path` pytest fixture.

[2019-12-08 09:16] Suor commented on #2903
A possible solution would be using pathlib2 in Python 3.5 instead of stdlib pathlib. We should, however, be careful since some patches in `PathInfo` done for Python 2 might actually address pathlib/pathlib2 differences.

[2019-12-08 12:38] #2919 closed

[2019-12-08 12:42] efiop commented on #2903
@Suor Nice thing about `Path` is that its `str` doesn't return relpath as in our PathInfo(it is done for a reason though), so so far we've been simply using `str(Path)` in tests. I'm ok with having that code in fspath, if it comes with any code that will actually use it (even instead of `str()`).

[2019-12-08 16:05] mroutis commented on #2903
How will that work with third parties, @Suor ? for example, using `tmp_path` in Python 3.5

[2019-12-08 16:11] mroutis commented on #2903
@efiop , could you remind me the reason for overwriting `__str__` ?

[2019-12-08 17:58] efiop commented on #2903
@mroutis To show relpath, when using in messages.

[2019-12-08 18:47] efiop opened #2920 "core.checksum_jobs doesn't work for remotes"
https://github.com/iterative/dvc/issues/2891#issuecomment-562812250

[2019-12-08 18:47] efiop commented on #2891
@shcheklein Thanks for investigating! Created https://github.com/iterative/dvc/issues/2920 .

[2019-12-08 20:31] dmpetrov commented on #755
@PeterFogh thank you for sharing your opinion!

Could you please share more details about your Dask case? Do you need parallelization to speed up a single job that cannot be done in a single machine? Or you use Dask to run several different jobs.

[2019-12-08 20:36] dmpetrov commented on #2792
@efiop thank you for the investigation.
Another possible solution - upload/download files by smaller blocks.

[2019-12-09 00:53] pfigliozzi commented on #2558
Sorry for not responding sooner. Here is the requested information.

@efiop Here is the results of the pip freeze:
[code]

@efiop Even when unsetting the `AWS_CA_BUNDLE` the `s3 ls` command still works:
[code]

@mroutis I am having trouble running the `openssl verify` command. I only know about the `.crt` file my company provides at `/path/to/cert/my_cert.crt`. I don't know where the `.pem` file i

[2019-12-09 01:00] efiop commented on #2558
@pfigliozzi And while doing that, do you have ca_bundle for `nonprod` profile in your aws config? If so, could you remove it, leaving it only in `default` section, just to check if that works in your original setup.

[2019-12-09 02:37] nirtiac commented on #2095
This is great, thank you @dmpetrov !

[2019-12-09 06:35] PeterFogh commented on #755
@dmpetrov, yes, of course. We benefit from Dask in multiple ways.

1. We can sent computation to a remote machine or cluster, all nicely hidden away with a common abstract interface. I think  this lies within your question of “you use Dask to run several different jobs”. Additionally, we can also test local parallelisation just by changing on line of code.
2. In regards to parallelisation, we ofte

[2019-12-09 08:38] Suor commented on #2891
We should go away from `--jobs` really and use whatever resources we have scaling back when we get errors.

Related: https://github.com/iterative/dvc/issues/2473

[2019-12-09 12:48] luchoPipe87 commented on #2831
hi @efiop !
Any news about the bug? I'm very sorry i was a bit busy these last days ;)

[2019-12-09 13:35] efiop commented on #2831
@luchoPipe87 I still don't have a certain explanation for what is going on your machine, but the workaround that I've provided you with should still work and it will soon become the default behavior (see #2918).

[2019-12-09 13:39] efiop commented on #2891
@Suor taking up all the resources we have might not be ideal if you don't want to freeze your system 🙂 So `--jobs` in one shape or another is probably here to stay. We should optimize the default behavior though, I agree.

[2019-12-09 14:07] pfigliozzi commented on #2558
Hi @efiop, I re-ran the `aws s3` command after unsetting `AWS_CA_BUNDLE` and removing the ca_bundle from my "nonprod" profile and leaving it only in the "default" profile in my `.aws/config`. The `aws s3 ls` command still produced a list of buckets on the endpoint, see the commands below:
[code]

[2019-12-09 14:19] efiop commented on #2558
@pfigliozzi Thanks!

@mroutis Please take a look at the code that I've linked in my first comment. If boto is able to read those by default, I wonder why awscli is doing that manually. Most likely it is for a good reason, and if it is so, we need to do the same.

[2019-12-09 14:31] mroutis commented on #2558
@efiop , all right, I'll take a look

[2019-12-09 14:31] mroutis commented on #2558
@pfigliozzi , thanks a lot for the information! :slightly_smiling_face:

[2019-12-09 15:11] Abrosimov-a-a commented on #2800
Waiting for your suggestions.

[2019-12-09 15:59] #2806 closed

[2019-12-09 16:01] #2893 closed

[2019-12-09 16:21] mroutis commented on #2558
@efiop, probably `aws-cli` is reading the config file because it provides the `--ca-bundle` flag on their commands.

`boto3` team mentions in their docs that they support reading `ca_bundle` from the aws config file:

https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html#configuration-file

I can confirm it does.

https://github.com/boto/botocore/blob/develop/botocore/se

[2019-12-09 16:24] mroutis commented on #2558
The `botocore` version that I'm using is `1.13.34`, I'll try the same example with checking out the version @pfigliozzi is using.

[2019-12-09 16:30] mroutis commented on #2558
Same results with version `1.12.237` https://github.com/iterative/dvc/issues/2558#issuecomment-563317124

![2019-12-09-10:30:59](https://user-images.githubusercontent.com/7363250/70453721-dd50b480-1a6e-11ea-9af3-a863eebe3638.png)

`cc2f84d0 (HEAD -> develop, tag: 1.12.237)`

[2019-12-09 16:31] mroutis commented on #2558
@pfigliozzi , could you update your DVC installation?

[2019-12-09 16:57] #2515 closed

[2019-12-09 17:36] pared commented on #2896
Migrating `test_move`

[2019-12-09 17:37] Abrosimov-a-a commented on #2800
So, what next?

1. Integrate build_deb in dvc-s3-repo?
2. Make RPM builder?
3. Debian Experimental integration?

[2019-12-09 17:43] mroutis commented on #2903
@Suor pointed out that `pytest` uses `pathlib2` for `< 3.6`  https://github.com/pytest-dev/pytest/blob/8cdf9d43a9f277782310bedd7431fad20474085f/setup.py#L11

[2019-12-09 17:57] mroutis commented on #2558
One more iteration, this time, using everything from DVC `0.57.0`.

[code]

I don't get why it is not working for @pfigliozzi, mine returns the following:

[code]

Then if I change it to something else:

[code]

![2019-12-09-11:59:09](https://user-images.githubusercontent.com/7363250/70460061-1bec6c00-1a7b-11ea-936b-2d1c38fc7253.png)

[2019-12-09 18:36] mroutis commented on #2903
`_pytest/compat.py`: https://github.com/pytest-dev/pytest/blob/8cdf9d43a9f277782310bedd7431fad20474085f/src/_pytest/compat.py#L60-L71

[2019-12-09 18:37] mroutis commented on #2903
I love how they are already using typing :heart:
https://github.com/pytest-dev/pytest/commit/562d4811d59e495bdfd3123a7f725d55462769ec#diff-4ec37b1ad5b7d41fdac56c907d08dde1

[2019-12-09 18:42] efiop commented on #2647
@mroutis ^

[2019-12-09 18:43] efiop commented on #2647
Users are getting confused by this https://discordapp.com/channels/485586884165107732/563406153334128681/653666017368735782 🙁  Need to at least handle it gracefully, until we decide what to do with this.

[2019-12-09 18:47] shcheklein commented on #2647
@efiop @mroutis  count me in - I got confused once :) (even though I was aware about this ticket). My 2cs - I would say that the biggest problem is the UI here - that we left a user facing NPE .

[2019-12-09 18:58] efiop commented on #2800
1. and 2. sound good. Could you elaborate on 3, please?

[2019-12-09 19:01] mroutis commented on #1818
https://github.com/asottile/pyupgrade

[2019-12-09 19:58] JoshuaPostel opened #2927 "broken installation using: pip install dvc[ssh]"
**Please provide information about your setup**
dvc version 0.75.0
python 3.6.9
[GCC 8.3.0] on linux

Built with the following dockerfile:
[code]

<details>
  <summary>Details of docker build Step 3/4</summary>

[code]
</details>

**Error:**
[code]

[2019-12-09 23:03] efiop commented on #2927
@JoshuaPostel Thanks! Fixed by https://github.com/iterative/dvc/commit/9c2c2b307dc44e5d3b9fc0f306d2f0a79a7b1d11

[2019-12-09 23:03] #2927 closed

[2019-12-09 23:03] efiop commented on #2927
@JoshuaPostel We will release 0.75.1 soon, but for now you could `pip install botocore` as a workaround.

[2019-12-10 00:25] mroutis commented on #2558
No need to tamper `botocore`:

We can see that `session` is loading correctly the config and it is passing the certificate to the HTTP session with the following:

[code]

Turns out the `verify` keyword comes from the `HTTPAdapter` in `requests`: https://github.com/psf/requests/blob/eedd67462819f8dbf8c1c32e77f9070606605231/requests/adapters.py#L403-L405

---

@pfigliozzi , can you use https://www.

[2019-12-10 00:25] efiop commented on #2558
Great research @mroutis ! Thank you! @pfigliozzi Looks like we are not able to reproduce this right now. Let's try this last sanity check (please be sure to check that PROFILE, ENDPOINT and BUCKET as set correctly):
[code]

If this works, then we have an issue somewhere. If it doesn't - it is boto bug (which we've seemingly ruled-out already by our tests and analyzing the boto3/botocore code) or i

[2019-12-10 00:41] mroutis commented on #2558
Maybe the `certifi` version is not the correct one? https://github.com/aws/aws-cli/issues/1499

[2019-12-10 02:14] pfigliozzi commented on #2558
@mroutis I just upgraded DVC to the latest version (0.75.0) and I still get the SSL error.

@mroutis I tried using https://www.ssllabs.com/ssltest/ to test https://my.endpoint.com and it is "Unable to resolve the domain name". This endpoint is one that my company stood up, perhaps it is only accessible through our company's intranet, meaning the ssltest cannot find it?

@efiop I created a script o

[2019-12-10 02:44] efiop commented on #2558
@pfigliozzi Thanks! 🙂 Looking at https://boto3.amazonaws.com/v1/documentation/api/latest/guide/configuration.html , I would probably double-check these things (since they are lower in priority than env var, which clearly works fine):
[code]

We'll close this ticket for now, as we are currently unable to reproduce it or pinpoint what specifically went wrong. Please let us know if you will run into

[2019-12-10 02:44] #2558 closed

[2019-12-10 04:51] nvazquez commented on #2452
Hi guys, I am working on a fix for this issue on the (work-in-progress) PR: #2928

[2019-12-10 09:44] drorata opened #2929 "dvc metrics show -a mixes branches"
As mentioned in [this discussion](https://discordapp.com/channels/485586884165107732/485596304961962003/653877964588711936):

In https://dvc.org/doc/tutorials/deep/reproducibility#adding-bigrams, it seems like the changes made on the branch have to be first committed before `dvc metrics show -a` returns the nice output. Is that correct?

Compare:

[code]

and

[code]

[2019-12-10 10:08] pared commented on #2929
reproduction script:
[code]

[2019-12-10 10:48] rbvesb opened #2930 "Extend S3 remote support for custom ACL"
##### The problem:
When using AWS S3 it is a common practice to have multiple accounts - either for each team or for each environment in example. This leads to a problem called permissions! When we want to share data between accounts - i.e. BA team can share some reports with the ML team to help them understanding a specific problem for the company, we need to grant, the ML team, specific permissi

[2019-12-10 11:07] rbvesb commented on #2930
Here the PRs about this issue:
- [remote: Extend S3 remote support for custom ACL #2931](https://github.com/iterative/dvc/pull/2931)
- [Docs about extended S3 remote support for custom ACL](https://github.com/iterative/dvc.org/pull/851)

[2019-12-10 11:44] pared commented on #2896
Migrating `test_commit`

[2019-12-10 12:29] Suor commented on #2896
A note to everyone, including myself:

[2019-12-10 14:58] pared opened #2933 "Try to repro imported files if cache unavialable"
[Source](https://discordapp.com/channels/485586884165107732/563406153334128681/653935028941750301)

@verasativa tried pulling project, while `import-url`-ed data was not in the cache. Maybe we should consider doing `dvc repro` if stage stands for imported file and data is not avialable inside cache?

reproduction script:

[code]

[2019-12-10 16:21] Suor commented on #2930
@rbvesb noted that you started implementing it.

[2019-12-10 16:31] Suor commented on #2386
Other approach is adding "working tree" with a comma, same as dup branches or tags.

[2019-12-10 16:36] Suor commented on #2386
Votes split on priority and whether include it into the next sprint: +1s from @mroutis  and @Suor, -1 from @efiop and @pared.

[2019-12-10 16:37] Suor commented on #2386
Goes as bonus for next sprint if we go well.

[2019-12-10 16:42] casperdcl commented on #1923
this is annoying. doesn't work for me for `dvc add` in the latest version either

[2019-12-10 17:04] mroutis commented on #1923
@casperdcl , Bash, right?

[2019-12-10 17:12] casperdcl commented on #1923
@mroutis if it was `zsh` I'd assign you :D

[2019-12-10 17:14] mroutis commented on #1923
@casperdcl, please feel free :slightly_smiling_face:

[2019-12-10 17:49] pared commented on #2914
Confirmed, `dvcignore` has not been properly working for branches since day 1.
https://github.com/iterative/dvc/pull/1820

[2019-12-10 17:52] pared commented on #2929
@drorata
Well, its not a bug, its a feature!
We are seing that `bigrams` have same metric value as `master`, because this branch has been checked-out from the `HEAD` of `master` so, at the point when we are on `bigrams` branch and we did not commit anything, from the `git` point of view, metrics value is the same as it is on `master`.

[2019-12-10 17:58] mroutis commented on #2647
@shcheklein:

I used _integrity check_ wrongly, I was talking about the remote directory changing as you pointed out.

@shcheklein , I'll come back to this one later, will need to think it better

[2019-12-10 18:48] pared commented on #2896
Migrating `test_checkout`

[2019-12-10 19:31] pared commented on #2896
Migrating `test_import`

[2019-12-10 20:34] mroutis commented on #2927
@efiop, could you release this one today?

[2019-12-10 21:04] efiop commented on #2927
@mroutis yes, will try to do it right now.

[2019-12-10 21:05] efiop commented on #2927
Release is building:  https://github.com/iterative/dvc/releases/tag/0.75.1 . Pip will be ready in an hour or so, other packages later today/tomorrow.

[2019-12-10 21:10] mroutis commented on #2927
Thanks a lot, @efiop :slightly_smiling_face:

[2019-12-10 22:48] jorgeorpinel commented on #2284
- [ ] Please remember to update/remove the note in [static/docs/command-reference/version.md](https://github.com/iterative/dvc.org/blob/master/static/docs/command-reference/version.md)

  when this is done.

[2019-12-10 22:52] jorgeorpinel commented on #770
- [ ] Remember to update the `dvc diff` cmd ref (possibly removing the note that links to this issue) when/if this is addressed.

[2019-12-11 07:28] #2929 closed

[2019-12-11 11:03] wattik opened #2936 "`dvc repro` for multiple git revisions"
The problem:

You have trained several models and stored their performance in `metrics.json`. Each model has a corresponding tag in a git repo. So each git version of `metrics.json` stores the performance of the corresponding model. To compare the metrics, one can for instance run `dvc metrics show -T`.  Now, say you want to enrich the evaluation statistics and add more metrics into `metrics.json`

[2019-12-11 12:34] MaxRis commented on #2865
@efiop @Suor could you please review the order of priority for available things to be addressed in this ticket? Thanks!

[2019-12-11 18:16] efiop commented on #2936
Hi @wattik !

Since you are modifying the script, there is no way around modifying it for all the tags, in your current setup. I would consider using subdirs for all those models, if you feel like this situation happens a lot and the script is the same for all of them. Would that be suitable solution for your scenario?

[2019-12-11 21:10] efiop commented on #2420
@drorata 0.75.0 is now using pager instead of our own solution. Please feel free to try it out 🙂

[2019-12-11 22:51] shcheklein commented on #2936
@wattik good question, and I don't have any ideas from the top of my head except some crazy stuff like going with bash and retrospectively applying changes to all commits + running `dvc repro` on them (means, redoing Git history with amend, rebase and other destructive commands).

Have you seen other tools that are able to do this kind of stuff - rerunning all the experiments with some changes app

[2019-12-11 23:07] #2828 closed

[2019-12-11 23:08] #2843 closed

[2019-12-12 00:13] dmpetrov opened #2940 "Extract checksums to a common state file"
Now all the checksums are scattered among DVC-files. It was a design decision to simplify `git merge` for ML experiments when a single data-file/dvc-stage changes were localized. However, we learned that in many cases `-X theirs` strategy is the best way to bring ML experiments to another branch without a manual merging and it is a good time to revisit this design decision.

There are two issues w

[2019-12-12 00:20] dmpetrov commented on #2940
An idea: it might happen that `dvc add file` won't be creating any `*.dvc` files - all information will go to the common state file and `*.dvc` files will be needed only for stages. This is really good!

However, there is a small disadvantage - it might lead to empty directories which won't be reflected by Git.

[2019-12-12 01:58] salotz commented on #1871
The single-file approach could be built upon the CLI approach as an extra optional layer. I suggested something like [tup](http://gittup.org/tup/) as another syntax option to make, which I happen to like. It inverts the dependency graph to be a flow graph and they look like unix pipes. It also can be faster due to the way it checks for updates.

It is more than just about aesthetics (although grea

[2019-12-12 02:52] efiop commented on #2560
The first message no longer shows up, as we've removed it in another patch.  @Suor The original 403 issue has a legit error in it, so it is useful as is. Would be nice to catch gs exceptions and re-raise them as a cause in DvcException though, but that is for the next iteration. Repurposing the ticket...

[2019-12-12 03:05] salotz opened #2942 "copy type "linking" from cache is not atomic"
Installation: Debian and anaconda
[code]

Consider the scenario where I am adding a large file with 'copy' type linking:
[code]
And I interrupt this with Ctrl-C or something. Most likely the interrupt will come during the copy back to the work area and leave the file half copied. This should probably be an atomic operation, at least to the users point of view.

[2019-12-12 03:09] efiop commented on #2942
For the record: to solve it, we need to make https://github.com/iterative/dvc/blob/0.75.1/dvc/remote/local.py#L169 first copy to a temporary path right beside the target and then rename it. That way if we are caught mid-copying we won't create a half-baked link. This is the same how we do `download`s and `upload`s in our remotes.

[2019-12-12 03:11] salotz commented on #829
This is a pretty good solution to the chunking deduplication problem. I've used it with success for backing things up: https://duplicacy.com/.
If anything you could use the algorithm.

[2019-12-12 03:48] mroutis commented on #2933
@pared , `git init` also has a `--quiet` option

[2019-12-12 04:09] Suor commented on #2865
@MaxRis maybe start from tests, then pick whatever you like.

[2019-12-12 04:19] mroutis commented on #2284
@efiop , I think they are already providing wheels for linux :thinking:
https://pypi.org/project/psutil/#files

[2019-12-12 10:09] rxxg opened #2944 "Can't set up DVC on a Windows network share"
I'm getting the below exception on a dvc pull (DVC v0.75.1) when my working copy (not remote) is on a networked Windows drive.  The same config works fine on a local drive.

    Traceback (most recent call last):
      File "C:\Users\rxxg\dvc\lib\site-packages\dvc\main.py", line 49, in main
        ret = cmd.run()
      File "C:\Users\rxxg\dvc\lib\site-packages\dvc\command\data_sync.py", line 32,

[2019-12-12 10:59] wattik commented on #2936
@efiop Of course, I can rearrange the models and use subfolders. But again, that is what I am trying to avoid when I use DVC (or other versioning systems).

@shcheklein one thing on my mind is to have a branch per model. Then you cherrypick the change to each branch (or use a similar git hack, for instance the one you mentioned). But this seems hacky to me -- sort of versioning through obscurity.

[2019-12-12 14:52] mroutis commented on #2940
We have several issues that discuss the way we organize the state on files.
It would be great if we could start creating a clear boundary in the source code between the _index_ and the _content addressable storage_.

With this approach, it doesn't matter how do we identify each block/object of the store (gathering a collection of _stage files_, querying a single file, or split it across several fi

[2019-12-12 14:53] mroutis commented on #2940
Could you elaborate what would be the _best_ practice?

[2019-12-12 15:04] mroutis commented on #2940
@dmpetrov, by the way, terraform has an option to submit the state to a remote/shared space. It can't be done through GitHub because their state includes sensitive information (API keys?), but with DVC is only checksums paired with files. It would be even simpler if we move to a _prefix based_ approach instead of a _path based_ one, since directories wouldn't have special treatments.

[2019-12-12 15:56] Suor commented on #2799
If we don't say where people should put their experiments then experiments need to be referenced by their path for all uses:
- listing experiments with some metric
- reintegrating an experiment

If we don't put them to standard location like `<repo-root>/experiments/<exp-name>` then people might:
[code]
Note that we need to use full path to `metric.json`, which might be surprising to the user. We

[2019-12-12 16:14] mroutis commented on #2944
@rxxg , thanks for reporting this. There's a PR to move from flufl to `flock` #2918.

@efiop , could it be the same? https://github.com/iterative/dvc/issues/2831

[2019-12-12 19:56] dmpetrov commented on #2940
Best practice - files are editable by humans only. No software writes in files that goes under Git control. If software needs to write something and put under Git control it is better to localize the places when the modification happens.

@mroutis are you talking about Terraform Cloud? If so, it seems like a different use case that can be implemented on top.

Is it only about the internal, code re

[2019-12-12 21:10] mtsz-thiago opened #2945 "Support for Databae queries/Views as data sources"
As it is not always convenient to keep all data sources as text files, csv and/or related formats, i think it would be nice to declare views and queries from databases as project's data sources.

[2019-12-12 21:14] efiop commented on #2944
@mroutis yes, that PR will fix this issue. @rxxg We will soon merge it and hopefully will release 0.76.0 later today. Thanks! 🙂

[2019-12-12 21:17] efiop commented on #2944
@rxxg If you've installed from pip, you could try the dev version right now by running
[code]
Btw, are you using NFS? If so, which version?

[2019-12-12 21:24] efiop commented on #2945
Hi @mtsz-thiago ! Thanks for the request. Could you please elaborate? Maybe share some thoughts on how you see that working in dvc.

[2019-12-12 23:50] jorgeorpinel commented on #2901
Context: https://github.com/iterative/dvc.org/issues/540#issuecomment-562326532

[2019-12-13 00:17] mroutis commented on #2896
Migrating `test_update`

[2019-12-13 01:00] mroutis commented on #2896
Migrating `test_destroy`

[2019-12-13 01:17] #2831 closed

[2019-12-13 01:17] #2897 closed

[2019-12-13 01:17] #2944 closed

[2019-12-13 01:23] shcheklein commented on #2936
@wattik it makes sense. I don't have a solution either. It would be great if read and chime in in this epic, btw - https://github.com/iterative/dvc/issues/2799 - some decisions that are being discussed in it can definitely affect this scenario.

Thinking more about this case I realized that I definitely don't like an idea of amending Git history (the one I suggested) - that's important to keep, ri

[2019-12-13 03:44] Suor commented on #2896
@mroutis @pared let's finish whatever you started today (on Friday), so that I can finalize and clean up everything on Monday.

[2019-12-13 08:56] rxxg commented on #2944
@efiop Preliminary tests look good with version 0.76, thank you
I am in a locked-down corporate environment so don't have much access to the config of the server.  Windows tells me it is using DFS, but that seems like a clustering protocol ... is there a way to tell what network protocol/version is in use?

[2019-12-13 09:05] tlouismarie opened #2946 "`dvc gc` does not remove files under dir.unpacked"
Setup is dvc 0.75.0 with the .deb package under Ubuntu 18.04.
Also tested with windows 10 with .exe package. I tried with different configurations for the cache type (default, copy and symlink) and get a similar behavior.

I'm testing DVC and trying to understand how it manages the datasets in its cache.
I initialize an empty repository with `dvc init` and add data with `dvc add data` in directory

[2019-12-13 09:21] efiop commented on #2944
@rxxg If 0.76.0 works, it means that you have flock working on that FS, which is perfect and means that if it is NFS, then it is v4 probably, which is great as well :) Let us know if you'll run into any other issues. Thanks for the feedback! 🙂

[2019-12-13 18:35] #2492 closed

[2019-12-13 18:36] shcheklein commented on #2930
@efiop merged? can be closed?

[2019-12-13 18:57] #2942 closed

[2019-12-13 18:59] efiop commented on #2930
@shcheklein Yes, thanks for the heads up. 🙏

[2019-12-13 18:59] #2930 closed

[2019-12-13 22:00] e3bo opened #2947 "Reliance on relative path for `.dvc/tmp/gdrive-user-credentials.json`"
DVC versions 75.1 and 77.0, Linux, installed via pip

`dvc status -r gdrive_remote` works when I run it from the top directory of the repository, but it fails when I run it from a subdirectory, with output

     /home/eamon/venv/lib/python3.7/site-packages/oauth2client/_helpers.py:255: UserWarning:    Cannot access .dvc/tmp/gdrive-user-credentials.json: No such file or directory
     warnings.warn

[2019-12-13 22:08] #2947 closed

[2019-12-13 22:19] efiop commented on #2946
Hi @tlouismarie !

Indeed, looks like a bug. That unpacked dirs should indeed be removed by gc, but for now you can simply remove them yourself as a workaround.  We'll investigate shortly. Thanks for the feedback!

[2019-12-13 22:29] efiop commented on #2947
@MaxRis Just FYI, dvc can run from any directory in the project, so we shouldn't hardcode paths that are relative to the repo root, and also shouldn't hardcode posixpaths, as we might run on Windows 🙂

[2019-12-13 23:10] dmpetrov commented on #755
@efiop should we reopen this issue? As we discussed - only one parallelization scenario out of 3 was implemented.

[2019-12-13 23:25] efiop commented on #755
@dmpetrov Sorry, closed accidentally. Was about to comment here that first part is merged and released now, so everyone is welcomed to give it a shot 🙂

[2019-12-13 23:26] dmpetrov commented on #2719
Different scenarios of data catalog usage. We can think about the scenarios as a requirement for this issue.

## Models zoo
DVC-repo with pertained pytorch model (resnet18, resnet50, resnet101): https://github.com/dmpetrov/dvc-pretrained-resnet

Usage:
[code]

Note, `type: python` specifies instantiation code. The code might be in the repo or in the current repo or a common library (like `pd.read_

[2019-12-14 00:26] mroutis commented on #755
@dmpetrov , maybe changing the title?

At this point, you can have multiple instances of `dvc run` :)

[2019-12-14 00:31] mroutis commented on #2896
Migrating `test_stage`

[2019-12-14 02:22] efiop commented on #755
@mroutis renamed. Thanks for the heads up 🙂

[2019-12-14 06:01] MaxRis commented on #2947
@efiop thank you for fixing that!
Idea was to put `gdrive-user-credentials.json` into already .gitignored directory to avoid accidental sharing of file. Might need to think how to use absolute path with prepended repo's root directory to `.dvc/tmp/gdrive-user-credentials.json`.

[2019-12-14 07:22] saurav2608 opened #2953 "Unable to use Azure blob for remote"
**Please provide information about your setup**
DVC version-0.76.0,
Platform and method of installation-pip on Mac(10.14.6)

I execute `dvc remote add -f myremote azure://abc/dvc` (abc exists on my Azure account)

I also add con string by `dvc remote modify myremote connection_string "DefaultEndpointsProtocol=https;AccountName=abc;AccountKey=***;EndpointSuffix=core.windows.net" --local`

**Error (

[2019-12-14 07:38] efiop commented on #2947
@MaxRis I didn't fix that, @e3bo did 🙂

Not sure I follow, could you elaborate?

[2019-12-14 08:25] saurav2608 commented on #2953
On further investigation, I found the issue to be somewhere else. I may create a different issue later.
Broadly v77 of dvc solved the above. But I got a conflict with azure-storage-blob==2.1.
I think dvc needs 2.1 whereas by pipeline is written for azure-storage-blob==12+.

As on now is am switching envs to solve my problem.

[2019-12-14 08:25] #2953 closed

[2019-12-14 16:18] casperdcl opened #2954 "add snap tests"
- `dvc version` and `dvc get`
  + see https://github.com/conda-forge/dvc-feedstock/blob/dcb62c602ad8ce675e73d8300376a813c3f0dfb0/recipe/meta.yaml#L71-L72)

[2019-12-14 16:36] casperdcl opened #2955 "dvc add absolute_path"
`~/repo$ dvc add $HOME/repo/file` should realise that the file is not "external" and add it as a relative path rather than absolute.

[2019-12-14 16:54] efiop commented on #2953
Hi @saurav2608 ! Indeed, that `init` issue was resolved in 0.77. If you are having issues with azure-storage-blob compatibility, consider installing dvc using things like pipenv. I see that you are on mac, so I would probably install dvc through brew with `brew install dvc`, which would also create a separate virtualenv for dvc and would provide a shim, so that it doesn't collide with other requir

[2019-12-14 20:35] MaxRis commented on #2947
@e3bo, I'm sorry, thought the PR is from @efiop

@efiop please ignore my above comment, changes in PR look great and prepend `self.repo.tmp_dir` already ( the thing I was worried about ).

[2019-12-15 04:15] saurav2608 commented on #2953
Thanks for the prompt note. I intend to use DVC in a CI environment.  I will have to stick to using pip/conda.

[2019-12-15 16:13] Baranowski opened #2959 "status: implement support for import-ed files"
See https://github.com/iterative/dvc/pull/2889#discussion_r357950906 for context

[2019-12-16 01:53] efiop commented on #2959
Context: we do have status implemented for the DependencyREPO, but it is not tested and also doesn't really run because the stage is locked.

[2019-12-16 05:13] Suor commented on #2896
So no new free hunting from this point. Finish whatever you started I will handle the rest.

[2019-12-16 05:55] xwk opened #2961 "dvc command throw "ERROR: unexpected error - __init__() got an unexpected keyword argument 'verify'""
Running dvc commands like 'dvc add', 'dvc status', 'dvc push' will  all result an error message like below being printed , but the expected functionality does not seem to be impacted.

ERROR: unexpected error - __init__() got an unexpected keyword argument 'verify'

OS: Ubuntu 18.04
DVC version: 0.76.0

[2019-12-16 05:56] dmpetrov opened #2960 "Change remote globally in Git history"
Changing buckets and cloud easily for a single project is a very compelling feature.

But in fact, when I need to transfer a data-remote from one bucket to another (or another cloud) I can do that properly only on HEAD of the repo. All the old commit will have old remote (in `.dvc/config`). As a result, when I checkout back in Git history an old remote will be used.

So, I need to keep old data re

[2019-12-16 07:21] shcheklein commented on #2961
@xwk please, try to upgrade DVC. I think, this has been fixed a few days ago with DVC 0.77.0. Please, feel free to reopen if it doesn't work for you.

[2019-12-16 07:21] #2961 closed

[2019-12-16 09:12] efiop commented on #2960
@dmpetrov This is mostly about properly maintaining your project. E.g. using tags or branches for released versions, which can be easilly updated to point to the new bucket.

[2019-12-16 09:14] efiop commented on #2960
E.g. say some project died and closed its remote, but someone has the cache somwhere. In that case, you fork it and put your own remote and rely on it. Or, you could specify `-r remote` to specific commands, like `import/get`(which we don't have support for right now, but we do have a ticket opened).

[2019-12-16 13:42] Aljo-Rovco commented on #1714
Is this still being worked on?

[2019-12-16 13:59] efiop commented on #1714
@J0 Are you still working on this?

[2019-12-16 14:00] Suor commented on #2719
We are on the same page in big picture part. Some thoughts mostly small or even cosmetic go below.

We need to answer a couple of questions as I see it:
1. Do we want users to always refer to some `.yml` or we will have a default one?
2. If we'll have a default, say `dvcartifacts.yml` or `dvcexport.yml`, then may we postpone multiple yamls in a repo support? We might never actualy need it.

*My an

[2019-12-16 15:04] efiop commented on #2791
Another user is experiencing this same issue. https://discordapp.com/channels/485586884165107732/485596304961962003/656143281163599885

[2019-12-16 15:27] efiop commented on #2791
We could solve it the same way we do it with passphrase-s for ssh, by using `ask_password` config option, but maybe we could auto-detect this somehow. Need to research this.

[2019-12-16 15:38] efiop commented on #2791
From https://docs.aws.amazon.com/cli/latest/topic/config-vars.html
[code]
need to take a closer look.

[2019-12-16 16:13] efiop commented on #2791
Might be related https://github.com/mixja/boto3-session-cache

[2019-12-16 17:02] shcheklein commented on #1714
@Aljo-Rovco I doubt. The PR (empty?) was closed a while ago. Feel free to pick it up and contribute and let us know if you'd need any help from us.

[2019-12-16 18:39] efiop commented on #1714
@shcheklein was planning to give 1 day for @J0 to reply and then give this a go, but ok :)

[2019-12-16 19:19] dmpetrov commented on #2960
@efiop could you please elaborate? How should the team properly maintain the project to minimize this amount of work?

Use case: A team has a long-running project (year+), hundreds of commits, dozens of releases (with tags). All Git history is important. Some clients might still use old ML models, all changes in data sources have to be fully tracked from the inception. Not released commits (withou

[2019-12-16 19:42] jorgeorpinel commented on #2719
Quick question, why isn't it just `dvc.api.summon`, `dvc.api.summon( ... ).to_df()`, etc.

[2019-12-16 19:45] jorgeorpinel commented on #2719
I also think DVC shines best in the model source scenario, but building model registries/catalogs without code or data sounds like a useful thing to do and it can be achieved with `dvc import` instead of `dvc add`, so the connection to the source projects is kept. 🙂

[2019-12-16 21:07] markf94 opened #2963 "`dvc pull` with wrong S3 remote failed but user wasn't informed"
System
----------

My `dvc` version is 0.77.3, I installed & upgraded `dvc` through `pip3` and I'm using Fedora 31.

Problem
-----------

I followed the 'Getting Started' guide and ran the following commands

[code]
The last command finished with `Everything is up to date.` which is weird since the S3 bucket was empty when checking it. I went on to delete `<some-file>` and run `dvc pull -r s3remot

[2019-12-16 21:42] xwk opened #2964 "Add an option in 'dvc status' to show details of the files changed in a directory tracked by DVC"
Suppose I have a directory tracked by DVC, and I added some files (or delete/changed some files) later. Currently 'dvc status' will only tell me the directory is modified, but does not show detail of what are changed exactly. The 'dvc diff' does not help  as well, as it only supports diff between two GIT commits, but I've not commited the directory change to DVC and GIT yet.

I suggest to add an o

[2019-12-17 01:06] dmpetrov commented on #2719
@Suor  thank you for the great feedback and the details that you have noticed! I agree with most of the items you brought.

It looks like the major unanswered question is model source vs. model zoos. Metrics files and the number of artifact-files are related to this I believe.

First, it looks like the scenario with a model source that was generated by data, code and a corresponding metrics file i

[2019-12-17 01:14] dmpetrov commented on #2719
@jorgeorpinel `dvc.api.summon.*` or `dvcx.*` it is a really good question. Which method to use depends on where the deserialization code lives.

For CSV we need a code that can deserialize it. The code will depend on libraries like `pandas` that we don't want to include as a dependency of DVC. So, it is better to extract it as a separate package `dvcx`.

In the `resnet` case, python code is a part

[2019-12-17 02:07] jorgeorpinel commented on #2599
This isn't completely closed by #2915, but it's a greet start from what I can see. I haven't actually tried the functionality but it seems like DVC is now getting/importing from local repo cache dir but only when no default remote is set in the source repo. See https://github.com/iterative/dvc/pull/2915#pullrequestreview-332983712 for context.

[2019-12-17 04:12] efiop commented on #2963
Hi @markf94 !

Thanks for reporting this issue! I can reproduce:

[code]

Same with `dvc status -c`. So there is definitely a bug, looking into it.

For the record, the sequential `pull` didn't complain because it saw that it already has everything it needs in the local cache, so it didn't have to download anything.

[2019-12-17 04:50] Suor commented on #2719
The artifact file is completely human written, it has many things like name, description and ref to human written code. None of this can be generated. Metric in contrast is an output, which will be rewritten by command.

So I don't see how this may be combined:
- if you `dvc add` a model then how do you add metric file to it?
- if you generate a model and a metric then you need to generate human w

[2019-12-17 04:56] Suor commented on #2719
So for model zoo I see two options:
- specify metrics in a yaml file, require coordinated changes: if you update a model, then you need to update the metrics. This should preferably go in a single git commit.
- specify a metrics file in a yaml file + xpath or whatever, this might also be useful for model source if there are more than 1 metric file or that file is not typed well, then create a metr

[2019-12-17 04:56] efiop commented on #2964
Hi @xwk !

Thanks for this feature request! We have a ticket for it already in https://github.com/iterative/dvc/issues/2180 , so I'll close this one as a duplicate.

[2019-12-17 04:56] #2964 closed

[2019-12-17 05:00] Suor commented on #2719
A high-level idea: do not mix human written and machine generated content in a single place. This inhibits its human writability and readability.

[2019-12-17 09:14] dmpetrov commented on #2719
@Suor your points about `dvc add`, single yml files, missing metrics files and human readability are good but could be overcome or not so crucial.

However, the point about output (generating artifact file) is great - it will create duplications (retrain a model if model description changes or modify in two places and commit). It could be better to keep artifact files and metrics files separately.

[2019-12-17 10:51] pared opened #2965 "Create error handler for remotes"
As in
https://github.com/iterative/dvc/pull/2866#issuecomment-566014336

@mroutis @Suor @efiop
I would like to ask your opinions on that, though AFAIK, @efiop agrees.

[2019-12-17 11:03] efiop commented on #2965
So the change would be that each `_download/_upload` knows which specific errors to catch (e.g. ClientError for s3) and the rest falls through and is either being caught in `RemoteBASE.download/upload` if it is something common but remote-related, or it is caught by main.py (e.g. ulimit issue). Currently we catch _everything_ in `RemoteBASE.download/upload` and treat it as something recoverable, w

[2019-12-17 12:09] #2862 closed

[2019-12-17 12:11] efiop commented on #2791
Workaround for now: https://discordapp.com/channels/485586884165107732/485596304961962003/656166503971815445

[2019-12-17 12:20] #2473 closed

[2019-12-17 13:04] skshetry commented on #2878
I haven't been able to continue working on this. I'll continue working on this after Christmas. Sorry for not being quick on this. :slightly_smiling_face:

[2019-12-17 13:10] efiop commented on #2878
@skshetry No worries 🙂 Thanks for the heads up!

[2019-12-17 13:19] Suor opened #2967 "test: erepo_dir bootstrapping is bloaty"
To simply create a dvc or git controlled `foo` you need to:
[code]
Which is far more bloaty then for `tmp_dir`. See [here](_handle_transfer_exception) how @pared is struggling with it)

I see two options:

1. Make it work without chdir:
[code]
   This will, however, bring an assymetry:
[code]

    We don't really want to wrap `scm` and `dvc` objects.

2. Use chdir but make it simpler:
[code]
    S

[2019-12-17 13:25] pared commented on #2967
@Suor How about creating ErepoDir, that would be extending TmpDir, and would `chdir` before calling operation with `super`?

[2019-12-17 13:30] Suor commented on #2967
@pared this is the same as option 1 from test authors POV, asymmetry will be there unless we wrap `dvc` and `scm` too, which I don't want to do.

[2019-12-17 13:34] pared commented on #2967
Hmm, in that case, I would vote for 2nd point. It does not introduce asymmetry, and also visually marks (indentation) when we are editing the erepo, so it becomes a bit more readable.

[2019-12-17 14:03] Suor commented on #2965
I don't see much value in this refactoring unless we actually do something useful with that specific errors, i.e. retry or dynamic_chunk_size. Otherwise we will just add lots of code, which may make it harder for us to actually do something useful later.

[2019-12-17 14:06] Suor commented on #2791
It feels to me that we are not caching some boto session properly, thus preventing it from caching an access token.

[2019-12-17 14:08] Suor commented on #2791
@efiop your related lib says it is not needed anymore:

[2019-12-17 15:52] ccravens commented on #1425
I know this issue is a bit old, but I'm wondering why we have to explicitly set  this option? Can't it just ask for the password once it detects it's encrypted by default?

Thanks!

[2019-12-17 16:15] mroutis commented on #2719
should we add `dvc.api` to analytics? does it make sense?

[2019-12-17 16:49] jorgeorpinel commented on #2458
From Dmitry ([on Slack](https://iterativeai.slack.com/archives/CB41NAL8H/p1576575241020000), rewritten by me):

There are two general scenarios:

1) (Higher priority) Make `dvc pull <file_name>` work without specifying the DVC-file (where `file_name` is tracked) – similar to `dvc get <file_name>` I guess.
2) Get files from tracked data directory e.g. `dvc pull data-dir/file.txt`.

It should work f

[2019-12-17 17:38] efiop commented on #1425
Hi @ccravens ! We weren't able to find a reasonable way to auto-detect it with paramiko. If you know how to do it, please feel free to share or even consider submitting a PR(better discuss first though). 🙂

[2019-12-17 17:39] efiop commented on #2719
@mroutis Good question. It does make sense, but we need to take special care with that one. Consider creating a separate ticket.

[2019-12-17 17:44] efiop commented on #1714
@Aljo-Rovco Looks like @J0 is not responding, so indeed, please feel free to take this one. Thanks a lot for looking into it! 🙂

[2019-12-17 19:05] casperdcl opened #2969 "tidy scripts"
- whitespace formatting (related #2834 automate formatting)
- consistent use of `print_error()`/`echo`/`echo -e`/`echo >&2`
- possibly abstract common functionality into one place
- related #2956

[2019-12-17 19:52] mroutis opened #2970 "travis: osx failure"
https://travis-ci.com/iterative/dvc/jobs/268202342

[code]

[2019-12-17 19:52] mroutis commented on #2970
https://github.com/bundler/bundler/issues/7492

[2019-12-18 14:48] FredericoCoelhoNunes opened #2973 "Adding multiple metrics files at once"
Hello,

my current ML project runs a DVC pipeline which trains a model for several different segments of the data, and produces a metrics file for each one.
I want to be able to track how these metrics evolve over time; however, the segments of data that are evaluated in each run depend on some parameters on the first step of the pipeline, and so the number of output metrics files changes every ti

[2019-12-18 15:21] efiop commented on #2973
Related https://github.com/iterative/dvc/issues/1682 .

Also discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/656877089345110017

[2019-12-18 15:38] efiop commented on #2973
For the record:

Looks like a bug, we should handle this more gracefully.

This one doesn't work, because shell does the evaluation of the wildcard and `dvc run` doesn't accept multiples for `-m`. Might work if you evaluate first, and then add  `-m ` prefix for each file and add that to the command.

Again bug, which is probably caused by `Repo.find_outs_by_path` not being able to understand neste

[2019-12-18 15:40] efiop commented on #2973
In terms of the implementation for the directories, we will need to teach `metrics show` walk through git and cached directories https://github.com/iterative/dvc/blob/0.77.3/dvc/repo/metrics/show.py#L234 .

[2019-12-18 15:48] Baranowski opened #2976 "update: Handle Git-tracked import-ed files"
After https://github.com/iterative/dvc/pull/2889, `dvc import` can also import files that are tracked by Git but not DVC. When the user tries to `dvc update` them, the operation fails. See also https://github.com/iterative/dvc/issues/2959

[2019-12-18 15:49] Baranowski opened #2977 "import: Handle non-DVC Git repositories"
After https://github.com/iterative/dvc/pull/2889, `dvc import` can also import files that are tracked by Git but not DVC. DVC still requires that they come from a DVC repository rather than any Git repository, although there is no longer need for that.

[2019-12-18 16:26] FredericoCoelhoNunes commented on #2973
Thanks for all the info!

[2019-12-18 17:15] icks commented on #930
Are there any plans to implement this? @remram44 @dmpetrov
Would a contribution still be valued?

Also I can see further applications in the field of scientific reproducibility and general public data sharing.

[2019-12-18 17:19] casperdcl opened #2978 "zenodo"
Zenodo (https://zenodo.org/) can archive datasets and software, providing unique DOIs per-version as well as one DOI for all versions (e.g. https://doi.org/10.5281/zenodo.595120). Uploading can be automated (github releases automatically triggers a new DOI). It's a nice first step for people to cite `dvc`.

Things to discuss:

- author list (contributors/company name/etc). If left blank, GitHub co

[2019-12-18 17:51] efiop commented on #2978
@casperdcl It would be great if you could elaborate on what this is about. I don't think many of us are familiar with zenodo 🙂

[2019-12-18 17:54] efiop commented on #930
@icks No such plans from the core team, at least for now. Would appreciate if you could share your thoughts on this and in which scenarios you would like to use it. Contributions are always welcomed, feel free to give it shot. Ping us here or on discord if you need any help 🙂

[2019-12-18 17:58] shcheklein commented on #930
@icks it would be a good addition indeed. Unfortunately, it would take a while for the core team to prioritize this like @efiop mentioned :( We would really love for the community to do a contribution in this case and we can provide all the support and help on this.

[2019-12-18 18:18] kevlar1818 commented on #1627
I enthusiastically support this option, and honestly, I support making `--no-commit` the default. The fact that DVC deviates from Git by auto-committing is quite surprising to myself and the other devs on my team. In my experience adopting DVC thus far, making DVC map more closely to Git would dramatically improve its ease-of-use.

[2019-12-18 18:30] casperdcl commented on #2978
Well it's nice to have a DOI for people to cite dvc, and Zenodo can issue DOIs. This I think this is its main relevance for software packages.

e.g. badges: [![](https://img.shields.io/badge/DOI-10.5281/zenodo.012345-blue.svg)](https://doi.org/10.5281/zenodo.012345) or a citation: "[1] iterative.ai, *dvc: Data Version Control - Git for Data & Models* (2019) [DOI:10.5281/zenodo.012345](https://doi.

[2019-12-18 18:32] mroutis commented on #2719
what about using `dvc-formulas.yml` instead of artifacts?

The _caster_ (_magician_) uses _formulas_ to _summon_ _agents_.

[2019-12-18 18:38] efiop commented on #2970
@mroutis Thanks for the research! Indeed, that fixed it for now.

[2019-12-18 18:38] #2970 closed

[2019-12-18 19:10] mroutis commented on #2719
reference: https://github.com/huggingface/transformers

[2019-12-18 19:36] mroutis commented on #2719
I think a nice addition would be to pass parameters through `summon`:

[code]

[2019-12-18 22:45] dmpetrov opened #2979 "checkout/add: change warning messages to regular/info if behavior is expected"
[code]

[code]

EDITED 12/18/19: The message is actually wrong! The files were not removed - they were replaced by a new version. It has to be fixed as well.

[code]

Based on my understanding warnings are needed when you need to alert a user. It is not needed for routine operations with expected results. In both of these cases, the priority needs to be reduced to regular/info.

PS: Are there any

[2019-12-18 23:01] shcheklein commented on #2979
I think it's a duplicate of this https://github.com/iterative/dvc/issues/2329 ?

Also, yet another evidence (as many others) that loggers are not meant to be used as a mechanism to built UI/UX on top - https://github.com/iterative/dvc/issues/1930. In this specific case, for example, the priority is already set to INFO. It's just happened that in the "loggers world" INFO includes WARNING and above,

[2019-12-18 23:02] plaintextview commented on #2959
+1 for me as well; when my Data Scientists clone a project repo which uses a data-registry repo, running `dvc status` on the project repo returns the following:

[code]

## Repro
My data-registry repo:
[code]

Update `projectA` to use data managed by `data-registry` repo:
[code]

Another user clones the (updated) `projectA` repo, and checks dvc:
[code]

It's less than optimal UX, and I know I will

[2019-12-18 23:36] dmpetrov commented on #2979
This is a discussion about the mechanism in general. It won't change the verbosity level of these particular messages.

Logging is just not the right term. We should use output and verbosity level instead (like in #2329).

Separation is definitely needed if we decide to output logs into a separate space while keeping printing messages to output (where verbosity level still be needed).

Sorry, I'm

[2019-12-18 23:48] shcheklein commented on #2979
probably I was confused by `PS: Are there any other warnings like these?` and the generic title.

change it to be "add: remove output modified warning message"?

hmm, may be I didn't understand the intention for the ticket ... Technical details aside, what is the outcome you'd like to get - remove the message completely, remove the WARNING prefix?

[2019-12-18 23:50] dmpetrov commented on #2979
Yes

[2019-12-18 23:51] mroutis commented on #2788
@shcheklein , I couldn't reproduce this one :thinking:

[2019-12-18 23:53] shcheklein commented on #2979
Gotcha! Yep, disregard my comments then! (I would probably still change title, this one feels generic, at least specific `add/checkout: remove unnecessary warning prefixes` - would make it way more explicit :) )

[2019-12-18 23:58] mroutis commented on #2788
@outsmart-ai , could you provide a reproduction script?

[2019-12-19 00:00] shcheklein commented on #2788
@mroutis me neither! And from the code perspective I don't see a bug. It might be I had a `.dvc` somewhere in the `~` (you know it happens from time to time when you do `dvc init` at the very top) - this is the only explanation that comes to my mind.

[2019-12-19 00:04] mroutis commented on #2979
@dmpetrov , @shcheklein , what about removing those messages at all?

[code]

I think it was a _warning_ because DVC is "removing" data.
[code]
In my opinion, having those messages just clutters the UI. This is related to #2498

[2019-12-19 00:05] mroutis commented on #2788
@shcheklein , @outsmart-ai, can we close this issue then? :slightly_smiling_face:

[2019-12-19 00:28] dmpetrov opened #2982 "diff: clean up output for changed files"
Context:
[code]

[code]

Also, it would be great to simplify this output for parsing.

Possible "clean" output:
[code]

Actions:
- [ ] Not show not-changed files (at least if it was not specified explicitly).
- [ ] Clearly distinguish added files and modified files - with the sizes.
- [ ] Improve output for reading. ~~not empty lines within the context of a single file (preferably not empty lines

[2019-12-19 02:21] dmpetrov commented on #2979
@mroutis it is a good point we can definitely consider this.

To my mind, we should NOT make `checkout` silent. It should output ALL the changes (and what exactly happened: remove/changed/added) or at least a summary. I'd prefer to see all the changes.

Re `checkout`... I've just noticed that the message is wrong (I'll modify the description) - in this scenario, the files were not removed - they w

[2019-12-19 02:25] dmpetrov commented on #2979
This misleading warning makes this issue p1 or even p0 :(
Assigning a priority.

[2019-12-19 02:28] mroutis commented on #1627
It is hard to discuss whether _it make sense_ or not to commit data files _automatically_, or how it deviates from Git's behavior without assuming some background knowledge on how both tools work.

I'll try to put together a comparison of how DVC and Git treat _commits_ (this is from the top of my head, so please do your regular _fact & terminology check_ on this one):

Let's start by describing w

[2019-12-19 02:30] mroutis commented on #2979
@dmpetrov , we could terminate the `checkout` operation if there's a non-cached version of that file.

[2019-12-19 03:51] dmpetrov commented on #2018
@iterative/engineering should we close this or something still needs to be implemented?

[2019-12-19 04:07] shcheklein commented on #2018
yes, can be closed. It's implemented, documented, released. There is a list of improvements - mostly code and tests + one to get tokens with increased limits to simplify on-boarding potentially - https://github.com/iterative/dvc/issues/2865

[2019-12-19 04:55] #2018 closed

[2019-12-19 06:55] shcheklein commented on #1627
And the biggest difference (including decisions, including this ticket) comes from the amount of data tools deal with - KBs vs GBs. Thus for example current default behavior quickly becomes a limiting factor when you do a lot of experiments.

I would also first try to analyze user perception of the command names - do they make sense more or less, do users understand _and_ intuitively expect the ou

[2019-12-19 08:04] jorgeorpinel opened #2983 "checkout: add `--relink` to tab completion scripts"
~~And are there any other relatively newly added/changed/removed command options we should add to the tab completion files? Or commands, for that matter...~~ Moved to #2985

[2019-12-19 08:20] jorgeorpinel commented on #2983
e.g. **gc: remove `--all-commits` options from usage output** #2681

[2019-12-19 08:51] ptrcklv commented on #2788
True, does not occur in arbitrary test dir. I could reproduce the error when I ran dvc version in my local dvc repo, i.e. in a code directory. Actually it is not a dvc repo but there is a .dvc folder, which fooled me, too.

[2019-12-19 12:25] pared commented on #2977
reproduction script
[code]

Do I get it right, that we want to extend `update` functionality? So far `target` could be only [`*.dvc` file](https://dvc.org/doc/command-reference/update#update).
If we want to extend the functionality, we probably should add the ability to update output by its name. That should probably be solved in https://github.com/iterative/dvc/issues/2458 but better keep info on

[2019-12-19 12:27] pared commented on #2976
reproduction script
[code]

Do I get it right, that we want to extend `update` functionality? So far `target` could be only [`*.dvc` file](https://dvc.org/doc/command-reference/update#update).
If we want to extend the functionality, we probably should add the ability to update output by its name. That should probably be solved in https://github.com/iterative/dvc/issues/2458 but better keep info on

[2019-12-19 14:37] mroutis commented on #2967
Second option :+1:

[2019-12-19 15:05] pared commented on #2959
repro script:
[code]

[2019-12-19 17:29] anferico opened #2984 "Overlapping outs paths"
I'm getting a quite confusing error when trying to call `dvc run`
[code]
Here are the steps to reproduce the issue:

1. Create a new directory `myproj`, then call `git init` and `dvc init`inside of it
2. Create a new directory `data` and put some data in it. The structure of my `data` directory is as follows:
[code]
3. Run `dvc add data` to track the directory using dvc
4. Create a new file called

[2019-12-19 17:46] efiop commented on #2984
Hi @anferico ! This is the expected behavior. When you `dvc add data`, dvc will track that whole directory as one entity, so you can't use another dvc-file to output anything inside of it, as it will break the reproducibility and checkout in general.

[2019-12-19 17:47] mroutis commented on #2788
:eyes: what about using Zsh @shcheklein , @ptrcklv? you can do cool things like the following:

[![asciicast](https://asciinema.org/a/UpDazXtHsyDl9FqNCT1HOre0Z.svg)](https://asciinema.org/a/UpDazXtHsyDl9FqNCT1HOre0Z)

any suggestions on how to leverage this? I didn't want to add `dvc --version` because it can take quite some time to compute (_no bueno_)

[2019-12-19 18:04] mroutis commented on #2788
@shcheklein , @ptrcklv can you go to the referenced PR on `spaceship-prompt` and add your comments? (e.g. _"this is not needed, please, close it immediately"_, _"neat, but won't use"_, etc.)

[2019-12-19 18:34] jorgeorpinel opened #2985 "tab completion scripts need more love"
Seems to me it's about time we review and update tab completion scripts again (like in #1732)? There are some new and removed commands, options, etc, I think. See also #2983. Some other examples:

- `gc --all-commits` has been hidden from help output (#2681).
- `dvc run --remove-outs` is now deprecated.

And maybe we could add a checkbox to .github/PULL_REQUEST_TEMPLATE.md similar to the one for u

[2019-12-19 18:34] mroutis commented on #2985
Indeed, @jorgeorpinel

[2019-12-19 18:35] jorgeorpinel commented on #2983
Another e.g.: `dvc run --remove-outs` is now deprecated.

[2019-12-19 18:38] shcheklein commented on #2985
+1 on adding a checkbox. Updating these scripts should be responsibility of one who is creating a PR.

It reminds me updating requirements though, and checking licenses, etc. We should consider creating a document for the core team - like extended instruction "before-merge-sequence".

[2019-12-19 18:40] shcheklein commented on #2983
@Suor could you please take care of the `--relink`, please? It was part of the PR you created, right?

[2019-12-19 18:44] jorgeorpinel commented on #2542
What about both copying as you go BUT only delete sources after everything has been copied? Not sure about the computing checksums part though. Is there a separate issue to address this BTW? Just curious

[2019-12-19 19:39] g-simmons2 commented on #1923
Not having the completions is definitely annoying, I switched to zsh just to have them :)

Would it be possible to make the completions work for 3-token commands (not sure if this is the right terminology) - for example `dvc pipeline show <tab to choose a file>`?

The current behavior for `dvc pipeline show <tab>` is to list the available options:
[code]

And the output for `dvc pipeline show inco

[2019-12-19 19:48] casperdcl commented on #1924
also see https://stackoverflow.com/questions/9000698/completion-when-program-has-sub-commands

[2019-12-19 19:49] casperdcl commented on #1923
@g-simmons2 definitely possible but you're talking about #1924 (zsh).

I'll submit a `bash` PR soon...

[2019-12-19 19:51] casperdcl commented on #2395
I think this might be a duplicate of #1924

[2019-12-19 19:51] g-simmons2 commented on #1923
@casperdcl If it works on bash I'll switch back 😄

[2019-12-19 19:55] shcheklein commented on #2788
@ptrcklv

Is that `.dvc` directory a leftover from some experiments or is a coincidence and you had it even before `.dvc`?

[2019-12-19 20:01] efiop commented on #2542
@jorgeorpinel There is a comment later stating that it would bring too much storage overhead(e.g. you might run out of disk space), so copying is not the best solution.

[2019-12-19 20:03] shcheklein commented on #2788
@mroutis I think to the most part it's an UI ticket, we should just update the message to be more explicit:

"Unable to detect supported link types. You run this command inside DVC repo (`.dvc` exists) but it looks it has been just initialized as cache directory (<show here actual path to the cache dir from config>) does not exist yet. It is usually auto-created by commands such as `dvc add/fetch/

[2019-12-19 20:04] efiop commented on #2985
@shcheklein Licences and stuff like this is tiresome and will only make the contribution process harder, plus no one really reads that stuff anyway once it is past 2-3 checkboxes. Licences and completion can be automated by proper scripts, so I would rather take a look at that instead.

[2019-12-19 20:06] efiop commented on #2395
@casperdcl This issue is not related to completion scripts.

[2019-12-19 20:07] shcheklein commented on #2985
@efiop yes, I didn't mean to put them as checkboxes. I suggest we keep them to 3 as we have now. More like an internal pre-merge check-list. If it can be made a part of the automation - that asks you certain questions before you able to merge - that would be really nice.

[2019-12-19 20:11] efiop commented on #2985
@shcheklein Developers don't read those boxes either 🙂 For Licences and completion it would probably be easier to automate the checks or even generation (for bash and zsh). Need to take a look at some point.

[2019-12-19 20:15] shcheklein commented on #2985
@efiop it's not for developers either - it's mostly for maintainers. Before you push the merge button make sure to check that list.

[2019-12-19 20:25] casperdcl commented on #2395
Right just re-read the description

[2019-12-19 20:33] jorgeorpinel commented on #2983
I'll move everything else to #2985 so this issue is just about `--relink` now.

[2019-12-19 20:35] efiop commented on #2985
@shcheklein I meant for core developers/maintainers. No one likes checklists.

[2019-12-19 20:44] shcheklein commented on #2985
@efiop totally, that's why this "unlove" will be a constant reminder to automate, right? :) the worst scenario here is to have nothing and fix things afterwards. Also that check list is a requirement list for the automation anyway.

[2019-12-19 20:56] ptrcklv commented on #2788
No it's the .dvc which is on the dvc master branch. I did your reproduction steps from the very first comment in this issue in my local dvc repo folder (coincidently had been there already). I was not aware of that .dvc folder there, so I got fooled since I thought i was not in a DVC repo. In a clean test folder I could also not reproduce the issue.

[2019-12-19 21:00] ptrcklv commented on #2788
@shcheklein: Since you recommend to the user to create the cache dir manually, could dvc version command not simply create the empty cache dir when called within a dvc repo and so the error message could be avoided completely?

[2019-12-19 21:08] jorgeorpinel commented on #2985
I like checklists. But anyway, since we want to keep this one 3 boxes long, should we at least add a note about trying to keep tab completion up-to-date in the core contrib guide?

[2019-12-19 22:41] jorgeorpinel commented on #2542
But if the system runs out of space this way, DVC can still catch the error and delete all the copies. I guess this is also true for copying as you go. Maybe keep a log of the "transaction" so it can be reverted if the file system gives any errors?

[2019-12-19 23:42] jorgeorpinel commented on #2788
p.s. Ivan is talking about iterative/dvc.org/pull/875 FYI

[2019-12-20 00:42] jorgeorpinel opened #2988 "run/repro: remove/hide deprecated `--remove-outs` option from output"
- [x] `-c`, `--cwd`
- [x] `-y`, `--yes`
- [x] `--remove-outs`

[2019-12-20 02:18] shcheklein commented on #2984
Hi @anferico ! Good question! Like @efiop mentioned there is nothing wrong with DVC behavior indeed. I think there is some confusion in your workflow (and may be we don't communicate it somewhere well enough in our docs). In your case what you want to is to run:

`dvc add data/raw`

and then:

`dvc run -d data/raw -d myscript.py -o data/prepared/prepared_data.csv -f data_preparation.dvc python3 my

[2019-12-20 09:43] drorata commented on #2447
I don't understand how @Suor comment is related to the underlying use case behind this issue. The main deal here is about streamlining `dvc` and remote infrastructures while @Suor comment is about concurrent processes running on the "local" machine where `dvc` is.

As far as I understand @zo7 concern (and it is also mine), the situation is that one is running `dvc` from a "local" machine. Assume t

[2019-12-20 10:51] r0f1 opened #2989 "Installation is really tedious"
Hi, I am using linux and the latest version of Anaconda and I have to say that installation using pip is really really tedious. Could you please fix these issues such that newcomers have an easier time using dvc?

1) On installation one gets the following message: `ERROR: Cannot uninstall 'PyYAML'. It is a distutils installed project and thus we cannot accurately determine which files belong to it

[2019-12-20 11:18] anferico commented on #2984
Thank you @efiop and @shcheklein, it is actually me who hasn't read the documentation thoroughly.
Concerning the second solution pointed out by @shcheklein, if I specified `-o data/prepared`, I wouldn't be able to output any other file inside `data/prepared` through subsequent calls to `dvc run`, correct?

[2019-12-20 12:10] FredericoCoelhoNunes opened #2990 "Regular Expression support for --xpath"
Hello,

I believe --xpath does not support filtering by regular expressions.

Use case:
I have the following metrics file:
[code]

and would like to get all groups from the A segment, but not the B segment.
Ideally,  this would work:
`dvc metrics show -x $.groups[?(@.name =~ /group-A-*/)]`

Right now, only the `==` operator is supported.

[2019-12-20 14:29] efiop commented on #2989
Hi @r0f1 !

1. If you are using anaconda already, why not install dvc from anaconda as well?

2. It is a known issue https://github.com/iterative/dvc/issues?q=is%3Aissue+enum+is%3Aclosed but it is caused by some other package in your workspace installing enum34, which shouldn't be installed for this python version. There is not much we can do about that, except recommend using pipenv or some other

[2019-12-20 16:40] shcheklein commented on #2984
@anferico no worries :) glad that it helped.

Yes, if you do `-o data/prepared` then it expects from your script that you write the _full content_ of that directory every time you run the script. In fact, it'll be removing the previous version to ensure that they are not mixed and actually reproducible.

But to some extent it's the same as with `-o data/prepared/prepared_data.csv` - every time you

[2019-12-20 16:40] #2984 closed

[2019-12-20 16:46] efiop commented on #2990
Hi @FredericoCoelhoNunes !

Could you try running
[code]
, please? Notice that i've added single quotes, so that it doesn't get evaluated by the shell.

[2019-12-20 17:00] FredericoCoelhoNunes commented on #2990
Hey!
I tried running that, but I still get the `Unexpected character: ~` error.

[2019-12-20 17:01] r0f1 commented on #2989
Thanks for the quick response. Yes, those issues are related to my environment. I just checked that if I create a new, fresh environment with `conda create -n testtest python=3.7`, everything seems to work. Regarding 1), I never installed anything using distutils. I must be some other package that I installed in the past that is responsible for this. I have so many packages installed in the conda

[2019-12-20 17:01] #2989 closed

[2019-12-20 20:28] efiop commented on #2989
@r0f1 Sure! Thank you so much for the feedback! 🙏

[2019-12-20 22:01] casperdcl commented on #2989
Running `conda update conda --force` in the broken environment *may* fix the issue.

[2019-12-20 22:03] casperdcl commented on #2990
Are you sure it's in quotes so the shell env isn't trying to parse the expression?

[2019-12-20 22:38] mroutis commented on #2965
Can't imagine how would it look like, @pared, but I agree that we should treat exceptions better

[2019-12-20 23:15] efiop commented on #2990
@FredericoCoelhoNunes We are using jsonpath_ng internally and when trying to run your example:
[code]

I'm getting:

[code]

So there might be something not right with the regex or maybe jsonpath_ng has some limitations. Can't put my finger on anything specific right now 🙁

[2019-12-21 00:04] efiop commented on #2026
We've had discussions about it earlier and decided to use strings instead. Closing.

[2019-12-21 00:04] #2026 closed

[2019-12-21 00:05] efiop commented on #1714
@Aljo-Rovco Are you working on this?

[2019-12-21 03:41] mroutis commented on #1627
If committing is an issue, why not using `--outs-no-cache`?

I'd even question the advantage of using `dvc run` without "caching" the results.

[2019-12-21 03:51] shcheklein commented on #1627
Because some results you want to be saved after all. `--outs-no-cache` determines if you want to save them with Git/not saved at all or by DVC.

not sure I got what exactly is in doubt here and if it was answered before ;)

[2019-12-21 05:39] qiuwei opened #2992 "better message when trying to link from files that belong to another user"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))
DVC version: 0.77.3, Platform linux, method of installation: anaconda

Problem:
Our team has a shared data directory, all of the files and directories belong to the same group.
The members of the group have full read

[2019-12-21 07:30] shcheklein commented on #2992
@qiuwei that's sounds really bad, but it's not exactly clear what's happening here - could you please give us a little bit more details?

is it `/gendata`? do you use the same dir for the DVC cache? is DVC cache set to be shared as well?

where is your repository located? the same directory as data?

[2019-12-21 10:32] ilgooz commented on #2849
Hey, I'll give it a try to create a solution for this feature!

[2019-12-21 12:37] chloe-wang commented on #2992
Yes, it's /gendata.

I could provide a minimal working exmaple to reproduce.

step 1: create `proj1` directory
step 2: inside the `proj1` directory, initialize a dvc directory without scm.
[code]
step 3: create a file `test.txt`, change the owner of the file to someone else other than the current user, and change the permission bit to 664.  Note that the two users should be in the same group, so t

[2019-12-21 15:28] efiop commented on #2992
Hi @qiuwei ! Could you please add `-v` to the command that is failing and show us full log?

[2019-12-21 15:30] efiop commented on #2992
@qiuwei Also, take a look at `dvc config cache.shared group` config option, it allows you to use your cache directory that is shared between users.

[2019-12-21 16:20] mroutis commented on #2992
@chloe-wang , the file is still there at `gendata/.dvc/cache/80/b1aeab28f6ddf9ba779b2681923442.ZKMhApEkd5VrDDarerdKmU`

If the problem is that DVC is mysteriously disappearing files, we could wrap `remote.base.move` into a `try/except/finally` to make sure that if something failed, we bring back the file to where it was.

[2019-12-22 01:43] dmpetrov opened #2994 "get: show url to cache"
In some cases, users need a direct link to a data file in the cloud. It might be just a matter of convenience or when DVC is used from automation tools like CD4ML scenarios. We need to provide a way to get a direct link.

I suggest creating a new command `dvc resolve`. Other options can be also be considered. For example, it might be a part of `dvc status` (when it start supporting data files as a

[2019-12-22 02:24] dmpetrov opened #2995 "dvc metrics diff"
Today, we can track metrics but metrics become much more valuable when you can see differences/improvements over time (commits/branches). A new `dvc metrics diff` command is needed.

[code]

**Open question:** What should we do about not float/integer metrics? Let's don't support (ignore) them. Any other ideas?

**Note**, we should deal with float formatting carefully - we don't want to see diff v

[2019-12-22 04:52] weekly-digest[bot] opened #2996 "Weekly Digest (15 December, 2019 - 22 December, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 37 issues were created.
Of these, 12 issues have been closed and 25 issues are still open.
## OPEN ISSUES
:green_heart: #2993 [commands/update: add --rev option](https://github.com/iterative/dvc/pull/2993), by [ilgooz](https://github.com/ilgooz)
:green_heart: #2992 [DVC fails badly when

[2019-12-22 09:13] #2996 closed

[2019-12-22 10:37] efiop commented on #2985
@shcheklein @jorgeorpinel Sure, let it be at least checkboxes for now.

[2019-12-22 10:46] efiop commented on #2994
@dmpetrov Sounds like some automation helper, that can be worked around by simply reading the dvc file, extracting the checksum and then accessing the remote. Sounds like that wouldn't be a problem for anyone needing this for some automation script, not sure it is useful enough for many users though.

[2019-12-22 10:52] efiop commented on #2995
A workaround would be pretty trivial though. `dvc get` from HEAD^^, `dvc get` from current HEAD and run old plain `diff` on it.

[2019-12-22 11:15] efiop commented on #2542
@jorgeorpinel But it would also bring copying overhead in terms of the time it takes. Currently, we do `move`, which doesn't take any time if we are moving within the safe FS, and if we start copying, it will always be slow. But even if we would sacrifice that, your workers might keep writing to that workspace file and so when you checkout next time, you might get an incomplete file from cache. So

[2019-12-22 11:25] efiop commented on #2960
Oops, sorry for the delay.

Well, giving that to your customers was a bad idea from beginning 🙂

So say you have some tag like v1 that was using s3. Now you are migrating to gs, so what you do is you go to v1, create a branch from it, adjust the remote to point to the new gs location, commit, move v1 to this new commit. Then you'll have to make your users update.

But if you, as a maintaer, would

[2019-12-23 00:02] dmpetrov commented on #2995
@efiop yeap! Plain `diff` won't work, unfortunately - the order of metrics might easily change and you see a total mess. Also, we need a nice looking diff numbers, not old and new values.

But agree, we just need a nice looking shortcut for that.

[2019-12-23 00:24] dmpetrov commented on #2994
This feature is required in automation scenarios where people prefer to write bash code. Also, in the case of using revisions, it won't be as simple to implement. A single command - would be really great to have.

In terms of convenience, if you ask a user to do that in a manual way - it requires quite deep DVC knowledge and it is easy to make a mistake. The user should do 4 operations: find the c

[2019-12-23 01:03] dmpetrov opened #2997 "dvc metrics diff for summon/catalog artifacts"
For projects with summon/catalog artifacts (#2719), we need the same metrics diff command as a regular one #2995. Scenario - if I updated my artifact I'd like to see a metrics diff with an old version and the latest merged version (for CD4ML case).

We agreed to separate metrics files and summon-yaml files to avoid data duplication https://github.com/iterative/dvc/issues/2719#issuecomment-56645302

[2019-12-23 01:42] dmpetrov opened #2998 "diff with no cache"
[code]

The major job of `dvc diff` is to show if there is a file difference and show checksums. This can be done without actual file content. So, no cache is needed. But it looks like the current implementation requires the file content.

It is okay not to show the size diff if the cache is not presented. But the format needs to be changed - `size is ?` not the best way to show the absence of the

[2019-12-23 01:56] dmpetrov opened #2999 "diff for not git-commited files"
It feels like `diff` can do a better job on not committed changes.

[code]

[2019-12-23 03:12] elegz commented on #755
Could only 2 dvc run / repro be run?

[2019-12-23 03:57] qiuwei commented on #2992
The detailed log:
[code]

The problem is solved after `dvc config cache.shared group` is configured.
However, I still consider a more informative error message is needed here.
Thanks a lot for the help.

[2019-12-23 05:44] mroutis commented on #755
@elegz , I couldn't replicate this:

[code]

[2019-12-23 07:08] dmpetrov commented on #2960
@efiop these are good workarounds. I urge everyone to think about a holistic solution.

Ideally, I need the same solution as Git has - I can easily move a repo with the entire history from, for example, GitHub to GitLab by a couple of commands just by changing remote, pushing and removing the old one. Is there a way to implement something similar in DVC?

[2019-12-23 07:44] dmpetrov commented on #2719
@mroutis yes, parameters overwriting should be supported in the function. Sorry, it was not specified directly.

[2019-12-23 07:46] dmpetrov commented on #2719
@mroutis `formulas.yml` (without `dvc-` prefix) is a good one.

[2019-12-23 07:51] jorgeorpinel commented on #1577
A user asked about this use case up today [on Discord](https://discordapp.com/channels/485586884165107732/563406153334128681/658501655641325580). Specifically about DVC understanding Python imports inside commands fed to `dvc run` so if `a.py` imports `b.py` (both being project source code, not libraries) and `a.py` is tracked by a stage file, but then only `b.py` changes, `dvc repro` would not re

[2019-12-23 07:59] dmpetrov commented on #2978
@casperdcl it is a good idea. Several people (3?) have already asked how they can reference DVC in their papers. I was thinking about writing some paper and publish in arxiv.org but zenodo.org can be a temporary workaround.

[2019-12-23 08:20] dmpetrov commented on #1577
@jorgeorpinel yes, it is a bit different use case - python file dependencies is not the same as dependencies to python functions from the initial message.

The file dependencies use case should be easier to implement, I guess. Package systems should be able to track the dependencies check and I hope this ideas (or code) can be reused in DVC.

[2019-12-23 08:46] dmpetrov commented on #2945
@mtsz-thiago DVC usually works when you already extracted data from DB to files and ready for ML phase (which usually consumes raw data).

However, we are thinking about a tighter integration to DBs (see #1577 and #2378) when you can version and control ML phase and have some huck with some control over DB.

If your scenario is not ML, but more analytical and you spend 100% time in DB then dbt (da

[2019-12-23 08:46] #2945 closed

[2019-12-23 08:49] jorgeorpinel commented on #1577
Yes, it's a bit different but related. I can open a separate issue if you prefer though. I'm no talking about packages or libraries though, in that case you could kind of hack it now by having requirements.txt as a dependency, for example (in Python). I'm talking about inter-dependencies between source code files in the project i.e. when your stage is spread in several source code files, but only

[2019-12-23 08:51] jorgeorpinel commented on #1577
Also note I'm not just talking about Python code but multiple languages. I guess Python would be a first obvious platform to include such a feature for, since our core code is also Python.

[2019-12-23 10:24] Suor opened #3000 "perf: `_find_all_targets()` has quadratic complexity because of `Git.is_tracked()`"
`Git.is_tracked()` recreates a list of tracked files for each call and is called for each file `walk_files()` will find. Both lists are proportional to repo size, which makes `_find_all_targets() ~ O(repo_size ** 2)`.

[2019-12-23 10:51] r0f1 opened #3001 "Where is my data gone?"
Hi, I tried adding two files to dvc. One of them was added (`experiment123_45.6_detecions2.csv`), one of them vanished (`detections.csv`).

The series of commands was the following:
[code]
There was an error, so I tried adding files one by one:
[code]
[code]

The result:
[code]

How do I restore `data/experiment123/detections.csv` ?

[2019-12-23 10:55] r0f1 commented on #3001
Output of pip freeze:
[code]

[2019-12-23 10:57] FredericoCoelhoNunes commented on #2990
Yeap, I did put them in quotes.

I think you sre missing a dot before the asterisk in the regular expression, but I don'tthink that is the problem.

I think this is just a jsonpath limitation, but it's ok, I've found a workaround! Cheers

[2019-12-23 11:15] dmpetrov commented on #2719
@mroutis for the items inside the yml you can use term `data objects` - it is a nice addition to data files and data artifacts.

These items have types. So, `object` explains the nature of this thingy pretty well.

[2019-12-23 12:56] r0f1 commented on #3001
Ah, this is a duplicate of https://github.com/iterative/dvc/issues/2992.

[2019-12-23 12:56] #3001 closed

[2019-12-23 14:40] casperdcl commented on #2978
@dmpetrov I'd recommend writing a paper *after* zenodo.

[2019-12-23 14:57] mroutis commented on #2719
I like the purposed terminology, @dmpetrov , will do the change :)

[2019-12-23 17:31] mroutis commented on #2960
@dmpetrov , @efiop , what about using external tools like the AWS CLI or the Google Cloud Platform CLI to sync the cache?

For example, if you are migrating to GCP, it would be `gsutil cp -r .dvc/cache gs://my-bucket`

[2019-12-23 17:35] mroutis commented on #2960
If you don't care about modifying your Git history, `git rebase -i -root` and modifying the commit who added the remote, pointing to the new one.

[2019-12-23 20:07] dmpetrov commented on #2960
@mroutis sure, you can use the tools. But it is not clear how to change the links in Git history - you will still have `.dvc/config` files in history pointing to the old repo. This is the major question.

Modifying the commit - yes, it is a possibility. Is there any better way to define and change data remotes? (most likely it should not be committed to config)

[2019-12-23 20:11] shcheklein commented on #2960
👍 on my end, it feels that there should be a better solution to this.

[2019-12-24 03:43] nik123 commented on #770
Hi, I have read the docs and this thread but I still have problems with `dvc diff` command. Probably I'm missing something and I would be glad if someone will correct me. I have a problematic use case which I describe below.

I have a directory with several binary files under control of dvc. Whenever I execute `dvc diff` I get statistics about changed files. For example:

[code]

The output is not

[2019-12-24 06:18] Suor opened #3004 "perf: unneeded runs on repro"
This [NOTE](https://github.com/iterative/dvc/blob/dd68e9a569928e717202d5957fe63fbfaf88e78e/dvc/repo/reproduce.py#L179-L183) looks wrong. Example stage depends on a python script, a user adds a comment to that script that makes `dvc repro` rerun that stage, however, the outs are the same, so the of the pipeline should not be rerun.

[2019-12-24 10:15] dmpetrov commented on #2982
Another request just came https://github.com/iterative/dvc/issues/770#issuecomment-568642873 The request is related to data dirs - `dvc diff` does not go deeper in data dirs. This can be considered as a part or an enhancement of this issue.

Also, it seems like data file checksums should not be shown by default. Let's prioritize human readability like in Git. An option can add checksums.

The outp

[2019-12-24 10:24] dmpetrov commented on #770
Thank you @nik123 ! I've just created a detailed issue about the `dvc diff` output. Please vote for it! And please add comments if I missed anything.

[2019-12-24 13:22] chatcannon commented on #2977
Hello all, @shcheklein asked me to work on this as a recruitment test. I have tracked down the reason why this is not yet working: the `import` process tries to create a `Repo` instance from a temporary local clone of the `url` argument (i.e. the source repo from which the file should be imported). Since this directory does not contain a '.dvc' subdirectory, the `Repo.find_root` function fails.

[2019-12-24 13:27] chatcannon commented on #2977
Here are some ideas for resolving this; I'm not sure which fits better with the overall design:

* Add code to `Repo.find_root` to allow creating a `Repo` instance from a git repo with no '.dvc' directory
* Run the equivalent of `dvc init` in the temporary clone before calling `external_repo`

[2019-12-24 16:00] efiop commented on #2997
Blocked by https://github.com/iterative/dvc/issues/2995 and  #2719

[2019-12-24 16:11] Suor commented on #2994
This issue has a remote config complication -  do we use a remote from config from specified rev or current one? Both might be useful:
- use current if there was no default remote back then or if we changed default remote and moved all the data
- use the one from rev if we intentionally use different default remotes in e.g. different branches

[2019-12-24 16:16] efiop commented on #755
First need to make our locks wait instead of erroring-out, so that users could start scheduling it themselves. Then we could proceed with in-house repro parallelization.

[2019-12-24 16:30] efiop commented on #2447
The current solution is to make your command launch the job, save the metadata somewhere and return an error. After that, on next runs (`dvc repro`) it will see (through the metadata that it saved) that it already has the worker running and will continue returning errors until the worker is done. When it is done, it will do the rest of the actions and finish successfully.

[2019-12-24 16:36] efiop commented on #3000
https://github.com/iterative/dvc/blob/0.77.3/dvc/scm/git/__init__.py#L236

[2019-12-24 16:38] Suor commented on #3000
There should be a way to access git index by name and thus implement `Git.is_tracked()` in `O(1)`.

[2019-12-24 16:41] efiop commented on #2990
@FredericoCoelhoNunes Could you post the workaround, please? 🙂 Closing for now.

[2019-12-24 16:41] #2990 closed

[2019-12-24 16:43] efiop commented on #2988
Closing as a duplicate of https://github.com/iterative/dvc/issues/2339

[2019-12-24 16:46] efiop commented on #2988
Though, this ticket is about the action, so keeping it opened for now.

[2019-12-24 16:46] #2339 closed

[2019-12-24 16:52] jorgeorpinel commented on #770
@nik123 If the directory was `dvc add`ed as a whole, currently DVC doesn't examine what's inside so you only get those general stats. We are working on providing this kind of granularity for all of our commands though 🙂  Please see Dmitry's https://github.com/iterative/dvc/issues/2982#issuecomment-568715481 like he mentioned.

[2019-12-24 16:58] jorgeorpinel commented on #2982
How about just using the first 7 digits, similar t a short SHA?

`md5 5f73f210b6202aa07279cdff6776b64f b4301ef665d0343e028fcd5821654edc`

or the rel. path in cache

`path 5f/73f210b6202aa07279cdff6776b64f b4/301ef665d0343e028fcd5821654edc`
?

[2019-12-24 17:01] efiop commented on #2959
Need to research how git does it, maybe it has some caching mechanism inside. It would be nice to do a similar thing to make `dvc status` instant even for imported files.

[2019-12-24 20:13] jorgeorpinel commented on #2982
or nothing (unless a special flag is used), like in the latest example:

Other questions about ^ that example:

- Should there be new lines between New, Modified, and Removed in directories?
- Should there be a `--recursive` option with default value of 1 to avoid crazy long diffs?

[2019-12-24 20:37] jorgeorpinel commented on #2982
Updated questions and example output:

- Should there be new lines between New, Modified, and Removed inside directories (indented levels) or vice versa, no new lines in he root level? For consistency
- Should there be a `--recursive`/`-R` option with default value of 1 to avoid crazy long diffs? In that case only "files untouched, modified, added, deleted" would be printed for dirs in the l ast l

[2019-12-25 04:47] nik123 commented on #770
@nik123 , @dmpetrov - thank you for your response! The issue #2982 is exactly what I need

[2019-12-25 09:36] dmpetrov commented on #2982
@jorgeorpinel thank you for the questions - all are great points!

Well... possibly. But instead, I'd remove all the new lines for consistency. See `git status` might be an example.

`-R 1` does not look natural. It would be great to see examples from other diff-like commands.

Thank you for bringing this. The problem that I see now - all these spaces as prefixes won't look good at 3rd+ level. We

[2019-12-25 10:01] michaelitvin opened #3005 "DVC+Google Cloud: Could not automatically determine credentials (GOOGLE_APPLICATION_CREDENTIALS not set)"
Trying to run `dvc pull` with a Google Cloud remote, got this error message:
[code]

`gsutil ls gs://my_bucket` worked fine.

Running `gcloud auth login` didn't help, but `gcloud beta auth application-default login` solved the problem.

[code]

DVC was installed using `sudo pip install dvc[all]`.

[2019-12-25 10:03] efiop commented on #3005
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/659335075422535691

Need to take a look at gsutil, for some reason it doesn't require `gcloud beta auth application-default login` to work. Ideally we should behave the same.

[2019-12-25 14:34] efiop commented on #2977
@chatcannon Sorry for the delay! The first two ideas are pretty hacky, the third one would ideally be the way to go. Unless there is a good reason to go with the hacks, of course 🙂

[2019-12-25 15:11] Suor commented on #2977
@chatcannon I would say we can integrate this into existing code path. Otherwise will need to duplicate lots of things. Just don't create a `Repo` if there is no `.dvc` dir in there.

[2019-12-25 16:01] efiop commented on #2960
Sure:
[code]

Maybe I don't quite understand how you propose to "modify git history". The workarounds I've provided initially update the branches/tags that are used or propose to use some type of proxy to route your `pull`s. Currently I can't think of any other way to achieve this.

[2019-12-25 20:50] shcheklein commented on #2960
How about we always rely on the latest commit in a branch to determine the actual remote? No matter what is committed in the history.

[2019-12-26 06:06] Suor opened #3007 "dvc: dvc move doesn't update deps"
Situation:

[code]

The last command will:
- rename `foo` to `proper_name`
- rename `foo.dvc` to `proper_name.dvc`
- replace `foo` with `proper_name` in `.gitignore`

However, it won't update dep path in `foo_refined.dvc`

[2019-12-26 06:12] Suor opened #3008 "UI: output glitches"
- [x] `dvc version` has an empty line in the end if psutil is not installed (fixed in #3006)
- [ ] `dvc init` doesn't have a message about something is done,
       there is an empty line an then "You can now commit the changes to git"
- [ ] analytics prints errors after dvc exit if there is a network issue
- [ ] `dvc version`

    ... can create ...
- [ ] `dvc add` pbar is named "Add", we do big

[2019-12-26 10:15] DavidGOrtega commented on #2995
Are you guys contemplating  in the specs every stage of the pipeline?
Something like this:

[code]

[2019-12-26 14:46] verasativa commented on #1923
+1 on the annoyed crew here, I'm looking forward for @casperdcl PR 🙄

[2019-12-26 21:14] shcheklein commented on #3007
`dvc move` handles only `dvc add`-ed file - see https://dvc.org/doc/command-reference/move . Also, I believe this a duplicate of https://github.com/iterative/dvc/issues/1489 . Also, see this https://github.com/iterative/dvc/issues/2516 and related tickets.

Bottom line - it's not that easy to fix `move`.

[2019-12-26 22:00] #3007 closed

[2019-12-26 22:07] efiop commented on #2960
@shcheklein sounds fragile and non-obvious. Plus it again won't work until the user `dvc update`s or something, to update the git repo cache. You might also want to move to another remote, while dropping the old one, which would also break this.

[2019-12-27 04:19] vincilab opened #3009 "unnecessary recalc of hashes on first checkout of a clone"
If you have a project setup to use symlinks onto a NAS:

[code]

If you clone that repo and use `dvc checkout`, it will correctly symlink to the files on the NAS, but it will also recalculate md5 hashes for all the dvc-managed files unnecessarily. This can take a really long time if you have a really large dataset, and makes it impractical to use widely on machines that need access to the files qu

[2019-12-27 08:32] Suor commented on #1489
We can at least say to a user: "The following stages depend on 'foo', you need to update them manually: ...".

[2019-12-27 08:39] efiop commented on #3009
Hi @vincilab !

Thanks for the feedback! I'll close this one in favor of https://github.com/iterative/dvc/issues/2676 , which also contains a description of how to implement that.

[2019-12-27 08:39] #3009 closed

[2019-12-27 09:19] jorgeorpinel commented on #2982
My example was
[code]
But you also said

Which makes sense, so not sure we want to provide this after all.

`git diff` for example can print very, very long diffs when there's lots of changed files, and it does it without indentation like you suggest (with absolute paths). **No recursion/level option is available.** (It does have some other options to make the output smaller like `--minimal` and `

[2019-12-27 13:51] casperdcl commented on #1923
hah me too :D

[2019-12-27 14:51] pared opened #3011 "Move get_mtime_and_size to tree"
After fixing #2914, there will be no use case of `get_mtime_and_size` without a `*Tree` object.
Need to move `get_mtime_and_size` method to be tree function. Probably it will need to be `CleanTree`(we need to use `.dvcignore` during metadata gathering) though, there should probably be the mechanism of checking that we are trying to obtain the metadata from WorkingTree because this method does not

[2019-12-27 15:38] mroutis commented on #2447
Adding to @efiop 's comment, here's an example of a script with such behavior:

[code]

You can then do `dvc run example.sh`

[2019-12-27 16:07] elegz commented on #755
Sometimes I was able to run more than 2 commands but not any desirable number. Seems I've found a workaround. I inserted an increasing delay before each dvc command execution. No problem so far.

[2019-12-27 16:32] efiop commented on #755
@elegz The reason is that we don't release the locks right away, and then we take them back after the command is done running. We are discussing making dvc commands wait in those cases, instead of erroring out. As described in my commend above.

[2019-12-27 16:49] Suor commented on #2896
Free hunting for those who finished their PRs :monkey::gun:

[2019-12-27 16:58] Suor commented on #2386
Just discovered that `--all-branches` and friends are noop for `dvc status` when neither `cloud` nor `remote` option is specified. So:
- this is only about `metrics show`, other commands don't care
- should fail or show a warning on a noop option use.

[2019-12-27 17:15] efiop commented on #2386
@Suor Indeed, it only affects status if `-c` is also specified. So need a group of mutually required (or whatever it is called) flags there.

[2019-12-27 22:57] mastaer commented on #2392
i would love this feature :)

[2019-12-28 08:01] mastaer commented on #2058
Hey guys,
`dvc get` was exactly what I needed. Currently, I think that the idea of DVC is not to work with multiple git branches. So if you want, you can close this feature request.
you are great

[2019-12-28 08:25] sbaktha commented on #1582
Hi, is there any other way to fix this? I have ros-melodic and removing enum is causing ros to be uninstalled

[2019-12-28 13:18] mastaer commented on #2392
- The following line needs to be changed for this issue: https://github.com/iterative/dvc/blob/master/dvc/command/pipeline.py#L134
, right?
- And it will need to use one file of each pipeline, so something like:
[code]
, Right?

[2019-12-28 19:26] efiop commented on #1582
@sbaktha Unfortunately, there is no way to fix or mitigate that on our side. The issue is with `ros-melodic` package, because it is using `enum34`, which shouldn't be used in newer python versions. Please consider contacting `ros-melodic` maintainers/developers. You could probably workaround that by using a separate virtualenv for `ros-melodic`. You could also try using something like `pipenv` to

[2019-12-29 04:52] weekly-digest[bot] opened #3013 "Weekly Digest (22 December, 2019 - 29 December, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 18 issues were created.
Of these, 5 issues have been closed and 13 issues are still open.
## OPEN ISSUES
:green_heart: #3012 [dvc: make graph consist of stages not their paths](https://github.com/iterative/dvc/pull/3012), by [Suor](https://github.com/Suor)
:green_heart: #3011 [Move get_

[2019-12-29 13:13] efiop commented on #2442
Will be fixed by #1818

[2019-12-29 13:13] #2442 closed

[2019-12-29 13:32] #3013 closed

[2019-12-29 16:18] efiop commented on #2896
Migrating tests/func/test_get.py

[2019-12-29 22:26] efiop commented on #2392
@mastaer Yes, that line is the cause. But the solution is a bit deeper, and probably would look like making `_show` show all of those stages when given `None` as a target. We would also probably need to separate those pipelines with some divider, so it would make more sense. And if we are adopting such behavior for `pipeline show`, we'll probably need to do the same for `pipeline show --ascii` and

[2019-12-29 23:30] efiop commented on #2058
@mastaer Thanks for the feedback! Closing for now.

[2019-12-29 23:30] #2058 closed

[2019-12-30 00:57] antonkulaga opened #3015 "add support of team drives for GDrive remote"
Google TeamDrives are common for sharing data in academia and education as they provide unlimited storage for free. Right now dvc supports only personal googledrive and it is not clear how to configure a remote to a folder inside of the teamdrive to which you have write access to.

I believe that teamdrive support will be very valuable for dvc (at least we use team drives a lot in our lab). Teamdr

[2019-12-30 00:58] antonkulaga commented on #2865
One more GDrive related issue that can be added to the list https://github.com/iterative/dvc/issues/3015

[2019-12-30 00:59] efiop commented on #3015
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/661010338879111179

[2019-12-30 07:21] Suor commented on #2967
Resume: going for less magic, a.k.a. option 2.

[2019-12-30 10:26] FredericoCoelhoNunes commented on #2990
Sorry my bad, I wasn't clear enough. The workaround was specific to my use case in particular, so not relevant

[2019-12-30 11:58] casperdcl commented on #1818
Eek `python_requires` is the most important version-related keyword. Really bad that it wasn't included all this time. Definitely need at least one release explicitly allowing py>=3,<=3.4 and py<3 otherwise things could break in future. Looks like that's happened already though.

[2019-12-30 13:18] elegz commented on #755
Yes, that would be great. This scenario is very relevant to my team. Sometimes we run tens of experiments. In the meantime, everyone can use the solution I proposed above.

[2019-12-30 14:30] pared commented on #2896
Fixing tests/func/test_api.py

[2019-12-30 15:34] efiop commented on #1818
@casperdcl Last release was 0.78.1 and it has py2 support. We'll limit to >py3.4 in the next one. Plus would be probably nice to put some kind of sanity check for that in CLI and when importing `dvc`

[2019-12-30 16:31] #2914 closed

[2019-12-30 16:59] pared commented on #2995
@dmpetrov

For starters, I would not support them, but I think at some point we could add functionality allowing the user to define how to calculate the difference between particular metrics, by executing some custom-defined method. That could resemble how we are dealing with `summon` right now.
It sounds kind of complicated as for now.

Question from me:
Do we want to support diff only for 2 `rev

[2019-12-30 19:39] mroutis commented on #769
According to the bug report, looks like the issue happens only on `Python 3.3, Python 3.4`.
I can replicate it on Python 3.7, however, it makes me wonder if we are doing something weird then.

[2019-12-30 19:40] shcheklein commented on #769
@mroutis reopen the issue?

[2019-12-30 19:43] mroutis commented on #769
Ohh, sorry for the bad wording, @shcheklein . The workaround @efiop included in the code a year ago still works.
I can replicate it after removing his patch, however, Python 3.7 is not listed on the bug report.

[2019-12-30 19:58] efiop commented on #2946
To fix it, we need to make `gc` https://github.com/iterative/dvc/blob/0.78.1/dvc/remote/base.py#L694 do check if it is a dir checksum (by .dir suffix, see helpers around there) and then also remove `.unpacked` dir. Important to note that `unpacked` optimization is only valid for local path_infos, so could consider checking that too.

[2019-12-31 01:38] mroutis commented on #1818
It is happening!

![](https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fblog.chron.com%2Ftubular%2Ffiles%2F2015%2F11%2Fcharlie-brown-christmas-dancing.gif&f=1&nofb=1)

[2019-12-31 03:04] mroutis commented on #2800
@Abrosimov-a-a , why is `debian/compat` file needed? it is just a `10`

[2020-01-01 04:08] Suor commented on #2473
@pared ideally we won't have `--jobs` option at all. We consume whatever resources we can or use an aggressive default and then adjust on errors. We might provide some hints if we can guess that something might be improved by user, e.g. raising ulimit, but will never break because of the limits.

A good example is dynamic chunk size in `dvc.remote.gs`:
- user doesn't need to configure it
- we star

[2020-01-01 04:37] mroutis commented on #1818
yay or nay for _relative imports_?

[2020-01-01 05:34] mroutis commented on #2137
@efiop , @skshetry is this done?

[2020-01-01 15:22] efiop commented on #2137
@mroutis Not yet, as you can see there are still things like `makedirs` in `__init__.py`

[2020-01-01 18:41] mroutis opened #3033 "support python 3.8"
It is officially released, but we are waiting for [pyarrow](https://pypi.org/project/pyarrow/#files) to release their wheels ([issue](https://issues.apache.org/jira/projects/ARROW/issues/ARROW-6955?filter=allopenissues)).

There's still some other projects that are not supporting Python 3.8 -- https://pyreadiness.org/3.8/

[2020-01-02 00:14] #2386 closed

[2020-01-02 11:52] benjaminal commented on #2985
Claro como funciona

[2020-01-02 14:23] efiop commented on #3033
Related https://github.com/iterative/dvc/pull/2912

[2020-01-02 16:48] dmpetrov commented on #2995
👍 I have the same thoughts - we need a "custom" metrics file to support multiple formats (our basic json + csv are not enough). Probably, different types of metrics can be represented as separate summoning-objects (not necessary metrics inside summoning object).

Metrics are a bit more complicated than just numbers. There are numbers, numbers with сonfidence level, confusion matrixes and so one. I

[2020-01-02 16:53] mazzma12 opened #3038 "dvc pull pending forever on s3 remote"
**Please provide information about your setup**
* dvc version: 0.80.0
* installed with pip
* Ubuntu 18.04

I have an already existing repo with a remote config for an s3-like file system that used to work perfectly. However `dvc pull` is pending forever, here is the verbose snippet:

[code]

Do you have is PRAGMA and what could be wrong ? Thank you for your support.

Also here is my `.dvc/config`

[2020-01-02 19:30] DavidGOrtega commented on #2995
Do we want to support diff only for 2 revs ("old" and "new")? Or will we want to support revs ranges at some point (eg dvc metrics diff HEAD~10 for observing changes during last 10 iterations)? If so, the notion of "old", "new" and "diff" might have to be changed.

One of the best features would be observability. One of the best features of dvc is having all the metrics all together. I would vote

[2020-01-02 20:34] efiop commented on #3038
Hi @mazzma12 !

Could you please run `dvc pull -v` again and when it freezes, try CTRL + C and show us full log?

[2020-01-02 20:34] efiop commented on #3038
Also, could you please show us `dvc version` output?

[2020-01-02 21:23] mroutis commented on #2985
@benjaminal , I didn't get your comment, was it that _tab completion_ doesn't work for you? :upside_down_face:

[2020-01-03 04:58] jorgeorpinel commented on #2983
Not sure this is closed. Please see https://github.com/iterative/dvc/pull/3026#pullrequestreview-337949246

[2020-01-03 09:39] pared commented on #2995
@DavidGOrtega @dmpetrov Well, that seems like a conflict "behave as git" vs "this might be useful in ML use-case". I guess we can always think about implementing another new metrics command  (`--range` flag for `diff` could also be option, but I think it would not make too much sense, if we are going to stick to `old`, `new` notion for `diff)`

[2020-01-03 14:06] #2967 closed

[2020-01-03 14:44] pared commented on #2896
Migrating `tests/func/remote/test_local.py`

[2020-01-03 14:55] efiop commented on #2946
Here is a reproducer:
[code]

[2020-01-03 16:30] dmpetrov commented on #2995
@DavidGOrtega I'd appreciate if you could provide a use case (with a command example) when it will be helpful (and not easily replicable with multiple `dvc diff`)

[2020-01-03 16:45] sharidas commented on #2946
I am having a look into this issue.

[2020-01-03 17:18] dmpetrov commented on #2982
@jorgeorpinel I got your point and `-R` might be a good option. But I was asking about examples in some popular unix tools like `diff`, `ls`, `grep`, `git` or similar.

Do you have any examples like this? It's okay if not.

[2020-01-03 17:27] dmpetrov commented on #2960
@efiop The code you provided looks like another workaround, not a holistic solution for changing remotes "globally". The problem - if a user checks out an old revision (clones or imports `v2` tag for example) it will point to an outdated remote.

@shcheklein thank you! It is definitely a global solution that might work. There are some issues with this approach (thanks @efiop to pointing to this) b

[2020-01-03 17:32] dmpetrov commented on #3008
@Suor thank you! It is a good one.

It might be related to #2565, #2979

[2020-01-03 17:41] dmpetrov commented on #2959
@pared thank you for the repro script! It would be even more helpful to add important outputs into it (and probably some comments with problem/expected outputs) :)

[2020-01-03 17:53] jorgeorpinel commented on #2982
Ah no. I don't think `-R '-1'` exists anywhere haha. I guess it's a little strange. We could also just shift it up to 0 and make the default 1. Just some thoughts about the recursive option but these refinements are probably secondary to the main behavior and could have their own separate issue.

[2020-01-03 18:34] DavidGOrtega commented on #2995
@dmpetrov is your question is regarding my question

Im just only asking without any intention of going towards it, was only to have a better picture.

If your question  is why  "all together" observability would be one of the best features is to have a general overview of the experiment. Conceptually an experiment can have many permutations of data, parameters and even implementation but at the e

[2020-01-03 21:04] ghost opened #3050 "exceptions: general refactor"
**Improving exceptions** would bring a better experience to DVC users and developers:

  * Move exceptions to a single module (`dvc/exceptions.py`), there would be only one file to import.

  * Pass a message to exceptions, brings flexibility and reduces boilerplate code.

  * Have broader exceptions, might bring meaningful boundaries to error handling -- #2965

_Any comments or suggestions are mo

[2020-01-04 03:02] pared commented on #2959
@dmpetrov sorry for that. I provided some context, please check it out. :)

[2020-01-04 13:10] sharidas commented on #2946
Created PR: https://github.com/iterative/dvc/pull/3054

I have tested with the reproduce script suggested https://github.com/iterative/dvc/issues/2946#issuecomment-570594655.

[2020-01-04 18:30] ilgooz commented on #2849
@dmpetrov hey, what is the expected behavior after `dvc update --rev another-rev`, should it lock original import to `another-rev` or do not create side effects like that?

[2020-01-04 18:55] efiop commented on #2849
@ilgooz `dvc update` and `dvc update --rev latest_rev` should do the same, so yes, it should lock to `another-rev`, because that is how `dvc update` currently works too.

Do you mean that it is pulling the `rev` on each `update`? If so, it is how our current caching is implemented. There is no need to tackle that in this PR, feel free to create an issue for it though :slightly_smiling_face:

[2020-01-04 19:25] ilgooz commented on #2849
Thanks, I asked two different Qs and got my answer!

[2020-01-05 05:18] #2977 closed

[2020-01-05 06:40] casperdcl opened #3060 "UI progress"
- [ ] add progress to other uses of `stage.dump`
- [ ] profile `repo.check_modified_graph()`, `stage.save()`, `stage.dump()` etc to find out what other functions are slow, perhaps add progress for them too
  + md5sums only take about 10% of the total time. There must be other more time consuming functions
- [ ] make sure that we show HINT message to enable cache optimization properly when copy is

[2020-01-05 08:40] mroutis commented on #1818
what about using `ABCs`?

[2020-01-05 22:09] dmpetrov opened #3062 "summon api: caching during interactive sessions"
[code]

In Python session:
[code]

I fix the error in the repo without leaving the Python session and summon the object again:

[code]

The same error while the issue is fixed.

This issue affects one of the summon scenarios - using data objects from interactive IDEs such as Jupyther Notebooks and RStudio.

[2020-01-05 22:15] dmpetrov commented on #3062
FYI: If you try to reproduce - in `dmpetrov/dvc-pretrained-resnet` repo I merged the `test_summon`  branch to `master`.

[2020-01-06 02:57] #2983 closed

[2020-01-06 07:17] casperdcl commented on #1818
Are there py3-specific ABC features you refer to?

[2020-01-06 14:33] pared commented on #2896
Migrating `tests/unit/test_analytics.py`

[2020-01-06 14:54] pared commented on #2896
Migrating `tests/func/test_cache.py`

[2020-01-06 15:06] pared commented on #2896
Migrating `tests/func/test_dependency.py`

[2020-01-06 15:22] adrinjalali opened #3069 "Support other sha hash"

[2020-01-06 15:27] pared commented on #2896
migrating `unit/command/test_imp`, `unit/command/test_imp_url`, `unit/test_http`

[2020-01-06 15:42] pared commented on #2896
migrating `func/test_import_url`

[2020-01-06 16:07] pared commented on #2896
migrating `func/test_install`

[2020-01-06 18:48] efiop commented on #3069
Hi @adrinjalali ! In our case md5 is not used for cryptography, it is simply used for file hashing, where it is still suitable (at least I'm not aware of any issues with it in such scenarios), so it is safe to use. If you need to encrypt your data, you could do that pretty easily on the remote itself (e.g. `sse` option for s3 remote) or encrypt in your pipeline along the way and only track those e

[2020-01-06 19:05] #2946 closed

[2020-01-06 20:57] jorgeorpinel opened #3077 "get/import: help output should reflect non-DVC Git repo support"
After #2889 and  #3020, these comments can also obtain files that are tracked by Git but not DVC, however their help output looks:

[code]

I think all `url` and `path` descriptions need to be updated.

[2020-01-06 21:04] jorgeorpinel commented on #3077
- [ ] And update the cmd ref in the docs, of course 🙂

[2020-01-06 21:34] mroutis commented on #1818
No, @casperdcl; I thought that ABCs weren't implemented in Python 2.7, don't know why we are not using them for `Remote`s and `Output`s, then :thinking:

[2020-01-06 23:16] efiop commented on #1818
@mroutis Let's not do that within this sprint, but rather create a separate ticket for that for later. We'll keep in mind them next time we are going to create appropriate classes. Relative imports could be moved to a separate ticket as well, as it is a bit unrelated and we currently mismatch relative and abs imports all over the codebase :slightly_smiling_face:

[2020-01-07 03:52] casperdcl commented on #1818
I agree with @efiop - both features were supported in py2 (may have needed things like `__future__.absolute_import`) but not related to deprecation. I'm fine with removal of `__future__` (which has already happened) but as @efiop said would leave actually using relative imports everywhere for another issue.

[2020-01-07 04:36] mroutis commented on #1818
Great, @efiop , @casperdcl ; should check better next time, I thought they were not supported in Python 2.7, this is what I was asking :sweat_smile:

[2020-01-07 06:37] z0u commented on #2095
I'm after something similar. I need to train a model on sensitive data. I was intending to split the training into two phases:

 1. Dev: fast iteration on synthetic/scrubbed data. Training would be done on a developer's machine. The model could be served locally and used for contract tests.

 2. Prod: final model trained on real data. Training would happen in a secure environment.

There would be

[2020-01-07 07:49] dmpetrov opened #3079 "summon api: call python code from the user side"
In the current implementation, the calling python function has to be specified in the repo:

`dvcsummon.yaml`:
[code]

And the function has to be in the repo. Otherwise it does not work:
[code]

We need to have an ability for the user to call his own code and specify the function name on his own code. Like this:

[code]

Or like in the initial issue #2719 description:
[code]

- [ ] Define function

[2020-01-07 08:28] rxxg opened #3080 "Hardlinks not correctly detected on SMB network share (NTFS?)"
Using DVC version 0.80, with repo and cache both on the same network drive.
Windows setup.

I'm testing the `unprotect` command, but I assume other commands relying on the same check will also exhibit strange failures.

[code]
As you can see, I checked out my files from git at 14:57 today; dvc checkout created a protected link to the original 128Mb file created 10 days ago, rather than a copy (as

[2020-01-07 09:45] pared commented on #3011
Some context from #3018:

This is happening because during the execution of used_cache when pushing for all branches we need to iterate over branches, changing repo.tree to GitTree. The particular file that fails is a cache entry file for directory that we are trying to get checksum for from state. So, in fact, we are trying to get mtime_and_size for file, and not a directory. That is not critical

[2020-01-07 09:57] Suor commented on #3079
What's the point? Get the artifact, i.e. a file and then pass it to your function, no need for all these complications and inversion of control.

[2020-01-07 10:03] Suor commented on #3062
But you generally want caching during interactive sessions. I.e. you don't want to type in password each time. So we should somehow provide both.

[2020-01-07 11:58] pared commented on #2095
@z0u your use case could be fulfilled using `dvc import-url` command.
Such workflow could be described as follows:

1. Create dev_repo, use `dvc import-url` to obtain development data
2. Write training code, commit to your git repo when finished
3. [On prod env] clone repo, create branch for prod training
4. [On prod env] override data using `dvc import-url` again, this time import real data
5. [O

[2020-01-07 12:18] adrinjalali commented on #3069
I understand these hashes shouldn't be the only defense layer against a malicious player, but it is still a very useful thing. Imagine a malicious player who has write access to the storage (s3 bucket in this case). They can take a model file, modify it in a malicious way in a way the md5 is kept unchanged, and upload the new one. The rest of the pipeline now won't detect a change in the file, and

[2020-01-07 12:53] pared commented on #3080
@rxxg I am unabe to reproduce the issue,
can I ask you to run following scirpt?
[code]

[2020-01-07 13:22] pared commented on #3080
@rxxg Also, as a temporary workaround you can change cache type to copy (`dvc config cache.type copy`) and use `dvc checkout --relink big_file.dvc`.

[2020-01-07 13:33] rxxg commented on #3080
@pared Thanks for looking at this. Yes, the use of a network drive (repo and cache) is essential.

(I had been using copy cache but it is very slow for our use case since the copy that DVC does involves reading then writing to the network drive in 16k chunks.  Native Windows copy is of the order of 3 seconds for a 128Mb file, 30 seconds for shutil.copyfileobj.  There may be a separate bug report o

[2020-01-07 13:39] rxxg commented on #3080
For the record:

[code]

[2020-01-07 14:16] pared commented on #3080
@rxxg Ok, thank you very much, I am trying to reproduce it on my machine.

[2020-01-07 16:21] efiop commented on #3080
@rxxg Could you please install psutil with `pip install psutil` and then run `dvc version` again and show us the output?

Side note for us: need to improve the way `dvc version` tests for link types by doing additional check for the created links. E.g. create hardlink and then do a sanity check with `System.is_hardlink`.

[2020-01-07 16:24] casperdcl opened #7495 "install: reorder methods and add badges"
LATEST UPDATE: Scroll to https://github.com/iterative/dvc/issues/7495#issuecomment-1067480425.

Update options including order and badges.

- conda [![Conda-forge](https://anaconda.org/conda-forge/dvc/badges/version.svg)](https://anaconda.org/conda-forge/dvc) or [![Conda-forge](https://img.shields.io/conda/v/conda-forge/dvc.svg?label=conda-forge&logo=conda-forge)](https://anaconda.org/conda-forge/

[2020-01-07 18:37] efiop commented on #1861
Fixed by #2894

[2020-01-07 18:37] #1861 closed

[2020-01-07 18:52] efiop commented on #2768
@Abrosimov-a-a Are you still able to reproduce that issue? Should've been fixed by #2807 . Closing for now, please ping us if the issue still persists.

[2020-01-07 18:52] #2768 closed

[2020-01-07 18:54] efiop commented on #2738
@cokeSchlumpf How is it going? Were you able to find a workaround for your scenario?

[2020-01-07 18:57] efiop commented on #2671
Closing due to inactivity.

[2020-01-07 18:59] efiop commented on #2662
We haven't received any reports about this(it has been quite a few versions released since october), so we'll keep the error as is.

[2020-01-07 18:59] #2662 closed

[2020-01-07 19:42] JavierLuna commented on #3069
I agree with @adrinjalali, using MD5 to check for integrity is [far from ideal](https://www.mscs.dal.ca/~selinger/md5collision/).

As SHA-1 [is starting to show collisions](https://security.googleblog.com/2017/02/announcing-first-sha1-collision.html) as well, DVC could join `git` and [replace the hashing function to SHA-256](https://stackoverflow.com/questions/28159071/why-doesnt-git-use-more-mode

[2020-01-07 20:25] efiop commented on #3069
@adrinjalali @JavierLuna Thanks for the info, guys! We will support other hash functions eventually, it just wasn't the focus for us, but we will reconsider it. We've had an attempt from an outside contributor https://github.com/iterative/dvc/pull/1920 , but he wasn't able to finalise it :slightly_frowning_face:  If anyone is interested in contributing this feature(similar to #1920, where sha is a

[2020-01-07 21:29] JavierLuna commented on #3069
I'd like to help with both issues!
Maybe I'll try working on #1676 and set the default hashing function to `sha-256`?

[2020-01-07 22:08] efiop commented on #3069
@JavierLuna That would be great! :pray:

Let's start with the current one, similar to how #1920 does it. Custom hashes could be implemented later, esp since we don't really know what type of hash creator of #1676 wants.

Please don't set it as a default one, it should be configurable. Md5 should stay default for now. If the feature is implemented correctly, we will be able to switch to sha-256 lat

[2020-01-07 22:09] mroutis opened #3081 "pyarrow: bump version"
The current version is set to `pyarrow = 0.14.0`. There are libraries that needs `pyarrow >= 0.15`., like `Vaex`.

Let's see if we can bump it to `>= 0.15`.

[2020-01-07 22:30] mroutis commented on #3081
Wait, our current `pyarrow` version is `== 0.15.1

[2020-01-07 22:30] #3081 closed

[2020-01-07 22:34] efiop commented on #2325
Ok, guys, judgement day has come, we need to agree on further steps. So we already have `--all-commits`, which should become default behaviour. So we will need to think about other options. We could start by renaming `--all-tags`/`--all-branches` to `--keep-all-tags`/`--keep-all-branches` as a direct transition and then bother with the rest (e.g. selecting specific revisions/tags/branches). What d

[2020-01-08 03:56] efiop commented on #1957
Py2 is dead, so I guess we can close this, as utf-8 is used by-default everywhere?

[2020-01-08 04:06] mroutis commented on #1957
@efiop , let's close it :)

[2020-01-08 04:06] #1957 closed

[2020-01-08 05:20] jorgeorpinel commented on #2325
Iterating back on this once that is done sounds like a practical plan to me 👍

[2020-01-08 05:53] casperdcl commented on #2325
Should we also discuss antonyms `--keep-all-tags, -t` and `--no-keep-all-tags, -T`? Might be useful if these options are configurable defaults in dvc's system-wide config which may need selective switching off in individual commands.

[2020-01-08 06:37] efiop commented on #1556
Closing due to a lack of interest for this from users and becasue `dvc get` exists.

[2020-01-08 06:37] #1556 closed

[2020-01-08 10:00] pared commented on #3069
Also, we need to remember that changing default checksum will result in whole cache recalculation for users upgrading their DVC version, and this could bring a lot of issues. If having md5 is severe, the change of default checksum should probably be left for major version release.

[2020-01-08 10:10] pared commented on #2896
migrating `func/test_output.py`

[2020-01-08 10:12] pared commented on #2896
migrating `func/test_pipeline.py`

[2020-01-08 10:19] rxxg commented on #3080
Sure.
[code]

[2020-01-08 10:22] rxxg opened #3084 "perf: copy cache operations very slow on network drive"
Execute the following script on a Windows network drive
[code]
Digging into the problem a little bit it seems that the cache copy operations end up in `shutil.copyfileobj` which reads the file to be copied into memory in 16kb chunks before writing out again.  Unless the network is very local this is always going to be a performance killer.

The situation might be better with Python 3.8 (#3033), bu

[2020-01-08 10:25] pared commented on #2896
migrating `func/test_remote.py`

[2020-01-08 11:30] pared commented on #2896
migrating `func/test_repro.py`

[2020-01-08 12:03] JPFrancoia opened #3087 "import/get directory with git files and dvc outputs"
DVC version: 0.80.0
DVC installed with Brew, on Mac OS

I'm trying to import/fetch external data.
I just did a:

[code]

which gives me a `data` folder and a `data.dvc` files in my current folder. Now, I'd like to pull the files contained in the `data` folder. The files are stored in a S3 bucket.

[code]

But I immediately get this error:

[code]

Am I using the right workflow? How do I solve this

[2020-01-08 14:38] efiop commented on #3080
@rxxg I see that it is reporting ntfs, but you were saying you are on NFS. Was it a typo or am I missing something?

[2020-01-08 14:49] efiop commented on #3080
@rxxg Btw, is it your work machine or your personal one? We've seen something similar on NTFS in https://github.com/iterative/dvc/issues/2831 , but weren't able to find the cause for such a strange FS behavior at that time.

[2020-01-08 15:18] efiop commented on #3087
Hi @JPFrancoia !

Could you show log for `dvc pull -R data.dvc -v`, please? And `dvc version` log too, please.

[2020-01-08 15:27] rxxg commented on #3080
Sorry, typo 😳 Windows NTFS network share
It's my work machine, so I have zero control over the servers and even finding out info about the hardware/network protocol is hard work.
I had locking failures which came from the same cause (#2944) but things are fine since the change to the locking system.

[2020-01-08 16:22] efiop commented on #3080
@rxxg Thanks for clarifying! Makes more sense now. Btw, I suppose you don't have WSL enabled either, right? That would explain why `fsutil` doesn't work for you.

[2020-01-08 16:43] efiop commented on #3080
The issue might be caused by us using GetFileInformationByHandle, which could return incomplete data https://stackoverflow.com/questions/3523271/get-windows-hardlink-count-without-getfileinformationbyhandle. Looks like  FindFirstFileNameW and FindNextFileNameW are the alternatives. And ansible is actually using it as well https://github.com/ansible/ansible/blob/105f60cf480572fb5547794cda1f9a05559a

[2020-01-08 16:56] rxxg commented on #3080
fsutil does work as expected on my local drive.

[2020-01-08 17:06] efiop commented on #3080
So we need to make our `is_hardlink` https://github.com/iterative/dvc/blob/0.80.0/dvc/system.py#L235 use `FindFirstFileNameW` and `FindNextFileNameW` to count hardlinks instead of relying on `nNumberOfLinks`. And then give you the dev version to check if it works for you. 🙂

[2020-01-08 18:22] shcheklein opened #3089 "get: handle non-DVC repositories"
Even though #2977 solved this for `dvc import`, it looks like it is still not supported for `dvc get`. It might be a simple bug or code path is different. We need to fix and add tests for this.

**Version**:
[code]

**Reproduce:**

[code]

outputs:

`ERROR: failed to get 'test' from './git-repo' - URL './git-repo' is not a dvc repository.`

[2020-01-08 18:52] shcheklein commented on #2780
I think this requirement can be removed even for `cached` files if they exist in cache already? The case can be a shared cache (all repos use the same cache effectively and sometimes don't even use remote at all).

Double check the behavior with directories (when they only partially cached).

[2020-01-08 19:10] efiop commented on #3080
@rxxg Created a POC patch for it. Please run
[code]
to install it and then run
[code]
and share its output.

[2020-01-08 19:44] efiop commented on #3084
Hi @rxxg !

How did you reach the conclusion about blocksize in `shutil.copyfileobj`? Also, could you please elaborate on what will happen in 3.8 with it? Sorry, not aware of those upcoming changes 🙂

Also, it is important to note that dvc is not only copying the file, but also is computing an md5 for it to be able to facilitate it in its cache. Could you try running md5sum(not sure what is the al

[2020-01-08 21:21] jorgeorpinel opened #3092 "api: inline documentation (docstrings)"
I don't think we use docstrings much since the code is meant to be self-documenting for developers.

However, for `dvc.api` (currently a single file: https://github.com/iterative/dvc/blob/master/dvc/api.py) I think we should have significant code documentation (multi-line file and function [docstrings](https://www.python.org/dev/peps/pep-0257/#id17), other comments).

Let's find a good docstring f

[2020-01-08 21:53] efiop commented on #2325
@casperdcl It is a separate discussion. For now we just want to make iterations in the right direction. New options could be considered later.

[2020-01-08 22:37] efiop commented on #2831
Hi @luchoPipe87 !

Another user is having a similar strange hardlink behavior and we've created a patch that might solve it. If you have time, could you please run commands described in https://github.com/iterative/dvc/issues/3080#issuecomment-572213159 and show us the output of the last one, please?

Thanks!

[2020-01-09 05:27] jorgeorpinel commented on #3092
Some specific suggestions:

https://github.com/iterative/dvc/blob/277d28c6cb5b0b3c2bca90dae1c869322407c57b/dvc/api.py#L38-L39
[code]

https://github.com/iterative/dvc/blob/277d28c6cb5b0b3c2bca90dae1c869322407c57b/dvc/api.py#L47-L48
[code]

https://github.com/iterative/dvc/blob/277d28c6cb5b0b3c2bca90dae1c869322407c57b/dvc/api.py#L65-L67
Just end that sentence with period `.`

https://github.com/ite

[2020-01-09 08:26] luchoPipe87 commented on #2831
Hi!
Here the output of dvc version after installing dvc@3080:

WARNING: Unable to detect supported link types, as cache directory '.dvc\cache' doesn't exist. It is usually auto-created by commands such as `dvc add/fetch/pull/run/import`, but you could create it manually to enable this check.
DVC version: 0.80.0+7839cc
Python version: 3.7.4
Platform: Windows-10-10.0.17134-SP0
Binary: False
Package:

[2020-01-09 09:06] Suor commented on #3079
@dmpetrov you mentioned you have some use case during Retro. Can you post it here?

[2020-01-09 09:13] rxxg commented on #3084
Hi @efiop,
I just looked at the [3.7 source code for shutil.copyfile and copyfileobj](https://github.com/python/cpython/blob/3.7/Lib/shutil.py) - by default the chunks are 16*1024 bytes.
There were a number of patches in this area for 3.8, for example [issue 33671](https://bugs.python.org/issue33671), [issue 36103](https://bugs.python.org/issue36103) and [issue 36610](https://bugs.python.org/issue

[2020-01-09 09:52] JPFrancoia commented on #3087
Hi @efiop ,

Here is the log for the pull:

[code]

And for the dvc version:

[code]

But I also realized just now that my `data` folder in the original repo doesn't have a .dvc file, because I added the files contained in this folder with `dvc add -R data/` (I want a dvc file for each file in this folder, not just one dvc file for the folder). Does it matter? If recursively importing a repository

[2020-01-09 09:57] rxxg commented on #3084
Here are the detailed perf figures for my SSD and the network drive
[code]
So much for the local disk, let's try the network drive.

[code]
In both cases, DVC add is of the order of 3-5 times more expensive than native operations.  (And it's interesting to note how quickly the file is initially generated in both cases.)

[2020-01-09 10:15] rxxg commented on #3080
Bad news 😞
[code]

[2020-01-09 10:49] fabiosantoscode commented on #3089
Hello world! I am on this right now.

[2020-01-09 11:11] pared commented on #3087
Reproduction script:
[code]

Expected behavior:
We should either prevent user from importing directories containing `.dvc` files or do not create `.dvc` file for imported directory and allow `dvc pull -R` for imported dir. Now we end up with `data` dir that contains `.dvc` files and `data.dvc` - that should not happen.

[2020-01-09 11:21] pared commented on #3087
@JPFrancoia that definitely looks like bug on our side, I would recommend importing particular `.dvc` files one by one until we fix it. Would it be feasible for you?

[2020-01-09 11:34] pared commented on #2896
migrating `func/test_run.py`

[2020-01-09 13:36] JPFrancoia commented on #3087
yes it is. I can also create a .dvc file for the directory in the original repo, it doesn't matter too much. I was just wondering why the feature wouldn't work.

My preference would be this solution.

[2020-01-09 14:12] pared commented on #3087
Got it, I can totally understand why

[2020-01-09 14:15] pared commented on #3087
Side note: if we are to support this `import -R` we need to remember that `.gitignore` will need to be imported/created too, playing around with repro script shows that we might end up with data sources not ignored by git.

[2020-01-09 14:28] efiop commented on #3080
@rxxg Could you show `dvc version -v` (in that particular order), please?

[2020-01-09 14:44] rxxg commented on #3080
Oops, sorry.
[code]

[2020-01-09 15:14] efiop commented on #3080
Thanks @rxxg ! Interesting. Btw, are you aware of how the network share is setup? I'm not really a windows guy, and google didn't help much 🙁 Is there a central server that you are connected to? If that is so, my only explanation right now is that it is running something old which doesn't support `FileFirstFileName`.

Looks like we ran out of options here, fs is returning an incomplete data and al

[2020-01-09 15:21] efiop commented on #2831
@luchoPipe87 Could you please create `.dvc\cache` directory and run it again?

[2020-01-09 15:25] #2137 closed

[2020-01-09 16:19] luchoPipe87 commented on #2831
hi,
I have created the .dvc\cache manually.
Then i ran the dvc version, here the output:

$dvc version
ERROR: unexpected error

Having any troubles? Hit us up at https://dvc.org/support, we are always happy to help!

[2020-01-09 17:22] fabiosantoscode commented on #3089
I need some help choosing an implementation.

The only way to download something seems to be in the `dvc.remote.*` namespace. The problem with the remotes is that they always require a Repo instance to be passed in to be initialised.

I figure there's a few solutions here, and would greatly appreciate some input on which direction to take:

 * My preferred option: Remove the Repo dependency from t

[2020-01-09 17:29] fabiosantoscode commented on #3089
I just realised that I'm probably trying to fix too much. A closer look at #2977 reveals that it only fixes local repositories, which is probably an easier problem to fix for `get` here.

[2020-01-09 17:29] shcheklein commented on #3089
Hi @fabiosantoscode !

could you elaborate on this, please? As far as I understand in this ticket actual file comes not from the Repo, and not even from a remote. It comes from the cloned git repo.

Regarding the other options - the same, I'm a bit confused, probably because we are not on the same page on the terminology and/or logic behind get/import.

[2020-01-09 17:34] fabiosantoscode commented on #3089
Right. I probably jumped into looking at remotes because the get documentation states that it can download from any DVC-enabled git repository. My train of thought was to make it download from any git repository. Then I went into a tangent because I associated dvc.remote.* as the same concept as git remotes, which are git repositories. On a closer look they seem to be single files.

Got it, will u

[2020-01-09 17:59] pared commented on #2896
migrating `func/test_state.py`

[2020-01-09 18:33] efiop commented on #2831
@luchoPipe87 Thanks! Ok, so it looks like your case is indeed a bit different. Hardlinks are created, but there is no way for us to count them to verify it. Very interesting. Still not sure what we could do there to fix it, but at least it works for you now with flock() based locks. Btw, did you ask your sys admin about it by any chance? Also, how is your dvc experience so far? 🙂

[2020-01-10 00:23] efiop commented on #3087
@pared Ok, so from formal standpoint that `import` is correct, as there is a git directory `data` and we support those. And the formal bug here is that `dvc import` for git file/directory doesn't record `rev_lock`, which is a 100% bug, which happened because flow for git files doesn't record rev_lock like we do for cached files in `DependencyREPO.fetch()`. So to solve it we need to do https://gith

[2020-01-10 00:34] efiop commented on #3087
@pared Not sure I understand this one, could you elaborate, please?

[2020-01-10 04:34] #3000 closed

[2020-01-10 06:51] RomanVeretenov opened #3098 "HttpError 400 when pushing to Google Drive"
DVC version - 0.80.0, Intalled via pip
Ubuntu 18.04.2 LTS

I'm getting following error when pushing to google drive remote
`ERROR: unexpected error - <HttpError 400 when requesting https://www.googleapis.com/drive/v2/files returned "Invalid query">`

I have a repo with a lot of files (about several kk). My GDrive storage has unlimited space.

Pushing to "local remote" works fine. But after adding

[2020-01-10 07:42] pared commented on #3087
@efiop That was wrong on my side, described behaviour would be similar to `import-url` and is plainly wrong in context of `import`. The whole point of import is to keep note of `.dvc` files.

[2020-01-10 09:12] rxxg commented on #3080
I don't have many details about the network server, sorry.  Windows tells me that there is a cluster running NTFS + DFS, but I don't know what's on the other side.

My biggest concern at this point is that DVC is detecting that hardlinks are available (which they are, kind of) and trying to use them, but then failing to detect that the links have been correctly created.  So if there are no other o

[2020-01-10 13:37] pared commented on #2896
migrating `func/test_stage.py`

[2020-01-10 14:03] pared commented on #2896
migrating `func/test_update.py`

[2020-01-10 15:13] PavelKovalets opened #3102 "Easy way to update existing DVC-file for "run" stage"
I often need to update existing [dvc file](https://dvc.org/doc/user-guide/dvc-file-format) (say `train.dvc`) for `run` stage with some minor changes like slightly modifying the `cmd` section, or adding new `outs` or `deps`.

The way I do it now is to reverse-engineer the original `dvc run -d ... -o ... -f train.dvc <cmd>` command that was used to create this `train.dvc` file's content.

This is cu

[2020-01-10 16:49] sharidas commented on #2780
I am looking into this issue.

[2020-01-10 19:39] shcheklein commented on #3098
@MaxRis any ideas from the top of your head? At least, how should we debug this? Add more logging?

[2020-01-10 20:09] MaxRis commented on #3098
it's strange that url from HttpError doesn't contain any query params.

@RomanVeretenov could you please give an idea what URL format do you have in the config for remote gdrive?

For example, it should be like `gdrive://root/DVC`. Where `DVC` is the folder name in your GDrive's topmost "root" directory. It's better to pre-created `DVC` folder manually (there is known issue with race conditions wh

[2020-01-10 20:25] Persedes opened #3105 "dvc get can can delete the current directory"
First off, I saw it coming, had my stuff backed up etc, so no harm done.
I was trying to test out dvc get to pull models from a different project and the cache must not have been present in the remote:

`models/mlr/production` is defined as the output of a dvc file.

[code]

Once I saw the `File '.' won't be created.  file '.' is going to be removed. ` I knew what was going to happen, but was surp

[2020-01-10 21:47] shcheklein commented on #3098
Btw, @RomanVeretenov check this doc https://github.com/pared/dvc.org/edit/2473/public/static/docs/user-guide/troubleshooting.md?pr=%2Fiterative%2Fdvc.org%2Fpull%2F875 (not merged yet). I think it's better to increase `ulimit` than using `--jobs 8`. It would instead increase it significantly. It can speedup things a lot.

Also, could you confirm by chance if it always takes the same amount of time

[2020-01-10 21:51] shcheklein commented on #3102
@PavelKovalets unfortunately the easiest way to do this that comes to my head is to write a shell script that generates the pipeline/stage (use `--no-exec` for `dvc run`) and then run `dvc commit`. @iterative/engineering any other ideas?

[2020-01-10 22:21] jorgeorpinel commented on #3102
A

Editing the checksums manually is very error prone. If it's just changing the command, that should be doable manually (no cache corruption) from what I understand.

@PavelKovalets could you provide an actual example perhaps? The original run command, the resulting DVC-file, and what you want to change exactly.

💡 Maybe a DVC command to generate DVC checksums from arbitrary files could be useful

[2020-01-10 22:42] ankurrajdev opened #3107 "cannot rebase if a new file is created which is not present in .gitignore in the base branch"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Note: checking out '171d6c61b9a643be0d2d998f2d3b644c33bc4e4c'.
I created some new files namely cavchon.parquet and cavachon_result.csv.
I am getting the following error when I am trying to rebase it to the base branc

[2020-01-11 01:02] mroutis commented on #1818
The last thing to address is using `kwargs` only on `api.py` module.

This is how it looks like:
[code]

It makes the interface more explicit.
To make it work you only need to put an asterisk before the keyword arguments.

I can do it for `api.py` but not sure if make sense for other modules. I would leave it as a separate issue.

[2020-01-11 01:02] ghost opened #3108 "api: use only kwargs"
Details from: https://github.com/iterative/dvc/issues/1818#issuecomment-573262055

[code]

[2020-01-11 01:03] mroutis commented on #1818
Should we close this one or anyone has any other suggestion? @iterative/engineering

[2020-01-11 01:10] mroutis commented on #1818
Let's not leave this one open, we can handle any further suggestions on separate issues :)

[2020-01-11 01:10] #1818 closed

[2020-01-11 01:11] ghost opened #3109 "refactor: use relative Python imports instead of absolute ones"
Extracted from https://github.com/iterative/dvc/issues/1818#issuecomment-570020128

[2020-01-11 01:15] mroutis opened #3110 "refactor: use ABC's for `Remote` base class instead of a plain object"
This would make the interface more explicit.

[2020-01-11 03:49] efiop commented on #3105
Hi @Persedes !

Wow, that is awful. Investigating right now. Thank you for reporting it! 🙏

[2020-01-11 04:08] efiop commented on #3105
Indeed, the issue is caused by dvc being confused by the trailing `/` in the `models/mlr/production/`. A workaround for now is to not include the trailing slash. Working on a fix...

[2020-01-11 04:24] efiop commented on #3107
Hi @ankurrajdev !

Could you provide `dvc version` output, please?

Do you have our git hooks installed?

[2020-01-11 04:35] efiop commented on #3080
Yes, will update my PR to do preciselly that. Currently using simple asserts in it, but should actually rise a proper exception instead. Thanks for the reminder! 🙂

Have you tried installing our exe? Or do you have very limited rights on your machine?

[2020-01-11 05:05] #3077 closed

[2020-01-11 05:05] #3089 closed

[2020-01-11 09:55] rxxg commented on #3080
I'm working on a utility which combines git + DVC in one UI for our particular workflow, to be internally redistributed as one package.  My user base doesn't have admin rights on their machines.  (I'm assuming the dvc exe needs admin to set up symlinks?)

[2020-01-11 09:58] rxxg commented on #3080
I've edited the issue description, I'm not 100% convinced that there actually is an NTFS system on the other side of the network.  Windows seems to always report NTFS in the UI, even when there is something else (like an OSX share).

[2020-01-11 14:28] casperdcl commented on #3102
Definite +1 on checksum command.

[2020-01-11 15:32] efiop commented on #3102
Hi @PavelKovalets !

Just regular yaml. Maybe you could show the error you've been getting? There is a chance that it is a bit too strict and we could ease up on it. The hashes could be (re-)computed without running your command with `dvc commit`.

[2020-01-11 15:35] efiop commented on #3080
Yes, but I think there is a way to do that without those rights  https://www.google.com/search?q=windows+symlink+without+admin , but I haven't tried that myself 🙁 Or, well, you could ask your admin to enable those for your machines 🙂

[2020-01-11 15:39] sharidas commented on #2780
Below are the steps I tried:
- Created a local folder `mylocalchange` and `example-get-started`.
- Inside `mylocalchange`:
  - execute `git init; dvc init`
  - added folder `data2` ( didn't executed `dvc add dataset1` ) so its not in the cache.
- Now from the `example-get-started` folder where (`git init; dvc init` executed )
   - execute `dvc import ../mylocalchange dataset1`
   - error logged in

[2020-01-11 18:17] shcheklein commented on #2780
@sharidas could you try when the external repo is cloned from the remote URL, not a local one?

[2020-01-11 21:39] efiop commented on #2780
@sharidas Here is a script that illustrates the issue:
[code]

Note that I'm using my git repo instead of a temporary local one. The reason for that is that we have an optimization in our code, that sets .dvc/cache of a repository we are getting/importing from if that repository is a local one: https://github.com/iterative/dvc/blob/0.80.0/dvc/external_repo.py#L71 . So we need to either disable tha

[2020-01-11 22:56] jorgeorpinel opened #3111 "dvc.api: doesn't work with repo with SSH URL"
[code]
This script
[code]
Throws
[code]

It looks like it's trying to use my cwd `.` as the repo (and I'm not working from a DVC repo).

[2020-01-11 22:57] jorgeorpinel commented on #3111
p.s. If I try the HTTP URL it throws a different error: That it can't find the repo.

[2020-01-11 22:59] mroutis commented on #3111
Caused by `urlparse` not being able to understand the `git` URL

https://github.com/iterative/dvc/blob/8787ac03808fcf38dcac01f7a57f82f216b28e12/dvc/api.py#L64-L71

An ugly patch would be to do:

[code]

[2020-01-11 23:00] mroutis commented on #3111
Need to research the correct way to parse those Git URLs.

[2020-01-11 23:04] mroutis commented on #3111
https://github.com/coala/git-url-parse

looks good :ok_hand:

[2020-01-12 02:52] #3015 closed

[2020-01-12 03:21] efiop commented on #2896
Migrating tests/func/test_get_url.py

[2020-01-12 03:36] efiop commented on #2896
Migrating tests/func/test_scm.py

[2020-01-12 04:06] efiop commented on #2896
migrating tests/func/test_init.py

[2020-01-12 04:06] efiop commented on #2896
Migrating tests/func/test_external_repo.py

[2020-01-12 04:16] efiop commented on #2896
Created PRs for the rest of the func tests. I think that is it with func tests. Now need to convert unit tests.

[2020-01-12 04:52] weekly-digest[bot] opened #3119 "Weekly Digest (5 January, 2020 - 12 January, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 56 issues were created.
Of these, 37 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #3111 [api: open doesn't work with private GH repo (SSH URL)](https://github.com/iterative/dvc/issues/3111), by [jorgeorpinel](https://github.com/jorgeorpinel)
:green_

[2020-01-13 01:09] jorgeorpinel opened #3121 "push: improve 'no remote specified hint"
[code]
- ✅  `config file error: no remote specified`: OK, this is the problem.
- ❌  `Setup default remote with... or use...`: Oops, actually I haven't even setup a remote. Maybe the hint should be different in this case?
- ❓  There 3 new lines between the hint and `Having any troubles? ...`

[2020-01-13 01:11] jorgeorpinel commented on #3121
May also affect other sync commands (`pull`, `fetch`).

[2020-01-13 01:16] jorgeorpinel opened #3122 "version: unexpected WARNING right after `dvc init`"
I begin the following from a regular directory (not a DVC repo):
[code]
The latter `dvc version `output has an unexpected `WARNING`. It's true though, `.dvc/cache` doesn't exist yet but this is normal, right? I just created the project 🙂

[2020-01-13 02:39] efiop commented on #3122
@jorgeorpinel Yep, that is expected. Closing in favor of https://github.com/iterative/dvc/issues/2788

[2020-01-13 02:39] #3122 closed

[2020-01-13 07:57] efiop commented on #3087
@pared Not sure I follow, why it shouldn't take place? In my opinion `dvc import url data` should create data.dvc, that would have git and dvc-outputs inside.

[2020-01-13 08:43] JIoJIaJIu commented on #2920
I'm starting to work on the issue

[2020-01-13 09:14] Suor commented on #2719
So `type: csv` summons are implemented in https://github.com/iterative/dvcx, it requires latest master dvc as of now. Things that are not in yet:

- [ ] travis/pypi setup for dvcx
- [ ] proper README
- [ ] docs
- [ ] extra CSV params like delimeter, column names and types, etc
- [ ] dynamic deps, i.e. date ranges (needs design)

[2020-01-13 09:37] Suor commented on #3111
We might want to always use `external_repo()` instead.

[2020-01-13 09:39] pared commented on #3087
@efiop The problem is that target directory conains `*.dvc` files inside, so I think that us creating `.dvc` file upon import for this dir is actually a bug.

[2020-01-13 09:44] Suor opened #3124 "import/get/api: external repo and cached_clone are problematic"
There are several issues with `external_repo()`, `cached_clone()` and code using them - get, import and api stuff:

- there are 3 parallel code paths doing very close things, we add the same features for them, fix the same bugs, essentially do triple work
- `external_repo()` and `cached_clone()` provide two entry points to conceptually the same thing, calling code need to make dup calls, i.e. `cac

[2020-01-13 10:00] Suor commented on #2325
There should be no way for people to specify what they want to keep, only what they want to remove. Otherwise it won't be safe.

The only exception is when everything is backed by remote and you only remove local cache if that is pushed already, then it makes sense to specify what to keep.

[2020-01-13 10:07] RomanVeretenov commented on #3098
gdrive://root/_dvc/myrepo

[2020-01-13 10:10] WGussev opened #3125 "dvc repro ignores script changes"
DVC version: 0.78.0/0.80.0
Platform: Ubuntu 19.04, DEB

I have a script (scripts/inference.py), which inputs/outputs  are tracked by dvc.
[code]
Howerver, after I change it and run dvc repro, it returns _Data and pipelines are up to date_.  Here is a debug snippet about the satge
[code]

[2020-01-13 10:10] RomanVeretenov commented on #3098
I don't remember if I tried to increase ulimit before limiting --jobs, but I will try to investigate it.

At first run, it has added some of the files to gdrive. And at second run and later, it takes almost the same amount of time. I can run the command with -v again, redirect output to a file and compare 2logs from 2 attempts.

Absolutely no chance.

[2020-01-13 10:17] efiop commented on #3125
Hi @WGussev !

You don't have `scripts/inference.py` in the list of dependencies, so dvc doesn't check it. You need to add it to the list and run `dvc repro`. E.g.
[code]

[2020-01-13 10:25] WGussev commented on #3125
😅
Oh, sorry, now I see. Though that an executed script is added as a dependency by default

[2020-01-13 10:25] #3125 closed

[2020-01-13 10:34] efiop commented on #2325
But that is dangerous because of deduplication, when you delete some cache file which might be used by someone else. It is still useful, but `safe` approach would probably involve ref counting in some way or another (e.g. from git or from some remote-based refs).

[2020-01-13 10:34] mazzma12 commented on #3038
Hi @efiop ,

Sorry for this late reply, it somehow get out of my mind.
The upside of this is that retrying 11 days made it work... that's the beauty. I have no explanation, perhaps I had run a system update and my laptop needed a restart.

Just for the record here is my `dvc version`

[code]

I close this for now. Thank you !

[2020-01-13 10:34] #3038 closed

[2020-01-13 10:47] efiop commented on #3038
@mazzma12 No worries :) Let us know if the issue will come back.

[2020-01-13 13:56] pared commented on #3105
Reproduction script:
[code]

Expected behavior:
- do not remove whole `repo` for starters
- we should probably rethink the output in this case, seems like the problem related to some recent UI issues #2839, #2691

[2020-01-13 15:42] ankurrajdev commented on #3107
dvc version is 0.80.0.

Yes I have installed the git hooks.

[2020-01-13 16:04] efiop opened #3127 "dvc: fix version generatio"
Looks like dynamic version got broken https://travis-ci.com/iterative/dvc/jobs/274986530 .

[2020-01-13 18:24] mroutis commented on #3127
Yep, looks broken.

[code]

Will take a look

[2020-01-13 18:48] shcheklein commented on #3098
It looks like it fails on collecting existing files on the remote. I think it's using some pagination mechanism and I wonder if the "cursor" just expires or something? @MaxRis any ideas? May be we can put more debug logs to catch the error?

[2020-01-13 18:52] jorgeorpinel commented on #2994
I think this already exists in `dvc.api.get_url` so may be a matter of wrapping it in a command 🙂 (and figuring the command arguments and their logic, etc.)

[2020-01-13 18:59] jorgeorpinel commented on #3122
Ah yes, didn't notice that one. Thanks @efiop !

[2020-01-13 18:59] jorgeorpinel commented on #2788
Hi! To reproduce this just create an empty DVC project first, then run `dvc version`. See https://github.com/iterative/dvc/issues/3122#issue-548659601

[2020-01-13 19:00] jorgeorpinel commented on #2788
* then run `dvc version` **inside**

[2020-01-13 19:11] mroutis commented on #3107
I'm not able to understand the problem :see_no_evil:

@efiop , @ankurrajdev , could you provide a reproduction script for it?

[2020-01-13 19:38] jorgeorpinel commented on #2719
Yes, def. docs! Please see iterative/dvc.org/pull/908 (although I'll probably open a separate issue for a more detailed `summon` ref), iterative/dvc/issues/3092, and new: iterative/dvcx/issues/1

[2020-01-13 20:28] Persedes commented on #3105
I have found another oddity, which might be related to the bug above. `dvc get` keeps nesting outputs.

The first `get` pulls a folder with two tsv files.
The second one creates a `prepared` folder inside that one. I would have expected `dvc get` to either do nothing or overwrite the existing tsv files when pulling from a different branch/ commit.

[code]

[2020-01-13 20:43] mroutis commented on #2788
do we need this warning at all? :thinking:

@ptrcklv , I'm with you on this one, I'd prefer `dvc version` to create the `.dvc/cache`

[2020-01-13 21:45] mroutis commented on #3105
@efiop , are you working on this one?

[2020-01-13 21:59] shcheklein commented on #2788
@mroutis please, consider also this comment from the `version.py`:

[code]

[2020-01-13 22:28] mroutis commented on #3105
Nesting only happens once, this is due to `resolve_output`. Can't tell what was the original intention behind those lines:

https://github.com/iterative/dvc/blob/fe635a5040c9d593cd1bdef3fa31f4df7af85259/dvc/utils/__init__.py#L336-L344

[2020-01-13 22:31] mroutis commented on #3105
@pared , I was trying to write a test based on your reproduction script. But didn't understand why you were `git push`ing. Could you explain it for me?

By the way, here's what I have so far:

[code]

[2020-01-13 23:15] mroutis commented on #2788
By the way, @jorgeorpinel , @shcheklein , is `cache.shared group` documented? Couldn't find it when searching for `cache.shared` on the docs.

[2020-01-13 23:34] mroutis opened #3131 "remote: allow modifying only existing entries"
**DVC version**: `0.81.0`

Using `dvc remote modify` on a non-existing entry creates an invalid remote configuration, since it creates a remote without a URL.

[code]

Ideally, raising an error should prevent the user from introducing an invalid remote entry.

[Discord discussion](https://discordapp.com/channels/485586884165107732/485596304961962003/666411899499315221)

[2020-01-14 00:19] shcheklein commented on #3131
@mroutis does it come from the Discord discussion? please include a link to it if it's possible.

[2020-01-14 00:22] shcheklein commented on #2788
@mroutis no, unfortunately not - https://github.com/iterative/dvc.org/issues/497

[2020-01-14 00:33] mroutis commented on #2788
@shcheklein , not sure how it will affect `cache.shared`.

Just to be clear, using `dvc version` outside a DVC repository should not create `.dvc/cache`.

[2020-01-14 00:37] shcheklein commented on #2788
Okay, I think it comes down to this difference:

[code]

vs

[code]

[2020-01-14 01:22] #3119 closed

[2020-01-14 05:08] mroutis commented on #2788
@shcheklein , and couldn't someone migrate the cache to a _shared_ one afterwards?

[2020-01-14 05:12] shcheklein commented on #2788
@mroutis probably they could. It was just best guess about the comment we have.

[2020-01-14 05:15] mroutis commented on #2788
@shcheklein, I see :slightly_smiling_face:

I would rethink having the warning in the first place, as I stated earlier.

[2020-01-14 06:24] shcheklein commented on #2316
@jorgeorpinel is it a duplicate?

[2020-01-14 07:52] efiop commented on #3092
@jorgeorpinel Why is the second comment marked as "resolved"?

[2020-01-14 08:14] Suor commented on #2325
If it is implemented the way it is now then it will be safe, no need for ref counting. The thing should just be translated from what to remove to what to keep inside `Repo.gc()`. For example:
[code]
translates into "keep everything referenced from workspace and all branch heads", i.e. remove things only referenced from anonymous commits and tags (specified by user explicitly) and not referenced at

[2020-01-14 08:16] efiop commented on #3108
CC @Suor

[2020-01-14 08:18] Suor commented on #3108
Will need to update docs examples.

[2020-01-14 08:20] #3127 closed

[2020-01-14 08:23] Suor commented on #2719
docs have question because, I see keeping everything in README as an advantage for smaller projects both for users and devs. Creating docs makes it slow, which is not good for a new evolving project. It takes weeks to merge something to docs now.

[2020-01-14 08:26] #3131 closed

[2020-01-14 08:33] shcheklein commented on #2719
@Suor README + good docstings + examples should be enough, I agree. We'll move stuff that needs to be on dvc.org (for SEO, for awareness of summon existence, etc) after that.

yep, we can try and address together on the next retro.

[2020-01-14 09:52] efiop commented on #2325
@Suor Ah, so you mean that we will still collect all references from the whole repo history, right? So that if some cache file is referenced in some tag but also referenced in a branch (that we don't want to delete) then it won't be removed from cache by gc, right?

[2020-01-14 09:56] efiop commented on #3107
@mroutis When rebasing git runs `git checkout`, which triggers `dvc checkout`, which is not able to checkout and looks like that is interrupting the rebase. Need to take a closer look.

[2020-01-14 10:05] efiop commented on #3107
@ankurrajdev For now a workaround would be to disable (remove) .git/hooks/post-checkout.py , it would prevent `dvc checkout` from being run automatically after `git checkout`, but you could still run `dvc checkout` by-hand.

[2020-01-14 10:27] efiop commented on #3015
@antonkulaga FYI: we've released 0.83.1 with this feature, but weren't able to include newer version of pydrive (because it is not released yet and pypi doesn't allow github deps 🙁 ) so you will have to manually `pip install git+https://github.com/gsuitedevs/PyDrive` after you install dvc. We are currently working on a more robust solution, so stay tuned! 🙂

[2020-01-14 12:37] pared commented on #2896
migrating `unit/test_local.py`

[2020-01-14 13:19] fabiosantoscode commented on #2959
I'm picking this one up!

[2020-01-14 14:19] skshetry opened #3144 "Document new dir_helpers fixtures"
We are converting pytest style tests to use `dir_helpers` fixtures (ref: #2896).
It'd be great to document a basic usage of such fixtures, so, that, it'd take less effort for new contributors to start writing tests.

We can document it in `conftest.py` or `dir_helpers.py` itself, and small generic documentation on Contributing guide (that is on, dvc.org?).

[2020-01-14 14:57] ankurrajdev commented on #3107
Thanks for the support.

[2020-01-14 15:28] tierney6 commented on #2865
Hi all, here is a screenshot of an issue I have with pushing to gdrive, and the subsequent creation of duplicate folders
![Screenshot from 2020-01-14 10-17-39](https://user-images.githubusercontent.com/52665405/72357158-80bd6680-36b8-11ea-8837-329569509194.png)

[2020-01-14 16:23] Suor commented on #2325
@efiop we still collect all we want to keep and remove everything outside those set. So we keep the implementation and only change the UI/API.

[2020-01-14 16:47] efiop commented on #3087
For the record: p0 part is :

[2020-01-14 18:27] #2878 closed

[2020-01-14 19:23] efiop commented on #2994
Change of plans. Talked with @dmpetrov @shcheklein , and they suggested that `--show-url`(or something similar) for `dvc get`  would be better than introducing a separate command. Let's consider that instead.

[2020-01-14 20:15] mroutis commented on #3107
@efiop , I think `git rebase` with `--no-verify` option should work.

[2020-01-14 20:54] efiop commented on #2676
For the record: we currently have some issues with gdrive and cache corruption, so we make gdrive remotes not trustworthy by default.

[2020-01-14 22:45] efiop commented on #3087
Submitted https://github.com/iterative/dvc/pull/3151 , but it is not solving the pull issue though. In repo_pair it expects url and rev and rev_lock to be present, which might not be the case (e.g. hand-edited dvc-file with intentionally removed rev_lock). Need to look into that.

[2020-01-14 23:12] efiop commented on #2325
@Suor Sorry, I don't quite get it. So say we run:
[code]
then it would work as:
1) collect cache used in all commits except mytag
2) delete everything that is used in mytag, except if it is in the list of used cache from 1)

right?

[2020-01-14 23:32] efiop commented on #2865
@tierney6 Thanks for reporting! @MaxRis is currently researching the issue. Stay tuned! 🙂

[2020-01-14 23:43] jorgeorpinel commented on #2316
Ah yeah! Mine is a duplicate technically, but since it has some more activity, closing this one in favor of #3092. Thanks Ivan!

[2020-01-14 23:43] #2316 closed

[2020-01-15 00:08] jorgeorpinel commented on #2719
Yeah "docs" doesn't have to mean the dvc.org website. 2 of the 3 issues are linked are about docstrings. READMEs are great too (and may need more love, do we ever review them?). But all these kinds of docs have different public and goals probably. Good topic for retro indeed.

I checked the last 10 normal PRs in dvc.org. Average merge time is around 24 hours.

[2020-01-15 00:09] jorgeorpinel commented on #2719
p.s. but yes, it can take much longer sometimes.

[2020-01-15 00:48] casperdcl opened #3152 "Snap stable channel not updating"
Edge (master) releases are deploying correctly, but stable (tagged) releases aren't

[2020-01-15 04:10] skshetry commented on #2994
@efiop, maybe I am missing something, but as per docs, `get` command downloads a file/directory from a DVC and Git repository. And, adding another responsibility to `get`, i.e. getting path/URL to the files in the cache, which in my view, is completely different from previous responsibility.

[2020-01-15 04:19] shcheklein commented on #2994
@skshetry good point! Let me clarify the way I see it. The reasons behind this decision to piggy-back on `dvc get` for this feature is to avoid introducing a new global command (`dvc resolve`) + it feels like a "dry-run" `dvc get` (show an URL it _would_ download, but do not actually download it), especially considering that they have a common interface - URL + path.

Btw, do you have a better pla

[2020-01-15 05:12] JIoJIaJIu opened #3153 "Rename config to settings in Remote classes"
Refactoring based on the [comment](https://github.com/iterative/dvc/pull/3133#issuecomment-574043655)

Differentiate **config** (instance of Config class) and **settings** (content of the config section)

[2020-01-15 05:34] gurobokum opened #3154 "config.get(section, opt) doesnt coerce value to appropriate type"
`config.get(section, opt)` returns value as str when expects int

### Steps for reproduce
1. Add number value into config section
[code]
[code]
2. Run cli
3. config.get returns str
[code]
**Please provide information about your setup**
[code]

[2020-01-15 06:31] hhoeflin commented on #2325
I have followed this thread for a long time by now, and I must admit that I am confused how this is supposed to work with cross-repo reference counting in the case of remote storage that is shared. Also it is hard to follow in this thread what is really intended by now. Would it be possible (e.g. by the person who intends to do the implementation) to outline the exact design in a wiki?

[2020-01-15 07:02] skshetry commented on #2994
@shcheklein, my argument is for [Unix philosophy](https://en.wikipedia.org/wiki/Unix_philosophy), and have a better interface and not become something similar to [`git checkout`](https://github.blog/2019-08-16-highlights-from-git-2-23/).

But, my opinion is based on the discussions here on the issue. I'll check the implementation to see what `get_url()` really does and will make up my mind.

[2020-01-15 07:28] shcheklein commented on #2994
💯, but we should be reasonable about adding new top level commands. Otherwise we will become like git from a different angle - https://git-man-page-generator.lokaltog.net/

yes, please take a look. Open to other options.

[2020-01-15 08:28] pared commented on #3105
@mroutis, `git push` is unnecessary, dunno how it got there, removing it still makes the bug reproducible.

[2020-01-15 08:42] skshetry commented on #3111
This issue also affects public GH repo accessed through SSH URL, and not just `dvc.api.open` but, all of the public APIs, i.e. `open`, `read`, `get_url`, and `summon`, etc. that uses `_make_repo()` (ref: https://github.com/iterative/dvc/issues/3111#issuecomment-573362145).

So, the following throws `NotDvcRepoError` as well:
[code]

[2020-01-15 08:46] skshetry commented on #3111
@jorgeorpinel, I renamed the title, to reflect that it affects all public apis for all SSH urls. :slightly_smiling_face:

[2020-01-15 09:32] skshetry opened #3155 "api: get_url() does not guarantee if the file exists"
Here's a small repro for the issue. I made two remotes, but, only pushed to the default one. `get_url()` returns the path for `local_remote2`, but, the file does not exist at the path as it's not pushed yet.
[code]

I am divided on what should actually happen. I mean, should DVC guarantee that the file exists or just show possible checksum path?

But, since this is a part of public API, looking fr

[2020-01-15 13:17] skshetry opened #3157 "test: GDrive tests are getting skipped."
As the title says, tests for GDrive are getting skipped on travis.

[2020-01-15 13:25] efiop commented on #2283
Wasn't able to implement it myself, as I am not a kerberos user and won't be able to properly test it. To implement it, one would need to do pretty much the same as in https://github.com/iterative/dvc/pull/2424/files , but now instead of setting gss_auth when using paramiko, one would need to set `kerb_ticket`(according to https://arrow.apache.org/docs/python/generated/pyarrow.hdfs.connect.html) i

[2020-01-15 13:35] efiop commented on #3155
@skshetry `get_url`'s implementation is pretty simple and it is meant just as a helper, that would save you hand-parsing remote url and adding `md5[0:2]/md5[2:]` to it. It was never meant to do anything more than that. If you need to check if the file exists, you could `api.open()` first, that would raise if cache doesn't exists, and then you could `get_url`.

[2020-01-15 15:38] pared opened #3159 "Wrong relative path upon remote add local"
dvc version: 0.81.3

[code]
shows that str url is ../../storage

[2020-01-15 16:12] Suor commented on #2325
@efiop we are discussing switching defaults/changing UI now. There is no way to remove (or keep) any particular tags at the moment, so let's not discuss that. There are 4 things, which can be referenced: working tree, all branch heads, all tags, all commits. We keep any union of things referenced from those. So if we don't say we want to remove all things referenced from anon commits then only unr

[2020-01-15 16:31] pared commented on #3159
Also, while we are at it, I think we should discuss whether storing the relative path to remote is a good thing.

[2020-01-15 16:36] efiop commented on #2647
Another user ran into this https://discordapp.com/channels/485586884165107732/485596304961962003/667036162472411144

[2020-01-15 17:11] shcheklein commented on #3157
@MaxRis JFYI

[2020-01-15 17:23] efiop commented on #3015
For the record: we've forked pydrive to have it actively maintained and will soon release new dvc version based on our fork https://github.com/iterative/dvc/pull/3161.

[2020-01-15 17:35] mroutis commented on #3105
@pared , great! Thanks for clearing it out)

[2020-01-15 18:02] shcheklein commented on #3159
@pared I think this is a documented and expected behavior - https://dvc.org/doc/command-reference/remote/add#description . I think the motivation was to make it similar to git - in config relative path are saved `relative to the config file location` (in case you decide to edit them manually you won't need to do a mental exercise).

good question. I would not limit user when they edit file manuall

[2020-01-15 18:06] shcheklein commented on #3159
Removing `bug` for now.

[2020-01-15 18:59] jorgeorpinel commented on #2994
Will `dvc import` also have the same flag? I also think these commands already do too many things tbh. And won't it be confusing that `dvc list` will show paths inside the repo `url` but when you actually run `dvc get/import --show-url` on them, the URL is to the remote instead? What about adding the option in the new `dvc list` command instead? See #2509

[2020-01-15 19:01] jorgeorpinel commented on #2994
This would give people the alternative to download their tools of choice e.g. `wget` or `aws s3 cp`

[2020-01-15 19:01] shcheklein commented on #2994
@jorgeorpinel `dvc list` is a good candidate! (we can consider migrating this option from get when it's ready).

[2020-01-15 19:14] jorgeorpinel commented on #2994
OK. Another Q: Will this new option also say whether the file actually exists in that URL? Related to #3155

[2020-01-15 19:19] jorgeorpinel commented on #3155
I agree "get URL" doesn't imply "check existence" but

Wouldn't calling `open` first defeat part of the purpose of `get_url`? I mean to avoid downloading the whole file.

I guess we can just make sure the documentation of `get_url` emphasizes there's no guarantee that the file exists at that location.

[2020-01-15 19:19] shcheklein commented on #2994
@jorgeorpinel no, that's out of scope for now, I think.

[2020-01-15 19:23] jorgeorpinel commented on #2994
Yeah makes sense. I'm going to add a note in the `get_url` docs to emphasize that the existence of the file is not implied by having the URL and that users should keep that in mind when they use the URL (wrap in try/catch statement). So the same note would apply to this option when we write its docs.

[2020-01-15 20:07] jorgeorpinel commented on #3155
i.e. 89734fd3

[2020-01-15 20:08] jorgeorpinel commented on #3155
I mean https://github.com/iterative/dvc.org/commit/89734fd326ad91fba1fc11673555c0b06cda7d85

[2020-01-15 21:08] MaxRis opened #3162 "gdrive: cached files corruption on pull"
Pulling from gdrive remote can cause cached files corruption.

[2020-01-15 21:32] #3162 closed

[2020-01-15 21:36] #2920 closed

[2020-01-15 22:41] mroutis commented on #3155
@jorgeorpinel , yep, however, I think @efiop was trying to say that you'll know if the file exists after you want to do something with it.

I think it shouldn't verify if the URL leads to a file, or if it is accessible. I understand that the name could be misleading, since you are _generating_ a URL instead of _get_ing it from somewhere.

How can you _get_ something that doesn't exist? :sweat_smil

[2020-01-15 22:47] efiop opened #3164 "improve message for rwlock error"
https://discordapp.com/channels/485586884165107732/563406153334128681/667133061380571146

Current message:
[code]

[2020-01-15 22:50] shcheklein commented on #3164
consider adding the second troubleshooting section now that we have a good mechanism for this :)

[2020-01-15 22:52] mroutis commented on #2647
@efiop , https://github.com/iterative/dvc/issues/2647#event-2951497114 the issue is still `p1`. Not sure if it is intended.

[2020-01-15 22:54] mroutis commented on #3164
It is not clear how to improve it :sweat_smile:
@efiop , any specific suggestions?

[2020-01-15 22:56] shcheklein commented on #3164
@mroutis I suppose in any way that would prevent us answering the same question on Discord again and again, right? :)

[2020-01-15 22:56] efiop commented on #3164
@mroutis yep, at least a hint how to delete it. Same as we do with `.dvc/lock`

[2020-01-16 00:29] efiop commented on #2325
@hhoeflin That would work the same as it was before: [through `--projects` ](https://dvc.org/doc/command-reference/gc) 🙂

For now we are discussing current steps that are: move to `--all-commits` by default and transform old options (--all-tags, --all-branches) into a new CLI. There will be next steps after that though, for sure. So stay tuned! 🙂

[2020-01-16 00:43] efiop commented on #2325
@Suor Ok, so

OLD: `dvc gc`
NEW: `dvc gc --remove=commits,tags,branches`

OLD: `dvc gc --all-commits`
NEW: `dvc gc`

OLD: `dvc gc --all-tags`
NEW: `dvc gc --remove=branches,commits`

OLD: `dvc gc --all-branches`
NEW: `dvc gc --remove=tags,commits`

? Did I get you right?

[2020-01-16 01:15] efiop commented on #3157
`should_test` is checking for `GDRIVE_USER_CREDENTIALS_DATA` but I don't see it in .travis.yml nor in travis env vars tab. But I do see OAUTH env vars in travis env tab. CC @MaxRis

[2020-01-16 01:35] mroutis commented on #3154
@JIoJIaJIu, this is because `configobject` is a wrapper of `configparser`.

`ConfigObject` has methods like `.as_int()` to work around this (unnecessary, in my opinion).
I would rethink the current `Config` implementation.

[2020-01-16 02:06] mroutis commented on #3144
@skshetry , isn't the module's docstring enough? I found it pretty useful)

[2020-01-16 02:14] efiop commented on #2647
@mroutis Yep, I don't think it is more important than the other p0s, this is a nasty ui issue though 🙁 . Added to the next sprint though, maybe we'll have time to look into it this sprint though.

[2020-01-16 02:17] efiop commented on #3155
Very good point by @mroutis ! get_url doesn't even imply that dvc has access to a remote, so it many times it won't even be able to check if the file exists anyway.

[2020-01-16 02:18] efiop commented on #3155
@skshetry Looks like we could close it now? Or is there anything left? 🙂

[2020-01-16 02:49] Suor commented on #2325
@efiop yep

[2020-01-16 03:41] #3155 closed

[2020-01-16 03:51] #3111 closed

[2020-01-16 05:35] mroutis commented on #3105
@pared , I still don't get it. Tests are passing on my side, I'm loosing it on this one :sweat_smile:

[2020-01-16 08:14] pared commented on #3159
@shcheklein ahh, right, had a little eclipse of my mind, but well, then shouldn't `dvc remote list` show path relative to `curdir` if its `relpath`? That's what caused me to create this issue.

As to mentioned discussions: they were mostly about using `relpath` in commands, and I have nothing against that. Having said so, I think that when writing to config we should transform it into full path. B

[2020-01-16 09:30] efiop commented on #3159
@pared That actually goes both ways. Abspath might not be compatible (e.g. I'm working in ~/git/dvc and you in `~/prjects/dvc`) and relpath might be, as it is following a convention (e.g. that your cache is one level up). Though I might be stretching it 🙂

That is a good point, I've never thought of that. Felt like it should show whatever is there, but it does make sense to show a relpath if there

[2020-01-16 10:03] pared opened #3167 "Import in conftest disables logging for a package logger"
As mentioned in comment under https://github.com/iterative/dvc/pull/3142:
if `import git` is included up to next line after `import pytest` in `conftest.py` The loggers originating in `git` seems to be disabled during tests.

[2020-01-16 11:17] pared commented on #3105
@mroutis even the one that I provided?

[2020-01-16 11:28] pared commented on #3159
@efiop changed description

[2020-01-16 14:08] fabiosantoscode commented on #2963
Hey there, I picked this one up!

I found a likely culprit - the existence check for an HTTP/S remote is not exactly thorough.