[2020-11-07 14:57] klakhdhar commented on #4857
Hi @skshetry,
When one adds a file to be tracked by issuing dvc add command. For instance, tracking a file named **data.csv**, DVC creates a **data.csv.dvc** file and also **.gitignore** file.
I was wondering if it's possible to make the created dvc files hidden. In the example that would mean having a dvc file called **.data.csv.dvc** please notice the **.** in front of the dvc file. This way we

[2020-11-07 15:05] skshetry commented on #4857
@klakhdhar, you can specify `-f` flags when using `dvc add`, and yes to also create hidden files. But, hiding it that way is not a good practice. Most of the users create a separate directory to keep those `.dvc` files and I'll recommend you the same, if it has gotten out of hands.

Let's say you have `dvcfiles` directory.
You can do `dvc add data.csv --file dvcfiles/data.csv.dvc`

But, I'd like t

[2020-11-07 15:09] klakhdhar commented on #4857
Great thanks. Having all the dvc files in one folder is more appropriate in this case.
Thanks, I'm closing this feature request then.
Regards,

[2020-11-07 15:09] #4857 closed

[2020-11-07 22:40] efiop commented on #4856
My logic here is that it might be very useful meta information to identify the things that your pipeline was run with (deps also have sizes/nfiles). I would keep it as is, as it is better to have it than not have it.

[2020-11-08 06:22] nik123 commented on #4557
@efiop , yes, I did. Running `dvc status -c --show-json` and parsing the output afterwards works just fine for me. I suppose issue might be closed.

[2020-11-08 06:50] nik123 commented on #4436
@efiop  `--exit-code` seems like a good choice.

However, I'm not sure there is a need for a such option. At least for use case I had in my mind: I wanted a GH workflow script which checks if all dvc files has been pushed into remote. Here is an example of my intentions:

[code]

Right now I'm able to solve my problem using `dvc status -c --show-json` and parsing json output. So there is no need f

[2020-11-08 11:34] #4557 closed

[2020-11-08 11:36] efiop commented on #4436
@nik123 `dvc status -c --filter="missing"` could be easily replaced with `dvc status -c | grep missing` :slightly_smiling_face:

Glad to hear that --show-json works for you too. Closing this for now, since you don't need it anymore and we didn't receive any requests for it yet. We'll reopen if there is more interest or someone wants to implement it.

As always, thanks a lot for the feedback! :pray

[2020-11-08 11:36] #4436 closed

[2020-11-08 12:06] ryzalk opened #4861 "dvc repro does not churn out outputs of previously executed run-caches in another folder/machine"
## Bug Report
This issue pertains to the usage of DVC's `run-cache`. As highlighted in [this discussion](https://discuss.dvc.org/t/dvc-1-0-release/412/5), `run-cache` is supposed to have a long memory of runs. Any changes to code and parameters for which its values have been used (executed) before, with or without commits, `dvc repro` will comb through the run caches and retrieves the output(s) th

[2020-11-09 10:43] efiop commented on #1676
@mbraakhekke Timestamps are a classic problem of reproducibility: e.g. https://wiki.debian.org/ReproducibleBuilds/Howto#Files_in_data.tar_contain_timestamps . Usually the way to solve it is to just strip the timestamps off your files, since if you can use a custom md5, likely you just don't care about those stamps at all. Your approach works too, but it is error-prone, as you are pretty much hacki

[2020-11-09 10:55] efiop commented on #4830
@pared Thanks for the research! :pray:

@pzhy13 Unfortunately we are not able to reproduce your problem. So far the clues show that you might want to just increase the RAM (or the swap/page file size) for your machine, as it is likely to be caused by the lack of it. We have another ticket about RAM optimization in https://github.com/iterative/dvc/issues/4139 , for which we plan on researching and

[2020-11-09 11:07] MetalBlueberry commented on #4657
Hello again!

We've developed a system to upload files to a dvc tracked folder without actually using dvc. It basically performs the steps described in [the previous comment](https://github.com/iterative/dvc/issues/4657#issuecomment-702560232).

seeing this post, looks like there are more people interested in having cron jobs to upload data to dvc tracked repositories from edge devices. is it wort

[2020-11-09 11:10] Suor opened #4863 "remote: exception ignored on python exit"
## Bug Report

When downloading cache from SSH remote via `Repo` API I see some exception ignored on python exit:
[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-11-09 11:17] skshetry commented on #4863
Related Issue: https://github.com/paramiko/paramiko/issues/1617

[2020-11-09 11:41] RafayAK commented on #4657
@MetalBlueberry that sounds great. I would love to have this feature, more than that I would even love to help implement this feature if help is required.

[2020-11-09 17:15] xkortex commented on #1676
Rephrasing the original problem statement a bit, here's what we are looking for:

Given a set of binary blobs x<sub>n</sub> ∈ X, x is a vector of bytes, and some transformation with an outcome F : x ↦ y (our "data science function"), what we want is a hash function H : x ↦ h<sub>x</sub> such that for all n, x, H(x) = h<sub>x</sub>, F(x<sub>n</sub>) = y. In other words, we want some H such that the

[2020-11-09 20:28] efiop commented on #4792
Looks like it is simply racing a bit. The container is not ready when this is called. Just need to add a flaky decorator.

[2020-11-10 01:34] shcheklein commented on #4657
@MetalBlueberry you got me intrigued :) Could you share some details please? Especially, regarding the `no python/git` dependency. Primarily my understanding is that at some point to make DVC-tracked data accessible we have to save the new checksum somewhere (usually Git via .dvc) file. Otherwise, even if we, let's say, push the new, modified `.dir`, it's not clear how to we read it later? how dow

[2020-11-10 02:05] shcheklein commented on #1676
@xkortex @mbraakhekke @efiop how about this one https://github.com/iterative/dvc/issues/3439 (and we have PR by @casperdcl that implements it) ? Especially the discussion with a specific proposal, second part of the ticket. It seems to me that that mechanism covers some problems discussed here. It might not cover the part that is related to replacing md5 with a better hash for the sake of performa

[2020-11-10 07:32] MetalBlueberry commented on #4657
These are the steps:

- calculate md5 of the upload
- upload it to the remote:
- get the md5.dir from the directory:
- append the file md5 to the list.
- upload the new md5.dir to the remote.

I'm planning to use the following packages

- "crypto/md5" for the checksum
- "https://github.com/google/go-cloud /blob" upload/download of blob files. handles different providers like DVC
- "https://github.

[2020-11-10 07:46] shcheklein commented on #4657
@MetalBlueberry got it, it makes sense. Clearly it won't be easy to make it part of DVC, but I think the whole community can benefit and it would be cool to see some parts of DVC written in Go.

[2020-11-10 09:43] omrihar commented on #4336
Hello,
is there any update regarding this issue? I'm also using databricks and would like to try using dvc together with it.

Thanks,
Omri

[2020-11-10 09:47] brnd42 opened #4868 "Turn pushing off for intermediate results"
My original request:
Is there a way to automatically never push certain intermediate results? For example if I had a script extract_features.py which outputs the features as hdf5 and than use those hdf5 files for train.py, I would like to never push those hdf5 files, but keep them in the local cache, since we don't want to backup files that can be reproduced exactly. But I also don't want to repro

[2020-11-10 10:27] skshetry commented on #4336
@omrihar, unfortunately, no one has worked on it yet. We are more than happy to accept the contribution for the feature.

[2020-11-10 10:30] skshetry commented on #4792
@efiop, better to wait for and timeout than adding flaky, as rerunning it still has chances of the container not being ready.

[2020-11-10 10:37] RafayAK commented on #4657
@MetalBlueberry very cool way of updating the repo. I like it. One question though, when you add a new piece of data into your DVC tracked directory, the hash of the new directory should change. How will you retrieve the old hash of the directory? I suppose calculating the hash without the new additions would do the trick, but then at some point wouldn't you also have to update the hash of the tra

[2020-11-10 10:43] karajan1001 commented on #4868
Share the same flag with #4581?

[2020-11-10 11:00] casperdcl commented on #1676
yes #4363 is still work in progress; will probably find time to continue in a few weeks unless someone want to take it over.

[2020-11-10 12:49] majidaldo commented on #4336
Besides the mapping, I don't know how this would work when using databricks notebooks; there is no git integration.

[2020-11-10 12:56] #4136 closed

[2020-11-10 13:10] ju0gri commented on #4792
I'll be looking into this issue.

[2020-11-10 13:41] ettadar opened #4870 "dvc repro: only download the necessary artefacts to re-run the pipeline"
Let's say there is a 3 stages workflow: A -> B -> C:
- A run `a.py` and produce `a.json`,
- B run `b.py` that takes `a.json` as input and produce `b.json`,
- C run `c.py` that takes `b.json` as input and produce `c.json`.

It would be very handy to have a flag in `dvc repro` to download only what is necessary to rerun the stages that changed. For example, when working on a fresh clone of the repo:

[2020-11-10 13:48] ettadar opened #4871 "dvc repro: make the --pull flag work with --downstream flag"
Currently the `--pull` flag have no impact when used together with the `--downstream` flag. When working in a new repo, one must pull manually all the `deps` of stage `A` (if there is too much data handled with dvc to run  `dvc pull`) before running `dvc repro --downstream A`. It would be great if `dvc repro --downstream --pull A` would automatically pull `A` deps.

Linked to #4870
Discord discuss

[2020-11-10 15:03] I159 commented on #4504
Hey there. I'm going to start it tonight.

[2020-11-10 15:19] ettadar commented on #4871
Thinking more about it it would be great if `--pull` would work with `-s|--single-item` too.

[2020-11-10 15:54] efiop commented on #4806
Another option here is to use spaces, but that doesn't work because we are using REMINDER for the command itself, IIRC. Spaces seem to be a more natural thing to use compared to commas. Commas with params for default params.yaml file could also be then replaced with spaces, but for custom params file we will likely still need to use commas. There has been a discussion about using explicit `--cmd`,

[2020-11-10 18:24] efiop commented on #4792
@skshetry Ideally we need some retrying logic in our trees, but that is a much bigger task. Just slapping a flaky decorator should do the trick for now.

[2020-11-10 20:00] Seanny123 opened #4874 "`dvc get . ` fails for specific file"
## Bug Report

When I run:
[code]
It crashes with the following stack-trace:
[code]

I don't think it's a cache problem, because my co-worker also get the same error on her machine and she has a very different cache state than I do.

My setup:
[code]

Her setup:
[code]

[2020-11-10 20:11] jorgeorpinel opened #4875 "list: -R fails"
## Bug Report

`dvc list -R` (recursive) fails.

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

[code]

[2020-11-11 01:36] victorskl opened #4876 "DVC Sync"
**Background:**
We used to do `aws s3 sync` for pulling reference data set. Now we are trying to use `dvc` and looking for similar `dvc sync` or equivalent behaviour.

**Issue:**
We run our jobs on AWS Batch deployment environment and, there were situation two job or two processes might happen to do `dvc pull` in the same checkout DVC project location, hence hitting [Unable to acquire lock](https:

[2020-11-11 02:51] shcheklein commented on #4657
@RafayAK yes! I think it's a good solution for merging append only dirs! It doesn't solve the problem of pulling the whole data though.

[2020-11-11 04:59] PuneethaPai commented on #4806
Agreed, in long run we encourage users to edit `dvc.yaml` and use this `dvc run` as handy shortcut, to create `dvc.yaml` in first place, etc.

As we won't be deprecating `dvc run` anytime soon, implementing this is a value add IMO. To bring homogeneity w.r.t other `dvc run` options, and accept list values: comma separation makes sense.

If we want to change everything to space separation, I feel i

[2020-11-11 09:22] eedokl opened #4878 "Managing External Data / Microsoft Azure Blob Storage"
Hi, I am currently evaluating DVC for usage in my project.
We are working with Microsoft Azure Storage Blob and I was successfully able to setup DVC to work with Azure when using it to push my data into it and pulling it from there.
Also a import-url like dvc import-url azure://playground/test21323_43.parquet works fine for me.

However, I also wanted to try the methods

dvc remote add azurecache

[2020-11-11 12:14] #4796 closed

[2020-11-11 13:24] pared commented on #4878
@eedokl thanks for reporting the issue! I am looking into it.

could you point us which documentation page has lacking `-n`? It's a leftover from the pre-1.0 version of DVC, that we must have omitted this one.

[2020-11-11 13:50] gillhofer commented on #4804
According to `/etc/fstab` it is a NFS mount.

`source     target       nfs    auto,nofail,noatime,nolock,intr,tcp,actimeo=1800 0 0`

[2020-11-11 13:59] karajan1001 commented on #4868
Two kinds of jobs had DVC done to the data,  one is backup and sharing (for security), another is local caching (for speed). We currently mixed them up?

[2020-11-11 14:10] pared commented on #4878
@eedokl
Regretfully we do not support external outputs for Azure Blob Storage. Seems like we have a mistake in our docs because we mention that we do support that. I will fix that.

[2020-11-11 14:32] charlesbaynham commented on #4868
#4581 introduces all the machinery required: the only thing missing is a flag for the user interface. That PR has already grown quite a lot from the initial scope however: maybe the best way is to wait until it's merged then add a flag in a subsequent, small PR.

[2020-11-11 16:39] pared commented on #4874
reproduction script:
[code]
Note 1: We definitely could handle this issue more gracefully. It seems to me that the origin of the problem is that we are not looking into cache, just to remote.

Note 2: If `data` is file and not dir, we also get very confusing (yet different) error, so when handling this issue:
- [ ] - fix when `data` is a directory
- [ ] - fix when `data` is file

@Seanny123 if you

[2020-11-11 18:10] ju0gri opened #4882 "Document new option to enable globbing for input target"
Add the new argument supported by  `dvc add` `--glob` to the documentation with usage examples.

Related to: #4816

[2020-11-11 18:31] #4792 closed

[2020-11-11 19:06] jorgeorpinel commented on #4854
OK. So mainly here the edge bug is more or less important to address first. I agree everything else is secondary but let's keep it here to follow up when the time comes, preferably before this is released to users, as that's the purpose of QA.

I don't understand how removing `in` in the foreach syntax relates to this idea. It's just a better (I think) syntax but nothing really changes?

I think p

[2020-11-11 20:21] eedokl commented on #4878
@pared
Thanks a lot for clarification and quick response.
I already thought so when seeing no file pointing to Azure in the respective file list.

[2020-11-12 00:42] efiop commented on #4876
Hi @victorskl !

Do I understand correctly that the only problem with `dvc get` is that it doesn't preserve cache between runs so it has to download stuff each time it runs even if cache for that data was downloaded before?

[2020-11-12 01:09] victorskl commented on #4876
Kind of yes. However, AFAIK, `dvc get` does not have two options, compare to `dvc pull`:
- yes, doesn't preserve/check cache download between two runs (always checkout new temp folder then download)
- no multi-threads / parallel download option (i.e. `-j` `--jobs`)

Missing `--jobs` option may be ok such that user shall invoke multiple `dvc get` processes to, say, if `dvc get` can handle diff chec

[2020-11-12 07:15] pmrowla opened #4883 "experiments: consider using hydra for CLI params syntax"
Follow up to #4780

python-benedict for parsing raw yaml syntax works for the moment, but as noted by @skshetry something like [hydra](https://hydra.cc/docs/next/advanced/override_grammar/basic/) would probably be more user-friendly

[2020-11-12 08:25] pmrowla commented on #4822
After investigation, the issue here is not because outputs are not removed and/or properly (re-)checked out. The problem occurs because checkpoint outs are still not handled as proper dependencies (since DVC doesn't support circular dependencies).

So after an initial checkpoints run, the user's workspace will end up with a (dirty) `dvc.lock` file containing something like
[code]
Where that hash i

[2020-11-12 08:30] jorgeorpinel commented on #4878
I guess we can move this to the docs repo?

[2020-11-12 09:19] jorgeorpinel commented on #4816
Sound slike at least this check box could be marked, per #4864?

[2020-11-12 09:23] #4532 closed

[2020-11-12 11:05] skshetry opened #4886 "api: `Repo.stage` for loading/dumping stages"
Right now, this _service_ was provided through `Dvcfile.stages` and `Dvcfile.stage`. The problem with the API is it requires us to create `Dvcfile` each time even if we don't need it.

We already have wrappers around it due to above reason:

https://github.com/iterative/dvc/blob/3daeeaffdb43989283719d9cd8a7a4825dda19d5/dvc/repo/__init__.py#L258
https://github.com/iterative/dvc/blob/3daeeaffdb43989

[2020-11-12 12:33] Nasreen23 opened #4887 "For Cross Account S3 buckets - DVC Add gives put object access denied exception even after providing ACL of bucket-owner-full-control."
## Bug Report

### Please provide information about your setup
Working with DVC remote s3.
The input file and cache location are on  AWS S3 bucket.

**Output of `dvc version`:**
1.9.1

[code]

**Additional Information (if any):**
Performing DVC add with an input file located on cross account s3 bucket and cache path is also being referred to the same bucket.
Using acl config of bucket-owner-full-c

[2020-11-12 12:41] pared commented on #4804
@gillhofer could you run
`sudo -H -u pipeline-user bash -c "touch file && python -c \"import os;os.chmod('file',0o444)\""` on mounted NFS?

[2020-11-12 13:00] #2992 closed

[2020-11-12 13:00] #4348 closed

[2020-11-12 13:04] pared commented on #4348
@aernesto the problem should be fixed in #4348

[2020-11-12 13:10] pared commented on #2992
@qiuwei This problem should be fixed in #4832

[2020-11-12 13:23] pared commented on #4887
@Nasreen23 are you able to execute some pure `s3` command?
Are you able to execute, for example, `aws s3 ls s3://test-bucket`?

[2020-11-12 15:46] PuneethaPai commented on #3766
@shcheklein can we elaborate on how the VS code plugin should look like. What features should it support while integrating with DVC. Some ideas I was getting are:
- Interactive Pipeline Visualization when you open dvc.yaml.
    - Not sure in what all way it needs to be interactive:
        - **Stage**: Edit stage commands, update dependencies, link stages
        - **Status**: Check dependencies s

[2020-11-12 16:31] efiop commented on #4876
@victorskl Thanks for clarifying! A few more questions to make sure I understand your use case:

You mean that the defaults it has don't suit you, right? By default, we use 4*NCPU jobs for s3 remotes. Is that too little?

Btw, do you want to download all the data used in the project (e.g. how `dvc pull` works without targets) or particular datasets?

[2020-11-12 17:01] efiop commented on #4887
@pared The thing here is that @Nasreen23 is using `dvc add s3://`, and `s3://` url in it is no way connected to the remote that he has defined above.

@Nasreen23 Could you elaborate on your scenario, please? `dvc add --external` is a very advanced feature that people often misuse.

[2020-11-12 18:04] shcheklein opened #4889 "Optimize import-url on directories, do not download existing files again"
The use case is described here:

https://discord.com/channels/485586884165107732/485596304961962003/773882224248225812
https://discord.com/channels/485586884165107732/485596304961962003/776205388654968892

----------------

I have a bucket with images that is being updated (new images, etc) regularly:

`gs://bucket/dataset/images`

I don't want to use `dvc add`, primarily because I have other proj

[2020-11-12 18:20] efiop commented on #4886
@skshetry Is it required for some other feature/usecase? Just wondering about the background.

[2020-11-12 18:21] efiop commented on #4816
@jorgeorpinel No, only `dvc add` supports it right now.

[2020-11-12 19:23] courentin commented on #3353
Hello, I encountered the same error just after freezing some stages.

Here is the lof of `dvc repro --dry`:
[code]

Unfreezing the stages makes the `repro` work again.

Here is what's in my `Pipfile.lock`:
[code]

Do you have any ideas?
Tell me if you need more info

[2020-11-12 19:30] efiop commented on #3353
Hi @courentin ! Looks unrelated to this ticket, but it is definitely a bug. Could you create a separate issue, please? We'll take a look ASAP.

[2020-11-12 19:45] efiop commented on #4856
Had a private discussion and decided to leave it.

[2020-11-12 19:45] #4856 closed

[2020-11-12 23:09] victorskl commented on #4876
Sorry for confusion. For this, I was referring to [`dvc get` command](https://dvc.org/doc/command-reference/get) that has no `--jobs` option. And, I am not sure whether `dvc get` download data in multi-threads. So far, I observe it is in single thread, yes?

We normally pull all reference data in, so yes, we download all the data at that point in time or a particular commit version. Our use case i

[2020-11-12 23:21] efiop commented on #4876
@victorskl `dvc get` does use multiple threads when `pull`ing the data internally. The number of those threads is the same as default --jobs in `dvc pull`.

Makes sense. I suppose you are also using some git files too (e.g. scripts/code) from that same git revision? If so, even more reason to stick with `dvc pull`. A simple workaround might be to make your workers create separate instances of git

[2020-11-12 23:52] joehoeller commented on #4849
I’ll give it a try and see and let you know. Thank you.

[2020-11-13 00:08] shcheklein commented on #3766
@PuneethaPai we've started building some parts of this. I can invite you to the document with the roadmap if you want to participate. But this is mostly JS, we can definitely use some help if you are open to do JS.

[2020-11-13 01:07] shcheklein commented on #4887
More context on this (I think), @Nasreen23 correct me if I put the wrong links:

https://discord.com/channels/485586884165107732/485596304961962003/774103813161353246
https://discord.com/channels/485586884165107732/485596304961962003/775708232156446730

@Nasreen23 I've started looking into this, but I don't have enough experience with S3 ACL to be honest. So it would take a while on my end.

[2020-11-13 01:51] reisingerf commented on #4876
@efiop thanks for the suggestion.

I can see how that would solve the lock conflicts on the repo level. However, would that not just push them to the cache level?

I imagine two processes started at the same time. They start a `dvc pull` in their respective repos, but since the cache is (initially) empty they would proceed to fill it, potentially running into the same contention pulling and writin

[2020-11-13 02:11] efiop commented on #4876
@reisingerf Very good question! The cache is designed to be filled by multiple processes at the same time. The way we do it is when downloading a file, we first download it to a temporary file right beside the original location (e.g. .dvc/cache/12/3456.tmp) and then atomically `rename` it into place. That being said, there is a potential for one process to discover that that particular file was al

[2020-11-13 03:40] PuneethaPai commented on #3766
Sure @shcheklein. I am rusty with JS, but would love to work on it. Pls add me to the team.

Thanks

[2020-11-13 05:38] beszedes opened #4891 "Documentation of DVC past versions"
It would be really helpful to have access to past versions of DVC documentation accessible.
OpenCv has something like this:  https://docs.opencv.org/

[2020-11-13 05:56] skshetry commented on #4891
Hi, @beszedes. Thanks for creating the issue. We are aware of this issue, but we haven't been able to prioritize this. Maybe, with pending 2.0 release around the corner, it'd be a good thing. Anyway, this is an issue about docs which we track in a different repo, and already have an open issue: https://github.com/iterative/dvc.org/issues/593.

It'd be great if you could share your thoughts there.

[2020-11-13 05:56] #4891 closed

[2020-11-13 08:47] courentin opened #4893 "On `dvc repro`: NetworkXError: nbunch is not a node or a sequence of nodes"
Hello dvc team!

I encountered an error during `dvc repro` just after freezing some stages.

Here is the trace:
[code]

Unfreezing the stages makes the `repro` work again.

Here is what's in my `Pipfile.lock`:
[code]

Do you have any ideas?
Tell me if you need more info

Thank you for your work!

[2020-11-13 09:28] gillhofer commented on #4804
Yes this command works fine.

However, I noticed that that this issue is due to cached files beeing created by a different user (we use a shared cache).

I guess this is a NFS configuration issue now.

[2020-11-13 09:38] reisingerf commented on #4876
@efiop thanks a lot for the detailed explanation!

We are working with some fairly large files which may take a little while to download. So I guess there is a chance that two parallel processes, especially when they start at pretty much the same time, try to fetch the same file at the same time.

In any case, I think we'll try your suggestion and see if we run into issues.

Thanks again for your

[2020-11-13 10:26] pared commented on #4804
@gillhofer would it be possible to use add both users to shared "cache-users" group?
DVC does support shared group access between users.
[Here](https://dvc.org/doc/use-cases/shared-development-server) you can find more context about this use case.

[2020-11-13 10:49] pared commented on #4893
@courentin would it be possible to share the dag structure and information about which stages have been frozen with us?

[2020-11-13 12:08] LordOfLuck commented on #755
I would also benefit very much from parallel executions

[2020-11-13 15:41] efiop commented on #4876
@reisingerf Makes sense! Well, for now, the worst-case scenario is that you might have to run `dvc pull` once again for it to discover that file that was downloaded by another process after it fails to `move`, so even data won't be lost and you won't have to download it again. You could even put a `dvc pull` loop in your bootstrapping code that will retry running it N times more if the command fai

[2020-11-13 20:26] shcheklein commented on #3766
@PuneethaPai done! ping on Discord if you want to be involved and help with some things there.

[2020-11-14 11:39] dmidge8 opened #4894 "Git submodule ignored in the dvc dependency"
## Bug Report

I created a dvc run "makefile", based on two dependencies. One which is the data, successfully tracked with a dvc repository imported through dvc import. The second dependency tracked is a git submodule that contains the code. However, when there is a modification in the git submodule, dvc fails to track the changes, either local or commited/pushed.

The output is:
`2020-11-14 13:34

[2020-11-14 12:31] ogonbat commented on #1995
Hi, I have the same issue reported above, I have a virtualenv and enum34 is not installed.
So, i have no options to go forward. someone else have the same problem?

[2020-11-14 14:32] pared commented on #4894
@dmidge8 I am unable to reproduce your problem.
I created git submodule, added it as a dependency to my "main" repo run command. Modifying code (and running `dvc repro`) results in the reproduction of the whole run command.
Could you share the result of `dvc repro -v`? Also, if its possible, could you share `dvc.yaml` section responsible for this particular run?

[2020-11-14 14:34] pared commented on #1995
@ogonbat
What is the output of your `dvc version`?

[2020-11-14 15:53] efiop commented on #4504
Fixed by https://github.com/iterative/dvc/pull/4872 . Thanks @I159 ! :pray:

[2020-11-14 15:53] #4504 closed

[2020-11-14 20:02] MetalBlueberry commented on #4657
@RafayAK here is you answer
https://github.com/MetalBlueberry/dvc-uploader

As promised, I've implemented a simple cli to upload data to a dvc tracked folder. The current status is POC, but I would like to get feedback from you ASAP. Also, we can continue the discussion in that repository because this is not the right place to have a long discussion.
https://github.com/MetalBlueberry/dvc-uploader/

[2020-11-15 16:03] mniyas commented on #4534
I'm facing this issue without SAS as well. @krstp Are you able to make it work without SAS?

[2020-11-15 19:57] krstp commented on #4534
Sorry, I did not have time to play with it. The only option for me was to use an older version of DVC that relied on older version of azure-blob via SAS key. FYI: Azure yields even more generally unrelated issues, but this is a different subject and I guess it is back on M$ back-burner.

[2020-11-15 21:19] dmpetrov opened #4897 "Sharing for experiments and checkpoints"
We need a way to share experiments between remote executors and a local environment.

Scenarios:
- Run an experiment through CI/CD (without auto-commits) and see the results in a local environment
- Run an experiment in a remote machine (yeah, it is not implemented yet but the experiment architecture should support it).
- Run parallel experiments in a local machine and see all the runs from a sing

[2020-11-16 06:19] ekanters71 commented on #1995
I have upgraded my python version to 3.7. It is working now. Thanks.

[2020-11-16 07:32] pmrowla commented on #4897
I've been thinking about this a bit more, and I think custom git refs may work for us here rather than storing patches in DVC run-cache or exp-cache.

We've discussed the potential of using a custom git ref namespace for experiments before, but it was tabled since github actions cannot be triggered when pushing a custom (non-branch or tag) ref.

However, in this case even though we have to push an

[2020-11-16 09:22] pzhy13 commented on #4830
In recent trials I turned off the Behavior Monitoring of the Trend Micro and added the dvc.exe to the whitelist of the Trend Micro, and I observed that no more "Access is denied" errors!

[2020-11-16 11:02] pared commented on #4830
@pzhy13 Great to hear that, thanks for sharing the solution! Seems like the problem is solved. Closing the issue.

[2020-11-16 11:02] #4830 closed

[2020-11-16 13:17] lrob opened #4899 "Do we need `exec` in git hooks?"
I'm using the dvc hooks for git. I would like to add some lines to the post-checkout script but it cannot be done (as far as I know) because the dvc command is executed using the `exec` command. What is the reason of this choice? Can the exec command be removed?

[2020-11-16 13:30] BurnzZ commented on #4657
Hello everyone! 👋

I've created a POC in how we could potentially integrate such functionality into DVC. The flow would essentially be:
[code]

I have an initial working version on #4900 that you can start testing. You can also take a look at the PR description which tackles this new concept much more deeply.

Looking forward to your thoughts on it!

Cheers!

[2020-11-16 13:37] pared commented on #4899
Related #679.
@lrob It seems to me that you can simply edit the hooks for your repo and remove the `exec` part. I am not sure if and what was the reasoning for using `exec` originally. @efiop do you, by any chance, remember?

[2020-11-16 14:01] efiop commented on #4899
Hi @lrob . There is no particular reason for `exec`, we just wanted to launch our hooks directly without spawning a yet another process. As @pared noted, you should be ok to remove it and modify as you wish. But I also have to point out that it is probably better to use `--use-pre-commit-tool` flag, which uses https://pre-commit.com/ as a framework for git hooks, which makes it much easier to mana

[2020-11-16 14:13] lrob commented on #4899
Thanks @efiop. I'll proceed as you suggest.

However, I think that if not strictly required the `exec` command should be removed. In my experience I was adding code to the hooks and at first sight I did not realized that it was not being executed because of the `exec`. After noticing the `exec` I was in doubt about the possibility to remove it safely. I think it presence has been quite annoying co

[2020-11-16 16:00] mniyas commented on #4534
@krstp Got it, thanks.

[2020-11-16 16:43] efiop commented on #4899
@lrob Without the exec you'll need more flags/logic to handle the failure properly, as just removing `exec` will make the script not error-out on dvc command failure. So the hook will become uglier and might also not match your expectectations for further modification. Using `exec` right now clearly signals that our installed hooks are standalone hooks, we don't expect you to add anything yourself

[2020-11-16 21:41] gamis commented on #4658
This bit me too. I have a bunch of binary files that dvc thinks are text files even though they aren't. So the md5 hash calculated by dvc doesn't match the one calculated by azure or any other tool that just hashes the bytes without line-ending conversion.

It seems like this kind of approach makes your md5 hashes really brittle. Any bug fix to istextfile or file_md5 might break users' caches.

I

[2020-11-16 22:09] dmpetrov commented on #4897
@pmrowla that's a very smart idea 🧠👍

A few questions to clarify:
1. So, you suggest synchronization through the central Git repo. Right?
2. It is easy to fetch custom refs by names. But how to get the whole list of custom refs without knowing the names? I was unable to find it - see [my discussion in stackoverflow](https://stackoverflow.com/questions/63866947/pushing-git-non-branch-references-to-

[2020-11-16 22:09] efiop commented on #4373
For the record:
[code]

this is already supported and will be passed as is to the shell (we use shell=True in Popen). I would keep it as is.

[code]

This looks great and I think it should behave like cmd1 && cmd2 && cmd3, meaning that if one command fails then the rest is not executed and results in a stage failure.

[2020-11-16 22:15] efiop commented on #4658
@gamis Thanks for the feedback! We plan on changing the cache format in 2.0 https://github.com/iterative/dvc/issues/4841 and plan on dropping dos2unix at the same time, so there is no cache mixup. Once we turn off dos2unix by default, there is not much reason to introduce md5 versioning, since it will be true md5 anyways. That said, we are also considering switching to a different default hash typ

[2020-11-16 22:39] gamis commented on #4658
Thanks for the quick response:

1. Regarding versioning, if i upgrade to dvc 2.0, what happens to my .dvc files and my cache? Are they going to suddenly be completely invalid?
1. Regarding azure, I'm not referring to the etag but rather the content_md5 property. It is only filled if the uploading client includes it, which is true of both azcopy and the python client.

[2020-11-17 00:44] efiop commented on #4658
No, 2.0 will likely be backward compatible with old dvc files and cache, at the very least in read-only mode. If something needs to be broken, we'll either migrate automatically or will provide a migration instructions/script. Keep in mind that we still need to be able to read old metrics/plots/params and do some other stuff with project's history, so we kinda have to have at least a read-only bac

[2020-11-17 00:52] shcheklein commented on #4658
@gamis

Could you clarify please what is the purpose of this field (if it's a user provided one) and how do people use it?

[2020-11-17 01:28] pmrowla commented on #4897
@dmpetrov

Yes, this is correct

In this case I've pushed 2 `refs/exp/...` experiments to https://github.com/pmrowla/checkpoints-test (pushing experiment branches from `.dvc/experiments` in your test project)

[code]

This is definitely something we could consider now. It would require refactoring some things internally, but we could potentially drop the need for the separate experiments clone.

[2020-11-17 03:22] asuresh9470 opened #4903 "Be able to permanently delete a file from DVC, including from history"
There are use-cases where you want to completely purge a file permanently from DVC history. For instance, if given a database of personal data, and the user requests to have their data deleted, it should be deleted in such a manner that it can not be recovered.

I understand that `dvc gc` is capable of modifying the DVC cache such that the history is also modified, but it seems that at the moment,

[2020-11-17 04:21] pmrowla commented on #4903
For this kind of example, when you say "purge a file permanently from DVC history", do you mean to just remove a particular file from DVC cache + DVC remote?

Or are we talking about also getting into re-writing git history, where the relevant file or directory also may need to be completely removed via `git filter-branch` plus removing the relevant entries in prior revisions of `.dvc` files?

[2020-11-17 04:37] dmpetrov commented on #4897
Is it only about local settings that we never push to a server?

It would be amazing to have a single abstraction for experiments and work with local parallel execution (if it's needed) the same way as remote execution.

In general, this approach looks elegant. We will be working with the same branch-like paradigm (custom refs) under the hood when Git does all the heavy lifting. At the same time,

[2020-11-17 05:19] pmrowla commented on #4897
Adding this type of line to `.git/config` will make custom refs be automatically fetched during a regular `git fetch origin`, similar things can be configured for automatically pushing custom refs as well
[code]

But in practice, we likely will not need this type of configuration at all, we can handle everything internally during `dvc exp push`/`dvc exp pull` without needing to modify a user's git

[2020-11-17 05:27] shcheklein commented on #4897
can we do some simple tests? Like generate 1000 refs and see the performance impact?

sounds a bit too aggressive? it might be fine for CI case, but might create a lot of issue in the local env?

do we need run cache in CI/CD scenario (you mention it a few times)? To some extent this proposed storage with custom refs already server that purpose? so, run cache can be optional in this case (if neede

[2020-11-17 05:47] pmrowla commented on #4897
Performance wise it would be the same as having a repo with thousands of git tags. Git itself can handle this without any problems. The normal issue w/large numbers of tags is  that some git UI's don't handle it particularly well, but we shouldn't be affecting those apps anyways since we're using custom refs and not `refs/tags`.

On the DVC side, we can restrict pushing/pulling to specific experim

[2020-11-17 05:54] shcheklein commented on #4897
@pmrowla one more question - since it's a bit of a grey area for GH/GL and other servers - are there any docs regarding this? Are we 100% that they support and guarantee safety of those refs?

[2020-11-17 07:28] MetalBlueberry commented on #4658
In my case, I'm using gocloud/blob, which is a cross provider blob storage.

I also have the Content-MD5 field and it is used to check the integrity of the uploaded file. If the calculated hash doesn't match the user hash, the upload fails. https://godoc.org/gocloud.dev/blob#WriterOptions

it is also a standard header used to check the integrity of the data transmission. https://tools.ietf.org/htm

[2020-11-17 07:58] dmpetrov commented on #4897
It is not about GH/GL, it is a core Git functionality. The only question to GH/GL - if they can trigger CI on custom refs changes. I’ve checked GH - it is not triggering, there is no such things in GH roadmap and it is a potential breaking change in their API. We should check GL and BB.

Ideally, exp command should abstract users out from the underlying exp sharing technology. So, it should not be

[2020-11-17 08:37] pmrowla commented on #4440
Used object collection for experiments will depend on the exp sharing feature, since collection will require walking the custom exp refs rather than `.dvc/experiments` branches. So the remaining `gc` task is on hold until exp sharing is done.

[2020-11-17 08:40] pmrowla commented on #4822
Blocking checkpoints related issues have been resolved w/the run/resume and `checkpoint` out changes. The last remaining bug is a minor UI issue and will be cleaned up with other UI issues prior to 2.0 release

[2020-11-17 10:03] asuresh9470 commented on #4903
Thank you for the explanation. I guess "DVC history" was the wrong choice of words. I certainly didn't mean doing a re-write of git history. If working on a shared project, that would be a nightmare right?

I meant removing a particular file from DVC cache + DVC remote. Just so that the file cannot be recovered by checking out a previous DVC hash (from a previous git commit).

However, if this get

[2020-11-17 10:20] dmidge8 commented on #4894
Very good question. Looking at the dvc.yaml to send it to you, I understood what went wrong. The command that I was executing was containing several commands which were seperated by "&&". Because of that, only the first part of the command was executed and reproduced, not the rest of it.
My bad, sorry for the noise.

[2020-11-17 10:20] #4894 closed

[2020-11-17 10:30] pared commented on #4894
@dmidge8 no problem, we are here to help :)

[2020-11-17 10:30] gillhofer commented on #4804
Thank you, we could solve it by just using a CIFS mount! 👍

However, for some reason a `dvc pull` requires a md5 calculation of all the checked out files, despite the shared cache. Is there a way to prevent this?

[2020-11-17 11:09] pared commented on #4804
@gillhofer
I have not too much experience with CIFS, so I might be asking stupid question, but are the files in remote read only? Recalculation of md5's usually means that files in remote are not read only.

[2020-11-17 12:03] gillhofer commented on #4804
@pared They are not read only. They are RW. Is the cache supposed to be read-only? I might have missed that in your documentation.

[2020-11-17 12:09] #4821 closed

[2020-11-17 13:17] pared commented on #4804
@gillhofer, no, but we have a mechanism in place that makes simple verification if your remote has not been meddled with (in earlier versions we used to set `hardlink` cache by default resulting in users editing their caches/remotes). When putting data into remote, we `chmod` it to be read only. Later on, when we pull the data, we assume that it has not been changed if its still read only. If it i

[2020-11-17 13:35] gamis commented on #4658
Yes, what @MetalBlueberry said! Azure's azcopy will declare an upload failed if the md5 doesn't match. I use it to ensure that my local versions of the files are identical to those in Azure.

1+ re people being "scared" of md5. Maybe add a paragraph in the docs explaining why it's ok. There's not really any good reason to switch, though I do like blake2s!

[2020-11-17 13:41] gillhofer commented on #4804
Ok, that explains the behaviour.

However, with this setup there seems to be a general issue when CIFS mounts are used as cache, as CIFS does not deal at all with file permissions. From the [CIFS Documentation](https://linux.die.net/man/8/mount.cifs).

If I understand this right, than either some config options is necessary to prevent md5 calculation on CIFS mounts or using something other than CI

[2020-11-17 15:26] shcheklein commented on #4897
Yep. I know. But GH/GL wraps Git for you. Nothing prevents them from running some GC? I would double check if they support everything and they provide guarantees to store everything.

[2020-11-17 15:47] #4850 closed

[2020-11-17 18:02] #4687 closed

[2020-11-17 18:05] pared commented on #4804
@gillhofer
How about getting back to NFS and trying to set up group?

[2020-11-17 18:26] shcheklein commented on #4804
hmm ... we should probably update docs to mention that we don't support CIFS for DVC for now? I wonder how common/popular CIFS is.

[2020-11-17 20:44] amka66 opened #4904 "dag: not accepting output files/folders"
## Bug Report

### Please provide information about your setup

Running `dvc dag` with optional target argument that is an output file or a folder produces an error:

[code]
This is despite the fact that there *is* a stage with output dependency `postprocessed-data/data.pickle` in file `dvc.yaml`.

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please al

[2020-11-18 01:01] efiop commented on #4904
Can reproduce. Discord context https://discord.com/channels/485586884165107732/485596304961962003/778313256175009822

[2020-11-18 01:34] pmrowla commented on #4897
These responses from GH staff imply that they have git configured to disable even the regular automatic git garbage collection, and generally only gc anything if it's explicitly requested from a user:

https://github.community/t/does-github-ever-purge-commits-or-files-that-were-visible-at-some-time/1944/2
https://github.community/t/submodule-commit-recoverability/2593/2

They try to avoid deleting

[2020-11-18 03:32] shcheklein commented on #4897
Thanks @pmrowla for doing this research!! 🙏

This is an amazing proposal and it would be really cool if everything works as expected!

Btw, I've invited you to the Iterative's Bitbucket, would be great to check it when you have time.

This is what I've found, whatever it means. I hope that custom git refs could not be considered garbage.

[code]

[2020-11-18 04:09] pmrowla commented on #4897
@shcheklein it sounds to me like they essentially do the same thing as github. Based on their steps for forcing/triggering the bitbucket garbage collection, it still looks like they will use the standard git commands (like `gc/prune/etc`) for doing the actual garbage collection, so they should still not be touching objects from any custom ref namespaces.

[2020-11-18 05:59] gillhofer commented on #4804
We will have to do that eventually. But I guess this will be a more prolonged endeavour as we need to change parts of our grown infrastructure. In the meantime we need to wait out md5 calculations and understand that not writing to remote and cache is crucial.

[2020-11-18 06:20] skshetry opened #4905 "hdfs: pyarrow.hdfs.connect is deprecated"
## Bug Report
Since 2.0.0, `pyarrow.hdfs.connect` is deprecated, as seen on [this GHA log](https://github.com/iterative/dvc/runs/1415667578?check_suite_focus=true#step:7:3952), and recommends to use [`pyarrow.fs.HadoopFileSystem`](http://arrow.apache.org/docs/python/generated/pyarrow.fs.HadoopFileSystem.html).

[code]

Here are the usages:
https://github.com/iterative/dvc/blob/e1b82c5222930c55886c

[2020-11-18 09:25] karajan1001 commented on #4904
I remember we used to support this. might be deprecated after some refactoring.

[2020-11-18 09:43] pared commented on #4804
@shcheklein I would not say that we don't support CIFS. Only thing that is not working is a optimization we implemented in https://github.com/iterative/dvc/pull/3472, but it does not prevent DVC from working properly. It just makes it work slower.

@gillhofer That raises new question: whether we should have some kind of mechanism allowing user to say "I know what I am doing, trust the remote/cache

[2020-11-18 10:10] amka66 commented on #4904
Say you have a module dependence on an intermediate data file `xyz.csv` that you want to replace. How else would you know how it was generated so you know how to replace it? Do i have to keep track of the pipeline myself by examining pipeline yaml files? This is currently what i have to do for most changes in the pipeline.

As a heavy user of DVC in production workflows, i think the tool currently

[2020-11-18 10:43] MetalBlueberry commented on #3256
I've noticed that the size of the whole tracked dir is registered in .dvc file. but there is no data for individual files inside the tracked directory. I would like to have this information so I can display a list of files&size inside the directory without downloading any file.

is it possible to add the size to the json file generated to track contents inside the directory?

[2020-11-18 11:32] efiop commented on #3256
Hi @MetalBlueberry !

Great question! Indeed, we are thinking about adding size to the .dir cache file, but adding those right now will result in older dvc versions registering it as a cache corruption and also us not being able to self-validate .dir files without filtering them first (md5 of them shouldn't depend on `size` fields) https://github.com/iterative/dvc/issues/4841

We will also add sup

[2020-11-18 13:22] lambdaofgod commented on #4112
# Simple workaround for json files

Define bash functions in `.bashrc`

[code]

then use, assuming you have params in `config.json`

[code]

@skshetry let me know if you think it makes sense to add this as default behavior for DVC when the parameters are not defined. I can to take add this to DVC if I receive some guidance.

[2020-11-18 18:08] MetalBlueberry opened #4906 "Standardize issue names"
Hi all

I've been recently reading through the issues in this repository.

The use of tags is clear enough and I think that is what allows you to manage the high volume of issues. The problem comes when you want to see if an issue already exists before opening it.

If you check the current list, you can notice a title pattern like *topic: description" but is not consistent across issues.

here are

[2020-11-18 19:48] efiop commented on #4906
Hi @MetalBlueberry ! Makes total sense! We try to stick to the standard `topic: description`, but looks like not everyone is used to such naming and we used to edit the titles but then just gave up unless the title is too random/confusing. Adding that to the issue template makes a lot of sense to me. Let us know if you are keen on submitting a low-hanger PR for that :wink:

[2020-11-18 20:47] efiop opened #4907 "dvc: preserve desc when re-add/import[-url]/run'ing"
Currently `desc` is not preserved if you decide to update your dataset with `dvc add`. E.g.
[code]

[2020-11-18 20:56] jwokaty commented on #4905
If no one's working on it, I'd like to try doing this issue.

[2020-11-18 21:31] efiop commented on #4905
@jwokaty Sure, please feel free to give it a shot. Thanks for looking into it! :pray:

[2020-11-18 22:35] tomasfarias commented on #4520
Hey all, I'll be tackling this issue next 👀

Let me know if I understand the problem clearly: although datasets in external drives/s3/etc can be `dvc add`ed with `--external` and later `dvc push`ed to a remote, we would like to streamline the process via a new feature(s).

From the users perspective, I think something like a `dvc transfer` command that combines a download of the data, `dvc add` an

[2020-11-19 00:43] efiop commented on #4297
The problem here is that we are using `collect` instead of `collect_granular` when resolving the target. Likely just need to do the switch. CC @skshetry or am I missing something?

[2020-11-19 01:03] efiop commented on #4904
@karajan1001 Actually, I don't think we did support it for `dvc dag` or the deprecated `dvc pipeline show`. The docs have it because we have a generalized stage collection logic, so we've assumed that `dvc dag` also supports it already, but turns out we were wrong :slightly_frowning_face: IIRC the reason why we didn't do that is that `--outs` then would need an additional logic to not include sibl

[2020-11-19 02:24] karajan1001 commented on #4904
@amka66  Sorry, I misunderstood. I thought it is similar to #4532.

[2020-11-19 02:49] efiop commented on #4520
Hi @tomasfarias ! Thanks for looking into this!

There are some exceptions to the `--external && push` relations, but you are in the right direction :ok_hand: The problem you are talking about is transferring to remote (currently `download + dvc add data + dvc push`), but there is another part about transferring to cache (currently `copy + dvc add data`). I see that you are already diving into imp

[2020-11-19 02:59] jorgeorpinel opened #4909 "plots: allow to modify any (Vega) prop"
Could `plots modify` behave a bit more like `config` where it accepts a key pair as arguments? Instead of relying on specific options like `-x` and `--title` to set the corresponding Vega properties.

All of these could be valid keys: https://vega.github.io/vega/docs/specification/ although validating the values could be tricky...

[2020-11-19 03:10] sjawhar commented on #4883
Just to clarify: python-benedict does **not** parse raw yaml. That is being handled by ruamel.YAML here:
https://github.com/iterative/dvc/blob/251a3269c2c5f7e39938274b06fca319de1bf79b/dvc/repo/experiments/run.py#L22-L30
https://github.com/iterative/dvc/blob/251a3269c2c5f7e39938274b06fca319de1bf79b/dvc/utils/serialize/_yaml.py#L69-L70

Benedit handles putting the parsed param value into the params

[2020-11-19 03:34] karajan1001 commented on #4906
I wonder what is the difference between a topic and a label? in permission?

[2020-11-19 03:42] efiop commented on #4906
@karajan1001 Correct, we can assign some default labes to some issue templates (e.g. bug/feature), but that's about it, the user won't be able to set other labels himself unless we decide to add like a bot to do that for him through some commands(e.g. `/label testing`). Issue names help to navigate the repo better too, so those are really complementary to each other. :slightly_smiling_face:

[2020-11-19 03:59] #4574 closed

[2020-11-19 08:18] MetalBlueberry commented on #4906
@efiop I will be glad to open a PR, but first, we need to agree on what "topic" means.

for example, if you find the CRLF issue #4658  What would be the best topic: description?
- add: incorrect hash calculation
- hash: CRLF is ignored during hash calculation
- add: CRLF and LF line endings cannot be modified after dvc add

If we do not define what a topic is, it will be still hard to find related

[2020-11-19 09:53] pared commented on #4909
We could actually go with dictionary/json update. When we were talking about smoothing plots I mentioned [that approach](https://github.com/iterative/dvc/issues/3906#issuecomment-639483890).
We could let user provide his own "modification" that would be applied only to particular plot - so the end plot would be a sum of template + modification applied with dvc plots modify (or even yaml written in

[2020-11-19 10:00] pared commented on #4909
As to veryfing, maybe we could make use of vega schema, but its quite big, not sure if its worth it:
https://raw.githubusercontent.com/vega/schema/master/vega-lite/v4.17.0.json

[2020-11-19 10:15] karajan1001 commented on #4906
There are at least three kinds of issues.
1. Bugs or feature requests of some DVC command, for example `dvc add`, `dvc dag`, etc... Here we can use the command name as the topic name.
2. Bugs or refactoring of a DVC module, like `output`, `repo`, `remote`. (we can also consider class 1 to be a special form of this) In this situation, we can use the module name.
3. Other things, maybe something lik

[2020-11-19 15:19] efiop commented on #4906
@MetalBlueberry Agreed. And as @karajan1001 pointed out, the topic might depend on the depth of the knowledge that the issue creator has. But the general format of `topic: description` makes a lot of sense.

[2020-11-19 17:59] MetalBlueberry commented on #4906
@efiop I think that we can give some hints of how to define a topic in a way that doesn't require technical knowledge. If we stick to the proposal from @karajan1001 I think almost everyone will be able to assign a topic that will match what others expect even if they do not have technical knowledge.

the description is the hardest part.
- For bugs I will recommend writing what you see. not what yo

[2020-11-19 18:16] mdekstrand opened #4912 "repro: glob-style selection of stages"
It would be useful to be able to select stages by glob, either at the top level or within a specific `dvc.yaml` file.

For example, if I have `eval/dvc.yaml` that evaluates several models over several data sets, I would like to be able to reproduce the evaluations over one data set with something like:

    dvc repro eval/dvc.yaml:AZ-*

Or:

    dvc repro --stages='AZ-*' eval/dvc.yaml

With the mu

[2020-11-19 18:23] efiop commented on #4912
We've added `--glob` for `dvc add` very recently https://github.com/iterative/dvc/pull/4864 , so it makes to continue https://github.com/iterative/dvc/pull/4864 with this ticket as well. I would say `dvc repro eval/dvc.yaml:AZ-*` works well, but I would probably make it an opt-in behavior with `--glob` flag for now, same as we currently have in `dvc add`, just to be safe. We'll turn this on everyw

[2020-11-19 18:39] efiop commented on #4906
@MetalBlueberry Good stuff! I would only remove the `dvc ` prefix from the topic. So

* repro: metrics are uploaded to remote when cache is false
* push: HTTP remote timeout
* pull: is slow on large directories

[2020-11-19 18:57] efiop commented on #4816
Related https://github.com/iterative/dvc/issues/4912

[2020-11-19 19:30] dmpetrov commented on #4816
@jorgeorpinel #4864 is only about `dvc add`. `pull`/`push`/`import` are missing for checking the first checkbox.

[2020-11-20 04:57] #4904 closed

[2020-11-20 05:27] efiop commented on #4904
For the record: fix was merged and is going to be released in 1.10.2 later today.

[2020-11-20 07:09] gillhofer commented on #4804
@pared

Maybe I did not understand everything involved completely, so please bare with me.

Is there a way around a shared "cache-users" group? We have the problem that the cache is written to by LDAP users, and the pipeline-user is a non-LDAP user.
This either requires to
* make the pipeline-user a LDAP user
* modify the LDAP database to fake the group membership of the pipeline-user
* something

[2020-11-20 09:29] jorgeorpinel commented on #678
A user mentioned this idea on Discord today.

[2020-11-20 09:30] Once88 opened #4919 "Cache expiration time"
I think it is a reasonable requirement to set the expiration time for the cache. Especially for shared cache, we may only need, say, cache within 7 days. Then, dvc can help us automatically delete expired cache data to prevent the cache directory from getting bloated.

Context: https://discord.com/channels/485586884165107732/485596304961962003/779263477067022336

[2020-11-20 09:30] jorgeorpinel commented on #678
BTW, another "natural way to reduce size" could be **by size** e.g. `dvc gc --size-over 1G` - removes all cached files larger than a GB.

[2020-11-20 09:32] jorgeorpinel commented on #4919
Related to #678.

[2020-11-20 09:36] jorgeorpinel commented on #678
BTW, this (`--time` feature) can be done currently via Git. It may be a little complicated e.g. requiring rewriting the repo history but we could write a guide or how-to about it instead of implementing the feature. If so we could move this issue over to dvc.org.

And the `--size` feature is doable via regular GNU tools like `du ... | xargs rm ...` etc. which we could also document.

[2020-11-20 15:33] jvendegna opened #4931 "Modify dataset in registry from pipeline"
When using a [data registry](https://dvc.org/doc/use-cases/data-registries) there is no way to modify a dataset from a downstream project/pipeline.
Currently a work-around is needed. We can clone the data registry in our pipeline and dvc update, git commit, dvc push from there.

Request: provide a way to pull specific dataset(s) from a registry, modify them, and update the registry from a downstre

[2020-11-20 20:34] dmpetrov commented on #2565
It was solved already. Closing.
[code]

[2020-11-20 20:34] #2565 closed

[2020-11-21 10:33] anotherbugmaster opened #4933 "Validation of DVC files and pipelines without downloading actual data"
While using DVC I often have two following questions:

1. Can I pull data from the remote? I.e. do all `*.dvc` files have corresponding data?

	Currently I solve this using `dvc status -c | grep "missing:"` (like described in #4436), but I think that's suboptimal, because cache is also checked and it's a bit of a workaround.

	I can't just use an exit-code, because I don't want to download all the

[2020-11-21 10:41] anotherbugmaster commented on #4933
Similar logic can also be applied to `dvc repro --pull` command: we can skip pulling dependencies for outputs whose hash hasn't changed and just download these outputs.

[2020-11-21 13:34] karajan1001 commented on #4933
Question 1 Related #4657.

Question 2, `Pull` equals to `fetch` ( download cache from a remote repo to local cache ) + `checkout` ( move files in local cache to the workspace according to hash values in `*.dvc` or `dvc.lock`. So if files' md5 in your workspace matches the value in `*.dvc`
 and `dvc.lock` it would not change, if not match then they would be replaced.

[2020-11-21 13:51] mazzma12 commented on #2565
For the record, this was discussed here (#4330) and was merged already

[2020-11-21 13:54] anotherbugmaster commented on #4933
I don't think we should actually perform fetch and checkout, just pretend that we did and ignore the fact that some files are actually missing. Frankly I'm not sure how to name the flag so that its behavior would be obvious. `--ignore-missing` would be another option, but then we have `missing` in the output of `dvc status -c`.

[2020-11-21 14:09] anotherbugmaster commented on #4933
Well, in a way #4657 is connected, yes, one could run `dvc pull --dir-only` and check exit-code, but AFAIK this would overwrite the `*.dvc` files in workspace and I wouldn't do that

[2020-11-21 14:23] anotherbugmaster commented on #4933
I think the main issue with current `dvc status` behavior is that it assumes that user can easily pull all the data on a local machine, but in my experience that's not always the case. One usually works only on one pipeline/dataset at a time and it's ok if some files aren't present locally

[2020-11-21 15:52] tomasfarias commented on #4520
Hi @efiop! Thanks for the comments.

Exactly as you pointed out, I was mostly focusing on the first problem, i.e. transfer straight-to-remote, but haven't really thought too much about the second one, i.e. transfer straight-to-cache.

So, starting with the first problem, since I have it more present, in terms of commands I imaging things looking like:
[code]

This would transfer all files in the `

[2020-11-21 16:57] ClementWalter commented on #4373
I am starting working on it

[2020-11-21 19:40] efiop commented on #4373
Hi @ClementWalter !

Thanks for looking into it! What advantages/disadvantages do you see for doing a `join` like that?

[2020-11-21 22:46] efiop commented on #4520
@tomasfarias Thanks! Ok, then let's focus on `straight-to-remote` for now, for simplicity. And let's clarify some terminology first. I see that there is clear confusion between remote/cache and storage in your examples. dvc remote/cache are always in content-based format, like `.dvc/cache` is, so they are not human readable. I think the reason is that you were looking for a rather less known `remo

[2020-11-22 03:51] skshetry commented on #4373
@efiop, does that multiline string work on all shells?

[2020-11-22 06:21] skshetry commented on #4297
@efiop, I don't think it was ever supported. Switching from `collect` to `collect_granular` would help, though it won't help with outputs being granular, it will commit all of the stage outputs.

[2020-11-22 08:48] skshetry opened #4935 "exp show: `--exclude` throws AttributeError"
## Bug Report

### Please provide information about your setup
[code]

[2020-11-22 13:47] kgritesh commented on #4905
@efiop fixed at #4936

[2020-11-22 17:03] LuisMoralesAlonso opened #4937 "dvc and apache hudi integration"
Does it make sense this kind of integration? We could rely on hudi to manage versions (incrementals this time, so with less storage needs).

hope your comments,

luis

[2020-11-22 23:41] efiop commented on #4297
@skshetry Thanks! So looks like collect_granular + filter_info support for `commit` and we should be set :slightly_smiling_face:

[2020-11-22 23:50] efiop commented on #4937
@LuisMoralesAlonso Could you please elaborate?

[2020-11-23 00:40] efiop commented on #4931
Hi @jvendegna .

You use `dvc import` to get that dataset into your project, right? If so, first thing that comes to mind is something like `dvc export` to shove the changes back into the registry, but that will require either a `git push` if it belongs to you or `git push` + creating a PR to the original project. Also not clear how to handle imports with a specific `rev` that might be some random

[2020-11-23 01:56] sandeepmistry commented on #3388
I've started a draft pull request on this if anyone would like to give early feedback the changes: https://github.com/iterative/dvc/pull/4938

[2020-11-23 03:07] skshetry commented on #4905
@kgritesh, it would have been better if you'd comment here before creating a PR, given @jwokaty is interested in working on this.

[2020-11-23 07:57] LuisMoralesAlonso commented on #4937
- We have a datalake based on Hive + parquet format. All of our use cases will be with this "external data". We've organized this datalakes in several datahubs, based on functional requirements.
- Regarding ML we are thinking about creating a new datahub, the "datascience"-datahub that will store those data that we cosider "features" (they've been used in any of our ML use cases). We want to versi

[2020-11-23 08:59] karajan1001 commented on #4937
Incremental data, related to #331

[2020-11-23 11:11] pared commented on #4804
@gillhofer
I am not an expert on LDAP, and don't know how your set up looks like. I would need some more information on that to be able to help. Are LDAP users treated differently on windows share than other users?

[2020-11-23 12:58] omrihar commented on #4336
Unfortunately I'm not sure I am able to add the databricks support - I'm not well versed enough in databricks and dvc for that.

@majidaldo I was thinking of using databricks DBFS for data storage (as S3 is used). You are correct that the current git integration is very lacking... However it still may be possible to use the dvc API to get the files from a databricks notebook with data lying somewh

[2020-11-23 17:07] majidaldo commented on #4336
If you're just getting and uploading files from dbfs, dvc isn't adding value here. The dbfs api and dbfs mount is pretty straightforward to use.
There is the ugly hack of copying your git repo to somewhere that databricks can see.

Databricks wants you to use MLFlow. After using Databricks for a while, I almost despise any platform that throws me into notebook-land.

[2020-11-24 09:17] dmpetrov commented on #4937
@LuisMoralesAlonso there are a few more questions...

1. is parquet format the primary format for ML and "datascience"-datahub or you use "less structured" formats?
2. is Hudi needed for being close to real-time? is close-to-real-time important for ML use cases?

[2020-11-24 11:35] LuisMoralesAlonso commented on #4937
answers:
1.- we are actually using parquet for all our data lake, so we want to use it as much as possible. at the same time we want to version de features we are using for our ML projects. that's the reason to think about apache hudi as our primary format for this datascience-hub. We want this data governed.
2.- once we need to train a model in a particular project, we would materialize the featu

[2020-11-24 12:08] skshetry opened #4955 "parametrization: check for interpolations wherever it's illegal"
## Bug Report

### Please provide information about your setup

`vars` does not support interpolations, inside the stages or globally. We might add some keywords in the future that too might not support this. It'd be better to check if they contain an unresolved interpolation as well.

[2020-11-24 12:47] skshetry opened #4956 "Mention the revision where dvc failed when using `brancher`"
## Bug Report
Something like the following:
[code]

### Context
Parametrization requires a lot of moving parts, so it something failed or the file is missing, it might not be apparent where it failed
when using `dvc params diff` or `dvc metrics diff`, for example.

[2020-11-24 14:47] johnnychen94 opened #4957 "stage name incorrectly parsed with parametrization for dict"
## Bug Report

### Please provide information about your setup

List version works:

[code]

[code]

However, the dict version doesn't

[code]

[code]

According to the error output, I guess the stage name is incorrectly parsed somewhere. I tried to look at the source code but failed to find a clue.

**Output of `dvc version`:**

[code]

[2020-11-24 15:00] johnnychen94 opened #4958 "make dvc repro STAGE running all parametrized stages"
[code]

[code]

The following version doesn't work, even though `build` is defined in `stages` section.

[code]

I wish we could make it equivalent to

[code]

Furthermore, depends on whether there's a lock, multiple stages can be run in parallel.

[2020-11-24 15:09] skshetry commented on #4958
Hi, @johnnychen94. Glad to see an issue for the parameterization (and, seeing someone using it :smile:). I am working on this feature and will be implemented around the pre-release (which might be backwards-incompatible).

[2020-11-24 15:16] ju0gri commented on #4816
I can continue adding this functionality for all commands, if that's alright.

[2020-11-24 15:21] skshetry commented on #4957
@johnnychen94, this is not supported. List in `foreach` data is not supported to have dict or any complex object inside it.

Can you refactor it to use dict than a list:
[code]

[2020-11-24 16:05] dberenbaum opened #4959 "dvc exp run failing in v1.10"
## Bug Report

`dvc exp run --params p=1` outputs:

`ERROR: Failed to reproduce experiment '8e78710' - failed to reproduce 'dvc.yaml': restore() got an unexpected keyword argument 'checkpoint_resume'`

The same command works in 1.9.0.

This is a toy example with no checkpoints:

[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information

[2020-11-24 16:18] johnnychen94 commented on #4957
Good to know the alternative and yes it works.

[code]

[code]

[code]

Should I update the wiki? I guess this is something that people will occasionally hit because it's simpler to write

[code]

[2020-11-24 16:33] efiop commented on #4959
Hi @dberenbaum !

This bug was fixed in https://github.com/iterative/dvc/pull/4913 thanks to @sjawhar :pray: , but we didn't release a new version yet :slightly_frowning_face: We are releasing 1.10.2 right now, will be available on pypi in ~15minutes.

Also, just a friendly disclaimer that experiments are an experimental feature and haven't been officially released yet, so there might be some bugs

[2020-11-24 16:33] #4959 closed

[2020-11-24 16:45] efiop commented on #4816
@ju0gri Thanks for looking into it! :pray:

[2020-11-24 17:05] theoturner commented on #4112
For future reference, the file must be named `params.yaml`, not `params.yml` for DVC to see it.

[2020-11-24 18:31] johnnychen94 opened #4960 "support meta key in the root level"
`git` itself doesn't have a configuration file to store tagging and related meta, and since `dvc.yaml` is used to track the whole project, it makes sense to put these meta data into `dvc.yaml`

An example of this is:

[code]

This idea comes from Julia where all packages have a `Project.toml` file. For example, [Pkg.jl/Project.toml](https://github.com/JuliaLang/Pkg.jl/blob/3157a635d92ca46286000391

[2020-11-24 18:59] johnnychen94 commented on #4960
It seems that the following patch works:

https://github.com/iterative/dvc/blob/a7a007e4f97ff08bc27af6be7af66262d17e1ae2/dvc/schema.py#L89-L92

[code]

[2020-11-24 22:35] tomasfarias commented on #4520
@efiop Thanks for clarifying! I was definitely a bit confused.

Yeah! My whole intention was to have the argument `data.csv` indicate `data.csv.dvc` was to be created in the current directory. I do think that is limited, and actually after reading over a bit more about `dvc import-url` seems like it would fit the task exactly as I was thinking about and it already supports an arbitrary target path

[2020-11-25 01:31] pmrowla commented on #4960
Thanks for the suggestion @johnnychen94! We do support `meta` at the stage level, and adding support for it at the pipeline level is something we can consider.

One thing to note though is that `dvc.yaml` is not really used to track an entire project. It would be more accurate to say that it tracks a single pipeline within your project, and you can have multiple `dvc.yaml` pipeline files in a DVC

[2020-11-25 01:41] pmrowla commented on #4960
To get something equivalent to Julia's `Project.toml`, it may make more sense to just define your own top level metadata file for your projects and track them with git.

DVC does not mandate any particular project structure and can be used for a wide range of use cases (in the same way that git can be used to version almost anything). So it doesn't make as much sense for DVC to define a root "proj

[2020-11-25 04:29] skshetry commented on #4957
Hi, @johnnychen94. I created #4961 to fix this issue, but I still recommend using dictionary for better experience. I don't think you have access to the wiki, let me add a note there.

I'd still like to keep this issue open for future considerations, so please don't consider it as _supported_ yet.

[2020-11-25 04:37] skshetry commented on #4112
@lambdaofgod, sure, go ahead. We might just need to support it as `-p params.yaml` or `-p params.json` (without explicit `:`).
But, the main question is, what the behavior should be.

1) Should it work like your script, i.e. fetch all params and track each of them individually?
2) Or, should it just act like other output dependencies, in that the stage reproduces if you add/delete any params in th

[2020-11-25 06:11] jorgeorpinel opened #4962 "remove: delete .gitignore file if empty"
Just like `dvc remove` deletes dvc.yaml and dvc.lock if they're empty after the removal, should it do the same to .gitignore? Currently it's left there even if empty, which shows up as a change in git (so it's pretty obvious).

[2020-11-25 07:19] skshetry opened #4963 "Context.clone: deepcopy takes a lot of time"
## Bug Report

### Steps to Reproduce
1) Create a file with large no. of files
[code]
2)  Add the following to `dvc.yaml`:
[code]

3) `dvc repro`

Repeat these steps by changing num to 1000

Following is the visualization for `$num = 100`:
![Screenshot from 2020-11-25 12-59-35](https://user-images.githubusercontent.com/18718008/100194604-11daac00-2f1e-11eb-88f4-c71713f9f95f.png)

`repro` completed

[2020-11-25 09:18] johnnychen94 commented on #4960
To be clear, it is also the same case for Julia's `Project.toml` file. And also like how `git`'s submodule functionality does.

As an example, the following is a project I'm working on, as you can see, there're multiple `Project.toml` files in each subfolders, `dvc.yaml` defines a stage for each subfolder/subproject.

[code]

and for each `Project.toml`, it only defines what packages are use, just

[2020-11-25 12:02] skshetry commented on #4841
Can we start showing colourful messages?

[2020-11-25 12:07] lumbric opened #4965 "dvc gc says "ERROR: Unable to acquire lock" when using -p option"
## Bug Report

When I try to call `dvc gc -p <some path>`, I get the following error message:

[code]

There is definitely no other instance of dvc running. If I remove the lock file and run `dvc gc` again, I get the same error message again and the lock file has been re-created.

What seems suspicious to me is that there are like 200 tmp files in the cache:

[code]
But on the other hand, the issu

[2020-11-25 13:41] jcpsantiago commented on #4841
Yes please! I had to code it myself :p
<img width="618" alt="Screenshot 2020-11-12 at 12 23 46" src="https://user-images.githubusercontent.com/789796/100235135-4d7c7280-2f2c-11eb-86c4-7ba9a7d4501b.png">

[2020-11-25 14:29] skshetry commented on #4841
That's looks really good. Would you mind sharing what you are using?

[2020-11-25 15:03] jcpsantiago commented on #4841
The “header” is at the top of all my scripts: left (yellow) is the name of the stage (hard coded for now, because I can’t get it from DVC into the script) and the left is the current model, passed to the script as a parameter using the amazing upcoming `foreach` (https://github.com/iterative/dvc/pull/4734)

The rest are log messages which also make use of the current model coming from `foreach`.

[2020-11-25 19:18] al-ponomar opened #4969 "dvc exp run doesn't work with dvc root in git repo subfolder"
## Bug Report

### Please provide information about your setup

When I am using `dvc exp run`, I am getting:
ERROR: unexpected error - [Errno 2] No such file or directory: '/tmp/tmpmml3mawm/src/ai/training/.dvc/config.local'

`dvc exp show`  and `dvc exp run --queue` are working though.

Does anyone know what can be the issue?
I asked in dvc chat and it seems that it can be caused because my dvc r

[2020-11-25 19:33] efiop commented on #4841
@skshetry I guess there is no reason to do it before 2.0 release, as it is not really breaking backward compatibility or anything like that. The other checkboxes are often such that we actually need to break stuff :slightly_frowning_face:

[2020-11-26 01:34] victorskl commented on #4876
Just to update, we are now using [dvc common cache directory](https://github.com/umccr/infrastructure/commit/1acf2894747793c8ae424da823354a6c516f90f6) as suggested workaround for avoiding dvc pull lock issue. It is working so far.

[2020-11-26 04:32] johnnychen94 opened #4970 "properly handles `~/.config/dvc` folder for macOS"
I use `rsync` to share the `~/.config` folder among the servers I have access to. Only recently I realized that I've never configured DVC successfully in my local macOS, and it triggers some hard to understand errors.

According to https://dvc.org/doc/command-reference/config#description, it's said the global configuration location for macOS `$HOME/Library/Application\ Support/dvc` differs from th

[2020-11-26 05:42] pmrowla commented on #4970
This basically comes down to "macOS is not Linux". DVC looks for and places config files in `Library/Application Support/...` on macOS, because that is the correct location for a well-behaved macOS application to store configuration files.

The XDG config location spec (`~/.config/...`) is really a Linux specific convention (even though the directory structure will work on any unix system). One ea

[2020-11-26 05:51] skshetry commented on #4970
Though git does use `$HOME/.config/git/config` even if `XDG_CONFIG_HOME` is not set.

[2020-11-26 05:52] johnnychen94 commented on #4970
I was hoping DVC could throw an instructive warning for this. Or perhaps print the config files in `dvc version` output, which makes diagnosis easier.

[2020-11-26 06:00] pmrowla commented on #4970
Sure, and there are several other *nix apps that do the same, including ones that will also look for dotfiles and `.config\...` directly in `C:\Users\<username>\` on Windows, but that's also something that we probably don't want to consider doing in DVC.

In this case, where we put everything for `--local/--global/--system` for linux/windows/mac is clearly documented at https://dvc.org/doc/command

[2020-11-26 06:25] skshetry opened #4971 "codecov: not showing __init__.py files"
See: https://codecov.io/gh/iterative/dvc/tree/master/dvc

There's no `__init__.py` files.

Refer to https://github.com/codecov/codecov-python/issues/136 for more info.

Might be related to our source fixes/equivalent source config. This makes me think of moving to `nox`/`tox` more. :(

[2020-11-26 06:33] efiop opened #4972 "test: create moto-like mockers for other clouds"
We've been talking about having light-weight mockers/stubbers for a long time https://github.com/iterative/dvc/issues/907 , but those never felt very pleasant to use and, especially, support. With hdfs/webhdfs and other clouds that don't have good python mockers we waste a lot of CI time on launching heavy-weight emulators or using real clouds.

We've been using moto https://github.com/spulec/moto

[2020-11-26 06:33] efiop commented on #907
Closing in favor of https://github.com/iterative/dvc/issues/4972

[2020-11-26 06:33] #907 closed

[2020-11-26 08:23] efiop commented on #4876
@victorskl Glad to hear it works! I guess the only thing in this ticket left is to check for that potential recoverable bug that I've described before? Or is there anything else you would like to add here?

[2020-11-26 08:28] AnnKatrinBecker opened #4974 "automatic user and password authentication for dvc get and dvc.api.open with WebDav"
I recently started using DVC and are very excited about the simple version control it provides for large Data files.

Now I use WebDav as a remote storage for project A.
I am using user and password authentication for webdav which are stored in my local dvc config file in projectA.
Pushing and Pulling inside project A works well.

Now I have another project B (not a dvc project) which should use f

[2020-11-26 08:39] karajan1001 commented on #4838
@efiop

[2020-11-26 08:42] skshetry commented on #3743
We now have a `desc` and `size` keywords in the stages, which we can use it to our advantage, and provide `--help` like message for the stages.
[code]

We could even provide a default message, if `desc` does not exist, like:
[code]

Or, maybe both of those to create a verbose output and maybe even with more fields.

[code]

I might have gone over the top here in the suggestion, but the core of it

[2020-11-26 08:53] efiop commented on #4838
@karajan1001 ? :slightly_smiling_face:

[2020-11-26 09:10] pmrowla commented on #4974
Just to clarify:

Do you mean global config as in `dvc remote modify --global` / `dvc config --global`? Or do you mean in project A's repository level `.dvc/config`? In DVC, `.dvc/config` is generally referred to as the repository config, and `--global` refers to the user global (`$HOME/.dvc/config`) config.

---

`dvc get` and `dvc.api.open()` currently do not support reading any local configs (m

[2020-11-26 09:58] karajan1001 commented on #4838
@efiop
What is the difference between `BaseTree.download` and `RepoTree.get_dir_hash`?
In the first one, `jobs` is read from a config file while in the second, it was passed as a parameter.

And in
https://github.com/iterative/dvc/blob/6d745eb4f0fc4578e3abea25a9becaf2c9da1612/dvc/dependency/repo.py#L71-L80
This function inherited from the first one calls the second. Is it OK to add a `jobs` param

[2020-11-26 10:54] efiop commented on #4838
@karajan1001 Usually for `download` the parallelization happens before calling it, e.g. in `Remote.push/pull/status`. For `get_dir_hash`, depending on how it is configured, it might need to `pull` the whole directory with all the files, and that's where the `jobs` is used. So considering that dvc is not splitting files into blocks and downloading whole files, `--jobs` for import only makes sense f

[2020-11-26 12:18] AnnKatrinBecker commented on #4974
Thank you for the fast reply.

Sorry for the misused "global" here. I meant project A's repository `.dvc/config` as you assumed.

Thanks for the suggested workarounds.
For now we can work with the second workaround.

For the future it would be helpful to be able to pass local config information to `api.open` as well. Thank you for considering this.

[2020-11-26 13:46] skshetry commented on #4958
@johnnychen94, I have created #4976 to implement this. Your feedback would be greatly appreciated.

[2020-11-26 14:13] skshetry commented on #4912
@mdekstrand, I have created #4976 to support this feature. Please take a look.

[2020-11-26 16:40] efiop commented on #4520
@tomasfarias That sounds good!

[2020-11-26 19:26] johnnychen94 opened #4979 "introduce a readonly property for better parallelization"
Training a bunch of models using different parameters now becomes much easier with the parameterization feature, this is a great improvement by deduplicating `dvc.yml`, but there's still one thing that blocks us from training multiple models asynchronously.

[code]

Naturally, we want to schedule multiple jobs asynchronously to different devices without error, e.g.,:

[code]

but since `data/train

[2020-11-26 19:33] johnnychen94 commented on #4958
It's not closed related so I put my thoughts in #4979 on what I'm expecting.

[2020-11-27 00:34] pmrowla commented on #4965
So for this case, this is currently expected behavior, although it probably shouldn't be. If you pass `-p .` into `gc`, DVC will try to open your current repo twice: once when you call `dvc gc` inside your DVC repo, and a second time when DVC looks through any repos passed in with `-p`. (So the repo will already be locked when we try to open it the second time)

---

Regarding `data/input/some_fol

[2020-11-27 02:16] skshetry commented on #4979
@johnnychen94, great feature request. It should be done similar to the `outs` section:
[code]

I don't like that it complicates `deps` section though.

We don't have any plans beyond #755 in the short term, which will only wait for locks rather than failing hard. And, we don't have the capacity to work on it right now, so contributions on it will be welcomed.

Regarding scheduling, we are introduc

[2020-11-27 03:24] johnnychen94 commented on #4960
Is `p3-nice-to-have` an accepted proposal but requires community efforts to work on? If so I could do this weekend by adding some tests based on https://github.com/iterative/dvc/issues/4960#issuecomment-733171910. And also some docs to the dvc.org repo.

[2020-11-27 03:50] pmrowla commented on #4960
@johnnychen94 If you'd like to work on this issue feel free to take it!

p3 issues are generally ones that the core team may get to eventually if there's enough user interest or need. But we have limited bandwidth and there's just higher priority features & issues that we need to address in the meantime.

[2020-11-27 04:19] skshetry commented on #4667
Looking at the code, I am not sure how even that's possible (the `path` is also being sent as `repo` somehow instead of being `None`).

@hugo-ricateau-tiime, could you give the latest version a try?

[2020-11-27 07:19] efiop commented on #3743
Let's start with something simple like `dvc stages <target>` that lists all stages in the `<target>`. We could then use it in our autocompletion scripts(not necessarily part of the first step).

E.g.
[code]
or with target:
[code]

[2020-11-27 07:32] lumbric commented on #4965
Hm don't really understand what you mean by "expected behavior". Doesn't this completely break the `-p` option?

Yes my example is a bit confusing, `-p .` doesn't make sense. What I wanted to achieve is to garbage collect files of some specific folders. So `dvc gc --workspace -p data` would make more sense for the example to demonstrate my use case and it leads to the same error message.

[2020-11-27 07:36] lumbric commented on #4965
Oh sorry, I think I completely misunderstood the `-p` option. Reread the help text and now I understand also your post... :)
I think what I was looking for is an option which allows to keep the complete cache for sub folders of the repository.

I guess this ticket can be closed or maybe the error message improved. Not sure if nested repositories is really a thing which needs to be supported.
 Sorr

[2020-11-27 07:40] karajan1001 commented on #4970
How about adding an environment variable to control the global DVC config path. Something like `JUPYTER_CONFIG_DIR` for jupyter notebook.

[2020-11-27 07:48] brainslush opened #4980 "scm: Forward git flags such as -c"
**Context:**

Azure DevOps Pipelines pull the git project of the branch from which the pipeline was called. If you want to to `git clone` either another project, another branch or use `dvc pull` to get some file you have to set the credentials in the `html.extraheaders` value with the `-c` flag.

This issue can be solved by calling git separately and then DVC or by calling `git config --global key

[2020-11-27 08:55] pmrowla commented on #4980
Should note that the only reason the `git config --global` workaround works is because git-python calls command-line git for clone. If/when we move cloning via dulwich or pygit2 that workaround would no longer work at all. I'm not sure that dulwich supports these kinds of extra flags at all, pygit2 does via libgit's [git_fetch_options](https://libgit2.org/libgit2/#HEAD/type/git_fetch_options)

[2020-11-27 09:06] #4965 closed

[2020-11-27 09:20] hugo-ricateau-tiime commented on #4667
Issue is still there (the uncaught exception is unchanged). Are you able to reproduce it?

[code]

[2020-11-27 09:26] efiop commented on #4970
@pmrowla Good point about `dvc version`(aka `dvc doctor`) getting crowded, but I also do remember bug reports in which I wished that I knew all the config locations that the user was using. So it does make sense to me to include configs into `dvc doctor`. The command is not really user-facing, but more of a debugging aid for developers, so adding 4 more lines (local, repo, global, system configs)

[2020-11-27 10:24] pared opened #4981 "repro: don't show `push` helper message when outputs did not change"
`version: 1.10.2`

From: https://github.com/iterative/dvc/pull/4737#discussion_r531502639

When we run `repro` and some stages get reproduced, we get a reminder about using push to keep our [updated files](https://github.com/iterative/dvc/blob/c989b28eae536f08767d3cb32e790187d63a581b/dvc/command/repro.py#L34).

The bug: in docs example we update code only, without affecting outputs (we are just ad

[2020-11-27 13:28] #4886 closed

[2020-11-27 13:28] #4912 closed

[2020-11-27 13:28] #4958 closed

[2020-11-27 13:30] zhiltsov-max opened #4983 ""dvc status" checks for remote updates in git imports when checking for workspace changes"
## Bug Report

Reproduce:

[code]

The `status` call will download the repository into a temporary folder and compare workspace against it, instead of comparing workspace against cache (like the documentation describes). This can be fixed by changing [this line](https://github.com/iterative/dvc/blob/master/dvc/repo/status.py#L23) with `check_updates=False`, but I'm not sure, if this is intended. L

[2020-11-27 13:45] zhiltsov-max opened #4984 "import-url: can have unexpected behaviour when imported data includes `.dvc` files"
## Bug Report

Reproduce:

[code]

Basically, when `dvc import-url` downloads some `.dvc` files, dvc can start to have unexpected behaviour in different places:
- different results of `import-url` with and w/o `--no-exec` option + `update`
- random problems with overlapping paths

Looks like a support for recursive remotes, but can have some unpredictable problems.

### Please provide information

[2020-11-28 02:37] skshetry commented on #4667
@hugo-ricateau-tiime, not able to reproduce. Tested with the following script
I used the following script:
[code]

[2020-11-28 04:09] pmrowla commented on #4984
So in this example, is `test/remote` a DVC repo? Could you elaborate a bit here on why you are trying to use `dvc import-url` on a path containing `.dvc` files in the first place?

Normally in this scenario you would use `dvc import` (and not `dvc import-url`) to import from the source DVC repo.

[2020-11-28 04:18] pmrowla commented on #4983
If you are referring to how `status` will do a shallow clone of the source git repo, this is expected behavior for imports and external dependencies. `status` has to examine (clone) the source repo in order to determine whether or not the imported file has been updated in the source repo.

[2020-11-28 04:20] #4983 closed

[2020-11-28 04:47] Melevir commented on #2381
I'll take `--no-shell` part. Planning to make pr by Tuesday.

[2020-11-28 05:27] Melevir commented on #2381
So, to make it clear, this is what I'll do:
- add `--no-shell` param to `CmdRun`'s parser (`dvc.command.run.add_parser`);
- access this argument to `dvc.stage.run.cmd_run`;
- if specified, add `shell=False` to subprocess.Poped;
- add tests.

That seems it or I'm missing something?

[2020-11-28 08:34] efiop commented on #2381
Hi @Melevir !

Thanks for looking into it! The plan regarding `run` looks pretty good! But, unless I'm missing something, looks like you are forgetting about `repro`?

Note that `cmd_run` has a bit more complex logic regarding `shell` (at least for posix), so it will be a little bit more involved than that. Let us know if you'll have any questions :)

[2020-11-28 08:54] efiop commented on #4983
We do plan on adding caching for these git repos https://github.com/iterative/dvc/issues/3496 in the future.

[2020-11-28 10:31] zhiltsov-max commented on #4984
It happened occasionally. I was triyng to import a local directory and it happened to contain a .dvc file. Once I tried to import it for the second time, I've got the error, which was really hard to be understood. I has no intentions in importing a dvc repo.

[2020-11-28 10:40] zhiltsov-max commented on #4983
According to the documentation, `status` has to compare the workspace against the cache:

I would expect it to check file existence and hashes, and compare them to the saved ones in .dvc files.

[2020-11-28 11:07] pmrowla commented on #4983
This is what `dvc status` does for regular tracked files, whether they are added via `dvc add` or `repro`/`run` pipeline outputs. But imported/external files are handled differently, since it makes sense for status to also check the status of the imported `.dvc` file itself.

[2020-11-28 11:12] pmrowla commented on #4984
I see, we could consider adding a warning if a user tries to use `import-url` with a directory containing `.dvc` files. But yes essentially it is expected that this will break things, since the repo will end up reading the imported `.dvc` file and treating it like any other `.dvc` file.

[2020-11-28 13:41] anotherbugmaster opened #4985 "DVC incorrectly ignores outputs"
## Bug Report

DVC computes ignored outputs relatively to corresponding `*.dvc` instead of `.dvcignore` location.

### Please provide information about your setup

[code]

`DVC status -v` output

[code]

[2020-11-29 00:47] ANaumann85 opened #4987 "dvc 1.10.2 does not provide the extra 'webdavs'"
## Bug Report
I wanted to test the webdav protocol. The command `dvc push -r webdavremote` (where webdavremote is the name of my remote). That gave me the useful output:
[code]
But the installation of the webdav extension using pip3 leads to the following first lines:
[code]
Hence the installation did nothing. I am a bit puzzled, why there is the warning and at the same time the extra _dvc[webdavs

[2020-11-29 01:14] pmrowla commented on #4987
The error message should say to install `dvc[webdav]` and not `[webdavs]`, but either way it should also be installed automatically with `[all]`.

Is this a DVC installation that you've upgraded from earlier versions via pip? webdav support was added (relatively) recently, so it's possible that if you upgraded via pip it was not installed.

Running
[code]
will only upgrade core DVC, and not any of

[2020-11-29 01:49] ANaumann85 opened #4988 "webdav: parameterize the url"
# The cause
The recent urls for webdav access from [nextcloud](https://docs.nextcloud.com/server/19/user_manual/files/access_webdav.html) and [owncloud](https://doc.owncloud.org/server/9.0/user_manual/files/access_webdav.html) contain the username like this:
[code]

If one wants to share a repository with such a remote, the user has to change the url, together with the user name and password. Wher

[2020-11-29 01:59] ANaumann85 commented on #4987
Yes, I upgraded from 1.10.1 via pip. But I had not installed any remote bevore and run
[code]
which installed all remotes successfully.

Hence, from your answer, I assume that the trailing s in _webdavs_ was the only problem?

[2020-11-29 02:19] shcheklein commented on #4988
@ANaumann85 quick question, since I don't know that much about webdav. If user `A` sets `dav/files/A/storage` as a remote and user `B` is trying to access it as `dav/files/B/storage` - we she the same set of files? Another way to put this question - is

`dav/files/${USERNAME}` defines per user location or `${USERNAME}` here serves as auth only?

[2020-11-29 03:16] pmrowla commented on #4987
Yes, the issue was just the trailing s. Internally, the scheme for webdav over SSL/TLS is `webdavs`, but the extra to be installed is `webdav` (which covers both `webdav` and `webdavs` remote URL schemes). However, when we generate the error message for a missing remote dependency we incorrectly substitute the URL scheme rather than the proper pip extras name.

This bug would also apply to `http`

[2020-11-29 04:28] skshetry commented on #4988
@ANaumann85, a good workaround is to use password-protected public-link share and use share-id as username and token as a password.

Check https://doc.owncloud.org/server/10.5/user_manual/files/access_webdav.html#accessing-public-link-shares-over-webdav for more details. The downside of this is that you won't be able to see "Activity" if that matters.

[2020-11-29 05:29] jorgeorpinel opened #4990 "version: separate DVC from project info & clarify field names"
- Separate the output of the `version` command into a **DVC** section and a **Project** section.
- Clarify field names for ambiguity and preciseness.

Example:

[code]

[2020-11-29 05:38] skshetry commented on #4990
@jorgeorpinel, your output looks good. I don't agree on listing all of the remotes, as there's too many of them (3 have open PRs) and too few people that use them.

I think we should just throw a JSON output (or, via `--json` flag), which would allow us to add more information without making the `dvc version` crowded.
We can ask for `dvc version --json` or `dvc repo --json` for support, and keep s

[2020-11-29 10:05] ANaumann85 commented on #4988
Strictly speaking these are two different questions.
1. The url `dav/files/<username>/storage` links to the same files only if the storage folder is shared between the users. Otherwise they link to independent folders.
2. The url part `dav/files/${USERNAME}` references only the location and has nothing directly todo with authentication. The authentication might be done through user/password or tok

[2020-11-29 10:06] ANaumann85 commented on #4988
So after thinking and looking at the [rclone](https://github.com/DanielDent/git-annex-remote-rclone) remote of git annex, there is even a better way than variables.

One could introduce
  * a webdav provider (like owncloud, nextcloud, ..)
  * specify a base url, that would be `example.com/owncloud/remote.php` (or just example.com?)
  * a path (or prefix) inside the webdav. That would be the `path/

[2020-11-29 11:13] ju0gri commented on #4816
In the case of `dvc import`, what is the desired behaviour for example when importing something like `dir/subdir/foo*` - should `dir/subdir` contain one individual entry for each file matching the pattern?

[2020-11-29 11:25] ANaumann85 commented on #4988
I tried that and have several issues. So the following questions and problems arose:
1. What is the share token in that context? And where do I get it from? I found several websites talking about it, but none explains where to find it. Hence i cannot authenticate.
2. I do get a https-link from my provider. But even if I configure that with an http remote, it claims to work, but the files are not t

[2020-11-29 14:20] skshetry commented on #4988
@ANaumann85, from the sharing tab of the item, open `Public Link` -> "Create Public Link".
A popup appears. Then, add an appropriate share name, choose either of "Download/View/Upload" and "Download/View/Edit" permissions, enter a password and then click "Share" button.

Refer here for more info: https://doc.owncloud.com/server/user_manual/files/public_link_shares.html#creating-public-link-shares

[2020-11-29 14:34] skshetry commented on #4988
Oh, I see that you already solved the issue. `dvc gc` might not work properly based on what permission you used (`Download/View/Upload` vs `Download/View/Edit`), but other should work.

[2020-11-29 15:08] ANaumann85 commented on #4988
Interesting to see, that you can select different permissions. I can only select either "readonly", or "upload and edit" or "upload only".

But to get you right, you mean that `dvc gc --cloud` might not work without Edit (or upload?) permissions, right? Without the argument `--cloud`, the command `dvc gc`  should not change the remote.

[2020-11-29 15:11] skshetry commented on #4988
You must be on an old version. I just use it locally most of the time, so it's the latest one. You can try out the latest here: https://demo.owncloud.org/

Yup, I meant `--cloud`/`-c`.

[2020-11-29 18:15] Xyand commented on #4979
Why isn't it the default behavior?

I'm new to DVC, but I was under the impression that `deps` are inputs (read) to the stage while `outs` get modified (write). Why can't multiple dvc runs read-lock the same dep?

[2020-11-29 19:17] shcheklein commented on #4988
@ANaumann85

sounds like a right approach, also it can be introduced w/o breaking the compatibility (only if `base_url` is specified, resolve remote `url` using it).

Does resolve mechanism also takes `user` and appends in to the `base_url`?

@ANaumann85 not sure I follow here, could you elaborate a bit please?

----------

One question that is still not clear to (again, mostly because I don't "fe

[2020-11-29 19:43] ANaumann85 commented on #4988
Yes. My idea was, that the remote internally uses  `<base_url>/<providerSpecificPart>/<prefix>` for storage. The <providerSpecificPart> would be
* <userName> in case of nextCloud and ownCloud
* can be anything, for other cloud providers. Sadly, I know only our nextcloud instance for sure.

With the recent nextcloud instance, I did not face conflicts with already existing folders. But I'll check wh

[2020-11-29 19:52] shcheklein commented on #4988
makes sense. Does rclone has a logic internally that detects a specific provider type?

can we ask users to specify `providerSpecificPart` as part of the `base_url` - probably not that will change in this case?

for them probably it means that using shared ID is the preferable way (no name collisions, same stable URL, etc) ... I would update docs in this case.

[2020-11-29 20:06] ANaumann85 commented on #4988
Yes, the shared ID is preferable. But I do not know, if they work with group shares.

Regarding the `providerSpecificPart` : The Idea behind that is, that it might contain the username. Hence, if we ask the user for that, he has to add that information twice. Rclone asks the user for the providername and implements the access internally.

From looking at the [rclone](https://rclone.org/) interface

[2020-11-29 20:10] jorgeorpinel commented on #4990
Cool!

Not a very strong opinion, but most people won't know what "All" includes. I also don't see a problem in the list being long, so I would def. vote to list them all. Another option is to include a link to https://dvc.org/doc/command-reference/remote instead.

Also no preference on what info. you guys want to include in the output or if only a --json version will include all of it, but if the

[2020-11-30 03:43] victorskl commented on #4876
Not much to add, yes. We are okay if it works this way for now. We still concern that we might encounter the potential recoverable edge case @reisingerf  and you described, yes. It works well so far in DEV environment. Happy to report back after we started put the pipeline into Production and, made couple of production runs.

[2020-11-30 06:13] efiop commented on #4974
Closing in favor of https://github.com/iterative/dvc/issues/4604

[2020-11-30 06:13] #4974 closed

[2020-11-30 06:42] johnnychen94 commented on #4979
I thought the main reason is to prevent the dvc caches from being polluted, but then I realize the following anti-pattern actually works:

[code]

By adding `readonly` property, we can add eager md5 checks on the readonly input data, and stop the repro when md5 doesn't match.

[2020-11-30 07:06] efiop opened #4992 "cache: check and gracefully handle move to existing file"
See https://github.com/iterative/dvc/issues/4876#issuecomment-726461567

[2020-11-30 07:06] efiop commented on #4876
@victorskl Sounds good! Created https://github.com/iterative/dvc/issues/4992 for it. Closing this issue for now. Thanks again for the feedback!

[2020-11-30 07:06] #4876 closed

[2020-11-30 10:20] hugo-ricateau-tiime commented on #4667
I'm using an `s3` remote; that might be the key point.

[2020-11-30 10:28] Nasreen23 commented on #4887
@shcheklein : Yes Ivan, that's right. As discussed in the dvc dev-talk forum, have created this issue and provided the solution.
Can we know by when can this solution be implemented at your end and can be release?

[2020-11-30 10:36] efiop commented on #4887
@Nasreen23 Could you elaborate on why you are using `--external` in the first place? Also, does the same issue arise when you `dvc push` to that bucket? `--external` is an advanced feature that people tend to misuse pretty often when they are actually looking for https://github.com/iterative/dvc/issues/4520 feature.

[2020-11-30 11:00] pared commented on #4667
@hugo-ricateau-tiime - could you verify, that in the original code, `rb` is set as `kwarg`? (I mean its  `open('test/foo.pickle', mode='rb')` and not ` open('test/foo.pickle', 'rb')`)?

[2020-11-30 11:06] hugo-ricateau-tiime commented on #4667
Yes it is:
[code]

[2020-11-30 11:07] pared commented on #4667
@hugo-ricateau-tiime thanks, just double checking

[2020-11-30 11:09] skshetry commented on #4667
@hugo-ricateau-tiime, are you able to reproduce the failure with the given script above? If not, could you try modifying it to make a reproducible script?
That'd really help us.

It's unlikely, as it's happening before DVC does anything with s3 remote.

Another question, the trackback you posted is a complete one, right? Is there anything missing?

[2020-11-30 11:44] LuisMoralesAlonso commented on #4937
any comment here?

[2020-11-30 12:24] Nasreen23 commented on #4887
@efiop - This is our use case for which I am trying to use dvc add --external.
 Use case is to track and version the input data set that is available on s3 bucket. Providing capability to checkout the older data set versions at a given point in time.

To achieve this- we are using the dvc add --external feature which will cache the input data set in a cache remote location(i.e. on s3). We aren't s

[2020-11-30 13:20] johnnychen94 opened #4996 "Boolean value might get unnecessarily uppercased"
## Bug Report

Python uses `True`/`False` as boolean values, while in other languages it might not be the case (Julia uses `true`/`false`).

It seems that the correct behavior is `dvc` faithfully stores the params as strings, and only does type conversion (str -> bool/int/float) when it needs to output some statistics, e.g., `dvc params diff`.

This seems to be an edge case for bool values only, s

[2020-11-30 13:22] Melevir commented on #2381
I've made a pr for `run` command only.
Please, review it, then I'll make a new pr for `repro` command and will make a pr with docs improvements.
Tests and linters are green locally, lets see what CI says.

[2020-11-30 14:48] hugo-ricateau-tiime commented on #4667
@skshetry the given script works as expected on my side as well; and I am now unable to reproduce my original MNWE (thanks to the upgrade from `dvc==1.8.1` to `dvc==1.10.2` I assume).

However, I am still encountering the same exception with my use case BUT (I missed that in [my first answer](https://github.com/iterative/dvc/issues/4667#issuecomment-734733728)), with a shorter traceback:
[code]
(t

[2020-11-30 16:46] jamesmyatt opened #4997 "conda: docs for conda extras and "missing" help messages"
As far as I can tell, there's no documentation of the conda "power user" packages, as described in https://github.com/conda-forge/dvc-feedstock/blob/master/recipe/meta.yaml

Can this be added, please?

[2020-11-30 19:00] #3738 closed

[2020-11-30 20:45] johnnychen94 commented on #4883
To properly set up GitLab CI, I need to modify parameters with a much much smaller network and dataset, then I ran into this...

[code]

Which would be much easier to read if we can reformat them into:

[code]

It currents failed to parse the params input because one extra whitespace is inserted when flattening multiline scripts into oneliner...

[2020-12-01 00:21] theelderbeever opened #4998 "dvc install --use-pre-commit doesn't install pre-push and post-checkout"
## Bug Report

`dvc install` can't be used if a repository is already using `pre-commit`. While you can use `dvc install --use-pre-commit`, the `pre-push` and `post-checkout` hooks are not added to the git hooks. This behavior is not documented and feels misleading. It may be personal opinion but, I would expect there to be a way to add those hooks when using `pre-commit` and right now that doesn'

[2020-12-01 00:58] shcheklein commented on #4979
I think this is considered an undefined behavior from the DVC POV. E.g. it won't allow you to specify `data.txt` as an output (`out`) in the `train` stage (while effectively it is an output).

it seems to me that we can assume that as well (optimistic parallelization). I would prefer this vs creating a separate field in the `deps`/`outs` sections.

The biggest question for this ticket would be the

[2020-12-01 01:07] pmrowla commented on #4997
I think this is by design, the recommended way for installing via conda is to install the full `dvc` package which includes everything, like all of our other binary packages.

I'd consider "power user" in this case to be someone familiar enough with how conda/conda-forge works to investigate the extras sub-packages themselves.

[2020-12-01 01:32] pmrowla commented on #4998
This is really a pre-commit behavior thing, and is not DVC specific.

The `--use-pre-commit` flag just modifies your existing `.pre-commit-config.yaml` and adds the DVC configuration. If you are already using pre-commit then you still have to tell pre-commit to install the hook stages you wish to use. By default pre-commit only ever installs the `pre-commit` hook, and will ignore any other stages

[2020-12-01 01:34] pmrowla commented on #4998
This is something that we can note in the DVC docs though, so I'll transfer this issue to the dvc.org docs repo

[2020-12-01 01:37] karajan1001 commented on #4996
Here , the boolean value true and false should follow neither `python` nor `julia` but the `yaml` format or the `json` format, it is a bug I think.

[2020-12-01 01:45] pmrowla commented on #4883
For running an experiment with this many modified parameters, I would recommend editing `params.yaml` directly rather than using the `dvc exp run --params` option. `dvc exp run` will include any uncommitted changes to `params.yaml` in the experiment.

Whether you do this via `sed` or a separate script that writes `params.yaml` would be up to you.

[2020-12-01 02:32] jorgeorpinel commented on #1627
Hi. Is this still meaningful having the run-cache feature? Thanks

[2020-12-01 02:57] jorgeorpinel opened #5000 "Rename `commit` cmd --no-commit options to `cache` and --no-cache"
After reviewing and simplifying the `dvc commit` cmd ref (in iterative/dvc.org/pull/1978) I realized it can be confusing to call this "committing" since we're mainly talking about caching (or not) data. Yes, it can also change hash values in DVC files but that's kind of an edge case given the main use for this: Data/code dev process where `add/repro/run --no-commit` are used until ready, and finis

[2020-12-01 05:27] skshetry commented on #5000
Magic number :tada:
![Screenshot from 2020-12-01 11-11-50](https://user-images.githubusercontent.com/18718008/100700625-024bdf00-33c6-11eb-8bc0-fb1831c4e6be.png)

[2020-12-01 06:54] efiop commented on #4997
@pmrowla We do document it for pip package, so it makes sense to do the same for conda.

[2020-12-01 06:56] efiop commented on #4887
@Nasreen23 Thanks, I'm just making sure you are aware of potential consequenses of using `--external`. For example, if anyone in your team runs `dvc checkout`, it will change the file on s3 for everyone. Is that desired in your case?

[2020-12-01 07:54] skshetry commented on #4996
The thing here is what boolean means on the shell context. So, the use of boolean is kind of undefined behaviour, though there's nothing wrong in making it return `false` or `true`, i.e. lowercased.

[2020-12-01 08:17] karajan1001 commented on #4996
@skshetry
Shouldn't we deserialize these arguments through `YAML`, instead of passing them through the shell?

[2020-12-01 08:30] skshetry commented on #4996
@karajan1001, they are stringified. The problem is that when YAML is loaded, it gets loaded as Python's boolean `True`/`False` which on `str()` becomes `True`/`False`.

---

in reality. the parser actually just generates a resolved dvc.yaml-like data, and substitutes.
So, if you add a `cmd` with just `${opt1}`, the substitution happens as a boolean value.
If it has other string appended to it (eg:

[2020-12-01 08:30] efiop commented on #4816
@ju0gri `dvc import` and its signature only supports one target, so it would be safe to just error-out if after globbing you get more than one target.

[2020-12-01 08:33] skshetry commented on #4996
I'll solve this issue by just converting boolean stringification to `true`/`false` as an edge-case.

[2020-12-01 08:38] karajan1001 commented on #4996
Why not using the `dump` method in `YAML` and `JSON`?
![image](https://user-images.githubusercontent.com/6745454/100716306-78b30600-33f3-11eb-86df-e063f761fe0d.png)

[2020-12-01 08:48] skshetry commented on #4996
It's many times slower than the following for simple conversion:
[code]

But, your point is valid, in that using `json.dumps` _might_ allow us to provide better compatibility even on edge cases.

Also, we don't support the dict/list in `cmd`, so not much of a need to use those yet.

[2020-12-01 09:48] jamesmyatt commented on #4997
@efiop , that's my thinking. I only discovered the sub-packages by installing everything and being shocked by the number of dependencies. I would have been much happier to see this mentioned in the docs.

In fact, it's a bit odd that on pip `dvc` is the minimum and `dvc[all]` is everything, while on conda `dvc` is everything and `dvc-base` is the minimum. I understand that was a choice and a conse

[2020-12-01 10:09] efiop commented on #4997
@jamesmyatt Extras for conda package were introduced very recently, so we kinda had to preserve `dvc` as `all-in-one` to not break it for existing users. We could consider switching in an upcoming 2.0 release though. We'll need to adjust the instructions https://github.com/iterative/dvc/blob/1e1a0999f6b3cde830d9b8810009d0451bcc953d/dvc/tree/base.py#L110 to have the same thing for conda as we do fo

[2020-12-01 10:19] skshetry commented on #4996
@johnnychen94, thanks for trying out parametrization. As you seem to use parameterization quite a lot, it'd be great if you could also provide some feedback overall (not just on the bugs but the feature :stuck_out_tongue_winking_eye:). How's the experience?

You can either respond here or on the original issue #3633. We are hoping to release this feature at the end of the next month with a pre-rel

[2020-12-01 10:20] #4996 closed

[2020-12-01 10:24] efiop commented on #4997
Created https://github.com/conda-forge/dvc-feedstock/issues/168 for conda to make a switch in 2.0. Added checkbox https://github.com/iterative/dvc/issues/4841

[2020-12-01 10:27] #4907 closed

[2020-12-01 12:00] johnnychen94 commented on #3633
The biggest improvement of the parametrization feature I've experienced is that I can now scale the workflow **by only modifying `params.yaml`**:

This defines the minimal repro workflow (For simplicity I've removed a lot of params here):

[code]

In this setting, I trained one model, and test the model on one dataset (Set12).

the corresponding dag is

![image](https://user-images.githubuserconte

[2020-12-01 12:40] efiop commented on #4987
Just for the record: http support is included into the default package and doesn't require any extras, so we don't have to fix it. Created #5005 to fix it for webdavs.

[2020-12-01 13:12] skshetry opened #5006 "parametrization: fails for non-string interpolations"
See: https://github.com/iterative/dvc/wiki/Parametrization#known-issues

If the interpolated value is not a string in the params file, DVC will fail with a validation error.
Let's say, you have params with the following values:

[code]

It might fail with the error similar to the following:

[code]

[2020-12-01 13:12] skshetry commented on #5006
This happens because DVC does not know about the schema during the parsing time, and is only used for validating when loading the yaml data.

We could use a whitelisting to convert data to an appropriate format, but it might not scale. It'd be better to have some way to "convert" data automatically through the schema itself.

Similar issue in #4996 was fixed with a custom solution for the boolean.

[2020-12-01 15:04] johnnychen94 opened #5007 "no read locks to stage output"
Separate from #4979, it would significantly improve the current dvc parallelization capibility if `data.txt` doesn't get locked.

[code]

[2020-12-01 15:05] johnnychen94 commented on #4979
I'm closing this in favor of #5007 and #755

[2020-12-01 15:06] #4979 closed

[2020-12-01 15:11] johnnychen94 commented on #755
Cross-post from #3633

---

We could go further based on option 1 in https://github.com/iterative/dvc/issues/755#issuecomment-561031849 by letting users to specify how jobs/stages are run:

[code]

`extract_data@*` follows the same glob syntax in #4976

I never used slurm so I don't know if this is applicable to cluster cases. I feel like dvc should delegate distribution computation tasks to other

[2020-12-01 16:20] sajjap commented on #4887
Hello efiop, yes that is the desired outcome for us.

[2020-12-01 16:53] Suor opened #5008 "dvc: parametrization upgrade path"
We used to use `use` key and then switched to `vars`, which breaks older commits for whoever used it earlier. Is it possible to make both be readable? I.e. if that was simple rename then shouldn't take much code.

[2020-12-01 16:55] efiop commented on #5008
For the record: these keys were never officially released and anyone who used them took an explicit risk by enabling a special config option.

@skshetry WDYT?

[2020-12-01 16:58] Suor opened #5009 "dvc: metrics.show() and params.show() order"
It looks like these go in somewhat random order. Is it possible to make them reflect the order in `dvc.yaml` file? Since Python 3.6 dicts preserve order so we can still use that as an output type.

[2020-12-01 16:59] efiop commented on #5009
@Suor Could you elaborate why that even matters?

[2020-12-01 17:09] Suor commented on #5009
As a default order of columns in the viewer. Sure we can simply sort alphabetically, but the order in a file is probably user defined already and then we should use it.

[2020-12-01 17:13] Suor commented on #5008
If it takes significant effort to fix or support then we should drop it.

[2020-12-01 17:18] skshetry commented on #5008
@Suor, right now, it's only enabled via flag. I assume Viewer only collects through brancher, which means it has to either set the config before collecting all (which might slow down collection as it's not optimized) or set repo config on each iteration of the branches.

It might be easy to add the support back, but that means we have to support this syntax everywhere (not just on the Viewer side)

[2020-12-01 17:19] efiop commented on #5009
That seems really viewer-specific. Not sure if it is worth adopting as dvc core behavior. Have you implemented it in the viewer already?

[2020-12-01 17:34] skshetry commented on #5008
@Suor, maybe adding support for skipping stage collection for that particular file would be a better option here, rather than having those syntax supported *forever*.

[2020-12-01 18:05] ju0gri commented on #4816
Ok, so I was going down the complicated route with the solution for this. Does it still make sense to add the functionality to `import` in this case? The only benefits i see with this is to simplify typing a long complex filename e.g. `foo234783478432hjhfjdfd`, and maybe as a building block for future work where import might return a list of stages similar to `add`.

[2020-12-01 18:40] efiop commented on #4816
@ju0gri Yep, still useful.

[2020-12-01 20:06] efiop commented on #5009
Ok, had a private discussion about it. So this matters for dvc CLI as well, so it is our problem too, though not as urgent. We don't have capacity to deal with it right now ourselves, so if it can be implemented in viewer for now or you could contribute the change back (at least for API) - that would be great.

[2020-12-01 20:51] jamesmyatt commented on #4997
Making a change for version 2.0 sounds like a sensible idea. Thanks.

[2020-12-02 06:01] Suor commented on #5009
Can't be implemented in the viewer (without monkey patching). So no not implemented yet in any way.

[2020-12-02 06:04] skshetry commented on #3633
Hi, everyone. The parametrization feature is complete, at least the things that we planned for the next release. We are hoping to release a pre-release version this week. So, it'd be really helpful if you guys could provide feedback.

[2020-12-02 07:51] mbraakhekke commented on #1676
Late reply. Nice to see everyone's input!

Yes, the time stamps are not relevant.

OK, this would be one of those unforeseen consequences I mentioned. Yes, I see that for verification purposes this would cause problems. Indeed, my main motivation is avoiding unncessary reruns of pipeline stages. So you're saying that the custom hash would complement the standard hash, rather than replace it?

I se

[2020-12-02 07:53] dsuess opened #5011 "Environment variables in `.dvc/config`"
## Bug Report

In DVC 1.9 (and many versions prior to that) it was possible to use environment variables in the config. One useful application was to setup the credentialpath in a user-independent way like this:
[code]

However, with 1.10 this doesn't work anymore and `dvc push` cancels with the following error:
[code]

### Please provide information about your setup

**Output of `dvc version`:**

[2020-12-02 07:59] mbraakhekke commented on #1676
@shcheklein, this discussion is quite long. Could you tell me with which post the relevant part begins :wink:?

[2020-12-02 08:33] skshetry commented on #5011
Most likely it's #4802. @dsuess, I don't think it was a supported feature.
A workaround that might work is using a relative path from the config location.

[2020-12-02 11:00] mzietlow opened #5012 "dvc <command> fails with known numpy/win10 error; Windows 10 (20H2) for dvc version >=1.10.0;"
## Bug Report
I have two systems running Win10, one on 2004, the other on 20H2 and I have installed DVC via https://github.com/iterative/dvc/releases.

When executing dvc <any-command>, I get a Win10 specific error message (see my output of $ dvc version). Roughly, this is caused by details in ucrtbase.dll which, in turn, lead to errors in numpy's fmod function.

I have rolled my system-wide numpy

[2020-12-02 11:01] dsuess commented on #5011
Thank's for your quick reply! Unfortunately, relative paths won't work for us. To give a bit more detail: We share repos with DVC between multiple users. We have a convention that everyone should have a certain named profile in their credentials file, to access the shared DVC remote bucket. This way, we don't have to commit sensitive information to a repo, users can push/pull to the bucket without

[2020-12-02 11:14] johnnychen94 commented on #5011
In case you haven't try it out yet; you can set credential informations in `~/.config/dvc/config` file:

[code]

[2020-12-02 12:45] #4899 closed

[2020-12-02 12:49] efiop commented on #4726
Another option might be to chdir to some temporary location, before running the tests. I suppose there are a bunch of tests that accidentally rely on being in dvc project.

[2020-12-02 12:56] efiop commented on #4578
Update: we can't really store perms for files in datasets right now, as `.dir` cache format doesn't currently allow for expansion. We'll be changing that in 2.0 very soon. But we could totally start with something like:
[code]

[2020-12-02 13:10] Nasreen23 commented on #4887
@efiop - Having explained the use case for which we are using dvc add --external feature, did you happen to look at the suggested solution?

[2020-12-02 14:37] skshetry commented on #5012
@mzietlow, it seems that there's not much we can do as it's a Windows issue. I am not sure if pyarrow would be happy with 1.19.3. Let me try :)

[2020-12-02 14:51] skshetry commented on #5012
@mzietlow, can you use pip packages? We only need numpy for `hdfs` support, only because it comes with the pyarrow. Also, it seems conda packages will work fine.

[2020-12-02 15:04] mzietlow commented on #5012
@skshetry I was able to use DVC via my local python3.9 installation as a workaround.

[2020-12-02 15:39] alustenberg commented on #1909
seems this was resolved as part of #4131, ef944e650

[code]

[2020-12-02 15:41] skshetry commented on #1909
Thanks for reminding @alustenberg. That was fixed already.

[2020-12-02 15:41] #1909 closed

[2020-12-02 17:46] #4621 closed

[2020-12-02 18:59] #4638 closed

[2020-12-02 19:46] #4905 closed

[2020-12-02 19:47] shcheklein commented on #5011
@dsuess

In most case users do not need to setup `credentialpath` . If it is in it's default location, `boto` (the lib we use to access S3 or S3-compatible storages) will read them automatically.

In case someone needs to set a custom `credentialpath` w/o affecting others, they could utilize `--global`, `--system`, `--local` options for the `dvc remote modify` command . You can find more informati

[2020-12-02 20:45] shcheklein commented on #1676
@mbraakhekke sure, I guess the last comment summarizes it well enough - https://github.com/iterative/dvc/issues/3439#issuecomment-663873682

The idea is that for every dependency and/or output in DVC files we could specify a custom script, command, whatever to execute on that dependency/output before we calculate `md5`. To be be precise: `cmd <dep-file/out/file> | md5` instead of `md5 <dep-file/ou

[2020-12-03 06:02] pared commented on #4667
@hugo-ricateau-tiime

So, do I get this right: cloning error stopped showing up after upgrading version, right?

you could add to your code (before API call):
[code]

Would it be possible to post the results of code run with this piece of code in it?

[2020-12-03 07:19] pmrowla commented on #4822
#4935 is open for the remaining task here, the checkpoints issues are resolved

[2020-12-03 07:19] #4822 closed

[2020-12-03 10:50] efiop commented on #4373
Keeping open for the question about multiline cmd handling raised by @skshetry

[2020-12-03 12:52] skshetry opened #5021 "dvc.api.open: io.UnsupportedOperation: seek with joblib.load"
## Bug Report

Reproducible script:
[code]

[code]

[2020-12-03 16:47] hugo-ricateau-tiime commented on #4667
@pared, yes, you're right.

* With the target file already present at desired location (baseline):
[code]
* With the target file missing from both desired location and local cache:
[code]

Does the `fetched: [(0,)]` means that nothing was retrieved from the storage? If so, does it correspond to the number of elements retrieved in cache or in RAM?

[2020-12-03 18:15] theelderbeever opened #5024 "Method to add all changed files"
Add a method that adds all of the changed files that are tracked by `dvc`.  Occasionally, when a lot of files have been changed in a project using dvc it can be a pain to try and add all of the changed files. `dvc add --glob **/*.extension` works in some regards but it can be difficult to come up with a "non" greedy wildcard expression.

Consider adding something like...
[code]

[2020-12-03 18:45] xmaayy commented on #3745
I am also getting this bug, any solutions?

[2020-12-03 18:53] jorgeorpinel commented on #4816
Question:

We've introduced the `--glob` option to a few commands to implement some of these patterns above (the ones covered by glob i.e. 1,2, and 5 from https://github.com/iterative/dvc/issues/4816#issuecomment-719996406)

Is the option temporary, expecting to make this default the behavior at some point? Otherwise I think we may need a better term as discussed in https://github.com/iterative/dv

[2020-12-03 19:36] Fotomaterjal opened #5023 "RuntimeError: can't start new thread with `dvc import-url`"
## Bug Report

### Issue at hand
I cannot seem to be able to run dvc import-url. I tried the pip and conda  dvc versions, python-3.7 and python-3.8 but I'm getting this error:
`ERROR: unexpected error - can't start new thread`

I tried to import data from a local URL (dvc repo) on a shared cluster. I am running dvc on an HPC cluster where users have limits on their threads - maybe it's caused by t

[2020-12-03 19:50] efiop commented on #3745
Hi @xmaayy ! Are you also using cache.s3? If so, you are probably misusing `--external`. What you really want is https://github.com/iterative/dvc/issues/4520 , which we don't have implemented yet, so you need to download the data manually to your local machine, `dvc add` it and `dvc push` it.

[2020-12-03 21:26] shcheklein commented on #5024
@theelderbeever may be `dvc commit` works in this case?

[2020-12-04 02:26] pmrowla commented on #5023
Seems like this just needs the changes from https://github.com/iterative/dvc/pull/4977 added to `dvc import-url`.

For push/pull we also have the `remote.jobs` config option now, it would probably make sense to have the same thing for import/import-url as well

[2020-12-04 03:10] skshetry commented on #5008
@Suor, could you please respond? If there's nothing for me to do, please close the issue.

[2020-12-04 03:38] skshetry commented on #5023
@Fotomaterjal, could you please try using `dvc import` instead? It is the command to import data from the dvc repo. `import-url` is more suitable for a filepath/url.

Also, note that `dvc import` from a repo does not yet support multithreading, which is a WIP in #4977.

[2020-12-04 04:30] skshetry commented on #4667
This just means the id in the DVC's state that the 1 item has been fetched.

It means that it's not in your workspace nor in the cache, but exists in the remote, right?

This might be a bug in the DVC. It could happen if the network gets closed prematurely, or something similar happens. It could also happen if the pickled file is itself corrupted.

Could you try the following script? And, please m

[2020-12-04 04:31] jorgeorpinel opened #5025 "Consistency of desc fields in dvc.yaml and .dvc files"
The new `desc` field made me rethink the ability to have user data in DVC files. Expand below for the current options (this emoji 👉 points to unique characteristics of each one):

<details>

**YAML comments**

- 👉 Part of the YAML format anyway, I guess
- Only meaningful to the user
- DVC should ignore (but preserve) these.

**`meta` field**

- A valid field in dvc.yaml, at the stage level — part

[2020-12-04 04:40] jorgeorpinel commented on #4413
No one seems to have this problem so I'll close it for now but still, if you could help me answer the question of when does `checkout` delete data (what's the logic), that would be great (for docs purposes) @skshetry and maybe cc @efiop

Thanks!

[2020-12-04 04:40] #4413 closed

[2020-12-04 06:51] Suor opened #5027 "ValueError while reading dvc repo"
Getting
[code]

while reading dvc repo history, https://sentry.io/organizations/iterative/issues/2068029832/?project=5220519&query=is%3Aunresolved&statsPeriod=14d

[code]

[2020-12-04 06:57] Suor opened #5028 "LockfileCorruptedError while reading dvc repo"
[code]
https://sentry.io/organizations/iterative/issues/2070050025/?project=5220519&query=is%3Aunresolved&statsPeriod=14d

### Please provide information about your setup

dvc version 1.9.1+96ead9

[2020-12-04 07:02] skshetry commented on #5028
@Suor this does not look like a bug to me. `cmd` is clearly missing from `dvc.lock`, and it's mandatory.

[2020-12-04 07:29] Fotomaterjal commented on #5023
I tried `dvc import` and having different troubles with this command.

[code]

[2020-12-04 07:34] skshetry commented on #5023
@Fotomaterjal,  `dvc import` requires first argument to be a path to the git root.
So, it should be something similar to:
[code]

`-o` downloads the `data/imgs` as `data` folder.

[2020-12-04 07:41] skshetry commented on #5027
@Suor, is there more information regarding the repo? It seems that the path is overlapped in the `outs`/`metrics` section. See https://github.com/iterative/dvc/issues/4010, there are assumptions in `tree`s that outputs are always unique, which is wrong.

[2020-12-04 07:45] Fotomaterjal commented on #5023
Thank you for the swift response! Works like a charm now.

Should I close the issue then?

[2020-12-04 07:49] skshetry commented on #5023
@Fotomaterjal, yes, since this is not a supported feature till #4977 is solved.

[2020-12-04 07:52] Fotomaterjal commented on #5023
EDIT: I also tried `dvc get` in the same setup and got
[code]

[2020-12-04 07:53] pmrowla commented on #5025
I think the reasoning is that `desc` is not only relevant to the user, it's also relevant to the viewer. The field can specifically be used to add a text description to an output, that will be displayed in the viewer.

`meta` can contain literally anything and generally only means anything to the user that put something into the `meta` field, so it does not make sense for the viewer to try and fig

[2020-12-04 08:04] skshetry commented on #5023
Segmentation fault looks like is from OpenBLAS, not from DVC.
Regarding processes, from the log, it seems DVC is opening ~120 processes, whereas max is 4096. Anyway, it seems DVC should limit the maximum anyway.

We also need `--jobs` for the `dvc get`. Keeping it open.

[2020-12-04 08:04] #4594 closed

[2020-12-04 08:08] skshetry commented on #5023
@Fotomaterjal, would `dvc get --jobs` work for you? We should be able to implement this option after #4977 is done.

[2020-12-04 08:10] marksein07 opened #5030 "unexpected error for aws training machine"
## Bug Report
dvc pull and reproduce raise a unexpected error on aws gpu training machine

I use gitlab on aws g3xlarge and try to dvc pull data from gdrive

$ dvc version 1.10.0
$ git version 2.17.1

[code]
the error raised before any verbose output

[2020-12-04 08:15] Fotomaterjal commented on #5023
Yes, `--jobs` would most probably do the trick for me

[2020-12-04 08:20] Suor commented on #5028
So bug is somewhere in creation of `dvc.lock`.

[2020-12-04 08:21] Suor commented on #5027
All the additional info is in Sentry.

[2020-12-04 08:33] skshetry commented on #5028
It's unlikely a bug. Most likely, the user remove the `cmd` from the lockfile.

[2020-12-04 08:50] skshetry commented on #5030
@marksein07, could you please provide complete `dvc version` output? It has more information than `dvc --version`. Thanks.

[2020-12-04 09:20] turian commented on #755
Do I understand correctly that if one step of the pipeline (e.g. retrieving webpages) requires 100 micro-tasks running in parallel, that this step is a bad fit for doing within dvc?

@dmpetrov in https://github.com/iterative/dvc/issues/755#issuecomment-561031849 describes 3 methods of parallelization and I assume you need 2 for this. Let me know if there is a workaround.

[2020-12-04 09:22] marksein07 commented on #5030
In fact There is the same Error

[code]

[2020-12-04 09:33] skshetry commented on #5030
@marksein0, can you please upgrade to the latest version and see if it works.

[2020-12-04 09:44] marksein07 commented on #5030
I tried it, and It doesn't work.

[2020-12-04 09:48] skshetry commented on #5030
@marksein07, can you provide more information? Does this happen when running inside a dvc/git repo?
And, what's there location are? Are they same?

It would be easier to debug if you could provide a script.

[2020-12-04 10:07] marksein07 commented on #5030
In fact, I can operate dvc perfectly inside private gitlab in local pc with ubuntu 18.04 and conda.

However, after I do the same operation on aws cloud machine, the every dvc command is just crashed except for --help work well.

There is even no any other verbose I could provide, and I also confused.

[2020-12-04 14:22] skshetry commented on #5027
Discussed this with @efiop to fix this on `find_outs_by_path` to use `list(self.graph)` instead of `self.stages`.
https://github.com/iterative/dvc/blob/69eb86a06f1a6d2ae501a3f0b380ad2939e0e09c/dvc/repo/__init__.py#L377-L379

[2020-12-04 21:24] #4253 closed

[2020-12-04 21:27] efiop commented on #3861
Closing, doesn't look like anyone else is interested in this.

[2020-12-04 21:27] #3861 closed

[2020-12-04 21:29] efiop commented on #3824
Closing since this command doesn't exist anymore and doesn't look like anyone is asking for `dvc dag --tree` neither.

[2020-12-04 21:29] #3824 closed

[2020-12-04 21:31] efiop commented on #3791
Closing in favor of https://github.com/iterative/dvc/issues/829#issuecomment-711137723

[2020-12-04 21:31] #3791 closed

[2020-12-04 21:38] efiop commented on #2860
Closing for now, since this is no longer relevant.

[2020-12-04 21:38] #2860 closed

[2020-12-04 21:46] efiop commented on #4849
@joehoeller Any luck so far? :slightly_smiling_face:

[2020-12-04 21:53] #4493 closed

[2020-12-04 21:56] efiop commented on #4301
Closing as stale.

[2020-12-04 21:56] #4301 closed

[2020-12-04 21:59] efiop commented on #4233
Fixed by https://github.com/iterative/dvc/pull/4317

[2020-12-04 21:59] #4233 closed

[2020-12-04 22:10] joehoeller commented on #4849
havent had a chance, but ill get there ;)

On Fri, Dec 4, 2020 at 3:46 PM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-12-04 22:25] efiop commented on #4849
Closing for now, feel free to reopen if you'll have any questions :)

[2020-12-04 22:25] #4849 closed

[2020-12-05 01:42] jorgeorpinel opened #5034 "commit: it's not caching a missing output"
## Bug Report

Start from a fresh DVC repo (no .dvc/cache dir exists)

[code]

Everything looks good from the terminal output, but still there's no .dvc/cache dir. `hello` is not cached, nor a link.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-12-05 01:42] jorgeorpinel commented on #5034
Oops wait, I submitted this before finishing the description accidentally... ⌛

[2020-12-05 01:45] jorgeorpinel commented on #5034
OK, ready, please look at the updated description directly on GH.

[2020-12-05 01:50] jorgeorpinel commented on #5034
dependencies ['hello'] of stage: 'hello' changed. Are you sure you want to commit it? [y/n] y

p.s. is there a way to run commit without interaction? For scripts.

[2020-12-05 01:51] skshetry commented on #5028
Looking at the repo, it seems it was intended to make it crash by @fabiosantoscode:

https://github.com/fabiosantoscode/example-get-started/commit/c7148b094c2af3f0770ca60734e3cf6ea9f12c20

We can fix this specific issue by loosening the validation and ignoring the unknown stages (i.e. using single source of truth from dvc.yaml), but since the same format is used for the run-cache, I don't think it

[2020-12-05 01:51] #5028 closed

[2020-12-05 01:56] skshetry commented on #5034
@jorgeorpinel, I think this happens because you added it as a `-d hello` rather than a output.
We don't track dependencies at all unless they are output on some other stages.

[2020-12-05 01:58] jorgeorpinel commented on #5034
Oops true 🤦 let me try again...

[2020-12-05 01:59] jorgeorpinel commented on #5034
Yup, my bad. Typo in `run`. Nvmd!

[2020-12-05 01:59] #5034 closed

[2020-12-05 09:49] fabiosantoscode commented on #5028
Hey there! Yes, I was trying to reproduce a production issue. This wasn't it. Eventually 600k metrics broke things to my satisfaction :)

[2020-12-05 11:23] dudarev commented on #4578
I am picking up this issue.

[2020-12-05 11:50] skshetry commented on #4909
@pared, `pydantic` can generate the `model` from the JSONSchema: https://pydantic-docs.helpmanual.io/datamodel_code_generator. That might be useful.

[2020-12-05 14:25] dudarev commented on #4578
@efiop I've created initial draft PR for this issue: https://github.com/iterative/dvc/pull/5036 It's far from ready to review. I'm following your recent work to add size into .dvc files from https://github.com/iterative/dvc/commit/e1b82c5222930c55886ca16a48c3a223d05b4af0

A few questions:

1. Currently .dvc file looks like

[code]

Is `mode` OK in such Python 3 octal notation, or should `0o` bette

[2020-12-05 18:19] courentin opened #5037 "Add ability to skip "dirty" commits during `dvc gc`"
Following https://github.com/iterative/dvc/issues/3885, I'd like to add the ability to skip commits that generate errors during `dvc gc`.

To sum-up, running `dvc gc` in a codebase that contains a commit where dvc is in a dirty state (eg. the `dvc.yaml` is badly formatted, one of the output is dvcignored, etc.) make it failing.

Thus, if feel assuming that **every** commits are clean and let dvc i

[2020-12-06 10:04] jorgeorpinel opened #5039 "metrics/plots: detect missing cached files and suggest fetch"
This is specifically for `metrics/plots --all-{label}` as well as `metrics/plots diff`.

Based on the dvc.lock files in the Git history, these commands could detect that cached metrics or plots files are missing in the cache (probably they already do that internally but don't handle that state specially.)

Currently they just get skipped as if no metrics/plots even existed in the lock file. My pro

[2020-12-06 11:58] mzietlow commented on #5012
Thank you!

[2020-12-06 19:34] efiop commented on #4578
Hi @dudarev ! Thanks for looking into this! I've left a few comments in the PR itself.

No strong opinion here, I imagine that we might end up supporting multiple formats, but any vanilla one will do as a default. Btw, maybe we should limit it to permission bits only? The S_IFREG part is not really useful for our purposes, so far we only care about permissions and, as you've noted in your windows

[2020-12-06 22:16] dsuess commented on #5011
Thanks for all the suggestions. I think the global options could work, but would be a lot of duplication (since we have multiple DVC remotes).

Also, I am not sure why we had to set this option in the first place, since we use the standard location of the `credentials` file, so boto should just find it. I'll close this issue since it's clear that this behavior wasn't intended from the beginning an

[2020-12-06 22:16] #5011 closed

[2020-12-07 06:44] Suor commented on #5027
Will it make it slower?

[2020-12-07 10:50] skshetry commented on #4893
@courentin, ping. Does that still happen? Could you please provide more information as @pared requested? Thanks.

[2020-12-07 10:54] skshetry commented on #4675
Closing, as `dvc list` is not really meant to be used in the remotes.

[2020-12-07 10:54] #4675 closed

[2020-12-07 10:55] efiop commented on #4988
Another workaround is to just overwrite the url. E.g.

in .dvc/config
[code]
and in .dvc/config.local
[code]

Also base_url is similar to remote:// notation that we currently have. E.g.
[code]

[2020-12-07 11:03] skshetry commented on #4374
Fixed in #4827

[2020-12-07 11:03] #4374 closed

[2020-12-07 11:07] efiop commented on #4297
Discussed with @skshetry that we could start with just output-level granularity, e.g.
[code]
More granular commits like
[code]
would require a bit more work on `cache.save` side, for it to accept filter_info and handle it properly, so we could do it as the next step after output-level granularity.

[2020-12-07 12:24] skshetry opened #5043 "dvc repro: change output format?"
Recently we made a change in the `dvc repro` output by removing the indent to `>` in front of the command scripts.

My reasoning for this is that when indenting the script, the output of the script starts from the leftmost part of the next line which makes it look ugly and congested.

Adding a ">" at least separates the DVC's output with the script's.

#### Before:
[code]

Note that multiline comm

[2020-12-07 14:44] dorp92 opened #5046 "dvc ignore "!" syntax different behavior from git"
From:
https://dvc.org/doc/command-reference/check-ignore
[code]

Why file2 is ignored?
Correct me if I'm worng but in git file2 shouldn't be ignored.

I am encountering this issue as a result of trying to ignore all files except certain extensions.
This works with git but not in dvc
[code]

There is anther way to do it in dvc?

[2020-12-07 16:00] MalouNetlight opened #5045 "OAuth 2.0 Support for Accessing an Azure Blob Storage"
Dear DVC team,

Thanks a lot for that awesome project! I love it but I'm currently struggling as I'm trying to setup a remote blob storage using the OAuth 2.0 authentication mechanism.

**First question**: Is there a way/trick to setup a remote blob storage using OAuth 2.0?

**Follow-up question**: If not, do you plan to do that?

Here's a link to the official microsoft documentation to OAuth 2.0:

[2020-12-07 18:21] jorgeorpinel commented on #5046
It's a good question but I tried the same in .gitignore and `git check-ignore` has the same result: file2 is ignored.

Ref: https://git-scm.com/docs/gitignore

[2020-12-07 20:19] dorp92 commented on #5046
Yes you are right about the output of check-ignore but still I think there is a bug.
I created .gitignore and .dvcignore files containing:
[code]
Then
[code]
but `git add file2` works fine.

[2020-12-07 22:01] efiop commented on #2056
Closing as stale

[2020-12-07 22:01] #2056 closed

[2020-12-07 22:03] efiop opened #5047 "config: add --list to list all variables and their values"
Something that would be handy for us during debugging and for users. Same as `git config --list`. Useful to avoid confusion such as in https://github.com/iterative/dvc/issues/4970

[2020-12-07 22:55] efiop commented on #528
Closing in favor of https://github.com/iterative/dvc/issues/3682

[2020-12-07 22:55] #528 closed

[2020-12-07 22:58] efiop commented on #1022
Closing as stale.

[2020-12-07 22:58] #1022 closed

[2020-12-07 22:59] efiop commented on #1065
Closing as stale. We have `dvc dag --outs` now.

[2020-12-07 22:59] #1065 closed

[2020-12-07 23:00] efiop commented on #1078
Closing as stale.

[2020-12-07 23:00] #1078 closed

[2020-12-07 23:02] efiop commented on #1127
Unfortunately no capacity to work on this and not enough demand for this change. Closing for now.

[2020-12-07 23:02] #1127 closed

[2020-12-07 23:02] efiop commented on #1144
Closing as stale

[2020-12-07 23:02] #1144 closed

[2020-12-07 23:07] efiop commented on #1589
Closing as stale.

[2020-12-07 23:07] #1589 closed

[2020-12-07 23:08] efiop commented on #1560
Closing as stale.

[2020-12-07 23:08] #1560 closed

[2020-12-07 23:12] efiop commented on #1510
Closing as stale. Status is much faster these days.

[2020-12-07 23:12] #1510 closed

[2020-12-07 23:15] efiop commented on #1576
We now have auto-stage option https://github.com/iterative/dvc/pull/4543 . Doesn't look like there is a lot of demand for comitting part.

[2020-12-07 23:15] #1576 closed

[2020-12-07 23:18] efiop commented on #1379
We now have `--always-changed` flag for `dvc run`. Closing this in favor of https://github.com/iterative/dvc/issues/1407

[2020-12-07 23:18] #1379 closed

[2020-12-07 23:19] efiop commented on #1453
Closing as stale. We have a few linters already + the ongoing mypy integration https://github.com/iterative/dvc/issues/4697 . Doesn't make sense to waste time on pycharm.

[2020-12-07 23:19] #1453 closed

[2020-12-07 23:22] efiop commented on #1370
We have `dvc checkout --relink` now, that deals with it in an explicit way. Closing.

[2020-12-07 23:22] #1370 closed

[2020-12-07 23:28] efiop commented on #1884
Closing due to a lack of interest from the community.

[2020-12-07 23:28] #1884 closed

[2020-12-07 23:29] efiop commented on #1883
Closing as stale.

[2020-12-07 23:29] #1883 closed

[2020-12-07 23:36] efiop commented on #1838
Fixed by https://github.com/iterative/dvc.org/pull/1054

[2020-12-07 23:36] #1838 closed

[2020-12-07 23:37] efiop commented on #1868
Moved to debug. Closing.

[2020-12-07 23:37] #1868 closed

[2020-12-07 23:38] efiop commented on #1833
Closing in favor of https://github.com/iterative/dvc/issues/829#issuecomment-711137723

[2020-12-07 23:38] #1833 closed

[2020-12-07 23:38] efiop commented on #1806
No longer relevant. `dvc tag` was obsoleted.

[2020-12-07 23:38] #1806 closed

[2020-12-07 23:40] efiop commented on #1727
Closing as stale.

[2020-12-07 23:40] #1727 closed

[2020-12-07 23:44] efiop commented on #2114
All local stuff is now in LocalTree. Closing.

[2020-12-07 23:44] #2114 closed

[2020-12-07 23:46] efiop commented on #2086
No longer relevant with new config design.

[2020-12-07 23:46] #2086 closed

[2020-12-07 23:48] efiop commented on #1955
Closing for now due to a lack of interest from the community.

[2020-12-07 23:48] #1955 closed

[2020-12-07 23:49] efiop commented on #1924
Fixed in https://github.com/iterative/shtab

[2020-12-07 23:49] #1924 closed

[2020-12-07 23:58] efiop commented on #2291
Closing since we no longer have unpacked dirs at all.

[2020-12-07 23:58] #2291 closed

[2020-12-08 00:02] #2416 closed

[2020-12-08 00:04] efiop commented on #2452
Closing in favor of https://github.com/iterative/dvc/issues/3743

[2020-12-08 00:04] #2452 closed

[2020-12-08 00:05] efiop commented on #2410
Closing as stale.

[2020-12-08 00:05] #2410 closed

[2020-12-08 00:05] efiop commented on #2453
Closing as stale.

[2020-12-08 00:05] #2453 closed

[2020-12-08 00:07] efiop commented on #2518
Closing as stale

[2020-12-08 00:07] #2518 closed

[2020-12-08 00:09] efiop commented on #2559
Closing as too generic. Output message was improved, we are trying to fix things as we go.

[2020-12-08 00:09] #2559 closed

[2020-12-08 00:12] efiop commented on #2522
Closing as stale. Erepo logic will be refactored.

[2020-12-08 00:12] #2522 closed

[2020-12-08 00:32] shcheklein commented on #528
💅 #3682 is not about performance though. Certain scenarios can benefit a lot from sorting by size on download/upload.

[2020-12-08 00:38] efiop commented on #3364
Closing in favor of https://github.com/iterative/dvc/issues/4658

[2020-12-08 00:38] #3364 closed

[2020-12-08 00:39] efiop commented on #3279
Closing as stale.

[2020-12-08 00:39] #3279 closed

[2020-12-08 00:56] efiop commented on #3875
looks like moving to `collect_granular` in https://github.com/iterative/dvc/blob/master/dvc/repo/reproduce.py#L117 , should do the trick.

[2020-12-08 01:26] #2988 closed

[2020-12-08 02:12] #3633 closed

[2020-12-08 02:34] tall-josh commented on #3633
Are there docs or examples for this? Does it follow @johnnychen94 's [latest comment](https://github.com/iterative/dvc/issues/3633#issuecomment-736508018)? If there are no docs but I can get a nudge in the right direction I could put together a Notebook or something.

[2020-12-08 02:47] tall-josh commented on #3633
Ahhh think I found what I'm looking for in `tests/func/test_run_multistage.py:test_run_params_default()`

[2020-12-08 03:50] skshetry commented on #3633
@tall-josh, it's in the wiki as mentioned here: https://github.com/iterative/dvc/wiki/Parametrization

@johnnychen94's example also works.

What are you looking for exactly? I don't think it has anything to do with parameterization.

[2020-12-08 04:13] tall-josh commented on #3633
Thanks @skshetry that wiki perfect. Yeah, the `test_run_params_default()` did not give me what I want.

[2020-12-08 05:10] skshetry commented on #3875
@efiop, globbing is not possible with `collect_granular()`. So, either we should use different function based on `glob` or if we want to make globbing default, we do not support this at all.

[2020-12-08 06:25] hyperparameters opened #5050 "Python API"
Hello, developers,
kudos to you for awesome work :champagne:
But was hoping if we can have all the cli command in python API too.
I like to experiment in jupyter notebooks and that python API will be more flexible to use in such cases.
Is there any roadmap for this, I would like to contribute if any need :smile:

[2020-12-08 07:46] 9173860 opened #5051 "pull: failed to pull large file with reporting 'InconsistentError: IncompleteRead from source' with aliyun-oss"
# Bug Report
pull: failed to download with reporting 'InconsistentError: IncompleteRead from source' with aliyun-oss

## Description
If any file pushed onto aliyun-oss needs more than 60s to download in dvc pull, it will throw error with:
[code]

### Reproduce
1. dvc init
2. configure an aliyun oss remote as `remote add` document
3. dvc add <any single large file that needs more than 60s to downlo

[2020-12-08 08:05] skshetry commented on #5051
@9173860, is there any way to increase that session timeout? And, does this also affect the `push`/`upload`?

I could not find a way to increase it, but the documentation for `resumable_download` is [here](https://translate.google.com/translate?hl=&sl=zh-CN&tl=en&u=https%3A%2F%2Faliyun-oss-python-sdk.readthedocs.io%2Fen%2Flatest%2Feasy.html%23id3).

[2020-12-08 08:32] 9173860 commented on #5051
It only has effects when pull, and not affect push or upload.  We can initial oss Bucket with a connect_timeout param to increase session timeout. But using resumable download is still a better way to do it.

The implement of `oss2.resumable_download` will download file piece by piece if the downloading file is larger than 10M. So if the client could finish download 10M of pieces in 60s, it will n

[2020-12-08 08:37] skshetry commented on #5051
@9173860, is this timeout of being 60s documented anywhere?

Again, can you please point me to the documentation?

Please consider creating a pull request with your above change. If you want to run test locally, just run with `pytest --enable-oss`, otherwise just create a pull request. Thanks.

[2020-12-08 08:48] 9173860 commented on #5051
The document for setting timeout [here](https://aliyun-oss-python-sdk.readthedocs.io/en/stable/oss2.html#oss2.api.Bucket) and default value for connect_timeout lays [here](https://github.com/aliyun/aliyun-oss-python-sdk/blob/master/oss2/defaults.py) without any documentation.

And PR opened #5053

[2020-12-08 10:52] efiop commented on #3875
@skshetry I didn't mean globbing, just output -> dvcfile mapping.

[2020-12-08 10:57] efiop commented on #528
@shcheklein Single progress bar based on total size is what we are going to get for push/pull, especially when we implement the chunking.

[2020-12-08 11:00] #5051 closed

[2020-12-08 11:09] efiop commented on #5050
Hi @hyperparameters !

See `Repo` class from `dvc.repo`. E.g.
[code]

it is not officially released yet in the sense that there are no official docs for it, but our CLI has been using the same thing for years now, so it is more or less stable. Still, I have to stress that as it is not officially released yet, we don't give a 100% guarantee about it's stability and your mileage may vary.

We will d

[2020-12-08 13:12] skshetry commented on #5012
@mzietlow, was it fixed? If not, let's keep this open. Another user also experienced the same issue: https://discord.com/channels/485586884165107732/485596304961962003/785851699856277524

[2020-12-08 13:15] mzietlow commented on #5012
I assumed it to be fixed with the next release, but sure let's keep it open 😇

[2020-12-08 13:54] efiop commented on #5012
Another user (from mailing list) ran into it.  Makes me wonder about https://github.com/iterative/dvc/issues/2760 again.

[2020-12-08 15:39] shcheklein commented on #528
@efiop yep, not sure I got the idea how is it related to the performance though? I was not referring to UI/UX (single vs multiple bars)

[2020-12-08 15:40] skshetry commented on #4230
Closing for now.

[2020-12-08 15:56] #4230 closed

[2020-12-08 16:06] efiop commented on #528
@shcheklein Ah, I misunderstood. The single pbar is also related to chunking from https://github.com/iterative/dvc/issues/829 , so without big files there is nothing to prioritize.

[2020-12-08 16:09] efiop commented on #5012
Thanks to @skshetry for implementing a workaround! :pray:  We are releasing 1.11.3 with a fix right now.

[2020-12-08 16:09] #5012 closed

[2020-12-08 16:15] tillbier opened #5058 "Imported Dependencies should have a configureable revision"
When importing dependencies via the `dvc import` feature, I want to be able to set a revision for a stage in the `dvc.yaml`, from which the dependency should be pulled, so that i can change the revision with the parametrisation feature.

This could look like the following:

dvc.yaml
[code]

[2020-12-08 16:28] efiop commented on #5058
We are thinking about moving imports to dvc.yaml too https://github.com/iterative/dvc/issues/4841 , but so far we are thinking about a format that looks something like:

[code]
or similar, the main idea is that `imports` are separated from `stages`. Would something like that work for you?

[2020-12-08 16:53] Suor commented on #5008
There is only one file - `dvc.yaml` if we ignore it we might simply ignore the whole commit as it's done now. If this is a nuisance to support it you can drop it.

[2020-12-08 17:26] courentin commented on #4893
Yes sorry, I'll do it through the dvc chat!

[2020-12-08 18:44] dorp92 opened #5060 "dvc push [Errno 1] Operation not permitted"
[code]
With -v
[code]

[2020-12-08 19:54] jorgeorpinel commented on #5060
@dorp92 please share the contents of your .dvc/config file if possible to see what your default remote is. Can you also share the output of `dvc version`?

[2020-12-08 20:06] jorgeorpinel commented on #5046
Yes, in that case DVC behaves different to Git by design (I think cc @efiop). It gives the error do that the user knows what's going and can address the situation if needed.

What is the problem you are having, or what are you trying to achieve?

[2020-12-09 02:14] #5043 closed

[2020-12-09 03:20] skshetry commented on #5008
What do you mean? There can be many `dvc.yaml` files in a repository.

[2020-12-09 05:36] shcheklein commented on #5045
This looks like a duplicate of #4635 ? A WIP PR by @JordanSimba should solve this as far as I understand.

@JordanSimba @MalouNetlight could you correct me, if I'm wrong?

[2020-12-09 06:29] skshetry commented on #5046
Looks like a bug to me. We had a discussion on #4103 which was fixed by @karajan1001.

It might be a mistake on DVC's part, and I wonder If it could be fixed by something similar to following (@karajan1001, please correct me if I am wrong):
[code]

[2020-12-09 07:00] skshetry commented on #2151
`pipeline` command no longer exists. Closing ...

[2020-12-09 07:00] #2151 closed

[2020-12-09 07:00] skshetry commented on #1364
@efiop, can this be closed as there's no `pipeline` command?

[2020-12-09 07:02] skshetry commented on #4525
Closing as the parametrization can also track used variables. See #3633

[2020-12-09 07:02] #4525 closed

[2020-12-09 07:03] skshetry commented on #3460
Closing as there's no pipeline list, there's `dvc dag` for `dvc pipeline show`.

[2020-12-09 07:03] #3460 closed

[2020-12-09 07:51] tillbier commented on #5058
This looks like it would serve our needs pretty well. Thank you!

[2020-12-09 08:30] pared commented on #4428
I think we should bump the priority on this issue. It seems like `no-cache` effectively does not exist since 1.0:

[code]
Results in saving `hello.txt` to cache.

[2020-12-09 08:54] hugo-ricateau-tiime commented on #4667
I finally succeed to figure out what is the key aspect of the issue: the archive size; it looks like large archives are truncated when streamed from an `s3` storage (maybe when the buffer gets full?).

The following diff on [the suggested script](https://github.com/iterative/dvc/issues/4667#issuecomment-738557723):
[code]
results in
[code]

Note that adding any of these diff to the previous one, w

[2020-12-09 08:59] MalouNetlight commented on #5045
Hi, thanks for making the link. I used App Registrations until now to connect using OAuth 2.0 but I guess that Service Principles would also do the trick.
Actually, looking at the code, it seems that I could even use an App Registration's client id and secret to get the token. So yeah, the PR you mentioned should solve this.

Hopefully this can be merged soon, that would be an awesome feature!

[2020-12-09 09:27] skshetry commented on #4667
@hugo-ricateau-tiime, can confirm. Thanks for the repro.

[2020-12-09 09:34] pared commented on #4667
@hugo-ricateau-tiime using `read` is a proper workaround, or is this issue blocking you in any way?

[2020-12-09 09:51] hugo-ricateau-tiime commented on #4667
@pared the issue is **not critical** for me as using `read` is an acceptable workaround. However, as `read` breaks the streaming aspect, and requires loading the entire archive in RAM (as I understood from the doc, `open` behaves differently), there is an almost doubled peak memory consumption on model loading that might become a severe issue in the future (at least for me). Thus, I would not cate

[2020-12-09 09:55] Suor commented on #5008
It's common to have one.

[2020-12-09 10:04] efiop commented on #5058
CC @skshetry WDYT?

[2020-12-09 10:06] efiop commented on #1364
@skshetry The `repro/run/status` still might benefit from being separated into some subcommand. But yeah, let's close it.

[2020-12-09 10:06] #1364 closed

[2020-12-09 10:15] hyperparameters commented on #5050
@efiop thanx for pointing me to class, will explore this part and share my feedback.

[2020-12-09 10:54] dorp92 commented on #5060
[code]
There is no .dvc/config

[2020-12-09 10:59] dorp92 commented on #5046
But it shouldn't give an error, Git just added the file.
With !file2 in gitignore file2 isn't ignored, But in dvc it is ignored.

My final goal is to ignore everything except of certain extensions

[2020-12-09 11:23] skshetry commented on #5037
@courentin, I think `--ignore-revs`/`--ignore-commits` are more reliable than `--skip-failing-collect` as it is clear on what your intentions are, considering `gc` is a dangerous command.

[2020-12-09 11:35] johnnychen94 opened #5065 "dvc version: does not follow symlinks"
# Bug Report

## Description

This is the `dvc version` output, where it says the cache directory is `nfs4 on storage:/home` and cache type is `symlink`.

[code]

However, I do have a `~/.config/dvc/config` file that overrides this:

[code]

And the actual cache dir is `/home/jc/ssd_cache/dvc_cache` as I've specified instead of `nfs4 on storage:/home`

[2020-12-09 11:58] efiop commented on #5065
@johnnychen94 `storage:/home` is not a path to the cache directory, but the mount point in your filesystem. Makes it easy for us to tell if your cache and workspace are on the same mount and so on the same filesystem.

[2020-12-09 11:59] efiop commented on #5065
@johnnychen94 To show current cache dir, run `dvc cache dir`

[2020-12-09 12:06] johnnychen94 commented on #5065
Oh, I see the issue here.

`/home/jc/ssd_cache` is a symlink to `/mnt/cache/home/jc`, where `/mnt/cache/` is a local ssd raid with ext4 format.

Perhaps `dvc version` needs to follow the symlinks.

[2020-12-09 12:08] karajan1001 commented on #5046
[code]
is not a bug, the Git does the same thing.
![Screenshot from 2020-12-09 20-05-21](https://user-images.githubusercontent.com/6745454/101628088-4429f480-3a5a-11eb-8643-f5844f010930.png)
[code]
This is a bug.

[2020-12-09 12:26] karajan1001 commented on #5046
@skshetry Seems that because of this
![Screenshot from 2020-12-09 20-18-03](https://user-images.githubusercontent.com/6745454/101629064-b8b16300-3a5b-11eb-8eff-be3ad44e41fe.png)

Here I add two prints into `DvcIgnorePatterns.ignore` and `DvcIgnorePatterns.ignore_details`. We can see that checking if `file2` is ignored runs into `DvcIgnorePatterns.ignore_details` which is actually designed for `dvc

[2020-12-09 12:32] efiop commented on #5065
@johnnychen94 Ah, yeah, makes sense! I think we just need to change https://github.com/iterative/dvc/blob/a7d665157cd838a9406e30c249065111d93a9e4a/dvc/info.py#L145
to `path = pathlib.Path(path).resolve()` and that should make it work as expected.

[2020-12-09 12:33] karajan1001 commented on #5046
The problem is here.
https://github.com/iterative/dvc/blob/a7d665157cd838a9406e30c249065111d93a9e4a/dvc/output/base.py#L533

[2020-12-09 12:49] skshetry commented on #5046
@karajan1001, thanks. So, we just have to change it to use `is_ignored()` instead in that file.

For other internal functions, for example, `_ignored_details`, a few comments should be enough. I just reached there by debugging.

I think `check_ignore` also should have a few docstring, that's enough I guess.

[2020-12-09 12:50] johnnychen94 commented on #5065
Yes, just verified that this change works.

[2020-12-09 12:54] efiop commented on #5065
@johnnychen94 Mind sending a PR? :slightly_smiling_face: :pray:

[2020-12-09 13:11] skshetry opened #5066 "allow skipping certain git revisions/commits in DVC"
If the `dvc.yaml` files are corrupted in certain revisions, `dvc` just fails and there's no way to skip that.
@courentin raised #3885 for this and again on #5037 to specifically address this.

For most parts of DVC, it might be okay and we can also teach params/metrics/plots to cope with failures in certain revisions.
But, for other commands such as push/pull/gc, dvc might just fail, even if we sk

[2020-12-09 13:31] efiop commented on #5066
Could consider creating a `gc`-specific section for it and for future gc-related config options.

[2020-12-09 13:31] efiop commented on #5066
Viewer team might find this interesting too CC @Suor

[2020-12-09 13:35] #4440 closed

[2020-12-09 13:35] #4897 closed

[2020-12-09 14:23] johnnychen94 commented on #4883
Does it sound good to have `dvc exp run --params test_params.yaml` which loads all the params in that file?

[2020-12-09 14:38] #5065 closed

[2020-12-09 16:48] Suor commented on #5066
We simply skip broken commits, not sure this will affect viewer in any way.

[2020-12-09 16:56] BikashShaw opened #5068 "How to push in-memory object directly to remote store?"
Please consider this as a naive question rather than any bug or improvement report.

Is there any equivalent "write" function like dvc,api.read()? We want to push the in-memory object directly to the remote store via python API without saving it to local storage and run the bash command.

Thanks!

[2020-12-09 19:18] shcheklein commented on #5045
Okay, closing this as a duplicate for now. @MalouNetlight please follow the PR and the #4635 for the progress. I also hope we'll get it done asap 🤞 (it's mostly me a bottleneck here- reviewing properly requires getting up to speed with a lot of details on the Azure auth process, @JordanSimba is doing great job educating and iterating with me on this)

[2020-12-09 19:18] #5045 closed

[2020-12-09 20:46] shcheklein opened #5069 "get-url: NPE on downloading a directory"
# Bug Report

## Description

` dvc get-url  -v s3://dvc-temp/ivan/ docs`

leads to:

[code]

(see the full stack trace in the Details section below)

### Reproduce

Run the command above. Path on S3 should contain directories.

### Expected

A dir downloaded.

### Environment information

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

<details>

Full log:

[code]

</d

[2020-12-10 01:16] jorgeorpinel commented on #5060
That's strange. How did you configure your remotes, did you use the `--local`, `--global`, or `--system` flags of `dvc remote add/modify`?

If you don't know please just show the output of `dvc remote list` as well as of `dvc remote default`.

In general, it's difficult to troubleshoot this with the very short messages you are providing. Please help us reproduce the problem with a full list of ste

[2020-12-10 03:26] karajan1001 commented on #5046
It is OK in version 1.4.0.
![image](https://user-images.githubusercontent.com/6745454/101717575-8266f880-3ada-11eb-9c7d-88c6488453cb.png)

[2020-12-10 09:11] #4935 closed

[2020-12-10 10:18] pared opened #5074 "plots/metrics/params: allow comparing between different paths"
[In some use cases](https://discuss.dvc.org/t/comparing-different-metric-param-plot-files/582)
user might want to compare different metrics in different paths.

We need to discuss if and how we are going to support it.
My initial idea is to expand how we provide `rev` :
instead of `dvc plots diff tag1` we could go with `dvc plots diff tag1:{path}`

[2020-12-10 10:20] #4010 closed

[2020-12-10 10:20] #5027 closed

[2020-12-10 15:46] efiop commented on #755
@turian The workaround is to parallelize it in your code, and not create 100 micro stages in dvc pipeline.

[2020-12-10 15:52] efiop commented on #5025
Doesn't look like there is anything left to say here. Those are just different by definition. Closing as stale, happy to reopen if anyone else has to say anything here.

[2020-12-10 15:55] efiop commented on #2325
From https://github.com/iterative/dvc/issues/2451

[2020-12-10 15:55] efiop commented on #2451
Closing in favor of https://github.com/iterative/dvc/issues/2325

[2020-12-10 15:55] #2451 closed

[2020-12-10 15:57] efiop commented on #3311
`checksum` is no longer used in any CLI . Internal usage getting adjusted as we go. Closing.

[2020-12-10 15:57] #3311 closed

[2020-12-10 20:49] qthurier commented on #5074
This would be very helpful for example when experiments are isolated in different folders on the same branch (as opposed to each experiment being on a dedicated branch).

The scenario comparing metric1.json from branch1 with metric2.json from branch2 can be helpful too but it is not my primary use case. I think ideally we should be able to perform diff on 2 combination of (path, revision).

[2020-12-11 01:44] pmrowla opened #5076 "experiments: commit in executor will fail if `pre-commit` or `commit-msg` hooks are enabled"
# Bug Report

dulwich hook classes are not pickable, so if either hook is enabled you will currently get:
[code]

We should be committing with `--no-verify` in experiment executors, since our auto-generated experiment commit messages and commit contents will likely not pass (by design) the user's checks. (So even if we can call commit successfully using gitpython instead of dulwich here, the under

[2020-12-11 04:51] skshetry commented on #4957
Coming to this again, would generating stages as `build@0`, `build@1` ... work for you? This will be incompatible change, however.
Or, would that be confusing?  And, will you need the `key`/`index` of those lists (`lists` don't have key right now :), only dicts do).

Thanks.

[2020-12-11 06:37] johnnychen94 commented on #4957
sounds good to me. Is the id order guaranteed, I guess not?

[2020-12-11 07:18] skshetry commented on #4957
@johnnychen94, good question. I think it's good to assume list as ordered and generate on the basis of that index, what do you think?

We could also do that on the basis of its content, but it'll complicate internals and making it that way, DVC won't be able to work if you change/update any item inside. I think this is more suitable for a dictionary.

Another question, should it be 0-indexed or 1-

[2020-12-11 09:22] johnnychen94 commented on #4957
I believe our current parametrization workflow does not (and should not) rely on the index order, so perhaps some careful documentation on this would be sufficient, e.g., "the index order is undefined and depends on internal implementation".

I can't foresee what extra benefits hash could give us compared to the simple list order. So might be a good reason enough to stick to the simple version.

I

[2020-12-11 09:40] johnnychen94 commented on #5047
a quick question: should it print out the credential info, e.g., aws key/secret?

[2020-12-11 12:22] karotchykau opened #5081 "ConnectionError while using dvc.api.read for local repo"
# Bug Report

## Description

When I use `dvc.api.read` to read a file from local repo in offline mode (without internet connection), `DVC` will try to use internet connection for some reason. Local cache is fully up-to-date.

My call:
`dvc.api.read(file_to_read, repo='../', rev='my_local_branch', remote=None, mode='r', encoding=None)`

Leads to:
[code]

### Reproduce

1. create a branch
2. `dvc a

[2020-12-11 12:24] pared opened #5082 "repro: failing on frozen stage in dag"
Reproduction script:

[code]

[code]

Freezing s2 or s3 and running `dvc repro` will result in errors during dfs search for nodes.

[code]

Might be related to https://github.com/iterative/dvc/issues/4893

Expected behaviour:
Info that nothing till `s2/s3` was reproduced (because they are frozen) and reproduction info about following stages.

I suspect that the culprit might be the fact that we ar

[2020-12-11 12:54] pared commented on #1626
Fixed in https://github.com/iterative/dvc/issues/4504

[2020-12-11 13:05] pared commented on #5081
Context:
https://discord.com/channels/485586884165107732/563406153334128681/786887519819661332

If we don't provide `rev`, dvc gets file directly from cache, in case of `rev` present, we make the clone, and miss cache info along the way.

[2020-12-11 15:00] vss96 opened #5083 "UTF-8 codec error while using dvc pull (surrogates not allowed)"
# Bug Report

## Description
While using dvc pull, the task errors out with:
`ERROR: unexpected error - 'utf-8' codec can't encode characters in position 103-110: surrogates not allowed
`

### Reproduce
1. Try to push files with special characters in it. Ex: sydney-australia-â€“-january-â€“.txt
2. Set dvc cache type to reflink.
3. Try running dvc pull on the files that were pushed.

### Environmen

[2020-12-11 15:19] pared commented on #5083
@vss96 Thanks for great summary!

Our original discussion: https://discord.com/channels/485586884165107732/485596304961962003/786905389722501120

It seems like trying to encode the `dst` causes fail.

[2020-12-11 16:35] efiop commented on #5047
@johnnychen94 `dvc config` is pretty primitive, if you use `dvc config remote.myremote`, it will spit out the password too. It is probably not worth overcomplicating such a simple command. IIRC git config will also print passwords no questions asked.

[2020-12-11 23:29] efiop commented on #5068
Hi @BikashShaw !

There is no native interface for that right now in dvc itself :( Seems like that might be an API extension on a straight-to-remote feature for CLI https://github.com/iterative/dvc/issues/4520 , but that would only solve pushing and generating local *.dvc file. But you will still need to push git changes somehow. Could you elaborate on your scenario, please?

[2020-12-11 23:32] #4838 closed

[2020-12-12 07:38] jorgeorpinel commented on #5025
These seem like arbitrary distinctions to me. `meta` could mean something to the viewer if it was used that way.

But my question goes beyond that, why is `desc` at the stage level and at the output level for example? Just seems like an ad hoc implementation (I don't understand the design) but OK, I suppose it's not a big feature? I hope it doesn't cause confusion or other problems in the future..

[2020-12-12 10:38] efiop commented on #5025
But the fact is that it doesn't use it. `desc` is meant for stage or output description, `meta` is just whatever you, as a user, want to shove in it, dvc or other tools won't care and won't interpret it or expect any particular format.

Because it can describe both stage and particular output.

[2020-12-12 11:33] #5047 closed

[2020-12-12 12:24] jimmytudeski commented on #4428
Hello  :) I have the same kind of problem:
A preprocessing stage that takes a big folder as input and produces a big folder as output. It would be great if there was a easy and fine grained way of specifying where the output of a stage ends up being.  As far as I can see there are the following options for an output of stage:
- dvc does nothing
- dvc stores hashsums
- dvc stores full output

I und

[2020-12-12 15:52] efiop commented on #4428
@jimmytudeski Unfortunately there is no LRU functionality in our cache yet, so we would need to figure it out first.
A faster, and arguably more proper fix for this is to pass `run_cache` argument to `stage.save` and if `not run_cache` not call `stage_cache.save` https://github.com/iterative/dvc/blob/d3acbfe2b1aae2d05cb9b8732167e27f7c5f740e/dvc/stage/__init__.py#L439 . `Stage.run` already receives

[2020-12-12 16:47] jorgeorpinel commented on #5025
My impression is that was a decision by the same people here 😬 in fact the Viewer team didn't seem to realize `meta` even existed if I understood https://github.com/iterative/dvc.org/pull/1951#discussion_r532569582 correctly. Also in https://github.com/iterative/dvc.org/pull/1951#discussion_r533008967 it was requested that `meta` is displayed (again if I understand that conversation correctly) so.

[2020-12-12 18:16] efiop commented on #5025
@jorgeorpinel Correct, that was my decision, I started using meta first but then people from viewer team said that a separate field makes sense so I've switched. And I now agree that desc should be separate, they have different purpose.

We spend too much time ranting about it here, that's counterproductive. I understand that you don't like it, but we need to disagree and commit to this.

[2020-12-12 18:59] jorgeorpinel commented on #5025
I already agreed to disagree some time ago. Not expecting a change, just leaving feedback. The docs probably do need more clarification on all of the details mentioned above though, as it's confusing (not a priority).

[2020-12-12 19:01] jorgeorpinel commented on #5025
p.s. I'm not ranting, I explained my position in detail above.

[2020-12-12 19:39] efiop commented on #5025
@jorgeorpinel Thanks for clarifying! Sorry for putting it that way and overreacting. I thought that we've discussed this enough in linked issues/prs, and the reasoning was obvious, but now I understand that I was obviously very wrong, because I didn't consider that you weren't present during all of the discussions about it. So let me try to show a bigger picture here.

In general, the desc is some

[2020-12-12 21:23] mbiesek commented on #4297
@efiop I would like to start working on this.

[2020-12-12 22:22] efiop commented on #5083
Nice catch! Ok, our issue here seems to be caused by us not encoding paths we pass to clonefile the correct way. We should've used fsencode(because os.* methods that have supplied us with that base directory used fsdecode to decode bytes into utf-8), but for some reason we use utf-8. Looks like a pretty naive bug :( We also have a potential for a similar bug in `inode` method for windows, might wa

[2020-12-13 00:25] efiop commented on #4297
@mbiesek Great! Let us know if you'll have any questions :slightly_smiling_face:

[2020-12-13 00:29] #5083 closed

[2020-12-13 00:42] efiop commented on #5083
@vss96 Could you please run
[code]
to uninstall dvc and then run
[code]
to install the latest version from pypi? Then try `dvc pull` again and let us know how it goes.

1.11.4 is safe to continue using onwards. Brew release for 1.11.4 won't be available for a few days, looks like, as there [are some problems with dependency packages on osx 11](https://github.com/Homebrew/homebrew-core/pull/66130).

[2020-12-13 00:52] efiop commented on #4887
@Nasreen23 Sorry for the delay. Unfortunately I wasn't able to look deeper into your case, but the reason I was asking you about whether or not regular dvc workflow works with `dvc push` is that I wanted to make sure that you are able to access the backet in general. If you are able to do that, then the problem is that you are using `s3://` url, and dvc doesn't know that it should associate the ac

[2020-12-13 00:57] efiop commented on #5030
@marksein07 Anything about the path where you run `dvc` in on your aws machine? What is the absolute path to it? E.g. could you show `$ pwd` output?

[2020-12-13 09:34] dorp92 commented on #5060
Sorry about that,
there is .dvc/config containing
[code]

I don't remember using those flags

[2020-12-13 09:51] dorp92 commented on #5060
Found the problem,
/mnt/t/Algo/DVC is a folder mounted by sshfs command.
Now I use directly the sshfs option in dvc and it works
Sorry for the waste of your time

[2020-12-13 23:28] jorgeorpinel opened #5089 "repro: fails for any file if there's an error in ./dvc.yaml"
# Bug Report

## Description

`repro` fails for any file if there's an error in ./dvc.yaml

### Reproduce

[code]

Even if tmp/dvc.yaml is valid, `repro` fails because ./dvc.yaml is invalid.

### Expected

Repro of tmp/dvc.yaml (as long as it's valid).

### Environment information

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

[2020-12-13 23:57] efiop commented on #5089
We build full dag before doing anything to check for cycles/overlaps and so on, so this error is by design. The `dvc.yaml` is a correct relative path to your current location. We could consider using `./dvc.yaml` there instead though, but some might consider that a bug and as something ugly.

[2020-12-14 00:28] dmpetrov commented on #4937
@LuisMoralesAlonso sorry for the delay.

I'm trying to understand where do you have data versioning already and when it needs to be introduced. So far, it seems like DVC and Hudi have a bit different purposes and I'm trying to understand your scenario (and Hudi) better.

Does Hudi have proper versioning? I'm not a Hudi expert, but it seems like it can efficiently support the latest version but not

[2020-12-14 03:30] jorgeorpinel commented on #5089
tmp/dvc.yaml also has a DAG so why not build that one only? I think that ignoring any file not given as a target is what the user would expect.

I didn't quite understand those comments. In the example above I specified which path to use (not that one).

[2020-12-14 04:47] skshetry commented on #5089
@jorgeorpinel, the DAG in the dvc is not explicit. It's built by DVC based on output or dependencies of the stage.
And, as it's implicit, you could very well have a dependency be output in another stage in a different `dvc.yaml` file. So, a `dvc.yaml` is not a DAG. That's why we need to build a DAG, from all of the stages in a repo to ensure there are not any duplications or cycles.

It's the rela

[2020-12-14 07:22] marksein07 commented on #5030
<code>ubuntu@ip-10-0-1-126:~/git/vnpc-dialog-service/sa$ pwd
/home/ubuntu/git/vnpc-dialog-service/sa
</code>

[2020-12-14 09:52] efiop commented on #5030
@marksein07 Any symlinks in that path?

[2020-12-14 11:01] pared commented on #4446
Summary on current state of the issue, and what still needs to be done here:

- [x] `metrics` accept non-metrics file - doesn't matter if we are in DVC repo, Git repo, or just a folder - `targets` required
- [x] `plots` accept non-plots file - doesn't matter if we are in DVC repo, Git repo, or just a folder - `targets` required
- [x] collection of `metrics` `plots` and `params` between branches is

[2020-12-14 13:30] ANaumann85 commented on #4988
Yes, you are right. But the disadvantage of url is, that it contains the username.
My use case was a group shared folder. If the folders gets restructured, than every user has to change the url part manually in the local configuration.
If one splits the url in username and base part, one has to change only the url (or base url) once in the file .dvc/config.

But I think, the simplest and stable so

[2020-12-14 13:37] #4955 closed

[2020-12-14 13:37] #4957 closed

[2020-12-14 13:37] #4963 closed

[2020-12-14 13:40] skshetry commented on #5008
Closing then. There have been some discussions on how we could fix/avoid this, for example, by having a version identifier, explicitly ignoring some commits, and making DVC able to cope with syntax errors. But, there's nothing to add/do here in the short term.

[2020-12-14 13:40] #5008 closed

[2020-12-14 13:50] isidentical commented on #4520
Hey @efiop, is this copy/tranfer operation will be on a new command or an already existing one?

Also, may I request 2 workflow command-group samples (some sort of small, self-contained replication of the whole process so that I can test one my local environment)? One is from the current workflow of people, where they try to do on 2 different local file system points, and one is from what they are

[2020-12-14 14:17] efiop commented on #4520
@isidentical I'm not a 100% sure if this might fit into some existing command, would love to hear your thoughts on it.

Sure, here are some examples. Please make sure you are familiar with our workflow already (see our get-started guide)
### `straight-to-remote` scenario:
Imagine having some file/directory on s3(or other cloud) and you want to add it to your dvc repo and push to your remote (say i

[2020-12-14 14:43] #4732 closed

[2020-12-14 19:59] jorgeorpinel commented on #5089
I see. Well, that's nice! Having the option to split DAGs in several dvc.yaml files. Although a bit unintuitive but I did double check that an invalid tmp/dvc.yaml causes `dvc repro` to fail (even if that file is not given as a target).

But this does mean that our docs on repro are incomplete, maybe incorrect... None of this is expressed there.

Ah I see. I think it would be better to use `./` in

[2020-12-15 05:09] jorgeorpinel commented on #5060
Hey @dorp92 sorry for the delay in replying and thanks for the details. No waste of time at all, this issue may help other users in the future 🙂

Glad you figured it out and yep, it makes sense that DVC can't push to that kinf of mount. However I think maybe we can handle this error more gracefully? Cc @efiop

[2020-12-15 06:23] turian commented on #755
@efiop The issue is that each of the little jobs has a pipeline. Download webpage => extract text without boilerplate => further NLP.

[2020-12-15 06:32] dmpetrov opened #5099 "Preserve user-order in metrics and params diff outputs"
Today `metrics show/diff` & `params show/diff` commands have a random order in outputs. It makes it really hard to use with real-life files with dozens of metrics or params. We should assume that users pay a lot of attention to order the items inside the files and preserve the order in the command outputs.

ToDo:
- [ ] preserve order in metrics: `dvc metrics diff/show`
- [ ] preserve order in para

[2020-12-15 06:35] skshetry commented on #5099
Related to https://github.com/iterative/dvc/issues/5009

[2020-12-15 06:35] dmpetrov opened #5100 "Preserve DAG order in data file diff"
We need to preserve order in `metrics/params diff` command outputs: #5099

The same applies to `dvc diff`. DAG can be used to put the most important items first. We can assume that the model files (the DAG leafs) are more important to track. Something like reverse tomological sorting can be allied to get the right order.

[2020-12-15 06:39] dmpetrov commented on #5099
thank you @skshetry. It is duplication. closing.

[2020-12-15 06:39] #5099 closed

[2020-12-15 06:41] dmpetrov commented on #5009
It is important in CLI as well. It is hard to use with real-life files with dozens of metrics or params.

We should assume that users pay a lot of attention to order items inside the files and reuse this user' afford.

ToDo:
- [ ] preserve order in metrics: dvc metrics diff/show
- [ ] preserve order in params: dvc params diff/show

[2020-12-15 07:09] dmpetrov opened #5101 "Custom iterator name in loop"
Now we use `${item}` in the loops. It might be convenient to use a custom name like `${input}`.

Possible options:
- `as: input`
- `item: input`

It will be especially important when nested loops will be introduced.

[2020-12-15 08:38] marksein07 commented on #5030
@efiop No

[2020-12-15 08:51] skshetry commented on #5030
@marksein07, could you please try 1.11.6 version? We have made some changes there, so maybe that'll work (though a slim chance). Thanks.

[2020-12-15 09:04] pmrowla opened #5102 "experiments: last run checkpoint ref is not always updated properly"
`dvc exp res` (with no `--rev <exp>`) will fail afterwards because `refs/exps/exec/EXEC_CHECKPOINT` is not set

[2020-12-15 09:55] pmrowla opened #5105 "experiments: UI cleanup"
* [x] Replace Git SHA's with human-readable experiment names in output messages
* [x] `exp run/res` needs stricter parameter checks. Ex: `exp res` only supports `-n/--name` if `--params` is also provided, command should fail if `--name` is used without `--params`.
* [x] Warn when experiment contains untracked files after reproduction. These files will not be included in the experiment commit and w

[2020-12-15 10:50] Suor commented on #5009
Implementation note: don't need to use `OrderedDict` in Python 3.6+, order is stable for `dict` too.

[2020-12-15 13:43] skshetry opened #5108 "decide on `${ var }` vs `${{ var }}`"
We have to decide on single braces vs double braces syntax. Both of them work right now, but the former is most tested internally.

1. Single braces
- For: Easier on eyes
- Against: Might affect existing users using environment variables

2. Double braces
- For: compatible with 1.0 users that were using environment variables
- Against: looks ugly

cc @dmpetrov @shcheklein

[2020-12-15 14:01] pared opened #5109 "experiments: ambiguous error on no `dvc.lock` in repo"
`1.11.0`
Related: https://github.com/iterative/vscode-dvc/issues/16

When running experiment, if `dvc.lock` is ignored, we will get very ambiguous error on `dvc exp run`.

Reproduction script:
[code]

Error:
[code]

I don't think that running `exeriments` without `dvc.lock` in repo makes any sense, but we could use some error message pointing us to what the problem might be.

So:

1. Should experi

[2020-12-15 14:19] #3388 closed

[2020-12-15 16:20] jayant91089 commented on #5068
Hi @efiop thanks for getting back on this. I am working with @BikashShaw on this, so let me further elaborate on the use case.
The snippet below is of the code we use for tracking our ML models using dvc/s3 - it writes a model to disk, dvc adds it, git adds the `*.dvc` and `.gitignore`, pushes the model to s3, and removes the model from disk. It allows us to do all this without ever leaving the ju

[2020-12-15 17:54] #4969 closed

[2020-12-15 20:24] tadej-redstone opened #5113 "dvc import: Error when importing a file not originating from that directory"
# Bug Report

## Description

Say you have 3 repositories: A, B, and C. In repository A a file is created, versioned with DVC, and uploaded to a remote. Repository B then imports the file with `dvc import`. Then, when I try to import the file to repository C from repository B, I get an error (see the reproduction step for stack trace).

### Reproduce

Create 3 repositories: `test-feed`, `test-main

[2020-12-15 21:12] efiop commented on #5068
@jayant91089 Thanks for the example code! Makes sense! Ok, I definitely see this as https://github.com/iterative/dvc/issues/4520 but for API. All the needed internals for your feature request will be implemented in that ticket, most likely. Does the current workflow work fine for you for now? If it does, then I would advise to stick with it until https://github.com/iterative/dvc/issues/4520 is imp

[2020-12-16 05:24] skshetry commented on #5113
Duplicate of https://github.com/iterative/dvc/issues/3305

[2020-12-16 05:27] skshetry commented on #5113
@tadej-redstone, this is not supported right now. Is it possible to import directly from repository A for now?

I am closing this issue for the existing #3305, please feel free to share your scenario there and/or upvote the issue so that we could prioritize. Thanks.

[2020-12-16 05:27] #5113 closed

[2020-12-16 08:42] tadejsv commented on #3305
This would be a very important feature for me. The use case is the following: files (datasets, pretrained models...) is generated across many different repositories, so I need a central data registry to easily catalogue data. Also, in case some of the original data creating repositories are renamed or merged together, I only need to change the import in data registry and not have to track down eve

[2020-12-16 11:12] isidentical commented on #4520
As a command-line model, I am thought something like this;
[code]

[code]

[2020-12-16 12:28] #5082 closed

[2020-12-16 12:51] pared commented on #4893
@courentin @efiop prepared a fix, that might fix your issue. It can be installed from master or from next release (most likely `1.11.8`)

[2020-12-16 13:09] pared commented on #4985
@anotherbugmaster I don't understand setup here, could you clarify? How does `tree` output look like for your repo?
and when did you `.dvcignore`-ed the `/*` pattern? After adding `fms_unit.csv` under dvc control?

[2020-12-16 13:19] efiop commented on #4893
@courentin 1.11.8 is out with a fix, could you upgrade and give it a try? Closing for now.

[2020-12-16 13:19] #4893 closed

[2020-12-16 14:44] courentin commented on #5037
Yes, explicit is better than implicit indeed!

[2020-12-16 15:50] turian commented on #4883
I also would be interested in Hydra support for DVC. I am using Hydra but would like to use DVC too.

[2020-12-16 17:23] brainslush commented on #4980
As far as I know dulwich doesn't. Is it planed to opt in the future for one of these two or just one?

[2020-12-16 18:08] bharathc346 opened #5117 "Parameter Diff while using Experimental Parameterization feature"
# Bug Report

## `params diff` : using [parameterization](https://github.com/iterative/dvc/wiki/Parametrization)

## Description

### Reproduce
In `master` branch I have a `params.yaml` like so:
[code]
In `exp` branch I have a `params.yaml` like so:
[code]

I have a training stage in `dvc.yaml` like so:
[code]

When I run `dvc params diff` in my `exp` branch I get
`ERROR: unexpected error - duplic

[2020-12-16 18:24] efiop commented on #5117
Discord context: https://discord.com/channels/485586884165107732/563406153334128681/788830178528854016

[2020-12-16 21:47] efiop commented on #5050
Closing for now.

[2020-12-16 21:47] #5050 closed

[2020-12-16 21:55] efiop opened #5119 "config: add support for --show-origin"
Same as `git config`:
[code]

i'm not personally sold on `file:` prefix in path (just because I don't really know why git does that, maybe there is a good reason), but the rest looks pretty good. We now have `dvc config --list`, so now we need `dvc config --list --show-origin` as the next step.

This will be realy handy to have for users to figure out where the configs are and also handy for us, d

[2020-12-17 06:21] skshetry commented on #5117
I am not able to reproduce through the steps you mentioned. Looking at the code, it seems the issue is that we are not skipping files that are already a param dependency for the parameterization (they are always shown by default).
---

From your log, it is clear that we are going through 3 different revisions in the params (and, looks like this happens in metrics too) which should have been just 2

[2020-12-17 06:47] pmrowla commented on #4980
DVC will likely depend on both dulwich and pygit2 in the future, as certain features DVC needs are only available in dulwich, and certain features are only available in pygit2. Potentially, the user would be able to configure DVC to only use  one or the other if the user has a preference.

(But if/when we have internal DVC support for extra git fetch flags needed for this particular issue, we woul

[2020-12-17 19:56] mrstegeman commented on #5119
I'll pick this up and submit a PR soon.

[2020-12-18 09:10] Christoph-1 opened #5130 "s3 remote: unexpected error with session token"
# Bug Report

## push: unexpected error encountered

## Description

When using a session token for aws s3 remote the dvc push produces the following error:
ERROR: unexpected error - An error occurred (AccessDenied) when calling the ListObjects operation: Access Denied

### Reproduce

1. Configure ~/aws/credentials with access_key, secret_access_key and session_token; profile name: myprofile
2. dv

[2020-12-18 09:23] efiop commented on #5130
For the record: More context on our mailing list.

[2020-12-18 09:27] pmrowla commented on #5109
The issue with `dvc.lock` (or uncached outputs/metrics) not being included in the output experiment if it is initially untracked by git (or non-existent) in the user's workspace is fixed by #5093.

If `dvc.lock` is gitignored, user's will have other issues with DVC, as you would never be able to run `dvc checkout` without doing `dvc repro` first to generate the lock file.

[2020-12-18 09:27] #5109 closed

[2020-12-18 10:26] pmrowla commented on #5102
Fixed in https://github.com/iterative/dvc/pull/5124

[2020-12-18 10:26] #5102 closed

[2020-12-18 10:41] pared commented on #4804
Closing as stale, @gillhofer feel free to reopen if the problem still occurs.

[2020-12-18 10:41] #4804 closed

[2020-12-18 12:38] johnnychen94 opened #5131 "config: incorrect system config path"
# Bug Report

## Description

According to the documentation, the system config path for Linux is `/etc/dvc/config`, but it seems like the actual config path is `/etc/xdg/dvc/config`.

[code]

I'm using Ubuntu 18.04, if that helps.

[2020-12-18 13:57] skshetry commented on #5117
@bharathc346, could you please try on 1.11 branch of the DVC or the master whichever you prefer, and see if the bug was fixed? I was not able to repro the bug, so, would be good to get a confirmation. Thanks.

[2020-12-18 16:21] bharathc346 commented on #5117
Running on master successfully by doing `pip install git+https://github.com/iterative/dvc`, going to close this issue. Thanks for resolving.

[2020-12-18 16:21] #5117 closed

[2020-12-18 18:03] efiop commented on #5131
Transfering to docs.

For the record: we use https://pypi.org/project/appdirs/ to determine a correct config location on this particular system, and it depends on different env vars, e.g. XDG_*. We need to adjust the docs to better reflect the configurable nature of those default dirs.

On dvc side we have `--show-origin` currently in the works, that will help with that too. https://github.com/ite

[2020-12-18 18:29] jwelch1324 opened #5132 "Slow Performance on ZFS"
# Bug Report

## push/add/status : slow performance on a ZFS partition

## Description
When running dvc commands that hit the cache or the remote (local in both cases) on a ZFS partition the performance is extremely slow. -- Discussions in discord suggest that `stat` calls are taking an exceptionally long time (see profile results attached below)

### Reproduce
Working with the Celeba Dataset
http

[2020-12-18 18:56] copaah opened #5133 "api: get_url: support recursive"
Moving discussion from Discord with @efiop  to here. Basically I have a use case where I do around 13,000 calls to `get_url` from the DVC python API. This is slow and @efiop suggested to add `recursive` argument to `get_url` to speed things up since all my tracked DVC files live in the same directory either way.

I will let @efiop add his thoughts on this.