[2022-06-22 16:42] shcheklein commented on #7914
Can we clarify that this is about (only?) flexible plots? Or does it apply to the other types (e.g.  being able to configure directories granularly?)

[2022-06-22 17:27] dberenbaum commented on #7914
Yes @shcheklein, it is only about plots configured under the `plots` section of `dvc.yaml`, not under `stages`. There is also #6670 that addresses what I think you are asking.

[2022-06-23 06:51] pmrowla commented on #7909
Windows paths are supposed to be case-insensitive (including drive letters), we are probably just missing an `os.path.normcase()` call somewhere before we do path (string) comparisons

[2022-06-23 06:55] pmrowla commented on #6919
@rickvanveen there are no updates on this issue. It has not been prioritized since it is windows specific and does not actually affect any DVC functionality

[2022-06-23 07:01] pmrowla commented on #6744
@carlthome unfortunately there is no update on this, `import-url` support is still limited to the remote types listed in the docs: https://dvc.org/doc/command-reference/import-url#import-url

[2022-06-23 07:16] mglowacki100 commented on #7930
@pmrowla I think it is not only about case-sensitivity, there is an additional element in path:
'\\\\aaa.bbb.ccc.net\\UserData, start on '\\\\**AD3AB.AAA**.BBB.CCC.NET\\UserData'

[2022-06-23 07:27] mglowacki100 commented on #7930
Traceback of dvc add file.csv  (with some obfuscation):
[code]

[2022-06-23 07:37] pmrowla commented on #7930
@mglowacki100 are you able to try changing your mapped network drive so that you mount `\\AD3AB.AAA.BBB.CCC.NET\...` (instead of the shortened `\\AAA.BBB.CCC.net\...`)? It looks like your network/system may configured so that the shorter hostname is always resolved into the full `AD3...` hostname in UNC paths, which causes issues when DVC tries to compare the two

[2022-06-23 10:12] mglowacki100 commented on #7930
@pmrowla Thanks. I've created another drive with full path and it seems to work fine there :)
I've heard that this prefix "AD3AB" changes from time to time, would be enough to update mapping or "dvc repo" would be corrupted in some way?

[2022-06-23 10:13] daavoo opened #7932 "Include flexible plots in `repo.index`"
Not blocker of this P.R.

I think flexible plots should be included as part of the `repo.index` somehow

_Originally posted by @daavoo in https://github.com/iterative/dvc/pull/7477#discussion_r904002224_

[2022-06-23 11:09] pmrowla commented on #7930
As long as the mapping is up to date whenever you use `dvc add` it should be ok. The DVC repo itself does not store anything regarding absolute paths, the problem is just during a verification step during `dvc add`.

We can keep this issue open and try to investigate whether or not it's possible to work around the automatic host resolution, but it likely won't be prioritized right away since it's

[2022-06-23 11:52] rickvanveen commented on #6919
Thanks for the update! I use WSL now.

[2022-06-23 16:13] sjawhar commented on #7896
Running into this too. Verbose output after stage completes:
[code]

[2022-06-23 16:17] skshetry commented on #7896
@sjawhar, does that happen all the time or only intermittently?

[2022-06-23 16:29] sjawhar commented on #7896
It reliably happens every time for the pipeline in question.

[2022-06-23 19:57] mglowacki100 commented on #7930
Thanks for help! Maybe enough is to add this fix in help/documentation.

[2022-06-24 11:45] rick-van-veen commented on #4312
@karajan1001 Could you explain this? Within the context of:

[2022-06-25 03:33] DarwinCV commented on #7832
I have the same problem on ubuntu 22.04 , here the output of dvc doctor

[code]
Maybe some solution ?

[2022-06-25 11:02] efiop commented on #7832
We use https://github.com/iterative/PyDrive2 as a backend. Looks like that option needs to be set somewhere in https://github.com/iterative/PyDrive2/blob/master/pydrive2/files.py , but I haven't looked at it too close yet.

[2022-06-26 05:38] mattseddon opened #7933 "`exp show`: branch name containing path separator not returned for HEAD"
# Bug Report

## Description

`exp show` will not return the full name of a branch for the HEAD revision if it contains a path separator.

This causes two issues in the extension:
1. The wrong name is shown in our experiments table.
2. We call `plots diff` with the incomplete branch name and it fails (we use the name to fetch the HEAD revision).

e.g when the branch name is `readme/known-limitatio

[2022-06-26 05:47] mattseddon opened #7934 "`plots diff`: fails when given a revision which contains a path separator"
# Bug Report

## Description

In the extension, we call `plots diff` with the branch name to fetch the HEAD revision's data, we then show this data in our plots webview. If the user has checked out a branch that contains a path separator this command fails because the required directory does not exist.

E.g trying to fetch the HEAD revision for a branch called `readme/known-limitations` in the `vs

[2022-06-26 06:58] pmrowla commented on #7933
For experiments this is expected and intentional, exp names are not allowed to contain slashes (even though they are valid in git refs)

see: https://github.com/iterative/dvc/pull/6848#issuecomment-950487613

[2022-06-26 15:26] shcheklein commented on #7933
@mattseddon can we do a workaround for now ... pass hash id instead into `dvc plots diff`?

[2022-06-27 00:54] mattseddon commented on #7933
I have been looking at how to make that hack. I would need to create a mapping between the name and the sha but the fix is not as simple as you would initially think. The returned plots data will have the hash id all through it as the rev field. We will have to replace all instances of that hash id in the data in order to show the semi-correct name in the UI/show the correct plots data.

[2022-06-27 01:21] shcheklein commented on #7933
Yes, and it might be fine for now as a workaround for names that we know are problematic, wdyt? Image plots will be fine, trends also (?), only plots like confusion matrixes will have these hash ids?

[2022-06-27 07:02] gruthen commented on #7896
We're forcing use of version 2.10.2 to keep things going until there's a fix:

[code]

[2022-06-27 08:09] AlexandreRozier commented on #7863
@daavoo You might be right, the experiments are indeed completing successfully, but unfortunately they don't show up in `dvc exp show`. You'll find the output of `dvc exp show --json -vv` here :
[dvc_exp_show_json.log](https://github.com/iterative/dvc/files/8989820/dvc_exp_show_json.log)
In particular, one can see that the `metrics` value is empty (line 1430)

@dfossl I'm also working on a single

[2022-06-27 08:40] daavoo commented on #7926
I was thinking about returning an empty dict instead of raising an exception because `dvc {X} show` commands don't fail when there is nothing to return.

The contents of `params.yaml` will be returned.

The `KeyError` point will be reached.

[2022-06-27 08:51] pmrowla commented on #7863
@AlexandreRozier is your metrics path inside your DVC repo? Or is it a completely external path?

From your sample code:

[code]

Where is your DVC project located (i.e. where is the `.dvc` directory)?

It sounds like `/data/metrics` is outside of the DVC project in which case DVC will not track it as an output - all output paths must be inside the DVC project root directory. Note that the path is

[2022-06-27 08:53] #7934 closed

[2022-06-27 08:55] pmrowla commented on #7863
But rather than nesting mount points like that, I think what you may be looking for is to configure `dvc cache dir` so that it resides on `/dev/sdb1`, and then configure your DVC repository (on `/dev/sda1`) to use symbolic links. Then you would set your metrics path so that it is inside the DVC repository. The end result would be that all of your output/metrics data would be stored in `/dev/sdb1`,

[2022-06-27 09:20] casperdcl commented on #7866
It's not clear to me that #5846 is a solution. I'm asking about use cases rather than implementation/adding-even-more-confusingly-named-options.

A) What are the underlying concepts? afaik it's:

1. Pipelines
  + makefile-like DAG
  + Git committed & pushed
2. Experiments
  + ephemeral/throw-away, not Git pushed
  + per-epoch checkpoints, DVCLive monitoring

B) does the commandline interface map 1

[2022-06-27 09:47] pmrowla commented on #7866
The use case for `dvc run` is for a when a user wants to generate or modify a stage in `dvc.yaml`. This is redundant and confusing, which is why removing/deprecating it in favor of `dvc stage add` is preferred. The use case for `dvc run` is not for reproducing a single stage within an existing pipeline/`dvc.yaml`.

The one thing that `dvc run` does right now that `dvc stage add` does not, is that

[2022-06-27 10:11] AlexandreRozier commented on #7863
@pmrowla Thanks, I had not understood that all output paths had to be in the dvc repo.
For the sake of clarity:
- The DVC project is located at /home/hx/ORIGAMI/tmp  (on sda5)
- The metrics are stored in /data/... (on sdb1)
Mounting /sdb1 somewhere in the DVC project is not possible since other users also work on this server, but I'll take a look at the symlinking approach you're advising.

In con

[2022-06-27 10:25] pmrowla commented on #7863
Right, normally the output paths are validated in commands like `dvc add` or `dvc stage add` and DVC will error out if the output is outside the repo. We probably need to add similar checks in dvclive

cc @daavoo

[2022-06-27 11:04] daavoo commented on #7863
Not sure if this belongs in DVCLive though. I think that it might be better if `dvc repro` / `dvc exp run` do a similar check to the one done in `dvc stage add`.

Problem is that `dvc stage add` just relies on the `--external` flag and `dvc repro` would need to actually check the `cache` config

[2022-06-27 12:39] stefan-hartmann-lgs commented on #7730
Hi @daavoo

Sorry for laaaaate reply - I can see that more than 4 jobs are running in my console:

![image](https://user-images.githubusercontent.com/65395387/175943686-15b2ab54-1450-4007-b833-ea39f766b0a3.png)

[2022-06-27 14:49] dberenbaum commented on #7926
Good point. I think we err on the side of not throwing errors in the CLI to avoid breaking CI scripts. If you feel the symmetry is important, I think it's fine to return an empty dict.

IMO, it's more likely to want an error here, especially for the intended use case of reading stage params into user code. I would much rather break early with a helpful error message than have to debug that `params

[2022-06-27 14:53] dberenbaum commented on #7926
A warning might be reasonable also, so at least it's not silently returning the empty dict?

[2022-06-27 15:57] tibor-mach opened #7939 "configurable default params.yaml (or templating entire pipelines)"
Hi, I have a setup where I use a single pipeline (with several stages) for training multiple models which are almost the same, but use different training data and parameters.

I currently have a copy of a dvc.yaml pipeline in a folder with the respetice `params.yaml` file used for each model. It looks more or less like this

[code]
This works (I then always run `dvc repro -P`) but I have to copy t

[2022-06-27 17:04] dberenbaum commented on #7913
Let's figure out priority later. If it hasn't been supported until now with few complaints, no need to rush when we have other priorities.

[2022-06-27 17:07] tibor-mach opened #7940 "dvc metrics show: scattered formatting"
# Bug Report

## Description
When calling

`dvc metrics show` has a very scattered output, making it hard to read. I use zsh as a terminal. long metrics filepaths or too many metrics might be the cause, but `dvc metrics diff` works just fine (perhaps it uses different formatting so it fits better?)
### Reproduce

1. (maybe) have long paths to metrics files or a lot of metrics
2. `dvc metrics show`

[2022-06-27 20:19] jorgeorpinel commented on #7592
Hi. It would be great to have a summary of the changes to existing commands and options (e.g. `exp run --temp` and `--queue` becoming mutually exclusive now). Added a task about that to https://github.com/iterative/dvc.org/issues/3658. Thanks

[2022-06-28 08:12] pmrowla commented on #7863
I'm not up to date on when/how the stage `live` output section is configured/injected into DVC, but whenever that happens we need to verify the path with

https://github.com/iterative/dvc/blob/685a2d557938f17c69c841eaf2b046147ba4156f/dvc/stage/utils.py#L24

It seems to me that it shouldn't matter whether or not the output path is cached? Even uncached outputs still have to be inside the repo. Is t

[2022-06-28 10:18] daavoo commented on #7863
We currently promote using `--metrics` and `--plots` flags instead of `--live`.
Regardless, running `dvc stage add --live /external/path` already raises a ` StageExternalOutputsError`.

What I mean is that `dvc stage add` raises an error depending on the `--external` flag. However, the `--external` flag doesn't reflect the status anywhere in `dvc.yaml` nor `.dvc/config`.

I someone manually create

[2022-06-28 10:21] daavoo commented on #7871
Hi @Ichiruchan . You can run the command with debug flags `dvc list -vv MyProjectAddress`

[2022-06-28 10:26] karajan1001 commented on #4312
Looks like the problem comes from `read-only`, maybe the group can make this control on the cloud account side. A typical DVC repo actually consists one local (writable) active cache in the repo and one remote large cache to share.

[2022-06-28 11:54] pmrowla commented on #7863
This isn't an error case though. External outputs with local fs paths are valid, and in this case there is no separate cache to configure. Local external outs still use the regular local cache (which defaults to `.dvc/cache`), so there isn't any additional config setting we can check to determine whether or not the user intended for the output to be external.

That's why I think that we need an ex

[2022-06-28 12:45] pmrowla commented on #7939
The `params` path will be interpreted as relative to `wdir` the same way as `deps` and `outs`. So if you don't specify `params` path it would look for `params.yaml` in `wdir`.

[2022-06-28 12:56] pmrowla commented on #7940
One other thing to note would be that `dvc exp show` already uses a pager and can also be used to view your metrics in the CLI (even if you are not using any other `dvc exp` related features)

[2022-06-28 13:29] daavoo commented on #7940
I think this is already tracked in https://github.com/iterative/dvc/issues/6451

[2022-06-28 13:32] #7940 closed

[2022-06-28 13:38] tibor-mach commented on #7939
yeah, that makes sense. thanks.

Is it then possible to specify the params path on the entire pipeline level? I could them simply write a simple loop in a shell script to go through all the different params files and call dvc repro "on" each one of them. It would still be nicer to do that explicitly in the `dvc.yaml` but this would also work.

[2022-06-28 13:55] pmrowla commented on #7939
No, not at the moment. Doing this via templating the way you have it set up now is probably still the best way to accomplish it.

[2022-06-28 14:11] tibor-mach commented on #7939
Is that something I could help with perhaps (in case this is a feature you'd like to include)? I am not very familiar with the inner workings of dvc at this level of detail but this (a configurable default params file) does not sound particularly complicated and it would definitely help me a lot so I'd love to help implementing that.

[2022-06-28 14:35] tibor-mach commented on #7939
Actually, I still don't quite get how the `params` path works. The thing is that I am referencing the path to the `params` file in the `dvc.yaml` like this

[code]
I understand that first, dvc looks for the `params.yaml` file in the working directory. But how does it actually find it otherwise? I set the path via templating in `params` like this

[code]
but the paths keyword is already a part of t

[2022-06-28 14:41] daavoo commented on #7939
@tibor-mach This answer might help you understand the differences between params and templating resolving: https://github.com/iterative/dvc/issues/7316#issuecomment-1027703686

[2022-06-28 14:44] daavoo commented on #7939
I think configuring a default params file could be a good simple feature to add.

The default path is defined here:

https://github.com/iterative/dvc/blob/af649af46276b662b4fa03fd6ab63c36521f28aa/dvc/dependency/param.py#L38

And (I think) that it is the single source of truth.
If you would like to make it configurable, you would need to first add a xznew config option (https://github.com/iterative

[2022-06-28 14:44] #7939 closed

[2022-06-28 15:30] tibor-mach commented on #7939
I see, that setup is a bit contraintuitive to me, but I gues I understand the behaviour better now :-)

Cool, seems simple enough. I'll have a look at it, thanks!

[2022-06-28 17:02] jorgeorpinel commented on #7866
I do agree extracting the stage-related functions from `dvc remove` could simplify the UX. This ticket I believe can be reduced to this request as the others are covered:

https://github.com/iterative/dvc/issues/5846

[`exp remove`](https://dvc.org/doc/command-reference/exp/remove) exists.

Please mention in https://github.com/iterative/dvc/issues/7592

[2022-06-28 18:12] dberenbaum opened #7944 "plots: templates option is clunky"
yes, it's more about this command's interface in this case. Feels like this list `{simple,linear,confusion,confusion_normalized,scatter,smooth}` will be growing / changing. Why do we have to specify it on the parser level, it's not very common to limit that large number of targets there.

_Originally posted by @shcheklein in https://github.com/iterative/dvc.org/pull/3691#discussion_r907907003_

[2022-06-28 18:21] shcheklein commented on #7944
Yep, it's not clear what why we need `-l` in this case. It can behave similar to `git tag`, `git branch`, `dvc cache dir`, etc - show something useful by default.

Make sense to add `--all`? not sure.

[2022-06-28 22:16] hholst80 opened #7945 "dvc dag emits weird output"
Playing around with a very simple pipeline. Obviously the double outs is causing some poor formatting of the dag graph:

[code]

[code]

[code]

[2022-06-28 22:21] hholst80 commented on #7945
As a workaround (that still does not make sense) I can artificially add a "end" state that just depends on everything.

However, it is not perfect. It looks quite awful and also the `stats` dependency is not shown?

[code]

[2022-06-29 07:00] hholst80 commented on #7945
Working as intended I just could not read the graph correctly.

[2022-06-29 08:03] kohei-kawaguchi opened #7946 "dvc commit takes too long"
# Bug Report

## commit: takes too long

## Description

Running `dvc commit` takes too long. It can take more than an hour. It still takes a long time even if I run `dvc commit` immediately after the previous `dvc commit` is finished, without any change in tracked files.

### Reproduce

1. git pull
2. dvc pull
3. dvc commit

### Expected

I expect that `dvc commit` does not take long when there a

[2022-06-29 08:57] pared commented on #7913
For anyone having a problem with this, a workaround, for now, would be to create new commit that contains desired plot definitions, before starting to experiment.

[2022-06-29 12:26] adesgautam opened #7947 "dvc push to gcs giving error"
I am pushing some images to GCS using `dvc remote add -f -d remote_storage gs://dvctmp/data` && `dvc add data/*.jpg` && `dvc push`
I am getting the following error:
[code]

Using `dvc doctor`, getting
[code]

Someone please help

[2022-06-29 12:49] daavoo commented on #7947
Hi @adesgautam , could you share the verbose output: `dvc push -vv`?

[2022-06-29 12:50] adesgautam commented on #7947
[code]

[2022-06-29 14:31] daavoo commented on #7947
Thanks, @adesgautam , could you try if the error occurs in dvc `2.10.2` (i.e. install with `pip install dvc==2.10.2`)

[2022-06-29 17:47] adesgautam commented on #7947
No, it didn't work. The same error is coming up.

[2022-06-29 17:50] dberenbaum commented on #5618
@BrettRyland I'm unable to reproduce the error. If you are still getting it, could you please open a new issue and post the results of `dvc push -vv` and `dvc doctor`?

[2022-06-29 17:54] dberenbaum commented on #7905
@skshetry Maybe you have any idea why this is happening?

[2022-06-29 18:06] dberenbaum commented on #7927
@skshetry Could one of you take a look at this one?

[2022-06-29 18:29] dberenbaum commented on #7933
What's the level of effort to support it?

The comment suggests hesitance to support slashes because the exp refs conventions aren't stable enough. Do you still have those concerns @pmrowla?

[2022-06-29 18:36] BrettRyland opened #7949 "gdrive: raises unexpected error - name: drive version: v2 (again)"
# Bug Report

## Description

As reported [here](https://github.com/iterative/dvc/issues/5618#issuecomment-1155019515), the latest version (2.11.0) of dvc on Ubuntu 22.04 LTS still has the bug reported in issue [#5618](https://github.com/iterative/dvc/issues/5618).
Downgrading dvc to 2.10.2 allows the push to work properly.

### Reproduce

On an existing repository using gdrive, add some files the

[2022-06-29 18:58] dberenbaum commented on #7944
I was trying to avoid breaking changes here.

Also, I think of it as closer to `dvc config` where the command primarily serves to write but also has an option to show info and exit 🤷 .

`dvc plots templates` by default dumps all built-in plots templates. I think it's expected that this is useful and probably the most common usage pattern. That way, you can inspect not only the template names but a

[2022-06-29 19:04] dberenbaum commented on #7896
@casperdcl Maybe you have some idea here?

[2022-06-29 19:06] dberenbaum commented on #7896
@sjawhar Is the remote relevant? Or it's just about size of data you add?

I tested on 6.3GB dataset and hit no errors, so I'm struggling to reproduce this one.

[2022-06-29 20:51] dberenbaum commented on #1416
@stephanrb3 How would you use the feature to gather info on the branch or make additional commits? Do you have some example you could share?

[2022-06-29 23:46] rafaelsdellama commented on #678
Any updates? this feature would be very important to me.. I currently have some models that are retrained weekly, and I was using dvc to version the models and datasets, but the bucket size was getting too big and I don't need the old models (I need keep only the last 3 or 4 models in case rollback is needed).
as currently this feature is not available it is an impediment for me to use dvc.

[2022-06-30 02:09] mattseddon commented on #7265
I've just run into this again whilst testing an apply experiment workflow. After applying an experiment to the workspace I get:

[code]

Where `2f105960ab947472f479d4f7354b6fd4fd0c441a` is the sha that has been applied.

[2022-06-30 03:06] shcheklein commented on #7944
All things I'm saying are not strong opinions, command is not critical. It just feel too niche and interface indeed doesn't remind anything we have in DVC and in general feels unusual.

It's not even released yet, right?

got it. do you expect by chance that you would need a bit more? modify, list, etc?

It means also, that we have to specify / hard code the list somewhere (since there is no list

[2022-06-30 03:35] karajan1001 commented on #6614
In the current version, it will show `-` as the status for the completed exp result.

[2022-06-30 03:48] pmrowla commented on #6614
Yes, this issue should be resolved after the queue changes are merged

[2022-06-30 03:54] pmrowla commented on #7933
This is just a UI issue, it is separate from the "should exp names be allowed to contain slashes" question. The problem here is that if you have a git branch named `foo/bar`, we display it as `bar` due to something parsing git branches by splitting at the last path separator.

Exp names should still be prohibited from having slashes. But git branches and tags are allowed to have slashes, and we ne

[2022-06-30 04:09] pmrowla commented on #7946
For reference, the issue appears to be related to slow `copyfile` on checkout, the read takes 89% of the runtime for copyfile, the actual write is 7%

![Screen Shot 2022-06-30 at 1 05 54 PM](https://user-images.githubusercontent.com/651988/176590571-6c710ad9-1f72-437f-b667-9a4c48a7b52b.png)
![Screen Shot 2022-06-30 at 1 05 42 PM](https://user-images.githubusercontent.com/651988/176590635-74ff80e7-

[2022-06-30 04:31] skshetry commented on #7946
Is the cache type `copy`? If it is, I'd say the issue is with unnecessary relinking.

[2022-06-30 08:00] daavoo commented on #678
as currently this feature is not available it is an impediment for me to use dvc.

@rafaelsdellama Do you need the `datetime` feature specifically or would some alternative approach like `gc -n <N_COMMITS>` (https://github.com/iterative/dvc/issues/7695) work for your use case?

[2022-06-30 08:32] daavoo commented on #7949
Issue appears to come from latest Pyinstaller release -> https://github.com/pyinstaller/pyinstaller/pull/6789

[2022-06-30 11:49] jiriklic commented on #7896
I had the same issue. Using `dvc` with `s3` plugin installed with pip.

Rolling back `dvc` to previous version `2.10.2` fixed the problem for me
[code]

[2022-06-30 11:59] daavoo commented on #7896
It's about the size of the file, the line raising the error comes from:

https://github.com/iterative/dvc-objects/blob/b469fb63c4479c85f064c33696ef4f18ed92f65c/src/dvc_objects/hash.py#L133-L155

[2022-06-30 12:01] daavoo commented on #7896
The logic causing the issue now lives in `dvc-data` so maybe this should be transferred there

[2022-06-30 14:45] dberenbaum opened #7955 "exp: apply should keep stash and hint at how to recover pre-apply workspace"
Related to https://github.com/iterative/dvc/issues/6930 and https://github.com/iterative/vscode-dvc/issues/1956.

When doing `dvc exp apply`, it's possible to overwrite dirty changes in your workspace. We already stash those changes to merge them as part of apply. If we retain that stash and hint to users how to recover it, we will avoid the possibility that users lose their work.

@pmrowla Do we

[2022-06-30 15:36] daavoo opened #7956 "plots: Expand flexible plots tests"
Yes, its true. I will fix that in follow up PR, where I intend to parameterized this test to handle one use case per test. That way we won't have to create this huge `repo_with_plots`.
This specific use case (list of columns) is tested in `tests/unit/render/test_vega_converter.py::test_converter` - its a unit test but should be enough for now.

_Originally posted by @pared in https://github.com/it

[2022-06-30 16:24] daavoo commented on #7454
Hi @mipo57 could you confirm if this is solved in the latest version?

[2022-06-30 19:56] niko2342 commented on #7129
I get the same error when adding a dataset of 1,300,000 files. @pared suggested to increase the timeout value; is this a DVC config option or an internal parameter of the DVC code base?

[2022-06-30 22:15] mattseddon commented on #7265
I saw it as duplicate because I assumed that when you checkout the commit into the workspace it changes the ref for `workspace` underneath and fails but I could be wrong.

That was the entirety of the error message. The default behaviour is that when you call `diff` with only one commit it will returns the workspace as well so that it has something to diff against.

[2022-07-01 03:51] skshetry commented on #7129
@niko2342, which DVC version are you using? Can you please try with the latest version?

[2022-07-01 08:48] pared commented on #7956
Aim of this issue is to parametrize tests in `tests/integration/plots/test_plots.py`, so that we have single use case per parameter set, and not testing few use cases at once, as we do now. That will allow us to test every expected plots set up with a test that is much easier to comprehend.

[2022-07-01 11:17] #7086 closed

[2022-07-01 11:51] vaxherra commented on #7670
I am still experiencing similar issues with dvc 2.12.0 with authentications, even with providing explicitly `user` and `token` in the repo link.

`dulwich.client.HTTPUnauthorized: No valid credentials provided`

The only fix is to revert back to `2.9.13`.

Any updates on this issue?

[2022-07-01 13:52] dberenbaum commented on #7265
Can you reproduce this consistently with any experiment ref or was it a one-time thing? I'm able to `exp apply` and then run the above `plots diff` command without a problem, so I wonder if it's truly an ambiguous reference. Is there a way you can get/use the full hash instead?

[2022-07-01 14:42] dberenbaum commented on #7944
Yeah, not critical, and maybe this command isn't necessary 🤷 . I'm trying to minimize additional work and changes on it 😅, but we should make changes if we identify obvious improvements.

Documentation is lagging on it, but it was included several minor versions ago and has been recommended to users who have asked. Not a big deal, but obviously let's err on the side of consistency until we identif

[2022-07-01 19:07] shortcipher3 opened #7959 "Preserve permissions and links"
I have a file in that I would like to add to `dvc` that is a link to another file:

[code]
However after running `dvc add` and `dvc push` the permissions change and the link no longer works:

[code]

I'm using this file along with many others in a Docker image that I'm compiling, the package of files is provided by a third-party which occasionally gives a whole new dump of files, so I don't want t

[2022-07-01 20:24] shortcipher3 opened #7960 "Support strings in metrics"
[dvc metrics](https://dvc.org/doc/command-reference/metrics) represent scalar numbers

This is nice for finding the difference in a metric between two models, however a couple metrics I'm interested in would benefit from being made more human readable by adding units.  Specifically:
* model file size (kilobytes, megabytes, and gigabytes)
* inference latency (milliseconds, seconds)

There are other

[2022-07-01 21:33] shcheklein commented on #7944
We can, but still, looking 3rd time into the command, I still feel that this default behavior is too intrusive (write things into files  by default ... and yes, it's better to have a message like `Templates have been written into '.dvc/plots'` at least).

my 2cs - still don't feel it justifies this default :) Also, we should be consistent (not sure we have some good analogs in this case though).

[2022-07-01 22:00] efiop commented on #7668
No longer reproducible. Likely solved by related `dvc diff` changes recently. @sjawhar Please give 2.12.0 a try and let us know if you still experience this error. Thank you for the feedback!

[2022-07-01 22:00] #7668 closed

[2022-07-02 00:39] pmrowla commented on #7959
DVC will not preserve links to a file outside of the workspace. By definition, if you are adding it to DVC, DVC will end up copying the target of the link into the DVC cache, and then the workspace will contain a link or copy that points to the DVC cache version of the file (depending on your link settings).

Preserving the executable flag looks like it is a bug here, I don't think tracking a siml

[2022-07-02 03:42] karajan1001 commented on #7730
It's better to use `dvc config -l` instead of type `type .dvc/config`. for there might be some hidden things in `.dvc/config.local`

[2022-07-02 15:24] alexmojaki commented on #6163
I investigated this, here's what I found. The error has since changed, here's an updated traceback:

[code]

The problem doesn't seem related to missing `Content-Length`, but rather missing `ETag` and `Content-MD5`. For example if I run `python -m http.server` with no patching, the response headers have a content length, but the error is the same. Plently of URLs on the web are like this.

Here's

[2022-07-02 16:44] alexmojaki commented on #7865
The tracebacks are explicitly logged in `dvc_objects.fs.generic._test_link`:

[code]

`_test_link` seems to only be called by `test_links`.

I think it'd be sensible to replace `logger.debug("", exc_info=True)` with something like:

[code]

[2022-07-02 17:10] alexmojaki commented on #2036
@efiop this comment:

and this one:

seem to suggest that you're thinking about removing remote files, not local ones. Isn't that the opposite of the requested feature? Am I misunderstanding something?

[2022-07-02 21:24] alexmojaki commented on #5288
I was able to make this work with the following change to `dvc/utils/__init__.py`:

[code]

However it breaks the tests `test_collect_granular_same_output_name_stage_name` and `test_gitignored_file_try_collect_granular_for_dvc_yaml_files`. I'm guessing such a fundamental change has undesirable implications for the rest of the project. So should changes be isolated to `dvc/repo/remove.py`? Or is th

[2022-07-03 03:13] sjawhar commented on #7668
Yep, looks like it's fixed

[2022-07-03 06:13] aaron-meyers opened #7964 "Massive performance degradation in dvc 2.12.0 on Windows"
# Bug Report

dvc: massive slowdown for any dvc command in 2.12.0 vs 2.11.0 on Windows

## Description

After upgrading to the latest dvc release 2.12.0, any dvc command takes 50-100x longer than previously.

### Reproduce

Examples:
- dvc help - 664ms (2.11.0) vs 45s (2.12.0)
- dvc status - 2s (2.11.0) vs 106s (2.12.0)
- dvc doctor - 6s (2.11.0) vs 324s (2.12.0)

### Expected

Expecting similar p

[2022-07-03 06:26] skshetry commented on #7964
if `dvc —help` is this slow, it might not be dvc, but due to some external factors, eg: antivirus, etc.

Could you please send a profiling data for `dvc doctor`? Please try the following and post `doctor.prof` file here:
[code]

You can visualize that with `snakeviz doctor.prof`.

Here‘s more detail wiki if you need more information: https://github.com/iterative/dvc/wiki/Debugging,-Profiling-and-B

[2022-07-03 11:15] endremborza commented on #7668
My issue, that I posted a fix for in #7119 also mentioned here, is still broken in 2.12.0

I was actually redirected to follow this thread. I still manually extend any dvc install I use with the change in #7119

[2022-07-03 11:29] skshetry commented on #7964
Also we changed format for the state in 2.12, which could explain the performance degradation of first invocation. It should be faster in successive invocations.

[2022-07-03 11:49] omesser commented on #7707
@efiop @skshetry  - is anyone looking at this?
Looks like a small fix, needed to put order in telemetry across products, but no real response here for a long time
Can this be assigned and prioritized please? (again, looks really small)
If there are outstanding issues please say so

[2022-07-03 12:21] efiop commented on #7129
We've changed dvc state format, so now it never grows beyond the total number of files that you might have (maybe x2 to account for the cache). Please give 2.12.0 a try and let us know if you run into the same problem.

[2022-07-03 12:21] #7129 closed

[2022-07-03 12:21] efiop commented on #7148
Closing as stale. Please let us know if this still happens for you.

[2022-07-03 12:21] #7148 closed

[2022-07-03 12:22] efiop commented on #7166
Closing as stale.

[2022-07-03 12:22] #7166 closed

[2022-07-03 12:23] efiop commented on #7230
Closing in favor of https://github.com/iterative/dvc/issues/5562

[2022-07-03 12:23] #7230 closed

[2022-07-03 12:25] efiop commented on #7366
Closing as expected behaviour

[2022-07-03 12:25] #7366 closed

[2022-07-03 12:25] efiop commented on #7433
closing as stale

[2022-07-03 12:25] #7433 closed

[2022-07-03 12:26] efiop commented on #7454
closing as stale

[2022-07-03 12:26] #7454 closed

[2022-07-03 12:26] efiop commented on #7505
closing as stale

[2022-07-03 12:26] #7505 closed

[2022-07-03 12:26] efiop commented on #7538
closing as stale

[2022-07-03 12:26] #7538 closed

[2022-07-03 12:27] efiop commented on #7544
closing as stale

[2022-07-03 12:27] #7544 closed

[2022-07-03 13:29] alexmojaki commented on #3109
I have a PR for this in #7962. @efiop has [pointed out](https://github.com/iterative/dvc/pull/7962#discussion_r912481987) that relative imports can sometimes be unreadable, e.g. `from .....proc.manager import ProcessManager`. So a more nuanced rule like "relative up to a maximum of N dots" may be required. Automating this gets a bit more messy though, as [a PR to add that kind of config to the too

[2022-07-03 13:42] efiop commented on #7707
I thought this would come with the new telemetry package instead of us renaming stuff manually. The project hasn't been updated in a long time and not released properly yet https://pypi.org/project/iterative-telemetry/ , so I'm not sure if there is anything actionable that we really need to do here CC @casperdcl

[2022-07-03 13:47] efiop commented on #3109
I'm not sure that there could be a readable consistent policy except for enforcing absolute imports everywhere. We should've clarified it before, but this issue is really about using relative imports where it makes sense and makes code nicer (e.g. nested modules where it makes more sense to use `.` instead of `dvc.module.`). But I guess that makes this issue not very actionable, as it is hard to d

[2022-07-03 13:47] #3109 closed

[2022-07-03 23:46] liljenstolpe opened #7967 "install: does not work in a submodule"
# Bug Report

## Issue name

install: does not work in a submodule

## Description

If you try and run `dvc install` in a git/dvc repo that is a git submodule, it will fail, as .git is a file linking to the .git/modules directory in the parent.

### Reproduce

1. Create a git repo with DVC installed
2. Create a parent git repo
3. Install in the parent git repo the dvc repo as a submodule `git subm

[2022-07-03 23:53] liljenstolpe commented on #7967
By the way, my use case is probably a bit different than the one you envisioned.  I am actually using DVC for my photography workflow.  I was using git-annex - but it was overly complex for what I needed, and git-lfs leaves way too many copies of lots of large files around on clients.

Each 'project' ends up being a git submodule that has DVC enabled, with a gdrive back-end for all of the images.

[2022-07-04 02:46] mattseddon commented on #7265
Looks like you are right @dberenbaum I cannot recreate. We can use the full hash it may actually simplify the code. We will still need to return the short-sha whenever we show it in a toast popup.

[2022-07-04 08:43] pared commented on #6316
@mattlbeck The implementation should be on master.

for the use case from the description the plot would look like as follows:

[code]

[2022-07-04 10:19] daavoo commented on #7967
Hi @liljenstolpe , not to dismiss the request, but is there a reason for not running `dvc install` in the original repo being added as a submodule?

Regardless, this would need to be handled in `scmrepo`:

https://github.com/iterative/scmrepo/blob/e339077325eba9c4076710615488c1e5944b4bdb/scmrepo/git/__init__.py#L112-L115

[2022-07-04 10:29] SergioG-M commented on #2400
I am having this same issue with dvc 2.12.0 and using pre-commit hooks. I followed the docs https://dvc.org/doc/command-reference/install. Any idea what ay it be?

[2022-07-04 10:36] daavoo commented on #2400
Hi @SergioG-M ! could you open a new issue, sharing a detailed traceback? This issue is really old and the codebase has significantly changed since

[2022-07-04 13:13] omesser commented on #7707
@efiop
unifying telemetry into a package reusable by other products seems great
... 😄
BUT
Currently DVC uses internal logic - Why would this functional change be blocked by someone picking up iterative-telemetry project?
There's also a necessary BC piece here which is specific to the transition to convert from current dvc specific dir to iterative dir

[2022-07-04 13:22] efiop commented on #7707
@omesser We can provide backward compatibility when we migrate to the new package. I really can't see any reason to do this intermediate change right now. And it doesn't seem like it is blocking anyone.

[2022-07-04 13:34] #7888 closed, assigned to efiop

[2022-07-04 14:01] efiop commented on #7707
@casperdcl Makes sense. So telemetry is far away enough that we are doing this manual renaming step in the meantime across producs. I was hoping telemetry would be ready at this point or we would wait for it, but could rename for now, sure...

Any existing projects already using it or older user_id, btw?

I guess we'll look for a new file location and if we don't find it - we'll fall back to the o

[2022-07-04 14:11] efiop commented on #7707
@mike0sv @casperdcl So what's the status of telemetry package? Can we publish it and use it at least partically to retrieve the file location, etc? Seems better than having multiple projects do their own thing by hand. I can also contribute backward-compatibility code there to use old user_id as noted above.

[2022-07-04 14:13] geblanco commented on #7904
Hi @dberenbaum,

Yes, I do have read/write permissions over the entire disk.

[2022-07-04 15:57] danstowell commented on #6966
Hi - I suspect I'm hitting this same error. (I'm new to dvc.) I'm using dvc 2.12.0 (on ubuntu using pipx). It looks like the fix was merged back in Nov 2021, so it seems odd I'm still getting it. Here's my reproducer, does it also happen for you?

[code]

[2022-07-04 16:06] danstowell commented on #6163
I think I'm hitting this bug (newcomer here, hi) in dvc 2.12.0 (on ubuntu with pipx). In case it's useful, here's my reproducer:

[code]

with this output:

[code]

[2022-07-04 17:18] skshetry commented on #7707
I would feel comfortable pointing users to a file that is within the repository or bundled in source dist or git-archives. It should be a simple client, do we really need an external project?

[2022-07-04 17:26] alexmojaki commented on #6163
Yes, that's the same bug. I get the same traceback. In this case there is a content length header, but no etag/md5.

[2022-07-04 17:54] skshetry commented on #4657
There's a way upstream in `dvc-data` to update `.dir` file without downloading anything else, but it requires:
1.  to download `.dir` file locally in the cache,
2. handle pushing the new `.dir` file to remote yourself, and
3.  need to update hash in the `.dvc` file manually.

You need to tell dvc how to update the `.dir` file by writing a patch file in the JSON format where you provide a list of o

[2022-07-04 22:33] efiop commented on #7707
@skshetry We'll be using it in multiple projects, so it is easy to point everyone to that one place and handle all feedback/bugs/testing/etc there and not duplicate the code.

[2022-07-04 23:09] #1843 closed

[2022-07-04 23:38] shcheklein commented on #7944
https://github.com/iterative/dvc-render/issues/8 is an example where we would have to update the list of templates in a few places?

[2022-07-05 07:02] #6107 closed

[2022-07-05 07:18] #7926 closed

[2022-07-05 09:01] kohei-kawaguchi commented on #7946
The cache type priority is the default reflink,copy. But copy will be effective because I use Windows.

[2022-07-05 11:51] skshetry commented on #7707
Most of the issues that I see with analytics have been with integration, eg: weird interaction with daemon, some issues with pyinstaller and Windows, etc.

It's quite easy to test the other parts of the client. So I don't think it really helps us reducing bugs (i remember 3-4 minor bugs in last 2.5 years).

I find the duplication worth it, given that it makes it easier to audit the package itself

[2022-07-05 12:05] #7590 closed

[2022-07-05 12:06] karajan1001 commented on #7589
Closed as all of the features had been implemented.

[2022-07-05 12:06] #7589 closed

[2022-07-05 12:07] karajan1001 commented on #7591
Closed as all of the features had been implemented

[2022-07-05 12:07] #7591 closed

[2022-07-05 12:39] skshetry commented on #7707
Unittests should easily catch that.

[2022-07-05 14:19] dberenbaum commented on #5288
It can just be equivalent to `dvc remove foo.bar.dvc`. There is already the `--outs` option to also delete `foo.bar`.

[2022-07-05 14:25] dberenbaum commented on #7668
@endremborza Thanks for reporting. I reopened #7118 to track that issue.

[2022-07-05 14:51] nelsoncardenas opened #7977 "dvc.api.get_url: it doesn't find "md5" tag"
# Bug Report

## Description

I'm trying to use `dvc.api.get_url `to read a DataFrame in Google Cloud Storage, but the dvc file didn't create an md5 keyword, but an "etag" keyword in the `.csv.dvc` file. The python command `api.get_url()` looks for an "md5" keyword and generates an error.

### Reproduce

these are the steps I followed in macos with zsh:

1. `python -m venv deploy_env`
2. `source d

[2022-07-05 15:46] dberenbaum commented on #6257
I think it's a duplicate of https://github.com/iterative/dvc/issues/5560. Please comment if you think there's something different than that issue and I can reopen.

[2022-07-05 15:46] #6257 closed

[2022-07-05 15:58] danstowell commented on #6163
I agree it's a duplicate. I recommend editing the title of #5560 so it's clear what the error message and/or core problem is. Thanks!

[2022-07-05 16:12] dberenbaum commented on #4657
Thanks @skshetry! Great to know it's finally at least possible.

In the long-term (not prioritized yet, so no timeframe available), this workflow should happen automatically by being able to:

1. Granularly add/remove/modify directory contents.
2. Automatically pull the `.dir` "virtual directories."

For example:

[code]

[2022-07-05 16:19] ralphbird opened #7978 "Add exit code for pre-commit hook"
When running the pre-commit hook I would like it to fail if there are updates to files tracked by DVC, at the moment I get the status message but pre-commit completes and I cannot "force" people to run `dvc commit` prior to running `git commit`.  I can get the exit code from the command line via `dvc status -q` but not within pre-commit.

Ideally I would like the hook to look something like,

[cod

[2022-07-05 16:34] dberenbaum commented on #5288
Thanks for remembering that @daavoo. I would echo that it may not be worth the effort at the moment and may require more holistic changes to the UI.

[2022-07-05 16:43] efiop commented on #7707
@skshetry Copying unit tests from project to project or creating them from scratch everywhere is suboptimal though, as people will miss things. The whole idea is to consolidate effort and not waste it in every team and suffer from inconsistencies.

The decision to create common telemetry package with common user_id and stuff was joint, it would be really weird if we decide to have our in-house one

[2022-07-05 16:47] efiop commented on #5560
@dberenbaum That's just a bug though that we need to fix. Verbose log:

[code]

The old message was there because our implementation was very limited compared to what we have now. Except for some edge cases, we should be able to download anything reasonably well. Let's get back to the message after we fix this bug.

[2022-07-05 16:53] dberenbaum commented on #5560
My concern was that it's currently p3 and https://github.com/iterative/dvc/issues/6163#issuecomment-1172915694 made it seem like it might not be that straightforward. Are we planning to prioritize fixing it?

[2022-07-05 16:54] efiop commented on #5560
@dberenbaum Yeah, I took a closer look along the way and will submit a fix shortly. Thank you!

[2022-07-05 17:07] efiop commented on #5560
Seems like the error we are getting is a bit different though. Could you post your verbose log, please? @dberenbaum

[2022-07-05 17:32] dberenbaum commented on #5560
Thanks @efiop! Here's the verbose log:

[code]

[2022-07-05 17:44] skshetry commented on #4657
Note that the only reason why dvc-data cannot handle pulling and pushing `.dir` file is because it does not understand dvc's config. We can implement that in dvc itself trivially (with the `patch.json` like ways as I mentioned above).

Of course, if we want to go with granular method, the solution is more complex and the issue is much more larger than just updating virtual directory.

[2022-07-05 17:52] dberenbaum commented on #4657
Pulling/pushing the `.dir` files can be a good first step, like `push --dir-only` and `fetch --dir-only`. It's not enough in the long-term because the UX for how to make updates to those directories would still be complicated. Granular directory handling also makes other directory use cases simpler (users shouldn't have to know or decide whether to track as files or directories).

[2022-07-05 17:55] skshetry commented on #7707
Inconsistencies can be removed (or will eventually be consistent). I'd say it's worth the (minimal) effort, compared to the things we lose after this, especially control over a sensitive part of DVC.

Not for fun, but for all the reasons that I have given above (sorry don't want to type again, I'm on my phone).

[2022-07-05 17:56] AlexandreBrown commented on #4657
In our case we solved many of our issues (such as updating without loading the dataset entirely), we started using Iterative's [ldb](https://github.com/iterative/ldb-resources) tool instead of DVC and we're really happy so far.
One might gain from checking if this other amazing tool from Iterative could suit their needs.

[2022-07-05 17:56] #5560 closed

[2022-07-05 18:03] dberenbaum commented on #5560
Just to close the loop, I can confirm it works with `dvc-data==0.0.19`.

[2022-07-05 20:14] dberenbaum opened #7980 "queue: kill --all"
Would be nice to have a flag to kill all running experiments.

[2022-07-05 20:28] dberenbaum commented on #7980
Forgot that this is possible with `dvc queue stop --kill`.

[2022-07-05 20:28] #7980 closed

[2022-07-05 20:47] tailaiw opened #7981 "Determine if a step in pipeline should be skipped by checking the output md5 of upstream step"
When we have two steps in a pipeline (say A -> B, where step B depends on an output file `A.output` from step A), whether or not step B should be skipped should depend on if `A.output` is changed, instead of the if the script of step A changed.

If we just make some minor formatting changes in the A script which doesn't change its output at all, step B should be skipped when running `dvc repro`.

[2022-07-06 00:41] kohei-kawaguchi commented on #7946
How can I stop the unnecessary relinking?

[2022-07-06 02:08] liljenstolpe commented on #7967
Because the hooks in the original repo are stored in a .git/hooks file which isn't part of the actual repo (it's local context - i.e. you have to do it in all instances of the cloned repo).  So, you have to do it after you add the submodule.  However, submodule ".git" directories are actually in the parent's .git/modules/<submodulename> directory.  It seems as if the code has hard coded .git/hooks

[2022-07-06 08:27] dtrifiro commented on #7564
Hi @atekoa,
I've been a bit busy in the past few weeks, so I haven't had time to work on this. I should be able to have another go sometime next week though :slightly_smiling_face:

[2022-07-06 12:46] #6402 closed

[2022-07-06 13:46] efiop commented on #5589
@andriihomiak Please share full verbose log and `dvc doctor` output.

[2022-07-06 13:53] andriihomiak commented on #5589
[code]
[code]

[2022-07-06 14:25] andriihomiak commented on #5589
Turns out, i was using root of the azure container with container-level credentials. Adding a subpath like `azure://<container>/<subpath>` in `.dvc/config` seems to have solved the issue.

[2022-07-06 19:26] dberenbaum commented on #7944
@shcheklein I'm still struggling to envision the command 🤔 .

The default could look like:

[code]

If you are listing them all by default, `--all` seems like a non-intuitive option to dump them, so maybe just `--dump`?

[code]

Would you keep a way to get a single template? It's probably not strictly needed but is nice to have if you know you only want to modify a specific template. `dvc plots te

[2022-07-06 23:12] alexmojaki commented on #5288
Here's a small change that only improves the error message: https://github.com/iterative/dvc/compare/main...alexmojaki:dvc:remove-file-message

Now when you run `dvc remove thing`, instead of:

[code]

it says

[code]

and similarly instead of

[code]

it says

[code]

[2022-07-07 09:23] karajan1001 commented on #7374
PR #7963 partly solve this problem (for the `pull` and `checkout` after a `ststus` ). To completely close this required some following work on `dvc_data` side.

[2022-07-07 13:41] ursueugen opened #7984 "dvc get: fails with gdrive remote"
# Bug Report

dvc get . $relative_path: fails with private organisational github repo and gdrive

## Description

Thanks for the amazing package - loving it.

I'm trying to download an individual file from a dvc google drive remote based on a private organisational github repository. Although `dvc list` works, `dvc get . $path` and `dvc import . $path` is unsuccessful. I'm attaching error logs.

#

[2022-07-07 14:08] dberenbaum commented on #5288
Great idea @alexmojaki! Let's go with that, thank you 🙏 .

[2022-07-07 14:43] dberenbaum opened #7985 "exp show: make --only-changed default"
`exp show --only-changed` seems like the most useful way to show experiments in most scenarios, and some questions we get about filtering the columns seem like they would be resolved by using `--only-changed`. Some background:

* https://github.com/iterative/vscode-dvc/issues/1994#issuecomment-1177717853
* https://github.com/iterative/dvc/issues/6271

This would mean needing swapping flags and int

[2022-07-07 14:48] dberenbaum opened #7986 "exp show: --queued and --failed"
_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/7592#issuecomment-1154119198_

[2022-07-07 14:49] dberenbaum commented on #7986
Need to coordinate with VS Code on these changes cc @mattseddon

[2022-07-07 18:02] sjawhar commented on #7896
OK, guys, I've found the issue! See [this chunk of code in tqdm](https://github.com/tqdm/tqdm/blob/4f208e72552c4d916aa4fe6a955349ee8b2ed353/tqdm/std.py#L984-L1005). When being run in a non-interactive environment (`isatty() is False`), the tqdm constructor hits this early return and doesn't set the `desc` property

[2022-07-07 18:47] bajaj commented on #7832
I too got this issue.

[code]

[2022-07-07 20:04] pared commented on #7984
Reproduction script:
[code]

The problem is that when using cloned repo, the repo with git filesystem does not have `tmp_dir` which is required to store `gdrive` credentials, hence the assert error.

The issue culprit is https://github.com/iterative/dvc/pull/7724
cc @efiop

[2022-07-07 20:11] alexmojaki opened #7988 "Clean up legacy code referring to plots in verify_metric"
See https://github.com/iterative/dvc/pull/7973#discussion_r915731666

[2022-07-08 01:03] shcheklein commented on #7944
good stuff @dberenbaum !

agreed

yep, feels it's nice to have, I would try to make it happen

🤔 sound reasonable

again, sounds reasonable

yes, still feels like a great improvement

probably we can find a lot of example where default does one thing and specifying a target another.

e.g.:

if you pass a target it'll create a new branch.

[2022-07-08 05:25] pmrowla commented on #2973
For the record, metrics collection is now done via the unified repo collection behavior, which should properly handle the repo tree and recursively collect all metrics (when the appropriate CLI flags are used).

This issue remains open since metrics are still required to be files in DVC (and cannot be directories)

[2022-07-08 09:18] karajan1001 opened #7990 "exp run: Frozen imported stages still `Creating external repo`"
# Bug Report

In https://github.com/iterative/example-get-started, After `dvc pull` the data down from remote. `dvc exp run` still shows a progress bar of `Cloning dataset-registry`.

## Description

For an imported and frozen stage, `dvc exp run` still try to clone it. but `dvc run` will just ignore it.

### Reproduce

1. git clone git@github.com:iterative/example-get-started.git
Cloning into 'ex

[2022-07-08 10:33] #7990 closed

[2022-07-08 16:13] dberenbaum opened #7991 "exp gc: deprecate in 3.0"
`dvc exp gc` has become redundant with `dvc exp remove`. It's confusing because:

1. Both commands do the same thing in different ways.
2. It doesn't actually `gc` the DVC-tracked data, so it's name and relation to `dvc gc` is not obvious.
3. `gc` syntax is harder to understand. This is justified for the cache where we want to ensure we don't delete something referenced in multiple places, but eac

[2022-07-08 16:13] dberenbaum commented on #7991
Related to https://github.com/iterative/dvc/issues/7093.

[2022-07-08 17:51] HaddocktheHorrible commented on #2432
We are also interested in this. Related, being able to use `dvc import-url` for SharePoint assets would be hugely helpful for putting a pin in "living" documents (kept on SharePoint) that drive model updates/requirements. I believe that use has the same auth/access issue as a remote hosted in SharePoint. Leaving a comment in [fsspec/filesystem_spec/issues/280](https://github.com/fsspec/filesystem_

[2022-07-08 17:53] #7896 closed

[2022-07-08 17:53] efiop commented on #7896
Thank you, @casperdcl ! 🙏

[2022-07-08 19:49] efiop commented on #7922
Unlike git, we mix both index building and object building together right now, but if (or more like when) we will start building an index first, we will be able to provide the total during object building.

[2022-07-08 20:05] dberenbaum commented on #7944
@shcheklein tldr you prefer the suggested syntax to the current one? 😄

I have no strong preference except that we nail down exactly the expected syntax before we spend more time on this command.

@pared WDYT?

[2022-07-08 20:22] dberenbaum commented on #3079
Closing as stale

[2022-07-08 20:22] #3079 closed

[2022-07-08 20:39] dberenbaum commented on #3590
You should be able to list the contents of the relative path now although the first argument will still be interpreted as the repo url (like `dvc list . [relative_path]`).

[2022-07-08 20:41] dberenbaum commented on #3607
Closing this as stale. @jorgeorpinel Feel free to reopen if I misunderstood.

[2022-07-08 20:41] #3607 closed

[2022-07-08 20:47] dberenbaum commented on #3682
@skshetry Is this one completed?

[2022-07-08 20:50] dberenbaum commented on #3743
@skshetry Can we close this one as completed or as a duplicate of #5390?

[2022-07-08 21:01] dberenbaum commented on #4297
@skshetry Can we close this one as completed or maybe open a new issue/edit the title to reflect the remaining work you would like to address? I think the original issue is solved, right?

[2022-07-08 21:03] dberenbaum commented on #4366
Closing as stale

[2022-07-08 21:03] #4366 closed

[2022-07-08 21:05] dberenbaum commented on #4447
@skshetry Can we close this one?

[2022-07-08 21:08] dberenbaum commented on #4779
@pared Can we close this one?

[2022-07-08 22:53] pared commented on #4779
Not sure, I would probably rename the issue to "how to ask users to update their plots or delete default ones". For some time now, we source the plots from `dvc-render` but there still might be users using obsolete plots, just because we used to dump them.

[2022-07-09 04:47] aaron-meyers commented on #7964
Well, I just installed 2.12.1 and this doesn't repro anymore, so closing for now.
Thanks!

[2022-07-09 04:47] #7964 closed

[2022-07-10 02:33] karajan1001 commented on #7981
In your case Stage ( step) `B` doesn't depend on `A.py`, It depends on both `A.output` and `B.py`, But `A.output` depends on `A.py`, If you changed something in `A.py` , DVC will think that `A.output` might also been changed after reproduction, so it will run Step A first.

Sorry DVC can't distinguish between formatting changes and logic changes for now. But you can either, reproduce stage A once

[2022-07-10 04:59] shortcipher3 opened #7993 "dvc metrics/plots diff local files"
You can use git diff to compare to local files.

[code]

It would be nice to have the same functionality with `dvc`, for example I have a model and then a quantized model, since there are many ways to quantize a model I would like to have stages that take the original model and create the quantized model - so they belong in the same commit.

For reporting purposes and understanding I would like to

[2022-07-10 13:05] omesser commented on #7707
@skshetry
To your concerns about transparency and user trust - we should make https://github.com/iterative/iterative-telemetry public (see: https://github.com/iterative/iterative-telemetry/issues/30), I don't think that it warrants the duplication

Today this package doesn't do much, but the idea is to unify the more important parts of telemetry in the future (not just `user_id` resolution and con

[2022-07-10 18:32] pared commented on #7944
I think that the simplest seems to be just list available templates on `dvc plots templates` and `dvc plots templates {name}` would print to stdout. No dumping all templates, no `.dvc/plots` behavior - just let user do whatever they want. That is simple and easy to understand.

[2022-07-10 23:11] dmpetrov opened #7995 "Cloud versioning"
# Idea

Cloud storages (S3, GCS, Azure blob) do support file versioning. Why don't use cloud versioning instead of DVC cache in the storage level while keeping the DVC cache locally?

**Motivation:** Because of DVC name, many users consider DVC as data management and data versioning tool. They expect DVC to work with their existing datasets (for example, an existing directory in S3). They try DVC

[2022-07-11 03:44] karajan1001 commented on #7995
The versioning cloud cache is more like a workspace instead of a cache space.

[2022-07-11 03:49] karajan1001 commented on #7993
Also for model distillation.

[2022-07-11 08:51] josecelano commented on #829
Hi, is there a more formal definition of this feature? I have some questions, especially about what is not included in this feature.

I suppose "chunking" is just splitting the files into smaller pieces so that you do not have to store/download/upload duplicate pieces.

And I suppose this does not have to do with downloading/uploading chunks in parallel from different remote storages, right?

1. D

[2022-07-11 08:59] pared commented on #7993
@shortcipher3 regarding the plots it should be already available in latest release:

[code]

[2022-07-11 09:57] pared commented on #7978
@ralphbird
Do you have a workaround for that for the time being?
Would the usual git-hook suffice? Something like:
[code]
In your .git/hooks/pre-commit

[2022-07-11 11:10] Chickenmarkus commented on #829
Can you give a short update on how high or low prioritized this issue is right know, please? Even a second guess of time schedule is highly appreciated.

At the moment, the chunking is crucial for further usage of dvc. We are going to automate our MLOps pipeline which will update dataset of approx. 20GB only slightly based on customer feedback every week. Without chunking but with re-uploading eve

[2022-07-11 11:51] efiop commented on #829
@josecelano

1. yes
2. no, we still process remotes one-by-one, but everything from one remote is transfered in parallel
3.  yes, same as 1
4. no, same as 2

Correct about cloud versioning. It could still be used as optimization (we can use version id for particular chunk file), but that complicates it. So this could be an option. But we'll need to take a closer look.

[2022-07-11 11:52] efiop commented on #829
@Chickenmarkus We've been working on some pre-requisites like https://github.com/iterative/dvc-data and https://github.com/iterative/dvc-objects, which will host the forementioned functionality. We might get to this in Q4, but I'm not 100% sure, as we have other more product-oriented priorities.

[2022-07-11 12:49] dberenbaum commented on #4779
But now we have a path to update those, so is it only a docs issue? Should this be addressed as part of https://github.com/iterative/dvc.org/pull/3697?

[2022-07-11 15:20] shortcipher3 opened #8001 "Add histogram plot template"
I would love support for histograms as a plot.  This could be useful for understanding the data in a dataset or the predictions from a dataset, etc.

[2022-07-11 15:29] dberenbaum commented on #7981
In addition to what @karajan1001 said, you can manually run `dvc commit A` if you know that there are only formatting changes to `A.py`. This will tell DVC that the updated `A.py` still generates the same `A.output`, so when you run the pipeline, it will skip this step.

[2022-07-11 15:56] dmpetrov commented on #829
@Chickenmarkus I'd appreciate it if you can share more details about your use case:
1. What is the type and format of data: csv, images or something else.
2. How does a typical data update looks like: append data to a file or change in any part of the file?

[2022-07-11 17:53] liljenstolpe opened #8002 "API support for remote add and modify"
I have a use case where it would be very useful to automate the `dvc remote add` and `dvc remote modify` CLI from within a python script.  I can certainly call out to execute the CLI, but it would be cleaner if those (I assume) internal APIs could be exposed.

Thx
Christopher

[2022-07-11 18:07] dtrifiro commented on #7865
I would also opt for removing `exc_info=True`. Are there any cases in which a full traceback can yield useful information though?

[2022-07-11 18:07] tibor-mach opened #8003 "dvc plots show: paths relative to `dvc.yaml` instead of `$PWD` in version 2.12.1 and 2.13.0"
# Bug Report

## Description
In the new release `2.13.0`, `dvc plots show` (or diff) does not work with a setup when the `dvc.yaml` file is not in the root directory and when the data (for plots) are on a different path relative to the root.

For example with a repo structure like this
[code]
where
[code]
and
[code]
where in each dvc.yaml file and each stage we have
[code]
(i.e. the working direct

[2022-07-11 18:12] tibor-mach commented on #8001
Tracked [here](https://github.com/iterative/dvc-render/issues/20).

You can have a look at my recent PR for bar charts/feature importance plots [here](https://github.com/iterative/dvc-render/pull/67)

And also the previous [discussion](https://github.com/iterative/dvc-render/issues/8) which showed me how to add the new templates (it is actually quite easy)

cc @daavoo @pared

[2022-07-11 18:34] daavoo commented on #8003
Sounds like might be an unexpected consequence of https://github.com/iterative/dvc/pull/7477 . cc @pared

[2022-07-11 18:34] tibor-mach commented on #8003
Could it be related to the change to dvc/repo/plots/__init__.py in [this](https://github.com/iterative/dvc/commit/0d71194741f9423d431dfee873005bd1894c0b37) commit and also [this](https://github.com/iterative/dvc/commit/fbb98a87d1ba0ddbe2ab05d4e60f4271099d9a56#diff-c9771b44ffdeff9be717b676b34aae79a942d5e22c672b85e489984bc15fe16d) parent commit?

Not that I understand the details of the inner workin

[2022-07-11 18:55] pared commented on #8003
@tibor-mach not sure which one causes it, but I am pretty sure its the latter one.

[2022-07-11 22:53] pared commented on #8003
@tibor-mach can you check if #8004 fixes the problem? (if its possible for you to install from branch)

[2022-07-12 07:12] bsilver8192 opened #8006 "pull: slow with hot cache and lots of files due to sqlite state"
# Bug Report

## Description

`dvc pull` even with everything cached is slower than necessary. I have a folder with 128k files. It takes around 75 seconds to `dvc pull` on my machine (modern desktop processor, fast SSD, ext4). In my CI job that takes around 2 minutes (modern Xeon, fast SSD, btrfs). This change takes it down to 15 seconds on my machine:
[code]

When CI is doing a `dvc pull` where t

[2022-07-12 08:15] efiop commented on #8006
Hi @bsilver8192 !

Thanks for opening this issue. We are aware of state implications, @skshetry did a research for it too in https://github.com/iterative/dvc-data/pull/93 . `--no-state` could be an option, but we probably can get this faster with using state.

Closing in favor of https://github.com/iterative/dvc-data/pull/93 for now.

[2022-07-12 08:15] #8006 closed

[2022-07-12 08:18] pmrowla commented on #4984
Hi @SangamSwadiK, I think this issue is actually no longer relevant in the latest version of DVC due to changes that have been introduced since 1.10 (chained imports are now supported). Sorry for any confusion

closing this issue as stale

[2022-07-12 08:18] #4984 closed

[2022-07-12 08:55] pared commented on #4779
Good point, I agree, we can close this.

[2022-07-12 09:38] Madrueno opened #8007 "dvc get: S3 timeout error when trying to dowload files"
# Bug Report

## Description

I have several files tracked with dvc in a S3 bucket. When I try to download these files with `dvc get`, it throws one of the following errors at some point, resulting with only a couple of these files downloaded:
[code]
[code]

However, this does not happen if:
- I download the data by cloning the git repo and running `dvc pull` on it.
- I run the `dvc get` command w

[2022-07-12 11:41] tibor-mach commented on #8003
@pared
Yep, works as intended with the following version

(obtained from your branch, installation by pip
`pip install git+https://github.com/pared/dvc.git@8003_fix_wdir_plots`
)
[code]

[2022-07-12 11:53] #678 closed

[2022-07-12 11:58] rafaelsdellama commented on #678
@daavoo this alternative approach would solve in my case :smile:

[2022-07-12 12:40] #7592 closed

[2022-07-12 12:40] #5615 closed

[2022-07-12 12:59] percevalw opened #8008 "add: taking more than 20min when multithreaded vs 20s with one job"
# Bug Report

## Description

Following https://github.com/iterative/dvc-objects/pull/99

I initialized a local repository and tried adding a 74MB folder of 564 files to dvc. I ran the command on a cluster node with 32 cpus, with no remote. Running `time dvc add data` while forcing the number of workers to 1 with https://github.com/iterative/dvc-objects/pull/99 produced this output

[code]

while

[2022-07-12 14:17] dberenbaum opened #8009 "checkpoints: persist all outputs"
In situations with checkpoint outputs along with other outputs (like plots and metrics), DVC persists only the checkpoint output and deletes the other outputs each checkpoint. In most cases, users want to persist or drop all of the stage outputs instead of persisting some and dropping others. For example, if I'm running a typical ML training script, I don't expect the outputs of that script to be

[2022-07-12 14:46] daavoo opened #8010 "gc: Support multiple `--rev`."
What if I wanted to do something like `dvc gc --rev HEAD --rev baseline --rev some_other_tag`? That would depart from how `--rev` is used in `exp` commands and is a separate request, but I'm wondering if we are making that future possibility harder by introducing a different `--rev` behavior (related to https://github.com/iterative/dvc/issues/5066, which asks for _skipping_ specific revs). Not a b

[2022-07-12 17:43] stephanrb3 commented on #5338
I have a use case for this:

We don't store the pipeline in the repo itself we store it in a separate repo which is pulled down to each model repo during ci pipelines. And we also have separate pipelines stored locally for other purposes. So we run different pipelines depending on what the engineer is trying to do. So we always have at least 2 completely different pipelines that run in the same re

[2022-07-12 18:13] #7695 closed

[2022-07-12 19:12] narbhar opened #8011 "Individual remote config changes across different machines"
### Report

I have a remote that I access over network via SFTP. This remote is situated in a GPU server. The idea is to have a few team members push datasets to the GPU server as remote and then I pull the datasets as needs on the GPU server to the run experiments.

While for my team members, the config file will point out the GPU server, port and password, on the GPU server my remote would be a

[2022-07-12 21:45] narbhar commented on #2397
I still face this issue in version 2.13.0
In my case I created two versions of the dataset. Let's say the dataset folder is called "numbers". This has folders with all odd numbered named folders until 10 with, for e.g, "one", "three", "five"... and so on. I tag this on git as "odd"
Now I make changes to the dataset and remove all the folders inside "numbers" and replace then with a new set of fold

[2022-07-13 00:13] shcheklein commented on #8011
@narbhar [`--local`](https://dvc.org/doc/command-reference/remote/modify#--local) option work for you in this case?

With this option you could override any remote and its settings in the `.dvc/config`.

Or you could use `dvc remote add --system` or `dvc remote add --global` on all machines.

A bit more advanced: in this case, on the GPU machine you could even use that remote storage as a cache- `

[2022-07-13 05:16] mattseddon opened #8014 "`dvc queue`: unexpected behaviour"
# Bug Report

## Description

Whilst checking out the new `dvc queue` command I have run into some unexpected behaviour. I won't duplicate the steps to reproduce here but after queueing and running experiments I have run in to two different issues.

VS Code demo project: `dvc queue status` returning `ERROR: Invalid experiment '{entry.stash_rev[:7]}'.` (produced when running with the extension)
`ex

[2022-07-13 05:23] mattseddon commented on #8014
Also realise that I am working with something that isn't even officially released, so if this isn't the correct way to give early feedback then please LMK.

[2022-07-13 08:39] karajan1001 commented on #8007
Hi, @Madrueno

Could you please provide some detailed logs? through `dvc get ... -vv`?
And the `-j` para works fine for you? Only see one file downloading at a time?
Are you in a poor network condition? if so,`dvc remote modify {yourremotename} read_timeout 300` might help you.

[2022-07-13 15:00] narbhar commented on #8011
@shcheklein My main concern is since this repo is shared by multiple team members, pushing any changes from the server would affect others' config file whenever they are overridden and they pull it to their system.

I currently use the local option to store the password for the connection made to the server instead of pushing it to git. Is there a way to make DVC prioritize config.local over confi

[2022-07-13 15:01] narbhar commented on #8011
@shcheklein My main concern is since this repo is shared by multiple team members, pushing any changes from the server would affect others' config file whenever they are overridden and they pull it to their system.

I currently use the local option to store the password for the connection made to the server instead of pushing it to git. Is there a way to make DVC prioritize config.local over confi

[2022-07-13 15:03] ldelphinpoulat opened #8015 "ISO 8859-1 filenames break functionnalities such as dvc exp show"
# Bug Report

ISO 8858-1 filenames break functionnalities such as dvc exp show

## Description

A file with an ISO-8859-1 character in my case 'ç' was committed to the git repository. The git directory was pushed on a distant server and then retrieved via a pull. Then `dvc exp show` does not work properly. The filename causes a problem to `scmrepo/git/backend/pygit2.py` at line 57 (scmrepo==0.0.25

[2022-07-13 15:13] #7865 closed

[2022-07-13 15:40] ldelphinpoulat commented on #8015
Here is th log
[dvc_exp_show.log](https://github.com/iterative/dvc/files/9103798/dvc_exp_show.log)

[2022-07-13 20:56] mattseddon commented on #7986
Related to https://github.com/iterative/vscode-dvc/issues/1995 & https://github.com/iterative/vscode-dvc/issues/1996.

[2022-07-13 21:41] shcheklein commented on #8011
hmm, it is prioritizing the local config over config. What do you mean by "just for the server", could you clarify please?

[2022-07-14 00:57] mattseddon commented on #8014
Yesterday I tried to recreate 4 times and hit this issue 3 times.

Today I tried twice and hit on the second time so 4/6 times.

https://user-images.githubusercontent.com/37993418/178861538-613e19b2-9aae-4ab8-b2bc-598d7676ee74.mov

Notice in the video that I start queue execution with 2 workers but every time I call `queue status` it only shows 1 (yesterday I consistently saw 2). The queue tasks b

[2022-07-14 01:46] mattseddon commented on #8014
Based on the above and https://github.com/iterative/vscode-dvc/issues/1995#issuecomment-1183854689 I think we are going to need the relevant queue task sha against each experiment in the `exp show` data. Will that be possible?

[2022-07-14 06:49] Madrueno commented on #8007
Hi, @karajan1001

Yes, if I use the `-j 1` parameter, so that it downloads one file at a time, it works fine.

I have increased the `read_timeout` to `300` and the logs of the execution of `dvc get ... -vv` are these:

[code]

[2022-07-14 07:06] karajan1001 commented on #8007
Are you using a computer with a large number of cores?  The concurrency number will be 4 * core numbers.  Maybe you met this problem #4504, I think you can set a relatively bigger number than 1 for the performance, and if you do not want to type `-j ` again and again. You can config it through.

[code]

[2022-07-14 08:08] karajan1001 commented on #5338
Excuse me, I have a question here, why can't store all of the pipelines in the `dvc.yaml` and do different executions in different ci progress `dvc run "special stage name"`?

[2022-07-14 09:46] Madrueno commented on #8007
I have 8 CPUs, but I have also tried with `-j 2`, `-j 4` and `-j 8` and it still doesn't work.

[2022-07-14 10:11] rick-van-veen opened #8016 "`get`/`list`/`import`: not working with company github + webdavs storage"
# Bug Report

`get`/`list`/`import`:  not working with (company) github + webdavs storage.

See also the discussion [here](https://discuss.dvc.org/t/import-list-webdavs-remote-not-working/1243?u=rick).

## Description

I'm trying to import data from a data registry. URL: `git@github.com:company/data-registry.git`. The data-registry stores its data on a webdavs accessible remote server (URL: `webda

[2022-07-14 13:03] karajan1001 commented on #8007
Are you pull some big files similiar to #6241?

[2022-07-14 18:50] dberenbaum opened #8018 "`exp remove`: failed experiments"
Failed experiments cannot be removed using `exp remove`:

[code]

See https://github.com/iterative/dvc.org/pull/3715#discussion_r921466634

[2022-07-14 18:52] dberenbaum commented on #7986
Given the discussion of `dvc exp` being the primary interface over `dvc queue`, it might make more sense to include all of these by default and make the flags `--hide-queued`/`--hide-failed`.

[2022-07-15 06:27] Madrueno commented on #8007
I'm trying to download 100 audios of no more than 200 MB (most of them less than 10 MB) and 100 txt files of no more than 2 KB.

[2022-07-15 07:12] sorenwacker opened #8019 "Running dvc push to google drive for the first time in WSL2 changes commandline font styles to italic"
# Bug Report

I follow the instruction https://www.youtube.com/watch?v=kLKBcPonMYw&ab_channel=DVCorg

running the commands in WSL2.

After `dvc push` the commandline has changed its appearance. For example, some text is italic.

[2022-07-15 12:18] ldelphinpoulat opened #8020 "dvc metrics show doesn't output anything when called from a subdirectory of the repository"
# Bug Report

dvc metrics show doesn't output anything when called from a subdirectory of the repository.
## Description
When the pipeline described in `dvc.yaml` is stored in a subdirectory e.g. `pipeline` of the repository and it contains a stage that produces a metric file e.g. `metric.json` within this same directory, running `dvc metrics show`  within this directory doesn't ouptut anything. W

[2022-07-15 14:20] pared commented on #8020
My brief research seems to point into `dvc/repo/metrics/show.py::_to_fs_paths` as a culprit.

[2022-07-15 23:40] efiop commented on #7984
Getting back to this, we detached `tmp_dir` from the `repo.fs`, which is correct, but we might need `tmp_dir` anyway for some other operations. So we might want to generate a `tmp_dir` on a `localfs` instead of just setting it to `None`. Will take a closer look...

[2022-07-16 02:11] karajan1001 commented on #8007
I'm curious why the endpoint URL: "http://<ip>/latest/api/token" not the ordinary format like "https://my_bucket.s3.eu-west-1.amazonaws.com/"? Is there any particular settings except for the public bucket of S3.

[2022-07-17 16:48] efiop commented on #7984
Ok, getting back to this again, really hate the idea of generating random `tmp_dir`. Caching somewhere sounds way nicer (similar to what https://github.com/pydata/pydata-google-auth/blob/main/pydata_google_auth/cache.py does).  Regarding the problem of global cache, also really don't want to start with that, so we could begin with being very conservative in our cache, having a subkey that is based

[2022-07-17 21:22] mattseddon commented on #6133
Will not be required after `data:status` is implemented.

[2022-07-17 21:22] #6133 closed

[2022-07-17 21:27] mattseddon commented on #7756
Problem has been solved in the extension. Can close as duplicate.

[2022-07-17 21:27] #7756 closed

[2022-07-18 01:53] mattseddon commented on #8014
Running experiments from the queue and then making a commit leads to a change of behaviour in `exp show`. The previous commit is not returned by default.

Details:

[code]

The git log shows that both are still against the previous commit:

`commit 26c5bbeddece45965cf518bde132180f7edbe7f2 (refs/exps/exec/EXEC_HEAD, refs/exps/exec/EXEC_BASELINE)`

Do you want a separate issue for this?

[2022-07-18 09:32] karajan1001 opened #8023 "remote: `default` cann't unset the default as described in help message"
# Bug Report

`dvc remote default` can not unset an already existing default remote

## Description

In help message of `dvc remote`

But it can only set a default data remote while the second run do not unset it.

### Reproduce

[code]

### Expected

The current default is unset.

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

I returned to

[2022-07-18 12:24] dtrifiro commented on #7564
I could not reproduce the issue. Closing this as it's likely related to the custom remote being used.

[2022-07-18 12:24] #7564 closed

[2022-07-18 12:46] friggog commented on #6622
I'm still hitting this exception in latest release btw - seems like it was not resolved previously

[2022-07-18 12:52] efiop commented on #6622
@friggog Please post verbose log with the newest dvc version.

[2022-07-18 13:00] friggog commented on #6622
[code]

[2022-07-18 17:06] narbhar commented on #8011
What I meant was that the parameters in config file for accessing the remote folder is different across different machines. Since the repo is being shared by a bunch of team members, the global file contains config (ssh into GPU server) that is very similar across all these machines, however since the GPU server, which is hosting is remote, also needs to pull and push datasets, the config would be

[2022-07-18 18:52] efiop commented on #6622
@friggog Have you tried lowering the `--jobs`, btw?

[2022-07-19 01:31] shcheklein commented on #8011
I hope there should be a simple fix to this. Could you show (hide the values) your configs please?

[2022-07-19 02:12] shcheklein commented on #7949
@daavoo should we merge the bump (5.2) and release the new version?

[2022-07-19 06:16] karrtikiyer commented on #2321
I have a similar question, not sure if it is the same.
Say I have set up a DVC pipeline, in which the first step is get_data, which loads the data from Athena using SQL queries.
When I run dvc repro, will this step get executed every time even if the data underneath Athena in S3 buckets might have not changed? Is there a way that DVC can determine if get_data should be executed again?

[2022-07-19 09:21] friggog commented on #6622
Yes! That fixes it 😃 - the default of 2x CPU cores seems a bit crazy on machines with many cores (I have 18 so get 36 threads). Would it make sense to cap the default at something sensible like 10-15?

[2022-07-19 10:20] sorenwacker commented on #7949
I wonder, why does it work on a local machine, but not on GitHub actions? Maybe it is possible to create a workaround until this is fixed?

[2022-07-19 11:53] #7984 closed

[2022-07-19 14:51] dberenbaum commented on #2321
@karrtikiyer You would have to point to the underlying s3 data as a dependency if you want DVC to be able to determine if get_data should be executed again.

[2022-07-19 16:09] D34D10CK opened #8026 "import-url from a google bucket crashes with file not found"
# Bug Report

`import-url` fails to import from bucket

## Description

When using `import-url` to import data from a bucket, the command fails with a file not found error. DVC manages to correctly download all files but crashes afterwards.
The stack trace I get while running `dvc import-url gs://my-bucket data/raw -v` is the following (I had to anonymize the names of the files):
[code]

If that c

[2022-07-19 17:27] dtrifiro commented on #8026
Could not reproduce using the following reproduction script:
[code]

Will try again later by adding/deleting files to try to reproduce your exact scenario

[2022-07-19 18:01] dberenbaum commented on #2321
I don't have any examples for Athena, but if you know where the data is in s3, you can use this to see how to point to it as a dependency: https://dvc.org/doc/user-guide/external-dependencies.

[2022-07-19 18:11] dtrifiro commented on #8023
I'd expect `dvc remote default` to print out the currently configured default remote, and `dvc remote default --unset` to unset the current remote. Does that make sense to you?

[2022-07-19 20:52] efiop commented on #7692
@pared Any progress on this one?

[2022-07-20 03:10] mattseddon opened #8029 "`exp show`: incorrect errors"
# Bug Report

## Description

We are currently working on displaying experiment errors in the extension (https://github.com/iterative/vscode-dvc/issues/1636). I have discovered that the msg/type fields in `exp show` errors shown at the file level can be incorrect. E.g

[code]
In the above example, `training_metrics.json` is not a YAML file.

### Reproduce

1. open any project that has a JSON metri

[2022-07-20 04:04] mattseddon commented on #8029
Resolved with `2.13.0` 👍🏻.

[2022-07-20 04:04] #8029 closed

[2022-07-20 09:08] karajan1001 commented on #8014
Two individual queue tasks collapse into one single result in `exp show`, it is because the output of both experiments are the same

I looked into the run log of these two tasks and found that both of them are
[code]
They just retrieved the cache and gave the same result, and resulted in the same `hash` and `name(first 7 chars of hash)`.
This phenomenon also exists in `dvc exp run` without a `--qu

[2022-07-20 09:14] dtrifiro commented on #8019
Hi @sorenwacker, would you mind providing the output of `dvc doctor`? A screenshot would also be appreciated, thanks!

[2022-07-20 09:14] karajan1001 commented on #8014
For the `ERROR: Invalid experiment '{entry.stash_rev[:7]}'.` I can't reproduce it, is there any reproducing steps?

[2022-07-20 09:20] sorenwacker commented on #8019
It might be a more general problem with WSL. I experienced that also when running pip. Will try to capture a screenshot when it happens next time.

[2022-07-20 09:21] karajan1001 commented on #8007
Sorry, Because we had a large number of users using `S3` remote, didn't see any report on this before, so I really doubt that it might be caused by some limitations set on the server. Any method to test this? for example, using `aws cli` to connect to the remote storage simultaneously?

[2022-07-20 09:22] D34D10CK commented on #8026
i have not yet tried with your script, but i tried in a new bucket to add and delete files and I was able to reproduce the error.

[2022-07-20 09:28] D34D10CK commented on #8026
no, I created a new clean virtualenv everytime, I even tried doing it in a new vm in case it was related to some global config.

[2022-07-20 09:46] pared commented on #7692
No, but I believe we could include it as a part of implementing iterative/vscode-dvc#1757

[2022-07-20 10:11] dtrifiro commented on #8026
I was able to reproduce the issue. Thank you for your help.

This is most likely related to the fact that you're importing the bucket root. A workaround, while we fix the issue in `dvc-data`, could be to move the data to a subdirectory of the bucket.

[2022-07-20 13:54] dtrifiro commented on #8019
Closing this for now as it seems more generally related to WSL. Feel free to reopen if you think this is relevant to/happens because of dvc.

[2022-07-20 13:54] #8019 closed

[2022-07-20 14:16] stephanrb3 commented on #5338
We run one pipeline universally for all of our models, and each individual model has its own pipelines. We have dozens of models, so adding all of their pipelines to our universal pipeline would represent a massive overhead. Besides that we still pull down the required files and the pipeline itself from another repo, so dvc.lock would recognize that as a modification.

[2022-07-20 15:19] dberenbaum opened #8031 "queue: Running experiments from the queue and then making a commit leads to a change of behaviour in `exp show`"
Running experiments from the queue and then making a commit leads to a change of behaviour in `exp show`. The previous commit is not returned by default.

Details:

[code]

The git log shows that both `EXEC_HEAD` & `EXEC_BASELINE` are still against the previous commit:

`commit 26c5bbeddece45965cf518bde132180f7edbe7f2 (refs/exps/exec/EXEC_HEAD, refs/exps/exec/EXEC_BASELINE)`

By running a new expe

[2022-07-20 15:22] dberenbaum commented on #8014
Moved https://github.com/iterative/dvc/issues/8014#issuecomment-1186684275 to https://github.com/iterative/dvc/issues/8031 because I was getting confused. I'm marking #8031 as p0 since that seems like a critical issue, although we can still make releases and hold off on merging the queue docs until it's resolved.

[2022-07-20 16:36] dtrifiro commented on #8026
Some more information:
For `gcsfs`, `fs.walk()` calls `ls()` -> `_list_objects()` (see https://github.com/fsspec/gcsfs/blob/f169fddbb0ace94418d806ba3a5c0706c7dd08db/gcsfs/core.py#L755-L767)

The first time `_list_objects`  is called, the dircache is empty, so the objects are listed and the dircache it is populated. On the second call, `_ls_from_cache` is used instead, which returns `testing-import

[2022-07-20 19:27] peterbonnesoeur commented on #7832
Thank you @bajaj  🙏

[2022-07-20 20:34] efiop commented on #6622
@friggog It really depends on particular filesystem. Right now we are working on not using default jobs number at all and relying on the underlying fsspec filesystem's async functionality to throttle as needed (e.g. we use adlfs for azure). So please stay tuned for that.

[2022-07-21 03:54] mattseddon commented on #8014
Yes, I have previously recreated this by having completed experiments in the workspace and then upgrading the CLI, queuing a new experiment and running the queue. The project that I've been testing with has checkpoints as well.

It should also be noted here that after upgrading the CLI there is no way back without removing `.dvc/tmp/exps`. That is definitely less of a concern than being able to se

[2022-07-21 04:24] skshetry opened #8033 "granular commit: updating a deleted file"
When using `dvc data status --granular`, we are showing users a hint to use `dvc commit`.

[code]

But `dvc commit` cannot update a dataset granularly that is deleted. I think `commit` should support this. :)

[2022-07-21 07:22] karajan1001 commented on #5338
I don't think you need to add all of the model generation pipelines to your universal pipeline, instead, you can just create some model training pipelines to generate these models and push them to the remote. And in the inference pipelines, you can use `dvc import` to import them from the training repo.

[2022-07-21 07:24] karajan1001 commented on #8023
Didn't notice there are another level of help message under `dvc remote default`

[2022-07-21 07:32] ursueugen commented on #7984
Thanks!

[2022-07-21 12:09] bonpur commented on #7832
@bajaj on what line number should i add the acknowledgeAbuse=True ?

Sorry for my noob question

[2022-07-21 12:11] bonpur commented on #7832
on what line number should i add the acknowledgeAbuse=True ?

Sorry for my noob question

[2022-07-21 12:18] elite3312 commented on #7949
I'm running on Windows 10, and had the same error message when running dvc pull.
The windows installation for dvc appears to be the cause for me. I removed the windows dvc installation, and used pip to install dvc instead. Had to manually add a dependency though.
[code]
And after this dvc pull worked fine again.

[2022-07-21 12:34] bonpur commented on #7832
i did exactly but still got that false identified 403 error

with open(filename, mode="w+b") as fd:
            # Should use files.export_media instead of files.get_media if
            # metadata["mimeType"].startswith("application/vnd.google-apps.").
            # But that would first require a slow call to FetchMetadata().
            # We prefer to try-except for speed.
            try:

[2022-07-21 12:49] sorenwacker commented on #7949
That definitely changed the error message.

[code]

[2022-07-21 12:50] efiop commented on #7832
@bonpur You didn't post the error though (it seems cut off). But I suggest you just wait for this feature to be added to dvc and pydrive2 (I'm working on it right now).

[2022-07-21 12:52] bonpur commented on #7832
ah sorry i'm new to python and github. Here is the full error:

Traceback (most recent call last):
  File "d:\PYTHON\fungsi_gdrive.py", line 165, in GDRIVE_DOWNLOAD_FILE_D
    GDRIVE_V.CreateFile({'id': FILE_ID_V}).GetContentFile(LOCAL_PATH_V)
  File "C:\Users\BNP\AppData\Local\Programs\Python\Python310\lib\site-packages\pydrive2\auth.py", line 84, in _decorated
    return decoratee(self, *args, *

[2022-07-21 14:57] dberenbaum opened #8036 "templating: support null"
When using [templating](https://dvc.org/doc/user-guide/project-structure/dvcyaml-files#templating), `null` values are substituted as the literal `None`. Can it instead substitute some valid YAML `null` tag?

[2022-07-21 15:01] UrszulaCzerwinska opened #8037 "dvc update: does not not exist error when data added with --to-remote flag"
## Description

`dvc update -rev <SHA>`, if data were added with `dvc add <path> --to-remote` erroring out with
[code]
### Reproduce

data: folder containing 3 files .txt

data-registry repo:

[code]
[code]
### Expected

Update the data version as pushed to branch1

### Environment information

**Output of `dvc doctor`:**
import repo

[code]

data registry repo
[code]

**Additional Information (if

[2022-07-21 16:04] hugo-ricateau opened #8038 "dvc.api.open (python): fails with an absolute path"
## Description

When trying to `dvc.api.open` a file present on a remote but not locally (neither in cache), call fails with the following exception if the provided path is absolute (it works fine if the provided path is relative to the `dvc` repository):
[code]

### Reproduce

Create a repository (at e.g. `/repo`) with an `s3` remote; add a file (`/repo/path/to/target.ext`) with some lipsum conte

[2022-07-21 20:22] efiop commented on #7832
@bonpur It is not. We'll close this once it is ready. ETA is tomorrow.

[2022-07-21 20:48] efiop commented on #8038
@hugo-ricateau Absolute paths in open() are considered to be external local outputs (legacy thing). If you have an absolute path already to a file, you can open it yourself, `dvc.api.open` is really meant to work with dvc repositories with paths that are detached from where your repo is located.

Closing as expected behaviour.

[2022-07-21 21:32] hugo-ricateau commented on #8038
If it is a "legacy thing", why keeping this behaviour?

I think the most important feature of `dvc` is the ability to offload large files to a remote and purge them from local environments, while still being able to access them; if they are not on the file-system, having an absolute path is of no help.

Properly computing such relative path might be harder than computing the absolute one: `__file_

[2022-07-21 21:41] efiop commented on #8038
@hugo-ricateau I really wish we could drop that legacy thing 😄 But it will probably have to wait for 3.0.

Would something like this work for you? (Repo will look for .dvc in path parents)

[code]

Could you elaborate on your scenario, please? Maybe I don't quite understand it.

Note that `api.open(path)` is the same as `api.open(path, repo=".")`, so it won't even work unless you are in a repo alr

[2022-07-21 22:21] hugo-ricateau commented on #8038
@efiop, `Repo.root_dir` partially answers the issue as it definitely eases transforming the absolue path into the correct relatif one before providing it to `api.open`.

Sure, the use case is to save the model right along the source code employed to generate it: e.g. `foo/bar.py` generates `foo/bar.model`. Thus, employing `__file__` to resiliently determine the source path (which is relative to `p

[2022-07-21 22:37] hugo-ricateau commented on #8038
Note that `repo.Repo` fails if the provided path does not exists: typical use-case is a path within a dvc-tracked directory.

[2022-07-22 07:30] karajan1001 commented on #8014
I tried to run some experiments using `--queue` and `--run-all` in 2.12, in both `checkpoints-tutorial` and `example-get-started` repo. Then upgrade dvc to the latest main version, still can not reproduce ERROR: Invalid experiment '{entry.stash_rev[:7]}'.

what I see from `dvc queue status` is

[code]

[2022-07-22 09:00] ldelphinpoulat commented on #8020
Hi Pawel,

I hope that you find ways to fix the bugs.
Thanks for the time spent on assessing the issues. Please, let me know when the issues will be fixed.
Best regards,

Lionel

De : Paweł Redzyński ***@***.***>
Envoyé : vendredi 15 juillet 2022 16:21
À : iterative/dvc ***@***.***>
Cc : DELPHIN-POULAT Lionel INNOV/DATAAI ***@***.***>; Author ***@***.***>
Objet : Re: [iterative/dvc] dvc metrics sh

[2022-07-22 10:15] karrtikiyer commented on #2321
Thanks @dberenbaum , I am wondering even if I get handle to the underneath bucket whether it will help. I am loading a part of the data using SQL where clauses, so ideally I would want this stage to run only if there is change in this filtered data. The underneath S3 data will have complete data and that would almost change every day. I was thinking if I can add a pre-get stage, which will get som

[2022-07-22 11:58] efiop commented on #7949
@sorenwacker Were you able to resolve that new one? Looks like a simple misconfiguration issue.

Upgraded to pyinstaller 5.2 seems to solve this. Releasing 2.14.0 ASAP, please give it a try and let us know if that fixes it for you.

[2022-07-22 11:58] #7832 closed

[2022-07-22 12:08] efiop commented on #7832
dvc 2.14.0 is out with `gdrive_acknowledge_abuse` config option. Please give it a try

[code]

[2022-07-22 14:10] dberenbaum commented on #2321
Sounds good! I think these type of "hacks" are pretty typical for SQL-like extracts.

[2022-07-22 14:12] sorenwacker commented on #7949
@efiop I am not sure where to look for a misconfiguration. This is my current workflow:

[code]

[2022-07-22 14:49] sorenwacker commented on #7949
It seems to be working now.

[2022-07-22 14:59] sorenwacker commented on #7949
Here is a minimal setup that works:

[code]

[2022-07-22 15:24] gerardsimons commented on #1307
@clamydo : Do you have a branch somewhere we could look at? I am still running into this issue

[2022-07-22 15:39] efiop commented on #7949
@sorenwacker In your first workflow, I don't see `.dvc/gdrive-access.json` created anywhere, which I suppose is the issue.

Great to hear it works for you now 🙂 Thanks for the feedback!

[2022-07-22 17:55] sorenwacker commented on #7949
As I said, the last post is a setup that works. It is not using the key file. I added the key-file to the (private) repository just to see if that would work. The important step here is:

              pip install -U dvc[gdrive] pydrive2

[2022-07-23 07:54] bonpur commented on #7832
@efiop sorry to ask. what is dvc ?

[2022-07-23 15:35] Houstonwp commented on #7891
This is what Facebook's Hydra does, and it really is intuitive and clean.

[2022-07-24 06:07] clamydo commented on #1307
I haven't pushed anything publicly yet because I ran out of time figuring out how to properly handle all cases of different shells and versions.

It's still on my backlog though.

Note (to myself): Fish maintains a `FISH_VERSION` env variable, no need to spawn a command.

[2022-07-25 01:13] shcheklein opened #8045 "`exp run`: failed experiment stuck in the running state"
# Bug Report

## Description

Running a regular (not queued) experiment that fails in the middle leaves the experiment (workspace) in the running state. This a bug by itself but also breaks the VS Code extension UI - it can's switch back to enable the "run" button.

### Reproduce

[code]

You should see something like this:

[code]

Run:

[code]

In my case it returns:

[code]

### Expected

Works

[2022-07-25 07:26] mohanss08 opened #8046 "SSL certificate verify failed: unable to get local issuer certificate"
I have below given `dvc` version installed on my `ubuntu-18.04-LTS` system and trying to download the `data` files from github using dvc, but it fails with below error.
[code]
[code]

Already our corporate proxy certificate has been installed and traffic to `github.com` allowed I'm able to clone above repository. But with `dvc`the above errors are occurring, Even the below couldn't solve the issue

[2022-07-25 07:42] dtrifiro commented on #8046
Hi, how are you installing dvc? Via `pip` or `deb` package?

[2022-07-25 07:43] mohanss08 commented on #8046
@dtrifiro i have installed using `pip`

[2022-07-25 08:06] mohanss08 commented on #8046
[code]

Wget method download works.

[2022-07-25 08:11] karimtemsah opened #8047 "Incompatible dependency for dvc-render library"
Currently this library has the following two dependencies:
[code]
`dvclive` now introduced a newer version (0.10.0) which pins the following dependency:
`dvc_render[table]>=0.0.8`

So obviously the `dvc` library now has an incompatible versions for the `dvc-render` library, which causes the installation for this library to fail in case of using a tool like `pip-compile` or using up to date `pip` v

[2022-07-25 09:43] ykasimov commented on #7157
I took a look at this issue and I am posting here my findings.

I used `raise (?!NotImplemented|MachineDisabledError|.*from).*(?<!\(|\))$` regex to find exceptions that don’t end with ( or with (  and without from keyword.

It yielded 16 matches in total. all of them seem fine and produce a meaningful message. I reproduced only one (there is a note next to it in the list) and others seem fine from

[2022-07-25 10:17] #8031 closed

[2022-07-25 15:59] gerardsimons commented on #1500
I think this would be still be useful. Sometimes I notice my models are not the same. I probably forgot to use a fixed random seed along the way somewhere, but finding at which stage this happens is a little painful as I have to md5sum all intermediate files, and I am never 100% sure if I am doing it the same way as DVC does it.

[2022-07-25 16:10] skshetry commented on #1500
@gerardsimons, this is now possible with `dvc-data` cli that should be available if you installed `dvc` via pip. If not, you can install via:
[code]
There are two ways:
1. `dvc-data hash -p <file>` can only give you a md5sum for a file.
2. `dvc-data stage <file or directory>` can return you a final string result for a file or directory (which is stored in `.dvc` and `dvc.lock` files).

[2022-07-25 16:21] gerardsimons commented on #1500
Cool! That seems very useful! @skshetry thanks for the quick reply

[2022-07-25 22:47] mattseddon opened #8051 "`exp show`: `celery` error when upgrading from `2.13.0` to `2.15.0`"
# Bug Report

## Description

From #vs-code on our Discord server:

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/37993418/180887004-dda976fc-3ecb-45fa-a99e-a890b6e3f625.png">

I'll fill in more details as I get them. From the error: `ERROR: unexpected error - No module named 'celery.fixups'` I'd assume that this is related to the ongoing work with upgrading the `que

[2022-07-25 22:49] mattseddon commented on #8051
I have asked the OP to provide the extra details needed.

[2022-07-25 23:14] mattseddon opened #8052 "`data:status`: `--with-dirs --untracked` does not return directories for `untracked`"
# Bug Report

## Description

In the extension we are going to use `dvc data status --show-json --with-dirs --granular --untracked --unchanged` to get the data that we need for several locations in the UI. One of those locations is the SCM view.

As you know it is a normal pattern for users to `dvc add` an untracked directory (rather than the individual files within the directory).

Currently, the

[2022-07-26 02:04] allenyllee commented on #8051
I have the same issue too.

[2022-07-26 02:13] mattseddon opened #8053 "`data:status`: `--granular --with-dirs` returns duplicates for deleted directory"
# Bug Report

## Description

Working on integrating `dvc data status --show-json --with-dirs --granular --untracked --unchanged` into the extension. Noticed that deleting a tracked directory gives a strange result.

### Reproduce

1. Open `vscode-dvc` demo repository
2. `rm -rf training_metrics` (contents was `training_metrics/scalars/loss.tsv` & `training_metrics/scalars/acc.tsv`)
3. `dvc data s

[2022-07-26 02:18] mattseddon commented on #8053
The primary use case of the expected output would be to restore different parts of the deleted directory using checkout.

If this is not a normal/expected use case then I would expect:

[code]

[2022-07-26 02:20] mattseddon commented on #8051
@allenyllee can you add repro steps and the contents of `dvc doctor` please.

[2022-07-26 06:22] parmentf commented on #8051
`dvc doctor` output:

[code]

[2022-07-26 06:32] parmentf commented on #8051
I just made my git repository public: <https://gitbucket.inist.fr/parmentf/rnsr-geo-ml-dvc> (sorry, it was intended to my French colleagues).

I only have a local "remote" storage.
My data files are relatively small though:

[code]

[2022-07-26 07:11] tibor-mach commented on #8003
@pared Hi, how's the progress on this one?

[2022-07-26 07:51] pmrowla commented on #8051
Probably an issue with the binary (deb) packages not pulling in all of the necessary dvc-task/celery imports

[2022-07-26 07:55] karajan1001 commented on #8051
Hello, @allenyllee , how did you install your DVC, and what is the platform you are using. you can provide these info with output of  `dvc doctor`

[2022-07-26 08:20] pmrowla commented on #8016
This is the same as https://github.com/iterative/dvc/issues/4604 - currently the local config is not used when providing a repo URL in get/list/import, it will only be used when you provide a local path to a repo (as you already noted)

[2022-07-26 09:17] #8045 closed

[2022-07-26 09:36] karajan1001 commented on #1416
Hi, @nishanthmerwin
At least `S3`, `Azure`, `GCS`, `GDrive` and maybe some other clouds all support environment variables as credentials.
https://dvc.org/doc/command-reference/remote/modify#authenticate-with-an-azure-config-file
So which cloud are you using?

[2022-07-26 09:53] karajan1001 commented on #8011
How about adding a new remote on the server and setting it to the default. Of course, you should add all these configs as `--local` ones.

I guess the remote `remote_storage` didn't have a `user` setting.

[2022-07-26 09:59] karajan1001 commented on #8033
Doesn't the requirement be a `checkout` command? just like in `Git` we can `checkout` to recover the deleted files.

[2022-07-26 10:01] allenyllee commented on #8051
Hi @mattseddon, this is my `dvc doctor` output:

[code]

I'm on windows 10, dvc installed by windows installer, and setup VSCode dvc extension to use system PATH.
I can see the same error message in the extension output, and the extension always pooling and failed, can not get any information.

[2022-07-26 10:43] Madrueno commented on #8007
If we run `aws s3 cp s3://<s3_bucket>/<folder>/ . --recursive`, it downloads everything with no error.

[2022-07-26 10:56] dmpetrov commented on #829
@Chickenmarkus a feedback to your setup is below:

**First,** `Update the label of an existing record` can be a root cause of multiple issues. Data and labels have a different lifecycle. The best practice is the separation of labels from data and joining them when it is needed.

We are working on a DVC-sister project LDB/LabelDB to solve the problem of managing labels. It is in an early stage but

[2022-07-26 11:04] pared commented on #8047
@karimtemsah thanks for pointing that out, handled in #8055

[2022-07-26 11:41] #8047 closed

[2022-07-26 11:46] allenyllee opened #8057 "`dvc list .`: it'll throw `ERROR: unexpected error - 'cp950' codec can't decode byte 0xe5 in position 5: illegal multibyte sequence` on windows 10"
# Bug Report

## Description

Every time I execute `dvc list .` on my windows 10 (Traditional Chinese), it'll throw `ERROR: unexpected error - 'cp950' codec can't decode byte 0xe5 in position 5: illegal multibyte sequence`, so I can not list anything.

### Reproduce

1. Ensure you have Traditional Chinese version windows 10
2. Install DVC through Windows Installer [release](https://github.com/iter

[2022-07-26 11:56] karimtemsah commented on #8047
@pared thank you very much for the quick response :)

[2022-07-26 11:59] #8003 closed

[2022-07-26 11:59] pared commented on #8003
Hi @tibor-mach! Should be fixed in next release

[2022-07-26 12:00] efiop commented on #8007
@Madrueno Are you using regular aws s3 or some s3-compatible storage? Do you have enpoint configured?

[2022-07-26 12:18] allenyllee commented on #8057
If I use local folder as default remote, it works fine. So this problem seems happened only when I use ssh remote.
And from Traceback, the error raised on `asyncssh` package. So this error may due to the under lying ssh package of DVC.

How can I workaround this issue?

[2022-07-26 17:15] dtrifiro commented on #8046
What python version are you using?

[2022-07-27 03:09] #6614 closed

[2022-07-27 04:42] Min-Sheng opened #8058 "wrong redirection when dvc push to gdrive and no verification code is shown"
# Bug Report

I have already set-up my gdrive `FOLDER_ID` accroding to the [DVC document](https://dvc.org/doc/user-guide/setup-google-drive-remote).
However, the line for `Enter verification code:` did not show.
When I pasted the link to the browser authorized it, and click the continuing button,
the browser redirect to `localhost:8080?code=...` and no verification code is shown.

The issue is abo

[2022-07-27 04:59] mohanss08 commented on #8046
[code]

[2022-07-27 05:27] mohanss08 commented on #8046
Yesterday i have re-installed `dvc` using below steps.
[code]
However still same error persists.

[2022-07-27 08:36] karajan1001 commented on #8014
@mattseddon

Excuse me , any more guidance on how to reproduce this? I had already tried:
1. Switch to `2.12.1`, queue an experiment and finish it, return to the latest `main` use `queue status`.
2. Switch to `2.12.1`, queue an experiment and run it, before it is finished return to the latest `main` use `queue status`.
3. queue an experiment and switch to `2.12.1`, try to run it. but it was missin

[2022-07-27 08:54] mattseddon commented on #8014
Sorry, @karajan1001 I've been 100% occupied with integrating `data status`. I will get back to you soon.

[2022-07-27 09:00] Madrueno commented on #8007
We are using a regular aws s3 storage with no custom endpoint.

[2022-07-27 09:15] dtrifiro commented on #8046
Cannot reproduce both installing from pip and from deb package on a fresh Ubuntu 18.04 install.

I'm assuming there's something on your local setup that breaks python. For example, in your previous attempts, you used python2 instead of python3, as well as setting some env variables which are not relevant.

[code]

Closing for now. Feel free to reopen if you think this is relevant to dvc and not to

[2022-07-27 09:15] #8046 closed

[2022-07-27 12:23] dberenbaum opened #8059 "queue status: show final experiment name"
@karajan1001 Shouldn't the "Name" column be populated with the final experiment name? I know this was true at some point (see https://github.com/iterative/dvc/issues/7591#issuecomment-1152612555).

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/8014#issuecomment-1184735985_

[2022-07-27 12:24] dberenbaum commented on #8014
@mattseddon No rush, but could you clarify how critical/frequent this issue is? Like @karajan1001, I was unable to reproduce this one, and it's unclear whether it should be a priority.

[2022-07-27 14:10] pared commented on #7157
I wonder if those errors didn't migrate to our other projects like `dvc-data` and `dvc-objects`. I guess if this issue reoccurs we can reopen. Thanks, @ykasimov for the research!

[2022-07-27 14:10] #7157 closed

[2022-07-27 18:00] efiop commented on #8007
@Madrueno Do you have any particular options set up for that remote? E.g. sse or anything else? Any proxies that you use?

[2022-07-27 18:15] efiop commented on #8058
Hey @Min-Sheng :) What error did you get? Did `dvc push` not work at all? Could you show full output of `dvc push -v`, please?

[2022-07-27 18:16] efiop commented on #8016
Closing in favor of https://github.com/iterative/dvc/issues/4604

[2022-07-27 18:16] #8016 closed

[2022-07-27 18:55] dberenbaum commented on #8038
@efiop Let's keep it open as a feature request?

It makes sense that to avoid having to separately pass a repo URL and a separate relative path URL. @efiop and I have discussed that we both would prefer to get rid of this distinction.

I can't promise that we will get to it any time soon, though. I think the current behavior is expected and explained in the docstring:

https://github.com/iterative

[2022-07-27 20:30] dberenbaum opened #8061 "data status: show untracked files in normal mode"
From https://github.com/iterative/dvc.org/pull/3812#discussion_r931002653:

[2022-07-27 20:31] shcheklein commented on #8058
For the record, docs are a bit outdated - I've created a PR - https://github.com/iterative/dvc.org/pull/3821/files

It doesn't to `Enter verification code` now, it get's from the browser since via web server that it creates.

Do you see the `Authentication successful.`?

[2022-07-27 21:17] mattseddon commented on #8014
Tl;dr - I can recreate the issue by using `dvc queue start -j 2`. As j > 1 is currently experimental we can probably close this.

I can definitely recreate it. I just ran into it again:

<img width="1402" alt="image" src="https://user-images.githubusercontent.com/37993418/181367977-e174b9ce-45c3-4bc7-8d5d-4b8c515862e6.png">

When trying to clean up experiments after getting that warning:

[code]
T

[2022-07-27 21:49] d-miketa commented on #7898
@dtrifiro FWIW I tried installing `dulwich` from your feature branch using
[code]
and I'm unfortunately still running into the same issue:
[code]

Downgrading to 2.9 fixes the issue. I'm on macOS.

[2022-07-28 00:36] mattseddon opened #8062 "`data:status`: errors when data not in cache"
# Bug Report

## Description

On initially cloning a repository all tracked paths are shown in three categories:

1. Not in cache
2. Committed modified
3. Uncommitted deleted

There can also be missing data, for example in the vscode-dvc demo project: `training_metrics` is missing. This is produced by `DVCLive` and is listed under the plots key in the `dvc.yaml`.

This breaks one of the workflows

[2022-07-28 07:42] karajan1001 commented on #8014
Sound like related to https://github.com/iterative/dvc-task/issues/73. I tried several times but didn't meet this. I guess it is not related to the experiments in old versions. And related to 1. concurrency 2. checkpoint.

[2022-07-28 10:23] dtrifiro commented on #7898
@d-miketa thanks! Could you post a full traceback using `dvc pull -v`?

[2022-07-28 11:26] daavoo commented on #7891
We are currently exploring different ways to integrate with Hydra. This feature is part of the scope

[2022-07-28 12:56] dberenbaum opened #8064 "`dvc.api.params_show()`: returns all params for stage with no params"
# Bug Report

## Description

When using `dvc.api.params_show(stages="train")`, if there are no `params` for stage `train`, all of `params.yaml` will be returned.

### Reproduce

Use the following files:

[code]

[code]

[code]

Running `python train.py` or `dvc repro/exp run` outputs `{'batch_size': 64, 'lr': 0.2}`.

### Expected

An error for no params found or an empty dict.

[2022-07-28 15:54] efiop commented on #7343
Closing as stale.

[2022-07-28 15:57] efiop commented on #7779
Closing as stale.

[2022-07-28 15:57] #7779 closed

[2022-07-28 15:58] efiop commented on #7850
closing in favor of https://github.com/iterative/dvc/issues/3920

[2022-07-28 15:58] #7850 closed

[2022-07-28 15:59] efiop commented on #7871
Closing as stale.

[2022-07-28 15:59] #7871 closed

[2022-07-28 16:00] efiop commented on #7901
@SharadSirsat There is a `ask_password` option that should help.

[2022-07-28 16:00] #7901 closed

[2022-07-28 16:00] efiop commented on #7904
closing as stale for now

[2022-07-28 16:00] #7904 closed

[2022-07-28 16:01] efiop commented on #7959
Closing as stale.

[2022-07-28 16:01] #7959 closed

[2022-07-28 16:01] efiop commented on #8002
Closing as stale.

[2022-07-28 16:01] #8002 closed

[2022-07-28 16:02] efiop commented on #8007
Not able to reproduce, closing for now.

[2022-07-28 16:02] #8007 closed

[2022-07-28 16:10] shortcipher3 commented on #7959
Sorry for the late reply. I was looking for DVC to track the simlink itself. The simlink isn't used on my machine, but rather in a docker image. I have a stage that uses a Dockerfile to create a docker image, the image is used with my model to help with the conversion to another format.

Let me know if you need more clarification.

[2022-07-28 16:24] sisp opened #8065 "`dvc push` fails with "Timeout on reading data from socket" with HTTP storage"
# Bug Report

## Description

When trying to push some moderately large amount of data (e.g. 1 GB) to a [GitLab generic packages repository](https://docs.gitlab.com/ee/user/packages/generic_packages/) (via the HTTP remote storage type), the upload fails after a few (e.g. 5) minutes with the following  timeout error:

[code]

### Reproduce

1. Create a new project on gitlab.com and take a note of t

[2022-07-28 16:44] francesco086 opened #8066 "Corresponding of `dvc get` for uploading (`dvc set`?)"
As part of the [large ticket created for GTO](https://github.com/iterative/gto/issues/220), @aguschin identified one part that belongs to `dvc`.

### Desired feature

Given a git repository using dvc, I would like to commit a dvc-tracked file without explicitely git cloning it (or be inside of it already). The file could be new, or it could just be an updated version of an existing one.

The featu

[2022-07-28 16:48] d-miketa commented on #7898
I got rid of the import but here's a similar issue when trying to do `dvc exp list origin`; also crops up when pushing an experiment:
[code]

[2022-07-28 16:54] d-miketa commented on #7898
And for the `dvc pull -v` you get
[code]

[2022-07-28 17:56] dberenbaum commented on #8014
@mattseddon No need to close it. We will need to stabilize behavior here and with j > 1 in general, but good to know the context and that it doesn't seem like a release blocker.

[2022-07-29 02:49] Min-Sheng commented on #8058
For DVC version 2.13.0
[code]
And it redirect to this url: http://localhost:8080/?code=4/0AdQt8qgV8SAXduPyDDgMexBuWbU61HsL8T0vFoPdS4UpGLVBnEx6-oTae10pkd7dY94fMQ&scope=https://www.googleapis.com/auth/drive%20https://www.googleapis.com/auth/drive.appdata

For DVC version 2.15.0, I got the error:
[code]

[2022-07-29 06:20] shcheklein commented on #8058
@Min-Sheng could you please run it with `-v` - `dvc push -v ...`

[2022-07-29 06:28] Min-Sheng commented on #8058
For `2.11.0`, `dvc push -v` shows:
[code]

For version `2.13.0`, `dvc push -v` shows:
[code]
For version `2.15.0`, `dvc push -v` shows:
[code]

[2022-07-29 06:38] shcheklein commented on #8058
@Min-Sheng could you please try to update DVC with all the dependencies- `pip install -U "dvc[all]"` or something like this. You have an outdated (incompatible version of `pydrive2`). On our end, we should be detecting this tbh - it should be possible right cc @iterative/dvc and provide a better error message in those case. I wonder if there is a general framework for Python that just doesn't allo

[2022-07-29 06:50] Min-Sheng commented on #8058
I think I find the problem. It is about port forwarding! Because I run DVC on my remote server via SSH, I need to forward my localhost 8080 port to server port.

[2022-07-29 07:39] bonpur commented on #7832
@efiop can you add for service account too? because i still got this malware problem if using service account

[2022-07-29 09:27] mikolajpabiszczak opened #8068 "`dvc import` compatible with GitHub App Token"
I haven't seen any proposal of this kind in the issues and - based on my use case - it could solve a number of problems.

Scenario:
- you have a Data Registry (as git repo + cloud storage, e.g., AWS S3);
- you have a Experiment Repository in which you have the code that runs experiments (and experiments use data from Data Registry);
- you wrap this thing with CML and you use [GitHub App with Acces

[2022-07-29 09:52] fguiotte commented on #7343
I still have this problem, should I create a new issue?

[2022-07-29 11:29] francesco086 opened #8070 "Support longer resource names"
Currently `dvc push` seems to have a limitation on the length of the resource name.
See this example:
[code]

It would be great to remove this limitation or at least extend the supported name length.

[2022-07-29 11:30] dberenbaum opened #8071 "exp remove: delete associated queue task"
[Q] Will running `dvc exp remove` clean up the associated `queue task`(s) from `dvc queue status`?

It doesn't seem like this is the case from reading https://github.com/iterative/dvc.org/pull/3715. If we are going to try and hide this concept then I think that is something that should be handled by either the CLI or extension. IMO it should be handled by default. If the user wants to keep the log

[2022-07-29 11:55] efiop commented on #8058
@Min-Sheng So it is solved for you now?

[2022-07-29 12:03] efiop commented on #7343
@fguiotte Ah, sorry, I see that this issue is pretty clear now. Keeping open.

Looks like just need to add jobs flag to those commands and pass it down. Though `jobs` in repro/run might be taken by people as parallelization of stages instead of parallelzation of transfer. Though for the former we'll need to invent a new name in the future anyway since `--jobs` already taken.

[2022-07-29 12:04] efiop commented on #8070
@francesco086 Could you please post full verbose log for `dvc push -R churn_pi/power_p_cons -v`?

Also, please post `dvc doctor` output.

[2022-07-29 12:06] efiop commented on #7832
@bonpur I think it should work with service account too. Please make sure you are using latest dvc and pydrive2 versions and post verbose log for the error you are getting.

[2022-07-29 12:07] efiop commented on #8053
@skshetry Could you take a look, please?

[2022-07-29 13:24] courentin opened #8072 "`params`: support HyperPyYAML format as params"
We use the tool [HyperPyYAML](https://github.com/speechbrain/HyperPyYAML) to store our hyper parameters and we wanted to use dvc to keep track of them.
However, this format is an extension of yaml and can't be parsed with the default yaml loader.

I made a POC to load a HyperPyYAML file that is working. The dumping and modifier would require some more thinking but it seems doable.

I was wondering

[2022-07-29 13:47] skshetry commented on #8072
Hi @courentin. Thanks for creating the issue. HyperPyYAML looks interesting, but I am not sure how safe the library is.
Also we use extension suffix to recognize parameters, so I am not sure how we can detect the hyperpyyaml.

Regarding the plugins for these things, we have a discussion on https://github.com/iterative/dvc/discussions/6506. Please feel free to participate.

To be honest, I am -1 on

[2022-07-29 14:06] courentin commented on #8072
Thank you for the discussion, it is indeed a better way to address this feature request.

However it seems like a big topic, I'll investigate the possibility to make a kind-of-dvc plugin for that in the meantime

[2022-07-29 14:55] dberenbaum commented on #7126
@shcheklein Should we close this one now? Any issues at this point I think should be bugs that we can handle separately from this high-level product issue. What do you think?

[2022-07-29 15:26] francesco086 commented on #8070
output of `dvc push -v` is:
[code]

Very strange... this time it worked...? because of the "-v"? I will try to check it out. First I will get the `dvc doctor` output.

Sorry it is not very simple, this output comes from a production pipeline...

[2022-07-29 15:32] francesco086 commented on #8070
`dvc doctor`:
[code]

[2022-07-29 15:42] skshetry commented on #8072
Let's close this for now and discuss in #6506.

[2022-07-29 15:42] #8072 closed

[2022-07-29 17:56] francesco086 commented on #8070
I tried to run again the pipeline exactly as before and now I don't have the issue anymore... no idea what happened nor how I can reproduce it...

Perhaps the issue can be closed?

[2022-07-29 21:40] efiop commented on #8070
@francesco086 Great to hear that it works now. Quick google didn't provide any meaningful results, so I guess lets indeed close for now, since we can't reproduce either. Let us know if this comes back.

[2022-07-29 21:40] #8070 closed

[2022-07-29 22:13] mattseddon commented on #8062
This bug is actually worse than I had thought. The entirety of `data/MNIST/raw` is also missing which means there is no data to experiment against.

[2022-07-29 22:26] shortcipher3 commented on #7960
I have a couple more thoughts on this.

If I commit a file to the `git` repo with `git` then in a pr/mr I can see the text differences branches under github/gitlabs changes.  Maybe text data should just be left up to git.

It would be helpful to be able to diff files from different branches stored in `dvc` - is there a way to do that?  If I had the two files locally I could `diff file1 file2`, if

[2022-07-29 23:39] shcheklein commented on #7126
Yep, agreed!

[2022-07-29 23:39] #7126 closed

[2022-07-30 15:46] skshetry commented on #8065
@sisp, the Gitlab generic packages repository is new to me, does it support uploads to arbitrary prefix?

Also, would it be possible to try uploading with `fsspec`'s `HTTPFileSystem` and see if works? Thanks.

[2022-07-30 19:08] sisp commented on #8065
Thanks for taking the time to reply to my issue, @skshetry! :pray:

<br/>

You've actually brought up a limitation of GitLab's generic packages repository for usage as a DVC storage backend that I hadn't realized at first. The generic packages repository - from a general point of view - has exactly 3 nesting levels:

1. package name
2. package version
3. file name

That's because the URL path is s

[2022-07-30 22:41] shortcipher3 opened #8145 "Plots with multiple curves displayed wrong in cml"
I am getting beautiful pr curves with DVC, where I have a curve for each class on my plot.

I took what I had and created a cml pipeline and the result looked completely different/worse.

From `dvc` I run:

[code]

<img width="344" alt="Screen Shot 2022-07-29 at 3 24 52 PM" src="https://user-images.githubusercontent.com/8680583/182002453-35a0c172-5319-4794-9c29-1d40aca14771.png">

For the `cml` ve

[2022-08-01 02:24] Min-Sheng commented on #8058
@efiop Yes, I solved it with port forwarding.

[2022-08-01 04:34] pmrowla commented on #7960
You can already use git to version text-based metrics files by using `cache: false` to tell DVC not to handle it as a DVC-tracked file, and then tracking the file in git yourself. (But you would still be affected by the existing DVC limitation where `metrics` files must only contain numeric values)

Regarding diffing, DVC does not know anything about the type of file that it is tracking - everythi

[2022-08-01 09:26] #8051 closed

[2022-08-01 09:28] #8058 closed

[2022-08-01 10:55] daavoo commented on #5515
To clarify, what's left to close the issue is:

- Showing `Change` in dvc params diff

[2022-08-01 13:41] fguiotte commented on #7343
Thank you for considering this issue :slightly_smiling_face:

Maybe a config option `core.transfer_jobs` (similar to existing `core.checksum_jobs`) is easier to add and would do just fine.

[2022-08-01 16:54] daavoo opened #8076 "api: Add `metrics_show`."
Should be similar to `params_show`:
 https://github.com/iterative/dvc/blob/main/dvc/api/params.py

[2022-08-01 20:51] woodshop commented on #7186
Just wondering @daavoo if this issue is on any roadmap for resolution.

[2022-08-02 05:38] #7988 closed

[2022-08-02 05:43] pmrowla commented on #7186
@woodshop unfortunately we have not been able to get to this issue yet, and it's not currently planned. There's a few submodule related `dvc exp` issues that are open, but given that it's not a very common setup (at least based on user reports we've received so far) we have had to prioritize other work over addressing the submodule problems.

[2022-08-02 06:10] HaddocktheHorrible opened #8079 "`dvc status -c`: will not report missing directories"
# Bug Report

## Description

`dvc status -c` will report individual files that are not present in local cache or remote as "missing" but will not output the same for dvc-tracked directories. Missing directories on the remote are only returned as a WARNING message during command execution.

[code]

### Reproduce

I have made a small test repo with a dummy "remote" included:

1. `git clone https://

[2022-08-02 09:09] daavoo commented on #7842
Only occurs if `--set-param` modifies an untracked params file and `--temp` or `--queue` flag is passed.

The untracked params file gets added `scm.add` on `_update_params` and stashed in `stash_rev`.

When using `WorkspaceExecutor`, [`init_git`](https://github.com/iterative/dvc/blob/d0eda1d5385ba6a78247528327563b536a561b78/dvc/repo/experiments/executor/local.py#L166) applies a `merge` on the curr

[2022-08-02 12:46] pmrowla commented on #8057
It looks like the issue happens when `asyncssh` tries to parse your OpenSSH configuration file (`~/.ssh/config`). `asyncssh` tries to load and parse the file using your terminal's system encoding (`cp950`), but the SSH config file is probably in `utf-8`. You may need to set whatever terminal/shell you are using to use `utf-8` as the default encoding

[2022-08-02 13:41] pmrowla commented on #8015
The issue is that `exp show` output is always `utf-8`, but git filenames are encoding agnostic (and use the system encoding). We should be handling git filenames with `os.fsdecode()` in the pygit scmrepo backend before passing them back to the caller (dvc)

[2022-08-02 14:09] smallTrogdor opened #8080 "init: unrelated dir throws unknown character"
# Bug Report

## init: fails to initialize repository due to unexpected error - unrelated dir throws unknown character

## Description

The input comands including creating new git repository:

[code]

The dvc init command throws an unexpected error due to a path in a complete different directory. I tried complete new install of dvc.

### Reproduce

1. create **non dvc** repo K:/repos/rcm-pp-wf-ob

[2022-08-02 16:00] dtrifiro commented on #7898
Hey @d-miketa, thanks for the feedback. If you test out the same branch, it should be working now

[2022-08-02 17:33] dberenbaum opened #8082 "exp: hydra compose and dump"
Hydra can also be used to compose configuration from multiple files (see [https://hydra.cc/docs/intro/#composition-example](https://hydra.cc/docs/intro/#composition-example) for an example). DVC can use Hydra to update `params.yaml` at runtime, providing more flexible project configuration.

Building off the previous example, assume you have multiple model types you want to train. You can specify

[2022-08-02 17:34] dberenbaum opened #8083 "exp: basic hydra sweeper support"
Hydra also allows for running hyperparameter sweeps. Using Hydra, the same could be supported in DVC (see [https://hydra.cc/docs/intro/#multirun](https://hydra.cc/docs/intro/#multirun)):

[code]

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/discussions/7044#discussioncomment-3271855_

[2022-08-02 19:37] d-miketa commented on #7898
Thanks @dtrifiro, that did the trick!! :)

[2022-08-02 19:59] dberenbaum commented on #7842
It seems like the behavior is expected then. However, maybe we can clarify in the docs that experiment files should be tracked by either Git or DVC?

[2022-08-02 20:57] dberenbaum commented on #7692
@pared Any updates on looking into this one?

[2022-08-02 21:12] dberenbaum commented on #8062
As discussed, the `not in cache` and `deleted` states are both expected here, so it's more of a product question of whether there is a better way to represent those paths in either DVC or VS Code.

However, `modified` is not expected and appears to show only when using `--granular`.

Yeah, this should show in the same states as the other paths.

[2022-08-03 06:32] allenyllee commented on #1274
Hi @efiop, I bump into here because I want pCloud support. I've try Webdav, but it seems deprecated by pCloud, and it doesn't support 2FA. Finally, I find a python package here: https://github.com/tomgross/pycloud, which provide python API for pCloud. So I think I can contribute to this, but I can't find `dvc/remote/` you've mentioned above, how can I do?

[2022-08-03 09:18] efiop commented on #1274
@allenyllee Hey. These days we base all our remotes on https://github.com/fsspec/filesystem_spec, so first step is to implement fsspec filesystem for pcloud. We currently don't accept any new filesystems into dvc, but in the near future we should be supporting dvc plugins, so users can use their own implementations.

[2022-08-03 10:11] lucilemg commented on #6980
Hello,

I encounter this problem when trying to repro a DVC stage.

Here's the output of **dvc doctor**
[code]

And the log I get when doing **dvc repro -s**
[code]

Any help would be greatly appreciated, thanks in advance!
Lucile

[2022-08-03 11:16] skshetry opened #8087 "ci: experiment related tests are flakey"
example: https://github.com/iterative/dvc/runs/7649735321?check_suite_focus=true#step:7:5540

Need to take a look.

[2022-08-03 11:27] smallTrogdor commented on #8080
safe directory in gitconfig was the problem. The path was UNIX, on a Windows machine

[2022-08-03 11:27] #8080 closed

[2022-08-03 12:28] dberenbaum opened #8088 "exp show: sync state between queue and exp show table"
Yes we can do this, but it will require some work on the core DVC side. Basically the issue is that the `state` column in `exp show` is still using pre-`dvc queue` hacks to determine what is running.

IMO what we ideally should be doing is figuring out how to properly handle the separation between "collecting git-committed experiment data/params/metrics" and "queue/task execution state", but if we

[2022-08-03 12:35] dberenbaum commented on #8088
From https://github.com/iterative/dvc.org/pull/3715 and other discussions, it's clear that there is separation between these concepts, but it's easier for users to see them both at once in a lot of cases. Otherwise, it becomes hard to connect the queue task info to the experiment info. We can also mock up or try out different formats here and see what works best.

[2022-08-03 13:00] allenyllee commented on #1274
@efiop Ok, so I have to wait until the plugin system publish, right?

[2022-08-03 13:07] efiop commented on #1274
@allenyllee You can start by implementing fsspec fs for pcloud (e.g. https://github.com/fsspec/s3fs) and testing it. You can easily patch dvc to use it too (e.g. see https://github.com/iterative/dvc-objects/blob/main/src/dvc_objects/fs/implementations/s3.py), I'm just saying that we will not officially support it ourselves and official mechanism to use third-party implementations will be introduce

[2022-08-03 13:17] daavoo commented on #2401
The issue was fixed.

[2022-08-03 13:17] #2401 closed

[2022-08-03 15:35] dcdanko opened #8090 "gc: fails when attempting to remove cache shared by multiple projects"
# Bug Report

## Issue name

gc: fails when attempting to remove cache shared by multiple projects

## Description

When attempting to garbage collect files shared by multiple projects dvc throws an error saying it is attempting to write a read only file.

### Reproduce

I don't have multiple dvc repos to reproduce on

### Expected

dvc performs gc as normal

### Environment information

**Output

[2022-08-03 16:28] mattseddon commented on #8062
If I understand correctly the two main situations where a user can get into this situation are:

1. Repository has just been cloned and the user has never pulled.
2. The user has dropped the cache AND deleted the file(s) from the workspace.

My reasoning for giving not in cache a higher priority is that IMO 1 is far more likely than 2. The reason that I see 2 as unlikely is that I may drop the cac

[2022-08-03 20:50] sisp commented on #8065
@skshetry I've been doing some digging and _think_ the error originates from the [AIOHTTP client timeout configuration in `dvc-objects`](https://github.com/iterative/dvc-objects/blob/ebee28733103ac2b13c5207f640394ff03603699/src/dvc_objects/fs/implementations/http.py#L116-L121) where the [`sock_read=self.REQUEST_TIMEOUT`](https://github.com/iterative/dvc-objects/blob/ebee28733103ac2b13c5207f640394f

[2022-08-03 20:51] dberenbaum commented on #8062
Makes sense @mattseddon.

To be clear, DVC is prioritizing not in cache and suggesting pull:

[code]

We could consider not returning the uncommitted changes section in that case, but I'm not sure. I remember not in cache causing some headaches before, and I don't know what to do in other cases with not in cache:
* If someone adds some content to a not-in-cache path, should we also show that the f

[2022-08-04 02:02] brbarkley commented on #5562
I can also confirm that performance is greatly improved as of v2.9 for shared cache configurations on CIFS and NFS. However, the traditional local cache and remote configuration seems to be very slow now (not sure if I tested that before; previous comments were based only on shared caches).

@efiop and @hhoeflin - what is the practical implication of dvc checkout not being able to clean up old fil

[2022-08-04 06:02] skshetry commented on #8065
@sisp, we added timeout because large downloads were freezing. See #7414 and #7460.

However, we are open to introducing `timeout=0` option that disables any timeout. This will require support in http filesystem in dvc-objects and a new config option in dvc.

[2022-08-04 06:21] allenyllee commented on #2301
Hi @efiop, I have a use case. As we know, The tag from `git tag` is just like a pointer point to a commit hash, so that `git gc` will preserve that tag and preceding commit history.  But as I know, `dvc gc` will remove all unused cache file, although the command enforce the need to provide option like `--all-tags` to avoid accidentally remove data. If we want to preserve all the preceding commit h

[2022-08-04 09:31] sisp commented on #8065
@skshetry Thanks for the pointers, I hadn't seen those issues. In that case, disabling any timeout seems to be only a workaround for cases that don't suffer from the random hangs and it may not be robust. Nevertheless, it would at least enable large file uploads to HTTP remote storage when network conditions are good which simply doesn't work right now if when the transfer time of a file exceeds 5

[2022-08-04 10:03] skshetry commented on #8065
@sisp, my understanding about `sock_read` timeout is that it's a timeout waiting to read the data. Either the server is misconfigured, or there's some bug in aiohttp or your internet connection must be poor. There's no response for 60 seconds, which is strange.

How much time does it take if you don't set the timeout? Is it possible for you to try with small files and see if the issue still occurs

[2022-08-04 11:05] sisp commented on #8065
@skshetry If I don't set the timeout, it takes ~15 minutes, and the transfer succeeds then. I have an upload bandwidth of ~10 Mbit/s. When I upload smaller files which take less than 5 minutes to transfer per file, there is no problem even with `read_sock=self.REQUEST_TIMEOUT`. When I run the upload script you posted that uses `requests`, I get a timeout error after ~15 minutes:

[code]

Since `re

[2022-08-04 11:09] sisp commented on #8065
I just noticed that the upload using `requests` succeeded, i.e. the file is present in GitLab's generic packages repository, although a timeout exception was raised. :thinking:

[2022-08-04 12:08] skshetry commented on #8065
@sisp, I don't see any response from the server in the above curl output.

[2022-08-04 12:20] sisp commented on #8065
@skshetry Sorry, I copied the output before cURL was actually done, somehow not thinking it would contain helpful information. I've edited the above comment with the response output.

[2022-08-04 12:43] skshetry commented on #8065
Could you please check if httpx solves this issue? Just trying to confirm if it is http1.1 issue (curl is using http/2):

[code]

[2022-08-04 13:08] sisp commented on #8065
@skshetry The `httpx`-based upload script also fails with a timeout exception:

[code]

In contrast to the `requests`-based upload script, no file is present in GitLab's generic packages repository afterwards.

[2022-08-05 05:49] allenyllee opened #8096 "git tracked bare dvc repo (only tracking .dvc file, but don't checkout real file)"
# Background
We have a lot of daily generated log file, we want to use dvc to tracking our daily log.

## Current Method
If we want to use dvc to tracking our daily log, for now, we have to:
1. Create a git repo and `dvc init`
2. Copy the log files into git repo
3. `dvc add` those files and `dvc commit` to generate `.dvc` file, and then `dvc push` to transfer files to remote.
4. `git commit` the g

[2022-08-05 06:25] sisp commented on #8065
@skshetry I'm wondering, isn't it expected that this timeout kicks in when a file upload time exceeds the timeout? After the connection to the server has been established, there is no read happening until the upload has completed. Right? Perhaps the reason why cURL works fine is that there seems to be [no read timeout set or even available](https://everything.curl.dev/usingcurl/timeouts) for cURL.

[2022-08-05 07:09] #8018 closed

[2022-08-05 07:09] #8071 closed

[2022-08-05 07:11] sisp commented on #8065
@skshetry In addition to my previous suggestion, or as an alternative one, how about adding support for [chunked transfer encoding](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding#chunked_encoding)? I've adapted the `requests`-based upload script to use chunked transfer encoding and it works fine with the timeout setting:

[code]

Not every HTTP remote storage may suppo

[2022-08-05 07:49] allenyllee commented on #2301
@efiop see this idea: https://github.com/iterative/dvc/issues/8096

[2022-08-05 10:31] sorenwacker opened #8097 "pydrive2.settings.InvalidConfigError: Missing required setting client_config"
Trying to pull data from a data registry stored on GDrive using a service account in a Github action. I am getting the error

# DVC doctor
[code]

# Github actions yaml file

[code]

# Traceback
[code]

[2022-08-05 11:36] cerquide commented on #8065
Just to let you know that I have been having these problems lately, which are really slowing down our team since we cannot rely on dvc. We are not using github packages, but dagshub remotes. The issue is even worse with 2.16.0, since in that version it does not even attempt to push the data to the remote.
It seems that everything starts with release 2.10.0 where the timeout was introduced.

https:

[2022-08-05 11:46] skshetry commented on #8065
We already do chunking uploads. See https://github.com/fsspec/filesystem_spec/blob/5d6c87e562396f352645df7cd555a2b4b6eec84a/fsspec/implementations/http.py#L274-L278. I was wondering if it was chunking uploads causing timeouts, hence I asked to check with httpx, but that also fails.

[2022-08-05 11:48] skshetry commented on #8065
@cerquide, Does uploads work correctly if you set `sock_read=None`? I think it's a different issue than timeout.

[2022-08-05 11:49] cerquide commented on #8065
It does if you go back to dvc 2.9.5. Have not checked specifically to change sock_read=None in a higher version

[2022-08-05 11:54] sisp commented on #8065
@cerquide Git**Lab**, but I think that's what you meant. Just making sure we're talking about the same thing. :wink:

 @cerquide That's likely related to https://github.com/iterative/dvc-objects/pull/116. It should be fixed in the next DVC release.

@skshetry Ah, I hadn't noticed that. Strange that it works with `requests` and chunked transfer encoding but not with `aiohttp`. :thinking:

[2022-08-05 11:58] cerquide commented on #8065
Ooops sorry, you are right, fortunately I was saying we are not using them, it would have been worst if I said we are experts.

[2022-08-05 12:47] skshetry commented on #8065
@cerquide, would it be possible to try with `sock_read=None` and see if it fixes the issue?

[2022-08-05 13:13] #7253 closed

[2022-08-05 13:15] efiop commented on #8097
@sorenwacker Did you set `gdrive_use_service_account` option in your config?

[2022-08-05 13:21] karajan1001 commented on #8014
Finally, I accidentally reproduced it.

[2022-08-05 13:26] #8064 closed

[2022-08-05 14:00] cerquide commented on #8065
@skshetry, in my case (using dagshub https remote), changing to `sock_read=None` fixes the issue both for dvc 2.10.2 and for dvc 2.15.0 (in this case the file has moved to fs/implementations/http.py). With dvc 2.16.0 I think @sisp is right and I am suffering from a different disease.

[2022-08-05 14:09] skshetry commented on #8065
@cerquide, can you try installing `dvc-objects==0.1.7` with `dvc==2.16.0`, and see if `sock_read=None` fixes the issue:
[code]

This will complain that it is incompatible, but you can ignore for now. Thanks.

[2022-08-05 15:36] zhansliu opened #8100 "Large files get truncated on dvc push to HTTP remote"
# Bug Report

## Description

When using an HTTP or HTTPS remote (e.g. Artifactory), and `dvc push`-ing a large file (which takes more than 1 minute to upload).

### Reproduce

I believe this affects all HTTP remotes, but I experienced this using an Artifactory server, so I'll describe that.

Create a dvc-tracked repository, with the following `.dvc/config`:

[code]

Create a large file `large_fil

[2022-08-05 15:38] mazzma12 commented on #5024
Hi, why not using
[code]
?

As in git, it will only stage modified tracked files

[2022-08-05 15:53] #4883 closed

[2022-08-05 15:53] #6129 closed

[2022-08-05 15:58] mattseddon commented on #8062
What happens if I then commit this change? Would DVC handle this case?

I did some testing of this situation with the `vscode-dvc` `demo` project and I can see that DVC does handle this case. However, dropping the cache after pulling all of the data gives these results:

[code]

IMO in order for us to cater for the use case that you mentioned, we would need to suppress all of the "added" informati

[2022-08-05 16:20] sisp commented on #8065
@skshetry If I read the `requests` library code right, there is [no read timeout for _chunked_ requests](https://github.com/psf/requests/blob/177dd90f18a8f4dc79a7d2049f0a3f4fcc5932a0/requests/adapters.py#L504-L544). I've tried understanding how `aiohttp`'s chunked transfer encoding works for requests, but it looks a bit convoluted at first glance. I'm not deeply familiar with the exact protocol of

[2022-08-05 16:22] cerquide commented on #8065
@skshetry, with `sock_read=None` pushing works like a charm for me with `dvc-objects==0.1.7` and `dvc==2.16.0`.

When pulling, for some of the big files I received errors like

`ERROR: failed to transfer 'md5: 57bba9a44a71691b2bb2ec11159f55e7' - Response payload is not completed`

but this was maybe due to the number of jobs being too high, with -j2 it worked flawlessly.

[2022-08-05 16:24] skshetry commented on #8065
@sisp, you are right. This was something that we were discussing earlier too. See https://github.com/psf/requests/issues/5668.

[2022-08-05 16:25] dberenbaum commented on #8062
Agreed, this looks like it's a bug (cc @skshetry).

My point here was that it seems we are suggesting the same status (not in cache) here regardless of whether the workspace files are missing or exist. Could that be confusing? And do we want to suggest to do a pull when something does exists in the workspace already?

Yeah, I agree it overall makes sense to rephrase "not in cache" to something lik

[2022-08-05 16:31] mattseddon commented on #8062
Would it make the most sense then to only show files as not in cache (or whatever terminology that we end up using) if they are not present in either the cache or the workspace? I.e uncommitted deleted + not in cache = remote only. Would that make sense?

[2022-08-06 08:01] sorenwacker commented on #8097
You mean whether I executed

    dvc remote modify myremote gdrive_use_service_account true

?

I did that locally, but not as part of my Github actions yaml file.

[2022-08-06 08:43] efiop commented on #8097
@sorenwacker Then that's your problem, it looks like :) Run that command in github actions and it should work too.

[2022-08-06 11:23] sisp commented on #8100
Seems related to #8065, although for me with GitLab's generic packages repository as the storage backend the upload fails after ~5 minutes without truncation.

It would be interesting to understand why the behavior differs for Artifactory and GitLab.

[2022-08-06 12:21] sorenwacker commented on #8097
That surprises me. I have this workflow from a different project and this works.

[code]

Does that mean there is persistency in the GitHub repo that can be changed permanently by running a github actions such as setting this DVC settings?

[2022-08-06 12:22] sorenwacker commented on #8097
That also means, I would set this up from scratch this workflow would not work anymore?

[2022-08-06 12:22] sorenwacker commented on #8097
If that is the case it should probably be explained in the docs.

[2022-08-06 13:53] efiop commented on #8097
@sorenwacker In that other project you either have that config option already set, or maybe you are not using service credentials but cached regular user credentials.

[2022-08-06 15:29] shcheklein commented on #7755
@ivyleavedtoadflax could you check please if this is resolved now?

[2022-08-06 15:30] clamydo commented on #1307
I have started an early attempt to fix this isse. See #8101
I am not happy about this solution. Perhaps somebody can chime in?

[2022-08-06 17:36] trancenoid opened #8102 "cannot dvc repro pipelines in subdirectory"
my project structure is as follows :

root
[code]
but when I run `dvc repro forecast/dvc.yaml` it throws this error :
`ERROR: 'forecast/dvc.yaml' is dvc-ignored`

The output of `dvc check-ignore -d` is :
`in sub_repo:forecast    forecast/dvc.yaml`

I tried making the forecast directory by `dvc init --no-scm` and `dvc init --subdir` but with no luck

I want to have a main pipeline defined by outer

[2022-08-07 14:03] JohnTheDeere commented on #5800
I had a problem with running queued experiments (normal exp run worked fine):
<img width="1112" alt="Screenshot 2022-08-06 at 17 18 22" src="https://user-images.githubusercontent.com/19154758/183294336-7a61713e-8986-4612-9f5a-8a1bd7704f2c.png">

As you can see the problem was with the google service account (strage).

The path to my service account json file was located in the config.local file as

[2022-08-07 18:52] trancenoid commented on #8102
Found the problem :
there is no need of doing another dvc init in a subdirectory ; Just creating another dvc.yaml do the trick

[2022-08-07 18:52] #8102 closed

[2022-08-07 22:02] shelper opened #8103 "how to update the data in a data registry within another project"
i went through the doc for data registry at `https://dvc.org/doc/use-cases/data-registry`
but i am still not clear about how to `update registry`

if I understand correctly, for a project that imports data from a data registry (which is a git repo), and i changed the data in that project, when i run `dvc add changed_data.dvc`, what i changed is the data for my project, not the repository of the da

[2022-08-08 00:01] pmrowla commented on #5800
@JohnTheDeere your problem is a known issue, see #7254

[2022-08-08 03:42] mattseddon commented on #8062
@dberenbaum

I've made updates on our end to make it possible to show resources across multiple categories in the SCM view.

In terms of decorations, we can only have 1 per resource so I will apply decorations to each resource using the following prioritization:

1. Not In Cache
2. Uncommitted
3. Committed

The only other thing to note is that I have removed the inline checkout option for resource

[2022-08-08 06:05] pmrowla opened #8106 "fsspec: cloud versioning prerequisites"
Meta ticket for keeping track of upstream cloud versioning support

- [x] S3
- [x] Azure: https://github.com/fsspec/adlfs/pull/331
- [x] GCS: https://github.com/fsspec/gcsfs/pull/504

[2022-08-08 06:07] #8014 closed

[2022-08-08 06:21] rick-van-veen commented on #4604
Sorry if I misunderstand. This issue has been moved to done 1.5 years ago, currently it is still a problem though (https://github.com/iterative/dvc/issues/8016). What is the current status and planning of this issue?

[2022-08-08 06:34] pmrowla commented on #4604
@rick-van-veen the issue is still open and there is currently no estimate on when the core team will be able to get to it.

The in-progress/done status messages are just auto-generated from the github project boards, and they mean that some planned work related to this issue (whether it was on internal prerequisites or separate but related issues) was done in the given sprint.

[2022-08-08 06:37] rick-van-veen commented on #4604
@pmrowla Thanks!

Just want to add my +1 for this issue with this comment then :-)

[2022-08-08 06:49] #8059 closed

[2022-08-08 10:39] pared commented on #7692
I consider it as a part of aforementioned issue on `vscode` - but the estimation for vscode depends on research on studio side. It is not yet finished.

[2022-08-08 12:11] skshetry commented on #8053
@mattseddon, thank you for opening an issue with a good reproducer. I have opened #8107 which should fix the issue.

[2022-08-08 12:41] skshetry commented on #8052
This is not possible right now for DVC, as it uses `git`'s untracked information and we only get a flattened list.

Soon, we will have support to just get the root directories too, but to provide both root and items inside the untracked directory, we'd have to make two calls, one with `git status --untracked-files=normal` and the other with `git status --untracked-files=normal`. I'm not sure if we

[2022-08-08 12:43] skshetry commented on #8061
Note that we now have the support in upstream `scmrepo`, but we are waiting for a bugfix from dulwich to release.

[2022-08-08 13:06] hq-jiang opened #8109 "`dvc push`: Get stuck when using Azure Cli login"
# Bug Report

## `dvc push`: Get stuck when using Azure Cli login

## Description

Following this example:
https://dvc.org/doc/command-reference/remote/modify#example-some-azure-authentication-methods

I tried to login with the az cli, add the remotes and then push some files. This gets stuck with:
[code]
somewhere in `_indexed_dir_hashes` in `/home/user/envs/dvc/lib/python3.8/site-packages/dvc_da

[2022-08-08 13:27] hq-jiang commented on #8109
Further debugging reveals that it works if I set `exclude_managed_identity_credential` to `True` in `DefaultAzureCredential` in ``dvc/lib/python3.8/site-packages/dvc_objects/fs/implementations/azure.py:
[code]

[2022-08-08 13:46] karajan1001 opened #8110 "Expereiments failed when we add some configuration to our `.gitconfig` file"
# Bug Report

Experiments always failed quickly after we set merge.ff to only. And queued experiments failed at start if we set rebase.autostash to true

## Description

### Reproduce

Add
[code]
to `.gitconfig` make any experiment failed
and
[code]
make any queue tasks failed.

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2022-08-08 16:43] skshetry commented on #8062
Not in cache is tricky, as there are too many scenarios to think of.

[2022-08-08 16:45] skshetry commented on #8062
For `committed changes` where there's no cache, we probably can just look at the hashes and tell they are unchanged, and only report `not in cache`, so we can avoid `modified` here.

I'll try to look into more scenarios where we can avoid the `modified`/`deleted` stuff. I have been using this defintion of `not in cache` for now:

[2022-08-08 17:17] dtrifiro commented on #8052
huh?

[2022-08-08 17:43] d-walkama commented on #7436
I'd like to request this feature as well.

We are using an NFS file system and as a workaround for slow md5 checksum calculations have set the index and state dirs to be in /tmp/dvc/. The issue is that dvc creates this directory and makes it read only for other users so we cannot share repos.

A solution would be to have something like:

----
[index]
    dir = /tmp/dvc_${USER}/index
[state]
    di

[2022-08-08 21:02] alex000kim commented on #7915
Thanks for clarifying @pmrowla!
It might be worth putting this clarification into the error message itself e.g.
`ERROR: same item(s) defined as both a dependency and an output in stage: <stage name>`

[2022-08-09 00:19] pmrowla commented on #8110
There is an existing issue for setting `ff-only` https://github.com/iterative/dvc/issues/7675

These issues need to be resolved in scmrepo, basically we need to be able to provide our own gitconfig when doing experiments git operations (and force scmrepo to override the user's configuration)

[2022-08-09 00:28] mattseddon commented on #8052
We currently make two calls:

[code]

It does feel odd but we need that information for this particular workflow.

[2022-08-09 01:24] shelper commented on #8103
i got answer on discord saying

So i think this could be a feature request then ...

Maybe a workaround is to use data-registry in a project in a way that is similar to git submodule, and use something like `git sparse-checkout` to checkout only the data for that specific project from the data-registry as a submodule?

[2022-08-09 03:49] #8053 closed

[2022-08-09 03:59] skshetry commented on #8052
@dtrifiro, sorry I meant `normal` and `all`.

[2022-08-09 06:27] mattseddon opened #8113 "`exp run`: git ignored files committed to experiments"
# Bug Report

## Description

I was working on a new command in the extension where you can "share an experiment". I got some surprising results in that the experiment's input data that is tracked by DVC and listed in .gitignore files was committed into Git. I discovered this when I sent the branch to the remote and opened a PR.

### Reproduce

1. run several checkpoint experiments in the workspac

[2022-08-09 07:12] daavoo commented on #7915
Reopening as a Good First Issue for the UI enhancement.

Would need to update https://github.com/iterative/dvc/blob/main/dvc/repo/graph.py#L27

[2022-08-09 07:26] daavoo commented on #7949
Bumping to pyinstaller 5.2. appears to haven't fix the issue. Hooks on the latest build still raise warnings and a user has reported the same bug in `DVC version: 2.17.0 (deb)`:

https://github.com/iterative/dvc-s3-repo/runs/7703612801?check_suite_focus=true#step:6:2640

[2022-08-09 09:04] pmrowla commented on #8113
To clarify, I don't think the issue here is with `exp branch`. The problem here is that DVC-tracked/git-ignored files are being included in the commits generated by `exp run`

This bug just became more apparent due to using `exp branch` and pushing to github (and the unexpected files showing up in the github PR UI)

[2022-08-09 09:09] pmrowla commented on #8113
This issue was also noted by a discord user, but it was unclear on how to reproduce it and not followed up into a separate bug report

https://discord.com/channels/485586884165107732/485596304961962003/1003959217826300025

[2022-08-09 09:09] karajan1001 commented on #8110
OK, so the only new issue is `rebase.autostash` will cause queued tasks fail.

[2022-08-09 10:25] wzhou0776 commented on #3279
Hi, is there any update on this? Tried to install on jetson nano but didn't succeed.

[2022-08-09 10:57] pared commented on #8103
@shelper
Data registry is a separate project from your training and it should be treated as a "consumer" of the data rather than something that updates the registry repo. So the changes should be applied to data registry repo, and then, using `dvc update` the data should be updated on your training repo. As I understand you would like to update your data registry from your training repo?

[2022-08-09 10:59] efiop commented on #3279
@wzhou0776 No updates, unfortunately.

[2022-08-09 11:16] pared commented on #8096
@allenyllee

Clone the git repo, git checkout a tagged version, and dvc checkout to download files to the local.

Have you thought about using `dvc get` or `dvc import` to obtain the data from your log repository?

That looks like rather specific use case, which can be achieved with some parametrized script. The steps are repetitive, and it seems to me that this could be achieved with some bash/py

[2022-08-09 12:06] shelper commented on #8103
@pared that's right, i wonder if it is feasible (and reasonable) to update data registry from training repo.

[2022-08-09 12:06] mattseddon commented on #8113
Thanks @pmrowla

[2022-08-09 13:36] allenyllee commented on #8096
@pared
But I think the main problem is current method:

First, I need to create git repo before I can use dvc, right?
Where should I put this git repo? I don't want that git repo put in my local machine, because the space of local machine is too small. I want that git repo put in the data machine.

Second, I need to copy files into that git repo so that I can do `dvc commit`, and also I need to do

[2022-08-09 13:46] hfrechen opened #8115 "`dvc list -R`: listing contents of data registry fails, when using recursive flag"
# Bug Report

## `dvc list -R`: listing contents of data registry fails, when using recursive flag

I setup a sample [data registry](https://github.com/hfrechen/data-registry-test) containing the data generating code using a dvc.yaml pipeline. When trying to list the registry's content, `dvc list` works as intended and shows the top-level files and dirs of the repo. When using `dvc list -R` it fai

[2022-08-09 13:47] dtrifiro commented on #8026
A smaller reproduction script shows that a `fs.find` call corrupts the dircache by replacing a directory with all the files with the same prefix

[code]

[2022-08-09 14:40] pared commented on #8103
I guess the right question to ask here is why not update the data registry? Is there a use case where one cannot update the data registry, and should be able to update it from another repo?

[2022-08-09 19:23] shcheklein opened #8116 "Experiments don't properly run multiple pipelines"
## Bug description

Queue experiment run the wrong pipeline. I was able to reproduce it on a simplistic repo, but users have issue in a more multi-pipeline scenario (it's not a completely artificial edge case).

## Reproduce

This is the repo structure to use:

[code]

where each `dvc.yaml` looks like:

[code]

Run:

[code]

Result, I'm getting is:

[code]

## Expected result

It runs twice the `p

[2022-08-09 23:45] pmrowla commented on #8115
Should also note that the repo uses templating and the stage output which generates tree errors is a directory where the path comes from templated params

[2022-08-09 23:52] pmrowla commented on #8116
On the terminology question, the `reproduced` messages are from before experiments were released. I wrote them that way at the time since the initial development framing was "repro with saved results". Most of the UI messaging just hasn't been revisited at all since then, but I don't think we are particularly tied to anything here and can adjust it as needed.

[2022-08-10 01:25] pmrowla commented on #8087
We can probably disable the default pytest-celery worker ping timeout:

https://github.com/celery/celery/blob/128f0027005f2bf9d4b93082049d2c96c2bcd879/celery/contrib/testing/worker.py#L63

it should just need to be set in our fixture:
https://github.com/iterative/dvc/blob/7a0b3e93771c212fea3fa7d80f710877e9fdf958/tests/unit/repo/experiments/conftest.py#L15

_Originally posted by @pmrowla in https:/

[2022-08-10 03:47] shelper commented on #8103
I Agree with you but just a thought here is that if the registry gets bigger, and some one who only used one dataset from the registry will have to clone it to local and update it through GitHub

Just in case the person accidentally contaminates other datasets in the registry, if there is a way to isolate in-between the datasets in the registry?

[2022-08-10 04:50] pmrowla commented on #8113
still bisecting, but it looks like this bug was introduced in 2.11.0

Using `git checkout <exp-commit>` from example-get-started runs:

2.10.2
[code]

2.11.0 (`data/data.xml`, `data/features/`, `data/prepared/`) have all been committed in git
[code]

[2022-08-10 05:34] pmrowla commented on #8113
Bug was introduced with https://github.com/iterative/dvc/pull/7712

When we reproduce the exp pipeline, we ensure that all deps and outputs are tracked in either DVC or git. So the end result is that all non-DVC-tracked deps are staged in git.

The check to determine whether or not a dep is already tracked by DVC uses `dep.fs_path`, which is no longer valid after the repo root change. The bug happ

[2022-08-10 06:27] karajan1001 commented on #3279
On apple silicon it works.

[2022-08-10 09:22] frerksaxen commented on #4746
I'd love to have this option since I usually add multiple stages in my dvc.yaml file, where outputs of one stage are dependencies of other stages. Calling `dvc pull` for the first time after defining these additional stages will fail because some dependencies have simply not yet been created at all. The `--ignore-missing` flag would really help in this situation, because it is not clear if `dvc pu

[2022-08-10 10:58] gcaria opened #8120 "log_plot(): add custom line plot"
During my evaluation stage, I plot a simple line plot where the x values are predefined, and the y values are calculated from truth and predicted values, and are informative of the model performance.

I'd love to see how the line plot changes from experiment to experiment, which means that I'd like to use `log_plot` for doing this.

Would it be possible to implement this? It seems to me that `log_

[2022-08-10 13:16] dberenbaum commented on #8062
@skshetry Can you confirm that these issues are bugs that we can address immediately? How to show `deleted` paths that need to be pulled is a larger product question that is less urgent IMO (although also important).

[2022-08-10 14:00] PythonFZ opened #8121 "`dvc queue run <hash>` to run a specific experiment"
I'm using the dvc experiment feature together with the queue to plan multiple experiments I want to run.
I wanted to run an already queued experiment to check its outputs without submitting all jobs.

My Idea would be something like
`dvc queue run <hash>` which will run the given experiment in `.dvc/tmp/` and upon success remove it from the queue.

[2022-08-10 14:10] jodv-ordina opened #8122 "dvc pull error"
I am working on a project where dvc is used to version data stored on a s3 bucket.
Everything worked fine until a week ago. Now dvc pull results in an error even though the data did not change over the course of that week.  Could updates on my windows laptop result in such behavior?

[code]

[2022-08-10 18:49] shcheklein commented on #8103
Just a few points to clarify:

A person can download only single dataset to update it, no need to checkout / pull all the datasets in the registry to update a single one.

yes, you can always update only a single dataset and do `git commit dataset1.dvc` + `git push`. No matter if other datasets are updated or not or if you did `dvc push` for other datasets. This way nothing is contaminated. You ar

[2022-08-10 21:45] shelper commented on #8103
Humm..., please see my comments below based on my understanding..

 this is done by `dvc import registry-url dataset-folder`, in the **project folder**

Here, the user needs to run the commands in the **local registry repo**, which means he/she has to clone the whole registry repo to local.

I believe it does not matter, but for example, in cloud. if what i understand is correct as commented above

[2022-08-10 21:55] shcheklein commented on #8103
That was my point. They need to do `git clone data-registry` (that's should be fine, right?) , but no need to do the full `dvc pull`. A specific dataset can be pulled - `dvc pull dataset1` and then committed `dvc commit dataset1` .. It can be granular.

There is a way to avoid even the second copy on a machine where they would be updating a dataset that needs to be updated. `data-registry` repo ca

[2022-08-11 01:24] shelper commented on #8103
that is fine most cases, but it concerns me a little bit when some unexperienced github user cloned the registry repo and made some changes to it unexpectedly. expecially if he/she changes datasets other than the one he/she is using.

So i just wonder if there is a way to restrain the user only to make changes to the dataset he imports/gets from the data-registry. and by `make changes` i mean comm

[2022-08-11 05:38] pmrowla commented on #8122
@jodv-ordina did you upgrade from an older DVC version the last week?

[2022-08-11 09:08] alealv opened #8126 "For 2.17.0 --> dvc status says http dependency has changed and dvc repro won't work"
# Bug Report

## `dvc status` says dependency has changed and `dvc repro` won't work

## Description
Since version 2.17.0 the `dvc status` command says a http dependency has changed when it has not.

### Reproduce

[code]

[code]

### Expected
With version `2.16.0`

[code]

### Environment information

**Output of `dvc doctor`:**

[code]

and

[code]

[2022-08-11 09:28] Tel44 opened #8127 "sshfs not missing"
dvc push reports
[code]

pip freeze reports
[code]

This happens whenever I try to push to a ssh remote.

[code]

What makes this even more bizarre is:
[code]

[2022-08-11 10:01] pmrowla commented on #8127
You likely have a version of sshfs installed that is not compatible with the version of DVC that you have installed. DVC no longer supports Python 3.6 or 3.7, if you are in 3.6 your DVC installation is likely very outdated.

Please try Python 3.8 or later and then re-install DVC using `pip install dvc[ssh]` in a Python 3.8+ environment.

[2022-08-11 10:36] Tel44 commented on #8127
I tried python 3.8 and that works. I'd suggest to add the python version requirement somewhere. Maybe the readme or at https://dvc.org/doc/start ?

[2022-08-11 10:36] #8127 closed

[2022-08-11 12:14] dberenbaum commented on #8121
Keeping this feature request open, but in case you want a workaround for this in the meantime, you can do:

[code]

[2022-08-11 12:18] PythonFZ commented on #8121
Thanks, I had to add `dvc queue remove` to clean the queue from the old experiment which would just be a copy. But this was more or less exactly what I was looking for.

[code]

[2022-08-11 12:41] dberenbaum commented on #8121
Maybe `dvc queue pop <hash>` would make sense as an alias for that?

[2022-08-11 12:55] jodv-ordina commented on #8122
No i did not.

[2022-08-11 13:01] skshetry commented on #8127
@Tel44, we do mention that we require a particular version of Python in the installation section.
https://dvc.org/doc/install/linux#install-with-pip

But it looks like we did not update that to reflect that we now require Python 3.8. I have opened the PR in https://github.com/iterative/dvc.org/pull/3874 for that.

[2022-08-11 13:01] dberenbaum commented on #8126
Looks like this was introduced in https://github.com/iterative/dvc/commit/52bdd90840604efa3203c64abf49796750547126# (cc @efiop)

[2022-08-11 13:07] PythonFZ commented on #8121
It probably can't be `dvc queue run <hash>` because the id changes so I like the `dvc queue pop <hash>` idea.
How would this affect the workspace? If you use `apply` + `run --temp` it will change the workspace, so maybe use stash the workflow before the `apply` and then apply the stash afterwards?

[2022-08-11 13:17] Tel44 commented on #8127
If you do not support older python versions at all, it would be worth mentioning that.

The missing piece is: Which versions are still supported?

[2022-08-11 13:18] skshetry commented on #8127
It is mentioned, it says `Python 3.7+`, which will be updated to `Python 3.8+` shortly.

[2022-08-11 13:25] dtrifiro commented on #8026
Waiting on https://github.com/fsspec/gcsfs/pull/488

[2022-08-11 17:21] guysmoilov commented on #8100
Hey, I created a consistent reproduction of this issue in this repo:
https://github.com/guysmoilov/golang-throttled-fileserver

**The root cause is that the HTTP retries don't send from the start of the pushed file - they push from the middle of the file after the first try.**

It doesn't even require sketchy network connections to reproduce reliably, any failed push request will cause corrupted d

[2022-08-11 17:23] guysmoilov commented on #8100
I'm working on debugging the client in DVC to find the root cause and fix it ASAP but no luck so far

[2022-08-11 18:11] guysmoilov commented on #7564
Possibly related: #8100

[2022-08-11 20:49] guysmoilov commented on #8100
I narrowed it down further: The problem is the aiohttp_retry RetryClient, which gets passed a data chunk generator in DVC's implementation of HTTPFileSystem. The generator doesn't seek to the start of the file on request retry, and retries should be totally unsupported when the data isn't seekable.

I think we have to seek in the file on retries using TracingContext: https://docs.aiohttp.org/en/st

[2022-08-12 04:23] pmrowla commented on #8100
For reference, @guysmoilov the dagshub repo in your example doesn't work for me, when I clone it there is no default repo configured so you can't `dvc pull` any data

But I am able to reproduce the issue using my own test DVC repo and the POC go server.

[2022-08-12 04:46] pmrowla commented on #8100
So the issue is that RetryClient defaults to retrying on all 5xx server errors. @skshetry has identified that this can be disabled by setting `retry_all_server_errors=False`.

However, what we probably want to do is just disable retries for write operations (PUT and POST).

[2022-08-12 08:58] #8100 closed

[2022-08-12 19:42] agrizzli commented on #6152
I have a very similar issue. It happens as follow up issue after the problem described in #7186 . Index somehow gets broken. And it is unclear why, because a very similar workflow was working fine in the same settings. `git` cli then fails in return `git status`, but works on some other commands like `git branch`. E.g. `git status` results in:

`fatal: unknown index entry format 0x31310000`

Altho

[2022-08-12 20:32] dberenbaum commented on #8115
It doesn't look like there is any default remote set in https://github.com/hfrechen/data-registry-test, without which DVC can't granularly list the contents of directories it's tracking or import data. In DVC<=2.9.4, I get the error `dvc.exceptions.NoRemoteInExternalRepoError: No DVC remote is specified in target repository 'https://github.com/hfrechen/data-registry-test'.`. It's probably best to

[2022-08-12 20:34] dberenbaum commented on #5800
@pmrowla Any thoughts on how to handle this? Could dvc copy over those contents that we know are part of the local dvc config?

[2022-08-12 23:03] shcheklein commented on #8096
@allenyllee @pared mentioned about the [`--to-remote` option](https://dvc.org/doc/command-reference/add#example-transfer-to-remote-storage), would that work for you, and if not, why? I'm still trying to better understand your needs and your suggestion, tbh. Could you also clarify - do 'data machine' and 'remote' are the same in your case (some self-hosted box), or remote for you is some cloud, lik

[2022-08-13 02:22] allenyllee commented on #8096
@shcheklein Sorry, I'm not yet tested it. But I saw this question in the dvc fourm:
https://discuss.dvc.org/t/large-data-registry-on-nas-with-multiple-dvc-and-non-dvc-users/1294

I think his problem is similar to our's, and I think what I proposed can solve his problem either.

[2022-08-13 02:30] shcheklein commented on #8096
@allenyllee yep, and what I'm trying to understand what exactly is missing / how is it different from the proposal I have in that thread. It would be really helpful if you could try and if something is missing let us know.

[2022-08-13 11:07] FrankyTang opened #8130 "404"
# Bug Report

when I call: dvc status -c
a msg printed:
ERROR:unexpected error -Not Found:An error occurred(404) when calling the ListObjectsV2 operation:Not Found.

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]
base) ➜  recognition git:(dev) ✗ dvc doctor
DVC version: 2.17.0 (snap)
---------------------------------
Platform: Python 3.

[2022-08-13 11:10] FrankyTang commented on #8130
base) ➜  recognition git:(dev) ✗ dvc doctor
DVC version: 2.17.0 (snap)
---------------------------------
Platform: Python 3.8.10 on Linux-5.4.0-124-generic-x86_64-with-glibc2.29
Supports:
	azure (adlfs = 2022.7.0, knack = 0.9.0, azure-identity = 1.10.0),
	gdrive (pydrive2 = 1.14.0),
	gs (gcsfs = 2022.7.1),
	hdfs (fsspec = 2022.7.1, pyarrow = 9.0.0),
	webhdfs (fsspec = 2022.7.1),
	http (aiohttp = 3

[2022-08-13 13:57] skshetry commented on #8126
`dvc get-url` is also broken for http remotes. I am not sure if other remotes are also affected.

[2022-08-14 08:45] guysmoilov commented on #8100
I think you mean to say:
[code]
?
From looking at the changelogs

[2022-08-14 09:08] evgenytsydenov opened #8132 "Adding working directory to PYTHONPATH"
# Adding working directory to PYTHONPATH

Why is the working directory not added to `PYTHONPATH` when calling `dvc repro`? I think this is expected behaviour. Here is an example where this might be useful.

## Reproduce

### Project structure
[code]
### Files content
[code]
[code]
[code]

## Expected

[code]

## Actual
[code]

## Environment
[code]

## Additional Information

This problem can be s

[2022-08-14 09:50] efiop commented on #8126
Fixed in the upstream and will be released in the next release. Please feel free to give upstream a try for now.

[2022-08-14 09:50] #8126 closed

[2022-08-14 13:38] erdisayar opened #8134 "DVC cannot tracked files when the script is aborted..."
# Bug Report

## Description

DVC don't track files when script is aborted via CTRL+C.

Motivation: Sometimes training scripts take much time and we don't know when It is going to finish. Hence, we might need to stop script manually and still want to track files ,especially log files. When I stop the script manually, DVC don't track them.

### Reproduce

Let's assume that the following code snippe

[2022-08-15 02:37] karajan1001 commented on #8130
Hi, @FrankyTang
Could you please provide a detailed log via `dvc status -c -vv`?

[2022-08-15 02:42] karajan1001 commented on #8134
I think in your case, you should use [dvclive](https://dvc.org/doc/dvclive/get-started) instead of a normal version of DVC.

[2022-08-15 03:09] pmrowla commented on #8132
DVC is meant to be platform/language agnostic, meaning you can run any type of command in DVC stages (so not necessarily Python code). Because of this we do not set any type of environment configuration for whatever potential types of code the user is running. If your stage relies on a specific environment variable being set, we expect the user to set it before running DVC.

[2022-08-15 03:09] #8132 closed

[2022-08-15 03:13] pmrowla commented on #8134
DVC does not track failed experiments by default. Like @karajan1001 mentioned, it looks like what you want here is to use dvclive so that each successfully completed step/iteration will be tracked as [checkpoints](https://dvc.org/doc/user-guide/experiment-management/checkpoints#registering-checkpoints-in-your-code).

If for whatever reason you don't want to use dvclive/checkpoints (and only want t

[2022-08-15 03:14] pmrowla commented on #8100
@guysmoilov you are correct, it should be `0.1.15`

[2022-08-15 03:19] pmrowla commented on #6152
@agrizzli are you using git worktrees or sparse checkout? Could you please run `git --version`

[2022-08-15 03:23] pmrowla commented on #5800
@dberenbaum we can pass the local config from the parent repo without copying files. We just have to implement passing the correct parent repo's config into the exp/tmpdir repo constructor.

But DVC local config discussion should go in #7254. This issue is a separate problem (how to handle any generic gitignored file, and not DVC-specific configs)

[2022-08-15 03:36] pmrowla commented on #8122
@jodv-ordina does anyone else share this DVC project with you? Is it possible that someone else forgot to do a `dvc push` to the remote?

[2022-08-15 03:51] FrankyTang commented on #8130
Finally, the reason is that my it change s3 dns.

[2022-08-15 03:52] #8130 closed

[2022-08-15 11:07] agrizzli commented on #6152
`git --version` is `git version 2.25.1`

 I am not using neither git worktrees not sparse checkout.

However I figured the true reason behind my error which seems to be different to #7186. I was using some old dependency that has not received new outputs anymore.

First, I was using for some `repro` runs:

[code]

And later I removed the mentioning of the first `outs`, but forgot to remove the cor

[2022-08-15 13:33] erdisayar commented on #8134
I also realized that the experiments are local. In other words, the dvc experiments are stored here `.git/refs/exps/`.
When I type `git push` ,these folders are not pushed in the remote repository. Therefore I cannot obtain the experiments in another computer.

[2022-08-15 13:36] erdisayar commented on #8134
It is a solution but what if I don't want to edit the my code and only want to version the data.

For workaround, I catch the `KeyboardInterrupt`. But catching Keyborinterrupt for multi-process coding might not  be easy .

[2022-08-15 13:49] pmrowla commented on #8134
There are separate DVC commands for sharing experiments that will manage sharing both the git refs and DVC data for your experiments, `dvc exp push` and `dvc exp pull`

Please refer to the docs: https://dvc.org/doc/user-guide/experiment-management/sharing-experiments#sharing-experiments

[2022-08-15 13:55] erdisayar commented on #8134
But it has to create new git branch. I want to organize my experiments without creating new branch. Under the `master` branch, I would like to type `dvc exp list` in remote pulled computer and would like to see the experiments and reproduce them.

If I want to create new git branch, I don't need to use `dvc` to track log files ( because log files are not binary). I can create new branch for every

[2022-08-15 14:11] marcosfelt commented on #6980
I am getting the same error as @lucilemg on Linux with version 2.18.0

[2022-08-15 14:26] pmrowla commented on #8134
You do not need to create branches. If you `dvc exp push` experiments from one machine, you can use `dvc exp list origin` from another machine and see your pushed experiments.

[2022-08-15 15:54] erdisayar commented on #8134
It doesn't work that way.

https://user-images.githubusercontent.com/44807161/184669799-3b42120a-90c3-4f68-93d1-c5f39fc80bdc.mp4

[2022-08-15 21:32] dberenbaum commented on #5800
Sorry, I did mean #7254, but since the discussion was here, I commented here. What do you think about prioritizing that one? Seems like that's a fairly substantial bug since it means you can't use `dvc config --local` with experiments, right?

[2022-08-16 00:49] pmrowla commented on #8134
`dvc exp list` only displays experiments that are derived from your current `HEAD` by default. Once you do `git commit` your HEAD has moved, and the experiments you ran are based on the previous commit. Please refer to the documentation for `dvc exp list`: https://dvc.org/doc/command-reference/exp/list#exp-list

In your example, you can do any of the following to view your experiments:

List exps

[2022-08-16 00:59] pmrowla commented on #6980
@marcosfelt what DVC command are you running

[2022-08-16 01:47] pmrowla commented on #5800
I think it's just a p2 given that the most common use case for `config --local` is remote auth options, which don't affect anything in experiment runs.  The only `config --local` option I can think of that really matters for exp runs is overriding cache link type, but in exp run we explicitly use the parent repo's cache location and link types, so that use case is already covered.

[2022-08-16 07:57] marcosfelt commented on #6980
@pmrowla  thanks for the reply, here are the outputs:
[code]

[code]

[2022-08-16 08:41] dtrifiro commented on #7564
Hey @atekoa, would you mind trying the fix suggested in the above issue to see if it solves your issue? `pip install dvc-data==0.1.15
`

[2022-08-16 08:44] erdisayar commented on #8134
I see. Thank you for your help.
I can list these experiments but now how can I run them without chaninging HEAD ?
For example;
`dvc exp run origin -A  <experiment_name>`

[2022-08-16 08:48] pmrowla commented on #6980
@marcosfelt @lucilemg can you please try the linked fix and see if it resolves the problem? You will need to update to the latest DVC pip release (should be 2.18.0) and then install the `dvc-objects` patch on top of that:

[code]

[2022-08-16 08:51] marcosfelt commented on #6980
I just installed the patch and got this:
[code]

[2022-08-16 08:56] pmrowla commented on #6980
@marcosfelt I think you may need to rebuild your venv? Something seems out of date, nothing in current `dvc`/`dvc-data`/`dvc-objects` should be importing `FS_MAP`

[2022-08-16 08:58] pmrowla commented on #8134
You need to use `dvc exp pull` on the other machine.

So something like
[code]

[2022-08-16 09:20] marcosfelt commented on #6980
Took a little while to rebuild everything - it works! Thanks so much @pmrowla!

[2022-08-16 09:22] erdisayar commented on #8134
I am still in the same machine and tried the above commands.

[code]

then
[code]
[code]

I see this warning ` missing version info. ` frequently and don't know how to fix it.

[2022-08-16 09:25] marcosfelt commented on #6980
One other note, I had to install the head of the dvc repository because 2.18.0 still had FS_MAP installed: https://github.com/iterative/dvc/blob/2e8b463795212b4252ab187d4bf8fc5017b78a2e/dvc/fs/__init__.py#L6

[2022-08-16 09:32] pmrowla commented on #8134
The missing version info message usually means some DVC data was not pushed properly.

In this case, the given experiment was created based on commit `a0a5744` but your current checked out HEAD is `33dd781`. `exp apply` will only apply experiments onto the commit the experiment was originally run against.

This should work as expected:
[code]

It may be easier to visualize all of this using `dvc e

[2022-08-16 12:32] efiop opened #8135 "list: optimize -R/--recursive"
http://bench.dvc.org/
<img width="448" alt="Screenshot 2022-08-16 at 15 32 39" src="https://user-images.githubusercontent.com/5367102/184880410-2755f123-91fd-4249-a089-1770e47a4216.png">

[2022-08-16 13:08] #6980 closed

[2022-08-16 19:52] efiop commented on #8126
@alealv 2.18.1 is out with the fix. Please give it a try and let us know if that fixes it for you. Thanks again for reporting the issue! 🙏

[2022-08-16 22:44] dberenbaum commented on #5800
I guess for @JohnTheDeere, you are using external dependencies or outputs in your pipeline?

[2022-08-17 08:36] hugo-ricateau commented on #8038
@dberenbaum, I can't figure out why at the moment, but the docstring displayed within `ipython` (using `open?` after a `from dvc.api import open`) is quite different and much less complete:
[code]

[2022-08-17 09:09] daavoo commented on #8038
@hugo-ricateau I updated the docstring in https://github.com/iterative/dvc/commit/15e10a1d81a45018d61d5287c20c73c3aa49c266

You might have looked at it in a version previous to this update.

[2022-08-17 12:29] hfrechen commented on #8115
This error message was really helpful. I resolved my issues in two steps, where step 1 might not be necessary:
1. I was using a local remote in the beginning. I changed this to self hosting a MinIO S3 remote.
2. I configured the new S3 remote in the data registry repo and in all consuming repos.

To move my remote from old to new, this [SO Answer](https://stackoverflow.com/questions/67635688/insta

[2022-08-17 13:00] alealv commented on #8126
Hi, thanks for the fast fix.
Unfortunately, I won't be able to test it for the next two weeks. I'm on holidays 😁

[2022-08-17 13:27] TrevorG opened #8137 "dvc tries to use default SSH keys even if SSH link provides username and password"
# Bug Report

## Description

It seems that DVC is trying to use default (`~/.ssh/id_rsa`, `~/.ssh/id_ed25519`, etc.) SSH keys even if link is provided as `ssh://username:password@host`. Moreover, it use provided password as passphrase. In most cases, password will not match passphrase which results in failure of calling dvc command with "Incorrect passphrase" error.

### Reproduce

1. `$ ssh-keyg

[2022-08-17 13:37] daavoo commented on #8137
Hi @TrevorG .
Do you have any `dvc` config setup?
Could you share the output of `dvc config -l --show-origin`

[2022-08-17 14:32] TrevorG commented on #8137
Yeah, sure. I have applied some minor privacy filter on domain name.
[code]

[2022-08-17 18:10] daavoo commented on #8137
We are hardcoding the `passphrase` arg to be the same as `password` in:

https://github.com/iterative/dvc-objects/blob/c61fc37e94de57ee249feb886f7df283b03a7234/src/dvc_objects/fs/implementations/ssh.py#L72

(Introduced in https://github.com/iterative/dvc/pull/6566 )

This is causing the error because `asyncssh` tries to decrypt the private SSH keys with the password provided in the URL.

I believe

[2022-08-17 18:33] daavoo commented on #8090
Sorry for the late response. I will take a look this week

[2022-08-17 18:34] daavoo commented on #8134
Can we close this one?

[2022-08-17 18:37] dcdanko commented on #8090
Thanks, I just tried with dvc 2.18.1 and the error persists

[2022-08-17 18:38] rlamy commented on #8135
A significant part of the recent performance regression comes from 496599518a2f79a79b63888a1d9eaa30d8712021, specifically this line:
https://github.com/iterative/dvc/blob/3c3cbee7fddd7a087cda5b1e0c821786bdd57be9/dvc/repo/ls.py#L88

We could swipe that issue under the rug by swapping the arguments of the `or`, but looking at the rest of the code in `_ls()`, that `fs.isdvc()` seems redundant.

But t

[2022-08-17 21:23] #8134 closed

[2022-08-18 03:27] shortcipher3 opened #8141 "`dvc metrics diff --show-md` empty output for no diff"
[code]

Produces column headers if the files haven't changed.  It would be nice to have it output nothing (as I'm putting the output into a report and a table with headers and no rows is a little confusing).

Also it would be nice if `dvc metrics diff` behaved more like `diff` and returned a `0` error code if the files match and a `non-zero` error code if they do not match.

Haven't checked the pl

[2022-08-18 03:46] pmrowla commented on #8137
This change will break existing behavior for anyone that has been using `password` to set SSH key passphrases.

Also, how do we differentiate between `password` and `passphrase` when users have enabled the interactive `ask_password` option? Do we need an entirely separate prompt and SSH remote specific `ask_passphrase` option as well? (which would then break existing behavior for anyone using `ask

[2022-08-18 03:53] pmrowla commented on #8141
IIRC this is intentional - initially when the markdown output formats were added for CML, I think it was decided that having the empty header-only table (to indicate that there are no changes) was preferred over having the table not show up at all in the output report.

We can revisit this but it may require input from the CML team as well @dberenbaum

[2022-08-18 05:38] mattseddon commented on #8113
@pmrowla seems like this is still happening for checkpoint experiments on the latest version: https://github.com/iterative/vscode-dvc/pull/2210/commits/02256ae7eff7b5022754f0b74e1a24bed76cdc96

[code]

Or is there something that I need to do to stop this from happening?

Let me know if you need any more info.

<details>

<summary>Checkout and remove</summary>

[code]

</details>

[2022-08-18 06:46] pmrowla commented on #8113
I can reproduce it, the issue here is that the demo stage dependency is

[code]
but the DVC (data) output is `data/MNIST/raw`, so we still end up explicitly git-adding `data/MNIST` without doing any further gitignore checks.

If I change the pipeline stage to use
[code]
I get the expected behavior, with no DVC-tracked data being added in git.

---

I think for the demo project the pipeline stage d

[2022-08-18 07:27] JohnTheDeere commented on #5800
Hey @dberenbaum, what kind of external dependencies/outputs are you referring to?

[2022-08-18 08:14] daavoo commented on #8137
Valid points.  I can try to introduce fix in backwards compatible way. Still feel like we should deprecate this behavior, as it was just drawed from paramiko implementation and is causing a misuse of `asyncssh` API.

I don't really know (and we don't test) the full implications of misusing the passphrase argument in `asyncssh` (even new implications might be added in future releases).

I think we

[2022-08-18 08:59] iddqdiddqd commented on #8090
I am having the same error while pulling from local backend.

The local backend is just a bucket that is being mounted as a local filesystem and is assigned for a different user, say `myserviceuser`. The user I am working from is a member of the `myserviceuser` group. The file premissions in the backend include recursive read&write access for group.

Read & write access for that backend directory

[2022-08-18 09:31] NevoMitt commented on #7949
Hey
I'm also facing this issue at DVC version: 2.18.1 (deb).
Reached out for daavoo. waiting for a fix now.

[2022-08-18 10:17] MikiGrit opened #8144 "Wrong link to cmder in documentation."
NOTE: Sorry for not following the guideline but I'm not sure where this kind of issue should be.

# Bug Report

There is wrong link to the Cmder (is `https://cmder.net/` but should be `https://cmder.app/`) on the [Running DVC on Windows](https://dvc.org/doc/user-guide/running-dvc-on-windows) documentation page. The current one leads to some shady looking site.

[2022-08-18 10:52] #8145 closed

[2022-08-18 11:29] daavoo commented on #8090
@iddqdiddqd Could you try following this doc https://dvc.org/doc/user-guide/how-to/share-a-dvc-cache#how-to-share-a-dvc-cache and check if the issue persists with that setup?

[2022-08-18 11:44] shortcipher3 commented on #8141
I was thinking you could provide an optional flag that would determine the behavior.

[2022-08-18 11:45] daavoo commented on #8090
@dcdanko I am not able to reproduce so far.

Could you share some more details on how you set up the projects? Even s a minimal example of 2 projects would be enough

[2022-08-18 16:10] dberenbaum commented on #7914
@pared Is this something you have time to address soon? I think it makes sense to prioritize it soon so we have feature parity with stage plots.

[2022-08-18 21:50] dcdanko commented on #8090
I don't think there was anything special in how we set them up. I specified a shared cache and users used dvc add/pull to add or load files.

All of the copies of the repo are on the same xfs filesystem and we're using reflinks.

I'm not really sure how to create a minmal reproduction here, this feels like emergent behaviour. With the same repo on a different machine (also xfs, reflinks) I'm getti

[2022-08-18 21:56] dcdanko commented on #8090
some similarities to @iddqdiddqd
- one of our remotes was an s3 bucket mounted as a filesystem using s3fuse.
- when I run `gc` as sudo I get a different error: a lock error

[code]

[2022-08-19 03:23] dberenbaum commented on #5800
I assumed that you have pipelines dependencies or outputs that are in gdrive instead of in your local workspace. Is that correct? Otherwise, I'm not sure why DVC would be failing to run your queued  experiment. Could you share your `dvc.yaml`?

[2022-08-19 12:56] iddqdiddqd commented on #8090
@dcdanko thank you! I've followed the steps from the doc you shared and have set up a separate caching directory.

On top of that, it was required to adjust permissions for GID inheritance (`chmod u=rwx,g=rwx,o=,g+s ~/dvc-cache/`) and use `dvc config cache.type copy` so that the files can be editable within my setup.

[2022-08-19 13:43] daavoo opened #8151 "`exp run --set-param`: Doesn't support `-` in param name"
Introduced in #8067

Appears to be a Hydra limitation that the author doesn't plan to address:

https://github.com/facebookresearch/hydra/issues/514

[2022-08-19 15:24] daavoo commented on #8151
I guess the thing is that the restriction of `-` is currently embedded in the grammar rules, no matter where it is used.
Allowing `-` in some cases but not in others would require new rules.

We could explain our use case and see if it makes a difference or there is an alternative for us.

[2022-08-19 16:43] dberenbaum commented on #8141
As @pmrowla, this is intentional because:

1. It's often less confusing to have an empty table in the metrics section of a report than nothing at all. At least it's clear the command worked and output something.
2. It's easier to work around it this way than vice versa. You can at least check if there's any output from `dvc metrics diff` and only do `dvc metrics diff --md` if there is some output.

[2022-08-19 17:10] #8141 closed

[2022-08-20 06:17] xihajun commented on #8058
Thanks for all of this. May I kindly ask if we went back to version `2.11.0`, will we still have the same issue?

[2022-08-20 18:25] trancenoid opened #8155 "Get experiment run id or hash in python API"
I want to get some run id or exp run hash so that I can name my results and models in a more meaningful and retrackable way. I cannot find anything related to this and would like to request if this can be added to the python api

[2022-08-22 07:33] daavoo commented on #8155
Hi @trancenoid ! Could you give some additional details on what you would like to do with the API?

[2022-08-22 07:34] daavoo commented on #8155
Note that you can give custom names to experiments using https://dvc.org/doc/command-reference/exp/run#-n

[2022-08-22 07:41] trancenoid commented on #8155
I cannot find any way to programmatically fetch the run name (through the python API https://dvc.org/doc/api-reference ) ; So if there is a function in the API to get the name of the current run-id (either manually specified as you said or auto-hashed id), I can use it to name/tag the files generated in that run.

[2022-08-22 07:47] JohnTheDeere commented on #5800
Hi @dberenbaum, this is what my dvc.yaml looks like. In data_load I turn the raw data into PyTorch train/test data loaders. In the train stage I then train the model. Should be pretty straightforward?

[code]