[2019-03-08 12:00] pared commented on #1552
@ei-grad  Would you mind assigning this one to yourself? Solving #1688 should solve this one too.

[2019-03-08 12:08] Qsi1984 opened #1701 "No Such File Error if using ssh remote on windows"
Hi

Since the Update to Version 0.30 I can't use my ssh remote anymore.
dvc pull and dvc status -c gives me a "No Such File"-Error. I was able to find the problem in the new ssh-remote-implementation of version 0.30:
https://github.com/iterative/dvc/blob/master/dvc/remote/ssh/connection.py#L131
This line of Code constructs a path to use on the ssh-server using os.path.join which is platform-depend

[2019-03-08 12:10] pared commented on #1640
@dmpetrov @shcheklein @efiop What do you think?

[2019-03-08 12:12] pared commented on #1701
Hi @Qsi1984! That definitely seems like a bug, thanks for sharing!

[2019-03-08 12:20] efiop commented on #1109
@shcheklein yep, it does work now. @tdeboissiere Please give `dvc run --wdir` a try and see if it works for you. The test script from above works for me now.

[2019-03-08 12:33] piojanu opened #1702 "A mistake in `dvc run --metrics` documentation"
Hi!

First of all, thank you for developing such a great tool. I'm just starting using it, but it seems to be incredibly useful (to this moment I had massive chaos in my files).

I was reading the documentation (which is great too) when I spotted a mistake I suppose. The description of `-m, --metrics` param of `dvc run` [command](https://dvc.org/doc/commands-reference/run) says near the end:

But

[2019-03-08 13:30] efiop commented on #1643
@pared I agree, migrating to tqdm is a separate task, unless our current progress bar is not suitable for the current task and tqdm is.

Have you tested that though? If recent progress bar changes didn't break anything, it should print info() cleanly if we are during progress bar print and start progress bar over. It is hard to explain in words, need to try and see :) Basically, it looks like prog

[2019-03-08 13:42] efiop commented on #1640
@pared No need to bother with that right now. The PRs you have submitted to the job perfectly. We use relpath in most(if not all) other places for stages anyway. If we'll find something wrong, we'll fix it later. Thanks! 🙂

[2019-03-08 13:45] efiop commented on #1701
We don't currently test ssh remote on windows in our CI, so that is why we didn't catch it right away. We definitely should've used posixpath there, as we do in other parts of that driver.

[2019-03-08 13:46] efiop commented on #1701
Also, @Qsi1984 if you are so deep in the code already and fixed it for yourself, would you mind contributing a PR too? 🙂

[2019-03-08 13:49] efiop commented on #1702
@piojanu Great catch! Indeed, it is an error. Thank you for the feedback!

[2019-03-08 16:17] Qsi1984 commented on #1701
I sadly won't have time to setup a dev-environment for dvc the next couple days.
But in my opinion the change is just to replace the mentioned code-line with
`            path = posixpath.join(directory, entry.filename)
`

[2019-03-08 18:36] dmpetrov commented on #1487
@shcheklein I mentioned briefly that git submodules won't work partially because of (2.4).

I expect (2.4) to be a part of the `pkg` command. Something like `dvc pkg https://github.com/dmpetrov/tag_classifier` for importing all data files in your dir (through a DVC file and DVC cache) and `dvc pkg --flat https://github.com/dmpetrov/tag_classifier` for importing data file as a regular file (with no

[2019-03-08 19:29] shcheklein commented on #1701
@Qsi1984 btw, I think there is no need to setup a dev env for that, just open the file on github, click an edit button on the top and will create a fork and PR for you. No need even to do a clone in such a simple case.

[2019-03-08 19:57] Qsi1984 commented on #1701
Ah didn’t know that this is enabled. Done.

[2019-03-08 19:58] shcheklein commented on #1701
@Qsi1984 yep, Github gives a super simple interface sometimes :) Thanks a lot, we'll review and merge asap!

[2019-03-08 23:51] efiop opened #1704 "test: enable ssh test on windows"
Currently we don't test ssh on windows. Need to enable it and setup env on appveyor. See https://github.com/iterative/dvc/issues/1701 that we didn't catch.

[2019-03-08 23:53] efiop commented on #1701
Thank you @Qsi1984 ! I've created https://github.com/iterative/dvc/issues/1704 to track progress on enabling ssh test on windows, so that we catch such bugs in time.

[2019-03-09 01:05] mroutis commented on #1697
Thanks, @efiop !

[2019-03-09 01:10] mroutis commented on #1493
@shcheklein , I don't think is relevant anymore, if so, feel free to reopen with more details.

[2019-03-09 01:10] #1493 closed

[2019-03-09 01:19] mroutis commented on #1568
Interesting fact: [SHA-1 is also broken](http://people.csail.mit.edu/yiqun/SHA1AttackProceedingVersion.pdf)

[2019-03-09 02:13] shcheklein opened #1705 "Improve `dvc pull` recursive option UX"
From discord: https://discordapp.com/channels/485586884165107732/519377613110902784/553649896264040505

And the follow up:

[code]

[2019-03-09 02:15] shcheklein commented on #1705
I would check and implement the same warnings if needed for other commands that accept DVC files and sometimes directories (`metrics show -R`?). At least in case when -a or -T are not specified it should print a warning if path is not a directory?

[2019-03-09 08:56] sotte commented on #1092
Thanks, I'll give it a try.

[2019-03-09 10:35] eliorc opened #1706 "dvc run's auto-add functionality misplaced directory .dvc file"
**Setup information**
DVC version: 0.30.1
Platform: Ubuntu 18.04
Method of installation: pip

When using `dvc add` to track a directory, a `.dvc` file will be added under that directory, which is the expected behaviour

For example, `dvc add data/test` (`test` is a directory) has resulted in a `data/test.dvc` file.

But when you use the auto adding functionality of `dvc run`, the resulting `.dvc`

[2019-03-09 11:27] piojanu commented on #1667
In what version can we expect this fix? In v0.30.1 `dvc repro --force --ignore-build-cache <name.dvc>` still don't run commands, just checkout files from cache.
I've tried @prihoda test too. It still doesn't force reproduce.

[2019-03-09 11:36] nicolalandro commented on #1696
I Ask for FTP beacuse I can find FTP free solution easily, so it is possible to use in a free environment for study that can be near to a production.

[2019-03-09 19:17] shcheklein commented on #1706
Hi, @eliorc does `-f` (and potentially using `wdir` as well) solve the problem for you? In your case, you can do something like this:

[code]

[2019-03-09 21:54] efiop commented on #1667
@piojanu Did you try upstream version? Or do you mean 0.30.1? We'll release a new version later today.

[2019-03-09 22:00] efiop commented on #1696
@nicolalandro What do you mean by "free" though? Could you please share more info about your scenario?

[2019-03-09 22:57] gregfriedland opened #1707 "UNIQUE constraint failed: state.inode"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

Version is ```0.30.1+3c659b``` although I've also tried ```0.30.1```. Installed with pip3 on python 3.6.7

Hello,
I'm getting the above error message when running a fairly simple `dvc run`.  I had previously run `dvc

[2019-03-09 23:07] #1356 closed

[2019-03-10 03:45] shcheklein commented on #1707
@gregfriedland hi, do you have an existing DVC stage file `test.dvc` (when `dvc run` fails)? do you mind sharing it with us, please?

[2019-03-10 03:50] shcheklein commented on #1707
also, could you run please `ls -la ./train/`?

[2019-03-10 03:51] shcheklein commented on #1707
I'm just wondering why is it trying to insert a checksum for the cache dir itself `Path /tmp/dvc_cache inode 519743`.

[2019-03-10 03:56] shcheklein commented on #1707
I think the bug itself with the failing UNIQUE CONSTRAINT is that in `get_state_record_for_inode` we don't aplly `self._to_sqlite(inode)` before running the check. @efiop can confirm that. But even with that I don't quite understand what's happening here. Would be great if you could share a sequence of steps to reproduce it from the very beginning.

[2019-03-10 04:56] gregfriedland commented on #1707
Thanks for your reply.

To answer your questions:
1. No, there is no existing `test.dvc`
2. There was nothing of note in that directory. I can't share the contents, but it's all regular files plus `.` and `..`
3. Sure, I was able to reproduce it:
`dvc destroy`
`dvc init`
`dvc run --remove-outs --overwrite-dvcfile  -f test.dvc -d train "python -c 'print()'"`
no issues.
`dvc run --remove-outs --over

[2019-03-10 10:16] nicolalandro commented on #1696
I want to deploy it on Heroku, in order to be visible to other people, but I train the model from my machine. I should use free ftp server for example altervista, and from heroku I can read and show, serving it to the people I want, without spend money (There are some limitation but is only study case).

[2019-03-10 12:40] piojanu commented on #1667
You, I mean 0.30.1 from pip. It'll be on pip today?

[2019-03-10 14:53] efiop commented on #1707
@shcheklein Yep, that is precisely the cause. Great catch!

[2019-03-11 13:50] eliorc commented on #1706
Yeah, it does, and great to know

Though I believe the *expected* behavior of this scenario, is for the file to be created alongside the directory, wouldn't you agree?

[2019-03-11 15:08] bwalsh commented on #1476
@efiop Created a PR.  Unclear how to extend test work.   Will experiment with this on our system today.

[2019-03-11 16:56] gregfriedland opened #1710 "Advice on adding parallelism"
Hello,
First off, thanks for your work on this project! It seems very close to what I need for a project I'm working on at my company to build an automated, reproducible, versioned pipeline for training ML models to be used in our production workflows.

The only thing missing is parallelism, which we need because our model training takes up to 36h on an instance, and we have many of these training

[2019-03-11 18:32] shcheklein commented on #1706
@eliorc it's a good question indeed! Analogy with `dvc add` is a good one, but there is one difference there - you can specify multiple outputs in `dvc run` and it's not clear why should we put the DVC file along the first one. I think it was the reason for the current way of placing stage files by default, but @efiop can give you more context on this.

[2019-03-11 20:14] #1476 closed

[2019-03-11 21:27] mroutis commented on #1710
Hello, @gregfriedland !

A workflow that is currently supported for remote computing is to `dvc run` with `--no-exec` (to only create a stage file without actually running any command), then `ssh` into your remote _beefy_ instance with 128G of RAM, and run `dvc repro` to run the command. It is quite cumbersome, tho.

There's no current effort to tackle this, as far as I know.
For guidance, there's

[2019-03-11 21:56] siddygups opened #1711 "typo in docs"
super minor typo:

$dvc repro --help
 -c CWD, --cwd CWD     Directory within your repo to **reroduce** from.

dvc --version
0.30.1

[2019-03-11 22:13] shcheklein commented on #1711
@siddygups hi! thanks! could create a PR? You don't need to setup any environment for this - just open the https://github.com/iterative/dvc/blob/master/dvc/command/repro.py#L62 and click an edit button at the very top. You can edit right in-place and then create a PR :)

[2019-03-11 23:27] dmpetrov commented on #1710
Hi @gregfriedland

Thank you for the feature request! Yeah, a few people have already asked for parallel execution (like #755). It is a quite heavy feature (from the first glance) but we would be really happy to help with the implementation if you are interested in - to localize the scope, decompose this feature request to small ones and implementation. Please let us know if you are ready to commi

[2019-03-12 11:01] piojanu commented on #1667
When can I expect new version? Or how to install upstream version as currently I can't force reproduce my pipeline :(

[2019-03-12 11:14] piojanu opened #1714 "Add a way to suppress dvc changes to .gitignore"
At the moment, DVC make changes to the .gitignore after commands like `dvc add`. There are cases, like mine, where it's not needed as .gitignore already exclude whole directory where data is kept.
Add a configuration that allow to suppress dvc changes to .gitignore.

[2019-03-12 15:41] pared commented on #1632
At the beginning I was more toward exception, but I guess that it is not that important to break up everything if someone reuses metrics file name.

[2019-03-12 15:46] zb0th commented on #1499
I think an equally pressing issue is that having a large un-cached folder slows down dvc, as it needs to traverse the whole folder before executing any command.

[2019-03-12 20:04] jeremcs commented on #1675
I'd be glad to submit a patch !
I think resumable downloads are useful but I agree that it would be better to create another issue.

Regarding cleaning, I think just adding `os.unlink(tmp_file)` won't be enough. If the source of the download interruption does not come from the futures' thread (e.g. in the case of a `KeyboardInterrupt`), we cannot just stop the thread. In the specific case of Googl

[2019-03-13 01:47] mroutis opened #1715 "status: dependency on local cache"
**version**: 0.30.1

----

A [user on discord](https://discordapp.com/channels/485586884165107732/485596304961962003/555191347397525506) asked for an implementation of status to check whether a remote is synced without having any local cache.

Here's a reproduction script:

[code]

---

At first glance, it appears to be a bug / unexpected behavior, because requiring a `dvc pull` will always result

[2019-03-13 01:49] mroutis commented on #1715
@efiop , @dmpetrov : What are your thoughts on this one? is it a bug or is there a reason behind this?

[2019-03-13 02:54] yfarjoun opened #1716 "Prettify TSV metrics output"
When displaying TSV metrics output the printout is not readable:

[code]

I think it would be much eaier to read if a newline were added, and the remaining text were formatted as though it had been passed via `column -t`:

[code]

[2019-03-13 03:27] mroutis opened #1717 "updater: previous API is stale at 0.23.0 version"
We changed APIs in this commit: https://github.com/iterative/dvc/commit/f3171e1d47f75a52c64f604de0f5dcb7f1aeebe7#diff-46f89beba79f7dd721424b0f4ebb4349

Users that are running versions previous to `0.23.0` will not know about newer versions (like `0.30.1`).

I already sent an announcement on Discord, however, it would be great to let them know through the CLI.

[2019-03-13 04:28] shcheklein commented on #1717
I've update the latest lambda to 0.30.1 manually in the old AWS account.

[2019-03-13 04:28] #1717 closed

[2019-03-13 05:07] zb0th commented on #1048
I'm getting this error on dvc 0.30.1. In my case the dependencies are gs ones.

[2019-03-13 09:59] efiop commented on #1706
Hi @eliorc ! @shcheklein pretty much covered the reasoning :) Also, one more point is that your `dvc run` stages should have a meaningful name that describes what they do. E.g. `featurization.dvc`, at which point they are more of a part of your code than just a metafile for the output.

[2019-03-13 10:03] pared opened #1718 "Add description for apt package"
As described by user:
https://discordapp.com/channels/485586884165107732/485598848111083531/555327757475905546

We should write some description for our apt package.

[2019-03-13 10:04] #1707 closed

[2019-03-13 10:07] efiop commented on #1714
@piojanu I guess what we should do is check whether or not the data is already ignored by git and if it is then just not add it to yet another gitignore. Does that make sense for your scenario?

[2019-03-13 10:12] efiop commented on #1718
For the record: Just need to use `--description` in our fpm command in https://github.com/iterative/dvc/blob/master/scripts/build_posix.sh .

[2019-03-13 10:14] efiop commented on #1667
@piojanu Sorry for the delay. Will try to release it today. Thanks for the feedback!

[2019-03-13 10:43] efiop commented on #1675
@jeremcs You are right about `os.unlink`, I've totally missed it. Your patch looks really good! :slightly_smiling_face:  One thing to note is that it should actually use tmp_fname from #1678 to generate tmp fnames. Mind submitting a PR so we could proceed with it?

[2019-03-13 10:45] efiop commented on #1715
@mroutis This is actually a direct result of #1677 . Fix for it is coming in https://github.com/iterative/dvc/pull/1690 by @pared .

[2019-03-13 11:33] eliorc commented on #1706
I understand, the multiple output case is a good reason

[2019-03-13 11:47] #1640 closed

[2019-03-13 11:59] #1641 closed

[2019-03-13 13:32] pared commented on #1706
@eliorc can we close this issue?

[2019-03-13 13:47] piojanu commented on #1714
Hmm. You would have to check if e.g. whole directory, that the file is in, isn't ignored already. Then it would do fine.

[2019-03-13 15:26] efiop commented on #1714
@piojanu Sure. There is actually a `git check-ignore` command, which we could utilize, unless there is a more straightforward way in GitPython.

[2019-03-13 15:28] efiop commented on #1667
@piojanu 0.31.1 is out. Please feel free to upgrade and give it a try. Thanks for the feedback!

[2019-03-13 15:31] efiop commented on #1714
@piojanu Ok, there is actually a `repo.git.check_ignore()` supported already. So basically all we'll have to do is to add a check for it to `Git.ignore()` in https://github.com/iterative/dvc/blob/master/dvc/scm/git.py#L76 . Would you like to submit a PR for it? :slightly_smiling_face:

[2019-03-13 16:52] #1677 closed

[2019-03-13 16:52] #1715 closed

[2019-03-13 17:41] mroutis opened #1721 "stage: translate `wdir` correctly to a POSIX path"
**version**: 0.30.1

----

If you generate a stage file on Windows, the `wdir` path would be separated by backslashes, breaking compatibility with OS that uses POSIX paths, `..\..`

Change would be:
[code]

[2019-03-13 20:22] #1699 closed

[2019-03-13 20:32] denfromufa opened #1722 "Error: not a dvc repository (checked up to mount point '"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

`pip install git+https://github.com/iterative/dvc -U --user`

Following tutorial:

https://dvc.org/doc/get-started/configure

`dvc remote add -d dvc_remote /data/gs/hp/dvc_data`

Error: not a dvc repository (checked

[2019-03-13 20:33] denfromufa opened #1723 "Error: not a dvc repository (checked up to mount point ...)"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

`pip install git+https://github.com/iterative/dvc -U --user`

Following tutorial:

https://dvc.org/doc/get-started/configure

`dvc remote add -d dvc_remote /data/gs/hp/dvc_data`

Error: not a dvc repository (checked

[2019-03-13 20:33] #1722 closed

[2019-03-13 20:36] pared commented on #1723
Hi @denfromufa did you run `dvc init` beforehand?

[2019-03-13 20:52] denfromufa commented on #1723
My bad: I was in the parent directory, not the directory for dvc repo. But the error message may be improved I guess.

[2019-03-13 20:53] denfromufa commented on #1723
`git init` was done properly

[2019-03-13 20:55] efiop commented on #1723
@denfromufa Glad it works now :) How do you think we could improve that error message, though?

[2019-03-13 20:57] denfromufa commented on #1723
The current directory is not dvc directory. I was thinking that the remote is not dvc directory and hence got confused. Also because of testing I used the same local disk mount for both.

[2019-03-13 21:05] efiop commented on #1723
@denfromufa I see. How about something like `Error: current directory is not a dvc repository (checked up to mount point '/data/gs')`? What do you think?

[2019-03-13 21:11] denfromufa commented on #1723
Thanks for quick response, I hope this is an improvement

[2019-03-13 21:17] #1723 closed

[2019-03-13 21:19] efiop commented on #1723
@denfromufa Thanks for the feedback! :slightly_smiling_face:  We'll release a new version with the updated msg soon.

[2019-03-13 21:44] pared opened #1724 "progress: use `logger.info()` instead of `print()`"
Progress bar writes directly to `sys.stdout`, logger does not.
Need to make progress bar use `logger.info()` instead of `print()`

[2019-03-14 06:49] #1706 closed

[2019-03-14 09:13] Qsi1984 commented on #1701
Can someone reopen this issue? It still doesn't work on windows (See: https://discuss.dvc.org/t/ssh-login-failed-after-upgrading-version-0-24-3-0-30-1/127/6?u=qsi)
The problem is in upload/download of connection.py (eg. here: https://github.com/iterative/dvc/blob/fdf2b1c01635bbe30f5c3a0bbca0bfa135d2ecb5/dvc/remote/ssh/connection.py#L151) the use of posixpath and os.path is mixed up. In the mention

[2019-03-14 09:55] efiop commented on #1701
Fixed by #1725

[2019-03-14 09:55] #1701 closed

[2019-03-14 10:33] prihoda opened #1727 "dvc status fails when printing list of strings"
With commit ac27b4076a2216fe78d5c33f37718edde27a9d00 this code was removed from status command:
[code]
It's actually needed since a list is printed by sending each element back into `_show`:

[code]

Now the command fails on asserting that status is not a dict.

[2019-03-14 10:48] efiop commented on #1727
@prihoda Great catch! Removed it since i didn't notice it being used and covered by any test :slightly_frowning_face: Reverted that commit for now. Really need to work on our test coverage :(

[2019-03-14 10:51] efiop commented on #1727
Will leave it open until the test is merged.

[2019-03-14 14:08] piojanu commented on #1667
Hmm, `pip install -U dvc` doesn't upgrade it. How to upgrade then?

[2019-03-14 14:10] efiop commented on #1667
@piojanu Try uninstalling it manually with `pip uninstall -y dvc` and installing again with `pip install dvc` and see if that works. Please let us know if that worked for you or not.

[2019-03-14 14:10] piojanu commented on #1714
I'd love too, but for now I have very little time to sit down to it.

[2019-03-14 14:12] efiop commented on #1714
@piojanu No worries :) We'll try to get to it when we have time then. Thanks for the feedback! :slightly_smiling_face:

[2019-03-14 14:19] piojanu commented on #1667
Oh sorry, my bad. I've tried it on my local machine, where I've installed dvc using homebrew 😮 `brew upgrade dvc` works like charm 👍

I've also upgraded it on my remote machine (linux) and version number printed by `dvc --version` is strange: `0.29.0+220b4b.mod`. It is some development version right? It's strange because pip prints that it installed `dvc-0.31.1`.
I thought that it might be because

[2019-03-14 14:24] efiop commented on #1667
@piojanu Yes, `0.29.0+220b4b.mod` is definitely a dev version. I would guess that you have a few instances installed there through different ways(e.g. pip, binary package, etc). So you need to clean everything up, and then install a new version.

[2019-03-14 17:58] gregfriedland commented on #1710
Thanks for your responses.

The main issue I see with the suggested approach is that then I need to
write my own orchestrator to run all these pipelines and it gets tricky if a pipeline step depends on the results of `n` other pipelines.

Thanks for your offer to help break down the tasks. After thinking about it more, I think `dvc`'s pipelines may not be the best choice for my application since t

[2019-03-14 17:58] #1710 closed

[2019-03-14 19:53] mroutis opened #1729 "cli: add links to DVC's documentation in each command help string"
[code]

[2019-03-14 20:56] #1721 closed

[2019-03-14 21:30] mroutis commented on #329
@efiop , @dmpetrov what do you think about reopening this one?

We don't have a `Path` class right now, but it will be useful to have more than just `os.path`, as it is not that easy to work between windows and posix.

From the `pathlib` documentation:

I think Path objects are more useful than strings for filesystem manipulation, but before working on a PR, I would like to hear more about why do

[2019-03-14 21:31] mroutis opened #1730 "tests: add a functional test for `dvc run --wdir`"
https://github.com/iterative/dvc/pull/1728/files#r265756705

[2019-03-14 21:40] mroutis commented on #329
@pared , @ei-grad , your input would be appreciated, as it is something that would affect the way we interact with the code

[2019-03-14 21:44] efiop commented on #329
@mroutis This would not be a simple change and I don't think it is worth bothering with at this point. Migrating to Pathlib is very low priority.

[2019-03-14 22:03] mroutis commented on #329
All right, @efiop , closing it again.

[2019-03-14 22:03] #329 closed

[2019-03-14 22:47] dmpetrov commented on #329
Agree with @efiop - it is not easy to migrate and I don't see any good reason to use specifically `pathlib`.

However, I disagree about the Path class. I think we lost an important abstraction level when we removed Path class. It was a great abstraction for converting absolute path, relative path as well as dvc paths (relative to project root). As a result we have custom code spread across the pro

[2019-03-14 23:07] mroutis commented on #329
@dmpetrov what improvements would our custom Path class bring compared to using pathlib's class? Sounds interesting.

Maybe we can come up with something like https://github.com/chrono-meter/urlpath for protocols

[2019-03-14 23:13] shcheklein commented on #329
I'm in for at least abstracting path arithmetics out. I think we can start doing this gradually as we are closing issues to mitigate the migration complexity @efiop has mentioned. From what I see now - it's too error prone to do this manually in many places.

As for hdfs/http, etc. I think @mroutis is right and it's probably better call it Uri. My intuition is that this class will have a lot of DV

[2019-03-15 00:11] mroutis opened #1731 "metrics: deprecate hcsv and htsv in favor of "header: true""
`.hcsv` and `.htsv` aren't standard well-known file extensions, and it is hard to tell what's going on without reading the documentation:

[code]

This would require to add the following flag: `dvc metrics modify --header file.csv`

[2019-03-15 00:53] mroutis opened #1732 "scripts: update completion scripts for bash and zsh"
Files are located in: https://github.com/iterative/dvc/tree/master/scripts/completion

There are some missing flags and maybe some commands that weren't contemplated when the scripts were written.

Any other improvements are more than welcome :)

[2019-03-15 20:10] PeterFogh commented on #1654
@efiop, Is this feature suited for a pull request? Because this is the one feature I need the most. Any recommendations on how to begin on the feature implementation for SSH remote, such as code files, class, function, etc?

[2019-03-15 20:53] efiop commented on #1654
@PeterFogh I have a patch for supporting it for all remotes lying around in a half-completed state. Let me see if I can speed it up.

[2019-03-15 21:56] PeterFogh commented on #1654
@efiop, that sounds great. I’m just in the mood for contributing to a open source project this weekend😁 maybe I can find an other (and maybe more simple) issue.
I’m looking forward to seeing your solution for this one.

[2019-03-15 22:05] efiop commented on #1654
@PeterFogh Sorry for stealing it :) Please take a look at `help needed` and `good first issue` labels on our issues list if you still feel like contributing 🙂 Let me know if you need any suggestions.

[2019-03-16 14:37] piojanu commented on #1667
I've installed it just with pip, but in two virtualenvs. I'll try to sort it out later.

[2019-03-16 15:45] PeterFogh commented on #1614
Hi @shcheklein and @efiop, it was nice to see you all during our video call last Monday. I could understand that my team' use of DVC with Dask was not intuitive to you and as a result, I have created this repro, https://github.com/PeterFogh/dvc_dask_use_case explaining the setup and it contains an example of a DVC pipeline using remote computation with Dask.

I'm not sure if you can use the Github

[2019-03-16 19:48] yfarjoun commented on #120
Conda seems to have better support for creating identical and consistent environments on different platforms. For example, my development env is OSX (my laptop) but production is Ubuntu linux. I need to make sure that there are no differences in the packages installed on the two environments and that I am able to easily spin up a new machine with the same packages...

[2019-03-17 00:01] mroutis commented on #1685
Fixed by @pared on the following patch https://github.com/iterative/dvc/pull/1673

[2019-03-17 00:01] #1685 closed

[2019-03-17 08:11] PeterFogh opened #1735 "More error information is needed wrt. remote files - [Errno 2] No such file"
**Setup**
`dvc --version` = 0.32.1+db5a0 and local and remote server uses ubuntu 18.04.2. For method of installation see https://github.com/PeterFogh/dvc_dask_use_case.

**Problem**
When remote files (via SSH in my case) are missing when running `dvc repro`, because `dvc checkout` have not been performed, yet. DVC puts out the following error message: `Error: failed to reproduce '[DVC_STAGE_FILE]'

[2019-03-17 12:16] PeterFogh opened #1736 "`python -m tests` do not execute tests as contribution guide says."
**Please provide information about your setup**
dvc --version = 0.32.1+db5a0 and local and remote server uses ubuntu 18.04.2.

**Problem**
It's my first time contributing to DVC - or any other open source for that matter. I'm trying to run the test as described in your contribution guide https://dvc.org/doc/user-guide/contributing#running-tests. However, the command `python -m tests` do not execut

[2019-03-17 12:24] efiop commented on #1736
@PeterFogh Hm, that is strange. Are you running them from the root of dvc project?

[2019-03-17 12:36] PeterFogh commented on #1736
@efiop, I'm running them from the root of the repository folder, so yaah the root and not from `/dvc/dvc/`

I'm using Conda as the environment, but most packages are installed with PyPi  - nose==1.3.7

Additionnaly, this `--exe` creates alot of `.coverage.[PC_NAME]` files - is that to be expected?

[2019-03-17 12:47] efiop commented on #1736
@PeterFogh Hm, could you please show `ls -la tests/` output? Maybe there is something weird about the mount point that you are using and it has weird permissions on it (e.g. +x for some reason).

Yes, that is expected. Those are coverage reports that will get combined in the end, after the testing is done, and all the .coverage* will be removed.

[2019-03-17 12:56] PeterFogh commented on #1736
Here you go - the output of ` ls -la tests/` [ls_test.txt](https://github.com/iterative/dvc/files/2975154/ls_test.txt)

Okay, thanks for the explanation :)

[2019-03-17 13:02] efiop commented on #1736
@PeterFogh

[code]

Are you running everything from root? Or did you just mount that partition as root and then did `chmod 0777 -R` on it? So that is the problem with your setup and that is why `--exe` is needed in your case, as it allows running tests that have exec permissions set on them.

[2019-03-17 13:08] PeterFogh commented on #1736
ohh.. Okay, I'm running everthing a root, as I'm using Windows Subsystem for Linux (WSL).
I guess that I just have to continue using `--exe`?

[2019-03-17 13:19] efiop commented on #1736
@PeterFogh I see. I guess it is not the last time we see this problem then :slightly_smiling_face: Would you be so kind to add `--exe` to `tests/__main__.py` with a comment about it, please? :slightly_smiling_face:

[2019-03-17 13:38] PeterFogh commented on #1736
@efiop, Okay, "jobs done" - #1738

I'm just e bit trubbeled by the argument documentation:
"
 --exe
Look for tests in python modules that are executable.
**Normal behavior is to exclude executable modules,
since they may not be import-safe [NOSE_INCLUDE_EXE]**
"
Do you still think adding the `--exe` as defult is a good idea?

[2019-03-17 13:49] efiop commented on #1736
@PeterFogh Thank you! :slightly_smiling_face:

Usually, I would rather not add this flag, since it is related to a particular incorrect workspace setup. But since it is done that way in WLS, which is something that people use, then rather than creating obstacles for new contributors in the future, we might as well just add this flag, especially since we don't have any not import-safe tests anyway.

[2019-03-17 13:50] #1736 closed

[2019-03-17 15:18] mroutis opened #1739 "repro: cwd vs wdir option inconsistancy"
Does `dvc repro` still supports the `CWD` option?

[code]

[2019-03-17 15:30] mroutis opened #1740 "repro: showing metrics is not working"
There's currently a `--metrics` option to show the metrics after reproduction, but it isn't showing anything.

[code]

[2019-03-17 15:31] efiop commented on #1739
@mroutis yes, it does. It is not the same as `dvc run -c` though, so it is not obsoleted :slightly_smiling_face:

[2019-03-17 16:37] #1698 closed

[2019-03-18 14:18] efiop opened #1743 "pipeline: show: dot: check that user doesn't accidentally write to dvc file"
Two users on discord https://discordapp.com/channels/485586884165107732/485586884165107734/557205072971431957 accidentally corrupted their dvc files by using `dvc pipeline show --dot my.dvc`.

[2019-03-18 14:28] efiop opened #1744 "pipeline: show: outs: improper DAG"
See https://discordapp.com/channels/485586884165107732/485586884165107734/557205322641702912 . We should connect outputs to dependencies here https://github.com/iterative/dvc/blob/0.32.1/dvc/command/pipeline.py#L70 instead of connecting all outputs to all outputs of a dependant stage.

[2019-03-18 14:33] mhham commented on #1568
FYI Git [is currently transitioning to SHA256](https://stackoverflow.com/a/47838703)

[2019-03-18 17:43] mroutis commented on #1739
@efiop, got it, it is related to: https://github.com/iterative/dvc/issues/401

TLDR: same as `make -C`

[2019-03-18 17:43] #1739 closed

[2019-03-18 18:25] mroutis commented on #1743
@efiop , should it be better to actually `show` (print to stdout) the content instead of writing it to a file?

It can work like `dvc pipeline show --dot my.dvc > my.dot`

[2019-03-18 18:29] mroutis commented on #1568
@mhham , it looks like `sha256` is quite slow :disappointed:

[code]

[2019-03-18 18:32] mroutis commented on #1568
Also, another alternative: https://fastcompression.blogspot.com/2019/03/presenting-xxh3.html

[2019-03-18 19:08] efiop commented on #1743
@mroutis Agreed :)

[2019-03-18 21:04] tfenne commented on #120
I agree with @yfarjoun.  There are a few reasons why it would be really nice to have a recipe for dvc in one of the main conda channels:

1. Convenience.  In my projects I prefer to create reproducible environments with conda.  While one can obviously install packages using `pip` into an environment created by `conda` that's both significantly less convenient (and more awkward to automate) and mak

[2019-03-18 21:14] efiop commented on #120
@yfarjoun @tfenne Thank you guys for all the feedback! We really appreciate it! Reopening this issue :slightly_smiling_face:

Guys, btw, could you elaborate on why is using
[code]
in your conda env not reproducible?

[2019-03-18 21:26] tfenne commented on #120
Thanks @efiop.  This is essentially the strategy I'm using, but it's a bit more complicated than that.  What that section actually ends up looking like is more like this:

[code]

... because without pinning the versions of all the dependencies, it's hard to guarantee reproducibility.  Currently this is working because where `dvc` requires a package that is previously installed by conda (in my env

[2019-03-18 23:53] efiop opened #1746 "metrics: show: investigate error"
https://discordapp.com/channels/485586884165107732/485586884165107734/557279967465963540

[2019-03-19 01:39] mroutis opened #1747 "cache: dir option is not working correctly"
version: `0.32.1`

-----

It raises an error when using the command:
[code]

[2019-03-19 01:48] mroutis commented on #1747
Is there any reason to have the `dir` subcommand after `cache`?

[2019-03-19 01:58] mroutis opened #1748 "tests: python -m tests is not working on Python 2.7"
I use python2 as in my development environment (to maintain compatibility with every feature)

[code]

[2019-03-19 02:08] mroutis commented on #1748
My bad, need to run `pip install -r tests/requirements.txt` again to have the following plugins:

[code]

[2019-03-19 02:08] #1748 closed

[2019-03-19 02:31] mroutis commented on #1689
@pared , I think this related https://github.com/iterative/dvc/issues/1643 I'll unassign me

[2019-03-19 09:46] efiop commented on #1515
Reopenning. This is an issue with SIP on mac, we might be able to workaround it by using a direct path to libc. https://discordapp.com/channels/485586884165107732/485596304961962003/557499161671368706

[2019-03-19 10:43] nicolalandro commented on #1696
@efiop

[2019-03-19 12:38] efiop commented on #1696
@nicolalandro So sorry, notification got lost in the flow :slightly_frowning_face:

Great point! We'll take a look at it in the future. If you'd like to contribute a patch for this yourself, it is pretty simple, please take a look at `dvc/remote/ssh` as an example and let us know if you need any help. :slightly_smiling_face:

Thank you for the feedback!

[2019-03-19 13:45] ei-grad commented on #1696
Just my 50 cents - both Google Cloud Storage and Amazon S3 have free 5Gb usage tier. Amazon's is limited up to 12 month, but Google's is not - https://cloud.google.com/storage/pricing-summary/:

[2019-03-19 13:52] ei-grad commented on #1696
Also, Heroku has https://elements.heroku.com/addons/cloudcube with free 5Mb plan, if it could be enough.

[2019-03-19 14:10] efiop commented on #1696
@ei-grad Great point! :slightly_smiling_face:

[2019-03-19 14:37] efiop commented on #1555
For the record: current workaround would be
[code]

[2019-03-19 15:55] efiop commented on #1515
@dmpetrov Are you still able to reproduce that issue? If you are, could you try out my fix, please? Basically run this script:
[code]

[2019-03-19 16:30] ei-grad opened #1751 "Stage.stages filter_dirs performance"
There is a problem with filter_dirs implementation, it actually could make the things slower if there are many outs.

[code]
Running it in a loop over the list of dirs results in the computational complexity of `O(num_dirs * num_outs)` and it could be reduced by using `set` to store outs and checking that it contains path or any of its parents.

[2019-03-19 16:58] shcheklein commented on #1747
If understood the essence of the question correctly, the reason for this is that `cache` has multiple configuration options - dir, type, etc. For now we exposed only one through this wrapper, but later we may decide to support `dvc cache type` for example.

[2019-03-19 17:06] shcheklein commented on #1696
@nicolalandro will any of these free options @ei-grad mentioned work for you?

[2019-03-20 01:30] #1657 closed

[2019-03-20 09:04] ei-grad opened #1753 "Logging: the python way"
Here are some concerns about the current `dvc/logger.py` usage and implementation:
1. it doesn't provide the lazy evaluation/formatting for messages which wouldn't be printed due to logging level filter
2. `parse_exception` thing in warning is the duplicate of standard `exc_info=True` behavior
3. usage of Formatter to colorize the output would make it more clean and customizable
4. `progress_aware

[2019-03-20 09:42] efiop commented on #1753
Great points @ei-grad ! Thank you! :slightly_smiling_face:

1. Could you please elaborate on this one?

2. exc_info doesn't work with our custom chained exceptions(see `cause` in dvc/exceptions.py and _walk_exc in dvc/logger.py) on python2 though, so we walk those ourselves, hence a special option. Or is your point about the naming itself?

3. Great point!

4. Great point as well! :slightly_smilin

[2019-03-20 10:22] efiop commented on #1214
Probably should look something like:
[code]
which would add something like
[code]
to the dvc file for ckpt output, so that `dvc repro` knows about it.

[2019-03-20 10:36] bayethiernodiop commented on #1599
Thanks for this thread. I feel little dumb :( cause i was thinking that there is no way that someone could want to prefer option 2 (I wasn't even thinking of it) cause i am new to DVC and just trying to understand it.
Doing the first examples i didn't see any use case that wouldn't prefer option 1 (doing just data versioning and script changing) i was thinking that it would be better to protect fi

[2019-03-20 11:39] #1643 closed

[2019-03-20 12:19] ei-grad opened #1754 "git hook: 'import dvc' fails"
The `import dvc` fails on `_update_version_file` if it is run from the pre-commit  git hook. The `_update_version_file()` function is called if dvc is installed in editable mode (with `pip install -e`) and during the `python -m tests` run.

### Steps to reproduce

1. checkout the branch with fixed TestInstall testcase - https://github.com/ei-grad/dvc/tree/test-install
2. run `python -m tests tests

[2019-03-20 12:33] ei-grad commented on #1754
Hm... I couldn't reproduce it with the clean `pip install -e` environment, there is a second condition to execute the `git.commit` via GitPython, and it only taking place in tests run and syntetic case like this:

[code]

[2019-03-20 14:50] efiop opened #1755 "dvc: handle error for unsupported external deps/outs"
See https://discordapp.com/channels/485586884165107732/485596304961962003/557935811761537044 . I.e., when importing from unsupported scheme (e.g. azure), user gets
[code]

which is a bad way to handle this error.

[2019-03-20 15:01] Ngoguey42 opened #1756 "DVC commands hanging forever"
When launching a command such as `dvc status` or `dvc pull`, the command seem to hang forever.

# My setup
[code]

# My repo that was initialized with DVC 1 month ago
[code]

# Try again from scratch
[code]

EDIT:
My s3 bucket is up
[code]

[2019-03-20 15:54] efiop commented on #1756
Hi @Ngoguey42 !

Thanks for such detailed info! :)

That is the full log of `dvc status -v`, right? And does interrupting(e.g. CTRL+C) it work? If it does, could you show the error log in which it results?

Thanks,
Ruslan

[2019-03-20 16:07] nickconIO commented on #1187
Had this error message as well.

How was the key generated?

If done without specifying the output as a PEM file, Paramiko can raise issues. More info here:
[https://github.com/paramiko/paramiko/issues/1313](url)

Hope this helps!

[2019-03-20 16:28] bayethiernodiop commented on #1732
gonna try to work on this in my spare time(little busy though)

[2019-03-20 16:32] shcheklein commented on #1732
@bayethiernodiop that would be great! @mroutis do we want to reassign it then?

[2019-03-20 16:43] ei-grad commented on #1756
@efiop is there any performance testing or benchmarks for different dvc repo sizes? any issue for it? it seems quite critical as of my point of view

[2019-03-20 16:48] efiop commented on #1756
@ei-grad It is quite important, but it has little to do with this issue. And no, we don't have any set up framework/benchmark for different dvc repo sizes.

[2019-03-20 17:03] efiop commented on #1756
Discussed this with @ei-grad in PMs and he is right, I didn't notice that @Ngoguey42 has 50K dvc stages in his dvc project. So it is most likey repo size related issue. Great catch @ei-grad ! :slightly_smiling_face:

[2019-03-20 17:33] efiop commented on #1756
@Ngoguey42 For how long did you let it run? If it is what we think it is, it will probably come to senses eventually.

[2019-03-20 18:57] shcheklein commented on #1756
@Ngoguey42 just out of curiosity, if have 5 minutes, could you also briefly describe your use case please? It's just not a common thing for us to see 50K dvc stage files :)

@ei-grad thanks!

[2019-03-20 21:10] dmpetrov commented on #1753
I can add that naming is not perfect. It is not `logger` actually. It is kind of outputted or something.

Also, in this class we have output\printing functions as well as logging functions (like printing SQL queries to SQLite) together. We can think of separating these two feature sets.

[2019-03-20 23:09] J0 commented on #1729
Hey @mroutis can I take this issue?

[2019-03-20 23:13] #1711 closed

[2019-03-20 23:17] J0 commented on #1714
Hey @efiop and @piojanu. I can work on this after work tonight. Do you mind if I take this issue?

[2019-03-20 23:17] efiop commented on #1729
Sure @J0 ! Go right ahead! :slightly_smiling_face:  Thanks for the heads up!

[2019-03-21 01:07] efiop commented on #1714
Hi @J0 ! Sure! Thanks a lot for looking into it! Let us know if you need any help and/or have any questions. :slightly_smiling_face:

[2019-03-21 09:34] Ngoguey42 commented on #1756
Thank you all for your quick answers.

I've got news! The process was not stuck but in fact very long.
[code]

@shcheklein I have a deep learning training database made of several xml files and a lot of images acquired by ~200 drone flights. I have two main needs: save this database on s3 to share it across several computers for training, and version this database for continuous and collaborative

[2019-03-21 10:16] svenski commented on #1307
This might help others that use fish and are confused by the warning message.

The recommended way of setting up conda is not to change the `PATH` env variable but to source a conda.sh (or conda.fish in this case). Here is a link to conda release notes from 2017-12 about this: https://github.com/conda/conda/blob/master/CHANGELOG.md#recommended-change-to-enable-conda-in-your-shell .

My `fish.confi

[2019-03-21 12:03] efiop commented on #1307
@svenski the way fish handles env vars is still quite error-prone, even without using conda. I'm afraid that if we remove that warning, users will not know where to start looking for a solution and we'll simply get a lot of bug reports about this same thing. If that warning message is not too annoying for you, I would prefer to leave it as is for now.

[2019-03-21 12:19] efiop commented on #1756
@Ngoguey42

Did you actually mean to add every single file separately? `dvc add` works on directories too, it will create a dvc file for it and will track it as a whole(e.g. if file is added/removed to a dir, it will detect that) instead of tracking each individual file separately.

[2019-03-21 12:39] ei-grad opened #1758 "add: Suggest to use `dvc add folder/` instead of irregular `dvc add -R` for large amount of files"
Related #1756

[2019-03-21 12:44] bayethiernodiop commented on #599
for the modification, shouldn't we use the dvc unprotect

[2019-03-21 12:49] ei-grad opened #1760 "`dvc remote add` replaces the existing remote silently"
The `dvc remote add` command ignores the existing remote and overwrites it silently.
[code]

### To reproduce

[code]

### Expected behavior

The second command `dvc remote add s3 s3://bucket/subdir2` should fail with the `Remote with name "s3" already exists` message.

### Current behavior

Remote URL is silently overwriten:
[code]

[2019-03-21 13:07] efiop commented on #599
@bayethiernodiop Yes, but it was added fairly recently and this post is from a year ago :slightly_smiling_face: We have the process described at https://dvc.org/doc/user-guide/update-tracked-file

[2019-03-21 13:32] nicolalandro commented on #1696
I think Heroku is good but 5Mb are not enogth. So I thing Google Cloud Storage is better. I will try later this opportunity.

[2019-03-21 14:08] efiop opened #1762 "perf: remote: status: don't pull full list of files from remote"
Currently, we retrieve the full list of files from remote and then compare it with local cache, which gets really slow if user has lots of files on the remote already. So instead of doing this https://github.com/iterative/dvc/blob/0.32.1/dvc/remote/local.py#L591 we should compare it with local cache more carefully and efficiently.

https://discordapp.com/channels/485586884165107732/485596304961962

[2019-03-21 15:14] efiop opened #1763 "dvc: output overlay and cycle not detected"
https://discordapp.com/channels/485586884165107732/485586884165107734/558304594371805194

[2019-03-21 16:31] mroutis commented on #1732
@bayethiernodiop , sorry I didn't see your message before!
I already worked on a patch for it, but it would be great if you can review my pull request :) !

There are some things that we are missing on `zsh`, tho, like completion for sub-sub-commands (e.g. `dvc remote add <tab>` or `dvc cache dir <tab>`)

https://github.com/iterative/dvc/pull/1764

Please, @bayethiernodiop , feel free to leave any

[2019-03-21 16:35] shcheklein commented on #1307
@efiop @svenski should we just add a config option to opt out of this warning? And change the message a little bit - point it to a documentation (I can help creating it) that describes this issue, how to workaround, how to opt out.

[2019-03-21 16:49] mroutis commented on #1729
Awesome, @J0, Thank you for collaborating :tada: !

[2019-03-21 17:06] svenski commented on #1307
@shcheklein - I don't have enough understanding or context of `dvc` to meaningfully chip in on that decision.

However, from a (fish-shell) user point of view it would be nice, as I get a warning for each stage that I run now. But I also understand if you don't want to complicate things too much. Ideally, it would be fixed for fish, even when changing the `PATH`, but I see that was attempted and a

[2019-03-21 17:26] bayethiernodiop commented on #1732
happy to hear that. Nice work @mroutis i really wanted that feature.

[2019-03-21 17:34] efiop opened #1765 "run/repro: support config option to opt-out out of fish warning"
See https://github.com/iterative/dvc/issues/1307#issuecomment-475305943

[2019-03-21 17:35] efiop commented on #1307
@svenski Created https://github.com/iterative/dvc/issues/1765 for it. Thanks for the feedback! :)

[2019-03-21 19:18] #1732 closed

[2019-03-21 19:38] ei-grad commented on #1746
would be fixed with #1709 probably

[2019-03-21 19:43] efiop opened #1766 "dvc: introduce `dvc tag`"

[2019-03-21 19:48] mroutis commented on #155
Is this the same as `gc --all-tags` ? Is it related with #1766 ?

[2019-03-21 19:48] mroutis commented on #155
Closed by mistake! My bad

[2019-03-21 19:50] mroutis commented on #1753
@dmpetrov , what do you mean by SQL queries?

[2019-03-21 20:12] #1009 closed

[2019-03-21 20:12] #1552 closed

[2019-03-21 20:12] #1688 closed

[2019-03-21 20:12] #1754 closed

[2019-03-21 20:32] ei-grad commented on #1753
@mroutis there is a debug logging of the state database queries which comes from https://github.com/iterative/dvc/blob/master/dvc/state.py#L138 I guess

[2019-03-21 20:47] #1747 closed

[2019-03-21 20:54] efiop commented on #155
@mroutis #1766 mostly.

[2019-03-21 23:30] mroutis commented on #1753
Got it, @ei-grad ^

[2019-03-22 02:27] dmpetrov opened #1768 "pkg: deploy model or dataset"
Currently `dvc pkg install` instantiates data artifacts in a current repository and cannot work outside of a repo.

In some cases, like production model deployment scenario, a repository is not needed. The only important thing is a data file content without any meta files (aka dvc-files).

We need to implement an option (like `--flatten` or `--deploy`) for this out-of-repository scenario.

Model d

[2019-03-22 02:52] ei-grad opened #1769 "Cyclic import in dvc.scm.git.tree"
#1709 dvc.scm.git.tree imports dvc.repo.tree, and this introduced a cyclic import which fires when `dvc.scm` is imported before `dvc.repo`:

### To reproduce

[code]

[2019-03-22 04:10] dmpetrov commented on #1769
The same issue might happened in `dvc/repo/init.py` which is part of `Repo` class but still imports `Repo`.

[2019-03-22 04:16] dmpetrov opened #1770 "tests: clean up temp dirs after tests"
`python -m tests` leaves 700+ directories behind in temp dir. It looks like our test fixture issue.

[2019-03-22 04:20] ei-grad commented on #1769
@dmpetrov there are many issues with circular imports and to "import dependency inside the methods" is not the proper solution for them. But it looks like the only one which fires currently is this one with `dvc.scm.git.tree`. I'd like come up with the proper solutions for existing issues next week, but for this one I propose just move `dvc.scm.tree` to `dvc.tree`.

[2019-03-22 05:45] dmpetrov opened #1772 "test: pkg: add func test"
Only very basic tests were developed for `pkg install`. However, a fixture framework was already redesigned to cover pkg install needs - which might use multiple repositories in a single test (the old test fixtures allows only a single repo).

Test cases:
- cannot copy repository (it is missing, access issues)
- cannot pull data (access issues, not enough space on hdd)
- what if an installed file

[2019-03-22 05:48] dmpetrov opened #1773 "pkg install: not reinstall a package by default"
[code]

Probably we need an option like `--force` in case the reinstallation is needed.

UPDATE:
Unit tests need to be created first #1772

[2019-03-22 05:57] dmpetrov opened #1774 "dvc update"
User might need to update a package after it was changed.

[code]

Should we update all repose by default? Please look at NPM https://docs.npmjs.com/cli/update.html

UPDATE:

In order to implement this. Package information needs to be injected into dvc-file which was created as a result of the package installation.

Unit test need to be implemented first #1772

[2019-03-22 12:22] efiop commented on #1769
Couldn't it be solved with dynamic imports, though?

[2019-03-22 12:35] efiop commented on #1769
@ei-grad Also, when does this reproduce?

[2019-03-22 15:12] Ngoguey42 commented on #1756
It was indeed the problem. I fixed the repo that way:
[code]

I then updated the repo on another computer:
[code]

`dvc push` was quick, it was a good surprise. I understand why `dvc add */Images` was long since all files had to be hashed again. Some commands are still a few minutes long, is it normal?

`dvc pull` on the second computer re-downloaded the cache without creating hard-links with the

[2019-03-22 15:57] ei-grad commented on #1769
@efiop added reproduction step to the post

[2019-03-22 16:02] efiop commented on #1769
@ei-grad But that doesn't happen during regular dvc execution, right? Can't you just solve it with dynamic imports?

[2019-03-22 17:10] #1769 closed

[2019-03-22 18:32] J0 commented on #1724
@pared can I take this issue?

[2019-03-22 18:32] #1729 closed

[2019-03-22 18:40] J0 commented on #120
@efiop just curious, is anyone actively working on this issue? If not, it seems like something I wouldn't mind working on over the weekend.

[2019-03-22 19:21] pared commented on #1724
@J0 sure, if it is unassigned feel free to go, thanks for notice :)

[2019-03-22 19:22] pared commented on #1724
I cannot assign you, @efiop can you do that?

[2019-03-22 20:01] efiop commented on #120
@J0 That would be amazing! :slightly_smiling_face: No, no one is working on it right now. Thank you so much for looking into this!

[2019-03-22 20:04] efiop commented on #1724
@pared Unfortunately I can't :slightly_frowning_face:  Only members can be assigned to a task.

[2019-03-22 20:11] shcheklein commented on #1724
@J0 I've sent you a collaborator invite. After that we will be able to assign ticket to you. Most likely, you will be able to take them on your own :).

[2019-03-22 20:13] ei-grad commented on #1756
Is the second machine running Ubuntu too?

[2019-03-22 20:38] efiop commented on #1756
Hi @Ngoguey42 !

If we are talking about `dvc status`, then yes, seems a little too long. Mind running it again (just `dvc status`) there to see how long second `dvc status` takes?

Second checksum computations are needed to make sure that everything is in order after you've pulled your cache.

Let me guess, is it mac that you are using? :slightly_smiling_face: If so, then most likely there are re

[2019-03-22 22:36] #1735 closed

[2019-03-25 09:38] Ngoguey42 commented on #1756
It was already the second run :)

No it is also an Ubuntu 18

On the first computer:
[code]

On the second computer:
[code]

[2019-03-25 09:49] efiop commented on #1756
@Ngoguey42 are you using XFS or btrfs on your second machine?

Mind trying out these commands on your second machine right in your project to confirm that reflinks are supported?
[code]

[2019-03-25 10:57] pared commented on #1214
Closed by #1759

[2019-03-25 10:59] #1214 closed

[2019-03-25 11:00] pared commented on #1214
@AlJohri there is new option in run for this case, Ill add it to docs soon, but you can find it in closing issue name.

[2019-03-25 14:19] #1763 closed

[2019-03-25 14:25] pared commented on #1746
Should we close that one?

[2019-03-25 14:26] efiop commented on #1746
Yep, fixed with #1709 . Thanks for the heads up, guys!

[2019-03-25 14:29] efiop commented on #1746
Or, let me make sure by confirming with the user.

[2019-03-25 14:31] efiop commented on #1746
Will release new dvc version today and will notify user to try it out. Leaving open for now.

[2019-03-25 19:54] siddygups commented on #1711
sorry I missed this - lemme know if there is something else I can look into

[2019-03-25 20:01] shcheklein commented on #1711
np! Almost any of these should be easy enough https://github.com/iterative/dvc/labels/good%20first%20issue. Would be really great if could contribute one of them. Any help is great! :)

[2019-03-25 22:47] ei-grad opened #1783 "RFC: introduce `dvc version` command"
I propose to introduce the `dvc version` command, which would output the system/environment information together with the dvc version itself.

Example output:

[code]

The current template of the bug issues on Github asks the user to add platform and installation method description. I think it would be nice to have the dvc's own method to capture the important information from the environment.

Wh

[2019-03-26 08:34] piojanu commented on #1214
What should I do if from time to time I want to start fresh? Use `dvc remove` on .dvc file or `rm` the output?

[2019-03-26 09:41] pared commented on #1214
@piojanu actually what this option is doing is just setting persist flag inside stage file. So if you want to edit behaviour after some time, just change this flag in `.dvc` file. As to `dvc remove`, I am looking into that.

[2019-03-26 09:50] pared opened #1784 "dvc remove does not remove persistent outputs"
https://github.com/iterative/dvc/issues/1214#issuecomment-476524131

Newly introduced --outs-persist and --outs-persist-no-cache make stage files so persistent, that even `dvc remove` is not removing them.

[2019-03-26 09:56] pared commented on #1214
@piojanu thank you for pointing that out! I created issue for that one.

[2019-03-26 11:00] #1784 closed

[2019-03-26 11:10] #1740 closed

[2019-03-26 11:49] pared commented on #1214
@piojanu It is also worth noting, that this behaviour is only possible, if user actually appends data to output. If, for example, our `run` command somehow destroys file, `persist` flag will not be able to prevent that. For example, reproducing given command:
`dvc run --outs-persist something "echo something > something" `
will always result in overwriting the file, beause that is how `>` works. H

[2019-03-26 12:21] efiop opened #1786 "run: at least unprotect existing outputs"
As @pared noticed, when you run two sequential `dvc run` commands with the same output:
[code]
you actually corrupt your cache file for first `out`, as it is still linked to the cache. We should at least unprotect outputs in this case or maybe even consider removing them by default. That will play nicely with the new `--outs-persist` flag.

[2019-03-26 17:12] piojanu commented on #1214
Yea, I understand that :) But maybe it is worth including it in docs. Also, should `dvc remove` (when fixed) work or it is not recommended path and it can break something?

[2019-03-26 17:27] pared commented on #1214
@piojanu it should work, even now, since patch entered master, it was my mistake, didn't test whether remove works for persistent outputs.

[2019-03-26 17:33] PeterFogh commented on #1654
@efiop, no pressure, but do you think this feature will be released within the next week? I can use your estimate for the planning for my team :)

[2019-03-26 18:48] dmpetrov commented on #1783
Great idea. I especially like `Cache: hardlink (symlink:yes reflink:no fs:ext4)`. I'd only remove `symlink` part - can we work on a system when symlink are not supported?

It would be great to have method of installation. Basically, we need everything that we ask in bug reports.

Btw.. is Python information useful? Also, which of DVC packages include Python (except Windows)?

Do we need `VIRTUAL_E

[2019-03-26 18:56] shcheklein commented on #1783
Love the idea to print more information (especially, caching type).

Few questions/options to consider:

1. Why do we need a separate command for that, it's not clear. Why is `--version` alone not enough.
2. Would it be better to dump more information only when we run `dvc --version` in the verbose mode? And keep it clean and simple by default.
3. I think we still could support something like `dvc

[2019-03-26 19:32] mroutis commented on #1783
@shcheklein, usually a command is more detailed,  for example:
[code]

[2019-03-26 21:13] shcheklein commented on #1783
@mroutis looks good!

[2019-03-26 21:28] mroutis commented on #1654
@PeterFogh , it is on the "Weekly tasks", so I'm sure @efiop is considering working on this, although I can't guarantee it would be released on the next week, at least it will be on a WIP status :)

[2019-03-26 22:48] efiop commented on #1654
@PeterFogh I am working on this. The patch as a whole is pretty big, I'm in the middle of fixing tests for it (have some other tasks too). Need to fix the rest of the tests, rebase on top of master and submit it. I expect it to be ready during the next week max. Sorry for the delay.

[2019-03-26 22:51] mroutis commented on #1506
I couldn't confirm this issue :thinking:

[2019-03-27 01:51] shcheklein commented on #1038
Love it, guys! Please, create a ticket or update docs.

[2019-03-27 06:30] PeterFogh commented on #1654
Hi, @mroutis, @efiop. Thanks for your replies. It sounds awesome and I'm glad to hear that it may be released next week because it fits well with our planning at my end.

[2019-03-27 09:12] efiop commented on #1506
Fixed by #1709

[2019-03-27 09:12] #1506 closed

[2019-03-27 09:41] efiop opened #1788 "checkout: don't remove other links when checking out particular dvc file"
Currently `dvc checkout`(and `dvc pull`) improperly collect all stages to remove unused links. When a target is specified, links are collected only for target stages https://github.com/iterative/dvc/blob/0.32.1/dvc/repo/checkout.py#L27 and then all other links are removed https://github.com/iterative/dvc/blob/0.32.1/dvc/repo/checkout.py#L31 , which is not correct.

[2019-03-27 11:31] pared commented on #1786
There is no "fix" for this issue per se because duplicating outputs are unprotected via https://github.com/iterative/dvc/blob/35218a77ab62a62053c5e46e10deb37a6501093f/dvc/stage.py#L478

[2019-03-27 11:58] pared opened #1790 "Consider safe_remove for reused output names"
After merging #1789 use case:
[code]
described by @efiop  in #1786  will behave with respect to recently introduced (#1759) `persist` flag.
In case of `-o` new run command will silently remove out before executing new command.
We should consider introducing mechanism using safe remove here, as it might result in unaware data removal.

[2019-03-27 15:00] efiop commented on #1786
Fixed by #1789

[2019-03-27 15:00] #1786 closed

[2019-03-27 16:27] bon opened #1791 "repro: auto-pull a file if needed for a pipeline"
If a data file that dvc knows about is needed for a pipeline it needs to be present. If it's not, it has to be pulled before running the pipeline. Couldn't dvc pull the file as part of the pipeline so it doesn't have to be pulled manually?

[2019-03-27 16:38] efiop commented on #1791
Hi @bon !

Thanks for a feature request! :slightly_smiling_face:
I've transferred it from dvc.org repo(where dvc.org site lives) to dvc repo (where actual dvc project lives).

[2019-03-27 16:52] bon opened #1792 "Pull file automatically when necessary for pipeline"
If a data file that dvc knows about is needed for a pipeline it needs to be present. If it's not, it has to be pulled manually before running the pipeline. Couldn't dvc pull the file as part of the pipeline so it doesn't have to be pulled manually?

[2019-03-27 16:55] shcheklein commented on #1792
Duplicate #1791

[2019-03-27 16:55] #1792 closed

[2019-03-27 16:56] shcheklein commented on #1792
@bon it does not do it now :( We'll keep the feature request open in #1791 . Thank you for your feedback!!

[2019-03-27 20:23] efiop commented on #1758
Or maybe it is worth renaming it into something else than `--recursive` to break association with `cp`.

[2019-03-27 20:32] ei-grad commented on #1758
But is it needed at all?

[2019-03-27 20:50] bon commented on #1791
Oops! Sorry for not checking carefully. Thanks for the correction @efiop

[2019-03-27 21:15] efiop commented on #1758
@ei-grad that is also a great question :) We do have a user that requested it though https://github.com/iterative/dvc/issues/1026 .

[2019-03-27 21:21] ei-grad commented on #1758
That one could be better solved by `dvc add -u` as of my opinion to be honest. But anyway just removing the `-R` option is not an option now.

[2019-03-27 21:23] ei-grad commented on #1758
The point is likely to not touch this, but add a suggestion to use `dvc add folder` where it worth.

[2019-03-27 21:35] efiop commented on #1758
Could you elaborate on `dvc add -u`, please?

I agree about not removing it. I just threw in a thought that if it is indeed needed, maybe it is worth thinking about renaming it. A suggestion to use `dvc add directory` also seems good to me.

[2019-03-28 02:34] mroutis commented on #1786
@efiop , I tried to replicate the problem on my machine but it doesn't overwrite anything.
I'm currently using XFS, using `hardlinks` as my `dvc config`:

[code]
[code]

[code]

Am I missing something? :thinking:

[2019-03-28 11:47] #1788 closed

[2019-03-28 13:51] efiop opened #1797 "test: unify logger output mocking"
Currently, when we want to check stderr/stdout we need to do a lot of different actions like
[code]

from https://github.com/iterative/dvc/blob/0.32.1/tests/test_add.py .

which is way too many actions to simply check for stderr output. It seems like we could do better than that by unifying all of this into something like:
[code]
without having to import a bunch of stuff.

[2019-03-28 16:54] efiop opened #1798 "dvc: help: move doc links to long description"
[code]

[2019-03-28 16:57] efiop opened #1799 "stage: preserve comments and don't add default fields removed by user"
[code]

[2019-03-28 19:44] efiop commented on #1799
As @shcheklein noted, this should not remove fields that were already set before. This is also relevant to user comments in dvc files, that we currently throw out, which is not nice. Need to consider using something like https://pypi.org/project/ruamel.yaml/ first.

[2019-03-28 20:42] brbarkley opened #1800 "data files disappearing from file tree after editing .dvc file(s) by hand and attempting dvc repro"
**Please provide information about your setup**

DVC version(i.e. `dvc --version`)
[code]

Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]

**Issue:**
Data files tracked by DVC are disappearing from my local file tree before I have pushed them to my remote. I'm not sure how it happened and I did not want them to disappear.

However, DVC s

[2019-03-28 21:02] ei-grad opened #1801 "Feature request: rclone:// remote"
There is a superior cloud storage tool called [rclone](https://github.com/ncw/rclone). It provides efficient access and manipulation with data stored on [nearly all existing cloud providers](https://rclone.org). It could be great feature to incorporate it into dvc somehow.

It could be used already with its FUSE `rclone mount` interface via local remote. Or with `rclone serve http` via HTTP remote

[2019-03-28 21:15] ei-grad commented on #1450
The problem mentioned in this issue should be addressed by LVM, RAID and similar technologies, not by dvc, IMHO.

[2019-03-28 21:20] efiop commented on #1800
Hi @brbarkley !

Looks like you simply deleted it from your workspace. What is the dvc file where `output/figures/pca_plots` and `output/figures/kmeans_plots` are listed as outputs? Let's say it is called pca_plots.dvc, then you could simply checkout it with `dvc checkout pca_plots.dvc` and it should get it back. If you've used `dvc pull -R dir/` recently, then it might be our bug https://github.c

[2019-03-28 22:34] shcheklein opened #1802 "dvc: destroy: do unprotect instead of remove on working space data files"
Internally destroy is using `remove()` which is probably too destructive. It's better to use `unprotect()` instead.

[2019-03-28 22:37] shcheklein opened #1803 "dvc: daemon: fix infinite re-spawning of itself on errors"
When there are some error in CLI related files, daemon goes crazy and keep printing:

[code]

It's almost impossible to kill it because it looks like it can fork itself.

[2019-03-29 01:01] ei-grad commented on #1801
I have tested Yandex.Disk remote via `rclone mount` with my WIP #1804 thread-pool enabled `RemoteLOCAL.check_exists()` - works like a charm.

[2019-03-29 01:56] #1798 closed

[2019-03-29 10:59] efiop opened #1806 "tag: list: support --all-branches --all-tags"
Related to https://github.com/iterative/dvc/issues/1766 and https://github.com/iterative/dvc/pull/1794#issuecomment-477884806 .

[2019-03-29 12:17] efiop opened #1807 "pull: incorrect bar"
[code]

looks like checkout didn't reset progress counter

[2019-03-29 15:54] brbarkley commented on #1800
Hi @efiop

Yes, I had attempted ``dvc checkout`` previously but it warned that it was going to remove existing files

[code]
I surmised this meant that it would replace the existing file with the one in cache, but the warning language is not clear so I aborted because I did not want to lose the file.

**Perhaps DVC should revise their warning language** for ``dvc checkout`` and ``dvc pull``?

_"fi

[2019-03-29 18:41] brbarkley commented on #1800
**UPDATE:**
I believe I have retraced my steps that led to the above issue

**Issue:**
_Step 1_
I attempt to edit file paths of outputs and/or dependencies in a specific dvc file (i.e., ``output/make_plots_tables.dvc`` with ``dvc move``
[code]

_Step 2_
I edit my ``output/make_plots_tables.dvc`` by hand as suggested by the above ``dvc move`` error message. **Note:** File folders ``output/figures/p

[2019-03-29 23:49] ei-grad commented on #1758
The actual request in #1026 was to provide an ability to `dvc add` all the changed files in one command. This is what `git add -u` does for git repository.

[2019-03-30 00:14] #1766 closed

[2019-03-30 01:00] AlJohri commented on #1799
It would also be great to maintain the spacing on the ‘cmd’ field. I often change the spacing such a long cmd with several options is split up with new lines in between each argument. DVC currently undoes this spacing

[2019-03-30 01:14] #1716 closed

[2019-03-30 04:13] shcheklein commented on #1551
A new reason to prioritize this https://discordapp.com/channels/485586884165107732/485586884165107734/561380967311212554

[2019-03-30 04:30] shcheklein commented on #1551
Another question:

[code]

[2019-03-30 10:54] efiop commented on #1551
Good point @shcheklein ! Added p1 priority, we'll try to take a look at it next week.

[2019-03-30 11:52] efiop commented on #1800
Hi @brbarkley !

Thanks for the investigation and all the suggestions! We will revisit those error messages to be more informative.

I don't think dvc should restore those automatically, because checking out files for the command that clearly failed in your script is even more dangerous and might break your pipeline. It is better to have it error-out like that, so at least you are aware of your pr

[2019-03-31 09:12] AmitAronovitch opened #1811 "pull fails with azure SAS connection strings"
Azure SAS connection strings can be used to allow read-only access to specific container, which is useful in the context of CI pipelines and automation.

However, when using such limited-credentials connection string, `dvc pull` abends with the error below.

Some digging reveals that this is because `remote/azure.py` always tries to create the bucket (which already exists). If we check for existen

[2019-03-31 14:38] #1811 closed

[2019-03-31 17:24] #1515 closed

[2019-03-31 17:42] yfarjoun opened #1814 "dvc pull "counts" incorrectly in the presence of locked stages"
in the presence of locked stages the output from `dvc pull` is slightly wrong (the right files get pulled though):

[code]
(clipped for clarity)

As you can see, I have 2 locked stages and they are not included in the total count (thus the /28 part) however, they are still being downloaded, so the count goes up to 30, which is wrong.

[2019-03-31 19:28] yfarjoun opened #1816 "Cannot use $(dvc root) in `dvc run`"
I'm trying to use $(dvc root) in my `dvc run` (for the command) so that my DVC files are a little more transferable (this relates to an existing issue, but I can't find it...). I know that the dependencies will not be updated, but at-least the command will....

What happens though is that the dvc file is created incorrectly, and then cannot be run:

[code]

removing the spurious `\r` fixes the pro

[2019-03-31 19:39] yfarjoun commented on #1816
the `$(dvc root)` should be in single quotes, since it needs not be run...my bad.

[2019-03-31 19:39] #1816 closed

[2019-03-31 19:56] #1807 closed

[2019-03-31 20:00] #1760 closed

[2019-03-31 20:09] pared commented on #1814
@yfarjoun could you check if that issue is present for current master? I am not sure, but #1817  might have solve it

[2019-04-01 05:39] J0 commented on #1724
@efiop I would like to trouble you for help/advice on this issue. I was under the impression that naively changing the [print static method](https://github.com/iterative/dvc/blob/master/dvc/progress.py) in `progress.py`
from

[code]
to

[code]
would solve the issue but unfortunately, this causes most of the tests to break. Any idea what might be going on and any suggestions on how I should proceed

[2019-04-01 06:51] mroutis opened #1818 "Drop support for Python 2.7"
Python will drop support for 2.7 in January 1st, 2020, I think DVC should too, it will ease the maintenance (spending less time dealing with str/unicode issues, default support for type checking syntax, access to a more robust standard library, etc.).

_Countdown for Python 2.7 EOL: https://pythonclock.org/_

I don't know how many users are currently running on Python 2.7, but we can get a clue by

[2019-04-01 07:14] mroutis commented on #1724
@J0 , I'm currently working on this issue #1753 that will refactor how DVC uses `logging`, and then, I'll tackle #1797, rewriting how tests with logging work.

Would you mind waiting a little bit until those two issues are closed?

Thanks for your interest in contributing, tho, that's awesome :tada: !

[2019-04-01 08:26] martinjms commented on #1799
It would be nice if we could also have a custom filed for users to add some metadata.

For my use case in particular, i would like to add the repository and git commit in which the file was generated as well as the username of the person that generated the data. This is because i intend to use the datasets in more than one repository and i need a way to track the origin of the data

[2019-04-01 15:06] J0 commented on #1724
Sure! I'll go work on the other issues I've been assigned to first

[2019-04-01 18:22] #1553 closed

[2019-04-01 18:47] efiop opened #1819 "test: migrate from unittest to pytest"
Need to stop using unittest's TestCase and use pytest instead.

[2019-04-01 23:05] brbarkley commented on #1800
Thanks @efiop!

[replying from mobile]
Is there a short explanation of why **dvc repro** is deleting the files in question?

My **dvc_pipeline.sh** file is kind of a wrapper. As I integrated DVC into my workflow, I found it necessary to keep a record of my **dvc run** commands for each stage file created. The bash script accommodates this need by storing the commands, gives me an easy way to edit

[2019-04-01 23:23] efiop commented on #1800
@brbarkley `dvc repro` by-default removes output files of the stage to ensure that it was produced by the stage, so that we know that they are indeed reproducible.

And why don't you just use `dvc repro` feature? Your stages are already recorded in the dvc files, you could open them with an editor and modify them whenever you'd like. Just trying to understand your usecase.

Thanks,
Ruslan

[2019-04-02 12:29] guysmoilov commented on #1214
Very good guys! This is a very important feature, I already started using it to great effect instead of my above workaround: https://dagshub.com/Guy/fairseq/src/dvc/dvc-example/train.dvc

I vote for having a short flag for it, I think it will be commonly used for anyone that wants to train with checkpoints, or for scenarios like this: https://discuss.dvc.org/t/version-checking-with-dvc/168/5

Mayb

[2019-04-02 12:39] smolendawid opened #1821 "dvc add - and how I deleted all my data"
I tested the functionality of `dvc add` and the entire pipeline on my MACOS. I saw the usage and I liked it. After the test, I deleted all .dvc.

After that I run `dvc add` on Ubuntu, then my disk got full, so I deleted .dvc. Suddenly I realized I deleted almost all my data.

I think it's wrong that `dvc add` behaves in different ways on different systems and it should be set implicitly, or some w

[2019-04-02 13:27] brbarkley commented on #1800
[reply by mobile]

@efiop I do use dvc repro but in some cases I find it more efficient to redefine a stage by editing the original dvc run command and re-executing dvc run.

I had in fact attempted to edit one of my dvc files by hand (because I had changed the file paths of some of my dependencies and output) and subsequently call dvc repro to update the pipeline. However, dvc repro would not run

[2019-04-02 14:51] efiop commented on #1599
Related https://github.com/iterative/dvc/issues/1821

[2019-04-02 14:56] efiop commented on #1214
@guysmoilov Thanks a lot for your input on `discuss` forum! :slightly_smiling_face:

Mind creating a feature request for it? :slightly_smiling_face:

[2019-04-02 15:07] efiop commented on #1800
Hi @brbarkley !

Thanks a lot for explaining! That feature for `dvc move` is on our TODO list https://github.com/iterative/dvc/issues/1489 . Also, created https://github.com/iterative/dvc.org/issues/230 for "how to edit dvcfiles" guide. I think your current approach is fine, as long as you are comfortable with it, but I was not able to ignore that in your bash script you are kinda duplicating the

[2019-04-02 15:24] efiop commented on #1821
Hi @smolendawid !

Really sad to hear about that :slightly_frowning_face:

That is pretty weird. Usually, hardlinks are used on Ubuntu, which are safe in case you remove your `.dvc/` directory. Did you see symlinks being used? Is there anything special about your project? E.g. did you use `external cache directory` feature?

`dvc add` moves your data to cache and creates links from cache to your w

[2019-04-02 15:44] smolendawid commented on #1821
I had my data on a big HDD disk and I set cache on a smaller SSD disk. After my SSD got full I deleted .dvc because I wanted to repeat the operation setting cache on HDD. Yes, it looks like symlinks, but I can't check it because I have to recover my disk, so the machine is off.

BTW I am wondering if it will be easier to recover data from HDD or SSD.

Two worst things I see here are:
1. I tested e

[2019-04-02 16:58] shcheklein commented on #1821
@smolendawid it's really sad to hear that happened :(. It's behavior indeed differs,  depending on OS, cache location relative to your project, etc. It's somewhat explained in that ticket, #1599, Ruslan mentioned. Specifically, `copy, reflink` cache type default suggested in the ticket could prevent this from happening. The downside is that DVC would be physically copying files every time you run

[2019-04-02 17:16] efiop commented on #1257
Related https://github.com/iterative/dvc/issues/1821

[2019-04-02 20:23] efiop commented on #1257
If checkout takes too long, need to print a warning saying that it is possible to use hardlinks/symlinks to speed up everything.

[2019-04-02 20:38] efiop commented on #1821
@smolendawid  We understand how bad the situation is and we've decided to prioritize https://github.com/iterative/dvc/issues/1257 that will prevent your situation from happening ever again without the user explicitly enabling symlinks as an advanced feature (at which point we expect the user to be aware of possible consequences). We will also update our docs to reflect that. Thank you for your fee

[2019-04-02 21:39] rasmuse commented on #1568
Hi all,

I just discovered dvc as I have started hacking on something similar myself and realized I could not be the first person to think of this. dvc is a very cool project - congratulations!

How difficult would it be to add a config option to switch the hash algorithm? For use cases with moderate data files sizes and/or concerns for attacks, it can definitely be worth some extra CPU time to ha

[2019-04-02 21:56] efiop commented on #1568
Hi @rasmuse !

Should not be too hard, to be honest. You'll need to mostly go through `dvc/remote/local.py` to support another hash in addition to md5 and, of course, you'll need to add a config option for it. Let us know if you'd like to tackle this, we will be happy to help! :slightly_smiling_face:

Thanks,
Ruslan

[2019-04-02 22:00] rasmuse commented on #1568
Thanks for the prompt reply @efiop !

I will look into it and get back if/when I encounter any problems.

[2019-04-02 22:02] efiop commented on #1568
@rasmuse Sure! Btw, we also have our chat at `https://dvc.org/chat`. Please feel free to join and use it too, if you feel like it :slightly_smiling_face:

[2019-04-03 05:55] dmpetrov opened #1823 "dvc init in MatrixDS environment"
`dvc init` got stuck in MatrixDS environment:

![image](https://user-images.githubusercontent.com/10081867/55455829-0349bf00-559a-11e9-9149-863d2862c889.png)

One of guesses - it is related to NFS:
![image](https://user-images.githubusercontent.com/10081867/55455804-e7deb400-5599-11e9-8cab-66cd8e073344.png)

That's all I know for today :(
@FavioVazquez might have more details.

[2019-04-03 06:06] FavioVazquez commented on #1823
Thanks @dmpetrov. Tagging @isaacfab here too

[2019-04-03 06:25] isaacfab commented on #1823
That's a good guess about issues related to the NFS. We have had to tweak the user privileges for many of the containers.

[2019-04-03 08:49] efiop commented on #1823
Hi @isaacfab ! For how long did you leave it running?

[2019-04-03 09:39] smolendawid commented on #1821
I understand how and why does it work this way. In my opinion, symlink should be an explicit option for volunteers.  I think it should be prioritized to prevent a similar situation, so thanks for that.

[2019-04-03 09:39] #1821 closed

[2019-04-03 13:01] robguinness opened #1824 "Wrong version number"
When installing DVC using pip (`pip install dvc`), the version information supplied by dvc does not match that reported by pip:

Specifically, pip reports that 0.34.0 is installed, but `dvc --version` returns:

0.29.0+220b4b.mod

This is also confirmed by running the following command:

[code]

[code]

**Please provide information about your setup**

[code]

[2019-04-03 13:02] robguinness commented on #1762
Looking forward to this one!

[2019-04-03 13:04] efiop commented on #1824
Related discussion on discord https://discordapp.com/channels/485586884165107732/485596304961962003/562979911888011270 .

[2019-04-03 13:07] robguinness opened #1825 "More verbose output after dvc push to SSH remote"
After running `dvc push` to an SSH remote, even with the verbose flags maxed out (`-vvv`), there is no output for awhile after dvc requests the credentials for the remote. This leads the user (at least in my case) to suspect a problem with SSH authentication when in reality dvc is working on something else (according to @efiop this is the case).

It would be nice to have more verbose info printed

[2019-04-03 14:04] efiop commented on #1697
Can confirm this bug also on linux when using binary packages.

[2019-04-03 15:27] FavioVazquez commented on #1823
It ran for a long time, but nothing happened. I couldn't even use Ctrl+C @efiop

[2019-04-03 15:44] efiop commented on #1823
@FavioVazquez Right, if you were not able to CTRL+C, then the program was still in kernel space, meaning that it is probably an NFS issue. Is it still running? If not, mind running it again and then:

1) find it's PID with something like `ps xaf | grep dvc`;
2) show us `cat /proc/$PID/stack`;

Thanks,
Ruslan

[2019-04-03 17:20] #1697 closed

[2019-04-03 22:00] mroutis commented on #1783
Related: https://github.com/mahmoud/boltons/blob/master/boltons/ecoutils.py

[code]

It might be more than what we need, but it is a good starting point.

[2019-04-04 00:32] efiop commented on #1697
Ok, turns out there was a bug in one of the dependencies, which is why pyinstaller was not able to collect it properly. Fixed and released in 0.34.1. Thank you so much for the feedback @richardxy ! :slightly_smiling_face:

[2019-04-04 10:30] marie-ml opened #1827 "no possibility to specify credentials/profile in dvc import"
Hi,

For many use cases, when importing from s3, the s3 bucket from which data is imported requires credentials or a profile. Right now, it does not seem possible to specify these (even though it is possible for a s3 remote with ` dvc remote modify myremote profile myprofile`).

I know that is it possible to work around that by using dvc run instead, but providing a way to specify a profile or cre

[2019-04-04 11:48] efiop commented on #1827
Hi @marie-ml !

You could go about it this way:

[code]

Thanks,
Ruslan

[2019-04-04 13:26] marie-ml commented on #1827
Hi @efiop ,

Thanks for the quick answer! And is there a way to specify where the destination.dvc file should be saved to ?

Thanks!

[2019-04-04 13:30] qchenevier opened #1828 "dvc status regression after 0.33.1 release"
I'm using OSX/Darwin.

All the checksums in my pipelines have changed starting from version 0.33.1.

Bug very similar to https://github.com/iterative/dvc/issues/1680

E.g: With a single file added with `dvc add helico_val.h5.dvc`:

###### dvc 0.32.1: OK ✅
[code]

##### dvc 0.33.1: NOK ❌
[code]

##### dvc 0.34.1: NOK ❌
[code]

I also did the check by computing the md5 sum with `md5 helico_val.h5` a

[2019-04-04 13:34] efiop commented on #1828
Hi @qchenevier !

Could you show `helico_val.h5.dvc` please?

[2019-04-04 13:35] efiop commented on #1828
@qchenevier Also, mind showing `dvc status helico_val.h5.dvc -v` logs for those versions?

[2019-04-04 13:45] efiop commented on #1828
Ok, was able to reproduce
[code]

[2019-04-04 13:49] efiop commented on #1828
The difference in foo.dvc generated by 0.32.1 and 0.33.1:

032.0
[code]

0.33.1
[code]

so the problem is that we don't exclude default `persist: false` value when computing checksum.

[2019-04-04 14:22] #1828 closed

[2019-04-04 14:28] efiop commented on #1828
Ok, the patch is merged. I'm releasing 0.34.2 right now, should be ready in an hour or so. Thank you so much for the feedback! :slightly_smiling_face:

[2019-04-04 16:27] efiop commented on #1827
@marie-ml There is no such option for `dvc import` itself right now :slightly_frowning_face: By default, it will simply place `destination.dvc` right beside where `destination` is located. However, you could workaround that by using a more flexible `dvc run` command like so:

[code]

[2019-04-04 17:47] #1746 closed

[2019-04-04 20:52] brbarkley commented on #1800
Hi @efiop

Thanks for the insight! Yes, I think #1489 would improve ``dvc move`` functionality and help with my workflow. More documentation on editing dvcfiles would be good, too.

As an additional note--one that should have been mentioned in *Step 3* of [iterative/dvc#1800 (comment)](https://github.com/iterative/dvc/issues/1800#issuecomment-478107422)--another factor contributing to my problems

[2019-04-04 20:52] #1800 closed

[2019-04-04 21:43] efiop commented on #1800
@brbarkley That is a really good point! Created https://github.com/iterative/dvc.org/issues/233 . Well take a look if you could clarify it a bit. Thank you for all the feedback! :slightly_smiling_face:

[2019-04-04 22:01] efiop commented on #1011
We should use `unprotect` as described in https://github.com/iterative/dvc/issues/1802

[2019-04-04 22:01] efiop commented on #1802
Closing as a duplicate of https://github.com/iterative/dvc/issues/1802

[2019-04-04 22:11] efiop commented on #1111
Fixed with `--wdir` introduction.

[2019-04-04 22:11] #1111 closed

[2019-04-04 23:09] efiop opened #1830 "import: use explicit field in dvcfile"
Currently if we have no command, 1 dependency and 1 output in the dvcfile, we assume that it is `dvc import`. This approach has drawbacks as described in https://github.com/iterative/dvc/issues/1401 . It would be better to set an explicit field `import: true` in dvcfile. This could be either implemented in 1.0 by breaking backward compatibility, or earlier by setting `import: false` by default.

[2019-04-04 23:11] efiop commented on #1401
https://github.com/iterative/dvc/issues/1214 implemented `--persist-no-cache`, which is basically the same as `--no-remove-outs` described above. Now we have such problems that keep us from supporting these `stating deps` feature: when dvc sees that it has 1 dependency and 1 output, it assumes that it is `dvc import`, so a workaround for that would be to either use a dummy dependency/output or a d

[2019-04-04 23:11] #1401 closed

[2019-04-04 23:12] efiop commented on #1830
Related to implicit behaviour we have in https://github.com/iterative/dvc/issues/1407

[2019-04-04 23:18] efiop commented on #1471
Related to https://github.com/iterative/dvc/pull/1820 . Adding `node_modules` to `.dvcignore` would prevent dvc from searching for dvcfiles there.

It seems unlikely, but I could imagine someone adding dvcfiles to gitignore and yet want dvc to discover them. Using `.dvcignore` seems like a more direct and clear approach.

[2019-04-04 23:36] efiop commented on #1509
Hi @CMCDragonkai !

How is it going? I see you've introduced a patch that is simply calling `dvc daemon` directly, which seems to fix the issue for you. It is hard for me to wrap my head around what NixOS packages are doing with that substitution that was suggested to you in https://github.com/NixOS/nixpkgs/pull/54530#discussion_r252581188 . I see that it has been quite a while since your last com

[2019-04-04 23:38] efiop commented on #1522
Closing as stale. Please feel free to reopen if you are still experiencing this issue.

[2019-04-04 23:39] efiop commented on #1527
Fixed by https://github.com/iterative/dvc/pull/1713

[2019-04-04 23:39] #1527 closed

[2019-04-04 23:42] efiop commented on #1528
Fixed by https://github.com/iterative/dvc/pull/1709 . Fix is already released, please feel free to upgrade. Thanks for the feedback guys! :slightly_smiling_face:

[2019-04-04 23:42] #1528 closed

[2019-04-04 23:49] efiop commented on #1655
@rmcavoy So sorry for the delay! Notification got lost in the flow :slightly_frowning_face: . Does that issue still persist?

[2019-04-04 23:57] #1802 closed

[2019-04-05 05:18] shcheklein opened #1832 "Init does not respect analytics system level analytics flag"
I tried to run it on the MatrixDS env and set an opt out flag with:

`sudo dvc config --system core.analytics false`

Nonetheless, when you run `dvc init` you can see 4 daemon instances spawned.

[2019-04-05 05:46] mroutis commented on #1832
@shcheklein , it looks like analytics is indeed disabled:
[code]

Are you getting confused with the `updater` process?

[2019-04-05 05:50] shcheklein commented on #1832
This is how it looks like for me:

[code]
matrix      97     1  0 21:21 ?        00:00:00 /usr/bin/python -m dvc daemon -q analytics /tmp/tmpfador7g7
matrix     120     1  0 21:24 ?        00:00:00 /usr/bin/python -m dvc daemon -q analytics /tmp/tmpxaj1wghc
matrix     134     1  0 21:38 ?        00:00:00 /usr/bin/python -m dvc daemon -q analytics /tmp/tmpi9ex356n
root       145     1  0 21:38 ?

[2019-04-05 06:59] ei-grad commented on #1825
If it hangs on "Collecting information" state, then this is the problem with the `status` gathering, which would have a progress bar when #1762 would be merged. This is how it looks now and how it would be looking (wait a bit for the second `dvc push` run): https://asciinema.org/a/KARzjWgeijP6sK2Qj7vUbYFc1.

[2019-04-05 07:20] ei-grad commented on #1825
Though it still could "hang" in the scenario when the current repository needs a small amount of files from the remote which has a huge amount of files. For this case DVC should not only notice the ssh auth success, but suggest `no_traversal = true` to be specified.

[2019-04-05 08:05] shcheklein commented on #1823
@efiop :

[code]

trace is disabled in docker by default.

@isaacfab is there a way to run one of your docker images with NFS with SYS_PTRACE enabled? We need to see the stack trace at least to understand what's happening. Otherwise it's extremely hard to debug this.

I also've tried to run NFS on my machine (server and client), dvc worked fine.

[2019-04-05 12:16] efiop commented on #1832
@shcheklein Are you sure those are not from your earlier runs? For example you can see one from `root`, which is clearly the one from `sudo dvc config` that you've run before and clearly wasn't spawned by `dvc init`. Try killing all of those and trying to run `dvc init -v` again.

[2019-04-05 12:22] efiop commented on #1823
@shcheklein Is that docker image running on linux host?

[2019-04-05 13:12] efiop opened #1833 "cache: use plain dicts for dir cache"
See https://github.com/iterative/dvc/pull/1820#discussion_r272579614

Currently dir cache looks like
[code]
but we could simply store it as
[code]

this is obviously going to break backward compatibility, so it is better to do that in 1.0 .

[2019-04-05 13:19] efiop commented on #1825
@ei-grad Wow, that looks amazing! :fire: :fire: :fire:

[2019-04-05 14:01] pared opened #1834 "make status take .dvcignore into account"
After merging #1499 user might want to ignore some files. Add functionality to dvc status, that will allow user verify if his .dvcignore works as intended.
E.g.: when using git, `git status` shows all files in repository that are not ignored. There is no such straightforward  command in dvc.

[2019-04-05 15:30] puhoshville opened #1835 "Minimalistic way of `dvc pull` usage in ci/cd"
I'm using dvc pull in ci pipeline and not so long ago (after a new release) it broke due to lack of git executable in the container (python:3.6-slim-jessie). It was easily fixed by including of additional stage to Dockerfile with git-core installation, but this approach does not meet minimalistic principals of ci. I think that some dvc methods such as dvc pull need to be considered as production-r

[2019-04-05 17:09] shcheklein commented on #1832
False alarm. I've tried to reproduce it on a clean instance, don't see these daemons now.

[2019-04-05 17:09] #1832 closed

[2019-04-05 17:09] shcheklein commented on #1823
@efiop most likely, yes. @isaacfab do you have more details?

[2019-04-05 17:20] shcheklein opened #1836 "diff: add documentation link when it's ready"
The same way as we do for all other commands.

Depends on: https://github.com/iterative/dvc.org/issues/235

[2019-04-05 17:24] shcheklein commented on #1835
Related #1487 . @puhoshville have you seen that ticket? Would be great if you read it and let us know what you think.

[2019-04-05 17:34] isaacfab commented on #1823
The container is running on GCP GKE so yes. All of our containers (with docker files) can be found here. https://github.com/matrixds/tools

[2019-04-05 17:37] isaacfab commented on #1823
You can use custom containers on the site (see the repo for instructions). Feel free to enable whatever variables you think would be useful. Have you checked the logs on the environments from the webui?

![Screenshot 2019-04-05 10 36 36](https://user-images.githubusercontent.com/10081334/55645941-bda21780-578e-11e9-9e55-6282cad7e779.png)

[2019-04-05 17:46] shcheklein commented on #1823
@isaacfab I've checked them, don't see anything interesting.

Re custom tool - I'm not sure I understand which field should I be using to pass `docker run` arguments. Is there any documentation how those options translate to CLI and how could I adjust for the `docker run`?

[2019-04-05 17:47] shcheklein commented on #1823
@isaacfab to be more specific, we need something like `docker run --cap-add SYS_PTRACE ...`

[2019-04-05 18:09] isaacfab commented on #1823
in the UI for the custom tool, you can add a specific docker run command. here is an example.
![Screenshot 2019-04-05 11 08 02](https://user-images.githubusercontent.com/10081334/55647701-2d1a0600-5793-11e9-94f6-c594c2b9fd94.png)

[2019-04-05 18:13] isaacfab commented on #1823
you could also build the container from scratch and change the run command in the entrypoint script. If you put a test container on docker hub you can build it from the custom UI. (see the example above I've just referenced our current jupyterlab image.

[2019-04-05 18:16] isaacfab commented on #1823
We had a similar issue with our shiny tool. The system runs the applications as a different user (shiny) so we had to specifically add privileges to that user or NFS would block any updates. maybe something similar is going on here? You can see in the shiny docker file how we handled it. lines ~30-40
https://github.com/matrixds/tools/blob/master/shiny/Dockerfile

[2019-04-05 18:20] shcheklein commented on #1823
@isaacfab as far as I understand entrypoint script does not change `docker run` arguments, it changes a script the container runs first when you start it. We need to run the container in a little bit different mode, it means that we need to modify settings of the GKE most likely. I'm not sure if we can do it for a single container though.

[2019-04-05 18:22] isaacfab commented on #1823
Okay, I see. Maybe we should jump on a call for this.

[2019-04-05 18:25] mroutis commented on #1835
It makes sense, because `git` is usually a _buildtime dependency_, but it is hardly used during _run time_.
Also, having `git` as a requirement for `dvc pull` breaks compatibility with the `--no-scm` flag.

Steps to reproduce with Docker:
[code]

[2019-04-05 20:55] mroutis commented on #1835
Traceback:
[code]

[2019-04-05 21:43] qchenevier commented on #1828
You rock ! 😊

[2019-04-05 21:59] efiop commented on #1835
@mroutis Got it! Thank you! Will send a fix ASAP.

[2019-04-05 23:18] efiop commented on #1410
Ok, turns out when you move multipart objects on s3 they don't retain their etag. See https://discordapp.com/channels/485586884165107732/485596304961962003/563864123587297280 . So we might need to come up with a general approach to handle all of these clouds :(

[2019-04-06 00:40] mroutis commented on #1828
Great catch, @qchenevier!
That was fast, @efiop :zap: !

[2019-04-06 01:41] efiop commented on #1410
Another approach to handle all of these in a unified way is https://discordapp.com/channels/485586884165107732/485596304961962003/563899005151608843

[2019-04-06 02:24] efiop commented on #1410
Related workaround for s3 https://discordapp.com/channels/485586884165107732/485596304961962003/563910400450625546

[2019-04-06 03:39] olveirap commented on #1410
I'm giving a shot at the s3 workaround. As far as I can see we need to check if the origin object of the copy in [here](https://github.com/iterative/dvc/blob/master/dvc/remote/s3.py#L109) is a multipart uploaded object by checking if it has a suffix in the etag. If that's the case, we need to calculate from the size it has and the number of parts it was uploaded in from the suffix of the etag, the

[2019-04-06 03:43] olveirap commented on #1410
Actually, the head_object has the part count and the size, using that is less hacky.

[2019-04-06 03:48] shcheklein opened #1838 "checkout/pull should write a summary of the working space changes"
Now it writes the same message:

[code]

no matter if something changed or not. It's hard to see if it actually update the working space. I would suggest to write summary, similar to the way git is doing when you pull/push something.

[2019-04-06 03:55] shcheklein opened #1839 "pull hangs even if all the files needed exist in cache"
I've noticed that `dvc pull` hangs for a few seconds every time you run it. Even if all the files needed exist in cache.

[code]

Is it expected or just is it just a lack of optimization?

Can be reproduced with the example-get-started project and HTTP remote.

[2019-04-06 04:14] shcheklein opened #1840 "pull output is not informative and too massive"
If I have a few directories it's hard to understand what's going on:

[code]

It feels like it's printing the same thing over and over again. It's confusing, I was even though for a moment that this is a bug.

[2019-04-06 07:53] puhoshville commented on #1835
@shcheklein I think that this issue is not quite relevant to the dataset storage task. exactly same `ImportError: Failed to initialize: Bad git executable.` I got while tried to load pretrained model to container not dataset.
@mroutis thank you for such a detailed explanation! It's exactly what I was talking about :)

[2019-04-06 09:25] efiop commented on #1839
Lack of optimization. Here https://github.com/iterative/dvc/blob/0.34.2/dvc/remote/local.py#L684 we collect full-blown status even for an already present cache on `dvc pull`, which is causing that delay. Need to fix that by skipping collecting status for already present cache files on `pull/fetch`. Thanks for reporting this! 🙂

[2019-04-06 09:29] efiop commented on #1840
@shcheklein That first part is from where it tries to pull missing dir cache during used cache collection. Need to make it more clear, and, probably optimize it so it doesn't download those files one-by-one during cache collection.

[2019-04-06 09:30] efiop commented on #1835
@puhoshville yeah, it is a simple import bug in one of unrelated parts of dvc. I have my patch going, should be ready today. Thanks for the feedback! 🙂

[2019-04-06 16:00] mroutis commented on #1471
Indeed, @efiop , but it is like an extra step that the user needs to do.

There are a lot of people adding their virtual environments to docker images because they forgot or might not know about `.dockerignore`. Is not like a huge deal, in this case, searching through the virtual environment, node modules, or even the `.git` directory would add max a few seconds, maybe something unnoticeable.

[2019-04-06 16:02] mroutis commented on #1471
Maybe we can include it in an "Advanced Users" guide, with information about _reflinks_, and more performance enhancements.

[2019-04-06 18:41] mroutis commented on #1799
@martinjms , have you seen the issue related to reusing datasets, it might be interesting to you? #1487

[2019-04-06 21:53] efiop commented on #1471
@mroutis True. If I remember correctly `.dvcignore` implementation, we have `!path` supported, which would allow to explicitly stop ignoring something. If we decide to go with the approach that you suggest, we could make that `!path` in dvcignore make dvc stop ignoring particular path even if it is in `.gitignore`. I'm just not sure if that approach is ok to make default. Need to give it a better

[2019-04-06 22:10] #1835 closed

[2019-04-07 00:06] shcheklein commented on #1823
@isaacfab hi! We were able to pinpoint the source of this problem - file locks over NFS. We are using file locking in two places - one is to prevent user from running two commands simultaneously, second indirectly used in SQLLite. For example, if try to run the following snippet, you can reproduce the problem very easily:

[code]

It looks like a pretty general problem and I would expect some othe

[2019-04-07 00:08] mroutis commented on #1471
Agree, let's leave this open and see how it goes with `.dvcignore`

[2019-04-07 00:16] #1824 closed

[2019-04-07 00:33] ghost opened #1843 "logger: use logging format interpolation"
E.g.

[code]
should be
[code]

~~As suggested by @ei-grad in this PR: https://github.com/iterative/dvc/pull/1822~~

~~Reference: https://docs.python.org/3/howto/logging.html#optimization~~

~~It needs to support braces `{}` formatting, you can use a log adapter for Python 2.7:~~
<s>```python
import logging

class Message(object):
    def __init__(self, fmt, args):
        self.fmt = fmt
        se

[2019-04-07 00:40] shcheklein commented on #1756
@Ngoguey42 hey, is this issue sill relevant? Have you tried to use `dvc add image` (no -R)?

[2019-04-07 11:07] rasmuse commented on #1676
@efiop I asked earlier this week in #1568 about the possibility to use other hash algorithms. I'm shifting that part of the discussion here since this issue seems to be a better match for my request (#1568 could be solved in principle by changing to _one_ other hash algorithm, i.e., just switch the md5 function for another one).

Short report on my progress: I made a local `git checkout -b not-onl

[2019-04-07 14:30] efiop opened #1846 "dvc: drop support for python 3.4"
See https://github.com/iterative/dvc/pull/1845 . Need to not forget to remove it from our test matrixes as well.

[2019-04-07 14:31] hugovk commented on #1818
I'd recommend adding `python_requires` and explicit version classifiers, especially useful when 2.7 is dropped, and also useful now. Please see PR https://github.com/iterative/dvc/pull/1845.

---

Here's the pip installs for dvc from PyPI for March 2019:

| category | percent | downloads |
|----------|--------:|----------:|
|        3 |  73.99% |     6,320 |
|        2 |  17.53% |     1,497 |
| nu

[2019-04-07 15:00] hugovk commented on #1846
Please see PR https://github.com/iterative/dvc/pull/1847.

[2019-04-07 15:22] #1753 closed

[2019-04-07 15:22] #1797 closed

[2019-04-07 15:50] mroutis commented on #1818
Thank you so much for the detailed stats and for contributing with #1845 and #1847 , @hugovk ! :fire:

[2019-04-07 15:51] #1846 closed

[2019-04-07 18:43] efiop commented on #1676
Hi @rasmuse !

We used to have an assumption that you might have a few checksums, but the code evolved in such a way, that we started to stick with single-checksum assumption. That being said, the underlying logic is still partially there. For example, if you take a look at `checksum_info`(also called `info` sometimes), you'll see that it is a dict, so you could have a few checksums there. Also, e

[2019-04-07 18:53] #1803 closed

[2019-04-07 19:53] shcheklein commented on #1843
Consider introducing actual laziness - https://stackoverflow.com/questions/4148790/lazy-logger-message-string-evaluation . I'm not sure though it can be done w/o introducing some ugly wrapper.

[2019-04-07 21:31] isaacfab commented on #1823
@shcheklein the other tools that use sqllite have it installed in another volume (or on the container itself) so we don't have issues like this. The problem here is that the matrixds project directory is special. It is a public collection of files that any user on the project can use by creating a new tool. This directory is intended to shared and only contain project artifacts (data, code and dep

[2019-04-07 23:18] shcheklein commented on #1823
I'm not sure I completely understand the setup you have. Does it mean that I can share the same directory (`tool-<id>`) on NFS between two different docker containers (two different tools)? I thought that this directory was unique to the container (thus it has a unique id in its path). Could you give me an example how do I share it?

Is this directory intended to run git in it, btw?

Saying that,

[2019-04-07 23:55] efiop commented on #770
Big thanks to @django-kz for contributing `dvc diff` command in https://github.com/iterative/dvc/pull/1778 ! :tada: :rocket: Currently it shows a difference in a number of files and their sizes between git revisions. We could add actual data diff functionality on top of it :slightly_smiling_face: `dvc diff` is going to be released in 0.35.1 today, please feel free to give it a try!

[2019-04-08 09:53] guerrapin opened #1851 "`dvc run` always removes outputs"
Hi there,

Since version `0.33.1`, it appears that `dvc run` always removes outputs no matter the use of the option `--remove-outs`.

Here is a failing code snippet that used to work before the update.
[code]
Is this behaviour the expected one ?

Some fixes to this situation could be:
* replace `-o outs` by  `-o outs/toto.txt`
* use the command `"mkdir outs; echo foo >> outs/toto.txt"`

Anyway, it

[2019-04-08 11:21] efiop commented on #1851
Hi @guerrapin !

Indeed, we've decided to switch from not-removing by default to avoid a potentially dangerous situation when your command doesn't actually produce those outputs and so you will only find it out when your `dvc repro` fails in the future :slightly_frowning_face: Could you describe the scenario in which you used to not remove outputs, please, so we could maybe propose a proper approa

[2019-04-08 11:52] guerrapin commented on #1851
Hi @efiop

Ok I understand. I don't have a specific scenario.
I wasn't using the command the perfect way (i.e. pointing a directory as output while the command only produces files in this directory) and it now prevents me from doing this anymore.
I'll pick the second solution : if I point a directory as an ouput then the command I execute must create this directory (`dvc run -o outs/ "mkdir outs;

[2019-04-08 11:52] #1851 closed

[2019-04-08 12:40] efiop opened #1852 "run: make sure `persist` is ignoring build cache"
We should not use build cache if there are any persistent outputs in the stage. Don't forget to put a warning on about it. See `Stage.is_cached`. Also need to not forget to reflect that in cmd help and our docs.

[2019-04-08 12:45] efiop opened #1853 "run: deprecate `--remove-outs`"
We've switched from a potentially dangerous default of not removing outputs before `dvc run` and so `--remove-outs` is now effectively enabled by default (see `Stage.run()`). So effectively, `--remove-outs` is now simply an equivalent of `--ignore-build-cache`(see `Stage.create()`). Need to reflect that in our help and our docs.

[2019-04-08 18:05] efiop opened #1854 "travis: osx: fix openssl error"
https://travis-ci.com/iterative/dvc/jobs/191136159

[2019-04-08 18:33] efiop commented on #1654
@PeterFogh Really pushing it to be ready until Thursday. Thank you for your patience.

[2019-04-09 06:39] JeroenDelcour opened #1856 "`dvc remove` and `dvc checkout` fail on broken symlinks"
I'm using symlinks (cache is on another drive) and moved the cache directory with `dvc config cache.dir` (also tried changing manually in `.dvc/config`, same effect). When running `dvc checkout` after, it throws the following error:

```ERROR: unexpected error - [Errno 2] No such file or directory: /symlink-path/'```

Removing the symlink manually before running `dvc checkout` works. However, aski

[2019-04-09 11:53] #1856 closed

[2019-04-09 12:19] #1614 closed

[2019-04-09 15:08] efiop commented on #1654
@PeterFogh Actually #1614 has just been released in 0.35.5, please feel free to upgrade. #1654 is coming soon :slightly_smiling_face:

[2019-04-09 18:11] olveirap opened #1858 "Repro: logger doesn't work correctly on exception"
DVC version: 0.35.5+d80137,
Platform: Linux
Method of installation: pip install from git

https://github.com/iterative/dvc/blob/54072d70b542115a78a374fa702129b6959a1d02/dvc/command/repro.py#L50-L51

This lines should be:
[code]

[2019-04-09 19:56] efiop commented on #1858
Great catch @olveirap !

@mroutis This seems to be related to the logger redesign. We used to have logger.error(), that was able to work without any message by simply printing the last exception. Should we support the same with new logger or should we simply pass something like an empty string there?

[2019-04-09 19:58] mroutis commented on #1858
@efiop , I was using empty strings, I'll submit a patch fixing any instance.

[2019-04-09 20:00] efiop commented on #1858
@mroutis Wow, that was fast :zap: :zap: :zap: Thank you! :slightly_smiling_face:

[2019-04-09 20:27] #1858 closed

[2019-04-09 22:39] tivvit opened #1861 "import-url: allow downloading directories"
It is possible to add directory (`dvc add ...`) but it does not work for `dvc import`.

I tried the import for s3 remote and it is possible for a single file but not for a directory. I think it should be possible to list files and download them (it may be slow) or maybe download it as a zip and unzip it (it is supported in Minio). Are you willing to support that feature? I may prepare the support

[2019-04-10 07:34] efiop commented on #1861
Hi @tivvit !

For the record: Transferred this issue from `dvc.org` (our web site) repo to `dvc` (main dvc project repo).

Great suggestion! Could please elaborate on what you expect from that `dvc import -r`? Should it then add downloaded dir as a directory, or should it add every single file inside of it separately? It is basically how `dvc add dir` and `dvc add -R dir` differ:

[code]

Thanks,

[2019-04-10 08:07] robguinness opened #1862 "ssh: error during push causing bad traceback"
# Description

When pushing to a remote SSH the following error occurred (truncated to only relevant output):

[code]

# Information about setup

DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[code]
DVC installed via pip.

[code]
[code]

[2019-04-10 08:09] efiop commented on #1862
Related https://discordapp.com/channels/485586884165107732/485596304961962003/565444183977099264

[2019-04-10 08:49] tivvit commented on #1861
Sorry for the misplacement.

I was thinking about the two possibilities before you asked. For my use cases the `dvc add -R` makes more sense. But when add supports both, then import should probably also support both.

Maybe you have some statistics what is used more? That can suggest which option should we implement first.

[2019-04-10 11:16] efiop commented on #1861
@tivvit No worries :slightly_smiling_face:

We don't have exact numbers, but from my personal feel `dvc add dir` is far more often used than `dvc add dir -R` :) But still, implementing `dvc import -R` would require implementing `dvc import` for like 90%, so it is going to be either added right away or could be added later without any problems :) It is fine to only support s3 for now, if you wish t

[2019-04-10 11:56] pared opened #1863 "Handle .dvcignore on dvc add and dvc run -o"
Upon adding (or run -o) we should throw exception, if we stumble upon .dvcignore file.
Related to #1499 #1820

[2019-04-10 12:18] tivvit commented on #1861
I will take a look at it and submit PR

[2019-04-10 12:22] efiop commented on #1861
@tivvit Thanks! :heart: Btw, we have our chat at https://dvc.org/chat , feel free to join :) Also, check out our contribution guide at https://dvc.org/doc/user-guide/contributing .

[2019-04-10 14:29] PeterFogh opened #1864 "Add command to present locked DVC stages"
I wish that I could get a list of locked DVC stages in my DVC pipeline,
Something with a simular output as given by `grep -r 'locked: true'` *.dvc. See also https://discordapp.com/channels/485586884165107732/485596304961962003/565456202541301770

Possible DVC command could be:
* `dvc lock --list`
* `dvc pipeline show --locked`

I prefer the feature is added to the `dvc pipeline` command, because t

[2019-04-10 17:09] olveirap opened #1866 "Logging: stderr not being catched when using subprocess"
DVC version: 0.35.6+d766d3,
Platform: Linux
Installation: pip -e .

It prints to stdout this kind of message with any command: `fatal: no tag exactly matches 'd766d32d6e82c6952571eeb7ef76d48e8eec5f98'`

[2019-04-10 17:36] shcheklein commented on #1861
@tivvit could you elaborate a little bit on your `dvc add -R` use case, please? It's just a pretty rare feature to use, would love to learn more what kind of scenario does it fit. Thanks for helping us with this, btw 👍 .

[2019-04-10 18:24] shcheklein opened #1868 "add: warning is misleading"
When you update a data directory/file and run `dvc add` to save this new version to cache the output looks like this:

[code]

I think WARNING is misleading here. I'm not doing anything wrong here and feels like that when I see this WARNING.

[2019-04-10 19:09] #1866 closed

[2019-04-10 20:40] efiop opened #1869 "logger: logger.error() is not printing exception as it used to"
logger.error used to show the exception that it was caused by, but it doesn't anymore unless you are using logger.exception. Need to either replace logger.error() with logger.exception() where needed, or make logger.error() print exception too. E.g. see https://github.com/iterative/dvc/blob/0.34.0/dvc/remote/local.py#L511

[2019-04-10 21:35] #1869 closed

[2019-04-10 21:58] Casyfill opened #1871 "store whole DAG in one DVC-file"
I understand the merits of having multiple `.dvc` files for complex processes,
but it would be just great to have the option to store the whole DAG in one Dvcfile!

I feel it might help the overall readability of the structure

[2019-04-10 22:25] shcheklein commented on #1823
@isaacfab hey, any updates on your end? ) could you clarify those things I asked above ^^

[2019-04-10 22:35] shcheklein commented on #1799
https://pypi.org/project/ruamel.yaml/ - this parser or something like this can be used to preserve the info

[2019-04-11 00:01] shcheklein commented on #1214
@AlJohri quick question, but the "warm start" and "reusing previous results" - are you referring to reusing the previous model (trained with a different set of params) to continue training it with a new set? Or is it something different in your case? We would really appreciate your input here! Thanks!

[2019-04-11 00:13] mroutis commented on #1871
I might be overestimating this, but it looks to me that we need to do a huge refactor to support this, or at least not treating `Dvcfile` as a stage and create a separate class to deal with the logic of parsing such file to come up with a pipeline.

I can see the analogy with `make` on this one, but from my perspective, `dvc` is a CLI tool to read and write (stage) files, whereas `make` tool only

[2019-04-11 03:39] AlJohri commented on #1214
hey there, sorry I'm actually not 100% sure what I meant before. it was related to more efficient hyperparameter searching but I can't remember the particular use case. I had a job where the parameter search took a very long time but I don't recall how I thought a warm start might solve that in this scenario

"warm start machine learning" has a lot of hits on google so perhaps you can read more ab

[2019-04-11 04:01] #1853 closed

[2019-04-11 07:52] rpip commented on #1864
Working on this. Will post updates here.

Expect a PR soon

[2019-04-11 07:56] pared commented on #1864
@rpip Thank you very much!

[2019-04-11 11:32] pared opened #1873 "Investigate flaky logger tests"
Sometimes, upon running parallel tests, test_logger fails.
Chance for failing seems to increase upon running
`python -m tests -n={X}`
where X > num_cpu
and inserting sleep for 1 second before assertion in one of the test_logger.py tests.

Running with X < num_cpu seems to decrease chance of failing

[code]

[2019-04-11 11:49] pared commented on #1873
might be usefult to reproduce:
[code]

[2019-04-11 17:21] mroutis commented on #1873
@pared , this is interesting, I think it is because it generates different logs and `caplog` registers them, I will thinker with it and see if I can come up with a solution.

[2019-04-11 18:03] robguinness opened #1874 "diff: Stats reported by dvc not correct"
# Description

When tracking a directory using DVC, the stats reported by `dvc diff` are not correct. For example, in a small test repository, the directory `test` is being tracked by DVC. When running `dvc diff` between two commits, the following is reported:

[code]

It should say that 1 file was modified, but instead only reports the size change correctly.

# Information about setup

[code]
DVC

[2019-04-11 18:04] rpip commented on #1864
Should this also display the lock files when printing commands and output files? If that's the case, then I think `dvc pipeline show --locked` is the best approach as it works nicely with the existing options.

Alternatively, we could indicate the lock status by default for `dvc pipeline show`.

[2019-04-11 18:06] pared commented on #1873
To be honest I just had suspicion that we have some kind race condition and assumed that there will be higher chance of "test overlapping" if one is too slow. Tried it and it seems to work.

[2019-04-11 18:28] efiop commented on #1864
@rpip Agreed, `dvc pipeline show` with an explicit `--locked` is a good way to start. We will be able to make it enabled by default later after that if we wish to. :slightly_smiling_face:

[2019-04-11 18:33] PeterFogh commented on #1864
@rpip, Hmm, could you give some detailed examples of the possible commands and their output?
The tricky thing here is to keep the output easy to understand. A stage can be locked, but is it possible to lock a dependency or output?
I would say no for dependencies, but as an output file (in DVC only) can com from one DVC stage, one could say it is indirectly locked by its stage.🤔

[2019-04-11 18:53] mroutis commented on #1873
Relevant: https://docs.pytest.org/en/latest/flaky.html

[2019-04-11 20:43] efiop opened #1876 "dvc: use dvcignore when adding data with `dvc add/run`"
[code]

[2019-04-12 06:05] Suor commented on #1799
I reviewed the issue and have several strategies to solve it:

1. Superficial. Use `ruamel.yaml` to parse file, store structure with comments and everything in `Stage`, then work as usual. On save dump classes to dicts and apply diffs to stored structure. Then serialize structure to file.

2. Fundamental. Use `ruamel.yaml`, resulting structure will serve as internals state of Stage, deps, outs cla

[2019-04-12 07:30] shcheklein commented on #1799
@Suor just trying to better understand the second case. What will happen to classes (e.g. outs) that do have polymorphic behavior? Also what are the benefits of using this approach do you see?

👍

[2019-04-12 07:38] shcheklein commented on #1874
Context https://discordapp.com/channels/485586884165107732/485596304961962003/565909315945365544

[2019-04-12 08:57] Suor commented on #1799
@shcheklein they will stay classes, but all data access will be proxied to underlying ruamel structure (ordered dict with additional attrs), this way will they stay the same from outside and in big part inside too. The benefits of the fundamental approach are simpler code and less code.

---

Here is my thought process behind those solutions.

Currently we load yaml to python structure, validate i

[2019-04-12 11:06] rpip commented on #1864
All clear now - thanks @PeterFogh.

For now, it'd be `dvc pipeline show` with an explicit `--locked` argument.
This basically filters/displays only the locked stages:

[code]

Later, when `--locked` is enabled by default it would look like this as proposed in the ticket:

[code]
We can also add some colors to the terminal output to highlight the differences more

[2019-04-12 11:07] Suor commented on #1799
Discussed this with @efiop.

Will be implementing superficial approach now. We will return to fundamental approach later in separate ticket when we decide to go after tech debt.

Another topic we discussed was future compatibility issues connected to arbitrary custom keys. Our solution was to allow users to write anything under single top level key `meta` and disallow in any other places. The tool

[2019-04-12 12:24] Suor opened #1878 "test: tests using StaticFileServer() fail if port 8000 is already bound"
DVC 0.35.6+7fa869, Linux, git

If port 8000 is bound then tests using `StaticFileServer` hang up and then fail. Additionally fail is weird, it doesn't say that port is busy, but throws AttributeError.

Proposed measures:
- use random port
- use random delay
- do not silently give up, loadly fail with appropriate message instead

[2019-04-12 14:24] PeterFogh commented on #1864
@rpip, awesome plan and handling of the feature👍

[2019-04-12 17:02] efiop commented on #1873
Fixed by #1875

[2019-04-12 17:02] #1873 closed

[2019-04-12 17:04] villasv opened #1880 "init: fails on 2nd run with NTFS on Linux (gitdb lib bug)"
DVC Version: 0.35.7

lsb_release -a
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

Steps to reproduce:
[code]

[code]

[2019-04-12 20:23] efiop commented on #1799
@Suor I don't think we should do any moving actually, because of the potential problems with forward compatibility. Imagine we've introduced a new key `newkey` in a new release. One user creates a stage and then shares it with his colleague, that is running an older dvc. In that case, if we would to automatically move `newkey` to `meta/newkey`, which, if commited back to repo, would break everythi

[2019-04-12 22:50] efiop commented on #1880
@villasv Hm, very interesting. I am not able to reproduce this myself :slightly_frowning_face: Does this script still reproduce that for you?
[code]
Notice I've added `-v` to the last `dvc init` so we could hopefully have some more traceback.

Is there anything special about your scenario?

Thanks,
Ruslan

[2019-04-13 02:07] #1836 closed

[2019-04-13 18:32] olveirap opened #1883 "dvc: dvc run should check if dependency is output of another pipeline"
When performing a `dvc run` and using as dependency the output of another pipeline, this pipeline isn't checked if it should be run again. The only solution for this is to do `dvc run` and then do a `dvc repro` to rerun everything updating the dependencies. One could make the mistake of just running `dvc run` and if this happens on a final stage of their project, find out late that the last output

[2019-04-13 20:01] shcheklein commented on #1864
@rpip let me clarify this, so if the current implementation you made is effectively filters stages I don't understand how then it can be made enabled "by default". Does it make sense to just keep the filter `--locked` option _and_ an additional option -x (extended) or something similar to show additional information about each stage (including that `locked` suffix)? I can imagine in the future we'

[2019-04-13 20:27] efiop commented on #1883
Some more context from discord https://discordapp.com/channels/485586884165107732/485596304961962003/566396864086147092

[2019-04-13 22:49] rpip commented on #1864
Good point, @shcheklein. I had thought about this earlier using the verbose flag instead. That way, when in verbose mode, we display more information about the stages, and we could implement a system-wide verbose-mode display of objects. But I also thought using the verbose flag might conflict with other intentions behind the verbose flag.

So yes, I think an option -x (extended) or something simi

[2019-04-14 16:02] guysmoilov opened #1884 "Short flag for persisted outputs"
From: https://github.com/iterative/dvc/issues/1214
Since this is will probably be an often-used feature, I believe it warrants its own single-letter command line flag. Maybe `-p -P`?

[2019-04-14 16:22] efiop commented on #1884
@guysmoilov We are still debating whether or not `persist` should be an allowed hack or not. Here is another question that we are thinking about right now while working on https://github.com/iterative/dvc/pull/1877 with @mroutis . Imagine you have `persist` outputs for some stage in your pipeline. Should `dvc repro` consider them as changed every time and re-run them or should it not? If we are ta

[2019-04-14 19:03] guysmoilov commented on #1884
I think it definitely shouldn't be "always changed".
Changed implies that the dependencies are different, not that I want to resume from a checkpoint.
When I want to resume from a checkpoint, I just force the re-running of the stage.
tbh I also am not a huge fan of the "stage with command and no deps is always considered changed" approach, it's annoying when I want a stage to import raw data using

[2019-04-14 19:17] efiop commented on #1884
@guysmoilov Great point! I agree with that.

We have an issue for callback stages already https://github.com/iterative/dvc/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+callback . We'll try to permanently fix it in 1.0.

[2019-04-15 00:28] efiop commented on #1654
@PeterFogh FYI: Have a working implementation for ssh at https://github.com/efiop/dvc/tree/1654 . Now polishing and adding proper tests. ETA is this week. Thanks for your patience.

[2019-04-15 11:56] pared opened #1887 "cache: structure tests for different cache types"
Currently our tests for different cache types usually deal with some specific use case, and assert intended behaviour for particular cache types.
E.g.
https://github.com/iterative/dvc/blob/f20818cd7382d119eb63cdc45608ab91635b6fc9/tests/test_checkout.py#L522
checks behavior only for "symlink" cache type.

 We should consider writing consistent tests that would check appropriate behavior for each ca

[2019-04-15 11:59] efiop commented on #1887
Directly related to https://github.com/iterative/dvc/pull/1841

[2019-04-15 13:34] villasv commented on #1880
I'm using Bash on WSL, so maybe something funny is happening at the filesystem level?

[code]

[2019-04-15 14:27] Suor commented on #1799
Just a reminder this is now consists of two parts:

- [ ] retain comments and formatting
- [ ] support custom fields under top level `meta` key

The first part is implemented in this PR https://github.com/iterative/dvc/pull/1885

[2019-04-15 14:38] Suor opened #1888 "test: tests need more love"
There are several issues with tests, which make them annoying and less efficient part of developer workflow (staging is fine). Here is a list:

- [x] updater and analytics processes are started during tests
- [ ] errors are wrapped in friendly messages, which bloats output
- [x] debug log level bloats output
- [x] temporary dirs not cleared #1770
- [ ] tests are slow

Some of this is either fine o

[2019-04-15 15:00] efiop opened #1889 "test: s3: use moto to test multipart objects"
Currently, we are unable to use it because of [this bug](https://github.com/spulec/moto/issues/2154). When it is fixed, we should switch to it from using actual s3 for unit testing. Related to https://github.com/iterative/dvc/pull/1867

[2019-04-15 15:01] efiop commented on #1889
Related https://github.com/iterative/dvc/issues/907

[2019-04-15 15:36] pared opened #1890 "checkout: print reminder of other link types on default link cache"
Related to #1257
After mergin #1841 we make reflink and copy default link types.
That might slow process of checking out for bigger files. Implement mechanism to detect prolonged checkout time and print some kind of information that other link types might speed process up. Also, there should probably be easy way to turn this message off, if someone deliberately leaves defaults.

[2019-04-15 15:45] fgadaleta opened #1891 "dvc metrics: show metrics across branches fails with file does not exist"
DVC version 0.35.7

[code]

[2019-04-15 15:47] efiop commented on #1891
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/567370634741415936

[2019-04-15 15:58] pared commented on #1891
Turns out @fgadaleta had to cd to root of repo, then problem disappeared. When fixing we should either gather metrics starting with root and not `cwd` or display some more meaningful error.

[2019-04-15 16:54] efiop commented on #1891
@pared Clearly for `dvc metrics show -a` it is implied that we are collecting metrics for the whole repo, and we indeed do that, but we don't take cwd into account when trying to read stage files, which is where the issue comes from.

[2019-04-15 16:57] shcheklein commented on #1499
Please, create a ticket or a page to document the changes.

[2019-04-15 16:58] shcheklein commented on #1257
Please, create a ticket or update the docs.

[2019-04-15 19:10] luxedo commented on #1522
I'm having the same issue
[code]

Running dvc push -v I get the following output:
https://gist.github.com/luxedo/ad000abdbb4e5a717e7da15e1e0b65d3

I think that it has something to do with GCP:
[code]

[2019-04-15 19:22] efiop commented on #1522
Related discord discussion https://discordapp.com/channels/485586884165107732/485596304961962003/567428611460694046

[2019-04-15 19:30] luxedo commented on #1522
@efiop suggested the following workaround and it worked:

`gcloud beta auth application-default login`

[2019-04-15 20:43] jorgeorpinel opened #1893 "`dvc diff` calls a file change "added file" (with negative size)"
**Please provide information about your setup**
DVC version 0.35.7 installed with Homebrew on macOS v. 10.14.4

**To reproduce**
[code]

**Problem**
The output of the last command above is
[code]

Why "added file" ? The `model.pkl` file changed.

[2019-04-15 20:43] jorgeorpinel commented on #1893
May be related to https://github.com/iterative/dvc/issues/1874

[2019-04-15 21:05] #1257 closed

[2019-04-15 21:05] #1499 closed

[2019-04-15 21:18] mdscruggs opened #1894 "Config to enable/disable updater"
It'd be great if we could disable the updater feature via `dvc config`. It's rather noisy due to the frequent release cycle of DVC.

[2019-04-15 22:31] shcheklein commented on #1894
@mdscruggs I think it's dangerous to disable it completely. We can find some middle ground here. What do you think if we introduce a notion of critical updates? For example, we know that there is a critical patch that fixes a certain version. We can detect the version running and notify only of versions match. I would notify at least once in a few days about minor version change anyways.

[2019-04-16 01:22] shcheklein commented on #1880
@villasv what happens if you run `git add .dvc/config` after this exception? Could you also run

`ls -la` for these last two git object (a link and an object):

[code]

Do they have a regular user/group?

Is it possible that there are some security settings on Linux (this is Linux right) that prevent access to any other process to these files except git itself? What do you think, @efiop ?

[2019-04-16 07:22] efiop commented on #1880
@shcheklein @villasv Judging by `/mnt/c/Users`, are you mounting your windows ntfs partition? Or maybe even NFS? If so, it is probably something like `fs.protected_symlinks` that is to blame. Though, regular `git` should probably throw the same error as well.

[2019-04-16 13:46] #1864 closed

[2019-04-16 20:58] efiop commented on #995
Related discussion on discord https://discordapp.com/channels/485586884165107732/563406153334128681/567801713948360725 proposing `--parse` option that would parse command by itself.

[2019-04-17 10:55] rpip commented on #1762
Working on this now

[2019-04-17 14:23] belskikh opened #1898 "Bug with showing metrics when repo contains a submodule"
version: 0.35.5
platform: Ubuntu 18.10
installation method: pip

Description:
[code]

The complete deletion of a submodule helps, but recloning of repo required

[2019-04-17 14:27] efiop commented on #1898
From discussion on slack: using the upcoming `dvcignore` feature by adding submodule dir to `.dvcignore` might help, but since re-cloning was required it seems quite unlikely :slightly_frowning_face:

The bug itself is from gitpython: https://github.com/gitpython-developers/GitPython/issues/597 . Workaround listed in the issue does not work.

[2019-04-17 15:50] mdscruggs commented on #1894
Any means to make the updater less noisy would be helpful, even if it still runs @shcheklein. The fast pace of DVC releases means it is effectively alerting us every few days...

While it is healthy to encourage users to update due to bug fixes and new features, users shouldn't feel pressured into updating constantly.

Even `pip` itself has a configuration setting for this, and releases far less f

[2019-04-18 00:54] efiop opened #1900 "refactoring: use kwargs instead of long lists of explicit args"
E.g.

https://github.com/iterative/dvc/blob/master/dvc/repo/run.py

https://github.com/iterative/dvc/blob/master/dvc/repo/reproduce.py

In general, need to look where CC complains about too much args.

[2019-04-18 01:21] puhoshville opened #1901 "Feature: `dvc add` add file by remote link"
Regular pipeline:
1) Download data from place A;
2) Add that data to DVC and push it to place B (remote storage);

But if A and B are the same a file will be duplicated since DVC names files by hash. The option to add a data file by remote link will save a lot of time and storage.

[2019-04-18 02:16] shcheklein commented on #1894
Ok, how about this plan:

1. we introduce a config option to alter the interval (default is once a day)
2. we introduce a mechanism to notify about critical updates (support a list of versions affected on the updater side, emphasize the message on the DVC side, etc).

would it suffice?

I really wan to avoid turning it off completely. It's dangerous because we are dealing with data here.

[2019-04-18 09:55] jorgeorpinel opened #1902 "Print shorter versions of git commit hashes in `dvc diff`"
Per https://github.com/iterative/dvc.org/pull/244#discussion_r275607398, requested by @shcheklein

Currently `dvc diff` outputs a line such as
[code]

with the full-length commit hashes. Can we just print the first 7 characters like Git and GitHub support?

[2019-04-18 09:56] jorgeorpinel commented on #1902
Ping @efiop what do you think? If you approve, I can try to implement this myself and send a PR. Any tips on what source code to focus on will be appreciated if so.

[2019-04-18 12:00] efiop commented on #1902
@jorgeorpinel Great idea! All diff-related logic is in `dvc/repo/diff.py` `dvc/command/diff.py` and `dvc/scm/git/__init__.py` pretty much. The part that needs adjusting is most likely in `dvc/scm/git/__init__.py::Git::get_diff_trees`. Thanks for looking into it :slightly_smiling_face:  Let us know if you need any additional help with this patch.

[2019-04-18 15:42] efiop commented on #1429
To make it more clear: currently we collect all used cache and all unused cache into the memory and even copy those lists a few times while working on them. That can get ugly when you have a lot of giant directories (~1M files) in your workspace and cache. Need to investigate the bottlenecks and try to fix them.

[2019-04-18 18:46] efiop commented on #1901
Hi @puhoshville !

Sorry, not sure I follow. Could you please elaborate?

[2019-04-19 05:01] shcheklein commented on #1902
@jorgeorpinel thanks! 👍 do you want to assign it to yourself?

[2019-04-19 05:42] shcheklein commented on #1633
@efiop I this one is resolved now?

[2019-04-19 05:47] jorgeorpinel commented on #1902
Thanks @efiop I do need some more guidance. Questions:
- Is there a README on how to install the dvc repo locally for development? I guess just `pip install -r requirements.txt` but when how do I run that local copy of DVC?
- `dvc/scm/git/__init__.py::Git::_get_diff_trees` has
[code]
  (which seems to be the only place where `gitdb` is used in the entire repo?)
  but a) I can't find `gitdb` in req

[2019-04-19 05:55] shcheklein commented on #1902
@jorgeorpinel I think this a good starting point to setup dev environment - https://dvc.org/doc/user-guide/contributing

https://github.com/gitpython-developers/GitPython pulls gitdb with it. I'm not sure about the version though.

[2019-04-19 06:08] robogeek opened #1905 "UX issue with dvc pull - does not pull entire remote cache"
**Please provide information about your setup**

Mac OS X with:

[code]

The issue is replicable using the Getting Started workspace.

When set up using these commands:

[code]

It appears the cache is incomplete.  This is observed by checking out different Git tags and attempting to use `dvc checkout`.

[code]

Notice that the directory `.dvc/cache/33` is not there, just as the error message says

[2019-04-19 06:11] robogeek commented on #1905
To add a bit of analysis.

I believe we can describe the behavior of `git pull` as ensuring all commits from the remote repository are copied down to the local repository.

Therefore the parallel for DVC should be that all data files in the remote cache are copied down to the local cache.  That is the behavior I expected.

[2019-04-19 06:53] jorgeorpinel commented on #1902
Thanks Ivan!

I followed the contributing guide which was quite straightforward, thanks. This allowed me to test my small change locally and it seems it works. Here's the PR: https://github.com/iterative/dvc/pull/1906

Regarding `gitdb` I do see it in the [reqs of gitpython](https://github.com/gitpython-developers/GitPython/blob/master/requirements.txt) now, thanks. And it is a pretty outdated ver

[2019-04-19 12:02] efiop commented on #1633
@shcheklein Not yet.

[2019-04-19 12:04] #1633 closed

[2019-04-19 12:09] efiop commented on #1905
@robogeek `dvc pull` has `--all-branches` and `--all-tags` options. The reason why `dvc pull` doesn't have those enabled by default is that it is dealing with data, and pulling cache for all references might take up too much space.

[2019-04-19 17:21] shcheklein commented on #1905
I think the point was that we need to introduce an option to auto-pull (we have a ticket for this, ritht) when we use git hooks. Otherwise there is no easy now to, let's say go to a certain git commit (no tag, no branch) if some data is missing in cache. There is no way to go to a tag w/o fetching the whole cache, right?

[2019-04-19 17:28] efiop commented on #1905
@shcheklein Not really. `dvc pull` will pull what is currently used. So if you `git checkout tag` and then `dvc pull`. it will pull data for that specific tag.

[2019-04-19 17:35] shcheklein commented on #1905
Okay, there is some misunderstanding. I though (from the discord discussion) that the purpose of the ticket is a little bit different. To be precise, the question comes down to: if dvc checkout hook is installed can we do git checkout without fetching the whole cache first - this is what bothers me, sorry that my question was out of the context.

[2019-04-19 18:50] robogeek commented on #1905
It seems there is confusion about my thought about this.  First I filed it because @shcheklein  asked me to do so ;-)

But to me the issue is not about `dvc checkout` but about the behavior of `dvc pull` with no options.

My expectation was that `dvc pull` with no options would pull down all data files (ditto with `dvc fetch`).

I was honestly surprised to see that it had not.  My initial assumpti

[2019-04-19 19:10] shcheklein commented on #1905
This all true, @robogeek . But like Ruslan mentioned ML and Data Science are different. It's very unreasonable to pull all data at once - in most cases you don't even have enough space for that. The lack of this laziness is one of the reason why git breaks when you try to save binary files in it - clone becomes too slow.

Your and @jorgeorpinel's point still makes sense. What we can do is to empha

[2019-04-20 18:02] efiop opened #1909 "http: fallback to GET if HEAD is not supported"
Reported by @robogeek.

 As @shcheklein noted, not all servers implement HEAD properly, so we could try to fallback to GET to check if file exists and get its etag.

Steps to reproduce
[code]

Related discussion on discord: https://discordapp.com/channels/485586884165107732/485586884165107734/568946737692147734

[2019-04-20 20:08] efiop opened #1910 "stage: user friendly message for schema errors"
Currently when you try to use dvc file created by a newer version with an older one, you get:
[code]
which is not friendly. Need to improve these kinds of error messages.

[2019-04-20 22:31] efiop commented on #1905
Maybe some info message that looks something like "Pulling cache for the current workspace. To pull cache for the whole project see `dvc pull -h`." ? Would it help to make it more clear?

[2019-04-21 14:48] puhoshville commented on #1901
Hi @efiop, sorry for a late answer.
I'm about way we are adding dataset (*.dvc files) and pushing it to the remote storage. From the documentation (https://dvc.org/doc/get-started/add-files):
[code]

But let's assume that the data we need to use already placed in s3://mybucket/myproject. It will look like:
[code]

My suggestion is to introduce a new feature: add a file by link.  It must look like:

[2019-04-21 16:18] efiop commented on #1901
@puhoshville But dvc cache that you push to your remote is not compatible with a plain file on your remote and it serves a totally different purpose by providng cache that your data is versioned to. Maybe you are looking for [external dependencies](https://dvc.org/doc/user-guide/external-dependencies) or [external outputs](https://dvc.org/doc/user-guide/external-outputs) feature?

[2019-04-21 21:33] jorgeorpinel commented on #1905
I like the concept of "principle of least surprise". However I'm not sure what my natural expectation would be with `dvc pull`... Even when I did have the same problem initially in not understanding what I was missing (`dvc fetch -T`) I think I do agree more with Ivan and Ruslan that it's not very reasonable for DVC to download all the data files by default. For example, from what I remember Git L

[2019-04-21 21:36] jorgeorpinel commented on #1905
p.s. have we considered DVC automatically adding hooks to `git checkout` and `git pull` like Git LFS does to save the user the need to type the `dvc pull` command?

[2019-04-21 21:40] jorgeorpinel commented on #1905
Oh lol sorry the auto-pull option is exactly what Ivan was talking about! Maybe we should open another ticket for that.

Anyway I'm happy to volunteer to change docs and command help message/ output text for now if that's the route decided. Please lmk

[2019-04-22 14:20] mdscruggs commented on #1894
That sounds good @shcheklein.

Users who must or want to stabilize on a specific release of DVC should be able to do so without excessive alerting.

[2019-04-22 14:33] puhoshville commented on #1901
@efiop Oh, it fully satisfies needs I was talking about, sorry for a false bell. Everything already was provided in advance, thank you!

[2019-04-22 14:33] #1901 closed

[2019-04-22 19:17] mroutis opened #1912 "Does it make sense to support `--file` option for `add` and `import` commands?"
The purpose of using the same name for stage files and regular files (`hello.txt` <-> `hello.txt.dvc`) was to use stage files as a placeholder for the actual files. Having `dvc add --file` and `dvc import --file` would _break_ this notion.

However, it make sense to have that option for `run`, as you might use it to assign a name that reassembles what that stage does (e.g. `train.dvc`, `transform.

[2019-04-22 20:24] mroutis commented on #995
[x-post from discord]

I don't know if DVC is _the tool_ for this use case, but let's imagine that you want to specify a pipeline that depends on a directory (e.g. `raw`) and transform the content and put them on another directory (e.g. `processed`), so you have something like the following:

[code]

currently, there's no way to add another file to the raw directory and compute only that last file

[2019-04-22 21:38] efiop commented on #1827
`dvc import` now supports `-f` https://github.com/iterative/dvc/pull/1895 . Closing this issue, please feel free to reopen 🙂

[2019-04-22 21:38] #1827 closed

[2019-04-22 22:30] shcheklein commented on #1799
Please, don't forget to update or create an issue for the documentation - probably, this one at least - https://dvc.org/doc/user-guide/dvc-file-format

[2019-04-22 22:39] shcheklein commented on #1912
Good point!

But on the other hand, what if you don't these placeholders to be less visible or completely invisible (git-lfs style?)?

[2019-04-22 22:56] mroutis commented on #1214
Hello, @guysmoilov , @AlJohri, @pared , @efiop  !
I was thinking about the _usefulness_ of having a `persist` flag and the reason behind it, after reading the whole convo the use case is still not clear for me.

The idea to resume a process from a certain point could be handled by the script itself (writing to a temporary file not specified on the `run` command as output and then, when the process

[2019-04-22 23:38] #1891 closed

[2019-04-22 23:43] mroutis opened #1913 "run: running the same command twice on a callback stage doesn't reproduce"
version: `0.35.7+8ef52f`

----
[code]

The second run should have run the command again, as it is a callback stage.

[2019-04-23 01:38] isaacfab commented on #1823
@shcheklein got busy :). The workaround referenced above worked so we are good right now (we have a number of users doing this). We are working on a more permanent NFS solution that will take a bit more time to implement. I'll ping you once we have it done.

[2019-04-23 01:41] shcheklein commented on #1823
@isaacfab glad to hear that, Isaac! I'm going to close the issue for now since we have a workaround and looks like no action items from the DVC end for now. Please, feel free to reopen it when you get to the NFS redesign and if you need our help. Thanks.

[2019-04-23 01:41] #1823 closed

[2019-04-23 08:34] Suor opened #1915 "dvc: use python DB API and not str.format() to make SQL queries"
Here is [the PEP](https://www.python.org/dev/peps/pep-0249/). For sqlite3 it [looks like](https://docs.python.org/3/library/sqlite3.html):

[code]

This will prevent [SQL injections](https://xkcd.com/327/) and probably some other bugs.

[2019-04-23 15:28] mastaer opened #1917 ""dvc metrics show -a" doesn't work if a metric file is missing"
I have three branches. Every branch is one experiment. One experiment should create a metric file as output. Two experiments are already finished, the third experiment is still running. So I have two experiments (= branches) with a metric file and one without.

Now I want to use "dvc metrics show -a" to get the result from the two already finished experiments. But I got an error that the branch wi

[2019-04-23 15:44] tivvit commented on #1861
I have started implementing it last week and I have also studied the architecture and the ideology. The outcome is here https://github.com/tivvit/dvc/commit/4dd1d9a6d5565931389e519022ae5977ac65ece3 but it is not finished.

I have encountered some problems and I have questions:
* Prefix search is possible - should I do it every time (like I do now)? I am asking because it is a huge change in API. S

[2019-04-23 15:52] shcheklein commented on #1890
We should also add the message when we move files to the cache initially - `dvc add`, `dvc run`, `dvc import`...

[2019-04-23 17:24] pared commented on #1890
Ok, can we make it to new issue?

[2019-04-23 17:45] shcheklein commented on #1890
@pared I would split if the patch for the first part is almost ready

[2019-04-23 17:53] pared commented on #1890
Ok, ill just rename config options so that they match all situations, to prevent potential backward incompatibility.

[2019-04-23 18:10] efiop commented on #1890
`slow_link_warning` is the one that we need. It applies to add, checkout, etc. And it actually might answer the question of how this warning should be handled in general :slightly_smiling_face:

[2019-04-23 18:22] efiop opened #1918 "dvc: .dvc/lock and sqlite lock on NFS and CIFS"
As it turns out, regular locks can't be relied on when dvc is running on NFS or CIFS. See https://github.com/iterative/dvc/issues/1823 and https://discordapp.com/channels/485586884165107732/485596304961962003/570270243964846081 .

There are workarounds such as adding proper mnt options or moving dvc project outside with an external cache directory at NFS/CIFS mount, but it would be great to mitiga

[2019-04-23 18:25] efiop commented on #1918
Running
[code]
on CIFS, results in
[code]

[2019-04-23 21:00] pared commented on #1876
Note about get_mtime_and_size:
 Initial idea and implementation (avialable at https://github.com/pared/dvc/tree/1499_original) was to calculate dict_md5 of map(path : mtime) for each file in directory. That way we could detect new files and files modification, yet still "dvcignore" files.

[2019-04-23 22:04] brbarkley opened #1919 "dvc metrics show - implement jsonpath-ng instead of python-jsonpath-rw"
Hello,

For passing JSONPath to ``dvc metrics show`` is it possible to use [jsonpath-ng](https://github.com/h2non/jsonpath-ng) under the hood instead of [python-jsonpath-rw](https://github.com/kennknowles/python-jsonpath-rw)?

``jsonpath-ng`` seems to more fully support JSONPath features, for example the ability to filter on certain values: ``$..book[?(@.price<10)]`` which would be useful for comp

[2019-04-23 22:23] efiop commented on #1919
Hi @brbarkley !

Great question! I don't quite remember why we've opted for `python-jsonpath-rw`. Looks like we could simply start using `jsonpath-ng` instead and we should be fine as long as tests pass. Would you like to submit a PR? :slightly_smiling_face:

Thanks,
Ruslan

[2019-04-23 23:42] efiop commented on #1861
It can be explicitly marked with a / or * at the end or it can autodetect if it is a directory (otherwise it will throw file does not exist error)

It should behave that way by default. You should use `-R` option to enable such behaviour, as we've discussed above.

Sorry, I'm not sure I follow. Could you elaborate please?

It is simply not implemented yet. From import's perspective `dvc import loc

[2019-04-24 02:12] pared commented on #1890
Example:
https://asciinema.org/a/2XsHkAUcUfx1aHfmUV7atnpoJ

[2019-04-24 02:57] efiop commented on #1655
Closed accidentally.

[2019-04-24 02:58] efiop commented on #1654
Closed accidentally. Generalization and support for directories on ssh is done.

[2019-04-24 05:26] Suor opened #1921 "Stage.dumpd() might be problematic"
Code [here](https://github.com/iterative/dvc/blob/b8018c16a7e847a8a9cfb3493ac024219932cb85/dvc/stage.py#L603-L620) removes all falsy values from `Stage` dictionary representation while it should probably remove defaults.

With code we have now any key with truthy default value will eventually lead to a bug when its falsy non-default value will be forgotten upon dump.

Note that, any fixes to this

[2019-04-24 05:39] shcheklein commented on #1921
👍 I think we should be a bit more flexible - for each parameter specify a default value and also if we want it to be remove or not by default from the dump. All of the default values should be removed from the checksum calculation.

Also, I think we can make this change without affecting the checksum computation - I mean we can do this refactoring in way that all existing files keep the checksum.

[2019-04-24 07:46] Suor opened #1922 "test: stop using unix specific tools in tests"
There are [cat](https://github.com/iterative/dvc/blob/b8018c16a7e847a8a9cfb3493ac024219932cb85/tests/func/test_add.py#L240) and [ls](https://github.com/iterative/dvc/blob/b8018c16a7e847a8a9cfb3493ac024219932cb85/tests/func/test_add.py#L262) used in tests. Which may fail or not on windows depending on env.

[2019-04-24 13:37] luxedo commented on #1898
I'm having the same issue, but I'm running `dvc fetch -a -T`.

My workaround was to fetch the data from a previous commit without the submodule.

[2019-04-24 15:02] belskikh opened #1923 "Autocomplete for file names doesn't work (partially) [bash]"
Hello!
When I use autocompletion script from here `https://github.com/iterative/dvc.org/blob/master/static/docs/user-guide/autocomplete.md` it doesn't complete file and directory names from current directory for the command `dvc repro ...`.
But if I add some flag, for example `dvc repro --force ...` then it works fine.
What should be changed in bash autocomplete script to allow autocompletion for

[2019-04-24 15:11] efiop commented on #1923
Hi @belskikh !

Thanks for the feedback! I suppose you'd like to contribute a fix for it? @mroutis should be able to help with it.

For the record: moved issue from dvc.org repo to dvc repo.

[2019-04-24 16:13] belskikh commented on #1923
Hi, @efiop
Yes, I will fix it, if someone helps me

[2019-04-24 17:17] mroutis commented on #1923
@belskikh , are you using the latest version of the script?
It should be working (or at least it does for me), the line that deals with this is the following:

https://github.com/iterative/dvc/blob/dd8598e53ea03aaa7554c6ebf8fa7fe37baffc31/scripts/completion/dvc.zsh#L150

[2019-04-24 17:20] ghost opened #1924 "scripts: Zsh completion should work with subcommands"
For example: `dvc metrics show <tab>`.

The way to support this would be to modify the way we parse our arguments to support subcommands https://github.com/iterative/dvc/blob/dd8598e53ea03aaa7554c6ebf8fa7fe37baffc31/scripts/completion/dvc.zsh#L231-L240

[2019-04-24 19:00] efiop commented on #1354
Such metadata should be stored in dvc project itself(even without git), so we don't need separate files. That approach is going to be implemented with `dvc pkg` feature. Related to https://github.com/iterative/dvc/issues/1487 .

[2019-04-24 19:00] #1354 closed

[2019-04-24 19:04] efiop commented on #1420
Closing for the lack of interest from the community.

[2019-04-24 19:04] #1420 closed

[2019-04-24 19:21] efiop commented on #1626
We'll add this option when additing something that uses it. Closing for now.

[2019-04-24 19:22] #1655 closed

[2019-04-24 23:56] #1852 closed

[2019-04-25 01:53] shcheklein commented on #1555
documentation, guys? )

[2019-04-25 01:55] efiop commented on #1555
@shcheklein linked in the PR: https://github.com/iterative/dvc.org/issues/271

[2019-04-25 01:55] #1555 closed

[2019-04-25 04:56] Suor commented on #1922
Also test `TestShouldNotCheckoutUponCorruptedLocalHardlinkCache.test` fails with
[code]

[2019-04-25 05:06] Suor opened #1927 "test: symlinks tests fail on Windows"
Tests
[code]

fail on windows with various unhelpful messages. @efiop clarified that symlinks require special rights to be used on Windows. So we should either skip these tests in the absence of symlink rights or give better error messages.

[2019-04-25 05:20] Suor opened #1928 "test: some metric tests are run twice"
`TestMetricsCLI` subclasses `TestMetrics`, presumably, for its setup, but also inherits all its `.test_*()` methods, which makes pytest run them twice.

[2019-04-25 05:30] Suor opened #1929 "test: TestMetrics.test_formatted_output may fail on Windows"
It runs successfully on appveyor, but fails on Windows 10 free image with:

Note that "unable to read metric in 'metrics.csv' in branch ...", the full error is:

[code]

So it's something about encodongs. Most probably some `open()` somewhere doesn't specify encoding and that falls back to system default, say cp1252, which somewhat works for text in the test, but fails later then it's read as unic

[2019-04-25 05:42] Suor commented on #1929
NOTE: to prevent future errors of this type we may `setlocale()` globally to use UTF-8.

[2019-04-25 06:52] mroutis commented on #1922
that's a shame! :disappointed:

[2019-04-25 07:29] Suor opened #1930 "dvc: split logger and stdout/stderr"
This is weird in itself using logging to communicate with user, this can also cause issues. When we manipulate log level we also change the tool output, which can lead to surprising behavior.

[2019-04-25 07:30] Suor commented on #1799
So this is done but docs.

[2019-04-25 07:34] belskikh commented on #1923
@mroutis I am using this version
https://github.com/iterative/dvc/blob/dd8598e53ea03aaa7554c6ebf8fa7fe37baffc31/scripts/completion/dvc.bash

[2019-04-25 07:38] mroutis commented on #1930
@Suor , there was a refactor a few weeks ago #1753 it can give you a little bit more context of why we decided to implement it that way. What are your suggestion, tho?

[2019-04-25 07:40] Suor opened #1931 "dvc: refactor stage/outs/deps to use .dvc file-like structure"
This comes from discussion in #1799:

The benefit is overwhelming reduction of load/save code, unification of scheme and defaults (see #1921) and overall simplification. E.g. now `_state` dups objects attrs.

[2019-04-25 07:45] mroutis commented on #1923
check this out, @belskikh :

[![asciicast](https://asciinema.org/a/242753.svg)](https://asciinema.org/a/242753)

[2019-04-25 08:22] elgalu commented on #1074
Hi @efiop , since you closed this issue, does it mean `Hug` is the solution we should look at?

[2019-04-25 09:04] Suor opened #1932 "test: mockssh server fails with exception"
Looks like:
[code]
Tests do not fail.

[2019-04-25 09:11] Suor opened #1933 "dvc: pyproject.toml doesn't work with `pip install -e .`"
When running `pip install -e .` from [Contributing guide](https://dvc.org/doc/user-guide/contributing/) I get:

Using
[code]
fixes that.

We should update the guide or get rid of `pyproject.toml` file, e.g. somehow using `black --config` option.

[2019-04-25 09:29] Suor commented on #1930
Use `print()` to communicate to user, logger for logging ) One can propose use two loggers, but this has some of the same issues.

I can't see any upsides of using logging for user communication, do you have several levels of messages? Do you need centrally planned orchestration of what goes where?

[2019-04-25 11:15] efiop commented on #1074
@elgalu I don't know, we haven't been looking at it. I just felt that the discussion is done, since webui is not yet on our radar these days. Looks like I was wrong :slightly_smiling_face: Reopening.

[2019-04-25 11:49] efiop commented on #1922
That is why we usually use `CODE` from `TestDvc` that implements `cp` as a python script and works everywhere. Usage of unix-specific tools slipped into some of our tests.

[2019-04-25 11:55] #1770 closed

[2019-04-25 11:58] efiop commented on #1933
@Suor Great catch!

[2019-04-25 12:26] Suor commented on #1429
The most obvious thing is md5 calculation being slow. We cache it, but only for 100 most recently used entries. So simply increasing this value might help.

[2019-04-25 12:42] efiop commented on #1429
@Suor I don't remember md5s being calculated during gc. Also, we cache
 100000000 https://github.com/iterative/dvc/blob/master/dvc/state.py#L77 most recently used md5s.

[2019-04-25 12:52] belskikh commented on #1923
@mroutis that's awesome, and I will definetly try `zsh` , but for standard Ubuntu bash terminal it doesn't work.
Can you help me to understand, what I should add/change in `dvc.bash` script to fix it?

[2019-04-25 12:57] Suor commented on #1429
I see now that it's overwritten later. `State.__init__` is confusing:
[code]

[2019-04-25 13:12] Suor commented on #1429
Why this row limit is needed at all? Is it a legacy of JSON state? Should we drop it?

[2019-04-25 13:44] efiop commented on #1429
yeah, that `self.row_limit = 100` seems to be a leftover from some time in the past. We can safely remove those two lines.

It is needed so that your state db doesn't grow too big. I don't think we should drop it, since sqlite db can grow too big too.

[2019-04-25 17:09] shcheklein commented on #1931
It reminds me of an ORM systems that solve the infamous "impedance mismatch" problem and take under the hood a lot of boilerplate code to map relations into objects and other way around.

But, if you take at good examples of them (ActiveRecord) they don't force you into abandoning language specific ways of doing things (like inheritance). The aim is not replace classes and use some third-party str

[2019-04-25 17:56] shcheklein commented on #1930
I'm not sure that the raw print is the only possible solution. I would take a look how other CLI tools deal with it - npm, hg for example.

But this thing has been bothering me a lot. It's weird indeed to use loggers to print progress bars and all other user output.

[2019-04-25 18:37] mroutis commented on #1923
ohh my bad, @belskikh ! :see_no_evil:

I don't have a good understanding of Bash's completion engine, but you'll need to add something like `compgen -f -X '!*.dvc'` over here https://github.com/iterative/dvc/blob/dd8598e53ea03aaa7554c6ebf8fa7fe37baffc31/scripts/completion/dvc.bash#L57-L63

Be aware that some commands accepts something more than just _stage files_ (the ones ending in `.dvc`).

The

[2019-04-25 18:56] mroutis commented on #1930
@Suor , there's a [when to use logging](https://docs.python.org/3/howto/logging.html#when-to-use-logging) section in the Python documentation:

[code]

I don't think that it is _that_ weird to use logging to communicate with user.

Actually, we are currently benefiting from using logging instead of `print` by not flooding the code with `if not quiet: print()`; all the custom logic is easy to find

[2019-04-25 19:02] mroutis commented on #1930
@shcheklein , what has been bothering you exactly?

The logger is really flexible, you have the notion of handlers and formatters that are really useful, we are currently only using the standard stream handler for `stdout` and `stderr`, but it gives us the flexibility.

[2019-04-26 00:55] mroutis commented on #1929
@Suor , do you have reproduce steps? I'm having some trouble trying to come up with a solution, maybe you or @efiop can shade some light into the issue.

[code]

[code]

[code]

However, when I prepend it with `LANG=en_US.UTF-8` it works as expected.
I'm not sure this can be handle correctly on the application layer, and also, how is this supposed to guarantee consistency on a multi-thread environ

[2019-04-26 00:56] mroutis commented on #1929
Also, I don't know how the locale should look like in Windows, I have the following code but haven't test it on Windows:

[code]

[2019-04-26 03:37] Suor commented on #1929
@mroutis `"English_United States.1252'"` is not what we are looking for, this is not utf-8. And we are not trying to fix unicode filenames here, but unicode file contents.

BTW, I can't break this on Linux with any combinations of `LANG` and `setlocale()`.

[2019-04-26 03:45] mroutis commented on #1929
@Suor , thanks for taking a look at this! I'll try to come up with a way to reproduce it on a Windows machine.

[2019-04-26 03:47] Suor commented on #1930
@mroutis from docs you quoting - we should use print :)

I see the argument with quiet/verbosity, we can make our wrapper to not use ifs everywhere.

The practical reason why I am against it is that I lost significant amount of time when I removed `logLevel("DEBUG")` in tests and got failed them occasionally because some message to the user haven't beed printed by `logger.info()`. Sure that could

[2019-04-26 03:57] Suor commented on #1931
This issue is already an intermediate suggestion: we keep classes, at least most of them, only they store there attrs in ruamel structures in `._state` and not in `.__dict__` as usual, this prevents from data duplication and all needed transformations will be done by properties/`.__getattr__()`/`.__setattr__()`. We can make some base class of that would be beneficial.

[2019-04-26 03:59] Suor commented on #1931
The load step wouldn't be eliminated, but will be greatly simplified. Additionally we can make this declarative by specifying validation, defaults and transformations in one place.

[2019-04-26 04:05] Suor commented on #1929
If using `setlocale()` wouldn't prove to be reliable or will complicate things more that help. We can solve this with a wrapper + organizational measures:
- provide our wrapper for `open()`,
- not placed in `compat.py`, as it not something to go away,
- using `utf-8` by default,
- working as context manager,
- ensure we always use it to open files.

[2019-04-26 04:20] Suor commented on #1929
**P.S.** We will also need same wrapper for `pathlib.Path.write_text()` and `pathlib.Path.read_text()`.

[2019-04-26 04:47] mroutis commented on #1930
@Suor , got it. I agree that the tests are flawed, I mean, if they are relying on an implicit state (a _debug_ logger level) they are not _sound_ enough.
We started using this `caplog` thingy to assert that a message was being displayed during certain operations, maybe it was not the correct approach.

I guess there's not a consensus about what should be the correct approach, for example, `docker-

[2019-04-26 06:15] shcheklein commented on #1930
It's just a matter of clear separation of concepts. I think this post summarized it pretty well:

https://softwareengineering.stackexchange.com/questions/270352/printing-to-out-vs-logging-given-the-nature-of-this-app

Basically, you need to separate UI from the business logic (I think it's more or less done in our case). But then you need also to have two separate ways to output (or read) stuff th

[2019-04-26 07:03] Suor opened #1938 "dvc: show progress of adding huge number of files"
It would be helpful to see progress bar when adding a directory with a large number of files. Now `dvc add` just hangs up for a while.

[2019-04-26 08:21] Suor commented on #1429
I tried generating a directory and adding it with `dvc add` and then running `dvc gc` under profiler. This takes some time, but I can't see how this can take hours unless networks is involved or many md5s are missing.

P.S. there are some lists copies and unneeded path normalizations like:
[code]
The last took significant part of the whole time in my tests, significantly complicating the code as a

[2019-04-26 09:19] Suor commented on #1429
@efiop maybe there are some scenarios I am overlooking, like adding all that 100k files with separate stages. Do we support that?

[2019-04-26 11:16] Suor commented on #1429
Closing this for now. Asked @IamGianluca about specifics.

[2019-04-26 11:16] Suor commented on #1340
@IamGianluca can you say more about your situation, the one which involved `dvc gc` running for hours? What's your files are they added as a dir or somehow separately? Do you use local data and local cache or some remotes are involved? What is the exact command you are running that is slow?

[2019-04-26 11:17] efiop commented on #1938
Most likely was broken during dir generalization. We do have this progress bar in the last officially released version.

[2019-04-26 11:17] #1429 closed

[2019-04-26 11:24] #1704 closed

[2019-04-26 15:37] dangadadanga opened #1940 "dvc: use box.com as remote storage solution"
My company has unlimited storage for Box.com and I would like to use it to store my models/data. This is the only thing preventing me currently from using DVC although I would like to.

I know Box.com allows access through FTP and API, maybe you can integrate with it.
See these pages for additional info:
https://developer.box.com/reference#upload-a-file
https://community.box.com/t5/Managing-Conten

[2019-04-26 16:11] efiop commented on #1940
Hi @dangadadanga !

Great feature request! I'm not at all familiar with box.com myself, but we have a feature request for supporting FTP at https://github.com/iterative/dvc/issues/1696 supporting which should probably be enough for some basic workflows. Let's keep this ticket open to see if there is any interest from the community for specifically box.com. If you would like to implement support fo

[2019-04-26 17:18] dangadadanga commented on #1940
Thanks Ruslan! I'll keep an eye on the ticket.

[2019-04-26 19:29] mroutis opened #1941 "init: the welcome message appears even when --quiet is used"
version: `0.35.7`

To reproduce: `dvc init --quiet`
Expected: No message at all
Current: Displays the following
[code]

[2019-04-26 21:31] pared commented on #1941
I am not sure that should be hidden on 'quiet'. This is quite important information for some users, and might be treated as lack of transparency from our side if implemented. Maybe we should consider adding manual config option to turn this message off?

[2019-04-26 21:35] shcheklein commented on #1941
I think if someone specifies a `--quiet` option explicitly then they understand what are they doing already and are probably running `dvc init` from a script or something.

[2019-04-26 23:27] pared commented on #1551
After some quick research I have following conclusions:
1. `git pull` - we can use `post-merge` hook  to do `dvc pull`
2. `git push` - I would like to discuss this one. It seems to me that we want to execute `dvc push` after successfull `git push`. However, all "post push hooks" (`pre-receive`, `update`, `post-receive`) are executed on push-side repository. We could use `pre-push` but with that we

[2019-04-26 23:52] pared commented on #1689
@andrethrill I was trying to reproduce this issue, and am unable to do that. I tried nesting some directories with files inside, but numbers do match. Can you retry this on your side?

[2019-04-27 16:06] villasv opened #1943 "Allow `dvc fetch` to target checksums directly"
In my understanding, dvc files are good targets because they store data files checksums. It's ergonomic, they work like `refs` in git.

But I think we should be able to fetch files also by checksum directly, no matter the current state of the workspace. In `git`, you can fetch a ref but you can also fetch a specific commit by hash.

My use case is that I have my own diff tooling, which is used by

[2019-04-27 16:08] villasv commented on #1943
I have plans to change that workflow to have the old version of the dataset also in the current workspace and have my script not to depend on dvc to find the old version, but that's kind of not the point here.

Fetching specific versions of a file by hash is the kind of plumbing command that makes sense to exist IMO.

[2019-04-27 16:17] efiop commented on #1943
[code]

You could use something like `git show reference:file` to show dvc file for specific reference, save it to a temporary file `tmp.dvc` and run `dvc fetch tmp.dvc` :slightly_smiling_face:

[2019-04-27 19:02] efiop commented on #1551
@pared

But not every `pull` involves merge. It might do rebase instead.

`pre-push` should be good enough :+1:

We already have post-checkot hook that simply runs `dvc checkout`(without arguments). Would it be possible to make it handle specific stage files as well?

[2019-04-28 13:53] #1919 closed

[2019-04-29 09:53] andrethrill commented on #1689
@pared since it's a costly operation I can let you know once I need to run it again. But it may take a while.

[2019-04-29 16:14] #1890 closed

[2019-04-29 16:57] efiop commented on #1689
@andrethrill Let's close it for now then, please feel free to reopen if you encounter this issue again. Thanks for the feedback! :)

[2019-04-29 16:57] #1689 closed

[2019-04-29 18:44] pared commented on #1551
@efiop

Well we can use `post-rewrite`, according to the [documentation](https://git-scm.com/docs/githooks#_post_rewrite) it is triggered upon `amend` or `rebase`, but git is supposed to pass argument indicating whether it is `amend` or `rebase`, so we could `dvc pull` upon `rebase` only.

According to [documentation](https://git-scm.com/docs/githooks#_post_checkout), git is supposed to pass flag

[2019-04-29 21:11] efiop commented on #1551
@pared

But that one is going to be called not only on `git pull` but also on regular `amend` and `rebase`. Not sure if it is something we actually want. What do you think?

Nice! Would it make sense to make our checkout hook _not_ perform `dvc checkout` if it sees that it is a file that you are checking out? I imagine you `git checkout`-ing specific file and then our `dvc checkout`(without args)

[2019-04-29 22:35] #1917 closed

[2019-04-29 22:46] pared commented on #1551
I must agree thats a bit of a bummer. We could solve amend vs rebase problem by reading flag passed by git, but problem "Was it pull or rebase" will remain unsolved.  Both hooks (`post-rewrite`, `post-merge`) contain functionality that we need, but those details make them hard to use in our case.

I think we could do that, but then there is one problem left: what if checked out file was stage? In

[2019-04-30 07:02] PeterFogh commented on #1614
Hi @efiop and @shcheklein. Sorry for the delay on my part, but now I have implemented the use of this new feature "DVC remote via global remote", in my use case repository at https://github.com/PeterFogh/dvc_dask_use_case and it works like a charm 👍 🎉 Good work.

As you can see there, my team and I can now have our individual global remotes defining our SSH credentials ones and then specify the pr

[2019-04-30 09:50] Suor commented on #1888
May look at [pyfakefs](https://pypi.org/project/pyfakefs/) for speeding it up in dev env.

[2019-04-30 11:06] Suor commented on #1900
Some args end up not being used like `target` and `active` in `_load_all_used_cache()`. Another thing is that many args are passed through, which is code smell.

[2019-04-30 11:14] #1928 closed

[2019-04-30 18:09] efiop commented on #1551
For the record: agreed privately that we would implement `dvc push` for now to provide at least some quick aid, but then we would think about `autoscm` and stuff like that.

[2019-04-30 18:20] #1941 closed

[2019-04-30 23:08] #1758 closed

[2019-05-01 01:33] #1839 closed

[2019-05-01 04:19] pared opened #1952 "Prevent repo from setting log level"
Currently, we can set logger level at `dvc/repo.Repo.__init__`:
[code]
We should decouple setting log level from `Repo`.
Some context #1942

[2019-05-01 11:27] efiop commented on #1952
Maybe we could even remove that logic in 1.0, since it is a part of an old config and there doesn't seem to be a need for config-side loglevel configuration.

[2019-05-01 12:04] davidkuehner commented on #1910
I agree, it tooks me "long" to understand that "persist" was not in the Schema.

[2019-05-01 13:20] nanaya-tachibana opened #1954 "remote: add support for aliyun oss"
I would like to use aliyun oss to store my models. I will follow the implementation of azure to implement this feature.

[2019-05-01 13:33] efiop commented on #1954
@nanaya-tachibana Great plan! :slightly_smiling_face: Feel free to ping us if you need any help. We have a dev channel #dev-general at https://dvc.org/chat :slightly_smiling_face:

[2019-05-01 18:43] pared opened #1955 "Parametrize install to choose installed hooks?"
Currently we have 3 hooks. Depending how discussion in #1551 goes, we might end up with few more.

Should we parametrize install command to let user choose which hooks to install?
What do you think guys?

[2019-05-01 18:46] efiop commented on #1955
@pared As long as there is no interest from the community, I think it is not worth bothering with, especially since you could go ahead and disable some hooks after `dvc install` if you so desire :slightly_smiling_face:

[2019-05-01 18:51] shcheklein commented on #1955
it's too early to judge about the interest, right? :) we are just going to introduce them.

I would at least document this workaround (disable manually) with a link to Git docs. Or may be write a line in the `dvc install` output as well.

In case of DVC too much magic (i.e. too many hooks) might be not what all users expect.

[2019-05-01 19:00] efiop commented on #1955
We've had 2 hooks for a long long time and no one requested this feature, so if it continues to be that way in the future then maybe no one actually wants it :slightly_smiling_face:

:+1:

[2019-05-01 22:02] mroutis opened #1957 "dvc: encoding across the code base"
**How should we manage encoding across the code base?**

- At it's core, DVC is encoding agnostic, data files are uninterpreted sequences of bytes
- Stage files are saved and interpreted as UTF-8
  + Should DVC raise and error when the user changes the encoding of the file?
  + Should we reflect this in our docs?
- Metric are interpreted as UTF-8
  + Why are we not using the system default encodin

[2019-05-01 22:43] mroutis commented on #1952
@efiop , agree, users are using DVC as a module, they can adjust the log level manually:
[code]

[2019-05-02 00:27] mroutis opened #1958 "import: can't handle weird encoding on url"
- version: `0.35.7+4e5ab2`
- method of installation: `git clone && pip install -e .`
- kernel name: Linux

[code]

[code]

[2019-05-02 03:07] #1929 closed

[2019-05-02 14:48] efiop commented on #1613
For the record: Another user on discord was using these configs https://discordapp.com/channels/485586884165107732/485596304961962003/573519544153538566 .

[2019-05-02 17:30] algomaster99 commented on #1783
I am currently working on this issue. Will submit a PR after I figure it out :smile:.

[2019-05-02 22:36] Casyfill commented on #1871
I see.
as a last resort, perhaps it is at least possible to add paths to the previous steps as comments in the file?

[2019-05-03 04:27] shcheklein commented on #1871
@Casyfill I think we will release a new version very soon (next week? @efiop can confirm) that will be preserving comments in the DVC files. I'm not sure we should be generating these comments on the DVC side though - it's hard to keep them up to date. What editor are using? May be it's a good feature to support on the editor level - navigate up/down the pipeline cc @prihoda

[2019-05-03 04:31] shcheklein commented on #1871
Just for the context - we got a request on the ods.ai #tool_dvc channel to support this:

(translation is mine)

[code]

[2019-05-03 14:22] Casyfill opened #1964 "Can't `dvc install` if there is another hook in place"
`Error: failed to install dvc hooks - git hook '.git/hooks/pre-commit' already exists.`

[2019-05-04 01:08] efiop commented on #1964
Discussed this on ods: we could probably just append a command to what is already in the hook.

[2019-05-04 18:09] veera83372 commented on #1305
Did you mean running `dvc init --no-scm` in a scm initialised repository?

[2019-05-04 19:13] efiop commented on #1305
@veera83372 Just running `dvc init --no-scm` in a new directory not controlled by any scm. E.g.
[code]

[2019-05-04 19:46] veera83372 commented on #1305
I am getting different output, Please see below
<a href="https://asciinema.org/a/3Iwg1nnf1Ef4QxdTaETrnwLQJ?autoplay=1"><img src="https://asciinema.org/a/3Iwg1nnf1Ef4QxdTaETrnwLQJ.png" width="836"/></a>

[2019-05-04 19:50] efiop commented on #1305
@veera83372 Ah, indeed. Looks like it was fixed at some point :slightly_smiling_face: https://github.com/iterative/dvc/blame/master/dvc/repo/init.py#L90 Thanks for the heads up! Closing.

[2019-05-04 19:50] #1305 closed

[2019-05-04 19:54] veera83372 commented on #1305
FYI: It gives the same message when the folder has scm but using `--no-scm` option.

[2019-05-04 20:09] veera83372 commented on #1714
Anyone working on it ? or I can pick this up with some help

[2019-05-04 20:12] veera83372 commented on #1854
@efiop  Are you working on this?

[2019-05-04 20:28] efiop commented on #1714
@veera83372 Not sure if @J0 is still working on this. Let's see if he replies.

[2019-05-04 21:18] efiop commented on #1305
@veera83372 That is because of the way dvc handles scms. It dynamically checks if it is available and will use it if it is. `--no-scm` is just a helper to make sure that you indeed want to use dvc without any scm. Also, without `--no-scm` it would be hard to catch when user is just accidentally initializing dvc project in some subdirectory of his git project instead of doing that in root dir.

[2019-05-04 21:24] efiop commented on #1854
@veera83372 It was an issue on brew's side. It is fixed now. Thanks for the heads up! :)

[2019-05-04 21:24] #1854 closed

[2019-05-06 19:49] efiop commented on #1938
Fixed by https://github.com/iterative/dvc/pull/1946

[2019-05-06 19:49] #1938 closed

[2019-05-06 20:17] efiop commented on #1588
For the record: this got a lot worse since dir logic generalization, so we are prioritizing it to start using something like suggested PathInfo, which, when casted to string, would result in url for non-local paths and relpath for local paths.

[2019-05-07 13:30] PeterFogh commented on #1654
Hi @efiop, I have refactored my DVC pipeline and code in https://github.com/PeterFogh/dvc_dask_use_case to utilize your new and awesome support for directories (y). It works like a charm :D

FYI, I have used the feature to create a folder for the output files each DVC stage, this simplifies the file order and structure on the remote data storage as well as in the DVC stage files.

When do you thin

[2019-05-07 13:35] efiop commented on #1654
@PeterFogh Glad it works for you! :slightly_smiling_face: So sorry for the delay, we have a few major things coming and just trying to finalize it so it is ready for release. We plan to release 0.40 this week.

[2019-05-07 14:00] #1613 closed

[2019-05-07 14:01] dberenbaum opened #1967 "Add support for server side encryption for AWS S3 uploads/copies"
For s3 buckets which require encryption, there is no way to upload or copy via dvc, making it impossible to use a protected bucket as a remote. The boto3 upload and copy functions have parameters to specify server-side encryption. It would be great to have support for adding an s3 remote such that all writes to the bucket use the specified encryption.

[2019-05-07 14:24] PeterFogh commented on #1654
@efiop, it fine, just happy to see the progress 😃  Yeah, I assume it is your PyCon attendance this is pressing? A new release this week would be awesome 👍 Thanks for the update.

[2019-05-07 14:31] PeterFogh commented on #1613
@khamutov Thanks for implementing my feature request :) Looking forward to trying it out.

[2019-05-07 14:31] efiop commented on #1967
Hi @dberenbaum !

Great idea! I see that you are already familiar with boto3, maybe you would be willing to contribute such a feature? :slightly_smiling_face:  It is pretty simple, you could take a look at `use_ssl` option
[code]
as an example. From our side, we will be happy to help with everything we can. :slightly_smiling_face:

[2019-05-08 04:06] mathemaphysics commented on #755
I followed the step verbatim on https://dvc.org/doc/tutorial/define-ml-pipeline and in the previous step. This is the official tutorial as far as I can see. And I'm getting a very, very long wait to run `dvc add data/Posts.xml.zip`. I've also tried desperately deleting `.dvc/lock` and `.dvc/updater.lock`, which show up every single time I look just to see if it does something.

What's going on?

[2019-05-08 04:26] shcheklein commented on #755
https://discordapp.com/channels/485586884165107732/485596304961962003/575535709490905101 - NFS locking issue as was discussed on Discord

[2019-05-08 08:04] snagacarl commented on #1768
For your command `dvc pkg install --flatten -s model.pkl http://github.com/dmpetrov/new_tag_classifier /mnt/deploy/` how would the command specify the specific version of the `model.pkl`?  Should it be included in the Git URL (`http://github.com/dmpetrov/new_tag_classifier#v1.0`) or maybe via arguments (`--tag v1.0` or `--branch prod`)?

[2019-05-08 13:37] efiop opened #1969 "checkout: partial directory cache"
Currently, if, for some reason, you've lost some of the cache files for a part of your directory, dvc will throw assertion error:
[code]

This is because unlike for regular data files, we don't check for cache file existence before linking it. With standalone data files we print a warning that "cache file doesn't exist and file is not going to be created", so we need to do something similar here.

[2019-05-08 19:13] shcheklein opened #1970 "dvc: performance optimization for directories"
Context is here:

https://stackoverflow.com/questions/56035696/version-control-for-machine-learning-data-set-with-large-amount-of-images

[code]

[2019-05-08 21:15] brbarkley commented on #120
FYI, the outstanding DVC dependencies that do not have a conda build are:

- grandalf
- inflect
- jsonpath-ng
- nanotime
- schema
- treelib

For DVC to provide a conda build, I believe the above packages will also need a conda build. See contributing packages guidelines on [conda-forge](https://conda-forge.org/docs/maintainer/adding_pkgs.html). The process for porting a PyPi package to conda-forge

[2019-05-08 21:39] pared commented on #1970
Sample script that seems to reproduce users problem:
[code]
After adding update, md5 computation for large directory is retriggered.

[2019-05-08 21:47] pared opened #1971 "Inconsistient behaviour when updating directory of files"
This test should pass, and it does only if we remove status check

[code]

[2019-05-08 21:53] pared commented on #1971
Also, after last `add` stage file for data is removed.

[2019-05-08 23:02] efiop commented on #1970
@pared when you are unprotecting all files inside data are copied, so dvc doesn't have entries for those files in State db, hence the recomputation.

[2019-05-09 01:27] mroutis opened #1972 "progress: a progress bar per file during `dvc push`"
version: `0.40.0+6408b5`

Pushing 200 files shows me the following output:
[code]

Shouldn't it reuse the same progress bar?

[2019-05-09 01:32] mroutis opened #1973 "logger: still ignoring the context of the progress bar"
version: `0.40.0+6408b5`

When trying to push to an SSH with the `ask_password` option set to `True`:
[code]

This behavior should be handle at: https://github.com/iterative/dvc/blob/6408b58b8daddc297467453bcd130c07b09cd46b/dvc/logger.py#L134-L140

It should be tested under `tests/unit/test_logger.py`

[2019-05-09 01:41] ghost opened #1974 "pull: computing md5 for large directories (message is misleading)"
version: `0.40.0+6408b5`

Pulling the _data_ directory: `dvc pull -r ssh`
[code]

Remove a file from the directory: `rm data/1`

`dvc pull -r ssh`
[code]
-----------

It is showing me that it will only compute the MD5s once, but it is doing it twice.

Maybe remove the `This is only done once` message or rephrase it.

[2019-05-09 02:01] mroutis commented on #1964
@efiop , we would also need to check if they have already added the hook to prevent having the same command twice (i.e. `dvc checkout; dvc checkout`)

[2019-05-09 02:05] mroutis opened #1975 "push: hangs after collecting information for a couple of minutes"
version: `0.40.0+6408b5`

[code]

The user shouldn't think that the process is misbehaving (thinking it is dead because it is not giving any signal of processing stuff -- _without checking top_)

[2019-05-09 11:00] efiop commented on #1972
@mroutis It is currently intended to use progress bars for individual files.

[2019-05-09 11:02] efiop commented on #1974
@mroutis well, but you've removed a file from the directory, so you've modified it and so it needs to compute checksum once again. What is your point?

[2019-05-09 11:04] efiop commented on #1975
So what is the cause of that? Did you find out? You are working on that status optimization, maybe it is related to that?

[2019-05-09 13:34] sremm opened #1976 "Error with "dvc add" on Windows, when local cache is not on the same drive as git repo"
DVC version 0.35.7
installed with pip
Running on Windows 10

I have the local dvc cache on drive F: which is a HD, due to limited space on drive C: (SSD), where I have my git repo.

When trying to add some data to DVC control with "dvc add Path\To\Data", where the path to data is a relative path on C: drive, the command exits with the following error.

`ERROR: unexpected error - path is on mount '

[2019-05-09 14:55] efiop commented on #1918
For the record: another user ran into nfs problems https://discordapp.com/channels/485586884165107732/485596304961962003/575535709490905101

[2019-05-09 21:11] efiop commented on #1799
Added https://github.com/iterative/dvc.org/issues/306

[2019-05-09 21:11] #1799 closed

[2019-05-09 23:16] mroutis commented on #1974
@efiop , my point is that the `This is only done once` message could confuse more than bringing value.
For me is clear that `This is only done once` is actually "if you don't modify the content of any file inside `data` directory", but I'm not sure if I'm biased because I kind of know how DVC works internally and what's the purpose of computing checksums.

[2019-05-09 23:21] mroutis commented on #1975
I still don't know, @efiop , just opened the issue to not forget about it

[2019-05-10 00:19] mroutis commented on #755
Related ^^ #1918

[2019-05-10 04:51] mroutis commented on #1970
After some research, I think we can remove the _binary_ heuristic on `file_md5`, here's how to reproduce it:

Create 100000 files with 3KiB of random content and 10 files with 3GiB of random content:
[code]

Results ordered from fastest to slowest operation:
- `git lfs track "data/**" && git add`:

[code]

- `md5sum`:

[code]

- Python's `hashlib` reading the whole file:

[code]

- Python's `hashl

[2019-05-10 05:23] mroutis commented on #1970
Also, `file_md5` is returning both the `hexdigest` and the `digest` but we are only using `hexdigest` across the code base, we can remove that.

[2019-05-10 08:07] Suor opened #1979 "dvc: unify requirements files and setup.py"
We have duplication between `requirements.txt` and `setup.py` `install_requires`. We also use three `pip install` lines in docs to set things up. Ideally we would just say:
[code]
So this contains several parts:
- [ ] include `requirements.txt` in test requirements with `-r` syntax,
- [ ] parse requirements files in `setup.py` or drop requirement files
- [ ] update contributing docs

[2019-05-10 08:30] algomaster99 commented on #1783
@ei-grad How did you get the cache information?

[2019-05-10 12:30] #1902 closed

[2019-05-10 18:25] #1973 closed

[2019-05-10 23:43] #1964 closed

[2019-05-11 01:07] mroutis commented on #1964
Thanks for reporting the issue, @Casyfill :smiley: !

[2019-05-11 02:04] mroutis commented on #1975
@efiop , A quick update, the problem is with this method:
[code]

Usually the operation shouldn't take that much but here, `checksum_info_dir` is `100,002`
On my slow computer took ~120 seconds (2 minutes), even if it is not that much, it is not a good UI to not notify the user about what's going on.

We can optimize this by using a `set` because they have `O(1)` lookup instead of `O(n)`. The diff

[2019-05-11 02:14] efiop commented on #1975
@mroutis Amazing catch! :tada:

[2019-05-11 02:44] #1975 closed

[2019-05-11 04:48] algomaster99 opened #1983 "File system name and link type information"
The information about the file system and link type can be a good addition to the output of command `dvc version`.

#### Example
[code]

[2019-05-11 12:50] #1588 closed

[2019-05-12 09:07] prihoda opened #1987 ""add" command is shown twice in help"
Hi guys, the `add` command is present twice in `cli.py` `COMMANDS` field, so it also gets added twice to the help output.

[2019-05-12 09:18] prihoda opened #1988 "DVC import fails for HTTPS and not for HTTP"
Hi guys, DVC `0.40.1` import fails when using HTTPS and not when using HTTP:

[code]

The file is downloaded but it is not added:

[code]

When I use `http` protocol in the url, it works.

Can you please check if that happens on your end as well?

[2019-05-12 09:34] prihoda opened #1989 "Add DVC repro --recursive"
It would be nice to be able to use `dvc repro -R` on a directory just like `dvc pull -R`. Hopefully it won't be confusing that dependencies found outside this folder would also be reproduced.

[2019-05-12 10:50] efiop commented on #1599
Guys, thanks a lot for this amazing discussion! We've decided to go with `reflink, copy` by default and a proper warning if links take too long. We will also soon prepare a doc about it to describe it in great detail. `reflink, copy` is now default starting from 0.40.0 and you can always switch back to old behavior with `dvc config cache.type reflink,hardlink,symlink,copy`.

[2019-05-12 10:50] #1599 closed

[2019-05-12 10:53] efiop commented on #1756
@Ngoguey42 For the record: we've added `-R` warning https://github.com/iterative/dvc/issues/1758 and released it in 0.40.0. Closing this issue for now.

[2019-05-12 10:53] #1756 closed

[2019-05-12 10:56] efiop commented on #1864
@PeterFogh 0.40.0 with this feature is out. Please feel free to give it a try 🙂

[2019-05-12 10:59] efiop commented on #1912
Closing for now as stale. Please feel free to reopen.

[2019-05-12 10:59] #1912 closed

[2019-05-12 11:01] efiop commented on #1799
@AlJohri @martinjms Guys, this feature has been released in 0.40.0, please feel free to give it a try 🙂

[2019-05-12 11:03] efiop commented on #1891
@fgadaleta The fix has been released in 0.40.0. Please upgrade 🙂

[2019-05-12 11:04] efiop commented on #1654
@PeterFogh 0.40.1 is finally out 🙂Please upgrade.

[2019-05-12 11:05] efiop commented on #1655
@rmcavoy Fix for this has been released in 0.40.1. Please feel free to upgrade 🙂

[2019-05-12 11:07] efiop commented on #1555
@AlJohri This feature has been released in 0.40.1. Please upgrade 🙂 Thanks a lot for all the feedback!

[2019-05-12 11:08] efiop commented on #1919
@brbarkley This feature was released as a part of 0.40.1. Please upgrade 🙂

[2019-05-12 11:11] efiop commented on #1917
@mastaer The fix for this bug has been released in 0.40.1. Please upgrade. Thanks a lot for this bug report! 🙂

[2019-05-12 11:12] efiop commented on #1551
@AlJohri `pre-push` hook was released as a part of 0.40.1. Please feel free to give it a try 🙂

[2019-05-12 11:14] efiop commented on #1613
@khamutov @PeterFogh Released in 0.40.1. Please upgrade 🙂 Thank you guys for the feedback! And especially big thanks to @khamutov for implementing this in his PR! 🙂

[2019-05-12 11:16] efiop commented on #1954
@nanaya-tachibana OSS support was released in 0.40.1. Please upgrade 🙂 Big thanks for the PR!

[2019-05-12 11:17] efiop commented on #1964
@Casyfill The fix is released as a part of 0.40.1. Please feel free to upgrade and give it a try. Thanks for the feedback! 🙂

[2019-05-12 11:51] efiop commented on #1987
@prihoda Good catch!

[2019-05-12 12:00] #1987 closed

[2019-05-12 14:55] #1988 closed

[2019-05-12 20:10] colllin opened #1991 "Re-compute of md5 for large files."
**Please provide information about your setup**
DVC v0.40.1, installed via Pipenv on Ubuntu 16.

See also #1659, which was a similar issue but for large directories.

It seems there is a bug which causes the md5 to be re-computed for large files.  @efiop was able to find a reproducible example for it.  From discord:

[code]

[2019-05-12 20:18] efiop commented on #1991
Ok, can also confirm a similar thing for large data dirs. Looks like the issue is a common one:
[code]

[2019-05-12 20:24] efiop commented on #1991
And even more simple reproducer:
[code]

so `checkout` seems to be doing something to checksums that resets them.

[2019-05-12 21:02] jorgeorpinel opened #1993 "rename `git` property (a Repo object) in class `dvc.scm.Git`?"
`class Git(Base)` property [`self.git`](https://github.com/iterative/dvc/blob/master/dvc/scm/git/__init__.py#L45), while named `git`, is not a **Git** object but rather a **Repo** object, which comes with a `git` property itself (which is the actual Git object); So using the latter (which we do a lot in tests) makes the code a little confusing, like: `self.git.git` and `dvc.scm.git.git`.

I think

[2019-05-13 03:17] jorgeorpinel opened #1994 "`dvc cache -h` and `dvc cache dir -h` have confusing output"
1 `dvc cache -h` positional arguments:
[code]

The lines under "positional arguments" with `{dir}` and `dir` are confusing to read if you don't already know that `{dir}` is a list of sub-commands. I suggest this since there's just one sub-command option:

[code]

<br>

2 `dvc cache dir -h` description:
[code]

I think the description should be "Configure cache directory location.", not "Manage cac