[2019-11-06 21:05] Suor commented on #2697
Also, are you adding 440k images at once?

[2019-11-06 21:06] Suor commented on #2697
And you are waiting a lot on thread lock.

[2019-11-06 21:16] efiop commented on #2697
@casperdcl Btw, does tqdm walk away if the lock is taken or does it wait on it to update the progress bar?

[2019-11-06 21:21] chadlohrli commented on #2737
@efiop that seems to have done the job!

One subtlety is that the pattern for a nfs directory in *.dvcignore* must be `nfs` and **not** `nfs/` or else dvc still attempts to traverse it's contents.

Thank you for the quick fix!

[2019-11-06 21:31] efiop commented on #2737
@chadlohrli Glad to hear it worked! :slightly_smiling_face:

It should actually be `/nfs`. We have the same rules as `.gitignore` and `nfs` would make dvc ignore all files/dirs named `nfs` anywhere in the project. And `/nfs` says to specifically ignore `nfs` in this directory.

Thanks for the feedback! :slightly_smiling_face:

[2019-11-06 21:35] shcheklein commented on #2697
@Suor yep, I saw thread lock, not sure where does it come from and how does it affect the total execution time. In general, I would I don't know how profile is calculated when method is called from multiple threads. Should we only take in account only time of the enclosing method?

[2019-11-06 21:36] shcheklein commented on #2697
yes, it's imagenet - one directory, split into a one or two hundred dirs with images in them

[2019-11-06 21:41] shcheklein commented on #2658
@casperdcl I realized that the ticket I created was overlapping with this to some extent - both are about improving `dvc add` output. Probably, it's better to see the full scope and collect it under one issue. Since the second one had more comments already, and I was more comfortable editing my own stuff I decided to consolidate everything in that one :)

No strong opinions here, feel free to reve

[2019-11-06 21:42] shcheklein commented on #2747
@casperdcl may be it does not check `isatty` at all?

[2019-11-06 22:27] casperdcl commented on #2747
@shcheklein @efiop `DVC_IGNORE_ISATTY=true` also skips checking `isatty` so there must be something else going on

[2019-11-06 22:53] shcheklein commented on #2697
@Suor https://docs.google.com/spreadsheets/d/1c5FHK4qFTbJLlyewor5CUeaBAqJcu0BR-Segl-pyYMs/edit?usp=sharing - easier to analyze.

[2019-11-07 11:47] nik123 opened #2749 "unknown encoding during "dvc push""
**Information about your setup**
DVC version: 0.66.0
Platform: Ubuntu 18.04
Method of installation: DEB

**Description:**
I access my dvc remote via ssh.  **Sometimes** `dvc push` command with the following error:

[code]

[2019-11-07 12:28] efiop commented on #2749
@nik123 Could you post full log for `dvc push -v`? We've seen this happen in a binary mac package:
[code]

seems to be a lib issue of sorts, not quite sure what specifically went wrong. Could you try installing using `pip` and see if that helps?

[2019-11-07 12:31] efiop commented on #2749
Might be caused by pyinstaller not including those modules, looking into it...

[2019-11-07 12:37] efiop commented on #2749
Seems like it is related to https://github.com/pyinstaller/pyinstaller/issues/1113 . Getting tired of pyinstaller-related bugs. Will take a look at making our deb and rpm packages use python instead of monolithic apps built by pyinstaller.

[2019-11-07 12:43] efiop commented on #2749
@nik123 as a workaround, try uninstalling dvc and installing it from pip or conda.

[2019-11-07 12:55] efiop commented on #2671
For the record: created https://github.com/iterative/dvc/pull/2750 to disable DAG checks for `dvc checkout` for specific targets.

[2019-11-07 16:56] casperdcl commented on #2697
The lock is acquired purely when trying to write console output. It isn't dropped at all. Maybe we should change it to drop and skip outputting after maybe `0.1` seconds?

[2019-11-07 17:45] #2742 closed

[2019-11-07 17:48] efiop commented on #2697
@casperdcl In the old progress implementation, we used to just walk if away if it is locked on regular update [1] and actually wait for the lock if the task is finished [2] . 0.1 sec is still quite a lot, maybe we could adopt our old approach in tqdm too, so it doesn't slow down multiple workers working in parallel? What do you think?

[1] https://github.com/iterative/dvc/blob/0.35.6/dvc/progress.

[2019-11-07 17:55] efiop commented on #2697
@casperdcl Let me clarify, so when, say, you are using a tqdm progress bar for writing a file, then for each chunk, that same thread is going to wait tqdm lock to be available, right? So tqdm would be slowing down workers?

[2019-11-07 21:35] casperdcl commented on #2697
@efiop yes, `tqdm` uses the blocking approach [2] both for intermediate updates (so not [1) and final output ([2]). I agree that (esp for multithread) that "walk away" should be an option.

[2019-11-07 21:41] casperdcl commented on #2697
opened upstream issue: https://github.com/tqdm/tqdm/issues/838

[2019-11-07 21:43] efiop commented on #2697
@casperdcl Or another option would be to make tqdm create a separate thread that is dealing with all progress bar updates and make workers just submit to a queue, so it is hopefully faster. Not sure which approach would be better for tqdm in general :slightly_smiling_face: Though the `queue` one could be implemented on top of tqdm, of course.

[2019-11-07 21:47] casperdcl commented on #2697
I do actually have a singleton monitor thread managing other bars but it probably needs a redesign. `tqdm` was originally designed for efficient single-threaded use. Fixing this issue ASAP is a bigger priority for me that upgrading the monitor thread. Will happen soon.

[2019-11-07 21:52] casperdcl commented on #2747
Actually this may just be a `colorama` issue on windows, which may coincidentally have been fixed by my last `devel`-branch commit: https://github.com/tqdm/tqdm/commit/ae6de71c3460123944aa7bb80d7cb0b5bdcafb7b

@efiop / @shcheklein could you try

[code]

and check if it fixes this issue?

[2019-11-07 22:27] efiop commented on #2697
For the record. Tried running dvc add on a dir with 25K files of 1M size generated from urandom. Ran on windows and linux on the same machine and on the same ntfs drive. Windows scored at 686sec and linux at 776sec. So looks like the issue reported by @shcheklein is caused by SSD on ec2 windows instance being slower than his pcie SSD on his macbook (you can see from cprofile that io takes much lon

[2019-11-07 22:31] efiop commented on #2747
@casperdcl Installing that still shows
[code]
for me :slightly_frowning_face:

[2019-11-07 22:33] casperdcl commented on #2747
hmm. @efiop was `colorama` also installed on your machine?

[2019-11-07 22:44] efiop commented on #2747
@casperdcl Ah, wait. I do see a change if i drop `#egg` part in that command(not sure what is up with that). Now it works, but it prints on a new line each time:
[code]

[2019-11-07 22:45] efiop commented on #2747
@casperdcl Yes, colorama is installed(we have it as a dependency for dvc too). 0.4.1 though

[2019-11-07 22:53] casperdcl commented on #2747
hmm - so likely some sort of variant of https://github.com/tartley/colorama/issues/79 - maybe at the top of the main file @efiop try patching:

[code]

?

[2019-11-07 23:19] efiop commented on #2747
@casperdcl Didn't help. Same as in https://github.com/iterative/dvc/issues/2747#issuecomment-551300835 :slightly_frowning_face:

[2019-11-08 05:05] nik123 commented on #2749
@efiop Here is my full log for `dvc push -v`: [link](https://gist.githubusercontent.com/nik123/30381c0aef7e8d5918c9112cd3014fe5/raw/8316cc98a032b34313f1b9954275380ab32bac66/gistfile1.txt)

[2019-11-08 09:29] chris-steenkamp opened #2754 "Unable to add file to DVC - Getting a 'win32timezone' error"
DVC version: 0.66.9
Platform: Windows 10 x64
Method of installation: exe

I am busy going through the "Getting Started" section of the website and on the [Add Files](https://dvc.org/doc/get-started/add-files) section I am running the `dvc add data/data.xml` command to add the data.xml file to DVC.

I get the following error:
`ERROR: unexpected error - No module named 'win32timezone'`
and the file

[2019-11-08 09:46] nightscape commented on #2754
I just observed the same problem.
I had some old versions of dvc installed via scoop and tested with them.
The problem was not present in 0.66.3 and is present in 0.66.6.
I don't have 0.66.4 and 0.66.5 installed and afaik it's not easy to install old versions with scoop.

[2019-11-08 09:53] chris-steenkamp commented on #2754
As a workaround, creating a Python virtual environment and installing dvc via pip allows me add the file as expected. The library which provides the win32timezone module is pywin32.

[2019-11-08 11:48] nightscape commented on #2754
I managed to install 0.66.5 and the problem is not present there, so it seems to have been introduced between 0.66.5 and 0.66.6.
Here a code comparison between the two versions:
https://github.com/iterative/dvc/compare/ee70822bd434adb36c41e20c63939af69bf0bc64..522579be1ebde78992853a2dc25af3b06893c466

[2019-11-08 11:52] aabramovrepo opened #2755 "using ssh as a remote, unexpected error - Channel closed"
Hi there,

  I'm facing the following issue while using ssh as a remote for storing data on a disk station manager by Synology. Here is the error I'm getting after `dvc push`:

`ERROR: unexpected error - Channel closed.`

The same remote configuration works just fine when using a standard Desktop machine with Ubuntu 18 as a server. The DVC remote was created as follows:

`dvc remote add remote-ssh

[2019-11-08 11:57] aabramovrepo commented on #2755
Here is SFTP subsystem configuration from `/etc/ssh/sshd_config`:

`Subsystem sftp internal-sftp -f DAEMON -u 000`

[2019-11-08 13:38] pared opened #2756 "remote with relpath breaks get"
[code]
Will work just fine, but when we will use relpath to point to storage (as in commented line)
we will get warnings that cache files do not exist and `data` will not be created.

It is happening, because, in `external_repo` we clone url to `/tmp` and therefore, relative path to cache cannot be resolved properly.

[2019-11-08 15:24] efiop commented on #2755
Hi @aabramovrepo !

Could you show full log for `dvc push -v`, please? Also, are you able to `ssh` into that machine yourself?

[2019-11-08 15:42] efiop commented on #2755
@aabramovrepo Also, are you able to `sftp` into that machine from CLI?

[2019-11-08 15:54] efiop commented on #2749
@nik123 Thanks! Have you tried installing from pip or conda? Did it solve the issue for you?

As to

Not that simple :slightly_smiling_face: Will have to package all our dependencies too for that to happen :slightly_frowning_face: Need to take a closer look.

[2019-11-08 16:19] efiop commented on #2754
Hi @chris-steenkamp @nightscape ! Thanks for the report! Indeed, looks like it is a bug related to our binary packages (windows exe, mac pkg and linux deb/rpm). A workaround for that is to uninstall dvc and install it from `pip`, `brew` or `conda`. Investigating the issue right now.

[2019-11-08 16:52] pared commented on #2711
If main point of this task is to remodel the message for `get`/`import` we should probably rename the issue, as it indicates that main point is to lift the remote requirement from them. @efiop  can I do that?

[2019-11-08 17:11] efiop opened #2760 "consider getting rid of packages/binaries built by pyinstaller (windows exe and mac pkg)"
We've been running into issues with pyinstaller-built binaries for a long time and now I wonder if we should abandon them for good.

Mac: we have brew, pip and conda, doesn't seem like there is any need for our own pkg installer. We can't really make pkg installer install non-binary package for now, as we depend on python and mac has py2, which is soon to be dead. Supporting py2 only for that is n

[2019-11-08 17:12] efiop commented on #2760
If there are any users that need these, please let us know here in the comments. :slightly_smiling_face:

[2019-11-08 17:16] efiop commented on #2760
Some stats on our pkg and exe downloads: https://www.somsubhra.com/github-release-stats/?username=iterative&repository=dvc Some of those are from our tests. So not many downloads for windows and mac installers. deb/pkg are usually served from our s3 repos, so those don't count.

[2019-11-08 17:28] mroutis commented on #2760
Python is not that hard to get on Windows: https://blog.adafruit.com/2019/06/04/new-guide-python-is-in-the-latest-build-of-windows-10-adafruitlearningsystem-python-adafruit-win10-windows-adafruit/

You can search it on the store, without going to Python.org :eyes:

https://www.microsoft.com/en-us/p/python-37/9nj46sx7x90p

[2019-11-08 17:37] efiop commented on #2760
@mroutis Still not as simple as current installer. Maybe there is a better way to package this.

[2019-11-08 18:04] efiop commented on #2760
Not finding any good alternative :( Looks like the options for distributing python app are the same as they were 2 years ago. Looks like we will simply have to suck it up and improve our testing to catch those issues early. :slightly_frowning_face:

[2019-11-08 18:23] efiop commented on #2760
Things like awscli are also still using pyinstaller, even though they run into similar issues from time to time. Looks like there is no other way for now. Closing.

[2019-11-08 18:56] #2749 closed

[2019-11-08 19:08] mroutis commented on #2760
@efiop , I think you are overestimating the installation task; right now is as easy as searching python on the store, click download, `pip install dvc` and you are done :)

[2019-11-08 19:42] efiop commented on #2760
@mroutis That's a good point! Though awscli, mercurial and others do provide windows/mac installers to make it a1 stop shop, instead of making you install python and run pip. To me it seems like our users are advanced enough to do that, but it might not be a valid excuse to raise the bar for the newbies. Need to learn more about why people are even using those.  Will keep this opened for now, mayb

[2019-11-08 19:43] efiop commented on #2749
@nik123 Btw, could you share some info on why you are using our deb package instead of, say, pip or conda? Just curious about the reasons.

[2019-11-08 19:44] efiop commented on #2754
@chris-steenkamp @nightscape Btw, guys, could you please share why you've chosen to use our exe installer instead of installing using pip or conda?

[2019-11-08 19:47] efiop commented on #2754
@chris-steenkamp @nightscape One more thing, could you run that command with `-v` added (e.g. `dvc add data -v`) and share the full log, please?

[2019-11-08 20:12] mroutis commented on #2760
looks like the reason behind `aws-cli` providing Windows installers is the lack of Python providers from the OS: https://github.com/aws/aws-cli/issues/2501#issuecomment-287942662

And from their web page, looks like they are going with `pip` for OSX: https://aws.amazon.com/cli/

![2019-11-08-14:08:55](https://user-images.githubusercontent.com/7363250/68507278-21168b00-0231-11ea-806b-e6efab942fd4.p

[2019-11-08 20:13] efiop commented on #2754
Fix is https://github.com/iterative/dvc/pull/2763 . Also added a simple test to our dvc-test repo(testing existing packages) so we will get that covered in the future. Will release a new version ASAP.

[2019-11-08 20:28] efiop commented on #2760
@mroutis Yeah, but default python on mac is not very good too :slightly_frowning_face: It is an ancient python 2, which we will drop in 2 months, so can't rely on it :slightly_frowning_face:

[2019-11-08 22:24] #2754 closed

[2019-11-09 00:51] mroutis commented on #2760
@efiop , true that :disappointed:

I read that they are discouraging users to rely on python 2: https://developer.apple.com/documentation/macos_release_notes/macos_catalina_10_15_release_notes

[2019-11-09 01:42] casperdcl opened #2766 "use non-blocking multithreaded progress I/O"
continuing discussion from #2697

- use the old non-blocking approach
  + https://github.com/iterative/dvc/blob/0.35.6/dvc/progress.py#L51
- use blocking upon completion
  + https://github.com/iterative/dvc/blob/0.35.6/dvc/progress.py#L70
- depends on https://github.com/tqdm/tqdm/issues/838 -> https://github.com/tqdm/tqdm/pull/839

[2019-11-09 08:09] Abrosimov-a-a opened #2768 "setupterm: could not find terminal"
Have a problem with `show --ascii`:

[code]

- DVC 0.66.9 Debian Buster deb
- Konsole 18.04.0
- zsh 5.7.1 (x86_64-debian-linux-gnu)
- TERM=xterm-256color

[2019-11-09 17:07] #2766 closed

[2019-11-09 17:29] efiop commented on #2768
Hi @Abrosimov-a-a ! Thanks for reporting the issue! Could you try this workaround:
[code]
?

[2019-11-09 18:35] efiop commented on #2747
Btw, running `wget` in gitbash, it also doesn't respect \r and prints new lines each time.

[2019-11-10 00:12] efiop opened #2770 "progress when collecting directories with giant number of files"
Was adding one particularly large dataset of a few hundred G with lots of files and saw dvc appear to be frozen when it was collecting all the files to start adding them around https://github.com/iterative/dvc/blob/0.67.0/dvc/remote/base.py#L196 . Would be nice to either speed it up so it is not noticable(which I really doubt is possible with that amount of files to walk through) or at least provi

[2019-11-10 03:31] casperdcl opened #2771 "Snapcraft"
Provide a snap package

https://snapcraft.io

I can be assigned if needed

- related to #2760

[2019-11-10 03:35] casperdcl commented on #2771
I just registered `https://snapcraft.io/dvc` just in case :)

[2019-11-10 03:37] mroutis commented on #2771
Thanks, @casperdcl !

By the way, what do you think about #2760 ?

[2019-11-10 03:58] casperdcl commented on #2721
NB would probably be useful to change `from tqdm import tqdm` to `from tqdm.auto import tqdm` to get nice notebook progress bars

[2019-11-10 04:01] casperdcl commented on #2589
I wonder, is this still an issue after the latest release? We've changed the locking mechanism a bit...

[2019-11-10 04:03] casperdcl commented on #2545
Closing as stale

[2019-11-10 04:03] #2545 closed

[2019-11-10 04:50] shcheklein commented on #2770
@efiop I think it's part of the #2546 ? see, the `large dirs progress bar hanging` checkbox and the relevant comment there.

[2019-11-10 07:57] Abrosimov-a-a commented on #2768
`dvc pipeline show --ascii evaluate.dvc -v`

[code]

`dvc pipeline show --ascii evaluate.dvc | less -S` work is good. It is a system or ncurses error, I think. I will look for additional information about it.

[2019-11-10 14:46] efiop commented on #2770
@shcheklein Not seeing that checkbox there. Could you clarify?

[2019-11-10 14:47] efiop commented on #2770
@shcheklein You meant https://github.com/iterative/dvc/issues/2699 . Got it.

[2019-11-10 14:47] #2770 closed

[2019-11-10 14:51] efiop commented on #2699
Also, would probably have to add a progress bar for `RemoteBase._save_dir` since it takes quite a while on dirs with giant number of files.

[2019-11-10 15:57] efiop opened #2772 "windows: bin: win32timezone missing"

[2019-11-10 16:13] #2772 closed

[2019-11-10 16:17] efiop commented on #2589
@casperdcl Indeed, fixed now! Thank you! :tada:

[2019-11-10 16:17] #2589 closed

[2019-11-10 16:18] efiop commented on #2589
@LarryThermo @edisongustavo Guys, please try 0.67.1 and let us know if you are still experiencing that issue. Thanks for the feedback! :slightly_smiling_face:

[2019-11-10 16:29] casperdcl commented on #2589
Lol when you try to debug an issue and can't reproduce it because you accidentally just fixed it...

On one hand I've wasted time. On the other hand, I don't have to waste more time!

![](https://imgs.xkcd.com/comics/good_code.png)

[2019-11-10 18:10] casperdcl commented on #2760
Since you asked @mroutis - my opinion on this issue is the same thing I always say: who needs users when you have devs?

![](https://imgs.xkcd.com/comics/linux_user_at_best_buy.png)

On a serious note I also go through similar pain packaging executables bundling a python interpreter for windows. Don't think there's an easy way around it. Recommending anaconda and/or chocolatey and/or docker may wo

[2019-11-10 18:15] casperdcl opened #2774 "provide docker image(s)"
Provide docker images

- make dev installation and testing easier
- also can be used by end-users (something like `docker run --rm -t -v $PWD:/repo dvc status`)
- also would make it easier for end-users to incorporate into their own docker images
- can be tested on travis
- can be released via github package registry
- can be released via docker hub
- related #2771
- realted #2760

[2019-11-10 19:37] mroutis commented on #2774
@casperdcl , I'm not sure how much benefit would bring, giving that it is not that hard to create a docker image for DVC: `docker run --name dvc -ti python pip install dvc` && `docker container commit --change 'CMD ["dvc"]' dvc dvc`

Also, testing this would be the same as testing DVC on a linux machine (or at least, it should be)

I doubt that users want to use it as a base image, since it doesn'

[2019-11-10 22:32] efiop commented on #2771
@casperdcl I remember installing from snap many years ago, and that is about the only time i've heard about it or used it :) Not quite sure I understand the purpose of creating a package for it, could you elaborate? I'm a bit worried about creating the package for it, because it might result in a situation we have with our AUR package, where no one was using it, so it just got abandoned.

[2019-11-10 23:59] efiop commented on #2721
@casperdcl Oh, it will make it detect if it is running from a notebook? Neat!

[2019-11-11 00:25] efiop commented on #1840
For the record: When pulling/pushing large number of fairly small files, you see N progress bars flickering in and out of the existence(which is understandable as push/pull takes a short time). Need to come up with a better way of displaying the progress.

[2019-11-11 00:28] efiop commented on #2768
@Abrosimov-a-a Thanks for the investigation! Might be related to https://github.com/iterative/dvc/issues/2420 as well. What ncurses version are you using, btw?

[2019-11-11 00:30] efiop commented on #2420
@drorata Could you try running `TERM=linux dvc pipeline show --ascii my.dvc` please? We've had something similar reported in https://github.com/iterative/dvc/issues/2768 , and that trick worked pretty well. Looks like both are ncurses bugs, though I can't quite put my finger on anything yet.

[2019-11-11 00:37] kurianbenoy commented on #2691
@shcheklein @Suor, I got a bit busy with other works. Will catch up with this issue after that

[2019-11-11 07:23] aabramovrepo commented on #2755
Hi, thanks for the quick response!

[code]

yes, I can ssh into the server machine by myself.

[2019-11-11 07:24] aabramovrepo commented on #2755
Nope! I'm getting the following error message:

[code]

[2019-11-11 09:09] nik123 commented on #2749
@efiop , pip installation helped to solve the problem, thank you.

As for deb package I initially used it because it seemed the easiest way to provide single dvc version for several Unix users

[2019-11-11 09:59] nightscape commented on #2754
@efiop if that information is still useful: I installed DVC via scoop which uses the `.exe` file instead of pip or conda.
Thanks for fixing this so quickly!

[2019-11-11 10:30] casperdcl commented on #2721
Yes

[2019-11-11 11:19] chris-steenkamp commented on #2754
Thanks for the quick turnaround! The reason I am using the .exe (rather than pip) is because the [Installation Docs](https://dvc.org/doc/install) seem to recommend downloading the installer by default.

[2019-11-11 12:11] efiop commented on #2754
@nightscape Oh, I didn't even know about scoop! Looks like @r15ch13 added dvc https://github.com/ScoopInstaller/Main/blob/master/bucket/dvc.json and keeps it up to date! 🔥

@chris-steenkamp Got it! Thanks for the feedback!

@nightscape @chris-steenkamp A few more questions, if you don't mind 🙂Are you guys familiar with chocolatey or scoop? Would you prefer to us recommending one of them instead? A

[2019-11-11 12:15] efiop commented on #2749
@nik123 We've released the fix for this in a new version, so deb packages should be fixed again :) Please feel free to give them a try and let us know how it went. Thanks a lot for the feedback! 🙁

[2019-11-11 12:16] efiop commented on #2760
Reasons why users are using bin packages:

https://github.com/iterative/dvc/issues/2749#issuecomment-552355651

https://github.com/iterative/dvc/issues/2754#issuecomment-552374209

[2019-11-11 12:46] pared commented on #2774
I would also argue, that when doing some data science stuff in docker, its probably easier to install DVC in your own image, rather than try to adjust DVC image to you requirements (like installing TF/pytorch/...).

[2019-11-11 12:50] casperdcl commented on #2774
@pared that was my point about

as in people could copy-paste from our docker file into theirs...

I assumed it's more complex than just a `pip install` to get all the features (at least some `apt-get installs` as well?)

[2019-11-11 12:52] pared commented on #2774
@casperdcl ok, I didn't quite get it.

That would surely help to install.

[2019-11-11 13:33] efiop commented on #2774
@casperdcl Hm, `apt-get`s would depend on the base image that you are using. If it is absolutely bare then yeah, you will need to install python and whatnot. But for regular things like ubuntu you don't have to install anything special, except, I guess, git. We have a docker image that we are using for testing here https://github.com/iterative/dvc-test/blob/master/docker/ubuntu/16.04/Dockerfile .

[2019-11-11 13:42] efiop commented on #2755
@aabramovrepo Oh, if you are not able to sftp into that machine without dvc, then I would start with sorting out that issue first. I'm not that familiar with sftp configuration and synology so I don't really know if that is a known issue or not. Googling around for `synology subsystem request failed on channel 0` I'm finding plenty of links like https://community.synology.com/enu/forum/17/post/115

[2019-11-11 14:58] casperdcl commented on #2774
@efiop the `setup.py` file seems to imply more deps are required - I was referring to a full `pip install dvc[all,ssh_gssapi,tests]`

[2019-11-11 16:11] casperdcl commented on #2774
@efiop can confirm `libffi` not required on `ubuntu:18.04`

[2019-11-11 16:18] efiop commented on #1371
Fixed by checkout patch from @pared

[2019-11-11 16:18] #1371 closed

[2019-11-11 16:19] efiop commented on #1369
Fixed by @pared 's checkout PR.

[2019-11-11 16:19] #1369 closed

[2019-11-11 17:16] nightscape commented on #2760
If I may chime in here as a Windows user:
I've installed dvc via [scoop](http://scoop.sh/), which imo is the nicest way to install stuff on Windows.
[Here is the package definition for dvc](https://github.com/ScoopInstaller/Main/blob/master/bucket/dvc.json).
It doesn't require `.exe` files, but usually some kind of archive that can be downloaded and unzipped (e.g. to `~/scoop/apps/dvc/0.66.9`). It

[2019-11-11 17:24] n3hrox commented on #2771
@efiop snap is now bundled with the newest ubuntu distros so it easier to install a lot of packages, though I have to agree I don't see many users actually downloading it from there at is is more designed for casual linux users and `dvc` is kind of niche software (unlike skype / spotify etc.)

[2019-11-11 17:29] casperdcl commented on #2771
@efiop

`snap install dvc` would differ from `apt install python3-pip && pip3 install dvc` in these ways:

- would not rely on system python/conda/libffi/lib*.so etc (the snap would bundle its own dependencies, https://snapcraft.io/docs/python-apps)
- would update automatically on-the-fly (same as apps on your phone set to auto-update)

[2019-11-11 17:35] efiop commented on #2774
@casperdcl Ah, got it. yeah, `gssapi` requires some dev tools to compile stuff as well as `tests`, so the dockerfile for that would be more complicated. We could provide it in the docs maybe? I'm not quite sure about building and testing it. When used for regular tests, it would always run linux inside, instead of running on the host system, which is a problem, as we already have a lack of native-

[2019-11-11 17:39] casperdcl commented on #2774
Yes I did start making a few flavours of docker images for testing (alpine, ubuntu LTS, 2.7, 3.6 etc) ages ago which are probably sitting in a `git stash` on one of any number of machines. maybe.

Now I just use a conda env for dvc testing.

[2019-11-11 17:49] casperdcl commented on #2760
Hmm does that scoop repo link get an automated PR every single time one of the supported packages gets an update? Seems like a nightmare to manage.

I'll also post another vaguely related comic with the excuse that I didn't post the first one so can't be accused of starting this...

![](https://imgs.xkcd.com/comics/python_environment.png)

[2019-11-11 17:56] shcheklein commented on #2755
@efiop should we update our docs (and website?) to mention that SFTP support is required?

[2019-11-11 18:00] efiop commented on #2771
@n3hrox @casperdcl Thanks for clarifying guys! So can it be considered a replacement for our deb and rpm packages that we already have? Or should we think about it as a more of an addition?

[2019-11-11 18:08] casperdcl commented on #2771
@efiop yes I think so. I prefer `snap install` over `apt install` when available. Note that the Ubuntu Software Centre installs packages via `snap` too, so `dvc` would show up there...

![image](https://user-images.githubusercontent.com/10780059/68609826-4401a300-04ae-11ea-8ee7-aae02933da15.png)

[2019-11-11 18:09] efiop commented on #2755
@shcheklein It seems pretty obvious, but sure https://github.com/iterative/dvc.org/issues/781

[2019-11-11 18:10] efiop commented on #2771
Oh, nice! I agree, this would be nice to have. :slightly_smiling_face:

[2019-11-11 18:10] shcheklein commented on #2755
@efiop may be I don't quite understand this (like is SFTP the only way to deal with SSH?), could you elaborate a little bit why is it obvious? May be we don't need that ticket indeed.

[2019-11-11 18:12] efiop commented on #2755
@shcheklein Not aware of any other way. But we don't mention SFTP in our docs at all, so I guess it is worth documenting.

[2019-11-11 18:15] efiop commented on #2711
@pared  Sorry for the delay. Sure, feel free!

[2019-11-11 21:35] edisongustavo commented on #2589
It looks like it is fixed. I've added a large dataset with `dvc add` and had no issues.

[2019-11-11 22:41] casperdcl commented on #2774
btw totally fine with this issue being closed - don't actually have any strong opinions about it.

[2019-11-11 22:53] casperdcl commented on #2771
Ah I'll either need admin access to this repo or an admin needs to add it via https://build.snapcraft.io/select-repositories

[2019-11-11 22:55] efiop commented on #2774
@casperdcl No reason to close it. Docker images(or at least dockerfiles) would be nice to have, for sure. 🙂

[2019-11-11 22:58] casperdcl commented on #2771
Actually nvm turns out a few months ago travis finally caught up https://blog.travis-ci.com/2019-06-21-snaps-support-travis-ci so don't think we need the repo linked

[2019-11-11 23:14] efiop commented on #2771
@casperdcl I've accepted the request for snapchat, does it work now?

[2019-11-11 23:15] casperdcl commented on #2771
I'll submit a PR at some point.

Srry don't have snapchat :D

[2019-11-12 05:58] Abrosimov-a-a commented on #2768
My Python version is 3.7.3 with built-in curses version 2.2. I find some information about that. In the next weekend I will try to patch the DVC or report about this bug to the ncurses dev team.

[2019-11-12 10:42] efiop commented on #2768
@Abrosimov-a-a I have the same ncurses version. Looks like it is `TERM=xterm-256color` that is to blame. Ncurses seems to have it mentioned quite a few times in https://invisible-island.net/ncurses/ncurses.faq.html , though I can't put my finger on anything specific just yet.

[2019-11-12 11:00] nightscape commented on #2760
@casperdcl afaik each scoop bucket contains a script that updates all dependencies. That script is run automatically every hour or so and the result automatically committed and pushed to Github.
Imo the approach is really great. I've submitted quite a few package declarations now, it really takes only a few minutes to provide them and in return I get free package updates for live 😄

[2019-11-12 11:41] pared opened #2780 "get/import: don't require default remote for get/import in certain cases"
As pointed in discussion under #2711
DVC, upon `get` and `import` operations requires that default remote is defined in target repo.
We should remove this requirement.

**UPDATE:**

check this comment that generalizes it to non-cached files when cache is present already.

https://github.com/iterative/dvc/issues/2780#issuecomment-572205877

[2019-11-12 11:42] pared commented on #2711
@efiop renamed the issue, created new ticket for lifting the remote requirement, so that we do not lost track of it.

[2019-11-12 11:51] efiop commented on #2780
Will need to be solved as a part of https://github.com/iterative/dvc/issues/2515

[2019-11-12 12:59] drorata commented on #2420
I guess something changed somewhere --- now either with `TERM=linux` or without it, the behavior of the `show` is *fine*.

[2019-11-12 13:36] efiop commented on #2420
@drorata Interesting. Well, something is definitely going on with the ncurses. Maybe you've indirectly updated it since or something and that resolved it. Let's close this issue for now, please feel free to reopen if you run into this issue again. Thanks for the feedback! :slightly_smiling_face:

[2019-11-12 13:36] #2420 closed

[2019-11-12 16:19] shcheklein opened #2782 "a potential bug with dependencies on conda"
**Context:**

https://discordapp.com/channels/485586884165107732/485596304961962003/643841725831315456

-------------

I was able to reproduce with `pip` before I ran `pip install -U -e .[all,tests]`. After updating tqdm the issue was resolved.

It's clear why was that happening to me with dev version being not in sync with deps. Not sure if there is a bigger issue with how `conda` is managing dep

[2019-11-12 16:24] efiop commented on #1654
Closing for now, as no one is asking for gs support and hdfs is not possible to support right now(see comment in the issue desc).

[2019-11-12 16:24] #1654 closed

[2019-11-12 16:29] shcheklein commented on #2520
Related: https://discordapp.com/channels/485586884165107732/485596304961962003/643849467069595668

[2019-11-12 16:46] jaredsampson commented on #2782
It looks like the issue is tqdm 4.38.0 hasn't been propagated to conda.

[code]

So 4.37.0 is the highest version available.  `tqdm` version 4.38.0 was just released 4 days ago, so this is understandable.  Based on the fact that the 4.37.0 release is also only 12 days old, I suspect if I just give it a couple days, the package maintainer for conda-forge will build the new version as well, but I'll

[2019-11-12 16:46] efiop commented on #2599
Let's start with local, as it makes the most sense and is a natural thing to do.  We need to at least show a warning that we are automatically using project's cache as a remote or maybe we need an explicit flag that would tell `import/get` that this is okay to do. On one hand, warning is a low-friction approach, but might be dangerous if user doesn't realize that he is not using a remote and then

[2019-11-12 17:09] casperdcl commented on #2782
fixed by https://github.com/conda-forge/tqdm-feedstock/commit/f8084ecc6b8a2187ef6a54aeea90f568aafc12ea generally always lags behind `pip install` a little. I should've made sure to release this one earlier.

[2019-11-12 17:09] #2782 closed

[2019-11-12 18:10] jaredsampson commented on #2782
Great, thanks!

[2019-11-12 18:23] efiop commented on #2782
Also my fault for not updating it in our conda deps. Updated https://github.com/conda-forge/dvc-feedstock/blob/master/recipe/meta.yaml . @casperdcl Thank you for fixing the tqdm package! @jaredsampson Sorry for the inconvenience and thank you for the feedback! 🙏

[2019-11-12 20:34] efiop opened #2783 "restyled runs yapf, which we don't want"
For some reason https://github.com/iterative/dvc/pull/2776 runs yapf, which we don't even use and it is not enabled in the config. Investigating.

[2019-11-12 20:39] efiop commented on #2783
https://github.com/iterative/dvc/pull/2551#issuecomment-553103983

[2019-11-12 20:39] #2783 closed

[2019-11-12 20:41] casperdcl commented on #2783
Love that this was labelled `p0`

Critical for devs but no end user would care :D

[2019-11-12 22:10] efiop commented on #2783
@casperdcl Well, you can say that the team members are "internal users" :) Luckily this one was very simple to resolve, I was afraid of something more serious.

[2019-11-12 22:17] jorgeorpinel commented on #2599
You mean use local repo and/or cache as default place to get/import from? I would agree with this.

Maybe either way output where the import is coming from as a regular INFO message. But honestly, the possibility that people won't pay attention to the output is there anyway. Also, in some other recent discussion about adding output warnings someone brought up that they can break shell scripts and

[2019-11-12 22:28] jorgeorpinel commented on #2602
This seems like it will be fixed with #2777.

[2019-11-12 23:12] jorgeorpinel opened #2784 "colorama: standardize and apply output message colors"
I just recently discovered we're using `colorama` when reviewing https://github.com/iterative/dvc/pull/2765/files but haven't really noticed it much in most DVC output.

[Current use](https://github.com/iterative/dvc/search?utf8=%E2%9C%93&q=colorama&type=) I can see now:

- `colorama.Fore.BLUE` is used for some URLs. I like this, should check it's ALL URLs.
- `RED` and `GREEN` are used in the upda

[2019-11-13 00:06] efiop commented on #2784
Good catch @jorgeorpinel !

It is used in `boxify` https://github.com/iterative/dvc/blob/master/dvc/utils/__init__.py#L389 .

[2019-11-13 01:52] efiop commented on #2387
Fixed by https://github.com/iterative/dvc/pull/2785

[2019-11-13 01:52] #2387 closed

[2019-11-13 08:46] xliiv commented on #1566
Looks good, let me look at it.

[2019-11-13 14:26] Suor commented on #2697
@casperdcl do we still plan to use deque-based lockless mechanism? Also, as I see it, now you use non-blocking `RLock.acquire()`, what's the point? Does it prevent output from mixing up across threads?

[2019-11-13 14:37] casperdcl commented on #2697
yes, as with the previous (before `tqdm`) approach it prevents multiple threads writing progress output on top of each other. I don't see the point of deque atm.

[2019-11-13 14:40] casperdcl commented on #2697
Also @Suor the main issue here seems to be

which doesn't look UI-related.

[2019-11-13 14:44] Suor commented on #2697
So cutting up on those dup exists/isdir calls might help. Not sure though, `nt.stat` takes more time than `posix.stat` in mac bench, however, exists don't have that much cumtime.

One thing that bothers me is that you have 440796 calls to `shutil.copyfile()` and corresponding `copyfileobj()` on windows, but not on mac. Doesn't look like mac really copying anything.

[2019-11-13 14:46] Suor commented on #2697
@casperdcl but if it doesn't block, how does it prevent two threads from printing at same time? So first process acquires a lock and prints to stdout, in the meantime the second process fails to acquire the lock, but still continues and prints to stdout. They mix outputs.

[2019-11-13 14:49] Suor commented on #2697
@casperdcl that issue you refer to was caused by memory leak and was a show stopper for sure. However, that one was fixed, but Windows is still slower than unix considerably, which bothers us.

[2019-11-13 14:51] casperdcl commented on #2697
@Suor I feel this discussion should be had on #2767 <- #2766 but essentially failure to acquire a non-blocking lock means that output is skipped. In practice screen refresh could reduce from ~10/s to ~1/s per bar :) but the task will finish quicker.

[2019-11-13 15:07] Suor commented on #2697
@casperdcl oh, I caused a confusion, I don't mean bar refreshes I mean actual output, which we do through logger, which calls `Tqdm.write()`.

That ignores `lock_args` and hence blocks on the lock, which means a few things:
1. Two `logger.*()` calls won't mix.
2. If we have lots of concurrent logger output this will be slow.
3. Pbar refresh will ignore concurrent logger output and might print in t

[2019-11-13 15:29] casperdcl commented on #2697
True

Yes but I assume logging output is never that much. If there is a lot of logging output then we have more problems (why is there so much logging output? excessive verbosity is hard to use for debugging. non-blocking logging would mean interleaving and/or dropped messages, neither of which are good)

[2019-11-13 15:43] Suor commented on #2697
When we run `-v` flag then there are lots of messages logged. And queues should work, no blocking, no interleaving.

I don't know whether that is a real or only a potential issue though.

[2019-11-13 15:59] casperdcl commented on #2697
Yes would need profiling. Based on https://github.com/iterative/dvc/pull/2767#issuecomment-552067441 there's no issue with `dvc add` but I don't know about `dvc commit`...

[2019-11-13 19:16] jorgeorpinel commented on #2784
Thanks. Should probably use it more or remove it?

[2019-11-13 19:19] efiop commented on #2784
@jorgeorpinel Hm, why remove it? But yeah, could definitely use it more :)

[2019-11-13 19:23] jorgeorpinel commented on #2784
Idk. It only knows 4 colors and the ending syntax is not that easy to read, at least in boxify:

[code]

vs. something like `"{blue}{space}{nc}\n".format(blue=colorama.Fore.BLUE...`

[2019-11-13 19:33] efiop commented on #2697
@casperdcl https://github.com/iterative/dvc/pull/2735 That commit leak was fixed in https://github.com/iterative/dvc/pull/2735 . Sorry, forgot to link it here.

[2019-11-13 20:04] shcheklein commented on #2697
a quick update, btw. I tried to run it on the same instance type + storage type as I use for Windows, but on XFS Linux and the same `dvc add` operation is 8-9x slower now (after thread locking fix). Still researching in background what's causing this and if there are workarounds when we deal with large numbers of files on Windows.

[2019-11-13 20:46] pared commented on #2473
Is this error still valid? Maybe there is similar problem as we had in #2600?
Can I take this?

[2019-11-13 21:16] efiop commented on #2473
@ChrisHowlin Could you try the newest version of dvc (0.68.1) and see if you are still able to reproduce this issue?

@pared Very similar, indeed! Sure, please go ahead!

[2019-11-13 21:32] shcheklein opened #2788 "version: improve link type detection fall back"
**To reproduce:**

`dvc version` outside of any DVC repo.

**Output:**

```WARNING: Unable to detect supported link types, as cache directory '.dvc/cache' doesn't exist. It is usually auto-created by commands such as `dvc add/fetch/pull/run/import`, but you could create it manually to enable this check.```

It should instead generate a regular output and either omit the link type completely or pri

[2019-11-13 21:56] shcheklein opened #2789 "permissions are not set right for directories DVC creates"
* Potentially affects shared cache group logic which can be a security issue?
* Affects all local commands that create directories which is also a security issue.

**For example: **

`dvc get https://github.com/iterative/dataset-registry get-started/data.xml -o data/data.xml`

creates an intermediate directory `data` with `0o777` permissions on Mac in `~` and `/tmp`:

[code]

It might be related t

[2019-11-13 22:03] shcheklein commented on #2789
`umask(0o022)` in `utils:makedirs` solves this

[2019-11-13 22:41] nraw commented on #1099
It seems like the issue might not be as straight forward as one would assume at first, due to the point that `dvc repro` or `dvc run` would keep re-running previous parts of the code for each step in case these are not in the same environment or new commits are not being made every time. This is being discussed in as well #2212

[2019-11-13 23:26] shcheklein opened #2791 "s3: DVC asks MFA code for each file on push/pull"
**Context:**

https://discordapp.com/channels/485586884165107732/485596304961962003/644313703038189568

Might be related:

https://github.com/boto/boto3/issues/1179

[2019-11-13 23:35] shcheklein commented on #2789
I wonder why `test_shared_cache` does not fail on Python 3.7.

[2019-11-14 00:53] shcheklein commented on #2791
Temporary workaround:
https://discordapp.com/channels/485586884165107732/485596304961962003/644334026311598124

[2019-11-14 01:02] shcheklein commented on #2789
so, one reason for this potentially is that makedirs mode is ignored on intermediate directories only

[2019-11-14 01:02] TimothyHyndman commented on #2791
To get the above [workaround](https://aws.amazon.com/premiumsupport/knowledge-center/authenticate-mfa-cli/) working, I had to remove the `mfa_serial = ...` line from the profile I was using in ~/.aws/config

[2019-11-14 01:23] dmpetrov opened #2792 "pull interrupt: over polluted error messages and no actual interruption"
1. When canceling (Ctrl+C) `dvc pull` you see Python exception in the output. It is better to avoid it (UX issue).
2. The command was not actually canceled after the first Ctrl+C - `dvc pull` was still running. I had to push Ctrl+C many times (with additional exceptions in the output) before it was actually canceled.

Ideally, after Ctrl+C user should see 1-2 lines about the operation cancelation

[2019-11-14 01:29] shcheklein commented on #2792
@casperdcl can it be something tqdm and the recent change related?

@dmpetrov please, include the DVC version.

[2019-11-14 01:42] villasv commented on #2212
I think running DVC in isolated containers is an anti pattern. We can be creative with the workarounds but having each command run in isolated contexts defeats the purpose of a tool that has in its core the inspection of existing state.

[2019-11-14 02:23] casperdcl commented on #2792
I doubt it's `tqdm` specific - this looks more related to passing `KeyboardInterrupt` to multiple threads. Presumably should have always been an issue?

Maybe can be fixed by subclassing `ThreadPoolExecutor`?

[2019-11-14 03:22] jorgeorpinel opened #2793 "Remove back ticks (and quotes) from command output? How to highlight?"
In #2644 @efiop and I decided it would be good to standardize the use of back ticks ` and single quotes in command outputs. We decided the former would be used for file names, commands, arguments, etc. and the latter for dynamic output (stuff that varies in the message). Let's review this convention per
 https://github.com/iterative/dvc/pull/2765#pullrequestreview-316671192. @shcheklein's comments

[2019-11-14 03:29] jorgeorpinel commented on #2793
I think mostly with terminal text coloring e.g. using `colorama` in Python (related: #2784)

So yeah, firstly, separating between back ticks and single quotes was probably not that useful since to the user, which part of the text is dynamic is probably completely irrelevant. So the convention I would recommend is to either only use `'` which I doubt can cause any trouble in terminal output (we nee

[2019-11-14 09:26] #2520 closed

[2019-11-14 10:01] efiop commented on #2793
backtics are not only markup, they are also an old-ish way of "evaluate" for your commands. E.g. in sh you can use backtics or $() to wrap your command.

[2019-11-14 10:02] efiop commented on #2793
You can look through things like cpython, backtics are quite widely used in command output.

[2019-11-14 16:08] pared commented on #2473
@efiop, @ChrisHowlin
I managed to reproduce with following script:
[code]
seems that problem is similar as in #2600, will take a closer look inside `boto`

[2019-11-14 18:30] jorgeorpinel commented on #2793
@shcheklein what do you think?

@efiop OK good points.  But so you don't think colors are better than back ticks?
And what do you think about stopping using single quotes per:

?

[2019-11-14 19:49] shcheklein commented on #2793
@jorgeorpinel I would say it's a bit unusual for me, but I don't have a strong opinion - so I'm fine with either for now. We can get back to it later when we start doing UI/UX more systematically.

[2019-11-15 02:43] dmpetrov commented on #2792
Right. It was not the last version:
[code]

After the update to `0.68.1+6147b9` the 2nd issue disappeared. So, only the python stack trace output UI issue needs to be fixed:

[code]

I'll edit the bug description.

[2019-11-15 03:09] efiop commented on #2473
@pared setting ulimit to 25 might be way too low just in general, need to be careful about that. What I did for #2600 is I've monitored the number of opened fds from /proc/$PID/ and it was pretty apparent that some stuff was not released in time. Might want to look into caching the boto session as a quick experiment.

[2019-11-15 03:09] efiop commented on #2791
Might be solved by caching the session https://github.com/iterative/dvc/issues/2473#issuecomment-554191280 , but need to confirm.

[2019-11-15 03:16] efiop commented on #2793
@jorgeorpinel Colors are good too, but they won't show up in the logs when you redirect them to the file. Marking things with quotes and ticks is not only for the user, but also for the developer, so I can visually inspect the log and understand what is a dynamic part and what is not on first sight, instead of having to look into code right away.

[2019-11-15 10:53] Pierre-Bartet commented on #331
Hi, has this eventually been implemented ?

[2019-11-15 13:40] pared commented on #331
Hi @Pierre-Bartet, it have not been yet implemented. Would you find this feature useful? Could you descirbe your use case?

[2019-11-15 13:50] MathieuMarauri opened #2797 "DVC is busy and locked"
Hello,

I am trying DVC and it looks really promising so far, thanks for the good work.

I am having an issue I can't seem to be able to fix, whatever the dvc command I run I am having the following error:

`ERROR: failed to obtain data status - cannot perform the cmd since DVC is busy and locked. Please retry the cmd later.`

What can I do? I even tried completely restarting my computer.

Cheers,

[2019-11-15 14:02] gw0 commented on #1153
WebDAV support would also enable the use of private file-hosting solutions, like Nextcloud, Owncloud, and others.

[2019-11-15 14:46] Pierre-Bartet commented on #331
@pared Use cases equivalent to the one already described:

In fact this is exactly at this point that data version control tools could become really useful because the situation is messier than in the 'vanilla' use case. AFAIK Pachyderm is the only tool with this kind of feature but it is super heavy. I think what is needed is to be able to

- Add an empty collection of objects:
`$ dvc add --colle

[2019-11-15 15:35] pared commented on #2473
Probably related:
https://github.com/boto/boto3/issues/1402

[2019-11-15 15:40] shcheklein commented on #2797
Closing as duplicate to https://github.com/iterative/dvc/issues/2520

[2019-11-15 15:40] #2797 closed

[2019-11-15 16:04] efiop commented on #2641
Closing due to inactivity.

[2019-11-15 16:04] #2641 closed

[2019-11-15 16:05] #2623 closed

[2019-11-15 16:05] efiop commented on #2623
Fixed by reformat_imports hook.

[2019-11-15 16:15] efiop commented on #1933
No longer the case in pip 19.1.1

[2019-11-15 16:15] #1933 closed

[2019-11-16 02:24] dmpetrov opened #2799 "ML experiments and hyperparameters tuning"
UPDATE: Skip to https://github.com/iterative/dvc/issues/2799#issuecomment-650464000 for a summary and updated requirements.

## Problem

There are a lot of discussions on how to manage ML experiments with DVC. Today's DVC design allows ML experiments through Git-based primitives such as commits and branches. This works nicely for large ML experiments when code writing and testing required. However

[2019-11-16 08:42] Abrosimov-a-a commented on #2768
Bug is't present in pip version of DVC (0.66.11).

I looked at the source of the deb package. You embed all the dependencies in the package. This is a very bad idea! You include your own Python. In Linux! WTF? I don’t have so much time and desire to figure it out. I assume that the bug appears due to the fact that you are using the Python version without applying Debian patches.

I don’t like it s

[2019-11-16 09:19] Abrosimov-a-a opened #2800 "deb/rpm: build granular packages"
1. Big package size.
2. Librarys duplication on client system.
3. Need to upgrade package, when dependency is upgraded.
4. The patches of the distribution developers are not used. As example: #2768
5. Perhaps you build the package by hand?
6. You can find many other information about that issue.

What is your current way to build packages?
What about the system for automatically assembling the cor

[2019-11-16 13:12] MathieuMarauri commented on #2797
Hello,

Thank you for your help. I was trying to run a `dvc run` command but as things were too slow (from the train code I was using) I exited the command and closed my computer. When I worked again on this project, I got stuck with the error.

Cheers,
Mathieu

[2019-11-16 17:14] efiop commented on #2768
@Abrosimov-a-a Ah, I forgot to ask which package you are using. So deb is affected for you, but pip is not, right?

[2019-11-16 17:16] efiop commented on #2800
Hi @Abrosimov-a-a ! Great question! We package it like that for simplicity, as we don't have to deal with packaging all our dependencies into deb and rpm packages.  The way we build current deb and rpm packages is fully reflected by https://github.com/iterative/dvc/blob/master/scripts/build_posix.sh . We build binaries by pyinstaller and then package them into deb/rpm using fpm tool. Then we publi

[2019-11-16 19:44] dmpetrov opened #2801 "Not prompt: fail when checking out without cache"
See #2498

Some citates:
[code]

_Is there are cases when it makes sense to checkout data files without checking out a particular one (answer Yes case)? It seems like in most of the cases this is going to happen when a user forgets to run dvc pull\fetch - it is fine to fail in this case (wee can also show a proper message like Data file 'foo' is missing in cache. Please run 'dvc fetch' first.). Al

[2019-11-16 19:48] dmpetrov opened #2802 "No prompt: do not remove redundant files during a directory checkout"
See #2498

Some quotes:

[code]

_It seems like there are no conflicts to fail or prompt questions. DVC shouldn't remove files that are not committed. A similar Git example:_
[code]
_No changes, no errors. `bar` is in its place. I'd expect the same behavior from DVC._
_**I propose to avoid prompting and outputting any error messages or warning**_

[2019-11-16 19:52] dmpetrov opened #2803 "No prompt: checkout a file that changed"
See #2498

Some quotes:

[code]

_It looks the same as the previous case (even though the implementation might be different). So, checkout should not raise any errors or prompts or even error messages._

_**I propose to avoid prompting and outputting any error messages or warning**_

[2019-11-16 20:02] dmpetrov commented on #2498
It looks like we got all the pros and cons of this issue. It makes sense to get rid of the prompting when it is possible. I created 3 issues for all the prompt cases that we've found except `dvc run`.

`dvc run` is a special case. From one point of view, it generates data derivatives and it is fine to remove them without asking questions. On another hand - there are some cases when data sources ca

[2019-11-16 20:06] dmpetrov commented on #2497
Duplication. #2801 contains more details.

[2019-11-16 20:06] #2497 closed

[2019-11-16 21:02] IamGianluca opened #2804 "Cannot perform the cmd since DVC is busy and locked"
Hi,

I'm running DVC on a VM in Google Cloud Platform (Ubuntu 18.04 and `dvc==0.68.1` installed via `pip`). A few hours ago I launched a `dvc repro` command within TMUX and logged off. After a few minutes I logged in the VM again and tried to run another `dvc repro` command since it seemed that the first job failed after the first stage. The reason why I'm saying that, is that some files I was exp

[2019-11-16 21:08] IamGianluca commented on #2804
I've solved the problem following [this suggestion](https://github.com/iterative/dvc/issues/2797#issuecomment-554384686).

[2019-11-16 21:09] #2804 closed

[2019-11-16 21:23] efiop commented on #2442
Getting it once again on py2 https://travis-ci.com/iterative/dvc/jobs/255935049#L3369

[2019-11-16 21:24] efiop commented on #2442
@casperdcl

[2019-11-16 21:38] casperdcl commented on #2442
@efiop is this the actual error? https://travis-ci.com/iterative/dvc/jobs/255935049#L2554

Not sure how the trace output is set up. Don't know if for example there's another error but the printing of said error on a killed thread is also causing a the error on L3369...

[2019-11-16 21:42] efiop commented on #2442
@casperdcl Not seeing any other error, seems like it is the cause.

[2019-11-16 22:04] casperdcl commented on #2799
I think I almost-but-not-quite understand the aim here. I feel like I'm missing some key concept.

This seems to be almost a contradiction - the most robust way to "keep track" is to commit separately.

This could be satisfied by for example by a bash script looping through param choices with [@nteract/papermill](https://github.com/nteract/papermill) for notebook users. I think it would be quite h

[2019-11-16 22:43] shcheklein commented on #2802
My 2c on this specific ticket.

I don't think in this case analogy works. There is a difference between Git and DVC on how they treat directories. For DVC directory is a first class citizen vs Git is all about files. You can see this, for example, by the way we calculate a single checksum for a directory. Or for a way you can specify directory or a file in `-o`, `-d`, etc.

So, I think by not rest

[2019-11-16 22:46] shcheklein commented on #2803
This is looks like a lost of data, if I'm getting this right. This is not how Git behave. Also, not sure how is it different from one the #2801.

[2019-11-17 04:52] weekly-digest[bot] opened #2805 "Weekly Digest (10 November, 2019 - 17 November, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 35 issues were created.
Of these, 13 issues have been closed and 22 issues are still open.
## OPEN ISSUES
:green_heart: #2803 [No prompt: checkout a file that changed](https://github.com/iterative/dvc/issues/2803), by [dmpetrov](https://github.com/dmpetrov)
:green_heart: #2802 [No promp

[2019-11-17 06:26] dmpetrov commented on #2803
There are no data lose - please check similar Git behavior (there is code example in #2498).

Yes, it might be duplication with #2801 and that was mentioned in https://github.com/iterative/dvc/issues/2498#issuecomment-542297175. I assume these cases were brought separately based on code and it looks like dir/no-dir makes some difference in implementation.

[2019-11-17 06:50] Abrosimov-a-a commented on #2768
Yes. Deb is affected, but whl is working correctly.

[2019-11-17 06:52] Abrosimov-a-a commented on #2800
Hi @efiop !
I will see how it is more convenient to organize dependencies and building. Now I have found 5 dependencies with the problems. It's not so much.

What do you think about SCons?

[2019-11-17 07:05] dmpetrov commented on #2802
This is a good point. There are actually two cases:
1. The current commit initially has the same version of the file (or dir) as the target commit. In this case, a checkout to the target commit should keep the modified file in the workspace and Git/DVC should not fail.
2. You are checking out an old version. The old version cannot be rewritten by modified files. So, failing is the only option.

Of

[2019-11-17 07:34] dmpetrov commented on #2799
@casperdcl good questions but let's start with the major one:

Let's imagine you are jumping to a hyperparameter tunning stage. You need to run a few experiments. You don't know in advance how many experiments are needed. Usually, it takes 10-20 but it might easily take 50-100.

Questions:
1. What abstraction would you choose? Commits to master? A new branch and commits in the branch? Is it okay f

[2019-11-17 08:54] casperdcl commented on #2799
Ah I think we were both not using accurate language :) You do indeed want to commit *results* in some form (metrics for each experiment/summary of metrics/metadata to allow easy reproduction of experiments - which could just be the looping script). You don't necessarily want to commit *runs* (saved models, generated tweaked source code).

And when I said *commit separately* I should've just said *

[2019-11-17 13:45] xliiv commented on #1566
Let's focus on the downloading first.. .

What do you mean @casperdcl ? Could you provide a link to that? I only found this
https://github.com/iterative/dvc/blob/38c210068ba5aeb70ad92a8c22e85832640d8ebd/dvc/api.py#L56
which doesn't seems to be helpful.

I think the more appropriate approach would be to use this [google-resumable-media](https://googleapis.github.io/google-resumable-media-python/lat

[2019-11-17 14:45] xliiv commented on #1566
Ok, got it. I think @casperdcl meant the custom file object is to be written as a part of this task.

[2019-11-17 16:13] casperdcl commented on #1566
Based on the resumable media link it seems like the proposed `download_to_file` approach would be just as complicated to implement really. If you have issues though feel free to open an incomplete PR and I can take a look.

[2019-11-17 16:15] casperdcl commented on #1566
My main problem is testing - @efiop how would you recommended setting up local testing for google cloud storage push/pull?

[2019-11-17 16:31] efiop commented on #1566
@casperdcl I'm not aware of any local implementation that you could run on your machine 🙁 So far I was just using real GS to test things out.

[2019-11-17 16:46] efiop commented on #2800
@Abrosimov-a-a Yep, 5 deps doesn't sound too bad, indeed 🙂

First time I hear about it, tbh. Could you elaborate please?

Also worth mentioning that we are about to have a snap package https://github.com/iterative/dvc/pull/2778 thanks to @casperdcl 🙏 , but it does seem to suffer from similar limitations, as it runs in an isolated container.

[2019-11-17 16:48] efiop commented on #2768
@Abrosimov-a-a Oh, got it. Interesting. So probably the machine we build our deb on has an old ncurses, that is causing this. Thanks for the investigation! 🙏

[2019-11-17 16:50] xliiv commented on #1566
@casperdcl in meantime i started to play a bit with your concept of custom file object and did this very limited PoC (since it's PoC I used a simple file in the root of the dir &  `unittests`)
https://github.com/iterative/dvc/compare/master...xliiv:progress?expand=1

It's for `StringIO`, so some work needed to adjust it to our needs, but looks promising.

Maybe `tqdm` should expose objects like th

[2019-11-17 16:56] efiop commented on #1566
@xliiv A side note: Please use pytest-style tests for new tests. We do have some unittest tests as a legacy, but all new ones are written with pytest.

[2019-11-17 17:01] #2805 closed

[2019-11-17 17:08] xliiv commented on #1566
@efiop sure, i'll be using `pytest`.

It is PoC and I felt it would be simpler to use `StringIO`. I'll convert it to `BytesIO`.

[2019-11-17 17:09] casperdcl commented on #2800
@efiop SCons is a pythonic replacement for CMake.

[2019-11-17 17:12] mroutis opened #2806 "tests: disabling analytics through `config --global` breaks tests"
Setting `dvc config --system core.analytics false` breaks the tests.

Tests should be isolated from the environment.

[2019-11-17 17:59] shcheklein commented on #2803
Ok, I think I see where that confusion comes from. It looks like you are suggesting way bigger changes than just replacing prompt with failure/warning.

It seems there are two parts to it (all these tickets together - and I still don't know which one should I be using to keep discussion going). And that's where I was confused.

- replace prompts with failures
- significantly change semantics of th

[2019-11-17 18:01] shcheklein commented on #2802
See the comment here https://github.com/iterative/dvc/issues/2803#issuecomment-554770118

[2019-11-17 18:55] dmpetrov commented on #2799
Yeah :) Sorry, I put the description in a very abstract form to not to push to any solutions. This abstract form gives a lot of opportunities for different interpretations which is probably the root cause of the misunderstanding. To be clear, I don't see any other solutions besides dirs yet but it would be great if we can consider other options.

I definitely want to give an ability to commit the

[2019-11-17 19:07] efiop opened #2807 "pipeline show: use pager instead of rendering ourselves"
After many discussions https://github.com/iterative/dvc/issues/2420 https://github.com/iterative/dvc/issues/2768 about why our --ascii rendering is bad, I've finally remembered 🤦‍♂  that I should probably check how git does it and, lo and behold, git does use `less` https://github.com/git/git/blob/v2.24.0/pager.c#L8 or whatever is configured to show you things like `git log` instead of rendering i

[2019-11-17 19:08] efiop commented on #2420
@drorata FYI: https://github.com/iterative/dvc/issues/2807 .

[2019-11-17 19:09] efiop commented on #2768
@Abrosimov-a-a Btw, take a look at https://github.com/iterative/dvc/issues/2807 , maybe it is better to implement that instead of bothering with repackaging stuff, even though the repackaging is useful by itself anyway 🙂

[2019-11-17 19:09] dmpetrov commented on #2803
The discussion is supposed to be going in the issue that we together created to summarise prompts stuff #2498. Some folks expressed their opinion there and these new issues were created to "execute" the summary discussion. I'm a bit surprised that after a month of silence in the summary issue we start the discussion again.

Yes, it is a bit bigger issue than just replacing prompts by failings. I i

[2019-11-17 19:10] efiop commented on #2768
@Abrosimov-a-a One more question, why deb was your first choice when installing dvc, why not pip or conda? Related to https://github.com/iterative/dvc/issues/2760

[2019-11-17 19:25] shcheklein commented on #2803
Why don't we create a ticket and share "all theses implementation details" so that someone can start right away w/o some random siloed discussions? Why do we want to keep them ad-hoc and not transparent?

So, that we can start necessary documentation changes as well.

I think #2498 is irrelevant to my concerns.

To reiterate. There is a lot of confusion (at least for me) since we connected this wi

[2019-11-17 20:21] algomaster99 commented on #2560
@efiop I will take this issue after exams :)

[2019-11-17 20:58] Abrosimov-a-a commented on #2800
Next questions:

1. There are two different ways. Simple (for your own repository). Hard (for Debian repository). What the way you need?
2. What we gona do with dependencyes? Include to DVC package or build another packages?

[2019-11-17 22:08] efiop commented on #2800
@Abrosimov-a-a

Creating missing packages for our dependencies and placing them on our s3 deb/rpm repo should be good enough.

I guess we need to package each dependency, to set this up correctly, right?

[2019-11-17 22:11] Abrosimov-a-a commented on #2800
@efiop

Yes. It's more preferrable.

[2019-11-17 22:20] casperdcl commented on #1566
Ok @efiop what's the easiest way to set up real GS? I mean example scripts to

1. add a remote (ideally one which already exists and doesn't need credentials)
2. push
3. pull
4. repeat steps 2 & 3 each time a code change is made while fixing this issue

[2019-11-17 23:23] efiop commented on #1566
@casperdcl The easies (and the only way afaik) is to go to https://cloud.google.com/storage/ , register, create a project and use it :) That will surely take more time than writing this patch though, so could totally try it out for you, as the patch is simple enough anyway.

[2019-11-18 01:00] jorgeorpinel commented on #2498
Another option is to simply close this issue now. 🙂

[2019-11-18 01:13] efiop commented on #2560
@algomaster99 Maybe someone else would want to take it earlier, you could pick something new then :slightly_smiling_face:

[2019-11-18 01:37] jorgeorpinel commented on #2793
Hm. OK, I'm restoring the last bullet in #2784 to separate this discussion from the matter of coloring.

I would personally recommend to standardize only to back ticks, so the output for the user is consistent. I can't imagine it's that much more difficult to figure out which parts are dynamic when inspecting logs. But then again I may be completely wrong. Another option would be to only use quote

[2019-11-18 02:31] efiop commented on #1209
No need for this now, https://github.com/iterative/dvc/issues/2807 will solve it properly.

[2019-11-18 02:31] #1209 closed

[2019-11-18 02:32] efiop commented on #1208
No need for this now, #2807 will solve it properly.

[2019-11-18 02:32] #1208 closed

[2019-11-18 05:13] Abrosimov-a-a commented on #2768
@efiop

It's not a Linux way. It's not a Python way. There is no way for appanding to the any Linux distribs.

Because DVC is a system wired tool, not code dependency.

[2019-11-18 05:32] efiop commented on #2603
Closing due to inactivity. If @alexey-petrov-occ responds, we'll reopen.

[2019-11-18 05:32] #2603 closed

[2019-11-18 05:36] #2502 closed

[2019-11-18 05:44] efiop commented on #2448
Closing. Docs ticket is https://github.com/iterative/dvc.org/issues/108

[2019-11-18 05:44] #2448 closed

[2019-11-18 05:49] efiop commented on #2386
@mroutis @Suor  Is this still relevant? There was some dedup optimization in brancher.

[2019-11-18 07:29] pared commented on #2797
@efiop Do you think we should implement some general logic to remove the lock on `KeyboardInterrupt`? On the other side, without knowing what process created it, we risk removing the lock that was not created by the interrupted command.

[2019-11-18 09:13] Jenny12344 opened #2811 "Busy and locked DVC after command abortion"
Hey everyone,
I just started using DVC on my machine:
DVC version: 0.68.1
Python version: 3.5.6
Platform: Linux-5.0.0-36-generic-x86_64-with-debian-buster-sid
Binary: False
Package: pip
Cache: hardlink - True, symlink - True, reflink - False
Ubuntu 18.04

I started a dvc run command and aborted it afterwards, because I forgot to change something  in my code. Now, when I try to run the command agai

[2019-11-18 09:56] efiop commented on #2797
@pared Hm, does it not remove itself in KeyboardInterrupt? 🤔

[2019-11-18 09:58] efiop commented on #2811
Hi @Jenny12344 !

I guess it was your email on support@dvc.org mailing list, right? 🙂 But just in case I'll copy my response here too:

[2019-11-18 09:58] #2811 closed

[2019-11-18 11:40] pared commented on #2797
@efiop sorry, you are right, seems like `lock.__del__`` is taking care of lock file deletion.

[2019-11-18 12:19] Suor commented on #2799
Doesn't sound like clean to me. It would very messy commit and if that experiments involve code changes it would be way easier to have a commit for each, this way you can `git checkout` it.

We might simply `dvc run --no-commit`, will no need to gc anything in the end.

Not necessarily, if we make a dir copy for each experiment, than that would be a different dvc repo, and we won't need any parall

[2019-11-18 13:05] Jenny12344 commented on #2811
Yeah, that was also me :) Thanks for your fast answer and for your help, it's working again! -- Diese Nachricht wurde von meinem Android Mobiltelefon mit WEB.DE Mail gesendet.Am 18.11.19, 10:59 schrieb Ruslan Kuprieiev <notifications@github.com>:
Hi @Jenny12344 !

I guess it was your email on support@dvc.org mailing list, right? 🙂 But just in case I'll copy my response here too:

If you are sure t

[2019-11-18 14:24] pared commented on #2799
What worries me the most is  the weight of the project. If we decide to go with dir approach, we need to either make a repo copy for each experiment or somehow link/use dvc controlled artifacts from original repo. I think that copy is fine for first version, but later we need to come up with something that would not duplicate our artifacts. That would probably align with parallel execution plans t

[2019-11-18 15:00] casperdcl commented on #2799
About the whole dir copy thing... The `bash` loop + `papermill` workflow I gave as an example (granted only works for python notebooks) would create one dir per test, and said dir would only contain a notebook one different parameter cell, as well as potentially some outputs. All notebooks would use (`import`) the same code and data from the root directory. And all you'd need to commit is the `bas

[2019-11-18 15:54] nettoyoussef commented on #2774
I just came here looking exactly for that.
Every time I see a comment like:
"It's highly recommended using virtual environment or pipx (on Python 3.6+) to encapsulate your local environment."

I instantly go looking for a docker file for me to easily test the software.

That is because I use different software (mostly R), and don't use python outside docker (because python environment libraries ch

[2019-11-18 21:39] efiop commented on #2774
@nettoyoussef Thanks for the feedback! Do you need pre-built images, or a Dockerfile in our docs would do?

[2019-11-19 01:29] dmpetrov commented on #2799
@Suor you are right, but ideally, it should be a user's choice - some folks are very against 50 commits and it would be great to provide some options to avoid this (if we can :) ).

In the dir-per-experiment paradigm, all the experiments might be easily saved in a single commit with all the artifacts (changed files and outputs) since they are separated. What do you think about this approach?

[2019-11-19 01:45] dmpetrov commented on #2799
@pared you are right. I don't think we can afford to make a copy of data artifacts. So, there is only one option - the most complicated one, unfortunately.

[2019-11-19 02:01] dmpetrov commented on #2799
Exactly. Notebook is kind of a specific language. I'd suggest building a language-agnostic version first based on config files or code file changes - copy all code in a dir, instantiate all the data files and run an experiment. Later we can introduce something more language/Notebook specific.

Totally! We definitely need an example. This issue was created to initiate the discussion and collect the

[2019-11-19 04:12] jorgeorpinel commented on #2799
What about trying to automatically generate a Git [submodule](https://git-scm.com/book/en/v2/Git-Tools-Submodules) for experiments? 1. Somehow mark code or data files as "under experimentation". 2. Watch those files and make a commit every time they're written (similar to IPython Notebook checkpoints) 3. Tell DVC to stop watching this experiment.

And do we have any ideas on what the interface wou

[2019-11-19 06:14] dmpetrov commented on #2498
@johntharian we can lose all the details if we close it :)

[2019-11-19 06:25] dmpetrov commented on #2498
@shcheklein brought a good point that this issue is not only about prompting or not-prompting - it is about changing the checkout logic behavior in the first place.

So, we need to make `dvc checkout` logic align with `git checkout` logic and fail or proceed as Git does. There are two possible cases for checkout conflicts and none of these requires prompting user input:
1. Keep the modified files

[2019-11-19 06:27] dmpetrov commented on #2803
@shcheklein this is a good point about the logic change. I summarised all these implementations details in discussion #2498 since it affects all the cases (all 3 issues): https://github.com/iterative/dvc/issues/2498#issuecomment-555353704

[2019-11-19 06:44] dmpetrov commented on #2774
@casperdcl thank you for this idea!

I agree with @pared and @mroutis that it is easy to create your own docker image and it might create additional supporting overhead for us.

However, prebuild docker gives value to users and @nettoyoussef showed some example. It can attract users' attention and improve usability despite a simple implementation.

But then documentation plays the major role. Can

[2019-11-19 07:34] dmpetrov commented on #2719
@Suor thank you for initiating the discussion! This is a really great direction for DVC.

In this issue, only data reusage/getting part is discussed which is the most important part from the implementation point of view. I think it makes sense to discuss all the data catalog scenarios here to make better requirements for this feature.

But first, what makes a set of files a data catalog:
1. Descri

[2019-11-19 07:44] aabramovrepo commented on #2755
@efiop I have resolved the problem with sftp, now I can ssh and sftp into the disk station machine, furthermore, I can copy files and directories there via scp. However, `dcp push` gives me the following error message:

`ERROR: failed to upload '.dvc/cache/94/d190064798aeae79ea2a1eafd0042e' to 'ssh://gituser@<ip address>/volume1/DVC/94/d190064798aeae79ea2a1eafd0042e' - unable to create remote dire

[2019-11-19 07:52] efiop commented on #2755
@aabramovrepo Glad to hear you've got ssh and sftp figured out!

Regarding the colon, it doesn't matter, both formats are valid, it is just how we show it in logs.

Regarding the "Permission denied", I suppose `/volume1` exists already, right? If so, I would suspect that your sftp root is not in `/`, but somewhere else, most likely. Similar to https://github.com/iterative/dvc/issues/2535 . Could y

[2019-11-19 07:59] aabramovrepo commented on #2755
@efiop thanks for the instant respond!

yeah, volume1 exists already, that's correct. After sftp into the server machine I'm landing in `voulme1` so `ls` shows me the target `DVC` directory. Any ideas?

[2019-11-19 08:01] efiop commented on #2755
@aabramovrepo Yep, so your sftp server is configured to have its root in `/volume1`  instead of `/`(talking about physical root). So you need to adjust your remote url to be relative to `/volume1` and not `/`. So it should be `ssh://gituser@<ip address>:/DVC`. Give it a try and let us know if that works 🙂

[2019-11-19 08:14] aabramovrepo commented on #2755
@efiop yeah, it helped, `dvc push` works now, thanks a lot man!

To your second question: `ls -la /` on the server machine (getting there via ssh) lists the physical root, so `volume1` is present there.

[2019-11-19 08:22] efiop opened #2812 "ssh/sftp: detect that we are not in a physical root and print a meaninful error/warning"
We might be able to detect that by comparing `ssh ls -la` vs `sftp ls` https://github.com/iterative/dvc/issues/2755#issuecomment-555385560 , but need to confirm that it is reliable enough. Also, there might be another better way to do that.

[2019-11-19 08:23] efiop commented on #2812
This would help users that try to use an ssh remote without knowing that it is configured to have an sftp root that is different from a physical root on the machine. See https://github.com/iterative/dvc/issues/2535 and https://github.com/iterative/dvc/issues/2755#issuecomment-555385560 for more info.

[2019-11-19 08:25] efiop commented on #2755
@aabramovrepo Sure! Glad to hear it works now! 🙂

Thanks for the info! Makes me think that we might be able to use that to detect that we are not in a physical root and print a meaningful hint or something https://github.com/iterative/dvc/issues/2812. If not, we'll at least document it https://github.com/iterative/dvc.org/issues/802. Thanks for the feedback!

[2019-11-19 08:25] #2755 closed

[2019-11-19 10:12] nettoyoussef commented on #2774
Thank you for being so helpful.

Personally, a Dockerfile would suffice. The community, however, maybe would benefit more from a pre-built image.

Instead of building one from Ubuntu, you could make your life easier and, e.g., start from a miniconda image. I think this can be easy to automate, and maybe you can even delegate this to other teams - a partnership with [rocker](https://github.com/rock

[2019-11-19 12:34] pared commented on #2799
@dmpetrov Do you think that we could restrict (at least in the beginning) experiments feature to systems where linking is possible? That would eliminate the risk of experiment throttling disk space. Also in such case implementation does not seem too hard. We would just need to create a repo with default *-link cache type and point cache to the `master` project cache.

[2019-11-19 13:21] pared commented on #331
I don't think that distinguishing whether to apply a given code on each image or all images should be `DVC` responsibility. `DVC` is an abstraction that takes care of tracking code and its dependencies.  But there are too many use cases of DVC (any data science project, so data can range from CSV to folder full of files).
This use case(apply on image vs dataset) assumes that DVC is aware of code l

[2019-11-19 13:23] kaiogu opened #2813 "remote default with no argument removes default"
Running `dvc remote default` with no argument sets default remote to `None`.
According to [documentation](https://dvc.org/doc/command-reference/remote/default) this should show the default remote though.

Setting default remote:
[code]

This should query the default, but sets default to `None`:
[code]
DVC version: 0.66.11
OS: Ubuntu 18.04.2 LTS
Method: From repository

[2019-11-19 13:46] #2711 closed

[2019-11-19 13:47] #2789 closed

[2019-11-19 14:07] efiop commented on #2813
Hi @kaiogu !

This is definitely a bug on our side. Need to modify https://github.com/iterative/dvc/blob/0.69.0/dvc/command/remote.py#L51 to just `logger.info()` the existing value.

Thanks for the feedback!

[2019-11-19 14:16] kaiogu commented on #2813
Hi @efiop, thanks for developing DVC!

I could give it a try if you haven't already!

[2019-11-19 14:36] efiop commented on #2813
@kaiogu Sure, please go ahead! Let us know if you have any questions, we will be happy to help with it!

[2019-11-19 14:37] willypicard opened #2814 "gs: support directories as external dependencies/outputs"
I have a similar issue to #2678 but for GS.

I have a bucket with the following structure
[code]

I have then created a clean project

[code]

The output is as follows:
[code]

Adding a single file works (`dvc add gs://my_bucket/data/img1.png`).

A more verbose version:
[code]

`dvc --version = 0.68.1`. I am using ubuntu, I installed using conda, python 3.7.5.

[2019-11-19 14:43] efiop commented on #2814
Hi @willypicard !

#2678 is about a specific bug we have in directory support for s3. The issue you are reporting is related to https://github.com/iterative/dvc/issues/1654 , as we don't currently support gs directories as external outputs or dependencies. Maybe you could elaborate on what your scenario is, so we could better understand if support for gs dirs is what you really need? 🙂

[2019-11-19 14:52] efiop commented on #2512
Closing due to inactivity. For the record: I was testing a ~300G dataset with millions of images by pushing/pulling//adding it to s3 and it worked slow but fine. Please ping us if you are still experiencing this issue. Thank you!

[2019-11-19 14:52] #2512 closed

[2019-11-19 14:55] willypicard commented on #2814
I am using kubeflow to preprocess datasets and I would like to use dvc as a tool to manage my datasets and models. I have large datasets stored on GCS and i would like them to be versioned and on GCS. So it would be convenient to provide the directory containing the dataset instead of each file in it (some of my datasets contains hundreds of thousands of files).

[2019-11-19 15:49] efiop commented on #2814
How big are those datasets? Just checking if you are also aware of a possibility to mount that bucket through s3fuse and work with it as with any local files. 🙂

[2019-11-19 16:13] willypicard commented on #2814
I have a dataset that is 250GB large. So rather large...
S3fuse might be an option. However, it would seem "natural" to be able to use `dvc add gs://my_bucket/mydataset` as we can locally. And it would be a great feature for cloud-based tools such as kubeflow.

[2019-11-19 16:15] willypicard commented on #2814
And obviously it is also possible to use `gsutil ls -r gs://my_bucket/data` to retrieve the list of files and run `dvc add` on each of them. But it is utterly not elegant.

[2019-11-19 16:45] efiop commented on #2814
@willypicard Got it. Makes sense, let's implement it. 🤝  Unfortunately, we don't have enough space in the current sprint, so if you would be willing to give it a shot, we'll try to help with everything we can. It is really not complex, as we already have all the generalized logic in place, so the only things that one would need to implement are:

Make `RemoteGS.exists()` support directories
Implem

[2019-11-19 18:17] casperdcl commented on #2800
@efiop @shcheklein this is one reason people create `*.deb` python packages. `python-dvc` could depend on `libffi-dev (or `libffi6`) for example.

[2019-11-19 19:51] xliiv commented on #2807
I'll take it.  @efiop If you have any hints to make work more efficient, I'll grateful :)

[2019-11-20 00:04] dmpetrov commented on #2799
@jorgeorpinel Might be I didn't get the idea but Git-submodule means a separate repo. So, we end up having 50 Git repositories instead of 50 commits. It looks like an even more havier approach that we currently have.

Initially, the command line one. I see that as part or repro. Line `vi config.yaml && dvc repro --exp tune_lr` - will create a dir with changed files and new outputs.

[2019-11-20 00:34] jorgeorpinel commented on #2799
No, just one submodule with a single copy of the source code, and 50 commits in it. Although now that I think about it, it's similar to just making a branch, and the latter is probably easier...

[2019-11-20 01:00] midnightradio opened #2818 "error adding a file to dvc repo on NAS storage"
DVC version is 0.62.1 installed by pip on Ubuntu.

I have shared NAS storage mounted on my system and want to create a DVC repo in the storage.
I could successfully initialized a repo by dvc init command, but adding a file fails with an error message shown below.
[code]

[2019-11-20 01:06] efiop commented on #2818
Hi @midnightradio !

Could you please show full log for `dvc add -v -R data`?

Also, are you sure `-R` is really what you want? Is `data` a directory with giant number of files?

[2019-11-20 01:10] efiop commented on #2800
@Abrosimov-a-a Please let us know if you have any questions or need any help 🙂

@casperdcl Good point!

[2019-11-20 01:48] midnightradio commented on #2818
Hi, @efiop
Thanks for your quick follow up!

There are just a few files in the directory and some verbose messages are following.

[code]

[2019-11-20 02:12] efiop commented on #2818
@midnightradio Hm, weird. Could you show `dvc version` output? Also,  could you check your permissions? Are you able to create files in your project's directory? Are you able to `touch foo && stat too`? So far this seems like you have an issue with your mount, maybe some incorrect or missing mounting options, hard to put my finger on anything specific. Also, does `git status` work in your repo dir

[2019-11-20 03:25] efiop commented on #2793
@jorgeorpinel But the use case for back tics is different from the one for single quotes, as we've discussed previously. Having backtics around dynamic parts would look odd. Let's stick to the current one, as we at least have it figured out already, no need to spend more time on developing a new stadard when we have one ready. 🙂 CLosing.

[2019-11-20 03:25] #2793 closed

[2019-11-20 04:30] midnightradio commented on #2818
@efiop Actually answers for your questions are already shown in the first post, but let me make a double check.

[code]

When I do the same operation (init and add) for the same data in local storage, it works well.

[2019-11-20 04:42] shcheklein commented on #331
@Pierre-Bartet @pared an interesting discussion. I also don't see a way how DVC being completely agnostic to the way code and files are organized now can solve this now. Thinking about the right abstraction for the job, I have first the question back:

Let's imaging we do:

`$ dvc run --d my_collection computation.py`

How does this script organized internally? How does it read the data from this

[2019-11-20 04:59] midnightradio commented on #2818
Previously, I missed the last thing @efiop asked me to try and found something interesting this time with trying git on the same directory. Seems the filesystem does not allow to make lock file though the directory has full permission.

[code]

[2019-11-20 05:38] shcheklein commented on #2818
I think we still should do something about lock. Probably Git is not the best analogy for us in this case.

@midnightradio could you elaborate on your case a little bit please? Why do you want to run the repo on a NAS storage directly?

[2019-11-20 05:52] efiop commented on #2818
@midnightradio I meant `dvc version` and not `dvc --version` 🙂 Could you run that one please?

[2019-11-20 06:46] shcheklein commented on #2498
Still trying to understand this :) (btw I still don't quite understand how is related to prompt vs not to prompt and why we are discussing this here).

Let's start with a simple case, first:

[code]

What is the effect of running the last command in terms of changes to the workspace?

[2019-11-20 06:54] dmpetrov commented on #2799
@pared No restriction is needed. We should use link-type that was specified by the user. My point is - we cannot create a copy if the user prefers reflinks. Also, I don't think we need to create any repo. Experiments should work in an existing repo.

[2019-11-20 08:00] midnightradio commented on #2818
@efiop `dvc version` gives an error like this. It prints out the same message twice.. /mnt/DSshare is a mount point of the NAS storage and /mnt/DSshare/DAI/STT is a working directory for running `dvc version`
[code]

Here's the result of the same command ran when working directory is in local storage.
[code]

[2019-11-20 08:20] efiop commented on #2818
@midnightradio Hm, that's interesting. Could you run `dvc version -v` please?

[2019-11-20 09:13] pared commented on #2799
@dmpetrov I agree that experiments should work in existing repo. What I have in mind by "creating the new repo" was that I imagined, that we will store each experiment as a current repo "copy" in some special directory, like `.dvc/exp/tune_lr_v1` and so on. Are we on the same page here? Or do you imagine it differently?

[2019-11-20 09:14] nik123 commented on #2749
Sorry for long delay. I have just updated dvc via apt and it works fine.

[2019-11-20 09:22] efiop commented on #2749
Glad to hear that it works @nik123 ! Thanks a lot for the feedback! 🙂

[2019-11-20 09:32] midnightradio commented on #2818
Hi, @shcheklein

There's no specific reason for storing data or keeping dvc repo on shared NAS storage. Just accidentally there was not enough space for newly downloaded data on my local disk and I stored them on shared disk. Then I wanted to make dvc remote for the data and tried make dvc repo on the same directory where I stored the data but failed.

I don't think this is a bug when git even not

[2019-11-20 09:34] #2605 closed

[2019-11-20 09:37] Pierre-Bartet commented on #331
I've been thinking about it but I see no solution that would not totally change DVC's behaviour, mostly because of what you just said:

The behaviour I had in mind was to have the dependencies given as arguments to the scripts (here computation.py) so that dvc run could either:

-  call repeteadly `computation.py file_i`
-  call a single time `computation.py folder`

But that is indeed a huge devi

[2019-11-20 09:52] midnightradio commented on #2818
As I mentioned previously, I would rather move the data to local space before making a dvc repo when the shared storage even not play well with git. So, I'm ready to close this issue for that point if there's no others who still want to create dvc repo on weird storage more then I did.

However, at the point of `git version` resulting an error on dvc repo made not to be a git repo, I think it shou

[2019-11-20 13:00] algomaster99 opened #2822 "dvc: `lock` file ignored when command is run more than one time"
#### Version

[code]
#### Problem

`.dvc/lock` is ignored when a `dvc` command is run for the second time.
![Screenshot from 2019-11-20 18-21-29](https://user-images.githubusercontent.com/35191225/69240647-f62e1e80-0bc2-11ea-9b19-002ed20ec1ec.png)

#### Expected behaviour

When `dvc status` is run for the second time, it should throw an error since `.dvc/lock` isn't deleted yet so it should have p

[2019-11-20 14:03] skshetry opened #2823 "Use path_isin instead of startswith to compare filepaths"
The PR #2798 introduced `dvc.utils.fs.path_isin` that can be used to compare child paths and parent paths and therefore, *raw*  string compare with `startswith` can be replaced with this new function.

Refactor usage of `startswith` for paths with `path_isin`.

[2019-11-20 14:08] skshetry commented on #2823
@efiop, can I take this? If yes, please assign me. :)

[2019-11-20 15:18] pared opened #2824 "Refactor handling external repo errors in get command"
Catching DVC repo exceptions and rethrowing them in `get` ([here](https://github.com/iterative/dvc/blob/f563892760018a3e2ccb807558df99043d097252/dvc/repo/get.py#L59) and [here](https://github.com/iterative/dvc/blob/f563892760018a3e2ccb807558df99043d097252/dvc/repo/get.py#L61)) should probably be handled in [external repo](https://github.com/iterative/dvc/blob/f563892760018a3e2ccb807558df99043d0972

[2019-11-20 15:42] r-zip opened #2825 "Support pulling named subsets of data, or excluding files from pull"
I've been working on a large project with multiple datasets. One of these datasets is large (>100 GB). If I simply run `dvc pull`, then it will pull the huge dataset, which takes up most available disk space on my machine.

The only way around this appears to be providing the file name to every data file to download. This is inconvenient, however, because there are many files I **do** want, and on

[2019-11-20 15:59] pared commented on #2473
Even when setting `--jobs=1` process can have opened up to 14 file descriptors. Need to investigate whether it is our fault or boto.

[2019-11-20 17:18] jorgeorpinel commented on #2095
It seems we hear this feature request often on the chat, and there's even a very similar SO question: [How to use different remotes for different folders?
](https://stackoverflow.com/questions/58952962/how-to-use-different-remotes-for-different-folders): "I want my data and models stored in separate Google Cloud buckets. The idea is that I want to be able to share the data with others without shar

[2019-11-20 17:29] Suor commented on #2095
Mapping could be done two ways:
- specify outputs, possibly patterns, in a remote config
- specify remote in an output definition in a stage file

[2019-11-20 17:36] dmpetrov commented on #2498
I'm not sure I understand how it is related to the topic we discuss. Could you please elaborate?

[2019-11-20 17:39] shcheklein commented on #2498
@dmpetrov we are discussing the changes to the `dvc checkout` behavior, right? The question is exactly about `dvc checkout`. I'm trying to understand exactly the new semantics of it. For example, how would it determine if files are new or old in a sense you mentioned. So, I'm going with really simple real scenarios to see outcomes and better understand what do you have in mind.

[2019-11-20 17:51] dmpetrov commented on #2498
@shcheklein prompts happens in case of conflicts during `checkout` as you can see from the scenarios that @mroutis showed. Git in such conflicts avoids prompts and (as we realized) behaves differently. It would be great to align DVC behavior with Git behavior (and avoid prompts as a result).

We found 3 DVC "misbehavior" scenarios (2 are actually related) and I create 3 issues to fix these scenari

[2019-11-20 17:59] shcheklein commented on #2498
So, are you saying that checkout will behave differently if data is cached or not? E.g. if the new version is cached then we use the current semantics if not then we don't fail and do effectively do checkout.

Again, I'm really confused about the change. It would be really beneficial to show some examples and simple scenarios when people do checkouts, modifications, etc.

[2019-11-20 18:07] dmpetrov commented on #2498
@shcheklein I showed all the examples with Git: https://github.com/iterative/dvc/issues/2802#issuecomment-554719295
We just need to reflect the Git checkout behavior in these 3 scenarios.

[2019-11-20 18:12] shcheklein commented on #2498
@dmpetrov DVC is not Git by definition. E.g. we use Git with DVC to version DVC-files, it means that Git workflow affects the DVC workflow. DVC is a higher level abstraction in this sense. We can't just _reflect_ even if we want to keep the same _philosophy_. I'm just saying I don't understand the suggested change (to the DVC semantics) still. And git examples are not enough for me to better under

[2019-11-20 18:18] dmpetrov commented on #2498
@shcheklein you are right but it is not clear how it related to the current issue. It would be great if you can provide an example when Git's failing/proceeding behavior doesn't make sense for DVC in the context of these 3 checkout scenarios.

[2019-11-20 18:28] shcheklein commented on #2825
To some extent related to this https://github.com/iterative/dvc/issues/2095 since one of the possible solutions to this can be specifying some setting per output in the DVC-file. Is it pulled/pushed by default, for example.

[2019-11-20 18:32] shcheklein commented on #2822
@mroutis could you triage this and see if it's an actual bug or expected?

[2019-11-20 18:42] shcheklein commented on #2818
Thanks @midnightradio ! I think both issue are pretty valid. It's a reasonable case when you run `dvc add` on the attached storage to get data initially under DVC control since it's large enough to fit into your local disk/space. @efiop will decide if keep this one open or not (since it looks like you have a workaround), but will definitely keep this scenario in mind.

For the version issue - yes,

[2019-11-20 18:48] Suor commented on #2825
@shcheklein  I don't think this is related, this is not about different remotes.

@r-zip There are two tricks you can employ:

1. Recursive dvc-file collection:
[code]
    This will collect all dvc-files in `some_dir` and pull all their outs.

2. Use scripting, say bash files:

    In `pull_123.sh`:

[code]

    Then run:

[code]

    You may also use makefiles or anything else you like.

[2019-11-20 18:51] shcheklein commented on #2825
@Suor yep, I think we are on the same page. It's very different. The only relation to the ticket is that potentially we can an option per output that specifies the default behavior for push/pull. Or it even can be a `Null` remote for some outputs? What do you think? Can it be a solution for this one?

[2019-11-20 18:54] Suor commented on #2825
@shcheklein I was thinking about `remote: null` option or not mentioning some out in none of the remotes. This might not what is expected for this issue.

[2019-11-20 19:27] Suor commented on #2710
If we are to push a model registry use case and to lesser extend a data registry we might want to make it work actually.

[2019-11-20 22:08] Tradunsky opened #2828 "[FR] Initialize dvc in sub-directory of a git repo"
For the case of using monorepo it can be useful to have dvc initialized per model dir, but if you try to init it under a sub-dir it says:

[2019-11-20 22:10] Tradunsky commented on #2828
An option is to init dvc without scm, but Ivan says that there is an implication that you won't be able to use features that expect branches, tags, or commits exist - e.g. show metrics - it needs Git to analyze different versions.

[2019-11-21 01:25] efiop commented on #2823
@skshetry Sure, go ahead 🙂

[2019-11-21 01:55] casperdcl opened #2829 "tidy stream progress"
- continues #2809
- continues #2551
- depends on tqdm/tqdm#852 <- tqdm/tqdm#844 <- tqdm/tqdm#84

[2019-11-21 02:27] skshetry commented on #2823
Looked through the codebase. The difference between `path_isin` and `startswith` is that, the former will be false if they are same path. The latter is being used here in the cases of where the path are same as well. Found 5/6 uses of `startswith` only.

[2019-11-21 03:38] #1566 closed

[2019-11-21 04:57] dmpetrov commented on #2799
@pared yes, it is very likely we will need to store a copy of the current repo. It might be directly in project root dir `tune_lr_v1/`.

[2019-11-21 06:18] efiop commented on #2828
@Tradunsky Looks like a duplicate of https://github.com/iterative/dvc/issues/2349 . If you agree, let's close this one and move the discussion there.

[2019-11-21 09:32] alexvoronov commented on #2799
By the way, I have not seen anyone mentioning [MLflow](https://mlflow.org/). I haven't tried it myself yet, but the description promises to manage the ML lifecycle, including experimentation and reproducibility. How did they solved this issue? Any chance to just integrate/build on top of that or some other similar tool? Or an API for integrating third-party ML lifecycle tools?

[2019-11-21 10:13] Suor commented on #2799
I thought of those dirs as copies of a git/dvc repo. So if you commit it's state, probably to a branch, to a separate commit you might access all the artifacts easily. It will work with gc seamlessly and so on. A copy dvc repo also retains all the functionality, you may `cd` into it and explore it. You can diff it to original with any dir diff tool, like meld. This are supposed to share cache and

[2019-11-21 10:29] luchoPipe87 opened #2831 "Unexpected error - Adding files"
Everytime that im trying to add some individuals files or complete directories the same unexpected error appears:

[code]

I have a remote configuration by SSH:

[code]

And here the version of dvc that im using:

[code]
Thanks for your help!

[2019-11-21 11:36] efiop commented on #2831
Hi @luchoPipe87 !

That looks pretty weird. Btw, why did you remove fs info from `dvc version` output? Are you working inside some mounted partition?

[2019-11-21 12:21] jburnsAscendHit commented on #2466
Thank you to all the contributors for your work on this very helpful project!

We are running into this issue when trying to use "dvc import" to pull data from a [data registry](https://dvc.org/doc/use-cases/data-registry) repo.

Our use case is that we have some data that for regulatory reasons cannot leave certain servers.
We want to track the latest md5 hashes for all the data in a central repo

[2019-11-21 12:58] luchoPipe87 commented on #2831
Hi @efiop!
I didn't remove any information from the `dvc version`
I dont even know what fs (file system?) means. I'm not working in any particular partition.

[2019-11-21 13:13] casperdcl commented on #2799
Regarding the MLFlow, idea - it looks like an augmented conda env.yml file which supports tracking input CLI params and you need to use their python API for logging outputs/results/metrics.

They do have a nice web UI for visualising said logs, though.

[2019-11-21 13:15] efiop commented on #2831
@luchoPipe87 You are not working on a NAS partition or anything like that? Just regular hard drive(ssd) on your machine? Btw, did you run `dvc version` inside of the dvc repo?

[2019-11-21 13:20] casperdcl commented on #2831
I get the same error when doing:

[code]

[2019-11-21 13:22] efiop commented on #2831
@casperdcl I am able to reproduce from that too! Thank you! Looks like it is our daemon getting consuded by a deleted lock. Not quite sure what is up with `dvc add` in the original issue 🤔

[2019-11-21 13:24] luchoPipe87 commented on #2831
I'm doing `dvc init -f -v` to try to restart the config but nothing seems to help :(

[2019-11-21 13:25] efiop commented on #2831
@luchoPipe87 Is there any other dvc process running in the background?

[2019-11-21 13:33] luchoPipe87 commented on #2831
I only have one project. So i would say no.
i was looking into the task manager and it doesnt seem any dvc process...
![image](https://user-images.githubusercontent.com/58030431/69342441-da328780-0c6b-11ea-8b3e-031eb2222b51.png)

[2019-11-21 13:43] efiop commented on #2831
@luchoPipe87 Got it. And does running simple `dvc status` show the same error?

[2019-11-21 13:52] luchoPipe87 commented on #2831
If i do `dvc status` after the error i got that:
[code]
And i received this one after a `dvc init -f -v`

[code]

[2019-11-21 14:36] efiop commented on #2831
@luchoPipe87 And could you try deleting `.dvc/updater.lock` and running `dvc status` once again, please?

[2019-11-21 14:44] luchoPipe87 commented on #2831
every time that i deleted `.dvc/updater.lock` and i ran `dvc status` i receive the same error:
[code]

[2019-11-21 14:50] efiop commented on #2831
@luchoPipe87 Interesting. And what flufl.lock version do you have installed? Could you show `pip freeze | grep flufl.lock`?

[2019-11-21 15:00] luchoPipe87 commented on #2831
Sure! I cant do grep btw, im in Windows machine ...
![image](https://user-images.githubusercontent.com/58030431/69349414-fc320700-0c77-11ea-8546-2fdc1e9f2bec.png)

[2019-11-21 15:06] efiop commented on #2831
@luchoPipe87 Right, sorry, I thought that you are using gitbash 🙂 Not sure what is the alternative command for cmd/powershell.

Ok, so flufl lock version looks alright. Ok, let's try to narrow this down. Could you please try running this script in your repo root:
[code]

[2019-11-21 15:11] luchoPipe87 commented on #2831
No worries! :)
Here the output after running the script:
[code]

[2019-11-21 15:14] casperdcl commented on #2831
`findstr` instead of `grep` on  windows

[2019-11-21 15:17] efiop commented on #2831
@luchoPipe87 Thanks! Ok, looks like it might be flufl.lock issue. Could you try this too, please:
[code]

[2019-11-21 15:22] efiop commented on #2831
Ok, this might be the issue https://gitlab.com/warsaw/flufl.lock/blob/master/flufl/lock/_lockfile.py#L490 .

Could you try running:
[code]

[2019-11-21 15:25] efiop commented on #2831
As one could see https://github.com/iterative/dvc/blob/master/dvc/system.py#L280 we actually don't use os.stat to count the number of hardlinks. flufl.lock should do the same, but the project is pretty much dead. 'Guess we should consider forking it into something like flufl.lock2 and fix up these kind of things. But we should definitely start from simply patching it up in our Lock class.

[2019-11-21 15:26] efiop commented on #2831
@luchoPipe87 I'll prepare a patch in a minute and will ask you to try it out, if you don't mind 🙂

[2019-11-21 15:35] efiop commented on #2831
@luchoPipe87 Ok, please install my version of dvc with
[code]
and try running those commands again.

[2019-11-21 15:42] luchoPipe87 commented on #2831
Here the output of the last command :)
[code]

[2019-11-21 15:44] efiop commented on #2831
@luchoPipe87 I mean that test script with the patches dvc? Could you run `dvc status` with that patched dvc, please?

[2019-11-21 15:51] luchoPipe87 commented on #2831
I installed your dvc version and its getting better (Is another error :P )
[code]

[2019-11-21 16:04] markrowan commented on #331
This is also a feature which I would like to see handled better with DVC if possible. Currently, the only way to avoid expensive re-computation on partial data sets when adding new data is to bypass DVC altogether, execute the processing on only the new files, and then run dvc commit on the results -- which seems rather to detract from the whole point of using DVC in the first place to track chang

[2019-11-21 16:09] efiop commented on #2831
@luchoPipe87 I've updated my patch, please reinstall with
[code]
and try `dvc status` again.

[2019-11-21 16:18] luchoPipe87 commented on #2831
Here it is:
[code]

[2019-11-21 16:20] efiop commented on #2831
@luchoPipe87 Really sorry for these back and forwards, don't have my windows machine on me, so have to improvise a bit :) Updated my POC patch, please reinstall and give it another try. If it still fails, I'll just get to it properly in the morning with my windows machine.

[2019-11-21 17:26] shcheklein commented on #2466
@jburnsAscendHit I think there is a workaround for your case. But let me first clarify, do you use any remotes at all on servers A/B?

[2019-11-21 17:32] jorgeorpinel commented on #2799
The thing is that if you clone a Git repo inside a Git repo, Git just ignores the inner repo's contents. You're supposed to use submodules for this. Here's Git's output when you clone a repo inside a repo and stage it:

[code]

[2019-11-21 21:38] mroutis commented on #331
I find this feature really useful :sweat_smile:
Not ML related but with ETL is pretty common to do such things.
Having a _cache_  is not useful if you are still recomputing files.

The simplest scenario that I can imagine is by giving the user a way to tell which files are `new`, for example:

[code]

When you add more files:
[code]

Doing `dvc ls --outs --new data.dvc` would output:
[code]

that

[2019-11-22 00:34] mroutis commented on #2822
@shcheklein , @algomaster99 , this is the expected behavior.
The lock is being broken because its lifetime expired already.
The lifetime of a `flufl.lock` is based on its `mtime`.
If you do instead: `touch -mt 2001010000 .dvc/lock`, the lock will be unbreakable until January 1st, 2020

Reading https://github.com/retinator/flufl.lock source code was delightful; @algomaster99 , if you are interested

[2019-11-22 01:32] mroutis commented on #2386
@efiop , I'd say it is a priority 3 and more like an enhancement.

[code]

[code]

So, the problem is that `working tree` is being returned when you can tell that there's no difference between the current branch and the working tree (because _the HEAD is clean_ -- not sure if I'm using the correct terminology :sweat_smile: )

[2019-11-22 02:01] mroutis commented on #2760
I'm still in favor of deprecating `pyinstaller`, although, we can wait until we drop support for Python 2)

@nightscape , would requiring a Windows user to install Python (either by a package manager, store, or via the python.org webpage) and then use `pip` to manage (install/upgrade/etc.) DVC would be a significant downgrade on the user experience?

[2019-11-22 03:00] efiop commented on #2822
@mroutis That seems pretty weird. We set the lifetime to be over a year https://github.com/iterative/dvc/blob/master/dvc/lock.py#L62 so why does it break after one check? CC @Suor

[2019-11-22 03:08] #2823 closed

[2019-11-22 03:38] mroutis commented on #2822
@efiop , @algomaster99 was trying to emulate a _lockfile_ by using `touch .dvc/lock` directly.
DVC sets the time correctly to 1 year :slightly_smiling_face:

[2019-11-22 03:41] efiop commented on #2822
@mroutis Oh! Makes total sense! Sorry, didn't get that one right away. Great research! 🙏

[2019-11-22 03:41] #2822 closed

[2019-11-22 07:10] efiop commented on #2831
Ok, tested that patch on my win machine. It seems to work fine now for me. Interesting that `os.stat` works fine on my windows filesystem.  About the missing fs lines, I simply forgot that psutil is not installed by default, so you need to install it manually first with `pip install psutil`. Could you please do that and then run `dvc version` once again?

[2019-11-22 07:12] efiop commented on #2831
@luchoPipe87 Also would appreciate if you could run
[code]
once again.

[2019-11-22 07:37] efiop opened #2833 "create a chocolatey package"
Looks pretty simple https://chocolatey.org/packages/mkdocs-material#dependencies . They even allow `pip install`s inside, so should be piece of cake. Advantages of this is that all you'll need to do is run `choco install dvc` and it will download and install python and all needed packages, without additional fuss. Chocolatey seems to be a defacto default package manager for windows (not inlcuded w

[2019-11-22 07:43] efiop opened #2834 "add shfmt hooks to format shell scripts"
Our shell scripts are all over the place, it would be nice to set a specific coding style and enforce it, same as we do with black for python.  https://github.com/mvdan/sh#shfmt has some hooks for pre-commit too, and restyled.io has that too.

[2019-11-22 07:45] luchoPipe87 commented on #2831
Hi @efiop,
No worries! and thank you very much for your quick reply. It is still dont working :(
Here the outputs:
[code]
And here the output when i'm running your script:
[code]

[2019-11-22 08:19] nightscape commented on #2760
@mroutis I haven't found any scoop packages that install via `pip`  ([nteract installs ipykernel via pip](https://github.com/lukesampson/scoop-extras/blob/master/bucket/nteract.json#L15), but still relies on a `.exe` file to do the main installation), but of course users could just manage dvc outside of scoop.

[2019-11-22 09:07] efiop commented on #2831
Thanks @luchoPipe87 ! Just noticed that those errors are coming from `__del__`, so might be a yet another bug in flufl.lock. Looking into it.

[2019-11-22 09:25] algomaster99 commented on #2822
@mroutis @efiop Thanks for the explanation! How come its (`lock` created manually) expiry  finishes just after the first run?

[2019-11-22 09:27] efiop commented on #2831
@luchoPipe87 Could you please install psutil with `pip install psutil` and then run `dvc version` once again and show me the output?

[2019-11-22 09:33] luchoPipe87 commented on #2831
@efiop I did it! In my previous message you can find the output after the installation of this package.

[2019-11-22 09:36] Suor commented on #2822
As far as I remember there is a grace period of several second built in, to compensate for time being not in sync across network. So if you touch it and then run status fast enough you'll get locked. Just a guess.

[2019-11-22 09:37] efiop commented on #2831
@luchoPipe87 There might be a misunderstanding here, I mean run `$ dvc version` command, not seeing it anywhere in the previous log 🤔 Also, I've updated my patched dvc, so please install it too first 🙂 In short, please run these commands:
[code]
and show output of the last two commands 🙂

[2019-11-22 12:48] luchoPipe87 commented on #2831
Here it is, we almost there (i suppose :D )
[code]

[2019-11-22 15:05] efiop commented on #2831
Thanks! 🙂 Run one more test please:
[code]

[2019-11-22 15:08] casperdcl commented on #2760
On this topic, what *is* the best possible way to install `dvc`? My guess is:

1. preferably use Ubuntu 18.04
1. install conda
1. `conda create -n dvc python=3 dvc`
1. `mkdir -p ~/.local/bin/dvc`
1. possibly make sure the dir above is added to `$PATH` in `~/.profile` or `~/.bashrc`
1. `cat '#!'"$CONDA_PREFIX"/envs/dvc/bin/dvc > ~/.local/bin/dvc`

And to update

`conda update -n dvc --all`

[2019-11-22 15:10] luchoPipe87 commented on #2831
[code]

[2019-11-22 15:12] danihodovic commented on #2515
A few questions regarding this issue:

What protocols should `dvc get` handle? The examples listed below include both http and ssh. Are there other protocols that need to be considered? Git uses 4 - https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols.
  - https://github.com/iterative/dvc/issues/2509
  - https://gist.github.com/jorgeorpinel/61719795628fc0fe64e04e4cc4c0ca1c

Is it suppose

[2019-11-22 15:14] efiop commented on #2831
Sorry, made a typo. Here is a fixed version:
[code]

[2019-11-22 15:16] luchoPipe87 commented on #2831
Sure! :D

[code]

[2019-11-22 15:24] efiop commented on #2831
@luchoPipe87 So far, I'm surprised about the the `_linkcount`, looks like the hardlink is not created. Please run this:
[code]

[2019-11-22 16:03] efiop commented on #2515
@danihodovic

You mean for `dvc get`s `url` argument? Or `path` argument? Your reference to git makes me think like you are talking about `url`. If so, we don't really care, as we are passing it to gitpython anyway and whatever it supports - it supports :) But yeah, local, http and ssh are regular ones. But that doesn't really matter for this issue, unless I'm missing something. What would make se

[2019-11-22 16:12] efiop commented on #2515
@danihodovic

Import doesn't support regular files IIRC. Cached directories are supported, so it would be great to support non-cached ones too as a part of this ticket 🙂  Recursive option doesn't exist for any of the commands, so it is not part of this ticket (though I'm not even sure what @jorgeorpinel meant by recursive, maybe he could clarify)

Well, it is more about `dvc list` then `dvc get`.

[2019-11-22 16:26] jorgeorpinel commented on #2515
Agree with Ruslan. We would basically be using Git to download files in the repo so we will support everything Git does. I didn't get the part about `path` though, @efiop. The path is always local/internal to the repo's structure, is that what you mean?

So `dvc get` just has to detect whether this path represents a file in the repo or a file referenced in a DVC-file in the repo (the latter is wha

[2019-11-22 16:45] efiop commented on #2515
I was talking about outputs of dvc files that are not cached by dvc, so possibly tracked by git @jorgeorpinel . E.g. `dvc run -O dir 'mkdir dir && echo data > dir/data'`(notice the big O). The handling sis pretty much the same, see implementation in api.

[2019-11-22 16:46] efiop commented on #2515
Yes, that is what I was saying. Note that we might have external outputs (e.g. s3://bucket/data), but those are not supported and shouldn't be for now, so I was just clarifying.

[2019-11-22 18:18] dmpetrov commented on #2799
@Suor it looks like we are on the same page with that.

Right. Yes, I think we should consider this subdir-in-the-same-repo option. This allows a user to commit many subdirs in a single commit or just remove subdirs using a regular `rm -rf tune_lr_v1/`.

If you copy a whole structure and change paths in dvc-files it should not be an issue except the cases when a whole path was used like `/Users/dm

[2019-11-22 18:23] mroutis commented on #2774
Here's an initial draft to add to DVC's docs a section about using Docker: https://github.com/iterative/dvc.org/pull/811

[2019-11-22 19:05] dmpetrov commented on #2799
@alexvoronov the integration itself is a good idea. Unfortunately, DVC experiments cannot be built on top of MlFlow because MlFlow has a different purpose and focuses on metrics visualization. But the visualization part can be nicely implemented on top of existing solutions. There are a few more MlFlow analogs: Weights & Biases, comet ml and others. It would be great to create a unified integratio

[2019-11-22 22:57] leehanchung opened #2838 "dvc pull message"
Future request: dvc pull message.

Thank you for the tool. This section [in the tutorial](https://dvc.org/doc/get-started/retrieve-data) talked about `dvc pull`. Ran the command on windows and I found the only thing that dvc outputs is `Everything is up to date` after the pull.

I find that message confusing. It does not say which file it pulled from remote or how big of a difference it has. For g

[2019-11-22 23:11] jorgeorpinel commented on #2838
Example provided by Hanchung:

[code]

(Windows Powershell, I think.)

[2019-11-22 23:16] shcheklein commented on #2838
@jorgeorpinel I think it's a duplicate of https://github.com/iterative/dvc/issues/1838 and https://github.com/iterative/dvc/issues/2667

[2019-11-22 23:32] jorgeorpinel commented on #2838
A duplicate of duplicate issues haha. OK I'll close it in favor of the older one, #1838. I'll copy my previous comment over there.

[2019-11-22 23:32] #2838 closed

[2019-11-22 23:33] jorgeorpinel commented on #2667
So this is a duplicate of #1838?

[2019-11-22 23:37] jorgeorpinel commented on #1838
Seems like both @bhavaniravi and @leehanchung also reported this in #2667 and #2838, respectively. Their comments:

---

[2019-11-22 23:44] casperdcl commented on #1838
so should #2667 be closed as a duplicate?

[2019-11-23 00:08] jorgeorpinel commented on #1838
Idk. Already asked over there. Ivan and Ruslan have a long conversation in there, so let them decide.

[2019-11-23 01:07] dmpetrov opened #2839 "dvc import: misleading warnings and outputs"
[code]

One data file was updated in the imported repo. However, it was not a file that I'm trying to update.
[code]

- [x] UI issues 1: It should not be imported since there are no changes. **Output: Importing 'data.xml (https://github.com/dmpetrov/dataset)' -> 'data/data.xml'**
- [x] UI issues 2: Warning duplication **DVC-file 'data/data.xml.dvc' changed.** and **Stage 'data/data.xml.dvc' change

[2019-11-23 09:10] efiop commented on #2667
Closing in favor of https://github.com/iterative/dvc/issues/1838

[2019-11-23 09:10] #2667 closed

[2019-11-23 09:11] efiop commented on #1838
Closed #2667 in favor of this one. Thanks for the heads up!

[2019-11-23 10:05] Abrosimov-a-a commented on #2800
I make the roadmap and current status for all dependencies. Please, let me know if I forgot any dependency.
@efiop I think creating a new git branch for this issue would be a good idea.
I can work with this issue in my weekends only.

[2019-11-23 10:16] efiop commented on #2800
@Abrosimov-a-a Please create your own fork and use it to create a PR into the upstream, this is the preferred workflow for us. Let us know if you need any help, thank you so much for looking into that! 🙏

[2019-11-24 04:52] weekly-digest[bot] opened #2841 "Weekly Digest (17 November, 2019 - 24 November, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 35 issues were created.
Of these, 12 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #2840 [test: add pytest-clarity](https://github.com/iterative/dvc/pull/2840), by [danihodovic](https://github.com/danihodovic)
:green_heart: #2839 [dvc import: mislead

[2019-11-24 07:22] #2841 closed

[2019-11-25 06:21] dmpetrov commented on #2719
One of the technical challenges that I see today is importing\getting\summoning multi-file resources. For example, to import a PyTorch model you need to get:
1. a weights file
2. a model definition file
3. the model file might have some dependencies to other files (which are not even specified)

@Suor What would be the best way to overcome this issue? Do we need a specific API call? Should we clon

[2019-11-25 07:12] luchoPipe87 commented on #2831
DEBUG: laying claim: mylock
DEBUG: got the lock: mylock
is locked: False
linkcount: 1
read: mylock^W10GZLMLH2^3184^153735438
claimfile: mylock^W10GZLMLH2^3184^153735438
Traceback (most recent call last):
  File "test.py", line 15, in <module>
    lock._touch()
  File "C:\Users\luisfelipe_melo_mora\AppData\Local\Programs\Python\Python37-32\lib\site-packages\flufl\lock\_lockfile.py", line 338, in __

[2019-11-25 08:19] efiop commented on #2831
@luchoPipe87 Thanks! Unfortunately, I'm still not able to reproduce 🙁 How about we have a video call to debug it on-screen together? It will take no more than 1.5 hours of your time and I'm certain we will be able to pinpoint the bug.

[2019-11-25 08:29] luchoPipe87 commented on #2831
Yes sure! It can be on Wednesday around this time (9h30 here in sk)?

[2019-11-25 08:58] efiop commented on #2831
@luchoPipe87 Sounds good! 🙂 Please drop me an email (you can find mine in my profile) and I'll send you an invite with google hangout. Thank you! 🙂

[2019-11-25 09:38] luchoPipe87 commented on #2831
Done ;)

[2019-11-25 11:59] efiop commented on #2831
@luchoPipe87 Thanks! Sent an invitation. Thank you for your patience and see you on Wednesday! 🙂

[2019-11-25 13:08] Suor commented on #2719
@dmpetrov depending on several artifacts is demonstrated in the very first example, they need to be specified though. This is the only way for dvc to know what it should fetch and checkout. I don't know any reliable way to do that implicitly, there are a few way to make it unreliably though, e.g. monkeypatching `open()` or inspecting code :).

Depending on any files managed by git is not an issue

[2019-11-25 13:22] Suor commented on #2719
This would look cool in a jupiter notebook.

I guess we can implement this on top of dvc pipelines somehow. We can also show/visualize the whole pipeline: let people see the data and the code used, and all the data transformations.

This looks like an advanced thing for me.

I don't think this is possible without breaking a run or an import stage, which has that model as an out. Only possible for

[2019-11-25 13:54] pared commented on #2473
_it's, not a bug, its a feature_
Everyone, at some point in their life

So the thing is that we easily reach the open descriptors limit on mac. It is unnoticeable for Linux because it has 4 times bigger default open descriptors limit than mac.

The reason why we are reaching the limit is the default configuration of s3. When we do not provide `Config` [here](https://github.com/boto/boto3/blob/1ee0

[2019-11-25 14:01] efiop commented on #2473
@pared Great investigation!

config = TransferConfig(use_threads=False).

Woudn't that slow down the uploading of big multipart files?

[2019-11-25 14:06] pared commented on #2473
Also, one more note:
If we have too small file descriptors limit, we can have another `Too many open files` error, when boto is, loading `json` files defined inside `botocore/data`.

[2019-11-25 14:11] efiop commented on #2473
If we have too small file descriptors limit, we can have another Too many open files error, when boto is, loading json files defined inside botocore/data.

Great point! But anything less then what mac has is an unlikely scenario and we shouldn't worry about it, as lots of other stuff will break anyway.

[2019-11-25 14:17] pared commented on #2473
Reading through the [docs of boto](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/customizations/s3.html):
It is not written if multipart upload is dependant if threads are on or off.

So it seems to me that it for sure will be slower, but because we restrict the number of jobs to X rather than 10X.

Do you think we should do some performance tests whether the upload of a few bi

[2019-11-25 14:32] efiop commented on #2473
I also think so and that would affect any dvc user, even on linux, which is absolutely no bueno and would slow down big files upload/(and probably download) for everyone. So we what we have here is a tradeoff between "large files" and "large number of files" scenarios, which are both core scenarios for us. If choosing between lowering `--jobs` for s3 remote and altering aws config, I would choose

[2019-11-25 15:56] SdgJlbl opened #2843 "dvc run with --overwrite-dvcfile is not caching runs"
**Please provide information about your setup**
DVC version 0.70.0
Ubuntu 18.04
Installed via pip in a conda env

According to the documentation, and it was the case in previous versions of DVC to the best of my knowledge, `dvc run` should not re-execute the command if nothing changed. It is no longer the case.

To reproduce:
[code]

[2019-11-25 16:03] pared commented on #2473
Ok so let's sum up what is going on:

### Problem:
For different remotes, `jobs` value does not necessarily correspond to the number of open file descriptors at maximum capacity. We need somehow to connect those values to prevent user from starting the upload if he will be unable to finish.

#### Possible solution
1. just limit default jobs number for s3 (quick fix, won't solve the problem)
2. est

[2019-11-25 17:59] pared commented on #2711
@efiop In the PR that fixed this issue, we are passing the `ConfigError` as cause, which results in
even longer error message:

https://asciinema.org/a/Kxo0jgnTtLrK2ZPFWhI4VyzDU

I think for the sake of UI we should not pass the cause, as it obstructs the readability of this exception.

[2019-11-25 18:05] pared commented on #2839
Reproduction script:

[code]

[2019-11-26 00:27] dmpetrov opened #2845 "No prompt: dvc get for an existing file"
[code]

It is better to get rid of asking prompts from users - see #2498. In this case, failing is the appropriate behavior.

[2019-11-26 02:13] dmpetrov opened #2847 "dvc get from subdir"
[code]

Regular `pull` works just fine for subdirs:
[code]

`dvc get` does not work:
[code]

This is quite a basic scenario - high priority bug.
- [ ] Please make sure it covered by unit tests

EDITED: It worked before - regression.

[2019-11-26 02:25] dmpetrov commented on #2847
It seems like it is not a regression. It fails only on data dirs, not in data files in a regular dir (which worked):

[code]

I'm removing high-pri tag.

[2019-11-26 03:01] shcheklein commented on #2847
@dmpetrov is dataset public to reproduce? It looks like I don't have access to it.

[2019-11-26 03:16] shcheklein commented on #2847
If I get it right.

Yes, I think it was never implemented. DVC in general never provided file-level granularity for directories. E.g. you can't `dvc pull dir1/file1` you have to pull the whole dir1. More or less for the same reason `dvc get` operates with the same assumptions - directory is a single manageable entity, you can't split it.

So, I would consider this as a feature request. That makes

[2019-11-26 03:25] dmpetrov opened #2848 "dvc get from dvc-branch in not dvc-repo"
[code]

`master` branch in https://github.com/dmpetrov/test_repo is NOT a DVC-repo. However, the extracted branch `b-test` IS DVC-repo and should work:

[code]

This a regression since this command worked before: `dvc get https://github.com/topusOctopus/mmdetection/ --rev fasterRCNN_resnet50_support model_weights/faster_rcnn_r50_c4_2x-6e4fdf4f.pth`

[2019-11-26 06:33] efiop commented on #2711
@pared Makes sense, please feel free to submit a PR for that. Reopen this issue if needed.

[2019-11-26 07:12] efiop commented on #2847
Related https://github.com/iterative/dvc/issues/2458

[2019-11-26 07:13] efiop commented on #2847
Closing as a duplicate of #2458

[2019-11-26 07:13] #2847 closed

[2019-11-26 07:31] dmpetrov opened #2849 "Support revisions in dvc update"
[code]
it is still not supported but it seems like a very handy alternative to re-importing:
[code]

[2019-11-26 08:54] peper0 opened #2850 "DVC exits with code 0 even if there was an error"
Tested with dvc 0.70 from apt on Ubuntu:
[code]

Can be easily reproduced with docker. The following example shows pulling from a nonexistent repository but the same problem is with errors of any kind.

**Steps to reproduce**
Create a following Dockerfile:
[code]

Build it:
`$ docker build . -t dvc-bug`

Run it:
`$ docker run -it dvc-bug`

**Obtained result**
[code]

**Expected result**
No `comman

[2019-11-26 09:36] pared commented on #2848
Reproduction script:
[code]

[2019-11-26 09:56] efiop commented on #2649
We've received a very similar question from a user https://opendatascience.slack.com/archives/CGGLZJ119/p1574762045023000?thread_ts=1574761369.020000&cid=CGGLZJ119 (russian-only, sorry 🙁 ). Long story short, the guy is creating an arcive with code and data to send to the customer, which is very similar to the idea from @jorgeorpinel described above. I've asked him to leave a comment here too.

[2019-11-26 10:24] aabramovrepo opened #2851 "is it possible to run more than one dvc pipeline in the same dvc context?"
Hi,

   I'm trying to run multiple dvc pipelines (trainings) on the same data in the same dvc context. The only difference is .dvc config file. I'm getting the following error message:

`ERROR: cannot perform the cmd since DVC is busy and locked. Please retry the cmd later.`

Is it somehow possible to start multiple dvc processes at the same time?

Thanks!

Best,
Alexey

[2019-11-26 10:46] efiop commented on #2850
Hi @peper0 !

Thank you for a very convenient reproducer! Indeed, I can reproduce this bug with binary dvc, but not with dvc installed from pip/brew/conda/etc. As a workaround, could you try installing dvc from one of those sources (i suppose pip will be the most convenient for you) and let us know if that works?

Related https://github.com/iterative/dvc/issues/2760 https://github.com/iterative/dv

[2019-11-26 10:48] efiop commented on #2850
Looks like even things like `dvc non-existing-command` don't result in non-zero code for pyinstaller-built images. Investigating...

[2019-11-26 10:57] efiop commented on #2851
Hi @aabramovrepo !

The issue is that dvc is not able to run multiple instances at the same time https://github.com/iterative/dvc/issues/755 . It is a known issue and we are working on a solution in https://github.com/iterative/dvc/pull/2584 , which should hopefully be done soon-ish. As a workaround, you could try re-running individual long-running commands by-hand and then `dvc commit`-ing the re

[2019-11-26 10:57] #2851 closed

[2019-11-26 12:11] RomanSteinberg commented on #2649
Hi,
I'm the guy from the previous comment. I think, `dvc archive` is a bad idea. I have a lot of ignored files in my repo and I think it is not a dvc's responsibility to clear them. For example, I have `.git, .dvc, .idea` in my local repo folder. So, if dvc exports all artifacts due to my local repo it will not remove all those ignored files. Second disadvantage of this approach is that I would ha

[2019-11-26 13:50] efiop commented on #2649
@RomanSteinberg Thanks for your comment!

I'm pretty sure `git archive` will remove `.git` and gitignored files, leaving only the ones that are actually tracked by it. We were thinking we could work the same as that, plus also remove .dvc/, *.dvc files and replace them with actual data.

Speaking about `dvc clear`, I think that we should make `dvc destroy` do those actions (we actually
have a tick

[2019-11-26 14:47] aabramovrepo commented on #2851
@efiop: thanks for your response, we are waiting then...

[2019-11-26 16:40] pared commented on #2691
Might be related #2839

[2019-11-26 16:52] jorgeorpinel commented on #2649
Thanks guys! There's some confusion though, my original idea here is for DVC projects that DO NOT use a Git repository as base. There would be no .git/ dir or .gitignore file. `dvc export` would remove .dvc/ dir and any outputs linked in DVC-files, leaving everything else as is. Indeed keeping any hidden stuff like .idea/, etc. which is not DVC's responsibility.

@efiop actually I was not thinking

[2019-11-26 16:52] pared commented on #2458
Let's start with supporting `dvc pull data_dir/some_file`

[2019-11-26 16:57] jorgeorpinel commented on #2649
p.s. Please read my previous comment on GitHub because I have rewritten it. I didn't explain correctly the first time!

[2019-11-26 17:05] jorgeorpinel commented on #2649
So to summarize, we're basically talking about 2 different things:

1. Create a lightweight copy of the project (without cache or tracked data). Useful for projects that don't use Git only because when you do use Git, .gitignore basically takes care of this.
2. Remove DVC from a project (opposite of `dvc init`): I like this also but it should probably be a separate issue and I suggest it's done in

[2019-11-26 17:19] jorgeorpinel commented on #2849
Copying main part of the discussion about this from Slack:

I understand that switching branches is kind of exception, but this is not what I usually do with imported datasets.

[2019-11-26 17:25] jorgeorpinel commented on #2849
Updating vs. re-importing is definitely a source of confusion, and it's reflected in our docs (which also requires the term "fixed-revision import". See the following excerpts:

From https://dvc.org/doc/command-reference/import#example-fixed-revisions-re-importing:

From https://dvc.org/doc/command-reference/update#examples:

From https://dvc.org/doc/use-cases/data-registry#example (in an expandab

[2019-11-26 17:33] peper0 commented on #2850
@efiop Can be reproduced with pip installed version when dvc is used as a python module:

`python -m dvc pull -r bleble && echo "zero exit code"`

However the wrapper script installed in `.../bin/dvc` fixes this issue. It is probably generated with a module `fastentrypoints` handles the return value of `main` function correctly:
[code]

However, `pyinstaller` use `dvc/__main__.py` directly, which

[2019-11-26 17:33] jorgeorpinel commented on #2849
So I like the idea about `dvc update --rev` because it will probably simplify all these explanations, although it will also require changing its command reference to explain that there are 2 types of updates supported:

- Simply look for changes in the import as defined in its DVC-file, respecting `url` AND `rev` (if present) – only updating the actual data and `rev_lock` field.
- Change the `rev`

[2019-11-26 17:41] peper0 commented on #2850
I'he just created a merge request of a trivial patch that fixes it for the direct python usage (`python -m dvc ...`).

I couldn't test it for apt version, since I've had problems with building it.

[2019-11-26 18:27] mroutis commented on #2774
After several iterations trying to provide useful information for Docker users, there's no agreement in what should be that info and the way we should present it (e.g. provide an image? docs are enough?)

Let's keep the discussion open for now :)
Thanks a lot, @casperdcl , @shcheklein , @jorgeorpinel , @efiop for reviewing the previous efforts.
If you could dump your opinion on this one it would h

[2019-11-26 18:37] #2813 closed

[2019-11-26 18:44] efiop commented on #2850
@peper0 oh wow, amazing investigation! Thank you so much! 🙏  I think you are absolutely right about it. I'll give it a try in a second.

[2019-11-26 18:48] #2850 closed

[2019-11-26 18:48] efiop commented on #2850
@peper0 I'll trigger a new release today, thank you!

[2019-11-26 20:06] Suor commented on #2492
Discussed this with @efiop and @pared. Came to the agreement that to make it fast and decrease complexity we will:

1. Make `dvc checkout` not bother with links types (basically revert to the old behavior)
2. Provide `dvc checkout --relink` for a user to manually force relinking.
3. Provide a HINT after cache type change.

[2019-11-26 20:09] jorgeorpinel commented on #2774
Well, like you said in https://github.com/iterative/dvc.org/pull/811#discussion_r350316256

So I don't see the point of providing such a simple Dockerfile that anyone familiar with Docker can easily create. Maybe just a small section in the installation guide to provide Docker tips such as using `python:3.7` and `dvc[all]`.

[2019-11-26 21:02] Suor commented on #2487
This shows how tqdm looks by default and in dvc: https://asciinema.org/a/283771
It looks pathetic in dvc. May we fix it?

[2019-11-26 21:43] Suor commented on #2791
Looked it up. This probably won't be solved by caching `s3` prop. I am surprised MFA work with dvc at all though.

Need to ask a user how MFA device is set.

[2019-11-27 09:44] efiop commented on #2831
For the record. We've tried creating hardlinks and looking at the hardlink counter and it turns out that it is not increased for some unknown reason. The issue doesn't reproduce on my windows machine, so I suppose it might be some system settings that are preventing that. We've tried both python's os.link + os.stat as well as cmd/ps mklink + fsutil and they both behave the same, so looks like it i

[2019-11-27 09:49] efiop commented on #2831
Considering the number of issues we get with flufl.lock, we might want to get back to using zc.lockfile by default and, if flock() is not supported, fallback to flufl.lock.

[2019-11-27 11:23] pared opened #2858 "Testing UI"
It seems like we are having more and more UI issues.
Just to give a few examples:

#2839, #2691, #2602. #2854

It seems to me that there are two main problems that are the reason for this:
1. we introduced `external_repo` after we had pretty well-established exception handling inside "normal" Repo (for example using relpaths inside error messages), and now we are having quite a few issues that are

[2019-11-27 14:12] efiop commented on #2850
@peper0 0.71.1 is out, please upgrade and give it a try 🙂 Thank you so much!

[2019-11-27 16:07] efiop commented on #2037
Closing in favor of https://github.com/iterative/dvc/issues/2036

[2019-11-27 16:07] #2037 closed

[2019-11-27 16:17] jburnsAscendHit commented on #2466
Hi @shcheklein , thank you for your question.

I will try to answer as clearly as I can; I am not sure that I understand dvc enough to answer conclusively.

We are manually creating remotes in an attempt to get `dvc import` and `dvc update` to work between multiple repos all hosted on server A. We are not using remotes to push or pull information from server A to Amazon S3 or other remote file sha

[2019-11-27 16:28] mroutis commented on #2831
@efiop, what about the NTFS version (`fsutil fsinfo ntfsinfo`)? Was it the same on your computer?

[2019-11-27 16:30] efiop commented on #2831
@mroutis Good point! Don't know, didn't check 🙁@luchoPipe87 could you please provide it by running `fsutil fsinfo ntfsinfo C:` ?

[2019-11-27 16:35] luchoPipe87 commented on #2831
Sorry guys...
![image](https://user-images.githubusercontent.com/58030431/69741980-4a457f80-113c-11ea-8220-5a8a6239ccf2.png)

[2019-11-27 16:38] mroutis commented on #2831
@luchoPipe87 , do you have any admin rights?

https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/fsutil

[2019-11-27 16:40] luchoPipe87 commented on #2831
my bad! :)
[code]

[2019-11-27 16:59] mroutis commented on #2831
lol, just read the NTFS wikipedia article, the 3.1 version was released during XP.
What Windows version are you using, btw? Not sure if they changed something related to the link count https://support.microsoft.com/en-us/help/4523205 :sweat_smile:

[2019-11-27 17:04] efiop commented on #2831
In my case:
[code]

[2019-11-27 17:06] efiop commented on #2831
@mroutis It was windows 10 :)

[2019-11-27 17:07] casperdcl commented on #2831
Which is just a skin over XP, right?

![](https://i.ytimg.com/vi/i_T80ZVD7e8/maxresdefault.jpg)

[2019-11-27 17:08] mroutis commented on #2831
@efiop, but there are different versions of Windows 10, right? I haven't read the release log, but might be a _driver_ thingy? https://docs.microsoft.com/en-us/windows/release-information/

[2019-11-27 17:29] efiop commented on #2831
@mroutis It was provided in the `dvc version` output: @luchoPipe87 has `Windows-10-10.0.17134-SP0` and I have `Windows-10-10.0.18362-SP0`.

[2019-11-27 17:35] efiop commented on #2831
@luchoPipe87 Hm, btw, do you have a RAID or something setup on your machine? Maybe some special encryption stuff?

[2019-11-27 18:15] markrowan commented on #331
This is especially frustrating now that I tried to implement my own incremental-processing workaround: I simply set an argument to my computation.py which, if true, doesn't touch any input file that already has a corresponding output file in the output.

I realise that this breaks the ability for DVC to know that all outputs were created by the command being run (but I already can't use DVC proper

[2019-11-27 20:00] kaiogu commented on #2036
My use case:
I'm working on multiple projects in parallel that all have large datasets tracked by dvc. They are located on a (small) SSD so that I can't have all datasets on disk simultaneously. DVC tracked files are backed up on an SSH-remote. I want to quickly be able to clear the space of files from one project so that i can dvc checkout the files from another.

[2019-11-27 21:21] efiop commented on #331
Hi @markrowan !

DVC deletes those outputs automatically only if it knows that it already has them in the cache, so you would be able to `dvc checkout` to get them back. We have an unofficial hidden flag for `dvc run`, that tells dvc to not remove the particular output before running the command. It is called `--outs-persist` ain CLI and `persist: true` in dvc-file itself. We don't document it bec

[2019-11-27 23:34] peper0 commented on #2850
It's good now. Thanks! :)

[2019-11-28 09:24] efiop commented on #2036
In terms of implementation, it would look like this:
1) Add a new flag to https://github.com/iterative/dvc/blob/master/dvc/command/gc.py . Not sure how to call it though, maybe anyone has any ideas about it? 🙂 Seems like it should be an additional flag for `-c|--cloud` though.
2) Add support for that new flag to https://github.com/iterative/dvc/blob/master/dvc/repo/gc.py . To support it, if the fl

[2019-11-28 09:57] kaiogu commented on #2036
I'd like to take a swing at it :)

[2019-11-28 10:38] efiop commented on #2036
@kaiogu Please let us know if you need any help 🙂

[2019-11-28 11:23] pared commented on #2799
@dmpetrov how would this work? What I have in mind is:
- doing some changes in my repo, not necessarily committing them
- running `dvc repro --exp tune_lr train_model.dvc`
- `dvc` takes care of creating an experiment directory and moving all the stuff there, also running

What I don't like about incorporating experiments into `repro` is that it assumes that we want to run the experiment. Will it a

[2019-11-28 11:47] pared commented on #2473
Related:
https://github.com/Suor/funcy/issues/81

[2019-11-28 12:11] Suor commented on #2473
We can adjust that (`Remote.jobs` or s3 `max_concurrency` or both) automatically without a user needing to do anything. We can even show a WARNING that transfer is automatically throttled because of `ulimit` and suggest a HINT.

BTW, there are similar scenarios with other resources like SSH/SFTP sessions. Now we set the conservative defaults, which makes dvc slower for many users, without them eve

[2019-11-28 13:00] andrewBatutin opened #2859 "--no-scm option seems not working"
dvc version - 0.71.0

pkg Mac install

can't get dvc stop ignoring data files

i init repo with

dvc init --no-scm

then

dvc add data

creates .gitignore with /data folder in it

is there something wrong i'm doing ?

[2019-11-28 13:17] efiop commented on #2859
Hi @andrewBatutin ! `--no-scm` only affects `dvc init`. After that `dvc` dynamically determines if you are using git or not and if you do - it also starts using it. Could you describe your scenario, please? 🙂

[2019-11-28 13:20] andrewBatutin commented on #2859
What i want to achieve is to get .dvc file for my data folder and keep data folder in project, so it doesn't fall under gitignore settings

And i thought --no-scm option during init won't ignore files and folders i add to dvc

[2019-11-28 13:31] efiop opened #2860 "flufl.lock sleeps random amount of time"
https://gitlab.com/warsaw/flufl.lock/blob/master/flufl/lock/_lockfile.py#L274 Happens whenever lock is taken. So this results in dvc freezeing at the begging of any operation, when it checks the updater lock. Related to https://github.com/iterative/dvc/issues/2831 . Need to consider bringing back zc.lockfile as described there and only falling back to flufl when flock() is not working.

[2019-11-28 13:37] efiop commented on #2859
@andrewBatutin Not sure I follow. What do you mean "keep data folder in project"? You mean `dvc add` it, while having some git-tracked files inside?

[2019-11-28 14:05] andrewBatutin commented on #2859
yes this case

i want to `dvc add data` and keep files inside `data` under git tracking

[2019-11-28 14:10] efiop commented on #2859
@andrewBatutin It is not possible, as dvc treats `data` as a whole directory. Maybe you could elaborate on your scenario, so we could better understand your use case and maybe suggest a better approach? 🙂

[2019-11-28 15:37] andrewBatutin commented on #2859
Actually i think i can use just git for my scenario)

I want to easily track changes at precomputed word embedding files

Save to file there SHA checksum every time they changed to keep track of
them

I think i can just use git + hooks to do that

Thnx)

On Thu, 28 Nov 2019 at 16:10, Ruslan Kuprieiev <notifications@github.com>
wrote:

[2019-11-28 15:48] efiop commented on #2859
I still don't quite understand your scenario 🙁 But happy that you could find a workaround. Please ping us if you will have any questions 🙂

[2019-11-28 15:48] #2859 closed

[2019-11-28 16:39] shcheklein commented on #2859
@andrewBatutin I think what you need is to use non-cached data artifacts with DVC. It calculates checksums but does not put file into .gitignore. The command you would need is `dvc run` in this case:

`dvc run -O data -f data.dvc`

or you can use full power of it create DAG from multiple stages (all w/o caching or gitignoring files).

In this case you have git to version your actual files but also

[2019-11-28 16:53] jorgeorpinel commented on #2515
Kudos to @danihodovic for PR #2837 which seems to get most of this resolved, even including support for downloading entire directories from Git. Just pending to check whether `dvc import` will have the same capabilities after that PR (of if we need a follow-up issue for it).

[2019-11-28 16:55] jorgeorpinel opened #2862 "import: allow downloading regular files/dirs tracked by Git?"
Continuation of #2515.

Per https://github.com/iterative/dvc/pull/2837#issuecomment-559559857, this will still be pending after finishing that ticket.

[2019-11-28 22:21] maxhora opened #2865 "Google Drive support further enhancements"
This ticket is to keep track of required further improvements for Google Drive `remote` implementation after https://github.com/iterative/dvc/pull/2551 will be merged into `master`:

- [x] Processing of auth exceptions and printing more meaningful error message on failure. https://github.com/iterative/dvc/pull/2551#discussion_r348182771

- [x] Implement `gc` command support for `gdrive` ( `def rem

[2019-11-28 22:39] shcheklein commented on #2865
@MaxRis would be helpful if you include links to the discussions in the initial PR.

[2019-11-28 23:09] MaxRis commented on #2865
@shcheklein sure :+1:

[2019-11-29 07:53] andrewBatutin commented on #2859
Greate

It seems what i want )

Спасибо)

On Thu, 28 Nov 2019 at 18:39, Ivan Shcheklein <notifications@github.com>
wrote:

[2019-11-29 10:58] JohanMollevik opened #2867 "dvc push after dvc push is slow"
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

- debian stretch
- dvc installed from pip
$ dvc --version
0.71.0

I have a large dataset (#2512 ) and have been trying to debug performance to evaluate if dvc will work for this type of data.

I did one dvc push agai

[2019-11-29 11:59] efiop commented on #2860
@Suor noted that sleep is under the `while` there, so it shouldn't be ran each time.

[2019-11-29 13:02] dashohoxha commented on #2799
@pared first of all let me make the disclaimer that I have not followed this discussion very carefully and I am not sure that I understand all the ideas presented here. So, it is quite possible that I don't know what I am talking about.

I think the experiment should be a separate command that has three main steps:

Using a command like `dvc experiment ...` seems interesting to me.
@pared is it po

[2019-11-29 13:24] pared commented on #2799
@dashohoxha
I will try to explain first, if it will not be enough, I can try to prepare some draft:
1. The user makes some changes inside repo to adjust repo state to his experiment (eg change fully connected model code to CNN in some image recognition project), they will probably not be committed to the current branch, but it's up to further discussion.

2. The user runs `dvc experiment create {e

[2019-11-29 13:32] pared commented on #2473
Ok, after discussion with @efiop I would like to get back to the implementation idea of this one, as it seems we imagined it differently.

Here are some notes:
1. Adjustment of jobs should happen only in case of default jobs number - we don't wont to limit the user if he knows what is he doing.
2. In case of huge number of jobs provided by the user we should probably warn him how can it break his

[2019-11-29 13:52] efiop commented on #2473
@pared

Maybe we could simply set JOBS for S3 to be `ulimit / some_sanity_factor` instead of `4 * NCPU`? Though, I'm pretty sure there might be some other side-effects when there are too many jobs even if ulimit is sufficient... 🙁 So maybe `4 * NCPU` but no more than `unlimit / some_sanity_factor`?

But how do we know when it is too many? :) When we hit "Too many files open"? In that case, how is

[2019-11-29 14:07] dashohoxha commented on #2799
So, basically you want to clone all the data and DVC-files to an experiment directory, which can use the same cache (`.dvc/cache/`) as the main project. With a deduplicating/reflink filesystem this should work.

It is not clear whether you modify the pipeline (or the parameters) of an experiment before you create it or after you create it, and how you are going to do it.

[By the way, `rsync` migh

[2019-11-29 14:11] pared commented on #2799
I believe that user should be able to fix something after it is created, but I think that main use case should be focused on modifying before experiment creation. In other case, we would be just copying and making user to manually enter particular dir, which does not sound too welcoming.
I think that flow like `edit` -> `create experiment` -> `git reset` -> `edit` .... would be better, especially

[2019-11-29 14:12] efiop commented on #2867
Hi @JohanMollevik !

I suppose it was "Collecting information from remote cache" stage that was talking a lot of time, right?

[2019-11-29 14:14] JohanMollevik commented on #2867
I do not think it said, the progress bar was only 80 chars wide so some data might have been hidden.
But, there was first a progress bar taking 4 minutes or so followed by one taking 4 hours.

[2019-11-29 14:17] efiop commented on #2867
@JohanMollevik Hm, we are in the middle of revisiting ui for pull/push/etc, so i might be missing something, but from the description it does seem to be the case. First pbar was collecting local status and the second one was collecting remote status. Please see my updated comment up above.

[2019-11-29 14:19] JohanMollevik commented on #2867
@efiop  Yes that looks likely. The work on #2147 sounds promising, I'm looking forward to seeing that resolved.

[2019-11-29 14:25] mroutis commented on #1818
Time flies when you're having fun)
EOL is around the corner, I'm eager to close this issue))

[2019-11-29 14:32] RomanSteinberg commented on #2649
@jorgeorpinel I couldn't imagine that someone can use dvc without git. I don't understand this case at all. How can one versioning data and not versioning code? So, I can't give any feedback about your idea.

[2019-11-29 14:58] #2510 closed

[2019-11-29 15:06] dashohoxha commented on #2799
But how would you track these changes (so that you can reproduce the experiment, if needed). By committing them to Git?

[2019-11-29 15:18] efiop commented on #2867
@JohanMollevik I'll close this ticket in favor of #2147 . Please ping us if you have any follow up questions :)

[2019-11-29 15:18] #2867 closed

[2019-11-29 16:52] mroutis opened #2869 "checkout: confusing "Nothing to do" message"
When checking out an empty directory, it shows "Nothing to do" because `get_all_files_numbers(stages)` throws 0 -- `dvc/repo/checkout.py`.

The checkout works but it shows the message.

[code]

[2019-11-29 19:00] #2678 closed

[2019-11-29 21:14] mroutis commented on #369
@dmpetrov , do you think we can close this? Looks like DVC already support `checkout`

[2019-11-29 23:09] jorgeorpinel commented on #2649
In fact without Git you could not version the data either. But still we offer `dvc init --no-scm` to provide the pipeline management functionality (without versioning). I think. I didn't decide this, but the fact is we have the option.

[2019-11-30 07:32] shcheklein commented on #369
@mroutis I think the discussion started after `dvc checkout` was implemented. Actually, `dvc checkout` was implemented long long time ago. It's one of the basic features. I think the point here was about providing a higher level way (tags?) to identify specific outputs and a simpler interface to checkout (actually similar to `dvc get . model.pkl --rev ...`) a specific version of it.

So, it might

[2019-11-30 09:00] Abrosimov-a-a commented on #2800
At this point, all dependencies are builded, except asciimatics.
Asciimatics has some problems.
Work in progress...

[2019-11-30 09:35] skshetry opened #2871 "Cannot add file having name with substring of a folder as prefix in s3"
### Steps to reproduce
1. Upload two files in s3: `folder/data/data.csv` and` folder/datasets.md`.
2. Setup remotes and caches.
[code]
3. `dvc run -d remote://s3/data 'echo hello world'`

### Outcome
[code]

#### Version
[code]

#### Script to reproduce
[code]

#### Analysis:
1. This is due to `walk_files` implementation in `RemoteS3` looking via prefix instead of `/<prefix`> to walk files. Either

[2019-11-30 09:37] skshetry commented on #2871
The WIP implementation for Google Cloud Storage (#2853) also suffers from the same issue.

[2019-11-30 11:09] efiop commented on #2800
@Abrosimov-a-a Luckily we are getting rid of asciimatics in https://github.com/iterative/dvc/pull/2815 , so maybe just skip it for now :)

[2019-11-30 11:32] Suor opened #2872 "travis: use preinstalled docker to run azurite"
We use it on linux only anyway and ubuntu xenial on travis has [docker preinstalled](https://docs.travis-ci.com/user/reference/xenial/#docker). That one could be [activated with](https://docs.travis-ci.com/user/docker/):
[code]
We will save on `apt-get update; apt-get install ...` time.

[2019-11-30 11:34] Abrosimov-a-a commented on #2800
Now I use Docker as building environment. I think it's a good idea for building many packages with many temporarily dependencies. It's keps the system clean. Dockerfile can be simple converted to the shell script. If you want to work in the native system.

[2019-11-30 12:15] skshetry commented on #2871
The following patch is working for me (might need additional improvement):
[code]

[2019-11-30 13:03] efiop commented on #2871
@skshetry Great catch! Mind creating a PR with that? 🙂

[2019-11-30 13:05] efiop commented on #2800
@Abrosimov-a-a Sure, let's indeed use docker to build them, that sounds great!

[2019-11-30 13:34] skshetry commented on #2871
Script to reproduce for 2nd issue:
[code]

[2019-11-30 14:51] pared commented on #2799
I think that we don't want to commit them in any way until the user decides so. They are stored in their own experiment repos, and when the user is satisfied with their performance, just `dvc experiment pick {ename}`. Only then it would be committed to the main repo.

[2019-11-30 15:54] skshetry commented on #2818
@midnightradio, the error in https://github.com/iterative/dvc/issues/2818#issuecomment-555885457 is due to `git init` earlier. But, anyway, `version` should quietly work here.

I was able to reproduce the same error with:
[code]

Output is quite similar:
[code]

[2019-11-30 17:00] efiop commented on #2872
Great catch @Suor !

[2019-11-30 17:05] casperdcl opened #2874 "dvc-git command pairs"
Probably a duplicate but:

1. make a list of `dvc` & `git` commands which are often run together, e.g.
  - `git checkout <ID> && dvc checkout`
  - `dvc add <file> && git add .gitignore <file>.dvc`
2. discuss ways to make running such command pairs easier
  - (easy) alias certain commands (not really command pairs)
    - `git config --global alias.run '!dvc run' && complete -F git-run _dvc_run`
  -

[2019-11-30 18:06] efiop commented on #2874
Related https://github.com/iterative/dvc/issues/2363 https://github.com/iterative/dvc/issues/1551

[2019-11-30 18:45] efiop commented on #2818
@skshetry Thanks for the reproducer! So looks like we are dealing here with a broken `.git`, effectively. I'm a bit hesitant to catch this error and fallback to NoSCM, as it might cause us to ignore real errors in the future. Broken git in a git repo seems like a very bad env issue to me, so I don't feel like it should be solved on dvc's side. Also, initial error with "operation not permitted" is

[2019-11-30 18:45] #2818 closed

[2019-11-30 19:51] Suor commented on #2473
I think we should decide do we want to dvc be a lit bit aggressive to be fast. If yes then we should implement automatic degrading with a WARNING and a HINT and set default high. If no we might catch an error, stop, show a hint to either reduce jobs or increase ulimit.

I am in favor of being aggressive here.

[2019-11-30 19:58] Suor commented on #2473
In the future we might apply this approach to other situations. Network speed and stability might vary (i.e. a user connecting from different locations), available SSH/SFTP connections might vary (bound by other user), number of available sockets might vary (opened by some other process), etc. We should adjust and work as fast as possible in current situation, asking a user to reconfigure things e

[2019-11-30 20:05] Suor commented on #2466
@jburnsAscendHit This looks weird. Can you show `/path/to/serverA/data/registry/repo/.dvc/config`?

[2019-11-30 20:14] dmpetrov commented on #2095
@nirtiac for data from different storages or with different access permissions, you can use new DVC functionality - `dvc import`. This works only in multiple-repository environment (not monorepo) but it potentially gives you an elegant solution of separating data remotes.

1. The dataset can be presented in a separate git-repo with its own remote. Repo: `https://github.com/mycorp/rawdata`. Remote

[2019-11-30 21:17] efiop commented on #2473
@Suor Great points! Though, estimating the maximum tolerances might be tricky, as once we reach them, other stuff might break (maybe even in the handling code) :) The "error and hint" approach is simple to get right quickly. Maybe let's do the latter and then keep the discussion for the former?

[2019-11-30 21:18] efiop commented on #2473
Not sure we will ever be able to get rid of `--jobs`, as some people might be pushing from multiple repos and we might hit system limits there, so some might want to intentionally slow it down.

[2019-12-01 04:52] weekly-digest[bot] opened #2876 "Weekly Digest (24 November, 2019 - 1 December, 2019)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 33 issues were created.
Of these, 14 issues have been closed and 19 issues are still open.
## OPEN ISSUES
:green_heart: #2874 [dvc-git command pairs](https://github.com/iterative/dvc/issues/2874), by [casperdcl](https://github.com/casperdcl)
:green_heart: #2873 [s3: Check for all files

[2019-12-01 08:51] Abrosimov-a-a commented on #2800
@efiop The building system sugres several additional packages:

1. python3-networkx
2. python3-yaml
3. python3-flufl.lock

They are not in the `setup.py`. Add them to `setup.py` or exclude from package dependencies?

[2019-12-01 09:11] casperdcl commented on #2800
Afaik they're already in setup.py.

[2019-12-01 09:19] Abrosimov-a-a commented on #2800
@casperdcl Maybe it was a version collision. I try to use repository from this issue: #2815

[2019-12-01 10:00] dashohoxha commented on #2799
Seems reasonable to me.

However, instead of `dvc experiment create {ename}` I would prefer `dvc clone {src_exp} {dst_exp}` where `{src_exp}` is the directory of the source experiment and `{dst_exp}` is the directory of the destination. This would also cover the case when we want to base an experiment on another one (modify an existing experiment to create another one).

It would basically be like

[2019-12-01 10:06] #2876 closed

[2019-12-01 11:24] #2871 closed

[2019-12-01 11:53] skshetry opened #2877 "Do not check for directory when looking for cache files"
Recent refactoring in #2873 and #2853 implemented `isdir()`, `isfile()` and `exists()`. `exists()` checks if the given path exists using `isdir` as well as `isfile`. `isfile` simply checks for existence of the blob (in case of s3 and gs), whereas `isdir` checks if any files with the prefix exists.

`.cache_exists()` uses `.exists()`, but does not care about directory paths. So, to reduce number of

[2019-12-01 12:49] #2814 closed

[2019-12-01 12:53] skshetry opened #2878 "Refactor test/remotes.py by merging inside remote classes"
#2853 was just merged, which refactored different helper functions into `test/remotes.py`. There are different remote classes (such as S3, Azure, etc) and functions such as `get_aws_url()`/`get_gcp_url`.

It'd be good to merge them inside their respective remote classes. :)

[2019-12-01 12:55] skshetry commented on #2878
I have started working on it. :)

[2019-12-01 15:28] Suor commented on #2877
BTW, this is a bit more complicated.

`.exists()` being more complicated and slower is true for s3 and gs, but might be not true for other remotes likes local and ssh. So we should bench things and might even require using different calls for different remotes to get top performance everywhere.

[2019-12-01 19:33] dmpetrov commented on #331
This is a great use-case. I even heard about this requirements for a couple of times outside of our issue tracker like "can DVC processes only new images?". It needs to be implemented as a part of DVC.

## Challenges

There are some challenges with API and how to align the feature with the current DVC interface and which part goes to code:
- "a huge deviation from the current dvc behaviour" @Pierr

[2019-12-01 22:31] midnightradio commented on #2818
@skshetry You are right! I tried again with considering your comment, and it turned out the error about `dvc version -v` was neither caused by the weird FS nor dvc itself. There must be incomplete '.git' directory remained after `git init` before trying `git status` and caused the error. Thanks for make it clear.

I should be more precise. Sorry for my misleading report on `dvc version` command.

[2019-12-01 22:45] efiop commented on #2818
@midnightradio No worries! Glad you've found the cause! Thank you for the feedback! 🙂

[2019-12-02 07:39] JohanMollevik commented on #2512
I have been testing this some more and it seems gone, now completing in 4hours.

[2019-12-02 09:06] pared commented on #2473
I think that the "aggressive" approach is the only way to go. If we will throw error and hint to make the user change the number of jobs, I think that will result in many angry users getting "fix number of jobs" error after few minutes of successful upload. That is definitely not a friendly user experience.

[2019-12-02 09:08] pared commented on #2473
Also, @Suor, when we talk about auto degrading in case of default jobs number, right? Or do you think it should also be applied in case of `--jobs` provided?

[2019-12-02 09:31] pared opened #2880 "Don't initialize `Repo` in `external_repo`"
[Here](https://github.com/iterative/dvc/blob/3d70a1efef839e9a7493de5475929567d4018a65/dvc/external_repo.py#L64) we are intializing repo just to get access to config.
Consider whether we could not just do that using Config and providing proper path.
Problem:
There is already a [test](https://github.com/iterative/dvc/blob/3d70a1efef839e9a7493de5475929567d4018a65/tests/func/test_get.py#L68) that is r

[2019-12-02 15:38] Pierre-Bartet commented on #331
Yes both the input and the output will be some kind of new 'collection' objects.

This can be done using hash lists or hash trees.

Therefore hash trees. Also trees can help if you want to be able to support folder with a large number of files (I've faced several use cases involving millions of files).

Isn't all this also related to parallel processing ? (not a rhetoric question)

[2019-12-02 17:07] casperdcl commented on #2865
also add _download progress (atm only uploads will provide progress)

[2019-12-02 17:09] #2771 closed

[2019-12-02 18:50] dmpetrov commented on #331
Right. We are already using some kind of hashing in DVC. It would be great if the current hashing mechanism would be reused. The existing one might not work for not-data files and dirs.

Absolutely! Updated.
It will require an additional command line parameter like `--jobs 24` which is another argument for separating this into a separate command to not over pollute `dvc run` params list.

[2019-12-02 19:05] efiop commented on #2843
Hi @SdgJlbl !

Sorry for the delay, the notification got lost in the flow 🙁 The command that you are using doesn't have any dependencies, so it is considered as a "callback stage", meaning that it is considered as always changed. Here is the piece of code that is responsible https://github.com/iterative/dvc/blob/0.71.0/dvc/stage.py#L527 and it has been like that for a very long time. Regular "non-

[2019-12-02 19:14] casperdcl commented on #2509
I'd prefer `ls-files` to match `git` more closely

[2019-12-02 19:27] shcheklein commented on #2466
@Suor I think this is because `--local` is used. I think remote is not defined in `/path/to/serverA/data/registry/repo/.dvc/config`

@jburnsAscendHit yes, your case makes total sense to me. Can you try as a workaround to define a remote per machine like this with `--global`?

Also, it looks like your case is actually relevant to this one optimization https://github.com/iterative/dvc/issues/2599 .

[2019-12-02 19:38] dmpetrov commented on #2799
Yes. That's what I have in my mind.

Sure. It might be a different command if we have a good reason.

It seems like a different scenario - auto-hyper param tunning or a grid-search with a custom grid. We should keep these scenarios in mind but the primary use case for this issue is:
1. make a small change
2. push a button
3. get a result in a dir
4. propagate the result to master if needed.

And y

[2019-12-02 20:42] Suor commented on #2466
Ah, I see, it shouldn't require global, simple default config level should do the job. It won't work outside server A of cause. Why are you using local config option?

@shcheklein making a scenario depend on optimization is fragile, e.g. it will create edge cases like difference between workspace and master. The error is correct because import refers to a master branch, which doesn't have local co

[2019-12-02 21:31] shcheklein commented on #2466
@Suor I think local is being used due to:

I agree. Just mentioning it here since it might resolve this specific case.

[2019-12-02 23:09] mroutis commented on #2877
@skshetry, I was thinking about leveraging S3's `CommonPrefixes` to check if a file exist. That should handle it in one call, instead of the `isfile or isdir` check.

[2019-12-02 23:13] Suor commented on #2466
We might want consider a local repo with its cache be a legit source for imports, then that won't be a hack) And no remote will be required.

[2019-12-02 23:17] shcheklein commented on #2466
It's already a legit source for imports, right? #2599 is about fetching from the cache if data is cached already. Or I don't understand what you trying to say :)

[2019-12-03 00:05] jorgeorpinel commented on #2509
Good catch @casperdcl. I think you're right about the command's name.

[2019-12-03 00:16] casperdcl commented on #2509
fyi, for `git ls-files`:

- recursively all files: (no args)
- current dir: `.`
- recursively all python files: `'*.py'`
- tracked python files in current dir: `*.py` (assumes shell expansion, git will exclude untracked file arguments)

[2019-12-03 00:20] efiop commented on #2833
Done https://chocolatey.org/packages/dvc , waiting for approval from the moderators.

[2019-12-03 00:20] #2833 closed

[2019-12-03 00:21] efiop commented on #2760
For the record: we now have a chocolatey package for windows https://chocolatey.org/packages/dvc . Waiting for moderators and some final testing.

[2019-12-03 00:36] shcheklein commented on #2509
@casperdcl interesting point.

In what cases do you use `git ls-files` vs regular `ls`? I think they serve a bit different purposes and to me intuitively `dvc list` or `dvc ls` (name does not matter that much) serves the role of `aws s3 ls` or `ls`. There are chances that default behavior for `ls-files` is done this way to augment `ls`.

`git ls-files` sounds like an advanced Git-specific command.

[2019-12-03 04:41] shcheklein opened #2884 "make DVC recover from network failures"
DVC has core commands that run a large number of operations with remotes:

[code]

or a long running network operations: pushing/pulling a large file.

It would be great for DVC to recover from network failures (even substantial ones). Instead of giving up from the very first read/connect error we should write a message and keep retrying with some exponential backoff. This should greatly improve u

[2019-12-03 07:07] dmpetrov commented on #755
Some thoughts after reading this thread for 28 more times and talking with @shcheklein.

There are 3 possible **types of parallelism** in DVC (in a single repo):
1. **Out-of-process parallelism.** Run multiple commands at the same time `dvc run some_cmd.sh`, `dvc repro mystage.dvc` and `dvc repro data/pre-process.dvc`. The user is responsible for level of parallelism (how many commands to run in p

[2019-12-03 08:20] pared commented on #2880
Kudos @Suor for pointing it out.

[2019-12-03 10:37] casperdcl commented on #2509
- if there are many files (some untracked and some in `.gitignore`) and I only want to `ls` the tracked ones
- immediately understand exactly what `git archive` would include
- `-x` and `-X` patterns for systems without `grep`
- `-t` flag: also marks file status

[2019-12-03 12:35] Baranowski commented on #2862
Hi, I would like to work on this, as discussed with Ivan.

Below are some notes to self, please disregard.

`import` doesn't use `get` internally: https://github.com/iterative/dvc/pull/2837#issuecomment-559559857

Similar functionality for `get`: https://github.com/iterative/dvc/pull/2837/files

From https://github.com/iterative/dvc/issues/2515#issuecomment-557593944:

From https://github.com/iter

[2019-12-03 12:55] #2829 closed

[2019-12-03 12:56] #2487 closed

[2019-12-03 13:59] sremm opened #2885 ""unexpected error - unable to open database" file after updating from 0.59.2 to 0.71.0"
**Please provide information about your setup**
DVC version: 0.71.0
Platform: Ubuntu 18.04
Method of installation: pip

I've used dvc for managinf model files. I have not updated dvc for a while and after doing so going from  0.59.2 to 0.71.0 I could not add any new files to the existing dvc cache.

Here is the verbose output of the dvc add command

[code]

Downgrading dvc version to 0.59.2 makes

[2019-12-03 14:13] efiop commented on #2885
Hi @sremm !

Indeed, looks like state backward compatibility issue 🙁 , probably caused by some locking adjustments we've done. The only solution for you right now is to install the newest version and delete `.dvc/state` , after that everything should start working. You will, however, lose all the cached hashes that are in that state db, but that will be recomputed once when you next use some parti

[2019-12-03 14:13] mroutis commented on #2885
I couldn't reproduce it @sremm :disappointed:

[code]

Maybe your state file got corrupted somehow.

How did you perform the update?

[2019-12-03 14:16] Suor commented on #2671
So after all optimizations merged we have 8.8s instead of 69.6s to collect graph for 21k simple stages, it is a 7.9x speedup. Here is what takes time:

| task    | time |       | what is added to prev line             |
|----------------|------|-------|-------------------------------------|
| list + read    | 1.1s |       | (includes startup time)             |
| ... + parse    | 3.1s | +2.0s | Py

[2019-12-03 14:21] efiop commented on #2885
Good catch @mroutis !

@sremm Btw, could you please show `dvc version` output on both dvc versions? It contains some additional info, which might help us better understand what happened.

[2019-12-03 15:05] sremm commented on #2885
@mroutis I used `pip install dvc --upgrade` doing `pip uninstall dvc && pip install dvc` like in your example did not change the behaviour

@efiop I tried updating dvc and then removing `.dvc/state` but still experience the same behaviour.

Here are the outputs:
For the working version
[code]
and for the latest version
[code]
Output of `python -c 'import sqlite3; print(str(sqlite3.sqlite_version_i

[2019-12-03 15:11] mdekstrand commented on #755
@dmpetrov That sounds like a good breakdown (although I don't fully understand 3).

It would be **really** nice for 2 to be designed with some abstraction future extensibility over parallelism interfaces. Doesn't need to do that in V1, but long-term I could see it being very useful for DVC to be able to use an external job scheduler such as SLURM for running the individual stages. A lot of US rese

[2019-12-03 17:16] SdgJlbl commented on #2843
Thank you for your reply, I have checked the behaviour with a dependency and it is actually behaving as it should.

I was refering to the reference documentation https://dvc.org/doc/command-reference/run. It states that :

with no explicit mention that a step with no dependency will never be cached.

It was not the case in the version 0.34, where even step with no dependency were cached, hence my

[2019-12-03 17:37] MaxRis commented on #2865
@casperdcl thanks, have added this to the list

[2019-12-03 17:59] efiop commented on #2843
@SdgJlbl Thanks for the info! Created https://github.com/iterative/dvc.org/pull/832 to clarify that in the docs.

Indeed, 0.34 didn't have that logic in place. Do you still need build cache for no-deps dvc-files? If so, coudl you describe your scenario a bit more, please?

[2019-12-03 18:14] SdgJlbl commented on #2843
Actually, in my real pipeline, I never use dvc without dependencies, it was just a use-case popping in some tests where we didn't bother adding a dependency as input (because uh tests ^^).
But I understand the logic behind considering that one probably always want to execute a no-deps step, thanks for the clarification.

[2019-12-03 18:35] jaredsampson opened #2886 "Bug: `dvc add` fails with a modified file (or directory) at the end of a list of files"
Using DVC 0.71.0 on RHEL6, installed via `conda`, configured for system-wide hard links (not sure if it's relevant):

[code]

I have come across what appears to be a bug, where attempting to `dvc add` a directory previously under DVC version control whose contents have changed, results in an error, but only when adding along with a list of files, and doesn't occur if the command is repeated (i.e.

[2019-12-03 18:37] mroutis commented on #2886
Thanks for reporting this, @jaredsampson

Including the stack trace:

[code]

[2019-12-03 18:41] efiop commented on #2885
@sremm You've removed .dvc/state _after_ upgrading, right?

[2019-12-03 18:44] jaredsampson commented on #2886
I get the same behavior with a flat file foo.txt instead of `data/foo` as well:

[code]

yields

[code]

However, reversing the order of the files in the last command, everything works fine:

[code]

[2019-12-03 18:47] mroutis commented on #2886
Thanks for the additional info, @jaredsampson !

The problem seems to be related to the way we collect the stages.

[2019-12-03 18:59] efiop commented on #2886
[code]

doesn't reproduce it for me 🙁I suspect that the original issue might be cause by us not deduping the targets in dvc/repo/add.py, but I haven't looked into it closely enough.

[2019-12-03 19:01] mroutis commented on #2886
@efiop , change the order of the last call:
[code]

[2019-12-03 19:07] mroutis commented on #2886
If someone is willing to give it a try, here's a test that you can play with:

[code]

Might need revisiting the graph building process :grimacing:

[2019-12-03 22:26] jorgeorpinel commented on #2862
Thanks  a lot Wojciech!

Should it? Cc @shcheklein @mroutis

[2019-12-03 22:35] efiop commented on #2862
@jorgeorpinel Not necessarily, they have pretty different implementations right now and I doubt PR for this issue will have to change that. But I guess we'll soon see 🙂

[2019-12-04 00:01] shcheklein commented on #2509
@casperdcl so the cases you are describing are indeed very different from `ls`. They are specific to Git workflow. In case of this new command, my feeling that it's better to compare it with `ls` or even `aws s3 ls` since we kind-a take the ability to access buckets directly away.

[2019-12-04 00:21] efiop commented on #2599
For the record: to implement this, we need to look into https://github.com/iterative/dvc/blob/0.71.0/dvc/external_repo.py#L68, where we need to check if the url we are cloning from is a local directory and if there is no default remote (core.remote in config) setup, in which case add default remote that will point to the original repo's cache location. Here is a quick test for this feature:
[code]

[2019-12-04 01:57] casperdcl commented on #2509
I'd argue that `dvc ls-files` listing only dvc-tracked files would be very valuable. I don't see much value in implementing something simpler which is a minor modification to `ls`

[2019-12-04 05:03] shcheklein commented on #2509
so, that's the point the is no `ls` for us and a regular one does not work. It's exactly the same reason why `aws s3 ls` exists. Regular `ls` won't work for a remote Git repo, right? May be that's where some misunderstanding comes from. The idea is that it should enable some discoverability for DVC projects and you supposed to use it like:

[code]

and then:

[code]

or

[code]

[2019-12-04 08:34] maykulkarni opened #2887 "dvc add fails with ImportError"
Steps:
Follow the Getting started tutorial and run: `dvc add -v data/data.xml`

[code]

DVC Version:
[code]
Platform: Windows 10 Enterprise
Method of installation: pip

[2019-12-04 08:51] sremm commented on #2885
Double checked and yes, upgraded -> removed .dvc/state -> try to add a simple file

same behaviour.

Since I also use a windows machine with the same repository, I thought I'd try to upgrade there as well.

DVC version: 0.71.0
Python version: 3.7.3
Platform: Windows-10-10.0.16299-SP0
Binary: False
Package: pip
Cache: reflink - False, hardlink - True, symlink - False
Filesystem type (cache director

[2019-12-04 09:44] dmpetrov commented on #755
@mdekstrand it's a good point about SLURM. I can add Dask here and let's pretend I forget to add Hadoop/Yarn in this list :) since it is not fully supported.
All of these should be definitely discussed when we start implementing (2).

(3) include some handy special cases - you can find more in the examples #331 and #1018. The major difference - (3) is not only about parallel execution it's also ki

[2019-12-04 10:19] pared commented on #2349
Ok, for [request from one of the users](https://discordapp.com/channels/485586884165107732/565699007037571084/651422114611593217) I will try to summarize what is needed to complete this task:
1. Introduce `--sub` flag for `dvc init`: in case of using this flag, we should set proper config value
so one would need to modify [config](https://github.com/iterative/dvc/blob/0.71.0/dvc/config.py), provid

[2019-12-04 11:19] casperdcl commented on #2509
Ah right. Remote listing pre-download is different.

I was talking about local listing local files.

I guess they'll have different implementations but would be nice to have them both called the same command (I'd prefer `ls-files`, but fine with `ls` or `list` too).

[2019-12-04 12:12] efiop commented on #2885
@sremm Oh, that is very interesting. I suspect problems in our by-url sqlite connection. Let's try to narrow it down. Please install the latest dvc and run this script in the root of your repo:
[code]

CC @Suor , maybe you can see better where uri might've broken 🙂

[2019-12-04 13:07] pared opened #2888 "tests: erepo upstream should not be its cache"
Setting default remote as [repository cache](https://github.com/iterative/dvc/blob/f9d4ef8abd5427b0ec75f7f3c1211abd8528aa99/tests/conftest.py#L152) inside `erepo` is kinda hacky. This is not a real use case, and some test relay on the `erepo` property (that is automatically adding cached files to remote because cache and remote are the same thing). `erepo` remote should not be its cache.

This iss

[2019-12-04 13:34] sremm commented on #2885
Alrighty, here are the results, it does result in the same error.

test_for_dvc_bug.py
[code]
updated to latest dvc, removed .dvc\state again and ran the above script
this is the output
[code]
The above is from running on windows, but it was the same error on Ubuntu.

[2019-12-04 14:16] efiop commented on #2885
@sremm Would be great to see output on ubuntu too, since we are more *nix guys than windows, so it is easier for us to grasp  posix paths 🙂

[2019-12-04 14:20] #2848 closed

[2019-12-04 14:23] efiop commented on #2887
Hi @maykulkarni !

Could you run this python script and show the output, please?
[code]

[2019-12-04 14:44] efiop commented on #2885
@sremm And how about:
[code]
? Just a sanity check to make sure that this is the uri that is broken.

[2019-12-04 15:12] Baranowski commented on #2862
I have a patch at https://github.com/iterative/dvc/pull/2889 but it depends on https://github.com/iterative/dvc/pull/2889, so I have marked it as Draft/WiP for now. I don't see how to better manage dependencies on GitHub but I might have missed it.

[2019-12-04 15:51] sremm commented on #2885
@efiop
So :) the prevous output from Ubuntu

Note that in my previous comment I also had to change the actual repository name, I realised that special characters might also have an effect and that there is the "%20" in the folder name as seen below, everything else is just letters. (same name on widows for the actualy repository folder)
[code]

and the new test `test_for_dvc_bug_2.py`
[code]
So th

[2019-12-04 16:16] efiop commented on #2885
@sremm Thanks! Interestingly enough, I can reproduce if I feed a relative path to the _build_uri. How about this piece of code on Ubuntu:
[code]

[2019-12-04 16:33] sremm commented on #2885
@efiop
test_for_dvc_bug_3.py contents
[code]
Output
[code]

And yes with `uri = "/home/mlburk/Repositories/Repo%20Base/.dvc/state?nolock=1"`, there is no error, so without "file:" otherwise the same.

Also tried with `uri =  = "///home/mlburk/Repositories/Repo%20Base/.dvc/state?nolock=1"` no error, empty output.

[2019-12-04 16:42] yfarjoun commented on #1691
any update on this issue? I see it have been declared "important" but also removed from "In progress"....Would love to have this!

[2019-12-04 16:52] efiop commented on #2885
@sremm Without `file:` it most likely creates `state?nolock=1` file instead of `state`. And probably created `Repo%20Base` directory, though I'm not sure about this one. Pretty weird stuff.  Let's try this one too:
[code]
Is there anything special about your python or your setup in general?

[2019-12-04 16:58] efiop commented on #2885
Btw, how did you test that? I suppose you have a directory `Repo Base` with the space in the name, right?

[2019-12-04 17:22] sremm commented on #2885
@efiop  with contents there is no error and a state file is created
[code]
Hmm, the folder itself has the "%20" in the name, the repository in our internal server has a space though, but after forking with git it sets the "%20" to the actual folder name instead of the space.
And I do suspect that there is something to do with the "%20" since i tried renaming the folder to have an actualy space ins

[2019-12-04 17:57] efiop commented on #2885
Ah, ok, now it all makes sense! The uri should be encoded, and `%20` means empty space, so sqlite tries to open "Repo Base" instead of "Repo%20Base", since it decodes it. So our uri builder should escape that properly. So most likely we need to
[code]
in https://github.com/iterative/dvc/blob/master/dvc/state.py#L499 . Are you familiar with modifying our project and installing the dev version? If y

[2019-12-04 17:58] shcheklein commented on #2509
I think `dvc list .` will work fine in this case. It'll show all files tracked by Git + expansion of DVC-files to show outputs. So it is DVC specific ls-file in this sense. I would still prefer to have default like in `ls` - no recursion, show all files - Git-tracked + DVC outs.

`dvc list .` is an edge-case for this command. The main usage is the remote one and I would really like to see just a l

[2019-12-04 18:00] efiop commented on #2885
@sremm To make sure that my conclusions are correct, could you try running:
[code]

[2019-12-04 19:12] shcheklein commented on #2671
@danfischetti could you please give it a try? does it solve the problem with your repo?

[2019-12-04 19:53] dmpetrov commented on #755
@mdekstrand are you using SLURM in academic environment? I just met an engineer at PyData.LA conf - they use SLURM in industry project. I’m wondering how common this is.

[2019-12-04 20:00] mdekstrand commented on #755
@dmpetrov Yes, Boise State's research computing cluster runs on SLURM. My understanding is that it is the current standard for academic clusters (including the big NSF-funded clusters and national labs).

[2019-12-04 23:14] Suor commented on #2445
Closing this for now

[2019-12-04 23:14] #2445 closed

[2019-12-04 23:25] Suor commented on #2508
Should we raise it to p1? Since we onto UI somewhat nowdays)

[2019-12-04 23:30] Suor commented on #2452
Also, should we up the priority? It's UI time)

[2019-12-04 23:33] Suor commented on #2447
Once we support concurrent runs/repros we may just run this synchronously.

[2019-12-04 23:44] Suor commented on #2055
Is this still relevant?

[2019-12-05 00:10] Suor commented on #331
There is still a sub use case of training on top. For this you both need an old output (a pretrained model) and a set of added files (new inputs), which is essential to some deep learning, esp. images/nlp scenarios.

This, however, complicates this a lot:
- and output is reused as a dep,
- there is no checksum reproducibility, because the final model depends on how we chunked the data.

[2019-12-05 00:28] ianycxu opened #2890 "Support Oracle Cloud Infra"
Hi DVC Team,

Thanks for this great work. Are you planning to support Oracle Cloud Infra (OCI) as well?

[2019-12-05 00:42] shcheklein commented on #2890
@ianycxu it looks like it has S3 compatible API, so this:

https://dvc.org/doc/command-reference/remote/add#supported-storage-types

`Click for S3 API compatible storage`

should work, right?

Please, give it a try and close this or let us know if we need to add some specific features or improve docs (?).

[2019-12-05 00:44] #2890 closed

[2019-12-05 00:53] shcheklein opened #2891 "collecting checksum for an external dir dependency takes too much time"
**DVC version:**

[code]

**Reproduce:**

[code]

takes **3-4 hours** to complete.

s3://dvc-common/images "Directory" has ~0.5M files.

**Profile file:**

https://www.dropbox.com/s/uqdjmm4pjkn0rj1/s3-dep-images.prof?dl=0

**96%** of time goes to thread lock.

**Output:**

[code]

![Artboard 1](https://user-images.githubusercontent.com/3659196/70194233-88035480-16b6-11ea-85ca-e8df380ea6c7.png)

[2019-12-05 00:54] shcheklein commented on #2891
@casperdcl could it be related to the locking issue we solved before?

[2019-12-05 01:23] casperdcl commented on #2891
@shcheklein the callstack graph shows `dvc.remote.base.RemoteBASE._calculate_checksums:__iter__:result_iterator:result:wait` before that lock so it seems that it's the "waiting for checksum to finish calculating" rather than "waiting to print output" that's taking most of the time.

[2019-12-05 01:51] shcheklein commented on #2891
@casperdcl right. 🤔 not have too much experience profiling Python multithreading tbh ... probably, that wait is fine - it's a main thread waiting for the workers to complete. Trying to understand is cPorfile captures the stuff workers do.

[2019-12-05 02:27] casperdcl commented on #2891
I don't think it does - it's captured the main thread mostly waiting for the worker results.

[2019-12-05 02:30] casperdcl commented on #2891
Also note there are 596,400 calls which must be roughly the number of files to calculate sums for.

[2019-12-05 02:51] mroutis commented on #2570
is this still relevant?

[2019-12-05 03:29] mroutis commented on #2558
I wasn't able to replicate this :disappointed:
It looks like `boto3` already loads the `ca_bundle` for me.
A small example with min.io:

[code]

If I remove the `ca_bundle` entry from the `~/.aws/config` file it gives me the respective error;
[code]

[2019-12-05 03:29] menshikh-iv commented on #2891
@shcheklein `cProfile` isn't a good choice for multithread profiling (`cProfile` doesn't support it without "hacks"), for that case you can use
- https://github.com/sumerc/yappi
- https://github.com/benfred/py-spy

Also, you can try to use `strace` tool and get aggregated information about syscalls (esp. for locks), because this can be a GIL issue (i.e. program spend most of the time on GIL lock/r

[2019-12-05 03:31] mroutis commented on #2558
@pfigliozzi, did you set the correct `profile` with `dvc remote modify` ?

[2019-12-05 03:38] mroutis commented on #907
We are already using moto for S3 since https://github.com/iterative/dvc/pull/2853

[2019-12-05 03:41] shcheklein commented on #2891
@menshikh-iv right! thanks. I doubt that it's GIL bounded (it should be IO mostly - HEAD s3://X/file). I'll check yappi or something similar.

Also, was able to speed it up 8-10x by passing `max_pool_connections` to S3 client:

[code]

in `remote/s3.py`, otherwise it is bounded by 10 simultaneous connections.

I wonder what else is bounded by this limit - status collection?

[2019-12-05 04:45] maykulkarni commented on #2887
Fails with-
[code]

[2019-12-05 05:25] maykulkarni commented on #2887
After searching more on it, I fixed it by conda installing pywin32
[code]

[2019-12-05 05:36] shcheklein commented on #2887
It can be a bug in our conda package deps? Need to check.

[2019-12-05 05:53] maykulkarni commented on #2887
FYI `pip install pywin32` didn't fix it, `conda` did

[2019-12-05 07:55] Pierre-Bartet commented on #331
Isn't it already the case ?

Why ? In the situation you describe, the model is build from all the images, so it is not incremental: the training script must be applied to the whole image folder, not image by image.

[2019-12-05 08:26] Suor commented on #331
Not if you in fact process them 1 by 1, so that `f(collection(items)) = collection(f(items))`.

You train a model on a set of images, then you add a new batch and you train on a new batch starting from the pretrained model, not from random weights. This will result in a model knowing about images of both batches, but this is not the same as training on a combined set form the start, so we loose ch

[2019-12-05 08:37] Suor commented on #331
We can think of the difference as "do our transform function have this property":
[code]
And also is it a strict = or a good enough ~ for a user.

[2019-12-05 08:46] Suor commented on #331
We should also consider raising the priority. What do you thing guys?

[2019-12-05 09:05] Pierre-Bartet commented on #331
Ok I see, so the flow will be like that:

![image](https://user-images.githubusercontent.com/24455641/70219992-196dd780-1746-11ea-9039-95402f65df24.png)

As long as a graph is a DAG there should be no checksum problem. Here maybe what is confusing is that both 'model 1' and 'model 2' could share the same key, for example 'model.pkl', but which one would you choose ? If you choose 'Model 1 + 2', th

[2019-12-05 09:10] sremm commented on #2885
Running the snipped below
[code]
results in no errors and the state file is created in `/home/mlburk/Repositories/Repo%20Base/.dvc/`

[2019-12-05 09:15] Suor commented on #331
By nature of dvc both models will share the same filename, they will go in different git revisions though. Batches also combine into a single dep, in current design `out = f(dep)`, that's it, history of a dep does not affect `out`, with incremental training it might affect.

[2019-12-05 09:30] dashohoxha commented on #1691
It seems to me that what the user wanted to accomplish ([dvc metrics show accross different commits](https://github.com/iterative/dvc/issues/1691#issue-417849575) -- making small parameter changes and checking the metrics for these parameter values) can be implemented more easily and cleaner with directories for each experiment.

In general, let's say that the user has a table with parameters and

[2019-12-05 09:54] Pierre-Bartet commented on #331
Ok now I understand, there is 'currently' no way to distinguish between:
![image](https://user-images.githubusercontent.com/24455641/70223206-93548f80-174b-11ea-9cf5-1d2d7c27a24a.png)

and

![image](https://user-images.githubusercontent.com/24455641/70223217-9b143400-174b-11ea-83c4-ae433b00cc74.png)

But I am not sure to un derstand this 'currently':

What batches, are they already implemented ?
I

[2019-12-05 10:13] Suor commented on #331
You can add a dir with files into dvc, and then add some files to that dir and `dvc add` it again. It will have new checksum but same path, so you can rerun a pipeline with `dvc repro` on the new data, this will involve processing the whole thing of cause.

But as you said, if there are lots of batches, maybe some sugar can be added to hide 'model 1' and expose 'Model 1 + 2'.

You mean add a new s

[2019-12-05 10:24] Pierre-Bartet commented on #331
I've never encountered the situation you describe: either the number of batch was small, and indeed I wanted to train Model 1 + 2 using Model 1 + Batch 2, with a tractable number of batch and a need for being able to access Model 1 and model 2 separately, or the number of batch was big enough so that I wanted to retrain on all the batches (not incremental). But indeed your use case exists and it w

[2019-12-05 11:49] efiop commented on #2885
@sremm Great news! So we've found the issue. Patch is coming soon, stay tuned! 🙂 Thanks for the feedback!

[2019-12-05 13:40] verasativa commented on #1861
I'm working on this now, hope to PR today (I'm online at discord channel)

[2019-12-05 13:59] #2885 closed

[2019-12-05 14:04] Suor opened #2893 "test: write a usage text for new pytest-style fixtures"
This is a continuation of https://github.com/iterative/dvc/pull/2837.

[2019-12-05 14:12] Suor opened #2896 "test: convert pytest-style tests to dir_helpers fixtures"
This is a continuation of https://github.com/iterative/dvc/pull/2837.

This might be done on a per module basis to get a taste of it, leave a comment here if you are migrating particular test module to prevent double effort. I will convert whatever is not done by the end of the sprint.

So @mroutis, @pared, @efiop, this goes after loose ends are closed as we agreed on planning. Ping me here if you

[2019-12-05 14:14] Suor commented on #1819
Should we raise this in priority?

Also, looks like we have 3 parts here:
- [ ] migrate `test_data_cloud.py`, look at `tests/remotes.py`
- [ ] migrate external dep tests
- [ ] migrate all other unit tests

[2019-12-05 14:22] efiop commented on #1819
@Suor This one is still nice-to-have, but it doesn't mean that we can't take it 🙂 Considering the data_cloud complications, I suspect that it will take a bit longer to resolve this one, so I would take it after we migrate to new fixtures. Let's not add this one to the sprint for now.

[2019-12-05 14:24] efiop commented on #2885
@sremm FYI: fix was merged. Releasing a new version right now 🙂 If you want to try this before the official release, feel free to install upstream version through `pip install git+https://github.com/iterative/dvc`. Thanks a lot for the feedback! 🙂

[2019-12-05 15:08] Suor commented on #2492
There is still a relink part.

[2019-12-05 15:17] hjuhel-cdpq opened #2897 "Fresh install /.dvc/updater.lock for all commands"
# Setup informations
[code]
Installed with pip, on a Ubuntu 18.04 version

# Issue
Hi,

I am m new to DVC. I have installed DVC on a fresh Ubuntu install. Every command (except `init` and `get`) I tried to run raised the following error :

[code]

With <path_to_repo> being a path to a working Git repository.

The issue first occured when I was following the "Get Started" section of DVC :
[code]

F

[2019-12-05 15:27] efiop commented on #2492
@Suor Could you elaborate?

[2019-12-05 15:29] efiop commented on #2897
Hi @hjuhel-cdpq !

Could you please install psutil using `pip install psutil` and then show us `dvc version`(not that it is not the same as `dvc --version`) output?