[2021-09-10 21:49] efiop commented on #6582
@isidentical Looks like you've posted a link to this same issue in your last comment. You probably meant something else.

[2021-09-11 02:04] raylutz commented on #6536
Hello:
Not finding the output means only that it was not produced for some reason, or does not exist yet. This is the repro command, and I expect that it should just return the status of the stage, and update the files accordingly, not stop. There is no way to specify that the output is optional, for example. I will still assert that there should be no case where your program will crash with a pyt

[2021-09-11 03:01] raylutz commented on #6543
@shcheklein

That might work, but let me make sure it makes sense. I am troubled a bit by the idea of running init "inside" a job, because I normally don't think of it that way, but I am willing to change my thinking process.

The way I normally view this is that there is a root directory audit-engine/ which is also the github repo base for the project. The code runs from there. I know that the dv

[2021-09-11 03:05] Hiroshi-Kumanomido commented on #6574
@efiop I was using real aws s3.

I tried running `dvc pull` three times, but at last, `dvc pull -j 1` helped. All problems were finanly resolved!!

Regarding the lack of files in the workspace, you were right! I could confirm all the files are made after completing `dvc pull` successfully.

Thank you very much.

[2021-09-11 14:52] efiop commented on #6574
@Hiroshi-Kumanomido Hm, looks like maybe 4*NCPU default jobs might have been a little too much for your connection. Are you in the same region as the aws bucket you are accessing? Also, how many cpu cores do you have?

[2021-09-12 15:03] simonlsk opened #6596 "pull -r remote: Disregards specified http remote"
# Bug Report

## Description
When running `dvc pull -r <remote>`, the requests sent in order to retrieve directory data are sent to the default remote instead of the specified one.

### Reproduce
1. `git clone repo` (that has dvc directories)
2. `dvc remote add <remote> <http-remote>`
3. `dvc pull -r <remote>`

### Expected
DVC pull should try to fetch the data from the specified remote

### Envir

[2021-09-13 06:39] simonlsk opened #6598 "pull -r remote: Fails with 'No file hash info found'"
# Bug Report

## Description
`dvc pull -r <remote>` fails with `WARNING: No file hash info found for 'dir'. It won't be created.` for dvc tracked directory.
* Happens when no default remote is set
* Happens with HTTP remote
* This doesn't happen with earlier versions (tested with `2.3.0` and works fine)

### Reproduce
1. Clone a repo with a dvc tracked directory and no default remote set. (Example

[2021-09-13 07:06] simonlsk opened #6599 "http: gzip encoding makes pull freeze"
# Bug Report

## Description
Running `dvc pull` on any DagsHub HTTP remotes hangs forever. This is affecting many of our users, who end up downgrading to the last known version that works (`2.3.0`).

### Reproduce
1. `git clone` a repository that uses DagsHub storage (http remote) (example `https://dagshub.com/Simon/baby-yoda-segmentation-dataset.git`)
2. Run `dvc pull`

### Expected
Pull all the

[2021-09-13 07:18] daavoo commented on #6536
Related: https://github.com/iterative/dvc/issues/4410

[2021-09-13 09:38] efiop commented on #6599
Looks like you've figured it out already. Mind creating an issue in fsspec and, maybe, sending a fix for them?

[2021-09-13 09:42] efiop commented on #6598
@simonlsk Could you please provide full verbose log? That warning is just a small part of the log, I'm worried that we are not seeing full picture.

[2021-09-13 10:47] simonlsk commented on #6598
[code]

[2021-09-13 10:48] simonlsk commented on #6598
[code]

[2021-09-13 13:57] iesahin commented on #2360
Are there new tests about this? My recent experience with dvc on Windows doesn't show such a drastic difference.

[2021-09-13 14:56] raylutz commented on #6536
Yes, I believe that by not stopping with an exception, that will allow the output files to be considered optional. If they are not ever used in a later stage, then the production is not really an error. Now if the file is not optional, and is used in a later stage, then if you update the dvc.lock file to show that it is missing, then the subsequent stage should complain that it does not have a dep

[2021-09-13 16:17] simonlsk commented on #6599
I tend to disagree with the labeling and the edited title though. This is a regression from previous versions that work fine. A simple `curl` command or python request to the URL returns the content of the file just fine, where `dvc pull` just hangs. The behaviour is that pulling the files doesn't work as expected, and not that gzip is stated as not supported. It turns out that the underlying orig

[2021-09-13 16:26] dberenbaum opened #6603 "Plots HTML layout"
With support for more plots and images that could be scattered around the project, having some level of organization and grouping of plots in the HTML would be helpful, such as:

* Organizing by directory structure or filename
* Organizing by stages in dvc.yaml
* Organizing by plot type
* Organizing by plot title
* If https://github.com/iterative/dvc/discussions/5980 is implemented, organizing by

[2021-09-13 16:28] dberenbaum commented on #6603
Also consider how this impacts https://github.com/iterative/dvclive/issues/82 and https://github.com/iterative/dvclive/issues/150.

[2021-09-13 17:05] efiop commented on #6599
@simonlsk Touche. Adjusted the title. Thanks 🙏

[2021-09-13 17:22] isidentical commented on #6582
With https://github.com/intake/filesystem_spec/pull/754, now it also works on our test suite and can actually support the mocked one.

[2021-09-13 17:33] efiop commented on #6599
For the record:

[code]

[2021-09-13 18:09] efiop commented on #6599
Ok, looks like removing this

https://github.com/iterative/dvc/blob/eb6562207b0ee9bd7fd2067103f3ff3b6c6cd18b/dvc/progress.py#L182

fixes it. looking at that block, seems a bit odd that callback calls fs.info, trying to remember if this was a temporary workaround or something, @isidentical maybe you remember details about it?

[2021-09-13 18:16] isidentical commented on #6599
Ah, I think I know why this is troubling (you can not call sync fsspec methods from when executing an async fsspec function), so you can not make an `info()` call in `get_file` but we indirectly make it when there is no `content-length`.

No, it is not temporary. Not all filesystems support `set_size()` all the time (for example http, the `content-length` might not be present) so what we do in tha

[2021-09-13 18:39] simonlsk commented on #6599
@efiop Thank you I really appreciate it 🙏  !
This seems to be above my original understanding of the issue, but please let me know if there's anything I can do to help.

[2021-09-13 20:05] dberenbaum opened #6605 "params: bulk params from file"
Params need to be specified individually, which can be repetitive and inconvenient where users want to simply include all parameters from a file.

For background, see:

* https://github.com/iterative/dvc/issues/3393#issuecomment-599896828
* https://github.com/iterative/dvc/discussions/6506#discussioncomment-1273357

Instead of specifying every parameter individually, it should be possible to do `d

[2021-09-13 22:09] efiop commented on #6173
Closing. It is now around 5sec for get-started-experiments, which is still a lot, but that will be addressed after https://github.com/iterative/dvc/issues/6594

[2021-09-13 22:09] #6173 closed

[2021-09-13 22:45] #6132 closed

[2021-09-14 01:09] pmrowla commented on #6592
This should be simple to fix, we just need to remove
https://github.com/iterative/dvc/blob/049a856cd93c14e6a2efdbf6f5e02b028885a544/dvc/repo/experiments/utils.py#L90-L91

[2021-09-14 08:55] mattlbeck commented on #6423
Benedict's merge module appears to be fairly self-contained /blob/c98c471065ae84b4752a87f1bd63fe3987783663/benedict/core/merge.py . A possible stopgap could be to remove the bendict import and copy this module into the DVC codebase instead. I have done something similar for keypath parsing currently in #6521 (8d219dc4c4be678f8e12a57f766d282d13997443).

[2021-09-14 09:11] skshetry commented on #6423
I think I'm more inclined on working around benedict than replacing it. We should rollback this particular change:

https://github.com/fabiocaccamo/python-benedict/blob/master/benedict/dicts/__init__.py#L283-L285

[2021-09-14 09:25] daavoo commented on #6423
It is worth having a dependency that requires workarounds if we only use ~20 lines of that dependency?

Considering it causes other side effects/bugs like https://github.com/iterative/dvc/issues/6476

[2021-09-14 09:29] daavoo opened #6611 "histogram"

[2021-09-14 09:34] skshetry commented on #6423
@mattlbeck, we still need to unflatten those and it comes from [`keylist_util.py`](https://github.com/fabiocaccamo/python-benedict/blob/c98c471065ae84b4752a87f1bd63fe3987783663/benedict/dicts/keylist/keylist_util.py).

I have not been able to work on this. Quicker way is to workaround benedict, that should help us move ahead #6476 and #6521.

[2021-09-14 11:07] pared commented on #6389
Not much - main difference is that if we put some template under `.dvc/plots` we are able to access them via their filename, without providing `.json` exceptions (when running `dvc plots ... --template xyz`) if there is no `xyz` template in current dir, we will look for `xyz.json` in `.dvc/plots`.

One can edit them in place as well as copy and modify to own needs.

[2021-09-14 12:15] pared commented on #6536
That makes sense, it seems that reproducibility could still be asserted, because `dvc.lock` would tell as whether in this particular version of project given output should be produced.

[2021-09-14 12:46] dberenbaum commented on #6389
Thanks, @pared! While I have looked at the plots enough to understand, I don't think the answers are obvious to a typical user.

[2021-09-14 12:46] karajan1001 commented on #6389
Why can't we make `.dvc/plots/` generated at `dvc plot`'s first running

[2021-09-14 12:53] dberenbaum commented on #6389
Good point @karajan1001! We can do that, although I don't think it solves all issues like templates getting out of sync with DVC version.

[2021-09-14 13:21] lassepe opened #6614 "exp show: Shows wrong "State" for experiments in the queue that have already been run"
# Bug Report

## Description

When scheduling a sequence of experiments with `dvc exp run --queue` and running the queue with `dvc exp run --run-all`, the output of `dvc exp show` seems to show an incorrect "State" for experiments that have already been completed. Fore example, in the screenshot below, the experiment `higher_weight_regularization` has already been completed but is assigned the sta

[2021-09-14 15:34] #6596 closed

[2021-09-14 16:12] raylutz commented on #6533
Thanks for the better name. I will tell you how I am now organizing this so I can avoid unnecessary transfers.
1. I have one file which is generated which is persist:false so that I can tell if the stage build was successful.
2. The other files are routinely checked if they already exist and are the same on s3. If the 'fragile' etag calcs fail, then it just forces an unnecessary upload.

[2021-09-14 16:47] mnrozhkov commented on #6611
@daavoo could you describe your use case? Is it critical for you to plot few revisions on the same plot? or it doesn't make practical sense?

[2021-09-14 17:07] daavoo commented on #6611
Didn't have a particular use case in mind but just wanted to bring this into the current discussion about future of plots  (https://github.com/iterative/dvc/discussions/5980) . Nevertheless, I see al least two common use cases (one high level, one low level):

- Distribution of scores
For example, store an array of model score predictions on a validation set in order to choose a threshold value.

[2021-09-14 19:49] aounallah-m opened #6616 "dvc push: URL 'webhdfs://' is supported but requires these missing dependencies: ['hdfs']"
1. dvc remote add -d mystorage webhdfs://my_user_name@server_address/path
2. dvc push

ERROR: failed to push data to the cloud - URL 'webhdfs://' is supported but requires these missing dependencies: ['hdfs']. Please report this bug to <https://github.com/iterative/dvc/issues>. Thank you!

[2021-09-15 05:57] karajan1001 commented on #6616
Hello, @aounallah-m
It is because of the dependency missing. could you please run
[code]
and try it again ?

[2021-09-15 06:16] #6496 closed

[2021-09-15 06:40] #6480 closed

[2021-09-15 10:06] friggog opened #6622 "ValueError: too many file descriptors in select()"
Windows with at least DVC>=2.6.0 (perhaps earlier versions) and azure remote
I have  large number of directories (say 200) each with say 10 files in, the directories are tracked directly with DVC.
I'm trying to run dvc pull to download these and I get `ValueError: too many file descriptors in select()` and CMD hangs forever.

Another related but non-critical issue is that DVC seems to query the re

[2021-09-15 11:05] pared commented on #6473
@felipegssantos and if you input your profile into `~/.aws/credentials` is setting `AWS_PROFILE` working for you?

[2021-09-15 11:52] pared commented on #6473
I am unable to reproduce the problem - setting up credentials both via `AWS_PROFILE` and `AWS_ACCESS_KEY_ID` (and friends) work for otherwise not working script. @felipegssantos could you retry with latest version of the `dvc`? What kind of terminal are you using?

[2021-09-15 11:56] pared commented on #6536
@raylutz This issue will probably take some time to get processed. Meanwhile, you could work around this problem by defining a whole directory as your output: that way if some sub-directory is not created during the runtime, `dvc` does not care. Do you think that could be viable in your use case?

[2021-09-15 14:11] pared commented on #6389
I can agree on that.

We can but the problem will remain: the plots initialized once stay the same. So later development or changes like #6550 will have no effect on existing repositories, which creates quite a strange setup for users, where they have the newest dvc, yet the results it produces depends on their installation version.

[2021-09-16 03:53] mgendia opened #6626 "DVC repro fails after first stage run"
# Bug Report

## dvc repro gives error of  'ERROR: failed to reproduce 'dvc.yaml': [Errno 2] No such file or directory:'

## Description

dvc repro manages to go through first stage of pipeline but fails to run the following stages giving the error  'ERROR: failed to reproduce 'dvc.yaml': [Errno 2] No such file or directory:' even though the pipeline is constructed correctly and runs as a stand al

[2021-09-16 05:48] pmrowla commented on #6389
What about bundling the default templates in the dvc package directory (so including them in `MANIFEST.in` and `package_data` in `setup.py`) instead of populating `.dvc/plots/` with the defaults?

So by default when `.dvc/plots/<template_name>.html` doesn't exist we would look for it in `pkg_resources.resource_filename('dvc.plots', 'templates/<template_name>.html')`.

If users want to override the

[2021-09-16 06:49] karajan1001 commented on #6626
Quite weird, because there is some problem with your command. The target after `-n` in `dvc run` command is the name of the stage.

Actually when I run your script on my computer I got this.
[code]

So `dvc run -n python load_data.py -d load_data.py -d url1 -d url2 -o data/file1 -o data/file2` and `dvc run -n python preprocess_file1.py -d preprocess_file1.py -d data/file1 -o data/preprocessed` oug

[2021-09-16 07:20] pared opened #6627 "commands: enhance our profiling capabilities"
We should consider using a framework that has better multi-thread capabilities than currently used cProfile.

Some options:
https://github.com/sumerc/yappi
https://github.com/benfred/py-spy
http://kcachegrind.sourceforge.net/html/Home.html

Related:
#5594
https://github.com/iterative/dvc/issues/2891#issuecomment-561951733

[2021-09-16 09:41] pmrowla commented on #6389
One thing to note is that users with existing repos would lose this auto-updated default plots behavior (since existing repos will already have a populated `.dvc/plots` dir)

[2021-09-16 09:55] pared commented on #6389
I think that depends on the implementation: if no `template` is provided, go for package data `linear` template.

[2021-09-16 10:33] thias42 opened #6629 "push/pull: missing sshfs dependency on macOS"
# Bug Report

## Description

Running dvc push returns an error after upgrading to dvc version 2.7.3.:

`
ERROR: failed to push data to the cloud - URL 'ssh://' is supported but requires these missing dependencies: ['sshfs']. Please report this bug to <https://github.com/iterative/dvc/issues>. Thank you!
`

### Reproduce

1. mkdir test
2. cd test
3. git init .
4. dvc init
5. dvc remote add storage

[2021-09-16 10:36] #6441 closed

[2021-09-16 12:29] mattlbeck opened #6632 "exp show: --show-md for experiment tables"
We want to be able to display tables of our experiments in markdown documents similar to how we can do it with dvc params and metrics.

Our use case is that we are conducting hyperparameter tuning jobs in CML, and would like to easily format a table of the results in PR comments.

I appreciate that just doing a `dvc exp show --show-md` could by default be an overwhelming table but the conversion w

[2021-09-16 14:30] karajan1001 commented on #6629
Could you please try
[code]
or
[code]
to fix the dependency missing?

[2021-09-16 14:58] efiop commented on #6629
@karajan1001 it is installed from brew, so those won't work 🙁 Looks like we are missing sshfs in https://github.com/Homebrew/homebrew-core/blob/ef2759a348526a7a799eab76dc82c9b2c58c0c1c/pypi_formula_mappings.json#L78

[2021-09-16 15:18] #6629 closed

[2021-09-16 15:25] efiop commented on #6629
Oops, closed by accident. Created a fix in https://github.com/Homebrew/homebrew-core/pull/85313

[2021-09-16 16:00] josecelano commented on #2200
I did not know how to set up all the configurations on the Azure side to get the config values for DVC. I did it with a sample app. It might be useful for someone else:

https://github.com/josecelano/data-version-control/blob/master/docs/azure-blob-storage.md

[2021-09-16 16:24] mgendia commented on #6626
you are correct.. I mistyped that part.. it should have been like the below

dvc run -n load -d load_data.py -d url1 -d url2 -o data/file1 -o data/file2  python load_data.py

I was a bit in a hurry while writing this issue.. I came in touch with Pawel (a DVC maintainer) and he helped me debug the issue  which was due to the file path name character length limit on my windows machine. DVC file name

[2021-09-16 18:47] efiop commented on #6629
@thias42 Thank you for reporting this issue, we really appreciate it! 🙏 Now just waiting for the PR to get merged by homebrew guys, should be a matter of hours after that to get a new version of the package deployed.

[2021-09-17 07:51] simonlsk commented on #6598
Seems like #6600 solves this issue

[2021-09-17 07:51] #6598 closed

[2021-09-17 12:16] elevaitleo opened #6640 "Large memory consumption and slow hashing on `dvc status` after `dvc import` of parent of dvc-tracked folder"
# Bug Report

## status: slow performance and high memory consumption after importing parent of a dvc-tracked folder

## Description

I have a dvc repository with the following structure
[code]
I track the subfolder.

In a different repo, I want to import the parent folder. After importing it, if I run `dvc status`, the hash computation is really slow (around 13/s while the dvc add in the first pl

[2021-09-17 13:06] dberenbaum commented on #6389
👍 I think this whole comment pretty well summarizes what we all have been discussing.

I think @pared also suggested the possibility of removing `.dvc/plots` entirely. The only downside I see to this is that it might be nice to provide a simple template example bundled with the repo somewhere. Is there other value in `.dvc/plots`?

[2021-09-17 13:17] skshetry opened #6642 "http: upload_fobj raises NotImplementedError"
[code]

[2021-09-17 13:22] efiop commented on #6555
@endremborza Do you install dvc from pypi? Do you use our python API? If not, maybe something like pipx or one of our standalone packages like deb/rpm/snap/brew/etc would work for you?

[2021-09-17 13:24] dberenbaum commented on #6632
Good idea, @mattlbeck!

I'm curious if you see benefits beyond ease of use for doing this over inserting the output directly as a code block like:

[code]

[2021-09-17 13:26] endremborza commented on #6555
I can use it just fine, since it works with `pathspec 0.9.0` but black does not work at all with `pathspec < 0.9.0`.

It's not a question of whether it works once you know this, but it might break a few pipelines, as it did break some of mine where black was installed first and dvc later. So it would simply be nice to fix

[2021-09-17 13:27] efiop commented on #6642
@skshetry What fsspec version do you have installed?

[2021-09-17 13:32] skshetry commented on #6642
[code]

[2021-09-17 13:33] skshetry commented on #6642
It came up when adding test for callbacks for http in https://github.com/iterative/dvc/pull/6641.

[2021-09-17 14:12] karajan1001 commented on #6640
Thanks for your report, tried it on my computer, it creates an external repo for every output file. I guess why it was so slow.

[code]

[2021-09-17 14:50] dberenbaum commented on #6603
@shcheklein Will the HTML layout in DVC impact Studio or VSCode layouts?

[2021-09-17 15:51] yonil7 opened #6643 "OpenLineage integration"
now that [OpenLineage](https://openlineage.io/) is formally released and is part of [LF AI & Data](https://landscape.lfai.foundation) it would be nice to see some kind of integration between it and dvc

[2021-09-17 15:54] shcheklein commented on #6603
@dberenbaum no, only from the product perspective if we decide to take some ideas out of it.

[2021-09-17 16:03] dberenbaum commented on #6389
Right, I forgot about that idea! That should make it easy to show the templates in the repo, but let's not add any of this to #6550. Let's address in a separate PR.

[2021-09-17 16:12] dberenbaum commented on #6603
More likely it will be the reverse 😄

[2021-09-17 17:27] #6643 closed

[2021-09-17 19:25] mattlbeck commented on #6632
@dberenbaum Honestly hadn't thought of placing inside of a code block. Presumably this only works with `--no-pager`?

Without having properly tested this, the only additional benefit of a `--show-md` I can think of is that it would look a bit nicer.

[2021-09-17 19:29] dberenbaum commented on #6632
Good to know. Would you be interested in either trying that workaround and letting us know how it works, or else contributing the `--show-md` option?

[2021-09-17 19:36] mattlbeck commented on #6632
No problem, I will either submit a PR or close this ticket depending on the outcome.

[2021-09-17 20:33] dberenbaum commented on #6632
Thank you! One more thought: the leftmost column condenses multiple items of info (compare to the csv output) that might be hard to show in the same way in markdown.

[2021-09-17 20:34] dberenbaum commented on #6632
Also, no need to close the ticket. This is at least a pattern we should explicitly support for cml and other ci needs.

[2021-09-19 00:15] efiop commented on #6594
We also clearly need this for checkout.

[2021-09-19 09:20] eggqq007 opened #6646 "introduce --show-pretty-json into dvc list options"
Currently the dvc list can only output json without formatting.   It is not suitable for people to read.
--show-pretty-json can be add to generate json with pretty formatting and color.

[2021-09-19 21:25] thias42 commented on #6629
Thank you! It is working now again.

[2021-09-20 05:32] skshetry opened #6651 "alias `list` as `ls`?"
I have been reaching for `dvc ls` out of habit instead of `dvc list`. Should we introduce an alias for `dvc list`?

[2021-09-20 07:29] lassepe opened #6652 "exp run: Results cannot be found if experiment name includes space"
# Bug Report

## Description
When running an experiment with white space in the name, the resulting experiment does not show up in `exp show` later.

### Reproduce

1. `dvc exp run --name "some name": Experiments runs as expected.
2. `dvc exp show`: Experiment is not listed.

### Expected

I would expect that either

- `dvc exp run` should refuse to assign names with white space in them,
- or `dvc

[2021-09-20 07:36] elevaitleo commented on #6640
@karajan1001 thanks for confirming. I'd be ready to help fixing it if you guide me to the relevant part in the code.
In my use case, I have different registries separating different sources and they are imported by the training repository. Hence I import large datasets composed of many many small files and this leads to a `dvc status` that can take several hours...

[2021-09-20 10:01] efiop commented on #6629
@thias42 And thank you for the feedback! 🙏

[2021-09-20 11:13] skshetry commented on #5371
Regarding schema validation, what do you think the issue is? Lack of context/line info/code snippets, etc., or a formatting issue?

What do you think of the following screenshot?
<img width="800" alt="Screen Shot 2021-09-20 at 16 50 42" src="https://user-images.githubusercontent.com/18718008/133992569-20f5f466-97e1-445b-90c6-b8bbcc3eef2b.png">

Note that the line numbers may be inaccurate here, as

[2021-09-20 11:57] subhajit-create opened #6655 "unexpected error - Unable to locate credentials"
# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2021-09-20 11:57] dberenbaum commented on #6145
Closed by #6431

[2021-09-20 11:57] #6145 closed

[2021-09-20 11:57] subhajit-create commented on #6655
i have done pip install dvc[s3] still i am getting unexpected error - Unable to locate credentials

[2021-09-20 12:06] wdixon opened #6656 "md5 hashing slow"
# Bug Report

## dvc add: first stage md5 hashing taking days and days to run
Have a 5 datasets that in total include ~300K images.  In total ~200GB of images.

## Description
The initial progress indicators seem to suggest that the md5 hashes were being generated at ~1 per sec....  but after running for days - the time is in the range of 5-10 sec per hash?  The machine is essentially idle.

[code

[2021-09-20 13:15] efiop commented on #6656
Hi @wdixon

Thanks for reporting this issue! The problem here is nfs, and we are aware of that problem. We have plans to look into it in the near future.

A workaround for you might be to only keep your cache (see https://dvc.org/doc/use-cases/fast-data-caching-hub) on nfs, but keep your workspace on a normal filesystem, so that hashing is fast. If that still happens to be too slow for you, I woul

[2021-09-20 13:15] #6656 closed

[2021-09-20 13:51] karajan1001 commented on #6655
Does aws CLI work with that? E.g. can you `aws s3 ls ... `that remote?

[2021-09-20 15:03] dusvyat opened #6658 "ERROR: unexpected error - Unable to locate credentials"
# Bug Report

## Description

I am trying to push DVC data to remote storage on s3. I am using SSO to auth AWS along with a named profile, I suspect it could be the cause of the issue?

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

DVC version: 2.7.4 (brew)
---------------------------------
Platform: Python 3.9.7 on macOS-10.15.7-x86_64-i386-64bit
S

[2021-09-20 15:15] dusvyat commented on #6658
fixed following steps outlined [here](https://github.com/iterative/dvc/issues/5130)

**SSO AWS configuration**

Configure an aws sso profile named myprofile
aws sso login --profile myprofile
dvc remote add -d myremote s3://mybucket/path
dvc remote modify myremote profile myprofile
dvc add test.txt
dvc push

[2021-09-20 15:15] #6658 closed

[2021-09-20 16:52] wdixon commented on #6656
I am not sure its exactly related to nfs...

Just now, I was able to specify parallel jobs (with the --jobs flag, however, it also required that include the --to-remote flag).... Here I was able to add 41K image dataset (including transfer to remote) in less than 2 hours.

dvc add --jobs 16 --to-remote dataset

based on the initial progress indication without using the --jobs it would seem that th

[2021-09-20 19:53] dberenbaum commented on #5371
Are those 2 different errors in the same file @skshetry?

Showing the part of the file that caused the error is helpful IMO.

[2021-09-21 00:36] efiop commented on #6599
Fixed by https://github.com/iterative/dvc/pull/6612

@simonlsk Thanks again for reporting this bug 🙏

[2021-09-21 00:36] #6599 closed

[2021-09-21 03:17] pmrowla commented on #6652
For reference, the intended behavior is:

Experiment names must be valid Git ref/branch names and cannot contain whitespace (https://git-scm.com/docs/git-check-ref-format)

[2021-09-21 04:33] annmary-roy opened #6660 "Support for dataset level versioning for HDF5 files."
We are  working in the area of AI for science.
HDF5 is one of the file formats used extensively by scientific community to store data. Data can be organized inside HDF5 file under different dataset objects. A single HDF5 can host multiple datasets.
While exploring DVC for AI for science use case, we encountered a problem. Versioning in DVC happens at the file granularity and since these HDF5 files

[2021-09-21 08:00] isidentical commented on #6582
Both of the PRs are now merged to the upstream fsspec, we only need a release on the fsspec side to merge #6604.

[2021-09-21 08:04] isidentical commented on #6583
The `fsspec.implementations.webhdfs.WebHDFS` file system is hand-written, and does not depend on the same interface as us (hdfscli).

Because of this, we need to manually parse the `hdfscli.cfg`'s before delegating the information to the fsspec's `WebHDFS`.  One issue I see is kind of relevant is that, since we won't be using `*Client`s from the `hdfscli` any more, we can't support some advanced f

[2021-09-21 11:03] isidentical commented on #6583
It is documented
![p1](https://user-images.githubusercontent.com/47358913/134159696-86981737-f08b-4b43-8165-6418bcc68f4b.png)

[2021-09-21 13:17] isidentical commented on #6642
The `HTTPFileSystem` unfortunately does not support `upload_fobj` (or writing in any kind beside `put_file`). Is there are a use case for this? We can try to add buffering as we did with gdrive, and store everything in memory until we are done and upload it in one go.

[2021-09-21 13:21] skshetry commented on #6642
@isidentical, it's probably used for `to_remote`, I think?

[2021-09-21 13:23] isidentical commented on #6642
Ah, right. Will send a patch to the upstream.

[2021-09-21 13:52] isidentical commented on #6642
Awaiting https://github.com/intake/filesystem_spec/pull/764

[2021-09-21 14:07] RadionBik opened #6663 "git: timeout when cloning a large git repo"
# Bug Report

## Issue name

dvc.api.read: RuntimeError when reading file from a large repo

## Description

I am getting the following exception, when trying to read a file from the large repo:
[code]
I had done something similar before with a much slimmer repo and there were no problems. Looks like the function is running out of the 10sec timeout during the cloning stage.

Is it possible to cust

[2021-09-21 15:08] efiop commented on #6663
Hi @RadionBik , thanks for reporting this bug! Clearly we need to allow tweaking timeout for cloning a repo and probably set a longer timeout by default. How long does `git clone` of that large repo take for you in CLI?

[2021-09-21 15:09] efiop commented on #6663
@RadionBik Also, what are you storing in that git repo with git? Is it just the source code/other text files that are so big or are you storing some datasets/etc with git as well?

[2021-09-21 19:43] efiop commented on #6656
@wdixon Did the saving or `checkout` part take the most time? Comparing to `--to-remote` is not strictly fair, but the key difference is that it doesn't checkout files in your workspace.

Maybe you could try `dvc add` (without --to-remote, just like you did originally) some smaller dataset with `--cprofile --cprofile-dump add.prof` flags added and show us the resulting `add.prof`, so we could see

[2021-09-21 20:15] pared commented on #6626
While these particular reproduction steps might be wrong, the issue we have been talking through via mail
was related to the limit of path length on windows system and is still valid.

@mgendia  was not aware of the path limit imposed by Windows file system, and after cloning repository to a (long) path
received:

`dvc.exceptions.ReproductionError: failed to reproduce 'dvc.yaml'`

caused by:

[cod

[2021-09-21 21:23] pared opened #6665 "plots: images support: load from cache"
After #6145
We started supporting images in our `dvc plots` command.

Currently, we load the targeted images into the memory and dump them when creating static plots website.
In the case of dvc-cached files, we could return cache path only and copy target files into the website upon HTML generation, which would limit the memory usage.

[2021-09-21 21:41] #5372 closed

[2021-09-21 21:44] #5848 closed

[2021-09-21 21:45] efiop commented on #5902
Closing as stale.

[2021-09-21 21:45] #5902 closed

[2021-09-21 21:45] #5908 closed

[2021-09-21 21:47] efiop commented on #6057
Closing as stale.

[2021-09-21 21:47] #6057 closed

[2021-09-21 21:48] efiop commented on #6097
Closing as stale

[2021-09-21 21:48] #6097 closed

[2021-09-21 21:49] efiop commented on #6114
closing as stale

[2021-09-21 21:49] #6114 closed

[2021-09-21 21:49] efiop commented on #6119
Closing as stale.

[2021-09-21 21:49] #6119 closed

[2021-09-21 21:51] efiop commented on #6138
@SanderNugteren We've migrated to sshfs (asyncssh instead of paramiko inside) in the recent versions of dvc, could you give it another try, please?

[2021-09-21 21:51] efiop commented on #6159
Closing as stale.

[2021-09-21 21:51] #6159 closed

[2021-09-21 21:52] #6305 closed

[2021-09-21 21:52] #6328 closed

[2021-09-21 21:53] efiop commented on #6336
Closing as stale.

[2021-09-21 21:54] efiop commented on #6368
Hm, still not sure what's going on there and not able to reproduce 🙁 Closing as stale for now, we'll definitely improve rollback though in https://github.com/iterative/dvc/issues/6387

[2021-09-21 21:54] #6368 closed

[2021-09-21 21:55] #6412 closed

[2021-09-21 21:57] efiop commented on #6414
@lilianabrandao We've migrated to sshfs (asyncssh instead of paramiko inside), so that ssh error that you were getting with `rb` should be resolved in recent dvc versions. Please give it a try and let us know if you still run into this issue. Thank you!

[2021-09-21 21:57] #6414 closed

[2021-09-21 21:57] #6417 closed

[2021-09-21 21:58] efiop commented on #6420
closing as stale

[2021-09-21 21:58] #6420 closed

[2021-09-21 21:58] #6473 closed

[2021-09-21 22:57] efiop commented on #772
closing as stale

[2021-09-21 22:57] #772 closed

[2021-09-22 01:03] diesal11 commented on #6336
Don't know if it's fair to close this as "stale" as i was waiting a response from you guys.

Regardless, this issue is still not resolved. i did some further digging and the issue here seems to be that the `AWS_PROFILE` env var is never read. I can see an [older commit that references this](https://github.com/iterative/dvc/commit/ddb91a152bc27ae9588a0dd7d08212fa33a3b1f8). But it looks like the S3

[2021-09-22 02:31] pmrowla commented on #6336
`AWS_PROFILE` is already handled and supported in the underlying botocore library used to interact with AWS (and the env var does not need to be read at the DVC source level).

Do you have `use_accelerate_endpoint` set in your AWS config? It's possible that your problem is related to https://github.com/iterative/dvc/issues/6588

Setting `profile = ...` in your DVC remote config (instead of using `

[2021-09-22 06:04] macio232 opened #6667 "dvc exp rename: a command line tool to rename existing experiments"
Hi, here is my use case: I often run multiple experiments with generic names and afterwards I want to rename some of them into something informative. My solution, for now, is to apply experiment, `dvc exp run --name` with the new name and finally remove the old one. It would be nice to have a dedicated command for this.

Thx :)

[2021-09-22 06:09] macio232 opened #6668 "dvc exp: get currently running experiment name with python API"
Hi, I run into a situation when I would like to get the currently running experiment name with python API. My use case is to relate DVC experiment names with experiment names in other tools that I use to report my results. This can be done manually/in post-processing in most cases but such a python command would make my life much easier.

Thx :)

[2021-09-22 08:29] pared opened #6669 "plots: prevent user from modyfing image plots"
After #6145 we support images in `dvc plots`.
It is still possible to call `dvc plots modify` on those plots. This action will have no effect on the display.
While it is not severe, some kind of warning would probably be a good idea.

[2021-09-22 08:39] pared opened #6670 "plots: support granular config for Vega plots in directories"
It is possible to specify the whole directory as a plot.
It would be good to be able to granularly specify config parameters for particular files in the directory.

[2021-09-22 09:10] efiop commented on #6336
@isidentical could you please double check if the current behaviour is intended?

[2021-09-22 10:15] zoevannoppen opened #6671 "dvc pull --glob '*.extension' directory: does not filter based on extension."
# Bug Report

## Description

Try pulling only files with a certain extension from my remote does not work. All files seem to be pulled independent of the extension.

### Reproduce

1. Have a dvc tracked directory called _directory_name_ with certain files with extension _ext_.
2. Make sure that the files within this directory are not located locally but only on the remote.
3. run `dvc pull --glob

[2021-09-22 10:37] JamesQuirk commented on #6071
To chime in on this: I have just been looking to see if there was an option to tweak the 'exp-' prefix for experiments. Being able to do this could allow for better grouping of experiments to reflect changes of a significant params such as if you have a 'model_type' param for experiments when comparing architectures.

The experiment name would then still end with the hash.

[2021-09-22 11:37] mmeendez8 opened #6672 "dvc import: no remote specified"
# Bug Report

## Description

I have two repositories in Github. Repository A contains a file tracked by DVC (I am using a shared cache). I want to import a file from repository A into repository B so I tried the following:

[code]

My `.dvc/config` file content in both repos is:

[code]

### Reproduce

1. dvc import dvc import git@github.com:user/repoA.git myfile -o myfile --rev v0.3.0

### Expec

[2021-09-22 12:48] pared commented on #6671
Reproduction script:
[code]

[2021-09-22 14:22] RadionBik commented on #6663
@efiop here is the output of time cmd:
[code]
We used to store small datasets there, but it is not the case for the master branch now (but the history is already polluted). As you can see, it takes about 40sec to clone the repo.

[2021-09-22 15:01] dberenbaum commented on #6071
@JamesQuirk Just making sure you are at least aware that you can manually name your experiments with `dvc exp run -n` if you want to group experiments like that. I can see how it would be nice to infer your preferred grouping, but wanted to make sure you know it's at least possible 😄 .

[2021-09-22 15:35] mmeendez8 commented on #6672
Fixed: someone just completely blow out our local cache :cry:

[2021-09-22 15:35] #6672 closed

[2021-09-22 16:18] JamesQuirk commented on #6071
Yes I have seen that. But that changes the whole name doesn't it? So the custom name would need to account for uniqueness..?

[2021-09-22 18:44] dberenbaum commented on #6660
DVC has long had an open issue to add block-level versioning rather than file-level: #829. Although I can't commit to any timeline on this yet, it remains a high priority and getting closer to reality since we have recently addressed prerequisites for it. Unfortunately, it's still too far away to recommend you wait for this to be implemented, but it's close enough that I don't think it's likely th

[2021-09-22 20:14] dberenbaum commented on #6457
Referenced in https://github.com/iterative/dvc.org/issues/2730. @iesahin Can you give more context on why you want to introduce `dvc exp run --recursive` in the guide?

@pmrowla Is this still blocked by the issue linked above?

[2021-09-22 20:17] isidentical opened #6673 "ssh: switch to a docker-based alternative from mock-ssh server"
It appears to be that we are in an impasse caused by the oddities of asyncssh + mock-ssh-server. There were already some bugs (e.g decoding commands) that made us patch the actual mock-ssh-server to function, but while researching #6514 I noticed that it  works very weirdly due to a couple issues I was able to observe (path separator conflict, trying to `mkdir()` root of the filesystem and getting

[2021-09-22 20:23] dberenbaum commented on #6071
Correct @JamesQuirk, so it's possible to group experiments but all the naming burden falls to the user.

If I understand, you would like to do something like give multiple experiments the same name and have dvc append some unique id to the end of each one?

[2021-09-22 20:35] dberenbaum opened #6674 "exp run -n: check for conflicts before running experiment"
`dvc exp run -n` will throw an error if a naming conflict arises, but it won't check until after the experiment has completed.

I guess someone could re-run the experiment later with a new name and the run-cache should prevent the whole experiment from needing to be executed, but this doesn't seem intuitive, and it would be better to know immediately that the experiment name conflicts with an exis

[2021-09-22 20:37] iesahin commented on #6071
Could you

[code]

?

[2021-09-22 20:46] dberenbaum opened #6675 "exp show --sort-by: not working"
# Bug Report

## Description

`dvc exp show --sort-by` doesn't seem to do any sorting.

### Reproduce

[code]

### Expected

Sorted table rows.

### Environment information

[code]

[2021-09-22 20:57] efiop commented on #6673
CC @pmrowla , I remember you were also having some problems with mockssh.

[2021-09-22 21:00] efiop commented on #6663
@RadionBik Do you still use those? If not, have you considered cleaning those blobs out (e.g. with https://github.com/rtyley/bfg-repo-cleaner)? We definitely need to support timeout on our side, but just wondering what you plan on doing with that git repo.

[2021-09-22 21:03] #6290 closed

[2021-09-23 02:41] pmrowla commented on #6673
Yeah, there are problems with mock-ssh-server not handling scenarios where you have a server-side app that streams data back and forth with a client (like git over SSH). I was able to work around it by adding an explicit handler subclass for the git SSH protocol in #6589

https://github.com/iterative/dvc/blob/00550a79aad679403290be1bfb86d58407f97e63/tests/remotes/git_server.py#L16

But if we are g

[2021-09-23 02:43] pmrowla commented on #6457
This was never blocked by the linked issue (I was just noting that this could be added to the list of potential exp issues to take in that sprint)

[2021-09-23 02:48] pmrowla commented on #6671
This is a duplicate of https://github.com/iterative/dvc/issues/5864

The issue is just that the existing implementation of `--glob` is very naive - it can only apply glob patterns to files which already exist in the local workspace. It does not support globbing against outputs within the repo tree (that do not already exist in the workspace).

Basically `--glob` is currently only useful for updati

[2021-09-23 02:50] pmrowla commented on #6671
Also, just noting that the reproduction script doesn't actually reproduce the issue:

[code]

This should be

[code]

Without the quotes, the glob pattern will be expanded in your shell (against the local filesystem) rather than being handled by DVC (as a target glob pattern)

[2021-09-23 02:51] pmrowla commented on #6671
closing in favor of #5864

[2021-09-23 02:51] #6671 closed

[2021-09-23 06:12] skshetry opened #6676 "status: raises error when missing params"
# Bug Report
I created the stage with following command:
[code]
`status` command should not fail at all and should just say that the params are missing (even if the params.yaml file is present or not).

[code]

[2021-09-23 06:24] skshetry commented on #6523
Closing as stale.

[2021-09-23 06:24] #6523 closed

[2021-09-23 06:52] pmrowla commented on #5739
To clarify the existing partial fix, the main DVC repo will still be locked during write operations (basically whenever DVC needs to do any git fetch/merge/commit operation in the main repo).

For experiments that are run in the main workspace, this means that the repo gets locked when the experiment run completes (and the final state is committed) or when `make_checkpoint` is running for an inter

[2021-09-23 08:37] vladimircape commented on #4164
Same problem.
$ dvc status -c dvc_targets/checkpoints.dvc
Cache and remote 'myremote' are in sync.
$ dvc push -R dvc_targets/checkpoints.dvc
Everything is up to date.
$  dvc list . . --dvc-only
dvc_targets

dvc pull dvc_targets/checkpoints.dvc
ERROR: failed to transfer 'md5: 4656b0d968af3d59270d1dad5060d8b1' - Not Found: An error occurred (404) when calling the HeadObject operation: Not Found
ERRO

[2021-09-23 11:15] skshetry commented on #5371
@dberenbaum, yes they are 2 different errors in same file.

[2021-09-23 12:58] efiop commented on #4164
@vladimircape Could you show the contents of `dvc_targets/checkpoints.dvc`, please? There will be a `12345.dir` md5 in there, that is correpsonding to the data directory that is tracked by it. It is possible that it was pushed by mistake before all files got transfered (with some older dvc version). Could you try manually removing `12/3456.dir` from your remote and then `dvc push`-ing again?

From

[2021-09-23 13:00] #6673 closed

[2021-09-23 13:21] vladimircape commented on #4164
$ ls -alR
.:
total 8
drwxrwxrwx 1 vladimir vladimir 4096 вер  8 11:04 .
drwxrwxrwx 1 vladimir vladimir 4096 вер  8 11:38 ..
drwxrwxrwx 1 vladimir vladimir    0 вер  8 12:00 anomaly_type_classification
drwxrwxrwx 1 vladimir vladimir    0 ліп 21 12:34 autoencoder_anomaly_detection
drwxrwxrwx 1 vladimir vladimir    0 ліп 22 22:05 efficientdet_individual_tooth
drwxrwxrwx 1 vladimir vladimir    0 вер

[2021-09-23 13:38] dberenbaum commented on #6457
It seems we should either prioritize this or remove the option then?

[2021-09-23 13:54] efiop commented on #4164
@vladimircape Could you try deleting `s3://mybucket/myprefix/bf/2d7e8a1acdc2d4eda3e55f66fa3bda.dir` on s3 by hand (where s3://mybucket/prefix is url for your dvc remote) and try `dvc push` again, please?

[2021-09-23 15:03] annmary-roy commented on #6660
Please have a look at this change in my repo.
https://github.com/annmary-roy/dvc/pull/1
I agree that if we are tracking a whole directory we would still get the dataset level tracking we need as these files are split already at the dataset level.
However, when we are tracking the individual files, the user would have to explicitly track each of these split files, which would make it less user frie

[2021-09-23 15:23] #6514 closed

[2021-09-23 17:06] JamesQuirk commented on #6071
@dberenbaum yes, that's what I was thinking.

This is a valid option but there is still chance that a random number (of finite length) could have already been used which introduces inconveniences with handling that. Using the start of the hash would be better - as dvc already does.

[2021-09-23 17:34] fakegermano commented on #6416
I agree with @JojoDevel , adding authentication without code on CI/CD pipelines is way more user friendly. To give an example, you can setup up private pypi repositories(sources) that use either Token or HTTP-Basic authentication with `poetry` (https://python-poetry.org/) and you can add the credentials in two ways:

- with an equivalent to `dvc remote modify ...` way, requiring additional command

[2021-09-23 20:15] dberenbaum opened #6680 "exp run: option to append unique id to duplicate exp names"
For example, right now the behavior is:

[code]

Desired behavior would be:

[code]

There might need to be some option to either strictly fail or use a unique ID.

Extracted from https://github.com/iterative/dvc/issues/6071#issuecomment-924804238.

For anyone interested, please note the workaround mentioned by @iesahin:

[2021-09-23 20:16] dberenbaum commented on #6071
Makes sense as a nice feature to have. I've extracted it into a new issue: #6680.

[2021-09-23 20:46] dberenbaum commented on #6660
Nice! So you have this working and are interested in seeing if it's something we would want to merge?

It looks like a good way of doing things for your use case, and it would be great to promote this to anyone else who's using HDF5 with external links.

TBH I'm still not sure about making it part of the main codebase as is since DVC is generally agnostic to file formats for data management. This

[2021-09-23 21:35] efiop commented on #6660
Doesn't look like the linked PR is in any way complete and is more of a draft of how it could work with `dvc add`. 🙂

@annmary-roy It looks like the main problem you have with dvc is file-level granularity, right? If so, I would maybe wait for #829 to see how well it will work for hdf5 files by treating them just like binaries.

Just to clarify, if we are talking about dvc support for hdf5, we sho

[2021-09-24 02:52] ostrokach commented on #5132
I am also facing exceptionally slow performance on a ZFS partition. Has anyone been able to come up with workarounds?

[2021-09-24 09:18] pmrowla commented on #6674
related: https://github.com/iterative/dvc/issues/6652

We need to validate user-provided exp names in general to make sure they conform with `git check-ref-format` rules in addition to checking for duplicates

[2021-09-25 08:39] isidentical opened #6687 "http: allow reading proxies from the current environment"
This was something enabled as default by the requests, but not on aiohttp. We have to explicitly enable it to keep the current behavior. https://docs.aiohttp.org/en/stable/client_advanced.html#proxy-support. Discord context: https://discord.com/channels/485586884165107732/563406153334128681/891230518992052274

[2021-09-25 09:32] #6687 closed

[2021-09-25 11:06] #6241 closed

[2021-09-25 18:14] #6651 closed

[2021-09-27 06:36] skshetry commented on #6416
@fakegermano, I agree with what you are saying, overriding some config options with environment variables is definitely useful.

However, this issue is more specific, it's about supporting environment variable-based authentication for _any_ WebDAV remotes with DVC.

[2021-09-27 10:03] RadionBik opened #6691 "dvc pull returns "failed to pull data" when the data exists on remote"
# Bug Report

## Issue name

dvc pull returns "failed to pull data" when the data exists on remote

## Description

`dvc pull` (also tried with -R option) fails to pull remote data basing on .dvc files from sub-directories and returns `ERROR: failed to pull data from the cloud - Checkout failed for following targets:...`, however, when I run the pull cmd on failed files individually, the cmd succe

[2021-09-27 10:25] iesahin commented on #6680
I didn't mention there but I think this feature might be some `p5-too-little-to-consider` There are many workarounds like

[code]

which guarantees unique names more than `$RANDOM`

TBH I believe it doesn't deserve an option, but can be considered as a part of a broader feature to add formatting to names, like

[code]

that will also fix the problem we have in #6071

[2021-09-27 10:27] iesahin commented on #6071
@JamesQuirk another option might be:

[code]

which guarantees unique names for experiments taking longer than 1 second :)

[2021-09-27 10:32] iesahin commented on #6457
Actually I don't want to introduce. We currently introduce it indirectly  in https://dvc.org/doc/command-reference/exp/run by saying "`dvc exp run` supports all `dvc repro` options.` If it will distract the team to implement this in the near future, I think it might be better to list supported options explicitly in the ref. @pmrowla

[2021-09-27 14:34] suparna-bhattacharya commented on #6660
Could you share a reference to any work-in-progress code or design for #829?

[2021-09-27 19:05] dberenbaum commented on #6457
@iesahin Is this the only remaining option that doesn't have parity with `repro`?

[2021-09-27 19:17] dberenbaum commented on #6680
Similarly, there are workarounds for #6071, right? Like:

[code]

There could be all kinds of shortcuts to make this easier. Maybe it's better to focus on a doc or blog post showing off how these kinds of tricks could make for a more robust way to organize experiments?

[2021-09-27 22:16] tonyfm15 opened #6694 "push: doesn't respect HTTP remote "method" config"
# Bug Report

## Description

I configured my DVC remote as a [GitLab generic package repository](https://docs.gitlab.com/ee/user/packages/generic_packages/). Part of the configuration was setting the HTTP method to `PUT`. However, `dvc push` did not work unless I went into `fsspec/implementations/http.py` and hard-coded the `method` variable in `_put_file` to `"put"`.

### Reproduce

1. Add an HT

[2021-09-27 23:44] mattseddon opened #6695 "`list .`: fails on added directory path (tracked dataset)"
# Bug Report

## Description

After adding data to a tracked dataset (directory) `dvc list . path/to/new-dir` fails.

Possible duplicate of https://github.com/iterative/dvc/issues/3776.

### Reproduce

1. Have a tracked directory. I.e `data/MNIST/raw` (tracked with `data/MNIST/raw.dvc`)
2. Add a new sub-directory to the tracked directory, e.g `extra-data`.
3. Run `dvc list . data/MNIST/raw/extra-d

[2021-09-27 23:48] mattseddon commented on #6695
**Note**: There are a lot of interconnected issues listed in the description of https://github.com/iterative/vscode-dvc/issues/834. I'm pointing this out so that I don't have to duplicate the list here 👍🏻 .

[2021-09-28 09:10] RadionBik commented on #6663
thank you, it really helped! I am not sure whether we should close the issue, it is up to you.

[2021-09-28 12:18] karajan1001 commented on #6640
Sorry for the late reply, I'm on vacation for the past week.

Because these part of code is in refactoring progress, I'm not familiar with them even myself. Looks like

https://github.com/iterative/dvc/blob/48c05277556eacbdf523cb6fc358c326f4f96d64/dvc/objects/reference.py#L96-L101

Can't get fs_cache and continuously create external repo.

[2021-09-28 12:33] efiop commented on #6660
@suparna-bhattacharya There is none, but we plan on working on it in the future. It will likely be very similar to git packs.

[2021-09-28 13:59] pmrowla commented on #2865
cc: @efiop @isidentical

[2021-09-28 14:03] skshetry commented on #6446
From the @dberenbaum's comment on https://github.com/iterative/dvc/pull/6681#issuecomment-928180859.

One way may be to make `--live` mandatory for dvclive scenario unless `live` is set on the config (though there's a question about what to do if `metrics` and `plots` are also specified in the config).

Another would be to create a `--template` or something similar flag (`--with={live, etc.}`)?

[2021-09-28 15:25] skshetry opened #6703 "[release blocker] contextvars not available in Python 3.6"
I started using contextvars since https://github.com/iterative/dvc/pull/6692.
But it is only available since Python3.7. The tests must be passing, perhaps because some dependency is pulling the compat library.

The release should be blocked till we add a dependency on Python 3.6 with https://pypi.org/project/contextvars/.

[2021-09-28 16:59] iesahin commented on #6457
I need to test each of them to be sure but if the team decides not to implement it, we should remove `--glob` from `dvc exp run --help`.

[2021-09-28 17:34] dberenbaum commented on #6446
Although it adds another option, I like this mainly because it's more explicit. Now that we don't have templates, it's less transparent what the command and various options are doing. Having a separate option for this suggests that it's not just another path to add but actually changes the stage configuration. We can also further explain it in the help text for that option.

On a similar note, at

[2021-09-28 23:52] shcheklein commented on #6316
Relevant to iterative/studio-support#23.

[2021-09-28 23:52] shcheklein commented on #6316
@dberenbaum should we/can we prioritize this?

[2021-09-29 00:22] dberenbaum commented on #6316
See a proposed spec for this in https://github.com/iterative/dvc/discussions/5980#discussioncomment-1026072.

@shcheklein Yup, we will be working on it soon. @pared What do you think? I think we had planned to address #6603 first to get image support looking a little better, but this is probably more important given the number of requests for it.

[2021-09-29 03:37] pmrowla commented on #6694
Looks like it's probably a regression from https://github.com/iterative/dvc/pull/6525/files

We set `upload_method` at the DVC http fs level:
https://github.com/iterative/dvc/blob/fed9f088ca40edb73819944c9a91134a9f8a64fc/dvc/fs/http.py#L94

but it doesn't get passed into the lower level fsspec http fs

[2021-09-29 03:38] pmrowla commented on #6691
@RadionBik are your `.dvc` files inside .gitignore'd directories?

[2021-09-29 03:41] #6646 closed

[2021-09-29 04:54] #6703 closed

[2021-09-29 09:12] RadionBik commented on #6691
no, the directories are not git-ignored.

[2021-09-29 09:27] daavoo commented on #6316
By "combining" we have been usually referring to get multiple (`y`) columns from either the same file or multiple files, which seems reasonable given how we usually recommend formatting the data in linear plots.

However, I think that the user in https://github.com/iterative/studio-support/issues/23#issuecomment-929932069 showcases a new scenario that we haven't discussed so far in https://github.

[2021-09-29 09:38] daavoo commented on #6316
I think that #6603 still needs to be addressed first because the `diff` operation for this kind of combined plots would require implementing some sort of facet grid in the HTML layout (looks like Studio would need to implement something similar as well), as @dberenbaum mentioned in https://github.com/iterative/dvc/discussions/5980#discussioncomment-1008543 .

[2021-09-29 12:08] skshetry opened #6707 "regression: dvc init is slow"
The 3 major issue seems to be:
- [x] `tpi` (see https://github.com/iterative/tpi/issues/14) (~300ms)
- [ ] `fsspec` callback (~200ms)
- [x] prompts import on experiments from `rich` (for `dvc exp init`) (~50ms) #6738
- [ ] [`dvc.fs` importing fsspec by default](https://github.com/iterative/dvc/blob/612696cf4ae01885a89269b5d26b4631380614b8/dvc/fs/azure.py#L5) (~100ms)
(There may not be much point i

[2021-09-29 12:11] skshetry commented on #6707
This is why I prefer having benchmarks in the repo (or, at least run some tests in each PR). It's difficult to figure out later.

[2021-09-29 12:37] clementperon commented on #6691
Hi,

I think I have the same issue.

Pulling with the cmd
`dvc pull -f data/toto.dvc data/tutu.dvc data/tete.dvc`

Will create a warning
`WARNING: Some of the cache files do not exist neither locally nor on remote. Missing cache files:`

If I pull each file one by one it's OK.

$> dvc doctor
[code]

[2021-09-29 15:16] dberenbaum opened #6708 "exp show: save filters"
Extracted from https://github.com/iterative/dvc.org/pull/2759#discussion_r718159857:

I'm putting this as p3 until we decide which `exp show` improvements we want to pursue, which should be not only decided but implemented by the end of this year.

[2021-09-29 17:33] jbencook opened #6709 "get: throwing 2 network errors"
# Bug Report

## Description

I'm randomly getting two different errors when I try to use `dvc get` to download the `cats-dogs` example dataset. They seem to be network issues.

Sometimes the terminal gets spammed with the following:

[code]

And sometimes I get the following:

[code]

This is happening in the latest release and the development version.

### Reproduce

[code]

To re-run, I just `r

[2021-09-29 18:16] dberenbaum commented on #6316
I think this could even be a separate issue to add grouping by a categorical column. We could add a template like `linear_categories` and add the `DVC_METRIC_COLOR_LABEL`. We could also add a similar template for the scatter plot (and maybe others like bar plots in the future).

[2021-09-29 18:41] dberenbaum commented on #6263
I'm a little concerned that we are using up the namespaces for `machine`, especially `list` and `status`. We will need some command that outputs table-like info about each machine (similar to `docker ps`): what machines have been created, how long have they been running, are they idle or running an experiment, etc. Where will that go?

[2021-09-29 19:16] dberenbaum commented on #6709
I'm able to reproduce with the latest dev version. It appears to have been introduced in #6565. Here's the full output:

[code]

[2021-09-29 20:57] efiop commented on #6691
@clementperon Could you show the contents of those dvc files, please?

[2021-09-29 20:59] clementperon commented on #6691
$> cat data/toto.dvc
[code]

[2021-09-29 21:07] efiop commented on #6663
Looks like gitpython (that we still use for cloning, but migrating to dulwich/pygit) has a problem with passing that through anyway https://github.com/gitpython-developers/GitPython/issues/892 , so I guess lets close this for now since it is no longera problem for you. We might get to that in the future, but this issue should be useful for anyone running into this. Thanks for the feedback! 🙏

[2021-09-29 21:07] #6663 closed

[2021-09-29 21:12] clementperon commented on #6691
$ dvc pull -f data/file_1.pcap.dvc data/file_2.ply.dvc
`Everything is up to date.`
$ rm .dvc/cache/47/a9b6d2693147f689ff5ebe12c78a05
`rm: remove write-protected regular file '.dvc/cache/47/a9b6d2693147f689ff5ebe12c78a05'? y`
$ dvc pull -f data/file_1.pcap.dvc data/file_2.ply.dvc
[code]
$ dvc pull -f data/file_1.pcap.dvc
[code]

[2021-09-30 02:51] pmrowla commented on #6263
I think anything that is aware of whether or not some instance is running experiments or not would go under `dvc exp`. `machine list/status` are more like `docker machine ls`, which just tells you about machines that have been created and/or booted (and the separation between `list` and `status` is that `list` shows .dvc/config entries, and `status` shows terraform status). `machine` is currently

[2021-09-30 02:53] pmrowla commented on #6263
I guess it's possible that we may end up not needing `machine status` (in favor of the `ps` command), but IMO there is a distinct difference between "knowing the IP and boot state of a terraform instance" vs "whether or not DVC experiment related processes are idle on some named 'DVC executor' instance" (and I think having 2 separate commands here makes sense)

We could also potentially merge `lis

[2021-09-30 08:17] karajan1001 commented on #6263
`docker` has `docker images` to list images and `docker ps` to list containers. Here `machine status` only exists when `machine` was created. So more close to the container than the images?

[2021-09-30 08:19] eggqq007 opened #6712 "dvc should output prettify json in tty while having --show-json"
Pre-issue: https://github.com/iterative/dvc/issues/6646

[2021-09-30 08:37] daavoo opened #6713 "`plots`: Add "group by" templates"
I think this could even be a separate issue to add grouping by a categorical column. We could add a template like `linear_categories` and add the `DVC_METRIC_COLOR_LABEL`. We could also add a similar template for the scatter plot (and maybe others like bar plots in the future).

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/6316#issuecomment-930427377_

[2021-09-30 09:45] pared opened #6714 "plots: expand supported images extensions"
After #6431 we support rendering of JPEG, GIF, PNG images.
We could expand this list by other images types that browsers support.

Related:
https://github.com/iterative/dvc.org/pull/2839#discussion_r716327710

[2021-09-30 10:11] rgrenholm opened #6715 "dvc repro gives inconsistent outputs if wdir is outside of dvc repo"
# Bug Report
## Description

I have a monorepo with the following directory structure:

[code]

where dvc is initialized in A and B's project directory with the command `dvc init --subdir`. In this example, project A's dvc pipeline has a stage where it reads a text file from project B's directory and saves it to project A's directory. When I run project A's dvc pipeline by `dvc repro` I get what I

[2021-09-30 10:58] pared commented on #6713
The question here is whether we need a separate template for that. It might be possible that proper implementation of #5980 can handle such a use case. Need to research whether it would be possible to add more advanced grouping that would be capable of utilizing few data fields. For example, group by `revision` and `filename`.

[2021-09-30 11:08] pmrowla commented on #6715
I think the issue in all of these cases is that outputs outside the repository are not actually allowed (unless you are explicitly using `--external` outputs - which is generally not a recommended use case: https://dvc.org/doc/user-guide/managing-external-data#how-external-outputs-work).

DVC should be detecting and failing when you try to define an output outside of the repo, in this case we may

[2021-09-30 11:13] pmrowla commented on #6715
I should also note that external dependencies (outside of the project) are allowed in DVC. So the correct way to setup your pipelines would be:

- Project A stages must have `wdir` and `outs` paths contained within `project-A/...`.
- Project A stage `deps` paths can be external (i.e. `../project-B/...`)

(and vice-versa for project B stages)

[2021-09-30 11:18] pared commented on #6316
While grouping by categorical values sounds like a valid use case, I would not focus on it right away. My reasoning for this is the user had to come up with a workaround for the currently not existing feature. This needs to be addressed but I think we should not focus on it because it is about adjusting existing plots implementation to unsupported use case. I think we should focus on #5980 and com

[2021-09-30 11:33] rgrenholm commented on #6715
It is the same outcome even if you do not initialize dvc for project B

[2021-09-30 11:44] rgrenholm commented on #6715
Why have a requirement that wdir must be inside dvc repo? I want to use git repo root as working directory for all projects in the monorepo

[2021-09-30 12:00] pmrowla commented on #6715
DVC is not supposed to be aware of anything happening outside of the repo root (containing `.dvc/`), meaning that pipeline execution is also supposed to happen inside of the repo.

Can you elaborate on your use case? If you are using a shared working directory at the git root level, do you need separate DVC subrepos at all?

[2021-09-30 12:08] pmrowla commented on #6715
Also, for reference on each example case:

- Case 1: wdir parent directory with outs
    - Failure here is expected, since `wdir` is outside of project A (`../`)
- Case 2: wdir parent directory without outs
    - Success here is unexpected since `wdir` is outside of project A.
    - This case should fail with the same error as case 1. The bug here is likely that `wdir` validity isn't being checked

[2021-09-30 13:20] dberenbaum commented on #6263
Good points. Let's set aside "are they idle or running an experiment" and assume that goes under `dvc exp`.

I agree we don't want to spend a lot of time going back and forth on the UI or worry about future needs, but unless we have a separate story to come back and revisit the UI for each of these commands, I think we need to try to follow our UI guidelines in these PRs as best we can. For exampl

[2021-09-30 13:39] dberenbaum commented on #6714
I think we can expand as needed by users.

[2021-09-30 14:13] dberenbaum commented on #6713
So if there is some grouping, the plot would color by that group and diff would show a facet grid, otherwise diff would color by rev? We also need to consider if this can somehow be generalized for all templates except the confusion matrix ones.

[2021-09-30 14:23] dberenbaum commented on #6316
I agree that it seems better to support multi-series plots natively in a more generic way. Users should not have to create custom templates or adjust their data format to make it work. The train/test example is often going to have data in different files, and we shouldn't ask users to combine them to plot them together. However, we could point users to that workaround in the meantime.

@pared What

[2021-09-30 14:24] iesahin opened #6718 "`exp run` behaves differently than `repro` for stages without dependencies"
# Bug Report

## Description

When I create a stage without dependencies, `dvc exp run` runs it for the first time but doesn't run it in the subsequent runs. We discussed this with @skshetry and he said it's a side effect of using `dvc checkout` + `dvc repro`. I believe as the outputs from the previous `dvc exp run` are checked out and the stages are not run, as their outputs seem to be identical

[2021-09-30 14:30] iesahin commented on #6680
`dvc exp run --format "exp-param1={param1}-metric1={metric1}-{sha}"` is a general purpose idea that can be used for #6071 and this. This option can automatically rename the experiment based on runtime parameters and metrics, e.g.,

[code]

I think the team can direct their efforts for this general purpose option instead of fixing experiment naming case by case.

[2021-09-30 14:53] #6488 closed

[2021-09-30 15:16] pared commented on #6316
Yes, we need to define how `diff` will behave, and consider how more advanced use cases (like parallel coordinates) plots will be defined using the proposed approach.

[2021-09-30 16:09] josecelano opened #6720 "diff: ERROR: unexpected error - 'not in cache'"
## Description

When I tried to compare two commits I get an error.

The command is: `dvc diff f0c0269 16ba2cd`
I'm using your sample repo: https://github.com/iterative/example-get-started

### Reproduce

**Command 1** (compare commit with previous "dvc add" commit):
[code]

Output:
[code]

**Command 2** (compare commit with a commit before "dvc add" commit):
[code]

Output:
[code]

How to reprodu

[2021-09-30 16:17] efiop commented on #6720
@josecelano Thanks for a great description! 🙏

For the record: if not resolved earlier, will likely get solved by https://github.com/iterative/dvc/issues/6594

[2021-09-30 16:53] josecelano commented on #6720
OK thank you @efiop for your fast reply. It seems this kind of references do not work either:

[code]

I'm trying to apply a "hack" to get the previous commit.

[2021-09-30 19:10] dberenbaum commented on #6316
I think it would be great if parallel coordinates plots could be made via `dvc plots`, but I think there are alternatives. If it's only part of `dvc exp show --html` or similar, it doesn't necessarily need to fit cleanly into the `dvc plots` syntax, right?

[2021-09-30 23:49] efiop commented on #3920
For the record: we are getting forced into formalizing this at least internally for data management. No product decisions though.

[2021-10-01 02:07] pmrowla commented on #6718
For reference, this does also affect `dvc repro`. If the output file already exists, `dvc repro` will not re-run the stage without any dependencies.

You can reproduce this behavior by just running `dvc repro` twice. (Or by doing `dvc repro; rm output.txt; dvc checkout; dvc repro` to make it more like what `exp run` does)

[code]

IMO this is expected behavior for both `repro` and `exp run`. If th

[2021-10-01 02:31] pmrowla commented on #6718
To clarify, the default behavior for DVC pipelines is to assume that stages are always deterministic by default (`always_changed: false`). This applies whether or not the stage has any dependencies. Having no `deps` just means that the empty/None dependency state `{}` (rather than the typical `{'some_dep.txt': 'abcd1234...'}` file/param:hash dep state) still gets mapped to a single deterministic o

[2021-10-01 07:58] pared commented on #6316
@dberenbaum at this time it does not correspond at all, I just need to make a POC and research how hard it will be to generalize its behavior.

[2021-10-01 08:04] pared commented on #6316
But besides that I believe we can start implementation right away.

[2021-10-01 09:16] #6423 closed

[2021-10-01 09:16] #6476 closed

[2021-10-01 09:19] pmrowla commented on #6712
@eggqq007 are you planning on taking this issue yourself (to use the updated `write_json` in other commands besides list)?

[2021-10-01 09:33] eggqq007 commented on #6712
Yes, I will send the patch out later. :)

[2021-10-01 13:50] lassepe commented on #678
@jorgeorpinel I would also be interested in this feature. Could you elaborate on how the `--time` feature could be achieved with git?

[2021-10-01 16:34] efiop commented on #6709
Hm, the original report is coming from osxpkg 2.7.4, but I can't reproduce this on master.  @dberenbaum Could you show your `dvc doctor` please, just curious?

[2021-10-01 16:39] isidentical commented on #6709
It seems like this was due to asyncio-retry not providing a private method that fsspec *sometimes* uses (this is why sometimes it is not reproducable) (when there is a timeout). I already sent a PR against fsspec, and will be resolved with the new release (hopefully today) https://github.com/intake/filesystem_spec/pull/779

[2021-10-01 16:40] efiop commented on #6709
@isidentical Thank you! 🙏

[2021-10-01 16:55] dberenbaum commented on #6718
There are two separate issues:

1. It's unclear whether stages without dependencies should always run. @iesahin Do you want to open a separate issue for this? I don't think it's part of the issue title.
2. `exp run` and `repro` behave differently if an output is modified. As @skshetry explained, this occurs because `exp run` will checkout the old output before running repro.

[2021-10-01 18:20] dberenbaum commented on #6263
From https://github.com/iterative/dvc/pull/6649#issuecomment-931843157:

`dvc machine add` is the most complex and likely longest-running command, and the progress it reports is at most (depending on whether the resource already exists):

[code]

It seems like the only info users gain is whether the machine is being destroyed (which should be short) or created. Not sure if there's any way to colle

[2021-10-01 20:51] shcheklein commented on #6709
Thanks @isidentical for taking of this promptly 🙏 Good stuff.

[2021-10-02 09:46] apdullahyayik opened #6725 "Provides Unsubscribe Option From Mailing List"
# Bug Report

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2021-10-02 11:28] efiop commented on #6725
Hi @apdullahyayik!

There is a button in the footer to unsubscribe. Or could you elaborate which mailing list you are talking about?

[2021-10-02 11:28] #6725 closed

[2021-10-02 17:05] efiop commented on #6709
Fixed by #6727

[2021-10-02 17:05] #6709 closed

[2021-10-03 02:53] NerdToMars opened #6729 "More flexible data version management utilies, such as use db to store all commited dvc"
For some data centrical applications, after we commit a lot of different versions of data into git, a bit inconvenient for engineers or administrators to visualize some features of history data.  Maybe the following ideas will help us solve this pain point:
1. when dvc commits or adds, engineers can add more metadata of this version, such as data schema or distribution.

2. In python API, develope

[2021-10-03 04:47] apdullahyayik commented on #6725
![364EEE26-9720-42B3-905B-63D35E254A80](https://user-images.githubusercontent.com/5982905/135740295-8ddb62d4-f088-4b44-a83f-107808457adb.jpeg)

I am talking about “mailing list”. I could not find a way to unsubscribe, my e-mail is as follows: “apdullahyayik@gmail.com”. If you can help me,I will be appreciated, Thanks.

[2021-10-03 06:39] skshetry commented on #6725
@apdullahyayik, there should be something like following at the bottom of the email:
[code]

Is it not there?

Anyway, I'll try providing your email internally to unsubscribe.

[2021-10-03 09:22] da2ce7 commented on #3069
The choice of MD5 is curious. Git is build upon the (also broken, but alas, far-far more secure SHA-1). Why choose a hash that has been known to be broken from day 0????  One could start to being suspicious.

The the blasé urgency that this issues has been treated with here is again verging on suspicious.

_We should upgrade to Blake 3 as a matter of security urgency._

**MD5 is a security critica

[2021-10-03 09:33] da2ce7 commented on #3069
@iesahin

We need to stop having a completely critical security vulnerability as a matter of urgency.
The goal of supporting multiple hashes is nice, however that is a far secondary concern from moving away from MD5.

We need it pick **any** not-broken hash and do a one-way move as a matter of desperate urgency. Later we can think about if we want support of multiple hashing algorithms. That is a

[2021-10-03 09:54] iesahin commented on #3069
The goal of supporting multiple hashes is nice, however that is a far secondary concern from moving away from MD5.

I agree completely.

Laws change. That was an example though. More algorithms mean more points to consider, more options require more updates and more maintenance in
the future.

[2021-10-03 10:08] gcoter commented on #6138
Hi @efiop :slightly_smiling_face:

I think I have the same error as @SanderNugteren:
[code]

If you want, I can open a separate issue for that :slightly_smiling_face:

[2021-10-03 10:16] efiop commented on #6138
@gcoter Does regular SSH CLI work? Does scp work for you? Could you try using lower `-j` value?

[2021-10-03 10:23] efiop commented on #3069
Guys, we've been using md5 for historical reasons. Initially, we only had pipeline management where md5 was used as a checksum and not a hash, so it was perfectly suitable for the task. Data management grew from it and kept using md5. We are well aware that md5 is not a great hash, and will be switching to something more suitable (likely some SHA) in 3.0, so stay tuned.

[2021-10-03 10:25] efiop commented on #6729
Converting to discussion

[2021-10-03 10:25] #6729 closed

[2021-10-03 10:58] gcoter commented on #6138
@efiop Yes, SSH and SFTP CLI work. I tried with `-j 1`, I have the same error

[2021-10-03 11:07] da2ce7 commented on #3069
@efiop

Why don't you release a security update that updates to https://github.com/BLAKE3-team/BLAKE3 (my recommendation) as a matter of priority?

Having this sort of security vulnerability addressed 'in the next major update' isn't very professional IMHO...

[2021-10-03 12:00] efiop commented on #6138
@gcoter And could you try 2.7.4, please? We've changed a few things in ssh since 2.7.2

CC @isidentical in case you've seen this before.

[2021-10-03 12:12] gcoter commented on #6138
@efiop I tried version 2.7.4, I still have the same error:

[code]

[2021-10-03 12:34] gcoter opened #6731 "dvc>=2.7.3 is incompatible with tensorflow because of typing-extensions"
Hello,

It is not really a feature request but not really a bug neither. Feel free to tell me if I should post this elsewhere.

I work on a project with dvc and tensorflow. I noticed that I did not have the last version (2.7.2 instead of 2.7.4) so I tried to upgrade.

I use Poetry to manage the dependencies of the project. It is quite good to handle incompatibilities. When I ask it to install dvc,

[2021-10-03 12:50] efiop commented on #6731
Looks like we could exclude 3.10.0.1 and relax the rest to be >= 3.7.4 CC @skshetry wdyt?

[2021-10-03 13:32] skshetry commented on #6731
@efiop, we can just set it to `>=3.7.4`. On other installations, it'll install the latest version anyway.

@gcoter PRs are welcome.

[2021-10-03 13:33] gcoter commented on #6731
@skshetry I will make a PR then :slightly_smiling_face:

[2021-10-03 14:25] #6731 closed

[2021-10-03 15:08] Erotemic commented on #3069
@da2ce7 While I agree DVC needs to move away from MD5 ASAP, I disagree that the choice to delay to the next major update is unprofessional. Changing the hashing algorithm is a major change that will require existing users to rename all of their files in the dvc-caches. This is not trivial.

In fact IMHO it is highly professional to be mindful of semantic versioning when making large breaking chang

[2021-10-03 15:27] efiop commented on #3069
I agree with @Erotemic on his points.

One thing about blake though, is that it is not FIPS/NIST certified, which is a significant problem for people that need to comply with those, so I doubt that we will choose blake by default, and hence why I think that some version of SHA is more realistic.

One more thing is that sometimes people confuse checksums we use for pipeline checks with (hash-ish) h

[2021-10-03 17:17] isidentical commented on #6138
@gcoter this seems like something related to the server itself. Do you know if there are any changed limits in regards to maximum number of sessions? Or can you try to run the following script with filling the options necessary to authenticate and paste the output?

[code]

[2021-10-04 10:33] da2ce7 commented on #3069
@Erotemic

In the context of semantic versioning making a breaking change should always be signalled by a major number change. However, I do not feel like that was the core of the statement that @efiop was making.  He wasn't referring to the fact that this breaking change will be called 3.0, but that this change will be included in 3.0.

The problem with MD5 is that it is desperately broken, and s

[2021-10-04 12:59] iesahin commented on #3069
I also believe this change requires more testing and a major version upgrade.

BLAKE3 has technical advantages but having FIPS/NIST certification is an important point for some of the organizations. Setting the default for SHA-256 with possible versions that support other algorithms might be a good solution. Installing like `pip install dvc` may install the SHA-256 version, but we may also have `p

[2021-10-04 13:01] clementperon commented on #6691
Please let me know, if you want more details / cmd to execute.

[2021-10-04 13:18] da2ce7 commented on #3069
@iesahin

For the very few organisations that are constrained by the FIPS/NIST certification, they could use a different version of dvc. - You are suggesting that we should cripple the speed of the default because of a hand-waving concern about FIPS/NIST certification.

There will is a dramatic difference in the performance between SHA256, and BLAKE3.  I think the default should be to have good pe

[2021-10-04 13:22] iesahin commented on #3069
I can't because they probably can't use DVC now. :)

This is a good idea too. I'll leave the decision to the project maintainers.

[2021-10-04 14:39] aveek-brahmachari opened #6741 "DVC push looking for filenames wrapped within single quotes"
[core]
    remote = storage
['remote "storage"']
    url = ssh://xx.xxx.xx.xxx
    user = abcdefgh

0a becomes '\0a' folder and instead of looking for abcd.md5, it  might be looking for 'abcd.md5'

Any help would be appreciated.

[2021-10-04 14:41] efiop commented on #6741
Hi @aveek-brahmachari Please provide `dvc doctor` output. Also, do you have any error log or more info in general on the error you are getting?

[2021-10-04 14:45] Erotemic commented on #3069
@da2ce7 I think you underestimate how many organizations that is. I work at an open source company and even I'm impacted by that (as much as it irritates me). Often it's not about actual security in these cases. Someone see's OMG you're using a hash, it better be one in our passlist! Then it devolves into pseudo-software hell from there.

The gov funds a lot of companies, and to be eligible you ha

[2021-10-04 14:51] pared commented on #6433
I was unable to reproduce the problem. It will have to wait till we have more capacity for bugs.

[2021-10-04 14:51] aveek-brahmachari commented on #6741
In tried to rename the folder on the repo so that the correct folder is found but even then the file did not get copied. That makes me believe that it might be looking for a quote wrapped filename which is non-existent

[2021-10-04 14:52] aveek-brahmachari commented on #6741
Replied above.

[2021-10-04 14:54] efiop commented on #6741
@aveek-brahmachari Thanks! And could you add `-v` flag to the command you are running and show us full log, please?

[2021-10-04 14:58] iesahin commented on #3069
I'm not in a position to make these decisions.

What I'm saying is **not** setting an option in `.dvc/config` and change the hash algorithm. It should be done like a fork, and the fork may get lower level of attention in support. This will also make the main branch to adopt newer algorithms easily.

[2021-10-04 14:58] aveek-brahmachari commented on #6741
$ dvc -v push
ERROR: failed to transfer 'md5: 860e0ccab965d8d47921613f9bd17324' - [Errno 2] No such file or directory: No such file
ERROR: failed to transfer 'md5: 8ed5a2d4593cc728e4a2329632511d36' - [Errno 2] No such file or directory: No such file
ERROR: failed to transfer 'md5: a0fe20248f00e23c659fc2169469047e' - [Errno 2] No such file or directory: No such file
ERROR: failed to transfer 'md5:

[2021-10-04 15:53] efiop commented on #6741
@aveek-brahmachari That doesn't look like full log, are you sure you've captured everything?

[2021-10-04 15:58] aveek-brahmachari commented on #6741
Yes

[2021-10-04 16:06] efiop commented on #6741
@aveek-brahmachari Ah, I think I see what's the problem is. Try `dvc push -v`, please

[2021-10-04 16:14] efiop commented on #6433
@kareemjano Please give the latest dvc version a try and let us know if it works. Thanks!

[2021-10-04 16:17] aveek-brahmachari commented on #6741
$ dvc push -v
2021-10-04 21:38:31,229 DEBUG: Preparing to transfer data from '.dvc\cache' to 'ssh://xx.xxx.xx.xxx'
2021-10-04 21:38:31,231 DEBUG: Preparing to collect status from 'ssh://xx.xxx.xx.xxx'
2021-10-04 21:38:31,231 DEBUG: Collecting status from 'ssh://xx.xxx.xx.xxx'
2021-10-04 21:38:36,712 DEBUG: Estimated remote size: 256 files
2021-10-04 21:38:36,712 DEBUG: Querying '30' hashes via tra

[2021-10-04 17:07] efiop commented on #6741
@aveek-brahmachari And could yoy try our upstream version, please?

[code]

Btw, how does the url for the remote look like? Are you sure the directory you are trying to push into exists on the server?

[2021-10-04 19:06] gcoter commented on #6138
Hi @isidentical, thanks for your answer :slightly_smiling_face: I ran your script and here is the output:

[code]

I had to replace "/tmp" with another folder name (because tmp does not exist on this sftp server). Apart from that, I did not change your script.

Regarding the server, I did not make any change myself for a while. Of course, it had some updates, but I don't remember that anything rel

[2021-10-04 21:00] rogermparent commented on #5739
Agreed that it's weird, but from the latest updates on vscode-dvc#828, the issue replicates on Codespaces but hasn't on Macs so far, with `exp show` stalling on Linux and exiting with a lock error on Macs. This leads me to believe that there really is some platform-specific inconsistency with locks. I'll try on Windows today and see what happens there, I haven't actually checked yet nor do I think

[2021-10-04 21:44] aveek-brahmachari commented on #6741
This worked. Many thanks.

[2021-10-04 21:44] #6741 closed

[2021-10-04 21:47] efiop commented on #6741
@aveek-brahmachari Great! Looks like it was fixed in one of the recent changes. Stay tuned for a new release. Thanks for the feedback! 🙏

[2021-10-05 00:40] rogermparent commented on #5739
Just recorded a (way too long) demo of this on Windows- weirdly enough, it displays a similar bug but `exp show --show-json` _does_ fail with a lock error as opposed to hanging the whole like on my Linux replications- however, the symptoms on the table are similar and the first run per session seems to update more reliably than subsequent runs.

Also catches a crash at 8:40, similar ones have happ

[2021-10-05 02:45] jorgeorpinel commented on #678
@lassepe sure, by deleting all the commits before that date (see [this Q](https://stackoverflow.com/questions/29042783)) and then using `dvc gc -A`.

[2021-10-05 02:46] jorgeorpinel commented on #678
p.s. you could do it in a repo copy and then discard it if you didn't actually mean to discard all your Git history.

[2021-10-05 04:43] eggqq007 commented on #6712
write_json function consumes function from_data in rich. But I found it doesn't accept 'default' which just like default in json.dumps. It means it may hit issue while converting class into json.

So I'm considering whether to continue to use from_data to print prettify json.

[2021-10-05 05:17] skshetry commented on #6712
@eggqq007, maybe we can propose this on `rich`? Also, for the time being, we could override `from_data` to support `default`, see this piece of code: https://github.com/willmcgugan/rich/blob/473eac577f42a243404c3e01ba13ba73c7aaaadd/rich/json.py#L36-L40

[2021-10-05 05:56] skshetry commented on #6446
Tasks that remains:
- [ ] Improve UI/CLI, messaging, and prompts
- [ ] Add config support
- [ ] Add tests/QA

[2021-10-05 06:20] skshetry commented on #6605
Some questions that I have:
1. Does this mean tracking all the params of the file at a time or all the time? Do we need support for both?
    See https://github.com/iterative/dvc/issues/4112.
2. Do we want to save the contents of it or the complete file?
    We have never saved the params file before. We have only used the data from dvc.lock to see if they have changed.

Regarding the structure, I

[2021-10-05 06:22] eggqq007 commented on #6712
Thanks for your suggestions. I had created a new discussion at https://github.com/willmcgugan/rich/discussions/1534  last week but get no response.
Yes, re-implement from_data in dvc is a way.

[2021-10-05 08:36] pmrowla opened #6744 "gdrive: add support for `import-url`"
As far as I can tell, everything should be there for import-url, so let's create another issue to finalize the support / add it docs etc. (if I am not missing something)

_Originally posted by @isidentical in https://github.com/iterative/dvc/issues/2865#issuecomment-929263156_

[2021-10-05 08:38] pmrowla commented on #2865
Closing this meta-ticket since it's very outdated. Separate issues for any missing features in the fssspec based gdrivefs should be opened as needed.

[2021-10-05 08:38] #2865 closed

[2021-10-05 09:02] lassepe commented on #678
Ah okay, this seems like a bit too aggressive then because I still need to keep the code history. I'll wait for the actual feature then.

[2021-10-05 11:08] annmary-roy commented on #6660
For time being we are planning to go ahead with the folder based approach, where we can put all the splitfiles into a single directory and do an explicit dvc add on the folder and main.h5 .  fsspec implementation for hdf5 is something which we may consider later.

[2021-10-05 12:41] pmrowla commented on #6691
I'm unable to reproduce this with local or s3 remotes, it may be something specific to gs/gcsfs

[2021-10-05 12:45] dberenbaum opened #6746 "exp save: save workspace state to an experiment ref"
`dvc exp commit` would create an experiment from the current state of the workspace.

Use cases for this command include:
* Not using DVC pipelines but still want to track experiments in a lightweight way. For example, by just having params in `params.yaml` and metrics in `metrics.json` (see #6168), DVC can track and compare experiments.
* Code has already been run. The user might have already run

[2021-10-05 13:21] clementperon commented on #6691
The issue has been introduced in 2.5.0.

[code]

Is OK
[code]

Failed !!

[2021-10-05 14:34] #6712 closed

[2021-10-05 14:37] daavoo commented on #6446
Might be worth revisiting https://github.com/iterative/dvcyaml-schema/issues/7 to better support the workflow:

`dvc exp init` for simple cases / basic bootstrapping -> manually edit `dvc.yaml` for customization?

[2021-10-05 14:53] skshetry commented on #6446
With dvcyaml-schema, my goal was to have same schema for JSONSchema and validation. We have been using pydantic for JSONSchema generation and voluptuous for validation.

There are few issues with using pydantic:
1. It does not have a good support for validating dictionaries with varying keys. `stages` in dvc.yaml is a dictionary with key being stage name and value being stage information. Pydantic

[2021-10-05 16:54] aveek-brahmachari opened #6747 "dvc gc not removing unused folders"
dvc gc is removing the cache data but not the folder containing the cache data
if folder e0 contains say a file 6e6b2410e54fe5244a89430fddebc1, it removes 6e6b2410e54fe5244a89430fddebc1 but does not remove the empty folder e0

[2021-10-05 17:39] efiop commented on #6747
Closing in favor of https://github.com/iterative/dvc/issues/3375

Btw, @aveek-brahmachari does it cause any problems for your usage scenarios? If so, could you elaborate how, please?

[2021-10-05 17:39] #6747 closed

[2021-10-05 17:40] dberenbaum commented on #6746
Each checkpoint is basically doing the same as `dvc exp commit` would do, right? I'm not sure what the behavior would be at each checkpoint in `dvc repro`.

[2021-10-05 21:32] dberenbaum commented on #6446
We should probably include docs work also.

[2021-10-06 02:23] shcheklein commented on #6746
One minor thought on this. When I initially read about this I thought about `dvc commit` + `git commit` semantics.  While this is more like `dvc exp stash`? or `dvc exp save`, right? I guess, my concern is that `commit` is so overloaded that might confuse people.

[2021-10-06 04:34] aveek-brahmachari commented on #6747
You may want to count the folders to find out how much data is there. Request you to upgrade the priority of this issue #3375.

[2021-10-06 12:44] #6582 closed

[2021-10-06 13:05] hmeine commented on #5655
Looking at #829 I can indirectly see that there might have been some progress (the issue being moved to "Done" in some sprints?), but the issue does not seem to be solved yet, right? I would still be very interested in this feature.

Otherwise, I would look into an S3 remote as a workaround, whose policies *might* allow to allow renames, but not deletion (which is not perfect, but better than noth

[2021-10-06 15:27] dberenbaum commented on #5489
A user requested this in https://discord.com/channels/485586884165107732/485596304961962003/895329378110677003.

[2021-10-06 18:38] dberenbaum commented on #6713
In that case, I think my ~~strikethrough~~ question is the relevant one 😄

[2021-10-06 19:17] dberenbaum opened #6751 "exp init: nested parameters"
# Bug Report

## Description

`dvc exp init` does not read nested parameters.

### Reproduce

[code]

### Expected

[code]

### Environment information

**Output of `dvc doctor`:**

[code]

[2021-10-06 21:05] dberenbaum commented on #6446
I noticed a couple of workflow issues when doing some QA of `dvc exp init`:

1. It's unclear when or what to `git add`. If I don't `git add` the `dvc.yaml` or the dependencies, `dvc exp init` works in the workspace but not in temp.
2. If I am adding a data dependency, I most likely want to `dvc add` it rather than `git add`.

[2021-10-07 08:56] JunseongAHN opened #6754 "dvc import-url: .dvcignore is not considered."
# Bug Report (Maybe an expected behavior...)

## Issue name
dvc import-url: .dvcignore is not considered. dvc create hash files for all files in the given data directory

## Description
.dvcignore is not considered when using `dvc import-url`. I don't know if it is an expected behavior or not.
if it is expected, is there anyway not to track files filtered with .dvcignore when I add a remote storag

[2021-10-07 13:53] #6751 closed, assigned to skshetry

[2021-10-07 14:11] efiop opened #6757 "test: create fsspec-based mockers"
Thanks to @isidentical 's work migrating all third-party filesystems to fsspec, we should now be able to create a general mocker mechanism based on localfs for all those clouds. This will allow us to get pretty good coverage even on platforms that don't support docker in our CI (e.g. windows, mac).

[2021-10-07 14:11] #4972 closed

[2021-10-07 21:39] efiop commented on #6691
@clementperon Thank you for the research! 🙏

[2021-10-07 21:54] clementperon commented on #6691
@efiop Pleasure is mine 🙂.

[2021-10-08 08:11] isidentical opened #6765 "webhdfs: test_add_external_file is flaky"
Seems like it is crashing the pytest worker;
[code]

[code]

[2021-10-08 12:16] efiop commented on #6765
Might be a resource problem. Might be resolved by https://github.com/iterative/dvc/issues/6757

[2021-10-08 12:17] dberenbaum commented on #6446
We might just start with a hint here. Doing a `dvc add` automatically might be unexpected and make `dvc exp init` much slower. I don't love the hint idea, but it's an easy starting point. 🤔

👍 I also think we could add `dvc.yaml`?

[2021-10-08 14:28] isidentical opened #6774 "fs: migrate away from PathInfo"
We are using and constructing `PathInfo` objects nearly everywhere in the DVC to both wrap and manipulate paths easily. The cost for them becomes noticeable when we create hundreds/thousands of them (which is a common scenerio, depending on the size of your remote). For optimizing away, and simplifying the overall interaction between the filesystem layer and the rest of the codebase we'll graduall

[2021-10-08 14:29] #6445 closed

[2021-10-08 18:17] efiop commented on #6531
Closing as stale.

[2021-10-08 18:19] efiop commented on #6660
Converting to discussion since this is not actionable yet

[2021-10-08 18:25] #1277 closed

[2021-10-08 18:28] #1085 closed

[2021-10-08 18:32] efiop commented on #1317
Closing as stale. We have remote-spefic configuration for serverside encryption (e.g. sse for s3). DVC itself is not a security tool, and encrypting files ourselves is out of scope for now. Users can embed ecrypting stages into their pipeline on theirown though.

[2021-10-08 18:32] #1317 closed

[2021-10-08 18:50] efiop commented on #2091
stale

[2021-10-08 18:51] efiop commented on #1932
stale

[2021-10-08 18:52] efiop commented on #1927
stale

[2021-10-08 18:52] #1927 closed

[2021-10-08 18:52] efiop commented on #1888
stale

[2021-10-08 18:52] #1888 closed

[2021-10-08 18:53] efiop commented on #1887
stale

[2021-10-08 18:54] efiop commented on #1930
We now have `dvc/ui` that uses print. Closing

[2021-10-08 18:54] #1930 closed

[2021-10-08 18:56] #2567 closed

[2021-10-08 19:11] #2450 closed

[2021-10-08 19:14] efiop commented on #2390
Already done in https://github.com/iterative/sshfs

[2021-10-08 19:14] #2390 closed

[2021-10-08 19:19] efiop commented on #3370
Closing as stale

[2021-10-08 19:19] #3370 closed

[2021-10-08 19:30] efiop commented on #4394
Closing as stale

[2021-10-08 19:30] #4394 closed

[2021-10-08 19:31] efiop commented on #4492
Not able to reproduce. Might be related to our s3fs migration.

[2021-10-08 19:31] #4492 closed

[2021-10-08 19:32] efiop commented on #4633
Fixed in https://github.com/iterative/ossfs

[2021-10-08 19:32] #4633 closed

[2021-10-08 19:34] efiop commented on #4723
closing as stale

[2021-10-08 19:34] #4723 closed

[2021-10-08 22:01] efiop commented on #2292
closing as stale, all development is now in https://github.com/iterative/sshfs which has some friendlier messages than we had before

[2021-10-08 22:03] efiop commented on #2360
We still don't have any windows-specific benchmarks yet (though we can run them in https://github.com/iterative/dvc-bench in the future.

Closing as stale for now

[2021-10-08 22:03] #2360 closed

[2021-10-08 22:04] efiop commented on #2312
Closing, as we will drop using this as hashes in 3.0 We have proper separation in fsspec now between `checksum` and `ukey`.

[2021-10-08 22:04] #2312 closed

[2021-10-08 22:19] #3108 closed

[2021-10-08 22:20] efiop commented on #3144
Closing as stale

[2021-10-08 22:20] #3144 closed

[2021-10-08 22:24] efiop commented on #3383
No longer relevant, was removed during one of the refactorings.

[2021-10-08 22:24] #3383 closed

[2021-10-08 22:27] efiop commented on #3407
We've now migrated from paramiko to asyncssh (see https://github.com/iterative/sshfs), which is up to 4 times faster than old approach (https://github.com/iterative/dvc/issues/6064#issuecomment-876340381). We plan on pushing it even further in the future.

[2021-10-08 22:27] #3407 closed

[2021-10-08 22:29] #3417 closed

[2021-10-08 22:32] efiop commented on #3446
Closing as stale

[2021-10-08 22:32] #3446 closed

[2021-10-08 22:34] efiop commented on #3474
Closing as stale

[2021-10-08 22:34] #3474 closed

[2021-10-08 22:34] efiop commented on #3549
closing as stale.

[2021-10-08 22:36] efiop commented on #3568
Closing in favor of https://github.com/iterative/dvc/issues/4682

`status` is migrating to object-based workflow, so we might introduce some info like that as well later.

[2021-10-08 22:36] #3568 closed

[2021-10-08 22:40] #3753 closed

[2021-10-08 22:55] efiop commented on #4377
Closing as stale

[2021-10-08 22:56] efiop commented on #4420
Fixed by https://github.com/iterative/dvc/pull/6419

[2021-10-08 23:03] efiop commented on #4874
Fixed

[2021-10-08 23:03] #4874 closed

[2021-10-08 23:07] efiop commented on #4970
Closing as stale. We have `--show-origin` for `dvc config` these days that will show where config options are coming from (with the path too).

[2021-10-08 23:07] #4970 closed

[2021-10-08 23:13] efiop commented on #6774
Found initial mention for that https://github.com/iterative/dvc/issues/5162#issuecomment-775771333 😄

[2021-10-08 23:24] efiop commented on #5162
March 3:

Oct 9:
![image](https://user-images.githubusercontent.com/5367102/136633881-d0505f74-ca07-4c3e-aaed-8dd6720ede6e.png)

On a serious note, thanks to lots of great work by @isidentical 🙏 we've migrated all of our currently supported clouds to fsspec and implemented a few fsspec-compatible filesystems ourselves from scratch:

* [webdav4](https://github.com/skshetry/webdav4) Kudos @skshetry

[2021-10-10 23:19] mattseddon opened #6778 "`exp show`: add output of `params diff` & `metrics diff` to `workspace` entry within `--show-json`"
In the VS Code extension we recently added in a feature to our experiments table which highlights params and metrics which have changed with respect to the previous commit.

### Example (`example-dvc-experiments`)

Given:

1. `dvc params diff --show-json` = `{"params.yaml": {"train.epochs": {"old": 10, "new": 11, "diff": 1}}}`
2. `dvc metrics diff --show-json` = `{}`

Then we will show:

![image](

[2021-10-11 11:33] pmrowla commented on #6778
`HEAD` moves during experiment execution (to point to the latest exp/checkpoint commit. During experiment execution (in the workspace), `refs/exps/exec/EXEC_BASELINE` will point to the original (previous commit), so you need to use that ref instead of `HEAD` during experiment execution.

In DVC, when we lookup `HEAD` in commands like `exp show` or `params/metrics diff` we check if the exp exec ref

[2021-10-11 17:53] daavoo opened #6783 "`exp show`: Highlight changes in metrics and params"
Regardless of how you are implementing it, highlighting changes in metrics and params is a nice idea for `exp show` and a good potential alternative to #5966. @daavoo What do you think about this as a table improvement?

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/6778#issuecomment-940225551_

[2021-10-11 21:40] mattseddon commented on #6778
Thanks @pmrowla, @dberenbaum & @daavoo.

Happy to close this issue.

In the interim I can copy the DVC implementation. However, IMO "external products" should not be relying on the internal of DVC and/or reimplementing parts of the DVC code base. To avoid both of those things we would need this data to be exposed in some way through `exp show` or continue to use `dvc params diff` & `dvc metrics di

[2021-10-12 03:08] jorgeorpinel commented on #678
You could do it in a temporary repo clone and then discard it (don't rewrite the upstream or your main working repo).

[2021-10-12 12:37] efiop opened #6788 "ci: crashes and timeouts"
Looks like the test suit with multiple docker containers has reached the point where workers just don't have enough resources, which results in timeouts/crashes. To mitigate that we have a few options that I can see so far:

1) pack all of our docker containers into one to reduce load
2) introduce https://github.com/iterative/dvc/issues/6757 to run always and run docker/real tests and use dockeriz

[2021-10-12 13:37] iesahin opened #6791 "exp run: Remove unsupported `dvc repro` options from the help text"
# Bug Report

UPDATE: Jump to https://github.com/iterative/dvc/issues/6791#issuecomment-1043363367

## Description

`dvc exp run --help` lists the following options:

[code]

Some of them are not supported. I tested a few of them and testing the rest. Could you remove those from the help text? We're going to update the command reference according to this.

- [x] `--force`: Seems to run
- [x] `--si

[2021-10-12 16:19] efiop opened #6794 "exp show: not enough values to unpack"
From the mailing list:

[code]

can't reproduce it though 🙁 User said that recloning his repo fixed it.

CC @pmrowla , maybe you ran into this before.

[2021-10-12 18:14] brbarkley commented on #5562
Seeking clarification on status of this issue. From above, @efiop writes:

I see PR #6111 was closed in favor of PR #6419, which was merged on 9/18/21. Does that mean this issue #5562 is resolved in the v2.8.0 release on 10/11/21?

Thanks!

[2021-10-12 18:40] efiop commented on #5562
@brbarkley Correct. This particular issue is about other things too, like optimizing, which is on our todo list.

[2021-10-12 20:50] efiop commented on #2791
@drisspg Thanks for trying it out! Reopening. Looks like we need to take a closer look.

IIRC, currently you need to generate `session_token` yourself and then use it along with `access_key_id` and `secret_access_key` in dvc config.

How do you normally use it with things like `awscli`?

[2021-10-12 21:11] dberenbaum commented on #6791
Thank you @iesahin, this is great!

It makes sense to me that these wouldn't work since experiments need to be able to cache data to retrieve it. I'm fine with removing these unless anyone else objects.

This probably still needs to be fixed in #6457. We may need to bump the priority up unless anyone has a reason not to, in which case we should remove the option for now.

Hm, does this make sense

[2021-10-13 04:06] alcinoluiz opened #6796 "dvc push not working, "gir1.2-secret-1" already installed"
dvc version: 2.8.1
OS: ubuntu 20.04

01:00:56 alce@L380 horoscopo ±|main ✗|→ dvc push -v
2021-10-13 01:01:26,514 DEBUG: Preparing to transfer data from '.dvc/cache' to 'azure://alceblob/'
2021-10-13 01:01:26,515 DEBUG: Preparing to collect status from 'azure://alceblob/'
2021-10-13 01:01:26,515 DEBUG: Collecting status from 'azure://alceblob/'
2021-10-13 01:01:26,515 DEBUG: Querying 1 hashes via o

[2021-10-13 08:28] isidentical commented on #6138
It is really weird since I can't reproduce this locally. Config parameters always take precedence over the remote url ones (e.g `ssh://username@host.com` will be overriden if the config specifies another username). Can you a new issue @sjawhar?

[2021-10-13 09:07] efiop commented on #6796
Hi @alcinoluiz, could you show `dvc doctor` output, please?

[2021-10-13 10:11] iesahin commented on #6791
I think we should remove these even if someone objects. 😄 We can ask for PRs from them.

Interactive reproduction may lead to some unforeseen results about the experiments and checkpoints. It's identical with the basic `dvc exp run` if you say `y` to all stages, but what happens if you skip some of these stages, I don't know. (e.g., do we generate `exp-id` from the whole pipeline or only the stage

[2021-10-13 13:18] iesahin commented on #6791
I believe if some option from `dvc repro` seems not relevant clearly, we can better drop it from `dvc exp run`. If we decide on a clear behavior later, we can revive them. :)

If _stage selection_ is not particularly clear, we can drop `--glob` as well. It's about stage selection.

[2021-10-13 20:05] brbarkley commented on #5562
@efiop looks like it's best to stay at v1.11 if shared cache and workspace are both on nfs/cifs. At v2.8, it took about 5 minutes to compute hash of directory with 100 files whereas it took a few seconds on v1.11.

Thanks again for your continued work! Hope I can move to v2.X soon...

[2021-10-14 02:40] alcinoluiz commented on #6796
For sure! Here it is:

DVC version: 2.8.1 (pip)
---------------------------------
Platform: Python 3.8.10 on Linux-5.11.0-37-generic-x86_64-with-glibc2.10
Supports:
	azure (adlfs = 2021.9.1, knack = 0.8.2, azure-identity = 1.6.1),
	webhdfs (fsspec = 2021.10.0),
	http (aiohttp = 3.7.4.post0, aiohttp-retry = 2.4.6),
	https (aiohttp = 3.7.4.post0, aiohttp-retry = 2.4.6)
Cache types: hardlink, symlink

[2021-10-14 03:07] mattseddon opened #6803 "`exp show --show-json`: broken for non TTY"
# Bug Report

## Description

### Reproduce

1. open dvc repository

2. output from `exp show --show-json` in terminal:

![image](https://user-images.githubusercontent.com/37993418/137243997-5db33fe2-112f-4e2d-9922-75b7a0f6a8ab.png)

3. output from `exp show --show-json` in non-TTY:
 `ERROR: unexpected error - Object of type datetime is not JSON serializable`

4. output from setting `DVC_IGNORE_IS

[2021-10-14 03:14] mattseddon commented on #6803
Verbose output from 3:

[code]

[2021-10-14 03:15] efiop commented on #6803
Caused by https://github.com/iterative/dvc/pull/6743

[2021-10-14 03:17] efiop commented on #6803
Looks like we've stopped passing `default` to https://github.com/iterative/dvc/blob/0ae91300523e25e060e1313d0adb8b2eb45c4cce/dvc/ui/__init__.py#L101 , which caused the error.

[2021-10-14 07:47] karajan1001 opened #6804 "machine: `machine list` Make name arguments optional and show all machines when it was not provided."
@karajan1001 Another minor UI tweak is that we need to make clear that the positional arguments are optional and all machines will be shown by default.

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/6602#issuecomment-931320830_

[2021-10-14 07:51] iesahin commented on #6791
I think, for the time being, it's better to remove these options from the help text and the documentation. If we get some feedback about the lack of these, we can create new tickets and move forward.

[2021-10-14 10:55] VGODIE opened #6805 "Allow dynamic parameters as dvc pipeline dependence"
I have faced an issue when I need to repro pipeline when new week starts - because new week brings more data to fit the model on. However, it is turned out that dvc natively does not support such cases when a parameter is a result of some python code (for example x = pandas.Timestamp.today()).  As a result, to refit the model automatically I need whether to code some side custom solution which bas

[2021-10-14 13:08] dberenbaum commented on #6457
@skshetry Is it possible to glob the stages before checkout and only checkout the pre-filtered stages? Why does this break `--glob` but other stage selection options like `--downstream` work despite not having corresponding options in checkout?

[2021-10-14 16:54] itcarroll opened #6809 "status: leaves behind zombie (i.e. <defunct>) processes"
## Description

I happened to run `ps -e` and noticed hundreds of process with command `dvc <defunct>`. I was able to reproduce in a clean shell with `dvc status`, with each call to `dvc status` leaving behind two zombies.

### Reproduce

[code]

### Expected

No `dvc <defunct>` processes.

### Environment information

I cannot reproduce this on macOS. I encountered this working out of a rootless

[2021-10-14 22:05] geo7 commented on #2401
@efiop Seems that this is can be closed? I think `4042d5232dc8aa5238f800e917e9b062719d8ec9` got rid of the message mentioned in the original comment, and `git grep "Do you wish to run the command"` brings up nothing for me.

[2021-10-15 03:09] pmrowla commented on #6794
The only possible cause for a partial stash reflog write I can think of is that DVC was forcefully killed during an `exp run` job. We could try to account for this in DVC (for the exp stash ref) and try to drop/recover from bad reflog entries.

[2021-10-15 09:59] SokolovMichail opened #6813 "dvc push: [Errno 111] Connect call failed"
# Bug Report

## Description
Upon calling dvc push this error appears:
[code]
(I am not able to provide COMPANY_SERVER_IP, PORT due to company policy. Port differs from 22).

### Reproduce

1. dvc push

### Expected

An ability to push files to a company DVC server.

### Environment information

**Output of `dvc doctor`:**
[code]

**Additional Information (if any):**

I was able to resolve this is

[2021-10-15 14:43] itcarroll commented on #6809
Yes, after changing that configuration, the next call to `dvc status` did not increase the number of zombie processes.

[2021-10-15 15:28] codeybear commented on #2401
I noticed this also when I tried to investigate also, it look like another commit has removed this problem.

[2021-10-16 18:23] jduprey opened #6816 "add : --to-remote option produces invalid literal in 2.7.4, worked in 2.5.4"
# Bug Report

## Description

When adding data to a dvc repository using the `--to-remote` option, dvc errors in version 2.7.4.  This worked previously in 2.5.4.  If I copy the data locally, and do a `dvc add` without the `--to-remote` option, it works.

[code]

Redirected output:

[code]

### Reproduce

I cannot share the data because it is copyrighted.  It is a directory of 151 parquet files abo

[2021-10-16 18:59] #6816 closed, assigned to nobody

[2021-10-16 20:30] isidentical commented on #6774
It is a pickle that we now have to URLs (e.g an SSH URL of `ssh://a@b:3432:/x/y/z`) to `/x/y/z` before passing them into filesystems since otherwise the fsspec can't handle them. It seems like we only need them at the initial fs-construction time, so might able to normalize it in the `get_cloud_fs` but that would mean I might have to cancel my bottom-up approach (slowly migrating before changing `

[2021-10-16 21:39] SokolovMichail commented on #6813
Providing dvc push -v output as requested.
Due to the company policy it had to be doctored to remove the confidential information. It is replaced with \<INFORMATION>.
[code]

[2021-10-16 22:07] efiop commented on #6813
@SokolovMichail Does aws cli work? Is this aws or some s3 compatible storage (e.g. minio)?

[2021-10-16 22:19] efiop commented on #6813
@SokolovMichail Anything special about your setup? Any special options in ssh config or our config?

[2021-10-18 09:43] DavidGOrtega opened #6819 "exp run: Parameter name does not support backslashes"
# Bug Report

## Description
In  GH CI is useful to reuse the ENV var ```GITHUB_REPOSITORY``` if not the workflow is even uglier in bash.
A plausible solution would be to use a hash function internally to generate an "ID" from the name or throw an error with illegal chars.
If that would be accepted I can prepare a PR 🚀

### Reproduce

In any experiment try to setup a name with backslashes

[code]

[2021-10-18 10:23] pmrowla commented on #6819
@dberenbaum we probably need to add the linked issues to the next sprint since it's affecting CML now

[2021-10-18 10:40] DavidGOrtega opened #6822 "exp run: ERROR: Experiment 'X' does not exist in 'origin' if working with shallow clone"
# Bug Report

## Description

When using dvc exp run in CI with dvc auto push feature if we remain with the 'detached head' state dvc wont push throwing a warning:

[code]

It also will throw an error:

[code]

however it will still apparently continue.
The only fixes are:
 - In GH you can set ```fetch-depth: 0``` in the checkout action
 - Do git fetch (however this will open another bug (solvable

[2021-10-18 10:57] pmrowla commented on #6819
Also, for CML team reference, exp names have to be valid git branch names (so they can't contain slashes).

[2021-10-18 11:39] DavidGOrtega opened #6823 "Feature exp run: Dryer resume within the CI"
## Issue
In the CI, to be able to resume training with preexisting checkpoints we have to make something like:

[code]

Would be nice if we had:
 - a flag with ```dvc exp run -n $EXP_NAME ``` to be able to pull and apply

So it would become:

[code]

## Additional issue

Please note:
[code]

This is because dvc exp pull --run-cache origin $EXP_NAME will throw an error in no prev experiments are pr

[2021-10-18 13:41] dberenbaum commented on #6791
@erovira `dvc repro --glob` works as expected for me. Could you open a separate issue if you are seeing an issue with it?

[2021-10-19 02:36] pmrowla commented on #6754
I think this is currently expected behavior, dvcignore filtering is only done on paths that already exist locally (and is not used for import-url at all).

We could potentially consider filtering out files which would end up being ignored after the import as a feature request.

[2021-10-19 12:58] dberenbaum commented on #4455
What field will be used to determine line colors?

[2021-10-19 14:45] karajan1001 opened #6835 "ImportError in every `dvc command` after `pip install -e` in develop environment"
# Bug Report

[code]
After every `dvc command` didn't affect the command running but quite anonying.

## Description
Meet this error message after every command.
[code]

### Reproduce

1. git clone git@github.com:iterative/dvc.git
2. cd dvc
2. pip3 install -e ".[all,tests]"
3. dvc doctor.

### Expected

No error message

### Environment information

**Output of `dvc doctor`:**

[code]

**Additiona

[2021-10-19 15:09] daavoo commented on #6835
But when was the bug introduced in DVC? I have been only noticed this the past few days.

[2021-10-19 16:08] skshetry opened #6836 "split scm from dvc"
We want to split scm from dvc into a separate package on its own. Ideally, we'd like to have a proper and stable API. Though I'd prefer we split as-is.

I want to split the `scm` from dvc, using `filter-repo` to keep history intact.

Though I still see a few issues that we need to fix:
- [x] DVC uses logging info for UI purposes, which dvc.scm still has.
      So we may need to get rid of logging.

[2021-10-19 16:25] skshetry commented on #6836
We depend on more than GitFileSystem, specifically `Git` which supports multiple backends.

[2021-10-19 17:20] skshetry commented on #6446
Till now, we have considered dependency to be a git-tracked or dvc-tracked dependency, so we do not track them by default. But makes sense to do for `data` in `exp init`.

Would it be confusing to create `data.dvc` and `dvc.yaml` files?

[2021-10-19 17:26] dberenbaum opened #6838 "machine: show all machines in `status`"
Make the `name` argument optional in `dvc machines status` so that all machines may be shown at once. Extracted from https://github.com/iterative/dvc/pull/6649#issuecomment-946940057.

[2021-10-19 17:38] dberenbaum opened #6839 "machine: cleanup on errors during `machine create`"
# Bug Report

## Description

During `dvc machine create`, the machine instance is created even when fatal errors occurred.

### Reproduce

Either delete your AWS credentials or don't update them and run the following:

[code]

### Expected

1. `dvc machine create` should not create (or should drop) the instance in case of fatal errors like this one and notify the user that creation failed.
2. `dv

[2021-10-19 17:46] dberenbaum commented on #6446
Ideally, we could specify in `dvc.yaml` that `data` is a DVC-tracked dependency, but I think it's probably easier to add `data.dvc` than to figure out new `dvc.yaml` syntax for now, unless you have an idea to do that easily. Adding `data.dvc` might be awkward, but it also introduces a basic concept to users. What do you think?

👍

👍

[2021-10-20 05:19] #6632 closed

[2021-10-20 20:24] #6584 closed

[2021-10-20 20:30] #6218 closed

[2021-10-21 05:52] pmrowla opened #6847 "exp: refactor workspace execution into an executor"
Somewhat adjacent to https://github.com/iterative/dvc/issues/6440 (but not a direct requirement)

Currently workspace execution for experiments is handled directly in `repo.experiments`, while temp dir (and eventually ssh) execution are handled through the `experiments.executor` classes. While the executor classes are being reorganized to account for ssh/remote executors, it makes sense for us to

[2021-10-21 23:48] efiop commented on #6387
Another user on discord running into this: https://discord.com/channels/485586884165107732/485596304961962003/900792694023028766

Also, note that we've stopped poisoning our local cache with .dir, but our staging db is still memory-only, so you are no longer able to recover the metadata 🙁

Unfortunately, we are not ready to make staging persistent right now, and we clearly shouldn't bring back poi

[2021-10-22 03:12] skshetry commented on #6387
We don't save `.dir` files now?

[2021-10-22 14:32] #6809 closed, assigned to nobody

[2021-10-23 21:00] mattlbeck opened #6854 "plots: code templates not found"
# Bug Report

Since 2.8.2 my code base templates are not located as they used to be via `dvc plots show/diff -t <template_name>`.

As far as I can tell this is due to the path root being prefixed to the template name before matching

https://github.com/iterative/dvc/blob/e2d705fd76771c184f85a477f8d73aea40a96cab/dvc/repo/plots/template.py#L123-L129

At face value the fix may just be

[code]

[2021-10-24 16:11] skshetry opened #6859 "exp show: does not display root values"
[code]

`dvc metrics show` can show the root values, and since the `dvc exp show` uses the `metrics show` data, it should support that behaviour. Though I don't think this is an important feature/bug that needs to be prioritized.

[2021-10-25 10:15] karajan1001 opened #6863 "machine status: include `instance_type` and `instance_gpu ` in the output."
One other thing I've noticed, we should be including `instance_type` (instance CPU count/size) and `instance_gpu ` in the default status output (doesn't have to be in this PR though)

_Originally posted by @pmrowla in https://github.com/iterative/dvc/issues/6855#issuecomment-950630793_

[2021-10-25 18:20] dberenbaum opened #6865 "exp init: when to fail for non-existent params"
From https://github.com/iterative/dvc/pull/6750#issuecomment-937219108:

`exp init` fails if `params.yaml` does not exist since the params are parsed to generate the stage. Related: #6605.

In interactive mode, it would be nice to fail as soon as possible (right after path to params is provided).

For other dependencies, I wonder if `dvc exp init` should also validate that the paths exist. This co

[2021-10-26 11:04] nielstenboom opened #6870 "pull: Unclear error message when remote support is not installed"
# Bug Report

## Description

If you've installed DVC via pip without the remote support you need (for example S3), the error message is very unclear.

### Reproduce

1. Setup fresh repo & `pip install dvc[s3]`
2. Copy dataset.zip to repo
3. `dvc init` & `dvc add dataset.zip`
4. Setup remote & `dvc push`
5. Move to fresh python environment
6. `pip install dvc`
7. Clone repo
8. `dvc pull -v`

### E

[2021-10-26 15:58] ClemensA4t1qbit opened #6873 "dag: complains about missing grandalf module (MacOS homebrew)"
# Bug Report

## Description

Using dvc inside a `pyenv`-managed virtualenv. Running `dvc dag` produces output

[code]

### Reproduce
* Install dvc on MacOS (latest version) via `brew install dvc`
* Create git repo
* Add a few stages via `dvc run ...`
* `dvc dag`

### Expected

DAG should be printed in the terminal

### Environment information

[code]

**Additional Information (if any):**

[code]

[2021-10-26 16:38] daavoo opened #6874 "`exp show --json`: Interaction with other flags"
Currently, the `--show-json`/`--json` option would return the "raw" results of the internal `repo.experiments.show`.

Any other flags that modify the content of the table don't have any effect on the generated JSON. However, other kinds of outputs (i.e. `--show-csv`/`--csv`) are actually affected.

The docs/help only say that: "prints the command's output in easily parsable JSON format, instead of

[2021-10-26 18:26] aveek-brahmachari opened #6875 "DVC does not tell me if a dvc push is yet to be done"
Suppose *.dvc is committed in git and dvc push was not done and later we dont remember which file was not pushed, I dont see a simple method of knowing this.

I can clear cache and dvc pull again to find which md5 is missing both locally and remotely, but thats exactly what dvc status needs to do. clearing cache and pulling again is time consuming.

[2021-10-27 03:15] JoshuaLevySri opened #6877 "push: fails with NoneType found if given username but no password"
# Bug Report

dvc push gives me this:
[code]
because I set a username, but not a password using `dvc remote modify --local owncloud user`, but never set the password.

This is a bug, because dvc push should give me a reasonable error message.

Here is your stack trace:
[code]

[2021-10-27 03:41] #6877 closed, assigned to nobody

[2021-10-27 04:31] skshetry opened #6878 "pyarrow 6 available for Python 3.10"
Pyarrow 6.0.0 added support for Python 3.10 and is now available.

We don't need to update our requirement though, we would just need to get rid of python requirement below:
https://github.com/iterative/dvc/blob/0d895e26612a749ced21ac9afb226881b1a79cd1/setup.cfg#L104

We also need to unskip hdfs tests for Python 3.10 which were skipped in https://github.com/iterative/dvc/pull/6422.

@iterative/dvc

[2021-10-27 12:33] UshakovDV opened #6879 "Error: webdavs httpx.ProxyError with Jfrog Artifactory"
# Bug Report

## webdavs httpx.ProxyError with Jfrog Artifactory

I have a problem connecting to Jfrog Artifactory via dvc, I can connect and work with Artifactory directly with the Python client, but when I try to work with Artifactory using dvc, I get httpx.proxyerror: [Error 0] Error.
My best guess is this is a problem in webdav.

## Config file

[code]

### LOGS
[code]

[2021-10-27 16:15] #6873 closed, assigned to efiop

[2021-10-28 01:00] rtimpe opened #6883 "Adding a file to an already tracked folder"
I'd like to add a file to a folder that is tracked by dvc without having to first `dvc pull` the folder (which is very large and doesn't need to be present on every machine with a copy of the repo).  This is the same situation as described in this [stackoverflow question](https://stackoverflow.com/questions/67421254/how-to-add-a-file-to-a-dvc-tracked-folder-without-pulling-the-whole-folders-con).

[2021-10-28 09:00] inn-home opened #6884 "Thread join() timed out in cmd.handle_process_output(). Timeout=10.0 seconds"
dev get timed out.

Example: dvc get --rev (git resource)

Description:
I encountered an error about timeout in the pull model,The command is:
`dvc get --rev (commit ID) git@resource the model path`
The error:
`unexpected error - Thread join() timed out in cmd.handle_process_output(). Timeout=10.0 seconds`

I have tried other models in the same project and there is no problem, but this one cannot

[2021-10-28 12:58] mike0sv opened #6885 "open_url for opening non-git files"
There is `get` and `get-url` in cli, `get-url` can download files that are not necessary in dvc or git repo.
And there is only `open` in `dvc.api`. It would be nice to have `open_url`, which operates like `get-url`

[2021-10-28 14:33] lambda-science opened #6886 "dvc[ssh] generate weird error with Poetry env manager."
# Bug Report

 dvc[ssh] can't be added to a project using Poetry env manager.

## Description

When I create my package environnement using Poetry adding dvc with [ssh] extra create a weird unrelated error.
(This issue is crossposted on Poetry git here https://github.com/python-poetry/poetry/issues/4683 ).

### Reproduce

Minimal failing example:
1. poetry init
2. poetry add dvc[ssh]
3. poetry ins

[2021-10-28 20:28] #6883 closed, assigned to nobody

[2021-10-29 18:51] daavoo commented on #5515
Two questions:

A) Should `Change` be included by default ??

I might be biased but in my personal experience, but the "Change" value is kind of awkward mostly (sometimes overflowing the float diff, others mixing diffs that don't make sense).

I would vote for hiding it by default and making it optional.

B) Should there be an option to hide `a_rev` (previously "Old") at all?

IMO the only case wh

[2021-10-30 09:59] karajan1001 opened #6892 "Machine: use table for machine list and status outputs"
Current, machine list output follows the `dvc config -l`. Which is not suitable in showing multiple machines. Considering use table to replace it.
[code]

[2021-10-31 15:18] aveek-brahmachari commented on #6875
$ dvc doctor
DVC version: 2.7.4+0eda4b
---------------------------------
Platform: Python 3.9.7 on Windows-10-10.0.19042-SP0
Supports:
        gdrive (pydrive2 = 1.10.0),
        http (aiohttp = 3.7.4.post0, aiohttp-retry = 2.4.5),
        https (aiohttp = 3.7.4.post0, aiohttp-retry = 2.4.5),
        ssh (sshfs = 2021.9.0)
Cache types: hardlink
Cache directory: NTFS on C:\
Caches: local
Remotes: s

[2021-10-31 18:55] efiop commented on #6875
@aveek-brahmachari Could you show an example of the output that you get?

[2021-10-31 19:13] shcheklein opened #6894 "plots show: on Windows generates broken HTML"
# Bug Report

On Windows when plot HTML is generated we don't properly generate DIV `ids`. Probably the problem is this `replace`:

`div_id = f"plot_{self.filename.replace('.', '_').replace('/', '_')}"`

### Reproduce

Create a an empty project, add a CSV file `exp\test.csv` in it, add content like this:

[code]

Run `dvc plots show -t confusion --open .\exp\test.csv`

It should be giving:

[code]

[2021-10-31 19:20] shcheklein opened #6895 "version: should be resilient to certain errors with particular mount points"
# Bug Report

We test all mount points to collect as much info as possible:

[code]

On Windows with a tool like `https://disk-o.cloud/` that mounts on `Z:` it leads to errors like this and it breaks the whole `dvc version` command:

[code]
### Environment information

[code]

[2021-11-01 11:00] pared commented on #6324
Closing as stale. We can reopen if the problem persists.

[2021-11-01 11:00] #6324 closed

[2021-11-01 12:11] hosszubalazs opened #6899 "dvc pull: failed to pull data from the Azure Blob in GitHub Actions"
# Bug Report

## Description

`dvc pull` fails in GitHub Actions with an auth issue when accessing Azure Blob Storage. The same actions worked yesterday, and still work correctly on my dev machine.
In GitHub Actions I receive the following error message:
`ERROR: failed to pull data from the cloud - Authentication to Azure Blob Storage via account key failed.
Learn more about configuration settings

[2021-11-01 12:14] hosszubalazs commented on #6899
potentially relates to https://github.com/iterative/dvc/issues/6844

[2021-11-01 12:48] hosszubalazs commented on #6899
aiohttp 3.8.0 seems to cause the problem. Downgrading to 3.7.4 is a possible workaround:
[code]

[2021-11-01 13:23] skshetry commented on #6899
Our tests have been failing for the same reason since today morning: https://github.com/iterative/dvc/actions/runs/1406080970,

[2021-11-01 14:01] friggog commented on #6899
Also having issues on Azure DevOps pipelines after aiohttp update to 3.8.0 with `ERROR: unexpected error - aiohttp package is not installed` on `dvc fetch`

As suggested, limiting `aiohttp<3.8.0` resolves the issue - weirdly I don't get the problem locally as far as I can tell

[2021-11-01 14:15] #6878 closed

[2021-11-01 14:41] skshetry commented on #6899
Opened https://github.com/Azure/azure-sdk-for-python/issues/21516 on the upstream.

[2021-11-01 14:54] skshetry commented on #6899
The current workaround is to either restrict `aiohttp` to `<3.8.0`, or add a dependency `chardet` or `cchardet` (C ext) till it gets fixed upstream.

[2021-11-01 14:54] pared commented on #6354
We got a request on our chat where the user would like to reproduce as many stages as possible:

When having multiple independent stages, when one of them fails, all are halted.
It seems to me that solving this issue could help introduce that.

Context: https://discord.com/channels/485586884165107732/485596304961962003/904736608950046750

[2021-11-01 14:55] dberenbaum commented on #6892
Take a look at `dvc remote list`. It seems like `dvc machine list` should be similar.

[2021-11-01 16:25] #6899 closed

[2021-11-01 19:40] casperdcl opened #6904 "prioritising zsh sub-subcommand completion"
How many users are affected by https://github.com/iterative/shtab/issues/33? Some metrics would be nice in order to ascertain whether it's worth spending some time to implement.

[code]

[2021-11-01 19:41] casperdcl commented on #6904
btw feel free to remove unneeded labels :)

[2021-11-01 20:54] efiop commented on #6904
Can't find any particular tickets and don't remember anyone complaining in quite awhile. Maybe someone will respond now, but so far looks like this is not high priority.

[2021-11-02 00:37] skshetry commented on #6899
This has been fixed upstream, so it should be resolved automatically.

[2021-11-02 01:59] #6804 closed

[2021-11-02 06:59] skshetry commented on #6354
Another nice thing to have that'll be great for testing: support for running Python function instead of a command.

[2021-11-02 08:13] Skn0tt opened #6907 "Incremental stages for append-only datasets"
We have a use case where we receive data on a weekly basis, each week is a new CSV. This data is pulled in from an external GitLab repository, and we use DVC's `import` feature to pull it into our repository.
To make querying easier, we want to join all the CSVs into one big SQLite database. Naïvely, we might recreate the whole SQLite every week, reading in all of the preceding week's data again.

[2021-11-02 08:14] Skn0tt commented on #6907
One thing I considered is wether DVC could inject an environment variable into stages that contains all the dependencies that led to reproducing the stage. Considering that `dvc.lock` only tracks the directory-level checksum, not individual file checksums, I assume this might require a bigger lift than I had hoped.

[2021-11-02 08:23] Skn0tt commented on #6907
Haha, should've done some more digging in the issues: https://github.com/iterative/dvc/discussions/5917#discussioncomment-1241082

Closing!

[2021-11-02 08:23] #6907 closed

[2021-11-02 09:42] amka66 commented on #5037
I think this is not a feature request but rather a bug.

I would like to reduce the cache as it is eating up my hard drive, but i cannot do it due to one or two broken .yaml files in my git commit history.
@efiop or anyone, please help, what can i do?

Unless there is a reasonable solution, I am stuck we a full hard drive. This requires a quick resolutions. Thanks!

[2021-11-02 09:52] skshetry commented on #6865
It makes sense to fail right away for the params as we need them to exist for us to create a stage. I am not so sure about other dependencies, we tried to decouple the runtime behaviour with the metadata tracking behaviour on `stage add`.

[2021-11-02 12:32] pared opened #6911 "plots: loading templates from pyinstaller breaks binary builds"
In #6550, as @skshetry [noted](https://github.com/iterative/dvc/pull/6550#issuecomment-943070426)
Templates were not added to binary builds.

As a result, when running `dvc init` using binary package, we would not produce the templates in `.dvc/plots`.

[2021-11-02 13:18] #6642 closed

[2021-11-02 13:19] #6443 closed

[2021-11-02 13:57] UshakovDV commented on #6879
Problem was on my side with proxy, I close the problem

[2021-11-02 13:57] UshakovDV commented on #6879
Problem was on my side with proxy, I close the problem

[2021-11-02 13:57] #6879 closed

[2021-11-02 14:49] #6854 closed

[2021-11-02 15:38] daavoo opened #6915 "bar chart"

[2021-11-02 17:00] efiop opened #6916 "replace index and state with one (workspace? fs?) index"
Both our state and index db, do the same thing: they store information about files that exist on a particular filesystem along with some metadata. They currently use different formats, but they could be unified into one general
filesystem index. This is kinda similar to git's `index`, but is much more generalized for arbitrary filesystems/clouds.

Having one fs index, will also allow us to general

[2021-11-02 17:01] dberenbaum opened #6917 "exp init: --explicit not working"
# Bug Report

## Description

`dvc exp init --explicit` fails.

### Reproduce

In a fresh dvc repo:

[code]

### Environment information

DVC version: 2.8.3.dev13+g5690015e

[2021-11-02 21:48] wdixon opened #6919 "update: fails to delete part of the temporary git clone"
# Bug Report

## update: fails to delete part of the temporary git clone

## Description

Trying to update a dvc resource with dvc update, and it succeeds, but fails to remove the temporary git clone:
[code]
### Reproduce
[code]

### Expected

removal of the temp clone

### Environment information

**Output of `dvc doctor`:**

[code]

[2021-11-03 00:16] dberenbaum opened #6920 "exp push: fails"
# Bug Report

## Description

`dvc exp push` is failing.

### Reproduce

1. Fork https://github.com/iterative/example-dvc-experiments and clone the fork.
2. Run experiments.
3. Try to push experiments.

Output:
[code]

[2021-11-03 10:57] #6917 closed

[2021-11-03 12:45] pared opened #6923 "plots: adjustments for viewer"
Recently there has been some pull requests to `plots` aiming to make DVC API more compatible with the viewer.
I am creating an umbrella issue to keep track of that.

Desired changes:
- [x] plots: provide a way to load datafiles one at a time, to not utilize too much memory
  - #6793
  - #6832
- [x] plots: separate rendering from brancher data processing to unify how we generate datapoints for vega

[2021-11-03 14:56] daavoo commented on #6451
I can relate to that workflow but I don't know how to make `exp diff` more useful. Having some additional info (i.e. data files) present in `exp diff` but not in `exp show` feels a little strange to me.

Maybe I'm biased from being used to pandas DataFrames for this kind of analysis but I only see `exp diff` as a [reshaped view ](https://pandas.pydata.org/docs/user_guide/reshaping.html) of `exp sh

[2021-11-03 17:58] dberenbaum opened #6927 "remote: test"
Question from DVCLearn:

Is it possible to have a dvc remote test to check if your credentials are correct before you proceed?

[2021-11-03 19:09] dacbd commented on #6927
example being:
`dvc remote <name> test`  exit code 1 or 0

[2021-11-03 19:11] dacbd commented on #6927
useful to check that permissions are correct to use the dvc remote
or
to verify remotes are reachable by a CI or other system

[2021-11-03 21:17] dberenbaum commented on #6451
I can think of a couple ways a separate `diff` command might be useful:

1. More detailed info that doesn't fit in `exp show` as already mentioned. What about plots, for example? Do you anticipate them eventually being included in `exp show`? Could they be included in `exp diff`?
2. Direct comparisons between two revisions that don't make sense for many revisions. Should `exp diff` be limited to t

[2021-11-04 07:16] karajan1001 commented on #6920
I tried a self push and it succeeded.
[code]
But can not push to the origin, maybe because of permission? and the strange thing is that my error is different from yours.

[code]

[2021-11-04 07:41] karajan1001 commented on #6927
I usually use

[2021-11-04 07:45] karajan1001 commented on #6892
It only shows name and address in `dvc remote list`, while `machine list` show several fields.
Much less readable for users to align each line.
[code]

[2021-11-04 12:28] mattlbeck opened #6930 "exp apply: safeguard against unclean workspaces"
`dvc exp apply` will clear the workspace of untracked files and unstaged modifications. To prevent users losing work, it would be good to follow git's convention of preventing overwriting of untracked/modified files unless the user gives explicit permission.

* If `dvc exp apply` is executed on an unclean workspace, fail with a suggestion to stash work or specify a `--force` flag
* `dvc exp apply

[2021-11-04 12:34] daavoo commented on #6930
Related: https://github.com/iterative/dvc.org/issues/2397

[2021-11-04 13:10] #6863 closed

[2021-11-04 13:13] dberenbaum commented on #6920
Hmm, on the one hand, that makes it pretty likely this is a personal issue and not a DVC one, but on the other I wonder why it's so flaky?

Can you do `dvc exp push --no-cache origin exp-96581`? This still fails for me.

I can push via http like `dvc exp push --no-cache https://dberenbaum:<token>@github.com/dberenbaum/dvc-checkpoints-mnist.git exp-b6560`.

[2021-11-04 13:47] karajan1001 commented on #6920
Behave the same, because the cache in `--no-cache` here is about the dvc cache, and the failure comes from the git permission.

[2021-11-04 14:07] dberenbaum commented on #6920
Right, just checking. So you are consistently getting the connection lost error? And is it the same for you with ssh or http?

[2021-11-04 14:12] karajan1001 commented on #6920
The exactly same error for me.

[2021-11-04 14:34] dacbd commented on #6927
@karajan1001 that seems to function close to what I'm looking for.

One test exited with `255` maybe it reflected the HTTP status code to the exit code?
Also, it looks to have only reached out to the default remote?

[2021-11-04 15:02] daavoo commented on #6927
You can pass a specific remote name `dvc status -r {REMOTE_NAME}` . See https://dvc.org/doc/command-reference/status#options

I was about to also suggest `dvc status -c` as an alternative but also found some strange return codes.

[2021-11-04 15:36] dacbd commented on #6927
would it be very feasible to support pipes? like `dvc remote list | dvc status -r`
or
machine-friendly output for something like `dvc status -r $(dvc remote list -l)`  with `-l` dropping the like of s3 uri, functionally `dvc remote list | awk '{print $1}' | tr -t '\n' ' '`

[2021-11-05 15:46] dberenbaum opened #6932 "exp show -T: show tag names"
When doing `dvc exp show -T`, it would be great to see the tag names in the table instead of the revision numbers and branch names. If there are multiple tags for a commit, we could either show it twice or pick one, but it's still probably more useful than not actually showing any tag names.

[2021-11-05 15:52] daavoo commented on #6932
Duplicate https://github.com/iterative/dvc/issues/6383 ?

[2021-11-05 17:12] #6932 closed

[2021-11-06 04:35] sjawhar opened #6934 "exp run: missing dependencies of frozen stages raise an error"
# Bug Report

## Description

When calling `dvc exp run` with a frozen stage, an error is raise if dependencies of that frozen stage or outputs of stages before that stage are missing in the project directory.

### Reproduce
[code]

1. Save the dvc.yaml above
1. `dvc config --local cache.type reflink,hardlink,symlink`
1. `echo start > start.txt`
1. `dvc repro`
1. `rm $(readlink dep/dep.txt) start.

[2021-11-06 22:30] sjawhar commented on #6886
I've run into this issue as well. I believe the bug is in Poetry's dependency resolver (I debugged it a bit). As a temporary workaround for the OP, you'll be able to lock your poetry venv if you add bcrypt as a dependency in pyproject.toml

[2021-11-07 03:17] karajan1001 commented on #6934
I'm sorry,

[code]

This will run all of the stages in `dvc.yaml` and I didn't see any `frozen` flag in your `dvc.yaml`. I tried to use `dvc freeze frozen`  to freeze the `frozen` stage and run `dvc exp run next` it shows something below:
[code]

[2021-11-07 03:45] sjawhar commented on #6934
Sorry, I just forgot to add the `dvc freeze frozen` step before step 8. I'll amend the instructions above.

[2021-11-07 16:20] gudmundur-heimisson opened #6935 "Allow passing fsspec options to WebHDFS to enable Kerberos and https"
After #6662 it is no longer possible to use custom hdfscli clients with WebHDFS, as a result we are no longer able to connect using Kerberos or HTTPS.

fsspec allows passing in options to enable kerberos and https, we simply need to pass them through and expose them in the DVC config file:
https://filesystem-spec.readthedocs.io/en/latest/_modules/fsspec/implementations/webhdfs.html

This would als

[2021-11-07 18:42] #6935 closed

[2021-11-08 07:46] karajan1001 commented on #6934
Still can not reproduce here.
[code]

errors only come from stage `dep` which lacks dependency `start.txt`. Looks like we are in different link type, and my configuration did not work.

[code]

[2021-11-08 14:30] dberenbaum opened #6940 "config --local: disable/remove help text for irrelevant commands"
Extracted from https://github.com/iterative/dvc/pull/6855#issuecomment-962764180:

[2021-11-08 17:03] iesahin commented on #6920
I get this error in `dvc exp list` and `dvc exp push` when I use ssh URLs for a Git repository. When I use `https` URLs, `dvc exp list` works fine.

[2021-11-08 20:57] sjawhar commented on #6934
This is me following the steps outlined above and producing the error
![dvc-exp-run-error-2021-11-08_12 01 02](https://user-images.githubusercontent.com/5074378/140816898-0914298b-de01-425d-89ee-38ede32cb384.gif)

[2021-11-09 06:34] Viktor2k commented on #2036
Any updates on this feature?

[2021-11-09 12:18] pared opened #6943 "plots: extract data processing out of renderers"
We need to extract conversion of `dvc.plots.show` data to vega-elgible datapoints out of `VegaRenderer`.
There are two main resons for that:
1. So that studio can use the same codebase for datapoints conversion as we do
2. So that we can remove dependency from Repo class from Renderers: https://github.com/iterative/dvc/blob/4175f9ffa4948157436283bef11153a7233e90ca/dvc/render/vega.py#L113 - templat

[2021-11-09 12:40] efiop commented on #6813
@SokolovMichail Could you try:
[code]
and then trying `dvc push` again? Please make sure `dvc doctor` indicates correct version and `pip` as a package type.

We've migrated from paramiko to asyncssh, so there is probably something special about your environment that was enabled by default in paramiko, but is not enabled by default in asyncssh. The command above will install additional extras, just

[2021-11-09 12:40] mike0sv commented on #6885
Sorry for long delay. The problem is that I dont know beforehand if the file is in dvc cache or not. And if it is in git repo or not. I could of course check this in runtime, but since get-url exists that does that for me, I proposed similar alternative for `api.open`.
Btw, I seems that `get_url` doesnt work with urls like `https://github.com/org/repo/tree/branch/path`, but that might be aonther i

[2021-11-09 12:57] pared opened #6944 "plots: extract rendering functionality to separate lib/submodule"
I think we need to discuss extracting `dvc.plots.show` to a separate lib.

### Why?
1. `dvc plots` used to be only about Vega, and we made the user use a particular convention (saving plots as data files) in order to provide meaningful results in `dvc plots show/diff` commands.
2. turns out its hard to force user's to use only one convention - hence iterative/dvc#6431, and ideas like iterative/dvc

[2021-11-09 13:24] efiop commented on #6563
For the record: the fix got merged and released in aiobotocore, but s3fs is pinned for now to the older one https://github.com/fsspec/s3fs/issues/528 🙁

[2021-11-09 15:38] zvealey opened #6945 "repro: stage usign abspath vs repo using realpath"
When trying to reproduce a stage using the dvc.yaml file and the repro command on NFS mounted directory, DVC throws this error:

[code]

[2021-11-09 16:05] pared commented on #6945
We tried to track the problem with @zvealey and here are the results:

It seems that the culprit is:
[`Stage.path_in_repo`](https://github.com/iterative/dvc/blob/4175f9ffa4948157436283bef11153a7233e90ca/dvc/repo/index.py#L245) call.
So, `Stage.path_in_repo` tries to evaluate:
`relpath(self.path, self.repo.root_dir)`. The problem here is that `self.path` is `S://...` (NFS repo path) while the `self

[2021-11-09 22:52] #6774 closed

[2021-11-10 07:34] karajan1001 commented on #6940
In #6440

Only `add`, `remove`, `list`, and `modify` needs `--local/project/system/global` flag.

Remove them in `create`, `destroy`, `rename`, `status`, `ssh`.

[2021-11-10 09:33] rnwind commented on #6813
@SokolovMichail and I work in the same company.
I met the same issue. Downgrade to dvc 2.5.4 have helped.

[2021-11-10 11:34] efiop commented on #6813
@rnwind What about the recipe from my last comment above, could you give it a try, please?

[2021-11-10 12:17] pared opened #6952 "dvc.yaml: handling .gitignore in dvc.yaml driven workflow"
Sometimes we want to conduct our project by editing the `dvc.yaml` (eg #5371).
If we want to to support this kind of workflow, we should discuss how are we handling `.gitingore` file.

Lets take for example the following reproduction script:

[code]

We have create a workflow that simply copies `data` into out. The `echo` takes care of modifying the `dvc.yaml` so that the `out` has `cache: False`.

[2021-11-10 12:46] daavoo commented on #6952
This won't really solve the issue but we could add a validator in `dvcyaml-schema` for outputs with `cache: False` checking that they are not gitignored:

https://github.com/iterative/dvcyaml-schema/blob/master/gen.py#L17

We should be really encouraging `dvcyaml-schema` for workflows involving manual editions of `dvc.yaml`

[2021-11-10 13:34] a-rostek opened #6953 "Negative numbers from a Python file are not recognized as parameters"
# Bug Report

## dvc repro: does not recognize negative numbers from a Python file as parameters

## Description

When trying to do ```dvc run``` or ```dvc repro``` with a stage whose parameters include a negative number in a Python file there is this error:
[code]
However, when using YAML files instead of Python, everything works as expected.

### Reproduce

1. ```git init```
2. ```dvc init```
3.

[2021-11-10 13:44] daavoo commented on #6511
Coming from https://github.com/iterative/dvc/issues/6953 , It looks like we are not really using `ast.literal_eval`

[2021-11-10 14:25] skshetry commented on #6511
I was probably confused because I added a fallback to `ast.literal_eval` as you did in #6954 in https://github.com/iterative/dvc/pull/5778/files#diff-211ccb0a18f425ffc07246dcf8aadc58eb83b04ad4d9eb71f6b70e19654773adL180-R210, but was not able to complete it. Anyway, we should try to have the same behavior as `ast.literal_eval` as much as possible.

[2021-11-10 14:52] #5966 closed

[2021-11-10 15:06] pared commented on #6263
When talking about executor, have we been considering a use case where only particular stage gets executed on executor?

context:
https://discord.com/channels/485586884165107732/485596304961962003/908007017241788497

[2021-11-10 15:09] dberenbaum commented on #6952
This is tricky because sometimes users intentionally set cache to false and ignore in Git. For example, see `data/images/` in https://github.com/iterative/example-dvc-experiments.

[2021-11-10 15:18] dberenbaum commented on #6263
It's not in the plans right now, but it's been discussed. Doing it once should be easy by specifying a single stage to run as a remote experiment. Having `dvc.yaml` specify the permanent machine to use for each stage is more complex but should be doable.

[2021-11-10 16:55] daavoo commented on #6952
Not sure if the following difference matters at all (agree it is tricky) but:

In that example repo, the user is manually adding the `cache: false` output to `.gitignore`: https://github.com/iterative/example-repos-dev/blob/master/example-dvc-experiments/generate.bash#L51

However, in the described workflow the `.gitignore` entry was added by DVC so the user might not be aware of that, and so the

[2021-11-10 17:28] PythonFZ opened #6956 "Possible Issue with Python 3.9.8"
# Bug Report
I am sorry in advance for this incomplete Bug Report.

I am writing a package that depends on / is built for DVC.
In our CI testing we encountered an Issue with the new Python 3.9.8 release which was not present in 3.9.7.
Running the same CI with with Python 3.9.7 did not fail.

Typically I would assume that this is an issue with our software, but it occurs in a subprocess call which

[2021-11-10 17:31] efiop commented on #6956
@PythonFZ Thanks for reporting this issue! 🙏 We are already working on it.

[2021-11-10 17:32] bobertlo commented on #829
I just want to +1 this method. I have been doing some tests on a personal project using the [restic chunker](https://github.com/restic/chunker) implementation, but the algorithm is not important. Testing some different datasets and large binary files I had some great results with this method.

Other benefis are that these blocks are ~1-2MB and work very nicely with protocols like HTTP and the resu

[2021-11-10 17:37] pared commented on #6956
Not sure if its related but `--quiet` stopped working too... Invesitgating...

[2021-11-10 18:03] efiop commented on #829
@bobertlo Great info! We didn't really pick a specific approach yet, as we've been mostly busy with rebuilding our data management architecture to suit any new features like that. Right now the internals are somewhat ready for working on chunking specifically (e.g. objects/checkout/staging/db/etc in dvc/objects), but we need to finish up a few other things, so we are planning to start implementing

[2021-11-10 22:30] mike0sv commented on #6494
My 2 cents, in mlem we have `mlem get` cli command (and `mlem.api.get` respectively), and it can be used with `https://github.com/org/repo/path` or `https://github.com/org/repo/tree/rev/path` directly or with `path --repo https://github.com/org/repo --rev rev`. Internally it just constructs value from first examples from repo and rev arguments

[2021-11-10 22:31] mike0sv commented on #6885
If this will be transposed to `dvc.api.open` as well, that will do the job

[2021-11-10 22:46] pared commented on #6956
@PythonFZ thanks for the heads up! Looking at how the [issue develops](https://bugs.python.org/issue45235) it seems that this particular fix will be [scrapped](https://bugs.python.org/msg406123). The workaround, for now, will be to downgrade the CI python version to `3.9.7` and wait for the release after revert.

[2021-11-10 23:28] efiop commented on #6956
Keeping open until we decide on https://github.com/iterative/dvc/pull/6958#issuecomment-965834949

[2021-11-11 02:24] #6865 closed

[2021-11-11 02:57] #6263 closed

[2021-11-11 03:42] octagomez opened #6962 "[HELP] Error when installing dvc, in Gdrive from Colab"
# Bug Report

## Description
Hi everyone!
I am a student and I am starting in the field of data science, I hope you can help me, since I can not start the work environment.

Describe the current behavior:
I am installing dvc in the project that is hosted on drive and executed from colab.
When executing the line of code
'! dvc run -n prepare \
          -p prepare.seed, prepare.split \
          -d

[2021-11-11 04:10] skshetry commented on #6962
This is failing when dvc tries to hardlink.
[code]

<details>
<summary>Error log</summary>

</details>

[2021-11-11 04:41] skshetry commented on #6962
@octagomez, could you please try installing DVC using following command and see if that fixes for you? I'll make a PR shortly.

[code]

[2021-11-11 04:51] maheshreddy-agi opened #6964 "Why data is not in readable format when we push data to s3"
# Bug Report

    Why data is not in readable format when we push data to s3

## Description

      When I'm pushing data to S3 using DVC, there in S3 data is not readable format.
      What to do, if I want the data should be in readable format in S3 when push data using DVC

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (i

[2021-11-11 07:14] efiop commented on #6962
For the record: a workaround is to rollback to 2.8.2 or earlier.

[2021-11-11 10:39] manuelbastuck opened #6965 "add: hardlink limit stops execution with many identical files"
# Bug Report

## Description
When `add`ing many (on NTFS: >1024) identical files (i.e. files with the same hash), the process stops at some file (not always the same) with the message:
[code]
This only happens when "copy" is explicitly excluded as a link type, otherwise, it will fall back to "copy". The reason seems to be that the number of possible hardlinks to one file is limited to 1024 on NTFS

[2021-11-11 11:51] pared opened #6966 "import-url: https: raises TypeError"
Seems that after #6946 we broke `import-url`.

eg:
[code]

results in:
[code]

cc @efiop

[2021-11-11 12:05] daavoo opened #6967 "`exp show`: Support persisting options"
`dvc exp show` currently has a fair amount of [options](https://dvc.org/doc/command-reference/exp/show#options) to customize the output.

When comparing with `dvc plots show`, we provide a `dvc plots modify` mechanism for persisting options.

I think it would be convenient for users if we provide a similar mechanism to persist the options used by `dvc exp show`.

[2021-11-11 12:05] daavoo commented on #6967
If we opt for implementing a separated plots section in `dvc.yaml` (discussed in https://github.com/iterative/dvc/discussions/5980), we could consider the table generated by `dvc exp show` as just another plot and reuse the `plots modify` mechanism.

[2021-11-11 12:08] skshetry commented on #6964
Hi, @maheshreddy-agi, DVC stores data in a content-addressable format and handles de-duplication of files, but the content of the file is still readable and is not mangled. However, the name of the file is not preserved and the file name is the cache of the file itself. You can use [`dvc.api.open`](https://dvc.org/doc/api-reference/open) to read files using the path of your file.

If you face any

[2021-11-11 13:48] SokolovMichail commented on #6813
I tried using the provided commands.
Upon executing the latter command, I was greeted with this:
[code]

[2021-11-11 14:55] bobertlo commented on #829
@efiop Great! I'm excited to follow this development :) RE: the chunk size, it is fairly arbitrary. Most existing implementations have interfaces for adjusting the match threshold on the hash and/or concatenating/truncating adjacent chunks.

I just want to share some proof of concept tests I ran on simulated datasets. To synthesize these, I pulled some (related) docker images, installed packages t

[2021-11-11 15:34] iesahin commented on #6920
Any updates on this?

[2021-11-11 16:19] skshetry commented on #6836
After #6961, we won't have any `logger.info` calls in `scm`, we still have some `logger.debug` calls. Most of those are in `scm.stash` and is being used by `Experiments`. I could remove those logs or move those calls to where it's being used.

But looking at the `Experiments`, I wonder if we should split the `stash`-ing part out of it to a separate place? This is not required for this, but it is n

[2021-11-11 17:15] tomasrene opened #6968 "dvc exp show: outputs a binary file in macOS"
# Bug Report

## Issue name
dvc exp show: outputs a binary file in macOS

## Description
The output of dvc exp show says it's a binary file so the results is not human-readable.

### Reproduce

1. following the example in https://dvc.org/doc/start/experiments
2. dvc exp run
3. dvc exp show

### Expected

Viewing the table of run experiments on the console.

The results is:
"/var/folders/yp/dn9q0y8

[2021-11-11 19:37] dberenbaum opened #6969 "exp init: exclude `metrics.json` and `plots` from default paths in `dvc exp init --type=live`"
# Bug Report

## Description

When using the `live` type in `dvc exp init`, `metrics.json` and `plots` appear under the default paths in interactive mode when showing the assumed workspace structure.

Also, `plots` is included as an output in non-interactive mode.

### Reproduce

[code]

Also, the `plots` output is included by default when using `live` type but not interactive mode:

[code]

### E

[2021-11-11 19:37] dberenbaum commented on #6969
Related question: @daavoo Do you think a plots output should be included in dvclive stages?

[2021-11-11 20:14] efiop commented on #6965
@manuelbastuck are symlinks enabled on your system? If they are not, would it be possible to turn them on?

Regarding the problem itself, a semi-efficient way might be to group duplicate links by 1023, so there is at least some deduplication, but that will be tricky and might be too fragile. I suppose files in question are pretty small, right? We have some optimization that just creates empty file

[2021-11-11 20:38] #6962 closed

[2021-11-11 20:39] dberenbaum opened #6970 "gc: clarify behavior of cloud/remote options"
Extracted from https://github.com/iterative/dvc.org/pull/2917#discussion_r747749772:

Warnings should be clarified with respect to using `--cloud` and `--remote` options. Also, should `--remote` imply `--cloud` so that both aren't required?

[2021-11-11 21:43] octagomez commented on #6962
Hi @skshetry  and @skshetry
I can run the link and the problem is solved.
Do you want me to attach the log?

Thank you.
I am very grateful

[2021-11-11 22:54] #6966 closed

[2021-11-12 00:37] efiop commented on #6920
Likely caused by https://github.com/iterative/dvc/pull/6797

[2021-11-12 05:02] skshetry commented on #6969
The `plots` definitely is due to typo, the following should be `plots` instead:
https://github.com/iterative/dvc/blob/264d78b637690f541ee1e4a7ca73b433afb383dd/dvc/repo/experiments/init.py#L307

[2021-11-12 05:36] #6969 closed

[2021-11-12 08:25] manuelbastuck commented on #6965
Yes, it's still complete, but I will have to know to allow "copy" as cache type before doing a new checkout. Granted, the error message literally says `To re-link these targets, reconfigure cache types`, but if a new user (like me) just wants to get back to the original state, and `dvc checkout` keeps failing, the assumption could be that `dvc destroy` will reset the initial state of the working c

[2021-11-12 09:11] karajan1001 commented on #829
`zstd`, Yes this reminds me that in previous we didn't use compression for data storage because it will make the current quick checkout disabled. As the splitting of data will also break the quick checkout, maybe it is time to reconsider it? As it will save the storage and accelerate the data transfer?

[2021-11-12 10:11] a-rostek opened #6974 "dvc exp run --set-param does not change parameter values from a Python dict"
# Bug Report

## dvc exp run --set-param does not change parameter values from a Python dict

## Description

When trying to do ```dvc exp run --set-param my_params.py:my_dict.my_key=3``` the parameter value is not changed to 3, it remains the same as previously. The output is:

[code]

### Reproduce

1. ```git init```
2. ```dvc init```
3. dvc.yaml
[code]
4. my_params.py
[code]
5. ```echo dummyStr

[2021-11-12 11:01] karajan1001 commented on #6970
Yes, it is quite confusing, only after tried myself can I ascertain its behavior.

[2021-11-12 11:33] nils-werner commented on #1827
This doesn't seem to work for Git remotes:

[code]

fails with

[code]

[2021-11-12 12:05] pared opened #6975 "tests: wait for python 3.9 rerelase"
The task to clean up after https://github.com/iterative/dvc/pull/6958.

Bug discussion: https://bugs.python.org/issue45235

It seems that python 3.9 gets rerelase.
Other python versions should not be affected as the change has been already reverted, and the next release is python 3.10, on the 6th of December.

[2021-11-12 13:22] earonesty commented on #6895
this is a bug in python 3.9

[2021-11-12 15:40] daavoo commented on #6444
This could be closed, right?

[2021-11-12 15:42] daavoo commented on #6446
Just wanted to upvote:

At least for the `--type live` option, having the name of the added stage (`live`) to be the same as one of the output fields feels a little confusing

[2021-11-12 16:20] efiop commented on #1827
@nils-werner remote notation is not supported for git arguments in `dvc import/list/get`. Though that is a pretty cool idea for the future (because `remote://` is already confusing in url context, but will be even more confusing if we also use it for git).

[2021-11-12 16:22] wdixon opened #6977 "add: incredibly slow"
# Bug Report

## add: incredibly slow

## Description

I have a dataset that consists of videos (large files) that sit along some metadata in json files.  If the metadata (json files) are updated, if the dataset directory is re-added, it seems to be rehashing everything again?

dataset
+ A
    a_1.avi
    a_2.avi
    a.json
+ B
    b_1.avi
    b_2.avi
    b.json
....

Updating a handful of json fi

[2021-11-12 16:58] #6444 closed

[2021-11-12 16:59] daavoo commented on #6974
I can reproduce

[2021-11-12 17:04] daavoo commented on #6974
There is an issue with how we update the python values:

https://github.com/iterative/dvc/blob/31439754377d829da6babffcc720dd696554d8ab/dvc/utils/serialize/_py.py#L57-L59

Wich only match assignments following that string pattern (" = foo")

[2021-11-12 17:58] meystingray opened #6978 "Using DVC with Windows Sourcetree / GCS"
Series of errors here that results in the the model not getting pushed to Google Cloud Storage.

This is from Sourcetree's MINGW64 git interface:

`dvc init`
ERROR: failed to initiate DVC - G:\My Drive\Location\.dvc is ignored by your SCM tool.
- Add '!.dvc' to .gitignore in root directory, `dvc init` now works.

` git commit -m 'Initialize DVC'`
- Runs Ok

`dvc add "models\MyModelFolder\MyModel.b

[2021-11-12 19:36] dberenbaum commented on #6446
What about naming the types to match the use cases, like classical ml and deep learning? `ml` and `dl`? This might be more user-friendly since it focuses less on the products/features involved, plus `dvclive` might expand to non-deep learning use cases, which makes things even more confusing.

[2021-11-12 19:40] dberenbaum commented on #6920
Confirmed that `exp push` works for me over ssh prior to #6797

[2021-11-12 19:47] dberenbaum commented on #6920
This breaks pushing experiments over ssh, which is our only supported way to authenticate git remotes (https://github.com/iterative/dvc.org/pull/2908/files), and we have a release planned for next week to promote experiments, so I'm setting this to p0.

[2021-11-13 00:23] efiop commented on #6920
For the record: same issue with just running `dvc exp list origin` (just much faster to reproduce than actually running an experiment)

[2021-11-13 00:55] bobertlo opened #6979 "WSL corrupt cache files on `dvc add`"
# Bug Report

@efiop I was able to reproduce this very reliably. Sorry to keep finding this stuff ;)

## Description

dvc cache files are (rarely but reproducibly) being read/written incorrectly and the contents of the cache are not matching their hash after being inserted into `.dvc/cache`

### Reproduce

I have been able to reliably reproduce this. I am finding this with larger datasets. I was t

[2021-11-13 01:11] efiop commented on #6979
@bobertlo md5 that we use is not real md5 strictly speaking, it is something like `md5(dos2unix(data))`. Does `dvc status` after `dvc add` say that stuff is corrupted? What if you remove `.dvc/tmp`, what does `dvc status` say?

[2021-11-13 01:29] bobertlo commented on #6979
Oh wow, I had even heard that before but it did not register.

I spent a long time debugging this because I was taking for granted the input would “match” its content address!

oops! Thanks

[2021-11-13 01:29] #6979 closed

[2021-11-13 02:01] efiop commented on #6979
@bobertlo Good thing there is nothing actually corrupted 😅 FYI: https://github.com/iterative/dvc/issues/4658 We will be switching away from this hash in the future along with chunking.

[2021-11-13 14:55] meiemari opened #6980 "[Errno 25] Inappropriate ioctl for device"
Dear Team,

we have been running dvc from a CircleCi job **successfully** for a while now. Recently, we have suddenly not been able to pull data anymore.

We are running a Linux machine (X large) on CircleCi. The error happens after our job runs `dvc pull -r s3-remote`. Any hints as to what is going on are highly appreciated.

How we install in the cloud:

pip3 install --upgrade pip
pip3 install "

[2021-11-13 16:50] rememberedbound commented on #6904
It's very recently become an issue to me if that helps.

[2021-11-13 20:16] efiop commented on #6980
@meiemari Hi! A workaround for now is to do `dvc config cache.type copy`(or rollback to 2.8.2). The error indicates that reflinks (which are default) are not supported, but we are not catching the error right now. Will send a fix ASAP. Thank you for the feedback! 🙏

[2021-11-15 03:16] skshetry commented on #6904
This is definitely a `p1` for us, as DVC is adding more subcommands like `exp`, `machine`, etc.

I don't think we need to track this here.

[2021-11-15 03:28] skshetry commented on #6974
We can only have basic write support for now (see  #5777). Proper write support will require us to track segments of the source code, which gets complicated to support for dict/list inner items, but can be done. I attempted this on #5778, see https://github.com/iterative/dvc/pull/5778#discussion_r609874039.

Unless we change anything internally, we have to live with these bugs.
Currently, Python a

[2021-11-15 03:35] skshetry commented on #6978
To properly gitignore `.dvc` files, you'd need to add following to the `.gitignore` file:
[code]

Please see https://github.com/iterative/dvc/issues/6256#issuecomment-874826060 and https://github.com/iterative/dvc/issues/6256#issuecomment-875170297 for more information.

Note that this issue is not related to dvc, sourcetree or gcs.

[2021-11-15 03:46] skshetry commented on #6977
I see that you are using `nfs` which could be the issue. Could you please update to `2.8.3` version and try?
Also, would you be able to share with us some profiling information?
[code]

This will generate a `callgrind.dvc-*.out` file that'll provide us with profiling information.
This issue may be related to nfs issues similar to #5132 and #5562, and to other general issues like #5746, #5594, and

[2021-11-15 05:51] pmrowla commented on #6836
@skshetry I think for now we can just remove the debug logging calls from the separated SCM.

Separating the experiments code base into parts for "managed git branches" (including the stash related behavior) and "pipeline/exp execution" is nice to have in the future, but I don't think it needs to be done right now.

[2021-11-15 06:02] pmrowla commented on #6930
This was the original behavior for `exp apply`, but after much discussion the conclusion was that a majority of typical DVC users would always be using `exp apply --force`. So the behavior was changed to force-apply by default (and the `exp apply --no-force` option was added for users who want to disable the default behavior)

[2021-11-15 07:59] pmrowla commented on #6920
The bug is that the way we call `asyncssh.connect()` in our vendor explicitly disables using `ssh-agent` when no SSH key is provided (and the correct way to connect in git-ssh is to use `ssh-agent` here)

[2021-11-15 08:37] karajan1001 commented on #6934
[![asciicast](https://asciinema.org/a/2dSfFIQ6hwCDPyXfgrJmUBfEu.svg)](https://asciinema.org/a/2dSfFIQ6hwCDPyXfgrJmUBfEu)

I switched to a Linux computer but still can't reproduce it, can anybody else reproduce it?

[2021-11-15 09:40] daavoo commented on #6974
Makes sense. However, we could improve some UX interactions and/or remark this on the docs side.

We are currently just ignoring the errors from params that we can't parse, which can cause some crashes afterward and/or unexpected behavior (like this issue).

Perhaps we could just raise errors on unparsed params. Alternatively, we could try to collect the params that we failed to parse and check if

[2021-11-15 11:06] pmrowla commented on #6920
There is an additional issue with github's SSH server when the user is using RSA SSH keys. GH's server does not strictly comply with the appropriate RFC's, which causes asyncssh's client to error out (see linked PR).

When using non-RSA keys (i.e. ed25519 keys), the issue does not occur.

[2021-11-15 11:37] pared commented on #6934
Seems like I am able to reproduce on mac:
[code]

[2021-11-15 12:50] wdixon commented on #6977
I updated to 2.8.3 and basically added a newline to the end of each json file in a directory....

[code]
(updated 32 json files).

the output is attached here.... This took only a few minutes.

[callgrind.dvc-20211115_070423.zip](https://github.com/iterative/dvc/files/7538700/callgrind.dvc-20211115_070423.zip)

Unclear if this had to do with the dvc update from 2.8.2 to 2.8.3?

This time, it seems

[2021-11-15 15:52] #6953 closed

[2021-11-15 16:56] Mastergalen commented on #6977
For what it's worth I'm also experiencing very long processing times while running `dvc add` on a directory.

- The directory is mounted over nfs
- Total number of files in directory: 3920
- Total disk usage: 235.4 MiB
- It has been over an hour now, and it only has processed 372 files...

I'm a first time user here, so I can't say if this would be faster with an older version.

[code]

[2021-11-15 17:04] Mastergalen commented on #6977
I copied the directory to the local file system and ran the same `dvc add` command. This time it only took 1 minute.

Seems like it's something to do with nfs?

[2021-11-15 17:31] wdixon commented on #6977
The other item we have seen.... using --to_remote -j xx, does also seem to speed up the progress quite a bit (though it bypasses file into cache - it does seem to compute the hashes in parallel (not obvious if there was a way to do that without going directly to the remote store - not sure why those options are tied?).

The infrastructure we use is on a san, so we are stuck using nfs....   Sometim

[2021-11-15 17:39] mdekstrand opened #6984 "Support no-command meta stages"
I would find it very useful to be able to define a DVC stage that has inputs but no command or outputs. The use case is to create meta-stages that serve only to depend on other stages, either to provide convenient ways to run part of the pipeline, or in the top-level `dvc.yaml` to make a bare `dvc repro` reproduce outputs defined in subdirectories.

I see two options to enable this that shouldn't

[2021-11-15 18:10] ayeright commented on #6794
Hello. I am getting the same error when using `dvc exp`: `ERROR: unexpected error - not enough values to unpack (expected 2, got 1)`.

It happens when running the following commands

`dvc exp show`
`dvc exp gc -w -a`
`dvc exp run --run-all`

I'm on Linux using Python 3.8.1 and DVC 2.8.2.

[2021-11-15 18:51] dberenbaum commented on #5515
@daavoo @jorgeorpinel Is there anything left to do on this issue?

[2021-11-15 19:01] dberenbaum commented on #6271
I'm curious how much this overlaps with #5966. In practice, I would expect `--only-changed` to be useful for a lot of the same scenarios where a target would be useful. If anyone is looking for this feature, it would be great to hear whether `--only-changed` is useful or whether there is a separate need to specify a target.

[2021-11-15 19:02] #6967 closed

[2021-11-15 19:03] daavoo commented on #6708
I would expand the scope to pretty much any option passed to `exp show`

[2021-11-15 19:05] daavoo commented on #5515
Showing `Change` in `dvc params diff` (If we agree that `Change` should be showed by default)

[2021-11-15 19:48] jorgeorpinel commented on #5515
Not sure, I'd expect some PR to close this at some point but feel free to do so manually when you think it's addressed. Thanks

[2021-11-15 20:50] dberenbaum commented on #6708
Is it basically a repo-specific alias?

[2021-11-15 20:54] dberenbaum commented on #5515
Params are not always numeric, so I'm not sure what should be shown in `Change`. Maybe it's a boolean for non-numeric params?

I agree that `Change` is not generally something I find that useful, but I also don't see it as really harmful.

[2021-11-15 21:00] daavoo commented on #5515
But we are showing `Change` in the params section of `dvc exp diff` 🤷

[2021-11-15 21:04] daavoo commented on #6708
Pretty much, but with the extra feature of being able to override some options on each call

[2021-11-15 21:29] dberenbaum commented on #5515
Ah, okay, it's handled like:

[code]

I'd vote to keep `Change` since I see little harm and it seems like a less breaking change, but I don't feel that strongly about it.

[2021-11-15 22:45] pmrowla commented on #6794
@ayeright could you run the following command and then post the output here:

[code]

[2021-11-15 23:28] daavoo commented on #5515
We could improve the non scalar support by replacing the 'diff not supported' with bool resulting of direct comparisson

[2021-11-16 01:39] sjawhar commented on #6934
I'm running on Linux (Pop!OS 21.04), so this isn't a Mac thing. Also, just for clarity, the `rm $(readlink)` step is just to simulate someone trying to reproduce a step without pulling cache for upstream, frozen stages (e.g. because they are very large)

[2021-11-16 02:38] karajan1001 commented on #6968
I can reproduce it. This is the result of my m1 MacBook pro.
[code]

There are two problems here.
1. it failed.
2. it didn't give any useful information.

When we run the underlying training program, it would show the failure reason.
[code]

So I guess we need:
1. some update on https://github.com/iterative/example-dvc-experiments for m1 MacBook pro
2. Better error handling for errors like this.

[2021-11-16 03:36] pmrowla commented on #6968
@karajan1001 I think you may have replied to the wrong issue?

---

It looks like this was already resolved in discord, but for reference, the binary file output issue is a problem with the environment locale. `exp show` output is in UTF-8, so if your locale is set to a non-UTF-8 encoding, you will see the "may be a binary file" warning (since the UTF-8 characters aren't valid in whatever other en

[2021-11-16 08:07] karajan1001 commented on #6984
Excuse me, it looks like this kind of no-command meta stage is used for grouping stages? If so, could the`--glob` flag in `dvc repro` meet your requirements, for example, `dvc repro --glob train-*`?

[2021-11-16 08:12] karajan1001 commented on #6968
I misunderstood it, let me create a new ticket for my problem.

[2021-11-16 08:46] ayeright commented on #6794
@pmrowla yes, here you go

[code]

[2021-11-16 09:33] daavoo commented on #6968
Should we catch this beforehand with `getlocale` and raise more explicit error ??

Is there any downside of altering the users' locale with `setlocale` in our code?

[2021-11-16 10:52] pmrowla commented on #6794
@ayeright thanks, could you also please upload/attach the file `.git/logs/refs/exps/stash` to this issue?

After you've done that, you should be able to fix your repo state by doing
[code]
Note that this will clear all of your queued experiments (also, be sure to upload the logs file first, since removing the ref will also remove the log file)

[2021-11-16 14:47] ayeright commented on #6794
[git_stash.txt](https://github.com/iterative/dvc/files/7547369/git_stash.txt)

[2021-11-16 17:26] dberenbaum commented on #6974
I would expect from https://github.com/iterative/dvc/issues/5477 that if the parameter cannot be replaced, then dvc should fail, stating that the parameter cannot be found.

[2021-11-16 17:37] daavoo opened #6988 "`exp show`: Add option to filter out checkpoints"
If multiple experiments with checkpoints are run, the table can get quickly populated with too many rows.

It would be nice to have an option to filter out intermediate checkpoints, leaving only a single row per experiment.

For example from:

| Experiment              | Created      | step   | loss    | accuracy   |
|-------------------------|--------------|--------|---------|------------|
| work

[2021-11-16 17:37] lefos99 opened #6989 "Make frozen field configurable"
# Bug Report

## Issue name
Freeze a stage in `dvc.yaml` right now, it is not possible by using the `params.yaml`.

## Description
`PARAM_FROZEN` which is defined in `dvc/schema.py` [here](https://github.com/iterative/dvc/blob/master/dvc/schema.py#L20) and [here](https://github.com/iterative/dvc/blob/master/dvc/schema.py#L87), accepts only bool values for now.

That means that I can do the followi

[2021-11-16 17:46] mdekstrand commented on #6984
There are two use cases I have:

- Grouping stages. Globs in `repro` can help with this, but are less convenient, particularly if the stages to group are split across multiple subdirectories (each with its own `dvc.yaml`), and/or may change from time to time. Defined meta-stages allows you to document things like "run `dvc repro dataprep` to ensure data preparation is up to date", and just keep th

[2021-11-16 17:57] daavoo commented on #6974
That issue / P.R. was more about missing / incorrectly parsed params. The validation happens before the replacement.

We should probably validate after replacement (although afaik this is only an issue with Python format where the replacement is very hacky, as the snippet linked above).

[2021-11-16 18:48] daavoo commented on #6989
This extends to using the templating functionality for any field in the schema that is not of string type.

We are validating against the schema before resolving the templating so, at the moment of validation, all template vars (i.e. `${foo}`) are strings.

[2021-11-16 18:58] dberenbaum commented on #6974
So dvc validates that `my_params.py:my_dict.my_key` exists but can't replace it? In that case, I agree that we should probably raise an error to say something like `Unable to parse {file} to set parameter {key}. Please update {file} instead of using --set-param`.

[2021-11-16 21:41] dberenbaum commented on #6974
Ultimately, it seems like other methods for logging parameters, like those discussed in https://github.com/iterative/dvc/discussions/6506, may be a more useful approach than parsing/replacing parameters from Python files.

[2021-11-16 21:43] dberenbaum commented on #6988
Related: https://github.com/iterative/dvc/issues/6194

[2021-11-16 21:53] mattlbeck commented on #6930
@pmrowla I hadn't noticed the `--no-force` argument. On reflection, switching between experiments would necessitate use of a `--force` flag if it existed, and I guess that use-case is considered the most common.

I will monitor how I use `exp apply` for now, and whether I can easily encorporate `--no-force` into my workflow.

[2021-11-16 23:57] #6894 closed

[2021-11-17 06:22] pmrowla commented on #6813
@SokolovMichail can you try doing
[code]
and then re-run `dvc push`? It looks like your sshfs wasn't actually updated, `dvc doctor` reports `ssh (sshfs = 2021.8.1)` but the latest should be `sshfs = 2021.11.0`

[2021-11-17 07:44] #6838 closed

[2021-11-17 08:25] #6940 closed

[2021-11-17 10:48] #6920 closed

[2021-11-17 11:53] efiop commented on #6977
Hey guys. Great to know that 2.8.3 has sped up the operations for you. The reason is that we started saving 1 copy operation during `dvc add` for every file in the dataset, as well as saving some checks for the dataset as a whole. There are more optimizations coming in the near future, so please stay tuned 🙂

Hashes are always computed in parallel. Using `--to-remote` makes us not use local cache

[2021-11-17 12:25] pared opened #6991 "plots: test created html"
We might not be aware what are our rendering limitations (#6894).
Even if we fix it (#6900) we need to manually test it in order to be sure the problem has been fixed.

It seems to me that we could limit such problems if we were able to somehow test our HTML.
In the cases mentioned above, if we were able to parse `js` code, execute it and get `stderr` output we could determine whether our visualiz

[2021-11-17 14:13] efiop commented on #2036
@Viktor2k Not actively working on this directly yet 🙁

[2021-11-17 15:10] wdixon commented on #6977
We can close, thank you for the work and the response!

[2021-11-17 15:10] #6977 closed

[2021-11-17 15:41] mvggz opened #6992 "Conflicting behavior with tensorflow 2.5.2 in pytest"
# Bug Report

## Description

Hello,

I recently came across a conflicting interaction with `tensorflow` (and possibly other packages presenting the same behavior) regarding the use of `sys.stdout.close()` and `sys.stderr.close()`.
In the codebase of tensorflow this is used here only:
 - https://github.com/tensorflow/tensorflow/blob/d11296a34b8b9ad798d8f273966de83dbb83de83/tensorflow/python/distri

[2021-11-17 16:43] casperdcl commented on #5627
@pmrowla are we missing some docs about this in https://dvc.org/doc/command-reference/exp/run? Just had a CML Learn meetup where a CI workflow was failing do to missing `git config --global user.(name|email)`.

[2021-11-18 00:44] pmrowla commented on #5627
It should probably be documented somewhere, but I'm not sure if belongs in the command reference. This is really specific to CI use cases, since any other typical user git installation will force the user to configure `user.name` and `user.email`

[2021-11-18 03:22] #6892 closed

[2021-11-18 09:19] Danial-Alh opened #6995 "dvc and git does not behave the same with "!" and "**""
Consider the following project structure
- data
  - data1
    - file1
    - file1.dvc
  - data2
    - file2
    - file2.dvc
- .gitignore

`.gitignore` is as follows:
[code]

`git status` gives:
![image](https://user-images.githubusercontent.com/10946624/142382690-9ef377d5-eda7-4c29-bdcd-52c9f776809e.png)

while `dvc push` gives:
![image](https://user-images.githubusercontent.com/10946624/142385876

[2021-11-18 09:26] pmrowla commented on #6995
Your `.dvc` files are actually still ignored by those `.gitignore` patterns, the difference here is that you have explicitly staged them in git (presumably with `git add -f`). DVC does not currently check if ignored files have been explicitly staged in git (see https://github.com/iterative/dvc/issues/6291)

To make DVC work properly here, your .gitignore should contain:
[code]

[2021-11-18 09:34] pmrowla commented on #6992
On the DVC side, that code is only used for daemon processes, which is currently just the DVC analytics. Disabling the DVC analytics in your test environment should workaround the conflict here.

https://dvc.org/doc/user-guide/analytics#opting-out

[2021-11-18 09:39] Danial-Alh commented on #6995
Yes, that `.gitignore` worked.
Thanks a lot.

However, I didn't add the files to git with `--force` option.
I checked the `git check-ignore --no-index data/data1/file1.dvc`. It gives no output.

[2021-11-18 10:21] karajan1001 commented on #6995
[code]
And for dulwich
[code]

I think they both work correctly for this `.gitignore` file

[2021-11-18 10:36] aveek-brahmachari opened #6997 "Architectural Issue : Too many DVC repos needed for tracking for a simple use case"
Let us say we have the following folder structure:

&nbsp;&nbsp;Project
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Data
      &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;   Experiments
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  Experiment 1
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nb

[2021-11-18 10:36] Danial-Alh commented on #6995
If I have understood correctly, `.dvc` files are not ignored in either of my or dulwich's format; but I don't get why dvc does not see `.dvc` files in my format.

[2021-11-18 10:53] Danial-Alh commented on #6995
for dulwich format I get this:

![image](https://user-images.githubusercontent.com/10946624/142400586-e51f036e-1417-4da8-9233-afac49b738ed.png)

the folder is not ignored.

[2021-11-18 10:59] Danial-Alh commented on #6995
there is a problem with dulwich format which the `file1` is not ignored by git.

![image](https://user-images.githubusercontent.com/10946624/142403015-4cbf907b-b8f5-43d2-a206-a3c0e6ebfb27.png)

[2021-11-18 11:20] karajan1001 commented on #6984
@dberenbaum What do you think of this?

[2021-11-18 11:30] karajan1001 commented on #6995
It is ignored in my computer
[code]
Could you please share your `.gitignore` contents? it has at least 6 lines from your picture.

[2021-11-18 11:39] Danial-Alh commented on #6995
Yes I have both formats and commented mine :)

![image](https://user-images.githubusercontent.com/10946624/142408700-f6be6b6a-c82e-4a7a-891d-371eee2d0a12.png)

[2021-11-18 11:41] Danial-Alh commented on #6995
can it be problem with git version?

`git version 2.34.0`

[2021-11-18 11:45] karajan1001 commented on #6995
Quite weird here.
![image](https://user-images.githubusercontent.com/6745454/142409392-02265c5e-081d-4462-9b42-aba136074a52.png)
let me try to upgrade to a newer version.

[2021-11-18 12:30] karajan1001 commented on #6995
What is this? a bug or a new feature for Git.
![image](https://user-images.githubusercontent.com/6745454/142415690-95b2277a-b67b-4d2b-a59e-72fab5165355.png)

[2021-11-18 12:34] daavoo commented on #5627
I'm not sure why but this workflow (https://github.com/iterative/dataset-dvc-issues/blob/main/.github/workflows/fetch_issues_weekly.yaml) uses `dvc exp run` and works, but I'm not setting user.email / user.name

[2021-11-18 12:58] guludo opened #6998 "Some git-related tests fail when defaultBranch is not master"
# Bug Report

## Description

When git configuration for `init.defaultBranch` is a value different from `master` some tests fail.

### Reproduce

Steps to reproduce:

1. Set the value of `init.defaultBranch` to a value other than `master`:
[code]
2. Run a git-related test:
[code]

[2021-11-18 13:02] skshetry commented on #6998
Thank you for creating an issue, we are aware of this issue and we have a patch in progress to fix that: https://github.com/iterative/dvc/pull/6857. Should be fixed soon. 🤞🏼

[2021-11-18 13:02] #6998 closed

[2021-11-18 13:05] Danial-Alh commented on #6995
Not yet. However, I've just sent an email to git mailing list, describing the issue.

[2021-11-18 14:40] dberenbaum commented on #6997
No, it's possible to have a single repo at the base of your project. It's hard to say without a bit more info about your project and needs, but it seems like a lot of your issues are about redundancy between the repos. Is a single repo at the base of the project instead possible for you? This would track the data and models and remove redundancy.

[2021-11-18 14:45] horaceg commented on #1307
I use fish + conda (miniforge).

I tried various approaches listed here, and I found only one approach to solve it :
`SHELL=/bin/bash dvc ...`

To have a smoother process I leverage fish abbrs:

`abbr bs SHELL=/bin/bash` and then `bs dvc ...`

[2021-11-18 14:53] dberenbaum commented on #6984
Interesting idea. Your use cases make sense, but I think it's worth considering other ways to achieve managing complex stage groupings.

I could see it being useful to have a way to configure a group of stages to run, but:
* As you mention, you can already do this with no-op  stages, so it doesn't seem high priority.
* As you also mention, no-op stages don't clearly communicate the intent. I don't

[2021-11-18 15:29] aveek-brahmachari commented on #6997
Can you point me to an example where multiple trained models are tracked using a single repo ?

[2021-11-18 17:18] Danial-Alh commented on #6995
Here is the [thread](https://public-inbox.org/git/YZaHpJKeyDEY8qKW@coredump.intra.peff.net/T/#t).

[2021-11-18 17:50] dberenbaum commented on #6997
You can have the DVC repo at the base of your project and have the `dvc.yaml` files defining the pipelines anywhere (all together at the base, or separate `dvc.yaml` files within each experiment directory). There's an example of adding pipeline stages in subdirectories in https://dvc.org/doc/command-reference/stage/add#example-separate-stages-in-a-subdirectory.

If the experiments all have a simil

[2021-11-19 01:36] dberenbaum opened #7001 "exp show --csv: Parent column empty"
# Bug Report

## Description

The parent commit column in `exp show --csv` is empty even for checkpoints where a parent commit exists.

### Reproduce

[code]

### Expected

`8acf8ec` should have `0fd92c2c0ff17c923a79b4b0b96e54fe4b73a8cf` in `parent`.

### Environment information

2.8.4.dev29+gd8c77da4

[2021-11-19 01:57] pmrowla commented on #5627
IIRC github sets some placeholder value in actions based on the token used? @casperdcl was the issue you are talking about in github actions or a different CI platform (gitlab?)

[2021-11-19 06:59] SokolovMichail commented on #6813
I tried doing this. Providing the output below.
[code]
dvc doctor output:
[code]

[2021-11-19 07:10] pmrowla commented on #6813
@SokolovMichail one thing I noticed:

Your remote URL should be in the form:
[code]

with a slash (`/`) and not colon (`:`) separating the hostname and path to your project.

If the URL contains a colon, DVC will try to use whatever is after the colon as a port (and it will take precedence over the `port = ...` option), which may be what is causing your error

[2021-11-19 07:26] SokolovMichail commented on #6813
Thanks, @pmrowla, might be my bad. Let me provide an alternatively doctored config, where I replace only letters and not special symbols like slashes, dots, and colons. Also, keep in mind, dvc==2.5.2(and 2.5.4) work just fine both for pull and push with just the same config file.
[code]
None of blanks(like <SERVER>) contain any special characters, only English letters.

[2021-11-19 07:35] karajan1001 commented on #6995
Sounds like the previous behavior is a bug, and had been fixed in some recent release?

[2021-11-19 09:18] pmrowla commented on #6813
@SokolovMichail can you post the (sanitized) contents of your `.ssh/config` for that host?

[2021-11-19 09:34] SokolovMichail commented on #6813
@pmrowla, I am not quite sure what you meant to say.
In the project folder, I have no folder named .ssh
In Linux home  folder I do have a .ssh folder, but it contains no config file.

[2021-11-19 10:07] aveek-brahmachari commented on #6997
Imagine it to be a project where in each experiment we segment out an object. We have trained different models to segment different objects. However, the details of the segments required in each experiment may be different and thus each model is trained on a subset of data or transformed data derived from the main data. The project already exists in a form that the stages may be different for each

[2021-11-19 11:46] casperdcl commented on #5627
yes [this commit](https://github.com/iterative/dvc-learn-project/commit/8d453d2ff3557507e263dc6cda0a69fa4504a1b1#comments) fixed [this failure](https://github.com/iterative/dvc-learn-project/runs/4240686851?check_suite_focus=true)

[2021-11-19 13:14] skshetry opened #7005 "tests: move away from use of hardcoded `master`"
When I do `git init`, it prints the following warning:
[code]

So, I don't think we should depend on the hardcoded default branch in our tests **in the future**. To do so, we should introduce `scm.default_branch` property and use that in the tests instead.

_Originally posted by @skshetry in https://github.com/iterative/dvc/pull/6857#discussion_r742097567_

[2021-11-19 13:14] daavoo commented on #5627
Isn't the error coming from `dvc get`?

[2021-11-19 13:42] dberenbaum commented on #6997
The easiest way to start is to leave everything the same except to initialize a single DVC repo at the base of your project instead of inside each experiment directory. Basically, this means that you have a `.dvc` directory, along with the cache and DVC metadata, at the base of the project instead of inside each experiment directory, but your `dvc.yaml`, `.dvc` files, etc. don't have to move.

[2021-11-19 16:11] efiop commented on #6813
@SokolovMichail Could you try changing URL from

[code]

to

[code]

as requested by @pmrowla and giving it a try, please?

[2021-11-19 16:54] daavoo commented on #6383
Fun history, I found a fix but the issue only happens when the tags are missing from `.git/refs/tags`, which I can only reproduce when cloning our example repos 🤷

If tags are present in `.git/refs/tags`, which happens if I create tags locally or within tests the following code correctly gets the tag name and it is displayed on the table:

https://github.com/iterative/dvc/blob/3d604a84551e53cfa447

[2021-11-19 17:31] Danial-Alh commented on #6995
No, some commits are reverted and a test case added.

By the way, I think there is separate issue with dvc.
In our testcase, if we re-include 'data1' directory by `!data/*/`, dvc ignores `.dvc` files inside `data1`; but if it is done by `!data/**/`, dvc behaves as expected.

[2021-11-22 01:59] efiop commented on #6788
Moved our remote tests to (to-be) plugin repos https://github.com/iterative/dvc-plugins, so we don't need to run them anymore in the main dvc repo.

[2021-11-22 01:59] #6788 closed

[2021-11-22 02:01] efiop commented on #6757
Closing since this now will be handled on a pre-plugin basis https://github.com/iterative/dvc-plugins

[2021-11-22 02:01] #6757 closed

[2021-11-22 05:16] skrishnanv opened #7012 "dvc external add gives "inappropriate ioctl for device" on WSL2"
# Bug Report

add --external: This command fails with inappropriate IOCTL.

## Description

 System is WSL2. Code repo is in C: drive(mounted as /mnt/c in WSL). I am checking the external data cache as outlined [here](https://dvc.org/doc/user-guide/managing-external-data#setting-up-an-external-cache). The dataset is in D drive(/mnt/d/ in WSL). The hash values are calculated and then the command ex

[2021-11-22 05:50] efiop commented on #7012
Hi @skrishnanv ! Thanks for reporting this bug! It has been fixed in upstream dvc, but hasn't been released yet. Could you try installing an upstream version and confirming that it fixes the issue for you, please? https://dvc.org/doc/install/pre-release

[2021-11-22 06:01] skrishnanv commented on #7012
thank you for such a speedy response. Yes, it does work for me. might be asking for more(compliment meant) but when can this be expected to be release? :-)

[2021-11-22 06:01] #7012 closed

[2021-11-22 07:43] skshetry opened #7014 "tests: opens browser with plots when running tests"
See https://github.com/iterative/dvc/pull/6913#discussion_r754003524.

Can be reproduced with `pytest tests/func/test_live.py`.

[2021-11-22 10:59] skshetry opened #7018 "ui: do we still need help footer on exceptions?"
These days we are not handling exceptions outside of `dvc` that well, eg: `fsspec` and `OSError`s.

After we break SCM, it may be hard to reraise those exceptions to something from `DvcException` as the scm is used all over the codebase (see: #7017).

Whenever we raise exceptions that are not `DvcException`, we print a small snippet for support:
[code]

It's not very clear what `unexpected error`

[2021-11-22 16:08] efiop commented on #7012
@skrishnanv Should be out this week.

[2021-11-22 16:59] shcheklein commented on #7018
It's looks like we have two separate problems:

1. It's not very clear what `unexpected error`. Agreed - what do you suggest to show instead?
2. Also, I am not very sure if these messages are helpful at all. Assuming this is partially about the support message. If there is at least is a small percent of people who find this link useful and used link what would be the reason to remove this? Potenti