[2018-04-10 15:34] efiop commented on #647
No, dvc doesn't support parallel execution of stages as of today. We do have plans to support it in the future.

[2018-04-10 17:12] rahulguptajss commented on #635
Thanks this works. :-)

[2018-04-10 17:12] #635 closed

[2018-04-10 17:14] rahulguptajss commented on #647
Can you please provide any timeline for this.

Thanks.

[2018-04-10 17:56] efiop commented on #647
0.9.8 most certainly.

[2018-04-10 21:05] dmpetrov commented on #644
@rahulguptajss I would appreciate if you can give more details on this scenario.

1. How is the data distributed? Do you use HDFS or just a set of machines with files or something different?
2. What do you do on the distributed system and what would you prefer to do in a single machine environment? Storing data/data preparation/data cleaning/building models/evaluating models/visualisation.
3. What

[2018-04-11 08:14] efiop commented on #601
related #636

[2018-04-11 08:15] efiop commented on #634
Fixed by #639

[2018-04-11 08:15] #634 closed

[2018-04-12 08:51] efiop opened #650 "Migrate from boto to boto3"

[2018-04-13 03:13] #601 closed

[2018-04-13 03:13] #636 closed

[2018-04-13 03:13] #650 closed

[2018-04-13 03:13] #524 closed

[2018-04-13 08:41] dmpetrov commented on #642
It looks like this "external" interface should support two more cases:
1. run a few DVC repo as a single pipeline where an output is connected to another repo input.
2. specify how many CPU\GPU each step should use.
Probably "decorator" is a better name than "external".

[2018-04-14 17:48] efiop commented on #623
Already added compat tests to tests/test_data_cloud.py

[2018-04-14 17:48] #623 closed

[2018-04-14 19:13] #619 closed

[2018-04-14 19:13] #643 closed

[2018-04-15 05:14] efiop commented on #120
Fixed https://github.com/dataversioncontrol/dvc/commit/79d710010471293a1184d1e66e7619c9bcc00ea0 the issue with download_url/url fields in our package info that didn't allow me to use `conda skeleton pypi dvc` on 0.9.5. This fix will be released in 0.9.6 and I'll be sure to get back to creating conda package right after 0.9.6 is published on pypi.

[2018-04-15 08:59] efiop commented on #397
No longer relevant. Closing.

[2018-04-15 08:59] #397 closed

[2018-04-15 09:01] efiop commented on #198
Seems to be easier to work with whatever paths we've got and convert where needed as we do right now. Closing.

[2018-04-15 09:01] #198 closed

[2018-04-15 09:09] #444 closed

[2018-04-15 09:09] efiop commented on #23
Fixed with #651 by migrating to boto3, which has that bug fixed.

[2018-04-15 09:09] #23 closed

[2018-04-15 14:50] rahulguptajss commented on #647
Thanks. It will be helpful when we have multiple models to be run on same data with separate py files.

[2018-04-15 15:11] rahulguptajss commented on #644
Hi,
Please find below response.
1: Data is currently in HDFS. Currently for dvc to work, all data needs to be on single machine. This is not very scalable and have several bottlenecks with respect to CI/CD pipeline. We only would want results in the Jenkins docker.
2: We will be using spark ml to work with our data which is primarily in HDFS. Idea is to kick off the work on spark clusters so that

[2018-04-15 20:38] efiop commented on #647
Wait a minute, did you mean 'parallel execution' or just 'parallel steps'? We do not support parallel execution as of now, only executing stage-by-stage. However, parallel stages should work:
[code]

[2018-04-16 07:17] efiop opened #656 "Add 'type' option for output"
I.e. `--type metric` `--type graph` or something like that for cli.

[2018-04-16 13:43] villasv commented on #656
What would be the motivation to do that? Some kind of "always repro" property for metrics?

Currently, my default `Dvcfile` in the root of the project is simply `cat data/report.txt && cat data/metrics.txt`. What would change?

[2018-04-16 15:41] efiop commented on #656
@villasv No, we are actually thinking about something like #592 . This flag will allow dvc to understand what files to parse without manually specifying them. So to view metrics you would run: `dvc metrics` or something like that, with an option to show metrics for each branch you have.

[2018-04-16 17:13] rahulguptajss opened #657 "DVC automated pull and push"
Hi,

Is it possible to configure dvc  pull/push to run automatically with git pull/push? Considering these operations work hand in hand and will always be required. Manually calling dvc push/pull could lead to sometimes mistakes and data inconsistency.

[2018-04-16 17:14] rahulguptajss commented on #647
yes, actually for this thread , I was looking for parallel steps. I'll try this and update.

[2018-04-16 19:15] villasv commented on #657
Seems pretty easy to achieve with git-hooks. I don't see why this would cause inconsistency. At worst, you would recalculate unnecessary stuff (assuming the pipeline is deterministic, nothing would go wrong).

Perhaps dvc could come with some standard git-hook instalation command, like `nbstripout install` does.

[2018-04-17 05:35] rahulguptajss commented on #657
Thanks. This would be a good feature built into dvc. I will look into git hooks as well.

[2018-04-17 14:48] prihoda opened #659 "Display more user-friendly error on dvc repro file.txt"
A more user-friendly error could be shown when running `dvc repro file.txt` instead of `dvc repro file.txt.dvc`.

Example:
[code]

[2018-04-17 14:55] prihoda opened #660 "Handle dvc init when git repository is not initialized"
When running `dvc init` before `git init`, the following error is shown:

_Unexpected error: 'Base' object has no attribute 'GITIGNORE'_

The `.dvc` folder is created but no `.gitignore` file is added. Running `dvc init` again fails.

I guess best solution would be to exit without creating any files when the git repository is not initialized?

[2018-04-17 15:22] rahulguptajss opened #661 "dvc repro with force option"
Hi

Can we have flexibility to run dvc repro with force option which runs dvc pipeline from start irrespective of changes in tracked files.

[2018-04-17 17:05] efiop commented on #661
`dvc repro` actually already has `-f|--force` option that does just that. Unless I'm missing something.

[2018-04-17 17:13] efiop opened #662 "add `dvc init --bare` or `--no-scm` for initiating dvc in plain directories without scm"
#660

[2018-04-17 17:15] efiop commented on #660
Hi @prihoda !

dvc actually supposed to run even without git. The only difference for `dvc init` would be that it would not create .gitignore and will not add the changes to git. Other than that, dvc should be operational even without git. I think that we should add `--bare` or `--no-scm` option for `dvc init` so that we can be sure that user actually wants to initiate dvc repo in a plain director

[2018-04-17 17:54] chanansh opened #663 "support for spark and HDFS"
does the project supports big data which is hard to audit like parquet files in HDFS?
does the project supports running code on remote machines e.g. spark cluster?

[2018-04-17 18:14] dmpetrov commented on #663
Currently, DVC supports only local disk environment. HDFS can be handled through custom wrappers.
DVC tracks parquet files in a local disk as a directory `dvc run -d input.pq/ -o output.tsv python myscript.py`.

Could you please give us more details about your scenario? Do you run all your steps on a Spark cluster? Or data processing on a cluster and ML modeling \ analytics on a local machine (usi

[2018-04-18 03:57] chanansh commented on #663
Spark end to end.

On Tue, Apr 17, 2018, 9:14 PM Dmitry Petrov <notifications@github.com>
wrote:

[2018-04-18 06:33] #660 closed

[2018-04-18 06:33] #662 closed

[2018-04-18 06:57] #659 closed

[2018-04-18 07:07] efiop commented on #616
We've migrated to boto3 on current master, thus allowing us to only specify the desired profile for  the credentials(boto3 will use default profile if it is not specified in `profile` option in our config) and nothing more, meaning that if you have `aws s3` tool working, `dvc` should work too. Looks like this is the best behavior that we can achieve.

Also, with new `dvc remote` concept all you ne

[2018-04-18 07:07] #616 closed

[2018-04-18 11:11] prihoda opened #666 "Checkout single file"
It would be great if the `dvc checkout` command could support checking out only a single file. This is useful when a file is accidentally changed or removed.

[2018-04-18 11:25] prihoda opened #667 "dvc repro with --confirm option"
Hi, could we have a `dvc repro --confirm` mode that asks before reproducing each dependency? Or a `dvc repro --preview` mode that just shows the reproduction plan?

When there are changes back in the dependency chain that I didn't expect and the reproduction starts from the beginning, I want to be able to cancel the reproduction without getting the dependent data files removed.

I know this can be

[2018-04-18 13:36] prihoda opened #668 "Update and propagate md5 hash of existing file"
Example: When I change a file in a way that doesn't affect processing of the dependent files (e.g. adding a comment to a script file, adding an extra column to a CSV file). I want to tell DVC that the file content (=md5 hash) changed but that I don't want to process the dependent files again.

I think there are two options:

- Running a command on the changed file:
    - For data files, this could

[2018-04-18 13:41] efiop commented on #666
Hi @prihoda !

That is a great idea! I'll look into implementing it for the next version.

[2018-04-18 13:45] efiop commented on #667
Hi @prihoda !

Great suggestion! Maybe something like `dvc repro --iterative`?

Btw, you can also use `dvc status`(it is still a bit raw, but none the less) to see what has changed in your pipeline, so that there are no 'unexpected reproductions' :D

[2018-04-18 13:48] prihoda opened #669 "Save datetime along with outs md5 field"
Current datetime could be saved along with each **output** md5 field to make it easier to see which version of the file is the hash referencing.

[code]

[2018-04-18 14:07] efiop commented on #669
Hi @prihoda !

That is an interesting idea! I can definitely see how this could be useful. I will look into implementing it for 0.9.7. Though, if you wish to submit a proper patch, I will be happy merge it.

[2018-04-19 01:10] dmpetrov commented on #669
We can also consider keeping file size in the dvc-file. It can help with the copy-semantic #612 - where you should think twice before running `dvc checkout`.

[2018-04-19 02:02] dmpetrov commented on #663
Thank you @chanansh !
Can I ask a few more question to clarify?
1. Do you use pipelines?
2. How are the steps of the pipelines are connected? By input\ouput files (parquet)?
3. How do you kick off each step of pipeline now? `spark-submit` for each step or you have some spark code to execute the steps and run a single `spark-submit`?
4. Is it okay to keep all the cache file versions in HDFS?

[2018-04-19 05:44] chanansh commented on #663
I have a main which call all steps one after the other and pass data frames
between them without explicitly writing to disk. Modeling is final step
which in some cases happen in the driver node and sometimes distributed.

On Thu, Apr 19, 2018, 5:02 AM Dmitry Petrov <notifications@github.com>
wrote:

[2018-04-19 06:40] dmpetrov commented on #668
Thank you @prihoda! It looks like a useful and very practical feature. I feel it like `git squash` - hack by nature but sometimes it is very useful. I don't think we can avoid this kind of hacks in real life.

A couple more open questions:
1. Should DVC write additional information about this trick? Something like `propagated: true`.
2. Adding a comment to a script file is a good scenario. But edi

[2018-04-19 07:09] chanansh commented on #663
Does dvc pipeline supports hdfs?

On Thu, Apr 19, 2018, 9:19 AM Dmitry Petrov <notifications@github.com>
wrote:

[2018-04-19 07:31] dmpetrov commented on #663
We are working on the HDFS support. I just want to make sure that our implementation will cover your needs.

We have some assumptions and would like to be sure the assumptions work for you:
1. your pipeline is separated into steps
2. you define the pipeline by submitting steps through `dvc run ... spark-submit ...` with inputs and outputs in HDFS
3. DVC creates cache directory with all the data fi

[2018-04-19 08:00] prihoda commented on #668
About no. 2: As you said, it's a bit of a hack, the user would have to know about the impact. I think it's useful even for data files, in case they are really expensive to reproduce, you changed their dependencies, but the change can be applied by hand instead.

E.g. I realized I want a different column name in a CSV file -> change the script that generates the file, apply the change to the file b

[2018-04-19 12:54] villasv commented on #669
File sizes would be helpful. Once I had an empty output file and had to trace back the step in which it became empty through the pipeline and the commit that introduced the bug. Would have been pretty easy if I had that info was also tracked.

[2018-04-19 15:35] rahulguptajss commented on #661
Thanks it works perfect.

[2018-04-19 15:35] #661 closed

[2018-04-19 15:37] rahulguptajss opened #670 "Issue with csv files in windows system while they are under editing"
I receive below error while csv is open and its modified. and dvc repro is executed.

$ dvc repro dvc/Dvcfile
Failed to reproduce 'dvc/Dvcfile': Failed to reproduce 'dvc\train.dvc': [WinError 6] The handle is invalid.

[2018-04-19 15:39] efiop commented on #670
Could you run it again with `-v` flag and post logs here please?

[2018-04-19 15:44] rahulguptajss commented on #670
$ dvc repro dvc/matrix.dvc -v
Data file or dir 'data\TestSet.csv' with cache '.dvc\cache\3e\3de0f9b0a1067bae03c182c845bf59' didn't change
Dvc file 'dvc\test.dvc' didn't change
Traceback (most recent call last):
  File "c:\programdata\anaconda3\lib\site-packages\dvc\project.py", line 149, in _reproduce_stages
    result += self._reproduce_stage(stages, n, force)
  File "c:\programdata\anaconda3\lib

[2018-04-19 15:50] efiop commented on #670
Hm, so you are running `dvc repro` while you have a file dependency opened in another tab? If so, this is normal for Windows, since when you are modifying the file, its handle is changing, not allowing dvc to obtain file info using an older handle.

[2018-04-19 15:52] efiop commented on #670
Though, this scenario is indeed not rare at all. We can probably try again if we didn't succeed to obtain file info the first time. I'll take a look shortly. Great catch, thank you!

[2018-04-19 17:31] efiop commented on #670
Hm, interesting. Well, at least notepad is not affected. I'll try to reproduce it myself later and see if I can do something about it.

[2018-04-19 17:57] ophiry commented on #277
Did some testing with the new version, and I believe the issue still exists.
If you checkout a branch, but forget to do dvc checkout you end up with the previous file without a simple method to discover the issue

[2018-04-19 18:34] #592 closed

[2018-04-19 18:38] efiop commented on #277
Hi @ophiry !

We've discussed adding a command for installing git hooks in #657 and it should be ready for 0.9.7. For now, as a workaround, you can add `dvc checkout` to your post-checkout git hook yourself.

[2018-04-20 06:06] efiop commented on #592
Leaving '-f|--fetch' logic for the next release, there are some things to think about. Same with #656.

[2018-04-20 06:09] efiop opened #673 "Add '-f|--fetch' option for `dvc metrics`"
#592

[2018-04-20 06:38] efiop commented on #670
Ok, I was able to reproduce even without Excel. Looking into it right now.

[2018-04-20 08:04] efiop opened #674 "Enable CLI tests for `dvc metrics` on windows"
Current problem is the same as in #670

[2018-04-20 08:18] efiop commented on #674
Can't reproduce the error on my windows machine... Need additional investigation.

[2018-04-20 19:57] efiop opened #676 "Configurable cache dir location"

[2018-04-23 07:07] dmpetrov commented on #669
A couple more things we can consider:
1. the data time could be used for the garbage collector - very natural way to reduce size. `dvc gc --time month` - clean everything not from the current branch and older than a month.
2. @villasv brought a good point about empty size output. Based on my experience in 99% it is a red flag. For a single output step - in 99.9% of cases an empty file is a sign of

[2018-04-23 07:44] efiop opened #677 "Save data file size"
#669

From @villasv:

[2018-04-23 07:48] efiop opened #678 "`dvc gc --time <datetime>`"
#669

@dmpetrov :

[2018-04-23 07:49] efiop commented on #669
Sorry, missed @villasv 's comment. It is indeed a great idea. Created a task for it: https://github.com/dataversioncontrol/dvc/issues/677 .

@dmpetrov `dvc gc --time month` is a great idea as well. Created https://github.com/dataversioncontrol/dvc/issues/678 . Need to think about particular details, e.g. maybe we also need to check if file is in the cloud before deleting local cache. I will look i

[2018-04-23 11:26] prihoda commented on #668
This would also be useful when using DVC for an existing project. Currently there is no way to create valid .dvc files (with dependencies and build command) from existing files without reproducing them.

[2018-04-23 11:57] efiop commented on #668
Hi @prihoda !

Thank you for your feedback! These are indeed some very interesting ideas.

There is actually a way to do that right now. If you really need that kind of hack, you can simply write dvc files by yourself, without `dvc run`. Dvcfiles have very simple yaml format, so there should be absolutely no problem to write it by-hand. I.e. lets say I have my script.py, input.data and output.data

[2018-04-23 12:17] prihoda commented on #668
Great to know! I am editing .dvc files but didn't realize I can generate the hashes so easily.

After using DVC for a while I see that the `dvc propagate` command would violate the guarantees you want to create in the first place. I guess this would only make sense as an extension for the `dvc add` command - to be able to specify dependencies (and also the build command if possible).

[2018-04-23 12:17] #668 closed

[2018-04-24 07:58] #277 closed

[2018-04-24 07:58] #657 closed

[2018-04-24 10:56] #666 closed

[2018-04-24 11:01] efiop commented on #612
https://github.com/dataversioncontrol/dvc/issues/676

[2018-04-29 06:33] efiop opened #682 "Can't install pyreflink on travis' osx"
https://travis-ci.org/dataversioncontrol/dvc/jobs/372518097

[2018-04-29 14:49] #646 closed

[2018-04-29 14:49] #648 closed

[2018-04-30 06:00] rahulguptajss commented on #644
Hi,

Can you please provide an update on this.

Thanks.

[2018-04-30 09:30] efiop opened #685 "_remove_untracked_hardlinks for reflink/copy"
Probably need to store a list of created data files to cleanup when performing a checkout.

[2018-04-30 16:49] efiop opened #686 "Terminal encoding and `dvc run`"
@dmpetrov discovered an issue with `dvc run` when it throws an error(same w/o -v):
[code]

Adding
[code]
helps.

Probably just python2 problem, as python3 uses utf8 by default instead of ascii.

[2018-04-30 19:14] efiop commented on #644
Hi @rahulguptajss

Support for some types of external dependencies(s3, gcp, local for sure and maybe some others) is going to be added in 0.9.7, which we are currently working on.

[2018-05-02 07:46] dmpetrov opened #687 "Check updates and usage report"
We updating DVC quite frequently and each command should check for updates before run. Similar to `pip`.

Also, we can ask users to help us with a usage report - which command user runs. We definitely don't need command parameters due to security reason. This report can provide us statistics and help improving DVC and the documentation.

[2018-05-02 17:07] dmpetrov opened #688 "Descriptions for datasets"
Define description:
[code]

Show description:
[code]

[code]

I'm not sure about the 2nd and 3rd command syntax. Should we extract all of these together with `dvc add` under `dvc dataset` umbrella?

[2018-05-02 17:47] denmoroz commented on #688
I think it would be nice to:
1) Add name or some additional info (source, authors, date?) at initial "dvc add" command.
2) Have "dvc list" command to show what datasets are involved in the project and their meta-info (see 1.).

[2018-05-02 17:55] rahulguptajss commented on #644
Thanks for the info. If possible can u provide some tentative date for 0.9.7 release.

[2018-05-02 18:12] villasv commented on #688
Hmm. I'm ambivalent about bringing too much documentation to DVC. I think that's the point of versioning DVC files in git too, so you can leverage the existing VCS.

I think that anything that is immediately obvious from a `git blame` on the DVC file (such as date or description) could stay on git. Giving people many options of documentation will lead to conflicting patterns of documentation.

[2018-05-02 18:36] dmpetrov commented on #688
@villasv is right. We should not overwhelm the DVC command set and reuse Git info as much as we can.

If we decide to add `dvc dataset` command then it can show the data sources list by default (instead of separate`dvc list`). @denmoroz how do you think?

`Author` and `date` - are git-commit author and git-commit date enough? Could you please give an example when it might be not enough?

`source`

[2018-05-03 16:50] zacharymostowsky opened #689 "Pull request on Ubuntu fails"
Hello,

I am using dvc to share large files among developers as an add on to git. I have yet ot have the need for the reproducibility of ML pipelines. Everything works fine on windows and I can push and pull files to the cloud from different machines. In the case of my Ubuntu 16.04 vm I run into the following issue after cloning the repository and trying a dvc pull / checkout. I have installed dvc

[2018-05-03 19:30] zacharymostowsky commented on #689
Hi  @efiop ,

This is almost certainly the issue. I have just confirmed I am running version 0.9.0. I will upgrade, perform the necessary fixes  and report back. I appreciate your timely reply. Also, may want to update https://dataversioncontrol.com/ so the download reflects the newest version!

Thanks,
Zach

[2018-05-03 19:39] efiop commented on #689
@zacharymostowsky Good catch! We will update that ASAP, thank you!

[2018-05-03 22:36] dmpetrov opened #690 "Show all remotes"
Something similar to Git is needed:
[code]

[2018-05-04 18:06] zacharymostowsky commented on #689
Hi @efiop , I can confirm that this has solved my issue. Thank you for your help.

Zach

[2018-05-04 18:06] #689 closed

[2018-05-04 18:24] zacharymostowsky opened #691 "1 GCS bucket for multiple dvc controlled repos"
HI, I was wondering if it was acceptable to use 1 GCS bucket to handle storage for multipe dvc controlled repos. There shouldn't be any clashing of file names, correct?

Thanks,
Zach

[2018-05-04 19:08] efiop commented on #689
Hi @zacharymostowsky !

I'm glad it helped! Thank you for the feedback!

[2018-05-04 19:42] efiop commented on #691
Hi @zacharymostowsky !

Great question! Currently cache files are identified with the path that is essentially a md5 sum of that file, so the possibility of the filenames clashing is very low. That being said, so far dvc wasn't developed with that scenario in mind, so I can't say that we can recommend storing your projects' cache like that. Could you please shed some light on why would you want to

[2018-05-04 19:45] zacharymostowsky commented on #691
I have a several projects that fall under the same category. But, yes, I agree nesting the storage in a subfolder of the bucket is most likely better. Thanks. I am going to close this.

Zach

[2018-05-04 19:45] #691 closed

[2018-05-05 11:26] #690 closed

[2018-05-06 18:41] efiop opened #693 "usage report"
From #687 @dmpetrov :

[2018-05-10 12:32] efiop commented on #687
Fixed by https://github.com/dataversioncontrol/dvc/pull/695

[2018-05-10 12:32] #687 closed

[2018-05-10 12:42] prihoda opened #696 "Faster S3 push by listing objects"
When the number of files in DVC cache is large, the `dvc push` command takes a long time even when only a few files need to be pushed.

This could be solved by listing the whole cache folder using [list_objects_v2](http://boto3.readthedocs.io/en/latest/reference/services/s3.html#S3.Client.list_objects_v2) and checking all the file sizes at once. The list is limited to 1000 files so if it gets trun

[2018-05-10 12:45] prihoda opened #697 "Number of already present files should be reflected in push progress"
Hey guys, IMHO the number of pushed files should also include the files already found in the remote cache.

For example, when I upload 2 new files out of my cache of 1000 files, the progress should say 1000/1000 at the end, instead of 2/1000.

[2018-05-10 20:18] efiop opened #699 "add test for 'two repositories one cache dir(or cloud)' scenario"

[2018-05-11 12:58] prihoda commented on #697
Oh I see. I'm using S3. Here's an example output of dvc push:

[code]

[2018-05-11 13:31] efiop commented on #697
Yep, looks like a bug. I'll look into it today. Thank you.

[2018-05-11 14:34] prihoda opened #700 "DVC pull fails on unstaged files when running in subdirectory"
Hi, I noticed `dvc pull` fails when I run it inside a subdirectory and some unstaged files are present.

How to reproduce:
[code]

[2018-05-11 15:28] #700 closed

[2018-05-11 15:30] efiop commented on #700
Great catch! Thank you for the feedback! FYI: This fix is going to be released with 0.9.7, which is planned for the middle of the next week.

[2018-05-11 20:10] #697 closed

[2018-05-15 12:37] efiop opened #705 "Implement 'dvc import' for tracking s3/gcp/hdfs files"
Even though it can be worked around by running 'dvc run' with awscli/gsutil/hadoop, we should really support this scenario natively, so that we provide a more user-friendly interface and the number of stages in pipelines is reduced for users.

[2018-05-15 12:37] efiop commented on #705
Related to #642

[2018-05-15 12:39] efiop opened #706 "Support s3/gcp/hdfs as a cache dir"
I.e. hdfs://path/to/cache/dir.

Related to #642

[2018-05-15 12:41] efiop commented on #642
After quite a few of discussions with @dmpetrov , we've decided to release 0.9.7 and then really get to implementing external files support in 0.9.8(including hadoop).

[2018-05-15 12:42] efiop commented on #667
hi @prihoda !

Have you tried `dvc status` ? Does it solve your issue?

[2018-05-15 19:12] efiop commented on #103
I am not sure it is worth implementing, as there are usually more branches that don't even belong to you(i.e. various branches from origin, upstream and etc), which makes pushing/pulling all branches counter-productive, as in those rare cases when you indeed need to sync a few branches, you can easily do so by checking out those branches with git yourself. Actually, same logic applies to `dvc metr

[2018-05-15 19:36] efiop commented on #677
Btw, we should consider printing a warning when output is empty.

[2018-05-15 19:37] efiop commented on #669
After a bit more thinking, it seems like by saving datetime we would be cluttering our dvcfiles(which should be hand-mergeable, thus they need to be as simple as possible) with the info that could be easily retrieved from git log, as you should generally commit your changes anyway.

[2018-05-15 19:37] #669 closed

[2018-05-15 20:08] efiop commented on #677
Having a file size is useful, however, it does clutter the dvc files with unnecessary information and I'm not yet convinced it is really worth it. In 99.999% cases all one needs is a warning from dvc about an empty file/dir, which is implemented in #707 .

[2018-05-15 20:08] #677 closed

[2018-05-16 02:01] itcarroll commented on #686
+1

I just encountered this doing the tutorial at the first `dvc run` step:
[code]

Is there a hot fix? Like incorporating that setdefaultencoding('utf-8') somewhere?

My installation:
[code]

[2018-05-16 09:14] efiop commented on #686
Hi @itcarroll !

Thank you for your feeback! I am working on it right now. Should be ready soon and released in 0.9.7(released until tomorrow).

[2018-05-16 11:48] #686 closed

[2018-05-16 12:26] efiop opened #709 "Allow specifying ordered list of link methods in config's cache.type"
I.e. ['reflink', 'copy'] or smth like that.

[2018-05-16 14:13] prihoda opened #710 "Graph construction during DVC repro --single-item"
With large project graphs, the `dvc repro --single-item file.dvc` command spends a very long time (minutes) on constructing the graph before running the command.

Do we need to construct the whole graph in single mode?

[2018-05-16 14:23] prihoda opened #711 "Project graph construction takes a long time"
Hi guys, creating the project graph takes minutes on my project with 54 stages.

Vast majority of the time is spent in the output.py `Dependency.stage` function that is repeatedly called for each dependency:
[code]

Any ideas how to improve that? I haven't had the chance to understand all the code yet.

[2018-05-16 14:28] efiop commented on #711
Hi @prihoda ! Great point! Current implementation is not very efficient and we are aware of that and plan to look into performance improvements in the future. In the current issue can be easily solved by not re-collecting stages each time. I'll look into it today and will try to release the fix with 0.9.7. Thank you!

[2018-05-16 14:30] efiop commented on #710
Hi @prihoda !

Indeed, there seems to be no need in constructiong graph before running this command. Though, the delay is mostly caused by the inefficiency of graph construction and related to #711 . I will look into solving this today.

Thanks,
Ruslan

[2018-05-16 21:49] #710 closed

[2018-05-16 21:49] #711 closed

[2018-05-16 21:51] efiop commented on #523
I still need to really think about it, thus moving to 0.9.8 for now.

[2018-05-16 21:55] efiop commented on #678
Not sure about this, as not mtime on data files nor mtime on cache files is really indicative of the usage or lack of it. Plus, I don't see a good way that we will not break a particular pipeline with older files. Need to reconsider it later. Moving to 0.9.8 milestone.

[2018-05-16 22:07] efiop commented on #308
I don't think we should bother with it, as there are plenty of existing solutions and it is not worth it for us to bear the burden of maintaining it.

[2018-05-16 22:07] #308 closed

[2018-05-16 22:09] efiop commented on #316
Not relevant anymore. Closing.

[2018-05-16 22:09] #316 closed

[2018-05-16 22:12] #364 closed

[2018-05-16 22:29] #645 closed

[2018-05-16 22:30] efiop commented on #644
Unfortunately we decided to move implementing this to 0.9.8.

[2018-05-17 13:52] prihoda commented on #711
Awesome, thanks! This makes my workflow so much faster

[2018-05-17 13:56] prihoda commented on #667
Yes, this should be enough 👍 I'm usually using `dvc repro -s` anyway in case I only want to reproduce that single file.

[2018-05-17 18:10] efiop commented on #678
More organic way would be to use git commits as a limiter. I.e. gc --time month will save data for all pipelines up to a week.

[2018-05-18 11:59] Nicolabo commented on #367
Hi, great tool! Really appreciate it!
Few words about my project... recently I took over a ML project. Data are stored in Amazon Athena. During the data preparation process, I query data, read them to EC2, make some data manipulation. During the process, I create hundreds of csv's which store them in several directories. Thus my question: Is it possible to treat directory as dependencies or output

[2018-05-18 14:25] Nicolabo commented on #367
Hi Ruslan,
Indeed, I had 0.9.6 version. But after upgrade, problem still exists.

this is my `dvc repro` after I checkout to new branch:

[code]

I also should mention that I store Dvcfile in project directory (`.`) and all `.dvc` files in custom directory (`./dvcfiles/`). Is it right approach?

Thanks,

[2018-05-18 14:37] efiop commented on #367
Hm, the approach is correct, as long as you adjust your commands properly.

Could you share your git repo with me somehow? So I can take a look and not bother you with a dozen of questions? ;)

[2018-05-18 14:43] Nicolabo commented on #367
sure, you can find [here](https://github.com/Nicolabo/dvc_test)

[2018-05-18 14:52] efiop commented on #367
Thank you!

First thing that I notice is that your dvcfiles under ./dvcfiles/ have improper paths. I.e.
[code]

Notice how the paths are 'data/', which is not correct, as your command is being run in the same directory that your dvcfile is placed. So tsv.dvc is ran from dvcfiles/ directory, which makes your paths wrong, as they should actually be ../code/ and ../data/ . Your main Dvcfile is correc

[2018-05-18 15:04] Nicolabo commented on #367
So does it mean that when I build `.dvc` file, I should be in my `dvcfiles` directory? It seems the only one way that this code will work.

[code]

[2018-05-18 15:19] efiop commented on #367
You don't have to be in that directory(please see `--cwd` option for `dvc run`), you just need to make sure that your parameters and commands are fully aware that they are being run relative to that directory. The command you specified is correct and if you want to run it from the root directory, just add `--cwd dvcfiles` to it, to tell dvc that it should place dvcfile in dvcfiles directory. I und

[2018-05-18 15:28] efiop commented on #367
Ah, it is probably worth explaining why it gets a bit tricky when you want to store your dvcfiles separately from in a sibling directory. We actually recommend that you either store your dvcfiles alongside your code or in the parent directory. The logic is the same as with Makefiles, really. That way your projects are neatly organized and have an easy-to-see hierarchy. If you really need some spec

[2018-05-21 09:00] Nicolabo commented on #367
I created a new branch, removed all `.dvc` files, and start over based on your advice. Unfortunately when I executed:

[code]

What's wrong?

Also, I observed that when I execute `dvc run` using file dependencies, `.dvc` file is built on root project directory. However when I use directory dependencies, it's built on child directory. For example,

[code]

The file is not exist in root project dire

[2018-05-21 09:41] efiop opened #720 "run: automatic dvcfile name generation for directories"
When -f not specified and -o is a directory and --cwd is specified, `dvc run` generates wrong fname for the resulting dvcfile.

Kudos @Nicolabo for discovering!

[2018-05-21 09:43] efiop commented on #367
Hi @Nicolabo !

That particular error is caused by non-existing dvcfiles dir, as error says. I tried running your command with all the dirs created and it finished successfully. That being said, there is definitely a bug with dvc file placement, it should indeed be placed in ./dvcfiles and not in ./data, when --cwd dvcfiles is passed.

Thank you for the analysis, great catch!

I've created https:/

[2018-05-21 09:58] #720 closed

[2018-05-21 10:36] efiop opened #722 "Dependency files under output directory"
i.e.
[code]
Kudos @Nicolabo !

[2018-05-21 10:36] efiop commented on #367
The reason for such behavior is that right now dvc can only track directories as a whole and cannot tell that a dependency file that you are pointing out is actually a part of output directory from another stage, and thus it cannot build a graph and reproduce your pipeline the way you want. E.g.:

In this stage you specify data/matrix/matrix-train.p as a dependency, but you've specified data/matri

[2018-05-21 11:13] Nicolabo commented on #367
Sure but still somethin is wrong. I did what you propose (to include dir dependency when defined output dependency in previous step).

[code]

So although I built all necessary steps, it informs that `Dvc file 'tsv.dvc' changed`. What is more interesting, it deletes my `data/tsv/Posts.tsv` file I don't know when, and throws an error that such file doesn't exist.

[2018-05-21 15:08] efiop commented on #367
Have you done conversions in all the steps or just in that one? Dvc removes outputs before reproduction, thus I suppose that that is precisely what happened here. 'tsv.dvc' is changed because conf.py was changed. I would look into conf.py and `dvc run` commands to make sure that dirs don't overlap.

I tried to look into your commands and your repo that you've shared with me previously. And managed

[2018-05-22 06:38] Nicolabo commented on #367
Cool. Your code works although I don't get it. Below,you define `data/matrix_t/matrix-train.p` file output,

[code]

but in

[code]

the file dependency `data/matrix_t/matrix-test.p` was not previously added to pipeline. I assumed that it should not work because you didn't determine explicitly this file in pipeline.

When I did the same thing, but replace `matrix_t` file dependency/output into dir

[2018-05-22 09:33] efiop commented on #367
Hi @Nicolabo !

That is correct, you actually need to add `-o data/matrix_t/matrix-test.p` in that first command. The reason it works as is is that matrix-test.p is generated alongside with matrix-train.p, which the second stage is dependent on anyway, thus triggering `dvc repro` for both.

Your featurization.py tells us that there is this file missing, so I suggest looking into paths being correc

[2018-05-22 11:07] Nicolabo commented on #367
Just to make sure that I don't make a mistake I just clear my local environment and clone the [repo](https://github.com/Nicolabo/dvc_test) once again.

I updated master, and additionally created two more branches.

- `master` branch stores your pipeline from previous post (with dep/out `data/matrix_t/matrix-test.p`). When I run `dvc repro -v` it shows all steps. It works fine.
- `bigram` branch in

[2018-05-22 11:33] efiop commented on #367
Hi @Nicolabo !

Ok, it is much clearer now, thank you! In your dir_deps branch, your feature.dvc has an output `data/matrix_t`(https://github.com/Nicolabo/dvc_test/blob/dir_dependency/feature.dvc#L13), but in your master and bigram branches it has an output `data/matrix_t/matrix-train.p`. **Dvc removes outputs before stage reproduction**, that is why in dir_deps branch it removes data/matrix_t dir

[2018-05-22 11:37] Nicolabo commented on #367
You're right. I should've thought about it. Anyway, thanks for your help :)

[2018-05-22 11:44] efiop commented on #367
Always happy to help :) Please let me know if that worked for you. And thank you for the feedback, we genuinely appreciate it!

[2018-05-23 13:24] mfrata opened #725 ""updater is not old enough to check for updates""
Guys i've tried to use `dvc push` and received this answer back. What this means?

[2018-05-23 13:28] efiop commented on #725
You probably passed `-v` to it. This means that dvc is not ready to check for dvc updates, totally unrelated to the function of `dvc push`. Just ignore it.

[2018-05-23 13:41] mfrata commented on #725
Yeah. But if a haven't set the access of the cloud, shouldn't this guy raise an error?

[2018-05-23 13:52] efiop opened #726 "print a warning if no remotes are setup and `dvc push/pull` is called"
Currently `dvc push/pull` will just silently exit.
Kudos @mfrata for noticing.

[2018-05-23 13:53] efiop commented on #725
You are right, it should at least print a warning that there is no remote setup. Thank you for noticing! Created https://github.com/dataversioncontrol/dvc/issues/726 for that. Feel free to close this issue if it resolved.

[2018-05-23 14:12] mfrata commented on #725
Thank you for the quick response, i have other doubts about the dvc but i will open more issues

[2018-05-23 14:12] #725 closed

[2018-05-23 14:13] mfrata opened #727 "Aws setup error"
When i do a `dvc status` or `dvc push` i receive this error:

`Initialization error: Config file error: Key 'aws' error:
Wrong keys 'credentialsection' in {'storagepath': '<my_bucket_name>/dvc/svm', 'credentialpath': '/home/mfrata/.aws/credentials', 'credentialsection': 'default'}`

My `.dvc/config` file is like this:
[code]
So i did these commands like the [docs](https://dataversioncontrol.com/do

[2018-05-23 14:47] efiop commented on #727
Hi @mfrata !

'CredentialSection' is actually an obsoleted and not supported. Renaming it to 'Profile' should make it work.

The docs are actually a bit outdated, we are currently working on updating them.
The modern(and recommended) approach to this would consist of two commands in your case:
[code]
because you are using default profile and credpath.

Thanks,
Ruslan

[2018-05-23 14:51] villasv commented on #727
Also remember to substitute `<my_bucket_name>` for your desired bucket name.

[2018-05-23 15:00] mfrata commented on #727
It worked!!
![image](https://user-images.githubusercontent.com/15002208/40432496-3862bd70-5e80-11e8-9f1e-bda2def4eee5.png)

Renaming `CredentialSection` to `Profile` didn't worked, but those two magic commands did.

Thank you @efiop and @villasv for the answers.

[2018-05-23 15:00] #727 closed

[2018-05-24 03:35] e-mon opened #728 "Global Cloud configuration is failed"
following error is occurred.

[code]

.dvc/config
[code]

[2018-05-24 10:02] efiop commented on #728
Hi @e-mon !

This syntax was obsoleted a while ago and no longer supported. We are currently working on updating the docs. Please try a modern approach:
[code]
These two commands should be enough. Please let us know if it worked for you.

Thanks,
Ruslan

[2018-05-24 13:19] villasv opened #729 "dvc init errors "<dir> is not tracked by any supported scm tool" inside initialized git repository"
Probably this is a bug in the python git lib, but reporting here anyway.
I'm using the WSL bash to work on my project, but running `dvc init` yields:

[code]

Running `dvc init` using PowerShell works fine. Subsequent commands like `dvc run` works fine, as IIRC they don't depend as much in git.

[2018-05-24 13:36] villasv commented on #729
But I did have `git init`ed the repository, of course. You can see it in my bash line showing the current branch. And like I said, running `dvc init` on PowerShell right afterwards worked fine.

[2018-05-24 13:44] efiop commented on #729
Sorry, didn't notice that right away.

Hm... We actually use pretty simple way of detecting whether or not it is a gid dir, by just checking if .git exists. So this error is pretty strange. Are you using cygwin?

[2018-05-24 13:45] efiop commented on #729
Ah, wait a second. Is 'src' a subdir of your repository? If so, you should call `dvc init` in the project's root, which is probably what you did from a PowerShell.

[2018-05-24 14:07] villasv commented on #729
Aww, sorry. When I tried to reproduce it with PowerShell I should've made sure the conditions were exactly the same. Yeah, I didn't run `dvc init` in the repository root directory.

Thanks :) I'll rename and close.

[2018-05-24 14:08] #729 closed

[2018-05-24 16:02] efiop opened #732 "Enable gs deps test on CI"
https://github.com/dataversioncontrol/dvc/pull/731

Temporarily disabled because gsutil doesn't work `as is` on CI.

[2018-05-25 09:23] prihoda opened #733 "Save stdout as output file using DVC run --log"
Hey guys. In my workflow I often want to save the standard output to a log file. This is possible using:
[code]

Which is already quite ok 👍But I was wondering how difficult would it be to integrate it directly to `dvc run`, for example as `dvc run --log` to automatically add this log file to the list of outputs and redirect stdout to it. It might even be a configurable setting to create these log

[2018-05-25 09:40] efiop commented on #733
Hi @prihoda !

We actually had --stdout argument in an old(pre-redesigned) version of dvc, but it was proved to be cumbersome, that is why we decided to remove it in favor of what seems to be a more natural approach of using pipes or just directly modifying your code to store logs somewhere. Plus, it raises a question of whether or not the log should be tracked by dvc or not, thus producing multip

[2018-05-25 15:08] villasv commented on #733
I'm against that feature request. If your step produces output, it's best to redirect it yourself. It's so much more flexible, because you could grep\sed\awk stuff in any way you want and DVC should handle it naturally.

[2018-05-26 18:08] prihoda commented on #733
Good points! Closing this issue.

[2018-05-26 18:08] #733 closed

[2018-05-28 18:20] dmpetrov commented on #401
Let's use `-c` \ `--cwd` as the option name - the same as `dvc run`.

If dvc-file was created outside of dvc-root dir (`dvc run` without `--cwd`) then a user should be able to reproduce this command later: `dvc repro --cwd`.

[2018-05-29 10:57] e-mon commented on #728
its' solved!
thank you for your answer !

[2018-05-29 11:09] #728 closed

[2018-05-29 11:26] efiop commented on #667
Glad `dvc status` solved it for you. Closing this issue for now. Feel free to reopen.

[2018-05-29 11:26] #667 closed

[2018-05-29 11:37] analystanand commented on #728
working fine. please consider updating docs.
Thank you.

[2018-05-29 11:40] analystanand opened #734 "directory structure for production deployment"
Currently we are planing to utilize dvc for our projects.

- Anyone utilizing the dvc for production as it can put everything(model.p) into dvc  and will hide them for repo.

[2018-05-29 16:34] efiop commented on #734
Hi @analystanand !

Could you please clarify your question? Are you asking if you can hide .dvc files into a separate directory? If so, the answer is you can, but we do not recommend that and instead suggest storing dvcfiles alongside your code. That being said, if you really need to hide them, consider using `-f` and `-c` options for `dvc run` and make sure that the commands you run are fully awa

[2018-05-29 18:03] efiop commented on #734
Ah, I see. Sure, just use `-O model.pickle`(-O is equivalent to --outs-no-cache, which will tell dvc to not cache this output, so that you can `git add` yourself it and store in git) instead of `-o model.pickle` in `dvc run` when defining your pipeline(or add `cache=true` for model.pickle in the respective dvcfile that has model.pickle as an output).

[2018-05-29 19:15] efiop commented on #706
Need to utilize `remote` concept for specifying remote cache dirs.

[2018-05-30 00:36] efiop opened #735 "Update logos in windows installer"

[2018-05-30 06:43] Y4Rv1K opened #736 "Pull reguest at Ubuntu and openSuSE fail"
Environment

OS:
* Ubuntu 18.04
* openSuSE Leap 42.3

DVC version: dvc 0.9.7
Remote repository: GCP

Push:

[code]

Pull

[code]

DVC build in Docker:

[code]

[2018-05-30 07:27] efiop opened #737 "Dvc checkout for an empty dir should create the dir itself"

[2018-05-31 00:18] efiop commented on #736
Hi @Y4Rv1K !

Unfortunately I was not able to reproduce this. On the first machine, could you please execute these commands and show the output:
[code]
And also these commands on the second machine:
[code]
I've also noticed that your repositories are not the same on both machines, as md5sums for `catalog` are different. Could sync your git repos and try again to see if anything changes?

Thanks,
R

[2018-06-04 13:50] efiop opened #738 "gc for s3/gs outputs"
Currently our garbage collector only supports local cache, but it should not be hard to implement it for remote cache as well.

[2018-06-04 16:25] efiop opened #739 "Support for cross-cache scenarios(i.e. local output with s3 cache)"
Lets say one has cache.s3 pointing to local cache. We need to be able to support automatic downloading/uploading of such cache files.

[2018-06-04 19:46] efiop opened #741 "Use dvc/remote/ logic for dvc/cloud"
There are a lot of common parts in both subsystems, so it totally makes sense to unify them to some degree by using Remote() in DataCloud()'s logic.

Related to #740

[2018-06-05 00:39] efiop opened #742 "Improve test coverage for 0.9.8 to >= 90%"

[2018-06-05 06:51] dmpetrov opened #743 "Codeclimate badge is broken"
The one in the README.

[2018-06-05 11:01] chanansh commented on #663
4. Sometimes I work directly on the driver node remotely
7. Sometimes I use "local" spark standalone mode on a strong server with 50 cores
8.

[2018-06-05 14:07] dmpetrov commented on #663
@chanansh thank you!

The HDFS support is coming. Change #740 is a step for the external HDFS caches support. Actual HDFS will be implemented soon.

Btw... The 5th scenario with a standalone spark on a single strong server works right now. Just use `dvc run -d input.tsv -o ouput.pq/ spark-submit --jar my.jar param1 param2`

[2018-06-05 19:42] efiop commented on #743
Fixed.

[2018-06-05 19:42] #743 closed

[2018-06-05 19:43] efiop opened #744 "Improve codeclimate maintainability to A"

[2018-06-05 21:28] #744 closed

[2018-06-05 23:21] #401 closed

[2018-06-05 23:57] #737 closed

[2018-06-06 22:39] efiop opened #748 "Support deps/outputs that are relative to specific remote"
I.e. something like remote://myremote/file.txt . This way we could store all required info in config files(which is much easier than shoving everything into url) and use that info to establish respective connections for remote dependecies/outputs.

[2018-06-06 22:40] yukw777 opened #749 "dvc run messes up library paths"
I have a command that relies on `cupy`. When I run it with `dvc run ...`, it raises this error and fails:
[code]
If I run it without `dvc run`, no error is raised. I think this is b/c dvc run uses `p = subprocess.Popen(self.cmd, cwd=self.cwd, shell=True)` and it's messing up the environment variables. Would passing in the environment variables solve this problem?
[code]

[2018-06-06 22:43] yukw777 opened #750 "dvc mv command?"
Sometimes I just want to change the names of large files. What would be the best way to do it? Maybe add `dvc mv`?

[2018-06-06 22:44] efiop commented on #749
Hi @yukw777 !

Thank you for the analysis, great catch! We should definitely not clean the env before running the command. I will prepare a patch shortly.

[2018-06-06 23:09] efiop commented on #749
Hm, looking into it closer, it seems like I am not able to reproduce. env seems to be preserved across `dvc run`. Could you please try running these commands and check if they output the same env:
[code]
and also, just to make sure, could you please try these as well:
[code]
You can then safely remove sh.dvc and printenv.dvc.

[2018-06-06 23:14] efiop commented on #750
Hi @yukw777 !

We are considering adding `dvc mv` for data sources(see https://github.com/iterative/dvc/issues/336), but it is not ready just yet. For now, you can use this workaround:
[code]

[2018-06-07 10:57] Y4Rv1K commented on #736
@efiop  thank you. Looks like it is the case.

P.S. For reference I pushed Dockerfile to [repo](https://github.com/7insyde/dvc) if there other people who will use DVC in similar way

[2018-06-07 10:57] #736 closed

[2018-06-07 14:09] yukw777 commented on #749
hmm env vars might be a red herring..

Here's the minimal repro steps:

[code]
Error message:
[code]

[2018-06-07 14:18] yukw777 commented on #749
Actually the env vars are different:
[code]
The shells are different too.
[code]

I still think this is the culprit.

[2018-06-07 15:15] prihoda opened #751 "DVC repro is reproducing unchanged stages"
Hey guys, I noticed that DVC repro reproduces unnecessary stages (version 0.9.7 from pip):

[code]

Is this expected behavior?

[2018-06-07 17:13] efiop commented on #749
Yes, that was my suspicion, that you are not using a default shell and thus your env is different. That makes sense now. Specifying env explicitly should solve this issue. The fix is going to be released in 0.9.8, that is going to be release in a week or so.

Thanks,
Ruslan

[2018-06-07 17:35] efiop commented on #751
Hi @prihoda !

Yes, it is an expected behaviour. hello.dvc and world.dvc have no dependencies but have a command to execute, thus dvc always considers them as stages that are changed. This behavior was introduced recently to allow creating so-called `callback` stages, that can check if anything has changed that is outside of dvc's scope. Note how in your example dvc only reproduced `hello.dvc` and

[2018-06-07 17:51] efiop commented on #749
Btw, as a workaround, could you make sure that default shell matches the one you are using?
I.e. it looks like you are using bash, but for some reason default shell for your user is /bin/sh. Could you try running `chsh -s $(which bash) $USER` and then check that `echo $0` from the previous example shows bash in both cases? That should solve your issue, while I am looking into trying to solve it on

[2018-06-07 18:20] yukw777 commented on #749
mm the env vars are still different, so didn't work :/

Another interesting thing I found:
[code]
It probably has to do with how a single string command is run vs an array of strings is run.

[2018-06-07 18:22] yukw777 commented on #750
@efiop thanks! I'll close this in favor of https://github.com/iterative/dvc/issues/336

[2018-06-07 18:22] #750 closed

[2018-06-07 18:23] efiop commented on #749
@yukw777 thank you for trying that out! It turns out I was wrong(see edit above). We should use `executable` arg for Popen to specify the same shell that user is using when running a command. Preparing a patch right now.

[2018-06-07 20:49] #749 closed

[2018-06-08 08:10] prihoda commented on #751
Oh I see. That is a useful feature, just not something I would personally expect. It would be nice to display these callback stages in `dvc status` so that when I want to reproduce the `hello_world.dvc` file, I know that more stages will be reproduced - as we discussed in #667.

[2018-06-08 11:54] efiop commented on #751
Hm, you are right, `dvc status` should reflect that. I'll prepare a fix soon. Thank you!

[2018-06-08 14:16] #751 closed

[2018-06-08 18:46] arunchaganty opened #754 "Modifying data files with dvc"
I have a fairly simple use-case: we have some situations where we genuinely want to modify our data, either by appending new data we collected or by deleting old, deemed-to-be-useless, data. DVC seems like the perfect data versioning tool for this task. However, because DVC uses hardlinks, it is extremely dangerous to modify the file in place. The current workflow I have in mind is:
[code]
Does th

[2018-06-08 19:43] yukw777 opened #755 "Allow running multiple `dvc run` instances at the same time"
When I try to run multiple `dvc run` commands, I get the following error:
[code]
This is inconvenient b/c I'd love to run multiple experiments together using dvc. Anyway we can be more smart about locking?

[2018-06-08 20:17] efiop commented on #755
Hi @yukw777 !

I agree, it is inconvenient. For now dvc can only run single instance per repo, because it has to make sure that your dvc files/deps/outputs don't collide with each other and you don't get race conditions in your project. For `dvc run` case, all we need to do to enable "multiprocessing" is to make sure that dvcfiles, outputs and dependencies don't collide. That should be pretty easy

[2018-06-08 23:08] #748 closed

[2018-06-10 02:37] efiop commented on #706
Fixed.

[2018-06-10 02:37] #706 closed

[2018-06-10 07:56] dmpetrov opened #758 "Perf issue with large number of files"
Tested with 25K files. We had a similar issue before.

[2018-06-10 11:09] efiop commented on #758
Thank you for the heads up! I'm aware of this and will make sure to tune the performance for the release.

[2018-06-10 14:47] franekp commented on #758
https://github.com/iterative/dvc/pull/759  ---  fixes "dvc add" performance, tested on folder containing 12K files.

[2018-06-10 18:09] efiop commented on #758
@franekp thank you so much!

[2018-06-10 19:37] efiop commented on #642
For the record: partially fixed by https://github.com/iterative/dvc/pull/759 .

[2018-06-11 07:17] dmpetrov commented on #758
Let's keep it open since `dvc checkout` still has a perf issue.

[2018-06-11 15:04] yukw777 commented on #755
Hi Ruslan,

I think it makes sense to add multiprocessing for `dvc repro` as well. This will allow me to reproduce multiple experiments at once.

Yeah I was kind of doing what you suggested already. Thanks again for your speedy response! Very excited to use `0.9.8`.

[2018-06-11 17:20] analystanand opened #760 "dvc remove not working even default tutorial example"
i was trying to replicate the [tutorial](https://blog.dataversioncontrol.com/data-version-control-tutorial-9146715eda46).

As  i have added data like below
`dvc add data/Posts.xml.tgz`

But while executing removal with below command
`dvc remove data/Posts.xml.tgz`

`Failed to obtain latest version: the JSON object must be str, not 'bytes'
Traceback (most recent call last):
  File "/home/parma/Pych

[2018-06-11 17:55] efiop commented on #760
Hi @analystanand !

`dvc remove` works with dvc files and not regular files(as `dvc add` does). Try adding .dvc to your command. I.e.:
[code]

Please let us know if that helped.

Thanks,
Ruslan

[2018-06-12 05:15] analystanand commented on #760
okay, let check

I have actually refered this [dvc remove](https://dvc.org/documentation#commands_command_reference_remove) to execute it.

Also Please update the doc..
few more deprecated commands

`dvc show`
`dvc fsck`

[2018-06-12 05:30] analystanand commented on #760
what is the expected behaviour with `dvc remove` ?
as per understanding, It should ideally remove from the file from  ".dvc" and updated `.gitignore` by removing file name.

[2018-06-12 05:35] efiop opened #761 "Introduce `--purge` option for `dvc remove`"
`dvc delete stage.dvc` should remove outputs of the specified stage(same as `dvc remove`) and also delete the dvc file itself and do things like cleaning up .gitignore.

Kudos @analystanand !

[2018-06-12 05:37] efiop commented on #760
Hi @analystanand !

Sorry for the outdated doc, we are currently working on it. Will be sure to update it for 0.9.8 release.
You could use `dvc --help` for now, it always has most up-to-date info about dvc commands.

`dvc remove` removes outputs of a specified dvcfile.

I agree, we should also have some command to remove dvc file and cleanup other stuff. Thank you for pointing that! I've added htt

[2018-06-12 12:21] analystanand commented on #760
Hi @efiop

How soon can we expect 0.9.8 release?

[2018-06-12 14:09] villasv commented on #761
Won't `delete` and `remove` be ambiguous? Perhaps this is more intuitive if specified with CLI flags.

[2018-06-12 14:38] efiop commented on #760
I expect 0.9.8 to be released by the end of the next week, if everything goes as planned.

[2018-06-12 19:39] efiop commented on #761
Hi @villasv !

Yep, that would be a bit ambiguous, I agree :) Though, `delete` usually means something more permanent and `remove` is for something that can be brought back. Don't quote me on that please :) . In that semantic `dvc remove` is something that just removes the outputs, not removing the info and cache, but `dvc delete` is what really exterminates the given stage by removing all the inf

[2018-06-12 19:58] dmpetrov commented on #761
@efiop Is there a way to introduce an option for `dvc remove` command?

[2018-06-12 21:19] arunchaganty opened #762 "Cloud configuration documentation out of date"
When using the documentation on [setting up dvc with GCP](https://dvc.org/documentation#configuration_cloud), I get the following error:
[code]

[2018-06-12 21:19] efiop opened #763 "Use `dvc remove --purge` instead of `--outs` by default"

[2018-06-12 21:20] efiop commented on #761
After quite an extensive discussion with @dmpetrov and @shcheklein , we have reached the consensus of adding `--purge` option for `dvc remove`(I.e. `dvc remove --purge stage.dvc`) and not introducing a separate command. I'll also add `-o|--outs` command that is currently the default behavior and we will switch from it to `-p|--purge` in the next major release(https://github.com/iterative/dvc/issue

[2018-06-12 21:27] arunchaganty commented on #762
It appears the right set of instructions should either be:
[code]
or to edit the file manually to:
[code]

[2018-06-12 21:30] efiop commented on #762
Hi @arunchaganty !

Unfortunately our docs are currently outdated, but we are working on fixing them. You can easily set your cloud up with these commands:
[code]

Thanks,
Ruslan

[2018-06-12 21:50] efiop opened #764 "Support external local deps/outputs"
We currently support external local cache, but deps/outs are not yet supported. Adding support for that should be pretty trivial, since a lot of infrastructure already exists for other types.

See https://discuss.dvc.org/t/shared-cache-directory/

[2018-06-13 05:47] arunchaganty commented on #762
Ok, thanks!

[2018-06-13 05:47] #762 closed

[2018-06-13 06:15] dmpetrov opened #765 "Doc: metrics"
Metrics are not in doc and not in the tutorial

[2018-06-13 06:16] dmpetrov opened #766 "Doc: HDFS"

[2018-06-13 10:21] #761 closed

[2018-06-13 10:58] efiop commented on #760
FYI: #761 was merged and going to be released in 0.9.8. I also fixed error msgs so they won't add to the confusion again.

[2018-06-13 11:07] #760 closed

[2018-06-13 17:20] arunchaganty commented on #754
Ah, thanks!

P.S. I imagine it might be useful to have a FAQ wiki page and add these answers in.

[2018-06-13 17:20] #754 closed

[2018-06-13 17:23] arunchaganty opened #769 "dvc remote without a command throws an error"
[code]
It should probably print out help instead.

[2018-06-13 17:34] villasv opened #770 "dvc diff or some dataset management tooling"
`dvc` plays really well with `git`, but one thing that I still miss in a data version control system that I really value in source version control systems is the tooling to inspect patches. Because data should be a deterministic reproducible output from the source code, almost all important changes are found in the code history. But frequently I also want to inspect what changed in the data.

Conc

[2018-06-13 18:33] efiop commented on #769
Nice catch! This bug only occurs on python3, but on python2 the help is printed as expected:
[code]

[2018-06-13 19:05] efiop commented on #770
Hi @villasv !

Great idea! We will be sure to get to implementing it after 0.9.8.

Thanks,
Ruslan

[2018-06-13 19:08] #769 closed

[2018-06-13 22:57] villasv commented on #348
I just had to install `dvc` inside a `pipenv` and boy, the GCP packages are a ton of dependencies. It feels like I now have a `node_modules` inside my project. Seriously, GCP dependencies are about 30% of the `Pipfile.lock`, while `dvc` totals 90%.

I believe this issue can be extended to other optional dependencies, like HDFS and so on. [It doesn't seem too difficult to implement optional depende

[2018-06-13 23:11] dmpetrov commented on #770
Thank you @villasv. The idea is great!

But we should understand that in many cases dvc works in Gb size scale where diff has no meaning. The command might be abbused and many users can come up with a conclusion that `dvc diff` is a buggy\slow command.

Let's check file size before `dvc diff` and exit with an error if the size if exceeds the limit. The limit should be defined in dvc config file. D

[2018-06-13 23:12] efiop commented on #348
PRs are always appreciated :) Thank you for looking into it!

[2018-06-13 23:15] efiop commented on #770
@dmpetrov I thought about introducing a limit, but there is actually no good reason to do that, since we can simply leave it for user to decide if he wants to kill dvc diff if it takes too long or if he wants to wait.

[2018-06-13 23:19] dmpetrov commented on #770
btw... there are no `diff`s in HDFS. It is one more thing to consider.

just throwing out some idea - hide the FS specific and SCM\Git specific commands under a special command like `dvc whatever diff`

[2018-06-13 23:30] villasv commented on #770
I think that performance is a valid concern, and probably some aggressive warnings should be issued beforehand since dvc knows the file sizes.

One extra care is that the previous revision from the `git` POV might not have the output file in the local cache, in which case it's necessary to either do a `dvc pull` or in the worst case a retroactive `dvc repro`.

[2018-06-13 23:56] villasv opened #772 "Consider injecting outputs to .gitignore first"
I'm not sure if this would break something and require a significant refactor, but I wish `dvc` would start by updating the .gitignore file to add the expected outputs (naturally remove it later if it fails).

I have a veeery long command that fetches around 250k files into a directory. Because the directory is only ignored afterwards, `git` will be severely slowed. It isn't a dealbreaker, but it'

[2018-06-14 00:03] dmpetrov commented on #754
FAQ or Wiki - it is a good idea. We are thinking about creating one.

[2018-06-14 15:06] itcarroll commented on #764
As part of this enhancement, I'd caution against the step of moving the original to the cache (which is I think the usual and good behavior for internal deps/outs). My motivation for using external deps is the common case of multiple code repositories depending on the same dataset (with each repository being configured to have its own external cache).

FYI, I had tried to simply symlink the extern

[2018-06-14 15:07] noeddl opened #773 "'dvc add' fails on files encoded in Latin-1"
Running 'dvc add TEXTFILE' fails if TEXTFILE is encoded in Latin-1. The following error message is shown:

Unexpected error: 'utf8' codec can't decode byte 0xa3 in position 12204: invalid start byte

The error disapears if TEXTFILE is saved with encoding UTF-8 before running 'dvc add'. So does dvc only support files encoded in UTF-8?

[2018-06-14 15:39] efiop commented on #773
Hi @noeddl !

Which dvc version are you using?

[2018-06-14 15:50] efiop commented on #773
Nevermind, I was able to reproduce on the recent versions. Working on the fix right now. Thanks for the report!

[2018-06-14 16:08] noeddl commented on #773
Great, thanks for the quick reaction!

[2018-06-14 17:01] efiop opened #774 "Support symlink dependencies"
https://github.com/iterative/dvc/issues/764#issuecomment-397329356

[2018-06-14 17:05] efiop commented on #764
Hi @itcarroll !

We actually never move _dependencies_ to the cache, only when that dependency is also an output of some other stage. It has not been well tested yet, but starting from the upcoming 0.9.8 you could use the same external cache dir for all of your projects so that you could avoid duplication.

Having set dvc config cache.dir /nfs/shared-data/classify after the dvc init step of the tu

[2018-06-14 20:30] dmpetrov opened #776 "DVC FAQ, Wiki or getting started"
Inspired by #754 and our offline discussion with @shcheklein about simple data versioning scenarios.

Topics:
- installation
- data file versioning with cloud storage backend (S3, GCP, SFTP)
- data file modifications
- file versioning in HDFS
- ML pipeline basic
- DVC for in data engineering pipelines
- tracking and navigating by metrics
- remotes

[2018-06-14 20:42] #773 closed

[2018-06-14 23:19] villasv commented on #770
Relevant new development: https://youtu.be/fw6P6VFPo24

[2018-06-14 23:42] efiop commented on #770
@villasv I agree with you. File size limitation is definitely not a way to go. We might add a warning, but considering other tools(e.g. plain diff and git diff) don't do that, I think that we are pretty safe not printing anything as well. If the operation takes too long user could just CTRL+C it as usual :)

Missing local cache is also a great point and we will be sure to account for that(e.g. may

[2018-06-15 00:43] #764 closed

[2018-06-15 06:14] prihoda opened #779 "Using path relative to DVC project root"
Hi guys. I was wondering whether we could make use of DVC's knowledge of the project root path.

I'm regularly referencing my /scripts folder from DVC files inside my /data folder using relative paths such as ../../../scripts/something.py, which can get quite annoying.

Would it be possible to reference paths relative to the DVC project root?
- In dependencies and outputs, paths starting with / wo

[2018-06-15 11:05] efiop commented on #779
Hi @prihoda !

Actually, we have support for external local files merged into master and for those /path is a valid one.

Unfortunately I can't see a good way for dvc to setup those env vars automatically without getting into your bashrc. Maybe I'm missing something.

In the upcoming 0.9.8 you could setup a remote with the project's root directory and reference that in dependencies/outputs of your

[2018-06-15 11:59] prihoda commented on #779
Yup I'm using the path to the script also in the command.

Not sure how DVC runs the command, but you can pass environment variables to commands from python like so:

[code]

The remotes look cool, I'll look into the docs when they are ready.

[2018-06-15 12:17] efiop commented on #779
Thanks for clarifying. Looks like `dvc config root`(or maybe `dvc root` smth similar) would be the best choice. I'll take a closer look into it soon.

Unfortunately that would not work in a general case, because you also need to be able to use that env in -d/-o notation for `dvc run` and we would not be able intercept that, because the evaluation is performed by sh and the only way to combat that

[2018-06-15 15:47] #705 closed

[2018-06-15 15:51] efiop commented on #642
Plus https://github.com/iterative/dvc/pull/780 . Closing.

[2018-06-15 15:51] #642 closed

[2018-06-15 16:00] efiop commented on #188
Related to https://github.com/iterative/dvc/issues/656

[2018-06-15 16:04] efiop commented on #305
Closing since it hasn't received any interest from the users and this is something that can be worked around pretty easily with a wrapper script for the cmd itself.

[2018-06-15 16:04] #305 closed

[2018-06-15 16:05] efiop commented on #326
Same reason for closing as in https://github.com/iterative/dvc/issues/305 .

[2018-06-15 16:05] #326 closed

[2018-06-15 16:16] efiop commented on #481
Link types did not require this field to be changed. Thus closing this issue.

[2018-06-15 16:16] #481 closed

[2018-06-15 16:20] efiop commented on #663
HDFS deps/outs/cache support is merged and will be released in 0.9.8. Closing.

[2018-06-15 16:20] #663 closed

[2018-06-15 16:32] efiop commented on #688
I agree with @villasv . There is no reason to try to duplicate what git already does.

But this is a part of etiquette of working with git. Make change -> commit change with an appropriate commit msg. Plus, people can always put data.dsc or something like that to keep all the notes they want. People can also put their data sources somewhere separately if they want to keep track of them. I.e. Patri

[2018-06-15 16:32] #688 closed

[2018-06-16 13:16] #188 closed

[2018-06-16 13:16] #656 closed

[2018-06-16 15:34] #779 closed

[2018-06-17 04:43] efiop opened #783 "Add option for `dvc remote add` to set default remote"
Currently when you setup first remote for your repo, you need to manually set it as a default one in a config:
[code]
Lets just do it automatically by providing -d|--default option for `dvc remote add`.

[2018-06-17 05:17] #783 closed

[2018-06-17 05:49] efiop opened #785 "Simple read-only http(s) cloud driver"
This would allow people to easily share their projects in read-only mode. I.e. lets say author pushes his cache to s3 and allows public read-only access through https to it.

[2018-06-17 05:49] efiop opened #786 "Use dvc to store images for windows installer in our repo"
We currently have 3 images stored in git in scripts/innosetup. We should start using dvc for them. Required for https://github.com/iterative/dvc/issues/735 . Depends on https://github.com/iterative/dvc/issues/785 .

[2018-06-17 06:37] #722 closed

[2018-06-17 12:00] efiop commented on #673
Not relevant anymore, because we've decided to limit metrics to non-cached data files. Closing.

[2018-06-17 12:00] #673 closed

[2018-06-17 12:45] #674 closed

[2018-06-17 14:12] efiop commented on #670
Sorry that it took so long, only managed to get to it right now. After a bit more digging I was able to reproduce the bug and figured that it was caused by the exclusive access on the file and getfileinfo() from ntfsutils using GENERIC_READ flag for CreateFile(). I've sent a PR to that project https://github.com/sunshowers/ntfs/pull/11 with a fix. I'll introduce a temporary workaround for us soon

[2018-06-17 16:22] #670 closed

[2018-06-18 21:36] villasv opened #792 "Recommended dvc practices for evolving input data"
As part of one of my projects, I have to scrape some data to augment the base dataset. The scraped data changes regularly (weekly) thanks to manual data curation on the original source.

What is the best way to track that data using DVC? I have the following possibilities in mind:

- Simply `dvc add` the data, but following #754, by using copy caches I can simply overwrite the file with the new sc

[2018-06-18 22:32] villasv commented on #792
Hmm. I think I should move this question to StackOverflow, we should start using it for this kind of interaction.

[2018-06-19 12:10] villasv commented on #792
More or less, because the file in question is being generated inside the project. I’d upload it to S3 only to fetch it with dvc as a dependency.

[2018-06-19 12:18] efiop commented on #792
Ah, so you have a second project that generates that file in question on your local machine? If so, support for external local deps is also coming in 0.9.8, so you could use `/path/to/some/latest.data` instead of `s3://mybucket/latest.data` in the commands above. Is that more appropriate for your case?

[2018-06-19 13:05] villasv commented on #792
No, I meant that it’s the same project, so it’s a bit weird to push to S3 only to pull it again and cache it back on S3 again with DVC.

But thinking again, it’s not that weird. It’s kinda logical if I want to work with a team to have the most up-to-date input data in a common location. It’s just that I expected DVC to be that location.

FWIW, I’ve been using the copy cache approach and it’s going

[2018-06-19 13:23] efiop commented on #792
Oh, sorry, I misread this whole thread. Let me try again :)

So you have your project with a base data set, that you need to update(append to) weekly, right? And the problem you are having is that in order to do so you have to copy that file, append to it and then move it in place of the original one, because you don't want to mess up your local cache for that previous version. Correct?

[2018-06-19 15:00] villasv commented on #792
Originally, yes. After using the copy cache workaround I don’t have to copy it manually anymore. (And a minor detail is that editing is not append mode, it’s actual updates)

[2018-06-19 15:57] efiop commented on #792
Ah, I see. Updating dataset in-place is a very interesting scenario and indeed it doesn't currently work smoothly with dvc. It looks like using `dvc run` to run your scrapper would be the perfect option, however because dvc removes outputs before reproduction it is not possible to implement right now :(

Maybe we could consider adding some kind of option for the stage file(or the output itself) th

[2018-06-19 17:47] villasv commented on #792
I think that in the end of the story, I came to the conclusion that this (scripted in-place update) shouldn't be a thing. At least not conceptually visible at the logical level.

What I mean is that if a script updates files in place, there should be some effort by the script itself to behave as an input/output pipeline like any other. That's not hard to achieve: backup the old file, perform the u

[2018-06-20 14:20] nickbent commented on #762
so for aws should the proper commands be
dvc remote add AWS s3://apollo-news/prc/
dvc remote modify myremote projectname prc
dvc config core.remote AWS
?

[2018-06-20 14:22] efiop commented on #762
Hi @nickbent !

Yes, that looks correct.

[2018-06-20 16:48] #726 closed

[2018-06-20 16:48] #741 closed

[2018-06-20 16:48] #530 closed

[2018-06-20 18:07] #103 closed

[2018-06-20 21:32] #786 closed

[2018-06-20 22:28] #735 closed

[2018-06-20 22:29] efiop commented on #785
Not really required anymore, as it is much easier to use s3 with public read access. Closing.

[2018-06-20 22:29] #785 closed

[2018-06-20 22:57] efiop commented on #755
Moving this to 0.9.9 TODO.

[2018-06-21 17:36] efiop opened #798 "Cron osx failure"
https://travis-ci.org/iterative/dvc/builds/395030601?utm_source=email&utm_medium=notification

NOTE: simply reaching connection number limit. Need to share ssh connection.

[2018-06-21 19:13] dmpetrov opened #799 "New cache type: read-only hardlink"
It is often confusing that user can edit the data files and it breaks immutable cache. Often users do not realize this. An example #754.

The data file read-only semantic should be clear. Let's:
1. Introduce a new `CacheType` - read-only hardlink `ro-hardlink`.
2. Make `ro-hardlink` as the default type for file systems without `reflinks` support.

btw... It should be easy to implement (2) without

[2018-06-24 14:34] efiop commented on #742
NOTE: hdfs test is disabled on travis.

[2018-06-24 20:48] #336 closed

[2018-06-25 19:46] dmpetrov opened #806 "Move from patch to minor versions"
Now we are versioning only patch versions 0.9.X. Let's change it to minor version versioning: 0.X.0.

So, let's use 0.10.0 instead of the next 0.9.8 and 0.11.0 instead of 0.9.9.

[2018-06-25 20:32] efiop commented on #806
Great idea! Renamed milestones. Thank you!

[2018-06-25 20:32] #806 closed

[2018-06-25 21:01] efiop opened #807 "cloud: collect: keep downloaded dir cache file"
Currently we download it every time, which results in longer `dvc status -c/push/pull/fetch` work time.

[2018-06-25 21:06] efiop commented on #807
Related to #758

[2018-06-25 23:58] #523 closed

[2018-06-26 13:14] efiop opened #809 "perf: move parallelism logic from data_cloud to specific remote drivers"
This will allow avoiding creating new cloud sessions as well as help accommodate appropriate way of handling parallelism by each specific cloud type.
Related to #807, #758 . Needed before #738

[2018-06-26 18:42] villasv commented on #348
Alright. Time to get it done. What are all cache integrations that we could apply this to? I know we have `s3`, `gs` and `hdfs`, though I'm a bit unsure on which dependencies each of those require that are not required by dvc "core".

[2018-06-26 18:47] efiop commented on #348
@villasv All remote drivers are located in dvc/remote. There are four right now: s3(boto3), gs(google-cloud* stuff), hdfs(no pip dependencies required, since it uses hadoop CLI utilitiy) and ssh(paramiko). Everything that uses these dependencies is isolated in respective dvc/remote/*.py files, so it should be pretty easy. Thank you for looking into it! Please feel free to ping me if you need anyth

[2018-06-26 20:04] villasv commented on #348
I noticed that `ply` is intalled with `>3.0` by default, but there's a comment mentioning that `2.8` is required by `google-cloud`. Should I install the `2.8` as a core package?

[2018-06-26 20:12] efiop commented on #348
Yeah, I would use the same versions that are currently listed in requirements.txt unless there is a problem with that requires adjustments.

[2018-06-26 21:18] villasv commented on #348
Got it. How should I run the tests?

[2018-06-26 21:33] efiop commented on #348
Travis and appveyor will handle it from here, thank you :)

[2018-06-27 13:02] #807 closed

[2018-06-27 13:19] prihoda opened #812 "Checkout single file when pulling single file"
Hi guys, I noticed `self.checkout()` of whole project is performed even when pulling single target, is this expected behavior? I would expect `self.checkout(target=target)`.

Cheers,
David

[2018-06-27 13:23] villasv commented on #812
I'd say that's probably a harmless absence of optimization.

[2018-06-27 13:28] efiop commented on #812
@villasv Unfortunately yes :(

[2018-06-27 13:29] prihoda opened #814 "Interrupting DVC during checkout produces error in .dvc/link.state"
Hi guys, I noticed that interrupting DVC during checkout can produce incomplete `.dvc/link.state` - the last "}" is missing. This results in the following error message when running any DVC command:

[code]

Is there a way to save the file properly before exiting?

I'm using version 0.9.7.

Stack trace:
[code]

[2018-06-27 13:33] #812 closed

[2018-06-27 13:35] efiop commented on #814
It has been interrupted right when it was writing the file. We should protect such pieces of code with a signal handler or something. I'll look into it shortly, thank you!

[2018-06-27 14:36] #348 closed

[2018-06-27 14:40] #758 closed

[2018-06-27 18:41] #699 closed

[2018-06-27 19:34] #709 closed

[2018-06-28 00:54] dmpetrov opened #819 "Perf improvements"
The perf issue #758 was resolved. Kudos @efiop!

There is still a potential for perf improvements. It takes almost 30 seconds to check out (without any actions) 25K files:
[code]

12 seconds of user time is just a matter of code optimization and we should probably not care about this today. But it takes 9 seconds at the system level.

1. Is there any chance to change our algorithm for reducing the

[2018-06-28 07:42] efiop commented on #819
Sorry for closing #758 silently. I should've mentioned that I'm not done with perf changes yet, more patches are coming. Moving to 0.10.0.

[2018-06-28 10:10] Nicolabo opened #820 "Remove unused data from cache"
I am wondering wether there is a command to delete unused cache directories. For example, I checked 10 combinations, each on separate branch. I chose the last one, and merge with master. But in .dvc/cache I keep data from all branches. Is it possible to delete it somehow?

[2018-06-28 11:14] efiop commented on #820
Hi @Nicolabo !

You can use `dvc gc` to remove _all_ cache except the one used in your _current_ branch. Just be sure to account that it will only leave the cache that is used in your current branch, so if you need your cache from other branches too you might want to `dvc checkout mybranch && dvc push` it first, so you have backup for those.

Thanks,
Ruslan

[2018-06-28 12:09] efiop opened #821 "cache: remove empty dirs"
#820

[2018-06-28 12:10] efiop commented on #820
Yes, it is an expected behavior since those directories are reused very often. But I agree, it would be cleaner if we removed empty dirs. Created https://github.com/iterative/dvc/issues/821 for that.

Thank you!

[2018-06-28 18:39] #738 closed

[2018-06-28 20:07] efiop commented on #155
Added to 0.11.0 for future consideration.

[2018-06-28 20:11] dmpetrov commented on #819
#758 was fixed. Now DVC performance at the level we had before.
Next step is to improve this level.

[2018-06-28 22:11] efiop commented on #410
Sorry for such a late response, somehow totally missed this.

I agree that the msgs can be improved. I don't like the "Data source update is needed." one, as it introduces more confusion. I've created https://github.com/iterative/dvc/pull/824 that will change msg to: `Cache 'd3b07384d113edec49eaa6238ad5ff00' not found. File 'foo' won't be created.`.

[2018-06-28 22:14] #410 closed

[2018-06-28 22:41] efiop commented on #644
Support for s3/gs/hdfs/ssh deps/outs/cache has been merged and will be released in 0.10.0. Closing.

[2018-06-28 22:41] #644 closed

[2018-06-28 22:44] efiop commented on #647
Closing as stale. Please feel free to reopen.

As for parallel execution, there is a https://github.com/iterative/dvc/issues/755 planned for 0.11.0.

[2018-06-28 22:44] #647 closed

[2018-06-28 22:45] #610 closed

[2018-06-28 23:16] efiop commented on #819
Hm, are you sure you used the latest master for your test? This is what i'm getting with 25K small files:
[code]

[2018-06-29 12:58] efiop commented on #809
NOTE: after this we could drop all our state locks, since they will no longer be accessed by multiple threads.

[2018-06-30 00:38] efiop opened #827 "Introduce dir cache v2"
Currently in our v1 dir cache, we are storing a json file with relative paths to files and their md5s, that are stored separately as standalone files. That approach was adopted for two main reasons:
1) we were having in mind a scenario with directories that have a relatively small amount of big files. Unfortunately the reality showed that our assumptions were wrong and the much more common scenari

[2018-06-30 01:27] efiop opened #829 "Split data into blocks"
As @shcheklein suggested, we should consider splitting data into small blocks to track data changes more efficiently. Example: giant file that has one line appended to it.

[2018-06-30 01:35] efiop opened #830 "ssh: Support SFTP at least for push/pull/fetch/status"
Currently we require full ssh access in order to be able to perform `copy` operation that is needed for external deps/outs/cache scenarios. But for simple push/pull/fetch/status we don't need that operation and can use strictly SFTP.

[2018-06-30 04:49] efiop commented on #809
Fixed by https://github.com/iterative/dvc/pull/828

[2018-06-30 04:49] #809 closed

[2018-06-30 13:05] villasv commented on #827
Are you referring to the `link.sate` file? Can you give more details on what are the performance bottlenecks caused by many files?

Just to share my POV, this was the case for me too. I generated a directory with 250k json files and `dvc add` wouldn't even finish. So I changed my pipeline to output a single file with 250k lines, and things went on smoothly.

Perhaps you could keep cache v1 in plac

[2018-06-30 13:45] efiop commented on #827
No, I'm actually talking about directory cache files. E.g.:
[code]

As to performance bottlenecks, our current algorithm for pulling cache consists of two stages: downloading missing .dir cache files so that we can collect from those what cache do we need for files from that directory and then pulling all the rest. This is not optimal not only because of the algo, but also simply downloading thous

[2018-06-30 14:50] efiop commented on #798
Not yet fixed. https://travis-ci.org/iterative/dvc/builds/398595382

[2018-06-30 16:00] efiop commented on #798
Fixed by https://github.com/iterative/dvc/pull/832

[2018-06-30 16:00] #798 closed

[2018-06-30 16:28] efiop opened #833 "Implement missing features for snakebite and move to using it instead of hadoop CLI"
Probably worth starting with copyFromLocal and hardlink

[2018-06-30 16:43] efiop commented on #693
Moving to 0.11.0 .

[2018-06-30 20:19] efiop commented on #696
Fixed by #834 . This is going to be released in 0.10.0 next week. Thank you!

[2018-06-30 20:19] #696 closed

[2018-07-01 00:32] efiop commented on #732
Fixed.

[2018-07-01 00:32] #732 closed

[2018-07-01 15:47] efiop commented on #528
No longer relevant with new design. Closing.

[2018-07-01 15:48] efiop commented on #522
No longer relevant with new remote design.

[2018-07-01 15:48] #522 closed

[2018-07-01 15:50] efiop commented on #256
This is now implemented with `dvc metrics show --all-branches`. Closing.

[2018-07-01 15:50] #256 closed

[2018-07-01 22:05] efiop commented on #742
Fixed.

[2018-07-01 22:05] #742 closed

[2018-07-02 12:31] efiop opened #848 "List all possible config options in `dvc config --help`"
https://discuss.dvc.org/t/question-what-are-the-possible-values-for-dvc-config-command/46

[2018-07-02 21:50] efiop commented on #819
Fixed by https://github.com/iterative/dvc/pull/849 . Dvc checkout with no actions for 25K files now takes 7 second if there is no state saved and only 2 seconds if there is state saved.

[2018-07-02 21:50] #819 closed

[2018-07-02 22:09] efiop opened #850 "travis: osx failure"
https://travis-ci.org/iterative/dvc/jobs/399333096

[2018-07-02 23:19] efiop opened #852 "Introduce dvc CLI plugins"
We should introduce the same mechanism that `git` uses to be able to put `dvc-plugin` binaries alongside dvc and execute them with `dvc plugin`. I.e. it would be a good way to incorporate third-party plugins or our own plugins that we don't feel like including into the core project.

[2018-07-02 23:20] efiop opened #853 "Add 'This operation may take a while' for long running commands"
I.e. add for 100K files and so on.

[2018-07-03 00:41] efiop commented on #850
Fixed.

[2018-07-03 00:41] #850 closed

[2018-07-03 17:57] efiop commented on #848
We actually should place it in man pages or in docs. Closing.

[2018-07-03 17:57] #848 closed

[2018-07-03 18:31] dmpetrov opened #855 "LRU auto-strategy for GC"
It would be convenient to set up a strategy like LRU instead of removing everything or by time #678.

Use cases:
1. `dvc gc --stragegy LRU 10Gb` - release 10Gb from cache
2. `dvc config Core.LRU_Limit 20Gb && dvc run -d input/ -o output.tsv Rscript ` - it will GC automaticaly as a result of `dvc run` if cache size if more then 20Gb

This should work on a shared cache as well for multiple users.

I

[2018-07-03 22:49] efiop commented on #678
Moved to 0.11.0.

[2018-07-04 07:45] wardvl-ixor opened #856 "encoding error after dvc add"
Hi!

We are looking into dvc to see if we can use it in our AI practice in Belgium. It looks very promising!
I stumbled upon this problem:

There is a folder containing some pdf files in the data path.
when running 'dvc add data/pdffolder' I get
Unexpected error: 'utf-8' codec can't decode byte 0xe2 in position 11: invalid continuation byte

which is weird because I would assume all files are read

[2018-07-04 09:22] LexSong opened #857 "How do you organize dvc files?"
Currently I have a project structure like this:

    project\
    project\data\raw_data.zip
    project\data\raw_data.zip.dvc
    project\data\processed_data.npy
    project\data\processed_data.npy.dvc # I want to put dvc file here
    project\scripts\process_data.py

I ran `python scripts\process_data.py` under `project` directory to generate `processed_data.npy`

I could `dvc run python scripts\

[2018-07-04 09:38] LexSong commented on #857
Related issue: #779

[2018-07-04 10:00] villasv commented on #857
Another related discussion: https://github.com/iterative/dvc/issues/611

[2018-07-04 10:02] andrethrill commented on #855
If I may step in, it would be cool to have the option for:

3. `dvc gc --stragegy LRU 10Gb` - release files from cache until it is equal to, or less than 10GB.

And raise an error or a warning if it needs to release files required for current working commit/branch.

[2018-07-04 13:34] efiop commented on #856
Hi @wardvl-ixor !

What version are you using? (`dvc --version`)

[2018-07-04 13:56] efiop commented on #857
Hi @LexSong !

It is true for the `dvc run` for the reasons listed in the #611(e.g. because using different paths in the command itself and -d/-o for dvc run would create a lot of confusion and because we think that your dvcfiles are a part of description for your project and thus it is a lot easier to follow the project structure if you don't have them hidden somewhere), but you are free to write

[2018-07-04 14:37] LexSong commented on #857
Currently I have settled with solution like this:

    cmd: python ../scripts/data/data_script1.py
    deps:
    - path: raw_data.zip
    outs:
    - path: processed_data.npy

with .dvc in `/data` folder, and modify scripts to run under `/data` folder, too.

Although it's nice to generate dvc files automatically for small project, I think this approach may get into trouble when the project becomes

[2018-07-04 21:11] efiop commented on #857
Both my example and yours could be generated with `dvc run` as well. It just so happened that we talk more about `dvc run` instead of manual dvcfile writing, but we actually think of both ways as being equal and they both have their pros and cons and are suitable for some situations more than others.

Feel free to share your experience, we really appreciate any feedback!

Thanks,
Ruslan

[2018-07-04 23:46] efiop commented on #598
Fixed https://dvc.org/documentation .

[2018-07-04 23:46] #598 closed

[2018-07-04 23:49] dmpetrov commented on #855
@andrethrill you are right! It is better to specify a limit for cache, then amount to release.

[2018-07-04 23:49] efiop commented on #487
Fixed https://dvc.org/documentation#example

[2018-07-04 23:49] #487 closed

[2018-07-05 11:13] andrethrill opened #859 "Untracked files .dvc/state and .dvc/state.lock?"
[code]

After installing dvc from source, I've ran:

[code]
_I can see the data files in the cache dir I've defined._

## Question 1

What I find it odd is that  now when I run `git status`, in the Untracked Files section I can see the files:

- `.dvc/state`
- `.dvc/state.lock`

Shouldn't this be handled by dvc automatically in `.gitignore`?

## Question 2

Ignoring the untracked files above, I've

[2018-07-05 14:22] efiop commented on #859
Hi @andrethrill !

Thank you for your feedback! Yes, indeed state and state.lock should've been added to gitignore. Fixed in #860. As to the second question, it is definitely a bug, but I suspect that it is related to the symlink link type. Could you please confirm or deny that the cache dir and the repo itself are located on different filesystems/drives?

Thank you,
Ruslan

[2018-07-05 15:01] andrethrill commented on #859
Hi @efiop Thanks for the quick answer!

The repo and the cache are located in the same filesystems/drives.

This is how the setup looks like:

- _/datadrive/andre/repo_ # Where I originally cloned the repo, ran `dvc init` and `dvc config cache.dir /datadrive/dvc-caches/repo`
- _/datadrive/dvc-caches/repo_ # the cache itself
- _/datadrive/andre2/repo_ # where I'm cloning the same rep, running `dvc

[2018-07-05 15:17] efiop commented on #859
We actually currently require an absolute path rather than relative.

No, it should not matter who created it.

Thank you for the info! I'm looking into it right now.

[2018-07-05 15:22] andrethrill commented on #859
I've just tried 2. and it did not make a difference.

Does it matter where you run `dvc checkout` from? (`[repo_root]` vs `[repo_root]/data` for example)

Just checking: This is, then, a change you made sometime this week right? Because this Monday(or Tuesday) I was doing a simple test and setting the cache dir as a relative path and it worked.

Thank you for your support.

[2018-07-05 15:37] efiop commented on #859
Nope, it doesn't matter.

Just checked and there is actually no errors/warning printed about that, so looks like we need to add one just in case.

Could you please run this script and show me the output?
[code]

Thanks,
Ruslan

[2018-07-05 16:00] andrethrill commented on #859
Here's the output:

[code]

I've noticed the message `Cache type 'reflink' is not supported`

[2018-07-05 16:13] efiop commented on #859
The "Cache type 'reflink' is not supported" message is normal, your FS doesn't support it, so dvc had to fall back to hardlinks.

In the script you've run I tried to reproduce the original issue and I don't see dvc malfunctioning at all. Have you modified your data file(i.e. appended to the file inplace or something like that)? If so, that was a dvc detecting a corrupted cache file, removing it an

[2018-07-05 17:47] andrethrill commented on #859
OK I'm still having the same problem. But I found out something interesting:

- if I use the real data files that I want to use I get them by running `cp /[original_path]/file.csv [repo_path]/data` --> This generates the odd behaviour I'm describing above
- if I create a dummy file using something like `echo mytext > [repo_path]/data` everything works flawlessly.

This starts to go beyond my scope

[2018-07-05 18:14] efiop commented on #859
Yes, if you copy _over_ the existing file that is tracked by dvc. You see, in your case dvc uses hardlinks to link your data to cache, so they both share the same inode and so if you modify your data without removing it first(so that inode is changed) your cache is going to be corrupted. This is an optimization for big files that we have and this is one of the cons. We support four link types righ

[2018-07-05 18:48] andrethrill commented on #859
@efiop sorry I was not completely clear. I have my original data files in a path where they are never modified, let's call it `orig_files_path`. Let's call the repository path `repo_path`:

- if I use the real data files that I want to use, I get them into the repositoyr by running `cp /[orig_files_path]/file.csv [repo_path]/data`. And then run `dvc add ./data/file.csv`. _After this I never modify

[2018-07-05 20:59] efiop commented on #859
Ok, nevermind. I was able to reproduce. Here is a script just for the record:

[code]

The reason for such behavior is that the file itself is not being converted to unix format when moved to the cache. I'm already working on the fix and it is going to be released with 0.10.0 today.

Thank you so much for the feedback and your patience :)

Thanks,
Ruslan

[2018-07-05 22:39] #859 closed

[2018-07-05 22:41] efiop commented on #859
@andrethrill I merged the fix. Could you please try out updated dvc and share if it worked for you or not? Feel free to reopen this issue if the problem is not solved.

Thank you!

[2018-07-06 09:14] andrethrill commented on #859
@efiop it's with a smile on my face that I tell you I've just tested this and it seems to be working now!

I'm glad we were able to reach some conclusion and solution after digging this deep :)

I just have one last doubt that I would like to check with you: it was not clear for me how exactly `dos2unix` is used and what gets stored in the cache. Are the data files that are checked out from cache

[2018-07-06 14:14] efiop commented on #859
@andrethrill Glad it worked for you! :) Btw, we've released 0.10.0, feel free to try it out :)

Yes, the data files that are checked out from the cache are exactly equal, every single bit, to the original files that you `dvc add` initially. The reason why I've asked you to put your data through dos2unix is because I wanted to compare dos2unix + md5sum to the md5 that is computed by dvc. In dvc we

[2018-07-06 23:12] gcoter opened #865 "dvc metrics: error: too few arguments"
Hello,

In one of my current projects, I have about 10 branches that I would like to compare. On each branch, there is a JSON file at the same location (`data/metrics.json`). So, I tried using dvc metrics:

[code]

And got the following output:

[code]

I am using dvc 0.9.7. Could you give a valid usage of dvc metrics with a JSON file?

[2018-07-07 00:00] efiop commented on #865
Hi @gcoter !

`--json-path` is used to specify JSON Path(similar to XPath, i.e. `key.subkey` is a JSON Path for `{'key': {'key': 'value'}} that will output 'value'), not the path to json file itself. For example, if your metrics.json looks like {"metrics": {"value": 12345}}, this would be a valid command:
[code]

Also, note that there is 0.10.0 released. In it the command had changed a little bit,

[2018-07-07 12:14] gcoter commented on #865
I ran the command you gave me:

[code]

For each branch, I get this error message:

[code]

As if it couldn't find the file. I also tried with the absolute path but it didn't solve the problem.

[2018-07-07 13:55] efiop commented on #865
Could you please run it again with `-v` flag and show us the output? I.e.:
[code]

Also, could you please try running this command and also provide the output:
[code]

Thanks,
Ruslan

[2018-07-07 16:41] gcoter commented on #865
Ok, so for each branch I get this:

[code]

The exception is raised at this line: https://github.com/iterative/dvc/blob/91c16e21125966f51ee21c5750c302cced3fe3b2/dvc/project.py#L271

Apparently, it doesn't like the `json_path` I gave.

Here is an example of metrics.json:

[code]

It is not formatted as the example you gave me (`{'key': {'key': 'value'}}`). Maybe that is the problem?

I also tried `

[2018-07-07 17:01] efiop commented on #865
Actually there seems to be a problem with the jsonpath_rw package. How did you install dvc? From binary package(if so, from which?) or from pypi?

[2018-07-07 20:30] gcoter commented on #865
I installed it from the binary for Windows (dvc-0.9.7.exe).

[2018-07-07 20:52] efiop commented on #865
Thank you for the info! Looks like the might is an issue with a windows binary package. I'll try to reproduce it on windows shortly.

For now, I would recommend you uninstall dvc binary package and install it from the pypi with `pip install dvc`, which should work correctly. Note that it will automatically install the most recent version(which is 0.10.1), where the syntax for the same command woul

[2018-07-07 21:43] efiop commented on #865
I was able to reproduce the issue with both 0.10.1 and 0.9.7 from Windows _binary_ packages. Both versions from pypi work properly though.

Working on the fix right now, will release 0.10.2 after it is merged.

[2018-07-07 22:42] efiop commented on #865
Ok, so the issue is caused by the bug in ply module (https://github.com/dabeaz/ply/issues/97). We build our binary packages with pyinstaller which doesn't carry a source code with it, thus causing ply to raise that error. The solution is to require ply>=3.9, where that bug is fixed. I've merged the fix and released 0.10.2 https://github.com/iterative/dvc/releases/tag/0.10.2 . Please feel free to u

[2018-07-07 22:48] efiop commented on #857
Issue seems to be resolved. Closing for now. Feel free to reopen.

[2018-07-07 22:48] #857 closed

[2018-07-10 07:06] wardvl-ixor commented on #856
Hi Im using version dvc 0.9.7

[2018-07-10 07:32] efiop commented on #856
Hi @wardvl-ixor !

We had a what seems to be the same bug in our file_md5 function, it is now fixed in 0.10(available through `pip install --upgrade dvc` or standalone packages https://github.com/iterative/dvc/releases/tag/0.10.2) . Could you please upgrade and try reproducing it once more to see if it is fixed or not?

Thanks,
Ruslan

[2018-07-10 07:34] wardvl-ixor commented on #856
Hi @efiop,

This indeed solved the issue, thanks!

[2018-07-10 07:40] efiop commented on #856
@wardvl-ixor Glad it helped :) Thank you for the feedback!

[2018-07-10 07:40] #856 closed

[2018-07-10 08:12] efiop commented on #442
Fixed by https://github.com/iterative/dvc/pull/868

[2018-07-10 08:12] #442 closed

[2018-07-10 10:17] sotte opened #871 "Visualize the DAG"
First of all: I really like DVC!

Often I use a simple `Makefile` to define my machine learning/data science pipelines. I also have a little script which uses graphviz to visualize the pipeline. Now I'm experimenting with DVC and testing if it can replace my `Makefile`. I'm missing the visualization feature.

TLDR: It would be great if DVC could visualize the DAG/pipeline that is created by `dvc r

[2018-07-10 10:32] efiop commented on #871
Hi @sotte !

We previously had a `dvc show pipeline` command that was producing a jpeg using graphviz, but we later decided to remove it from the core product, because it had external dependencies(pygraphviz) that were not very easy to install on every system. Since then we've received a number of requests to bring it back and decided to go with extracting that feature into a separate package and

[2018-07-10 12:39] sotte commented on #871
Hey @efiop,

thanks for the quick response and explaining your reasoning.
Yes, installing (py)graphviz can be tricky. Offering the visualization functionality as separate package or plugin sounds reasonable.

That being said, maybe you could just spit out the dot file (which does not require the graphviz dependency) and let the user handle the transformation.

Also maybe a quick workaround: show a

[2018-07-10 15:25] andrethrill opened #872 "[BUG?] Cached dir file pushed to remote throws error when pulled from remote"
Hi!

I've `dvc add` a directory of raw data, which `.dvc` file is:

[code]

After I've run a `dvc run` command (that depends on the directory I showed above) which `.dvc` file is:

[code]
After I've done `dvc push` to S3.

Also, I don't know if this is relevant but I'm using shared cache. (cache location is outside of repo dir)

**The problem**

On a different machine, I've cloned the git repo and

[2018-07-10 16:08] efiop commented on #871
Hi @sotte !

With previous `dvc show` we did also spit out a dot file, which, in my opinion, is not complete enough of a feature to include into the core dvc, but we will be sure to include it into the plugin.

Showing all `dvc run` commands is pretty neat, but as you can see from your own example, it is pretty hard to read, especially when there are a few steps involved. It is much easier to read

[2018-07-10 16:54] efiop commented on #872
Hi @andrethrill !

[code]

These errors should not have been shown, but what they mean is that there is no local cache for those *.dir cache files, so it means that dvc will have to download them by itself, which is a totally normal situation for fresh pull. I've just sent a patch to tidy that up, so it is not all scary looking :)

This is actually strange and I was not able to reproduce. We shoul

[2018-07-10 17:58] efiop commented on #872
`dvc pull` is actually `dvc fetch` + `dvc checkout`, same way as git works. So this is actually works as it should.

So those dirs don't exist before you actually `dvc pull`? Could you remove them and run `dvc checkout` once again and then `dvc status` to see if anything changes?

Looks like your directory is indeed changed for some reason and when you run `dvc repro`, it treats your `dvc add`'ed

[2018-07-10 18:30] efiop commented on #872
One more thing. Judging by the `tree` output you've provided, the only two files that were added to the cache are new *.dir ones, so looks like either some files are missing in the new directories or our algorithm somehow produced different results for seemingly the same directories. Could you please show me these outputs(you can censor filenames if you really need to, but if you can please leave

[2018-07-11 10:10] andrethrill commented on #872
Nothing changed. But I guess the real test would be to try it now on a third machine with different user names, permissions and so on...

I just want to double check something: when I initially do `dvc add [path]` or `dvc run -d [path]...`, here `path` should be `path/to/the/dir/i/want/to/track`  and not `path/to/the/dir/i/want/to/track/*` or some variation of it, right?

They output nothing. So I

[2018-07-11 10:31] andrethrill commented on #872
Awesome!

Will it be possible to keep the cache and .dvc files that I already have in original machine? Or do I need to `dvc add` everything again? (it would save me some pain if I don't)

[2018-07-11 10:54] efiop commented on #872
@andrethrill Unfortunately it is not feasible, since md5 for your original dir was not properly computed in the first place, so your dvc files will still have to be changed. But you don't really need to re-add your files manually, just run `dvc repro` and dvc should handle everything for you(note that it will have to re-run your stages down the pipeline, since md5 for the dir is different from wha

[2018-07-11 10:58] andrethrill commented on #872
@efiop I understand.

And if, after I do as you say, I run the garbage collector, will it remove the other files? I wanted to avoid having "garbage" in the cache.

[2018-07-11 11:08] efiop opened #876 "Introduce `gc -c|--cloud` to cleanup cache in the remote"

[2018-07-11 11:09] efiop commented on #872
Unfortunately currently garbage collector is not able to cleanup cache on the remote location. I've added https://github.com/iterative/dvc/issues/876 for that and will try to add that feature shortly.

[2018-07-11 18:42] dmpetrov commented on #876
Why not `-r|--remote`?

[2018-07-11 19:22] efiop commented on #876
@dmpetrov There will be both.

[2018-07-11 19:54] #876 closed

[2018-07-12 08:08] efiop commented on #872
Hi @andrethrill !

I've released https://github.com/iterative/dvc/releases/tag/0.11.0 with both this bug fixed and `dvc gc --cloud` supported. Please upgrade. Closing this issue for now, feel free to reopen.

Thanks,
Ruslan

[2018-07-12 08:08] #872 closed

[2018-07-12 08:09] #865 closed

[2018-07-12 09:13] sotte commented on #871
Hi @efiop

ya, the hypothetical `dvc show` is not super easy to read, but some readability is better than none :) That being said, I'm still exploring the best workflow with dvc and maybe it offer all I need already. Compared to the previously mentioned "makefile workflow" I'm just missing this one place that tells me how an artifact was created (and ideally visualize how it was created).

The plu

[2018-07-12 09:23] efiop commented on #871
Thank you for the feedback!

It would be a structural part of it. I.e. plugin would automatically run `dvc show` for your repository when it is being pushed to and display it on the site(plus some badge for your project's README similar to codecov/codeclimate badges), same way you get a link to it if you manually run `dvc show` in your repository.

[2018-07-12 16:39] andrethrill opened #881 "[Question] Can I recover previous version of a data file that was already reproduced?"
Here's a sequence of commands I executed:

[code]

Shouldn't I be able to, somehow, recover the original file with the content "aeiou"?

[2018-07-12 20:08] efiop commented on #881
Hi @andrethrill !

The problem here is that in this case dvc uses hardlink to link your data to your cache, which leaves it exposed to such corruption(and automatic deletion by dvc) when you try to modify the file in place. What you should do here is remove the file (either yourself or with `dvc remove file.txt.dvc`) before you run `# echo aaeiou > file.txt`, so that original cache file is not lin

[2018-07-12 20:18] efiop commented on #881
This is effectively a tradeoff that we had to make to have fast links for big files on systems where there is no reflink support. Reflink and `copy` link types are not affected by such issues, because both of them effectively copy your data from cache to the workspace, so there is no direct writable link between them. We will also soon introduce ro-hardlink, that will also make cache read only, so

[2018-07-13 09:38] efiop commented on #881
Hi @andrethrill !

You don't need to specify `-f`, because dvc will detect broken output of script1.py, will mark that stage as `changed` and automatically reproduce it when you run `dvc repro` for that pipeline. Other than that small caveat, you are absolutely right.

Thanks,
Ruslan

[2018-07-13 09:55] andrethrill commented on #881
Thank you once again @efiop

What about my last question (that I guess you missed because it was an edit I did):

---

Sorry for insisting but I was thinking further and now my head is spinning eheh
Consider the following scenario:

The same DAG as before: `file1_v1.txt --> [script1.py] --> file1_v2.txt --> [script2.py] --> file1_v3.txt`.
After this there are 3 files in cache, when for each origin

[2018-07-13 11:08] efiop commented on #881
Oops, sorry, totally missed it. In that particular scenario from your second to last comment, corrupted cache will be deleted and a new one created.

Now to the last scenario:

Right, that corrupted cache will be detected as one that is corrupt and will be removed. One way to work around it is to push your cache to the cloud after commit1, so you could later `dvc pull` to replace corrupted cache.

[2018-07-13 12:20] andrethrill commented on #881
Thanks @efiop .

Your explanation was very insightful. I believe we can close this issue now if you want :)

[2018-07-13 14:18] NicolasDutronc opened #882 "Unexpected error: 'utf8' codec can't decode byte 0xc3 in position 1048575: unexpected end of data"
Hello ! As we are starting a data science project, we decided to give `dvc` a try since it has a lot of great features.

__Problem__:

I am trying to add a csv file to the project with the `dvc add` command and it rejects it with the following error:

```Unexpected error: 'utf8' codec can't decode byte 0xc3 in position 1048575: unexpected end of data```

I first found out that the file was encoded

[2018-07-13 23:31] efiop commented on #881
@andrethrill Thank you so much for the feedback! Closing for now, feel free to reopen. :)

[2018-07-13 23:31] #881 closed

[2018-07-13 23:47] efiop commented on #882
Hi @NicolasDutronc !

The bug you are experiencing is from 0.9.7 and is already fixed(I can confirm that it doesn't occur on dvc 0.11.0). Looks like I've forgotten to update our brew formulas to use the most recent dvc version. They are updated now, so sorry for inconvenience :( . Could you please upgrade and give it another try?

Thanks,
Ruslan

[2018-07-14 15:03] efiop commented on #852
No longer relevant, since we've introduced `dvc show pipeline` in a text format.

[2018-07-14 15:03] #852 closed

[2018-07-14 16:52] efiop opened #884 "push/pull/status/fetch: print path to data file alongside the md5"
Consider shortening md5 same as git does with its commits.

[2018-07-15 04:30] efiop commented on #871
@sotte We have thought a bit more about the problem of somehow visualizing DAG in the terminal and came up with the new `dvc pipeline show` command. Here is a tiny doc for it with an example down below https://dvc.org/doc/commands-reference/pipeline . It has been released in 0.12.0, so please feel free to upgrade and give it a try.

[2018-07-15 04:30] #871 closed

[2018-07-15 04:59] #621 closed

[2018-07-15 12:11] efiop commented on #776
Moved to https://github.com/iterative/dvc.org/issues/48 .

[2018-07-15 12:11] #776 closed

[2018-07-15 12:13] efiop commented on #765
Moved to https://github.com/iterative/dvc.org/issues/49

[2018-07-15 12:13] #765 closed

[2018-07-15 12:13] efiop commented on #766
Moved to https://github.com/iterative/dvc.org/issues/50

[2018-07-15 12:13] #766 closed

[2018-07-15 13:09] efiop commented on #772
Hi @villasv !

So sorry for the delay, this issue got lost in the heat of preparing 0.10.0. :(

This is a very interesting case! At the moment I can't find anything such strategy would break, but I'll need to take a closer look at it. I've added this to our queue and should come back to it pretty soon. Thank you for the feedback!

[2018-07-15 13:21] efiop commented on #792
@villasv Again, so sorry for such a late response.

I agree with your arguments and just wanted to note that the `dvc config cache.type copy` way of doing things although slow, is hands down the most convenient to use. That being said, I want to notice that we also have `reflink` support in dvc, which combines both convenience of `copy` with the speed of hard/symlinks. And if you wish to have thos

[2018-07-16 02:06] efiop opened #887 "Take `dvc lock` into account when doing push/pull/fetch"

[2018-07-16 02:09] dmpetrov commented on #887
It might be helpful to write a warning `stage X and all it's dependencies were not pulled because of lock`

[2018-07-16 05:55] dmpetrov opened #888 "pip install error: reflink"
Linux: `Amazon AMI`

[code]

[2018-07-16 06:09] dmpetrov opened #889 "dvc double init error message"
DVC can write a better message:

[code]

Btw... Git does reinitialization:
[code]
Does DVC need something like this? Or just a better message will be enough?

[2018-07-16 06:36] efiop opened #890 "`dvc add` for external files"

[2018-07-16 06:56] efiop opened #891 "`dvc import` for external url(i.e. hdfs -> hdfs)"

[2018-07-16 07:45] efiop commented on #888
Looks like there are no ffi headers on your machine. Could you please try installing ffi packages? I.e. with `apt-get install libffi libffi-dev`.

[2018-07-16 08:18] NicolasDutronc commented on #882
Hi @efiop ,
Thank you very much for your quick answer and reaction. It seems to work perfectly now ! :)
Just out of curiosity, does dvc now support several encoding ?

[2018-07-16 09:29] efiop commented on #882
Hi @NicolasDutronc !

Glad it worked for you! :) Thank you so much for the feedback!

DVC is actually encoding-agnostic when it comes to data. This error was caused by a bug in our code, where we were trying to open data in a text-mode causing such exception to raise when the data file wasn't encoded in UTF-8.

Thanks,
Ruslan

[2018-07-16 09:30] dmpetrov commented on #888
It is pretty much the same issue as a video driver for graphviz.
Is there a way to get rid of this?

[2018-07-16 09:36] NicolasDutronc commented on #882
Thanks for the answer ! :)

I'm closing the issue now.

[2018-07-16 09:36] #882 closed

[2018-07-16 09:48] efiop commented on #888
Graphviz doesn't need video drivers :) With pygraphviz installing graphviz itself was a problem on windows.

Ok, there are a few ways around it. I'll take a look today.

[2018-07-16 10:25] dmpetrov opened #893 "pip install error: PyYAML"
Once I solve the reflink issue #888 (`sudo yum install libffi-devel`) I got PyYAML issue:

[code]

[2018-07-16 10:36] efiop commented on #893
Seems to be a known issue https://github.com/pypa/pip/issues/5247 . Looks like EC2 image is a bit odd and has configobj installed by pure distutils. Removing configobj manually seems to be the only option. Or, another option, would be for you to use pyenv/virtualenv same as we all do on Mac, and that problem should not exist at all there.

[2018-07-16 10:39] efiop commented on #893
I would suggest you use virtualenv there, because that won't be the only issue with the system's python.

[2018-07-16 10:53] #887 closed

[2018-07-16 10:53] #889 closed

[2018-07-16 11:31] prihoda opened #894 "Pipeline show stage status"
Hi, the `dvc pipeline show` command could show simplified status information about each file. It would be very useful to find out which dependencies will be reproduced first when reproducing the target.

[2018-07-16 11:34] prihoda opened #895 "DVC status of locked files"
Hi guys, the locking feature is very useful! Could you mark locked files in `dvc status` or just hide them? It would be useful especially for locked callback stages as mentioned in #751.

[2018-07-16 12:11] efiop commented on #895
Hi @prihoda !

I'm actually working on enhancing results of `locking` in other commands. I will take a look at `status` today as well. Expect it to be merged and released today/tomorrow.

Thank you for your amazing feedback!

--Ruslan

[2018-07-16 12:15] efiop commented on #894
Ah, do you mean something like:

[code]

in a simple pipeline of raw -> (cleanup) -> data -> (process) -> output ?

[2018-07-16 13:42] #890 closed

[2018-07-16 14:07] efiop commented on #895
`dvc status` now doesn't output dependencies of locked dvc files and it also prints a warning that it is locked, since the implications of it are pretty harsh. It is going to be released in 0.13.0 later today.

Thanks,
Ruslan

[2018-07-16 14:07] #895 closed

[2018-07-16 14:37] prihoda commented on #894
The question I would like answered is:
*Which stages will be reproduced when I run `dvc repro process.dvc`?*

So actually I don't care about the exact status, I just want to get the `dvc pipeline show` list of stages, but only with those stages that will be reproduced.

For example, with this pipeline:
[code]
When the `samples` file is changed, the regular `dvc pipeline show predict.dvc` will outp

[2018-07-16 14:56] efiop commented on #894
Ah, I see. `dvc pipeline show` is not actually for the status updates, but rather for being able to overlook the whole project. What you are suggesting is very useful and I think it should be a part of `dvc status`. For example in a form of `dvc status -s|--stages` or something like that. Naming suggestions are very welcomed :)

[2018-07-16 15:36] prihoda commented on #894
Ok I see, well since it will probably often be used with the `dvc repro` command, it could be run as `dvc repro -p|--preview`: Do not run the reproduction, just show the reproduction steps.

[2018-07-16 15:38] prihoda commented on #894
Or `dvc repro -p|--prompt`: Show the reproduction steps and run the reproduction with Enter key or (y/n). I would personally love to have this as default, set in the `.dvc/config` file. Very useful for beginners :)

[2018-07-16 16:41] efiop commented on #894
Hm, this is actually not the first time we hear a similar request about the `dvc repro -p` :) How about we add both `dvc repro -p|--preview` and `dvc repro -i|--interactive`(instead of --prompt). `dvc repro -i` will walk through the stages, tell what dependencies/output had changed and ask for (y/n) confirmation to execute? What do you think?

[2018-07-17 09:10] prihoda commented on #894
Sounds great!

[2018-07-17 09:11] #891 closed

[2018-07-17 09:18] #893 closed

[2018-07-17 09:18] #888 closed

[2018-07-17 18:02] villasv opened #901 "Integration with Quilt"
[Quilt](https://quiltdata.com/) is a pretty cool project and perhaps there's some room for integrating it as a remote option.

[2018-07-17 18:18] dmpetrov commented on #901
That's interesting. Let's take a look at what we can do.
It looks like quilt provides two features:
1. provide proprietary storage for data files
2. data file versioning

DVC covers (2). But we might integrate DVC with their proprietary storage in addition to our S3\GCP\SSH...

Let's think about the integration. My biggest concern is the proprietary nature of this storage.

Is there anything speci

[2018-07-17 21:44] dmpetrov opened #902 "Launching delay"
It takes 1+ second for any DVC command even if the command does nothing. It is not typical even for Python application.

Is there a way to get rid of the delay?

[code]

[2018-07-17 21:45] dmpetrov opened #903 "Launching delay"
It takes 1+ second for any DVC command even if a command does nothing. It is not typical even for Python applications.

Is there a way to get rid of the delay?

[code]

[2018-07-17 21:47] dmpetrov opened #904 "Launching delay"
It takes 1+ second for any DVC command even if the command does nothing. It is not typical even for Python application.

Is there a way to get rid of the delay?

[code]

[2018-07-17 21:49] shcheklein opened #905 "Show a proper message if repository does not have metrics and show is called"
Let's show something like:

"No metric files in this repository. Use `dvc metrics add` to add a metric file to track."

if `dvc metrics show` is called on a repository that does not have any metrics yet.

[2018-07-17 21:49] dmpetrov commented on #904
Duplication - #903. GitHub issue.

[2018-07-17 21:49] #904 closed

[2018-07-17 21:57] dmpetrov commented on #902
Duplication - #903. GitHub issue.

[2018-07-17 21:57] #902 closed

[2018-07-18 02:38] efiop commented on #903
It is typical:

[code]

[2018-07-18 03:12] dmpetrov commented on #903
After 2nd launch (warm up) `aws` takes 0.3 sec and `gutils` 1 sec. Both are faster than `dvc` - 1.2 sec.

[2018-07-18 04:34] efiop opened #907 "tests: use stubbers for unit tests"
- [] s3: http://botocore.readthedocs.io/en/latest/reference/stubber.html (or better to use moto)
- [ ] gs: https://cloud.google.com/appengine/docs/standard/python/tools/localunittesting
- [ ] http: https://github.com/iterative/dvc/issues/1573

[2018-07-18 05:10] efiop commented on #148
Need to follow PEP8

[2018-07-18 05:11] efiop opened #908 "follow PEP8"

[2018-07-18 05:50] efiop opened #909 "metrics: add support for --csv-path"

[2018-07-18 05:53] efiop opened #910 "metrics: add mutually exclusive group for --{tsv, htsv, json}-path"

[2018-07-18 06:12] efiop opened #911 "metrics add/run -M: check that specified path is a text file and not a directory or binary file"

[2018-07-18 09:36] #909 closed

[2018-07-18 09:36] #910 closed

[2018-07-18 09:36] #911 closed

[2018-07-18 09:48] efiop commented on #903
Fixed by https://github.com/iterative/dvc/pull/906 . Startup now takes < 0.3 seconds

[2018-07-18 10:56] villasv commented on #901
The project seems to be getting some [organic traction](https://blog.paperspace.com/reproducible-data-with-pytorch-and-quilt/) and there are no successful alternatives AFAIK, so I expect it to be widely adopted in the near future.

Though this is definitely not a priority, mostly because people can just get around the lack of integration with the usual CLI commands from both projects separately. L

[2018-07-18 11:05] #905 closed

[2018-07-18 11:07] villasv commented on #148
My suggestion is [black](https://github.com/ambv/black) :-)

[2018-07-18 11:10] efiop commented on #148
@villasv Thank you for a great suggestion! I'll take a closer look shortly.

[2018-07-18 11:11] efiop opened #914 "metrics: add metric-type or smth similar to dvc files"
This will allow to configure --{json/{h}{c,t}sv}-path once and have `dvc metrics show` automatically use proper formatting.

[2018-07-19 04:58] efiop opened #916 "add '-a' alias for '--all-branches'"

[2018-07-19 05:19] efiop opened #918 "metrics show: consider adding -s|--short option or smth similar"
This option will output minimal info that will be usable for scripts.

[2018-07-19 05:20] efiop commented on #918
Need to figure out how it should work with --all-branches.

[2018-07-19 10:02] efiop commented on #799
I think a better way to achieve this would be to introduce 'protected' mode for dvc repository. I.e. `dvc config core.protected true` will tell dvc to set read-only permissions on data files(both hard and symlinks). Plus we would introduce `dvc protect/abandon`(similar to `git annex lock/unlock`, but our `dvc lock\unlock` are already taken by stage locking) that will allow to set and unset read-on

[2018-07-19 15:30] andrethrill opened #919 "[Feature Request?] `dvc run ...` without actually running?"
If this is already possible, I apologise. Please let me know how it can be done.

Say I'm working on a script that transforms `data1.txt` to `data2.txt`:

` (data1.txt) --> [script1.py] --> (data2.txt)`

Imagine `script1.py` takes a very long time to run (hours, days...). What I would like to do is:

- develop and test `script1.py` until it reaches a state I am happy with
- let it run completely (

[2018-07-19 15:54] efiop commented on #919
Hi @andrethrill !

You are right, `--no-exec` doesn't calculate the checksums, it just writes dvcfile, that is all.

That seems rather dangerous :) But thinking about it, I can definitely see that this hackish feature might be useful. That being said, it should definitely be practiced with care, since it is prone to human errors. We could add something like `dvc run --no-exec --save`(or just `dvc

[2018-07-19 16:05] andrethrill commented on #919
Hi @efiop thanks for the quick feedback as always.

I understand what you mean by `hackish` :) but do you have a different suggestion when working with scripts under development that take a long time to run and that also the output data is rather big and as such, I don't want to start caching dozens of intermediate version of the output data?

Another way I could see this working would be to have

[2018-07-19 16:15] andrethrill commented on #919
It almost feels like dvc should have two different stages `dvc run` where it runs the command and calculates the checksum, and `dvc commit` where it actually caches the files....

[2018-07-19 16:15] efiop commented on #919
My suggestion would be to use `dvc run` to run your script and after you are done debugging(or even sooner) simply call `dvc gc -a` to cleanup unused cache. Would that work for you?

[2018-07-19 16:20] andrethrill commented on #919
@efiop I see... I guess that could work yes. I'm still getting familiar with the different ways of achieving things using dvc :)

What do you think about my second comment above of having a `run` and `commit` stage?

[2018-07-19 19:29] #916 closed

[2018-07-19 20:01] efiop opened #922 "test: add tests for azure external dep/out/cache"
https://github.com/iterative/dvc/pull/921

[2018-07-19 20:01] dmpetrov commented on #919
@andrethrill I have one more solution for true Git fans :)

1. Fork a new branch `git checkout -b script1_dev` (let's assume from `master` branch)
2. Develop the script and generate, let say, 3 outputs. Let say `ffffff1`, `ffffff2`, `ffffff3` are the outputs checksums. Only the last run and `ffffff3` checksum are correct and need to be merged.
3. Merge the last changes into your `master`: `git che

[2018-07-20 01:00] dmpetrov commented on #919
Oh, sorry. it looks like I've answered to a bit different question :)
Let me think a bit more...

[2018-07-20 01:04] shcheklein commented on #919
So, it looks like the following workflow makes sense to try:

1. `dvc run --no-exec ...` - just to add a stub of the stage initially
2. `dvc repro -s stage.dvc` - to iterate on that stage without running the full pipeline
3. `dvc gc` - to collect unused data files and keep the cache as small as possible. Keep in mind that you need to push data files you actually want to save to some remote before

[2018-07-20 11:34] efiop commented on #919
@shcheklein That is precisely what I've been suggesting with `dvc gc -a` above.

As I've said previously, the main overhead here would be to store one more version of the output, plus it might be not very handy to remember to call `dvc gc` every time you run a command. I definitely think that there is a place for `dvc run/repro --no-save` + `dvc save` in our architecture, since it is still making

[2018-07-20 12:05] wardvl-ixor opened #923 "S3 AWS: default profile is always used"
Hi!

Defining a profile in dvc-config has no influence on the used profile in AWS credentials file.

I quickly took a look at the code and  I never see boto3.session(profile=..) called. Or is this done using the AWS_PROFILE env variable?

(using dvc 0.14.0)

[2018-07-20 12:11] prihoda opened #924 "Updater.py does not work with python 2"
Hi there, I noticed that with python 2, the updater fails since it is trying to import the `requests` module.

Cheers,
David

[2018-07-20 12:30] efiop commented on #924
Hi @prihoda !

I'm not able to reproduce this. Could you share more info please? For example could you please run this:

[code]

and share the output?

[2018-07-20 12:41] prihoda commented on #924
Sorry my bad, it was just a problem with my python environment. Closing this issue.

[2018-07-20 12:41] #924 closed

[2018-07-20 13:12] #923 closed

[2018-07-20 13:22] efiop commented on #923
@wardvl-ixor I've merged the fix and creating a 0.14.1 release right now. It should be out in an hour or so.

Thank you so much for the feedback!

[2018-07-20 13:23] wardvl-ixor commented on #923
hi @efiop , thanks for the quick fix!

[2018-07-20 14:13] prihoda opened #927 "Locked warning is shown for all files in dvc status"
Hi there, the *locked file* warning seems to be shown for all files in dvc status:

[code]

[2018-07-20 14:19] prihoda commented on #927
Actually, it's shown for the non-locked files 😄

The bug is in project.status:
[code]

[2018-07-20 14:47] efiop commented on #927
Oops, sorry :slightly_smiling_face: I'll fix it ASAP, will be included into 0.14.1 release today.

Thank you!

[2018-07-20 15:13] #927 closed

[2018-07-21 10:04] gcoter commented on #865
Sorry for my very late reply. So I upgraded to 0.10.2 and here is what I get:

[code]

It prints the same metric value for every branch. Did I forget something in the command?

[2018-07-21 11:01] efiop commented on #865
Hi @gcoter !

How is `data/metrics.json` specified in a respective .dvc file? Could you show us the .dvc file for that stage please?

My first guess would be that you've probably specified data/metrics.json as a regular cached output in your `dvc run` command, which means that when `dvc metrics show` is checking out git branches, it sees the same data\metrics.json that is left from your current br

[2018-07-21 16:20] shcheklein commented on #919
Makes sense. I'm just trying to find an option to avoid new commands :) Is it possible to reuse `dvc add` instead of `dvc save`? Basically it would mean that `dvc add` will be used always to move file to cache and create dvc file if it does not exist yet.

[2018-07-21 16:45] efiop commented on #919
@shcheklein I agree, saving a command is great, but those are the details that we will have to figure out if we have a confirmation from the user that this feature is indeed needed. That being said, I don't think that `dvc add` should handle this case at all. An alternative that makes more sense to me would be to have a `--save`(or smth like that, we can always figure it out later) option for `dvc

[2018-07-21 23:55] remram44 opened #930 "Support IPFS or DAT"
Having an option to share data files in a peer-to-peer way is probably a good idea. It eliminates the need to pay for external services, and scales much better in the "public open project" situation (where lot of cloners would mean substantial S3 costs).

[IPFS](https://ipfs.io/) is probably the easiest to support here, together with [DAT](https://datproject.org/). Using BitTorrent directly seems

[2018-07-22 03:38] remram44 opened #931 "Automatically detect command outputs?"
Hi there,

I am new to DVC, and to be frank I am still investigating options. It seems that Datalad, which is not that different a tool (if one likes git-annex), automatically detects the output of a command by simply looking at the modified files after the command run.

It seems to me that DVC can also determine changed files, based on Git status or comparing to the hash in the .dvc pointer file.

[2018-07-22 07:19] efiop commented on #930
Hi @remram44 !

Great idea, thank you! If you wish to implement support for some of those, please feel free to take a look at `dvc/remote/` directory in our project, where all current remote drivers are implemented. To support data pulling/pushing, you would only need to implement `download()`, `upload()` and `exists()` methods, so it should be pretty easy. We will be happy to merge any proper pul

[2018-07-22 08:16] efiop commented on #931
Hi @remram44 !

We have actually experimented with automatic outputs detection in the early versions of dvc, where we were indeed using `git status` to find newly created files and assumed that those were the outputs of the command. Since then we've decided against that approach for a few reasons:

1) Explicit is better than implicit. With automatic output detection it is pretty easy to shoot your

[2018-07-22 08:50] dmpetrov commented on #931
Thank you @efiop for the explanation of why we made this decision and got rid of all implicit dependencies logic. We could add auto\implicit dependencies later. It might be a separate project\extension or even part of DVC.

@remram44 Please let us know if you have some ideas how to generalize this. Project examples would be really helpful.

[2018-07-22 14:53] gcoter commented on #865
Hi @efiop,

Indeed, I specified it as a regular output. In the previous version I was using, there was no `-M` option I think, so I specified my metrics with `-o`. But, it used to work quite well. I just had to run `dvc checkout` to retrieve the metrics (as the other files). So, I'm a bit confused about why it doesn't work anymore.

Anyway, I upgraded to the latest version and I will use `-M` from

[2018-07-22 15:50] efiop commented on #865
Oh, sorry, looks like we had a regression 🙁 Somewhere after 0.9.7 we've made a decision that it is better to specify your metrics in a non cached files, so that they are not dependent on cache. And somewhere around that time, I've removed dvc.checkout() line when we are iterating over git branches.  I'll send a patch soon to try to mitigate that.

Thank you so much for the feedback! Please let us

[2018-07-22 16:13] gcoter commented on #865
Ok I see, no problem :)

Yes, everything is fine now. Thanks!

[2018-07-22 16:45] remram44 commented on #931
If running stages in parallel is an important use case then indeed I don't think there is a way to support this.

[2018-07-22 16:47] remram44 commented on #930
Indeed this looks easy to add. I don't have the cycles to attempt this now, but I might try in the future.

[2018-07-22 21:45] #914 closed

[2018-07-22 21:58] dmpetrov commented on #930
The idea of storing data in p2p\blockchain looks very appealing. We develop DVC based mostly on our industrial data science experience where p2p is not a big part of this industrial environment. But it might become soon! Recently, I got another request (not in GItHub) regarding denet.pro dApp for storing data for DVC.

It would be great to understand this p2p datasets landscape:
- who uses these t

[2018-07-22 22:25] efiop opened #934 "help: format plain `dvc` output"
Currently `dvc` outputs:
[code]

Need to reformat.

[2018-07-22 22:26] efiop opened #935 "updater: print "Checking for updates""
As @shcheklein noticed, updater takes quite a noticeable time to check for updates and it would be great if we could print some msg to let people know what dvc is doing.

[2018-07-22 22:55] efiop opened #936 "Get EV code signing certificate to sign our binary packages"
I.e. https://www.certum.eu/en/cert_offer_microsoft_code_signing/ .

The "untrusted source" window is annoying, but it is only a small part of the problem. A much bigger problem is that when you install dvc from binary windows package, windows defender thinks that this is a virus and makes it extremely slow. To fix that we need to sign our packages with a trusted certificate.

[2018-07-22 23:06] efiop opened #937 "updater: add a timeout"
Kudos @shcheklein for noticing.

[2018-07-22 23:08] efiop opened #938 "add `dvc update` to update dvc in-place"

[2018-07-23 00:16] remram44 commented on #930
I'm thinking about the case where you make a analysis public, e.g. publish it on GitHub. Having everyone download from your S3 bucket would incur charges, hosting it on some box in your lab would provide very limited bandwidth. Peer-to-peer solutions would scale nicely.

[2018-07-23 10:20] andrethrill commented on #919
Thanks everyone for the insightful discussion. It's showing me different ways of using DVC. Below follow my answers:

@efiop

I think this serves a different purpose. Because, as I understand it, it cleans **all** the unused cache. Personally, I like the idea of working on two or different branches and being able to quickly changing between them by just checking out files. And if the files that ar

[2018-07-23 11:46] #935 closed

[2018-07-23 11:46] #937 closed

[2018-07-23 23:27] dmpetrov opened #941 "Expand checksums whenever possible"
It would be great to expand checksum by file names when it is possible. Hashes have no meaning for a regular user.

[code]

More details:
- In an ideal case, we should expand all the checksums but some data files might belong to another branch\commit. For now, it is probably okay to keep checksums if a data file was created outside of the current branch\commit.
- It might be okay to keep short che

[2018-07-24 06:36] efiop commented on #941
Duplicate of https://github.com/iterative/dvc/issues/884

[2018-07-24 11:06] KietNhiTran opened #942 "hardlink seem to be not working. I got double size for downloaded data"
Hi,

I follow the tutorial to experience DVC. At step "Data file internals", https://dvc.org/doc/tutorial/define-ml-pipeline, I follow the instruction to download the dataset and take a look into the actual file size after adding the dataset into dvc. I saw that both files are not in the same inode and my local env has double file size. See below console log info

[code]

I found 2 issues :
- loca

[2018-07-24 11:07] KietNhiTran commented on #942
Addition info: I am using latest vdc version : dvc 0.14.2

[2018-07-24 11:22] efiop opened #943 "dvc add dir/file creates x.dvc in the current directory"
Kudos @KietNhiTran for discovering. Related to #942

[2018-07-24 12:46] #943 closed

[2018-07-25 09:25] efiop opened #945 "scm: support hg"
Need to simply add a proper driver to https://github.com/iterative/dvc/blob/master/dvc/scm.py (see Git class as an example).

[2018-07-25 10:38] cclauss opened #948 "Testing against Python 3.6 and 3.7"
https://github.com/pyinstaller/pyinstaller#main-advantages says that pyinstaller supports these versions of Python but https://github.com/iterative/dvc/blob/master/.travis.yml#L9 says the opposite.

[2018-07-25 10:41] efiop commented on #948
Hi @cclauss !

Looks like Pyinstaller now supports 3.6 and 3.7. It wasn't the case when I wrote those tests. I'll enable tests for those versions shortly. Thank you!

--Ruslan

[2018-07-25 10:47] efiop opened #949 "Look into warnings reported by flake8"
Kudos @cclauss !

https://travis-ci.org/iterative/dvc/jobs/407997947#L1969

[2018-07-25 10:47] cclauss commented on #948
https://github.com/travis-ci/travis-ci/issues/9069 is important with Python 3.7...  TL;DR is that Travis CI needs __dist: xenial__ and __sudo: required__ on the Python 3.7 job.

[2018-07-25 14:30] efiop commented on #949
Fixed by https://github.com/iterative/dvc/pull/950

[2018-07-25 14:30] #949 closed

[2018-07-25 14:30] efiop commented on #908
Fixed by https://github.com/iterative/dvc/pull/950

[2018-07-25 14:31] #908 closed

[2018-07-25 17:07] efiop commented on #948
@cclauss Thank you for the hint! I've enabled both 3.6 and 3.7 . We should be covered from now on :)

Thanks,
Ruslan

[2018-07-25 17:24] cclauss commented on #948
Very impressive.

[2018-07-26 05:58] KietNhiTran commented on #942
updater is not old enough to check for updates
Data file 'Posts.xml' didn't change, skipping checkout.
Checking out 'Posts.xml.tgz' with cache '5988519f8465218abb23ce0e0e8b1384'

[2018-07-26 05:59] KietNhiTran commented on #942
Above is the outout. Sorry for the late response.

[2018-07-26 09:14] efiop commented on #942
No worries :)

Ok, so by default when dvc is linking your data to cache, it tries 4 types of links in this order:

1) `reflink` -- The best link possible, because it is fast as hardlink/symlink, doesn't duplicate data and at the same time doesn't leave direct link from source to destination, so when you modify src(or dest) it doesn't affect dest(or src) and thus it helps eliminate even the slighte

[2018-07-28 16:52] efiop commented on #941
Fixed by https://github.com/iterative/dvc/pull/952

[2018-07-28 16:52] #941 closed

[2018-07-28 16:52] efiop commented on #884
Fixed by https://github.com/iterative/dvc/pull/952

[2018-07-28 16:52] #884 closed

[2018-07-30 07:13] analystanand opened #953 "dvc status and dvc pull is failing with data of size 11.5gb"
I was trying to add a directory which contains  5 directories and files in respective directories.
Files are in zips,text, and csv.

while `dvc add ` worked fine but it stuck while pushing data to amazon aws.
Internet connection might be an issue as files are large.
My download and upload speed are as follows:
DOWNLOAD  8.62 Mbps
Upload 23.11 Mbps

a regular progress bar which i saw in case of sma

[2018-07-30 09:28] wardvl-ixor opened #954 "boto3 dependency"
Hi,

Is it possible that boto3 is not automatically installed in pip install dvc?
when using dvc for the first time, dvc pull will give the error "url should evaluate to True", which is fixed after pip install boto3.

Thanks and regards from Belgium!

[2018-07-30 10:45] efiop commented on #954
Hi @wardvl-ixor !

Boto3, google-cloud-storage, etc are indeed not installed by default when you call `pip install dvc` to avoid unnecessary dependencies. To install all dependencies use `pip install dvc[all]`.

Let's keep this issue open, I'll send a patch soon to output a better error msg that will have an instructions on what to do if such situation with dependencies occurs.

Thanks,
Ruslan

[2018-07-30 12:36] efiop commented on #953
Hi @analystanand !

`dvc push` on a directory with 12G file works for me as expected. I suppose you've killed the process after a while? How long was it hanging before you killed it?. That being said, I am able to reproduce `dvc status` issue with not showing proper status when `dvc push` didn't fully work(i.e. was killed before finishing upload). Already preparing a patch.

Thanks,
Ruslan

[2018-07-31 14:35] prihoda opened #956 "Question: How to approach running same pipeline with different parameters."
Hi guys, I have been using DVC for a while and I'm really excited about it! I have a general question if you have a minute.

How would you approach running the same pipeline again, with different parameters (input file, model hyperparameters, etc.) if you want to be able to compare the two pipelines?

- Create a new branch, replace the parameters in the original DVC file, reproduce pipeline. Very

[2018-07-31 16:00] analystanand commented on #953
Yes, it started uploading. I could not figure exactly when it started.

Does it wait for compressing or something?

So ideally, its a workflow that we have to optimise like..add zipped files of datasets and then add into DVC so as to reduce file size.

[2018-07-31 16:28] efiop commented on #953
No, it doesn't wait for compressing. It actually establishes connection with the s3 and figuring out what files it needs to upload. Looks like we should add an additional message to help keep users in touch if the operation takes a bit longer than usual. I'll send a patch for that soon.

Yes, dvc currently doesn't alter your data in any way and transfers it as is. Zipping files yourself could grea

[2018-07-31 16:52] efiop opened #957 "status/push/pull: print more info about current progress"
Related to #953 . We need to print something like "Establishing connection" or smth like that to keep user posted about the current progress before we can actually show him the progress bars.

[2018-07-31 18:49] efiop commented on #956
Hi David!

How do the outputs you are comparing look like? If it is something that can be viewed in a simple text format (e.g. raw text, json, csv, tsv, etc), you could consider to go with the "create branch" approach and utilize `dvc metrics` to show and compare the outputs for the different branches. Here is a small doc describing how to use it: https://dvc.org/doc/commands-reference/metrics . W

[2018-07-31 18:54] efiop opened #958 "md5: print a msg when computing md5 for a large file"
Computing md5s for files bigger than a few GB takes some pretty noticeable time(the amount depends on the machine of course). Need to print some msg or even a progress bar to keep the user posted.

[2018-08-01 06:52] dmpetrov opened #959 "Unit-test coverage drop"
From 92% to 81%.

It looks like a test-environment issue.

[2018-08-01 07:48] dmpetrov commented on #959
It might be just an issue with the widget.

Also "Travis" and "Windows Build" widgets do not work.

[2018-08-01 07:53] efiop commented on #959
Is it running on your local environment? If so, there are a few reasons:

1) You don't have your aws/azure/gcp/ssh/hdfs creds setup, so those parts of code are not covered on your machine;
2) You can't test windows/linux/macos at the same time, so some parts of the code are not covered on your machine;

You can easily identify which tests didn't run by looking grep-ing SKIP in your test logs. We s

[2018-08-01 07:56] dmpetrov commented on #959
81% was a value on the widget, not my local environment.

Is there a way to mitigate the windows issue? It does not look good on the readme page.

[2018-08-01 07:59] efiop commented on #959
I see. The testing was pending, that is all. It is updated when other tests are done running.

We use shields.io for *nix too. Simple page reloading usually helps :) It is not that common, but sure, lets just switch to the stock plucks.

[2018-08-01 08:05] efiop commented on #959
Added stock plucks back https://github.com/iterative/dvc/commit/1bfcc12853fab6417508881106eada9d3ae7e917

[2018-08-01 08:05] #959 closed

[2018-08-01 13:10] efiop opened #961 "add dvc to core homebrew formulas"
Currently it is only possible to install from our repo using "brew install iterative/homebrew-dvc/dvc", but we should be now able to get dvc formula into homebrew's core so that we could use "brew install dvc".

[2018-08-01 13:10] #958 closed

[2018-08-01 20:09] efiop opened #962 "disable build using pyinstaller on python 3.7"
3.7 is still not supported by pyinstaller. https://travis-ci.org/iterative/dvc/jobs/410957095

[2018-08-02 08:47] prihoda commented on #956
Thanks, I missed the --all-branches option, that's a perfect match for this scenario 👍

I also have some PNG files showing the output plots. I will consider creating a jupyter notebook that will read all the outputs from the current branch and show them in one place. Then I can generate PDFs, which should make it easier to compare all the branches at the same time.

I will close this issue now but

[2018-08-02 08:47] #956 closed

[2018-08-02 11:47] #962 closed

[2018-08-02 13:10] #954 closed

[2018-08-02 16:34] efiop commented on #827
Ok, most of the bottlenecks were cleared when we were doing RFC for 0.11.0 making this issue not relevant anymore, since our current dir cache suits our needs perfectly.

[2018-08-02 16:34] #827 closed

[2018-08-02 18:27] #957 closed

[2018-08-03 06:46] stratomaster31 opened #965 "DVC fails tu launch tensorflow"
I have test python script:
`import tensorflow as tf
print(tf.__version__)
`
It runs well when launched from bash `python3 test.py`. But when I launch it with `dvc run python3 test.py` I got the following out:

[code]

[2018-08-03 08:49] vfdev-5 opened #966 "[Feature] Move pytest to test dependencies ?"
I wonder whether this package really needs `pytest` as a requirement for usage and not for testing ?
If not, maybe it would be better to move it somewhere as only test dependency.

Thanks

[2018-08-03 08:59] vfdev-5 opened #967 "[Bug] Unexpected error: No module named concurrent.futures on python 2.7"
How to reproduce:
[code]
There is a missing dependency on python 2.7: `futures`. To install it:
[code]
and `dvc init` works

[2018-08-03 10:26] #967 closed

[2018-08-03 10:27] efiop commented on #967
Hi @vfdev-5 !

Nice catch! Already merged the fix for it. It will be released with a new version later today.

Thanks,
Ruslan

[2018-08-03 10:30] efiop commented on #965
Hi @stratomaster31 !

Which version of dvc are you using(`dvc --version`)?

[2018-08-03 10:31] stratomaster31 commented on #965
dvc 0.15.1

[2018-08-03 10:33] #966 closed

[2018-08-03 10:34] vfdev-5 commented on #853
As  commands like `gvc add dataset` are syncronious, maybe add a progress bar would cool and useful to know how much time it will take to add files. In my case dataset is 500GB and it take too much time...

Thanks

[2018-08-03 10:34] efiop commented on #966
Hi @vfdev-5 !

You are right, it should be in our test-requirements.txt. Already merged the fix for that.

Thank you,
Ruslan

[2018-08-03 10:38] efiop commented on #853
@vfdev-5 Thank you for your feedback! We've actually added a progress bar for large files(>1G) and directories(>100files) yesterday, which greatly helps with that. We will release it later today.

Thanks,
Ruslan

[2018-08-03 10:39] vfdev-5 commented on #853
Oh, sounds great! Thank you, will try the master version

[2018-08-03 10:53] efiop commented on #965
And could you please show us the output of these two commands:
[code]

Thank you,
Ruslan

[2018-08-03 10:56] stratomaster31 commented on #965
For sure, thx!

bash
igjano:x:1002:1003:Ingacio,,,:/home/igjano:/bin/bash

[2018-08-03 11:16] efiop commented on #965
Thank you! Looks like there is something wrong with the environment, need more info. Could you also run these commands in your repository as well and show us the output?

[code]

[code]

You can then safely remove printenv.dvc and sh.dvc files.

[2018-08-03 11:21] #953 closed

[2018-08-03 11:31] stratomaster31 commented on #965
printenv
`LS_COLORS=rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.dz=01;31:*.gz=01;31:*.lrz=01

[2018-08-03 11:33] stratomaster31 commented on #965
echo $0
`/bin/bash`
dvc run -f sh.dvc 'echo $0'

`Running command:
        echo $0
/bin/bash: /tmp/_MEIiG8tpu/libtinfo.so.5: no version information available (required by /bin/bash)
/bin/bash
`

[2018-08-03 13:09] efiop commented on #965
I am not able to reproduce this issue. Your environment seems identical with and without `dvc run`, which is how it is supposed to be. Could you also try these commands please?

[code]

[2018-08-03 17:49] #853 closed

[2018-08-03 19:35] sotte opened #968 "Trouble installing dvc with pip: No matching distribution found for futures>=3.2.0 (from dvc)"
I'm on a fresh ubuntu 18.04 and I want to install DVC. But I run into some dependency problems. Never had that problem before.
[code]
Here are all relevant version
[code]

[2018-08-03 19:51] efiop commented on #968
Hi @sotte !

Sorry, I accidentally pushed wrong version to pip. I released 0.15.3 already. Please upgrade.

[2018-08-03 19:51] #968 closed

[2018-08-03 20:44] sotte commented on #968
That was quick. Thanks for the fix.

[2018-08-03 20:53] efiop commented on #968
@sotte And thank you for the feedback! We really appreciate it! :slightly_smiling_face:

[2018-08-03 21:36] efiop opened #969 "create deb and rpm repositories for dvc"

[2018-08-04 08:11] sotte opened #970 ""dvc pipeline show" should use Dvcfile by default"
Similar to `dvc repro` the `dvc pipeline show` should use the `Dvcfile` when no file is specified.

[2018-08-04 08:26] sotte commented on #871
I just tested it and I like it (still a graph would be amazing :)). I'll use it some more and I'll give more feedback later. Thanks!

[2018-08-04 09:11] sotte opened #972 ""dvc repro --dry" just show me what you would do"
I'm proposing a `dvc repro --dry` which only prints the commands it would execute without actually executing it.

[2018-08-04 12:53] sotte opened #973 "Make `dvc run` handle files with same name but different path"
Let's say I have two scripts: `code/gen_features_v1.py` and `code/gen_features_v2.py`. They generate feature files `data/v1/features.pkl` and `data/v2/features.pkl` respectively.

I run the scripts like so:
[code]

But now the `features.pkl.dvc` only tracks the `features.pkl` from the second run even though I might need both.
[code]

Quite often I have have files with the same name. So how do I ha

[2018-08-04 13:10] efiop opened #974 "Add confirmation prompt when trying to overwrite existing dvc file"

[2018-08-04 13:10] efiop commented on #973
Hi @sotte !

We should definitely add some confirmation prompt for such cases(added https://github.com/iterative/dvc/issues/974 to track that), but in the mean time you could use `-f` option for `dvc run` to specify the name of the produced dvc file.  Another way to handle this, would be for you to use git branches instead of creating v1,v2 files.  The advantage of using git branches is that you c

[2018-08-04 13:14] efiop commented on #970
Hi @sotte !

Great point! I'll take a look into it shortly.

Thanks,
Ruslan

[2018-08-04 13:43] sotte commented on #973
Hey @efiop

thanks for the feedback!

Regarding the explicit `-f`: I see how that would solve the problem. But I know that I'll forget to do that, especially if there is no warning. So #974 is crucial.

Regarding git branches: yes, that works in many cases. If there are are two datasets that have to be explored (same name but different path) two branches don't really make sense.

Regarding the met

[2018-08-04 16:15] #974 closed

[2018-08-04 22:05] #894 closed

[2018-08-04 22:05] #972 closed

[2018-08-04 22:07] efiop commented on #894
Hi @prihoda !

FYI: I've added `--dry` and `-i|--iterative`(please ignore the commit msg that says `--prompt` in the header :slightly_smiling_face: ) options for `dvc repro`. Feel free to try it out :slightly_smiling_face:

Thanks,
Ruslan

[2018-08-05 00:56] #942 closed

[2018-08-05 01:45] #934 closed

[2018-08-05 07:52] sotte commented on #972
Thanks! I'll check it out shortly.

[2018-08-05 10:41] dmpetrov commented on #799
It looks like this feature should become a default behavior in dvc 1.0 (with the `dvc commit`). @efiop what do you think?

Protect\Abandon - does it affects all the cache types?
- Hardlink - yes
- Reflink - no
- Simlinks - yes?

[2018-08-05 12:42] efiop commented on #799
@dmpetrov I agree, we should definitely consider making it a default behaviour for 1.0 . And yes, only hardlinks and symlinks should be protected by default.

[2018-08-05 14:24] efiop opened #979 "calling `dvc` should print full help same as with `dvc -h`"

[2018-08-05 18:37] dmpetrov commented on #799
So, 2 cache types (Hardlink and Symlinks) need the new parameter (Protect\Abandon) for the cache immutability and other 2 types (Reflinks and Copy) do not need that.

As a result, DVC can protect immutable data files in two possible ways:
1. Introduce new cache types `ro-hardlink` and `ro-symlink` (and use them by default).
2. Introduce a global config parameter `Protection = Protect|Abandon` for

[2018-08-05 20:40] efiop commented on #799
Correct, the pros for this one is that it fits nicely in the currect cache.type logic. We will still have to introduce something similar to `dvc protect|abandon` to provide a convenient way to modify a file if it is protected.

2.1. Add an ability to change hardlink and symlink protection settings per file - dvc protect\abandon file.dvc. To me, it is hard to imagine a realistic scenario for this f

[2018-08-05 20:55] dmpetrov commented on #799
Good! It looks like the `protected` config param is a better solution. However, two additional commands `dvc protect/abandon` for a very rare use case (why I need to make a data file mutable?) look like an overkill.

We should think more about how to avoid these commands.

[2018-08-06 17:00] #979 closed

[2018-08-06 23:14] efiop commented on #965
Ah, I see what probably happened in your case. You are using a binary dvc package, right?(not from pip) If so this looks like an issue with the binary built by pyinstaller. Already investigating it.

[2018-08-06 23:16] stratomaster31 commented on #965
Yesenia, It is a binary package!

[2018-08-07 00:30] efiop commented on #965
@stratomaster31 thank you for the info! Sorry, forgot to ask that right away. The patch is almost ready. I'll release new version with it today.

[2018-08-07 00:30] #965 closed

[2018-08-07 01:08] Hong-Xiang commented on #968
I'm facing this problem again.
OS: Ubuntu (Mate) 16.04
Python: 3.6.6 (Anaconda)

[code]

[code]

[2018-08-07 02:51] efiop commented on #968
@Hong-Xiang Fix is released with dvc 0.16.5. Please feel free to try it out.

[2018-08-07 02:52] efiop commented on #965
@stratomaster31 Hi! Just wanted to let you know that 0.16.5 is released. Please feel free to try it out. Thank you!

[2018-08-07 19:33] efiop opened #987 "print info about the cache type that dvc uses"
I.e. "Using reflink to..."

[2018-08-07 19:33] efiop opened #988 "split error info in two lines"
`Failed to push data to the cloud: Config file error: No remote repository specified. Setup default repository with 'dvc config core.remote <name>' or use '-r <name>'.`

[2018-08-07 21:35] prihoda commented on #894
Works great! 👏

I'd also suggest not to include the locked files since they won't actually be reproduced:

[code]

[2018-08-07 21:42] prihoda commented on #894
Also, I'd really appreciate having the option to set `--iterative` as default behaviour in DVC config 🙏

[2018-08-08 00:22] efiop opened #989 "config: add ability to specify `--interactive` behaviour for `dvc run` as default"
#894

Kudos @prihoda for suggesting.

[2018-08-08 05:17] efiop opened #990 "gc: print a msg when there is no cache to remove"

[2018-08-08 10:44] prihoda commented on #755
Hi guys, is this still on the table? ;)

[2018-08-08 15:57] efiop commented on #755
Hi @prihoda !

It is, we just didn't have time to tackle it yet. With such amount of demand, we will try to move it up the priority list. :slightly_smiling_face:

Thank you.

[2018-08-09 04:08] Rootmannii commented on #119
This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
  And for requirements I keep getting;
Could not open requireme

[2018-08-09 04:13] shcheklein commented on #119
@Rootmannii hi, could you share the exact commands you are running? And the link to the tutorial you try to reproduce, please. Thank you!

[2018-08-09 18:52] efiop opened #992 "cache: checksum collision if there is dos2unix in the pipeline"
As @shcheklein noticed, if user will have `dvc add data && dvc run -d data -o data.unix dos2unix data data.unix` in his pipeline, we will get a cache collision since we use dos2unix to compute checksum in the first place.

[2018-08-10 16:30] #990 closed

[2018-08-10 17:42] dmpetrov opened #995 "dvc run: pass dependencies and outputs as params"
From xiang0x48: https://discuss.dvc.org/t/is-there-any-elegant-way-of-passing-argument-d-and-o-to-command-run-by-dvc-run/66

"When using dvc run, argument of dvc run and true command to be run are always similar, thus
dvc run -d source.npy -o target.npy python some_process.py source.npy target.npy . As there are repeated file names, it might be a “smell of code”."

Solution:  introduce `--pass-par

[2018-08-10 17:54] efiop commented on #995
This is really hacky and not at all flexible. You only build your pipeline once, so it is not that inconvenient to introduce such a hack. Plus it defeats the purpose of our explicit `dvc run` syntax making your command really cryptic. I would rather not add this.

[2018-08-10 18:08] dmpetrov commented on #995
Something is needed to avoid the duplication which is a good source of mistakes.

This is the way to avoid the duplication with a minimum overhead - a single option instead of "flexible" set of options. Another alternative is to do this by param: `@1 @3` or `@dvcparam1 @dvcparam3`. The first approach just the simplest way of doing this.

Any of these can work.

Yes, you build a pipeline once. But

[2018-08-10 20:49] #989 closed

[2018-08-11 18:39] #987 closed

[2018-08-11 18:39] #988 closed

[2018-08-13 00:29] shcheklein opened #999 "`dvc destroy` confirmation show answer options"
`Are you sure you want to continue?`

let's show y/n or (yes/y/n), I'm not sure what actual options are

Other commands with confirmation?
Ideally we should generalize this code (if it's not already).

[2018-08-13 00:36] shcheklein opened #1000 "`dvc destroy` does it remove data files as well?"
Specify in the confirmation if that's the case. Fix docs. It feels a little bit dangerous.

[2018-08-13 00:40] shcheklein opened #1001 "`dvc status` print something even if project is just initialized"
Empty outputs look like a bug

[2018-08-13 01:52] shcheklein opened #1003 "`dvc repro` change message when target is not specified"
Failed to reproduce 'Dvcfile' - unexpected error: 'Dvcfile' is not a DVC file

->

Default target DVC file `Dvcfile` not found.

May be show usage would be helpful in this case.

[2018-08-13 02:24] shcheklein opened #1005 "`dvc run` overwrite, make it clear that command will be run again"
I think it makes sense to specify:

Do you wish to overwrite it? -> Do you wish to run the command and overwrite it?

[2018-08-13 02:31] #1001 closed

[2018-08-13 02:41] efiop opened #1006 "dvc: check output duplication in the DAG"

[2018-08-13 02:49] shcheklein opened #1007 "Commands help should specify basic goal of the command"
e.g. `dvc remove`:

[code]

What is the default behavior? What is the purpose of this command?

The same for move. The same for other commands.

[2018-08-13 03:39] shcheklein opened #1008 "`dvc repro` improve not a DVC file message"
`Failed to reproduce 'auc.metric' - unexpected error: 'auc.metric' is not a DVC file. Maybe you meant 'auc.metric.dvc'?`

`unexpected error` - looks strange

Should we simplify it:

[code]

Could we high with red only the first part?

[2018-08-13 03:47] shcheklein opened #1009 "Handle git failure to run checkout with a better message"
When we run a command that is running checkout internally, we could get:

[code]

We should improve the message.

Ideally, we should find a way to traverse git's object graph w/o actual checkouts.

[2018-08-13 04:16] #999 closed

[2018-08-13 04:16] #1005 closed

[2018-08-13 04:16] #1006 closed

[2018-08-13 04:16] #1007 closed

[2018-08-13 04:23] efiop opened #1011 "destroy: don't remove data files by default in the workspace"
Will have to add some option to destroy data files as well.

[2018-08-13 05:08] #1000 closed

[2018-08-13 09:15] Hong-Xiang commented on #973
I'm searching for solution for dealing with grid search with dvc, and  found this issue maybe related to that.

The problem I'm facing is grid search for hyper parameters for model. In most case I'd like to run multiple program/pipe line in parallel to fully utilize computing power and reduce computation time.
However this is difficult when using branches to change hyper parameters.  IMO allowing

[2018-08-13 11:39] sotte commented on #973
@Hong-Xiang that's a good example, thanks!

[2018-08-13 13:31] efiop commented on #973
Hi @Hong-Xiang !

Could you please shed more light on the issue you are experiencing? We do not prohibit same filenames in different folders, and our latest version asks for confirmation before overwriting it if that does happen. Maybe I misunderstood your scenario, but in your case you would need parallel `dvc run`, which is currently forbidden, because of the nature of how we deal with our globa

[2018-08-13 15:39] efiop commented on #1009
We should use ls-tree and show branch:file instead of checking out other branches. It will eliminate the problem once and for all. Already working on it. Thank you!

[2018-08-13 21:16] npow commented on #440
You can set `add_help=False` and add that action manually. [Link to docs.](https://docs.python.org/3/library/argparse.html#add-help)
[code]

[2018-08-13 21:37] efiop commented on #440
Hi @npow !

Thanks for the tip! If you wish to contribute a proper pull request, we will be happy to accept it :slightly_smiling_face: Feel free to ping us if you need any help with that.

Thanks,
Ruslan

[2018-08-13 23:16] #1003 closed

[2018-08-13 23:16] #1008 closed

[2018-08-14 01:15] shcheklein opened #1015 "Provide guideline or mechanism to resolve conflicts in DVC files on merge"
When we change something (let's say a stage command) in one branch (experiment) and want to propagate this change to the derived branch it's easy to get a merge conflict in a DVC file.

Usually merge strategy `theirs` (git merge -X theirs) do the job.

We need to think if it's always the case. We should specify a guideline how to resolve these conflicts. If there are some ideas how to avoid them,

[2018-08-14 03:07] Hong-Xiang commented on #973
@efiop , thanks for your explanation. Now I understand that currently  multiple `dvc run` is not ready yet. However in my project, parallel training is necessary and I think it could "partially" done with current version of dvc. Detailed explanation is shown below.

The issue I'm facing should be separated into two

1. prepare multiple work directory and some processed data for grid search (in thi

[2018-08-14 19:27] efiop opened #1018 "dvc: consider introducing build matrix"
https://github.com/iterative/dvc/issues/973#issuecomment-412739728

I.e. something like:

[code]

[2018-08-14 20:15] efiop commented on #973
Hi @Hong-Xiang !

Thank you for sharing! Very interesting scenario indeed. It is now clear that `git branch` is not the one and only proper way to perform experiments, especially in the grid search scenario. I think we should consider introducing something similar to "execution matrix" to allow defining the pipeline once and then making it easy to run on a range of data sets/configurations in para

[2018-08-15 08:10] JohannesTK opened #1019 "Remove data files from cloud"
Remove data files from cloud after removing them locally because removing them manually is close to impossible as the names of the files/folders are random strings.

For example:

`dvc remove --cloud`

[2018-08-15 08:22] JohannesTK opened #1020 "Custom credentialpath not working"
Credentialpath is not working with the following config:

[code]

Works with the default path:

`credentialpath = /home/ubuntu/.aws/credentials`

The credentials files are identical.

Setup:

DVC: 0.17.0
Installation: pip3 install dvc[all]
OS: Ubuntu 16.04.4

[2018-08-15 15:52] efiop commented on #1019
Hi @JohannesTK !

Thank you for the feedback! We have a command called [`dvc gc`](https://dvc.org/doc/commands-reference/gc) that removes unused cache from both local and remote. For example, to remove all unused cache on the default cloud, run: `dvc gc --all-branches -c`.

Thanks,
Ruslan

[2018-08-15 21:00] efiop commented on #973
Hi @Hong-Xiang !

We would love to hear more about how you use dvc, which features you like/dislike and which features  you would like to see implemented. Would you be interested in a quick video meeting  with us(@dmpetrov , @shcheklein and I) over the skype/hangouts? How about 17th of August from 10AM to 10:30AM GMT+8? If you don't like video meetings, we would be happy to talk to you using any m

[2018-08-16 21:00] efiop commented on #969
Done.

[2018-08-16 21:00] #969 closed

[2018-08-18 01:44] efiop opened #1022 "dvc: convert unix/windows path from user(i.e. CLI) to os specific path to use inside"
Might be useful http://www.mingw.org/wiki/Posix_path_conversion

[2018-08-18 02:02] efiop commented on #148
Unfortunately black requires python > 3.5, which created a lot of hustle. So we are now using flake8, to simply check that code complies with pep8 when processing PR on travis.

[2018-08-18 02:02] #148 closed

[2018-08-20 14:48] villasv opened #1025 "Handle dvcfile paths consistently between run and repro"
If I run:

[code]

The Dvcfile will contain:

[code]

But if I run `dvc repro data/output.csv.dvc` it will fail because paths are not handled the same way. I guess the `-f` parameter in the `run` command is the problem, but the real culprit is perhaps the inconsistency in behavior between `run` and `repro`: one defaults to the CWD and the other to the Dvcfile directory. I believe it would be best

[2018-08-20 19:41] tdeboissiere opened #1026 "dvc add -R dir"
Thanks for the great project !

Let's say I have the following workflow:

data/dataset1/dataset1.csv
data/dataset2/dataset2.csv

`dvc add data/dataset1 && git add data/dataset1.dvc` --> creates data/dataset1.dvc and tracks with git
`dvc add data/dataset2 && git add data/dataset2.dvc` --> creates data/dataset2.dvc and tracks with git

Now let's say I modify both dataset1.csv and dataset2.csv I want

[2018-08-20 21:11] efiop commented on #1026
Hi @tdeboissiere !

This happens because `dvc add data` tries to track the directory as a whole and not as a set of files. We should definitely implement something like `dvc add -R dir` which will recursively walk through the directory and add each file in it that is not tracked by git. Turning this issue into a feature request, will be sure to implement this shortly.

Thanks,
Ruslan

[2018-08-20 21:47] efiop commented on #1025
Hi @villasv !

We actually have `-c` option for `dvc run` that allows you to set the cwd. For example:

[code]

Would that work for you?

Thanks,
Ruslan

[2018-08-20 21:57] villasv commented on #1025
But juding from the relative paths in the arguments, the CWD is already `data`, isn't it?

The problem is that I can't run `python ../code/script.py` because the script expects to find files in `'data/input.csv'` and not `'input.csv'`.

[2018-08-20 22:21] efiop commented on #1025
Yes, with `--cwd data` paths should be relative to the `data` directory, because it is the directory that dvc will chdir to, before processing everything else and actually running your command. Would you consider making `script.py` accept explicit arguments, so that  the whole project structure is a little bit more explicit overall? One of the reasons why `dvc run` does things in such way is to ha

[2018-08-20 22:21] efiop commented on #1025
Oops, sorry, accidentally closed.

[2018-08-20 22:51] villasv commented on #1025
Makes sense. I see where that's coming from. DVC is best used if scripts are modeled as pipelines of data, which is more compatible with receiving source inputs as arguments.

This will solve 99% of my problems, but I do worry about PYTHONPATH. Later on if I try to import some helper module in the project root I'll probably have to use relative imports... but that's not a dealbreaker either.

I'd

[2018-08-20 22:51] #1025 closed

[2018-08-21 03:42] efiop commented on #919
We've been thinking about it a lot and decided to introduce `dvc add/run`(they will only save checksums and won't actually save files to cache) + `dvc commit`(will save files to cache) logic starting from v1.0, since these changes would be backward incompatible.

[2018-08-21 07:51] #1026 closed

[2018-08-21 08:19] efiop commented on #1026
Hi @tdeboissiere !

Just wanted to let you know that I've merged the patch that implements this feature and I am going to release it in 0.18 today.

Thanks,
Ruslan

[2018-08-21 13:09] tdeboissiere commented on #1026
Awesome, thanks !

[2018-08-21 14:54] tdeboissiere opened #1028 "dvc repro: Possible bug when .dvc file in non-standard path"
**Setup**

dvc 0.17.1
Installed with pip in miniconda3 python3.6.4 environment
Ubuntu 16.04

**Reproduction**

Execute the following bash script

[code]

Then:

`dvc repro data/proc.dvc`

[code]

This persists, even if I specify absolute paths in my dvc commands, and even if I use the -c argument to specify which directory to run the command from

[2018-08-21 15:02] RowdyHowell opened #1029 "AWS remote using default profile"
DVC Version: 0.17.1
Installation: Mac download

Config:
[code]

DVC works when I set my default profile's credentials to what's in <profile> - so I'm thinking that it's picking up the default profile regardless of what's in the config.  It looks like #923 might not be fully resolved?

[2018-08-21 22:06] efiop commented on #1029
Hi @RowdyHowell !

You are using current and obsoleted syntax together, which results in everything in [aws] not taking any effect, since most of those options should be in ['remote "s3remote"']. The correct config would be:

[code]

In commands it would look like:

[code]

Thanks,
Ruslan

[2018-08-21 22:47] efiop opened #1030 "pipeline show: use --ascii as default behaviour"

[2018-08-22 01:31] efiop opened #1031 "updater: show how to update dvc"
I.e.: pip install --update dvc

[2018-08-22 01:36] efiop opened #1032 "updater: make update message more noticeable"
I.e. like in npm:

<img width="623" alt="screen shot 2018-08-21 at 6 26 38 pm" src="https://user-images.githubusercontent.com/5367102/44437841-ea6d3a00-a5c4-11e8-8e1a-975bc4e19e58.png">

Kudos @shcheklein

[2018-08-22 02:13] efiop opened #1034 "logger: use colored prefix instead of coloring everything"
I.e.

<img width="471" alt="screen shot 2018-08-21 at 7 06 27 pm" src="https://user-images.githubusercontent.com/5367102/44438936-1e972980-a5ca-11e8-8e04-9871fceb2b36.png">

Kudos @shcheklein

[2018-08-22 02:14] efiop opened #1035 "dvc: somehow mark successful commands"
I.e. green "OK" or something better.

[2018-08-22 02:32] #1034 closed

[2018-08-22 03:42] efiop opened #1037 "argparse: Use the same colored prefix as in Logger"
I.e.

[code]

Kudos @shcheklein

[2018-08-22 03:43] efiop opened #1038 "pipeline show --tree"
Unfold dependencies into a tree same way it is done in npm:

[code]

Kudos @shcheklein

[2018-08-22 03:44] efiop opened #1039 "Consider using progress bar from npm"
https://asciinema.org/a/5gmGnPwWmExdhoMC8RYmMeN3m

Kudos @shcheklein

[2018-08-22 10:05] #1037 closed

[2018-08-22 14:27] RowdyHowell commented on #1029
Perfect, thanks! Do you know where this is documented?  I couldn't find where to set the profile before...

[2018-08-22 14:32] efiop commented on #1029
Sorry if it was not clear, we will be sure to add a separate article to our user-guide. For now, the most complete description can be found [here](https://dvc.org/doc/commands-reference/remote).

Thanks,
Ruslan

[2018-08-22 14:33] RowdyHowell commented on #1029
Missed that - that's on me!

[2018-08-22 14:33] #1029 closed

[2018-08-22 19:38] mcheshier1 opened #1041 "Unable to use IAM role to access S3"
I'm trying to use the latest version of DVC on a linux EC2 production machine with an IAM role, but it appears that s3.py is hard-coded to use API keys (line 61 and 62). I can work around it, but IAM roles should be supported as they are an AWS security best practice.

[2018-08-22 23:36] mcheshier1 opened #1042 "Pip install fails - Grandalf 0.55555 is no longer available"
Running on Linux, trying to install via:

pip install dvc[s3]

This was working until about an hour ago, when I started seeing these errors:

[Main build] Collecting grandalf==0.55555 (from dvc[s3])
[Main build]   Could not find a version that satisfies the requirement grandalf==0.55555 (from dvc[s3]) (from versions: 0.6)

Looking at Grandalf's page, it appears that 0.55555 is now unavailable. I'm

[2018-08-22 23:38] mcheshier1 commented on #1042
Filing a PR.

[2018-08-23 01:38] shcheklein commented on #1042
Thanks, @mcheshier1 . We'll release an update soon.

[2018-08-23 01:55] efiop commented on #1041
Hi @mcheshier1 !

That's a great point! We will be sure to take a look at it shortly.

Thanks,
Ruslan

[2018-08-23 03:53] shcheklein commented on #1042
@efiop can we close this? @mcheshier1 0.18.1 is out and issue should be fixed.

[2018-08-23 04:22] shcheklein opened #1044 "`dvc pipeline show` wrong usage message when no target is specified"
To reproduce run:

`dvc pipeline show`

It's printing DVC's general usage while it should be printing:

[code]

[2018-08-23 04:39] #1044 closed

[2018-08-23 06:40] JohannesTK commented on #1020
`Preparing to pull data from s3://sidekik-models
[##############################] 100% Collecting information
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/dvc/command/data_sync.py", line 26, in do_run
    all_branches=self.args.all_branches)
  File "/usr/local/lib/python3.5/dist-packages/dvc/project.py", line 420, in pull
    show_checksums=show_checksums)
  Fi

[2018-08-23 06:43] JohannesTK commented on #1019
Thanks for the reply.

"Note, this action does NOT remove data files from the remote storage."

So there is no good way to delete from cloud other than manually?

[2018-08-23 07:05] efiop commented on #1020
Ah, ok. I was able to reproduce. Patch is comming soon and is going to be released today in 0.18.2.

Thank you so much!

[2018-08-23 07:36] #1020 closed

[2018-08-23 10:59] efiop commented on #1020
@JohannesTK 0.18.2 is out. Please feel free to upgrade. Thank you for your feedback!

[2018-08-24 02:15] chwonghk01 opened #1048 "dvc status error with S3 output"
DVC version 0.17.1, installed with pip.

Running `dvc status` shows
[code]
and nothing else (e.g. files that are not output to S3)

My .dvc/config:
[code]

[2018-08-24 03:28] efiop opened #1049 "repro: print msg when there is nothing to reproduve"
https://discuss.dvc.org/t/tutorial-improvement-other-suggestions/79

[2018-08-24 03:32] efiop opened #1050 "repro: change 'already exists' msg"
https://discuss.dvc.org/t/tutorial-improvement-other-suggestions/79

[2018-08-24 04:14] chwonghk01 commented on #1048
@efiop I have updated the dvc and got the same error message.
[code]

[2018-08-24 09:17] efiop commented on #1048
Thank you! Already preparing a patch. Will release 0.18.3 in an hour or so with the fix.

[2018-08-24 10:49] efiop opened #1051 "pipeline-show: add --dot option"
Output in .dot format suitable for further rendering with graphviz

[2018-08-24 11:54] #1048 closed

[2018-08-24 13:29] pared opened #1053 "Unable to track metrics on state file name not ending with "dvc""
**Please provide information about your setup**
DVC version(i.e. `dvc --version`), Platform and method of installation (pip, homebrew, pkg Mac, exe (Windows), DEB(Linux), RPM(Linux))

[2018-08-24 13:36] efiop commented on #1053
Hi @pared,

Could you please elaborate on this?

[2018-08-24 13:41] pared opened #1054 "Unable to track metrics on state file name not ending with "dvc""
Platform: Ubuntu 16.04
Installation method: pip
DVC version: 0.18.3

After running `dvc run ... -M metricFilename -f state ... `
 and commiting, `dvc metrics show` displays:

Further experiments show that running `dvc run ... -M metricFilename -f state.dvc ...`  solves problem.
Is this intended behaviour? I did not have problem with repro-ing from `state` file

[2018-08-24 13:43] efiop commented on #1053
Ok, looks like a duplicate of https://github.com/iterative/dvc/issues/1054

[2018-08-24 13:43] #1053 closed

[2018-08-24 13:46] efiop commented on #1054
Hi @pared !

Yes, it is an expected behaviour. `-f` is used to specify filename for the dvcfile and in order for dvc to find it later it should be either `Dvcfile` or end with `.dvc` suffix. So when you use `-f state` instead of `-f state.dvc` dvc is simply not finding it. This is definitely something we should prevent when running `dvc run`. I will prepare a patch shortly. Thank you!

[2018-08-24 13:47] efiop commented on #1048
@chwonghk01 0.18.3 is out. Please feel free to upgrade. Thank you again for the feedback!

[2018-08-24 13:53] efiop commented on #1054
Ah, looks like we should check it there too, since it only works if you explicitly specify `dvc repro state` and will not be discovered automatically by dvc. Great catch!

[2018-08-24 14:02] pared commented on #1054
Glad I could be of use, if there is no one to patch this up i can try to do it.
I am new to open source, so I probably would need some guidance.

[2018-08-24 14:26] efiop commented on #1054
Hi @pared !

Thank you so much for offering help! I'm ready to send a patch to fix this particular issue, but if you still wish to help out in a different task we do have some and are happy to help tackle them :slightly_smiling_face:  Full list is available [here](https://github.com/iterative/dvc/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22). For example here are two simple tasks relate

[2018-08-24 16:00] #1054 closed

[2018-08-24 17:08] #1049 closed

[2018-08-24 17:35] dmpetrov commented on #1051
We need to make sure it won't create any dependencies to low-level libs or drivers (the issue that we had before).

[2018-08-25 03:29] efiop commented on #1051
It wont, because we only need to write dot file and we don't need to render it.

[2018-08-25 07:48] efiop commented on #871
Hi @sotte !

Just wanted to let you know that we now have ASCII DAG visualization. Here is a simple exampe https://dvc.org/doc/get-started/visualize . Please feel free to try it out :slightly_smiling_face:

Thanks,
Ruslan

[2018-08-25 07:50] efiop commented on #598
Hi @rahulguptajss !

Just wanted to let you know that we now have ASCII DAG visualization. Here is an example https://dvc.org/doc/get-started/visualize . Please feel free to give it a try :slightly_smiling_face:

Thanks,
Ruslan

[2018-08-25 12:08] efiop opened #1057 "Slurm intergration"
Kudos @Hong-Xiang

[2018-08-25 12:23] efiop opened #1058 "spack integration"
Something like
[code]

Kudos @Hong-Xiang

[2018-08-26 13:37] gcoter opened #1059 "Connecting to SSH remote with a custom port and a private key"
Hello,

I would like to use DVC to push data to my personal server. For security reasons, I decided to use key-based authentication and I changed the default SSH port. Currently (from my understanding), it doesn't seem possible to use DVC with such configuration. Would it be possible/hard to support this?

[2018-08-26 14:05] efiop opened #1060 "ssh: configure port"
https://github.com/iterative/dvc/issues/1059

[2018-08-26 14:08] efiop commented on #1059
Hi @gcoter !

You are correct about the ssh port being not configurable right now. I've created https://github.com/iterative/dvc/issues/1060 to track progress on that. I will send a patch very soon.

About the keys, did you mean an ssh keys at a custom location? Because dvc currently supports both password and default key for ssh. Just making sure I understand you correctly.

Thanks,
Ruslan

[2018-08-27 10:41] #1059 closed

[2018-08-27 10:41] #1060 closed

[2018-08-27 14:06] JohannesTK commented on #1019
Got it. Thanks!

[2018-08-27 14:06] #1019 closed

[2018-08-27 15:28] efiop commented on #1059
Hi @gcoter !

Both patches are merged and released in 0.18.4. Here is a quick run-through:

[code]

Please feel free to give it a try.

Thanks,
Ruslan

[2018-08-27 18:12] sotte commented on #871
@efiop yaey, thanks! I'll give it a try and get back to you.

[2018-08-27 18:48] gcoter commented on #1059
Hi @efiop !

Awesome! I'll give it a try soon.

Thank you 🙂

[2018-08-27 22:27] shcheklein opened #1064 "Use consistent help messages style everywhere"
**Option/argument:**

   start lower case (this way we don't have to fix help thing), no dot after

**Command description:**

  Upper case, dots, sentences.

[2018-08-28 05:23] efiop opened #1065 "pipeline show: --ascii --files"
DAG with outputs and deps.

[2018-08-28 14:41] drorata commented on #599
@efiop Thanks for the details! Very helpful and might be worthy to add to the docs. Could you also elaborate how to handle the data versioning when it is stored on the cloud (S3 for example)?

[2018-08-28 15:00] efiop commented on #599
Hi @drorata !

Thank you for the feedback! Created https://github.com/iterative/dvc.org/issues/78 to track the progress on it.

If you are talking about [external output scenario](https://dvc.org/doc/user-guide/external-outputs) then it is absolutely no different from what I've described above. If you are talking about cache stored on s3(e.g. https://dvc.org/doc/use-cases/share-data-and-model-file

[2018-08-28 20:07] tdeboissiere opened #1067 "Feature request: Better support for folder dependencies"
Say I have the following structure:

[code]

Then:

[code]

If I modify foo.py, `dvc repro` does not notice. The reason is that neither the `inode` nor the `mtime` of `module` is updated when a modification is made to `foo.py`.

For now it is possible to add all the files in `module` as dependencies but it would surely be better to have a way to handle folders recursively.

[2018-08-29 04:03] efiop commented on #1067
Hi @tdeboissiere !

Great point! Preparing a patch right now.

Thanks,
Ruslan

[2018-08-29 11:49] efiop commented on #1067
@tdeboissiere 0.18.6 is out :slightly_smiling_face:  Please feel free to upgrade and give it a try.

Thanks,
Ruslan

[2018-08-29 13:40] efiop commented on #1067
Hi @tdeboissiere !

Are you experiencing it even with the never version?

Yes, this is something that should be handled by the user. Dvc can only know that you are using something if you explicitly specify it with `-d`. The scenario you've described can be worked around by separating files in a folder appropriately and then specifying separated and common parts as dependencies in your pipeline sta

[2018-08-29 13:43] tdeboissiere commented on #1067
- Yes, even with the new version I have verified that the problem exists for outputs.
- Thanks for the tip for my second point ! Rather than splitting sub directories, I think it is simpler if I externally enforce the same git status for all my depencies at all stages.

[2018-08-29 13:45] efiop commented on #1067
Hm, I'll investigate that ASAP, seems like a bug. Thank you for reporting the issue!

[2018-08-29 13:46] efiop commented on #1067
Reopening the issue to track the progress on the `outputs` bug.

[2018-08-29 15:59] efiop commented on #1067
@tdeboissiere Got it. Was able to reproduce. Preparing a patch right now and will release 0.18.8 in an hour or so. Thank you!

[2018-08-29 16:32] #1067 closed

[2018-08-29 17:40] tdeboissiere commented on #1067
It does work in the use case that caused me to raise the issue, thanks !

[2018-08-29 17:52] tdeboissiere opened #1072 "Feature request: add a --yes option to dvc run"
At the moment, there is no straightforward way to call `dvc run XXX` twice without running into `XXX.dvc already exists. Do you wish to run the command and overwrite it? (y/n)`. It would be nice to provide an additional argument like `--yes` to force dvc to overwrite the `XXX.dvc` file.

Not sure if this functionality is really needed as we could always switch to dvc repro...

[2018-08-29 17:54] efiop commented on #1072
Great point! I'll look into it shortly. Thank you!

[2018-08-29 19:36] efiop commented on #1067
Glad it worked for you! One more question:

Could you please elaborate on what you meant by the `git status` please?

Thanks,
Ruslan

[2018-08-29 19:42] tdeboissiere commented on #1067
- It could happen that I run a dvc command for part A of the pipeline, make some modification of the code, then run part dvc for part B.
- To avoid reproducibility issues, I would have to correctly track all dependencies with dvc, which can be a tricky tasks.
- My point was that it may be simpler to avoid this issue in the first place: for my use case, I plan to enforce that no modifications are m

[2018-08-29 19:44] efiop commented on #1067
Ah, got it. Thank you for clarifying!

[2018-08-29 21:51] #1072 closed

[2018-08-30 19:32] seeb0h opened #1074 "Is there an UI ?"
Hi, I am discovering dvc, so excuse me if I missed an obvious answer.

dvc looks great to use with the cli.
Now, I am considering to build a web ui in order to list dvc entities (and trigger experiments runs on cloud resources). Is there a convenient way (like an API) to access to the entities ?

Thanks

[2018-08-30 20:06] efiop commented on #1074
Hi @seeb0h !

We do have a python API(`dvc/project.py`), but it is not stable and not yet ready to be relied on. The only API that is stable and for which we guarantee backward compatibility is CLI. If you only need to access `.dvc` files, you can do that easily by using any yaml parser of your choice.

The web UI is a very interesting idea, could you please elaborate on it? We have been thinking

[2018-08-30 21:42] tdeboissiere opened #1075 "Bug: dvc remote remove leads to Initialization error / config file error."
**Setup**

- dvc version 0.18.9, installed with pip, python Anaconda 3.6.4, Ubuntu 16.04

**Repro**

[code]

[code]

[2018-08-30 21:48] shcheklein commented on #1075
Hi @tdeboissiere, this is definitely a bug. I think this is happening because the remote you removed is assigned as a default one in the `core` config section:

[code]

We'll fix this asap, meanwhile, I would try

[code]

as a temporary workaround.

Thank you, for the report!

[2018-08-31 01:15] #1075 closed

[2018-08-31 02:41] efiop commented on #1075
Hi @tdeboissiere !

Thanks for the feedback! The patch is merged and released under 0.18.10. Please feel free to upgrade.

Thanks,
Ruslan

[2018-08-31 13:00] tdeboissiere commented on #1075
Awesome, thanks !

[2018-08-31 13:11] tdeboissiere opened #1077 "Feature request: Process dependencies with dvc pull"
- Let's say I have 2 dvc files: `File1.dvc`, `File2.dvc`. In this pipeline, `File2.dvc` depends on `File1.dvc`.
- Let's say each stage creates some data which is put under dvc control.
- If I remove the data thus created (without clearing the cache), and then call `dvc pull File2.dvc`, only the data created by `File2.dvc` is pulled.

Would it be possible to also pull the data from any dependency o

[2018-08-31 13:31] efiop commented on #1077
Got it! This is a truly useful feature, thank you for suggesting! I will be sure to add support for it ASAP, should be merged and released util tomorrow.

Thanks,
Ruslan

[2018-08-31 13:32] efiop commented on #1077
`fetch`, `pull` and `status -c` will sure get the same option. The case about `dvc remove` is a more interesting one, but seems to be very useful as well, I will be sure to take a look at it after I'm done with `pull/push/fetch`.

[2018-08-31 13:54] tdeboissiere opened #1078 "make `dvc cache type` check for available links"
`dvc config cache.type reflink` will modify `.dvc/config` even if reflinks are not available on a given system. The error will only be caught later when some command tries to add data to the cache.

Example with `dvc add`:
[code]

Would it be possible to catch the error at the time of the `dvc config` command ?

[2018-08-31 14:09] efiop commented on #1078
Hi @tdeboissiere !

You are right, we should check that at least as a matter of convenience. Also, note that if `cache.type` is not configured, dvc has a default list of four link types in such order(from best to worst): [reflink, hardlink, symlink, copy] and will go through them util it finds something that works.

Thanks,
Ruslan

[2018-08-31 14:11] tdeboissiere commented on #1078
@efiop indeed ! So far, I was not setting the `cache.type` manually and never had an issue. It was when I decided to try out reflinks that I found this issue.

[2018-08-31 14:28] efiop commented on #1078
Ah, I see. Mind that reflinks are supported only by some filesystems right now, though the support for them is coming to most of the newer filesystems and should be standard in the future. If I remember correctly, you are using Ubuntu, which by default formats drives in ext4, which currently does not support reflinks. If you want to use reflinks on Linux, you will have to format a partition(e.g. m

[2018-08-31 15:03] tdeboissiere opened #1079 "Possible bug after removing cache"
**Setup**

- dvc version 0.18.10, installed with pip, python Anaconda 3.6.4, Ubuntu 16.04

I was running some tests to find out what would happen if my users mistakenly removed the `.dvc/cache` manually and found the following situation:

**Repro**

[code]

Saving information to 'data/babar/raw.dvc'.`

However, the one below (with one less subfolder level in `data`) does not throw an error:

[code

[2018-08-31 15:07] efiop commented on #1079
Looks like a bug, where dvc tries to load cache for a directory structure and fails. Looking into it right now.

Thanks,
Ruslan

[2018-08-31 16:00] efiop commented on #1079
Ok, this is an expected error, but it is being printed as `error` making it seem scary, but the command itself continues to work and ends successfully. Need a better way to manage this particular message. Preparing a patch right now.

[2018-08-31 17:20] tdeboissiere commented on #1079
Why does the error message show up in one case but not the other ?

[2018-08-31 18:17] efiop commented on #1079
Good point. Investigating...

[2018-08-31 19:53] efiop commented on #1079
Ok, found it. There are two problems:

1) I forgot to account for subdirectories when computing effective mtime of a directory, which caused such differences in those two cases;

2) When saving to cache, currently dvc does it in two steps:

     1. move original file to cache
     2. create link from cache to the original

    which causes for original directories to change mtime, since there has

[2018-09-02 12:02] efiop commented on #1079
Fixed by #1080.

[2018-09-02 12:02] #1079 closed

[2018-09-02 16:47] gcoter commented on #1059
Hi @efiop ,

I managed to push a small cache successfully to my server. However, I tried with an older project (the local cache takes about 200 MB) and it's been running for more than one hour with these logs:

[code]

On the server, the cache is still empty. Is it normal?

[2018-09-02 16:54] efiop commented on #1059
Hi @gcoter !

Hm, looks like it is stuck on cache verification, which works locally. Could you please kill it with `CTRL + C` and show the stacktrace that it will output please? And after that, could you try running push once again just to see if the problem persists?

Thanks,
Ruslan

[2018-09-02 17:57] gcoter commented on #1059
Ok, so here are the error logs when I kill it:

[code]

The problem persists when I run push again, and I have some additional logs at the beginning:

[code]

[2018-09-02 18:45] efiop opened #1081 "investigate possible deadlock"
https://github.com/iterative/dvc/issues/1059#issuecomment-417947906

[2018-09-02 18:47] efiop commented on #1059
Looks like a deadlock somewhere in our `state` logic, created https://github.com/iterative/dvc/issues/1081 to track investigation on that.

What was the method of installation in this case? Our binary package for windows, right?

[2018-09-02 18:52] efiop commented on #1059
Ah, could you please try running `dvc push` again but now with the `--jobs 1` option? If it is indeed a dead lock, limiting concurrency to 1 thread might be a viable workaround.

[2018-09-02 19:36] gcoter commented on #1059
I still have the same problem with the `--jobs 1` option. I installed DVC with pip. Should I try with the binary package for windows?

[2018-09-02 19:38] efiop commented on #1059
Oh :slightly_frowning_face: No, you don't need to try with the binary package. Thank you for the feedback! I'm investigating it right now.

[2018-09-02 19:40] gcoter commented on #1059
Ok :) Thank you very much for your help!

[2018-09-02 22:04] efiop commented on #1079
0.18.11 with the fix for this issue is released. Please feel free to upgrade.

[2018-09-02 22:07] efiop commented on #1059
Hi @gcoter !

I have released a 0.18.11 with a possible fix for this issue. Could you please upgrade and give it a try?

Thanks,
Ruslan

[2018-09-03 15:07] helderm opened #1083 "hdfs: Specify a directory as output/input of a pipeline stage"
Adding a directory instead of a single file as input/output of a stage would greatly facilitate the use of DVC with large datasets. A common use case would be when using a HDFS remote: a common practice is to partition a dataset in several different files so they can be read/written in parallel, but AFAIK with current implementation of DVC I would have to specify each single file with `-d` or `-o`

[2018-09-03 19:13] gcoter commented on #1059
Hi @efiop !

I still have the same issue with the new version, and still this message about the state:

[code]

So, I had a look at the state file and the end is a bit weird:

[code]

It doesn't end with curly brackets, which is problematic I guess? I didn't have this issue before running `dvc push` for the first time.

[2018-09-03 19:41] efiop commented on #1059
Hi @gcoter !

Hm, looks like the problem I've fixed was not the original one.

The error about the state file is expected since the previous dvc process was interrupted while writing to the state file, hence the unfinished braces.

To make it easier, would you mind packing the whole dir into an archive and sending it to me so I could hopefully reproduce the issue? It is totally understandable if y

[2018-09-03 19:53] gcoter commented on #1059
Which directory do you need exactly?

[2018-09-03 19:57] efiop commented on #1059
It would be ideal if you could just pack the whole project. I.e. let's say you have a directory `myrepo` that has your `*.dvc` files, `.dvc` directory etc, it would be great if you could pack `myrepo` into an archive and send it to me for debug.

[2018-09-03 20:27] gcoter commented on #1059
Well, since it is a Kaggle related project, I do not mind sharing my code, except the connection parameters to my server (but I could mask them). However, the data can not be shared outside the competition.

[2018-09-03 20:29] gcoter commented on #1059
I could try with another project and see whether it works.

[2018-09-03 20:49] efiop commented on #1059
No worries, totally understandable. :slightly_smiling_face: Lets go through a few more questions then to eliminate the variables:

1) Which python version are you using?

2) Could you try different python version and see if the problem persists(e.g. python2 and python3)?

3) Could you try installing our binary windows package and give it another try?

4) Could you try moving the project to the mac

[2018-09-03 20:56] efiop commented on #1059
That would be great too!

[2018-09-03 21:01] efiop opened #1084 "add debug msgs with line infos"
As it turns out, we can't always rely on python trackebacks, since(seems like) their behavior depends on particular implementation.

[2018-09-04 00:19] shcheklein opened #1085 "Improve missing output message"
Command:

[code]

when script xml_to_tsv fails to produce output (no errors), DVC output this message:

Error: Failed to run command: Output 'data/Posts.tsv' error: does not exist

it's ambiguous - not clear if there is a problem with the script (fails to run) or DVC command. Let's try to explain it better.