[2022-02-04 10:21] karajan1001 commented on #7329
It is because in
https://github.com/iterative/dvc/blob/9b5ccb75549ab950ece23b7938ea0eea637c440d/dvc/repo/experiments/show.py#L142-L143

The `HEAD` is in a continuous changing condition.  While in the previous version we use a

`fix_exp_head(repo.scm, f"HEAD~{n}")` which translate the HEAD into refs/exps/exec/EXEC_BASELINE

I had created a PR for it, it can solve the problem on my computer.

[2022-02-04 11:15] peper0 commented on #4634
Hi. It seems that in version 2.9.3 the problem is not present anymore. Currently, if run-cache refers to a file that does not exist in the cache, dvc simply reproduces the file.

[2022-02-04 11:35] dtrifiro commented on #4634
Thanks @peper0! Closing the issue

[2022-02-04 11:35] #4634 closed

[2022-02-04 15:46] rubenpraets commented on #7337
Some new info:
Via our azure portal we have found some new info regarding this bug, which confirms one of the suspicions above. We are told the following:
[code]
So it seems that the connection is indeed closed from the server side. As to why this is I have no idea, because from our end it looks like dvc is continually sending requests to the blob storage to fully list it.

I have also tested if p

[2022-02-04 22:27] dberenbaum commented on #7336
Thank you for the additional details!

Do you mean the `meta` field in `dvc.yaml`, or metadata in general? The `meta` field is ignored by DVC and is only relevant for your own reference, so this should not have any impact on any issues you are experiencing.

Could you provide the actual `dvc.yaml` or some sanitized version of it (or just the stage that's causing trouble)? Where are the dependencie

[2022-02-05 21:43] VildMedPap opened #7354 "`dvc destroy` leaves `.dvcignore` behind"

[2022-02-07 02:32] efiop commented on #7288
Another part is that we don't use any webdav subpaths in our tests, only using root https://github.com/iterative/dvc-webdav/blob/main/dvc_webdav/tests/cloud.py#L11 , hence why we didn't catch it too.

Removing `release-blocker` for now, since it was broken for a few releases already, so no reason to block the current one.

[2022-02-07 07:03] skshetry opened #7352 "localfs: make it fsspec-compatible"
The `LocalFileSystem` is the only filesystem that is not fsspec-compatible. There's also `DvcFileSystem` and `RepoFileSystem` but they are virtual filesystem and needs LocalFileSystem to be first compatible.

https://github.com/iterative/dvc/blob/9b5ccb75549ab950ece23b7938ea0eea637c440d/dvc/fs/local.py#L15

This may help us use `localfs` in more locations instead of `os.path`/`open` functions. And

[2022-02-07 07:20] sha-cmd commented on #7336
I do mean meta as the field in dvc.yaml.

I have chosen meta instead of deps because I wanted to avoid the check of the integrity because computing hashes is not relevant in that case, cause I have 12 Go of photos (of a driving session with a car in many cities).

But I need them as a dependence to make dvc experiments. I’m queuing those experiments, I launch them with ```dvc exp run --run-all```,

[2022-02-07 08:37] skshetry commented on #7130
@dmpetrov mentioned that `plots` is an advanced feature, so we may want to make it optional here in the `exp init`.

[2022-02-07 09:42] dtrifiro commented on #7343
Hey @ykacer, the number of threads used when pushing/pulling can be set using the `-j/--jobs` flag, only when this is not provided it will fallback to the default value for the used filesystem

[2022-02-07 16:49] jorgeorpinel commented on #7354
.dvvcignore would not be created by a DVC command. You must have created that file @VildMedPap , thus `dvc destroy` lets it be. See https://dvc.org/doc/user-guide/project-structure/dvcignore-files for more info.

[2022-02-07 16:50] jorgeorpinel commented on #7354
Does that answer your question?

[2022-02-07 17:19] VildMedPap commented on #7354
Are you sure about that? Please see the attached gif.

I have installed `dvc` through brew as stated in the [documentation](https://dvc.org/doc/install/macos), version `2.9.3`.

![dvc-init](https://user-images.githubusercontent.com/23236622/152838506-a0f72d8a-49c4-4a77-a7f6-5bf4e7d00948.gif)

[2022-02-07 20:04] dberenbaum commented on #7352
Is there any idea of what this will mean for performance?

[2022-02-07 20:54] jorgeorpinel commented on #7354
Interesting. Should've tested before reply but I was away form my regular environment. Let's see if there's a reason for this behavior, waiting for @iterative/dvc team to asses. Thanks

[2022-02-07 20:55] wesleyjellis opened #7356 "add / commit: overwrites per-output remote"
# Bug Report

## Description

When a .dvc has had a value set for `remote:` (under `out:`) and the actual file content is changed, then `dvc add` and `dvc commit` remove the `remote` value

### Reproduce

 1. `dvc remote add --default storage_2 /tmp/dvcstore_alt`
 2. Add a file like `cp ~/Downloads/example.tsv ./example.tsv`
 3. `dvc add example.tsv`
 4. Edit `example.tsv.dvc` to include a `remote

[2022-02-07 21:10] dberenbaum opened #7357 "`dvc add -o`: doesn't add to `.gitignore`"
# Bug Report

## Description

When using `dvc add -o`, the output path does not get added to `.gitignore`.

### Reproduce

[code]

### Expected

An entry for `/foo` should be added to `.gitignore`.

### Environment information

**Output of `dvc doctor`:**

[code]

[2022-02-07 21:47] jorgeorpinel commented on #7354
p.s. since it looks like .dvcfile creation is now part of `dvc init`, we should update https://dvc.org/doc/user-guide/project-structure/dvcignore-files which currently states users need to create that file. Maybe https://dvc.org/doc/command-reference/init too.

[2022-02-07 21:52] jorgeorpinel opened #7358 "guide: update dvcignore info"
Since it looks like .dvcfile creation is now part of `dvc init`, we should update https://dvc.org/doc/user-guide/project-structure/dvcignore-files which currently states users need to create that file. Maybe https://dvc.org/doc/command-reference/init too.

_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc/issues/7354#issuecomment-1031964269_

[2022-02-07 22:01] dberenbaum commented on #7336
Thanks, I hope I understand now! So your raw data doesn't change and you don't want DVC to check whether it has changed, but you need to be able to access it when running experiments, correct?

This is not really supported because:
* DVC assumes that it should always check whether dependencies have changed.
* Queued experiments will each run in their own temporary directory. Since your data is not

[2022-02-08 04:00] itcarroll commented on #7151
In ancient [discussions](https://discord.com/channels/485586884165107732/485596304961962003/823689452269994025) on `foreach` I found a suggestion (by @jorgeorpinel):

This would add the same flexibility I'm interested in with the above, but it fails YAML validation, which appears to require `deps` to get a list before `${item}` is expanded. So, some change in the validation process might be an alt

[2022-02-08 07:17] sha-cmd commented on #7336
Of course, I’ll use **absolute path**, then I’ll be sure it will be all right. Very ingenious. I’ll get ```dvc checkout data ;``` tip as an hint for a more tiny piece of data, but I’m sure it will blow out any operator on ML, and even that it is already the case !

That was just the solution to my problem, thank you very much !

[2022-02-08 07:17] #7336 closed

[2022-02-08 09:53] prince3103 opened #7361 "dvc pull exp giving error when pull from another git client"
# Bug Report

## Issue name

dvc exp pull origin <experiment name>: unable to pull experiment from origin

## Description

I am unable to pull dvc experiment which was pushed by another git client.

### Expected

Experiment should be pulled to my git project.

### Environment information
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1

[2022-02-08 10:16] karajan1001 commented on #7361
Excuse me, @prince3103  could you please provide some more detailed logs from
[code]

[2022-02-08 10:43] pmrowla commented on #7361
Also, could you please explain what you mean by

Do you mean it was pushed with `dvc exp push` from a different machine? Or do you mean that you manually pushed the git refs yourself using a separate git client (and not `dvc exp push`)?

[2022-02-08 10:47] lefos99 commented on #4344
Do we have any updates on this? I still encounter this issue in version `2.3.0`. :thinking:

[2022-02-08 19:08] efiop commented on #7288
For the record: @skshetry confirmed that we need to use full urls for webdav, so we need to adjust dvc/fs/webdav.py accordingly.

[2022-02-08 21:34] dberenbaum commented on #7130
Should we convert this to a discussion after #7331 rather than close it completely? The immediate action points have been addressed, but I don't think everything has been resolved.

---

Looking at #7331, It might be helpful to separate inputs and outputs in the UI to clarify which will be created. No action needed now, but to me it seems confusing why some paths are created and others aren't.

@t

[2022-02-09 01:04] eggqq007 commented on #7344
mkdir cctv
git init repo
cd repo
dvc init
dvc add ../cctv -o cctv

(.env) sherlock@ubuntu:/tmp/gzhenyu/new/repo$ ls
cctv  cctv.dvc

It works on my machine.

(.env) sherlock@ubuntu:/tmp/gzhenyu/new/repo$ dvc doctor
DVC version: 2.7.5.dev430+ge430693f
---------------------------------
Platform: Python 3.8.10 on Linux-5.11.0-40-generic-x86_64-with-glibc2.29
Supports:
	azure (adlfs = 2022.2.0, knack =

[2022-02-09 05:11] prince3103 commented on #7361
Hi @karajan1001,
Below are detailed dvc logs:

2022-02-09 10:39:41,294 TRACE: Namespace(cprofile=False, yappi=False, cprofile_dump=None, pdb=False, instrument=False, instrument_open=False, quiet=0, verbose=2, version=None, cd='.', cmd='pull', force=False, pull_cache=True, dvc_remote=None, jobs=None, run_cache=False, git_remote='origin', experiment='exp005', func=<class 'dvc.command.experiments.pul

[2022-02-09 05:15] prince3103 commented on #7361
Hi,
By statement "pushed by another git client", I mean that it was pushed with `dvc exp push` from a different machine. Also I created dvc.yaml file using spacy's project.yml file

[2022-02-09 05:34] skshetry commented on #7130
Sure, let's turn it into discussion after #7331, I'll remove the closing marker.

Since we create `data` directory now, it makes sense to also track them by defaults. It's a bit unclear if we should always do this or only when we are creating those directories ourselves during `exp init`.

[2022-02-09 15:03] skshetry commented on #7130
I just remember that I have an open PR for tracking dependencies in #6914, but haven't moved forward with it because it requires us to basically re-implement simpler `dvc add`. Tracking dependencies but without ensuring any graph correctness is going to be simple (duplicated outputs check, overlapped output, etc), but otherwise we'll end up re-implementing `dvc add`.

We cannot reuse `dvc add` as

[2022-02-09 16:54] dberenbaum commented on #7130
Sorry, can you explain? I didn't get your point.

[2022-02-09 20:40] #7070 closed

[2022-02-10 04:28] quant1216 opened #7366 "`dvc pull -r storage`: Pull other storage together."
# Bug Report
`dvc pull -r storage` pull other storage together.

## Description
I'm dividing the data into two GCP storages for some reasons. When I execute `dvc pull -r storage`, it pull other_storage data too.

### Reproduce
I tested as follows.

1. Put data only in the first storage (the second storage is empty)
2. `dvc pull -r second_storage`
3. It pull first storage data

### Expected
Only pu

[2022-02-10 06:39] karajan1001 commented on #7361
https://github.com/jelmer/dulwich/issues/473 might helpful?

Have you tried manually pull something from the remote?

[2022-02-10 07:47] eggqq007 commented on #7356
not only commit/add, some action like 'dvc move' would not count desc/remote in as well.  It seems we cannot add remote and desc into dvc file currently.
@skshetry  how about updating the doc in  https://dvc.org/doc/user-guide/project-structure/dvc-files#output-entries

[2022-02-10 10:47] skshetry commented on #7130
@dberenbaum, we need to check if the data output is in conflict with other existing .dvc files or stages and with the pipeline stage that we are going to generate. The checks that we do are:

1. That the graph is acyclic (is a DAG),
2. That the output is not duplicated,
3. That the output does not overlap with an already existing output, and
4. That the .dvc file to be generated is not inside the

[2022-02-10 10:55] skshetry commented on #7356
We try to preserve the data for meta and desc here, but we did not do that for `remote`.

https://github.com/iterative/dvc/blob/30d6839a5f471fb02a7a2dcbd6a6616b71277762/dvc/stage/__init__.py#L116-L119

The `remote` can be accessed from `out.remote`, and can be set to the new stage that we are creating, as we do for `desc`.

---

For the `move`, it's going to be a bit more complicated, but involves

[2022-02-10 13:04] quant1216 commented on #7366
Thank you for your reply. I'll check it again.

If the same problem exists, I will try to find a code that can be reproduced.

Thank you!

[2022-02-10 14:42] dberenbaum commented on #7130
Let's leave it for now since I believe some of the planned data management changes could impact this, and it might make more sense to revisit later.

[2022-02-10 16:42] VOvchinnikov commented on #7023
The same bug was observed, when using `gcsfs`

[2022-02-10 21:25] dberenbaum commented on #7023
@VOvchinnikov Support for external outputs in GCS was unfortunately dropped in DVC 2.0. See https://dvc.org/blog/dvc-2-0-release#breaking-changes. We would like to support it again in the future, but it is not being worked on at the moment, and would likely only happen after a refactor of external outputs.

cc @efiop

[2022-02-11 06:53] Rusteam opened #7369 "unroll an array of values for dvc repro"
When we run `foreach .. do ...` for items in an array inside `dvc.yaml` , we might want to join results of each `do` into one.
It would be nice to be able to unroll the array instead of adding each item separately.

Now I do this:
[code]
Obviously this leads to errors when we forget to update `join` stage after updating `datasets` variable.

We can have an option to unroll an array like this:
[cod

[2022-02-11 08:26] skshetry commented on #7316
@philipp-kohl, the parameters are loaded relative to the `dvc.yaml` file, so they are not loaded from the root of the repo.

On other locations, you may need to explicitly specify the location of that parameters file:
[code]

[2022-02-11 10:08] skshetry commented on #7369
- We don't want to complicate parametrization. It looks like what you are looking for is [
Incremental processing or streaming in micro-batches #5917](https://github.com/iterative/dvc/discussions/5917).

[2022-02-11 15:35] dberenbaum commented on #7316
@skshetry My understanding of the issue is that `wdir` is inconsistent between params and templating substitutions.

Following the example from @philipp-kohl, I end up with a `pipelines/dvc.yaml` that looks like:

[code]

If `params.yaml` is in the `wdir` (which happens to be the root of the repo), I still get `ERROR: failed to parse 'stages.prepare.cmd' in 'pipelines/dvc.yaml': Could not find 'pa

[2022-02-11 17:06] dberenbaum commented on #7369
Hi @Rusteam! This issue seems closely related to #6107. It also shows how this is a difficult problem since you expect a different output from "unrolling the array" than in that issue. If that's the case, would you mind commenting on that issue and we will mark this one as a duplicate?

[2022-02-11 17:21] Rusteam commented on #7369
sure let me do that, thanks

[2022-02-11 17:21] #7369 closed

[2022-02-11 17:49] Rusteam commented on #6107
I think it also should support a simple array like this:
(Similar to `func(*[a,b,c,d])` in python or `[...array, new_time, new_item2]` in js.

[2022-02-11 18:55] dberenbaum commented on #6107
Thanks, @Rusteam! Why do you change `deps` between your two examples? Is your data dependency the entire `data/processed/` directory or only the specified dataset paths? Your request may also be related to #7151 if you need to specify each dataset dependency independently.

[2022-02-11 20:38] vladv14 opened #7372 "BackBlaze B2 permission error"
## Summary

I am getting an error when running ```dvc push```  command in python to push to a BackBlaze B2 (S3 compatible) remote.
https://www.backblaze.com/b2/docs/s3_compatible_api.html

Prior to that I have created a bucket on BackBlaze B2 (e.g. bucket-name) and added a virtual folder in it (e.g. folder-name).
Then in an existing git repo (monorepo), I have create a sub directory with ```cookie

[2022-02-11 20:43] daavoo commented on #7372
Traceback looks similar to https://github.com/iterative/dvc/issues/7238

[2022-02-11 21:49] dacbd commented on #7372
I wasn't able to reproduce this:

I ran:
[code]

output:
[code]

[2022-02-12 00:54] vladv14 commented on #7372
After playing around and trying different keys and permissions, it turned our that **all newly created keys work** fine and don't have this issue. The key that I was using originally, which caused this issue, was an old key I created over 1 year ago, however it did not have have an expiry or any bucket restrictions. So a strange issue, which seems to be only happening when using an old BackBlaze k

[2022-02-12 08:52] #7372 closed

[2022-02-12 16:31] skshetry opened #7374 "checkout/pull: dvcignored contents are removed on checkout"
[code]

This is a regression introduced in b349b39d6266a28705b03b1b06e5c0cf98a9080d (see #5812), which was released in [2.2.0](https://github.com/iterative/dvc/releases/tag/2.2.0) and is present since then.

[2022-02-14 12:09] Kavan72 commented on #7257
@efiop do you have any idea about this error
[code]
I can't install dvc[s3] using this cmd `poetry add "dvc[s3]"` also tried to install from git

[2022-02-14 12:10] skshetry commented on #7257
@Kavan72, what python version are you using?

[2022-02-14 12:12] Kavan72 commented on #7257
@skshetry yep, 3.8.10

[2022-02-14 12:13] skshetry commented on #7257
Could you please try updating `pip` and `poetry` if they are not up-to-date?
[code]

Or, something similar based on how you installed those and see. Usually you don't need to build wheels, the pip should install wheels from pypi. If that does not work then, you have to install `libgit2` and then try again.

[2022-02-14 12:19] Kavan72 commented on #7257
@skshetry both are is in latest version
[code]

[2022-02-14 12:38] skshetry commented on #7257
@Kavan72, looks related to https://github.com/libgit2/pygit2/issues/1123. Could you please try installing `libgit2` and try again?

[2022-02-14 12:40] daavoo commented on #6507
For reference, open source project implementing an API similar to what it's described in the issue https://docs.orchest.io/en/stable/fundamentals/sdk/index.html#api-parameters

[2022-02-14 12:45] Kavan72 commented on #7257
now getting new error
[code]

[2022-02-14 15:35] houssam7737 opened #7376 "[Python API] Have dvc.api.open support directories"
It would be great to have a `dvc.api.open` or another method within the python api support downloading entire directories (like `dvc get` supports both files and directories).

That abstraction would be pretty useful to me right now, and would save some time. It's not clear to me how to achieve this right now in python without using subprocess to use dvc in the shell (I can't assume the repo is al

[2022-02-14 15:55] skshetry commented on #7376
You might be interested in #6850 which provides a pathlib-like API with which you can traverse a directory or a complete repository.

[2022-02-14 16:12] houssam7737 commented on #7376
Nice, subscribed to the PR to get updates and be notified when it lands. Thanks!

[2022-02-14 21:28] dberenbaum commented on #7352
@skshetry Is this something you plan to take or research? Should it be on the project board?

[2022-02-14 21:36] dberenbaum commented on #7023
@pmrowla @efiop Do you want to keep this as p1? Is there a plan to look into it further soon?

[2022-02-14 22:02] dberenbaum commented on #6147
Closing as stale.

[2022-02-14 22:07] dberenbaum opened #7381 "Revising checkpoints workflow: decouple checkpoints from pipeline"
See #6104 for the full discussion (summary comment pasted below).

Here's the basic proposal of how I see this working:

* Map initial dependency state to final output state in the run-cache.
* Don't save to the run-cache until the experiment "completes."
* Save the state of each checkpoint in the cache but not the run-cache.

The latter makes sense to me. This is what would happen with a non-chec

[2022-02-14 22:08] dberenbaum commented on #6497
This whole workflow might change with #7381, but for now this looks like a bug.

[2022-02-15 00:59] pmrowla commented on #6794
I think this is probably p2, given that there's a workaround and that we haven't seen any other reports on this

[2022-02-15 02:34] karajan1001 commented on #6532
This will automatically be solved after #7275 was merged. related [code](https://github.com/iterative/dvc/pull/7275/files#r806398090)

[2022-02-15 06:06] skshetry commented on #7352
We already use `localfs` on data-management systems or wherever we are filesystem agnostic.

I noticed this while working on #7331, but it's not required right now.

[2022-02-15 06:28] marius311 commented on #3838
Is there any possibility this could get looked at? Afaict (and please let me know if I'm missing something) this is still an issue that makes using SSH remotes prohibitive.

Just to summarize the problem, consider two users who have access to a remote server that will be used as a DVC SSH remote. Both users have primary group `mygroup` on the remote server. If user1 pushes some DVC files to this r

[2022-02-15 08:32] karajan1001 commented on #4344
@lefos99 , tried the script in https://github.com/iterative/dvc/issues/4344#issuecomment-669561228 still result

[code]

[2022-02-15 08:56] karajan1001 opened #7382 "remove: Confusing error message"
# Bug Report

DVC gives confusing error message on `dvc remove`

## Description
In a repository without any pipelines. DVC didn't give proper a suggestion for users that `dvc remove` can only remove `.dvc` file. But returns a confusing error message `ERROR: 'dvc.yaml' does not exist`.

### Reproduce
[code]

### Expected
Suggests user to use `dvc remove data.dvc`.

### Environment information

**Ou

[2022-02-15 09:47] skshetry commented on #7382
This is because `remove` does not support specifying output, just the `.dvc` file or stage name.

[2022-02-15 09:47] skshetry commented on #7382
Duplicate of #5288.

[2022-02-15 09:47] #7382 closed

[2022-02-15 11:45] karajan1001 commented on #7366
for
[code]
It will try to pull all of the data from remote `second_storage` no matter where they were stored. If you only want to pull some special data, you need to specify your target file.

For example, if I have `data1` stored in `remote1`, and `data2` in `remote2`.
[code]

[2022-02-15 12:44] efiop commented on #3838
Unfortunately, we don't have capacity to work on this yet 🙁

[2022-02-15 13:17] #7329 closed

[2022-02-15 13:19] efiop commented on #7307
Depends on moving repofs to relative paths. Will take a look after that.

[2022-02-15 13:23] efiop opened #7384 "repofs: use repo paths"
Currently repofs is using absolute paths, that have no meaning for gitfs backend. We need to switch to relative paths, similar to dvcfs.

[2022-02-15 13:23] nkruglikov opened #7385 "status: doesn't handle foreach stages"
# Bug Report

## Description

`dvc status stage_name` can't find a stage if it contains a `foreach` clause. It works only with stage names like `stage_name@first`. This is in contrast with `dvc repro stage_name` which handles such stages without problem.

The problem also occurs with `push` and possibly with other commands.

### Reproduce

A minimal example of the problem:
[code]

### Expected

I

[2022-02-15 13:24] efiop commented on #7118
Likely will be resolved as a part of https://github.com/iterative/dvc/issues/7384

[2022-02-15 13:33] skshetry commented on #7374
#4344 and this issue are related to staging in dvc-data.

[2022-02-15 13:33] efiop commented on #4344
As noted by @skshetry , related to https://github.com/iterative/dvc/issues/4344 . Both depend on using `dvc/data/diff.py` and not touching unrelated files, but at the same time detecting and removing empty dirs.

[2022-02-15 13:48] skshetry opened #7386 "run: Permission error during stage cache"
<details>
<summary>Detailed traceback</summary>

[code]

</details>

[2022-02-15 14:25] pmrowla commented on #7385
This is the same underlying issue as https://github.com/iterative/dvc/issues/7323, will update the other issue to note that it also applies to `status` (and not just `commit`) and close this as a duplicate

[2022-02-15 14:25] #7385 closed

[2022-02-16 00:51] dberenbaum commented on #7352
Can we lower the priority?

[2022-02-16 00:53] jorgeorpinel commented on #7314
I agree. Also suggested in https://github.com/iterative/dvc/pull/7245#pullrequestreview-870006159 (for consistency with `git log -n`

[2022-02-16 04:10] karajan1001 commented on #7366
The data here to be pulled only depends on the positional argument `target` in (dvc pull --help).  And optional argument `-r` only affects the remote storage to pull from. `dvc pull -r remote1` means pull all of the data (because it has no positional argument) from remote1 ( because of the optional argument `-r`).

[2022-02-16 06:07] phitoduck opened #7389 "VS Code Extension"
VS Code's built-in `git` feature is excellent, especially when you download something like "Gitlens". It would be *so* cool if we had a similar extension for DVC that exposed a similar visual interface for seeing which data files are tracked/staged, viewing/editing configurations, etc.

<img width="1745" alt="image" src="https://user-images.githubusercontent.com/32227767/154206292-5620c7aa-bd1a-40

[2022-02-16 06:14] pmrowla commented on #7389
Closing as duplicate of https://github.com/iterative/dvc/discussions/6047

@phitoduck we are currently have an in-development extension, please see the linked discussion and join the discord if you are interested in requesting access

[2022-02-16 06:14] #7389 closed

[2022-02-16 06:15] shcheklein commented on #7389
@phitoduck It's in progress :)

I've invited you to the project. Please give it a try. Feel free to create any issues, feedback, discussions in the repo. We need as much feedback there as possible.

[2022-02-16 07:47] pmrowla commented on #7023
I think this can be p2 since the problem mostly occurs in the `--external` use case. But I think this is still a regression for `import-url` so it should be looked into some more at some point

[2022-02-16 15:56] pared opened #7390 "status: recalculating hashes each call"
When calling `status` on modified dir, DVC shows message `Computing file/dir hashes (only done once)` for each status call.
Reproduction script:

[code]
It might not necessarily be an issue with DVC, as "calculation" for subsequent status calls seems to be faster than the original one. Maybe it's just a problem with a message.

[2022-02-16 16:37] dberenbaum commented on #7338
Makes sense @mistermult! To summarize, you have different stage outputs in the same directory and want to be able to recursively checkout that directory, right?

This should definitely be supported. In fact, I'd say it's a borderline bug, since DVC otherwise supports stage outputs as checkout targets.

@efiop Any idea if upcoming data changes would address this?

[2022-02-16 16:42] dberenbaum commented on #7340
@efiop It would be great to be able to look into this one as part of updates to the status command.

[2022-02-16 21:10] phitoduck commented on #7389
I am so sorry for creating a duplicate! I did a search for "VS Code" and didn't dig any further when nothing came up from that search. This is awesome to hear :D

[2022-02-17 08:33] #7137 closed

[2022-02-17 08:33] #7138 closed

[2022-02-17 08:33] #7139 closed

[2022-02-17 08:55] koodzi opened #7395 "Does `dvc get` need to hold open all the files it tries to download?"
I got dataset of 5000 files. I tried to download the dataset on the server using `dvc get` but it failed. `Too many open file`

I try to use `ulimit -n 4096` and `--jobs 1` and `_JOBS=1` (as I use SFTP) But it always fails.
https://dvc.org/doc/user-guide/troubleshooting#many-files

On the other hand `dvc import/pull` works fine.

**So question is does `dvc get` needs to keep opened all that files?

[2022-02-17 10:00] pmrowla commented on #7395
This is likely the same underlying issue as https://github.com/iterative/dvc/issues/7319 (there is an existing bug where `--jobs` is not respected properly for SSH connections.

We can keep this issue open for now and double check that the problem is resolved once the other fix is merged (which should be soon @koodzi)

[2022-02-17 10:59] LoicEm opened #7397 "exp: Add a "target" option to `dvc exp pull/push`"
I am working with DVC on a repository with several subfolders, each representing different projects.
The projects have similar pipelines (for the sake of simplicity, simply running `preprocessing.py` with different parameters for each project), but the data/use cases are very different.

My directory structure looks like this

[code]

I was excited about the newer `dvc exp` feature as it seemed to

[2022-02-17 11:10] pmrowla commented on #7397
In the short term, the workaround would be to do push the DVC data for the experiment separately using regular `dvc push`:

[code]

[2022-02-17 11:15] pmrowla commented on #7397
If it was actually pulling data this sounds like a bug. But I think what probably happened here is that DVC is pulling directory information for other tracked dirs (but would not pull the actual file data).

As you noted, DVC considers the "experiment" to include the entire repo state, not necessarily just `project_1/data`. So if the other parts of your repo include dvc-tracked dirs that had not b

[2022-02-17 19:06] dberenbaum commented on #6720
Since the `data.xml.dvc` exists in `f0c0269` but not in `3e07290`, these shouldn't have the same output, right @josecelano? I would expect `dvc diff f0c0269 16ba2cd` to return nothing. I think https://github.com/Nautilus-Cyberneering/chinese-ideographs/issues/38 sums it up: `dvc diff` fails when no files have been changed.

For example:

[code]

@efiop The error isn't related to #6594 or `dvc/repo

[2022-02-17 19:29] dberenbaum opened #7398 "diff: Fails on duplicate commits"
While looking into #6729, I found that using the same commit for both revision arguments in `dvc diff` results in an error:

[code]

Even with different revisions pointing to the same commit, it fails:

[code]

It looks like the brancher is returning comma-separated keys like `16ba2cd,16ba2cd`, but a simple key like `16ba2cd` is expected here:

https://github.com/iterative/dvc/blob/0b18efb7b7cea1d

[2022-02-17 19:33] dberenbaum commented on #6594
@efiop Is this still p1?

[2022-02-17 19:44] #6497 closed

[2022-02-17 19:56] dberenbaum commented on #6791
All of these commands have been tested here or in https://github.com/iterative/dvc.org/issues/2861. We need to remove `--no-run-cache`, `--no-commit`, and `--glob` (unless someone prefers to address #6457).

cc @pmrowla @karajan1001

[2022-02-17 19:58] dberenbaum commented on #6387
@efiop @skshetry Any thoughts on priority or how to solve this one?

[2022-02-17 20:06] dberenbaum commented on #6150
@pared @daavoo I lowered the priority of this, but it (and the old linked discussions from @Suor) relates to https://github.com/iterative/dvc/issues/6944 and https://www.notion.so/iterative/Dvclive-plots-configuration-011e41923e414bc3b2fd6c9a24ca061f, so maybe it can be addressed as part of those efforts?

[2022-02-17 20:07] dberenbaum commented on #6126
@skshetry Is this still an issue, and should it stay as p1?

[2022-02-17 20:20] dberenbaum commented on #6088
@shcheklein Do you know if this is still an issue and what the priority is? I downloaded the attached repo and ran `dvc diff --show-json`, and I was unable to reproduce the error.

[2022-02-17 20:25] dberenbaum commented on #6031
@Suor Is this still an issue? I don't have access to those sentry logs.

[2022-02-17 20:46] dberenbaum commented on #5786
@skshetry Do you plans to look into this? Could we lower the priority?

[2022-02-17 21:00] #6088 closed

[2022-02-17 21:38] emremrah commented on #6387
Suggestion: prioritize a progress bar to show the ETA. Lack of pb was the reason I was interupted the add process. Thanks again for the support for getting the data back.

[2022-02-18 00:37] #7319 closed

[2022-02-18 00:49] pmrowla commented on #7395
@koodzi the fix for the other issue is now available, can you please try installing from `main` to see if this resolves your issue (see https://dvc.org/doc/install/pre-release)

[2022-02-18 01:00] pmrowla commented on #6126
Improving the state of internal docs/type hinting should continue to be done over time as people make changes to the related modules (like `dvc.objects`), I don't think this needs to be p1

[2022-02-18 01:31] dberenbaum commented on #7390
@pared Are you sure the recalculation doesn't happen? I see that subsequent calls take just as long.

This seems related to known regressions from the current refactoring. @efiop Is this expected?

[code]

A smaller dataset to reproduce:

[code]

[2022-02-18 08:39] dtrifiro commented on #7390
Can confirm:
![image](https://user-images.githubusercontent.com/36171005/154647886-8cc89542-233a-4a35-8894-77b6287ac104.png)

[2022-02-18 08:40] dtrifiro commented on #7390
Can confirm:
[code]

[2022-02-18 09:29] daavoo commented on #7390
Some change in https://github.com/iterative/dvc/compare/2.5.4...2.6.0 introduced a ~4x increase for `status`:

[code]

[2022-02-18 10:01] daavoo commented on #6150
Unless I'm missing something, I think it does not relate to #6944 (at least given the scope described there). The `dvc_render` extraction only affects code happening *after* the internal `dvc.repo.plots.show()`.

However, this issue happens during the internal collection of plots (inside `dvc.repo.plots.show()`) so the extraction can't address it.

[2022-02-18 10:57] efiop commented on #4657
@AlexandreBrown Hey. Thanks for your interest! We are currently working on some pre-requisites for that feature (e.g. we need a nicer way to represent this virtual data structure so we could modify it). I expect this to be available for some early testing in the next month or so. So please stay tuned :)

[2022-02-18 13:10] pared commented on #7390
@dberenbaum strange, what `dvc version` you used? For me on latest master, (500 files, 10Mb each):
[code]

[2022-02-18 13:25] MichalBortkiewicz opened #7402 "dvc list: introduce tree view with --level parameter"
Hey,

DVC tool is already great, but I see a possible improvement for `dvc list` command. Maybe you could introduce `--level` parameter that works similarly to `tree -L` command? So that the user can easily navigate through the nested repo files.

Cheers!

[2022-02-18 13:41] gusario opened #7403 "`dvc exp apply` fails with submodule in working directory"
# Bug Report

## Description

`dvc exp apply` fails with

when you have submodule in your repository which haven't been cloned.
Additionally DVC reports the submodule as modified, but git status does not.

Full traceback:

    ret = cmd.do_run()
  File "/Users/a19743149/opt/anaconda3/lib/python3.9/site-packages/dvc/cli/command.py", line 22, in do_run
    return self.run()
  File "/Users/a19743149/

[2022-02-18 14:49] dberenbaum opened #7405 "api.open: Write mode doesn't work with rev argument"
# Bug Report

## Description

Error when using `dvc.api.open("foo", rev="HEAD", mode="w")`. See below for full error.

It's easy enough to work around this, but we should either fix it or not support write mode.

### Reproduce

In a fresh git+dvc repo, I added a `foo` file and committed:

[code]

Then I tried to write a copy with `dvc.api.open()`:

[code]

### Expected

Being able to write a file

[2022-02-18 15:23] dberenbaum commented on #6720
It should not return an error. It should return empty output and a 0 exit code.

By default, `dvc diff` will compare the current workspace to the last commit and show files missing from the cache unless you pass `--hide-missing`.  When comparing two revisions, `--hide-missing` is implied, and this "not in cache" info is deleted since it's irrelevant. The error you see is a bug that arises because

[2022-02-18 16:30] dberenbaum commented on #7402
@efiop Is this something we should consider alongside the updates to `dvc status`, which may introduce a similar argument?

[2022-02-18 16:33] dberenbaum commented on #7390
@pared I also used latest master. Maybe I misinterpreted your concern. It seems like the two `status` calls after modification took the same time, which I thought was the problem?

[2022-02-18 18:05] dberenbaum commented on #5712
Do we expect to update this along with `dvc status` @skshetry @efiop? Should we keep it p1?

[2022-02-18 18:10] dberenbaum commented on #5503
@skshetry Do you intend to look into this? Do you want to keep it as p1?

[2022-02-18 18:50] dberenbaum commented on #5501
This appears to have been fixed at some point.

Reproduction script:

[code]

With version 1.11.15, I get `ERROR: unexpected error - too many values to unpack (expected 1)`. I get no errors with version 2.9.5.

[2022-02-18 18:50] #5501 closed

[2022-02-18 19:02] dberenbaum commented on #5387
@skshetry The error should not be "unexpected," but can you clarify whether there is there any other issue here?

[2022-02-18 19:10] dberenbaum commented on #5359
@shcheklein It seems like this has been addressed by `stage add`? Feel free to reopen if I misunderstood.

[2022-02-18 19:10] #5359 closed

[2022-02-18 19:23] dberenbaum commented on #5326
Bumping this priority down for now.

[2022-02-18 19:28] dberenbaum commented on #5066
Some related work was done in #5984 for certain commands to skip bad revisions. Specifying revisions to ignore would still be a nice feature, but I'm lowering the priority for now since it's not in our current roadmap.

[2022-02-18 19:30] dberenbaum commented on #4658
@efiop Thoughts on the priority of this?

[2022-02-18 19:39] dberenbaum commented on #4428
Unfortunately, we haven't gotten to this one for a long time. I'm lowering the priority, and hopefully we will get back to this when we start refactoring pipeline/stage code.

[2022-02-18 20:06] dberenbaum commented on #4239
@Suor @efiop Is this still an issue? For now, I'm lowering the priority to p2.

[2022-02-18 20:08] dberenbaum commented on #3427
Since this hasn't been an issue, I'm lowering the priority to p2.

[2022-02-18 20:30] dberenbaum commented on #3313
@dtrifiro `dvc checkout` performance on subsequent runs could be a good area to research. Let's consider what the priority should be for this.

[2022-02-18 20:33] dberenbaum commented on #2877
@skshetry It looks like `cache_exists()` is no longer around, although I'm not sure if the underlying issue is still relevant. Can this be closed?

[2022-02-18 21:05] dberenbaum commented on #2839
This is much improved since the issue was opened.

The output of the script @pared provided in the old version was:

[code]

Currently, it is:

[code]

This looks like everything other than issue 3 above has been addressed. Not sure what expected behavior is in this case where the repo has been updated but without changes to the specified file. @pared @efiop Any thoughts on this?

[2022-02-18 21:14] dberenbaum commented on #2747
@efiop @shcheklein Do you or anyone else have easy access to a Windows machine to see the status of this issue?

Lowering to p2 for now.

[2022-02-18 21:20] dberenbaum commented on #2696
Current output signals that nothing changed: `'cats-dogs.dvc' didn't change, skipping`. Closing this one.

[2022-02-18 21:20] #2696 closed

[2022-02-18 21:25] dberenbaum commented on #2691
It looks to me like all these issues have now been addressed. Outputs from `2.9.5.dev11+g30fa3fc41`:

[code]

Closing this.

[2022-02-18 21:25] #2691 closed

[2022-02-18 21:34] dberenbaum commented on #2602
@pared I'm unable to reproduce the prompts at this point, but the long temporary paths still show in output in `2.9.5`:

[code]

Any thoughts on how to address this or priority of it?

[2022-02-18 21:47] dberenbaum commented on #2599
@jorgeorpinel Do you know if there's anything left to address in this ticket?

Lowering the priority to p2 for now.

[2022-02-18 22:02] dberenbaum commented on #2508
@dtrifiro Using the UI to manage performance expectations is another direction we can pursue. Putting this as p2 for now, but let me know if you have any thoughts on it.

[2022-02-18 22:05] #2367 closed

[2022-02-18 22:14] dberenbaum commented on #2140
@efiop What do you think of the priority of this one? I haven't seen this requested, so IMO it could be p2 or even p3.

[2022-02-18 22:19] dberenbaum commented on #2027
Interesting discussion. Not sure the cleanest way to warn people without making the workflow more cumbersome.

Anyway, this isn't on the current roadmap, so lowering priority to p2.

[2022-02-18 22:26] dberenbaum commented on #1691
Now that we have experiment flags like `exp show --rev HEAD -n 10`, I think this addresses the initial concern here. We could keep it open to consider whether to implement those flags in other commands like `gc`, but it might be better to open a new issue at this point than follow this whole discussion. Closing for now, but feel free to reopen or create a new issue if you think there's more to add

[2022-02-18 22:26] #1691 closed

[2022-02-18 22:27] dberenbaum commented on #755
@dmpetrov @efiop Let's discuss the priority of this one as we start to think about planning for next quarter. I think we should probably move it to p2 for now as we are unlikely to work on it for at least the rest of this quarter, but we should keep it in mind as a priority for next quarter.

[2022-02-19 02:42] JustinTervala opened #7407 "list: Invocation without path yields no output"
# Bug Report

## Description

When invoking `dvc list` without a path argument, no output is returned. This only appears on the main branch.

### Reproduce

`dvc list https://github.com/iterative/dataset-registry` takes a very long time and yields no output on the main branch.

### Expected

There should be the same as on the most recent release
[code]

### Environment information

[code]

**Addit

[2022-02-20 22:34] efiop commented on #2147
We'll create a ticket in dvc-objects/data for this kind of odb indexing with a summary and in the mid term and will close this.

[2022-02-21 01:55] efiop commented on #7407
Hey @JustinTervala , thanks for the report! 🙏

For the record: the functional bug is getting fixed in #7408 but performance has deeper roots and will be fixed after #7404

[2022-02-21 02:23] #7407 closed

[2022-02-21 02:34] efiop commented on #2140
@dberenbaum Thanks for the heads up! Indeed, downgraded the priority. The underlying functionality is actually already present (repofs and dvcfs are both work with repo roots just fine and we are able to stage any directory), so just a matter of making sure import/get don't do anything funny or don't have safeguards for this.

[2022-02-21 05:27] pmrowla commented on #7405
It seems like write mode should just not be supported at all here. If you are writing to a file associated with a specific git revision, wouldn't this require rewriting git history?

Actually, is write mode even something that should be supported in `api.open` at all (with or without rev)?

[2022-02-21 05:32] pmrowla commented on #7405
If anything this sounds more like a `dvcx` scenario where a write actually requires
- modify the file
- `dvc commit` the changes if it's a DVC tracked file
- `git add + git commit` the changes to relevant files

[2022-02-21 05:59] skshetry commented on #4406
It is still an issue, but we can lower the priority here as it seems we cannot do much here.

[2022-02-21 06:03] skshetry commented on #5387
@dberenbaum, it's a UI issue, and a regression introduced in 2.0, that's why it was tagged https://github.com/iterative/dvc/labels/p1-important, but can be lowered now to https://github.com/iterative/dvc/labels/p2-medium.

[2022-02-21 06:14] skshetry commented on #5503
I think this should be looked at as being part of `dvc-data` than `ui`, as I think it should always return stats in relative terms. cc @efiop.

[2022-02-21 08:25] SiriusBHU commented on #2754
it seems that this bug is not fixed by now, when using exe installer 🙁...

[2022-02-21 09:07] pmrowla commented on #2754
@SiriusBHU can you please try re-running the command that gave you an error with the `-v` flag and then post the full error output here

[2022-02-21 16:10] koodzi commented on #7395
I have tried also different approach. I have 5000 samples in 5 directories (1000 each)

First, I added all the files using `dvc add data/**/*.sample` - this created 5000 *.dvc files.
Second, I added whole directory `dvc add data` - this created 1 `data.dvc` file

I both cases `dvc get` fails with too many opened files.

[2022-02-21 22:12] michael-mayo opened #7410 "push: name of remote does not have trailing spaces removed from name"
# Bug Report

## Issue name

push: name of remote does not have trailing spaces removed from name

## Description

After setting up a new repository with an external cache, issuing a push to the remote repository fails if there is a trailing space after the name of the remote repository. While the extra space is detected, it might be more user friendly to automatically trim trailing spaces from th

[2022-02-22 01:31] dberenbaum commented on #7405
Yeah, it shouldn't be supported at all. Sorry, going through too many issues 😄 . So we probably need:

1. A better error.
2. Fix the docs to specify supported modes ("r"/"rb"). cc @jorgeorpinel

[2022-02-22 01:32] dberenbaum commented on #7405
Yeah, it shouldn't be supported. Going through too many issues 😄 . It would be nice to have a better error message and maybe document when write mode isn't supported.

[2022-02-22 01:42] dacbd opened #7411 "Linux install with snap"
link: https://dvc.org/doc/install/linux#install-with-snap

The additional flags `--beta` and `--edge` result in messages:
- `Channel latest/beta for dvc is closed; temporarily forwarding to stable.`
- `Channel latest/edge for dvc is closed; temporarily forwarding to stable.`

Should mention of these flags remain if they are closed?

[2022-02-22 05:49] pmrowla commented on #7410
I'm not able to reproduce this. Could you please run `dvc doctor` and post the output here, and also note what shell you are using (bash/zsh/fish/etc)

[2022-02-22 06:26] pmrowla commented on #7395
@koodzi can you try installing the linked PR branch and see if it resolves the issue:

[code]

[2022-02-22 06:57] michael-mayo commented on #7410
Issue updated with the output of DVC doctor... shell is zsh

[2022-02-22 07:51] pmrowla commented on #7410
I'm still unable to reproduce this issue, DVC (via argparse) expects this whitespace stripping to happen in your shell. It seems like this might be something specific to your shell/env setup?

With on macos, `$ dvc push -r local  ` still works as expected for me with this DVC config (`local` with no trailing spaces is what gets passed into `sys.argv`)
[code]

I tested this with my regular zsh setu

[2022-02-22 08:04] michael-mayo commented on #7410
The error does not occur in a new project with the same environment, so I will look into it some more and provide more info if I can reproduce it. Thanks.

[2022-02-22 08:12] pmrowla commented on #7410
Closing this issue for now then, feel free to reopen it if you run into the problem again in the future.

[2022-02-22 08:12] #7410 closed

[2022-02-22 08:52] pmrowla commented on #7361
Another user from the support email is encountering this issue intermittently when pulling from github, we may need to just submit an upstream patch that allows for retries when a network request fails.

[2022-02-22 11:50] daavoo commented on #7361
I have been also randomly encountered the same issue when pulling experiments from https://github.com/iterative/example-dvc-experiments but only with SSH remote. Switched to HTTPs remote and the random failures stopped.

[2022-02-22 13:18] #6276 closed

[2022-02-22 13:40] mnrozhkov commented on #7307
@skshetry are there any workarounds for this until we fix it?

[2022-02-22 13:43] pared commented on #7307
@mnrozhkov downgrading to `2.8.1` seems to help, we are trying to pinpoint the exact change introducing the bug.

[2022-02-22 14:03] skshetry commented on #7307
`bisect` points me to e8e1c76504895f846ef5724c02f5414f4a251f7f as being the culprit.

[2022-02-22 15:51] dtrifiro opened #7414 "pull: freezes on large datasets"
When running `dvc pull` on large datasets, dvc *sometimes* hangs and never returns, here's an example of traceback (after interrupting *twice* with `KeyboardInterrupt`)

[code]

`$ dvc doctor`

To reproduce:
[code]

See also https://github.com/iterative/dvc-bench/issues/319

[2022-02-22 15:56] dtrifiro commented on #7414
By looking at the logs, when this happens one of the threads is erroring out:

[code]

Apparently 520 is a "catch-all" cloudflare error (see [this](https://community.cloudflare.com/t/community-tip-fixing-error-520-web-server-is-returning-an-unknown-error/44205))

[2022-02-22 16:35] dberenbaum commented on #7361
@daavoo Taken from https://github.com/jelmer/dulwich/issues/473#issuecomment-270375222:

[2022-02-22 17:15] daavoo commented on #6076
`foreach` is supported on https://github.com/iterative/dvcyaml-schema/pull/9 .

[2022-02-22 17:15] #6076 closed

[2022-02-22 17:16] dberenbaum commented on #5387
I didn't realize that it was possible to overwrite an existing output with `dvc get` before 2.0. Not sure which behavior is more expected. Maybe we need a `--force` option or similar to handle this?

[2022-02-22 21:57] Erotemic opened #7415 "DVC Attempts to remove files in .dvcignore"
# Bug Report

## Description

This is an issue that is related to https://github.com/iterative/dvc/issues/4249, but I think it is somewhat different.

The issue is that if you are:
1. tracking a directory with DVC where a subdirectory matches a dvcignore pattern
2. write a file in that directory but in a place matching the dvcignore pattern
3. pull an update to that tracked directory

DVC will att

[2022-02-23 05:06] Erotemic commented on #7415
Might be a duplicate of #7374

[2022-02-23 05:49] skshetry commented on #7415
Thanks, @Erotemic, closing in favour of #7374.

[2022-02-23 05:49] #7415 closed

[2022-02-23 07:23] pmrowla opened #7418 "exp: dvc-task migration"
Meta issue for dvc-task related issues/PRs

TODO for parity with existing features:

- [x] Add support for automatic worker start/stop (fixed in dvc-task-dev branch, pending celery release: https://github.com/iterative/dvc-task/issues/7)
- [x] Add support for celery exp run status in core dvc (`exp show`) (#7427)
- [x] Add support for attaching (`tail -f`) to log output in dvc-task (https://github

[2022-02-23 09:09] PythonFZ opened #7419 "DVC and HPC Clusters / Slurm"
I'm currently in the progress of investigating the usage of DVC at our University for the fields of not only machine learning but also simulation science in general. We are using HPC Clusters for most of our simulations, often based on [Slurm Workload Manager](https://slurm.schedmd.com/documentation.html).

On most clusters it is not possible to have a process running continuously on the head node

[2022-02-23 12:16] francesco086 opened #7420 "dvc repro --pull: does not pull the data but rather throws an error"
# Bug Report

## Description

The command does not pull the data. If I first run `dvc pull` and then `dvc repro` everything works fine.

### Reproduce

1. clone project with this dvc.lock file (I omit the dvc.yaml file as it is obvious from this):
[code]
2. dvc repro --pull
3. get this error:
[code]

### Expected

Missing data source  ../curated-data/carriers.parquet should be pulled (or at least

[2022-02-23 14:43] efiop commented on #7420
Discord context https://discord.com/channels/485586884165107732/485596304961962003/946017853109325824

[2022-02-23 14:45] efiop commented on #7420
Looks like there is some confusion with `--pull` option. It is meant to automatically download outputs of stages if they are found in run-cache, as explained in https://dvc.org/doc/command-reference/repro . So this is expected behavior for it. You are looking for a new feature that would do `dvc pull` for dependencies automatically.

[2022-02-23 14:47] francesco086 commented on #7420
oh ok, my bad! I am closing the issue.

[2022-02-23 14:47] #7420 closed

[2022-02-23 15:05] TheBigTicket13 commented on #2754
@SiriusBHU I encountered the same issue  when using _dvc push _  command. I have also used .exe installer.
I uninstalled v.2.9.3 and picked some older version from [dvc releases](https://github.com/iterative/dvc/releases), i.e. v.2.7.3.
Now _dvc push_ command is performed successfully with no error.

It seeems that issue came up in versions 2.8+

[2022-02-23 15:31] efiop commented on #2754
@TheBigTicket13 @SiriusBHU Btw, where did you install it from (downloaded our exe, installed from chocolatey, scoop, conda, etc?)? Could you show `dvc doctor`, please?

[2022-02-23 15:38] pared commented on #7390
We have been looking into that with @daavoo and it seems that before https://github.com/iterative/dvc/commit/114a07e7a448b667682fbe331ac06efbf4453494

`staging` DB, under `.dvc/tmp/staging` was able to locate hash_info for the target:

https://github.com/iterative/dvc/blob/114a07e7a448b667682fbe331ac06efbf4453494/dvc/objects/stage.py#L231-L232

however, after the change, staging db became a Refere

[2022-02-23 19:00] dberenbaum commented on #4871
This looks like a duplicate of #4742 to me since it falls under "pull whatever is missing and necessary for this repro." Closing in favor of that, but definitely want to make sure this use case is covered. I'll transfer the comments over to that issue.

[2022-02-23 19:00] #4871 closed

[2022-02-23 19:01] dberenbaum commented on #4742
Comments from https://github.com/iterative/dvc/issues/4871:

[2022-02-23 19:01] dberenbaum commented on #4870
Seems like a duplicate of #4742, so I'll transfer the comment over there.

[2022-02-23 19:01] #4870 closed

[2022-02-23 19:03] dberenbaum commented on #4742
Another request in discord: https://discord.com/channels/485586884165107732/485596304961962003/945713992825991188

[2022-02-23 19:28] dberenbaum commented on #7419
Hi @PythonFZ! We are working on more robust queuing functionality to allow for less locking and more granular control, like adding experiments while others are running.  See #5615 for work related to this. The prerequisites are in progress, so this is a current priority. Please keep track of progress in that issue 🙏 !

cc @pmrowla @karajan1001

[2022-02-23 20:35] dberenbaum commented on #7390
That's great @pared, thanks! So hashes are being recomputed each time, right?

Do you know if this is true?

[2022-02-23 20:39] dberenbaum commented on #7390
@pmrowla Any insight into this?

[2022-02-24 06:38] pmrowla commented on #7390
I'll take a look into this

[2022-02-24 09:06] francesco086 commented on #4742
Hi, I am leaving my comment as a user as suggested by @dberenbaum, I hope it can be helpful.

Let's take the example A -> B -> C mentioned above. After defining the pipeline I want to run each stage in a dedicated container using an orchestrator like Argo (or Kubeflow or Airflow or ...).
So, for example, I will have a step in Argo where I want to execute the stage B. Then I would like to be able t

[2022-02-24 11:32] pmrowla commented on #7390
So this occurs for `status` because computed .dir hashes are not saved to disk after the status call (the actual .dir json data only exists in the memory fs for the duration of the `dvc status` call). But this is expected behavior, and IMO the issue here is a UI problem (we display the progress bar but are not actually computing file hashes).

---

This was an intentional decision when we moved to

[2022-02-24 11:55] pmrowla commented on #4742
Can't this already be done with `dvc pull -d/--with-deps B`?

The behavior for `repro --pull` is definitely confusing and needs to be updated at some point, but I'm not sure it needs to be prioritized since it's already possible with `pull` + `repro`. (IMO it may be better to just rename `repro --pull` to `repro --pull-run-cache` to make it more obvious what that flag actually does)

[2022-02-24 12:10] daavoo commented on #7390
The problem I see is that the performance gap increases with the number of existing files tracked in directories.

I don't know how critical the scenario is (it might somehow overlap with LDB scope) but it has a significant impact in datasets with many "small" files, for example, with 10k files:

[code]
Where are jumping from 0.8s to 28s.

Increasing the number of threads doesn't help because of
h

[2022-02-24 12:39] pmrowla commented on #4742
Ah I see, so what we want would be something along the lines of `pull --deps-only`.

Although I'm not sure I understand why pulling the output here is a problem. This is also what `repro --pull` is "intended" to do (since it pulls run-cache, if the result of a known cached run exists DVC will just check out that resulting output instead of reproducing the stage).

[2022-02-24 13:37] francesco086 commented on #4742
In the perspective of running a stage on a "clean" container, you want to run a stage only if:
1. the output will be different from one already computed - so, in case, don't download needed inputs to save resources.
2. pulling the output to overwrite it is just a waste of resources.
Imagine the scenario where files to download are of the order of Gb or more.

[2022-02-24 18:05] dberenbaum commented on #7390
Besides any `--no-commit` operations, are there any other commands where this would apply?

In the previous behavior, how was the `.dir` json file used to optimize getting the status of a modified directory?

I think we should at least reassess some of these tradeoffs/temporary regressions until we have a clear plan for when they will be "properly" fixed. @pmrowla Do you have thoughts on the level

[2022-02-24 19:46] dberenbaum commented on #4742
In the initial comment for this issue, there is a good summary: "pull whatever is missing and necessary for this repro."

I think it's related to https://github.com/iterative/dvc/issues/5369, and that may be a prerequisite for the best-case scenario. A good solution for #5369 would determine whether there are any modified stages, taking into account what can be checked out from the cache/run-cache

[2022-02-25 01:23] pmrowla commented on #4742
I'm still not following

Determining whether or not the upstream stages are modified requires on having the dependencies available (to see whether or not they have changed)

In this case, it sounds like you are talking about where I have a pipeline like `A -> B -> C`, and I want to repro C, so DVC would only check the dependencies for A, since the intermediate outputs for A and B are not actually

[2022-02-25 01:48] pmrowla commented on #7390
Commands like `dvc diff` that check workspace status

We know what the hash of the modified dir will be after the first `dvc status` call, since we save it to the state db (assuming that the dir has not been modified again since that `status` call).

Previously, since we saved the `.dir` file to cache we could then just `json.load()` it to get the rest of the information about "what files and hash

[2022-02-25 12:25] daavoo opened #7421 "pull: Using `jobs>1` fails with `RuntimeError: Session is closed` in http remote"
# Bug Report

## Description

Discord background: https://discord.com/channels/485586884165107732/485596304961962003/946721947599908905

User reports failures when using `jobs>1` with HTTP remote.

Forcing `jobs=1` completes successfully.

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[Full traceback](https://github.com/iterative/dvc/files/

[2022-02-25 12:25] daavoo commented on #7421
cc @dtrifiro Might be of relevance

[2022-02-25 14:51] dberenbaum commented on #4742
@francesco086 You mentioned wanting to have the ability to pull a single stage's dependencies in `dvc pull`. I think we could have this as a related but separate feature request if we can figure out appropriate syntax. Sorry if I misled by directing you to this issue.

I see two possible approaches:
1. Have flags to pull only dependencies (not outputs), and to limit the depth of dependencies so th

[2022-02-25 15:07] koodzi commented on #7395
Hi, sorry for late response. The fix did not work.

Can you point me to correct `dvc[ssh]` repository?

https://github.com/iterative/dvc-ssh - this one is empty

[2022-02-25 17:34] alealv commented on #7151
Hi, I'm also interested in this feature https://discord.com/channels/485586884165107732/485596304961962003/946817686220984350

[code]

I have stages that have different list lengths

[2022-02-25 20:16] legendof-selda opened #7422 "dvc file data size changes in windows and ubuntu"
# Bug Report

## `add` : `.dvc` size changes when updating in windows and then in ubuntu

## Description

When multiple teammates use dvc in different systems and update data files, due to the difference in line endings, I believe that the size of the file saved in `.dvc` tracking file changes. This causes modified commits in git and increases the chances of merge conflicts. I have an automated sc

[2022-02-26 00:49] pmrowla commented on #7421
Should note that this is with a custom HTTP backend, we probably need more information on how the user actually implemented the backend (it may not be a dvc issue)

[2022-02-28 04:53] sandeepeat2014 commented on #7330
Seems like below error is causing this error. when I ran DVC push on my Mac it works fine. Looks like DVC is not supported on Windows?

OSError: [Errno 129] 'symlink' is not supported by <class 'dvc.fs.local.LocalFileSystem'>

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "C:\Users\XXXXXXX\AppData\Local\Programs\Python\Python39\lib\

[2022-02-28 05:43] pmrowla commented on #7330
DVC is supported on Windows, assuming that you still have DVC configured to use
[code]
it should fall back to using `copy` if the other link types fail.

What DVC command are you trying to run on Windows, and could you please post the entire error traceback? The part that you included may not actually be what is causing your problem.

[2022-02-28 07:14] sandeepeat2014 commented on #7330
Thanks for your response Peter! Please see attached file for complete log when running dvc push.
[dvcpush-windows-log.txt](https://github.com/iterative/dvc/files/8151307/dvcpush-windows-log.txt)

[2022-02-28 08:23] daavoo opened #7423 "dvc pull: from Azure fails only on Windows10 machine"
# Bug Report

From Discord: https://discord.com/channels/485586884165107732/485596304961962003/947464009534292008

## Description

I have tested this on a Linux box as well, and dvc pull works. Also, we are running a Github test workflow using an app service principal with a secret credential, and dvc pull  works there too. So it may just be the windows config.

Using azure CLI (`az storage blob u

[2022-02-28 08:33] pmrowla commented on #7330
The actual problem is still the same permissions error you were seeing before:
[code]

Are you sure that your configuration is the same between your mac and windows machines? (`dvc config --list` is the same for both configurations?)

[2022-02-28 08:37] pmrowla commented on #7395
There is not a separate `dvc[ssh]` repository, the relevant code in core DVC is here: https://github.com/iterative/dvc/blob/main/dvc/fs/ssh.py and the fsspec backend (sshfs) is here: https://github.com/fsspec/sshfs

[2022-02-28 08:38] daavoo commented on #7422
Hi @legendof-selda , what is the result of running the following on the `.csv` file:

[code]
Is it different from ubuntu and windows?

[2022-02-28 08:53] pmrowla commented on #7422
This is probably a duplicate of https://github.com/iterative/dvc/issues/6314 (and the linked original discussion from that issue). The problem is that we compute the hash using `dos2unix` line ending conversion on the CSV, but we don't use the conversion for the file size field (so the hash is consistent between windows/unix, but the size is whatever the OS reports, which will be bigger on windows

[2022-02-28 09:02] sandeepeat2014 commented on #7330
yes both are having same config.

**Windows:**
C:\DSET\Workspace\DVC\windows>dvc config --list
remote.storage.url=s3://bucket--fef6a586-0f70-46e4-b5a5-xxxxxxxxxxx/test
remote.storage.endpointurl=http://ocs-storagecluster-cephobjectstore-openshift-storage.apps.eng.openshift.XXX.XXX.XXX
remote.storage.use_ssl=false
remote.storage.access_key_id='XXXXXXXXXXXXXX'
remote.storage.secret_access_key='XXXXX

[2022-02-28 09:07] pmrowla commented on #7330
Just to be sure, are `access_key_id` and `secret_access_key` quoted on windows but not on mac? If so, please try removing the quotes from `.dvc/config` on windows (or `.dvc/config.local` depending on where you set those keys)

[2022-02-28 10:46] sandeepeat2014 commented on #7330
you are right! after removing the quotes it worked!!! thanks a lot for your support!

[2022-02-28 10:57] koodzi commented on #7395
1. Thanks for the source point.
2. Yes, I tried with `-j 1` and `-j 2`

[2022-02-28 12:36] koodzi commented on #7395
[code]

I have downloaded 5000 files from remote host using the code above. `SSHFileSystem` may not be a problem - something else might hold files open.

[2022-02-28 14:24] #7357 closed

[2022-02-28 14:31] wshields1 commented on #7423
Hiya, I have run the following as requested, but no luck:

[2022-02-28 19:00] daavoo commented on #7423
@wshields1 Could you try to set the env var `AZURE_CONFIG_DIR` pointing to https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration#cli-configuration-file .

It seems that we are not considering Windows when setting the default value for this in https://github.com/iterative/dvc/blob/30d6839a5f471fb02a7a2dcbd6a6616b71277762/dvc/fs/azure.py#L35

[2022-03-01 00:18] sjawhar opened #7425 "`import`: can't import from repo with parametrized dvc.yaml"
# Bug Report
## Description

When trying to `dvc import` from a repo that uses a parametrized dvc.yaml file (templating), import fails:
[code]

### Reproduce
[code]

### Expected
If you remove the parametrization, you get the following:

[code]

### Environment information

[code]

[2022-03-01 02:00] pmrowla commented on #7425
Closing as duplicate of https://github.com/iterative/dvc/issues/7307

[2022-03-01 02:00] #7425 closed

[2022-03-01 12:12] daavoo commented on #7423
Hi @wshields1 could you share the verbose output (`dvc pull -v`)?

[2022-03-01 13:14] daavoo commented on #7421
User tried https://github.com/iterative/dvc/pull/7412 but got same error

[2022-03-01 13:35] pared commented on #7390
Action point for start is to change the message, since it clearly does not correspond to what is going under the good.

[2022-03-01 13:38] wshields1 commented on #7423
[dvc pull -v.txt](https://github.com/iterative/dvc/files/8161940/dvc.pull.-v.txt)

[2022-03-01 14:55] dtrifiro commented on #7423
Hi @wshields1, from the first traceback, I see that the azure remote is `efddklzoning.blob.core.windows.net` is the name of the storage account correct?

[2022-03-01 15:51] orphefs commented on #7423
The name of the storage account is `efdml4488431542`, and `nmap efdml4488431542.blob.core.windows.net` yields
[code]

which means it should be accessible via port `443`. The question is why DVC is trying to access `efddklzoning` and not `efdml4488431542`? `EFD_DK_LZONING` is the name of a resource group.

[2022-03-01 16:46] wshields1 commented on #7423
So we have our answer! There was an environment variable called AZURE_STORAGE_CONNECTION_STRING  which for some reason had been set to the wrong account. Not quite sure how this occurred (may have been me playing around when initially working with Azure or may have been created somewhere else in the process), but is fixed now and all working. Thanks so much all for your help with this issue! Will

[2022-03-01 16:58] daavoo commented on #7423
Closing

[2022-03-01 16:58] #7423 closed

[2022-03-01 17:20] atekoa commented on #7421
This code was working with dvc 1, but I will try to upload the backend... I thinks it is related to the aiohttp-retry, but don't know...

[2022-03-01 20:41] fnareoh opened #7429 "dvc: openSSL failed to load certificates"
Hi, thank you for this dataset and repository, it is very inspiring! :D

I managed to re-generate the dataset using the scripts but I can't figure out the dvc get commands...

I always get `ERROR: unexpected error - OpenSSL error: failed to load certificates` which I googled but don't see any obvious way to fix it :/
Here is the verbose log:

[code]

[2022-03-01 22:49] dberenbaum opened #7430 "exp: --decorate/--no-decorate"
Related: https://github.com/iterative/dvc/issues/6051

`dvc exp show` and `dvc exp list` both show git commit hashes. Both also try to show relevant branch and tag refs when appropriate. Sometimes it's useful to prioritize branch names (`dvc exp show --all-branches`), sometimes tag names (`dvc exp show --all-tags`), and sometimes raw hashes (`dvc exp show --rev abc123 -n 5`).

We can try to guess

[2022-03-02 12:31] legendof-selda commented on #7422
I believe this work around is great! but it would be great while running `dvc add` this could be dealt with automatically rather than developers ensuring it. Feel free to close this issue but I would request that this feature be added in the next version of dvc.
Thank you so much @daavoo and @pmrowla for the quick response and support

[2022-03-02 18:10] #6720 closed

[2022-03-02 22:47] daavoo commented on #7430
How would this flag affect "experiment rows" (If I understand correctly the descriptions is about "commit rows")?

The current default display for experiment rows is:

[code]

 Would this new flag imply that default show become:

[code]

And with the flag:

[code]
 ?

[2022-03-03 16:40] alealv commented on #5594
So, this week I worked again with this issue and I tried to explore in more depth DVC code.

I saw that there has been some improvements over the code and that you are now using [fsspec](https://filesystem-spec.readthedocs.io/en/latest/). Also, I see that there is still a [ThreadPoolExecutor](https://github.com/iterative/dvc/blob/ab024a47b3dc00f3c4545b1a538ab8c59a838891/dvc/data/stage.py#L139) AFA

[2022-03-03 18:51] dberenbaum commented on #7430
That's the basic idea, but there are a lot of details to consider, like:

* What should be the default?
* What if there are multiple refs?
* Should there be options like `--decorate-refs/--decorate-refs-exclude` (see https://git-scm.com/docs/git-log#Documentation/git-log.txt---decorateshortfullautono)?

[2022-03-03 19:32] drjasonharrison commented on #1416
I'm just starting with DVC and there maybe more correct ways to do what I have initially came up with, but since I couldn't find anything in the documentation or forums this is what I did. Standard git repo (hosted by Bitbucket) with DVC (tracked files in an S3 bucket under a project specific directory).

- we already have .env files for staging and production
- our code uses variables defined in

[2022-03-04 06:34] Suor opened #7433 "TypeError while collecting stages"
An issue coming from DVC Studio: https://sentry.io/organizations/iterative/issues/3064416575/?project=5220519&referrer=slack

Stacktrace:
[code]

[2022-03-04 06:51] pmrowla commented on #7422
Closing in favor of #6314

[2022-03-04 06:51] #7422 closed

[2022-03-04 07:06] skshetry commented on #7433
@Suor, can you please share more detail in the issue itself rather than a link? Thanks.

[2022-03-04 07:51] karajan1001 opened #7434 "exp show: throws an error with `-n -1`"
`dvc exp show -v -n -1` throws an error for me:

[code]

_Originally posted by @dberenbaum in https://github.com/iterative/dvc/issues/7204#issuecomment-1021431886_

[2022-03-04 09:01] skshetry commented on #4112
We have two choices on syntax in `dvc.yaml`.
1. Using `null` to indicate track everything
[code]

  Pros:
  1. This does not require us to create our own syntax/DSL, it is YAML.
  2. (Better schema?)

  Cons:
  1.  This syntax requires filename to be explicitly specified, even for `params.yaml` file which we consider as being the default.
  2. The semantic meaning of `null` to mean track everythin

[2022-03-04 09:17] ygbingo commented on #7301
I have resolved it. I change my ```azure_storage_connection_string``` and ```pip install dvc[azure]``` resolved it. Thank you ~

[2022-03-04 09:17] #7301 closed

[2022-03-04 10:26] dtrifiro commented on #5594
Hi @alealv, thanks for the feedback! We're researching into performance improvements using `asyncio`, I'll let you know once we have updates

[2022-03-04 11:59] daavoo commented on #4112
Why it's not possible to support:

[code]

[2022-03-04 12:04] skshetry commented on #4112
It is ambiguous. The `foo` may be a params file, and `custom_params.yaml` may be just a hyperparameter `yaml` nested inside `custom_params`. Note that this is only a metadata, and the files don't have to necessarily be present in the workspace, eg: the file could have been deleted or be read from certain revisions, etc. so the fallback approaches are going to be ugly.

[2022-03-04 13:27] daavoo commented on #4112
I find it more intuitive than the other syntax, this is what users usually try first and report as a bug when it fails.

For conflicts, we can document the behavior and add priority for resolving: `checking if {name} is in `params.yaml > checking if {name} is a file and exists`. Although, tbh, I don't think it's common to use a parameters file without extension nor name a parameter with a extensio

[2022-03-04 14:53] dberenbaum opened #7436 "Environment variables in config"
I'm just starting with DVC and there may be more correct ways to do what I have initially came up with, but since I couldn't find anything in the documentation or forums this is what I did. Context: a git repo (hosted by Bitbucket) with DVC (tracked files in an S3 bucket under a project specific directory).

- we already have .env files for staging and production
- our code uses variables defined

[2022-03-04 14:56] dberenbaum commented on #7436
@drjasonharrison I moved your request to a new issue since it's a bit different from environment variables in pipelines. Supporting environment variable expansion in config files is a potentially easier problem to solve.

[2022-03-04 16:30] skshetry commented on #4112
It's better to avoid ambiguity if possible. And, `diff` and `status` have stronger requirements.
For example, what will you show `dvc status` for `foo` if the `foo` file and `params.yaml` both don't exist at all?

Also `dvc` supports any arbitrary file (it just fallbacks to yaml), so `foo.bar` could be a params file or an xpath to that parameters.

I know it's intuitive, but I don't think we have

[2022-03-05 08:25] papsebestyen commented on #2432
I'm also interested in the integration of OneDrive/SharePoint

[2022-03-07 00:28] dberenbaum commented on #2432
As mentioned above, this depends on https://github.com/fsspec/filesystem_spec/issues/280. If you are interested in this feature in DVC, please upvote that fsspec issue or look into contributing to it. Thanks for your interest and support!

[2022-03-07 03:14] Suor commented on #6031
It looks like this is not thrown in dvc 2.9.5 anymore, so I will be able to remove my monkey patch. Thanks.

[2022-03-07 03:15] #6031 closed

[2022-03-07 06:35] pmrowla commented on #4658
@dberenbaum fixing this is a major backwards compatibility breaking change, so the original thought was we would address this along all the other potential 3.0 cache/object changes (that will also break backwards compatibility)

[2022-03-07 09:24] karajan1001 commented on #5594
For the past experience `async` is a little bit usually slower than `multi-processing`.

[2022-03-07 10:47] dtrifiro commented on #7429
Cannot reproduce on a fresh snap install (rev 1321) on ubuntu 20.04:

[code]

[2022-03-07 11:01] #6791 closed

[2022-03-07 12:47] pmrowla commented on #7434
Fixed in https://github.com/iterative/scmrepo/pull/32

see: https://github.com/iterative/dvc/pull/7435#issuecomment-1060640894

[2022-03-07 12:47] #7434 closed

[2022-03-07 20:58] dberenbaum commented on #4112
I think we could come up with consistent logic to deal with ambiguities here, so I think we should focus on whether the intuitiveness/convenience outweighs the ambiguity.

Can we assume any param that ends in `.yaml`, `.yml`, `.json`, `.toml`, or `.py` is a file path, and otherwise it's not? Is there a realistic scenario when this would be problematic?

Doesn't the use of `.` to specify nested key

[2022-03-08 01:04] lcc opened #7442 "Adding hooks with pre-commit tool not working."
# Bug Report

## install: using pre-commit to configure the DVC hooks returns an error

## Description

After configuring dvc hooks alongside pre-commit the following error is reported "error: pathspec 'master' did not match any file(s) known to git" when trying to commit the changes.

### Reproduce

Run

followed by

then add changes and run

After a while the command will fail with the previousl

[2022-03-08 05:57] jorgeorpinel commented on #2599
I don't exactly remember unfortunately, looks like I was only further suggesting a minor improvement to some error message. Assuming no one has had problems with this and since it's so old I think we can close it!

[2022-03-08 05:57] #2599 closed

[2022-03-08 07:31] #7442 closed

[2022-03-08 08:17] #7153 closed

[2022-03-08 09:56] skshetry commented on #4112
It's a weird restriction to not be able to track keys named `yaml`/`yml`/json`/`toml`/`py`. These file extensions are likely to expand in the future.

We don't support the keys with `.` at all. `.` is strictly a separator.

yes, DVC uses file extensions to determine the type and falls back to yaml parser which supports `json` and `yaml` contents.

Overloading the schema to track parameters in gran

[2022-03-08 16:28] dberenbaum commented on #4112
How will this work in CLI? `dvc stage add -p config.yaml:`? Will that cause any issues?

I think we can document that supported file extensions cannot be used as parameter keys.

So if we rely on file extensions, the breaking changes would be:
* Parameter keys like `yaml` or other file extensions are no longer supported.
* YAML/JSON parameter files can't use nonstandard extensions.

@skshetry Does

[2022-03-08 16:30] dberenbaum commented on #4658
@pmrowla Thanks! Can we add to #7093 and lower the priority for now since it's not likely something we can get to now?

[2022-03-08 16:58] dberenbaum opened #7444 "exp show/list: help text for -n"
From https://github.com/iterative/dvc.org/pull/3187#discussion_r821382100.

@karajan1001 @jorgeorpinel What is the suggested text now? I'm a bit lost with all the updates.

[2022-03-08 19:35] casperdcl opened #7445 "plots: --show-vega clarification"
[code]

This is counter-intuitive - why should changing output from HTML to JSON suddenly make the command fail? Proposed fixes:

- the [`--show-vega` docs](https://dvc.org/doc/command-reference/plots/diff#--show-vega) need to state that one `--targets <path>` is required since `vega` only supports one plot at a time
- the error message needs to say `--targets` not `target`

[2022-03-09 02:29] leetschau opened #7446 ""Name or service not known" when push to SSH remote"
# Bug Report

push: Name or service not known

## Description

When run `dvc push` to a SSH remote, the following error raised:

    ERROR: unexpected error - [Errno -2] Name or service not known

### Reproduce

1. dvc init
2. mkdir data
3. Copy dataset.zip to the data directory
4. dvc add data/dataset.zip
5. dvc remote add --default dataRepo ssh://leo@l0.162.2.83/cyberange/data/dvcRoot
6. dvc pus

[2022-03-09 09:43] #7154 closed

[2022-03-09 10:54] #7155 closed

[2022-03-09 11:14] TheBigTicket13 commented on #2754
@efiop DVC version which cause the problem was downloaded from [this page](https://dvc.org/) I choose _Windows_ option from download button. I don't have this version installed anymore, only the v2.7.3 which is working fine, so I think `dvc doctor` will not helpful

[2022-03-09 11:31] weidenka opened #7447 "dvc cache: files missing in shared cache"
# Bug Report

## Description
I try to run `dvc repro` and get an error which is caused by some missing file in the cache. The stage were calculated on a different machine before and I expect it to be cached. The cache directory is stored on an NFS share. I had this error before and created a new cache, now with the exact same issue.

File permissions in the cache are `drwxrwxr-x` for directories a

[2022-03-09 13:31] dberenbaum commented on #7444
@jorgeorpinel Do you think the "first-parent" stuff in the description is too much detail/too technical for the CLI help? Also, do you think we need to reference Git somewhere in the docs when mentioning it?

No need to block any PR for these questions. We can always tweak language in future PRs.

[2022-03-09 13:35] dberenbaum commented on #7444
Also should include `remove`, `push`, and `pull`.

[2022-03-09 14:12] dberenbaum opened #7448 "`exp push/pull`: QA"
Some issues with `exp push/pull`:

1. Message is `no experiments to pull` even when doing push:

[code]

2. When push/pulling an already pushed/pulled experiment, it still shows as having been pushed/pulled again:

[code]

3. If any commit is missing version info, an unexpected warning is shown.

Repro script:

[code]

Output warning (irrelevant output excluded):

[code]

Might be related to #6592

[2022-03-09 14:25] dberenbaum opened #7449 "exp remove: show removed experiments"
`exp remove` succeeds silently. By default, it should show the experiments that were removed (`-q` can be passed to get current behavior).

[2022-03-09 14:27] dberenbaum commented on #6474
Related to #7449.

I think the best option for this feature is to include a `--dry` option to see what will be removed.

[2022-03-09 14:34] karajan1001 commented on #7447
Hi, @weidenka Could you please provide some more info `dvc status --cloud` on the original computer side.

[2022-03-09 16:24] dtrifiro commented on #7414
Small update: by forcing a timeout value (60) to fsspec's sync wrapper in `asyn.py`:
[code]

one gets the following traceback when the hang happens:

[code]

[full traceback](https://github.com/iterative/dvc/files/8216355/full_traceback_7414.txt)

[2022-03-09 16:48] dtrifiro commented on #7429
Hi @fnareoh, were you able to solve the issue? I see that you use snap on Manjaro. In case this helps, an (unofficial) AUR package is available here: https://aur.archlinux.org/packages/dvc

[2022-03-09 16:49] dberenbaum commented on #7001
@karajan1001 What's the status of this issue and #7004 ?

[2022-03-09 16:51] dtrifiro commented on #7446
Hi @leetschau, are you sure the remote is correct?

```dvc remote add --default dataRepo ssh://leo@l0.162.2.83/cyberange/data/dvcRoot```

if that's supposed to be an IP address, the first character is not a `1`

[2022-03-09 21:27] dmpetrov commented on #6485
I'm trying to aggregate our discussions here and in person to action points:
1. **[Must-have]** `dvc export` that should upload a local file to a cloud and preserve a link (.dvc file) similar to result of  `dvc import-url`.
2. **[Nice-to-have]** `dvc put-url`. It is not a part of use cases (see below) but something like this needs to work under the hood of `dvc export` anyway. And it might be hand

[2022-03-09 21:31] fnareoh commented on #7429
Hi ! very  for not answering earlier and thank you very much for responding.

Yes it is fixed with a fresh install of the AUR repository! Very sorry for bothering you!

[2022-03-09 21:36] #7429 closed

[2022-03-09 23:01] jorgeorpinel commented on #7444
In docs we went with your [last suggestion](https://github.com/iterative/dvc.org/pull/3187#pullrequestreview-903319359):

[code]

I think it's important for the `-n -x` case because the tree can be long and not all parents are included. Unless you phrase it differently e.g. "negative number goes back to the git history root". Up to you.

[2022-03-10 00:10] shcheklein commented on #6485
@dmpetrov

Could you please clarify this please:

"It should work now if the Uploading part is based on `import-url`" - just expand on this a bit. I'm not sure I understand what direction files go when you do `dvc update`

-----------

My initial reaction is that `aws s3 cp file s3://path && dvc import-url s3://path file` semantics doesn't deserve a global `dvc export` command to be honest. It sti

[2022-03-10 03:03] itcarroll commented on #4477
Does the new(-ish) [recommendation](https://developers.google.com/drive/api/v2/about-auth#migrate_an_existing_app_to_a_recommended_scope) for migrating to drive.file scope allow you to re-open? (I can't actually tell if drive.file scope is newer than this issue.)

[2022-03-10 03:29] dmpetrov commented on #6485
`dvc update` re-downloads file. What I mean - a regular `dvc update out/model.h5.dvc` will work just fine if the result of `dvc export` is the same as `dvc import-url` (in contrast to external outputs when you need to re-run pipeline).

The logic is:
- `dvc import-url` - downloading an external file
- `dvc export` - uploading a file to an external storage
- `dvc update` - updating/re-downloading a

[2022-03-10 03:58] shcheklein commented on #6485
that's exactly the sign that we are mixing the semantics

not necessarily btw, `dvc add --external s3://mybucket/existing-data` works (at least it worked before)

Yep, I understand. It's not so much about redundancy of a command, it's more about the semantics still. It confuses me a bit that export internally does import.

For example, we can make `dvc export` that creates a .dvc file with a singl

[2022-03-10 04:13] shcheklein commented on #4477
@itcarroll thanks! DVC needs full access to a directory - read and write files into it. Would this scope work for this?

Also, when you give access to DVC it means you are giving access to the DVC installed on your machine - these keys are saved to your disk, they are not shared with anyone outside. Do you feel this is still problematic for you?

[2022-03-10 04:32] dmpetrov commented on #6485
This looks like the direction of `upload` is your major concern. Is it correct?

It means the upload is happening as a result of `dvc export`. It is decoupled from training and you suppose to re-upload the file by dvc commands. In this case, changing the direction of `dvc update` might be a better choice from workflow point of view.

[2022-03-10 04:34] itcarroll commented on #4477
Just based on reading the documentation, drive.file scope will let you read/write any files/folders created by the client. And the Google Picker API will let you add additional files/folders to the authorized list. In the workflow I'm imagining, you need the Picker once to authorize abc123 from argument gdrive://abc123. As long as I use the same client, everything in that folder would have been cr

[2022-03-10 05:18] jorgeorpinel opened #7451 "`exp run`: clarify `--rev` help output"
... the [CLI output](https://github.com/iterative/dvc/blob/main/dvc/commands/experiments/run.py#L69-L72) `Continue the specified checkpoint experiment` isn't as clear as [the docs](https://dvc.org/doc/command-reference/exp/run#-r) `continue an experiment from a specific checkpoint`.

You don't need `--rev` to **resume** a checkpoint experiment, you need it to specify from which checkpoint to resum

[2022-03-10 07:11] leetschau commented on #7446
Sorry, my bad:

`l0.162.2.83` in `dvc remote add` should be `10.162.2.83`.

[2022-03-10 07:11] #7446 closed

[2022-03-10 07:15] grutledge007 opened #7452 "repro: PATH corrupted when running dvc repro"
# Bug Report

## Description

dvc repro fails on very simple commands that run fine from the command line due to a PATH corruption.

### Reproduce

1. echo $PATH
2. create a stage called test in your dvc.yaml file with cmd: echo $PATH
3. dvc repro test
4. compare the output from 1 and 3 and observe that all (or most) of the paths in 1 are removed in 3

### Expected

Expected the output of echo $PA

[2022-03-10 08:03] MvkZ opened #7453 "DVC get multiple files/directories in a single shot"
Normally `DVC get` works like the following:

[code]

Consider, there are more model files, say model_1.pkl, model_2.pkl,.... model_n.pkl and I'm in need of only selecting certain models from these for various projects.

It would be great if I can get these models using a command like,

[code]

the above command can pull 3 models in a single run.

or We can also try something similar to the `pytho

[2022-03-10 08:05] MvkZ commented on #7453
@karajan1001

[2022-03-10 09:11] #7444 closed

[2022-03-10 09:50] dtrifiro commented on #7421
Hi @atekoa, are you still experiencing the issue?

[2022-03-10 10:15] atekoa commented on #7421
Yes, we have downloaded the DVC code to test the code and understand what might be going on.
We will upload the code shortly, we are waiting for the OK from the bosses to avoid problems.

[2022-03-10 13:05] MvkZ commented on #7453
@rajeshramesh38

[2022-03-10 13:35] karajan1001 commented on #7452
Can not reproduce on my side.
[code]

Could you please try: `where echo` and `dvc run -n test  "where echo "` and paste the output here?

[2022-03-10 17:40] mipo57 opened #7454 "dvc import: Cannot import file generated by foreach loop"
# Bug Report

## dvc import: Cannot import file generated by foreach loop

Hi, I have 2 projects that use DVC
- wiki34 <-- this repo contains dataset generation code
- experiments <-- this repo contains code that runs experiments

I try to import one of the files generated in wiki34 repo to experiments repo
[code]
However, I get
[code]

The file is generated in wiki34 with following pipeline:
[cod

[2022-03-10 17:58] grutledge007 commented on #7452
Here is the result of
[code]
/usr/bin/echo

Here is the result of
[code]
/usr/bin/echo

Just so you know, if I use snap to change back and forth between DVC 2.8.1 and DVC 2.9.5 using snap, the problem consistently happens in 2.9.5 and consistently does NOT happen in 2.8.1.

Let me know if I can provide any more information, and thanks for your help!

[2022-03-10 19:41] shcheklein commented on #4477
Including files written by a different person into the same location? We need to do some experiments I think.

@itcarroll it should not (and it's not that easy to make a mistake like this- this would require some code, etc), it's a good point though, better scoped credentials are safer and should be considered as a best practice. Even it's not DVC, those credentials might leak, etc.

One more thin

[2022-03-11 00:42] gregstarr commented on #5641
Hello,

I am having this issue still. When I check the pack directories, one is empty and one has files in it:

[code]

Below is the debug output:
[code]

[2022-03-11 06:13] karajan1001 commented on #7454
@mipo57  Thanks for your report, as well as the analysis.

[2022-03-11 06:44] pmrowla commented on #7454
Probably a duplicate of https://github.com/iterative/dvc/issues/7307

[2022-03-11 11:04] karajan1001 commented on #7452
In [snap] https://en.wikipedia.org/wiki/Snap_(package_manager),  `Snaps are self-contained applications running in a sandbox with mediated access to the host system.` I guess the $PATH you meet inside `dvc run` is from the sandbox.

[2022-03-11 11:31] skshetry commented on #4112
We currently don't have a way of tracking directory in `dvc.lock` as it only supports a key-value pair of `filename:tracked_params`, and all of those are arbitrary. We don't have support for additional/formal metadata there.
So I am not going to consider that here.

---

Regarding the syntax, I am going with the (1) option, i.e. using `null`, as it is simpler and closer to the implementation. We c

[2022-03-11 11:45] skshetry commented on #4112
The current implementation along with `exp init` can be tested through #7413 PR.

[2022-03-11 14:22] dberenbaum commented on #5913
Closing this in favor of #4746, but feel free to reopen if there's any other aspects you want to keep discussing.

[2022-03-11 14:22] #5913 closed

[2022-03-11 14:23] dberenbaum commented on #4746
@pmrowla Now that checkpoint experiments have been implemented for awhile, what is the level of effort to add this?

[2022-03-11 14:35] christian-steinmeyer commented on #4746
Just to clarify: When using the proposed `--ignore-missing` flag, warnings about missing files would still be printed, right?

If so, I'd propose to also make this option configurable as per config file, e.g.:
[code]

[2022-03-11 18:39] grutledge007 commented on #7452
So are you saying this is a problem with snap and not DVC?  I followed the directions on the DVC website which suggested installing DVC with SNAP.  It seems strange that 2.8.1 works fine as a snap install but 2.9.5 does not.  Do you suggest installing DVC with an alternate method?  Is there someone else out there running LINUX with snap install of DVC that can replicate the behavior I am seeing?

[2022-03-11 21:14] dberenbaum commented on #6485
@dmpetrov I think it makes sense. However, I think the "Storage to local" scenarios are a little convoluted.

If model updates are happening external to user code and saved in the cloud, or the user already has a model in the cloud saved previously by their code, `import-url` makes sense.

If instead they are using dvc to track a model that their user code saves in the cloud, `import-url` seems aw

[2022-03-11 21:26] dmpetrov commented on #6485
Right. This does not look like a core scenario.

Just to make it clear - **Storage to local** covers use cases when a model was created from outside of a repository. Examples: user imports an external model to use GitOps/Model-Registry functionality, importing a pre-trained model or existing dataset.

[2022-03-11 21:37] dberenbaum commented on #6485
In your earlier comment, you seemed to indicate that the scope was broader:

Are we now limiting it to cases where the model was updated by an external tool?

[2022-03-12 08:42] karajan1001 commented on #5641
@pmrowla , sorry, I don't have two computers to simulate this condition. Any ideas about it?

[2022-03-13 14:18] alanbuxton commented on #2397
@efiop yes makes sense. Apols for getting wrong end of the stick.

[2022-03-14 06:18] pmrowla commented on #5641
There's new calls which have been implemented in pygit2 since this issue was originally closed, we likely just need to add the wrapper to free the handles in the new calls.

[2022-03-14 07:40] karajan1001 opened #7458 "exp run: cannot clean up temp directory runs on Linux + NFS"
Hello,

I am having this issue still. When I check the pack directories, one is empty and one has files in it:

[code]

Below is the debug output:
[code]

_Originally posted by @gregstarr in https://github.com/iterative/dvc/issues/5641#issuecomment-1064656886_

[2022-03-14 07:46] pmrowla commented on #7458
I looked into this some more and it's probably not a straightforward fix. scmrepo will need some updates to make the behavior safer when we are using mixed git backends.

[2022-03-14 08:27] karajan1001 commented on #7452
I just can not reproduce it

[code]

[2022-03-14 12:44] cokecuevas-gg opened #7459 "Incremental update"
Add the feature incremental update which able to add or delete images without downloading the entire dataset.
This feature would be very useful for entire large dataset and it will save time and space during the updating process.

[2022-03-14 14:26] #7459 closed

[2022-03-14 15:20] Lubricy opened #7461 "add: --external unexpected error: FileNotFoundError in MemoryFS"
# Bug Report

add: --external unexpected error: FileNotFoundError in MemoryFS

## Description

`dvc add --external` with s3 cache and s3 external throws error.

[code]

### Reproduce

[code]
### Expected

command run successfully with external file added.

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

a little debugging around suggests the

[2022-03-14 15:47] gregstarr commented on #7458
Thanks for the response. Can you think of any temporary workaround for me to use?

[2022-03-14 17:43] dberenbaum commented on #7318
Opened https://github.com/iterative/dvc.org/issues/3354 for this.

[2022-03-14 17:46] dberenbaum commented on #7395
@pmrowla Any thoughts on this issue?

[2022-03-14 19:04] sjawhar opened #7462 "pull: pull all parameterized stages (`--group`)"
We use parametrized stages in our repos a _lot_ (`foreach`/`do`). It's a hassle to have to `dvc pull stage@parameter` for each parameter. It would be great if we could add a `--group` flag to `fetch`, `pull`, and `checkout` that would run for all parametrized versions of that stage. I thought `--glob` would do this, but after digging into the code I can see that's not what we want.

I called it `-

[2022-03-14 19:22] grutledge007 commented on #7452
Thanks for trying to reproduce this bug.  I think maybe the reason you cannot is that you are running a different command than me - ie you are using dvc run whereas I am using dvc repro.  I did some more digging and uncovered something interesting.

I first confirmed that the PATH was set correctly in the SNAP sandbox by running
[code]
which confirmed that PATH was correctly set to
[code]
with my

[2022-03-15 02:49] pallavi176 opened #7465 "ERROR: unexpected error - 'NoneType' object has no attribute 'flush'"
# Bug Report

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`:**

[code]

**Additional Information (if any):**

[2022-03-15 04:51] SiriusBHU opened #7466 "GBK charactor encoding error"
# Bug Report

## GBK charactor encoding error, when 'dvc pull'
UnicodeEncodeError: 'latin-1' codec can't encode character '\u6b23' in position 248: ordinal not in range(256)

## Description

when i use 'dvc pull' on linux, the pushed files with chinese charactors can not be encoded
Example:  欣_EDA_20210812165116 -> \u6b23_EDA_20210812165116, the '\u6b23' encoding error
By the way, those files are

[2022-03-15 09:09] pmrowla commented on #7466
Your system locale is most likely set to `latin-1`, which is an encoding that cannot display CJK characters. You need to set your locale (`LANG` env var) to use an encoding that supports those characters (like one of the `utf-8` based locales)

see also: https://github.com/iterative/dvc/issues/5591#issuecomment-816866732

[2022-03-15 10:27] pmrowla commented on #7395
It's not clear right now what would be causing the difference in behavior between `get` and `fetch/pull` (other than the ThreadPoolExecutor PR which does not resolve the issue). It will probably take some more time to debug this.

[2022-03-15 10:32] karajan1001 commented on #7452
Looking into the `dvc.yaml`, I found that this is because during the running of `dvc run -n test "echo $PATH"` , `$PATH` was parsed into a string.`dvc exp run` will leave it unchanged, while `dvc run -n test --force` can update it.

[code]

If you want to keep sync with local env you could use
[code]

[2022-03-15 11:36] karajan1001 commented on #7462
For the target of `dvc pull` it can accept output file as argument. And if there were already these files in your workspace ( you want to update instead of newly downloaded)  you can use a wild match pattern to match them.

[2022-03-15 11:39] karajan1001 commented on #7465
Could you please provide some more details?
the output of `dvc doctor -vv` and which version what platform are you on.

[2022-03-15 12:43] karajan1001 commented on #7458
Returning back to a previous version might work, but #5641 was solved long time ago, not recommend to roll back to such a old version

[2022-03-15 13:01] SiriusBHU commented on #7466
i try the advice mentioned in [#5591](https://github.com/iterative/dvc/issues/5591#issuecomment-816866732), and I don't get this error.
thanks a lot

[2022-03-15 13:01] #7466 closed

[2022-03-15 14:11] gregstarr commented on #7458
Is this bug caused by a change in a dependency? Or by DVC development? Do you have an idea of which change caused the bug?

Would not using mixed git backends help?

[2022-03-15 14:18] pmrowla commented on #7458
There's not really a quick workaround for this issue right now, it's due to a lot of DVC changes that have been added in the last year since #5641 was addressed.

The short answer is "yes", but the long answer is "it's more complicated than that", as we need different functionality from each of the backends we use (since each backend does not support the same featureset).

Since this is a regressi

[2022-03-15 14:23] sjawhar commented on #7462
Yes, but the problem there is just as you stated: _**IF**_ you already have them in the workspace.

[2022-03-15 14:32] gregstarr commented on #7458
Ok gotcha. Is there anything I can do to help?

[2022-03-15 16:24] grutledge007 commented on #7452
Thanks for looking into this.  So that explains why
[code]
fixed the problem - ie it was evaluating $PATH in the shell that was calling dvc which we know is correct.

This still does not explain the original problem though.  If I manually create a dvc.yaml file with
[code]
and then run
[code]
I still get the wrong path.  Should the path echoed in this way not match the path that I call dvc from?

[2022-03-15 20:55] dberenbaum commented on #6527
@mattseddon Please comment if you have thoughts on this one.

[2022-03-15 20:57] gregstarr commented on #7458
I haven't tried any others, but it looks like at least `2.5.4` does not have this issue

[2022-03-15 23:40] gregstarr commented on #7458
`2.9.3` is the first version which has this issue, it also looks like this version updates `scmrepo`  from `0.0.4` to `0.0.7`

[2022-03-16 01:05] dberenbaum commented on #7462
Seems like I should know this 😅 , but would someone mind explaining why `--glob` cannot do this?

[2022-03-16 02:05] sjawhar commented on #7462
`--glob` was implemented in #5032 to address #4816. It's about paths, which can be a bit confusing because `StageLoad.load_all()` also takes an optional `glob` argument, which does indeed glob match the stage names. :smile_cat:

[2022-03-16 02:08] karajan1001 commented on #7462
For glob, it only matches the targets.
[code]
And besides this a big limitation is mentioned before: `IF you already have them in the workspace.`

For example for a stage `train` output `model.pkl`
We have the following result.
[code]

[2022-03-16 02:21] karajan1001 commented on #7452
My result is that the `DVC` installed from `conda`'s PATH goes with your local environment and the `DVC` installed from `snap`'s PATH always follow's `snap`'s environment (environment from the sandbox).

[2022-03-16 02:27] karajan1001 commented on #7458
Thanks for your info.

[2022-03-16 02:32] grutledge007 commented on #7452
Thanks for your help

So I am confused.  Are you agreeing this is a bug?  Should the path seen by commands in the dvc.yaml when called with dvc repro/exp not be the same as the shell from which dvc was called?  I don't understand how dvc repro/exp could possibly work if the path is not maintained.  Why does this work in DVC 2.8.1 and not with DVC 2.9.5 (both installed with snap)?  Should we not be

[2022-03-16 03:10] karajan1001 commented on #7452
I think it is a new feature. We do not pay attention to the running environment in previous. And if we want to make the execution stable and consistent, of course, better management for env is required, maybe we should fix them in #7436.

[2022-03-16 04:18] pallavi176 commented on #7465
$ dvc doctor -vv
2022-03-16 09:46:31,907 TRACE: Namespace(cd='.', cmd='doctor', cprofile=False, cprofile_dump=None, func=<class 'dvc.commands.version.CmdVersion'>, instrument=False, instrument_open=False, pdb=False, quiet=0, verbose=2, version=None, viztracer=False, viztracer_depth=None, yappi=False)
DVC version: 2.9.5 (pip)
---------------------------------
Platform: Python 3.7.11 on Windows-10-1

[2022-03-16 04:24] pallavi176 commented on #7465
History of commands I executed on VSCode Terminal GitBash:
conda create -n basic_demo python=3.7 -y
conda activate basic_demo
pip install dvc
touch stage_01.py stage_02.py
python stage_01.py
python stage_02.py
git init
dvc init
touch dvc.yaml
dvc repro

=======================================================
The code I was working on is available at below link:
https://github.com/pallavi176/AIops_

[2022-03-16 07:13] #2215 closed

[2022-03-16 10:39] karelin commented on #2432
Thank you for DVC and its functioning on different platform. I'm also interested in DVC on OneDrive/SharePoint

[2022-03-16 12:51] pallavi176 commented on #7465
What is WSL? How can I use it?

[2022-03-16 13:22] dberenbaum commented on #7462
Hm, I was getting confused because of behavior without wildcards:

[code]

It seems without wildcards that `--glob` is matching everything. Is this expected?

[2022-03-16 13:24] skshetry commented on #7462
@dberenbaum, the last one is coming from your shell, you have to quote it to avoid wildcard expansion by the shell.

[2022-03-16 13:27] dberenbaum commented on #7462
Isn't the same true for the example from @karajan1001?

[2022-03-16 14:32] dberenbaum opened #7471 "exp: explain what's happening in the UI"
From https://discord.com/channels/485586884165107732/485596304961962003/953592613305479238:

The experiment commands sometimes take a long time without any output to the users. It would be helpful to provide more output to explain what's happening during exp commands.

[2022-03-16 16:56] grutledge007 commented on #7452
Thank you very much for this confirmation.

In my development environment I have been thinking of git and dvc as system tools that are installed once and used in every conda environment, whereas python and all the python packages are managed in conda environments since they can often vary between projects.   This approach does not work with DVC 2.9,5 since the virtual environment path is not inher

[2022-03-17 03:41] markf94 opened #7475 "poetry: dvc[s3] installation doesn't include boto3"
# Bug Report

## Description

When installing the newest `dvc=2.9.5` into a `poetry` environment the `boto3` package doesn't get installed which results in the `dvc push` command to error out.

### Reproduce

[code]
or
[code]

Then try to `dvc add` and `dvc push` something. It will result in the following error message:

[code]

Interestingly, when I run `pip install 'dvc[s3]'` it **does** install

[2022-03-17 04:03] markf94 commented on #7475
I've narrowed it down to commit 6034f0e since `poetry add dvc[s3]==2.9.2` still works.

[2022-03-17 04:14] pmrowla commented on #7475
Closing as duplicate of https://github.com/iterative/dvc/issues/7257

the actual issue here is a poetry bug (poetry's dependency resolver doesn't handle nested/recursive extras properly): https://github.com/python-poetry/poetry/issues/4683

[2022-03-17 04:14] #7475 closed

[2022-03-17 04:45] pallavi176 commented on #7465
Thanks, I will try. But why can't I use dvc on windows?

[2022-03-17 08:29] karajan1001 commented on #7462
I think so, we need to add a `"` to prevent it from being replaced by the shell.
[code]
So, @sjawhar . you can try this method `dvc pull stage@1_*`, I tried it on my computer and get the correct file downloaded.
[code]

[2022-03-17 13:55] dberenbaum commented on #7462
@karajan1001 I see that `repro --glob` works as expected, but `pull --glob` pulls more than expected unless I'm misunderstanding:

[code]

[2022-03-17 13:56] sjawhar commented on #7462
@karajan1001 that only _appears_ to work for you because it's in fact pulling _all_ stages. You can see this by setting a breakpoint here: https://github.com/iterative/dvc/blob/079714772cd471c3e3cea06912b7308b9eaf62cb/dvc/repo/pull.py#L32

No targets are matches, so `expanded_targets` is an empty list and everything gets pulled as a result:
![image](https://user-images.githubusercontent.com/507437

[2022-03-17 14:55] sjawhar commented on #7462
@dberenbaum  `repro` uses `StageLoad.collect()`, which uses `StageLoad.load_all()`. So it is indeed doing the type of globbing you (and I) would expect. `pull` instead calls that other `glob_targets` function, which globs on path. I'm not sure why a `--glob` option for paths is needed when the shell can do it for you?

[2022-03-17 16:08] skshetry commented on #7051
The issue is most likely a server issue, reducing `--jobs` might help. There's not much we can do here, unless we get more information that it is a client-side/dvc issue. Closing ...

[2022-03-17 16:29] RBMindee opened #7476 "Adding/Removing parameters with dvc exp run -S"
Hi all,

First I'd like to thank you for that awesome tool, which does marvel in our team.

I am not entirely sure if it is me misusing the tool or a missing feature, but I came across the following issue.

I have a params.yaml file, containing model configuration set as parameter in dvc.yaml stages. I can have two different types of configurations (this is a toy example).

[code]
During stage cre

[2022-03-17 17:04] rubenpraets commented on #7337
Hi @dtrifiro @daavoo, is there any progress on this? Is anyone working on it? Do you maybe know of a possible workaround until the problem can be fixed for good?

[2022-03-17 17:57] dberenbaum commented on #2877
Ping @skshetry

[2022-03-18 04:14] skshetry commented on #7069
Explicit is better than implicit here. I don’t like the idea of turning None/absence of values into `''`.

We may want to add a test so that we don’t regress this _feature_ in the future. Closing for now.

[2022-03-18 04:14] #7069 closed

[2022-03-18 10:57] dtrifiro commented on #7476
Hey, I'm not sure I understand the issue completely, so I'll make an example here:

Let's assume you have `params.yaml`:
[code]

then you can run an experiment with a different hidden parameter: `dvc exp run -S model.hidden=256`.

Assume now you want to add a parameter: you have to modify `params.yaml` adding the new parameter:
[code]
Don't forget to modify `dvc.yaml` by updating the `params` sess

[2022-03-18 11:54] RBMindee commented on #7476
Hi @dtrifiro and thank you for answering,
I'll make a more detailed example:
My code can handle two types of model, which take a different config. The first model is MLP1 and takes model.hidden. The second one is MLP2 and takes hidden1 and hidden 2. So I could have a `params.yaml` looking like this:
[code]
In my dvc.yaml, the parameter is the whole model block:
[code]
In principle, that works fine

[2022-03-18 12:00] zijie0 commented on #7161
We also met similar issue when accessing files in Minio gateway on HDFS. Do you have any workaround on this? @miscott @tirkarthi

[2022-03-18 12:24] RBMindee commented on #7476
Hi again, I found a perfect solution and honestly I am impressed, I was really not betting that DVC could handle that.

Here is the thing: My `params.yaml` now looks like this:
[code]
That way, all config coexist and that's considerably cleaner.

The trick was that  some of that config does nothing. For example, while model.type=MLP1 those to command do the same thing:
[code]
But there is the new

[2022-03-18 12:54] dberenbaum commented on #7334
A user reported this in https://discuss.dvc.org/t/dvc-experiments-multiple-branches-workflow/1124.

[2022-03-18 12:55] dtrifiro commented on #7476
Glad to hear! Closing the issue

[2022-03-18 12:55] #7476 closed

[2022-03-18 13:27] dtrifiro commented on #7465
It's related to the linked issue with the `tqdm` module, used by `dvc` to provide progress bar, which seems broken in gitbash. While we wait for the issue to be fixed upstream, the alternative is using WSL.

A workaround which does not involve using WSL would be trying to run dvc with the `--quiet`/`-q` flag. This will not print any output, but the command should complete succesfully.

[2022-03-18 14:09] pallavi176 commented on #7465
Thanks

[2022-03-18 17:50] timothylimyl commented on #4344
Hi, can confirm that this problem still exists.  I guess we can safeguard it on our code to ignore empty directories as for now, it does not seem that this is a priority.

[2022-03-19 11:20] casperdcl commented on #6823
Posting old message before it gets lost: upshot of auto-pull checkpoints, we need to

- `exp pull && exp apply`
- `exp run`: specify an experiment name first time.combut not when resuming

[code]

[2022-03-19 13:38] #7168 closed

[2022-03-21 04:43] johnyaku commented on #5172
Here is another upvote.

Either `matrix` or nested `foreach` would help me align the structure of the pipeline to the natural structure of the experiment.

Although I am fairly new to DVC, I keep running into limitations. I wonder if DVC might get more mileage by leveraging existing workflow systems (such as Snakemake and NextFlow) and focusing on what DVC does best, which is managing data version

[2022-03-21 08:02] #4112 closed

[2022-03-21 11:18] karajan1001 commented on #7448
1. is a UI problem.
2. Current we skip on those experiments which already existed on both sides, but do not exclude them from the result list. Another thing needs to be noticed is that if we have different experiment with the same name on both side, pulling/pushing them will stop the current progress and raise an exception, but didn't give any information on those experiments that had already been

[2022-03-21 17:03] jmaaks opened #7480 "dvc push: Kills MinIO"
# Bug Report

## dvc push: Kills MinIO

Attempting dvc push from within a Jupyter notebook in a Kubernetes custer to MinIO S3 causes the MinIO server process to be killed.

## Description

dvc push behaves similar to below, but causes MinIO server process to use increasing memory until it eventually exceeds the container/pod limit and is killed.  Adding the "-j 8" option at least prevents the serv

[2022-03-21 17:06] jmaaks commented on #7480
Just to be clear, "dvc remote modify minio jobs 32" provides a fix to this issue for our implementation.  I just wanted to report this behavior about DVC killing MinIO without that option, or at least the "-j n" command-line option being set.

[2022-03-21 19:34] dberenbaum opened #7481 "exp: remove mentions of resume"
There are outdated mentions of `dvc exp resume` in the help text:

[code]

[2022-03-22 01:41] gregstarr commented on #5800
Hello, when running experiments in parallel, I am finding that local cache settings are ignored.

I am using dvc 2.9.2.

when I am in my repo:
[code]

but when I cd to one of the temporary experiment directories:
[code]
I mentioned this on Discord and was told that this could be relevant to this issue.

[2022-03-22 02:22] timothylimyl opened #7484 "Track Data Cleaning (removal) is very slow with dvc add"
Hi,

When doing some data cleaning, we will delete some files from a bunch of files within a tracked folder.  Running `dvc diff` to see the difference between the local workspace in comparison to the last commit is super quick, results comes in **within a few seconds** which makes sense as dvc just had to look at the `data_folder.dvc` file, get the `.dir` hash, then check to see which file locatio

[2022-03-22 05:07] #7481 closed

[2022-03-22 09:13] #7449 closed

[2022-03-22 13:00] pared commented on #7462
Related #7323

[2022-03-22 15:14] alex000kim opened #7489 "Medo: Architecture Diagram Review"

[2022-03-22 15:14] #7489 closed

[2022-03-22 15:52] dberenbaum commented on #6823
One minor note: You should be able to use `dvc exp run -n $EXP_NAME` even when resuming experiments. It succeeds but generates a warning like `WARNING: Ignoring option '--name exp-c1734' for resumed experiment. Existing experiment name will be preserved instead.`

With that in mind, the workflow can be something like:
[code]

[2022-03-22 16:17] dberenbaum opened #7490 "exp: temp dir runs ignore `.dvc/config.local`"
Hello, when running experiments in parallel, I am finding that local cache settings are ignored.

I am using dvc 2.9.2.

when I am in my repo:
[code]

but when I cd to one of the temporary experiment directories:
[code]
I mentioned this on Discord and was told that this could be relevant to this issue.

_Originally posted by @gregstarr in https://github.com/iterative/dvc/issues/5800#issuecomment-1

[2022-03-22 16:20] dberenbaum commented on #7490
@pmrowla Any thoughts on how to handle this?

[2022-03-22 19:58] dberenbaum commented on #7462
@sjawhar We discussed this one, and you managed to find multiple issues with the globbing features, which need a lot of work 😅 .

Addressing a group should be handled automatically as part of #7323, so simply `dvc pull stage` should work. Please keep an eye there for changes to address your initial request 🙏 .

Globbing outputs generally should not depend on what is checked out in the workspace. O

[2022-03-22 20:07] dberenbaum opened #7491 "pull: glob should not depend on what's in the workspace"
`dvc pull --glob` globs against the local workspace, which generally isn't very helpful when pulling:

https://github.com/iterative/dvc/blob/81eee059950d6a154327e3b15912a84d4b93e178/dvc/repo/pull.py#L32

Ideally, `dvc pull --glob` should be globbing against the potential targets that could be pulled, including not only from `.dvc` files, but also pipeline outputs from `dvc.lock`.

[2022-03-22 20:09] dberenbaum commented on #7491
Related: #7462

[2022-03-22 20:25] dberenbaum opened #7492 "push/pull: globs that match no targets should fail"
When using `--glob` with `push` or `pull`, a glob that matches no targets will instead act on all targets. In other words, `dvc push/pull --glob 'nomatches*'` will be the same as `dvc push/pull/repro` without any target argument.

[code]

I would expect the commands to fail or push/pull nothing if there are no `--glob` matches.

[2022-03-22 20:27] dberenbaum commented on #7492
See https://github.com/iterative/dvc/issues/7462#issuecomment-1070954669

[2022-03-22 20:29] dberenbaum opened #7493 "glob: support other commands"
`--glob` support should be extended to:

- [ ] fetch
- [ ] checkout
- [ ] status
- [ ] import
- [ ] commit

[2022-03-22 23:02] SiftingSands opened #7494 "Init hang on NFS mount"
# Bug Report

## Description

I've got several TB of data on a NFS mount, and I want to test out DVC for version control on it. However, even 'dvc init -v' just hangs (waited several minutes) on an empty test folder without any feedback. I haven't tried to see if it eventually exits.

I saw this might be a related issue https://github.com/iterative/dvc/pull/6419, but I'm not sure that helps since

[2022-03-23 03:32] sjawhar commented on #7462
OK, so how about I start with a PR that addresses that checklist you posted in #7323? That would actually take care of my needs. Maybe this issue can be closed in favor of #7323 and #7491.

[2022-03-23 06:25] pmrowla commented on #7490
This is a known issue (duplicate of https://github.com/iterative/dvc/issues/7254)

Right now we generate our own `config.local` in the temp dir so that we can configure the cache directory to point to the correct location (and we don't propagate anything else from the parent repo's `config.local`)

[2022-03-23 06:43] #7462 closed

[2022-03-23 07:49] karajan1001 commented on #7494
Hi, @SiftingSands
Could you please provide some more details by running

And paste the file `init.prof` here?

[2022-03-23 12:37] dberenbaum opened #7496 "gc: have option to keep .dir files"
From https://discord.com/channels/485586884165107732/485596304961962003/956093681818034246:

datav1: start tracking image dataset, dataset source from blablabla
datav2: add new data from another dataset source to combine with current data collected from datav1
datav3: clean up all mislabels and blurry images, clean up the data cache for good in dvc via dvc gc --cloud -w

[2022-03-23 14:11] dberenbaum commented on #7490
Thanks @pmrowla! Closing as a duplicate.

[2022-03-23 14:11] #7490 closed

[2022-03-23 14:13] dberenbaum commented on #7462
@sjawhar I'm not sure yet what the plan is to address #7323, and it might require some higher-level changes. @skshetry Can you comment on whether there is anything @sjawhar can do to help?

[2022-03-23 15:19] palenge commented on #7421
Hi everyone, thanks for helping us.

testing a little bit about this issue we found out that works perfectly with job=1 . When you use the default Job value it gets a random error "session closed" and when this happens the rest of the files that needs to be downloaded gets the same error (the server stops receiving request from DVC),

the folders are 10 dvc folders with 400 files each.

We are usi

[2022-03-23 16:32] thunfischtoast commented on #7337
I'm working on a project that stores a very big DVC cache in S3.
Sometimes the connection will time out while
`Querying remote cache`, usually with a
`ERROR: unexpected error - Unable to locate credentials`

What might help is reducing the job count with the -j parameter or by pushing one stage at a time, but this of course is no reliable answer, sorry.

[2022-03-23 18:13] dtrifiro commented on #7421
Hi @palenge would you mind giving a try to [this PR](https://github.com/iterative/dvc/pull/7460) (https://github.com/iterative/dvc/pull/7460)?

[2022-03-23 19:06] palenge commented on #7421
Its working perfect with that PR.

I'm trying it a few more times to be sure that everything its working and to be honest it looks promising. Thank you guys!

[2022-03-23 19:13] dberenbaum commented on #7494
I'm playing around with dvc on nfs and can confirm that `dvc init` hangs for me, although it does complete in under a minute. The culprit looks to be the diskcache state database:

<img width="1001" alt="Screen Shot 2022-03-23 at 12 38 26 PM" src="https://user-images.githubusercontent.com/2308172/159774707-9f4251f9-8835-425c-966e-83606cfd7aa5.png">

A workaround is to globally apply the settings s

[2022-03-24 03:04] timothylimyl commented on #7496
Hi, my suggestion is to provide an argument to flag whether to save `.dir` files or not. I am in favor of `.dir` files being kept as default, open to discussion.

We have to definitely allow `dvc checkout/pull` even if there are missing files, a message can be provided when missing files are detected such as:
[code]

[2022-03-24 03:58] Guixudong commented on #2754
使用pip安装了2.8.3版本的dvc，运行dvc push报错，以下是错误日志：
2022-03-24 11:55:28,513 ERROR: unexpected error - No module named 'win32timezone'
------------------------------------------------------------
Traceback (most recent call last):
  File "dvc\output.py", line 855, in get_dir_cache
  File "dvc\objects\__init__.py", line 20, in check
  File "dvc\objects\db\base.py", line 175, in check
  File "dvc\objects\file.

[2022-03-24 04:34] skshetry commented on #7484
Hi @timothylimyl. Could you please share more details about the dvc repo? How many `.dvc` files do you have?

Also, could you please share `dvc doctor` output?

[2022-03-24 06:11] skshetry commented on #6126
This issue is open for almost a year now. The technical docs have not improved over time

Closing as I don't see much keeping this issue open.

[2022-03-24 06:11] #6126 closed

[2022-03-24 06:16] pmrowla commented on #7496
I'm confused as to the need for this, since when you use `dvc gc --cloud -w` in the first place, all of the files are also removed from the remote. Preserving the `.dir` file would only tell you that you have 5000 files that can no longer be pulled.

It seems like there may be some confusion between using `dvc gc` and `dvc gc --cloud` here. To remove data from your local cache, you use `dvc gc` (w

[2022-03-24 11:56] karajan1001 commented on #7448
In `scmrepo`, `check_diverged` is used to checks if it can be fast-forwarding.
https://github.com/iterative/scmrepo/blob/8fbc66c4f6c106786c598a08fe5c1df38083efa2/scmrepo/git/backend/dulwich/__init__.py#L528
So, actually we have no chance to get into
https://github.com/iterative/dvc/blob/81eee059950d6a154327e3b15912a84d4b93e178/dvc/repo/experiments/push.py#L76-L77.
@peter  need to do some updations

[2022-03-24 12:56] dberenbaum commented on #7496
@pmrowla That was also my initial reaction, but I think it makes sense in the use case presented above:

They may still want to pull the intersection of `datav3` and either `datav1`/`datav2`. By keeping the `.dir` files from `datav1`/`datav2`, they could pull whatever files remain. Although the pull would "fail," it should retrieve all the files that still exist in the intersection of that data an

[2022-03-24 13:41] dberenbaum commented on #7448
Thanks @karajan1001. I guess I overlooked your other point:

It would be nice to keep going, push/pull all the experiments it can, and then report back which ones were successful in addition to the errors for those that failed.

[2022-03-24 14:16] abhishekPurandare-obs opened #7498 "Getting OpenSSL error: failed to load certificates: error:00000000:lib(0):func(0):reason(0)"
I have installed DVC using
`pip install dvc[s3] boto3`

I was able to use CLI, and did some basic pulling and pushing on my datasets. However, when I wanted to use the Python API. I have been getting some SSL certificates not found errors from pygit.

### Code
[code]

### Output

[code]

### dvc doctor

[code]

[2022-03-24 18:07] daavoo commented on #7421
Closing

[2022-03-24 20:30] SiftingSands commented on #7494
@dberenbaum Thanks for the detailed response. Switching the state and index dir to a non-NFS location fixed the issue with init hanging.

Out of curiosity, I tried to switch those two directories to be on the NFS mount after init succeeded. However, `dvc add` would then hang.

 I wanted to test out more than just `init` before responding, and things seem to be going as expected. However, I haven't

[2022-03-24 20:30] #7494 closed

[2022-03-24 22:22] achimgaedke commented on #7274
`dulwich` 0.20.33 was released, this issue can be closed.

[2022-03-25 06:43] #7274 closed

[2022-03-25 08:36] nsorros commented on #6870
I faced the same error and was able to reproduce it even without the cache change. My steps are

[code]

then to replicate the problem
[code]

[2022-03-25 11:29] casperdcl commented on #7465
Should be fixed now by https://github.com/tqdm/tqdm/pull/1248/ but opened a follow-up PR #7503 just in case :)

[2022-03-25 11:29] #7465 closed

[2022-03-25 11:56] #7288 closed

[2022-03-25 15:37] skshetry commented on #7498
@abhishekPurandare-obs, can you try updating `pygit2` and see if it fixes the issue? Thanks.

[code]

[2022-03-26 11:31] Guixudong opened #7505 "Unable to update data to dvc"
My dvc version is 2.8.3 ,when I pushed my data to remote,I got an error:No module named 'win32timezone'

Trace back:

[code]

I am waiting for your reply!

[2022-03-27 01:13] #7231 closed

[2022-03-27 09:00] tshu-w opened #7506 "push: cannot parse ssh config with match"
# Bug Report

## push: cannot parse ssh config with `match`

## Description

If my ssh config have a `match` section like https://github.com/tshu-w/dotfiles/blob/main/runcom/dot-ssh/config#L19, dvc push complain `Invalid match condition`

### Reproduce

1. dvc init
2. touch test.yaml
3. dvc add test.yaml
4. set dvc ssh remote
5. dvc push

### Expected

dvc push correctly.

### Environment informat

[2022-03-28 02:59] timothylimyl commented on #7496
@pmrowla , my point was to provide an option to keep the `.dir` files in local/remote while deleting everything else that is unnecessary from both local and remote (`--cloud -w`).  If we only do `gc -w` then the remote will still contain all of the unnecessary files that is taking up our space.

The important feature is to allow us to pull whatever files remain as mentioned by @dberenbaum.  My cur

[2022-03-28 03:00] timothylimyl commented on #7484
hi @skshetry , the dvc repo is like this:
[code]

I am tracking `data_segmentation`,  I will do `dvc add data_segmentation`.  My test, I go into a folder and delete 4 images then I will do `dvc add data_segmentation`. It starts looking through every file and update takes very long (actually more than 5minutes)!

My intuition is that the `.dir` can easily check what is missing and update a new `.di

[2022-03-28 03:19] skshetry commented on #7506
@tshu-w, we use `sshfs` which in turn uses `asyncssh` to parse the config. [It looks like it only supports limited match types, and `exec` is not one of them](https://github.com/ronf/asyncssh/blob/700fae09254669b13f2a09c9045210db2f5a419f/asyncssh/config.py#L420-L432).

Please open an issue upstream in `asyncssh` for support. Related issue: https://github.com/ronf/asyncssh/issues/279

Thanks.

[2022-03-28 03:22] skshetry commented on #7484
@timothylimyl, can you please share output of `python -m dvc.repo.index`?

Also, would you be able to share some profiling data? Here's how you can do that:
[code]

This will generate a file in the format of `callgrind.dvc-XXX.out` which you can share here. See [wiki](https://github.com/iterative/dvc/wiki/Debugging,-Profiling-and-Benchmarking-DVC#generating-callgrind-data-with-yappi) for more deta

[2022-03-28 04:03] timothylimyl commented on #7484
Thanks for the fast reply, I actually tested with adding some images too (added like 5 images) and then run `dvc add data_segmentation`.

Output of `dvc.repo.index` after running `dvc add`:
[code]

Then running `dvc add --yappi data_segmentation`, provides the attached file.
[callgrind.dvc-20220328_115150.txt](https://github.com/iterative/dvc/files/8359559/callgrind.dvc-20220328_115150.txt)

[2022-03-28 05:39] skshetry commented on #7484
Thanks for the profiling data. It shows that the slowest part is the [`checkout`](https://github.com/iterative/dvc/blob/d09d39538a14dfecad877cdb8d2b40768510bf3b/dvc/output.py#L596-L604) done during `stage.commit()` which is 97.5% of the total runtime.

https://github.com/iterative/dvc/blob/d09d39538a14dfecad877cdb8d2b40768510bf3b/dvc/output.py#L596-L604

There are 3,382 files in that directory.

H

[2022-03-28 06:12] pmrowla commented on #7458
@gregstarr can you please test the linked PR and see if it resolves your issue? To test it you will need to set up a new virtualenv and then install DVC + the PR version of scmrepo via pip:

[code]

[2022-03-28 06:20] #7414 closed

[2022-03-28 06:20] #7421 closed

[2022-03-28 06:27] timothylimyl commented on #7484
hi @skshetry , thank you for debugging. Pardon my ignorance, but what can I do and how do I check whether is my system using reflink or copy?

[2022-03-28 07:54] tshu-w commented on #7506
@skshetry Ok, I will report upstream when I have time. Feel free to close this issue.

[2022-03-28 08:06] #7506 closed

[2022-03-28 10:00] skshetry commented on #7484
@timothylimyl, given that DVC always tries to reflink first, there's not a good workaround.

`dvc doctor` has a `Cache types` output that shows whether the system supports reflink or not. From what I see above, your filesystem does not support reflink.

Btrfs, XFS, APFS are few filesystems that support them, and are efficient as they are copy-on-write links.

[2022-03-28 10:03] skshetry commented on #7505
@Guixudong, can you please share output from `dvc doctor`?

[2022-03-28 10:29] karajan1001 commented on #7448
That's also what I suggested. ignore the confusion during the progress and report the failure after the whole progress.

[2022-03-28 12:20] emilijapur opened #7510 "dvc push in a project with multiple users"
# Bug Report

## dvc push:  failed to push data to the cloud

## Description

Hello, I stumbled into a problem that when multiple people work in the same project and they run different experiments on their computer sometimes dvc generates directories in  .dvc/cache  with the same name as it already exists in dvc remote server. Thus, if a user wants to push data after dvc run it can not be done, be

[2022-03-28 14:03] #7257 closed

[2022-03-28 17:34] #6944 closed

[2022-03-28 18:55] gregstarr commented on #7458
Yes I believe I can get to this today.

[2022-03-29 03:46] timothylimyl commented on #7484
is it possible to download reflink/new filesystems?

[2022-03-29 10:35] #7130 closed

[2022-03-29 12:31] skshetry commented on #7480
Hi, the correct approach is to limit jobs by using config. Closing, thanks.

[2022-03-29 12:31] #7480 closed

[2022-03-29 13:33] jmaaks commented on #7480
Hi @skshetry  -- Thanks, but a question about my comment clarification: Yes, the correct approach is to limit jobs by using config, but why doesn't limiting jobs on the command-line also work (and only just changes the behavior slightly)?  That strikes me as a subtle bug.

[2022-03-29 15:48] gregstarr commented on #7458
@pmrowla Is there a specific version of dvc and scmrepo I should be using? I notice that dvc main requires scmrepo 0.0.14. When I install scmrepo with the command you sent, it installs scmrepo 0.0.13 and pip complains because my version of dvc (2.9.5) requires 0.0.7. I'm pretty sure it didn't mess up the installation of scmrepo but I just wanted to check.

[2022-03-29 16:24] gregstarr commented on #7458
pip list:
[code]

Yes I think this worked:
[code]

[2022-03-30 01:15] pmrowla commented on #7458
Your version of DVC has a pinned scmrepo version of 0.0.7, but as you noted pip will still allow you to force installation of the more recent scmrepo manually.

Thanks, this fix should be available soon then

[2022-03-30 04:55] #7458 closed

[2022-03-30 08:29] skshetry commented on #7498
@abhishekPurandare-obs, which distro/OS are you on? Did you try updating the packages installed, especially `ca-certificates`?

[2022-03-30 08:38] abhishekPurandare-obs commented on #7498
It's ubuntu 20.04.
My ` /usr/local/share/ca-certificates/` is empty. I was not aware of this. Can you share some links that show how to update the certificates?

[2022-03-30 09:35] pmrowla commented on #7498
@abhishekPurandare-obs have you run
[code]

[2022-03-30 09:37] abhishekPurandare-obs commented on #7498
Yes.
Did both
```sudo update-ca-certificates```
and
```sudo apt-get install ca-certificates```

[2022-03-30 09:49] dtrifiro commented on #7498
`ca-certificate` is installed by default on 20.04, the path is `/usr/share/ca-certificates` though (and contains a `mozilla` directory where all the certificates are stored)

[2022-03-30 10:26] abhishekPurandare-obs commented on #7498
Okay. Which version of pygit2 are you using?

[2022-03-30 10:30] dtrifiro commented on #7498
`pygit2==1.9.1`
I just installed from `pip`: `pip install 'dvc[s3]==2.9.5'` on ubuntu 20.04

[2022-03-30 10:34] skshetry commented on #7498
@abhishekPurandare-obs, do you have `SSL_CERT_DIR` or `SSL_CERT_FILE` environment variables set?

[2022-03-30 10:41] abhishekPurandare-obs commented on #7498
Not set. Do you know how to set these env vars?

[2022-03-30 10:46] skshetry commented on #7498
Also, please don't forget to `update`:
[code]

[2022-03-30 10:50] abhishekPurandare-obs commented on #7498
I just reinstalled `dvc[s3]==2.1.0` and now the error is gone.

[2022-03-30 10:50] #7498 closed

[2022-03-30 12:29] osma commented on #755
@tweddielin said above:

I second this 100%! DVC is amazing, but the lack of parallel execution of pipeline stages is disappointing. I'm working on a machine with many cores and it would be much more efficient to be able to use something like `make -j8`.

I've tried some workarounds. It seems to be possible to run individual stages in parallel, using `dvc repro -s <stagename>`, as long as you don'

[2022-03-30 16:05] dberenbaum commented on #7001
What about including a value for `Experiment` in each checkpoint row? That would go a long way towards making the csv easier to understand and use. For example, you could reorder the csv and still easily see which checkpoints belong to which experiments.

<pre>
$ dvc exp show --csv
Experiment,rev,typ,Created,parent,step,loss,acc,seed,lr,weight_decay,data/MNIST,train.py
,workspace,baseline,,,4,0.24

[2022-03-30 16:09] dberenbaum commented on #7001
If it's not straightforward to add any of this (it doesn't look like adding experiment names to each checkpoint row is something provided directly by the internal or json data structure), we can mark this as p2 and move on to other priorities.

[2022-03-31 04:37] jorgeorpinel opened #7522 "`repro`: rename `--dry` to `--no-exec`"
\- @dberenbaum

`repro` is not a read-only command in that sense. So should its `--dry` option be renamed `--no-exec` then? Consistent with `run` and `import(-url)`

_Originally posted by @jorgeorpinel in https://github.com/iterative/dvc.org/pull/3345#discussion_r839141714_

[2022-03-31 05:29] pmrowla commented on #7522
`repro --dry` is read-only though?

`run --no-exec` and `import --no-exec` are not read-only because they still make changes to the repo state (even with `--no-exec` the commands still write changes to `dvc.yaml` and `.dvc` files)

[2022-03-31 05:30] pmrowla commented on #7522
I think @dberenbaum's original point was that we use `--dry` when it makes the command read-only (not when the original command itself is always read-only)

[2022-03-31 05:41] jorgeorpinel opened #7525 "dvc: regroup all command options/flags [quality]"
As suggested in https://github.com/iterative/dvc.org/pull/3345 and implemented for `run`, `repro`, and `stage add` in https://github.com/iterative/dvc/pull/7524, we could come up with a logical way to present options/flags. The criteria we came up with so far is basically:

1. Put general/misc. short options/flags first (with `-hqv`)
2. Make groups of args based on functionality e.g. `stage add -d

[2022-03-31 05:41] jorgeorpinel commented on #7525
Cc @dberenbaum @omesser

[2022-03-31 06:18] jorgeorpinel commented on #7522
Ah. I think you're right. `repro --dry` is read-only indeed. For consistency I'd still recommend `--no-exec` but thinking about it, `--dry` is quite different since it prints a summary of what would happen, unlike `run/import --no-exec`. OK you win again @pmrowla

[2022-03-31 06:18] #7522 closed

[2022-03-31 08:16] dtrifiro commented on #7337
Hi @rubenpraets, sorry for getting back to you so late. I've had a look at the issue, and I think it might be related to the way that the azure python sdk (used by `adlfs`) uses `aiohttp`, but I see no easy way to test for a solution (I would try lowering the `socket_timeout` aiohttp kwarg and maybe adding `enable_cleanup_closed=True` as in #7460).

I found a related issue here (https://github.com

[2022-03-31 09:00] rubenpraets commented on #7337
@dtrifiro Thanks for the pointers, I will look into them shortly. Even though the error might be caused by underlying libraries, I do want to stress that your heuristic for choosing between querying via object_exists or traverse seems to be off as well, at least for azure. It seems like in this specific situation object_exists is many times faster than traverse (which is chosen here), which indire

[2022-03-31 10:12] brmanuel opened #7530 "dvc status -c: reports files as new even though they exist in both .dvc/cache and the s3 remote"
# Bug Report

## dvc status -c: reports files as new even though they exist in both .dvc/cache and the s3 remote

## Description

I'm running my pipelines and push the new out files to a remote S3 bucket.
Running `dvc status -c` I observe that many, but not all, of the created outs are reported as `new`, i.e. not on the S3 bucket
I look up the md5 hash of one of the `new` files in the dvc.lock fil

[2022-03-31 10:13] pmrowla commented on #7530
Discord context: https://discord.com/channels/485586884165107732/958705251198849054

[2022-03-31 11:28] pared commented on #6870
@nsorros what is the result for `dvc version` for the environment that produces wrong error message?

[2022-03-31 12:24] dberenbaum commented on #7525
@skshetry What do you think about this as part of our UI guidelines in https://github.com/iterative/dvc/issues/5392?

[2022-03-31 14:54] atekoa commented on #4164
More info:

[code]
and, of course, dvc doctor:

[code]

[2022-03-31 17:45] rightparen opened #7531 "pull: DVC installed via Ubuntu .deb fails to pull from S3 remote but DVC installed via pip works"
# Bug Report

## pull: fails to pull from S3 remote

## Description

In Circle CI, the command `dvc pull -f assets/models` began failing between Mar 30 4:18:21 PM PDT and Mar 30 9:28:58 PM PDT when using the Ubuntu `.deb` from https://dvc.org/deb/dvc.list.  All commits in the repo fail with the same error now, and the main branch has not changed since all commits succeeded.

The same command with

[2022-03-31 18:08] lcbm commented on #7531
Having the same issue, with GitLab CI, I reported this earlier today in the [in DVC's Discord community](https://discord.com/channels/485586884165107732/485596304961962003/959115274651566120).[in DVC's Discord community](https://discord.com/channels/485586884165107732/485596304961962003/959115274651566120) as well. I'll leave the same information here, LMK I could be of further assistance.

---

#

[2022-03-31 18:10] casperdcl commented on #7531
`@dabarnes` is actually @dacbd here, right?

[2022-03-31 18:34] dtrifiro commented on #7531
I can confirm 2.9.5 works fine and that 2.10 is broken

[2022-04-01 04:39] abhishekPurandare-obs commented on #7498
Setting `SSL_CERT_DIR=/etc/ssl/certs` did the trick! Thank you for helping out

[2022-04-01 05:40] pmrowla commented on #7448
The issue here is that on push, dulwich just returns a successful result if the ref on the remote matches the local version (so there's no straightforward way for us to tell the difference between pushing new commits to the existing ref or that nothing happened since the ref was already up-to-date)

We can check the status ourselves but that will make it a bit slower, is this actually a UI issue t

[2022-04-01 05:54] pmrowla opened #7532 "push: add `--force` option to force push without `.dir` optimization"
Hello! First of all I wanted to thank you for how well you always answer, it's really nice and trustworthy.

We have had the same problem, a dvc push of a folder with 41 files, which ended correctly (apparently, because there were no error messages) and yet only 40 files were uploaded.

Doing dvc pull on another server got us the error.

Now there has been no way to force the push where the files

[2022-04-01 05:55] pmrowla commented on #4164
@atekoa this is not currently planned, but as @efiop noted previously it would be good for us to have this flag to allow force pushing directories. I've created a separate issue that you can follow to keep track for further updates on this

[2022-04-01 06:37] pmrowla commented on #7531
I'm looking into this now, I'm assuming rolling back to pyinstaller 2.9 (same version used to build 2.9.5) will work as a short term workaround

[2022-04-01 09:13] pmrowla commented on #7531
So after some more research, it looks like the error happens when trying to spawn the analytics daemon, so for users encountering this problem, [disabling analytics](https://dvc.org/doc/user-guide/analytics#opting-out) should work as a temporary workaround.

When building with pyinstaller 2.9, I still see the same issue, and it looks like nothing significant was changed in the daemon code at all s

[2022-04-01 10:03] daavoo opened #7534 "exp init: Revisit `type="dl"`"
Once https://github.com/iterative/dvclive/issues/225 is solved, the `live` section will be deprecated in favor of using `metrics` and `plots`.

How should `exp init` behave when `type="dl"`?

[2022-04-01 10:05] daavoo commented on #7534
Would it make sense for `type="dl"` to generate:

[code]

Where `dvclive` would be replaced by the value passed to `--live` (if any) ?

[2022-04-01 10:05] daavoo commented on #7534
cc @dberenbaum @skshetry

[2022-04-01 11:57] dberenbaum commented on #7532
Duplicate of #7268?

[2022-04-01 12:59] #7532 closed

[2022-04-02 08:39] karajan1001 commented on #7001
This one is more reasonable and more obvious than the parent solution, especially when there were more than one checkpoint bases and tips. Besides this, My opinion is that a group of different epochs should belong to the same experiments, they are not independent experiments just different steps in the same experiments. So I think in the json format, we should gather them in one "{}" instead of ju

[2022-04-04 04:14] datacubeR opened #7547 "dvc exp run unavailable in CML"
Is there any way to run DVC exp run in CML?

My use case includes training several experiments in a Cloud or self hosted Server and publish in the PR the results of my work.

For now when trying to do this using the setup action I get an unexpected error.

I understand that commit hides experiment results and I read that CML is not intended for experimentation but that is not quite clear in offici

[2022-04-04 08:25] pmrowla commented on #7531
After some more digging, it looks like this is a general pyinstaller issue for us. It's not specific to the debian packaging, and I can reproduce it with macos pyinstaller builds. I haven't tested the actual packages from the dvc.org site, but I'm assuming users will get the same issue if they install 2.10.0 from the macos pkg or the windows exe

It looks to be some conflict with using `inspect.ge

[2022-04-04 09:55] achimgaedke opened #7537 "`dvc get` with ssh fails on 2.10"
Straight into things: using ubuntu 20.04 with mamba for environment management, having dvc installed.

[code]

succeeds with `dvc<2.10`, namely 2.9.5:

[code]

 but fails with `dvc=2.10` (of course have removed the `setup.py` first).

[code]

Here some more environment information:

[code]

[2022-04-04 09:58] achimgaedke commented on #7537
Surprisingly, the dulwich version did not change, ugrading from 2.9.5 to 2.10 with `mamba install "dvc=2.10"`

[code]

[2022-04-04 10:00] skshetry commented on #7537
@achimgaedke, does it always happen or only intermittently? Also, would it be possible to check installing `dvc` via `pip`?

[2022-04-04 10:00] skshetry commented on #7537
Related: https://github.com/iterative/dvc/issues/7361, looks like the issue is with dulwich client.

[2022-04-04 10:39] bmabir17-asj opened #7538 "DVC push to google storage bucket failed"
# Bug Report

## dvc push : ERROR: failed to transfer

## Description
while trying to push data after adding them to dvc with following command
[code]
I get the following errror message
[code]
I have setup Google auth using the following commands
`gcloud auth login`
`gcloud auth application-default login`

I have even tried use the service account credential and set `GOOGLE_APPLICATION_CREDENTIALS

[2022-04-04 10:47] daavoo opened #7539 "`exp show`: never add a tree character in `prepare_exp_id()` if `pcp` is enabled"
Would it be possible to never add a tree character in `prepare_exp_id()` if `pcp` is enabled?

_Originally posted by @skshetry in https://github.com/iterative/dvc/pull/7536#discussion_r841601819_

[2022-04-04 14:01] johan-sightic opened #7540 "Feature Request: avoid storing outputs on local disk by writing directly to NAS"
**NOTE:** I use Ubuntu 20.04

### My usecase:
- I collect large amounts of very sensitive data on my computer.
- I transfer that data from my computer to an encrypted NAS that for security and regulatory reasons does not have internet access.
- This NAS can be mounted to my local filesystem.
- I want to version control the data on the NAS.
- The data should be accessible to everyone in the team.
-

[2022-04-04 15:53] daavoo commented on #7534
If you all agree on proposed workaround, yes

[2022-04-04 23:06] achimgaedke commented on #7537
The message  `Length of pkt read 0005 does not match length prefix 0026`  changes from time to time, but there's no intermittent success.

Yes, it fails consistently, here are the installation commands I used.
The error message is as above, `dulwich.errors.GitProtocolError: Length of pkt read 0005 does not match length prefix 0029` ... just the length prefix is different.

[code]

[2022-04-05 00:56] pmrowla commented on #7539
We should probably be treating `pcp` the same as `csv` output, and not call `prepare_exp_id` at all in that case.

https://github.com/iterative/dvc/blob/117b22d58ad2e652b3f31669dacd624f448951d1/dvc/commands/experiments/show.py#L375-L380

[2022-04-05 02:36] 0x2b3bfa0 opened #7542 "`dvc metrics show` — binaries built with `pyinstaller` produce traceback"
# Bug Report

## Description

DVC 2.10.0 releases bundled using `pyinstaller` fail when running `dvc metrics show` producing a traceback. Not sure it it's specific to that subcommand.

### Reproduce

[code]

### Expected

[code]

### Environment information

Tested on both Ubuntu 20.04 and macOS 11.6 with identical results.

## `dvc doctor`

[code]

## Tests

### Ubuntu
[code]

### macOS
[code]

[2022-04-05 02:41] skshetry commented on #7542
Duplicate of #531

[2022-04-05 02:41] #7542 closed

[2022-04-05 02:48] 0x2b3bfa0 commented on #7542
Thanks! 🤦🏼‍♂️

[2022-04-05 03:38] skshetry opened #7543 "Tracking fsspec related pending changes"
##### Fsspec Compatibility

- [ ] Make RepoFileSystem fsspec-compatible.
- [ ] Make LocalFileSystem fsspec-compatible.
- [ ] Make GitFileSystem fsspec-compatible
- [ ] Get rid of `FileSystem`.
- [ ] Get rid of `CallbackMixin` since callbacks are now generally supported.
- [ ] Get rid of `NoDirectoriesMixin`, merge with `HTTPFileSystem`.
- [ ] Reorganize/get-rid of `fs.utils`/`dvc.utils.fs`/`System

[2022-04-05 05:57] EyescannerJE commented on #7540
I also tried with `--external` but I'm not sure how to make that work with multiple users

[2022-04-05 07:37] dalnoguer opened #7544 "Changing permissions of dvc cache in NFS makes dvc checkout slow and buggy"
Hello,

I am using DVC on an NFS in gcloud. Until recently, I was the only one registering new datasets in dvc using the cache in the same mounted NFS. Everything worked smoothly. However, when another user started registering datasets we had to change the dvc and its subdirectories permissions, otherwise there was a permission error when trying to write new files to the cache (I guess its due to

[2022-04-05 08:57] pmrowla commented on #7544
Have you set the `cache.shared` config option in DVC?

If you are sharing a DVC cache directory (or an entire repo) between multiple users you need to set it to `group` so that DVC handles the file and directory permissions properly: https://dvc.org/doc/user-guide/how-to/share-a-dvc-cache#configure-the-shared-cache

[2022-04-05 09:00] emilijapur opened #7546 "Pushing only diffs"
DVC pushes whole file to remote server, while pulling only diffs. Since I am working with big datasets (~50 GB of data before model) and a lot of iterations it would be nice if only diffs were pushed to remote server. Since whole file is pushed to the remote server multiple times it fills up space pretty quickly. Is it possible to solve this problem with big data?

[2022-04-05 09:03] pmrowla commented on #7546
Unfortunately DVC only supports deduplication at the file level, and does not do any diffing within files. There is an existing feature request for this that you can follow for future updates: https://github.com/iterative/dvc/issues/829

Closing as duplicate of #829

[2022-04-05 09:03] #7546 closed

[2022-04-05 09:08] pmrowla commented on #7538
Are you able to use `gsutil cp` to manually copy a test file into that bucket with the credentials you are trying to use in DVC?

[2022-04-05 09:10] pmrowla commented on #7530
For reference, I was unable to reproduce this in testing, but it may be a WSL specific issue

[2022-04-05 09:27] dalnoguer commented on #7544
I was not aware about this. Thanks for the quick reply. Will try it out and close the issue if it works ;) Thanks!

[2022-04-05 09:57] skshetry commented on #7390
Also related issue: https://github.com/iterative/dvc-bench/issues/315.

[2022-04-05 10:09] timothylimyl commented on #7484
I shall closed this, open it if you feel there is a need for any fixes.

[2022-04-05 10:14] skshetry commented on #7484
@timothylimyl, let's keep this issue open. We are working on some internal refactorings to optimize `diff` and `checkout`. 🙂

[2022-04-05 10:55] efiop commented on #7390
For the record: added a reproducer in https://github.com/iterative/dvc-bench/pull/341

The issue is in workspace_status branch. Looks like we need to save raw `.dir` object (e.g. if `12345.dir` is proper typed dir object, then `12345` is raw) to local cache somewhere during staging and try to load it during staging next time if we can't find proper `12345.dir`.

[2022-04-05 10:57] emilijapur commented on #7546
Excuse me, can you explain me further what do you mean by saying "DVC only supports deduplication at the file level", please clarify. As I push the same file to dvc remote after minor changes, multiple versions of the same file is being stored. Is this part of dedublication?

[2022-04-05 11:29] pmrowla commented on #7546
It means that DVC stores files according to their hashes, as [content addressable storage](https://dvc.org/doc/user-guide/project-structure/internal-files#structure-of-the-cache-directory). So if you have two different files that have the same data content, DVC will only store one copy of that file. Likewise, if you have two tracked revisions of a file where the file is the same between those two

[2022-04-05 13:05] #7531 closed

[2022-04-05 13:29] casperdcl commented on #7547
(Transferred to DVC because it looks like a config/setup issue unrelated to CML)

[2022-04-05 13:41] pmrowla commented on #7547
@dacbd's suggestion should be correct, github's checkout action only fetches a single shallow commit by default, this isn't enough of the Git repo for `exp run` to work properly.

[2022-04-05 13:49] skshetry opened #7548 "exp init/exp run: fails if the repo has no root commit"
When you do `exp init` and try to run `exp run`,
[code]
[code]

It fails with the above error message.

We have to try to provide good hints on `exp init`, and also on `dvc exp run` what to do here.

[2022-04-05 15:12] dberenbaum commented on #7547
@pmrowla Why does `exp run` require more than the baseline commit to be fetched?

[2022-04-05 16:25] pmrowla commented on #7547
The issue is that we use `git merge` in experiments and doing a `merge-base` operation in git requires fetch depth > 1 (the specific required depth depends on the commits being merged).

For our purposes w/DVC experiments, a fetch depth of 2 will usually be sufficient (meaning that we need baseline commit + 1 direct parent if it exists), but that won't be the case 100% of the time. So if users are

[2022-04-05 17:11] dberenbaum commented on #2877
@skshetry I'm lowering priority on this one for now.

[2022-04-05 17:16] dberenbaum commented on #5786
@skshetry Lowering the priority of this one for now. Let me know if you think we need to bump it.

[2022-04-05 17:17] dberenbaum commented on #6094
@mattseddon Is this still a need for vs code? Is it a blocker?

[2022-04-05 17:22] dberenbaum commented on #6457
This is done, so lowering the priority of this one.

[2022-04-05 17:25] dberenbaum commented on #7148
Lowering the priority as it's not clear at this point whether it's even still an issue.

[2022-04-05 17:40] dberenbaum commented on #7547
Thanks @pmrowla. I guess even if we tried to minimize operations where merge is needed, it will still be needed sometimes, and it's probably better to document the proposed workaround above. Opened https://github.com/iterative/dvc.org/issues/3416.

[2022-04-05 19:09] pared opened #7549 "plots: integration tests for vscode"
The `--json` option for `dvc plots` subcommands needs integration tests that would serve as a contract between dvc and vscode.

Current use cases:
-  plots with and without some properties - make sure proper JSON is produced
- are no plots in the repo at all
-  verify that data types for JSON structure are as expected by vscode

cc @mattseddon
Related : iterative/vscode-dvc#1521 iterative/vscode-d

[2022-04-05 19:19] casperdcl commented on #7547
Ah right so the CML solution would be [`cml ci`](https://cml.dev/doc/ref/ci) (a bit better than `fetch-depth: 0`)

[2022-04-05 19:22] pared commented on #2602
@dberenbaum Sorry. p2 is appropriate, I need to get back to this once I clean up my plate a bit.

[2022-04-06 00:05] shcheklein commented on #7546
@emilijapur here is also some explanation that might help - https://stackoverflow.com/questions/60365473/by-how-much-can-i-approx-reduce-disk-volume-by-using-dvc/60366262#60366262

The only possible (if it makes sense at all in your use case) workaround to this problem at this moment is to use directories and try to split large files into smaller one. E.g. if it's a CSV that you keep appending dat

[2022-04-06 05:37] emilijapur commented on #7546
Sadly I can not split my data in any blocks or parts due to project specifics. However, I thought since git tracks only diffs (not whole files), that DVC can do the same. From your answers I understand that this feature is not going to be implemented in the future?

[2022-04-06 05:45] pmrowla commented on #7546
It is planned to be implemented at some point, but there is no timetable on when that will be (see the issue I linked earlier: https://github.com/iterative/dvc/issues/829)

[2022-04-06 06:17] daavoo commented on #7537
I am able to consistently reproduce this. I think it would be addressed as part of #7361

[2022-04-06 09:58] mattseddon commented on #6094
Should not be required once we get the new status output.
Worst case scenario we can read the file system.

[2022-04-06 13:18] daavoo commented on #7129
A user reported the same error on discord: https://discord.com/channels/485586884165107732/485596304961962003/961190490320039956

[2022-04-06 14:29] dberenbaum commented on #7547
If we go with the suggestion in https://github.com/iterative/dvc.org/issues/3416#issuecomment-1089866190, we should keep this open to update the message in DVC to be more informative and helpful. Even if DVC can't tell whether it's in a CI context, it could at least suggest to fetch missing commits and maybe link to docs that could go into more depth about specific use cases like cml.

[2022-04-06 19:42] gamis commented on #4657
I too would really appreciate this feature!

Otherwise, I'm stuck between two infeasible options:
1. Download the entire directory (which in some cases is 100s of GBs) and generally not interesting to a particular user
2. Track each file with it's own .dvc file, which I've learned the hard way is unbelievably slow.

[2022-04-06 19:59] PythonFZ opened #7553 "repro / push: failed to reproduce: Permission denied / NFS file system issue?"
# Bug Report
## Description

I trained a model and now using `dvc repro` leads to the following:

[code]

I get the same error with `dvc push -r origin` or `dvc exp run --name "basic_model"`.
I have multiple "start" stages and the issue can occur for all of them.
All files have `-r--r--r--` permission and can accesses e.g. via
`tail /work/fzills/projects/BMIM_BF4/.dvc/cache/dc/ba2b481c31e874fd9d4c

[2022-04-06 23:48] efiop commented on #7338
It is indeed how we resolve targets right now. I think data status changes will resolve it, because target resolution there won't be based on stages anymore, so this would behave as expected. But the whole approach will need to be reconsidered anyway.

Closing this as stale for now since there is no activity.

[2022-04-06 23:48] #7338 closed

[2022-04-06 23:51] efiop commented on #7340
@dberenbaum Seems like this is more of an httpfs issue with this particular server. Normally it should indeed error out. I think this was discussed elsewhere, but I can't find any links yet. Lets keep this open for now in case someone else is running into this.

[2022-04-07 00:01] efiop commented on #6870
@nsorros Please post full verbose log for `dvc pull -v` and post `dvc doctor` output.

[2022-04-07 01:42] skshetry commented on #7547
On the UI side, we could detect the presence of `CI`/`GITHUB_ACTIONS`/`GITLAB_CI` environment variables.

[2022-04-07 03:03] pmrowla commented on #7547
If we get the invalid commit exception we can just do the extra check to see whether or not we are in a shallow repo (you just have to check whether or not `.git/shallow` exists). This problem isn't specific to CI environments, it's just more likely to show up there since github uses shallow clones in CI by default.

[2022-04-07 05:13] nsorros commented on #6870
The error I was getting will be addressed by #7501

[2022-04-07 08:11] Guillaume-oso commented on #7537
I have the same problem with versions of scmrepo>0.0.10
scmrepo>0.0.10

DVC version: 2.10.1 (pip)
---------------------------------
Platform: Python 3.8.10 on Linux-5.8.0-38-generic-x86_64-with-glibc2.29
Supports:
        webhdfs (fsspec = 2022.3.0),
        http (aiohttp = 3.8.1, aiohttp-retry = 2.4.6),
        https (aiohttp = 3.8.1, aiohttp-retry = 2.4.6),
        s3 (s3fs = 2022.2.0, boto3 = 1

[2022-04-07 09:35] daavoo commented on #7553
Hi @PythonFZ , could you share the verbose output `dvc repro -v`?

[2022-04-07 12:15] mh-synth commented on #7307
Having the same issue, and downgrading to `2.8.1` does _not_ seem to help in my case.

[2022-04-07 12:40] dberenbaum commented on #7338
@efiop Do we want to document this use case somewhere so we remember to test for it?

[2022-04-07 12:49] dberenbaum commented on #7547
Right, I guess the question is whether the message should be general like "don't use a shallow clone" or more CI-specific like "try fetch-depth: 0"? I think probably the former is better even if we can detect CI, since we don't want to have to cover the syntax of different git server behaviors, although we could link to docs where that level of detail could be provided.

[2022-04-07 15:24] dacbd commented on #7547
+1 for a general message w/  link to docs for more specific details/solutions.

[2022-04-07 15:32] skshetry commented on #7547
I'd prefer general message with a CI specific hint and link to the docs wherever possible. I'd prefer less redirection as much as possible.

Example:
[code]

[2022-04-07 15:55] sqeph commented on #7340
For what it is worth, I did a bit of investigation and it seems that `dvc status -c` ends up checking the existence of the various files through fsspec's `HTTPFileSystem._exists()` (https://github.com/fsspec/filesystem_spec/blob/master/fsspec/implementations/http.py#L297). Here the response status code is indeed 401 (if I fail to provide correct credentials), but this simply results in `_exists()`

[2022-04-07 18:23] fabiocapsouza opened #7556 "status: git clone not using rev_lock of imported external dependencies"
# Bug Report

## Description

I have two repositories, A and B. Repository B has an external dependency on a directory of repository A.
The DVC file looks like this:

[code]
When I run `dvc status`, it shows an error message:

[code]
Running in verbose mode shows that `git clone` is run twice, first using the correct `rev_lock=6eedf635bfc61a4b30907bb3555ead3abf753363` and later without `rev_lock`,

[2022-04-07 19:14] gregstarr opened #7557 "exp: Custom experiment comparison"
Hello,

Would it be possible to specify a custom script which runs after all experiments have finished, to compare the results of the experiments? It seems like DVC currently only provides the ability to get diffs between json metrics of the experiments, or plot multiple (maybe just 2?) ROC curves. I would like to be able to queue up several experiments, have them run in parallel, then after, a sc

[2022-04-07 21:58] efiop commented on #7338
@dberenbaum I don't think it is worth it. This is a natural problem that we won't missout on, and will be forced to research/develop.

[2022-04-08 04:34] #7361 closed

[2022-04-08 04:34] #7537 closed

[2022-04-08 04:42] pmrowla commented on #7361
Installing `scmrepo==0.0.18` should resolve this issue (you will get a pip warning about scmrepo not matching the version required by DVC, this will be updated in the next DVC release)

[2022-04-08 04:43] pmrowla commented on #7537
Installing `scmrepo==0.0.18` should resolve this issue (you will get a pip warning about scmrepo not matching the version required by DVC, this will be updated in the next DVC release)

[2022-04-08 05:58] ap-kulkarni commented on #6141
I would like some help/opinions here. I was able to successfully get this working with dvc. However, the key that is required to encrypt the data needs to be a raw 32 byte key. I guess the underlying libraries (either boto3 or s3fs.. not sure since I did not have time to explore their source code exhaustively) take care of converting the key to base64 and include the relevant headers to the API re

[2022-04-08 07:11] daavoo commented on #7557
Hi @gregstarr , you would need to run this script manually after all experiments have finished.

You can retrieve the data of all experiments in JSON format with [`dvc exp show --json`](https://dvc.org/doc/user-guide/experiment-management/comparing-experiments#get-table-data-in-json), so you could do:

[code]

Alternatively, you can access the same data in Python API:

[code]

You can find an exam

[2022-04-08 09:03] RadionBik opened #7560 "DVC stages are disconnected"
# Bug Report

## Issue name

DVC stages are disconnected

## Description

I have been using DVC for a while in my repo and after recent refactoring I noticed this broken behavior: when doing `dvc repro` the stages are executed not in the order I want them to be.

here is the dvc.yaml:
[code]

here is the output of `dvc dag`:
<img width="649" alt="image" src="https://user-images.githubusercontent.c

[2022-04-08 10:19] RadionBik commented on #7560
wow, the `filter_and_split` has wrong indent for outs and deps sections, that's why the DAG hasn't been built correctly.

looks like there is no such validation in place.

I am closing the issue :)

[2022-04-08 10:19] #7560 closed

[2022-04-08 10:33] daavoo commented on #7560
@RadionBik for the record, you can install https://github.com/iterative/dvcyaml-schema in your editor and it will catch this kind of errors

[2022-04-08 12:04] skshetry commented on #7560
It won't catch this specific issue, it's a valid yaml and is also correct as per our schema.

[2022-04-08 12:08] dparmar61 commented on #4253
https://dvc.org/doc/use-cases/sharing-data-and-model-files Does not exist.

[2022-04-08 12:54] PythonFZ commented on #7553
This is from a different stage in the workflow but the same issue which could be resolved by running `touch <filename>`

[code]

[2022-04-08 15:04] ykasimov opened #7561 "run -d hdfs://: output does not exist"
# Bug Report

## Description

I am trying to add an external dependency which is stored on HDFS. I am running it **inside** this docker image: https://hub.docker.com/r/oneoffcoder/spark-jupyter which has hdfs installed and configured. The command to run the docker is there too.

When I run `dvc run -v --force -n download_file -d hdfs://localhost/data.csv -o data.csv hdfs dfs -copyToLocal hdfs://lo

[2022-04-08 15:36] pared commented on #7561
Might be related #7288.

[2022-04-08 16:48] PythonFZ commented on #7553
I could solve the issue in https://github.com/iterative/dvc/pull/7562.

I tried the following:

[code]

[2022-04-08 18:07] dberenbaum commented on #4253
@dparmar61 It looks like all the data was pulled except for `/dhaval/dvc_test/DVC_test/nlp_outbound/normalization/config`. Most likely, this is expected behavior and you can ignore the error. For example, that path might be specified as an output of a pipeline in `dvc.yaml`, and if that pipeline has not been run or its contents were not saved in a corresponding `dvc.lock` file, you will get an err

[2022-04-08 18:46] dberenbaum commented on #5802
@skshetry This also can cause `dvc exp init` to fail:

[code]

[2022-04-08 22:53] series8217 commented on #7307
We have had to roll back to 2.8.1 as well to get around this issue.

[2022-04-09 01:27] #7169 closed

[2022-04-09 01:32] pmrowla commented on #7553
@PythonFZ what NFS options are you using for this mount (from `/etc/fstab`)? It's probably a caching issue

[2022-04-09 08:35] daavoo commented on #7561
@ykasimov Could you try installing dvc from [this branch](https://github.com/iterative/dvc/tree/fix-hdfs-external-dep):

replacing:

[code]

With:

[code]

[2022-04-09 09:30] karajan1001 commented on #7496
Agreed that if you want to switch back to `datav1`, you should not use `dvc gc -w` at all.

[2022-04-09 09:50] PythonFZ commented on #7553
The mount options are:
[code]
I'm not responsible for the NFS mount so changing them is not an option.

[2022-04-09 14:18] pmrowla commented on #7553
Right, but the issue here is that this may not actually be a DVC bug.

If it's an issue with your NFS configuration, calling `open` may force NFS to invalidate the attribute cache in your particular NFS client/server setup, but it doesn't make sense to have a random unused `open` call in DVC.

[2022-04-09 19:55] datacubeR commented on #7547
Dear all,
Thanks for all of your answers. I think the spirit of good open source is havomng everyone really involved, and I really appreciate your help on trying to solve this issue.

I implemented the steps mentioned above and it worked partially. Once I run the experiments it turns out git is not recognized in the Github Machine:

![image](https://user-images.githubusercontent.com/48638337/16258

[2022-04-09 20:48] dacbd commented on #7547
@datacubeR, thanks for the feedback; since you are already using `cml`, you can take a [look at running](https://cml.dev/doc/ref/ci) `cml ci`, which would solve the git user problem.

This is part of what `cml runner` command can help you with, running training workflows on cloud-hosted machines like ec2. If you decide to give it a try and run into any issues or have any other feedback be sure to

[2022-04-09 22:01] gregstarr commented on #7557
Thanks for the response. If I want to read a csv file from my experiment directory, what is the best way to do that?

[2022-04-10 03:56] dparmar61 commented on #4253
@dberenbaum So config contains some data required to run code.I do not want to keep it on GitHub. So I have moved config directory to s3 and I have transferred only config.dvc file to GitHub. I think using hash present in this .dvc file "dvc pull" will be able to fetch original data from s3.

[2022-04-10 10:10] bmabir17-asj commented on #7279
@dacbd as CML supports `GOOGLE_APPLICATION_CREDENTIALS_DATA` but DVC does not. How do you suggest we store service account credentials/keys and feed it into DVC?

[2022-04-10 17:05] dacbd commented on #7279
@bmabir17-asj in general or from cicd / a cml runner instance?

CML supports reading the JSON key file where `GOOGLE_APPLICATION_CREDENTIALS` is a path to that file, which DVC supports.

If you are running DVC cmds from a CML made instance within something like github actions I would do this: `--cloud-permission-set=dvc-sa@[gcp-project].iam.gserviceaccount.com,scopes=storage-rw` (where this servic

[2022-04-10 17:40] bmabir17-asj commented on #7279
@dacbd yes, thank you for the info. I did not find anything regarding this in the documentation except in this [issue](https://github.com/iterative/cml/issues/894#issuecomment-1043309810) .
If possible please add this to the documentation as well.

[2022-04-10 21:02] atekoa opened #7564 "push: Unnotified error when pushing data into HTTP remote"
# Bug Report

## Issue name
push: Unnotified error when pushing data into HTTP remote

## Description
This issue happens when pushing a bulk of files into a HTTP dvc remote. dvc push reports that everything is correct. However, when downloading the files, some of them have not been uploaded correactly and thus, they do not exist on the remote.

### Reproduce
* download a dataset
* adds it to dvc
*

[2022-04-11 00:07] dacbd commented on #7279
@bmabir17-asj indeed you are correct, I have my "in progress" update here: https://github.com/iterative/cml.dev/pull/208 but I put a pause on working on it for "reasons" 😶‍🌫️ but intend would like to have something helpful there by the end of this week!

[2022-04-11 05:08] dparmar61 commented on #4253
@dberenbaum It is working may be it was due to different dvc version while using push and pull.

[2022-04-11 06:43] daavoo commented on #7564
cc @dtrifiro could you take a look?

[2022-04-11 07:27] PythonFZ commented on #7553
I absolutely agree. Are you familiar with NFS? There is no issue going into the directory and looking at the stat of the file.
So `os.stat` seems to do something different here.

[2022-04-11 08:59] pmrowla commented on #7553
By default, NFS caches file attributes which can make `stat` calls return (incorrect) cached values. The mount options I suggested trying would disable the caching altogether (`noac`) or at least reduce the time that NFS will consider the cached value to be valid (`actimeo`).

Testing those options and seeing if it makes the issue go away would help identify what the underlying cause of your probl

[2022-04-11 09:20] ykasimov commented on #7561
@daavoo it works from the branch. thanks for fixing it!

[2022-04-11 12:25] sentry-io[bot] opened #7565 "HTTPError: 404 Client Error: Not Found for url: https://gitlab.com/api/v4/projects/iterative.ai%2Fcse%2Fuse_..."
Sentry Issue: [STUDIO-WORKER-J0](https://sentry.io/organizations/iterative/issues/3182711727/?referrer=github_integration)

[code]

[2022-04-11 12:26] Suor commented on #7565
Created by error.

[2022-04-11 12:26] #7565 closed

[2022-04-11 12:50] dberenbaum commented on #7510
What type of remote are you using?

[2022-04-11 12:54] aitzubi opened #7566 "Azure Data Lake Gen2 support"
Good morning everybody!

I work at a R&D company and our Data Teams love DVC. We are looking forward on using it with our corporate Azure Data Lake Gen2. The documentation says that it is not supported due to Microsoft not publishing data lake blob API. It seems that there is an api published but I dunno if it is valid for dvc: https://docs.microsoft.com/en-us/rest/api/storageservices/data-lake-st

[2022-04-11 13:50] dberenbaum commented on #6141
My vote is for the second approach, providing the base64 representation in the config. It's what the docs describe, and it's closer to the AWS CLI and SDK syntax. It looks like you could provide a binary file in the AWS CLI (https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-parameters-file.html), but this seems less supported than passing the base64 string.

[2022-04-11 15:44] samtzai opened #7567 "dvc exp run --queue does not use local credentials on config.local"
# Bug Report

## Issue name
exp: dvc exp run does not use credentials stored on config.local when queueing a experiment

## Description
This issue happens when you queue an experiment with dvc>=2.9.4 and then you try to reproduce it with dvc exp run --run-all

### Reproduce
* Get a project with a working dvc repro pipeline.
* Create a project remote with credentials on .dvc/config and .dvc/condig.

[2022-04-11 17:57] dberenbaum commented on #7567
@pmrowla Is this a duplicate of #7254? If so, is it expected that this is a regression that started with 2.9.4?

[2022-04-11 19:39] daavoo commented on #7567
Closing on favor of #7254

[2022-04-12 03:48] jorgeorpinel commented on #4112
Was this the way it was implemented? If so what happens if there's a `params.yaml` param inside the default `params.yaml`? That'd be ambiguous I think.

[2022-04-12 06:28] daavoo commented on #4112
Parameter names cannot contain file extensions supported for parameter files cannot. We need to mention this explicitly in the docs

[2022-04-12 08:18] karajan1001 commented on #5562
We had updated several versions to improve it, but still not solved for now.
Could you please provide some more details? the info from `dvc doctor`

[2022-04-12 09:13] karajan1001 commented on #7510
I think it is `ssh` remote.

[2022-04-12 09:14] samtzai commented on #7567
BTW, I have realized that if you set a fake password or connection_string on the config file it works fine.

[2022-04-12 10:46] thias42 opened #7569 "OpenSSH private key encryption requires bcrypt with KDF support"
# Bug Report
DescriptionRunning dvc push returns an error after upgrading to dvc version 2.9.5.:

ERROR: unexpected error - OpenSSH private key encryption requires bcrypt with KDF support

## Reproduce

    mkdir test
    cd test
    git init .
    dvc init
    dvc remote add storage ssh://host:/storage
    dvc remote default storage
    echo hi > test.txt
    dvc add test.txt
    dvc push test.tx

[2022-04-12 12:40] efiop commented on #7566
@aitzubi It could be that we already support it as blob storage (at least judging from https://github.com/fsspec/adlfs/blob/bfcc9b381641f503d0f8c6a8dd3869d959ab8896/adlfs/spec.py#L305 ), but we didn't confirm it yet ourselves. Have you tried using it with dvc yet?

[2022-04-12 14:05] EyescannerJE commented on #5562
@karajan1001 of course:
[code]
Maybe I have unrealistic time expectations, how long should i expect `dvc add` to take for a dataset of 139 GB with 1100 files to take?

[2022-04-12 15:09] dberenbaum commented on #7556
@skshetry Any thoughts?

[2022-04-12 15:18] dberenbaum commented on #4112
No, it needs to be `-p params.yaml:` if passed as a command line argument.

[2022-04-12 15:24] efiop commented on #5562
@EyescannerJE Could you please run `dvc doctor` inside of a dvc repository? It will have additional info about your setup.

Regarding the timing, it highly depends on the particular setup. We don't yet have benchmarks for NFS(or other similar setups), so I can't even give you an approximate estimate. We currently only have regular benchmarks for around ~20K image dataset on regular local filesyste

[2022-04-12 17:29] dberenbaum commented on #7567
Reopening to figure out what's going on and whether this is truly a duplicate.

@samtzai How were you using azure during the experiments? Did you have external dependencies or outputs in your experiment?

Could you explain what you mean?

[2022-04-12 17:39] dberenbaum commented on #7510
@emilijapur If you write/copy a file to the same directory on the ssh server without dvc, do others have permission to write to that file?

[2022-04-12 18:42] itcarroll commented on #7323
@dberenbaum And `remove`?

[2022-04-12 20:18] dberenbaum commented on #7547
Bumping the priority of this since it is necessary for integration with cml.

Is this sufficiently general? It's only applicable to GH actions AFAIK. Each git server has its own depth settings and variables, not to mention people who manually do shallow clones.

Also, this is probably a better suggestion, but only if cml is installed.

So maybe we can generalize the message and provide specific ex

[2022-04-12 20:22] datacubeR commented on #7547
If you allow me to chime in, from the user perspective I think use cases are way clearer than just random notes.

For instance, I understand these fixes are only applicable to GitHub Actions, but in my opinion there is no clear documentation on CML CI which I think won't be normally installed since docker containers or virtual machines are normally the most common way to deal with this part.

[2022-04-12 21:33] clementperon commented on #4232
Got the same error when doing a dvc pull:

I can try to bissect this:
[code]

[code]

[2022-04-12 22:06] samtzai commented on #7567
Hi @dberenbaum,

Maybe this clarifies.
No external dependencies, just dependencies from dataset already pushed into azure before experiment. Actually the remote is not relevant.

- What I meant is that if you have this .dvc/config:

`[core]
    remote = my_remote
['remote "my_remote"']
    url = azure://my_azure/
    connection_string =fake_connection_string_to_make_experiments_work`
and this .dvc

[2022-04-13 05:41] EyescannerJE commented on #5562
@efiop I see, here is the output of `dvc doctor` from inside the dvc repository
[code]
Some benchmarks for NAS setups would be very much appreciated!

[2022-04-13 06:12] emilijapur commented on #7510
Yes, I am using ssh remote.

@dberenbaum  I believe the problem is that DVC remote directory owner and group in linux is "user_group" which consists of user_A, user_B, user_C. And when user_A pushes to DVC remote directory using ssh it creates folder "24" for example with file "dd737c0642bf1ff8eee74eb121fbb6" (because he created hash value "24dd737c0642bf1ff8eee74eb121fbb6" . Then if user_B genera

[2022-04-13 06:28] pmrowla commented on #7547
Should note that `cml ci` does not actually unshallow the repo (but should after https://github.com/iterative/cml/pull/957). The correct fix for running `dvc exp run` inside github actions is to set `fetch-depth: 0` in the checkout action.

[2022-04-13 06:44] pmrowla commented on #7567
Can you run (without the dummy `connection_string`)
[code]
and post the full error traceback here

[2022-04-13 06:47] pmrowla commented on #7510
This looks like a duplicate of https://github.com/iterative/dvc/issues/3838

[2022-04-13 06:50] #7510 closed

[2022-04-13 07:01] aguschin opened #7570 "Rename `--names-only` to `--name-only`"
As was suggested by @skshetry here https://github.com/iterative/gto/issues/107#issuecomment-1095173258, we probably should use `--name-only` as git does instead of `--names-only`.

[2022-04-13 07:07] pmrowla commented on #7547
Keeping this open on the DVC side until we address clarifying the shallow repo error in DVC UI and/or docs

[2022-04-13 13:44] milenovdaniel commented on #3652
Hi I have experiencing the same inconvenience even on the latest paramiko version.
To get it corrected I have just reordered the `id_rsa` keys in `.ssh/config` file:
`IdentityFile ~/.ssh/id_rsa
IdentityFile ~/.ssh/id_rsa_old
`
In this way the `paramiko` gets only the first position, and it seems to do not consider the rest.
I hope this to be in help
P.S. Although the post is relating (Windows) use

[2022-04-13 13:52] tblaschke commented on #7569
I run into the same issue. I looks like the DVC macos installer does not provide an environment with a bcrypt package. Here is the issue of the underlying issue from the asyncssh library.
[https://github.com/ronf/asyncssh/issues/417](https://github.com/ronf/asyncssh/issues/417)

I fixed this by activating the dvc encloses python environment ind install the bcrypt package

`cd /usr/local/Cellar/dvc

[2022-04-13 14:03] mraxilus commented on #5369
Any updates on this feature?
I would find it quite useful for my CI pipeline process.

[2022-04-13 14:35] dberenbaum commented on #6930
Another user asked about this in discord: https://discord.com/channels/485586884165107732/485596304961962003/963800799220211782.

@pmrowla What do you think about bumping priority of this? It seems dangerous and potentially surprising to overwrite completely unrelated untracked files.

[2022-04-13 16:23] #6870 closed

[2022-04-13 20:22] dberenbaum commented on #5369
tl;dr It's on our roadmap but not close enough to give an estimate for it yet.

A lot of the functionality today is part of `dvc status`. Our plan is to separate the data management aspects of `dvc status` from this pipeline-focused `dvc verify` functionality (like `dvc data status` and `dvc stage status`; actual command names TBD) and make each more robust and useful on their own. We are currentl

[2022-04-14 01:12] itcarroll commented on #4477
I've started testing out the "drive.file" scope. If you would like to participate, I've set up a [toy git + dvc project]() where we can collaborate. I've also created a google-cloud-project exclusively to use for this test; it's info is in the git repository.

By "you" in the above I don't just mean @shcheklein. Add a reaction below and I'll add you as a collaborator and test-user for the google-c

[2022-04-14 04:01] pmrowla commented on #6930
Unrelated untracked files being removed sounds like a bug. As for the priority, I guess I'm not sure if that should be opened as a separate issue from this one? It's unclear to me whether this issue is about the removing untracked files bug or if it's a higher level discussion about whether `--force` or `--no-force` should be the default behavior

[2022-04-14 04:27] pmrowla opened #7571 "exp show: prefer exp names for experiments"
From https://github.com/iterative/vscode-dvc/issues/1574

If `exp branch` is used to create a branch, `exp show` will show the existing experiment in the table but will use the branch name instead of the exp name when displaying it. When displaying the experiment we should still use the exp name instead.

The issue is that in `scm.describe` precedence is given by tag > branch > exp, but for `exp s

[2022-04-14 04:34] pmrowla commented on #7569
@tblaschke just to clarify, did you install from the macos `.pkg` installer or from homebrew? (homebrew installs DVC from a source tarball using python/pip and not the macos pkg installer)

[2022-04-14 08:11] nsorros opened #7573 "Non informative message when credentials do not have access to dvc bucket"
# Bug Report

It is not so much a bug but at the moment it is difficult to debug a situation where files are not being pulled because
dvc does not have access to the remote bucket. A more informative message would be very beneficial here.

## Description

In our case we use an s3 bucket as remote storage and we have multiple different aws profiles so it may happen that
we work on a project and for

[2022-04-14 09:37] tblaschke commented on #7569
@pmrowla I installed it through homebrew. (I somewhat assumed that homebrew uses the macos installer and not the tar ball)

[2022-04-14 12:44] dberenbaum opened #7575 "`exp show`: Distinguish between different dependencies"
@daavoo @dberenbaum

Quick ask - in Studio we can distinguish DVC-tracked and intermediate artifacts (to show only them by default), can we add those signals here too please?

_Originally posted by @shcheklein in https://github.com/iterative/vscode-dvc/issues/1183#issuecomment-1062436116_

[2022-04-14 12:56] dberenbaum commented on #7575
@shcheklein @mattseddon I'm not clear on how Studio decides what files to show. From what I can tell, it's anything with a `.dvc` file plus outputs of any pipeline stages.

@daavoo AFAIK the experiments table instead shows dependencies of any pipeline stages.

Do we need to reconcile these and choose one or the other? Do we need options in any of dvc, studio, or vs code to decide between them?

[2022-04-14 13:03] dberenbaum commented on #6930
I guess I hijacked this ticket from @mattlbeck. As mentioned in https://github.com/iterative/dvc/issues/6930#issuecomment-970712018 and other comments above, we already have discussed the default behavior and it usually makes sense to leave the current defaults.

So let's either prioritize this issue to stop dropping unrelated untracked files, or close this one and open a new issue.

[2022-04-14 13:11] daavoo commented on #7575
I thought the request was to differentiate between dependencies tracked by git vs. dependencies tracked by DVC (the former are not shown in Studio table)

[2022-04-14 14:41] dberenbaum opened #7576 "`exp branch/pop`: remove branched experiments"
`exp branch` can be awkward because both an experiment and branch ref will point to the same commit. This has a few downsides:

* The branch must have a different name from the experiment so that dvc can distinguish between the refs (see https://github.com/iterative/dvc/discussions/5892).
* It's unclear how to show these experiments in `dvc exp show` and other commands or whether to manage them as

[2022-04-14 14:59] pared commented on #7307
@mh-synth What error do you get?

[2022-04-15 05:02] #7571 closed

[2022-04-15 07:44] karajan1001 commented on #7576
Agreed to delete them from exp space.

[2022-04-15 07:58] pmrowla commented on #7569
This will be resolved when 2.10.1 is released in homebrew-core

[2022-04-15 22:05] W1M0R opened #7577 "import: fails with ModuleNotFoundError (win32timezone) when importing private repository using ssh using dvc from Windows Installer"
# Bug Report

## Description

According to [the guide](https://dvc.org/doc/user-guide/troubleshooting#git-auth), we need to use the git/ssh protocol when working with private repositories. Following this recommendation, a `dvc import` fails with `ModuleNotFoundError: No module named 'win32timezone'`. Trying again, but this time using https, I get `dulwich.client.HTTPUnauthorized: No valid credenti

[2022-04-16 10:00] casperdcl opened #7578 "diff: default comparison behaviour"
from https://github.com/iterative/example-repos-dev/pull/107#pullrequestreview-940619306:

(perhaps duplicate issue, only did a quick search)

[2022-04-16 11:37] pmrowla commented on #7578
This seems like something that belongs in CML to me, I don't think it makes sense for DVC to have code for handling github CI specific env vars in core DVC.

[2022-04-16 17:42] W1M0R commented on #7577
I uninstalled dvc (which was previously installed using the dvc Windows Installer - to get the automated symlink permissions setup). Then I installed dvc using choco. This resolved the issue. It could be that the problem then lies with the Windows Installer, or that I missed a manual installation step.

Output of **dvc doctor**:

[code]

[2022-04-17 10:13] swaroopkml96 opened #7580 "add: check that cache is writable before computing hash"
`dvc add` first computes hash for the files that need to be added, then writes the objects to cache. However, hash computation might take a long time with large datasets.

If the cache is not writable (this can happen, for example, if the user has setup a shared cache), dvc gives the following error only after the hash computation is complete:
[code]

It would be nice if DVC first checks to see if

[2022-04-17 10:14] swaroopkml96 commented on #7580
I'll be happy to work on this and submit a PR.

[2022-04-18 06:21] timothylimyl commented on #7484
Noted, looking forward to the update!

[2022-04-18 11:17] #7384 closed

[2022-04-18 11:19] #7307 closed

[2022-04-18 11:41] aitzubi commented on #7566
@efiop i am unable to test this because I can seem to find how to configure the SAS Token. ConnectionString does not seem to work either.

Could you please provide me an example on how to configure a ConnectionString or a SAS token?

Kind regards,

[2022-04-18 12:06] daavoo commented on #7566
@aitzubi Could you try following https://dvc.org/doc/command-reference/remote/modify#example-some-azure-authentication-methods ?

[2022-04-18 13:47] #6527 closed

[2022-04-18 14:29] aitzubi commented on #7566
@daavoo yeah, I was trying that but no luck. I just upgraded az-cli package and now I am getting a different result.

I attach the log of the dvc push command
[dvclog.txt](https://github.com/iterative/dvc/files/8506236/dvclog.txt)

[2022-04-18 14:32] akmorrow13 opened #7584 "dvc.repo.get.get: fails for cloning private and public repos from github in dvc version 2.10.1"
# Bug Report

## Description

When dvc.repo.get.get is called on both a public and private github repository using dvc version 2.10.1, it fails with error:

`dvc.scm.CloneError: Failed to clone repo 'git@github.com:patchbio/model-registry' to '/tmp/tmpblkwhy8ydvc-clone'  `

### Reproduce

Install dvc version 2.10.1:
[code]

Try to get an example README.md from a public repo:

[code]

### Expected

[2022-04-18 17:01] casperdcl commented on #7578
sorry not referring to env vars, I mean:

[code]

pseudocode logic to fix this on DVC side:

[code]

[2022-04-18 17:15] aitzubi commented on #7566
Nevermind @daavoo , I just created a sas token using the storage key and it works! I can see the blobs created on the container in our data lake.

I will keep trying to use user delegation in order to leverage azure AD security benefits as Microsoft advises. I will keep you posted ;)

[2022-04-18 17:30] daavoo commented on #7566
Closing this one for now, as it was about supporting Data lake gen2. Feel free to re-open or open new issues if you encounter some

[2022-04-18 17:30] #7566 closed

[2022-04-18 17:47] efiop commented on #7566
I guess we could also document it in https://dvc.org/doc/command-reference/remote/add and https://dvc.org/doc/command-reference/remote/modify @aitzubi If your experience will be successful, let us know or feel free to create a PR for the docs, so that other people could benefit from your research 🙂 Thank you ❤️

[2022-04-18 17:54] aitzubi commented on #7566
As I said, I will test the secure approach to create the token (AzureAD) and post the results here.

If i am successfull, I will create the PR ;)

Thx guys!

[2022-04-18 18:14] dberenbaum commented on #7578
@casperdcl Do you know in which scenarios `dvc metrics diff` can fail? The default behavior should compare the current workspace to HEAD. Not sure we want to default to always assuming that we are comparing commits.

[2022-04-18 18:29] itcarroll opened #7585 "gc: requires loading parameters files"
# Bug Report

## Description

When "dvc.yaml" references a parameter file in order to reproduce a foreach stage, then `dvc gc --all-commits` will error if the parameter file does not exist in a commit containing this "dvc.yaml" version. The use case is not too convoluted: it involves a development version of a parameters file that is not committed, but used in "dvc.yaml" during development where i

[2022-04-18 20:39] dberenbaum commented on #7584
This looks like it may be a duplicate of https://github.com/iterative/dvc/issues/7537. @akmorrow13 Could you try the suggestion in https://github.com/iterative/dvc/issues/7537#issuecomment-1092436420?

[2022-04-18 20:45] dberenbaum commented on #7547
`dvc exp run` succeeded in the workspace (but not in a temp dir) on a shallow clone until https://github.com/iterative/dvc/commit/fa819b0b70ba5f0f7ed7010280dbe840a813c1d3:

[code]

@pmrowla It makes sense as part of making the workspace and temp implementations more consistent, but is there any way to make at least workspace runs succeed in this scenario? It breaks a previously supported workflow

[2022-04-18 21:45] akmorrow13 commented on #7584
Thanks for the quick reply @dberenbaum. After running` pip install scmrepo==0.0.18 ` I still get the same issue:

[code]

[2022-04-18 23:22] pmrowla commented on #7584
Can you post the full error traceback you are getting?

[2022-04-18 23:34] pmrowla commented on #7547
Prior to that change, workspace and temp implementations were essentially two completely different things, which made testing and maintaining both difficult, and led to them having different behavior in a lot of scenarios. I don't think it is worth the development effort required to maintain two separate `exp run` implementations vs requiring that users unshallow repos in CI for both the workspace

[2022-04-19 03:35] karajan1001 commented on #7585
I'm curious why would you leave `config.yaml.dev` untracked by `Git`. Because this would break your repository when you share it with others using `Git`. It makes this file be some kind of local parameter?

In a `repo` we have `Git` tracked files(code, repo config), `DVC` tracked files(model, data...etc), and files neither tracked by `Git` nor been tracked by `DVC` ( some sensitive config or local

[2022-04-19 05:51] EyescannerJE commented on #2095
@pared I would use this feature

[2022-04-19 06:25] jorgeorpinel commented on #4112
Is this an actual error condition?

[2022-04-19 07:21] pmrowla opened #7587 "exp: implement internal queue.kill support"
dvc-task/exp queue currently support `experiments.queue.remove` for removing inactive experiments. `experiments.queue.kill` API call for cancelling/terminating individual active experiments is still needed.

Job termination requires:

* Terminate `exp run` subprocess via dvc-task `proc.kill`
* Celery tasks related to the running experiment should not be [revoked](https://docs.celeryq.dev/en/stable

[2022-04-19 07:35] pmrowla opened #7589 "exp queue: start/stop queue processing"
Implement basic CLI support for starting and stopping processing of the exp queue.

* [x] `dvc queue start`: start queue processing
    * Should support setting an initial `-j/--jobs` concurrency value
    * Subsequent calls should do nothing (other than informational messaging that queue is already running)
* [x] `dvc queue stop`: stop queue processing
    * Should use celery [shutdown](https://d

[2022-04-19 07:38] pmrowla opened #7590 "exp queue: monitor queue status"
Support monitoring queue status and viewing output of running experiments

* [x] `dvc queue status`
* [x] `dvc queue attach`
* [x] `dvc queue logs`

Optional/under discussion:

Remove queued exps from `exp show` by default and implement `exp show --queue` option to include queued exps in the table

[2022-04-19 07:40] pmrowla opened #7591 "exp queue: remove queued experiments"
* [x] `dvc queue remove`: remove inactive experiment(s) from the queue
* [x] ` dvc queue kill`: kill active experiment(s) (and treat them as cancelled/failed)

[2022-04-19 07:41] pmrowla opened #7592 "Epic: exp queue CLI"
Meta-issue for initial planned `exp queue` issues. (This does not cover "nice to haves" as outlined in the [notion proposal](https://www.notion.so/iterative/Queueing-Managing-Experiment-Execution-bb07bf856cd242bd98a2c87cfc6e75d7))

dvc-task/exp backend tasks:

* [x] https://github.com/iterative/dvc/issues/7587

`exp queue` CLI tasks:

* [x] https://github.com/iterative/dvc/issues/7589
* [x] https:

[2022-04-19 10:12] pared commented on #7585
I am not sure I would call it a bug. But the fact that we need to load params to clean up the cache sounds like not something necessary.

[2022-04-19 10:42] samtzai commented on #7567
**Experiment run with dvc==2.10.1 with the fake password:**
[code]

**Experiment run with dvc==2.10.1 without the fake password in .dvc/config:**
[code]
Both executions work.

[2022-04-19 10:43] dberenbaum opened #7594 "Disable pushing specified outputs"
Specifying different remotes per output was addressed in #6486 (see https://dvc.org/doc/user-guide/project-structure/pipelines-files#output-subfields), but there's still no way to set `remote: false` for an output.

Note the following workaround in the meantime: you can do `dvc remote add dummy .dvc/cache`, and then use `remote: dummy` under your output in `dvc.yaml`. This will push that output on

[2022-04-19 10:44] dberenbaum commented on #2095
Closing in favor of #7594 since the initial request was implemented in #6486.

[2022-04-19 10:44] #2095 closed

[2022-04-19 10:45] casperdcl commented on #7578
Yes, see https://github.com/iterative/example-repos-dev/pull/105 i.e. "the current workspace" *is* "HEAD"

[2022-04-19 10:48] dberenbaum commented on #4112
No, we discussed using file extensions that way that but decided to be more explicit and require `-p params.yaml:` so there is no confusion over what is a file and what is a parameter.

[2022-04-19 11:15] skshetry commented on #7585
@pared @itcarroll, DVC treats `dvc.yaml` as a single source of truth. So the file paths that are being tracked are read from `dvc.yaml` rather than from `dvc.lock`. Later it just reads the hashes for those file-paths in `dvc.lock` and builds a index, which it will use to delete files (in case of `gc`). In a way, `dvc.lock` is a database for metadata for entries in `dvc.yaml`.

This allows us to ma

[2022-04-19 11:30] casperdcl commented on #7578
ok so we're saying the clunky patch in https://github.com/iterative/example-repos-dev/pull/105 is required, and there's no way DVC could implement a flag (`dvc metrics diff --last` or something) to avoid all the if-then-else bash trickery?