[2021-06-01 11:52] isidentical commented on #6089
It would be great if we could add a more generic test to the `pull` itself. I've modified the case to include additional 1024 files though I think it wasn't enough (still succeeds);
[code]

[2021-06-01 11:55] efiop commented on #6089
@isidentical The behavior depends on TRAVERSE_PREFIX_LEN (@pmrowla could correct me if I'm wrong), so we'll need to exceed that or, probably better, just patch it to be lower for the tests.

[2021-06-01 12:11] pmrowla commented on #6089
If you set
[code]
in your test, it should force the prefix based query for all queries w/more than one on all remote types

[2021-06-01 12:15] Huite commented on #6057
Hi @skshetry, I temporarily couldn't reproduce it either -- it appears to be an artifact of my `cd`'ing!

[code]

[code]

Depending on whether you use lower case or upper case in the cd command, it switches!

However, changing to the current directory doesn't do anything, you have to go out, and back in to switch case:

[code]

[2021-06-01 12:32] isidentical commented on #6089
Still can't reproduce :/ (Also tried setting  `LIST_OBJECT_PAGE_SIZE` though that didn't work).
[code]

[2021-06-01 13:04] pmrowla commented on #6089
Yeah I actually can't reproduce it either, testing with files containg `363` (md5 `00411460f7c92d2124a67ea0f4cb5f85`) and `jk8ssl` (md5 `0000000018e6137ac2caab16074784a6`) works for me w/S3 even when I hardcode it to do the prefix-based search

[code]

@jnd77 can you rerun your pull with `-v` and post the full log?

[2021-06-01 13:17] #6012 closed

[2021-06-01 13:24] pmrowla commented on #6089
Ok it is actually reproducible if I also hard code `LIST_OBJECT_PAGE_SIZE` to be 1 (so for large enough real-world S3 remotes we'll hit the issue)

[code]

Setting TRAVERSE_PREFIX_LEN to 2 fixes it.

For testing this we should probably just have a flag to force the traverse behavior internally.

[2021-06-01 13:44] efiop commented on #6031
Will get back to this after https://github.com/iterative/dvc/pull/5984

[2021-06-01 13:48] karajan1001 commented on #6031
Might similar to first dvc add some data then use `dvcignore` to ignore it.

[2021-06-01 13:54] efiop commented on #5866
Closing in favor of #5712

[2021-06-01 13:54] #5866 closed

[2021-06-01 14:59] dberenbaum opened #6091 "plots diff/show: configure --open flag"
Enable configuration of `dvc plots diff/show --open` flag at the project level.

[2021-06-01 15:06] dberenbaum commented on #5866
Good question. I would say just explain the priority for you in the issue whether it is urgent or not.

[2021-06-01 15:34] skshetry commented on #6091
I'd prefer it to be opened directly if it can and is a tty.

[2021-06-01 15:43] skshetry opened #6092 "plots --open: not working on macOS"
We use relpath to open files in the browser.

https://github.com/iterative/dvc/blob/59cfc2c4a43e9b9d2fdb583da80d24e82ae39c26/dvc/command/plots.py#L60

This is mostly done to support `wsl`, and the fact that all other Platform seem to work, if it's relative or absolute.

The reason why it does not work is because `web browser.open` messes up. 🤦🏼
https://github.com/python/cpython/blob/39dd141a4ba68b

[2021-06-01 16:00] skshetry opened #6093 "unify labels?"
We have too many labels, and we often just triage issues with `bug 🐛` and `pX-*` labels.

And, nowadays we have started to use feature-based labels, which add a cognitive load while trying to add labels. So, I'd propose we namespace them in small categories and try to add most of the labels from the group during triage.

(I have been experimenting with some already 😉 )

The labels group that I pro

[2021-06-01 16:46] efiop commented on #6093
Sounds great! My 2c: would prob use long prefixes instead of short ones (e.g. `status:` instead of `S:`, but still `fs:`), since that makes it less cryptic for us and for users.

[2021-06-01 20:55] shcheklein commented on #6093
💯 🙏

[2021-06-02 02:16] mattseddon opened #6094 "`list`: when adding a file to a dataset isdir is always true"
# Bug Report

## Description

When adding to a tracked dataset (folder) `isdir` from `dvc list . path/to/folder --dvc-only --show-json` is always true for the addition, even if it is a file.

### Reproduce

1. Create a new file in a tracked folder: `echo "some text" > data/MNIST/raw/newtest.txt `
2. Run list against the tracked folder: `dvc list . data/MNIST/raw --show-json --dvc-only`
3. Inspect

[2021-06-02 02:36] skshetry commented on #6093
I think the `T: discussion` is the same as `discussion` in clarity. Having smaller prefixes might make it easier/faster to triage, encourage to add more appropriate labels, and make room for a better label/category on the right-hand side.

Maybe it just needs to get used to it, similar to `p1/p2` labels instead of `priority1` that we use. I'd prefer we solve this by making short prefixes obvious.

[2021-06-02 06:57] Zaber opened #6097 "repro: rwlock file corrupted"
# Bug Report

## Issue name
repro: rwlock file corrupted

## Description
Run multiple pipelines that read the same file as input, in the middle of the process rwlock file get corrupted

## Exception
![image (1)](https://user-images.githubusercontent.com/4652316/120436152-41fc7f00-c387-11eb-8ef0-49863358e881.png)

### Reproduce

We execute a huge amount of pipelines that share the same file as inpu

[2021-06-02 07:00] skshetry commented on #6097
@Zaber, you could add in https://gist.github.com/ and post the link here.

[2021-06-02 07:06] skshetry commented on #6097
Somehow,a few entries in the json gets interleaved and thus gets corrupted. `rwlock` update is not atomic, but I would not expect it to get interleaved. hmm  🤔

[2021-06-02 07:10] Zaber commented on #6097
You are right, How you access rwlock file by concurrent processes ?

[2021-06-02 07:12] Zaber commented on #6097
access to rwlock should be atomic as it's key for shared resource

[2021-06-02 07:18] skshetry commented on #6097
@Zaber, Could you please see if writing to a temporary file and then renaming the file fixes this issue for you?

It should be changed here.
https://github.com/iterative/dvc/blob/59cfc2c4a43e9b9d2fdb583da80d24e82ae39c26/dvc/rwlock.py#L51-L52

[2021-06-02 07:21] Zaber commented on #6097
will try to use https://github.com/untitaker/python-atomicwrites to implement this techniq

[2021-06-02 08:58] aguschin opened #6098 "exp run: "duplicated env variable" error is unexpected and not informative"
# Bug Report

## Description

Changing outs from a folder to a few files in this folder produces "Duplicated env variable".
1. It's a usual thing when outputs change over time. It's not clear why this is not supported.
2. The message itself doesn’t help much with identifying the cause of the issue. At least it would be helpful to see what variable was duplicated to debug this faster.

### Reproduc

[2021-06-02 09:13] pmrowla commented on #6098
This should be fixed by updating to the latest DVC release (2.2.0)

Closing as a duplicate of https://github.com/iterative/dvc/issues/6005

[2021-06-02 09:13] #6098 closed

[2021-06-02 10:08] Zaber commented on #6097
Additional behavior in this code : if process crushes in the middle of the run
![image (2)](https://user-images.githubusercontent.com/4652316/120462017-3323c580-c3a3-11eb-86b6-7b158910e73f.png)

[2021-06-02 10:53] efiop commented on #6097
@Zaber Could you show _full_ `dvc doctor` output, please?

Are you running multiple docker containers by any chance in the same project?

[2021-06-02 12:03] pared commented on #6094
I am able to reproduce:

[code]

[2021-06-02 12:10] efiop commented on #6089
@isidentical Thanks for a quick fix! :pray:

@jnd77 We are releasing 2.3.0 right now with a temporary fix. Thanks for the feedback!

[2021-06-02 13:02] isidentical opened #6100 "ci: ubuntu 16 is deprecated and will be removed in septembed"
While checking out the CI, I've noticed a warning about this. It refers to this issue; https://github.com/actions/virtual-environments/issues/3287 which states that Ubuntu 16 images will be removed in 2021 September and canonical already stopped supporting them.

[2021-06-02 14:31] #6100 closed

[2021-06-02 14:52] dberenbaum commented on #6084
I'm not sure I fully understand either. Is this what you are trying to do:

1. run an experiment for a few epochs
2. run a separate experiment with new params for a few epochs, starting from scratch
3. return to the first experiment and add some more epochs

[2021-06-02 15:06] dberenbaum commented on #6093
I lean towards longer prefixes (even `priority1` seems good to me). If we use short ones, we probably need to explain them somewhere that's easy for users to find.

[2021-06-02 15:11] dberenbaum commented on #6093
Yeah, so why not just use `discussion` then and use the colors as categories? It doesn't seem like `T: discussion` adds much. I agree that we could get used to that over time, but again I think we need to explain them somewhere that's easy to find.

[2021-06-02 15:22] DavidGOrtega commented on #6084
@dberenbaum not really I just want to setup checkpoints to resume training if by any reason it fails. Which is a common use case for checkpoints.

[2021-06-02 15:29] pared commented on #3305
Ok, so to check if chaining imports works I created following test:
[code]

So, answering my own questions from [previous comment](https://github.com/iterative/dvc/issues/3305#issuecomment-836503176)
TLDR:
1. Do we support chaining imports now? Yes, but in very limited scope.
2. Do we have an error if we try to do "circular" import? No

Some more context:

`intermediate repo` - repository that is

[2021-06-02 16:31] efiop commented on #5912
Thinking about it some more, how about we fully get rid of updater messages, but instead just include the "update available..." with the latest version into `dvc doctor/version` output? My thinking is that `dvc doctor/version` is what people use when they run into problems and report bugs or just want to check what is the current version they are using, so that seems to be the most natural notific

[2021-06-02 18:39] Erotemic opened #6102 "Update pygtrie to 2.4.2?"
DVC seems to pin pygtrie to version 2.3.2

I'm wondering what the reason is, and if it would feasible to either upgrade to or allow usage of 2.4.2? Currently I'm unable to install dvc alongside another project that does require the latest pygtrie.

[2021-06-02 19:08] efiop commented on #6102
Hi @Erotemic . I don't think there is any particular reason, we didn't touch it pretty much since we've started using it. Please feel free to create a PR, let's see if CI passes.

[2021-06-02 19:14] dberenbaum commented on #6084
Okay, I think I understand 🤞 .

Even though it might look like the repo is starting from scratch, every time you invoke `dvc exp run` it will add another 10 epochs to the existing checkpoints. You can check this by running `dvc exp run` multiple times and then running `dvc exp show` (you should see more than 10 checkpoints and continually increasing accuracy).

Quoting from https://discuss.dvc.org

[2021-06-02 19:16] dberenbaum commented on #6084
By the way, @DavidGOrtega please follow up with what was confusing, because we are working on documenting checkpoints better right now.  cc @jorgeorpinel @iesahin

[2021-06-02 19:23] DavidGOrtega commented on #6084
@dberenbaum yes, I realised that we are adding checkpoints, the question is how I would just train X checkpoints like if I were doing it with TF, Caffe... Use Checkpoints is good mostly for:
 - resume training
 - go back to checkpoint to finetune or just when you realise that you are overfitting etc...

In CML would be fundamental to be able to continue training if the runner failed or got dispose

[2021-06-02 19:24] shcheklein commented on #6094
Some context: this one breaks a regular UI workflow on the VS code side since we rely a lot on this command now.

[2021-06-02 19:33] DavidGOrtega commented on #6084
Citing:

In my institution, we have a supercomputing grid on which we can run special “besteffort” jobs, which can be stopped at any time but can be run on more computing nodes.

Indeed is a very common scenario to fail and train from the last checkpoint covering your expected epochs and not more

[2021-06-02 19:34] dberenbaum commented on #6084
@DavidGOrtega Guess I misunderstood again 😄 . Please take a look at the discussion in https://discuss.dvc.org/t/experiments-with-checkpoint/744/4 as it seems very similar to what you are saying.

The forever nature of it is intentional AFAIK (I wasn't here for its initial development) so that users can keep going until they are satisfied with the metrics (often it will take an unknown number of it

[2021-06-02 19:39] DavidGOrtega commented on #6084
Im citing it so seems that I already read it 😉

This is a must have scenario in CML to be able to use spot instances in example.

[2021-06-02 19:43] dberenbaum commented on #6084
Yup, will the solution in that thread work for you in the short term?

[2021-06-02 19:54] DavidGOrtega commented on #6084
@dberenbaum Im not sure whats the solution. Actually for sure it does not apply to me since I have just only one stage?

[2021-06-02 20:05] dberenbaum commented on #6084
You can track the epoch number as an output and have the code exit whenever it reaches that epoch.

I also opened up a discussion: https://github.com/iterative/dvc/discussions/6104.

[2021-06-02 20:07] dberenbaum commented on #6084
By the way, if you are willing to use `dvclive`, this will take care of the epoch tracking for you, and you just need to read in the `dvclive.json` file and have your script stop when the `step` value in that file reaches your desired endpoint.

[2021-06-02 20:23] DavidGOrtega commented on #6084
thats a good idea. Only would work for python unfortunately, but I would be able to use another file tracked by DVC.

[2021-06-02 22:23] jorgeorpinel commented on #3305
Wouldn't that be the easiest approach? And is it very difficult? I imagine all you need is all the .dvc files in the chain, and the configuration of the first link. Assuming you can connect to all the Git repos, it seems doable?

That doesn't mean #4527 and #2599 aren't valuable too but this way they're separate concerns.

The edge case of circular deps can be detected by not allowing .dvc files t

[2021-06-03 00:15] pared commented on #3305
@jorgeorpinel do you mean resolving the whole chain? I think that the easiest would be to import from target repo, but that would need #4527. That way rules of import would be easy: We import from target repo, thats all. In case of resolving whole chain, well any link is missing, we are done.

[2021-06-03 00:33] pared commented on #6094
@shcheklein then I guess we should bump the importance?

[2021-06-03 01:32] jorgeorpinel commented on #3305
You're right, that would be simpler in terms of behavior. Even circular imports could happen and be fine under that approach.

But it wouldn't really constitute "chaining". Let's can call it "cascading" for now. My point is that it doesn't really answer this issue fully:

What if the target repo link doesn't keep imports in remote storage by choice (e.g. to save on storage costs)? `dvc import` wou

[2021-06-03 01:40] jnd77 commented on #6089
Thanks a lot for the quick fix. Works fine now. :)

[2021-06-03 01:47] pmrowla commented on #6089
Keeping this issue open for now since the current hotfix is just a workaround until we have a proper solution in the fsspec backends

[2021-06-03 01:54] shcheklein opened #6105 "pull: misleading/unexpected warning"
# Bug Report

## Description

`dvc pull` complained about missing cache files (locally _and_ remotely), but then downloads it successfully.

[code]

### Reproduce

For me the sequence of commands was:

[code]

### Expected

No warning.

### Environment information

[code]

[2021-06-03 02:22] shcheklein opened #6106 "list: fails if a DVC-tracked directory is empty but present"
# Bug Report

## Description

[code]

even though, this path does exist, and it is being tracked by DVC:

[code]

### Reproduce

[code]

gives:

### Expected

To see `prepared`.

### Environment information

[code]

[2021-06-03 03:06] shcheklein commented on #6105
I'm getting the same with other commands (e.g. `dvc list -R`). I think the reason for this is that `8a31b1338b609cf1133d1df639de606c.dir` corresponds to the `import` stage:

[code]

And `pull` seems to work fine, but somewhere we are trying to collect it in the same way as a regular output?

It leads to these sporadic warnings here and there.

[2021-06-03 05:30] skshetry commented on #6093
This is not what the issue is about. `discussion` is more than enough, but these kinds of labels grow over time, especially when we want to add labels based on features. We already have to scroll through ~64 labels to just find the one that suits it.

With the above proposal, I can just type `T: ` or whatever the prefix is for each of the group and select appropriate labels.
The idea is to add mor

[2021-06-03 07:28] aguschin commented on #6072
@skshetry, is this also indended? One may want to provide an empty parameter value:

[code]

[2021-06-03 08:29] aguschin opened #6107 "More flexible dvc.yaml parameterisation"
## Context

One of DVC usage scenarios we should consider is the following:
1. User has a big and complex real-life repo and workflows around it (one example is CI/CD)
1. User wants to apply DVC without modifications to his current scripts, because that will trigger code changes in subsequent workflows, which the user don’t want to do right now, but rather later, when DVC will be integrated and wi

[2021-06-03 08:29] aguschin commented on #6107
@skshetry, I tag you because AFAIK you work with yaml in DVC a lot :)

[2021-06-03 09:12] skshetry commented on #6107
1. We have discussed this before. It's very opinionated to assume it to be `--flag=value`. What if some user wants it in `json` to pass to `jq` for example? So, it's hard to make this decision for the users.

2. Could you please create a separate issue for this? It's an `experiments` related issue, stemming from the checks here:
https://github.com/iterative/dvc/blob/eb46c03c6c02e837c09d76cc3c96c88

[2021-06-03 09:42] pared commented on #6105
I am able to reproduce:

[code]

This is interesting one. Seems like solving #4527 should help with it. But, since the imported data can be `update`-ed, doesn't it mean that status should work differently? Eg warning for import should show only if we don't have access to source repo?

[2021-06-03 09:49] friggog opened #6108 "azure - dvc fetch with SPA fails on DVC 2.3.0"
After updating from DVC 2.2.0 to DVC 2.3.0 I get the following error when running `dvc fetch` on Azure Devops CI with Service Principal Authentication

[code]

DVC 2.2.0 works fine in this scenario, and using DefaultAzureCredential with DVC 2.3.0 on my local machine also works.

Don't have time to get a full stacktrace right now but wanted to log this to come back to at some point - locking to DVC

[2021-06-03 11:45] dberenbaum commented on #6106
@shcheklein could you give some context on priority?

[2021-06-03 13:34] dberenbaum commented on #3305
I looked quickly at the discord message but didn't really get the context. It sounded like it's pretty easy to work around this be doing `get`/`add`, so I'm unclear how much this is a need? Maybe the simplest solution is to improve messaging so that it's clear what's happening when someone tries to do a chained import and explains what to do.

[2021-06-03 14:09] zimka commented on #5546
Is there any news regarding this issue?
It looks like the speed difference between `dvc pull` and `dvc import` is not caused only by threading problem (in code ThreadPoolExecutor is used in both cases).
I have made some tests, and even on single core machine with --jobs=1 `dvc pull` worked for me several times faster than `dvc import` on `data/cat_dogs' dataset from dvc-bench

[2021-06-03 14:12] dberenbaum commented on #6093
So you specifically want to avoid long prefixes because they are more typing?

The points I was trying to make were:
1. Color cues are similarly powerful visual cues to me as a short label like `T:`.
2. For searching, anything in the description will be included in the search, so I don't see much difference between having categories in the label or the description.

I'm fine with whatever you want

[2021-06-03 14:23] dberenbaum commented on #6107
@aguschin Have you tried to search through past issues and discussions for context?

@skshetry Are there past issues or discussions that you could provide for context? I can try to find some, but I thought you might be more familiar.

For example, AFAIK, the current templating was an intentional choice to add some limited flexibility without the complexity of a full templating language or python A

[2021-06-03 14:32] gus0k opened #6112 "DVC pipelines for training and production"
Hi, we are trying to set up a project using DVC and we are running into some design questions regarding best practices for training locally and deploying a model in production for inference.

As of now:

* We have a script that splits the dataset into train & test
* We have several scripts that clean the data (read from train & test)
* We have several scripts that extract features from the data (r

[2021-06-03 15:13] jaiswalvineet opened #6110 "Getting invalid syntax issue with Python 3.8"
I am getting this issue and not able to resolve it

[code]
python version : Python 3.8.5
pip version : pip 21.1.2 from /opt/anaconda3/lib/python3.8/site-packages/pip (python 3.8)

let me know if other information needed

[2021-06-03 15:22] skshetry commented on #6110
@jaiswalvineet, you have asyncio as a 3rd party package. It's not needed in 3.8, it shouldn't be installed. Please try uninstalling it and see if it works.

[2021-06-03 15:28] jaiswalvineet commented on #6110
thanks for the reply, I am not getting this error now, just curious why it conflicted, I believe I installed this asyncio when I was working Azure CLI, where it was required

[2021-06-03 15:29] #6110 closed

[2021-06-03 16:46] efiop commented on #6105
@shcheklein Thanks for the report! :pray: From a quick look, the bug is only present in the upstream, and is not present in stable versions (2.3.0 being the latest one). I will be fixed in the next release.

[2021-06-03 17:33] jorgeorpinel commented on #3305
Yeah it's an old chat. I wouldn't worry too much about that particular case but indeed it's unclear whether this is needed. At some point it was prioritized as p2 so we probably thought it was somewhat important.

I don't think that's a workaround because you can even `get` an import. The Q is if there's a repo somewhere (which you don't control) with imported data, and you want to import from the

[2021-06-03 19:00] efiop commented on #6083
@casperdcl unable to reproduce on my machine. After you run into the issue, could you show

[code]

please?

[2021-06-03 21:15] shcheklein commented on #5562
For the record, from Discord:

DVC cache is not feasible to store outside of NAS due to its size.

[2021-06-04 00:25] agurtovoy commented on #4420
If anyone is looking for a workaround for this while the team is working on a more permanent fix, installing DVC from [this fork](https://github.com/agurtovoy/dvc) will allow you to configure DVC to store its SQLite-based state and remote indexes somewhere else:

[code]

[2021-06-04 00:32] casperdcl commented on #6083
I dont have `1b/263...` but do have `b4/bc4...`

[code]

[2021-06-04 00:54] shcheklein commented on #6106
We can discuss this on the next VS Code <> DVC meetings what would be the best way for us to communicate - regular issues vs those that we have in VS Code. Broadly speaking, VS Code depends on `dvc list`, `dvc diff`, `dvc status`, `dvc pull`, `dvc checkout` in its basic (files/datasets) feature. And it uses those commands to the full extent - different options, targets, etc - and we see a lot of r

[2021-06-04 01:16] shcheklein commented on #6107
Interesting point about passing params to a script.

I think we still should till try to analyze how common for DVC users it would be (vs `json to jq` which is quite artificial compared to YOLO5 repo). It might turn out that but giving this option (not making it default) we can simplify a lot of ML scenarios.

[2021-06-04 01:29] #6112 closed

[2021-06-04 05:19] jorgeorpinel commented on #1416
Possibly another application for this suggested in https://github.com/iterative/dvc/discussions/6113#discussioncomment-823935.

[2021-06-04 09:15] JeremiasThun opened #6114 "dvc pull: Missing dependenies [pyarrow] but it is installed"
# Bug Report

## Description

With `dvc pull` on my Macbook, I can't connect to a HDFS because there appears to be a missing dependency: `pyarrow`, even though pyarrow is installed and up to date.

`pip install pyarrow` returns:
[code]

### Reproduce

1. git clone https://neemgit.informatik.uni-bremen.de/neems/ease-2020-avatar-fetch-and-place-episode
2. dvc pull

### Expected

To download the data

[2021-06-04 09:16] JeremiasThun commented on #6114
`pip install pyarrow` returns
[code]

[2021-06-04 09:25] pmrowla commented on #6114
Looks like there is some issue with the DVC homebrew package not recognizing homebrew's apache-arrow/pyarrow installation.

In the meantime, you can workaround this by just installing DVC via pip instead of homebrew

[code]
or if you only want HDFS remote support:
[code]

[2021-06-04 10:07] JeremiasThun opened #6116 "dvc pull: Unable to load libjvm"
# Bug Report

## Description

With `dvc pull` on my Macbook, I can't connect to a HDFS because it is "unable to load libjvm". Connecting via SSH is working.

*Error-Message:*

`ERROR: unexpected error - Unable to load libjvm: dlopen(/lib/server/libjvm.dylib, 6): image not found`

### Reproduce

1. git clone https://neemgit.informatik.uni-bremen.de/neems/ease-2020-avatar-fetch-and-place-episode
2.

[2021-06-04 10:09] JeremiasThun commented on #6114
Using `pip install` leaves me with the same error. Using `pipx install`, I get a different problem: #6116

[2021-06-04 10:49] skshetry commented on #6072
For the record, replied in https://github.com/iterative/dvc/issues/6107#issuecomment-853718432.

[2021-06-04 12:50] pared commented on #6108
@friggog would it be possible to attach the log for `dvc fetch -v` on failing machine-dvc configuration?

[2021-06-04 13:47] efiop commented on #6114
IIRC, the problem is that libhdfs is not available through homebrew https://github.com/iterative/dvc/issues/4656 , so one needs to compile it,

An alternative is to use `webhdfs` instead. Is it available for you?

[2021-06-04 15:57] scotty3005 opened #6118 "Not chunked upload to HTTP remote"
Hi,
recently I have experimented with DVC and HTTP remotes.
Problems that I had to solve:
- Server was not allowing HEAD requests and responding to the GET request had status code 404, which is not actually checked by DVC.
- Server not accepting chunked uploads

It would be super helpful to be able to detect the possibility to send or not chunked file uploads or at least a configuration option to

[2021-06-04 16:49] friggog commented on #6108
Happens specifically when fetching a file inside a directory which is tracked with DVC (not for files tracked directly).

[code]

[2021-06-04 17:01] giaco5988 commented on #5546
Same issue here, when I try to `dvc get` a folder from an external project I get very slow download compared to `dvc pull` the same folder from inside the repository (~50x slower). The folder that I am trying to get containing ~50k files.

[2021-06-04 19:44] seunboy1 opened #6119 "dvc add --external s3://mybucket/existing-data: The specified key does not exist.: An error occurred (NoSuchKey) when calling the CopyObject operation: The specified key does not exist."
# Description
I have been trying to version a directory(S3 key) containing various tfrecord on S3 bucket but each time I try it always end up with this error " ERROR: unexpected error - The specified key does not exist.: An error occurred (NoSuchKey) when calling the CopyObject operation: The specified key does not exist."

However, what I noticed is that it deletes the actual data from `s3://mybu

[2021-06-04 20:43] shcheklein commented on #6106
VS Code alpha users hit this issue: https://github.com/iterative/vscode-dvc/issues/529

[2021-06-04 21:25] efiop commented on #5546
@zimka @giaco5988 Hi guys. Could you please post additional info? E.g. `dvc doctor` output.

[2021-06-04 21:48] giaco5988 commented on #5546
below the output from `dvc doctor`. As a workaround, I have tried to compress the dataset and run `dvc get` from outside the repository on the zipped file, in this way the download is as fast again, so it seems that the slow-down comes from having a large number of files?

`DVC version: 2.3.0 (snap)
---------------------------------
Platform: Python 3.6.9 on Linux-5.4.0-74-generic-x86_64-with-Ubun

[2021-06-05 02:39] karajan1001 commented on #6106
duplicated with #5841 ?

[2021-06-05 03:23] karajan1001 commented on #6114
I'm using Macbook with (M1 chip) which has a lot of compatibility issues, I remember that `pyarrow` was one of them. Install from `conda` works for me.

[2021-06-06 10:48] efiop commented on #6119
Hi @seunboy1

Please note that `--external` is an experimental feature, we do not recommend using it in production for now.

Please add `-v` to the command you are running and show us full log.

That is correct behavior, `--external` artifacts are never brought locally and things like `dvc pull/push/etc` do not affect them. Maybe you are actually looking for `dvc add --to-remote`?

[2021-06-06 11:20] seunboy1 commented on #6119
Hi @efiop

That is quite strange because i reverted back to version 2.0.17, `--external` works and a data.dvc file was created locally. Does that mean that in version 2.3.0 `--external` should be replaced with dvc add --to-remote` and there is no need for an external cache directory?

[2021-06-06 13:54] efiop commented on #6119
@seunboy1 Ah, sorry, I thought you meant that `data` is not created locally. You are right, `data.dvc` should be created locally.

[2021-06-06 14:01] seunboy1 commented on #6119
@efiop Thank you for the clarity. So i am guessing that's a bug in v 2.3.0 with versioning data on s3.

[2021-06-06 14:16] efiop commented on #6119
@seunboy1 Could you add `-v` to the command you are running and show us full log, please?

[2021-06-06 14:41] seunboy1 commented on #6119
@efiop
[code]

[2021-06-06 15:20] efiop commented on #6119
@seunboy1 Are both data that you are trying to add and cache.s3 location on the same bucket?

[2021-06-06 15:41] seunboy1 commented on #6119
Yes they are.

[2021-06-06 15:43] efiop commented on #6119
@seunboy1 Thanks for clarifying. Need to take a closer look. In the mean time, could you elaborate on your scenario?

[2021-06-06 16:12] seunboy1 commented on #6119
Alright, I am currently trying to version data and models residing in S3. I had done these already about a month ago and it worked perfectly however I tried it again about 3/4 days ago that's when i got those errors. Although, currently I am sorted because I  reverted to v2.0.17

[2021-06-06 17:55] shcheklein commented on #3590
Getting back to this (as I'm playing more with it). It would significantly improve usability of the `dvc list` locally if make it `ls` semantics (recognized cwd automatically).

E.g. I was trying to see what outputs exist in the `https://github.com/iterative/get-started-experiments/`:

[code]

It returns root:

[code]

Trying:

[code]

Also returns root.

[code]

Fails:

[code]

Also fails

and so

[2021-06-06 17:55] shcheklein commented on #3590
I think this will be also part of the making `list`, `diff`, etc stable to integrate properly with VS Code.

[2021-06-07 00:13] shcheklein opened #6122 "list: doesn't ignore gitignored files"
# Bug Report

## Description

`dvc list -R . . ` lists `.env` even if it is part of the `.gitignore`

It's related to https://github.com/iterative/dvc/issues/5712, and we should understand what do we expect. But it's a bug from the current implementation perpective.

### Reproduce

[code]

Returns:

[code]

### Expected

Probably no `.env` (it's very inefficient) and probably breaks the current lo

[2021-06-07 00:46] shcheklein opened #6123 "list: no remote specified error when we don't need remote at all"
# Bug Report

## Description

`list`  (and probably other commands) complains about remote not being specified in case I don't need it at all. DVC

### Reproduce

[code]

Produces:

[code]

### Expected

List of files.

### Environment information

[code]

[2021-06-07 00:52] shcheklein opened #6124 "pull: granular pull of a single file triggers full imported dataset download"
# Bug Report

## Description

Looks like `dvc pull dataset/file` triggers the full dataset download if `dataset` is an import from another repo.

### Reproduce

[code]

Produces `1 file modified and 4 files fetched` and downloads all files.

### Expected

I would expect to see `1 file modified and 1 file(s) fetched`

### Environment information

[code]

[2021-06-07 01:20] shcheklein opened #6125 "pull: fails with NoneType error on non-existent target inside a DVC-tracked out"
# Bug Report

## Description

`dvc pull` with a non-existent target inside DVC-tracked dir fails with `'NoneType' object has no attribute 'name'`

### Reproduce

(most likely can be reproduced by pulling inside a DVC-tracked directory a non existent target)

[code]

Produces:

`ERROR: unexpected error - 'NoneType' object has no attribute 'name'`

### Expected

Doesn't pull anything, saying that fi

[2021-06-07 02:31] skshetry commented on #3590
The workaround for now is to do `dvc list $(git root) <path relative to git root>`.

[2021-06-07 02:36] skshetry opened #6126 "type hinting: add types to objects and output/dependency"
As this is a core part of the DVC and a fresh codebase, it should have a good amount of type-hints. We should have complete coverage of types in the objects and good enough on the output/dependency.

This should help us improve type coverage in the other parts of the codebase too.

[2021-06-07 02:48] skshetry opened #6127 "types: add type hints to `dvc.fs`"
Having a `dvc.fs` with good type coverage will help us find subtle interactions with `dvc.objects` and the workspace.

With fsspec not being tied, and the way we have structured the hierarchy, it might not be possible to type-check completely. So, I only expect the `BaseFileSystem` to be type-checked in the API and the implementation/internals could be ignored or type-casted. (also, `LocalFS`/`Git

[2021-06-07 04:42] skshetry commented on #6126
Also, some documentation would be nice, clarifying the concepts and some references.

[2021-06-07 05:41] Zaber commented on #6097
Hi, no. It's different pipelines that share the same stage that running in parallel.

[2021-06-07 08:54] Zaber commented on #6097
![image](https://user-images.githubusercontent.com/4652316/120988219-0860b500-c787-11eb-9a85-342c97917040.png)
Continue to get errors now on lock file itself

[2021-06-07 09:33] #5832 closed

[2021-06-07 10:03] pared commented on #3305
It seems that this particular use case is not "that" popular. It seems that it could be solved by simply implementing #4527. I think what I am looking for is if there is a reason/use case when we would like to resolve whole import chain and import data from source, rather than import it from last link of import chain.

[2021-06-07 10:05] aguschin opened #6129 "exp run: fails when empty string or nothing is supplied"
# Bug Report

## Description

When I try to run experiment and set some parameter to be empty or "", I get an error.

### Reproduce

[code]

### Expected

For the `dvc exp run -S param=` I expected to get the following:

[code]

And for the `dvc exp run -S param=""` I expected to get:
[code]

### Environment information

Checked this few days ago on dvc installed from the commit in master branch 2

[2021-06-07 10:06] aguschin commented on #6129
@skshetry, created an issue, as you requested https://github.com/iterative/dvc/issues/6107#issuecomment-853718432

[2021-06-07 10:37] isidentical commented on #6023
Pre-requisite: https://github.com/intake/filesystem_spec/pull/658

[2021-06-07 11:37] Christoph-1 commented on #5130
I tired today again with dvc version 2.3.0+2f8cf8. I'm getting the below error.

[code]

When I upload a file manually using:
[code]
then it works and the file is uploaded to the S3 bucket. How can this issue be resolved? Do you need any more information to reproduce the issue?

[2021-06-07 13:00] gus0k commented on #5172
Hi, any updates on this feature? I would be really interested in this

[2021-06-07 13:38] dberenbaum commented on #6106
#5841 doesn't look like it's a dvc-tracked directory, but otherwise they look the same, and I don't think that part should matter here? In either case, `dvc list` should show the directory and not throw an error.

[2021-06-07 13:41] ClementWalter commented on #5172
I am glad to work on it as well if we have a go from the dvc team

[2021-06-07 13:53] johnnychen94 commented on #5172
The matrix loop is a very trivial case in that it introduces a dense parameter grid. There will always be a need to run a "filter" on this grid to reduce unnecessary tasks.

It would be nice if DVC defines an interchangeable protocol for multiple parameterization tasks so that people can write their own task generation script when needed. The "params.yaml" example I provide in https://github.com/i

[2021-06-07 14:02] jmblackmer commented on #5562
@efiop Do you have an updated ETA? I was having another issue [described here](https://discuss.dvc.org/t/error-with-dvc-import/755/4) that turned into [this issue](https://github.com/iterative/dvc/issues/4420) after upgrading to 2.3.0 on Friday. My team is doing a large amount of restructuring of storage for our projects in 2 weeks and I'd like to have a plan or workaround when we start. Is it lik

[2021-06-07 14:43] shcheklein commented on #6106
Quick note: I know that `get-started-experiments` has changed underneath us. Please let me know if you need a better reproduction script. The current one is not exactly correct. I'll try to update it today. And sorry about that, I'll be using `mkdir` style going forward.

[2021-06-07 14:46] pared commented on #6116
Hello @JeremiasThun!
This seems to be related to how pyarrow handles lack of libjvm. If you rerun command with verbose option (`dvc pull -v`) You can see that it is `pyarrow` throwing and error. So the problem here is not lack of connection to university network, but lack of proper libraries required for `pyarrow` to work properly. Do you have `hdfs` configured on your computer?

[2021-06-07 15:36] #5865 closed

[2021-06-07 16:49] efiop commented on #5557
Closing as stale.

[2021-06-07 16:49] #5557 closed

[2021-06-07 16:50] efiop commented on #5558
Closing as stale. Please let us know if the issue is fixed for you or not. Thanks for the feedback.

[2021-06-07 16:50] #5558 closed

[2021-06-07 16:52] lassepe opened #6130 "`Include` in `~/ssh/config` is ignored"
## Description

Adding a remote via, e.g. `dvc remote add myremote ssh://<some-remote-in-my-config>/path/to/repo` seems to only consider configuration at the top-level of `~/.ssh/config`. My ssh config is structured to include a number of sub-configs; that is, I have the following at the top of my config:

[code]

To include all configs from the `~/.ssh/subconfigs/`. Unfortunately, this include st

[2021-06-07 17:01] efiop commented on #6097
@Zaber Could you run `dvc doctor` inside of the repo and show full output, please?

[2021-06-07 22:33] efiop commented on #5677
@witrin @bachsh Hi guys, are you still running into this issue with the latest dvc (2.3.0)? If so, could you show a verbose log, please? (add -v to the command you are running)

[2021-06-07 22:59] mattseddon opened #6132 "`exp show`: unable to run in parallel with `status` and `diff`"
# Bug Report

## Description

In the vs code extension we use file watchers to trigger commands that provide data for the UI. `status`, `list` and `diff` are run on any change in the workspace. `exp show` is run whenever there is a change to `.git/refs/exps`. If these four commands run at the same time then `exp show` will always fail.

Note: we have excluded `.git/refs/exps` from the base watcher

[2021-06-07 23:08] mattseddon opened #6133 "`status`: fails whenever an experiment is running"
# Bug Report

## Description

In the vs code extension we use file watchers to trigger commands that provide data for the UI. `status`, `list` and `diff` are run on any change in the workspace. If our demo project `status` will fail for the entire duration that an experiment is running.

Note: We have implemented a retry on our end (that uses an exponential backoff) to cater for this situation.

#

[2021-06-07 23:09] efiop commented on #6083
@casperdcl Sorry for the delay. Thank you! Can confirm the bug, looks like we are forgetting to unprotect the checkpoint somewhere. Here is a universal reproducer:

[code]

Looking into it...

[2021-06-07 23:18] casperdcl commented on #6083
Somewhat related: maybe `dvc doctor` should also output `dvc config --list`?

[2021-06-07 23:22] efiop commented on #6083
Ok, so when launching a run we correctly unprotect `model.pt`, but then when processing the first checkpoint we are committing in monitor https://github.com/iterative/dvc/blob/1335c7f5e4ae5a3553e5d231235cbfca55594489/dvc/stage/monitor.py#L77 , which by default tries to replace the artifact with a link to cache, so that's why we get a read-only hardlink there. So we just need to either not link or

[2021-06-08 00:40] jorgeorpinel commented on #3305
OK, agree.

[2021-06-08 01:52] mgoldchild commented on #5972
I have similar problem.
Following message is error message in my case.

[code]

[2021-06-08 05:14] pmrowla commented on #5972
This issue should be resolved in 2.3.0

In 2.3.0 `ssl_verify` for S3 remotes can be used to point directly to a custom CA bundle, the same way you would use it with `boto`. If `ssl_verify` is unset in your remote config, DVC will fall back (via boto) to the CA bundle specified in your `~/.aws` config (previously leaving `ssl_verify` unset would force the default value to `True`)

[2021-06-08 06:07] pzhy13 commented on #5842
I am facing the similar problem, and my add.prof file is here.
https://github.com/pzhy13/fyp/blob/main/add.prof
Also my dvc doctor:
DVC version: 2.1.0 (exe)
---------------------------------
Platform: Python 3.8.9 on Windows-10-10.0.14393-SP0
Supports: All remotes
Cache types: hardlink, symlink
Cache directory: NTFS on D:\
Caches: local
Remotes: None
Workspace directory: NTFS on D:\
Repo: dvc, git

[2021-06-08 07:26] Zaber commented on #6097
No, we currently don't execute in inside containers.
dvc doctor output > curent version is my development build on top of 2.0.18 with fix to rwlock mutual exclusive r/w operations
--------------------------------------------
DVC version: 2.0.18+d02ab4.mod
---------------------------------
Platform: Python 3.8.8 on Linux-4.18.0-240.22.1.el8_3.x86_64-x86_64-with-glibc2.10
Supports: http, https, s3
C

[2021-06-08 07:29] Zaber commented on #6097
all jobs executed inside IBM computer cluster with jbsub operations. So each job run on different cluster node but all storage of .dvc is on centralized manager node

[2021-06-08 09:39] pared commented on #5842
We could get back to this subject, it will probably require setting up (another runner)[https://github.com/iterative/dvc-bench/issues/196#issuecomment-669877825]. We have been considering upgrading our linux one, so maybe we could join those tasks.

[2021-06-08 11:41] Zaber commented on #6097
sure, will try. 10x

[2021-06-08 12:06] guysmoilov commented on #5677
@efiop I see that we get the prompt now!
But still seeing issues.

Here is the output trying to get a specific file:
[code]

Here is the output trying to get a directory:
[code]

Here is a publicly readable copy of the repo, where you can see the managed DVC files I'm trying to `dvc get`:
https://dagshub.com/Guy/public-dvc

[2021-06-08 12:37] karajan1001 commented on #6106
#6120 might fix it, and we have a reproduction script in it.

[2021-06-08 15:15] SanderNugteren opened #6138 "DVC push hangs when pushing via SSH"
DVC version: dvc[ssh]==2.3.0 (I have also tried to downgrade to 2.2.0 and 2.1.0, same result unfortunately)
OS: Windows 10
Python version: 3.9.5

I am trying to set up a data registry on a SFTP server. I have `dvc add`ed all my files, set up the remote:
[code]
and set up the password of this user on this server:
[code]
However, when I push, I see it's checking my local cache (this works), but even

[2021-06-08 17:44] isidentical commented on #6089
All cloud providers now support `find(..., prefix=...)`. I'm awaiting some changes on the adlfs side for an edge case, but after that we should be good to go.

[2021-06-08 17:53] efiop commented on #6089
@karajan1001 FYI ^^^ Please check that ossfs supports it as well.

[2021-06-08 22:13] jorgeorpinel commented on #6084
Agreed ⌛

But note that this one example repo isn't used much in docs other than linked for a couple places: in https://dvc.org/doc/user-guide/experiment-management#checkpoints-in-source-code and bottom of https://dvc.org/doc/dvclive/dvclive-with-dvc . And it's README is explicit about this behavior (see https://github.com/iterative/dvc-checkpoints-mnist#experimenting). @DavidGOrtega may I ask how

[2021-06-08 23:03] mgoldchild commented on #5972
@pmrowla thanks! After setup `use_ssl = false`  in dvc config. SSL error was not displayed !

[code]

[2021-06-08 23:03] mgoldchild commented on #5972
@pmrowla thanks! After setup `use_ssl = false`  in dvc config. SSL error was not displayed !

[code]

[2021-06-08 23:40] pmrowla commented on #5972
@mgoldchild just so you are aware, that will disable SSL (HTTPS) entirely. If you were looking to use SSL with a self-signed certificate, you should be using the `ssl_verify` config option, and not disabling `use_ssl`.

[2021-06-09 05:20] zimka commented on #5546
My dvc doctor:
[code]
I have reproduced the issue on Ubuntu and fedora on other 2.0+ dvc versions too.

[2021-06-09 09:34] larsmelcher opened #6141 "Support provision of Client Keys for SSE-C Server Side Encryption"
Hey! I'm using dvc[s3]==2.3.0 with python 3.8 to version files to a minIO s3 instance.
Server Side Encryption with Client provided keys (SSE-C, see: [Amazon Doc](https://docs.aws.amazon.com/AmazonS3/latest/userguide/specifying-s3-c-encryption.html) and [minIO Doc](https://docs.min.io/minio/baremetal/security/encryption/server-side-encryption-sse-c.html#encrypt-an-object-using-sse-c)) should be use

[2021-06-09 09:37] efiop commented on #5562
Hi @jmblackmer . Thank you for your interest! As you've noticed, thanks to @agurtovoy we have #6111 :pray: that solves those particular issues. I can't give an ETA on it yet, as there are a few questions that we need to discuss there first. Just to make it clear, #6111 solves the issues, but we just want to make sure that we are providing the most seamless solution or have a clear plan to improve

[2021-06-09 13:40] PythonFZ opened #6143 "`plot diff`: won't work with only numeric experiment names"
# Bug Report

## Description

I ran multiple experiments with different sizes and layers and I named them by their neurons per layer like:

![image](https://user-images.githubusercontent.com/46721498/121362102-26204c80-c936-11eb-927d-d2d241b78f23.png)

I can not run `dvc plots diff 8 16 32 64 128`
`ERROR: unexpected error - 8: ambiguous lookup - OID prefix is too short`

It works as soon as non nu

[2021-06-09 13:50] jdonzallaz opened #6144 "repro: checking several times for empty deps"
# Bug Report

## Description

I have a deps file which is empty (it is expected).
DVC is showing multiple warnings for this during dvc repro.

### Reproduce

1. having a pipeline with an empty file as deps.
2. dvc repro

This gives me, for a 3-stages pipeline:

[code]

### Expected

Only one warning (and/or a configuration flag in dvc.yaml to suppress the warning).

### Environment information

**

[2021-06-09 15:10] dberenbaum opened #6145 "plots: support images"
Adding support for handling images as plots outputs so they can be compared between experiment revisions.

The design spec is available in https://www.notion.so/iterative/Experiment-Images-3fd1a4f5df7e4c27be005a1e1e7807bb#d37c871a3c9440d79589b0861b24541b.

This issue should cover research into implementation and should result in a clear implementation plan, including the creation of new issues nee

[2021-06-09 15:22] dberenbaum opened #6146 "Error handling for VS Code"
Extracted from https://github.com/iterative/dvc/pull/5984#issuecomment-850465149.

How can the granular error info from that PR be consumed by VS Code (and possibly other apps)? Need a way to pass that info in a machine-readable format. Also need to consider whether this is generally useful information for all users who want machine-readable output, or is this a special format for VS Code and mayb

[2021-06-09 15:29] dberenbaum opened #6147 "Generalized brancher error handling research"
#5984 implements granular error handling so that errors from particular files or revisions do not throw and break the entire command output for plots/metrics/params/experiments show. This behavior is useful generally across many dvc commands, so it needs to be implemented more generally close to the brancher level, which iterates over revisions.

Background:
#5984#issuecomment-841069142
#6039

The

[2021-06-09 15:49] pared commented on #6146
Related #6039

[2021-06-09 17:53] pbarker opened #6148 "Support OCI backend"
Would be nice if DVC could work off of OCI storage using something like https://github.com/oras-project/oras

[2021-06-09 18:42] dberenbaum commented on #5489
Related (duplicate?): #4649

[2021-06-09 18:54] dberenbaum commented on #5676
`dvc exp remove -A/--all-commits` might also be useful.

@pmrowla What do you think about moving up the priority of this one? The workaround is not difficult, but it's not that easy for people to find in this thread, and it seems like it's a straightforward feature to implement.

[2021-06-09 19:38] dberenbaum commented on #5489
Seems like this could be handled using flags similar to those found in other dvc commands already:

[code]

The same options could probably apply `dvc exp list`.

[2021-06-09 21:48] efiop commented on #6148
@pbarker Thanks for the request! For the record: we are migrating to fsspec right now https://github.com/iterative/dvc/issues/5162 , so if anyone will be willing to add support for OCI to dvc, they would need to implement fsspec-compatible `OCIFileSystem` first and maintain it in a separate project. After that, dvc will be able to use it as a plugin (the mechanism is to be implemented in the near

[2021-06-10 01:18] mattseddon commented on #6146
[This comment](https://github.com/iterative/vscode-dvc/issues/330#issuecomment-858206437) is related (please hit me up for more context if needed).

[2021-06-10 01:49] pmrowla commented on #5676
I guess we just need to be clear that by workspace here we mean all experiments based on the current HEAD right?

Regarding priority, I think it's up to you. This is an issue that anyone should be able to fix - codebase-wise, it won't actually require touching anything on the experiments internals side of things.

[2021-06-10 02:01] pmrowla commented on #6143
The problem isn't specific to numbers, if you used any short experiment name that only contained hex digits (`0-9a-f`) you'd see the same problem. The issue is that pygit thinks your experiment name looks like a shortened git commit SHA, and that the shortened SHA matches commits in your repo. In this case, `8` will match against any git commit in your repo that starts with `8...`.

What we need t

[2021-06-10 05:19] skshetry commented on #6076
It's more like not everyone in the team is convinced about changing the internal schema for the JSON schema support, so it's stuck. If you want to add support for it, [`dvcyaml-schema`](https://github.com/iterative/dvcyaml-schema) would be the place for now.

[2021-06-10 05:45] PythonFZ commented on #6143
Thanks for the detailed explanation. I went with `_8` for now, which works seamlessly.

[2021-06-10 08:08] Zaber commented on #6097
Hi, `dvc config core.hardlink_lock true` did a great job and we succeeded do finish the bulk of running jobs without a crash.
Now i am going to check  if rwlock issue also solved by this change, will update

[2021-06-10 08:52] chronicc opened #6149 "dvc pull: fails when .dvc directory is symlinked"
# Bug Report

## Description

When the .dvc directory is symlinked (e.g. when using within bazel) running a dvc command throws an error that the `config.local` is outside of the git repository.

[code]

### Reproduce

1. mkdir -p reproduce/{main,other}
2. cd reproduce/main && git init && dvc init
3. cd ../other && ln -s ../main/.dvc && ln -s ../main/.git
4. dvc status

### Expected

When using the

[2021-06-10 08:53] #6083 closed

[2021-06-10 09:41] isidentical commented on #5969
See: https://github.com/dask/s3fs/pull/495

[2021-06-10 12:08] aguschin opened #6150 "plots diff: unnecessary requirement for dvc.yaml to be valid"
# Bug Report

## Description

`dvc plots diff --targets metrics/metrics_precision.tsv -- master` fails because of invalid dvc.yaml, though AFAIK no dvc.yaml is really required to plot this (the metrics_precision.tsv file is tracked with Git). This is how this plot looks like when produced with valid dvc.yaml
![Screenshot 2021-06-10 at 14 45 03](https://user-images.githubusercontent.com/6797716/121

[2021-06-10 12:34] dberenbaum commented on #5676
Right, it should match `dvc exp show`, which is described in https://dvc.org/doc/command-reference/exp/show#description:

Yes, this could be a good opportunity for either one of the other devs or contributors.

[2021-06-10 13:13] SanderNugteren commented on #6138
Running verbose and with one job I get this:
[code]
Also, I can't kill the terminal using CTRL-C when the command reaches the point of querying the cache (I can stop it earlier using CTRL-C)

I tried to pipe stderr and stdout to a file like so, but it contains pretty much the same thing:

[code]

I also got some logs from the server. According to devops, they noticed me repeatedly connecting and d

[2021-06-10 15:40] paantya commented on #4883
Hydra has been updated and now these are not such "experimental" functions as they were before!
@sjawhar

[2021-06-10 16:01] dberenbaum commented on #6150
This is a good example to support having the plots configuration separate from `dvc.yaml` (see https://github.com/iterative/dvc/discussions/5980#discussioncomment-756630 and #5942). I don't even think it's possible to save a plots config for a plot now unless it's an output of a DVC stage.

[2021-06-10 16:06] rogermparent commented on #6146
I think any API-via-CLI we add to DVC should be in a format that's usable by as many applications as possible, even if VS Code is going to be the only one using it for a while.

## Formatting Errors

I think a simple, flexible way to convey errors in JSON is a consistent error type like `{ type: string, ...rest }` with `rest`'s shape (if any) being defined by each `type`. This allows for errors to

[2021-06-10 18:13] gbmarc1 opened #6152 "git: failed to check if path is gitignored"
# Bug Report

## Description

Repro fails at then end when calculating a hash for an output for both ``dvc repro`` and ``dvc exp``. I am not even sure the dvc.lock is updated appropriately.

### Reproduce

[code]

[code]

Error stack Trace:
[code]

`ls -al src/${projectName}/artifacts` :
[code]

`cat dvc.lock`:

[code]

### Expected

DVC should not fail and update the `dvc.lock` file.

### Environ

[2021-06-10 18:22] efiop commented on #6152
@gbmarc1 Hi. Could you show full `dvc doctor` output, please? Looks like part of it didn't get pasted

[2021-06-10 18:32] gbmarc1 commented on #6152
Its already there. Last code block

[2021-06-10 18:46] efiop commented on #6152
@gbmarc1 It is not full, the version is missing. E.g.

[code]

[2021-06-10 20:43] gbmarc1 commented on #6152
I modified the code block

[2021-06-10 22:26] sjawhar commented on #4883
Indeed! I just did a quick test and it seems like it might work. I'd have to refresh myself on the DVC param parsing codebase (It's been a while since I last contributed), but this could mean that DVC wouldn't need to maintain any param merging logic :)

[code]

[2021-06-10 22:27] efiop commented on #6152
@gbmarc1 Thanks! Could you also show `pip freeze | grep dulwich`, please?

To clarify, the error happens when we try to check if a certain path is gitignored already or not. Not related to big fiels or hashes, really.

[2021-06-11 01:16] gbmarc1 commented on #6152
`dulwich==0.20.23`
Note that I have other projects that use the same underlying mechanics and everything is fine. The only difference with this project is that the binaries are bigger for that project. Looks like some limit has been trespassed and it fails.

[2021-06-11 01:37] pmrowla commented on #6152
@gbmarc1 are you using git worktrees or sparse checkouts?

[2021-06-11 09:49] aguschin opened #6154 "get: fails with head detached and no branches in place"
# Bug Report

## Description

With head detached and no branches available `dvc get` fails:
[code]

UPDATE: Skip to https://github.com/iterative/dvc/issues/6154#issuecomment-866717904

### Reproduce

1. git clone https://github.com/iterative/example-get-started
2. cd example-get-started
3. git checkout --detach
4. git branch -D master
5. git --no-pager branch -v
6. dvc get . data/data.xml

### Env

[2021-06-11 11:01] pared commented on #4042
#6060 provides command suggestions. To close this issue we will need one more PR, making sure we do not display that wall of text and provide something similar to git, assuming we agree that `git` output is something we desire.

[2021-06-11 12:00] raharth commented on #4164
Sorry to reopen this, but I have a nearly identical problem. Though, in my case it is not caused by deleting files in the remote, but by adding a new remote to which I want to push.

I have tried both suggestions, removing tmp/index and setting verify to true, both is not solving the problem I only receive a "Everything is up to date", which is incorrect since the files do not appear in the remote

[2021-06-11 12:42] efiop commented on #4164
@raharth Could you elaborate on how you are detecting that they do not appear? Also, please show `dvc doctor` output.

[2021-06-11 12:56] raharth commented on #4164
@efiop The remote is an Azure container to which I have access, hence I can see that there are no files appearing.

[code]

[2021-06-11 13:07] dberenbaum commented on #6146
Great points!

Won't this same concern will apply for `stdout`? Providing no output that things are working during long-running commands might be problematic if we have a `--show-json` option.

Is the main difference from current behavior that errors are formatted as one line per error?

[2021-06-11 13:21] gbmarc1 commented on #6152
🤦‍♂️I simply add a faulty index
`rm -f .git/index` did the trick
Sorry and thanks for the help!

[2021-06-11 13:21] #6152 closed

[2021-06-11 13:25] efiop commented on #6152
@gbmarc1 Were you able to confirm with other tools that it was faulty? Maybe `git` cli was failing too?

[2021-06-11 14:28] aguschin opened #6156 "Feature request: `dvc plots diff` output for all figures in md file"
Now if we want to append images to comment for commit, we need to specify each image one by one:

[code]

It would be great to have some magic to send all plots (dvc plots diff) to the comment of the commit. If I have 10+ of these plots, I will end up either copy-pasting this, or writing some scripts which will find all plots and do this for me. Something like this:

[code]

This may not belong to

[2021-06-11 14:44] rogermparent commented on #6146
While a bit outside of this error-focused ticket, I agree. Even machine-readable output can benefit from continuous updates.

Current DVC, if it errors, errors normally with non-json output so the new behavior would basically change everything. I haven't actually run #5984, so I can't yet comment on the difference between its implementation and what I'm thinking.

[2021-06-11 15:23] efiop commented on #4164
@raharth Are any dvc files gitignored? Could you show `dvc list . . --dvc-only`, please?

[2021-06-11 15:24] aguschin commented on #4410
Encountered this issue while applying DVC to the YOLO repo.

There is a stage which converts the model to different formats (coreml, tflite, pytorch). These formats are specified in params.yaml. And I cannot track them, because in fact they are optional outputs. Though I want to do that, for example, to store them separately or be able to run `dvc get $URL path-to-particular-model`.
[code]

But I’

[2021-06-11 18:17] casperdcl commented on #6093
format:

- I prefer `-` to `: ` (shorter, no need to escape space & colon when using `gh issue create --label` etc.)

prefixes:

- A: don't get what "area" means
- P: I prefer `plat`
- S: I prefer `s0/1/2`, `stat` or `status`
- T: I prefer not having a prefix (we can have one category that doesn't have a prefix) or `type`
- E/P/I: I prefer the current `p0/1/2`. What's E?
- (sub)command/cmd: I'd su

[2021-06-11 19:35] casperdcl opened #6157 "exp: remove <queued_experiment>"
Currently `exp remove` doesn't work for a single queued experiment. This is a problem if 1001 experiments are queued but the last one was an accident. Starting from scratch (`dvc exp remove --queue`) is a poor solution.

[2021-06-11 22:10] rmlopes opened #6158 "asyncio error when pulling"
# Bug Report
## pull: crashes when there is file hash info missing

## Description

In a repo where someone messed up and some files were pushed to git but not dvc, dvc2.3 will crash with the following message:

With dvc2.1 it will be ok (apart from the missing cache 😄 ) outputing at that stage:

### Reproduce

1. Track a bunch of files
2. Push to git (do not push to dvc)
3. I a new clone do a dvc

[2021-06-11 22:38] efiop commented on #6158
@rmlopes Could you show `pip freeze | grep adlfs`, please?

[2021-06-12 20:18] naveen24691 commented on #4042
I have made the necessary changes in the PR #6060 .Please review

[2021-06-13 13:55] #6089 closed

[2021-06-13 14:04] pangshengwei opened #6159 "dvc exp run --all: fails to reproduce experiments"
# Bug Report

Am getting the following errors after trying to queue some experiments and running all

- `dvc exp run --queue -S prepare.learning_rate=0.01`
-  `dvc exp run --all --jobs=2`

![image](https://user-images.githubusercontent.com/19318871/121810314-ebe6e000-cc92-11eb-99f6-ed839dd62878.png)

## Description

### Reproduce

### Expected

### Environment information

**Output of `dvc doctor`

[2021-06-14 06:55] ashutosh-dwivedi-e3502 commented on #5340
+1 for this

[2021-06-14 07:13] pmrowla commented on #6159
@pangshengwei are you able to run the experiment without using the queue/run-all feature? (i.e. just using `dvc exp run -S prepare.learning_rate=0.01` to run it in your workspace

Also, could you please run `dvc doctor` and post the output here

[2021-06-14 10:14] skshetry opened #6160 "straight-to-remote: using different block size to compute md5 than the local hashing"
We use a complete chunk to determine whether the file is text or not for the straight-to-remote hashing.
https://github.com/iterative/dvc/blob/b9df4451b196082d66e15a22ecc7ca5660e02d47/dvc/utils/stream.py#L91

Whereas, we use the first 512 bytes for the heuristics.
https://github.com/iterative/dvc/blob/b9df4451b196082d66e15a22ecc7ca5660e02d47/dvc/istextfile.py#L25

This might cause issues where the

[2021-06-14 10:24] skshetry commented on #6160
This would have been caught if we were running all of our tests with remote using `verify = True`. 🙁

[2021-06-14 10:41] skshetry opened #6161 "straight-to-remote: does not set size in the .dvc file"
When I do `dvc add cat.jpg`, I get the following contents in `cat.jpg.dvc`:
[code]

And, when I do `dvc add --to-remote -r webdav remote://webdav-root/cat.jpg`, I get the following contents in `cat.jpg.dvc`:
[code]

Both of those should create identical `.dvc` files.

[2021-06-14 11:05] isidentical commented on #6108
@friggog can you post `pip freeze | grep adlfs`?

[2021-06-14 11:06] isidentical commented on #6158
This seems like a duplicate of iterative/dvc/issues/6108.

[2021-06-14 11:06] #6158 closed

[2021-06-14 11:13] isidentical commented on #6023
Pre-requisite: intake/filesystem_spec/pull/671

[2021-06-14 11:34] isidentical commented on #6064
AsyncSSH implementation is nearly ready, I'd really love to see the callbacks first though for the speed-up on small files though if not we can still proceed. Some new features we depend are still in the develop branch of the asyncssh, so in either way we have to wait a release on there first.

[2021-06-14 11:37] isidentical commented on #6160
The transfer logic that to-remote/to-cache uses depends on the `fs.CHUNK_SIZE`, which seems to be always greater than the `512`. Unless I am missing something, we could potentially just pass `chunk[:512]`

[2021-06-14 11:40] skshetry commented on #6160
@isidentical, it seems to use `read1` if it exists, so maybe read the first 512 bytes before hashing?

https://github.com/iterative/dvc/blob/b9df4451b196082d66e15a22ecc7ca5660e02d47/dvc/utils/stream.py#L84-L85

[2021-06-14 11:46] isidentical commented on #6160
So you mean we should pre-emptively read the 512 bytes, and cache it in the initialization? That seems to be rather complicated:
[code]

[2021-06-14 11:48] althonos opened #6163 "Cannot `import-url` from HTTP server missing the `Content-Length` header in responses"
# Bug Report

## Description

`dvc import-url` fails to import a file from an HTTP URL when the HTTP server does not set the `Content-Length` header. I have tried to manually download the file with `wget`, and it worked.

I was able to reproduce this issue with a local HTTP server using a `http.server.SimpleHTTPRequestHandler` patched not to send a `Content-Length`, and I got the same error, so I

[2021-06-14 12:50] isidentical opened #6164 "cls._from_parts(args, init=False) is broken on 3.10"
Both the init parameter, and the `_init` method have been removed in the 3.10, see python/cpython/pull/19342.
https://github.com/iterative/dvc/blob/19f2fe52e6d7615aa28388cf1acdea76a8a0345a/tests/dir_helpers.py#L84

[2021-06-14 13:12] #6156 closed

[2021-06-14 13:20] skshetry opened #6166 "straight-to-remote: missing `etag` or checksum on `import-url`"
### Script to reproduce
[code]

### Output
[code]

When importing locally, I do see the checksum, so it looks like the problem is only on straight-to-remote cases.

[2021-06-14 13:30] dberenbaum commented on #6146
Okay, I misunderstood. So you are suggesting that when an error occurs, information about the error is put into a standalone json object that is output to `stderr`? So each error outputs its own json object?

It looks like the approach in #5984 for `dvc exp show` is to note in the table where errors occurred. If errors are reported separately to `stderr`, how will they be tied back to specific exp

[2021-06-14 15:18] rogermparent commented on #6146
That's a fine approach, but embedding the errors in output depends on the command being finished and outputting, which is what I was attempting to address specifically for long-running commands like `exp run` where errors can happen well before the command finishes. As discussed in the meeting, this approach also has drawbacks in planning on where to insert the errors for each error type when tryi

[2021-06-14 15:50] shcheklein commented on #6146
It feels that for a command like `dvc exp show` errors should be part of the regular output. It's a different use case from when a command fails completely (exit code non 0, DVC prints ERROR, etc). In this case these errors serve as some additional information even, rather than a command status/output.

[2021-06-14 16:21] BradyJ27 opened #6171 "`stage add`: insert stages mid-dvc.yaml (via `--force`)"
As of right now, if you want to insert a new stage between two existing stages in a DVC pipeline, you must either edit the .yaml manually or remake the pipeline completely. See Discord discussion https://discord.com/channels/485586884165107732/485596304961962003/854010209596473364
 My proposed feature it something along the lines of either:

1.  `dvc stage add --location` where location is the sta

[2021-06-14 16:26] rogermparent commented on #6146
@shcheklein Good point, and I'd also like to bring up the fact that it seems `exp show --show-json` is closely tied with the output on non-`--show-json`, such that the former is the input for the latter.

In this case, the VSCode extension can adapt to whatever solution works for displaying these errors in `exp show`, and take cues from the CLI table in how and where to display these errors.

If w

[2021-06-14 16:29] shcheklein commented on #6146
To clarify here a bit. By `errors` here I mean only those specific to it not being able to parse specific items in the table. It means that, for example, lock error even for `dvc exp show` should be handled the same regular way as for the other commands.

[2021-06-14 21:10] dberenbaum opened #6168 "Default metrics file"
Goal: make it easier to use experiment tracking in DVC (especially `exp show`) without worrying about pipelines, data management, etc.

DVC already has a default `params.yaml` that does not need to be specified in any stage for parameters to be tracked. Having similar defaults for metrics (for example, `metrics.json`) could enable DVC to read these artifacts without needing to specify them in `dvc

[2021-06-14 21:31] BradyJ27 opened #6169 "Ability to insert stages mid-pipeline"
As of right now, if you want to insert a new stage between two existing stages in a DVC pipeline, you must either edit the .yaml manually or remake the pipeline completely. See Discord discussion https://discord.com/channels/485586884165107732/485596304961962003/854010209596473364
My proposed feature is something along the lines of either:

1. `dvc stage add --location` where location is the stage

[2021-06-14 22:33] nbren12 opened #6170 "Unpin fsspec/gcsfs dependencies?"
We cannot currently install dvc in our project because the pinned versions of gcsfs/fsspec are not compatible with some of our other dependencies. Would ya'll be open to unpinning these deps so that dvc can be installed in a broader range of python environments? Given that dvc is primarily a command line tool I could install dvc in another virtualenv or with `pipx`, but would like to avoid this le

[2021-06-14 22:59] nbren12 commented on #6170
BTW, I'm happy to see you are using gcsfs/fsspec. I've been contributing some reliability fixes there lately, so I totally understand why you are at the bleeding edge of that particular dep.

[2021-06-14 23:19] jorgeorpinel commented on #6171
Hi @BradyJ27

This is not exactly the case. You can insert stages with `dvc stage add` now in 2 steps:

1. `stage add` the new stage in between by using the correct dependencies and outputs
2. Re-define the stage that should follow by using the new stage's outputs as dependencies.

The order in which they are presented in dvc.yaml is not important for DVC, only the way in which they connect (the d

[2021-06-14 23:19] jorgeorpinel commented on #6171
Does that clarify the situation?

[2021-06-14 23:26] BradyJ27 commented on #6171
Thank you for your response! This does clarify. I'm still thinking there might be some room for a feature here, maybe even something as small as rearranging the yaml file for readability. Any thoughts on making this into something or is this unnecessary? Thanks again!

[2021-06-14 23:27] jorgeorpinel commented on #6171
An idea would be to move overwritten stages (`stage add -f`) to the bottom in dvc.yaml or even to some logical intermediate place as needed, instead of keeping them in their current location, which seems to be the current behavior (I just tried it).

[2021-06-14 23:27] BradyJ27 commented on #6169
This issue can be deleted, as it has been made into a different issue.

[2021-06-14 23:28] #6169 closed

[2021-06-14 23:33] BradyJ27 commented on #6171
Good idea! I'm thinking either moving forced stages to the bottom (like you said). Or moving stages based on dependencies and outputs. I will update the issue description.

[2021-06-15 06:34] skshetry commented on #6171
`dvc.yaml` does not have a sense of order or even the pipelines. A part of the pipeline could be very well in a different place within the dvc.yaml file or in dvc.yaml of different directories. These days we recommend users to edit dvc.yaml directly rather than using commands, so if you need order, editing is the correct way to do it.

[2021-06-15 08:33] MarcelNasser opened #6173 "DVC `diff`: doesn't respond for an average dataset (~20k)"
# Bug Report

## DVC `diff`: doesn't respond for an average dataset (~20k)

## Description

When, I run `dvc diff` on my datataset the command just freeze.

### Reproduce

1. dvc init
2. dvc get-url https://s3.amazonaws.com/fast-ai-imageclas/imagenette2-160.tgz
3. tar -xvf imagenette2-160.tgz
4. dvc add imagenette2-160
5. git commit -a -m "add imagenette dataset"
6. dvc commit
7. dvc diff

### Exp

[2021-06-15 08:45] skshetry commented on #6173
@MarcelNasser, could you please see running with `dvc diff -v`? I have noticed that it does not really print status, so it might look like it's frozen, when it's just being slow (possibly related to https://github.com/iterative/dvc/issues/5746).

[2021-06-15 08:55] efiop commented on #6170
Hi @nbren12 :slightly_smiling_face:

Unfortunately, unpinning is likely not possible (or rather meaningless) right now, as we are effectively always using the latest fsspec and gcsfs/s3fs/adlfs/etc libraries, as @isidentical is actively working on improving all of those :pray: right now. If you are not using dvc through our python API, I would advise using either virtuaenv/pipx or just some standa

[2021-06-15 10:32] Suor commented on #6146
Related https://github.com/iterative/dvc/issues/6042

[2021-06-15 11:35] pmrowla commented on #6105
This will likely end up being resolved by the import changes in https://github.com/iterative/dvc/pull/6109

[2021-06-15 11:42] pmrowla commented on #5739
While working on https://github.com/iterative/dvc/pull/6174 I found a bug that was locking the entire main repo while running experiments in the background (via `--temp` or `--queue/--run-all`).

After that PR is merged the underlying issues where the repo will be locked during certain write operations will still be present, but in general `exp show` should be much more usable for VSCode (even whi

[2021-06-15 12:35] karajan1001 opened #6177 "oss remote Migration to ossfs."
New https://github.com/iterative/ossfs released.
Need to migrate to it.

[2021-06-15 14:50] duijf opened #6179 "plots: Custom templates outside of `.dvc/plots`"
## Description

Plots currently accepts custom templates outside of `.dvc/plots` which can lead to unintuitive behavior when changing directories.

Discovered through a Studio user report: https://github.com/iterative/studio-support/issues/11

### How to reproduce

I've created https://github.com/duijf/dvc-plots-repro to show this off.

`dvc.yaml` contains a stage with a plot:

[code]

And this te

[2021-06-15 15:14] kenahoo commented on #5371
I suspect that the two `<unicode string>`s in the error message are supposed to actually be the strings it's looking at, right?  Is this just a simple interpolation error?

[2021-06-15 15:34] skshetry commented on #6173
DVC does not show any useful information even with `-vv`. That's really bad. If the issue is it being slow, it's probably due to #5746 and might just seem to be frozen. Anyway, could you please try running `dvc diff -vv`, and when it seems frozen, use `Ctrl + C` multiple times till it exits? Please post the log and the traceback that you get.

[2021-06-15 15:43] MarcelNasser commented on #6173
@skshetry the output of dvc diff -vv  and ctr+C
`2021-06-15 17:42:04,455 TRACE: Assuming '/home/marcel/Upstride/bug-dvc/.dvc/cache/c5/261f96ce891b0da90173fb43f3950d.dir' is unchanged since it is read-only
2021-06-15 17:42:04,520 TRACE: Assuming '/home/marcel/Upstride/bug-dvc/.dvc/cache/c5/261f96ce891b0da90173fb43f3950d.dir' is unchanged since it is read-only
2021-06-15 17:42:04,584 TRACE: Assuming

[2021-06-15 16:10] casperdcl commented on #4268
is this the same as #4649?

[2021-06-15 17:12] dberenbaum commented on #5172
### Overlap with dvc exp run

There is some overlap between this kind of parametrized loop and `dvc exp run --set-param`. The current `foreach` approach creates many separate stages, while `dvc exp run` creates many variations of the same stage. @johnnychen94 mentioned concurrent execution in another thread, which `dvc exp run` is already starting to tackle. If it were possible to programmatically

[2021-06-15 17:21] casperdcl opened #6180 "checkpoints: write `dvc.lock` on every checkpoint"
(Over)writing `dvc.lock` after each checkpoint (so interrupting `exp run` will mean a usable `dvc.lock` is present).

Part of https://github.com/iterative/cml/issues/560

[2021-06-15 17:24] casperdcl opened #6181 "exp push: fails for >50MB commits"
`dvc exp push` can fail since GitHub rejects commits >50MB in size. Perhaps use DVC cache instead for such cases?

Part of https://github.com/iterative/cml/issues/560

/CC @pmrowla

[2021-06-15 17:30] casperdcl opened #6182 "checkpoints: flag to `exp push` && `push`"
Provide a flag (e.g. `dvclive.next_step(push=True)` or `make_checkpoint(push=True)` or `DVC_EXP_AUTO_PUSH=<git_remote_name_or_url|true>`) to push things per-checkpoint.

Helps with resuming a long-running CI job after timeout.

Part of https://github.com/iterative/cml/issues/560.

[2021-06-15 17:36] pared commented on #3484
@mtszkw Yest it is still needed, would you be interested in that? Sorry for late replay.

[2021-06-15 17:38] casperdcl opened #6183 "checkpoints: num(ber)/epoch awareness"
Solves two problems:

- `dvc exp run && dvc exp run` shouldn't re-run everything a second time
- interrupting `dvc exp run` (e.g. due to a runner timeout) and resuming shouldn't re-start from checkpoint zero.

Part of https://github.com/iterative/cml/issues/560

[2021-06-15 21:32] dberenbaum commented on #5489
@pmrowla Are there any issues or complications with pushing multiple experiments that are different from pushing a single experiment?

[2021-06-15 21:32] dberenbaum commented on #6006
@pmrowla Do you think there's anything to discuss here, or is this a straightforward feature to implement?

[2021-06-15 21:58] alhuang10 opened #6184 "push: fails for S3 remote on DVC 2.3.0"
# Bug Report

Resolved: Bug caused by an issue with Cython on python 3.7. Fixed by using python 3.8.

## Description
Having an issue with DVC version 2.3.0 where trying to push to an S3 remote results in an error. This error does NOT happen with version 2.10.18 which is what I was using before upgrading. The verbose output is below:

[code]

### Reproduce
1. Set up S3 bucket for dvc remote with a

[2021-06-15 22:08] efiop commented on #6184
Hi @alhuang10 . It looks like your verbose output misses a pretty big chunk of info, there should be some tracebacks in `-v` mode. Could you double-check, please?

[2021-06-16 00:05] pmrowla commented on #6006
@dberenbaum it still needs a discussion of what the usage should look like

[2021-06-16 00:08] pmrowla commented on #5489
@dberenbaum the complication is regarding how to handle conflicts. I suppose if `--force` is given we can just assume the user wants to force push everything, but if `--force` is not used, do we abort as soon as there is any conflict, or do we behave like `dvc push` and continue trying to push everything else?

[2021-06-16 00:10] alhuang10 commented on #6184
Hi @efiop, I updated with the full traceback. Thanks!

[2021-06-16 00:11] pmrowla commented on #6183
I'm not sure I understand the issue here?

For checkpoints `dvc exp run && dvc exp run` should already not be restarting anything. The second `exp run` should already resume from the last generated checkpoint, even if the first run was interrupted.

[2021-06-16 00:16] pmrowla commented on #6181
If users are already using github for versioning their pipeline, what is happening in these particular experiment commits that is making them go over the github size limit (when the user's "regular" commits are not over the size limit)

[2021-06-16 00:28] pmrowla commented on #6180
Just to be clear here, `dvc.lock` should already be written (updated) at each checkpoint. We should also already be automatically tracking it in git for checkpoints as well. If you're seeing exp/checkpoint commits without `dvc.lock` files, it sounds like this is a bug somewhere in DVC

[2021-06-16 07:42] karajan1001 commented on #5172
For myself, the `foreach` is a useful functionality when I'm doing some text classifications. In this work, two billion items need to be classified into about 5000 child categories inside 50 parent categories. The project has two levels, in the first one I trained a model to classify items into parent categories, and in the second I use `foreach` to train a separate model for the classification of

[2021-06-16 12:57] casperdcl commented on #6180
There may be a bug here but it's low priority if #6182 is solved, so closing for now.

[2021-06-16 12:57] #6180 closed

[2021-06-16 12:59] casperdcl commented on #6181
Could have intermediate per-checkpoint debug data (which the user doesn't want tracked by DVC nor Git)

[2021-06-16 13:02] casperdcl commented on #6183
This is more about the user code not having to look at the workspace to determine what checkpoint it's currently on. Ideally DVC itself should determine the checkpoint number and not bother running the user code if it's at the final checkpoint already.

[2021-06-16 13:48] dberenbaum commented on #6183
This makes sense to me if the user code does not include iterations or `make_checkpoint` and instead trains a single epoch and exits. In that case, running the stage a fixed number of times makes sense. This seems like the cleanest workflow, but it also seems atypical for many users, who may create checkpoints inside a callback to a `fit` method that iterates over a defined number of epochs.

If t

[2021-06-16 13:57] andreyveresov commented on #5868
Any date or datetime inside params.yaml leads to the `object of type 'datetime.date' has no len()` error

[2021-06-16 14:18] aguschin opened #6185 "metrics diff: doesn't warn about new unreadable files"
If we will try to track a new file as a metrics and that file won't be readable, we won't receive any warning about it. Suggestion: add a warning stating that values couldn't be read from the file $FILENAME.

To provide an example, I forked example-get-started and made changes in the last commit in master.
https://github.com/aguschin/example-get-started/commit/8234972a1c01c8250a225b8a25186dd86bf62

[2021-06-16 15:14] jorgeorpinel opened #6186 "`exp run`: update command `-h` desc."
From https://github.com/iterative/dvc.org/issues/2545#issuecomment-851740655:

`Reproduce complete or partial experiment pipelines.`
It should be probably as simple as `Run or resume an experiment`

[2021-06-16 15:17] dberenbaum commented on #6050
@aguschin This part got lost in the discussion, but see #6157.

@pmrowla I think it would be helpful to add this to the loose ends to clean up for experiments. It's not clear if or when we will have a separate `exp queue` command, or whether that will address this problem since the queue might still also show in `exp show`. How much work do you think it is to show named experiments in the queue?

[2021-06-16 15:23] dberenbaum commented on #5672
@jorgeorpinel I think this is fixed now?

[code]

Feel free to reopen if I misunderstood.

[2021-06-16 15:23] #5672 closed

[2021-06-16 15:26] dberenbaum commented on #5530
@jorgeorpinel It's a little unclear what's still a concern here. We could open smaller issues for the remaining items. What do you think?

[2021-06-16 18:03] casperdcl commented on #3670
closing for now since https://github.com/iterative/dvc.org/pull/2064 fixes the main pain point.

[2021-06-16 18:03] #3670 closed

[2021-06-16 18:43] efiop commented on #6019
For the record: pre-requisites: https://github.com/iterative/dvc/pull/6109 and the following `save()/transfer()` unification. We'll double check this issue after those changes are merged, will likely be fixed automatically though.

[2021-06-16 18:44] efiop commented on #5546
For the record: same as in https://github.com/iterative/dvc/issues/6019, pre-requisites for this are: #6109 and the following save()/transfer() unification. We'll double-check this issue after those changes are merged, will likely be fixed automatically though.

[2021-06-16 20:26] jorgeorpinel commented on #5530
Agreed, will review the conversation above and open a smaller issue if needed. Thanks

[2021-06-16 20:26] #5530 closed

[2021-06-16 20:29] jorgeorpinel commented on #5530
@dberenbaum I guess the only 2 things were

1. the idea of changing the field name to plural: `checkpoints : true/false`
2. discussion around circular dependencies. Should there be another way to implement those besides a checkpoint output? And if so would we still need the `checkpoint` field in that case?

So nothing super actionable, more of a discussion. Do you think any of that is worth consid

[2021-06-16 20:53] dberenbaum commented on #6183
@casperdcl What do you think about a workflow like this?

[code]

`dvclive.range` could start from the tracked epoch number and exit immediately if there are no remaining epochs. If dvc/dvclive handles the iteration, then this makes sense to me.

[2021-06-16 21:16] dberenbaum commented on #5530
I think this makes sense, but not sure how easy it would be to make the change and make it non-breaking.

🤔 This one might be interesting WRT ongoing discussions about how to "end" checkpoints experiments (#6104 and #6183). The user's code can specify the point at which no new checkpoints will be created, but the checkpoint stage will still always run even if it doesn't generate new checkpoints. T

[2021-06-16 22:33] jorgeorpinel commented on #5530
Seen breaking changes in minor 2.x releases. But it could be schedule for 3.0. Up to you guys

Good idea! Sounds like there are other issues where you may reuse the alternative if appropriate then. So I think we're done here.

[2021-06-17 00:28] pmrowla commented on #6050
@dberenbaum this is pretty much just a one liner UI change. We already have names for queued experiments internally, we just don't show them in the UI right now.

[2021-06-17 00:48] pmrowla commented on #6181
For reference, the issue here was discussed in yesterdays meeting:

When we generate a checkpoint commit, anything marked as a pipeline dependency or output that is also `cache: false` will be forcefully tracked in Git. This is needed to so that DVC can properly preserve/restore the state of the workspace when resuming checkpoint runs.

The problem w/the large commits is most likely occurring when

[2021-06-17 02:22] karajan1001 commented on #6181
Currently, DVC or Git would track every checkpoint commit? If so, in training progress with a large number epoch or iteration, it might generate a huge number of checkpoints and iterations, but in most cases, we only need the latest checkpoints.

[2021-06-17 03:39] pmrowla commented on #6181
@karajan1001 yes, we track every iteration. Once the user decides they want to keep an experiment, they can choose to either keep all of the commits or just squash them all into a single commit (to only keep the final checkpoint)

[2021-06-17 04:08] skshetry commented on #6185
This is by design (you can use `-v` to see more details). But, DVC should not be hiding information from users but not overwhelm them at the same time. This is something that will be worked on coming days in terms of UI makeover.

[2021-06-17 05:28] skshetry commented on #6030
From the log, it looks like it's an issue with `pip` itself on that it failed to resolve dependency properly (or, failed to backtrack). It does install `networkx==2.5.1` which requires `decorator<5,>=4.3` but pip does not install it for some reason. We haven't had any new release on networkx, so the state should be same, but in the CI, I see that [it does install the 4.4.2 version](https://github.

[2021-06-17 06:51] aguschin commented on #6185
@skshetry, thanks!

BTW, it seems like `-v` doesn't warn about this:
[code]

Neither `--v` does:

[code]

[2021-06-17 08:09] karajan1001 commented on #6179
@duijf
Thanks for your report, I recommend this one.
1. DVC resolves custom.json relative to dvc.yaml and the plot is rendered correctly.
As we had provided custom paths for the template file.

[2021-06-17 09:05] karajan1001 commented on #6184
@alhuang10
Sorry, can't reproduce it. Is there anything I was missing.
![image](https://user-images.githubusercontent.com/6745454/122366466-29e34d00-cf8e-11eb-86c7-946c79290f37.png)
![image](https://user-images.githubusercontent.com/6745454/122366555-3c5d8680-cf8e-11eb-9fd8-fd2f887fa16b.png)

[2021-06-17 09:13] karajan1001 commented on #6173
Reproduced on my computer. Using `dvc diff -vv`, it is continously print
[code]

[2021-06-17 09:40] isidentical commented on #6030
No, as far as I can remember it happened on a clean machine with `python3.8` and the default pip version that came with it (don't remember which one was that). If this is unreproducible, feel free to drop it.

[2021-06-17 09:48] skshetry commented on #6030
If it was the one that com

[2021-06-17 09:48] #6030 closed

[2021-06-17 11:10] casperdcl commented on #6181
On a related note we may want to add an option to only keep the last N checkpoints. May save disk space as well as sanity when doing `exp show` on 10 billion checkpoints.

[2021-06-17 11:47] casperdcl commented on #6183
yup that looks like a clean solution

[2021-06-17 14:40] duijf opened #6192 "parsing: Reraise `UnicodeDecodeError`s into something more structured"
This falls somewhere between a bug report and a feature request.

Currently, DVC assumes that all YAML/JSON/TOML files it reads are valid UTF-8:

https://github.com/iterative/dvc/blob/1d3524f14403363046048ea4aa348042fa4006f4/dvc/utils/serialize/_common.py#L48-L51

When dealing with user data in Studio, this isn't always the case though. (See https://github.com/iterative/viewer/pull/2188 and https:

[2021-06-17 15:58] isidentical commented on #6170
As @efiop said and you guessed, we depend on the features that are only available on the latest revision (most of those, we contribute to make those filesystems usable within DVC). So DVC won't function properly with the lower versions, and we have no choice but to pin. Since DVC is a tool (like black or isort or pylint), you best bet would be to install either the packages or use some sort of ext

[2021-06-17 15:58] #6170 closed

[2021-06-17 18:11] alhuang10 commented on #6184
The one difference that might be the issue is that I'm handling the AWS authentication via an external single-sign-on process: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html.

So my ~/.aws/config file looks like this:
[code]

Have been able to get everything set up and working using DVC version 2.0.18 also.

[2021-06-17 18:41] dberenbaum opened #6194 "exp show: checkpoint experiment summary"
In `dvc exp show`, the last checkpoint for an experiment also contains the experiment name:

[code]

It would be useful to have the experiment on a separate row to keep the experiment and individual checkpoints distinct.

The table combines info that's really about the experiment with info that's about the individual checkpoint. For example, parameters should be static for all checkpoints in an ex

[2021-06-17 18:43] dberenbaum commented on #6194
Related (https://github.com/iterative/dvc/pull/6174#issuecomment-862823133):

To me it's like if I queue an experiment based on `master`, I wouldn't expect the `master` row to show `Run` when I run it.

[2021-06-17 18:57] dberenbaum commented on #6183
@pmrowla @pared Thoughts?

[2021-06-17 19:27] isidentical commented on #6184
@alhuang10 Could you try with Python 3.8+? This seems like a CPython issue that is fixed on 3.8+ but not on 3.7, see https://bugs.python.org/issue35621 for details. One thing that would be sort of a general fix to some of the problems we get due to non-main thread async executions is that authenticating outside of the thread pool which is not really straight-forward, since we don't tend to create

[2021-06-17 20:41] alhuang10 commented on #6184
@isidentical Switching to 3.8 fixed the issue, good find! Greatly appreciate the help!

[2021-06-17 21:30] efiop commented on #6184
@isidentical Great find! :pray: The least we can do is make sure that all our binary packages and things like chocolatey and brew packages use 3.8+ , looking into it...

[2021-06-18 09:26] pared commented on #6183
Do I understand this use case correctly?
1. User uses `dvclive.range` to define max number of epochs
2. If, for some reason execution stops and checkpoints are used, `dvclive` should remember latest epoch number
3. Upon next run `dvclive` should pick up from latest checkpoint

[2021-06-18 12:30] #5853 closed

[2021-06-18 14:41] SanderNugteren commented on #6138
Did some further tests. One of them was to let a colleague set up part of the data registry on their laptop and try to push it to the same server. He failed at the same point.

Something that I also find strange is that DVC opens up 4 connections when executing `dvc push -j 1`. Shouldn't this mean that there should only be one connection?

We also found out that when I close the terminal window (t

[2021-06-18 15:15] nik123 opened #6196 "dvc list: option to specify dvc remote"
I have a project with several DVC remotes. When I execute `dvc list . data/some/dirs` in my workspace sometimes I need to specify dvc remote. Similar with `-r` option in `pull`/`push` commands.

[2021-06-18 21:17] efiop commented on #6196
Hi @nik123 , thanks for the request!

Supporting remotes in `list` is tied to `get/import` as well, so we need to consider more things in order to provide a holistic experience.

Could you elaborate on the scenario in which you don't have that remote already set as default? Do you use multiple remotes to isolate artifacts with different permissions?

Duplicate of https://github.com/iterative/dvc/i

[2021-06-19 05:50] #6192 closed

[2021-06-19 07:11] nik123 commented on #6196
My use case: I have two remotes which I access via ssh from my laptop. Both remotes in fact point to the same server but with different IP addresses: I use "internal" remote to access remote from internal network, and "external" remote to access remote from  external network. Which remote I use at the given moment depends on my location - most of the time it's "internal" which is way faster (there

[2021-06-19 14:36] efiop commented on #6196
Thanks for sharing! Very interesting use case. I guess what you are really looking for here is a mirroring mechanism, where your `fast` remote would have a higher priority, but when/if we are failing to connect to it - we would ideally automatically switch to the next one - your external remote. Or am I misinterpreting your use case?

Is port part of url? If it is, could you try configuring it exp

[2021-06-19 14:52] kurianbenoy commented on #6186
Hi @jorgeorpinel can I work on this issue?

[2021-06-19 23:01] jorgeorpinel commented on #6186
Absolutely!

[2021-06-19 23:08] jorgeorpinel commented on #6171
Def. agree. But I did notice that `stage add -f` preserves the existing stage order in dvc.yaml so there must be some special logic to do that. What do you think about just removing it from where it it and writing it in the bottom of the file? That may be more intuitive.

[2021-06-20 03:13] jorgeorpinel commented on #5355
Noticed this too recently.

[2021-06-20 03:18] jorgeorpinel commented on #5967
May be the same issue as https://github.com/iterative/dvc/issues/4874#issuecomment-725528728.

[2021-06-20 04:21] jorgeorpinel commented on #6154
`get` requires a `--rev` which is by default `HEAD`. The workaround is to use `dvc get . data/data.xml --rev 00071e8` instead, which works. What fix would you suggest here?

Looks like a very rare edge case. I do think that the error should be handling thouogh, maybe give message such as ``Please provide a valid `--rev`.``

`push/pull` don't need Git at all. They use the metafiles present in the p

[2021-06-20 04:26] jorgeorpinel commented on #4874
Same as https://github.com/iterative/dvc/issues/5967#issuecomment-833754281?

[2021-06-20 04:34] jorgeorpinel commented on #4421
Just re-tried this in the same setup but DVC 2.3.0

[code]

And it's no longer happening 🤷

[2021-06-20 04:34] #4421 closed

[2021-06-20 04:46] jorgeorpinel commented on #3673
This is fixed now (tested on DVC 2.3.0).

[2021-06-20 04:46] #3673 closed

[2021-06-20 04:47] jorgeorpinel commented on #3236
Sounds like this is a non-issue.

[2021-06-20 04:47] jorgeorpinel commented on #3236
I think?

[2021-06-20 04:52] jorgeorpinel commented on #3181
Is this a Git standard? `raw.[git-url]/user/repo/branch/path`? Otherwise, if it's Github specific, DVC would need to handle other servers specially and some may be impossible to guess. In that case I would incline to just show a better error message instead. Something like `` `--show-url` only works for DVC repos.`

[2021-06-20 05:05] jorgeorpinel commented on #2613
Currently it clones `url`, then evaluates the absolute path from there in the local file system, so it gives an error message such as `Unable to find DVC file with output '../../../data`.

➕1️⃣  for one of these.

[2021-06-20 05:34] yehiyam opened #6200 "move: meta field is not preserved after moving a file"
# Bug Report

## Description
When moving/renaming a file with `dvc move` the `meta` field in the .dvc file is not moved

### Reproduce
add meta field to the .dvc file. Then move/rename the file with `dvc move`. The .dvc file for the new file doesn't contain the `meta` field.
This is a regression between versions 2.1.0 and 2.2.0. (also happens in 2.3.0)

1. dvc init
2. Copy dataset.zip to the direc

[2021-06-20 05:40] skshetry commented on #6171
Not really. `stages` is a dictionary/hashmap, so we just overwrite it if it already exists and the order gets preserved automatically. If there's no stage with the name, it gets added to the bottom. So, we are just exploiting the behavior of dictionaries in Python that are in insertion order.

We used to this before. See #4003 for the motivation to preserving order. But open to discussion for the

[2021-06-20 08:11] nik123 commented on #6196
It helped. Thanks!

[2021-06-20 09:19] nik123 commented on #6196
There is no misinterpretation of my use case. But honestly, I didn't think about it in this way. Since I often use `-r` option with `pull`/`push` commands, I was concentrated on expanding this workflow on `list` command.

However, having a mechanism which automatically switches from one remote to another is a neat solution. It eliminates the need for `-r` option in `list` command for me. If such m

[2021-06-21 01:57] pmrowla commented on #6154
I think this is a bug, the issue here is that the repo being cloned does have a `HEAD`, but it is detached, meaning it points to a specific revision and not to a branch. The git remote-tracking refs (like `refs/remotes/origin/HEAD`) are used locally to keep "copies" of refs in the cloned repo, but apparently `refs/remotes/origin/HEAD` isn't created when you clone a repo that is in a detached state

[2021-06-21 02:10] pmrowla commented on #6154
Should also note that if gitlab CI is always doing this specific detached fetch, you probably shouldn't be using `dvc get .` (with the local repo `.`) at all to begin with. Even when using `dvc get . --rev <some_rev>`, it will fail unless `some_rev` is a git SHA for a commit that is a parent of your detached HEAD. `some_rev` cannot be a branch or tag in this case, since gitlab CI is not fetching a

[2021-06-21 02:20] pmrowla commented on #3181
That's specific to github.

[2021-06-21 05:47] skshetry opened #6203 "config: displays help message on failure"
[code]

[2021-06-21 05:57] skshetry commented on #6173
Assigning myself for the UI part that will be worked on in the coming days. More than the performance, `diff` not providing any information at all is unacceptable.

[2021-06-21 06:07] skshetry commented on #5503
Bumping the priority, I see it as a p1.

[2021-06-21 06:10] skshetry commented on #6041
@giuliano-97, could you please try from the latest master?
[code]

[2021-06-21 06:12] skshetry commented on #5990
Hi, @AnnKatrinBecker. Could you please try installing from the latest master and see if it fixes any issue?
[code]

[2021-06-21 06:17] skshetry commented on #6093
Clarity is important, but I am not quite sure to what extent on the labels.

I'll experiment with a few formats for the labels (starting with what I have proposed) in the coming weeks/months and will settle on what works for us. Thank you all for the participating in the discussions, appreciated.

Closing for now.

[2021-06-21 06:17] #6093 closed

[2021-06-21 08:32] AnnKatrinBecker commented on #5990
Thanks for the update.
I updated to the lastest master including webdav4, now the issue is a different one.
Our Server does not support ranges, which seem to be required.

[code]

[2021-06-21 09:46] aguschin commented on #6154
@jorgeorpinel

I was expecting that artefacts related to the commit `eae5019` will be downloaded (in this case they are specified in `dvc.lock`).

Maybe `dvc get .` should use the same mechanics?

@pmrowla, thank you, I think now it's the best option. For the record, in gitlab CI this will look like
[code]

[2021-06-21 10:13] skshetry commented on #5990
@AnnKatrinBecker, could you please provide more information about the server?  Thanks.

It might be tricky, but I'll try later this week to solve this.

[2021-06-21 11:04] skshetry opened #6204 "diff: clarification on `Not in cache`"
We seem to be using `Not in cache` in the `dvc diff` report for the items that are neither in cache nor in the workspace.

### Expected
To show items that are not in cache.

### Actual
No results for `Not in cache` as the items are in the workspace.

---

In the `dvc.org`, we seem to be using `missing` to convey that information, and we have a flag named `--hide-missing` that, well hides the `Not

[2021-06-21 11:05] pmrowla commented on #6194
This is entirely dependent on what the user's stage code is doing. We just capture the state of the user's workspace, in theory the user can write to any file they want to before we capture that state, including params files.

And as we've discussed before, with the way the exp feature actually works, in theory users could leverage DVC to generate commits within an experiment ref that are not actu

[2021-06-21 11:06] skshetry opened #6205 "ui: fix `dvc diff` summary"
[code]

We should not have `0 ...` in the summary result.

[2021-06-21 11:24] skshetry opened #6206 "root: should dvc root return relpath?"
I think that `dvc root` should always return an absolute path. Returning `.` in the root of the repo is really confusing.

[2021-06-21 11:44] dberenbaum commented on #3236
@jorgeorpinel It seems the behavior is expected. Is there a docs issue?

[2021-06-21 13:32] dberenbaum commented on #6194
Won't any git-tracked or dvc-tracked changes generate a new experiment ref?

Good point, but is there any mechanism other than checkpoints where users could generate multiple commits to the same experiment? Obviously, it's possible users could manually mess with the experiments, but this seems like it would be an unexpected use.

[2021-06-21 18:20] amin-nejad commented on #5130
Also get a similar problem on DVC 2.3.0

`botocore.exceptions.ClientError: An error occurred (AccessDenied) when calling the ListObjectsV2 operation: No AWSAccessKey was presented.`

I've confirmed I do have access to the S3 bucket and everything works normally on DVC 1

[2021-06-21 19:40] efiop commented on #6196
Could you show how it was specified before? Be sure to anonymize the IP if it is not a VPN one, of course ;) Looks like there might be a bug in parsing the url or something.

Sounds good. I think `-r` for `list` is possible too, since in your use case you only want to pick a remote that is already configured in that project. We've received requests for specifying outside remotes (e.g. from a host

[2021-06-21 20:34] efiop commented on #6203
@skshetry what error do you expect here?

[2021-06-21 20:34] #6184 closed

[2021-06-22 00:29] pmrowla commented on #6194
Not currently, but there have been discussions about potentially allowing users to use the make_checkpoint signaling without `checkpoint: true` outs in their pipeline. So any stage could generate multiple commits in an experiment regardless of whether or not it was really a checkpoint experiment.

[2021-06-22 01:01] dberenbaum commented on #6194
For what purpose? It seems like holding dependencies fixed is the defining feature of an experiment. If parameters or dependencies change within an experiment, what is the meaning of an experiment? Would this ever be desirable?

[2021-06-22 01:34] pmrowla commented on #6194
Being able to track any kind of intermediate state during a stage or pipeline seems like it would be useful, it doesn't have to be restricted to intermediate checkpoints or circular deps.

[2021-06-22 02:15] skshetry commented on #6203
@efiop, I don't expect to see a full page of help message, just the error message (except the `argument name:` part).

[2021-06-22 04:52] nbren12 commented on #6170
I did test dvc with pipx, which works for CLI usage. The python API would still be challenging to use. Is there some reason to not leave the door open to future versions of gcsfs/fsspec with a ">=" constraint? Presumably the features you require will still be there in future versions.

[2021-06-22 05:01] skshetry commented on #6170
@nbren12, we are still in the process of migrating to the fsspec, and @isidentical has been fixing bugs in the upstream, so it's unlikely we will be able to allow ranges at least for now. In the future, we might be able to do that, but it might be hard as fsspec is on calver. I think it'd better to create issues on the dependency to be in sync with fsspec releases, than for us to allow older versi

[2021-06-22 08:41] mmeendez8 opened #6207 "import: error message when imported file does not exist"
## Description

When you import a file from a exernal Git repository but you specify a wrong path you receive a confusing error message.

### Reproduce
[code]

### Expected

A concise error that informs that data/fake.xml does not exist.

### Environment information

[code]

I would like to help fix this problem, I thought about adding some regression test for https://github.com/iterative/dvc/blob

[2021-06-22 09:20] selalamiTF commented on #6170
I am encountering the same problem as I want to install Kedro 0.16.6 with DVC 2.3.0 and I am having a conflict over fsspec. I need to install them in the same env as they are required by the same app. Do you have any ideas how to solve this ?

[2021-06-22 09:31] skshetry commented on #6170
@selalamiTF, kedro seems to have not upgraded their `fsspec` dependencies for a long time now. I'd suggest you chime in on https://github.com/quantumblacklabs/kedro/issues/790. For now, I'd suggest you use `pipx` or different virtual environment to install DVC if possible.

[2021-06-22 09:49] trenta3 opened #6208 "Dvc is not able to pull files from a public Backblaze S3 remote"
# Bug Report

## Description
Set up a public Backblaze remote and push committed files in dvc.
Clone the git repository with only public access informations to Backblaze (no secret_api_key), try a `dvc pull` that fails.

### Reproduce
1. git init
2. dvc init
3. Configure Backblaze remote:
[code]
    Set B2 bucket as public.
4. copy `file.txt` in the repository
5. dvc add file.txt
6. git add .
7. g

[2021-06-22 09:56] efiop commented on #6208
Hi @trenta3 . Does `aws` CLI work with that? E.g. can you `aws s3 ls ...` that remote?

[2021-06-22 10:12] #6200 closed

[2021-06-22 10:14] AnnKatrinBecker commented on #5990
Thank you for your concern.

Server Infos:
FreeBSD 11.3-RELEASE-p14 (FreeNAS.amd64) #0 r325575+c936002dbe2(HEAD): Mon Sep 28 10:46:56 EDT 2020
nginx version: nginx/1.16.1

In case you require additional information, please specify and I can consult with our infrastructure team.

[2021-06-22 10:23] efiop commented on #5990
@AnnKatrinBecker @skshetry is asking about the type of webdav server that you are using. Is it owncloud, yandex or something else?

[2021-06-22 10:48] selalamiTF commented on #6170
Thanks I opened an issue with kedro to request if it s possible to upgrade fsspec. Do you mean to force the installation of a newer fsspec version ? if yes, how can I do that ?

[2021-06-22 11:23] skshetry commented on #6170
@selalamiTF, what are you using to install? `pip` or `conda`? If you are using `pip` by any chance, you could just use `pip install dvc kedro` and it'll automatically select a compatible version (though `2.0` version of DVC).

If you want to force kedro to use newer fsspec (and use latest version of DVC), you can use `pip install kedro && pip install dvc fsspec`. It'll complain that it might not b

[2021-06-22 11:30] selalamiTF commented on #6170
Yes I am using `pip` and `pip-compile` to handle dependencies. Installation is done from `requirements.ini` file. We are still in prototyping stage (luckily !) so this solution could work for now until there is a more stable solution. Thanks for the help ! I will let you know if it works out :)

[2021-06-22 11:33] AnnKatrinBecker commented on #5990
Apache/2.4.41 with WebDav Extension
https://httpd.apache.org/docs/current/mod/mod_dav.html

[2021-06-22 12:17] karajan1001 commented on #6207
@mmeendez8 , Thank you for your reporting.

[code]

On my computer, I agreed that it should provide the original path instead of a temporary cloned one.

Very welcome if you'd like to fix it.

[2021-06-22 12:32] trenta3 commented on #6208
@efiop Let me clarify: DVC works perfectly when the `.dvc/config.local` file has correct access_key and secret_key to access Backblaze B2.

However the *public* Backblaze buckets do not allow file listing, but only file fetching if the client knows the file path.
This means that if someone clones my git repository (which has only public Backblaze informations, no access_key and secret_key), they w

[2021-06-22 12:52] upul opened #6209 "dvc.api.read doesn't read data from Azure Blob Storage"
# Bug Report

##  `dvc.api.read` Doesn't Read Data from Azure Blob Storage

## Description

I'm trying to read a DVC-tracked dataset stored in Azure blob storage and getting the following error.

`dvc.fs.azure.AzureAuthError: Authentication to Azure Blob Storage requires either account_name or connection_string.`

### Reproduce

1. Initialize your DVC repo with `dvc init`
2. Set remote and Azure b

[2021-06-22 13:52] casperdcl commented on #2363
Related: `fds` https://dagshub.com/blog/fds-fast-data-science-with-git-and-dvc/

[2021-06-22 13:52] casperdcl commented on #1551
Related: `fds` https://dagshub.com/blog/fds-fast-data-science-with-git-and-dvc/

[2021-06-22 14:35] pmrowla commented on #6208
DVC currently requires list bucket permissions for S3-like remotes.

One workaround would be to create a default application key with read-only (and list files) permissions specific to your DVC remote bucket, and to store those (public) credentials in your `.dvc/config`. That way anyone who clones your repo would be able to `dvc pull`. You could keep your existing credentials (that presumably have

[2021-06-22 15:16] dberenbaum commented on #5913
Ping @skshetry

[2021-06-22 15:18] dberenbaum commented on #6194
Even in checkpoints that are breaking down a multi-part stage without any kind of circular dependency, why would parameters change? Also, this scenario probably breaks all kinds of things in `dvc exp show` since it might not be an ML experiment with parameters or metrics at all.

A hyperparameter search script is one scenario where parameters might get changed within a stage, but my personal prefe

[2021-06-22 16:04] DavidGOrtega opened #6210 "get: sometimes a temp file still remains"
# Description

I have a data registry. Sometimes when I do ```dvc get``` I can see that tmp folders and files are created but happens that after finished there are still remaining a temp file like this example

[code]

### Reproduce

Very hard to reproduce

[code]

### Expected

Not having that file? I guess

### Environment information

[code]

My data registry is in S3

[2021-06-22 16:06] skshetry commented on #6210
Duplicate of https://github.com/iterative/dvc/issues/5355

[2021-06-22 16:07] skshetry commented on #6210
@DavidGOrtega, thanks for creating the issue. We are tracking that in #5355, so I am going to close this issue.

[2021-06-22 16:09] skshetry commented on #6210
Btw, does that happen on success too?

[2021-06-22 17:09] efiop commented on #6105
Fixed by #6109 . Thanks @pmrowla :pray:

[2021-06-22 17:09] #6105 closed

[2021-06-22 19:11] jorgeorpinel commented on #6171
I see so if this is dependent on the implementation and that's how structures are handled by default by Python then that's probably the best default to keep.

So is this request valid, or should we decide not to go this route? After all it's unclear where to put stages that will be considered ideal in all cases, and users can always reorder the YAML structure manually.

[2021-06-22 19:19] jorgeorpinel commented on #3236
Actually there is some error related to this in https://dvc.org/doc/command-reference/get-url, yes. Solving in https://github.com/iterative/dvc.org/pull/2565/commits/153318206fc644d032d73ba5741e4a4a7fe53a28

But I'm not sure what `import-url` does (vs what it should do)... Let me check ⌛

[2021-06-22 19:24] jorgeorpinel commented on #3236
[code]

re `remote://storage/get-started/data.xml' does not exist` - @efiop should `import-url` be able to resolve this? For now I'm removing `remote://` mentions from https://dvc.org/doc/command-reference/import-url in #2565...

If not please close this 🙂

[2021-06-22 19:56] shcheklein commented on #6208
Would it possible to use HTTP remote for read. S3 can provide an HTTP endpoint for a bucket. Does Backblaze have something like this?

We use this setup in the example-get-started repo. When we push we use S3 remote (e.g. with -r flag), but default one is set to HTTP which redirects to the endpoint that S3 provides.

In case on HTTP we don't need any special permissions I think, but it can be slow

[2021-06-23 00:54] pmrowla commented on #6209
@upul do you have a copy of your repo cloned locally? If so, you should pass the local path to that repo in the `repo=` parameter. If you are using `api.open()` with a remote git URL, DVC will not have access to any `config.local` authentication information

[2021-06-23 07:03] jdonzallaz commented on #6208
Hi, I had a discussion with pared on discord. He told me this about this feature (in April). "I see that its added to current sprint, so if all goes well, it should be fixed in next 2 weeks". But it doesn't seem to work yet.

I'm using MinIO and have the same problem with public buckets. It would be great if DVC could handle this.

I also tried the HTTP remote alternative and it works for me with:

[2021-06-23 07:20] skshetry commented on #6041
I have tracked the issue. 🤯

https://github.com/iterative/dvc/blob/c3a0e8733e799e3c49e5ab6b9a8e32f365553f97/dvc/fs/webdav.py#L139-L140

(noticed the quote in `mode` 😄 )

[2021-06-23 07:29] pmrowla commented on #6208
@jdonzallaz I'm not sure what feature you discussed with @pared, but support for S3 remotes without listing files hasn't been planned in DVC.

Either of the read-only workarounds mentioned in this issue should also work for minio (using HTTP, or using default read-only S3 credentials)

[2021-06-23 07:48] skshetry commented on #5990
I looked into this. The reason why it works in 1.11.x is that we did not use to implement `open` method for WebDAV, so we were falling back to "fetch-to-cache and open" logic.
https://github.com/iterative/dvc/blob/55bf18d8f92832610c816f2bbe25f804bd2c1338/dvc/tree/dvc.py#L92-L100

Starting with 2.x, we implemented `open` for the straight-to-remote use case which works in a similar way, in that it d

[2021-06-23 07:51] #6041 closed

[2021-06-23 08:21] pared commented on #6208
@jdonzallaz what is your nick on discord? I am trying to remember which issue we are talking about.

[2021-06-23 09:03] skshetry commented on #5913
I don't have a good idea on why it deletes the file on missing version info. DVC behaves this in a lot of places, which I'd like to fix (eg: `dvc add` removing stage files on failure, etc). Pinging @efiop.

[2021-06-23 09:25] aguschin commented on #6154
It turns out the same happens in GitHub Actions: https://github.com/iterative/yolov5/runs/2893101649?check_suite_focus=true
to follow the same approach here, we can use
[code]

[2021-06-23 09:43] jorgeorpinel commented on #5672
Yep. I addressed this in https://github.com/iterative/dvc/pull/5783 but forgot to clink/lose the issue 😋

Thanks!

[2021-06-23 09:58] AnnKatrinBecker commented on #5990
Thank you very much.

Invoking the 1.11.x behavior is successful.
Additionally we planned to support the `Ranges` header in the future.

[2021-06-23 09:58] #5990 closed

[2021-06-23 10:22] jorgeorpinel commented on #6154
@pmrowla I see. Maybe addressing https://github.com/iterative/dvc/issues/3590#issuecomment-612558038 (applies to list/get/import) would also prevent this. Cc @aguschin so yes, `get/import .` wouldn't re-clone the repo in that case. I.e. this issue may be a dupe.

[2021-06-23 10:26] jorgeorpinel commented on #6154
Wait according to https://github.com/iterative/dvc/issues/3590#issuecomment-793115585 at least `list` already doesn't re-clone local repos. And then that issue veered into some other discussions. So it probably makes sense to keep this one about get/import specifically.

[2021-06-23 10:42] pmrowla commented on #6154
The comments in #3590 are specific to `list`, that change does not apply to `get`.

This issue is marked P3 because we can potentially change `get` to not clone the local repo. However, that change will only
fix the issue for when the user is trying to `get` the HEAD revision.

The real problem here is that the user's local repo (`.`) will only have the specific revisions fetched into the runner e

[2021-06-23 10:53] jorgeorpinel commented on #6154
Yeah but as you suggest, that's not something DVC can do much about. So I basically see this issue as a request to not re-clone local repos with `get/import`.

[2021-06-23 11:24] efiop commented on #5913
Just an old assumption so that you are not confused by `checkout` that will keep some random file even though you don't have version info in a corresponding dvcfile. Could reconsider it, sure.

[2021-06-23 12:28] trenta3 commented on #6208
Thanks for all provided workarounds. I ended up using the HTTP remote method which fits nicely without the need to provide read-only access keys, so feel free to close this issue.

I'm however interested in the reason for DVC to list files is S3 remotes when pulling data. I would be grateful if someone could provide clarification about it.

[2021-06-23 12:48] jdonzallaz commented on #6208
Maybe that wasn't exactly the same problem ? My nick is _jz_ on discord and we talked on 2021/04/23.

And sure as I said, HTTP is working for me with my MinIO.

[2021-06-23 12:55] aguschin commented on #6154
Not sure it should be reported here, but I encountered the issue with this approach while trying to do this in CI job triggered by Studio. In that job $GITHUB_SHA references to some unknown commit which could not be found anywhere, thus `dvc get https://github.com/$GITHUB_REPOSITORY --rev $GITHUB_SHA path-to-file ` fails:

[code]

complete log here: https://github.com/iterative/yolov5/runs/2893514

[2021-06-23 13:03] pmrowla commented on #6208
It's mainly for performance reasons. When checking for whether or not a large # of files exists in the bucket (to determine what data needs to be pushed/pulled), it is often much faster to list files rather than query them individually (the S3 API returns thousands of results at a time when listing them).

[2021-06-23 13:09] pmrowla commented on #6154
One other question I have here: what's the reason for using `dvc get . yolo5s.pt` instead of `dvc pull yolo5s.pt`?

[2021-06-23 13:29] aguschin commented on #6154
@pmrowla, `yolov5s.pt` is not an output of dvc stage. It is versioned manually.

[2021-06-23 13:32] cubrink opened #6215 "add: Path does not overlap with base path"
## Description

Using `dvc add` on Windows can produce the error

[code]

I believe this is because paths in Windows are case insensitive (note the difference in case between `DVC-2.4-TEST` and `dvc-2.4-test`)

### Reproduce

[code]

Then, move data into the project folder.

[code]

Which outputs

[code]

### Expected

[code]

Which would output

[code]

### Environment information

**Output of `d

[2021-06-23 13:34] pmrowla commented on #6154
@aguschin it has DVC file though? https://github.com/iterative/yolov5/blob/dvc/yolov5s.pt.dvc

[2021-06-23 14:34] pared commented on #6208
@jdonzallaz
Ok found our [conversation](https://github.com/iterative/dvc/issues/5797):
So my comment was regarding https://github.com/iterative/dvc/issues/5797 which is still work in progress and might help in this use case.

[2021-06-23 14:55] skshetry commented on #6154
It should be supported if I remember correctly. I'll take a look into it tomorrow.

[2021-06-23 15:31] shcheklein commented on #6041
Good catch @skshetry ! Are there linters that detect always false/always true? (also probably means lack of tests?)

[2021-06-23 15:31] chenrui333 opened #6216 "[bug] `dvc doctor` does not show `webdav` support for 2.4.1 build"
# Bug Report

`dvc doctor` does not show webdav support for 2.4.1 build

## Description

[code]

### Reproduce

See this brew PR, Homebrew/homebrew-core#79886

### Expected

Expected `webdav` and `webdavs` show up in the `dvc doctor` output

[2021-06-23 15:33] efiop commented on #6216
@chenrui333 Thank you for the report! :pray: We've changed the library for it to `webdav4`. Looking into it in https://github.com/Homebrew/homebrew-core/pull/79886/files

[2021-06-23 15:36] efiop commented on #6216
For the record: https://github.com/Homebrew/homebrew-core/pull/79886#issuecomment-866943939

[2021-06-23 16:01] upul commented on #6209
@pmrowla Thank you for your reply. I tested your suggestion, and it works. However, cloning the repository is not an elegant solution in my use case.

Let me briefly explain my scenario. I have two repositories:

1. Frist first repository (**Training Repo**) is used for data exploration, experiment, and training the ML model. We use DVC dataset versioning and pipeline (and MLFlow for tracking) in

[2021-06-23 16:14] mmeendez8 commented on #6207
I have been trying to identify where this bug was happening and how to solve it but might no be as simple as I thought so I will try to write here my doubts.

It seems the unexpected error is happening in [repo.stage.collect_granullar](https://github.com/iterative/dvc/blob/master/dvc/repo/stage.py#L407) function. That `OutputNotFoundError` exception is not being raised since it is replaced by a mo

[2021-06-23 16:24] nbren12 commented on #6170
Maybe dvc should suggest pipx in its docs.

[2021-06-23 16:31] efiop commented on #6170
@nbren12 We actually do https://dvc.org/doc/install/linux#install-with-pip :slightly_smiling_face:

[2021-06-23 16:50] matsui528 commented on #4875
Hi there,

First of all, thanks for dvc! Our lab members always use dvc to manage large files.

Any update on this issue? I am very much looking forward to this issue being resolved. In my use case, I just want to check a part of a big repository before actually pulling it.

For example:
[code]

[code]

[code]
The above all commands work as I expected. However, the following command fails:
[code]

[2021-06-23 17:28] chenrui333 commented on #6216
Closing the issue now, thanks @efiop for the quick help!! Appreciate it!

[2021-06-23 17:28] #6216 closed

[2021-06-23 21:22] klakhdhar opened #6218 "Upgrade vega-lite to 5.1.0"
Hi,
I was wondering if it's possible to upgrade vega-lite in the plots module to 5.1.0.

https://github.com/iterative/dvc/blob/d87ace0968656912db9e6de3b638b594ceeda43b/dvc/utils/html.py#L11

It seems for now hardcoded and couldn't find an easy way to change it.
Thanks

[2021-06-24 01:38] pmrowla commented on #6209
@upul the issue is `api.read` does not have access to anything configured with `--local`. It will only have access to credentials which are stored in `git@ssh.dev.azure.com:v3/aaa/bbb/repo` (meaning whatever is git-committed in `.dvc/config`). Since your connection string is `--local` only, `api.read` cannot use it when reading from `git@...`.

One workaround is to have your users set the connecti

[2021-06-24 01:49] pmrowla commented on #6207
@mmeendez8 `NoOutputOrStageError` is the correct error for `stage.collect_granular`. That function can be called with a target that can be any one of

- output filename
- path to `.dvc` or `dvc.yaml` file
- name of a specific stage within a `dvc.yaml` file

`collect_granular` has to try all of those possibilities.

You will likely need to catch that exception higher in the call stack that is speci

[2021-06-24 01:55] pmrowla commented on #6218
@klakhdhar is there a specific 5.x feature you are looking for?

@pared should have some more insight on this issue

[2021-06-24 02:14] klakhdhar commented on #6218
Thanks @pmrowla for the quick response.
I'm interested in the https://github.com/vega/vega-lite/releases/tag/v4.9.0 as it introduces repeat operator.
I'm basically trying to get train_loss and valid_loss on the same chart.
Also the vega-lite documentation and the examples provided there don't see to work with older versions.
Thank you.

[2021-06-24 08:16] karajan1001 commented on #6173
The total time cose profile result.
![image](https://user-images.githubusercontent.com/6745454/123226087-e8125380-d505-11eb-836a-1c7eb498baea.png)

About half of the cost in `from_list` and `from_dict`
![image](https://user-images.githubusercontent.com/6745454/123227533-3ffd8a00-d507-11eb-8df5-5983ae60f1ea.png)
Another half in pygtrie
![image](https://user-images.githubusercontent.com/6745454/1232

[2021-06-24 08:27] pared commented on #6218
@klakhdhar thanks for the feature request, it seems we could get update it. Anyway, until this is done, you might be interested in custom HTML template:
It is already in DVC but we are still polsihing the documentation:
https://github.com/iterative/dvc/pull/5694

Basically, you can create your own HTML that will handle the plots. Example is under the issue. You can simply create your own HTML poin

[2021-06-24 12:24] iesahin opened #6222 "directory download and uploads are slow"
# Bug Report

* This affects multiple commands, `get`/`fetch`/`pull`/`push`... so I didn't put a tag.

## Description

We have added a directory containing 70,000 small images to the Dataset Registry. There is also a `tar.gz` version of the dataset which is downloaded quickly:

[code]

When I issue:

[code]
![Screen Shot 2021-06-24 at 14 04 50](https://user-images.githubusercontent.com/476310/1232

[2021-06-24 13:10] pmrowla commented on #6222
DVC push/pull performance for many small files is a known limitation. But a part of the issue is probably also specific to the HTTP remote type, it's possible you would get better performance pulling from the registry using S3 rather than HTTP (due to remote fs implementation differences)

For the purpose of the example projects, it may be better to just handle compressing/extracting images as an

[2021-06-24 13:15] pmrowla commented on #6222
This is also an issue that can be addressed by future cache structure changes (https://github.com/iterative/dvc/issues/829). Ideally with those kinds of cache changes we will be pushing and pulling a small # of large packed objects rather than a large # of small loose objects (so the end result is similar to the difference you see now between downloading a single tar vs 70k individual images)

[2021-06-24 13:45] smoretti opened #6223 "Error loading Python lib for dvc 2.4.1 on CentOS 7.9.2009"
# Bug Report

On CentOS 7.9.2009, after update from DVC 2.3.0 to 2.4.1, dvc does not work anymore:
[code]

## Description

dvc looks to require a glibc version not (yet) available on CentOS 7.9.2009.
Some minimal requirements could be missing in the RPM used to install DVC.

### Reproduce

On CentOS 7.9.2009
`dvc status`

### Expected

`dvc status` should work

### Environment information

[code]

[2021-06-24 13:52] efiop commented on #6223
Hi @smoretti .

Thanks for reporting this! We've recently upgraded from ubuntu-16.04 to ubuntu-18.04 where these packages are built and that has caused this issue. https://github.com/iterative/dvc/pull/6101 Looking into putting this build process into a docker container...

[2021-06-24 19:50] iesahin commented on #6222
Thank you @pmrowla

Sure. I researched a bit but couldn't find a definite answer: Does `boto3` reuse HTTP connections? In my tests, `dvc pull` with S3 URL is faster but not that faster.

Having an option to track _immutable_ data directories as single tar files might have some benefit. I agree though this benefit may not cover the required architecture changes.

This _multiple small objects in a d

[2021-06-24 20:00] shcheklein commented on #6222
@pmrowla what about @iesahin 's suggestions :

- use more thread by default - why don't we do this?
- check if we indeed recreate connections (we don't use connections pool?)
- HTTP pipelining - not that familiar with this one

WDYT?

-----

My experience with S3 and small objects and DVC. It seems it can be fast (s5cmd) even on small objects, `boto3` seems to be quite suboptimal.

Not saying that

[2021-06-24 22:21] klakhdhar commented on #6218
Great thanks !

[2021-06-25 01:47] pmrowla commented on #6222
When we used the old "# of cores x2" method (without a hard cap on the default) for setting the number of threads, it caused problems for users running on clusters that have very high #'s of cores.

We only use our own connection pooling for specific remote types (HDFS and SSH), since pyarrow and paramiko don't provide their own.

DVC does not create new session objects for each file being downloa

[2021-06-25 02:02] pmrowla commented on #4875
@matsui528 unfortunately there is no ETA on when this issue will be addressed right now

[2021-06-25 06:20] isidentical commented on #6222
For the other async operations, yes that is true. But the problem with a lot of small files vs a single big file is that, the relative significance of the processing stage (e.g parsing the API response for each object) to the actual data transport is much higher on small files compared to a single big file, and those steps are blocking for async. One possible (and kind of tricky) route would be (w

[2021-06-25 06:59] skshetry commented on #6222
Regarding pipelining, as @pmrowla said, it's not very well supported. It's considered a design mistake and has been superseded by multiplexing in http/2. Though we won't find much benefits with this unless we go async + http/2, which we should (`HTTPFileSystem` uses `aiohttp` which does not support http/2).

[2021-06-25 07:12] iesahin commented on #6222
Is there any data regarding the adoption rate of HTTP/2 vs HTTP/1.1 pipelining?

[2021-06-25 07:49] smoretti commented on #6223
Maybe this is linked but if I go deeper with dvc 2.3.0 (the same for us with 2.2.0):
- dvc status works
- dvc gc works

BUT dvc repro does not work:
[code]

Everything looks fine with dvc 2.1.0 with the use we do (but dvc doctor).

I have generated a core dump to see what happens inside:
[code]

[2021-06-25 08:35] pmrowla commented on #6222
S3 does not directly support HTTP/2 unless you are serving it behind CloudFront (or your own proxy server).

---

Also, just to be clear, HTTP/1.1 pipelining is not the same as re-using HTTP connections via the Keep-alive Header. `requests` `Session` instances (and DVC) already use connection pools and Keep-Alive for connections in those pools by default.

[2021-06-25 13:15] daavoo commented on #6107
I might be missing some context (although I have been reading other related issues) but I think that maybe this specific issue could be addressed within `dvclive` instead of (or in addition to) trying to find a solution as part of `dvc params`.

To elaborate a bit:

The problem seems to be a good candidate to be solved with a python API and `dvclive` is a separate library focused on providing Pyth

[2021-06-25 13:25] dberenbaum commented on #6222
Are we planning to migrate http to fsspec and/or optimize it?

It seems like we should be able to fairly easily migrate to `HTTPFileSystem`/`aiohttp` at this point? Can we see if it's enough of an improvement that we don't need to worry about pipelines or multiplexing yet?

[2021-06-25 13:28] c-meier opened #6225 "push: userless ssh url doesn't work"
# Bug Report

## Description

When pushing to a ssh remote which url doesn't have a user (the user is set in `~/.ssh/config`) I get the following error:
[code]

When checking with `dvc push --verbose` I get the following debug message:

[code]

### Reproduce

1. `dvc init`
2. Copy `dataset.zip` to the directory
3. `dvc add dataset.zip`
4. `dvc remote add --default ssh-remote ssh://myhost.example/p

[2021-06-25 13:44] pmrowla commented on #6225
The SSH backend used in DVC (paramiko) won't read User and IdentityFile from your OpenSSH (`~/.ssh`) config.

As you noted, the solution here is to just set the username when you configure your remote. You can either set it in the URL, or using in the `user` config field for the DVC remote (see the `Click for SSH` section in: https://dvc.org/doc/command-reference/remote/modify#available-parameters

[2021-06-25 15:00] efiop commented on #6225
@isidentical Btw, does asyncssh handle that? Just wondering.

[2021-06-25 15:47] skshetry opened #6226 "add: broken progress bar during relink/checkout"
The progress bar during `dvc add` at the end is broken and is not shown at all. It makes DVC feel stuck.

It's a known issue, which I believe was done to iterate faster but has been left broken for 6 months now. :)

[![asciicast](https://asciinema.org/a/ENf5qyG2zA9TnNIbiYy7Fr04p.svg)](https://asciinema.org/a/ENf5qyG2zA9TnNIbiYy7Fr04p)

[2021-06-25 16:05] skshetry opened #6227 "add: performance and reliability issues"
- [x] Repeated `dvc add` is not skipped.
[code]
   In 1.X, it'd have been skipped. And, dvc still deletes the file and tries to restore it from the cache making it slower.

- [x] DVC uses move-then-checkout logic. It moves the file from the workspace to the cache and then checks it out again, rather than just using copy.

    This is slow and might result in data loss if it happens to fail in betw

[2021-06-25 16:11] matsui528 commented on #4875
I got it, so I'm looking forward to this feature being implemented someday :)

[2021-06-25 16:17] skshetry opened #6228 "commit: unnecessary prompt?"
`dvc commit` without any arguments/targets prompts the user if it should or should not prompt.

This feels unnecessary and quite obvious from the name on what it'll attempt to do. It'd be very much helpful if it prints what it's doing rather than asking the user.

[code]

Let me know what you think, or if I'm missing the old contexts for this _feature_. :)

[2021-06-25 16:19] hadasarik commented on #6205
Can I take this one?

[2021-06-25 16:26] skshetry commented on #6205
Sure, @hadasarik. Please take a look around here:
https://github.com/iterative/dvc/blob/4e792ae61c5927ab2e5f6a6914d985d43aa705b4/dvc/command/diff.py#L114-L121

And, if you face any issues please, feel free to ping us here or in Discord. :)

[2021-06-25 22:55] 0x2b3bfa0 opened #6230 "push: gdrive_service_account_json_file_path must be set for GDRIVE_CREDENTIALS_DATA to work"
## Description

The `GDRIVE_CREDENTIALS_DATA` environment variable won't be honored unless the `gdrive_service_account_json_file_path` configuration option is set beforehand.

### How to reproduce

The following GitHub Actions workflow provides a self-contained example to reproduce this issue. Uncommenting the only line prefixed with a hash `#` will make it work as expected.

[code]

_Note: the `$

[2021-06-26 02:00] pmrowla commented on #6230
With the current gdrive remote implementation, for service accounts, `gdrive_use_service_account` and `gdrive_service_account_json_file_path` are both required

`GDRIVE_CREDENTIALS_DATA` is only valid for user account credentials, not service accounts.

This needs to be more explicit in our docs, but it does say it here:

---

In addition to clarifying the docs, it would probably be better for us

[2021-06-26 10:51] c-meier commented on #6225
I tried setting `user` with:
[code]
But it has the same issue.

[2021-06-26 10:58] c-meier commented on #6225
DVC reads the OpenSSH config [here](https://github.com/iterative/dvc/blob/4e792ae61c5927ab2e5f6a6914d985d43aa705b4/dvc/fs/ssh/__init__.py#L50). And it works. The issue is that you don't use the username that you retrieved when creating the ssh connection [here](https://github.com/iterative/dvc/blob/4e792ae61c5927ab2e5f6a6914d985d43aa705b4/dvc/fs/ssh/__init__.py#L129-L131)

[2021-06-26 11:06] pmrowla commented on #6225
Looks like it's related to the changes in https://github.com/iterative/dvc/pull/6059

Previously, `fs.path_info` was populated using `self.user`, but that was lost when `path_info` was removed from FS into the ODB classes

[2021-06-26 14:29] 0x2b3bfa0 commented on #6230
Exactly! Failing to provide the latter would raise the `DvcException` above: _«To use service account, set gdrive_service_account_json_file_path_ [...] _in DVC config»_

Surprisingly, `GDRIVE_CREDENTIALS_DATA` also works for service accounts as I pointed out above:
1. Set `gdrive_service_account_json_file_path` to any readable file; even `/dev/null` would suffice
2. Pass the original Google Servic

[2021-06-26 14:29] 0x2b3bfa0 commented on #6230
Exactly! Failing to provide the latter would raise the `DvcException` above: _«To use service account, set gdrive_service_account_json_file_path_ [...] _in DVC config»_

Surprisingly, `GDRIVE_CREDENTIALS_DATA` also works for service accounts as I pointed out above:
1. Set `gdrive_service_account_json_file_path` to any readable file; even `/dev/null` would suffice
2. Pass the original Google Servic

[2021-06-26 14:51] pmrowla commented on #6230
In addition to the docs issues, this is the bug:

[2021-06-26 21:26] m7rcelo opened #6231 "dvc push: fails with Google Cloud Storage when remote URL is set to the bucket's root directory"
# Bug Report

## Description

dvc push gives the error:

 when trying to push files to the default remote in a newly created project. Changing the remote's URL from `gs://mybucket` to `gs://mybucket/subfolder` fixed it.

### Reproduce

1. dvc init
2. Copy dataset.zip to the directory
3. dvc add dataset.zip
4. dvc remote add -d myremote gs://mybucket
5. dvc push

### Expected

Push should be succes

[2021-06-27 13:07] tpietruszka commented on #5748
Experiencing a variant of this problem as well - in fact it's preventing all my teammates and me from upgrading to dvc v2.

We use a pattern where we `dvc import` (and `dvc add`) files in subdirectories of the `data` directory

Then our `.gitignore` looks like:
[code]
Git handles it well, DVC does not (since v2).
After upgrading to DVC v2, `dvc pull` does not actually pull anything.

Toy example:

[2021-06-27 15:37] tpietruszka commented on #5748
Actually, I'm not sure this is about `dulwich`.

Tried using `dulwich` directly, to browse the repo mentioned above, which causes problems in DVC.

Result:
[code]

So `dulwich` does know that the file of interest (`data/import/owl_sticker.png.dvc`) is tracked.

[2021-06-27 15:58] cverluise commented on #6231
Hello, had the same issue.

Seems that a trailing `/` (e.g.  `gs://mybucket/`) is now required. at least it fixed the issue for me.

Hope it can help

[2021-06-27 15:59] tpietruszka commented on #5748
Something strange happens around here: https://github.com/iterative/dvc/blob/4e792ae61c5927ab2e5f6a6914d985d43aa705b4/dvc/repo/stage.py#L468-L470

When I set a breakpoint in line 467 and displayed the results of `repo.dvcignore.walk()` - the file of interest was there:
[code]

However, if I then set a breakpoint in line 471, to see each iteration of the loop - it only gets triggered twice, with th

[2021-06-27 17:33] tpietruszka commented on #5748
OK, I think I got to the bottom of this!

When we call `is_ignored(dir_path)` (https://github.com/iterative/dvc/blob/4e792ae61c5927ab2e5f6a6914d985d43aa705b4/dvc/repo/stage.py#L463-L465) we don't include a trailing slash in the `dir_path`.

But we should, according to a `dulwich` docstring https://github.com/dulwich/dulwich/blob/76dd8356f9d8870f44226e4232c24fbc1e573e93/dulwich/ignore.py#L228-L231

[2021-06-27 18:11] BOYPETE55 commented on #6206
ui

[2021-06-27 20:23] SixfoldStockpiles opened #6233 "dvc push: fails on 2.4.1 with TypeError"
# Bug Report

## Description

When running `dvc push`, a TypeError occurs and the push fails. Does not occur with all `dvc push` commands, only for a certain stage.

I've confirmed this does not occur on DVC version 2.1.0. I haven't tried other versions.

[code]

### Reproduce

1. dvc run  -n ... -d ... -o ... "...command..."
2. dvc push

### Expected

DVC should push tracked content to S3 repo.

[2021-06-28 02:20] pmrowla commented on #6233
@SixfoldStockpiles can you run
[code]
and post the output

[2021-06-28 02:28] pmrowla commented on #6231
I think this is a regression, @isidentical we are still supposed default to using the root `/` even if it's not included in the URL, right?

[2021-06-28 05:47] pmrowla commented on #6215
in `dvc.utils.fs.contains_symlink_up_to()` we do a `if base_path in path` substring check without normalizing case for either path, which will fail on Windows in this case

[2021-06-28 07:13] isidentical commented on #6231
Right. I'll submit a patch for this

[2021-06-28 07:31] isidentical commented on #5130
@Christoph-1 would you mind trying to use `bucket/path/cache` instead of `bucket/path` as the remote address? Since there are some oddities w.r.t. trailing slash, I think there is a chance that this approach can work.

[2021-06-28 07:31] isidentical commented on #5130
@amin-nejad that seems like an irrelevant issue, please create another ticket.

[2021-06-28 07:58] isidentical opened #6237 "azure: checksum of import-url'd file changes"
[code]

[2021-06-28 08:03] isidentical commented on #6237
This seem to be caused by a case lowering somewhere outside of the filesystem;
[code]

[2021-06-28 08:08] skshetry commented on #6237
@isidentical, see https://github.com/iterative/dvc/issues/5998. When loading stage, it turns into lowercase.

[2021-06-28 08:13] isidentical commented on #6237
Right. I'm not sure about HTTP though for azure it is safe to assume both are pointing at the same object, so we might need to introduce a temporary `.lower()` call to `_entry_hook`

[2021-06-28 08:28] skshetry commented on #6237
I am not sure if this is remote-specific. Etags are case-sensitive.

[2021-06-28 08:42] karajan1001 commented on #6154
![56B0BF1F44A0452DD3C33C913A41BCB3](https://user-images.githubusercontent.com/6745454/123606692-bf54cb80-d82f-11eb-803a-07098056f79e.jpg)

[code]
It should support files/directories. It is a different bug?

[2021-06-28 09:46] pmrowla commented on #6237
According to the [RFC](https://datatracker.ietf.org/doc/html/rfc7232#section-2.3) only the `W/` prefix for weak etags should be case-sensitive, the rest of the etag value should not be.

[2021-06-28 09:55] skshetry commented on #6237
@pmrowla, the RFC says it's an opaque tag and it does not specify how `Etag` should be generated. So, it should be strongly  compared.

In practice, it might not matter that much though, but if we want to be standard compliant, it should be assumed case-sensitive.

[2021-06-28 10:00] iesahin commented on #6222
I can test HTTP pipelining with S3 with a script, if you'd like. If I can come up with faster download with a single thread, we can talk about implementing it in the core.

[2021-06-28 10:17] pmrowla commented on #6237
Ah, that makes sense.

So then we should probably be getting back to the solution discussed in #5998 and actually define schemas for each checksum type (or at least one non-default one for etags) so that we don't force them to be `Lower` after validation

[2021-06-28 10:21] #6215 closed

[2021-06-28 10:25] cverluise commented on #6231
Thanks @isidentical  and @pmrowla !

Also, if you can make the Error message a bit more explicit, that would help a lot IMHO.

Cheers!

[2021-06-28 11:20] skshetry commented on #6222
I think moving to `fsspec`'s HTTPFileSystem is the plan. Right now, I think it's not possible to upload and there are some performance concerns which we could contribute to.

I don't think it'll make much difference unless we go async.

[2021-06-28 11:58] isidentical commented on #6237
Okay, if we assume all 'etags' should be compared case-sensitively, then it should be simpler. I've updated my patch to introduce a new schema object for etags (s3/gs/oss/azure/http).

[2021-06-28 12:53] isidentical commented on #5589
This is an upstream bug on the `azure-sdk-for-python`, which is being stale at the moment (2 months without any response from the MSFT team). The temporary solution might be just using a token with extended privileges. I'm subscribed to the upstream issue, but for now there isn't much we can do about this, so closing it.

[2021-06-28 12:53] #5589 closed

[2021-06-28 12:56] isidentical commented on #4693
This is finally fixed on upstream adlfs, so we only need to add a test and bump the adlfs requirements. See https://github.com/dask/adlfs/pull/237

[2021-06-28 13:02] isidentical commented on #5521
Awaiting: https://github.com/intake/filesystem_spec/issues/562#issuecomment-869664069

[2021-06-28 13:02] skshetry commented on #5392
Some update on this - We decided to adopt https://clig.dev as a base guideline for the CLI applications (I would suggest everyone read this). I started going through our commands and fix where we violate this and make some improvements along the way.

I had to start somewhere, so I have chosen data management commands - starting with `add`.  I noticed some performance and reliability issues on `ad

[2021-06-28 13:18] skshetry commented on #5392
Another thing that I'd like to open the discussion is the UI messages for the `add`.

- The `add` command is quiet about what is done, at the end, there's only a progress bar (and, an ugly hint). What should it say on success?
- Do we even need a progress bar for a single target to add (eg: `dvc add data`)?
- Do we need progress bars at all, even for multiple targets?
- How should DVC show progres

[2021-06-28 13:38] Christoph-1 commented on #5130
@isidentical Thanks for the suggestion. I tried with different urls in the .dvc/config file:
`bucket/path/cache/`
`bucket/path/cache`
`bucket/path/`
`bucket/path`
Using the first two results in `AccessDenied` errors and the last two in the `Forbidden` error described above.

[2021-06-28 13:40] isidentical commented on #5130
Interesting, `bucket/path/cache/ `should have worked. Can you please post the `dvc doctor` and the `dvc push -v`'s full traceback. Also please ensure that aws-cli works.

[2021-06-28 13:49] Christoph-1 commented on #5130
Here's the `dvc doctor` output:
[code]

[2021-06-28 14:18] Christoph-1 commented on #5130
Here's the output of `dvc push -v`:
[code]

I tried with the aws-cli for this path (s3://bucket/path/cache/) with `s3 cp ` and it works without getting an error.

[2021-06-28 14:19] Christoph-1 commented on #5130
Is the `cache` a subfolder or is it something generated by dvc?

[2021-06-28 14:20] isidentical commented on #5130
`cache` is just an arbitrary prefix, you can do `your/original/path/apple` etc. and DVC wil use `your/original/path/cache/<xx>/<yy>` instead of `your/original/path/<xx>/<yy>` which could have helped in the case of trailing slash. Looking into it.

[2021-06-28 16:04] JenniferHem opened #6241 "s3: introduce timeout config option"
# Bug Report

## Description

I am trying to push files with approximately 1GB per file to an internal s3 storage. For other (smaller) files this works perfectly fine, however with the 1GB files I am experiencing a timeout, while the logs from the storage do not show any error and keep uploading even after the timeout.

### Reproduce

adding 5 1GB files to the repository and then using dvc push -v

[2021-06-28 16:14] Erotemic commented on #6225
I'm also running into this issue.

I verified in dvc/remote/base.py in `Remote.__init__` the `**config` does indeed contain the "user" field, but in dvc/fs/ssh/connection.py in `SSHConnection.__Init__`, the **kwargs does not contain "username".

I'm not sure if the difference between "user" and "username" is important or not.

[2021-06-28 16:44] efiop commented on #6241
Hi @JenniferHem

What s3 storage are you using? minio?

[2021-06-28 16:44] skshetry commented on #6025
@efiop ping

[2021-06-28 17:15] #6237 closed

[2021-06-28 17:17] efiop commented on #5998
Fixed by #6238

[2021-06-28 17:17] #5998 closed

[2021-06-28 17:31] pared commented on #6145
### 1. Major issue is what will `repo.plots` return after this change?
Till now it has been returining vega json specification, which later was wrapped into html.
If we want to start supporting images, returning vega specification is no longer the option.
I see 2 ways how we can proceed with that:
1. Make plots "aggregated api.get" that will return `revision:path_in_repo` data content and probably

[2021-06-28 18:00] dberenbaum commented on #6145
Great summary! I'm adding some UI questions:

### Commands and options

There are 3 different `dvc plots` commands:

1. `show`: Options like `--all-branches` and `--num` could show multiple commits. Commits could be side-by-side in this view or some other configuration that works well for large numbers of commits. Would this be helpful for images or vega or both?
2. `diff`: Could we "merge" images

[2021-06-28 19:41] m7rcelo commented on #6231
Thank you!

[2021-06-28 19:52] mnrozhkov opened #6244 "push: failed to push data to the cloud (GCS)"
# Bug Report

## Description

Trying to push data to remote storage on GCS but failed.
- Create a data registry, add data & pushed to the remote storage (on GCS) ~ 20 GB (success)
- Add more data (~ 100 GB), run 'dvc commit && dvc push' but failed

[code]

### Reproduce

1. dvc init
2. Copy images to `train/` directory
3. dvc add `train/`
4. dvc remote add -d gcp-storage gs://STORAGE-NAME
4. dvc p

[2021-06-28 20:57] #6102 closed

[2021-06-28 21:03] efiop commented on #6244
@mnrozhkov Hi. Could you show `pip freeze | grep gcsfs` and `pip freeze | grep fsspec`, please?

[2021-06-29 05:37] mnrozhkov commented on #6244
Hi @efiop! Here you are, please:
[code]

[2021-06-29 06:25] JenniferHem commented on #6241
We are using AWS.

[2021-06-29 07:15] JenniferHem commented on #6241
We are using a Ceph Storage Cluster

[2021-06-29 08:59] isidentical commented on #6231
I can't reproduce it on the master;
[code]

@m7rcelo @cverluise Would you mind supplying me `dvc doctor` and `dvc push -v`'s output?

[2021-06-29 09:04] jnissin commented on #6244
I would like to add that I am experiencing the same issue with DVC version:

[code]

Problem started when updating to version 2.4.1 and persisted even after updating to 2.4.2 through brew.

[2021-06-29 09:07] isidentical commented on #6230
See also #5580

[2021-06-29 09:11] jnissin commented on #6244
My full traceback from `dvc push -v` if it helps:

[code]

[2021-06-29 09:29] Christoph-1 commented on #5130
@isidentical I tried again this morning and spoke to our infrastructure team. I didn't have access to `s3 ls` in the subfolders of the `bucket/path`.  That's why putting objects with the was-cli worked, but I assume that's also why dvc failed. We have resolved that access issue and now dvc works fine. Thanks for your help also @efiop .

[2021-06-29 09:30] isidentical commented on #5130
@Christoph-1 really glad to see this issue has been resolved for you. Don't hesitate to let us know if you experience any other issue through discord / github.

[2021-06-29 09:30] #5130 closed

[2021-06-29 10:10] isidentical commented on #6244
I think I've found the cause of the issue,
https://github.com/iterative/dvc/blob/61835f65116c3e5808c325d6cb22a12d36f70cde/dvc/fs/fsspec_wrapper.py#L176-L183

We use prefix based search when the `prefix is not None`, though if the prefix is `False` then we still use it due to explicit None-check and it appears to be that somewhere in the remote traversing logic, we pass `prefix=False` instead of `p

[2021-06-29 10:42] skshetry commented on #5347
Closing, as we have moved away from `logger.info` in the CLI, and created some abstractions. Other stuff will be added as I go through the commands based on necessity. :)

[2021-06-29 10:42] #5347 closed

[2021-06-29 11:05] pared commented on #6218
@klakhdhar there might be a slight change in the api, please note this PR: #6221

[2021-06-29 11:28] efiop commented on #6241
@JenniferHem Are you able to upload that file by hand using aws CLI? Just trying to figure out where the problem is.

[2021-06-29 11:36] nokutu commented on #6233
I'm having the same issue, and I don't have s3fs installed (installing it changed nothing)

[2021-06-29 11:41] efiop commented on #6233
@nokutu Could you show full error log, please? (make sure to add `-v` flag to the command to get verbose output)

[2021-06-29 11:51] nokutu commented on #6233
I downgraded, pushed properly, went back to 2.4.1 and it doesn't happen anymore. But this was the error I was getting:

[code]

[2021-06-29 12:04] isidentical commented on #6244
I wasn't able to find an easy test case, so we need a manual confirmation that the patch I created works (#6246) for the bug mentioned here.

2.3.0

[2021-06-29 12:30] jnissin commented on #6244
Commented on the pull request that the same problem persists for me #6246

[2021-06-29 12:49] #5748 closed

[2021-06-29 12:55] JenniferHem commented on #6241
Yes the GUI works and I can upload the files.

[2021-06-29 12:55] dberenbaum commented on #4428
If `cache: false` is set because some data is sensitive, current behavior could be dangerous. If someone does `dvc push --run-cache`, for example, they will push the `cache: false` data to the remote.

[2021-06-29 13:04] efiop commented on #6223
Releasing 2.4.2 right now...

[2021-06-29 13:04] #6223 closed

[2021-06-29 13:15] isidentical opened #6248 "doctor: should dvc doctor show remote-required dependency versions"
Something that we've been experiencing lately is asking for an extra question regarding the version of their used remote dependency. We could try to annotate the dvc doctor's output with the stuff that we can get (optional). Something like this
[code]

[2021-06-29 13:16] isidentical commented on #6248
CC: @iterative/dvc

[2021-06-29 13:36] Suor commented on #6082
After newer changes in DVC, the way we handle it in Studio becomes more thin, i.e. this `KeyError` we are handling is coming from significantly more nested code now. Can you guys wrap it into a custom exception?

[2021-06-29 14:26] efiop commented on #5748
Thank you @tpietruszka ! :pray: Releasing new version right now.

[2021-06-29 15:00] m7rcelo commented on #6231
Hello @isidentical,

`dvc doctor`:
[code]

`dvc push -v`:
[code]

[2021-06-29 15:34] dberenbaum commented on #6222
We discussed this in planning, and there are a few different items to address in this issue:

1. **Difference between `get` and `pull`** - this will hopefully be addressed soon.

2. **Optimization of `http`** - for now, it seems like performance of `http` is not too different from `s3`, so probably not worth pursuing this now.

3. **Optimization of download operations for directories** -

I did a

[2021-06-29 15:40] shcheklein commented on #6222
Excellent summary, thanks guys! thanks Dave!

[2021-06-29 15:43] shcheklein commented on #6222
One question though - why don't we increase number of workers by default? I think we should be a bit more aggressive.

Also, one more experiment - what happens with `-j 100` and `--numworkers=100`? Just to see how does it scale. Also, how much of your network bandwidth do they take?

[2021-06-29 16:07] efiop commented on #6222
It is too dangerous to just set it to something bigger without having a proper throttling mechanism, or we will start getting timeout errors or "too many files" errors. Throttling should be handled by each filesystem's `put/get` methods and we are currently working on migrating towards those with amazing changes from @isidentical in fsspec and amazing changes from @pmrowla in odb transfer.

[2021-06-29 16:18] isidentical commented on #6233
This seems like an s3fs version mismatch issue, please verify that you have 2021.06.1

[2021-06-29 16:27] nokutu commented on #6233
I'm using 18.04 LTS, and it provides me:

[code]

So that's probably it

[2021-06-29 16:30] isidentical commented on #6233
Is this some sort of apt package? What I mean by s3fs is s3fs from PyPI

[2021-06-29 16:31] skshetry commented on #6222
I think that's obsoleted by [rfc7230](https://datatracker.ietf.org/doc/html/rfc7230#section-6.4).

   ceiling, but this was found to be impractical for many applications.
   As a result, this specification does not mandate a particular maximum
   number of connections but, instead, encourages clients to be
   conservative when opening multiple connections.

[2021-06-29 16:37] nokutu commented on #6233
I was installing DVC using the deb package, so I didn't have s3fs PyPI package.

[2021-06-29 17:05] efiop commented on #6233
@nokutu Could you upgrade dvc, please? We've released 2.4.2 earlier today that has s3fs 2021.6.1 baked into it

[2021-06-29 17:59] dberenbaum commented on #3305
What's the status of this after #6109?

[2021-06-29 18:20] shcheklein commented on #6222
Yep, it would be really great to have some dynamic workload balancing/throttle/etc. But even w/o it we could use `max(15, current_value)`, wdyt?

[2021-06-29 19:55] nik123 commented on #6196
@efiop I don't mind closing it in favor of #2466. Probably description of that issue should be changed and mention not only `get` but also `import` and `list`.

[2021-06-29 21:13] dberenbaum commented on #6222
**TLDR**: It looks like the multiple processes launched by s5cmd do improve performance, whereas the additional threads in dvc don't seem to be helping much.

`s5cmd --numworkers 100` finishes in about 5 minutes for me on multiple tries. Here's a random snapshot of cpu and network activity while files were downloading:

<img width="956" alt="s5cmd_cpu" src="https://user-images.githubusercontent.co

[2021-06-29 21:51] efiop commented on #6225
@pmrowla @Erotemic Thanks for the research, guys! Indeed, it is a regression from #6059 :slightly_frowning_face: I'll send a fix shortly while we are waiting for https://github.com/iterative/sshfs , which will remove this code anyway in the future.

[2021-06-30 02:26] pmrowla commented on #3305
After #6109, chained imports should work, and if there is a circular import in the chain, DVC will error out.

It currently works by resolving the entire import chain each time, and requires that DVC be able to access all of the repos in the chain (and all of the default remotes for each repo in the chain). This requirement remains true even after the initial `dvc import` (so to be able to pull or

[2021-06-30 02:28] pmrowla commented on #3305
I'm not sure if this implementation meets the needs for closing this issue or not.

I think there was some discussion before regarding whether or not the final import into D should only require access to repo C? (this would require pushing all of C's imported files into C's default remote, rather than fetching them from their original locations in remotes A & B)

I'm also not sure whether or not w

[2021-06-30 02:40] jorgeorpinel commented on #3305
It currently works by resolving the entire import chain each time, and requires that DVC be able to access all of the repos in the chain (and all of the default remotes

That qualifies as "allowing chaining imports somehow" to me! I.e. it closes this ticket, I think.

I'm just also curious whether the current behavior is what we want long term, given earlier comments e.g. https://github.com/iterat

[2021-06-30 02:52] pmrowla commented on #3305
The one other thing to note would be that running `dvc update dir` from repo D will only check if `dir` has changed in repo C.

So if `foo` has changed in repo A, but no one has run `dvc update dir/foo` in repo C, the `dvc update dir` from repo D won't do anything (since the intermediate import for `foo` in repo C will be unchanged)

[2021-06-30 06:49] #6207 closed

[2021-06-30 07:38] atekoa opened #6253 "push: RAW file considered as text file (bad MD5)"
# Bug Report

## Description
The RAW file has a md5sum

**fd0de1350b92b00d60afd53b015f6aea 214089_JAI.raw**

But DVC calculates it as

**md5: 0b4d86bc06ee3260e8172b2196805382 size: 63232000 path: 214089_JAI.raw**

This happens because it identifies it as a text file and runs the dos2unix replacement:
https://github.com/iterative/dvc/blob/1.11/dvc/utils/__init__.py#L39 -> https://github.com/iterati

[2021-06-30 08:51] marigianna commented on #2432
Hello, I'm also interested in this feature.
I see there has been a while since the ticket opened. Is there any progress?

[2021-06-30 08:56] skshetry commented on #2432
@marigianna, we are moving our remotes to the [`fsspec`](https://github.com/intake/filesystem_spec).

If you want to have support for the sharepoint through HTTP, you'll need to implement a fsspec-compliant filesystem for it.
And, we'll provide a plugin mechanism to integrate (soon!). For sharepoint via Webdav, see here https://github.com/iterative/dvc/issues/2432#issuecomment-823846974.

[2021-06-30 09:42] isidentical commented on #6253
Potentially relevant with: https://github.com/iterative/dvc/issues/4658

[2021-06-30 11:28] nokutu commented on #6233
I've updated and it looks like it works. Thanks!!

[2021-06-30 11:47] efiop commented on #6233
@SixfoldStockpiles Please give a newer version a try and let us know if it fixed it for you. Closing.

[2021-06-30 11:47] #6233 closed

[2021-06-30 11:57] tomaszpietruszka-globality opened #6255 "pull: fails in V2 if original import was in V1 and specified a git tag"
# Bug Report
## Description

DVC 2.x does not seem to be backwards compatible with 1.x in cases where the `dvc import` specified a tag

Attempting to `dvc pull` after a dvc upgrade results in
[code]

Of course re-importing the same files using a new DVC version is a "solution", but the migration would be quite painful for us - large number of files in multiple places.

BTW, once a file has been re

[2021-06-30 12:01] jnissin commented on #6244
@isidentical any updates on this? 😬 I am considering downgrading soon if I can't push with the latest version.

[2021-06-30 12:15] alice45678 opened #6256 "Not able to push data of dependencies to the remote"
# Bug Report

## Description
I'm not able to push data of dependencies in the dvc.yaml to the remote.

### Reproduce

../dvc.yaml
<img width="291" alt="Screenshot 2021-06-30 at 15 04 37" src="https://user-images.githubusercontent.com/39770544/123965293-9742a500-d9b4-11eb-942d-8f993ccf1b5e.png">

[code]
Error: failed to push data to the cloud - '../../data/my_data.csv' does not exist as an output o

[2021-06-30 12:20] isidentical commented on #6244
It took me a while, but I was able to trace the actual issue within 'gcsfs' (the underlying google storage client library). I also found a reproducer: https://github.com/dask/gcsfs/issues/393#issuecomment-871345871. I guess the naive workaround is just disabling prefix based search again, for google cloud since it apparently doesn't work quite properly (or introducing `invalidate_cache()` calls be

[2021-06-30 13:10] iesahin commented on #6222
If there is an easy way to measure the _total_ throughput in `dvc fetch`, an adaptive algorithm can be used to set the number of jobs.

- Start `jobs=4`
- At each step increase the number of jobs by 2 and measure the throughput for 5 seconds
- If the new jobs are killed for some reason (e.g. memory), keep the number of jobs at that level
- If the last increase brought gains in total throughput, ad

[2021-06-30 13:11] iesahin commented on #6222
Ah, thank you @skshetry It's again _a low number_ though.

[2021-06-30 16:06] rmoreas commented on #2432
also interested for this feature!

[2021-06-30 16:40] efiop commented on #6223
@smoretti Thanks for the feedback! :pray:

[2021-06-30 17:10] ambarish-deopujari-konvergeai opened #6257 "import-url: issue with importing data if no ETag is present"
# Bug Report

## Description
If ETag is not present in response to a particular file that is hosted on the localhost a proper validation message should be there. Currently, it just throws `AttributeError: 'NoneType' object has no attribute 'endswith'`

### Reproduce

1. Copy any sample.csv file in a particular folder
2. Run `python3 -m http.server PORT_NUMBER` in the same folder
3. Create a separa

[2021-06-30 17:26] tomaszpietruszka-globality commented on #6255
I think the problem is that here:
https://github.com/iterative/dvc/blob/master/dvc/scm/git/backend/pygit2.py#L216
we are assuming that the first element of the returned tuple is a commit, but I'm actually getting
[code]
We then proceed to treat it as a commit, which does not work.

The expected behaviour (I think) would be to get, in my example:
[code]
(the tag object does have a `.target` attribu

[2021-06-30 18:18] sjawhar opened #6258 "remote: user parameter no longer recognized for SSH remotes"
# Bug Report

## Description

PR #6059 introduced a breaking change for SSH remotes when the SSH user is specified using the `user` parameter. The `SSHFileSystem` object correctly reads the username from the config

https://github.com/iterative/dvc/blob/ce45ec8a2864f4d2ad02bb27c158f00f532affe2/dvc/fs/ssh/__init__.py#L53-L56

However, the `path_info` object is not, as it relies on parsing the usern

[2021-06-30 19:01] dberenbaum commented on #3305
Hmm, I'm not sure what's the best approach. It's probably best to document the chained imports for now since that's the current implementation and revisit whether imports should be "backed up" later if it becomes a more obvious need.

[2021-06-30 19:48] tomaszpietruszka-globality commented on #6255
fwiw, I've opened an issue in `pygit2`: https://github.com/libgit2/pygit2/issues/1082

[2021-06-30 20:08] efiop commented on #6253
@atekoa Are you using our md5s(which are not really md5s) to validate data outside dvc?

[2021-06-30 20:12] isidentical commented on #6258
Duplicate of #6225

[2021-06-30 20:12] #6258 closed

[2021-06-30 20:27] efiop commented on #6248
This would be amazing! :fire:

[2021-06-30 20:30] efiop commented on #6256
Hi @alice45678 !

Could you try `dvc push ../../data/my_data.csv.dvc`?

[2021-06-30 23:43] efiop commented on #6241
@JenniferHem Not sure what you mean by GUI. What about aws CLI though(e.g. `aws s3 cp ...`)?

[2021-06-30 23:44] efiop commented on #6196
Sounds good. Closing for now.

[2021-06-30 23:44] #6196 closed

[2021-07-01 07:31] jnissin commented on #6244
I can confirm that now installing from:

[code]

Has fixed the GCS push issue for me. Thanks @isidentical ! Are we going to see this in the brew version any time soon by the way?

[2021-07-01 07:49] isidentical commented on #6244
CC: @efiop

[2021-07-01 07:51] alice45678 commented on #6256
Yes, I have tried. It shows that `Everything is up to date`. But we can't find the file from the remote

[2021-07-01 07:53] skshetry opened #6262 "libify dvc.odb and objects"
We should try to push io to the edge. `odb` being a core part of the DVC should be a good place to start.

I did a quick search, and it does not seem that we use the logger calls for the UI. so we are at a good place. We should change the logger to only output during the `--verbose` mode and hide otherwise. There is a warning and an error, but on both we do raise Exception, so we could reduce the

[2021-07-01 08:28] isidentical commented on #6248
One thing that is a bit problematic is when the all remotes are installed. Normally instead of listing everything, DVC only prints All remotes;
[code]
Though this is probably going to be problematic for us in the future, when we introduce the plugin system the definition of 'All remotes' will probably change. There are 3 changes that we can do;

- Keep it as is, and only annotate DVC installations

[2021-07-01 08:46] atekoa commented on #6253
We use the path in the cache folder (which is supposedly the md5) as a header to check the md5 of the uploaded file, so in this case, the path in the cache is
0b/4d86bc06ee3260e8172b2196805382 -> expected md5 0b4d86bc06ee3260e8172b2196805382
-> uploaded md5 fd0de1350b92b00d60afd53b015f6aea

But the main problem we detect is that it is considering the file as a text file and it is a binary file, so

[2021-07-01 10:46] efiop commented on #6253
@atekoa Could you elaborate on why you have to use our hash to verify uploads yourself? As I understand everything works correctly, except your custom additional verification that relies on our hash, right? Or do you run into actual problems with our hash collisions?

Our hash is in the current format for historical reasons, as described in #4658 , we will be switching to a proper sha* in the futu

[2021-07-01 10:54] efiop commented on #6256
@alice45678 Are you sure your collegue on the same git revision? Check that their `my_data.csv.dvc` matches yours.

[2021-07-01 10:57] alice45678 commented on #6256
Even when I deleted the data `my_data.csv` from my local machine, I am also not able to pull the data from the remote.

[2021-07-01 10:58] efiop commented on #6248
@isidentical I agree that it is better to just show all remotes that are supported with corresponding versions. Indeed, current `all remotes` won't work with plugins in the future anyways.

@skshetry wdyt about removing `all remotes`?

[2021-07-01 11:00] efiop commented on #6256
Did you delete the file itself in the workspace or did you remove a corresponding object in .dvc/cache? If the former - the .dvc/cache is still up-to-date and `dvc pull` won't download anything, it will just restore the file in the workspace.

[2021-07-01 11:04] alice45678 commented on #6256
I deleted the file only from the workspace. When using `dvc pull`, the file `my_data.csv  ` was not restored in the workspace.

[2021-07-01 11:09] skshetry commented on #6248
I'm fine with removing `all remotes`. Though I find `dvc version` to be already complicated and slow, and we are in a transition period for the remote updates, maybe we won't need it in the future?

Anyway, to simplify the output a bit, maybe we can even get rid of remote names and just print libraries, like how pytest does.
[code]

[code]

I think it's okay to not worry about `All`, as rarely use

[2021-07-01 11:22] isidentical commented on #6248
I don't think that it is going to affect performance that much, an `importlib.metadata.version()` call is `+/- 1 msec`, so at total it will be at most 50-60 msec change (including the import of `importlib.metadata`) to retrieve all the versions we need which is waaay lover compared to importing each module so I don't think it is even noticable.

I am not sure about what is the remote update stuff,

[2021-07-01 11:24] atekoa commented on #6253
I use the DVC calculated hash to avoid having to rewrite the file in our proxy, recalculate the hash and send the correct hash and the file to the gocloud.dev library, which is ultimately responsible for uploading the file and verifying the md5.
The gocloud.dev library is the one that requires me to send the md5 of the file to verify that have written the data correctly, but I don't have the corre

[2021-07-01 11:35] efiop commented on #6253
@atekoa Right, so you have to compute real md5 yourself if you need one. You are doing something rather advanced and relatively hacky, so there doesn't seem to be much we can do on our side right now :slightly_frowning_face: Also note that we will be switching to sha* in the future, so md5 will no longer be there anyway. Is calculating real md5 by yourself feasible in your scenario?

[2021-07-01 11:42] atekoa commented on #6253
Not really. Instead of a "drive through" proxy, it will be a "stop and go" :(
If they send me 10GB I will have to write them to calculate the MD5 and then send... It does not seem very interesting

[2021-07-01 11:48] efiop commented on #6256
@alice45678 `dvc pull` without arguments? If so, corresponding `my_data.dvc` is probably gitignored, which makes dvc not be able to see it unless you `dvc pull path/to/my_data.dvc` explicitly. What does `git check-ignore path/to/my_data.dvc` show?

[2021-07-01 11:51] efiop commented on #6253
@atekoa Sorry to hear that :slightly_frowning_face: , but looks like there is no other official way to do that. Maybe modifying dvc for your use case to not use `dos2unix` would be possible, but that will make it incompatible with official dvc. Looks like the proper way to do that is to indeed compute md5 in your proxy on the fly and then use it.

Closing for now.

[2021-07-01 11:51] #6253 closed

[2021-07-01 11:53] efiop commented on #6244
@isidentical @jnissin Sure, we'll do a release as soon as the PR is merged. Thank you @isidentical ! :pray:

[2021-07-01 11:53] plopd commented on #2865
Dear @julsal, I am glad ur doing that. I am in need for that feature. I presume your current work is here: https://github.com/iterative/dvc/tree/gdrive-import

When do u expect to finish it?

[2021-07-01 11:54] JenniferHem commented on #6241
@efiop Hi sorry I have to internally figure things out, that is why I am taking a bit of time. So we have a GUI which uses boto3 for the upload. However, currently I am seeing no Error in the GUI but using the CLI via boto3 in a script I again see the timeout. So I am investigating on our side again. I will report back here with more information

[2021-07-01 12:15] efiop commented on #2865
@plopd We are migrating to fsspec right now https://github.com/iterative/PyDrive2/issues/113 and will ressurect `import-url` support for gdrive after that is sorted. ETA is August.

[2021-07-01 12:52] plopd commented on #2865
@efiop Great. Until then, I think we should remove the `gdrive` row, since really as of now, DVC is not supporting that protocol type. I got confused when I tried to use `import-url` for gdrive only finding out that it's not even available in the newest version.

[2021-07-01 14:35] dberenbaum opened #6263 "executor: setup and configure executors"
Meta-issue. Please link related tickets back to this one.

### User story

I want to spin up an executor and tear it down.

### Requirements

* Define Terraform resources in DVC config files
* Create, update, and destroy resources from within DVC

### Tasks
Config-only commands:

* [x] `dvc machine add` (#6462)
* [x] `dvc machine remove` (#6462)
* [x] `dvc machine list` - (#6480)
* [x] `dvc machin

[2021-07-01 14:42] dberenbaum opened #6264 "executor: research terraform config"
Child of #6263.

Research Terraform to determine needs for configuring executors.

Expected outcome:
* Design for config files and initial options needed for executors.
* Design for how to create and destroy executor instances.
* Issues and timeline for implementation.

[2021-07-01 14:45] dberenbaum opened #6265 "executors: share repo with executor"
Meta-issue. Please link related tickets back to this one.

### User story

I want to share my code with my executor.

### Requirements

* Local repo code is accessible on the executor and reflects the local workspace at the time of running `dvc exp run --executor`.

[2021-07-01 14:46] dberenbaum commented on #6265
Is this best shared directly over ssh or should it be transferred via github or other git remotes if possible?

[2021-07-01 14:47] dberenbaum opened #6266 "executor: share dvc-tracked data"
Meta-issue. Please link related tickets back to this one.

### User story

I want to share my dvc-tracked data with my executor.

### Requirements

* The executor can access dvc-tracked data needed to run the experiment.
* Dvc-tracked outputs from the executor's experiment are available locally (by pulling from the remote or by some other method).

### Out of scope

It's not yet necessary to optim

[2021-07-01 14:49] dberenbaum commented on #6266
Is this best shared directly over ssh or should it be transferred via dvc remotes if possible? Should a dvc remote be required?

[2021-07-01 14:57] dberenbaum opened #6267 "executor: run experiment on an executor"
Meta-issue. Please link related tickets back to this one.

### User story

I want to run an experiment on my executor from my local machine.

### Requirements

* `dvc exp run --executor` successfully runs an experiment on a running executor instance with no other steps.

### Out of scope

* It's not yet necessary to monitor the experiment or its output while it runs or to be notified when the expe

[2021-07-01 15:05] dberenbaum opened #6268 "executor: show experiment results"
Meta-issue. Please link related tickets back to this one.

### User story

I want to see the results of my executor's experiments on my local machine.

### Requirements

* `dvc exp show` at least has an option to show the results from an experiment completed on an executor without other steps.
* `dvc exp show` at least has an option to show checkpoints from an experiment running on an executor wit

[2021-07-01 15:09] dberenbaum commented on #6268
What's the best way to share the experiment commit and the related dvc-tracked data (see #6265 and #6266)? Should the dvc-tracked data get pulled along with the experiment commit?

[2021-07-01 15:13] dberenbaum opened #6269 "executor: setup credentials"
Meta-issue. Please link related tickets back to this one.

### User story

I want my executor to have all the credentials and configurations I need to access my data and run my code.

### Requirements

* The executor has credentials to access the remote through some pattern that is documented and doesn't require manual intervention on the executor instance.
* All reasonable security precautions ar

[2021-07-01 15:16] dberenbaum commented on #6269
Conversation between @pmrowla and me:

@pmrowla:

@dberenbaum:

@pmrowla:

[2021-07-01 15:28] dberenbaum opened #6270 "executor: setup software environment"
Meta-issue. Please link related tickets back to this one.

### User story

I want to setup my software environment on my executor so that it runs like my local machine.

### Requirements

* The executor can install any necessary software requirements without manual intervention through some pattern that is documented.

### Out of scope

* It's not yet necessary to cover every way to setup software

[2021-07-01 15:32] dberenbaum commented on #6270
Two patterns that seem like they might cover most scenarios for now:

* Terraform startup scripts
* Docker container support

[2021-07-01 15:50] lefos99 opened #6271 "`dvc exp show` with target"
Hello,

In our project, we have different `dvc.yaml` files, in different folders.

I think it would be great (and much cleaner) if I could provide a target when I run the command `dvc exp show`.

For example, I can already do `dvc status dvc.yaml` and get the status for only this specific `dvc.yaml`, and not for the other ones. Would something similar for `dvc exp show` be possible?

Thank you in

[2021-07-02 03:29] pmrowla commented on #6255
@tomaszpietruszka-globality I'm not able to reproduce this in DVC or pygit (tested with pygit 1.5.0 and 1.6.1). Can you confirm which pygit version you have installed through pip, and which libgit2 version it was built against (using `pygit2.LIBGIT2_VER`)?

[code]

[2021-07-02 07:56] JenniferHem commented on #6241
@efiop So we tested internally, I can use boto3 for the upload if I increase the timeout of the Connection:
[code]
is there such a possibility in DVC?

[2021-07-02 08:37] iesahin commented on #6222
My comparison between `dvc pull` and `s5cmd` is similar to [Dave's](https://github.com/iterative/dvc/issues/6222#issuecomment-870704100), but more of like 3x difference:

- `s5cmd cp 's3://dvc-public/remote/get-started-experiments/*'` takes 11:35

- `dvc pull -j 100` takes 33:19

These are with 70.000 identical files.

The default `--numworkers` for `s5cmd` is 256. In the above experiment it's set

[2021-07-02 10:27] louiscpalma commented on #2432
Not explicitly SharePoint, but also supposing OneDrive would be amazing.

[2021-07-02 12:44] tomaszpietruszka-globality commented on #6255
@pmrowla I believe I'm using the same versions:
[code]

The key thing is: the problem does not manifest when resolving the _name_ of the annotated tag, it manifests when resolving the _SHA_ of the annotated tag.

It's probably a very rare use case, because why would someone use the SHAs of tags... except that's what DVC 1.x stores as `rev_lock`, if a name of an annotated tag was given in `--rev`.

[2021-07-02 13:23] pmrowla commented on #6255
That makes sense.

I'm not sure if this is actually a pygit2 bug, or just an incorrect docstring explanation of the `resolve_refish` behavior (will have to wait and see how they respond in the pygit repo). The problem here is that the `refish` isn't a refname, it's a SHA - and the SHA is for the annotated tag object, not the commit pointed to by the annotated tag.

I'm guessing that the underlying

[2021-07-02 15:00] #6255 closed

[2021-07-02 15:04] kiedanski opened #6275 "dvc push uploads everything from scratch after a git reset"
# Bug Report

dvc push: re-uploads all files after a `git reset --soft HEAD~1` that did not affect any of the files being uploaded.

## Description

We have a complicated and quite long pipeline with several steps frozen. After uploading everything with a dvc push, I had to perform a `git reset --soft HEAD~1`. The change did not affect any of the files tracked by dvc, but after commiting again, `d

[2021-07-02 19:59] agurtovoy opened #6276 "used_objs: add progress bar"
# Bug Report

## Description

My `dvc push` command was seemingly hanging, so I ran it with `--verbose` to see where is it hanging, and it "sat" quietly for ~40 secs without any output after the `DEBUG: Check for update is enabled.` line:

[code]

Running it with the `-vv` flag doesn't really help:

[code]

### Reproduce

It reproduces for me locally, but I'm not sure what triggers this.

### Expe

[2021-07-02 20:10] efiop commented on #6276
Hi @agurtovoy !

Thanks for a detailed report! :pray: It is `used_objs` collection that takes some time here and doesn't have a progress bar to indicate it. Could you post some stats about your repo, please?  Looks like you pretty much have 1 large dataset, right? How many files are there in that dataset?

[2021-07-02 20:17] efiop commented on #6276
Ah, nevermind, looks like it is a few hundred thousands of files, judging from the cprofile. Makes sense.

We are currently working on that part of the code and we'll be adding a pbar/spinner to it to indicate the progress better in the upcoming weeks. So stay tuned :slightly_smiling_face:

[2021-07-02 20:21] efiop commented on #6276
Though still seems like a lot of time to be spent there, will check if there is something we can do to speed it up.

[2021-07-02 21:18] agurtovoy commented on #6276
@efiop Is there a dvc command that could give me repo/branch stats? By my naive count, we have 18 individually tracked files, and 1 large tracked `data` directory, but I don't have that directory pulled locally, so not sure how its presence in the repo affects `push`.

[2021-07-02 21:28] efiop commented on #6276
@agurtovoy You should be able to see `nfiles` in `data.dvc` that corresponds to that `data` directory.

[2021-07-02 21:47] agurtovoy commented on #6276
@efiop Got it, here it is: `nfiles: 629922`.

[2021-07-02 21:49] efiop commented on #6276
@agurtovoy Thanks! ok, found the issue, preparing a PR right now...

[2021-07-02 23:44] efiop commented on #6241
@JenniferHem Unfortunately, there is no such option right now. In order to add that, one needs to add those two options to our config (`dvc/config_schema.py`) and then pass it to `S3FileSystem` (`dvc/fs/s3.py`) which will then pass it to `s3fs` https://github.com/dask/s3fs/blob/fc4489cfe749b2d3de62bde926ed93c05e27ce7a/s3fs/core.py#L329

Maybe we could also consider increasing defaults for it to pr

[2021-07-03 02:01] karajan1001 commented on #6228
Commit changes the  md5 of `dvc` files, which might not be tracked by Git. This might cause data reference missing.

[2021-07-03 14:33] karajan1001 commented on #6257
Thanks for your report, I can reproduce it. And this is the traceback on my computer

[code]

[2021-07-03 18:54] #6225 closed

[2021-07-03 20:05] efiop commented on #6276
@agurtovoy Please give 2.5.0 a try and let us know how it goes for you. We'll be adding a pbar anyway a bit later.

[2021-07-03 20:24] agurtovoy commented on #6276
@efiop Will do first thing on Tue, thanks so much for the quick fix!

[2021-07-04 05:59] bhumeshchopda opened #6279 "DVC Add Bug"
dvc add data/data.xml

Adding...
ERROR: unexpected error - DLL load failed: The specified procedure could not be found.

Having any troubles? Hit us up at https://dvc.org/support, we are always happy to help!

dvc vesrion 2.5.0

[2021-07-04 16:59] nik123 commented on #6196
I'm not sure if the issue is URL related. I've run several tests today and I can't reproduce this behavior again. My only guess now is that I've made a typo then manually editing `.dvc/config.local`. I feel silly, sorry for wasting your time :disappointed:

Anyway, here is definition remote in my `.dvc/config`:

[code]

[2021-07-04 20:21] efiop commented on #6196
@nik123 That might be because you've upgraded to 2.5.0, in which we've fixed that bug :slightly_smiling_face: Thanks for the feedback! :pray:

[2021-07-05 07:32] karajan1001 commented on #6279
@bhumeshchopda
Hello, could not reproduce it on my computer, `DLL load failed` looks like some C package broken ( for example NumPy )? May you please check that if your `NumPy` is working?

[2021-07-05 08:23] efiop commented on #6279
@bhumeshchopda Please add `-v` to the command you are running and show us full log that it produces.

[2021-07-05 09:58] alice45678 commented on #6256
We tried to use `dcv push path/to/my_data.csv.dvc`, and removed the original `path/to/my_data.csv`, 'dvc pull path/to/my_data.csv.dvc' it works well.

Thanks for the help!

[2021-07-05 09:58] #6256 closed

[2021-07-05 10:11] iesahin opened #6282 "exp run: `--set-param` adds new parameters to the params file"
# Bug Report

## Description

When I add an non-existent parameter after `-S`, it is added to `params.yaml` and the pipeline is run. This leads to unexpected results.

### Reproduce

[code]
The experiment is run as normal and `params.yaml` has a new parameter:

[code]
Note the typo in the parameter name.

The user thinks that they have changed a parameter, and no error is reported.

### Expected

[2021-07-05 10:15] iesahin commented on #6282
Seems a duplicate of #5477

[2021-07-05 10:18] #6282 closed

[2021-07-05 10:26] skshetry commented on #6210
Closing, most likely it's #5355 which happens on failure (as happy path moves stuff).

https://github.com/iterative/dvc/blob/2485779d59143799d4a489b42294ee6b7ce52a80/dvc/fs/base.py#L337-L343

We should be handling exception, and deleting tmp_file on failure there.

[2021-07-05 10:26] #6210 closed

[2021-07-05 10:26] efiop commented on #6256
@alice45678 Is it affected when you don't specify the target? See my last comment, I'm worried that you have a .gitignore that ignores some `*.dvc` files.

[2021-07-05 11:59] isidentical opened #6283 "import-url: unresponsive wait"
When performing an `import-url --to-remote` there is a weird waiting time between the staging and the saving with no progress at all.

This happens just after we created the tree object and during when were trying to getting the md5 hash for it;
https://github.com/iterative/dvc/blob/2485779d59143799d4a489b42294ee6b7ce52a80/dvc/objects/stage.py#L117-L139

During `Tree.digest()` we access the proper

[2021-07-05 17:09] dberenbaum commented on #6183
Should we move this to dvclive? Is there any underlying dvc issue to keep open if this dvclive feature is added?

[2021-07-05 17:18] dberenbaum commented on #5477
Need to consider what's expected here. It could be useful for new users doing experiments who have no prior dvc experience to setup experiments without ever touching `params.yaml` by adding parameters this way. Maybe a warning is best?

[2021-07-06 06:19] nsorros opened #6285 "More informative message when dvc.yaml is malformed"
I know we are supposed to let `dvc run` construct the `dvc.yaml` but I tend to write them manually as they are quite easy to construct. Often though I am receiving slightly difficult to decipher errors about the format. An example is below
[code]

this throws `ERROR: 'dvc.yaml' format error: extra keys not allowed @ data['stages']['train']['cmd']`

it is quite difficult to decipher that this is mi

[2021-07-06 07:20] ORippler opened #6289 "`dvc push/pull --remote webdavs`: missing webdavclient3 dependency under miniconda3 install"
# Bug Report

`dvc push/pull --remote webdavs`: missing webdavclient3 dependency under miniconda3 install

## Description

When installing `dvc` via `conda` or `mamba` on a `miniconda` install, one cannot make use of `webdavs` remotes since missing dependencies are installed

### Reproduce

1. install `miniconda`
2. install `dvc` via `conda install -c conda-forge dvc`
3. perform `dvc fetch/pull/pu

[2021-07-06 07:56] #6283 closed

[2021-07-06 07:59] efiop commented on #6289
Hi @ORippler .

Could you try upgrading to 2.5.0, please?

[2021-07-06 08:00] skshetry commented on #6289
We don't support webdav in Conda package yet https://github.com/conda-forge/dvc-feedstock/issues/138

[2021-07-06 08:00] efiop commented on #6289
@skshetry any plans on publishing webdav4 on conda?

[2021-07-06 08:05] skshetry commented on #6289
I'll do it shortly.

[2021-07-06 08:05] ORippler commented on #6289
Hey,

i upgraded & confirmed this under 2.5.0.
While not officially supported, by running `conda install -c conda-forge dvc webdavclient3` I can use webdav.

In either case, it would be nice to update the error message accordingly to what you plan to support :)

[2021-07-06 08:07] skshetry commented on #6289
@ORippler, we don't use webdavclient3 at all. We didn't add webdavclient3 before as it was not available in conda, looks like it is now.

[2021-07-06 08:29] ORippler commented on #6289
Okay so I failed to double-check the 2.5.0 since I have local + webdav remotes.

for `dvc <= 2.3`, `webdavclient3` was actually used and the above workaround via `conda install` works. For `dvc > 2.3`, this is not the case.

Sorry for the mishap

[2021-07-06 08:39] skshetry commented on #6289
@ORippler, no worries. I am adding the dependency in the conda-forge now(https://github.com/conda-forge/staged-recipes/pull/15518), hopefully the next release will come with `webdav` support.

[2021-07-06 08:47] JenniferHem commented on #6241
Thanks for the fast reply!

@efiop I tried to get a useful timeout value and 400 worked, whereas 300 did not. I did not narrow it down further yet. My guess is my pretty lazy internet connection + a (necessary) VPN which does not really increase speed.

I have installed your Version, however the timeout error persists (I am after installation on Version dvc 2.4.3+bc67f8). If you need more informat

[2021-07-06 08:49] Suor opened #6290 "UnicodeDecodeError not wrapped nicely in stage load"
[code]

More context is here https://sentry.io/organizations/iterative/issues/2495120174/?project=5220519&referrer=slack

[2021-07-06 08:57] Christoph-1 commented on #6256
We have a .gitignore that ignores the `/data` folder, in which `my_data.csv` and `my_data.csv.dvc` reside. `my_data.csv.dvc` is added as an exception to the .gitignore.

[2021-07-06 09:07] pmrowla commented on #6256
@Christoph-1 can you post the contents of this `.gitignore`? Exclusions for files inside git-ignored directories have to be written in a specific way, so depending on how you are currently writing the exclusion for `my_data.csv.dvc` it's possible that git is still ignoring it.

[2021-07-06 09:07] efiop opened #6291 "use git index to see force-added files"
We've received a few reports about people getting confused by dvc pull/etc not detecting their dvc files in configuration with such .gitignore:
[code]

as explained by @pmrowla , this is just a nonobvious git behavior and a workaround is:

[code]

But `dvc list` will see those files no problem, because it doesn't seem to use `is_ignore` (needs confimation), thus, we should use git index locally as

[2021-07-06 09:08] efiop commented on #6256
For the record: we've also created https://github.com/iterative/dvc/issues/6291 to describe it better.

[2021-07-06 09:17] pmrowla commented on #6291
this is correct, in `repo.ls()` we will end up just using `fs.walk()` on the git tree without checking for any ignores (there is no reason to check since the git fs can only contain paths which have already been (force) added and committed into git)

In `repo.stage.collect_repo()` we use `fs.walk()` but also check `is_out_or_ignored` to avoid traversing into git-ignored subdirs (for performance re

[2021-07-06 09:18] efiop commented on #6289
@ORippler We'll do a release right after (conda-forge/staged-recipes#15518 is merged. Btw, note that thanks to great work by @skshetry :pray: `webdav4` is much faster and has more features than the old library we used to use, so if you'll run into issues/bugs with `webdavclient3` - just hang on tight, next version should fix it. :slightly_smiling_face:

[2021-07-06 09:18] skshetry commented on #6291
Better to ask users to not ignore `.dvc` files at all, as DVC itself takes care of it. Using git index is one more complexity.
Relared https://github.com/iterative/dvc/issues/6025.

[2021-07-06 09:23] pmrowla commented on #6291
We do this to some extent now that we no longer allow `dvc add` when the resulting `.dvc` file would end up git-ignored, but that doesn't help in existing repos where the files are force-added (but git-ignored) in old revs

[2021-07-06 09:25] skshetry commented on #6291
Right, we made some decisions in 2.0 that might be incompatible with the older repos. That's fine, the only reason why we do this is for performance. Complicating it further, I don't think is a good solution. If it's causing issues, we should drop this optimization.

[2021-07-06 09:25] efiop commented on #6291
Also people use that trick to absolutely ensure that no large artifacs accidentally end up committed and pushed in git, so can't really blame them :slightly_frowning_face:

The optimization itself seems useful though, don't see why we need to drop it.

[2021-07-06 09:28] pmrowla commented on #6291
I also don't think that this change would be all that complex. We already have the git fs tree and the actual trie containing all the paths which were explicitly added in git. Checking to see if some subdir prefix exists in the trie seems trivial to me.

[2021-07-06 09:29] efiop commented on #6291
Let's give it a shot and we'll see how it is in terms of complexity and performance.

[2021-07-06 09:30] skshetry commented on #6291
If we go this route, #6025 will no longer be an issue.

[2021-07-06 09:33] efiop commented on #6025
@skshetry Really sorry for the delays, I seem to be losing context here and end up trying to get back into it only to get distracted again. Looking into it...

[2021-07-06 09:34] skshetry commented on #6025
@efiop, if we go with #6291, this is no longer an issue. 🙂

[2021-07-06 11:28] karajan1001 commented on #6241
It is a universal argument in all of remotes (maybe except the local remote )

[2021-07-06 11:38] efiop commented on #6241
@karajan1001 Good point! There is a formal difference between read and connect timeouts in s3, but in awscli sources it defaults to botocore's DEFAULT_TIMEOUT for both (60sec), so indeed it is tempting to just introduce one `timeout` for both in our s3 config :slightly_smiling_face: So I agree that we should just go this way.

@JenniferHem Thanks for the info! 400 sec is a lot, probably way too mu

[2021-07-06 11:45] efiop commented on #6025
@skshetry Gotcha. Yeah, sounds like it is great that all of these issues came up together :slightly_smiling_face: So let's try #6291 and if we stick to it, we'll close this one, right?

[2021-07-06 12:03] #6205 closed

[2021-07-06 13:10] isidentical commented on #6064
Task list

- [ ] migrate the actual implementation to using sshfs
- [ ] migrate config parsing to use `sshfs.config` instead of `paramiko` (ensure all test suite passes)
- [ ] tune config options to make the filesystem faster (e.g disabling compression)
- [ ] benchmark possible stories and compare them with paramiko
- [ ] benchmark basic datacloud transfers (only push/pull) and compare them with s

[2021-07-06 13:39] karajan1001 commented on #6291
I think this is enough.

[code]

[2021-07-06 13:47] pmrowla commented on #5913
related #4746

[2021-07-06 13:47] karajan1001 commented on #6291
Only for the files inside `data/` not works with those inside sub directory

[2021-07-06 13:55] ZhengRui commented on #5562
Hi @efiop , thanks for the great tool you guys are building . I have a question, from my test recently, it is working fine if I put cache or remote storage in a mounted NFS volume, but if the workspace folder is in an NFS volume, `dvc add` will be super slow almost frozen and if I terminate it, some data will be deleted and lost, I just want to confirm here that this is expected behavior up to ver

[2021-07-06 14:05] Christoph-1 commented on #6256
The gitignore looks like this:
[code]
in case we have sub-folders in `data/`

[2021-07-06 14:47] pmrowla commented on #6256
@Christoph-1 to properly exclude your `.dvc` files you will need something like
[code]

The issue is that git will not traverse into subdirectories of an ignored dir unless the subdirectory itself is also explicitly excluded with a `!` rule. So in your example, git won't traverse into `data/folder` at all, since it is ignored by `data/*`, and the `!data/folder/my_data.csv.dvc` exclusion will never

[2021-07-06 15:14] SebbanSms commented on #6291
Is there no way to track a file on dvc remote that is not commited to git if its mentioned in my dvc.yaml?

If I have in .gitignore:
[code]

and in dvc.yaml:
[code]

I still want to be able to `dvc push` and `dvc pull` the file from my dvc remote without having to litter github with my .csv file
But whatever is ignored by git seems to be ignored by dvc push/pull as well.

Otherwise I have to add a