[2020-06-23 16:15] efiop commented on #4094
@nik123 The implementation is correct. Looks like we missed some stuff in docs while upgrading to 1.0. 🙁

[2020-06-23 16:17] efiop commented on #4096
@pared run cache is only used durring attempted execution. Metrics, params, plots don't use it directly and I'm not sure if they should, as that is too implicit and might be confusing.

[2020-06-23 16:18] dmidge8 commented on #4080
Hi @efiop !
Thank you for your quick reply.
I was under impression, reading the documentation, that it was possible to extend the use case to inputs also coming from a SSH location (through SFTP). As an example, when I read the documentation, I see that it is possible to add data from an ssh location directly to an SSH cache.
[code]

[2020-06-23 16:20] efiop commented on #4088
@Nikesh46 Could you show `/usr/bin/dvc pull -v`, please? Also, if you uninstall dvc from pip, you won't have to use full path to the dvc binary anymore.

[2020-06-23 16:22] efiop commented on #4088
Also, looks like we should configure URL and licence in the rpm package... Will do...

[2020-06-23 16:36] jorgeorpinel commented on #1545
Sounds good.

[2020-06-23 16:37] Nikesh46 commented on #4088
I ran the command as suggested  and got his output--

[code]

[2020-06-23 16:49] jorgeorpinel commented on #995
Thanks. So that's my point. Parametrization already means using -p --params in `dvc run`. We're overloading the term.

[2020-06-23 17:40] nik123 commented on #4094
Experience shows that things get messy if code and cmd ref are updated simultaneously. Therefore I decided to resolve p.3 (mention .gitignore for `dvc remove -h`) first . Once (if) new text is agreed I'll create PR to resolve all the issues mentioned here in the cmd ref.

[2020-06-23 17:44] shcheklein commented on #3499
can we do something with that ugly warning? can we embed it into the `Cache type: (no cache dir)`?

[2020-06-23 17:45] jorgeorpinel commented on #4094
Yes def. simultaneous work on both sides is messy. Please figure out any updates pending on the core side, perhaps just to the help output (feel free to request my review to check the output strings) and once it's merged we should make a corresponding PR or issue on the docs repo. Thanks!

[2020-06-23 17:49] jorgeorpinel commented on #4094
OK so I guess points 1 and 3 apply to core:

"Remove stage entry and unprotect outputs" should probably be updated to "Remove stage entry or .dvc file, .gitignore entries, and unprotect outputs."

[2020-06-23 18:12] efiop commented on #4088
Added a fix for package info https://github.com/iterative/dvc/pull/4098 .

Looking into that gssapi exception, looks like pyinstaller missed that module.

@Nikesh46 In the mean time I would try `sudo snap install dvc --classic` or `pipx install dvc`(https://github.com/pipxproject/pipx), that installs dvc in an isolated environment.

Thank you so much for the feedback! :pray:

[2020-06-23 18:16] #4094 closed

[2020-06-24 01:31] efiop commented on #4088
@Nikesh46 Hm, not able to reproduce that binary issue. 1.0.1 binaries are now pushed, mind giving them a try?

[2020-06-24 03:05] skshetry opened #4100 "Add version metadata for repo/dvcfiles"
It'd be good to add version information about repo to `.dvc/config` and to the `run-cache`, so as to in the future, we can provide better error message/validation or even maintain backward-compatibility if we want to.

Also, it's hard to see where `dvc.yaml` is going, so, maintaining good support without breaking will be tough (if we decide to maintain compatibility). Same with `dvc.lock` file.

F

[2020-06-24 07:03] Nikesh46 commented on #4088
@efiop  pipx did the trick. Thank you so much for the help.

[2020-06-24 07:03] Nikesh46 commented on #4088
@efiop
Sure  :)

[2020-06-24 07:07] sahilbhosale63 commented on #3499
![Screenshot from 2020-06-24 12-21-06](https://user-images.githubusercontent.com/21124445/85511436-3c92a280-b616-11ea-952c-0e7dda70a715.png)

Here, the "**Supports**" and "**Cache**" lines highlighted in red in the above img should come in a single line under "Supports"as suggested by @skshetry.

But the thing is some remotes or caches might not be supported in some systems. As in this case, **ref

[2020-06-24 07:38] Nikesh46 commented on #4088
@efiop  even after updating dvc I'm still getting the same error-

[code]

dvc details -

[code]

[2020-06-24 07:40] skshetry commented on #3499
@sahilbhosale63, most of the times, dvc will either support all of the remotes or any one of them (two or three if there's already some dependencies installed but rare). And, `http/https` are always supported by default.
So, we could optimize these for usual scenarios and make it a bit ugly for rare scenarios.

Also, I'm fine with the following:
[code]

As you can see, the last example is a bit le

[2020-06-24 07:54] pared commented on #4096
@efiop that makes sense.
I had an discussion with @dmpetrov that such functionality might come in hand, when we will get to experiments implementations, and will want to compare experiments results in order to choose the best. Currently, we would need to tie experiments to git revisions in order to be able to do that.

[2020-06-24 11:00] sahilbhosale63 commented on #3499
![Screenshot from 2020-06-24 16-15-08](https://user-images.githubusercontent.com/21124445/85543449-b5eebd00-b637-11ea-8db7-166e18955d68.png)

I have made the required changes. The only think which I want to ask is there is a line break after the end of this line **"Supports: All remotes"** because of this line of code `logger.info("\n".join(info))`

The code adds a line break after every sentence

[2020-06-24 12:53] skshetry opened #4103 ".dvcignore is broken on negation when blacklisting all"
## Bug Report

### Please provide information about your setup

I am not sure how far this extends to, but a lot of trials for `.dvcignore` failed when I blacklisted all and tried to whitelist some:

[code]

[code]

[code]

[code]

[code]

[code]

### What worked:
[code]

Why do I feel suddenly the spelling of `scripts` is wrong? :smile:

[2020-06-24 14:48] efiop commented on #4103
CC @pared is this expected?

[2020-06-24 15:03] MGniew opened #4104 "`dvc pull` causes an error when there is an empty file in a remote"
## Bug Report

Hi there, I hope I find you well :)
First of all, congratulation on a new release. It is absolutely awesome!

Recently I was working with a new dataset and the following error surprised me:
[code]
It turns out that one of my files was empty and therefore could not be downloaded from the remote host via https (S3).

**What is an issue:**

Empty files causes error when you are trying

[2020-06-24 15:14] efiop commented on #4104
Hi @MGniew ! Are you using genuine s3 or some s3-compatible storage?

[2020-06-24 15:20] MGniew commented on #4104
Hi @efiop. Im using Minio (https://min.io/).

Also, Ive started to playing with DVC code myself and it is not only a remote/s3.py/_download:333 problem (this line is responsible for tqdm total parameter). KeyError also occurs in /s3transfer/download.py:346

[2020-06-24 15:56] efiop commented on #4104
@MGniew Got it. So genuine s3 doesn't have that bug, it is just a yet another minio discrepancy with s3. Could you open an issue in minio about it as well? As to dvc, I think we could totally handle that by just defaulting to 0 if we are not able to get ContentLength. Would you like to submit a PR for it? :slightly_smiling_face:

[2020-06-24 16:48] MGniew commented on #4104
@efiop I will try first to reproduce this issue with publicly available minio server (https://play.min.io) to make sure it is not a minio's version issue (mine is from 2 months ago). Thank you for your help :)

Also sorry for closing/reopening this issue - missclick

[2020-06-24 17:16] dldx opened #4107 "dvc list doesn't list contents of dvc-tracked folders"
## Bug Report

`dvc list` does not ever seem to list folders or subfolders within a dvc file. If there are dvc files tracking single files, then I do see the file in `dvc list`, but if I am tracking an entire folder, I do not get anything. DVC would need to download all the .dir files associated with dvc files, which it does not seem to be doing during `dvc list`

### Please provide information ab

[2020-06-24 18:25] MGniew commented on #4104
Ok, so I've try to reproduce this issue on https://play.min.io and it worked! Then I've updated my Minio server and it also worked!
I should have thought about it before I submitted this issue... Sorry for the false alarm and thank you for your support :100:

I'm closing this issue and the PR.

[2020-06-24 18:25] #4104 closed

[2020-06-24 19:11] shcheklein commented on #3499
@skshetry what should we do if we can't test for link type support?

I feel that we should not mix this information. Remotes are remotes, links are links - they are different, not related to each, so why do we show them in a single line?

[2020-06-24 19:13] efiop commented on #3394
Closing this in favor of https://github.com/iterative/dvc/issues/4107 , since it is newer. I have a WIP PR that should be ready later today.

[2020-06-24 19:40] efiop commented on #4104
@MGniew Great news! :tada: Thank you for reporting the issue, maybe someone else will run into it and will find this info useful :slightly_smiling_face:

[2020-06-24 19:56] #3394 closed

[2020-06-24 22:16] pared commented on #4103
Considering that we have been designing `.dvcignore` to comply with `.gitignore`, I will refer to original:
It seems to me that we have some disrepancies in behaviour between `git` and `dvc`. I prepared a script to illustrate that:
[code]

And the two differences occur in following situations:
[code]
and
[code]

I also compared the results from before latest dvc optimization, https://github.com/it

[2020-06-24 22:41] shcheklein commented on #4080
@dmidge8

could you elaborate on this a little bit?

yes, that's true. But we before we jump into the details and try to find a workaround, could you please share a bit more details? If you don't download data to any local volume, how do you access it in your scripts/code?

that's also, correct. You can check this repo for Dask/SSH pipelines with DVC - https://github.com/PeterFogh/dvc_dask_use_cas

[2020-06-25 01:37] efiop commented on #4078
Seems to be fixed now.

[2020-06-25 01:37] #4078 closed

[2020-06-25 09:33] dreaquil opened #4110 "PermissionError on file which should be in .dvcignore."
## Bug Report
Getting a permission denied when I try to DVC add a file that is in my dvc ignore.
This is the `.dvcignore` file:
[code]
Last few errors in traceback:
[code]
Final Error:
[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc a

[2020-06-25 09:43] pared commented on #4110
So, seems like we introduced a bug in 652f5ab439d2d72f3b3ddabd4f38f117762348d6.
Following script:
[code]
Shows that we stopped ignoring `.ignore_dir` in this change:
652f5ab439d2d72f3b3ddabd4f38f117762348d6 result:
[code]
and commit before:
[code]

This might be a separate issue, keeping it here until I know more about the original issue.

[2020-06-25 11:09] casperdcl commented on #3872
`v1/beta` closed now due to the official release of `dvc==1.0.0`. Currently:

[code]

The only remaining item is - a few days from now - push `v1/stable` to `latest/stable`.

[2020-06-25 13:11] #4107 closed

[2020-06-25 13:39] pared commented on #4110
To summarize:
- @dreaquil wanted to ignore particular directories, because files inside had a permission that would not allow him add the data to dvc
- so original issue is not about problem with adding the dir, but `dvcignore` not ignoring targeted dir

Currently, @dreaquil pattern does not match. Latest version that seems to be working is `1.0.0a11`.
Fixing script written in my [previous comment

[2020-06-25 13:43] gcoter opened #4112 "run: allow tracking of all params in a file with `-p`"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

I tried to use `dvc run` with two `-p` arguments (because I have two parameters files). It gives me this error:
[code]

If I remove one of the two arguments, it works. So it looks like DVC doesn't enjoy having two `-p` arguments. Is it expected? If DVC doesn't

[2020-06-25 13:49] skshetry commented on #4112
@gcoter, does the params.yaml exist? Can you give more verbose error message (and, your command that you tried)?

[2020-06-25 13:54] gcoter commented on #4112
@skshetry thanks for your quick answer! My command looks like this:
[code]

I prefer to use JSON files so `params.yaml` does not exist in my project.

[2020-06-25 13:56] skshetry commented on #4112
@gcoter, is that a typo on `-p config/params_1.json` (i.e. there's no list of parameters eg: `-p config/params_1.json:loss`).

[2020-06-25 13:58] gcoter commented on #4112
@skshetry No, I thought that specifying `config/params_1.json` would select everything inside this file. Should I specify explicitly the keys I want to select?

[2020-06-25 14:00] skshetry commented on #4112
@gcoter, yes, you have to specify keys that you want.

[2020-06-25 14:01] gcoter commented on #4112
@skshetry Ok, indeed it works if I specify manually the keys. I thought that DVC would list all the keys by default. But I don't mind listing them myself. Thank you for your help!

[2020-06-25 14:02] skshetry commented on #4112
@gcoter, but, I can see it's usefulness. I'll log this as a feature request though.

[2020-06-25 14:04] skshetry commented on #4112
@gcoter, another question, why do you choose to `-p` rather than tracking whole file? for granularity tracking of parameter values, right?

[2020-06-25 14:13] gcoter commented on #4112
@skshetry I am at the beginning of the project, so it is not very clear in my mind, but I would like to benefit from the `dvc params diff` command. Basically, if I use `-d`, I cannot diff the params. Well, I could use `git diff` but `dvc params diff` formats the diff in a nice way in my opinion. And since this file is actually used to store configuration settings, it makes sense to me to use `-p`.

[2020-06-25 16:06] pared commented on #4110
Another problem with @dreaquil setup was that folder containing images was owned by root. Which led to some unexpected behavior.

[2020-06-26 03:30] sdelo opened #4118 "dvc.yaml pipelines groupings"
At the moment there is no way to visualize pipeline groupings in the dvc.yaml file. It would be nice to have multiple names lists (pipelines) under the stages.

[2020-06-26 03:35] skshetry commented on #4118
@sdelo, does `dvc dag` work for you?
Another question, will  having a separate file for each pipelines work (one `dvc.yaml-like file for one pipeline)?

[2020-06-26 03:39] shcheklein commented on #4118
@sdelo btw, as a workaround you can group them using directories as far as I know:

[code]

[2020-06-26 03:52] sdelo commented on #4118
Yes `dvc dag` will work. Also how do I specify the file location for the dvc.yaml so I can group them by directory? Is it just dependent on where I execute `dvc run`?

[2020-06-26 10:39] dreaquil opened #4121 "Push failing with "The write operation timed out""
## Bug Report

`dvc push` of 302 files of approximately 8MB each (images) failed multiple times at approximately 2:20s managing to upload anywhere between 10-40 files each time.  Once `dvc push --jobs=1` was used, remaining 150 files uploaded in one go without issue.

Additional information:
`ulimit -n` = `1024`

### Please provide information about your setup
Tried on dvc version 1.0.0a11 and 1.0

[2020-06-26 10:41] pared commented on #4121
Workaround looks similar to our issues that we used to have with macOs.
Might be related to https://github.com/iterative/dvc/issues/2473

[2020-06-26 14:54] efiop commented on #4121
@dreaquil Could you please provide verbose log for the error you are getting?

[2020-06-26 14:55] efiop commented on #4118
@sdelo Yes, it just creates it in the current directory. If you need to run your script from some other dir, just use `--wdir` to specify that.

[2020-06-26 17:47] andronovhopf opened #4123 "Newlines after dvc metrics diff"
I am working on printing `dvc metrics diff --show-md` into a markdown document, i.e....

`dvc metrics diff --show-md >> doc.md`

 and if I don't manually follow this command with a newline:
`echo >> doc.md`

Then everything that follows in `doc.md` gets inserted into the table. Is there maybe a newline character missing from the metrics .md table?

[2020-06-26 18:50] efiop commented on #4123
@andronovhopf Indeed, md table is not complete without the trailing newline, which is a bit non-intuitive when compared to regular cli workflow (at least for me), but it totally makes sense to make this right. Looks like right now only cml is using this feature, so not too worried about breaking something for someone else. Will send a fix ASAP.

[2020-06-26 18:53] efiop commented on #4123
Hm, though it would still feel a bit weird when the table is the last thing in the file and you have a trailing newline for no reason. :thinking:

[2020-06-26 18:54] efiop commented on #4123
Also, not using a trailing newline means that you could expand the table on-the-fly. But that's a feature no one has asked for :smile:

[2020-06-26 18:56] andronovhopf commented on #4123
hahaha yes! I think the "extra newline if the table is the last thing in
your report" is probably only a minor weirdness. i imagine (although can't
be positive yet) that more people will have to debug "why is everything
getting sucked into my table?" than "why is there an extra line after my
table?"

On Fri, Jun 26, 2020 at 11:54 AM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-06-26 21:02] #4123 closed

[2020-06-27 00:39] dmpetrov commented on #2799
The run-caches #1234 was released in DVC 1.0. It opens a new opportunity for implementing the ML experiments on top of it instead of creating directories per experiment (see 1st post in the issue).

In fact, the runs that are stored in the run-cache are already experiments - the user can get the experiment results (generated ML models and metrics) without retraining. The output "experiments" resul

[2020-06-27 00:50] andronovhopf commented on #2799
Since DVC doesn't have an execution engine what would DVC's role be in this?

[2020-06-27 00:59] dmpetrov commented on #2799
Good question. To make it clear - there are no plans to go to the data engineering/AirFlow world.

We need very simple executors  -just execute by default as we do now. Additionally, we can implement:
1. Local. For some stages, it is ok to run in parallel in a single machine.
2. CI/CD.
3. Just remote through some (terraform) script.

[2020-06-27 11:59] honnibal opened #4126 "Consider removing the support link from the CLI output"
This is definitely a matter of opinion, but I wanted to raise my own reaction and see how others feel.

Personally, I _hate_ the support link that's printed after every error, so much so that I'm thinking of making myself an alias or something that strips it out.

The message is uninformative, especially after the first time it's shown. It also really feels out of place for an open-source tool. As

[2020-06-27 16:42] casperdcl commented on #2799
- prefer saved/committed/tracked rather than "persistent"
- prefer unsaved/uncommitted/untracked/cached rather than "ephemeral"

- seems like a necessity to me; otherwise can easily run out of disk space

Anyway I don't understand how a user will define (i.e. create) experiments. Is it simply issuing multiple `dvc run` commands without committing between them? If so, how would you define multiple

[2020-06-27 22:59] majidaldo commented on #3902
This isn't with conemu. Happens in cmd.exe too. In my case it happens with the git hooks.
I changed the hooks to redirect stderr like `exec dvc git-hook pre-commit $@ 2>%1` so now it's visible.

Oddly, if my terminal widh is 80 chars or less, I can still see it.

[2020-06-28 00:36] efiop commented on #3902
@majidaldo Btw, do you use https://pre-commit.com/ ? If so, could you give it a shot with `dvc install --use-pre-commit-tool` and see if that helps?

[2020-06-28 06:49] dmpetrov commented on #2799
Yes.

Just run one by one:
[code]

[code]

Grid search could be a great next step. Not in the first iteration.

[2020-06-28 10:16] karajan1001 commented on #4103
I compared the result to #4120  and there is no difference.

[2020-06-28 10:31] skshetry commented on #4103
@karajan1001, I think this issue is with the upstream library, as this issue looks similar to: https://github.com/cpburnz/python-path-specification/issues/19, but I haven't looked closely to verify.

[2020-06-28 10:48] karajan1001 commented on #4103
@skshetry I agreed.

I had looked into the `PathSpec` code and the following result is weird to me. It is very different from the logic I learned from the `PathSpec` code.

ignore content:
/*
!dir/
!file/
----------------
git results:
['data/dir/file', ]

[2020-06-28 21:24] shachibista opened #4127 "`dvc run` in tutorial does not give expected results"
## Bug Report

[code]

Following https://dvc.org/doc/use-cases/versioning-data-and-model-files/tutorial, `dvc run` step returns an error instead of creating the `Dvcfile`/`dvc.yaml` file:

[code]

#4077 states that `-f` option is deprecated. Running with the `-n` option results in a subsequent error:

[code]

Please update the tutorial to reflect changes in v1.0.

Thanks!

[2020-06-29 00:47] efiop commented on #4126
Hi @honnibal !

Indeed, printing the footer on every error might be a bit too much. I think we could safely switch to printing it only on unexpected errors. So we would move https://github.com/iterative/dvc/blob/83a2afc7b05e38014aca224ab85949b0974d9bec/dvc/main.py#L94 to around https://github.com/iterative/dvc/blob/83a2afc7b05e38014aca224ab85949b0974d9bec/dvc/main.py#L80 . What do you think?

[2020-06-29 07:53] dmpetrov opened #4129 "azure: use ~/.azure/config"
Today we recommend using local config for Azure: https://dvc.org/doc/command-reference/remote/add#supported-storage-types
This approach is not the best since users need to remember and reconfigure URL in addition to credentials.

We need to support a regular flow for Azure (the same as S3 and GCS) when config contains URL/bucket and credentials are stored at `~/.aws/credentials` & `~/.gcp/*.json`.

[2020-06-29 17:08] honnibal commented on #4126
I think that sounds like a good step, sure! After all, most of my errors will be things like getting a URL or a path wrong. It doesn't make sense to be told about support in these situations.

[2020-06-29 17:31] honnibal opened #4131 "Issues with dvc get and dvc get-url after 1.0"
Hi,

I've been excited to explore DVC as I think it can offer a lot for some of the things I'm working on. I've had a couple of issues with `dvc get` and `dvc get-url` that I *think* are probably bugs. I've put them together to avoid creating lots of issues; apologies if you'd rather they were separate, I can move them into different threads.

I am testing as of v1.1.1.

## dvc get does not recrea

[2020-06-29 19:41] majidaldo commented on #3902
Well, I can tell you that you have to have a valid .pre-commit-config.yaml (already) before you can use --use-pre-commit-tool. It should error out with something like .pre-commit-config.yaml does not exist.

[2020-06-29 19:47] elgehelge commented on #2799
I suggest sticking to the term *run* since this aligns with other tools like KubeFlow and MLFlow

*KubeFlow run*: "A run is a single execution of a pipeline."
*KubeFlow experiment*: "An experiment is a workspace where you can try different configurations of your pipelines. You can use experiments to organize your runs into logical groups"
*MLFlow run*: "MLflow Tracking is organized around the conc

[2020-06-30 04:47] skshetry opened #4132 "rename .dvc file to .lock file"
We have two concepts now: `.dvc` file and `.lock` file. It'd be good to have consistent set of files: `dvc.lock` and `dvc.yaml`. The files could be named `.lock` (it could collide with other `.lock` files eg: Pipfile.lock, etc. so maybe `.dvc.lock`).

[2020-06-30 06:07] stefanvangastel opened #4134 "Consider using an alternative for ruamel.yaml due to critical CVE"
As a dependency of DVC, ruamel.yaml up to 0.16.10 (latest) contains a critical CVE (https://nvd.nist.gov/vuln/detail/CVE-2019-20478). This prevents us (and probably others) to use DVC in production systems.

[2020-06-30 06:15] skshetry commented on #4134
@stefanvangastel, sadly, there's no alternative of `ruamel.yaml`, as others do not preserve comments. But, I think we can make an optional opt-in config that uses (C)SafeLoader that can be used in production.

[2020-06-30 06:16] skshetry commented on #4134
Looks like `safe_load` is not affected.

[2020-06-30 06:23] pmrowla commented on #4131
First issue (`dvc get` not preserving directory tree) should now be fixed in master.

[2020-06-30 06:29] skshetry commented on #4134
Also, another thing to note from the [documentation](https://yaml.readthedocs.io/en/latest/api.html):
[code]

So, I think we are safe here as we only use it once when trying to dump. All other uses `PyYAML`'s `safe_load`.

[2020-06-30 06:30] efiop commented on #4132
`.lock` is a temporary file that we can live without, which is not the case for `dvc add`ed and `dvc import`ed files right now. But even just when talking about renaming, `.dvc.lock` is the only option that is visually identifiable as something that belongs to dvc, at which point it is not clear why we would just make the prefix longer with no clear benefit.

[2020-06-30 07:02] skshetry commented on #4132
Having a single kind of format would be better to explain others conceptually. And, `dvc.lock` and `.dvc` files are the same thing with different file extension. Though, I did forget that it'd collide with other `.lock` files when making this issue.

[2020-06-30 07:12] Suor opened #4135 "remote: repo.cloud.pull() errors out with "'NoneType' object has no attribute 'execute'""
Looks like under specific conditions sqlite db is not initialized, which leads to an error above. Script I use to reproduce:

[code]

[code]

This downloads required cache files and then errors out with:
[code]

Subsequent invocation fails with same error but in another place:
[code]

**Output of `dvc version`:**

[code]

[2020-06-30 07:20] Suor opened #4136 "conf: credentialpath is not recalculated when it's a relpath"
This one supposed to be relative to config file and converted to absolute and back on config load/save. This is done for `cache.dir`, local urls and `gdrive_user_credentials_file`, but not for `credentialpath`, which is used in s3 and gs.

Example: `cache.dir` - https://dvc.org/doc/command-reference/cache/dir#description.

[2020-06-30 07:28] pared commented on #2799
Then we will need a proper way to navigate between experiments. I guess some command that would let user choose "the best N runs" could be useful.
The problem will definitely be `plots`: they cannot be as easily compared as metrics.

[2020-06-30 09:55] dmpetrov commented on #2799
The same problem with metrics - usually it is not easy to find "the best", you always looking for a compromise. `dvc exp show` should display the experiment and metrics to help with a decision.

[2020-06-30 10:06] efiop commented on #4132
@skshetry Actually they are not the same thing even anymore. E.g. `.lock` is multistage, but `.dvc` isn't. And the differences will be bigger and bigger as we go, as we are no longer limited by them (`dvc run` and `dvc add` .dvc-files) being the same thing. We used to have that in 0.x as you remember, and even though it was nice that it was the same format, but it was actually confusing in the rea

[2020-06-30 10:07] efiop commented on #4135
@Suor Just a note that `repo.cloud.pull` is not meant for direct use, `repo.pull` is.

[2020-06-30 10:09] efiop commented on #4135
@Suor Looks like your script reproduces it reliably, right? You need to use `repo.pull` instead (the proper way) or use `with repo.state` wrapper before you call `repo.cloud.pull`(or, actually, pretty much any other internal repo method that is not meant for public). Do you need `repo.cloud.pull`?

[2020-06-30 10:45] Suor commented on #4135
I use `repo.cloud.pull()` to fetch specific things collected throughout the repo history, `repo.pull()` is not specific enough. Using `with repo.state:` works though.

Have the same issue with `repo.plots.collect()`. Maybe need to wrap that inside dvc?

[2020-06-30 11:13] #4129 closed

[2020-06-30 13:23] efiop commented on #4135
@Suor `plots.collect` is also an internal one, and also requires `with repo.state`, as expected. Yes, definitely could consider making that automatic and reentrant. Though it will take some time, so if you are in a hurry, I would just use `with repo.state` for now.

[2020-06-30 13:43] lenrys29 opened #4139 "push: OOM when uploading 1.5TB(3.5Mfiles) dataset to local remote"
## Bug Report

**Output of `dvc version`:**
[code]

### Please provide information about your setup

We've got a single server with 1 big partition of 2 TO.

We are using git + dvc to manage our datasets, training, etc.

For now, we try to push 1,5TB (3,18M files) on 1 single repo to create our 1st original dataset

We are using reflink and xfs for storage.

SSH + local  usage for : repo / git / t

[2020-06-30 13:52] dmidge8 commented on #4139
Maybe some forced garbage collection should be necessary with processes?
https://stackoverflow.com/questions/32167386/force-garbage-collection-in-python-to-free-memory

[2020-06-30 13:56] efiop commented on #4139
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/727520764240068719

[2020-06-30 14:16] Suor commented on #4135
Yes, I am using `with repo.state:` for now. Which is inefficient in case of `repo.plots.collect()` because I call it many times and can't use higher scope since `repo.metrics.show()` is next to `repo.plots.collect()`.

So I handled this in my case for now. Inefficiency is not big. So you might close it unless you plan fixing it in a foreseeable future.

[2020-06-30 14:24] pokey commented on #4093
Does look like a nice warm-up PR 😊.  Not a ton of time to knock it out but next time I find myself wanting that command maybe I'll take a crack at it

[2020-06-30 14:35] #3357 closed

[2020-06-30 14:40] honnibal commented on #4134
We had a lot of trouble with serialization libraries for spaCy: the JSON library we were using, ujson, was unmaintained, and the msgpack library we were using needed a monkeypatch to support numpy arrays and then made several breaking changes.

What we ended up doing was making our own package that vendored these dependencies, [srsly](https://github.com/explosion/srsly), so that we could maintain

[2020-06-30 15:06] efiop commented on #4131
For weak etags we need to just remove this https://github.com/iterative/dvc/blob/0275a0d8d876e230e4b287b52cead53b5b492005/dvc/remote/http.py#L138 . Doesn't look like we shouldn't forbid it anymore, considering that we don't support external outputs scenario for HTTP.

[2020-06-30 15:51] #3982 closed

[2020-06-30 15:52] #4024 closed

[2020-06-30 15:53] dmidge8 commented on #4080
Yes. I tried to define the local repository with an ssh URL. I assumed it may create its own SFTP connection or go through scp to copy the files. But DVC local cache can't handle remote location URLs (which strikes to me as normal, since there is a dedicated parameter for SSH cache). But the SSH cache is ignored, even if the data is fetched from an SSH remote.

So far, the only workaround I see is

[2020-06-30 15:54] dmidge8 commented on #4080
@efiop Arg, I was typing :'(

[2020-06-30 15:54] #4118 closed

[2020-06-30 15:55] #4135 closed

[2020-06-30 16:00] efiop commented on #4134
Discussed with @skshetry and it looks like dvc is safe and doesn't look like we will get any value from moving to srsly (but will gain 300KB more in dep size) at this point, but will will keep an eye on srsly if we find ourselves needing its other features. Closing for now.

[2020-06-30 16:00] #4134 closed

[2020-06-30 16:03] nik123 commented on #3556
I don't think issue is reproducable in latest releases of dvc (at least in commit `0275a0d8`).

If stages  are stored in dvc.yaml then output of `dvc repro -f --downstream 02-train-*` is:

[code]

If stages are stored in old-fashioned way (i.e. dvc files), then output of  `dvc repro -f --downstream 02-train-*` is:

[code]

**P.S.:** it seems that it is impossible to use wildcards with `dvc repro`

[2020-06-30 16:06] dmidge8 commented on #4080
@efiop Thanks! :) What a coincidence though!

[2020-06-30 16:32] efiop commented on #4134
@stefanvangastel btw, was it reported by some static analyzator? Veracode? If so, are you able to mark it as mitigated?

[2020-06-30 16:41] efiop commented on #3556
@nik123

dvc itself doesn't evaluate the wildcards and never did - your shell does that and then passes it to dvc. What shell do you use? And do you have our completion scripts installed? If so, could you check that you have the latest ones?

[2020-06-30 16:53] efiop commented on #3902
@majidaldo Yes, it is our assumption that people already use it for something else, hence why I've asked you if you use it :slightly_smiling_face:

[2020-06-30 17:00] nik123 commented on #3556
@efiop , I use standard Ubuntu intepreter (which is bash AFAIK). `bash --version` gives me: `4.4.20(1)-release (x86_64-pc-linux-gnu)`

I've reinstalled latest version (1.1.1) via pip (`pip install dvc`) and rerun `dvc repro -f --downstream 02-train-*`. Now I get the same error for dvc.yaml file but error disappeared with old-fashioned dvc files.

[2020-06-30 17:04] skshetry commented on #3556
@nik123, why are you moving back-and-forth with different formats?

Also, when you are using `02-train-*`, there's no `.dvc` files, so it's complaining as no file exists with that matching glob.
`dvc repro` cannot understand globs right now. Regarding when it was `.dvc` files, it was getting interpreted by your shell
and the expanded version was being sent to `dvc`. Now that you don't have any fil

[2020-06-30 17:16] nik123 commented on #3556
Once I failed to reproduce the issue with new dvc.yaml format, I've tried to reproduce it with dvc-files. That's the only reason.

@skshetry I've checked it with debugger and it seems you are absolutely right. Thanks for the help!

**P.S.:** I don't know what are the plans for old format support but it will  probably  be canceled at some point. That means that `dvc repro -f --downstream 02-train-*

[2020-06-30 17:22] efiop commented on #3556
@nik123 It will be valid with our completion scripts, we just didn't get to working on that feature yet.

[2020-06-30 19:52] casperdcl commented on #2799
No, I just realised the feature I was asking for maybe already exists: `dvc run --no-exec` (assuming that this will save to the experiment cache such that a subsequent `dvc repro --paralel` will indeed run all experiments).

I'm still very confused about how experiments are defined. `dvc run` or `vi train.py && dvc repro`?

If it's only `dvc repro` then I'd request adding `dvc repro --no-exec` to

[2020-07-01 03:59] jnd77 opened #4141 "`dvc pull` does not seem to work for files whose md5 starts with `00`"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**
1.1.1

**Additional Information (if any):**

When I run `dvc pull` on a repo with around 500+ items, all but 4 are retrieved successfully .
I have noticed these 4 files all have a md5 starting with `00` and therefore are in a folder called `00` in their S3 bucket.
(these 4 files are also the only ones in t

[2020-07-01 04:25] pmrowla commented on #4141
@jnd77 thanks for the bug report. Could you post the rest of your verbose output (linking a gist or something would be fine)?

Bug is most likely something causing us to drop the hashes fetched during remote size estimation after:
https://github.com/iterative/dvc/blob/00c135f7d5b55e839354da1e47dc51baa6c64d1a/dvc/remote/base.py#L816

[2020-07-01 04:29] jorgeorpinel commented on #2799
Agree, in the context of `dvc run` (we are keeping that command name right?) "Experiment" . For example let me rephrase some of the req's using this rule:

1. **Navigation**: what runs were executed for a given commit?
2. **Run diff**: Compare metrics and params among runs (for a given commit)

Do you mean a run here? I.e. non-committed to Git

I think this is very important. Caching all those int

[2020-07-01 04:35] pmrowla commented on #4141
more discord context https://discordapp.com/channels/485586884165107732/485596304961962003/727419109167595531

[2020-07-01 05:34] jnd77 commented on #4141
Thanks @pmrowla to have suck a quick look.

I reran with --verbose.
Here is the output:

[code]

[2020-07-01 05:36] jnd77 commented on #4141
I have run this within a simple Docker container:

[code]

[2020-07-01 06:49] WestXu opened #4142 "GC encounters unexpected error"
## Bug Report

**Output of `dvc version`:**

[code]
dvc configs never changed, just defaults.

BTW, not sure if related, I'm in win10 + [WSL 2](https://github.com/microsoft/WSL) setup, where other dvc commands work just fine.

**Additional Information:**

[code]

[2020-07-01 06:55] skshetry commented on #4142
Hi @WestXu. This has been fixed in `>=1.0`. Please upgrade using `pip install --upgrade dvc`.

Duplicate of #4062

[2020-07-01 06:55] #4142 closed

[2020-07-01 08:11] stefanvangastel commented on #4134
It was Sonatype Nexus IQ. And it only hit on the >= 9 CVE score of the
ruamel.yaml component. But that makes installing DVC impossible.

Op di 30 jun. 2020 om 18:33 schreef Ruslan Kuprieiev <
notifications@github.com>:

[2020-07-01 08:38] pared opened #4143 "Artifact does not get added to `.gitignore` on failed multi-add"
Following test passes:

[code]

How it should be?
`.gitignore` should contain `file` even though the whole `add` command failed. As of now, we end up successfully adding `file` to dvc but it is not ignored. At least we should be informed about potential problems.

[2020-07-01 14:17] anotherbugmaster opened #4144 "`get-url` and `import-url` doesn't seem to work with S3 buckets anymore."
## Bug Report

1. Create an empty directory
2. `dvc init --no-scm`
3. `dvc import-url s3://some_bucket/some_target -v`
[code]
4. `dvc get-url s3://some_bucket/some_target -v`
[code]

The same commands work with `https://some_domain/some_target` urls and I don't think that external cache were ever necessary to download files from S3.

### Please provide information about your setup

**Output of `dv

[2020-07-01 15:35] efiop commented on #4144
Discord context https://discordapp.com/channels/485586884165107732/563406153334128681/727886431153946694

[2020-07-01 15:37] efiop commented on #4134
@stefanvangastel Are you able to mark things as mitigated?

[2020-07-01 16:35] gthb commented on #2284
`psutil` yesterday became an _unconditional_ dependency of all existing DVC releases at least since 0.92.1, because `flufl.lock` released version 4.0 which is in range of the dependencies of dvc in those existing releases (constrained away at the tip of dvc master yesterday) and which unconditionally depends on `psutil`. Thus existing DVC versions now fail to install where gcc is not available, br

[2020-07-01 17:14] efiop commented on #2284
@gthb We've fixed the flufl version requirements to be <4 yesterday, 1.1.2 should work fine now.

[2020-07-01 17:15] casperdcl opened #4145 "hooks: pylint: pre-commit failure"
`.pre-commit-config.yaml` states that the `pylint` hook is defined locally, yet `.pre-commit-hooks.yaml` fails to define it. As a result, attempting to commit will result in an error:

[code]

Defining the hook's language as `system` and asking devs to manually run `pip install .[tests]` goes against fundamental principles of pre-commit hooks. None of the other hooks require this.

In any case `py

[2020-07-01 17:35] gthb commented on #2284
Already did :) but that fix was the next commit _after_ the 1.1.2 release. So 1.1.2 still has the problem.

A quick and sufficient workaround for existing CI builds is to add a direct requirement `flufl.lock<4.0`

[2020-07-01 18:00] efiop commented on #2284
@gthb Oops, indeed. Releasing 1.1.3 right now, should be out on pypi in an hour or so. Thanks for the heads up!

[2020-07-01 18:36] efiop commented on #2284
@gthb dvc 1.1.3 is out, please upgrade :slightly_smiling_face:

[2020-07-01 18:39] efiop commented on #2284
Btw, looks like psutil is now building wheels https://github.com/giampaolo/psutil/issues/824 but doesn't publish them on pypi yet. So looks very promising, hopefully the next release will have the wheels.

[2020-07-01 18:51] andrewcstewart commented on #3590
Not sure if this belongs on this issue as well, but this also applies when running `dvc list` inside of a dvc repo that was created with `dvc init --subdir`.

[2020-07-01 19:19] efiop commented on #3590
@andrewcstewart Not directly. `dvc list` support for subrepos will be implemented as a part of https://github.com/iterative/dvc/issues/3369

[2020-07-01 21:10] anotherbugmaster commented on #4144
I found out a couple of things:
- `get-url` works in 0.93.0
- In order to make `import-url` work one need to set up s3 cache in _any_ bucket, not necessarily in the same bucket that contains the file that needs to be imported

That kind of solves the issue, but I don't get the logic behind this. Why would I need a cache in the separate bucket just to download the file from completely different buc

[2020-07-01 21:17] efiop commented on #4144
@anotherbugmaster This is a well known bug that became more intrusive once we've adjusted the way we process inputs in get-url and import-url. It will be improved in the near future.

[2020-07-01 21:52] gthb commented on #2284
Yep, dvc 1.1.3 resolves it, so I can take that `flufl.lock` dependency workaround right back out of my CI build. :)

[2020-07-02 00:00] z0u commented on #3556
Hi! Thanks for continuing to look into this, but I think the current discussion misses the point of this issue. The wildcard was just a concise way to describe the problem. The point is: `02-train-B` should not run before `02-train-A` if both are specified. The corresponding example in the new syntax is (I think; untested):

[code]

Which should execute `02-train-A` and then `02-train-B`.

[2020-07-02 03:35] skshetry commented on #4145
@casperdcl, as pre-commit runs on an isolated environment, we'd need to disable a lot of configuration to do this way.

Also, contributors should already install from `.[tests]`. Without that, how'll they be running tests?

`dvc-pre-commit` is already a local run, for which you do need to have activated virtualenv beforehand.

Is it too difficult to `pip install .[tests]`? If it's that *inconvenie

[2020-07-02 05:51] pmrowla commented on #4141
Issue is that for S3 `walk_files` we force appending a trailing slash to paths
https://github.com/iterative/dvc/blob/07da9f1e5c0be1662dbce7b0667c38c45e2c6b1a/dvc/remote/s3.py#L189-L190

This breaks behavior when we try to walk 3-character prefixes like `00/0, 00/1, ..., 00/f' since we end up trying to fetch `00/0/` instead.

Being able to walk arbitrary-length prefixes is useful (for remotes that

[2020-07-02 06:30] moshe-rl opened #4150 "DVC status fails after using add -R"
Hey :)

I have a folder of files I added with
$$ dvc add -R raw_data

Then I've imported the folder in other git repo using
$$ dvc import -o data --rev raw-v1 https://...@bitbucket.org/.../raw_data_reg.git raw_data

Then when execute dvc status I get an error message

[code]

Do you know what could be the problem?
Thanks.

[2020-07-02 06:44] pmrowla commented on #4150
Looks like
https://github.com/iterative/dvc/blob/07da9f1e5c0be1662dbce7b0667c38c45e2c6b1a/dvc/dependency/repo.py#L67

should be
`get_hash(path, tree=tree)`

We should make sure to add test coverage for this case w/the bugfix

[2020-07-02 08:13] casperdcl commented on #4145
- setting correct configuration via the hook itself (e.g. commandline args) is the correct way
- I'd strongly recommend *against* `pip install .[tests]` especially for DVC where there are many tests which won't even run locally due to lack of dependencies/credentials. pre-commit => quick local tests, CI => full tests. On the rare occasion where an outside contributor is developing a big new featur

[2020-07-02 09:20] stefanvangastel commented on #4134
We can provide waivers to whitelist specific packages, so that issue is solved (not being able to install DVC due to usage of ruamel.yaml).

[2020-07-02 09:33] efiop commented on #4134
@stefanvangastel Just to clarify, will you be able to do that in this case to install dvc?

[2020-07-02 09:42] stefanvangastel commented on #4134
Ok, so to paint the entire picture;

We are in an offline / on-premise netwerk. We use Sonatype Nexus (on-prem) to proxy / cache PyPi packages. So using `pip install` we provide a the Nexus server als proxy.

Additionally Sonatype IQ (also on-prem) will scan all packages traveling through the proxy before allowing them in our network.

If we install DVC, pip returns an 403 error stating `ruamel.ya

[2020-07-02 11:02] dmpetrov commented on #2799
Yes

🤔 Interesting idea. My concern - it might take time to transfer from `run` to `stages`. This might block the experiments a lot.

Good idea. We should consider it.

[2020-07-02 11:06] dmpetrov commented on #2799
@casperdcl I have a feeling that we have a different understanding of the workflow. First of all, I'd forget about --parallel for now because this is a technical detail. With the new experiments, we are working in a regular workflow, but it gives us an ability to return back to not-committed runs.

The experiments are about all the runs - `dvc run` as well as `dvc repro`.

[2020-07-02 12:13] pmrowla commented on #2799
Setting aside the issues of command usage and experiment execution, I'm wondering if we would be able to build on top of `git stash` for this?

When I think about the idea of an "ephemeral commit" it sounds to me like it's the same idea as a stash commit. Using stash would give us actual commit objects we can refer to and diff without actually polluting the git repo with 1000 branches or 1000 form

[2020-07-02 13:06] efiop commented on #4134
@stefanvangastel Thank you for the explanation! Makes sense now!

Btw, other than on-premise Sonatype, are you aware of any tool that we could use to check our cve score during development? Without it, we won't ever be sure if the new package that we introduce is actually better or worse in CVE score. Regarding the `ruamel` itself, we could consider switching to `srsly` as suggested by @honnibal ,

[2020-07-02 13:28] casperdcl commented on #2799
I'd be concerned about using `git-stash` as people who already use the stash will get confused if DVC has quietly put a dozen commits on it.

[2020-07-02 13:30] lucasmaheo opened #4151 "Endpoint URL is not taken into account when adding an external file from Minio"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

I was trying out DVC and I cannot make it work with a local deployment of Minio. Minio is hosted at ```127.0.0.1:9000``` and works as expected, I tested it.

**Contents of .dvc/config:**
[code]

**Logs:**
[code]

After some investigation, dvc does seem to take

[2020-07-02 13:32] efiop commented on #4145
@casperdcl We still need to `pip install` all dvc dependencies for that, and pylint is a test dependency, so we can run system's pylint just fine.

Did I understand correctly that you want to remove pylint from pre-commit hooks? I'm strongly against that, it is helping to discover issues before creating a PR and is certainly faster than waiting for CI to error-out.

[2020-07-02 13:39] skshetry commented on #4134
@efiop, `srsly` right now has only vendored the `ruamel.yaml`, so it's the same. Doesn't `dependabot` catch those? I think, it's having trouble reading from our `setup.py`, it should work with `requirements.txt` files.

[2020-07-02 13:39] efiop commented on #4151
@lucasmaheo That happens because you use direct `s3` url in your `dvc add` command. What you should use instead is a remote:// addressing. E.g. right now you have `s3cache` remote already, but you could define a similar separate one and use it.
E.g. with `s3cache` you could:
[code]
but I would suggest something like:
[code]
and then just
[code]
:slightly_smiling_face:

The external workspaces scen

[2020-07-02 13:41] skshetry commented on #4151
Duplicate of #1280

[2020-07-02 13:45] skshetry commented on #4151
Duplicate of #3441

[2020-07-02 13:48] skshetry commented on #4145
@efiop, I'm still looking for answer for "Is it too difficult to pip install .[tests]?" from @casperdcl.
Ideally, I'd also love to have it isolated, but in practice, the benefits outweigh the cons.

If it's too hard to install our test dependencies, I could create a custom script that just throws a message to the user
complaining that `pylint` is not installed and does not break `pre-commit` runs.

[2020-07-02 14:07] stefanvangastel commented on #4134
@efiop I can reproduce the CVE findings locally (macOS) by:

**Installing a OWASP dependency checker [CLI tool](https://jeremylong.github.io/DependencyCheck/dependency-check-cli/index.html#)**
[code]

**Create venv and install DVC**
[code]

**Run a scan**
[code]
(`--enableExperimental` has to be on to use the Python scanner)

This results in a `dependency-check-report.html` that looks like this (c

[2020-07-02 14:14] pmrowla commented on #2799
yeah, my understanding of git is that this concern is why `git stash create` exists - it lets 3rd party scripts (in this case dvc) create standalone stash commits that don't affect the regular user stash list/reflog

[2020-07-02 14:15] lucasmaheo commented on #4151
Thank you for the explanation @efiop. Indeed this is a misunderstanding on my part. How do these instructions not end up on the ```dvc add``` page? At any rate, this fixed it.

If anyone else ends up on this issue, the following command worked:
[code]

[2020-07-02 14:19] #4151 closed

[2020-07-02 14:23] efiop commented on #4151
@lucasmaheo The reason is that functionality is considered very advanced and not polished enough, so it is even hard to describe it nicely in the docs :( But we do have a few tickets with `remote://` notation explanation for the docs. Btw, could you elaborate on your scenario? Maybe you don't actually need this functionality.

[2020-07-02 14:26] efiop opened #4153 "keep track of CVE score for our dependencies"
https://github.com/iterative/dvc/issues/4134#issuecomment-653027294

[code]

Kudos to @stefanvangastel

[2020-07-02 14:27] efiop commented on #4134
@stefanvangastel Oh, I didn't know that dependency-check supports cve scanning. Nice! Created https://github.com/iterative/dvc/issues/4153 for that.

[2020-07-02 14:43] lucasmaheo commented on #4151
My scenario is hypothetical at this point. The typical use case would be to be able to version data files as well as ML models in a scalable storage. Usually, our projects use cloud storage (or on-premise, cloud-like storage) to have a single reference for data. We are looking for a solution to version efficiently those voluminous datasets, and DVC seems to fit the bill.

[2020-07-02 14:55] efiop commented on #4151
@lucasmaheo Sounds like that is indeed not the best approach. The first problem here is the isolation - if any user of your dvc repo runs `dvc checkout` data on s3 will change for everyone, which is a really bad practice unless you really know what you are doing. I would suggest storing your data in a regular dvc repo and access it through dvc. We have things like `dvc get/import` and even python

[2020-07-02 14:56] Wirg commented on #1018
Small bump out of curiosity.

Is there any plan to introduce such a feature ?

We are right now producing +500 `.dvc` files and updating them frequently (changing deps, outs, cmd, not just the hashes).
With the introduction of multi-stage in dvc v1, we will be able to reduce this to ~80 files. Kudos !
With this kind of change, we will be able to reduce this to 1 `.dvc` file with the 80 elements as

[2020-07-02 14:58] efiop commented on #1018
@Wirg I think the mechanisms for that will be introduced as a part of https://github.com/iterative/dvc/issues/2799 . We are actively working on that right now, though we are still in the early stages of development.

[2020-07-02 15:06] skshetry commented on #1018
@Wirg, can you use YAML anchors? It might not be sufficient considering our YAML structure, but for small cases (such as sharing `wdir`, it might work).

[2020-07-02 15:07] Wirg commented on #1018
@efiop

Thanks for the lightning fast answer and the expectation management on the development stage.

I subscribed to the provided issue.

[2020-07-02 15:20] Wirg commented on #1018
@skshetry thanks for your suggestion

I am not clear on how yaml anchors would improve the situation ?
We will probably use them to do the multistage update with dvc v1.
But I am not clear on how it will replace a matrix feature.

As an example, we will run this kind of `.dvc`  files with various configs : HP and / or input data (currently ~80)

[code]

Our current approach is to produce this kind

[2020-07-02 16:34] shcheklein commented on #4145
@skshetry @casperdcl why does pylint is different in this sense from black, isort and other "linters"? (just curious where does this problem come from). They should be the same to mind, have the same flow, conventions, etc.

[2020-07-02 16:46] skshetry commented on #4145
@shcheklein, pylint also does dynamic analysis for some checks, not just static analysis.

You can see some failures here: https://github.com/iterative/dvc/pull/4146/checks?check_run_id=827566035#step:5:124

When in isolated environment, not all dependencies are installed and `pylint` starts complaining about missing-import or `no-member`. We could either disable these, but as we have just started

[2020-07-02 16:51] shcheklein commented on #4145
@skshetry gotcha, makes sense! I would vote probably for providing some happy path in simple scenarios (warn but do not fail if env is not fully setup), assuming we always run it on CI/CD.

[2020-07-02 16:51] haishiro opened #4154 "dvc add --external fails on files created by gsutil compose"
## Bug Report

`dvc add ... --external` fails when the target is an object created by `gsutil compose`

Steps to reproduce:
[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.
[code]

[2020-07-02 16:51] casperdcl commented on #4145
"Difficult" is not really the adjective I'd use... but for a casual newcomer, yes. It would be a complication that would be difficult and off-putting. Personally I'd say "nuisance" and "incorrect" rather than "difficult" (see below)

This is the point. It's not really a linter. It's really more of a full-blown test suite.

- it takes a long time to run (several seconds each commit)
- it actually i

[2020-07-02 16:53] casperdcl commented on #4145
exactly. `python -m tests` can be described in precisely the same words. Unless you want to add `python -m tests` to pre-commit hooks too, `pylint` really shouldn't be there.

[2020-07-02 16:55] shcheklein commented on #4145
this is a good point, btw. I would say that even existing DVC hook (dvc status?) is quite annoying already when you develop fast and do commits.

[2020-07-02 17:04] #4141 closed

[2020-07-02 17:07] casperdcl commented on #2649
Just to clarify, we could have `dvc list` which could either list:

- data files tracked by DVC, or
- the DVC-files

Then `dvc export/archive` would actually bundle all these into a folder/zip.

Use case: deploy releases without SCM/DVC: `git archive -o code.zip && dvc archive -o data.zip` for upload to customer/Zenodo/publication etc.

[2020-07-02 17:23] efiop commented on #2649
For the record: dvc list is already implemented.

[2020-07-02 17:24] casperdcl commented on #2649
#4108 I see :)

[2020-07-02 17:28] efiop commented on #4154
Hi @haishiro ! Looks like gsutil compose doesn't set `md5_hash` for the blob it creates. Does it provide you with a way to do that?

[2020-07-02 17:28] efiop commented on #4154
@haishiro Also, `--external` is considered a pretty advanced scenario, could you share more details about your scenario, please? Usually we don't recommend it unless the user really knows what he is doing.

[2020-07-02 17:30] casperdcl commented on #2649
Right so to archive a snapshot:

[code]

[2020-07-02 18:26] dmpetrov commented on #2799
@pmrowla I really like this idea. I don't know in advance if it can cover all our needs but this solution looks very elegant :)  Let's investigate!

A question that I have for now: how to move the experiments between machines (to CI/CD for example)? I'd appreciate it if you could explain the sharing part.

[2020-07-02 18:30] lucasmaheo commented on #4151
Oh thanks for the clarification. That is indeed not the behaviour I was looking for.

So DVC registries are to be used with local copies, as I understand. Exactly in the same way as git registries, with the exception of the added possibility to select only required files. To circumvent that, we need to use the API. It all makes sense now.

At least I now know how to create the data registry. I am

[2020-07-02 18:58] haishiro commented on #4154
I don't think there are any [options](https://cloud.google.com/storage/docs/gsutil/commands/compose) for setting `md5_hash` in `gsutil compose`

**My use case:**
The source dataset is in BigQuery and model training is using GCP's AI Platform Training. Due to the size of the dataset, I'm using BigQuery extract job to extract the data to CSV files in Google Cloud Storage. This results in partitioned

[2020-07-02 19:00] jorgeorpinel commented on #2799
@dmpetrov I'm not sure I get this concern. I understand it is the intention to separate stage definition from running them anyway no?

My concern would be that we'd probably need subcommands for `dvc run` in this case e.g. `dvc run list`, `dvc run diff`, `dvc run exe` (execute), which would be a big non-backward compatible change.

Great thinking @pmrowla! But I don't think we can literally piggy

[2020-07-02 19:14] jorgeorpinel commented on #2649
Perfect! Maybe we just need to put a note about this in the dvc list cmd ref. and link from a few more places? If so please move this issue to the docs repo. Thanks

[2020-07-02 19:42] efiop commented on #4151
@lucasmaheo You mean kinda like publish them there? Currently there is no way to push it back like that :slightly_frowning_face: But we've heard requests for that. In my mind should be some special operation that does "straight to remote" action. So... something like
[code]
that would create `data.dvc` as if you would downloaded it by-hand and then `dvc add data`, but it wouldn't actually download

[2020-07-02 19:46] efiop commented on #4151
I feel like that ^ covers the most misuses that we've seen. Maybe it is even worth doing that by default when someone tries to feed a url to `dvc add`. E.g.
[code]
would just create `data.dvc` and stream s3://bucket/path/data to compute the hash and push to the default remote. Not sure...

[2020-07-02 20:00] dmpetrov commented on #2799
@jorgeorpinel Exactly, it leads to the breaking change (right after 1.0 release). So, we can potentially introduce `dvc stage` but we won't be able to change `dvc run` in the next few months.

[2020-07-02 20:22] efiop commented on #4154
@haishiro Looks like it is not what you want. There are isolation issues to just start with. See https://github.com/iterative/dvc/issues/4151 , where we have the same discussion. What you probably want is for that command to copy from gs to gs remote without downloading full copy locally. There is no such feature in dvc right now, but you could do that through the regular workflow if you mount you

[2020-07-02 21:24] haishiro commented on #4154
Thanks, that makes sense. A "straight to remote" option would also be nice, especially since some of my collaborators would be using Windows and can't use fuse to mount.

[2020-07-02 21:24] #4154 closed

[2020-07-02 22:17] efiop commented on #4088
Not able to reproduce in 1.1.3 bin package with or without `gss_auth = True` :( Closing for now. If anyone else is running into this problem with new versions of dvc - please let us know and we'll reopen.

@Nikesh46 Thanks for the feedback!

[2020-07-02 22:17] #4088 closed

[2020-07-02 22:29] #4069 closed

[2020-07-02 22:58] efiop commented on #4014
Leftover points are too big and abstract with questionable usefulness.

[2020-07-02 22:58] #4014 closed

[2020-07-03 01:11] pmrowla commented on #2799
Stash commits don't actually have to be reapplied to the current HEAD, so I think the dealing with potential merge issues is something we could work around. Just as an example, you can use `git stash branch` to make a new branch containing the stash commit, and the branch will start at the original commit from which you made the stash entry and not the current HEAD. From the git docs: "This is use

[2020-07-03 01:59] jorgeorpinel commented on #2799
The idea is definitely worth trying out before implementing from scratch! 2 more doubts I have about this `git stash` strategy, though:

1. Each run is based on the previous one, I believe. They're sequential, like intermediate auto-commits. Can stashed changes be based on previous stashes? I think not 🙁

2. So run-cache would be disabled for --no-scm projects?

P/s

What about implementing a full

[2020-07-03 02:58] pmrowla commented on #2799
Is `--no-scm` actually something we need to support with regard to experiment runs? Given that other commands for doing diffs/comparison in DVC require git, it seems like having the same requirement for comparing experiments is reasonable?

[2020-07-03 03:42] pmrowla commented on #2799
Regarding this question, if a user has some experiment tree/history based on some existing commit like
[code]
(where experiments 1-1, 2-1, 3-1 are modifications of commit `123abc` and experiments 2-2 and 2-3 depend on prior runs)

If the user decides at the end that they want to formally "commit" `exp2-3`
* Do we need to save the full experiment history? (so master would end up with separate commi

[2020-07-03 03:44] xnutsive opened #4158 "dvc plots diff: use a descriptive filename instead of plots.html by default"
### Current implementation

By default, `dvc plots diff` will put the plot in a boilerplate html code into `$(pwd)/plots.html`. If I run `dvc plots diff -x another-axis -y another-metric`, it'll overwrite the `plots.html`.

You can pass `dvc plots diff ... -out path/to/file.html` and it would write to the provided path, however this requires the user to think about the path they want to use for pl

[2020-07-03 06:12] jnd77 commented on #4141
Thanks guys. :)

[2020-07-03 06:25] jnd77 opened #4159 "`dvc status` reports changed checksum when it should not"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

1.1.6

**Additional Information (if any):**

Am not sure if it's a bug, but I have an unexplained behavior with `dvc status`.
In my repo, there are around 500+ files, each with their own dvc file.
After doing a `dvc pull`, when I run `dvc status`, the output contains a lot of files with status `changed ch

[2020-07-03 09:09] CRodVig opened #4160 "'dvc add dir' fails when 'dir' contains a file and a relative symlink on this file"
## Bug Report

[code]

I wanted to add a directory containing binaries on Linux. For dynamic libraries, we often have the "real" file as `libXXX.A.B.C.so` and some symlinks of the form `libXXX.A.B.so`, `libXXX.A.so` and `libXXX.so`. But adding the directory failed. After investigations, I found a simple way to reproduce this bug. Hope this will help:

[code]

As you can see, the file that is not f

[2020-07-03 13:17] #4150 closed

[2020-07-03 13:38] efiop commented on #4159
@jnd77 Looks like those are mixed up. The upper one is how current dvc files look like. We've changed the way we format them i n 1.0, so you just need to `dvc commit` in order to make `dvc status` happy :slightly_smiling_face:

[2020-07-03 13:49] efiop commented on #4158
This doesn't really work when you have multiple plots in the project with different templates. `plots.html` contains one or more plots. I'm also not sure `{x}` and `{y}` are always available in all templates. Plus, even if we introduce this change, it will break the backward compatibility for everyone using `dvc plots show/diff` already. So I don't think this is worth it, especially since we have

[2020-07-03 15:55] #4132 closed

[2020-07-03 16:25] efiop commented on #4080
@dmidge8 Maybe our python API would be useful in your case https://dvc.org/doc/api-reference . It allows you to stream the data directly from remote.

[2020-07-03 16:38] bjonnh opened #4162 "Developping a workflow for simultaneous work"
The idea would be to provide guidance to users in order to optimize parallel work to avoid conflicts when pushing on the same repository.

There are two aspects to that issue:
- organizational: what would be the workflow that would reduce chances of getting conflicts
- technical: can we make tools that would ease such conflicts

Organizational tools:
- a document that provides an example problemat

[2020-07-03 16:43] efiop commented on #4162
Discord context: https://discordapp.com/channels/485586884165107732/485596304961962003/728651039657558066

Possible solution: git merge driver.

[2020-07-03 17:25] jorgeorpinel commented on #2799
Idk, but I think it's supported with the current way run cache works.

Actually, I think we're overcomplicating this part, @pmrowla. Should we define what a run is technically? Are they actually nodes in a graph (commits)? I think not: they're unique combinations of cmd, params, deps, and out. So I guess they're not ordered in any way, just loosely connected to the last commit at the time they wer

[2020-07-03 18:45] dldx opened #4164 "dvc push doesn't recognise that files are missing in remote storage"
For some reason, I was missing a number of files in my remote storage on GCS. When I run `dvc pull`, it fails with the following error:

[code]

In order to fix this, I decide to run dvc add and dvc push on a machine which still has these files. The commands run fine, and dvc push reports that everything is fine. However, in reality, it does not upload the missing files to the remote cache. In the

[2020-07-03 19:18] efiop commented on #4164
@dldx Could you try removing `.dvc/tmp/index` and try again?

Did someone run garbage collection on your remote by any chance?

[2020-07-03 19:20] xnutsive commented on #4158
Thank you for explaining the issues with the templates — indeed, I never _really_ used them, and before making any arguments, I feel like I need to get a better understanding of the flexibility that's already there, and how people actually use plots today.

The issues is safe to close — I'll reopen if I get up to speed and have any arguments to improve how plots are generated, or create an issue i

[2020-07-03 19:43] dldx commented on #4164
@efiop Hmm, nope, that didn't change anything... It is easy for me to replicate this. I just need to delete a file in the remote storage after I have pushed it.

I didn't run gc but someone else may have. I'm not really sure yet what caused it but I'm wondering if there are other missing files as well.

[2020-07-03 20:42] efiop opened #4165 "daemon: launch cmd is broken when running main() from elsewhere"
https://github.com/iterative/dvc-bench/issues/149

[2020-07-03 21:19] efiop commented on #4164
@dldx That messes up with our index, hence why I've asked to remove `.dvc/tmp/index` to force it to check things manually. Could you remove it and check `dvc status -c` ?

[2020-07-03 21:20] #4158 closed

[2020-07-03 21:41] dldx commented on #4164
Sorry for the confusion. I did remove the index, but it didn't trigger a check.

[code]
No push triggered even though there are remote files missing.

[2020-07-03 22:27] efiop commented on #4164
@dldx Are you sure you've deleted a file that is used in PSScene4Band.dvc ?

[2020-07-03 22:54] efiop commented on #4164
@dldx Ah, sorry, I've missed that we actually trust the remotes in regards to the files in directories in order to make dvc operations faster. If your collegues are deleting stuff randomly from the cloud, you might consider making your remote untrusted with:
[code]
that will make it paranoid again.

[2020-07-03 22:57] efiop commented on #4164
@dldx But usually even during gc, we delete the `.dir` cache file first and then remove the actual files. Could you please double check that everyone is using the latest dvc version?

[2020-07-03 23:09] efiop commented on #4164
Thinking about it, we could consider throwing a warning if we assume that file is there but not able to pull it.

[2020-07-04 11:35] Kuluum opened #4167 "ssh push [Errno 13] Permission denied"
## Bug Report

Machine 1 (macos):
[code]

Machine 2 (ubuntu):
[code]

Same problem on both machines:

[code]

### What have I found and how I fix it:

The problem is that in ```ssh/connection.py/makedirs ``` parameter ```path``` comes like ```/dvc``` starts with ```/```, this path then passed to paramiko and it can't make dir with ```/``` prefix, permission denied error appears. Same behavior if y

[2020-07-04 14:49] PeterFogh commented on #3920
Hi @efiop,
It has been a long time since I have contributed to the DVC community, mainly because the data science team, I'm a part of, got a stable setup for performing ML experiments using DVC version 0.84, after you released it as a Conda package. Hopefully, over the summer, we get the time to update to your new version 1, and see which new features we can benefit from :)

Our setup still works

[2020-07-04 17:49] efiop commented on #4167
Hi @Kuluum !

dvc treats the paths in url as absolute ones, hence why it tries to create `/dvc`. What you want is a `relative` path behaviour, where we pass a relpath to sftp and so it uses it based on the home directory for the user you are accessing the server as.

IIRC, utils like `scp` accept both `path` and `/path` in their url after `:`. But at the same time, you won't be able to specify the

[2020-07-04 18:51] efiop commented on #3920
Correct, it should prevent the misuse for the most part and enforce isolation in some sense.

So you mean abstracting not only the paths as we do now, but also the executors? Like being able to launch your stage locally or, say, on some ec2 machine or just another server? If so, we are also now actively looking into that (though only for local scenario) in https://github.com/iterative/dvc/issues/2

[2020-07-05 04:26] weekly-digest[bot] opened #4168 "Weekly Digest (28 June, 2020 - 5 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 40 issues were created.
Of these, 25 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #4167 [ssh: support scp-like relpaths in urls](https://github.com/iterative/dvc/issues/4167), by [Kuluum](https://github.com/Kuluum)
:green_heart: #4166 [Add more test

[2020-07-05 09:40] Kuluum commented on #4167
@efiop Thanks! With the absolute path, all work well. Also, I see that usage of the absolute path is described in the documentation, but I didn't notice it.

[2020-07-05 22:03] efiop commented on #4167
Do you remember any examples like that? I'm having a trouble remembering anything like that, but maybe you used to use some sftp servers that run in a user home dir? Usually all sftp servers are started with a root in a real fs root /, but sometimes they are configured to use a different root dir, I've seen that happen (there are even some issues that we have where people were confused by it).

So

[2020-07-05 22:20] #4168 closed

[2020-07-05 22:21] efiop commented on #4168
Whoa, the formatting broke :slightly_frowning_face: And seems like we didn't see this report a week ago. Will consider disabling if it continues this way.

[2020-07-05 22:57] shcheklein opened #4169 "import: same command creates .dvc file in different locations"
## DVC Version

[code]

## Reproduce

Run the same command:

`dvc import https://github.com/iterative/dataset-registry get-started/data.xml -o data/data.xml`

when `data` directory exists and when it does not.

In the first case we get:

[code]

In the second case:

[code]

**There are two bugs:**

- [ ] It creates `data.xml.dvc` in different locations (`data/data.xml.dvc` vs `data.xml.dvc`)
- [x]

[2020-07-05 23:49] efiop commented on #4169
Good catch!

Works for me, I suppose you just had gitignore entry before that (probably from the previous run).

[2020-07-05 23:53] shcheklein commented on #4169
yep, confirmed.

[2020-07-06 01:10] casperdcl commented on #3872
OK all done (the current master branch is also a release hence `edge` == `stable` at the moment):

[code]

[2020-07-06 01:10] #3872 closed

[2020-07-06 02:07] jnd77 commented on #4159
Thanks a lot for your reply.
Indeed, it was mixed up. Doing a dvc commit fixed the issue.

[2020-07-06 02:07] #4159 closed

[2020-07-06 03:10] skshetry commented on #4168
@efiop, you broke the Weekly Digest with your commit message. :smile:

[2020-07-06 07:58] Kuluum commented on #4167
Using the abs path as a workaround works. I'm not blocked anymore. :+1:

What about sftp and root dir... Server guys created a user for me on some common server where are some other сolleagues have users too, so I have powers only in my user's home folder :relaxed: (I'm not very good at server things, so I do not know the features of sftp and other stuff)

[2020-07-06 09:17] Gurpreet23-design commented on #1995
i also have the same issue of error while working on pycharm
i also tried to run pip uninstall enum34 command but it shows me that enum34 was not installed
i dont know what to do i have pyhton 3.8 version
please help by any other solution
THANKS.....

[2020-07-06 12:00] Robbie-Palmer opened #4171 "Different Versions from Different Install Methods"
I'm installing DVC on Linux (Ubuntu v18.04)
When I install DVC via conda `conda install -c conda-forge dvc` I get version `1.1.7`
When I install from repository I get version `1.0.1` following the [Linux install from repository steps](https://dvc.org/doc/install/linux#install-from-repository)
[code]

[2020-07-06 16:35] efiop commented on #4171
Hi @Robbie-Palmer !

Thanks for the feedback! Indeed, we had some delay in uploading deb/rpm packages, but it is fixed now. Please give it a try.

[2020-07-06 16:35] #4171 closed

[2020-07-06 19:18] jorgeorpinel opened #4172 "run: make --name a regular argument?"
The current minimal use of `dvc run` requires both `--name/-n` (option) and a `command` (argument). I believe `-n` is in fact one of the few or maybe the only required option in all of our commands. How about make it into a proper argument?

[code]

E.g.

[code]

We'd may need to keep `-n` around (as an option to the `name` arg) for backward compatibility, though.

---

Another idea is to allow `-

[2020-07-07 07:43] mathias3 opened #4174 "ssh get-url throws ERROR: unexpected error - 'NoneType' object has no attribute 'cache'"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]
DVC version: 1.0.1
Python version: 3.7.1
Platform: Linux-5.3.0-62-generic-x86_64-with-debian-buster-sid
Binary: True
Package: deb
Supported remotes: azure, gdrive, gs, hdfs, http, https, s3, ssh, oss
Filesystem type (workspace): ('ext4', '/dev/mapper/ubuntu--vg-root')

**Additional Information (if

[2020-07-07 10:07] Suor opened #4175 "s3: provide a way to use key id and key secret directly"
For now the only way to pass credentials to S3 is using credentials file and the env var. This is very inconvenient when trying to use dvc as a library. For now I hacked it like:

[code]

Would be nice to have it inside `dvc.remote.S3RemoteTree`.

[2020-07-07 10:16] efiop commented on #4175
@Suor Have you considered changing the env for that call?

Also, I suppose your request is only about internal api, right?

[2020-07-07 10:17] efiop commented on #4174
Hi @mathias3 . Could you please upgrade to the latest version (1.1.7 as of right now) and try again?

[2020-07-07 10:22] Suor commented on #4175
Changing env for the process will leak it to other threads and also may leak to subsequent calls. Starting a new process is a solution, but a heavy one.

I am using `repo.cloud.pull()`, but `repo.pull()` should work the same.

[2020-07-07 10:24] Suor commented on #4175
Ideally I want key_id/key_secret pair be added to config. Any reason you want to avoid it?

[2020-07-07 10:46] efiop commented on #4175
Same reason as with any plain-text passwords :slightly_smiling_face: We could make it api-only, but feels like a hack, still. I guess the only current nice way to do it is to just use a tempfile, dump keys into and and then use it as credentailpath in the config.

[2020-07-07 10:54] #4043 closed

[2020-07-07 10:55] mathias3 commented on #4174
``` sudo apt-get install --only-upgrade dvc```
returns
```dvc is already the newest version (1.0.1).```

[2020-07-07 11:05] efiop commented on #4174
@mathias3 I think you need to `sudo apt update` first. I can confirm that 1.1.7 is in our deb repo already.

[2020-07-07 11:10] mathias3 commented on #4174
[code]

``` dvc get-url -v  ssh://root@116.xxxxxxxxxxxxxxx/dvc/test2 ```
still returns
[code]

[2020-07-07 11:18] efiop commented on #4174
@mathias3 Thanks! Indeed, it is a known bug when trying to get-url a directory. https://github.com/iterative/dvc/issues/4144 For now, you could just use scp or rsync with the same effect.

[2020-07-07 11:23] efiop commented on #4174
I'll close this issue as a duplicate of #4144. Thank you for the feedback!

[2020-07-07 11:23] #4174 closed

[2020-07-07 13:04] efiop commented on #4172
@jorgeorpinel Great idea! We didn't do that yet because `dvc run` is too overloaded already and I hope that we will have something like `dvc stage add`(or something else) in the future, where it would have a more friendly interface. Let's keep this issue open for now.

[2020-07-07 13:25] Suor commented on #4175
That would work too. However, if we want api to be usable we should stop doing things like that) Non-saveable config option is fine with me too. Hack or not.

[2020-07-07 13:29] Suor commented on #4175
And BTW, we already have it for oss, gdrive and ssh. Maybe it's ok to save password/key to local config. People are storing this anyway in some `~/.aws/credentials`, which is a [blessed way](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-files.html).

[2020-07-07 13:39] efiop commented on #4175
@Suor agreed. Let's do that.

[2020-07-07 13:53] haberdashPI opened #4176 "Support Open Science Foundation?"
Hi there; I love this project! What a great tool.

I'm wondering if you could add support for an [open science framework](https://osf.io/) project as a remote. It is for hosting data as part of a published research report. They have a [python api](https://github.com/osfclient/osfclient) for sending and retrieving files, so I'm *guessing* it would be pretty easy to add this feature. If it's not too

[2020-07-07 14:32] honnibal opened #4177 "dvc "phones home" even when analytics are disabled (via the updater)"
Even if the analytics are disabled, DVC still contacts Iterative's servers during the update check, which potentially provides another avenue for usage information to be collected: https://github.com/iterative/dvc/blob/master/dvc/updater.py . This makes DVC difficult to recommend to users in privacy-sensitive contexts.

I think the updater should be disabled when the analytics are disabled. If you

[2020-07-07 17:38] jorgeorpinel commented on #4172
Agree. `dvc stage [--options] <name> <cmd>` to create/update (maybe even `--remove` instead of `dvc remove`) stages, and separately `dvc run` to run/repro stages and pipelines seems ideal for the 1.0 era IMO.

[2020-07-07 19:56] efiop commented on #4177
Hi @honnibal !

Thanks for the great feedback!

Regarding noisiness and providing an ability to disable checks, we have an older ticket https://github.com/iterative/dvc/issues/1894 discussing it and some ways to solve it. I think we could totally consider introducing a config option to disable update checks (both fetching and notifications). That should be enough for anyone who doesn't want update

[2020-07-07 20:04] #4103 closed

[2020-07-07 20:28] efiop commented on #4176
Hi @haberdashPI !

That looks very promising!

Just wanted to make sure you are aware that our remotes are not really human-readable and they are more like a content-based storage, so you usually need to use dvc to access your data by human readable name. :slightly_frowning_face:

As to implementation, it would indeed pretty simple on dvc side. Here is an example of the whole code needed for azure

[2020-07-07 22:50] honnibal commented on #4177
Hi @efiop , thanks for the prompt reply!

I'm not sure whether I should talk about this issue here or on the old one. I wrote something for that thread but I'll paste it here instead.

@shcheklein Respectfully, I think you're thinking about this the wrong way. I argue this feature should be removed entirely, and actually I think it should never have been implemented.

It's up to users to decide wh

[2020-07-07 23:17] shcheklein commented on #4177
@honnibal thanks for a thorough answer! I really appreciate it. Clearly, I think very differently about this. Let me clarify it, but overall we won't find a silver bullet here or one answer fits all, clearly we can take different directions and different defaults on this.

DVC is not a library (it can be used a library and I hope it does not check for updates in this case). There are CLI tools tha

[2020-07-08 05:53] skshetry commented on #4158
I think it'd make sense to generate plots.html file based on the timestamp.

So, something like: *plots.1594187557.html*.

[2020-07-08 06:25] skshetry commented on #4158
Also, it makes me wonder if it'd be good to have some functionality to directly open the *plots.html* in the browser.

[2020-07-08 06:47] skshetry opened #4179 "plots diff/show: `--open` flag to directly open it in the default browser"
As the title says

[2020-07-08 09:30] ramank775 opened #4180 "DVC binaries are not signed"
I am exploring the DVC as the data versioning tool in my organization but found that binaries are not signed. Which is a blocker as per the organization rules.
Is there any plan to signed the binaries?

[2020-07-08 09:59] WestXu opened #4181 "DAG with inputs/outputs?"
A full DAG like dagshub will be just really cool and informative.

https://dagshub.com/Guy/pipeline-intermediate-files-example

[2020-07-08 10:30] honnibal commented on #4177
Thanks for engaging with this.

It's true that DVC is a CLI tool rather than a library, and that does change the balance slightly. And it's true that some CLI tools check for updates. But consider all the other tools you use. Very very few of them do this, and I can't easily think of any where you can't disable the behaviour.

In the use-case I have in mind for DVC, I expect the tool to be execute

[2020-07-08 10:40] skshetry opened #4182 "Running tests pollutes workspace"
Looks like `http` server for tests is to blame? Refer 07da9f1

[code]

[2020-07-08 10:55] pared commented on #4181
I think this is duplicate:
https://github.com/iterative/dvc/issues/1065

[2020-07-08 10:56] #4181 closed

[2020-07-08 10:56] pared commented on #4181
@WestXu Can I ask you to upvote #1065?

[2020-07-08 10:58] WestXu commented on #4181
@pared Oops, sorry missed that one somehow.

[2020-07-08 11:12] pared commented on #4181
@WestXu no problem, sometimes it's hard to pinpoint if the issue already exists :)

[2020-07-08 14:18] efiop commented on #4158
@skshetry Not sure I understand why it is useful. Visually it doesn't help to differentiate those files.

This one is a good one. Indeed, we might consider launching something like `xdg-open plots.html` to open the browser with it. But at the same time you really need to click the link and after that you could just refresh the page (at least that's how I do it). Please feel free to create an issue

[2020-07-08 15:18] efiop commented on #4179
Context https://github.com/iterative/dvc/issues/4158#issuecomment-655314446

[2020-07-08 15:19] efiop commented on #4179
Might be easier to just click the link than use that flag, but we might consider doing that by default when in interactive mode. Not sure.

[2020-07-08 15:29] pared commented on #4158
I don't think that creating new `htmls` by default is a good idea. There is `-o` option. Generating many files with not clear names will lead to polluting the repository with unused plots that we forgot to remove.

[2020-07-08 15:44] skshetry commented on #4158
@pared, I think it depends on what the user's intention is. For creating one-off plots to view and compare, I think user don't care much about names, they are fine with some plots from temp dir (or, from the workspace), and don't want to get it overwritten (i feel `-o` is quite an effort).

If user want's something meaningful, there's an `--out`.

[2020-07-08 15:53] skshetry commented on #4179
Using :computer_mouse: is quite an effort. You have to hover it to the location of the link, and then Ctrl-Click it. Quite a hassle. :smile:
And, not everyone's terminal is nice enough to support that.

[2020-07-08 15:57] shcheklein commented on #4180
@ramank775 hi! what platform are using in your org? Also, have you considered using `pip`, `snap`, `brew`, `conda` options as a workaround?

[2020-07-08 17:10] efiop commented on #4180
For the record: for deb/rpm/exe packages we need https://github.com/iterative/dvc/issues/936

[2020-07-09 00:49] shcheklein commented on #4177
I think that's already the case, right? DVC does not update itself by default? And you can pin (freeze) the version with the `requirements` file, for example, or with a script that installs a specific version. Except `snap` it doesn't force any updates, as far as I know.

It looks like it can be mitigated with an opt-out option, wdyt?

[2020-07-09 01:03] imflash217 commented on #1376
I am having the same issue while using it with Google Drive and DVC version 1.1.7

Any resolution for this. Please

[2020-07-09 01:39] efiop commented on #1376
@imflash217 Please share full log. And also `$ dvc version` output, please :slightly_smiling_face:

[2020-07-09 01:47] xnutsive commented on #4158
Pawel, you assumed that file names won’t be “clear”. I agree that generating and adding a bunch of files to the repo, if it’s unclear what their names or content are about, is a bad practice.

However, no one is suggesting that. On that matter, timestamp format won’t work since it’s not readable, date and time would be in a different, human readable format.

The names should be unique, no plots fi

[2020-07-09 02:37] WestXu opened #4184 "dvc status always mark a param as changed"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

`dvc status` always gives me a "changed deps", when there isn't one. dvc commit / repro doesn't help.

[code]

Here is the content of my `params.yaml`:
[code]

Here is the related content of my `dvc.yaml`:
[code]

So there are at least 2 problems here:
1. `dvc

[2020-07-09 10:04] skshetry commented on #4184
Issue is that we are skipping false values:

https://github.com/iterative/dvc/blob/0899b277c02082ffc24bb732e8a7cf3ef4333948/dvc/dependency/param.py#L49

Should only have been:
[code]

[2020-07-09 10:07] pared commented on #4158
@xnutsive I think that readability of date makes users' life easier only till he has just a few plots.
after `ls-ing`
`plot-10.04.2019 11:30, plot-10.04.2019 11:33, plot-23.04.2019 08:30` and few more, it will be easier just to remember what revision we wanted to check,  and rerun `dvc plots diff` rather than look for the plot we wanted to see.

The date is detached from content, and that is why s

[2020-07-09 16:06] amarburg commented on #2466
We also have a use case:  We are currently running multiple (redundant, mirrored) remotes.    Our primary remote is on a NAS located within our offices.   Access is very fast while on the corporate network and very slow over the VPN.

To support development during quarantine, we've established a second remote on S3 ... this has medium speed, but is globally available.  I don't intend for this repo

[2020-07-09 16:08] gcoter opened #4186 "[Remote SSH] Add a parameter allow_agent"
Hello,

For some reason, when I use `dvc pull` or `dvc push` with an SSH remote, sometimes I get an error like this:
[code]

This is only on one specific machine that I use. On other machines, I don't have this problem.

To fix it, I have to give the parameter `allow_agent=False` to paramiko. If I edit manually the line https://github.com/iterative/dvc/blob/master/dvc/remote/ssh/__init__.py#L148 t

[2020-07-09 18:12] efiop commented on #4186
@gcoter Sounds good! Let's do that!

Unfortunately, we don't have the capacity for this right now as well :slightly_frowning_face: So it might have to wait until someone has time for it.

[2020-07-09 18:14] efiop commented on #4186
@gcoter Btw, i think you can already do that using your ssh config:
[code]

[2020-07-09 18:29] #4184 closed

[2020-07-09 18:32] shcheklein commented on #2466
@amarburg thanks for the request! The only thing I want to clarify is your workflow with NAS. You use it at as remote (`dvc remote add ...`), but have you seen the [Shared Dev Server](https://dvc.org/doc/use-cases/shared-development-server) scenario? I wonder if a shared cache scenario fits better in your case when you use NAS. You don't have to use dvc push/pull in those cases at all or use them

[2020-07-09 18:53] honnibal commented on #4177
Yes but you've made this workflow really unpleasant. Every execution comes with a large notification that the user doesn't want to see and can't disable. And this on top of the "support" message every time you type a path wrong, again which can't be disabled. And then every time you install it in a new virtualenv, you have to remember the config command to disable the analytics. All of this feels

[2020-07-09 22:31] efiop commented on #4177
So to summarize: we'll introduce a config option to disable update checks/notifications and will cleanup the "need help" messages (https://github.com/iterative/dvc/issues/4126). Thanks for the feedback!

[2020-07-09 22:32] efiop commented on #4177
Closing in favor of https://github.com/iterative/dvc/issues/1894

[2020-07-09 22:32] #4177 closed

[2020-07-10 03:56] efiop commented on #4167
For the record: seems like we have a very similar problem with hdfs, where we always pass `/path` to pyarrow, but it actually supports `path` too, but uses what seems to be `/user/efiop` for that. Will need to take a closer look at it as well.

[2020-07-10 04:22] efiop commented on #4182
Hm, not able to reproduce. @skshetry Could you give it another try, please?

[2020-07-10 05:03] xnutsive commented on #4158
Makes sense. Also, we can't really use HEAD in names or content since it's dynamic?

Nate
(650) 933-7237

On Thu, Jul 09, 2020 at 3:07 AM, Paweł Redzyński < notifications@github.com > wrote:

[2020-07-10 09:43] pared commented on #4158
Yup, probably short sha would be a better idea.

[2020-07-10 11:01] honnibal commented on #4177
Thanks!

[2020-07-10 11:33] villasv opened #4187 "Add checks for files with read permissions too narrow"
This is not a problem I perceived directly, but got as feedback from the data science team.

Let's say someone on the team mistakenly ran `dvc repro` with `sudo`, generating output files that have strict read permissions. This person then pushes the hashes to git remote and the files to dvc remote. Now the rest of the team can't reproduce the pipeline without sudoeing out the wrong permissions fir

[2020-07-10 15:35] amarburg commented on #2466
@shcheklein thanks, I had not seen that before, and it would be of benefit when we're all working on the machines which NFS-mount the NAS.    In general, though we're distributed across enough workstations (even when all in the office) that I don't think we'll ever get away from having a remote.

[2020-07-10 18:38] #4054 closed

[2020-07-10 19:20] jackspitts opened #4188 "dvc get --rev doesn't work if master is not a dvc repo"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

Discord link with all info

https://discordapp.com/channels/485586884165107732/485596304961962003/731227119954427904

[2020-07-10 19:23] jorgeorpinel opened #4189 "status: change "changed checksum" state to "changed command""
## Report

The _changed checksum_ status (which only applies to .dvc files, mostly for backward compatibility purposes) should be called something else probably, maybe _changed command_. Something that reflects better what the change or state is.

### Please provide information about your setup

DVC 1.1

[2020-07-10 19:24] jorgeorpinel commented on #4189
P/s addressing this will imply a small change to the `status` cmd ref in the docs.

[2020-07-10 19:48] efiop commented on #4188
For the record: the issue is that in external repo we operate on virtual trees(we don't checkout to the branch), but we still read config through regular open() calls, which is causing this issue. Need to make our config use repo's `self.tree` to read/write configs.

[2020-07-10 20:04] imflash217 commented on #1376
Hi @efiop ,
please find below the log and version.
My data directory has a folder `data/doppler/*.wav` with multiple wav files. I want to track all wav files in this `doppler` directory.

<img width="1440" alt="Screen Shot 2020-07-10 at 4 00 17 PM" src="https://user-images.githubusercontent.com/12234745/87193417-abceee80-c2c6-11ea-90fd-f640c22d1a5e.png">
<img width="1440" alt="Screen Shot 2020-07-

[2020-07-10 21:27] jorgeorpinel opened #4191 "status: support outputs as targets [qa]"
## Bug Report

UPDATE: Jump to https://github.com/iterative/dvc/issues/4191#issuecomment-657106691

---

Looks like `dvc status` is recursive by default now (maybe always was) from some testing I just did:

[code]

1. So it's really just useful to limit the status to specific directories (not really about recursion).
2. Why not just support dirs AND FILES as `targets` of the command, like all othe

[2020-07-10 23:09] efiop commented on #1376
@guerrapin Looks like an unrelated issue. Could you please create a new issue for it so we could continue there? Please provide full error too with `dvc pull -v`.

[2020-07-10 23:10] efiop commented on #4191
@jorgeorpinel Non -c status just doesn't support granularity right now. It just shows status for the whole data (recursively, yes).

[2020-07-10 23:11] efiop commented on #4191
Closing in favor of https://github.com/iterative/dvc/issues/2180

[2020-07-10 23:13] efiop commented on #4191
To clarify:

It does support files as targets, but not files(or subdirs) in tracked directories (this is what -c/push/pull/etc support).

[2020-07-10 23:16] efiop commented on #4189
There is no command in `.dvc` files created by `add` and `import[-url]`. So current `changed checksum` still makes sense.

[2020-07-10 23:22] efiop commented on #4187
Hi @villasv !

Long time no see :wink:

I suppose they are using local or ssh remote, right? Or are they using shared cache dir?

[2020-07-11 09:28] ramank775 commented on #4180
We are mainly using Windows/Linux as development machine.

[2020-07-11 13:03] efiop commented on #4180
@ramank775 Have you considered using pip or conda packages?

[2020-07-11 14:06] nik123 commented on #4090
The implementaiton of it seems quite straightforward. May I pick it up?

[2020-07-11 18:19] jorgeorpinel commented on #4191
@efiop so is this a bug? 👇

[code]

[2020-07-11 18:21] jorgeorpinel commented on #2180
Once this is implemented, I recommend we deprecate the -R/--recursive option. As `status` seems to be recursive already, so just using a dir as target would suffice (full context: https://github.com/iterative/dvc/issues/4191).

[2020-07-11 18:26] jorgeorpinel commented on #4189
OK. But .dvc files no longer store their own checksums, right? Also, the term we use is "file hash" or sometimes "hash value". `checksum` was deemed inaccurate, and refers only to HDFS external deps/outs now.

P/s I opened this issue per your https://github.com/iterative/dvc.org/pull/1384#issuecomment-656381385, Ruslan 🙂 so up to you if you want to close it.

[2020-07-11 19:41] efiop commented on #4191
@jorgeorpinel Yes, looks like a bug. Reopening. Thanks!

[2020-07-11 19:43] efiop commented on #4189
`dvc import[-url]`ed do store checksums.

[2020-07-11 19:45] #4189 closed

[2020-07-11 19:46] efiop commented on #4090
@nik123 Sure! Thank you so much for looking into it! :pray:

[2020-07-11 20:11] melkiga opened #4193 "Upgrade DVC on Ubuntu 18.04 Deb Repository Install"
## Bug Report (Short Story)
I've installed DVC on my work server using the `deb` package from [here](https://github.com/iterative/dvc/releases/download/1.1.7/dvc_1.1.7_amd64.deb), but want to be able to upgrade when a new version is released. I followed the instructions [here](https://dvc.org/doc/install/linux) in the repo section, and when I run `sudo apt update` I receive the following.

[code]

[2020-07-11 20:59] efiop commented on #4193
Hi @melkiga !

Thank you so much for the feedback! Looks like we had some issues with our repo permissions. We've adjusted that and it should be working fine now. Could you please give it a try and let us know how it goes?

Thanks,
Ruslan

[2020-07-11 21:01] melkiga commented on #4193
Thank you for the quick response!
Unfortunately I still get the following:

[code]

[2020-07-11 21:02] efiop commented on #4193
Oops, sorry, still not quite resolved. Looking into it...

[2020-07-11 21:04] melkiga commented on #4193
Not sure if this helps:
If I open this link `https://dvc.org/deb/dists/stable/InRelease` in my browser, I get redirected to this `https://s3-us-east-2.amazonaws.com/dvc-s3-repo/deb/dists/stable/InRelease` with this as the page contents:

[code]

[2020-07-11 21:07] efiop commented on #4193
@melkiga Yeah, `InRelease` file doesn't exist (and it never did, not sure why apt is trying to access it at all), investigating...

[2020-07-11 21:16] efiop commented on #4193
Ok, looks like this might be the cause https://github.com/krobertson/deb-s3/issues/137 . Investigating why it is not generated already...

[2020-07-11 21:44] jorgeorpinel commented on #4191
OK. Note on docs:

- [ ] Move granularity note from **Remote comparisons** example to **Simple usage** when this is fixed.

[2020-07-11 23:02] jorgeorpinel commented on #4191
Never mind. I'll make a separate example now.

[2020-07-12 00:33] efiop commented on #4193
@melkiga Sorry for the delay. I've added a dummy signature for now to make it comply. Could you please give it another shot? It could complain about it not being able to verify gpt signature, but it should work fine for now.

[2020-07-12 00:37] melkiga commented on #4193
No issues about the delay, this isn't a blocker for me :-)
OK so I ran the following:

[code]

and got the same result:

[code]

Could this be an issue from my end?

[2020-07-12 00:42] efiop commented on #4193
@melkiga Hm, that's strange. That file is available right now. Maybe it didn't yet update in your region, let's wait a few minutes and then try once more. Thank you for the feedback! :pray:

[2020-07-12 00:45] melkiga commented on #4193
No issues! Thanks for the quick response. I'll wait about 20 more minutes and try again. Worst case we can leave it till tomorrow and I can try then and report back.

[2020-07-12 03:45] #4188 closed

[2020-07-12 04:19] PuneethaPai opened #4194 "TLDR for DVC [https://github.com/tldr-pages/tldr]"
Can we think of creating TLDR for dvc and all it's sub commands??
---

[TLDR cmd](https://github.com/tldr-pages/tldr):
Given a command tldr gives list of it's comman usage pattern to get started quick.

### For example: GIT _which is closest to dvc_:
[code]

[code]

[code]

[2020-07-12 04:20] PuneethaPai commented on #4194
Happy to give it a shot, if makes sense. :)

[2020-07-12 04:26] weekly-digest[bot] opened #4195 "Weekly Digest (5 July, 2020 - 12 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 25 issues were created.
Of these, 13 issues have been closed and 12 issues are still open.
## OPEN ISSUES
:green_heart: #4193 [Upgrade DVC on Ubuntu 18.04 Deb Repository Install](https://github.com/iterative/dvc/issues/4193), by [melkiga](https://github.com/melkiga)
:green_heart: #4192

[2020-07-12 04:38] efiop commented on #4188
@jackspitts 1.1.9 is out with the fix. Please upgrade and give it a try :slightly_smiling_face: Thanks for the feedback!

[2020-07-12 13:37] #4195 closed

[2020-07-12 13:38] efiop commented on #4194
@PuneethaPai Looks very cool! Sure, please feel free to give it a shot! :pray:

[2020-07-12 15:08] gcoter commented on #4186
Hi @efiop, thanks for your answer! I tried to modify `ForwardAgent` but it doesn't seem to work in my case...

[2020-07-12 15:09] gcoter commented on #4186
I will try to make the PR myself

[2020-07-12 17:15] efiop commented on #4186
Might be that paramiko doesn't read it by itself from ssh config and we need to extract it ourselves (luckily there is `user_ssh_config` logic already in the code). Both ways would be a good solution, but probably I would first try to use `user_ssh_config` and then consider introducing an in-dvc config option, just because it is a much better known mechanism that people might already use. But we w

[2020-07-12 19:03] gcoter commented on #4186
@efiop Actually, I managed to add a parameter `allow_agent` and I could make a PR (it was easier than I thought) :) But I understand that using the user's ssh config is a good approach as well. Would it be easy to implement your idea? What do you prefer, should I make a PR with what I have?

[2020-07-12 19:20] utkarshsingh99 opened #4197 "dvc add: .dvcignore example not working as expected [qa]"
![Screenshot from 2020-07-13 00-44-27](https://user-images.githubusercontent.com/32031518/87254720-299b2180-c4a2-11ea-9bb6-d4a67ff4e502.png)

I was following this [example](https://dvc.org/doc/command-reference/add#example-dvcignore) and it does detect changes in the file in dvc.

DVC Version: 1.1.9 (virtualenv)

I'm not sure if this is a bug in the .dvcignore feature of DVC itself, or rather just

[2020-07-12 20:09] mihajenko commented on #1696
I use FTP+curl to provision models to persistent volume as part of a prototype pipeline for inference APIs. We are planning a transition to cloud services so this isn't a problem for me personally, but I do feel like FTP is one of the easier ways to setup on-prem. There are also plenty of cheap storage services using FTP, benefiting those with limited resources.

[2020-07-12 20:49] efiop commented on #1696
Hi @mihajenko !

Thank you for your comment! :slightly_smiling_face: If anyone needs FTP specifically, we will be happy to accept a patch for that (it is extremely easy to create it, but we really need active users so it is not a dead feature). Also, if someone is interested in this feature but is not willing to contribute, please leave a comment here, so we know there is interest and could consid

[2020-07-12 20:58] efiop commented on #4186
@gcoter It is actually extremely easy to implement. Here we have `ProxyCommand` support

https://github.com/iterative/dvc/blob/71c478755399b049101ab9400e7f48dda2a47597/dvc/remote/ssh/__init__.py#L90

so all you need is just

[code]

and just pass it to the connection.

We would be happy with any approach that you actually will use :slightly_smiling_face: But I feel like the proper way is to indeed

[2020-07-12 21:22] shcheklein commented on #4197
@pared could you take a look and confirm is it an example or DVC core problem?

[2020-07-13 06:30] philipperemy opened #4198 "Brew install/upgrade dvc overwrites current version of python3"
I'm running on MacOS with python3.7.

When running `brew install dvc` or even `brew upgrade dvc`, my python was changed to python3.8 and it broke all my other virtual environments.

Not really a bug here but should be more careful about brew and forcing a python version.

[code]

[code]

[2020-07-13 06:32] philipperemy commented on #4198
So please if you are suggesting for upgrade, do not force the update of python3! :)

[2020-07-13 06:37] ramank775 commented on #4180
` So are you using exe and deb/rpm packages right now?`
- yes

We have a review process for any tools before we can actually use it. The team has blocked the tool by reviewing the official website and the recommended method is exe and binaries. I will try to reach out to them for alternative methods but not very sure if they approve them or not.

[2020-07-13 06:48] efiop commented on #4198
@philipperemy IIRC homebrew guys updated it to 3.8 for us: https://github.com/Homebrew/homebrew-core/commit/bc452dce13767a10c673ef442fd8ff3c9d0dc8e7 because they are migrating to 3.8 by default. Looking through the formulas, all of them depend on 3.8, so this is a homebrew policy that we can't really do much about :slightly_frowning_face:  If you need very specific python version, I would suggest

[2020-07-13 08:13] philipperemy commented on #4198
Oh I see then nothing to do... Just to keep in mind!

[2020-07-13 08:13] #4198 closed

[2020-07-13 09:00] pared commented on #4197
So the problem of `file1` getting added to cache, even though it is ignored is related to: https://github.com/iterative/dvc/issues/4110 and https://github.com/iterative/dvc/pull/4125
taking care of it.

[2020-07-13 09:22] pared commented on #2180
I agree with @shcheklein. We could probably set some small default threshold of files to show (like 5, to not pollute the terminal) and add option to show all changes.
 In case of default dir `status` I wouldn't display it as `file` -> `status` mapping, but rather
`status` -> `list of files with that status` just to save some space (in case of explicit `show-all-changes` it makes more sense to me

[2020-07-13 11:37] dreaquil commented on #4121
After discussions, this is likely being cause by too many jobs flooding the connection causing timeouts. I was told by @pared that the current default num jobs if 4*num_cores. I believe this is too high as a default and should be reduced to approximately num_cores.

@efiop  Sorry, I forgot to add the verbose logging. but reducing to 1 job resolved the issue in both instances.

[2020-07-13 11:57] pared commented on #4121
I agree that in some cases, current defaults might be too much. Though, as I recall they have been set so, because of users complaining on slow upload/download.

[2020-07-13 12:46] villasv commented on #4187
IIRC they're using a combination of shared cache dir and s3 remotes, but mostly S3. Does pushing/pulling the file to to/from S3 remote unset those permissions?

[2020-07-13 14:13] jackspitts commented on #4188
@efiop Upgraded and `dvc get --rev` works like a charm. Thanks for the quick turn around!

[2020-07-13 15:25] pmrowla commented on #4198
For future reference, this is because homebrew changed their default python version from 3.7 to 3.8 last week (and is unrelated to the DVC brew package)
https://github.com/Homebrew/homebrew-core/pull/54912

[2020-07-13 15:33] efiop commented on #4121
@dreaquil Thanks! And thanks to @pared for investigating.

@dreaquil So is this azure that you are using? Could you provide full log, please?

We clearly shouldn't reduce the number of jobs, but should either dynamically determine them (a lot of pre-requisites to it like https://github.com/iterative/dvc/issues/4050 ) or, what I suppose is the real cause, dynamically determine the upload chunk size

[2020-07-13 16:29] haberdashPI commented on #4176
Great thank you for the pointers!

Yes, I understand the data I stored in OSF using dvc would not be very human readable. However, you've done a good job documenting the format the data is stored in, so I think as long as I copy the documentation to my OSF repository that it would work pretty well for my purposes.

I am a bit busy at the moment, but hope to get to working on and submitting a PR in

[2020-07-13 17:20] #4090 closed

[2020-07-13 17:26] efiop commented on #4187
@villasv Yeah, s3 doesn't preserve the regular fs permissions, so the issue is clearly on the cache dir side. Also, I wonder if they use `dvc  config cache.shared group` setting?

[2020-07-13 17:38] villasv commented on #4187
If it's not default, probably not. My bet is on the "attempting to change protected files" side. I'm going to leave the feature suggestion if it can be useful for people using the shared cache settings.

[2020-07-13 17:52] jorgeorpinel commented on #4191
Another related question: `dvc repro` also has `targets` but only accepts stage and .dvc file names, right? (Otherwise, `-R` would also seem obsolete there.)

[2020-07-13 18:54] efiop commented on #4191
@jorgeorpinel `-R` is not obsolete, it searches recursively for dvc files. But when you specify target explicitly, it finds 1 dvc file that it belongs too, so it is not the same.

[2020-07-13 19:21] jorgeorpinel commented on #4191
OK thanks. So `dvc repro` also supports tracked files and thus granularity already? Will double check and include in #1384 then.

[2020-07-13 19:24] efiop commented on #4191
@jorgeorpinel tracked files and granularity is not the same thing. When we were talking about push/pull we were talking about being able to pull specific file (or subdir) in a tracked dataset (`dvc add data_dir`). In case of repro we support addressing stages by outputs, which is a different thing.

[2020-07-13 19:31] jorgeorpinel commented on #4191
Got it. So I think we need to clarify when file/dir targets support granularity and when they don't, after all. I'll add a note in all the sync-related ones (in #1384) both in the description and in **Specific target** examples.

[2020-07-13 21:41] jorgeorpinel commented on #2180
With pagination?

Agree. I think we do this in other commands already like metrics/params show/diff? And other output

[2020-07-13 21:53] pared commented on #2180
I would refrain from that in the default case. By default, I think it's better to "show the status of dir, but if it's small enough, we can go for particular files" rather than make user interact with it.

Yes, we do, I was just referring to @MikkelAntonsen example.

[2020-07-13 23:35] dmpetrov commented on #2982
In addition to this... it seems like missing cache files are not handled properly:

[code]

Ideally, DVC should get the difference without cache by using just metafiles. An exception is data dirs (from cache). Data dirs should be pulled automatically during `dvc diff` (if there are no special options provided).

[2020-07-13 23:41] dmpetrov commented on #2982
Related to this issue - we should store file size in addition to hashes. It will give us an ability to show file sizes in `dvc diff`.

Actions for `dvc diff`:
- [ ] go deep into data dirs
- [ ] pull data-dir meta info by default. Lazy when diff needs it with an option to suppress dir pulling.
- [ ] store file size together with checksums (it might be a separate issue)
- [ ] display file size in di

[2020-07-14 07:47] efiop commented on #4145
So looks like nothing to do here? Or am I missing something?

For the record: if you want to disable the hooks just use --no-verify.

[2020-07-14 08:10] casperdcl commented on #4145
@efiop I think the consensus between (@shcheklein, @skshetry, and I) is to either remove or allow failures of the hook in pre-commit (but leave it in CI).

As I understand, @efiop is against this idea because:

However, the same could be said of every single non-authenticated CI/CD test. It is also not a fast test, it takes a few seconds so really shouldn't happen pre-commit. Using `--no-verify` a

[2020-07-14 08:52] efiop commented on #4145
I feel like we are mixing up topics here.

The original issue is `pre-commit` failure, which, as described above, is not nice, but an intended way of using it. I see @casperdcl suggested using init hook in https://github.com/iterative/dvc/pull/4146#issuecomment-652552793 , which looks like the proper way to solve it. @skshetry could you take a look, please?

The second issue that came up is pylint

[2020-07-14 09:07] efiop commented on #4193
@melkiga Any luck? :slightly_smiling_face:

[2020-07-14 10:53] efiop commented on #4182
For the record: discussed with @skshetry and turns out it is python 3.6. So my hack in https://github.com/iterative/dvc/blob/master/tests/utils/httpd.py#L15 doesn't work. Looking into it.

[2020-07-14 11:54] #4182 closed

[2020-07-14 12:04] efiop commented on #3902
Closing since there isn't much we can do on our side.

[2020-07-14 12:04] #3902 closed

[2020-07-14 12:08] efiop commented on #2708
Closing as stale. HDFS supports such files, and provides built-in checksum, so dvc uses it with external outs/deps (though there are some limitations like checksum not being a hash).

[2020-07-14 12:08] #2708 closed

[2020-07-14 12:10] #4081 closed

[2020-07-14 12:10] efiop commented on #4081
Closing as stale

[2020-07-14 12:10] casperdcl commented on #4145
Not sure about the "DVC hook taking the longest" though - on my machine pylint it much slower; maybe that's just me.

[2020-07-14 12:10] #4085 closed

[2020-07-14 12:12] efiop commented on #4164
@dldx Any updates?

[2020-07-14 16:33] jorgeorpinel opened #4202 "list: granularity not working [qa]"
## Bug Report

[code]

- [ ] Also, the error message could be friendlier (the part about `target repository 'ExternalRepo...`).

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.

[2020-07-14 16:35] skshetry commented on #4145
I don't like that approach/hack, it's far easier to pre-activate virtualenv. And, it does not solve the issue, it still needs
all of the tests dependencies to be installed.

The possible ways to solve this are:
1. Remove `pylint` from pre-commit altogether.
2. Create a wrapper script that'd be a no-op if `pylint` is not installed.
3. Do nothing, maybe, add a guide to how-to run `pylint` in contrib

[2020-07-14 16:37] jorgeorpinel opened #4203 "Repo cache?"
DVC clones the `url` repo whenever `list`, `get`, or `import` are used. This is done over and over again — particularly noticeable when browsing files with `dvc list`. Sometimes this takes a while, depending on the repo.

What about a mechanism to store cloned repos somewhere in the user files? I think a user-wide cache would be appropriate (instead of project-wide).

[2020-07-14 16:39] efiop commented on #4202
Inconsistency with dvc and git files. Will fix. Thanks for the report! :pray:

[2020-07-14 16:40] skshetry commented on #4203
We already have an opened issue regarding this on https://github.com/iterative/dvc/issues/3496.

[2020-07-14 17:20] shcheklein commented on #4129
@efiop do we have a ticket to update docs for this? is it needed?

[2020-07-14 17:56] Cortysus opened #4205 "`dvc commit` fails with files imported via `dvc import`"
## Bug Report
Hello! I am importing some files in my main repo from another repo using the command `dvc import`.
Upon running `dvc commit` afterward, I get the following error (output of `dvc commit -v`):

[code]
If I perform `dvc add` on the files imported (effectively "pinning" them to the main repo) the error disappears and the command executes successfully.

As a workaround, adding the followi

[2020-07-14 18:08] casperdcl commented on #4145
I was thinking about option (2) as well; sounds reasonable?

[2020-07-14 18:20] danfischetti opened #4206 "Daemon fails when `dvc` is called via a wrapper script."
## Bug Report

Currently, our build system is managed with [nix](https://nixos.org/) , which stores python packages in a non-standard directory structure. To manage this, as part of the installation process, nix will wrap any executables provided by a package in a wrapper script which sets up the proper environment for that script.

The issue is that the daemon (which is trying to start the update

[2020-07-14 19:39] #4202 closed

[2020-07-14 20:09] efiop commented on #4206
Hi @danfischetti !

The argv[0] issue is https://github.com/iterative/dvc/issues/4165 .

Updater related to https://github.com/iterative/dvc/issues/1894 , might've been a good enough workaround if we had it, but we don't :slightly_frowning_face:

We'll take a closer look ASAP and will get back to you. Thanks for the feedback!

[2020-07-14 21:49] efiop commented on #4129
@shcheklein I don't think we ever describe the creds priorities (e.g. with s3) and this is expected behaviour, so no, there is no ticket for azure specifically nor for everything. I don't think we've ever received confused questions about working remotes, so probably not worth the time for now to go that extra mile to describe it in our docs.

[2020-07-14 21:51] efiop commented on #4145
Noop is too dangerous, people will just ignore it. Could try to improve the message, but I'm not sure if it could help much, since it is descriptive already. If not that and there is no better option, I would just leave it as is for now.

[2020-07-15 06:49] jorgeorpinel commented on #4085
Cool. Is there an issue somewhere about `dvc stage` specs/ design? To note this 🙂

[2020-07-15 07:23] pared commented on #3869
@efiop I think we should keep this issue open. There have been a lot of optimizations done, but from original @Suor comment, first 2 issues are still present.

[2020-07-15 07:48] pared commented on #4145
I think no-op would be frustrating for contributors -> silent pass just to fail on PR, each time we have new python env.

[2020-07-15 08:30] pared commented on #4205
reproduction script:
[code]

[2020-07-15 13:51] dmidge8 commented on #4139
Hi,
Does this mean that this issue is now put on hold?
Thanks

[2020-07-15 14:05] charlesbaynham commented on #4205
Also getting this. Here's my error logs:
![image](https://user-images.githubusercontent.com/4397637/87554701-5d499780-c6ac-11ea-96aa-80a74a9cf84d.png)

Seems related to the db query at https://github.com/iterative/dvc/blob/bbb1c59df2a289332d13baf7ac9fb2c54b72b5ac/dvc/state.py#L345-L356

[2020-07-15 14:07] pared commented on #4139
@dmidge8 regretfully we don't have capacity to take care of this issue during this sprint. We do not intend to abandon it but we need to postpone it. So, yes, it is put on hold as of today.

[2020-07-15 14:09] charlesbaynham commented on #4205
I'm on Windows 10, installed via pip. I notice @Cortysus is migrating from pre-1.0, as am I: could be related?

[2020-07-15 14:37] efiop commented on #4139
So to clarify about what is going on here: `status` stage in `push` analyses present hashes by loading locally present hashes and remote ones and comparing them in memory, which seem to take a lot of memory (iirc user has ~8G of RAM present) and then we start uploading and use a bit more ram which results in user running out of RAM. So far doesn't look like we are leaking memory, but we could defi

[2020-07-15 14:41] #2417 closed

[2020-07-15 14:44] #2210 closed

[2020-07-15 14:45] efiop commented on #4085
@jorgeorpinel I don't think we have a particular ticket for it, it is just in the discussion stage.

[2020-07-15 14:47] efiop commented on #4145
Ok, so looks like "do nothing" is the choice for now. Closing.

[2020-07-15 14:47] #4145 closed

[2020-07-15 14:57] pared commented on #4205
@charlesbaynham does your repo contain `import`-ed assets? If so, could you install dvc from https://github.com/pared/dvc/tree/4205_commit_imported and see if the issue is still present?

[2020-07-15 15:03] charlesbaynham commented on #4205
@pared That's pretty much all it contains: some imported from DVC registries and some from git repositories. I'll give it a shot

[2020-07-15 15:06] charlesbaynham commented on #4205
@pared Yes that seems to sort it out!

[code]

[2020-07-15 15:07] pared commented on #4205
@charlesbaynham thank you very much for checking, seems like it might be the solution, need to wait for reviews, as I might be missing something.

[2020-07-15 15:37] efiop commented on #3869
@pared Oops, closed by accident.

[2020-07-15 16:28] jorgeorpinel commented on #4203
OK so this is a dupe! Thanks

[2020-07-15 16:28] #4203 closed

[2020-07-15 16:30] jorgeorpinel commented on #3496
What about a repo cache at the user level? Could be a system config var so you can disable it, like analytics.

[2020-07-15 19:05] jonilaserson opened #4210 "Back-fill metrics"
Say I am maintaining some data using dvc, and at some point decide I want to have a metric showing some data statistics (i.e. track how many positive samples I have). So I create a pipeline that computes this metric.  How do I back-fill it to previous commits?  The goal is to plot a graph showing this metric at different stages of the project.

Specifically: If the commit history is A->B->master,

[2020-07-15 19:55] jorgeorpinel opened #4211 "metrics diff: accept multiple revisions (like plots diff)"
Context: https://discuss.dvc.org/t/fill-back-metrics/441

[2020-07-15 20:11] MatthieuBizien opened #4213 "Allow pipeline to create pipeline"
Like #3549 say, "A run of a pipeline is like a function call". Based on that analogy, we can't right now call a function from another function: `f(g(x))` doesn't make any sense for the current dvc model. As discussed in #331, it would allow to use very flexible workflows by allowing to dynamically created pipelines.

Some potential applications:
- Incremental processing of dynamically generated fi

[2020-07-16 00:58] imflash217 commented on #1376
Thanks @efiop,
I will create a new issue. Btw, here is the result of `dvc pull -v`

[code]

[2020-07-16 02:54] skshetry commented on #4213
Without the generation overhead, we could introduce `depends_on` key in `dvc.yaml`, but it might not be straightforward,
as we create a pipeline based on relationship of outputs-dependencies which might easily create cyclic graph.

[code]

[2020-07-16 04:42] efiop commented on #1376
@imflash217 yes, clearly you are using gdrive remote. Is it unexpected?

[2020-07-16 05:03] HaddocktheHorrible opened #4218 "dvc gc remove <datafile-or-dir>"
This has already been mentioned a few times in #2325 but wanted to draw attention again to this aspect specifically:

Since `dvc pull` and `dvc fetch` allow for granular selection of `targets` it would be very helpful to be able to use `dvc gc` to remove those same `targets` from cache once we are done with them. In my case specifically, I have a few semi-independent datasets I would rather avoid

[2020-07-16 05:15] pmrowla commented on #4210
More context: https://discuss.dvc.org/t/fill-back-metrics/441/3

[2020-07-16 06:10] dmpetrov commented on #4211
It should be a separate command like `dvc experiment show HEAD HEAD^ ab3132d`
It might be a part of #2799

[2020-07-16 11:42] #4205 closed

[2020-07-16 15:02] imflash217 commented on #1376
No. I have setup gdrive as remote intentionally.

[2020-07-16 15:10] imflash217 commented on #1376
@efiop , Seems like the issue might be because unintentionally my Mac system create an **empty file** called `Icon` and DVC was tracking that but `gdrive` failed to track it as it was empty & hence during `dvc pull` DVC could not pull the Icon file as it was not in my gdrive remote. Let me test this and see if I am correct.

[2020-07-16 16:46] jorgeorpinel commented on #4211
Will metrics and plots be combined into that single command?

[2020-07-16 20:03] #4110 closed

[2020-07-16 20:03] #4197 closed

[2020-07-16 23:22] shcheklein commented on #3341
Similar problem - https://discordapp.com/channels/485586884165107732/485596304961962003/733450578138759268 ... and we do extra copy which is not nice

[2020-07-16 23:52] efiop commented on #2872
Fixed with the new docker fixtures.

[2020-07-16 23:52] #2872 closed

[2020-07-17 02:11] efiop commented on #4211
@jorgeorpinel Yes, in the experiments.

[2020-07-17 04:00] maricatovictor opened #4223 "Make `dvc pull --run-cache` allow `targets` for a granular pull process"
Right now, if I do

`dvc pull [target]`
this will pull *only* the `target` I am interested in.

However, if I do `dvc pull --run-cache [targets]`
the `target` is ignored, *everything* is pulled from remote. Not even a warning is thrown that `--run-cache` does not accept granularly pulling files.

This is based on https://discuss.dvc.org/t/dvc-pull-run-cache-target/444 discussion

[2020-07-17 04:15] skshetry commented on #3341
@shcheklein Yes, I think eventual consistency is to blame for that too. Our S3 tests have been failing similarly for quite a while now (probably not these days as we migrated to `moto`).

Another thing to note that the following is not guaranteed in S3 (emphasized), for which I think, we do quite often for external outputs:

[2020-07-17 04:19] shcheklein commented on #3341
If we can confirm that, then it means that wrapping at least certain operation into @retry should help. (And also remove that extra copy after all! :))

[2020-07-17 04:20] efiop commented on #4223
For the record: `--run-cache` flag is just a temporary solution and is not meant to accept targets. We will likely just support `dvc pull target` that will then somehow look into the run-cache by itself and pull by itself or suggest a hint on how to do it. run-cache is really an implementation detail that should be hidden away. We need to take a closer look at this.

[2020-07-17 04:24] maricatovictor commented on #4223
Oh, ok. Is there any kind of estimative on this being prioritized?

As described in the forum, I was planning to use `--run-cache` as a workaround for deploying models, but the lack of targets selection makes it impossible.

[2020-07-17 08:32] sebranchett opened #4227 "pipeline getting started documentation and katakoda don't match"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**
On Katakoda: dvc --version gives 1.1.11
On Windows 7 installed via Anaconda in git bash: dvc --version gives 0.93.0

[code]

and

[code]

**Additional Information (if any):**
In your Katakoda environment: https://katacoda.com/dvc/courses/get-started/pipelines
the steps described in the left panel do not ru

[2020-07-17 09:00] pared commented on #4227
@sebranchett Thank you for pointing that out! AFAIK we had an issue for migrating katakoda tutorials to 1.0.
@shcheklein can you provide some more context on that? I am unable to find the related issue.

[2020-07-17 09:04] pared commented on #4205
@charlesbaynham @Cortysus, fix has been merged, release with this issue fixed should be available soon.

[2020-07-17 09:05] pared commented on #4197
@utkarshsingh99 The fix for this issue has been merged. New release should be available soon.

[2020-07-17 09:05] charlesbaynham commented on #4205
Fantastic, thank you: I'll look out for it!

[2020-07-17 09:06] Cortysus commented on #4205
Cheers, thanks a lot!

[2020-07-17 09:12] skshetry commented on #4205
It's already available, with the magic number `1.1.11`. :smile:

[2020-07-17 10:24] jonilaserson opened #4228 "DAG with more structured dependencies per stage"
Say I have a million files in the directory `./data/pre`.

I have a python script `process_dir.py` which goes over each file in `./data/pre` and processes it and creates a file in the same name in a directory `./data/post` (if such file already exists, it skips processing it).

I defined a pipeline:
[code]
Now let’s say I removed one file from `data/pre`.

When I run `dvc repro` it will still unne

[2020-07-17 13:15] skshetry opened #4230 "hdfs tests failing"
## Bug Report

`hadoop` fixture is failing on my machine.

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**
<details><summary>TRACE</summary>
<p>

[code]
</p>

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.

[2020-07-17 13:26] yevgenypats opened #4231 "Katacode - stages interactive tutorial"
## Bug Report

There is a bug in the stages tutorial https://katacoda.com/dvc/courses/get-started/stages, step-2 doesn't really work as
`prepare.dvc` is missing and probably dvc api was changed a bit so it is also expecting `-n` parameter which is not provided.

[2020-07-17 14:37] efiop commented on #4230
Need to tweak timeout/retries.

[2020-07-17 16:27] skshetry commented on #4230
Isn't the problem because of hadoop going to safe mode:
[code]

I believe it's because of this, but not sure:
[code]

[2020-07-17 18:32] florianspecker opened #4232 "dvc move fails when cache dir is read-only"
[code]

/Volumes/dvc is a read-only NFS mount. The issue looks very similar to https://github.com/iterative/dvc/issues/3510

[code]

Background on our setup:
DVC pushes images to S3. Our dataset engineers have the .dvc/config as pasted above. The same config is used for our ML training runs that are being executed on AWS.
Our ML developers need the same datasets, and so do the ML trainings that ar

[2020-07-17 18:39] shcheklein commented on #4228
@jonilaserson looks like a duplicate of this one https://github.com/iterative/dvc/issues/331 ? And there are some suggestions how to fix this - https://github.com/iterative/dvc/issues/4213 . Could you please move your excellent comment to one of those tickets please?

[2020-07-17 18:41] shcheklein commented on #4231
Closing this a duplicate https://github.com/iterative/dvc.org/issues/1586 . Sorry for the inconvenience, we are still in the process of updating our docs and tutorials after DVC 1.0 release.

[2020-07-17 18:41] #4231 closed

[2020-07-17 18:56] melkiga commented on #4193
Giving it a try now. Sorry for the late reply!

[2020-07-17 19:01] melkiga commented on #4193
Still no luck, here's what I've done:

**Ran the following**

[code]

Here is the response of `sudo apt update`:

[code]

[2020-07-17 19:09] jonilaserson commented on #4228
Indeed. Moving it there.

[2020-07-17 19:22] jonilaserson commented on #331
I hope this suggestion adds something to the above thread.
Say I have 1M files in the directory `./data/pre`, and a python script `process_dir.py` which goes over each file in `./data/pre` and processes it and creates a file in the same name in a directory `./data/post`.  e.g. `./data/pre/123.txt --> ./data/post/123.txt`

As we all know, if I define a pipeline:
[code]
then `dvc repro` will erase a

[2020-07-17 20:04] sarthakforwet opened #4233 "repro: update status message for dvc-added files"
## Bug Report

As we know that running `dvc repro` command would reproduce the stages defined in `dvc.yaml` file. One thing we also know that `.dvc` file can be used as the beginning of a pipeline. If we consider a sample case where we have the follwing pipeline and we perform `dvc repro`.

![image](https://user-images.githubusercontent.com/46163196/87825476-d7d50b80-c894-11ea-89c8-016daa1b2e6e.pn

[2020-07-17 20:18] shcheklein commented on #4228
Closing this for now then. Thanks @jonilaserson !

[2020-07-17 20:18] #4228 closed

[2020-07-17 23:19] LarryThermo opened #4234 "Problems with dvc push"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**
I am having problems with dvc push no longer working after I upgraded to the latest dvc.

My steps in a Windows Powershell window (if it appears a little bit disjointed its because I copied and pasted the output verbatim):

You can now commit the changes to git

[2020-07-18 04:02] skshetry opened #4235 "safe `Dvcfile.dump()`"
Initially, the idea was not to touch `dvc.yaml` at all, but as we are doing it quite often, it's better to protect `dvc.lock` rather than `dvc.yaml` by default.
So, we could change it to the following default:
[code]

The only place where we need to update `lock` are `dvc repro` and `dvc run`, at least atm.

_Originally posted by @skshetry in https://github.com/iterative/dvc/pull/3994#discussion_r

[2020-07-18 04:25] efiop commented on #4193
@melkiga Interesting :slightly_frowning_face:  Are you on company's vpn/proxy or something?

[2020-07-18 04:44] efiop commented on #4234
Hi @LarryThermo . Could you please show full `dvc push -v` log?

[2020-07-18 05:33] efiop commented on #4232
Hi @florianspecker ! Could you please remove duplicated `//` from cache dir path in the config and try again?

[2020-07-18 05:36] efiop commented on #4232
@florianspecker What are the permissions on `/Volumes/dvc` btw? Is your user able to list that dir at all?

[2020-07-18 05:40] efiop commented on #4233
Hi @sarthakforwet ! Great points! The dag part is discussed in https://github.com/iterative/dvc/issues/4058 , but we do indeed need to reconsider `repro` output as well. Thank you for the feedback!

[2020-07-18 05:45] efiop commented on #4235
@skshetry Is this something that you are tackling right now(judging by the assignee)? If not, could you please elaborate a bit more? Also, please feel free to set appropriate labels.

[2020-07-18 06:37] sarthakforwet commented on #4233
Thanks @efiop.

Suggestion: We can change the output so that whenever a `.dvc` extension is detected, it would print "Deps" instead of "Stage".

Also, Can I also work on this issue and what would be the prerequisite for it? Thanks

[2020-07-18 11:21] florianspecker commented on #4232
Hi @efiop thanks a lot for getting back to me so quickly! I went through all the details again, and embarrassingly enough, I've made a mess of my different folders (the issue showed first in a folder with sensitive customer data, so I reproduced it with a less critical dataset). Sorry for that - I updated the output and config above.

Regarding permissions: /tmp/dvc-data is a NFS read-only mount.

[2020-07-18 12:05] melkiga commented on #4193
Yes, I'm on a company VPN. Do you think that's the cause? Is anyone else able to update replicate the issue?

🧐

[2020-07-18 20:04] sp7412 opened #4237 "katacoda broken"
## Bug Report

### Please provide information about your setup
Visited: https://dvc.org/doc/start and clicked on "Run in Katacoda". All the tutorials are broken.

[2020-07-18 20:16] efiop commented on #4193
@melkiga Might be, actually. Could you try this on your personal machine? I'm not able to reproduce myself nor on our test machines :(

[2020-07-18 23:41] casperdcl commented on #3439
The API has changed a bit now in v1 `dvc.yaml`...

[code]

is now simply

[code]

This complicates things a bit in terms of how to save the "filter" command seeing as we now only have a deps list rather than dict.

Can't really think of anything better than having some sort of "virtual" deps, i.e. a dep which is a command to execute and read stdout. Either:

[code]

or:

[code]

Or we can go with

[2020-07-19 00:50] melkiga commented on #4193
Going to try that now :-) I'll report back in a few.

[2020-07-19 01:28] melkiga commented on #4193
Here's what I got on my personal machine:

[code]

**Machine Info:**
[code]

[2020-07-19 04:26] weekly-digest[bot] opened #4238 "Weekly Digest (12 July, 2020 - 19 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 40 issues were created.
Of these, 25 issues have been closed and 15 issues are still open.
## OPEN ISSUES
:green_heart: #4235 [safe `Dvcfile.dump()`](https://github.com/iterative/dvc/issues/4235), by [skshetry](https://github.com/skshetry)
:green_heart: #4234 [Problems with dvc push](ht

[2020-07-19 06:56] Suor opened #4239 "`import-url --file=something.yaml ...` doesn't save stage anywhere"
The underlying issue is `PipelineFile.dump()` having unsafe design and breaking polymorphism. Here the suffix of the `--file` determines what class will be used as `Dvcfile` and while `SingleStageFile.dump()` indeed dumps the stage, `PipelineFile.dump()` does not.

This issue caused #3907 and was explained there in more detail. It may cause other undiscovered and future issues.

[2020-07-19 07:07] skshetry commented on #4239
@Suor, `import` stages are not supported for `dvc.yaml`.

[2020-07-19 07:10] skshetry commented on #4235
I'm not working right now, but something that I'd like to tackle next.
https://github.com/iterative/dvc/pull/3994#discussion_r437529134 should have enough context about the issue.

[2020-07-19 07:22] Suor commented on #4239
Nothing stops me from trying though, dvc will act surprisingly.

[2020-07-19 10:13] #4175 closed

[2020-07-19 10:17] #4238 closed

[2020-07-19 10:19] efiop commented on #4193
@melkiga GPG warning is expected, we are temporarily using one-off keys to sign InRelease https://github.com/iterative/dvc-s3-repo/issues/3 . So that warning could be ignored for now. I suppose other than that warning, the command worked fine, right?

[2020-07-19 10:47] dmpetrov commented on #3439
Good point re dvc 1.0, @casperdcl

This looks like the best option so far.

[2020-07-19 13:41] karajan1001 opened #4241 "tests failing when not using venv and behind a firewall"
## Bug Report

Four `pytests` failed

### Please provide information about your setup

**Output of `dvc version`:** 1.1.11

[code]

**Additional Information (if any):**

from https://discord.com/channels/485586884165107732/565699007037571084/734402524869820436

1. I didn't use a `virtualenv`
2. I'm behind the great girewall which blocks google.

logfile:

[logfile.txt](https://github.com/iterative

[2020-07-19 15:03] melkiga commented on #4193
Whoops, I mistook the warning for an error. I just completed my install so yes, it seems that the company VPN is the culprit.
Thanks again for helping out with this!

[2020-07-19 20:12] efiop commented on #4193
@melkiga Thank you so much for the feedback! So looks like you'll need to ping your admins to whitelist that url or, you could consider installing using a different package. E.g. `snap` or `pip`. Would the alternative packages work for you?

[2020-07-19 20:30] efiop commented on #4050
Ok, I think we are done for now. Core code is separated, but there might be some issues like https://github.com/iterative/dvc/pull/4244 which were there before this, but we weren't able to see them. We'll have to fix them as we go, especially since we are trying to use trees more and more and those bugs are getting more and more obvious.

I didn't move the tests around for now, because they are in

[2020-07-19 20:30] #4050 closed

[2020-07-19 22:31] efiop commented on #4236
Hi @pongnguy . Could you please show verbose log? Also, please provide `dvc version` output.

[2020-07-19 22:42] efiop commented on #4232
@florianspecker Nice catch! Indeed, looks like the cause. We can definitely handle it better.

As a workaround, could you create that file by-hand(contents don't matter, could even create an empty one) and try again?

[2020-07-19 22:51] efiop commented on #4233
Good suggestion, but I think we are better off using something like
[code]
:slightly_smiling_face: Especially since `.dvc` might be a legacy pipeline file.

Sure! Please feel free. Looks like you'll simply need to adjust the message in https://github.com/iterative/dvc/blob/b77ce02f6b7f66efa9fc73b7146f1c4bf4fa6da3/dvc/stage/__init__.py#L309 . Let us know if you'll have any questions. Thank you for

[2020-07-19 22:56] efiop commented on #4235
@skshetry What about labels then?

[2020-07-20 09:25] Suor commented on #3439
People will start to use it to make some external things like db state a dependency.

[2020-07-20 09:51] Suor commented on #331
@jonilaserson the discussion here circles around that in a way. Your use case is however is a subset of whatever we discuss. It also has a workaround employing an undocumented `--outs-persist` feature, see above.

[2020-07-20 10:01] charlesbaynham commented on #331
I'm using DVC for a project which processes continually produced time-series data in a series of steps. I described my use case above a little, but maybe I'll mention how I'm using it now.

My current system wraps DVC in code which produces DVC jobs based on the input data: it scans the input directories, creates a DVC file describing a job for each file that it finds unless a DVC file is already

[2020-07-20 10:38] evstratbg commented on #2363
+1 for this feature
or, any other possibilities to get notification of new files/version of files available at dvc repo?

[2020-07-20 10:41] efiop commented on #2363
@evstratbg Could you share more details about your scenario, please? :slightly_smiling_face:

[2020-07-20 10:47] evstratbg commented on #2363
@efiop sure
We currently store very large ML models in dvc. We are starting to switch to k8s and plan to build the models in a separate docker image, because the code changes more often than the models. We discussed several options for building models from dvc and it would be very convenient to build them using curl query from dvc hook. It may not be the most popular way, but we are still in the p

[2020-07-20 12:23] efiop commented on #2363
@evstratbg Hm, might be missing something, but have you considered regular git hooks? E.g. when a `.dvc`(or dvc.yaml/lock) file is being committed to git - your git pre-commit hook will send a curl query.

[2020-07-20 13:01] florianspecker commented on #4232
@efiop thanks! Sure, no problem - now `dvc move` fails when trying to remove `.cache_type_test_file`:

[code]

[2020-07-20 13:26] efiop commented on #4232
@florianspecker Thanks! So no workaround for now other than making it not read-only :slightly_frowning_face: Need to take a closer look and solve properly. Is it blocking you right now or are you able to use a non-read-only fs for now?

[2020-07-20 14:58] florianspecker commented on #4232
Our users can't switch the file system to read/write. But it's not super urgent, as there are not many move operations, and we can always move manually (i.e. move the image, move the .dvc file, remove entries in the source .gitignore, add entries to the destination .gitignore).

[2020-07-20 16:15] LarryThermo commented on #4234
Thanks for the response Ruslan.

MasuAutoFocusTraining.Simple.ManufacturingVariability.Beads> dvc push -v log
2020-07-20 09:12:12,240 DEBUG: Trying to spawn '['C:\\Program Files (x86)\\Data Version Control\\dvc.exe', 'daemon', '-q', 'updater']'
2020-07-20 09:12:18,739 DEBUG: Spawned '['C:\\Program Files (x86)\\Data Version Control\\dvc.exe', 'daemon', '-q', 'updater']'
2020-07-20 09:12:18,748 DEBU

[2020-07-20 16:26] efiop commented on #4234
@LarryThermo Thanks. Looks very strange, could you please show the contents of `model-all-00038-0.70911.ptj.dvc` ?

[2020-07-20 16:44] LarryThermo commented on #4234
Hi Ruslan,

I had to regenerate it due to wanting to put it under version control in the interim. Complete sequence of regeneration commands:

Adding...
ERROR:  output 'model-all-00038-0.70911.ptj' is already tracked by SCM (e.g. Git).
    You can remove it from Git, then add to DVC.
        To stop tracking from Git:
            git rm -r --cached 'model-all-00038-0.70911.ptj'
            git com

[2020-07-20 18:18] efiop commented on #4234
@LarryThermo Thanks!

@pmrowla Looks like something is up with the sqlite index db (though the very first log is different and confusing), maybe you have some ideas about it?

[2020-07-20 18:19] em2er opened #4248 "Add support for PUT method for remote http storage"
Binaries management web-services such as Artifactory or Sonatype Nexus use PUT method to deploy file over http. For now, dvc supports only POST method. It would be great if some kind of support of PUT method added. For example, by adding parameter 'method' to config:

[code]

[2020-07-20 18:21] efiop commented on #4248
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/734834300867838032

[2020-07-20 18:21] em2er commented on #4248
I've just replaced POST with PUT https://github.com/iterative/dvc/blob/b77ce02f6b7f66efa9fc73b7146f1c4bf4fa6da3/dvc/tree/http.py#L184 locally and it works fine with Artifactory

[2020-07-20 18:22] efiop commented on #4248
For the record: probably the best choice is to try `PUT` by default and fallback to `POST` if it is not supported (405 code).

[2020-07-20 23:01] shcheklein commented on #4248
@efiop this way we'll be doing a lot of extra operations? or should we try once and remember the choice?

[2020-07-20 23:23] efiop commented on #4248
@shcheklein  Remember the choice, yes.

[2020-07-21 00:47] pmrowla commented on #4234
@LarryThermo can you try deleting the .dvc/tmp/index folder from your repo, and then re-run `dvc push -v`?

[2020-07-21 06:01] sarthakforwet commented on #4233
One doubt @efiop.
The "addressing" property has the following comment -
https://github.com/iterative/dvc/blob/b77ce02f6b7f66efa9fc73b7146f1c4bf4fa6da3/dvc/stage/__init__.py#L165-L166

and in "reproduce" we are adding the prefix "Stage" infront of it. So is it correct?

[2020-07-21 07:21] dimatura opened #4249 "dvc 1.x tries to remove files in .dvcignore"
## Bug Report

Hi, first of all, let me congratulate you all for the good work on dvc -- it's a great tool. Alas, I'm running into some issues since 1.x.

### Please provide information about your setup

**Output of `dvc version`:**

The issue occurs with 1.11.1, 1.11.10, 1.0.0b4 (I think), and dvc installed from git `master` on July 20 (`1.1.11+b77ce0`).
The issue does *not* occur with 0.94.1, an

[2020-07-21 08:32] dimatura commented on #4249
Update: Trying to recreate this from scratch, I found that this happens _only in subdirectories with more than one level of nesting_.

So my original example would actually work, but not if the subdirectories are nested more deeply. For example:
[code]
When trying the experiment with only `foo`, things worked fine. But as soon as I added `foo2/sub1`, the issue appeared: `dvc status` says `foo2/sub

[2020-07-21 10:00] pared commented on #4249
Hi @dimatura! Your use case depends heavily on `.dvcignore` during our optimizations we introduced some bugs, that hopefully should be gone by now.
Could you check out `1.1.11` version? It includes #4125 which should be fixing your issue.
Related: #4110 #4197

[2020-07-21 10:04] dimatura commented on #4249
Thanks for the quick response! Actually I did try it and still have the issue, but the of thing is I'm having difficultly consistently reproducing from scratch. I suspect it has something to do with the history, in particular what gets placed in the cache. I'm away from keyboard right now, but sometime today might have the chance to get a consistent way to recreate it.

[2020-07-21 11:42] skshetry opened #4251 "`get-url` should just `GET` files"
If an endpoint does not support `HEAD`, but supports `GET`, `dvc get-url` will fail to work.

Eg:
[code]

Just commenting `dep.save()` makes it work, as it does a HEAD request first which fails.

[2020-07-21 16:44] LarryThermo commented on #4234
Actually I might have self-diagnosed the problem. I think the problem has do with a long directory or path name.

The full path to the dvc repository is:
C:\Projects-Git\MasuAutoFocusTraining.Hybrid\MasuAutoFocusTraining.Simple\MasuAutoFocusTraining.Simple.ManufacturingVariability\MasuAutoFocusTraining.Simple.ManufacturingVariability.Beads

If I shorten it to:
C:\Projects-Git\MasuAutoFocusTraining

[2020-07-21 17:38] aswin-datakalp opened #4253 "DVC PULL doesn't work when i pushed data from one GIT Repo to S3 remote storage and try pulling from other GIT Repo"
HI ,

***Details*****
DVC version: 1.1.7
Python version: 3.6.9
Platform: Linux-5.3.0-62-generic-x86_64-with-Ubuntu-18.04-bionic
Binary: False
Package: pip
Supported remotes: http, https, s3

**********problem*************
I have two GIT REPOS, for example namely "Repo_1" and "Repo_2".

Lets say i initialize DVC in Repo_1 and add few data files and also add remote s3 storage and push data there thr

[2020-07-21 18:10] efiop commented on #4223
Hi @maricatovictor ! Sorry for the delay. We've added this task to the next sprint (starting next week).

[2020-07-21 18:13] jorgeorpinel opened #4254 "dvc: wildcard outputs?"
It's a well known limitation of DVC that 2 stages (or stage and .dvc file, etc.) can't have overlapping output paths (maybe also deps in some cases?) — this applies to directories, or course. For example

[code]

In the case above the dependency and the output are the same because maybe there's multiple raw data files in data/ and you don't want to use -d for each one — it may even be impossible i

[2020-07-21 18:13] jorgeorpinel commented on #4254
Cc @dmpetrov

[2020-07-21 18:15] efiop commented on #4253
Hi @aswin-datakalp Short answer: It should be the same repo :) Information about dvc-tracked files is stored in git-tracked dvc-files, so you not only need to `dvc push`, but also to `git push` your changes to dvc-files and then `git pull` them in another instance of your repo before you can `dvc pull`. Take a look at this https://dvc.org/doc/use-cases/sharing-data-and-model-files article where we

[2020-07-21 18:53] jorgeorpinel commented on #2027
Hi! Reviving this 🧟

I've seen this come up in Discord now and then — keeping in mind I only get to read about 10-15% of all the questions there, so I'm pretty sure it's a common confusion. Example: https://discord.com/channels/485586884165107732/485596304961962003/735110378702241792

I haven't read the entire discussion above, some of which I assume may be outdated. But in general, I believe this

[2020-07-21 19:11] jorgeorpinel commented on #1691
Hi! 🧟 Specifically on metrics, refer to #4211: `dvc plots` already accepts multiple revisions, so `dvc metrics` could also do so (and you can send it ranges of commits with something like `git log --format:$h HEAD~10..`).

But what about accepting standard Git [commit ranges](https://git-scm.com/book/en/v2/Git-Tools-Revision-Selection#_commit_ranges)? (Both [`dit diff`](https://git-scm.com/docs/gi

[2020-07-21 19:18] jorgeorpinel commented on #1691
UPDATE:

AND then print a summary with just some stats like mean, norm, max, min (configurable, perhaps).

[2020-07-21 19:26] pared commented on #4249
@dimatura
I was fooling around with the setup you provided and I think I got similar results that you did.
So here is reproduction script:
[code]
For `0.94.1` grep does not show any activity related to `xml`, same for `1.1.11`, and `1.0.0a11` (after that release #4110 was reported, and it is the origin cause of #4197). However, for versions in-between `1.0.0a11` and `1.1.11`, the problem exists (I

[2020-07-21 19:40] melkiga commented on #4193
I'm currently just doing deb installs manually. I'll ping our admin to whitelist the url, just because of the way our pip/python stuff is set up on our servers.

Thanks a ton for the help!

[2020-07-21 19:41] #4193 closed

[2020-07-21 19:50] jorgeorpinel opened #4255 "plots: support multiple Y fields? [qa]"
Let's say I have a tabular plots file `plot.csv`:
[code]
and I want to overlay all 3 Hs in a single graph. I can't. I have to pick one at a time, e.g.:
[code]
In fact even with `plots diff` there's no way to visualize these columns in a single graph (the file would have to be split into 3, each one versioned in a different commit). So what if `-y` simply accepted multiple field names (or `plots di

[2020-07-21 19:50] jorgeorpinel commented on #4255
Cc @dmpetrov

[2020-07-21 19:52] jorgeorpinel commented on #4255
Motivation: deep learning or other scenarios where a single stage generates multiple results that need to be evaluated. The user would program the stage to output a single plots file with multiple columns in order to compare many variations. (This is a different option for experiments that doesn't need either run-cache nor multiple commits.)

[2020-07-21 19:54] jorgeorpinel commented on #4255
Of course it won't be very helpful to plot more than 4 or 5 lines in our little Vega graphs, so not 100% sure this has a real application. I just think it's a kind of intuitive feature to add.

[2020-07-21 20:00] jorgeorpinel commented on #4211
I guess it can be considered a duplicate of #4210 — I opened this from the same context.

[2020-07-21 20:00] #4211 closed

[2020-07-21 20:05] jorgeorpinel commented on #4210
- [ ] I think for starters `metrics diff` should accept multiple revisions (like `plots diff`). Having that, we can solve this with Git:

Since the metrics file didn't exist in previous commits, one way is by using `git cherry-pick` the commit that introduces the metrics-generating stage (let's call it commit `C`) into all the previous commits of interest. Then run `dvc metrics diff A' B' C`

Did

[2020-07-21 20:09] jorgeorpinel commented on #4210
A more advanced (and additional) solution, would be for DVC to actually back-fill the metrics to previous commits by itself, by trying to run the metrics-generating stage (in commit `C`) on top of all the previous commits indicated to the command — by the way, what would the syntax look? Should it accept revision ranges (as mentioned in https://github.com/iterative/dvc/issues/1691#issuecomment-662

[2020-07-21 21:56] efiop commented on #4211
@jorgeorpinel Yep, it is alredy in a hidden `dvc experiments show/diff`.

[2020-07-21 22:02] jonilaserson commented on #4210
Thanks, I'll give it a shot.

[2020-07-21 22:04] jorgeorpinel commented on #4210
Cool! I'm just brainstorming here. Not sure whether this is an approved feature request 🙂

[2020-07-21 22:05] jorgeorpinel commented on #4210
but I do think for consistency metrics diff should support multiple revs, or if we will use `dvc experiments` in the future (#2799) , then maybe remove the multiple revision support from `dvc plots`

[2020-07-21 22:08] jorgeorpinel commented on #4211
Nice. But that will replace metrics and plots? (just to be extra clear)

[2020-07-21 22:13] efiop commented on #4254
These commands won't get you what you want. First of all, they are evaluated by your shell and not by dvc. To make your shell pass them to dvc, you'll need to escape it somehow (e.g. wrap it in single-quotes), which makes it quite error-prone.

But this is discussed in https://github.com/iterative/dvc/issues/1462 , so we can probably close this as a duplicate.

[2020-07-21 22:13] jorgeorpinel commented on #4210
P/s never mind about `dvc experiments`. Wrong issue. Deleted that comment now (and this one).

[2020-07-21 22:17] #4164 closed

[2020-07-21 22:18] jorgeorpinel commented on #4254
Sure, it's just a quick example.

I see it there indeed, thanks for the reference. It's a big discussion issue from December 2018 though... Probably the best way to make it actionable is to break it into smaller ones? Like this one!

[2020-07-21 22:22] efiop commented on #4254
@jorgeorpinel I wouldn't call this one simple. It is not only about supporting wildcards, but rather supporting some scenarios that might need wildcards(or there might be a better way to do it). So I would keep the discussion there instead of also having this one.

[2020-07-21 22:22] jorgeorpinel commented on #1462
Hi! Resurrecting 🧟

From recurrent feedback from users on support channels, I also came up with this idea recently. Extracted to #4254 — I think it's still needed (or desirable) even now that we also have parameters.

[2020-07-21 22:23] jorgeorpinel commented on #4254
Yeah I didn't say it's simple. And sure, up to you. I already commented over there too. Thanks

[2020-07-21 22:24] #4254 closed

[2020-07-21 22:25] efiop commented on #4211
@jorgeorpinel It won't, it will be an addition.

[2020-07-22 00:59] #3473 closed

[2020-07-22 05:17] dimatura commented on #4249
Yes, I think you're on the right track. It looks like it's somehow is related to bad history on my dvc state, due to mistakes on my part when adding files. I managed to recreate more or less what I believe is going on in my main repo. This is using dvc `1.1.11`.
[code]
Here, when I do `dvc status` it doesn't say anything about modified checksums. On the other hand, when I do `dvc pull` it does pro

[2020-07-22 06:26] aswin-datakalp commented on #4253
Hi @efiop ,

I think you have understood wrongly.

The above solutions of yours will definitely if there are two people using the same GIT Repo where person 1 add's data and makes dush push and git push and then the other person (person 2) first has to do git pull to get the latest DVC tracked GIT files and then DVC pull will work for him.

My problem statement is different. In my case, i am havin

[2020-07-22 11:13] geblanco opened #4259 "DVC repro/pull/checkout hangs on sshfs"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

Setup:
Experiments are run in a server with GPUs, with a local directory as cache, setup with: `type = "hardlink,symlink"`. I run everything with `dvc repro`, then `dvc push`. It runs as expected and caches all files.
Afterwards, I run evaluation in my local m

[2020-07-22 11:47] karajan1001 opened #4260 "`ignore-check` for DVC?"
In #4249 #4110 #4103 etc. We need to check if some files were ignored or not.
Current solutions are something like,
[code]
These unofficial usages are neither elegant nor detailed. While a `git ignore-check` can tell you which pattern matches and finally influences your file.
![image](https://user-images.githubusercontent.com/6745454/88172708-fbf96980-cc53-11ea-8ba9-aa36c194a7f2.png)
This is helpf

[2020-07-22 12:02] skshetry commented on #4260
@karajan1001, is this the duplicate of #3736?

[2020-07-22 13:24] karajan1001 commented on #4260
@skshetry Haha, I didn't know there already has been one.

[2020-07-22 13:24] #4260 closed

[2020-07-22 16:02] pared commented on #4249
@dimatura
Running your script on `1.1.11` - I am also asked about removing the `.xml` file. That is happening because `dvc`, by default deletes path that its trying to check out.
So now, `git` is returning that `foo.xml` has been deleted, but if you run `git checkout foo`  after `dvc pull`, you will have your `xml`
files and both `git status` and `dvc status` will say that everything is up to date

[2020-07-22 17:15] efiop commented on #4233
@sarthakforwet You can change the msg accordingly so it makes the most sense.

[2020-07-22 17:26] efiop commented on #4253
@aswin-datakalp That won't work. Dvc remote is just a content based storage that doesn't know names of the files it stores. Names are stored in your git repo (e.g. in `data.dvc`). You can copy that `data.dvc` to your other repo and then `dvc pull`, but that is hacky.

What you probably want is `dvc get/import`. https://dvc.org/doc/use-cases/data-registries So you could `dvc get/import` data from o

[2020-07-22 17:46] efiop commented on #4259
Hi @geblanco . Could you try to kill it and show the traceback?

[2020-07-22 21:22] nimrand opened #4261 "Running import-url on S3 URL gives error message "requires existing cache on 's3' remote""
## Bug Report

We have a corpus (i.e., directory of text documents) that are stored in a company-wide S3 data store at `s3://my-company-research-data/data/corpus`.

When I run `dvc import-url s3://my-company-research-data/data/corpus ./local/path`, I get an error:

`ERROR: failed to import s3://duolingo-research-data/det/COCA. You could also try downloading it manually, and adding it with `dvc add

[2020-07-22 21:45] jorgeorpinel commented on #4261
Thanks! I don't think importing should have this condition: `requires existing cache on 's3' remote`.

[2020-07-22 21:46] efiop commented on #4261
Hi @nimrand !

Unfortunately, this is a known bug :slightly_frowning_face: https://github.com/iterative/dvc/issues/4144 We'll try to get to it in the next sprint (starting next week). Thank you for the feedback! Closing this ticket in favor of https://github.com/iterative/dvc/issues/4144 .

[2020-07-22 21:46] #4261 closed

[2020-07-23 07:52] geblanco commented on #4259
Hello @efiop,

Yesterday I left it running and the command finished correctly, though it took very, very long time and every time I run it happens the same.

Killing the process just yields (ctrl+c):
[code]

[2020-07-23 07:53] Suor commented on #1691
I don't think this issue is really related to that discussion. Epoch is not the result of the run, so there is no commit or model for each of those. In current terms it might be a datapoint in some plot or simply an intermediate state, which might be saved or not upon users wish.

[2020-07-23 11:54] DavidGOrtega opened #4266 "'NoneType' object is not subscriptable"
## Bug Report

I came up with this issue by other paths, but I tried to find an easy way to isolate it.

#### steps to reproduce

[code]
outputs
[code]

### Please provide information about your setup

**Output of `dvc version`:**

[code]

[2020-07-23 11:55] Suor commented on #4259
Maybe related, have SSH hanging out for me during pull with missing key:
[code]

[2020-07-23 12:01] Suor opened #4267 "config: neither `credentialpath` nor `keyfile` work when rel to config filename is used"
On master branch.

There two look like to be not included into our rel path config magic.

[2020-07-23 13:28] karajan1001 commented on #3869
Benchmark result before and after #4242

This update saves about 5ms.
![Screenshot from 2020-07-23 21-24-41](https://user-images.githubusercontent.com/6745454/88291692-3aae2300-cd2b-11ea-91c7-b82f85588649.png)

[2020-07-23 13:31] DavidGOrtega opened #4268 "CML <-> DVC cache smooth integration"
Hi guys,

im working/exploring lately the conjunction of both to solve ML problems. One of the most interesting requests is having the ability to start training from a checkpoint just in case something fails in the middle of your several-days-training-job. This is specially needed for spot instances that can be interrupted by the vendor with just 30 seconds of time to take actions.
The ideal solut

[2020-07-23 14:17] #4165 closed

[2020-07-23 14:17] #4206 closed

[2020-07-23 15:14] pmrowla commented on #4234
I don't think there's much we can do about the path length limitation on Windows, but we could at least check for this and give a better error message if we fail to open the index DB.

[2020-07-23 16:19] LarryThermo commented on #4234
Yes, it really has nothing to do with dvc and improving the error message is about what you can do.

Please note that I am really enjoying using dvc and thank you.

From: Peter Rowlands (변기호) [mailto:notifications@github.com]
Sent: Thursday, July 23, 2020 8:15 AM
To: iterative/dvc <dvc@noreply.github.com>
Cc: Rystrom, Larry <Larry.Rystrom@thermofisher.com>; Mention <mention@noreply.github.com>
Sub

[2020-07-23 18:39] efiop commented on #4267
Duplicate of https://github.com/iterative/dvc/issues/4136

[2020-07-23 18:39] #4267 closed

[2020-07-23 18:49] efiop commented on #4206
@danfischetti 1.2.0 is out with the fix. Please give it a shot and let us know how it goes :slightly_smiling_face: Thanks for the feedback!

[2020-07-23 19:08] #3964 closed

[2020-07-23 19:24] efiop commented on #4234
Hm, btw, we use an absolute path when opening the db, so we probably could've avoided this issue if we were to use a relative path instead. This is something that we are constantly talking about in many places in dvc, and is prone to hitting MAX_PATH on other platforms as well. So the best solution will be if we make that switch, but that won't happen in the nearest future :(

As to the error(or w

[2020-07-23 19:24] #4234 closed

[2020-07-23 19:27] efiop commented on #4259
@Suor This is about sshfs, not ssh. So unlikely.

@geblanco Could you try `dvc push -v` and then kill it and show traceback? Sorry, I forgot to mention `-v`.

Btw, do you have giant untracked directories that are not in `.dvcignore`?

[2020-07-23 22:21] jorgeorpinel opened #4273 "repro: make recursive by default (kill -P)"
## ~~Bug~~ Report

`dvc status` by default checks all dvc.yaml/lock files recursively in the project, and in some docs we state this is a way to check whether `dvc repro` is needed. However, `repro` by default doesn't do this; It needs the `-P/--all-pipelines` flag to have this behavior. I see 2 issues:

1. The inconsistency between these close commands. I would vote for `repro` to be recursive ju

[2020-07-23 23:30] dimatura commented on #4249
@pared I see. Yes, I can actually recover the xml from git (and actually did so in my main repo when I let dvc delete the files, just to see what would happen). But dvc will still try to delete it every time I do a dvc pull afterwards :/. That said, the following steps:
[code]
Seem to prevent dvc from asking about deleting file1.xml afterwards. Unfortunately, if I try the same steps in my main rep

[2020-07-24 02:15] shcheklein opened #4276 "remote local config does not see existing remote"
## Bug Report

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

[code]

complains:

[code]

For example, it breaks the use case of using `dvc remote modify` to store credentials in the local config only.

[2020-07-24 02:18] shcheklein commented on #4167
I got confused by this also and took a cycle to realize what's happening. I think we should at least document this properly /cc @jorgeorpinel .

[2020-07-24 02:19] shcheklein commented on #2235
Should be fixed @efiop @casperdcl ?

[2020-07-24 02:25] efiop commented on #2235
Yes, we can close it.

[2020-07-24 02:25] #2235 closed

[2020-07-24 02:28] efiop commented on #4276
This one is a known issue since the config refactor. Workaround is to simply first do:
[code]

[2020-07-24 02:30] shcheklein commented on #4276
just to let you know this breaks all the docs/examples

[2020-07-24 02:32] shcheklein opened #4277 "ssh remote: no progress bar on push/pull"
Not much to add to the details. When we download a file(s) it does not show progress (only rate).

[2020-07-24 03:01] jorgeorpinel opened #4278 "Get rid of .dvc files?"
If we're planning a non-backward compatible change in the near future, maybe it would be a good time to consider completely moving from .dvc files to dvc.yaml/dvc.lock. Or implement and leave the old .dvc file approach as optional for backward compatibility (for some time at least).

My motivation to suggest this is mostly conceptual right now but maybe it has some very practical implications too?

[2020-07-24 03:11] karajan1001 commented on #3736
@pared
Hi, I'd like to look into it this weekend. And now are asking for some advice.

According to [git](https://git-scm.com/docs/git-check-ignore).
It has `-q`, `-v`,  `--stdin`, `-z`, `-n`, `--no-index` arguments.

Among them, I consider `-v`(show details, the last pattern matches) `--no-index` (without this ignore-check would ignore those files already added in cache) most required.

Then, `--

[2020-07-24 03:20] skshetry commented on #4278
I have already suggested this on https://github.com/iterative/dvc/issues/3936 with a clear deprecation plan, with the same motivation as yours (simplifying ui/ux and docs).

[2020-07-24 03:43] skshetry commented on #4278
@jorgeorpinel, could also say `dvc.yaml` is a workflow, and `.dvc` is a DVC file?

[2020-07-24 06:56] rabefabi opened #4279 "Pipeline to process only new files"
( I haven't found [jonilaserson's discuss-question](https://discuss.dvc.org/t/pipeline-to-process-only-new-files/446/2) as a feature request in this Git Repo yet, but since I have the same need I'm copying it)

---

Say I have a million files in the directory `./data/pre`.

I have a python script `process_dir.py` which goes over each file in `./data/pre` and processes it and creates a file in the

[2020-07-24 07:01] skshetry commented on #4279
Sounds like this is a duplicate of https://github.com/iterative/dvc/issues/331

[2020-07-24 07:14] rabefabi commented on #4279
It does, and the author of the discuss comment already mentioned their use case over there as well, so this issue can be closed.

Thanks!

[2020-07-24 07:14] #4279 closed

[2020-07-24 08:19] pared commented on #4249
@dimatura

I am afraid this is due to fact that dvc tries to remove the dir content before checkout. And this behavior is there intentionally, to prevent user from using a directory that is joined results of few other operations (and is not properly committed).

I think the only solution, for now, is to always do `git checkout` after `dvc pull/checkout`.

As to your main repo: so you filled `.dvci

[2020-07-24 08:41] geblanco commented on #4259
Hi @efiop,

Here is the output from `dvc pull -v`
[code]

And no, I have no giant directory, the only big directory I have is tracked by DVC, which is the dataset.
Best,

[2020-07-24 08:57] skshetry commented on #4230
Just found out that this only happens when tests are run through plain `pytest`.

[2020-07-24 09:13] pared commented on #3736
@karajan1001
Ill try to provide as much info as I am able:
1. `-q` - I think that if we are to use the logger to display the information, the only important thing to implement is proper return code on   command.  `quiet` behavior is handled by [default parser](https://github.com/iterative/dvc/blob/5ed832077df8de445c1bac20fadc93b8d9d14d31/dvc/cli.py#L139)

2. `--no-index` - I am not sure whether th

[2020-07-24 11:41] casperdcl commented on #2329
@shcheklein @efiop has this been reasonably fixed by #3806?

[2020-07-24 11:44] #4160 closed

[2020-07-24 11:52] dtrifiro opened #4281 "LockFile class dump/load uses different libraries"
## Bug Report
`LockFile.dump()` calls `dvc.utils.yaml.dump_yaml()`,  which uses ruamel (`ruamel.yaml.YAML.dump`), whereas `LockFile.load()` calls `dvc.utils.yaml.parse_yaml()` which uses pyyaml (`yaml.load` with `SafeLoader`).

This results in a very subtle bug: ruamel uses the YAML 1.2 specification by default, whereas pyyaml uses the YAML 1.1 specification (https://pypi.org/project/PyYAML/).

Th

[2020-07-24 11:53] dtrifiro commented on #4281
Once we decide which approach to use, we can help with a patch

Thanks!

[2020-07-24 13:59] nickdelgrosso commented on #3561
I noticed that this issue was happening even for a fresh `dvc init` repo with the most recent verision (version details below), but it turns out it's because I committed a file (a credentials file) to the .dvc/tmp directory.  Once I moved it somewhere else, the issue stopped occuring.  So my guess is that the .gitignore-filling step is just checking if the /tmp directory is mentioned _at all_ that

[2020-07-24 14:46] PuneethaPai commented on #4194
@efiop

Here is linked pull request: https://github.com/tldr-pages/tldr/pull/4225
I have started work on it. Completed creating pages for 13 sub commands.
I still have like 33 more to go 😜 .

[2020-07-24 15:00] dmidge8 commented on #4139
I fear that the same error occurs during a `dvc fetch` with a similar dataset, using dvc 1.2.0. :(
However, it is not possible to fetch file by file to bypass that issue...

[2020-07-24 15:05] skshetry commented on #4281
@dtrifiro, I agree with this, it is broken.

The thing that I am not quite sure about is by doing this, we might break compatibility, as `params.yaml` are assumed to be YAML 1.1. Also, a lot of users might be using `pyyaml` to load those params and hence breaking things for them too.
Though they can fix this with a directive as you mentioned.

But, the fact that it is _broken_, and considering tha

[2020-07-24 15:34] jorgeorpinel commented on #1691
I think you're right with respect to that particular user's support case. Still I think this idea is worth considering:

[2020-07-24 15:45] jorgeorpinel commented on #4278
Ah yes, could be seen as a duplicate of that one Saugat indeed, thanks for pointing it out.

We could but the point is I'm trying to avoid having to mention 2 things every time we're explaining the commands that affect both dvc.* and .dvc files... If there was a term that can encompass both (only idea so far is "DVC files") that would be ideal for now. Something like "internal files" or something.

[2020-07-24 15:45] jorgeorpinel commented on #3936
This has indeed become evident when documenting them together! Full explanation in #4278

This part was confusing but I think by now it's clear the most straightforward option is to get rid of .dvc files altogether, integrating their contents to dvc.yaml and dvc.lock (I came up with other alternatives in #4278 but would imply a separate set of commands for .dvc files)

Old .dvc files could be left

[2020-07-24 15:46] jorgeorpinel commented on #3936
(Please see #4278 for a specific proposal on how dvc.* files would look.)

[2020-07-24 15:54] shcheklein commented on #4278
My thoughts on this. No matter how do I feel about two types of files and the pain dealing with them, I would say that "I'm trying to avoid having to mention 2 things every time we're explaining the commands that affect both dvc.* and .dvc files" should not be a strong argument when we make DVC core decisions. Usability, use case, user workflow (including things like merge, working with data only)

[2020-07-24 16:15] jorgeorpinel commented on #4278
I agree. I don't think that simplifying docs writing itself is a reason at all. But it tends to signal that something conceptually may need more work i.e. the workflow can be simplified for users.

Great question. I guess it's a well known strategy e.g. used by Git-LFS and others (replace large files with placeholders) and it makes the data somewhat visible when you do `ls` even before `dvc pull`

[2020-07-24 18:10] PuneethaPai commented on #4194
How tldr works is like we have to generate `cmd.md` files **keeping in mind first time user**.
What I can think of for automation is, we can go up to generating these files and raising Pull Request.
After which we/they can quickly validate and merge it.

Let me know if there are better ways. We still need to figure out how to generate the pages.

[2020-07-24 21:37] efiop commented on #4139
@dmidge8 How much ram do you have and what size of dataset are we talking about?

You could specify targets for dvc pull. Even subdirs in your dataset.

[2020-07-25 00:19] dimatura commented on #4249
Alright, I'll try that. Thanks for the great support!

[2020-07-25 02:05] karajan1001 commented on #3736
@pared
Thank you,
1. For `-q`. I agreed, the only thing need to take care is the return number, non-zero return number may cause some report process.

![git ignore-check](https://user-images.githubusercontent.com/6745454/88446235-d5f1e600-ce5a-11ea-9d90-3f69bf88fe8e.jpg)

2. For `--no-index`, I had tried on my computer, seems that it is vital for Git but not for DVC. The reason lies in the differe

[2020-07-25 08:19] karajan1001 commented on #3736
@pared
![verbose](https://user-images.githubusercontent.com/6745454/88452517-01dc8e00-ce92-11ea-90f0-0a37a576b986.jpg)

Seems that `--verbose` conflict with debug model, use `-d`, `--details` instead.

[2020-07-25 09:13] pared commented on #3736
@karajan1001
Some disrepancies are unavoidable, feel free to invent your own names. Until we create docs for the command, we can assume its experimental feature which can be adjusted. We can also come to some agreements during review.

[2020-07-25 14:51] gcoter opened #4283 "dvc experiments checkout: option to select the best experiment regarding one metric"
I had an idea while trying the new experiment feature. For the use case of grid-search or hyper-parameter optimization, could we imagine an option for `﻿dvc experiments checkout﻿` to checkout the best experiment regarding one of the metrics? Something like `﻿dvc experiments checkout --best metrics.json:accuracy﻿`. With an option like this, you can run (manually or automatically) a lot of experimen

[2020-07-25 16:24] casperdcl commented on #3439
discussion with @efiop

[code]

also

[code]

means either `python extract_function.py --name check_db some_file | md5sum -` or just `python extract_function.py --name check_db | md5sum`

[2020-07-26 04:26] weekly-digest[bot] opened #4285 "Weekly Digest (19 July, 2020 - 26 July, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 46 issues were created.
Of these, 23 issues have been closed and 23 issues are still open.
## OPEN ISSUES
:green_heart: #4284 [ignore: dynamically collect dvcignore](https://github.com/iterative/dvc/pull/4284), by [efiop](https://github.com/efiop)
:green_heart: #4283 [dvc experiments ch

[2020-07-26 15:47] we-taper commented on #1376
Similar issue happened to me while `dvc pull` could not download an empty file pushed previously from another machine.
I could confirm that the requested file `d4/1d8cd98f00b204e9800998ecf8427e` exists in GDrive but is of size 0.

dvc version:
[code]

dvc pull -v:
[code]

[2020-07-26 20:22] efiop opened #4286 "gdrive: failed to pull empty file"
CC @imflash217  and @we-taper

https://github.com/iterative/dvc/issues/1376#issuecomment-664004339

[2020-07-26 20:23] efiop commented on #1376
@imflash217  @we-taper Created https://github.com/iterative/dvc/issues/4286 . Let's move the discussion there. Thanks for the feedback!

[2020-07-26 20:33] efiop commented on #4286
Looks like ideally this should be solved on PyDrive2 side... Looking into it...

[2020-07-26 20:51] #4285 closed

[2020-07-26 21:55] efiop commented on #4286
Guys, could you try installing a dev version with
[code]
and giving it a try, please?

[2020-07-27 03:08] majidaldo commented on #3902
starting to use it. seems to be working. works even in my interoperating conda envs (though i know what i'm doing).

[2020-07-27 09:26] ariciputi commented on #4281
@skshetry I understand your concern in removing one of the libraries, but a possible solution to this is to keep both libs in the short term and force ruamel to write down yaml files using 1.1 specs (as shown by @dtrifiro in the comment above). Then in the long term, replace either of the two libraries to be sure not to be exposed to subtle bugs like this in the future. What do you think about thi

[2020-07-27 09:36] Suor opened #4288 "http: do not ignore HTTP statuses when working with HTTP(S) remotes"
On master.

Exists check now simply says yes if request is successful. So If we get 403 Forbidden or 401 Auth Required these are ignored, which looks the same as absent files to dvc. The simplest fix would be using `res.raise_for_status()` in `.exists()` check unless we have success or 404.

[2020-07-27 09:46] pmrowla opened #4289 "experiments: `core.experiments` config setting overridden in certain situations"
If `core.experiments` is set in `.dvc/config` and not committed, experiments support will end up being disabled when we do `reset --hard` during `experiments checkout`. This also affects `.dvc/experiments` being added to `.gitignore`.

Temporary workarounds:
* Use `dvc config --local` when setting `core.experiments true`
* `git commit` changes to `.dvc/config` after doing `dvc config core.experime

[2020-07-27 09:51] pmrowla commented on #4289
In the long run, `experiments checkout` behavior will need to be smarter than the POC `git reset --hard` implementation, and this issue should be resolved when that happens.

[2020-07-27 13:13] Suor commented on #4288
BTW, we already do something like that in `utils.http.iter_url()`.

[2020-07-27 18:31] pared commented on #4249
@dimatura Hope it will help.
I think I didn't stress that at the beginning of our conversation, that by default, `DVC` is not supposed to version the same directory as git does and provided solutions are rather workarounds.

[2020-07-27 21:49] davebulaval opened #4291 "Add argument --user -u for specifying a user credential"
As one can have many AWS credentials, you need to `export AWS_PROFILE=user1` (Linux/Mac) for using the right credentials. Could be interesting to have something similar directly in the DVC commands.

Here the [doc](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html) for AWS but I don't know for the other storage option.

[2020-07-27 22:10] efiop commented on #4291
Hi @davebulaval You can specify it in your config. E.g.
[code]

[2020-07-27 23:20] davebulaval commented on #4291
The command does not work even if a setted a local config file.

[2020-07-27 23:57] jorgeorpinel opened #4292 "repro: enforce targets (and update desc) when -R is present? [qa]"
The `-R` option of `dvc repro` has no effect when no `targets` that are directories are also given. For example, `dvc repro -R` is the same as just `dvc repro`. For UI and consistency improvement I propose
1. - [ ] `targets` are enforced when `-R` is used, or at least WARN msg is printed otherwise so the user is aware he might be expecting something that's not being done.
2. - [ ] Even if `targets

[2020-07-27 23:57] jorgeorpinel commented on #4292
Should I extract this to a separate issue?

[2020-07-28 00:41] jorgeorpinel commented on #4292
An alternative to this, as I discussed with @efiop, is to make -R accept an argument, instead of relying on `targets`. His answer was that it's still basically a target so why not just use the command's argument(s), which was convincing. However, I just noticed that the `-c` option does accept a `<path>` argument (specifically for directories), so maybe after all (for consistency) the best option

[2020-07-28 00:57] efiop commented on #4291
@davebulaval What do you mean? The command itself? Or push/pull?

[2020-07-28 02:05] davebulaval commented on #4291
@efiop The command itself.

Here the error `ERROR: configuration error - config file error: remote 'storage' doesn't exists.`

Here my .dvc repo:

[code]

DVC version: `1.2.1`

[2020-07-28 02:15] efiop commented on #4291
@davebulaval Ah, that's because of a well known `--local` bug (working on solving it). Current workaround is to first:
[code]
or you could just add the profile to .dvc/config by:
[code]

[2020-07-28 06:48] jorgeorpinel opened #4293 "repro: better handling for dvc.yaml files in tracked directories"
## Bug? Report

0. Let's create a dataset dir and add it:
[code]
1. Now let's create a dvc.yaml file in there manually (since we can't use `dvc run` in a tracked dir because it's "within an output '.' of another stage" — not really a stage though, just a .dvc file)
[code]

2. **Finally, let's try to run the `hello` stage with `repro`:**
[code]

### Problems

- Notice how the first 3 direct forms p

[2020-07-28 07:44] pmrowla opened #4294 "macOS: analytics daemon crashes due to fork related error"
After the daemon changes introduced in #4262 (f799e1e3), DVC on macOS crashes when we try to spawn the analytics daemon.

[code]
![Screen Shot 2020-07-28 at 4 37 51 PM](https://user-images.githubusercontent.com/651988/88633994-bd026280-d0f0-11ea-9d1f-a60e755bbbfa.png)

Disabling analytics avoids the crash
[code]

This problem appears to be related to `fork` being unsafe in macOS

See related Pytho

[2020-07-28 07:46] pmrowla commented on #4294
As mentioned in the python issue, setting the `OBJC_DISABLE_INITIALIZE_FORK_SAFETY` env variable before running python/dvc can be used as a workaround, but that doesn't seem like an ideal solution for us

[2020-07-28 08:59] pared commented on #3936
I think that if we decide to drop `.dvc` stages, we should have some "official way" to migrate to 1.X. So that user are not forced to learn how to do it by themselves.

[2020-07-28 09:43] dtrifiro commented on #4281
I just opened up a PR with @ariciputi's  workaround for this.
With this, `dvc.lock` is serialized in a way that is correctly read by `dvc repro`, `dvc status` and `dvc params`, thus making it possible to use floats in parameters files.

[2020-07-28 10:26] efiop commented on #4294
@pmrowla Thank you for the investigation! :pray: Quick solution is to continue using Popen on mac and windows. Will take a look.

[2020-07-28 10:29] efiop commented on #4080
@dmidge8 Were you able to make it work for you?

[2020-07-28 13:01] #4294 closed

[2020-07-28 13:10] davebulaval commented on #4291
Worked like a charm, that solution should be in the documentation (or is it already ?)

[2020-07-28 13:26] efiop commented on #4291
@davebulaval `profile` is already in the docs https://dvc.org/doc/command-reference/remote/modify .

[2020-07-28 13:26] #4291 closed

[2020-07-28 13:27] pared opened #4297 "commit: support granularity"
Update: see https://github.com/iterative/dvc/issues/4297#issuecomment-739848041

~~version : `1.2.2`~~

~~commiting output instead of stage, when there is no `dvc.yaml` results in:~~

~~`ERROR: failed to commit data - 'dvc.yaml' does not exist.`~~

~~in `0.94.0` it used to be:
`ERROR: failed to commit data - bad DVC-file name 'data'. DVC-files should be named 'Dvcfile' or have a '.dvc' suffix (e.g

[2020-07-28 15:10] davebulaval commented on #4291
@efiop Yes, but not as clear as explain using this issue. I could not come with that solution using the doc.

[2020-07-28 15:22] #3499 closed

[2020-07-28 17:39] shcheklein commented on #3499
@efiop @sahilbhosale63 do we need to update docs?

[2020-07-28 17:42] sahilbhosale63 commented on #3499
Yes @shcheklein, We have to update the docs.

[2020-07-28 22:21] we-taper commented on #4286
I gave it a ago and it seemed to works. Thanks @efiop !

[2020-07-28 22:24] efiop commented on #4286
@we-taper Thanks for the feedback! In the interest of time, I'll merge and release that workaround (1.2.3, will be ready in half an hour), but will continue with a proper fix on PyDrive2 side in https://github.com/iterative/PyDrive2/pull/48

[2020-07-28 22:25] #4286 closed

[2020-07-29 09:28] dmidge8 commented on #4139
@efiop Thank you for the info about the dvc pull.
The dataset is exactly the same as @lenrys29. And I have about 16GB of ram, to be shared with other tasks running, so it would be closer to 10GB and the same in swap.

[2020-07-29 13:24] mathias3 opened #4301 "ssh: speed up open()"
## Bug Report
DVC api for python with ssh server has extremely low download capacity
[code]
this gives around 100kb/s download (tested in three idependent tests on diffrent machines}
dvc pull, dvc push at the same to the same repo and ssh server work with almost maximum network capacity ( around 2 MB/sec
)
[code]
as you can see it takes 50 minutes to load 400mb model
### Please provide information

[2020-07-29 15:29] jorgeorpinel opened #4302 "init: --subdir is not being enforced"
## Bug Report

[code]

- Also, should it also be enforced even with `dvc init --no-scm` ? (I forgot the original motive of `--subdir`).

### Please provide information about your setup

**Output of `dvc version`:**

[code]

**Additional Information (if any):**

If applicable, please also provide a `--verbose` output of the command, eg: `dvc add --verbose`.

[2020-07-29 15:29] jorgeorpinel commented on #4302
Cc @pared

[2020-07-29 15:36] efiop commented on #4302
@jorgeorpinel This first one won't cause an error, because git is separate, and --subdir is not needed.

[2020-07-29 15:38] jorgeorpinel commented on #4302
You're right. I guess it's a matter of improving the explanation of all this in docs then. From reading it I didn't remember the behavior correctly. Transferring!

[2020-07-29 17:41] efiop commented on #4301
@mathias3 Do you `dvc pull` a particular model only? Or everything? How did you measure `dvc pull` performance?

[2020-07-29 17:41] maxme1 opened #4303 "For a large dataset `dvc add` creates symlinks to wrong files in the cache"
## Bug Report

I have a large dataset (~60GB) of mostly large files. Each file has additional json-files associated with it.
After I use `dvc add FOLDER` all files are replaced with symlinks, and some of them are referencing wrong files in the cache (but from the same dataset). Moreover most of the links reference the same file, so the links are not just shuffled.

I tried to reproduce this issue

[2020-07-29 18:31] efiop commented on #4303
Hi @maxme1 ! That sounds terrible! :scream:

Is there anything specific about that file? Is it an empty one?

[2020-07-29 18:55] maxme1 commented on #4303
Hi @efiop !

No, just some random file from all the json-files.
I forgot to mention that some json-files have identical content (basically they contain the shape of an associated numpy array).
None of the files are empty. Most of them have the same length (in bytes).

No, but I'll give it a try.

[2020-07-29 20:39] efiop commented on #4303
@maxme1 You mean that they have identical content originally, right? Before you've dvc-added them? If so, all of those would be linked to the same cache file, because cache is content-based.

[2020-07-29 20:58] #1153 closed

[2020-07-30 01:16] efiop commented on #4259
@geblanco Thanks! Sorry for the delay. We've introduced some optimizations a few days ago, could you please upgrade to the latest version and try again?

[2020-07-30 01:28] efiop commented on #4266
Ran into this as well. Working on a fix...

[2020-07-30 03:42] efiop commented on #3561
Hi @nickdelgrosso ! Sorry for the delay. So dvc actually uses `git check-ignore`, https://github.com/iterative/dvc/blob/815444ffdc5f00e0ae031c3d72dd683a0f698cc8/dvc/scm/git.py#L189 . Maybe you've force-commited a file in tmp? :thinking:

[2020-07-30 04:11] efiop commented on #4291
@davebulaval Not quite sure how to improve it :( Would appreciate any ideas.

[2020-07-30 08:23] shawnlee103 opened #4306 "ERROR: unexpected error - cannot import name 'BaseRemoteTree'"
## Bug Report

### Please provide information about your setup

[code]

Thanks.

[2020-07-30 08:33] pmrowla commented on #4306
@shawnlee103 it looks like there is something wrong going on with your DVC installation, as the file `/dvc/remote/ssh/__init__.py` should not exist in DVC 1.2.2 (but it did exist in older versions): https://github.com/iterative/dvc/tree/1.2.2/dvc/remote

Could you try uninstalling and then reinstalling DVC and see if that fixes your issue?

[2020-07-30 08:50] geblanco commented on #4259
Hi @efiop!

No worries, it seems there is a lot of work on your side. I bring new logs!

dvc fetch -v
---
Comments:
The process first queries the cache and then fetches all files:
- Querying cache: Faaaaster than before, there are lots of files, progress bar seems to work at ~160-180file/s more than acceptable.
- Fetching files. A bit slower than querying, but without a progress bar, it is a bit o

[2020-07-30 08:55] shawnlee103 commented on #4306
after pip install dvc[ssh].  It works.  Thanks.

[2020-07-30 08:55] #4306 closed

[2020-07-30 09:02] shawnlee103 opened #4307 "unexpected error - invalid literal for int() with base 10: '\\dvc_repo'"
## Bug Report

[code]

due to NAS storage, i have to set SSH path  with  "\\"

['remote "data_ssh"']
    url = ssh://xxx@xxx.xxx.xxx.xx:\dvc_repo
    ask_password = true

when dvc push
[code]

[2020-07-30 10:21] maxme1 commented on #4303
Not quite. [Here](https://ufile.io/bnjoazza) is a sample without the large files (only json).
For example often almost all `spacing.json` files are getting mapped to a single `shape.json` file, even though their contents are always different.

[2020-07-30 12:48] mathias3 commented on #4301
[code]
here i pulled all and tehere are 10 models of similar size- Today I have very weak connection but in puled all in 20 minutes

[2020-07-30 13:09] #4266 closed

[2020-07-30 14:30] efiop commented on #4303
@maxme1 Interesting. Ok, let's see if this happened during collection or during linking. In the `*.dvc` file that was created by `dvc add`, there is an md5 that looks something like `12345.dir`. Using it, you could find a `.dvc/cache/12/345.dir` json file, that contains list of files that dvc collected and their respective hashes. Can you check whether those 2 files that shouldn't have the same co

[2020-07-30 15:08] efiop commented on #4307
Hi @shawnlee103 !

Are you able to use that url with things like `scp` or `ssh`?

[2020-07-30 16:33] maxme1 commented on #4303
I remounted the drive on which the cache is located, and rebooted the machine. Now everything seems to work fine. I suppose the problem was with NFS. Hope it will be useful if someone encounters the same problems.

I guess the issue can be closed now. Thanks for your time, @efiop !

[2020-07-30 16:40] casperdcl commented on #4070
based on the remaining checkboxes, this is no longer a `completion` issue (the completion issue is fixed). This is now a documentation issue - introducing naming consistency.

[2020-07-30 17:51] jorgeorpinel commented on #3936
Yes, we should probably have an official migration tool regardless. But .dvc files are no longer considered stages. That's part of the problem 🙂

[2020-07-30 18:16] nickdelgrosso commented on #3561
Yep, that's exactly what I did. My mistake--just wanted to share in case
someone else did the same thing.

On Thu, Jul 30, 2020, 5:42 AM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-07-30 19:07] shcheklein commented on #3936
@jorgeorpinel I think within docs we can safely assume (and we already do) that `.dvc` are not stages

[2020-07-30 19:14] efiop commented on #2329
@casperdcl Yes, let's close it for now. Thanks!

[2020-07-30 19:14] #2329 closed

[2020-07-30 19:16] efiop commented on #3561
There's not much we can do in that case, unfortunately :(

[2020-07-30 19:17] efiop commented on #4070
Let's close for now.

[2020-07-30 19:17] #4070 closed

[2020-07-30 19:19] efiop commented on #4303
@maxme1 Whoa, that's a terrible bug to have :scream: Btw, could you share more details about your setup? Like what nfs version is used? Is that for NAS or something else?

[2020-07-31 00:34] efiop commented on #4292
`-c` is a whole different thing, it is in no way related to targets. It just makes dvc chdir to that directory and work from there.

[2020-07-31 01:59] shawnlee103 commented on #4307
Hi @efiop ,

Yes.  I try
scp file.data  xxx@xxx.xxx.xxx.xx:\dvc_repo
scp file2.data  xxx@xxx.xxx.xxx.xx:\dvc_repo/dir1/dir2
It can work all.

[2020-07-31 02:04] davebulaval commented on #4291
@efiop I will think about it and propose a PR this weekend.

[2020-07-31 03:16] efiop commented on #4307
@shawnlee103 Whoa, so even mixing the slashes works? O_o And so it puts `file2.data` into `C:\\dvc_repo\dir1\dir2` ?

[2020-07-31 03:18] efiop commented on #4307
Looking at that path, I would expect your NAS's sftp server to be something custom that can handle weird stuff like that, but I we need to double check the sftp spec. Any details about the NAS, btw? Anything special?

[2020-07-31 06:30] #4276 closed

[2020-07-31 11:49] nickdelgrosso commented on #3561
Is there any way to detect that it's been happening and make sure that the
.dvc .gitignore file doesn't contain duplicate entries?  At least it could
correct for the duplicate /tmp entry writing behavior from dvc.

On Thu, Jul 30, 2020 at 9:17 PM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-07-31 12:29] maxme1 commented on #4303
Yup, I'm still not sure what was the real cause of the problem.
My setup: several machines with NFS4-mounted HDDs, the cache is located on one of the shared drives.
The machines share a local network, no NAS is used.

[2020-07-31 16:51] maxme1 opened #4312 "Support multiple external cache locations"
I have a huge dataset (bigger than my hard drive) but there are several HDDs in my machine. It would be cool if DVC could manage several external caches, and, for example, switch to a new one, when the previous is full (but keep track of the previous one, of course).

If I get it correctly, the core of DVC is a hash table stored on the disk, with very neat features, such as synchronization between

[2020-07-31 17:59] PuneethaPai opened #4313 "`dvc diff --show-hash --show-md <commit>` shows only file paths, doesn't show md5 hash"
## Bug Report
`dvc diff` command has option to `--show-hash` for debug purpose.

Also the output can be formatted to json or md using `--show-json` and `--show-md` option.

Currently `--show-hash` works fine with normal output and `--show-json`. It is not showing hash for `--show-md`.

Example:
## Normal Text
[code]
## Json format:
[code]

##  Markdown format
[code]

### Please provide information

[2020-07-31 18:52] efiop commented on #3561
@nickdelgrosso Sure, we could read the whole gitignore and check for duplicates in https://github.com/iterative/dvc/blob/ed1c3a7a15d6101622a6d4ac708d9c548d6e1fd5/dvc/scm/git.py#L212 , though it might affect the perfomance a little bit (we do those gitignore checks on every dvc run), but that's likely negligible. It would probably be best to raise an error when we detect the duplicates, just to pre

[2020-07-31 18:53] efiop commented on #4312
For the record: might be related to multiple remotes somehow https://github.com/iterative/dvc/issues/3371

[2020-07-31 18:55] efiop commented on #4312
Discord context https://discordapp.com/channels/485586884165107732/485596304961962003/738737246345101313

[2020-07-31 18:56] efiop commented on #4303
@maxme1 If you run into this issue again, please let us know. Closing for now.

[2020-07-31 18:56] #4303 closed

[2020-07-31 19:37] jorgeorpinel commented on #4292
True, you could combine the args like `dvc repo -c some/path stage1 stage2`. OK, never mind about the alternative then.

[2020-07-31 19:42] jorgeorpinel commented on #4292
UPDATE: Yes, it is. So, strangely, `dvc repro` = `dvc repro -c subdir/ ../dvc.yaml` 🤷

[2020-07-31 21:36] gcoter commented on #4186
@efiop Sorry for my late response, I will try to implement your idea when I have time :slightly_smiling_face:

[2020-08-01 02:25] efiop commented on #4186
@gcoter No worries :) Thank you so much! :pray:

[2020-08-01 13:05] nickdelgrosso commented on #3561
All good points.  Yes, raising an error would probably be best.  I
definitely didn't need that file in tmp, I just didn't realize that
its presence was a problem.

On Fri, Jul 31, 2020 at 8:52 PM Ruslan Kuprieiev <notifications@github.com>
wrote:

[2020-08-01 16:48] jorgeorpinel commented on #4167
Not 100% sure I got the issue, workaround, and what's wrong in docs, but here's a small PR for you guys to check please: https://github.com/iterative/dvc.org/pull/1649

[2020-08-02 04:00] weekly-digest[bot] opened #4315 "Weekly Digest (26 July, 2020 - 2 August, 2020)"
Here's the **Weekly Digest** for [*iterative/dvc*](https://github.com/iterative/dvc):

 - - -
# ISSUES
Last week 28 issues were created.
Of these, 16 issues have been closed and 12 issues are still open.
## OPEN ISSUES
:green_heart: #4313 [`dvc diff --show-hash --show-md <commit>` shows only file paths, doesn't show md5 hash](https://github.com/iterative/dvc/issues/4313), by [PuneethaPai](https://

[2020-08-02 06:23] #4315 closed

[2020-08-02 14:21] antonkulaga commented on #4278
I am in favour of having everything in dvc yaml and dvc lock, otherwise you have a state where you have some files tracked by dvc.lock/yaml system and some by .dvc files. Also, .dvc files create a lot of headache for the newcomers to which I share my ML workflow as they often con

[2020-08-02 14:41] bobertlo commented on #4278
I personally like having the .dvc files. It makes sense in my head for the workflow. I wish there was like a `-g` flag in `dvc add` to automatically add them to the pending commit.

I track a lot of different datasets and I think git mechanics when reverting/merging should be considered.