[2021-04-15 13:54] csnick93 opened #5820 "dvc add --external <s3_bucket>: requests.exceptions.HTTPError: 403 Client Error: Forbidden for url"
# Bug Report

## Description

I am following the guide at https://dvc.org/doc/user-guide/managing-external-data to version a dataset sitting on s3. As a small toy example I have created a bucket, which contains a subdirectory that holds the images to be versioned, and another subdirectory for the cache. I.e. the structure is identical to what's provided in the example guide. I have configured the

[2021-04-15 14:03] dberenbaum commented on #5737
@dmpetrov After `dvc exp apply c9cd463`, wouldn't you always be making some modification, which will create a new experiment anyway? Otherwise, you would be duplicating step 3 of `exp-8b809`.

It seems this is only an issue if you check out the tip of the experiment branch, in which case you could do`dvc exp apply exp-8b809` instead.

By the way, getting back to the table format, `e9ebc70 (7af692d

[2021-04-15 14:26] dmpetrov commented on #5814
@pmrowla disabling should work. If it is a queue specific, does it make sense to extract it to `dvc exp queue` umbrella command? Might be related to #5615.

I see `dvc exp run --rev 452b20a --set-param lr=0.01` as a really useful shortcut for `apply+run` for regular workflow (not queue). It would be great to have that feature. Does anything prevent us from generalization this feature for both of t

[2021-04-15 14:27] friggog commented on #5556
@isidentical have you managed to repro this at all?

[2021-04-15 14:43] dmpetrov commented on #5737
@dberenbaum good point! In some cases, you do `apply xxxx & run` but it didn't work and you would like to continue the training in "old" checkpoint. However, the next training should start from head not from `xxxx`.

@pmrowla if we drop the support for straight line in no-modified training. Can we still have that if we train from head? Like:

[code]

Yep. It is another reason why sha-s are more co

[2021-04-15 14:46] dberenbaum commented on #5800
@jdonzallaz Are you collaborating with others on your project? Are these personal or shared credentials? I'm wondering how this would work on a team where everyone has personal credentials as dependencies, since it seems everyone will have to re-run each pipeline since the credentials will differ for everyone.

@pmrowla @jorgeorpinel Would this be solved by being able to cache data locally only (d

[2021-04-15 14:50] isidentical commented on #5556
No, unfortunately, I haven't encounter this error. If you can share your specific conditions (which login method are you using, which operation it is exactly failing etc) I'll try to work on it.

[2021-04-15 14:58] friggog commented on #5556
I'm using the DefaultAzureCredential with cached azure CLI credentials (run `az login` before DVC commands) and also ServicePrincipleAuth on Devops CI. Both have the same error with `dvc fetch some_files`

[2021-04-15 15:23] dberenbaum commented on #5737
I think we are saying the same thing here, so seems like we just need @pmrowla to confirm whether it will work as expected for this scenario. I was thinking slightly differently only in terms of syntax to avoid needing to introduce `continue` again:

[code]

[2021-04-15 20:04] dberenbaum opened #5825 "Provide more helpful warning when multiple files missing from cache"
When files are missing from cache and remote in `dvc repro --pull`, the warning message looks like:

[code]

See #5749.

As far as I can tell, we don't give any indication of whether this is the only file missing or what the other files are.

It would be nice to at least edit this message to make it clear that the listed file may be only one of many missing files.

It might not make sense to list

[2021-04-15 20:16] #5590 closed

[2021-04-16 01:04] jorgeorpinel opened #5826 "`exp run`: rename `--temp`?"
"The `--temp` option name is a bit confusing. I'd prefer something like `--background`."

We actually discussed the term "background" recently (for docs) and decided that it's misleading: `exp run --background` may sound like `$ exp run &` (on Linux). In reality there's no background process, but rather the experiment runs "outside the workspace" — the phrase we use in docs. That said, "temporary"

[2021-04-16 01:04] jorgeorpinel commented on #5814
We currently say that "You can add a `--rev` to continue from a previous checkpoint", and separately that `--rev` needed to resume `--queued/temp` runs. So are we saying that's incorrect and `--rev` is actually meant exclusively for out-of-workspace runs? Thanks

Extracted to #5826

[2021-04-16 01:06] jorgeorpinel commented on #5826
Users may understand that `--queue` runs in tmp dirs though so that's an argument for keeping `--tmp`. E.g. #5800

[2021-04-16 01:10] jorgeorpinel commented on #5750
Interesting. Another option may be to revert the behavior so that experiments are run as `--tmp` by default, and add a `--debug` option to run exps in the workspace. I think not being able to debug the process was the main reason to make workspace runs the default, right? Not sure that would help for the VSCode extension though.

And if that's done, then I think it's more justifiable that `exp sho

[2021-04-16 01:11] jorgeorpinel commented on #5826
Unless `--tmp` runs are made the default again, rel. https://github.com/iterative/dvc/issues/5750#issuecomment-820837713

[2021-04-16 02:01] pmrowla commented on #5814
@dmpetrov having the separate queue command is something that we will definitely need at some point, and it would make sense to move `--rev` into that set of commands at that time.

We could implement it this way, but it's not clear what we should be doing with changes in the users current workspace. As a shortcut for a pure `apply`+`run`, we would remove any modifications that the user has in the

[2021-04-16 02:18] pmrowla commented on #5737
From the engineering perspective, doing it this way would be preferable over traversing git history (in order to find the "oldest" branch).

We also don't need to have the limitation here:

We can allow the sha for `exp-7654` here - determining that a sha is an exact match for an `exp-` head is a cheap operation that does not actually require traversing any git history.

[2021-04-16 03:50] jorgeorpinel commented on #5814
I see. So `exp apply` would be the way to "resume" from a certain checkpoint?

*I guess that's what you said in https://github.com/iterative/dvc/issues/5814#issuecomment-820270004 (sry gets confusing with all the types of exps and runs).*

[2021-04-16 03:59] jorgeorpinel commented on #2575
Seems like that'll be the only part left after #5757.

[2021-04-16 04:03] jorgeorpinel commented on #5800
Yep, I think that's the idea that's forming in https://github.com/iterative/dvc/discussions/5816#discussioncomment-612195.

[2021-04-16 06:13] jorgeorpinel opened #5828 "`remote`: remove/hide `--project` option?"
`--project` is available along with `--system/global/local` for all commands that change DVC config. However it never has an effect in `remote add/modify/remove/rename` (which only write to config). So should we just remove it from those, or at least hide it in the CLI (and remove from docs) ?

[2021-04-16 06:15] jorgeorpinel commented on #5828
Cc @efiop thanks

[2021-04-16 08:10] pmrowla commented on #5828
The remote config commands should actually get proper support for reading/writing to other config locations: https://github.com/iterative/dvc/issues/5585

[2021-04-16 08:56] tomrutter opened #5832 "add: fails for repo on some windows mapped network shares for python >= 3.8"
# Bug Report

## Description

dvc add fails for repositories located on a windows network share for python >= 3.8

### Reproduce

For a network shared drive mapped to m:

[code]

### Expected

The file is added to the repo without error.

### Environment information

Windows 10
M: drive mapped to a network UNC path
DVC 2.0.17 installed using windows installer

**Output of `dvc doctor`:**

[code]

[2021-04-16 09:02] #5814 closed

[2021-04-16 09:11] efiop commented on #5828
As noted in the review, the main reason is symmetry right now. But also it allows one to be explicit with the commands, pluse potential for level-specific functionality in the future. It is not worth removing right now.

[2021-04-16 09:11] #5828 closed

[2021-04-16 09:17] #5817 closed

[2021-04-16 09:48] aecryan opened #5835 "Failed to pull data from the cloud - requires PyDrive2"
# Bug Report

  dvc pull: failed to pull data from the cloud - requires PyDrive2

## Description

 ERROR: failed to pull data from the cloud - URL 'gdrive://1SAdi_OyE4PrNJefIclu3v7Fc8FVtONTZ' is supported but requires these missing dependencies: ['pydrive2']. Please report this bug to <https://github.com/iterative/dvc/issues>. Thank you!

### Reproduce

 1. Cloned repo from GitHub with .dvc file
2

[2021-04-16 11:25] isidentical commented on #5556
I've reproduced your issue @friggog via using `DefaultCredentials`. The fix is simple though it is a bit in the gray line on whether we should fix it on the dvc itself or on the adlfs so I've opened a question on the adlfs upstream dask/adlfs#218

[2021-04-16 12:17] #5826 closed

[2021-04-16 12:24] dberenbaum commented on #5750
It looks like this fix is actually pretty straightforward and mostly implemented already by @pmrowla, so we can probably have the temp vs workspace workflow discussion elsewhere.

[2021-04-16 13:14] isidentical commented on #5835
@aecryan can you share the full output of `dvc pull -v -r remote_name`?

[2021-04-16 13:48] skshetry commented on #5835
@aecryan, please try doing `brew update && brew reinstall dvc`. This has been fixed in #5776 (see https://github.com/Homebrew/homebrew-core/pull/74742).

[2021-04-16 13:48] #5835 closed

[2021-04-16 15:48] dberenbaum commented on #5800
On second thought, I don't think a local cache would even be the right solution for credentials, because if they change, you probably want to use the updated version and not the cached version.

[2021-04-16 16:09] jdonzallaz commented on #5800
I'm not collaborating with other on this project. We have another project with DVC and collaboration, but the credentials (for the remote) are in the config.local. In this project, the credentials are (can be) shared, as they are specific to the project (and not the user).
But you're right that personal credentials will make the pipeline run again. I didn't think about this.

[2021-04-17 07:02] #5645 closed

[2021-04-17 09:53] gcoter commented on #5591
Thank you @iesahin for the fix, I think it is indeed more general :slightly_smiling_face:

[2021-04-17 12:14] jdonzallaz opened #5840 "metrics show: --precision argument has no effect"
# Bug Report

## Description

The --precision argument has no effect on `dvc metrics show` command. The displayed metrics are always round to 5 decimals.

### Reproduce

Add some metrics (scientific notation, not sure if it's related):
[code]
Output of `dvc metrics show` and `dvc metrics show --precision 8` is the same:
[code]

### Expected

Actually, I'm not sure what is expected in case of scien

[2021-04-17 13:59] karajan1001 opened #5841 "dvc list: Error on empty directory."
# Bug Report

Got error message on an empty directory, shouldn't it show nothing? like ls command.

## Description
![image](https://user-images.githubusercontent.com/6745454/115115559-bfcb1d80-9fc7-11eb-82d4-bb04d0413795.png)
Error when list a empty path, strange behavior.
Might relate to https://github.com/iterative/dvc/blob/daf07451f8e8f3e76a791c696b0ea175e8ed3ac1/dvc/repo/ls.py#L40-L41

### Rep

[2021-04-17 17:44] zimka commented on #5792
FYI I have created a PR for docs with problem description @efiop
https://github.com/iterative/dvc.org/pull/2392

[2021-04-17 18:08] zimka commented on #2095
I have a somewhat related problem now, where I want to organize a data registry that contains both public and private datasets, which would be used by multiple devs. Private datasets contain sensitive information, which should not be accessible for devs without necessity, while public datasets are accessible for everyone in the company. Every private dataset is different and independent, which mea

[2021-04-17 20:46] shcheklein opened #5842 "Basic operations performance on Win"
Context https://discord.com/channels/485586884165107732/485596304961962003/832144403635109898

CProfile: https://drive.google.com/file/d/1grD3dHgDatjarXbS6Z-Cye6DaeQKvdgT/view?usp=sharing

DVC version:

[code]

Regular (not network drive).

<img width="1413" alt="Screen Shot 2021-04-17 at 1 38 26 PM" src="https://user-images.githubusercontent.com/3659196/115126245-7d332200-9f82-11eb-80f6-29ef0640c

[2021-04-18 07:16] marius311 commented on #5625
Hey Ben, indeed small world! Thanks for the tips, I didn't know about mamba but that's helpful to know in general.

[2021-04-19 02:52] jorgeorpinel commented on #5750
Sure. I thought we weren't too keen to modify the locking mechanism.

[2021-04-19 03:42] pmrowla commented on #5750
Fixing the table displaying the unexpected single row does not require touching the repo lock behavior at all.

[2021-04-19 04:05] jorgeorpinel commented on #5797
Hey sorry, late to this party.

Is is possible to improve the messaging without adding an extra steps for users? What other advantage does the user get? Thanks

[2021-04-19 05:13] jorgeorpinel commented on #5797
p.s. that prevents AWS from loading the default credentials I think, which is a little different (as you mentioned). Whether it will still fall back to anonymous access for public buckets is probably not defined by that option.

[2021-04-19 05:42] #5750 closed

[2021-04-19 08:41] isidentical commented on #5797
We don't know whether a user simply forgot to add necessary information like `account_key` to their config or just meant anonymous login (it seems like a bit unorthodox to assume that a remote with anonymous login by default is added, since the use case can be generally satisfied by `get-url`/`import-url` with one-off operations). This would allow us to raise better error messages, for example lik

[2021-04-19 14:25] #5840 closed

[2021-04-19 14:32] jheister opened #5844 "metrics show --all-commits fails on corrupt historic commits"
When using `metrics show --all-commits` we got failures due to a historic commit where a `dvc.lock` file was committed with merge conflicts in it.

I think it would be best to skip (and log warnings) revisions where a `LockfileCorruptedError` is thrown.

[2021-04-19 15:09] #4992 closed

[2021-04-19 15:28] dberenbaum commented on #5844
Sorry, missed that you submitted a PR for this! I'll leave open for now then.

[2021-04-19 15:49] dberenbaum opened #5846 "replace `dvc run`"
Add `dvc stage add --run` option that mimics `dvc run` (adds a stage and reproduces it). See https://github.com/iterative/dvc/discussions/5819.

- [ ] Decide how to update docs due to this. Probably phase out all `run` examples and redirect its ref to `stage add`.

[2021-04-19 17:33] majidaldo commented on #5810
Yup. I think reasonable behavior is to have init be idempotent.

[2021-04-19 21:44] jorgeorpinel commented on #5797
Sure, I get that. But what's the benefit to the user? Sounds like a benefit for DVC (makes its implementation easier), which is great, unless we're making anonymous auth harder to use, or even to realize that it's available.

Those are very different features IMO. HTTP remotes have anonymous auth by default which is intuitive, why not public buckets?

Maybe we can still improve the messages withou

[2021-04-19 21:57] dberenbaum commented on #5797
Is the question whether we should always try anonymous login when other methods fail (vs. requiring `allow_anonymous_login = true`)?

[2021-04-19 21:59] jorgeorpinel commented on #5797
I thin this mainly relates to Azure and/or S3 remotes which already fall back to anonymous access (if the bucket is public).

[2021-04-20 03:52] karajan1001 commented on #5841
We have already had a test about this.

https://github.com/iterative/dvc/blob/68897aa0def4e509a27d75f2e78106495d08e0c4/tests/func/test_ls.py#L167-L173

and it was introduced from #3246 at the beginning of `dvc list` command.

[2021-04-20 04:42] skshetry commented on #5846
There's a small difference between current behaviour of `dvc stage add` and `dvc run --no-exec`, that the former tries not to check too many things and not fail as much as possible as a result of that. `dvc run` validates of a lot of things and runs the script. If the script fails or the validation fails, it won't dump that stage to `dvc.yaml`.

What should the behaviour of `dvc stage add --run` b

[2021-04-20 06:10] pmrowla commented on #5641
Issue is specific to NFS and pygit2 combination.

The NFS client works by creating `.nfs...` files in a directory any time a file handle to something in that directory is opened. Once all of the file handles are closed, the NFS client removes the `.nfs...` file. So if any file handles remain open at the time `shutil.rmtree` is used (to clean up the temp directory), `shutil.rmtree` will fail, since

[2021-04-20 06:17] pmrowla commented on #5641
Also for the record,  with regard to the original issue:

`.git/object/pack` is not empty during runtime (because of the NFS client `.nfs...` files). The directory appears empty after DVC has exited, because the OS explicitly closes all of the open file handles associated with the DVC process (including any handles which were opened by pygit/libgit), at which time the NFS client removes its `.nfs.

[2021-04-20 07:20] ashutosh-dwivedi-e3502 opened #5848 "config modify: doesn't respect bash expansions."
`dvc remote modify staging credentialpath ~/.aws/staging_credentials` results in a `.dvc/config` file like this :

[code]
However this won't work for any other user. Manually replasing the value of credentialpath to `~/.aws/staging_credentials` also doesn't work.
DVC version: 1.11.16.

[2021-04-20 07:37] ashutosh-dwivedi-e3502 commented on #5848
In the latest version = 2.0.18, pull works but push doesn't. It results in a `ERROR: unexpected error - An error occurred (AccessDenied) when calling the ListObjects operation: Access Denied ` error.

[2021-04-20 07:44] isidentical commented on #5797
Most of the time, they will get a proper error message. We could include `allow_anonymous_login=` in those error messages to make it usable to user too, which I guess satisfies both of the needs, what do you think @jorgeorpinel?

This is not going to be a common option for all remotes, but rather we'll use the same convention for the ones that actually support anonymous login but not as a first-cl

[2021-04-20 07:46] isidentical commented on #5797
Yes. Should we warn users if they forget to have secondary config values (like `account_key`) or just let it slide if the user explicitly declares that they might run into `anonymous_login` situation.

[2021-04-20 07:55] antonpetkoff commented on #5369
+1 for `dvc verify`! It is very useful for CI tests that prevent you from going forward with a stale pipeline.

[2021-04-20 08:09] isidentical commented on #5848
@ashutosh-dwivedi-e3502 can you share the full output of `dvc doctor` and `dvc push -v`

[2021-04-20 08:10] pmrowla commented on #5641
After some more investigation, it looks like libgit2s `git_odb_backend_pack` file handles to pack/index files are leaked in the event that some other process writes or modifies them after they were first opened in pygit2.

So it's a side effect of mixing git backends. When only using pygit/libgit, pygit2's `repo.free()` works as expected and does release whatever file handles it had opened (since

[2021-04-20 08:26] isidentical commented on #5768
With #5773, the performance of `update` is substantially improved;
|                            | before #5773 | after #5773 |
|----------------------------|--------------|-------------|
| dvc import-url --to-remote | 3m48,789s    | 2m10,561s   |
| dvc update --to-remote     | 9m16,278s    | 2m49,857s   |

A few future steps:
- [ ] Benefit from `verify` option
- [ ] Reduce the code duplication for

[2021-04-20 08:55] isidentical opened #5851 "add: unexpected error - read length must be positive"
Discord context: https://discord.com/channels/485586884165107732/563406153334128681/833985098234986536
DVC doctor;
[code]
Full output:
[code]

[2021-04-20 09:00] isidentical commented on #5851
This issue seems to be specific to 3.6 https://discord.com/channels/485586884165107732/563406153334128681/833990073787482112

[2021-04-20 11:52] pmrowla commented on #5638
For reference, while we are waiting on a `dulwich` release, anyone experiencing this issue can install the latest dulwich from source to get the fix (this will only work for DVC installed via pip)

[code]

[2021-04-20 11:57] jorgeorpinel commented on #5797
As you guys prefer, @isidentical. I just wanted to express my PoV in case it was useful. I'm still wondering if there's a way to improve messaging without needing the option though.

TBH I didn't quite get the suggestion but it sounds like it could help the UX so 👍

[2021-04-20 12:30] pared commented on #5451
@geblanco `params` command has now `--deps` flag and `exp show` has `--param-deps` flag to show only used params

[2021-04-20 12:32] dberenbaum commented on #5846
Good question! IMO let's keep it consistent with `dvc stage add` and keep it in `dvc.yaml` if it would have succeeded without `--run`. Thoughts @jorgeorpinel @shcheklein ?

[2021-04-20 13:32] efiop commented on #5679
Fixed by #5694

[2021-04-20 13:32] #5679 closed

[2021-04-20 13:47] dberenbaum commented on #5797
I think the explicit option here makes sense. Unlike http, login to s3 and azure requires credentials by default (see the stack overflow link above).

@isidentical Do you still have a question about what the behavior should be for allow_anonymous_login? IMO we should follow the ui of those remotes. For example, if you use no_sign_request in awscli, does it ignore credentials?

[2021-04-20 13:52] efiop commented on #5650
For the record: another user on mailing list is running into this.

[2021-04-20 14:09] isidentical opened #5853 "fsspec: adjust to using calendar versioning of fsspec / other remotes"
fsspec just released `2021.4.0`, which would mean that now other remotes will start pinning their fsspec dependencies. Before we can start updating our dependencies, we should wait all others to do the same (s3fs and gcsfs will make releases in a synchronized way with the fsspec, but it is a bit uncertain about adlfs). This issue is for tracking updates on the new fsspec stuff

[2021-04-20 14:23] pmrowla commented on #5684
Things to investigate for this issue:

1. For some reason this check (via dulwich's `porcelain.status()`) is returning that the workspace state is dirty on Windows, even though it should be clean
https://github.com/iterative/dvc/blob/d87ace0968656912db9e6de3b638b594ceeda43b/dvc/scm/git/stash.py#L35-L37

2. In our pygit `_stash_push`, we should catch this exception (nothing to stash) and then just

[2021-04-20 14:26] pmrowla commented on #5748
This is the edge case described in the last example from the `gitignore` docs: https://git-scm.com/docs/gitignore#_examples

The include/exclude patterns are not being merged properly when used in multiple levels of nesting, will need to be fixed somewhere in dulwich's `IgnoreFilter`:

https://github.com/dulwich/dulwich/blob/76dd8356f9d8870f44226e4232c24fbc1e573e93/dulwich/ignore.py#L202

[2021-04-20 14:37] shcheklein commented on #5797
(no opinion on my end, but may be it worth taking a look at how tools like `rclone` do this)

[2021-04-20 14:41] dpcabo opened #5854 "Unable to outpus directly to google cloud storage like dvc v1.11.6"
# Bug Report

## Description
Whe I try to run this stage y got this error but the file exists.
This error happens only with dvc 2.X, if I downgrade dvc to the version 1.11.6 this stage runs properly.

### Reproduce

1. Create a remote bucket in google cloud "mybucket"
2. Create a local file "touch delete.me"
3. Run dvc stage: `dvc run -n mystage -d delete.me --external -o gs://mybucket/delete.me g

[2021-04-20 15:03] efiop commented on #5854
Hi @dpcabo

We've removed support for gs because it was fundamentally broken for multipart objects. External output scenario is highly experimental in general and we don't recommend using it unless you really need to. But we are aware that there is a demand for that, so it is on our todo list to research it deeper and maybe propose a better general solution (related https://github.com/iterative/dv

[2021-04-20 15:03] #5854 closed

[2021-04-20 16:19] alealv commented on #5594
:wave:

I'm working with a huge dataset (5TB) and running `status` or `commit` command is becoming a bit annoying. I would expect them to take a lot of time but it's taken ages (I mean days to process) and before computing hashes, they don't give any output whatsoever. Hence I have no way of knowing if the process is dead or what.

So I decided to check if there is any way of improving the code an

[2021-04-20 17:02] mattangus opened #5855 "`dvc exp run` fails with uncommited submodule"
# Bug Report

`dvc exp run` fails when new commits exist in a git submodule that are not commited.

## Description

When a submodule exists that has some changed that are not commited to the root git repo. DVC fails saying `ERROR: unexpected error - 'cannot stash changes - there is nothing to stash.'`

### Reproduce

Have a git submodule and make some changes. Check those changes are not commited

[2021-04-20 21:21] austinyhc commented on #2432
I am also interested in this feature. 😁

[2021-04-21 02:02] shcheklein commented on #5848
`dvc remote modify staging credentialpath ~/.aws/staging_credentials` I think `~` is being substituted even before it hits DVC. Probably you should take into quotes and/or escape. If I'm not missing anything :)

If we allow or not `~` in the config - good question. Would be great to have it. Like @isidentical mentioned would be great to see the DVC version and logs.

[2021-04-21 02:14] shcheklein commented on #5846
Agreed. It sound simpler and users would add force if they need to fix and run it again.

[2021-04-21 04:40] mattseddon commented on #5712
@dberenbaum got a further requirement for this one in that we(`vscode-dvc`)'d like to have the option to query against the remote / cache (as well) for files/dirs that are not on disk, see [this comment](https://github.com/iterative/vscode-dvc/issues/176#issuecomment-823767200) for a better explanation and https://github.com/iterative/vscode-dvc/issues/176 for the why.

Can we track this request h

[2021-04-21 04:47] jorgeorpinel commented on #5846
➕

[2021-04-21 05:04] jorgeorpinel commented on #5846
Q. Will `run` get deprecated eventually or turned into an alias of `stage add --run`? The latter sounds nicer but the former may be less problematic (support-wise).

[2021-04-21 06:20] ashutosh-dwivedi-e3502 commented on #5848
Here are the output for the version = 2.0.18

`dvc doctor`
[code]
`dvc push -v`
[code]

[2021-04-21 06:28] ashutosh-dwivedi-e3502 commented on #5848
@shcheklein The default value of this parameter is `~/.aws/config, according to the docs. Not allowing the ~ in the user setting makes for a bad experience.

The alternative would be having to store the credential file etc in a location whose path is independent of the username, since the absolute path like /home/user_name1/.aws/some_credential_file would be different for every user, which doesn't

[2021-04-21 07:35] skshetry commented on #2432
Shameless plug: I have been working on a WebDAV library (https://github.com/skshetry/webdav4) based on `fsspec` that hopefully will be used in DVC.

I'd be interested in supporting Sharepoint Webdav after the basic features are implemented. I'd be happy to take contributions too (PTAL at how it's done in rclone: https://github.com/rclone/rclone/blob/cb30a8c80e339ce011bbdacd4c459b90cf5eb2a4/backend

[2021-04-21 08:32] isidentical commented on #5848
It seems like the operation now succeeds, right?

[2021-04-21 09:02] benjaminalt opened #5858 "dvc pull: (from hdfs) Missing dependencies on Linux & Windows"
## Description

When running `dvc pull` for a hdfs remote, I get various missing dependency errors, depending on how dvc was installed. I was not able to get `dvc pull` to work on either Windows or Linux, even after manually installing the missing dependencies.

Here is what I tried:

**1. Ubuntu 18.04, installation via `apt`**
[code]
I get the same error when downloading the `.deb` and installing

[2021-04-21 13:26] AhtiAhde opened #5862 "import-url: parent dir '../' gets truncated from the import path if I define output directory or file"
# Bug Report

## Description

If I try to us import-url for importing files from the local file system AND the files are outside of the active DVC workspace, the `../` part of the path will get truncated and I get error messages like:

[code]

As you can see the `-depencency  ...` has removed that path segment which has `../`

This doesn't apply only to the first `../` but all of them will get tru

[2021-04-21 13:30] louistransfer opened #5863 "`dvc remote modify` : the s3 wrapper doesn't accept the verify_ssl config parameter"
# Bug Report

The command `dvc remote modify remote_name verify_ssl false` fails to add the parameter verify_ssl = false to the config file when using the S3 connector.

## Remote modify raises an 'extra keys not allowed' error

## Description

I configured a S3 remote storage as a remote in dvc and I previously configured the aws-cli correctly. I have also installed dvc-s3.

Since we use a compan

[2021-04-21 16:01] pared commented on #5862
The issue seems to be originating in our [local output](https://github.com/iterative/dvc/blob/d87ace0968656912db9e6de3b638b594ceeda43b/dvc/output/local.py#L45) Where we generate relative path basing on stage `wdir` and imported URL `path` (relative one) and not considering the fact that `stage.wdir` might not be the same as `curdir` (which is the necessary ingredient required to resolve URL).

[2021-04-21 16:22] efiop commented on #5858
Hi @benjaminalt !

Would webhdfs be an option for you in the meantime?

[2021-04-21 16:33] pared commented on #5863
@louistransfer seems to me like we should fix docs - can you try `ssl_verify` instead of `verify_ssl`?

[2021-04-21 16:42] benjaminalt commented on #5858
Hi! I don't have administrative access to the hadoop server, so I can't set up webhdfs there. I can get the data another way though. If this issue can be reproduced by others, I still think it should be fixed (DVC + HDFS is probably a popular and certainly a powerful combination) in the medium term.
Am 21. Apr. 2021, um 18:22, Ruslan Kuprieiev ***@***.******@***.***>> schrieb:

Hi @benjaminalt<htt

[2021-04-21 16:47] louistransfer commented on #5863
@pared Thanks four your help ! Indeed, `dvc remote modify scality-test ssl_verify false` works as expected.

[2021-04-21 16:51] pared commented on #5863
Created PR for docs, closing

[2021-04-21 16:51] #5863 closed

[2021-04-21 17:02] efiop commented on #5858
@benjaminalt webhdfs might be already enabled by default, so if you can - give it a try. Webhdfs has an advantage of being an http-based, which means that there are no complex dependencies needed to use it.

You need to install libhdfs with hadoop, there is no alternative way, unfortunately. :slightly_frowning_face:

This one is temporarily excluded from snap package https://github.com/iterative/d

[2021-04-21 17:24] dberenbaum commented on #5712
@mattseddon I'm not sure I follow what you're trying to do. You want to show files in the vscode file explorer view even though those files don't exist in the local workspace?

Do you actually want to list the contents of the remote, or is that a proxy for listing dvc-tracked files that are not in the workspace? If it's the latter, you should not need to access the remote. It might be better to ke

[2021-04-21 22:39] mattseddon commented on #5712
@dberenbaum sorry for the confusion,

To begin with the latter but we may need the former in the future.

After working with the command for a while I realised that @skshetry had already detailed most of what I was seeing in his earlier post. [This comment](https://github.com/iterative/vscode-dvc/issues/176#issuecomment-823908161) details my exact findings.

It would be good to have the option to

[2021-04-22 04:59] ashutosh-dwivedi-e3502 commented on #5848
@isidentical pull succeeds but push doesn't.

[2021-04-22 06:19] gdiepen commented on #5684
Is there anything I can help testing/investigating for this @pmrowla ?

[2021-04-22 08:07] isidentical commented on #5848
I can't see any failure-related tracebacks in the logs of command `dvc push -v` that you just sent. How it isn't suceedding?

[2021-04-22 08:34] pmrowla commented on #5684
@gdiepen it's in our current sprint so hopefully a team member should get to it within the next week or 2, but if you want to investigate as well, feel free. Just see my previous comment for info on where to get started

[2021-04-22 09:37] ashutosh-dwivedi-e3502 commented on #5848
`dvc push` succeeded because of it was pushing to the default remote.  Here the output of `dvc push -v -r staging` which fails.

[code]

[2021-04-22 09:41] isidentical commented on #5848
Can you access the location of the `staging` via `aws s3 ls s3://path/to/staging`? It seems like you might have insufficient permissions or typed the wrong path

[2021-04-22 09:45] kevinhaybach opened #5864 "dvc pull --glob tries to pull dvcignored files and glob pattern is only applied to files that already exist"
As mentioned in topic I have found two issues
1. dvc pull --glob ".*json" tries to pull dvcignored files
2. dvc pull --glob "*.json" ignores the pattern and pulls everything

Explaination 1:
Lets assume I have a folder with two json files: file_1.json and file_2.json
file_1.json is in dvcignore

I run the command "dvc pull --glob "*.json"

The return is:
"ERROR: failed to pull data from the cloud

[2021-04-22 09:56] Roman- commented on #3402
This isn't as silly as it might seem, especially when one does `dvc add ./dataset1/*` which adds all subdirectories (with existing .dvc files!) of the `dataset1` directory. I think dvc should not cancel its job in these cases and just ignore adding .dvc files to dvc.

[2021-04-22 10:54] pmrowla commented on #5864
discord context:
https://discord.com/channels/485586884165107732/485596304961962003/834702940912222238
https://discord.com/channels/485586884165107732/485596304961962003/834707472572481586

[2021-04-22 11:15] skshetry commented on #5712
@dberenbaum, `--dvc-only` is quite an ambiguous option, I am not quite sure what it should reflect, the committed version or the *to-be* committed one or mix of both.

Regarding the use in the vscode-dvc, maybe it should use `dvc list` to get the current state and then use `dvc status` to fill in the gaps?

We might need to add more granular support for that in `status` though. `dvc list` serves a

[2021-04-22 11:19] skshetry commented on #5864
After https://github.com/iterative/dvc/pull/5273 is merged, we'll be able to glob actual outputs instead of the workspace.

[2021-04-22 11:30] isidentical commented on #5768
|                            | before #5860 | after #5860 |
|----------------------------|--------------|-------------|
| dvc import-url --to-remote | unchanged    | unchanged   |
| dvc update --to-remote     | 2m49,857s    | 2m24,000s   |

(update syncs %50 more data, and with that I think we are in a very good shape)

[2021-04-22 11:50] efiop commented on #5768
For the record: there are a few more tricks up our sleeves, e.g. not only using `verify` but also leveraging indexes that we have. So it will be cut even more. ;)

[2021-04-22 11:52] isidentical commented on #5768
What do you mean by indexes? state?

[2021-04-22 11:54] efiop commented on #5768
@isidentical I mean `dvc/remote/index.py`. E.g. for old `12345.dir` hash, if that object exists on s3, we can assume that every file in that directory already exists on the remote too. That's what we use for pull/push/status right now.

[2021-04-22 11:57] isidentical commented on #5768
Ah, I actually had a patch (in the old transfer() implementation) for that (with `known_hash`, maybe you remember). I might check later about whether I can port it to the current version or not.

[2021-04-22 11:59] efiop commented on #5768
@isidentical Oh, that's great! It will come in handy in the next steps for odb, let's discuss them during our next meeting. We'll need to port old dvc/remote logic to the new odb arch anyway, and all of those optimizations should automatically kick in for both push/pull/status/etc and --to-remote/to-cache.

[2021-04-22 12:00] efiop commented on #5768
@isidentical Though please feel free to send a WIP if you feel like it, it will help the discussion, maybe we are on the same page already ;)

[2021-04-22 14:21] mtszkw commented on #3484
Is this change still needed? This sounds like a perfect first issue to me @skshetry

[2021-04-22 14:22] benjaminalt commented on #5858
Thank you a lot for your explanations. I did the full Hadoop install and `dvc pull` worked. I intuitively did not expect to have to do this (and expected hdfs to be part of the dvc install) because I actually only wanted to download the data from the remote (which happens to use hdfs). Reading data from a hdfs server without being a Hadoop instance myself might be a niche use case, so I guess I'm

[2021-04-22 14:22] #5858 closed

[2021-04-22 14:37] efiop commented on #5858
@benjaminalt We really wish we could have a self-contained hdfs support too :smile: There is a very cool project that implements lots of the stuff in pure-python https://github.com/spotify/snakebite , but unfortunately it has been dead for 5 years now with no active forks :slightly_frowning_face: So for now we are stuck with heavyweight libhdfs approach or lightweight webhdfs.

Glad that it works

[2021-04-22 16:41] dberenbaum commented on #5712
@skshetry I'm still confused about whether any of the issues you noted are about `--dvc-only` or more generally about `dvc list`. Do we have any background on the rationale behind `--dvc-only`? Is there some known scenario or internal use for it?

Using `status` might make sense since it seems that `dvc list` is intended to be like `ls` with some additional dvc-specific fields for the files listed

[2021-04-22 16:57] skshetry commented on #5712
@dberenbaum, yeah, I didn't realize that difference.

This was never a problem before 2.0, as we always used to clone the repo and list from them, so there were no modified states. Initially, it was implemented as `--outs-only`, and I could find the following information in
https://github.com/iterative/dvc/issues/2509#issuecomment-532314755.

We could extend the `dvc status` to list all files with

[2021-04-22 18:03] dberenbaum commented on #5692
@DavidGOrtega What's the status on this? Would it make sense to find some time to discuss? Feels like the discussion thread has gotten pretty long for anyone to follow and includes multiple issues. Even if it's not a blocker for you, it's probably worth making sure the workflow makes sense for the typical CML user.

[2021-04-22 18:29] shcheklein commented on #5858
@efiop @benjaminalt quick question - would improving the docs/messages somehow can help to mitigate this?

[2021-04-22 19:03] dberenbaum commented on #5712
@skshetry thanks, #2509 helps a lot! It likens `dvc list` to `ls`, but the use case is about seeing the contents of a Git repo, which isn't really like `ls` to me since all of the DVC-tracked files are missing from the Git repo. For that use case, it seems like `dvc list` should ignore the workspace and show tree contents based on what's committed in Git, using HEAD by default. `ls` already can sh

[2021-04-22 20:16] DavidGOrtega commented on #5692
Sorry for the late reply. A review is also very good for me. We are preparing ```cml-pr``` which makes a PR with the needed files aside as a solution for dvc.lock and other non tracked dvc files as metrics, etc...
So it would potentially solve if not all, at least a lot of the issues. However dvc its going still to throw the errors that we know breaking the workflow. We can review this together.

[2021-04-22 20:28] shcheklein commented on #5712
A few tickets and discussions that are related to this:

https://github.com/iterative/dvc/issues/3590 (read comments as well)
https://github.com/iterative/dvc/issues/4875

there was a debate about this :) I think the idea was to show the whole tree, how would `ls` look like after you do `git clone` + `git checkout rev` + `dvc pull`. Mixing DVC cached files and Git tracked made sense because `dvc g

[2021-04-22 20:42] dberenbaum commented on #5712
Thanks @shcheklein! Feels like we are going in circles on what `dvc list .` should do 🤣 , which is probably a bad signal about the UI.

I agree that having `ls`-like behavior for `dvc list .` seems more natural. Why I suggested the other approach:

* It seems like this is a special case that's inconsistent with every other usage of `dvc list`. What should `dvc list . --rev HEAD` do then? What shou

[2021-04-22 20:47] shcheklein commented on #5712
In that paradigm (again, not a strong opinion):

it will indeed show the latest commit sate (should disregard any changes in .dvc and dvc.lock that are not committed) .. I think.

still show files. The whole intention to always show exact state as if you would run `dvc pull`. E.g. to pass it to `dvc get` or `dvc import` after that.

hmm, not sure I got the point here 🤔

💯

----

On a separate topi

[2021-04-22 20:56] dberenbaum opened #5865 "dvc list --rev: fails on local repo"
# Bug Report

## Description

When doing `dvc list . . --rev HEAD` or similar commands with `--rev` on a local repo, command fails.

### Reproduce

1. Start in an existing dvc repo
2. Run `dvc list -v . . --rev HEAD`

Output:
[code]

### Expected

Under discussion 🤣

### Environment information

**Output of `dvc doctor`:**

[code]

[2021-04-22 21:04] dberenbaum commented on #5712
I also don't have a strong opinion, but I find the command confusing and think we need it to be less confusing 😄 , so I appreciate the feedback to clarify.

From your comment in https://github.com/iterative/dvc/issues/3590#issuecomment-612558038:

These seem different to me, so maybe I misinterpreted. I thought the comment from #3590 meant that `dvc list .` would behave just like `ls` in this situ

[2021-04-22 21:24] shcheklein commented on #5712
I hope I meant that we take `.dvc` and `dvc.lock` from the workspace and also Git-tracked files "as is". And create a mix of the `ls .` + all outputs extracted from the current `.dvc` and `dvc.lock`. Kinda  `ls .` + virtual DVC-tracked files (or real if some of them exist in the wokspace)

To be honest I don't remember all the context, but it seems to be that the major thing in that ticket was abo

[2021-04-23 00:17] dberenbaum commented on #5712
So in the scenario @skshetry proposed:

Would you say that `dvc list . data` should show `foo` and `bar` since that would match what's in `data.dvc`?

If someone ran `dvc commit`, then `dvc list . data` should show `foo` and `foobar`?

[2021-04-23 00:41] shcheklein commented on #5712
Good question :) 🤔🤔🤔🤔

If we go into showing workspace as-is (for both Git and DVC files), then it makes sense to show data as-is as well. In this case show `foo` and `foobar` (not `bar`).

or indeed go into `dvc list . --rev=HEAD` mode by default - also simple to explain, more magic to first time users I think.

[2021-04-23 02:59] #5593 closed

[2021-04-23 04:39] mattseddon commented on #5865
Good thing I checked because I just ran into the exact same problem (probably even doing the same test).

[2021-04-23 05:10] mattseddon opened #5866 "list . : inconsistent behaviour"
# Bug Report

## Description

Inconsistent behaviour for `dvc list . --dvc-only` depending on use of `-R` and the directory queried.

### Reproduce

In the vscode demo project (which is a subdir) there is a dvc tracked folder (`data/MNIST/raw`) which contains 8 datasets:
[code]

After deleting `t10k-images-idx3-ubyte.gz` and running the following command:
`echo 'dot -R from the root lists all' &&

[2021-04-23 05:28] mattseddon commented on #5712
The option to get a more granular status would be great, it would eliminate a lot of work needed on the vscode side and the granularity that we could then display would be useful to users.

&

Looks different. Raised https://github.com/iterative/dvc/issues/5866

The behaviour of `dvc list . --rev HEAD` is probably what I am after in this specific case but [it is currently broken](https://github.co

[2021-04-23 07:16] benjaminalt commented on #5858
@shcheklein When installing dvc, I naively thought it would automatically install all of its dependencies, like most other apt or snap packages. The documentation for the `pip` install (https://dvc.org/doc/install/linux#install-with-pip) explicitly states that for some types, optional dependencies would be installed. Maybe analogously there could be a statement for all install methods that for som

[2021-04-23 11:54] phipsgabler opened #5868 "exp run: date values are not treated as strings"
# Bug Report

## Description

Parameters to be stored in a JSON file that are ISO dates (`yyyy-mm-dd`) are automatically treated as date values by `exp run`, it seems -- which then errors when writing them to JSON.

### Reproduce

Clone [this test repo](https://github.com/phipsgabler/dvc_testrepo) and try the following:

[code]

Both `2021` and `2021-02` work and are parsed as an integer and a str

[2021-04-23 14:52] courentin opened #5869 "diff: with `--targets` and `--hide-missing` produces `KeyError: 'not in cache'`"
# Bug Report

## Description

When passing both `--targets` and `--hide-missing` to `dvc diff`, I have the following error:

[code]
Ran: `dvc diff --hide-missing --targets dvc.yaml -v`

**Additional Information (if any):**

<details>
<summary>Full log</summary>

[code]

</details>

[2021-04-23 15:40] dberenbaum commented on #5712
Thanks @mattseddon! That all makes sense to me, except for one thing I want to clarify:

So you want `dvc status` to have an option to show which specific files are missing from directories? Otherwise, it seems like `dvc status` already shows all files not on disk as deleted unless I'm missing something.

[2021-04-23 15:49] dberenbaum commented on #5712
You had me convinced and then you changed your mind 😄 !

Showing everything on disk as-is makes this completely redundant to `ls`, right? If it instead shows what is expected based on the dvc files in the workspace, this seems like it at least adds value and is more consistent with `dvc list someurl`.

What about files that are not tracked by git or dvc but are on disk in the local workspace?

[2021-04-23 17:42] shcheklein commented on #5858
@benjaminalt thanks, I've added a small note here https://github.com/iterative/dvc.org/commit/ef40410a8136b3a01e42c967bda60c233f6aac7f . I'll be redeployed soon and can hopefully save other users time.

[2021-04-24 00:29] shcheklein commented on #5712
not exactly, since in all the options we discuss (at least I had in mind) we always show `data/data.xml` for `data/data.dvc` even if it's not present.

yep, it makes sense to me. Kinda "after `dvc pull`" semantics?

I would probably still show them, I guess.

WDYT?

[2021-04-24 20:18] pared commented on #5868
Seems that even "normal" run suffers from this problem:

[code]

results in:

[code]

[2021-04-24 20:57] pared commented on #5869
Seems like the problem occurs if we return empty dictionary from within [repo/diff](https://github.com/iterative/dvc/blob/54c0675fc664cd97394a1f789aaa385a5205a304/dvc/repo/diff.py#L99). If we provide `--hide-missing` option, we try to delete non existing entry. Simple solution would be to just delete the key only if it exists. Other one, probably more appropriate would be to check whether diff can

[2021-04-24 23:59] dberenbaum commented on #5712
This is where I'm still confused since these seem contradictory to me, unless you are suggesting that directories are a special case.

To be honest, I was thinking we shouldn't show them 🤣 . I'm leaning towards keeping behavior consistent with `dvc list remoteurl` (except for not cloning).

[2021-04-25 05:09] shcheklein commented on #5712
No, I agree (note: a few previous example above I was wrong/had different semantics, I'm also adjusting my thinking as we go :) ) that we should treat directories and files the same way. We read the corresponding `.dvc` or `dvc.lock` entry and show the corresponding directory content or data file to those hashes. But we read them (`.dvc` or `dvc.lock`) "as-is" from the workspace, even if the are "

[2021-04-25 15:58] Diyago opened #5870 "dvc add causes ERROR without saying that's the problem"
# Bug Report

## Description
dvc add causes ERROR without saying that's the problem.
We need clear explanation that is wrong

### Reproduce

(venv) (base) insaf@MacBook-Pro-Insaf test_gan % dvc add ../tabgan/Research/data/credit/credit.gz
Adding...
ERROR: /Users/insaf/Desktop/ml projects/tabgan/Research/data/credit/credit.gz

### Expected
Add file to dvc config file

### Environment information

*

[2021-04-25 18:57] efiop commented on #5870
Hi @Diyago Please add `-v` to the command you are running and post full log for it.

[2021-04-25 19:46] tyommik opened #5871 "s3 performance is slow"
# Bug Report

 DVC (s3 client)
- Bucket 40Gb - 410k files (each file <= 400KB)

[code]

When I did dvc pull -j 20 maximum speed was 80 mbit/sec but average was about 40. I download the bucket for 220 minutes.

What I tried else:
dvc pull -j 80 - no improvements.
awscli - aws tool can maximum **160** Mbit/sec downloading speed. I tried different settings, but I couldn't exceed the limit.
s4cmd - ma

[2021-04-25 21:30] Diyago commented on #5870
(venv) (base) insaf@MacBook-Pro-Insaf test_gan % dvc doctor -v
DVC version: 2.0.18 (osxpkg)
---------------------------------
Platform: Python 3.8.9 on macOS-10.16-x86_64-i386-64bit
Supports: All remotes
Cache types: <https://error.dvc.org/no-dvc-cache>
Caches: local
Remotes: None
Workspace directory: apfs on /dev/disk1s1s1
Repo: dvc, git
2021-04-26 00:29:35,091 DEBUG: Analytics is enabled.
2021-0

[2021-04-25 21:31] Diyago commented on #5870
(venv) (base) insaf@MacBook-Pro-Insaf test_gan % dvc add ../tabgan/Research/data/credit/credit.gz --verbose
2021-04-26 00:30:46,405 DEBUG: Check for update is enabled.
Adding...
2021-04-26 00:30:46,661 ERROR: /Users/insaf/Desktop/ml projects/tabgan/Research/data/credit/credit.gz
------------------------------------------------------------
Traceback (most recent call last):
  File "dvc/command/add.

[2021-04-25 22:10] pared commented on #5871
Might be influenced by https://github.com/iterative/dvc/pull/5683

[2021-04-26 07:32] skshetry commented on #5793
I'm working on keeping the behavior same as `git` as proposed on https://github.com/iterative/dvc/issues/4060#issuecomment-769846201. But very few people will be able to see this as most users will have `PAGER` or `LESS` set.

[2021-04-26 07:49] csnick93 commented on #5820
Hey @isidentical,
so the `bug` label means that it's a confirmed bug on your end I assume? Also I see that this bug has been removed from the sprint list, does that mean its fix is postponed to a later date? Just asking so that I can plan my activities accordingly :)

[2021-04-26 09:29] karotchykau commented on #5081
At the moment `DVC` handles local repos without cloning (which should resolve the current issue). However, there was the [issue#5590](https://github.com/iterative/dvc/issues/5590) that didn't allow local repos to be used. It has been fixed in the [PR#5822](https://github.com/iterative/dvc/pull/5822), therefore, this issue is resolved too.

[2021-04-26 09:29] #5081 closed

[2021-04-26 09:44] iksnagreb opened #5875 "import: using relative repo url in subdirectories cannot be cloned from project root (or other subdirectories)"
# Bug Report

## Description
Importing data from a git repository referenced by a relative path breaks dvc commands which try to clone the repository (e.g. `dvc status`) from other directories (esp. from the project root). The relative repository url is not resolved correctly from other than the original location.

**The error message looks like:**
[code]

### Reproduce
[code]

### Expected

### E

[2021-04-26 11:56] pared commented on #5875
Might be related to https://github.com/iterative/dvc/issues/5862

[2021-04-26 12:12] efiop commented on #5870
@Diyago Thanks! Ok, so the issue is that the file you are trying to add is outside of your dvc project. Could you elaborate on what you are trying to do?

We should improve the error message for that exception, that's for sure.

[2021-04-26 12:23] Diyago commented on #5870
The file outside of your dvc project - yes, that's right. But is the problem of doing?

Im trying to add file to track for the dvc

[2021-04-26 12:26] efiop commented on #5870
@Diyago Yeah, `dvc add` is similar to `git add` in that it expects you to add files/dirs that are inside of your project. You could copy/move it into your repo and then

[code]

or you could tell dvc that you want it to take that file and put it as `credit.gz` into your repo, e.g.:

[code]

[2021-04-26 12:29] #4724 closed

[2021-04-26 12:29] efiop commented on #4724
Closing as stale for now.

[2021-04-26 12:36] efiop commented on #5557
@courentin Sorry for the delay. Could you elaborate, please?

Do I understand correctly that you want to switch locks to not re-run the whole pipeline when the params are restored? If so, we also have run-cache feature that caches stage runs and will try to restore lock without re-running your commands, if it finds that hashes for command and dependencies match an existing entry.

[2021-04-26 12:38] efiop commented on #5665
Closing as stale.

[2021-04-26 12:38] #5665 closed

[2021-04-26 12:40] isidentical opened #5877 "fsspec: use find() for walk_files() and optimize status calls"
Currently, we use `.ls(recursive=True)` for `walk_files()` under the hood, which is not a really efficient method especially for cloud providers where they don't actually offer a proper listing directory-based API without actually retrieving a part of the results. The `.ls(recursive=True)` is something that we intend to remove and replace in the future with the proper APIs that it is using (curren

[2021-04-26 12:40] efiop commented on #5728
Closing for now, as it won't be implemented in any recent future, as it doesn't fit into the design.

[2021-04-26 12:40] #5728 closed

[2021-04-26 13:11] karajan1001 commented on #5870
Maybe we can make a more friendly message.

[2021-04-26 17:41] dberenbaum commented on #5712
@skshetry Any questions on the last suggestion from @shcheklein above?

[2021-04-26 17:45] geo7 commented on #4903
Hopefully this fits here - just to note that I had to remove data from dvc and found it quite difficult / confusing.

# Remove single file added by mistake

The following are the steps I took to remove a **single** file which was added
to dvc and GCP (Google) remote (though please let me know if there's anything
that looks off).

-------

Should the following happen:

* sent confidential data `wro

[2021-04-26 18:42] efiop commented on #5870
@Diyago Did one of those commands work for you?

Keeping this issue open for error message fix.

[2021-04-26 23:45] mattseddon opened #5881 "list: Add --show-json (or similar flag)"
In the vs code project we have a view that uses `dvc list . --dvc-only` to show all paths that are tracked by DVC in a tree view.  Reasons for this view, some discussion around it and a short demo are shown here: https://github.com/iterative/vscode-dvc/issues/318.

At the moment we take the stdout from the command, split the string into a list (using `\n` as a delimiter) and then post process to w

[2021-04-27 05:16] jorgeorpinel opened #5882 "`exp`: expose implementation (custom Git refs)"
Specifically, `apply` and `branch` are wrappers of narrow/complex `git` operations. Originally we didn't want users to worry about how experiments are implemented. That makes sense but is it the practical approach? If users are already familiar with Git (at least some, at least somewhat), why not expose the fact that exps are commits/branches that can be targeted by (certain) regular Git commands?

[2021-04-27 05:20] shcheklein commented on #5882
(I think this can be moved to the discussions?)

[2021-04-27 05:20] #5591 closed

[2021-04-27 05:56] jorgeorpinel commented on #5882
(Probably. I assume this will be a discussion, so I'm fine with that. But TBH discussions feel like archived issues sometimes.)

[2021-04-27 06:03] pmrowla commented on #5882
The main limitation with forcing users to use CLI Git for these kinds of operations is that they cannot use experiment names with CLI Git. Additionally, the 1:1 substitutes for certain exp commands like would be low-level plumbing commands which users are probably unfamiliar with.

As an example, `exp remove exp-123` would need to be replaced by
[code]
which is probably not something we want to te

[2021-04-27 06:58] pmrowla commented on #5684
Upstream dulwich bug report: https://github.com/dulwich/dulwich/issues/865

[2021-04-27 09:07] karajan1001 commented on #5557
Sorry, I do not have access to Lalilo.

[2021-04-27 10:59] mistermult opened #5886 "move: creates inconsistency when moving tracked file into tracked folder"
# Bug Report

## Description
Assume that you track the whole folder `dir1` with `dir1.dvc`. You cannot add an extra file `dir1/a.txt` and track with `dir1/a.txt.dvc` (with the command `dvc add a.txt` you get an error). However, you can first create a file `b.txt` outside `dir1` and move it with the .dvc-file into  `dir1` with `dvc move`.

### Reproduce

[code]

### Expected
I excpeted one of the t

[2021-04-27 11:33] friggog commented on #5556
@isidentical In the interest of making this functional for DVC users can we fix it here now even if not the perfect solution, then if eventually it gets fixed in adlfs the alterations can be removed from DVC?

[2021-04-27 12:00] karajan1001 commented on #5886
@mistermult , thanks.

Strange, but I had tested on the latest version, it can be reproduced. In my opinion, it is a bug.

[2021-04-27 13:37] #5576 closed

[2021-04-27 15:07] ashutosh-dwivedi-e3502 commented on #5848
@isidentical I can access it.
The same command works fine when I give the full path in the `credentialpath` setting instead of the one with ~

[2021-04-27 15:24] xkortex commented on #3069
If you are going through the process of parameterizing the hash algo, you still ought to enforce some set of vetted algorithms/implementations. Compared to the difficulty of preimage/collision attacks, it's far too easy to compromise either the configuration which sets the hash function, or tweak the metadata such that it accepts a weaker hash.

MD5 is the weakest of the `hashlib` available algos,

[2021-04-27 17:09] iesahin commented on #3069
My 2c:

- IMO configurable hash algorithm opens a whole can of worms in terms of security, maintenance and documentation. It can be supported architecture-wise and the algorithm could be updated with a simple patch, but having an option to change this at the user level is not a good practice.  It's a _decision of indecision_. Even MD5 should not be available for the new repositories.

- Using the

[2021-04-27 20:42] dberenbaum commented on #5392
See https://github.com/iterative/dvc/discussions/5891 for `--quiet` guidelines

[2021-04-27 20:44] dberenbaum commented on #5392
@skshetry Are there other issues that can be linked here?

[2021-04-27 22:23] jorgeorpinel commented on #5882
Hmmmm OK.

Here's my thought process: from our many iterations on Experiments docs I've realized it can get pretty tricky to explain experiments without the context of how they're implemented, which is why I think maybe it would be easier to expose it anyway. Whether we keep some of these utilities or not.

So maybe just consider removing `exp branch` (only one that can be easy subs with `git`, it

[2021-04-28 00:17] xkortex commented on #3069
I agreed that the fewer degrees of freedom, the less complexity there is. However I still see two different points of parameterization - within the DVC codebase, and user-configurable. The former just implies it would be straightforward to swap out the hash algo used by the codebase - i.e. minimize reliance on hard-coded values. I think this ought to happen regardless, as  MD5 should be sunsetted.

[2021-04-28 00:56] pmrowla commented on #5882
The issue with being unable to use exp names still applies with `git branch`, but yes, you can do `git branch <new-branch-name> <exp-SHA>` to get the same behavior

[2021-04-28 01:28] iesahin commented on #3069
Let me give an example:

Suppose Alice and Bob share a remote. Alice configures to use Blake3, Bob wants to use SHA256.

Now, we don't have any metadata in remotes that show which hash algorithm is used. They are simple directory trees with a deterministic structure. How will we solve this? We need to keep metadata in remotes. That means all remote and cache-related code should be updated just to

[2021-04-28 02:17] jorgeorpinel commented on #5882
On the issue of exp names one option would be to show/list command SHAs by default instead (if we eventually decide to expose the underlying Git implementation).

[2021-04-28 08:29] pmrowla commented on #5684
A temporary workaround for this issue is to just explicitly do

[code]
in your repository on Windows.

Windows Git sets this by default in the system level .gitconfig, but the upstream bug is that dulwich currently only checks the repo and global (user home directory) level configs (and not system level) for `core.autocrlf`.

[2021-04-28 09:35] iesahin commented on #5882
I do think the opposite, there are already too much Git-related messages, e.g., I'd simply commit the changes (subject to an option) instead of telling the user "You can now `git add .gitignore dvc.lock etc.dvc`". For the experiments, in particular, emphasizing to play with the related Git objects will result in more headaches for them, I think.

[2021-04-28 10:39] #5877 closed

[2021-04-28 13:13] #5870 closed

[2021-04-28 14:49] dberenbaum commented on #5882
Interesting discussion!

This is a common suggestion since it feels like dvc requires an extra step that many users will always be doing by default. I think forcing users to `git add` gently forces them to understand what dvc is doing. If dvc committed all those files automatically, many users would have no idea that `.gitignore` gets modified or that `dvc.lock` or `.dvc` files even exist or how t

[2021-04-28 15:50] efiop commented on #359
For the record: if anyone would be interested in contributing figshare support, one would need to start at implementing fsspec-compatible figshare filesystem https://github.com/intake/filesystem_spec . DVC is on its way to supporting fsspec plugins, so we once figsharefs is implemented, you'll be able to use it with DVC.

[2021-04-28 21:54] dmpetrov commented on #5793
It would be great to have similar to Git behavior. However, it is not limiting by --no-pager/less mode. In Git when I quite from the less mode (like `git log`) I still see the output. I would not need `--no-pager` option of `exp run` if this would be the case. But the current default mode clears out the output - that's the problem.

@skshetry could you please clarify what users will see after quit

[2021-04-29 04:02] mattseddon opened #5895 "`status`: add `--dvc-only` & `--outs-only` flags"
My current understand is that the `status` command is focused on pipelines. In the VS Code project we currently only need information on the dvc tracked files (for use in our custom SCM view and file decoration).

Ideally, we would like to have a way to limit the output to `changed outs` which are tracked by DVC.

My suggestion for doing this would be to add two flags `--dvc-only` and `--outs-only

[2021-04-29 06:15] jorgeorpinel commented on #5882
Idk if that's a problem. There's no way around the fact that DVC versioning and other features (experiments) need Git.

The problem with just asking users to "commit changes to Git" is that some people may not know what to do exactly. Failing to copy/paste `git commit .gitignore data.dvc` is much less likely.

Great principle. I think that as far as DVC builds up on Git, we may need to educate abo

[2021-04-29 06:15] #5882 closed

[2021-04-29 09:59] rmlopes opened #5899 "run-cache storage at Azure"
Hi,

I would like to setup an external Azure remote for the run-cache. It is not mentioned in the docs how to configure it (similarly to what is done with S3 or GCloud). Is this not supported yet?

[2021-04-29 12:27] lefos99 opened #5897 "dvc exp run: is much slower than dvc repro for running a stage"
# Bug Report

## Description

Right now, our team is using mainly `dvc repro` to reproduce stages. Since we updated to DVC 2.0, I tried the new `dvc exp run`, which can execute similarly my pipelines but much slower.

### Reproduce
In a simpler environment, I cannot see the problem, so I am going to describe how I executed it in my project.
`dvc dag generate_testing_data` looks like this:
[code]
S

[2021-04-29 14:03] dberenbaum commented on #5895
What about `dvc diff`?

[2021-04-29 16:48] efiop commented on #5899
@rmlopes Could you elaborate, please?

[2021-04-29 19:21] pared commented on #5539
`test_params_order` has been fixed in #5550

[2021-04-29 20:24] rmlopes commented on #5899
@efiop sure, indeed there seems to be some confusion on my side. I think I mean run-cache correctly though, as it states in the docs "setting an external cache location" so that we don't have to do a commit for every experiment (I have setup remote storage for data, I intended to do the same for the run-cache, and I did come across the external outputs section and noticed the disclaimer but for no

[2021-04-29 21:50] JoaoDeDynam opened #5900 "dvc add throwing numpy error"
# Bug Report

## Description
dvc add throwing numpy error when trying to add directory or single file

### Reproduce

dvc init
dvc add <path_to_file_or_directory>
Adding...
ERROR: unexpected error - module 'numpy' has no attribute 'float64'

Having any troubles? Hit us up at https://dvc.org/support, we are always happy to help!

### Expected
directory/files added to .dvcignore

### Environment inf

[2021-04-29 21:52] efiop commented on #5899
Could you point out the doc that says that, please?

During normal workflow when you `dvc push/pull` data to/from a remote, you could specify `--run-cache` option that will also transfer the run-cache (and use --pull in `dvc repro` to automatically try to pull the results according to run-cache). If you are using a shared cache dir (`dvc config cache.dir /path/to/dir`), run-cache will be shared au

[2021-04-29 22:23] efiop commented on #5900
@JoaoDeDynam Please add `-v` to `dvc add` and show full log. Also, please provide `dvc doctor` output.

[2021-04-29 22:41] JoaoDeDynam commented on #5900
<img width="434" alt="Screen Shot 2021-04-29 at 3 40 56 PM" src="https://user-images.githubusercontent.com/83429637/116627072-4bff0e00-a901-11eb-836a-727026ab81c7.png">
This is my dvc doctor ouput

[2021-04-29 22:42] JoaoDeDynam commented on #5900
dvc add -v <path_to_file>
2021-04-29 15:41:28,455 DEBUG: Check for update is enabled.
Adding...
2021-04-29 15:41:28,875 ERROR: unexpected error - module 'numpy' has no attribute 'float64'
------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/local/lib/python3.9/site-packages/dvc/main.py", line 55, in main
    ret = cmd.run()
  File "/usr/local

[2021-04-29 23:01] efiop commented on #5900
@JoaoDeDynam Could you run `pip check` and show the results?

Likely your environment is corrupted, you've probably installed some package that requires an older numpy, which made networkx break. Or maybe there is a similar situation with networkx.

If you are not using dvc as a python library and only use it through CLI, consider installing dvc from homebrew `brew install dvc`, that way it will h

[2021-04-30 00:07] rmlopes commented on #5899
The quote is from the [config cache docs](https://dvc.org/doc/command-reference/config#cache). But it seems that I got there from the "external data management" doc as you said. If I understood you correctly when we use the `--run-cache` flag  on a push it will add the run-cache to the remote blob (the same that is used for data and models if we are not using a registry repository). A person or ag

[2021-04-30 00:15] JoaoDeDynam commented on #5900
pip3 check
timezonefinder 5.0.0 requires numpy, which is not installed.
tifffile 2021.1.14 requires numpy, which is not installed.
snuggs 1.4.7 requires numpy, which is not installed.
scipy 1.6.0 requires numpy, which is not installed.
scikit-image 0.18.1 requires numpy, which is not installed.
rasterio 1.1.8 requires numpy, which is not installed.
pywavelets 1.1.1 requires numpy, which is not ins

[2021-04-30 00:17] JoaoDeDynam commented on #5900
At this point, the team has not decided on using the Python API, but it very likely could become one of our goals. At this point we want to take advantage of the large file storage capabilities and likely use the CLI with Jenkins. We run everything in docker-compose, so I don't really need the pip package installed locally, so I can uninstall that if it is what is causing the issue.

[2021-04-30 01:00] karajan1001 commented on #5900
Yes, NumPy is required for DVC.

[2021-04-30 01:18] #5641 closed

[2021-04-30 04:59] efiop commented on #5900
It says that numpy is not installed. Something is going on with your environment, you could try recreating it and installing it from scratch. Or consider homebrew package for your mac or https://github.com/iterative/dvc-s3-repo deb/rpm package for your docker image.

Closing since it is a particular env problem. Let us know if one of workarounds works for you.

[2021-04-30 04:59] #5900 closed

[2021-04-30 05:54] mattseddon commented on #5895
Hey @dberenbaum,

I've checked out `diff` and it seems to provide what we need but (and this is a big but) the performance of `diff` is even worse than that of the `list`. That is true even if I specify `--targets`.

It also provides more granular support for directories which we have decided to not pursue right now.

Do you think the performance of `diff` could be considerably improved? Could we

[2021-04-30 06:12] #5737 closed

[2021-04-30 06:24] skshetry commented on #5793
@dmpetrov, well I have two ideas:

1. Print the table in a pager mode and in a non-pager mode after the pager exits. This way, you will see a non-collapsed form in the table and collapsed form after it exits.
2. `DVC_PAGER="less -FRSX~" dvc exp show` -> This way, if the content can fit within the screen (vertically and horizontally), no pager will be used.  Otherwise, the pager will be shown where

[2021-04-30 06:50] pmrowla commented on #5793
@dmpetrov

This is not actually default Git behavior (when I quit from `git log` inside a pager I do not see the output). It sounds to me like something in your machine/environment is configuring the system pager to be `less -X`.

Can you run
[code]
in a terminal and see what it outputs?

---

IMO we should leave the existing defaults, and if the user wants the `-X` behavior, they can configure `D

[2021-04-30 08:05] pmrowla commented on #5793
You can disregard my last comment, I see where Dave linked the git docs w/the info about their defaults now.

Using the same `less -FRSX` defaults makes sense to me

@skshetry

[2021-04-30 08:22] skshetry commented on #5793
@pmrowla, `dvc exp show` needs `-R` to work properly. `PAGER` is usually set to `less` and `LESS` is already set up in my machine with `-R` (by ohmyzsh?), but we cannot say the same for everyone. So it feels like we cannot just honour `$LESS`.

I'd propose we detect if the pager is `less` (with `DVC_PAGER`, `PAGER` and `DEFAULT_PAGER` in order), and apply `-R` even if `$LESS` is specified (this sh

[2021-04-30 09:08] rabefabi opened #5902 "`ERROR: failed update data - <...> is git-ignored.` - Space in empty line in `.gitignore` breaks `dvc update`?"
# Bug Report

The following command fails:

[code]

## Description

After having upgraded from dvc version 1 to version 2.0.18  the error above appeared, with no other changes to the repo.

The problem is, the `data/ham10000.dvc`  is not git-ignored. I verified this by changing that file and these changes being noticed by `git status`.

I then played around with my `.gitignore`, and realized that

[2021-04-30 09:33] isidentical commented on #2884
just to note: s3fs and gcsfs already have some sort of recovering system for connection timeout errors (it is configurable with setting `retries=...`, and defaults to 5)
https://github.com/dask/gcsfs/blob/60be1b9446c70277714c2ee24b9fe2be76e9c979/gcsfs/core.py#L547-L549
https://github.com/dask/s3fs/blob/35b703ed82b40b1ac449cbc4c354aefe527fa8bd/s3fs/core.py#L235-L238

[2021-04-30 09:40] #5881 closed

[2021-04-30 13:02] dberenbaum commented on #5525
@pared One specific use case here is where one of the commits in the diff has no dvc.lock. Can we make sure that diff doesn't throw an exception in that case?

[2021-04-30 14:00] dberenbaum commented on #5895
I think your initial instinct was probably right that `status` is a better starting point if you aren't interested in the granular directories.

It seem like there are two ways in which `dvc status` fails to meet your needs for now:
1. The format of the output isn't great because it includes stage/dependency info you don't need and is organized by stages instead of files.
2. It's slow.

Are both o

[2021-04-30 14:09] pared commented on #5525
Ill inspect that use case and add it to solution requirements.

[2021-04-30 21:51] #4906 closed

[2021-04-30 21:51] efiop commented on #4906
Closing as stale.

[2021-04-30 21:56] efiop commented on #5899
Seems like you are talking about a labeling scenario, which we don't have a native support for yet, but we are looking into it right now. CC @volkfox

You could use external dependencies with `dvc run -d` though. E.g. `dvc run -d azure://bucket/path ...` or `dvc run -d remote://myremote/path`. Those don't require external cache.

Could you add `-v` and post a verbose log, please? Also, please post

[2021-04-30 22:16] rmlopes commented on #5899
Sure.

[code]

[code]

[code]

[2021-05-01 15:56] courentin commented on #5897
might be linked to #5638, you can try the temporary fix https://github.com/iterative/dvc/issues/5638#issuecomment-823211616

[2021-05-01 18:49] efiop commented on #5897
Hi @lefos99 !

Could you try adding `--cprofile --cprofile-dump repro.prof` to `dvc repro` and `--cprofile --cprofile-dump exp_run.prof` to `dvc exp` and post *.prof files, please?

[2021-05-02 01:33] shcheklein commented on #5897
Same for me. Not sure if it is the same issue, or not. `dvc repro` vs `dvc exp run` is 30x or something (when there is nothing to run, pipeline is up to date). `dvc exp run` takes 100s doing pretty much nothing from user perspective on this repo https://github.com/iterative/dvc-get-started-mnist

**Profile:**

<img width="1029" alt="Screen Shot 2021-05-01 at 6 29 28 PM" src="https://user-images.gi

[2021-05-02 15:11] efiop commented on #5902
Hi @rabefabi !

Could you show `git check-ignore data/ham10000.dvc`, please? Are you sure you didn't gitignore the whole `data` and then `git add -f`-ed that dvc file?

[2021-05-02 15:37] rabefabi commented on #5902
Hi @efiop ,

Thanks for taking the time!

I ran the command:

[code]

[2021-05-02 18:03] efiop commented on #5902
@rabefabi Thanks! Btw, just to clarify, you are not using git submodules and you are not using dvc subrepos (.dvc dirs in dirs other than git repo root), right?

[2021-05-02 23:08] mattseddon commented on #5895
That is correct. Both points are equally important and interrelated.

What I mean by this is that as the return format is not what we need we have to post-process which makes the performance worse.

Hope this helps, let me know if you need anything further.

As we move forwards I'm going to try and push as much "data transformation" as possible upstream and back into the cli. Would it be helpful i

[2021-05-03 04:50] mattseddon commented on #5881
Thank you @pared.

Can you guys LMK when you release `2.0.19` to PyPi (so I can install via pip). Please and thank you.

We are using `dvc[s3]>=2.0.x` in our test project's `requirements.txt`. Not sure if I can move to `git+https://github.com/iterative/dvc` without breaking anything.

[2021-05-03 04:58] pmrowla commented on #5897
The issue @shcheklein is seeing is likely #5638 (it's already fixed in dulwich master). Without the profiling info it's hard to tell, but it's probably the same for @lefos99

[2021-05-03 07:22] karajan1001 commented on #5897
Excuse me, how to get this time tables?

[2021-05-03 07:43] lefos99 commented on #5897
Thank you for the replies guys! :smile_cat:

Hey @efiop ,
Here are the two `.prof` files:
https://drive.google.com/drive/folders/1Iys5FkrMmTJvOBptvvvXNTX5hE0cKMsb?usp=sharing

[2021-05-03 08:02] pmrowla commented on #5897
@lefos99 it looks like the dulwich status issue that is fixed upstream. See this issue for a temporary workaround while we are waiting for a formal dulwich release: https://github.com/iterative/dvc/issues/5638#issuecomment-823211616

[2021-05-03 08:03] pmrowla commented on #5897
Closing as a duplicate of #5638. If for some reason that workaround does not address the issue for you, feel free to reopen this ticket.

[2021-05-03 08:03] #5897 closed

[2021-05-03 10:15] AssassinTee opened #5908 "dvc pull: Misleading error on dvc pull [ssh] with windows and RSA key with keyphrase"
# Bug Report

## Misleading SSH-error

dvc pull: Misleading SSH-error

## Description

I use dvc with an ssh server and generated an ssh-`RSA`-key WITH PASSPHRASE to login, it works all fine on linux so I know the ssh server is running.

I kopied my key to windows and ran into the following error:

[code]

After a lot of debuging and searching I set

[code]
and dvc promted me for a keyphrase for m

[2021-05-03 10:24] WrathOfGrapes opened #5909 "A quick way to `dvc add` only recent files"
I use DVC to manage a large collection of small `.wav` audio files.
My sequence of committing new files looks like this:
1) add new files to the directory (or modify old ones)
2) `dvc add *.wav`
3) `dvc push`

Unfortunately, it doesn't scale well, because DVC re-checks all tracked files for updates and it takes quite a long time.

It would be great to have some kind of flag in `dvc add` command, t

[2021-05-03 10:53] isidentical commented on #5899
@rmlopes did you set any configuration variables for the azure (via `dvc remote modify`)? Such as a connection string or account_name+account_key combination?

[2021-05-03 11:12] isidentical commented on #5797
rclone seems like using anonymous login when both of the credentials are blank: https://rclone.org/s3/#anonymous-access-to-public-buckets

[2021-05-03 12:32] efiop commented on #4424
All our dist channels these days are getting merged quickly enough for us to push the update message once everything is ready, so this should no longer be a problem.

[2021-05-03 12:32] #4424 closed

[2021-05-03 12:56] skshetry opened #5910 "✒️ blacken code with 21.4b2"
There are some large PRs pending. After they are done, we should upgrade `black` to the latest version (21.4b2 at the moment).

[2021-05-03 13:12] efiop commented on #5908
Hi @AssassinTee !

So it needs a passphrase on windows, but doesn't need it on linux? Do you have it in a keychain on linux?

The issue comes from paramiko not being able to tell us that we need to ask for a password, hence why we have an explicit `ask_password` option right now :(

[2021-05-03 13:22] AssassinTee commented on #5908
My linux is configured to ask me automatically on system start/first bash start for the passphrase and the rest is handled by the ssh-agent. I was never asked for a password by dvc or changed the settings there

[2021-05-03 13:39] efiop commented on #5881
@mattseddon 2.1.0 is out :slightly_smiling_face:

[2021-05-03 14:22] dberenbaum commented on #5797
Here's some background on the s3fs and rclone implementations for anonymous login and authentication:

s3fs
---
https://github.com/dask/s3fs/blob/753ee7bbf6d3cf1dd258f6827fcb9126d5c2bbe8/s3fs/core.py (code)
https://github.com/dask/s3fs/pull/51 (PR)
https://github.com/dask/dask/issues/1178 (related issue)

The parameter description gives a nice summary:

rclone
---
https://rclone.org/s3/#anonymous-

[2021-05-03 14:35] efiop opened #5912 "updater: don't remind about updates on each command run"
We're getting reports that updater is too annoying (it prints the notification on every command that you run) and people just turn it off for good with a config option.

We could consider just warning once in, say, a week, but maybe we should just get rid of it as some people were suggesting (or create a separate `dvc check-updates` command).

CC @dberenbaum @dmpetrov

[2021-05-03 14:43] efiop opened #5913 "checkout: consistency in handling files that are missing version info"
`dvc checkout`(and `dvc pull` since it uses it internally) will error-out if version-info is missing, while `dvc push` will just warn us, which creates a confusing inconsistency. For example, it makes CML guys use `|| true` for `dvc pull` https://github.com/DavidGOrtega/cml-dvc-test/runs/2438634469 CC @DavidGOrtega , as they don't have `dvc.lock` on initial run.

Current `dvc push` behaviour with

[2021-05-03 14:47] #1250 closed

[2021-05-03 14:50] #638 closed

[2021-05-03 14:51] #1074 closed

[2021-05-03 14:53] #331 closed

[2021-05-03 14:53] #369 closed

[2021-05-03 14:55] efiop commented on #1410
Closing in favor of https://github.com/iterative/dvc/issues/3920

[2021-05-03 14:55] #1410 closed

[2021-05-03 14:56] efiop commented on #1397
Closing as stale.

[2021-05-03 14:56] #1397 closed

[2021-05-03 14:56] efiop commented on #1312
Closing in favor of https://github.com/iterative/dvc/issues/4682

[2021-05-03 14:56] #1312 closed

[2021-05-03 14:57] efiop commented on #1202
Closing since we are moving that way gradually anyway. Mostly with `dvc exp` these days.

[2021-05-03 14:57] #1202 closed

[2021-05-03 14:57] #1099 closed

[2021-05-03 14:59] efiop commented on #5807
Closing as stale and in favor of https://github.com/iterative/dvc/issues/1495

[2021-05-03 14:59] #5807 closed

[2021-05-03 15:00] efiop commented on #1549
Closing as stale. Might reconsider in the future, likely each fs has itsown criterias.

[2021-05-03 15:00] #1549 closed

[2021-05-03 15:01] #1577 closed

[2021-05-03 15:04] efiop commented on #1571
Closing as stale.

[2021-05-03 15:04] #1571 closed

[2021-05-03 15:05] #1462 closed

[2021-05-03 15:05] #1472 closed

[2021-05-03 15:07] efiop commented on #1481
This will introduce quite an overhead if we try to do that while linking. Doesn't seem like people are running into it much, so closing as stale for now.

[2021-05-03 15:07] #1481 closed

[2021-05-03 15:07] #1487 closed

[2021-05-03 15:08] efiop commented on #1490
Closing as this will be handled by `dvc exp` executors in the future.

[2021-05-03 15:08] #1490 closed

[2021-05-03 15:12] efiop commented on #1627
Closing as stale.

[2021-05-03 15:12] #1627 closed

[2021-05-03 15:12] efiop commented on #1664
Closing as stale. Will likely get revisited during https://github.com/iterative/dvc/issues/3920 research.

[2021-05-03 15:12] #1664 closed

[2021-05-03 15:16] efiop commented on #1791
Closing in favor of https://github.com/iterative/dvc/issues/4742

[2021-05-03 15:16] #1791 closed

[2021-05-03 15:19] dberenbaum commented on #5895
Yeah, we might need to step back and think about the approach here because unlike #5712 , it seem like this (and other issues like #5881) no longer really generate value for regular users of dvc (and may actually add confusion by introducing extra flags/commands).

Would it be possible and make sense to use Python to directly access the dvc api? It wouldn't take much to get what you're asking for

[2021-05-03 15:19] efiop commented on #1974
Closing as stale

[2021-05-03 15:19] #1974 closed

[2021-05-03 15:20] efiop commented on #1994
Closing as stale

[2021-05-03 15:20] #1994 closed

[2021-05-03 15:21] efiop commented on #2014
For the record, we could probably use `pip check` now. We already use it in conda.

[2021-05-03 15:21] dberenbaum commented on #5912
The once a week option seems like a reasonable step towards making it less annoying but still being a little annoying since it is good to nudge users to newer versions. I agree that it's too annoying now, but I wouldn't care if it only happened weekly.

[2021-05-03 15:23] efiop commented on #2309
Fixed.

[2021-05-03 15:23] #2309 closed

[2021-05-03 15:23] efiop commented on #2294
Closing as stale.

[2021-05-03 15:23] #2294 closed

[2021-05-03 15:24] #2212 closed

[2021-05-03 15:25] #2087 closed

[2021-05-03 15:26] dberenbaum commented on #5913
Isn't this what `--quiet` is for? It would be great to have some nice summary option that would be a compromise between no output and overly verbose output, but I think that's separate from the issue here, which is about an inconsistency between `push` and `pull`. If I have done `dvc stage add ... && dvc push`, then `dvc pull` right after should not fail.

[2021-05-03 15:31] #2531 closed

[2021-05-03 15:31] #2516 closed

[2021-05-03 15:32] #2498 closed

[2021-05-03 15:32] efiop commented on #2480
Closing as stale

[2021-05-03 15:32] #2480 closed

[2021-05-03 15:33] efiop commented on #2447
This should be handled by `dvc exp run --temp` these days.

[2021-05-03 15:33] #2447 closed

[2021-05-03 15:33] efiop commented on #2431
Closing in favor of #2325

[2021-05-03 15:33] #2431 closed

[2021-05-03 15:36] efiop commented on #2352
Closing as stale. External data management is not recommended right now and will be reconsidered in https://github.com/iterative/dvc/issues/3920

[2021-05-03 15:36] #2352 closed

[2021-05-03 15:37] #2325 closed

[2021-05-03 15:37] #2532 closed

[2021-05-03 15:39] efiop commented on #2574
Closing as stale

[2021-05-03 15:39] #2574 closed

[2021-05-03 15:42] efiop commented on #2648
Stale

[2021-05-03 15:45] #2721 closed

[2021-05-03 15:47] #3050 closed

[2021-05-03 15:48] efiop commented on #2965
Migrating to fsspec that adapts cloud specific errors to OSError's and even retries stuff if needed. Closing as stale.

[2021-05-03 15:48] #2965 closed

[2021-05-03 15:50] #2940 closed

[2021-05-03 15:52] #2874 closed

[2021-05-03 15:52] #2858 closed

[2021-05-03 15:52] efiop commented on #2812
Closing as stale.

[2021-05-03 15:52] #2812 closed

[2021-05-03 15:53] #2774 closed

[2021-05-03 15:54] rmlopes commented on #5899
@isidentical I am using connection string and I have tried with both repos (the registry and the main repo) having the exact same config for the remote (including the connection string)

[2021-05-03 15:55] #2960 closed

[2021-05-03 15:55] efiop commented on #3318
Closing as stale.

[2021-05-03 15:55] #3318 closed

[2021-05-03 15:57] efiop commented on #3219
Closing as stale. The general "unexpected error" is a topic for a separate discussion.

[2021-05-03 15:57] #3219 closed

[2021-05-03 15:57] #3255 closed

[2021-05-03 15:59] efiop commented on #3011
Closing as stale for now

[2021-05-03 15:59] #3011 closed

[2021-05-03 16:00] #3176 closed

[2021-05-03 16:25] efiop commented on #3739
We'll be reconsidering this scenario https://github.com/iterative/dvc/issues/3920 as it is currently higly experimental and we don't reocmmend people to use it. Closing.

[2021-05-03 16:25] #3739 closed

[2021-05-03 16:26] efiop commented on #3714
Closing as stale.

[2021-05-03 16:26] #3714 closed

[2021-05-03 16:27] efiop commented on #3703
Closing in favor of https://github.com/iterative/dvc/issues/3920 . It is not worth investing more time into this scenario until we reconsider it.

[2021-05-03 16:27] #3703 closed

[2021-05-03 16:28] efiop commented on #3656
Closing as stale.

[2021-05-03 16:28] #3656 closed

[2021-05-03 16:28] #3621 closed

[2021-05-03 16:31] #3937 closed

[2021-05-03 16:31] #3936 closed

[2021-05-03 16:33] efiop commented on #3745
Closing in favor of https://github.com/iterative/dvc/issues/3920 for the scenario itself

[2021-05-03 16:33] #3745 closed

[2021-05-03 16:34] efiop commented on #3769
Closing as stale

[2021-05-03 16:34] #3769 closed

[2021-05-03 16:34] #3766 closed

[2021-05-03 16:35] efiop commented on #3809
Closing as stale.

[2021-05-03 16:35] #3809 closed

[2021-05-03 16:35] efiop commented on #3837
Closing as stale.

[2021-05-03 16:35] #3837 closed

[2021-05-03 16:36] #3826 closed

[2021-05-03 16:37] efiop commented on #3795
Closing as stale.

[2021-05-03 16:37] #3795 closed

[2021-05-03 16:40] #4100 closed

[2021-05-03 16:44] #4273 closed

[2021-05-03 16:48] efiop commented on #4640
Closing as stale.

[2021-05-03 16:48] #4640 closed

[2021-05-03 16:52] efiop commented on #4579
Closing since docs are up-to-date now.

[2021-05-03 16:52] #4579 closed

[2021-05-03 16:52] #4577 closed

[2021-05-03 16:53] #4539 closed

[2021-05-03 16:55] #4519 closed

[2021-05-03 16:59] efiop commented on #4863
Closing as stale

[2021-05-03 16:59] #4863 closed

[2021-05-03 16:59] efiop commented on #4847
Already using repo.outs_trie

[2021-05-03 16:59] #4847 closed

[2021-05-03 17:00] efiop commented on #4861
Closing as stale.

[2021-05-03 17:00] #4861 closed

[2021-05-03 17:01] efiop commented on #4815
Closing as stale.

[2021-05-03 17:01] #4815 closed

[2021-05-03 17:02] efiop commented on #4787
Closing as stale. Migrating to fsspec where we'll have less of NotImplementedError's , as there are only a handful of methods to implement for any new fs.

[2021-05-03 17:02] #4787 closed

[2021-05-03 17:02] efiop commented on #4773
Closing as stale.

[2021-05-03 17:02] #4773 closed

[2021-05-03 17:09] #5000 closed

[2021-05-03 17:11] #4933 closed

[2021-05-03 17:12] efiop commented on #4931
Closing as stale

[2021-05-03 17:12] #4931 closed

[2021-05-03 17:12] efiop commented on #4919
Closing in favor of #678.

[2021-05-03 17:12] #4919 closed

[2021-05-03 17:15] efiop commented on #5276
Closing as stale.

[2021-05-03 17:15] #5276 closed

[2021-05-03 17:15] efiop commented on #5241
Closing as stale.

[2021-05-03 17:15] #5241 closed

[2021-05-03 17:16] #5178 closed

[2021-05-03 17:18] efiop commented on #5213
Closing as stale

[2021-05-03 17:18] #5213 closed

[2021-05-03 18:13] dberenbaum commented on #1490
I'd vote to leave this one open since there's no solution today, or mark it as a duplicate if there's another issue to cover it.

[2021-05-03 18:16] dberenbaum commented on #2447
How does `dvc exp run --temp` handle this issue? I'd vote to keep this one open or mark it as a duplicate. Seems related to #1490 and somewhat to #5615.

[2021-05-03 18:24] efiop commented on #1490
@dberenbaum It has been silent for 2 years now, so we could call it stale too. Exp will handle it in https://github.com/iterative/enhancement-proposals/pull/3 , so this is an outdated duplicate. Please feel free to reopen if you think this is still useful.

[2021-05-03 18:33] efiop commented on #2447
@dberenbaum Sorry for the poor reasoning. `--temp` for local long-running commands that can keep waiting, so that your repo is not blocked. For submit-like workflow, where we can't wait from the local machine, we'll indeed need something like #1490 But it could be bigger than that, this needs a product research. Let's move to discussions then.

[2021-05-03 18:39] shcheklein commented on #5912
Yep, once a week or even day will be tolerable. Also, agree that we still want to push people a bit to do updates. Btw, may be we can even change the message a bit? make it one line with colors? not so huge and annoying, make at the end of the process, not at the very beginning, etc..

----------

My 2cs on the updater logic. It's beneficial for us to push a bit user to the newer versions for a fe

[2021-05-03 19:04] dberenbaum commented on #5820
@efiop Thoughts?

[2021-05-03 19:06] isidentical commented on #5820
Yep, it is a bug. The reason that it got removed from the sprint is that, we already track the issue in a separate one (which is rewriting all our s3 backend). Hopefully it will be gone after that. I assigned my self to this issue, and will let you know when it gets landed.

This is probably going to be resolved with the s3fs PR.

[2021-05-03 19:24] dberenbaum commented on #4447
@mattseddon Have you experienced intermittent hanging like this?

[2021-05-03 19:26] dberenbaum commented on #5842
Related to #2360

[2021-05-03 21:11] jorgeorpinel commented on #5797
I'd rename it to something like `anonymous_auth` in that case, as "allow" would be misleading if it's more of an auth mode switch.

[2021-05-03 21:12] jorgeorpinel commented on #5797
And for consistency I think it makes sense to have the same behavior for any other remote that supports public "anonymous" (non) auth — referring to Azure

[2021-05-03 23:52] shcheklein commented on #5895
No, we can't use DVC API directly (it's JS to Python). And since there is no DVC API yet, it would make the extension depend on the implementation details? Probably, not the best thing to have when (unlike Studio) we don't have that much of a control to fix it quick.

 Fair enough, how about providing additional info in the JSON response so that we can distinguish DVC-tracked and Git-tracked outpu

[2021-05-04 00:54] mattseddon commented on #4447
Not that I am aware of. It could quite easily be happening in the background underneath a VS code session.

I do see a difference in performance at the very start of a session (when there is a lot of activity and things are being resolved) vs when the session is idle. Also, if I run `list` when I'm running an experiment I see a significant decrease in performance (nearly a 100% increase in run tim

[2021-05-04 01:11] mattseddon commented on #5895
I also don't think the extension would be the right place to put this implementation.

Any improvement is good and I'm happy to take small steps in the right direction. However, there is one other thing that I ran into this week that lends itself to use needing to take a different approach, I mentioned it on a PR but it's more applicable to bring it up here 👇🏻

Should we be concerned that `status`

[2021-05-04 04:12] nik123 commented on #4657
Hello everybody! I'd really like to have it (especially use-case described in OP). What's the status on this issue? But it seems there is no much progress since PR #490. Are there any news or plans on it?

[2021-05-04 06:10] shcheklein commented on #5897
For the record, that workaround brought `dvc exp run` down to 3 seconds (vs 100s before).

[2021-05-04 06:14] #5650 closed

[2021-05-04 07:26] pmrowla commented on #5886
for reference, after the fix this `dvc move` operation (trying to move a tracked file into an already tracked dir) will result in an error before anything is actually modified

[2021-05-04 07:39] csnick93 commented on #5820
@isidentical Thanks a lot! :)

[2021-05-04 11:51] ciaochiaociao opened #5960 "commit: doesn't show completion for stages in zsh"
# Bug Report

## Description

dvc commit does not show completions for stages in zsh

### Reproduce

`dvc commit <Tab>` should show a list of stages but only files
[code]
### Expected

[code]

### Environment information

**Output of `dvc doctor`:**

[code]

[2021-05-04 12:07] isidentical opened #5961 "gc: parallelize garbage collection"
It seems like there is nothing blocking this, and for cloud providers, this might mean up to 16-20x speed up (`dvc gc -c`). Just for some numbers as the motivation, removing 1000~ cache files from the s3 takes about 20-25 minutes.

[2021-05-04 13:24] skshetry commented on #5961
@isidentical, is this required for `fsspec`? If not, I'd prefer that we prioritize this https://github.com/iterative/dvc/issues/4218 over the performance. I am not trying to say that they should not be a priority, not trying to discourage you, but I feel strongly that we should have a way to remove a file from the cache.

[2021-05-04 15:07] efiop commented on #4657
@nik123 Thank you for your interest! Unfortunately, there is no active progress right now, we are keeping it in mind while reworking our architecture right now, but it is pretty clear that this will require serious research and design in order to start implementing.

[2021-05-04 18:11] kalingibbons opened #5964 "Status, push fail to recognize changes following `add` in subfolders."
# Bug Report

## Description

On a new initialization, version control is only working on files in the root workspace directory, but not on any files within subdirectories. Tested with Google Drive as remote storage, as well as a local folder.

### Reproduce

[code]

[code]

[code]

[code]

[code]

[code]

[code]

### Expected

Actually backing up the data to the remote storage.

### Environment i

[2021-05-04 18:18] efiop commented on #5964
Hi @kalingibbons . Is data/external/stanford or any parent in it gitignored as a whole? If it is, then it is the problem as dvc doesn't walk into gitignored directories, so it can't see `standford.dvc` file.

[2021-05-04 18:23] dberenbaum commented on #5964
@efiop Should `dvc add` to a gitignored path be allowed?

[2021-05-04 18:31] kalingibbons commented on #5964
![image](https://user-images.githubusercontent.com/11838956/117051396-ba621880-acd3-11eb-8bbd-b509db86351c.png)

Oh it was setup by pyscaffold originally, so there's quite a few ignores in there. I've got numerous projects using the pyscaffold/dvc setup, and I hadn't run into this issue before. I guess I'll have to compare the checksums to see if I've only been partially backing up the data in tho

[2021-05-04 18:35] kalingibbons commented on #5964
All the green highlighting in the file explorer on the previous comment should mean that git can see the directory and files, so I don't think this is set up differently from my other projects.

Also, thanks for the fast responses @efiop and @dberenbaum.

[2021-05-04 18:44] kalingibbons commented on #5964
Got it. That repo was set up using PyScaffold 4.0rc2, which had the `data/x/` ignores instead of `data/x` versions.

Can you point me out to the earliest point in the onboarding documentation that mentions that limitation? I spent a couple of hours trying to self-debug before opening this issue, and I would like to bookmark the doc page for next time.

[2021-05-04 19:43] dberenbaum opened #5965 "exp show: include running experiment"
Show currently running experiment in the table. cc @shcheklein @pmrowla

[2021-05-04 20:24] dberenbaum commented on #5965
@shcheklein Please follow up to clarify anything that I missed on this. Also, can you clarify the motivation? Is it to give users with long-running experiments some confirmation that their experiment is running?

I think this introduces some complications that raise new questions:
* As far as I understand today, no experiment branch is created until the experiment completes. Should an experiment b

[2021-05-04 21:10] dberenbaum commented on #5895
Yes, it looks to me like it is optimized to collect info for a specific target only. @skshetry can confirm.

Does that make the other questions irrelevant for now? I'm lost on whether `dvc list --dvc-only` (to get dvc-tracked outputs) combined with `dvc status [target]`(to get changes) might be sufficient for now, or whether it's immediately necessary to have `dvc status` handle both showing what

[2021-05-04 21:45] shcheklein commented on #5895
It's expected from the DVC perspective. It's a really good questions to show those (`dvc diff` semantics) or not (`dvc status` semantics) in VS Code. But let's discuss this in the VS Code meetings/channels.

it might be enough to try for now, I think. @mattseddon can correct me if I'm wrong here.

[2021-05-04 22:46] efiop commented on #5395
Maybe we could use https://github.com/ParallelSSH/parallel-ssh instead of raw libssh

[2021-05-04 23:53] dberenbaum commented on #5895
Sorry, @mattseddon, I somehow missed your comment. As @shcheklein said, that's a great point.

It's probably not obvious enough that `diff` and `status` are comparing different things. By default, `diff` compares the workspace to the last commit, and `status` compares the workspace to the cache. Here are the high-level explanations from the docs:

If the DVC SCM view is about showing which files h

[2021-05-05 02:41] pmrowla commented on #5965
What should we even display for a running experiment? For workspace runs, we already have the `workspace` table entry, which reflects whatever is happening in the running experiment.

Do we just want an equivalent table entry for whatever is in temp directory for `--temp/--queue` runs?

It's not exactly clear what DVC should display, because outputs don't have to exist until a stage is completed.

[2021-05-05 02:50] karajan1001 commented on #5965
How about `running` and `in the queue`?

[2021-05-05 02:57] ciaochiaociao opened #5966 "exp show: show only changed parameters"
Currently I have tens of parameters in my `params.yaml`. After I `dvc exp run --queue` several experiments and `dvc exp show`, it is hard for me to recognize the parameters I just set. I know I could use `--include-params or --exclude-params`, but it somehow just takes me some efforts to list my previous commands, recall what I have changed in `params.yaml` before queuing. It would be nice to just

[2021-05-05 03:02] shcheklein commented on #5965
We should always see all the running/queued/executed experiments in the table. Can it be done but marking workspace with a special flag - probably, yes. It's a good point. But we still need to do this in the `dvc exp show` output, right? Is it enough for the `--temp`, etc - I don't know to be honest, I don't have enough experience. But as I run something I want to have a way to see what's going on

[2021-05-05 03:38] pmrowla commented on #5964
@dberenbaum it's no longer allowed after https://github.com/iterative/dvc/pull/5907

[2021-05-05 04:09] #5886 closed

[2021-05-05 06:57] ciaochiaociao opened #5967 "get: cannot get local files that haven't been pushed when `dvc remote default <remote>` has been set"
# Bug Report

## Description

After using `dvc remote default <remote>` to set a default remote, `dvc get` can not retrieve the files which are only in local cache (because they haven't been pushed). It should have retrieved files either from local or remote.

Workaround that I have tried and succeeds: unsetting the default remote

### Reproduce

1. git init
2. dvc init
3. echo 'This is a dvc get

[2021-05-05 07:23] karajan1001 commented on #5966
@ciaochiaociao Hello, first thanks for your suggestion.

Currently `dvc exp show` can show all the parameters metrics of all experiments in a table.`dvc exp diff` can compare two experiments' parameters and metrics and only show the different ones. Maybe this command can help you now?

[2021-05-05 10:11] isidentical commented on #5555
Closing as per s3fs is landed.

[2021-05-05 10:11] #5555 closed

[2021-05-05 10:17] isidentical commented on #5636
@BeatWolf can you try to install dvc from the github, and give it a shot? `pip install 'dvc[s3] @ git+https://github.com/iterative/dvc.git'`

[2021-05-05 10:18] isidentical commented on #5820
Hey @csnick93, can you try to install DVC from the GitHub, and give it a shot? `pip install 'dvc[s3] @ git+https://github.com/iterative/dvc.git'`

[2021-05-05 10:23] isidentical opened #5969 "s3: performance implications of s3fs"
This issue is for tracking the progress related s3fs/aiobotocore issues for the performance degradations that we might experience.

- [x] [exists() on non-existent files](https://github.com/dask/s3fs/issues/470)
- [ ] [HeadObject calls are slower than the regular boto](https://github.com/aio-libs/aiobotocore/issues/866)

[2021-05-05 10:23] isidentical commented on #5622
Let's close this and track the remaining stuff (aioboto issue etc) in a separate issue #5969

[2021-05-05 10:23] #5622 closed

[2021-05-05 10:27] isidentical commented on #5768
Closing this issue since it's initial goals (and some extras) are done, and porting the `dvc/remote` logic to the new odb arch definitely will have its own separate issue.

[2021-05-05 10:27] #5768 closed

[2021-05-05 11:38] isidentical commented on #5969
import time itself is not something that affects greatly, but still there is `~0.3` seconds (on HDD, might be different for a SSD user) startup overhead;

## `import boto3`
![image](https://user-images.githubusercontent.com/47358913/117134713-96273a00-adae-11eb-8816-9f85a7e7ea46.png)

## `import aiobotocore, boto3`
![image](https://user-images.githubusercontent.com/47358913/117134781-b35c0880-adae

[2021-05-05 12:05] efiop commented on #5622
@isidentical There seem to be more checkboxes though, are those not needed anymore?

[2021-05-05 12:11] isidentical commented on #5622
updated, the only missing is the issue triaging. I'll be doing that tomorrow, and try to traverse issue tracker for all s3 issues :eyes:

[2021-05-05 12:41] #5556 closed

[2021-05-05 12:53] #5960 closed

[2021-05-05 12:59] dberenbaum commented on #5965
Okay, this seems like the use case we are missing. There's no way to cancel an ongoing experiment now except to ctrl-c in the window where the experiment is running, and it's obvious it's running in that window. I can see how in vscode there might need to be something like a stop button in the table.

I called it a branch since the only difference between an experiment and a Git branch is the path

[2021-05-05 13:02] ciaochiaociao commented on #5966
Yes, right now I kind of write a bash script to automate running `dvc exp diff` over all my experiments compared to HEAD.

[2021-05-05 14:51] flippedcoder opened #5971 "`exp run`: `--set-params` forces YAML 1.2 (breaks code that uses 1.1)"
# ~~Bug~~ Report

## dvc exp run --set-param lr=0.000001

Here's the error:

[code]

## Description

The problem is that the `yaml` library only supports yaml 1.1 when DVC uses yaml1.2. This issue seems to happen when exponents are generated.

The data science community and the Python ecosystem in general is stuck in YAML1.1.  We could try to be compatible by generating exponents with the dot at l

[2021-05-05 14:54] karajan1001 commented on #5967
@ciaochiaociao Thank you for your report.

[2021-05-05 14:57] pmrowla commented on #5971
This is by design and is documented: https://dvc.org/doc/command-reference/metrics#supported-file-formats (yaml 1.2 is also specified for plots and params)

See also https://github.com/iterative/dvc/issues/4281 and the associated PR

---

Regarding the checkpoints tutorial, we should really be using ruamel and not PyYAML in any of the iterative example repos for this specific reason.

[2021-05-05 15:18] dberenbaum commented on #5967
@ciaochiaociao What is your use case? `dvc get` is for downloading files from other projects, so it's not a usual case to want to do it locally within your project. If you want to retrieve files from within your project, you would normally use `dvc checkout`.

[2021-05-05 15:19] dberenbaum commented on #5971
@skshetry I know you suggested this issue. Was there something you had in mind?

[2021-05-05 15:31] csnick93 commented on #5820
Hey @isidentical,
thanks for the notification, it works now! Thanks a lot to everyone involved! :)

[2021-05-05 15:32] dberenbaum commented on #5971
Also related to #5777. Both issues seem to stem from dvc parsing the provided values instead of replacing them as is.

[2021-05-05 15:36] dberenbaum commented on #5971
Agreed, and it's not obvious when you get the error that it's a YAML 1.1/1.2 issue. We can change the tutorials, but it doesn't help users who run into the same error.

[2021-05-05 18:06] efiop commented on #5820
Thank you @isidentical ! :pray:

[2021-05-05 18:06] #5820 closed

[2021-05-05 19:58] dmpetrov commented on #5971
That seems like a viable solution.

Yes. The tutorials can help mitigate the issue but it isa not a solution. A good portion of users will get the error even the ones who do not use Python at all.

[2021-05-05 20:32] JoaoDeDynam commented on #5900
Homebrew did the trick here

[2021-05-05 21:46] JoaoDeDynam opened #5972 "dvc push: unable to validate self-signed certificate from S3 service"
# Bug Report

## Description
Attempting dvc push to s3 remote which uses SSL termination. Getting certificate validation error since we are using self-signed certificates

### Reproduce

1. dvc init
2. modify remote to s3 endpoint with https scheme
3. copy certificate bundle from remote se to local directory
4. update AWS_CA_BUNDLE environment variable to point to local certificate bundle
3. dvc a

[2021-05-05 22:20] jorgeorpinel commented on #5971
Agree. Maybe the problem (or part of) begins with the crash and tracelog, which seems to indicate that the error happened in the user code. I wonder what it would look like if the user code wasn't Python...

Could we start by catching it somehow and presenting a meaningful error message like `ERROR: Please update your 'param.yam' file to YAML 1.2` ? To my mind that would remove the "bug" part from

[2021-05-06 00:14] karajan1001 commented on #5967
@dberenbaum, the result won't be changed in other cases, I think. It is only a test script, so set the remote repo and downloading repo to the same one for convenience.

![image](https://user-images.githubusercontent.com/6745454/117224606-f7005200-ae42-11eb-9dfd-d158e6d9968e.png)

[2021-05-06 02:50] pmrowla commented on #5971
The issue here is happening in the (example) user code - the params.yaml is already YAML 1.2, the problem is that the user tries to open it with PyYAML (which only supports 1.1).

[2021-05-06 05:28] jorgeorpinel commented on #5971
I see. I thought this only happened when the user code is run via `exp run` (not manually).

[2021-05-06 05:30] jorgeorpinel commented on #5971
Yeah nvmd I got it now: `exp run -P` makes the params file YAML 1.2 which causes the `cmd` to fail.

[2021-05-06 06:19] pmrowla commented on #5684
This issue is fixed in upstream dulwich master, waiting on release

[2021-05-06 06:22] ciaochiaociao commented on #5967
I have tensorboard run directory as an one of `outs` in my stage `train`. And to compare each run, I have to put all runs into a folder. So that's why I want to use `dvc get` to download from my local projects.

Note: I know that usually all runs are put into a single folder when conducting different experiments. But the way I build my project with dvc is following dvc's philosophy of **each versi

[2021-05-06 07:21] isidentical commented on #2100
Currently, we are raising `FileNotFoundError`s for the fsspec-provided implementations (including s3) instead of a custom error. Should we keep this behaviour or add custom errors for bucket-not-found case?

[2021-05-06 07:22] isidentical commented on #2101
The only place we are creating the bucket (container, TBMP) is the azure, and I think we'd better off if the user creates the buckets explicitly on their end.

[2021-05-06 07:27] isidentical commented on #2629
In theory, we could add it to the `info()` method though it would certainly a bit odd to have that sort of logic inside dvc to give a warning.

[2021-05-06 07:38] isidentical commented on #2891
Is this bucket still accessible? I wonder how much it takes right now, and whether we could benefit from the same optimization that we have for the `import-url`;
https://github.com/iterative/dvc/blob/3670bf4fc35d301e417eb69ccd978f4785c0b80b/dvc/objects/stage.py#L103-L111

[2021-05-06 08:03] isidentical commented on #4336
We are rapidly moving towards fsspec, and it comes bundled with a databricks implementation. So if there is nothing on the dbfs that would contradict with the DVC's assumption regarding filesystem-related stuff, DVC might start supporting it after the full-adoption (1-2 months)  https://github.com/intake/filesystem_spec/blob/master/fsspec/implementations/dbfs.py

[2021-05-06 09:21] isidentical commented on #5313
As @pmrowla mentioned, the policies might remove something that is still referenced so it is safer to use `dvc gc` with the appropriate scope to do the cleaning. Closing now since the question in answered

[2021-05-06 09:21] #5313 closed

[2021-05-06 09:21] isidentical commented on #5130
Hey @Christoph-1, can you try and see whether you still experience the same problem by installing from the master? `pip install "dvc[s3] @ git+https://github.com/iterative/dvc.git"`

[2021-05-06 11:09] isidentical commented on #5558
Hey @hugo-ricateau-tiime can you try to installl dvc from the master and give it a shot? `pip install "dvc[s3] @ git+https://github.com/iterative/dvc"`

[2021-05-06 11:14] isidentical commented on #5972
@JoaoDeDynam can you try to install dvc from the master, `pip install "dvc[s3] @ git+https://github.com/iterative/dvc` and try again? We recently rewrote all our s3 code, so it would be nice if you could check that version out and let us know whether you still experience an odd behavior.

[2021-05-06 11:54] efiop commented on #2101
@isidentical Agreed. I think ssh and local are also like that, but `bucket`(aka container_name) is not quite the same as nonexistent dir in local and ssh, so we should be at least consistent within typical cloud group (s3, gs, azure, oss, etc).

[2021-05-06 11:55] efiop commented on #2100
@isidentical Hard to tell, I think `FileNotFoundError` could work great, if we properly handle it in `odb`, as `odb` is the one that should care about it when we are pushing to it.

[2021-05-06 12:38] pared opened #5978 "checkout: corrupted cache raises no exceptions"
If we edit cache entry and change the perimssions to read only, `dvc` will not verify it.

[code]

I think that in that case we should make "initial check" with state and mtime and size by default or maybe provide user with an option similar to `remote.verify`.

Credit: @iesahin for pointing that out

[2021-05-06 18:21] dberenbaum commented on #5967
My understanding was that `dvc get` will pull the data from the default DVC remote. Here's the relevant docs section from https://dvc.org/doc/command-reference/get:

It does say that a local repo will try to copy the data from its cache first, so it makes sense to mark it as a bug.

@ciaochiaociao Let me see if I understand:

1. You start each experiment with an empty tensorboard run directory.
2.

[2021-05-06 21:14] dberenbaum commented on #5971
Since `0.000001` is valid in both YAML 1.1 and 1.2, how is a user supposed to know that DVC will convert this to `1e-06`? I don't think it's clear how the values passed to `-S` get replaced. What about non-YAML params files where it's not obvious that the values in `-S` are first parsed as YAML? Are the specs for all of the supported formats so similar that this will never be an issue?

[2021-05-07 00:53] JoaoDeDynam commented on #5972
I will definitely try loading data with the python API once I have data in my s3 storage. At the moment, I am attempting to push data up to the s3. It doesn't appear that I can use the pip package to run the dvc init and dvc push commands unless I am missing something.

[2021-05-07 00:54] shcheklein commented on #2891
@isidentical it was based on this data I think https://github.com/iterative/dataset-registry-private/blob/master/images.dvc ... (please check number of files in that directory though)

[2021-05-07 02:32] JoaoDeDynam commented on #5972
after setting up a virtualenv and installing with pip and pip3, I run into
the same issues I was having on this issue
<https://github.com/iterative/dvc/issues/5900#issuecomment-829634366>

On Thu, May 6, 2021 at 4:14 AM Batuhan Taskaya ***@***.***>
wrote:

--
This e-mail message, including any attachments, is for the sole use of the
intended recipient(s) and may contain confidential and privileged

[2021-05-07 02:37] ciaochiaociao commented on #5967
Correct

[2021-05-07 02:45] pmrowla commented on #5971
Other than the CLI value for `-S` being parsed as YAML, this issue doesn't affect non-YAML params files. They are written back into the params file using libraries specific to each format, since each format has its own specification for how a floating point number should be serialized.

The point is that however ruamel decides to serialize `0.000001` (in decimal or exponential form) it should not

[2021-05-07 03:07] pmrowla commented on #5971
Also, regarding:

I don't think having a modified YAML serialization library specific to `--set-param` is the answer. It does not make sense for DVC to be mixing different YAML versions between params files modified with `--set-param`, `dvc.lock` and `dvc.yaml`

[2021-05-07 07:13] jorgeorpinel commented on #5971
But I think that is the problem. We are expecting/forcing users to do that.

[2021-05-07 07:28] pmrowla commented on #5971
I don't see why that is a problem, or how it is any different from how we also force users to format the data within their JSON/Python/TOML params and metrics files in a specific way.

[2021-05-07 10:00] isidentical opened #5982 "azure: doesn't work with proxies on windows"
Discord context: https://discord.com/channels/485586884165107732/485596304961962003/839829214148689971
DVC doctor:
[code]

[2021-05-07 10:38] isidentical commented on #5429
AWS Reference: https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-arn-format.html

[2021-05-08 06:34] jorgeorpinel commented on #5971
@pmrowla this was deemed problematic by leadership AFAIR. I would agree that it's not great UX, especially if YAML 1.1 is still dominant (e.g. `yaml` Python module). And it's very hard to understand what went wrong in these situations.

Not sure that's formatting if you're referring to data structure / schema.

Schema reqs are separate from the format version, I think. The problem here is that `ex

[2021-05-08 06:34] jorgeorpinel commented on #5971
Is there at least something we can do about this ☝️ ?

[2021-05-08 08:36] pmrowla commented on #5971
It does matter for params/metrics/plots though, since the YAML version affects whether or not some values are treated as floats or strings. We show (numeric) deltas in diffs, and we plot numeric values. Whether or not the value `1e-06` is a supposed to be string or a float affects how it can (or cannot) be diffed and plotted.

---

There is no way for us to tell what YAML version a user intended u

[2021-05-08 09:05] pmrowla commented on #5971
Just to be clear, at the end of the day, I'm not a data scientist, and it doesn't really matter to me whether we use YAML 1.1 or 1.2. The main issue here is that we need to pick one and explicitly tell people that's what they need to use. Trying to halfway support both 1.1 and 1.2 should not be an option here for the reasons I've already outlined.

I do think it makes more sense for us to use 1.2

[2021-05-09 09:33] iesahin opened #5986 "License confirmation for `dvc get` and `dvc import`"
There are various licenses for downloadable datasets. `dvc get` and `dvc import` can check if there is a `LICENSE` file within a tracked directory and print this license, and ask the user for confirmation before download. This allows us to conform with _attribution_ and _copyright_ requirements in licenses like MIT or Apache.

For a Git repository directory in the form

[code]

we use `dvc get htt

[2021-05-10 00:05] dberenbaum commented on #5971
@pmrowla This suggestion still uses YAML 1.2. I don't think anyone has suggested that DVC use YAML 1.1, just that users may be doing so.

The only issues I can find with this suggestion are:

1. It means DVC has to include some minor manual formatting. Again, I'm open to raising this with the `ruamel.yaml` project since it doesn't look like there's any particular justification for their current fo

[2021-05-10 03:26] pmrowla commented on #5986
This sounds like something that is just on the user to determine rather than DVC?

Git doesn't prompt you to comply with a license on `git clone` or when you add an external git repo as a submodule. (Or when I just use `wget` or `curl` to download a file directly from someone's github/gitlab/etc repo)

[2021-05-10 11:08] skshetry opened #5988 "commit: granular commit poisons the cache"
# Bug Report

It seems that `Output.commit()` uses the filter_info provided by the `collect_granular`, but it does not consider the existing hash_info to merge the records, so we are polluting/poisoning the cache with the invalid entries based on that filter_info instead of `os.path.join(path_info, filter_info)`. ​

https://github.com/iterative/dvc/blob/674693bb86a3df135405c4eedc0b65943d01ae2a/dvc

[2021-05-10 13:26] pmrowla commented on #5986
DVC doesn't host or distribute anything though, it's just tooling. I guess the line is blurred a bit when it comes to Studio, but it still seems to me like anything on the licensing/attribution side of things would be a Studio issue, and not a core DVC issue (similar to the difference between github/gitlab and git).

[2021-05-10 15:19] pared opened #5989 "exp show: using wrong results for display"
[code]

Seems like #5880 introduced some bug:
Given experiments runs:
[code]
Note that the asserts seem to verify that internals work correctly
if we go to the test directory and run `dvc exp show`, we will get:
[code]

while it should more like:

[code]
cc @skshetry

[2021-05-10 16:05] skshetry commented on #5989
@pared, are there two rows with the name "foo" or is it just an example?

[2021-05-10 16:45] pared commented on #5989
@skshetry this is how exp_stage is written: parms file just gets copied

[2021-05-11 06:49] AnnKatrinBecker opened #5990 "dvc.api.open: fails if streaming a .h5 file (dvc 2.1)"
## Description

Streaming the identical model in h5py format works in dvc version 1.11.16,
but raises the following exception in dvc version 2.1

`Traceback (most recent call last):
  File "h5py/h5fd.pyx", line 155, in h5py.h5fd.H5FD_fileobj_read
SystemError: <built-in method flush of _io.BytesIO object at 0x7f82676084f0> returned a result with an error set`

code snippet:
[code]

**Output of `dvc

[2021-05-11 08:20] isidentical commented on #5969
One important thing after I noticed working with the dataset-private-registry is that the listing take some time to happen since fsspec doesn't have iterators (not for ls/find) and I feel like this is bad for UX. For small sets, it is not that noticeable but if you have one million files then it is obvious that the dvc is blocked and there is no reactivity of any sort.

Regarding that, there is no

[2021-05-11 11:05] efiop commented on #5969
@isidentical My guess is that iterators should be there, I suppose they were simply not implemented yet. We should be able to implement them for us and possibly send the patch back to upstream, let's create an issue and ask about it.

[2021-05-11 11:15] isidentical commented on #5969
What do you mean by that?

[2021-05-11 11:25] efiop commented on #5969
@isidentical Ah, sorry, I'm wrong. Didn't notice the `find` in the executor. Still, it is rather tailored to handle our specific remote dir structure, so it is no longer a general `walk_files` (that is expected to return an iterator) and we could use such a workaround directly where needed. The results are very interesting though.

[2021-05-11 11:27] isidentical commented on #5969
I started writing a proposal as an issue to the fsspec repo with describing the potential APIs and how would they work

[2021-05-11 11:37] iesahin commented on #5986
DVC is not a package manager, but a _dataset manager._

DVC has this functionality as _shared remote._ The one piece missing is associating metadata like description, license, etc. with `.dvc` files.

I doubt anybody will ask it first 😄 `LICENSE` files is necessary only when you index and distribute the datasets. I doubt anyone other than us would do that.

"We have a datasets collection in `datas

[2021-05-11 13:59] dberenbaum commented on #5986
@iesahin I think @pmrowla is suggesting that this could be built on top of DVC but be considered a separate product.

It seems like this issue is more of a feature request for a public dataset registry, with license confirmation being one of the requirements of that feature request. Would you agree @iesahin? Am I missing anything?

[2021-05-11 16:26] #5781 closed

[2021-05-11 16:40] skshetry commented on #4060
Closed by #5906.

[2021-05-11 16:41] #5986 closed

[2021-05-11 18:22] efiop commented on #5971
To summarize our meeting, there are two approaches:

1) Create a hack that will make dvc write 1.1 compatible numbers for that edge case. We could invest some time into it to research further, but so far:
    Pros:
       Handy for users
    Cons:
       Harder to maintain
       Encourages people to use 1.1 YAML, which might create more problems elsewhere (e.g. potential edgecases of this edgecas

[2021-05-11 19:25] jorgeorpinel commented on #5793
I see #5906 addresses 1. from this issue but we still have 3-4 to decide on. Thanks!

[2021-05-11 20:10] dberenbaum commented on #5971
As far as I can tell, here’s everything a user needs to know to debug this error:
1. DVC supports YAML 1.2 and not YAML 1.1.
2. PyYaml supports YAML 1.1 and not YAML 1.2.
3. YAML 1.2 reads scientific notation without any decimals (1e-06) as a float but YAML 1.2 reads it as a string.
4. When a user inputs --set-param lr=0.000001, DVC replaces that value in params.yaml.
5. DVC parses 0.000001 (using

[2021-05-12 01:36] pmrowla commented on #5971
Again I would like to stress here that the user's code "worked" before using `dvc exp` in the sense that they would successfully parse their params file using a YAML 1.1 parser. However, their "working" code was still broken/incompatible with DVC in the sense that parsing things as YAML 1.1 will cause the unexpected pipeline behavior explained in https://github.com/iterative/dvc/issues/5971#issuec

[2021-05-12 03:46] skshetry commented on #5865
Note that this was supposed to be fixed by https://github.com/iterative/dvc/pull/5822, but looks like it's not (@dberenbaum's commit is ahead of 853d304ce2c18fb59a80f4eeb086d020d476a014).

[2021-05-12 04:38] skshetry commented on #5671
We are on our path to developing the VS Code extension UI for DVC - experiments, plots, data files, etc. Please ping @shcheklein (discord: @ivan) on Discord (see [here](https://discord.com/channels/485586884165107732/497187456051970048/841831363157032960)) if you'd like to give a try, and be an alpha user.

[2021-05-12 06:40] karajan1001 commented on #5256
already fixed by #5812 , related tests.
https://github.com/iterative/dvc/blob/b349b39d6266a28705b03b1b06e5c0cf98a9080d/tests/func/test_ignore.py#L417-L420

[2021-05-12 06:40] #5256 closed

[2021-05-12 06:41] AnnKatrinBecker commented on #5990
Tried installing latest version `DVC version: 2.1.0+b349b3 `

The issue persists:

[code]

[2021-05-12 06:44] karajan1001 commented on #3431
![image](https://user-images.githubusercontent.com/6745454/117930358-794fb100-b330-11eb-929d-e930066c65c4.png)
Already fixed in some previous version. close it.

[2021-05-12 06:44] #3431 closed

[2021-05-12 07:25] kwon-young opened #5995 "dvc push/pull ImportError"
# Bug Report

## dvc push/pull: crash with ImportError

## Description

Here is my setup:

* `datasets` git repository
  * this repo serves as a data registry as described in [the doc](https://dvc.org/doc/use-cases/data-registries)
  * the remote is a ssh remote with a path like `user@myserver:/path/to/datasets/cache`

* `isolating-gan` git repository
  * this repo is my current dev project which

[2021-05-12 08:41] korshunovdv opened #5996 "dvc pull: Computing md5 for a large file"
# Bug Report

## dvc pull: Computing md5 for a large file

## Description

I add some folder with large files to .dvcignore.

~ dvc check-ignore **/bags
... data/bags_historical/bags

Then when I try to pull data, DVC calculate hash for files from ignored directories.
I have real large files, and calculating hash spend a lot of time.
I ques it shouldn't calculate hash for ignored folder.

~ dvc pu

[2021-05-12 08:53] iesahin commented on #5971
I think one part of the problem is the difference between YAML 1.1 and YAML 1.2 looks minuscule from the user POV.

It should at least be called YAML 2 if it's backward incompatible. I feel bad when technically half-baked formats become so popular. Markdown is another such case.

Is there a way to support both YAML 1.1 and 1.2, in all `.yaml` files, including `dvc.yaml` and `dvc.lock`? What are th

[2021-05-12 09:00] pmrowla commented on #5996
Hi @korshunovdv can you try using the latest version of DVC (2.1.0) and see if you still experience the issue? 1.11.16 is pretty outdated at this point and 1.x in general is no longer supported

[2021-05-12 09:09] clamydo opened #5997 "Handle failing loop-iterations in `foreach` stages gracefully"
I am using `foreach`-stages to loop over variations of inputs, that is same pipeline, different independent inputs. However, if there the `cmd` causes an error in a loop-iteration, the whole pipeline grinds to a stop.

Would it be sensible, to add a feature that would make the loop continue on an error and just not executing the dependent stages of the error case?

discord context: https://discord

[2021-05-12 10:45] #5996 closed

[2021-05-12 12:32] kwon-young opened #5998 "dvc status: wrong etag used when computing status for imported stage"
# Bug Report

## dvc commit udpates wrong etag

## Description

After importing data from a remote url using `dvc import-url https://raw.githubusercontent.com/musescore/MuseScore/master/fonts/leland/metadata.json`, a dvc file `metadata.json.dvc` is created together with `myremotefile`.
In this dvc file (ex shown below), the etag of the file is saved:

[code]

However, doing a `dvc status` shows th

[2021-05-12 14:10] dberenbaum commented on #5971
They are not specific to `--set-param`, but I thought they were about parsing. I thought that all of these issues occur because DVC reads in the provided values as yaml data and changes their values in the process rather than taking the values as string literals. From what I read:
* #5777 happens because we convert the original value in params.py from `1e-8` to `1e-08`, which causes it not to repl

[2021-05-12 14:15] casperdcl commented on #5971
being half-baked is a feature not a bug :) Same reason why Esperanto probably won't manage to replace English as *lingua franca*

[2021-05-12 14:55] iesahin commented on #5971
Then there is no reason to perpetuate this _feature_ in DVC maybe :) Natural languages are inherently half-baked, because our understanding of the world we live in is half-baked, but let's not dive into this discussion here :)

If it's possible to cover differences between 1.1 and 1.2 in a sensible manner within a feasible update, it may be better not to leave some users in buggy cold hands of YAM

[2021-05-12 17:59] efiop commented on #5990
@AnnKatrinBecker Could you show `dvc doctor` output inside of the config_env['REPO'], please?

[2021-05-12 18:58] akbir opened #5999 "Expand Python API"
Is there a way to  call dvc.api.pull from the python api?

This would be very useful in use cases where models needed to pulled and run under a larger set of tasks.

[2021-05-13 00:45] pmrowla commented on #5999
It's not part of the official `dvc.api` module, but our internal `dvc.repo.Repo` class is stable and can be used to programmatically run DVC commands.

So you can do
[code]

If you refer to the code for the CLI [dvc pull](https://github.com/iterative/dvc/blob/da0f0406fbb924f7831b98afb763e6c9b1323e22/dvc/command/data_sync.py#L25) command you can see how the CLI args get translated into the `repo.pu

[2021-05-13 00:52] #5999 closed

[2021-05-13 01:14] efiop opened #6001 "check-ignore: stabilize behavior for subrepos"
`git chec-ignore` will error-out if you try to use a path that is in submodule. Seems like `dvc check-ignore` should do the same with our subrepos.

See https://github.com/iterative/dvc/pull/6000#discussion_r631438598

[2021-05-13 02:02] pmrowla commented on #5998
Just to clarify, when I test this locally it looks like `dvc commit` is actually working properly. For weak etags, the uppercase `W/` is [mandatory](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/ETag#directives).
I think problem is that `dvc status` should not be reporting that the checksum for the imported file has changed (and there should be nothing to `dvc commit`)

[2021-05-13 02:52] jorgeorpinel opened #6003 "cache dir: no longer needed; deprecate?"
`dvc config cache.dir` seems to behave exactly the same now:

[code]

[2021-05-13 02:54] jorgeorpinel commented on #6003
p.s. when did this change? We totally missed this in docs.

[2021-05-13 02:54] shcheklein commented on #6003
I think this is a regression if they behave the same way

[2021-05-13 05:43] pmrowla commented on #5998
Problem is that when loading the `etag` from a dvcfile, we convert all checksum fields to lowercase in

https://github.com/iterative/dvc/blob/6d941e6cb599da71f468fe615243ed66017f34ea/dvc/dvcfile.py#L161
https://github.com/iterative/dvc/blob/6d941e6cb599da71f468fe615243ed66017f34ea/dvc/output/__init__.py#L30-L34

The `stage_text` passed into `validate()` will have the correct capitalized `W/...` et

[2021-05-13 09:00] kwon-young commented on #5998
Thank you for your reply.

Ok, so I suppose I can safely ignore what `dvc status` is saying and the problem will fix itself in the next version of dvc ?

[2021-05-13 09:21] pmrowla commented on #5998
I am not sure when the issue will be fixed, but yes for now you can ignore what `dvc status` says for that imported stage

[2021-05-13 09:33] kwon-young commented on #5998
So I assume we just need to remove the `Lower` qualification to the `CHECKSUM_SCHEMA` ?
Can I make a pull request ?

[2021-05-13 09:37] pmrowla commented on #5998
It's not quite that simple, because this issue is specific to HTTP etags. All of the other checksum types that we use in DVC still want the `Lower` in the schema. We will likely need to refactor it to have specific schemas for each possible type instead of using the single general schema that we have right now.

[2021-05-13 09:42] kwon-young commented on #5998
Well, the thing is that `dvc commit` compares the etag in the dvc file with an unmodified newly downloaded etag.
For me, this means that we should not modify the etag at all.

[2021-05-13 09:51] pmrowla commented on #5998
Right, but this may also mean that we should actually be normalizing (lowercasing everything except the `W/`) the downloaded etag's on import and commit as well, since according to the HTTP spec the only case-sensitive part is the `W/`.

[2021-05-13 09:57] pmrowla commented on #5998
should also note that this will likely require doing some research into how S3/GS/OSS handle etags as well, as the spec leaves a lot of it up to the web server as far as how to handle etags. So it's possible that we may need to differentiate between them (we currently just use a single general `etag` identifier)

[2021-05-13 09:57] kwon-young commented on #5998
Maybe we could also add some validation to

https://github.com/iterative/dvc/blob/6d941e6cb599da71f468fe615243ed66017f34ea/dvc/fs/http.py#L149-L153

[2021-05-13 11:47] skshetry commented on #1819
The unittest based tests have started to rot as we rarely update them compared to the fixtures. The `diskcache` changed removed the `repo.state` context manager, which made the tests prone to failure raising PermissionError in Windows as we are not closing the sqlite connection (which we still aren't). It was quite easy to debug and fix on pytest, but quite difficult on unittest based tests. Also

[2021-05-13 17:43] jorgeorpinel commented on #5971
To summarize I agree the problem is the perceived UX. It can feel as if DVC is breaking your code and it's unclear what actually happened. But if there's no way to prevent or catch these errors in order to present a clear warning or error message, then the only option left is to be very emphatic in docs and even in the command help outputs that we hate yaml 1.1

[2021-05-13 18:50] dberenbaum opened #6005 "exp run: fails with multiple checkpoint outs in a stage"
# Bug Report

## Description

Might not be technically a bug, but it seems impossible right now to have multiple checkpoints. For example, if I have my model weights as one output and a file with the current step/epoch as another, I want both of these to act like checkpoints outputs.

### Reproduce

[code]

### Expected

I would expect stages to support any number of checkpoints outputs.

### Envi

[2021-05-13 19:05] kwon-young opened #6006 "Remove pushed experiment from git remote"
Push an experiment to a git remote:

[code]

Then:

[code]

Currently, only local experiment can be removed with:

[code]

but `dvc exp list origin` still shows `myexpe`.

I would like to also be able to remove a pushed experiment on the remote.

[2021-05-13 23:58] jorgeorpinel commented on #5791
Related: https://github.com/iterative/dvc/discussions/5819#discussioncomment-736194

[2021-05-14 00:57] pmrowla commented on #6006
For now you can just use git directly

[code]

[2021-05-14 01:13] pmrowla commented on #6005
This is a bug in how we set up our stage execution environment when we have checkpoints. The intended behavior for experiments is that you should be able to have multiple checkpoint outs in a given stage

[2021-05-14 09:02] karajan1001 commented on #6001
![image](https://user-images.githubusercontent.com/6745454/118247625-f700f180-b4d5-11eb-8de3-5ef04d6dddb6.png)

`git check-ignore` didn't error out but showed null on my computer. But still different than `dvc check-ignore`

[2021-05-14 09:19] efiop commented on #6001
@karajan1001 is `subrepo` a git submodule?

[2021-05-14 09:22] karajan1001 commented on #6001
Both `Git` and `DVC`.

[2021-05-14 09:25] karajan1001 commented on #6001
![image](https://user-images.githubusercontent.com/6745454/118250748-5c0a1680-b4d9-11eb-9b4e-451b1f7ad3c3.png)
OK, I know I didn't commit it.

[2021-05-14 11:25] 4aHxKzD opened #6009 "Adding Zenodo as a Remote"
Is there a reason for not having Zenodo as a remote (for data) apart from nobody having dedicated time to develop the feature?

I know that that Zenodo creates a DOI for each version of a data set, which makes it harder do update the "repository" with `push`,
but they provide a DOI that represents every version of a file and points to the latest. Maybe that could be used as a remote.

I searched o

[2021-05-14 12:38] dolfinus commented on #5972
There is an investigation of the issue:
https://github.com/boto/botocore/issues/2339#issuecomment-816068725

It looks like boto3 library is reading AWS_CA_BUNDLE environment variable value only it `verify` option has not been passed or value is `None`. If it is passed, `False` means disabling SSL check and some str means to use this value as a path to certificates bundle
But dvc uses the same conf

[2021-05-14 13:49] #6005 closed

[2021-05-14 15:02] efiop commented on #6009
Hi @4aHxKzD

Indeed, we just didn't receive any requests for it. I'm personally not familiar with zenodo as storage. If one would like to add support for it, it would require first implementing an fsspec-compatible https://github.com/intake/filesystem_spec/ filesystem in his own repository and dvc will then be able to use it as a plugin in the near future https://github.com/iterative/dvc/issues/51

[2021-05-14 15:26] 4aHxKzD commented on #6009
I think that we could use plain HTTP remote, but the repo would need to have a different remote for each data file. I already tried using `dvc pull` using the URL of a specific version of a file and it works. But `push` would be harder since we would need to create a new version of the file in Zenodo's platform, which they consider a separate object with a different DOI.

[2021-05-14 19:40] efiop commented on #6009
@4aHxKzD Seems somewhat similar to ipfs https://github.com/iterative/dvc/pull/4736 , we had similar problems there. I'm not sure how to use such remotes right now, they are just too unconventional compared to the rest of remotes.

[2021-05-15 00:35] rgvanwesep opened #6012 "ssl_verify key in remote config does not accept custom CA bundle path and aws config is ignored"
The `ssl_verify` key in the remote config gets passed through to the `S3FileSystem` `client_kwargs`:
https://github.com/iterative/dvc/blob/89b40afee740146af42efeb8563c08053f984a88/dvc/fs/s3.py#L105
https://github.com/iterative/dvc/blob/89b40afee740146af42efeb8563c08053f984a88/dvc/fs/fsspec_wrapper.py#L17
https://github.com/iterative/dvc/blob/89b40afee740146af42efeb8563c08053f984a88/dvc/fs/s3.py#L1

[2021-05-15 01:26] pmrowla commented on #6012
Looks like we have 2 (related) action points here

- `client["verify"] = config.get("ssl_verify", True) ` should default to passing None into boto instead of True if `ssl_verify` is not explicitly set for a DVC remote
- DVC's `ssl_verify` should also accept a ca_bundle string

(and finally the docs for `ssl_verify` will need to be updated)

@rgvanwesep if you'd like to work on this just let us kno

[2021-05-15 01:28] pmrowla commented on #6009
This seems related to https://github.com/iterative/dvc/issues/5450 - I'm not too familiar with Zenodo, but it looks more like it would be suited to keeping track of "snapshots" of the entire DVC repo state, rather than for versioning live data as a regular DVC remote?

[2021-05-15 01:31] rgvanwesep commented on #6012
@pmrowla Good point on the first change. It would be good to be able to let boto fall back to the config.

I would like to work on this. I can make both changes at the same time.

[2021-05-15 01:33] pmrowla commented on #6012
related https://github.com/iterative/dvc/issues/5972

[2021-05-15 05:21] kalingibbons commented on #5964
Alright now I'm trying to bring in a dataset from a freshly cloned repo and running into more false positives on the gitignores, and I would say this behavior is related:
![image](https://user-images.githubusercontent.com/11838956/118348890-76101d00-b50a-11eb-8577-31688abb9c6a.png)

How is DVC checking these .gitignore files? It seems like it's breaking out of the recursion too early, or isn't rec

[2021-05-15 06:29] khursani8 commented on #2432
Hi, I'm also interested for this feature

[2021-05-15 07:39] 4aHxKzD commented on #6009
@pmrowla It probably is more suited to the first case you mention, but I'm more interested in the latter.

[2021-05-15 08:17] pmrowla commented on #5964
@kalingibbons do you have other `.gitignore`s in the parent directories there? I'm unable to reproduce your issue in master or the latest DVC release (2.1.0)

[code]

[2021-05-15 18:27] #6009 closed

[2021-05-15 18:35] Benjamin-Etheredge opened #6016 "More granular control on caching of logs with dvclive"
The `cache` flag under `live` in `dvc.yaml` seems to be an all-or-nothing type flag (i.e., all log files, summaries, and HTML must be cached or none of them). The logging directories, which contain each iteration of data, are less likely to be checked into git than the summaries are. This is due to the large number of differences that will always be present in the logged iteration data. Summaries

[2021-05-16 16:40] zimka opened #6019 "get: load performance is significantly (many times) lower than for pull (reproduced on dvc-bench dataset)"
# Bug Report
`get` command for external repo works many times slower than clone + `pull` command for the same repo (checked on local remote). The same issue happens for the `import` command.
For reproducible toy dataset (1Gb, 10^4 files) there is a 5x difference, measured by cProfile (archive attached).
For my real data (which actually raised the issue in the first place) with 20Gb and 150k files

[2021-05-16 17:15] kalingibbons commented on #5964
*I'm on vacation until the 20th, so my responses will be intermittent.*

@pmrowla Yes, it's actually the same structure from the previous screenshots, I had just cloned everything to my laptop before heading out for a vacation. I've recreated some of your steps, although I'm on Windows. I didn't have DVC version pinned for this conda environment, so the laptop is now on the 2.1.0 version.

Sorry,

[2021-05-16 17:18] kalingibbons commented on #5964
I suspect you'll ask for this, next:

[code]

[2021-05-17 00:54] pmrowla commented on #5964
Ok, your problem is a duplicate of this issue: https://github.com/iterative/dvc/issues/5748

It will need to be fixed upstream in dulwich

[2021-05-17 01:05] pmrowla commented on #6016
This will cause those files to be tracked by both DVC (as cached objects) and Git, which is a problem. It will eventually cause certain DVC commands to fail as we do not allow adding/tracking a file which is already tracked by Git.

As you noted, what you really need is the ability to set specific `dvclive` outputs as `cache: false` so they can be tracked via Git instead.

Transferring this issue

[2021-05-17 01:12] karajan1001 commented on #6001
[code]

Same condition on files outside repo.

[2021-05-17 06:52] dmpetrov commented on #5971
@efiop how hard it would be to implement this hack?

PS: I'm wondering about this issue since in some projects the transition to yaml 2.0 might be not as straightforward as in our simple code examples. Also, some of the arguments above assume the user's code is written in Python which might be also not correct in some cases (OpenCV library uses yaml 1.0, not even 1.1.).

[2021-05-17 07:32] Suor opened #6020 "S3 configpath is not properly treated as a relpath"
From reading `dvc/config.py` I see that `configpath` option of S3 configuration is not included into `Config._map_dirs()`. This will mean that any relative paths there would be resolved concerning current dir not the dir config file is in.

So the fix is to include `configpath` into `Config._map_dirs()`.

The more complex fix, which will save from future errors of this type is removing duplication

[2021-05-17 08:27] friggog opened #6023 "Revert temporary azure changes and update adlfs to 0.7.5"
As of https://github.com/dask/adlfs/pull/229 the issue with event loops in adlfs is resolved, the temporary solution from @isidentical  for DVC in https://github.com/iterative/dvc/pull/5958 can be reverted with adlfs requirement pinned to 0.7.5 instead of 0.7.1

I've tested this with DVC 2.1.0 and manually installed adlfs 0.7.5 and everything seems to work

PS it would be great to have this (or th

[2021-05-17 08:34] akbir opened #6024 "dvc.api.get_url fails when used in jupyter notebook"
I'm trying to build a python library (a model hub) which pulls some large data structure (model weights) when requested by users.

My current approach was to try using dvc for the backend, (and shipping the hashes within the library). In particular using the `dvc.repo` and `dvc.open`

Unfortunately running dvc commands once a library has packaged doesn't seem to play nicely (as the path for all fi

[2021-05-17 12:47] dberenbaum commented on #5748
Is there a Dulwich issue or PR for this?

[2021-05-17 13:12] dberenbaum commented on #6012
Also see #5732 for discussion of how to implement this (whether as part of `ssl_verify` or a separate parameter) and related issues in #5388 and https://github.com/iterative/dvc.org/issues/1079. cc @skshetry

[2021-05-17 13:59] shcheklein commented on #6020
@Suor what is the priority for this from the Studio perspective?

[2021-05-17 14:25] pmrowla commented on #5748
@dberenbaum no, someone still has to do the actual investigation on the dulwich side to see what exactly needs to be fixed. Someone should also test using libgit/pygit's gitignore implementation as well, because if this edge case is already properly supported there it may be easier for us to just switch to that rather than fixing this particular issue in dulwich.

[2021-05-17 15:05] skshetry opened #6025 "Repo api: be able to distinguish between external repo and local repo"
I just noticed that in Viewer, the `dvc-bench` was failed to parse because of https://github.com/iterative/dvc-bench/issues/255.

The gitignore issue should not affect the repos opened from Git, as it is supposed to only affect the local workspace.
But, Studio opens the cloned repo from the workspace rather than from git, the checks get applied and fail to parse for the specific commit.

See: http

[2021-05-17 15:07] Suor commented on #6020
Not an issue for Studio. I found it reading dvc code for an unrelated issue, which I've already fixed.

[2021-05-17 15:48] dberenbaum commented on #5895
@mattseddon No rush since I know you are still probably working through the design, but whenever you are confident that you do or don't need this feature, let us know so we can either prioritize or close this.

[2021-05-17 15:49] dberenbaum commented on #5866
@mattseddon Is this still an issue for you?

[2021-05-17 15:56] efiop commented on #6024
@akbir Could you elaborate, please?

[2021-05-17 15:58] efiop commented on #6025
@skshetry What is `external` though? The one that is not opened from a local path? Or any that is cloned and opened and not just opened?

[2021-05-17 19:29] rgvanwesep commented on #6012
@dberenbaum I read through the related issues you posted. I think the discussion you are referring to this thread?
https://github.com/iterative/dvc/pull/5732#discussion_r604318420
The linked PR I posted implements a custom CA bundle path as part of `ssl_verify` (similar to how botocore and requests does it.)

Also, it seems that I ran into the same issue as this commenter:
https://github.com/itera

[2021-05-17 22:54] mattseddon commented on #5895
Thanks @dberenbaum. I have been working in the experiments space this week and we haven't done any further review on the trees but will let you know (or close) when we get back to it.

[2021-05-18 07:14] Suor commented on #6025
I don't really understand why dvc fails at all. As far as I remember from original discussion about lock files they were supposed to be optional to commit. Many things might still work, e.g. metrics or plots collection. This would be enough for Viewer.

[2021-05-18 07:15] AnnKatrinBecker commented on #5990
[code]

[2021-05-18 08:48] pmrowla commented on #5995
For the record, it looks like the problem was this core Python bug (affects 3.9 and 3.10 only) - https://bugs.python.org/issue43517

The solution is to upgrade Python to 3.9.4 or later (or run any 3.7 or 3.8)

[2021-05-18 08:48] #5995 closed

[2021-05-18 08:48] skshetry commented on #6012
@dberenbaum, I am fine with this, but let me ping @efiop on this. What alternative name do we have?

[2021-05-18 08:55] kwon-young commented on #5995
thank you very much for your help

[2021-05-18 09:03] skshetry commented on #6025
The naming might be bad, but essentially the repos that should be considered as an `external` repo even if it's not.

[2021-05-18 09:11] skshetry commented on #6024
@akbir, have you looked into [`dvc.api`](https://dvc.org/doc/api-reference/read)?

[2021-05-18 11:46] isidentical opened #6030 "installation from the master on a clean environment raises some errors"
[code]
[full logs](https://gist.github.com/isidentical/918da389e97e7c1b664d6a91ed522a78)

related: https://github.com/networkx/networkx/issues/4718

[2021-05-18 11:47] karajan1001 commented on #6025
Excuse me, I don't know why not a remote repo work with its own gitignore/dvcginore? In my opinion, they are components of the repo. Discriminate them here make things more complex.

[2021-05-18 12:08] karajan1001 commented on #5748
I'm quite familiar with git-ignore patterns, I can help them if needed.

[2021-05-18 12:32] Suor opened #6031 "output: don't raise RemoteCacheRequiredError when collecting repo stages"
I have an s3 thing dvc added to a repo and I remove the remote from the repo config to prevent any network access during stage collection. Then I try to collect metrics with `repo.metrics.show()`, but get `RemoteCacheRequiredError`, which is not really required for what I am trying to do.

**Output of `dvc doctor`:**

[code]

More context is [in Sentry](https://sentry.io/organizations/iterative/is

[2021-05-18 12:51] dberenbaum commented on #6025
It seems like anything tracked by Git should get parsed, right? Seems somewhat related to other discussions about when parsing should fail (cc @pared). What commands or calls is Studio making that are failing?

Could you elaborate more? I'm not following how gitignore/dvcignore are related.

[2021-05-18 14:03] karajan1001 commented on #6025
I agreed with @efiop, we should distinguish gitignore files already been and not tracked. And maybe Dvcignore suffers from a same problem.

[2021-05-18 15:11] skshetry commented on #6019
Most likely this is happening because of https://github.com/iterative/dvc/issues/5546. `cProfile` log is not being very helpful here to point out the cause.

[2021-05-18 15:41] dberenbaum commented on #5965
@shcheklein If we start with adding any running experiments and checkpoints to the table, whether in the workspace or not, is that enough for now? Do we want to open a separate ticket for stopping an experiment?

My opinions on how it should look:
* Add some signal (similar to the asterisk for the queue) that shows which rows are for running experiments.
* Having the final exp name at the start wo

[2021-05-18 15:45] dberenbaum commented on #5739
@rogermparent Is this still an issue, or is it sufficient to retry if the repo is locked?

[2021-05-18 15:49] dberenbaum commented on #5712
@skshetry I think this issue is ready for implementation. Let me know if you think there's anything left to discuss.

[2021-05-18 15:51] #5910 closed

[2021-05-18 15:58] dberenbaum commented on #5913
@efiop Are you waiting on product decisions here? I think we can revisit the warnings, but seems like we can implement pull behavior to match push for now.

[2021-05-18 16:12] #5692 closed

[2021-05-18 17:31] rogermparent commented on #5739
The integration in question (and similar ones) could certainly get by with just retrying when locked, but there seems to be interest in this issue outside of that initial issue. I'm not partial one way or the other in this regard, even if it's closed it can be reopened if necessary.

[2021-05-18 17:49] dberenbaum commented on #6012
I thought you had recommended `certs` and I also think I saw or hear `ca_bundle`, but I don't have a strong opinion about the name or whether we even need a separate key.

[2021-05-18 17:54] dberenbaum commented on #6019
Should get be included in dvc-bench?

[2021-05-18 17:59] dberenbaum commented on #5739
Thanks! We can leave it open but good to know it's not a blocker for you.

[2021-05-18 18:03] shcheklein commented on #5965
yes! that would be a great start

yes, we can discuss and address it separately

For VS Code we care about the API (`--show-json`) but probably it will be solved if we solve in the table.

[2021-05-18 18:47] zimka commented on #6019
@dberenbaum it looks like it is [included](https://github.com/iterative/dvc-bench/blob/master/benchmarks/imports.py) (afaik `import` and `get` use similar code) and I have found some [graphs](https://iterative.github.io/dvc-bench/#imports.ImportBench.time_imports).
However, on my PC execution time is drastically different from bench graphs:
1. git clone + dvc pull data/cats_dogs.dvc: 5-10 mins (33

[2021-05-18 20:27] dberenbaum commented on #5965
@pmrowla Any questions or concerns?

[2021-05-18 20:36] kowaalczyk opened #6035 "Run all variants of a `foreach` stage in parallel"
In my current project I have use case for a `foreach` stage with a long list of parameters (3048, to be specific).
I'd love to be able to `dvc repro` this stage in parallel.

For instance, for a stage like this (which is roughly what I'm doing right now):
[code]

I'd like to run something like:
[code]

To run 64 jobs iterating over disjoint sub-arrays of items declared in the `foreach` list, effec

[2021-05-18 22:32] mattseddon commented on #5866
Will come back to you shortly, sorry for the delay. Been caught up away from anything that use `list`.

[2021-05-19 01:18] mvonpohle opened #6036 "dvc stage add --force: Only adds new outs to .gitignore, doesn't remove unused outs"
# Bug Report

## Description

According to the documentation I should use dvc stage add --force when I want to update a stage. However the .gitignore file only gets updated with new output files and old output files  aren't removed from .gitignore.

### Reproduce

1. dvc stage add -n test_stage -o file1 -o file2 python test_script.py
2. View the produced .gitignore. It should contain the following

[2021-05-19 06:44] karajan1001 commented on #5913
I'm sorry, may I asked which version info is missing

[2021-05-19 07:13] karajan1001 commented on #6035
Sorry, DVC is not designed in a way to allow running more than one stage at a time within a single repository instance/workspace, and there are existing feature requests to support this behavior for example #755, #3783.

And `foreach is designed initially for multi similar models, (I used to use it for 51 sub-classes's classification task). There are some discussion about `foreach` in #5440.

[2021-05-19 07:20] karajan1001 commented on #6036
Duplicated with #5156?

[2021-05-19 07:27] zimka commented on #6019
I have got the same results on Linux and dvc 2.0.17 with https://github.com/iterative/dvc-bench data/cats_dogs.dvc - which means that the problem is not specific to Windows or local storage only, and can be reproduced on already existent dataset in dvc-bench.
Also in my case `dvc get` used 4 cpus according to htop and the average load was similar to `dvc pull`, but File/s was much lower.
Not sure

[2021-05-19 11:44] kowaalczyk commented on #6035
Glad to see this being discussed in #5440 - just wanted to flag my use case for the parallel `foreach`, closing this issue for now :)

[2021-05-19 11:44] #6035 closed, assigned to nobody

[2021-05-19 12:48] dberenbaum commented on #5913
@karajan1001 This is the scenario as far as I remember:

* `dvc add` data and commit `.dvc` file.
* `dvc stage add` and commit `dvc.yaml` (the stage does not get run).
* `git push` and `dvc push`, which warns the user that version info is missing for the outputs of the `dvc.yaml` stage.
* On remote server in CML, `git pull` and `dvc pull`, which throws an error because version info is missing for

[2021-05-19 15:41] akbir opened #6040 "dvc.api.get_url fails when used in jupyter notebook"
# Bug Report

## dvc.api.get_url does not work in jupyter notebook

dvc.api.get_url fails when used in jupyter notebook

### Example:

[code]

### Expected
[code]

### Error Message

[code]

### Environmental Information

[code]

[2021-05-19 15:42] akbir commented on #6024
Hi sorry i've written this more clearly here https://github.com/iterative/dvc/issues/6040

[2021-05-19 15:59] efiop commented on #6024
# Bug Report

## dvc.api.get_url does not work in jupyter notebook

dvc.api.get_url fails when used in jupyter notebook

### Example:

[code]

### Expected
[code]

### Error Message

[code]

### Environmental Information

[code]

[2021-05-19 16:02] efiop commented on #6024
@akbir And could you show `dvc doctor` output, please?

[2021-05-19 16:18] brbarkley commented on #5562
Any update on this issue? I see it's been delayed a few times.

[2021-05-19 16:23] jorgeorpinel commented on #6003
Hi @skshetry (since I see you triaged) what do you think may be the answer to this Q? Thanks

[2021-05-19 16:24] efiop commented on #5562
Hey @brbarkley , thanks for the interest! We are currently actively working on improving the internals in order for them to accommodate the optimizations that will be the result of this QA. So far ETA for the active phase of this ticket is around the beginning of June.

[2021-05-19 16:27] efiop commented on #6003
Might be a regression, need to take a closer look.

[2021-05-19 16:58] efiop commented on #6012
@dberenbaum Thanks for reminding about that PR :pray:  , I totally forgot about it.

The `ssl_verify` is ok if user knows about boto, but probably not so good from a regular user's perspective. I guess we can keep it as is with `ssl_verify` for now, looks like there is not much pushback these days. Also, #6018 implementation is significantly better than the attempt we had before, so I personally w

[2021-05-19 17:11] efiop commented on #5913
@dberenbaum We might consider starting to treat no-version-info checkout errors as nonfatal. We have some visualization of result in checkout right now (A, D etc), so maybe there is something we can do there instead of push-like warnings, need to take a look.

@skshetry WDYT? ^

[2021-05-19 17:19] efiop commented on #5990
@AnnKatrinBecker Are you able to `dvc pull` and open and load that file like that without api.open?

[2021-05-19 18:50] efiop commented on #6031
For the record: we raise that in `Output.__init__`, with the intention of warning user about external cache requirement for external outputs. Need to find a better way to handle that.

[2021-05-19 22:04] giuliano-97 opened #6041 "dvc get: invalid start byte only on get"
# Bug Report

## Description

I have set up a repository on GitLab as my data registry with WebDAV as remote. When I `dvc push` or `dvc pull` files, everything works more or less fine. But when I try to `dvc get` a specific file from the dataregistry, I get a decoding error.
[code]

### Reproduce

1. Setup GitLab repository cloned via SSH with`dvc init` and configure webdav remote
2. Copy file to

[2021-05-19 22:42] mvonpohle commented on #6036
Possibly? It seems like in #5156 that he's manually editing dvc.yaml. In my case I'm not manually editing .gitignore so it seems more appropriate for dvc to manage adding/removing files as I modify stages through the dvc stage command.

[2021-05-19 23:30] efiop commented on #6041
Hi @giuliano-97 . Could you add `-v` to the command and show full log for it, please?

[2021-05-20 01:40] pmrowla commented on #5965
I'm not sure what you mean here? Whatever is cancelled or incomplete in the workspace is just the `workspace` row. If it's a queued run, cancelled or failed runs currently just go back into the queue so they can be retried. Do we want to change this behavior?

@dberenbaum

[2021-05-20 07:03] giuliano-97 commented on #6041
Sure, here you go.
[code]

[2021-05-20 07:32] pared commented on #5338
Seing https://github.com/iterative/dvc/issues/6025 makes me wonder whether forbidding to `.gitignore` was a right choice. Maybe we should have detect that upon running experiments and throw an error only in such situation?

[2021-05-20 07:36] Suor commented on #6025
[FileIsGitIgnored](https://sentry.io/organizations/iterative/issues/2400969496/?project=5220519&referrer=github_integration) is raised during stage collection, which is the first thing DVC does for most ops. Studio is trying to collect metrics, params, plots and files info via `Repo.metrics.show()` and friends. All of the above require stage collection.

[2021-05-20 07:57] Suor commented on #6031
Need to be moved to either CLI code or some code that actually uses that remote cache, e.g. some `.exists()` call.

[2021-05-20 11:14] skshetry commented on #5913
I think that the incomplete checkout is a failure, be it due to missing cache or missing version info. `|| true` is the correct way to handle that. We could provide a `--ignore-errors` flags to not error out though.

[2021-05-20 11:20] pared commented on #5913
Related #6039

[2021-05-20 12:47] dberenbaum commented on #5965
No, that's fine. I'm not sure how that will work in combination with showing the running experiment, but I can wait and see what it looks like.

[2021-05-20 13:36] dberenbaum commented on #6025
Yup, @Suor, I was agreeing with you that DVC should still collect all of those if they are Git tracked, even if `dvc.lock` is missing or ignored.

[2021-05-20 14:06] dberenbaum commented on #5913
@skshetry Should push also fail?

In the scenario above, it seems surprising to me that push or pull would fail. Should any stage that hasn't been run yet cause a failure on push or pull?

[2021-05-21 03:28] Suor opened #6042 "Confine collection errors at lower level possible"
There are situations when a DVC repo may be broken, sometimes retroactively, i.e. old commits are broken by new version of DVC. In this situation DVC simply refuses to work when we try to do anything with a broken rev. For many operations, however, we don't need things to be completely correct, i.e. we may still do `dvc metrics show` when `stage.cmd` has a broken interpolation lookup [like here](h

[2021-05-21 03:33] Suor commented on #6025
Created an issue about stage collection errors confinement https://github.com/iterative/dvc/issues/6042

[2021-05-21 06:29] pmrowla opened #6043 "ci/tests: test environment should ignore current user's global/system configs"
When we run our unit/func test suite it should run in a completely clean & reproducible environment - meaning the test environment should also ignore the running user's global and system level DVC configs if any exist.

- For disabling the user's global config we should just override `$HOME` (or the windows equivalent env vars) so that it points to an empty temp directory (or some default template

[2021-05-21 07:27] AnnKatrinBecker commented on #5990
If I `dvc pull` the model in the config_env['REPO'] I can load it.
Similarly if I initialize dvc in the initial repo and `dvc import` the model, I can successfully load it.

Sorry, that I did not state this clearly before.

[2021-05-21 08:47] pmrowla commented on #5990
@AnnKatrinBecker what type of remote are you streaming from

[2021-05-21 09:33] AnnKatrinBecker commented on #5990
we are using a webdav server

[2021-05-21 10:22] giuliano-97 commented on #6041
@efiop Here is a follow-up on the issue. I tried the following:
- Change where the registry is hosted i.e. I used a repo on my personal GitHub
- Change the remote: I tried my personal Google Drive
And I still get the same error. So I suppose the issue is specific to either the version of DVC or Python I am using, or to the OS.

[2021-05-21 21:34] efiop commented on #5990
Interesting that https://github.com/iterative/dvc/issues/6041 is also a webdav one. Might be a different type of bug, but still. Maybe time to move to webdav4 first instead of investigating all of the `webdav3` issues. CC @skshetry

[2021-05-22 02:30] #5671 closed

[2021-05-22 04:26] karajan1001 commented on #6043
Agreed. I used to work on a `dvc config` PR last year, and suffer a lot from global config caused problem when running tests.

[2021-05-22 19:10] isidentical opened #6048 "TypeError: walk() got an unexpected keyword argument 'detail'"
[code]

Discord Context: https://discord.com/channels/485586884165107732/563406153334128681/844706071964155947

[2021-05-24 07:10] isidentical commented on #6048
This seems like fixed on the upstream: https://github.com/dask/s3fs/issues/299

[2021-05-24 07:16] isidentical commented on #6048
I assume this was a dependency mismatch, and the user did not correctly install the dvc (`dvc[s3]`) since there is no other explanation I was able to infer. Our dependencies are pinned, and the conflict doesn't happen on the environments I tested, so closing this issue. (Also informing the user to double check)

[2021-05-24 07:16] #6048 closed

[2021-05-24 08:40] #5638 closed

[2021-05-24 08:40] #5684 closed

[2021-05-24 11:45] rahulbshrestha commented on #1676
@mbraakhekke @shcheklein Won't something like locality sensitive hashing work so small changes won't result in a completely different hash?

[2021-05-24 11:57] aguschin opened #6050 "exp show: show names for the queued experiments"
It would be great to see the name of a queued experiment. Right now if we run, for example
[code]
the table below won't show it's name right away:
<img width="1262" alt="image" src="https://user-images.githubusercontent.com/6797716/119343471-2aded280-bc9f-11eb-9325-d7a4e788986f.png">
only after we run it with `dvc exp run --run-all`:
<img width="1271" alt="image" src="https://user-images.githubuse

[2021-05-24 12:27] aguschin opened #6051 "exp show: branch names are toggling randomly"
# Bug Report

## Description

I cloned repo get-started-experiments and created new branch. Now `dvc exp show` shows me different  branch names from time to time. It also happens if you move back to `main` branch.

<img width="1160" alt="image" src="https://user-images.githubusercontent.com/6797716/119347212-e3a71080-bca3-11eb-9bfa-ccfd663a5718.png">

### Reproduce

1. git clone https://github.com

[2021-05-24 13:06] casperdcl commented on #6051
Ideally all aliases (refs with the same `HEAD`) should be shown, or at least the same one consistently (e.g. first alphabetically. I don't think Git keep a record of when an alias branch was created so no way to take last created, I think).

[2021-05-24 13:13] mmeendez8 opened #6052 "dvc install --use-pre-commit: dulwhich update breaks pre-commit"
# Bug Report

## Description

Last update of dulwich breaks dvc pre-commit installation.

### Reproduce

This the pre-commit config:
[code]
(Note that rev tag might not be working properly)

1. pip install pre-commit
2. pre-commit install
3. pre-commit run

### Expected

Succesfull dvc installation

### Environment information

[code]

**Additional Information (if any):**
[code]

This can be fixed

[2021-05-24 13:20] efiop commented on #6052
Looks like only windows wheels got uploaded for the latest version. https://github.com/dulwich/dulwich/actions/runs/869690633 , this needs to be fixed on dulwich side. For now you could try installing dvc 2.1.0 specifically in your pre-commit hook.

[2021-05-24 13:34] dberenbaum commented on #6050
#5965 also has some loosely related discussion about whether the final exp name should be shown in the queue from the beginning. @pmrowla what do you think? Not sure how important this is or how difficult to implement, but it does seems like it's a strict improvement on current behavior.

[2021-05-24 14:24] mmeendez8 commented on #6052
Good catch there, did not realize about that :+1:
I have tried to install version 2.0.5 using the rev tag but with no success, it seems to be downloading latest version.
[code]

[2021-05-24 18:52] #6024 closed

[2021-05-24 21:30] #6052 closed

[2021-05-24 21:31] efiop commented on #6052
Thanks for the report, @mmeendez8 :pray: Should be fixed now.

[2021-05-24 22:21] casperdcl commented on #1676
Yes I'd say #3439 and #1676 are duplicates - should probably close one to streamline the discussion.

[2021-05-24 22:52] mattseddon commented on #5866
@dberenbaum the inconsistency is still there but this is not a priority for me.

QQ what is the best thing to do when I find something that is inconsistent / doesn't make sense but that I don't necessarily need fixed straight away?

[2021-05-25 02:46] pmrowla commented on #6051
`exp show` is being changed to always show git SHA's by default, along with a single branch or tag name (w/tag's given higher priority) for that SHA. The SHA will remain unchanged, and ideally we should consistently choose a ref, but I don't think this is high priority right now.

[2021-05-25 04:18] mattseddon commented on #5895
@dberenbaum based on https://github.com/iterative/vscode-dvc/issues/318#issuecomment-845800460 I don't think that this is either a priority or even a want for the vs code extension at the moment. If anything we would probably want to make changes to `diff`. I'll get back to you with further requirements once the product discussions have finished 👍🏻 .

[2021-05-25 04:18] #5895 closed

[2021-05-25 09:14] aguschin opened #7377 "how-to: spot env changes in pipelines"

[2021-05-25 09:20] Christoph-1 commented on #5130
Hi @isidentical . Sorry for the late reply. I had some troubles signing into AWS recently.

I tried it with the latest version on master and get another error with Python 3.9.4:
<img width="941" alt="image" src="https://user-images.githubusercontent.com/36413742/119472799-d85af000-bd4a-11eb-8b06-4b49041e2448.png">
<img width="449" alt="image" src="https://user-images.githubusercontent.com/36413742

[2021-05-25 09:24] Christoph-1 commented on #5130
On Python 3.8 I have a different error:
![image](https://user-images.githubusercontent.com/36413742/119473516-86669a00-bd4b-11eb-972e-cbecac39f274.png)
![image](https://user-images.githubusercontent.com/36413742/119473555-91212f00-bd4b-11eb-97af-19d7a9090b33.png)

[code]

[2021-05-25 10:11] isidentical opened #6055 "setup: bump fsspec/s3fs/gcsfs to 2021.5.0"
This will include a couple of optimizations that were added to the upstream s3fs.

[2021-05-25 11:54] #6055 closed

[2021-05-25 11:59] isidentical commented on #5961
@skshetry is #4218 a blocker for this issue? I don't have the whole context, though it seems something relevant with the used cache calculation and what this issue proposes is speeding up the part after that (running `fs.remove()` calls concurrently).

Another occurrence we hit during my support duty is `dvc gc -c` being slow (taking 95+ hours): https://discord.com/channels/485586884165107732/5634

[2021-05-25 12:18] dberenbaum commented on #6051
@pmrowla Isn't `exp show` limited to the experiments derived from the current HEAD by default? If so, would it make sense to at least prioritize the current branch over others?

[2021-05-25 12:20] skshetry commented on #5961
@isidentical, sorry for misleading, no it's not related. I was just trying to push #4218 up for prioritization. Please feel free to work on this. 🙂

Regarding #4218, the `gc` in whole is just stuck in the discussion for more than a year (see https://github.com/iterative/dvc/discussions/5928). Internally, it might be already possible to implement that (even more so after https://github.com/iterativ

[2021-05-25 12:42] pmrowla commented on #6051
@dberenbaum sure, that's one way we could make it more consistent, at least for the case where HEAD is actually a branch, and there are no tags that also point to HEAD.

[2021-05-25 13:24] Huite opened #6057 "dvc add: case sensitivity on windows command prompt leads to "does not overlap with base path" error"
# Bug Report

## dvc add: case sensitivity on windows command prompt leads to "does not overlap with base path" error

## Description

I've initialized a dvc repo and when I try to add the first file, it gives me an error. I'm on Windows, and it gives me this error:

[code]

Note the difference in upper case versus lower case on the drive letter. I'm guessing it's as straightforward as that, as dv

[2021-05-25 14:00] pmrowla opened #6058 "import/get: inconsistent CRLF handling when importing git-tracked files in cross-platform projects"
From https://github.com/iterative/dvc/pull/6049#discussion_r637777646

When we `dvc import` or `dvc get` a git-tracked file, DVC will read/download (and then track) the file with whatever line endings are in the git-committed blob. Depending on a user's git `core.autocrlf` config, the line endings in the blob may not match what git puts in the user's workspace.

Typically when working in a cross-p

[2021-05-25 15:39] dberenbaum commented on #5913
Ping to keep this discussion moving. Any thoughts?

[2021-05-25 19:51] ivyleavedtoadflax commented on #1416
I think this would also solve another issue that I am experiencing. The situation is this:

* I run a dvc pipeline within a virtualenv in a local folder `./build/virtualenv`.
* Within the pipeline I call rasa, an ML framework with the path `./build/virtualenv/bin/rasa`.
* When I queue up multiple experiments with `dvc exp run ... --queue` and then run them with `dvc run --run-all` I get an error t

[2021-05-25 20:04] jorgeorpinel commented on #1416
@ivyleavedtoadflax this is because queued experiments run in a temporary folder outside your workspace. See When I queue up multiple experiments with dvc exp run ... --queue and then run them with dvc run --run-all I get an error that ./build/virtualenv/bin/rasa is not found.

Just FYI. It's a good question but maybe there's something planned for `dvc exp` that will better address that scenario? C

[2021-05-25 20:04] jorgeorpinel commented on #1416
\* See https://dvc.org/doc/command-reference/exp/run#queueing-and-parallel-execution

[2021-05-25 20:07] jorgeorpinel commented on #1416
p.s. I think there's already a workaround/trick:

[code]

👉 Basically, anything Git staged (no commit necessary) at the time of queueing experiments will be included in that exp's temp dir.

[2021-05-25 20:14] jorgeorpinel commented on #5800
Hi! Another idea from https://github.com/iterative/dvc/issues/1416#issuecomment-848215096 is to setup some mechanism (e.g. env vars) so that queued experiments can use certain assets from the original workspace directly (without moving them to the tmp dir or committing them to the exp commit).

[2021-05-25 20:15] ivyleavedtoadflax commented on #1416
thanks @jorgeorpinel, I was hoping you might say something like that :clap:

[2021-05-25 20:20] jorgeorpinel commented on #1416
Np. Just plese notice the warning I added to my comment after posting 🙂

[2021-05-25 20:40] ivyleavedtoadflax commented on #1416
Ahh

Ahh, realising this is rather slow when the virtualenv is 1.6GB and you queue up a whole load of experiments :facepalm:

[2021-05-25 20:52] jorgeorpinel commented on #1416
Yeah that too 🙁

[2021-05-25 21:09] naveen24691 commented on #4042
I see that not much update has happen on this issue for quite some time. I would like to take this work forward. I have raised a pull request to this issue.
I think the main issue here is to figure out the command which is causing the exception in the `def error(self, message, cmd_cls=None):  `. In my current PR, I have decided to go with the regex on the message and extracting out the affected co

[2021-05-25 21:43] dberenbaum commented on #1416
I think the original issue is about tracking the expanded environment variable value as a dependency, so that `/home/ubuntu/project/build/virtualenv/bin/rasa` becomes a dependency, and if another user sets `RASA_PATH=/Users/user/project/build/virtualenv/bin/rasa`, then it will get recorded as a dependency change. This seems like the opposite behavior from what's desired by @ivyleavedtoadflax, wher

[2021-05-25 23:30] ivyleavedtoadflax commented on #1416
Yes! This does work. Thanks!

[2021-05-26 06:02] skshetry commented on #5913
For the recently created stage, maybe we should not fail, but there could be other reasons why the version info might be missing:
1. git-ignored/dvc-ignored `dvc.lock`,
2. missing/deleted `dvc.lock` file,
3. unreproduced stage,
4. mismatched entries in the `dvc.yaml` and `dvc.lock` file, and
5. missing `md5` hash on `.dvc` file, etc.

[2021-05-26 06:07] skshetry commented on #5712
So, what you are saying is to show both workspace + dvc commit, right?
Now, I think we should also clarify what `--dvc-only` means? Does that mean `dvc commit` or should it also include new updates?

[2021-05-26 07:16] pmrowla opened #6063 "get: opened temp files are not removed upon an error"
Can be reproduced by running `dvc get` with any invalid path

[code]

discord context: https://discord.com/channels/485586884165107732/485596304961962003/847005225164341288

[2021-05-26 07:31] skshetry commented on #6063
Duplicate of https://github.com/iterative/dvc/issues/5355

[2021-05-26 07:31] #6063 closed

[2021-05-26 12:35] isidentical opened #6064 "ssh: QA the implementation / migrate to fsspec"
fsspec itself comes with a [naive implementation](https://github.com/intake/filesystem_spec/blob/master/fsspec/implementations/sftp.py) for ssh, though it might require a bit of extra work.

[2021-05-26 13:30] copaah opened #6065 "Support setting parameters from CLI for `dvc repro`"
I have just upgraded to `dvc` 2.0 and I understand that through `dvc exp` you can parameterize the `dvc` pipeline defined in `dvc.yaml`.

I have primarily used `dvc` to access data and prepare data in a version controlled way. I don't use `dvc` to track my machine learning experiments. For this use case, I think using `dvc repro` fits better than having to use `dvc exp` which implies that you are

[2021-05-26 18:08] isidentical commented on #5969
we have narrowed down the issue of when the region is not specified, the underlying boto implementation doing extra work to locate the bucket region which resulted with the aiohttp connection being halted down. so we end up paying the creation of the connection for each request, which is making stuff terrible.

https://github.com/aio-libs/aiobotocore/issues/866#issuecomment-848185110

we might imp

[2021-05-27 06:39] skshetry opened #6068 "cli: lowercased help message on subcommands"
[code]

We could override the help message in [`DvcParser.__init__`](https://github.com/iterative/dvc/blob/d818e70bf3d2312b54c0eed4c779d8e4d10b2cd4/dvc/cli.py#L108) but that means the ordering of `-h`/`-q`/`-v` will be changed.

[2021-05-27 07:37] plomtb opened #6070 "Freezing stages with parameter substitution"
Hi,
I'm opening this issue as discussed [here](https://discuss.dvc.org/t/freeze-stage-with-parameter-substitution/761). Using
[code]
as dvc.yaml and running
`dvc freeze Test` gives the following error:
`ERROR: failed to freeze 'Test' - cannot dump a parametrized stage: 'Test'`. I don't really understand why this is different from normal stages. Another question: Would it be possible to declare a (

[2021-05-27 07:37] isidentical commented on #6064
Do we stil want to maintain SSHObjectDB? It depends on some custom methods (`open_max_sftp_channels`) and interacts with paramiko directly instead of doing stuff on the filesystem layer. We could, in theory, still support though it seems like an odd piece of code that will lock us to paramiko.

[2021-05-27 09:47] iesahin opened #6071 "exp: Autogenerated names from modified parameter values"
Currently, the autogenerated experiment names are hashes produced from the pipeline elements. They are in the form of `exp-12ab90` and having two different hashes for an experiment may be confusing at times iterative/dvc.org#2499

Is it possible to set these experiment names from modified parameter names? For example `dvc exp run -S param.name=value` may produce an experiment name like `exp-param-

[2021-05-27 11:41] efiop commented on #6064
@isidentical Depends on the research. The only reason for it is `open_max_sftp_channels`, which might not be needed with proper throttling for `SFTPFileSystems`.

[2021-05-27 13:40] bachsh commented on #5677
is there a workaround for this until it's fixed?

[2021-05-27 15:02] skshetry commented on #5913
@dberenbaum, I am not clear on how it should be handled. I understand `dvc checkout` to mean "checkout everything" from the index (i.e. stages). Users might depend on it to exist later in their workspace, so just throwing warnings might make it fail later on the user's script.

Right now, we delete the file if we are missing version info, even though we fail.

[2021-05-27 15:10] skshetry commented on #6057
@Huite, could you please share how you open the command prompt? The lower-casing is not a surprise as the fs is case-insensitive, but I am not able to reproduce the lower-case command prompt locally. Thanks.

[2021-05-27 16:56] aguschin opened #6072 "stage add: quotes are missing in dvc.yaml"
# Bug Report

## Description

Quotes in `dvc stage add` aren't added to dvc.yaml as expected. The following `dvc repro` fails as python script expects to have an empty string provided.

### Reproduce

1. mkdir dvc-bug-empty-string-arg
2. cd dvc-bug-empty-string-arg
3. dvc init --no-scm
4. dvc stage add -n train python train.py --weights ""
5. dvc stage add -n train-second python train.py --weights

[2021-05-27 17:02] skshetry commented on #6072
@aguschin, this is expected. You have to escape those quotes explicitly.

[2021-05-27 18:12] dberenbaum commented on #5712
@skshetry Do you have an example to clarify?

I'm trying to remember the whole conversation above because it's been awhile.

Let's say we start with a clean dvc repo. Here's what I would expect:

[code]

Sorry for the lengthy example, but hopefully this will help avoid ambiguity. Does that all seem consistent with your understanding @skshetry @shcheklein? Any questions?

[2021-05-27 18:44] jorgeorpinel commented on #6050
👍

[2021-05-27 19:14] dberenbaum commented on #6071
🤔 It's an interesting idea. I'm not sure it's a high priority, but having more human-readable names seems like it would be nice. There are at least a couple complications, like the fact that experiment names should be unique, which this doesn't guarantee, and there can be multiple `-S/--set-param` values passed, but there are probably workarounds.

One potential downside is that if a user is tunin

[2021-05-27 19:25] dberenbaum commented on #5913
Okay, that does seem more dangerous! Although if it's still happening on failure, then it doesn't seem like this behavior has much to do with whether the command fails or not. Also, why does dvc delete the file?

[2021-05-27 19:33] shcheklein commented on #6071
Also quick note. Experiments are not always about changing parameter values. They are also about changing data and/or code. (It's not reflected well in the table and should be improved, but it's a separate story).

Btw, how do we guarantee uniqueness now if I modify a comment in a python file that is not even part of the pipeline and run an experiment again?

[2021-05-27 19:59] shcheklein commented on #6072
@skshetry could you please provide a bit more context on why is it expected? thanks!

[2021-05-28 06:24] skshetry commented on #6072
We use a `argparse.REMAINDER`, so that means we have to parse things and quote things properly. And to be cross-compatible, we have to quote with double-quotes rather than single. So, the parsing of those commands get ugly here because of all the quoting that we need to do for earlier arguments, and to solve this empty string that we get from `""`, we might need to replace that to a double quoted

[2021-05-28 06:51] #6072 closed

[2021-05-28 08:22] karajan1001 commented on #6071
I also had considered this in the past. But didn't found a good answer to it.

The main difficulty of this is exp names, good representative names for each experiment are not easy to get. There are several ways to achieve it.

1 . Let users give names, but they may not willing to do so.
2. Autogenerate by some rules, quite hard for there might be serval params difference between exps. Which one is

[2021-05-28 11:39] skshetry commented on #6042
The way to provide error handling at this granular level might be tricky. I wonder if we can solve this architecturally by detaching `ParamDeps`/`outputs`/`metrics`, etc. at the repo level.

As an example, we could build dependencies/Output and track them separately, and add them to the stage later on:
[code]

Then, `repo.metrics.show` and `repo.params.show` could use `repo._metrics` and `repo._pa

[2021-05-28 15:23] ClementWalter opened #6076 "JSON schema: does not support foreach stage"
# Bug Report

## Description

When using the JSON schema provided by dvc on https://www.schemastore.org/json/ the inspection raises error with foreach stage "Schema validation: Missing required property 'cmd'" while dvc do manage to handle the file (no error in it).

### Reproduce

I am using PyCharm:
 - add the dvc json schema with the built-in tool
 - create a dvc.yaml file with a foreach stage

[2021-05-28 19:47] iesahin commented on #6071
IMHO some basic heuristics may work:

* I don't think users will change more than two parameters per
experiment. These can be considered exception.

* Any pipeline changes in `dvc.yaml`s can also be detected but *experiment management* probably will rely more on `--set-param` than updating the pipeline. For a parameter in the form of `model.param=value`, the experiment name may be like `exp-param=

[2021-05-28 19:49] iesahin commented on #6071
That's a good question but probably if something is not the part of the pipeline, it's out of scope for change detection. I'll test this.

[2021-05-29 15:02] skshetry commented on #6076
I am quite reluctant on supporting this outside of the DVC repo. We added a few new items and I am sure, we'll add a few more later in the `dvc.yaml`, so I'd prefer it to be in sync with the actual validator that we use, and should be maintained by the DVC core team.

I did propose #5531 that'd provide an API that'd return JSON schema and eventually replace our `voluptuous` based schema, but unfor

[2021-05-30 03:42] karajan1001 commented on #6065
@copaah First thanks for your advice. I agreed that parameters setting directly from dvc cmds are more convenient than our current ways ( first modify param files, then `dvc repo` or `dvc exp run`). But maybe its better to do this like `dvc repo --setting data_folder:my_data_folder_1`.

@pmrowla @dberenbaum , maybe `dvc exp` can borrow this idea?

[2021-05-30 04:01] karajan1001 commented on #6071
experiment. These can be considered exception.

Yes, we do not change serval parameters one time, but we might change param(a) in the first exp then param(b) in the second, and finally, the last exp might have serval changed params. This is what I do in the past.

[2021-05-30 17:50] dberenbaum opened #6078 "exp run: int param values being read as strings"
# Bug Report

## Description

Entering integer param values via `dvc exp run -S` is converting those values to strings in `params.yaml`.

### Reproduce

Starting with a clean dvc/git repo:

[code]

### Expected

I would expect for `dvc exp run -S foo=2` to modify `params.yaml` to have `foo: 2`.

### Environment information

**Output of `dvc doctor`:**

I tried with both:

[code]

and:

[code]

[2021-05-31 01:45] dberenbaum commented on #6071
I don't think improved naming requires having a solution for every type of experiment. As @iesahin mentioned, current behavior could still be the default in edge cases.

I'd be more concerned whether any solution that requires checking for uniqueness could slow things down.

For comparison, wandb chooses random human-readable names like `valiant-oath-1` presumably because they are easier to read a

[2021-05-31 02:03] shcheklein commented on #6071
A few questions:

- do we want (and do we guarantee now) names to be globally unique (e.g. if multiple people start pushing/pulling them)
- how do we after all generate names now if pipeline files stay the same (assuming other changes in the workspace)

I like the idea of using random human readable names. Alternative here could be something that Sentry does - it names errors like this:

[code]

i

[2021-05-31 02:33] Suor commented on #6042
I think there might be a way to provide that without altering collection process that much. If we allow the error handler to decide how things are settled. Something like [conditions and restarts](http://www.gigamonkeys.com/book/beyond-exception-handling-conditions-and-restarts.html) maybe.

[2021-05-31 02:36] skshetry commented on #6078
@dberenbaum, I am not able to reproduce this with the above scripts.

[2021-05-31 07:53] ClementWalter commented on #6076
Ok ! I did not realize that there were indeed actually another repo for the json schema. In any case, as you said in the close https://github.com/iterative/dvc/pull/5531 :

if there is something I can do, please tell me

[2021-05-31 08:29] Suor opened #6082 "External out with `remote://<missing-remote>/...` url is not handled properly"
[code]

[Sentry report](https://sentry.io/organizations/iterative/issues/2422423621/?project=5220519&referrer=slack)

In short we get `KeyError` from `get_cloud_fs() -> get_fs_config()`, which is not an adequate error handling.

[2021-05-31 11:32] casperdcl opened #6083 "checkpoint: write permission denied"
Surely `checkpoint: true` should un-protect hardlink/symlinks?

[code]
[code]

[2021-05-31 12:57] iesahin commented on #6071
This is a good point.

Does the results between these two differ:

1:
[code]

2:
[code]

As far as I know, `exp` and `exp2` are identical. However if we remove  `dvc exp apply` in the first one, they are different. In that case `param1` of `exp2` is identical with `param1` of `HEAD`.

So it might be better to track differences in `param.yaml` against `HEAD` instead of `-S` parameters in naming.

I

[2021-05-31 13:08] iesahin commented on #6071
Uniqueness is already checked at the end, when the generated experiment name coincides with the directory name. I don't know the implementation details but it shouldn't have an effect on speed.

Docker uses such names for containers as well but from user POV, I think having experiments named like ˋunits=512-activation=tanhˋ is more desirable than `persevering-plum-11`. The latter is certainly easi

[2021-05-31 14:12] DavidGOrtega opened #6084 "exp run: Is applying every time without dep changes"
Hi!

Im running into an issue that probably is my mistake so I apologise in advance 🙏
To follow up you just need to fork https://github.com/iterative/dvc-checkpoints-mnist

## Description

Every time I run ```dvc exp run``` I have 10 epochs even I have not changed any dependancy.

### Reproduce

[code]

Now if I repeat ```exp run``` without any change It should not run like repro, right? However i

[2021-05-31 14:22] Suor commented on #6042
Handled #6082 in Studio with some monkey patches, which hint how outs might be ignored by a custom error handler:
[code]

What mean there are some bordering points at which we can stop errors from propagating. So it is a question of how we pass a handler down there.

[2021-05-31 14:54] dberenbaum commented on #6078
Ah, I was messing with something and forgot to discard my changes.

[2021-05-31 14:54] #6078 closed

[2021-05-31 18:29] ClementWalter commented on #5172
I am definitely interested in such a feature. If I were to vote on the naming convention, I would go for `matrix` as `foreach` means to me some sort of a parallelizable loop (for - each).

For the keys and items, I would stick with what is well done with the current foreach loop, meaning:

 - if a list is provided, then the var is `item` and since there is a matrix, `item` is a list:

[code]

 - i

[2021-05-31 22:29] #2101 closed

[2021-06-01 00:38] pmrowla commented on #6084
This is expected behavior, `dvc-checkpoints-mnist` is a checkpoint example project. With checkpoints, every time you do `exp run`, the experiment is resumed "continue" from the last checkpoint. So in this case, it means each `exp run` will add 10 more epochs.

`exp run` will behave like `repro` (and not extend the experiment branch) for unchanged "regular" experiments that do not have checkpoints.

[2021-06-01 01:06] shcheklein opened #6088 "diff: fails with `NonType` error"
# Bug Report

## Description

In the repo that I've been using to test VS code I see that `dvc diff --show-json` fails with:

[code]

https://www.dropbox.com/s/u09dhsgli3r7qxi/repo-6088.tgz?dl=0

### Reproduce

I can bundle the repo if we can't see the reason immediately from the stack trace.

### Expected

Don't fail, show as much information as possible.

### Information

[code]

[2021-06-01 01:11] shcheklein commented on #6088
Also, question. I see this second time (previous was `dvc exp run` that was not consistent with `repro`) that DVC is accessing remote data registry.  Is it done to download `.dir` in this case? But if they already exist, why do we need to clone repo again? It would show:

[code]

is it local operation, or does it clone it every time?

(Feel free to close this comment as irrelevant here - but would

[2021-06-01 01:18] shcheklein commented on #6084
@jorgeorpinel I think we can improve our docs? Be explicit at the very beginning `With checkpoints, every time you do exp run, the experiment is resumed from the last checkpoint`.  (docs for `exp run` are long and a a bit too low level).

Help for the command is misleading and low level also:

`Reproduce complete or partial experiment pipelines.`

It should be probably as simple as `Run or resume

[2021-06-01 07:32] isidentical commented on #6064
A short wrap up on the progress;

We initially decided to go with [parallel-ssh](https://github.com/ParallelSSH/parallel-ssh) though it had a couple of major issues;
- Heavily unstable (sometimes get stuck out of control and poll for hours) / open the race conditions (there are multiple (sometimes unreproducible) bugs that lead to segmentation faults / double frees / assertion errors on the C leve

[2021-06-01 07:42] jofa974 commented on #3652
This worked for me as well, thanks @jadore801120 !

[2021-06-01 09:11] jnd77 opened #6089 "Old bug (dvc pull from S3 and md5 starts with `00`) reappears with latest release"
# Bug Report

dvc pull does not seem to work for files whose md5 starts with 00, when remote is S3

## Description

This bug https://github.com/iterative/dvc/issues/4141 has reappeared with release 2.2.0 (it's working fine with 2.1.0).
Might be due to this commit:
https://github.com/iterative/dvc/pull/5683

Let me know if you need more information ... :)

[2021-06-01 10:15] DavidGOrtega commented on #6084
@pmrowla so using checkpoints is not the choice to save checkpoints to resume training later on right? What would be the best choice for such a need?

[2021-06-01 11:06] isidentical commented on #6089
Would you mind sending the full traceback?

[2021-06-01 11:17] isidentical commented on #6089
I just tried this as a test case and it seemed to work (`363`'s hash is something that startswith `00`, which is confirmed in the last assert);

[code]

[2021-06-01 11:20] pmrowla commented on #6089
@isidentical I think we'd need to test with pulling more than one file at a time, if we're only trying to push/pull a single file, we do the direct `exists()` query instead of using walk/ls when we are checking whether objects exist in the remote.

It looks like we might not be handling the dvc specific `prefix` kwarg for `fs.walk_files()/walk()` any more, if we're just passing it directly into fs

[2021-06-01 11:25] pmrowla commented on #6084
@DavidGOrtega I don't really understand the question here, might be better for @dberenbaum to handle it?

The default behavior for `exp run` and checkpoints is to always resume training from the last generated checkpoint.

[2021-06-01 11:27] isidentical commented on #6089
Probably `find()` is the right API but I recall that discussing this with @efiop and noticing that it doesn't work on arbitrary prefixes. I'm checking out the s3fs but in the meanwhile I assume this optimization is something that we could control (setting the prefix length to 2 should work, right?) so maybe we could do that as an option.

[2021-06-01 11:37] pmrowla commented on #6089
Yeah, this should work in the meantime, but ideally it'd be best if we can use arbitrary prefix lengths longer than 2 for clouds that support it

[2021-06-01 11:38] efiop commented on #6089
Also looks like we've added a test in https://github.com/iterative/dvc/pull/4149 which is still present right now, but it was only testing the exists() path :slightly_frowning_face:

@isidentical Yes, we actually use just `00/` for all non-s3-like clouds (TRAVERSE_PREFIX_LEN), so we could try to fallback to that for now, if there is no better quick way to do that. But `find` should also work, cons

[2021-06-01 11:49] skshetry commented on #6088
@shcheklein, we access remote storage if the .dir files are not available locally (in case of `diff` without target, it will need to access all .dir files specified in .dvc and dvc.yaml files). But, after that, they are cached, so successive `dvc diff` should not query for cache again.

It's not cloning the repo, it's just querying the cache. It *may* not happen again.